html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}
/* --- Global Css Start--- */
.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
	border-radius: 5px;
}
.white-clr {
	color: #fff;
}

.black-clr {
	color: #000000;
}
.orange-clr {
	color: #f6841f;
}
.red-clr{
	color: #FF2C2C;
}
.yellow-clr{color:#ffc332;}
.blue-clr,
a.blue-clr {
	color: #182d5a;
	text-decoration: none;
}
.one-time-shape {
	background: #0068FF;
	border-radius: 40px;
	padding: 9px 40px;
	display: inline-block;
	font-family: 'Caveat', cursive;
}
.bonus-shape {
	background: #0068FF;
	border-radius: 40px;
	padding: 9px 40px;
	display: inline-block;
}
.img-animation {
	animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes mover2 {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}
@media (min-width: 767px){
	.one-time-shape {
		padding: 15px 60px;
		border-radius: 50px;
	}
}
/* --- Global Css End --- */
/* ---- Header Section Start ----- */
.header-section {
	background: #000308;
	padding: 30px 0px;
}
.preheadline {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}
.mainheadline {
	padding: 60px 5px 20px;
	background: #E2F0F6;
	position: relative;
	border:3px solid #fff ;
	border-radius: 10px;
}
.mainheadline:before {
    position: absolute;
    content: 'How Would You';
    background: #f89b1c;
    padding: 5px 10px;
    left: 0px;
    z-index: 99;
    top: 0px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    font-family: 'Kalam', cursive;
    border-radius: 10px 0 0 0;
}
.underline-text {
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}
@media (min-width: 768px) {
	.header-section {
		background: #fff url(../images/header-bg.webp);
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: cover;
		padding: 40px 0px 120px;
	}
	.preheadline{
		padding: 10px 35px;
	}
	.mainheadline {
        padding: 30px;
        background: url(../images/main-heading.png) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 100px 80px 20px 80px;
    }
    .mainheadline:before {
        position: absolute;
        content: 'How Would You';
        background: url(../images/gamecheanger-bg.png) no-repeat;
        padding: 0px 40px;
        left: 98px;
        z-index: 99;
        top: 35px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 36px;
        position: absolute;
        font-family: 'Kalam', cursive;
    }
	.underline-text {
		padding: 0px 0px 65px 0px;
	}
}
/* ---- Header Section End ----- */
/* ---- Second Section Start ----- */
.second-section {
	padding: 30px 0px;
	background: #ffffff;
}
.probtn1 a {
	border-radius: 15px;
	background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    backdrop-filter: blur(10px);
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 140%;
}
.probtn1 a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -webkit-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -ms-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
}
@media (min-width: 768px) {
	.second-section {
		padding: 0px 0 80px;
		background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/agency/second-sec-bg.webp) no-repeat center center;
	}
	/* .header-list-block {
		padding: 40px 30px;
	} */
	.probtn1 a {
		font-size: 35px;
		padding: 28px 30px;
	}
}
/* ---- Second Section End ----- */
/* ---- Proudly Section Start ----- */
.proudly-section {
	background:#0a071e;
	background-size: cover;
	padding:30px 0;
}
.proudly-head {
    background: #0068FF;
    border-radius: 40px;
    padding: 9px 40px;
    display: inline-block;
    font-family: 'Caveat', cursive;
}
@media (min-width: 768px){
	.proudly-section {
		padding: 100px 0px;
		background: url(../images/proudly-bg.webp) no-repeat bottom center;
		background-size: cover;
	}
	.proudly-head {
    	padding: 15px 60px;
		border-radius: 50px;
	}
}
/* ---- Proudly Section End ----- */
/* ---- Feature Section Start ----- */
.white-section {
	background: #fff;
	padding: 30px 0;
}
.grey-section {
	background: #eff1f9;
	padding: 30px 0;
}
@media (min-width: 768px) {
	.white-section {
		padding: 100px 0px;
	}
	.grey-section {
		padding: 100px 0px;
	}
}
/* ---- Feature Section End  ----- */
/* ---- Money Back Gurantee Section Start ----- */
.moneyback-section {
	background: #02040f ;
	background-position: center center;
	background-size: cover;
	padding: 30px 0 30px;
	
}
@media (min-width: 768px) {
	.moneyback-section {
		padding: 70px 0px;
		background: #02040f url(../images/moneyback-bg.webp) no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
/* ---- Money Back Gurantee Section End ----- */
/* ---- Bonus Section Start ----- */
.bonus-section {
	background: url(https://cdn.oppyo.com/launches/yodrive/agency/bonus-bg.webp) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}
@media (min-width: 768px) {
	.bonus-section {
		padding: 70px 0px;
	}
}
/* ---- Bonus Section End ----- */
/* ---- Table Section Start ----- */
.table-section {
	background: #ffffff;
	padding: 30px 0;
}
.tablebox2 {
	background: #ffffff;
	width: 100%;
	float: left;
	border-radius: 10px;
	border: solid 1px #a2a1a3;
}
.tbbg2 {
	background-color: #fff;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}
ul.vgreytick {
	padding: 0px;
	margin: 0;
}
ul.vgreytick li {
	background: url(https://cdn.oppyo.com/launches/yodrive/agency/vgreytick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
}
ul.vgreytick li:nth-child(odd) {
	background-color: #eef5ff;
}
ul.vgreytick li:nth-child(even) {
	background-color: #ffffff;
}
.myfeatureslast {
	float: left;
	padding:30px;
	width: 100%;
	min-height: 69px;
	background: #ffffff;
	border-radius: 0px 0px 10px 10px;
}
.tablebox3 {
	width: 100%;
	float: left;
	border-radius: 10px;
	box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
	position: relative;
	border: solid 1px #071125;
}
.tablebox3:before {
	content: '';
	position: absolute;
	background: url(https://cdn.oppyo.com/launches/yodrive/agency/most-popular.webp) no-repeat left top;
	min-height: 165px;
	min-width: 153px;
	left: 0px;
	top: 0px;
}
.tbbg3 {
	background: #071125;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}
@media (min-width: 768px) {
	.table-section {
		padding: 100px 0px;
		background: url(https://cdn.oppyo.com/launches/yodrive/agency/pricing-table-bg.webp) no-repeat;
		background-position: center center;
	}
	.tbbg2 {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}
	ul.vgreytick li {
		padding: 20px 15px 20px 65px;
		background-position: 30px 25px;
	}
	.myfeatureslast {
		padding:30px;
	}
	.tbbg3 {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}
}
/* ---- Table Section End ----- */
/* ---- Footer Section Start ----- */
.footer-section {
	background: #05071A;
	padding: 30px 0;
}
.footer-ul {
	padding: 0;
}
.footer-ul li {
	display: inline;
	line-height: 130%;
}
.no-thanks a{
	color: #182d5a;
}
@media (min-width: 768px) {
	.footer-section {
		padding: 50px 0px;
	}
	.footer-ul li {
		display: inline;
		line-height: normal;
	}
}
/* ---- Footer Section End ----- */
