html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #121733;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
}

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
}

.caveat {
    font-family: 'Caveat', cursive;
}

.video-box {
    position: relative;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.black-clr {
    color: #121733;
}
.white-clr {
    color: #fff;
}

.red-clr{
    color: #FF2C2C;
}
.purple-gradient {
    background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* Header Section CSS */
.header-section {
    background: #0A071E;
    padding: 30px 0;
    position: relative;
}
.preheadline {
    padding: 8px 25px;
    display: inline-block;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
}
.head-design {
    background: #FFFFFF;
    border-radius: 0px 30px;
    padding:30px 15px 15px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gametext {
    background: #1FE29F;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #121733;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -25px;
    z-index: 99;
    line-height: 30px;
}
.video-box-testi {
    position: relative;
    border: 2px solid rgb(209 184 237);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
.border-video {
    border-radius: 0px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
@media(min-width:768px){
    .header-section {
        padding: 40px 0px 100px 0px;
        background: #fff url(../images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
   
    .head-design {
        padding: 30px;
    }
    .gametext {
        background: url(../images/cutting-edge-bg.webp) center center no-repeat;
        padding: 10px 60px 15px 20px;
        font-size: 24px;
        background-size: 100% 100%;
        text-align: left;
        left: -6px;
    }
}
.fifth-section {
    padding: 30px 0px;
    background: #0a071e;
}

.proudly-head {
    background: #1FE29F;
    border-radius: 40px;
    padding: 9px 15px;
    display: inline-block;
}

@media(min-width:768px) {
    .fifth-section {       
        padding: 80px 0px 150px 0px;
        background: #ffffff url("../images/proudlybg.webp") no-repeat bottom center;
        background-size: cover;
    }
    .proudly-head {
        padding: 9px 50px;
    }
}
.second-section {
    padding: 30px 0px;
    background: #fff;
}
@media(min-width:768px) {
    .second-section {
        padding: 100px 0px;
    }
}
.third-section {
    padding: 30px 0;
    background: #EFEFF9;
}
@media (min-width: 768px) {
    .third-section {
        padding: 100px 0;
    } 
}
.kapblue {
    color: #2337f6;
}
.white-section {
    background: #fff;
    padding: 30px 0;
}
.probtn1 a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
}
.probtn1 a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    text-decoration: none;
}
.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}
.tablebox2 {
    border: 1px solid #14208e  ;
    width: 100%;
    float: left;
    border-radius: 15px;
}
ul.vgreytick {
    padding: 0px 15px;
}
ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}
ul.vgreytick li:last-child {
    border-bottom: 0px;
}
ul.vgreytick li.headline {
    background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%) !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff !important;
}
.tbbg2-text {
    color: #fff;
}
.tbbg2 {
    background: linear-gradient(180deg, #080923 0%, #25226e 100%);
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}
.grey-section {
    background: #EFEFF9;
    padding: 30px 0;
}
@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 30px;
        display: inline-block;
        width: auto;
    }
    .white-section {
        padding: 100px 0;
    }
    .grey-section {
        padding: 100px 0;
    }
    .tbbg2 {
        padding: 50px;
    }
}
.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #150de1;
}
.moneyback-section {   
        padding: 30px 0px;
        background: #0d072d;
}
.bonus-section {
    background: #eef0ff ;
    background-size: cover;
    padding: 30px 0;
}
.table-section {
    background: #ffffff;
    padding: 30px 0;
}
@media (min-width:768px) {
    .table-section {
        padding: 70px 0 100px 0px;
        background: url(../images/table-bg.webp) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .bonus-section {
        background: url(../images/bonus-bg.webp) no-repeat;
        background-size: cover;
        background-position: center bottom;
        padding: 70px 0px 100px 0px;
    }
    .moneyback-section {       
        padding: 100px 0 100px 0px;
        background: #eef0ff url(../images/moneyback-bg.webp) no-repeat bottom center;
        background-size: cover;
        z-index: 9;
        position: relative;
    }
}
.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}
.good-section {
    background: #fff;
    padding: 30px 0;
}
ul.good-list {
    padding: 0px;
    margin: 0px;
}
ul.good-list li {
    background: url(../images/point-icon.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
}
@media (min-width: 768px){
.good-section {
    padding: 100px 0px 0px 0px;
}}

.footer-section {
    background: #100f12;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
    line-height: 130%;
}
.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}
@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }}

    .feature-shape {
        background: #FF2C2C;
        padding: 10px 25px;
        display: inline-block;
        color: #fff;
        border-radius: 25px;
        position: relative;
    }
    @media (min-width: 768px){
        .feature-shape:after {
            content: '';
            background: url(../images/line-shape.webp) no-repeat right bottom;
            padding: 22px 0;
            display: block;
            position: absolute;
            width: 100%;
            bottom: -15px;
            right: -15px;
        }
    }

/* Floating Btn */

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#7764ff;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#E76D24;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
