html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
    overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}
.bonus-title-color {
    color: #fb9e95;
}
.red-gradient {
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* Proudly there Section Start */

.proudly-sec {
    background: #000 url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/webinar-gift/proudlybg.webp) center center no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding: 20px ;
}
.uy {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/webinar-gift/rewind-bg.png) no-repeat center center;
    padding: 30px 15px;
    border-radius: 25px;
}
.gn-box {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/webinar-gift/gn-box-bg.png) no-repeat center center;
    color: #000;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 5px;
    background-size: 100% 100%;
}
.tde {
    border-bottom: 2px solid #fff;
    padding: 0px 0px;
    border-top: 2px solid #fff;
    display: inline-flex;
}
.d-btn a {
    display: inline-block;
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    border-radius: 15px;
    padding: 12px 35px;
    color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}
.d-btn a:hover {
    text-decoration: none;
    background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
}
.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #000000;
    background: #ffffff;
    display: inline-block;
    text-transform: uppercase;
}
.bonus-title-black-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #000000;
    display: inline-block;
    text-transform: uppercase;
}
.highlight-bg{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: aliceblue;
    box-shadow: 0px 0px 19.8px 2.2px rgb(106 105 105);}

@media (min-width: 768px) {
    .proudly-sec {
        padding: 60px 15px 60px 15px;
    }
    .highlight-bg{
        padding: 30px 50px ;
    }
}
a.bonusbuy-btn-bundle {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 5px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 55px;
    background: -webkit-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    transition: all 0.5s;
}
@media (min-width: 768px){
a.bonusbuy-btn-bundle, a.bonusbuy-btn-bundle:focus {
    font-size: 32px;
    padding: 28px 40px 30px 40px;
}
}