html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}
::-webkit-input-placeholder {
    color: #797979 !important;
}
::-moz-placeholder {
    color: #797979 !important;
}
:-ms-input-placeholder {
    color: #797979 !important;
}
:-moz-placeholder {
    color: #797979 !important;
}
.yellow-clr {
    color: #FBBF33;
}
.black-clr {
    color: #000000;
}
.black-clr1 {
    color: #010101;
}
.white-clr {
    color: #ffffff;
}
.blue-head {
    color: #4600a2;
}
.orange-clr {
    color: #FD2F15;
}
.kapblue {
    color: #0063eb;
}
.theme-clr {
    color: #224cb0;
}
.clear {
    clear: both;
}
.relative {
    position: relative;
}
/* Header Section CSS */
.header-section {
    background-color: #0d0304;
    padding: 30px 0;
}
.fifth-section {
    background: #0d0304;
    padding: 30px 0;
}
.feature-tick li {
    background: url(../images/tick-icon.png) no-repeat;
    padding: 20px 0px 0px 42px;
    background-position: 1px 27px;
    list-style: none;
}
.but-design{
    background: url(../images/butthats-not-all.png);
    padding: 20px 40px;
    display: inline-block;
    border-top: hidden;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}
header {
    background-color: #fd2f15;
    padding: 17px 10px;
}
header h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    line-height: 120%;
}
.highlight-yellow{
    background: #ffff00;
    display: inline-block;
    padding: 5px 5px 0px;
  }
@media(min-width:768px) {
    .but-design {
        padding: 40px 50px 36px 51px;
        background: url(../images/butthats-not-all.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% 100%;
        border: hidden;
    }
    .header-section{
        background:  url(../images/header-bg2.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
        background-attachment: fixed;
    }
    .fifth-section {
        background:  url("../images/proudlybg.webp") no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}
.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}
.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}
.post-heading  {
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(25px);
    padding: 10px 20px;
}
.affiliate-link-btn a {
    border-radius: 45px;
    background-color: #f8e71c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    padding: 9px 33px;
    font-size: 16px;
    color: #050b23;
    font-weight: 800;
}
.affiliate-link-btn a:hover {
    background: #decf18;
}
.second-section {
    padding: 30px 0px;
    background: #edebf0;
}
@media(min-width:768px) {
    .second-section {
        padding: 100px 0px;
        background: #fff;
        background-size: cover;
        background-position: center bottom;
    }
}
/* ---chackout section --- */
.chackout{
    background-color: #0d0304;
    padding: 60px 0;
}
@media (min-width: 768px) {
    .chackout{
        background: url(../images/header-bg2.png) no-repeat ;
        padding: 100px 0;
    } 
}
.third-section {
    padding: 30px 0;
    background: #ffffff;
}
@media (min-width: 768px) {
    .third-section {
        padding: 100px 0;
        background: #F1F1F1;
        background-size: cover;
        background-position: center center;
    }
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/********features*********/
@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}
.handsean {
    font-family: handsean;
}
.feature-section {
    background: #fff url(../images/feature-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}
.white-section {
    background: #fff;
    padding: 30px 0;
}
.goodreason-section {
    background: #fff;
    padding: 30px 0;
}
.probtn a {
    border-radius: 10px;
    background: #FD2F15;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: 140%;
}
.probtn a:hover {
    background: rgb(113, 8, 183);
    background: #FD2F15;
    text-decoration: none;
}
.probtn1 a {
    border-radius: 10px;
    background-color:#FD2F15;
    box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.45);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: 140%;
}
/*Table CSS Start*/
.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}
.tablebox2 {
    border: 1px solid #0d0304;
    width: 100%;
    float: left;
    border-radius: 15px;
}
.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}
.tablebox3 {
    border: 1px solid #e7e7e7;
    width: 100%;
    float: left;
    background: #272f63;
}
ul.vgreytick li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 50px;
    background-position: 15px 25px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}
ul.vgreytick li:last-child {
    border-bottom: 0px;
}
ul.grey-tick-last {
    padding: 0px 15px 10px;
}
ul.grey-tick-last li {
    background: url(../images/grey-tick-last.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 28px;
    line-height: 150%;
    border-bottom: 1px solid #090e2d;
    color: #ffffff;
}
ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}
ul.vgreentick li {
    background: #ffffff url(../images/vgreentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 25px;
    line-height: 150%;
    color: #000;
}
.tbbg2-text {
    color: #fff;
}
.tbbg2 {
    background: #0d0304;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}
.tbbg3 {
    background: url(../images/plan2.png) no-repeat center top;
    padding: 30px 15px 57px;
    background-size: 100% 100%;
}
.bought-text {
    background: #ffeb09;
    padding: 8px 10px;
}
@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 24px 10px 24px 55px;
    }
    ul.grey-tick-last li {
        padding: 20px 10px 20px 40px;
    }
    .probtn a {
        font-size: 42px;
        padding: 28px 30px;
    }
    .probtn1 a {
        font-size: 42px;
        padding: 28px 30px;
    }
}
.buypad {
    padding: 4% 3%;
}
.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}
.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}
.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #FD2F15;
}
/*Table CSS Enad*/
.grey-section {
    background: #edebf0;
    padding: 30px 0;
}
.moneyback-section {
    background: #0d0304;
    padding: 30px 0;
    color: #ffffff;
}
.bonus-section {
    background: #edebf0;
    background-size: cover;
    padding: 30px 0;
}
.table-section {
    background: #ffffff;
    padding: 30px 0;
}
@media (min-width:768px) {
    .table-section {
        padding: 70px 0 100px 0px;
        background: #fff;
        background-size: cover;
        background-position: center center;
    }
    .bonus-section{
        background: url(../images/bonus-bg.png) no-repeat;
        background-size: cover;
        background-position: center bottom;
        padding: 70px 0px 120px 0px;
    }
    .moneyback-section{
        background: #ffffff url(../images/moneyback-bg.png) no-repeat top center;
        background-size: cover;
        padding: 100px 0 100px 0px;
        color: #ffffff;
    }
}
/*-------- Responsive ------------*/
@media (min-width:768px) {
    .white-section{
        padding: 100px 0;
        background: #fff;
        background-size: cover;
        background-position: center center;
    }
    .goodreason-section{
        padding: 100px 0;
        background: url(../images/good-reasons-bg.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .third-section {
        padding: 100px 0;
    }
    .grey-section{
        background: #F1F1F1;
        background-size: cover;
        background-position: top center;
        padding: 100px 0;
    }
}
@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}
ul.template-lists {
    padding: 0px 0px;
}
ul.template-lists li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 10px 15px 40px;
    background-position: 0px 18px;
    line-height: 150%;
    color: #000;
}
.proudly-sec {
    border-radius: 45px;
    background: rgba(255, 255, 255, 0.10);
    display: inline-block;
    padding: 10px 20px;
}
@media (min-width: 768px){
    .caveat{
        font-family: 'Caveat', cursive;
    }
    .proudly-sec {
        padding: 9px 50px;
    }
}
ul.vgreytick li:nth-child(odd){
    background-color: #f1f1f1;   
}
.footer-section {
    background: #0d0304;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
    line-height: 130%;
}
.footer-ul {
    padding: 0
}
.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}
@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }
}