html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #121733;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
}

.caveat{
    font-family: 'Caveat', cursive;
}

/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.orange-clr {
    color: #E76D24;
}

.black-clr {
    color: #121733;
}

.red-clr{
    color: #FF2C2C;
}

.green-clr{
    color:#1FE29F;
}

.purple-gradient {
    background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* Header CSS */

.header-section {
    background: #0A071E;
    padding: 30px 0;
    position: relative;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 8px;
    font-weight: 400;
}

.affiliate-link-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
}

.affiliate-link-btn a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
}

.pre-heading {
    padding: 8px 25px;
    display: inline-block;
    border-radius: 15px;
    border-radius: 25px;
    background: #fff;
    border: 4px solid #b665ff;
}

.head-design{
    background: #FFFFFF;
    border-radius: 0px 30px;
    padding: 15px;
}

.gametext {
    background: #1FE29F;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #121733;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -27px;
    z-index: 99;
    line-height: 30px;
    left: -6px;
}

.f-md-120{
    font-size: 50px;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 15px 0px 25px 0px rgba(19, 21, 26, 0.3);
    z-index: 99;
}

.video-box {
    position: relative;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

@media (min-width: 768px) {
    .header-section {
        padding: 40px 0px 100px 0px;
        background: #fff url(https://cdn.oppyotest.com/launches/sellero/jv/images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .affiliate-link-btn a {
        font-size: 20px;
    }
    .head-design{
        padding: 30px;
    }
    .gametext {
        background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/cutting-edge-bg.webp) center center no-repeat;
        padding: 8px 57px 20px 25px;
        font-size: 22px;
        background-size: cover;
    }
    .f-md-120{
        font-size: 120px;
    }
}

/******banner Section*************/

.problem-sec{
    padding: 30px 0px; 
    background: #0a071e;
}
.heading-design {
    background: #252525;
    padding: 20px;
    display: inline-block;
}
.option-design{
    background: #FF2C2C;
    border: 2px solid #FF2C2C;
    border-radius: 38.5px;
    display: inline-block;
    padding: 8px 10px;
}
.changing-box{
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
}
@media(min-width:768px){
    .problem-sec{
        background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/prob-sec-bg.webp) center center no-repeat; 
        background-size: cover; 
        padding: 100px 0px;
        background-attachment: fixed;
    }
    .heading-design {
		background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/heading-bg.webp) no-repeat center center;
		background-size: 100% 100%;
		padding: 50px 200px 50px 200px;
	}
    .option-design{
        padding: 8px 30px;
    }
    .changing-box{
        padding: 20px 35px;
    }
}

/*************LIVE Section**************/

.live-section {
    background: #ffffff;
    padding: 30px 0px;
}

.left-live-box{
    background: #FFFFFF;
    border: 2px solid rgba(130, 100, 255, 0.3);
    border-radius: 30px;
    padding: 15px;
}

.right-live-box{
    background: #FFFFFF;
    border: 2px solid rgba(231, 109, 36, 0.3);
    border-radius: 30px;
    padding: 15px;
}

.form-control.input-field {
    height: 52px;
    font-size: 18px;
    font-weight: 400;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 15px;
    background: #EEEEEE;
    border-radius: 10px;     
}

.form-btn input[type="submit"] {
	text-decoration: none;
	border: none;
	color: #ffffff;
	text-align: center;
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 15px 10px;
	line-height: 30px;
	font-weight: 600;
	outline: none;
	white-space: normal;
    cursor: pointer;
    background-image: -moz-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);   
    border-radius: 10px;
}
.form-btn input[type="submit"]:hover {
    background-image: -moz-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);  
}
.list-head {
    list-style: none;
}

.list-head li {
    background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/fav.webp) no-repeat;
    padding: 10px 0px 10px 45px;
    background-position: 0px 17px;
    text-align: left;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.mt-md120{
    margin-top: 20px;
}

.request-affiliate a{
    background: #E76D24;
    border-radius: 10px;
    width: 100%;
    display: block;
    padding: 10px;
    text-decoration: none;
}

@media (min-width: 768px) {
    .live-section {
        padding: 100px 0px;
    }
    .left-live-box{
        padding: 50px 30px;
    }
    .right-live-box{
        padding: 50px 30px;
    }
    .form-control.input-field {
        height: 60px;
        font-size: 15px;
    }
    .form-control.input-field::placeholder{
        color: #000000;
    }
    .mt-md120{
        margin-top: 120px;
    }
    .request-affiliate a{
        padding: 17px;
    }
    .jvzoo-img{
        min-height: 131px;
    }
    
}

/* Not Anymore Section */

.but-not-anymore{
    padding: 30px 0px;
}
@media(min-width:768px){
    .but-not-anymore{
        padding: 100px 0px;
        background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/but-not-anymore-bg.webp) no-repeat center center;
        background-size: cover;
    }
}

/* Proudly Section */

.proudly-sec{
    padding: 30px 0px; 
    background: #0a071e;
}
.proudly-head{
    background: #1FE29F;
    border-radius: 40px;
    padding: 9px 15px;
    display: inline-block;
}
.proudly-box{
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
}
@media(min-width:768px){
    .proudly-sec{
        padding: 100px 0px 200px 0px;
        background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/presenting-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .proudly-head{
        padding: 9px 50px;
    }
    .proudly-box{
        padding: 30px;
    }
}

/* Feature section Start */

.feature-sec{
    padding: 30px 15px;
}
.purple-bg{
    background: #ECECFE;
    border-radius: 20px;
    padding: 20px;
}
.neon-bg{
    background: #DFF4ED;
    border-radius: 20px;
    padding: 20px;
}
.jumparrow{
    animation: jumpInfinite 1.5s infinite;
}
@keyframes jumpInfinite {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
  }
@media(min-width:768px){
    .feature-sec{
        padding: 100px 0px 30px 0px;
    }
    .purple-line{
        position: relative;   
    }
    .purple-line::after {
        content: url(https://cdn.oppyotest.com/launches/sellero/jv/images/purple-line.webp);
        position: absolute;
        bottom: -35px;
        right: 0;
    }
    .purple-bg{
        padding: 50px;
    }
    .neon-bg{
        padding: 50px;
    }
}

/* Amazing Section Start */

.amzing-sec{
    padding: 30px 0px;
    background: #EFEFF9;
}
.amzing-box{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.much-more-box{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 20px;
}
.gap30 {
    --bs-gutter-y: 30px;
}
@media(min-width:768px){
    .amzing-sec{
        padding: 150px 0px 100px 0px;
        background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/amazing-bg.webp) center top;
        background-size: cover;
    }
    .amzing-box{
        height: 100%;
    }
    .gap30 {
        --bs-gutter-x: 30px;
        --bs-gutter-y: 30px;
    }
}

/* Demo Section Start */

.demo-sec{
    padding: 30px 0px;
    background: #0a071e;
}
@media(min-width:768px){
    .demo-sec{
        padding: 100px 0px;
        background: #eeeffa  url(https://cdn.oppyotest.com/launches/sellero/jv/images/demo-bg.webp) center bottom;
        background-size: cover;
    }
}

/* Deep Funnel Sectio Start */

.deep-funnel-sec{
    padding: 30px 0px;
    background: #eff5f9;
}
@media(min-width:768px){
    .deep-funnel-sec{
        padding: 100px 0px;
        background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/deep-funnel.webp) no-repeat center center;
        background-size: cover;
    }
}

/* Exciting Launch Section Start*/

.exciting-launch{
    padding: 30px 0px;
    background: #fff;
}
.launch-list li {
    padding: 0px 0px 12px 0px;
}
@media(min-width:768px){
    .exciting-launch{
        padding:100px 0px;
    }
    .launch-list li {
        padding: 0px 20px 12px 0px;
    }
}

/* Prizing Section Start */

.prize-value{
    padding: 30px 0px;
    background: #0b0308;
}

@media(min-width:768px){
    .prize-value {
        background: #fff url(https://cdn.oppyotest.com/launches/sellero/jv/images/prize-value.webp) no-repeat top center;
        background-size: cover;
        padding: 100px 0px;
    }
    .f-md-72 {
        font-size: 72px;
    }
}

/* Contest Section Start */

.contest-sec{
    padding: 30px 0px;
    background: #f2eded;
}
@media(min-width:768px){
    .contest-sec{
        padding: 100px 0px;
        background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/contest-section-bg.webp) no-repeat center center;
        background-size: cover;
    }
}

/* Reciprocate Section Start */

.reciprocate-sec{
    padding: 30px 0px;
    background: #fff;
}
@media(min-width:768px){
    .reciprocate-sec{
        padding: 100px 0px;
    }
}

/* Contact Section Start */

.contact-section{
    padding: 30px 0px;
    background: #efeff9;
}
.container-box {
    padding: 20px;
    position: relative;
    background: #030f28;
    border-radius: 30px;
}
.contact-shape {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: solid 2px rgba(255, 255, 255, 0.25);
    padding: 30px;
}

@media(min-width:768px){
    .contact-section{
        padding: 100px 0px;
    }
    .container-box{
        padding: 80px;
        background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/contact-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .contact-shape {
        padding: 25px 0px;
    }
}

/* Term Section Start */

.term-sec{
    padding: 30px 0px;
}
.terms-list li {
    list-style: none;
    padding: 0 0 20px 0px;
}
@media(min-width:768px){
    .term-sec{padding: 100px 0px;}
}

/**************Footer Section***********/

.footer-section {
    background: #100f12;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

/* Floating Btn */

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#7764ff;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#E76D24;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
