html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lexend', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}


.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.cavet-font {
	font-family: 'Caveat', cursive;
}

/* Color CSS */

.white-clr {
	color: #fff;
}

.black-clr {
	color: #000000;
}

.cyan-clr {
	color: #48FFF4;
}

.blue-clr {
	color: #005AFF;
}

.orange-clr {
	color: #FFA829;
}

/* Header CSS */
.header-section {
	background: #0e0a3b url(../images/header-bg.webp);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 30px 0px 30px 0px;
}

.preheadline {
	display: inline-block;
	padding: 15px;
	background: #04173E;
	backdrop-filter: blur(200px);
	border-radius: 0px 0px 20px 20px;
}

.header-wrap {
	padding: 0px 0px 15px 0px;
	background: rgba(11, 28, 55, 0.2);
	backdrop-filter: blur(3px);
	border-radius: 15px 15px 0px 0px;
	border: solid 1px #2561BD;
	max-width: 95%;
	margin: 20px auto 0px auto;
}

ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
	font-weight: 400;
	color: #ffffff;
}

ul.leader-ul li:hover a {
	transition: 0.5s all ease-in;
	color: #fff !important;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}


.header-section ul.leader-ul li .active {
	transition: 0.5s all ease-in;
	color: #fff;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}

.header-section ul.leader-ul li a {
	text-decoration: none;
	color: #5788D2;
	font-weight: 400;
}

a.affiliate-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	color: #ffffff !important;
	font-weight: 600;
	transition: all .3s ease;
	background: #FFA829;
	border-radius: 30px;
}

a.affiliate-link-btn:hover {
	transition: all .3s ease;
	background: #ee9615;
}

@media(min-width:768px) {
	a.affiliate-link-btn {
		padding: 15px 25px;
		font-size: 18px;
	}

	.header-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}

	.header-section {
		background: #04173E url(../images/header-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding: 40px 0px 100px 0px;
	}

	.preheadline {
		padding: 30px 24px;
		display: inline-block;
	}


	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}

	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}

	ul.leader-ul li {
		display: inline-block;
		padding: 0px 15px;
		font-weight: 400;
		color: #ffffff;
	}

}

@media(min-width:1600px) {
	.header-wrap {
		max-width: 85%;
	}
}

/* Header End */
.feature-wrap {
	padding: 20px;
	background: #ffffff;
	border-radius: 0px 0px 15px 15px;
}

.feature-list {
	margin-top: 30px;
	list-style-type: none;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	gap: 15px;
}

@media(min-width:768px) {
	.feature-wrap {
		padding: 50px;
		border-radius: 0px 0px 50px 50px;
	}
}

@media(max-width:767px) {
	.feature-list img {
		max-height: 30px;
		margin-top: 5px;
	}
}


/* CTA Button Start */
a.cta-link-btn {
	transition: all .3s ease;
	border-radius: 15px;
	background: #FFA829;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	width: 100%;
	font-size: 24px;
	line-height: 140%;
}

a.cta-link-btn:hover {
	transition: all .3s ease;
	background: #ee9615;
	color: #ffffff;
}

@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 38px;
		padding: 28px 60px;
		display: inline-block;
		width: auto;
		border-radius: 100px;
	}
}

/* CTA Button End*/


/* Step Section Start */
.step-section {
	padding: 30px 0px;
	background: #ffffff;

}

.step-box {
	height: 100%;
	border: 5px solid #FFFFFF;
	filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.15));
	border-radius: 30px;
	background: #ffffff url(../images/step-wrap.svg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.step-title {
	padding: 8px 50px;
	color: #ffffff;
	display: inline-block;
	background: #000000;
	border-radius: 0px 0px 20px 20px;
}

.step-content {
	background: #2471FF;
	border-radius: 0px 0px 30px 30px;
	padding: 40px 15px 30px 15px;
	position: relative;
	overflow: hidden;
}

.step-content::before {
	background: rgba(0, 0, 0, 0.4);
	filter: blur(15px);
	position: absolute;
	z-index: 90;
	content: '';
	top: 0px;
	height: 17px;
	width: 100%;
	left: 0;
	right: 0;
}

@media (min-width: 768px) {
	.step-section {
		padding: 100px 0px;
		background: #ffffff url(../images/step-section.webp) center center;
		background-size: cover;
	}

	.step-content {
		height: calc(100% - 234px);
	}

}

/* Step Section End */


/* Proof Section Start */
.proof-section {
	padding: 30px 0px;
	background: #f4f6fd;
}

@media (min-width: 768px) {
	.proof-section {
		padding: 100px 0px 150px 0px;
		background: #ffffff url(../images/proof-bg.webp) center bottom no-repeat;
		background-size: cover;
	}
}

/* Proof Section End */


.analyzer-sec {
	padding: 30px 0px;
	background: #ffffff;
}

.analyzer-sec {
	background: url(../images/demo-bg.webp) no-repeat center center;
	background-size: cover;
}

.analyzer-sec #oppyo-ada-compliance-checker {
	background: #165FCF url(../images/web-form-bg.webp) no-repeat center center !important;
	background-size: cover !important;
	padding: 30px 30px !important;
}

.analyzer-sec #oppyo_website_url {
	height: 50px !important;
	font-weight: 500 !important;
	font-size: 20px !important;
	border-radius: 100px !important;
}

.analyzer-sec #oppyo_checker_btn {
	background-color: #FFA829 !important;
	font-weight: 600 !important;
	font-size: 20px !important;
	border-radius: 100px !important;
}

@media(min-width:768px) {
	.analyzer-sec {
		padding: 50px 0px 100px 0px;
		background: url(../images/analyzer-sec-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.analyzer-sec #oppyo-ada-compliance-checker {
		padding: 30px 110px !important;
		border-radius: 12px;
		text-align: center;
		max-width: initial !important;
		width: 100%;
		margin: 0 auto;
	}
}


/* Team Section Sart */
.awesome-sections {
	background: #062D69 url(../images/awesome-shape.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}

.hithere {
	border-radius: 10px;
	background-color: #ffffff;
	display: inline-block;
	align-items: center;
	justify-content: center;
	padding: 15px;
	position: relative;
	z-index: 1;
}

.hithere-shape {
	display: inline-block;
	padding: 5px 30px 5px 30px;
	position: relative;
	z-index: 1;
	background: #0f2448;
	border-radius: 60px;
	align-items: center;
	font-family: 'Caveat', cursive;
}

@media (min-width: 768px) {
	.awesome-sections {
		padding: 100px 0px;
	}

	.hithere {
		margin: 0px 15px;
		padding: 15px 50px;
	}

	.hithere::before {
		content: '';
		position: absolute;
		left: -15px;
		background-color: #FFA829;
		width: 10px;
		height: 100%;
		z-index: -1;
		border-radius: 10px 0px 0px 10px;
		top: 0px;
	}

	.hithere::after {
		content: '';
		position: absolute;
		right: -15px;
		background-color: #FFA829;
		width: 10px;
		height: 100%;
		z-index: -1;
		border-radius: 0px 10px 10px 0px;
		top: 0px;
	}

	.hithere-shape {
		padding: 10px 90px 10px 90px;
	}
}

/* Team Section End */


/* Did You Know Section Start */
.didyouknow-sec {
	padding: 30px 0px;
	background: #ffffff;
}

.youknow-block {
	background: #FFC01F;
	border-radius: 15px;
	padding: 15px;
	display: inline-block;
}

@media(min-width:768px) {
	.didyouknow-sec {
		padding: 100px 0px 180px 0px;
		background:#F4F6FD url(../images/didyouknow-sec.webp) no-repeat center bottom;
		background-size: cover;
	}

	.youknow-block {
		padding: 24px 88px 45px 88px;
		background: url(../images/know-shape.webp) no-repeat center center;
		background-size: contain;
	}
}

/* Did You Know Section End */


/* Compliance Section Start */
.compliance-sec {
	padding: 30px 0px;
	background: #F4F6FD;
}

.compliance-block {
	background: #2471FF;
	border-radius: 22px 22px 20px 20px;
	box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.06);
}

.compliance-title {
	background: #FFFFFF;
	border-radius: 20px 20px 0px 0px;
	padding: 20px;
}

.compliance-image {
	padding: 20px;
}

@media(min-width:768px) {
	.compliance-sec {
		padding: 50px 0px 100px 0px;
		background: url(../images/compliance-sec-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.compliance-title {
		padding: 40px 20px;
	}

	.compliance-image {
		padding: 40px 20px;
	}
}

/* Compliance Section End */


/* Stats Section Start */
.stats-sec {
	padding: 30px 0px;
}

.stats-wrap {
	padding: 30px 0px;
	max-width: 95%;
	margin: 0px auto;
	border-radius: 15px;
	background: #0B1C37;
}

@media(min-width:768px) {
	.stats-sec {
		padding: 100px 0px 0px 0px;
	}

	.stats-wrap {
		padding: 100px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		background: url(../images/stats-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
}

@media(min-width:1600px) {
	.stats-wrap {
		max-width: 85%;
	}
}

/* Stats Section End */


/* Giants  ance Section Start */
.giants-sec {
	padding: 30px 0px;
	background: #fff;
}

.underline {
	border-bottom: 4px solid #FFA829;
	padding-bottom: 5px;
}

@media(min-width:768px) {
	.giants-sec {
		padding: 100px 0px;
	}
}

/* Giants  Section End */


/* Big Question */
.big-ques-sec {
	padding: 30px 0px 150px 0px;
	background: #F4F6FD;
}

.blue-design {
	border-radius: 20px;
	background-color: #FFC01F;
	display: inline-block;
	padding: 10px;
	position: relative;
}

@media (min-width: 768px) {
	.big-ques-sec {
		padding: 100px 0px 200px 0px;
		background: url(../images/question-bg.webp) no-repeat center bottom;
		background-size: cover;
	}

	.blue-design {
		padding: 20px 50px 30px 50px;
		display: inline-block;
		background: url(../images/question.webp) no-repeat center center;
		background-size: 100% 100%;
	}

}

/* Big Question End */

/* Option Section **/
.option-section {
	padding: 0px 0px 30px 0px;
	background: #040C25 url(../images/option-section-bg.webp) no-repeat center bottom;
	background-size: cover;
}

.option-headline {
	background: #FF3535;
	padding: 15px;
	border-radius: 15px;
	display: inline-block;
	margin-top: -117px;
}

@media (min-width:768px) {
	.option-section {
		padding: 0px 0px 100px 0px;
	}

	.option-headline {
		background: url(../images/option-headline.webp) no-repeat center center;
		background-size: 100% 100%;
		padding: 15px 30px 30px 30px;
		border-radius: 0px;
		margin-top: -117px;
	}

}

/* Option Section End**/

/* Any More Section */
.anymore-sec {
	padding: 30px 0px ;
	background-color: #ffffff;
}

.anymore-inner{background: #FFC01F;
	border-radius: 30px; padding: 30px 0px;}

@media (min-width:768px) {
	.anymore-sec {
		padding:200px 0px 100px 0px;
		background: url(../images/anymore-sec.webp) no-repeat center center;
		background-size: cover;
	}
	.anymore-inner{padding: 0px;}
	.anymore-sec .but-not{position: absolute; top: -150px;
		left: -250px;}
	.anymore-content{padding: 64px 45px 64px 330px;}

}

/* Any More Section End */


/* Proudly there Section Start */
.proudly-sec {
	background: url(../images/proudly-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 60px 0px 30px 0px;
}

.proudly-inner-sec {
	padding: 15px 5px;
	background: rgba(11, 28, 55, 0.4);
	backdrop-filter: blur(5px);
	border-radius: 15px;
	max-width: 95%;
	margin: 0px auto;
}

.proudly-shape {
	display: inline-block;
	padding: 5px 30px 5px 30px;
	position: relative;
	z-index: 1;
	background: #04173E;
	border-radius: 60px;
	align-items: center;
	font-family: 'Caveat', cursive;
	margin-top: -56px;
}


@media(min-width:768px) {
	.proudly-sec {
		padding: 150px 0px 100px 0px;
	}

	.proudly-inner-sec {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
	}

}

@media(min-width:1600px) {
	.proudly-inner-sec {
		max-width: 85%;
	}
}

/* Proudly Section End */

/* Testimonals Section Start */
.testimonial-section {
	background: url(../images/testimonial-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
	position: relative;
	z-index: 9;
}

.testimonial-section2 {
	background: #eef5ff;
	padding: 30px 0px;
}

.testimonials-block-border {
	border: solid 1px #121457;
	position: relative;
	float: left;
	width: 100%;
	margin: 10px 10px 10px 5px;
}

.testimonials-block {
	position: relative;
	background: #eef5ff;
	padding: 30px 20px;
	float: left;
	width: 100%;
	color: #000000;
	margin: 10px 0px 10px -12px;
}

.testimonial-section2 .testimonials-block {
	background: #fff !important;

}

.author-wrap {
	display: flex;
	align-items: center;
}

@media (min-width:768px) {
	.testimonial-section2 {
		padding: 100px 0px;
		background: #eef5ff url(../images/testimonial-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.testimonial-section {
		padding: 100px 0px;
	}

	.testimonials-block-border {
		margin: 10px 10px 10px 15px;
	}
}

/* Testimonals Section End */


img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}



.website-section{
	padding: 30px 0px;
	background: #ffffff;
}

.website-block {
	background: #FFC01F;
	border-radius: 15px;
	padding: 15px;
	display: inline-block;
	position: relative;
	z-index: 9;
}
.website-block1 {
	background: #5C637E;
	border-radius:0px 0px 15px 15px;
	padding: 15px;
	display: inline-block;
	position: relative;
	
}
.website-wrap{
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.06);
	border-radius: 20px;
	padding: 15px;
}
.brings-block{
	background: url(../images/brings.webp) no-repeat center center;
	background-size: 100% 100%;
	box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	padding: 20px;
	display: inline-block;
}
@media (min-width:768px) {
	.website-section {
		padding: 100px 0px;
		background: url(../images/serving-website-bg.webp) no-repeat center bottom;
		background-size: cover;
	}
	.website-block {
		padding: 24px 60px 45px 60px;
		background: url(../images/website-shape.webp) no-repeat center center;
		background-size: 100% 100%;
	}
	.website-block1 {
		padding:49px 60px 25px 60px;
		background: url(../images/website-shape1.webp) no-repeat center center;
		background-size: 100% 100%;
		margin-top: -45px;
	}
	.website-wrap{
		padding: 30px;
	}
	.connect-line{
		position: absolute;
		left: -36px;
		top: -67px;
	}
	.connect-line1{
		position: absolute;
		left: -36px;
		bottom: 76px;
	}

	.mt-md140{
		margin-top: 140px !important;
	}
	.brings-block{
		padding: 40px 70px;
	}
}