html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
	overflow-x: hidden;
}
/* --- Global Css Start--- */
.white-clr {
    color: #fff;
}
.black-clr {
    color: #000000;
}
.red-clr {
    color: #FF2C2C;
}
.kapblue {
    color: #6e44ff;
}
.relative {
    position: relative;
}
.neon-clr{
    color: #00CBE3;
}
.purple-clr {
    color: #b052ff;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.preheadline {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}
@media (min-width: 768px){
    .postheadline, .preheadline {
        padding: 10px 35px;
    }
}
@media(max-width:767px){
    /* .mainheadline:before {
        background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
        position: absolute;
        content: '';
        padding: 5px 10px;
        left: 13px;
        z-index: 99;
        top: 1px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        position: absolute;
        border-radius: 20px 0 0 0;
    } */
    .proudly-head{
        display: inline-block;
        background: transparent;
        padding: 15px 15px;
        border-radius: 48px;
        border: 1px solid #B956FF;
    }
    .preheadline{
        display: inline-block;
        background:transparent;
        padding:15px ;
        border-radius: 10px;
        border: 1px solid #B956FF;
    }
}
/* --- Global Css End--- */
/* --- Header Section Start--- */
.header-section {
    background: #0d0238;
    padding: 30px 0px;
}
.mainheadline {
    display: inline-block;
    border-radius: 40px;
    background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
    padding:1px ;
    border-radius: 18px;

}
.mainheadline > div {
    background-color: #150a41;
    padding: 65px 12px 15px;
    border-radius: 20px;
}
.underline-text {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/elite/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}

.preheadline > span {
    background-color: transparent;
    text-align: justify;
    padding: 0;
    border-radius: 0;
}

@media(min-width:768px) {
    .header-section {
        background: #0d0238 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/elite/header-bg.webp);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 40px 0px 100px;
    }
    .mainheadline {
        padding: 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/elite/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 60px 15px 30px 15px;
    }
    .mainheadline > div {
        background-color: transparent;
        padding: 15px 25px;
        border-radius: 0px;
    }
    /* .mainheadline:before {
        position: absolute;
        content: '';
        padding:0px 40px;
        left: 52px;
        z-index: 99;
        top: 20px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        position: absolute;
    } */
    .proudly-head {
        background:  url(https://cdn.dotcompaltest.com/uploads/launches/mavas/elite/proudly-head.webp ) center bottom no-repeat;
        border-radius: 40px;
        padding: 35px 85px;
        display: inline-block;
        font-family: 'Kalam', cursive;
    }
    .preheadline{
        display: inline-block;
        border-radius: 40px;
        background-image: linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
        padding:18px 2px 16px ;
        border-radius: 48px;
    
    }
    .preheadline > span {
        background-color: #150a41;
        text-align: justify;
        padding: 15px 25px;
        border-radius: 48px;
    }
    .underline-text {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/elite/underline-orange.webp) no-repeat center center;
        padding: 0px 0px 65px 0px;
        background-size: contain;
    }
}
/* --- Header Section End --- */
/* --- Second Section Start --- */
.second-section {
    padding:30px 0px;
    background: #ffffff;
}
@media(min-width:768px) {
    .second-section {
        padding:70px 0px 100px 0px;
        background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/elite/second-sec-bg.webp) no-repeat;
        background-position: center center;
    }
}
/* --- Second Section End --- */
/* --- Third Section Start --- */
.third-section {
    padding: 30px 0;
    background: #EFEFF9;
}
@media (min-width: 768px) {
    .third-section {
        padding:100px 0px 0px 0px;
    }
}
/* --- Third Section End --- */
/* --- Fourth Section Start --- */
.fifth-section {
    background: #0d0238;
    padding: 30px 0;
}
@media (min-width: 768px){
    .fifth-section {
        padding: 100px 0px 140px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/elite/proudlybg.webp) no-repeat bottom center;
        background-size: cover;
    }
}
/* --- Fourth Section End --- */
/* --- features Section Start --- */
.grey-section {
    background: #EFEFF9;
    padding: 30px 0;
}
.white-section {
    background: #fff;
    padding: 30px 0;
}
.probtn a {
   border-radius: 15px;
    background-color: #f6841f;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}
.probtn a:hover {
   background: #e97b1a;
    text-decoration: none;
}
.probtn1 a {
    border-radius: 15px;
    background: linear-gradient(to right, #B956FF 0%, #6E33FF 100%);
    backdrop-filter: blur(10px);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}
.probtn1 a:hover {
    transition: all .3s ease;
    background:  linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
}
@media (min-width:768px) {
    .white-section {
        padding: 100px 0;
        background: url(https://cdn.oppyo.com/launches/yodrive/elite/white-section-bg.webp) no-repeat;
        background-position: center center;
    }
    .third-section {
        padding: 100px 0;
    }
    .grey-section {
        padding: 100px 0;
    } 
}
/*---- Bonus Section Starts ---*/
.bonus-section {
    background: url(https://cdn.oppyo.com/launches/yodrive/elite/bonus-bg.webp) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}
@media(min-width:768px) {
    .bonus-section {
        padding: 80px 0px;
    }
   
}
/*---- Bonus Section End ---*/
/*Table CSS Start*/
@media(min-width:768px)
{
    .table-section{
        padding: 30px 0px;
    }   
}
.table-section{
    padding: 100px 0px;
    background-color: #fff;
}
.tablebox2 {
    border: 1px solid #182d5a;
    width: 100%;
    float: left;
    border-radius: 15px;
}
.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}
ul.vgreytick {
    padding: 0px 0px;
    margin: 0;
}
ul.vgreentick li {
    background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/elite/vgreentick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 25px;
    line-height: 150%;
    color: #000;
}
.tbbg2-text {
    color: #fff;
}
.tbbg2 {
    background:#0d0238;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}
@media (min-width: 768px) {
    .probtn a {
        font-size: 38px;
        padding: 28px 50px;
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 50px;
    }
}
.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #182d5a;
}
/*Table CSS Enad*/
/*---- MoneyBack Section Start ---*/
.moneyback-section {
    background: #0d0238;
    background-position: center center;
    background-size: cover;
    padding: 30px 0 30px;
}
@media (min-width:768px) {
    .moneyback-section {
        padding: 100px 0 100px 0px;
        background: #0d0238 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/elite/moneyback-bg.webp) no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
/*---- MoneyBack Section End ---*/
@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}
.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
.amazing-section{	
	padding: 30px 0;
	background: #0d0238;
}

@media (min-width: 768px) {
.amazing-section{	
	padding: 90px 0;
	background: #182d5a url(https://cdn.dotcompaltest.com/uploads/launches/mavas/elite/amazing-bg.webp) no-repeat;
	background-size:cover;
	background-position: center;
}
}
.but-design{background-color: #6e45ff;
    display: inline-block;
    border-radius: 65px;
    padding: 15px;
    position: relative;
    z-index: 1;}

@media(min-width:768px){
    .but-design{padding: 15px 35px;}
}
ul.good-list {
    padding: 0px;
    margin: 0px;
}
ul.good-list li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/elite/point-icon.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
}
ul.vgreytick li.headline {
    background: linear-gradient(105.18deg, #080923 -5.51%, #25226e 107.29%) !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff !important;
}

ul.vgreytick li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/elite/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 8px 20px;
    line-height: 150%;
   
    color: #000;
}
@media (min-width: 768px){
ul.vgreytick li {
    padding: 24px 10px 24px 60px;
    background-position: 20px 27px;
}
}
ul.vgreytick li:nth-child(odd) {
    background-color: #EFEFF9;
}
/*---- Footer Section Start ---*/
.footer-section {
    background: #05071A;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
    line-height: 130%;
}
.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}
@media(min-width:768px) {
    .footer-section {
        padding: 70px 0px;
    }
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
}
.header-list-block{
    background-color: #fff;
    border: 2px solid #6E33FF;
    border-radius: 20px;
    padding: 30px 30px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
}
/*---- Footer Section End---*/

