@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?uy6kuc');
  src:  url('../../fonts/icomoon.eot?uy6kuc#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?uy6kuc') format('truetype'),
    url('../../fonts/icomoon.woff?uy6kuc') format('woff'),
    url('../../fonts/icomoon.svg?uy6kuc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-deepanalytics:before {
  content: "\e94e";
}
.icon-dynamicpopups:before {
  content: "\e94f";
}
.icon-landingpages1:before {
  content: "\e950";
}
.icon-salesfunnels:before {
  content: "\e951";
}
.icon-sendemails1:before {
  content: "\e952";
}
.icon-questionmark:before {
  content: "\e94d";
}
.icon-contactus:before {
  content: "\e94c";
}
.icon-feeonsales:before {
  content: "\e939";
}
.icon-addmanagecontacts:before {
  content: "\e93a";
}
.icon-advancedleadmanagement:before {
  content: "\e93b";
}
.icon-buildmultilevel:before {
  content: "\e93c";
}
.icon-businesswebsite:before {
  content: "\e93d";
}
.icon-communicationsandcomments:before {
  content: "\e93e";
}
.icon-customsubdomain:before {
  content: "\e93f";
}
.icon-freehosting:before {
  content: "\e940";
}
.icon-friendlytemplates:before {
  content: "\e941";
}
.icon-integrationsandourapi:before {
  content: "\e942";
}
.icon-managemediacontent:before {
  content: "\e943";
}
.icon-manageorders:before {
  content: "\e944";
}
.icon-moreengagingfollowups:before {
  content: "\e945";
}
.icon-morehappycustomers:before {
  content: "\e946";
}
.icon-sellmodule:before {
  content: "\e947";
}
.icon-sellunlimited:before {
  content: "\e948";
}
.icon-singledashboard:before {
  content: "\e949";
}
.icon-smartaudience:before {
  content: "\e94a";
}
.icon-yourproducts:before {
  content: "\e94b";
}
.icon-subscription-other:before {
  content: "\e936";
}
.icon-all-accounts:before {
  content: "\e937";
}
.icon-affiliate-program:before {
  content: "\e938";
}
.icon-my-businesses:before {
  content: "\e933";
}
.icon-bandwidth:before {
  content: "\e930";
}
.icon-contacts:before {
  content: "\e931";
}
.icon-feedback:before {
  content: "\e932";
}
.icon-notifications:before {
  content: "\e934";
}
.icon-visits:before {
  content: "\e935";
}
.icon-support_solution:before {
  content: "\e92f";
}
.icon-analytics:before {
  content: "\e91c";
}
.icon-audience_accounts:before {
  content: "\e91d";
}
.icon-bonus:before {
  content: "\e91e";
}
.icon-business_management:before {
  content: "\e91f";
}
.icon-collaboration:before {
  content: "\e920";
}
.icon-contact_crm:before {
  content: "\e921";
}
.icon-customer_journey:before {
  content: "\e922";
}
.icon-done_for_you_templates:before {
  content: "\e923";
}
.icon-integrations:before {
  content: "\e924";
}
.icon-landing_page_builder:before {
  content: "\e925";
}
.icon-mydrive1:before {
  content: "\e926";
}
.icon-pop_ups:before {
  content: "\e927";
}
.icon-project_management:before {
  content: "\e928";
}
.icon-security:before {
  content: "\e929";
}
.icon-team_management:before {
  content: "\e92a";
}
.icon-video_channels:before {
  content: "\e92b";
}
.icon-video_hosting_player:before {
  content: "\e92c";
}
.icon-white_labeling:before {
  content: "\e92d";
}
.icon-wysiwyg_editor:before {
  content: "\e92e";
}
.icon-call-now:before {
  content: "\e91b";
}
.icon-knowledgebase:before {
  content: "\e918";
}
.icon-total-viewed-notification:before {
  content: "\e919";
}
.icon-video-help:before {
  content: "\e91a";
}
.icon-help:before {
  content: "\e916";
}
.icon-setting:before {
  content: "\e917";
}
.icon-smile:before {
  content: "\e915";
}
.icon-infotooltip:before {
  content: "\e914";
}
.icon-customerlifecycle:before {
  content: "\e900";
}
.icon-dropdown:before {
  content: "\e901";
}
.icon-fastvideos:before {
  content: "\e902";
}
.icon-journeyfunnels:before {
  content: "\e903";
}
.icon-landingpages:before {
  content: "\e904";
}
.icon-marketingsolution:before {
  content: "\e905";
}
.icon-more:before {
  content: "\e906";
}
.icon-moreconversions:before {
  content: "\e907";
}
.icon-moreengagement:before {
  content: "\e908";
}
.icon-moregrowth:before {
  content: "\e909";
}
.icon-moreinvestmentback:before {
  content: "\e90a";
}
.icon-moresales:before {
  content: "\e90b";
}
.icon-mydrive:before {
  content: "\e90c";
}
.icon-notechskill:before {
  content: "\e90d";
}
.icon-popupsbars:before {
  content: "\e90e";
}
.icon-quote:before {
  content: "\e90f";
}
.icon-savetimemoney:before {
  content: "\e910";
}
.icon-sendemails:before {
  content: "\e911";
}
.icon-templates:before {
  content: "\e912";
}
.icon-video:before {
  content: "\e913";
}
.icon-hide:before {
  content: "\a179";
}
.icon-show:before {
  content: "\a132";
}
.icon-test-pe:before {
  content: "\a822";
}
.icon-training--leadership:before {
  content: "\a801";
}
.icon-acquire-leads:before {
  content: "\a821";
}
.icon-career:before {
  content: "\a820";
}
.icon-do-what-you-love:before {
  content: "\a819";
}
.icon-engage-visitors:before {
  content: "\a818";
}
.icon-flexible-work:before {
  content: "\a817";
}
.icon-google:before {
  content: "\a816";
}
.icon-growth-focused:before {
  content: "\a815";
}
.icon-hustle-it-never-quit:before {
  content: "\a814";
}
.icon-lead-management:before {
  content: "\a813";
}
.icon-line-funnel:before {
  content: "\a812";
}
.icon-retain-customers:before {
  content: "\a811";
}
.icon-sales:before {
  content: "\a810";
}
.icon-single-messaging-system:before {
  content: "\a809";
}
.icon-support:before {
  content: "\a804";
}
.icon-testimonial-next:before {
  content: "\a803";
}
.icon-adding:before {
  content: "\a338";
}
.icon-automation-next-two:before {
  content: "\a265";
}
.icon-cross:before {
  content: "\a208";
}
.icon-dcp-automation:before {
  content: "\a423";
}
.icon-dcp-library:before {
  content: "\a419";
}
.icon-dcp-video:before {
  content: "\a415";
}
.icon-doc:before {
  content: "\a204";
}
.icon-dot:before {
  content: "\a201";
}
.icon-down-dropdown:before {
  content: "\a199";
}
.icon-facebook:before {
  content: "\a191";
}
.icon-home:before {
  content: "\a178";
}
.icon-linkedin:before {
  content: "\a166";
}
.icon-logout:before {
  content: "\a162";
}
.icon-minus-minus:before {
  content: "\a336";
}
.icon-sbuscription:before {
  content: "\a137";
}
.icon-search:before {
  content: "\a136";
}
.icon-tick:before {
  content: "\a119";
}
.icon-twitter:before {
  content: "\a108";
}
.icon-upper-dropdown:before {
  content: "\a103";
}
.icon-view-in-details-one:before {
  content: "\a231";
}
.icon-youtubee:before {
  content: "\a372";
}
