
/* Demo Section Start */

.demo-section {
    padding: 30px 0px;
    background: #edeefc;
}

@media (min-width: 768px) {
    .demo-section {
        background: #edeefc url(../images/demo-bg.png) no-repeat center center;
        padding: 100px 0px;
		background-size: cover;
    }
}


/* Demo Section End */


/* Feature 1 Section Start */

.features-one {
    background: rgb(52, 11, 123);
    background: linear-gradient(90deg, rgba(52, 11, 123, 1) 0%, rgba(21, 17, 88, 1) 100%);
    padding: 30px 0px;
}

.features-headline {
    background-color: rgb(255, 88, 37);
    border-radius: 65px;
    padding: 20px;
    display: inline-block;
}

@media (min-width:768px) {
    .features-one {
        background: #ffffff url(../images/feature-bg1.png) no-repeat top center;
        padding: 180px 0px 100px 0px;
		background-size:cover;
    }
    .features-headline {
        border-radius: 65px;
        padding: 12px 15px;
    }
}


/* Feature 1 Section End */


/* Feature 2 Section Start */

.features-two {
    background: #edebf0;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .features-two {
        padding: 100px 0px;
        background: #ffffff url(../images/featurestwo-bg.png) no-repeat center center;
        background-size: cover;
    }
}


/* Feature 2 Section End */


/* Feature 3 Section Start */

.features-three {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .features-three {
        padding: 100px 0px;
    }
}


/* Feature 3 Section End */


/* Feature 4 Section Start */

.features-four {
    background-color: rgb(237, 235, 240);
    padding: 30px 0px;
}

@media (min-width:768px) {
    .features-four {
        padding: 100px 0px;
    }
}


/* Feature 4 Section End */

.cloud {
    background-color: rgb(255, 88, 37);
    background-color: rgb(255, 88, 37);
    display: inline-block;
    margin: 0 auto;
    padding: 14px 20px;
    border-radius: 65px;
}


/* Feature 5 Section Start */

.features-five {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .features-five {
        padding: 100px 0px;
    }
    .cloud {
        padding: 16px 40px 12px 40px;
    }
	.fe-box-img img {
	max-width: 450px;
}
}


/* Feature 5 Section End */