html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
    overflow-x: hidden;
}
/* --- Global Css Start--- */
.white-clr {
    color: #fff;
}
.black-clr {
    color: #000000;
}
.orange-clr {
    color: #f6841f;
}
.red-clr{
    color: #ff0506;
}
.relative {
    position: relative;
}
.img-shadow {
    box-shadow: 0px 0px 15px 0px rgb(73 76 80 / 25%);
}
.uppercase {
    text-transform: uppercase;
}
.preheadline {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}
.instant-btn1 a {
    font-size: 20px;
}
.instant-btn1 a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    backdrop-filter: blur(10px);
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.03) 100%);
    backdrop-filter: blur(10px);
}
.close-img {
    width: 50px;
}
/* --- Global Css End--- */
/* --- Header Section Start--- */
.header-section {
    background: #182d5a;
    padding: 30px 0px;
    margin-top: 124px;
}
.mainheadline {
    padding: 60px 5px 20px;
    background: #E2F0F6;
    position: relative;
    border: 3px solid #fff;
    border-radius: 10px;
}
.mainheadline:before {
    position: absolute;
    content: 'game changer';
    background: #f89b1c;
    padding: 5px 10px;
    left: 0px;
    z-index: 99;
    top: 0px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    font-family: 'Kalam', cursive;
    border-radius: 10px 0 0 0;
}

@media(min-width:768px) {
    .header-section {
        background: url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 40px 0px 120px;
        margin-top: 110px;
    }
    .new-section {
        background: #ffffff;
        padding: 100px 0px;
    }
    .f-md-70 {
        font-size: 70px;
    }
    .mainheadline {
        padding: 30px;
        background: url(../images/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 100px 60px 20px 60px;
    }
    .mainheadline:before {
        position: absolute;
        content: 'game changer';
        background: url(../images/gamecheanger-bg.png) no-repeat;
        padding: 0px 40px;
        left: 98px;
        z-index: 99;
        top: 45px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 36px;
        position: absolute;
        font-family: 'Kalam', cursive;
    }
}
/* --- Header Section End--- */
/* --- New Section Start--- */
.new-section {
    background: #ffffff;
    padding: 30px 0px;
}
.instant-btn a {
    transition: all .3s ease;
    border-radius: 10px;
    background-image: -moz-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    backdrop-filter: blur(10px);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
}
.instant-btn a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -webkit-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -ms-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
}
.menu-list li {
    background: url(../images/tick.webp) no-repeat;
    background-position: 20px 24px;
    padding: 15px 15px 15px 64px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border: 3px solid #B5D1FF;
}
@media (max-width: 767px) {
    .content-mbl-space {
        padding: 30px 15px;
    }
    .new-section {
        background: #ffffff url(../images/new-section-bg.webp) no-repeat center center;
        padding: 100px 0px;
        background-size: cover;
    }
    .f-md-70 {
        font-size: 70px;
    }
}
/* --- New Section End--- */
/* --- Second Section Start--- */
.section1 {
    padding: 30px 0;
    background: #eff1f9;
}
.plan1-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgb(96 145 169 / 19%);
}
.plan2-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgba(96, 145, 169, 0.19);
}
@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}
.title-shape {
    background: #182d5a;
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}
.title-shape1 {
    background: #182d5a;
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}
.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 15px 45px;
    color: #000000;
    line-height: 150%;
    font-size: 18px;
}
.kaptick li:last-child {
    padding-bottom: 0px;
}
.riskfree-section {
    background: #000000 url(../images/riskfree-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.second-header-section {
    padding: 30px 0;
    background: #111;
}
.step-shape {
    border-width: 3px;
    border-color: #f6841f;
    border-style: solid;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    width: 100%;
    float: left;
    padding: 20px;
    height: 100%;
    color: #fff;
}
@media(min-width:768px) {
    .title-shape {
        padding: 5px 30px;
    }
    .title-shape1 {
        padding: 5px 30px;
    }
    .tablebox-inner-bg {
        padding: 30px 15px 30px 15px;
        background-size: cover;
        border-radius: 30px;
    }
    .section-margin {
        margin-top: 250px !important;
    }
    .pimg {
        margin-top: -255px;
    }
    .section1 {
        padding: 100px 0;
    }
    .instant-btn a {
        font-size: 36px;
        padding: 28px 74px 30px 74px;
    }
    .kaptick li {
        padding: 5px 0 30px 45px;
    }
    .img-shadow {
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 25%);
    }
    .riskfree-section{
        padding: 100px 0px;
    }
    .second-header-section {
        background: #111 url(../images/cta-bg-new.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
}
/* --- Second Section End--- */
/* --- Third Section Start--- */
.section2 {
    padding: 30px 0;
    background: #eef0ff;
}
.tablebox1 {
    background: #9dbacc;
    width: 100%;
    float: left;
    border-radius: 30px;
}
.tablebox-inner-bg {
    background: #071738;
    background-size: 100% 100%;
    border-radius: 10px;
}
.table-headline-shape {
    background: url(../images/table-headline-shape.webp) no-repeat center center;
    background-size: contain;
    padding: 18px 19px 16px 17px;
}
.odd-shape {
    background: #f6841f;
    padding: 10px 15px;
}
.even-shape {
    background: #071738;
    padding: 10px 15px;
    color: #ffffff !important;
}
.price-shape {
    background: #ffffff;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}
.now-price {
    background: #f6841f;
    padding: 12px 10px;
    border-radius: 22px;
}
.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
}
@media (min-width: 768px) {
    .section2 {
        padding: 100px 0;
        background: #ffffff url(../images/table-bg-2.webp) no-repeat bottom center;
        background-size: cover;
    }
}
/* --- Third Section End--- */
/* --- Footer Section Start --- */
.footer-section {
    background: #05071A;
    padding: 50px 0px 50px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}
@media (max-width: 767px) {
    .footer-section {
        background: #05071A;
        padding: 30px 0px;
    }
}
.underline-text {
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}
@media (min-width: 768px){
.underline-text {
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 65px 0px;
    background-size: contain;
}
}
