html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

.white-clr{
    color: #fff;
}

.black-clr{
    color: #000;
}

.headstrip{
    background: rgb(21, 36, 63);
    padding: 20px 0px;
}

@media(min-width:768px){
    .headstrip{
        padding: 50px 0px;
    }
}

.content-area{
    padding: 30px 0px;
}
@media(min-width:768px){
    .content-area{padding: 80px 0px;}
}

.footer-section {
    background: #000000;
    padding: 20px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

