
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}
.caveat{
	font-family: 'Caveat', cursive;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #fc8548;
  border-radius: 25px;
}

span.under {
    border-bottom: 2px solid;
}

.yellow-clr {
    color: #FFCD00;
}

.white-clr {
    color: #ffffff;
}

.white-clr2 {
    color: #d8d1d1;
}

.blue-clr {
    color: #01155e;
}

.red-clr {
    color: #ff0f0f;
}

.grey-clr{
    color: #D9D9D9;
}
.light-blue{
    color:#00AAFF;
}
.orange-clr{
    color: #FF813B;
}
.underline {
    border-bottom: 2px solid;
}

.green-clr{
    color: #009900;
}

.black-clr {
	color: #031528;
}

a.cta-link-btn{
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -webkit-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -ms-linear-gradient(#FFCD00 , #ED1C24);
}
a.cta-link-btn:hover {
    border-radius: 8px;
    background-image: -moz-linear-gradient(#ED1C24 , #FFCD00);
    background-image: -webkit-linear-gradient(#ED1C24 , #FFCD00);
    background-image: -ms-linear-gradient(#ED1C24 , #FFCD00);
    color: #ffffff;
}
@media(min-width:768px){
    a.cta-link-btn {
        font-size: 30px;
        padding: 35px 25px;
        display: inline-block;
    }
}
.header-section {
    padding: 30px 0px;
    background: #010517;
    position: relative;
    z-index: 1;
    margin-top: 140px;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
.clear {
    clear: both;
}
.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}
.steps-section2 {
    background: #f9f9f9;
    padding: 30px 0px;
}
.step-bg {
    display: inline-block;
    padding: 15px 32px 10px 32px;
    border-radius: 0px 3px 3px 0px;
    background-color: #0aabff;
    text-align: center;
}
.proudly-section {
    padding: 30px 0px;
    background: #0f073a;
}
.purple-bg {
    padding: 10px 30px;
    background-image: linear-gradient(90deg, #B956FF 0%, #6E33FF 100%);
    display: inline-block;
    border-radius: 25px;
}
.red-bg{
    border-radius: 25px;
    border: 1px solid #000;
    background:  #FF2C2C;
    padding: 10px;
}
@media(min-width:768px){
    .red-bg{
        padding: 9px 30px;
        display: inline-block;
    }
}
@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.affiliate-link-btn {
    text-align: center;
}

.affiliate-link-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -webkit-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -ms-linear-gradient(#FFCD00 , #ED1C24);
}

.affiliate-link-btn a:hover {
    border-radius: 8px;
    background-image: -moz-linear-gradient(#ED1C24 , #FFCD00);
    background-image: -webkit-linear-gradient(#ED1C24 , #FFCD00);
    background-image: -ms-linear-gradient(#ED1C24 , #FFCD00);
    color: #ffffff;
}

/* header */

.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/list-head.webp) no-repeat;
    padding: 15px 0px 15px 45px;
    background-position: 0px 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.list-head li:last-child {
    border-bottom: 0px;
}
.cross-head {
    list-style: none;
}
.arrow-down {
    position: relative;
    display: inline-block;
}
.arrow-down::after {
    position: absolute;
    top: 13px;
    right: -45px;
    content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/red-arrow.webp);
}
.smile-text {
    background: #FF2C2C;
    border-radius: 25px;
    padding: 9px 15px 9px 55px;
    position: relative;
    display: inline-block;
}
.smile-text::before {
    position: absolute;
    top: -23px;
    left: -60px;
    content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/thumbsup.webp);
}
.cross-head li {
    background: url(../images/close-icon.png) no-repeat;
    padding: 10px 0px 15px 35px;
    background-position: 0px 17px;
}

.cross-head li:last-child {
    border-bottom: 0px;
}
/* section-2 */

.affiliate-link-btn1 a {
    border-radius: 10px;
    background-image: -webkit-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -ms-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -moz-linear-gradient(#FFCD00 , #ED1C24);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.affiliate-link-btn1 a:hover {
    background-image: -moz-linear-gradient(#ED1C24 , #FFCD00);
    background-image: -webkit-linear-gradient( #ED1C24 , #FFCD00);
    background-image: -ms-linear-gradient( #ED1C24 , #FFCD00);
    text-decoration: none;
}

/* Black Timer css */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.proof-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.clear {
    clear: both;
}


/* DCP Team Section CSS */

.noneed-shape {
    padding: 30px;
    background-color: #f5efff;
    border-radius: 10px;
}

.anymore-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.e-learning-box {
    background: url(../images/e-learning-box.png) no-repeat center center;
    background-size: contain;
    padding: 55px 10px;
    ;
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 80px 0px;
        background: url(../images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .e-learning-box {
        padding: 80px 30px 70px;
    }
    .anymore-section {
        padding: 70px 0px;
    }
    .min-sm-video-width-left {
        width: 68%;
    }
    .min-sm-video-width-right {
        width: 32%;
    }
    .affiliate-link-btn1 a {
        font-size: 30px;
        padding: 30px 20px;
        width: auto;
    }
}
    .steps-section2 {
        padding: 80px 0px;
        background: #f9f9f9 url(../images/step-section-2.png) no-repeat center center;
        background-size: cover;
    }

    

    
    /* Timer CSS */

    /* Timer CSS End */
    .proof-section {
        padding: 100px 0px;
        background: url("../images/proof-sectionbg.png") no-repeat center center;
        background-size: cover;
    }


@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}


/* Empowers you Section css */

.still-there-section {
    background: #deeaff;
    padding: 30px 0px;
}

.line-5 {
    background: #01155e;
    height: 5px;
}

@media (min-width:768px) {
    .still-there-section {
        padding: 100px 0px 100px 0px;
        background: #deeaff url(../images/still-there-section.png) no-repeat top center;
        background-size: cover;
    }
}

/* Stats  Section css */

.prdly-pres {
    background: url(../images/intro-bg.png) no-repeat top center;
    padding: 10px 166px 24px;
    display: inline-block;
    letter-spacing: 8px;
}
.orange-underline u{
    height: 2px;
}
.stats-section {
    background: #f9f9f9;
    padding: 30px 0px;
}
.content-style1,
.content-style2 {
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width:768px) {
    .content-style1 {
        background: transparent url(../images/content-style1.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 50px 30px 50px;
        box-shadow: none;
    }
    .content-style2 {
        background: transparent url(../images/content-style2.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 40px 30px 70px;
        box-shadow: none;
    }
    .stats-section {
        padding: 80px 0px;
        background: #f9f9f9 url(../images/stats-bg-section.png) no-repeat center center;
        background-size: cover;
    }

    .affiliate-link-btn a {
        font-size: 22px;
        padding: 15px 20px;
        display: inline-block;
        width: auto;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }

    .proudly-section {
        padding: 100px 0px;
        background: url(../images/presenting-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
}

.cta-section-white {
    background: #031647;
	padding: 30px 0;
}

.eleraning-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.limited-time-sec {
    padding: 15px 0px 10px 0px;
    background: #FF2C2C;
}

.problme-shape {
    border-radius: 20px;
    background-color: rgb(236, 56, 69);
    width: 100%;
    float: left;
    padding: 15px;
}

.noneed-listing5 li {
    list-style: none;
    background: url(../images/cross-yellow.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.noneed-listing6 li {
    list-style: none;
    background: url(../images/cross.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.c-hei:hover .c-img{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.pm-block:hover .pm-img{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.pm-block .pm-img{
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.c-hei .c-img{
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

@media (min-width: 768px) {
    .noneed-listing6 li {
        list-style: none;
        background: url(../images/cross.png) no-repeat;
        background-position: 0 1px;
        padding: 0 0 30px 50px;
        min-height: 42px;
    }
    .problme-shape {
        padding: 30px;
    }
    .eleraning-section {
        padding: 80px 0px;
        background: #f9f9f9 url(../images/eleraning-section-bg.png) no-repeat center center;
    }
    .cta-section-white {
        background: url(../images/cta-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 100px 0px;
    }
    .c-hei {
        min-height: 230px;
    }
}
.hi-sec{
   padding: 15px;
   background: #550075;
}
@media(min-width:768px){
    .hi-sec {
        background: url(../images/pre-shape.webp) no-repeat center;
        padding: 15px 45px;
        background-attachment: 100% 100%;
        background-size: 100% 100%;
        display: inline-block;
    }
}
.hi-there-sec{padding: 30px 0px;}
@media(min-width:768px){
    .hi-there-sec{padding: 100px 0px;}
}
.few-reason-sec{    
    background: #eaf3ff;
    padding: 30px 0px;}

@media(min-width:768px){
    .few-reason-sec{
        background: #ffffff url(../images/endstory.png) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px 120px;
    }
}    

.pre-heading {
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 2px solid rgba(185, 86, 255, 1);
}
.post-heading {
    background: #00AAFF;
    text-align: center;
    padding: 10px;
}
.shape-head{
    background: url(../images/shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 20px;
    text-align: center;
}
.video-box {
    position: relative;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.video-box1{
    background:#D9D9D9;
    padding:5px;
    border-radius:10px
}

.border-dashed {
    background: rgba(255, 255, 255, 0.10);
    border: 2px dashed #B956FF;
    border-radius: 20px;
    padding: 20px;
    
}
@media (min-width: 768px){
    .pre-heading {
        padding: 9px 26px;
    }
    .post-heading {
        padding: 15px 60px;
        background: url(../images/post-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        display: inline-block;
    }
    .border-dashed{
        padding: 20px 30px;
    }
}
.b-border{margin: 40px auto 0px auto;
    height: 2px;
    background: yellow;
    max-width: 200px;}


      .bar {
        height: 4px;
        width: 120px;
        background: #213386;
        margin: 20px auto 20px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
    }
    .bar::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background: #ffffff;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: MOVE-BG;
        animation-name: MOVE-BG;
    }
    @-webkit-keyframes MOVE-BG {
        from {
            -webkit-transform: translateX(0)
        }
        to {
            -webkit-transform: translateX(120px)
        }
    }
    
    @keyframes MOVE-BG {
        from {
            transform: translateX(0)
        }
        to {
            transform: translateX(120px)
        }
    }
    .service-item {
        background-color: #fff;
        -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.18);
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.18);
        border-radius: 10px;
        padding: 25px;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        height: 100%;
    }
    .service-item:hover {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }

    .step-section{
        background: #eef4f9;
        padding: 30px 0px;
    }
    
    .step-shapes {
        background: url(../images/step-process-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 8px 40px;
        width: fit-content;
    }
    .orange-brush {
        background: url(../images/orange-brush.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 8px 20px;
        width: fit-content;
    }
    .red-brush {
        background: url(../images/red-brush1.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 8px 20px;
        width: fit-content;
    }
    .niche-design{
        background: url(../images/niche-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 10px 45px;
        display: inline-block;
    }
    
    @media(min-width:768px){
        .step-section{
            padding: 100px 0px;
            background: #eef4f9 url(../images/step-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }
    .profitwall-sec{
        padding: 30px 0px;
        background: #EFEFF9;
    }
    .profitwall-sec1{
        padding: 30px 0px;
        background: #EFEFF9;
    }
    .red-head{
        background: url(../images/red-head.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 6px 30px;
        display: inline-block;
    }
    .orange-bg{
        background-color: #FF813B;
        border-radius: 25px;
        padding: 5px 25px;
        display: inline-block;
    }
    .white-bg{
        background: #fff;
        border-radius: 10px;
        padding: 20px;
    }
    .purple-bgg{
        background: var(--purple-gradient, linear-gradient(90deg, #B956FF 0%, #6E33FF 100%));
        border-radius: 10px;
        padding: 20px;
    }
    @media(min-width:768px){
        .profitwall-sec{
            padding: 100px 0px;
            background: #EFEFF9 url(../images/powerfull-bg.webp) top center;
            background-size: cover;
            background-attachment: fixed;
        }
        .profitwall-sec1{
            padding: 100px 0px;
            background: #EFEFF9 url(../images/powerfull-bg1.png) top center;
            background-size: cover;
            background-attachment: fixed;
        }
        .orange-bg{
            border-radius: 85px;
            padding: 10px 50px;
        }
        .white-bg{
            border-radius: 20px;
            padding: 50px 30px 50px 30px;
        }
        .purple-bgg{
            border-radius: 20px;
            padding: 50px 30px 50px 30px;
        }
    }
    

    /***********Testimonial Section*****************/
    .testimonial-sec {
       background: #EFEFF9;
       padding: 30px 0px;
    }
    .single-testimonial {
        background-color: #EFEFF9;
        text-align: center;
        position: relative;
        z-index: 2;
        border: 1px solid #eeeeee;
        border-radius: 10px;
        padding: 20px 10px;
    }
    .st-img {
        display: inline-block;
        background: #fff;
        border-radius: 100%;
        padding: 5px;
        box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
    }
    .stars a {
        padding-right: 8px;
        color: #FFC635;
    }
    .fa-star:before {
        content: "\f005";
        font-size: 22px;
    }
    .mt-md120{
        margin-top: 20px;
    }
    .niche-section{
        padding: 30px 0px;
        background: url(../images/niche-bg.webp) top center no-repeat;
        background-size: cover;
    }
    .justoneclick-section{
        padding: 30px 0px;
        background: url(../images/justoneclick-bg.png) center center no-repeat;
        background-size: cover;
    }
    .buthowdoesit-section{
        padding: 30px 0px;
        background: url(../images/buthowdoesit-bg.png) center center no-repeat;
        background-size: cover;
    }
    .already-section{
        padding: 30px 0px;
        background: url(../images/already-bg.png) center center no-repeat;
        background-size: cover;
    }
    .butif-section{
        padding: 30px 0px;
        background: #fff;
        background-size: cover;
    }
    .quick-section{
        padding: 30px 0px;
        background: url(../images/quick-bg.webp) center center no-repeat;
        background-size: cover;
    }
    @media (min-width: 768px){
        .testimonial-sec {
            padding: 100px 0px;
            background: #fff url(https://cdn.oppyotest.com/launches/sellero/special/images/testimonial-bg.webp) no-repeat center center;
            background-size: cover;
        }
        .single-testimonial {
            border-radius: 30px;
            padding: 50px;
            height: 100%;
        }
        .st-img {
            display: inline-block;
            margin-top: -150px;
            background: #fff;
            border-radius: 100%;
            padding: 5px;
            box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
        }
        .mt-md120{
            margin-top: 120px;
        }
        .niche-section{
            padding: 100px 0px;
        }
        .justoneclick-section{
            padding: 100px 0px;
        }
        .buthowdoesit-section{
            padding: 100px 0px;
        }
        .already-section{
            padding: 100px 0px;
        }
        .butif-section{
            padding: 100px 0px;
        }
        .quick-section{
            padding: 100px 0px;
        }
    }

    /********Imagine Section ********/
	.imagine-section{
		background: #EFEFF9;
		padding: 30px 0px;
	}
	@media (min-width: 768px){
		.imagine-section {
			padding: 100px 0px;
		}}

        .areyouready-section{
            background: #fff;
            padding: 30px 0px;
        }
        @media(min-width:768px){
            .areyouready-section{
                padding: 100px 0px;
            }
        }

    /***********Profitale Section*****************/
    .profitale-section{
        background: #fff;
        background-size: cover;
        padding: 30px 0px;
    }
    .easy-text{
        color: #FF2C2C;
        padding: 2px 2px 2px 60px;
        position: relative;
        display: inline-block;
        align-items: center;
    }
    .easy-text::before{
        position: absolute;
        top: -30px;
        left: -60px;
        content: url(../images/thumbsup.webp);
    }
    .gap30 {
        --bs-gutter-y: 30px;
    }
    @media (min-width: 768px){
        .profitale-section {
            padding: 100px 0px;
        }
        .easy-text::before{
            position: absolute;
            top: 0px;
            left: -60px;
            content: url(../images/thumbsup.webp);
        }
        .gap30 {
            --bs-gutter-x: 50px;
            --bs-gutter-y: 50px;
        }
    }

    .take-look-sec
    {
        background: #070d50;
        padding: 30px 0px;
    }
    @media(min-width:768px){
        .take-look-sec{
            padding: 100px 0px;
            background:#EFEFF9 url(../images/take-look-bg.webp) no-repeat center bottom;
            background-size: cover;
        }
    }

    .traffic-section{
        padding: 30px 0px;
    }
    @media(min-width:768px){
        .traffic-section{
            padding: 100px 0px;
        }
    }

    .online-section{
        padding: 30px 0px;
        background: #EFEFF9;
    }
    @media(min-width:768px){
        .online-section{
            padding: 100px 0px;
        }
    }

    /* Capability Section */

    .capability-sec{
        padding: 30px 0px;
        background: url(../images/capability-bg.webp) no-repeat center center;
        background-size: cover;
    }

    @media(min-width:768px){
        .capability-sec{
            padding: 100px 0px;
        }
        .orange-line{
            position: relative;
        }
        
        .orange-line::after{
            content: url('../images/line.webp');
            position: absolute;
            bottom: -25px;
            right: 0;
        }
    }

    .dfy-section{
        padding: 30px 0px;
        background: #223298;
    }
    
    @media(min-width:768px){
        .dfy-section{
            padding: 100px 0px;
            background: url(../images/dfy-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }

    .newbie-section{
        padding: 30px 0px;
        background: #eff5f9;
    }
    @media(min-width:768px){
        .newbie-section{
            padding: 100px 0px;
            background: url(../images/newbie-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }

    /* Hi Their Start */
    .hi-their-sec {
        padding: 30px 15px 30px 15px;
        background: #EFEFF9;
    }
    .blue-border{
        border: 1px solid #15C6FC;
    }
    .hi-their-box{
        background: #fff;
        border: 2px solid #15C6FC;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
        border-radius: 50px;
        padding: 0px 15px 30px 15px;
    }
    .hi-their-shadow{
        background: #FFFFFF;
        border: 10px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        padding: 5px;
        margin-top: -60px;
        display: inline-block;
    }
    .hi-their-head{
        padding: 15px;
        border: 2px solid #15C6FC;
        border-radius: 100px;
        background: #fff;
        display: inline-block;
    }
    @media(min-width:768px){
        .hi-their-sec{
            padding: 0px 0px 100px 0px;
        }
        .hi-their-box{
            border-radius: 50px;
            padding: 0px 70px 100px 70px;
        }
        .hi-their-head{
            padding: 15px 50px;
        }
    }

    /* Goal Section Start */
    .goal-section{
        padding: 30px 0px;
    }
    @media(min-width:768px){
        .goal-section{padding: 100px 0px; background: url(../images/goal-bg.webp) no-repeat center center; background-size: cover;}
    }
    /* Goal Section End */

    /* Success Story Section */
    .success-story-section{
        padding: 30px 0px;
        background: #EFEFF9;
    }
    @media(min-width:768px){
        .success-story-section{
            padding: 100px 0px;
            background: url(../images/success-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }

    /* Demo Section Start */
    .demo-sec{
        padding: 30px 0px;
        background: #fff;
    }
    .affliliate-underline{
        border-bottom: 2px solid #FF2C2C;;
    }
    .smile-text{
        background: #FF2C2C;
        border-radius: 25px;
        padding: 9px 15px 9px 55px;
        position: relative;
        display: inline-block;
    }
    .smile-text::before{
        position: absolute;
        top: -23px;
        left: -60px;
        content: url(../images/thumbsup.webp);
    }
    @media(min-width:768px){
        .demo-sec{
            padding: 100px 0px;
            background: url(../images/demo-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }
    /* Demo Section End */

    /**** FAQ Section ***/

.faq-section {
	padding: 30px 0px;
	background-color: #fff;
}

.faq-list {
	background: url(https://cdn.oppyo.com/launches/webpull/special/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 55px;
    background-position: 15px 25px;
    border: 1px solid #031528;
    border-radius: 20px;
}

@media (min-width: 768px) {
	.faq-section {
		padding: 100px 0px;
	}
}

.final-shape {
	background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
	border-radius: 15px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}

@media (min-width: 768px) {
	.final-shape {
		padding: 15px 40px;
		border-radius: 100px;
	}
}

.not-just{
    padding: 30px 0px;
    background: #EFEFF9;
}
@media(min-width:768px){
    .not-just{
        padding: 100px 0px;
    }
}
.countdown-container {
    padding: 10px;
    border: 2px dashed #FFFFFF;
    border-radius: 15px;
}

.white-section{
    padding: 30px 0px;
}
@media(min-width:768px){
    .white-section{
        padding: 100px 0px;
    }
}

.grey-section{
    padding: 30px 0px;
    background: #EFEFF9;
}
.regardless-sec{
	padding: 30px 15px;
	background: #11207c;
}
.dotted-border{
	border: 3px dashed #15C6FC;
	border-radius: 50px;
	display: inline-block;
	padding: 10px 40px;
}
@media(min-width:768px){
    .grey-section{
        padding: 100px 0px;
    }
    .regardless-sec{
		padding: 80px 80px;
		background: url(../images/regardless-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
    .arrow-down{
		position: relative;
		display: inline-block;
	}
	.arrow-down::after{
		position: absolute;
		top: 13px;
		right: -45px;
		content: url(../images/red-arrow.webp);
	}
    .left-line{
		position: relative;
	}
	.left-line::before{
		position: absolute;
		bottom: -27px;
		left: 0px;
		content: url(../images/red-line.webp);
	}
}
.smile-text{
	background: #FF2C2C;
    border-radius: 25px;
    padding: 9px 15px 9px 55px;
    position: relative;
    display: inline-block;
}
.smile-text::before{
	position: absolute;
	top: -23px;
	left: -60px;
	content: url(../images/thumbsup.webp);
}

.border-line {
    border: 1px dashed #031528;
}
.need-head{
	background: url(../images/need-head.png) no-repeat center center;
	background-size: 100% 100%;
	padding: 6px 30px;
	display: inline-block;
}
.bonus-head{
	background: #FF813B;
	border-radius: 15px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}
@media(min-width:768px){
    .bonus-head{
		padding: 15px 40px;
		border-radius: 100px;
	}
	.bonus-head::before{
		width: 70px;
		height: 1px;
		background: #FF813B;
		position: absolute;
		content: '';
		left: -70px;
	}
	.bonus-head::after{
		width: 70px;
		height: 1px;
		background: #FF813B;
		position: absolute;
		content: '';
		right: -70px;
	}
}

/* Inside Section Start */
.inside-section{
	padding: 30px 0px;
	background: #eff5f9;
}
.inside-box{
	background: rgba(21, 198, 252, 0.2);
	border-radius: 20px;
	padding: 28px;
}
@media(min-width:768px){
	.inside-section{
		padding: 100px 0px;
		background: url(../images/inside-bg.webp) no-repeat center center;
		background-size: cover;
	}
}

.cross-list{
	list-style: none;
}
.cross-list li{
	background: url(../images/cross-icon.webp) no-repeat;
    padding: 10px 0px 10px 45px;
    background-position: 0px 15px;
    text-align: left;
}
.table-border-content{
    background: #fff;
    border: 3px dashed #999;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: auto;
    padding-bottom: 10px;
}
.tb-check{
    background: #FEFE9B;
    padding: 20px 0px;
}
@media(min-width:768px){
    .table-border-content{
        max-width: 75%;
    }
}
.img-shadow {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
    max-height: 150px;
}
/******** Webgenie In Action Section ********/
.in-action-section{
	background: rgba(27, 69, 180, 1);
    padding: 30px 0px;
}
@media (min-width: 768px){
	.in-action-section {
		background: #fff url(../images/in-action-bg.webp) no-repeat center bottom;
		background-size: cover;
		padding: 100px 0px;
	}}

    .yellow-head{
        background: url(../images/yellow-highlight.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 6px 30px;
    display: inline-block;
    }

    .head-yellow
{
	display: inline-block;
    background: url(../images/yellow-heading.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 30px;
}
@media(min-width:768px){
    .head-yellow
	{
		padding: 10px 50px;
	}
}

.timer-header-top {
    background: #000;
    padding-top:10px;
    padding-bottom:10px; 
    }
    @media (min-width: 1199px){
        .header-section {
            margin-top: 100px;
        }}

        .tht-left {
            color: #fff;
            font-size: 20px;
            font-weight: 700;
        }


        .ruined-sec{
            background: #EFEFF9;
            padding: 30px 0px;
        }
        .red-box{
            border-radius: 20px;
            background:  #FF2C2C;
            padding: 20px;
        }
        @media(min-width:768px){
            .ruined-sec{
                padding: 100px 0px;
                background: url(../images/ruined-bg.webp) no-repeat center center;
                background-size: cover;
            }
            .red-box{
                padding: 20px 30px;
            }
        }

        .brainwashed-sec{
            background: #FFFFFF;
            padding: 30px 0px;
        }
        @media(min-width:768px){
            .brainwashed-sec{
                background: url(../images/brainwashed-bg.webp) no-repeat center center;
                background-size: cover;
                padding: 100px 0px;
            }
        }


        .grey-sec{
            padding: 30px 0px;
            background: #EFEFF9;
        }
        @media(min-width:768px){
            .grey-sec{
                padding: 100px 0px;
            }
        }

        .white-sec{
            padding: 30px 0px;
            background: #fff;
        }
        @media(min-width:768px){
            .white-sec{
                padding: 100px 0px;
            }
        }

        .blue-sec{
            padding: 30px 0px;
            background: radial-gradient(129.56% 86.37% at 35.38% 5.64%, #1C0D47 0%, #05002B 100%);
        }
        .red-brush{
            background: #FF2C2C;
            padding: 10px;
        }
        @media(min-width:768px){
            .blue-sec{
                background: url(../images/blue-bg.webp) no-repeat center center;
                background-size: cover;
                padding: 100px 0px;
            }
            .red-brush{
                padding: 10px 50px;
                background: url(../images/red-brush.webp) no-repeat center center;
                background-size: 100% 100%;
                display: inline-block;
            }
        }

        .thumsup-text{
            position: relative;
            display: inline-block;
            padding: 9px 20px 9px 47px;
            border-radius: 25px;
            background:  #FF2C2C;
        }

        .thumsup-text::before{
            position: absolute;
            top: -25px;
            left: -60px;
            content: url(../images/thumbsup-smily.webp);
        }

        .blue-sec1{
            padding: 30px 0px;
            background: radial-gradient(129.56% 86.37% at 35.38% 5.64%, #1C0D47 0%, #05002B 100%);
        }
        .purple-brush{
            padding: 10px;
            background-color: #7938ff;
        }
        .yellow-brush{
            padding: 10px;
            background: #fffd40;
        }
        @media(min-width:768px){
            .blue-sec1{
                padding: 100px 0px;
                background: url(../images/blue-sec1.webp) no-repeat center center;
                background-size: cover;
            }
            .purple-brush{
                padding: 10px 50px;
                background: url(../images/blue-gradient.webp) no-repeat center center;
                background-size: 100% 100%;
                display: inline-block;
            }
            .yellow-brush{
                padding: 10px 50px;
                background: url(../images/yellow-brush.webp) no-repeat center center;
                background-size: 100% 100%;
                display: inline-block;
            }

            .funeel-money{
                position: relative;
                display: inline-block;
            }
            .funeel-money::before{
                position: absolute;
                top: 15px;
                right: -15px;
                content: url(../images/out-water-arrow.webp);
            }
            .daily-text{
                position: relative;
                display: inline-block;
            }
            .daily-text::before{
                position: absolute;
                top: 15px;
                right: -40px;
                content: url(../images/daily-arrow.webp);
            }
            .funnel-text{
                position: relative;
                display: inline-block;
            }
            .funnel-text::after{
                position: absolute;
                top: 25px;
                left: -40px;
                content: url(../images/red-r-arrow.webp);
            }
            .funnel-text::before{
                position: absolute;
                top: 25px;
                right: -40px;
                content: url(../images/red-l-arrow.webp);
            }
        }

        .blue-sec2{
            padding: 30px 0px;
            background:  radial-gradient(129.56% 86.37% at 35.38% 5.64%, #1C0D47 0%, #05002B 100%);;
        }
        @media(min-width:768px){
            .blue-sec2{
                background: url(../images/blue-bg2.webp) no-repeat center center;
                background-size: cover;
                padding: 100px 0px;
            }
        }

        .experienced-sec{
            padding: 30px 0px;
            background: #FFF;
        }
        @media(min-width:768px){
            .experienced-sec{
                padding: 100px 0px;
                background: url(../images/experienced-bg.webp) no-repeat center center;
                background-size: cover;
            }
        }

        .success-sec{
            background: #EFEFF9;
            padding: 30px 0px;
        }

        @media(min-width:768px){
            .success-sec{
                padding: 100px 0px;
                background: url(../images/successful-bg.webp) no-repeat center center;
                background-size: cover;
            }
        }

        .cool-sec{
            padding: 30px 0px;
        }

        @media(min-width:768px){
            .cool-sec{
                padding: 100px 0px;
                background: url(../images/cool-bg.webp) no-repeat center center;
                background-size: cover;
            }
        }