/* GRAND BONUS 1 */
.grand {
	padding: 15px 0px;
    background: #ff7800;
}
.grand-logo-bg {
    background: #ffffff;
    padding: 15px 0;
}
.grand-bonus1-sec {
	background: #56c0be;
	background-size: cover;
	padding: 30px 0px;
}
.highlite {
	background: #ff9000;
}
@media (min-width: 768px) {
	.grand-bonus1-sec {
		background: #56c0be url(../images/grand-bonus1bg.png) no-repeat center;
		background-size: cover;
		padding: 60px 0px;
	}
	.grand {
		padding: 40px 15px;
	}
	.grand-logo-bg {
		background: #ffffff;
		padding: 30px 0;
	}
	.highlite {
		background: url(../images/highlight2.png) no-repeat 
	}
}
/* GRAND BONUS 2 */
.grand-bonus2-sec {
	background: #056fc6;
	background-size: cover;
	padding: 30px 0px;
}
.vmcolor {
    color: #ffeb00;
}
@media (min-width: 768px) {
	.grand-bonus2-sec {
		background: #056fc6  url(../images/grand-bonus2bg.png) no-repeat;
		background-position: top center;
		background-size: cover;
		padding: 60px 0px;
	}
}