html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Barlow', sans-serif;
    color: #000000;
    font-size: 14px;
	background: #ffffff;
	margin: 0;
	padding: 0;
	height: 100%;
}

.opensans {
	font-family: 'Open Sans', sans-serif;
}
.yellow-clr {
    color: #fff600;
}


	.xsem50 {
		font-size: 5em;
	}
	.xsem35 {
		font-size: 3.5em;
	}
	.xsem30 {
		font-size: 3em;
	}
	.xsem28 {
		font-size: 2.8em;
	}
	.xsem26 {
		font-size: 2.6em;
	}
	.xsem25 {
		font-size: 2.5em;
	}
	.xsem24 {
		font-size: 2.4em;
	}
	.xsem22 {
		font-size: 2.2em;
	}
	.xsem20 {
		font-size: 2em;
	}
	.xsem19 {
		font-size: 1.9em;
	}
	.xsem18 {
		font-size: 1.8em;
	}
	.xsem17 {
		font-size: 1.7em;
	}
	.xsem16 {
		font-size: 1.6em;
	}
	.xsem15 {
		font-size: 1.5em;
	}
	.xsem14 {
		font-size: 1.4em;
	}
	.xsem13 {
		font-size: 1.3em;
	}
	.xsem12 {
		font-size: 1.2em;
	}
	.xsem11 {
		font-size: 1.1em;
	}
	.xsem10 {
		font-size: 1em;
	}
	.xsem9 {
		font-size: 0.9em;
	}
	.xsem8 {
		font-size: 0.8em;
	}
	.xsem7 {
		font-size: 0.7em;
	}
	.xsem6 {
		font-size: 0.6em;
	}
	.xstext-center {
		text-align: center;
	}
	.xsmt0 {
		margin-top: 0;
	}
	.xsmt1 {
		margin-top: 1%;
	}
	.xsmt2 {
		margin-top: 2%;
	}
	.xsmt3 {
		margin-top: 3%;
	}
	.xsmt4 {
		margin-top: 4%;
	}
	.xsmt5 {
		margin-top: 5%;
	}
	.xsmt6 {
		margin-top: 6%;
	}
	.xsmt7 {
		margin-top: 7%;
	}
	.xsmt8 {
		margin-top: 8%;
	}
	.xsmt9 {
		margin-top: 9%;
	}
	.xsmt10 {
		margin-top: 10%;
	}
	.xsmt11 {
		margin-top: 11%;
	}
	.xsmt12 {
		margin-top: 12%;
	}
	.xsmt13 {
		margin-top: 13%;
	}
	.xsmt15 {
		margin-top: 15%;
	}
	.xsmt20 {
		margin-top: 20%;
	}
	.xsmt23 {
		margin-top: 23%;
	}
	.xsmt24 {
		margin-top: 24%;
	}
	.xsmt25 {
		margin-top: 25%;
	}
	.padding0_lg {
		padding: 0 10px;
	}
	.greysection {
		background: #ffffff;
		background-size: cover;
		width: 100%;
		height: auto;
		padding: 3% 0;
	}
	.whitesection {
		background: #ffffff;
		background-size: cover;
		color: #606060;
		width: 100%;
		height: auto;
		padding: 4% 0%;
		/* border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2; */
	}
	.formsection {
		padding: 20px 0 30px;
	}
	.form_area input[type="text"],
.form_area input[type="text"]:focus	{
		width:100%;
		box-shadow:none;
		outline:none;	
		border: 1px solid #a8a8a8;
		border-radius: 5px;
		background-color: #ffffff;
		height: 50px;
		font-size: 16px;
		font-weight: 500;
		box-shadow: none !important;
		color: #000000;
		padding: 6px 15px;
	}
	.form_area::-webkit-input-placeholder {
    color: #666666;
}

.form_area:-ms-input-placeholder {
    color: #666666;
}

.form_area::placeholder {
    color: #666666;
}
	}
	.formsection {
		padding: 8% 0 5% 0;
	}


.form_area input[type="submit"] {
	border-radius: 5px;
    background: #3f43ba;
    text-decoration: none;
    border: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px;
    line-height: 30px;
    font-weight: 700;
    outline: none;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    white-space: normal;
	}
@media (min-width: 768px) {
	.form_area input[type="submit"] {
		padding: 23px 20px;
	}
	.smem70 {
		font-size: 7em;
	}
	.smem60 {
		font-size: 6em;
	}
	.smem35 {
		font-size: 3.5em;
	}
	.smem30 {
		font-size: 3em;
	}
	.smem28 {
		font-size: 2.8em;
	}
	.smem26 {
		font-size: 2.6em;
	}
	.smem25 {
		font-size: 2.5em;
	}
	.smem24 {
		font-size: 2.4em;
	}
	.smem23 {
		font-size: 2.3em;
	}
	.smem22 {
		font-size: 2.2em;
	}
	.smem20 {
		font-size: 2em;
	}
	.smem19 {
		font-size: 1.9em;
	}
	.smem18 {
		font-size: 1.8em;
	}
	.smem17 {
		font-size: 1.7em;
	}
	.smem16 {
		font-size: 1.6em;
	}
	.smem15 {
		font-size: 1.5em;
	}
	.smem14 {
		font-size: 1.4em;
	}
	.smem13 {
		font-size: 1.3em;
	}
	.smem12 {
		font-size: 1.2em;
	}
	.smem11 {
		font-size: 1.1em;
	}
	.smem12 {
		font-size: 1.2em;
	}
	.smem10 {
		font-size: 1em;
	}
	.smem9 {
		font-size: 0.9em;
	}
	.smem8 {
		font-size: 0.8em;
	}
	.smem7 {
		font-size: 0.7em;
	}
	.mt0 {
		margin-top: 0;
	}
	.mt05 {
		margin-top: 0.5%;
	}
	.mt1 {
		margin-top: 1%;
	}
	.mt2 {
		margin-top: 2%;
	}
	.mt3 {
		margin-top: 3%;
	}
	.mt4 {
		margin-top: 4%;
	}
	.mt5 {
		margin-top: 5%;
	}
	.mt6 {
		margin-top: 6%;
	}
	.mt7 {
		margin-top: 7%;
	}
	.mt8 {
		margin-top: 8%;
	}
	.mt9 {
		margin-top: 9%;
	}
	.mt10 {
		margin-top: 10%;
	}
	.mt12 {
		margin-top: 12%;
	}
	.mt13 {
		margin-top: 13%;
	}
	.mt14 {
		margin-top: 14%;
	}
	.mt15 {
		margin-top: 15%;
	}
	.mt18 {
		margin-top: 18%;
	}
	.mt11 {
		margin-top: 0.7%;
	}
	.mt011 {
		margin-top: 11%;
	}
	.mt20 {
		margin-top: 20%;
	}
	.mlsm {
		margin-left: 0%;
	}
	.mlsm25 {
		margin-left: -25%;
	}
	.mlsm21 {
		margin-left: -21%;
	}
	.padding0_lg {
		padding: 0;
	}
	.greysection {
		background: #ffffff;
		background-size: cover;
		width: 100%;
		height: auto;
		padding: 2% 0;
	}
	.whitesection {
		background: #ffffff;
		background-size: cover;
		color: #606060;
		width: 100%;
		height: auto;
		padding: 3% 0%;
		/* border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2; */
	}
	
	.formsection {
		padding: 20px 0;
	}

}

@media (min-width: 992px) {
	.mdem70 {
		font-size: 7em;
	}
	.mdem45 {
		font-size: 4.5em;
	}
	.mdem36 {
		font-size: 3.6em;
	}
	.mdem35 {
		font-size: 3.5em;
	}
	.mdem30 {
		font-size: 3em;
	}
	.mdem28 {
		font-size: 2.8em;
	}
	.mdem26 {
		font-size: 2.6em;
	}
	.mdem25 {
		font-size: 2.5em;
	}
	.mdem24 {
		font-size: 2.4em;
	}
	.mdem23 {
		font-size: 2.3em;
	}
	.mdem22 {
		font-size: 2.2em;
	}
	.mdem21 {
		font-size: 2.1em;
	}
	.mdem20 {
		font-size: 2em;
	}
	.mdem19 {
		font-size: 1.9em;
	}
	.mdem18 {
		font-size: 1.8em;
	}
	.mdem17 {
		font-size: 1.7em;
	}
	.mdem16 {
		font-size: 1.6em;
	}
	.mdem15 {
		font-size: 1.5em;
	}
	.mdem14 {
		font-size: 1.4em;
	}
	.mdem13 {
		font-size: 1.3em;
	}
	.mdem12 {
		font-size: 1.2em;
	}
	.mdem11 {
		font-size: 1.1em;
	}
	.mdem10 {
		font-size: 1.0em;
	}
	.mdem9 {
		font-size: 0.9em;
	}
	.mdem8 {
		font-size: 0.8em;
	}
	.padding0_lg {
		padding: 0;
	}
	.greysection {
		background: #ffffff;
		background-size: cover;
		width: 100%;
		height: auto;
		padding: 2% 0;
	}
	.whitesection {
		background: #ffffff;
		background-size: cover;
		color: #606060;
		width: 100%;
		height: auto;
		padding: 2.5% 0%;
		/* border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2; */
	}


	.formsection {
		padding: 4% 0 0 0;
	}
}

@media (min-width: 1200px) {
	.em70 {
		font-size: 7em;
	}
	.em45 {
		font-size: 4.5em;
	}
	.em35 {
		font-size: 3.5em;
	}
	.em30 {
		font-size: 3em;
	}
	.em28 {
		font-size: 2.8em;
	}
	.em26 {
		font-size: 2.6em;
	}
	.em25 {
		font-size: 2.5em;
	}
	.em24 {
		font-size: 2.4em;
	}
	.em22 {
		font-size: 2.2em;
	}
	.em20 {
		font-size: 2em;
	}
	.em18 {
		font-size: 1.8em;
	}
	.em16 {
		font-size: 1.6em;
	}
	.em14 {
		font-size: 1.4em;
	}
	.em13 {
		font-size: 1.3em;
	}
	.em12 {
		font-size: 1.2em;
	}
	.em11 {
		font-size: 1.1em;
	}
	.em10 {
		font-size: 1em;
	}
	.em9 {
		font-size: 0.9em;
	}
	.em8 {
		font-size: 0.8em;
	}
	.em15 {
		font-size: 1.5em;
	}
	.ml1 {
		margin-left: 1%;
	}
	.ml4 {
		margin-left: 4%;
	}
	.ml5 {
		margin-left: 5%;
	}
	.ml22 {
		margin-left: -22%;
	}
	.greysection {
		background: #ffffff;
		background-size: cover;
		width: 100%;
		height: auto;
		padding: 1.5% 0%;
	}
	.whitesection {
		background: #ffffff;
		background-size: cover;
		color: #606060;
		width: 100%;
		height: auto;
		padding: 2% 0%;
		/* border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2; */
	}

	
	.formsection {
		padding: 5% 0 5% 0;
	}
}

.mb1 {
	margin-bottom: 1%;
}

.mb2 {
	margin-bottom: 2%;
}

.mb3 {
	margin-bottom: 3%;
}

.mb4 {
	margin-bottom: 4%;
}

.mb5 {
	margin-bottom: 5%;
}

.mb10 {
	margin-bottom: 10%;
}

.w300 {
	font-weight: 300;
}

.w400 {
	font-weight: 400;
}

.w500 {
	font-weight: 500;
}

.w600 {
	font-weight: 600;
}

.w700 {
	font-weight: 700;
}

.w800 {
	font-weight: 800;
}

.lh135 {
	line-height: 135%;
}

.lh150 {
	line-height: 150%;
}

.lh130 {
	line-height: 130%;
}

.lh125 {
	line-height: 125%;
}

.lh160 {
	line-height: 160%;
}

.lh165 {
	line-height: 165%;
}

.lh140 {
	line-height: 140%;
}

.paddinglr {
	padding-left: 5px;
	padding-right: 5px;
}

.padding0 {
	padding: 0;
}

.tick {
	color: #24d828;
}



.form_area input[type="submit"]:hover {
	background: #3f43ba;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile+label {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	padding: 1rem 0;
	text-align: center;
}

.no-js .inputfile+label {
	display: none;
}

.inputfile:focus+label,
.inputfile.has-focus+label {}

.inputfile+label div {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
	margin-top: -0.25em;
	margin-right: 0.25em;
}

.inputfile-1+label {
	border: 1px solid transparent;
	outline: none;
	color: #919191;
	border-radius: 5px;
	background: rgb(237, 237, 237);
	background: -moz-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(235, 235, 235, 1) 49%, rgba(237, 237, 237, 1) 51%, rgba(232, 232, 232, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(235, 235, 235, 1) 49%, rgba(237, 237, 237, 1) 51%, rgba(232, 232, 232, 1) 100%);
	background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, rgba(235, 235, 235, 1) 49%, rgba(237, 237, 237, 1) 51%, rgba(232, 232, 232, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#e8e8e8', GradientType=0);
}

.inputfile-1+label:hover {
	border: 1px solid #edc216;
	background: #fff;
	outline: none;
}

.gradient input {
	background: rgb(237, 237, 237);
	background: -moz-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(235, 235, 235, 1) 49%, rgba(237, 237, 237, 1) 51%, rgba(232, 232, 232, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(235, 235, 235, 1) 49%, rgba(237, 237, 237, 1) 51%, rgba(232, 232, 232, 1) 100%);
	background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, rgba(235, 235, 235, 1) 49%, rgba(237, 237, 237, 1) 51%, rgba(232, 232, 232, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#e8e8e8', GradientType=0);
}

.whitetext {
	color: #ffffff;
}

.lts1 {
	letter-spacing: 1px;
}


/* Footer Section Start CSS */

.footer-bg {
	background-color:#09090a;
	padding: 30px 15px;
}

.footer-ul {
	padding: 0px;
	margin: 0px;
}

.white-clr,
a.white-clr {
	color: #ffffff;
}

.footer-ul li {
	display: inline;
}

.white {
	color: #fff;
}

.strip-footer a {
	color: #fff;
}


/* Media Querry Section Start */

@media(min-width:767px) {
	.footer-bg {
		background-color:#09090a;
		padding: 50px 0px;
	}
}