/* Business App  Section */
.business-app-section {
	background: #ffffff;
	padding: 30px 0px;
}
.coloum-border .business-app-block {
	width: 100%;
	float: left;
	overflow:hidden;
	border:solid 1px #d3d3d3;
	text-align: center;
	padding:15px 15px 0px 15px;
}

.business-app-block .headline {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.business-app-block .content {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
}
.businessapp-list li {
    background: url(../images/green-tick.png) no-repeat;
    padding: 11px 0px 11px 45px;
    background-position: 0px 17px;
    list-style: none;
    margin: 0px;
}
@media (min-width:768px) {
	.business-app-section {
		padding: 100px 0px;
	}
	.coloum-border .business-app-block {
	padding:30px 30px 15px 30px;
	border-right:solid 1px #d3d3d3;
	border-left:hidden;
	border-top:hidden;
	border-bottom:solid 1px #d3d3d3;
}
.coloum-border:last-child .business-app-block {
	border-right:hidden;
}
	.business-app-block .headline {
    min-height: 104px;
	}
	.business-app-block .content {
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.border-hidden{border-bottom:hidden !important}
}
/* Business App  Section End*/

/* Blockbuster  Section */
.blockbuster-section {
	background: #e4e5f8;
	padding: 30px 0px;
}
@media (min-width: 768px) {
.headline-style{position:relative; display:inline-block; z-index: 99;}

.headline-style:after{
	content: '';
	position: absolute;
	background:#ffcf69;
	left: 0;
	right: 0;
	bottom: 5px;
	height: 22px;
	z-index: -9;
}
}
.blockbuster-block {
	width: 100%;
	float: left;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
	overflow:hidden;
}
.blockbuster-block .headline {
    background-color: #3f43ba;
    text-align: center;
    color: #ffffff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blockbuster-block .content {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    padding: 40px 15px;
	border-top:solid 5px #ffcf69;
}
@media (min-width:768px) {
	.blockbuster-section {
		background: #ffffff url(../images/blockbuster-bg.png) no-repeat center center;
		background-size: cover;
		padding: 100px 0px;
	}
	.blockbuster-block .headline {
    min-height: 107px;
	}
	.blockbuster-block .content {
	min-height: 254px;
	display: flex;
	align-items: center;
	justify-content: center;
}
}
/* Blockbuster  Section End*/

/* woah Section */
.woah-section {
	background: #12166f;
	padding: 30px 0px;
}
@media (min-width:768px) {
	.woah-section {
		background: #ffffff url(../images/woah-bg.png) no-repeat top center;
		background-size: cover;
		padding: 60px 0px 100px 0px;
	}
	.margintop-75{
		margin-top: -75px;
	}
}
/* woah Section End*/


/* Why Wait Section */
.whywait-section {
	background: #edeefc;
	padding: 30px 0px;
}
.whywait-list li {
    padding:0px 0px 25px 5px;
    margin: 0px;
}
.whywait-list li:last-child {
    padding-bottom:0px;

}
@media (min-width:768px) {
	.whywait-section {
		background: #ffffff url(../images/whywait-bg.png) no-repeat center center;
		background-size: cover;
		padding: 60px 0px 0px 0px;
	}	
}
/* Why Wait Section End*/

/* Commercial Section */
.commercial-section {
	background: #ffffff;
	padding: 30px 0px;
}

@media (min-width:768px) {
	.commercial-section {
		background: #ffffff url(../images/commercial-bg.png) no-repeat center center;
		background-size: cover;
		padding: 100px 0px;
	}
}
/* Commercial Section End*/

/* Literally Section */
.literally-section {
	background: #ffffff;
}
.literally-content {
    background-image: linear-gradient(to bottom left, #e3ecff, #ffedfc);
    border-radius: 20px;
	padding:15px;
}

@media (min-width:768px) {
    .literally-section {
		background: #ffffff url(../images/literally-bg.png) no-repeat top center;
		background-size: cover;
    }
    .literally-content {
        background: url('../images/rewind-bg.png') no-repeat center center;
        border-radius: 20px;
        padding:30px 50px;
		background-size: cover;
    }
}
/* Literally Section End*/


/* Solution Section */
.solution-section {
	background: #edeefc;
	padding: 30px 0px;
}
.loosing-side{
  border-radius: 10px;
  background-color: rgb(246, 140, 133);
  padding:20px;
  float:left;
  width:100%;
}
.winning-side{
  border-radius: 10px;
  background-color:#b8dbca;
  padding:20px;
  float:left;
  width:100%;
}
.loosing-side .content,
.winning-side .content{
  border-radius: 10px;
  background-color:#ffffff;
  padding:10px 5px 10px 20px;
  float:left;
  width:100%;
  margin-top:20px;
}
.loosing-side .dislike li {
	background: url(../images/dislike.png) no-repeat;
	padding: 12px 0px 5px 40px;
	background-position: 0px 20px;
	list-style: none;
	margin: 0px;
}
.winning-side .like li {
	background: url(../images/like.png) no-repeat;
	padding: 12px 0px 5px 40px;
	background-position: 0px 20px;
	list-style: none;
	margin: 0px;
}

.allset-list li:last-child {
	padding-bottom: 0px;
}
@media (min-width:768px) {
	.solution-section {
		padding: 100px 0px 100px 0px;
	}
}
/* Solution Section End*/

/* Bonus Section */
.bonus-section {
	background: #ffffff;
	padding: 30px 0px;
}

@media (min-width:768px) {
	.bonus-section {
		padding: 100px 0px;
		background: #ffffff url(../images/bonus-bg.png) no-repeat center center;
		background-size: cover;
	}
}
/* Bonus Section End*/


/* Money bAck Section */
.moneyback-section {
	background: #20238f;
	padding: 30px 0px;
	color: #ffffff;
}

@media (min-width:768px) {
	.moneyback-section {
		background: #20238f url(../images/moneyback-bg.png) no-repeat center center;
		background-size: cover;
		padding: 100px 0px 100px 0px;
	}
}
/* Money back Section End*/


/* Bonus Section */
.rewind-section {
	background: #e3d3ff;
	padding: 30px 0px;
}

.bonus-block {
	width: 100%;
	float: left;
	background-color: #ffffff;
	box-shadow: 0px -8px 20px 0px rgba(105, 107, 147, 0.2);
}

.bonus-block .headline {
	background-color: #ffffff;
	text-align: center;
	color: #000000;
	padding: 30px 15px 15px 15px;
	display: grid;
	align-items: center;
	justify-content: center;
}

.bonus-block .content {
	background-color: #40439f;
	text-align: center;
	color: #ffffff;
	padding: 25px 15px;
}

@media (min-width:768px) {
	.rewind-section {
		padding: 100px 0px;
		background: #e3d3ff url(../images/rewind-bg.png) no-repeat center center;
		background-size: cover;
	}
	.bonus-block .headline {
		min-height: 168px;
	}
	.bonus-block .content {
		min-height: 227px;
	}
}
/* Bonus Section End*/


/* All Set Section */
.allset-section {
	background: #ffcf69;
	padding: 30px 0px 0px 0px;
	color: #000000;
}

.allset-list li {
	background: url(../images/list-head.png) no-repeat;
	padding: 12px 0px 12px 40px;
	background-position: 0px 16px;
	list-style: none;
	margin: 0px;
}

.allset-list li:last-child {
	padding-bottom: 0px;
}

@media (min-width:768px) {
	.allset-section {
		padding: 60px 0px 0px 0px;
	}
}

/* All Set Section End*/


/* Table Section */
.table-section {
	background: #ffffff;
	padding: 30px 0px;
	color: #000000;
}

.table-wrap {
	border-radius: 10px;
	background-color: #fafaff;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
	width: 100%;
	float: left;
	overflow: hidden;
}

.table-head {
	padding: 40px 30px 30px 30px;
	text-align: center;
}

.table-content {
	padding: 60px 20px 40px 20px;
	background: #ffffff url(../images/tablecurveone.png) no-repeat center top;
	background-size: contain;
}

.table-btn {
	padding: 30px 20px;
	text-align: center;
}

.table-wrap1 {
	border-radius: 10px;
	background-color: #363a9c;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
	width: 100%;
	float: left;
	overflow: hidden;
}

.table-head1 {
	padding: 40px 30px 30px 30px;
	text-align: center;
}

.table-content1 {
	padding: 60px 20px 40px 20px;
	background: #222466 url(../images/tablecurvetwo.png) no-repeat center top;
	background-size: contain;
}

.center-line {
	background: #000000;
	height: 2px;
	display: inline-block;
	width: 100px;
}

.center-line-white {
	background: #ffffff;
	height: 2px;
	display: inline-block;
	width: 100px;
}

.table-list li {
	background: url(../images/table-tick.png) no-repeat;
	padding: 12px 0px 20px 35px;
	background-position: 0px 18px;
	list-style: none;
	margin: 0px;
	border-bottom: solid 1px #d7d7d7;
}

.table-list li.headline {
	background:#1c208c !important;
	padding:20px 0px 20px 0px;
	background-position: 0px 18px;
	list-style: none;
	margin: 0px;
	border-bottom:none !important;
	font-weight:700;
	text-align:center;
	color:#ffffff;
}

.table-list li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}

.table-list1 li {
	background: url(../images/table-tick.png) no-repeat;
	padding: 12px 0px 20px 35px;
	background-position: 0px 18px;
	list-style: none;
	margin: 0px;
	border-bottom: solid 1px #5153a1;
}
.table-list1 li.headline {
	background:#e6493e !important;
	padding:20px 0px 20px 0px;
	background-position: 0px 18px;
	list-style: none;
	margin: 0px;
	border-bottom:none !important;
	font-weight:700;
	text-align:center;
	color:#ffffff;
}

.table-list1 li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}

@media (min-width:768px) {
	.table-section {
		padding: 100px 0px;
	}
}

/* Table Section End*/

/* Testimonials Section */
.testimonials-section {
	background: #edeefc;
	padding: 30px 0px;
}
.testimonials-section1 {
	background: #ffffff;
	padding: 30px 0px;
}
.testimonials-section2 {
	background: #2e33b2;
	padding: 30px 0px;
}
.testimonials-section3 {
	background: #ffffff;
	padding: 30px 0px;
}
.testimonials-block{
	position:relative;
	background:#ffcf69;
	padding:30px 20px;
	float:left;
	width:100%;
	color:#000000;
	margin:10px 0px 10px -12px;
}
.testimonials-block-border{
    border: solid 1px #000000;
	position:relative;
	float:left;
	width:100%;	
	margin:10px 10px 10px 5px;
}
.author-wrap{
	display:inline-flex;
	float:left;
	align-items:center;
}
@media (min-width:768px) {
	.testimonials-section {
		padding: 100px 0px;
		background: #edeefc url(../images/testimonials-section-bg.png) no-repeat center center;		
	}
	.testimonials-section1 {
		padding: 100px 0px;
		
	}
	.testimonials-section2 {
		padding: 100px 0px 120px 0px;
		background: #ffffff url(../images/testimonials-dark-bg.png) no-repeat bottom center;
		background-size: cover;
		
	}
	.testimonials-section3 {
		padding: 100px 0px 50px 0px;
		background: #ffffff url(../images/testimonials-white-bg.png) no-repeat bottom center;
		background-size: cover;
		
	}
	.testimonials-block-border{
	margin:10px 10px 10px 15px;
	}
}

/* Testimonials Section End*/


/* Biz Profits  Section */
.biz-profits-section {
	background: #2a2fa9;
	padding: 30px 0px;
	color: #ffffff;
}

@media (min-width:768px) {
	.biz-profits-section {
		padding: 100px 0px 120px 0px;
		background: #ffffff url(../images/biz-profits-bg.png) no-repeat bottom center;
		background-size: cover;
	}
}

/* Biz Profits Section End*/

/* Frequently Asked Questions  */
.faq-section {
	padding: 30px 0px 0px 0px;
	background-color: #fff;
}
.faq-list {
	background: url(../images/faq-icon.png) no-repeat top left; 
	padding: 20px 15px 20px 45px;
	background-position: 0px 27px;
}

@media (min-width:768px){
    .faq-section
    {
        padding:70px 0px 0px 0px;
    }    
}
/* End Frequently Asked Questions */


/* Final Call   */
.finalcall-section {
	padding:30px 0px;
	background-color: #fff;
}
.final-call
    {
		background: url(../images/final-call.png) no-repeat bottom center; 
		display:inline-block;
		padding: 20px 20px 8px 20px;		
    }

@media (min-width:768px){
    .finalcall-section
    {
       background: #ffffff url(../images/step-bg.png) no-repeat center center;
		padding:100px 0px;
    }    
}
/* Final Call End */

/* Footer Section Start */
.footer-section {
    background: #09090a;
    padding: 30px 0px 30px 0px;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}
@media (min-width:768px){
	.footer-section {      
        padding: 50px 0px;
    }
}

/* Footer Section End */


