.container {
	height: unset;
}

.inner-content {
	height: unset;
}

#templateBody {
	font-family: 'Barlow', sans-serif;
	color: #000000;
	font-size: 14px;
}

html {
	scroll-behavior: smooth;
}

.blue-clr,
a.blue-clr {
	color: #1c208c;
	text-decoration: none;
}
.orange-clr,
a.orange-clr {
	color: #e6493e;
	text-decoration: none;
}
.orange-clr1,
a.orange-clr1 {
	color: #ffcf69;
	text-decoration: none;
}
.light-blue-clr
{
	color: #e0e1ff;
}
.green-clr
{
	color: #00cb00;
}
.red-clr
{
	color: #ff4e4e;
}

.clear {
	clear: both;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.d-inline-flex{display: inline-flex;}
.relative{position:relative;}
@media (max-width: 767px) {
	.mx-xs-auto,
	.mx-xs-center {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.xstext-center {
		text-align: center;
	}
}


/* Header Section Css Start */

.header-section {
	background: #ffffff;
	padding: 30px 0px;
}

.post-heading {
	background: #f8b2af;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 50px;
}

.post-heading1 {
	background: #f8b2af;
	padding: 10px 30px 10px 115px;
	display: inline-block;
	border-radius:50px;
	text-align: left;
}

.header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
}

.affiliate-link-btn a {
	color: #3f43ba;
	background: transparent;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	text-decoration: underline;
	padding: 0px;
}
.key-features-bg {
	background: url(../images/key-features-bg.png) no-repeat center center;
	background-size:100% 100%;
	padding:20px 15px;
}

.list-head {
	list-style: none;
}

.list-head li {
	background: url(../images/key-tick.png) no-repeat;
	padding: 8px 0px 8px 26px;
	background-position: 0px 12px;
	text-align: left;
}

.list-head li:last-child {
	border-bottom: 0px;
}
.stop-img{
	position: absolute;
    left: -5px;
}
@media (min-width:768px) {
	.header-section {
		background: #ffffff url(../images/header-bg.png) no-repeat center center;
		background-size: cover;
		padding: 40px 0px 100px 0px;
	}
	.header-section ul.leader-ul {
		margin-top: 12px;
	}
	.affiliate-link-btn a {
		border-radius: 5px;
		background: #3f43ba;
		text-decoration: none;
		text-align: center;
		display: block;
		padding: 13px 20px;
		font-size: 18px;
		line-height: normal;
		color: #ffffff;
		font-weight: 600;
	}
	.affiliate-link-btn a:hover {
		background: #4246cd;
		color: #ffffff;
	}
	.min-sm-video-width-left {
		width: 68%;
	}
	.min-sm-video-width-right {
		width: 32%;
	}
}
/* Header Section Css End */

/* CTA Section End*/
a.cta-link-btn {
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	display:inline-block;
	padding: 15px 12px;
	color: #ffffff;
	font-weight: 700;
	font-size: 28px;
	line-height: normal;
	white-space:normal;
	align-items:center;
	background-image: -moz-linear-gradient( 119deg, rgb(63,67,186) 0%, rgb(35,39,146) 100%);
	background-image: -webkit-linear-gradient( 119deg, rgb(63,67,186) 0%, rgb(35,39,146) 100%);
	background-image: -ms-linear-gradient( 119deg, rgb(63,67,186) 0%, rgb(35,39,146) 100%);
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
}
a.cta-link-btn:hover {
	background: rgb(63,67,186);
	background: linear-gradient(90deg, rgba(63,67,186,1) 0%, rgba(35,39,146,1) 100%);
	text-decoration: none;
}
@media (min-width: 768px){
a.cta-link-btn {
    font-size: 36px;
    padding:28px 74px 30px 74px;
}}
/* CTA Section End*/

/* Step Section Start */
.step-section1 {
    padding: 30px 0px;
    background:#edeefc;
}
       
@media (min-width: 768px){
	.step-section1 {
		background: #edeefc url(../images/step-bg1.png) no-repeat center center;
		background-size:cover;
		padding: 100px 0px;
	}
}
/* Step Section End */

/* Business Growth Section Start */
.business-growth-section {
    padding: 30px 0px;
    background:#ffffff;
}
  .business-shape{
  background-color: rgb(35, 40, 146);
  display:inline-block;
  padding:8px 35px;
  color:#ffffff;
  }     
@media (min-width: 768px){
	.business-growth-section {
		background: #ffffff url(../images/business-growth-bg.png) no-repeat center center;
		background-size:cover;
		padding: 100px 0px;
	}
}
/* Business Growth Section End */

/* Aware Section Start */
.aware-section {
    padding: 30px 0px;
    background:#ffffff;
}
       
@media (min-width: 768px){
	.aware-section {
		background: #ffffff;
		padding: 100px 0px 50px 0px;
	}
}
/* Aware Section End */

/* Current Market Section Start */
.current-market-section {
    padding: 30px 0px;
    background:#262a96;
}

.current-market-wrap {
	width:100%;
	float:left;
	padding:25px 15px 30px 15px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	position:relative;
	text-align:center;
}
.value-wrap {
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(231, 79, 56);
    color: #ffffff;
    position: absolute;
    bottom: -22px;
    white-space: nowrap;
    left: 0;
    margin: 0 auto;
    right: 0;
    max-width: 80%;
}
       
@media (min-width: 768px){
	.current-market-section {
		background: #ffffff url(../images/current-market-bg.png) no-repeat top center;
		background-size:cover;
		padding: 100px 0px;
	}
}
/* Current Market Section End */

/* Desk Section Start */
.desk-section {
    padding: 30px 0px;
    background:#ffffff;
}
.money-shape{
  border-radius: 20px;
  background-color: rgb(237, 238, 252);
  padding:20px;
  width:100%;
  float:left;
}

.money-list li {
	background: url(../images/blue-tick.png) no-repeat;
	padding: 15px 0px 15px 50px;
	background-position: 0px 17px;
	text-align: left;
	list-style: none;
}

.money-list li:last-child {
	border-bottom: 0px;
}       
@media (min-width: 768px){
	.desk-section {
		background: #ffffff url(../images/desk-bg.png) no-repeat center center;
		background-size:cover;
		padding: 100px 0px;
	}
	.money-list li {
	background-position: 0px 13px;

}
.money-shape{
  padding:50px;
}
}
/* Desk Section End */

/* Sadly Section Start */
.sadly-sec {
	background: #fceded;
	padding: 30px 0px;
}
.red-color {
	color: #ff0000;
}
.sadly-list {
	background: url(../images/sadly-icon.png);
	background-position: 8px 3px;
	background-repeat: no-repeat;
	padding: 0px 15px 0px 60px;
}
.sadly-block {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
@media (min-width:768px) {
	.sadly-sec {
		padding: 90px 0px 50px;
	}
	.sadly-list {
		background-position: 0px 3px;
		padding: 0px 0px 0px 60px;
	}
}
/* Sadly Section End */


/* Good-News-Section */
.good-news-section
{
	padding: 30px 0px;
	background:#ffffff;
}

.good-new-content
{
	background: url(../images/smily.png) no-repeat;
	padding: 15px 15px 15px 60px;
	background-position: 0px 19px;
}
.infact-block
{
	padding: 30px 15px;
	border-radius: 20px;
	background: #1c2088;
}

.shape-deep
{
	background: #ffcf69;
	padding: 12px 35px;
	display: inline-block;
	margin-top: -75px;
	position: absolute;
}
.phew-block
{
	position: relative;
	display: flex;
	justify-content: center;
}
.red-round
{
	position: relative;
	text-align: center;
}
.round-text
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.solution-list li {
	background: url(../images/cross-tick.png) no-repeat;
	padding: 15px 0px 15px 50px;
	background-position: 0px 17px;
	text-align: left;
	list-style: none;
}

.solution-list li:last-child {
	border-bottom: 0px;
} 

@media (min-width:768px){
.good-news-section
{
   padding: 100px 0px;
    background: url(../images/good-news-bg.png) no-repeat center center;
   background-size: cover;
}
.good-new-content
{
   padding: 20px 15px 20px 65px;
   background-position: 0px 32px;
}
.infact-block
{
   background: url(../images/infact-bg.png) no-repeat center center;
   background-size: cover;
   padding: 50px 40px;
}
.shape-deep
{
   margin-top: -110px;
}
}
 /* End-Good-News-Section */
 
 /* INtroduction Section Start */
.introduction-section {
	padding:0px 0px 30px 0px;
	background: #bec0c2 url(../images/introduction-bg.png) no-repeat bottom center;
	background-size:cover;
}
.prdly-pres {
    background: url(../images/prdly-pres.png) no-repeat top center;
    background-size: 100% 100%;
    padding: 15px 50px 30px 50px;
    display: inline-block;
}   
	
@media (min-width: 768px){
	.introduction-section {
		padding:0px 0px 50px 0px;
	}
	.prdly-pres {
    background: url(../images/prdly-pres.png) no-repeat top center;
    background-size: 100% 100%;
    padding: 41px 100px 76px 100px;
}
}
/* INtroduction Section End */


/* App Suite Section Start */
.appsuite-section {
	padding:30px 0px;
	background: #edeefc;
}
.appsuite-block {
    width: 100%;
    float: left;
    background-color: rgb(255, 255, 255);
     overflow: hidden;
	 padding:30px 20px 20px 20px;
	 text-align:center;
}
	
@media (min-width: 768px){
	.appsuite-section {
		padding:100px 0px;
		background: url(../images/appsuite-bg.png) no-repeat top center;
		background-size:cover
	}

}
/* App Suite Section End */


/* Anything Section Start */
.anything-section {
	padding:30px 0px;
	background: #282c98;
}

@media (min-width: 768px){
	.anything-section {
		padding:100px 0px;
		background: url(../images/anything-bg.png) no-repeat bottom center;
		background-size:cover
	}

}
/* Anything Section End */


/* Slider Section Start */
.slider-section1,
.slider-section3 {
	padding:30px 0px;
	background: #ffffff;
}
.slider-section2 {
	background: #ffffff;
}

@media (min-width: 768px){
	.slider-section1 {
		padding:70px 0px;
		background: url(../images/slider-bg1.png) no-repeat center center;
		background-size:cover
	}
	.slider-section2 {
		background: url(../images/slider-bg2.png) no-repeat center center;
		background-size:cover
	}
	.slider-section3 {
		background: url(../images/slider-bg3.png) no-repeat center center;
		background-size:cover;
		padding:70px 0px;
	}

}
/* Slider Section End */

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -100%; }
  .carousel-inner .active.right { left: 100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		     { left: -100%; }
  .carousel-col                { width: 100%; }
	.active > div:first-child { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}

.slider-block {
	background: #ffffff;
	box-shadow: 0px 0px 20px 0px rgba(116, 124, 142, 0.2);
	width: 100%;
	height: 270px;
	display: flex;
	justify-content: center;
    align-items: center;
	margin: auto;
}
@media (min-width: 1200px) {
	.slider-block {
		width: 270px;
		height: 270px;
	}
}
/* .author-wrap img{
	display: none;
} */
.vector-img{
	margin-bottom: -10px;
}
@media (min-width: 1024px) {
	.vector-img{
		margin-bottom: -73px;
	}
	.bonus-img{
		margin-top: -100px;
	}
}