/* MaxFunnel Section */

.revo-section {
    background: #ffffff url(../images/revobg.webp) no-repeat top center;
    background-size: cover;
    padding: 80px 0px;
}

.gen-section {
    background: #1e0159 url(../images/grs1.webp) no-repeat top center;
    background-size: cover;
    padding: 90px 0px;
}

.always-section {
    background: #e9ebf1 url(../images/grs1.webp) no-repeat top center;
    background-size: cover;
    padding: 80px 0px 70px;
}

.rtg-section {
    background: #ffffff url(../images/rtg-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 80px 0px;
}

.bl-section {
    background:#00165f url(../images/blbg.webp) no-repeat center center;
    background-size: cover;
    padding: 80px 0px;
}

.lbl-section {
    background: #ffffff url(../images/super-duper-section.webp) no-repeat center bottom;
    background-size: cover;
    padding: 80px 0px 120px 0px;
}

.revo-list li {
    background: url(../images/launch-tick-blue.webp) no-repeat;
    padding: 0 0 15px 40px;
    list-style: none;
    background-position: 1px 5px;
}

.revo-list li:last-child {
    padding-bottom: 0px;
}

.clear {
    clear: both;
}

.shp-blc {
    position: relative;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

.icn-shape {
    background-color: #f4f7fb;
    border-radius: 20px;
    padding: 60px 15px 15px 15px;
    min-height: 340px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.als1-section {
    background: #e9ebf1;
    background-size: cover;
    padding: 80px 0px 75px 0px;
}

.als111-section {
    background: #ffffff url(../images/als111-section.webp) no-repeat center center;
    background-size: cover;
    padding: 80px 0px;
}

.als11-section {
    background: #ffffff url(../images/als11-section.webp) no-repeat center center;
    background-size: cover;
    padding: 80px 0px;
}



.grab-section {
    background: #e9ebf1 url(../images/grs1.webp) no-repeat top center;
    background-size: cover;
    padding: 80px 0px;
}



.als4-section {
    background: #ffffff url(../images/serp.webp) no-repeat top center;
    background-size: cover;
    padding: 80px 0px;
}


.green-bg-section {
    padding: 70px 0px;
    background: #fd8b25;
}

.super-duper-section {
    background: #00165f url(../images/super-duper-section.webp) no-repeat center center;
    background-size: cover;
    padding: 80px 0px 100px 0px;
}

@media (min-width: 768px) {
.als1-section {
    background: #e9ebf1 url(../images/fe5-section-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 100px 0px 100px 0px;
}	
	
}

@media (max-width: 767px) {
    .lbl-section,
    .als4-section,
    .als6-section,
    .revo-section,
    .bl-section,
    .als3-section,
    .als1-section,
    .als11-section,
    .als111-section,
    .green-bg-section,
    .super-duper-section,
    .always-section,
    .grab-section,
    .als7-section {
        padding: 30px 0;
    }
    .gen-section {
        padding: 70px 0px 70px 0px;
    }
    .rtg-section {
        padding: 30px 0;
    }

    .lbl-section {
        background: #00165f;
    }
    .als2-section,
    .gen-section {
        background: #e9ebf1;
        padding: 30px 0;
    }
    .icn-shape {
        min-height: auto;
    }
}