html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}

/* Color CSS */

.white-clr {
    color: #fff;
}

.black-clr {
    color: #0f0f0f;
}

.red-clr {
    color: rgba(239, 71, 72, 1);
}
.header-nav{padding: 30px 15px;}
.header-section {
    background: #0f0f0f;
    padding: 30px 0px;
    position: relative;
}

.pre-heading {
    padding: 25px 15px;
    margin: 0px auto;
    background: url(../images/preheading.webp) no-repeat;
    display: inline-block;
    background-size: cover;
}

.but-design-border{
    border: solid 2px #252525;
    position: relative;
    display: inline-flex;
    border-radius: 10px;
}

.feature-shape{
    position: relative;
    background: #ff2c50;
    padding: 15px 20px;
    color: #fff;
    margin: -5px 5px 5px -5px;
    border-radius: 10px;
}

@media(min-width:768px){
    .feature-shape{
        padding: 15px 30px;
    }
}

@media(min-width:768px) {
    .pre-heading {
        padding: 20px 15px;
    }
    .header-section {
        background: #0f0f0f url(../images/header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}

.thats-not-all-section {
    background: #fff;
    background-size: cover;
    padding: 30px 0
}

.one-time-shape {
    padding: 10px;
    background: #224cb0;
    border-radius: 5px
}

.amazing-software-section1 {
    background: #f1f1f1;
    background-size: cover;
    padding: 30px 0
}

@media(min-width:767px) {
    .one-time-shape {
        background: url(../images/one-time-shape.webp) no-repeat center center;
        background-size: contain;
        border: 0;
        border-radius: 0;
        padding: 22px 15px 70px
    }
    .thats-not-all-section {
        padding: 100px 0 100px;
        background: url(../images/agency-upgrade-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .imahe-h-300 {
        height: 400px
    }
    .imahe-h-250 {
        height: 350px
    }
    .amazing-software-section1 {
        padding: 100px 0;
        background: url(../images/step-bg.webp) center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 15px 0px 25px 0px rgb(19 21 26 / 30%);
    z-index: 99;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.white-section {
    background: #fff;
    padding: 30px 0
}

.footer-section {
    background: #100f12;
    padding: 30px 0
}

.footer-ul {
    padding: 0;
    margin: 0
}

.footer-ul li {
    display: inline
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0
    }
}

.probtn1 a {
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    animation: glowing 5000ms infinite;
    border-radius: 25px;
    background-color: #ff2c50;
}

.probtn1 a:hover {
    transform: scale(1.05);
    transition: all .3s ease;
    background-color: #f60c29;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #f60c29;
    }
    40% {
        box-shadow: 0 0 20px #f60c29;
    }
    60% {
        box-shadow: 0 0 20px #f60c29;
    }
    100% {
        box-shadow: 0 0 -10px #f60c29;
    }
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101
}

.tablebox2 {
    background: #fff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #a2a1a3
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101
}

.tablebox3 {
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
    position: relative;
    border: solid 1px #0f0f0f;
}

ul.vgreytick {
    padding: 0
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #000
}

ul.vgreytick li:nth-child(odd) {
    background-color: #f1f1f1;
}

ul.vgreytick li:nth-child(even) {
    background-color: #fff
}

ul.vgreytick li:last-child {
    border-bottom: 0
}

ul.grey-tick-last {
    padding: 0
}

ul.grey-tick-last li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #08041e
}

ul.grey-tick-last li:last-child {
    border-bottom: 0
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #fff
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #f1f1f1;
}

.tbbg2 {
    background: #fff;
    padding: 50px 30px 30px 30px;
    background-size: cover;
    border-radius: 10px 10px 0 0
}

.tbbg3 {
    background: #100f12;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0 0
}

@media(min-width:768px) {
    .gx-6 {
        --bs-gutter-x: 4rem
    }
    .probtn1 a {
        font-size: 32px;
        padding: 20px 50px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    color: #000;
    background: #fff;
    border-radius: 0 0 10px 10px;
    border-top: 0
}

.myfeatureslastborder {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    min-height: 69px;
    background: #fff
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #f40c28;
}

@media(min-width:768px) {
    .myfeatureslast {
        padding: 30px
    }
    .f-md-70 {
        font-size: 70px
    }
}

.grey-section {
    background: #f1f1f1;
    padding: 30px 0
}

.moneyback-section {
    background: #0f0f0f;
    padding: 30px 0;
    color: #fff
}

.bonus-section {
    background: #f1f1f1 url(../images/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0
}

.table-section {
    background: #fff;
    padding: 30px 0
}

@media(min-width:768px) {
    .table-section {
        padding: 100px 0;
		 background:url(../images/table-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .bonus-section {
        padding: 70px 0
    }
    .moneyback-section {
        background: #0e2672 url(../images/moneyback-bg.webp) no-repeat top center;
        background-size: cover;
        padding: 80px 0px;
    }
}

@media(min-width:768px) {
    .white-section {
        padding: 100px 0;
    }
    .grey-section {
        padding: 100px 0;
    }
}

.header-list-block {
    border-radius: 0 0 20px 20px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0
}

@media(min-width:768px) {
    .header-list-block {
        padding: 40px 30px
    }
}

.second-section {
    padding: 0 0 30px 0;
    background: #fff
}

@media(min-width:768px) {
    .second-section {
        padding: 0 0 100px 0;
        background: #fff url(../images/second-sec-bg.webp) no-repeat;
        background-position: center center
    }
}

.img-animation {
    animation: 1s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.next-gen-sec {
    background: #0f0f0f url(../images/next-gen-bg.webp) no-repeat center bottom;
    background-size: cover;
    padding: 40px 0px;
}
.presenting-wrap {
    padding: 0px 0px 15px 0px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.25);
    max-width: 95%;
    margin: 20px auto 0px auto;
}
.presenting-head {
    background: url(../images/introducing-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 55px 70px 55px;
    display: inline-block;
    margin-top: -10px;
}
@media(min-width:768px){
    .next-gen-sec {
        padding: 100px 0px;
    }
    .presenting-wrap {
        padding: 0px 0px 100px 0px;
        max-width: 95%;
        border-radius: 50px;
        margin: 50px auto 0px auto;
    }
    .presenting-head {
        padding: 20px 140px 120px 140px;
        margin-top: -20px;
    }  
}
@media(min-width:1600px){
    .presenting-wrap {
        max-width: 85%;
    }
}