html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
    overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}

.underline-head{
    border-bottom: 2px solid #ee2128;
    
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}


/* Header Section Css Start */

.header-section {
    background: #000000;
    padding: 30px 0px;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.header-section ul.leader-ul li a {
    color: #ffffff;
}

.border-video {
    border-radius: 20px;
}

.affiliate-link-btn a {
    border-radius: 15px;
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 600;
}

.calendar-wrap {
    border-radius: 15px;
    background-color: #faf4f4;
    padding: 10px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.calendar-wrap:before {
    content: '';
    background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/prelaunch/curve1.png) no-repeat;
    position: absolute;
    z-index: 1;
    top: -14px;
    left: -18px;
    background-size: contain;
    width: 161px;
    height: 121px;
    z-index: -1;
}

.calendar-wrap:after {
    content: '';
    background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/prelaunch/curve2.png) no-repeat;
    position: absolute;
    z-index: 1;
    right: -18px;
    bottom: -10px;
    background-size: contain;
    width: 282px;
    height: 38px;
    z-index: -1;
}

.calendar-wrap-inline {
    border-width: 1px;
    border-color: rgb(11, 11, 49);
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #08041e;
}

.preheadline{
    background: rgba(255, 255, 255);
    border: 2px solid rgba(255, 255, 255);
    border-radius: 45px;
    display:inline-block;
    padding:10px;
  }
  .mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 20px 10px;
}
@media (min-width:768px) {
    .header-section {
        background: #000 url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/prelaunch/header-bg.webp);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 40px 0px 80px;
    }
    .mainheadline {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/prelaunch/top-heading-bg.webp) center center no-repeat;
        background-size: 100% 100%;
        padding: 30px;
        left: -5px;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }
    .preheadline{
        padding:10px 35px;
      }
    .affiliate-link-btn a {
        padding: 12px 25px;
        font-size: 20px;
    }
    .affiliate-link-btn a:hover {
        background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
        color: #ffffff;
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
}


/* Header Section Css End */

.second-section {
    background: #faf4f4;
    background-size: cover;
    padding: 30px 0px;
}
.video-box {
    position: relative;
    padding: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.video-box1 {
    position: relative;
    padding: 15px;
    background: linear-gradient(180deg, rgb(237 163 163) 0%, rgb(56 46 46 / 29%) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
ul.features-list {
    margin: 0px;
    padding: 0px;
}

ul.features-list li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/prelaunch/tick-icon.png) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

@media (min-width:768px) {
    .second-section {
        padding: 100px 0px;
    }
}

 .footer-section {
        background: #000;
        padding: 30px 0px;
    }
    
    .footer-ul {
        padding: 0px;
        margin: 0px;
    }
    
    .footer-ul li {
        display: inline;
    }
    
    @media (min-width: 768px) {
        .footer-section {
            padding: 50px 0px;
        }
    }
 
    /*Form-Style-Start*/
    
    .formbg {
        position: relative;
        padding: 15px;
        border-radius: 5px;
        background-color: #faf4f4;
    }
    
    @media (min-width: 768px) {
        .formbg {
            padding: 40px 30px;
            border: none;
            border-radius: 15px;
        }
    }
    
    .width-form {
        width: 100%;
        float: left;
        padding: 0px 0px;
    }
    
    @media (min-width: 768px) {
        .width-form {
            width: 33%;
            padding: 0px 5px !important;
        }
    }

    .register-btn1 input[type="submit"] {
        border-radius: 3px;
        background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 21px;
    color: #ffffff !important;
    font-weight: 600;
    width: 100%;
    border: none;
    height: 60px;
    }

    .register-btn1 input[type="submit"]:hover {
        background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
    }
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
    /*Form-Style-End*/
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    }
    .border-video {
        border-radius: 0px;
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    }