html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 14px;
}

/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.orange-clr {
    color: #f36f21;
}

.yellow-clr {
    color: #fff600;
}

.blue-clr {
    color: #0041b5;
}

.black-clr {
    color: #000000;
}

.blue-gradient{
    background: #459EFF;
    background: linear-gradient(90deg, #459EFF 32.27%, #0ACEE4 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.blue-gradient1{
    background: #459EFF;
    background: linear-gradient(90deg, #3485de 32.27%, #00c8de 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.under{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #459EFF 32.27%, #0ACEE4 74%);
    border-image-slice: 1;
}

/* Header CSS */

.header-section {
	background: rgb(9,20,120);
	background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
	background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 30px 0;
}

.affiliate-link-btn a {
    background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 15px;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 10px 20px;
	font-size: 18px;
	color: #ffffff !important;
	font-weight: 600;
	position: relative;
    overflow: hidden;
}

.affiliate-link-btn a::before {
    position: absolute;
    width: 100%;
    height: 34px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}
span.under {
    border-bottom: 4px solid;
}

.affiliate-link-btn a:hover {
    transition: all .3s ease;
    background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 400;
}

.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

/* Responsive Video CSS */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgba(208, 219, 227, 0.58);
    border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* White Timer css */


/* Black Timer css */

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.webp) no-repeat;
    background-position: 0 2px;
    padding: 0 0 15px 45px;
}

.second-section {
    background: #e8f1f5 url(../images/second-section-bg.webp) no-repeat center right;
    padding: 30px 0;
    background-size: 100% 100%;
}

.white-section {
    background: #ffffff;
    padding: 5% 0;
}

.blue-border {
    background: #d1e5f9;
    height: 3px;
    width: 100%;
}

.header-bordered-list li {
    list-style: none;
    background: url(../images/red-tick.webp) no-repeat;
    background-position: 0 7px;
    padding: 0 0 12px 45px;
    margin-top: 12px;
    border-bottom: 1px solid #f6ffd9;
}

.header-bordered-list li:last-child {
    border-bottom: 0px;
}

.live-section {
    background: #fbfbfb;
    padding: 30px 0 50px 0px;
}

.ground-breaking {
    padding: 30px 0px;
    background: #ffffff;
}

.launch-start-bg {
	padding:30px 15px;
	border-width: 1px;
	border-color:#898a9f;
	border-style: solid;
	border-radius: 5px;
	background-color: rgb(6 13 40);
	position: relative;
}

.start-bg {
    background: url(../images/launch-bg.webp) no-repeat center center;
    background-size: contain;
    padding: 4px 45px 4px 44px;
    border-radius: 0px;
}
.gap20{
	gap:20px;
}

.pre-heading {
    background: transparent;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
	position: relative;
    padding:10px;
    border: 2px solid rgba(10, 206, 228, 1);
}
.main-heading{
    background: transparent;
    background-size: cover;
    padding: 20px;
}

img.airo {
    position: absolute;
    left: 10%;
}
img.flag {
    position: absolute;
    right: 0%;
}
.proudly-sec {
	background: url(../images/proudly-shape.webp) no-repeat center center;
	background-size: contain;
	padding: 27px 50px 50px 50px;
	display: inline-block;
	margin-top: -48px;
}
.why-should{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 11px 15px 0px rgb(0 0 0 / 13%);
    display: inline-block;
    padding:15px;
    margin-top: -60px;
}

@media (min-width: 768px) {
    .main-heading{
        background: url(../images/main-heading-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 35px 45px 35px 44px
    }
	.pre-heading {
        padding: 15px 35px 15px 35px;
        border-radius: 40px;
    }
	.launch-start-bg {
	    padding: 30px;
    }
    .why-should{
        margin-top: -50px;
        padding: 25px 40px;
    }
    .proudly-sec {
        margin-top: -18px;
    }

    .ground-breaking {
        padding:50px 0px 100px 0px;
        background: #ffffff url(../images/bluebg1.webp) no-repeat center center;
        background-size: cover;
    }
    .live-section {
        background: #fbfbfb url(../images/live-sec.webp) no-repeat center center;
        background-size: cover;
        padding:100px 0px;
    }

    /* Timer CSS */

    /* Timer CSS End */
    .header-section {
        background: #091274 url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
}

/* Funnel Testimonial Box */

/* XS Margin Auto CSS */

@media only screen and (max-width: 767px) {
    .header-section ul.leader-ul li {
        padding: 0 2px;
        margin-top: 10px;
    }
}

/* MaxFunnel Section */

/* XS Margin Auto CSS */

@media (max-width: 767px) {
    .text-xs-center {
        text-align: center;
    }
}

/* Less Than Css */

/* new css */

.affiliate-btn a, a.affiliate-btn {
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 19px 20px;
    line-height: normal;
    font-weight: 700;
    outline: none;
	border-width: 1px;
	border-color: rgb(220, 220, 220);
	border-style: solid;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(93, 0, 6);
}

.affiliate-btn a:hover ,a.affiliate-btn:hover {
    background: #801219;
    text-decoration: none;
}

@media (min-width: 768px) {
   
    .affiliate-link-btn a {
        padding: 12px 25px;
		font-size: 20px;
    }
    .affiliate-link-btn a:hover {
		transition: all .3s ease;
    	background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
	}
}

a.promo-link {
    background-color: #002956;
    max-width: 100%;
    padding: 11px 30px;
    border-radius: 5px;
}

a.promo-link:hover {
    text-decoration: none;
	background:#001328;
}

.features-list-bg {
	background: #ffffff url(../images/features-list-bg.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    width: 100%;
    padding: 50px 30px;
    transition: transform .2s;
    cursor: pointer;
}

.features-list-bg:hover img{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (min-width:768px) {
	.features-list-bg {
        padding: 50px 30px;
        min-height: 254px;
    }
}

/****/

.proudly-tick li {
    background: url(../images/tick.webp) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 30px;
}

.proudly-tick li:last-child {
    padding-bottom:0px;
}


img.vert-move {
    -webkit-animation: mover 3s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}
		
		
.row-padding .col{
	padding-left: 25px !important;
	padding-right: 25px !important;
}
	
.huge-bg-sec {
	background: #e1e7f3 url(../images/huge-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0 30px;
}
 
@media(min-width:768px){
    .huge-bg-sec {
        padding:100px 0px;
    }
}

.reason-tick li {
    background: url(../images/tick.webp) no-repeat;
    background-position: 0 3px;
    list-style: none;
    padding: 0 0 20px 30px;
}

.prize-section {
    background: #dbe8ff;
    padding:30px 0px;
}
@media(min-width:768px){
    .prize-section {
        background: #dbe8ff url(../images/irr-img.webp) no-repeat center center;
        background-size:cover;
        padding: 100px 0px;
    }
}

.deep-funnel {
    background: #fbfbfb;
    padding: 30px 0px;
}
.otos-img{
    padding: 10px;
}
@media(min-width:768px){
    .deep-funnel {
        background: #fbfbfb url(../images/deep-funnel.webp) no-repeat center center;
        background-size: cover;
        padding:100px 0px;
    }
}

.reason-sec {
	background: #020d20;
	padding: 30px 0px 50px 0px;
}
@media(min-width:768px){
    .reason-sec {
        padding: 100px 0px 120px 0px;
        background:url(../images/reason-sec-bg.webp) no-repeat bottom center;
	    background-size: cover;
      
    }
}

.reciprocate-sec {
    /* background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1); */
    background: #030718;
    padding: 30px 0px;
}
@media(min-width:768px){
    .reciprocate-sec {
        background: #091274 url(../images/reci-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}

.contact-section {
    background: #f7f7f7;
    padding: 30px 0px 30px 0px;
}
@media(min-width:768px){
    .contact-section {
        background: #f7f7f7 url(../images/query-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 70px 0px;
    }
}

.next-gen-sec {
    background: #020715;
    background-size: cover;
    padding:30px 0px;
	position:relative;
}
.proudly-list-bg {
	background-color: #ffffff;
	padding: 15px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 20px 0px rgba(0, 42, 119, 0.3);

}
@media(min-width:768px){
    .next-gen-sec {
        background: #ffffff url(../images/next-gen-bg.webp) no-repeat center center;
        background-size:cover;
        padding: 0px 0px 50px 0px;
    }
    .proudly-list-bg {
        padding: 25px;
    }
}

.top-5 {
    background: #ffffff;
    padding: 30px 0px;
}
@media(min-width:768px){
    .top-5 {
        padding: 0px 0px 100px 0px;
        background: #fbfbfb url(../images/deep-funnel.webp) no-repeat center center;
        background-size: cover;
    }
}

a.link-text {
    color: #000000;
    text-decoration: none;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px
    }
}