html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}

.white-clr {
	color: #fff;
}

.black-clr {
	color: #000000;
}

.blue-clr {
	color: #2337f6;
}

.orange-clr {
	color: #f6841f;
}

.yellow-clr {
	color: #ffc332;
}
.yellow-clr1 {
	color: #ffdc7c;
}
.grey-clr {
    color: #4A4F56;
}
.red-clr {
    color: #ff5151;
}
.purple-clr {
    color: #6b91ff;
}
.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.d-inline-flex {
	display: inline-flex;
}

.relative {
	position: relative;
}


/* Header Section Css Start */
.header-section {
	background: #0e0a3b url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 70px 0px;
}

.header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
}

.header-section ul.leader-ul li a {
	color: #ffffff;
}

.border-video {
	border-radius: 20px;
}

.affiliate-link-btn a {
	text-decoration: none;
    text-align: center;
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    border-radius: 10px;
    background-image: -moz-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
}

.calendar-wrap {
    border-radius: 15px;
    background-color: #060a33;
    padding:12px 20px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.list-head {
	list-style: none;
}

.list-head li {
	background: url(../images/list-tick.webp) no-repeat;
	padding: 12px 0px 12px 30px;
	background-position: 0px 21px;
	text-align: left;
	border-bottom: solid 1px #091e42;
}

.list-head li:last-child {
	border-bottom: none;
}

.preline {
	position: relative;
	display: inline-flex;
}

.preline::before {
	content: '';
	border: solid 1px #ffffff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -5px;
	z-index: 1;
	right: -5px;
}

.preheadline {
    border-radius:15px;
    display:inline-table;
    padding:10px 15px;
    position: relative;
    z-index: 1;
    border-width: 2px;
    border-color:#8da6ff;
    background: #041975;
    border-style: solid;  
    box-shadow: inset 0px 0px 12.6px 1.4px rgba(0, 0, 0, 0.3); 
}

.postheadline {
	padding:15px;
    display: inline-table;
    background: rgb(6,10,51);
    background: linear-gradient(90deg, rgba(6,10,51,0) 0%, rgba(6,10,51,1) 48%, rgba(6,10,51,0) 100%);
}

@media (min-width:768px) {
	.header-section {		
		padding: 40px 0px 100px 0px;
	}

	.header-section ul.leader-ul {
		margin-top: 12px;
	}

	.affiliate-link-btn a {
		padding: 12px 25px;
		font-size: 20px;
	}

	.affiliate-link-btn a:hover {
		transition: all .3s ease;
		background-image: -moz-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
		background-image: -webkit-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
		background-image: -ms-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
		color: #ffffff;
	}

	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}

	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}

	.preheadline {
		padding:10px 30px;
        border-radius:150px;
	}

	.postheadline {
		padding:20px 25px;
	}
}

/* Header Section Css End */
.list-section {
	padding:0px 0px 30px 0px;
	background: #ffffff;
}

ul.features-list {
	margin: 0px;
	padding: 0px;
}

ul.features-list li {
	background: url(../images/bag-icon.webp) no-repeat;
	padding: 0px 0px 25px 40px;
	background-position: 0px 5px;
	list-style: none;
}

ul.features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}

/* .header-list-block {
	border-radius: 20px;
	padding: 20px 0px;
	background-color: #ffffff;
	box-shadow: 0px 0px 23.75px 1.25px rgb(0 0 0 / 20%);
	margin-top: -200px;
} */

.featues-list-block{
	background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 55px, transparent 55px) 0% 0%/60px 60px no-repeat,
	radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 55px, transparent 55px) 100% 0%/60px 60px no-repeat,
	radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 55px, transparent 55px) 0% 100%/60px 60px no-repeat,
	radial-gradient(circle at 0 0, #ffffff 0, #ffffff 55px, transparent 55px) 100% 100%/60px 60px no-repeat,
	linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 120px) no-repeat,
	linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 120px) calc(100% - 10px) no-repeat,
	linear-gradient(#172186 0%, #2a3dff 100%);
	border-radius:0px 0px 60px 60px;
	padding:80px 20px 20px 20px;
	box-sizing: content-box;
	margin-top: -50px;
	position: relative;
	z-index: 999;
}

@media (min-width:768px) {
	.list-section {
		padding:0px 0px 150px 0px;
		background:#eef5ff url(../images/list-section-bg.webp) no-repeat center bottom;
		background-size: cover;
	}
	.featues-list-block{
		border-radius:0px 0px 60px 60px;
		padding:100px 40px 40px 40px;
		box-sizing: content-box;
		margin-top: -50px;
	}
	.cart{
		position: absolute;
		bottom: 0px;
		right: -100px;
		z-index: 1;
		bottom: 0px;
	}
	.horn{
		position: absolute;
		bottom: 0px;
		left: -100px;
		z-index: 1;
		top:170px;
	}
}

/* CTA Button Start */
a.cta-link-btn {
	text-decoration: none;
	text-align: center;
	display:block;
	padding: 15px 5px;
	color: #ffffff;
	font-weight: 700;
	font-size: 22px;
	line-height: normal;
	white-space: normal;
	align-items: center;
	border-radius: 10px;
	transition: all 0.5s;
	background-image: -moz-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
}

a.cta-link-btn:hover {
	transition: all .3s ease;
    background-image: -moz-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
    background-image: -webkit-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
    background-image: -ms-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
    text-decoration: none;
}

@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 36px;
		padding: 22px 60px 24px 60px;
		display: inline-block;
	}
}

/* CTA Button End*/


/* Step Section Start */
.step-section {
	padding: 30px 0px;
	background: #ecf5ff;
	
}
.step-section1 {
	padding: 30px 0px;
	background: #ecf5ff;

}
.step-box{
	padding:40px 20px 40px 20px;
	height: 100%;
	border-radius: 15px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.2);
	position: relative;
  }
  .step-title{
	padding: 9px 30px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 12px;
    background-color: rgb(255, 200, 95);
    position: absolute;
    right: 20px;
    top: -25px;
  }
  .step-title1{
	padding: 9px 30px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 12px;
    background-color: rgb(255, 200, 95);
    position: absolute;
    left: 20px;
    top: -25px;
  }
  .step-icon{
	  border-radius: 20px;
	  background:#e6e8ec;
	  min-width: 100px;
	  min-height: 100px;
	  display: inline-flex;
	  align-items: center;
	  justify-content: center;
  }
  .step-arrow{
	  position: absolute;
	  right: -100px;
	  z-index: 9;
  }
  .step-arrow1{
	position: absolute;
	left: -100px;
	z-index: 9;
}
  .step-headline{
		border-width: 1px;
		border-color: rgb(255, 255, 255);
		border-style: solid;
		border-radius: 10px;
		background-color: rgb(35, 55, 240);
		display: inline-block;
		outline: solid 5px rgb(35, 55, 240);
		padding:5px 30px;
  }
@media (min-width: 768px) {
	.step-section {
		padding: 100px 0px 120px 0px;
		background:#172186 url(../images/step-section.webp) bottom center;
		background-size: cover;
	}
	.step-section1 {
		padding: 100px 0px 120px 0px;
		background:#172186 url(../images/step-section.webp) top center;
		background-size: cover;
	}
	.mt-md200{
		margin-top: 200px !important;
	}
	.mt-md160{
		margin-top: 160px !important;
	}
}

/* Step Section End */


/* Proof Section Start */
.proof-section {
	padding: 30px 0px;
	background: #eef5ff;
}

@media (min-width: 768px) {
	.proof-section {
		padding:0px 0px 150px 0px;
		background:#121457 url(../images/proof-bg.webp) center bottom no-repeat;
		background-size: cover;
	}
}

/* Proof Section End */


/* Team Section Sart */
.awesome-sections {
	padding: 30px 0px;   
	background:#0c0719;
}

.heading-design {
	padding: 12px 15px;
	display: inline-block;
	background-color: #FFE150;
	border-radius: 65px;
}

.hithere{
    border-radius: 10px;
    background-color:#ffffff;
    display:inline-block;
	align-items: center;
	justify-content: center;
    padding:15px;
    position: relative;
    z-index: 1;
}
@media (min-width: 768px) {
	.awesome-sections {
		background:#edf4ff url(../images/awesome-shape.webp) no-repeat center top;
		background-size: cover;
		padding: 120px 0px 150px 0px;
	}

	.heading-design {
		padding: 12px 50px;
	}
	.hithere{
		margin: 0px 15px;
		padding:15px 50px;
	}
	.hithere::before{
		content: '';
		position: absolute;
		left: -15px;
		background-color:#FFE150;
		width: 10px;
		height: 100%;
		z-index: -1;
		border-radius: 10px 0px 0px 10px;
		top: 0px;
    }
    .hithere::after{
        content: '';
		position: absolute;
		right: -15px;
		background-color:#FFE150;
		width: 10px;
		height: 100%;
		z-index: -1;
		border-radius: 0px 10px 10px 0px;
		top: 0px;
    }
}

/* Team Section End */


 /* Technology-section */
 .technology-sec{
    padding: 30px 0px; 
    background-image: -moz-linear-gradient( 90deg, rgb(17,20,45) 0%, rgb(13,19,75) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(17,20,45) 0%, rgb(13,19,75) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(17,20,45) 0%, rgb(13,19,75) 100%);    
}
@media(min-width:768px){
    .technology-sec{
		padding: 80px 0px 100px 0px;
        background:#fff url(../images/technology-bg.webp) no-repeat bottom center; 
        background-size: cover;         
    }
}
/* Technology-Section-End */

/* Stats Section Start */
.stats-sec{
    padding: 30px 0px; 
    background:#fff url(../images/stats-sec.webp) no-repeat center center; 
    background-size: cover; 
}

.stats-title{
	border-radius: 100px; /*1*/
	background: linear-gradient(#ffffff, #ffffff) padding-box,
	linear-gradient(to bottom, #ff4b7d, #ef6f25) border-box;
	border-radius: 50em;
	border: 4px solid transparent;
	padding:10px;
	display: inline-block;
	box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
 
}
.stats-gradient{
	background: -webkit-linear-gradient(180deg, #ff4b7d, #ef6f25 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

@media(min-width:768px){
    .stats-sec{
        padding: 100px 0px ;
    }
	
.stats-title{
	padding:10px 30px;
}
.sep-lines{
	position: absolute;
	top: 50px;
	left: calc(50% - 20px);
}
}
 /* Stats Section End */

 
/* Eselling Section Start */
.eselling-sec{
	padding: 30px 0px;   
	background-image: -moz-linear-gradient( 90deg, rgb(17,20,45) 0%, rgb(13,19,75) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(17,20,45) 0%, rgb(13,19,75) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(17,20,45) 0%, rgb(13,19,75) 100%);
}

@media(min-width:768px){
    .eselling-sec{
        padding: 120px 0px 120px 0px;
		background:#eef0ff url(../images/eselling-sec.webp) no-repeat top center; 
		background-size: cover; 
    }
}
 /* Eselling Section End */


 
/* Did You Know Section Start */
.didyouknow-sec{
    padding: 30px 0px;    
	background: #e2edff;
}

.youknow-block{
	border-width: 2px;
	border-color: rgb(10, 28, 141);
	border-style: solid;
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 20px 30px 0px rgba(8, 18, 82, 0.2);
	padding: 15px;
	display: inline-block; 
}
@media(min-width:768px){
    .didyouknow-sec{
        padding:80px 0px 120px 0px;
		background:#ffffff url(../images/didyouknow-sec.webp) no-repeat bottom center; 
		background-size: cover; 
    }
	.youknow-block{
		padding:15px 30px;	  
	}
}
 /* Did You Know Section End */



 /* Big Question */
.big-ques-sec {
    padding: 30px 0px 80px 0px;
    background: #eef0ff;
}
.blue-design {
    border-radius: 20px;
    background-color:#FFE150;
    display: inline-block;
    padding: 20px;
    position: relative;
}
.blue-design::after {
    content: '';
    background: url(../images/blue-curve.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -34px;
    right: 102px;
}
@media (min-width: 768px){
.big-ques-sec {
    padding: 80px 0px 150px 0px;
}
.blue-design {
    padding: 20px 30px;
	display: inline-block;
}

}
 /* Big Question End */

/* Option Section **/
.option-section {
	padding:0px 0px 30px 0px;
	background-color: #030814;
}

.option-shape {
	background-color: #ff5151;
	padding: 10px 30px;
	display: inline-block;
	border-radius: 100px;
}

.stats-minus{
	margin-top: -50px;
}

@media (min-width:768px) {
	.option-section {
		padding: 0px 0px 100px 0px;
		background: #070c1e url(../images/option-section.webp) center center no-repeat;
		background-size: cover;
	}

}

/* Option Section End**/

/* Any More Section */
.anymore-sec {
	padding:30px 0px 0px 0px;
	background-color:#ffffff;
}

@media (min-width:768px) {
	.anymore-sec {
		padding: 80px 0px 30px 0px;
		background: #080a32 url(../images/anymore-sec.webp) center bottom no-repeat;
		background-size: cover;
	}

}

/* Any More Section End */



/* Proudly there Section Start */
.proudly-sec {
    background: #ecf5ff url(../images/proudly-bg.webp) bottom center no-repeat;
    background-size: cover;
    padding:30px 0px 60px 0px;
}
.proudly-list-bg {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
    padding: 15px;
}
ul.proudly-list {
    margin: 0px;
    padding: 0px;
}
ul.proudly-list li {
    background: url(../images/check.webp) no-repeat;
    padding: 0px 0px 25px 45px;
    background-position: 0px 4px;
    list-style: none;
}

ul.proudly-list li:last-child {
    padding-bottom: 0px;
}
.intro-title {
    display: inline-block;
    padding: 22px 32px 22px 60px;
    position: relative;
    z-index: 1;
    background: url(../images/intro-title.webp) center center no-repeat;
    background-size: 100% 100%;
    align-items: center;
}
@media (min-width: 768px){
.proudly-sec {   
    padding:20px 0px 150px 0px;
}
.proudly-list-bg {
	padding: 30px;
}
.intro-title {
    padding: 35px 60px 35px 90px;
}
}
/* Proudly Section End */

/* Testimonals Section Start */
.testimonial-section {
	background:url(../images/testimonial-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
	position: relative;
	z-index: 9;
}

.testimonial-section2 {
	background:#eef5ff;
	padding: 30px 0px;
}
.testimonials-block-border {
    border: solid 1px #121457;
    position: relative;
    float: left;
    width: 100%;
    margin: 10px 10px 10px 5px;
}
.testimonials-block {
    position: relative;
    background: #eef5ff;
    padding: 30px 20px;
    float: left;
    width: 100%;
    color: #000000;
    margin: 10px 0px 10px -12px;
}
.testimonial-section2 .testimonials-block{
	background: #fff !important;

}
.author-wrap {
    display: flex;
    align-items: center;
}
@media (min-width:768px) {
	.testimonial-section2 {
		padding: 100px 0px;
		background:#eef5ff url(../images/testimonial-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.testimonial-section {
		padding:100px 0px;
	}
	.testimonials-block-border {
		margin: 10px 10px 10px 15px;
	}
}

/* Testimonals Section End */

/* PLatform Section */
.platform-section {
	padding: 30px 0px;
	background: #eef5ff;
}
.platform-box {
	padding: 40px 20px;
	height: 100%;
	border-width: 2px;
	border-color: rgb(10, 28, 141);
	border-style: solid;
	border-radius: 20px;
	background-color: rgb(255, 255, 255); 
}
.stats-minus1 {
    margin-top: -90px;
}
@media (min-width: 768px) {
	.platform-section {
		padding:0px 0px 150px 0px ;
		background:url(../images/platform-bg.webp) center bottom no-repeat;
		background-size: cover;
	}
	.stats-minus1 {
		margin-top: -50px;
	}
}

/* PLatform Section End */

/* thats-not-all-section */
.thats-not-all-section{
	background: #ffffff;
	padding: 30px 0px;
}
.one-time-shape{
    background: url(../images/one-time-shape.webp) no-repeat center center;
    padding: 7px 15px 53px 16px;
    display: inline-block;
    background-size: 100% 100%;
}
.huge-opportunity-shape {
    background: #eef5ff;
    border-radius: 15px;
    padding: 15px;
}
@media (min-width:768px) {
	.thats-not-all-section{
	background: #ffffff url(../images/thats-not-all-section.webp) no-repeat center center;
	background-size: cover;
	padding:100px 0px 50px 0px;
	}
	.one-time-shape{
		padding: 7px 15px 40px 16px;
		display: block;
		background-size: auto;
	}
	.huge-opportunity-shape {
		background: url(../images/huge-opportunity-shape.webp) no-repeat center center;
		background-size: 100% 100%;
		border-radius: 0px;
		padding: 70px 40px 70px 40px;
	}
}
/* thats-not-all-section End */


img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}