/* Support Section */

.support-section {
    padding: 30px 0px;
    background: #0c0719;
}

.feature-wrapper {
    background-color: rgb(35, 38, 70);
    box-shadow: 0px 10px 20px 0px rgb(11 11 26 / 30%);
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    text-decoration: none;
    gap: 15px;
    text-align: center;
    height: 100%;
}

@media (min-width:767px) {
    .support-section {
        padding: 0px 0px 80px 0px;
        background: #ffffff url(../images/awesome-shape.webp) no-repeat center bottom;
        padding: 80px 0px 150px 0px;
    }
    .feature-wrapper {
        padding: 30px;
    }
}


/* Support Section End */


/* Compare Table  Section */

section.comp-table ul {
    list-style: none;
    padding: 0;
}

section.comp-table ul li {
    border-left: 1px solid #eef0ff;
    border-right: 1px solid #eef0ff;
    height: 60px;
    line-height: 60px;
    align-items: flex-start;
    align-content: center;
    padding: 0px 25px;
    justify-content: center;
    background: #ffffff;
}

@media (min-width:768px) {
    section.comp-table ul li {
        border-left: 1px solid #eef0ff;
        border-right: 1px solid #eef0ff;
        height: 110px;
        line-height: 110px;
        display: flex;
        align-items: flex-start;
        align-content: center;
        padding: 0px 20px;
        justify-content: start;
    }
}

section.comp-table ul li:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    font-weight: 600;
}

section.comp-table ul li:nth-child(odd) {
    background: #eef5ff;
}

section.comp-table .fist-row li:first-child {
    border-top-right-radius: 0px;
    border-top: 1px solid #eef0ff;
}

section.comp-table .third-row li:first-child {
    border-top-left-radius: 0px;
}

section.comp-table .fist-row li:last-child {
    border-bottom: 1px solid #eef0ff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

section.comp-table .second-row li:first-child {
    border-top: 1px solid #eef0ff;
    height: 150px;
    text-align: center;
    align-items: center;
    background: #6e44ff;
}

section.comp-table .second-row li:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .third-row li:last-child {
    border-bottom: 1px solid #eef0ff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .forth-row li:last-child,
section.comp-table .fifth-row li:last-child,
section.comp-table .sixth-row li:last-child {
    border-bottom: 1px solid #eef0ff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .second-row li:last-child {
    border-bottom: 1px solid #eef0ff;
    height: 50px;
}

section.comp-table .second-row {
    margin-top: -50px;
}

section.comp-table .second-row ul li {
    background: #14208e;
}

section.comp-table .second-row ul li:nth-child(odd) {
    background: #14208e;
}

section.comp-table .third-row li:first-child {
    align-items: center;
    border-top: 1px solid #eef0ff;
}

section.comp-table .second-row ul li,
section.comp-table .third-row ul li,
section.comp-table .forth-row ul li,
section.comp-table .fifth-row ul li,
section.comp-table .sixth-row ul li {
    justify-content: center;
    text-align: center;
}

@media (max-width:767px) {
    section.comp-table ul li {
        height: 100px;
        line-height: 22px;
        padding: 15px;
    }
    section.comp-table .second-row li:first-child svg {
        transform: rotate(90deg);
        height: 30px!important;
    }
    section.comp-table .third-row li:first-child span,
    section.comp-table .forth-row li:first-child span,
    section.comp-table .fifth-row li:first-child span,
    section.comp-table .sixth-row li:first-child span {
        transform: rotate(90deg);
    }
    section.comp-table .second-row li:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

section.comp-table .second-row li:first-child {
    justify-content: center;
}

section.comp-table .third-row li:first-child {
    justify-content: center;
}

@media (min-width:768px) {
    section.comp-table ul li {
        align-items: center;
        justify-content: start;
        line-height: normal;
        flex-wrap: wrap;
    }
}

section.comp-table ul li span {
    padding-right: 10px;
    display: contents;
}

@media (max-width:767px) {
    section.comp-table .fist-row li:first-child,
    section.comp-table .third-row li:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.comp-table .second-row li:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    section.comp-table .second-row li:first-child svg {
        max-height: 22px!important;
        height: 30px!important;
    }
    section.comp-table ul li {
        height: 180px;
        line-height: 22px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.comparetable-section {
    padding: 30px 0px;
    background: #ffffff;
}


.no-comparison-shape {
    background: #efedf7;
    padding: 15px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .no-comparison-shape {
        background: url(../images/no-comparison.webp) no-repeat;
        background-size: contain;
        height: 633px;
        width: 1173px;
        padding: 80px 70px 15px 400px;
    }

    .comparetable-section {
        padding: 50px 0px 100px 0px;
        background:transparent url(../images/compare-bg.webp) center center no-repeat;
        background-attachment: fixed;
    }
}


/* Compare Table Section End */


/* Targeted CSS */

.need-marketing {
    background: #ffffff;
    padding: 30px 0px;
}

.noneed-listing li {
    list-style: none;
    background: url(../images/tick-icon.webp) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
    min-height: 42px;
}

.noneed-listing li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .need-marketing {
        background: url(../images/works-seamlessly.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}

.look-shape {
    border-radius: 20px;
    padding: 20px 15px;
    color: #ffffff;
    width: 100%;
    float: left;
    background-color: #6e44ff;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}


/* Targeted CSS End*/


/* Bonus Section */

.bonus-section {
    background: #efedf7 url(../images/bonus-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.margin-t-60 {
    margin-top: -40px;
}

.margin-t-37 {
    margin-top: -25px;
}

.bonus-section-shape {
    position: relative;
    border-radius: 10px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    height: 100%;
}

.bonus-headline {
    background: #f6841f;
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}

.bonus-gradient {
    background: #f6841f;
    display: inline-block;
    padding: 30px 30px 15px 30px;
    border-radius: 0px 0px 30px 30px;
}
.bonus-title{
    background: url(../images/bonus-shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding:15px;
    text-align: center;
}
@media (min-width: 768px) {
    .bonus-title{
        padding: 25px;
        background-size: contain;
    }
    .bonus-section {
        padding: 100px 0px;
    }
    .margin-t-60 {
        margin-top: -60px;
    }
    .bonus-section-shape {
        padding: 20px;
    }
    .margin-t-37 {
        margin-top: -37px;
    }
    .f-md-100 {
        font-size: 100px;
    }
    .lh240 {
        line-height: 240%;
    }
}


/* Bonus Section End */

.license-section {
    background: #ffffff url(../images/license-section-bg.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding:30px 0px 30px 0px;
}

.amazing-sound{padding: 30px 0px;}

.mt-20px {
    margin-top: -20px;
}

@media (min-width:768px) {
    .license-section {
        padding:100px 0px 120px 0px;
        background-size: cover;
    }
    .amazing-sound{padding: 100px 0px;}
}

.noneed-section {
    padding: 30px 0px;
}

.noneed-shape {
    padding: 15px;
    position: relative;
    background: #eef5ff;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .noneed-shape {
        padding: 30px;
    }
    .noneed-section {
        padding: 50px 0px 100px 0px;
    }
}

.noneed-list li {
    list-style: none;
    background: url(../images/tick-icon.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 25px 40px;
}
.noneed-list li:last-child{
	padding-bottom:0px;
}

.noneed-list li.happy {
    list-style: none;
    background: url(../images/happy-emoji.webp) no-repeat !important;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}

.riskfree-section {
    background: #090a2e;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .riskfree-section {
        padding: 100px 0px;
        background: #ffffff url(../images/riskfree-bg.webp) no-repeat center top;
        background-size: cover;
    }
}


/* Table Section */

.table-section {
    background: #ffffff;
    padding: 30px 0px;
    color: #000000;
}

.table-wrap {
    width: 100%;
    float: left;
    overflow: hidden;
    border-width: 1px;
    border-color: rgb(216, 216, 225);
    border-style: solid;
    border-radius: 30px;
    background-color: #fff;
}

.table-head {
    padding: 50px 30px 30px 30px;
}

@media (min-width: 768px) {
    .table-head {
        padding: 50px 30px 30px 30px;
    }
}

.table-content {
    padding: 60px 20px 40px 20px;
    background: #ffffff url(../images/tablecurveone.webp) no-repeat center top;
    background-size: contain;
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
}

.table-wrap1 {
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 40px;
    background-color: #14208e;
    box-shadow: 0px 0px 28px 7px rgba(0, 0, 0, 0.2);
}

.table-head1 {
    padding: 50px 30px 30px 30px;
    text-align: center;
}

@media (min-width: 768px) {
    .table-head1 {
        padding: 50px 30px 30px 30px;
        text-align: center;
    }
}

.table-content1 {
    padding: 60px 20px 40px 20px;
    background: #222466 url(../images/tablecurvetwo.webp) no-repeat center top;
    background-size: contain;
}

.center-line {
    background: #000000;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.center-line-white {
    background: #ffffff;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.table-list li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    background-image: url(../images/list-tick.webp), url(../images/table-sep-line.webp);
    background-position: 20px 20px, bottom center;
    background-repeat: no-repeat, no-repeat;
}

.table-list li.cross-sign {
    background-image: url(../images/launch-cross.webp), url(../images/table-sep-line.webp) !important;
    background-position: 20px 18px, bottom center !important;
    background-repeat: no-repeat, no-repeat;
}

.personal-shape {
    background-color: #14208e;
    display: inline-block;
    padding: 12px 50px;
    border-radius: 65px;
    text-transform: uppercase;
}

.commercial-shape {
    background-color: #f6841f;
    display: inline-block;
    padding: 12px 75px;
    border-radius: 65px;
    text-transform: uppercase;
    position: relative;
}

.commercial-shape:before {
    position: absolute;
    left: -8px;
    top: -6px;
    z-index: 9;
    content: '';
    background: url(../images/money-icon.webp) no-repeat;
    width: 89px;
    height: 79px;
    background-size: 100% 100%;
}


/*.table-list li:nth-child(odd) {
    background-color: #efedf7 !important;
}

.table-list li:nth-child(even) {
    background-color: #ffffff;
}*/

@media (min-width: 768px) {
    .table-list li {
        padding: 15px 15px 15px 57px;
    }
}

.table-list li.headline {
    background: #041975 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.table-list li:last-child {
    border-bottom: none;
}

.table-list1 li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
    background-image: url(../images/list-tick.webp), url(../images/table-sep-line1.webp);
    background-position: 20px 20px, bottom center;
    background-repeat: no-repeat, no-repeat;
}

.table-list1 li.headline {
    background: #fdbe39 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.table-list1 li:last-child {
    border-bottom: none;
    /* padding-bottom: 0px; */
}


/*.table-list1 li:nth-child(odd) {
    background-color: #ffffff;
}

.table-list1 li:nth-child(even) {
    background-color: #e7dfff;
}*/

@media (min-width:768px) {
    .table-section {
        padding: 70px 0px 70px 0px;
        background: transparent url(../images/compare-bg.webp) center bottom no-repeat;
        background-attachment: fixed;
}
    .table-list1 li {
        padding: 15px 15px 15px 57px;
    }
}


/* Table Section End*/


.contact-section {
    background: #ffffff url(../images/contact-section.webp) no-repeat center center;
    background-size: cover;
}
.contact-block{   
    padding:20px;
    position: relative;
    background: linear-gradient(102.18deg, #0A1347 7.04%, #0D2183 108.72%);
    border-radius: 30px;
}
.contact-shape {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
    padding: 30px;
}
@media (min-width: 768px){

.contact-block{
    padding:80px;
    background: url(../images/contact-block.webp) no-repeat center center;
    background-size: 100% 100%;
}
.contact-shape {
    padding: 25px 0px;
}
}


.faq-section {
    padding: 30px 0px;
    background-color: #fff;
}

.faq-list {
    background: url(../images/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 22px;
}

@media (min-width: 768px) {
    .faq-section {
        padding: 100px 0px;
    }
}

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/* cta  */

.cta-section-new {
    background: #172186;
    padding: 30px 0;
    position: relative;
    z-index: 9999;
}

@media (min-width:768px) {
    .cta-section-new {
        padding: 80px 0;
    }
}

.final-section {
    padding: 30px 0;
    background: #14208e;
}

.final-shape {
    background-color: #f6841f;
    padding: 10px 20px;
    display: inline-block;
    line-height: 30px;
    border-radius: 65px;
}

@media (min-width: 768px) {
    .final-section {
        padding: 100px 0;
    }
    .final-shape {
        padding: 15px 40px 15px 40px;
        line-height: 100%;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.table-list li:nth-child(odd) {
    background-color: #eef0ff;
}
.table-list li:nth-child(even){
    background-color: #ffffff;
}
.table-list1 li:nth-child(odd){
    background-color:#041975;
}
/* .table-list1 li:nth-child(even){
    background-color: #ffffff;
} */