/* Demo Section Start */
.demo-section {
	padding: 30px 0px 120px 0px;
    background: #172186 ;
}
@media (min-width: 768px) {
    .demo-section {
        padding:100px 0px 150px 0px;
        background: #172186  url(../images/demo-section.webp) no-repeat center center;
        background-size: cover;
    }
}
/* Demo Section End */

/* Feature 1 Section Start */
.features-headline {
	background:url(../images/feature-headline.webp) no-repeat bottom center;        
	background-size:cover;
	padding: 30px 0px 60px 0px;
}
.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}
.features-white {
	background:#ffffff;
	padding: 30px 0px;
}
.features-grey {
    background: #eef5ff;
    padding: 30px 0px;
}
.features-dark {
    background: #060d2e;
    padding: 30px 0px;
}
.list-gap{
    --bs-gutter-y: 40px;
}
.list-gaps{
    --bs-gutter-y:30px;
}
.fea-white{
    padding:20px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.features-one {
	background:url(../images/feature1-bg.webp) no-repeat center center;        
	background-size:cover;
	padding: 30px 0px;
}
.features-three {
	background:url(../images/feature3-bg.webp) no-repeat top center;        
	background-size:cover;
	padding:80px 0px 30px 0px;
}
.features-twelve {
	background:url(../images/feature-bg12.webp) no-repeat center center;        
	background-size:cover;
	padding:80px 0px 30px 0px;
}
.features-nine {
	background:url(../images/feature9-bg.webp) no-repeat center center;        
	background-size:cover;
	padding:60px 0px 30px 0px;
}
.features-four {
	background:url(../images/feature-bg4.webp) no-repeat bottom center;        
	background-size:cover;
	padding:30px 0px;
}
.features-eleven {
	background:#010b4c url(../images/feature-bg4.webp) no-repeat bottom center;   
	padding:30px 0px;
}
.features-five {
	background:url(../images/feature-bg5.webp) no-repeat center center;        
	background-size:cover;
	padding:30px 0px;
}
.features-fives {
	background:url(../images/feature-bg5.webp) no-repeat center center;      
	padding:30px 0px;
}
@media (min-width:768px) {
    .features-white,
    .features-headline,
    .features-one,
    .features-five,
    .features-fives
     {        
		padding:80px 0px;
    }
    .features-four,
    .features-eleven,
    .features-twelve
     {        
		padding:80px 0px 140px 0px;
    }
    .features-nine {        
		padding:150px 0px 80px 0px;
    }
    .features-grey {
        padding: 100px 0px;
    }
    .features-dark {
        padding: 100px 0px;
    }
    .features-three {
        padding: 150px 0px 100px 0px;
    }
    .list-gap{
        --bs-gutter-y: 80px;
    }
    .list-gaps{
        --bs-gutter-y:40px;
        --bs-gutter-x:40px;
    }
    .fea-white{
        padding:30px;
        height: 100%;
    }
}

