html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}
.rubik{
    font-family: 'Rubik', sans-serif;
}
.caveat{
	font-family: 'Caveat', cursive;
}
.white-clr {
    color: #fff;
}
.black-clr {
    color: #14142A;
}
.orange-gradient {
    background: linear-gradient(180deg, #EF9823 0%, #F0592D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
/* Header Section CSS */
.header-section {
    background: #eff5f9 url(../images/header-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px;
}
.preheadline {
    display: inline-block;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 35px;
}
.main-heading {
    background: transparent;
    background-size: cover;
    padding: 20px;
    position: relative;
    z-index: 9;
    top: -5px;
}

@media(min-width:768px){
    .header-section {
        padding: 50px 0px 300px 0px;
    } 
	.preheadline {
		padding: 15px 30px;
	}
	.main-heading {
		background: url(../images/heading-design.webp) no-repeat center center;
		background-size: 100% 100%;
		padding: 35px 45px 35px 44px;
	}
}

.probtn1 a {
	transition: all .3s ease;
	background: linear-gradient(180deg, #F05F2C 0%, #EF9224 100%);
    border-radius: 15px;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	width: 100%;
	font-size: 24px;
	line-height: 140%;
}

.probtn1 a:hover {
	transition: all .3s ease;
    background: linear-gradient(180deg, #EF9224 0%, #F05F2C 100%);
}

@media(min-width:768px) {
	.probtn1 a {
		font-size: 30px;
    padding: 28px 60px;
    display: inline-block;
    width: auto;
	}
}

/* List-section */
.header-list-block {
    padding: 20px 0;
    margin: 0;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}
.second-section {
    padding: 0 0 30px 0;
    background: #fff;
}
@media (min-width: 768px) {
	.header-list-block {
		padding: 40px 30px 80px 30px;
		margin-top: -240px;
}
.second-section {
	padding: 0 0 100px 0;
    background: #fff url(../images/list-section-bg.webp) no-repeat center center;
    background-size: cover;
}
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.grey-section1 {
    background: #efedf7 url(https://cdn.oppyo.com/launches/viddeyo/elite/grey-bg.webp) no-repeat;
    background-position: center center;
    padding: 30px 0;
}
@media (min-width: 768px){
.grey-section1 {
    padding: 100px 0;
}}
/* List section End */

.third-section {
	padding: 30px 0px 30px 0px;
	background: #ffffff;
}

.exciting-inner-sec {
	background: url(../images/exiciting-inner-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 20px 15px;
	backdrop-filter: blur(3px);
	border-radius: 15px;
	max-width: 95%;
	margin: 0px auto;
}

@media (min-width: 768px) {
	.third-section {
		padding: 50px 0px 50px 0px;
	}

	.exciting-inner-sec {
		padding: 100px 0px;
		border-radius: 50px;
		width: 95%;
	}
}

@media(min-width:1600px) {
	.exciting-inner-sec {
		max-width: 85%;
	}
}

/* Presenting Section Start */
.presenting-sec{
	padding: 30px 0px;
	background: url(../images/introducing.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.presenting-wrap {
	padding: 0px 0px 15px 0px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	border-radius: 50px;
	border: solid 2px rgba(255, 255, 255, 0.25);
	max-width: 95%;
	margin: 20px auto 0px auto;
}
.presenting-head{
	background: #263C7E;
    border-radius: 20px;
    display: inline-block;
    padding: 8px 20px;
}
.caveat {
    font-family: 'Caveat', cursive;
}

@media(min-width:768px){
	.presenting-sec{padding: 100px 0px;}
	.presenting-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}
	.presenting-head{
		background: #263C7E;
    border-radius: 40px;
    display: inline-block;
    padding: 8px 50px;
	}

}
@media(min-width:1600px) {
	.presenting-wrap {
		max-width: 85%;
	}
}

/* Presenting Section End */


/********features*********/

.white-section {
	background: #fff;
	padding: 30px 0;
}

.grey-section {
	background: #F4F6FD;
	padding: 30px 0;
}

.features-title {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	gap: 15px;
}

.features-title .size {
	max-height: 100px;
}

@media (min-width:768px) {
	.white-section {
		padding: 100px 0;
	}

	.grey-section {
		padding: 100px 0;
	}
}


/* Good Section Start */

.good-section {
	background: #F4F6FD;
	padding: 30px 0px 0px 0px;
}

ul.good-list {
	padding: 0px;
	margin: 0px;
}

ul.good-list li {
	background: url(../images/point-icon.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 20px 10px 20px 40px;
	background-position: 0px 27px;
}

@media (min-width: 768px) {
	.good-section {
		padding: 100px 0px 0px 0px;
	}
}

.moneyback-section {
	padding: 30px 0;
	background: #062D69 url(../images/prize-value.webp) no-repeat center center;
	background-size: cover;
	backdrop-filter: blur(5px);
}

@media (min-width: 768px) {
	.moneyback-section {
		padding: 100px 0;
	}
}


.bonus-section {
	background: #F4F6FD;
	padding: 30px 0;
}

@media (min-width: 768px) {
	.bonus-section {
		background: url(../images/bonus-bg.webp) no-repeat center bottom;
		background-size: cover;
		padding: 70px 0px 100px 0px;
	}
}


/*Table CSS Start*/

.table-section {
	background: #ffffff;
	padding: 30px 0;
}

.tablebox2 {
	border: 1px solid #2447a2;
	width: 100%;
	float: left;
	border-radius: 15px;
}

.tbbg2 {
	background: #010e3a;
	padding: 45px 20px 45px 20px;
	border-radius: 15px 15px 0px 0px;
}

.tbbg2-text {
	color: #fff;
}

.tablebox2 ul {
	padding-left: 0;
	color: #010101;
}

ul.vgreytick {
	padding: 0px 15px;
}

ul.vgreytick li {
	background: url(../images/vgreytick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 20px 10px 20px 40px;
	background-position: 0px 27px;
	line-height: 150%;
	border-bottom: 1px solid #edebf0;
	color: #000;
}

ul.vgreytick li:last-child {
	border-bottom: 0px;
}

.myfeatureslast {
	float: left;
	padding: 15px;
	width: 100%;
	min-height: 69px;
	background: #fff;
	border-radius: 0px 0px 15px 15px;
}
ul.vgreytick li.headline {
    background: #062D69 !important;
    padding: 20px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff !important;
}
@media (min-width: 768px) {
	.table-section {
		padding: 100px 0;
    	background: url(../images/table-bg.webp) no-repeat center center;
    	background-size: cover;
    	background-attachment: fixed;
	}

	ul.vgreytick li {
		padding: 24px 10px 24px 40px;
	}

}

.footer-section {
	background: #080E20;
	padding: 30px 0;
}

.footer-ul {
	padding: 0
}

.footer-ul li {
	display: inline;
	line-height: 130%;
}

.footer-ul li:hover a {
	color: #fff;
}

@media(min-width:768px) {
	.footer-section {
		padding: 50px 0px;
	}

}

a.nothank {
	color: #2447a2;
	text-decoration: none;
}

.feature-shape {
    background-image: -moz-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    background-image: -webkit-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    background-image: -ms-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}

.unlimited-bg {
    background: url(../images/unlimited-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
    position: relative;
    z-index: 9999;
}
@media (min-width: 768px){
.unlimited-bg {
    padding: 80px 0;
}}