@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
body{

}


.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.mt40{
	margin-top: 40px;
}
.mt50{
	margin-top: 50px;
}
.mt60{
	margin-top: 60px;
}
.mt70{
	margin-top: 70px;
}
.mt80{
	margin-top: 80px;
}
.mt90{
	margin-top: 90px;
}
.mt100{
	margin-top: 100px;
}
.mb20{
	margin-bottom: 20px;
}
.mb30{
	margin-bottom: 30px;
}
.pt20{
	padding-top: 20px;
}
.pt30{
	padding-top: 30px;
}
.pt50{
	padding-top: 50px;
}
.pt70{
	padding-top: 70px;
}
.pb50{
	padding-bottom: 50px;
}
.pb100{
	padding-bottom: 100px;
}


.lg16{
	font-size: 16px;
}
.lg18{
	font-size: 18px;
}
.lg20{
	font-size: 20px;
}
.lg22{
	font-size: 22px;
}
.lg24{
	font-size: 24px;
}
.lg26{
	font-size: 26px;
}
.lg28{
	font-size: 28px;
}
.lg30{
	font-size: 30px;
}
.lg32{
	font-size: 32px;
}
.lg34{
	font-size: 34px;
}
.lg36{
	font-size: 36px;
}
.lg38{
	font-size: 38px;
}
.lg40{
	font-size: 40px;
}
.lg42{
	font-size: 42px;
}
.lg44{
	font-size: 44px;
}
.lg46{
	font-size: 46px;
}
.lg48{
	font-size: 48px;
}
.lg50{
	font-size: 50px;
}
.lg52{
	font-size: 52px;
}
.lg54{
	font-size: 54px;
}
.lg56{
	font-size: 56px;
}
.lg58{
	font-size: 58px;
}
.lg60{
	font-size: 60px;
}
.lg62{
	font-size: 62px;
}
.color_orange{
	color: #ff4e0c;
}
.color_white{
	color: #fff;
}
.color_blue{
	color: #311b92;
}
.color_gray{
	color: #7a8795;
}
.color_yellow{
	color: #f9f904;
}
.btn_custom{
	background: #ff4e0c;
	padding: 10px 30px;
	font-size: 20px;
	border:none;
	box-shadow: 6px 6px 10px 0px rgba(255,78,12,0.65);
	border-radius: 10px;
	color: #fff;
	font-weight: 600;
	width: 100%;
	max-width: 400px;
}

.custom_btn {
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: #1C2454;
    color: #fff !important;
    border-radius: 20px;
    width: auto;
}
.bg_orange{
	background: #f93104;
	display: inline-block;
	padding: 0px 20px;
}
.bg_orange span{
	display: inline-block;
}
.bg_green{
	background: #f99b04;
	display: inline-block;
	padding: 0px 20px;
	color: #000;
}
.bg_green span{
	display: inline-block;
}
.bg_red{
	background: #117F00;
	display: inline-block;
	padding: 0px 20px;
	color: #fff;
}
.bg_red span{
	display: inline-block;
}
@media (min-width:768px){
	.bg_orange{
		background: #f93104;
		display: inline-block;
		padding: 20px 20px;
		transform: skewX(-20deg);
	}
	.bg_orange span{
		transform: skewX(20deg);
		display: inline-block;
	}	
	.bg_green{
		background: #f99b04;
		display: inline-block;
		padding: 0px 20px;
		transform: skewX(-20deg);
		color: #000;
	}
	.bg_green span{
		transform: skewX(20deg);
		display: inline-block;
	}
	.bg_red{
		background: #117F00;
		display: inline-block;
		padding: 0px 20px;
		transform: skewX(-20deg);
		color: #fff;
	}
	.bg_red span{
		transform: skewX(20deg);
		display: inline-block;
	}
	
}


.bg_yellow{
	background: #f9f904;
	display: inline-block;
	padding: 10px 20px;
}
.bg_yellow1{
	background: #f9f904;
	display: inline-block;
	padding: 10px 20px;
}
.bg_yellow2{
	background: #f9f904;
	padding: 10px 20px;
}
.btn_custom_set{
	display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 60px;
    font-family: 'Alata', sans-serif;
    font-size: 32px;
    line-height: 30px;
    border: none;
    background: -moz-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,29,0,1)), color-stop(100%, rgba(249,154,4,1)));
    background: -webkit-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%);
    background: -o-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%);
    background: -ms-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%);
    background: linear-gradient(93deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1d00', endColorstr='#f99a04',GradientType=1 );
}
.btn_custom_set span{
	font-size: 22px;
}

.btn_instant{
	box-shadow: 17px 17px 23px 0px rgba(49,27,146,0.8);
	background-color: #3da3ef;
	font-size: 60px;
	color: #fff;
	font-weight: bolder;
	border:none;
	border-radius: 10px;
}
@media (min-width:768px){
	.btn_custom_set{
		padding: 8px 80px;
	}
}
.box_timer{
	background-image: url('../img/timer.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 300px;
	padding: 30px;
}
.box_timer svg{
	font-size: 90px;
}
.box_time h2{
	font-size: 60px;
	font-weight: lighter;
}

.hori_row{
	position: absolute;
	height: 10px;
	background-color: #F9F904;
	width: 50px;
	z-index: 100;
	right: -26px;
	top: 50px;
}
.hori_row1{
	position: absolute;
	height: 10px;
	background-color: #F9F904;
	width: 50px;
	z-index: 100;
	left: -26px;
	top: 50px;
}

.font_al{
	font-family: 'Alata', sans-serif;
}
.footer_content1{

	background-color: #01002E;
}
.box_btn{
	background-color: #FF1D48;
	padding: 10px 0;
}
.box_btn img{
	margin-top: -35px;
}
.box_btn ul{
	margin :0px;
	padding :0px;
}
.box_btn li{
	display: inline-block;
}
.box_btn li

#mainNav .navbar-nav li.nav-item a.nav-link{
	color: #000;
}
#mainNav img{
	width: 200px;
}

.home1 .header h1{
	font-family: 'Alata', sans-serif;
	font-weight: normal;
	text-align: center;
	line-height: 80px;
}

.home1 .content iframe{
	width: 100%;
	height: 300px;
}

.home1 .content table{
	width: 100%;
	border:none;
}
.home1 .content table tr{
	border:none;
}
.home1 .content table td{
	color: #fff;
	padding: 0px 10px;
	border:none;
}
.home1 .content table svg{
	color: #f5f904;
}
.home2{
	background-image: url('../img/home5_1.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.home2 .header button{
	margin-top: -120px;
}
.home2 .content h2{
	font-weight: bolder;
}
.home2 .box_img{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 350px;
}
.home2 .box{
    padding-left: 90px;
    padding-right: 40px;
    padding-top: 23px;

}
.home2 .box_content{
	padding-top: 120px;
}
.home4_back{
	margin-top: -170px;
	position: relative;
}
.home4{
	background-color: #01002E;
}
/*.home5{
	background-image: url('../img/home5_1.png');
	background-size: cover;
	background-repeat: no-repeat;
}*/
.home5 .header button{
	margin-top: -120px;
}
.home6 {
	background-image: url('../img/home6_2.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -100px;
	padding-top: 230px;
}

.home6 .header .heading{
	width: 80%;
	margin: 30px auto 0;
	background-color: #012B50;
	border:1px solid #fff;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	z-index: 10;
}
.home6 .header .list{
	z-index: 5;
	margin-top: -20px;
	position: relative;
	background-color: #012B50;
	border:1px solid #fff;
	padding: 10px;
	border-radius: 5px;
}
.home6 .header .list ul{
	margin: 0px;
	padding: 30px 0 0 ;
}
.home6 .header .list ul li{
	display: inline-block;
	width: 100%;
	border-bottom: 2px solid #FAFAFA;
	padding-top: 10px;
}
.home6 .header .list ul li:last-child{
	border-bottom: none;
}
.home6 .header .list ul li h3{
	font-size: 18px;
}
.home6 .header .list ul li .line_box{
	background-color: #FAFAFA;
	height: 2px;
	border-radius: 5px;
	width: 80%;
	margin: 0 auto;
}
.home6 .content iframe{
	width: 100%;
	height: 400px;
}
.home7{
	background-image: url('../img/home5_1.png');
	background-size: cover;
	background-repeat: no-repeat;
}


.home8 .item{
	padding: 40px 0px;

}

.home10 .content ul{
	margin: 0;
	padding:0;
	list-style: none;
}
.home10 .content ul li{
	background-color: #f2f2f2;
	padding: 30px 20px;
	margin-bottom: 30px;

}




.copyright{
	background: #03002A;
}
.copyright ul{
	text-align: right;
}
.copyright ul li{
	display: inline-block;

	margin-right: 10px;
	margin-left: 10px;
}



#modal .modal-dialog{
    margin: 5rem auto 0;
}
#modal .modal-content{
    border-radius: 0px;
}
#modal .modal-header {
    background-color: #FF0056;
    border-radius: 0px;
}

#modal .modal-header h5{
    text-align: center;
    width: 100%;
    font-size: 80px;
    line-height: 40px;
    color: #fff;
}
#modal .modal-header h5 span{
    font-size: 40px;
}
#modal .modal-header .close{
    border-radius: 50%;
    padding: 5px 8px;
    background-color: #222222;
    opacity: 1;
    color: #fff; 
    margin:-30px -30px -1rem auto;
    border:2px solid #fff;
}
#modal .modal-body {
    padding: 1rem 1rem 2rem;
}
#modal .modal-body h2{
    text-align: center;
    font-size: 40px;
}

#modal .modal-body h3{
    text-align: center;
    font-size: 32px;
}
#modal .modal-body h3 span{
    color: #7512c0;
}

#modal .btn_custom{
    padding: 30px 50px;
}
.btn_custom_set1{
	background-color: #fccc00;
    color: #000;
    font-size: 38px;
    text-decoration: none;
    padding: 30px 50px;
    box-shadow: 7px 7px 14px 0px rgba(252,204,0,0.55);
    border-radius: 60px;
    font-weight: 700;
    transition: all 0.5s ease;
    display: inline-block;
    line-height: 26px;
}
.btn_custom_set1 span{
	font-size: 18px;
    font-weight: lighter;
}
.home1 {
	background: #030d2e;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 30px 0px;
}
@media (max-width: 676px) {

    #modal .modal-header h5{
        font-size: 40px;
    }
    #modal .modal-header h5 span
    {
        font-size: 20px;
    }
    #modal .modal-body h2{
        font-size: 22px;
    }
    #modal .modal-body h3{
        font-size: 18px;
    }
    #modal .btn_custom{
        padding: 20px 10px;
    }
    #modal .modal-dialog{
        margin:5rem 1rem 0;
    }
}



.riskfree-section {
    padding: 30px 0px;
    background: #101929;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
	color: #ffffff;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}
.px5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.f-28 {
    font-size: 28px;
}
.f-18 {
    font-size: 18px;
}
.lh140 {
    line-height: 140%;
}
.mt15 {
    margin-top: 15px !important;
}
.w600{
	font-weight: 600;
}
.home8 {
	background: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.home3{
	padding: 0px 0px 50px 0px;
}
.home4 {
	padding: 0px 0px 50px 0px;
}
@media(min-width:768px) {
	.home3{
		padding: 0px;
	}
	.home4 {
		padding: 0px;
	}
	.home8 {
		background-image: url('../img/bonus-bg.webp');

	}
	.home1 {
		background-image: url('../img/home1_1.webp');
		padding: 50px 0px;
	}
	.f-md-45 {
		font-size: 45px;
	}
	.f-md-20 {
		font-size: 20px;
	}
	.riskfree-section {
		padding: 100px 0px;
	}
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}

a.nothank{
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	margin-top: 40px;
	display: inline-block;

}

.cta-button {
    padding: 50px 0px;
    background-color: #091166;
}
.offer-new {
    background-color: #FF1D48;
    padding: 15px 0;
}
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
@media (min-width: 768px){
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
}}
.white-clr{
	color: #fff;
}
.home9 {
    background-image: url(../img/home1_1.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.home9 .content {
    background-color: #fff;
    border-radius: 30px;
	padding: 30px;
}