.white-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .white-section {
        padding: 70px 0px;
    }
}


/* Testimonial CSS */

.testimonial-section {
    background: #ffffff;
    padding: 30px 0px;
}

.testimonial-section1 {
    background: #ffffff;
    padding: 30px 0px;
}

.testi-block {
    position: relative;
    background: #ffffff;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 0px rgba(88, 85, 92, 0.3);
}

.testi-shape {
    position: absolute;
    top: 7px;
    left: -12px;
}

.testi-img {
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
    border-radius: 0px;
}

.testi-video {
    border-radius: 5px;
    box-shadow: 6.364px 6.364px 6px 0px rgba(220, 213, 239, 0.4);
    overflow: hidden;
}

.testi-video1 {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.clear {
    clear: both;
}

.testi-block1 {
    position: relative;
    background: #ffffff;
    padding: 5%;
    box-shadow: 4.663px 3.776px 36.4px 3.6px rgba(31, 105, 189, 0.09);
    border-radius: 20px;
}

.shape-testi {
    background-color: rgb(255, 88, 37);
    border-radius: 65px;
    padding: 16px 35px 12px 35px;
    display: inline-block;
    margin-top: 0px;
    position: relative;
    color: #ffffff;
}

.testimonial-section2 {
    background: #edebf0;
    padding: 30px 0;
}

@media (min-width:768px) {
    .testimonial-section {
        background: #ffffff url(../images/video-testimonial-bg-bottom3.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
    .testimonial-section1 {
        background: #ffffff;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
    .testimonial-section2 {
        background: #edebf0;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
    .testi-img {
        width: 130px;
        min-width: 130px;
        height: 130px;
        min-height: 130px;
    }
    .testi-block {
        padding: 25px;
    }
}


/* Testimonial CSS End */

.black-design2 {
    padding: 16px 79px 18px 65px;
    background: url(../images/imagine-shape.png) no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}


/* Targeted CSS */

.targeted-section {
    background: #cdf9da;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .targeted-section {
        background: #cdf9da;
        padding: 100px 0px;
    }
}


/* Targeted CSS End */


/* Targeted CSS */

.need-marketing {
    background: #ffffff;
    padding: 30px 0px;
}

.noneed-listing li {
    list-style: none;
    background: url(../images/tick-icon.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
    min-height: 42px;
}

.noneed-listing li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .need-marketing {
        background: #ffffff;
        padding: 100px 0px;
    }
}

.look-shape {
    border-radius: 20px;
    padding: 20px 15px;
    color: #ffffff;
    width: 100%;
    float: left;
    background-color: #ff5825;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
}


/* Targeted CSS End*/


/* Bonus CSS Start*/

.bonus-section {
    background: #ffffff;
    padding: 30px 0px;
}

.black-design4 {
    padding: 40px;
    background: url(../images/bonus-shape.png) no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

.margin-t-60 {
    margin-top: -40px;
}

.bonus-section-shape {
    padding: 15px;
    position: relative;
    background: #edebf0;
    border: solid 1px #edebf0;
    border-radius: 5px;
}

.bonus-headline {
    background-image: -webkit-linear-gradient( 0deg, rgb(70, 0, 162) 0%, rgb(92, 4, 173) 63%, rgb(113, 8, 183) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(70, 0, 162) 0%, rgb(92, 4, 173) 63%, rgb(113, 8, 183) 100%);
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}

@media (min-width: 768px) {
    .margin-t-60 {
        margin-top: -60px;
    }
    .bonus-section-shape {
        padding: 30px;
    }
    .bonus-section {
        padding: 100px 0px 50px 0px;
        background: #ffffff url(../images/bonus-bg.png) no-repeat center center;
        background-size: cover;
    }
}

.bonus-section-value {
    padding: 30px 0px;
    background: #ffffff;
}

@media (min-width: 768px) {
    .bonus-section-value {
        background: url(../images/bonus-value-bg.png) no-repeat center center;
        background-size: cover;
        padding: 60px 0px 30px;
    }
}


/* Bonus CSS End*/


/* Guarantee CSS Start*/

.guarantee-section {
    padding: 30px 0px;
    background: #2f0088;
}

@media (min-width: 768px) {
    .guarantee-section {
        background: #ffffff url(../images/guarantee-section-bg.png) no-repeat center;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
}


/* Guarantee CSS End*/


/* Table Section */

.table-section {
    background: #ffffff;
    padding: 30px 0px;
    color: #000000;
}

.table-wrap {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    /* border: solid 1px #cacaca; */
    overflow: hidden;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.table-head {
    /* background: url(../images/start-plan-bg.png) no-repeat center; */
    background: #ffffff;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    /* border-bottom: solid 1px #cacaca; */
}

@media (min-width: 768px) {
    .table-head {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
}

.table-content {
    padding: 60px 20px 40px 20px;
    background: #ffffff url(../images/tablecurveone.png) no-repeat center top;
    background-size: contain;
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
}

.table-wrap1 {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 22px 0px rgba(38, 23, 70, 0.4);
    width: 100%;
    float: left;
    overflow: hidden;
}

.table-wrap1:before {
    content: '';
    position: absolute;
    background: url(../images/most-popular.png) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 45px;
    top: -10px;
}

.table-head1 {
    padding: 40px 30px 30px 30px;
    text-align: center;
    background: url(../images/table-head1-bg.png) no-repeat center;
    background-size: cover;
}

@media (min-width: 768px) {
    .table-head1 {
        padding: 80px 30px 80px 30px;
        text-align: center;
    }
}

.table-content1 {
    padding: 60px 20px 40px 20px;
    background: #222466 url(../images/tablecurvetwo.png) no-repeat center top;
    background-size: contain;
}

.center-line {
    background: #000000;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.center-line-white {
    background: #ffffff;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.table-list li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}

.table-list li:nth-child(odd) {
    background: #f5f0ff url(../images/launch-tick-blue.png) no-repeat;
    background-position: 15px 21px;
}

.table-list li:nth-child(even) {
    background: #ffffff url(../images/launch-tick-blue.png) no-repeat;
    background-position: 15px 21px;
}

@media (min-width: 768px) {
    .table-list li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 24px;
    }
    .table-list li:nth-child(odd) {
        background: #f5f0ff url(../images/launch-tick-blue.png) no-repeat;
        background-position: 30px 24px;
    }
    .table-list li:nth-child(even) {
        background: #ffffff url(../images/launch-tick-blue.png) no-repeat;
        background-position: 30px 24px;
    }
}

.table-list li.headline {
    background: #280081 !important;
    padding: 20px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.table-list1 li {
	background: url(../images/table-tick.png) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
	list-style: none;
	margin: 0px;
	/* border-bottom: solid 1px #5153a1; */
}

.table-list1 li.headline {
    background: #e6493e !important;
    padding: 20px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list1 li:last-child {
    border-bottom: none;
    /* padding-bottom: 0px; */
}

.table-list1 li:nth-child(odd) {
    background: #280081 url(../images/launch-tick-blue.png) no-repeat;
    background-position: 15px 21px;
}

.table-list1 li:nth-child(even) {
    background: #330d87 url(../images/launch-tick-blue.png) no-repeat;
    background-position: 15px 21px;
}

@media (min-width:768px) {
    .table-section {
        padding: 100px 0px;
    }
    .table-list1 li {
        padding: 20px 15px 20px 65px;
    }
    .table-list1 li:nth-child(odd) {
        background: #280081 url(../images/launch-tick-blue.png) no-repeat;
        background-position: 30px 23px;
    }
    .table-list1 li:nth-child(even) {
        background: #330d87 url(../images/launch-tick-blue.png) no-repeat;
        background-position: 30px 23px;
    }
}


/* Table Section End*/

.awesome-section {
    padding: 30px 0px;
    background: #f3f3f3;
}

@media (min-width: 768px) {
    .awesome-section {
        padding: 100px 0px 100px;
        background: url(../images/awesome-bg.png) no-repeat center center;
        background-size: cover;
    }
}

.faq-section {
    padding: 30px 0px;
    background-color: #fff;
}

.faq-list {
    background: url(../images/faq-icon.png) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 22px;
}

@media (min-width: 768px) {
    .faq-section {
        padding: 100px 0px;
    }
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 70px 0px;
    }
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.imagine-sec {
    background: #f5f5f5;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .imagine-sec {
        background: #f5f5f5 url(../images/imagine-sec.png) center no-repeat;
        background-size: cover;
        padding: 100px 0px;
    }
}

.license-section {
    background: #eaf3ff;
    padding: 30px 0px;
    border-bottom: solid 5px #100370;
}
@media (min-width: 768px){
.license-section {
    padding: 100px 0px 150px 0px;
    background: #ffffff url(../images/license-bg.png) no-repeat bottom center;
    background-size: cover;
    border: none;
}}