html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
	overflow-x: hidden;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}
/* Color CSS */
.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
.orange-clr{
	color: #E76D24;
}
/* Red Gradient */
.red-gradient{
background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;}


/* Header CSS */
.header-section {
	background: #000;
	padding:30px 0px;
}

ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.leader-ul li {
    display: inline-block;
    padding: 0px 7px;
    font-weight: 400;
	 color: #ffffff;
}

 ul.leader-ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
a.affiliate-link-btn {
	background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    border-radius: 15px;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #ffffff;
	font-weight: 600;
}

a.affiliate-link-btn:hover {
    background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
    color: #ffffff;
}
.bx-wrapper {
	border: 0px !important;
	background:transparent !important;
	box-shadow:none !important;
	padding: 0 !important;
	margin: 0 !important;	
	position:relative;
	
}
.bx-viewport{position:relative !important;}
.bxslider {
  background:transparent !important;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0px !important;
  font-weight:600;
  position:relative;
}
.bxslider li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
	min-height:76px;
	line-height:32px;
	text-align:left;
}
.bxslider li .text{margin-left:15px;}
.text-clr1{color:#FF9897;}
.text-clr2{color:#FF9897;}
.text-clr3{color:#FF9897;}
.text-clr4{color:#FF9897;}

.preheadline{
  background: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 45px;
  display:inline-block;
  padding:10px;
  
}
span.highlight{
	border-bottom:solid 4px #b8f500;
}
.calendar-wrap-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.calendar-wrap-inline .date-text sup {
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.calender-text {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(217, 217, 217, 0.06) 100%);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 15px 20px;
    width: fit-content;
}
.calendar-wrap-inline .date {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(217, 217, 217, 0.06) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    text-align: center;
    padding: 40px 25px;
    border: 1px solid #FFFFFF;
}
.calendar-wrap-inline .date-text {
    font-size: 100px;
    font-weight: 800;
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.video-box-demo{
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgb(192 84 84 / 22%) 0%, rgb(224 14 14 / 22%) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
@media(min-width:768px){
	   .header-section {
        background: #000 url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 50px 0px 180px;
    }
    .calendar-wrap-inline .date-text {
        font-size: 70px;
    }
	a.affiliate-link-btn {
		padding: 15px 10%;
		font-size: 20px;
	}
    .preheadline{
        padding:10px 35px;
      }
}

/* Header End */

/* Marketing Section */
.marketing-section {
    padding:30px 0px;
    background: #f1f1f1;
}

.content-box{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px 0px rgba(12, 11, 17, 0.15);
  overflow:hidden;
  padding:15px;
}
.content-box .title{
	font-size:22px;
	font-weight: 700;
	text-align:center;
	margin-bottom:15px;
}
@media (min-width: 768px){
	.marketing-section {
    padding:80px 0px;
}
.content-box .title{
	font-size:22px;
	line-height:50px;
}
}

/* Marketing Section End*/


/* Form Section */
	.form-section {
    padding:0px 0px 30px 0px;
	background:#fff;
}
.formbg {
	position: relative;
	padding: 15px;
	background: #000;
	border-radius: 20px;
	box-shadow: 0px 0px 25px 0px rgba(12, 11, 17, 0.15);
}
.form-control.input-field {
	border-width: 1px;
	border-color: rgb(11, 11, 49);
	border-style: solid;
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	height: 50px;
	font-size: 16px;
	font-weight: 400;
	box-shadow: none !important;
	color: #08041e;
	padding: 6px 15px;
}
.form-btn input[type="submit"] {
	border-radius: 15px;
	background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
	text-decoration: none;
	border: none;
	color: #ffffff;
	text-align: center;
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 15px 10px;
	line-height: 30px;
	font-weight: 600;
	outline: none;
	max-width: 510px;
	white-space: normal;
}
.form-btn input[type="submit"]:hover {
    background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
}
.affiliate-btn a {
    background: #E76D24;
    border-radius: 15px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    padding: 15px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    text-transform: capitalize;
    max-width: 510px;
	animation-name: hang-sink, hang;
    animation-duration: .3s, 1s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
}
@keyframes hang-sink {
    100% {
        transform: translateY(8px)
    }
}

@keyframes hang {
    0% {
        transform: translateY(8px)
    }
    50% {
        transform: translateY(4px)
    }
    100% {
        transform: translateY(8px)
    }
}
.live-section {
    background: #ffffff;
    padding: 0px 0 30px 0px;
}
.formbg-up {
    position: relative;
    border-radius: 15px;
    width: 100%;
    float: left;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    transition: transform .5s;
}
@media (min-width: 768px){
    .formbg-up {
        border-radius: 25px;
        padding: 50px 70px;
        margin-top: -120px;
       
    }
.form-section {
    padding:0px 0px 80px 0px;
}
.formbg {
    padding: 40px 65px;
    border-radius: 20px;
}
.live-section {
    padding: 0px 0px 0px 0px;
}
.formbg {
	padding: 40px 30px 20px 30px;
	border-radius: 20px;
	box-shadow: 0px 0px 25px 0px rgba(12, 11, 17, 0.15);
	background: #000 url(../images/header-bg.png) no-repeat top center;
	background-size: cover;

}
.form-control.input-field {
    height: 60px;
	font-size: 20px;
}
.popup-btn input[type="submit"] {
    padding: 10px 10px;
}
.affiliate-btn a {
    padding: 25px 20px;
    max-width: 510px;
}
}

/* Form Section End*/


/* Problem Section Start */
.problem-sec{
	padding: 30px 0px 30px 0px; 
	background: url(../images/problem-bg.webp) no-repeat center center; 
	background-size: cover; 
}
.problem-list li {
    background: url(../images/cross.webp) no-repeat;
    background-position: 20px 25px;
    padding: 10px 10px 10px 60px;
    margin-top: 15px;
    list-style-type: none;
    min-height: 80px;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    background-color: #FFEED6;
    display: flex;
    align-items: center;
    border: 3px solid #FFFFFF;
}
.heading-design{
	background: url(../images/heading-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 25px 55px 25px 55px;
    display: inline-block;

}
@media(min-width:768px){
	.problem-sec{padding: 100px 0px 100px 0px;}
	.heading-design{padding: 50px 150px 50px 150px;}
}
/* Problem Section End */

/* Fact Section Start */
.fact-sec{
	padding: 30px 0px;
	background: url(../images/facts-bg.webp) no-repeat center center;
	background-size: cover;
}

.know-list li{    
	background: url(../images/tick.webp) no-repeat;
    background-position: 0 1px;
    padding-left: 43px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    list-style-type: none;
    min-height: 26px;}

@media(min-width:768px){
	.fact-sec{
		padding: 100px 0px;
	}
	.header-wrap {
		padding: 80px 80px 60px 80px;
	}
}

/* Fact Section End */

/* But Not Anymore Section Start */
.butnotanymore-sec{
	padding: 30px 0px; 
	background: #fff  url(../images/butnotanymore-bg.webp) no-repeat center center;
	background-size: cover;
	position: relative;
}
.trigger-block {
    background: #FFFFFF;
	padding: 10px 20px;
	border: 5px solid #EF3E3A;
	border-radius: 100px;
	display: inline-block;
	outline: 7px solid #fff;
}
.heading-text{
	border-radius: 100px;
    background: #FFA829;
    display: inline-block;
    padding: 10px 30px;
}
.red-clr {
    color: #EF3E3A;
}
@media(min-width:768px){
	.butnotanymore-sec{
		padding: 100px 0px 170px 0px;
	}
	.cross:before{
		position: absolute;
		content: url(../images/cross.webp);
		left: 285px;
		display: inline-block;
	}
	.cross:after{
		position: absolute;
		content: url(../images/cross.webp);
		right: 285px;
		display: inline-block;
	}
	.ele1 {
		position: absolute;
		bottom: -131px;
		left: 4%;
		animation: 2s ease-in-out 0s infinite alternate none running mover1;
	}
}
/* But Not Anymore Section End */


.exciting-launch {
    padding:30px 0px;
    background: #fff url(../images/exciting-launch.png) no-repeat center center;
    background-size: cover;
}
ul.launch-list{
	margin:0px;
	padding:0px;
}
.launch-list li {
    padding: 0px 0px 12px 0px;
    color: #13202B;
}
::marker {
  color: #13202B;
}
.proudly-headingss {
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    border-radius: 50px;
    padding: 10px 25px;
}
@media (min-width: 768px){
.launch-list li {
    padding: 0px 20px 12px 0px;
}	
.exciting-launch {
    padding:100px 0px;

}}



.proudly-sec {
    background: #08041d url(../images/proudly-bg.png) center center no-repeat;
    background-size: cover;
    padding:30px 0px 30px 0px;
    z-index: 999;
    position: relative;
}
.presenting-head {
    background: #31292d;
    border-radius: 40px;
    display: inline-block;
    padding: 8px 50px;
}
.caveat {
    font-family: 'Caveat', cursive;
}
@media (min-width: 768px){
.proudly-sec {   
    padding:100px 0px 100px 0px;
}
}


/* Arrow & Img Move Animation */
img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}


.logos-effect img {
    transition: all 0.8s;
}
.logos-effect img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}


.feature-list {
    background: #0A0307;
    padding: 30px 0px;
}
.feature-list-box {
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 0px rgba(12, 11, 17, 0.15);
	padding:0px 30px 30px 30px;
	width:100%;
	float:left;
	text-align:center;
	margin-top:72px;
	height:calc(100% - 72px);
}
.feature-list-box .description{
	font-size:22px;
	font-weight:500;
	line-height:30px;
	margin-top:15px;
}
.feature-list-box .icon-position{
	margin-top:-72px;
}
@media(min-width:768px){
	.feature-list {
    padding: 100px 0px 150px 0px;
}
	}
	
	
.feature-sec {
    background: #ffffff;
    padding: 30px 0px 60px 0px;
}
.demo-sec {
	background: #ffffff url(../images/demo-sec-bg.webp) no-repeat center center;
	background-size: cover;
	padding:30px 0px;
}

@media(min-width:768px){
    .demo-sec {        
        padding:100px 0px;
    }
	.feature-sec {
    background: #ffffff;
    padding: 100px 0px;
}
	}	
	
	
.potential-sec {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width: 768px){
.potential-sec {
    background: #ffffff url(../images/potential-bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 100px 0px;
}
}
.prize-value {
	padding: 30px 0;
	background: #f1efef  url(../images/prize-value.webp) no-repeat top center;
	background-size: cover;
}
@media (min-width: 768px){
.prize-value {
    padding:80px 0px;
}
.f-md-72{
	font-size:72px;
}
}


.contest-section {
	padding: 30px 0;
	background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/contest-bg.png) no-repeat center center;
	background-size: cover;
}
.list-section {
    padding: 30px 0px;
    background: #fff;
}
.promote {
    background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
    border-radius: 40px 0px 0px 40px;
    padding: 15px;
    display: inline-flex;
}
.know-list li {
    background: url(../images/fav.webp) no-repeat;
    background-position: 0 0px;
    padding-left: 40px;
    margin-bottom: 20px;
    list-style-type: none;
    min-height: 26px;
}
.winner-heading {
    padding: 15px 30px 15px 15px;
    border-radius: 0px 50px 50px 0px;
    background: #faecec;
    display: inline-flex;
}
@media (min-width: 768px){
.contest-section {
    padding:80px 0px ;
}
.list-section {
    padding: 100px 0px;
}
.promote {
    padding: 15px 15px 15px 30px;
    border-radius: 50px 0px 0px 50px;
}
.winner-heading {
    border-radius: 0px 40px 40px 0px;
    padding: 15px;
}
}


.prize-section {
    background: #ffffff;
    padding: 30px 0px;
    position: relative;
}
.feature-list-box-2 {
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 0px rgba(12, 11, 17, 0.15);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gap30 {
    --bs-gutter-y: 30px;
}
.feature-list-box-2 .description{
	font-size:22px;
	font-weight:500;
	line-height:30px;
	margin-top:15px;
}
@media(min-width:768px){
    .prize-section {
        padding: 100px 0px;
        background: url(../images/prize-section-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .feature-list-box-2 {
        height: 100%;
    }
    .gap30 {
        --bs-gutter-x: 30px;
        --bs-gutter-y: 30px;
    }
}

.deep-funnel {
    background: #eff5f9 url(../images/deep-funnel.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
@media(min-width:768px){

.deep-funnel {
        padding:80px 0px;
    }
}

.reciprocate-sec {
    background: #ffffff;
    padding: 30px 0px;
}
@media(min-width:768px){
    .reciprocate-sec {
        background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/solid-track-bg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }

}

.contact-section {
    background: #fff url(../images/exciting-launch.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.contact-shape{
	 background: url(https://cdn.oppyo.com/launches/viddeyo/jv/contact-shape.png) no-repeat center bottom;
	 padding-bottom:30px;
    background-size: contain;
}
.contact-block {
    padding: 20px;
    position: relative;
    background: #030f28;
    border-radius: 30px;
}
.contact-shape {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: solid 2px rgba(255, 255, 255, 0.25);
    padding: 30px;
}
@media (min-width: 768px){
.contact-section {    
    padding:80px 0px;
}
.contact-shape {
    padding: 25px 0px;
}
.contact-block {
    padding: 80px;
    background: url(../images/proudly-bg.png) no-repeat center center;
    background-size: 100% 100%;
}}




.terms-section {
    padding: 30px 0px;
    background: #ffffff;
}
.terms-list li {
    background: url(../images/circle-icon.png) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 30px;
}
@media (min-width: 768px){
.terms-section {
	padding: 80px 0px;
	background-color: #fff;
	background-size: cover;
}
}



.footer-section {
    background: #0A0307;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px){
.footer-section {
        padding: 50px 0px
    }
}




