.feature-list {
    background: #08041e;
    padding: 30px 0px;
}
.feature-list-box {
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	padding:0px 30px 30px 30px;
	width:100%;
	float:left;
	text-align:center;
	margin-top:72px;
	height:calc(100% - 72px);
}
.feature-list-box .description{
	font-size:22px;
	font-weight:500;
	line-height:30px;
	margin-top:15px;
}
.feature-list-box .icon-position{
	margin-top:-72px;
}
@media(min-width:768px){
	.feature-list {
    padding: 100px 0px;
}
	}
	
	
.feature-sec {
    background: #ffffff;
    padding: 30px 0px 60px 0px;
}
.demo-sec {
	background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/demo-sec-bg.png) no-repeat center center;
	background-size: cover;
	padding:30px 0px;
}

@media(min-width:768px){
    .demo-sec {        
        padding:100px 0px;
    }
	.feature-sec {
    background: #ffffff;
    padding: 100px 0px;
}
	}	
	
	
.potential-sec {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px){
.potential-sec {
    background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/potential-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 100px 0px;
}
}

.prize-value {
	padding: 30px 0;
	background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/prize-value.png) no-repeat top center;
	background-size: cover;
}

@media (min-width: 768px){
.prize-value {

    padding:80px 0px;
}
.f-md-72{
	font-size:72px;
}
}


.contest-section {
	padding: 30px 0;
	background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/contest-bg.png) no-repeat center center;
	background-size: cover;
}

@media (min-width: 768px){
.contest-section {
    padding:80px 0px;
}
}


.prize-section {
    background: #f4e6f9;
    padding: 30px 0px;
}
@media(min-width:768px){
	    .prize-section {
        background: #f4e6f9 url(https://cdn.oppyo.com/launches/viddeyo/jv/prize-bg.png) no-repeat center center;
        background-size: cover;
        padding: 50px 0px 80px 0px;
    }
}

.deep-funnel {
    background: #ebf6fb url(https://cdn.oppyo.com/launches/viddeyo/jv/deep-funnel.png) no-repeat center center;
        background-size: cover;
    padding: 30px 0px;
}
@media(min-width:768px){

.deep-funnel {
        padding:80px 0px;
    }
}

.reciprocate-sec {
    background: #ffffff;
    padding: 30px 0px;
}
@media(min-width:768px){
    .reciprocate-sec {
        background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/solid-track-bg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}

.contact-section {
    background: #e1def4 url(https://cdn.oppyo.com/launches/viddeyo/jv/query-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.contact-shape{
	 background: url(https://cdn.oppyo.com/launches/viddeyo/jv/contact-shape.png) no-repeat center bottom;
	 padding-bottom:30px;
    background-size: contain;
}
@media (min-width: 768px){
.contact-section {    
    padding:80px 0px;
}}




.terms-section {
    padding: 30px 0px;
    background: #ffffff;
}
.terms-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/jv/circle-icon.png) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 30px;
}
@media (min-width: 768px){
.terms-section {
	padding: 80px 0px;
	background:url(https://cdn.oppyo.com/launches/viddeyo/jv/terms-bg.png) no-repeat center center;
	background-size: cover;
}
}



.footer-section {
    background: #020d13;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px){
.footer-section {
        padding: 50px 0px
    }
}




