.container {
    height: unset;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}

.orange-clr {
    color: #ffca5a;
}
.orange-clr1{
    color: #f36f21;
}
.white-clr {
    color: #ffffff;
}

/* Header Section CSS */

.header-section {
	background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 30px 0;
}

.proudly-section {
    background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    padding: 30px 0px 30px 0;
}


@media(min-width:768px) {
    .header-section {
        background: #091274 url(../images/header-bg2.webp);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 40px 0px 130px 0px;
    }
    .proudly-section {
        background: #edecec url(../images/next-gen-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 200px 0 100px 0px;
    }
}

@media(min-width:768px) {
    .second-section {
        padding: 100px 0 0px 0px !important;
        background: #ecebeb url(../images/second-sec-bg.webp) no-repeat !important;
        background-position: center center !important;
    }
}

.second-section {
    padding: 30px 0px;
    background: #f8f6ff;
}

.relative {
    position: relative;
}

.kapblue,
a.kapblue {
    color: #0041b5;
    text-decoration: none;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.header-section .responsive-video {
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/********features*********/

.bonus-section {
    background: #ecebeb;
    padding: 30px 0 30px;
}

.moneyback-section {
	background: -moz-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
	background: linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    padding: 30px 0 30px;
}

@media (min-width:768px) {
    .moneyback-section {
        background:#e9e9e9 url(../images/moneyback-bg.webp) no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 100px 0 100px;
    }
    .bonus-section {
        background: #fff url(../images/bonus-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 70px 0px 120px 0px;
        border-bottom: 0px
    }
}

.footer-section {
    background: #000000;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.white-section {
    background: #fff;
    padding: 30px 0;
}

.grey-section {
    background: #f8f6ff;
    padding: 30px 0;
}

@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .white-section {
        background: url(../images/white-section-bg.webp) no-repeat;
        padding: 100px 0px 100px;
        background-position: center center;
    }
    .grey-section {
        background:#ecebeb url(../images/blue-section-bg.webp) no-repeat;
        padding: 100px 0px 100px;
        background-position: center center;
    }
}

/*new*/

.up-btn a {
    border-radius: 15px;
    background-image: -moz-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    box-shadow: 0px 10px 15px 0px rgb(246 82 121 / 15%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}


.up-btn a:hover {
    text-decoration: none;
    background: #fb7b55;
}

.probtn1 a {
    border-radius: 15px;
    background-image: -moz-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    box-shadow: 0px 10px 15px 0px rgb(246 82 121 / 15%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
    width: 100%;
    outline: none;
    border: none;
}

.probtn1 a:hover {
    text-decoration: none;
    background: #fb7b55;
}

@media (min-width:768px) {
    .up-btn a {
		font-size: 38px;
		padding: 28px 30px;
    }
    .probtn1 a {
		font-size: 38px;
		padding: 28px 30px;
    }
}

/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    width: 100%;
    float: left;
    background: rgb(9,20,120);
    background: -moz-linear-gradient(0deg, #0b0823 0%, #0a1449 100%);
    background: -webkit-linear-gradient(0deg, #0b0823 0%, #0a1449 100%);
    background: linear-gradient(0deg, #0b0823 0%, #0a1449 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);

    position: relative;
}

.tablebox3:before {
    content: '';
    position: absolute;
    background: url(../images/most-popular.webp) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 0px;
    top: 0px;
}

ul.vgreytick {
    padding: 0px;
    margin: 0;
}

ul.vgreytick li {
    background: url(../images/launch-tick-blue.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}

ul.vgreytick li:nth-child(odd) {
    background-color: #f8f6ff;
}

ul.vgreytick li:nth-child(even) {
    background-color: #ffffff;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px;
    margin: 0;
}

ul.grey-tick-last li {
    background: url(../images/launch-tick-blue.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    color: #ffffff;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #09163c;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #0f1730;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

.tbbg2 {
    background-color: #fff;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}

.tbbg3 {
	background: rgb(9,20,120);
    background: -moz-linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    background: -webkit-linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    background: linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}

@media (min-width: 768px) {
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 20px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 20px;
    }
}

.buypad {
    padding: 4% 3%;
}

.myfeatureslast {
    float: left;
    padding: 0px 30px 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}

@media(min-width:768px) {
    .myfeatureslast {
        padding: 0px 20px 30px;
    }
}

/*Table CSS Enad*/

a.link {
    color: #337ab7;
}

.blue-head {
    color: #0041b5;
}

@media(min-width:768px) {
    .table-section {
        padding: 70px 0 100px 0px !important;
        background: url(../images/pricing-table-bg.webp) no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
    }
}

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

.footer-ul li:hover a {
    color: #fff;
}

@media (max-width:767px) {
    .tablebox3:before {
        content: '';
        position: absolute;
        background: url(../images/most-popular.webp) no-repeat;
        min-height: 120px;
        min-width: 120px;
        left: 0px;
        top: 0px;
        background-size: contain;
    }
}

span.under {
    border-bottom: 4px solid;
}
.dark-ft-section {
	background: #043da5;
	padding: 30px 0px 30px 0;
}
@media (min-width: 768px) {
	.dark-ft-section {
		background: #043da5 url(../images/proudlybg.webp) no-repeat center center;
		background-size: cover;
		padding: 100px 0 100px 0px;
	}
}
.pre-shape {
    background: url(../images/pre-shape.webp) no-repeat center bottom;
}