html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}


/* Color CSS */

.lightcolor {
    color: #eaab26;
}

.red-clr {
    color: #ff3c00;
}

.kapblue {
    color: #224cb0;
}

.grey-clr {
    color: #d6d6d6;
}

.orange-clr {
    color: #eaab26;
}

.red-clr {
    color: #ff3c00;
}

.v-grey-clr {
    color: #303030;
}

.yellow-clr {
    color: #fff600;
}

.orange-clr1 {
    color: #f1af2e;
}

.blue-clr {
    color: #072ca5;
}

.white-clr {
    color: #fff;
}


/* Header CSS */

.header-section {
	background: #0041C7;
	padding:30px 0px;
}

a.affiliate-link-btn {
    border-radius: 5px;
    background-image: -moz-linear-gradient( -45deg, rgb(255,103,28) 0%, rgb(253,139,37) 69%);
	background-image: -webkit-linear-gradient( -45deg, rgb(255,103,28) 0%, rgb(253,139,37) 69%);
	background-image: -ms-linear-gradient( -45deg, rgb(255,103,28) 0%, rgb(253,139,37) 69%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    /* border: 2px solid #ffffff; */
}

.instant-btn a {
    border-radius: 65px;
    background-color: #e15a00;
    box-shadow: 0px 0px 10.89px 0.11px rgba(15, 39, 147, 0.25);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #f7f7f7;
    font-weight: 700;
    width: 100%;
    font-size: 22px;
    line-height: 130%;
}

.instant-btn a:hover {
    background-color: #d25604;
    text-decoration: none;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 7px;
    font-weight: 400;
}

.header-section ul.leader-ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
}

.highlihgt-heading {
    position: relative;
    background: #000000;
	padding: 10px 0px;
    width: 100%;
    border-radius: 75px;
    display: inline-block;
	color: #f68a1e;
}

.header-list-block {
	border-radius: 20px;
	padding: 20px 0px;
	background-color: #ffffff;
	box-shadow: 0px 0px 19.8px 2.2px rgba(0, 0, 0, 0.15);
	margin: 0px;
}

.step-back {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.step1-absolute-image,
.step-absolute-image {
    position: absolute;
    top: -47px;
    left: 50px;
}

.sep {
    position: relative;
    padding-right: 8px;
    display: inline-block;
}

.sep:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 15px;
    background: #000000;
    margin-left: -2px;
    top: 4px;
    right: 0px;
    left: auto;
}

.mx-h-140 {
    max-height: 140px;
}

.game-changer {
    background: #00ff84;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    max-width: 248px;
}

.second-header-section {
    background: #ffffff;
    padding: 30px 0px;
}

.line-through {
    text-decoration: line-through;
}

.ul-tick-icon li {
    list-style: none;
    background: url(../images/ul-tick-icon.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0px 15px 39px;
    display: inline-block;
}

.visitors-section {
    background: #ffffff;
    padding: 30px 0;
}

.dark-section,
.dark-section2 {
    background: #0a062e;
    padding: 30px 0px;
}

.solution-section {
    background: url(../images/solution-section.png) no-repeat center center;
    padding: 30px 0px;
    background-size: cover;
}

.head-list {
    padding-top: 0px;
    background: #ffffff;
}

.post-heading {
    background: #ffcf69;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
}


/* Responsive Video CSS */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgba(208, 219, 227, 0.58);
    border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* White Timer css */

.white-timer-portion {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.white-timer-box {
    width: 52px;
    height: 52px;
    line-height: 1.42857143;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
    font-size: 45px;
}

.white-timer-label {
    width: 52px;
    height: 14px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 400;
}

.white-timer-colon-group {
    height: 52px;
    width: 7px;
    position: relative;
}

.white-timer-colon.colon-top {
    position: absolute;
    top: 30%;
}

.white-timer-colon {
    background: #ffffff;
    border-radius: 100%;
    width: 5px;
    height: 5px;
}

.white-timer-colon.colon-bottom {
    position: absolute;
    bottom: 30%;
}

.white-timer-colon-group-margin {
    height: 14px;
    width: 7px;
    position: relative;
}


/* Black Timer css */

.black-timer-portion {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.black-timer-box {
    width: 52px;
    height: 52px;
    line-height: 1.42857143;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #000000;
    font-weight: 600;
    font-size: 45px;
}

.black-timer-label {
    width: 52px;
    height: 14px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-weight: 400;
}

.highlight-text {
    font-weight: 600;
}

.black-timer-colon-group {
    height: 52px;
    width: 7px;
    position: relative;
}

.black-timer-colon.colon-top {
    position: absolute;
    top: 30%;
}

.black-timer-colon {
    background: #000000;
    border-radius: 100%;
    width: 5px;
    height: 5px;
}

.black-timer-colon.colon-bottom {
    position: absolute;
    bottom: 30%;
}

.black-timer-colon-group-margin {
    height: 14px;
    width: 7px;
    position: relative;
}

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 15px 45px;
}

.second-section {
    background: #e8f1f5 url(../images/second-section-bg.png) no-repeat center right;
    padding: 30px 0;
    background-size: 100% 100%;
}

.xstext-center {
    text-align: center;
}

.white-section {
    background: #ffffff;
    padding: 5% 0;
}

.blue-border {
    background: #d1e5f9;
    height: 3px;
    width: 100%;
}

.header-bordered-list li {
    list-style: none;
    /* background: url(../images/red-tick.png) no-repeat;
    background-position: 0 7px; */
    padding: 0 0 12px 45px;
    /* margin-top: 25px;
    border-bottom: 1px solid #f6ffd9; */
}

.header-bordered-list li:last-child {
    border-bottom: 0px;
	padding-bottom: 0px;
}

.border-inside-list {
    border-bottom: 1px solid #ffd4c7;
}

.qstn-bg {
    background: #ffffff;
    background-size: cover;
    padding: 0px 0 30px 0px;
}

.live-section {
    background: #ffffff;
    padding: 0px 0 30px 0px;
}

.ground-breaking {
    padding: 30px 0px;
    background: #eaf3ff;
}

.features-1 {
    padding: 30px 0px;
    background: #eaf3ff;
}

.weneed-bg {
    background: #ffffff;
    padding: 30px 0 30px 0px;
}

.line-5 {
    background: #370581;
    height: 5px;
}

.hello-awesome {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .margin-bottom-15 {
        margin-bottom: -15px;
    }
    .hello-awesome {
        padding: 100px 0px;
        background: url(../images/hello-awesome-bg.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .launch-date {
        background: url(../images/launch-date.png) no-repeat center center;
        background-size: contain;
        padding: 30px 0 70px 0px;
    }
    .weneed-bg {
        background: #ffffff url(../images/weneed-bg.png) no-repeat top center;
        background-size: cover;
        padding: 80px 0 80px 0px;
    }
    .head-list {
        background: #ffffff url(../images/headlist-bg.png) no-repeat center center;
        background-size: cover;
        padding: 40px 0 90px 0px;
    }
    .ground-breaking {
        padding: 0px 0px 100px 0px;
        background: #eaf3ff url(../images/bluebg.png) no-repeat center center;
        background-size: cover;
    }
    .features-1 {
        padding: 70px 0 150px 0;
        background: #eaf3ff url(../images/feature1-bg.png) no-repeat;
        background-size: 100% 100%;
        background-position: center right;
        height: 1096px
    }
    .live-section {
        background: #ffffff;
        background-size: cover;
        padding: 0px 0px 90px 0px;
    }
    .qstn-bg {
        background: #ffffff url(../images/qstn-bg.png) no-repeat center center;
        background-size: cover;
        padding: 0px 0 0px 0px;
    }
    .highlight-text {
        background: #f9a193;
        padding: 2px 10px;
        font-weight: 400;
    }
    .min-sm-video-width-left {
        width: 67%;
    }
    .mt-sm130 {
        margin-top: 130px;
    }
    .min-sm-video-width-right {
        width: 33%;
    }
    .kaptick li {
        padding: 0 0 36px 55px;
    }
    .xstext-center {
        text-align: right;
    }
    .instant-btn a {
        font-size: 30px;
        padding: 30px 15px;
    }
    .step-back {
        padding: 27px 15px;
    }
    .second-section {
        padding: 60px 0px 40px 0px;
    }
    /* Timer CSS */
    .white-timer-box {
        width: 85px;
        height: 66px;
        font-size: 65px;
    }
    .white-timer-label {
        width: 85px;
        font-size: 20px;
    }
    .black-timer-colon-group {
        height: 66px;
        width: 40px;
        padding: 0px 15px;
    }
    .white-timer-colon-group {
        height: 66px;
        width: 40px;
        padding: 0px 15px;
    }
    .black-timer-box {
        width: 85px;
        height: 66px;
        font-size: 65px;
    }
    .black-timer-label {
        width: 85px;
        font-size: 20px;
    }
    .black-timer-colon {
        width: 10px;
        height: 10px;
    }
    .white-timer-colon {
        width: 10px;
        height: 10px;
    }
    .black-timer-colon.colon-top,
    .white-timer-colon.colon-top {
        top: 23%;
    }
    /* Timer CSS End */
    .header-section {
        background: #0041C7 url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 40px 0px 180px;
    }
    .second-header-section {
        background: #85d5fb url(../images/second-header-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 70px 0px 60px;
    }
    .highlihgt-heading {
        position: relative;
        padding: 8px 20px;
    }
    .rotate-5 {
        transform: skew(7deg);
    }
    .sep {
        padding-right: 15px;
    }
    .sep:after {
        width: 2px;
        height: 25px;
        margin-left: 10px;
        top: 3px;
    }
    .step-absolute-image {
        top: -50px;
        left: 35px;
    }
    .step1-absolute-image {
        top: -57px;
        left: 35px;
    }
    .mx-h-140 {
        max-height: 100%;
    }
    .px-sm50 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .btn-padding {
        padding: 0px 55px;
    }
    .ul-tick-icon li {
        padding: 0 39px 0 39px;
    }
}
    @media (min-width: 768px) {
        .visitors-section {
            background: #ffffff url(../images/ever-needbg.png) no-repeat bottom right;
            box-shadow: none;
            padding: 80px 0px;
        }
   
	.dark-section {
        background: #0a062e url(../images/dark-section-bg.png) no-repeat center center;
        padding: 70px 0px 70px;
        background-size: cover;
    }
    .dark-section2 {
        background: #0a062e url(../images/dark-section-bg2.png) no-repeat center center;
        padding: 70px 0px 70px;
        background-size: cover;
    }
    .solution-section {
        padding: 80px 0px;
    }
	.header-list-block {
		border-radius: 20px;
		padding: 40px 20px;
		margin-top: -90px;
	}
	.f-md-80 {
		font-size: 80px;
	}
 }
    

@media (min-width: 1400px) {
    .features-1 {
        background-size: cover;
        height: 969px;
    }
}

.list-section {
	padding: 30px 0px;
	background: #ffffff;
}
@media (min-width: 768px) {
	.list-section {
		padding: 0px 0px 70px;
	}
}

/* Funnel Testimonial Box */

.funnel-blue-box {
    border-radius: 30px;
    background: #e9f8ff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-yellow-box {
    border-radius: 30px;
    background: #fff9e9;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-lime-box {
    border-radius: 30px;
    background: #efffe9;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-pink-box {
    border-radius: 30px;
    background: #f7e9ff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-yellow-box {
    border-radius: 30px;
    background: #fff6e9;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-l-blue-box {
    border-radius: 30px;
    background: #e9eeff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-image-right {
    position: absolute;
    right: 0px;
    top: -65px;
}

.absolute-funnel-image {
    position: absolute;
    left: 10px;
    top: -30px;
}

.mh-150px {
    max-height: 150px;
}

.orange-shape {
    position: absolute;
    top: -7px;
    left: 13px;
}

.no-install {
    background: #ffffff;
    padding: 30px 0;
}

@media(min-width: 768px) {
    .no-install {
        background: #ffffff;
        padding: 100px 0;
    }
    .funnel-image-right {
        top: -85px;
    }
    .funnel-blue-box,
    .funnel-yellow-box,
    .funnel-lime-box,
    .funnel-l-blue-box,
    .funnel-yellow-box,
    .funnel-pink-box {
        padding: 40px 38px;
    }
    .funnel-l-blue-box {
        padding: 40px 37px 20px;
    }
    .absolute-funnel-image {
        top: -52px;
    }
    .mh-150px {
        max-height: 100%;
    }
    .mt-sm-150 {
        margin-top: 150px;
    }
    .mt-sm125 {
        margin-top: 125px;
    }
}


/* XS Margin Auto CSS */

@media (max-width: 767px) {
    /*.need-bg {
        border: 5px solid #ff3c00;
        padding: 15px 10px;
        border-radius: 5px;
    }
    .reasons-bg {
        border: 5px solid #ff3c00;
        border-radius: 5px;
        padding: 10px;
    }*/
    .height172 {
        max-height: 172px;
    }
    .height220 {
        max-height: 220px;
    }
    .height200 {
        max-height: 200px;
    }
    .height250 {
        max-height: 250px;
    }
    .mx-xs-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .text-xs-center {
        text-align: center;
    }
    #af-form-1229067111 {
        min-height: 210px;
    }
}

.happy-customer {
    background: #e7fbff;
    border-radius: 5px;
    padding: 15px;
}

@media (min-width: 768px) {
    .happy-customerbg {
        position: absolute;
        bottom: 0;
    }
    .happy-customer {
        border-radius: 0px 5px 5px 0px;
        padding: 41px 10px;
    }
}

.lpb-section,
.lpb-section5 {
    background: #9edffd;
    padding: 30px 0px;
}

@media only screen and (min-width: 768px) {
    .lpb-section {
        /*background: #ffffff url(../images/bgg.png) no-repeat;*/
        background: #a6e1fd;
        padding: 50px 0px 50px;
        background-position: bottom center;
        background-size: cover;
    }
    .lpb-section5 {
        background: #9edffd url(../images/bgg1.png) no-repeat;
        padding: 50px 0px 50px;
        background-position: top center;
        background-size: cover;
    }
}

.funnel-img {
    position: absolute;
    top: 105px;
    left: 35%;
}

.ef-block1,
.ef-block2,
.ef-block3,
.ef-block4 {
    border-radius: 30px;
    background-color: #f6fcff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    min-height: 236px;
}

.ef-block1 {
    padding: 30px 85px 30px 50px;
    margin-bottom: 30px;
}

.ef-block2 {
    padding: 30px 45px 30px 96px;
    margin-bottom: 30px;
}

.ef-block3 {
    padding: 30px 85px 30px 50px;
}

.ef-block4 {
    padding: 30px 45px 30px 110px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    .ef-block1,
    .ef-block2,
    .ef-block3,
    .ef-block4 {
        padding: 25px 15px 20px 15px;
        margin-bottom: 30px;
        min-height: auto;
    }
    .funnel-img {
        position: static;
        margin-bottom: 15px;
    }
    .instant-btn a {
        font-size: 20px;
        padding: 10px;
    }
    .header-section ul.leader-ul li {
        padding: 3px 6px;
    }
    .bn-btn {
        display: inline-block;
        text-decoration: underline;
    }
    .bn-btn a {
        color: #224cb0;
    }
}

.heading-shape {
    background: #ffffff;
    border-radius: 5px;
    display: block;
    margin: auto;
    padding: 5px 7px;
}

@media only screen and (min-width: 768px) {
    .text-sm-right {
        text-align: right;
    }
    .heading-shape {
        /*background: url(../images/heading-shape.png);*/
        /*background: #ffffff;*/
        background: #0a062e;
        color: #ffffff;
        border-radius: 100%;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 11px 35px;
    }
}


/* MaxFunnel Section */

.endless-section {
    background: #ffffff url(../images/bgm.png) no-repeat top center;
    background-size: cover;
    padding: 30px 0px;
}

.shp1 {
    background: #ffffff url(../images/shp1.png) no-repeat top center;
    background-size: cover;
    padding: 20px 0px 52px 0px;
}

.shp2 {
    background: #ffffff url(../images/shp2.png) no-repeat top center;
    background-size: cover;
    padding: 20px 62px 62px 0px;
}

.shp3 {
    background: #ffffff url(../images/shp3.png) no-repeat top center;
    background-size: cover;
    padding: 20px 0px 62px 70px;
}

.shp4 {
    background: #ffffff url(../images/shp4.png) no-repeat top center;
    background-size: cover;
    padding: 20px 0px 62px 0px;
}

.shp5 {
    background: #ffffff url(../images/shp5.png) no-repeat top center;
    background-size: cover;
    padding: 20px 0px 62px 70px;
}

.dots-icon {
    position: absolute;
    left: -20px !important;
    top: -15px !important;
}


/*aman css start*/

.wrapper-am {
    background: #ffffff url(../images/ambg.png) no-repeat top center;
    background-size: cover;
    padding: 20px 0px 40px 0;
}

.section-bg-am {
    background: #e8f1f5;
    padding: 20px 10px;
}

.list-am {
    list-style: none;
}

.list-am li {
    background: url(../images/list-bullet-am.png) no-repeat;
    background-position: left top;
    padding-left: 40px;
    min-height: 40px;
    line-height: 1.4;
    margin-bottom: 20px;
}


/*aman css end*/

@media (min-width: 768px) {
    .section-bg-am {
        background: url(../images/section-bg-am.png) no-repeat;
        background-size: contain;
        height: 684px;
        width: 999px;
    }
}

@media (max-width: 767px) {
    .list-am {
        padding: 0;
    }
    .shp1 {
        background: #2a36ae;
        padding: 20px 10px 15px 10px;
        border-radius: 5px;
    }
    .shp2 {
        background: #ff8d4f;
        padding: 20px 10px 15px 10px;
        border-radius: 5px;
    }
    .shp3 {
        background: #c452c0;
        padding: 20px 10px 15px 10px;
        border-radius: 5px;
    }
    .shp4 {
        background: #278bd2;
        padding: 20px 10px 15px 10px;
        border-radius: 5px;
    }
    .shp5 {
        background: #2aae58;
        padding: 20px 10px 15px 10px;
        border-radius: 5px;
    }
}


/* Testimonial CSS */

.testimonial-section {
    background: #e8f1f5;
    background-size: cover;
    padding: 6% 0%;
}

.testi-block {
    position: relative;
    background: #ffffff;
    padding: 5%;
    width: 100% !important;
    box-shadow: 4.663px 3.776px 36.4px 3.6px rgba(31, 105, 189, 0.09);
    border-radius: 20px;
}

.testi-block:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-top-color: #ffffff;
    border-bottom: 0;
    border-right: 0;
    margin-left: -14.5px;
    margin-bottom: -29px;
}

.testi-block2 {
    position: relative;
    background: #ffffff;
    width: 100% !important;
    padding: 30px 5px 5px 5px;
    box-shadow: 4.663px 3.776px 36.4px 3.6px rgba(31, 105, 189, 0.09);
    border-radius: 20px;
}

.testi-block1 {
    position: relative;
    background: #ffffff;
    padding: 5%;
    width: 100% !important;
    box-shadow: 4.663px 3.776px 36.4px 3.6px rgba(31, 105, 189, 0.09);
    border-radius: 20px;
}

.testi-img {
    width: 132px;
    min-width: 132px;
    height: 132px;
    min-height: 132px;
    border-radius: 50%;
}

.testi-video {
    box-shadow: 4.663px 3.776px 36.4px 3.6px rgba(31, 105, 189, 0.09);
    border-radius: 20px;
    overflow: hidden;
}

.testi-video1 {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

@media (min-width:768px) {
    .test-margin {
        margin-top: -70px;
    }
    .test-margin1 {
        margin-top: -50px;
    }
}

.blue-txt {
    color: #3936c9;
}

.grey-txt {
    color: #373636;
}

.clear {
    clear: both;
}

@media(min-width:768px) {
    .t1 {
        position: relative;
    }
    .t1::before {
        position: absolute;
        left: -25px;
        top: -25px;
        z-index: 8;
        content: "";
        height: 222px;
        width: 208px;
        background: url(../images/t-1.png) no-repeat;
    }
    .t2 {
        position: relative;
    }
    .t2::before {
        position: absolute;
        right: -25px;
        top: -25px;
        z-index: 8;
        content: "";
        height: 222px;
        width: 208px;
        background: url(../images/t-1.png) no-repeat;
    }
}

@media(max-width:767px) {
    .xsmbtext {
        text-align: center;
    }
}


/* Dotcompal Lead Section */

.dcp-leadsection {
    padding: 5% 0;
}

@media (min-width: 768px) {
    .dcp-leadsection {
        padding: 60px 0px 90px 0px;
        background: #fff url(../images/dcp-leadsection.png) no-repeat center bottom;
        background-size: 100% auto;
    }
}


/* Funnel Testimonial Box */

.funnel-blue-box {
    border-radius: 30px;
    background: #e9f8ff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-yellow-box {
    border-radius: 30px;
    background: #fff9e9;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-lime-box {
    border-radius: 30px;
    background: #efffe9;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-pink-box {
    border-radius: 30px;
    background: #f7e9ff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-yellow-box {
    border-radius: 30px;
    background: #fff6e9;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-l-blue-box {
    border-radius: 30px;
    background: #e9eeff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-image-right {
    position: absolute;
    right: 0px;
    top: -65px;
}

.absolute-funnel-image {
    position: absolute;
    left: 10px;
    top: -30px;
}

.mh-150px {
    max-height: 150px;
}

.orange-shape {
    position: absolute;
    top: -7px;
    left: 13px;
}

.wecan-sec {
    background-color: #eaf2f6;
    padding: 70px 0px;
}

@media(min-width: 768px) {
    .funnel-image-right {
        top: -85px;
    }
    .funnel-blue-box,
    .funnel-yellow-box,
    .funnel-lime-box,
    .funnel-l-blue-box,
    .funnel-yellow-box,
    .funnel-pink-box,
    .funnel-l-blue-box {
        padding: 40px 38px;
    }
    .absolute-funnel-image {
        top: -52px;
    }
    .mh-150px {
        max-height: 100%;
    }
    .mt-sm-150 {
        margin-top: 150px;
    }
    .mt-sm125 {
        margin-top: 125px;
    }
}


/* XS Margin Auto CSS */

@media (max-width: 767px) {
    .mx-xs-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .text-xs-center {
        text-align: center;
    }
}


/* Amit Pareek Section css*/

.bgm2-section {
    background: #ffffff url(../images/bgm2.png) no-repeat top center;
    background-size: cover;
    padding: 30px 0px;
}

.d-inlineblock {
    display: none !important;
}

@media (min-width: 768px) {
    .bgm2-section {
        padding: 70px 0px;
    }
}

.solution-circle {
    background: #ffffff url(../images/bgs.png) no-repeat top center;
    background-size: contain;
    padding: 115px 80px 140px 80px;
}

.outer-div {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.catch-sec {
    padding: 50px 40px;
    background-color: #e8f1f5;
    /*border: 1px solid #e8f1f5;*/
    border-radius: 10px;
}

@media (max-width: 767px) {
    .catch-sec {
        padding: 20px 15px;
    }
    .wecan-sec {
        background-color: #eaf2f6;
        padding: 30px 0px;
    }
    .solution-circle {
        background: #e8f1f5;
        padding: 15px;
        border-radius: 5px;
    }
    .d-inlineblock {
        display: inline-block !important;
    }
}


/* Build Sales Funnels Section css */

.build-salesfunnel {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .build-salesfunnel {
        background: #fff url(../images/build-salesfunnel.png) no-repeat;
        background-size: cover;
        padding: 70px 0px;
        background-position: top center;
    }
    .margin-top140 {
        margin-top: 140px;
    }
}


/* MaxFunnels Is EVERYTHING Section css*/

.propert {
    background: url(../images/pros-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 4% 0 6%;
}

@media(max-width:767px) {
    .propert {
        background: #eaf2f6;
        padding: 30px 0px;
    }
}

.shapee1,
.shapee2,
.shapee3,
.shapee4,
.shapee5,
.shapee6 {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 22px 20px 22px;
    width: 271px;
    height: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shapee1 {
    background: url(../images/shapee-1.png);
}

.shapee2 {
    background: url(../images/shapee-2.png);
}

.shapee3 {
    background: url(../images/shapee-3.png);
}

.shapee4 {
    background: url(../images/shapee-4.png);
}

.shapee5 {
    background: url(../images/shapee-5.png);
}

.shapee6 {
    background: url(../images/shapee-6.png);
}


/* Less Than Css */

.section-am {
    padding: 25px 0;
}

.purple-bg-am {
    background-color: #0a062e;
    padding: 10px 5px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .section-am {
        padding: 25px 0 70px 0px;
    }
    .purple-bg-am {
        background: url(../images/banner-bg-am.png) no-repeat;
        background-position: top center;
        background-size: contain;
        padding: 100px 0;
        width: 979px;
        height: 631px;
    }
}

.testi-radius {
    border-radius: 50%;
    width: 115px;
    height: 115px;
}


/* new css */

.header-section-top {
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.header-section-top ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-section-top {
    padding: 20px 0px 20px;
}

.mt-m15px {
    margin-top: -15px;
}

@media (min-width: 768px) {
    .header-section-top {
        padding: 30px 0px 20px;
    }
}

.header-section-top ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 500;
}

.formbg {
    position: relative;
    padding: 15px;
	background-image: -moz-linear-gradient( 90deg, rgb(0,22,95) 0%, rgb(0,68,205) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,22,95) 0%, rgb(0,68,205) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,22,95) 0%, rgb(0,68,205) 100%);
    border-radius: 10px;
    /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2); */
}

.width-form {
    width: 100%;
    float: left;
    padding: 0px 0px;
}

.terms-section {
    padding: 30px 0px;
    background: #ffffff;
}

@media (min-width: 768px) {
    .terms-section {
        padding: 70px 0px 70px 0px;
    }
    .formbg {
        padding: 40px 30px 30px 30px;
    }
    .width-form {
        width: 33%;
        padding: 0px 15px;
    }
    .width-form-button {
        width: 30%;
        padding: 0px 15px;
    }
}

.form-control.input-field {
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background-color: #ffffff;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 15px;
}
@media (min-width: 768px) {
	.form-control.input-field {
		height: 50px;
	}
}

#templateBody ::-webkit-input-placeholder {
    color: #707279;
}

#templateBody :-ms-input-placeholder {
    color: #707279;
}

#templateBody ::placeholder {
    color: #707279;
}

.primary-clr {
    color: #ffe8cc;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 5px;
	background-image: -moz-linear-gradient( -45deg, rgb(255,103,28) 0%, rgb(253,139,37) 69%);
	background-image: -webkit-linear-gradient( -45deg, rgb(255,103,28) 0%, rgb(253,139,37) 69%);
	background-image: -ms-linear-gradient( -45deg, rgb(255,103,28) 0%, rgb(253,139,37) 69%);
    text-decoration: none;
    border: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px 10px;
    line-height: 30px;
    font-weight: 700;
    outline: none;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    max-width: 510px;
    white-space: normal;
}

.launch-sp {
    background: #fff;
    background-position: top center;
    padding: 0px 0px 100px;
}

@media (max-width: 767px) {
    .launch-sp {
        background: #fff;
    }
}

.exciting-launch {
    padding: 30px 0px;
    background: #e0e1ff;
}

.launch-box1 {
    position: relative;
    padding: 15px;
    background: #ffffff;
    border: solid 5px #2f3796;
    border-radius: 10px;
}

.launch-box1-image {
    background: url(../images/launch-box1-image.png) no-repeat center center;
    padding: 10px 20px;
    background-size: contain;
}

.launch-box2-image {
    background: url(../images/launch-box2-image.png) no-repeat center center;
    padding: 10px 20px;
    background-size: contain;
}

.launch-box2 {
    position: relative;
    padding: 15px;
    background: #2f3796;
    border: solid 5px #c6caf4;
    border-radius: 10px;
}

.launch-box-img {
    margin-top: -65px;
}

.launch-tick1 {
    /* list-style: none; */
}

.launch-tick1 li {
    /* background: url(../images/orange-tick.png) no-repeat; */
    background-position: 0px 4px;
    padding: 0px 0px 12px 10px;
}

.launch-tick2 {
    list-style: none;
}

.launch-tick2 li {
    background: url(../images/launch-tick-primary.png) no-repeat;
    background-position: 0px 2px;
    padding: 0px 7px 18px 40px;
}

@media (max-width: 767px) {
    .launch-box-img {
        margin-top: 0px;
    }
    .launch-tick1 li:last-child {
        padding-bottom: 0px;
    }
    .launch-tick2 li:last-child {
        padding-bottom: 0px;
    }
}

.affiliate-btn a {
	background: #ee3725;
    text-decoration: none;
    /* border: solid 2px #ffffff; */
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    max-width: 510px;
}

.affiliate-btn1 a {
    border-radius: 5px;
    background: #ee3725;
    text-decoration: none;
    border: solid 2px #ffffff;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 23px 20px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    text-transform: capitalize;
    box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.45);
}

@media (min-width: 768px) {
    .popup-btn a,
    .popup-btn input[type="submit"] {
        padding: 10px 10px;
        /* max-width: 510px; */
    }
    .affiliate-btn a {
        padding: 23px 20px;
        max-width: 510px;
    }
    .launch-box1 {
        padding: 50px 40px 60px 40px;
        background: url(../images/pre-launch-bg.png) no-repeat center center;
        background-size: 100% 100%;
        box-shadow: none;
        border: none;
        border-radius: 0px;
    }
    .launch-box2 {
        padding: 60px 40px 60px 40px;
        background: url(../images/launch-bg.png) no-repeat center center;
        background-size: 100% 100%;
        box-shadow: none;
        border: none;
        border-radius: 0px;
    }
    .launch-box1-image {
        padding: 18px 10px;
    }
    .launch-box2-image {
        padding: 18px;
    }
    .mt-md180 {
        margin-top: 180px !important;
    }
    .exciting-launch {
        padding: 150px 0px 100px;
        background: #ffffff url(../images/exciting-launch.png) no-repeat center center;
        background-size: cover;
    }
    .mt-md140 {
        margin-top: 140px !important;
    }
	a.affiliate-link-btn {
		padding: 18px 25px;
		font-size: 20px;
	}
    a.affiliate-link-btn:hover {
		background: linear-gradient(90deg, rgba(253,139,37,1) 0%, rgba(255,108,29,1) 100%);
        /* border: 2px solid #ffffff; */
        color: #ffffff;
    }
	,
    .affiliate-btn a:hover {
		color: #ee3725;
	}
}


/* see-yourself */

.see-yourself {
    background: #ffebe6 url(../images/see-ypurself.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0px 100px;
}

.bg-gets {
    background: #ffe8cc;
    border-radius: 50px;
    padding: 18px 15px;
    display: inline-block;
    text-align: center;
}


/* marketer-section */

.hugely-section {
    padding: 100px 0px 200px;
    background: #ffffff url(../images/hugely.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.title-bg1 {
    padding: 20px 20px;
    background: url(../images/learn-bg.png) no-repeat;
    background-size: contain;
    background-position: center center;
}

.title-bg2 {
    padding: 20px 20px;
    background: url(../images/easy-way.png) no-repeat;
    background-size: contain;
    background-position: center center;
}

.max-heigh200 {
    max-height: 200px;
}

.max-heigh275 {
    max-height: 275px;
}

.max-heigh250 {
    max-height: 250px;
}

.max-heigh340 {
    max-height: 340px;
}

@media (max-width: 767px) {
    .title-bg2 {
        padding: 20px 20px;
        background: #370581;
        background-size: contain;
        background-position: center center;
    }
    .title-bg1 {
        background: transparent;
        border: 3px solid #ffffff;
        border-radius: 3px;
        padding: 10px;
    }
    .see-yourself {
        background: #000000;
    }
    .content-space {
        padding: 30px 0px;
    }
    .launch-sp {
        padding: 0px 0px 30px;
    }
    .hugely-section {
        background: #2e0675;
    }
    a.affiliate-link-btn {
        color:rgb(253 139 37);
        background: transparent !important;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        text-decoration: underline;
        padding: 0px;
        border: 0px;
    }
    .max-heigh340 {
        max-height: 250px;
    }
}

.ml-auto {
    margin-left: auto;
}

.b-tick1 li {
    background: url(../images/circle-icon.png) no-repeat;
    background-position: 0 10px;
    list-style: none;
    padding: 0 0 20px 30px;
}

.launch-start-bg {
    background: #ff7200;
    padding: 0px 20px 50px 20px;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}

.launch-shape {
    background: #ffffff;
    padding: 15px 30px;
    border-radius: 65px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin-top: -30px;
    box-shadow: 0px 15px 30px 0px rgb(26 36 63 / 25%);
    min-width: 270px;
}

.launch-start-bg1 {
    background: #ffffff;
    padding: 0px 20px 30px 20px;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    border-left: solid 8px #ff7200;
    border-right: solid 8px #ff7200;
}

.launch-shape1 {
    background: #1a243f;
    padding: 15px 30px;
    border-radius: 65px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin-top: -30px;
    box-shadow: 0px 15px 30px 0px rgb(26 36 63 / 25%);
    min-width: 270px;
}

.blue-head {
    color: #3f43ba;
}

.orange-clr {
    color: #ff6b1d;
}

.orange-list li {
   /*  background: url(../images/li-bg.png) no-repeat;
    background-size: 100% 100%;
    border-bottom: 0px; */
    padding: 12px 20px 12px 50px;
    position: relative;
}

.orange-list li::before {
    content: url(../images/red-tick.png);
    position: absolute;
	left: 10px;
    top: 15px;
}

.heading-design {	
	border-radius: 40px;
	background: #fd8b25;
	display: inline-block;
	padding: 10px 30px;
}

.no-orange-list li {
    background: url(../images/orange-tick.png) no-repeat;
    border: none;
    margin-top: 12px;
    background-position: 0 7px;
    padding: 0 0 12px 30px;
    list-style: none;
}

.no-orange-list li:first-child {
    margin-top: 0px;
}

@media (min-width: 768px) {
    .heading-design {
		border-radius: 40px;
		background: #fd8b25;
		padding: 2px 45px;
		display: inline-block;
    }
}

.b-tick1 li {
    background: url(../images/circle-icon.png) no-repeat;
    background-position: 0 10px;
    list-style: none;
    padding: 0 0 20px 30px;
}
.phase-bg1 {
	background: url(../images/phase-bg1.png) no-repeat;
	background-size: auto;
	padding: 115px 20px;
	background-position: center;
	color: #fff;	
}
@media (min-width: 768px) {
	.phase-bg1 {
		background: url(../images/phase-bg1.png) no-repeat;
		background-size: auto;
		padding: 115px 20px;
		background-position: center;
		color: #fff;	
	}
}
.logos-effect img {
	transition: all 0.5s;
}
.logos-effect img:hover {
	transform: scale(1.1);
    transition: all 0.5s;
}