.countdown {
	background-color: transparent;
	color:#000000;
	font-family: 'Poppins', sans-serif;;
	text-align: center;	
	display: flex;
	justify-content: space-between;
}
/* Css For Timer Display */
.timer-label{margin-right:15px;  background:#f2f2f2; border:solid 1px #000000; border-radius:5px; padding:5px 0px 10px 0px!important; width:100%;}
.countdown .timer-label:last-child{margin-right:0px;}
.timerbg{font-weight:600; line-height:120%;}



