
.masthead{
	background: #C0F1FF url('../img/background1.png');
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-top: 50px;
	padding-bottom: 100px;
}

.home1 .video_box iframe {
	width: 100%;
	height: 400px;

}
.home1 .content_box table td svg{
	color: #ffa705;
}
.home1 .content_box table td{
	border: none;
	padding-bottom: 10px;
	padding-top: 0px;
	line-height: 22px;
}

.home1 .shadow1{
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 2px solid rgba(21, 198, 252, 1);
	padding: 10px 30px;
}

.home2{
	background-color: #C0F1FF;
}


.home2 .content .box_text1{
	padding: 30px;
	background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(165,165,165,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* ie10+ */
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#A5A5A5',GradientType=1 ); /* ie6-9 */
	border-radius: 15px;
}

.home2 .box_text{
	background-color: #fff;
	box-shadow: 30px 30px 100px 0px rgba(0,0,0,0.5);
	border-radius: 30px;
	padding: 70px 30px;
}
.home2 .box_text img{
	width: 70px;
} 

.home3{
	background:#f0f7f9 url('../img/background3.png');
	background-size: cover;
	background-position: bottom center;	
	padding-bottom: 6%;
}

.home3 .content .item{
	background-color: #fff;
	border-radius: 10px;
  box-shadow: 5px 8.66px 20px 0px rgba(0, 0, 0, 0.35);
  padding: 30px 10px;
  min-height: 230px;
}

.home3 .content .item img{
	height: 80px;
	margin-bottom: 20px;
}

.home31{
	background:#f0f7f9;
	background-size: cover;
	background-position: bottom center;	
	padding-bottom: 5%;
	position: relative;
	z-index: 10;
	padding-top: 5%;
}

.home4{
	background-image: url('../img/background4.png');
	background-size: cover;
	background-position: top left;	 
	position: relative;
	z-index: 5;
}

.home5{
	background-color: #ffe0c4;
	padding-bottom: 5%;
}
.home5_footer{
	margin-top: -20%;
}
.home5_footer .footer_content{
	margin-top: -10%;
	background-color: #e6f5f8;
}
.home51{
	background-image: url('../img/background51.png');
	background-size: cover;
	background-position: bottom center;	 
	position: relative;
	z-index: 10;
	padding-bottom: 1%;
}
.home51 .header h2{
	background-color: #c82222;
	padding: 10px;
}
.home52{
	background-image: url('../img/background52.png');
	background-size: cover;
	background-position: bottom center;	 
	position: relative;
	z-index: 5;
	margin-top: -10%;
	padding-top: 15%;
	padding-bottom: 6%;
}

.home6{
	background-image: url('../img/background6.png');
	background-size: cover;
	background-position: bottom;	 
	position: relative;
	z-index: 4;
	margin-top: -8%;
	padding-top: 12%;
	padding-bottom: 20%;
}

.home6 ul li{
	margin-bottom: 20px;
}

.home61{
	background:#f0f7f9;
	background-size: cover;
	background-position: bottom;	 
	position: relative;
	z-index: 3;
	margin-top: -8%;
	padding-top: 12%;
	padding-bottom: 6%;
}

.home62{
	background-image: url('../img/background62.png');
	background-position: bottom;	 
	padding-bottom: 5%;
	z-index: 2;
	padding-top: 6%;
	position: relative;
}
.home63{
	background-image: url('../img/background63.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 10%;
	padding-bottom: 10%;
}

.home63_footer{
	background-image: url('../img/background63_f.png');
	background-size: cover;
	background-position: top center;
	padding-top: 10%;
	position: relative;
	z-index: 50;
}

.home64{
	background-image: url('../img/background64.png');
	background-size: cover;
	background-position: bottom center;
	padding-top: 6%;
	padding-bottom: 5%;
	position: relative;
	z-index: 100;

}

.home64 .content img{
	max-width: 400px;
}

.home64 .content h2{
	font-size: 50px;
}

.home7{
	position: relative;
	z-index: 90;
	background-image: url('../img/background7.png');
	background-size: cover;
	background-position: bottom;	 
	padding-top: 6%;
	padding-bottom: 5%;
}

.home7 .content h2{
	padding: 10px 20px;
	border-radius: 20px;
	background-color: #ffa705;

}

.home8{
	position: relative;
	margin-top: -11%;
	padding-top: 15%;
	z-index: 85;
	background-image: url('../img/background8.png');
	background-size: cover;
	background-position: bottom;
	padding-bottom: 6% ;	 
}

.home8 .item {
	background-color: #fff;
	padding: 30px 20px ;
}

.home9{
	background-image: url('../img/background9.png');
	background-size: cover;
	background-position: bottom;
	padding-bottom: 7%; 
	position: relative;
	z-index: 80;
	margin-top: -3%;
	padding-top: 8%;
}


.home10{
	background-color: #091166;
	position: relative;
	z-index: 78;
	padding-top: 10%;
	margin-top: -6%;
	padding-bottom: 8%;
}

.home11{
	background-image: url('../img/background11.png');
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 80;
	padding-top: 10%;
	margin-top: -5%;
	padding-bottom: 5%;
}

.home11 .content {
	background-image: url('../img/home11_1.png');
	background-position: right;
	background-repeat: no-repeat;
	height: 900px;
}

.home11 .content li{
	margin-bottom: 30px;
}

.home12 {
	background-color: #091166;
	position: relative;
	z-index: 78;
	padding-top: 15%;
	margin-top: -10%;
	padding-bottom: 5%;
}

.home12 .content h2 span{
	display: inline-block;
	padding: 20px;
	background-color: #ffa705;
}

.home13 {
	margin-top: 200px;
	background-image: url('../img/background13.png');
	background-size: cover;
	background-position: top;
}

.home13 .video_box iframe{
	width: 100%;
}

.home13b {
	background-image: url('../img/background13b.png');
	background-size: cover;
	background-position: top;
}

.home14{
	background-image: url('../img/background14.png');
	background-size: cover;
	background-position: top;
}
.home15{
	background-color: #b7e4ff;
}

.home15 .header a{
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 36px;
}

.home15b{
	background-color: #091166;
}

.home16{
	background-image: url('../img/background16.png');
	background-size: cover;
	background-position: bottom;
}

.home17{
	background-image: url('../img/background17.png');
	background-size: cover;
	background-position: bottom;
	position: relative;
	z-index: 100;
}

.home18{
	position: relative;
	padding-top: 5%;
	z-index: 100;
	background-image: url('../img/background18.png');
	background-size: cover;
}

.home18 .color_white{
	color: rgba(255, 255, 255, 0.9);
}

.home21{
	background-color: #ebf5fc;
}
.home22 ul li{
	list-style: none;
}
.reason-tick{
	padding: 0;
	list-style: none;
}
.reason-tick li {
    background: url(../img/ticktop.png) no-repeat;
    padding: 10px 0px 12px 35px;
    background-position: 0px 12px;
    text-align: left;
    border-bottom: solid 2px #091e42;
}
.reason-tick li:last-child {
    border-bottom: none;
}
.probtn1 a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    border-radius: 10px;
    background: var(--orange-gradient, linear-gradient(360deg, #ED1C24 0%, #FF813B 100%));
}

.probtn1 a:hover  {
    border-radius: 8px;
    background: var(--orange-gradient, linear-gradient(360deg, #FF813B 0%,#ED1C24 100%));
    color: #ffffff;
}
.moneyback-section {
    background: #1a243f;
    background-size: cover;
    padding: 30px 0;
    color: #ffffff;
}
.footer-section {
    background: #000000;
    padding: 30px 0px;
}
.footer-ul{
	padding: 0;
}
.footer-ul li {
    display: inline;
	list-style: none;
}
@media (min-width: 768px){
	.probtn1 a {
		font-size: 30px;
		padding: 35px 25px;
		display: inline-block;
	}
.moneyback-section {
    background: #1a243f url(../img/money-back.png) no-repeat center center;
    background-size: cover;
    padding: 70px 0 70px 0px;
    color: #ffffff;
}
.footer-section {
    padding: 50px 0px;
}
}
@media (max-width:767px){
	.home64 .content img{
		width: 300px;
	}
	.masthead {
		background: #01021d;
	}
	.home2 .box_text {
		background-color: #fff;
		box-shadow: none;
		border-radius: 30px;
		padding: 70px 30px;
	}
	.home3{
		background:#0b156c;
		padding: 30px 0 30px !important;
	}
	.home51{
		background: #091166;
	}
	.home7{
		background: #edf7fd;
	}
	.home8{
		background: #091166;
		margin-top: 0 ;
		padding-top: 4%;
		padding-bottom: 3%;
	}
	.home9{
		background: #7fd5eb;
	}
	.home11{
		background: #fb5181;
		padding-top: 5%;
		margin-top: 0;
		padding-bottom: 4%;
	}
}
.no-thanks{
	color: red;
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
}
.warning-section {
    background-color: #7938ff;
    padding: 20px 0px;
}
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
@media (min-width: 768px){
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
}
}