@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
body{
	font-family: 'Montserrat', sans-serif;
}

.buy_btn_nav{
	background-color: #0AC059;
	padding: 15px;
	border-radius: 15px;

}

.img_logo{
	width:200px;
}

.navbar {
	background-color: transparent !important;
}

.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.mt40{
	margin-top: 40px;
}
.mt50{
	margin-top: 50px;
}
.mt60{
	margin-top: 60px;
}
.mt70{
	margin-top: 70px;
}
.mt80{
	margin-top: 80px;
}
.mt90{
	margin-top: 90px;
}
.mt100{
	margin-top: 100px;
}
.mb0{
	margin-bottom: 0px;
}
.mb20{
	margin-bottom: 20px;
}
.mb30{
	margin-bottom: 30px;
}
.mb50{
	margin-bottom: 50px;
}
.mb70{
	margin-bottom: 70px;
}

.pt20{
	padding-top: 20px;
}
.pt30{
	padding-top: 30px;
}
.pt50{
	padding-top: 50px;
}
.pt70{
	padding-top: 70px;
}
.pt100{
	padding-top: 100px;
}
.pb30{
	padding-bottom: 30px;
}
.pb50{
	padding-bottom: 50px;
}
.pb100{
	padding-bottom: 100px;
}

.lg12{
	font-size: 12px;
}
.lg14{
	font-size: 14px;
}
.lg16{
	font-size: 16px;
}
.lg18{
	font-size: 18px;
}
.lg20{
	font-size: 20px;
}
.lg22{
	font-size: 22px;
}
.lg24{
	font-size: 24px;
}
.lg26{
	font-size: 26px;
}
.lg28{
	font-size: 28px;
}
.lg30{
	font-size: 30px;
}
.lg32{
	font-size: 32px;
}
.lg34{
	font-size: 34px;
}
.lg36{
	font-size: 36px;
}
.lg38{
	font-size: 38px;
}
.lg40{
	font-size: 40px;
}
.lg42{
	font-size: 42px;
}
.lg44{
	font-size: 44px;
}
.lg46{
	font-size: 46px;
}
.lg48{
	font-size: 48px;
}
.lg50{
	font-size: 50px;
}
.lg52{
	font-size: 52px;
}
.lg54{
	font-size: 54px;
}
.lg56{
	font-size: 56px;
}
.lg58{
	font-size: 58px;
}
.lg60{
	font-size: 60px;
}
.lg62{
	font-size: 62px;
}

@media (max-width: 676px) {
	.xs8{
		font-size: 8px;
	}
	.xs9{
		font-size: 9px;
	}
	.xs10{
		font-size: 10px;
	}
	.xs11{
		font-size: 11px;
	}
	.xs12{
		font-size: 12px;
	}
	.xs13{
		font-size: 13px;
	}
	.xs14{
		font-size: 14px;
	}
	.xs15{
		font-size: 15px;
	}
	.xs16{
		font-size: 16px;
	}
	.xs18{
		font-size: 18px;
	}
	.xs20{
		font-size: 20px;
	}
	.xs21{
		font-size: 21px;
	}
	.xs22{
		font-size: 22px;
	}
	.xs24{
		font-size: 24px;
	}
	.xs26{
		font-size: 26px;
	}
	.xs28{
		font-size: 28px;
	}
	.xs30{
		font-size: 30px;
	}
	.xs32{
		font-size: 32px;
	}
	.xs34{
		font-size: 34px;
	}
	.xs36{
		font-size: 36px;
	}
	.xs38{
		font-size: 38px;
	}
	.xs40{
		font-size: 40px;
	}
	.xs42{
		font-size: 42px;
	}
	.xs44{
		font-size: 44px;
	}
	.xs46{
		font-size: 46px;
	}
	.xs48{
		font-size: 48px;
	}
	.xs50{
		font-size: 50px;
	}
	.xs52{
		font-size: 52px;
	}
	.xs54{
		font-size: 54px;
	}
	.xs56{
		font-size: 56px;
	}
	.xs58{
		font-size: 58px;
	}
	.xs60{
		font-size: 60px;
	}
	.xs62{
		font-size: 62px;
	}
	.xsmt0{
		margin-top: 0px;
	}
	.xsmt10{
		margin-top: 10px;
	}
	.xsmt20{
		margin-top: 20px;
	}
	.xsmt30{
		margin-top: 30px;
	}
	.xsmt40{
		margin-top: 40px;
	}
	.xsmt50{
		margin-top: 50px;
	}
	.xsmt60{
		margin-top: 60px;
	}
	.xsmt70{
		margin-top: 70px;
	}
	.xsmt80{
		margin-top: 80px;
	}
	.xsmt90{
		margin-top: 90px;
	}
	.xsmt100{
		margin-top: 100px;
	}
	.xspt0{
		padding-top: 0;
	}
	.xspt10{
		padding-top: 10px;
	}
	.xspt20{
		padding-top: 20px;
	}
	.xspt30{
		padding-top: 30px;
	}
	.xspt40{
		padding-top: 40px;
	}
	.xspt50{
		padding-top: 50px;
	}
	.xspt60{
		padding-top: 60px;
	}
	.xspt70{
		padding-top: 70px;
	}
	.xspt80{
		padding-top: 80px;
	}
	.xspt90{
		padding-top: 90px;
	}
	.xspt100{
		padding-top: 100px;
	}
	.xspb20{
		padding-bottom: 20px;
	}
	.xspb30{
		padding-bottom: 30px;
	}

	.xsmb0{
		margin-bottom: 0px;
	}
	.xsmb10{
		margin-bottom: 10px;
	}
	.xsmb20{
		margin-bottom: 20px;
	}
	.xsmb30{
		margin-bottom: 30px;
	}
	.xsmb40{
		margin-bottom: 40px;
	}
	.xsmb50{
		margin-bottom: 50px;
	}
	.xsmb70{
		margin-bottom: 70px;
	}
}

.bg1{
	background-image: url('../img/bg1.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.bg12{
	color: #fff;
	padding: 0 10px;
	margin-bottom: 10px;
	display: inline-block;
	border-radius: 10px;
	background: -moz-linear-gradient(45deg, rgba(96,57,128,1) 0%, rgba(2,1,2,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(96,57,128,1)), color-stop(100%, rgba(2,1,2,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(96,57,128,1) 0%, rgba(2,1,2,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(96,57,128,1) 0%, rgba(2,1,2,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(96,57,128,1) 0%, rgba(2,1,2,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(96,57,128,1) 0%, rgba(2,1,2,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020102', endColorstr='#603980',GradientType=1 ); /* ie6-9 */
}
.bg21{
	background-color: #FF9F00;
	padding: 0 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.bg31{
	background-color: #f6c847;
	padding: 20px 30px;
	margin-bottom: 10px;
	border-radius:40px;
}
.bg51{
	background-color: #f6c847;
	padding: 20px 30px;
	margin-bottom: 10px;
	border-radius:20px;
}
.bg13{
	background: #fff;
	padding: 10px 20px;
}
.bg14{
	background-image: url('../img/bg14.png');
	background-size: cover;
	background-repeat: no-repeat;
}



.shadow1_box{
	transform: skew(45deg);
}

.shadow12{
	background: -moz-linear-gradient(0deg, rgba(202,140,172,1) 0%, rgba(82,45,111,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(202,140,172,1)), color-stop(100%, rgba(82,45,111,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, rgba(202,140,172,1) 0%, rgba(82,45,111,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, rgba(202,140,172,1) 0%, rgba(82,45,111,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, rgba(202,140,172,1) 0%, rgba(82,45,111,1) 100%); /* ie10+ */
	background: linear-gradient(90deg, rgba(202,140,172,1) 0%, rgba(82,45,111,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CA8CAC', endColorstr='#522D6F',GradientType=1 ); /* ie6-9 */
	padding: 30px 10px;
	border-radius: 25px;	
}


.color_red{
	color: #ed1c24;
}
.color_orange{
	color: #ffa705;
}
.orange-clr1 {
    color: #F60;
}
.color_white{
	color: #fff;
}
.color_blue{
	color: #091166;
}
.color_blue1{
	color: #0060FF;
}
.color_gray{
	color: #7a8795;
}
.color_yellow{
	color: #f6c847;
}
.color_pink{
	color:#FF0070;
}
.btn_custom{
	background: #ff4e0c;
	padding: 10px 30px;
	font-size: 20px;
	border:none;
	box-shadow: 6px 6px 10px 0px rgba(255,78,12,0.65);
	border-radius: 10px;
	color: #fff;
	font-weight: 600;
	width: 100%;
	max-width: 400px;
}
.logo_set{
	max-width: 400px;
}

.custom_btn {
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: #1C2454;
    color: #fff !important;
    border-radius: 20px;
    width: auto;
}
.bg_green{
	background-color: #FF2300;
	padding: 5px 10px; 
}
.bg_gradient_orange{
	padding: 5px 100px;
	background: -moz-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(228,75,21,1) 50%, rgba(9,9,33,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(9,9,33,1)), color-stop(50%, rgba(228,75,21,1)), color-stop(100%, rgba(9,9,33,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(228,75,21,1) 50%, rgba(9,9,33,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(228,75,21,1) 50%, rgba(9,9,33,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(228,75,21,1) 50%, rgba(9,9,33,1) 100%); /* ie10+ */
	background: linear-gradient(90deg, rgba(9,9,33,1) 0%, rgba(228,75,21,1) 50%, rgba(9,9,33,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090921', endColorstr='#090921',GradientType=1 ); /* ie6-9 */
}
.bg_gradient_blue{
	padding: 5px 100px;
	background: -moz-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(1,92,220,1) 50%, rgba(9,9,33,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(9,9,33,1)), color-stop(50%, rgba(1,92,220,1)), color-stop(100%, rgba(9,9,33,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(1,92,220,1) 50%, rgba(9,9,33,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(1,92,220,1) 50%, rgba(9,9,33,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(1,92,220,1) 50%, rgba(9,9,33,1) 100%); /* ie10+ */
	background: linear-gradient(90deg, rgba(9,9,33,1) 0%, rgba(1,92,220,1) 50%, rgba(9,9,33,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090921', endColorstr='#090921',GradientType=1 ); /* ie6-9 */
}
.bg_gradient_blue_white{
	padding: 10px;
	background: -moz-linear-gradient(1deg, rgba(247,245,247,1) 0%, rgba(60,42,222,1) 23%, rgba(28,20,106,1) 50%, rgba(60,42,222,1) 75%, rgba(247,245,247,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(247,245,247,1)), color-stop(23%, rgba(60,42,222,1)), color-stop(50%, rgba(28,20,106,1)), color-stop(75%, rgba(60,42,222,1)), color-stop(100%, rgba(247,245,247,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(1deg, rgba(247,245,247,1) 0%, rgba(60,42,222,1) 23%, rgba(28,20,106,1) 50%, rgba(60,42,222,1) 75%, rgba(247,245,247,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(1deg, rgba(247,245,247,1) 0%, rgba(60,42,222,1) 23%, rgba(28,20,106,1) 50%, rgba(60,42,222,1) 75%, rgba(247,245,247,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(1deg, rgba(247,245,247,1) 0%, rgba(60,42,222,1) 23%, rgba(28,20,106,1) 50%, rgba(60,42,222,1) 75%, rgba(247,245,247,1) 100%); /* ie10+ */
	background: linear-gradient(89deg, rgba(247,245,247,1) 0%, rgba(60,42,222,1) 23%, rgba(28,20,106,1) 50%, rgba(60,42,222,1) 75%, rgba(247,245,247,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F5F7', endColorstr='#F7F5F7',GradientType=1 ); /* ie6-9 */
}
.bg_orange{
	background-color: #F99F04;
	padding: 5px 30px;
}
.btn_custom_set{
	display: inline-block;
	color: #000;
	text-decoration: none;
	padding: 8px 80px;
	border-radius: 60px;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	line-height: 30px;
	border:none;
	background: -moz-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,29,0,1)), color-stop(100%, rgba(249,154,4,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%); /* ie10+ */
	background: linear-gradient(93deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1d00', endColorstr='#f99a04',GradientType=1 ); /* ie6-9 */

}
.btn_custom_set span{
	font-size: 22px;
}

.btn_instant{
	box-shadow: 17px 17px 23px 0px rgba(49,27,146,0.8);
	background-color: #3da3ef;
	font-size: 60px;
	color: #fff;
	font-weight: bolder;
	border:none;
	border-radius: 10px;
}
.box_timer{
	background-image: url('../img/timer.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 300px;
	padding: 30px;
}

.box_timer1{

}
.box_timer svg{
	font-size: 90px;
}
.box_time h2{
	font-size: 60px;
	font-weight: lighter;
}

.hori_row{
	position: absolute;
	height: 10px;
	background-color: #000000;
	width: 50px;
	z-index: 100;
	right: -26px;
	top: 50px;
}
.hori_row1{
	position: absolute;
	height: 10px;
	background-color: #000000;
	width: 50px;
	z-index: 100;
	left: -26px;
	top: 50px;
}

.font_al{
	font-family: 'Alata', sans-serif;
}
.font_j{

}
.footer_content1{

	background-color: #01002E;
}
.box_btn{
	background-color: #FF1D48;
	padding: 10px 0;
}
.box_btn img{
	margin-top: -35px;
}
.box_btn ul{
	margin :0px;
	padding :0px;
}
.box_btn li{
	display: inline-block;
}
.box_btn li

#mainNav .navbar-nav li.nav-item a.nav-link{
	color: #000;
}
#mainNav img{
	width: 300px;
}

.navbar-shrink{
	background-color: rgba(4,6,20,0.7) !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link{
	color: #fff !important;
}


.copyright{
	background: #091166;
}
.copyright ul{
	text-align: right;
}
.copyright ul li{
	display: inline-block;

	margin-right: 10px;
	margin-left: 10px;
}



#modal .modal-dialog{
    margin: 5rem auto 0;
}
#modal .modal-content{
    border-radius: 0px;
}
#modal .modal-header {
    background-color: #FF0056;
    border-radius: 0px;
}

#modal .modal-header h5{
    text-align: center;
    width: 100%;
    font-size: 80px;
    line-height: 40px;
    color: #fff;
}
#modal .modal-header h5 span{
    font-size: 40px;
}
#modal .modal-header .close{
    border-radius: 50%;
    padding: 5px 8px;
    background-color: #222222;
    opacity: 1;
    color: #fff; 
    margin:-30px -30px -1rem auto;
    border:2px solid #fff;
}
#modal .modal-body {
    padding: 1rem 1rem 2rem;
}
#modal .modal-body h2{
    text-align: center;
    font-size: 40px;
}

#modal .modal-body h3{
    text-align: center;
    font-size: 32px;
}
#modal .modal-body h3 span{
    color: #7512c0;
}

#modal .btn_custom{
    padding: 30px 50px;
}
.btn_custom_set1{
	background-color: #fccc00;
    color: #000;
    font-size: 38px;
    text-decoration: none;
    padding: 30px 50px;
    box-shadow: 7px 7px 14px 0px rgba(252,204,0,0.55);
    border-radius: 60px;
    font-weight: 700;
    transition: all 0.5s ease;
    display: inline-block;
    line-height: 26px;
}
.btn_custom_set1 span{
	font-size: 18px;
    font-weight: lighter;
}

@media (max-width: 676px) {
    #modal .modal-header h5{
        font-size: 40px;
    }
    #modal .modal-header h5 span
    {
        font-size: 20px;
    }
    #modal .modal-body h2{
        font-size: 22px;
    }
    #modal .modal-body h3{
        font-size: 18px;
    }
    #modal .btn_custom{
        padding: 20px 10px;
    }
    #modal .modal-dialog{
        margin:5rem 1rem 0;
    }
}


@media (max-width: 676px) {
	.btn_custom_set{
		padding: 10px 20px;
		font-size: 20px;
	}
	.btn_custom_set span{
		font-size: 12px;
	}
	.box_timer svg{
		font-size: 45px;
	}
	.box_timer{
		height: 180px;
	}
	.box_time h2{
		font-size: 52px;
	}
	.img_border{
		display: none;
	}


}