html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 14px;
}
.black-clr {
    color: #000000;
}
.white-clr {
    color: #fff;
}

.blue-gradient {
    background: #459EFF;
    background: linear-gradient(90deg, #459EFF 32.27%, #0ACEE4 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
span.under {
    border-bottom: 4px solid;
}
.under{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #459EFF 32.27%, #0ACEE4 74%);
    border-image-slice: 1;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header-section {
    background: #fff url(../images/header-bg.webp) center bottom no-repeat;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}
.pre-heading {
    background: linear-gradient(90deg, #459EFF 2.09%, #0ACEE4 104.36%);
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    position: relative;
    padding: 10px;
}
@media (min-width: 768px) {
    .header-section {
        padding: 40px 0px 150px 0px;
    }
    .pre-heading {
        padding: 10px 35px 10px 35px;
        border-radius: 40px;
    }
}
.probtn1 a {
    background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}

.probtn1 a::before{
    position: absolute;
    width: 100%;
    height: 44px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}

.probtn1 a:hover {
    transition: all .3s ease;
    background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}

@media (min-width: 768px) {
    .probtn1 a {
        padding: 30px 45px;
        font-size: 32px;
    }
}

.second-sec {
    padding: 30px 0;
}
@media (min-width: 768px) {
    .second-sec {
        padding: 100px 0px;
        background: url(../images/important-thing.webp) no-repeat center center;
		background-size: cover;
    }
}
.grey-section {
    background: #e5eaf6;    
    padding: 30px 0;
}

@media (min-width: 768px) {
    .grey-section {
        padding: 100px 0;
    }
}

ul.bigboxes {
    margin: 0px;
    padding: 0px;
}

.bigboxes li {
    background: url(../images/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 10px;
}

ul.bigboxes1 {
    margin: 0px;
    padding: 0px;
}

.bigboxes1 li {
    background: url(../images/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
    margin-bottom: 20px;
}

.boxes {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
}

@media (min-width: 768px) {
    .boxes {
        padding: 50px;
    }
}

.fifth-section {
    padding: 30px 0px;
    background: #101929;
}

@media (min-width: 768px) {
    .fifth-section {
        padding: 100px 0 100px 0px;
        background: #fff url(../images/moneyback-bg.webp) no-repeat center center;
        background-size: cover;
    }
}

.table-section {
    background: #ffffff;
    padding: 30px 0px;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #b6b3bc;
}

.tbbg2 {
    background: url(../images/start-plan-bg.png) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #b6b3bc;
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}
.tablebox3 {
    background: #fff;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    position: relative;
}
.tbbg3 {
 
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #091274;
    background: #020d20;
}
.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}
.money-head{
 background: url(../images/red-brush.webp) no-repeat center center;
 background-size: 100% 100%;
 padding: 5px 40px;
 color: #fff;

}
ul.vgreytick {
    margin: 0px;
    padding: 0px;
}
ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    color: #000;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}
ul.vgreytick li:nth-child(odd) {
    background-color: #e5eaf6;
}

@media (min-width: 768px) {
    .table-section {
        padding: 100px 0;
        background: url(../images/table-bg.webp) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .tbbg2 {
        padding: 50px 30px 50px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .myfeatureslast {
        padding: 30px 20px;
    }
    .tbbg3 {
        padding: 50px 30px 50px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 20px;
    }
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #0041b5;
}
.footer-section {
    background: #000000;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}
@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}