body {
    font-family: 'Mulish', sans-serif;
    color: #0f0f0f;
    font-size: 14px;
    overflow-x: hidden;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}
.white-clr {
    color: #fff;
}
.black-clr {
    color: #0f0f0f !important;
}
.red-clr {
    color: #f40c28;
}
.orange-clr {
    color: #f9bb0b;
}

/* Header Section CSS */

.header-section {
    background: #0f0f0f;
    padding: 30px 0px;
}

.preheadline {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: #0f0f0f;
    outline: none;
    border-color: #f40c28;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}
.fifth-section {
    background: url(../images/proudlybg.webp) no-repeat top center;
    background-size: cover;
    padding: 50px 0 30px 0px;
}

@media(min-width:768px) {
    .preheadline {
        padding: 15px 30px;
        border-radius: 100px;
    }
    .header-section {
        background: #0f0f0f url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        padding: 40px 0px 100px 0px;
        background-attachment: fixed;
    }
    .fifth-section {
        padding: 100px 0px;
    }
}

.second-section {
    padding: 0px 0px 30px 0px;
    background: #ffffff;
}

.success-section {
    padding: 30px 0px;
    background: #f1f1f1;
}

.header-list-block {
    border-radius: 0px 0px 20px 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}

@media(min-width:768px) {
    .second-section {
        padding: 0px 0px 80px 0px;
        background: #fff url(../images/second-sec-bg.webp) no-repeat;
        background-position: center center;
        overflow: hidden;
    }
    .success-section {
        padding: 80px 0px;
        background: #f1f1f1 url(../images/success-matters.webp) no-repeat;
        background-position: center center;
        overflow: hidden;
    }
    .header-list-block {
        padding: 40px 30px;
    }
}

.but-design-border{
    border: solid 1px #0f0f0f;
    position: relative;
    display: inline-flex;
    border-radius: 10px;
}
.button-shape{
    position: relative;
    background: #f9bb0b;
    padding: 15px 20px;
    color: #0f0f0f;
    margin: -10px 10px 10px -10px;
    border-radius: 10px;
}
@media (min-width:768px){
    .button-shape{
        padding: 15px 30px;
    } 
}
.relative {
    position: relative;
}

@media(max-width:767px) {
    .bonus-size {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer Section Start */
.footer-section {
    background: #100f12;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-ul li {
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }
}

/* Footer Section End */

.probtn a,
.probtn1 a {
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    animation: glowing 5000ms infinite;
    border-radius: 100px;
    background: #ff2c50;
}

.probtn a:hover,
.probtn1 a:hover {
    transform: scale(1.05);
    transition: all .3s ease;
    background: #f60c29;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #ec0138;
    }
    40% {
        box-shadow: 0 0 20px #ec0138;
    }
    60% {
        box-shadow: 0 0 20px #ec0138;
    }
    100% {
        box-shadow: 0 0 -10px #ec0138;
    }
}


/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    border: 1px solid #100f12;
    width: 100%;
    float: left;
    border-radius: 15px;
}
ul.vgreytick {
    padding: 0px 15px;
}
ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}


.tbbg2-text {
    color: #fff;
}

.tbbg2 {
    background: #100f12;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
    .probtn a {
        font-size: 32px;
        padding: 20px 50px;
    }
    .probtn1 a {
        font-size: 32px;
        padding: 20px 50px;
    }
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

/*Table CSS Enad*/

.grey-section {
    background: #f1f1f1;
    padding: 30px 0;
}

.moneyback-section {
    background: #100f12;
    padding: 30px 0;
}

.bonus-section {
    background: url(../images/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
}

.table-section {
    background: #ffffff;
    padding: 30px 0;
}


@media (min-width:768px) {
    .table-section {
        padding: 100px 0px;
        background: url(../images/table-bg.webp) no-repeat;
        background-position: center center;
    }
    .bonus-section {
        padding: 70px 0px;
    }
    .moneyback-section {
        background: #0e2672 url(../images/moneyback-bg.webp) no-repeat top center;
        background-size: cover;
        padding:80px 0px;
    }
}

/*-------- Responsive ------------*/
.white-section {
    padding: 30px 0;
}
.per-shape {
    background: url(../images/presenting-shape.webp) center center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 20px 55px 30px 55px;
}
@media (min-width:768px) {
    .white-section {
        padding: 100px 0;
    }
    .grey-section {
        padding: 100px 0;
    }    
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}


.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.feature-shape{    
    background-color: #f40c28;
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}

.feature-shape:after{
    content: '';
    background: url(../images/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}