html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}

.white-clr {
	color: #fff;
}

.black-clr {
	color: #000000;
}

.blue-clr {
	color: #182d5a;
}

.orange-clr {
	color: #f6841f;
}

.yellow-clr {
	color: #ffc332;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.d-inline-flex {
	display: inline-flex;
}

.relative {
	position: relative;
}


/* Header Section Css Start */
.header-section {
	background: #fff url(https://cdn.oppyo.com/launches/yodrive/special/header-bg.webp);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	padding: 30px 0px 120px 0px;
}

.header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
}

.header-section ul.leader-ul li a {
	color: #ffffff;
}

.border-video {
	border-radius: 20px;
}

.affiliate-link-btn a {
	border-radius: 15px;
	background-color: #f6841f;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #ffffff !important;
	font-weight: 600;
}

.calendar-wrap {
    border-radius: 15px;
    background-color: #051532;
    padding:12px 20px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.list-head {
	list-style: none;
}

.list-head li {
	background: url(https://cdn.oppyo.com/launches/yodrive/special/cloud.webp) no-repeat;
	padding: 12px 0px 12px 30px;
	background-position: 0px 21px;
	text-align: left;
	border-bottom: solid 1px #091e42;
}

.list-head li:last-child {
	border-bottom: none;
}

.preline {
	position: relative;
	display: inline-flex;
}

.preline::before {
	content: '';
	border: solid 1px #ffffff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -5px;
	z-index: 1;
	right: -5px;
}

.preheadline {
	display: inline-flex;
	padding: 10px;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: rgb(255, 255, 255);
	z-index: 15;
}

.postheadline {
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	border-style: dashed;
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
}
.game-changer{
	font-size: 42px;
	background: -webkit-linear-gradient(90deg, transparent 28%, #202d4e 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
	text-transform: uppercase;
}
.headline-margin{
	margin-top:-30px;
}
.mainheadline{
	border-radius: 26px;	
	background-color: rgb(78, 104, 160);
	position: relative;
	z-index: 9;
	left: -5px;
	top: -5px;
	padding:20px 10px;
}
.mainheadline::before{
    content: '';
    border-radius: 26px;
    background-color: rgb(26, 45, 100);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 5px;
    top: 5px;	  
}
.gametext{
	background: #fdbe39;
	padding: 10px 30px;
	border-radius: 15px 15px 0px 0px;
	text-transform: uppercase;
	display: inline-flex;
	justify-content: center;
	color: #000000;
	font-weight: 700;
	font-size: 22px;
}
@media (min-width:768px) {
	.gameimg{
		position: absolute;
		top: -61px;
		z-index: 9999;
		left: -8px;
	}
	.mainheadline{
		padding:20px;
	}
	.game-changer{
		font-size: 133px;
	}
	.headline-margin{
		margin-top:-80px;
	}
	.header-section {		
		padding: 40px 0px 120px 0px;
	}

	.header-section ul.leader-ul {
		margin-top: 12px;
	}

	.affiliate-link-btn a {
		padding: 12px 25px;
		font-size: 20px;
	}

	.affiliate-link-btn a:hover {
		background: #e97b1a;
		color: #ffffff;
	}

	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}

	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}

	.preheadline {
		padding: 10px 35px;
	}

	.postheadline {
		border-radius: 100px;
		padding: 10px 35px;
	}
	.preheadline::before {
		content: '';
		background: url(https://cdn.oppyo.com/launches/yodrive/common_assets/images/left-arrow.webp) no-repeat;
		width: 49px;
		height: 65px;
		position: absolute;
		left: -35px;
		bottom: -35px;
		z-index: -1;
	}

	.preheadline::after {
		content: '';
		background: url(https://cdn.oppyo.com/launches/yodrive/common_assets/images/right-arrow.webp) no-repeat;
		width: 49px;
		height: 65px;
		position: absolute;
		right: -35px;
		bottom: -35px;
		z-index: -1;
	}
}

/* Header Section Css End */
.list-section {
	padding:30px 0px;
	background: #eef5ff;
}

ul.features-list {
	margin: 0px;
	padding: 0px;
}

ul.features-list li {
	background: url(https://cdn.oppyo.com/launches/yodrive/special/list-tick.webp) no-repeat;
	padding: 0px 0px 25px 40px;
	background-position: 0px 5px;
	list-style: none;
}

ul.features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}

/* .header-list-block {
	border-radius: 20px;
	padding: 20px 0px;
	background-color: #ffffff;
	box-shadow: 0px 0px 23.75px 1.25px rgb(0 0 0 / 20%);
	margin-top: -200px;
} */

@media (min-width:768px) {
	.list-section {
		padding:100px 0px 150px 0px;
		background: url(https://cdn.oppyo.com/launches/yodrive/special/list-section-bg.webp) no-repeat center bottom;
		background-size: cover;
	}

	/* .header-list-block {
		border-radius: 20px;
		padding: 40px 20px;
	} */
}

/* CTA Button Start */
a.cta-link-btn {
	text-decoration: none;
	text-align: center;
	display:block;
	padding: 15px 5px;
	color: #ffffff;
	font-weight: 700;
	font-size: 22px;
	line-height: normal;
	white-space: normal;
	align-items: center;
	border-radius: 15px;
	background-color: #f6841f;
	transition: all 0.5s;
}

a.cta-link-btn:hover {
	background: #e97b1a;
	color: #ffffff;
	text-decoration: none;
	transform: scale(1.1);
	transition: all 0.5s;
}

@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 36px;
		padding: 22px 60px 24px 60px;
		display: inline-block;
	}
}

/* CTA Button End*/


/* Step Section Start */
.step-section {
	padding: 30px 0px;
	background:url(https://cdn.oppyo.com/launches/yodrive/special/step-section.webp) center center;
	background-size: cover;
}
.step-box{
	padding: 0px 20px 30px 20px;
	overflow: hidden;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 30px 0px rgba(32, 41, 59, 0.1);
	height: 100%;
  }
  .step-title{
	background-color: rgb(255, 195, 50);
	padding: 9px 30px;
	color: #000000;
	text-transform: uppercase;
	display: inline-block;
	margin-left: -20px;
  }
  .step-icon{
	  border-radius: 20px;
	  background:#e6e8ec;
	  min-width: 100px;
	  min-height: 100px;
	  display: inline-flex;
	  align-items: center;
	  justify-content: center;
  }
  .step-arrow{
	  position: absolute;
	  right: -50px;
	  top: 45%;
	  z-index: 9;
  }

@media (min-width: 768px) {
	.step-section {
		padding: 100px 0px;
	}
}

/* Step Section End */


/* Proof Section Start */
.proof-section {
	padding: 30px 0px;
	background: #ffffff;
}

@media (min-width: 768px) {
	.proof-section {
		padding: 50px 0px 100px 0px;
	}
}

/* Proof Section End */


/* Team Section Sart */
.awesome-sections {
	background:#ffc332;
	padding: 30px 0px;
}

.heading-design {
	padding: 12px 15px;
	display: inline-block;
	background-color: #182d5a;
	border-radius: 65px;
	margin-top: -32px;
}

.hithere{
    border-radius: 10px;
    background-color:#182d5a;
    display:inline-flex;
	align-items: center;
	justify-content: center;
    padding:15px;
    position: relative;
    z-index: 1;
}
@media (min-width: 768px) {
	.awesome-sections {
		background:url(https://cdn.oppyo.com/launches/yodrive/special/awesome-shape.webp) no-repeat center bottom;
		background-size: cover;
		padding: 100px 0px 180px 0px;
	}

	.heading-design {
		padding: 12px 50px;
		margin-top: -47px;
	}
	.hithere{
		margin: 0px 15px;
	}
	.hithere::before{
		content: '';
		position: absolute;
		left: -15px;
		background-color:#182d5a;
		width: 10px;
		height: 80%;
		z-index: -1;
		border-radius: 10px 0px 0px 10px;
    }
    .hithere::after{
        content: '';
		position: absolute;
		right: -15px;
		background-color:#182d5a;
		width: 10px;
		height: 80%;
		z-index: -1;
		border-radius: 0px 10px 10px 0px;
    }
}

/* Team Section End */


 /* Technology-section */
 .technology-sec{
    padding: 30px 0px; 
    background-color: #182d5a;
    
}
@media(min-width:768px){
    .technology-sec{
		padding: 100px 0px 150px 0px;
        background:#fff url(https://cdn.oppyo.com/launches/yodrive/special/technology-bg.webp) no-repeat bottom center; 
        background-size: cover;         
    }
}
/* Technology-Section-End */

/* Letsface Section Start */
.letsface-sec{
    padding: 30px 0px; 
    background:#fff url(https://cdn.oppyo.com/launches/yodrive/special/letsface-bg.webp) no-repeat center center; 
    background-size: cover; 
}

.letsface-arrow {
    position: absolute;
    top: 104px;
    z-index: 9;
    left: 40px;
}
.letsface-arrow1{
    position: absolute;
    top: 104px;
    z-index: 9;
    right: 40px;
}
.letsface{
    border-radius: 10px;
    background-color:#ffc332;
    display:inline-flex;
	align-items: center;
	justify-content: center;
    padding: 13px 20px;
    position: relative;
    z-index: 1;
}
.letsface-box{
    border-radius: 10px;
    background-color:#dce3ed;
    display:inline-flex;
	align-items: center;
    padding: 30px 20px;
    position: relative;
    z-index: 1;
    flex-direction: column;
    
}
@media(min-width:768px){
    .letsface-sec{
        padding: 100px 0px ;
    }
    .letsface{
		margin: 0px 15px;
	}
    .letsface::before{
		content: '';
		position: absolute;
		left: -17px;
		background-color:#ffc332;
		width: 10px;
		height: 80%;
		z-index: -1;
		border-radius: 10px 0px 0px 10px;
    }
    .letsface::after{
        content: '';
		position: absolute;
		right: -17px;
		background-color:#ffc332;
		width: 10px;
		height: 80%;
		z-index: -1;
		border-radius: 0px 10px 10px 0px;
    }
    .letsface-box {
        flex-direction: row;
		width: 100%;
    }
}
 /* Letsface Section End */

 /* Profit Business Section */
 .profit-section{
    padding: 30px 0px; 
    background: #eef5ff url(https://cdn.oppyo.com/launches/yodrive/special/profit-bg.webp) center center no-repeat;
	background-attachment: fixed;    
}
@media(min-width:768px){
    .profit-section{
		padding: 100px 0px;     
    }
}
 /* Profit Business Section End */

 /* Online Business Section */
 .online-section{
	padding: 30px 0px;
    background-color: #030814;
}
@media(min-width:768px){
    .online-section{
		padding: 100px 0px;
		background: #030814 url(https://cdn.oppyo.com/launches/vocalic/special/one-bg.webp) center center no-repeat;
		background-attachment: fixed;  
    }
}
 /* Online Business Section End */

  /* Story Section */
  .story-section{
    padding: 60px 0px 30px 0px; 
    background: #030814 url(https://cdn.oppyo.com/launches/yodrive/special/stats-bg.webp) top center no-repeat;
	background-size: cover;
}
.stats-title{
	display: inline-flex;
	padding:10px;
	border-radius: 0px 0px 15px 15px;
	background: #ffc332;	
}
.stats-wrapper {
	padding:0px 20px 20px 20px;
	border-radius: 20px;
	background-color: rgb(24, 45, 90);
}
.stats-line {
	background-color: rgb(0, 0, 0);
	width: 140px;
	height: 2px;
	display: inline-flex;
	top: -8px;
	position: relative;
  }
  
@media(min-width:768px){
    .story-section{
		padding: 100px 0px;     
    }
	.stats-title{
		padding:20px 30px;
	}
	.stats-wrapper {
		padding:0px 60px 60px 60px;		
	}
}
 /* Story Section End */

/* Option Section **/
.option-section {
	padding: 30px 0px 0px 0px;
	background-color: #030814;
}
.pink-clr1{color: #ff5555;}
.option-shape {
	background-color: #ff5555;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 15px;
}

.option-white-shape {
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	padding: 30px 20px 20px 20px;
	position: relative;
}
ul.problem-list {
    margin: 0px;
    padding: 0px;
}
ul.problem-list li {
    background: url(https://cdn.oppyo.com/launches/vocalic/special/emoji.webp) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 4px;
    list-style: none;
}

@media (min-width:768px) {
	.option-section {
		padding: 100px 0px;
		background: #030814 url(https://cdn.oppyo.com/launches/vocalic/special/one-bg.webp) center center no-repeat;
		background-attachment: fixed;
	}

	.option-white-shape {
		border-radius: 20px;
		background-color: rgb(255, 255, 255);
		padding: 100px 30px 40px 30px;
	}

	.right-shape {
		position: absolute;
		left: 14%;
		top: -15%;
		background: url(https://cdn.oppyo.com/launches/vocalic/special/right-shape.webp) center center no-repeat;
		background-size: cover;
		padding: 26px 90px 50px 90px;
	}
	.option-shape {
		padding: 15px 30px;
	}
	.option-shape:after {
		content: '';
		display: block;
		width: 100%;
		border: 2px solid #ff5555;
		position: absolute;
		bottom: 0;
	}

	.option-shape {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 0px;
	}
    .f-md-65 {
        font-size: 65px;
    }
    .sep-line {
        border-left: solid 1px #ff5464;
    }
}
@media (max-width:767px){
	.right-shape {
		background: #081f49;
		padding: 10px 20px;
		border-radius: 50px;
		margin-top: -57px;
		color: #fff !important;
		text-align: center;
	}
}
/* Option Section End**/



/* Proudly there Section Start */
.proudly-sec {
    background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/special/proudly-bg.webp) center center no-repeat;
    background-size: cover;
    padding:30px 0px 60px 0px;
}
.proudly-list-bg {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
    padding: 15px;
}
ul.proudly-list {
    margin: 0px;
    padding: 0px;
}
ul.proudly-list li {
    background: url(https://cdn.oppyo.com/launches/yodrive/special/favicon.webp) no-repeat;
    padding: 0px 0px 25px 45px;
    background-position: 0px -3px;
    list-style: none;
}

ul.proudly-list li:last-child {
    padding-bottom: 0px;
}
@media (min-width: 768px){
.proudly-sec {   
    padding:100px 0px;
}
.proudly-list-bg {
	padding: 30px;
}
}
/* Proudly Section End */

/* Testimonals Section Start */
.testimonial-section {
	background:url(https://cdn.oppyo.com/launches/yodrive/special/testimonial-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
}

.testimonial-section2 {
	background:url(https://cdn.oppyo.com/launches/yodrive/special/testimonial-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
}

@media (min-width:768px) {
	.testimonial-section2 {
		padding: 100px 0px;
	}

	.testimonial-section {
		padding:0px 0px 100px 0px;
	}
}

/* Testimonals Section End */


/* Oppourtinity Section Start */

.silver-platter-section {
	background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/special/silver-platter-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}

.huge-opportunity-shape {
	background: #efedf7;
	border: 2px solid #efedf7;
	border-radius: 15px;
	padding: 15px 12px;
}

.wearenot-alone-section {
	background: #ffffff;
	padding: 0px 0px 30px 0px;
}

.alone-bg {
	background-color: #efedf7;
	box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
	border-radius: 10px;
	padding: 10px;
	position: relative;
}

.converting-shape {
	background-color: #182d5a;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 65px;
}

@media (min-width:768px) {
	.huge-opportunity-shape {
		background: url(https://cdn.oppyo.com/launches/yodrive/special/huge-opportunity-shape.webp) no-repeat center center;
		background-size: 100% 100%;
		border: 0px;
		border-radius: 0px;
		padding: 45px 40px 50px;
	}

	.silver-platter-section {
		padding: 80px 0px 100px 0px;
	}

	.wearenot-alone-section {
		background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/special/wearenotalone-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 0px 0px 100px 0px;
	}

	.alone-bg {
		padding: 25px 30px 25px 10px;
	}

	.dollars-sm-image {
		width: 211px;
		min-width: 211px;
		height: 163px;
		margin-left: -120px !important;
		top: 0px;
		left: 0px;
	}

	.alone-bg:after {
		content: "";
		position: absolute;
		width: 87px;
		height: 49px;
		background-image: url(https://cdn.oppyo.com/launches/yodrive/special/arrow-down.webp);
		left: 44%;
		bottom: -49px;
	}

	.converting-shape {
		padding: 15px 40px 15px 40px;
	}
}


/* Oppourtinity Section End */

.potential-sec {
	background: #f4f3f9 url(https://cdn.oppyo.com/launches/yodrive/special/potential-bg.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 0px 100px 0px;
}

.never-ending {
	box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
	background: #ffffff;
	border-radius: 0px;
	padding: 15px 5px;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.never-ending img{
	max-height: 80px;
}

@media (min-width:768px) {
	.potential-sec {
		padding: 100px 0px 300px 0px;
	}

	.never-ending {
		padding: 20px 7px;
	}
}

/*******Proven Section*********/
.provens-sec {
	background: #ffffff;
	padding: 0px 0px 60px 0px;
}

.proven-alone-bg,
.alone-bg1,
.alone-bg2,
.alone-bg5 {
	background-color: #ffffff;
	padding: 15px;
	border: 1px solid #eeeeee;
}

@media (min-width: 768px) {
	.provens-sec {
		padding: 0px 0px 150px 0px;
	}

	.proven-alone-bg {
		padding: 53px 45px;
		background: url(https://cdn.oppyo.com/launches/yodrive/special/proven-text-bg.webp) no-repeat;
		background-size: cover;
		border: none;
	}

	.alone-bg5 {
		padding: 69px 56px;
		background: url(https://cdn.oppyo.com/launches/yodrive/special/proven-text-bg.webp) no-repeat;
		background-size: cover;
		border: none;
	}

	.alone-bg1 {
		padding: 52px 40px;
		background: url(https://cdn.oppyo.com/launches/yodrive/special/proven-text-bg3.webp) no-repeat;
		background-size: cover;
		border: none;
	}
}


.huge-section {
	padding: 30px 0px;
	background: #ffffff;
}

.huge-shape {
	background: url(https://cdn.oppyo.com/launches/yodrive/special/huge-svg.svg) no-repeat center center;
	background-size: cover;
	padding: 20px;
	border-radius: 30px;
	margin-top: -100px;
}

@media (min-width: 768px) {
	.huge-section {
		padding: 0px 0px 100px 0px;
	}

	.huge-shape {
		padding: 50px;
		border-radius: 30px;
		margin-top: -200px;
	}
}


img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}