html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lexend', sans-serif;
    color: #000000;
    font-size: 14px;
}
.cavet-font {
	font-family: 'Caveat', cursive;
}

.white-clr {
	color: #fff;
}

.black-clr {
	color: #000000;
}

.cyan-clr {
	color: #48FFF4;
}

.blue-clr {
	color: #005AFF;
}

.orange-clr {
	color: #FFA829;
}

/* Header Section CSS */
.header-section {
	background: #0e0a3b url(../images/header-bg.webp);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 30px 0px 30px 0px;
}

.preheadline {
	display: inline-block;
	padding: 15px;
	background: #04173E;
	backdrop-filter: blur(200px);
	border-radius: 0px 0px 20px 20px;
}

.header-wrap {
	padding: 0px 0px 15px 0px;
	background: rgba(11, 28, 55, 0.2);
	backdrop-filter: blur(3px);
	border-radius: 15px;
	border: solid 1px #2561BD;
	max-width: 95%;
	margin: 20px auto 0px auto;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.probtn1 a{
    transition: all .3s ease;
	border-radius: 15px;
	background: #FFA829;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	width: 100%;
	font-size: 24px;
	line-height: 140%;
}

.probtn1 a:hover {
    transition: all .3s ease;
	background: #ee9615;
}

@media(min-width:768px) {
	.header-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}

	.header-section {
		background: #030331 url(../images/header-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding: 40px 0px 100px 0px;
	}

	.preheadline {
		padding: 30px 24px;
		display: inline-block;
	}
    .probtn1 a {
        font-size: 38px;
        padding: 28px 60px;
        display: inline-block;
        width: auto;
        border-radius: 100px;
    }
}

@media(min-width:1600px) {
	.header-wrap {
		max-width: 85%;
	}
}

/* Second Section CSS */

.second-sec {
    padding: 30px 0;
}

.boxes {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
}

ul.bigboxes {
    margin: 0px;
    padding: 0px;
}

.bigboxes li {
    background: url(../images/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
}

ul.bigboxes1 {
    margin: 0px;
    padding: 0px;
}

.bigboxes1 li {
    background: url(../images/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
    margin-bottom: 20px;
}

@media(min-width:768px) {
    .second-sec {
        padding: 100px 0px;
        background: url(../images/white-section-bg.webp) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .boxes {
        padding: 50px;
    }
}

/* Grey Section CSS */

.grey-section {
    background: #F4F6FD;
    padding: 30px 0;
}

@media (min-width:768px) {
    .grey-section {
        padding: 100px 0;
    }
}

/* Customer Section CSS */

.customer-section {
    padding: 30px 0;
    background: #062D69;
    backdrop-filter: blur(5px);
}

@media(min-width:768px) {
    .customer-section {
        padding: 100px 0;
    }
}

/*Table CSS Start*/

.table-section {
    background: #ffffff;
    padding: 30px 0px;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.tbbg2 {
    background: url(../images/start-plan-bg.webp) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #cacaca;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.tablebox3 {
    background: #1c098e;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
    position: relative;
}

.tbbg3 {
    background: #062D69;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #4600a2;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
    border: solid 1px #cacaca;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    color: #005AFF;
}

.thanks-button a:hover {
    text-decoration: none;
}

.kapblue {
    color: #005AFF;
}

@media (min-width: 768px) {
    .table-section {
        padding: 100px 0;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .myfeatureslast {
        padding: 30px 20px;
    }
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

/*Table CSS End*/

/********Footer Section CSS*********/

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}
.footer-ul li:hover a {
    color: #fff;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
}


