body{font-family: 'Work Sans', sans-serif;color: #080d1a;font-size: 14px;}

.p0{padding:0 !important;}

/* Font Weight CSS */
.w300{font-weight:300;}.w400{font-weight:400;}.w500{font-weight:500;}.w600{font-weight:600;}
.w700{font-weight:700;}.w800{font-weight:800;} 

/* Line Height */
.lh120{line-height:120%}.lh130{line-height:130%}.lh140{line-height:140%}
.lh150{line-height:150%}.lh160{line-height:160%}.lh170{line-height:170%}
.lh180{line-height:180%}.lh190{line-height:190%}.lh200{line-height:200%}

/* Color */
.yellow{color:#ffe01b;}
.blue-clr{color:#0063eb;}
.text-mahroon{color:#0063eb;}
.white{color:#fff;}
.white-clr{color:#FFFFFF;}
.light-green{color:#fff600;}
.purple{color:#290387;} 

/* For Responsive Video CSS */
.responsive-video {position: relative;padding-bottom: 56.25%;overflow: hidden;}
.responsive-video iframe,.responsive-video object{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}


/* Clear Property */
.clear{clear:both;}

/* Text Decoration Underline */
.underline{border-bottom:2px solid #fff;}

/* Bonus Download Section Description Area CSS */
.bonus-des{padding: 3% 0;}

/* Code for Animation blink-text */
@-webkit-keyframes blinker {
  from {opacity: 1.0; color:#4d4aa9;}
  to {opacity: 0.7;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

/*****Main Container Area CSS******/
.main-container {
    background:#1d0661 url(../images/header-bg.png) no-repeat;
    background-size:cover;
    background-position:top center;
    background-attachment:fixed;
    padding:60px 15px 60px 15px;
    
}

/* Top Congratulation Container CSS */

.uy{
    background: #fff;
    padding: 30px 15px;
    border-radius: 25px;
    box-shadow: 0px 2px 19px 0px #f3f1f1;
}


.gn-box{
    background:#00ff84;
    color: #000;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
}



@media(max-width:375px){
	.uy{
	   padding: 30px 15px;
       background: #fff;
       border-radius: 5px;
       border-bottom: 5px solid #6affb8;
       margin-bottom: 30px;
	}
}


@media(max-width:768px){
    .uy{
        background: #fff;
        padding: 40px 15px 40px 15px;
        margin: 0 0px 40px -5px;
    }
}

/* On top Double Text Overline  */
.tde{
	text-decoration:overline;
	border-bottom: 2px solid #fff;
    padding:4px 0;
}

/* Middle Content Area Section */
.ad-con{padding:5% 0;}

/* Timer Section Css */

/*Text For Change Timer Small Text - day , sec,time , minute*/
.time-textlh{color:#a20000; font-weight:700;}

.hs_time {height: auto;width: 100%;}
.hs_time .hs_time_part {width: 100%;}
.hs_hours {
	color:#a20000 !important;
	height: auto;
	text-align:center;
	text-decoration: none;
	line-height:30px;
	}

.dt_title{width:100%;}
.hs_days {
	color: #a20000;
    text-align: center;
    height: auto;
    text-decoration: none;
    text-transform: capitalize;
}

.hs_min {
    color: #a20000;
    height: auto;
    text-align:center;
    text-decoration: none;
    text-transform: capitalize;
}

.hs_sec {
    color: #a20000;
    height: auto;
    text-align:center;
    text-decoration: none;
    text-transform: capitalize;
}

.timer_caption{font-weight:bold;}

.hrsbox{
	border-radius:4px; 
	background:#000000; 
	color:#fff; 
	display:block; 
	padding:20px 0px;
}

.timer-border{
    padding:5px 0; 
    height:140px; 
    width: 100%;
}


.timer, .timer-done, .timer-loop {
    font-size: 30px;
    color:#a20000;
    font-weight: bold;
    padding: 10px;
  }

  .jst-hours {
    float: left;
  }
  .jst-minutes {
    float: left;
  }
  .jst-seconds {
    float: left;
  }
  .jst-clearDiv {
    clear: both;
  }
  .jst-timeout {
    color: red;
  }


@media(max-width:320px){
	a.regbtn{padding:15px 30px;}
	.timer-border{height:150px;}
}

/* Radius */
.radius5{border-radius:5px;}


@media (min-width: 240px){
.mybanner{
	background: #9cbed7;
	background-size:cover; 
	background-attachment:fixed;
	background-position: top center; 
	padding:2% 0% 4%; 
	margin-bottom:0;
}

}

@media (min-width: 768px) {
.mybanner{
	background:#b7d1e7 url(../images/head1.png) no-repeat;
	background-size:cover;
	background-attachment:fixed; 
	background-position: top center; 
	padding:4% 0% 4%; 
	
}

}

@media (min-width: 992px) {
.mybanner{
	background: #fdfdfd url(../images/head1.png) no-repeat;
    background-position: 100% 0%;
    background-size: cover;
    background-attachment: fixed;
    padding: 4% 0% 4%; 
}

}


@media(max-width:320px){
	.white-footer{
		background:#9cbed7 url(../images/bottom.png);
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-position: bottom center;
    	padding:30px 0;
	}
}

@media(max-width:768px){
	.white-footer{
		background: #9cbed7 url(../images/bottom.png);
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-position: bottom center;
    	padding:30px 0;
	}
}

@media(min-width:992px){
	.white-footer{
		background: #9cbed7 url(../images/bottom.png);
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-position: bottom center;
    	padding: 130px 0;
	}
}


/* Download Button Css */
.d-btn a{
	background:#12c200;
    padding: 12px 35px;
    display: table;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    border-radius: 30px;
    box-shadow: 0px 2px 3px 0px #12c200;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}

.d-btn a:hover, a:focus{
	text-decoration:none;
	box-shadow:0px 10px 10px #12c200;
   	transform : translateY(-3px);
}

.d-btn a:active{
	box-shadow: 0px 10px 10px rgba(255, 0, 0, 0.67);
    transform: translateY(-3px);
    box-shadow:0px 10px 10px #12c200;
}


/* For Footer Section CSS */
.footer-sec{
	background:#080d1a;
	padding:30px 15px 50px 15px;
}

/* .strip_footer {
    background: url(../images/footer-bg.png);
    background-size: cover;
    background-position: top left;
    padding: 50px 0px 50px;
    color: #fff;
} */


.strip_footer {
    background: url(../images/footer-bg.png);
    background-size: cover;
    background-position: top left;
    padding: 50px 0px 50px;
    color: #fff;
}


.footerlist li{
	list-style-type:none;
	float:left;
}

.footerlist li a{
	color:#fff;
	text-decoration:none;
}

.strip-footer a{
    color:#fff;
}