/* Pricing Page CSS */

@import url("pricing.css");

/* ---------- Common Page css --------- */


/* Manually Container width */

@media (min-width:1200px) {
    .container-1170 {
        max-width: 1170px;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* Image xs center block */

@media (max-width:767px) {
    .xs-center-block {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}


/* Section Padding Css */

.section-padding {
    padding: 30px 0px;
}

@media (min-width:992px) {
    .section-padding {
        padding: 80px 0px;
    }
}


/* 1. ---------- Home Page css --------- */

.welcome-banner {
    background: #fc7c0f;
    padding: 110px 0px 0px;
}

.welcome-banner .banner-heading {
    font-size: 30px;
}

.welcome-banner .banner-heading,
.support-section .support-section-heading {
    color: #ffffff;
    font-weight: 600;
    line-height: 140%;
    font-family: 'Fira Sans', sans-serif;
}

.welcome-banner .banner-title {
    font-size: 16px;
    color: #cfcbd8;
    font-weight: 400;
    line-height: 180%;
}

@media (min-width:768px) {
    .welcome-banner {
        padding: 110px 0px 50px;
        background: #fc7c0f url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/home/home.png) no-repeat center center;
        background-size: cover;
    }
    .welcome-banner .banner-title {
        font-size: 18px;
    }
}

@media (min-width:992px) {
    .welcome-banner {
        padding: 130px 0px 100px;
    }
    .welcome-banner .banner-title {
        padding-right: 120px;
    }
}

@media (min-width: 1200px) {
    .welcome-banner {
        padding: 170px 0px 130px;
    }
}


/* Testimonials Css */

@media (min-width:768px) {
    .dotcompaltestimonials .carousel-item {
        min-height: 265px;
        margin-bottom: 15px;
    }
}

@media (min-width:1200px) {
    .dotcompaltestimonials .carousel-item {
        min-height: 368px;
        margin-bottom: 15px;
    }
}

@media (max-width:767px) {
    .testimonials-pic {
        max-height: 150px;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 30px;
    }
    .about-testimonials .description,
    .about-testimonials .testimonials-name {
        text-align: center;
    }
    .about-testimonials .sepration {
        margin-left: auto !important;
        margin-right: auto !important;
        display: block !important;
    }
    img.step-image {
        max-height: 290px;
        width: auto !important;
        max-width: 100%;
    }
}

.about-testimonials .description {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #34303f;
    position: relative;
    z-index: 9;
}

.about-testimonials .description:before {
    content: '';
    background: url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/home/blockquote.png) no-repeat left top;
    position: absolute;
    z-index: -1;
    width: 92px;
    height: 60px;
    top: -30px;
    left: 10px;
}

.about-testimonials .sepration {
    margin: 20px 0px;
    display: inline-block;
}

.about-testimonials .testimonials-name {
    font-size: 18px;
    font-weight: 500;
    color: #34303f;
    display: block;
    width: 100%;
}

.testimonial-control a.control {
    color: #7f7c88;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 5px;
}

.testimonial-control a.control:hover {
    color: #fc7c0f;
}


/* Blog List Css */

.blog-list .blog-thumbnail {
    max-height: 150px;
    height: 150px;
    margin-bottom: 25px;
}

@media(min-width:992px) {
    .blog-list .blog-thumbnail {
        max-height: 200px;
        height: 200px;
    }
}

.blog-list a.blog-tag {
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
}

.vd-blue-tag,
a.vd-blue-tag {
    background: #1d3242;
    color: #ffffff;
}

.g-blue-tag,
a.g-blue-tag {
    background: #8fa1b4;
    color: #ffffff;
}

.b-red-tag,
a.b-red-tag {
    background: #fd4b6d;
    color: #ffffff;
}

.blog-list .title a {
    font-size: 18px;
    font-weight: 400;
    color: #34303f;
    line-height: 24px;
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none;
}

.blog-list .title a:hover {
    color: #fc7c0f;
}

.blog-list .description {
    font-size: 14px;
    font-weight: 400;
    color: #7f7c88;
    line-height: 24px;
}

.blog-list a.link {
    font-size: 14px;
    color: #fc7c0f;
    text-decoration: underline;
}


/* 2. ---------- Aboutus Page css --------- */

.aboutus-banner {
    background: #e3edf0;
    padding: 70px 0px 0px;
}

@media (min-width:768px) {
    .aboutus-banner {
        padding: 90px 0px 50px;
    }
}

@media (min-width:992px) {
    .aboutus-banner {
        padding: 130px 0px 0px;
    }
}

.content-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    color: #34303f;
}

.section-title .title {
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
    color: #000000;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
}

.subheadline {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    font-family: 'Fira Sans', sans-serif;
}

.section-title .subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    color: #34303f;
}

@media (min-width:768px) {
    .section-title .subtitle {
        font-size: 18px;
    }
    .content-text {
        font-size: 18px;
    }
    .section-title .title {
        font-size: 36px;
    }
    .subheadline {
        font-size: 25px;
    }
}

@media (min-width:992px) {
    .section-title .title {
        font-size: 48px;
    }
}


/* Core Values Section css */

.corevalues-bg {
    background: #eff3f6 url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/about/corevlaues-bg.png) no-repeat center center;
}


/* Some Interesting Stats Css */

.stats-block {
    background: #ffffff;
    padding: 30px;
    border: solid 1px #ced4d8;
    border-radius: 5px;
    text-align: center;
    height: 100%;
}

.stats-block .title {
    font-size: 20px;
    font-weight: 600;
    color: #141414;
    margin: 15px 0px;
    font-family: 'Fira Sans', sans-serif;
}

.stats-block .count {
    font-size: 30px;
    font-weight: 700;
    color: #fc7c0f;
}


/* Support Section css */

.support-section {
    background: #fc7c0f url(https://cdn.oppyo.com/apps/blog/images/support-section-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0px;
}

.support-section .section-title .preheadline {
    font-size: 20px;
    font-weight: 300;
    color: #b3afbc;
}

.support-section .section-title .title {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    line-height: 140%;
    margin-top: 10px;
}

.support-section .section-title .subtitle {
    color: #b3afbc;
    line-height: 28px;
    font-size: 16px;
    margin-top: 15px;
}
.support-section .m-blue-btn{
	color:#000000 !important;
	background-color:#ffffff !important;
}

@media (min-width:768px) {
    .support-section .section-title .preheadline {
        font-size: 24px;
    }
    .support-section .section-title .title {
        font-size: 36px;
    }
    .support-section .section-title .subtitle {
        font-size: 18px;
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    .support-section {
        padding: 140px 0px
    }
}


/* .support-section .base-btn,
.support-section a.base-btn{
	padding: 14px 20px;
} */


/* 3. ---------- Contact Page css --------- */

.contact-banner {
    background: #fffaef;
}

.contact-block-bg {
    background: #eff3f6;
}

.contact-block {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 4.113px 16.495px 16px 0px rgba(123, 132, 139, 0.07);
    padding: 30px 15px;
    text-align: center;
    width: 100%;
    margin: 0 15px 30px;
}

.contact-block:last-of-type {
    margin-bottom: 0px;
}

.contact-heading {
    font-size: 16px;
    margin-top: 15px;
    font-weight: 500;
    color: #1d3242;
}

.con-sub-title {
    font-size: 16px;
    margin: 20px 0;
    color: #34303f;
    font-weight: 300;
    line-height: 24px;
}

a.contact-text {
    font-size: 16px;
    color: #fc7c0f;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    border-top: 1px solid #eaebeb;
    padding-top: 15px;
    width: 100%;
}

@media (min-width:768px) {
    .contact-block {
        width: 30%;
        margin: -45px auto 0;
    }
}

@media (min-width:768px) {
    .contact-banner {
        background: #fffaef url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/contact/contact.png) no-repeat;
        background-position: 72% 100%;
        background-size: cover;
    }
    .contact-block {
        padding: 30px;
    }
    .contact-heading {
        margin-top: 30px;
    }
    a.contact-text {
        padding-top: 20px;
    }
}


/* Map css */

.contatc-map {
    position: relative;
}

.contatc-map .map-margin {
    position: relative;
    margin: 20px 0px 20px 20px;
    border-radius: 5px;
}

.contatc-map:before {
    position: absolute;
    content: '';
    width: 137px;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fc7c0f;
    border-radius: 5px 0px 0px 5px;
    z-index: -1;
}


/* Contact Address */

.contact-address {
    /* 	margin-bottom: 30px;
	border-bottom:solid 1px #eaebeb;
 */
}

.contact-address .address-section {
    margin-bottom: 30px;
}

.contact-address .address-section:last-of-type {
    margin-bottom: 0px;
}

.address-section .title {
    font-size: 16px;
    font-weight: 500;
    color: #fc7c0f;
    margin-bottom: 15px;
}

.address-section .description {
    color: #34303f;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 8px;
}

.address-section a.map-link,
.blogger-info a.map-link {
    font-size: 14px;
    font-weight: 300;
    color: #fc7c0f;
    text-decoration: underline;
}

.blogger-info {
    margin-left: 36px;
}

.blogger-info .title {
    font-size: 18px;
    font-weight: 500;
    color: #34303f;
    margin-bottom: 10px;
}


/* 2. ---------- Careers Page css --------- */

.careers-banner {
    background: #0d0914;
    background: -moz-linear-gradient(top, #0d0914 0%, #2b1c4b 100%);
    background: -webkit-linear-gradient(top, #0d0914 0%, #2b1c4b 100%);
    background: linear-gradient(to bottom, #0d0914 0%, #2b1c4b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0d0914', endColorstr='#2b1c4b', GradientType=0);
    padding: 70px 0px 20px;
}

@media (min-width:768px) {
    .careers-banner {
        background: #100b19 url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/leadership/leadership-bg.png) no-repeat;
        background-position: center bottom;
        background-size: cover;
        padding: 90px 0px 50px;
    }
}

@media (min-width:992px) {
    .careers-banner {
        padding: 130px 0px 0px;
    }
    .dot-vector-top {
        background: url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/careers/vector.png) no-repeat top right;
        background-position: 92% 0%;
        background-size: 39%;
    }
    .dot-vector-bottom {
        background: url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/careers/vector-bottom.png) no-repeat top right;
        background-position: 8% 100%;
        background-size: 39%;
    }
}

.gallery-thumbnail .videotheme {
    border: solid 1px #ced4d8;
    border-radius: 10px;
}

@media (max-width:767px) {
    .gallery-thumbnail .img-center {
        margin-left: auto !important;
        margin-right: auto;
    }
}

.gallery-thumbnail .hover-effect {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

@media (min-width:768px) {
    .gallery-thumbnail .hover-effect {
        display: inline-block;
    }
}

.gallery-thumbnail .hover-effect img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    border: solid 1px #ced4d8;
    border-radius: 10px;
}

.gallery-thumbnail .hover-effect:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


/* Career Support */

.career-support .seprate-line {
    width: 220px;
    height: 1px;
    background: #ced4d8;
    margin-bottom: 30px;
    display: inline-block;
}


/* Features Section */

.features-section {
    background: #f7f9ff;
}

.features-section .features-block {
    padding: 0px 15px;
    text-align: center;
}

@media (min-width:992px) {
    .features-section .features-block {
        padding: 0px 30px;
    }
}

.features-section .features-block .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    color: #000000;
    margin: 15px 0px;
}

.features-section .features-block .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    color: #34303f;
}

.homefeatures-section {
    background: #f7f9ff;
}

.homefeatures-section .features-block {
    padding: 0px 15px;
    text-align: center;
}

@media (min-width:768px) {
    .features-section .features-block .title {
        font-size: 24px;
    }
    .features-section .features-block .description {
        font-size: 18px;
    }
}

@media (min-width:992px) {
    .homefeatures-section .features-block {
        padding: 0px 30px;
    }
}

.homefeatures-section .features-block .title {
    font-size: 20px;
    font-weight: 500;
    color: #34303f;
    margin: 15px 0px;
}

.homefeatures-section .features-block .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #7f7c88;
}

.homefeatures-section .section-title .subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #7f7c88;
    line-height: 30px;
}


/* Job Result section css */

@media (min-width:768px) {
    .jobresult-secondcoloum {
        border-left: solid 1px #ced4d8;
        padding-left: 30px;
    }
    .jobresult-firstcolum {
        padding-right: 30px;
    }
}

.job-results .card {
    border: 0;
    border-radius: 0;
    margin-bottom: 30px;
    border-bottom: solid 1px #ced4d8;
}

.job-results .card:last-child {
    margin-bottom: 0px;
    border-bottom: hidden;
}

.job-results .card .card-header {
    padding: 0;
    padding-bottom: 15px;
    background: #ffffff;
    border-radius: 0;
    border: 0;
}

@media (min-width:768px) {
    .job-results .card .card-header {
        padding-bottom: 30px;
    }
}

.job-results .card .card-header .card-topsection {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

@media (min-width:768px) {
    .job-results .card .card-header .card-topsection {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
}

.job-results .card .card-header .card-topsection .title {
    font-size: 20px;
    font-weight: 400;
    color: #fc7c0f;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.job-results .card .card-header .card-topsection .title .icon-margin {
    font-size: 8px;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

.job-results .card .card-header .card-topsection .post-deatils {
    font-size: 18px;
    font-weight: 300;
    color: #34303f;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    margin-left: 28px;
}

.job-results .card .card-header .card-topsection .card-link {
    font-size: 14px;
    font-weight: 400;
    color: #fc7c0f;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 28px;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif !important;
}

@media (min-width:768px) {
    .job-results .card .card-header .card-topsection .card-link {
        margin-top: 0px;
        margin-left: 0px;
    }
}

.job-results .card .card-header .card-topsection .card-link {
    font-family: 'icomoon';
    content: "\a265";
    color: #fc7c0f;
}

.job-results .card .card-header .card-topsection .card-link::after {
    font-family: 'icomoon';
    content: "\a231";
    color: #fc7c0f;
    font-size: 9px;
    margin-left: 15px;
}

.job-results .card .card-header .card-topsection .card-link.collapsed::after {
    content: "\a265";
    font-size: 9px;
    color: #fc7c0f;
}

.job-results .card .card-body {
    padding: 0;
    padding-bottom: 30px;
    margin-left: 28px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

.job-results .card:last-child .card-body {
    padding-bottom: 0px;
}

.job-results ul.jobdetails {
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.job-results ul.jobdetails li {
    padding: 5px 0px;
}


/* Filter Accordion css */

.filer-accordion .card {
    border: 0;
    border-radius: 0;
    margin-bottom: 15px;
}

@media (min-width:768px) {
    .filer-accordion .card {
        border: 0;
        border-radius: 0;
        margin-bottom: 30px;
    }
}

.filer-accordion .card:last-child {
    margin-bottom: 0px;
}

.filer-accordion .card .card-header {
    padding: 0;
    background: #ffffff;
    border-radius: 0;
    border: 0;
}

.filer-accordion .card .card-header .card-link {
    font-size: 18px !important;
    font-weight: 500;
    color: #34303f;
    font-family: 'Roboto', sans-serif !important;
}

.filer-accordion .card .card-header .card-link {
    font-family: 'icomoon';
    content: "\a338";
}

.filer-accordion .card .card-header .card-link::before {
    font-family: 'icomoon';
    content: "\a336";
    color: #7f7c88;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 29px;
    border: solid 1px #ced4d8;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.filer-accordion .card .card-header .card-link.collapsed::before {
    content: "\a338";
    font-size: 12px;
    color: #7f7c88;
}

.filer-accordion .card .card-body {
    padding: 0;
    border-radius: 0;
    border: 0;
    margin-left: 9px;
}

.filer-accordion .card .card-body .filter-check {
    margin-top: 15px;
    margin-left: 5px;
    display: flex;
}

.filer-accordion .card .card-body .filter-check label {
    color: #7f7c88;
    font-size: 16px !important;
}


/* 4. ---------Cookie Policy Page CSS---------  */

ul.privacy-links {
    margin: 0px;
    padding: 0;
}

ul.privacy-links li {
    list-style: none;
}

ul.privacy-links li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #34303f;
    font-size: 16px;
    display: block;
    font-weight: 400;
    position: relative;
}

ul.privacy-links li a.privacy-link-title {
    font-size: 18px;
    color: #fc7c0f;
    font-weight: 500;
}

ul.privacy-links li a:hover {
    color: #fc7c0f;
}

ul.privacy-links li.active a {
    color: #fc7c0f;
}

.privacy-links li.active a:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0px;
    width: 7px;
    height: 27px;
    background: #fc7c0f;
    border-radius: 0px 5px 5px 0;
}

div.columnsection h2 span,
#topfixed {
    margin-top: -70px;
    padding-bottom: 60px;
    display: block;
}

.privacy-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    color: #34303f;
}

.privacy-heading-text {
    font-size: 20px;
    color: #34303f;
    font-weight: 500;
    margin-bottom: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.privacy-heading {
    color: #34303f;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    ul.privacy-links li a {
        font-size: 18px;
    }
    .privacy-text {
        font-size: 18px;
    }
    .mcustomscroll-h500 {
        max-height: calc(100vh - 90px);
    }
    .privacy-left-border {
        border-left: 1px solid #ced4d8;
    }
    .privacy-heading-text {
        font-size: 24px;
        margin-bottom: 30px;
    }
}


/* Privacy Links Fixed */

.privacylink-fix {
    width: auto;
    position: relative;
    top: auto;
    margin-top: 0px
}


/* Tablet */

@media(min-width:768px) {
    .privacylink-fix {
        width: 225px;
        position: fixed;
        top: 15px;
        margin-top: 70px;
    }
}


/* Laptop */

@media(min-width:992px) {
    .privacylink-fix {
        width: 305px;
    }
}


/* Desktop */

@media (min-width: 1200px) {
    .privacylink-fix {
        width: 375px;
    }
}


/* 5. ---------Terms & Condition Page CSS---------  */

.terms-condition-banner {
    background: #faf4ff;
    padding: 70px 0px 0px;
}

@media (min-width:768px) {
    .terms-condition-banner {
        padding: 90px 0px 50px;
    }
}

@media (min-width:992px) {
    .terms-condition-banner {
        padding: 130px 0px 0px;
    }
}


/* Cookie Consent bar */

.cookie-consent {
    background: #040928;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px #4e5165;
    z-index: 9999;
    padding: 18px 0;
}

.cookie-consent .white-outline-btn,
.cookie-consent a.white-outline-btn {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
}

.cookie-consent .white-outline-btn:hover,
.cookie-consent a.white-outline-btn:hover,
.cookie-consent .white-outline-btn:focus,
.cookie-consent a.white-outline-btn:focus {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}


/* 6. --------- Modal Pop-up  CSS---------  */


/* SignUp Modal Pop-up CSS */

a.blog-close-icon,
a.blog-close-icon:hover {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 99;
}

.login-with-us {
    position: relative;
    margin-top: -19px;
}

.login-popup-social-icon a {
    width: 50px;
    padding: 10px 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    text-decoration: none;
}

@media (min-width:768px) {
    .login-popup-social-icon a {
        width: 60px;
    }
}


/* ---------- Leadership Page css --------- */

.leadership-banner {
    background: #0d0914;
    background: -moz-linear-gradient(top, #0d0914 0%, #2b1c4b 100%);
    background: -webkit-linear-gradient(top, #0d0914 0%, #2b1c4b 100%);
    background: linear-gradient(to bottom, #0d0914 0%, #2b1c4b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0d0914', endColorstr='#2b1c4b', GradientType=0);
    padding: 70px 0px 0px;
}

@media (min-width:768px) {
    .leadership-banner {
        background: #100b19 url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/leadership/leadership-bg.png) no-repeat;
        background-position: center bottom;
        background-size: cover;
        padding: 90px 0px 50px;
    }
}

@media (min-width:992px) {
    .leadership-banner {
        padding: 130px 0px 0px;
    }
}

.leader-details {
    border: solid 1px #ced4d8;
    border-radius: 5px;
    padding: 30px 15px;
    text-align: center;
    height: 100%;
}

.leader-details:hover {
    box-shadow: 0px 0px 8px 0px rgba(206, 212, 216, 0.004);
}

.leader-details .leader-thumbnail {
    margin-bottom: 30px;
    border-radius: 50%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.leader-details .title {
    font-size: 20px;
    font-weight: 500;
    color: #34303f;
    margin-bottom: 8px;
}

.leader-details .designation {
    font-size: 14px;
    color: #7f7c88;
    line-height: 20px;
}

.success-architects {
    background: #eff3f6;
}

.success-architects .maxh340 {
    border: solid 1px #ced4d8;
    max-height: 340px;
    width: 100%;
    border-radius: 5px;
}

.success-architects .maxh250 {
    border: solid 1px #ced4d8;
    max-height: 340px;
    width: 100%;
    border-radius: 5px;
}


/* Video Slide Modal css */

.modal-transparent {
    background: transparent;
    border: 0;
}

.videoslidemodal {
    width: 95%;
    max-width: 100%;
}

a.help-video-cross-icon {
    border-radius: 50%;
    background: #34303f;
    position: absolute;
    right: 0px;
    top: -30px;
    padding: 8px;
    z-index: 99;
    color: #ffffff;
    text-decoration: none;
    font-size: 9px;
    opacity: 1;
    display: inline-block;
}

a.help-video-cross-icon:hover {
    background: #39295d;
    color: #ffffff;
    opacity: 1;
}

@media (min-width: 992px) {
    .videoslidemodal {
        width: 850px;
        max-width: 100%;
    }
    a.help-video-cross-icon {
        right: -26px;
        padding: 8px;
        top: -15px;
        bottom: auto;
    }
}


/* Coming Soon page css */

.coming-soon {
    background: #f9fafb url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/coming-soon.png) no-repeat;
    background-position: center bottom;
    background-size: cover;
}

@media (min-width: 1200px) {
    .coming-soon {
        min-height: 560px;
    }
}


/* Marketing Summit Page Css */

.marketing-summit {
    background: #f5f5f5 url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/marketing-summit-bg.png) no-repeat;
}

.subscription-bg {
    background: #f5f5f5 url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/marketing-summit-bg.png) no-repeat;
    padding: 30px 0px
}

@media (min-width:768px) {
    .marketing-summit {
        background: #f5f5f5 url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/marketing-summit-bg.png) no-repeat;
        background-position: right center;
        background-size: cover;
    }
    .subscription-bg {
        background: #f5f5f5 url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/marketing-summit-bg.png) no-repeat;
        background-position: right center;
        background-size: cover;
        padding: 30px 0px 100px 0px;
    }
}

ul.marketing-features {
    margin: 0px;
    padding: 0;
}

ul.marketing-features li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/feture-icon.png) no-repeat center left;
    padding-left: 32px;
    list-style: none;
    margin-bottom: 15px;
    color: #34303f;
    min-width: 16px;
    min-height: 16px;
}

@media (min-width:992px) {
    .coloum-right-border {
        border-right: solid 1px #ced4d8;
    }
}


/* New CSS */

.pre-heading {
    font-size: 18px;
    color: #34303f;
    font-weight: 300;
    line-height: 140%;
}

.heading-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 140%;
    color: #000000;
    font-family: 'Fira Sans', sans-serif;
}

#owl-demo img {
    height: auto;
    max-height: 220px;
    width: auto;
}

.dcp-btn,
a.dcp-btn,
.dcp-btn:focus,
a.dcp-btn:focus,
.dcp-btn:hover,
a.dcp-btn:hover {
    font-size: 16px;
    padding: 11px 20px;
    text-decoration: none;
}

.video-help-btn1,
a.video-help-btn1,
.video-help-btn1:focus,
a.video-help-btn1:focus {
    color: #b3afbc;
}

.video-help-btn1:hover,
a.video-help-btn1:hover {
    color: #ffffff;
}

.video-help-btn2,
a.video-help-btn2,
.video-help-btn2:focus,
a.video-help-btn2:focus {
    color: #34303f;
}

.video-help-btn2 i,
a.video-help-btn2 i,
.video-help-btn2:focus i,
a.video-help-btn2:focus i {
    color: #7f7c88;
}

.video-help-btn2:hover,
a.video-help-btn2:hover,
.video-help-btn2:hover i,
a.video-help-btn2:hover i {
    color: #fc7c0f;
}

.dcp-btn-get-start,
a.dcp-btn-get-start,
.dcp-btn-get-start:focus,
a.dcp-btn-get-start:focus,
.dcp-btn-get-start:hover,
a.dcp-btn-get-start:hover {
    font-size: 16px;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: 500;
}


/* Solution Section CSS */

.solution-section {
    background: #eff3f6;
}

.solution-section .step-circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #e2ebf1;
    box-shadow: 0px 4px 0px 0px rgba(185, 198, 207, 0.45);
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #14163f;
}

@media (min-width:992px) {
    .solution-section .step-circle {
        height: 88px;
        width: 88px;
        font-size: 45px;
    }
}

.solution-section .solution-right-border .title {
    font-size: 24px;
    font-weight: 700;
    color: #fc7c0f;
    line-height: 110%;
}

.solution-section .solution-right-border .subtitle {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-top: 0px;
    line-height: 140%;
}

.solution-right-border {
    position: relative;
}

.solution-section .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: #34303f;
}


/* Entrepreneurs Section */

.entrepreneurs-col {
    border-bottom: 1px solid #f1f1f1;
    padding: 15px;
}

.entrepreneurs-col:last-child {
    border-bottom: 0px;
}

.entrepreneurs-col .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    color: #000000;
    margin-top: 15px;
}

.entrepreneurs-col .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    color: #34303f;
    margin-top: 10px;
}

.entrepreneurs-col img {
    max-height: 100px;
}


/* Special Offer Section CSS */

.special-offer-section {
    background: #eff3f6;
}


/* Features Section CSS */

.feature-section {
    background: #eff0fa;
}

.feature-section .heading-text {
    color: #ffffff;
}

.step-heading-shape {
    background: #fc7c0f;
    width: 40px;
    height: 2px;
    margin-right: 20px;
    margin-top: 15px;
}

.feature-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    color: #fc7c0f;
}

.feature-heading {
    font-size: 22px;
    font-weight: 600;
    color: #151122;
    line-height: 140%;
    margin-top: 15px;
}


/* Step Slider Image Aanimation */

.feature-section .owl-item.active img.step-image {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: zoomIn;
    animation-delay: 0.3s;
}


/* Benefits Section CSS */

.benefits-icon {
    height: 70px;
    width: 70px;
    min-width: 70px;
    border-radius: 50%;
    background: #e2ebf1;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #14163f;
    box-shadow: 0px 4px 0px 0px rgba(185, 198, 207, 0.45);
}

.benefits-block .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    color: #000000;
}

.benefits-block .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    color: #34303f;
    margin-top: 15px;
}


/* Business Owners Section CSS */

.business-owners {
    background: #ffffff;
}

.video-outter-border {
    border: 1px solid #ced4d8;
}

.business-owners .title,
.testimonial-white-back .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    color: #151122;
    margin-top: 15px;
    font-family: 'Fira Sans', sans-serif;
}

.business-owners .subtitle,
.testimonial-white-back .subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: #151122;
    margin-left: 10px;
}

.owners-image {
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
}

.testimonial-back {
    border-radius: 5px;
    background: #ffffff;
    padding: 15px;
    -webkit-box-shadow: 0px 2px 5.64px 0.36px rgba(140, 140, 140, 0.23);
    box-shadow: 0px 2px 10.64px 0.36px rgba(140, 140, 140, 0.23);
}

.testimonial-back .heading-text,
.testimonial-back .heading-text {
    font-size: 24px;
    color: #010101;
    line-height: 140%;
}

.testimonial-back .heading-text {
    color: #000000;
}

.testimonial-back .subtitle {
    font-size: 16px;
    color: #7f7c88;
    line-height: 140%;
    margin: 7px 0px 0px 0px;
}

.testimonial-back .description {
    font-size: 16px;
    color: #34303f;
    line-height: 140%;
    margin-top: 15px;
}

.testimonial-back-img {
    position: relative;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px;
    background-size: cover;
    border-radius: 5px;
}

.grow-online-back {
    position: relative;
    border: 1px solid #ced4d8;
    background: #ffffff;
    border-radius: 5px;
    padding: 15px;
}

.grow-online-back .description {
    color: #34303f;
    font-size: 16px;
    line-height: 140%;
    margin-top: 10px;
}

.testimonials-slider-indicator {
    position: relative;
    justify-content: center;
    margin: 15px 0px 0px 0px;
    bottom: 0px;
}

.testimonials-slider-indicator.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #ffffff;
    border: solid 1px #ced4d8;
}

.testimonials-slider-indicator.carousel-indicators li.active {
    background-color: #fc7c0f;
    border: solid 1px #fc7c0f;
}

@media ( min-width: 768px) {
    .testimonials-slider-indicator {
        justify-content: flex-end;
        margin: 20px 0px 0px 0px;
    }
    .dcp-btn,
    a.dcp-btn,
    .dcp-btn:focus,
    a.dcp-btn:focus,
    .dcp-btn:hover,
    a.dcp-btn:hover {
        font-size: 16px;
        padding: 11px 30px;
    }
    .dcp-btn-get-start,
    a.dcp-btn-get-start,
    .dcp-btn-get-start:focus,
    a.dcp-btn-get-start:focus,
    .dcp-btn-get-start:hover,
    a.dcp-btn-get-start:hover {
        font-size: 18px;
    }
    .pre-heading,
    .solution-section .solution-right-border .subtitle,
    .benefits-block .title,
    .business-owners .title,
    .testimonial-white-back .title {
        font-size: 24px;
    }
    .solution-section .solution-right-border .title,
    .special-offer-section .heading-text,
    .testimonial-back .heading-text,
    .grow-online-back .heading-text {
        font-size: 36px;
    }
    .solution-section .description,
    .entrepreneurs-col .description,
    .benefits-block .description,
    .testimonial-back .description {
        font-size: 18px;
    }
    /* .solution-right-border:after{
	position: absolute;
	content: '';
	height: 71px;
	width: 2px;
	right: 0px;
	top: 4px;
	background: #ced4d8;
}
.solution-right-border:last-child:after{
	display: none;
} */
    .heading-text {
        font-size: 36px;
    }
    .entrepreneurs-col .title {
        font-size: 24px;
        margin-top: 25px;
    }
    .entrepreneurs-col {
        padding: 0px 15px 40px;
        border-right: 1px solid #f1f1f1;
    }
    .entrepreneurs-col:nth-of-type(3n+0) {
        border-right: 0px;
    }
    .entrepreneurs-col:nth-last-child(-n+3) {
        border-bottom: 0px;
    }
    .entrepreneurs-col:nth-last-child(-n+6) {
        padding-top: 35px;
    }
    .entrepreneurs-col img {
        max-height: 100%;
    }
    .feature-title {
        font-size: 20px;
    }
    .feature-heading {
        font-size: 32px;
    }
    .mt-md130 {
        margin-top: 130px !important;
    }
    .business-owners .subtitle,
    .testimonial-white-back .subtitle {
        font-size: 16px;
    }
    .testimonial-back {
        padding: 30px 20px;
        margin-left: 8px;
    }
    .testimonial-back .subtitle {
        font-size: 18px;
    }
    .testimonial-back .description {
        margin-top: 25px;
    }
    .testimonial-back-img {
        padding: 30px 0px;
    }
    .grow-online-back {
        padding: 30px;
    }
    .grow-online-back .description {
        font-size: 20px;
        margin-top: 15px;
    }
    .grow-online-image {
        position: absolute;
        top: -115px;
        right: 15px;
    }
    #owl-demo img {
        max-height: 410px;
        max-width: 530px;
        width: 100%;
    }
}

@media ( min-width: 992px) {
    .dcp-btn,
    a.dcp-btn,
    .dcp-btn:focus,
    a.dcp-btn:focus,
    .dcp-btn:hover,
    a.dcp-btn:hover {
        font-size: 18px;
    }
    .dcp-btn-get-start,
    a.dcp-btn-get-start,
    .dcp-btn-get-start:focus,
    a.dcp-btn-get-start:focus,
    .dcp-btn-get-start:hover,
    a.dcp-btn-get-start:hover {
        font-size: 20px;
        padding: 12px 46px;
    }
    .testimonial-back-img {
        background: url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/home/testimonial/testimonial-back-img.png) no-repeat center right;
        min-height: 440px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .grow-online-back {
        padding: 39px 60px 50px 60px;
    }
    .grow-online-image {
        top: -125px;
        right: 25px;
    }
}

@media(min-width: 1200px) {
    .heading-text {
        font-size: 48px;
    }
}


/* Business FAQ's Accordion */

.business-accordion .card .card-header .card-link.collapsed {
    color: #151122;
}

.business-accordion .card .card-header .card-link {
    font-family: 'icomoon';
    content: "\a338";
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    color: #fc7c0f;
}

.business-accordion .card .card-header .card-link::before {
    font-family: 'icomoon';
    content: "\a336";
    color: #000000;
    font-size: 12px;
    margin-right: 15px;
    top: 0px;
    width: 25px;
    height: 25px;
    background: #eaecf3;
    border-radius: 50%;
    display: inline-block;
    line-height: 26px;
    text-align: center;
}

.business-accordion .card .card-header .card-link.collapsed::before {
    font-family: 'icomoon';
    content: "\a338";
    font-size: 12px;
    color: #000000;
}

.business-accordion .card {
    background: transparent;
    border-width: 0px 0px 2px 0px;
    border-color: #dcdfed;
    margin-bottom: 15px;
    border-radius: 0px;
    padding-bottom: 15px;
}

.business-accordion .card-header {
    background: transparent;
    border: 0px;
    padding: 0px;
}

.business-accordion .card .card-body {
    padding: 20px 30px 0px 45px;
}

.business-accordion .card .card-body p.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: #34303f;
}

.collapse-ex {
    display: none;
}

.business-accordion .card:last-child {
    margin-bottom: 0px;
}

@media ( min-width: 768px) {
    .business-accordion .card {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    .business-accordion .card .card-header .card-link {
        font-size: 24px;
    }
    .business-accordion .card .card-body p.description {
        font-size: 18px;
    }
}

@media all and (max-width: 991px) and (min-width: 768px) {
    .welcome-banner {
        min-height: 600px
    }
}


/* All Solution Page CSS */

.all-solution-banner {
    background: #0d0914;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0d0914 0%, #2b1c4b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0d0914 0%, #2b1c4b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0d0914 0%, #2b1c4b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0d0914', endColorstr='#2b1c4b', GradientType=0);
    /* IE6-9 */
    padding: 70px 0px 20px;
}

.all-solution-section {
    background: #eff3f6;
    padding: 30px 0px;
}

.all-solution-section .title {
    font-size: 24px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 10px;
}

a.solution-box {
    background: #ffffff;
    border-radius: 5px;
    padding: 15px;
    display: block;
    text-align: center;
    height: 100%;
    cursor: auto;
    text-decoration: none;
    color: #666077;
    font-weight: 400;
    transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
}

a.solution-box i {
    font-size: 50px;
}

a.solution-box .solution-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    margin-top: 12px;
}

a.solution-box .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 7px;
}


/* Box Hover Effect */

a.solution-box:hover {
    color: #000000;
    box-shadow: 0px 0px 15px 0px rgba(13, 9, 20, 0.1);
    transform: translateY(-5px);
}

a.solution-box i {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    display: block;
}

a.solution-box:hover i {
    -webkit-animation-name: hvr-icon-push;
    animation-name: hvr-icon-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


/* Icon Push Animation */

@-webkit-keyframes hvr-icon-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes hvr-icon-push {
    50% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}

@media (min-width:768px) {
    .all-solution-banner {
        background: #100b19 url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/solution/solution.png) no-repeat;
        background-position: center bottom;
        background-size: cover;
        padding: 90px 0px 50px;
    }
    .all-solution-section .title {
        font-size: 48px;
    }
    a.solution-box {
        padding: 30px 15px;
    }
    a.solution-box .solution-title {
        font-size: 18px;
        margin-bottom: 30px;
    }
}

@media (min-width:992px) {
    .all-solution-banner {
        padding: 150px 0px 0px;
    }
    .all-solution-section {
        padding: 80px 0px;
    }
}


/* Hide Banner Title Cursor */

.welcome-banner .typed-cursor {
    opacity: 0 !important;
}


/* Testimonials css */

.testimonial-banner {
    background: #fc7c0f;
    padding: 70px 0px 30px;
}

.disclaimer-section {
    background: #eff3f6;
}

.disclaimer-section .description,
.testimonial-white-back .description,
.disclaimer-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    color: #000000;
}

.special-offer-section .section-title .description {
    font-size: 18px;
    font-weight: 300;
    line-height: 180%;
    color: #34303f;
}

.post-image-back {
    background: #ffffff;
    border: 1px solid #ced4d8;
    padding: 0px;
    display: block;
}

@media (min-width:768px) {
    .testimonial-banner {
        background: #fc7c0f;
        padding: 90px 0px 50px;
    }
    .disclaimer-section .description,
    .testimonial-white-back .description,
    .disclaimer-text {
        font-size: 18px;
    }
    .special-offer-section .section-title .description {
        font-size: 22px;
    }
}

@media (min-width:992px) {
    .testimonial-banner {
        padding: 150px 0px 80px;
    }
}


/* Home Page New CSS */

.home-page-heading,
.featurs-heading {
    color: #151122;
    font-weight: 600;
    line-height: 140%;
    font-family: 'Fira Sans', sans-serif;
}

.home-page-heading,
.support-section .support-section-heading {
    font-size: 28px;
}

.featurs-heading {
    font-size: 22px;
}

.old-way-section .old-way-block .title {
    font-size: 18px;
    color: #34303f;
    font-weight: 500;
    line-height: 140%;
    font-family: 'Fira Sans', sans-serif;
}

.testi-description {
    font-size: 14px;
}

.old-way-section .old-way-block .description,
.with-dotcompal-block .description,
.home-page-description,
.testi-description {
    color: #34303f;
    font-weight: 400;
    line-height: 160%;
}

.old-way-section .old-way-block .description {
    font-size: 15px;
    margin-top: 10px;
}

.with-dotcompal-block .description {
    font-size: 16px;
}

.home-page-description {
    font-size: 14px;
}

.home-page-title {
    font-size: 16px;
    color: #34303f;
    font-weight: 400;
    line-height: 160%;
}

.home-page-subtitle {
    font-size: 20px;
    color: #34303f;
    font-weight: 600;
    line-height: 140%;
    font-family: 'Fira Sans', sans-serif;
}

.home-page-sub-heading {
    font-size: 14px;
    color: #34303f;
    font-weight: 600;
    line-height: 160%;
}

.home-page-title-white,
.home-page-title-grey {
    font-weight: 500;
    line-height: 140%;
}

.home-page-title-white {
    font-size: 20px;
}

.home-page-title-grey {
    font-size: 16px;
}

.home-page-title-white {
    color: #ffffff;
}

.home-page-title-grey {
    color: #151122;
}

.with-dotcompal-block .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    font-family: 'Fira Sans', sans-serif;
}

.free-training-section .title,
.testimonial-block .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    font-family: 'Fira Sans', sans-serif;
}


/* Old Way Section */

.old-way-section {
    background: #f5f6ff;
}

.old-way-block {
    background: #ffecec;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 0px rgba(90, 90, 90, 0.15);
    padding: 15px;
}

.website-help-cion {
    background: #ffdfdf;
    border-radius: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #34303f;
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
    margin-left: -30px;
}

.say-hello-section,
.online-entrepreneurs-bg,
.more-business-section,
.feature-section,
.old-way-section,
.free-training-section,
.faq-section,
.business-owners {
    padding: 30px 0px;
}


/* Say Hello section */

.say-hello-section {
    background: #ffffff;
}

.with-dotcompal-block {
    background: #eff0fa;
    padding: 15px;
}

.min-w-20 {
    min-width: 20px;
}

.min-w-23 {
    min-width: 23px;
}

.min-w-24 {
    min-width: 24px;
}

.white-blue-bg {
    position: relative;
    padding-bottom: 30px;
}

.online-entrepreneurs-bg {
    background: #fc7c0f;
}

.business-blocks {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 19px 0px rgba(90, 90, 90, 0.15);
    padding: 10px;
    text-align: center;
    max-width: 270px;
    margin: auto;
}

.business-blocks .pre-heading {
    color: #34303f;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}

.business-blocks .heading {
    font-size: 35px;
    font-weight: 600;
    line-height: 110%;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 10px;
}

.business-blocks .heading.yellow {
    color: #efa131;
}

.business-blocks .heading.cerise {
    color: #db3579;
}

.business-blocks .heading.java {
    color: #16C5A6;
}

.business-blocks .heading.blue {
    color: #3148d8;
}

.business-blocks .description {
    color: #34303f;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}


/* More Business CSS */

.more-business-section {
    background: #ffffff;
}

.feature-icon {
    font-size: 20px;
    color: #fc7c0f;
}

a.feature-signup-btn,
.feature-signup-btn,
.feature-signup-btn:hover,
.feature-signup-btn:hover,
.feature-signup-btn:active,
.feature-signup-btn:active,
a.feature-signup-btn:focus,
.feature-signup-btn:focus {
    font-weight: 500;
}


/* Free Training CSS */

.free-training-section {
    background: #ffffff;
}

.free-training-section.grey-section {
    background: #eff0fa;
}


/* FAQ CSS */

.faq-section {
    background: #f5f6ff;
}

.testimonial-block {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 19px 0px rgba(90, 90, 90, 0.15);
    padding: 0px 15px 15px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.testi-image-size {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
}

@media (min-width: 768px) {
    .testi-description,
    .home-page-description {
        font-size: 16px;
    }
    .home-page-heading,
    .welcome-banner .banner-heading,
    .support-section .support-section-heading {
        font-size: 36px;
    }
    .featurs-heading {
        font-size: 30px;
    }
    .home-page-title {
        font-size: 18px;
    }
    .home-page-subtitle,
    .home-page-title-white,
    .home-page-title-grey {
        font-size: 30px;
    }
    .home-page-sub-heading,
    .business-blocks .description,
    .testimonial-block .title {
        font-size: 20px;
    }
    .business-blocks .heading {
        font-size: 50px;
        margin-top: 12px;
    }
    /* Old Way Section */
    .old-way-block {
        padding: 30px;
    }
    .old-way-section .old-way-block .title,
    .business-blocks .pre-heading {
        font-size: 22px;
    }
    .old-way-section .old-way-block .description {
        margin-top: 15px;
    }
    .website-help-cion {
        font-size: 32px;
        height: 60px;
        min-height: 60px;
        width: 60px;
        min-width: 60px;
        margin-left: -60px;
    }
    .with-dotcompal-block {
        padding: 30px 15px;
    }
    .with-dotcompal-block .title,
    .free-training-section .title {
        font-size: 25px;
    }
    .white-blue-bg {
        padding-bottom: 0px;
    }
    .white-blue-bg:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: #fc7c0f;
        z-index: -1;
    }
    .business-blocks {
        padding: 28px 20px;
    }
    .feature-icon {
        font-size: 24px;
    }
    a.feature-signup-btn,
    .feature-signup-btn,
    .feature-signup-btn:hover,
    .feature-signup-btn:hover,
    .feature-signup-btn:active,
    .feature-signup-btn:active,
    a.feature-signup-btn:focus,
    .feature-signup-btn:focus {
        padding: 13px 30px;
        font-size: 18px;
    }
    .testimonial-block {
        padding: 0px 30px 30px;
        /* height: 100%; */
    }
}

@media (min-width: 992px) {
    /* Old Way Section */
    .old-way-section {
        background: #f5f6ff url(https://cdn.oppyo.com/launches/viddeyo/premium-membership/old-way-section-bg.png) no-repeat center center;
        background-size: cover;
    }
    .old-way-block {
        padding: 35px 50px;
    }
    .website-help-cion {
        margin-left: -80px;
    }
    /* Say Hello section */
    .say-hello-section,
    .online-entrepreneurs-bg,
    .more-business-section,
    .feature-section,
    .old-way-section,
    .free-training-section,
    .faq-section,
    .business-owners {
        padding: 100px 0px;
    }
    .with-dotcompal-block {
        padding: 75px 50px 55px;
    }
}

@media (min-width: 1200px) {
    .home-page-heading,
    .welcome-banner .banner-heading,
    .support-section .support-section-heading {
        font-size: 48px;
    }
    .featurs-heading {
        font-size: 32px;
    }
}


/* Deal page css */

.deal-page-banner {
    background: #f0f0f0;
    padding: 30px 0px;
}

.deal-page-banner .pre-title {
    color: #000000;
}

.deal-page-banner .title {
    color: #000000;
}

.deal-page-banner .sub-title {
    color: #000000;
}

@media (min-width:768px) {
    .deal-page-banner {
        background: #f0f0f0;
        padding: 88px 0px 100px 0px;
    }
}

.bonus-section {
    background: #fc7c0f;
    padding: 30px 0px;
    min-height: 400px;
}

.compare-new-table .table {
    margin-bottom: 0;
}

.compare-new-table .table-bordered td,
.compare-new-table .table-bordered th {
    width: 50%;
    border: none;
    vertical-align: inherit;
}

.compare-new-table {
    border: 1px solid #000000;
}

.compare-new-table table tr th:first-child,
.compare-new-table table tr td:first-child {
    border-right: 1px solid #000000;
}

.compare-new-table table tr td:last-child {
    font-weight: bold;
}

.compare-new-table table th {
    font-weight: 600;
    font-size: 18px;
    color: #151122;
    padding: 15px 10px;
}

.compare-new-table table th.head-left {
    background-color: #f3f4fc;
}

.compare-new-table table th.head-right {
    color: #ffffff;
    background-color: #fc7c0f;
}

.compare-new-table table tr td {
    padding: 15px 4px;
}

.compare-new-table table tbody tr:nth-child(even) {
    background-color: #f8f9ff;
}

.compare-new-table table tbody tr .last-table-col {
    background-color: #fc7c0f;
    color: #ffffff;
}

@media (min-width: 768px) {
    .compare-new-table table th {
        font-size: 28px;
        padding: 30px 15px;
    }
    .compare-new-table table tr td {
        padding: 15px 10px;
    }
}