html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}
/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #212121;
}
.red-clr{
	color: #EF3E3A;
}
/* Header CSS */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 100px 0px;
}
.header-section-2 {
	background: #090f21 url(../images/header-bg2.webp) no-repeat top center;
    background-size: cover;
    padding: 150px 0px 150px 0px;
    margin-top: -150px;
}
  .preheadline{
	display: inline-block;
    padding: 10px 15px;
	background: #D9D9D9;
	border-radius: 50px;
  }
.video-box{position: relative; padding: 20px; background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
	backdrop-filter: blur(5px); border-radius: 20px;}

ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
	font-weight: 400;
	color: #ffffff;
}

ul.leader-ul li:hover a {
	transition: 0.5s all ease-in;
	color: #fff !important;
	border-bottom: 1px solid #EF3E3A;
	padding-bottom: 8px;
}

.header-section ul.leader-ul li .active {
	transition: 0.5s all ease-in;
	color: #fff;
	border-bottom: 1px solid #EF3E3A;
	padding-bottom: 8px;
}

.header-section ul.leader-ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}

a.affiliate-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	color: #ffffff;
	font-weight: 600;
	transition: all .3s ease;
	background: linear-gradient(92.69deg, #EF3E3A 0%, #FF5F5B 99.78%);
	border-radius: 15px;
}
a.affiliate-link-btn:hover {
	transition: all .8s ease;
	background: linear-gradient(92.69deg, #FF5F5B 0%, #EF3E3A 99.78%);
}
.demo-video{
	width: 740px;
	height: 433px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
	backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 2px solid grey;
}
.hr{
	mix-blend-mode: overlay;
}
.live-section {
    background: #ffffff;
    padding: 0px 0 30px 0px;
}
.formbg {
    position: relative;
    border-radius: 10px;
    width: 100%;
    float: left;
    padding: 20px;
    margin-top: -90px;
    background: #fff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    transition: transform .5s;
}


@media(min-width:768px) {
	.header-section {
		padding: 50px 0px 230px 0px;
	}
	.header-section-2 {
		padding: 270px 0px 150px 0px;
		margin-top: -310px;
	}
	a.affiliate-link-btn {
		padding: 15px 25px;
		font-size: 18px;
	}
	.live-section {
		padding: 0px 0px 0px 0px;
	}
	ul.leader-ul li {
		padding: 0px 15px;
	}
	.calender-wrap{
		padding: 30px 15px;
	}
	.gameimg {
		position: absolute;
		z-index: 9999;
		top: -6px;
		right: -50px;
	}
	.formbg {
		padding: 40px 65px;
		border-radius: 20px;
	}
	.preheadline{
		padding: 10px 50px 10px 20px;
	  }
}

/* Header End */

/* List Section Start */
.list-section{
	padding: 30px 0px;
}
/* .menu-list li{
	background: url(../images/orange-tick.webp) no-repeat;
    background-position: 10px 32px;
    padding: 15px 15px 15px 64px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
    background-color: #FFEED6;
    display: flex;
    align-items: center;
	border: 3px solid #FFFFFF;
} */

.grab-sec{
	padding: 30px 15px;
    background: url(../images/reason-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    border-radius: 20px;
}


.white-form-box {
    border-radius: 10px;
    padding: 10px;
}

.form-control.input-field {
    border-width: 1px;
    border-color: rgb(168, 167, 198);
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none !important;
    color: #08041e;
    padding: 6px 15px;
}
.form-btn input[type="submit"] {
    border-radius: 15px;
    text-decoration: none;
    border: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 1;
    padding: 12px 10px;
    line-height: normal;
    font-weight: 600;
    outline: none;
    max-width: 510px;
    white-space: normal;
    cursor: pointer;
    background: #FFA829;
	font-size: 24px;
}
.affiliate-btn a{
	border-radius: 15px;
    background: #E76D24;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    padding: 15px;
    line-height: 30px;
    outline: none;
    text-transform: capitalize;
}

@media(min-width:768px){
	.list-section{
		padding: 100px 0px;
	}
	.grab-sec{
		padding: 50px;
	}
	.white-form-box {
		border-radius: 20px;
		padding: 20px;
	}
	.form-control.input-field {
		height: 60px;
    font-size: 20px;
	}
	.affiliate-btn a {
		padding: 25px 20px;
		max-width: 510px;
	}
	.form-btn input[type="submit"]{
		height: 60px;
	}
}
/* List Section End */

/* Problem Section Start */
.problem-sec{
	padding: 30px 0px 30px 0px; 
	background: url(../images/problem-bg.webp) no-repeat center center; 
	background-size: cover; 
}
.problem-list li {
    background: url(../images/cross.webp) no-repeat;
    background-position: 20px 25px;
    padding: 10px 10px 10px 60px;
    margin-top: 15px;
    list-style-type: none;
    min-height: 80px;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    background-color: #FFEED6;
    display: flex;
    align-items: center;
    border: 3px solid #FFFFFF;
}
.heading-design{
	background: url(../images/heading-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 25px 55px 25px 55px;
    display: inline-block;

}
@media(min-width:768px){
	.problem-sec{padding: 100px 0px 100px 0px;}
	.heading-design{padding: 50px 150px 50px 150px;}
}
/* Problem Section End */

/* Fact Section Start */
.fact-sec{
	padding: 30px 0px;
	background: url(../images/facts-bg.webp) no-repeat center center;
	background-size: cover;
}

.know-list li{    
	background: url(../images/tick.webp) no-repeat;
    background-position: 0 1px;
    padding-left: 43px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    list-style-type: none;
    min-height: 26px;}

@media(min-width:768px){
	.fact-sec{
		padding: 100px 0px;
	}
	.header-wrap {
		padding: 80px 80px 60px 80px;
	}
}

/* Fact Section End */

/* But Not Anymore Section Start */
.butnotanymore-sec{
	padding: 30px 0px; 
	background: #fff  url(../images/butnotanymore-bg.webp) no-repeat center center;
	background-size: cover;
	position: relative;
}
.trigger-block {
    background: #FFFFFF;
	padding: 10px 20px;
	border: 5px solid #EF3E3A;
	border-radius: 100px;
	display: inline-block;
	outline: 7px solid #fff;
}
.heading-text{
	border-radius: 100px;
    background: #FFA829;
    display: inline-block;
    padding: 10px 30px;
}
@media(min-width:768px){
	.butnotanymore-sec{
		padding: 100px 0px 170px 0px;
	}
	.cross:before{
		position: absolute;
		content: url(../images/cross.webp);
		left: 285px;
		display: inline-block;
	}
	.cross:after{
		position: absolute;
		content: url(../images/cross.webp);
		right: 285px;
		display: inline-block;
	}
	.ele1 {
		position: absolute;
		bottom: -131px;
		left: 90px;
		animation: 2s ease-in-out 0s infinite alternate none running mover1;
	}
}
/* But Not Anymore Section End */

/* Presenting Section Start */
.presenting-sec{
	padding: 60px 0px 30px 0px;
    background: #03071D;
    margin-top: -40px;
}

.presenting-head{
	background: #132041;
	border-radius: 40px;
    padding: 5px 30px;
    display: inline-block;
	font-family: 'Caveat';
}

@media(min-width:768px){
	.presenting-sec{
		padding: 180px 0px 100px 0px;
		margin-top: -100px;
		background: url(../images/introducing-bg.webp) no-repeat center center;
		background-size: cover;
		z-index: 999;
		position: relative;}
	.presenting-head{
		padding: 10px 80px;
	}

}
@media(min-width:1600px) {
	.presenting-wrap {
		max-width: 85%;
	}
}

/* Presenting Section End */


/* Feature-section Start */
.features-headline {
    padding: 30px 0;
    background-color: #fff;
}
.features-section {
    padding: 30px 0px;
    max-width: 95%;
    margin: 20px auto 0px auto;
    background: url(../images/feature-bg.webp) no-repeat top center;
    border-radius: 30px;
	background-size: cover;
}

@media(min-width:768px){
	.features-headline {
		padding: 100px 0px;
		
	}
	.features-section {
		padding: 100px 0px;
		max-width: 85%;
		margin: 0px auto;
		border-radius: 50px;
	}
}

@media(min-width:1600px) {
	.features-section {
		max-width: 77%;
        border-radius: 30px;
	}
   

}

/* Feature Section End */

/* Demo Section Start */
.demo-sec{
	padding: 30px 0px; 
	background: url(../images/demo-bg.webp) no-repeat center bottom;
	background-size: cover;
}
@media(min-width:768px){
	.demo-sec{
		padding: 100px 0px;
	}
	.demo-text{position: relative;}
	.demo-text:before{
		position: absolute;
		content: url(../images/left-arrow.webp);
		bottom: -35px;
		left: 100px;
	}
	.demo-text:after{
		position: absolute;
		content: url(../images/right-arrow.webp);
		bottom: -35px;
		right: 100px;
	}
}
/* Demo Section End */

/* Industry Section Start */
.industry-section{
	padding: 30px 0px;
	background: #080E20 url(../images/industry-bg.webp) no-repeat center center;
	background-size: cover;
}
@media(min-width:768px)
{
	.industry-section{padding:100px 0px;}
}
/* Industry Section End */

/* Trigger Section Start */
.trigger-section{
	padding: 30px 0px;
	background: #080E20 url(../images/trigger-bg.webp) no-repeat center center;
	background-size: cover;
}
.grey-bg{
	background:  #3C4359;
	border-radius: 10px;
	padding: 10px 20px;
}
.trigger-features-section {
    padding: 30px 0px;
    max-width: 95%;
    margin: 20px auto 0px auto;
    background: url(../images/trigger-feature-bg.webp) no-repeat top center;
    border-radius: 30px;
	background-size: cover;
}  
@media(min-width:768px){
	.trigger-section{padding:100px 0px;}
	.trigger-features-section {
		padding: 100px 0px;
		max-width: 85%;
		margin: 0px auto;
		border-radius: 50px;
	}
	.hr-bottom{
		background: #212121;
		mix-blend-mode: exclusion;
		opacity: 0.2;
		border-radius: 20px;
	}
	.grey-bg {
		border-radius: 20px;
		padding: 30px 50px;
	}
}
@media(min-width:1600px) {
	.trigger-features-section {
		max-width: 77%;
        border-radius: 30px;
	}}
/* Trigger Section End */
.customizable-section{
	background: url(../images/customizable-bg.webp) no-repeat top center;
	background-size: cover;
	padding: 30px 0px;
}
.feature-list-box {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgb(0 0 0 / 20%);
    border-radius: 20px;
    border: 5px solid rgba(164, 229, 248, 1);
    box-shadow: -5px 5px 10px rgb(0 0 0 / 20%);
    border-radius: 50px;
}
.gap30 {
    --bs-gutter-y: 30px;
}
@media(min-width:768px){
	.emoji:after {
		position: absolute;
		content: url(../images/emoji.png);
		display: inline-block;
		right: -50px;
		bottom: -100px;
	}
	.customizable-section{padding: 100px 0px;}
	.feature-list-box {
		height: 100%;
		padding: 30px 20px;
	}
	.gap30 {
		--bs-gutter-x: 50px;
		--bs-gutter-y: 50px;
	}
}







.exciting-section{
	background: url(../images/exciting-launch.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.bottom-line{
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	display: inline-block;
	padding-bottom: 15px;
}
.exciting-section .launch-list li{padding: 0px 0px 20px 0px; color: #fff;}
@media(min-width:768px){
	.exciting-section{padding: 100px 0px;}
}

/* Deep Funnel Section Start */
.deep-sec{
	background: url(../images/demo-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px;
}
@media(min-width:768px){
	.deep-sec{padding: 100px 0px;}
}
/* Deep Funnel Section End */

/* Prize Section Start */
.prize-section {
    background: #ffffff;
    padding: 30px 0px;
	position: relative;
}
.launch-head{
	background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(241, 165, 69, 0.5) 50.52%, rgba(255, 255, 255, 0) 100%);
	display: inline-block;
}
.ele4{
	position: absolute;
	bottom: -10px;
    left: -20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}
@media(min-width:768px){
	.prize-section {
		padding: 100px 0px;
		background: url(../images/prize-section-bg.webp) no-repeat center center;
		background-size: cover;
	}	
}
/* Prize Section End */

.reciprocate-sec {
    background: #EAF3F8;
    padding:30px 0px;
}

.logos-effect img {
	transition: 0.3s;
}
.logos-effect img:hover {
    transform: scale(1.1);
}
@media(min-width:768px){
	.reciprocate-sec {
		padding:100px 0px;
	}
}

/* Contact Us Section */
.contact-section {
    background: #000;
    padding: 30px 0px;
}
.contact-block {
    padding: 20px;
    position: relative;
    background: linear-gradient(102.18deg, #000 7.04%, #252525 108.72%);
    border-radius: 30px;
}
.contact-shape {
	background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: solid 2px rgba(255, 255, 255, 0.25);
	padding: 30px;
}
@media(min-width:768px){
	.contact-section {
		background: #fff;
		padding: 100px 100px 0px;
	}
	.contact-block {
		padding: 80px;
		background: url(../images/problem-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
	.contact-shape {
		padding: 25px 0px;
	}
}
/* Contact us Section End */

/* Terms Section Start */
.terms-section {
    padding: 30px 0px;
    background: #ffffff;
}
@media(min-width:768px){
	.terms-section {
		padding: 70px 0px 70px 0px;
	}
}
/* Terms Section End */

/* Footer Section Start */
.footer-section {
	background: #080E20;
	padding: 30px 0px;
}

.footer-ul {
	padding: 0px;
	margin: 0px;
}

.footer-ul li {
	display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
	color: #ffffff;
}

@media (min-width: 768px) {
	.footer-section {
		padding: 50px 0px
	}
}
/* Footer Section End */

.winner-heading {
	background: #D9EFFF;

	
	border-radius: 0px 40px 40px 0px;
    padding: 15px ;
    display: inline-flex;
}
.promote{
	background: linear-gradient(135deg, #00ACFF 6.3%, #0089FF 93.82%);
	border-radius: 40px 0px 0px 40px;
    padding: 15px ;
    display: inline-flex;
}
.mp4-border{
	background: #d22a2a1f;
    padding: 13px;
    border-radius: 20px;
}
@media(min-width:768px){
	.winner-heading {
		padding: 15px 30px 15px 15px;
		border-radius: 0px 50px 50px 0px;
	}
	.promote {
		padding: 15px 15px 15px 30px;
		border-radius: 50px 0px 0px 50px;
	}
}