body {
    
    font-family: 'Montserrat', sans-serif;
        font-style: normal;
        width: 100%;
        height: 100%;
        font-size: 16px;
        line-height: 1.6;
        position: relative;
        color: var(--pg-black-color);
        position: relative;
        -webkit-font-smoothing: antialiased;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        overflow-x: hidden;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    .container {
        max-width: 1170px;
    }
    .row>* {
        padding-right: 15px;
        padding-left: 15px;
    }
    *,
    *:before,
    *:after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    a,
    a:hover,
    a:focus {
        text-decoration: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-family: 'Montserrat', sans-serif;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        margin: 0;
        padding: 0;
        word-break: break-word;
    }
    img {
        max-width: 100%;
    }
    input,
    textarea,
    select,
    button,
    label,
    svg,
    svg path,
    svg rect,
    svg polygon,
    img,
    a,
    :after,
    :before,
    :hover,
    :focus,
    .form-control:focus {
        outline: none !important;
        box-shadow: none;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    p {
        margin: 0px;
        padding: 0;
        word-break: break-word;
    }
    /* width */
    
    .orange-clr{
        color:#ffa944;
    }
    
    ::-webkit-scrollbar {
        width: 4px;
    }
    /* Track */
    
    ::-webkit-scrollbar-track {
        background: #11082d;
    }
    /* Handle */
    
    ::-webkit-scrollbar-thumb {
        background: #ff3d00;
        width: 4px;
    }

.white-clr{color:#fff;}
    /* Banner css start */
    .jv_oto_main_wrapper {
        background-image: url(../images/banner.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        padding: 74px 0px 75px;
        position: relative;
    }
    .jv-oto-sec04 {
        background-image: url(../images/bg01.png);
        background-repeat: no-repeat;
        background-position: center, bottom;
        padding-bottom: 40px;
    }
    .jv-oto-banner-heading1 > h5 {
        font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #832dcc;
    }

    .jv-oto-banner-heading2 > h5 {
        font-size: 44px;
        color: #ffffff;
        font-weight: 600;
        width: 100%;
        max-width: 1140px;
        margin: 65px auto 33px;
    }
    .jv-oto-banner-heading2 > h5 > u{
        color:#ffa944;
        font-weight: 700;
    }
    .jv-oto-banner-heading3 > h5 {
        font-size: 32px;
        color: #ffffff;
        font-weight: 600;
        text-align: center;
        background-image: url(../images/top-heading3.png);
        background-repeat: no-repeat;
    background-position: bottom;
    padding: 0px 0px 30px;
    }
    .jv-oto-banner-heading4 {
        width: 100%;
        border-radius: 15px;
        background-color: #ffdaaf;
        border: 10px solid #38266e;
        text-align: center;
        max-width: 1010px;
        margin: 30px auto 50px;
        padding: 42px 0px 42px;
        position: relative;
    }
    .jv-oto-form-inner form h2 {
    padding-bottom: 20px;
}
    .jv-oto-video-shape {
        position: absolute;
    }
    .jv-oto-banner-heading4 > h4 {
        font-size: 36px;
        color: #000000;
        font-weight: 600;
        line-height: 1.3;
    }

    .jv-oto-banner-heading4 > h4 > b{
        color: #e81849;
        font-weight: 800;
    }
    .jv_oto_banner_video_section{
        text-align: center;
    }
    .jv_oto_banner_video_section > iframe {
        width: 100%;
        max-width: 800px;
        height: 450px;
        margin: 0 auto;
        border-radius: 20px;
        border: 2px solid #ffffff;
    }
.jv-oto-form-inner h2{
    font-weight: 700;
    font-size:28px;
}
@media(min-width:768px){
    .jv-oto-form-inner h2{
    font-size:34px;
}
}
    .jv-oto-banner-down {
        text-align: center;
        padding-top: 45px;
        animation: bounce 2s infinite;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-30px);
        }
        60% {
          transform: translateY(-15px);
        }
      }
      

/* section 2 start */
.jv-oto-feature-heading {
    margin-bottom: 70px;
}
.jv-oto-section2 {
    padding: 70px 0 50px;
    position: relative;
    background-image: url(../images/warrior-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}


.jv-oto-section-start-ends {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/start.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 60px 29px 60px;
    margin-bottom: 60px;
}

.jv-oto-form-inner {
    /* background-color: #f4f1ff; */
    border-radius: 20px;
    padding: 50px 30px 50px 30px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url(../images/form.png);
    height: 473px;
    position: relative;
}

.jv-oto-start-date > h2 {
    font-size: 45px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}
.jv-oto-start-date >  h3 {
    font-size: 28px;
    color: #ffa944;
    font-weight: 700;
}

.jv-oto-form-inner > h2 {
    font-size: 34px;
    color: #050a1b;
    font-weight: 700;
    padding: 0px 0px 25px 25px;
}
.jv-oto-form-inner  input {
    height: 70px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #d8cffa;
    margin-bottom: 30px;
}
a.sign-up-btn {
    height: 76px;
    border-radius: 15px;
    filter: drop-shadow(-7.071px 7.071px 7.5px rgba(246,82,121,0.15));
    background-color: #f3426c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
}

.jv-oto-form-inner1 > h3 {
    font-size: 34px;
    color: #050a1b;
    font-weight: 700;
    padding: 50px 0px 0px;
}
.jv-oto-form-inner1 p {
    font-size: 20px;
    color: #050a1b;
    font-weight: 400;
    padding: 15px 0px;
}
.jv-oto-form-inner1 > a {
    text-align: center;
    display: block;
    padding-bottom: 30px;
}

a.sign-up-btn.affilite_link {
    border-radius: 15px;
    filter: drop-shadow(-7.071px 7.071px 7.5px rgba(21,5,6,0.15));
    background-color: #6e0f15;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}




/* section 3 start */
.jv-oto-section3 {
    background-image: url(../images/section3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 80px 0px 0px;
}
.jv-oto-section3-inner {
    text-align: center;
}
.jv-oto-section3-inner > h2 {
    font-size: 65px;
    color: #ffffff;
    font-weight: 800;
    padding-bottom: 50px;
}

.jv-oto-section3-inner > p{
    font-size: 28px;
color: #ffffff;
font-weight: 700;
}

.jv_oro_section4 {
    background-repeat: no-repeat;
    max-width: 1240px;
    margin: 0px auto 0;
    z-index: 0;
    position: relative;
    padding-bottom: 50px;
    width: 100%;
    height: 872px;
    -webkit-border-radius: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, #8e80f6, #fa94c0, #8675f6, #58c4fc) 1;
    margin-bottom: 50px;
    background-color: #fff;
}
.jv-oto-section4-left ul li {
    position: relative;
    padding-bottom: 30px;
}
.jv-oto-section4-left ul li p {
    padding-left: 60px;
    font-size: 20px;
color: #000000;
font-weight: 500;
}
.jv-oto-section4-left ul li img {
    position: absolute;
    left: 0;
}
.jv-oto-section3-inner img {
    position: relative;
    top: 80px;
    z-index: 2;
}
.jv-oto-section4-left {
    position: relative;
    z-index: 1;
    padding-top: 160px;
}
.jv-oto-featurebox {
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    padding: 30px 30px 30px;
    border-width: 3px;
    background: #ffffff;
    position: relative;
    border-radius: 10px;
    height: 350px;
    position: relative;
}
.jv-gradient-bg {
    background: #f7f7f7;
    width: 100%;
    height: 362px;
    -webkit-border-radius: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, #8e80f6, #fa94c0, #8675f6, #58c4fc) 1;
    margin-bottom: 50px;
    transition: all 0.5s;

}
.jv-gradient-bg:hover{
    transform: translateY(-5px);
}
  @keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.jv-oto-featurebox p {
    font-size: 24px;
    color: #000000;
    font-weight: 600;
}
.jv-oto_feature{
    background-image: url(../images/feature.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
}
.jv-oto-featurebox img {
    width: 100%;
    max-width: 90px;
    margin: 0 auto 30px;
    text-align: center;
}
.jv-oto-feature-heading h2 {
    font-size: 44px;
    color: #000000;
    font-weight: 800;
    text-align: center;
    padding: 20px 0px 20px;
    width: 100%;
    margin: 0 auto;
}
.jv-oto-feature-heading-design h2{
    background-color: #ffdaaf;
    border-radius: 15px;
}
@media(min-width:768px){
    .jv-oto-feature-heading-design h2{max-width:950px};
}
/*.jv-oto-feature-heading-design h2{*/
/*    max-width: 900px;*/
/*}*/
/* checkout section */
.jv-oto-check-section{
    background-image: url(../images/checkout.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
}
.jv-oto-check-section iframe{
      border-width: 4px;
  border-color: rgb(255, 169, 68);
  border-style: solid;
  border-radius: 20px;
}
.jv_oto_banner_video_section.jv-oto-clickvideo {
    margin-top: 80px;
}
.jv-oto-check-shape {
    position: absolute;
    left: 80px;
    bottom: -91px;
}
.jv-oto-check-inner1 {
    position: relative;
}
.jv-oto-funnel-heading h2 {
    font-size: 44px;
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    background-image: url(../images/pink-border.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0px 0px 40px;
}
.jv-oto-funnel{
    background-image: url(../images/funnel-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
}
.jv-oto-funnel-heading p {
    font-size: 32px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px 70px;
}
.jv-oto-report{
    background-image: url(../images/repost-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
}
.jv-oto-report-heading h2 {
    font-size: 65px;
    color: #ffffff;
    font-weight: 800;
    text-align: center;
}
.jv-oto-report-heading p {
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
    padding: 30px 0px 80px;
    text-align: center;
}
.jv-oto-price2 h2 {
    font-size: 44px;
    color: #000000;
    font-weight: 800;
    text-align: center;
    padding-top: 50px;
}
.jv-oto-price2 p {
    font-size: 22px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
}
.jv-oto-price2 p span{
    color: red;
}
.jv-oto-price-heading {
    text-align: center;
}
.jv-oto-price-heading h2 {
    font-size: 44px;
    color: #000000;
    font-weight: 800;
    text-align: center;
}
.jv-oto-price {
    padding: 80px 0px;
    background-image: url(../images/price-section.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-heading h2 {
    font-size: 65px;
    color: #000000;
    font-weight: 800;
    text-align: center;
}
.contact-heading h3 {
    font-size: 44px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px 30px;
}
.contact-heading h3 u{
    color:#ff163c;
}
.contact-heading p {
    font-size: 22px;
    color: #000000;
    font-weight: 400;
    width: 100%;
    max-width: 820px;
    text-align: center;
    margin: 0 auto 60px;
}
.contact_us {
    padding: 80px 0px;
    background-image: url(../images/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-heading {
    text-align: center;
}

.copywrite-section {
    text-align: center;
    padding: 10px 0px;
    background-color: #f3426c;
}
.copywrite-section p{
    font-size: 18px;
    font-weight: 600;
    color:#ffffff;
}
.jv-header-wrapper {
    padding: 20px 40px;
    background-color: rgb(17, 8, 45);
}
.jv-header-logo img {
    width: 100%;
    max-width: 270px;
}
.jv-goto-bottom-position.jv-position6 {
    margin: 30px 0px 70px;
}
.jv-goto-bottom-position.jv-position7 {
    margin: 50px 0px 100px;
}
.jv-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.jv-menu ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}
.jv-menu ul li a {
    font-size: 20px;
    margin-left: 40px;
    color: #ffffff;
    font-weight: 500;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
}
.jv-menu ul li:hover a{
    border-color: #f3426c;
}
.jv-menu ul li a.red {
 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
height: 56px;
border-radius: 15px;
filter: drop-shadow(-7.071px 7.071px 7.5px rgba(246,82,121,0.15));
background-color: #f3426c;
font-size: 24px;
font-weight: 700;
}
.contact-left1{
    text-align: center;
}
.contact-left1 ul li {
    display: inline-flex;
    text-align: center;
    padding-right: 10px;
}
.contact-left1 ul {
    padding-top: 10px;
}
.jv-menu-btn span {
    display: block;
    width: 28px;
    height: 2px;
    margin-bottom: 4px;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    background-color: #ff3d00;
}
.jv-menu-btn span:nth-child(2) {
    width: 17px;
}
.fl-bhh-toggle {
    opacity: 0;
    visibility: hidden;
}
.pg-overlay {
    position: fixed;
    background: rgb(0 0 0 / 21%);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    cursor: zoom-in;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
@media(max-width:991px){
    .menu-open .jv-sidebar-overlay {
        opacity: 1;
        visibility: visible;
    }
    .jv-oto-section3-inner img {
      top:0;
    }
    .jv-oto-section4-left {
        padding-top: 30px;
    }
    .jv_oro_section4 {
        background-image: none;
        border: none;
    }
    .jv-oto-banner-heading4 {
        max-width: 640px;
        padding: 0px;
    }
    .jv_oto_banner_video_section > iframe {
        height: 330px;
        max-width: 600px;
    }
    .jv-oto-start-date >  h3 {
        font-size: 20px;
    }
    .jv-oto-start-date > h2 {
        font-size: 40px;
    }
    .jv-oto-section-start-ends {
        padding: 29px 60px 29px 60px;
    }
    .jv-oto-form-inner {
       background-image: none;
        background-color: #f4f1ff;
    }
    .jv-oto-section3-inner > p {
        padding-bottom: 50px;
    }
    .jv-oto_feature {
        padding: 80px 0px 40px;
    }
    .contact_us {
        background-image: none;
        background-color: #f7f5ff;
    }
    .jv-menu ul li a {
       margin: 0;
    }
    .jv-menu ul li {
        display: block;
      
    }
    ul.jv-menu-toggle {
        position: fixed;
        left: -300px;
        width: 300px;
        height: 120vh;
        background-color: #1f0d58;
        z-index: 99999;
        top: 0;
        transition: all 0.5s;
    }
    .jv-menu ul li {
        display: block;
        padding: 20px;
    }
    .fl-bhh-toggle {
        opacity: 1;
        visibility: visible;
    }
    .jv-header-logo {
        width: 100%;
        max-width: 150px;
    }
    .menu-open .jv-menu-btn span:nth-child(1) {
        transform: translate(1px, 6px) rotate(-48deg);
    }
    .menu-open .jv-menu-btn span:nth-child(2) {
        opacity: 0;
        visibility: hidden;
    }
    .menu-open .jv-menu-btn span:nth-child(3) {
        transform: translate(1px, -6px) rotate(48deg);
    }
    .menu-open .jv-sidebar-overlay {
        opacity: 1;
        visibility: visible;
    }
    .jv-oto-banner-heading2 {
    text-align: center;
    padding: 0px 20px;
}
.jv-header-wrapper {
    padding: 20px 40px 20px 0;
}
}

@media(max-width:767px){
    .jv_oro_section4 {
       padding-bottom: 0;
    }
    .jv_oro_section4{
        height: 100%;
    }
    
    body.menu-open ul.jv-menu-toggle {
        left: 0;
    }
    a.jv-menu-btn.jv-toggle-btn {
        top: 30px;
        position: absolute;
    }
    .jv-oto-sec04 {
        padding-bottom: 0;
    }
    .jv-oto-featurebox {
        height: 100%;
        margin: 0;
    }
    .jv-gradient-bg {
        background-image: none;
        height: auto;
    }
    .jv-oto-banner-heading4 {
        max-width: 490px;
    }
    .jv_oto_banner_video_section > iframe {
        height: 280px;
        max-width: 490px;
    }
    .jv-oto-video-shape {
        display: none;
    }
    .jv-oto-start-date > h2 {
        font-size: 35px;
    }
    .jv-oto-start-date >  h3 {
        font-size: 15px;
    }.jv-oto-section2 {
        padding: 40px 0 50px;
    }
    .jv-oto-check-shape {
      
        display: none;
    }
}

@media(max-width:580px){
.jv-oto-section-start-ends {
    padding: 29px 0px 29px 0px;
}
.jv-oto-section3-inner > h2 {
    font-size: 45px;
    color: #ffffff;
    font-weight: 800;
    padding-bottom: 50px;
}
.jv-oto-section3-inner > p {
    font-size: 20px;
}
.jv-oto-feature-heading h2 {
    font-size: 30px;
}
.jv-oto-price2 h2 {
    font-size: 30px;
}
.jv-oto-banner-heading1 > h5 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    max-width: 420px;
    text-align: center;
    margin: 0 auto;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    background-color: #832dcc;
}
.jv_oto_main_wrapper {
    background-image: none;
    background-color: #1f0d58;
}
.jv-oto-banner-heading2 > h5 {
    font-size: 31px;
    margin: 35px auto 33px;
    text-align: center;
}
.jv-oto-banner-heading4 > h4 {
    font-size: 30px;
}
.jv-oto-section3 {
    padding: 50px 0px 0px;
}
.jv_oto_main_wrapper {
    padding: 40px 0px 35px;
}
.jv-oto-section-start-ends {
    background-image: none;
    background-color: #4319c9;
}
.jv-oto-section-start-ends{
    display: block;
}
.jv-oto-start-date {
    text-align: center;
    padding-bottom: 30px;
}
.jv-oto-section-start-ends {
    padding-bottom: 0;
}
.jv-oto-section-start-ends {
    margin-bottom: 30px;
}
.jv-oto-section3-inner > h2 {
    padding-bottom: 30px;
}
.jv-oto_feature {
    padding: 50px 0px 0px;
}
.jv-oto-check-section {
    padding: 40px 0px;
}
.jv_oto_banner_video_section.jv-oto-clickvideo {
    margin-top: 40px;
}
.jv-oto-funnel {
    padding: 40px 0px 40px;
}
.jv-oto-funnel-heading p {
    padding: 20px 0px 30px;
}
.jv-oto-price {
    padding: 40px 0px;
}
.jv-oto-price2 h2 {
    font-size: 22px;
}
.jv-oto-price {
    padding: 40px 0px;
    background-color: #dcf8ff;
    background-image: none;
}
.jv-oto-price-heading h2 {
    font-size: 30px;
}
.jv-oto-price2 h2 {
    padding-top: 20px;
}
.contact_us {
    padding: 40px 0px;
}
.contact-heading h2 {
    font-size: 50px;
}
.contact-heading h3 {
    font-size: 30px;
}
.contact-heading p {
    margin: 0 auto 30px;
}
}
@media(max-width:480px){
    .jv-oto-form-inner {
    padding: 50px 30px 10px 30px;
    height: 100%;
}
.jv-oto-section4-left ul li {
    padding-bottom: 18px;
}
.jv-oto-section4-left ul li p {
    font-size: 18px;
    font-weight: 500;
}
.jv-oto-section3-inner > h2 {
    font-size: 40px;
     padding-bottom: 15px;
}
.jv-oto-feature-heading {
    margin-bottom: 30px;
}
.jv_oro_section4 {
   
    margin-bottom: 20px;
}
.jv-oto-section4-left {
    padding-top: 0;
}
.jv-oto-section3-inner > p {
    font-size: 18px;
    font-weight: 500;
}
.jv-oto-featurebox p {
    font-size: 18px;
}

.jv-gradient-bg {
    margin-bottom: 30px;
}
.jv-oto-section3-inner img {
    padding-bottom: 30px;
}
.jv-oto-section4-left {
    padding-top: 30px;
}
.jv-oto-section2 {
    padding: 30px 0 30px;
}
.jv-oto-form-inner {
     padding: 30px 30px 10px 30px;
}
.jv-oto-form-inner1 > h3 {
   padding: 25px 0px 0px;
}
.jv-oto-section3 {
    padding: 20px 0px 0px;
}
.jv-oto-section4-left.left1 {
    padding: 0;
}
.jv-oto-report-heading h2 {
    font-size: 35px;
}
.jv-oto-funnel-heading h2 {
    font-size: 30px;
}
.jv-oto-price {
    padding: 30px 0px;
}
.jv-oto-funnel {
    padding: 30px 0px 40px;
}
.jv-oto_feature {
    padding: 40px 0px 0px;
}
.jv_oto_banner_video_section > iframe {
    height: 280px;
    max-width: 100%;
    overflow: hidden;
}
.jv-oto-report {
    padding: 30px 0px;
}
.contact_us {
    padding: 20px 0px 40px;
}
.contact-heading h2 {
    font-size: 40px;
}
.jv_oto_main_wrapper {
    overflow-x: hidden;
}
}
.earn-size{font-size:28px;}
.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}
.footer-ul li:last-child{
        padding-right: 0px;
    }

@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
        padding-right: 10px;
    }
    
    .footer-section {
        padding: 70px 0px;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}