html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}
.rubik{
    font-family: 'Rubik', sans-serif;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #14142A;
}

.orange-clr {
	color: #F2A736;
}

.orange-clr1{
	color: #E76D24;
}
.red-clr{
	color: #FF3838;
}
.white-clr1 {
    color: #cdcdcd;
}
.underline{border-bottom: 2px solid;}
.orange-gradient{
	background: #F2A736;
	background: linear-gradient(to bottom, #F2A736 0%, #E76D24 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.blue-clr{color: #2447a2;}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

/* Header CSS */

.second-section {
    padding: 0 0 30px 0;
    background: #fff;
}
@media(min-width:768px){
	.second-section {
		padding: 0 0 100px 0;
		background: #fff url(../images/list-section-bg.webp) no-repeat center center;
		background-size: cover;
	}
}
.feature-wrap {
	padding: 0px 15px 30px 15px;
    margin: 0;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgb(0 0 0 / 15%);
    border-radius: 0px 0px 20px 20px;
}

.feature-list {
	background: url(../images/orange-tick.webp) no-repeat;
    background-position: 10px 32px;
    padding: 15px 15px 15px 64px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    background-color: #FFEED6;
    display: flex;
    align-items: center;
    border: 3px solid #FFFFFF;
}

@media(min-width:768px) {
	.feature-wrap {
		padding: 40px 30px 80px 30px;
	}
}

@media(max-width:767px) {
	.feature-list img {
		max-height: 30px;
		margin-top: 5px;
	}
}


.main-header {
	background: #eff5f9 url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 100px 0px;
	position: relative;
}
.main-heading {
    background: transparent;
    background-size: cover;
    padding: 20px;
	position: relative;
}
  .preheadline{
	display: inline-block;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 35px;
    position: relative;
  }

ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
	font-weight: 400;
	color: #ffffff;
}

ul.leader-ul li:hover a {
	transition: 0.5s all ease-in;
	color: #fff !important;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}


.main-header ul.leader-ul li .active {
	transition: 0.5s all ease-in;
	color: #fff;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}

.main-header ul.leader-ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}

a.affiliate-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	color: #ffffff !important;
	font-weight: 600;
	transition: all .3s ease;
    background: #F2A737;
    border-radius: 15px;
}

a.affiliate-link-btn:hover {
	transition: all .3s ease;
    background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}
.gametext {
    background: linear-gradient(180deg, #EF9823 0%, #F0592D 100%);
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -46px;
    line-height: 30px;
    left: 25px;
    transform: skew(-10deg);
    border-radius: 5px;
}
.main-header .key-features-bg {
    padding: 0px 20px 20px;
    position: relative;
    width: 100%;
    text-align: center;
    border-radius: 15px;
}
.main-header .list-head li {
    background: url(../images/fav.webp) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 16px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    list-style-type: none;
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
@media(min-width:768px) {
	a.affiliate-link-btn {
		padding: 15px 25px;
		font-size: 18px;
	}

	.header-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}

	.main-header {
		padding: 40px 0px 100px 0px;
	}
	.gameimg {
		position: absolute;
		top: -61px;
		z-index: 9999;
		left: -8px;
	}
	.main-heading {
		background:  url(../images/heading-design.webp) no-repeat center center;
		background-size: 100% 100%;
		padding: 35px 45px 35px 44px;
	}
	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}

	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}

	ul.leader-ul li {
		display: inline-block;
		padding: 0px 15px;
		font-weight: 400;
		color: #ffffff;
	}

}

@media(min-width:1600px) {
	.header-wrap {
		max-width: 85%;
	}
}

/* Header End */
.step-section {
    padding: 30px 0px;
    background: #EFF5F9;
}
span.under1 {
    border-bottom: 4px solid;
}
.under1 {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(180deg, #EF9823 0%, #F0592D 100%);
    border-image-slice: 1;
}
.orange-gradient {
    background: linear-gradient(180deg, #EF9823 0%, #F0592D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.steps-block {
    position: relative;
    height: 100%;
    padding: 30px;
    background: url(../images/step-steps-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    text-align: center;
}
.cta-section-new {
    background: url(../images/cta-bg.webp) center center no-repeat;
    background-size: cover;
    padding: 30px 0;
    position: relative;
    z-index: 9999;
}
.second-section {
    padding: 30px 0;
    background: url(../images/second-bg.webp) center center no-repeat;
    background-size: cover;
}
.know-list li {
    background: url(../images/check-mark1.webp) no-repeat;
    background-position: 20px 18px;
    padding-left: 46px;
    /* margin-bottom: 20px; */
    list-style-type: none;
    min-height: 26px;
    border-radius: 20px;
    padding: 20px 20px 20px 70px;
    word-break: break-word;
}
.proof-section {
    padding: 30px 0px;
    background: url(../images/proof-bg.webp) center center;
    background-size: cover;
}
.future-section {
    padding: 30px 0px;
    background: url(../images/future-section-bg.webp) no-repeat center center;
    background-size: cover;
}
.demo-text {
    position: relative;
}
.imagine-sec {
    padding: 30px 0px;
    background: #fff;
}
.feature-wrapper {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    gap: 15px;
    text-align: left;
    height: 100%;
    background: #0F2549;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.sep-line {
    background: radial-gradient(965.32% 101.56% at 50% -1.56%, rgba(217, 217, 217, 0) 0%, #D9D9D9 47.92%, rgba(217, 217, 217, 0) 100%);
    width: 2px;
    height: 100%;
}
.presenting-sec {
    padding: 50px 0px 30px 0px;
    background: #fff url(../images/presenting-bg.webp) no-repeat top center;
    background-size: cover;
}
.presenting-head {
    background: #263C7E;
    border-radius: 40px;
    display: inline-block;
    padding: 8px 50px;
}
.caveat {
    font-family: 'Caveat', cursive;
}
@media(min-width:768px){
	.step-section {
		padding: 100px 0px;
	}
	.presenting-sec {
		padding: 100px 0px;
	}
	.feature-wrapper {
		padding: 30px 25px;
		gap: 20px;
	}
	.imagine-sec {
		padding: 100px 0px 50px 0px;
	}
	.steps-icon::after {
		position: absolute;
		content: url(../images/step-arrow.webp);
		top: 8px;
		right: -50px;
	}
	.cta-section-new {
		padding: 80px 0;
	}
	.demo-text:before {
		position: absolute;
		content: url(../images/left-arrow.webp);
		bottom: -45px;
		left: 10px;
	}
	.demo-text:after {
		position: absolute;
		content: url(../images/right-arrow.webp);
		bottom: -45px;
		right: 10px;
	}
	.thunder::after {
		position: absolute;
		content: url(../images/thumder-right.webp);
		right: 120px;
		top: -5px;
	}
	.thunder::before {
		position: absolute;
		content: url(../images/thumder-left.webp);
		left: 120px;
		top: -5px;
	}
	.thunder {
		position: relative;
	}
	.future-section {
		padding: 100px 0px;
	}
	.second-section {
		padding: 100px 0px 80px 0px;
	}
	.proof-section {
		padding: 100px 0px;
	}
}

/* List Section End */
ul.features-list {
    margin: 0px;
    padding: 0px;
}
.jobiin-header-section ul.features-list li {
    background: url(../images/list-head.png) no-repeat;
    padding: 0px 0px 25px 40px;
    background-position: 0px 5px;
    list-style: none;
}
.serve-sec{
	background: url(../images/serve-bg.webp) no-repeat top center;
	background-size: 100% 100%;
	padding: 30px 0px;
}
@media(min-width:768px){
	.serve-sec{padding: 120px 0px 150px 0px;}
}
.this-open-section{
	padding: 30px 0;
}
@media(min-width:768px){
	.this-open-section{
		padding: 100px 0;
	}
}
.usecase-sec{
	padding: 30px 0px;
	background:#111 url(../images/usecase-bg.webp) no-repeat bottom center;
	background-size: 100% 100%;
}
@media(min-width:768px){
	.usecase-sec{padding: 100px 0px;}
}
.reason-list li{
	background: url(../images/s-orange-tick.webp) no-repeat;
    background-position: 0 1px;
    padding-left: 43px;
    margin-bottom: 25px;
    list-style-type: none;
    min-height: 26px;
}
.hello-awesome{
	padding: 30px 0px;
}
.hello-wrap{
	background: url(../images/hello-wrap-bg.webp) no-repeat center center;
	background-size: 100% 100%;
	padding: 20px;
}
@media(min-width:768px){
	.hello-awesome{
		padding: 100px 0px;
	}
	.hello-wrap{padding:0px 80px 80px 80px;}
}
.fellow-marketer{
	color: #FFA829;
    background: #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    border: 5px solid #ffa829;
}
.fellow-box{
	background-color: #fff;
    display: inline-block;
    border-radius: 50px;
    padding: 5px;
    margin-top: -50px;
}


/* Viddeyo Header Section Css Start */
.viddeyo-header-section {
	background: #6e44ff;
	padding: 30px 0px 230px 0px;
}
.viddeyo-preheadline {
    border-style: solid;
    border-width: 6px;
    border-color: #603ddb;
    background: #08041e;
    display: inline-block;
    border-radius: 65px;
    padding: 10px 35px;
}
span.highlight-viddeyo {
    border-bottom: solid 4px #fc6dab;
}

@media (min-width:768px) {
	.viddeyo-header-section {
		background: #6e44ff url(../images/header-bg-viddeyo.webp);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 40px 0px 280px 0px;
	}
    .viddeyo-header-section .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
    .viddeyo-header-section .calendar-wrap {
        border-radius: 15px;
        background-color: rgb(240, 236, 255);
        padding: 10px;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    .viddeyo-header-section .calendar-wrap:before {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve1.webp) no-repeat;
        position: absolute;
        z-index: 1;
        top: -14px;
        left: -18px;
        background-size: contain;
        width: 161px;
        height: 121px;
        z-index: -1;
    }
    .viddeyo-header-section .calendar-wrap-inline {
        border-width: 1px;
        border-color: rgb(11, 11, 49);
        border-style: solid;
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        color: #08041e;
    }
    .viddeyo-header-section .calendar-wrap:after {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve2.webp) no-repeat;
        position: absolute;
        z-index: 1;
        right: -18px;
        bottom: -10px;
        background-size: contain;
        width: 282px;
        height: 38px;
        z-index: -1;
    }
    .viddeyo-header-section .list-head {
        list-style: none;
    }
    .viddeyo-header-section  .list-head li:first-child {
        padding-top: 0px;
    }
    .viddeyo-header-section  .list-head li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/list-tick.webp) no-repeat;
        padding: 8px 0px 8px 30px;
        background-position: 0px 11px;
        text-align: left;
        border-bottom: solid 1px rgb(11, 11, 49);
    }
}
/* Header Section Css End */
.viddeyo-second-section {
	padding:0px 0px 30px 0px;
}
ul.viddeyo-features-list {
	margin:0px;
	padding:0px;
}
ul.viddeyo-features-list li {
	background: url(../images/green-tick.webp) no-repeat;
	padding: 0px 0px 20px 45px;
	background-position: 0px 3px;
	list-style:none;
}
ul.viddeyo-features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}
.viddeyo-header-list-block {
	border-radius: 20px;
	padding: 40px 20px;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	margin-top: -200px;
	background:url(https://cdn.oppyo.com/launches/viddeyo/jv/awesome-shape.png) no-repeat center center;
	background-size:cover;
	
}
/* Viddeyo Header Section Css End */

/* Affiliate Ninja Pro Header Section Css Start */
.AffiliateNinjaPro-banner{
   background:url(../images/affiliateninjapro-bg.webp) #0570fb no-repeat; 
   background-size:cover;
   width:100%;
   background-position:center;
   }

@media(min-width:240px){
	.AffiliateNinjaPro-banner{padding:3% 2% 6%;}
}
@media(min-width:768px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
	.banner-block{padding:1% 3% 3%;}
}
@media(min-width:992px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
}
@media(min-width:1200px){
	.AffiliateNinjaPro-banner{padding:2% 2% 6%;}
}
@media(min-width:1500px){
	.AffiliateNinjaPro-banner{padding:6% 2% 7%;}
	.banner-block{padding:2% 3% 3%;}
}
.lightcolor {
    color: #ffea00;
}

/* Affiliate Ninja Pro Header Section Css End */

@media(min-width:768px){
.px-md80{padding-left: 80px!important; padding-right: 80px !important;}
}

/* Jobin Header Section Css Start */

.jobiin-header-section {
    background: #141516 url(../images/header-bg-jobin.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 230px 0px;
    position: relative;
}
.jobiin-header-section .orange-clr {
    color: #ffb80f;
}
@media(min-width:768px) {
    .jobiin-header-section {
        padding: 40px 0px 250px 0px;
    }
}

.jobiin-header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.jobiin-header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.jobiin-header-section a.affiliate-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    line-height: normal;
    color: #000000;
    font-weight: 600;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
}

.jobiin-header-section a.affiliate-link-btn:hover {
    transform: scale(1.05);
    transition: all .3s ease;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #c4a300;
    }
    40% {
        box-shadow: 0 0 20px #c4a300;
    }
    60% {
        box-shadow: 0 0 20px #c4a300;
    }
    100% {
        box-shadow: 0 0 -10px #c4a300;
    }
}

@media(min-width:768px) {
    .jobiin-header-section a.affiliate-link-btn {
        padding: 10px 20px;
        font-size: 22px;
    }
}

.jobiin-header-section .headline-highlight {
    color: #ffb80f;
}

@media (min-width: 768px) {
    .jobiin-header-section .headline-highlight {
        background: url(https://cdn.oppyo.com/launches/jobiin/special/heading-shape.svg) no-repeat center center;
        background-size: cover;
        display: inline-block;
        color: #000000;
        padding: 8px 53px 8px 26px;
    }
}


.jobiin-second-section {
    padding: 0px 0px 30px 0px;
}

@media(min-width:768px) {
    .jobiin-second-section {
        padding: 0px 0px 100px 0px;
    }
}

.z-index-9 {
    z-index: 9;
}

.jobiin-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin-top: -200px;
    background: #ffffff;
}

@media(min-width:768px) {
    .jobiin-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    }
}

.jobiin-cta-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 5px;
    color: #000000;
    font-weight: 800;
    font-size: 20px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
    transition: all 0.5s;
}

.jobiin-cta-btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

@media(min-width:768px) {
    .jobiin-cta-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
        display: inline-block;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
.viddeyo-header-section .border-video {
    border-radius: 20px;
}
.viddeyo-header-section .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.calendar-wrap {
    border-radius: 15px;
    background-color: rgba(11, 28, 55, 0.5);
    padding: 12px 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}



/* Writer-Header-Section  Css Start */
.writer-header-section {
	background: url(../images/writerarc-header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 30px 0px;
}

.writer-header-section .blue-clr1 {
    color: #b8b8f8;
}

.writer-header-section .post-headline {
	border: 1px solid rgb(22, 22, 88);
	border-radius: 10px;
	background-color: rgb(3, 3, 35);
	padding: 15px;	  
	display: inline-block;
}

.writer-header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.writer-header-section ul.leader-ul li {
	display: inline-flex;
	padding: 0px 5px;
}

.writer-header-section ul.leader-ul li a {
	color: #ffffff;
}

.writer-header-section .affiliate-link-btn a {
	background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 15px;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #ffffff !important;
	font-weight: 600;
	position: relative;
    overflow: hidden;
}

.writer-header-section .affiliate-link-btn a::before {
    position: absolute;
    width: 100%;
    height: 34px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}

.writer-header-section .list-head {
	list-style: none;
}

.writer-header-section .list-head li {
	background: url(../images/writerarc-correct-tick.webp) no-repeat;
    padding: 0px 0px 10px 50px;
    background-position: 0px 5px;
    text-align: left;
}

.writer-header-section .list-head li:last-child {
	border-bottom: none;
}

@media (min-width:768px) {
	.writer-header-section {		
		padding: 40px 0px 100px 0px;
	}

	.writer-header-section ul.leader-ul {
		margin-top: 12px;
	}

	.writer-header-section .affiliate-link-btn a {
		padding: 12px 25px;
		font-size: 20px;
	}

	.writer-header-section .affiliate-link-btn a:hover {
		transition: all .3s ease;
    	background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
	}
	.writer-header-section .min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}
	.writer-header-section .min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}
}

/*WriterArc Header Section Css End */

.maxdrive-logo{padding: 30px 0px;}
.maxdrive-header-section{    
	background: #000;
    padding: 30px 15px;
}
.maxdrive-header-section .game-changer {
    background: #ff3c00;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    max-width: 248px;
}
.maxdrive-header-section .heading-co-bg {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgb(19 22 38 / 20%);
}
.maxdrive-header-section .list-head li::nth-child(2){ background-color: pink;}

@media (min-width: 768px){
	.maxdrive-header-section{    
		background: #ffffff url(../images/maxdrive-header-bg.png) no-repeat center center;
		background-size: cover;
		padding: 55px 0px 100px;
	}
	.maxdrive-header-section .heading-co-bg {
		position: relative;
		padding: 25px 25px 20px;
		transform: skew(-7deg);
	}
}

.agencies-header-section{
	background: #3c0f97;
    padding: 30px 0px;
}

.agencies-header-section .header-bordered-list li {
    list-style: none;
    background: url(../images/agencies-list-icon-image11.png) no-repeat;
    background-position: 0 7px;
    padding: 0 0 12px 25px;
    border-bottom: 1px solid #6923f5;
    margin-top: 12px;
}
.agencies-header-section .highlihgt-heading {
    background: #400ba9;
    padding: 15px 12px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: inline-block;
}
.agencies-header-section .game-changer {
    background: #84f845;
    padding: 12px 30px;
    display: inline-block;
}
.agencies-header-section .green-clr {
    color: #84f845;
}

@media(min-width:768px){
	.agencies-header-section{
		background: #ffffff url(../images/agencies-header-bg.png) no-repeat center bottom;
		background-size: cover;
		padding: 50px 0px 160px;
	}
	.agencies-header-section .game-changer {
		padding: 13px 43px;
		transform: skew(20deg);
		max-width: 340px;
	}
	.agencies-header-section .highlihgt-heading {
		padding: 40px 20px 50px;
		background: url(../images/agencies-heading-bg.png) no-repeat center center;
		box-shadow: none;
		background-size: 100% 100%;
		border: 0px;
		border-radius: 0px;
	}
	.agencies-header-section .text-roated {
		transform: skew(-20deg);
	}
	.agencies-header-section .min-sm-video-width-left {
		width: 61%;
	}
	.agencies-header-section .min-sm-video-width-right {
		width: 39%;
	}
}

.analyzer-sec {
	padding: 30px 0px;
	background: #ffffff;
}

.analyzer-sec {
	background: url(../images/demo-bg.webp) no-repeat center center;
	background-size: cover;
}

.analyzer-sec #oppyo-ada-compliance-checker {
	background: #165FCF url(../images/web-form-bg.webp) no-repeat center center !important;
	background-size: cover !important;
	padding: 30px 30px !important;
}

.analyzer-sec #oppyo_website_url {
	height: 50px !important;
	font-weight: 500 !important;
	font-size: 20px !important;
	border-radius: 100px !important;
}

.analyzer-sec #oppyo_checker_btn {
	background-color: #FFA829 !important;
	font-weight: 600 !important;
	font-size: 20px !important;
	border-radius: 100px !important;
}

@media(min-width:768px) {
	.analyzer-sec {
		padding: 50px 0px 100px 0px;
		background: url(../images/analyzer-sec-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.analyzer-sec #oppyo-ada-compliance-checker {
		padding: 30px 110px !important;
		border-radius: 12px;
		text-align: center;
		max-width: initial !important;
		width: 100%;
		margin: 0 auto;
	}
}

/* Compliance Section Start */
.compliance-sec {
	padding: 30px 0px;
	background: #F4F6FD;
}

.compliance-block {
	background: #2471FF;
	border-radius: 22px 22px 20px 20px;
	box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.06);
}

.compliance-title {
	background: #FFFFFF;
	border-radius: 20px 20px 0px 0px;
	padding: 20px;
}

.compliance-image {
	padding: 20px;
}

@media(min-width:768px) {
	.compliance-sec {
		padding: 50px 0px 100px 0px;
		background: url(../images/compliance-sec-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.compliance-title {
		padding: 40px 20px;
	}

	.compliance-image {
		padding: 40px 20px;
	}
}

/* Compliance Section End */

/* Stats Section Start */
.stats-sec {
	padding: 30px 0px;
}

.stats-wrap {
	padding: 30px 0px;
	max-width: 95%;
	margin: 0px auto;
	border-radius: 15px;
	background: #0B1C37;
}

@media(min-width:768px) {
	.stats-sec {
		padding: 100px 0px 0px 0px;
	}

	.stats-wrap {
		padding: 100px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		background: url(../images/stats-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
}

@media(min-width:1600px) {
	.stats-wrap {
		max-width: 85%;
	}
}

/* Stats Section End */

/* Giants  ance Section Start */
.giants-sec {
	padding: 30px 0px;
	background: #fff;
}

.underline {
	border-bottom: 4px solid #FFA829;
	padding-bottom: 5px;
}

@media(min-width:768px) {
	.giants-sec {
		padding: 100px 0px;
	}
}

/* Giants  Section End */