html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}

.yellow-clr,
a.yellow-clr {
    color: #fff600;
    text-decoration: none;
}

.black-clr,
a.black-clr {
    color: #000000;
}

.white-clr,
a.white-clr {
    color: #ffffff;
}

.clear {
    clear: both;
}
span.under {
    border-bottom: 4px solid;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

/* Header Section Css Start */

.header-section {
	background: rgb(9,20,120);
	background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
	background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
	padding: 30px 0 30px 0px;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.affiliate-link-btn a {
	color: #ffffff;
	background: rgb(245, 124, 37);
	text-align: center;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	padding: 10px 10px 5px 10px;
	border-radius: 5px;
}

.key-features-bg {
    padding: 15px;
    position: relative;
    width: 100%;
    text-align: center;
    background:rgba(0,0,0,0.3);
	border-radius:10px;
}

.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/tick.webp) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 13px;
    text-align: left;
  
}

.list-head li:last-child {
    border-bottom: 0px;
}

.pre-heading {
    background: #ced0e2;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}
.skew-con {
    transform: skew(5deg);
}
.gap20 {
    gap: 20px;
}
@media (min-width:768px) {
    .header-section {
        background: #091274 url(../images/header-bg.png) no-repeat center center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }
	.skew-con {
        transform: skew(10deg);
    }
	.key-features-bg {
        padding:25px;
    }
    .pre-heading {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
    .affiliate-link-btn a {
		border-radius: 5px;
		text-decoration: none;
		text-align: center;
		display: block;
		padding:14px 12px 11px 12px;
		font-size: 20px;
		line-height: 100%;
		color: #ffffff;
		font-weight: 600;
		background: rgb(245, 124, 37);
		border-style: solid;
		border-width: 1px;
		border-color: rgb(255, 255, 255);
    }
    .affiliate-link-btn a:hover {
        background: #fa9045;
        color: #ffffff;
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
}

/* Header Section Css End */


/* CTA Section End*/

a.cta-link-btn {
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    background-color: rgb(245, 124, 37);
}


a.cta-link-btn:hover {
	    background: #fa9045;
    text-decoration: none;
}

@media (min-width: 768px) {
    a.cta-link-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
}


/* CTA Section End*/


/* CTA Section Start */

.cta-section-white {
     background: #030210 url(../images/cta-sec.png) no-repeat center center;
    padding: 30px 0 30px 0px;
	background-size: cover;
}

@media (min-width: 768px) {
    .cta-section-white {
        background: #030210 url(../images/cta-sec.png) no-repeat center center;
        background-size: cover;
        padding: 70px 0px;
    }
}

/* CTA Section End */

/* App Suite Section Start */

.ul-tick-icon1 li {
    list-style: none;
    background: url(../images/tick-icon.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0px 15px 39px;
    display: inline-block;
}	
.awform-section {
    background: #ffffff;
    padding: 30px 0px;
}
.formbg {
    position: relative;
    padding: 15px;
    border-radius: 10px;
    background-color: #edebf0;
    border: dashed 1px #000000;
    padding: 15px;
}
@media (min-width: 768px){
    .ul-tick-icon1 li {
    padding: 0 39px 10px 39px;
    }
    .awform-section {
        padding: 70px 0px;
    }
    .formbg {
        padding: 40px 15px;
    }
    .width-form {
        width: 30%;
        padding: 0px 5px !important;
    }
    #af-form-1918062266 .af-body {
        display: flex;
        align-items: center;
    }
    .register-btn1 {
        width: 40%;
    }
}
/* App Suite Section End */


/* Footer Section Start */

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 70px 0px;
    }
}

/* Footer Section End */
