body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
	    overflow-x: hidden;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
.orange-clr{
	color:#ffa25b;
}

.gradient-clr {
background: #5425F5;
background: linear-gradient(to right, #5425F5 30%, #f53789 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


/* Header Section CSS */

.header-section {
    background: #6e44ff;
    padding: 30px 0;
}
.preheadline {
    border-style: solid;
    border-width: 6px;
    border-color: #603ddb;
    background: #08041e;
    display: inline-block;
    border-radius: 65px;
    padding: 10px 35px;
}
span.highlight {
    border-bottom: solid 4px #fc6dab;
}
.fifth-section {
	background: url(https://cdn.oppyo.com/launches/viddeyo/lite/proudlybg.webp) no-repeat top center;
	background-size: cover;
	padding: 50px 0 30px 0px;
}

.limitless-section {
    background: #ffffff;
    padding: 2% 0 3%;
}

.feature-tick li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/lite/tick-icon.webp) no-repeat;
    padding: 20px 0px 0px 42px;
    background-position: 1px 27px;
    list-style: none;
}

.content-mbl-space {
    background: #ffffff;
    padding: 30px 0px;
}

.unfair-section {
    background: #edebf0;
    padding: 30px 0px 30px 0px;
}

.but-design {
    background: url(https://cdn.oppyo.com/launches/viddeyo/lite/butthats-not-all.webp);
    padding: 20px 40px;
    display: inline-block;
    border-top: hidden;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

span.under {
    border-bottom: 4px solid;
}

@media(min-width:768px) {
    .but-design {
        padding: 40px 50px 36px 51px;
        background: url(https://cdn.oppyo.com/launches/viddeyo/lite/butthats-not-all.webp);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% 100%;
        border: hidden;
    }
    .unfair-section {
        background: #edebf0 url(https://cdn.oppyo.com/launches/viddeyo/lite/orange-section-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
    .header-section {
         background: #6e44ff url(https://cdn.oppyo.com/launches/viddeyo/lite/header-bg.webp);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 40px 0px 100px;
    }
    .fifth-section {
        padding:100px 0px;
    }
}

.logo-height {
    max-height: 45px;
}

.white-clr {
    color: #ffffff;
}

.white-blue {
    color: #70abff;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}

.affiliate-link-btn a {
    border-radius: 45px;
    background-color: #f8e71c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    padding: 9px 33px;
    font-size: 16px;
    color: #050b23;
    font-weight: 800;
}

.affiliate-link-btn a:hover {
    background: #decf18;
}

.popup-btn a:hover,
.popup-btn input[type="submit"]:hover,
.af-btn a:hover {
    background: #4f5db5;
}

.highlihgt-heading {
	position: relative;
	padding: 10px 5px;
	display: inline-block;
	color: #f7d309;
	border-radius: 7px;
	background-color: rgb(0, 0, 0);
	transform: skew(-10deg);
}
.highlihgt-heading span {
    transform: skew(10deg);
    display: inline-block;
}
.second-section {
    padding:0px 0px 30px 0px;
    background: #ffffff;
}

.second-section1 {
    padding: 30px 0px;
    background: #efedf7;
}

.date-section-bg {
    background: url(https://cdn.oppyo.com/launches/viddeyo/lite/date-bg-image.webp) no-repeat center center;
    background-size: contain;
}

.xstext-center {
    text-align: center;
}

.formbg {
    padding: 20px;
}

.header-list-block {
    border-radius:0px 0px 20px 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}

@media(min-width:768px) {
    .second-section {
        padding:0px 0px 80px 0px;
        background: #fff url(https://cdn.oppyo.com/launches/viddeyo/lite/second-sec-bg.webp) no-repeat;
        background-position: center center;
		overflow:hidden;
    }
    .second-section1 {
        padding: 100px 0px;
        background: #efedf7;
    }
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
    .header-list-block {
        padding: 40px 30px;
    }
}

.formbg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.form-control.input-field {
    border-width: 1px;
    border-color: rgb(164, 164, 164);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 12px;
}

::-webkit-input-placeholder {
    color: #797979 !important;
}

::-moz-placeholder {
    color: #797979 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

:-moz-placeholder {
    color: #797979 !important;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 5px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 13px 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 0;
    outline: none;
}

.xscenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pre-box {
    border-radius: 10px;
    padding: 5%;
}

.af-box {
    padding: 8% 3%;
}

.pl-shape,
.l-shape,
.af-shape,
.af-dots {
    display: none;
}

@media(min-width:768px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .form-control.input-field {
        height: 58px;
    }
    .pre-box {
        border-radius: 50px;
        padding: 3% 0;
    }
    .af-box {
        padding: 5%;
    }
    .pfbox {
        height: 185px;
    }
    .pl-shape,
    .l-shape,
    .af-shape,
    .af-dots {
        display: block;
        position: relative;
        z-index: 1;
    }
    .pl-shape img {
        position: absolute;
        top: -18px;
        right: 18px;
        z-index: 1;
    }
    .l-shape img {
        position: absolute;
        bottom: -65px;
        left: 25px;
        z-index: 1;
    }
    .af-shape img {
        position: absolute;
        bottom: -44px;
        right: 35px;
        z-index: 1;
        height: 160px;
    }
    .af-dots img {
        position: absolute;
        top: -10px;
        left: 60px;
        z-index: 1;
    }
}

.form-shape {
    position: relative;
    z-index: 1;
}

.form-shape img {
    position: absolute;
    top: -40px;
    left: -41px;
    z-index: -1;
}

.relative {
    position: relative;
}

.third-section {
    padding: 30px 0;
    background: #ffffff;
}

.prdly-pres {
    background: url(https://cdn.oppyo.com/launches/viddeyo/lite/prdly-pres.webp) no-repeat top center;
    background-size: 100% 100%;
    padding: 15px 50px 30px 50px;
    display: inline-block;
}

@media (min-width: 768px) {
    .third-section {
        padding: 100px 0;
        background: url(https://cdn.oppyo.com/launches/viddeyo/lite/white-section-bg.webp);
        background-position: center center;
    }
    .prdly-pres {
        background: url(https://cdn.oppyo.com/launches/viddeyo/lite/prdly-pres.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 41px 100px 76px 100px;
    }
}

.kapblue {
    color: #0063eb;
}

.blue-clr {
    color: #6e44ff;
}

.pre-box {
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.h-line {
    background-color: rgb(206, 212, 216);
    height: 2px;
    width: 100%;
}

.pl-tick li {
    background: url("https://cdn.oppyo.com/launches/viddeyo/lite/pl-tick.webp") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.l-tick li {
    background: url("https://cdn.oppyo.com/launches/viddeyo/lite/l-tick.webp") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.xs-max-height165 {
    max-height: 165px;
}

@media(max-width:767px) {
    .limitless-section {
        background: #ffffff;
        padding: 2% 0;
    }
    .content-mbl-space {
        background: #ffffff;
        padding: 30px 0px;
    }
    .plxs0 {
        padding-left: 0;
    }
	.bonus-size {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
}

@media(min-width:767px) {
    .xs-max-height165 {
        max-height: 100%;
    }
}

.fourth-section {
    background: #fff;
    padding: 0;
}

.af-box {
    border-radius: 25px;
    background-color: rgb(239, 243, 246);
}

.pfbox {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
    padding: 30px 20px;
}

.af-btn a {
    border-radius: 30px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 10px 10px;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.leader-ul li a,
.leader-ul li a:hover,
.leader-ul li a:focus {
    text-decoration: none;
}

.sixth-section {
    background: #eff3f6 url("https://cdn.oppyo.com/launches/viddeyo/lite/wave-dots.webp") no-repeat center center;
    background-size: cover;
    padding: 3% 0 5%;
}

.seventh-section1 {
    background: #eff3f6;
    padding: 3% 0 5%;
}

a.alink,
a.alink:hover,
a.alink:focus {
    text-decoration: none;
    color: #5c6ac4;
}

.seventh-section {
    background: url("https://cdn.oppyo.com/launches/viddeyo/lite/dot-shape.webp") no-repeat center center;
    padding: 5% 0;
}

.lightcolor {
    color: #deff00;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.feature-section {
    background: #fff url(https://cdn.oppyo.com/launches/viddeyo/lite/feature-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section {
    background: #eff3f6 url(https://cdn.oppyo.com/launches/viddeyo/lite/software-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section img {
    max-height: 141px;
}

.leaderboard-section {
    background: #eff3f6 url(https://cdn.oppyo.com/launches/viddeyo/lite/leaderboard-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.contact-section {
    background: #fff url(https://cdn.oppyo.com/launches/viddeyo/lite/contact-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.prize-section {
    background: #22103b;
    background-size: cover;
    padding: 4% 0;
}

.funnel-section {
    background: #eff3f6 url(https://cdn.oppyo.com/launches/viddeyo/lite/funnel-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.theme-clr {
    color: #224cb0;
}

.clear {
    clear: both;
}

.white-section {
    background: #ffffff;
    padding: 30px 0px;
}

.goodreason-section {
    background: #ecebeb;
    padding: 30px 0;
}

.feature-18 {
    padding: 30px 0;
    background: #200664;
}

.vendor-section {
    background: #fff url(https://cdn.oppyo.com/launches/viddeyo/lite/dots.webp) no-repeat right center;
    padding: 4% 0;
}

.name-box {
    background: #5c6ac4;
    padding: 0px 30px;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.green-clr {
    color: #00ff84;
}

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}

.xscenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.xs-text-center,
.xs-text-center1 {
    text-align: center;
}

@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}

.bottom-icon img {
    position: fixed;
    bottom: 0;
    right: 8px;
    z-index: 999
}

.vidborder {
    border: 2px solid #9a9a9a;
}

a.link-text {
    color: #000;
    text-decoration: none;
}

.probtn1 a,
.probtn a {
	border-radius: 6px;
	background-color: rgb(252, 109, 171);
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 140%;
}

.probtn1 a:hover,
.probtn a:hover {
    background:#f2579a;
    color: #ffffff;
}


/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    border: 1px solid #6036ef;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    border: 1px solid #e7e7e7;
    width: 100%;
    float: left;
    background: #272f63;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/lite/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px 15px 10px;
}

ul.grey-tick-last li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/lite/grey-tick-last.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 28px;
    line-height: 150%;
    border-bottom: 1px solid #090e2d;
    color: #ffffff;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

ul.vgreentick li {
    background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/lite/vgreentick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 25px;
    line-height: 150%;
    color: #000;
}

.tbbg2-text {
    color: #fff;
}

.tbbg2 {
    background:#6036ef;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tbbg3 {
    background: url(https://cdn.oppyo.com/launches/viddeyo/lite/plan2.webp) no-repeat center top;
    padding: 30px 15px 57px;
    background-size: 100% 100%;
}

.bought-text {
    background: #ffeb09;
    padding: 8px 10px;
}

.lightcolor {
    color: #eaab26;
}

@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
    ul.grey-tick-last li {
        padding: 20px 10px 20px 40px;
    }
    .mt-sm-170 {
        margin-top: 170px
    }
    .mt-sm-90 {
        margin-top: 90px
    }
    .probtn a {
        font-size: 38px;
        padding: 28px 30px;
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 60px;
    }
}

.buypad {
    padding: 4% 3%;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}

.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.ribbonimg {
    position: absolute;
    top: 100px;
    right: 0px;
    height: 50px;
}

.xs-height125 {
    height: 125px;
}

.xs-height50 {
    height: 55px;
}

.ribbonimg {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 90px;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #6e44ff;
}

.option-tick li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/lite/vgreytick.webp) no-repeat;
    background-position: 0 6px;
    list-style: none;
    padding: 0 0 20px 30px;
}

@media(min-width:768px) {
    .highlihgt-heading {
		position: relative;
		padding: 15px 20px;
}
    .rotate-5 {
        transform: skew(7deg);
    }
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    }
}


/*Table CSS Enad*/

.grey-section {
    background: #efedf7;
    padding: 30px 0;
}

.moneyback-section {
	background: #08041e url(https://cdn.oppyo.com/launches/viddeyo/lite/moneyback-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0;
}

.license-section {
    background: #fae4c9 url(https://cdn.oppyo.com/launches/viddeyo/lite/proudlybg.webp) no-repeat center center;
    background-size: cover;
    padding: 5% 0;
}

.bonus-section {
	background: url(https://cdn.oppyo.com/launches/viddeyo/lite/bonus-bg.webp) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}

.table-section {
    background: #ffffff;
    padding: 30px 0;
}
.converting-shape {
    background-color: #ffb703;
    padding: 10px 30px;
    display: inline-block;
    border: 2px dashed #020d13;
    line-height: 30px;
	 border-radius: 65px;
}
@media (min-width:768px) {
		.converting-shape {
    padding: 15px 40px 15px 40px;
    line-height: 100%;
}
    .table-section {
        padding:100px 0px;
        background: url(https://cdn.oppyo.com/launches/viddeyo/lite/table-bg.webp) no-repeat;
        background-position: center center;
    }
    .bonus-section {
	padding:70px 0px;
    }
    .moneyback-section {

	padding: 70px 0px;
    }
    .license-section {
        background: #fae4c9 url(https://cdn.oppyo.com/launches/viddeyo/lite/proudlybg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
    .mt-sm240 {
        margin-top: 240px;
    }
    .mt-sm0 {
        margin-top: 0px !important;
    }
}

.bonus-count {
    background: #5c6ac4;
    display: inline-block;
    padding: 10px 29px;
    border-radius: 15px;
}

.grey-clr {
    color: #d6d6d6;
}

.promo-icon {
    position: absolute;
    left: 15px;
    top: -20px;
    display: none;
}

.promo-icon1 {
    position: absolute;
    left: 15px;
    top: -20px;
    display: block;
}


/*-------- Responsive ------------*/

@media (min-width:768px) {
    .promo-icon1 {
        position: absolute;
        left: 0px;
        top: -20px;
        display: block;
    }
    .promo-icon {
        position: absolute;
        left: 0px;
        top: -60px;
        display: block;
    }
    .white-section {
        padding: 100px 0;
    }
    .goodreason-section {
        background: #ecebeb url(https://cdn.oppyo.com/launches/viddeyo/lite/orange-section-bg.webp) no-repeat;
        background-position: center center;
        padding: 100px 0;
    }
    .feature-18 {
        padding: 100px 0 130px;
        background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/lite/feature18-bg.webp) no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
    .third-section {
        padding: 100px 0;
    }
    .grey-section {
        padding: 100px 0;
    }
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

.black-design {
    background: #ff6a3d;
    padding: 15px 30px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block
}

.black-design .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}

@media (min-width: 768px) {
    .black-design {
        padding: 15px 60px;
    }
}

.red-clr,
a.red-clr {
    color: #ff3c00;
}

.post-heading {
    background: #ffffff;
    padding: 10px;
    display: inline-block;
    transform: skew(-10deg);
}

.post-heading span {
    transform: skew(10deg);
    display: inline-block;
}

.blue-head {
    color: #6e44ff;
}

.orange-clr {
    color: #f57c25;
}

ul.template-lists {
    padding: 0px 0px;
}

ul.template-lists li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/lite/launch-tick-blue.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 10px 15px 40px;
    background-position: 0px 18px;
    line-height: 150%;
    color: #000;
}

@media(min-width:768px) {
    .post-heading {
        padding: 10px 20px;
        transform: skew(-25deg);
    }
    .post-heading span {
        transform: skew(25deg);
        display: inline-block;
    }
    ul.template-list li {}
}

@media (min-width: 768px) {
    .pad1 {
        padding-left: 0;
        padding-right: 10px;
    }
    .pad2 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}