html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #121733;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
}

.caveat{
    font-family: 'Caveat', cursive;
}

/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.black-clr {
    color: #121733;
}

/* Proudly there Section Start */

.header-sec {
    padding: 20px 0px;
    background: #0A071E;
}

.tde {
    border-bottom: 2px solid #fff;
    padding: 0px 0px;
    border-top: 2px solid #fff;
    display: inline-flex;
}
.d-btn a {
    display: inline-block;
    background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    border-radius: 10px;
    padding: 12px 35px;
    color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    font-size: 20px;
}
.d-btn a:hover {
    text-decoration: none;
    background: linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
}

.head-design{
    background: #FFFFFF;
    border-radius: 0px 30px;
    padding: 15px;
}

.option-design {
    background: #FF2C2C;
    border: 2px solid #FF2C2C;
    border-radius: 38.5px;
    display: inline-block;
    padding: 8px 10px;
}

@media (min-width: 768px) {
    .header-sec {
        padding: 60px 0px 60px 0px;
        background: #fff url(https://cdn.oppyotest.com/launches/sellero/jv/images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
    }
    .head-design{
        padding: 30px;
    }
    .option-design {
        padding: 8px 30px;
    }
}
/**************Footer Section***********/

.footer-section {
    background: #100f12;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}
.gametext {
    background: #1FE29F;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #121733;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -25px;
    z-index: 99;
    line-height: 30px;
}
@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
    .gametext {
        background: url(../images/cutting-edge-bg.webp) center center no-repeat;
        padding: 10px 60px 15px 20px;
        font-size: 24px;
        background-size: 100% 100%;
        text-align: left;
        left: -6px;
    }
}
.head-design {
    padding: 30px;
}
/* Floating Btn */

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#7764ff;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#E76D24;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

