
.table-wrap {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    /* border: solid 1px #cacaca; */
    overflow: hidden;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
    padding-bottom: 30px;
}

@media(min-width:768px){
    .table-wrap{
        padding-bottom: 100px;
    }
}

.table-head {
    background: url(../images/start-plan-bg.webp) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    padding: 40px 30px 30px 30px;
    text-align: center;
    min-height: 250px;
}

@media (min-width: 768px) {
    .table-head {
        padding: 80px 30px 80px 30px;
        text-align: center;
        min-height: 568px;
    }
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
}

.table-list li {
    background: url(../images/list-head.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    background-position: 20px 25px;
    line-height: 150%;
    text-transform: capitalize;
}

.table-list li.cross-sign {
    background: url(../images/launch-cross.webp) no-repeat !important;
    background-position: 20px 20px !important;
}

.table-list li:nth-child(odd) {
    background-color: #deeaff !important;
}

.table-list li:nth-child(even) {
    background-color: #ffffff;
}

@media (min-width: 768px) {
    .table-list li {
        padding: 20px 15px 20px 57px;
    }
}

.table-list li.headline {
    background: rgb(9, 20, 120) !important;
    background: -moz-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    background: -webkit-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    background: linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1) !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list li:last-child {
    border-bottom: none;
}
@media (min-width:768px) {
    .table-section {
        padding: 70px 0px 70px 0px;
    }
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 70px 0px;
    }
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}
@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}
