
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}
.caveat{
	font-family: 'Caveat', cursive;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #fc8548;
  border-radius: 25px;
}

span.under {
    border-bottom: 2px solid;
}

.yellow-clr {
    color: #FFCD00;
}

.white-clr {
    color: #ffffff;
}

.white-clr2 {
    color: #d8d1d1;
}

.blue-clr {
    color: #01155e;
}
.mtm40{margin-top: -40px;}
.blue-gradient{
    background: var(--Blue-Gradient, linear-gradient(270deg, #16BBFC 0.15%, #0090FF 99.94%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.red-clr {
    color: #ff0f0f;
}

.grey-clr{
    color: #D9D9D9;
}
.light-blue{
    color:#00AAFF;
}
.orange-clr{
    color: #FF813B;
}
.underline {
    border-bottom: 2px solid;
}

.yellow-clr{
    color: #FFFD40;
}

.black-clr {
	color: #031528;
}

a.cta-link-btn{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    border-radius: 10px;
    background: var(--Orange-gradient, linear-gradient(0deg, #ED1C24 10%, #FFCD00 100%));;
}
a.cta-link-btn:hover {
    border-radius: 8px;
    background: var(--Orange-gradient, linear-gradient(0deg, #FFCD00 10%, #ED1C24 100%));;
    color: #ffffff;
}
@media(min-width:768px){
    a.cta-link-btn {
        font-size: 30px;
        padding: 35px 25px;
        display: inline-block;
    }
}
.header-section {
    padding: 30px 0px;
    background: #010517;
    position: relative;
    z-index: 1;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
.clear {
    clear: both;
}
.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}
.steps-section2 {
    background: #f9f9f9;
    padding: 30px 0px;
}
.step-bg {
    display: inline-block;
    padding: 15px 32px 10px 32px;
    border-radius: 0px 3px 3px 0px;
    background-color: #0aabff;
    text-align: center;
}
.steps-blue-border{
    background-color: #fff;
    padding: 20px;
    border: 2px solid #0CA7FD;
    border-radius: 20px;
}
.proudly-section {
    padding: 30px 0px;
    background: #000415;
}
.purple-bg {
    padding: 10px 30px;
    background-image: linear-gradient(90deg, #B956FF 0%, #6E33FF 100%);
    display: inline-block;
    border-radius: 25px;
}
.red-bg{
    border-radius: 10px;
    background: #FF2C2C;
    padding: 5px;
}
@media(min-width:768px){
    .red-bg{
        border-radius: 25px;
        padding: 9px 30px;
        display: inline-block;
    }
}
@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.affiliate-link-btn {
    text-align: center;
}

.affiliate-link-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -webkit-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -ms-linear-gradient(#FFCD00 , #ED1C24);
}

.affiliate-link-btn a:hover {
    border-radius: 8px;
    background-image: -moz-linear-gradient(#ED1C24 , #FFCD00);
    background-image: -webkit-linear-gradient(#ED1C24 , #FFCD00);
    background-image: -ms-linear-gradient(#ED1C24 , #FFCD00);
    color: #ffffff;
}

/* header */
/* Everything Section Starts */
.everything-section{
    background: #000415;
    padding: 30px 0px;
}
.e-box{
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid rgba(255, 176, 176, 0.30);
    background: rgba(255, 0, 0, 0.10);
    backdrop-filter: blur(10px);
    text-align: center;
    height: 100%;
    text-transform: capitalize;
}
.e-box-blue{
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid rgba(33, 150, 243, 0.30);
    background: rgba(0, 148, 255, 0.10);
    backdrop-filter: blur(10px);
    text-align: center;
    height: 100%;
    text-transform: capitalize;
}
@media(min-width:768px) {
    .everything-section{
        background: #000415 url(../images/everything-sec-bg.webp) no-repeat;
        padding: 100px 0px;
        background-size: cover;
        background-attachment: fixed;
    }
    .e-box{
        padding: 30px;
    }
    .e-box-blue{
        padding: 30px;
    }
}
/* Everything Section Ends */


/* Not Just Watching Section Starts  */
.watching-sec{
    background: #011257;
    padding: 30px 0px;
}
.arrows-img{
    position: relative;
}
.arrows-img-left::before{
    content: '';
    display: block;
    background: url("../images/vector-1.webp") no-repeat;
    position: absolute;
    top: 45%;
    left: -48px;
    width: 40px;
    height: 40px;
}
.arrows-img::after {
    content: '';
    display: block;
    background: url("../images/vector.webp") no-repeat;
    position: absolute;
    top: 50%;
    right: -48px;
    width: 40px;
    height: 40px;
}
@media(min-width:768px) {
    .watching-sec{
        background: #011257 url(../images/watching-bg.webp) no-repeat;
        padding: 100px 0px;
        background-size: cover;
    }}

/* Not Just Watching Section Ends  */

/* Pull Off Section Starts */
.pulloff-sec{
    background: #EFF5F9;
    padding: 30px 0px;
}
@media(min-width:768px) {
    .pulloff-sec{
        background: #EFF5F9 url(../images/pull-off-bg.webp) no-repeat;
        padding: 100px 0px;
        background-size: cover;
    }}
/* Pull Off Section Ends */

.social-section {
    padding: 30px 0;
    background: #EFF5F9 ;
    background: url(../images/bg-img.webp) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.social-item {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #16BBFC;
    box-shadow: 0px 4px 25px 0px rgba(0, 148, 255, 0.50);
    margin-top: 50px;
    margin-bottom: 30px;
}
.social-icon{
    width: 150px;
    height: 150px;
    border: 1px solid #16BBFC;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: -100px;
}
@media(min-width:768px) {
    .social-section {
        padding: 100px 0;
        background: #EFF5F9 ;
        background: url(../images/bg-img.webp) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }}
/* section-2 */

    /* Capability Section */

    .capability-sec{
        padding: 30px 0px;
        background: url(../images/capability-bg.webp) no-repeat center center;
        background-size: cover;
    }

    @media(min-width:768px){
        .capability-sec{
            padding: 100px 0px;
        }
        .orange-line{
            position: relative;
        }
        
        .orange-line::after{
            content: url('../images/line.webp');
            position: absolute;
            bottom: -25px;
            right: 0;
        }
    }

    .dfy-section{
        padding: 30px 0px;
        background: #223298;
    }
    
    @media(min-width:768px){
        .dfy-section{
            padding: 100px 0px;
            background: url(../images/dfy-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }

    .newbie-section{
        padding: 30px 0px;
        background: #eff5f9;
    }
    @media(min-width:768px){
        .newbie-section{
            padding: 100px 0px;
            background: url(../images/newbie-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }

/************** Another Way Section ************/
.another-way-section{
	background: rgba(27, 69, 180, 1);
    padding: 30px 15px;
}
.imagine-box{
	background-color: #fff;
	border-radius: 15px;
	border: 2px solid #16BBFC;
	padding: 30px 20px;
}

.clicks-box{
	border-radius: 12px;
	border: 2px solid #FF2C2C;
	padding: 5px 20px;
	display: inline-block;
}
@media (min-width: 768px){
	.another-way-section {
		background: url(../images/another-way-section.webp) no-repeat bottom center;
		background-size: cover;
		padding: 100px 0px;
	}
	.imagine-box{
		border-radius: 25px;
		padding: 20px;
	}
	.arrow-down-2{
		position: relative;
		display: inline-block;
	}
	.arrow-down-2::after{
		position: absolute;
		top: -35px;
    	right: 194px;
		content: url(../images/arrow-down-2.webp);
	}
	.arrow-down-3{
		position: relative;
		display: inline-block;
	}
	.arrow-down-3::after{
		position: absolute;
		top: -87px;
    	left: 106px;
		content: url(../images/arrow-down-3.webp);
	}
	.click{
		position: relative;
		display: inline-block;
	}
	.click::after{
		position: absolute;
		top: 36px;
    	left: 417px;
		content: url(../images/click-symbol.webp);
	}}



/* Reel Section Start */

.mp4-border{
    border-radius:15px;
    box-shadow: 0 1px 18px 1px #808080;
}
@media (min-width: 768px) {

    .mt-md-90{
        margin-top: -90px;
    }
    .mt-md-50{
        margin-top: -50px;
    }
}

/* Reel Section End */

/*********** Work For You Section ***********/
.workforyou-section{
    padding: 30px 0px;
}
.done-text {
    color: #000;
    padding: 12px 2px 2px 70px;
    position: relative;
    display: inline-block;
    align-items: center;
}
.done-text::before{
	position: absolute;
	top: 0px;
	left: -60px;
	content: url(../images/thumbsup.webp);
}
@media (min-width: 768px){
	.workforyou-section {
		background: url(../images/work-for-you-bg.webp) no-repeat top center;
		background-size: cover;
		padding: 100px 0px;
	}
	.proof-arrow{
		position: relative;
		display: inline-block;
	}
	.proof-arrow::after{
		position: absolute;
		top: -48px;
    	right: 106px;
		content: url(../images/proof-arrow.webp);
	}}

	/********Got You Covered Section ********/
	.got-you-covered-section{
		background: #EFF5F9;
		padding: 30px 0px;
	}
	@media (min-width: 768px){
		.got-you-covered-section {
			background: url(../images/got-you-covered-bg.webp) no-repeat center bottom;
			background-size: cover;
			padding: 100px 0px;
		}}

	/********With Few Clicks Section ********/
	.with-few-clicks-section{
		background: #EFF5F9;
		padding: 30px 0px;
	}
	@media (min-width: 768px){
		.with-few-clicks-section {
			background: url(../images/with-few-clicks-bg.webp) no-repeat center bottom;
			background-size: cover;
			padding: 100px 0px;
		}}


    /* Goodbye section */
    .goodbye-section{
        background: #EFF5F9;
        padding: 30px 0px;
    }
    @media (min-width: 768px){
    .goodbye-section {
        background: url(../images/goodbye-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px;
    }}



     /* Works section */
    .works-section{
        background: #EFF5F9;
        padding: 30px 0px;
    }
    @media (min-width: 768px){
    .works-section {
        background: url(../images/works-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px;
    }}

    /* Different section */
       .different-section{
        background: #EFF5F9;
        padding: 30px 0px;
    }
    @media (min-width: 768px){
    .different-section {
        background: url(../images/different-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px;
    }}


     /* Fraction section */
     .fraction-section{
        background: #EFF5F9;
        padding: 30px 0px;
    }
    @media (min-width: 768px){
    .fraction-section {
        background: url(../images/fraction-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px;
    }}

     /* Welcome section */
     .welcome-section{
        background: #EFF5F9;
        padding: 30px 0px;
    }
    .smile-text {
        background: #FF2C2C;
        border-radius: 25px;
        padding: 9px 15px 9px 55px;
        position: relative;
        display: inline-block;
    }
    .smile-text::before {
        position: absolute;
        top: -23px;
        left: -60px;
        content: url(../images/thumbsup.webp);
    }
    @media (min-width: 768px){
    .welcome-section {
        background: url(../images/welcome-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px;
    }}


	/********Dominates Section ********/
	.dominates-section{
		background: #fff;
		padding: 30px 0px;
	}
	@media (min-width: 768px){
		.dominates-section {
			background: url(../images/dominates-bg.webp) no-repeat center bottom;
			background-size: cover;
			padding: 100px 0px;
		}}


.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/list-head.webp) no-repeat;
    padding: 15px 0px 15px 45px;
    background-position: 0px 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.list-head li:last-child {
    border-bottom: 0px;
}
.cross-head {
    list-style: none;
}
.arrow-down {
    position: relative;
    display: inline-block;
}
.arrow-down::after {
    position: absolute;
    top: 13px;
    right: -45px;
    content: url(../images/red-arrow.webp);
}
.smile-text {
    background: #FF2C2C;
    border-radius: 25px;
    padding: 9px 15px 9px 55px;
    position: relative;
    display: inline-block;
}
.smile-text::before {
    position: absolute;
    top: -23px;
    left: -60px;
    content: url(../images/thumbsup.webp);
}
.cross-head li {
    background: url(../images/close-icon.webp) no-repeat;
    padding: 10px 0px 15px 35px;
    background-position: 0px 17px;
}

.cross-head li:last-child {
    border-bottom: 0px;
}
/* section-2 */

.affiliate-link-btn1 a {
    border-radius: 10px;
    background-image: -webkit-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -ms-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -moz-linear-gradient(#FFCD00 , #ED1C24);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.affiliate-link-btn1 a:hover {
    background-image: -moz-linear-gradient(#ED1C24 , #FFCD00);
    background-image: -webkit-linear-gradient( #ED1C24 , #FFCD00);
    background-image: -ms-linear-gradient( #ED1C24 , #FFCD00);
    text-decoration: none;
}

.grey-section{
    background-color: #EFF5F9;
    padding: 30px 0px;
}
.there-section{
    background-color: #EFF5F9;
    padding: 30px 0px;
}
.t-box{
    padding: 10px 15px;
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    height: 100%;
}
.list-gaps {
    --bs-gutter-y: 30px;
}
.notalong-section{
    background: url(../images/notalong-bg.webp) no-repeat;
    padding: 30px 0px;
    background-size: cover;
}
.notalong-design{
    padding: 10px;
}
.itshuge-section{
    background: url(../images/itshuge-bg.webp) no-repeat;
    padding: 30px 0px;
    background-size: cover;
}
.wordsfirst-section{
    background: url(../images/worlds-first-bg.webp) no-repeat;
    padding: 30px 0px;
    background-size: cover;
}
.howmuch-section{
    background: url(../images/howmuch-bg.webp) no-repeat;
    padding: 30px 0px;
    background-size: cover;
}
.dollars-section{
    background: url(../images/dollars-bg.webp) no-repeat;
    padding: 30px 0px;
    background-size: cover;
}
@media(min-width:768px) {
    .grey-section{
        background-color: #EFF5F9;
        padding: 100px 0px;
    }
    .there-section{
        background-color: #EFF5F9;
        padding: 150px 0px;
    }
    .t-box{
        padding: 30px;
    }
    .list-gaps {
        --bs-gutter-y: 40px;
        --bs-gutter-x: 40px;
    }
    .notalong-section{
        padding: 100px 0px;
    }
    .notalong-design{
        background: url(../images/notalong-img.webp) no-repeat;
        padding: 400px 100px 162px 100px;
        background-size: 100% 100%;
    }
    .itshuge-section{
        padding: 100px 0px;
    }
    .wordsfirst-section{
        padding: 100px 0px;
    }
    .howmuch-section{
        padding: 100px 0px;
    }
    .dollars-section{
        padding: 100px 0px;
    }
}
/* Black Timer css */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.proof-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.clear {
    clear: both;
}


/* DCP Team Section CSS */

.noneed-shape {
    padding: 30px;
    background-color: #f5efff;
    border-radius: 10px;
}

.anymore-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.e-learning-box {
    background: url(../images/e-learning-box.webp) no-repeat center center;
    background-size: contain;
    padding: 55px 10px;
    ;
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 80px 0px;
        background: url(../images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .e-learning-box {
        padding: 80px 30px 70px;
    }
    .anymore-section {
        padding: 70px 0px;
    }
    .min-sm-video-width-left {
        width: 68%;
    }
    .min-sm-video-width-right {
        width: 32%;
    }
    .affiliate-link-btn1 a {
        font-size: 27px;
        padding: 30px 20px;
        width: auto;
    }
}
    .steps-section2 {
        padding: 80px 0px;
        background: #f9f9f9 url(../images/step-section-2.webp) no-repeat center center;
        background-size: cover;
    }

    

    
    /* Timer CSS */

    /* Timer CSS End */
    .proof-section {
        padding: 100px 0px;
        background: url("../images/proof-sectionbg.webp") no-repeat center center;
        background-size: cover;
    }


@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}


/* Empowers you Section css */

.still-there-section {
    background: #deeaff;
    padding: 30px 0px;
}

.line-5 {
    background: #01155e;
    height: 5px;
}
.ground-breaking-features {
    padding: 30px 0px;
    background: url(../images/ground-braking-bg.webp) no-repeat center center;
    background-size: cover;
}
.ef-sec {
    padding: 30px 0px;
    background: url(../images/ef-bg.webp) no-repeat center center;
    background-size: cover;
}
@media (min-width:768px) {
    .still-there-section {
        padding: 100px 0px 100px 0px;
        background: #deeaff url(../images/still-there-section.webp) no-repeat top center;
        background-size: cover;
    }
    .ground-breaking-features {
        padding: 100px 0px;
    }
    .ef-sec {
        padding: 100px 0px 30px 0px;
    }
}

/* Stats  Section css */

.prdly-pres {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.10);
    padding: 10px;
    display: inline-block;
    letter-spacing: 8px;
}
.orange-underline u{
    height: 2px;
}
.stats-section {
    background: #f9f9f9;
    padding: 30px 0px;
}
.content-style1,
.content-style2 {
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}
.big-logo{
    width: 300px;
    height: 110px;
}
@media (min-width:768px) {
    .prdly-pres {
        border-radius: 40px;
        padding: 15px 35px;
        display: inline-block;
        letter-spacing: 8px;
    }
    .content-style1 {
        background: transparent url(../images/content-style1.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 50px 30px 50px;
        box-shadow: none;
    }
    .content-style2 {
        background: transparent url(../images/content-style2.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 40px 30px 70px;
        box-shadow: none;
    }
    .stats-section {
        padding: 80px 0px;
        background: #f9f9f9 url(../images/stats-bg-section.webp) no-repeat center center;
        background-size: cover;
    }

    .affiliate-link-btn a {
        font-size: 22px;
        padding: 15px 20px;
        display: inline-block;
        width: auto;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }

    .proudly-section {
        padding: 100px 0px;
        background: url(../images/presenting-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .big-logo{
        width: 685px;
        height: 200px;
    }
}
.p0{
    padding: 0px;
}
.cta-section-white {
    background: #031647;
	padding: 30px 0;
}

.eleraning-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.limited-time-sec {
    padding: 10px 0px 10px 0px;
    background: #FF2C2C;
}

.problme-shape {
    border-radius: 20px;
    background-color: rgb(236, 56, 69);
    width: 100%;
    float: left;
    padding: 15px;
}

.noneed-listing5 li {
    list-style: none;
    background: url(../images/cross-yellow.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.noneed-listing6 li {
    list-style: none;
    background: url(../images/cross.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.c-hei:hover .c-img{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.pm-block:hover .pm-img{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.pm-block .pm-img{
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.c-hei .c-img{
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

@media (min-width: 768px) {
    .noneed-listing6 li {
        list-style: none;
        background: url(../images/cross.webp) no-repeat;
        background-position: 0 1px;
        padding: 0 0 30px 50px;
        min-height: 42px;
    }
    .problme-shape {
        padding: 30px;
    }
    .eleraning-section {
        padding: 80px 0px;
        background: #f9f9f9 url(../images/eleraning-section-bg.webp) no-repeat center center;
    }
    .cta-section-white {
        background: url(../images/cta-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 100px 0px;
    }
    .c-hei {
        min-height: 230px;
    }
}
.hi-sec{
   padding: 15px;
   background: #550075;
}
@media(min-width:768px){
    .hi-sec {
        background: url(../images/pre-shape.webp) no-repeat center;
        padding: 15px 45px;
        background-attachment: 100% 100%;
        background-size: 100% 100%;
        display: inline-block;
    }
}
.hi-there-sec{padding: 30px 0px;}
@media(min-width:768px){
    .hi-there-sec{padding: 100px 0px;}
}
.few-reason-sec{    
    background: #eaf3ff;
    padding: 30px 0px;
}
    .support-section {
        padding: 30px 0px;
        background: #f5f5f5;
    }
@media(min-width:768px){
    .support-section {
        padding: 100px 0px 100px 0px;
        background: url(../images/support-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .few-reason-sec{
        background: #ffffff url(../images/endstory.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px 120px;
    }
}    
.boxborder-rb {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.boxborder-rb {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.boxborder-b {
    border-bottom: 1px solid #000;
}

.boxborder-r {
    border-right: 1px solid #000;
}

@media (max-width: 767px) {
    .boxborder {
        border: 1px solid #000;
        border-top: 0px;
        padding: 20px;
    }
    .top-first,
    .first-top-border {
        border: 1px solid #000;
    }
}

@media (min-width:767px) {
    .support-section {
        padding: 100px 0px 130px;
    }
    .boxbg {
        height: 280px;
        padding: 15% 0% 20%;
    }
    .boxbg {
        height: 280px;
        padding: 15% 0% 20%;
    }
}
.pre-heading {
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 2px solid #15C5F3;
}
.orange-clr{
    color: #FFCD00;
}
.red-brush {
    background: #e71818;
    text-align: center;
    padding: 10px;
}
.shape-head{
    background: url(../images/shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 20px;
    text-align: center;
}
.video-box11 {
    position: relative;
    padding: 20px;
    background: var(--gredient, linear-gradient(301deg, #30a7fcb4 0%, #30a7fc3c 100%));
    backdrop-filter: blur(7.5px);
    border-radius: 20px;
}
.video-box {
    position: relative;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.video-box1{
    background:#D9D9D9;
    padding:5px;
    border-radius:10px
}
.border-dashed {
    border-radius: 20px;
    border: 2px dashed #15C5F3;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    padding: 20px;
}
.its-huge{
    position: relative;
    display: inline-block;
}
.its-huge::before{
    position: absolute;
    top: -16px;
    left: -90px;
    content: url(../images/left-craker.webp);
}
.its-huge::after{
    position: absolute;
    top: -16px;
    right: -89px;
    content: url(../images/right-cracker.webp);
}
@media (min-width: 768px){
    .pre-heading {
        padding: 9px 26px;
    }
    .red-brush {
        padding: 15px 60px;
        background: url(../images/red-brush.webp) no-repeat center center;
        background-size: 100% 100%;
        display: inline-block;
    }
    .border-dashed{
        padding: 20px 30px;
    }
}
.b-border{margin: 40px auto 0px auto;
    height: 2px;
    background: yellow;
    max-width: 200px;}


      .bar {
        height: 4px;
        width: 120px;
        background: #213386;
        margin: 20px auto 20px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
    }
    .bar::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background: #ffffff;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: MOVE-BG;
        animation-name: MOVE-BG;
    }
    @-webkit-keyframes MOVE-BG {
        from {
            -webkit-transform: translateX(0)
        }
        to {
            -webkit-transform: translateX(120px)
        }
    }
    
    @keyframes MOVE-BG {
        from {
            transform: translateX(0)
        }
        to {
            transform: translateX(120px)
        }
    }
    .service-item {
        background-color: #fff;
        -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.18);
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.18);
        border-radius: 10px;
        padding: 25px;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        height: 100%;
    }
    .service-item:hover {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }

    .step-section{
        background: #eef4f9;
        padding: 30px 0px;
    }
    
    .step-shapes {
        background: url(../images/step-process-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 8px 40px;
        width: fit-content;
    }
    .orange-brush {
        background: url(../images/orange-brush.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 8px 20px;
        width: fit-content;
    }
    .red-brush {
        background: url(../images/red-brush1.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 8px 20px;
        width: fit-content;
    }
    .niche-design{
        background: url(../images/niche-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 10px 45px;
        display: inline-block;
    }
    
    @media(min-width:768px){
        .step-section{
            padding: 100px 0px;
            background: #eef4f9 url(../images/step-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }
    .profitwall-sec{
        padding: 30px 0px;
        background: #EFF5F9;
    }
    .profitwall-sec1{
        padding: 30px 0px;
        background: #110c49;
    }
    .red-head1{
        background: url(../images/red-head1.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 6px 30px;
        display: inline-block;
    }
    .orange-bg{
        background-color: #FF813B;
        border-radius: 25px;
        padding: 5px 25px;
        display: inline-block;
    }
    .white-bg{
        background: #fff;
        border-radius: 10px;
        padding: 20px;
    }
    .purple-bgg{
        background: var(--purple-gradient, linear-gradient(90deg, #B956FF 0%, #6E33FF 100%));
        border-radius: 10px;
        padding: 20px;
    }
    @media(min-width:768px){
        .profitwall-sec{
            padding: 100px 0px;
            background: #EFF5F9 url(../images/powerfull-bg.webp) top center;
            background-size: cover;
            background-attachment: fixed;
        }
        .profitwall-sec1{
            padding: 100px 0px;
            background: #EFF5F9 url(../images/powerfull-bg1.webp) top center;
            background-size: cover;
            background-attachment: fixed;
        }
        .orange-bg{
            border-radius: 85px;
            padding: 10px 50px;
        }
        .white-bg{
            border-radius: 20px;
            padding: 50px 30px 50px 30px;
        }
        .purple-bgg{
            border-radius: 20px;
            padding: 50px 30px 50px 30px;
        }
    }
    

    /***********Testimonial Section*****************/
    .testimonial-sec {
       background: #EFF5F9;
       padding: 30px 0px;
    }
    .testimonial-sec1 {
        background: #EFF5F9;
        padding: 30px 0px;
     }
    .single-testimonial {
        background-color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 2;
    border: 1px solid #14b7fc;
    border-radius: 10px;
    padding: 20px 10px;
    }
    .st-img {
        display: inline-block;
        background: #fff;
        border-radius: 100%;
        padding: 5px;
        box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
    }
    .stars a {
        padding-right: 8px;
        color: #FFC635;
    }
    .fa-star:before {
        content: "\f005";
        font-size: 22px;
    }
    .mt-md120{
        margin-top: 20px;
    }
    .niche-section{
        padding: 30px 0px;
        background: url(../images/niche-bg.webp) top center no-repeat;
        background-size: cover;
    }
    .justoneclick-section{
        padding: 30px 0px;
        background: url(../images/justoneclick-bg.webp) center center no-repeat;
        background-size: cover;
    }
    .buthowdoesit-section{
        padding: 30px 0px;
        background: url(../images/buthowdoesit-bg.webp) center center no-repeat;
        background-size: cover;
    }
    .already-section{
        padding: 30px 0px;
        background: url(../images/already-bg.webp) center center no-repeat;
        background-size: cover;
    }
    .butif-section{
        padding: 30px 0px;
        background: #fff;
        background-size: cover;
    }
    .quick-section{
        padding: 30px 0px;
        background: url(../images/quick-bg.webp) center center no-repeat;
        background-size: cover;
    }
    @media (min-width: 768px){
        .testimonial-sec {
            padding: 100px 0px;
            background: #fff url(https://cdn.oppyotest.com/launches/sellero/special/images/testimonial-bg.webp) no-repeat center center;
            background-size: cover;
        }
        .testimonial-sec1 {
            padding: 100px 0px;
            background: #EFF5F9 url(https://cdn.oppyotest.com/launches/sellero/special/images/testimonial-bg.webp) no-repeat center center;
            background-size: cover;
        }
        .single-testimonial {
            border-radius: 30px;
            padding: 50px;
            height: 100%;
        }
        .st-img {
            display: inline-block;
            margin-top: -150px;
            background: #fff;
            border-radius: 100%;
            padding: 5px;
            box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
        }
        .mt-md120{
            margin-top: 120px;
        }
        .niche-section{
            padding: 100px 0px;
        }
        .justoneclick-section{
            padding: 100px 0px;
        }
        .buthowdoesit-section{
            padding: 100px 0px;
        }
        .already-section{
            padding: 100px 0px;
        }
        .butif-section{
            padding: 100px 0px;
        }
        .quick-section{
            padding: 100px 0px;
        }
    }

    /********Imagine Section ********/
	.imagine-section{
		background: #EFF5F9;
		padding: 30px 0px;
	}
	@media (min-width: 768px){
		.imagine-section {
			padding: 100px 0px;
		}}

        .areyouready-section{
            background: #fff;
            padding: 30px 0px;
        }
        @media(min-width:768px){
            .areyouready-section{
                padding: 100px 0px;
            }
        }

    /***********Profitale Section*****************/
    .profitale-section{
        background: #fff;
        background-size: cover;
        padding: 30px 0px;
    }
    .easy-text{
        color: #FF2C2C;
        padding: 2px 2px 2px 60px;
        position: relative;
        display: inline-block;
        align-items: center;
    }
    .easy-text::before{
        position: absolute;
        top: -30px;
        left: -60px;
        content: url(../images/thumbsup.webp);
    }
    .gap30 {
        --bs-gutter-y: 30px;
    }
    @media (min-width: 768px){
        .profitale-section {
            padding: 100px 0px;
        }
        .easy-text::before{
            position: absolute;
            top: 0px;
            left: -60px;
            content: url(../images/thumbsup.webp);
        }
        .gap30 {
            --bs-gutter-x: 50px;
            --bs-gutter-y: 50px;
        }
    }

    .take-look-sec
    {
        background: #070d50;
        padding: 30px 0px;
    }
    @media(min-width:768px){
        .take-look-sec{
            padding: 100px 0px;
            background:#EFF5F9 url(../images/take-look-bg.webp) no-repeat center bottom;
            background-size: cover;
        }
    }

    .traffic-section{
        padding: 30px 0px;
    }
    @media(min-width:768px){
        .traffic-section{
            padding: 100px 0px;
        }
    }

    .online-section{
        padding: 30px 0px;
        background: #EFF5F9;
    }
    @media(min-width:768px){
        .online-section{
            padding: 100px 0px;
        }
    }

    /* Capability Section */

    .capability-sec{
        padding: 30px 0px;
        background: url(../images/capability-bg.webp) no-repeat center center;
        background-size: cover;
    }

    @media(min-width:768px){
        .capability-sec{
            padding: 100px 0px;
        }
        .orange-line{
            position: relative;
        }
        
        .orange-line::after{
            content: url('../images/line.webp');
            position: absolute;
            bottom: -25px;
            right: 0;
        }
    }

     /* Cant Decide Section */

     .cant-decide-section{
        padding: 30px 0px;
        background: url(../images/cant-decide-bg.webp) no-repeat center center;
        background-size: cover;
    }
    @media(min-width:768px){
        .cant-decide-section{
            padding: 100px 0px;
        }
    }

    .dfy-section{
        padding: 30px 0px;
        background: #223298;
    }
    
    @media(min-width:768px){
        .dfy-section{
            padding: 100px 0px;
            background: url(../images/dfy-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }

    .newbie-section{
        padding: 30px 0px;
        background: #eff5f9;
    }
    @media(min-width:768px){
        .newbie-section{
            padding: 100px 0px;
            background: url(../images/newbie-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }

    /* Hi Their Start */
    .hi-their-sec {
        padding: 30px 15px 30px 15px;
        background: #EFF5F9;
    }
    .blue-border{
        border: 1px solid #15C6FC;
    }
    .hi-their-box{
        background: #fff;
        border: 2px solid #15C6FC;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
        border-radius: 50px;
        padding: 0px 15px 30px 15px;
    }
    .hi-their-shadow{
        background: #FFFFFF;
        border: 10px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        padding: 5px;
        margin-top: -60px;
        display: inline-block;
    }
    .hi-their-head{
        padding: 15px;
        border: 2px solid #15C6FC;
        border-radius: 100px;
        background: #fff;
        display: inline-block;
    }
    @media(min-width:768px){
        .hi-their-sec{
            padding: 100px 0px 100px 0px;
        }
        .hi-their-box{
            border-radius: 50px;
            padding: 0px 70px 100px 70px;
        }
        .hi-their-head{
            padding: 15px 50px;
        }
    }

    /* Goal Section Start */
    .goal-section{
        padding: 30px 0px;
    }
    @media(min-width:768px){
        .goal-section{padding: 100px 0px; background: url(../images/goal-bg.webp) no-repeat center center; background-size: cover;}
    }
    /* Goal Section End */


    /* Goal Section Start */
    .troffee-section{
        padding: 30px 0px;
    }
    @media(min-width:768px){
        .troffee-section{
            padding: 100px 0px;
            background: url(../images/troffee-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }
    /* Goal Section End */

    /* ----warning--Start--- */
.warning{
    background: #070e2b;
    padding: 60px 0; 
}
.war-img{
    letter-spacing: 1px;
    background-color: #ff2c2d;
    padding: 10px 30px;
    transform: translateY(-40px);
    margin-bottom: -40px;
    display: inline-block;
    letter-spacing: 3px;
}
.war-item{
    background-color: #fff;
    padding: 20px 20px 40px;
}
@media(min-width:768px){
    .warning{
        background: url('../images/bg-img03.webp') no-repeat;
        padding: 100px 0; 
    }
    .war-img{
        background: url("../images/angle-1.webp") no-repeat;
        background-size: 100% 100%;
        
        padding: 10px 30px;
        transform: translateY(-40px);
        margin-bottom: -40px;
        text-transform: uppercase;
    }
    .war-item{
        background: url("../images/angle-2.webp") no-repeat;
        background-size: 100% 100%;
        padding: 30px 20px 60px;
    }
}
/* ----warning---End-- */


.social-section {
    padding: 30px 0;
    background: #EFF5F9 ;
}
.social-item1 {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #16BBFC;
    box-shadow: 0px 4px 25px 0px rgba(0, 148, 255, 0.50);
    margin-top: 50px;
}
.social-icon1{
    width: 150px;
    height: 150px;
    border: 1px solid #16BBFC;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: -100px;
}

@media(min-width:768px){
    
.social-section {
    padding: 100px 0;
    background: #EFF5F9 ;
    background: url(../images/social-bg.webp) no-repeat;
    background-size: cover;
}}
/* section-2 */




    /* Success Story Section */
    .success-story-section{
        padding: 30px 0px;
        background: #EFF5F9;
    }
    @media(min-width:768px){
        .success-story-section{
            padding: 100px 0px;
            background: url(../images/success-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }


     /* Cash Section */
     .cash-section{
        padding: 30px 0px;
        background: #EFF5F9;
    }
    @media(min-width:768px){
        .cash-section{
            padding: 100px 0px;
            background: url(../images/cash-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }

    /* Demo Section Start */
    .demo-sec{
        padding: 30px 0px;
        background: #fff;
    }
    .affliliate-underline{
        border-bottom: 2px solid #FF2C2C;;
    }
    .smile-text{
        background: #FF2C2C;
        border-radius: 25px;
        padding: 9px 15px 9px 55px;
        position: relative;
        display: inline-block;
    }
    .smile-text::before{
        position: absolute;
        top: -23px;
        left: -60px;
        content: url(../images/thumbsup.webp);
    }
    @media(min-width:768px){
        .demo-sec{
            padding: 100px 0px;
            background: url(../images/demo-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }
    /* Demo Section End */

    /**** FAQ Section ***/

.faq-section {
	padding: 30px 0px;
	background-color: #fff;
}

.faq-list {
	background: url(https://cdn.oppyo.com/launches/webpull/special/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 55px;
    background-position: 15px 25px;
    border: 1px solid #031528;
    border-radius: 20px;
}

@media (min-width: 768px) {
	.faq-section {
		padding: 100px 0px;
	}
}

.final-shape {
	background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
	border-radius: 15px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}

@media (min-width: 768px) {
	.final-shape {
		padding: 15px 40px;
		border-radius: 100px;
	}
}

.not-just{
    padding: 30px 0px;
    background: #EFF5F9;
}
@media(min-width:768px){
    .not-just{
        padding: 100px 0px;
    }
}
.countdown-container {
    padding: 10px;
    border: 2px dashed #FFFFFF;
    border-radius: 15px;
}

.white-section{
    padding: 30px 0px;
}
@media(min-width:768px){
    .white-section{
        padding: 100px 0px;
    }
}

.grey-section{
    padding: 30px 0px;
    background: #EFF5F9;
}
.regardless-sec{
	padding: 30px 15px;
	background: #11207c;
}
.dotted-border{
	border: 3px dashed #15C6FC;
	border-radius: 50px;
	display: inline-block;
	padding: 10px 40px;
}
@media(min-width:768px){
    .grey-section{
        padding: 100px 0px;
    }
    .regardless-sec{
		padding: 80px 80px;
		background: url(../images/regardless-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
    .arrow-down{
		position: relative;
		display: inline-block;
	}
	.arrow-down::after{
		position: absolute;
		top: 13px;
		right: -45px;
		content: url(../images/red-arrow.webp);
	}
    .left-line{
		position: relative;
	}
	.left-line::before{
		position: absolute;
		bottom: -27px;
		left: 0px;
		content: url(../images/red-line.webp);
	}
}
.smile-text{
	background: #FF2C2C;
    border-radius: 25px;
    padding: 9px 15px 9px 55px;
    position: relative;
    display: inline-block;
}
.smile-text::before{
	position: absolute;
	top: -23px;
	left: -60px;
	content: url(../images/thumbsup.webp);
}

.border-line {
    border: 1px dashed #031528;
}
.need-head{
	background: url(../images/need-head.webp) no-repeat center center;
	background-size: 100% 100%;
	padding: 6px 30px;
	display: inline-block;
}
.bonus-head{
	background: #FF813B;
	border-radius: 15px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}
@media(min-width:768px){
    .bonus-head{
		padding: 15px 40px;
		border-radius: 100px;
	}
	.bonus-head::before{
		width: 70px;
		height: 1px;
		background: #FF813B;
		position: absolute;
		content: '';
		left: -70px;
	}
	.bonus-head::after{
		width: 70px;
		height: 1px;
		background: #FF813B;
		position: absolute;
		content: '';
		right: -70px;
	}
}

/* Inside Section Start */
.inside-section{
	padding: 30px 0px;
	background: #eff5f9;
}
.inside-box{
	background: rgba(21, 198, 252, 0.2);
	border-radius: 20px;
	padding: 28px;
}
@media(min-width:768px){
	.inside-section{
		padding: 100px 0px;
		background: url(../images/inside-bg.webp) no-repeat center center;
		background-size: cover;
	}
}

.cross-list{
	list-style: none;
}
.cross-list li{
	background: url(../images/cross-icon.webp) no-repeat;
    padding: 10px 0px 10px 45px;
    background-position: 0px 15px;
    text-align: left;
}
.table-border-content{
    background: #fff;
    border: 3px dashed #999;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: auto;
    padding-bottom: 10px;
}
.tb-check{
    background: #FEFE9B;
    padding: 20px 0px;
}
@media(min-width:768px){
    .table-border-content{
        max-width: 75%;
    }
}
.img-shadow {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
    max-height: 150px;
}
/******** Webgenie In Action Section ********/
.in-action-section{
	background: rgba(27, 69, 180, 1);
    padding: 30px 0px;
}
@media (min-width: 768px){
	.in-action-section {
		background: #fff url(../images/in-action-bg.webp) no-repeat center bottom;
		background-size: cover;
		padding: 100px 0px;
	}}

    .yellow-head{
        background: url(../images/yellow-highlight.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 6px 30px;
    display: inline-block;
    }

    .head-yellow
{
	display: inline-block;
    background: url(../images/yellow-heading.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 30px;
}
@media(min-width:768px){
    .head-yellow
	{
		padding: 10px 50px;
	}
}

.timer-header-top {
    background: #000;
    padding-top:10px;
    padding-bottom:10px; 
    }
  

        .tht-left {
            color: #fff;
            font-size: 18px;
            font-weight: 700;
        }


        .ruined-sec{
            background: #EFF5F9;
            padding: 30px 0px;
        }
        .red-box{
            border-radius: 20px;
            background:  #FF2C2C;
            padding: 20px;
        }
        @media(min-width:768px){
            .ruined-sec{
                padding: 100px 0px;
                background: url(../images/ruined-bg.webp) no-repeat center center;
                background-size: cover;
            }
            .red-box{
                padding: 20px 30px;
            }
        }

        .brainwashed-sec{
            background: #FFFFFF;
            padding: 30px 0px;
        }
        @media(min-width:768px){
            .brainwashed-sec{
                background: url(../images/brainwashed-bg.webp) no-repeat center center;
                background-size: cover;
                padding: 100px 0px;
            }
        }


        .grey-sec{
            padding: 30px 0px;
            background: #EFF5F9;
        }
        @media(min-width:768px){
            .grey-sec{
                padding: 100px 0px;
            }
        }

        .white-sec{
            padding: 30px 0px;
            background: #fff;
        }
        @media(min-width:768px){
            .white-sec{
                padding: 100px 0px;
            }
        }

        .blue-sec{
            padding: 30px 0px;
            background: radial-gradient(129.56% 86.37% at 35.38% 5.64%, #1C0D47 0%, #05002B 100%);
        }
        .red-brush{
            background: #FF2C2C;
            padding: 10px;
        }
        @media(min-width:768px){
            .blue-sec{
                background: url(../images/blue-bg.webp) no-repeat center center;
                background-size: cover;
                padding: 100px 0px;
            }
            .red-brush{
                padding: 10px 50px;
                background: url(../images/red-brush.webp) no-repeat center center;
                background-size: 100% 100%;
                display: inline-block;
            }
        }

        .thumsup-text{
            position: relative;
            display: inline-block;
            padding: 9px 20px 9px 47px;
            border-radius: 25px;
            background:  #FF2C2C;
        }

        
        @media(min-width:768px){
            .thumsup-text::before{
                position: absolute;
                top: -25px;
                left: -60px;
                content: url(../images/thumbsup-smily.webp);
            }
        }
        .blue-sec1{
            padding: 30px 0px;
            background: radial-gradient(129.56% 86.37% at 35.38% 5.64%, #1C0D47 0%, #05002B 100%);
        }
        .purple-brush{
            padding: 10px;
            background-color: #7938ff;
        }
        .yellow-brush {
            padding: 2px 5px;
            background: #fffd40;
        }
        .red-head {
            background: url(../images/red-shape.webp) no-repeat center center;
            background-size: 100% 100%;
            padding: 10px 20px;
            text-align: center;
        }
        @media(min-width:768px){
            .blue-sec1{
                padding: 100px 0px;
                background: url(../images/blue-sec1.webp) no-repeat center center;
                background-size: cover;
            }
            .purple-brush{
                padding: 10px 50px;
                background: url(../images/blue-gradient.webp) no-repeat center center;
                background-size: 100% 100%;
                display: inline-block;
            }
            .yellow-brush{
                padding: 5px 35px;
                background: url(../images/yellow-brush.webp) no-repeat center center;
                background-size: 100% 100%;
                display: inline-block;
            }

            .funeel-money{
                position: relative;
                display: inline-block;
            }
            .funeel-money::before{
                position: absolute;
                top: 15px;
                right: -15px;
                content: url(../images/out-water-arrow.webp);
            }
            .daily-text{
                position: relative;
                display: inline-block;
            }
            .daily-text::before{
                position: absolute;
                top: 15px;
                right: -40px;
                content: url(../images/daily-arrow.webp);
            }
            .funnel-text{
                position: relative;
                display: inline-block;
            }
            .funnel-text::after{
                position: absolute;
                top: 25px;
                left: -40px;
                content: url(../images/red-r-arrow.webp);
            }
            .funnel-text::before{
                position: absolute;
                top: 25px;
                right: -40px;
                content: url(../images/red-l-arrow.webp);
            }
        }

        .blue-sec2{
            padding: 30px 0px;
            background:  radial-gradient(129.56% 86.37% at 35.38% 5.64%, #1C0D47 0%, #05002B 100%);;
        }
        @media(min-width:768px){
            .blue-sec2{
                background: url(../images/blue-bg2.webp) no-repeat center center;
                background-size: cover;
                padding: 100px 0px;
            }
        }

        .experienced-sec{
            padding: 30px 0px;
            background: #FFF;
        }
        @media(min-width:768px){
            .experienced-sec{
                padding: 100px 0px;
                background: url(../images/experienced-bg.webp) no-repeat center center;
                background-size: cover;
            }
        }

        .success-sec{
            background: #EFF5F9;
            padding: 30px 0px;
        }

        @media(min-width:768px){
            .success-sec{
                padding: 100px 0px;
                background: url(../images/successful-bg.webp) no-repeat center center;
                background-size: cover;
            }
        }

 

        
.frountend .bg1 {
    background: #FFE7BA;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 10px 10px 10px 10px ;
}
.frountend .bg2 {
    background: #E8F5FD;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 10px;
}
.frountend{
    padding: 40px 0 45px;
    background-color: #EFF5F9;
}
.plybtn {
    background-color: #ffe7ba;
    border-radius: 60px;
    padding: 12px;
    width: 50px;
    height: 52px;
}
.plybtnmale {
    background-color: #8cc9eb;
    border-radius: 60px;
    padding: 12px;
    width: 50px;
    height: 52px;
}
.border-v {
    background-image: url('../images/border.webp');
    background-repeat: repeat-x;
    padding-bottom: 10px;
    background-position: bottom left;
}

.main_box {
    border: 10px solid black;
    padding: 2rem 1rem;
    min-height: 3em;
    resize: both;
    background: #ffd73e33;
    border-image: url("../images/line-svg.svg") 1;
}
/*-- audio-book start --*/
.audio-book{
    padding: 30px 0;
    background: #fff url('../images/bg-book.webp') no-repeat bottom center;
    background-size: cover;  
}
.red-bursh{
    background: url('../images/red-bursh.webp') no-repeat;
    background-size: 100% 100%;
}

.light-black{
    color: #212121;
}
.dont{
    padding: 30px 0;
    background-color: #EFF5F9;
}
.line-bursh{
    background: url('../images/underline.webp') no-repeat bottom center;
    padding-bottom: 20px; 
}	
.dont-list{
    padding: 0;
}
.dont-list li{
    list-style: none;
    background: url('../images/close.webp') no-repeat;
    background-position: 0 7px;
    padding-left: 2.5rem;
}
@media(min-width:768px){
    .dont{
        padding: 80px 0px;
    }
    .audio-book{
        padding: 120px 0;
    }
    .without{
        position: relative;
    }
    .without1{
        position: relative;
    }
    .without::before{
        position: absolute;
        top: -85px;
        left: -57px;
        content: url(../images/sad-emoji-big.webp);
        z-index: 999;
        width: 20px;
    }
    .without1::after{
        position: absolute;
        top: -73px;
        right: 45px;
        content: url(../images/happy-emoji-big.webp);
        z-index: 999;
        width: 20px;
    }
}
.possibilities{
    padding: 30px 0;
    background-color: #0b102d;
}
.possibilities-list{
    padding: 0;
}
.possibilities-list li{
    background: rgba(255, 255, 255, 0.10) url('../images/list-head.webp') no-repeat;
    background-position:20px 20px;
    padding: 15px;
    padding-left: 60px;
    list-style: none;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
@media(min-width:768px){
    .possibilities{
        padding: 100px 0px;
        background: url('../images/back-2.webp') no-repeat;
        background-size: cover;
    }
}