html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}
/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #212121;
}
.red-clr {
	color: #EF3E3A;
}
.red-clr a{
	color: #EF3E3A;
    text-decoration: none;
}
/* Header CSS */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 50px 0px;
}

  .preheadline{
	display: inline-block;
    padding: 10px 15px;
	background: #fff;
	border-radius: 50px;
  }
.video-box{
    position: relative; 
    padding: 20px; 
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
	backdrop-filter: blur(5px); 
    border-radius: 20px;
}
.hr{
	mix-blend-mode: overlay;
}
.probtn1 a {
    transition: all .3s ease;
    border-radius: 15px;
    background: linear-gradient(92.69deg, #EF3E3A 0%, #FF5F5B 99.78%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn1 a:hover {
    transition: all .3s ease;
    background: linear-gradient(92.69deg, #FF5F5B  0%, #EF3E3A 99.78%);
}
@media(min-width:768px){
	.header-section {
		padding: 50px 0px 100px 0px;
	}

    .preheadline{
		padding: 10px 50px 10px 20px;
	  }
    .list-section {
        padding: 100px 0px;
        background: url(../images/list-section-bg.webp) no-repeat center center;
        background-size: cover;
    }
	.probtn1 a {
		font-size: 38px;
		padding: 28px 60px;
		display: inline-block;
		width: auto;
		border-radius: 100px
		}
}
/* List-section */
.header-list-block {
    border-radius: 0px 0px 20px 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}
.converting-shape {
    background-color: #ffb703;
    padding: 10px 30px;
    display: inline-block;
    border: 2px dashed #020d13;
    line-height: 30px;
	 border-radius: 65px;
}
@media (min-width: 768px) {
	.converting-shape {
    padding: 15px 40px 15px 40px;
    line-height: 100%;
}
    .highlihgt-heading {
        position: relative;
        padding: 15px 20px;
    }
	.header-list-block {
    padding: 80px 30px;
}
}

.second-section {
    padding:0px 0px 30px 0px;
	background: url(../images/list-section-bg.png) no-repeat center center;
    background-size: cover;
}

.date-section-bg {
    background: url(https://cdn.oppyo.com/launches/viddeyo/elite/date-bg-image.webp) no-repeat center center;
    background-size: contain;
}

.xstext-center {
    text-align: center;
}

.formbg {
    padding: 20px;
}

@media(min-width:768px) {
    .second-section {
        padding:0px 0px 100px 0px;
    }
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.list-section {
	padding: 30px 0px;
	background: url(../images/list-section-bg.webp) no-repeat center center;
	background-size: cover;
}

.feature-list {
	padding: 15px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    background: #FFEED6;
    border: 3px solid #FFFFFF;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
}

@media(min-width:768px) {
	.list-section {
		padding: 100px 0px 50px 0px;
	}

}
.grey-section1 {
    background: url(../images/demo-bg.webp) no-repeat;
    background-position: top center;
    padding: 30px 0;
}
@media (min-width: 768px){
.grey-section1 {
    padding: 50px 0px 70px 0px;
}}
/* List section End */

.third-section {
	padding: 30px 0px 30px 0px;
	background: #ffffff;
}

.exciting-inner-sec {
	background: url(../images/exiciting-inner-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 20px 15px;
	backdrop-filter: blur(3px);
	border-radius: 15px;
	max-width: 95%;
	margin: 0px auto;
}

@media (min-width: 768px) {
	.third-section {
		padding: 100px 0px 100px 0px;
	}

	.exciting-inner-sec {
		padding: 100px 0px;
		border-radius: 50px;
		width: 95%;
	}
}

@media(min-width:1600px) {
	.exciting-inner-sec {
		max-width: 85%;
	}
}

/* Presenting Section Start */
.presenting-sec{
	padding: 30px 0px;
	background: url(../images/introducing.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.presenting-head{
	background: #132041;
    border-radius: 40px;
    padding: 5px 30px;
    display: inline-block;
    font-family: 'Caveat';
}

@media(min-width:768px){
	.presenting-sec {
		padding: 150px 0px 100px 0px;
	}
	.presenting-head{
		padding: 10px 80px;
	}

}

/* Presenting Section End */


/********features*********/

.white-section {
	background: #fff;
	padding: 30px 0;
}

.grey-section {
	background: #EAF3F8;
	padding: 30px 0;
}

.features-title {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	gap: 15px;
}

.features-title .size {
	max-height: 100px;
}

@media (min-width:768px) {
	.white-section {
		padding: 100px 0;
	}

	.grey-section {
		padding: 100px 0;
	}
}


/* Good Section Start */

.good-section {
	background: #fff;
	padding: 30px 0px 0px 0px;
}

ul.good-list {
	padding: 0px;
	margin: 0px;
}

ul.good-list li {
	background: url(../images/point-icon.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 20px 10px 20px 40px;
	background-position: 0px 27px;
}

@media (min-width: 768px) {
	.good-section {
		padding: 100px 0px 0px 0px;
	}
}

.moneyback-section {
	background: #050d23;
    padding: 30px 0px;
}

@media (min-width: 768px) {
	.moneyback-section {
		padding: 140px 0px 170px;
		background: #fff url(../images/prize-value.webp) no-repeat center top;
		background-size: 100% 100%;
	}
}


.bonus-section {
	background: #F4F6FD;
	padding: 30px 0;
}

@media (min-width: 768px) {
	.bonus-section {
		background: url(../images/bonus-bg.webp) no-repeat center bottom;
		background-size: cover;
		padding: 70px 0px 100px 0px;
	}
}


/*Table CSS Start*/

.table-section {
	background: #ffffff;
	padding: 30px 0;
}

.tablebox2 {
	background-color: #fff;
	border: 1px solid #2447a2;
	width: 100%;
	float: left;
	border-radius: 15px;
}

.tbbg2 {
	background: #121d32;
	padding: 45px 20px 45px 20px;
	border-radius: 15px 15px 0px 0px;
}

.tbbg2-text {
	color: #fff;
}

.tablebox2 ul {
	padding-left: 0;
	color: #010101;
}

ul.vgreytick {
	padding: 0px 15px;
}

ul.vgreytick li {
	background: url(../images/vgreytick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 20px 10px 20px 40px;
	background-position: 0px 27px;
	line-height: 150%;
	border-bottom: 1px solid #edebf0;
	color: #000;
}

ul.vgreytick li:last-child {
	border-bottom: 0px;
}

.myfeatureslast {
	float: left;
	padding: 15px;
	width: 100%;
	min-height: 69px;
	background: #fff;
	border-radius: 0px 0px 15px 15px;
}
ul.vgreytick li.headline {
    background: #062D69 !important;
    padding: 20px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff !important;
}
@media (min-width: 768px) {
	.table-section {
		padding: 70px 0 100px 0px;
		background: url(../images/table-bg.webp) no-repeat;
		background-size: cover;
		background-position: center center;
	}

	ul.vgreytick li {
		padding: 24px 10px 24px 40px;
	}

}

.footer-section {
	background: #121d32;
	padding: 30px 0;
}

.footer-ul {
	padding: 0
}

.footer-ul li {
	display: inline;
	line-height: 130%;
}

.footer-ul li:hover a {
	color: #fff;
}

@media(min-width:768px) {
	.footer-section {
		padding: 50px 0px;
	}

}

a.nothank {
	color: #EF3E3A;
	text-decoration: none;
}

.feature-shape {
	background: linear-gradient(92.69deg, #FF5F5B 0%, #dc423f 99.78%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}
@media (min-width: 768px){
	.feature-shape:after {
		content: '';
		background: url(../images/line-shape.webp) no-repeat right bottom;
		padding: 22px 0;
		display: block;
		position: absolute;
		width: 100%;
		bottom: -15px;
		right: -15px;
	}
}

.unlimited-bg {
    background: url(../images/unlimited-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
    position: relative;
    z-index: 9999;
}
@media (min-width: 768px){
.unlimited-bg {
    padding: 80px 0;
}}


.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 20px 10px;
}
.gametext {
    background: #f24440;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -52px;
    line-height: 30px;
    left: 146px;
    transform: skew(-10deg);
    border-radius: 5px;
}
.preheadline{
	display: inline-block;
    padding: 10px 15px;
	background: #fff;
	border-radius: 50px;
  }
@media(min-width:768px){
    .mainheadline {
        background: url(../images/top-heading-bg.webp) center center no-repeat;
        background-size: 100% 100%;
        padding: 30px 30px 40px 140px;
        left: -5px;
    }}