html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #100f12;
    font-size: 14px;
}

.black-clr {
    color: #100f12;
}

.orange-clr {
    color: #F60;
}

.white-clr {
    color: #ffffff;
}
.red-clr{
    color: #FF0000;
}

.kapblue,
.blue-clr {
    color: #1f49b9;
}

.t-decoration-none,
.t-decoration-none:hover,
.t-decoration-none a:hover {
    text-decoration: none;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.header-section {
   background-color: #0a061d;
   padding: 30px 10px;
}

.pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: #0a061d;
    outline: none;
    border-color: #21c7f9;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}
.pre-heading2{
    padding: 15px 25px;
    border: 3px solid #FF0000;

}
.post-headline{
    padding: 10px 25px;
    margin: 0px auto;
    background-color: #ed1c24;
    outline: none;
    display: inline-block;
    border-radius: 50px;
}
.text-shadow {
    text-align: center;
    text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
}

@media (min-width: 768px) {
    .header-section {
        background:  url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        padding: 30px 0px 230px 0px;
        position: relative;
        padding: 40px 0px 100px 0px;
    }
    .pre-heading {
        padding: 15px 30px;
        border-radius: 100px;
    }
}

.second-section {
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .second-section {
        padding: 100px 0px;
    }
}

.probtn1 a {
    background-image: -moz-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
    border-radius: 65px;
}

.probtn1 a:hover {
    background-image: -moz-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    text-decoration: none;
    transform: scale(1.03);
}

@media (min-width: 768px) {
    .probtn1 a {
        padding: 25px 40px;
    }
}

.third-section {
    background: #eaf5f9;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .third-section {
        padding: 100px 0;
    }
}

.proudly-section {
    background: #00022b;
    padding: 30px 0;
}

.presenting-shape {
    background: url(../images/sub.webp);
    background-size: 100% 100%;
    border-radius: 0px;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
    letter-spacing: 8px;
}

@media (min-width: 768px) {
    .proudly-section {
        background: #00022b url(../images/proudlybg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
    .presenting-shape{
        padding: 10px 30px 25px 30px;
    }
    .skew-con {
        transform: skew(10deg);
    }
}

.grey-section {
    background: #EFF5F9;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .grey-section {
        padding: 100px 0;
    }
}

.white-section {
    background: #fff;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .white-section {
        padding: 100px 0;
    }
}

.moneyback-section {
    background: #1f49b9 url('../images/money-back-bg.webp') no-repeat center center;
    background-size: cover;
    padding: 30px 0;
    color: #ffffff;
}

@media (min-width: 768px) {
    .moneyback-section {
        padding: 100px 0 100px;
    }
}

.bonus-section {
    background: #eaf5f9;
    background-size: cover;
    padding: 30px 0;
}

.bonus-design {
    background-color: rgb(251, 149, 73);
    border-radius: 100px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}

@media (min-width: 768px) {
    .bonus-design {
        padding: 5px 50px;
    }
    .bonus-design:before {
        width: 70px;
        height: 1px;
        background: #fcc216;
        position: absolute;
        content: '';
        left: -70px;
    }
    .bonus-design:after {
        width: 70px;
        height: 1px;
        background: #fcc216;
        position: absolute;
        content: '';
        right: -70px;
    }
}

@media (min-width: 768px) {
    .bonus-section {
        padding: 100px 0px;
        background: #eaf5f9 url('../images/bonus-bg.webp') no-repeat center center;
        background-size: cover;
    }
}

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

.tablebox2 {
    border: 1px solid #1c2f9a;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tbbg2 {
    background-image: -moz-linear-gradient(78deg, #1c2f9a 0%, #164dba 100%);
    background-image: -webkit-linear-gradient(78deg, #1c2f9a 0%, #164dba 100%);
    background-image: -ms-linear-gradient(78deg, #1c2f9a 0%, #164dba 100%);
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.relative {
    position: relative;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 28px;
    line-height: 150%;
    border-bottom: 1px solid #f3ebff;
}

@media (min-width: 768px) {
    .table-section {
        background: #ffffff url(../images/table-section.webp) no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 100px 0;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}