@font-face{
	font-family:'handsean';
	src:url(../fonts/handsean.ttf);
}
.handsean { font-family: handsean;}
.grey-clr-text{ color: #343434;}
.figure-launches-section {
	background: #eff8fc;
	padding: 30px 0px 15px;
}
.white-bg-section{
	background: #ffffff;
	padding: 30px 0px 10px;
}
.l-tick2 li {
    background: url(../images/l-tick2.png) no-repeat;
    list-style: none;
    padding: 0px 0 20px 55px;
    background-position: 0px -3px;
}
.prize-section {
    background: #34429d url(../images/jv-contest-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.converting-funnel-section{
	padding: 30px  0px;
	background: #ffffff;
}
.converting-section1{
	padding: 30px  0px;
	background: #eff8fc;
}
.converting-box{
	box-shadow: 0px 0px 15.2px 0.8px rgba(92, 92, 92, 0.2);
	border-radius: 15px;
	background: #ffffff;
	padding: 15px;
}
.blue-shape{
	border-radius: 5px;
	background: #132d9f;
	display: block;
	text-align: center;
	padding: 5px 12px 0px;
}
.height-xs-150{ height: 150px;}
.contact-section {
	padding: 30px 0px;
    background: #ffffff;
}
a.link-text {
    color: #000000;
    text-decoration: none;
}
.footer-section{
	background: #040a22;
	padding: 30px 0px;
}
.footer-ul{ padding: 0px; margin: 0px;}
.footer-ul li{display:inline;}
@media only screen and (min-width: 481px){
.figure-launches-section {
	padding: 72px  0px 40px;
	background: #eff8fc url(../images/figure-launches-bg.png);
	background-repeat: no-repeat;
	background-position: 100% 95%;
}
.white-bg-section{
	padding: 90px  0px 30px;
	background: #ffffff url(../images/white-bg-section.png);
	background-repeat: no-repeat;
	background-position: 0% 10%;
}
.l-tick2 li { padding: 0px 0 25px 55px;}
.prize-section { 
padding: 70px 0px;
}
.converting-funnel-section{
	padding: 90px  0px 200px;
	background: #ffffff url(../images/funnel-right-bg.png);
	background-repeat: no-repeat;
	background-position: 100% 10%;
}
.converting-section1{
	height: 295px;
	padding: 0px;
}
.converting-box{
	padding: 50px 23px 30px 30px;
	margin-top: -140px;
	position: absolute;
	max-width: 980px;
}
.height-xs-150{ height: 195px;}
.contact-section {
	padding: 235px 0px 60px;
    background: #ffffff url(../images/contact-bg.png);
    background-repeat: no-repeat;
    background-position: 0% 96%;
}
.footer-section{ padding: 45px 0px 50px;}
.mt-sm130{margin-top: 130px;}
}