html {
    scroll-behavior: smooth;
}
.container { 
	height : unset;
} 
.inner-content { 
	height : unset;
} 
#templateBody{
	font-family: 'Hind', sans-serif;
	color: #000000;
	font-size:14px;	
}
.border-dashed{
    border: 1px dashed #ffffff;
    padding: 10px;
    text-align: center;
}
.blue-clr{ color: #132d9f;}
.black-clr1{ color: #010101;}
.text-uppercase{text-transform: uppercase;}
.day-text{text-transform: lowercase;}
.middle-align{ vertical-align: middle;}
.header-section {
    background: #ffffff url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 80px;
}
.header-section ul.leader-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}
.formbg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
   box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}

.header-section ul.leader-ul li{
    display: inline-block;
    padding: 0px 7px;
}
.header-section ul.leader-ul li a{
	text-decoration: none;
}
.affiliate-link-btn a {
    border-radius: 3px;
    background-color: #3936c9;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    padding: 16px 10px 15px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    line-height: 110%;
    width: 100%;
}
.affiliate-link-btn a:hover{
	background-color: #292ac9;
}
.highlihgt-heading {
    background: #ffffff;
    padding: 6px 15px;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 0.927px 2.853px 4.8px 0.2px rgba(21, 21, 33, 0.3);
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.responsive-video iframe, .responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.date-back{
	background: #ffffff;
    box-shadow: 0px 0px 30.69px 0.31px rgba(15, 39, 147, 0.25);
    border-radius: 100px;
    padding: 16px 12px;
}
.blue-left-bg{
    position: absolute;
	 left: -0px;
    top: 10px;
}
.blue-right-bg{
	position: absolute;
	right: -0px;
	top: -8px;
}
.image-xs-height-130px{height: 130px;}
.second-section{
	background: #ffffff url(../images/second-section-bg.png);
	padding: 0px 0px 30px;
}
.mt-m75{margin-top: -55px;}
.width-form {
    width: 100% !important;
    float: left;
    padding: 0px 15px;
}
.form-control.input-field {
    border-width: 1px;
    border-color: #a4a4a4;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 12px;
}
.popup-btn a, 
.popup-btn input[type="submit"] {
    border-radius: 5px;
    background: #00c5ff;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px 20px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    outline: none;
}
.affiliate-btn a {
	border-radius: 3px;
	background: #00c5ff;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	display: block;
	width: 100%;
	padding: 16px 12px;
	line-height: 130%;
	font-weight: 700;
	border: 0;
	outline: none;
}
::-webkit-input-placeholder {color: #797979 !important;font-size: 20px;}
::-moz-placeholder {color: #797979 !important;font-size: 20px;}
:-ms-input-placeholder {color: #797979 !important;font-size: 20px;}
:-moz-placeholder {color: #797979 !important;font-size: 20px;}
.form-bg-1 {
    position: absolute;
    top: 211px;
    left: 0;
}
.pre-launch-starts{
    background: #f0f0f7;
    border-radius: 15px;
    padding: 15px;
}
.launch-starts{
	background-image: -moz-linear-gradient( 90deg, rgb(143,193,216) 0%, rgb(130,215,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(143,193,216) 0%, rgb(130,215,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(143,193,216) 0%, rgb(130,215,255) 100%);
	border-radius: 15px;
	padding: 15px 15px 10px;
}
.promo-icon{
	position: absolute;
	left: 0px;
	top: -20px;
}
@media (min-width: 240px){
	.formbg {
	    padding: 15px;
	}
}
.l-tick1 li{
	background: url("../images/l-tick1.png") no-repeat;
	list-style:none;
	padding:0px 0 17px 45px;
}
@media (min-width: 481px){
.affiliate-btn a {
	padding: 32px 20px 29px;
}
.pre-launch-starts{
    height: 560px;
    width: 560px;
    border-radius: 100%;
    padding: 150px 200px 150px 65px;
}
.launch-starts{
    height: 600px;
    width: 600px;
    border-radius: 100%;
    padding: 95px 32px 80px 103px;
    position: absolute;
    right: 0px;
}

.second-section{
	padding: 0px 0px 90px;
	background-size: cover;
	background-position: center top;
}
	.form-control.input-field {
	    height: 60px;
	}
	.width-form {
	    width: 33% !important;
	}
	.formbg {
	    padding: 40px;
	}
.blue-left-bg{
	position: absolute;
	left: 10px;
	top: 8px;

}
.blue-right-bg{
    position: absolute;
    right: 24px;
    top: -22px;
}
.image-xs-height-130px{height: auto;}
.day-text{ top: -1.5em; left: -10px;}
.header-section {
	padding: 40px 0px 120px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom
 }
.highlihgt-heading { transform: skew(-20deg);padding: 6px 40px;}
.line-center { transform: skew(20deg);}
.date-back{ padding: 20px 50px 20px 50px;}
.mt-m75{margin-top: -75px;}
.mt-m100{margin-top: 100px;}
}
@media (max-width: 468px){
    .height-39px{height: 39px;}
    .height-26px{height: 26px;}
    .text-xs-center{text-align: center;}
    .higdden-sx{display: none;}
}



/* Manish */
.lpb-section {
    background: #ffffff url(../images/bgg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 60px 0px 200px;
}
.l-tick li {
    background: url(../images/li1.png) no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}
.clear{
    clear: both;
}
.b-tick li {
    background: url(../images/tick1.png) no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0 0 20px 42px;
}
.t-dots-img{
	position: absolute;
    top: -15px;
    left: 10px
}
.gb-feature-section {
    background: #ffffff url(../images/gb-feature-section.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0 0px 80px;
}
.innovative-features {
    background: #eff8fc url(../images/in-feature-section.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 60px 0px 80px;
}
.profitable-section{
	background: #ffffff url(../images/profitable-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 80px 0px 40px;
}
.br-10{
	border-radius: 10px;
}
.feature-bg1{
    background-color: #a2e0fd;
}
.feature-bg2{
    background-color: #fdcdcb;
}
.feature-bg3{
    background-color: #c6c1c0;
}
.feature-bg4{
    background-color: #78f3eb;
}
.feature-bg5{
    background-color: #e6d6fa;
}
.feature-bg6{
    background-color: #f9cfac;
}
.funnel-bg-shape{
    border-radius: 5px;
    padding: 15px 13px;
}
.funnel-img{
    position: absolute;
    top: 105px;
    left: 35%;
}
.ef-block1,
.ef-block2,
.ef-block3,
.ef-block4{
    border-radius: 30px;
    background-color: #f6fcff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    min-height: 236px;
}
.ef-block1{
    padding: 30px 85px 30px 50px;
    margin-bottom: 30px;
}
.ef-block2{
    padding: 30px 45px 30px 96px;
    margin-bottom: 30px;
}
.ef-block3{
    padding: 30px 85px 30px 50px;
}
.ef-block4{
    padding: 30px 45px 30px 110px;
    margin-bottom: 30px;
}
.dark-blue-clr{color: #0e1c43}
@media only screen and (min-width: 481px){
    .ml-sm120{margin-left:120px}
    .text-sm-right{
        text-align: right;
    }
}
@media only screen and (max-width: 480px){
    .affiliate-link-btn a{
        border-radius: 3px;
        background-color: #3936c9;
        text-decoration: none;
        text-align: center;
        display: block;
        z-index: 9999;
        padding: 8px 0 8px;
        font-size: 16px;
        color: #ffffff;
        font-weight: 600;
        line-height: 110%;
        width: 100%;
        max-width: 160px;
        margin-left: auto;
        margin-right: auto;
    }
    .affiliate-link-btn a:hover{
        background-color: #292ac9;
    }
	.lpb-section{
		background-color: #9addfd;
		padding: 50px 0px 50px;
	}
	.mx-xs-center{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.gb-feature-section{
		padding-top: 50px;
		padding-bottom: 50px;
	}
    .innovative-features{
        padding: 45px 0px 55px;
    }
    .profitable-section{
        padding: 55px 0px 55px;
    }
    .ef-block1,
    .ef-block2,
    .ef-block3,
    .ef-block4 {
        padding: 25px 15px 20px 15px;
        margin-bottom: 30px;
        min-height: auto;
    }
}
@media only screen and (min-width: 1920px){
    .lpb-section{
        padding: 60px 0px 230px;
        background-position: bottom center;
    }
}
