html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #08041e;
    font-size: 14px;
	overflow-x: hidden;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

/* Color CSS */

.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
.orange-clr{
	color:#ffa25b;
}
.blue-clr{
    color: #5054bd;
}
.black-clr1{color: #000;}

.gradient-orange{
    background: #FF9315; 
    background: linear-gradient(90deg, #FF9315 21.66%, #FF4F17 64.49%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.pacifico{
    font-family: 'Pacifico', cursive;
}

/* Header CSS */

.header-section {
	background: #030331;
	padding:30px 0px;
}

ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.leader-ul li {
    display: inline-block;
    padding: 0px 7px;
    font-weight: 400;
	 color: #ffffff;
}

.header-section ul.leader-ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

a.affiliate-link-btn {
	background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 5px 20px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
}

a.affiliate-link-btn::before{
    position: absolute;
    width: 100%;
    height: 34px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}

a.affiliate-link-btn:hover {
    transition: all .3s ease;
    background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}

.bx-wrapper {
	border: 0px !important;
	background:transparent !important;
	box-shadow:none !important;
	padding: 0 !important;
	margin: 0 !important;	
	position:relative;	
}

.bx-viewport{
    position:relative !important;
}

.bxslider {
  background:transparent !important;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0px !important;
  font-weight:700;
  position:relative;
}

.bxslider li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
	min-height:76px;
	line-height:32px;
	text-align:left;
}

.bxslider li .text{
    margin-left:15px;
}

.text-clr1{
    color:#FF9315;
}

.preheadline{  
    background: linear-gradient(#030331 , #030331) padding-box,
    linear-gradient(to right, #5055BE 0%, #FFFFFF 50%, #5055BE 100%) border-box;
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 10px 20px;
    display: inline-block;
}

@media(min-width:768px){
    .preheadline{padding: 1rem 2rem;}
}

span.highlight{
	border-bottom:solid 4px #fc6dab;
}

.calendar-wrap {
    border-radius: 20px;
    background-color: rgb(80, 84, 189);
    padding:10px;
    width:100%;
    float:left;
    position:relative;
    overflow:hidden;
    z-index: 1;
}

.calendar-wrap-inline {
    border-width: 2px;
    border-color: rgb(0, 1, 28);
    border-style: solid;
    border-radius: 20px;
    padding:30px;
    text-align:center;
    color: rgb(241, 241, 241);
}

.calendar-wrap-inline .date{
	font-size:140px;
	color:#00011c;
	font-weight:700;
	line-height:120px;
	display:flex;
	justify-content:center;
    background: url(../images/date.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
}

.calendar-wrap-inline .date span{
	font-size:45px;
	color:#08041e;
	font-weight:400;
	line-height:35px;
}

@media(min-width:768px){
	.header-section {
        background: #030331 url(../images/header-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 80px;
    }
	a.affiliate-link-btn {
		padding: 15px 25px;
		font-size: 18px;
	}
}

/* Header End */

/* Marketing Section */
.marketing-section {
    padding:30px 0px;
    background:#fff url(../images/marketing-bg.webp) no-repeat center bottom;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.google-box{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;}
.welcome-box{
    background: #fff url(../images/welcome-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 8px 30px 0px rgba(10, 11, 28, 0.2);
    position: relative; 
}


.fe-list{
    margin: 0px;
    padding: 0px;
}

.fe-list li
{
    background: url(../images/check.webp) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 15px 35px;
}

.fe-list li:last-child{
    padding-bottom: 0px;
}

@media (min-width: 768px){
	.marketing-section {padding:80px 0px;}
    .welcome-box{padding: 50px 43px;}
}
@media (min-width:1200px){
    .robot-img{position: absolute; left: -13.8%; display: block !important;}
    .mycontainer{
        max-width: 1370px !important;
    }
}

/* Marketing Section End*/

/* Form Section */
.form-section {
    padding:0px 0px 30px 0px;
    background:#ffffff;
}
.formbg {
	position: relative;
	
}
.form-control.input-field {
	border-width: 1px;
    border-color: rgb(168, 167, 198);
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
	height: 50px;
	font-size: 16px;
	font-weight: 400;
	box-shadow: none !important;
	color: #08041e;
	padding: 6px 15px; 
}
.form-btn input[type="submit"] {
	border-radius: 15px;
    background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
	text-decoration: none;
	border: none;
	color: #ffffff;
	text-align: center;
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 15px 10px;
	line-height: 30px;
	font-weight: 600;
	outline: none;
	max-width: 510px;
	white-space: normal;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
}
.form-btn input[type="submit"]::before{
    position: absolute;
    width: 100%;
    height: 34px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}
.form-btn input[type="submit"]:hover {
    transition: all .3s ease;
    background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}
.affiliate-btn a {
    border-radius: 15px;
    background-image: -moz-linear-gradient( 90deg, rgb(246,97,82) 0%, rgb(238,55,37) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(246,97,82) 0%, rgb(238,55,37) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(246,97,82) 0%, rgb(238,55,37) 100%);
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    padding: 15px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    text-transform: capitalize;
    max-width: 510px;
	animation-name: hang-sink, hang;
    animation-duration: .3s, 1s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
}
.affiliate-btn a:hover{
    background-image: -moz-linear-gradient( 90deg, rgb(238,55,37) 0%, rgb(246,97,82) 100%);
    background-image: -webkit-linear-gradient(  90deg, rgb(238,55,37) 0%, rgb(246,97,82) 100%);
    background-image: -ms-linear-gradient(  90deg, rgb(238,55,37) 0%, rgb(246,97,82) 100%);
}
@keyframes hang-sink {
    100% {
        transform: translateY(8px)
    }
}

@keyframes hang {
    0% {
        transform: translateY(8px)
    }
    50% {
        transform: translateY(4px)
    }
    100% {
        transform: translateY(8px)
    }
}
@media (min-width: 768px){
    .form-section {
        padding:0px 0px 80px 0px;
        background:#ffffff;
    }
    .form-control.input-field {
        height: 60px;
        font-size: 20px;
    }
    .popup-btn input[type="submit"] {
        padding: 10px 10px;
    }
    .affiliate-btn a {
        padding: 25px 20px;
        max-width: 510px;
    }
}

/* Form Section End*/

/* Exciting Launch Start */
.exciting-launch {
    padding:30px 0px;
    background-color: #030313;
}
.prelaunch-shape1
{
    background: url(../images/phase-shape1.webp) no-repeat center center;
    background-size: 100% 100%;
    padding:20px 15px;
}
.prelaunch-shape2
{
    background: url(../images/phase-shape2.webp) no-repeat center center;
    background-size: 100% 100%;
    padding:20px 15px;
}
.z-index1{z-index: 1;}

ul.launch-list{
	margin:0px;
	padding:0px;
}
.launch-list li {
    padding: 0px 0px 12px 0px;
    color: #ffffff;
}
::marker {
  color: #fff;
}
@media (min-width: 768px){
    .exciting-launch {
        padding:100px 0px;
        background: #fff url(../images/exciting-launch.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .prelaunch-shape1 {
        padding: 30px 30px 30px 40px;
        margin-right: -90px;
    }
    .prelaunch-shape2{
        padding: 30px 30px 30px 120px;
        margin-left: -100px;
    }
}
/* Exciting Launch End */

/*  Awesome Section Start */
.hello-awesome {
    background: #ffffff url(../images/hello-awesome-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.heading-design {
    padding: 15px 50px;
    display: inline-block;
    background: url(../images/heading-shape.webp) no-repeat center center;
    background-size: contain;
}
.awesome-feature-shape {
	padding:20px 30px;
	display: inline-block;
	border-radius: 20px;
	background-color: rgb(255, 204, 102);
	position:relative;
}
.awesome-feature-shape:before {
    position: absolute;
    content:'';
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    opacity: 0.102;
}

ul.awesome-list{
    margin: 0px;
    padding: 0px;
}

.awesome-list li {
    background: url(../images/tick.webp) no-repeat;
    background-position: 0 7px;
    list-style: none;
    padding: 0 0 20px 26px;
}
@media (min-width: 768px){
    .hello-awesome {
        padding:80px 0px 100px 0px;
    }
    .heading-design {
        padding: 33px 100px;
    }
    .awesome-feature-shape {
        padding:40px 55px;
        background: url(../images/awesome-feature-shape.webp) no-repeat center center;
        background-size: 100% 100%;
    }
}
/*  Awesome Section End */

/* Proudly Section Start */
.proudly-sec {
    background: #eef4fb url(../images/proudly-bg.webp) bottom center no-repeat;
    background-size: cover;
    padding:30px 0px 80px 0px;
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

@media (min-width: 768px){
    .proudly-sec {   
        padding:100px 0px 180px 0px;
    }
}
/* Proudly Section End */

/* Feature List Start */
.feature-list {
    background: #ffffff url(../images/featureslist-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 30px 0px;
}

.feature-list-container {
        border-radius: 15px;
        background-color:#02021d;
        padding: 15px;
}

.feature-list-box {
    border-radius: 10px;
    background-color: rgb(240, 244, 251);
    padding:20px 10px;
    width:100%;
    float:left;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
}
.feature-list-box .description{
	font-size:22px;
	font-weight:600;
	line-height:30px;
}

@media(min-width:768px){
	.feature-list {
        padding: 100px 0px;
    }
    .feature-list-container {
        border-radius: 30px;
        padding: 30px 100px;
}
}
/* Feature List End */

/* Step Section Start*/
.step-sec{
    background: #eef4fb url(../images/steps-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px ;
}	
.step-text{
    background: #FF9315;
    background: linear-gradient(90deg, #FF9315 2.66%, #FF4F17 19.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
@media(min-width:768px){
    .step-sec{
        padding: 100px 0px;
    }
    .mt-md110{margin-top: 110px !important;}
}
/* Step Section End */

/* Feature Section Start */
.feature-seca {
    background: #ffffff;
    padding: 30px 0px;
}
.features-headline{
    border-radius: 29px;
    background-image: -moz-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    padding:15px;      
}
.features-headline span{
    text-shadow: 0px 4px 10px rgba(11, 11, 26, 0.2);
}
@media (min-width: 768px){
.feature-seca {
    padding:100px 0px;
    background: url(../images/feature-bg.webp) no-repeat center center / cover;
}
.features-headline{
    border-radius: 29px;
    background: url(../images/features-headline.png) no-repeat center center / 100% 100%;
    padding: 70px 234px 70px 33px;
    display: inline-block;
    width: 100%;
}
}
/* Feature Section End */

/* Demo Section Start */
.demo-sec {
	background: #ffffff url(../images/demo-sec-bg.webp) no-repeat center center;
	background-size: cover;
	padding:30px 0px;
}

@media(min-width:768px){
    .demo-sec {        
        padding:100px 0px;
    }
}
/* Demo Section End	 */
	
/* Potential Section Start	 */
.potential-sec {
    background: #ffffff;
    padding: 30px 0px;
}
.list-shape{
    padding:30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    height:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

@media (min-width: 768px){
    .potential-sec {
        background: #ffffff url(../images/potential-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 100px 0px;
    }
}
/* Potential Section End */

/* Prize Section Start */
.prize-value {
	padding: 30px 0;
	background: #ffffff url(../images/prize-value.webp) no-repeat center center;
	background-size: cover;
}

@media (min-width: 768px){
    .prize-value {
        padding:80px 0px;
    }
    .f-md-72{
        font-size:72px;
    }
}
/* Prize Section End */

/* Contest Section Start */
.contest-section {
	padding: 30px 0;
	background: #ffffff url(../images/contest-bg.webp) no-repeat center center;
	background-size: cover;
}

@media (min-width: 768px){
    .contest-section {
        padding:80px 0px;
    }
}
/* Contest Section End */

/* Prize Section Start */
.prize-section {
    background: #e7e9fa;
    padding: 30px 0px;
    position: relative;
}
.feature-shape {
    background: -moz-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background: -ms-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}
@media(min-width:768px){
	    .prize-section {
        background: #e7e9fa url(../images/prize-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}
/* Prize Section End */

/* Deep Funnel Start */
.deep-funnel {
    background: #111228  url(../images/deep-funnel.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
@media(min-width:768px){
    .deep-funnel {
        padding:80px 0px;
    }
}
/* Deep Funnel End */

/* Reciprocate Setion Start */
.reciprocate-sec {
    background: #ffffff;
    padding: 30px 0px;
}
.logos-effect img {
    transition: all 0.5s;
}
.logos-effect img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}
@media(min-width:768px){
    .reciprocate-sec {
        background: #ffffff url(../images/solid-track-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}
/* Reciprocate Setion End */

/* Contact Section Start */
.contact-section {
    background: #030331;
    padding: 30px 0px;
}
.contact-shape{
	padding-bottom:30px;
}
.contact-container{
    
    padding: 15px;
}
@media (min-width: 768px){
    .contact-section {    
        padding:80px 0px 30px 0px;
        background-color: #fff;
    }
    .contact-container{
        background: url(../images/contact-box.webp) no-repeat center center;
        background-size: contain;
        padding: 50px;
    }
}
/* Contact Section End */

/* Term Section Start */
.terms-section {
    padding:30px 0px;
    background: #ffffff;
}
.terms-list li {
    background: url(../images/circle-icon.png) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 30px;
}
@media (min-width: 768px){
    .terms-section {
        padding:0px 0px 80px 0px;
        background:url(../images/terms-bg.webp) no-repeat center center;
        background-size: cover;
    }
}
/* Term Section End */

/* Footer Section Start */
.footer-section {
    background: #020d13;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px){
.footer-section {
        padding: 50px 0px
    }
}
/* Footer Section End */



