.countdown {
	background-color: transparent;
	color: rgb(0, 1, 28);
	font-family: "Inter";
	text-align: center;	
	display: flex;
	justify-content: space-between;
}
/* Css For Timer Display */
.timer-label{margin-right:15px;   padding:5px 0px 10px 0px!important; width:100%; color:#ffffff;}
.countdown .timer-label:last-child{margin-right:0px;}
.timerbg{font-weight:700; line-height:120%; width:100%; float:left;  border-radius: 20px;
    background-color: rgb(255, 255, 255);color:#00011c; padding:10px 0px; margin-bottom:10px;}



