body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

.red-light-clr {
    color: #ff5072;
}

.lightcolor {
    color: #eaab26;
}

.red-clr {
    color: #ff3c00;
}

.kapblue {
    color: #0044cd;
}

.grey-clr {
    color: #d6d6d6;
}

.orange-clr {
    color: #eaab26;
}

.red-clr {
    color: #ff3c00;
}

.v-grey-clr {
    color: #303030;
}

.yellow-clr {
    color: #fff600;
}

.orange-clr1 {
    color: #f68a1e;
}

.blue-clr {
    color: #0044cd;
}


/* Header Section CSS */

.header-section {
    background: rgb(0, 68, 205);
    background: -moz-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    padding: 30px 0;
}

.fifth-section {
    background: #0a4a70;
    padding: 30px 0;
}

.new-section {
    background: #dbe1f1;
    padding: 30px 0px;
}

.heading-bg {
    background: url(../images/heading-bg.png) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    padding: 50px 31px 60px 105px;
}

.white-section {
    background: #fff;
    padding: 30px 0px;
}

.grey-section {
    background: #edf7ff;
    padding: 30px 0px;
}

.text-sm-right {
    text-align: center;
}

@media(min-width:768px) {
    .text-sm-right {
        text-align: right;
    }
    .header-section {
        background: rgb(0, 68, 205) url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .new-section {
        background: #ffffff url("../images/next-gen-bg.png") center center;
        padding: 100px 0px;
    }
    .fifth-section {
        background: #ffffff url("../images/proudlybg.png") no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .md-center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .white-section {
        background: #ffffff url("../images/white-section-bg.png") no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .pricing-section {
        background: #ffffff url("../images/pricingbg.png") no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .grey-section {
        background: #edf7ff url("../images/blue-section-bg.png") no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .f-md-70 {
        font-size: 70px;
    }
}

.logo-height {
    max-height: 45px;
}

.white-clr {
    color: #ffffff;
}

.white-blue {
    color: #09236f;
}

.light-red-clr {
    color: #ff5072;
}

.verylight-red-clr {
    color: #ff97a0;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}

.affiliate-link-btn a {
    border-radius: 45px;
    background-color: #f8e71c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    padding: 9px 33px;
    font-size: 16px;
    color: #050b23;
    font-weight: 800;
}

.affiliate-link-btn a:hover {
    background: #decf18;
}

.popup-btn a:hover,
.popup-btn input[type="submit"]:hover,
.af-btn a:hover {
    background: #4f5db5;
}

.highlihgt-heading {
    background: #241c43;
    padding: 8px 20px;
    border-radius: 45px;
    display: inline-block;
}

.second-section {
    padding: 5% 0;
}

.date-section-bg {
    background: url(../images/date-bg-image.png) no-repeat center center;
    background-size: contain;
}

@media(min-width:240px) {
    .xstext-center {
        text-align: center;
    }
    .formbg {
        padding: 20px;
    }
}

@media(min-width:768px) {
    .left-line {
        margin-left: 45px;
    }
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
}

.formbg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.form-control.input-field {
    border-width: 1px;
    border-color: rgb(164, 164, 164);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 12px;
}

::-webkit-input-placeholder {
    color: #797979 !important;
}

::-moz-placeholder {
    color: #797979 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

:-moz-placeholder {
    color: #797979 !important;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 5px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 13px 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 0;
    outline: none;
}

@media(min-width:240px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .pre-box {
        border-radius: 10px;
        padding: 5%;
    }
    .af-box {
        padding: 8% 3%;
    }
}

.pl-shape,
.l-shape,
.af-shape,
.af-dots {
    display: none;
}

@media(min-width:481px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .form-control.input-field {
        height: 58px;
    }
    .pre-box {
        border-radius: 50px;
        padding: 3% 0;
    }
    .af-box {
        padding: 5%;
    }
    .pfbox {
        height: 185px;
    }
    .pl-shape,
    .l-shape,
    .af-shape,
    .af-dots {
        display: block;
        position: relative;
        z-index: 1;
    }
    .pl-shape img {
        position: absolute;
        top: -18px;
        right: 18px;
        z-index: 1;
    }
    .l-shape img {
        position: absolute;
        bottom: -65px;
        left: 25px;
        z-index: 1;
    }
    .af-shape img {
        position: absolute;
        bottom: -44px;
        right: 35px;
        z-index: 1;
        height: 160px;
    }
    .af-dots img {
        position: absolute;
        top: -10px;
        left: 60px;
        z-index: 1;
    }
}

.form-shape {
    position: relative;
    z-index: 1;
}

.form-shape img {
    position: absolute;
    top: -40px;
    left: -41px;
    z-index: -1;
}

.relative {
    position: relative;
}

.third-section {
    background: #edf7ff url(../images/unfair-advantage-bg.png) no-repeat center;
    background-size: cover;
    padding: 100px 0px;
}

.pre-box {
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.h-line {
    background-color: rgb(206, 212, 216);
    height: 2px;
    width: 100%;
}

.pl-tick li {
    background: url("../images/pl-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.l-tick li {
    background: url("../images/l-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.xs-max-height165 {
    max-height: 165px;
}

.video-frame {
    background: url(../images/lap.png) center center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding: 27px 112px 40px;
}

@media(max-width:767px) {
    .footer-section {
        background: #09090a;
        padding: 30px 0px;
    }
    .heading-bg {
        position: relative;
        background: #ffffff;
        padding: 12px;
        width: 100%;
        border-radius: 5px;
        display: inline-block;
    }
    .plxs0 {
        padding-left: 0;
    }
    .video-frame {
        background: transparent;
        background-size: 100% 100%;
        width: 100%;
        padding: 0px;
    }
}

@media(min-width:767px) {
    .xs-max-height165 {
        max-height: 100%;
    }
}

.fourth-section {
    background: #f5efff;
    padding: 0% 0 0%;
}

.af-box {
    border-radius: 25px;
    background-color: rgb(239, 243, 246);
}

.pfbox {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
    padding: 30px 20px;
}

.af-btn a {
    border-radius: 30px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 10px 10px;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.leader-ul li a,
.leader-ul li a:hover,
.leader-ul li a:focus {
    text-decoration: none;
}

.sixth-section {
    background: #eff3f6 url("../images/wave-dots.png") no-repeat center center;
    background-size: cover;
    padding: 3% 0 5%;
}

.seventh-section1 {
    background: #eff3f6;
    padding: 3% 0 5%;
}

a.alink,
a.alink:hover,
a.alink:focus {
    text-decoration: none;
    color: #5c6ac4;
}

.seventh-section {
    background: url("../images/dot-shape.png") no-repeat center center;
    padding: 5% 0;
}

.lightcolor {
    color: #deff00;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.feature-section {
    background: #fff url(../images/feature-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section {
    background: #eff3f6 url(../images/software-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section img {
    max-height: 141px;
}

.leaderboard-section {
    background: #eff3f6 url(../images/leaderboard-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.contact-section {
    background: #fff url(../images/contact-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.prize-section {
    background: #22103b;
    background-size: cover;
    padding: 4% 0;
}

.funnel-section {
    background: #eff3f6 url(../images/funnel-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.theme-clr {
    color: #09236f;
}

.clear {
    clear: both;
}

.vendor-section {
    background: #fff url(../images/dots.png) no-repeat right center;
    padding: 4% 0;
}

.name-box {
    background: #5c6ac4;
    padding: 0px 30px;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.footer-section {
    /*background: url(../images/footer-bg.png);
    background-position: top left;
    background-size: cover;*/
    background: #09090a;
    padding: 50px 0px 50px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.instant-btn a {
    border-radius: 5px;
    background-image: -moz-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -webkit-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -ms-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
}

.instant-btn a:hover {
    background: rgb(253, 139, 37);
    background: linear-gradient(90deg, rgba(253, 139, 37, 1) 0%, rgba(255, 108, 29, 1) 100%);
    color: #ffffff;
}

.section1 {
    padding: 30px 0;
    background: #fafaff;
}

.section2 {
    padding: 30px 0;
    background: #ffffff;
}

.plan1-shape {
    background: #eef1f9;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.plan2-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgba(96, 145, 169, 0.19);
}

.tablebox1 {
    background: #9dbacc;
    width: 100%;
    float: left;
    border-radius: 30px;
}

.tablebox-inner-bg {
    background: #0044cd;
    padding: 30px;
    background-size: 100% 100%;
    border-radius: 10px;
}

.list-bg {
    background-color: #ffffff;
}

ul.vgreytickb,
ul.vgreytick,
ul.vgreytick1 {
    padding-left: 0px;
    padding-right: 0px;
}

ul.vgreytick li:nth-child(odd) {
    background-color: #52689a;
}

ul.vgreytick li:nth-child(even) {
    background-color: #213d7d;
}

.table-headline-shape {
    background: url(../images/table-headline-shape.png) no-repeat center center;
    background-size: contain;
    padding: 18px 19px 16px 17px;
}

.title-shape {
    background: #9c2341;
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}

.title-shape1 {
    background: #9c2341;
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}

@media(min-width:768px) {
    .title-shape {
        padding: 5px 30px;
    }
    .title-shape1 {
        padding: 5px 30px;
    }
    ul.vgreytick {
        margin: 0;
        padding: 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px;
    }
    .tablebox-inner-bg {
        padding: 30px 15px 30px 15px;
        background-size: cover;
        border-radius: 30px;
    }
    .section-margin {
        margin-top: 250px !important;
    }
    .pimg {
        margin-top: -255px;
    }
    .section1 {
        padding: 70px 0 100px 0;
        background: url(../images/section1.png) no-repeat center center;
        background-size: cover;
    }
    .section2 {
        padding: 70px 0 100px 0;
        background: url(../images/section2.png) no-repeat center center;
        background-size: cover;
    }
    .instant-btn a {
        font-size: 36px;
        padding: 28px 74px 30px 74px;
    }
}

@media(min-width:768px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}

.bottom-icon img {
    position: fixed;
    bottom: 0;
    right: 8px;
    z-index: 999
}

.vidborder {
    border: 2px solid #9a9a9a;
}

a.link-text {
    color: #301541;
    text-decoration: none;
}

.probtn a {
    background-color: #ff5072;
    border-bottom: 5px solid #ffc4ca;
    padding: 15px 15px 8px 15px;
    text-decoration: none;
    display: block;
    width: 100%;
    outline: none;
    color: #ffffff;
    border-radius: 100px;
}

.probtn a:hover {
    background-color: #f33c60;
}


/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    border: 1px solid #09236f;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    border: 1px solid #e7e7e7;
    width: 100%;
    float: left;
    background: #272f63;
}

.odd-shape {
    background: #003ebe;
    padding: 10px 15px;
}

.even-shape {
    background: #0044cd;
    padding: 10px 15px;
}

.price-shape {
    background: #ffffff;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}

.now-price {
    background: #f68a1e;
    padding: 12px 10px;
    border-radius: 65px;
}

@media (max-width: 767px) {
    ul.vgreytick {
        padding: 0px 15px;
    }
}

ul.vgreytick li {
    /* background: url(../images/vgreytick.png) no-repeat; */
    list-style: none;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-position: 20px 20px;
    line-height: 150%;
    color: #ffffff;
}


/* ul.vgreytick li:last-child {
    border-bottom: 0px;
} */

ul.grey-tick-last li {
    background: url(../images/grey-tick-last.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 10px 10px 10px 48px;
    background-position: 20px 20px;
    line-height: 150%;
    border-bottom: 1px solid #090e2d;
    color: #ffffff;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

ul.vgreentick li {
    background: #ffffff url(../images/vgreentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 25px;
    line-height: 150%;
    color: #301541;
}

.tbbg2-text {
    color: #ffffff;
}

.tbbg2 {
    background: rgba(9, 35, 111, 1);
    background: -moz-linear-gradient(top, rgba(9, 35, 111, 1) 0%, rgba(9, 77, 111, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9, 35, 111, 1)), color-stop(100%, rgba(9, 77, 111, 1)));
    background: -webkit-linear-gradient(top, rgba(9, 35, 111, 1) 0%, rgba(9, 77, 111, 1) 100%);
    background: -o-linear-gradient(top, rgba(9, 35, 111, 1) 0%, rgba(9, 77, 111, 1) 100%);
    background: -ms-linear-gradient(top, rgba(9, 35, 111, 1) 0%, rgba(9, 77, 111, 1) 100%);
    background: linear-gradient(to bottom, rgba(9, 35, 111, 1) 0%, rgba(9, 77, 111, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#09236f', endColorstr='#094d6f', GradientType=0);
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

.tbbg3 {
    background: url(../images/plan2.png) no-repeat center top;
    padding: 32px 15px 80px;
    background-size: cover;
}

.bought-text {
    background: #ffeb09;
    padding: 8px 10px;
}

@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 20px 20px 20px 20px;
    }
    ul.grey-tick-last li {
        padding: 15px 10px 15px 52px;
    }
    .mt-sm-170 {
        margin-top: 170px
    }
    .mt-sm-90 {
        margin-top: 90px
    }
    .probtn a {
        padding: 34px 15px 26px 15px;
        border-bottom: 10px solid #ffc4ca;
    }
}

.buypad {
    padding: 4% 3%;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
}

.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}

.secnd-sec {
    background-color: #edf7ff;
    padding: 50px 0;
}

.shadow-img {
    margin-top: -40px;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

@media (min-width: 768px) {
    .myfeatureslast {
        padding: 30px 15px 30px;
    }
}

.ribbonimg {
    position: absolute;
    top: 100px;
    right: 0px;
    height: 50px;
}

.xs-height125 {
    height: 125px;
}

.xs-height50 {
    height: 55px;
}

@media(min-width:240px) {
    .ribbonimg {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 90px;
    }
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    color: #09236f;
    text-decoration: none;
}

@media(min-width:768px) {
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    }
}


/*Table CSS Enad*/

.moneyback-section {
    background: #ffffff;
    background-size: cover;
    padding: 6% 0 6%;
    color: #000000;
}

.license-section {
    background: #301642;
    background-size: cover;
    padding: 6% 0;
}

@media (min-width:768px) {
    .moneyback-section {
        background: #fff;
        padding: 6% 0 6%;
        color: #000000;
    }
    .license-section {
        background: #ecf0f5 url(../images/licensebg.png) no-repeat center center;
        background-size: cover;
        padding: 5% 0;
    }
    .mt-sm240 {
        margin-top: 240px;
    }
}

.yellow-clr {
    color: #f8e71c;
}

.bonus-section {
    background: #fff url(../images/bonus-bg.png) no-repeat bottom center;
    background-size: cover;
    padding: 100px 0px 130px 0px;
}

.bonus-count {
    background: #09236f;
    display: inline-block;
    padding: 10px 29px 6px 29px;
    border-radius: 15px;
}


/* btn-1 */

.probtn-1 a {
    background: rgb(216, 246, 126);
    color: #000000;
    padding: 3%;
    text-decoration: none;
    display: block;
    width: 100%;
    outline: none;
    border-radius: 10px;
    /* 
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; */
}

.probtn-1 a:hover {
    background: #c2e263;
}

.bdr-1 {
    position: absolute;
    background: #b7b7b7;
    width: 1px;
    height: 89%;
    left: 50%;
    /* border-right: 1px solid #b7b7b7; */
}

.act-section {
    background: #ffffff url(../images/unfair-advantage-bg.png) no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 6% 0;
}

@media (max-width:767px) {
    .bdr-1 {
        border-right: 0px solid #b7b7b7;
    }
    .third-section,
    .act-section {
        background: #edf7ff;
        padding: 30px;
    }
}

.no-wrap {
    white-space: nowrap;
}


/*Oto 3 Main CSS Start*/


/* Header Section */

.pur-clr {
    color: #09236f;
}

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 15px 45px;
    color: #000000;
    line-height: 150%;
    font-size: 20px;
}

.kaptick li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .kaptick li {
        padding: 0 0 30px 45px;
    }
}

.supercharge-ul li {
    list-style: none;
    background: url(../images/srtick.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 15px 40px;
}

.light-green {
    color: #d8f67e;
}

.tickul li {
    list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 8px;
    padding: 6px 0 15px 50px;
}

@media (max-width: 767px) {
    .footer-section {
        background: #09090a;
        padding: 30px 0px;
    }
    .content-mbl-space {
        padding: 30px 0px;
    }
    .bonus-section {
        background: #edf7ff;
        padding: 30px 0px;
    }
}

.red-text {
    color: red;
}

.shape1 {
    background: url(../images/shape1.png) no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 14px 10px 10px;
}

.shape2 {
    background: url(../images/shape2.png) no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 20px 10px 18px;
}


/******new********/

.post-heading {
    background: #ffcf69;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
}

.img-shadow {
    box-shadow: 0px 0px 15px 0px rgb(73 76 80 / 25%);
}
.riskfree-section {
    background: #fd8b25;
    padding: 30px 0px;
}
.second-header-section {
        padding: 30px 0;
    background: #00175f;
}
.niche-bg {
    border-radius: 40px;
    background: #fd8b25;
    padding: 2px 30px;
    display: inline-block;
}
.step-shape {
    border-width: 4px;
    border-color: rgb(255, 125, 29);
    border-style: solid;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
	width:100%;
	float:left;
	padding:20px;
	height:100%;
	color:#fff;
}
.step-shape1 {
    background-color: rgb(255, 125, 29);
    max-width: 280px;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: -50px;
    padding: 7px 20px;
}

@media (min-width:768px) {
    .pro-img img.img-fluid.d-block {
        height: 350px;
    }
    .img-shadow {
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 25%);
    } 
	.riskfree-section {
    padding: 100px 0px;
    background: #ffffff url(../images/riskfree-bg.png) no-repeat bottom center;
    background-size: cover;
}
.second-header-section {
    background: #00175f url(../images/cta-bg-new.png) no-repeat center center;
    background-size: cover;
    padding: 100px 0;
}
.niche-bg {
    padding: 2px 50px;
}
}

.animate-charcter {
    background-image: linear-gradient( -225deg, #001963 0%, #ff0505 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    0% {
        background-position: 200% center;
    }
}