.countdown.countdown-white .timer-label .timerbg,
.countdown.countdown-white .timer-label .smmltd,
.countdown.countdown-white .timer-label span{
	color:#ffffff;
	
}
.countdown2.countdown-white .timer-label .timerbg,
.countdown2.countdown-white .timer-label .smmltd,
.countdown2.countdown-white .timer-label span{
	color:#ffffff;
	
}
.countdown {
    background-color: transparent;
	color:#000000;
    border-radius: 10px;
    padding:15px 0px;
    font-weight: 600;
}

.countdown2 {
    background-color: transparent;
	color:#ffffff !important;
    border-radius: 10px;
    padding:15px 0px;
    font-weight: 600;
}

.countdown3 {
    background-color: transparent;
	color:#000000 !important;
    border-radius: 10px;
    padding:15px 0px;
    font-weight: 600;
}

.countdown4 {
    background-color: transparent;
	color:#000000 !important;
    border-radius: 10px;
    padding:15px 0px;
    font-weight: 600;
}

.countdown5 {
    background-color: transparent;
	color:#000000 !important;
    border-radius: 10px;
    padding:15px 0px;
    font-weight: 600;
}


.countdown6 {
    background-color: transparent;
	color:#000000 !important;
    border-radius: 10px;
    padding:15px 0px;
    font-weight: 600;
}


.countdown7 {
    background-color: transparent;
	color:#000000 !important;
    border-radius: 10px;
    padding:15px 0px;
    font-weight: 600;
}


.inline{display:inline-block; padding:0 1%;}
@font-face
{
font-family:oswald;
src:url(../fonts/Oswald.otf);
}
.hs_date_wrapper {
float: left;
width: 100%;
}

.hs_time {
height: auto;
width: 100%;
margin-top: 15px;
}


.hs_time .hs_time_part {
width: 100%;
}
@media (min-width:240px){
.hs_hours {

}
.timer_caption
{
font-size:16px;
}
.hs_days
{
font-size:9px;
}
.hs_hour
{
font-size:9px;
}
.hs_min
{
font-size:9px;
}
.hs_sec
{
font-size:9px;
}
.hs_days {
	color: #ffffff;
	float: left;
	text-align:center;
	height: auto;
	width:25%;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}

.hs_min {
	color: #ffffff;
	float: left;
	height: auto;
	width:25%;
	text-align:center;
	padding-right:10px;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}

.hs_sec {
	color: #ffffff;
	float: left;
	height: auto;
	width:25%;
	text-align:center;
	padding-right:13px;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}

.hs_hour {
	color: #ffffff;
	float: left;
	height: auto;
	text-align:center;
	width:25%;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}
}

@media (min-width:768px){
.hs_hours {
font-size:22px;
}
.timer_caption
{
font-size:1.2em;
}
.hs_days
{
font-size:10px;
}
.hs_hour
{
font-size:10px;
}
.hs_min
{
font-size:10px;
}
.hs_sec
{
font-size:10px;
}
.hs_days {
	color: #fff;
	float: left;
	text-align:right;
	height: auto;
	width:25%;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}

.hs_min {
	color: #fff;
	float: left;
	height: auto;
	width:25%;
	text-align:center;
	padding-right:10px;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}

.hs_sec {
	color: #fff;
	float: left;
	height: auto;
	width:25%;
	text-align:left;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}

.hs_hour {
	color: #fff;
	float: left;
	height: auto;
	text-align:center;
	width:25%;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}
}
@media (min-width:992px){
.hs_hours {

}
.timer_caption
{
font-size:1.4em;
}
.hs_days
{
font-size:12px;
}
.hs_hour
{
font-size:12px;
}
.hs_min
{
font-size:12px;
}
.hs_sec
{
font-size:12px;
}
.hs_days {
	color: #fff;
	float: left;
	text-align:right;
	height: auto;
	width:25%;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}

.hs_min {
	color: #fff;
	float: left;
	height: auto;
	width:25%;
	text-align:center;
	padding-right:10px;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}

.hs_sec {
	color: #fff;
	float: left;
	height: auto;
	width:25%;
	text-align:left;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}

.hs_hour {
	color: #fff;
	float: left;
	height: auto;
	text-align:center;
	width:25%;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}
}
@media (min-width:1200px){
.hs_hours {
font-size:28px;
}
.timer_caption
{
font-size:1.8em;
}
.hs_days
{
font-size:12px;
}
.hs_hour
{
font-size:12px;
}
.hs_min
{
font-size:12px;
}
.hs_sec
{
font-size:12px;
}
.hs_days {
	color: #fff;
	float: left;
	text-align:center;
	height: auto;
	width:25%;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}

.hs_min {
	color: #fff;
	float: left;
	height: auto;
	width:25%;
	text-align:center;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}

.hs_sec {
	color: #fff;
	float: left;
	height: auto;
	width:25%;
	text-align:center;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}

.hs_hour {
	color: #fff;
	float: left;
	height: auto;
	text-align:center;
	width:25%;
	text-decoration: none;
	margin-top: -2%;
	text-transform: capitalize;
}
}
.hs_hours {
color: #fff;
float: left;
height: auto;
width: 100%;
text-align:center;
font-family:oswald;
text-decoration: none;
}
.dt_title
{
	width:100%;
	margin-top: -5%;
}


/* Timer CSS */
.timerbg{padding:0px 0px; color:#fff;}
.counter-black .timerbg{color: #000000 !important;}
.timer-footer{color: #fff !important;}


/* Css For Timer Display */
@media(min-width:240px){
  .smmltd{margin-left:-35%;}
}

/* Css For Timer Display */
@media(min-width:768px){
  .timer-label{margin-right:0px; display:inline-block}
  .timerbg{padding:0px 5px;}
  .smmltd{margin-left:-35%;}
}

.inline{display: inline-block;}
.timer{display:inline-block; padding-left:0%; padding-right:0%;}
.timer-label{margin-right:0px; display:inline-block;}
.timerbg1{padding:0px 0px; color:#fff;}

/* Use This Class in Timer Script */
.hideme{opacity:0;}

/* Timer CSS */
.timerbg{padding:0px 0px; color:#fff;}
.counter-black .timerbg{color: #000000 !important;}
.timer-footer{color: #fff !important;}


