/* Pricing page css */

.pricing-banner {
    background: #fc7c0f;
    padding: 30px 0px;
}

.pricing-banner .pre-title {
    color: #b3adc2;
}

.pricing-banner .title {
    color: #fff;
}
.black-clr{
    color: #000000;
}
.pricing-banner .sub-title {
    color: #cfcbd8;
}
.orange-clr, a.orange-clr {
    color: #fe6e09;
}

.pricing-right-border .title {
    font-size: 18px;
    line-height: 140%;
    font-weight: 700;
    color: #ffffff;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .pricing-right-border .title {
        font-size: 20px;
    }
}

.pricing-right-border .subtitle {
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    color: #a19cac;
    margin-top: 2px;
}

.save-upto-back {
    background: url(../images/pricing/save-upto-back.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 15px 20px 10px;
    position: absolute;
    right: -0px;
    top: -40px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
}

@media (min-width:768px) {
    .save-upto-back {
        right: -20px;
        top: -40px;
        padding: 18px 24px 12px;
    }
    .pricing-banner {
        background: #fc7c0f url(../images/pricing/pricing.png) no-repeat;
        background-position: center bottom;
        background-size: cover;
        padding: 88px 0px 100px 0px;
    }
    .pricing-right-border {
        position: relative;
    }
    .pricing-right-border:after {
        position: absolute;
        content: '';
        min-height: 100px;
        width: 1px;
        right: 0px;
        top: 0px;
        background: #2c1d4e;
    }
    .pricing-right-border:last-child:after {
        display: none;
    }
    .pricing-right-border .title {
        font-size: 24px;
    }
    .pricing-right-border .subtitle {
        font-size: 16px;
    }
    .save-upto-back {
        right: -25px;
        top: -28px;
        font-size: 12px;
    }
}

.pricing-spilt-dropdown,
.pricing-spilt-dropdown .dropdown-menu {
    width: 200px;
    max-height: 180px;
}

@media (min-width:768px) {
    .pricing-spilt-dropdown .dropdown-menu a.dropdown-item {
        font-size: 16px;
    }
}

ul.pricing-tabs {
    margin: 0;
    padding: 0;
    border: 0px;
    display: inline-flex;
    border-radius: 0px;
}

@media (min-width:768px) {
    ul.pricing-tabs li.nav-item {
        min-width: 292px;
        text-align: center;
    }
}

ul.pricing-tabs {
    position: relative;
}

ul.pricing-tabs .nav-link {
    border-radius: 0px;
    padding: 12px 30px;
    color: #a19cac;
    font-size: 16px;
    font-weight: 400;
    background: transparent;
    border: 1px solid #ffffff;
}

ul.pricing-tabs .nav-link:focus,
ul.pricing-tabs .nav-link:hover {
    border: 1px solid #ffffff;
}

ul.pricing-tabs .nav-item.show .nav-link,
ul.pricing-tabs .nav-link.active {
    color: #1b122e;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

ul.pricing-tabs .nav-item:first-child .nav-link {
    border-radius: 5px 0px 0px 5px;
}

ul.pricing-tabs .nav-item:last-child .nav-link {
    border-radius: 0px 5px 5px 0px;
}

.pricing-table-container {
    position: relative;
    margin-top: 0px;
}

.pricing-table-box {
    background: #ffffff;
    position: relative;
    margin-top: 31px;
    width: 100%;
}

.table-boxbg {
    background: #eef0f9;
    /* border-top: 0px; */
}

@media(max-width:767px) {
    .table-subtitle {
        margin-top: 31px;
    }
    .pricing-table-box {
        margin-top: 0px;
    }
}

.table-subtitle {
    font-size: 11px;
    color: #ffffff;
    font-weight: 400;
    line-height: 120%;
    background: #000000;
    border-radius: 5px 5px 0px 0px;
    padding: 6px 5px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: -34px;
}

@media(min-width:768px) {
    ul.pricing-tabs .nav-link {
        font-size: 18px;
    }
    .pricing-table-container {
        position: relative;
        margin-top: 0px;
    }
    .border-l-0 {
        border-left: hidden;
    }
    .border-r-0 {
        border-right: hidden !important;
    }
    .border-lr-0 {
        border-left: hidden;
        border-right: hidden;
    }
    /* .pricing-table-box.first-coloum-radius{	
	border-radius: 5px 0px 0px 5px;
} */
    .pricing-table-box.last-coloum-radius {
        border-radius: 0px 5px 5px 0px;
    }
    .table-subtitle {
        min-height: 25px;
        top: -25px;
    }
}

@media(min-width:1200px) {
    .table-subtitle {
        font-size: 14px;
    }
}


/*.pricing-table-area{
	border-radius: 5px;
	overflow: hidden;
}
*/


/* Table Header */

.pricing-table-box .pricing-table-header {
    padding: 15px 15px 0px 15px;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    border-bottom: 0px;
    border-right: 0px;
}

.owl-item:last-of-type .pricing-table-box .pricing-table-header {
    border-right: 1px solid #e9e9e9;
}

.pricing-table-box .pricing-table-header.header-limited-pric {
    padding: 28px 5px 15px;
}

.pricing-table-box .pricing-table-header.border-r0px {
    border-right: 0px;
}

.pricing-table-box.table-boxbg .pricing-table-header {
    background: #eef0f9;
}

.pricing-buy-btn-wrap {
    text-align: left;
    border: 0px;
    padding: 0px 20px;
}

.owl-item:last-of-type .pricing-buy-btn-wrap {
    border-right: 1px solid #e9e9e9;
}

.pricing-buy-btn-wrap.border-left0 {
    border-left: 0px;
}

@media (min-width:768px) and (max-width:1191px) {
    .pricing-table-box .pricing-table-header {
        padding: 15px 10px 0px;
    }
}

.pricing-table-header .title {
    font-size: 40px;
    font-weight: 700;
    color: #fe6e09;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px
}

.pricing-table-header .sub-title {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    line-height: 120%;
    margin-bottom: 7px
}

.pricing-table-header .red-title {
    font-size: 14px;
    font-weight: 500;
    color: #ff2332;
    line-height: 140%;
}

.m-blue-sub-title {
    font-size: 16px;
    font-weight: 400;
    color: #fe6e09;
    line-height: 140%;
}

.pricing-table-box .sub-title {
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    line-height: 160%;
    margin-top: 7px;
    margin-bottom: 15px;
}

.pricing-table-header .description {
    font-size: 16px;
    font-weight: 400;
    color: #34303f;
    line-height: 120%;
    margin-bottom: 12px;
}

.pricing-table-box.table-boxbg .sub-title,
.pricing-table-box.table-boxbg .description {
    color: #000000;
}

.pricing-table-box .pricing {
    display: flex;
    justify-content: left;
}

.pricing-table-box .pricing .dollor {
    font-size: 26px;
    color: #34303f;
    font-weight: 500;
    position: relative;
    align-self: baseline;
    top: -4px;
}

.pricing-table-box .pricing .value {
    font-size: 40px;
    color: #000000;
    line-height: 100%;
    font-weight: 700;
}

.pricing-table-box .pricing .month {
    font-size: 12px;
    color: #34303f;
    font-weight: 500;
    line-height: 100%;
    padding-left: 0px;
    position: relative;
    top: -8px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}


/* Pricing Table Content */

.pricing-table-box .pricing-table-content {
    padding: 0px;
}

.pricing-table-box.table-boxbg .pricing-table-header {
    padding: 40px 15px 15px;
}

.pricing-table-box .price-table-heading {
    font-size: 16px;
    margin-top: 15px;
    color: #000000;
    font-weight: 700;
    padding: 10px 0px 10px 20px;
    margin-top: 0px;
    background: #f7f7fc;
    margin-bottom: 0px;
}

.owl-item:first-of-type .pricing-table-box .price-table-heading {
}

.owl-item:last-of-type .pricing-table-box .price-table-heading {
    border-right: 1px solid #e9e9e9;
}

@media (min-width: 768px) {
    .pricing-table-box .price-table-heading {
        margin-top: 0px;
        min-height: 42px;
    }
    .pricing-table-box .sub-title {
        margin-bottom: 20px;
    }
    .pricing-table-bottom {
        padding: 0px 5px 17px 5px;
        border: 0px;
    }
    .md-bottom-button .col-md-3:last-of-type .pricing-table-bottom {
        border-right: 1px solid #e9e9e9;
    }
    .pricing-table-bottom.border-l-0 {
        border-left: 0px;
    }
    .pricing-table-bottom.first-coloum-radius {
        border-radius: 0px 0px 0px 5px;
    }
    .pricing-table-bottom.last-coloum-radius {
        border-radius: 0px 0px 5px 0px;
    }
    .pricing-table-box.first-coloum-radius,
    .pricing-table-box.first-coloum-radius .pricing-table-header {
        border-radius: 5px 0px 0px 0px;
    }
    .pricing-table-box.last-coloum-radius,
    .pricing-table-box.last-coloum-radius .pricing-table-header {
        border-radius: 0px 5px 0px 0px;
    }

    .pricing-table-content ul.features li.blank-list-li,
    .pricing-table-content.active ul.features li.blank-list-li {
        padding-right: 45px;
    }
    .pricing-table-box .price-btn,
    .pricing-table-bottom .price-btn {
        padding: 13px 10px;
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .pricing-table-box .price-btn,
    .pricing-table-bottom .price-btn {
        padding: 13px;
        font-size: 18px;
        border: solid 1px #fe6e09;
    }

    .pricing-table-box .pricing {
        padding-right: 0px;
    }
    .pricing-table-box .pricing .dollor {
        font-size: 34px;
        top: -8px;
    }
    .pricing-table-box .pricing .value {
        font-size: 48px;
    }
    .pricing-table-box .pricing .month {
        font-size: 15px;
        top: -6px;
    }
    .pricing-table-box .pricing-table-header,
    .pricing-table-box.table-boxbg .pricing-table-header {
        padding: 18px 15px 0px 30px;
    }
    .pricing-table-box .pricing-table-header.header-limited-pric {
        padding: 18px 30px 0px;
    }
}

.pricing-table-content ul.features {
    margin: 0px;
}



.pricing-table-content ul.features {
    margin: 0px;
    padding-left: 45px;
}

.pricing-table-content ul.features li.blank-list-li,
.pricing-table-content.active ul.features li.blank-list-li {
    padding-right: 45px;
}

@media (min-width:768px) {
   
    .pricing-table-box .price-table-heading {
        font-size: 12px;
    }
}

.limited-pricing .pricing-table-content ul.features {
    border-right: 0px;
}

.pricing-table-content ul.features li {
    list-style: none;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    min-width: 22px;
    min-height: 22px;
    padding: 8px 10px 8px 0px;
    position: relative;
}

.pricing-table-content ul.features li:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fe6e09;
    top: 14px;
    left: -17px;
    border-radius: 50%;
}

.limited-pricing .pricing-table-content ul.features li:before {
    background: #fe6e09;
}

.pricing-table-content ul.features.w400 li {
    font-weight: 400;
}

.includes-back {
    background: #000000;
    padding: 5px;
    display: block;
    text-align: center;
    color: #ffffff;
    line-height: 120%;
    min-height: 30px;
    margin-top: 15px;
    border-right: 1px solid #f1f1f1;
}

.limited-pricing .includes-back {
    border-right: 0px;
}


/* Pricing Table Bottom */

.pricing-table-box .pricing-table-bottom {
    padding: 15px;
    text-align: center;
    border-right: 1px solid #f1f1f1;
}

.xs-buy-btn-border {
    border-right: 1px solid #f1f1f1;
}

.pricing-table-bottom .viewmore,
.pricing-table-bottom .viewmore:hover {
    font-size: 14px;
    font-weight: 400;
    color: #fe6e09;
}

@media (min-width:768px) {
    .pricing-table-content ul.features li {
        font-size: 15px;
    }
    .includes-back {
        margin-top: 20px;
    }
}

@media (min-width:1200px) {
    .pricing-table-bottom .viewmore,
    .pricing-table-bottom .viewmore:hover {
        font-size: 16px;
    }
    .pricing-table-box.first-coloum-radius .pricing-table-header,
    .pricing-table-box .pricing-table-header.header-limited-pric {
        padding: 18px 0px 0px 29px;
    }
    .pricing-table-content ul.features li {
        padding: 8px 8px 8px 0px;
    }
    .pricing-table-box .price-table-heading {
        font-size: 18px;
    }
}

@media (min-width:768px) and (max-width:1191px) {
    .pricing-table-box .pricing-table-bottom {
        padding: 30px 15px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pricing-table-box .pricing-table-header.header-limited-pric {
        padding: 15px 10px 0px;
    }
    .pricing-table-header .title {
        font-size: 34px;
    }
    .pricing-table-header .red-title,
    .m-blue-sub-title,
    .pricing-table-box .sub-title {
        font-size: 12px;
    }
    .price-btn.mb28.mt39.mt-md44 {
        margin-top: 58px !important;
    }
    .pricing-table-content ul.features li {
        font-size: 12px;
        padding: 8px 9px 4px 0px;
    }
    .pricing-table-content ul.features {
        padding-left: 18px;
    }
    .pricing-table-content ul.features li:before {
        width: 4px;
        height: 4px;
        left: -11px;
    }
    .includes-back {
        height: 50px;
    }
    .pricing-table-box .price-table-heading {
        padding: 10px 0px 10px 10px;
    }
    .pricing-table-content ul.features li.blank-list-li,
    .pricing-table-content.active ul.features li.blank-list-li {
        padding-right: 18px;
    }
}

.pricing-table-content ul.features li.blank-list-li,
.pricing-table-content.active ul.features li.blank-list-li {
    background-image: none;
    color: #aaa6b3;
    font-size: 20px;
}

.pricing-table-content ul.features li.blank-list-li:before,
.pricing-table-content.active ul.features li.blank-list-li:before {
    display: none;
}


/* Frequently Asked Questions Css */

.faq-banner {
    background: #f4f9fc;
}

ul.faq-question {
    margin: 0;
    padding: 0;
}

ul.faq-question li {
    float: left;
    border-bottom: solid 1px #ced4d8;
    padding: 15px 0px;
    width: 100%;
    background: url(../images/faq-circle.png) no-repeat center left;
    min-width: 6px;
    min-height: 6px;
    padding-left: 26px;
    list-style: none;
}

ul.faq-question li a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #34303f;
}

@media (min-width:768px) {
    ul.faq-question li {
        width: 43%;
        margin-right: 7%;
        padding: 25px 0px;
        padding-left: 26px;
    }
    ul.faq-question li a {
        font-size: 16px;
        font-weight: 500;
    }
}

ul.faq-question li:last-child,
ul.faq-question li:nth-last-child(2) {
    border-bottom: hidden;
}

ul.faq-question li a:hover {
    color: #fe6e09;
}


/* Solution Price Table CSS */

.solution-table-heading {
    padding: 50px 15px 34px;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 5px;
    height: 100%;
}

.table-price-section {
    padding: 20px 10px;
    border: 1px solid #f1f1f1;
    border-left: 0px;
    height: 100%
}

.table-price-section.table-price-section-radius {
    border-top-right-radius: 5px;
}

.solution-blue-text {
    color: #fe6e09;
    font-weight: 700;
    margin-right: 8px;
    margin-top: 2px;
    font-size: 14px;
}

.solution-price-text {
    line-height: 100%;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

.solution-price-text sup {
    font-size: 18px;
    font-weight: 500;
    top: -0.53em;
}

.solution-price-text span {
    font-size: 12px;
    font-weight: 500;
    color: #34303f;
}

a.price-btn-h30 {
    border: 1px solid #fe6e09;
    background: #ffffff;
    border-radius: 5px;
    padding: 3px 5px;
    display: block;
    color: #000000;
    font-weight: 700;
    font-size: 16px !important;
    display: block;
}

a.price-btn-h30.current-plan,
a.price-btn-h30:hover.current-plan a.price-btn-h30:focus.current-plan {
    background: #eff3f6 !important;
    border: solid 1px #ced4d8 !important;
    color: #010101 !important;
}

.popular-solutuin-price {
    background: #e9ebf5;
}

a.price-btn-h30:hover,
a.price-btn-h30:focus {
    background-color: #ed680b;
    color: #ffffff;
    padding: 3px 5px;
    display: block;
    border-color: #ed680b;
    box-shadow: none;
    outline: none;
    font-size: 16px !important;
}

.popular-solutuin-price a.price-btn-h30 {
    background-color: #fe6e09;
    color: #ffffff;
    padding: 3px 12px;
    display: block;
    border-color: #fe6e09;
    box-shadow: none;
    outline: none;
}

.popular-solutuin-price a.price-btn-h30:hover,
.popular-solutuin-price a.price-btn-h30:focus {
    background: #ed680b;
}

.purchase-now-text {
    color: #fe6e09;
}

.popular-solutuin-price .purchase-now-text {
    color: #ffffff;
}

.solution-table-responsive {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.price-dropdown-option {
    padding: 20px;
}

.price-dropdown-option .bootstrap-select>.select-btn-style,
.price-dropdown-option .bootstrap-select>.select-btn-style:hover,
.price-dropdown-option .bootstrap-select>.select-btn-style:focus {
    height: 30px;
    padding: 4px 15px;
}

.price-accordion .card-header {
    padding: 15px;
    padding-left: 0px;
    background: #ffffff;
    border: 0px;
}

.price-accordion .card-header a {
    margin-left: 10px;
}

.price-accordion .card {
    border: 0px;
    position: relative;
}

.price-accordion .card-header {
    border: 0px;
    position: relative;
    display: flex;
    align-items: center;
}

.price-accordion .card-header::after {
    content: " ";
    display: block;
    position: absolute;
    height: 1px;
    background: #f1f1f1;
    width: 282%;
    left: 0px;
    top: 99%;
}

.price-accordion .card .card-header a {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
}

.price-accordion .card-body {
    padding: 0px 0px 2px;
    margin-bottom: 15px;
}

.price-accordion .card .card-header::before {
    font-family: 'icomoon';
    content: "\a336";
    color: #000000;
    font-size: 12px;
    top: 0px;
    width: 25px;
    height: 25px;
    background: #eaecf3;
    border-radius: 50%;
    display: inline-block;
    line-height: 25px;
    text-align: center;
}

.price-accordion .card .card-header.collapsed::before {
    font-family: 'icomoon';
    content: "\a338";
}

.price-table-row:nth-child(odd) .price-table-col1 {
    background: #ffffff;
    padding: 13px;
    height: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
}

.price-table-row:nth-child(even) .price-table-col1 {
    background: #f9fafb;
    padding: 13px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*.price-table-row:nth-child(odd) .price-table-col1.active{
     background: #eef0f9;
}
.price-table-row:nth-child(even) .price-table-col1.active{
    background: #e9ebf5;
} */

.price-table-row .price-table-col1 {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
  
}

.price-table-row> :first-child .price-table-col1 {
    padding-left: 30px;
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
    border-left: hidden;
}

a.price-info-icon {
    font-size: 10px;
    margin-left: 5px;
    color: #7f7c88;
    text-decoration: none;
}

a.price-info-icon:hover,
a.price-info-icon:focus {
    color: #fe6e09;
}

@media (min-width: 768px) {
    .price-accordion .card-header::after {
        width: 142%;
    }
    .price-accordion .card-body {
        margin-bottom: 40px;
    }
    .price-table-row .price-table-col1 {
        font-size: 16px;
    }
    a.price-info-icon {
        margin-left: 10px;
    }
}

@media (min-width: 992px) {
    .table-price-section {
        padding: 15px;
    }
    .price-accordion .card-header::after {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .price-dropdown-option {
        padding: 20px;
    }
    .solution-blue-text {
        font-size: 20px;
    }
    .solution-price-text sup {
        font-size: 18px;
    }
    .solution-price-text span {
        font-size: 14px;
    }
    .solution-price-text {
        font-size: 32px;
    }
    .price-accordion .card .card-header a {
        font-size: 20px;
        margin-left: 20px;
    }
    .solution-sticky-header {
        position: fixed;
        background: #ffffff;
        box-shadow: 0px 0px 8px 0px rgba(206, 212, 216, 0.9) !important;
        color: #ffffff !important;
        top: 0px;
        left: 0;
        z-index: 9310;
        width: 100%;
    }
    .solution-sticky-header .solution-table-heading {
        border-left: 0px;
        border-bottom: 0px;
    }
    .solution-sticky-header .table-price-section-radius {
        border-right: 0px;
    }
    .solution-sticky-header .table-price-section {
        border-bottom: 0px;
    }
    .solution-sticky-header .container {
        padding: 0px !important;
    }
}

@media (min-width: 1200px) {
    .table-price-section {
        padding: 20px 20px;
        min-height: 118px;
    }
    .solution-table-heading {
        padding: 45px 30px;
    }
}

@media (max-width: 767px) {
    .solution-table-responsive.container-1170 {
        max-width: 95%
    }
    .d-image-xs-block {
        width: 100%;
    }
}

.selectedvalue.dropdown-toggle::after {
    float: right;
    margin-top: 8px;
}


/* Solution Dropdown CSS */

.dropdown .selectedvalue:focus {
    background-color: #fe6e09;
    border-color: #fe6e09;
}

.dropdown.show .selectedvalue {
    background: #ed680b;
}


/* price Page New CSS */

.commitment-title .title {
    font-size: 24px;
    line-height: 140%;
    font-weight: 600;
    color: #151122;
}

.commitment-title .subtitle {
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    color: #34303f;
    margin-top: 15px;
}

.comparision-section {
    padding: 0px 0px 30px;
}

.comparision-section .title {
    font-size: 28px;
    line-height: 140%;
    font-weight: 700;
    color: #000000;
    font-family: 'Fira Sans', sans-serif;
}

@media ( min-width: 768px) {
    .commitment-title .title {
        font-size: 32px;
    }
    .commitment-title .subtitle {
        font-size: 18px;
        margin-top: 20px;
    }
    .comparision-section .title {
        font-size: 36px;
    }
}

@media ( min-width: 992px) {
    .comparision-section {
        padding: 70px 0px 80px;
    }
}

@media ( min-width: 1200px) {
    .comparision-section .title {
        font-size: 48px;
    }
}

ul.commitment-right li {
    background: url(../images/blue-right-icon.png) no-repeat top left;
    padding-left: 45px;
    list-style: none;
    font-size: 18px;
    padding-bottom: 25px;
    color: #000000;
}

ul.commitment-cross li {
    background: url(../images/cross-icon.png) no-repeat top left;
    padding-left: 45px;
    list-style: none;
    font-size: 18px;
    padding-bottom: 25px;
    color: #000000;
}


/* FAQ's Accordion */

.faq-accordion .card .card-header {
    font-family: 'icomoon';
    content: "\a338";
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: #000000;
}

.faq-accordion .card .card-header::before {
    font-family: 'icomoon';
    content: "\a336";
    color: #000000;
    font-size: 12px;
    margin-right: 15px;
    top: 0px;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 50%;
    display: inline-block;
    line-height: 26px;
    text-align: center;
    float: left;
}

.faq-accordion .card .card-header.collapsed::before {
    font-family: 'icomoon';
    content: "\a338";
    font-size: 12px;
    color: #000000;
    background: #f5dbdb;
}

.faq-accordion .card {
    background: transparent;
    border: 0px;
    margin-bottom: 15px;
    padding: 0px;
    border-radius: 0px;
}

.faq-accordion .card-header {
    background: #f7f0f0;
    border: solid 1px #f5dbdb;
    padding: 10px 0px 10px 15px;
    border-radius: 5px 5px 0px 0px;
}

.faq-accordion .card-header.collapsed {
    background: transparent;
    border: solid 1px #f1f1f1;
    padding: 10px 0px 10px 15px;
    border-radius: 5px;
}

.faq-accordion .card .card-header .card-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: #000000;
    display: flex;
}

.faq-accordion .card .card-body {
    padding: 15px;
    border: solid 1px #f1f1f1;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
}

.faq-accordion .card .card-body p.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: #000000;
}

.collapse-ex {
    display: none;
}

@media ( min-width: 768px) {
    .faq-accordion .card {
        margin-bottom: 30px;
    }
    .faq-accordion .card-header {
        padding: 10px 0px 10px 30px;
    }
    .faq-accordion .card-header.collapsed {
        padding: 10px 0px 10px 30px;
    }
    .faq-accordion .card .card-header .card-link {
        font-size: 18px;
    }
    .faq-accordion .card .card-body {
        padding: 30px;
    }
    .faq-accordion .card .card-body p.description {
        font-size: 16px;
    }
}


/* Pricing Page CSS Start */

.price-banner-icon {
    font-size: 42px;
    color: #fe6e09;
}

.pricing-table-container .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.pricing-table-container .owl-carousel .owl-stage {
    display: flex;
    flex-wrap: nowrap;
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}

.pricing-table-container .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    margin: 0px;
}

.pricing-table-container .owl-carousel .owl-item,
.pricing-table-container .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.pricing-table-container .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    max-width: 33.3%;
    -webkit-touch-callout: none;
    height: 100%;
}

.pricing-table-container .owl-carousel.owl-hidden {
    opacity: 0;
}

.pricing-table-container .owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
}

.pricing-table-container .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pricing-table-container .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab;
}

#price_table_xs1 .item,
#price_table_xs2 .item,
#price_table_xs3 .item {
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 100%;
    height: 100%;
}

#price_table_nav1 .item,
#price_table_nav2 .item,
#price_table_nav3 .item {
    padding: 0px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
}

#price_table_nav1 .item,
#price_table_nav2 .item,
#price_table_nav3 .item {
    border-bottom: 3px solid #ffffff;
    padding-bottom: 7px;
}

#price_table_nav1 .current1 .item,
#price_table_nav2 .current1 .item,
#price_table_nav3 .current1 .item {
    border-bottom: 3px solid #fe6e09;
}

#price_table_nav1 .item .price-title,
#price_table_nav2 .item .price-title,
#price_table_nav3 .item .price-title {
    color: #000000;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
}

#price_table_nav1 .item .price-num,
#price_table_nav2 .item .price-num,
#price_table_nav3 .item .price-num {
    color: #000000;
    margin-top: 5px;
}

#price_table_nav1 .item .price-subtitle,
#price_table_nav2 .item .price-subtitle,
#price_table_nav3 .item .price-subtitle {
    color: #000000;
    font-size: 10px;
    font-weight: 500;
    line-height: 110%;
    margin-top: 2px;
}

.table-header-fixed #price_table_nav1 .item .price-title,
.table-header-fixed #price_table_nav2 .item .price-title,
.table-header-fixed #price_table_nav3 .item .price-title {
    color: #000000;
}

.table-header-fixed #price_table_nav1 .item .price-num,
.table-header-fixed #price_table_nav2 .item .price-num,
.table-header-fixed #price_table_nav3 .item .price-num {
    color: #000000;
}

.table-header-fixed #price_table_nav1 .item .price-subtitle,
.table-header-fixed #price_table_nav2 .item .price-subtitle,
.table-header-fixed #price_table_nav3 .item .price-subtitle {
    color: #000000;
}

.pricing-table-container .owl-theme .owl-nav,
.price_table_nav .owl-nav {
    display: none;
}

#price_table_xs1.owl-theme,
#price_table_xs2.owl-theme,
#price_table_xs3.owl-theme {
    position: relative;
}

#price_table_nav1 .owl-stage,
#price_table_nav2 .owl-stage,
#price_table_nav3 .owl-stage {
    display: flex;
}

.pricing-table-container .price_table_xs {
    display: flex;
    opacity: 1;
}

@media(min-width: 768px) {
    .pricing-table-container .owl-carousel .owl-stage-outer {
        display: inline-flex;
    }
    .pricing-table-container .owl-carousel .owl-stage {
        display: -webkit-box;
        flex-wrap: nowrap;
    }
    .table-price-show {
        display: none;
    }
}

@media (max-width: 767px) {
    .price-table-xs-header.table-header-fixed {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 4px 4px 0px rgba(206, 212, 216, 0.7);
        z-index: 9310;
        padding: 0px;
    }
    .price-table-xs-header.table-header-fixed ul.pricing-tabs .nav-link {
        padding: 6px 30px;
        color: #000000;
        font-size: 12px;
        font-weight: 400;
        background: transparent;
        border: 1px solid #ced4d8;
    }
    .price-table-xs-header.table-header-fixed ul.pricing-tabs .nav-item.show .nav-link,
    .price-table-xs-header.table-header-fixed ul.pricing-tabs .nav-link.active {
        color: #ffffff;
        background-color: #39295d;
        border: 1px solid #39295d;
    }
    .price-table-xs-header.table-header-fixed .table-price-show {
        display: block;
    }
    .price-table-xs-header.table-header-fixed .save-upto-back {
        background: url(../images/pricing/save-upto-back-xs.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 9px 10px 5px;
        right: -0px;
        top: -24px;
        font-size: 7px;
    }
    .border-lr-0.table-boxbg {
        border-left: hidden;
        border-right: hidden;
        border-radius: 5px 5px 0px 0px;
    }
    .pricing-table-box .pricing-table-header {
        border-radius: 10px 10px 0px 0px;
        border: 0px;
    }
    .pricing-table-container .owl-carousel .owl-stage-outer {
        padding: 0px 1px 0px 2px
    }
}


/* Pricing Page CSS End */


/* Pricing Page Mobile View CSS */

.comparision-table-xs-view ul {
    display: flex;
    top: 0px;
    z-index: 10;
    padding-bottom: 14px;
}

.comparision-table-xs-view li {
    list-style: none;
    flex: 1;
}

.comparision-table-xs-view li:last-child {
    border-right: 1px solid #f1f1f1;
}

.comparision-table-xs-view button,
.comparision-table-xs-view button:hover,
.comparision-table-xs-view button:focus {
    width: 100%;
    border: 1px solid #ced4d8;
    border-right: 0;
    padding: 10px;
    background: #ffffff;
    font-size: 14px;
    font-weight: 500;
    min-height: 45px;
    color: #fe6e09;
    outline: none;
}

.comparision-table-xs-view li.active button {
    color: #fe6e09;
    border-bottom: 1px solid #fe6e09;
}

.comparision-table-xs-view table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.comparision-table-xs-view th {
    display: none;
}

.comparision-table-xs-view td,
.comparision-table-xs-view th {
    border: 1px solid #f1f1f1;
    padding: 10px;
    empty-cells: show;
}

.comparision-table-xs-view .pricing-btn-xs td {
    padding: 15px;
    text-align: center;
    border: solid 1px #f1f1f1;
    border-top: 0px;
}

.prcing-table-style .prcing-table-tr-td td {
    border: 0px;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
   
}

.prcing-table-style .prcing-table-tr-td:nth-child(odd) td {
    background: #ffffff;
}

.prcing-table-style .prcing-table-tr-td:nth-child(even) td {
    background: #f9fafb;
}

.prcing-table-style .prcing-table-tr-td> :first-child {
    border-left: 0px;
}

.comparision-table-xs-view td,
.comparision-table-xs-view th {
    text-align: left;
}

.comparision-table-xs-view td+td,
.comparision-table-xs-view th+th {
    text-align: center;
    display: none;
}

.comparision-table-xs-view td.active-td {
    display: table-cell;
}

.comparision-table-xs-view .pricing-xs-heading {
    background: #ffffff;
    font-weight: 700;
    color: #000000;
    border: 0px;
    border-bottom: solid 1px rgba(239, 239, 239, 1);
    padding: 12px 10px 12px 41px;
}

.comparision-table-xs-view .txt-l {
    font-size: 28px;
    font-weight: 700;
}

.comparision-table-xs-view .txt-top {
    position: relative;
    top: -9px;
    left: -2px;
}

.comparision-table-xs-view .hide {
    border: 0;
    background: none;
}

.hidden_row_acc {
    padding: 0 !important;
    border: 0px !important;
}

.accordion-toggle td {
    position: relative;
}

.prcing-table-style .accordion-toggle td::before {
    font-family: 'icomoon';
    content: "\a336";
    color: #000000;
    font-size: 12px;
    top: 12px;
    left: 5px;
    width: 25px;
    height: 25px;
    background: #eaecf3;
    border-radius: 50%;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    position: absolute;
}

.prcing-table-style .accordion-toggle.collapsed td::before {
    font-family: 'icomoon';
    content: "\a338";
}

.sticky-table-header .prcing-table-list {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1031;
}

.sticky-table-header .pricing-btn-xs td {
    position: fixed;
    left: 0px;
    top: 45px;
    width: 100%;
    z-index: 1031;
    background: #ffffff;
    padding: 10px 15px;
}

@media (min-width: 768px) {
    .comparision-table-xs-view .prcing-table-style .base-btn.price-btn-h30 {
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .comparision-table-xs-view ul {
        display: none;
    }
    .comparision-table-xs-view td,
    .comparision-table-xs-view th {
        display: table-cell !important;
    }
    .comparision-table-xs-view td,
    .comparision-table-xs-view th {
        width: 330px;
    }
    .comparision-table-xs-view td+td,
    .comparision-table-xs-view th+th {
        width: auto;
    }
}

.text-black {
    color: #000000;
}

.pricing-switch-btn input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.pricing-switch-btn input:checked {
    z-index: 1;
}

.pricing-switch-btn input:checked+label {
    color: #000000;
    font-weight: 500;
    cursor: default;
}

.pricing-switch-btn label {
    color: #7f7c88;
    font-weight: 400;
    transition: color 0.25s ease;
    cursor: pointer;
}

.pricing-switch-btn .toggle-inside {
    border-radius: 50%;
    background: #fe6e09;
    position: absolute;
    transition: all 0.1s ease 0.05s;
    top: -4px;
    height: 20px;
    width: 20px;
}

.switch--horizontal input {
    height: 13px;
    width: 38px;
    left: 50%;
    transform: translateX(-50%);
    top: 6px;
    margin: 0;
}

.switch--horizontal label {
    font-size: 15px !important;
    line-height: 140%;
    display: inline-block;
    width: 120px;
    height: auto;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

.switch--horizontal label:last-of-type {
    padding-left: 32px;
}

.switch--horizontal .toggle-outside {
    background: #ced2ed;
    position: absolute;
    width: 38px;
    height: 13px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.25s ease all;
    border-radius: 13px;
    top: 6px;
    transition: left 0.4s ease;
}

.switch--horizontal input:checked~.toggle-outside .toggle-inside {
    left: 0px;
    right: auto;
}

.switch--horizontal input~input:checked~.toggle-outside .toggle-inside {
    right: 0px;
    left: auto;
}

@media (min-width: 992px) {
    .switch--horizontal label {
        font-size: 18px !important;
        width: 164px;
    }
}


/* Responsive Table Height CSS */

@media (max-width: 991px) and (min-width: 768px) {
    .pricing-first-row {
        min-height: 310px;
    }
    .pricing-second-row {
        min-height: 230px;
    }
    .pricing-third-row {
        min-height: 505px;
    }
    .pricing-four-row {
        min-height: 400px;
    }
    .pricing-table-bottom {
        padding: 15px;
    }
    .pricing-four-row1 {
        min-height: 385px;
    }
}

@media (min-width: 992px) {
    .pricing-first-row {
        min-height: 310px;
    }
    .pricing-second-row {
        min-height: 230px;
    }
    .pricing-third-row {
        min-height: 505px;
    }
    .pricing-four-row {
        min-height: 400px;
    }
    .pricing-four-row1 {
        min-height: 460px;
    }
}

@media (min-width: 1200px) {
    .pricing-first-row {
        min-height: 310px;
    }
    .pricing-second-row {
        min-height: 230px;
    }
    .pricing-third-row {
        min-height: 410px;
    }
    .pricing-four-row {
        min-height: 250px;
    }
    .pricing-four-row1 {
        min-height: 390px;
    }
}


/* new css */

@media (max-width:767px) {
    .pricing-table-container .owl-carousel.owl-drag .owl-item {
        margin: 0px 10px;
    }
    #price_table_xs1 .item,
    #price_table_xs2 .item,
    #price_table_xs3 .item {
        border: solid 1px #edeff1;
        border-radius: 5px;
    }
    .pricing-buy-btn-wrap,
    .pricing-table-content ul.features,
    .xs-buy-btn-border,
    .pricing-table-box .pricing-table-bottom {
        border: 0px;
    }
    .pricing-table-content ul.features {
        padding-left: 30px;
    }
    .pricing-table-box .price-table-heading {
        padding-left: 15px;
    }
    .pricing-table-box .pricing-table-header.header-limited-pric {
        padding: 28px 15px 0px 15px;
    }
}

.enjoy-discount-text {
    position: relative;
    background: #dee1f3;
    padding: 3px 20px 3px 10px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    color: #000000;
    line-height: 140%;
    white-space: nowrap;
    overflow: hidden;
}

.enjoy-discount-text:after {
    content: "";
    position: absolute;
    top: 1px;
    right: -14px;
    height: 0;
    width: 0;
    border-top: 18px solid #ffffff;
    border-right: 18px solid transparent;
    transform: rotate(-45deg);
}

@media(min-width: 768px) {
    .discount-outer-div {
        position: absolute;
        top: 0px;
        right: 20px;
    }
    .enjoy-discount-text {
        font-size: 12px;
    }
    .enjoy-discount-text:after {
        border-top: 20px solid #ffffff;
        border-right: 20px solid transparent;
    }
    .pricing-wapper {
        box-shadow: inset 0 0 0 3px #1f1f1e;
        list-style-type: none;
        padding: 50px 60px;
        border-radius: 30px;
    }
}









































.pricing-container {
	width: 90%;
	max-width: 1170px;
	margin: 4em auto;
}

.pricing-switcher {
	text-align: center;
}

.pricing-switcher .fieldset {
	display: inline-block;
	position: relative;
	padding: 2px;
	border-radius: 50em;
	border: 2px solid #2d3e50;
	width:100%;
	max-width:250px;
}

.pricing-switcher input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.pricing-switcher label {
	position: relative;
	z-index: 1;
	display: inline-block;
	float: left;
    margin-bottom: 0px;
	width: 90px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	font-size: 1.4rem;
	color: #fe6e09;
	width: 31.33%;
}

input[type=radio]:checked + label {
    color: #fff;
	height: 40px;
	width: 90px;
	background-color: #2d3e50;
	border-radius: 50em;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
} 

.no-js .pricing-switcher {
	display: none;
}

.pricing-list {
	margin: 2em 0 0;
    display: flex;
    justify-content: center;
}

.pricing-list > li {
	position: relative;
	margin-bottom: 1em;
    list-style-type: none;
}

@media only screen and (min-width: 1050px) {
  .pricing-list {
    margin: 3em 0 0;
  }
  .pricing-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .pricing-list > li {
    width: 50%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }
  .has-margins .pricing-list > li {
    width: 32.3333333333%;
    float: left;
    margin-right: 1.5%;
  }
  .has-margins .pricing-list > li:last-of-type {
    margin-right: 0;
  }
}

.pricing-wrapper {
	position: relative;
    padding: 0px;
}

.touch .pricing-wrapper {
	-webkit-perspective: 2000px;
	-moz-perspective: 2000px;
	perspective: 2000px;
}

.pricing-wrapper.is-switched .is-visible {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-animation: rotate 0.5s;
	-moz-animation: rotate 0.5s;
	animation: rotate 0.5s;
}

.pricing-wrapper.is-switched .is-hidden {
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-ms-transform: rotateY(0);
	-o-transform: rotateY(0);
	transform: rotateY(0);
	-webkit-animation: rotate-inverse 0.5s;
	-moz-animation: rotate-inverse 0.5s;
	animation: rotate-inverse 0.5s;
	opacity: 0;
}

.pricing-wrapper.is-switched .is-selected {
	opacity: 1;
}

.pricing-wrapper.is-switched.reverse-animation .is-visible {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-animation: rotate-back 0.5s;
	-moz-animation: rotate-back 0.5s;
	animation: rotate-back 0.5s;
}

.pricing-wrapper.is-switched.reverse-animation .is-hidden {
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-ms-transform: rotateY(0);
	-o-transform: rotateY(0);
	transform: rotateY(0);
	-webkit-animation: rotate-inverse-back 0.5s;
	-moz-animation: rotate-inverse-back 0.5s;
	animation: rotate-inverse-back 0.5s;
	opacity: 0;
}

.pricing-wrapper.is-switched.reverse-animation .is-selected {
	opacity: 1;
}

.pricing-wrapper > li {
	background-color: #ffffff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;          
}

.pricing-wrapper > li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 50px;
	pointer-events: none;
	background: -webkit-linear-gradient( right , #ffffff, rgba(255, 255, 255, 0));
	background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
}

.pricing-wrapper > li.is-ended::after {
	display: none;
}

.pricing-wrapper .is-visible {
	position: relative;
	z-index: 5;
}

.pricing-wrapper .is-hidden {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.pricing-wrapper .is-selected {
	z-index: 3 !important;
}

@media only screen and (min-width: 1050px) {
  .pricing-wrapper > li::before {
    content: '';
    position: absolute;
    z-index: 6;
    left: -1px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 50%;
    width: 1px;
  }
  .pricing-wrapper > li::after {
    display: none;
  }
  .exclusive .pricing-wrapper > li {
    box-shadow: inset 0 0 0 3px #2d3e50;
    list-style-type: none;
    padding: 40px 20px;
    border-radius: 30px;
  }
  .has-margins .pricing-wrapper > li,
  .has-margins .exclusive .pricing-wrapper > li {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  :nth-of-type(1) > .pricing-wrapper > li::before {
    display: none;
  }
  .has-margins .pricing-wrapper > li {
    border-radius: 4px 4px 6px 6px;
  }
  .has-margins .pricing-wrapper > li::before {
    display: none;
  }
}

@media only screen and (min-width: 1500px) {
  .full-width .pricing-wrapper > li {
    padding: 2.5em 0;
  }
}

.no-js .pricing-wrapper .is-hidden {
	position: relative;
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-ms-transform: rotateY(0);
	-o-transform: rotateY(0);
	transform: rotateY(0);
	margin-top: 1em;
}

@media only screen and (min-width: 1050px) {
  .exclusive .pricing-wrapper > li::before {
    display: none;
  }
  .exclusive + li .pricing-wrapper > li::before {
    display: none;
  }
}

.pricing-header h2 {
	padding: 0.9em 0.9em 0.6em;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 10px;
    text-transform: uppercase;
	text-align: center;
}

.pricing-header {
    height: auto;
    pointer-events: auto;
    color: #173d50;
    background-color: #ffffff;
    text-align: center;
}
.pricing-wapper{
    box-shadow: inset 0 0 0 3px #1f1f1e;
    list-style-type: none;
    padding: 50px 10px;
    border-radius: 30px;
}

@media(min-width: 768px) {
    .pricing-wapper {
        box-shadow: inset 0 0 0 3px #1f1f1e;
        list-style-type: none;
        padding: 50px 60px;
        border-radius: 30px;
    }
}

.exclusive .pricing-header {
    color: #fe6e09;
    background-color: transparent;
}

.pricing-header h2 {
    font-size: 2.8rem;
    letter-spacing: 2px;
}


.duration {
	font-weight: 700;
	font-size: 1.3rem;
	color: #8dc8e4;
	text-transform: uppercase;
}

.exclusive .duration {
	color: #f3b6ab;
}

.duration::before {
	content: '/';
	margin-right: 2px;
}

.value{
    font-size: 55px;
    font-weight: 800;
}
.currency, 
.duration {
    color: #fe6e09;
}

.exclusive .currency,
.exclusive .duration {
    color: #2d3e50;
}

.currency {
    display: inline-block;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 700;
}

.duration {
    font-size: 1.4rem;
}

.pricing-body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.is-switched .pricing-body {
  overflow: hidden;
}

.pricing-body {
    overflow-x: visible;
}

.pricing-features {
	width: 600px;
}

.pricing-features:after {
	content: "";
	display: table;
	clear: both;
}

.pricing-features li {
	width: 100px;
	float: left;
	padding: 1.6em 1em;
	font-size: 1.5rem;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pricing-features em {
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
}

.pricing-features {
    width: auto;
}

.pricing-features li {
    float: none;
    width: auto;
    padding: 1em;
}

.exclusive .pricing-features li {
    margin: 0 3px;
}
  
.pricing-features em {
    display: inline-block;
    margin-bottom: 0;
}

.has-margins .exclusive .pricing-features li {
    margin: 0;
}

.pricing-footer {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
}

.pricing-footer {
    position: relative;
    height: auto;
    padding: 1.8em 0;
    text-align: center;
}

.pricing-footer::after {
    display: none;
}

.has-margins .pricing-footer {
    padding-bottom: 0;
}

.select {
	position: relative;
	z-index: 1;
	display: block;
	height: 100%;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
}

.select {
    position: static;
    display: inline-block;
    height: auto;
    padding: 1.3em 2em;
    color: #fe6e09;
    border-radius: 8px;
    border: 2px solid #fe6e09;
    font-size: 1.4rem;
    text-indent: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
	transition: all .6s;
	width: 70%;
}

.no-touch .select:hover {
    background-color: #fe6e09;
	color: #ffffff;
}

.exclusive .select {
    background-color: #fe6e09;
	color: #ffffff;
}
  
.no-touch .exclusive .select:hover {
    background-color: #24e0ba;
}
  
.secondary-theme .exclusive .select {
    background-color: #fe6e09;
}
  
.no-touch .secondary-theme .exclusive .select:hover {
    background-color: #112e3c;
}
  
.has-margins .select {
    display: block;
    padding: 1.7em 0;
    border-radius: 0 0 4px 4px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0deg);
  }
} 
@-moz-keyframes rotate {
  0% {
    -moz-transform: perspective(2000px) rotateY(0);
  }
  70% {
    -moz-transform: perspective(2000px) rotateY(0deg);
  }
  100% {
    -moz-transform: perspective(2000px) rotateY(0deg);
  }
} 

@keyframes rotate {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(0deg);
    -moz-transform: perspective(2000px) rotateY(0deg);
    -ms-transform: perspective(2000px) rotateY(0deg);
    -o-transform: perspective(2000px) rotateY(0deg);
    transform: perspective(2000px) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0deg);
    -moz-transform: perspective(2000px) rotateY(0deg);
    -ms-transform: perspective(2000px) rotateY(0deg);
    -o-transform: perspective(2000px) rotateY(0deg);
    transform: perspective(2000px) rotateY(0deg);
  }
} 

@-webkit-keyframes rotate-inverse {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0deg);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
  }
}

@-moz-keyframes rotate-inverse {
  0% {
    -moz-transform: perspective(2000px) rotateY(0deg);
  }
  70% {
    -moz-transform: perspective(2000px) rotateY(0deg);
  }
  100% {
    -moz-transform: perspective(2000px) rotateY(0);
  }
}

@keyframes rotate-inverse {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0deg);
    -moz-transform: perspective(2000px) rotateY(0deg);
    -ms-transform: perspective(2000px) rotateY(0deg);
    -o-transform: perspective(2000px) rotateY(0deg);
    transform: perspective(2000px) rotateY(0deg);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(0deg);
    -moz-transform: perspective(2000px) rotateY(0deg);
    -ms-transform: perspective(2000px) rotateY(0deg);
    -o-transform: perspective(2000px) rotateY(0deg);
    transform: perspective(2000px) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
  }
}

@-webkit-keyframes rotate-back {
  0% {
    -webkit-transform: perspective(0px) rotateY(0);
  }
  70% {
    -webkit-transform: perspective(0px) rotateY(-200deg);
  }
  100% {
    -webkit-transform: perspective(0px) rotateY(-180deg);
  }
}

@-moz-keyframes rotate-back {
  0% {
    -moz-transform: perspective(2000px) rotateY(0);
  }
  70% {
    -moz-transform: perspective(2000px) rotateY(-200deg);
  }
  100% {
    -moz-transform: perspective(2000px) rotateY(-180deg);
  }
}

@keyframes rotate-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(-200deg);
    -moz-transform: perspective(2000px) rotateY(-200deg);
    -ms-transform: perspective(2000px) rotateY(-200deg);
    -o-transform: perspective(2000px) rotateY(-200deg);
    transform: perspective(2000px) rotateY(-200deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(-180deg);
    -moz-transform: perspective(2000px) rotateY(-180deg);
    -ms-transform: perspective(2000px) rotateY(-180deg);
    -o-transform: perspective(2000px) rotateY(-180deg);
    transform: perspective(2000px) rotateY(-180deg);
  }
}

@-webkit-keyframes rotate-inverse-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(180deg);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(-20deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
  }
}

@-moz-keyframes rotate-inverse-back {
  0% {
    -moz-transform: perspective(2000px) rotateY(180deg);
  }
  70% {
    -moz-transform: perspective(2000px) rotateY(-20deg);
  }
  100% {
    -moz-transform: perspective(2000px) rotateY(0);
  }
}

@keyframes rotate-inverse-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(180deg);
    -moz-transform: perspective(2000px) rotateY(180deg);
    -ms-transform: perspective(2000px) rotateY(180deg);
    -o-transform: perspective(2000px) rotateY(180deg);
    transform: perspective(2000px) rotateY(180deg);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(-20deg);
    -moz-transform: perspective(2000px) rotateY(-20deg);
    -ms-transform: perspective(2000px) rotateY(-20deg);
    -o-transform: perspective(2000px) rotateY(-20deg);
    transform: perspective(2000px) rotateY(-20deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
  }
}

.sale-box, .sale-box.two, .sale-box.three {
	position: absolute;
	top: 0;
	overflow: hidden;
	height: 121px;
	width: 148px;
	text-align: center;
	z-index: 0;
	right: 0;
}

.sale-box span.on_sale {
    font-size: 10px;
    color: #fe6e09;
    background: #173d50;
    text-transform: uppercase;
    padding: 14px 0px 14px 36px;
    width: 281px;
    text-align: center;
    display: block;
    position: absolute;
    left: -47px;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(40deg);
}

.pricing-table-content ul.features li:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fe6e09;
    top: 14px;
    left: -17px;
    border-radius: 50%;
}
.pricing-table-content ul.features li {
    list-style: none;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    min-width: 22px;
    min-height: 22px;
    padding: 8px 10px 8px 0px;
    position: relative;
    border: none;
}
.pricing-table-content ul.features {
    margin: 0px;
    padding-left: 23px;
    border: none;
    padding-bottom: 0px;
}
.features .pricing-first-row{
    border-bottom: 0px;
}
@media (min-width: 768px){
.pricing-table-content ul.features li {
    font-size: 15px;
}}
@media (min-width: 1200px){
    
.pricing-table-content ul.features li {
    padding: 8px 8px 8px 0px;
}}


.pricing-table-box .price-btn,
.pricing-table-bottom .price-btn {
    display: block;
    text-align: center;
    padding: 13px 10px;
    font-size: 18px;
    font-weight: 400;
    color: #fe6e09;
    border: solid 1px #fe6e09;
    border-radius: 5px;
    text-decoration: none;
}

.pricing-table-box .price-btn:hover {
    background: #fe6e09;
    color: #ffffff;
}

.pricing-table-box .price-btn.active,
.pricing-table-bottom .price-btn.active {
    background: #fe6e09;
    color: #ffffff;
}

.pricing-table-box .price-btn.active:hover,
.pricing-table-box .price-btn.active:focus,
.pricing-table-bottom .price-btn.active:hover,
.pricing-table-bottom .price-btn.active:focus {
    background: #ed680b;
}

.pricing-table-box .price-btn.current-plan,
.pricing-table-box .price-btn:hover.current-plan,
.pricing-table-box .price-btn:focus.current-plan,
.pricing-table-bottom .price-btn.current-plan,
.pricing-table-bottom .price-btn:hover.current-plan,
.pricing-table-bottom.price-btn:focus.current-plan {
    color: #010101 !important;
    border: solid 1px #ced4d8 !important;
    background: #eff3f6 !important;
}

/* Compare Table  Section */
section.comp-table ul {
	list-style: none;
	padding: 0;
}
section.comp-table ul li {
	border-bottom: 1px solid rgb(220 217 217);
	line-height: 60px;
	align-items: flex-start;
	align-content: center;
	padding: 0px 25px;
	justify-content: center;
}
.one-time{
    padding: 30px 0px 30px 0px;
    background-color: #ff9053;
}
.orange-line{
    width: 10%;
    display: grid;
    -webkit-box-pack: justify;
    justify-content: space-between;
    grid-template-columns: repeat(12, 1fr);
    padding: 10px;
    margin: 0px;
    border-color: #fc7c0f;
    border-style: solid;
    border-width: 2px 0px 0px;
    background-image: none;
    column-gap: unset !important;
    }
@media (min-width:768px) {
    .one-time{
        background-color: #ff9053;
        background-size: cover;
        padding: 32px 0px 108px 0px
    }
	section.comp-table ul li {
		height: 50px;
		line-height: 90px;
		display: flex;
		align-items: flex-start;
		align-content: center;
		padding: 0px 20px;
		justify-content: start;
	}
    
}
section.comp-table .third-row .bg ul li{
    background-color: #f9f4f4;
}
section.comp-table ul li:first-child {
	height: 75px;
	font-weight: 600;
    background: #fff !important;
}

section.comp-table ul li:nth-child(odd) {
	background: #fff;
}

section.comp-table .fist-row li:first-child {
	border-top-right-radius: 0px;

}

section.comp-table .third-row li:first-child {
	border-top-left-radius: 0px;
}


section.comp-table .second-row li:first-child {
	height: 75px;
	text-align: center;
	align-items: start;
}


section.comp-table .fist-row li:last-child,
section.comp-table .third-row li:last-child,
section.comp-table .second-row li:last-child {
	border-bottom: 1px solid rgb(220 217 217);
    height:170px;
    justify-content: center;

}

section.comp-table .forth-row li:last-child,
section.comp-table .fifth-row li:last-child {
	border-bottom: 1px solid rgba(239, 239, 239, 1);
}


section.comp-table .second-row {

}

section.comp-table .second-row ul li {
	background: #fdeded;
}

section.comp-table .second-row ul li:nth-child(odd) {
	background: #fdeded;
}
section.comp-table .second-row ul li.orange-bg {
	background: #ff9c5b;
    font-weight: 600;
    font-size: 18px;
}
section.comp-table .third-row li:first-child {
	align-items: start;
}

section.comp-table .second-row ul li,
section.comp-table .third-row ul li,
section.comp-table .forth-row ul li,
section.comp-table .fifth-row ul li {
	justify-content: start;
	text-align: center;
}

@media (max-width:767px) {
	section.comp-table ul li {
		height: 100px;
		line-height: 22px;
		padding: 15px;
	}

	section.comp-table .second-row li:first-child svg {
		transform: rotate(90deg);
		height: 30px !important;
	}

	section.comp-table .third-row li:first-child span,
	section.comp-table .forth-row li:first-child span,
	section.comp-table .fifth-row li:first-child span {
		transform: rotate(90deg);
	}


}

section.comp-table .second-row li:first-child {
	justify-content: start;
}

section.comp-table .third-row li:first-child {
	justify-content: start;
}

@media (min-width:768px) {
	section.comp-table ul li {
		align-items: center;
		justify-content: start;
		line-height: normal;
		flex-wrap: wrap;
	}
}

section.comp-table ul li span {
	padding-right: 10px;
	display: contents;
}

@media (max-width:767px) {

	section.comp-table .fist-row li:first-child,
	section.comp-table .third-row li:first-child {
		display: flex;
		justify-content: start;
		align-items: center;
	}

	section.comp-table .second-row li:first-child {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
	}

	section.comp-table .second-row li:first-child svg {
		max-height: 20px !important;
		height: 20px !important;
	}

	section.comp-table ul li {
		height: 50px;
		line-height: 22px;
		padding: 10px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}
.pricing-row{
    border-radius: 50px;
    padding: 50px 50px 20px 50px;
    margin-top: -90px;
    box-shadow: 0px 20px 80px 0px rgb(90 90 90 / 15%);
    background: #fff;
}
/* Compare Table Section End */

@media (min-width:767px){
    section.comp-table .second-row li:first-child svg {
		max-height: 50px !important;
		height: 50px !important;
	}
}