html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #020d13;
    font-size: 14px;
}

.blue-clr,
a.blue-clr {
    color: #003770;
    text-decoration: none;
}

.blue-clr1,
a.blue-clr1 {
    color: #0041b5;
    text-decoration: none;
}

.purple-clr,
a.purple-clr {
    color: #7843ff;
    text-decoration: none;
}

.orange-clr,
a.orange-clr {
    color: #ff7c24;
    text-decoration: none;
}

.yellow-clr,
a.yellow-clr {
    color: #f7d309;
    text-decoration: none;
}

.yellow-clr1 {
    color: #ffc21f;
    text-decoration: none;
}

.orange-clr1,
a.orange-clr1 {
    color: #ffcf69;
    text-decoration: none;
}

.light-blue-clr {
    color: #e0e1ff;
}

.green-clr {
    color: #00cb00;
}

.red-clr {
    color: #ff0505;
}

.black-clr,
a.black-clr {
    color: #020d13;
}

.white-clr,
a.white-clr {
    color: #ffffff;
}

.clear {
    clear: both;
}

span.under {
    border-bottom: 4px solid;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.d-inline-flex {
    display: inline-flex;
}

.relative {
    position: relative;
}

@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .xstext-center {
        text-align: center;
    }
}


/* Header Section Css Start */

.header-section {
    background: #f7d309;
    padding: 30px 0 30px 0px;
}

.second-section {
    background: #ffffff;
    padding: 0px 0 30px 0px;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.header-section ul.leader-ul li a {
    color: #000000;
}

.border-video {
    /* border: 10px solid #fff; */
    border-radius: 10px;
}

.affiliate-link-btn a {
    color: #ffffff !important;
    background-image: -moz-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -webkit-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -ms-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.key-features-bg {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 19.8px 2.2px rgba(0, 0, 0, 0.15);
    padding: 15px;
    border-radius: 5px;
}

.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 13px;
    text-align: left;
}

.list-head li:last-child {
    border-bottom: 0px;
}

.pre-heading {
    position: relative;
    padding: 10px 5px;
    display: inline-block;
    color: #f7d309;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    transform: skew(-10deg);
}

.pre-heading span {
    transform: skew(10deg);
    display: inline-block;
}

.skew-con {
    transform: skew(5deg);
}

.gap20 {
    gap: 20px;
}
.key-features-bg1 {
    padding: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,0.30);
    border-radius: 15px;
}
.list-head1 {
    list-style: none;
}
.list-head1 li {
    background: url(../images/launch-tick-green1.png) no-repeat;
    padding: 10px 0px 10px 30px;
    background-position: 0px 14px;
    text-align: left;
    border-bottom: solid 1px #080038;
}
.list-head1 li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}
@media (min-width:768px) {
    .skew-con {
        transform: skew(10deg);
    }
    .key-features-bg {
        border-radius: 20px;
        padding: 40px 30px;
    }
    .pre-heading {
        position: relative;
        padding: 15px 20px;
    }
    .header-section {
        background: #f7d309 url(../images/header-bg.png) no-repeat center center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .second-section {
        padding: 0px 0px 100px 0px;
        background: url(../images/second-section.png) no-repeat center center;
        background-size: cover;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }
    .affiliate-link-btn a {
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 19px 25px 14px 25px;
        font-size: 22px;
        line-height: 100%;
        color: #ffffff;
        font-weight: 600;
        background-image: -moz-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
        background-image: -webkit-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
        background-image: -ms-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    }
    .affiliate-link-btn a:hover {
        background-image: -moz-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
        background-image: -webkit-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
        background-image: -ms-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
        color: #ffffff;
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
}


/* Header Section Css End */


/* CTA Section End*/

a.cta-link-btn {
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    background-image: -moz-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -webkit-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -ms-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    transition: all 0.5s;
}

a.cta-link-btn1 {
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 5px;
    color: #020d13;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    background: #ffb703;
    transition: all 0.5s;
}

a.cta-link-btn:hover {
    background-image: -moz-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
    background-image: -webkit-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
    background-image: -ms-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
    text-decoration: none;
    transform: scale(1.1);
    transition: all 0.5s;
}

a.cta-link-btn1:hover {
    background: #ffb703;
    text-decoration: none;
    transform: scale(1.1);
    transition: all 0.5s;
}

@media (min-width: 768px) {
    a.cta-link-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
    a.cta-link-btn1 {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
}


/* CTA Section End*/


/* CTA Section Start */

.cta-section {
    padding: 30px 0px;
    background: #edeefc;
}

.cta-section-white {
    background: #030210 url(../images/cta-sec.png) no-repeat center center;
    padding: 30px 0 30px 0px;
    background-size: cover;
}

.testimonial-section2 {
    background: #ebf6fb;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .testimonial-section2 {
        background: #ebf6fb url(../images/testimonial-bg.png) no-repeat center center;
        padding: 100px 0px 100px 0px;
    }
    .cta-section {
        background: #edeefc;
        padding: 100px 0px;
    }
    .cta-section-white {
        background: #030210 url(../images/cta-sec.png) no-repeat center center;
        background-size: cover;
        padding: 70px 0px;
    }
}


/* CTA Section End */


/* Step Section Start */

.step-section {
    padding: 30px 0px;
    background: #ffffff;
}

.level-section {
    padding: 0px 0px 30px 0px;
    background: #f1d948;
}

.trafficbg {
    padding: 30px 0px;
    background: #ffffff;
}

.steps-block {
    position: relative;
    padding: 1px;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
    background: #032d43 url(../images/step-shape.png) no-repeat center center;
    background-size: 150%;
    overflow: hidden;
}

.steps-inside {
    position: relative;
    border: solid 1px #ffffff;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    padding: 0px 10px 20px 10px;
}

.step-bg {
    display: inline-block;
    padding: 21px 37px 29px 36px;
    align-self: flex-start;
    background-color: rgb(255, 183, 3);
    box-shadow: 0px 6px 0px 0px rgba(0, 7, 10, 0.3);
    border-radius: 0px 0px 180px 180px;
    text-align: center;
    margin-top: -11px;
}

.step-bg1 {
    display: inline-block;
    background: #0041b5;
    border-radius: 10px;
    padding: 15px;
    color: #ffffff;
}

@media (min-width: 768px) {
    .step-section {
        padding: 100px 0px;
        background: url(../images/step-section-bg.png) no-repeat center center;
        background-size: cover;
    }
    .level-section {
        padding: 0px 0px 120px 0px;
        background: url(../images/level-section-bg.png) no-repeat bottom center;
        background-size: cover;
    }
    .trafficbg {
        padding: 100px 0px;
    }
}


/* Step Section End */

.no-installation {
    background: #ebf6fb;
    padding: 30px 0px 60px 0px;
}

.vendorcmmtbg {
    background: #007aff;
    padding: 15px;
    border-radius: 10px;
}

.heading-design {
    background: #b8d5e4;
    border: solid 2px #000000;
    padding: 15px;
    display: inline-block;
}

@media (min-width: 768px) {
    .heading-design {
        padding: 90px 104px 87px 115px;
        background: #ffffff url(../images/awesome-shape.png) no-repeat center center;
        background-size: contain;
        border: none;
    }
    .no-installation {
        padding: 100px 0px;
        background: #ebf6fb url(../images/no-installation-bg.png) no-repeat center center;
        background-size: cover;
    }
    .vendorcmmtbg {
        background: url(../images/vendorcmmtbg.png) no-repeat center center;
        padding: 9% 13% 5% 32%;
        position: relative;
        height: 591px;
        letter-spacing: -2px;
    }
}

.proof-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .proof-section {
        background: #ffffff url(../images/proof-section.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}


/* Team Section Sart */

.new-dcp-team-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .new-dcp-team-section {
        padding: 100px 0px 100px 0px;
        background: #ffffff url(../images/hi-there.png) no-repeat center center;
        background-size: cover;
    }
}


/* Team Section End */


/* Thatsall Section Start */

.thatsall-section {
    padding: 0px 0px 30px;
    background: #030b0f;
}

.facts-block {
    position: relative;
    background: #1c2641;
    padding: 50px 15px 15px 15px;
}

.shape-testi1 {
    background: url(../images/shape-do.png);
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 20px 0px 50px;
}

.traffic-section {
    padding: 0px 0px 30px 0px;
    background: #ffffff;
}

@media (min-width: 768px) {
    .traffic-section {
        padding: 0px 0px 100px 0px;
        background: #ffffff;
    }
    .thatsall-section {
        padding: 0px 0px 120px 0px;
        background: #030b0f url(../images/here-are-some.png) no-repeat bottom center;
        background-size: cover;
    }
    .facts-block {
        padding: 65px 30px 30px 30px;
    }
    .shape-testi1 {
        padding: 60px 0px 100px;
    }
}

.purple-hd {
    color: #0041b5;
}


/* Thatsall Section End */


/* Affliate Section Satrt */

.affiliate-section {
    padding: 30px 0px;
    background: #ebebeb;
}

@media (min-width: 768px) {
    .affiliate-section {
        padding: 100px 0px;
    }
}


/* Affliate Section End */


/* Still there Section Start */

.still-there-section {
    background: #ffffff;
    padding: 30px 0px;
}

.line-5 {
    background: #ff7200;
    height: 5px;
}

.imp-shape {
    background: url(../images/bonus-shape.png) no-repeat center center;
    background-size: contain;
    padding: 18px;
}

@media (min-width: 768px) {
    .pl-md130 {
        padding-left: 130px;
    }
    .pr-md130 {
        padding-right: 130px;
    }
    .imp-shape {
        background: url(../images/bonus-shape.png) no-repeat center center;
        background-size: contain;
        padding: 28px;
        border-radius: 0;
    }
    .still-there-section {
        padding: 100px 0px 100px 0px;
        
    }
    .line-5 {
        width: 50%;
    }
}


/* Still there Section End */


/* Problem there Section Start */

.problem-bg-section {
    background: #ffffff;
    padding: 30px 0px;
}

.black-design5 {
    background: #ffffff;
    padding: 15px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block;
}

.black-design6 {
    padding: 16px 79px 18px 65px;
    background: url(../images/bonus-shape2.png) no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

.noneed-listing4 li {
    list-style: none;
    background: url(../images/emoji.png) no-repeat;
    background-position: 0 0px;
    padding: 0 0 25px 50px;
    min-height: 42px;
}

.black-design5 .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}

.noneed-listing3 li {
    list-style: none;
    background: url(../images/cross.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.noneed-listing5 li {
    list-style: none;
    background: url(../images/cross-yellow.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 35px;
    min-height: 42px;
}

.noneed-listing5 li:last-child {
    padding-bottom: 0px;
}

.px40 {
    padding-left: 40px !important;
    padding-right: 40px !important
}

.shape-testi5 {
    background-color: #ec3845;
    border-radius: 65px;
    padding: 8px 15px 8px 15px;
    display: inline-block;
    margin-top: 0px;
    position: relative;
    color: #ffffff;
    top: -56px;
}

.problme-shape {
    border-radius: 20px;
    background-color: rgb(236, 56, 69);
    width: 100%;
    float: left;
    padding: 15px;
}

.problme-shape1 {
    border-radius: 20px;
    background-color: #ffffff;
    width: 100%;
    float: left;
    padding: 15px;
}

.problme-area-shape1 {
    width: 100%;
    float: left;
    padding: 15px !important;
    border-radius: 20px;
    background-color: rgb(255, 90, 90);
    z-index: 0;
    margin-top: -20px;
    position: relative;
}

.converting-shape1 {
    background-color: #ff2323;
    padding: 10px;
    display: inline-block;
    border-radius: 65px;
    margin-top: 10px;
}

.butnot-shape {
    background-color: #032d43;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 65px;
    margin-top: 10px;
}

.down-arrow {
    margin-right: auto;
    position: absolute;
    left: 0px;
    bottom: 0;
    top: 50%;
}

.prdly-pres {
    position: relative;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 65px;
    background-color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
    .img-right {
        position: absolute;
        top: -12px;
        right: 10px;
    }
    .down-arrow {
        left: -60px;
        bottom: 0;
        top: 50%;
    }
    .converting-shape1 {
        border-radius: 65px;
        padding: 15px 40px 15px 40px;
    }
    .butnot-shape {
        border-radius: 65px;
        padding: 15px 40px 15px 40px;
    }
    .problme-area-shape1 {
        float: left;
        padding: 30px 10px 20px 30px !important;
        margin-right: -40px;
        z-index: 0;
        margin-top: 0px;
    }
    .problme-shape {
        padding: 30px;
    }
    .problme-shape1 {
        padding: 30px;
    }
    .shape-testi5 {
        padding: 8px 30px 8px 30px;
    }
    .f-md-70 {
        font-size: 70px;
    }
    .problem-bg-section {
        background: #ffffff url(../images/problem-bg.png) no-repeat top center;
        background-size: cover;
        padding: 100px 0px;
    }
    .black-design5 {
        padding: 16px 79px 18px 65px;
        background: url(../images/bonus-shape1.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: inline-block;
    }
    .noneed-listing3 li {
        list-style: none;
        background: url(../images/cross.png) no-repeat;
        background-position: 0 6px;
        padding: 0 0 30px 35px;
        min-height: 42px;
    }
}


/* Problem there Section End */


/* Proudly there Section Start */

.proudly-section {
    background: #efd94d;
    padding: 30px 0px;
}

.black-design1 {
    background: #020d13;
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
}

.black-design11 {
    background: #ff7200;
    padding: 15px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block;
}

.black-design11 .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}

img.play-btn {
    display: none;
}

img.huge-like {
    display: none;
}

.avengame-bg {
    background: #dce3f9;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.stats-section {
    background: #ebf6fb;
    padding: 30px 0px;
}

.stats-section .boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.stats-section .boxborder-rb {
    border-bottom: 1px solid #020d13;
    border-right: 1px solid #020d13;
}

.stats-section .boxborder-b {
    border-bottom: 1px solid #020d13;
}

.stats-section .boxborder-r {
    border-right: 1px solid #020d13;
}

@media (max-width: 767px) {
    .stats-section .boxborder {
        border: 1px solid #020d13;
        border-top: 0px;
        padding: 20px;
    }
    .stats-section .top-first,
    .stats-section .first-top-border {
        border: 1px solid #020d13;
    }
}

@media (min-width: 768px) {
    .stats-section .boxbg {
        height: 280px;
    }
    .stats-section {
        padding: 100px 0px;
		background: #ffffff url(../images/stats-section.png) no-repeat top center;
        background-size: cover;
    }
    .avengame-bg {
        background: url(../images/massi-bg.png) no-repeat;
        padding: 40px 70px 40px 0px;
        text-align: center;
        background-size: contain;
    }
    img.play-btn {
        position: absolute;
        right: -30px;
        top: -30px;
        display: block;
    }
    img.huge-like {
        position: absolute;
        left: -71px;
        bottom: -8px;
        display: block;
    }
    .proudly-section {
        background: #fff url(../images/proudly-bg.png) no-repeat top center;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
    .black-design1 {
        width: 578px;
        height: 138px;
        background: #020d13;
        border-width: 1px;
        border-color: rgb(13, 15, 52);
        border-style: solid;
        border-radius: 20px;
    }
    .black-design11 {
        padding: 30px 48px 7px 48px;
        background: url(../images/proudly-shape.png) no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
    .border-4 {
        border: solid 2px #000000;
        border-radius: 20px;
    }
    .wh300 {
        height: 350px;
    }
}

@media (max-width: 768px) {
    .step-count-img img {
        max-width: 100px;
        width: 100%;
    }
    .step-ft-img img {
        max-width: 200px;
        width: 100%;
    }
}


/* Proudly there Section End */


/* App Suite Section Start */

.appsuite-section {
    padding: 30px 0px;
    background: #ecebeb;
}

.appsuite-block {
    width: 100%;
    float: left;
    background-color: #ffffff;
    overflow: hidden;
    padding: 30px 20px 20px 20px;
    text-align: center;
    height: 100%;
}

@media (min-width: 768px) {
    .appsuite-section {
        padding: 100px 0px;
    }
}


/* App Suite Section End */

.support-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .support-section {
        padding: 100px 0px;
    }
}

.bottom-testi-section {
    background: #e9ebf1;
    padding: 30px 0px;
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.boxborder-rb {
    border-bottom: 1px solid #f57c25;
    border-right: 1px solid #f57c25;
}

.boxborder-b {
    border-bottom: 1px solid #f57c25;
}

.boxborder-r {
    border-right: 1px solid #f57c25;
}

@media (max-width: 767px) {
    .boxborder {
        border: 1px solid #f57c25;
        border-top: 0px;
        padding: 20px;
    }
    .top-first,
    .first-top-border {
        border: 1px solid #f57c25;
    }
}

@media (min-width: 768px) {
    .boxbg {
        height: 280px;
    }
    .row.no-gutters * {
        padding: 0;
    }
    .pl130 {
        padding-left: 130px;
    }
}

.new-steps-bg {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .new-steps-bg {
        background: url(../images/steps-bottom-bg.png) no-repeat center center;
        padding: 100px 0px 100px 0px;
        background-size: cover;
    }
}

.step-btn-style {
    border-radius: 10px;
    background: #ffb703;
    padding: 10px;
    text-align: center;
    color: #020d13;
    display: inline-block;
}

.step-left-boredr-image {
    position: absolute;
    left: 0;
    top: 36px;
}

.step-pl15px {
    padding-left: 15px !important;
}

.step-image-back {
    background: url(../images/step-back-img1.png) no-repeat top right;
    background-size: contain;
}

.step-right-boredr-image {
    position: absolute;
    right: 0px;
    top: 32px;
}

.step-image-back1 {
    background: url(../images/step-back-img2.png) no-repeat top left;
    background-size: contain;
}

.step-image-back3 {
    background: url(../images/step-back-img3.png) no-repeat top right;
    background-size: contain;
}

@media (min-width: 768px) {
    .step-right-boredr-image {
        right: 45px;
    }
    .step-btn-style {
        padding: 15px 25px;
    }
    .step-plr5px {
        padding-right: 35px !important;
    }
}

@media (min-width: 768px) {
    .step-pl15px {
        padding-left: 35px !important;
    }
    .f-md-80 {
        font-size: 80px;
    }
}

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s;
}

#ouibounce-modal .modal-wrapper {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
    -ms-flex-line-pack: center!important;
    align-content: center!important;
    width: 95%;
    position: relative;
    text-align: center;
    -webkit-animation: popin .3s;
    animation: popin .3s;
    overflow-y: hidden;
}

@media (min-width: 576px) {
    #ouibounce-modal .modal-wrapper {
        min-height: 100vh;
        height: 100vh;
        max-width: 850px;
        margin: 0px auto;
    }
    .for-padding {
        padding: 40px 55px;
    }
    .model-header {
        background: #16258a url(../images/wait-bg.png) no-repeat left center;
        background-size: cover;
    }
}

#ouibounce-modal .modal-wrapper .modal-bg {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15.6px 4.4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}

.model-header {
    background: #16258a url(../images/wait-mob-bg.png) no-repeat left center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

button.close {
    position: absolute;
    right: 5px;
    top: 5px;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.minus-top {
    margin-top: -30px;
}



/* step demo before  */

.step-box-new {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: -30px;
}

.step-shape1 {
    background: #ebf6fb;
    padding: 5px 20px;
    margin-right: -20px;
}

.step-shape2 {
    background: #ffb703;
    padding: 5px 30px;
    width: 100%;
    text-align: center;
    border-top-left-radius: 30px;
    border: 1px dashed;
}

.step-content-new {
    padding: 60px 200px 30px 30px;
    background: #ebf6fb;
    border-bottom-left-radius: 10px;
}

.step-box-new2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: -30px;
}

.step-content-new2 {
    padding: 60px 30px 30px 190px;
    background: #ebf6fb;
    border-bottom-right-radius: 10px;
    text-align: left;
}

.problme-area-shape2 {
    text-align: right;
}

.step-box-new2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: -30px;
}

.step-shape11 {
    margin-left: -20px;
}

.step-shape2.step-shape22 {
    border-radius: 0px 30px 0px 0px;
}

.step-content-new2 {
    padding: 60px 30px 30px 190px;
    background: #ebf6fb;
    border-bottom-left-radius: 10px;
    text-align: left;
}

.step-shape1 {
    position: relative;
}

.step-shape1::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url('../images/right-arrow-shp.png');
    position: absolute;
    bottom: -20px;
    right: 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

.step-shape11::before {
    background: url('../images/left-arrow-shp.png');
    background-repeat: no-repeat;
    background-size: 100%;
    left: 0;
}

@media (min-width:768px) {
	.minus-top2 {
    margin-top: -90px;
}

    .step-img-shap {
        margin-top: -210px;
        margin-right: -80px!important;
    }
    .my-md50 {
        margin-top: 50px!important;
        margin-bottom: 50px!important;
    }
    .step-img-shap2 {
        margin-top: -210px;
        margin-left: -80px!important;
    }
}

@media (max-width:767px) {
    .step-content-new {
        padding: 60px 30px 30px;
    }
    .step-img-shap,
    .step-img-shap2 {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .step-content-new {
        border-radius: 30px 0px 30px 30px;
        padding: 50px 30px 30px;
    }
    .step-content-new2 {
        border-radius: 0px 0px 30px 30px;
        padding: 50px 30px 30px;
    }
    .step-shape2 {
        padding: 10px;
    }
    .step-box-new2 {
        margin-bottom: -20px;
    }
    .step-box-new {
        margin-bottom: -20px;
    }
    .step-box-new {
        width: 80%;
    }
    .problme-area-shape,
    .problme-area-shape2 {
        margin-bottom: 30px;
    }
    .problme-area-shape.last {
        margin-bottom: 0px;
    }
}