
/* Demo Section Start */

.demo-section {
    padding: 30px 0px 60px 0px;
    background: #ebf6fb ;
}

@media (min-width: 768px) {
    .demo-section {
        background: #ebf6fb  url(../images/demo-bg.png) no-repeat center center;
        padding: 100px 0px;
		background-size: cover;
    }
}


/* Demo Section End */


/* Feature 1 Section Start */

.features-one {
    background:#040d11;
    padding: 30px 0px;
}

.features-headline {
    background-color:#f7d309;
    border-radius: 65px;
    padding: 20px;
    display: inline-block;
}

@media (min-width:768px) {
    .features-one {
        background: #ffffff url(../images/feature-bg1.png) no-repeat top center;
        padding:50px 0px 100px 0px;
		background-size:cover;
    }
    .features-headline {
        border-radius: 65px;
        padding: 12px 40px;
    }
}


/* Feature 1 Section End */


/* Feature 2 Section Start */

.features-two {
    background: #ebf6fb;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .features-two {
        padding: 100px 0px;
        background: #ebf6fb;
    }
}


/* Feature 2 Section End */


/* Feature 3 Section Start */

.features-three {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .features-three {
        padding: 100px 0px;
    }
}


/* Feature 3 Section End */


/* Feature 4 Section Start */

.features-four {
    background-color:#ebf6fb ;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .features-four {
        padding: 100px 0px;
    }
}


/* Feature 4 Section End */

.cloud {
    background-color: rgb(255, 88, 37);
    background-color: rgb(255, 88, 37);
    display: inline-block;
    margin: 0 auto;
    padding: 14px 20px;
    border-radius: 65px;
}


/* Feature 5 Section Start */

.features-five {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .features-five {
        padding: 100px 0px;
    }
    .cloud {
        padding: 16px 40px 12px 40px;
    }
	.fe-box-img img {
	max-width: 450px;
}
}


/* Feature 5 Section End */