.countdown {
    background-color: transparent;
    color: #fff;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
}


/* Css For Timer Display */

.timer-label {
    margin-right: 5px;
    background: rgb(255, 19, 19);
    padding: 10px!important;
}

.countdown .timer-label:last-child {
    margin-right: 0px;
}

.timerbg {
    font-weight: 600;
}

.for-padding {
    padding: 20px;
}

@media (min-width: 768px) {
    .timer-label {
        margin-right: 15px;
        min-width: 100px;
        padding: 15px !important;
    }
}

@media (max-width: 768px) {
    .for-padding .cta-link-btn {
        font-size: 16px;
    }
    .pl130 {
        padding-left: 70px;
    }
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 35px;
    height: 35px;
    opacity: 1;
    font-style: normal;
    color: #fff;
    font-weight: 700;
    background: black;
    outline: none;
    /* border: 0; */
    border-radius: 100%;
    /* align-items: center; */
    /* display: inline-flex; */
    /* justify-content: center; */
    line-height: 33px;
    border: solid 2px #adabab;
    font-size: 17px;
}


}
div#timerCounttext:after,
div#timerCounttext:before {
    content: '';
    display: block;
    clear: both;
}
div#countTimer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newtimer {
    background: rgb(255, 19, 19);
    padding: 25px 10px 15px 10px;
    color: #ffffff;
    font-size: 45px;
    display: inline-flex;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}
@media (min-width: 768px) {
    .newtimer {
        background: rgb(255, 19, 19);
        padding: 25px 10px 15px 10px;
        color: #ffffff;
        font-size: 75px;
        display: inline-flex;
        font-weight: bold;
        width: 600px;
        text-align: center;
        justify-content: center;
    }
}
.timer-new {
    display: flex;
    width: 100%;
    justify-content: center;
}
.timer-new>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    margin-right: 20px;
    flex-direction: column;
    padding: 15px;
    width: 110px;
}
.timer-new>div:last-child {
    margin-right: 0;
}
.timer-new>div span {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.timer-new>div .text {
    font-size: 16px;
    text-transform: uppercase;
}
@media (max-width:767px) {
    #ouibounce-modal .modal-wrapper {
        margin: auto!important;
        left: 50%!important;
        position: fixed!important;
        top: 50%!important;
        transform: translate(-50%, -50%)!important;
    }
    
    .width80 {
        width: 90%;
        margin-left: 20px;
    }
    
    #ouibounce-modal .model-header>div {
        margin-left: 20px;
    }
    
    .timer-new>div {
        width: 65px;
        height: 65px;
    }
    
    .timer-new>div span {
        font-size: 24px;
    }
    
    .timer-new>div .text {
        font-size: 12px;
    }
}