.banner {
    background: url(../images/bg-xs.png) #171a1d no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 4% 0% 2%;
    margin-top: 0px;
}
.stripbg {
    background: #ffffff;
    border: 1px solid #ffeced;
    padding: 0px 5px;
    border-radius: 5px;
}
@media (min-width: 1200px) {
.banner {
    padding: 7% 0% 0%;
}
}
.qcolor {
    color: #112bc9;
}
.white {
    color: #fff;
}

.pcolor {
    color: #00c4ff;
}
.features-gb ul li {
    background: url(../images/check-gb.png) no-repeat;
    list-style: none;
    padding-bottom: 15px;
    padding-left: 40px;
    background-position: 2px 3px;
    line-height: 28px;
}
@media (min-width: 768px) {}
.features-gb ul li {
    padding-left: 50px;
}
}


.header-section-ky {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width: 768px) {
.header-section-ky {
    background: #ffffff url(../images/header-bg-ky.png) no-repeat center center;
    background-size: cover;
    padding: 40px 0px 100px 0px;
}
}
.key-features-bg-ky {
    background: url(../images/key-features-bg.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 20px 35px;
	    text-align: left;
}
.list-head-ky li {
    background: url(../images/key-tick-ky.png) no-repeat;
    padding: 8px 0px 8px 26px;
    background-position: 0px 12px;
    text-align: left;
	list-style:none;
}

.grand {
    padding: 15px 0px;
    background: #ff7800;
}
@media (min-width: 768px) {}
.grand {
    padding: 40px 15px;
}
}