body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}


/* colors */

.purple {
    color: #ff7200;
}

.greentext {
    color: #d8f67e;
}

.green-clr {
    color: #00ff84;
}

.yellow-clr {
    color: #fff600;
}


/* Main Header Section CSS */

.main-header {
    background: #f7d309;
    padding: 30px 0px;
}

.yellow-bg {
    background: #ffcf69;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
}

.blue-head {
    color: #3f43ba;
}

.content-box {
    background: #fff;
    padding: 30px 15px;
    border-radius: 5px;
}

.video-frame {
    padding: 0;
    background: transparent;
}

.highlight-heading {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgb(19 22 38 / 20%);
}

@media (min-width: 768px) {
    .highlight-heading {
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
    }
}

@media (min-width: 768px) {
    .rotate-5 {
        transform: skew(7deg);
    }
}


/* Affiliate Bonus Buy Button */

a.cta-link-btn1 {}

a.bonusbuy-btn {
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 5px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    background-image: -moz-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -webkit-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -ms-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    transition: all 0.5s;
}

a.bonusbuy-btn:hover,
a.bonusbuy-btn:focus {
    transform: scale(1.08);
    transition: all 0.5s;
    background-image: -moz-linear-gradient( 190deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -webkit-linear-gradient( 190deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -ms-linear-gradient( 190deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    text-decoration: none;
}

a.bonusbuy-btn1 {
    border-radius: 5px;
    background-color: #36c80f;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: normal;
    white-space: normal;
}

a.bonusbuy-btn1:hover,
a.bonusbuy-btn1:focus {
    background: #2cb508;
    text-decoration: none;
}

@media (min-width: 768px) {
    .probtn a {
        padding: 27px 50px;
    }
    .yellow-bg {
        padding: 10px 20px;
    }
}


/* Bonus Header Section bg Start Main Css */

.bonus-header {
    padding: 30px 10px 0px 10px;
}

.heading-bg {
    background-color: #ee3725;
    border-radius: 10px;
    padding: 15px 15px;
    color: #ffffff;
}

.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #022f46;
    display: inline-block;
    text-transform: uppercase;
}

.section-bonus {
    padding: 30px 0px 0px 0px;
}

.cta-btn-section {
    padding: 30px 0px 0px 0px;
}

.bonus-title-color {
    color: #003770;
}

.bonus-list li {
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 5px;
    padding-left: 3rem;
    padding-bottom: 25px;
    list-style-type: none;
}

.bonus-list li:last-child {
    padding-bottom: 0px;
}

.mw-60 {
    max-width: 60%;
}


/* Huge Section background main CSS */

.huge-area {
    padding: 30px 0;
    background: #f7d309;
}

.white-section {
    background: rgb(255, 255, 255);
    padding: 30px 15px;
}


/* Footer Section Start Main CSS */

.strip_footer {
    background: #020d13;
    padding: 30px 0px;
    color: #fff;
}

.strip_footer a {
    color: white;
    text-decoration: none;
}


/* Exit Pop Up Css Start */

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}


/* #ouibounce-modal .modal-body {
	padding: 0px 20px;
	font-size: .9em
} */

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.modal-body {
    position: relative;
    padding: 15px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 30px;
    opacity: 1;
    outline: none;
    color: #300476 !important;
    font-weight: 400;
    background: #ffe8cc !important;
    top: 1px;
    position: absolute;
    z-index: 2;
    right: 1px;
    padding: 0px 5px 0px 5px !important;
}

.modal-header .close {
    margin-top: -5px;
}

.innerbody {
    border-radius: 10px;
    margin-top: -1%;
    float: left;
    width: 100%;
}

.popupbg {
    background: url(../images/exitbg.png) repeat;
    padding: 8px 0px;
}


/* Media Querry Start */


/* For Header Bg */

@media(min-width:768px) {
    .main-header {
        background: #f7d309 url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .content-box {
        background-color: #fff;
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
        border-radius: 25px;
        display: inline-block;
        box-shadow: -1.04px 4.891px 6px 0px rgba(19, 22, 38, 0.2);
    }
    .bonus-header {
        padding: 70px 0px 0px 0px;
    }
    .heading-bg {
        background: url(../images/head-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        padding: 50px 15px 100px 15px;
        background-size: 100% 100%;
    }
    a.bonusbuy-btn,
    a.bonusbuy-btn:focus {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
    a.bonusbuy-btn1,
    a.bonusbuy-btn1:focus {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
    .section-bonus {
        padding: 30px 0px;
    }
    .cta-btn-section {
        padding: 20px 0px;
    }
    .huge-area {
        background: #fff url(../images/new_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        padding: 70px 0 120px;
        color: #fff;
    }
    .strip_footer {
        background: #020d13;
        padding: 50px 0px;
        color: #fff;
    }
}


/* Exit Popup CSS */

.link-btn a {
    background-color: #F33A3A;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    display: inline-block;
    border-radius: 2px;
    text-decoration: none;
    padding: 8px 60px;
}

.pop-padding {
    padding: 20px 30px 20px 30px;
}

.border-pop {
    border: 1px solid;
    padding: 30px;
    margin: 15px 0;
}

@media(max-width:767px) {
    .xstext1 {
        text-align: center;
    }
}

.section-host {
    padding: 30px 0px 0px;
    background: #ffffff url(../images/host-bg.png) no-repeat center center;
    background-size: cover;
}

.kapblue {
    color: #3f43ba;
}

@media (min-width: 768px) {
    .section-host {
        padding: 50px 0px 50px 0px;
    }
}

.white-area {
    padding: 50px 15px;
}

.black-clr {
    color: #000000;
}

.white-clr {
    color: #ffffff;
}

@media screen and (max-width: 767px) {
    .inner-content {
        margin: auto !important;
    }
}

.header-sectionnj {
    background: #080d21;
    padding: 30px 0px;
}

.header-sectionnj ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.post-heading-nj {
    padding: 6px;
    display: inline-block;
    border-radius: 65px;
    background-color: rgb(211, 223, 243);
    box-shadow: inset 0px 4px 10px 0px rgb(0 0 0 / 35%), inset 2.828px -2.828px 10px 0px rgb(255 255 255 / 35%);
    color: #080d1a;
}

.orange,
a.orange {
    color: #ff7200;
}

.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}

.headernj-section {
    background: #080d21;
    padding: 30px 0px;
}

.list-head li:last-child {
    border-bottom: 0px;
}

.headerlf-section {
    background: #162637;
    padding: 30px 0px;
}

.qcolor {
    color: #008aff;
}

.fbox {
    background: #fff;
    border: 2px solid #e3e3e3;
    border-radius: 20px;
    padding: 20px;
}

.features2 ul li {
    padding-bottom: 6px!important;
    line-height: 25px!important;
}

.pcolorline {
    border-bottom: 1px solid #008aff;
}

.features1 ul li {
    background: url(../images/check-ft.png) no-repeat;
    list-style: none;
    padding-bottom: 12px;
    padding-left: 40px;
    background-position: 2px 3px;
    line-height: 27px;
}

.lf-demo-sec {
    padding: 30px 0px;
    background: #ffffff;
}

@media(min-width:768px) {
    .headernj-section {
        background: #080d21 url(../images/headernj-bg.png) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 140px 0px;
    }
    .headerlf-section {
        padding: 70px 0px 150px;
        background: url(../images/newbg.png) #162637 no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
    .lstripbg2 {
        background: url(../images/layer2.png) no-repeat;
        padding: 0px 10px;
    }
    .lstripbg3 {
        background: url(../images/layer3.png) no-repeat;
        padding: 0px 7px;
    }
    .post-heading-nj {
        padding: 6px 30px;
    }
    .features1 ul li {
        padding-left: 50px;
    }
}

.steps-block {
    position: relative;
    padding: 1px;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
    background: #032d43 url(../images/step-shape.png) no-repeat center center;
    background-size: 150%;
    overflow: hidden;
}

.steps-inside {
    position: relative;
    border: solid 1px #ffffff;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    padding: 0px 10px 20px 10px;
}

.step-bg {
    display: inline-block;
    padding: 21px 37px 29px 36px;
    align-self: flex-start;
    background-color: rgb(255, 183, 3);
    box-shadow: 0px 6px 0px 0px rgba(0, 7, 10, 0.3);
    border-radius: 0px 0px 180px 180px;
    text-align: center;
    margin-top: -11px;
}

.cta-btn-section.dark {
    background-color: #023047;
    padding: 30px 0;
}

a.cta-link-btn1 {
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 5px;
    color: #020d13;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    background: #ffb703;
    transition: all 0.5s;
}

a.cta-link-btn1:hover {
    background: #ffb703;
    text-decoration: none;
    transform: scale(1.08);
    transition: all 0.5s;
}

@media (min-width:768px) {
    .cta-btn-section.dark {
        background: #023047 url(../images/cta-bg-new.png) no-repeat center center;
        padding: 100px 0 100px;
        background-size: 100% 100%;
    }
    a.cta-link-btn1 {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
}