html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
	    overflow-x: hidden;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}
/* Color CSS */
.white-clr {
    color: #fff;
}
.black-clr {
    color: #000000;
}
.orange-clr{
	color:#f6841f;
}

.gradient-clr {
background: #5425F5;
background: linear-gradient(to right, #5425F5 30%, #f53789 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* Header CSS */
.header-section {
	background: #f2f3f4;
	padding:30px 0px 0px 0px;
}

ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.leader-ul li {
    display: inline-block;
    padding: 0px 7px;
    font-weight: 500;
	 color: #000000;
}

.header-section ul.leader-ul li a {
    text-decoration: none;
   color: #000000;
    font-weight: 500;
}
a.affiliate-link-btn {
	border-radius: 22px;
    background-color: rgb(246, 132, 31);
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #ffffff;
	font-weight: 600;
    transition: all .3s ease;
}

a.affiliate-link-btn:hover {
    transition: all .3s ease;
    background:#e97b1a;
}


.bx-wrapper {
	border: 0px !important;
	background:transparent !important;
	box-shadow:none !important;
	padding: 0 !important;
	margin: 0 !important;	
	position:relative;
	
}
.bx-viewport{position:relative !important;}
.bxslider {
  background:transparent !important;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0px !important;
  font-weight:600;
  position:relative;
}
.bxslider li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
	min-height:76px;
	line-height:32px;
	text-align:left;
}
.bxslider li .text{margin-left:15px;}
.text-clr1{color:#ffa25b;}
.text-clr2{color:#8df69e;}
.text-clr3{color:#ff9acf;}
.text-clr4{color:#91faf7;}

.preheadline{
    border-radius: 8px;
    background-color: rgb(35, 31, 32);
    display:inline-block;
    border-radius:65px;
    padding:15px 35px;
    position: relative;
    z-index: 1;
}

.pre-head{
    background: url(../images/pre-head.webp) no-repeat; 
    background-size: cover; 
    background-position: center center;
    padding: 30px 15px;
}

@media(min-width:768px){
    .preheadline::before{
        content: '';
        background: url(../images/pre-head-left.webp) no-repeat;
        position: absolute;
        top: 0;
        left: -15px;
        background-size: contain;
        width: 9px;
        height: 50px;
        z-index: -1;
    }
    .preheadline::after{
        content: '';
        background: url(../images/pre-head-right.webp) no-repeat;
        position: absolute;
        top: 0;
        right: -15px;
        background-size: contain;
        width: 9px;
        height: 50px;
        z-index: -1;
    }
    .pre-head{
        padding: 30px 15px;
    }
}

span.highlight{
	border-bottom:solid 4px #fc6dab;
}


@media(min-width:768px){
	   .header-section {
        background: #fff url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 280px;
    }
	a.affiliate-link-btn {
		padding: 15px 25px;
		font-size: 18px;
	}
}

/* Header End */

/* List-section */
.list-section{
    padding: 30px 0px;
    background: #ffffff;
}
.header-list-block {
    border-radius: 10px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 23.75px 1.25px rgba(0, 0, 0, 0.2);
    /* margin-top: -90px; */
}
.bonus-list li {
    background: url(../images/kap-tick.webp) no-repeat;
    background-position: 0 5px;
    padding-left: 2rem;
    padding-bottom: 25px;
    list-style-type: none;
}
@media(min-width:768px){
    .list-section {
        padding: 100px 0px;
    }
    .header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -280px;
    }
}
/* List section End */

/* Technology-section */
.technology-sec{
    padding: 30px 0px; 
    background-color: #111;
    
}
@media(min-width:768px){
    .technology-sec{padding: 100px 0px;
        background:#fff url(../images/technology-bg.webp) no-repeat; 
        background-size: cover; 
        background-position: top center;
    }
}
/* Technology-Section-End */

/* Form Section */
	.form-section {
    padding:0px 0px 30px 0px;
	background:#ffffff;
}
.formbg {
	position: relative;
	padding: 15px;
	background-image: -moz-linear-gradient( 90deg, rgb(20,71,140) 0%, rgb(23,49,97) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(20,71,140) 0%, rgb(23,49,97) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(20,71,140) 0%, rgb(23,49,97) 100%);
    border-radius: 10px;
}
.form-control.input-field {
	border: 0px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	height: 52px;
	font-size: 16px;
	font-weight: 400;
	box-shadow: none !important;
	color: #000000;
	padding: 6px 15px;
}
.form-btn input[type="submit"] {
    border-radius: 5px;
    background-color:#f6841f;
	text-decoration: none;
	border: none;
	color: #ffffff;
	text-align: center;
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 15px 10px;
	line-height: 30px;
	font-weight: 600;
	outline: none;
	max-width: 510px;
	white-space: normal;
    cursor: pointer;
}
.form-btn input[type="submit"]:hover {
    background:#e97b1a;
}
.affiliate-btn a {
    border-radius: 5px;
    background-color:#ee3725;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    padding: 15px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    text-transform: capitalize;
    border-radius: 5px;
    max-width: 510px;
	animation-name: hang-sink, hang;
    animation-duration: .3s, 1s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
}
@keyframes hang-sink {
    100% {
        transform: translateY(8px)
    }
}

@keyframes hang {
    0% {
        transform: translateY(8px)
    }
    50% {
        transform: translateY(4px)
    }
    100% {
        transform: translateY(8px)
    }
}
@media (min-width: 768px){
.form-section {
    padding:0px 0px 80px 0px;
	background:#ffffff;
}
.formbg {
	padding: 40px 30px 20px 30px;
}
.form-control.input-field {
    height: 60px;
	font-size: 15px;
}
.form-control.input-field::placeholder{color: #000000;}
.popup-btn input[type="submit"] {
    padding: 10px 10px;
}
.affiliate-btn a {
    padding: 25px 20px;
    max-width: 510px;
}
}

/* Form Section End*/

/* Exciting-Section-Start */

.exciting-launch {
    padding:30px 0px;
    background: #f7fafe url(../images/exciting-launch.webp) no-repeat center center;
    background-size: cover;
}
.exciting-date{
    background-color: rgb(161, 180, 211); 
    padding: 15px;
}

@media(min-width:768px){
    .exciting-date{ 
        padding: 20px;
    }
}

.exciting-launch-left{
    background-color: rgb(161, 180, 211);   
    padding:0px 20px;
    position: relative;
    z-index: 1;
}
.el-inner-left{ background-color: #ffffff;  box-shadow: 0px 0px 23.75px 1.25px rgba(0, 0, 0, 0.2); } 


 
.exciting-date-right{background-color: rgb(23, 53, 105); padding: 20px;}

::marker {
  color: #6e44fe;
}

.exciting-list li{
    background: url(../images/kap-tick.webp) no-repeat;
    background-position: 0 5px;
    padding-left: 2rem;
    padding-bottom: 25px;
    list-style-type: none;
}
.exciting-commission {
    padding: 15px 15px 0px 15px;
}

.exciting-launch-right{
    background-image: -moz-linear-gradient( 90deg, rgb(20,71,140) 0%, rgb(23,49,97) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(20,71,140) 0%, rgb(23,49,97) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(20,71,140) 0%, rgb(23,49,97) 100%);
    padding: 0px 20px;
    position: relative;
    z-index: 1;
}
.el-inner-right{
    background-color: #ffffff;
    box-shadow: 0px 0px 23.75px 1.25px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px){
	
.exciting-launch {
    padding:100px 0px;

}
.el-inner-left::before{
    position: absolute;
    content: '';
    background: #f6fafd url(../images/exciting-line.webp) no-repeat;
    left: 0px;
    width: 20px;
    height: calc(100% + 40px);
    background-size: cover;
    z-index: 99;
    top: 0px;
}
.el-inner-left::after{
    position: absolute;
    content: '';
    background: #f6fafd url(../images/exciting-line.webp) no-repeat;
    right: 0px;
    width: 20px;
    height: calc(100% + 40px);
    background-size: cover;
    z-index: 99;
    top: 0px;
    transform:rotate(180deg);
}
.el-inner-right::before{
    position: absolute;
    content: '';
    background: #f6fafd url(../images/exciting-right-line.webp) no-repeat;
    left: 0px;
    width: 20px;
    height: calc(100% + 40px);
    background-size: cover;
    z-index: 99;
    top: 0px;
}
.el-inner-right::after{
    position: absolute;
    content: '';
    background: #f6fafd url(../images/exciting-right-line.webp) no-repeat;
    right: 0px;
    width: 20px;
    height: calc(100% + 40px);
    background-size: cover;
    z-index: 99;
    top: 0px;
    transform:rotate(180deg);
}
}



/* Exciting-Section-End */

.hello-awesome {
    background: #ffffff;
    padding: 30px 0px;
}
.heading-design {
	padding: 15px 50px;
	display: inline-block;
	background:url(../images/awesome-shape.webp) no-repeat center center;
    background-size: contain;
}
.awesome-feature-shape {
    padding:20px 20px;
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(230, 240, 252);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    position:relative;
}

ul.awesome-list{
	margin:0px;
	padding:0px;
	list-style: none;
}
.awesome-list li:first-child {
    margin-top: 0px;
}
.awesome-list li {
    margin-top: 10px;
    background: url(../images/kap-tick.webp) no-repeat left top;
    list-style: none;
    padding-left: 35px;
    background-position: 0px 5px;
}
@media (min-width: 768px){
.awesome-list li {
    margin-top: 30px;
    background-position: 0px 5px;
}	
.hello-awesome {
    padding:100px 0px;
}
.heading-design {
    padding:33px 100px;
}
.awesome-feature-shape {
   	padding:30px 0px 30px 30px;
}
}




.proudly-sec {
    background: #192d5b url(../images/proudly-bg.webp) center center no-repeat;
    background-size: cover;
    padding:30px 0px;
}
@media (min-width: 768px){
.proudly-sec {   
    padding:100px 0px;
}
}


/* Arrow & Img Move Animation */
img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}


.logos-effect img {
    transition: all 0.5s;
}
.logos-effect img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}


.feature-list {
    background: #173162 url(../images/feature-list-bg.webp) center center;
    background-size: cover;
    padding: 30px 0px;
}
.feature-list-box {
    padding:30px;
    width:100%;
    float:left;
    text-align:center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    height: 100%;
}
.feature-list-box .description{
	font-size:18px;
	font-weight:400;
	line-height:30px;
	margin-top:20px;
}

@media(min-width:768px){
	.feature-list {
    padding: 100px 0px;
}
	}
	
	
.feature-sec {
    background: #ffffff;
    padding: 30px 0px 60px 0px;
}
.demo-sec {
	background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/demo-sec-bg.png) no-repeat center center;
	background-size: cover;
	padding:30px 0px;
}

@media(min-width:768px){
    .demo-sec {        
        padding:100px 0px;
    }
	.feature-sec {
    background: #ffffff;
    padding: 100px 0px;
}
	}	
	
	
.potential-sec {
    background: #ffffff;
    padding: 30px 0px;
}
.potential-block {
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    padding: 30px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .potential-block img{
    max-height: 200px;
  }

@media (min-width: 768px){
.potential-sec {
    background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/potential-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 100px 0px;
}
}

.prize-value {
	padding: 30px 0;
	background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/prize-value.png) no-repeat top center;
	background-size: cover;
}

@media (min-width: 768px){
.prize-value {

    padding:80px 0px;
}
.f-md-72{
	font-size:72px;
}
}


.contest-section {
	padding: 30px 0;
	background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/contest-bg.png) no-repeat center center;
	background-size: cover;
}

@media (min-width: 768px){
.contest-section {
    padding:80px 0px;
}
}


.prize-section {
    background: #f4e6f9;
    padding: 30px 0px;
}
@media(min-width:768px){
	    .prize-section {
        background: #f4e6f9 url(https://cdn.oppyo.com/launches/viddeyo/jv/prize-bg.png) no-repeat center center;
        background-size: cover;
        padding: 50px 0px 80px 0px;
    }
}

.deep-funnel {
    background: #ebf6fb url(https://cdn.oppyo.com/launches/viddeyo/jv/deep-funnel.png) no-repeat center center;
        background-size: cover;
    padding: 30px 0px;
}
@media(min-width:768px){

.deep-funnel {
        padding:80px 0px;
    }
}

.reciprocate-sec {
    background: #ffffff;
    padding: 30px 0px;
}
@media(min-width:768px){
    .reciprocate-sec {
        background: #ffffff url(../images/solid-track-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}

.contact-section {
    background: #e3eaf4 url(../images/query-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.contact-shape{
	 background:#ffffff;
     border-radius: 30px;
     padding:0px 30px 30px 30px;
     position: relative;
     text-align: center;
}
.contact-shape::after{
    content: '';
    bottom: -5px;
    border-radius: 4px;
    background-color: rgb(23, 44, 90);
    position: absolute;
    width: 100px;
    height: 10px;
    z-index: 8;
    left: 38%;
}
.contact-shape .minus{
    top: -30px;
    position: relative;
}
@media (min-width: 768px){
.contact-section {    
    padding:80px 0px;
}}




.terms-section {
    padding: 30px 0px;
    background: #ffffff;
}
.terms-list li {
    background: url(../images/circle-icon.webp) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 30px;
}
@media (min-width: 768px){
.terms-section {
	padding: 80px 0px;
}
}



.footer-section {
    background: #020d13;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px){
.footer-section {
        padding: 50px 0px
    }
}

