html {
  scroll-behavior: smooth;
}
/*Fonts*/

/*Common*/
body {font-family: 'Outfit', sans-serif;font-size: 14px;line-height: 1.42857143;color: #030308;background-color:#fff;}
a{text-decoration:none;}
a:hover{text-decoration:none;}

.under{
    border-bottom: 3px solid #eaab26;
}

h1, h2, h3, h4 , h5, h6, p{margin-bottom:0;}

 ul{
    padding:0px;
    list-style:none;
    margin:0px;
}
.ls1{letter-spacing:1px;}
.ls2{letter-spacing:2px;}
.ls4{letter-spacing:4px;}
.ls-02{letter-spacing:-0.2px;}
.ls-01{letter-spacing:-0.5px;}
.ls-1{letter-spacing:-1px;}
.ls-2{letter-spacing:-2px;}
.ls-3{letter-spacing:-3px;}
.ls-4{letter-spacing:-4px;}

.padding0 {padding: 0px;}
.padding1 {padding: 0 1%;}
.padding2 {padding: 0 2%;}
.padding3 {padding: 0 3%;}


@media (min-width:240px) {
.xs8 {font-size: 8px;}.xs9 {font-size: 9px;}.xs10 {font-size: 10px;}.xs11 {font-size: 11px;}.xs12 {font-size: 12px;}.xs13 {font-size: 13px;}.xs14 {font-size: 14px;}.xs15 {font-size: 15px;}.xs16 {font-size: 16px;}.xs17 {font-size: 17px;}.xs18 {font-size: 18px;}.xs19 {font-size: 19px;}.xs20 {font-size: 20px;}.xs21 {font-size: 21px;}.xs22 {font-size: 22px;}.xs23 {font-size: 23px;}.xs24 {font-size: 24px;}.xs25 {font-size: 25px;}.xs27 {font-size: 27px;}.xs28 {font-size: 28px;}.xs29 {font-size: 29px;}.xs30 {font-size: 30px;}.xs31 {font-size: 31px;}.xs33 {font-size: 33px;}.xs35 {font-size: 35px;}.xs37 {font-size: 37px;}.xs39 {font-size: 39px;}.xs40 {font-size: 40px;}.xs41 {font-size: 41px;}.xs43 {font-size: 43px;}.xs45 {font-size: 45px;}.xs47 {font-size: 47px;}.xs49 {font-size: 49px;}.xs51 {font-size: 51px;}.xs56{font-size: 56px;}.xs60 {font-size: 60px;}.xs70 {font-size: 70px;}.xs85 {font-size: 85px;}
.xsmt0{margin-top:0%;}.xsmt1{margin-top:1%;}.xsmt2{margin-top:2%;}.xsmt3{margin-top:3%;}.xsmt4{margin-top:4%;}.xsmt5{margin-top:5%;}.xsmt6{margin-top:6%;}.xsmt8{margin-top:8%;}.xsmt13{margin-top:13%;}.xsmt20{margin-top:20%;}.xsmt30{margin-top:30%;}
.xsmb1{margin-bottom:1%;}
.xsmb2{margin-bottom:2%;}
.xsmb3{margin-bottom:3%;}
.xsmb4{margin-bottom:4%;}
.xsmb6{margin-bottom:6%;}
.xsmb7{margin-bottom:7%;}
.xsmb8{margin-bottom:8%;}
.xsmb10{margin-bottom:10%;}
.xsmb15{margin-bottom:15%;}
.xsmb0{margin-bottom:0%;}
.xsmt-1{margin-top:-1%;}
.xsmt-3{margin-top:-3%;}
.xsmt-5{margin-top:-5%;}
.mycontainer, .mycontainer2, .mycontainer3{
    width:100%;    
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.safe-box{
    width: 50%;
}
}
@media (min-width:768px) {  
.sm8 {font-size: 8px;}.sm9 {font-size: 9px;}.sm10 {font-size: 10px;}.sm11 {font-size: 11px;}.sm12 {font-size: 12px;}.sm13 {font-size: 13px;}.sm14 {font-size: 14px;}.sm15 {font-size: 15px;}.sm16 {font-size: 16px;}.sm17 {font-size: 17px;}.sm18 {font-size: 18px;}.sm19 {font-size: 19px;}.sm20 {font-size: 20px;}.sm21 {font-size: 21px;}.sm23 {font-size: 23px;}.sm24 {font-size: 24px;}.sm25 {font-size: 25px;}.sm27 {font-size: 27px;}.sm28 {font-size: 28px;}.sm29 {font-size: 29px;}.sm30 {font-size: 30px;}.sm31 {font-size: 31px;}.sm32 {font-size: 32px;}.sm33 {font-size: 33px;}.sm34 {font-size: 34px;}.sm35 {font-size: 35px;}.sm37 {font-size: 37px;}.sm39 {font-size: 39px;}.sm40 {font-size: 40px;}.sm41 {font-size: 41px;}.sm43 {font-size: 43px;}.sm44 {font-size: 44px;}.sm45 {font-size: 45px;}.sm46 {font-size: 46px;}.sm47 {font-size: 47px;}.sm49 {font-size: 49px;}.sm51 {font-size: 51px;}.sm55 {font-size: 55px;}.sm60 {font-size: 60px;}.sm70 {font-size: 70px;}.sm80 {font-size: 80px;}.sm100 {font-size: 100px;}.sm130 {font-size: 130px;}

.lmt0{margin-top:0%;}.lmt1{margin-top:1%;}.lmt2{margin-top:2%;}.lmt3{margin-top:3%;}.lmt4{margin-top:4%;}.lmt5{margin-top:5%;}.lmt10{margin-top:10%;}.lmt13{margin-top:13%;}.lmt6{margin-top:6%;}.lmt7{margin-top:7%;}.lmt8{margin-top:8%;}.lmt9{margin-top:9%;}.lmt11{margin-top:11%;}.lmt12{margin-top:12%;}.lmt16{margin-top:16%;}.lmt18{margin-top:18%;}.lmt12{margin-top:12%;}.lmt13{margin-top:13%;}.lmt14{margin-top:14%;}.lmt15{margin-top:15%;}.lmt18{margin-top:18%;}.lmt20{margin-top:20%;}.lmt22{margin-top:22%;}.lmt25{margin-top:25%;}.lmt28{margin-top:28%;}.lmt30{margin-top:30%;}.lmt34{margin-top:34%;}.lmt45{margin-top:45%;}
.lmt-15{margin-top:-14%;}
.lmt-25{margin-top:-25%;}
.lmt-3{margin-top:-3%;}
.lmt-1{margin-top:-1%;}
.lmt-2{margin-top:-2%;}
.lmt-3{margin-top:-3%;}
.lmt-4{margin-top:-4%;}
.lmt-5{margin-top:-5%;}
.lmt-6{margin-top:-6%;}
.lmt-7{margin-top:-7%;}
.lmt-8{margin-top:-8%;}
.lmt-9{margin-top:-9%;}
.lmt-10{margin-top:-10%;}
.lmt-11{margin-top:-11%;}
.lmt-13{margin-top:-13%;}
.lmt-20{margin-top:-20%;}
.lmb0{margin-bottom:0%;}
.lmb1{margin-bottom:1%;}
.lmb3{margin-bottom:3%;}
.lmb7{margin-bottom:7%;}
.lmb10{margin-bottom:10%;}
.lmb15{margin-bottom:15%;}
.lmb20{margin-bottom:20%;}

.lmb-8{margin-bottom:-8%;}
.lmb-4{margin-bottom:-4%;}

.lml-2{margin-left:-2%;}

.pc-right{
    text-align: right;
}


.mycontainer{width:750px;}
.mycontainer2{width:750px;}
.mycontainer3{width:750px;}

.mycontainer-right{width:750px;}
.mycontainer-left{width:750px;}


.safe-box{
    width: 30%;
}

}

@media (min-width:992px) {
.md8 {font-size: 8px;}.md9 {font-size: 9px;}.md10 {font-size: 10px;}.md11 {font-size: 11px;}.md12 {font-size: 12px;}.md13 {font-size: 13px;}.md14 {font-size: 14px;}.md15 {font-size: 15px;}.md16 {font-size: 16px;}.md17 {font-size: 17px;}.md18 {font-size: 18px;}.md19 {font-size: 19px;}.md20 {font-size: 20px;}.md21 {font-size: 21px;}.md22 {font-size: 22px;}.md23 {font-size: 23px;}.md24 {font-size: 24px;}.md25 {font-size: 25px;}.md26 {font-size: 26px;}.md27 {font-size: 27px;}.md28{font-size: 28px;}.md29 {font-size: 29px;}.md30 {font-size: 30px;}.md31 {font-size: 31px;}.md32 {font-size: 32px;}.md33 {font-size: 33px;}.md34 {font-size: 34px;}.md35 {font-size: 35px;}.md36 {font-size: 36px;}.md37 {font-size: 37px;}.md38 {font-size: 38px;}.md39 {font-size: 39px;}.md40{font-size: 40px;}.md41 {font-size: 41px;}.md42 {font-size: 42px;}.md44 {font-size: 44px;}.md45 {font-size: 45px;}.md46 {font-size: 46px;}.md47 {font-size: 47px;}.md48 {font-size: 48px;}.md49 {font-size: 49px;}.md50 {font-size: 50px;}.md51 {font-size: 51px;}.md52 {font-size: 52px;}.md53 {font-size: 53px;}.md54 {font-size: 54px;}.md55 {font-size: 55px;}.md56 {font-size: 56px;}.md58 {font-size: 58px;}.md67 {font-size: 67px;}.md60{font-size: 60px;}.md75 {font-size: 75px;}.md70 {font-size: 70px;}.md80 {font-size: 80px;}.md84 {font-size: 84px;}.md90{font-size: 90px;}.md120{font-size: 120px;}.md170 {font-size: 170px;}.md210 {font-size: 240px;}


.mmb0{margin-bottom:0%;}
.mmb3{margin-bottom:3%;}
.mmb5{margin-bottom:5%;}
.mmb7{margin-bottom:7%;}
.mmb8{margin-bottom:8%;}
.mmb11{margin-bottom:11%;}
.mmb12{margin-bottom:12%;}
.mmb14{margin-bottom:14%;}
.mmb15{margin-bottom:15%;}
.mmb16{margin-bottom:16%;}
.mmb20{margin-bottom:20%;}
.mmb28{margin-bottom:28%;}
.mmb35{margin-bottom:35%;}
.mmt0{margin-top:0%;}
.mmt1{margin-top:1%;}
.mmt2{margin-top:2%;}
.mmt3{margin-top:3%;}
.mmt4{margin-top:4%;}
.mmt5{margin-top:5%;}
.mmt6{margin-top:6%;}
.mmt7{margin-top:7%;}
.mmt8{margin-top:8%;}
.mmt9{margin-top:9%;}
.mmt10{margin-top:10%;}
.mmt11{margin-top:11%;}
.mmt12{margin-top:12%;}
.mmt13{margin-top:13%;}
.mmt14{margin-top:14%;}
.mmt15{margin-top:15%;}
.mmt18{margin-top:18%;}
.mmt11a{margin-top:11.6%;}
.mmt20{margin-top:20%;}
.mmt28{margin-top:28%;}
.mmt31{margin-top:31%;}
.mmt36{margin-top:36%;}
.mmt-2{margin-top:-2%;}
.mmt-3{margin-top:-3%;}
.mmt-4{margin-top:-4%;}
.mmt-5{margin-top:-5%;}
.mmt-8{margin-top:-8%;}
.mmt-9{margin-top:-9%;}
.mmt-9a{margin-top:-9.5%;}
.mmt-12{margin-top:-12%;}

.mmb-5{margin-bottom:-5%;}
.mmb-6{margin-bottom:-6%;}

.mml-4{margin-left:-4%;}

.mycontainer{width:970px;}
.mycontainer2{width:922px;}
.mycontainer3{width:922px;}

.mycontainer-right{width:922px;}
.mycontainer-left{width:922px;}

.header{width: 80%;}

.safe-box{
    width: 20%;
}

}

@media (min-width:1200px){
.lg8 {font-size: 8px;}.lg9 {font-size: 9px;}.lg10 {font-size: 10px;}.lg11 {font-size: 11px;}.lg12 {font-size: 12px;}.lg13 {font-size: 13px;}.lg14 {font-size: 14px;}.lg15 {font-size: 15px;}.lg16 {font-size: 16px;}.lg17 {font-size: 16px;}.lg18 {font-size: 18px;}.lg19 {font-size: 19px;}.lg20 {font-size: 20px;}.lg21 {font-size: 21px;}.lg22 {font-size: 22px;}.lg23 {font-size: 23px;}.lg24 {font-size: 24px;}.lg25 {font-size: 25px;}.lg26 {font-size: 26px;}.lg27 {font-size: 27px;}.lg29 {font-size: 29px;}.lg30 {font-size: 30px;}.lg31 {font-size: 31px;}.lg32 {font-size: 32px;}.lg33 {font-size: 33px;}.lg34 {font-size: 34px;}.lg35 {font-size: 35px;}.lg36 {font-size: 36px;}.lg37 {font-size: 37px;}.lg38 {font-size: 38px;}.lg39 {font-size: 39px;}.lg40{font-size: 40px;}.lg41 {font-size: 41px;}.lg42 {font-size: 42px;}.lg44 {font-size: 44px;}.lg45 {font-size: 45px;}.lg46 {font-size: 46px;}.lg47 {font-size: 47px;}.lg48 {font-size: 48px;}.lg49 {font-size: 49px;}.lg50 {font-size: 50px;}.lg51 {font-size: 51px;}.lg52 {font-size: 52px;}.lg53 {font-size: 53px;}.lg55 {font-size: 55px;}.lg56 {font-size: 56px;}.lg58 {font-size: 58px;}.lg67 {font-size: 67px;}.lg60{font-size: 60px;}.lg71 {font-size: 71px;}.lg70 {font-size: 70px;}.lg80 {font-size: 80px;}.lg86 {font-size: 86px;}.lg150 {font-size: 150px;}.lg120 {font-size: 120px;}

.lappysection {position: relative;bottom: -125px;margin-top: -90px !important;}


.lmtm-3{margin-top: -3%;}

.lgmb0{margin-bottom:0%;}
.lgmb2{margin-bottom:2%;}
.lgmb4{margin-bottom:4%;}
.lgmb5{margin-bottom:5%;}
.lgmb11{margin-bottom:11%;}
.lgmb12{margin-bottom:12%;}
.lgmb22{margin-bottom:22%;}
.lgmb25{margin-bottom:25%;}

.lgmb-6{margin-bottom:-6%;}


.lgmt0{margin-top:0%;}
.lgmt4{margin-top:4%;}
.lgmt5{margin-top:5%;}
.lgmt6{margin-top:6%;}
.lgmt10{margin-top:10%;}
.lgmt13{margin-top:13%;}
.lgmt15{margin-top:15%;}
.lgmt20{margin-top:20%;}
.lgmt26{margin-top:26%;}
.lgmt29{margin-top:29%;}

.padding4{padding:0% 4%}

}

@media (min-width:1500px){
.xl8 {font-size: 8px;}.xl9 {font-size: 9px;}.xl10 {font-size: 10px;}.xl11 {font-size: 11px;}.xl12 {font-size: 12px;}.xl13 {font-size: 13px;}.xl14 {font-size: 14px;}.xl15 {font-size: 15px;}.xl16 {font-size: 16px;}.xl17 {font-size: 17px;}.xl18 {font-size: 18px;}.xl19 {font-size: 19px;}.xl20 {font-size: 20px;}.xl21 {font-size: 21px;}.xl22 {font-size: 22px;}.xl23 {font-size: 23px;}.xl24 {font-size: 24px;}.xl25 {font-size: 25px;}.xl26 {font-size: 26px;}.xl27 {font-size: 27px;}.xl28 {font-size: 28px;}.xl29 {font-size: 29px;}.xl30 {font-size: 30px;}.xl31 {font-size: 31px;}.xl32 {font-size: 32px;}.xl33 {font-size: 33px;}.xl34 {font-size: 34px;}.xl35 {font-size: 35px;}.xl36 {font-size: 36px;}.xl37 {font-size: 37px;}.xl38 {font-size: 38px;}.xl39 {font-size: 39px;}.xl40{font-size: 40px;}.xl41 {font-size: 41px;}.xl42 {font-size: 42px;}.xl44 {font-size: 44px;}.xl45 {font-size: 45px;}.xl46 {font-size: 46px;}.xl47 {font-size: 47px;}.xl48 {font-size: 48px;}.xl49 {font-size: 49px;}.xl50 {font-size: 50px;}.xl51 {font-size: 51px;}.xl52 {font-size: 52px;}.xl53 {font-size: 53px;}.xl55 {font-size: 55px;}.xl56 {font-size: 56px;}.xl58 {font-size: 58px;}.xl65 {font-size: 65px;}.xl60{font-size: 60px;}.xl76 {font-size: 76px;}.xl70 {font-size: 70px;}.xl80 {font-size: 80px;}.xl87 {font-size: 87px;}.xl170 {font-size: 170px;}.xl210 {font-size: 240px;}

.xlmt4{margin-top:4%;}



}



.text-black{color:#000;}
.gray{color:#69686b}
.gray2{color:#aeaeb1}
.gray3{color:#8c8c8c}
.blue{color:#2a3950} 
.black2{color:#101010} 
.yellow-clr{color: #eaab26;}

.responsive-video {
    padding-bottom: 56.21%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}


.responsive-video iframe, .responsive-video object, .responsive-video embed, .responsive-video1 iframe, .responsive-video1 object, .responsive-video1 embed, .responsive-demo-video embed, .responsive-demo-video object, .responsive-demo-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.autoplayer-area {
    z-index: 2;
}

.video-box {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 12px;
    background-color: rgb(255 255 255 / 7%);
    box-shadow: 0px 41px 40px 0px rgb(39 11 40 / 23%);
    padding: 15px;
}

.video-box .responsive-video {
     border-radius: 15px;
}
header {
    background-color: #b30f0f;
    padding: 17px 10px;
}
header h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    line-height: 120%;
}
.highlight-yellow{
    background: #ffff00;
    display: inline-block;
    padding: 5px 5px 0px;
  }
.autoplayer-subarea-16-by-9 {
    padding-bottom: 56.80% !important;
}
.autoplayer-subarea {
    background-color: #121212 !important;
}

.demo-video {
    border-style: solid;
    border-width: 45px;
    border-color: rgb(255 255 255 / 8%);
    margin-top: 7%;
    background-color: rgb(37, 18, 62);
    box-shadow: 0px 41px 40px 0px rgb(39 11 40 / 23%);
}





.mycontainer{margin:auto;}

.mycontainer-right{margin-left:auto;}
.mycontainer-left{margin-right:auto;}

.italic {
    font-style: italic;
}

.upper{text-transform:uppercase}


/*font-weight*/
.w100{font-weight:100;} .w200{font-weight:200;} .w300{font-weight:300;} .w400{font-weight:400;} .w500{font-weight:500;} .w600{font-weight:600;} .w700{font-weight:700;}
.w800{font-weight:800;} .w900{font-weight:900;}
.lh0 {line-height: 0%;}.lh50 {line-height: 50%;}.lh60 {line-height: 60%;}.lh70 {line-height: 70%;}.lh80 {line-height: 80%;}.lh90 {line-height: 90%;}.lh100 {line-height: 100%;}.lh110 {line-height: 110%;}.lh120 {line-height: 120%;}.lh130 {line-height: 130%;}.lh140 {line-height: 140%;}.lh145 {line-height: 145%;}.lh150 {line-height: 150%;}.lh160 {line-height: 160%;}.lh170 {line-height: 170%;}.lh180 {line-height: 180%;}.lh190 {line-height: 190%;}.lh200 {line-height: 200%;}.lh210 {line-height: 210%;}.lh230 {line-height: 230%;}


.clear {
    clear: both;
}

.padding2{padding:0% 2%}
.padding3{padding:0% 3%}

.padding5{padding:0% 5%}
.paddingR{padding: 0 0 0 3%;}


.mybutton a {
    color: #ffffff;
    padding: 2.1% 3.4% 2.1% 3.4%;
    display: table;
    margin: auto;
    transition: 0.5s;
    border-radius: 26px;
    background-image: -moz-linear-gradient( 0deg, rgb(237,28,36) 10%, rgb(245,133,35) 57%, rgb(252,238,33) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(237,28,36) 10%, rgb(245,133,35) 57%, rgb(252,238,33) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(237,28,36) 10%, rgb(245,133,35) 57%, rgb(252,238,33) 100%);
    box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.46);    
    position: relative;
    z-index: 1;
}
.mybutton a:hover {
    background-image: -moz-linear-gradient( 0deg, rgb(252,238,33) 10%, rgb(245,133,35) 57%, rgb(237,28,36) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(252,238,33) 10%, rgb(245,133,35) 57%, rgb(237,28,36) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(252,238,33) 10%, rgb(245,133,35) 57%, rgb(237,28,36) 100%);
    box-shadow: none;
}

.b1, .b2{position:absolute;width: 100%;}
.b1{top: 0;left: 0;}
.b2{bottom: 0;left: 0;}
.mybutton a:hover .b1, .mybutton a:hover .b2{opacity:0.5;}

.click {
    position: absolute;   
    z-index: 2;
    top: 59%;
    right: -3%;
    animation: leaves 0.5s ease-in-out infinite alternate;
}
@keyframes leaves {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}


.mybutton-top a {
    color: #ffffff;
    padding: 4.1% 10.4% 4.1% 10.4%;
    display: table;
    transition: 0.5s;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 0deg, rgb(237,28,36) 10%, rgb(245,133,35) 57%, rgb(252,238,33) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(237,28,36) 10%, rgb(245,133,35) 57%, rgb(252,238,33) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(237,28,36) 10%, rgb(245,133,35) 57%, rgb(252,238,33) 100%);
    box-shadow: 0px 16px 40px 0px rgb(0 0 0 / 46%);
    position: relative;
    z-index: 1;
    margin-left: auto;
}
.mybutton-top a:hover {
    background-image: -moz-linear-gradient( 0deg, rgb(252,238,33) 10%, rgb(245,133,35) 57%, rgb(237,28,36) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(252,238,33) 10%, rgb(245,133,35) 57%, rgb(237,28,36) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(252,238,33) 10%, rgb(245,133,35) 57%, rgb(237,28,36) 100%);
    box-shadow: none;
}


.mybuttonA a {
    width: 86.5%;
    padding: 4.9% 2%;
}

.mybutton-dark a{box-shadow: 0px 14px 27px 0px rgba(13, 11, 61, 0.4);}

.arrow1{
    -webkit-animation: bounceRight 2s infinite;
    animation: bounceRight 2s infinite;
    position:relative;
    right:9px;
}
/* right bounce */

@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  60% {
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
/* /right bounce */



.mybutton1 a {
    border-radius: 60px;
    background-image: -webkit-linear-gradient( 
0deg
, rgb(249,19,98) 26%, rgb(255,216,0) 100%);
    box-shadow: 0px 13px 40px 0px rgb(0 0 0 / 15%);
    color: #fff;
    padding: 3.2% 3% 3.2% 5%;
    display: table;
    margin: auto;
    transition: 0.5s;
}
.mybutton1 a:hover {
    background-image: -webkit-linear-gradient( 0deg, rgb(255,216,0) 26%, rgb(249,19,98) 100%);
    box-shadow:none;
}

.mybutton2 a {
    border-radius: 12px;
    background-image: -webkit-linear-gradient( -180deg , #E53935 0%, #F44336 100%);
    box-shadow: 0px 18px 29px 0px rgba(4, 51, 89, 0.25);
    color: #fff;
    padding: 5.5% 4% 5.5% 6%;
    display: table;
    margin: auto;
    transition: 0.5s;
    width: 102%;
    position: relative;
    left: -1%;
}
.mybutton2 a:hover {
    background-image: -webkit-linear-gradient( -180deg , #F44336 0%, #E53935 100%);
    box-shadow:none;
}

.price-checklist2 li {
    background: url(../images/priceCheck2.png) no-repeat left 1px;
    padding-left: 40px;
    list-style: none;
    margin-left: 0px;
    padding-top: 0;
    padding-bottom: 5%;
    margin-top: 5%;
    text-align: left;
    color: #ffffff;
border-bottom: 1px solid rgb(255 255 255 / 12%);}

.price-checklist2B{
    padding: 0 10%;
    margin-top: 5%;
}

.price-checklist2B li {
    background: url(../images/priceCheck2B.png) no-repeat left 3px;
    padding-left: 40px;
    list-style: none;
    margin-left: 0px;
    padding-top: 0;
    padding-bottom: 5%;
    margin-top: 5%;
    text-align: left;
    color: #ffffff;
border-bottom: 1px solid rgb(255 255 255 / 12%);}
.price-checklist1 li {
    list-style: none;
    margin-left: 0;
    padding-top: 0px;
    padding-bottom: 7%;
    margin-bottom: 7%;
    color: #313131;
}
.price-checklist2 li:last-child, .price-checklist2B li:last-child {
    border-bottom: 0px;
}
.price-unchecklist1 li {
    background: url(../images/uncheck2.png) no-repeat 49px 6px;
    padding-left: 80px;
    padding-right: 40px;
    list-style: none;
    margin-left: 0;
    padding-top: 0px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.price-unchecklist1 li.last {
    border-bottom: 0px;
}
.price-unchecklist-bonus {
    padding-left: 8%;
}

.price-checklist-bonus {
    padding-left: 8%;
}


ul.price-checklist3 {
    padding-left: 13px;
}
.price-checklist3 li {
    background: url(../images/check3.png) no-repeat left top;
    padding-left: 39px;
    list-style: none;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 17px;
    margin-bottom: 17px;
    border-bottom:1px solid #f1f1f1;
}

.pro-box li.last, .price-checklist3 li.last {border-bottom:0px;}

.titleBg12{
    background-color: rgb(127, 107, 236);
    display: inline-block;
    padding: .2% 5%;
    border-radius: 50px;
}

.coupon {
    display: inline-block;
    padding: .1% 3%;
    border-radius: 50px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    background-color: #ffcc00;
    color: #1e1e1e;
}
.text-bg {
    background: url(../images/textBg.png) no-repeat center center;
    padding: 12px 12px;
    color: #fff;
    display: inline-block;
}

.lite-title {
    background-color: #eff1f3;
    width: 108%;
    margin-left: -4%;
    padding: 4% 0;
    text-align: center;
    margin-bottom: 6%;
}
.pro-title{background-image: linear-gradient(to right, #f87a5c , #ff436f);width: 108%;margin-left: -4%;padding: 4% 0;margin-bottom: 6%;text-align: center;color: #fff;}

.table-box-section {
    padding: 0 2.2%;
    margin-top: 1%;
}
.table-box-out {
    padding: 0 7px;
    margin-top: 3.5%;
    position: relative;
    z-index: 1;
}

.table-box1 {
    background: url(../images/tableBg.png) no-repeat center top;
    background-size: cover;
    overflow: hidden;
    border-radius: 50px;
    background-color: rgb(8, 8, 20);
    box-shadow: 0px 14px 43px 0px rgb(0 0 0 / 18%);
    padding: 6%;}

.table-box1-inn {
    border-radius: 50px;
    background-color: rgb(255 255 255 / 6%);
    border-width: 1px;
    border-color: rgb(255 255 255 / 12%);
    border-style: solid;
    padding: 6% 0 8% 0;}

.table-box2 {
    padding: 0;
    padding-bottom: 8%;
    border-radius: 40px;
    background-color: #231b48;
    overflow: hidden;
}

.table-box3-out {
    margin-top: 5%;
    text-align: center;
    padding: 0 1.8%;
}
.table-box3 {
    padding: 0% 0 8% 0px;
    border-radius: 30px;
    background-color: rgb(255 255 255);
    position: relative;
    overflow: hidden;
}

.table-list{
    margin-top: 5%;
}
.table-list li{
    margin: 3.5% 0;
}

.cover{
    position: relative;
    margin-top: 0;
    z-index: 1;
}

.table-box3-top{
    background: url(../images/tableBg.png) no-repeat center bottom;
    background-size: cover;
    padding: 8% 0 0 0;
    background-color: #200d47;
}



.arrow2 {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


/*banner-section*/

.gradient-text{
    background-image: linear-gradient(to right, #28acff , #004eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text2{
    background-image: linear-gradient(to right, #faa41e , #ff4b32);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titleBg {
    margin-top: 3%;
}








.footer a {
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

.banner-box {margin: 2.5% 0;}

.banner-text{padding: 0 13px;}

.warning-box {
    border-width: 1px;
    border-color: rgb(255 255 255 / 20%);
    border-style: solid;
    border-radius: 10px;
    display: inline-block;
    padding: 1.5% 6.4%;
}
.warning-box2 {
    border-width: 1px;
    border-color: #f6b0b3;
    border-style: solid;
    border-radius: 10px;
    display: inline-block;
    padding: 1.5% 6.4%;
}


.section19-box-main{margin-top: 3%;} 
 
.section25-box-main{margin-top: 4%;}  
 


.bgg1 {
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(25px);
    padding: 10px 20px;
}

.list-head li {
    background: url(../images/priceCheck2.png) no-repeat;
    padding: 0px 0px 10px 40px;
    margin-bottom: 10px;
    background-position: 0px 5px;
    text-align: left;
    border-bottom: solid 1px #ffffff33;
}
.list-head1 li {
    background: url(../images/priceCheck2.png) no-repeat;
    padding: 0px 0px 10px 40px;
    margin-bottom: 10px;
    background-position: 0px 5px;
    text-align: left;
}
a.cta-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 4% 6%;
    color: #ffffff;
    font-weight: 700;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;
    background: #FD2F15;
    
    display: inline-grid;
    overflow: hidden;
    position: relative;
    z-index: 2;
    margin-top: 5%;
}


.timer-section {
    background-color: #ff004d;
    padding: 1.5% 1.5%;
}
.section4 {
    background: #fff;
    padding: 5% 0 3% 0;
}
.section5 {
    background: #f1f1f1;
    padding: 5% 0 0% 0;
}
.section6 {
    display: block;
    background: #080102 url(../images/bg3.png) repeat 0 0 / cover;
    padding-top: 100px;
    padding-bottom: 100px;
    /* margin-bottom: -135px; */
    background-position: top center;
}
.section7 {
    background: #fff;
    padding: 3% 0;
}
.section8  {
    display: block;
    background:#080102 url(../images/bg7.png) repeat 0 0 / cover;
    padding-top: 100px;
    padding-bottom: 100px;
    /* margin-bottom: -135px; */
    background-position: top center;
}
.guaranteBox-inner {
    background: #ffffff29;
    padding: 0% 5% 6% 5%;
    border-radius: 10px;
    border: 1px solid #fff;
}
.moneyback {
    margin-top: -11%;
}
.section9 {
    background: url(../images/pricingbg.png) no-repeat center top;
    background-size: cover;
    padding: 5% 0 5% 0;
    position: relative;
    z-index: 1;
}

.table-box1 {
    background: #0d0304;
    
    overflow: hidden;
    border-radius: 50px;
  
    padding: 6%;
}
.table-box1-inn {
    border-radius: 50px;
    background-color: rgb(255 255 255 / 6%);
    border-width: 1px;
    border-color: rgb(255 255 255 / 12%);
    border-style: solid;
    padding: 6% 3% 8% 3%;
}
.cover {
    position: relative;
    margin-top: 0;
    z-index: 1;
}
.price-checklist2 {
    padding: 0 8%;
    margin-top: 5%;
}
.price-checklist2 li {
    background: url(../images/priceCheck2.png) no-repeat left 1px;
    padding-left: 40px;
    list-style: none;
    margin-left: 0px;
    padding-top: 0;
    padding-bottom: 5%;
    margin-top: 5%;
    text-align: left;
    color: #ffffff;
    border-bottom: 1px solid rgb(255 255 255 / 12%);
}
.buybutton a:hover {
    background-image: -webkit-linear-gradient( -180deg, #F44336 0%, #E53935 100%);
    box-shadow: none;
}
.buybutton a {
    border-radius: 12px;
    background-image: -webkit-linear-gradient( -180deg, #E53935 0%, #F44336 100%);
    box-shadow: 0px 18px 29px 0px rgb(4 51 89 / 25%);
    color: #fff;
    padding: 3% 4% 3% 6%;
    display: table;
    margin: auto;
    transition: 0.5s;
    width: 100%;
}
.img-animation {
    animation: 1s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
/*Exit Popup*/
.exit-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 930px;
    padding: 0px 0px 70px 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 9999;
    border: 8px solid #ff0b0b;
}
img.img-fluid.mx-auto.d-block.lgo {
    margin-top: 2%;
    margin-bottom: 2%;
}

a.action-link {
    padding: 20px 30px;
    display: inline-block;
}
a.action-link {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 25px 15px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
    background-color: rgb(255 91 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 75%;
    margin: auto;
    margin-top: 2%;
}
a.action-link:hover {
    transition: all 0.5s;
    background-color: rgb(235 84 0);
    transition: all 0.5s;
}
.exit-popup h2 {
    font-size: 60px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 130%;
    margin-bottom: 1%;
    background: #ff0b0b;
    color: #fff;
    font-weight: 700;
}
.exit-popup h3 {
    font-size: 45px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 130%;
    margin-bottom: 1%;
    font-weight: 700;
}
span.subtext {
    font-size: 22px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 130%;
}
span.subtext2 {
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 130%;
    font-weight: 600;
    color: #21cffc;
}
span.subtext3 {
    font-size: 28px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 130%;
    font-weight: 600;
    color: #000064;
}
span.subtext4 {
    font-size: 40px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 130%;
    font-weight: 700;
    color: #fc2121;
}
form {
    margin-top: 1%;
}
a.nothnkss {
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 130%;
}
.section10 {
    background: url(../images/banner.png) no-repeat center center;
    background-size: cover;
    padding: 5% 0 5% 0;
    position: relative;
    z-index: 1;
    background-color: #050511;
}
.nothanks-section {
    padding: 0% 0 5% 0;
}
.thanks-button a {
    color: #FD2F15;
}
.thanks-button a:hover {
    color: #FD2F15;
    text-decoration:none;
}
.footer-section {
    background: #100f12;
    padding: 3% 0;
}

.footer-ul {
    padding: 0;
    margin: 0
}

.footer-ul li {
    display: inline
}
.footer-ul li a, .footer-ul li a:hover {
    color: #ffffff;
}
.px5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.buybutton1 {
    background: #fff;
    padding: 3% 0;
    border-radius: 10px;
    transition: 0.5s;

}
.buybutton1:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


.mybutton-top a {
    color: #ffffff;
    padding: 4.1% 10.4% 4.1% 10.4%;
    display: table;
    transition: 0.5s;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 0deg, rgb(237,28,36) 10%, rgb(245,133,35) 57%, rgb(252,238,33) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(237,28,36) 10%, rgb(245,133,35) 57%, rgb(252,238,33) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(237,28,36) 10%, rgb(245,133,35) 57%, rgb(252,238,33) 100%);
    box-shadow: 0px 16px 40px 0px rgb(0 0 0 / 46%);
    position: relative;
    z-index: 1;
    margin-left: auto;
}
.mybutton-top a:hover {
    background-image: -moz-linear-gradient( 0deg, rgb(252,238,33) 10%, rgb(245,133,35) 57%, rgb(237,28,36) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(252,238,33) 10%, rgb(245,133,35) 57%, rgb(237,28,36) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(252,238,33) 10%, rgb(245,133,35) 57%, rgb(237,28,36) 100%);
    box-shadow: none;
}
.top.sticky {
    padding: 1% 0;
}


.top-text{    padding-right: 1%;}

.top{background-color: #000;}

.banner {
    background:#080102 url(../images/banner.png) no-repeat top center;
    background-size: cover;
    padding: 2% 0 5% 0;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
   
}
.section2{background: url(../images/section2.png) no-repeat center bottom;background-size: cover;padding: 3% 0 10% 0;position: relative;z-index: 1;}


.footer{padding: 3% 0 1% 0;position: relative;background-color: #0d0304;}
.footer-link{padding: 2% 0;margin-top: 3%;border-top: 1px solid #ffffff0f;}

@media only screen and (max-width: 767px){

.banner, .section4 , .section5, .section6, .section8, .section9, .section12{
    background-image: none;
    padding: 10% 0;
}
.section3 , .section13, .section19, .section23, .section25, .section28{
    background-image: none;
    padding: 8% 0;
    margin-top: 0;
    background-color: #06050f;
}
.section6, .section12, .section14, .section16, .section22{margin-top: 0;}
.section9{background-color: #fff;}
.section4-detail {
    padding: 5%;
}
.titleBg2{background-image: none;padding:2% !important;}
.step1Title, .step2Title, .step3Title {
    position: relative;
    left: 0;
}

.step2Tag {
    right: 0;
}
    
    .titleBg{
        background-image:none;
        background-color: none;
        border: none;
    }
    
    .banner-box p{text-align:center;margin-top: 4%;}
    
.arrow1{max-width:7%;}
.b1, .b2, .line-box, .element1, .element2, .element3, .element4, .element5, .element6, .element7, 
.section11-detail:before, .arrow4B, .arrow4, .line3, .line4{display:none !important;}

.testi-box, .section3,  .section10, .section11, .section16, .section20, .section22, 
.section23, .section24, .section25, .table-testimonial1, .table-testimonial1B, .table-testimonial2, .table-testimonial2B{text-align:center;}
.table-testimonial1, .table-testimonial1B, .table-testimonial2, .table-testimonial2B{padding:5%}
.step-box {
    padding: 0 0 10% 0;    
}
.step1-box-main, .step2-box-main, .step3-box-main{margin-top:4%;}

.proof1-title {
    background-image:none;
    background-color: #009dff;
    border: 2px solid #000;
}
.proof2-title{
    background-image:none;
    background-color: #f47528;
    border: 2px solid #fff; 
}
.proof3-title{
    background-image:none;
    background-color: #2ec58f;
    border: 2px solid #000; 
}
.proof4-title{
    background-image:none;
    background-color: #a12db7;
    border: 2px solid #fff; 
}
.proof5-title{
    background-image:none;
    background-color: #4c52ef;
    border: 2px solid #000; 
}
.proof6-title{
    background-image:none;
    background-color: #c873ab;
    border: 2px solid #000; 
}
    .section13-box{height:auto;}

.section15{margin:0;}   
.section4-box1{border-right: 0;border-bottom: 1px solid rgb(171, 221, 253);}
.section4-box2{border-right: 0;border-bottom: 1px solid rgb(171, 221, 253);}

.section7-box1{border-right: 0;
    border-bottom: 1px solid #dedede;}
.section7-box2{border-right: 0;
    border-bottom: 1px solid #dedede;}

.section8-box {
    
    margin-top:4%;
    width: 100%;
}

.arrow3{    max-width: 5%;}

.section7B {
    padding: 6%;
}
.able-text p, .bonus1, .bonus2, .reason1, .reason2, .reason3, .reason4, .reason5{margin-top:4%;}

.section15-left, .section15-right, .section15-center {
    width: 100%;
    padding: 0 15px;
}
.click {
    max-width: 9%;
}
.section18-list-box{padding:15px;}
.line5 {
    max-width: 100%;
    left: 0;
}

.top{text-align: center;}
.mybutton-top a {
    margin-top: 8%;
}


.timer iframe{
    margin-bottom: -13%;
    margin-top: 2%;
}

}


@media only screen and (max-width: 993px){


}




@media (min-width: 240px){
    .lappy {
        position: static;
        right: 0;
        bottom: 0px;
    }
    .videosection {
        position: static;
        right: 0;
        bottom: 0px;
    }
    .mainvideo {
        position: static;
        width: 100%;
        height: auto;
        padding-bottom: 225px;  
    }
    
    .video {
        width: 485px;
        height: 231px;
        top: 23px;
        left: 0px;
        margin-bottom: 8%;
    }

    .titleBg h1{font-size: 14px;}
    
    .banner-box p{font-size: 14px;}
    
    
}

@media only screen and (max-width: 600px) {
    .ex{
        background-color:red;
    }

}   
@media only screen and (min-width: 600px) {
    .ex{
        background-color:black;
    }
    .ex{background-color:white} 
}
@media only screen and (max-width: 600px) {
    .ex{
        background-color:black;
    }

}
@media (min-width: 480px){
    .mainvideo {
        position: static;
        width: 100%;
        height: 0px;
        padding-bottom: 280px;  
    }
    .video {
        width: 485px;
        height: 273px;
        top: 23px;
        left: 28px;
        margin-bottom: 8%;
    }   

    
        
}

@media only screen and (min-width: 768px) {


    
}




@media only screen and (min-width: 1000px) {    
    .mycontainer-right{width: 950px;}
    .mycontainer-left{width: 950px;}    

  
    .titleBg h1{font-size: 42px;}
    
    .banner-box p{font-size: 16px;}
    
    .section25-box-main{padding: 5% 4% 6% 4%;}
    
    .section8-section-box {padding: 0 4.5%;}
    
}


@media only screen and (min-width: 992px) {
    .ex{
        background-color:blue;
    }
    .mainvideo {
        position: absolute;
        width: 873px;
        height: 350px;
        top: 16px;
        left: 25px;
    }
    .video {
        width: 429px;
        height: 162px;
        top: 21px;
        left: 11px;
        margin-bottom: 10%;
    }

    
    .mycontainer-right{width: 950px;}   
    .mycontainer-left{width: 950px;}    

    
    .titleBg h1{font-size: 34px;}
    

    .banner-box p{font-size: 14px;}
    

}


@media only screen and (min-width: 1100px) {        
    .mycontainer-right{width: 1027px;}  
    .mycontainer-left{width: 1027px;}

    .titleBg h1{font-size: 34px;}
    

    .banner-box p{font-size: 13px;}
    
    .section25-box-main{padding: 5% 3% 6% 3%;}
    
    .section8-section-box {padding: 0;}

}



@media only screen and (min-width: 1200px) {
    .ex{
        background-color:pink;
    }
    .mainvideo {
        position: absolute;
        width: 869px;
        height: 350px;
        top: 16px;
        left: 28px;
    }
    .video {
        width: 403px;
        height: 196px;
        top: 1px;
        left: 0px;
        margin-bottom: 0px;
    }

    
    .mycontainer-right{width: 1094px;}  
    .mycontainer-left{width: 1094px;}   

  
    .titleBg h1{font-size: 36px;}
    
    .banner-box p{font-size: 13px;}
    

}


@media (min-width:1300px) {
    .mycontainer{width:1219px;}
    .mycontainer2{width:1180px;}    
    .mycontainer3{width: 1219px;}   
    
    .mycontainer-right{width: 1273px;}  
    .mycontainer-left{width: 1273px;}   
    
    .ex{background-color:blue}
        
    .mainvideo {
        position: absolute;
        width: 873px;
        height: 350px;
        top: 16px;
        left: 158px;
    }


    .titleBg h1{font-size: 40px;}
    
    .banner-box p{font-size: 14px;}
    

    
}

@media (min-width:1400px) {
    .mycontainer{width:1370px;}
    .mycontainer2{width:1219px;;}
    .mycontainer3{width: 1290px;;}
    
    .mycontainer-right{width: 1335px;}
    .mycontainer-left{width: 1335px;}
    
    .ex{background-color:silver}
    
    .mainvideo {
        position: absolute;
        width: 873px;
        height: 350px;
        top: 16px;
        left: 172px;
    }

    .titleBg h1{font-size: 44px;}
    .banner-box p{font-size: 15px;}
    
    
}

@media (min-width:1500px) {
    .mycontainer{width:1500px;}
    .mycontainer2{width:1219px;}
    .mycontainer3{width: 1400px;}
    
    .mycontainer-right{width: 1379px;}
    .mycontainer-left{width: 1379px;}
    
    .ex{background-color:pink}


        
    .mainvideo {
        position: absolute;
        width: 873px;
        height: 350px;
        top: 16px;
        left: 172px;
    }
    
    .titleBg h1{font-size: 47px;}
 
    .banner-box p{font-size: 16px;}
    
}


@media (min-width:1600px){
    .mycontainer{width:1500px;}
    .mycontainer2{width:1219px;}
    .mycontainer3{width: 1410px;}
    
    .mycontainer-right{width: 1400px;}
    .mycontainer-left{width: 1400px;}


    .mainvideo {
        position: absolute;
        width: 873px;
        height: 350px;
        top: 16px;
        left: 172px;
    }
    
 
    .titleBg h1{font-size: 47px;}
    

    .banner-box p{font-size: 17px;}
    
    
    
}
@media (min-width:1700px){
    .mycontainer{width:1500px;}
    .mycontainer2{width:1219px;}
    .mycontainer3{width: 1410px;}
    
    .mycontainer-right{width: 1458px;}
    .mycontainer-left{width: 1458px;}
    
    
    .titleBg h1{font-size: 47px;}

    .banner-box p{font-size:18px;}
    
    
}
@media (min-width:1800px){
    .mycontainer{width:1500px;}
    .mycontainer2{width:1219px;}
    .mycontainer3{width: 1490px;}
    
    .mycontainer-right{width: 1513px;}
    .mycontainer-left{width: 1513px;}
    

    .mainvideo {
        position: absolute;
        width: 873px;
        height: 350px;
        top: 16px;
        left: 172px;
    } 


    .titleBg h1{font-size: 47px;}
    
   
    .banner-box p{font-size:18px;}
    
}
@media (min-width:1900px){
    .mycontainer2{width:1330px;}
    .mycontainer3{width: 1632px;}
    
    .mycontainer-right{width: 1626px;}
    .mycontainer-left{width: 1626px;}
    .mainvideo {
        position: absolute;
        width: 873px;
        height: 350px;
        top: 16px;
        left: 229px; 
    }

   
    .titleBg h1{font-size: 47px;}
    
 
    .banner-box p{font-size:18px;}
    
    
}
@media (min-width:2000px){
    .mycontainer2 {
        width: 1800px;
    }
    .mycontainer3{width:1900px;}
    
}
.p1 {
    font-size: 19px !important;
}
.footer-ul {
    padding: 0;
}
.footer-ul li {
    display: inline;
    line-height: 130%;
}  
@media (min-width: 768px){
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
} 
.mt0{margin-top:0%;}.mt1{margin-top:1%;}.mt2{margin-top: 2%;}.mt3{margin-top: 3%;}.mt4{margin-top: 4%;}.mt5{margin-top: 5%;}.mt6{margin-top: 6%;}.mt7{margin-top: 7%;}
.mt8{margin-top: 8%;}.mt9{margin-top:9%;}.mt10{margin-top:10%;}.mt11{margin-top:11%;}.mt12{margin-top:12%;}.mt13{margin-top:13%;}.mt14{margin-top:14%;}.mt15{margin-top:15%;}.mt17{margin-top: 17%;}.mt20{margin-top:20%;}.mt22{margin-top:22%;}.mt26{margin-top:26%;}.mt28{margin-top:28%;}.mtm14{margin-top:-14%;}.mtm4{margin-top:-4%;}.mtm1{margin-top:-1%;}.mtm2{margin-top:-2%;}.mtm3{margin-top:-3%;}.mtm4{margin-top:-4%;}.mtm6{margin-top:-6%;}.mtm8{margin-top:-8%;}.mtm9{margin-top:-9%;}.mtm20{margin-top:-20%;}.mtm12{margin-top:-12px;}.mtm40{margin-top:-40px;}

