html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
	overflow-x: hidden;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

/* Color CSS */
.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
.orange-clr{
	color: #E76D24;
}


/* Red Gradient */
.red-gradient{
background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;}


/* Header CSS */
.header-section {
    background: #000;
    padding: 30px 0
}

.header-list-block {
    border-radius: 0 0 20px 20px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.caveat {
    font-family: 'Caveat', cursive;
}
.presenting-head {
    background: #31292d;
    border-radius: 40px;
    display: inline-block;
    padding: 8px 50px;
}
.fifth-section {
    background: url(../images/proudlybg.webp) no-repeat top center;
    background-size: cover;
    padding: 70px 0 30px 0
}


.preheadline{
    background: rgba(255, 255, 255, 0.1);
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 43px;
    display: inline-block;
    padding: 10px;
  }
  .heading-design-bg {
    padding: 12px 15px;
    display: inline-block;
    background: #ee5252;
    border-radius: 15px;
}
.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 20px 10px;
}
.underline-head {
    border-bottom: 1px solid white;
}
@media(min-width:768px) {
    .heading-design-bg {
    padding: 5px 20px 10px 20px;
    display: inline-block;
    background: url(../images/lets-face-it-bg.png) no-repeat;
    border-radius: 0px;
}
.mainheadline {
    background: url(../images/top-heading-bg.webp) center center no-repeat;
    background-size: 100% 100%;
    padding: 35px 30px 40px 30px;
    left: -5px;
}
    .preheadline{
        padding:7px 35px;
      }
   
    .header-section {
        background: #000 url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0 100px
    }
    .fifth-section {
        padding: 100px 0px;
    }
}


.probtn1 a {  
    border-radius: 55px;
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #fff;
    border: 0;
    font-weight: 700;
    font-size: 18px
}

@media(min-width:768px) {
    .header-list-block {
        padding: 40px 30px
    }
    .probtn1 a {  
        padding: 20px 35px;
        font-size: 36px
    }    
}

.probtn1 a:hover {
    background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
    color: #fff
}

.kapblue {
    color: #990000
}

.thats-not-all-section {
    background: #fff;
    background-size: cover;
    padding: 30px 0
}
.one-time-shape {
    padding: 10px;
    background: #224cb0;
    border-radius: 5px
}
.amazing-software-section1 {
    background: url(../images/nothing-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 30px 0;
}

@media(min-width:767px) {
  
    .one-time-shape {
        background: url(../images/one-time-shape.webp) no-repeat center center;
        background-size: contain;
        border: 0;
        border-radius: 0;
        padding: 30px 15px 53px 15px;
    }
    .thats-not-all-section {
        background: url(../images/white-section-bg.webp) no-repeat;
        padding: 60px 0px;
        background-size: cover;
        background-position: top center
    }
    .amazing-software-section1 {
        padding: 100px 0;
    }
}

.second-section {
    padding: 0 0 30px 0;
    background: #fff
}

@media(min-width:768px) {
    .second-section {
        padding: 0 0 100px 0;
        background: #fff url(../images/second-sec-bg.webp) no-repeat;
        background-position: center center
    }
}
.img-animation {
    animation: 2s ease-in-out 0 infinite alternate none running mover2;
}

.white-section {
    background: #fff;
    padding: 30px 0
}

.footer-section {
    background: #000;
    padding: 30px 0
}

.footer-ul {
    padding: 0;
    margin: 0
}

.footer-ul li {
    display: inline
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline
}

@media(min-width:768px) {
    .footer-section {
        padding: 70px 0
    }
}

.probtn a {
    border-radius: 10px;
    background-color: #224cb0;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 12px;
    color: #fff;
    font-weight: 600
}

.probtn a:hover {
    background-color: #315dc6
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101
}

.tablebox3 {
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
    position: relative;
    border: solid 1px #071125;
}

ul.vgreytick {
    padding: 0
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #000
}

ul.vgreytick li:nth-child(odd) {
    background-color: #D9EFFF;
}

ul.vgreytick li:nth-child(even) {
    background-color: #fff
}

ul.vgreytick li:last-child {
    border-bottom: 0
}

ul.grey-tick-last {
    padding: 0;
    margin:0px;
}

ul.grey-tick-last li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #08041e;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #fff
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #D9EFFF;
}

.tbbg2 {
    background: #fff;
    padding: 50px 30px 30px 30px;
    background-size: cover;
    border-radius: 10px 10px 0 0
}

.tbbg3 {
    background: #071125;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0 0
}
@media(min-width:768px) {
    .gx-6 {
        --bs-gutter-x: 4rem
    }
    .probtn a {
        padding: 27px 50px
    }
    .tbbg2 {
        padding: 40px 30px 40px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }
    .tbbg3 {
        padding: 40px 30px 40px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    color: #000;
    background: #fff;
    border-radius: 0 0 10px 10px;
    border-top: 0
}

.myfeatureslastborder {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    min-height: 69px;
    background: #fff
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none
}

.thanks-button a:hover {
    color: #ec1c24;
}

@media(min-width:768px) {
    .myfeatureslast {
        padding: 30px
    }
}

.grey-section {
    background: #faf4f4;
    padding: 30px 0
}

.moneyback-section {
    background: #08041e url(../images/moneyback-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
    color: #fff
}

.bonus-section {
    background: #faf4f4 url(../images/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0
}
.white-bonusbox-bg{
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(90 90 90 / 40%);
}
.table-section {
    background: #fff;
    padding: 30px 0
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
    margin:0px;
}

.tablebox2 {
    background: #fff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #071125;
}
.footer-ul li a:hover {
    color: #ffffff;
    text-decoration: none;
}
@media(min-width:768px) {
    .table-section {
        padding: 100px 0;
        background: url(../images/pricing-table-bg.webp) no-repeat ;
        background-position: center center ;
        background-size:cover;
    }
    .bonus-section {
        padding: 70px 0
    }
    .white-bonusbox-bg{
        background-color: white;
        padding: 30px 50px;
        border-radius: 40px;
        box-shadow: 0px 0px 22px 0px rgb(90 90 90 / 40%);
    }
    .moneyback-section {
        padding: 70px 0
    }
}

@media(min-width:768px) {
    .white-section {
        padding: 100px 0;
        background: url(../images/white-section-bg.webp) no-repeat;
        background-position: center center
    }
    .grey-section {
        background: #faf4f4;
        padding: 100px 0px;
    }
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
.head-design {
    background: url(../images/head-bg.webp)no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    padding: 5px 35px;
}
@media (min-width: 768px){
    .head-design {
        padding: 5px 70px;
    }
}