html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #212121;
	font-size: 14px;
	overflow-x: hidden;
}
.caveat{
    font-family: 'Caveat', cursive;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #212121;
}

.orange-clr {
	color: #F2A736;
}

.red-clr{
	color: #EF3E3A;
}

.blue-clr{color: #2447a2;}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
	border-radius: 20px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

/* Header CSS */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px ;
}

.preheadline {
	display: inline-block;
    padding: 10px 15px;
    background: #fff;
    border-radius: 50px;
}

ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
	font-weight: 400;
	color: #ffffff;
}

ul.leader-ul li:hover a {
	transition: 0.5s all ease-in;
	color: #fff !important;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}


.header-section ul.leader-ul li .active {
	transition: 0.5s all ease-in;
	color: #fff;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}

.header-section ul.leader-ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}

a.affiliate-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	color: #ffffff !important;
	font-weight: 600;
	transition: all .3s ease;
    background: linear-gradient(92.69deg, #EF3E3A 0%, #FF5F5B 99.78%);
    border-radius: 15px;
}

a.affiliate-link-btn:hover {
	transition: all .8s ease;
    background: linear-gradient(92.69deg, #FF5F5B 0%, #EF3E3A 99.78%);
}

@media(min-width:768px) {
	a.affiliate-link-btn {
		padding: 15px 25px;
		font-size: 18px;
	}

	.header-section {
		padding: 50px 0px 60px 0px;
	}

	ul.leader-ul li {
		display: inline-block;
		padding: 0px 15px;
		font-weight: 400;
		color: #ffffff;
	}
	.preheadline {
		padding: 10px 20px;
	}
}

/* Header End */
.second-section {
    padding: 30px 0;
    background: #f1eff0;
}
@media(min-width:768px){
	.second-section {
		padding: 100px 0px 150px 0px;
		background: #fff url(../images/list-section-bg.webp) no-repeat center bottom;
		background-size: cover;
	}
}

.feature-list {
	background: url(../images/orange-tick.webp) no-repeat;
    background-position: 10px 0px;
    padding: 0px 0px 0px 62px;
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

@media(max-width:767px) {
	.feature-list img {
		max-height: 30px;
		margin-top: 5px;
	}
}

/* CTA Button Start */
a.cta-link-btn {
	transition: all .3s ease;
	border-radius: 15px;
	background: linear-gradient(92.69deg, #EF3E3A 0%, #FF5F5B 99.78%);
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	width: 100%;
	font-size: 24px;
	line-height: 140%;
}

a.cta-link-btn:hover {
	transition: all .3s ease;
    background: linear-gradient(92.69deg, #FF5F5B 0%, #EF3E3A 99.78%);
}

@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 30px;
		padding: 28px 60px;
		display: inline-block;
		width: auto;
		border-radius: 100px;
	}
}

/* CTA Button End*/

/* Step Section Start */
.step-section {
	padding: 30px 15px;
	background: #ffffff;

}

@media (min-width: 768px) {
	.step-section {
		padding: 100px 0px 130px 0px;
		background: #fff url(../images/steps-bg.webp) center bottom;
		background-size: cover;
	}

}

/* Step Section End */

/* Did You Know Section Start */
.didyouknow-sec {
	padding: 30px 0px;
	background: #ffffff;
}

.didyouknow-box{
	background: #fff;
    box-shadow: 1px 2px 3px 4px #f1f1f1;
    border-radius: 20px;
	padding: 20px;
}

.youknow-block {
	background: #FFC01F;
	border-radius: 15px;
	padding: 15px;
	display: inline-block;
}

@media(min-width:768px) {
	.didyouknow-sec {
		padding: 50px 0px 100px 0px;
		background:#fff url(../images/didyouknow-sec.webp) no-repeat center top;
		background-size: cover;
	}

	.youknow-block {
		padding: 24px 88px 45px 88px;
		background: url(../images/know-shape.webp) no-repeat center center;
		background-size: contain;
	}
	.didyouknow-box{
		padding: 50px;
	}
}

/* Did You Know Section End */

/* Testimonals Section Start */
.testimonial-section{
	background: url(../images/testimonial-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
}
.single-testimonial {
	background-color: #EAF3F8;
	text-align: center;
	border-radius: 30px;	
	position: relative;
	z-index: 2;
	padding: 50px;
	border: 2px solid #f1f1f1;
}

@media(min-width:768px){
	.testimonial-section{
		padding: 100px 0px ;
	}
}
/* Testimonals Section End */

/* Presenting Section Start */
.presenting-sec{
	padding: 60px 0px 30px 0px;
    background: #03071D;
    margin-top: -40px;
}
.proudly-features{
	padding: 30px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.proudly-features ul li{
	list-style-type: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding-bottom:20px;
	margin-bottom: 20px;
}
.proudly-features ul li:last-child{
	border-bottom: 0px;
	padding-bottom:0px;
	margin-bottom: 0px;
}
.presenting-head{
	background: #132041;
    border-radius: 40px;
    padding: 5px 30px;
    display: inline-block;
    font-family: 'Caveat';
}
@media(min-width:768px){
	.presenting-sec{    padding: 180px 0px 100px 0px;
		margin-top: -100px;
		background: url(../images/introducing.webp) no-repeat top center;
		background-size: cover;
		z-index: 999;
		position: relative;}

	.presenting-head{
		padding: 10px 80px;
	}

}

/* Presenting Section End */

.heading-design {
    background: #2c3041;
    padding: 20px;
    display: inline-block;
}
@media(min-width:768px){
	.heading-design {
		background: url(../images/heading-bg.webp) no-repeat center center;
		background-size: 100% 100%;
		padding: 50px 200px;
	}
}

/* List Section Start */

.gap30 {
	--bs-gutter-y: 30px;
}
.feature-list-box {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background: #FFFFFF;
	box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	border-bottom: 7px solid #ef3e3a;
}

.feature-list-box:hover{
	-webkit-animation-name: wobble;
    animation-name: wobble;    
    -webkit-animation-duration:          0.8s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;
}
@-webkit-keyframes wobble {
	0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
  }
  
  @keyframes wobble {
	0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
  }
  .support-img:hover img{-webkit-animation-name: wobble;
    animation-name: wobble;    
    -webkit-animation-duration:          0.8s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;}

@media(min-width:768px){
	.gap30 {
		--bs-gutter-x: 50px;
		--bs-gutter-y: 50px;
	}
	.feature-list-box {
		height: 100%;
		padding: 30px;
	}

}
/* List Section End */

.head-design{
	background: url(../images/head-bg.webp)no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    padding: 5px 35px;
}
@media(min-width:768px){
	.head-design{padding: 5px 70px;}
}

.key-features-bg {
    padding: 0px 20px 20px;
    position: relative;
    width: 100%;
    text-align: center;
    border-radius: 15px;
}
.list-head li {
    background: url(../images/list-tick.webp) no-repeat;
    padding: 10px 0px 10px 35px;
    background-position: 0px 16px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    list-style-type: none;
}
.list-head li:last-child{
	border-bottom: 0px;
}

.problem-sec {
    padding: 30px 0px;
    background: url(../images/problem-bg.webp) no-repeat center center;
    background-size: cover;
}
@media(min-width:768px){
	.problem-sec {
		padding:  100px 0px;
	}
}

/* Fact Section Start */

/* Fact Section End */

.st-img{
	display: inline-block;
    margin-top: -150px;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
}
.stars {display: inline-block; text-align: center;}
.stars a {padding-right: 8px; color: #FFC635;}
.stars a:last-child{padding-right: 0px;}
.stars a i{font-size: 20px;}

.gametext{
	background: #f24440;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -52px;
    line-height: 30px;
    left: 146px;
    transform: skew(-10deg);
    border-radius: 5px;
}
.mainheadline{
	background-color: #fff;
	position: relative;
	z-index: 9;
	top: -5px;
	padding:20px 10px;
}

@media(min-width:768px){
	.mainheadline{
		background: url(../images/top-heading-bg.webp) center center no-repeat;
	    background-size: 100% 100%;
		padding:30px 30px 40px 160px;
		left: -5px;
	}
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
	backdrop-filter: blur(10px);
	border-radius: 20px;
}
.hr {
    mix-blend-mode: overlay;
}
.step1{
	color: #0089FF;
}
.step2{
	color: #9155FF;
}
.step3{
	color: #EF3E3A;
}

.demo-text{position: relative;}
.demo-text:before{
	position: absolute;
	content: url(../images/left-arrow.webp);
	bottom: -65px;
	left: 70px;
}
.demo-text:after{
	position: absolute;
	content: url(../images/right-arrow.webp);
	bottom: -65px;
	right: 70px;
}
.hi-their{
	padding: 30px 0px;
	background: url(../images/hi-there-bg.webp) center center no-repeat;
	background-size: cover;
}
@media(min-width:768px){
	.hi-their{
		padding: 100px 0px;
	}
}
.truth-box{
	background: url(../images/truth-bg.webp) center center no-repeat;
	background-size: 100% 100%;
	padding:30px 50px;
	display: inline-block;
}
.enough-sec{
	padding: 30px 0px;
	background: #e2eeea;
}

@media(min-width:768px){
	.truth-box{
		padding: 50px;
	}
	.enough-sec
	{
		padding:150px 0px 100px 0px;
		background: url(../images/enough-bg.webp) top center no-repeat;
		background-size: cover;
	}
	.f-md-90{font-size: 90px;}
}

.high-converting-list li{
	background: url(../images/orange-tick.webp) no-repeat;
    background-position: 0 1px;
    padding-left: 50px;
    margin-bottom: 25px;
    list-style-type: none;
}

.trigger-block {
    background: #FFFFFF;
    padding: 10px 20px;
    border: 5px solid #EF3E3A;
    border-radius: 100px;
    display: inline-block;
    outline: 7px solid #fff;
}
.butnotanymore-sec {
    padding: 30px 0px;
    background: #fff url(../images/butnotanymore-bg.webp) no-repeat center center;
    background-size: cover;
    position: relative;
}
@media(min-width:768px){
	.butnotanymore-sec {
		padding: 100px 0px 170px 0px;
	}
	.trigger-block{padding: 10px 40px;}
}

.downarrow {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
@keyframes bounce{
	0% {
		transform:  translate(1px,20px)  ;
	  }
	  24% {
		transform:  translate(1px,30px)  ;
	  }
	  50% {
		transform:  translate(1px,12px)  ;
	  }
	  74% {
		transform:  translate(1px,22px)  ;
	  }
	  100% {
		transform:  translate(1px,22px)  ;
	  }
}
.faster-sec{padding: 30px 0px;
	background: #f0f0f0;
}
.faster-box{
	background: #FFF3F2;
	border: 1px solid #EF3E3A;
	border-radius: 20px;
	padding: 20px;
}
@media(min-width:768px){
	.faster-sec{
		padding:100px 0px;
		background: #02071c url(../images/faster-bg.webp) center bottom no-repeat;
	background-size: cover;
	}
	.faster-box{
		padding: 50px;
	}
}

.thats-all-section{
	padding: 30px 0px;
	background: url(../images/not-all-bg.webp) center center no-repeat;
	background-size: cover;
}
.silver-plate{
	background: url(../images/frame.webp) center center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 30px;
}
@media(min-width:768px){
	.thats-all-section{padding: 100px 0px;}
	.silver-plate{padding: 50px;}
}

.solution-section{
	padding: 30px 0px;
	background: #e3eff8;
}
@media(min-width:768px){
	.solution-section{
		padding: 100px 0px;
		background: url(../images/solution-bg.webp) center bottom no-repeat;
		background-size: cover;
	}
}

.trigger-section {
    padding: 30px 0px;
    background: #080E20 url(../images/trigger-bg.webp) no-repeat center center;
    background-size: cover;
}

.trigger-features-section {
    padding: 30px 0px;
    max-width: 95%;
    margin: 20px auto 0px auto;
    background: url(../images/trigger-feature-bg.webp) no-repeat top center;
    border-radius: 30px;
    background-size: cover;
}
@media(min-width:768px){
	.trigger-section {
		padding: 100px 0px;
	}
	.trigger-features-section {
		padding: 100px 0px;
		max-width: 85%;
		margin: 0px auto;
		border-radius: 50px;
	}
}
@media(min-width:1600px){
	.trigger-features-section {
		max-width: 77%;
		border-radius: 30px;
	}
}

.customizable-section {
    background: url(../images/customizable-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 30px 0px;
}

.customizable-list-box {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgb(0 0 0 / 20%);
    border-radius: 20px;
    border: 5px solid rgba(164, 229, 248, 1);
    box-shadow: -5px 5px 10px rgb(0 0 0 / 20%);
    border-radius: 50px;
}
@media (min-width: 768px){
	.customizable-section {
		padding: 100px 0px;
	}
	.customizable-list-box{
		height: 100%;
    	padding: 30px 20px;
	}
}
.white-section{
	padding: 30px 0px;
}
.blue-section{
	padding: 30px 0px;
	background: url(../images/blue-bg.webp) center center no-repeat;
	background-size: cover;
}
.blue-section1{
	padding: 30px 0px;
	background: url(../images/blue-bg1.webp) center center no-repeat;
	background-size: cover;
}
.connect-funnel{
	padding: 30px 0px;
	background: url(../images/connect-funnel-bg.webp) center center no-repeat;
	background-size: cover;
}
@media(min-width:768px){
	.white-section{
		padding: 100px 0px;
	}
	.blue-section{
		padding: 100px 0px;
	}
	.blue-section1{
		padding: 100px 0px;
	}
	.connect-funnel{
		padding: 100px 0px;
	}
}

.more-feature-sec{
	background: url(../images/more-feature-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
}
@media(min-width:768px){
	.more-feature-sec{padding: 100px 0px;}
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.boxborder-rb {
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.boxborder-b {
    border-bottom: 1px solid #ffffff;
}

.boxborder-r {
    border-right: 1px solid #ffffff;
}
@media(max-width:768px){
	.boxborder {
        border: 1px solid #ffffff;
        border-top: 0px;
        padding: 20px;
    }
    .top-first {
        border: 1px solid #ffffff;
    }

}
@media (min-width: 768px) {
	.boxbg {
        height: 300px;
        padding: 15% 0% 20%;
    }
}

.no-comparison{
	padding: 30px 0px;
}
@media(min-width:768px){
	.no-comparison{
		padding: 100px 0px;
		background: url(../images/no-comparison-bg.webp) center center no-repeat;
		background-size: cover;
	}
}

.automated-funnels{
	padding: 30px 0px;
	background: #fff9f2;
}
@media(min-width:768px){
	.automated-funnels{
		padding: 100px 0px;
	}
}
.unfair-advantages{
	padding: 30px 0px;
}
@media(min-width:768px){
	.unfair-advantages{padding:100px 0px 20px 0px;}
}
.built-email{
	padding: 30px 0px;
	background: #fff6eb;
}
@media(min-width:768px){
	.built-email{padding:100px 0px;}
}

.power-shape{
	background: #fff9f2;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
    border-radius: 20px;
	padding: 20px;
}
@media(min-width:768px){
	.power-shape{
		border-radius: 100px;
	}
}

.img-rounded{
	border-radius: 100%;
}

.steps-block {
    position: relative;
    height: 100%;
    padding: 30px 30px 20px 30px;
    border-width: 2px;
    border-color: #132041;
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.gif-border{
	backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2px;
    background: #212121;
}
