.countdown {
	background-color: transparent;
	color:#000000;
	font-family: 'Poppins', sans-serif;;
	text-align: center;	
	display: flex;
	justify-content: space-between;
}
/* Css For Timer Display */
.timer-label{margin-right:15px; padding:5px 0px!important; width:100%; color:#000000; border: 1px solid #000; border-radius: 5px; background-color: rgb(255, 255, 255);}
.countdown .timer-label:last-child{margin-right:0px;}
.timerbg{font-weight:600; line-height:120%; width:100%; float:left;   color:#000000; }



