/* Form Input */

input:focus,
textarea:focus,
select:focus {
    outline: none;
}


/* For Padding All Direction */

.p0 {
    padding: 0;
}


/* For Margin All Direction */

.m0 {
    margin: 0;
}


/*For Underline*/

.underline {
    text-decoration: underline;
}


/*Line Height*/

.lh110 {
    line-height: 110%;
}

.lh120 {
    line-height: 120%;
}

.lh130 {
    line-height: 130%;
}

.lh140 {
    line-height: 140%;
}

.lh150 {
    line-height: 150%;
}

.lh160 {
    line-height: 160%;
}

.lh170 {
    line-height: 170%;
}

.lh180 {
    line-height: 180%;
}

.lh190 {
    line-height: 190%;
}

.lh200 {
    line-height: 200%;
}


/* Color */

.whitetext {
    color: #fff;
}

.blacktext {
    color: 000;
}


/*Font Weight*/

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.w800 {
    font-weight: 800;
}


/*  Remove the outline on focused links when they are also active or hovered  in all browsers (opinionated). */

a:active,
a:hover,
a:focus {
    outline: none;
}


/* Use For all Grid Margins */

.my5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important
}

.my10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important
}

.my15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important
}

.my20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important
}

.my25 {
    margin-top: 25px !important;
    margin-bottom: 25px !important
}

.my30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important
}

.mx5 {
    margin-left: 5px !important;
    margin-right: 5px !important
}

.mx10 {
    margin-left: 10px !important;
    margin-right: 10px !important
}

.mx15 {
    margin-left: 15px !important;
    margin-right: 15px !important
}

.mx20 {
    margin-left: 20px !important;
    margin-right: 20px !important
}

.mx25 {
    margin-left: 25px !important;
    margin-right: 25px !important
}

.mx30 {
    margin-left: 30px !important;
    margin-right: 30px !important
}

.m0 {
    margin: 0px !important
}

.m5 {
    margin: 5px !important
}


/* Use For All Common Grid Paddings */

.py5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.py10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.py15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.py20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.py25 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.py30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.px5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.px10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.px15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.px20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.px25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.px30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}


/* Main Media Css Start According To Device Based */

@media (min-width: 240px) {
    /* Font-Size in PX */
    .xs8 {
        font-size: 8px;
    }
    .xs9 {
        font-size: 9px;
    }
    .xs10 {
        font-size: 10px;
    }
    .xs11 {
        font-size: 11px;
    }
    .xs12 {
        font-size: 12px;
    }
    .xs13 {
        font-size: 13px;
    }
    .xs14 {
        font-size: 14px;
    }
    .xs15 {
        font-size: 15px;
    }
    .xs16 {
        font-size: 16px;
    }
    .xs17 {
        font-size: 17px;
    }
    .xs18 {
        font-size: 18px;
    }
    .xs19 {
        font-size: 19px;
    }
    .xs20 {
        font-size: 20px;
    }
    .xs21 {
        font-size: 21px;
    }
    .xs22 {
        font-size: 22px;
    }
    .xs23 {
        font-size: 23px;
    }
    .xs24 {
        font-size: 24px;
    }
    .xs25 {
        font-size: 25px;
    }
    .xs26 {
        font-size: 26px;
    }
    .xs27 {
        font-size: 27px;
    }
    .xs28 {
        font-size: 28px;
    }
    .xs29 {
        font-size: 29px;
    }
    .xs30 {
        font-size: 30px;
    }
    .xs31 {
        font-size: 31px;
    }
    .xs32 {
        font-size: 32px;
    }
    .xs33 {
        font-size: 33px;
    }
    .xs34 {
        font-size: 34px;
    }
    .xs35 {
        font-size: 35px;
    }
    .xs36 {
        font-size: 36px;
    }
    .xs37 {
        font-size: 37px;
    }
    .xs38 {
        font-size: 38px;
    }
    .xs39 {
        font-size: 39px;
    }
    .xs40 {
        font-size: 40px;
    }
    .xs41 {
        font-size: 41px;
    }
    .xs42 {
        font-size: 42px;
    }
    .xs43 {
        font-size: 43px;
    }
    .xs44 {
        font-size: 44px;
    }
    .xs45 {
        font-size: 45px;
    }
    .xs46 {
        font-size: 46px;
    }
    .xs47 {
        font-size: 47px;
    }
    .xs48 {
        font-size: 48px;
    }
    .xs49 {
        font-size: 49px;
    }
    .xs50 {
        font-size: 50px;
    }
    /*Margin-Top in %*/
    .xsmt0 {
        margin-top: 0%;
    }
    .xsmt1 {
        margin-top: 1%;
    }
    .xsmt2 {
        margin-top: 2%;
    }
    .xsmt3 {
        margin-top: 3%;
    }
    .xsmt4 {
        margin-top: 4%;
    }
    .xsmt5 {
        margin-top: 5%;
    }
    .xsmt6 {
        margin-top: 6%;
    }
    .xsmt7 {
        margin-top: 7%;
    }
    .xsmt8 {
        margin-top: 8%;
    }
    .xsmt9 {
        margin-top: 9%;
    }
    .xsmt10 {
        margin-top: 10%;
    }
    .xsmt11 {
        margin-top: 11%;
    }
    .xsmt12 {
        margin-top: 12%;
    }
    .xsmt13 {
        margin-top: 13%;
    }
    .xsmt14 {
        margin-top: 14%;
    }
    .xsmt15 {
        margin-top: 15%;
    }
    .xsmt16 {
        margin-top: 16%;
    }
    .xsmt17 {
        margin-top: 17%;
    }
    .xsmt18 {
        margin-top: 18%;
    }
    .xsmt19 {
        margin-top: 19%;
    }
    .xsmt20 {
        margin-top: 20%;
    }
    .xsmt21 {
        margin-top: 21%;
    }
    .xsmt22 {
        margin-top: 22%;
    }
    .xsmt23 {
        margin-top: 23%;
    }
    .xsmt24 {
        margin-top: 24%;
    }
    .xsmt25 {
        margin-top: 25%;
    }
    .xsmt26 {
        margin-top: 26%;
    }
    .xsmt27 {
        margin-top: 27%;
    }
    .xsmt28 {
        margin-top: 28%;
    }
    .xsmt29 {
        margin-top: 29%;
    }
    .xsmt30 {
        margin-top: 30%;
    }
    /*Margin-Top In PX*/
    .xsmt0px {
        margin-top: 0px;
    }
    .xsmt1px {
        margin-top: 1px;
    }
    .xsmt2px {
        margin-top: 2px;
    }
    .xsmt3px {
        margin-top: 3px;
    }
    .xsmt4px {
        margin-top: 4px;
    }
    .xsmt5px {
        margin-top: 5px;
    }
    .xsmt6px {
        margin-top: 6px;
    }
    .xsmt7px {
        margin-top: 7px;
    }
    .xsmt8px {
        margin-top: 8px;
    }
    .xsmt9px {
        margin-top: 9px;
    }
    .xsmt10px {
        margin-top: 10px;
    }
    .xsmt11px {
        margin-top: 11px;
    }
    .xsmt12px {
        margin-top: 12px;
    }
    .xsmt13px {
        margin-top: 13px;
    }
    .xsmt14px {
        margin-top: 14px;
    }
    .xsmt15px {
        margin-top: 15px;
    }
    .xsmt16px {
        margin-top: 16px;
    }
    .xsmt17px {
        margin-top: 17px;
    }
    .xsmt18px {
        margin-top: 18px;
    }
    .xsmt19px {
        margin-top: 19px;
    }
    .xsmt20px {
        margin-top: 20px;
    }
    .xsmt21px {
        margin-top: 21px;
    }
    .xsmt22px {
        margin-top: 22px;
    }
    .xsmt23px {
        margin-top: 23px;
    }
    .xsmt24px {
        margin-top: 24px;
    }
    .xsmt25px {
        margin-top: 25px;
    }
    .xsmt26px {
        margin-top: 27px;
    }
    .xsmt28px {
        margin-top: 28px;
    }
    .xsmt29px {
        margin-top: 29px;
    }
    .xsmt30px {
        margin-top: 30px;
    }
    .xsmt31px {
        margin-top: 31px;
    }
    .xsmt32px {
        margin-top: 32px;
    }
    .xsmt33px {
        margin-top: 33px;
    }
    .xsmt34px {
        margin-top: 34px;
    }
    .xsmt35px {
        margin-top: 36px;
    }
    .xsmt36px {
        margin-top: 36px;
    }
    .xsmt37px {
        margin-top: 37px;
    }
    .xsmt38px {
        margin-top: 38px;
    }
    .xsmt39px {
        margin-top: 39px;
    }
    .xsmt40px {
        margin-top: 40px;
    }
    .xsmt41px {
        margin-top: 41px;
    }
    .xsmt42px {
        margin-top: 42px;
    }
    .xsmt43px {
        margin-top: 43px;
    }
    .xsmt44px {
        margin-top: 44px;
    }
    .xsmt45px {
        margin-top: 45px;
    }
    .xsmt46px {
        margin-top: 46px;
    }
    .xsmt47px {
        margin-top: 47px;
    }
    .xsmt48px {
        margin-top: 48px;
    }
    .xsmt49px {
        margin-top: 49px;
    }
    .xsmt50px {
        margin-top: 50px;
    }
    /* Margin Bottom in % */
    .xsmb1 {
        margin-bottom: 1%;
    }
    .xsmb2 {
        margin-bottom: 2%;
    }
    .xsmb3 {
        margin-bottom: 3%;
    }
    .xsmb4 {
        margin-bottom: 4%;
    }
    .xsmb5 {
        margin-bottom: 5%;
    }
    .xsmb6 {
        margin-bottom: 6%;
    }
    .xsmb7 {
        margin-bottom: 7%;
    }
    .xsmb8 {
        margin-bottom: 8%;
    }
    .xsmb9 {
        margin-bottom: 9%;
    }
    .xsmb10 {
        margin-bottom: 10%;
    }
    .xsmb11 {
        margin-bottom: 11%;
    }
    .xsmb12 {
        margin-bottom: 13%;
    }
    .xsmb14 {
        margin-bottom: 14%
    }
    .xsmb15 {
        margin-bottom: 15%;
    }
    .xsmb16 {
        margin-bottom: 16%;
    }
    .xsmb17 {
        margin-bottom: 17%;
    }
    .xsmb18 {
        margin-bottom: 18%;
    }
    .xsmb19 {
        margin-bottom: 19%;
    }
    .xsmb20 {
        margin-bottom: 20%;
    }
    /*Margin-bottom in PX*/
    .xsmb0px {
        margin-bottom: 0px;
    }
    .xsmb1px {
        margin-bottom: 1px;
    }
    .xsmb2px {
        margin-bottom: 2px;
    }
    .xsmb3px {
        margin-bottom: 3px;
    }
    .xsmb4px {
        margin-bottom: 4px;
    }
    .xsmb5px {
        margin-bottom: 5px;
    }
    .xsmb6px {
        margin-bottom: 6px;
    }
    .xsmb7px {
        margin-bottom: 7px;
    }
    .xsmb8px {
        margin-bottom: 8px;
    }
    .xsmb9px {
        margin-bottom: 9px;
    }
    .xsmb10px {
        margin-bottom: 10px;
    }
    .xsmb11px {
        margin-bottom: 11px;
    }
    .xsmb12px {
        margin-bottom: 12px;
    }
    .xsmb13px {
        margin-bottom: 13px;
    }
    .xsmb14px {
        margin-bottom: 14px;
    }
    .xsmb15px {
        margin-bottom: 15px;
    }
    .xsmb16px {
        margin-bottom: 16px;
    }
    .xsmb17px {
        margin-bottom: 17px;
    }
    .xsmb18px {
        margin-bottom: 18px;
    }
    .xsmb19px {
        margin-bottom: 19px;
    }
    .xsmb20px {
        margin-bottom: 20px;
    }
    .xsmb21px {
        margin-bottom: 21px;
    }
    .xsmb22px {
        margin-bottom: 22px;
    }
    .xsmb23px {
        margin-bottom: 23px;
    }
    .xsmb24px {
        margin-bottom: 24px;
    }
    .xsmb25px {
        margin-bottom: 25px;
    }
    .xsmb26px {
        margin-bottom: 26px;
    }
    .xsmb27px {
        margin-bottom: 27px;
    }
    .xsmb28px {
        margin-bottom: 28px;
    }
    .xsmb29px {
        margin-bottom: 29px;
    }
    .xsmb30px {
        margin-bottom: 30px;
    }
    .xsmb31px {
        margin-bottom: 31px;
    }
    .xsmb32px {
        margin-bottom: 32px;
    }
    .xsmb33px {
        margin-bottom: 33px;
    }
    .xsmb34px {
        margin-bottom: 34px;
    }
    .xsmb35px {
        margin-bottom: 35px;
    }
    .xsmb36px {
        margin-bottom: 36px;
    }
    .xsmb37px {
        margin-bottom: 37px;
    }
    .xsmb38px {
        margin-bottom: 38px;
    }
    .xsmb39px {
        margin-bottom: 39px;
    }
    .xsmb40px {
        margin-bottom: 40px;
    }
    .xsmb41px {
        margin-bottom: 41px;
    }
    .xsmb42px {
        margin-bottom: 42px;
    }
    .xsmb43px {
        margin-bottom: 43px;
    }
    .xsmb44px {
        margin-bottom: 44px;
    }
    .xsmb45px {
        margin-bottom: 45px;
    }
    .xsmb46px {
        margin-bottom: 46px;
    }
    .xsmb47px {
        margin-bottom: 47px;
    }
    .xsmb48px {
        margin-bottom: 48px;
    }
    .xsmb49px {
        margin-bottom: 49px;
    }
    .xsmb50px {
        margin-bottom: 50px;
    }
    /* Margin-left in px */
    .xsml0px {
        margin-left: 0px;
    }
    .xsml1px {
        margin-left: 1px;
    }
    .xsml2px {
        margin-left: 2px;
    }
    .xsml3px {
        margin-left: 4px;
    }
    .xsml14px {
        margin-left: 14px;
    }
    .xsml15px {
        margin-left: 15px;
    }
    .xsml16px {
        margin-left: 16px;
    }
    .xsml17px {
        margin-left: 17px;
    }
    .xsml18px {
        margin-left: 18px;
    }
    .xsml19px {
        margin-left: 19px;
    }
    .xsml20px {
        margin-left: 20px;
    }
    .xsml21px {
        margin-left: 21px;
    }
    .xsml22px {
        margin-left: 22px;
    }
    .xsml23px {
        margin-left: 23px;
    }
    .xsml24px {
        margin-left: 24px;
    }
    .xsml25px {
        margin-left: 25px;
    }
    .xsml26px {
        margin-left: 26px;
    }
    .xsml27px {
        margin-left: 27px;
    }
    .xsml28px {
        margin-left: 28px;
    }
    .xsml29px {
        margin-left: 29px;
    }
    .xsml30px {
        margin-left: 30px;
    }
    /*Margin-right in PX*/
    .xsmr0px {
        margin-right: 0px;
    }
    .xsmr1px {
        margin-right: 1px;
    }
    .xsmr2px {
        margin-right: 2px;
    }
    .xsmr3px {
        margin-right: 3px;
    }
    .xsmr4px {
        margin-right: 4px;
    }
    .xsmr5px {
        margin-right: 5px;
    }
    .xsmr6px {
        margin-right: 6px;
    }
    .xsmr7px {
        margin-right: 7px;
    }
    .xsmr8px {
        margin-right: 8px;
    }
    .xsmr9px {
        margin-right: 9px;
    }
    .xsmr10px {
        margin-right: 10px;
    }
    .xsmr11px {
        margin-right: 11px;
    }
    .xsmr12px {
        margin-right: 12px;
    }
    .xsmr13px {
        margin-right: 13px;
    }
    .xsmr14px {
        margin-right: 14px;
    }
    .xsmr15px {
        margin-right: 15px;
    }
    .xsmr16px {
        margin-right: 17px;
    }
    .xsmr18px {
        margin-right: 18px;
    }
    .xsmr19px {
        margin-right: 19px;
    }
    .xsmr20px {
        margin-right: 20px;
    }
    .xsmr21px {
        margin-right: 21px;
    }
    .xsmr22px {
        margin-right: 22px;
    }
    .xsmr23px {
        margin-right: 23px;
    }
    .xsmr24px {
        margin-right: 24px;
    }
    .xsmr25px {
        margin-right: 25px;
    }
    .xsmr26px {
        margin-right: 26px;
    }
    .xsmr27px {
        margin-right: 27px;
    }
    .xsmr28px {
        margin-right: 28px;
    }
    .xsmr29px {
        margin-right: 29px;
    }
    .xsmr30px {
        margin-right: 30px;
    }
    /* Padding-Top in % */
    .xspt0 {
        padding-top: 0%;
    }
    .xspt1 {
        padding-top: 1%;
    }
    .xspt2 {
        padding-top: 2%;
    }
    .xspt3 {
        padding-top: 3%;
    }
    .xspt4 {
        padding-top: 4%;
    }
    .xspt5 {
        padding-top: 5%;
    }
    .xspt6 {
        padding-top: 6%;
    }
    .xspt7 {
        padding-top: 7%
    }
    .xspt8 {
        padding-top: 8%;
    }
    .xspt9 {
        padding-top: 9%;
    }
    .xspt10 {
        padding-top: 10%;
    }
    .xspt11 {
        padding-top: 11%;
    }
    .xspt12 {
        padding-top: 12%;
    }
    .xspt13 {
        padding-top: 13%;
    }
    .xspt14 {
        padding-top: 14%;
    }
    .xspt15 {
        padding-top: 15%;
    }
    .xspt16 {
        padding-top: 16%;
    }
    .xspt17 {
        padding-top: 17%;
    }
    .xspt18 {
        padding-top: 18%;
    }
    .xspt19 {
        padding-top: 19%;
    }
    .xspt20 {
        padding-top: 20%;
    }
    .xspt21 {
        padding-top: 21%;
    }
    .xspt22 {
        padding-top: 22%;
    }
    .xspt23 {
        padding-top: 23%;
    }
    .xspt24 {
        padding-top: 24%;
    }
    .xspt25 {
        padding-top: 25%;
    }
    .xspt26 {
        padding-top: 26%;
    }
    .xspt27 {
        padding-top: 27%;
    }
    .xspt28 {
        padding-top: 28%;
    }
    .xspt29 {
        padding-top: 29%;
    }
    .xspt30 {
        padding-top: 30%;
    }
    /*Padding Top in PX*/
    .xspt0px {
        padding-top: 0px;
    }
    .xspt1px {
        padding-top: 1px;
    }
    .xspt2px {
        padding-top: 2px;
    }
    .xspt3px {
        padding-top: 3px;
    }
    .xspt4px {
        padding-top: 4px;
    }
    .xspt5px {
        padding-top: 5px;
    }
    .xspt6px {
        padding-top: 6px;
    }
    .xspt7px {
        padding-top: 7px;
    }
    .xspt8px {
        padding-top: 8px;
    }
    .xspt9px {
        padding-top: 9px;
    }
    .xspt10px {
        padding-top: 10px;
    }
    .xspt11px {
        padding-top: 11px;
    }
    .xspt12px {
        padding-top: 12px;
    }
    .xspt13px {
        padding-top: 13px;
    }
    .xspt14px {
        padding-top: 14px;
    }
    .xspt15px {
        padding-top: 15px;
    }
    .xspt16px {
        padding-top: 16px;
    }
    .xspt14px {
        padding-top: 14px;
    }
    .xspt15px {
        padding-top: 15px;
    }
    .xspt16px {
        padding-top: 16px;
    }
    .xspt17px {
        padding-top: 17px;
    }
    .xspt18px {
        padding-top: 18px;
    }
    .xspt19px {
        padding-top: 19px;
    }
    .xspt20px {
        padding-top: 20px;
    }
    .xspt21px {
        padding-top: 21px;
    }
    .xspt22px {
        padding-top: 22px;
    }
    .xspt23px {
        padding-top: 23px;
    }
    .xspt24px {
        padding-top: 24px;
    }
    .xspt25px {
        padding-top: 25px;
    }
    .xspt26px {
        padding-top: 26px;
    }
    .xspt27px {
        padding-top: 27px;
    }
    .xspt28px {
        padding-top: 28px;
    }
    .xspt29px {
        padding-top: 29px;
    }
    .xspt30px {
        padding-top: 30px;
    }
    /*Padding-Bottom In PX*/
    .xspb0px {
        padding-bottom: 0px;
    }
    .xspb1px {
        padding-bottom: 1px;
    }
    .xspb2px {
        padding-bottom: 2px;
    }
    .xspb3px {
        padding-bottom: 3px;
    }
    .xspb4px {
        padding-bottom: 4px;
    }
    .xspb5px {
        padding-bottom: 5px;
    }
    .xspb6px {
        padding-bottom: 6px;
    }
    .xspb7px {
        padding-bottom: 7px;
    }
    .xspb8px {
        padding-bottom: 8px;
    }
    .xspb9px {
        padding-bottom: 9px;
    }
    .xspb10px {
        padding-bottom: 10px;
    }
    .xspb11px {
        padding-bottom: 11px;
    }
    .xspb12px {
        padding-bottom: 12px;
    }
    .xspb13px {
        padding-bottom: 13px;
    }
    .xspb14px {
        padding-bottom: 14px;
    }
    .xspb15px {
        padding-bottom: 15px;
    }
    .xspb16px {
        padding-bottom: 16px;
    }
    .xspb17px {
        padding-bottom: 17px;
    }
    .xspb18px {
        padding-bottom: 18px;
    }
    .xspb19px {
        padding-bottom: 19px;
    }
    .xspb20px {
        padding-bottom: 20px;
    }
    .xspb21px {
        padding-bottom: 21px;
    }
    .xspb22px {
        padding-bottom: 22px;
    }
    .xspb23px {
        padding-bottom: 23px;
    }
    .xspb24px {
        padding-bottom: 24px;
    }
    .xspb25px {
        padding-bottom: 24px;
    }
    .xspb25px {
        padding-bottom: 25px;
    }
    .xspb26px {
        padding-bottom: 26px;
    }
    .xspb27px {
        padding-bottom: 27px;
    }
    .xspb28px {
        padding-bottom: 28px;
    }
    .xspb29px {
        padding-bottom: 29px;
    }
    .xspb30px {
        padding-bottom: 30px;
    }
    /*Padding-Bottom In %*/
    .xspb0 {
        padding-bottom: 0;
    }
    .xspb1 {
        padding-bottom: 1%;
    }
    .xspb2 {
        padding-bottom: 2%;
    }
    .xspb3 {
        padding-bottom: 3%;
    }
    .xspb4 {
        padding-bottom: 4%;
    }
    .xspb5 {
        padding-bottom: 5%;
    }
    .xspb6 {
        padding-bottom: 6%;
    }
    .xspb7 {
        padding-bottom: 7%;
    }
    .xspb8 {
        padding-bottom: 8%;
    }
    .xspb9 {
        padding-bottom: 9%;
    }
    .xspb10 {
        padding-bottom: 10%;
    }
    .xspb11 {
        padding-bottom: 11%;
    }
    .xspb12 {
        padding-bottom: 12%;
    }
    .xspb10 {
        padding-bottom: 10%;
    }
    .xspb11 {
        padding-bottom: 11%;
    }
    .xspb12 {
        padding-bottom: 12%;
    }
    .xspb13 {
        padding-bottom: 13%;
    }
    .xspb14 {
        padding-bottom: 14%;
    }
    .xspb15 {
        padding-bottom: 15%;
    }
    .xspb16 {
        padding-bottom: 16%;
    }
    .xspb17 {
        padding-bottom: 17%;
    }
    .xspb18 {
        padding-bottom: 18%;
    }
    .xspb19 {
        padding-bottom: 19%;
    }
    .xspb20 {
        padding-bottom: 20%;
    }
    .xspb21 {
        padding-bottom: 21%;
    }
    .xspb22 {
        padding-bottom: 22%;
    }
    .xspb23 {
        padding-bottom: 23%;
    }
    .xspb24 {
        padding-bottom: 24%;
    }
    .xspb25 {
        padding-bottom: 25%;
    }
    .xspb26 {
        padding-bottom: 26%;
    }
    .xspb27 {
        padding-bottom: 27%;
    }
    .xspb28 {
        padding-bottom: 28%;
    }
    .xspb29 {
        padding-bottom: 29%;
    }
    .xspb30 {
        padding-bottom: 30%;
    }
    /*Padding Left in PX*/
    .xspl0px {
        padding-left: 0px;
    }
    .xspl1px {
        padding-left: 1px;
    }
    .xspl2px {
        padding-left: 2px;
    }
    .xspl3px {
        padding-left: 3px;
    }
    .xspl4px {
        padding-left: 4px;
    }
    .xspl5px {
        padding-left: 5px;
    }
    .xspl6px {
        padding-left: 6px;
    }
    .xspl7px {
        padding-left: 7px;
    }
    .xspl8px {
        padding-left: 8px;
    }
    .xspl9px {
        padding-left: 9px;
    }
    .xspl10px {
        padding-left: 10px;
    }
    .xspl11px {
        padding-left: 11px;
    }
    .xspl12px {
        padding-left: 12px;
    }
    .xspl13px {
        padding-left: 13px;
    }
    .xspl14px {
        padding-left: 14px;
    }
    .xspl15px {
        padding-left: 15px;
    }
    .xspl16px {
        padding-left: 16px;
    }
    .xspl17px {
        padding-left: 17px;
    }
    .xspl18px {
        padding-left: 18px;
    }
    .xspl19px {
        padding-left: 19px;
    }
    .xspl20px {
        padding-left: 20px;
    }
    .xspl21px {
        padding-left: 21px;
    }
    .xspl22px {
        padding-left: 22px;
    }
    .xspl23px {
        padding-left: 23px;
    }
    .xspl24px {
        padding-left: 24px;
    }
    .xspl25px {
        padding-left: 25px;
    }
    .xspl26px {
        pading-left: 26px;
    }
    .xspl27px {
        padding-left: 27px;
    }
    .xspl28px {
        padding-left: 28px;
    }
    .xspl29px {
        padding-left: 29px;
    }
    .xspl30px {
        padding-left: 30px;
    }
    /* Padding Left in % */
    .xspl0 {
        padding-left: 0;
    }
    .xspl1 {
        padding-left: 1%;
    }
    .xspl2 {
        padding-left: 2%;
    }
    .xspl3 {
        padding-left: 3%;
    }
    .xspl4 {
        padding-left: 4%;
    }
    .xspl5 {
        padding-left: 5%;
    }
    .xspl6 {
        padding-left: 6%;
    }
    .xspl7 {
        padding-left: 7%;
    }
    .xspl8 {
        padding-left: 8%;
    }
    .xspl9 {
        padding-left: 9%;
    }
    .xspl10 {
        padding-left: 10%;
    }
    .xspl11 {
        padding-left: 11%;
    }
    .xspl12 {
        padding-left: 12%;
    }
    .xspl13 {
        padding-left: 13%;
    }
    .xspl14 {
        padding-left: 14%;
    }
    .xspl15 {
        padding-left: 15%;
    }
    .xspl16 {
        padding-left: 16%;
    }
    .xspl17 {
        padding-left: 17%
    }
    .xspl18 {
        padding-left: 18%;
    }
    .xspl19 {
        padding-left: 19%;
    }
    .xspl20 {
        padding-left: 20%;
    }
    .xspl21 {
        padding-left: 21%;
    }
    .xspl22 {
        padding-left: 22%;
    }
    .xspl23 {
        padding-left: 23%;
    }
    .xspl24 {
        padding-left: 24%;
    }
    .xspl25 {
        padding-left: 25%;
    }
    .xspl126 {
        padding-left: 26%;
    }
    .xspl27 {
        padding-left: 27%;
    }
    .xspl28 {
        padding-left: 28%;
    }
    .xspl29 {
        padding-left: 29%;
    }
    .xspl30 {
        padding-left: 30%;
    }
    /*Padding right in %*/
    .xspr0 {
        padding-right: 0;
    }
    .xspr1 {
        padding-right: 1%;
    }
    .xspr2 {
        padding-right: 2%;
    }
    .xspr3 {
        padding-right: 3%;
    }
    .xspr4 {
        padding-right: 4%;
    }
    .xspr5 {
        padding-right: 5%;
    }
    .xspr6 {
        padding-right: 6%;
    }
    .xspr7 {
        padding-right: 7%;
    }
    .xspr8 {
        padding-right: 8%;
    }
    .xspr9 {
        padding-right: 9%;
    }
    .xspr10 {
        padding-right: 10%;
    }
    .xspr11 {
        padding-right: 11%;
    }
    .xspr12 {
        padding-right: 12%;
    }
    .xspr13 {
        padding-right: 13%;
    }
    .xspr14 {
        padding-right: 14%;
    }
    .xspr15 {
        padding-right: 15%;
    }
    .xspr16 {
        padding-right: 16%;
    }
    .xspr17 {
        padding-right: 17%;
    }
    .xspr18 {
        padding-right: 18%;
    }
    .xspr19 {
        padding-right: 19%;
    }
    .xspr20 {
        padding-right: 20%;
    }
    /*Padding right in PX*/
    .xspr0px {
        padding-right: 0;
    }
    .xspr1px {
        padding-right: 1px;
    }
    .xspr2px {
        padding-right: 2px;
    }
    .xspr3px {
        padding-right: 3px;
    }
    .xspr4px {
        padding-right: 4px;
    }
    .xspr5px {
        padding-right: 5px;
    }
    .xspr6px {
        padding-right: 6px;
    }
    .xspr7px {
        padding-right: 7px;
    }
    .xspr8px {
        padding-right: 8px;
    }
    .xspr9px {
        padding-right: 9px;
    }
    .xspr10px {
        padding-right: 10px;
    }
    .xspr11px {
        padding-right: 11px;
    }
    .xspr12px {
        padding-right: 12px;
    }
    .xspr13px {
        padding-right: 13px;
    }
    .xspr14px {
        padding-right: 14px;
    }
    .xspr15px {
        padding-right: 15px;
    }
    .xspr16px {
        padding-right: 16px;
    }
    .xspr17px {
        padding-right: 17px;
    }
    .xspr18px {
        padding-right: 18px;
    }
    .xspr18px {
        padding-right: 18px;
    }
    .xspr19px {
        padding-right: 19px;
    }
    .xspr20px {
        padding-right: 20px;
    }
    .xspr21px {
        padding-right: 21px;
    }
    .xspr22px {
        padding-right: 22px;
    }
    .xspr23px {
        padding-right: 23px;
    }
    .xspr24px {
        padding-right: 24px;
    }
    .xspr25px {
        padding-right: 25px;
    }
    .xspr26px {
        padding-right: 26px;
    }
    .xspr27px {
        padding-right: 27px;
    }
    .xspr28px {
        padding-right: 28px;
    }
    .xspr29px {
        padding-right: 29px;
    }
    .xspr30px {
        padding-right: 30px;
    }
    /* Padding with Px , Py */
    /*For Padding-left, padding-right [PX]*/
    .px0 {
        padding-left: 0;
        padding-right: 0;
    }
    .px1 {
        padding-left: 1px;
        padding-right: 1px;
    }
    .px2 {
        padding-left: 2px;
        padding-right: 2px;
    }
    .px3 {
        padding-left: 3px;
        padding-right: 3px;
    }
    .px4 {
        padding-left: 4px;
        padding-right: 4px;
    }
    .px5 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .px6 {
        padding-left: 6px;
        padding-right: 6px;
    }
    .px7 {
        padding-left: 7px;
        padding-right: 7px;
    }
    .px8 {
        padding-left: 8px;
        padding-right: 8px;
    }
    .px9 {
        padding-left: 9px;
        padding-right: 9px;
    }
    .px10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .px11 {
        padding-left: 11px;
        padding-right: 11px;
    }
    .px12 {
        padding-left: 12px;
        padding-right: 12px;
    }
    .px13 {
        padding-left: 13px;
        padding-right: 13px;
    }
    .px14 {
        padding-left: 14px;
        padding-right: 14px;
    }
    .px15 {
        padding-left: 15px;
        padding-right: 15px;
    }
    /*For Padding-top, padding-bottom [PY]*/
    .py0 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .py1 {
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .py2 {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .py3 {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .py4 {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .py5 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .py6 {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .py7 {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .py8 {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .py9 {
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .py10 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .py11 {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .py12 {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .py13 {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .py14 {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .py15 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (min-width: 768px) {
    /* Font-Size in Px */
    .sm10 {
        font-size: 10px;
    }
    .sm11 {
        font-size: 11px;
    }
    .sm12 {
        font-size: 12px;
    }
    .sm13 {
        font-size: 13px;
    }
    .sm14 {
        font-size: 14px;
    }
    .sm15 {
        font-size: 15px;
    }
    .sm16 {
        font-size: 16px;
    }
    .sm17 {
        font-size: 17px;
    }
    .sm18 {
        font-size: 18px;
    }
    .sm19 {
        font-size: 19px;
    }
    .sm20 {
        font-size: 20px;
    }
    .sm21 {
        font-size: 21px;
    }
    .sm22 {
        font-size: 22px;
    }
    .sm23 {
        font-size: 23px;
    }
    .sm24 {
        font-size: 24px;
    }
    .sm25 {
        font-size: 25px;
    }
    .sm26 {
        font-size: 26px;
    }
    .sm27 {
        font-size: 27px;
    }
    .sm28 {
        font-size: 28px;
    }
    .sm29 {
        font-size: 29px;
    }
    .sm30 {
        font-size: 30px;
    }
    .sm31 {
        font-size: 31px;
    }
    .sm32 {
        font-size: 32px;
    }
    .sm33 {
        font-size: 33px;
    }
    .sm34 {
        font-size: 34px;
    }
    .sm35 {
        font-size: 35px;
    }
    .sm36 {
        font-size: 36px;
    }
    .sm37 {
        font-size: 37px;
    }
    .sm38 {
        font-size: 38px;
    }
    .sm39 {
        font-size: 39px;
    }
    .sm40 {
        font-size: 40px;
    }
    .sm41 {
        font-size: 41px;
    }
    .sm42 {
        font-size: 42px;
    }
    .sm43 {
        font-size: 43px;
    }
    .sm44 {
        font-size: 44px;
    }
    .sm45 {
        font-size: 45px;
    }
    .sm46 {
        font-size: 46px;
    }
    .sm47 {
        font-size: 47px;
    }
    .sm48 {
        font-size: 48px;
    }
    .sm49 {
        font-size: 49px;
    }
    .sm50 {
        font-size: 50px;
    }
    /*Margin-top in %*/
    .smmt0 {
        margin-top: 0;
    }
    .smmt1 {
        margin-top: 1%;
    }
    .smmt2 {
        margin-top: 2%;
    }
    .smmt3 {
        margin-top: 3%;
    }
    .smmt {
        margin-top: 4%;
    }
    .smmt5 {
        margin-top: 5%;
    }
    .smmt6 {
        margin-top: 6%;
    }
    .smmt7 {
        margin-top: 7%;
    }
    .smmt8 {
        margin-top: 8%;
    }
    .smmt9 {
        margin-top: 9%;
    }
    .smmt10 {
        margin-top: 10%;
    }
    .smmt11 {
        margin-top: 11%;
    }
    .smmt12 {
        margin-top: 12%;
    }
    .smmt13 {
        margin-top: 13%;
    }
    .smmt14 {
        margin-top: 14%;
    }
    .smmt15 {
        margin-top: 15%;
    }
    .smmt16 {
        margin-top: 16%;
    }
    .smmt17 {
        margin-top: 17%;
    }
    .smmt18 {
        margin-top: 18%;
    }
    .smmt19 {
        margin-top: 19%;
    }
    .smmt20 {
        margin-top: 20%;
    }
    /* Margin-top in PX */
    .smmt0px {
        margin-top: 0px;
    }
    .smmt1px {
        margin-top: 1px;
    }
    .smmt2px {
        margin-top: 2px;
    }
    .smmt3px {
        margin-top: 3px;
    }
    .smmt4px {
        margin-top: 4px;
    }
    .smmt5px {
        margin-top: 5px;
    }
    .smmt6px {
        margin-top: 6px;
    }
    .smmt7px {
        margin-top: 7px;
    }
    .smmt8px {
        margin-top: 8px;
    }
    .smmt9px {
        margin-top: 9px;
    }
    .smmt10px {
        margin-top: 10px;
    }
    .smmt11px {
        margin-top: 11px;
    }
    .smmt12px {
        margin-top: 12px;
    }
    .smmt13px {
        margin-top: 13px;
    }
    .smmt14px {
        margin-top: 14px;
    }
    .smmt15px {
        margin-top: 15px;
    }
    .smmt16px {
        margin-top: 16px;
    }
    .smmt17px {
        margin-top: 17px;
    }
    .smmt18px {
        margin-top: 18px;
    }
    .smmt19px {
        margin-top: 19px;
    }
    .smmt20px {
        margin-top: 20px;
    }
    .smmt21px {
        margin-top: 21px;
    }
    .smmt22px {
        margin-top: 22px;
    }
    .smmt23px {
        margin-top: 23px;
    }
    .smmt24px {
        margin-top: 24px;
    }
    .smmt25px {
        margin-top: 25px;
    }
    .smmt26px {
        margin-top: 26px;
    }
    .smmt27px {
        margin-top: 27px;
    }
    .smmt28px {
        margin-top: 28px;
    }
    .smmt29px {
        margin-top: 29px;
    }
    .smmt30px {
        margin-top: 30px;
    }
    .smmt31px {
        margin-top: 31px;
    }
    .smmt32px {
        margin-top: 32px;
    }
    .smmt33px {
        margin-top: 33px;
    }
    .smmt34px {
        margin-top: 34px;
    }
    .smmt35px {
        margin-top: 35px;
    }
    .smmt36px {
        margin-top: 36px;
    }
    .smmt37px {
        margin-top: 37px;
    }
    .smmt38px {
        margin-top: 38px;
    }
    .smmt39px {
        margin-top: 39px;
    }
    .smmt40px {
        margin-top: 40px;
    }
    .smmt41px {
        margin-top: 41px;
    }
    .smmt42px {
        margin-top: 42px;
    }
    .smmt43px {
        margin-top: 43px;
    }
    .smmt44px {
        margin-top: 44px;
    }
    .smmt45px {
        margin-top: 45px;
    }
    .smmt46px {
        margin-top: 46px;
    }
    .smmt47px {
        margin-top: 47px;
    }
    .smmt48px {
        margin-top: 48px;
    }
    .smmt49px {
        margin-top: 49px;
    }
    .smmt50px {
        margin-top: 50px;
    }
    /* Margin Bottom in % */
    .smmb1 {
        margin-bottom: 1%;
    }
    .smmb2 {
        margin-bottom: 2%;
    }
    .smmb3 {
        margin-bottom: 3%;
    }
    .smmb4 {
        margin-bottom: 4%;
    }
    .smmb5 {
        margin-bottom: 5%;
    }
    .smmb6 {
        margin-bottom: 6%;
    }
    .smmb7 {
        margin-bottom: 7%;
    }
    .smmb8 {
        margin-bottom: 8%;
    }
    .smmb9 {
        margin-bottom: 9%;
    }
    .smmb10 {
        margin-bottom: 10%;
    }
    .smmb11 {
        margin-bottom: 11%;
    }
    .smmb12 {
        margin-bottom: 12%;
    }
    .smmb13 {
        margin-bottom: 13%;
    }
    .smmb14 {
        margin-bottom: 14%;
    }
    .smmb15 {
        margin-bottom: 15%;
    }
    .smmb16 {
        margin-bottom: 16%;
    }
    .smmb17 {
        margin-bottom: 17%;
    }
    .smmb18 {
        margin-bottom: 18%;
    }
    .smmb19 {
        margin-bottom: 19%;
    }
    .smmb20 {
        margin-bottom: 20%;
    }
    .smmb21 {
        margin-bottom: 21%;
    }
    .smmb22 {
        margin-bottom: 22%;
    }
    .smmb23 {
        margin-bottom: 23%;
    }
    .smmb24 {
        margin-bottom: 24%;
    }
    .smmb25 {
        margin-bottom: 25%;
    }
    .smmb26 {
        margin-bottom: 26%;
    }
    .smmb27 {
        margin-bottom: 27%;
    }
    .smmb28 {
        margin-bottom: 28%;
    }
    .smmb29 {
        margin-bottom: 29%;
    }
    .smmb30 {
        margin-bottom: 30%;
    }
    /* Margin Bottom in PX */
    .smmb1px {
        margin-bottom: 1px;
    }
    .smmb2px {
        margin-bottom: 2px;
    }
    .smmb3px {
        margin-bottom: 3px;
    }
    .smmb4px {
        margin-bottom: 4px;
    }
    .smmb5px {
        margin-bottom: 5px;
    }
    .smmb6px {
        margin-bottom: 6px;
    }
    .smmb7px {
        margin-bottom: 7px;
    }
    .smmb8px {
        margin-bottom: 8px;
    }
    .smmb9px {
        margin-bottom: 9px;
    }
    .smmb10px {
        margin-bottom: 10px;
    }
    .smmb11px {
        margin-bottom: 11px;
    }
    .smmb12 {
        margin-bottom: 12px;
    }
    .smm13px {
        margin-bottom: 13px;
    }
    .smmb14px {
        margin-bottom: 14px;
    }
    .smmb15px {
        margin-bottom: 15px;
    }
    .smmb16px {
        margin-bottom: 16px;
    }
    .smmb17px {
        margin-bottom: 17px;
    }
    .smmb18px {
        margin-bottom: 18px;
    }
    .smmb19px {
        margin-bottom: 19px;
    }
    .smmb20px {
        margin-bottom: 20px;
    }
    .smmb21px {
        margin-bottom: 21px;
    }
    .smmb22px {
        margin-bottom: 22px;
    }
    .smmb23px {
        margin-bottom: 23px;
    }
    .smmb24px {
        margin-bottom: 24px;
    }
    .smmb25px {
        margin-bottom: 25px;
    }
    .smmb26px {
        margin-bottom: 26px;
    }
    .smmb27px {
        margin-bottom: 27px;
    }
    .smmb28px {
        margin-bottom: 28px;
    }
    .smmb29px {
        margin-bottom: 29px;
    }
    .smmb30px {
        margin-bottom: 30px;
    }
    .smmb31px {
        margin-bottom: 31px;
    }
    .smmb32px {
        margin-bottom: 32px;
    }
    .smmb33px {
        margin-bottom: 34px;
    }
    .smmb34px {
        margin-bottom: 34px;
    }
    .smmb35px {
        margin-bottom: 35px;
    }
    .smmb36px {
        margin-bottom: 36px;
    }
    .smmb37px {
        margin-bottom: 37px;
    }
    .smmb38px {
        margin-bottom: 38px;
    }
    .smmb39px {
        margin-bottom: 39px;
    }
    .smmb40px {
        margin-bottom: 40px;
    }
    .smmb41px {
        margin-bottom: 41px;
    }
    .smmb42px {
        margin-bottom: 42px;
    }
    .smmb43px {
        margin-bottom: 43px;
    }
    .smmb44px {
        margin-bottom: 44px;
    }
    .smmb45px {
        margin-bottom: 45px;
    }
    .smmb46px {
        margin-bottom: 46px;
    }
    .smmb47px {
        margin-bottom: 47px;
    }
    .smmb48px {
        margin-bottom: 48px;
    }
    .smmb49px {
        margin-bottom: 49px;
    }
    .smmb50px {
        margin-bottom: 50px;
    }
    /*Margin Right in %*/
    .smmr0 {
        margin-right: 0;
    }
    .smmr1 {
        margin-right: 1%;
    }
    .smmr2 {
        margin-right: 2%;
    }
    .smmr3 {
        margin-right: 3%;
    }
    .smmr4 {
        margin-right: 4%;
    }
    .smmr5 {
        margin-right: 5%;
    }
    .smmr6 {
        margin-right: 6%;
    }
    .smmr7 {
        margin-right: 7%;
    }
    .smmr8 {
        margin-right: 8%;
    }
    .smmr9 {
        margin-right: 9%;
    }
    .smmr10 {
        margin-right: 10%;
    }
    .smmr11 {
        margin-right: 11%;
    }
    .smmr12 {
        margin-right: 12%;
    }
    .smmr13 {
        margin-right: 13%;
    }
    .smmr14 {
        margin-right: 14%;
    }
    .smmr15 {
        margin-right: 15%;
    }
    .smmr16 {
        margin-right: 16%;
    }
    .smmr17 {
        margin-right: 17%;
    }
    .smmr18 {
        margin-right: 18%;
    }
    .smmr19 {
        margin-right: 19%;
    }
    .smmr20 {
        margin-right: 20%;
    }
    .smmr21 {
        margin-right: 21%;
    }
    .smmr22 {
        margin-right: 22%;
    }
    .smmr23 {
        margin-right: 23%;
    }
    .smmr24 {
        margin-right: 24%;
    }
    .smmr25 {
        margin-right: 25%;
    }
    .smmr26 {
        margin-right: 26%;
    }
    .smmr27 {
        margin-right: 27%;
    }
    .smmr28 {
        margin-right: 28%;
    }
    .smmr29 {
        margin-right: 29%;
    }
    .smmr30 {
        margin-right: 30%;
    }
    /*Margin Right in PX*/
    .smmr0px {
        margin-right: 0px;
    }
    .smmr1px {
        margin-right: 1px;
    }
    .smmr2px {
        margin-right: 2px;
    }
    .smmr3px {
        margin-right: 3px;
    }
    .smmr4px {
        margin-right: 4px;
    }
    .smmr5px {
        margin-right: 4px;
    }
    .smmr6px {
        margin-right: 6px;
    }
    .smmr7px {
        margin-right: 7px;
    }
    .smmr8px {
        margin-right: 8px;
    }
    .smmr9px {
        margin-right: 9px;
    }
    .smmr10px {
        margin-right: 10px;
    }
    .smmr11px {
        margin-right: 11px;
    }
    .smmr12px {
        margin-right: 12px;
    }
    .smmr13px {
        margin-right: 13px;
    }
    .smmr14px {
        margin-right: 14px;
    }
    .smmr15px {
        margin-right: 15px;
    }
    .smmr16px {
        margin-right: 16px;
    }
    .smmr17px {
        margin-right: 17px;
    }
    .smmr18px {
        margin-right: 18px;
    }
    .smmr19px {
        margin-right: 19px;
    }
    .smmr20px {
        margin-right: 20px;
    }
    .smmr21px {
        margin-right: 21px;
    }
    .smmr22px {
        margin-right: 22px;
    }
    .smmr23px {
        margin-right: 23px;
    }
    .smmr24px {
        margin-right: 24px;
    }
    .smmr25px {
        margin-right: 25px;
    }
    .smmr26px {
        margin-right: 26px;
    }
    .smmr27px {
        margin-right: 27px;
    }
    .smmr28px {
        margin-right: 28px;
    }
    .smmr29px {
        margin-right: 29px;
    }
    .smmr30px {
        margin-right: 30px;
    }
    /*Margin-left in PX*/
    .smml0 {
        margin-left: 0;
    }
    .smml1px {
        margin-left: 1px;
    }
    .smml2px {
        margin-left: 2px;
    }
    .smml3px {
        margin-left: 3px;
    }
    .smml4px {
        margin-left: 4px;
    }
    .smml5px {
        margin-left: 5px;
    }
    .smml6px {
        margin-left: 6px;
    }
    .smml7px {
        margin-left: 7px;
    }
    .smml8px {
        margin-left: 8px;
    }
    .smml9px {
        margin-left: 9px;
    }
    .smml10px {
        margin-left: 10px;
    }
    .smml11px {
        margin-left: 11px;
    }
    .smml12px {
        margin-left: 12px;
    }
    .smml13px {
        margin-left: 13px;
    }
    .smml14px {
        margin-left: 14px;
    }
    .smml15px {
        margin-left: 15px;
    }
    .smml16px {
        margin-left: 16px;
    }
    .smml17px {
        margin-left: 17px;
    }
    .smml18px {
        margin-left: 18px;
    }
    .smml19px {
        margin-left: 19px;
    }
    .smml20px {
        margin-left: 20px;
    }
    .smml21px {
        margin-left: 21px;
    }
    .smml22px {
        margin-left: 22px;
    }
    .smml23px {
        margin-left: 23px;
    }
    .smml24px {
        margin-left: 24px;
    }
    .smml25px {
        margin-left: 25px;
    }
    .smml26px {
        margin-left: 26px;
    }
    .smml27px {
        margin-left: 27px;
    }
    .smml28px {
        margin-left: 28px;
    }
    .smml29px {
        margin-left: 29px;
    }
    .smml30px {
        margin-left: 30px;
    }
    /*Margin-left in %*/
    .smml0 {
        margin-left: 0;
    }
    .smml1 {
        margin-left: 1%;
    }
    .smml2 {
        margin-left: 2%;
    }
    .smml3 {
        margin-left: 3%;
    }
    .smml4 {
        margin-left: 4%;
    }
    .smml5 {
        margin-left: 5%;
    }
    .smml6 {
        margin-left: 6%;
    }
    .smml7 {
        margin-left: 7%;
    }
    .smml8 {
        margin-left: 8%;
    }
    .smml9 {
        margin-left: 9%;
    }
    .smml10 {
        margin-left: 10%;
    }
    .smml11 {
        margin-left: 11%;
    }
    .smml12 {
        margin-left: 12%;
    }
    .smml13 {
        margin-left: 13%;
    }
    .smml14 {
        margin-left: 14%;
    }
    .smml15 {
        margin-left: 15%;
    }
    .smml16 {
        margin-left: 16%;
    }
    .smml17 {
        margin-left: 17%;
    }
    .smml18 {
        margin-left: 18%;
    }
    .smml19 {
        margin-left: 19%;
    }
    .smml20 {
        margin-left: 20%;
    }
    .smml21 {
        margin-left: 21%;
    }
    .smml22 {
        margin-left: 22%;
    }
    .smml23 {
        margin-left: 23%;
    }
    .smml24 {
        margin-left: 24%;
    }
    .smm25 {
        margin-left: 25%;
    }
    .smm26 {
        margin-left: 26%;
    }
    .smm27 {
        margin-left: 27%;
    }
    .smm28 {
        margin-left: 28%;
    }
    .smm29 {
        margin-left: 29%;
    }
    .smm30 {
        margin-left: 30%;
    }
    /*Padding Top in PX*/
    .smpt0px {
        padding-top: 0;
    }
    .smpt1px {
        padding-top: 1px;
    }
    .smpt2px {
        padding-top: 2px;
    }
    .smpt3px {
        padding-top: 3px;
    }
    .smpt4px {
        padding-top: 4px;
    }
    .smpt5px {
        padding-top: 5px;
    }
    .smpt6px {
        padding-top: 7px;
    }
    .smpt7px {
        padding-top: 7px;
    }
    .smpt8px {
        padding-top: 8px;
    }
    .smpt9px {
        padding-top: 9px;
    }
    .smpt10px {
        padding-top: 10px;
    }
    .smpt11px {
        padding-top: 11px;
    }
    .smpt12px {
        padding-top: 12px;
    }
    .smpt13px {
        padding-top: 13px;
    }
    .smpt14px {
        padding-top: 14px;
    }
    .smpt15px {
        padding-top: 15px;
    }
    .smpt16px {
        padding-top: 16px;
    }
    .smpt17px {
        padding-top: 17px;
    }
    .smpt18px {
        padding-top: 18px;
    }
    .smpt19px {
        padding-top: 19px;
    }
    .smpt20px {
        padding-top: 20px;
    }
    .smpt21px {
        padding-top: 21px;
    }
    .smpt22px {
        padding-top: 22px;
    }
    .smpt23px {
        padding-top: 23px;
    }
    .smpt24px {
        padding-top: 24px;
    }
    .smpt25px {
        padding-top: 25px;
    }
    .smpt26px {
        padding-top: 26px;
    }
    .smpt27px {
        padding-top: 27px;
    }
    .smpt28px {
        padding-top: 28px;
    }
    .smpt29px {
        padding-top: 29px;
    }
    .smpt30px {
        padding-top: 30px;
    }
    /*Padding Top in %*/
    .smpt0 {
        padding-top: 0;
    }
    .smpt1 {
        padding-top: 1%;
    }
    .smpt2 {
        padding-top: 2%;
    }
    .smpt3 {
        padding-top: 3%;
    }
    .smpt4 {
        padding-top: 4%;
    }
    .smpt5 {
        padding-top: 5%;
    }
    .smpt6 {
        padding-top: 6%;
    }
    .smpt7 {
        padding-top: 7%;
    }
    .smpt8 {
        padding-top: 8%;
    }
    .smpt9 {
        padding-top: 9%;
    }
    .smpt10 {
        padding-top: 10%;
    }
    .smpt11 {
        padding-top: 11%;
    }
    .smpt12 {
        padding-top: 12%;
    }
    .smpt13 {
        padding-top: 13%;
    }
    .smpt14 {
        padding-top: 14%;
    }
    .smpt15 {
        padding-top: 15%;
    }
    .smpt16 {
        padding-top: 16%;
    }
    .smpt17 {
        padding-top: 17%;
    }
    .smpt18 {
        padding-top: 18%;
    }
    .smpt19 {
        padding-top: 19%;
    }
    .smpt20 {
        padding-top: 20%;
    }
    .smpt21 {
        padding-top: 21%;
    }
    .smpt22 {
        padding-top: 22%;
    }
    .smpt23 {
        padding-top: 23%;
    }
    .smpt24 {
        padding-top: 24%;
    }
    .smpt25 {
        padding-top: 25%;
    }
    .smpt26 {
        padding-top: 26%;
    }
    .smpt27 {
        padding-top: 27%;
    }
    .smpt28 {
        padding-top: 28%;
    }
    .smpt29 {
        padding-top: 29%;
    }
    .smpt30 {
        padding-top: 30%;
    }
    /*padding Bottom in PX*/
    .smpb0px {
        padding-bottom: 0px;
    }
    .smpb1px {
        padding-bottom: 1px;
    }
    .smpb2px {
        padding-bottom: 2px;
    }
    .smpb3px {
        padding-bottom: 3px;
    }
    .smpb4px {
        padding-bottom: 4px;
    }
    .smpb5px {
        padding-bottom: 5px;
    }
    .smpb6px {
        padding-bottom: 6px;
    }
    .smpb7px {
        padding-bottom: 7px;
    }
    .smpb8px {
        padding-bottom: 8px;
    }
    .smpb9px {
        padding-bottom: 9px;
    }
    .smpb10px {
        paddin-bottom: 10px;
    }
    .smpb11px {
        padding-bottom: 11px;
    }
    .smpb12px {
        padding-bottom: 12px;
    }
    .smpb13px {
        padding-bottom: 13px;
    }
    .smpb14px {
        padding-bottom: 14px;
    }
    .smpb15px {
        padding-bottom: 15px;
    }
    .smpb16px {
        padding-bottom: 16px;
    }
    .smpb17px {
        padding-bottom: 17px;
    }
    .smpb18px {
        padding-bottom: 18px;
    }
    .smpb19px {
        padding-bottom: 19px;
    }
    .smpb20px {
        padding-bottom: 20px;
    }
    .smpb21px {
        padding-bottom: 21px;
    }
    .smpb22px {
        padding-bottom: 22px;
    }
    .smpb23px {
        padding-bottom: 23px;
    }
    .smpb24px {
        padding-bottom: 24px;
    }
    .smpb25px {
        padding-bottom: 25px;
    }
    .smpb26px {
        padding-bottom: 26px;
    }
    .smpb27px {
        padding-bottom: 27px;
    }
    .smpb25px {
        padding-bottom: 25px;
    }
    .smpb26px {
        padding-bottom: 26px;
    }
    .smpb27px {
        padding-bottom: 27px;
    }
    .smpb28px {
        padding-bottom: 28px;
    }
    .smpb29px {
        padding-bottom: 29px;
    }
    .smpb30px {
        padding-bottom: 30px;
    }
    /*Padding Bottom in %*/
    .smpb0 {
        padding-bottom: 0;
    }
    .smpb1 {
        padding-bottom: 1%;
    }
    .smpb2 {
        padding-bottom: 2%;
    }
    .smpb3 {
        padding-bottom: 3%;
    }
    .smpb4 {
        padding-bottom: 4%;
    }
    .smpb5 {
        padding-bottom: 5%;
    }
    .smpb6 {
        padding-bottom: 6%;
    }
    .smpb7 {
        padding-bottom: 7%;
    }
    .smpb8 {
        padding-bottom: 8%;
    }
    .smpb9 {
        padding-bottom: 9%;
    }
    .smpb10 {
        padding-bottom: 10%;
    }
    .smpb11 {
        padding-bottom: 11%;
    }
    .smpb12 {
        padding-bottom: 12%;
    }
    .smpb13 {
        pading-bottom: 13%;
    }
    .smpb14 {
        padding-bottom: 14%;
    }
    .smpb15 {
        padding-bottom: 15%;
    }
    .smpb16 {
        padding-bottom: 16%;
    }
    .smpb17 {
        padding-bottom: 17%;
    }
    .smpb18 {
        padding-bottom: 18%;
    }
    .smpb19 {
        padding-bottom: 19%;
    }
    .smpb20 {
        padding-bottom: 20%;
    }
    /* Padding with Px , Py */
    /*For Padding-left, padding-right [PX]*/
    .px-sm0 {
        padding-left: 0;
        padding-right: 0;
    }
    .px-sm1 {
        padding-left: 1px;
        padding-right: 1px;
    }
    .px-sm2 {
        padding-left: 2px;
        padding-right: 2px;
    }
    .px-sm3 {
        padding-left: 3px;
        padding-right: 3px;
    }
    .px-sm4 {
        padding-left: 4px;
        padding-right: 4px;
    }
    .px-sm5 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .px-sm6 {
        padding-left: 6px;
        padding-right: 6px;
    }
    .px-sm7 {
        padding-left: 7px;
        padding-right: 7px;
    }
    .px-sm8 {
        padding-left: 8px;
        padding-right: 8px;
    }
    .px-sm9 {
        padding-left: 9px;
        padding-right: 9px;
    }
    .px-sm10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .px-sm11 {
        padding-left: 11px;
        padding-right: 11px;
    }
    .px-sm12 {
        padding-left: 12px;
        padding-right: 12px;
    }
    .px-sm13 {
        padding-left: 13px;
        padding-right: 13px;
    }
    .px-sm14 {
        padding-left: 14px;
        padding-right: 14px;
    }
    .px-sm15 {
        padding-left: 15px;
        padding-right: 15px;
    }
    /*For Padding-left, padding-right [PY]*/
    .py-sm0 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .py-sm1 {
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .py-sm2 {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .py-sm3 {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .py-sm4 {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .py-sm5 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .py-sm6 {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .py-sm7 {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .py-sm8 {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .py-sm9 {
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .py-sm10 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .py-sm11 {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .py-sm12 {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .py-sm13 {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .py-sm14 {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .py-sm15 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (min-width: 992px) {
    /*Font Size in Pixel*/
    .md10 {
        font-size: 10px;
    }
    .md11 {
        font-size: 11px;
    }
    .md12 {
        font-size: 12px;
    }
    .md13 {
        font-size: 13px;
    }
    .md14 {
        font-size: 14px;
    }
    .md15 {
        font-size: 15px;
    }
    .md16 {
        font-size: 16px;
    }
    .md17 {
        font-size: 17px;
    }
    .md18 {
        font-size: 18px;
    }
    .md19 {
        font-size: 19px;
    }
    .md20 {
        font-size: 20px;
    }
    .md21 {
        font-size: 21px;
    }
    .md22 {
        font-size: 22px;
    }
    .md23 {
        font-size: 23px;
    }
    .md24 {
        font-size: 24px;
    }
    .md25 {
        font-size: 25px;
    }
    .md26 {
        font-size: 26px;
    }
    .md27 {
        font-size: 27px;
    }
    .md28 {
        font-size: 28px;
    }
    .md29 {
        font-size: 29px;
    }
    .md30 {
        font-size: 30px;
    }
    .md31 {
        font-size: 31px;
    }
    .md32 {
        font-size: 32px;
    }
    .md33 {
        font-size: 33px;
    }
    .md34 {
        font-size: 34px;
    }
    .md35 {
        font-size: 34px;
    }
    .md36 {
        font-size: 36px;
    }
    .md37 {
        font-size: 37px;
    }
    .md38 {
        font-size: 38px;
    }
    .md39 {
        font-size: 39px;
    }
    .md40 {
        font-size: 40px;
    }
    .md41 {
        font-size: 41px;
    }
    .md42 {
        font-size: 42px;
    }
    .md43 {
        font-size: 43px;
    }
    .md44 {
        font-size: 44px;
    }
    .md45 {
        font-size: 45px;
    }
    .md46 {
        font-size: 46px;
    }
    .md47 {
        font-size: 47px;
    }
    .md48 {
        font-size: 48px;
    }
    .md49 {
        font-size: 49px;
    }
    .md50 {
        font-size: 50px;
    }
    .md60 {
        font-size: 60px;
    }
    .md55 {
        font-size: 55px;
    }
    .md70 {
        font-size: 70px;
    }
    .md53 {
        font-size: 53px;
    }
    .md55 {
        font-size: 55px;
    }
    /*Margin-Top in %*/
    .mt0 {
        margin-top: 0;
    }
    .mt1 {
        margin-top: 1%;
    }
    .mt2 {
        margin-top: 2%;
    }
    .mt3 {
        margin-top: 3%;
    }
    .mt4 {
        margin-top: 4%;
    }
    .mt5 {
        margin-top: 5%;
    }
    .mt6 {
        margin-top: 6%;
    }
    .mt7 {
        margin-top: 7%;
    }
    .mt8 {
        margin-top: 8%;
    }
    .mt9 {
        margin-top: 9%;
    }
    .mt10 {
        margin-top: 10%;
    }
    .mt11 {
        margin-top: 11%;
    }
    .mt12 {
        margin-top: 12%;
    }
    .mt13 {
        margin-top: 13%;
    }
    .mt14 {
        margin-top: 14%;
    }
    .mt15 {
        margin-top: 15%;
    }
    .mt16 {
        margin-top: 16%;
    }
    .mt17 {
        margin-top: 17%;
    }
    .mt18 {
        margin-top: 18%;
    }
    .mt19 {
        margin-top: 19%;
    }
    .mt20 {
        margin-top: 20%;
    }
    .mt21 {
        margin-top: 21%;
    }
    .mt22 {
        margin-top: 22%;
    }
    .mt23 {
        margin-top: 23%;
    }
    .mt24 {
        margin-top: 24%;
    }
    .mt25 {
        margin-top: 25%;
    }
    .mt26 {
        margin-top: 26%;
    }
    .mt27 {
        margin-top: 27%;
    }
    .mt28 {
        margin-top: 28%;
    }
    .mt29 {
        margin-top: 29%;
    }
    .mt30 {
        margin-top: 30%;
    }
    /*Margin-Top In PX*/
    .mt0px {
        margin-top: 0px;
    }
    .mt1px {
        margin-top: 1px;
    }
    .mt2px {
        margin-top: 2px;
    }
    .mt3px {
        margin-top: 3px;
    }
    .mt4px {
        margin-top: 4px;
    }
    .mt5px {
        margin-top: 5px;
    }
    .mt6px {
        margin-top: 6px;
    }
    .mt7px {
        margin-top: 7px;
    }
    .mt8px {
        margin-top: 8px;
    }
    .mt9px {
        margin-top: 9px;
    }
    .mt10px {
        margin-top: 10px;
    }
    .mt11px {
        margin-top: 11px;
    }
    .mt12px {
        margin-top: 12px;
    }
    .mt13px {
        margin-top: 13px;
    }
    .mt14px {
        margin-top: 14px;
    }
    .mt15px {
        margin-top: 15px;
    }
    .mt16px {
        margin-top: 16px;
    }
    .mt17px {
        margin-top: 17px;
    }
    .mt18px {
        margin-top: 18px;
    }
    .mt19px {
        margin-top: 19px;
    }
    .mt20px {
        margin-top: 20px;
    }
    .mt21px {
        margin-top: 21px;
    }
    .mt22px {
        margin-top: 22px;
    }
    .mt23px {
        margin-top: 23px;
    }
    .mt24px {
        margin-top: 24px;
    }
    .mt25px {
        margin-top: 25px;
    }
    .mt26px {
        margin-top: 27px;
    }
    .mt28px {
        margin-top: 28px;
    }
    .mt29px {
        margin-top: 29px;
    }
    .mt30px {
        margin-top: 30px;
    }
    .mt31px {
        margin-top: 31px;
    }
    .mt32px {
        margin-top: 32px;
    }
    .mt33px {
        margin-top: 33px;
    }
    .mt34px {
        margin-top: 34px;
    }
    .mt35px {
        margin-top: 36px;
    }
    .mt36px {
        margin-top: 36px;
    }
    .mt37px {
        margin-top: 37px;
    }
    .mt38px {
        margin-top: 38px;
    }
    .mt39px {
        margin-top: 39px;
    }
    .mt40px {
        margin-top: 40px;
    }
    .mt41px {
        margin-top: 41px;
    }
    .mt42px {
        margin-top: 42px;
    }
    .mt43px {
        margin-top: 43px;
    }
    .mt44px {
        margin-top: 44px;
    }
    .mt45px {
        margin-top: 45px;
    }
    .mt46px {
        margin-top: 46px;
    }
    .mt47px {
        margin-top: 47px;
    }
    .mt48px {
        margin-top: 48px;
    }
    .mt49px {
        margin-top: 49px;
    }
    .mt50px {
        margin-top: 50px;
    }
    /*Margin-bottom in PX*/
    .mb0px {
        margin-bottom: 0px;
    }
    .mb1px {
        margin-bottom: 1px;
    }
    .mb2px {
        margin-bottom: 2px;
    }
    .mb3px {
        margin-bottom: 3px;
    }
    .mb4px {
        margin-bottom: 4px;
    }
    .mb5px {
        margin-bottom: 5px;
    }
    .mb6px {
        margin-bottom: 6px;
    }
    .mb7px {
        margin-bottom: 7px;
    }
    .mb8px {
        margin-bottom: 8px;
    }
    .mb9px {
        margin-bottom: 9px;
    }
    .mb10px {
        margin-bottom: 10px;
    }
    .mb11px {
        margin-bottom: 11px;
    }
    .mb12px {
        margin-bottom: 12px;
    }
    .mb13px {
        margin-bottom: 13px;
    }
    .mb14px {
        margin-bottom: 14px;
    }
    .mb15px {
        margin-bottom: 15px;
    }
    .mb16px {
        margin-bottom: 16px;
    }
    .mb17px {
        margin-bottom: 17px;
    }
    .mb18px {
        margin-bottom: 18px;
    }
    .mb19px {
        margin-bottom: 19px;
    }
    .mb20px {
        margin-bottom: 20px;
    }
    .mb21px {
        margin-bottom: 22px;
    }
    .mb22px {
        margin-bottom: 22px;
    }
    .mb23px {
        margin-bottom: 23px;
    }
    .mb24px {
        margin-bottom: 24px;
    }
    .mb25px {
        margin-bottom: 25px;
    }
    .mb26px {
        margin-bottom: 26px;
    }
    .mb27px {
        margin-bottom: 27px;
    }
    .mb28px {
        margin-bottom: 28px;
    }
    .mb29px {
        margin-bottom: 29px;
    }
    .mb30px {
        margin-bottom: 30px;
    }
    .mb31px {
        margin-bottom: 31px;
    }
    .mb32px {
        margin-bottom: 32px;
    }
    .mb33px {
        margin-bottom: 33px;
    }
    .mb34px {
        margin-bottom: 34px;
    }
    .mb35px {
        margin-bottom: 35px;
    }
    .mb36px {
        margin-bottom: 36px;
    }
    .mb37px {
        margin-bottom: 37px;
    }
    .mb38px {
        margin-bottom: 38px;
    }
    .mb39px {
        margin-bottom: 39px;
    }
    .mb40px {
        margin-bottom: 40px;
    }
    .mb41px {
        margin-bottom: 41px;
    }
    .mb42px {
        margin-bottom: 42px;
    }
    .mb43px {
        margin-bottom: 43px;
    }
    .mb44px {
        margin-bottom: 44px;
    }
    .mb45px {
        margin-bottom: 45px;
    }
    .mb46px {
        margin-bottom: 46px;
    }
    .mb47px {
        margin-bottom: 47px;
    }
    .mb48px {
        margin-bottom: 48px;
    }
    .mb49px {
        margin-bottom: 49px;
    }
    .mb50px {
        margin-bottom: 50px;
    }
    /* Margin-Bottom in % */
    .mb0 {
        margin-bottom: 0%;
    }
    .mb1 {
        margin-bottom: 1%;
    }
    .mb2 {
        margin-bottom: 2%;
    }
    .mb3 {
        margin-bottom: 3%;
    }
    .mb4 {
        margin-bottom: 4%;
    }
    .mb5 {
        margin-bottom: 5%;
    }
    .mb6 {
        margin-bottom: 6%;
    }
    .mb7 {
        margin-bottom: 7%;
    }
    .mb8 {
        margin-bottom: 8%;
    }
    .mb9 {
        margin-bottom: 9%;
    }
    .mb10 {
        margin-bottom: 10%;
    }
    .mb11 {
        margin-bottom: 11%;
    }
    .mb12 {
        margin-bottom: 12%;
    }
    .mb13 {
        margin-bottom: 13%;
    }
    .mb14 {
        margin-bottom: 14%;
    }
    .mb15 {
        margin-bottom: 15%;
    }
    .mb16 {
        margin-bottom: 16%;
    }
    .mb17 {
        margin-bottom: 17%;
    }
    .mb18 {
        margin-bottom: 18%;
    }
    .mb19 {
        margin-bottom: 19%;
    }
    .mb20 {
        margin-bottom: 20%;
    }
    .mb21 {
        margin-bottom: 21%;
    }
    .mb22 {
        margin-bottom: 22%;
    }
    .mb23 {
        margin-bottom: 23%;
    }
    .mb24 {
        margin-bottom: 24%;
    }
    .mb25 {
        margin-bottom: 25%;
    }
    .mb26 {
        margin-bottom: 26%;
    }
    .mb27 {
        margin-bottom: 27%;
    }
    .mb28 {
        margin-bottom: 28%;
    }
    .mb29 {
        margin-bottom: 29%;
    }
    .mb30 {
        margin-bottom: 30%;
    }
    /* Padding with Px , Py */
    /*For Padding-left, padding-right [PX]*/
    .px-md0 {
        padding-left: 0;
        padding-right: 0;
    }
    .px-md1 {
        padding-left: 1px;
        padding-right: 1px;
    }
    .px-md2 {
        padding-left: 2px;
        padding-right: 2px;
    }
    .px-md3 {
        padding-left: 3px;
        padding-right: 3px;
    }
    .px-md4 {
        padding-left: 4px;
        padding-right: 4px;
    }
    .px-md5 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .px-md6 {
        padding-left: 6px;
        padding-right: 6px;
    }
    .px-md7 {
        padding-left: 7px;
        padding-right: 7px;
    }
    .px-md8 {
        padding-left: 8px;
        padding-right: 8px;
    }
    .px-md9 {
        padding-left: 9px;
        padding-right: 9px;
    }
    .px-md10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .px-md11 {
        padding-left: 11px;
        padding-right: 11px;
    }
    .px-md12 {
        padding-left: 12px;
        padding-right: 12px;
    }
    .px-md13 {
        padding-left: 13px;
        padding-right: 13px;
    }
    .px-md14 {
        padding-left: 14px;
        padding-right: 14px;
    }
    .px-sm15 {
        padding-left: 15px;
        padding-right: 15px;
    }
    /*For Padding-left, padding-right [PY]*/
    .py-md0 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .py-md1 {
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .py-md2 {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .py-md3 {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .py-md4 {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .py-md5 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .py-md6 {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .py-md7 {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .py-md8 {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .py-md9 {
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .py-md10 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .py-md11 {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .py-md12 {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .py-md13 {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .py-md14 {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .py-md15 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (min-width:1200px) {
    /*Font Size in PX*/
    .lg10 {
        font-size: 10px;
    }
    .lg11 {
        font-size: 11px;
    }
    .lg12 {
        font-size: 12px;
    }
    .lg13 {
        font-size: 13px;
    }
    .lg14 {
        font-size: 14px;
    }
    .lg15 {
        font-size: 15px;
    }
    .lg16 {
        font-size: 16px;
    }
    .lg17 {
        font-size: 17px;
    }
    .lg18 {
        font-size: 18px;
    }
    .lg19 {
        font-size: 19px;
    }
    .lg20 {
        font-size: 20px;
    }
    .lg21 {
        font-size: 21px;
    }
    .lg22 {
        font-size: 22px;
    }
    .lg23 {
        font-size: 23px;
    }
    .lg24 {
        font-size: 24px;
    }
    .lg25 {
        font-size: 25px;
    }
    .lg26 {
        font-size: 26px;
    }
    .lg27 {
        font-size: 27px;
    }
    .lg28 {
        font-size: 28px;
    }
    .lg29 {
        font-size: 29px;
    }
    .lg30 {
        font-size: 30px;
    }
    .lg31 {
        font-size: 31px;
    }
    .lg32 {
        font-size: 32px;
    }
    .lg33 {
        font-size: 33px;
    }
    .lg34 {
        font-size: 34px;
    }
    .lg35 {
        font-size: 35px;
    }
    .lg36 {
        font-size: 36px;
    }
    .lg37 {
        font-size: 37px;
    }
    .lg38 {
        font-size: 38px;
    }
    .lg39 {
        font-size: 39px;
    }
    .lg40 {
        font-size: 40px;
    }
    .lg41 {
        font-size: 41px;
    }
    .lg42 {
        font-size: 42px;
    }
    .lg43 {
        font-size: 43px;
    }
    .lg44 {
        font-size: 44px;
    }
    .lg45 {
        font-size: 45px;
    }
    .lg46 {
        font-size: 46px;
    }
    .lg47 {
        font-size: 47px;
    }
    .lg48 {
        font-size: 48px;
    }
    .lg49 {
        font-size: 49px;
    }
    .lg50 {
        font-size: 50px;
    }
    /* Margin_top in % */
    .lgmt1 {
        margin-top: 1%;
    }
    .lgmt2 {
        margin-top: 2%;
    }
    .lgmt3 {
        margin-top: 3%;
    }
    .lgmt4 {
        margin-top: 4%;
    }
    .lgmt5 {
        margin-top: 5%;
    }
    .lgmt6 {
        margin-top: 6%;
    }
    .lgmt7 {
        margin-top: 7%;
    }
    .lgmt8 {
        margin-top: 8%;
    }
    .lgmt9 {
        margin-top: 9%;
    }
    .lgmt10 {
        margin-top: 10%;
    }
    .lgmt11 {
        margin-top: 11%;
    }
    .lgmt12 {
        margin-top: 12%;
    }
    .lgmt13 {
        margin-top: 13%;
    }
    .lgmt14 {
        margin-top: 14%;
    }
    .lgmt15 {
        margin-top: 15%;
    }
    .lgmt16 {
        margin-top: 16%;
    }
    .lgmt17 {
        margin-top: 17%;
    }
    .lgmt18 {
        margin-top: 18%;
    }
    .lgmt19 {
        margin-top: 19%;
    }
    .lgmt20 {
        margin-top: 20%;
    }
    /* margin_top in Px */
    .lgmt1px {
        margin-top: 1px;
    }
    .lgmt2px {
        margin-top: 2px;
    }
    .lgmt3px {
        margin-top: 3px;
    }
    .lgmt4px {
        margin-top: 4px;
    }
    .lgmt5px {
        margin-top: 5px;
    }
    .lgmt6px {
        margin-top: 6px;
    }
    .lgmt7px {
        margin-top: 7px;
    }
    .lgmt8px {
        margin-top: 8px;
    }
    .lgmt9px {
        margin-top: 9px;
    }
    .lgmt10px {
        margin-top: 10px;
    }
    .lgmt11px {
        margin-top: 11px;
    }
    .lgmt12px {
        margin-top: 12px;
    }
    .lgmt13px {
        margin-top: 13px;
    }
    .lgmt14px {
        margin-top: 14px;
    }
    .lgmt15px {
        margin-top: 15px;
    }
    .lgmt16px {
        margin-top: 16px;
    }
    .lgmt17px {
        margin-top: 17px;
    }
    .lgmt18px {
        margin-top: 18px;
    }
    .lgmt19px {
        margin-top: 19px;
    }
    .lgmt20px {
        margin-top: 20px;
    }
    .lgmt21px {
        margin-top: 21px;
    }
    .lgmt22px {
        margin-top: 22px;
    }
    .lgmt23px {
        margin-top: 23px;
    }
    .lgmt24px {
        margin-top: 24px;
    }
    .lgmt25px {
        margin-top: 25px;
    }
    .lgmt26px {
        margin-top: 26px;
    }
    .lgmt27px {
        margin-top: 27px;
    }
    .lgmt28px {
        margin-top: 28px;
    }
    .lgmt29px {
        margin-top: 29px;
    }
    .lgmt30px {
        margin-top: 30px;
    }
    .lgmt31px {
        margin-top: 31px;
    }
    .lgmt32px {
        margin-top: 32px;
    }
    .lgmt33px {
        margin-top: 33px;
    }
    .lgmt34px {
        margin-top: 34px;
    }
    .lgmt35px {
        margin-top: 35px;
    }
    .lgmt36px {
        margin-top: 36px;
    }
    .lgmt37px {
        margin-top: 37px;
    }
    .lgmt38px {
        margin-top: 38px;
    }
    .lgmt39px {
        margin-top: 39px;
    }
    .lgmt40px {
        margin-top: 40px;
    }
    .lgmt41px {
        margin-top: 41px;
    }
    .lgmt42px {
        margin-top: 42px;
    }
    .lgmt43px {
        margin-top: 43px;
    }
    .lgmt44px {
        margin-top: 44px;
    }
    .lgmt45px {
        margin-top: 45px;
    }
    .lgmt46px {
        margin-top: 46px;
    }
    .lgmt47px {
        margin-top: 47px;
    }
    .lgmt48px {
        margin-top: 48px;
    }
    .lgmt49px {
        margin-top: 49px;
    }
    .lgmt50px {
        margin-top: 50px;
    }
    /* Margin_bottom in % */
    .lgmb1 {
        margin-bottom: 1%;
    }
    .lgmb2 {
        margin-bottom: 2%;
    }
    .lgmb3 {
        margin-bottom: 3%;
    }
    .lgmb4 {
        margin-bottom: 4%;
    }
    .lgmb4 {
        margin-bottom: 4%;
    }
    .lgmb5 {
        margin-bottom: 5%;
    }
    .lgmb6 {
        margin-bottom: 6%;
    }
    .lgmb7 {
        margin-bottom: 7%;
    }
    .lgmb8 {
        margin-bottom: 8%;
    }
    .lgmb9 {
        margin-bottom: 9%;
    }
    .lgmb10 {
        margin-bottom: 10%;
    }
    .lgmb11 {
        margin-bottom: 11%;
    }
    .lgmb12 {
        margin-bottom: 12%;
    }
    .lgmb13 {
        margin-bottom: 13%;
    }
    .lgmb14 {
        margin-bottom: 14%;
    }
    .lgmb15 {
        margin-bottom: 15%;
    }
    .lgmb16 {
        margin-bottom: 16%;
    }
    .lgmb17 {
        margin-bottom: 17%;
    }
    .lgmb18 {
        margin-bottom: 18%;
    }
    .lgmb19 {
        margin-bottom: 19%;
    }
    .lgmb20 {
        margin-bottom: 20%;
    }
    /* Margin_Bottom in PX */
    .lgmb1px {
        margin-bottom: 1px;
    }
    .lgmb2px {
        margin-bottom: 2px;
    }
    .lgmb3px {
        margin-bottom: 3px;
    }
    .lgmb4px {
        margin-bottom: 4px;
    }
    .lgmb5px {
        margin-bottom: 5px;
    }
    .lgmb6px {
        margin-bottom: 6px;
    }
    .lgmb7px {
        margin-bottom: 7px;
    }
    .lgmb8px {
        margin-bottom: 8px;
    }
    .lgmb9px {
        margin-bottom: 9px;
    }
    .lgmb10px {
        margin-bottom: 10px;
    }
    .lgmb11px {
        margin-bottom: 11px;
    }
    .lgmb12px {
        margin-bottom: 12px;
    }
    .lgmb13px {
        margin-bottom: 13px;
    }
    .lgmb14px {
        margin-bottom: 14px;
    }
    .lgmb15px {
        margin-bottom: 15px;
    }
    .lgmb16px {
        margin-bottom: 16px;
    }
    .lgmb17px {
        margin-bottom: 17px;
    }
    .lgmb18px {
        margin-bottom: 18px;
    }
    .lgmb19px {
        margin-bottom: 19px;
    }
    .lgmb20px {
        margin-bottom: 20px;
    }
    .lgmb21px {
        margin-bottom: 21px;
    }
    .lgmb22px {
        margin-bottom: 22px;
    }
    .lgmb23px {
        margin-bottom: 23px;
    }
    .lgmb24px {
        margin-bottom: 24px;
    }
    .lgmb25px {
        margin-bottom: 25px;
    }
    .lgmb26px {
        margin-bottom: 26px;
    }
    .lgmb27px {
        margin-bottom: 27px;
    }
    .lgmb28px {
        margin-bottom: 28px;
    }
    .lgmb29px {
        margin-bottom: 29px;
    }
    .lgmb30px {
        margin-bottom: 30px;
    }
    .lgmb31px {
        margin-bottom: 31px;
    }
    .lgmb32px {
        margin-bottom: 32px;
    }
    .lgmb33px {
        margin-bottom: 33px;
    }
    .lgmb34px {
        margin-bottom: 34px;
    }
    .lgmb35px {
        margin-bottom: 35px;
    }
    .lgmb36px {
        margin-bottom: 36px;
    }
    .lgmb37px {
        margin-bottom: 37px;
    }
    .lgmb38px {
        margin-bottom: 38px;
    }
    .lgmb39px {
        margin-bottom: 39px;
    }
    .lgmb40px {
        margin-bottom: 40px;
    }
    .lgmb41px {
        margin-bottom: 41px;
    }
    .lgmb42px {
        margin-bottom: 42px;
    }
    .lgmb43px {
        margin-bottom: 43px;
    }
    .lgmb44px {
        margin-bottom: 44px;
    }
    .lgmb45px {
        margin-bottom: 45px;
    }
    .lgmb46px {
        margin-bottom: 46px;
    }
    .lgmb47px {
        margin-bottom: 47px;
    }
    .lgmb48px {
        margin-bottom: 48px;
    }
    .lgmb49px {
        margin-bottom: 49px;
    }
    .lgmb50px {
        margin-bottom: 50px;
    }
    /* Padding with Px , Py */
    /*For Padding-left, padding-right [PX]*/
    .px-lg0 {
        padding-left: 0;
        padding-right: 0;
    }
    .px-lg1 {
        padding-left: 1px;
        padding-right: 1px;
    }
    .px-lg2 {
        padding-left: 2px;
        padding-right: 2px;
    }
    .px-lg3 {
        padding-left: 3px;
        padding-right: 3px;
    }
    .px-lg4 {
        padding-left: 4px;
        padding-right: 4px;
    }
    .px-lg5 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .px-lg6 {
        padding-left: 6px;
        padding-right: 6px;
    }
    .px-lg7 {
        padding-left: 7px;
        padding-right: 7px;
    }
    .px-lg8 {
        padding-left: 8px;
        padding-right: 8px;
    }
    .px-lg9 {
        padding-left: 9px;
        padding-right: 9px;
    }
    .px-lg10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .px-lg11 {
        padding-left: 11px;
        padding-right: 11px;
    }
    .px-lg12 {
        padding-left: 12px;
        padding-right: 12px;
    }
    .px-lg13 {
        padding-left: 13px;
        padding-right: 13px;
    }
    .px-lg14 {
        padding-left: 14px;
        padding-right: 14px;
    }
    .px-lh15 {
        padding-left: 15px;
        padding-right: 15px;
    }
    /*For Padding-left, padding-right [PY]*/
    .py-lg0 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .py-lg1 {
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .py-lg2 {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .py-lg3 {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .py-lg4 {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .py-lg5 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .py-lg6 {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .py-lg7 {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .py-lg8 {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .py-lg9 {
        padding-left: 9px;
        padding-right: 9px;
    }
    .py-lg10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .py-lg11 {
        padding-left: 11px;
        padding-right: 11px;
    }
    .py-lg12 {
        padding-left: 12px;
        padding-right: 12px;
    }
    .py-lg13 {
        padding-left: 13px;
        padding-right: 13px;
    }
    .py-lg14 {
        padding-left: 14px;
        padding-right: 14px;
    }
    .py-lg15 {
        padding-left: 15px;
        padding-right: 15px;
    }
}