html {
	scroll-behavior: smooth;
}


body {
	font-family: 'Lexend', sans-serif;
	color: #000000;
	font-size: 14px;
}

.cavet-font {
	font-family: 'Caveat', cursive;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #000000;
}

.cyan-clr {
	color: #48FFF4;
}

.blue-clr {
	color: #005AFF;
}

.orange-clr {
	color: #FFA829;
}

/* Header Section CSS */
.header-section {
	background: #0e0a3b url(../images/header-bg.webp);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 30px 0px 30px 0px;
}

.preheadline {
	display: inline-block;
	padding: 15px;
	background: #04173E;
	backdrop-filter: blur(200px);
	border-radius: 0px 0px 20px 20px;
}

.header-wrap {
	padding: 0px 0px 15px 0px;
	background: rgba(11, 28, 55, 0.2);
	backdrop-filter: blur(3px);
	border-radius: 15px;
	border: solid 1px #2561BD;
	max-width: 95%;
	margin: 20px auto 0px auto;
}

@media(min-width:768px) {
	.header-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}

	.header-section {
		background: #030331 url(../images/header-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding: 40px 0px 100px 0px;
	}

	.preheadline {
		padding: 30px 24px;
		display: inline-block;
	}
}

@media(min-width:1600px) {
	.header-wrap {
		max-width: 85%;
	}
}


.probtn1 a {
	transition: all .3s ease;
	border-radius: 15px;
	background: #FFA829;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	width: 100%;
	font-size: 24px;
	line-height: 140%;
}

.probtn1 a:hover {
	transition: all .3s ease;
	background: #ee9615;
}

@media (min-width:768px) {
	.probtn1 a {
		font-size: 38px;
		padding: 28px 60px;
		display: inline-block;
		width: auto;
		border-radius: 100px;
	}
}

.second-section {
	padding: 30px 0px;
	background: #ffffff;
}

.feature-list {
	padding: 15px;
	margin-top: 30px;
	list-style-type: none;
	min-height: 100px;
	box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
	background-color: #fff;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 15px;
}

@media(min-width:768px) {
	.second-section {
		padding: 100px 0px;
	}
}


.proudly-shape {
	display: inline-block;
	padding: 5px 30px 5px 30px;
	position: relative;
	z-index: 1;
	background: #04173E;
	border-radius: 60px;
	align-items: center;
	font-family: 'Caveat', cursive;
	margin-top: -56px;
}

.proudly-sec {
	background: url(../images/proudly-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 60px 0px 30px 0px;
}

.proudly-inner-sec {
	padding: 15px 5px;
	background: rgba(11, 28, 55, 0.4);
	backdrop-filter: blur(5px);
	border-radius: 15px;
	max-width: 95%;
	margin: 0px auto;
}

@media (min-width: 768px) {
	.proudly-sec {
		padding: 150px 0px 100px 0px;
	}

	.proudly-inner-sec {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
	}

	.proudly-shape {
		padding: 10px 90px 10px 90px;
		margin-top: -150px;
	}
}

@media(min-width:1600px) {
	.proudly-inner-sec {
		max-width: 85%;
	}
}


.white-section {
	background: #fff;
	padding: 30px 0;
}

.grey-section {
	background: #F4F6FD;
	padding: 30px 0;
}

.features-title {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	gap: 15px;
}

.features-title .size {
	max-height: 100px;
}

@media (min-width: 768px) {

	.white-section,
	.grey-section {
		padding: 100px 0px;
	}
}


.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.moneyback-section {
    padding: 30px 0;
    background: #062D69 url(../images/prize-value.webp) no-repeat center center;
    background-size: cover;
    backdrop-filter: blur(5px);
}

@media (min-width: 768px) {
	.moneyback-section {
        padding: 100px 0;
	}
}


.bonus-section {
	background: #F4F6FD;
	background-size: cover;
	padding: 30px 0;
}

@media (min-width: 768px) {
	.bonus-section {
		background: url(../images/bonus-bg.webp) no-repeat center bottom;
		background-size: cover;
		padding: 70px 0px 100px 0px;
	}
}


/*Table CSS Start*/
.table-section {
	background: #ffffff;
	padding: 30px 0;
}

.tablebox2 ul {
	padding-left: 0;
	color: #010101;
}

.tablebox2 {
	background: #ffffff;
	width: 100%;
	float: left;
	border-radius: 10px;
	box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.tablebox3 ul {
	padding-left: 0;
	color: #010101;
}

.tablebox3 {
	width: 100%;
	float: left;
	border-radius: 10px;
	box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
	position: relative;
}

ul.vgreytick {
	padding: 0px;
	margin: 0;
}

ul.vgreytick li {
	background: url(../images/table-tick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position:10px 19px;
	line-height: 150%;
	text-transform: capitalize;
}

ul.vgreytick li:nth-child(odd) {
	background-color: #F4F6FD;
}

ul.vgreytick li:nth-child(even) {
	background-color: #ffffff;
}

ul.vgreytick li:last-child {
	border-bottom: 0px;
}

ul.grey-tick-last {
	padding: 0px;
	margin: 0;
}

ul.grey-tick-last li {
	background: url(../images/table-tick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	color: #000;
	background-position:10px 19px;
	line-height: 150%;
	text-transform: capitalize;
}

ul.grey-tick-last li:nth-child(odd) {
	background-color: #F4F6FD;
}

ul.grey-tick-last li:nth-child(even) {
	background-color: #fff;
}

ul.grey-tick-last li:last-child {
	border-bottom: 0px;
}

.tbbg2 {
	background-color: #fff;
	padding: 50px 30px 50px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}

.tbbg3 {
	background:#062D69;
	padding:50px 30px 50px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}

.myfeatureslast {
	float: left;
	padding: 0px 30px 30px;
	width: 100%;
	min-height: 69px;
	background: #ffffff;
	border-radius: 0px 0px 10px 10px;
}

.myfeatureslast-com {
	float: left;
	padding: 30px;
	width: 100%;
	border-radius: 0px 0px 10px 10px;
	min-height: 69px;
	background: #ffffff;
}

@media (min-width: 768px) {
	.table-section {
		padding: 70px 0 100px 0px;
		background: url(../images/table-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.tbbg3 {
		padding: 50px 30px 50px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}

	.tbbg2 {
		padding: 50px 30px 50px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}

	ul.vgreytick li {
		padding: 20px 15px 20px 65px;
		background-position:20px 22px;
	}

	ul.grey-tick-last li {
		padding: 20px 15px 20px 65px;
		background-position:20px 22px;
	}

	.myfeatureslast {
		padding: 0px 20px 30px;
	}
}


/*Table CSS Enad*/


.footer-section {
	background: #000000;
	padding: 30px 0;
}

.footer-ul {
	padding: 0
}

.footer-ul li {
	display: inline;
	line-height: 130%;
}

.footer-ul li:hover a {
	color: #fff;
}

@media(min-width:768px) {
	.footer-section {
		padding: 50px 0px;
	}

	.footer-ul li {
		display: inline;
		line-height: normal;
	}

}

a.nothank {
	color: #005AFF;
	text-decoration: none;
}