html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #121733;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
}
.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
.orange-clr{color:#ff7c25}
.orange-gradient {
    background: var(--SitesSmartAi, linear-gradient(90deg, #FF992E 0%, #DA1467 99.99%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Proudly there Section Start */

.header-sec {
    background: #001243;
    padding: 30px 0px;
    position: relative;
}
.uy {
    background: url(../images/rewind-bg.png) no-repeat center center;
    padding: 30px 15px;
    border-radius: 25px;
}
.gn-box {
    background: url(../images/gn-box-bg.png) no-repeat center center;
    color: #000;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 5px;
    background-size: 100% 100%;
}
.tde {
    border-bottom: 2px solid #fff;
    padding: 0px 0px;
    border-top: 2px solid #fff;
    display: inline-flex;
}
.d-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -webkit-linear-gradient( 64deg, #FF992E 0%, #DA1467 100%);
    backdrop-filter: blur(10px);

    font-size: 24px;
}
.d-btn a:hover {
    text-decoration: none;
    background-image: -webkit-linear-gradient( 64deg, #DA1467 0%, #FF992E 100%);
}
.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #000000;
    background: #ffffff;
    display: inline-block;
    text-transform: uppercase;
}
.bonus-title-black-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #000000;
    display: inline-block;
    text-transform: uppercase;
}
.highlight-bg{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: aliceblue;
    box-shadow: 0px 0px 19.8px 2.2px rgb(106 105 105);
}
    .head-design {
        background: #FFFFFF;
        padding: 15px;
    }
    .gametext {
        background: #F19B10;
        padding: 5px 29px 5px 15px;
        display: inline-flex;
        justify-content: center;
        color: #fff;
        font-weight: 700;
        font-size: 22px;
        position: absolute;
        top: -42px;
        z-index: 99;
        line-height: 32px;
        left: 0px;
        border-radius: 0px 150px 0px 0px;
        background: #F19B10
    }
    .underline-text {
        background: url(../images/underline-orange.webp) no-repeat center center;
        padding: 0px 0px 35px 0px;
        background-size: contain;
    }
    .post-heading {
        background: #FFCD00;
        text-align: center;
        padding: 10px;
    }
    .head-yellow {
        display: inline-block;
        background: url(../images/yellow-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 10px 30px;
    }
@media (min-width: 768px) {
    .header-sec {
        background: #000 url(../images/proudlybg.webp) center bottom no-repeat;
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
    }
    .highlight-bg{
        padding: 30px 50px ;
    }
    .head-design {
        padding: 30px;
    background: url(../images/headline-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    }
    .gametext {
        font-size: 22px;
    }
    .underline-text {
        padding: 0px 0px 65px 0px;
    }
    .post-heading {
        padding: 15px 60px;
        background: url(../images/yellow-brush.webp) no-repeat center center;
    }
    .head-yellow {
        padding: 10px 50px;
    }
}

/**************Footer Section***********/
.footer-section {
    background: #000;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}
@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}
.option-design {
    background: #362a65;
    border: 2px solid #392a68;
    border-radius: 10px;
    display: inline-block;
    padding: 8px 10px;
}
@media(min-width:768px){
    .option-design {
        padding: 8px 30px;
    }
}
/* Floating Btn */

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#7764ff;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#E76D24;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
