html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}
/* --- Global Css Start--- */
.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
	border-radius: 5px;
}
.white-clr {
	color: #fff;
}

.black-clr {
	color: #000000;
}
.orange-clr {
	color: #f6841f;
}
.red-clr{
	color: #FF2C2C;
}
.yellow-clr{color:#ffc332;}
.blue-clr,
a.blue-clr {
	color: #182d5a;
	text-decoration: none;
}
.neon-clr{
    color: #00CBE3;
}
.purple-clr {
    color: #b052ff;
}
.one-time-shape {
	background: #6e44ff;
	border-radius: 40px;
	padding: 9px 40px;
	display: inline-block;
	font-family: 'Caveat', cursive;
}
.bonus-shape {
	background: #6e44ff;
	border-radius: 40px;
	padding: 9px 40px;
	display: inline-block;
}
.img-animation {
	animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes mover2 {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}
@media (min-width: 767px){
	.one-time-shape {
		padding: 15px 60px;
		border-radius: 50px;
	}
}
/* --- Global Css End --- */
/* ---- Header Section Start ----- */
@media(max-width:767px){
    /* .mainheadline:before {
        background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
        position: absolute;
        content: '';
        padding: 5px 10px;
        left: 13px;
        z-index: 99;
        top: 1px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        position: absolute;
        border-radius: 20px 0 0 0;
    } */
    .proudly-head{
        display: inline-block;
        background: transparent;
        padding: 15px 15px;
        border-radius: 48px;
        border: 1px solid #B956FF;
    }
	.preheadline{
		display: inline-block;
		background:transparent;
		padding:15px ;
		border-radius: 10px;
		border: 1px solid #B956FF;
	}
}
.header-section {
	background: #0d0238;
	padding: 30px 0px;
}

.preheadline > span {
    background-color: transparent;
    text-align: justify;
    padding: 0;
    border-radius: 0;
}
.mainheadline {
    display: inline-block;
    border-radius: 40px;
    background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
    padding:1px ;
    border-radius: 18px;
}
.mainheadline-second {
    display: inline-block;
    border-radius: 40px;
    background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
    padding:1px ;
    border-radius: 18px;
}
.mainheadline-second > div {
    background-color: #150a41;
    padding: 15px 12px 15px;
    border-radius: 20px;
}
.mainheadline > div {
    background-color: #150a41;
    padding: 15px 12px 15px;
    border-radius: 20px;
}
@media (min-width: 768px) {
	.header-section {
		background: #fff url(https://cdn.dotcompaltest.com/uploads/launches/mavas/agency/header-bg.webp);
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: cover;
		padding: 40px 0px 120px;
	}
	.mainheadline {
        padding: 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/agency/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 90px 15px 50px 15px;
    }
	.mainheadline-second > div {
		background: none;
		padding: 15px 12px 15px;
		border-radius: 20px;
	}
	.mainheadline-second {
        padding: 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/agency/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 90px 15px 50px 15px;
    }
    .mainheadline > div {
        background-color: transparent;
        padding: 0px 15px;
        border-radius: 0px;
    }
    .mainheadline:before {
        position: absolute;
        content: '';
        padding:0px 40px;
        left: 48px;
        z-index: 99;
        top: 15px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        position: absolute;
    }
	.proudly-head {
        background:  url(https://cdn.dotcompaltest.com/uploads/launches/mavas/agency/proudly-head.webp ) center bottom no-repeat;
        border-radius: 40px;
        padding: 35px 85px;
        display: inline-block;
        font-family: 'Kalam', cursive;
    }
    .preheadline{
        display: inline-block;
        border-radius: 40px;
        background-image: linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
        padding:18px 2px 16px ;
        border-radius: 48px;
    
    }
    .preheadline > span {
        background-color: #150a41;
        text-align: justify;
        padding: 15px 25px;
        border-radius: 48px;
    }
}
/* ---- Header Section End ----- */
/* ---- Second Section Start ----- */
.second-section {
	padding: 30px 0px;
	background: #ffffff;
}
.probtn1 a {
	border-radius: 15px;
	background: linear-gradient(to right, #B956FF 0%, #6E33FF 100%);;
    backdrop-filter: blur(10px);
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 140%;
}
.probtn1 a:hover {
    transition: all .3s ease;
    background:  linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
}
@media (min-width: 768px) {
	.second-section {
		padding: 100px 0 80px;
		background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/agency/second-sec-bg.webp) no-repeat center center;
	}
	/* .header-list-block {
		padding: 40px 30px;
	} */
	.probtn1 a {
		font-size: 35px;
		padding: 28px 30px;
	}
}
/* ---- Second Section End ----- */
/* ---- Proudly Section Start ----- */
.proudly-section {
	background:#0d0238;
	background-size: cover;
	padding:30px 0;
}

@media (min-width: 768px){
	.proudly-section {
		padding: 100px 0px;
		background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/agency/proudly-bg.webp) no-repeat bottom center;
		background-size: cover;
	}
	
}
/* ---- Proudly Section End ----- */
/* ---- Feature Section Start ----- */
.white-section {
	background: #fff;
	padding: 30px 0;
}
.grey-section {
	background: #EFEFF9;
	padding: 30px 0;
}
@media (min-width: 768px) {
	.white-section {
		padding: 100px 0px;
	}
	.grey-section {
		padding: 100px 0px;
	}
}
/* ---- Feature Section End  ----- */
/* ---- Money Back Gurantee Section Start ----- */
.moneyback-section {
	background: #0d0238 ;
	background-position: center center;
	background-size: cover;
	padding: 30px 0 30px;
	
}
@media (min-width: 768px) {
	.moneyback-section {
		padding: 70px 0px;
		background: #02040f url(https://cdn.dotcompaltest.com/uploads/launches/mavas/agency/moneyback-bg.webp) no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
/* ---- Money Back Gurantee Section End ----- */
/* ---- Bonus Section Start ----- */
.bonus-section {
	background: url(https://cdn.oppyo.com/launches/yodrive/agency/bonus-bg.webp) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}
@media (min-width: 768px) {
	.bonus-section {
		padding: 70px 0px;
	}
}
/* ---- Bonus Section End ----- */
/* ---- Table Section Start ----- */
.table-section {
	background: #ffffff;
	padding: 30px 0;
}
.tablebox2 {
	background: #ffffff;
	width: 100%;
	float: left;
	border-radius: 10px;
	border: solid 1px #a2a1a3;
}
.tbbg2 {
	background-color: #fff;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}
ul.vgreytick {
	padding: 0px;
	margin: 0;
}
ul.vgreytick li {
	background: url(https://cdn.oppyo.com/launches/yodrive/agency/vgreytick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
}
ul.vgreytick li:nth-child(odd) {
	background-color: #EFEFF9;
}
ul.vgreytick li:nth-child(even) {
	background-color: #ffffff;
}
.myfeatureslast {
	float: left;
	padding:30px;
	width: 100%;
	min-height: 69px;
	background: #ffffff;
	border-radius: 0px 0px 10px 10px;
}
.tablebox3 {
	width: 100%;
	float: left;
	border-radius: 10px;
	box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
	position: relative;
	border: solid 1px #0d0238;
}
.tablebox3:before {
	content: '';
	position: absolute;
	background: url(https://cdn.oppyo.com/launches/yodrive/agency/most-popular.webp) no-repeat left top;
	min-height: 165px;
	min-width: 153px;
	left: 0px;
	top: 0px;
}
.tbbg3 {
	background: #0d0238;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}
@media (min-width: 768px) {
	.table-section {
		padding: 100px 0px;
		background: url(https://cdn.oppyo.com/launches/yodrive/agency/pricing-table-bg.webp) no-repeat;
		background-position: center center;
	}
	.tbbg2 {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}
	ul.vgreytick li {
		padding: 20px 15px 20px 65px;
		background-position: 30px 25px;
	}
	.myfeatureslast {
		padding:30px;
	}
	.tbbg3 {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}
}
/* ---- Table Section End ----- */
/* ---- Footer Section Start ----- */
.footer-section {
	background: #05071A;
	padding: 30px 0;
}
.footer-ul {
	padding: 0;
}
.footer-ul li {
	display: inline;
	line-height: 130%;
}
.no-thanks a{
	color: #182d5a;
}
@media (min-width: 768px) {
	.footer-section {
		padding: 50px 0px;
	}
	.footer-ul li {
		display: inline;
		line-height: normal;
	}
}
.header-list-block {
    background-color: #fff;
    border: 2px solid #6E33FF;
    border-radius: 20px;
    padding: 30px 30px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
}
/* ---- Footer Section End ----- */
