@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.font-weight500{
	font-weight: 500 !important;
}
.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.mt40{
	margin-top: 40px;
}
.mt50{
	margin-top: 50px;
}
.mt60{
	margin-top: 60px;
}
.mt70{
	margin-top: 70px;
}
.mt80{
	margin-top: 80px;
}
.mt90{
	margin-top: 90px;
}
.mt100{
	margin-top: 100px;
}
.mb20{
	margin-bottom: 20px;
}
.mb30{
	margin-bottom: 30px;
}
.pt20{
	padding-top: 20px;
}
.pt30{
	padding-top: 30px;
}
.pt50{
	padding-top: 50px;
}
.pt70{
	padding-top: 70px;
}
.pt100 {
	padding-top: 100px;
}
.pb50{
	padding-bottom: 50px;
}
.pb100{
	padding-bottom: 100px;
}


.lg16{
	font-size: 16px;
}
.lg18{
	font-size: 18px;
}
.lg20{
	font-size: 20px;
}
.lg22{
	font-size: 22px;
}
.lg24{
	font-size: 24px;
}
.lg26{
	font-size: 26px;
}
.lg28{
	font-size: 28px;
}
.lg30{
	font-size: 30px;
}
.lg32{
	font-size: 32px;
}
.lg34{
	font-size: 34px;
}
.lg36{
	font-size: 36px;
}
.lg38{
	font-size: 38px;
}
.lg40{
	font-size: 40px;
}
.lg42{
	font-size: 42px;
}
.lg44{
	font-size: 44px;
}
.lg46{
	font-size: 46px;
}
.lg48{
	font-size: 48px;
}
.lg50{
	font-size: 50px;
}
.lg52{
	font-size: 52px;
}
.lg54{
	font-size: 54px;
}
.lg56{
	font-size: 56px;
}
.lg58{
	font-size: 58px;
}
.lg60{
	font-size: 60px;
}
.lg62{
	font-size: 62px;
}



@media (max-width: 767px) {
	.xs10{
		font-size: 10px;
	}
	.xs11{
		font-size: 11px;
	}
	.xs12{
		font-size: 12px;
	}
	.xs13{
		font-size: 13px;
	}
	.xs14{
		font-size: 14px;
	}
	.xs15{
		font-size: 15px;
	}
	.xs16{
		font-size: 16px;
	}
	.xs18{
		font-size: 18px;
	}
	.xs20{
		font-size: 20px;
	}
	.xs22{
		font-size: 22px;
	}
	.xs24{
		font-size: 24px;
	}
	.xs26{
		font-size: 26px;
	}
	.xs28{
		font-size: 28px;
	}
	.xs30{
		font-size: 30px;
	}
	.xs32{
		font-size: 32px;
	}
	.xs34{
		font-size: 34px;
	}
	.xs36{
		font-size: 36px;
	}
	.xs38{
		font-size: 38px;
	}
	.xs40{
		font-size: 40px;
	}
	.xs42{
		font-size: 42px;
	}
	.xs44{
		font-size: 44px;
	}
	.xs46{
		font-size: 46px;
	}
	.xs48{
		font-size: 48px;
	}
	.xs50{
		font-size: 50px;
	}
	.xs52{
		font-size: 52px;
	}
	.xs54{
		font-size: 54px;
	}
	.xs56{
		font-size: 56px;
	}
	.xs58{
		font-size: 58px;
	}
	.xs60{
		font-size: 60px;
	}
	.xs62{
		font-size: 62px;
	}
	.xsmt10{
		margin-top: 10px;
	}
	.xsmt20{
		margin-top: 20px;
	}
	.xsmt30{
		margin-top: 30px;
	}
	.xsmt40{
		margin-top: 40px;
	}
	.xsmt50{
		margin-top: 50px;
	}
	.xsmt60{
		margin-top: 60px;
	}
	.xsmt70{
		margin-top: 70px;
	}
	.xsmt80{
		margin-top: 80px;
	}
	.xsmt90{
		margin-top: 90px;
	}
	.xsmt100{
		margin-top: 100px;
	}
	.xspt0{
		padding-top: 0;
	}
	.xspt10{
		padding-top: 10px;
	}
	.xspt20{
		padding-top: 20px;
	}
	.xspt30{
		padding-top: 30px;
	}
	.xspt40{
		padding-top: 40px;
	}
	.xspt50{
		padding-top: 50px;
	}
	.xspt60{
		padding-top: 60px;
	}
	.xspt70{
		padding-top: 70px;
	}
	.xspt80{
		padding-top: 80px;
	}
	.xspt90{
		padding-top: 90px;
	}
	.xspt100{
		padding-top: 100px;
	}

	.xsmb0{
		margin-bottom: 0px;
	}
	.xsmb21{
		margin-bottom: 10px;
	}
	.xsmb20{
		margin-bottom: 20px;
	}
	.xsmb30{
		margin-bottom: 30px;
	}
	.xsmb40{
		margin-bottom: 40px;
	}
	.xsmb50{
		margin-bottom: 50px;
	}
	.xsmb70{
		margin-bottom: 70px;
	}
}



.color_orange{
	color: #ff4e0c;
}
.color_white{
	color: #fff;
}
.color_blue{
	color: #311b92;
}
.color_gray{
	color: #7a8795;
}
.color_yellow{
	color: #f9f904;
}
.color_red{
	color: #FF0045;
}
.btn_custom{
	background: #ff4e0c;
	padding: 10px 30px;
	font-size: 20px;
	border:none;
	box-shadow: 6px 6px 10px 0px rgba(255,78,12,0.65);
	border-radius: 10px;
	color: #fff;
	font-weight: 600;
	width: 100%;
	max-width: 400px;
}

.custom_btn {
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: #1C2454;
    color: #fff !important;
    border-radius: 20px;
    width: auto;
}
.bg_orange{
	color: #ffffff;
	padding: 0px 0px;

}

.bg_green{
	background: #f99b04;
	display: inline-block;
	padding: 0px 20px;
	color: #ffffff;
}
.bg_green span{
	display: inline-block;
}
.bg_blue{
	color: #ffffff;
}

.bg_yellow{
	background: #f9f904;
	display: inline-block;
	padding: 10px 20px;
}
.bg_yellow1{
	background: #f9f904;
	display: inline-block;
	padding: 10px 20px;
}
.bg_yellow2{
	background: #f9f904;
	padding: 10px 20px;
}
@media (min-width:768px){
	.bg_blue span{
		display: inline-block;
	}
	.bg_orange{
		background: #f93104;
		display: inline-block;
		padding: 0px 20px;
		transform: skewX(-20deg);
		color: #ffffff;
	}
	.bg_orange span{
		transform: skewX(20deg);
		display: inline-block;
	}
	.bg_green{
		background: #f99b04;
		display: inline-block;
		padding: 0px 20px;
		transform: skewX(-20deg);
		color: #ffffff;
	}
	.bg_green span{
		transform: skewX(20deg);
		display: inline-block;
	}
	.bg_blue{
		background: #4c11d4;
		display: inline-block;
		padding: 0px 20px;
		transform: skewX(-20deg);
		color: #ffffff;
	}
	.bg_blue span{
		transform: skewX(20deg);
		display: inline-block;
	}
	.bg_yellow{
		background: #f9f904;
		display: inline-block;
		padding: 10px 20px;
		color: #ffffff;
	}
	.bg_yellow1{
		background: #f9f904;
		display: inline-block;
		padding: 10px 20px;
	}
	.bg_yellow2{
		background: #f9f904;
		padding: 10px 20px;
	}
}
.cta-button .btn_custom_set a{
 color: #000;
 text-decoration: none;
}
.white-clr{
	color: #fff;
}
.btn_custom_set{
	display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 30px;
    border: none;
    background: -moz-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,29,0,1)), color-stop(100%, rgba(249,154,4,1)));
    background: -webkit-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%);
    background: -o-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%);
    background: -ms-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%);
    background: linear-gradient(93deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1d00', endColorstr='#f99a04',GradientType=1 );
	display: block;
}
.btn_custom_set span{
	font-size: 20px;
}
@media (min-width:768px){
	.btn_custom_set{
		padding: 8px 80px;
		border-radius: 100px;
		display: inline-block;

	}
	.btn_custom_set span{
		font-size: 22px;
	}
}


.btn_instant{
	box-shadow: 17px 17px 23px 0px rgba(49,27,146,0.8);
	background-color: #3da3ef;
	font-size: 60px;
	color: #fff;
	font-weight: bolder;
	border:none;
	border-radius: 10px;
}
.box_timer{
	background-image: url('../img/timer.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 300px;
	padding: 30px;
}
.box_timer svg{
	font-size: 90px;
}
.box_time h2{
	font-size: 60px;
	font-weight: lighter;
}

.hori_row{
	position: absolute;
	height: 10px;
	background-color: #F9F904;
	width: 50px;
	z-index: 100;
	right: -26px;
	top: 50px;
}
.hori_row1{
	position: absolute;
	height: 10px;
	background-color: #F9F904;
	width: 50px;
	z-index: 100;
	left: -26px;
	top: 50px;
}

.font_al{
	font-family: 'Alata', sans-serif;
}
.footer_content1{

	background-color: #01002E;
}
.box_btn{
	background-color: #FF1D48;
	padding: 10px 0;
}
.box_btn img{
	margin-top: -35px;
}
.box_btn ul{
	margin :0px;
	padding :0px;
}
.box_btn li{
	display: inline-block;
}
.box_btn li

#mainNav .navbar-nav li.nav-item a.nav-link{
	color: #000;
}
#mainNav img{
	width: 200px;
}
.offer-new {
    background-color: #FF1D48;
    padding: 15px 0;
}
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
@media (min-width: 768px){
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
}}
.home1 {
	background:#01002e;
	padding: 30px 0px;
}
@media (min-width: 768px){
	.home1 {
		background-image: url('../img/home1_1.png');
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
		padding: 50px 0px;
	}	
}
.home1 .header h1{
	font-family: 'Alata', sans-serif;
	font-weight: normal;
	text-align: center;
	line-height: normal;
}

.home1 h3{
	padding:10px;
	border-radius: 30px;
	background:rgb(55,49,171);
}

.home1 .content iframe{
	width: 100%;
	height: 300px;
}

.home1 .content table{
	width: 100%;
	border:none;
}
.home1 .content table tr{
	border:none;
}
.home1 .content table td{
	color: #fff;
	padding: 0px 10px;
	border:none;
}
.home1 .content table svg{
	color: #f5f904;
}
.home2 .item2{
	padding-top: 30px;
	padding-bottom: 30px;
	background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(118,108,106,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(118,108,106,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(118,108,106,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(118,108,106,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(118,108,106,1) 100%); /* ie10+ */
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(118,108,106,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#766C6A',GradientType=1 ); /* ie6-9 */
}
.home2 .item h2{
	max-width: 700px;
}
.home2 .item p{
	max-width: 700px;
}
.home2 .header button{
	margin-top: -120px;
}
.home2 .content h2{
	font-weight: bolder;
}

.home4{
	background-image: url('../img/home1_1.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.home5{
	background-color: #36185A;
}
.home6{
	background-image: url('../img/home5_1.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.home7{
	background-color: #000000;
}
.home9{
	background-image: url('../img/home1_1.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.home9 .content{
	background-color: #fff;
	border-radius: 30px;
}
.home9 .content ul{
	margin: 0;
	padding: 50px 20px;

}
.bg_gradent{
	height: 5px;
	max-width: 400px;
	margin: 0 auto;
	background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(220,44,88,1) 50%, rgba(255,255,255,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(220,44,88,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(220,44,88,1) 50%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(220,44,88,1) 50%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(220,44,88,1) 50%, rgba(255,255,255,1) 100%); /* ie10+ */
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(220,44,88,1) 50%, rgba(255,255,255,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
}
.home9 .content ul li{

	display: inline-block;
	width: 100%;
}

.copyright{
	background: #03002A;
}
.copyright ul{
	text-align: right;
}
.copyright ul li{
	display: inline-block;

	margin-right: 10px;
	margin-left: 10px;
}



#modal .modal-dialog{
    margin: 5rem auto 0;
}
#modal .modal-content{
    border-radius: 0px;
}
#modal .modal-header {
    background-color: #FF0056;
    border-radius: 0px;
}

#modal .modal-header h5{
    text-align: center;
    width: 100%;
    font-size: 80px;
    line-height: 40px;
    color: #fff;
}
#modal .modal-header h5 span{
    font-size: 40px;
}
#modal .modal-header .close{
    border-radius: 50%;
    padding: 5px 8px;
    background-color: #222222;
    opacity: 1;
    color: #fff; 
    margin:-30px -30px -1rem auto;
    border:2px solid #fff;
}
#modal .modal-body {
    padding: 1rem 1rem 2rem;
}
#modal .modal-body h2{
    text-align: center;
    font-size: 40px;
}

#modal .modal-body h3{
    text-align: center;
    font-size: 32px;
}
#modal .modal-body h3 span{
    color: #7512c0;
}

#modal .btn_custom{
    padding: 30px 50px;
}
.btn_custom_set1{
	background-color: #fccc00;
    color: #000;
    font-size: 38px;
    text-decoration: none;
    padding: 30px 50px;
    box-shadow: 7px 7px 14px 0px rgba(252,204,0,0.55);
    border-radius: 60px;
    font-weight: 700;
    transition: all 0.5s ease;
    display: inline-block;
    line-height: 26px;
}
.btn_custom_set1 span{
	font-size: 18px;
    font-weight: lighter;
}

@media (max-width: 676px) {
    #modal .modal-header h5{
        font-size: 40px;
    }
    #modal .modal-header h5 span
    {
        font-size: 20px;
    }
    #modal .modal-body h2{
        font-size: 22px;
    }
    #modal .modal-body h3{
        font-size: 18px;
    }
    #modal .btn_custom{
        padding: 20px 10px;
    }
    #modal .modal-dialog{
        margin:5rem 1rem 0;
    }
}



.riskfree-section {
    padding: 30px 0px;
    background: #101929;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
	color: #ffffff;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}
.px5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.f-28 {
    font-size: 28px;
}
.f-18 {
    font-size: 18px;
}
.lh140 {
    line-height: 140%;
}
.mt15 {
    margin-top: 15px !important;
}
.w600{
	font-weight: 600;
}
@media(min-width:768px) {
	.f-md-45 {
		font-size: 45px;
	}
	.f-md-20 {
		font-size: 20px;
	}
	.riskfree-section {
		padding: 100px 0px;
	}
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}


a.nothank{
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	margin-top: 40px;
	display: inline-block;

}

.cta-button {
    padding: 50px 0px;
    background-color: #091166;
}