body
{
	font-family: 'Montserrat', sans-serif !important;
	margin:0;
	padding:0;
	color:#282828;
}

@font-face
{
	font-family:'handsean';
	src:url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

p, h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif !important;
   margin:0;
   padding:0;
}

sup{top:-1em;}

.margin0{margin:0;}
.padding0{padding:0;}
.roboto{font-family: 'Roboto', sans-serif;}

/*<!--=============================================================-->*/
/*<!--==================== All Fonts in Pixel  ====================-->*/
/*<!--=============================================================-->*/

@media (min-width: 240px){.xs5{font-size:5px}.xs6{font-size:6px}.xs7{font-size:7px}.xs8{font-size:8px}.xs9{font-size:9px}.xs10{font-size:10px}.xs11{font-size:11px}.xs12{font-size:12px}.xs13{font-size:13px}.xs14{font-size:14px}.xs15{font-size:15px}.xs16{font-size:16px}.xs17{font-size:17px}.xs18{font-size:18px}.xs19{font-size:19px}.xs20{font-size:20px}.xs21{font-size:21px}.xs22{font-size:22px}.xs23{font-size:23px}.xs24{font-size:24px}.xs25{font-size:25px}.xs26{font-size:26px}.xs27{font-size:27px}.xs28{font-size:28px}.xs29{font-size:29px}.xs30{font-size:30px}.xs31{font-size:31px}.xs32{font-size:32px}.xs33{font-size:33px}.xs34{font-size:34px}.xs35{font-size:35px}.xs36{font-size:36px}.xs37{font-size:37px}.xs38{font-size:38px}.xs39{font-size:39px}.xs40{font-size:40px}.xs41{font-size:41px}.xs42{font-size:42px}.xs43{font-size:43px}.xs44{font-size:44px}.xs45{font-size:45px}}

@media (min-width: 768px){.sm0{font-size:0px}.sm1{font-size:1px}.sm2{font-size:2px}.sm3{font-size:3px}.sm4{font-size:4px}.sm5{font-size:5px}.sm6{font-size:6px}.sm7{font-size:7px}.sm8{font-size:8px}.sm9{font-size:9px}.sm10{font-size:10px}.sm11{font-size:11px}.sm12{font-size:12px}.sm13{font-size:13px}.sm14{font-size:14px}.sm15{font-size:15px}.sm16{font-size:16px}.sm17{font-size:17px}.sm18{font-size:18px}.sm19{font-size:19px}.sm20{font-size:20px}.sm21{font-size:21px}.sm22{font-size:22px}.sm23{font-size:23px}.sm24{font-size:24px}.sm25{font-size:25px}.sm26{font-size:26px}.sm27{font-size:27px}.sm28{font-size:28px}.sm29{font-size:29px}.sm30{font-size:30px}.sm31{font-size:31px}.sm32{font-size:32px}.sm33{font-size:33px}.sm34{font-size:34px}.sm35{font-size:35px}.sm36{font-size:36px}.sm37{font-size:37px}.sm38{font-size:38px}.sm39{font-size:39px}.sm40{font-size:40px}.sm41{font-size:41px}.sm42{font-size:42px}.sm43{font-size:43px}.sm44{font-size:44px}.sm45{font-size:45px}.sm46{font-size:46px}.sm47{font-size:47px}.sm48{font-size:48px}.sm49{font-size:49px}.sm50{font-size:50px}.sm51{font-size:51px}.sm52{font-size:52px}.sm53{font-size:53px}.sm54{font-size:54px}.sm55{font-size:55px}.sm56{font-size:56px}.sm57{font-size:57px}.sm58{font-size:58px}.sm59{font-size:59px}.sm60{font-size:60px}.sm61{font-size:61px}.sm62{font-size:62px}.sm63{font-size:63px}.sm64{font-size:64px}.sm65{font-size:65px}.sm66{font-size:66px}.sm67{font-size:67px}.sm68{font-size:68px}.sm69{font-size:69px}.sm70{font-size:70px}.sm71{font-size:71px}.sm72{font-size:72px}.sm73{font-size:73px}.sm74{font-size:74px}.sm75{font-size:75px}.sm76{font-size:76px}.sm77{font-size:77px}.sm78{font-size:78px}.sm79{font-size:79px}.sm80{font-size:80px}}

@media (min-width: 992px){.md0{font-size:0px}.md1{font-size:1px}.md2{font-size:2px}.md3{font-size:3px}.md4{font-size:4px}.md5{font-size:5px}.md6{font-size:6px}.md7{font-size:7px}.md8{font-size:8px}.md9{font-size:9px}.md10{font-size:10px}.md11{font-size:11px}.md12{font-size:12px}.md13{font-size:13px}.md14{font-size:14px}.md15{font-size:15px}.md16{font-size:16px}.md17{font-size:17px}.md18{font-size:18px}.md19{font-size:19px}.md20{font-size:20px}.md21{font-size:21px}.md22{font-size:22px}.md23{font-size:23px}.md24{font-size:24px}.md25{font-size:25px}.md26{font-size:26px}.md27{font-size:27px}.md28{font-size:28px}.md29{font-size:29px}.md30{font-size:30px}.md31{font-size:31px}.md32{font-size:32px}.md33{font-size:33px}.md34{font-size:34px}.md35{font-size:35px}.md36{font-size:36px}.md37{font-size:37px}.md38{font-size:38px}.md39{font-size:39px}.md40{font-size:40px}.md41{font-size:41px}.md42{font-size:42px}.md43{font-size:43px}.md44{font-size:44px}.md45{font-size:45px}.md46{font-size:46px}.md47{font-size:47px}.md48{font-size:48px}.md49{font-size:49px}.md50{font-size:50px}.md51{font-size:51px}.md52{font-size:52px}.md53{font-size:53px}.md54{font-size:54px}.md55{font-size:55px}.md56{font-size:56px}.md57{font-size:57px}.md58{font-size:58px}.md59{font-size:59px}.md60{font-size:60px}.md61{font-size:61px}.md62{font-size:62px}.md63{font-size:63px}.md64{font-size:64px}.md65{font-size:65px}.md66{font-size:66px}.md67{font-size:67px}.md68{font-size:68px}.md69{font-size:69px}.md70{font-size:70px}.md71{font-size:71px}.md72{font-size:72px}.md73{font-size:73px}.md74{font-size:74px}.md75{font-size:75px}.md76{font-size:76px}.md77{font-size:77px}.md78{font-size:78px}.md79{font-size:79px}.md80{font-size:80px}.md81{font-size:81px}.md82{font-size:82px}.md83{font-size:83px}.md84{font-size:84px}.md85{font-size:85px}.md86{font-size:86px}.md87{font-size:87px}.md88{font-size:88px}.md89{font-size:89px}.md90{font-size:90px}}

@media (min-width: 1200px){.lg0{font-size:0px}.lg1{font-size:1px}.lg2{font-size:2px}.lg3{font-size:3px}.lg4{font-size:4px}.lg5{font-size:5px}.lg6{font-size:6px}.lg7{font-size:7px}.lg8{font-size:8px}.lg9{font-size:9px}.lg10{font-size:10px}.lg11{font-size:11px}.lg12{font-size:12px}.lg13{font-size:13px}.lg14{font-size:14px}.lg15{font-size:15px}.lg16{font-size:16px}.lg17{font-size:17px}.lg18{font-size:18px}.lg19{font-size:19px}.lg20{font-size:20px}.lg21{font-size:21px}.lg22{font-size:22px}.lg23{font-size:23px}.lg24{font-size:24px}.lg25{font-size:25px}.lg26{font-size:26px}.lg27{font-size:27px}.lg28{font-size:28px}.lg29{font-size:29px}.lg30{font-size:30px}.lg31{font-size:31px}.lg32{font-size:32px}.lg33{font-size:33px}.lg34{font-size:34px}.lg35{font-size:35px}.lg36{font-size:36px}.lg37{font-size:37px}.lg38{font-size:38px}.lg39{font-size:39px}.lg40{font-size:40px}.lg41{font-size:41px}.lg42{font-size:42px}.lg43{font-size:43px}.lg44{font-size:44px}.lg45{font-size:45px}.lg46{font-size:46px}.lg47{font-size:47px}.lg48{font-size:48px}.lg49{font-size:49px}.lg50{font-size:50px}.lg51{font-size:51px}.lg52{font-size:52px}.lg53{font-size:53px}.lg54{font-size:54px}.lg55{font-size:55px}.lg56{font-size:56px}.lg57{font-size:57px}.lg58{font-size:58px}.lg59{font-size:59px}.lg60{font-size:60px}.lg61{font-size:61px}.lg62{font-size:62px}.lg63{font-size:63px}.lg64{font-size:64px}.lg65{font-size:65px}.lg66{font-size:66px}.lg67{font-size:67px}.lg68{font-size:68px}.lg69{font-size:69px}.lg70{font-size:70px}.lg71{font-size:71px}.lg72{font-size:72px}.lg73{font-size:73px}.lg74{font-size:74px}.lg75{font-size:75px}.lg76{font-size:76px}.lg77{font-size:77px}.lg78{font-size:78px}.lg79{font-size:79px}.lg80{font-size:80px}.lg81{font-size:81px}.lg82{font-size:82px}.lg83{font-size:83px}.lg84{font-size:84px}.lg85{font-size:85px}.lg86{font-size:86px}.lg87{font-size:87px}.lg88{font-size:88px}.lg89{font-size:89px}.lg90{font-size:90px}.lg91{font-size:91px}.lg92{font-size:92px}.lg93{font-size:93px}.lg94{font-size:94px}.lg95{font-size:95px}.lg96{font-size:96px}.lg97{font-size:97px}.lg98{font-size:98px}.lg99{font-size:99px}.lg100{font-size:100px}}



/*<!--=============================================================-->*/
/*<!--====================All Margin in Percent====================-->*/
/*<!--=============================================================-->*/

@media (min-width: 240px){.xsmt0{margin-top:0%}.xsmt1{margin-top:1%}.xsmt2{margin-top:2%}.xsmt3{margin-top:3%}.xsmt4{margin-top:4%}.xsmt5{margin-top:5%}.xsmt6{margin-top:6%}.xsmt7{margin-top:7%}.xsmt8{margin-top:8%}.xsmt9{margin-top:9%}.xsmt10{margin-top:10%}.xsmt11{margin-top:11%}.xsmt12{margin-top:12%}.xsmt13{margin-top:13%}.xsmt14{margin-top:14%}.xsmt15{margin-top:15%}.xsmt16{margin-top:16%}.xsmt17{margin-top:17%}.xsmt18{margin-top:18%}.xsmt19{margin-top:19%}.xsmt20{margin-top:20%}.xsmb0{margin-bottom:0%}.xsmb1{margin-bottom:1%}.xsmb2{margin-bottom:2%}.xsmb3{margin-bottom:3%}.xsmb4{margin-bottom:4%}.xsmb5{margin-bottom:5%}.xsmb6{margin-bottom:6%}.xsmb7{margin-bottom:7%}.xsmb8{margin-bottom:8%}.xsmb9{margin-bottom:9%}.xsmb10{margin-bottom:10%}.xsmb11{margin-bottom:11%}.xsmb12{margin-bottom:12%}.xsmb13{margin-bottom:13%}.xsmb14{margin-bottom:14%}.xsmb15{margin-bottom:15%}.xsmb16{margin-bottom:16%}.xsmb17{margin-bottom:17%}.xsmb18{margin-bottom:18%}.xsmb19{margin-bottom:19%}.xsmb20{margin-bottom:20%}.xsml0{margin-left:0%}.xsml1{margin-left:1%}.xsml2{margin-left:2%}.xsml3{margin-left:3%}.xsml4{margin-left:4%}.xsml5{margin-left:5%}.xsml6{margin-left:6%}.xsml7{margin-left:7%}.xsml8{margin-left:8%}.xsml9{margin-left:9%}.xsml10{margin-left:10%}.xsml11{margin-left:11%}.xsml12{margin-left:12%}.xsml13{margin-left:13%}.xsml14{margin-left:14%}.xsml15{margin-left:15%}.xsml16{margin-left:16%}.xsml17{margin-left:17%}.xsml18{margin-left:18%}.xsml19{margin-left:19%}.xsml20{margin-left:20%}.xsmr0{margin-right:0%}.xsmr1{margin-right:1%}.xsmr2{margin-right:2%}.xsmr3{margin-right:3%}.xsmr4{margin-right:4%}.xsmr5{margin-right:5%}.xsmr6{margin-right:6%}.xsmr7{margin-right:7%}.xsmr8{margin-right:8%}.xsmr9{margin-right:9%}.xsmr10{margin-right:10%}.xsmr11{margin-right:11%}.xsmr12{margin-right:12%}.xsmr13{margin-right:13%}.xsmr14{margin-right:14%}.xsmr15{margin-right:15%}.xsmr16{margin-right:16%}.xsmr17{margin-right:17%}.xsmr18{margin-right:18%}.xsmr19{margin-right:19%}.xsmr20{margin-right:20%}.xsmla{margin-left:auto !important;}}

@media (min-width: 768px){.smmt0{margin-top:0%}.smmt1{margin-top:1%}.smmt2{margin-top:2%}.smmt3{margin-top:3%}.smmt4{margin-top:4%}.smmt5{margin-top:5%}.smmt6{margin-top:6%}.smmt7{margin-top:7%}.smmt8{margin-top:8%}.smmt9{margin-top:9%}.smmt10{margin-top:10%}.smmt11{margin-top:11%}.smmt12{margin-top:12%}.smmt13{margin-top:13%}.smmt14{margin-top:14%}.smmt15{margin-top:15%}.smmt16{margin-top:16%}.smmt17{margin-top:17%}.smmt18{margin-top:18%}.smmt19{margin-top:19%}.smmt20{margin-top:20%}.smmb0{margin-bottom:0%}.smmb1{margin-bottom:1%}.smmb2{margin-bottom:2%}.smmb3{margin-bottom:3%}.smmb4{margin-bottom:4%}.smmb5{margin-bottom:5%}.smmb6{margin-bottom:6%}.smmb7{margin-bottom:7%}.smmb8{margin-bottom:8%}.smmb9{margin-bottom:9%}.smmb10{margin-bottom:10%}.smmb11{margin-bottom:11%}.smmb12{margin-bottom:12%}.smmb13{margin-bottom:13%}.smmb14{margin-bottom:14%}.smmb15{margin-bottom:15%}.smmb16{margin-bottom:16%}.smmb17{margin-bottom:17%}.smmb18{margin-bottom:18%}.smmb19{margin-bottom:19%}.smmb20{margin-bottom:20%}.smml0{margin-left:0% !important}.smml1{margin-left:1%}.smml2{margin-left:2%}.smml3{margin-left:3%}.smml4{margin-left:4%}.smml5{margin-left:5%}.smml6{margin-left:6%}.smml7{margin-left:7%}.smml8{margin-left:8%}.smml9{margin-left:9%}.smml10{margin-left:10%}.smml11{margin-left:11%}.smml12{margin-left:12%}.smml13{margin-left:13%}.smml14{margin-left:14%}.smml15{margin-left:15%}.smml16{margin-left:16%}.smml17{margin-left:17%}.smml18{margin-left:18%}.smml19{margin-left:19%}.smml20{margin-left:20%}.smmr0{margin-right:0%}.smmr1{margin-right:1%}.smmr2{margin-right:2%}.smmr3{margin-right:3%}.smmr4{margin-right:4%}.smmr5{margin-right:5%}.smmr6{margin-right:6%}.smmr7{margin-right:7%}.smmr8{margin-right:8%}.smmr9{margin-right:9%}.smmr10{margin-right:10%}.smmr11{margin-right:11%}.smmr12{margin-right:12%}.smmr13{margin-right:13%}.smmr14{margin-right:14%}.smmr15{margin-right:15%}.smmr16{margin-right:16%}.smmr17{margin-right:17%}.smmr18{margin-right:18%}.smmr19{margin-right:19%}.smmr20{margin-right:20%}}

@media (min-width: 992px){.mdmt0{margin-top:0%}.mdmthalf{margin-top:0.5%}.mdmt1{margin-top:1%}.mdmt2{margin-top:2%}.mdmt3{margin-top:3%}.mdmt4{margin-top:4%}.mdmt5{margin-top:5%}.mdmt6{margin-top:6%}.mdmt7{margin-top:7%}.mdmt8{margin-top:8%}.mdmt9{margin-top:9%}.mdmt10{margin-top:10%}.mdmt11{margin-top:11%}.mdmt12{margin-top:12%}.mdmt13{margin-top:13%}.mdmt14{margin-top:14%}.mdmt15{margin-top:15%}.mdmt16{margin-top:16%}.mdmt17{margin-top:17%}.mdmt18{margin-top:18%}.mdmt19{margin-top:19%}.mdmt20{margin-top:20%}.mdmb0{margin-bottom:0%}.mdmb1{margin-bottom:1%}.mdmb2{margin-bottom:2%}.mdmb3{margin-bottom:3%}.mdmb4{margin-bottom:4%}.mdmb5{margin-bottom:5%}.mdmb6{margin-bottom:6%}.mdmb7{margin-bottom:7%}.mdmb8{margin-bottom:8%}.mdmb9{margin-bottom:9%}.mdmb10{margin-bottom:10%}.mdmb11{margin-bottom:11%}.mdmb12{margin-bottom:12%}.mdmb13{margin-bottom:13%}.mdmb14{margin-bottom:14%}.mdmb15{margin-bottom:15%}.mdmb16{margin-bottom:16%}.mdmb17{margin-bottom:17%}.mdmb18{margin-bottom:18%}.mdmb19{margin-bottom:19%}.mdmb20{margin-bottom:20%}.mdml0{margin-left:0%}.mdml1{margin-left:1%}.mdml2{margin-left:2%}.mdml3{margin-left:3%}.mdml4{margin-left:4%}.mdml5{margin-left:5%}.mdml6{margin-left:6%}.mdml7{margin-left:7%}.mdml8{margin-left:8%}.mdml9{margin-left:9%}.mdml10{margin-left:10%}.mdml11{margin-left:11%}.mdml12{margin-left:12%}.mdml13{margin-left:13%}.mdml14{margin-left:14%}.mdml15{margin-left:15%}.mdml16{margin-left:16%}.mdml17{margin-left:17%}.mdml18{margin-left:18%}.mdml19{margin-left:19%}.mdml20{margin-left:20%}.mdmr0{margin-right:0%}.mdmr1{margin-right:1%}.mdmr2{margin-right:2%}.mdmr3{margin-right:3%}.mdmr4{margin-right:4%}.mdmr5{margin-right:5%}.mdmr6{margin-right:6%}.mdmr7{margin-right:7%}.mdmr8{margin-right:8%}.mdmr9{margin-right:9%}.mdmr10{margin-right:10%}.mdmr11{margin-right:11%}.mdmr12{margin-right:12%}.mdmr13{margin-right:13%}.mdmr14{margin-right:14%}.mdmr15{margin-right:15%}.mdmr16{margin-right:16%}.mdmr17{margin-right:17%}.mdmr18{margin-right:18%}.mdmr19{margin-right:19%}.mdmr20{margin-right:20%}}

@media (min-width: 1200px){.lgmt0{margin-top:0%}.lgmt1{margin-top:1%}.lgmt2{margin-top:2%}.lgmt3{margin-top:3%}.lgmt4{margin-top:4%}.lgmt5{margin-top:5%}.lgmt6{margin-top:6%}.lgmt7{margin-top:7%}.lgmt8{margin-top:8%}.lgmt9{margin-top:9%}.lgmt10{margin-top:10%}.lgmt11{margin-top:11%}.lgmt12{margin-top:12%}.lgmt13{margin-top:13%}.lgmt14{margin-top:14%}.lgmt15{margin-top:15%}.lgmt16{margin-top:16%}.lgmt17{margin-top:17%}.lgmt18{margin-top:18%}.lgmt19{margin-top:19%}.lgmt20{margin-top:20%}.lgmb0{margin-bottom:0%}.lgmb1{margin-bottom:1%}.lgmb2{margin-bottom:2%}.lgmb3{margin-bottom:3%}.lgmb4{margin-bottom:4%}.lgmb5{margin-bottom:5%}.lgmb6{margin-bottom:6%}.lgmb7{margin-bottom:7%}.lgmb8{margin-bottom:8%}.lgmb9{margin-bottom:9%}.lgmb10{margin-bottom:10%}.lgmb11{margin-bottom:11%}.lgmb12{margin-bottom:12%}.lgmb13{margin-bottom:13%}.lgmb14{margin-bottom:14%}.lgmb15{margin-bottom:15%}.lgmb16{margin-bottom:16%}.lgmb17{margin-bottom:17%}.lgmb18{margin-bottom:18%}.lgmb19{margin-bottom:19%}.lgmb20{margin-bottom:20%}.lgml0{margin-left:0%}.lgml1{margin-left:1%}.lgml2{margin-left:2%}.lgml3{margin-left:3%}.lgml4{margin-left:4%}.lgml5{margin-left:5%}.lgml6{margin-left:6%}.lgml7{margin-left:7%}.lgml8{margin-left:8%}.lgml9{margin-left:9%}.lgml10{margin-left:10%}.lgml11{margin-left:11%}.lgml12{margin-left:12%}.lgml13{margin-left:13%}.lgml14{margin-left:14%}.lgml15{margin-left:15%}.lgml16{margin-left:16%}.lgml17{margin-left:17%}.lgml18{margin-left:18%}.lgml19{margin-left:19%}.lgml20{margin-left:20%}.lgmr0{margin-right:0%}.lgmr1{margin-right:1%}.lgmr2{margin-right:2%}.lgmr3{margin-right:3%}.lgmr4{margin-right:4%}.lgmr5{margin-right:5%}.lgmr6{margin-right:6%}.lgmr7{margin-right:7%}.lgmr8{margin-right:8%}.lgmr9{margin-right:9%}.lgmr10{margin-right:10%}.lgmr11{margin-right:11%}.lgmr12{margin-right:12%}.lgmr13{margin-right:13%}.lgmr14{margin-right:14%}.lgmr15{margin-right:15%}.lgmr16{margin-right:16%}.lgmr17{margin-right:17%}.lgmr18{margin-right:18%}.lgmr19{margin-right:19%}.lgmr20{margin-right:20%}}



/*<!--=============================================================-->*/
/*<!--====================All Margin in Pixel====================-->*/
/*<!--=============================================================-->*/

@media (min-width: 240px){.xsmtpx0{margin-top:0px}.xsmtpx1{margin-top:1px}.xsmtpx2{margin-top:2px}.xsmtpx3{margin-top:3px}.xsmtpx4{margin-top:4px}.xsmtpx5{margin-top:5px}.xsmtpx6{margin-top:6px}.xsmtpx7{margin-top:7px}.xsmtpx8{margin-top:8px}.xsmtpx9{margin-top:9px}.xsmtpx10{margin-top:10px}.xsmtpx11{margin-top:11px}.xsmtpx12{margin-top:12px}.xsmtpx13{margin-top:13px}.xsmtpx14{margin-top:14px}.xsmtpx15{margin-top:15px}.xsmtpx16{margin-top:16px}.xsmtpx17{margin-top:17px}.xsmtpx18{margin-top:18px}.xsmtpx19{margin-top:19px}.xsmtpx20{margin-top:20px}.xsmbpx0{margin-bottom:0px}.xsmbpx1{margin-bottom:1px}.xsmbpx2{margin-bottom:2px}.xsmbpx3{margin-bottom:3px}.xsmbpx4{margin-bottom:4px}.xsmbpx5{margin-bottom:5px}.xsmbpx6{margin-bottom:6px}.xsmbpx7{margin-bottom:7px}.xsmbpx8{margin-bottom:8px}.xsmbpx9{margin-bottom:9px}.xsmbpx10{margin-bottom:10px}.xsmbpx11{margin-bottom:11px}.xsmbpx12{margin-bottom:12px}.xsmbpx13{margin-bottom:13px}.xsmbpx14{margin-bottom:14px}.xsmbpx15{margin-bottom:15px}.xsmbpx16{margin-bottom:16px}.xsmbpx17{margin-bottom:17px}.xsmbpx18{margin-bottom:18px}.xsmbpx19{margin-bottom:19px}.xsmbpx20{margin-bottom:20px}.xsmlpx0{margin-left:0px}.xsmlpx1{margin-left:1px}.xsmlpx2{margin-left:2px}.xsmlpx3{margin-left:3px}.xsmlpx4{margin-left:4px}.xsmlpx5{margin-left:5px}.xsmlpx6{margin-left:6px}.xsmlpx7{margin-left:7px}.xsmlpx8{margin-left:8px}.xsmlpx9{margin-left:9px}.xsmlpx10{margin-left:10px}.xsmlpx11{margin-left:11px}.xsmlpx12{margin-left:12px}.xsmlpx13{margin-left:13px}.xsmlpx14{margin-left:14px}.xsmlpx15{margin-left:15px}.xsmlpx16{margin-left:16px}.xsmlpx17{margin-left:17px}.xsmlpx18{margin-left:18px}.xsmlpx19{margin-left:19px}.xsmlpx20{margin-left:20px}.xsmrpx0{margin-right:0px}.xsmrpx1{margin-right:1px}.xsmrpx2{margin-right:2px}.xsmrpx3{margin-right:3px}.xsmrpx4{margin-right:4px}.xsmrpx5{margin-right:5px}.xsmrpx6{margin-right:6px}.xsmrpx7{margin-right:7px}.xsmrpx8{margin-right:8px}.xsmrpx9{margin-right:9px}.xsmrpx10{margin-right:10px}.xsmrpx11{margin-right:11px}.xsmrpx12{margin-right:12px}.xsmrpx13{margin-right:13px}.xsmrpx14{margin-right:14px}.xsmrpx15{margin-right:15px}.xsmrpx16{margin-right:16px}.xsmrpx17{margin-right:17px}.xsmrpx18{margin-right:18px}.xsmrpx19{margin-right:19px}.xsmrpx20{margin-right:20px}}

@media (min-width: 768px){.smmtpx0{margin-top:0px}.smmtpx1{margin-top:1px}.smmtpx2{margin-top:2px}.smmtpx3{margin-top:3px}.smmtpx4{margin-top:4px}.smmtpx5{margin-top:5px}.smmtpx6{margin-top:6px}.smmtpx7{margin-top:7px}.smmtpx8{margin-top:8px}.smmtpx9{margin-top:9px}.smmtpx10{margin-top:10px}.smmtpx11{margin-top:11px}.smmtpx12{margin-top:12px}.smmtpx13{margin-top:13px}.smmtpx14{margin-top:14px}.smmtpx15{margin-top:15px}.smmtpx16{margin-top:16px}.smmtpx17{margin-top:17px}.smmtpx18{margin-top:18px}.smmtpx19{margin-top:19px}.smmtpx20{margin-top:20px}.smmbpx0{margin-bottom:0px}.smmbpx1{margin-bottom:1px}.smmbpx2{margin-bottom:2px}.smmbpx3{margin-bottom:3px}.smmbpx4{margin-bottom:4px}.smmbpx5{margin-bottom:5px}.smmbpx6{margin-bottom:6px}.smmbpx7{margin-bottom:7px}.smmbpx8{margin-bottom:8px}.smmbpx9{margin-bottom:9px}.smmbpx10{margin-bottom:10px}.smmbpx11{margin-bottom:11px}.smmbpx12{margin-bottom:12px}.smmbpx13{margin-bottom:13px}.smmbpx14{margin-bottom:14px}.smmbpx15{margin-bottom:15px}.smmbpx16{margin-bottom:16px}.smmbpx17{margin-bottom:17px}.smmbpx18{margin-bottom:18px}.smmbpx19{margin-bottom:19px}.smmbpx20{margin-bottom:20px}.smmlpx0{margin-left:0px}.smmlpx1{margin-left:1px}.smmlpx2{margin-left:2px}.smmlpx3{margin-left:3px}.smmlpx4{margin-left:4px}.smmlpx5{margin-left:5px}.smmlpx6{margin-left:6px}.smmlpx7{margin-left:7px}.smmlpx8{margin-left:8px}.smmlpx9{margin-left:9px}.smmlpx10{margin-left:10px}.smmlpx11{margin-left:11px}.smmlpx12{margin-left:12px}.smmlpx13{margin-left:13px}.smmlpx14{margin-left:14px}.smmlpx15{margin-left:15px}.smmlpx16{margin-left:16px}.smmlpx17{margin-left:17px}.smmlpx18{margin-left:18px}.smmlpx19{margin-left:19px}.smmlpx20{margin-left:20px}.smmrpx0{margin-right:0px}.smmrpx1{margin-right:1px}.smmrpx2{margin-right:2px}.smmrpx3{margin-right:3px}.smmrpx4{margin-right:4px}.smmrpx5{margin-right:5px}.smmrpx6{margin-right:6px}.smmrpx7{margin-right:7px}.smmrpx8{margin-right:8px}.smmrpx9{margin-right:9px}.smmrpx10{margin-right:10px}.smmrpx11{margin-right:11px}.smmrpx12{margin-right:12px}.smmrpx13{margin-right:13px}.smmrpx14{margin-right:14px}.smmrpx15{margin-right:15px}.smmrpx16{margin-right:16px}.smmrpx17{margin-right:17px}.smmrpx18{margin-right:18px}.smmrpx19{margin-right:19px}.smmrpx20{margin-right:20px}}

@media (min-width: 992px){.mdmtpx0{margin-top:0px}.mdmtpx1{margin-top:1px}.mdmtpx2{margin-top:2px}.mdmtpx3{margin-top:3px}.mdmtpx4{margin-top:4px}.mdmtpx5{margin-top:5px}.mdmtpx6{margin-top:6px}.mdmtpx7{margin-top:7px}.mdmtpx8{margin-top:8px}.mdmtpx9{margin-top:9px}.mdmtpx10{margin-top:10px}.mdmtpx11{margin-top:11px}.mdmtpx12{margin-top:12px}.mdmtpx13{margin-top:13px}.mdmtpx14{margin-top:14px}.mdmtpx15{margin-top:15px}.mdmtpx16{margin-top:16px}.mdmtpx17{margin-top:17px}.mdmtpx18{margin-top:18px}.mdmtpx19{margin-top:19px}.mdmtpx20{margin-top:20px}.mdmbpx0{margin-bottom:0px}.mdmbpx1{margin-bottom:1px}.mdmbpx2{margin-bottom:2px}.mdmbpx3{margin-bottom:3px}.mdmbpx4{margin-bottom:4px}.mdmbpx5{margin-bottom:5px}.mdmbpx6{margin-bottom:6px}.mdmbpx7{margin-bottom:7px}.mdmbpx8{margin-bottom:8px}.mdmbpx9{margin-bottom:9px}.mdmbpx10{margin-bottom:10px}.mdmbpx11{margin-bottom:11px}.mdmbpx12{margin-bottom:12px}.mdmbpx13{margin-bottom:13px}.mdmbpx14{margin-bottom:14px}.mdmbpx15{margin-bottom:15px}.mdmbpx16{margin-bottom:16px}.mdmbpx17{margin-bottom:17px}.mdmbpx18{margin-bottom:18px}.mdmbpx19{margin-bottom:19px}.mdmbpx20{margin-bottom:20px}.mdmlpx0{margin-left:0px}.mdmlpx1{margin-left:1px}.mdmlpx2{margin-left:2px}.mdmlpx3{margin-left:3px}.mdmlpx4{margin-left:4px}.mdmlpx5{margin-left:5px}.mdmlpx6{margin-left:6px}.mdmlpx7{margin-left:7px}.mdmlpx8{margin-left:8px}.mdmlpx9{margin-left:9px}.mdmlpx10{margin-left:10px}.mdmlpx11{margin-left:11px}.mdmlpx12{margin-left:12px}.mdmlpx13{margin-left:13px}.mdmlpx14{margin-left:14px}.mdmlpx15{margin-left:15px}.mdmlpx16{margin-left:16px}.mdmlpx17{margin-left:17px}.mdmlpx18{margin-left:18px}.mdmlpx19{margin-left:19px}.mdmlpx20{margin-left:20px}.mdmrpx0{margin-right:0px}.mdmrpx1{margin-right:1px}.mdmrpx2{margin-right:2px}.mdmrpx3{margin-right:3px}.mdmrpx4{margin-right:4px}.mdmrpx5{margin-right:5px}.mdmrpx6{margin-right:6px}.mdmrpx7{margin-right:7px}.mdmrpx8{margin-right:8px}.mdmrpx9{margin-right:9px}.mdmrpx10{margin-right:10px}.mdmrpx11{margin-right:11px}.mdmrpx12{margin-right:12px}.mdmrpx13{margin-right:13px}.mdmrpx14{margin-right:14px}.mdmrpx15{margin-right:15px}.mdmrpx16{margin-right:16px}.mdmrpx17{margin-right:17px}.mdmrpx18{margin-right:18px}.mdmrpx19{margin-right:19px}.mdmrpx20{margin-right:20px}}

@media (min-width: 1200px){.lgmtpx0{margin-top:0px}.lgmtpx1{margin-top:1px}.lgmtpx2{margin-top:2px}.lgmtpx3{margin-top:3px}.lgmtpx4{margin-top:4px}.lgmtpx5{margin-top:5px}.lgmtpx6{margin-top:6px}.lgmtpx7{margin-top:7px}.lgmtpx8{margin-top:8px}.lgmtpx9{margin-top:9px}.lgmtpx10{margin-top:10px}.lgmtpx11{margin-top:11px}.lgmtpx12{margin-top:12px}.lgmtpx13{margin-top:13px}.lgmtpx14{margin-top:14px}.lgmtpx15{margin-top:15px}.lgmtpx16{margin-top:16px}.lgmtpx17{margin-top:17px}.lgmtpx18{margin-top:18px}.lgmtpx19{margin-top:19px}.lgmtpx20{margin-top:20px}.lgmbpx0{margin-bottom:0px}.lgmbpx1{margin-bottom:1px}.lgmbpx2{margin-bottom:2px}.lgmbpx3{margin-bottom:3px}.lgmbpx4{margin-bottom:4px}.lgmbpx5{margin-bottom:5px}.lgmbpx6{margin-bottom:6px}.lgmbpx7{margin-bottom:7px}.lgmbpx8{margin-bottom:8px}.lgmbpx9{margin-bottom:9px}.lgmbpx10{margin-bottom:10px}.lgmbpx11{margin-bottom:11px}.lgmbpx12{margin-bottom:12px}.lgmbpx13{margin-bottom:13px}.lgmbpx14{margin-bottom:14px}.lgmbpx15{margin-bottom:15px}.lgmbpx16{margin-bottom:16px}.lgmbpx17{margin-bottom:17px}.lgmbpx18{margin-bottom:18px}.lgmbpx19{margin-bottom:19px}.lgmbpx20{margin-bottom:20px}.lgmlpx0{margin-left:0px}.lgmlpx1{margin-left:1px}.lgmlpx2{margin-left:2px}.lgmlpx3{margin-left:3px}.lgmlpx4{margin-left:4px}.lgmlpx5{margin-left:5px}.lgmlpx6{margin-left:6px}.lgmlpx7{margin-left:7px}.lgmlpx8{margin-left:8px}.lgmlpx9{margin-left:9px}.lgmlpx10{margin-left:10px}.lgmlpx11{margin-left:11px}.lgmlpx12{margin-left:12px}.lgmlpx13{margin-left:13px}.lgmlpx14{margin-left:14px}.lgmlpx15{margin-left:15px}.lgmlpx16{margin-left:16px}.lgmlpx17{margin-left:17px}.lgmlpx18{margin-left:18px}.lgmlpx19{margin-left:19px}.lgmlpx20{margin-left:20px}.lgmrpx0{margin-right:0px}.lgmrpx1{margin-right:1px}.lgmrpx2{margin-right:2px}.lgmrpx3{margin-right:3px}.lgmrpx4{margin-right:4px}.lgmrpx5{margin-right:5px}.lgmrpx6{margin-right:6px}.lgmrpx7{margin-right:7px}.lgmrpx8{margin-right:8px}.lgmrpx9{margin-right:9px}.lgmrpx10{margin-right:10px}.lgmrpx11{margin-right:11px}.lgmrpx12{margin-right:12px}.lgmrpx13{margin-right:13px}.lgmrpx14{margin-right:14px}.lgmrpx15{margin-right:15px}.lgmrpx16{margin-right:16px}.lgmrpx17{margin-right:17px}.lgmrpx18{margin-right:18px}.lgmrpx19{margin-right:19px}.lgmrpx20{margin-right:20px}}


/*<!--=============================================================-->*/
/*<!--====================All Padding in Percent====================-->*/
/*<!--=============================================================-->*/

@media (min-width: 240px){.xspt0{padding-top:0%}.xspt1{padding-top:1%}.xspt2{padding-top:2%}.xspt3{padding-top:3%}.xspt4{padding-top:4%}.xspt5{padding-top:5%}.xspt6{padding-top:6%}.xspt7{padding-top:7%}.xspt8{padding-top:8%}.xspt9{padding-top:9%}.xspt10{padding-top:10%}.xspt11{padding-top:11%}.xspt12{padding-top:12%}.xspt13{padding-top:13%}.xspt14{padding-top:14%}.xspt15{padding-top:15%}.xspt16{padding-top:16%}.xspt17{padding-top:17%}.xspt18{padding-top:18%}.xspt19{padding-top:19%}.xspt20{padding-top:20%}.xspb0{padding-bottom:0%}.xspb1{padding-bottom:1%}.xspb2{padding-bottom:2%}.xspb3{padding-bottom:3%}.xspb4{padding-bottom:4%}.xspb5{padding-bottom:5%}.xspb6{padding-bottom:6%}.xspb7{padding-bottom:7%}.xspb8{padding-bottom:8%}.xspb9{padding-bottom:9%}.xspb10{padding-bottom:10%}.xspb11{padding-bottom:11%}.xspb12{padding-bottom:12%}.xspb13{padding-bottom:13%}.xspb14{padding-bottom:14%}.xspb15{padding-bottom:15%}.xspb16{padding-bottom:16%}.xspb17{padding-bottom:17%}.xspb18{padding-bottom:18%}.xspb19{padding-bottom:19%}.xspb20{padding-bottom:20%}.xspl0{padding-left:0%}.xspl1{padding-left:1%}.xspl2{padding-left:2%}.xspl3{padding-left:3%}.xspl4{padding-left:4%}.xspl5{padding-left:5%}.xspl6{padding-left:6%}.xspl7{padding-left:7%}.xspl8{padding-left:8%}.xspl9{padding-left:9%}.xspl10{padding-left:10%}.xspl11{padding-left:11%}.xspl12{padding-left:12%}.xspl13{padding-left:13%}.xspl14{padding-left:14%}.xspl15{padding-left:15%}.xspl16{padding-left:16%}.xspl17{padding-left:17%}.xspl18{padding-left:18%}.xspl19{padding-left:19%}.xspl20{padding-left:20%}.xspr0{padding-right:0%}.xspr1{padding-right:1%}.xspr2{padding-right:2%}.xspr3{padding-right:3%}.xspr4{padding-right:4%}.xspr5{padding-right:5%}.xspr6{padding-right:6%}.xspr7{padding-right:7%}.xspr8{padding-right:8%}.xspr9{padding-right:9%}.xspr10{padding-right:10%}.xspr11{padding-right:11%}.xspr12{padding-right:12%}.xspr13{padding-right:13%}.xspr14{padding-right:14%}.xspr15{padding-right:15%}.xspr16{padding-right:16%}.xspr17{padding-right:17%}.xspr18{padding-right:18%}.xspr19{padding-right:19%}.xspr20{padding-right:20%}}

@media (min-width: 768px){.smpt0{padding-top:0%}.smpt1{padding-top:1%}.smpt2{padding-top:2%}.smpt3{padding-top:3%}.smpt4{padding-top:4%}.smpt5{padding-top:5%}.smpt6{padding-top:6%}.smpt7{padding-top:7%}.smpt8{padding-top:8%}.smpt9{padding-top:9%}.smpt10{padding-top:10%}.smpt11{padding-top:11%}.smpt12{padding-top:12%}.smpt13{padding-top:13%}.smpt14{padding-top:14%}.smpt15{padding-top:15%}.smpt16{padding-top:16%}.smpt17{padding-top:17%}.smpt18{padding-top:18%}.smpt19{padding-top:19%}.smpt20{padding-top:20%}.smpb0{padding-bottom:0%}.smpb1{padding-bottom:1%}.smpb2{padding-bottom:2%}.smpb3{padding-bottom:3%}.smpb4{padding-bottom:4%}.smpb5{padding-bottom:5%}.smpb6{padding-bottom:6%}.smpb7{padding-bottom:7%}.smpb8{padding-bottom:8%}.smpb9{padding-bottom:9%}.smpb10{padding-bottom:10%}.smpb11{padding-bottom:11%}.smpb12{padding-bottom:12%}.smpb13{padding-bottom:13%}.smpb14{padding-bottom:14%}.smpb15{padding-bottom:15%}.smpb16{padding-bottom:16%}.smpb17{padding-bottom:17%}.smpb18{padding-bottom:18%}.smpb19{padding-bottom:19%}.smpb20{padding-bottom:20%}.smpl0{padding-left:0%}.smpl1{padding-left:1%}.smpl2{padding-left:2%}.smpl3{padding-left:3%}.smpl4{padding-left:4%}.smpl5{padding-left:5%}.smpl6{padding-left:6%}.smpl7{padding-left:7%}.smpl8{padding-left:8%}.smpl9{padding-left:9%}.smpl10{padding-left:10%}.smpl11{padding-left:11%}.smpl12{padding-left:12%}.smpl13{padding-left:13%}.smpl14{padding-left:14%}.smpl15{padding-left:15%}.smpl16{padding-left:16%}.smpl17{padding-left:17%}.smpl18{padding-left:18%}.smpl19{padding-left:19%}.smpl20{padding-left:20%}.smpr0{padding-right:0%}.smpr1{padding-right:1%}.smpr2{padding-right:2%}.smpr3{padding-right:3%}.smpr4{padding-right:4%}.smpr5{padding-right:5%}.smpr6{padding-right:6%}.smpr7{padding-right:7%}.smpr8{padding-right:8%}.smpr9{padding-right:9%}.smpr10{padding-right:10%}.smpr11{padding-right:11%}.smpr12{padding-right:12%}.smpr13{padding-right:13%}.smpr14{padding-right:14%}.smpr15{padding-right:15%}.smpr16{padding-right:16%}.smpr17{padding-right:17%}.smpr18{padding-right:18%}.smpr19{padding-right:19%}.smpr20{padding-right:20%}}

@media (min-width: 992px){.mdpt0{padding-top:0%}.mdpt1{padding-top:1%}.mdpt2{padding-top:2%}.mdpt3{padding-top:3%}.mdpt4{padding-top:4%}.mdpt5{padding-top:5%}.mdpt6{padding-top:6%}.mdpt7{padding-top:7%}.mdpt8{padding-top:8%}.mdpt9{padding-top:9%}.mdpt10{padding-top:10%}.mdpt11{padding-top:11%}.mdpt12{padding-top:12%}.mdpt13{padding-top:13%}.mdpt14{padding-top:14%}.mdpt15{padding-top:15%}.mdpt16{padding-top:16%}.mdpt17{padding-top:17%}.mdpt18{padding-top:18%}.mdpt19{padding-top:19%}.mdpt20{padding-top:20%}.mdpb0{padding-bottom:0%}.mdpb1{padding-bottom:1%}.mdpb2{padding-bottom:2%}.mdpb3{padding-bottom:3%}.mdpb4{padding-bottom:4%}.mdpb5{padding-bottom:5%}.mdpb6{padding-bottom:6%}.mdpb7{padding-bottom:7%}.mdpb8{padding-bottom:8%}.mdpb9{padding-bottom:9%}.mdpb10{padding-bottom:10%}.mdpb11{padding-bottom:11%}.mdpb12{padding-bottom:12%}.mdpb13{padding-bottom:13%}.mdpb14{padding-bottom:14%}.mdpb15{padding-bottom:15%}.mdpb16{padding-bottom:16%}.mdpb17{padding-bottom:17%}.mdpb18{padding-bottom:18%}.mdpb19{padding-bottom:19%}.mdpb20{padding-bottom:20%}.mdpl0{padding-left:0%}.mdpl1{padding-left:1%}.mdpl2{padding-left:2%}.mdpl3{padding-left:3%}.mdpl4{padding-left:4%}.mdpl5{padding-left:5%}.mdpl6{padding-left:6%}.mdpl7{padding-left:7%}.mdpl8{padding-left:8%}.mdpl9{padding-left:9%}.mdpl10{padding-left:10%}.mdpl11{padding-left:11%}.mdpl12{padding-left:12%}.mdpl13{padding-left:13%}.mdpl14{padding-left:14%}.mdpl15{padding-left:15%}.mdpl16{padding-left:16%}.mdpl17{padding-left:17%}.mdpl18{padding-left:18%}.mdpl19{padding-left:19%}.mdpl20{padding-left:20%}.mdpr0{padding-right:0%}.mdpr1{padding-right:1%}.mdpr2{padding-right:2%}.mdpr3{padding-right:3%}.mdpr4{padding-right:4%}.mdpr5{padding-right:5%}.mdpr6{padding-right:6%}.mdpr7{padding-right:7%}.mdpr8{padding-right:8%}.mdpr9{padding-right:9%}.mdpr10{padding-right:10%}.mdpr11{padding-right:11%}.mdpr12{padding-right:12%}.mdpr13{padding-right:13%}.mdpr14{padding-right:14%}.mdpr15{padding-right:15%}.mdpr16{padding-right:16%}.mdpr17{padding-right:17%}.mdpr18{padding-right:18%}.mdpr19{padding-right:19%}.mdpr20{padding-right:20%}}

@media (min-width: 1200px){.lgpt0{padding-top:0%}.lgpt1{padding-top:1%}.lgpt2{padding-top:2%}.lgpt3{padding-top:3%}.lgpt4{padding-top:4%}.lgpt5{padding-top:5%}.lgpt6{padding-top:6%}.lgpt7{padding-top:7%}.lgpt8{padding-top:8%}.lgpt9{padding-top:9%}.lgpt10{padding-top:10%}.lgpt11{padding-top:11%}.lgpt12{padding-top:12%}.lgpt13{padding-top:13%}.lgpt14{padding-top:14%}.lgpt15{padding-top:15%}.lgpt16{padding-top:16%}.lgpt17{padding-top:17%}.lgpt18{padding-top:18%}.lgpt19{padding-top:19%}.lgpt20{padding-top:20%}.lgpb0{padding-bottom:0%}.lgpb1{padding-bottom:1%}.lgpb2{padding-bottom:2%}.lgpb3{padding-bottom:3%}.lgpb4{padding-bottom:4%}.lgpb5{padding-bottom:5%}.lgpb6{padding-bottom:6%}.lgpb7{padding-bottom:7%}.lgpb8{padding-bottom:8%}.lgpb9{padding-bottom:9%}.lgpb10{padding-bottom:10%}.lgpb11{padding-bottom:11%}.lgpb12{padding-bottom:12%}.lgpb13{padding-bottom:13%}.lgpb14{padding-bottom:14%}.lgpb15{padding-bottom:15%}.lgpb16{padding-bottom:16%}.lgpb17{padding-bottom:17%}.lgpb18{padding-bottom:18%}.lgpb19{padding-bottom:19%}.lgpb20{padding-bottom:20%}.lgpl0{padding-left:0%}.lgpl1{padding-left:1%}.lgpl2{padding-left:2%}.lgpl3{padding-left:3%}.lgpl4{padding-left:4%}.lgpl5{padding-left:5%}.lgpl6{padding-left:6%}.lgpl7{padding-left:7%}.lgpl8{padding-left:8%}.lgpl9{padding-left:9%}.lgpl10{padding-left:10%}.lgpl11{padding-left:11%}.lgpl12{padding-left:12%}.lgpl13{padding-left:13%}.lgpl14{padding-left:14%}.lgpl15{padding-left:15%}.lgpl16{padding-left:16%}.lgpl17{padding-left:17%}.lgpl18{padding-left:18%}.lgpl19{padding-left:19%}.lgpl20{padding-left:20%}.lgpr0{padding-right:0%}.lgpr1{padding-right:1%}.lgpr2{padding-right:2%}.lgpr3{padding-right:3%}.lgpr4{padding-right:4%}.lgpr5{padding-right:5%}.lgpr6{padding-right:6%}.lgpr7{padding-right:7%}.lgpr8{padding-right:8%}.lgpr9{padding-right:9%}.lgpr10{padding-right:10%}.lgpr11{padding-right:11%}.lgpr12{padding-right:12%}.lgpr13{padding-right:13%}.lgpr14{padding-right:14%}.lgpr15{padding-right:15%}.lgpr16{padding-right:16%}.lgpr17{padding-right:17%}.lgpr18{padding-right:18%}.lgpr19{padding-right:19%}.lgpr20{padding-right:20%}}



/*<!--=============================================================-->*/
/*<!--====================All Padding in Pixel====================-->*/
/*<!--=============================================================-->*/

@media (min-width: 240px){.xsptpx0{padding-top:0px}.xsptpx1{padding-top:1px}.xsptpx2{padding-top:2px}.xsptpx3{padding-top:3px}.xsptpx4{padding-top:4px}.xsptpx5{padding-top:5px}.xsptpx6{padding-top:6px}.xsptpx7{padding-top:7px}.xsptpx8{padding-top:8px}.xsptpx9{padding-top:9px}.xsptpx10{padding-top:10px}.xsptpx11{padding-top:11px}.xsptpx12{padding-top:12px}.xsptpx13{padding-top:13px}.xsptpx14{padding-top:14px}.xsptpx15{padding-top:15px}.xsptpx16{padding-top:16px}.xsptpx17{padding-top:17px}.xsptpx18{padding-top:18px}.xsptpx19{padding-top:19px}.xsptpx20{padding-top:20px}.xspbpx0{padding-bottom:0px}.xspbpx1{padding-bottom:1px}.xspbpx2{padding-bottom:2px}.xspbpx3{padding-bottom:3px}.xspbpx4{padding-bottom:4px}.xspbpx5{padding-bottom:5px}.xspbpx6{padding-bottom:6px}.xspbpx7{padding-bottom:7px}.xspbpx8{padding-bottom:8px}.xspbpx9{padding-bottom:9px}.xspbpx10{padding-bottom:10px}.xspbpx11{padding-bottom:11px}.xspbpx12{padding-bottom:12px}.xspbpx13{padding-bottom:13px}.xspbpx14{padding-bottom:14px}.xspbpx15{padding-bottom:15px}.xspbpx16{padding-bottom:16px}.xspbpx17{padding-bottom:17px}.xspbpx18{padding-bottom:18px}.xspbpx19{padding-bottom:19px}.xspbpx20{padding-bottom:20px}.xsplpx0{padding-left:0px}.xsplpx1{padding-left:1px}.xsplpx2{padding-left:2px}.xsplpx3{padding-left:3px}.xsplpx4{padding-left:4px}.xsplpx5{padding-left:5px}.xsplpx6{padding-left:6px}.xsplpx7{padding-left:7px}.xsplpx8{padding-left:8px}.xsplpx9{padding-left:9px}.xsplpx10{padding-left:10px}.xsplpx11{padding-left:11px}.xsplpx12{padding-left:12px}.xsplpx13{padding-left:13px}.xsplpx14{padding-left:14px}.xsplpx15{padding-left:15px}.xsplpx16{padding-left:16px}.xsplpx17{padding-left:17px}.xsplpx18{padding-left:18px}.xsplpx19{padding-left:19px}.xsplpx20{padding-left:20px}.xsprpx0{padding-right:0px}.xsprpx1{padding-right:1px}.xsprpx2{padding-right:2px}.xsprpx3{padding-right:3px}.xsprpx4{padding-right:4px}.xsprpx5{padding-right:5px}.xsprpx6{padding-right:6px}.xsprpx7{padding-right:7px}.xsprpx8{padding-right:8px}.xsprpx9{padding-right:9px}.xsprpx10{padding-right:10px}.xsprpx11{padding-right:11px}.xsprpx12{padding-right:12px}.xsprpx13{padding-right:13px}.xsprpx14{padding-right:14px}.xsprpx15{padding-right:15px}.xsprpx16{padding-right:16px}.xsprpx17{padding-right:17px}.xsprpx18{padding-right:18px}.xsprpx19{padding-right:19px}.xsprpx20{padding-right:20px}}

@media (min-width: 768px){.smptpx0{padding-top:0px}.smptpx1{padding-top:1px}.smptpx2{padding-top:2px}.smptpx3{padding-top:3px}.smptpx4{padding-top:4px}.smptpx5{padding-top:5px}.smptpx6{padding-top:6px}.smptpx7{padding-top:7px}.smptpx8{padding-top:8px}.smptpx9{padding-top:9px}.smptpx10{padding-top:10px}.smptpx11{padding-top:11px}.smptpx12{padding-top:12px}.smptpx13{padding-top:13px}.smptpx14{padding-top:14px}.smptpx15{padding-top:15px}.smptpx16{padding-top:16px}.smptpx17{padding-top:17px}.smptpx18{padding-top:18px}.smptpx19{padding-top:19px}.smptpx20{padding-top:20px}.smpbpx0{padding-bottom:0px}.smpbpx1{padding-bottom:1px}.smpbpx2{padding-bottom:2px}.smpbpx3{padding-bottom:3px}.smpbpx4{padding-bottom:4px}.smpbpx5{padding-bottom:5px}.smpbpx6{padding-bottom:6px}.smpbpx7{padding-bottom:7px}.smpbpx8{padding-bottom:8px}.smpbpx9{padding-bottom:9px}.smpbpx10{padding-bottom:10px}.smpbpx11{padding-bottom:11px}.smpbpx12{padding-bottom:12px}.smpbpx13{padding-bottom:13px}.smpbpx14{padding-bottom:14px}.smpbpx15{padding-bottom:15px}.smpbpx16{padding-bottom:16px}.smpbpx17{padding-bottom:17px}.smpbpx18{padding-bottom:18px}.smpbpx19{padding-bottom:19px}.smpbpx20{padding-bottom:20px}.smplpx0{padding-left:0px}.smplpx1{padding-left:1px}.smplpx2{padding-left:2px}.smplpx3{padding-left:3px}.smplpx4{padding-left:4px}.smplpx5{padding-left:5px}.smplpx6{padding-left:6px}.smplpx7{padding-left:7px}.smplpx8{padding-left:8px}.smplpx9{padding-left:9px}.smplpx10{padding-left:10px}.smplpx11{padding-left:11px}.smplpx12{padding-left:12px}.smplpx13{padding-left:13px}.smplpx14{padding-left:14px}.smplpx15{padding-left:15px}.smplpx16{padding-left:16px}.smplpx17{padding-left:17px}.smplpx18{padding-left:18px}.smplpx19{padding-left:19px}.smplpx20{padding-left:20px}.smprpx0{padding-right:0px}.smprpx1{padding-right:1px}.smprpx2{padding-right:2px}.smprpx3{padding-right:3px}.smprpx4{padding-right:4px}.smprpx5{padding-right:5px}.smprpx6{padding-right:6px}.smprpx7{padding-right:7px}.smprpx8{padding-right:8px}.smprpx9{padding-right:9px}.smprpx10{padding-right:10px}.smprpx11{padding-right:11px}.smprpx12{padding-right:12px}.smprpx13{padding-right:13px}.smprpx14{padding-right:14px}.smprpx15{padding-right:15px}.smprpx16{padding-right:16px}.smprpx17{padding-right:17px}.smprpx18{padding-right:18px}.smprpx19{padding-right:19px}.smprpx20{padding-right:20px}}

@media (min-width: 992px){.mdptpx0{padding-top:0px}.mdptpx1{padding-top:1px}.mdptpx2{padding-top:2px}.mdptpx3{padding-top:3px}.mdptpx4{padding-top:4px}.mdptpx5{padding-top:5px}.mdptpx6{padding-top:6px}.mdptpx7{padding-top:7px}.mdptpx8{padding-top:8px}.mdptpx9{padding-top:9px}.mdptpx10{padding-top:10px}.mdptpx11{padding-top:11px}.mdptpx12{padding-top:12px}.mdptpx13{padding-top:13px}.mdptpx14{padding-top:14px}.mdptpx15{padding-top:15px}.mdptpx16{padding-top:16px}.mdptpx17{padding-top:17px}.mdptpx18{padding-top:18px}.mdptpx19{padding-top:19px}.mdptpx20{padding-top:20px}.mdpbpx0{padding-bottom:0px}.mdpbpx1{padding-bottom:1px}.mdpbpx2{padding-bottom:2px}.mdpbpx3{padding-bottom:3px}.mdpbpx4{padding-bottom:4px}.mdpbpx5{padding-bottom:5px}.mdpbpx6{padding-bottom:6px}.mdpbpx7{padding-bottom:7px}.mdpbpx8{padding-bottom:8px}.mdpbpx9{padding-bottom:9px}.mdpbpx10{padding-bottom:10px}.mdpbpx11{padding-bottom:11px}.mdpbpx12{padding-bottom:12px}.mdpbpx13{padding-bottom:13px}.mdpbpx14{padding-bottom:14px}.mdpbpx15{padding-bottom:15px}.mdpbpx16{padding-bottom:16px}.mdpbpx17{padding-bottom:17px}.mdpbpx18{padding-bottom:18px}.mdpbpx19{padding-bottom:19px}.mdpbpx20{padding-bottom:20px}.mdplpx0{padding-left:0px}.mdplpx1{padding-left:1px}.mdplpx2{padding-left:2px}.mdplpx3{padding-left:3px}.mdplpx4{padding-left:4px}.mdplpx5{padding-left:5px}.mdplpx6{padding-left:6px}.mdplpx7{padding-left:7px}.mdplpx8{padding-left:8px}.mdplpx9{padding-left:9px}.mdplpx10{padding-left:10px}.mdplpx11{padding-left:11px}.mdplpx12{padding-left:12px}.mdplpx13{padding-left:13px}.mdplpx14{padding-left:14px}.mdplpx15{padding-left:15px}.mdplpx16{padding-left:16px}.mdplpx17{padding-left:17px}.mdplpx18{padding-left:18px}.mdplpx19{padding-left:19px}.mdplpx20{padding-left:20px}.mdprpx0{padding-right:0px}.mdprpx1{padding-right:1px}.mdprpx2{padding-right:2px}.mdprpx3{padding-right:3px}.mdprpx4{padding-right:4px}.mdprpx5{padding-right:5px}.mdprpx6{padding-right:6px}.mdprpx7{padding-right:7px}.mdprpx8{padding-right:8px}.mdprpx9{padding-right:9px}.mdprpx10{padding-right:10px}.mdprpx11{padding-right:11px}.mdprpx12{padding-right:12px}.mdprpx13{padding-right:13px}.mdprpx14{padding-right:14px}.mdprpx15{padding-right:15px}.mdprpx16{padding-right:16px}.mdprpx17{padding-right:17px}.mdprpx18{padding-right:18px}.mdprpx19{padding-right:19px}.mdprpx20{padding-right:20px}}

@media (min-width: 1200px){.lgptpx0{padding-top:0px}.lgptpx1{padding-top:1px}.lgptpx2{padding-top:2px}.lgptpx3{padding-top:3px}.lgptpx4{padding-top:4px}.lgptpx5{padding-top:5px}.lgptpx6{padding-top:6px}.lgptpx7{padding-top:7px}.lgptpx8{padding-top:8px}.lgptpx9{padding-top:9px}.lgptpx10{padding-top:10px}.lgptpx11{padding-top:11px}.lgptpx12{padding-top:12px}.lgptpx13{padding-top:13px}.lgptpx14{padding-top:14px}.lgptpx15{padding-top:15px}.lgptpx16{padding-top:16px}.lgptpx17{padding-top:17px}.lgptpx18{padding-top:18px}.lgptpx19{padding-top:19px}.lgptpx20{padding-top:20px}.lgpbpx0{padding-bottom:0px}.lgpbpx1{padding-bottom:1px}.lgpbpx2{padding-bottom:2px}.lgpbpx3{padding-bottom:3px}.lgpbpx4{padding-bottom:4px}.lgpbpx5{padding-bottom:5px}.lgpbpx6{padding-bottom:6px}.lgpbpx7{padding-bottom:7px}.lgpbpx8{padding-bottom:8px}.lgpbpx9{padding-bottom:9px}.lgpbpx10{padding-bottom:10px}.lgpbpx11{padding-bottom:11px}.lgpbpx12{padding-bottom:12px}.lgpbpx13{padding-bottom:13px}.lgpbpx14{padding-bottom:14px}.lgpbpx15{padding-bottom:15px}.lgpbpx16{padding-bottom:16px}.lgpbpx17{padding-bottom:17px}.lgpbpx18{padding-bottom:18px}.lgpbpx19{padding-bottom:19px}.lgpbpx20{padding-bottom:20px}.lgplpx0{padding-left:0px}.lgplpx1{padding-left:1px}.lgplpx2{padding-left:2px}.lgplpx3{padding-left:3px}.lgplpx4{padding-left:4px}.lgplpx5{padding-left:5px}.lgplpx6{padding-left:6px}.lgplpx7{padding-left:7px}.lgplpx8{padding-left:8px}.lgplpx9{padding-left:9px}.lgplpx10{padding-left:10px}.lgplpx11{padding-left:11px}.lgplpx12{padding-left:12px}.lgplpx13{padding-left:13px}.lgplpx14{padding-left:14px}.lgplpx15{padding-left:15px}.lgplpx16{padding-left:16px}.lgplpx17{padding-left:17px}.lgplpx18{padding-left:18px}.lgplpx19{padding-left:19px}.lgplpx20{padding-left:20px}.lgprpx0{padding-right:0px}.lgprpx1{padding-right:1px}.lgprpx2{padding-right:2px}.lgprpx3{padding-right:3px}.lgprpx4{padding-right:4px}.lgprpx5{padding-right:5px}.lgprpx6{padding-right:6px}.lgprpx7{padding-right:7px}.lgprpx8{padding-right:8px}.lgprpx9{padding-right:9px}.lgprpx10{padding-right:10px}.lgprpx11{padding-right:11px}.lgprpx12{padding-right:12px}.lgprpx13{padding-right:13px}.lgprpx14{padding-right:14px}.lgprpx15{padding-right:15px}.lgprpx16{padding-right:16px}.lgprpx17{padding-right:17px}.lgprpx18{padding-right:18px}.lgprpx19{padding-right:19px}.lgprpx20{padding-right:20px}}



/*<!--=============================================================-->*/
/*<!--==================All Line Height in Percent=================-->*/
/*<!--=============================================================-->*/
.lh100{line-height:100%}.lh110{line-height:110%}.lh120{line-height:120%}.lh130{line-height:130%}.lh140{line-height:140%}.lh150{line-height:150%}.lh160{line-height:160%}.lh170{line-height:170%}.lh180{line-height:180%}.lh190{line-height:190%}.lh200{line-height:200%}



/*<!--=============================================================-->*/
/*<!--===================== All Font Weight =======================-->*/
/*<!--=============================================================-->*/
.w0{font-weight:0}.w100{font-weight:100}.w200{font-weight:200}.w300{font-weight:300}.w400{font-weight:400}.w500{font-weight:500}.w600{font-weight:600}.w700{font-weight:700}.w800{font-weight:800}.w900{font-weight:900}


/*<!--=============================================================-->*/
/*<!--===================== Common Color =======================-->*/
/*<!--=============================================================-->*/
.red{color: #db1010;}.blue{color:#004174;}.black{color:#000;}.yellow{color:#ff9c4c;}.white{color:#fff;}.yellowtext{color:#ffe42d;}.gray{color:#333;}.offwhite{color:#e6d6d5;}.green{color:#0C0;}.light-pink{color:#112bc9;}
.theme-color{color:#ff9c4c;}

@media (min-width: 240px){
	.xstextcenter{text-align:center;}.xscenter{text-align:center;}
	.xstext-center{text-align:center;}
	.xsblock{display:block; margin-left:auto; margin-right:auto;}
	.xs-block{display:block; margin-left:auto; margin-right:auto;}
	}
@media (min-width: 768px){
	.xstextcenter{text-align:right;}.xscenter{text-align:left;}
	.xstext-center{text-align:left;}
	.xsblock{display:block; margin-left:0; margin-right:auto;}
	.xs-block{display:block; margin-left:auto; margin-right:0;}
	}

.clear{clear:both;}
.inline{display:inline-block;}
.inline-block{display:inline-block;}








.headstrip {
    background-color: #008aff;
    width: 100%;
    padding: 2%;
}




.strip_footer{width:100%; height:auto; background:#cacaca; padding:2% 0;color:#000000;}
.strip_footer a{color:#000000;}