/* MaxFunnel Section */
.revo-section {
	background: #ffffff url(../images/revobg.png) no-repeat top center;
	background-size: cover;
	padding: 70px 0px;
}
.gen-section {
	background: #ffffff url(../images/gen-bg.png) no-repeat top center;
	background-size: cover;
	padding: 90px 0px 120px 0px;
}
.rtg-section {
	background: #ffffff url(../images/rtg-bg.png) no-repeat top center;
	background-size: cover;
	padding: 40px 0px 70px 0px;
}
.bl-section {
	background: #ffffff url(../images/blbg.png) no-repeat top center;
	background-size: cover;
	padding: 70px 0px;
}
.revo-list li {
    background: url(../images/revoicon.png) no-repeat;
    padding: 0 0 15px 40px;
    list-style: none;
    background-position: 1px 5px;
}
.clear{
	clear: both;
}
.shp-blc {
	position: relative;
	background: url(../images/sp1.png) no-repeat top center;
	background-size: cover;
	padding: 47px;
	width: 163px;
	height: 163px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -72px;
}
.icn-shape{
	max-width: 263px;
	background-color: #ffffff;
	border-radius: 20px;
	padding: 70px 15px 15px 15px;
	min-height: 268px;
	margin-left: auto;
	margin-right: auto;
}
.als1-section{
	background-color: #ffffff;
	padding: 45px 0;
}
.als2-section{
	background: #ffffff url(../images/grs.png) no-repeat top center;
	background-size: cover;
	padding: 100px 0px 90px 0px;
}
.als3-section{
	background-color: #ffffff;
	padding: 45px 0;
}
.als4-section{
	background-color: #ffffff;
	padding: 45px 0;
}
.als5-section{
	background: #ffffff url(../images/grs.png) no-repeat top center;
	background-size: cover;
	padding: 100px 0px 90px 0px;
}
.als6-section{
	background: #ffffff url(../images/fnl-img2.png) no-repeat top center;
	background-size: cover;
	padding: 40px 0px 40px 0px;
}
.als7-section{
	background: #ffffff url(../images/grs.png) no-repeat top center;
	background-size: cover;
	padding: 100px 0px 90px 0px;
}
.als8-section{
	background-color: #ffffff;
	padding: 45px 0;
}

/* New CSS */
.next-generation-section{
	background: #224cb0;
	padding: 30px 0px;
}
@media (min-width: 768px) {
	.next-generation-section{
		background: #ffffff url(../images/next-generation.png) no-repeat center center;
		background-size: cover;
		padding: 90px 0px;
	}
	.funnel-image-sm{
		width: 725px;
		min-width: 725px;
		height: 470px;
		margin-left: -270px;
	}
	.mt-sm130{
		margin-top: 130px;	
	}
	.text-sm-black{
		color: #000000;	
	}
}
/* End */
@media (max-width: 767px) {
	.icn-shape{
		min-height: auto;
	}
	.revo-section,
	.bl-section,
	.als3-section{
		padding: 30px 0;
	}
	.gen-section {
	    padding: 70px 0px 70px 0px;
	}
	.rtg-section{
		padding: 30px 0 30px 0;
	}
	.gr-sec{
		background: #eaf2f6;
		padding: 30px 0px;
	}
	.als2-section,
	.gen-section,
	.als5-section,
	.als7-section{
		background: #eaf2f6;
		padding: 30px 0;
	}
}
