.countdown {
	background-color: transparent;
	color:#000000;
	font-family: 'Poppins', sans-serif;;
	text-align: center;	
	display: flex;
	justify-content: space-between;
	position:relative;
}
/* Css For Timer Display */
.timer-label{margin-right:15px;  background:transparent; display:inline-block;  padding:5px 0px 10px 0px!important; width:100%; position:relative;}
.countdown .timer-label:last-child{margin-right:0px;}
.timerbg{font-weight:600; line-height:120%;}
.countdown .timer-label:after{
	content:':';
	position:absolute;
	right:-12px;
	z-index:9;
	font-size:50px;
	top:-10px;
}
.countdown .timer-label:last-child:after{margin-right:0px; content:none;}





