body
{
	font-family: 'Quicksand', sans-serif;
	margin:0;
	padding:0px;
	color:#000000;
	background: url(../images/login-bg.png) no-repeat center center;
	background-size: cover;
	background-attachment:fixed;
}
.mt5{margin-top:5px;}
.mt15{margin-top:15px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.ml30{margin-left:30px;}
.ml20{margin-left:20px;}
.padding0{
	padding:0px;
}
.paddingtop20{
	padding-top:20px;
}
.margin-bottom15{margin-bottom:15px;}

.coursova-slider .carousel-inner{
	width:100%;
	overflow:hidden;
	color:#fffff;
}
.carousel-indicators {
    position: relative;
    bottom: 0px;
    left: 0%;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    margin-left: 0%;
    text-align: center;
    list-style: none;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}
.carousel-indicators li {
    background-color: #7e4cb7;
border:0px solid;
}

.coursova-slider .carousel-inner .item{
	border-radius: 11px;
	background: rgb(65,52,134);
	background: linear-gradient(90deg, rgba(65,52,134,1) 0%, rgba(139,57,196,1) 100%);
	padding:15px;
	

}
.content-slider{
	display:flex;	
	align-items:start;
	gap:20px;
}
@media(min-width: 768px){
.coursova-slider {
	width: 100%;
}

.login-left-padding{
	padding:30px;
}
}
@media(min-width: 992px){
	.coursova-slider {
	max-width:404px
}
.login-wrapper.padding{
	padding:0px 40px;
}
}
@media(min-width: 1200px){
	.coursova-slider {
	max-width:487px;
}
.login-left-padding{
	padding:30px 30px 30px 90px;
}
}
.coursova-slider .carousel-inner .description{
	margin:0px;
	padding:0px;
	margin-bottom:15px;
	color:#ffffff;
	line-height:22px;
	font-size:13px;
	font-weight:400;	
}
.coursova-slider .carousel-inner .name{
	color:#ffffff;
	line-height:22px;
	font-size:13px;
	font-weight:400;	
	text-align:right;
}
.coursova-slider .carousel-inner .designation{
	color:#000000;
	line-height:22px;
	font-size:17px;
	font-weight:400;
	margin-bottom:8px;
}

.coursova-slider .carousel-inner .arrow{
	color:white;
	font-size:20px;
	line-height: 0px;
	text-decoration:none;
}

.list-headline{
	font-weight:700;
	font-size:22px;
	color:#ffffff;
	margin-top:30px;
}
ul.check-list {
    padding: 0;
    margin: 0;
}
ul.check-list li {
    background: url(../images/check-arrow.png) no-repeat;
    padding: 12px 0 0 40px;
    line-height: normal;
    margin-top: 5px;
    list-style: none;
    background-position: 0px 20px;
	font-size:18px;
	font-weight:400;
	color:#ffffff;
}
.seprate-line{
	background:#533994;
	width:100%;
	height:1px;
	margin:20px 0px;
}
@media(min-width: 768px){
	.seprate-line{

	margin:50px 0px;
}
	.list-headline{
	font-weight:700;
	font-size:30px;
	color:#ffffff;
	margin-top:20px;
}
ul.check-list li {
	font-size:20px;
}
	.body-padding{
		padding:30px;
	}
	.logo-position{
	position:fixed;
	top:30px;
}
.ml-sm-auto{margin-left:0 !important;}

}

@media (min-width: 768px){
.login-wrapper {
	min-height:100%;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
    -ms-flex-line-pack: center!important;
    align-content: center!important;
	background:#ffffff;
}
.right-content-wraaper {
	 min-height: calc(100% - 110px);
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
    -ms-flex-line-pack: center!important;
    align-content: center!important;
}

}
@media (min-width: 1200px){
.login-wrapper {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
    -ms-flex-line-pack: center!important;
    align-content: center!important;
	
}

}
.padding30{
		padding:30px;
}
.padding20{
		padding:20px;
}
.paddingy20{
		padding-top:20px;
		padding-bottom:20px;
}
@media (max-width: 767px){
	.xs-center-block{
		    display: block;
    margin-right: auto;
    margin-left: auto;
	}
	.login-wrapper-bg {
    background: #ffffff;
    position: relative;
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.login-wrapper-bg .padding30{
	padding:30px 20px;
}
}
.login-wrapper-bg{
	padding:0px;
}
@media(min-width: 1200px){
.login-wrapper-bg .padding30{
	padding:30px 60px;
}
.login-wrapper-bg .padding-box.padding30{
	padding:30px 30px !important;
}
}
.login-wrapper-bg .headline{
	font-size:24px;
	color:#14016a;
	font-weight:bold;
	line-height:30px;
	margin-bottom:15px;
	text-align:center;
}
.login-wrapper-bg .headline1{
	font-size:36px;
	color:#14016a;
	font-weight:bold;
	line-height:30px;
	margin-bottom:15px;
	text-align:center;
}
.login-wrapper-bg .subheadline{
	font-size:17px;
	color:#14016a;
	font-weight:500;
	line-height:22px;
	margin-bottom:15px;
	text-align:center;
}
a.google-login-btn{
	display:flex;
	align-items:center;
	border:solid 1px #afbbd0;
	border-radius:5px;
	padding:8px 25px;
	justify-content:center;
	font-size:14px;
	color:#000000;
	font-weight:500;
	text-decoration:none;
	margin-bottom:15px;
}

a.google-login-btn span{
	margin-left:10px;
}

.seprate-text {
    overflow: hidden;
    text-align: center;
	color:#9eadc3;
	font-size:14px;
	margin-bottom:15px;
}
.seprate-text:before,
.seprate-text:after {
    background-color: #9eadc3;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.seprate-text:before {
    right: 0.8em;
    margin-left: -50%;
}
.seprate-text:after {
    left: 0.8em;
    margin-right: -50%;
}
.relative{position:relative;}
.coursova-form .form-control,
.coursova-form .form-control:focus{
    height: 40px;
    border: 1px solid #bac4d6;
    box-shadow: none;
    border-radius: 5px;
    color: #000000;
    padding: 10px 20px;
    outline: none;
    line-height: normal;
    font-size: 15px;
	margin-bottom:15px;
}
.coursova-form .form-control.password{
    padding: 10px 40px 10px 20px !important;
}

.coursova-form .form-control-feedback {
    top: 13px;
	right:20px;
    color: #969cad;
    font-size: 13px;
    cursor: pointer;
    pointer-events: fill;
    z-index: 100;
    width: auto;
    height: auto;
    line-height: normal;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9eadc3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9eadc3;
}
:-ms-input-placeholder { /* IE 10+ */
 color: #9eadc3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9eadc3;
}

.signbtn{
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	padding:9px 25px;
	color: #fff;
	margin: auto;
	border:0;
	font-weight:500;
	font-size:16px;
	background: -moz-linear-gradient( 360deg, rgb(16,0,103) 0%, rgb(113,8,183) 100%);
	background: -webkit-linear-gradient( 360deg, rgb(16,0,103) 0%, rgb(113,8,183) 100%);
	background: -ms-linear-gradient( 360deg, rgb(16,0,103) 0%, rgb(113,8,183) 100%);
	}
.signbtn:hover {
    background: -moz-linear-gradient( 360deg, rgb(113,8,183) 0%, rgb(16,03,103) 100%);
    background: -webkit-linear-gradient( 360deg, rgb(113,8,183) 0%, rgb(16,03,103) 100%);
    background: -ms-linear-gradient( 360deg, rgb(113,8,183) 0%, rgb(16,03,103) 100%);
}

a.forgot-link{
	font-size:16px;
	color:#000000;
	text-decoration:none;
	white-space:nowrap;
	margin-left:20px;
	font-weight:500;
}
.form-footer{
	padding:15px 30px 15px 30px;
	border-top:solid 1px #afbbd0; 
	font-size:15px;
	color:#4b535f;
	text-align:center;
	font-weight:500;
}
.form-footer a{color:#000000; text-decoration:none; font-weight:700;}


/* Bootstarp 4 Flex Classes */
.mx-auto{margin-left:auto; margin-right:auto;}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.justify-content-center {
    justify-content: center!important;
}
.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}
.align-items-center {
   align-items: center !important;
}
@media (min-width:768px){
.d-sm-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
.justify-content-sm-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.justify-content-sm-center {
    justify-content: center!important;
}
}