html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #121733;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
}

.caveat{
    font-family: 'Caveat', cursive;
}

/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.black-clr {
    color: #121733;
}

.red-clr{
    color: #FF2C2C;
}

.purple-gradient {
    background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* Header CSS */
.header-section {
    background: #0A071E;
    padding: 30px 0;
    position: relative;
}

.header-list-block {
    border-radius: 0 0 20px 20px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.caveat {
    font-family: 'Caveat', cursive;
}
.presenting-head {
    background: #1FE29F;
    border-radius: 40px;
    padding: 9px 15px;
    display: inline-block;
}
.fifth-section {
    background: #0a071e;
    padding: 30px 0px;
}
.preheadline{
    background: rgba(255, 255, 255, 0.1);
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 43px;
    display: inline-block;
    padding: 10px;
  }

.head-design {
    background: #FFFFFF;
    border-radius: 0px 30px;
    padding:30px 15px 15px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gametext {
    background: #1FE29F;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #121733;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -25px;
    z-index: 99;
    line-height: 30px;
}
@media(min-width:768px) {
    .preheadline{
        padding:7px 35px;
      }
   
    .header-section {
        background: #fff url(../images/header-bg.webp) no-repeat center bottom;
        padding: 40px 0px 100px 0px;
        background-size: cover;
    }
    .fifth-section {
        padding: 80px 0px 150px 0px;
        background: #fff url(../images/proudlybg.webp) no-repeat bottom center;
        background-size: cover;
    }
    .presenting-head{
        padding: 9px 50px;
    }
    .head-design {
        padding: 30px;
    }
    .gametext {
        background: url(../images/cutting-edge-bg.webp) center center no-repeat;
        padding: 10px 60px 15px 20px;
        font-size: 24px;
        background-size: 100% 100%;
        text-align: left;
        left: -6px;
    }
}


.probtn1 a {  
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
}

@media(min-width:768px) {
    .header-list-block {
        padding: 40px 30px
    }
    .probtn1 a {  
        font-size: 38px;
        padding: 28px 30px;
        display: inline-block;
        width: auto;
    }    
}

.probtn1 a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    text-decoration: none;
}

.kapblue {
    color: #150de1
}

.thats-not-all-section {
    background: #fff;
    background-size: cover;
    padding: 30px 0
}
.one-time-shape {
    padding: 10px;
    background: #224cb0;
    border-radius: 5px
}
.amazing-software-section1 {
    background: url(../images/nothing-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 30px 0;
}

@media(min-width:767px) {
  
    .one-time-shape {
        background: url(../images/one-time-shape.webp) no-repeat center center;
        background-size: contain;
        border: 0;
        border-radius: 0;
        padding: 30px 15px 53px 15px;
    }
    .thats-not-all-section {
        background: url(../images/white-section-bg.webp) no-repeat;
        padding: 60px 0px;
        background-size: cover;
        background-position: top center
    }
    .amazing-software-section1 {
        padding: 100px 0;
    }
}

.second-section {
    padding: 0 0 30px 0;
    background: #fff
}

@media(min-width:768px) {
    .second-section {
        padding: 0 0 100px 0;
        background: #fff url(../images/second-sec-bg.webp) no-repeat;
        background-position: center center
    }
}


.white-section {
    background: #fff;
    padding: 30px 0
}

.footer-section {
    background: #000;
    padding: 30px 0
}

.footer-ul {
    padding: 0;
    margin: 0
}

.footer-ul li {
    display: inline
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline
}

@media(min-width:768px) {
    .footer-section {
        padding: 70px 0
    }
}

.probtn a {
    border-radius: 10px;
    background-color: #224cb0;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 12px;
    color: #fff;
    font-weight: 600
}

.probtn a:hover {
    background-color: #315dc6
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101
}

.tablebox3 {
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
    position: relative;
    border: solid 1px #071125;
}

ul.vgreytick {
    padding: 0
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #000
}

ul.vgreytick li:nth-child(odd) {
    background-color: #EFEFF9;
}

ul.vgreytick li:nth-child(even) {
    background-color: #fff
}

ul.vgreytick li:last-child {
    border-bottom: 0
}

ul.grey-tick-last {
    padding: 0;
    margin:0px;
}

ul.grey-tick-last li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #08041e;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #fff
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #EFEFF9;
}

.tbbg2 {
    background: #fff;
    padding: 50px 30px 30px 30px;
    background-size: cover;
    border-radius: 10px 10px 0 0
}

.tbbg3 {
    background: #071125;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0 0
}
@media(min-width:768px) {
    .gx-6 {
        --bs-gutter-x: 4rem
    }
    .probtn a {
        padding: 27px 50px
    }
    .tbbg2 {
        padding: 40px 30px 40px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }
    .tbbg3 {
        padding: 40px 30px 40px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    color: #000;
    background: #fff;
    border-radius: 0 0 10px 10px;
    border-top: 0
}

.myfeatureslastborder {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    min-height: 69px;
    background: #fff
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none
}

@media(min-width:768px) {
    .myfeatureslast {
        padding: 30px
    }
}

.grey-section {
    background: #EFEFF9;
    padding: 30px 0
}

.moneyback-section {
    padding: 30px 0px;
    background: #0d072d;
}

.bonus-section {
    background: #eef0ff ;
    background-size: cover;
    padding: 30px 0;
}
.white-bonusbox-bg{
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(90 90 90 / 40%);
}
.table-section {
    background: #fff;
    padding: 30px 0
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
    margin:0px;
}

.tablebox2 {
    background: #fff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #071125;
}
.footer-ul li a:hover {
    color: #ffffff;
    text-decoration: none;
}
@media(min-width:768px) {
    .table-section {
        padding: 100px 0;
        background: url(../images/table-bg.webp) no-repeat center center;
        background-size:cover;
    }
    .bonus-section {
        background: url(../images/bonus-bg.webp) no-repeat;
        background-size: cover;
        background-position: center bottom;
        padding: 100px 0px;
    }
    .white-bonusbox-bg{
        background-color: white;
        padding: 30px 50px;
        border-radius: 40px;
        box-shadow: 0px 0px 22px 0px rgb(90 90 90 / 40%);
    }
    .moneyback-section {
        padding: 100px 0;
        background: #eff0f9  url(../images/moneyback-bg.webp) no-repeat bottom center;
        background-size: cover;
        z-index: 9;
        position: relative;
    }
}

@media(min-width:768px) {
    .white-section {
        padding: 100px 0;
        background: url(../images/white-section-bg.webp) no-repeat;
        background-position: center center
    }
    .grey-section {
        padding: 100px 0px;
    }
}

.feature-shape {
    background: #FF2C2C;
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}
@media(min-width:768px){
    .feature-shape:after {
        content: '';
        background: url(../images/line-shape.webp) no-repeat right bottom;
        padding: 22px 0;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -15px;
        right: -15px;
    }
}

/* Floating Btn */

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#7764ff;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#E76D24;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}