/* Testimonial CSS */


.testimonial-section1 {
    background: #c9d2de;
    padding: 30px 0px;
}

.clear {
    clear: both;
}

@media (min-width:768px) {
	.testimonial-section1 {
        background: #ede9f7 url(../images/testimonial-bg1.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }

}

/* Client video css */

.client-video-section {
    background: #deeaff;
    padding: 30px 0px;
}

.video-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

@media (min-width:768px) {
    .client-video-section {
        background: #deeaff url(../images/client-video-bg.png) no-repeat center center;
        background-size: cover;
		padding: 100px 0px;
    }
}

/* HUGE Opportunity css */

.probelm-bg-section {
        background: #ffe5e5;
        padding: 30px 0px;
    }

@media (min-width:768px) {
	.probelm-bg-section {
       background: #ffe5e5 url(../images/probelm-bg-section.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}