body {
	font-family: 'Work Sans', sans-serif;
    color: #080d1a;
    font-size: 14px;
}
/* colors */
.purple {color:#ff7200;}
.greentext {color: #d8f67e;}
.green-clr{color:#00ff84;}
.yellow-clr {
    color: #fff600;
}

/* Main Header Section CSS */
.main-header{
	background:#080d21;
	padding:40px 15px;
}

.yellow-bg {
    background:#fff600;
    padding: 15px;
    display: inline-block;
    border-radius: 5px;
}

.content-box{
	background:#fff;
	padding:30px 15px;
	border-radius:5px;
}

.video-frame {
    padding: 0;
    background: transparent;
}
.highlight-heading {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgb(19 22 38 / 20%);
}
@media (min-width: 768px) {
	.highlight-heading {
		position: relative;
		padding: 25px 25px 20px;
		transform: skew(-7deg);
	}
}
@media (min-width: 768px) {
	.rotate-5 {
		transform: skew(7deg);
	}
}

/* Affiliate Bonus Buy Button */
a.bonusbuy-btn,
a.bonusbuy-btn:focus {
	    border-radius: 65px;
    background-image: -moz-linear-gradient( 0deg, rgb(255,114,0) 0%, rgb(255,129,28) 63%, rgb(255,144,55) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(255,114,0) 0%, rgb(255,129,28) 63%, rgb(255,144,55) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(255,114,0) 0%, rgb(255,129,28) 63%, rgb(255,144,55) 100%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: 140%;
}
a.bonusbuy-btn:hover, 
a.bonusbuy-btn:focus {
	background: rgb(255,143,53);
    background: linear-gradient( 90deg, rgba(255,143,53,1) 0%, rgba(255,116,3,1) 100%);
    text-decoration: none;
}


@media (min-width: 768px) {
.probtn a {
    padding: 27px 50px;
}
.yellow-bg {
    padding: 15px 40px;
}
}
/* Bonus Header Section bg Start Main Css */

.bonus-header {
	padding: 30px 10px 0px 10px;
}

.heading-bg {
	background-color: #ee3725;
	border-radius: 10px;
	padding: 15px 15px;
	color:#ffffff;
}

.bonus-title-bg {
	padding: 15px 35px;
	border-radius: 10px;
	color: #ffffff;
	background:#1a243f;
	display: inline-block;
	text-transform:uppercase;
}
.section-bonus{
	padding:30px 0px 0px 0px;
}
.cta-btn-section{
	padding:30px 0px 0px 0px;
}

.bonus-title-color {
	color:#ff7200;
}

.bonus-list li {
	background: url(../images/kap-tick.png) no-repeat;
	background-position:0 10px;	
	padding-left: 3rem;
	padding-bottom:25px;
	list-style-type: none;
}
.bonus-list li:last-child{
	padding-bottom:0px;
}
.mw-60 {
	max-width: 60%;
}


/* Huge Section background main CSS */
.huge-area {
    background: url(../images/huge.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    padding: 100px 0 70px;
    color:#fff;
}

.huge-area {
    	background: #100370;
    	padding: 40px 0;
	}


.white-section{
	background:rgb(255,255,255);
	padding:30px 15px;
}


/* Footer Section Start Main CSS */
.strip_footer {
    background:#080d1a;
    padding: 40px 0px 40px;
    color:#fff;
}

.strip_footer a {
    color: white;
}


/* Exit Pop Up Css Start */
#ouibounce-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

#ouibounce-modal .underlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	cursor: pointer;
	-webkit-animation: fadein .5s;
	animation: fadein .5s
}


/* #ouibounce-modal .modal-body {
	padding: 0px 20px;
	font-size: .9em
} */


@-webkit-keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@-ms-keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@-webkit-keyframes popin {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 0
	}
	85% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 1
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

@-ms-keyframes popin {
	0% {
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0
	}
	85% {
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 1
	}
	100% {
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

@keyframes popin {
	0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0
	}
	85% {
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 1
	}
	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}


.modal-body {
	position: relative;
	padding: 15px;
}

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.close {
	float: right;
    font-size: 30px;
    opacity: 1;
    outline: none;
    color: #300476 !important;
    font-weight: 400;
    background: #ffe8cc !important;
    top: 1px;
    position: absolute;
    z-index: 2;
    right: 1px;
    padding: 0px 5px 0px 5px !important;
}

.modal-header .close {
	margin-top: -5px;
}

.innerbody {
	border-radius: 10px;
	margin-top: -1%;
	float: left;
	width: 100%;
}

.popupbg {
	background: url(../images/exitbg.png) repeat;
	padding: 8px 0px;
}


/* Media Querry Start */

/* For Header Bg */
@media(min-width:768px) {
	.main-header{
	    background: #ffffff url(../images/header-bg.png);
	    background-repeat: no-repeat;
	    background-position: bottom center;
	    background-size: cover;
	    padding: 40px 0px 100px 0px;
	}


	.content-box {
    	background-color:#fff;
    	position: relative;
    	padding: 25px 25px 20px;
    	transform: skew(-7deg);
    	border-radius: 25px;
    	display: inline-block;
    	box-shadow: -1.04px 4.891px 6px 0px rgba(19, 22, 38, 0.2);
	}

	.bonus-header {
		padding: 70px 0px 0px 0px;
	}
	
	.heading-bg {
		background: url(../images/head-bg.png);
		background-repeat: no-repeat;
		background-position: top center;
		padding:50px 15px 100px 15px;
		background-size: 100% 100%;
	}

	a.bonusbuy-btn, a.bonusbuy-btn:focus {
		font-size: 42px;
		padding: 28px 30px;
		width: auto;
	}
	
	.section-bonus{
		padding:30px 0px;
	}
	
	.cta-btn-section{
		padding:20px 0px;
	}

	.huge-area {
    	background: #ffe8cc url(../images/header-bg.png);
    	background-repeat: no-repeat;
   	 	background-size: cover;
    	background-position: inherit;
    	padding: 70px 0 70px;
    	color:#fff;
	}

	.strip_footer {
	    background:#080d1a;
	    padding: 70px 0px;
	    color: #fff;
	}
}

/* Exit Popup CSS */
.link-btn a{
	background-color: #F33A3A;
    color: #fff;
    font-size: 22px;
    font-weight:400;
    line-height: 33px;
    display: inline-block;
    border-radius:2px;
    text-decoration: none;
    padding: 8px 60px;
}

.pop-padding{padding:20px 30px 20px 30px;}
.border-pop{border: 1px solid; padding:30px; margin: 15px 0;}



@media(max-width:767px){
	.xstext1{text-align:center;}
}


/*Academy Pro CSS*/

.section-host {
    padding: 30px 0px 0px;
    background: #ffffff url(../images/host-bg.png) no-repeat center center;
    background-size: cover;
}

.kapblue {
    color: #0063eb;
}


/*Section-2*/

.second-section {
    background: #eaf3ff;
    padding: 30px 0px;
}

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 20px 55px;
}

@media (min-width: 768px){
	.kaptick li {
    	padding: 0 0 30px 50px;
	}
}

@media (min-width: 768px){
	.second-section {
	    padding: 200px 0px 100px;
	    background: #ffffff url(../images/featpointbg.png) no-repeat center top;
	    background-size: cover;
	}
}


@media (min-width: 768px){
	.section-host {padding:50px 0px 50px 0px;}
}


/*Section-3 testimonial*/
.video-testimonial-section {
    background: #f2f4fa;
    padding: 30px 0px;
}

@media (min-width: 768px){
	.video-testimonial-section {
		background: #f2f4fa url(../images/video-testimonial-bg.png) no-repeat center center;
		background-size: cover;
		padding: 100px 0px 100px 0px;
	}
}

.video-shadow {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
}

/*Section-4 Start*/
.anything-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px){
	.anything-section {
		background: #ffffff url(../images/anything-section.png) no-repeat center center;
		background-size: cover;
		padding: 100px 0px;
	}
}

/*Section-5 CSS*/

.endstory {
    background: #eaf3ff;
    padding: 30px 0px;
}

@media (min-width: 768px){
	.endstory {
	    background: #ffffff url(../images/endstory.png) no-repeat center bottom;
	    background-size: cover;
	    padding: 100px 0px 120px;
	}
}


/*Section-7*/
.stats-section {
    background: #ffffff;
    padding: 30px 15px;
}

@media (min-width: 768px){
	.stats-section {
    	padding: 100px 0px;
    	background: #ffffff url(../images/stats-bg-section.png) no-repeat center center;
    	background-size: cover;
	}
}



.content-style1, .content-style2 {
    background: #ede9f7;
    border-radius: 5px;
    padding: 15px;
    border: solid 1px #c8c5cc;
}


@media (min-width: 768px){
	.content-style1 {
	    background: #ffffff url(../images/content-style1.png) no-repeat center center;
	    background-size: 100% 100%;
	    padding: 30px 50px 30px 50px;
	    border: none;
	}
}



/*Section-9 Start*/
.proudly-section {
    background: #080f23;
    padding: 30px 0px;
}

.black-design1 {
	background: #ff7200;
    padding: 15px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block;
}
@media (min-width: 768px) {
	.black-design1 {
		padding: 16px 79px 18px 65px;
		background: url(../images/proudly-shape.png) no-repeat;
		background-size: contain;
		background-position: center;
	}
}
.black-design1 .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}
@media (min-width: 768px) {
	.next-gen-img {
		position: absolute;
		left: -15px;
		max-width: 45%;
		bottom: 15%;
	}
}
@media (min-width: 768px){
	.proudly-section {
		background: #ffffff url(../images/proudly-bg.png) no-repeat;
		background-position: top center;
		background-size: cover;
		padding: 160px 0px 100px 0px;
	}
}

.step-bg {
    display: inline-block;
    background: #ff7200;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}
@media screen and (max-width: 767px) {
.inner-content {
    margin: auto !important;
}
}



.steps-section2 {
    background: #ffffff;
    padding: 30px 0px;
}


@media (min-width: 768px){
	.steps-section2 {
    	padding: 90px 0px 0px 0px;
    	background: #ffffff url(../images/steps-section2.png) no-repeat center center;
    	background-size: cover;
	}
}


@media (min-width: 768px){
	.compare-table-sec {
	    background: #ffffff url(../images/ct-bg.png) no-repeat top center;
	    background-size: cover;
	    padding: 100px 0px;
	}
}


.compare-table-sec {
    background: #ffffff;
    padding: 30px 15px;
}

.amazingdeal-shape {
    background: #370581;
    padding: 12px;
    border-radius: 5px;
}
.no-comparison-shape-bg {
	background: #3382ef;
	padding: 15px 30px;
	-webkit-transform: skew(-200deg);
	-moz-transform: skew(-200deg);
	transform: skew(-200deg);
	display: inline-block;
}
.no-comparison-shape-bg .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}
@media (min-width: 768px){
	.no-comparison-shape-bg {
		padding: 15px 60px;
	}
}

/*Grand Bonus Start*/

.grand{
	padding:40px 15px;
	background:#ff7800;
}
.nutcolor {
    color: #fff601;
}
.adv-vid-section{
	background: #4c4ae5;
    padding: 4% 0 4%;
}

@media (min-width: 768px){
	.adv-vid-section{
		background: #ffffff url(../images/bg-gr.png) no-repeat center center;
		background-size: cover;
	}
}


.logo-vd{
	padding:25px 15px;
}

.white-area{
	padding:50px 15px;
}



.testi-block {
	position: relative;
    background: #ffffff;
    padding: 50px 15px 15px 15px;
    box-shadow: 0px 0px 15px 0px rgb(73 76 80 / 25%);
}

@media (min-width: 768px){
	.testi-block {
		padding: 65px 30px 30px 30px;
	}
}
.shape-testi {
    background: #1a243f;
    border-radius: 65px;
    padding: 12px 35px;
    display: inline-block;
    margin-top: -75px;
    position: absolute;
    color: #ffffff;
}
@media (min-width: 768px) {
	.shape-testi {
		margin-top: -95px;
	}
}
.clear{clear:both;}
.step-bg1 {
    display: inline-block;
    background: #ff7200;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}
.no-installation {
    background: #f2f4fa;
    padding: 30px 0px;
}
@media (min-width: 768px) {
	.no-installation {
		background: #ffffff url(../images/no-installation.png) no-repeat top center;
		background-size: cover;
		padding: 180px 0px 100px;
	}
}

.section-checkout {
	padding: 30px 0px;
    background: #ffffff url(../images/section-checkout.png) no-repeat center center;
    background-size: cover;
}
@media (min-width: 768px) {
	.section-checkout {
		padding: 100px 0px 0px 0px;
	}
}

.client-video-section {
    background: #f2f4fa;
    padding: 30px 0px;
}
@media (min-width: 768px) {
.client-video-section {
    background: #f2f4fa url(../images/client-video-bg.png) no-repeat center center;
    background-size: cover;
    padding: 100px 0px;
}
}
.grand-logo-bg {
	background: #ffffff;
	padding: 2% 0;
}
.orange, 
a.orange {
    color: #ff7200;
}


.thatsall-section1 {
    padding: 30px 0px;
    background: #f2f4fa;
}
@media (min-width: 768px) {
.thatsall-section1 {
    padding: 10px 0px 150px;
    background: #f2f4fa url(../images/thatsall-section1.png) no-repeat center center;
    background-size: cover;
}
}
.facts-block {
    position: relative;
    background: #1c2641;
    padding: 50px 15px 15px 15px;
}
@media (min-width: 768px) {
.facts-block {
    padding: 65px 30px 30px 30px;
}
}
.shape-testi1 {
    background: #ff7200;
    border-radius: 65px;
    padding: 12px 32px;
    display: inline-block;
    position: absolute;
    color: #ffffff;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 318px;
    margin-top: -76px !important;
}
@media (min-width: 768px) {
	.shape-testi1 {
		margin-top: -95px !important;
	}
}
.affiliate-section {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width: 768px) {
.affiliate-section {
    padding: 100px 0px 10px;
    background: #ffffff url(../images/affiliate-section.png) no-repeat center center;
    background-size: cover;
}
}