.grand-1{
	background:#FF9800;
	padding:40px 15px;
}

.logo-gr{
	background:#fff;
	padding:30px 15px;
}

.gr1a{
	background:#fff url(../images/gr1a.png);
	background-repeat:no-repeat;
	background-size:cover;
	padding:40px 15px 60px 15px;
}

.dj{
	background:#ffcc00;
	padding:10px 15px;
	display:inline-block;
	border-radius:3px;
}

.pink{
	color:#fd3768;
}

.demo{
	background:#fff;
	padding:40px 15px 50px 15px;
}