body {
    font-family: 'Poppins', sans-serif;
    color: #020d13;
    font-size: 14px;
}

.white-clr,
a.white-clr {
    color: #ffffff;
}

.black-clr {
    color: #020d13;
}

.text-nowrap {
    white-space: nowrap;
}


/* Color CSS */

.blue-clr,
a.blue-clr {
    color: #0084ff;
}

.lightcolor {
    color: #eaab26;
}

.red-clr {
    color: #ff3c00;
}

.kapblue {
    color: #224cb0;
}

.grey-clr {
    color: #d6d6d6;
}

.orange-clr {
    color: #eaab26;
}

.red-clr {
    color: #ff3c00;
}

.v-grey-clr {
    color: #303030;
}

.yellow-clr {
    color: #fff600;
}

.orange-clr1 {
    color: #e15a00;
}

.blue-clr {
    color: #0063eb;
}

.text-nowrap {
    white-space: nowrap;
}

.heading-bg {
    background: #ffffff;
    border-radius: 5px;
    padding: 15px;
}


/* Color CSS */

.blue-clr,
a.blue-clr {
    color: #003770;
}

.orange-clr {
    color: #ffd454;
}


.footer-section,
.prize-section {
    padding: 30px 0px;
}


/* Header CSS */

.banner-section {
    background:#f7d309;
	 padding: 30px 0px;
}

.blue-back {
    background: #0084ff;
}

.text-bg-block {
    background: #ffd454;
    border-radius: 15px;
    padding: 8px 20px;
    display: inline-block;
    text-align: center;
}

.heading-icon {
    display: block;
    margin-left: 86%;
    margin-top: -18px;
}


/* Responsive Video CSS */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border: 4px solid #ffffff;
    border-radius: 0px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.register-form-back {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 35.88px 3.12px rgba(89, 86, 225, 0.11);
    padding: 15px;
}

.register-form-style1 {
    margin: 0px;
}

.register-form-style1 .form-control.input-field {
    border: 2px solid #dadce5;
    border-radius: 5px;
    background-color: #f3f6ff;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none;
    padding: 6px 18px;
}

.register-btn a {
    border-radius: 50px;
    background: #0084ff;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    padding: 14px 12px;
    line-height: 120%;
    font-weight: 600;
    border: 0;
    outline: none;
    text-transform: uppercase;
}

.prize-section {
    background: #ffffff url(../images/prize-bg.png) no-repeat center center;
    background-size: cover;
}

.list-style {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.list-style li {
    background: url(../images/tick.png) no-repeat;
    background-position: 0px 7px;
    padding: 0px 0px 15px 40px;
}

.list-style li:last-child {
    padding-bottom: 0px;
}

.formbg {
    position: relative;
    padding: 15px;
    border-radius: 5px;
    background-color: #04134a;
    border: solid 1px #cacaca;
}

.width-form {
    width: 100%;
    float: left;
    padding: 0px 0px;
}

.register-form-style2 .form-control.input-field {
    border-radius: 5px;
    background-color: #f3f6ff;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    padding: 6px 18px;
    border: solid 1px #f3f6ff;
}

#templateBody ::-webkit-input-placeholder {
    color: #2b2f3a;
    font-size: 16px;
}

#templateBody :-ms-input-placeholder {
    color: #2b2f3a;
    font-size: 16px;
}

#templateBody ::placeholder {
    color: #2b2f3a;
    font-size: 16px;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 30px;
    background: #0084ff;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    padding: 16px 60px;
    line-height: 120%;
    font-weight: 500;
    border: 0;
    outline: none;
}

.popup-btn a:hover,
.register-btn a:hover {
    background: #0073de;
}

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}
.highlihgt-heading {
    position: relative;
    padding: 10px 5px;
    display: inline-block;
    color: #f7d309;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    transform: skew(-10deg);
}
.highlihgt-heading span {
    transform: skew(10deg);
    display: inline-block;
}
@media (min-width: 768px) {
	.highlihgt-heading {
    position: relative;
    padding: 15px 20px;
}
    .banner-section {
        background: #ffffff url(../images/banner-bg.png) no-repeat center bottom;
        background-size: cover;
        padding:40px 0px 120px 0px;
    }
    .heading-bg {
        background: url(../images/heading-bg.png) no-repeat;
        background-size: 100% 100%;
        padding: 50px 55px 60px 160px;
        background-position: center;
        position: relative;
    }
    .footer-section {
        padding: 50px 0px;
    }
    .px-sm45 {
        padding-left: 45px;
        padding-right: 45px;
    }
    .heading-icon {
        margin-left: auto;
        margin-right: -39px;
        margin-top: -33px;
    }
    .text-bg-block {
        padding: 8px 32px;
        border-radius: 45px;
    }
    .responsive-video {
        border: 8px solid #ffffff;
    }
    .register-form-back {
        padding: 30px 25px;
    }
    .register-form-style1 .form-control.input-field {
        height: 51px;
        font-size: 20px;
    }
    .register-btn a {
        font-size: 24px;
        padding: 16px 12px;
        display: inline-block;
        min-width: 350px;
        width: auto;
        margin: auto;
    }
    .prize-section {
        padding: 60px 0px 80px;
    }
    .list-style li {
        padding: 0px 0px 30px 44px;
    }
    .formbg {
        padding: 40px 35px;
        background: #04134a;
        border: none;
        border-radius: 15px;
        box-shadow: 0px 0px 35.88px 3.12px rgba(24, 19, 219, 0.11);
    }
    .width-form {
        width: 50%;
        padding: 0px 15px;
    }
    .width-form-button {
        width: 50%;
        padding: 0px 15px;
    }
    #templateBody ::-webkit-input-placeholder {
        font-size: 20px;
    }
    #templateBody :-ms-input-placeholder {
        font-size: 20px;
    }
    #templateBody ::placeholder {
        font-size: 20px;
    }
    #templateBody .form-control.input-field {
        height: 60px;
        font-size: 20px;
    }
    .mt-sm120 {
        margin-top: 120px;
    }
}

@media (max-width: 767px) {
    .register-form-back {
        min-height: 315px;
    }
    .formbg {
        min-height: 350px;
    }
    .xstext-center {
        text-align: center;
    }
}

.post-heading {
    background: #ffcf69;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
}