


/* Bonus Section */

.bonus-section {
    padding: 30px 0px;
}

.margin-t-60 {
    margin-top: -40px;
}

.bonus-section-shape {
    position: relative;
    border-radius: 10px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    height: 100%;
    border:1px solid #00A4FF;
}

.bonus-headline {
    background: linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}

.bonus-gradient {
    background: linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    display: inline-block;
    padding: 30px 30px 15px 30px;
    border-radius: 0px 0px 30px 30px;
}

@media (min-width: 768px) {

    .bonus-section {
        padding: 100px 0px;
    }
    .margin-t-60 {
        margin-top: -60px;
    }
    .bonus-section-shape {
        padding: 20px;
    }
    .f-md-100 {
        font-size: 100px;
    }
    .lh240 {
        line-height: 240%;
    }
}

/* Bonus Section End */

.license-section {
    background: #ffffff url(../images/license-section-bg.webp)no-repeat bottom center;
    background-size: cover;
    padding:30px 0px;
}

@media (min-width:768px) {
    .license-section {
        padding:100px 0px 120px 0px;
    }
}

.noneed-section {
    padding: 30px 0px;
    background: #EFF5F9;
}


@media (min-width: 768px) {
    .noneed-section {
        padding: 100px 0px;
    }
}

.noneed-list li {
    list-style: none;
    background: url(../images/tick-icon.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 25px 40px;
}
.noneed-list li:last-child{
	padding-bottom:0px;
}

.riskfree-section {
    background: #090a2e;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .riskfree-section {
        padding: 100px 0px;
        background: #ffffff url(../images/license-section-bg.webp) no-repeat center center;
        background-size: cover;
    }
}

/* Table Section */

.table-section {
    background: #ffffff;
    padding: 30px 15px;
    color: #000000;
}

.table-wrap {
    width: 100%;
    float: left;
    overflow: hidden;
    border-width: 1px;
    border-color: rgb(216, 216, 225);
    border-style: solid;
    border-radius: 30px;
    background-color: #fff;
}

.table-head {
    padding: 50px 30px 30px 30px;
}

@media (min-width: 768px) {
    .table-head {
        padding: 50px 30px 30px 30px;
    }
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
}

.table-wrap1 {
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 40px;
    background-color: #090520;
    box-shadow: 0px 0px 28px 7px rgba(0, 0, 0, 0.2);
}

.table-head1 {
    padding: 50px 30px 30px 30px;
    text-align: center;
}

@media (min-width: 768px) {
    .table-head1 {
        padding: 50px 30px 30px 30px;
        text-align: center;
    }
}

.table-list li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    background-image: url(../images/fav.webp), url(../images/table-sep-line.webp);
    background-position: 20px 18px, bottom center;
    background-repeat: no-repeat, no-repeat;
}

.table-list li.cross-sign {
    background-image: url(../images/red-cross.webp), url(../images/table-sep-line.webp) !important;
    background-position: 20px 18px, bottom center !important;
    background-repeat: no-repeat, no-repeat;
}

.personal-shape {
    background-color: #00a4ff;
    display: inline-block;
    padding: 12px 50px;
    border-radius: 65px;
    text-transform: uppercase;
}

.commercial-shape {
    background-color: #00a4ff;
    display: inline-block;
    padding: 12px 75px;
    border-radius: 65px;
    text-transform: uppercase;
    position: relative;
}

.commercial-shape:before {
    position: absolute;
    left: -8px;
    top: -6px;
    z-index: 9;
    content: '';
    background: url(../images/money-icon.webp) no-repeat;
    width: 89px;
    height: 79px;
    background-size: 100% 100%;
}

@media (min-width: 768px) {
    .table-list li {
        padding: 15px 15px 15px 57px;
    }
}

.table-list li.headline {
    background: linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.table-list li:last-child {
    border-bottom: none;
}

.table-list1 li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
    background-image: url(../images/fav.webp), url(../images/table-sep-line1.webp);
    background-position: 20px 18px, bottom center;
    background-repeat: no-repeat, no-repeat;
}

.table-list1 li.headline {
    background: #F19B10 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.table-list1 li:last-child {
    border-bottom: none;
    /* padding-bottom: 0px; */
}

@media (min-width:768px) {
    .table-section {
        padding: 70px 0px 70px 0px;
        background: transparent url(../images/compare-bg.webp) center bottom no-repeat;
        background-attachment: fixed;
}
    .table-list1 li {
        padding: 15px 15px 15px 57px;
    }
}


/* Table Section End*/

.contact-section {
    background: #eef0ff;
    padding: 30px 0px;
}
.contact-block{   
    padding:20px;
    position: relative;
    background: linear-gradient(102.18deg, #0A1347 7.04%, #0D2183 108.72%);
    border-radius: 30px;
}
.contact-shape {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(10px);
}
@media (min-width: 768px){
    .contact-section{
        padding: 100px 0px ;
    }
    .contact-block{
        padding:80px;
        background: url(../images/contact-block.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .contact-shape {
        padding: 25px 0px;
    }
}


.faq-section {
    padding: 30px 0px;
    background-color: #fff;
}

.faq-list {
    background: url(../images/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 22px;
}

@media (min-width: 768px) {
    .faq-section {
        padding: 100px 0px;
    }
}

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/* cta  */

.cta-section-new {
    background: #140326;
    padding: 30px 0;
    position: relative;
    z-index: 9;
}

@media (min-width:768px) {
    .cta-section-new {
        padding: 80px 0;
        background: url(../images/cta-btn-bg.webp) no-repeat center center;
        background-size: cover;
    }
}

.final-section {
    padding: 30px 0;
    background: #050928;
}

.final-shape {
    background-color: #F19B10;
    padding: 10px 20px;
    display: inline-block;
    line-height: 30px;
    border-radius: 65px;
}

@media (min-width: 768px) {
    .final-section {
        padding: 100px 0;
    }
    .final-shape {
        padding: 15px 40px 15px 40px;
        line-height: 100%;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.table-list li:nth-child(odd) {
    background-color: #EFF5F9;
}

.table-list li:nth-child(even){
    background-color: #ffffff;
}

.table-list1 li:nth-child(odd){
    background-color:#100742;
}


