html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
    overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}

.blue-clr {
    color: #6e44ff;
}

.gradient-clr {
    background: #5425F5;
    background: linear-gradient(to right, #5425F5 30%, #f53789 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.preheadline {
    border-style: solid;
    border-width: 6px;
    border-color: #603ddb;
    background: #08041e;
    display: inline-block;
    border-radius: 65px;
    padding: 10px 35px;
}

span.highlight {
    border-bottom: solid 4px #fc6dab;
}


/* Header Section CSS */

.header-section {
    background: #6e44ff;
    padding: 30px 0;
}

.new-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media(min-width:768px) {
    .header-section {
        background: #6e44ff url(https://cdn.oppyo.com/launches/viddeyo/bundle/header-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 100px;
    }
    .new-section {
        background: #ffffff;
        padding: 100px 0px;
    }
    .f-md-70 {
        font-size: 70px;
    }
}

.white-clr {
    color: #ffffff;
}

.relative {
    position: relative;
}

@media(max-width:767px) {
    .footer-section {
        background: #020d13;
        padding: 30px 0px;
    }
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.footer-section {
    background: #020d13;
    padding: 50px 0px 50px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.instant-btn a {
    border-radius: 6px;
    background-color: rgb(252, 109, 171);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
}

.instant-btn a:hover {
    background: #f2579a;
    color: #ffffff;
}

.section1 {
    padding: 30px 0;
    background: #efedf7;
}

.section2 {
    padding: 30px 0;
    background: #ffffff;
}

.section3 {
    padding: 30px 0;
    background: #ffffff;
}

.plan1-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgb(96 145 169 / 19%);
}

.plan2-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgba(96, 145, 169, 0.19);
}

.tablebox1 {
    background: #9dbacc;
    width: 100%;
    float: left;
    border-radius: 30px;
}

.tablebox-inner-bg {
    background: #08041e;
    padding: 30px;
    background-size: 100% 100%;
    border-radius: 10px;
}

.table-headline-shape {
    background: url(https://cdn.oppyo.com/launches/viddeyo/bundle/table-headline-shape.png) no-repeat center center;
    background-size: contain;
    padding: 18px 19px 16px 17px;
}

.title-shape {
    background: #6e44ff;
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}

.title-shape1 {
    background: #6e44ff;
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}

@media(min-width:768px) {
    .title-shape {
        padding: 5px 30px;
    }
    .title-shape1 {
        padding: 5px 30px;
    }
    .tablebox-inner-bg {
        padding: 30px 15px 30px 15px;
        background-size: cover;
        border-radius: 30px;
    }
    .section-margin {
        margin-top: 250px !important;
    }
    .pimg {
        margin-top: -255px;
    }
    .section1 {
        padding: 100px 0;
    }
    .section2 {
        padding: 100px 0;
    }
    .section3 {
        padding: 100px 0;
    }
    .instant-btn a {
        font-size: 36px;
        padding: 28px 74px 30px 74px;
    }
}


/*Table CSS Start*/

.odd-shape {
    background: #6e44ff;
    padding: 10px 15px;
}

.even-shape {
    background: #e7dfff;
    padding: 10px 15px;
}

.price-shape {
    background: #ffffff;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}

.now-price {
    background: #fc6dab;
    padding: 12px 10px;
    border-radius: 65px;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
}


/*Table CSS Enad*/


/* Header Section */

.kaptick li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/viddeyo/bundle/kap-tick.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 15px 45px;
    color: #000000;
    line-height: 150%;
    font-size: 18px;
}

.kaptick li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .kaptick li {
        padding: 5px 0 30px 45px;
    }
}

@media (max-width: 767px) {
    .footer-section {
        background: #09090a;
        padding: 30px 0px;
    }
    .content-mbl-space {
        padding: 30px 0px;
    }
}


/******new********/

.img-shadow {
    box-shadow: 0px 0px 15px 0px rgb(73 76 80 / 25%);
}

.riskfree-section {
    background: #08041e url(https://cdn.oppyo.com/launches/viddeyo/bundle/riskfree-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.second-header-section {
    padding: 30px 0;
    background: #6e44ff;
}

.step-shape {
    border-width: 3px;
    border-color: #fc6dab;
    border-style: solid;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    width: 100%;
    float: left;
    padding: 20px;
    height: 100%;
    color: #fff;
}

@media (min-width:768px) {
    .img-shadow {
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 25%);
    }
    .riskfree-section {
        padding: 100px 0px;
    }
    .second-header-section {
        background: #6e44ff url(https://cdn.oppyo.com/launches/viddeyo/bundle/cta-bg-new.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
}

.animate-charcter {
    background-image: linear-gradient( -225deg, #001963 0%, #ff0505 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    0% {
        background-position: 200% center;
    }
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}