html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #08041e;
    font-size: 14px;
	overflow-x: hidden;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}

.blue-clr{
    color: #030331;
}

.blue-clr1{color: #b8b8f8;}

.blue-clr2{color:#5054bd;}

.orange-clr{color:#ff4f17;}

.orange-clr1{color: #ffac4f;}

.red-clr{color:#ff0000;}

.red-clr1{color:#ff4545;}

.yellow-clr{color:#ffc466;}

.text-justify{text-align: justify;}

.gradient-orange{
    background: #FF9315; 
    background: linear-gradient(90deg, #FF9315 21.66%, #FF4F17 64.49%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.border-video {
	border-radius: 20px;
}

/* Header Section Css Start */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 30px 0px;
}

.post-headline {
	border: 1px solid rgb(22, 22, 88);
	border-radius: 10px;
	background-color: rgb(3, 3, 35);
	padding: 15px;	  
	display: inline-block;
}

/* .calendar-wrap {
    border-radius: 15px;
    background-color: #052151;
    padding: 12px 20px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
} */

.header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.header-section ul.leader-ul li {
	display: inline-flex;
	padding: 0px 5px;
}

.header-section ul.leader-ul li a {
	color: #ffffff;
}

.affiliate-link-btn a {
	background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 15px;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #ffffff !important;
	font-weight: 600;
	position: relative;
    overflow: hidden;
}

.affiliate-link-btn a::before {
    position: absolute;
    width: 100%;
    height: 34px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}

.list-head {
	list-style: none;
}

.list-head li {
	background: url(../images/correct-tick.webp) no-repeat;
    padding: 0px 0px 10px 50px;
    background-position: 0px 5px;
    text-align: left;
}

.list-head li:last-child {
	border-bottom: none;
}

@media (min-width:768px) {
	.header-section {		
		padding: 40px 0px 100px 0px;
	}

	.header-section ul.leader-ul {
		margin-top: 12px;
	}

	.affiliate-link-btn a {
		padding: 12px 25px;
		font-size: 20px;
	}

	.affiliate-link-btn a:hover {
		transition: all .3s ease;
    	background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
	}
	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}
	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}
}

/* Header Section Css End */

.step-sec{
	padding: 30px 0px;
}
.step-text {
    background: #FF9315;
    background: linear-gradient(90deg, #FF9315 2.66%, #FF4F17 19.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media(min-width:768px){
	.step-sec{    
		padding: 100px 0px;
	}
}

/* CTA Button Start */
a.cta-link-btn {
	background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
}

a.cta-link-btn:hover {
	transition: all .3s ease;
    background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}
a.cta-link-btn::before {
    position: absolute;
    width: 100%;
    height: 34px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}

@media (min-width: 768px) {
	a.cta-link-btn {
    padding: 20px 50px;
	}
}

/* CTA Button End*/

/* List Section Start */

.list-section {
	padding:130px 0px 30px 0px;
	background: url(../images/list-section-bg.webp) no-repeat center center;
	background-size: cover;
}

ul.features-list {
	margin: 0px;
	padding: 0px;
}

ul.features-list li {
	background: url(../images/check-mark.webp) no-repeat;
    padding: 5px 0px 0px 50px;
    background-position: 0px 8px;
    text-align: left;
    list-style-type: none;
    margin-bottom: 20px;
}

ul.features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}
.list-block {
	border-width: 1px;
	border-color: rgb(13, 21, 77);
	border-style: solid;
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 20px 0px rgba(11, 11, 26, 0.3);
	padding:0px 15px 15px 15px;
  }
  
.list-title {
	background: url(../images/list-title.webp) no-repeat center center / 100% 100%;
	padding: 20px 15px 40px 15px;
	margin-top: -100px;
	margin-bottom: 30px;
}

@media (min-width:768px) {
	.list-section {
		padding:180px 0px 100px 0px;
	}
	.list-block {
		padding:0px 20px 30px 20px;
	}
	.list-title {
	padding: 20px 15px 40px 15px;
	margin-top: -100px;
	margin-bottom: 30px;
	}
}

/* List Section End */

/* Proof Section Start */
.proof-section {
	padding: 30px 0px;
	background: #ffffff;
}

@media (min-width: 768px) {
	.proof-section {
		background:#e7e9fa url(../images/proof-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 120px 0px 150px 0px;
	}
}

/* Proof Section End */

/* Testimonals Section Start */
.testimonial-section{
	background: #fff;
	padding: 30px 0px;
}
.single-testimonial {
	background-color: #ede8f9;
	text-align: center;
	border-radius: 30px;	
	position: relative;
	z-index: 2;
}
.single-testimonial p {
	color: #101012;
	font-size: 17px;
	line-height: 28px;
	padding: 50px 30px 30px 30px;
	padding-bottom: 30px;
	position: relative;
	z-index: 3;
}
.single-testimonial::before {
	content: "";
	position: absolute;
	left: -5px;
	top: -35px;
	background: url(https://cdn.oppyo.com/launches/webpull/special/quote.png) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	transform: rotate(180deg);
	background-position: 34px 15px;
}
.single-testimonial::after {
	content: "";
	position: absolute;
	right: -5px;
	bottom: -34px;
	background: url(https://cdn.oppyo.com/launches/webpull/special/quote.png) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	background-position: 34px 19px;
}
.client-info {
	display: inline-flex;
	gap: 15px;
	align-items: center;
	padding-bottom: 30px;
}
.client-details{
	color: #682af1;
	font-size: 20px;
	font-weight: 600;
}
@media(min-width:768px){
	.testimonial-section{
		padding: 100px 0px 80px 0px;
	}
	.single-testimonial p {
		padding: 50px;

	}
	.single-testimonial::before {
		left: -35px;
		top: -35px;
	}
	.single-testimonial::after {
		right: -35px;
		bottom: -34px;
	}
}
/* Testimonals Section End */

/* Team Section Sart */

.awesome-sections {
	background:#030331;
	padding: 30px 0px;
}

.heading-design {
	padding: 12px 15px;
	display: inline-block;
	background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    padding: 10px 25px;
	border-radius: 65px;
	margin-top: -32px;
}

@media (min-width: 768px) {
	.awesome-sections {
		background:#e7e9fa  url(../images/awesome-shape.webp) no-repeat bottom center;
		background-size: cover;
		padding: 100px 0px 150px 0px;
	}
	.heading-design {
		padding: 12px 50px;
		margin-top: -47px;
	}
}

/* Team Section End */

 /* Old & Boring Content Section Start */
 .old-content-section
 {
	background: #01010e;
	padding: 30px 0px;
 }
 .old-content-box{
	border-radius: 20px;
	background-color: rgb(255, 196, 102);
	display: inline-block;
	padding: 20px;
	position: relative;
}

.old-content-box::after{
	content: '';
	background: url(../images/content-curve.webp) no-repeat right bottom;
	padding: 22px 0;
	display: block;
	position: absolute;
	width: 100%;
	bottom: -44px;
	right: 102px;
}

.old-headline{
	border: 1px solid rgb(22, 22, 88);
	border-radius: 10px;
	background-color: rgba(15, 15, 83, 0.2);
	display: inline-block;
	padding: 15px;  
}
 @media(min-width:768px){
	.old-content-section{
		background: url(../images/old-boring-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding: 100px 0px 180px 0px;
	}
	.old-content-box{padding: 50px;}
 }

 /* Old & Boring Content Section End */

 /* Business Section Start */
.business-section
{
	background: url(../images/business-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.reason-box{
	border: 1px solid rgb(80, 84, 189);
	border-radius: 50px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 29px 0px rgba(4, 4, 17, 0.2);
	display: inline-block; 
	padding: 20px 30px;
  }

.billion-content{
	border: 1px solid rgb(15, 15, 83);
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	display: inline-block;
	padding: 20px 30px;
}
@media(min-width:768px){
	.business-section{
		padding: 20px 0px 100px 0px;
	}
}

 /* Business Section End */

/* Big Question Section Start */
.big-ques-sec{
	padding: 30px 0px;
	background:#e7e9fa;
}
.blue-design{
	border-radius: 20px;
    background-color: rgb(80, 84, 189);
    display: inline-block;
    padding: 20px;
    position: relative;
}
.blue-design::after {
    content: '';
    background: url(../images/blue-curve.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -34px;
    right: 102px;
}
 @media(min-width:768px){
	.big-ques-sec {
		background: #030814 url(../images/ques-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding: 100px 0px;
	}
	.blue-design{ 
		padding: 20px 30px;
	}
	.robot-ques{position: absolute; bottom: -135px; right: -30px;}
 }

 /* Big Question Section End */

 /* Problem Section Start */
 .problem-section{
	background: #01010e;
    padding: 30px 0px;
 }
 .problem-content-box{border-radius: 20px; background-color: rgb(4, 4, 26); padding: 20px;}

.rating-container{
	border-radius: 20px;
	background-color: rgb(4, 4, 26);
	padding: 0px 15px 15px 15px;
	text-align: center;
	height: 100%;
	display: flex;
	/* justify-content: space-between; */
	flex-direction: column;
}
.rating-box{
	background-color: rgb(235, 11, 11); 
	display: inline-block;
	padding: 8px 10px;
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}	
.red-shape{
	background-color: rgb(235, 11, 11);
	display: inline-block;
	padding: 10px 30px;
	border-radius: 50px;
	position: relative;
}

.red-shape::after{content: " ";
	position: absolute;
	right: 65px;
	top: -20px;
	border-top: none;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	border-bottom: 20px solid rgb(235, 11, 11);
}

.scary-container 
	{ background: url(../images/scary-bg.webp) no-repeat center center;
		background-size: 100% 100%;
		padding:30px 20px;
	}

@media(min-width:768px){
	.problem-section{
		background:#06064a url(../images/problem-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding: 100px 0px 150px 0px;
		position: relative;
		margin-top: -30px;
		z-index: 1;
	}
	.rating-container{padding: 0px 30px 30px 30px;}
	.scary-container{padding: 40px;}
 }
 /* Problem Section End */

/* Proudly there Section Start */
.proudly-sec {
    background: #050645 ;
    padding:30px 0px ;
}

.per-shape {
    background: url(../images/presenting-shape.webp) center center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 20px 55px 30px 65px;
}

.prouldly-li-box{background: url(../images/proudly-li-bg.webp) no-repeat center center;
	background-size: cover;
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}
.boxborder-rb {
    border-bottom: 1px solid rgb(20, 20, 87);
    border-right: 1px solid rgb(20, 20, 87);
}
.boxborder-b {
    border-bottom: 1px solid rgb(20, 20, 87);
}
.boxborder-r {
    border-right: 1px solid rgb(20, 20, 87);
}
.boxbg{
	background: url(../images/check-mark.webp) no-repeat;
    padding: 20px 20px 20px 55px;
    background-position: 10px 23px;
    list-style: none;
}
@media (min-width: 768px){
	.proudly-sec { 
		background: #ffffff url(../images/proudly-bg.webp) center center no-repeat;
		background-size: cover;  
		padding: 0px 0px 220px 0px;
	}
}
/* Proudly Section End */

/* Not Alone Section Start */

.wearenot-alone-section {
	background: #ffffff;
	padding: 0px 0px 30px 0px;
}

.alone-bg {
	background-color: #010110;
	box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
	border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	padding: 10px;
	position: relative;
}

.title-shape {
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}
.title-shape:after {
    content: '';
    background: url(../images/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media (min-width:768px) {
	.wearenot-alone-section {
		background: #ffffff url(../images/wearenotalone-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 0px 0px 100px 0px;
	}

	.alone-bg {
		padding: 25px 30px 25px 10px;
	}

	.alone-bg:after {
		content: "";
		position: absolute;
		width: 87px;
		height: 49px;
		background-image: url(../images/arrow-down.webp);
		left: 44%;
		bottom: -49px;
	}

	.dollars-sm-image {
		width: 211px;
		min-width: 211px;
		height: 163px;
		margin-left: -120px !important;
		top: 0px;
		left: 0px;
	}

	.title-shape{padding: 20px 25px;}
}

/* Not Alone Section End */

/* Potential Section Start */

.potential-sec {
	background-color: #e7e9fa;
	padding: 30px 0px ;
}

.list-shape {
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

@media (min-width:768px) {
	.potential-sec {
		background: #e7e9fa url(../images/potential-bg.webp) no-repeat bottom center;
		padding: 100px 0px 50px 0px;
	}
}

/* Potential Section End */

img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

.agree-list {
    margin: 0px;
    padding: 0px;
}
.agree-list li{
	background: url(../images/tick-icon.webp) no-repeat;
    background-position: 0 0px;
    list-style: none;
    padding: 0 0 15px 35px;
}
.cta-section-new.white-bg{
	padding: 60px 0 120px 0px;
    background: #f5f3fb url(../images/cta-section-bg.webp) no-repeat bottom center;
    background-size: cover;
}