html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
    overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}
.red-gradient{
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;}
    
/* Header Section CSS */

.header-section {
    background: #000000;
    padding: 30px 0
}
.preheadline{
    background: rgba(255, 255, 255);
    border: 2px solid rgba(255, 255, 255);
    border-radius: 45px;
    display:inline-block;
    padding:10px;
  }
.new-section {
    background: #ffffff;
    padding: 30px 0px;
}
.gametext {
    background: #f24440;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -27px;
    z-index: 99;
    line-height: 30px;
    left: -8px;
}
.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 20px 10px;
}

@media (min-width: 768px){
.affiliate-link-btn a {
    padding: 12px 25px;
    font-size: 20px;
}
.affiliate-link-btn a {
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    padding: 5px 20px;
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 600;
}
.mt-md115{margin-top:115px;}
}
@media(min-width:768px) {
    .header-section {
        background: #000000 url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/bundle/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 100px;
    }
    .mainheadline {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/bundle/top-heading-bg.webp) center center no-repeat;
        background-size: 100% 100%;
        padding: 35px 30px 40px 30px;
        left: -5px;
    }
    .gametext {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/bundle/cutting-edge-bg.png) center center no-repeat;
        padding: 9px 57px 14px 57px;
    }
    .new-section {
        background: #ffffff;
        padding: 100px 0px;
    }
    .preheadline{
        padding:7px 35px;
      }
    .f-md-70 {
        font-size: 70px;
    }
}

.light-blue{
    background-color: #D9EFFF;
}
/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.footer-section {
    background: #000;
    padding: 50px 0px 50px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li a:hover {
    color: #ffffff;
    text-decoration: none;
}
.footer-ul li {
    display: inline;
}

.instant-btn a {
    border-radius: 55px;
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
}

.instant-btn a:hover {
    background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
    color: #ffffff;
}

.section1 {
    padding: 30px 0;
    background: #f1f1f1;
}

.section2 {
    padding: 30px 0;
    background: #ffffff;
}

.section3 {
    padding: 30px 0;
    background: #ffffff;
}

.plan1-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgb(96 145 169 / 19%);
}

.plan2-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgba(96, 145, 169, 0.19);
}

.tablebox1 {
    background: #071125;
    width: 100%;
    float: left;
    border-radius: 30px;
}

.tablebox-inner-bg {
    background: #071125;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(27 97 219 / 48%);
    position: relative;
    border: solid 1px #071125;
    padding: 30px 0px;
    background-size: 100% 100%;
}

.table-headline-shape {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/bundle/table-headline-shape.png) no-repeat center center;
    background-size: contain;
    padding: 18px 19px 16px 17px;
}

.title-shape {
    background: #1a0000;
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}

.title-shape1 {
    background: #1a0000;
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}

@media(min-width:768px) {
    .title-shape {
        padding: 5px 30px;
        border-radius: 65px;
    }
    .title-shape1 {
        padding: 5px 30px;
    }
    .tablebox-inner-bg {
        padding: 30px 0px 30px 0px;
        background-size: cover;
        border-radius: 30px;
    }
    .section-margin {
        margin-top: 250px !important;
    }
    .pimg {
        margin-top: -255px;
    }
    .section1 {
        padding: 100px 0;
    }
    .section2 {
        padding: 100px 0;
    }
    .section3 {
        padding: 100px 0;
    }
    .instant-btn a {
        font-size: 36px;
        padding: 28px 74px 30px 74px;
    }
}


/*Table CSS Start*/

.odd-shape {
    background: #071125;
    padding: 10px 15px;
}

.even-shape {
    background: #D9EFFF;
    padding: 10px 15px;
}

.price-shape {
    background: #ffffff;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}

.now-price {
    background: #074e81;
    padding: 12px 10px;
    border-radius: 20px;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
}


/*Table CSS Enad*/


/* Header Section */

.kaptick li {
    list-style: none;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/bundle/kap-tick.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 15px 45px;
    color: #000000;
    line-height: 150%;
    font-size: 18px;
}

.kaptick li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .kaptick li {
        padding: 5px 0 30px 45px;
    }
}

@media (max-width: 767px) {
    .footer-section {
        background: #000;
        padding: 30px 0px;
    }
    .content-mbl-space {
        padding: 30px 0px;
    }
}


/******new********/

.img-shadow {
    box-shadow: 0px 0px 15px 0px rgb(73 76 80 / 25%);
}

.riskfree-section {
    background: #08041e url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/bundle/riskfree-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.second-header-section {
    padding: 30px 0;
    background: #fff;
}

.step-shape {
    border-width: 3px;
    border-color: #ffcbcb;
    border-style: solid;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    width: 100%;
    float: left;
    padding: 20px;
    height: 100%;
    color: #fff;
}
.menu-list li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/bundle/tick.webp) no-repeat;
    background-position: 20px 24px;
    padding: 15px 15px 15px 64px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border: 3px solid #B5D1FF;
}
.head-design {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/bundle/head-bg.webp)no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    padding: 5px 35px;
}
@media (min-width:768px) {
    .img-shadow {
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 25%);
    }
    .riskfree-section {
        padding: 100px 0px;
    }
    .second-header-section {
        background:  url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/bundle/reasons-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
    .head-design {
    padding: 5px 70px;
}
}
.close-img {
    width: 50px;
}
.animate-charcter {
    background-image: linear-gradient( -225deg, #001963 0%, #ff0505 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    0% {
        background-position: 200% center;
    }
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.timer-header-top {
    background: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0px;
    width: 100%;
    z-index: 999;
}
