@import url("https://fonts.googleapis.com/css?family=Work Sans|Playfair Display|Libre Franklin|Space Mono|Rubik|Cormorant|Fira Sans|Eczar|Domine|Eczar|Alegreya Sans|Alegreya|Chivo|Lora|Source Sans Pro|Source Serif Pro|Roboto|Roboto Slab|Poppins|BioRhyme|Archivo Narrow|Libre Baskerville|Crimson Text|Karla|Montserrat|Old Standard TT|Spectral|Domine|Bitter|Gentium Basic|PT Sans| PT Serif|Lato|Cardo|Neuton|Open Sans|Inconsolata|Cabin|Raleway|Anonymous Pro|Arvo|Merriweather|Muli|Quicksand");

/*create By Firoz*/
.alert-red-border{
	border : 1px solid red !important;
}
.custom-add-heading{
	width:200px;
}
.custom-add-button{
	width:180px;
}
.custom-add-paragraph{
	width:250px;
}

.inner-content{
	transform: unset !important;
	perspective: unset !important;
	position:relative; 
	height: 100%;
}
.shape-square {
    border-width: 2px;
    border-style: solid;
    background-color: white;
}

.shape-circle {
    border-width: 2px;
    border-style: solid;
	border-radius: 50%;
    background-color: white;
}
.shape-horizontal {
    border-top-width: 5px;
	height: 0px;
    border-top-style: solid;
	background-color: unset;
}
.shape-vertical {
    border-left-width: 5px;
    border-left-style: solid;
	background-color: unset;
}
.icon-font {
	font-size: 100px;
	width: -moz-min-content;
	width: min-content;
}
.no-padding{ padding:0px 0px 0px 0px !important;}
.background-video{
  position: absolute;
  z-index: auto; 
  overflow: hidden;
  height: 100%;
	width: 100%;
	object-fit: cover;
	right: 0;
	bottom: 0;
	background-size: 100% 100%;
}
.space-section { 
	/*padding : unset;*/
	position : relative;
}
.space-height { 
	height : 300px;
	
} 
.container { 
	height : 100%;
} 
.max-width{
	width:-moz-max-content;
	width:max-content
}
.align-center{
	 float: none;
    margin: 0 auto;
}

 
	
/*Start Timer */

.add-timer-portion{
	text-align: center;
	padding-left : 5px;
	padding-right : 5px;
	
}
.add-timer-box{
	font-size: 37px;
	width : 61px;
	height : 61px;
	line-height: 1.42857143;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add-timer-colon-group{
	height : 61px;
	width : 7px;
	position : relative;
}
.add-timer-colon-group-margin{
	height : 14px;
	width : 7px;
	position : relative;
}
.add-timer-colon{
	background: green;
	border-radius: 100%;
	width: 7px;
	height: 7px;
}
.add-timer-colon.colon-top{
	position : absolute;
	top :30%;
}
.add-timer-colon.colon-bottom{
	position : absolute;
	bottom :30%;
}
.add-timer-label{
	width : 61px;
	height : 14px;
	font-size : 12px;
	align-items: center;
	justify-content: center;
}

.timer-box.theme1{
	background-color: green;
	color: #ffffff;
}
.timer-label.theme1{
	color: #4a4949;
}

.timer-box.theme2{
	color: black;
}
.timer-labe.theme2{
	color: black;
}

.timer-box.theme3{
	baorder: 1px solid;
	color: black;
}
.timer-label.theme3{
	color: black;
}

.timer-box.theme4{
	background-color: #CDCDCD;
	color: black;
}
.timer-label.theme4{
	color: #CDCDCD;
}

.timer-portion-tool{
	overflow : hidden;
	text-align: center;
	padding : 0px;
	margin-right: 2px;
	
}
.timer-box-tool{
	width: auto;
	font-size: 40px;
}
.timer-label-tool{
	font-size : 12px
}

.timer-colon-parent{
	position:relative;
}

/*End */


/*Start Calender */
.calender-element{
	text-align: center;
	width: 170px;
}
.calender-month{
	background-color: blue;
	color: white;
	font-size: 30px;
	padding: 10px;
	overflow: hidden;
	height : 35%;
	
}
.calender-day{
	background-color: white;
	color: black;
	font-size: 75px;
	overflow: hidden;
	height : 65%;
}
.custom-modal .modal-dialog{width: -moz-min-content;}

.vertical-center{
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	display: table !important;
	width:100%;
	height:100%;
	
}
.vertical-center .valigncenter{display: table-cell !important;vertical-align: middle;}

.label-top-position{
	position : absolute;
	bottom : calc(100%);
}
.width90{
	width:90%;
}
.w100{width:100%;}

@media screen and (max-width : 480px) {
	.inner-content{
		margin : auto !important; 
	}
	.container{
		margin : auto !important;
		width : 320px !important;
		float: initial !important;
		position : relative !important;
	}
	.create-new-popup{
		width : 300px;
		height : 400px;
		background-color:#ffff;
	}
}

@media screen and (min-width : 481px) {
body{
	/*min-width : 136px !important;*/
	
}
.container{
	margin : auto !important;
	width : 980px !important;
	float: initial !important;
	position : relative !important;
}
.create-new-popup{
	width : 600px;
	height : 400px;
	background-color:#ffff;
}
 
}
.custom-close{
	float: right;
	right: 10px;
	margin-top: 0px;
	font-size: 30px;
	cursor: pointer;
	z-index: 1;
	position: absolute;
}

.default-social-portion,.default-social-portion:hover,.default-social-portion:active,.default-social-portion:visited{
	width: 50px;
	display: table;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	margin: 1px;
}
.default-social-portion i{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.width-auto{
	width:auto;
}
/*End */


 .social-icon-selector ul li a.fb, .social-style1 a.fb, .social-style4 a.fb{
	background:#3b5998 !important;
}
 .social-icon-selector ul li a.tw, .social-style1 a.tw, .social-style4 a.tw{
	background:#1da1f2 !important;
}
 .social-icon-selector ul li a.gplus, .social-style1 a.gplus, .social-style4 a.gplus{
	background:#dc4e41 !important;
}
 .social-icon-selector ul li a.insta, .social-style1 a.insta, .social-style4 a.insta{
	background:#e4405f !important;
}
 .social-icon-selector ul li a.linkedin, .social-style1 a.linkedin, .social-style4 a.linkedin{
	background:#0077b5 !important;
}
 .social-icon-selector ul li a.pin, .social-style1 a.pin, .social-style4 a.pin{
	background:#bd081c !important;
}
 .social-style7 a.fb{
background: #3b5998 !important; /* Old browsers */
background: -moz-linear-gradient(-45deg, #3b5998 0%, #3b5998 50%, #2f477a 51%, #2f477a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #3b5998 0%,#3b5998 50%,#2f477a 51%,#2f477a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #3b5998 0%,#3b5998 50%,#2f477a 51%,#2f477a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#2f477a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
 .social-style7 a.tw{
background: #1da1f2; /* Old browsers */
background: -moz-linear-gradient(-45deg, #1da1f2 0%, #1da1f2 50%, #1781c2 51%, #1781c2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #1da1f2 0%,#1da1f2 50%,#1781c2 51%,#1781c2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #1da1f2 0%,#1da1f2 50%,#1781c2 51%,#1781c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1da1f2', endColorstr='#1781c2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
 .social-style7 a.gplus{
background: #dc4e41; /* Old browsers */
background: -moz-linear-gradient(-45deg, #dc4e41 0%, #dc4e41 50%, #dc4e41 50%, #b03e34 51%, #b03e34 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #dc4e41 0%,#dc4e41 50%,#dc4e41 50%,#b03e34 51%,#b03e34 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #dc4e41 0%,#dc4e41 50%,#dc4e41 50%,#b03e34 51%,#b03e34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc4e41', endColorstr='#b03e34',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
 .social-style7 a.insta{
background: #e4405f; /* Old browsers */
background: -moz-linear-gradient(-45deg, #e4405f 0%, #e4405f 50%, #b6334c 51%, #b6334c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #e4405f 0%,#e4405f 50%,#b6334c 51%,#b6334c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #e4405f 0%,#e4405f 50%,#b6334c 51%,#b6334c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4405f', endColorstr='#b6334c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
 .social-style7 a.linkedin{
background: #0077b5; /* Old browsers */
background: -moz-linear-gradient(-45deg, #0077b5 0%, #0077b5 50%, #005f91 51%, #005f91 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #0077b5 0%,#0077b5 50%,#005f91 51%,#005f91 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #0077b5 0%,#0077b5 50%,#005f91 51%,#005f91 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0077b5', endColorstr='#005f91',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
 .social-style7 a.pin{
background: #bd081c; /* Old browsers */
background: -moz-linear-gradient(-45deg, #bd081c 0%, #bd081c 50%, #970616 51%, #970616 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #bd081c 0%,#bd081c 50%,#970616 51%,#970616 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #bd081c 0%,#bd081c 50%,#970616 51%,#970616 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd081c', endColorstr='#970616',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
 .social-style2 a.fb, .social-style5 a.fb{
	border:1px solid #3b5998;
	color:#3b5998 !important;
}
 .social-style2 a.tw, .social-style5 a.tw{
	border:1px solid #1da1f2;
	color:#1da1f2 !important;
}
 .social-style2 a.gplus, .social-style5 a.gplus{
	border:1px solid #dc4e41;
	color:#dc4e41 !important;
}
 .social-style2 a.insta, .social-style5 a.insta{
	border:1px solid #e4405f;
	color:#e4405f !important;
}
 .social-style2 a.linkedin, .social-style5 a.linkedin{
	border:1px solid #0077b5;
	color:#0077b5 !important;
}
 .social-style2 a.pin, .social-style5 a.pin{
	border:1px solid #bd081c ;
	color:#bd081c !important;
}
 .social-style3 a{
	background:#293239 !important;
}
 .social-style6 a{
	border:1px solid #293239;
	color:#293239 !important;
}


 .social-style1 a, .social-style2 a, .social-style3 a{
	border-radius:30px;
}
 .social-style1 a, .social-style3 a, .social-style4 a, .social-style7 a{
	color:#fff !important;
}

 .social-style8 a, .social-style9 a{
	color: #293239;
	background-color: #fff;
}
 .social-style8 a{
	border-radius: 100%;
 }
 .social-style1 a:hover, .social-style2 a:hover, .social-style3 a:hover, .social-style4 a:hover, .social-style5 a:hover, .social-style6 a:hover, .social-style7 a:hover, .social-style8 a:hover, .social-style9 a:hover{
	text-decoration:none !important;
}
.div-center-parent{
	height: 100%;
	display: table;
	width: 100%;
}


.popup-scroll-parent{
	height: 100%;
	overflow: auto;
	position: absolute;
	display: flex;
	width: 100%;
}

.div-center-child{
	vertical-align: middle;
	display: table-cell;
}
.lightbox-center{
	margin: auto !important; 
	position: absolute !important; 
	top: 0 !important; 
	right: 0 !important; 
	left: 0 !important; 
	bottom: 0 !important;
}
.create-new-popup .custom-close{
	color:unset;
}
.sample-page-section{
	height : 200px;
}
.sample-header-section,.sample-footer-section{
	height : 100px;
}
.sample-lightbox-section{
	height : 200px;	
}
.sample-side-right-section{
	width : 250px;
	height : 250px;
}


 /* for popup*/
body{background-color: transparent !important; }
#templateBody{
	height: 100%;
	width: 100%;
}
.notify-popup.inner-content{background:unset}
.popup-shadow{ box-shadow : 0 5px 15px rgba(0,0,0,.5);  }
.smart-popup-backdrop{ 
	background-color: rgba(51, 51, 51, 0.7) !important;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:-1;
}
.scratch-popup-footer{
	left:0 !important;
	bottom:0 !important;
	position:absolute !important;
	background-color : #ffff;
	width : 100% !important;
}
.scratch-popup-header{
	left:0 !important;
	top:0 !important;
	position:absolute !important;
	background-color : #ffff ;
	width : 100% !important;
}

.scratch-popup-side-right{
	right:0 !important;
	bottom:0 !important;
	position:absolute !important;
	background-color : #ffff ;
	
}
.space-section{
	overflow:visible;
}
.lightbox-space-parent{
	overflow: auto;
	position:absolute;
	display:flex;
	width: 100%;
	height: 100%;
}
.lightbox-space-section{
	margin: auto !important; 
	min-width: 300px !important; 
	box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px !important;
	background-color: #fff;
}


 /* end for popup*/
 
/* Boostrap 3 coloum sm custom css */
@media (max-width:480px){
.visible-xs {
	display: block !important;
}
}
 
@media (min-width:481px){
.col-sm-1 {
    width: 8.33333333%;
}
.col-sm-2 {
    width: 16.66666667%;
}
.col-sm-3 {
    width: 25%;
}
.col-sm-4 {
    width: 33.33333333%;
}
.col-sm-5 {
    width: 41.66666667%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-7 {
    width: 58.33333333%;
}
.col-sm-8 {
    width: 66.66666667%;
}
.col-sm-9 {
    width: 75%;
}
.col-sm-10 {
    width: 83.33333333%;
}
.col-sm-11 {
    width: 91.66666667%;
}
.col-sm-12 {
    width: 100%;
}
.col-sm-offset-1 {
    margin-left: 8.33333333%;
}
.col-sm-offset-2 {
    margin-left: 16.66666667%;
}
.col-sm-offset-3 {
    margin-left: 25%;
}
.col-sm-offset-4 {
    margin-left: 33.33333333%;
}
.col-sm-offset-5 {
    margin-left: 41.66666667%;
}
.col-sm-offset-6 {
	margin-left: 50%;
}
.col-sm-offset-7 {
    margin-left: 58.33333333%;
}
.col-sm-offset-8 {
    margin-left: 66.66666667%;
}
.col-sm-offset-9 {
    margin-left: 75%;
}
.col-sm-offset-10 {
    margin-left: 83.33333333%;
}
.col-sm-offset-11 {
    margin-left: 91.66666667%;
}
.col-sm-offset-12 {
    margin-left: 100%;
}

.col-sm-pull-1 {
    right: 8.33333333%;
}
.col-sm-pull-2 {
    right: 16.66666667%;
}
.col-sm-pull-3 {
    right: 25%;
}
.col-sm-pull-4 {
    right: 33.33333333%;
}
.col-sm-pull-5 {
    right: 41.66666667%;
}
.col-sm-pull-6 {
	right: 50%;
}
.col-sm-pull-7 {
    right: 58.33333333%;
}
.col-sm-pull-8 {
    right: 66.66666667%;
}
.col-sm-pull-9 {
    right: 75%;
}
.col-sm-pull-10 {
    right: 83.33333333%;
}
.col-sm-pull-11 {
    right: 91.66666667%;
}
.col-sm-pull-12 {
    right: 100%;
}

.col-sm-push-1 {
    left: 8.33333333%;
}
.col-sm-push-2 {
    left: 16.66666667%;
}
.col-sm-push-3 {
    left: 25%;
}
.col-sm-push-4 {
    left: 33.33333333%;
}
.col-sm-push-5 {
    left: 41.66666667%;
}
.col-sm-push-6 {
	left: 50%;
}
.col-sm-push-7 {
    left: 58.33333333%;
}
.col-sm-push-8 {
    left: 66.66666667%;
}
.col-sm-push-9 {
    left: 75%;
}
.col-sm-push-10 {
    left : 83.33333333%;
}
.col-sm-push-11 {
    left: 91.66666667%;
}
.col-sm-push-12 {
    left: 100%;
}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
	float: left !important;
}
.visible-sm {
    display: block !important;
}
.visible-xs{
	display:  none !important;
}
	 
 }

