body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.white-clr {
    color: #fff;
}


/* Header Section Start */

.header-section {
    background-color: #fff;
    padding: 30px 0;
    background: url(../images/banner-bg.webp) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
}

a.lightred {
    color: #682af1;
    text-decoration: none;
}

/* Footer Section Start */

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

a.blue-clr {
    color: #00a4e3;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px 50px;
    }
}

ul.footer-ul a:hover {
    color: #fff;
}