html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #031528;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #fc8548;
  border-radius: 25px;
}

.caveat{
	font-family: 'Caveat', cursive;
}

/* Color CSS */

.white-clr {
	color: #ffffff;
}

.black-clr {
	color: #031528;
}

.grey-clr{
	color: #D9D9D9;
}

.red-clr{
	color: #FF2C2C;
}

.kapblue,
a.kapblue {
	color: #410cac;
}

.orange-clr {
	color: #fc8548;
}

.orange-gradient{
	background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.yellow-clr{
	color: #FFFD40;
}

.cyan-clr{
	color: #15C6FC;
}

/****common CSS *****/

.list-head {
	list-style: none;
}

ul {
	margin: 0;
}

.underline{
	border-bottom: 1px solid #FF511A;
}

/******* CTA Button **********/

a.cta-link-btn {
	border-radius: 100px;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 0px;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	line-height: normal;
	white-space: normal;
	align-items: center;
	background-image: -moz-linear-gradient(180deg, #FC8548 0%, #EA4515 100%);
	background-image: -webkit-linear-gradient(180deg, #FC8548 0%, #EA4515 100%);
	background-image: -ms-linear-gradient(180deg, #FC8548 0%, #EA4515 100%);
	box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
	transition: 0.5s;
	border-radius: 15px;
}

a.cta-link-btn:hover {
	background: linear-gradient(90deg, rgba(253, 139, 37, 1) 0%, rgba(255, 103, 28, 1) 100%);
	text-decoration: none;
	transform: scale(1.03);
}

@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 30px;
		padding: 24px 25px;
		display: inline-block;
	}
}

/* Header CSS */

.header-section {
	background: #1b2e99 url(https://cdn.oppyotest.com/launches/webgenie/preview/images/header-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}

.header-section ul.leader-ul li a {
	text-decoration: none;
	color: #ffffff;
}

.header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
	font-weight: 300;
}

.header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 12px;
}

.affiliate-link-btn a {
	border-radius: 65px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 100%;
	color: #ffffff;
	font-weight: 500;
	transition: all .3s ease;
	background-image: -moz-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
	background-image: -webkit-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
	background-image: -ms-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
}

.affiliate-link-btn a:hover {
	transition: all .3s ease;
	background-image: -moz-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
	background-image: -webkit-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
	background-image: -ms-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
}

.pre-heading {
	padding: 10px 15px;
    margin: 0px auto;
    outline: none;
	border: 2px solid #21c7f9;
    display: inline-block;
    border-radius: 15px;
}

.key-features-bg {
	padding: 0px 20px;
	position: relative;
	width: 100%;
	text-align: center;
}

.list-head li {
	background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/fav.webp) no-repeat;
	padding: 10px 0px 10px 45px;
	background-position: 0px 17px;
	text-align: left;
	border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.list-head li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}

.mt-md120{
	margin-top: 20px;
}

.blue-design{
	background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/blue-head.webp) no-repeat center center;
	background-size: 100% 100%;
	padding: 10px;
}
.video-box{
	position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
	backdrop-filter: blur(10px);
	/* Note: backdrop-filter has minimal browser support */
	border-radius: 20px;
}
.border-dashed{
	background: #001E5C;
	border: 2px dashed #15C6FC;
	border-radius: 20px;
	padding: 20px;
}

.head-yellow
{
	display: inline-block;
    background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/yellow-heading.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 30px;
}

@media (min-width: 768px) {
	.header-section {
		padding: 50px 0px 100px;
	}

	.affiliate-link-btn a {
		padding: 15px 30px;
		font-size: 24px;
	}

	.pre-heading {
		padding: 15px 30px;
		border-radius: 100px;
	}

	.mt-md120{
		margin-top: 120px;
	}
	.head-yellow
	{
		padding: 10px 50px;
	}
}

/*** CTA New Section ***/

.cta-section-new {
	background: #162a9e;
	padding: 30px 0;
}
.countdown-container{
	padding: 10px ;
    border: 2px dashed #FFFFFF;
    border-radius: 15px;
}
.limited-time-sec {
    padding: 15px 0px;
    background: #FF2C2C;
}
@media (min-width: 768px) {
	.cta-section-new {
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/cta-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 100px 0px;
	}
}

/****** Step Section *******/

.step-section{
	background: #eef4f9;
	padding: 30px 0px;
}

.step-shapes {
	background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/step-process-bg.webp) no-repeat center center;
	background-size: 100% 100%;
	padding: 8px 40px;
	width: fit-content;
}

.niche-design{
	background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/niche-bg.webp) no-repeat center center;
	background-size: 100% 100%;
	padding: 10px 45px;
	display: inline-block;
}

@media (min-width: 768px) {
	.step-section{
		padding: 100px 0px;
		background: #eef4f9 url(https://cdn.oppyotest.com/launches/webgenie/preview/images/step-bg.webp) no-repeat center center;
		background-size: cover;
	}
}

.profitwall-sec{
	padding: 30px 0px;
	background: #021963;
}
.red-head{
	background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/red-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 6px 30px;
    display: inline-block;
}

@media(min-width:768px){
	.profitwall-sec{
		padding: 100px 0px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/powerfull-bg.webp) center center;
		background-size: cover;
		background-attachment: fixed;
	}
}
/***********Testimonial Section*****************/
.testimonial-section {
    background: #f4f3f9 url(https://cdn.oppyotest.com/launches/webgenie/preview/images/testimonial-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.single-testimonial {
    background-color: #eaf3f8;
    text-align: center;
    position: relative;
    z-index: 2;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    padding: 20px 10px;
}
.st-img {
    display: inline-block;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
}
.stars a {
    padding-right: 8px;
    color: #FFC635;
}
.fa-star:before {
    content: "\f005";
	font-size: 22px;
}
@media (min-width: 768px){
.testimonial-section {
    padding: 100px 0px;
}
.single-testimonial {
    border-radius: 30px;
    padding: 50px;
    height: 100%;
}
.st-img {
    display: inline-block;
    margin-top: -150px;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
}
}
/***********Are You Ready Section*****************/
.areyouready-section{
	background: #fff url(https://cdn.oppyotest.com/launches/webgenie/preview/images/areyouready-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.red-brush{
	background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/red-brush.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 6px 30px;
    display: inline-block;
}
@media (min-width: 768px){
	.areyouready-section {
		padding: 100px 0px;
	}}


/***********Profitale Section*****************/
.profitale-section{
	background: #fff;
    background-size: cover;
    padding: 30px 0px;
}
.easy-text{
	color: #FF2C2C;
	padding: 2px 2px 2px 60px;
    position: relative;
    display: inline-block;
	align-items: center;
}
.easy-text::before{
	position: absolute;
	top: -30px;
	left: -60px;
	content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/thumbsup.webp);
}
@media (min-width: 768px){
	.profitale-section {
		padding: 100px 0px;
	}
	.easy-text::before{
		position: absolute;
		top: 0px;
		left: -60px;
		content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/thumbsup.webp);
	}
}




/***********Common Section*****************/
.blue-section{
	background: #EFF5F9;
    background-size: cover;
    padding: 30px 0px;
}
.white-section{
	background: #fff;
    background-size: cover;
    padding: 30px 0px;
}
@media (min-width: 768px){
	.blue-section {
		padding: 100px 0px;
	}
	.white-section {
		padding: 100px 0px;
	}}



/************** Another Way Section ************/
.another-way-section{
	background: rgba(27, 69, 180, 1);
    padding: 30px 15px;
}
.imagine-box{
	background-color: #fff;
	border-radius: 15px;
	border: 2px solid rgba(249, 123, 64, 1);
	padding: 30px 20px;
}

.clicks-box{
	border-radius: 12px;
	border: 2px solid rgba(249, 123, 64, 1);
	padding: 5px 20px;
	display: inline-block;
}
@media (min-width: 768px){
	.another-way-section {
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/another-way-section.webp) no-repeat bottom center;
		background-size: cover;
		padding: 100px 0px;
	}
	.imagine-box{
		border-radius: 25px;
		padding: 20px;
	}
	.arrow-down-2{
		position: relative;
		display: inline-block;
	}
	.arrow-down-2::after{
		position: absolute;
		top: -57px;
    	right: 194px;
		content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/arrow-down-2.webp);
	}
	.arrow-down-3{
		position: relative;
		display: inline-block;
	}
	.arrow-down-3::after{
		position: absolute;
		top: -87px;
    	left: 106px;
		content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/arrow-down-3.webp);
	}
	.click{
		position: relative;
		display: inline-block;
	}
	.click::after{
		position: absolute;
		top: 36px;
    	left: 417px;
		content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/click-symbol.webp);
	}}




/*********** Work For You Section ***********/
.workforyou-section{
    padding: 30px 0px;
}
.done-text {
    color: #000;
    padding: 12px 2px 2px 70px;
    position: relative;
    display: inline-block;
    align-items: center;
}
.done-text::before{
	position: absolute;
	top: 0px;
	left: -60px;
	content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/thumbsup.webp);
}
@media (min-width: 768px){
	.workforyou-section {
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/work-for-you-bg.webp) no-repeat top center;
		background-size: cover;
		padding: 100px 0px;
	}
	.proof-arrow{
		position: relative;
		display: inline-block;
	}
	.proof-arrow::after{
		position: absolute;
		top: -48px;
    	right: 106px;
		content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/proof-arrow.webp);
	}}

	/********Got You Covered Section ********/
	.got-you-covered-section{
		background: #EFF5F9;
		padding: 30px 0px;
	}
	@media (min-width: 768px){
		.got-you-covered-section {
			background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/got-you-covered-bg.webp) no-repeat center bottom;
			background-size: cover;
			padding: 100px 0px;
		}}

	/********With Few Clicks Section ********/
	.with-few-clicks-section{
		background: #EFF5F9;
		padding: 30px 0px;
	}
	@media (min-width: 768px){
		.with-few-clicks-section {
			background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/with-few-clicks-bg.webp) no-repeat center bottom;
			background-size: cover;
			padding: 100px 0px;
		}}


	/********Dominates Section ********/
	.dominates-section{
		background: #fff;
		padding: 30px 0px;
	}
	@media (min-width: 768px){
		.dominates-section {
			background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/dominates-bg.webp) no-repeat center bottom;
			background-size: cover;
			padding: 100px 0px;
		}}


/******** Webgenie In Action Section ********/
.in-action-section{
	background: rgba(27, 69, 180, 1);
    padding: 30px 0px;
}
@media (min-width: 768px){
	.in-action-section {
		background:#eff5f9 url(https://cdn.oppyotest.com/launches/webgenie/preview/images/in-action-bg.webp) no-repeat center bottom;
		background-size: cover;
		padding: 100px 0px;
	}}

/* RegardLess Experience Start */
.regardless-experience{
	padding: 30px 0px;
	background: #eff5f9;
}
.hi-their-box{
	background: #fff;
	border: 2px solid #15C6FC;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
	border-radius: 50px;
	padding: 0px 15px 30px 15px;
}
.hi-their-shadow{
	background: #FFFFFF;
	border: 10px solid #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 100px;
	padding: 5px;
	margin-top: -60px;
	display: inline-block;
}
.hi-their-head{
	padding: 15px;
	border: 2px solid #15C6FC;
	border-radius: 100px;
	background: #fff;
	display: inline-block;
}
.img-shadow{
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
	max-height: 150px;
}

@media(min-width:768px){
	.regardless-experience{
		padding: 100px 0px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/regardless-experince-bg.webp) no-repeat center center;
	}
	.hi-their-head{
		padding: 15px 50px;
	}
	.hi-their-box{
		border-radius: 50px;
		padding: 0px 70px 100px 70px;
	}
}

/* Hi Their Start */
.hi-their-sec {
    padding: 30px 15px 30px 15px;
    background: #EFF5F9;
}
.blue-border{
	border: 1px solid #15C6FC;
}
@media(min-width:768px){
	.hi-their-sec{
		padding: 0px 0px 100px 0px;
	}
}

/* Goal Section Start */
.goal-section{
	padding: 30px 0px;
}
@media(min-width:768px){
	.goal-section{padding: 100px 0px; background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/goal-bg.webp) no-repeat center center; background-size: cover;}
}
/* Goal Section End */

/* Success Story Section */
.success-story-section{
	padding: 30px 0px;
	background: #EFF5F9;
}
@media(min-width:768px){
	.success-story-section{
		padding: 100px 0px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/success-bg.webp) no-repeat center center;
		background-size: cover;
	}
}

/* Demo Section Start */
.demo-sec{
	padding: 30px 0px;
	background: #fff;
}
.affliliate-underline{
	border-bottom: 2px solid #FF2C2C;;
}
@media(min-width:768px){
	.demo-sec{
		padding: 100px 0px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/demo-bg.webp) no-repeat center center;
		background-size: cover;
	}
}
/* Demo Section End */

/***********Next Generation*****************/
.next-gen-sec {
	background: #032982;
	padding:  30px 0px;
}

.presenting-head{
	background: #001246;
	border-radius: 40px;
    padding: 5px 30px;
    display: inline-block;
    font-family: 'Caveat';
}

@media (min-width: 768px) {
	.next-gen-sec {
		background: #fff  url(https://cdn.oppyotest.com/launches/webgenie/preview/images/next-gen-bg.webp) no-repeat top center;
		background-size: cover;
		padding:100px 0px;
	}
}

/* Capability Section */

.capability-sec{
	padding: 30px 0px;
	background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/capability-bg.webp) no-repeat center center;
	background-size: cover;
}

@media(min-width:768px){
	.capability-sec{
		padding: 100px 0px;
	}
	.orange-line{
		position: relative;
	}
	
	.orange-line::after{
		content: url('https://cdn.oppyotest.com/launches/webgenie/preview/images/line.webp');
		position: absolute;
		bottom: -25px;
		right: 0;
	}
}

.dfy-section{
	padding: 30px 0px;
	background: #223298;
}

@media(min-width:768px){
	.dfy-section{
		padding: 100px 0px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/dfy-bg.webp) no-repeat center center;
		background-size: cover;
	}
}

.capability-sec2{
	padding: 30px 0px;
	background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/capability-bg2.webp) no-repeat center center;
	background-size: cover;
}

@media(min-width:768px){
	.capability-sec2{
		padding: 100px 0px;
	}
}

.conquar-sec{
	padding: 30px 0px;
	background: #fff;
	position: relative;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.regardless-sec{
	padding: 30px 15px;
	background: #11207c;
}
.dotted-border{
	border: 3px dashed #15C6FC;
	border-radius: 50px;
	display: inline-block;
	padding: 10px 40px;
}
@media(min-width:768px){
	.conquar-sec{
		padding: 100px 0px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/conquer-bg.webp) no-repeat top center;
		background-size: cover;
	}
	.regardless-sec{
		padding: 100px 80px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/regardless-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
	.conquar-sec::before{
		content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/working-boy.webp);
		position: absolute;
		left: 60px;
		bottom: 30px;
		z-index: 0;
		-webkit-animation: mover 1s infinite  alternate;
		animation: mover 1s infinite  alternate;
	}
}

@media(min-width:1200px){
	.conquar-sec::before{
		content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/working-boy.webp);
		position: absolute;
		left: 60px;
		bottom: 30px;
		z-index: 0;
		-webkit-animation: mover 1s infinite  alternate;
		animation: mover 1s infinite  alternate;
	}
}

@media(min-width:1600px){
	.conquar-sec::before{
		content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/working-boy.webp);
		position: absolute;
		left: 60px;
		bottom: 30px;
		z-index: 0;
		-webkit-animation: mover 1s infinite  alternate;
		animation: mover 1s infinite  alternate;
	}
}

.no-need-setup{
	padding: 30px 0px;
	background: #EFF5F9;
}
.cross-list{
	list-style: none;
}
.cross-list li{
	background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/cross-icon.webp) no-repeat;
    padding: 10px 0px 10px 45px;
    background-position: 0px 15px;
    text-align: left;
}
.smile-text{
	background: #FF2C2C;
    border-radius: 25px;
    padding: 9px 15px 9px 55px;
    position: relative;
    display: inline-block;
}
.smile-text::before{
	position: absolute;
	top: -23px;
	left: -60px;
	content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/thumbsup.webp);
}
@media(min-width:768px){
	.no-need-setup{
		padding: 100px 0px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/no-support-bg.webp) center center;
		background-size: cover;
	}
	.arrow-down{
		position: relative;
		display: inline-block;
	}
	.arrow-down::after{
		position: absolute;
		top: 13px;
		right: -45px;
		content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/red-arrow.webp);
	}
}

.chatgpt-sec{
	padding: 30px 0px;
}
@media(min-width:768px){
	.chatgpt-sec{
		padding: 100px 0px;
	}
}

.work-sec{
	padding: 30px 0px;
	background: #eff5f9;
}
@media(min-width:768px){
	.work-sec{
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/work-bg.webp) center center;
		background-size: cover;
		padding: 100px 0px;
	}
}

.different-sec{
	padding: 30px 0px;
}
@media(min-width:768px){
	.different-sec{
		padding: 100px 0px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/different-bg.webp) no-repeat center center;
		background-size: cover;
	}
}

.powerfull-ai{
	background: #EFF5F9;
	padding: 30px 0px;
}
.gap30 {
    --bs-gutter-y: 30px;
}
@media(min-width:768px){
	.powerfull-ai{
		padding: 100px 0px;
	}
	.gap30 {
		--bs-gutter-x: 50px;
		--bs-gutter-y: 50px;
	}
}

.need-section{
	padding: 30px 0px;
}
.need-head{
	background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/need-head.webp) no-repeat center center;
	background-size: 100% 100%;
	padding: 6px 30px;
	display: inline-block;
}
@media(min-width:768px){
	.need-section{
		padding: 100px 0px;
	}
	.left-line{
		position: relative;
	}
	.left-line::before{
		position: absolute;
		bottom: -27px;
		left: 0px;
		content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/left-line.webp);
	}
}

/* hr */

.border-line{
	border: 1px dashed #031528;
}


/* Get Better Section */

.get-better-sec{
	padding: 30px 0px;
}
@media(min-width:768px)
{
	.get-better-sec{
		padding: 100px 0px;
	}
	.red-line{
		position: relative;
	}
	.red-line::before{
		position: absolute;
		bottom: -22px;
		left: 0px;
		content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/red-line.webp);
	}
}

.bonus-sec{
	padding: 30px 0px;
	background: #EFF5F9;
}
.bonus-head{
	background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
	border-radius: 15px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}
@media(min-width:768px)
{
	.bonus-sec{
		padding: 100px 0px;
	}
	.bonus-head{
		padding: 15px 40px;
		border-radius: 100px;
	}
	.bonus-head::before{
		width: 70px;
		height: 1px;
		background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
		position: absolute;
		content: '';
		left: -70px;
	}
	.bonus-head::after{
		width: 70px;
		height: 1px;
		background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
		position: absolute;
		content: '';
		right: -70px;
	}
}

/* Join Sec Start */
.join-sec{
	padding: 30px 0px;
}
@media(min-width:768px){
	.join-sec{padding: 100px 0px;}
}

/* Know-sec Start */
.know-sec{
	background: #EFF5F9;
	padding: 30px 0px;
}
@media(min-width:768px){
	.know-sec{
		padding: 100px 0px;
	}
}

/* Last Long Section */
.last-long-sec{
	padding: 30px 0px;
	background: #16216c;
}
@media(min-width:768px){
	.last-long-sec{
		padding: 100px 0px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/last-long-bg.webp) no-repeat center bottom;
		background-size: cover;
	}
}

/* Decide Section  */
.decide-sec{
	padding: 30px 0px;
	background: #eff5f9;
}
@media(min-width:768px){
	.decide-sec{
		padding: 100px 0px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/confused-bg.webp) no-repeat center center;
		background-size: cover;
	}
}

/* Pricing Table Section */
.pricing-table-sec{
	padding: 30px 0px;
}
@media(min-width:768px){
	.pricing-table-sec{padding: 100px 0px;}
}

/* Inside Section Start */
.inside-section{
	padding: 30px 0px;
	background: #eff5f9;
}
.inside-box{
	background: rgba(21, 198, 252, 0.2);
	border-radius: 20px;
	padding: 28px;
}
@media(min-width:768px){
	.inside-section{
		padding: 100px 0px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/inside-bg.webp) no-repeat center center;
		background-size: cover;
	}
}
/**** FAQ Section ***/

.faq-section {
	padding: 30px 0px;
	background-color: #fff;
}

.faq-list {
	background: url(https://cdn.oppyo.com/launches/webpull/special/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 55px;
    background-position: 15px 25px;
    border: 1px solid #031528;
    border-radius: 20px;
}

@media (min-width: 768px) {
	.faq-section {
		padding: 100px 0px;
	}
}

/**** Final Section ***/

.final-section {
	padding: 30px 0;
	background: #182b9c;
}

.final-shape {
	background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
	border-radius: 15px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}

@media (min-width: 768px) {
	.final-section {
		padding: 100px 0px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/final-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.final-shape {
		padding: 15px 40px;
		border-radius: 100px;
	}
}

/**** Footer Section ***/

.footer-section {
	background: #000000;
	padding: 30px 0px;
}

.footer-ul {
	padding: 0px;
	margin: 0px;
}

.footer-ul li {
	display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
	color: #ffffff;
}

@media (min-width: 768px) {
	.footer-section {
		padding: 50px 0px
	}
}


