
.masthead{
	background-image: url('../img/background1.webp');
	background-size: cover;
	background-position: bottom center;
	padding: 50px 0px;
}

.home1 .video_box iframe {
	width: 100%;
	height: 400px;

}
.home1 .content_box table td svg{
	color: #ffa705;
}
.home1 .content_box table td{
	border: none;
	padding-bottom: 10px;
	padding-top: 0px;
	line-height: 22px;
}

.home1 .shadow1{
  background-color: #ffa705;
  padding: 10px 20px;
  display: inline-block;
}

.home1 .shadow12{
	background-color: #fff;
  padding: 10px 20px;
  display: inline-block;
  transform: skew(-20deg);
}

.home1 .shadow12 .shadow12_inn{
  transform: skew(20deg);
}


.home1_footer{
	background-image: url('../img/background1b.png');
	background-size: cover;
	background-position: top center;
}


.home2{
	/* background-image: url('../img/background2.png'); */
	background-size: cover;
	background-position: top center;
}

.home3{
	background-image: url('../img/background3.png');
	background-size: cover;
	background-position: bottom center;
}

.home3_footer{
	background-color: #091166;
}

.home4{
  background-image: -moz-linear-gradient( -90deg, rgba(255,125,67,0.99608) 0%, rgb(255,125,67) 2%, rgb(255,125,67) 78%, rgb(222,26,44) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgba(255,125,67,0.99608) 0%, rgb(255,125,67) 2%, rgb(255,125,67) 78%, rgb(222,26,44) 100%);
  background-image: -ms-linear-gradient( -90deg, rgba(255,125,67,0.99608) 0%, rgb(255,125,67) 2%, rgb(255,125,67) 78%, rgb(222,26,44) 100%);	
}
@media (min-width:768px){
	.home4{
		padding-bottom: 100px;
}
}
.home4 .row{
	margin-bottom: 50px;
}
.home4 .item h2{
	background-color: #ffa705;
	width: 80%;
	margin: 20px auto;
	padding: 20px 0px;
}

.home5{
	margin-top: -10%;
	background-image: url('../img/background5.png');
	background-size: cover;
	background-position: top center;
	padding-top: 15%;
}

.home5 .header h2 span{
	background-color: #ee1539;
	display: inline-block;
	padding: 10px 20px;
}

.home5 .content table ,.home5 .content table tr,.home5 .content table td {
	border: none;
}

.home5 .content table td svg{
	color: #fccc00;
}

.home6{
	background-image: url('../img/background6.png');
	background-size: cover;
}

.home6 .color_white{
	color: rgba(255, 255, 255, 0.9);
}

.home8{
	padding-top: 15%;
	background-image: url('../img/background8.png');
	background-size: cover;
		background-position: top center;
}