html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #08041e;
    font-size: 14px;
	overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}
.orange-clr {
    color: #FF4F17;
}
.orange-clr1 {
    color: #ffac4f;
}
.red-clr {
    color: #ff0000;
}
.yellow-clr {
    color: #ffc466;
}
.blue-clr2 {
    color: #5054bd;
}
.gradient-orange{
    background: #FF9315; 
    background: linear-gradient(90deg, #FF9315 21.66%, #FF4F17 64.49%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.header-section-ky .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.preheadline {
    background: linear-gradient(#030331 , #030331) padding-box, linear-gradient(to right, #5055BE 0%, #FFFFFF 50%, #5055BE 100%) border-box;
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 10px 20px;
    display: inline-block;
}
@media (max-width: 767px) {
    .preheadline {
        padding: 1rem 2rem;
    }
}
.main-header .list-head li:last-child {
    border-bottom: none;
}
.main-header .list-head li {
    background: url(../images/correct-tick.webp) no-repeat;
    padding: 15px 0px 12px 50px;
    background-position: 0px 18px;
    text-align: left;
}

.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/list-tick.webp) no-repeat;
    padding: 8px 0px 8px 30px;
    background-position: 0px 11px;
    text-align: left;
    border-bottom: solid 1px rgb(11, 11, 49);
}
/* Header Section Css End */

/* Step Section Start */
.pacifico {
    font-family: 'Pacifico', cursive;
}
.step-sec{
	padding: 30px 0px;
}
.step-text {
    background: #FF9315;
    background: linear-gradient(90deg, #FF9315 2.66%, #FF4F17 19.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media(min-width:768px){
	.step-sec{    
		padding: 100px 0px;
	}
}
/* Step Section End */


ul.features-list {
    margin: 0px;
    padding: 0px;
}
.jobiin-header-section ul.features-list li {
    background: url(../images/list-head.png) no-repeat;
    padding: 0px 0px 25px 40px;
    background-position: 0px 5px;
    list-style: none;
}

/* List Section Start */

.list-section {
	padding: 130px 0px 30px 0px;
    background: url(../images/list-section-bg.webp) no-repeat center center;
    background-size: cover;
}

ul.features-list {
	margin: 0px;
	padding: 0px;
}

ul.features-list li {
	background: url(../images/check-mark.webp) no-repeat;
    padding: 5px 0px 0px 50px;
    background-position: 0px 8px;
    text-align: left;
    list-style-type: none;
    margin-bottom: 20px;
}

ul.features-list-jobin li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}


ul.features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}
.list-block {
	border-width: 1px;
	border-color: rgb(13, 21, 77);
	border-style: solid;
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 20px 0px rgba(11, 11, 26, 0.3);
	padding:0px 15px 15px 15px;
  }
  
.list-title {
	background: url(../images/list-title.webp) no-repeat center center / 100% 100%;
	padding: 20px 15px 40px 15px;
	margin-top: -100px;
	margin-bottom: 30px;
}

@media (min-width:768px) {
	.list-section {
		padding:100px 0px 100px 0px;
	}
	.list-block {
		padding:0px 20px 30px 20px;
	}
	.list-title {
		padding: 20px 15px 40px 15px;
		margin-top: -100px;
		margin-bottom: 30px;
	}
}
/* List Section End */


/* Proof Section Start */
.proof-section {
	padding: 30px 0px;
    background: #ffffff;
}

@media(min-width:768px){
    .proof-section {
    background: #e7e9fa url(../images/proof-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 120px 0px 150px 0px;
    }
}
.agree-list {
    margin: 0px;
    padding: 0px;
}
.agree-list li{
	background: url(../images/tick-icon.webp) no-repeat;
    background-position: 0 0px;
    list-style: none;
    padding: 0 0 15px 35px;
}

/* Letsface Section Start */
.letsface-sec{
    padding: 30px 0px; 
    background:#fff url(../images/letsface-bg.webp) no-repeat center center; 
    background-size: cover; 
}

.letsface-box{
    border-radius: 10px;
    background-color:#e7e9fa;
    display:inline-flex;
    padding: 30px 20px;
    position: relative;
    z-index: 1;
	flex-direction: row;
	margin-top: 20px;
	gap: 20px;
	text-align: left;
	align-items: center;
    
}
@media(min-width:768px){
    .letsface-sec{
        padding: 0px 0px 100px 0px;
    }
    .letsface-box {
		width: 100%;
    }
}
 /* Letsface Section End */

 /* Old & Boring Content Section Start */
 .old-content-section
 {
	background: #01010e;
	padding: 30px 0px;
 }
 .old-content-box{
	border-radius: 20px;
	background-color: rgb(255, 196, 102);
	display: inline-block;
	padding: 20px;
	position: relative;
}

.old-content-box::after{
	content: '';
	background: url(../images/content-curve.webp) no-repeat right bottom;
	padding: 22px 0;
	display: block;
	position: absolute;
	width: 100%;
	bottom: -44px;
	right: 102px;
}

.old-headline{
	border: 1px solid rgb(22, 22, 88);
	border-radius: 10px;
	background-color: rgba(15, 15, 83, 0.2);
	display: inline-block;
	padding: 15px;  
}
 @media(min-width:768px){
	.old-content-section{
		background: url(../images/old-boring-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding: 100px 0px 180px 0px;
	}
	.old-content-box{padding: 50px;}
 }

 /* Old & Boring Content Section End */

 /* Business Section Start */
.business-section
{
	background: url(../images/business-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.reason-box{
	border: 1px solid rgb(80, 84, 189);
	border-radius: 50px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 29px 0px rgba(4, 4, 17, 0.2);
	display: inline-block; 
	padding: 20px 30px;
  }

  .billion-content{
	border: 1px solid rgb(15, 15, 83);
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	display: inline-block;
	padding: 20px 30px;
  }
@media(min-width:768px){
	.business-section{
		padding: 20px 0px 100px 0px;
	 }
}

 /* Business Section End */

/* Not Alone Section Start */

.wearenot-alone-section {
	background: #ffffff;
	padding: 0px 0px 30px 0px;
}

.alone-bg {
	background-color: #010110;
	box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
	border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	padding: 10px;
	position: relative;
}

.title-shape {
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}
.title-shape:after {
    content: '';
    background: url(../images/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media (min-width:768px) {
	.wearenot-alone-section {
		background: #ffffff url(../images/wearenotalone-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 0px 0px 100px 0px;
	}

	.alone-bg {
		padding: 25px 30px 25px 10px;
	}

	.alone-bg:after {
		content: "";
		position: absolute;
		width: 87px;
		height: 49px;
		background-image: url(../images/arrow-down.webp);
		left: 44%;
		bottom: -49px;
	}

	.dollars-sm-image {
		width: 211px;
		min-width: 211px;
		height: 163px;
		margin-left: -120px !important;
		top: 0px;
		left: 0px;
	}

	.title-shape{padding: 20px 25px;}
}

/* Not Alone Section End */

/* Potential Section Start */

.potential-sec {
	background-color: #e7e9fa;
	padding: 30px 0px ;
}

.list-shape {
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

@media (min-width:768px) {
	.potential-sec {
		background: #e7e9fa url(../images/potential-bg.webp) no-repeat bottom center;
		padding: 100px 0px 50px 0px;
	}
}

/* Potential Section End */



/* Proudly there Section Start */
.proudly-sec {
    background: #050645;
    padding: 30px 0px;
}

.per-shape {
    background: url(../images/presenting-shape.webp) center center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 20px 55px 30px 65px;
}

.prouldly-li-box{background: url(../images/proudly-li-bg.webp) no-repeat center center;
	background-size: cover;
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}
.boxborder-rb {
    border-bottom: 1px solid rgb(20, 20, 87);
    border-right: 1px solid rgb(20, 20, 87);
}
.boxborder-b {
    border-bottom: 1px solid rgb(20, 20, 87);
}
.boxborder-r {
    border-right: 1px solid rgb(20, 20, 87);
}
.boxbg{
	background: url(../images/check-mark.webp) no-repeat;
    padding: 20px 20px 20px 55px;
    background-position: 10px 23px;
    list-style: none;
}

@media (min-width: 768px){
    .proudly-sec {
        background: #ffffff url(../images/proudly-bg.webp) center center no-repeat;
        background-size: cover;
        padding: 100px 0px 220px 0px;
    }
}

/* Proudly Section End */

/* Testimonals Section Start */
.testimonial-section{
	background: #fff;
	padding: 30px 0px;
}
.single-testimonial {
	background-color: #ede8f9;
	text-align: center;
	border-radius: 30px;	
	position: relative;
	z-index: 2;
}
.single-testimonial p {
	color: #101012;
	font-size: 17px;
	line-height: 28px;
	padding: 50px 30px 30px 30px;
	padding-bottom: 30px;
	position: relative;
	z-index: 3;
}
.single-testimonial::before {
	content: "";
	position: absolute;
	left: -5px;
	top: -35px;
	background: url(https://cdn.oppyo.com/launches/webpull/special/quote.png) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	transform: rotate(180deg);
	background-position: 34px 15px;
}
.single-testimonial::after {
	content: "";
	position: absolute;
	right: -5px;
	bottom: -34px;
	background: url(https://cdn.oppyo.com/launches/webpull/special/quote.png) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	background-position: 34px 19px;
}
.client-info {
	display: inline-flex;
	gap: 15px;
	align-items: center;
	padding-bottom: 30px;
}
.client-details{
	color: #682af1;
	font-size: 20px;
	font-weight: 600;
}
@media(min-width:768px){
	.testimonial-section{
		padding: 100px 0px 80px 0px;
	}
	.single-testimonial p {
		padding: 50px;

	}
	.single-testimonial::before {
		left: -35px;
		top: -35px;
	}
	.single-testimonial::after {
		right: -35px;
		bottom: -34px;
	}
}
/* Testimonals Section End */

/* Viddeyo Header Section Css Start */
.viddeyo-header-section {
	background: #6e44ff;
	padding: 30px 0px 230px 0px;
}
.viddeyo-preheadline {
    border-style: solid;
    border-width: 6px;
    border-color: #603ddb;
    background: #08041e;
    display: inline-block;
    border-radius: 65px;
    padding: 10px 35px;
}
span.highlight-viddeyo {
    border-bottom: solid 4px #fc6dab;
}

@media (min-width:768px) {
	.viddeyo-header-section {
		background: #6e44ff url(../images/header-bg-viddeyo.webp);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 40px 0px 280px 0px;
	}
    .viddeyo-header-section .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
    .viddeyo-header-section .calendar-wrap {
        border-radius: 15px;
        background-color: rgb(240, 236, 255);
        padding: 10px;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    .viddeyo-header-section .calendar-wrap:before {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve1.webp) no-repeat;
        position: absolute;
        z-index: 1;
        top: -14px;
        left: -18px;
        background-size: contain;
        width: 161px;
        height: 121px;
        z-index: -1;
    }
    .viddeyo-header-section .calendar-wrap-inline {
        border-width: 1px;
        border-color: rgb(11, 11, 49);
        border-style: solid;
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        color: #08041e;
    }
    .viddeyo-header-section .calendar-wrap:after {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve2.webp) no-repeat;
        position: absolute;
        z-index: 1;
        right: -18px;
        bottom: -10px;
        background-size: contain;
        width: 282px;
        height: 38px;
        z-index: -1;
    }
    .viddeyo-header-section .list-head {
        list-style: none;
    }
    .viddeyo-header-section  .list-head li:first-child {
        padding-top: 0px;
    }
    .viddeyo-header-section  .list-head li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/list-tick.webp) no-repeat;
        padding: 8px 0px 8px 30px;
        background-position: 0px 11px;
        text-align: left;
        border-bottom: solid 1px rgb(11, 11, 49);
    }
}
/* Header Section Css End */
.viddeyo-second-section {
	padding:0px 0px 30px 0px;
}
ul.viddeyo-features-list {
	margin:0px;
	padding:0px;
}
ul.viddeyo-features-list li {
	background: url(../images/green-tick.webp) no-repeat;
	padding: 0px 0px 20px 45px;
	background-position: 0px 3px;
	list-style:none;
}
ul.viddeyo-features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}
.viddeyo-header-list-block {
	border-radius: 20px;
	padding: 40px 20px;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	margin-top: -200px;
	background:url(https://cdn.oppyo.com/launches/viddeyo/jv/awesome-shape.png) no-repeat center center;
	background-size:cover;
	
}
/* Viddeyo Header Section Css End */



/* WebPrimo Header CSS Start */

.WebPrimo-header-section {
    background: rgb(0, 68, 205);
    background: -moz-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0044cd", endColorstr="#00165f", GradientType=1);
    padding: 30px 0px;
}

.WebPrimo-header-section ul.leader-ul,
.main-header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 12px;
}

.WebPrimo-header-section ul.leader-ul li,
.main-header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 300;
}

.WebPrimo-header-section ul.leader-ul li a,
.main-header-section ul.leader-ul li a {
    text-decoration: none;
    color: #ffffff;
}

.WebPrimo-highlihgt-heading {
    position: relative;
    background: #000000;
    padding: 10px 1px;
    border-radius: 75px;
    display: inline-block;
    color: #f68a1e;
}
.WebPrimo-higlight-text{
	background: url(../images/viddeyo-post-head-sep.webp) no-repeat bottom center;
	display:inline-block;
	background-size:contain;
}
.WebPrimo-key-features-bg {
    padding:20px;
    position: relative;
    width: 100%;
    text-align: center;
    background:rgba(255,255,255,0.05);
	border-radius:15px;
}
.WebPrimo-list-section {
    padding: 30px 0px;
    background: #ffffff;
}
.webprimo-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}

.webprimo-orange-list li {
    padding: 12px 20px 12px 50px;
    position: relative;
}

.webprimo-orange-list li::before {
    content: url(../images/webprimo-red-tick.webp);
    position: absolute;
    left: 0px;
    top: 15px;
}
.webprimo-header-bordered-list li {
    list-style: none;
}

.webprimo-header-bordered-list li:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}

@media (min-width: 768px) {
   .WebPrimo-header-section {
        background: #0043cc url(../images/webprimo-header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 50px 0px 160px;
    }
   .WebPrimo-highlihgt-heading {
    position: relative;
    padding: 8px 60px;
   }
   .WebPrimo-list-section {
        padding:0px 0px 70px 0px;
    }
    .webprimo-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }
    .webprimo-list-section {
        padding:0px 0px 70px 0px;
    }
    .webprimo-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }}
/* WebPrimo Header Section Css End */


/* Affiliate Ninja Pro Header Section Css Start */
.AffiliateNinjaPro-banner{
   background:url(../images/affiliateninjapro-bg.webp) #0570fb no-repeat; 
   background-size:cover;
   width:100%;
   background-position:center;
   }

@media(min-width:240px){
	.AffiliateNinjaPro-banner{padding:3% 2% 6%;}
}
@media(min-width:768px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
	.banner-block{padding:1% 3% 3%;}
}
@media(min-width:992px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
}
@media(min-width:1200px){
	.AffiliateNinjaPro-banner{padding:2% 2% 6%;}
}
@media(min-width:1500px){
	.AffiliateNinjaPro-banner{padding:6% 2% 7%;}
	.banner-block{padding:2% 3% 3%;}
}
.lightcolor {
    color: #ffea00;
}

/* Affiliate Ninja Pro Header Section Css End */

@media(min-width:768px){
.px-md80{padding-left: 80px!important; padding-right: 80px !important;}
}

/* Jobin Header Section Css Start */

.jobiin-header-section {
    background: #141516 url(../images/header-bg-jobin.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 230px 0px;
    position: relative;
}
.jobiin-header-section .orange-clr {
    color: #ffb80f;
}
@media(min-width:768px) {
    .jobiin-header-section {
        padding: 40px 0px 250px 0px;
    }
}

.jobiin-header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.jobiin-header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.jobiin-header-section a.affiliate-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    line-height: normal;
    color: #000000;
    font-weight: 600;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
}

.jobiin-header-section a.affiliate-link-btn:hover {
    transform: scale(1.05);
    transition: all .3s ease;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #c4a300;
    }
    40% {
        box-shadow: 0 0 20px #c4a300;
    }
    60% {
        box-shadow: 0 0 20px #c4a300;
    }
    100% {
        box-shadow: 0 0 -10px #c4a300;
    }
}

@media(min-width:768px) {
    .jobiin-header-section a.affiliate-link-btn {
        padding: 10px 20px;
        font-size: 22px;
    }
}

.jobiin-header-section .headline-highlight {
    color: #ffb80f;
}

@media (min-width: 768px) {
    .jobiin-header-section .headline-highlight {
        background: url(https://cdn.oppyo.com/launches/jobiin/special/heading-shape.svg) no-repeat center center;
        background-size: cover;
        display: inline-block;
        color: #000000;
        padding: 8px 53px 8px 26px;
    }
}


.jobiin-second-section {
    padding: 0px 0px 30px 0px;
}

@media(min-width:768px) {
    .jobiin-second-section {
        padding: 0px 0px 100px 0px;
    }
}

.z-index-9 {
    z-index: 9;
}

.jobiin-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin-top: -200px;
    background: #ffffff;
}

@media(min-width:768px) {
    .jobiin-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    }
}

.jobiin-cta-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 5px;
    color: #000000;
    font-weight: 800;
    font-size: 20px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
    transition: all 0.5s;
}

.jobiin-cta-btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

@media(min-width:768px) {
    .jobiin-cta-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
        display: inline-block;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
.viddeyo-header-section .border-video {
    border-radius: 20px;
}
.viddeyo-header-section .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}