html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 14px;
}

.black-clr {
    color: #000000;
}

.white-clr {
    color: #fff;
}

.blue-gradient {
    background: #459EFF;
    background: linear-gradient(90deg, #459EFF 32.27%, #0ACEE4 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span.under {
    border-bottom: 4px solid;
}
.under {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #459EFF 32.27%, #0ACEE4 74%);
    border-image-slice: 1;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

/* Header Section Css Start */

.header-section {
	background: rgb(9,20,120);
	background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
	background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
	padding: 30px 0 30px 0px;
}

.affiliate-link-btn a {
	background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}
.affiliate-link-btn a::before{
    position: absolute;
    width: 100%;
    height: 34px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}
.affiliate-link-btn a:hover {
    transition: all .3s ease;
background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}
.key-features-bg {
    padding: 15px;
    position: relative;
    width: 100%;
    text-align: center;
    background-color: rgb(6 13 40);
	border-radius:5px;
    border: 1px solid #898a9f;
}

.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/tick.webp) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 13px;
    text-align: left;
  
}

.list-head li:last-child {
    border-bottom: 0px;
}

.pre-heading {
    background: transparent;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 2px solid rgba(10, 206, 228, 1);
}

@media (min-width:768px) {
    .header-section {
        background: #091274 url(../images/header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }

	.key-features-bg {
        padding:25px;
    }
    .pre-heading {
        padding: 15px 35px 15px 35px;
        border-radius: 40px;
    }
    .affiliate-link-btn a {
        padding: 15px 20px;
        font-size: 20px;
    }
   
}

/* Header Section Css End */

/* CTA Section End*/

a.cta-link-btn {
    background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}

a.cta-link-btn::before{
    position: absolute;
    width: 100%;
    height: 44px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}
a.cta-link-btn:hover {
    transition: all .3s ease;
    background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}

@media (min-width: 768px) {
    a.cta-link-btn {
        padding: 30px 45px;
        font-size: 32px;
    }
}


/* CTA Section End*/

/* CTA Section Start */

.cta-section-white {
     background: #030210 url(../images/cta-sec.webp) no-repeat center center;
    padding: 30px 0 30px 0px;
	background-size: cover;
}

@media (min-width: 768px) {
    .cta-section-white {
        background: #030210 url(../images/cta-sec.webp) no-repeat center center;
        background-size: cover;
        padding: 70px 0px;
    }
}

/* CTA Section End */

/* App Suite Section Start */

.ul-tick-icon1 li {
    list-style: none;
    background: url(../images/tick-icon.webp) no-repeat;
    background-position: 0 2px;
    padding: 0 0px 15px 39px;
    display: inline-block;
}	
.awform-section {
    background: #ffffff;
    padding: 30px 0px;
}
.formbg {
    position: relative;
    padding: 15px;
    border-radius: 10px;
    background-color: #edebf0;
    border: dashed 1px #000000;
    padding: 15px;
}
@media (min-width: 768px){
    .ul-tick-icon1 li {
    padding: 0 39px 10px 39px;
    }
    .awform-section {
        padding: 70px 0px;
    }
    .formbg {
        padding: 40px 15px;
    }
    .width-form {
        width: 30%;
        padding: 0px 5px !important;
    }
    .register-btn1 {
        width: 40%;
    }
}
/* App Suite Section End */


/* Footer Section Start */

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

/* Footer Section End */
