html {

	scroll-behavior: smooth;

}



body {

	font-family: 'Poppins', sans-serif;

	color: #000000;

	font-size: 14px;

	overflow-x: hidden;

}



/* Color CSS */



.white-clr,

a.white-clr {

    color: #ffffff;

}



.orange-clr {

    color: #f9bb0b;

}



.red-clr {

    color: rgba(239, 71, 72, 1);

}



.black-clr {

    color: #0f0f0f;

}
.blue-gradient {
    background: var(--Blue-Gradient, linear-gradient(270deg, #16BBFC 0.15%, #0090FF 99.94%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.img-animation {

    animation: 1s ease-in-out 0s infinite alternate none running mover2;

}



@-webkit-keyframes mover2 {

	0% {

		transform: translateY(10px);

	}



	100% {

		transform: translateY(0);

	}

}



@keyframes mover2 {

	0% {

		transform: translateY(10px);

	}



	100% {

		transform: translateY(0);

	}

}







/* Header CSS */



.header-section {

    background: #0f0f0f;

  

    padding: 30px 0 162px 0px;

    position: relative;

    

}

.header-wrap {

    background-color: #fff;

    padding: 30px 0px 30px 0px;

}

ul.leader-ul {

    list-style-type: none;

    padding: 0;

    margin: 0;

    margin-top: 8px;

}


 ul.leader-ul li {

    display: inline-block;

    padding: 0px 8px;

    font-weight: 400;

}



.affiliate-link-btn a {

    border-radius: 15px;

    text-decoration: none;

    text-align: center;

    display: inline-block;

    padding: 10px 20px;

    font-size: 18px;

    line-height: 100%;

    color: #ffffff;

    font-weight: 700;

    transition: all .3s ease;

    background:#ff2c50;

}



.affiliate-link-btn a:hover {

    transform: scale(1.1);

}



.pre-heading {

    padding: 25px 15px;

    margin: 0px auto;

    background:  url(../images/preheading.png) no-repeat;

   

    display: inline-block;

    background-size: cover;

}



.responsive-video {

    position: relative;

    padding-bottom: 56.25%;

    overflow: hidden;

    border-radius: 10px;

    box-shadow: 15px 0px 25px 0px rgba(19, 21, 26, 0.3);

    z-index: 99;

}





@media (min-width: 768px) {
    .yellow-brush {
    padding: 5px 35px;
    background: url(../images/yellow-brush.webp) no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
}

    .header-section {

        background: #0f0f0f url(../images/header-bg.webp);

        background-repeat: no-repeat;

        background-size: cover;

        padding: 40px 0px 160px 0px;

    }

    .header-wrap {

        padding: 30px 0px 30px 0px;

    }

    .pre-heading {

        padding: 20px 15px;

    }

    .affiliate-link-btn a {

        padding: 15px 30px;

        font-size: 20px;

    }

}



.live-section {

    background: #ffffff;

    padding: 0px 0 30px 0px;

}



.formbg {

    position: relative;

    border-radius: 10px;

    width: 100%;

    float: left;

    padding: 20px;

    margin-top: -90px;

    background:  url(../images/date-bg.png) no-repeat;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: transform .5s;

}

.formbg:hover {

    -ms-transform: scale(1.06); 

    -webkit-transform: scale(1.06); 

    transform: scale(1.06); 

    background-color: #ffecee;

}

.popup-btn a,

.popup-btn input[type="submit"] {

    border-radius: 65px;

    text-decoration: none;

    color: #ffffff;

    text-align: center;

    display: block;

    width: 100%;

    z-index: 9999;

    padding: 10px 20px;

    line-height: 30px;

    font-weight: 600;

    outline: none;

    border: 0px;

    background:#ff2c50;

    cursor: pointer;

    transition: all .3s ease;

}



.popup-btn a:hover,

.popup-btn input[type="submit"]:hover {

    transform: scale(1.1);

}



a.affiliate-btn {

    border-radius: 65px;

    text-decoration: none;

    color: #ffffff;

    text-align: center;

    display: block;

    width: 100%;

    z-index: 9999;

    padding: 15px;

    line-height: 30px;

    font-weight: 600;

    outline: none;

    background-image: -moz-linear-gradient( 64deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);

    background-image: -webkit-linear-gradient( 64deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);

    background-image: -ms-linear-gradient( 64deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);

}



a.affiliate-btn:hover {

    background-image: -moz-linear-gradient( 180deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);

    background-image: -webkit-linear-gradient( 180deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);

    background-image: -ms-linear-gradient( 180deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);

}



.form-control.input-field {

    height: 50px;

    font-size: 18px;

    font-weight: 400;

    box-shadow: none !important;

    color: #000000;

    padding: 6px 20px;

    border-width: 1px;

    border-color: rgb(221, 222, 225);

    border-style: solid;

    background-color: rgb(255, 255, 255);

    border-radius: 65px;

}



@media (min-width: 768px) {

    .live-section {

        padding: 0px 0px 100px 0px;

    }

    .formbg {

        padding: 15px 70px 15px 70px;

        border-radius: 20px;

    }

    .popup-btn a,

    .popup-btn input[type="submit"] {

        line-height: 30px;

        font-weight: 600;

    }

    a.affiliate-btn {

        padding: 23px 50px;

    }

}





/***************Promo Section************/



.promo-section {

    padding: 0px 0 30px 0px;

    background: #fff;

}



a.promo-link {

    border: solid 1px #0f0f0f;

    background: transparent;

    max-width: 100%;

    padding: 7.5px 30px;

    border-radius: 65px;

    color: #0f0f0f;

    display: block;

    text-align: center;

    font-weight: 600;

    text-decoration: none;

}



a.promo-link:hover {

    border: solid 1px #f40c28;

    background: #f40c28;

    color: #ffffff;

}



@media (min-width: 768px) {

    .promo-section {

        padding: 0px 0px 50px 0px;

    }

}



.promo-inner-sec {

    padding: 20px;

    border-radius: 15px;

    background: #f1f1f1;

}



.feature-border {

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px 15px;

    border-bottom: 1px solid rgb(182, 179, 188);

}



.feature-border:last-child {

    border: 0;

}



.feature-section {

    padding: 0px 0px 30px 0px;

}



@media(min-width:768px) {

    .promo-inner-sec {

        padding: 40px;

    }

    .feature-section {

        padding: 0px 0px 100px 0px;

    }

    .feature-border {

        padding: 20px 10px;

        border-right: 1px solid rgb(182, 179, 188);

        border-bottom: 0;

    }

}

.big-ques-sec{

    background: #fff url(../images/big-ques-bg.png) no-repeat center bottom;

    background-size: cover;

    padding: 30px 0px;

}

.red{

    background-color: #EF4748;

    color: #fff;

    border-radius: 10px;

    padding: 0px 10px;

    font-size:28px;

}

.feature-wrapper {

    display: flex;

    align-items: center;

    padding: 15px;

    justify-content: center;

    flex-direction: row;

    text-decoration: none;

    gap: 15px;

    text-align: left;

    background: #f9f9f9;

    backdrop-filter: blur(5px);

    border-right: 2px solid red;

    border-left: 2px solid red;

    color: black;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);

    border-radius: 20px;

    transition: transform .4s;

}

.feature-wrapper:hover {

    -ms-transform: scale(1.06); 

    -webkit-transform: scale(1.06); 

    transform: scale(1.06); 

    background-color: #ffecee;

  }



@media (min-width: 768px) {

    .big-ques-sec {

        padding:100px 0px;

    }

.red{

    border-radius: 15px;

    padding: 0px 20px;

    font-size: 45px;

}

.feature-wrapper {

    padding: 30px 25px;

    gap: 12px;

}}

/***********Next Generation*****************/





.next-gen-sec {

    background: #0f0f0f url(../images/next-gen-bg.webp) no-repeat center bottom;

    background-size: cover;

    padding: 40px 0px;

}



.proudly-list-bg {

    border-radius: 20px;

    background-color: #ffffff;

    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);

    padding: 35px;

    margin-top: 40px;

}



.proudly-tick li {

    background: url(../images/frame-tick.png) no-repeat;

    background-position: 0 0px;

    list-style: none;

    padding: 0 0 23px 45px;

}

.proudly-tick li:last-child{

    padding-bottom: 0px;

}

.presenting-wrap {

    padding: 0px 0px 15px 0px;

    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(10px);

    border-radius: 20px;

    border: solid 2px rgba(255, 255, 255, 0.25);

    max-width: 95%;

    margin: 20px auto 0px auto;

}

.presenting-head {

    background: url(../images/introducing-head.webp) no-repeat center center;

    background-size: 100% 100%;

    padding: 5px 55px 55px 55px;

    display: inline-block;

    margin-top: -8px;

}

@media (min-width: 768px) {

    .presenting-wrap {

        padding: 0px 0px 100px 0px;

        max-width: 95%;

        border-radius: 50px;

        margin: 50px auto 0px auto;

    }

    .next-gen-sec {

        padding:100px 0px 250px;

    }

    .proudly-list-bg {

        margin-top: -140px;

    }

    .presenting-head {

        padding: 0px 140px 80px 140px;

        margin-top: -13px;

    }

}

@media (min-width: 1600px){

.presenting-wrap {

    max-width: 85%;

}}



/**************ground-breaking *******************/



.ground-breaking {

    padding: 30px 0px;

    background: #ffffff;

}

@media (min-width: 768px) {

    .ground-breaking {

        padding:30px 0px 100px 0px;

        background: #ffffff url(../images/ground-breaking-bg.webp) bottom center;

        background-size: cover;

    }

}





/*******HUGE Section*********/



.huge-bg-sec {

    background: #f1f1f1 url(../images/demo-video-bg.webp) center center no-repeat;

    background-size: cover;

    padding: 30px 0 30px;

}



@media (min-width: 768px) {

    .huge-bg-sec {

        padding: 70px 0px;

    }

}





/***********Reason Section**************/



.reason-sec {

    background: #ffffff url(../images/reason-sec-bg.webp) no-repeat center center;

    background-size: cover;

    padding: 30px 0px 30px 0px;

}



@media (min-width: 768px) {

    .reason-sec {

        padding: 60px 0px;

    }

}





/**********Promote Section************/



.top-5 {

    background: #ffffff;

    padding: 30px 0px 30px 0px;

}



.reason-tick li {

    background: url(../images/reason-tick.webp) no-repeat;

    background-position: 0 4px;

    list-style: none;

    padding: 0 0 20px 35px;

}



@media (min-width: 768px) {

    .top-5 {

        padding: 100px 0px 200px 0px;

    }

}





/***********Prize Section*************/



.prize-section {

    background: #ffffff url(../images/irr-img.svg) no-repeat bottom center;

    background-size: cover;

    padding: 30px 0px 60px 0px;

    position: relative;

}



@media (min-width: 768px) {

    .prize-section {

        padding: 0px 0px 140px 0px;

    }

    .mtm70 {

        margin-top: -100px !important;

    }

}





/************Depp Funnel***********/



.deep-funnel {

    background: #ffffff;

    padding: 30px 0px;

}



@media (min-width: 768px) {

    .deep-funnel {

        padding: 0px 0px 100px 0px;

    }

}





/*************reciprocate-sec1**************/



.reciprocate-sec1 {

    background: #f1f1f1;

    padding: 30px 0px;

}



@media (min-width: 768px) {

    .reciprocate-sec1 {

        padding: 100px 0px;

    }

}





/*************reciprocate-sec**************/



.reciprocate-sec {

    background: #ffffff;

    padding: 30px 0px;

}



@media (min-width: 768px) {

    .reciprocate-sec {

        background: #ffffff url(../images/reciprocate-sec.webp);

        background-repeat: no-repeat;

        background-position: center center;

        background-size: cover;

        padding: 100px 0px;

    }

}





/*****************Contact Section**********/



.contact-section {

    background: #0f0f0f url(../images/header-bg.webp) center bottom no-repeat;

    background-size: cover;

    padding: 30px 0px;

}



.contact-box {

    background: url(../images/ayush.webp) center center no-repeat;

    display: flex;

    align-items: center;

    justify-content: end;

    background-size: 100% 100%;

    padding: 40px 20px 20px 0px;

}



.contact-box1 {

    background: url(../images/pranshu.webp) center center no-repeat;

    display: flex;

    align-items: center;

    justify-content: end;

    background-size: 100% 100%;

    padding: 40px 20px 20px 0px;

}



@media (min-width: 768px) {

    .contact-section {

        padding: 70px 0px;

    }

    .contact-box {

        padding: 40px 8px 20px 0px;

    }

    .contact-box1 {

        padding: 40px 8px 20px 0px;

    }

}





/*************Term & Condition***************/



.terms-section {

    padding: 30px 0px 10px 0px;

    background: #ffffff;

}



.b-tick1 li {

    padding: 0 0 20px 0px;

}



@media (min-width: 768px) {

    .terms-section {

        padding: 70px 0px 50px 0px;

    }

}





/**************Footer Section***********/



.footer-section {

    background: #100f12;

    padding: 30px 0px;

}



.footer-ul {

    padding: 0px;

    margin: 0px;

}



.footer-ul li {

    display: inline;

}



@media (min-width: 768px) {

    .footer-section {

        padding: 50px 0px;

    }

}
.inside-section{
	padding: 30px 0px;
	background: #eff5f9;
}
.inside-box{
	background: rgba(21, 198, 252, 0.2);
	border-radius: 20px;
	padding: 28px;
}
@media(min-width:768px){
	.inside-section{
		padding: 100px 0px;
		background: url(../images/inside-bg.webp) no-repeat center center;
		background-size: cover;
	}
}