html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #121733;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
}

.caveat{
    font-family: 'Caveat', cursive;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.border-video {
    border-radius: 0px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.black-clr {
    color: #121733;
}

.green-clr{
    color:#1FE29F;
}

.purple-gradient {
    background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
/* Header Section CSS */
.header-section {
    background: #0A071E;
    padding: 30px 0;
    position: relative;
}
.preheadline {
    padding: 8px 25px;
    display: inline-block;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
}
.head-design {
    background: #FFFFFF;
    border-radius: 0px 30px;
    padding: 30px 15px 15px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gametext {
    background: #1FE29F;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #121733;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -25px;
    z-index: 99;
    line-height: 30px;
}
@media(min-width:768px){
    .header-section {
        padding: 40px 0px 100px 0px;
        background: #fff url(../images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .head-design {
        padding: 30px;
    }
    .gametext {
        background: url(../images/cutting-edge-bg.webp) center center no-repeat;
        padding: 10px 60px 15px 20px;
        font-size: 24px;
        background-size: 100% 100%;
        text-align: left;
        left: -6px;
    }
}

.proudly-section {
    padding: 30px 0px;
    background: #0a071e;
}
@media(min-width:768px) {
    .proudly-section {
        padding: 80px 0px 150px 0px;
        background: #ffffff url(../images/proudlybg.webp) no-repeat bottom center;
        background-size: cover;
    }
}
.second-section {
    padding: 30px 0px;
    background: #fff;
}
@media(min-width:768px) {
    .second-section {
        padding: 100px 0px;
    }
}
.kapblue,
a.kapblue {
    color: #2337f6;
    text-decoration: none;
}

/********features*********/
.bonus-section {
    background: #eef0ff;
    background-size: cover;
    padding: 30px 0;
}
.moneyback-section {
    padding: 30px 0px;
    background: #0d072d;
}
@media (min-width:768px) {
    .moneyback-section {
        padding: 100px 0 ;
        background: #eef0ff url(../images/moneyback-bg.webp) no-repeat bottom center;
        background-size: cover;
        z-index: 9;
        position: relative;
    }
    .bonus-section {
        background: url(../images/bonus-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px;
    }
}
.footer-section {
    background: #100f12;
    padding: 30px 0;
}
.footer-ul {
    padding: 0px;
}
.footer-ul li {
    display: inline;
    line-height: 130%;
}
.white-section {
    background: #fff;
    padding: 30px 0;
}
.grey-section {
    background: #EFEFF9;
    padding: 30px 0;
}
@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
    .white-section {
        background: url(../images/white-section-bg.png) no-repeat center center;
        padding: 100px 0px;
    }
    .grey-section {
        padding: 100px 0px;
    }
}
.probtn1 a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
}
.probtn1 a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    text-decoration: none;
}
@media (min-width:768px) {
    .probtn1 a {
        font-size: 38px;
        padding: 28px 30px;
        display: inline-block;
        width: auto;
    }
}
/*Table CSS Start*/
.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}
.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}
.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}
.tablebox3 {
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
    position: relative;
}
ul.vgreytick {
    padding: 0px;
    margin: 0;
}
ul.vgreytick li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}
ul.vgreytick li:nth-child(odd) {
    background-color: #EFEFF9;
}
ul.vgreytick li:nth-child(even) {
    background-color: #ffffff;
}
ul.vgreytick li:last-child {
    border-bottom: 0px;
}
ul.grey-tick-last {
    padding: 0px;
    margin: 0;
}
ul.grey-tick-last li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    color: #000;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}
ul.grey-tick-last li:nth-child(odd) {
    background-color: #EFEFF9;
}
ul.grey-tick-last li:nth-child(even) {
    background-color: #fff;
}
ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}
.tbbg2 {
    background-color: #fff;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}
.tbbg3 {
    background: linear-gradient(180deg, #080923 0%, #25226e 100%);
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}
@media (min-width: 768px) {
    .tbbg3 {
        padding: 50px 30px 50px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg2 {
        padding: 50px 30px 50px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 20px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 20px;
    }
}
.myfeatureslast {
    float: left;
    padding: 0px 30px 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}
.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}
@media(min-width:768px) {
    .myfeatureslast {
        padding: 0px 20px 30px;
    }
}
.table-section {
    background: #ffffff;
    padding: 30px 0;
}
@media(min-width:768px){
    .table-section {
        padding: 70px 0 100px 0px;
        background: url(../images/table-bg.webp) no-repeat center center;
        background-size: cover;
    }
}
.footer-ul li:hover a {
    color: #fff;
}
    .tablebox3:before {
        content: '';
        position: absolute;
        background: url(../images/most-popular.png) no-repeat;
        min-height: 120px;
        min-width: 120px;
        left: 0px;
        top: 0px;
        background-size: contain;
    }
.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}

ul.feature-list li {
    list-style: none;
    background: url(../images/launch-tick-blue.png) no-repeat;
    padding: 0px 0px 15px 40px;
    background-position: 4px 4px;
}
.proudly-head {
    background: #1FE29F;
    border-radius: 40px;
    padding: 9px 15px;
    display: inline-block;
}
@media(min-width:768px){
    .proudly-head {
        padding: 9px 50px;
    }
}
.feature-shape {
    background: #FF2C2C;
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}
@media(min-width:768px){
    .feature-shape:after {
        content: '';
        background: url(../images/line-shape.webp) no-repeat right bottom;
        padding: 22px 0;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -15px;
        right: -15px;
    }
}

.purple-section{
    padding:30px 0px;
    background:#ECECFE;
}
@media(min-width:768px){
    .purple-section{
        padding: 100px 0px;
    }
}

/* Floating Btn */

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#7764ff;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#E76D24;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}