body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #000000;
}


/* Header Section CSS */

.header-section {
    background-color: #fff;
    padding: 30px 0;
    background: url(../images/banner-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
}

.logo-height {
    max-height: 45px;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

a.link-text {
    color: #000000;
    text-decoration: none;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.container-padding {
    padding: 30px 0;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

a.blue-clr {
    color: #f68a1e;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px 50px;
    }
}

.lightred {
    color: #f68a1e;
}

a.lightred {
    color: #f68a1e;
    text-decoration: none;
}

ul.footer-ul a:hover {
    color: #fff;
}