html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 14px;
}
.black-clr {
    color: #000000;
}

.white-clr {
    color: #ffffff;
}

.blue-clr{
    color:#459EFF ;
}
.blue-gradient {
    background: #459EFF;
    background: linear-gradient(90deg, #459EFF 32.27%, #0ACEE4 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue-gradient1{
    background: #459EFF;
    background: linear-gradient(90deg, #3485de 32.27%, #00c8de 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span.under {
    border-bottom: 4px solid;
}
.under {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #459EFF 32.27%, #0ACEE4 74%);
    border-image-slice: 1;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Header Section CSS Start*/

.header-section {
    background: #ffffff url(../images/header-bg.webp) center bottom no-repeat;
    background-size: cover;
    padding: 30px 0px 30px 0px;
}

.pre-heading {
    background: transparent;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 2px solid rgba(10, 206, 228, 1);
}

span.under {
    border-bottom: 4px solid;
}

.probtn1 a {
    background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}

.probtn1 a::before {
    position: absolute;
    width: 100%;
    height: 44px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}
.probtn1 a:hover {
    transition: all .3s ease;
    background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}

.gap20 {
    gap: 20px;
}

@media(min-width:768px) {
    .header-section {
        padding: 70px 0px 70px 0px;
    }
    
    .pre-heading {
        padding: 10px 35px 10px 35px;
        border-radius: 40px;
    }
    .skew-con {
        transform: skew(10deg);
    }
    .probtn1 a {
        padding: 30px 45px;
    font-size: 32px;
    }
    
}

/* Header Section CSS End*/

/* Second Section1 Css Start */

.second-section1 {
    padding: 30px 0px;
    background: #ffffff;
}
@media (min-width: 768px){
    .second-section1 {
        padding: 100px 0px;
        background: #ffffff;
    }
}

/* Second Section1 Css End */

/* Second Section Css Start */

.second-section {
    padding: 30px 0px;
    background: #e5eaf6;
}
.proudly-sec {
    background: url(../images/proudly-shape.webp) no-repeat center center;
    background-size: contain;
    padding: 27px 50px 50px 50px;
    display: inline-block;
    margin-top: -48px;
}
@media(min-width:768px) {
    .second-section {
        padding: 100px 0px 100px 0px;
        background: #001233 url(../images/second-sec-bg.webp) no-repeat bottom center;
        background-size: cover;
    }
    .proudly-sec {
        margin-top: -18px;
    }
}

/* Second Section Css End */


/********features*********/

/* First Section Css Start*/

.fifth-section {
    background: #ffffff url("../images/proudlybg.webp") no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}

@media(min-width:768px){
    .fifth-section {
        padding: 0px 0px 50px 0px;
    }
}

/* First Section Css End*/

/* White-Grey CSS Start */

.white-section {
    background: #fff;
    padding: 30px 0;
}
.grey-section {
    background: #e5eaf6 ;
    padding: 30px 0;
}

.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}

@media(min-width:768px){
    .white-section {
        padding: 50px 0px 100px 0px;
    }
    .grey-section {
        padding: 100px 0;
    }
   
}

/* White-Grey CSS End */

/* MoneyBack Css Start */

.moneyback-section {
    padding: 30px 0px;
    background: #101929;
}

@media (min-width:768px) {

    .moneyback-section {
        padding: 50px 0 50px 0px;
        background: #f3f2fb url(../images/moneyback-bg.webp) no-repeat bottom center;
        background-size: cover;
    }
}

/* MoneyBack Css End */

/* Bonus Css Start */

.bonus-section {
    background: #e5eaf6 ;
    background-size: cover;
    padding: 30px 0;
}

.but-design-border {
    border: solid 1px #0f0f0f;
    position: relative;
    display: inline-flex;
    border-radius: 10px;
}

.button-shape {
    position: relative;
    background: #e50604;
    padding: 15px 20px;
    color: #fff;
    margin: -10px 10px 10px -10px;
    border-radius: 10px;
}

.blue-head {
    color: #0041b5;
}

@media(min-width:768px){
    .bonus-section {
        background: url(../images/bonus-bg.webp) no-repeat;
        background-size: cover;
        background-position: center bottom;
        padding: 70px 0px 100px 0px;
    }
    .button-shape {
        padding: 15px 30px;
    }
}
/* Bonus Css End */

/*Table CSS Start*/

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

.tablebox2 {
    border: 1px solid #2f0088;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tbbg2 {
    background:#020d20;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tbbg2-text {
    color: #fff;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #0041b5;
}

.kapblue {
    color: #0063eb;
}


@media (min-width: 768px) {
    .table-section {
        padding: 70px 0 100px 0px;
        background: url(../images/table-bg.webp) no-repeat center center;
        background-size: cover;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

/*Table CSS End*/

/* Footer Section Start */

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}

@media(min-width:768px) {

    .footer-section {
        padding: 50px 0px;
    }
}

/* Footer Section End */

