
/*Fonts*/
@font-face {font-family: WesThin; src: url('../font/Wes FY W03 Thin.ttf'); } 
@font-face {font-family: WesReguler; src: url('../font/Wes FY W03 Regular.ttf'); } 
@font-face {font-family: WesMedium; src: url('../font/Wes FY W03 Medium.ttf'); } 
@font-face {font-family: WesBold; src: url('../font/Wes FY W03 Bold.ttf'); } 
@font-face {font-family: WesBlack; src: url('../font/Wes FY W03 Black.ttf'); } 
.WesThin{
	font-family: 'WesThin';
}
.WesReguler{
	font-family: 'WesReguler';
}
.WesMedium{
	font-family: 'WesMedium';
}
.WesBold{
	font-family: 'WesBold';
}
.WesBlack{
    font-family: 'WesBlack';
}
.white-clr{
  color: #ffffff;
}
.pink-clr{
  color: #F55D87;
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
::selection{
  background: rgb(92, 27, 243);
  color: #fff;
}
.gradient-clr {
  background: #7617E4;
  background: linear-gradient(to top, #FF992E 0%, #DA1467 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-gradient {
  background: #1E9AF7;
  color: #1E9AF7;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p{
  font-size: 22px !important;
  line-height: 1.3 !important;
}
.p1{
  font-size: 19px !important;
}
.p2{
  font-size: 17px !important;
}
h1,h2,h3,h4,h5,h6{
  width: 100%;
  display: block;
}
.main-container{
  padding: 0px;
  margin: 0px auto;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
  float: right;
}
.left{
  text-align: left;
  float: left;
}
.img10 img{
  width: 10%;
}
.img20 img{
  width: 20%;
}
.img30 img{
  width: 30%;
}
.img40 img{
  width: 40%;
}
.img50 img{
  width: 50%;
}
.img60 img{
  width: 60%;
}
.img70 img{
  width: 70%;
}
.img80 img{
  width: 80%;
}
.img90 img{
  width: 90%;
}
.img100 img{
  width: 100%;
}
.lh140{
  line-height: 140%;
}
.lh150{
  line-height: 150%;
}
.lh160{
  line-height: 160% !important;
}
.pl1{padding-left: 10px;}
.pl2{padding-left: 20px;}
.pl3{padding-left: 30px;}
.pl4{padding-left: 40px;}
.pl5{padding-left: 50px;}

.mt-10{margin-top: -10px;}
.mt-20{margin-top: -20px;}
.mt-30{margin-top: -30px;}
.mt-40{margin-top: -40px;}
.mt-50{margin-top: -50px;}
.mt-60{margin-top: -60px;}
.mt-70{margin-top: -70px;}
.mt-80{margin-top: -80px;}
.mt-90{margin-top: -90px;}
.mt-100{margin-top: -100px;}

.mt1{margin-top: 10px;}
.mt2{margin-top: 20px;}
.mt3{margin-top: 30px;}
.mt4{margin-top: 40px;}
.mt5{margin-top: 50px;}
.mt6{margin-top: 60px;}
.mt7{margin-top: 70px;}
.mt8{margin-top: 80px;}
.mt9{margin-top: 90px;}
.mt10{margin-top: 100px;}

.mb1{margin-bottom: 10px;}
.mb2{margin-bottom: 20px;}
.mb3{margin-bottom: 30px;}
.mb4{margin-bottom: 40px;}
.mb5{margin-bottom: 50px;}

.br-10{border-radius: 10px;}
.br-20{border-radius: 20px;}
.br-30{border-radius: 30px;}
.br-40{border-radius: 40px;}
.br-50{border-radius: 50%;}

.b3{font-weight: 300;}
.b4{font-weight: 400;}
.b5{font-weight: 500;}
.b6{font-weight: 600;}
.b7{font-weight: 700;}
.b8{font-weight: 800;}
.b9{font-weight: 900;}

.white{color: #fff;}
.black{color: #000;}
.red{color: #f00;}
.red1{color: #7e0927;}
.yellow{color: #FFAE5F;}
.yellow1{color: #FFCB46;}
.green{color: #1cb85e;}
.blue{color: #001c55;}
.light-blue{color: #1a52ad;}
.pink{color: #ff004c;}
.orange{color: #fd6e00;}
.grey{color: #3D3D3D;}
.grey1{color: #8C8C8C;}
.yellow-clr {
  color: #eaab26;
}


.buy {
    transition: 0.5s;
}
.buy:hover {
    transform: scale(1.02);
}

.no-thanks-link{
    color: #0041b5 !important;
    text-decoration: none !important;
}
.no-thanks-link:hover{
    color: #0041b5;
	text-decoration:underline;
}


.uppercase{
  text-transform: uppercase;
  letter-spacing: 3px;
}
.transparent{
  opacity: 0.7;
}

.heading1{
  font-size: 50px;
}
.headingl{
  font-size: 55px;
}
.headingl1{
  font-size: 70px;
}

.highlight-yellow{
  background: #ffff00;
  display: inline-block;
  padding: 5px 5px 0px;
}
.lh1{
  line-height: 1.3 !important;
}
.lh2{
  line-height: 130% !important;
}

header {
    background-color: #b30f0f;
    padding: 17px 10px;
}
header h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    line-height: 120%;
}

.s1 {
    padding: 1.5% 0;
}
.sky{
  color: #23d4fc;
}
.f-16{
  font-size: 16px;
}
.main-heading {
  background: #fff;
  border-radius: 7px;
  padding: 20px 10px;
}
.black2-clr {
  color: #140014;
}
.red-hat-font {
  font-family: Red Hat Display;
}
@media(min-width:768px){
  .f-md-18{
    font-size: 18px;
  }
  .main-heading {
    background: url(../images/main-heading-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 61px 25px 62px 61px;
}
}

.section1{
  display: block;
  background: url(../images/bg1.webp) repeat 0 0 / cover;
  padding-top: 50px;
  padding-bottom: 80px;
  background-position: center top;
}
.section2{
  display: block;
  padding-top: 80px;
  padding-bottom: 0px;
  background-position: center top;
}
.box2 {
    display: inline-block;
    background: #3322b6;
    width: 100%;
    text-align: center;
    padding: 30px 30px 20px 30px;
    border-radius: 15px;
    margin-top: 50px; 
    -webkit-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
    -moz-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
}
.section2a{
  display: block;
  background: #FDE4E4;
  padding-top: 50px;
  padding-bottom: 0px;
  background-position: center top;
}
.section2b {
    display: block;
    background: #fff;
    padding-top: 30px;
    padding-bottom: 70px;
    background-position: center top;
}
.section3 {
    display: block;
    background: url(../images/bg3.webp) repeat 0 0 / cover;
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: center top;
}
.section4 {
    display: block;
    background: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: center top;
}
.section4a{
  display: block;
  background: url(../images/bg6.png) repeat 0 0 / cover;
  padding-top: 180px;
  padding-bottom: 50px;
   margin-top: -110px; 
  background-position: center top;
}

i.fa.fa-circle {
    font-size: 7px;
}
.bglabel {
    background-color: #fff;
    margin-top: 5%;
    padding: 20px 0 0 0;
    border-radius: 15px;
}

.footer p{
  font-size: 16px!important;
}

.section5{
  display: block;
  background: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 100px;
  background-position: center top;
}
.section6{
  display: block;
  background: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center top;
}
.section7{
  display: block;
  background: url(../images/bg7.webp) repeat 0 0 / cover;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: top center;
}
.section8{
  display: block;
  background: url(../images/bg8.png) repeat 0 0 / cover;
  padding-top: 180px;
  padding-bottom: 50px;
  background-position: center top;
}
.footer{
  display: block;
  background: #000;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center top;
}
.footer_menu li {
  list-style: none;
  display: inline-block;
  font-weight: 400;
  color: #8C8C8C;
  text-decoration: none;
  font-size: 15px;
  margin-top: 10px;
}
.footer_menu li a{
  font-weight: 400;
  color: #8C8C8C;
  text-decoration: none;
  font-size: 15px;
}
.footer_menu li a:hover{
  text-decoration: underline;
}
.logo img{
  width: 15%;
}
.video-bg{
  background: rgb(255 255 255/10%);
  border: 1px solid rgb(255 255 255/12%);
  border-radius: 30px;
  padding: 30px;
}

.gradient1{
  font-size: 40px;
}

.button-primary{
  background: linear-gradient(0deg, #F55D87 10%, #CE14FD 100%);
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #ffffff !important;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  transition: all .3s ease;
}


.button-primary:hover {
  transition: all .3s ease;
  background: linear-gradient(0deg, #CE14FD 10%, #F55D87 90%);
}

@media (min-width: 768px) {
  .button-primary{
      padding: 30px 45px;
      font-size: 32px;
  }
}
.button-primary .col-10{
  margin-top: -60px;
}
.button-primary .col-2{
  margin-top: -96px;
  background: #D34501;
  margin-left: -12px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0 20px 20px 0;
}

.box1{
  display: inline-block;
  background: #fff;
  border: 1px solid #7158C2;
  width: 100%;
  padding: 30px;
  border-radius: 15px;
  margin-top: 50px;
  box-shadow: 0 24px 70px 0 rgb(76 69 169 / 21%);
}

.box2 {
    background: rgb(255 255 255/10%);
    border: 1px solid rgb(255 255 255/12%);
    border-radius: 30px;
    padding: 30px;
    margin-top: 60px;
    height: 70%;
   
}
.list-head li {
  background: url(../images/priceCheck2.png) no-repeat;
  padding: 0px 0px 10px 40px;
  margin-bottom: 10px;
  background-position: 0px 5px;
  text-align: left;
  border-bottom: solid 1px #ffffff33;
  font-size: 20px;
}

.graphic1 {
    max-width: 75%;
}
.box2 h2 {
    font-size: 24px;
}
.box2 p {
    font-size: 20px!important;
}

.white-bg{
  background: #fff;
  display: block;
  padding: 10px 30px;
  border-radius: 20px;
}

.img80 .deepanker{
  width: 84% !important;
}
.p-table {
    display: inline-block;
    background: #fff;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    -webkit-box-shadow: 3px 10px 41px -14px rgba(0,0,0,.69);
    -moz-box-shadow: 3px 10px 41px -14px rgba(0,0,0,.69);
    box-shadow: 3px 10px 41px -14px rgba(0,0,0,.69);
    border-radius: 20px;
}
.footer .copyright-link {
    text-align: right;
    color: #989898;
    padding: 10px 0;
}
.footer a {
    color: #fff;
    text-decoration: none;
}
.footer a:hover {
  text-decoration: none;
    color: #fff;
}
.section2 .hd1 {
    line-height: 160%;
    background-color: #00000008;
    padding: 15px 15px;
    border-radius: 20px;
    border: 2px solid #23b4f8;
    margin-bottom: 5%;
}


.p-head1 {
  background: #000;
  padding: 30px;
  border-radius: 20px;
}
.p-head2 {
  background: #ed861c;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.bar1{
  background: #fff;
  height: 2px;
  width: 50%;
  text-align: center;
  display: inline-block;
}
.p-body {
  padding: 20px;
  background: rgba(255, 255, 255, 0.043);
  border-radius: 20px;
}
.p-body2 {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 4px dotted #ed861c;
  border-top: none;
}

@media (max-width: 767px){
  .list-head li {
    background: url(../images/priceCheck2.png) no-repeat;
    padding: 0px 0px 10px 40px;
    margin-bottom: 10px;
    background-position: 0px 5px;
    text-align: left;
    border-bottom: solid 1px #ffffff33;
    font-size: 16px;
  }
  .gradient1{
    font-size: 32px;
  }
  .logo img{
    width: 50%;
  }
  .section1 .top-strip h4{
    font-size: 20px;
  }
  .headingm{
    font-size: 27px;
  }
  .heading1{
    font-size: 30px;
  }
  .heading1a{
    font-size: 30px;
  }
  .headingl{
    font-size: 35px;
  }

  h2{
    font-size: 23px;
  }
  h3{
    font-size: 20px;
  }
  .mt0-res{
    margin-top: 0px;
  }
  .mt1-res{
    margin-top: 10px;
  }
  .mt2-res{
    margin-top: 20px;
  }
  .mt3-res{
    margin-top: 30px;
  }
  .mt40-res{
    margin-top: 40px;
  }
  .mt50-res{
    margin-top: 50px;
  }
  .mt60-res{
    margin-top: 60px;
  }
  .mt70-res{
    margin-top: 70px;
  }
  .mt80-res{
    margin-top: 80px;
  }
  .mt90-res{
    margin-top: 90px;
  }
  .mt100-res{
    margin-top: 100px;
  }
  .br-res br{
    display: none;
  }
  .button-green{
    font-size: 20px;
  }
  .guarantee img{
    width: 70%;
  }
  .img70 img{
    width: 100%;
  }
  .img50 img{
    width: 100%;
  }
  .video-bg{
    padding: 15px;
    border-radius: 15px;
  }
  .button-primary .col-10{
    margin-top: -30px;
    font-size: 20px;
  }
  .button-primary{
    display: block;
    width: 100%;
  }
  .button-primary .col-2{
    margin-top: -42px;
    background: #D34501;
    margin-left: -12px;
    padding-top: 20px;
    border-radius: 0 20px 20px 0;
  }
  .button-primary .col-2 img{
    width: 70%;
  }
  .section2{
    padding-top: 50px;
  }
  
  .section3{
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .section4{
    
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section6{
    padding-top: 80px;
  }
  .steve{
    width: 50% !important;
  }
  
  .footer .text-end{
    text-align: center !important;
    margin-left: -30px;
  }
  .center-res{
    text-align: center !important;
  }
}
.proudly-sec {
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.10);
  display: inline-block;
  padding: 10px 20px;
}

@media (min-width: 768px){
.proudly-sec {
    padding: 9px 50px;
}
}
.no-thanks a{color: #FD2F15; text-decoration: none;}
.footer-ul {
  padding: 0;
}
.footer-ul li {
  display: inline;
  line-height: 130%;
}
.p1 {
  font-size: 20px !important;
}
@media (min-width: 768px){
.footer-ul li {
    display: inline;
    line-height: normal;
}
.caveat {
  font-family: 'Caveat', cursive;
}
}
@media(min-width:768px){
  .p1 {
    font-size: 20px !important;
}
}
.warning-section {
  background-color:#ae0a8b;
  padding: 20px 0px;
}
.lg30 {
  font-size: 30px;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.offer {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .offer {
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: center;
      flex-direction: row;
  }
}


