body {
    font-family: 'Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}

.yellow-clr {
    color: #fff600;
}

.white-clr {
    color: #ffffff;
}

/* Header Section CSS */

.header-section {
    background: #fff url(../images/header-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
}
.pre-heading {
    background: #550076;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
}

.fifth-section {
    background: url(../images/proudlybg.webp) no-repeat top center;
    background-size: cover;
    padding: 60px 0px 30px 0px;
}

@media(min-width:768px) {
    .header-section {
        padding: 40px 0px 100px 0px;
    }
    .fifth-section {
        padding: 130px 0px 100px 0px;
    }
    .pre-heading {
        padding: 15px 40px;
        background: url(../images/pre-shape.webp) no-repeat center center;
        background-size: cover;
    }
}

.relative {
    position: relative;
}

.kapblue {
    color: #224cb0;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.grey-section {
    background: #deeaff;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .grey-section {
        background: #deeaff url(../images/feature-bg.webp) no-repeat;
        background-position: center center;
        padding: 100px 0;
    }
    .footer-section {
        padding: 45px 0px 50px;
    }
}

.bonus-section {
    background: #deeaff;
    background-size: cover;
    padding: 30px 0;
}

@media(min-width:768px) {
    .bonus-section {
        background: #deeaff url(../images/bonus-bg.webp) no-repeat;
        background-position: center bottom;
        padding: 100px 0px;
    }
}

.probtn1 a {
    border-radius: 8px;
    background: #ff9023;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
}

.probtn1 a:hover {
    background: #ee851c;
    text-decoration: none;
}

@media (min-width: 768px) {
    .probtn1 a {
        font-size: 42px;
        padding: 28px 30px;
    }
}

.probtn a {
    border-radius: 8px;
    background: #ff9023;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
}

.probtn a:hover {
    background: #ee851c;
    text-decoration: none;
}

@media (min-width: 768px) {
    .probtn a {
        font-size: 42px;
        padding: 28px 30px;
    }
}

.text-capitalize {
    text-transform: capitalize;
}

.white-section {
    background: #f9f9f9;
    padding: 30px 0;
}

@media(max-width:767px) {
    .white-section {
        padding: 30px 0;
    }
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    border: 1px solid #0063eb;
    width: 100%;
    float: left;
    border-radius: 15px;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 28px;
    line-height: 150%;
    border-bottom: 1px solid #e7e7e7;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

.tbbg2 {
    background: #200d68;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #240f75;
}

.moneyback-section {
    background: #100370 url(../images/moneyback-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 60px 0 30px 0px;
    color: #ffffff;
}

/*Table CSS Enad*/

@media (min-width:768px) {
    .moneyback-section {
        padding: 100px 0 100px 0px;
        color: #fff;
    }
}

@media (max-width:767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
    ul.vgreytick {
        padding: 0px 15px;
    }
}

.no-wrap {
    white-space: nowrap;
}

@media (min-width: 768px) {
    .white-section {
        padding: 100px 0;
        background: #fff url(../images/white-section-bg.webp) no-repeat;
        background-position: center;
    }
}

.black-design {
    background: #240f75;
    padding: 15px 30px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block;
}

.black-design .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}

@media (min-width: 768px) {
    .black-design {
        padding: 15px 60px;
    }
}

.second-sec {
    padding: 30px 0px;
    background: #deeaff;
}

.second-sec-1 {
    background: #fff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .second-sec {
        padding: 50px 0px 100px 0px;
        background: #fff url(../images/success-bg.webp) no-repeat;
        background-position: center;
    }
    .second-sec-1 {
        background: #fff;
        background-position: center;
        padding: 100px 0;
    }
}

span.under {
    border-bottom: 4px solid;
}

.table-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

@media(min-width:768px) {
    .table-section {
        padding: 80px 0;
    }
}

.proudly-sec {
    background: #10a6f8;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}
@media (min-width: 768px){
    .proudly-sec {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
}
