html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
	    overflow-x: hidden;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}
/* Color CSS */
.white-clr {
    color: #fff;
}
.black-clr {
    color: #00050D;
}
.orange-clr{
	color:#F89B1C;
}
.video-box{
    position: relative;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.03) 100%);
    backdrop-filter: blur(10px);
}
.gradient-clr {
background: #5425F5;
background: linear-gradient(to right, #5425F5 30%, #f53789 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* Header CSS */
.header-section {
	background: #000308;
	padding:30px 0px 30px 0px;
}

ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.leader-ul li {
    display: inline-block;
    padding: 0px 20px;
    font-weight: 500;
	 color: #fff;
}

.header-section ul.leader-ul li a {
    text-decoration: none;
   color: #fff;
    font-weight: 500;
}
a.affiliate-link-btn {
	border-radius: 10px;
    background-color: #0068FF;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    transition: all .3s ease;
}

a.affiliate-link-btn:hover {
    transition: all .3s ease;
    background:#0068FF;
}


.bx-wrapper {
	border: 0px !important;
	background:transparent !important;
	box-shadow:none !important;
	padding: 0 !important;
	margin: 0 !important;	
	position:relative;
	
}
.bx-viewport{position:relative !important;}
.bxslider {
  background:transparent !important;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0px !important;
  font-weight:600;
  position:relative;
}
.bxslider li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
	min-height:76px;
	line-height:32px;
	text-align:left;
}
.bxslider li .text{margin-left:15px;}
.text-clr1{color:#ffa25b;}
.text-clr2{color:#8df69e;}
.text-clr3{color:#ff9acf;}
.text-clr4{color:#91faf7;}

.preheadline{
    display: inline-block;
    padding: 10px 30px;
    z-index: 1;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(25px);
}

.pre-head{
    background: url(../images/pre-head.webp) no-repeat; 
    background-size: cover; 
    background-position: center center;
    padding: 30px 15px;
}
@media(min-width:768px){
.pre-head{
    padding: 30px 15px;
}
.gameimg {
    position: absolute;
    top: 114px;
    z-index: 9999;
    left: 90px;
}
}

span.highlight{
	border-bottom:solid 4px #fc6dab;
}
.technology-box{
    background-color: #fff;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
}

@media(min-width:768px){
	   .header-section {
        background: #000308 url(../images/header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 40px 0px 120px;
    }
	a.affiliate-link-btn {
		padding: 15px 20px;
        font-size: 20px;
	}
}
.mainheadline {
    padding: 60px 5px 20px;
    background: #E2F0F6;
    position: relative;
    border:3px solid #fff ;
    border-radius: 10px;
}

.mainheadline:before {
    position: absolute;
    content: 'game changer';
    background: #f89b1c;
    padding: 5px 10px;
    left: 0px;
    z-index: 99;
    top: 0px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    font-family: 'Kalam', cursive;
    border-radius: 10px 0 0 0;
}

@media(min-width:768px){

    .mainheadline {
        padding: 30px;
        background: url(../images/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 100px 60px 20px 60px;
    }
    .mainheadline:before {
        position: absolute;
        content: 'game changer';
        background: url(../images/gamecheanger-bg.webp) no-repeat;
        padding:0px 40px;
        left: 98px;
        z-index: 99;
        top: 48px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 36px;
        position: absolute;
        font-family: 'Kalam', cursive;
    }
}
/* Header End */

/* List-section */
.list-section{
    padding: 30px 0px;
    background: #ffffff;
}
.header-list-block {
    border-radius: 10px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 23.75px 1.25px rgba(0, 0, 0, 0.2);
    /* margin-top: -90px; */
}
.bonus-list li {
    background: url(../images/kap-tick.webp) no-repeat;
    background-position: 0 5px;
    padding-left: 2rem;
    padding-bottom: 25px;
    list-style-type: none;
}
@media(min-width:768px){
    .list-section {
        padding: 100px 0px;
    }
    .header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -280px;
    }
}
/* List section End */
/*************LIVE Section**************/

.live-section {
    background: #ffffff;
    padding: 30px 0px;
}

.left-live-box{
    background: #FFFFFF;
    border: 2px solid rgb(0 104 255 / 29%);
    border-radius: 30px;
    padding: 15px;
}

.right-live-box{
    background: #FFFFFF;
    border: 2px solid rgba(231, 109, 36, 0.3);
    border-radius: 30px;
    padding: 15px;
}

.form-control.input-field {
    height: 52px;
    font-size: 18px;
    font-weight: 400;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 15px;
    background: #EEEEEE;
    border-radius: 10px;     
}

.form-btn input[type="submit"] {
	text-decoration: none;
	border: none;
	color: #ffffff;
	text-align: center;
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 15px 10px;
	line-height: 30px;
	font-weight: 600;
	outline: none;
	white-space: normal;
    cursor: pointer;
    background-image: -moz-linear-gradient(135deg, #0068FF 0%, #0068FF 100%);
    background-image: -webkit-linear-gradient(135deg, #0068FF 0%, #0068FF 100%);
    background-image: -ms-linear-gradient(135deg, #0068FF 0%, #0068FF 100%);   
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.form-btn input[type="submit"]:hover {
    background-image: -moz-linear-gradient(135deg, #0068FF -5.51%, #0068FF 100%);
    background-image: -webkit-linear-gradient(135deg, #0068FF -5.51%, #0068FF 100%);
    background-image: -ms-linear-gradient(135deg, #0068FF -5.51%, #0068FF 100%);  
}
.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/fav.webp) no-repeat;
    padding: 10px 0px 10px 35px;
    background-position: 0px 13px;
    text-align: left;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.mt-md120{
    margin-top: 20px;
}

.request-affiliate a{
    background: #E76D24;
    border-radius: 10px;
    width: 100%;
    display: block;
    padding: 10px;
    text-decoration: none;
}

@media (min-width: 768px) {
    .live-section {
        padding: 100px 0px;
    }
    .left-live-box{
        padding: 46px 30px;
    }
    .right-live-box{
        padding: 50px 30px;
    }
    .form-control.input-field {
        height: 60px;
        font-size: 15px;
    }
    .form-control.input-field::placeholder{
        color: #000000;
    }
    .mt-md120{
        margin-top: 120px;
    }
    .request-affiliate a{
        padding: 17px;
    }
    .jvzoo-img{
        min-height: 131px;
    }
    
}

/* Technology-section */
.technology-sec{
    padding: 30px 0px; 
    background-color: #111;
    
}
@media(min-width:768px){
    .technology-sec{padding: 100px 0px;
        background:#fff url(../images/technology-bg.webp) no-repeat; 
        background-size: cover; 
        background-position: top center;
    }
}
/* Technology-Section-End */


.hello-awesome {
    background: #ffffff;
    padding: 30px 0px;
}
.heading-design {
	padding: 15px 50px;
	display: inline-block;
	background:url(../images/awesome-shape.webp) no-repeat center center;
    background-size: contain;
}
.awesome-feature-shape {
    padding:20px 20px;
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(230, 240, 252);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    position:relative;
}

ul.awesome-list{
	margin:0px;
	padding:0px;
	list-style: none;
}
.awesome-list li:first-child {
    margin-top: 0px;
}
.awesome-list li {
    margin-top: 10px;
    background: url(../images/kap-tick.webp) no-repeat left top;
    list-style: none;
    padding-left: 35px;
    background-position: 0px 5px;
}
@media (min-width: 768px){
.awesome-list li {
    margin-top: 30px;
    background-position: 0px 5px;
}	
.hello-awesome {
    padding:100px 0px;
}
.heading-design {
    padding:33px 100px;
}
.awesome-feature-shape {
   	padding:30px 0px 30px 30px;
}
}




.proudly-sec {
    background: #00124b url(../images/proudly-bg.webp) center bottom no-repeat;
    background-size: cover;
    padding: 30px 0px 100px 0px;
}
.proudly-head {
    background: #0068FF;
    border-radius: 40px;
    padding: 9px 40px;
    display: inline-block;
    font-family: 'Caveat', cursive;
}
@media (min-width: 768px){
.proudly-sec {   
    padding: 100px 0px 380px 0px;
}
.proudly-head {
    padding: 15px 60px;
}
}
/* List-section */
.presenting-feature{
    padding: 30px 0px;
    background: #ffffff;
}
.feature-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #00132F;
    backdrop-filter: blur(10px);
}
@media(min-width:768px){
    .presenting-feature {
        padding: 0px 0px 100px 0px;
    }
    .feature-list-block {
        border-radius: 20px;
        padding: 70px 20px;
        margin-top: -280px;
    }
}
/* List section End */

/* Arrow & Img Move Animation */
img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}


.logos-effect img {
    transition: all 0.5s;
}
.logos-effect img:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}


.feature-list-sec {
    background: #EFF1F9;
    background-size: cover;
    padding: 30px 0px;
}
.feature-list-box {
    padding:30px 20px;
    width:100%;
    float:left;
    text-align:center;
    border-radius: 20px;
    border: 2px solid #A8C8FB;
    background: #FFF;
    height: 100%;
}
.feature-list-box .description{
	font-size:20px;
	font-weight:400;
	line-height:30px;
	margin-top:20px;
}

@media(min-width:768px){
	.feature-list-sec {
    padding: 100px 0px;
}
	}
	
	
.feature-sec {
    background: #ffffff;
    padding: 30px 0px 60px 0px;
}
.demo-sec {
	background: #ffffff url(../images/demo-sec-bg.webp) no-repeat center bottom;
	background-size: cover;
	padding:30px 0px 80px 0px;
}

@media(min-width:768px){
    .demo-sec {        
        padding:100px 0px 200px 0px;
    }
	.feature-sec {
    background: #ffffff;
    padding: 0px 0px 100px 0px;
}
	}	
	
	
.potential-sec {
    background: #eff1f9;
    padding: 30px 0px;
}
.potential-block {
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    padding: 30px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .potential-block img{
    max-height: 200px;
  }

@media (min-width: 768px){
.potential-sec {
    background: #eff1f9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 100px 0px;
}
}

.prize-value {
	padding: 30px 0;
	background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/prize-value.webp) no-repeat top center;
	background-size: cover;
}

@media (min-width: 768px){
.prize-value {

    padding:80px 0px;
}
.f-md-72{
	font-size:72px;
}
}

.prize-section {
    background: #f4e6f9;
    padding: 30px 0px;
}
@media(min-width:768px){
	    .prize-section {
        background: #f4e6f9 url(https://cdn.oppyo.com/launches/viddeyo/jv/prize-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 50px 0px 80px 0px;
    }
}
/* Deep Funnel Sectio Start */

.deep-funnel-sec{
    padding: 30px 0px;
    background: #fff;
}
@media(min-width:768px){
    .deep-funnel-sec{
        padding: 100px 0px;
        background: #fff;
    }
}


/* Exciting Launch Section Start*/

.exciting-launch{
    padding: 30px 0px;
    background: #eff1f9;
}
.launch-list li {
    padding: 0px 0px 12px 0px;
}
.feature-list {
    background: url(../images/green-tick.webp) no-repeat;
    background-position: 0px 4px;
    padding: 0px 0px 15px 40px;
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.online-business-sec{
    background-color: #fff;
    padding: 30px 0px;
}
@media(min-width:768px){
    .exciting-launch{
        padding:100px 0px;
    }
    .launch-list li {
        padding: 0px 20px 12px 0px;
    }
    .online-business-sec{
        background-color: #fff;
        padding: 100px 0px;
    }
}

/* Prizing Section Start */

.prize-value{
    padding: 30px 0px;
    background: #0b0308;
}

@media(min-width:768px){
    .prize-value {
        background: #eff1f9 url(../images/prize-value.webp) no-repeat top center;
        background-size: cover;
        padding: 100px 0px;
    }
    .f-md-72 {
        font-size: 72px;
    }
}

/* Contest Section Start */

.contest-sec{
    padding: 30px 0px;
    background: #f2eded;
}
@media(min-width:768px){
    .contest-sec{
        padding: 100px 0px;
        background: url(../images/contest-section-bg.webp) no-repeat center center;
        background-size: cover;
    }
}

/* Reciprocate Section Start */

.reciprocate-sec{
    padding: 30px 0px;
    background: #fff;
}
@media(min-width:768px){
    .reciprocate-sec{
        padding: 100px 0px;
    }
}

/* Contact Section Start */

.contact-section{
    padding: 30px 0px;
    background: #eff1f9;
}
.container-box {
    padding: 20px;
    position: relative;
    background: #030f28;
    border-radius: 30px;
}
.contact-shape {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(10px);
}

@media(min-width:768px){
    .contact-section{
        padding: 100px 0px;
    }
    .container-box{
        padding: 80px;
        background: url(../images/contact-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .contact-shape {
        padding: 25px 0px;
    }
}

/* Term Section Start */

.term-sec{
    padding: 30px 0px;
}
.terms-list li {
    list-style: none;
    padding: 0 0 20px 0px;
}
@media(min-width:768px){
    .term-sec{padding: 100px 0px;}
}

/**************Footer Section***********/

.footer-section {
    background: #05071A;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

/* Floating Btn */

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#F19B10;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#E76D24;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.warning-sec{
    position: relative;
    display: inline-block;
}

.warning-sec::before{
    position: absolute;
    /* content: 'url(../images/warning.webp)'; */
    content:url('../images/warning.webp');
    left:0px;
    top:0px;

}
@media(min-width:767px){
    .warning-sec::before{
        position: absolute;
        /* content: 'url(../images/warning.webp)'; */
        content:url('../images/warning.webp');
        left:20px;
        top:0px;
    
    }
}
@media(min-width:1200px){
    .warning-sec::before{
        position: absolute;
        /* content: 'url(../images/warning.webp)'; */
        content:url('../images/warning.webp');
        left:125px;
        top:0px;
    
    }
}