html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}

.blue-clr,
a.blue-clr {
    color: #0041b5;
    text-decoration: none;
}

.blue-clr1,
a.blue-clr1 {
    color: #0041b5;
    text-decoration: none;
}

.purple-clr,
a.purple-clr {
    color: #7d5bf6;
    text-decoration: none;
}

.orange-clr,
a.orange-clr {
    color: #ffca5a;
    text-decoration: none;
}

.yellow-clr,
a.yellow-clr {
    color: #fff600;
    text-decoration: none;
}
.yellow-clr1 {
    color: #ffc21f;
    text-decoration: none;
}

.orange-clr1,
a.orange-clr1 {
    color: #ffcf69;
    text-decoration: none;
}

.light-blue-clr {
    color: #e0e1ff;
}

.green-clr {
    color: #00cb00;
}

.red-clr {
    color: #ff1223;
}

.black-clr,
a.black-clr {
    color: #000000;
}

.white-clr,
a.white-clr {
    color: #ffffff;
}

.clear {
    clear: both;
}

span.under {
    border-bottom: 4px solid;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.d-inline-flex {
    display: inline-flex;
}

.relative {
    position: relative;
}

@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .xstext-center {
        text-align: center;
    }
}


/* Header Section Css Start */

.header-section {
    background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 30px 0 30px 0px;
}


.second-section {
    background: #ffffff;
    padding: 30px 0 30px 0px;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.affiliate-link-btn a {
    color: #ffffff;
      text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 10px 5px 10px;
    border-radius: 15px;
    background-image: -moz-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    box-shadow: 0px 10px 15px 0px rgb(246 82 121 / 15%);
}

/* .key-features-bg {
    padding: 15px;
    position: relative;
    width: 100%;
    text-align: center;
    background-image: -webkit-linear-gradient( 0deg, rgb(95,83,253) 0%, rgb(51,41,192) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(95,83,253) 0%, rgb(51,41,192) 100%);
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
    border-radius: 10px;
} */

.list-head {
    list-style: none;
}

.list-head li {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/point-icon.webp) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 5px;
    text-align: left;
}

.list-head li:last-child {
    border-bottom: 0px;
}

.pre-heading {
    background: #ced0e2;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}

.skew-con {
    transform: skew(5deg);
}

.gap20 {
    gap: 20px;
}
.offer-new {
    background-color: #FF1D48;
    padding: 15px 0;
}
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
.main-heading-bg {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/main-heading-bg.webp) no-repeat center center;
    padding: 10px 20px;
    background-size: 100% 100%;
    display: inline-flex;
}
@media (min-width:768px) {
    .header-section a.cta-link-btn{
        padding-left:0px !important;
        padding-right:0px !important;
        font-size: 34px;
    }
    .offer {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        flex-direction: row;
    }
    .skew-con {
        transform: skew(10deg);
    }
    /* .key-features-bg {
        padding: 25px;
    } */
    .pre-heading {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
    .header-section {
        background: #091274 url(https://cdn.oppyo.com/launches/entertainerz/special/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .second-section {
        padding: 0px 0px 100px 0px;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }
    .affiliate-link-btn a {
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 14px 12px 11px 12px;
        font-size: 20px;
        line-height: 100%;
        color: #ffffff;
        font-weight: 600;
        border-radius: 15px;
        background-image: -moz-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
        box-shadow: 0px 10px 15px 0px rgb(246 82 121 / 15%);
    }
    .affiliate-link-btn a:hover {
        background: #fb7b55;
        color: #ffffff;
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
}


/* Header Section Css End */


/* CTA Section End*/

a.cta-link-btn {
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display:block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 15px;
    background-image: -moz-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    box-shadow: 0px 10px 15px 0px rgb(246 82 121 / 15%);
}
a.cta-link-btn1 {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px ;
	color: #ffffff;
	font-weight: 700;
	font-size: 18px;
	line-height: normal;
	white-space: normal;
	align-items: center;
    border-radius: 15px;
    background-image: -moz-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    box-shadow: 0px 10px 15px 0px rgb(246 82 121 / 15%);
}

a.cta-link-btn:hover,
a.cta-link-btn1:hover {
    background: #fb7b55;
    text-decoration: none;
}


@media (min-width: 768px) {
    a.cta-link-btn {
        font-size: 32px;
        padding: 28px 0px 30px 0px;
        display:block;
    }
	a.cta-link-btn1 {
        font-size: 28px;
        padding: 20px 80px 5px 80px;
		line-height: 94%;
        display:block;
    }
}


/* CTA Section End*/


/* CTA Section Start */

.cta-section {
    padding: 30px 0px;
    background: #edeefc;
}

.cta-section-white {
    background:url(https://cdn.oppyo.com/launches/entertainerz/special/cta-sec.webp) no-repeat center center;
    padding: 30px 0px;
    background-size: cover;
}

@media (min-width: 768px) {
    .cta-section {
        background: #edeefc;
        padding: 100px 0px;
    }
    .cta-section-white {
        padding: 100px 0px;
    }
}


/* CTA Section End */


/* Step Section Start */

.step-section {
    padding: 30px 0px;
    background: #ffffff;
}

.trafficbg {
    padding: 30px 0px;
    background: #ffffff;
}

.playbuzz-bg {
    padding: 30px 0px;
    background: #eff0fc;
}

.steps-block {
    position: relative;
    height:100%;
    border-width: 2px;
    border-color: rgb(125, 91, 246);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255); 
    padding: 30px;
}

.step-bg {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}


.step-line{
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/step-line.webp) no-repeat bottom center;
    background-size: contain;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .step-section {
        padding: 100px 0px;
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/step-section-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .trafficbg {
        padding: 100px 0px;
    }
    .playbuzz-bg {
        padding: 100px 0px;
		background: url(https://cdn.oppyo.com/launches/entertainerz/special/playbuzz-bg.webp) no-repeat center center;
        background-size: cover;
    }
}


/* Step Section End */

.no-installation {
    background: #ffffff;
    padding: 30px 0px;
}
.vendorcmmtbg {
    background: #007aff;
    padding: 15px;
	border-radius:10px;
}
@media (min-width: 768px) {
    .no-installation {
        padding: 100px 0px 50px 0px;
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/no-installation-bg.webp) no-repeat center center;
        background-size: cover;
    }
	.vendorcmmtbg {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/vendorcmmtbg.webp) no-repeat center center;
    padding: 9% 13% 5% 32%;
    position: relative;
    height: 591px;
    letter-spacing: -2px;
}
}

.proof-section {
    background: #e8ebff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .proof-section {
        background: #ffffff url(https://cdn.oppyo.com/launches/entertainerz/special/proof-section.webp) no-repeat top center;
        background-size: cover;
        padding: 200px 0px 100px 0px;
    }
}


/* Team Section Sart */

.new-dcp-team-section {
    background:url(https://cdn.oppyo.com/launches/entertainerz/special/hi-there.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .new-dcp-team-section {
        padding: 100px 0px 100px 0px;
        
    }
}


/* Team Section End */


/* Thatsall Section Start */

.thatsall-section {
    padding: 30px 0px;
	background:#ffffff;
}

.doubt-section {
    padding: 30px 0px;
	background:#e0ddff;
}

.facts-block {
    position: relative;
    background: #1c2641;
    padding: 50px 15px 15px 15px;
}

.shape-testi1 {
    background: #ffffff;
    border-radius: 65px;
    padding: 12px 32px;
    display: inline-block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.traffic-section {
        padding:30px 0px;
        background: #ffffff;
    }
	
    .thatsall-heading {
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/thatsall-shape.webp) no-repeat center center;
        padding: 15px;
        background-size: 100% 100%;
        display: inline-flex;
    }
    .doubt-heading {
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/doubt-shape.webp) no-repeat center center;
        padding: 15px;
        background-size: 100% 100%;
        display: inline-flex;
    }
    .winner-heading {
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/winner-shape.webp) no-repeat center center;
        padding:50px 30px;
        background-size: 100% 100%;
        display: inline-flex;
    }
@media (min-width: 768px) {
    .thatsall-heading {
        padding: 15px 80px;
    }
    .doubt-heading {
        padding: 15px 80px;
    }
    .winner-heading {
        padding: 50px 120px;
    }
    
    
	.traffic-section {
        padding:100px 0px 150px 0px;
        background:#ffe1e2 url(https://cdn.oppyo.com/launches/entertainerz/special/proof-section2.webp) no-repeat center bottom;
        background-size: cover;
    }
    .doubt-section {
        padding: 200px 0px 100px 0px;
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/but-without-a-doubt.webp) no-repeat center top / cover;
        
    }    
    .thatsall-section {
        padding: 100px 0px 50px 0px;
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/did-you-know-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .facts-block {
        padding: 65px 30px 30px 30px;
    }
    .shape-testi1 {
        padding: 18px 40px;
    }
}

.purple-hd {
    color: #0041b5;
}


/* Thatsall Section End */


/* Affliate Section Satrt */

.affiliate-section {
    padding: 30px 0px;
    background: #ebebeb;
}

@media (min-width: 768px) {
    .affiliate-section {
        padding: 100px 0px;
    }
}


/* Affliate Section End */


/* Still there Section Start */

.still-there-section {
    background: #ffffff;
    padding: 30px 0px;
}

.line-5 {
    background: #ff7200;
    height: 5px;
}

.imp-shape {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/bonus-shape.webp) no-repeat center center;
    background-size: contain;
    padding: 18px;
}

@media (min-width: 768px) {
    .pl-md130 {
        padding-left: 130px;
    }
    .pr-md130 {
        padding-right: 130px;
    }
    .imp-shape {
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/bonus-shape.webp) no-repeat center center;
        background-size: contain;
        padding: 28px;
        border-radius: 0;
    }
    .still-there-section {
        padding:100px 0px;
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/how-much.webp) center center no-repeat ;
        background-size: cover;

    }
    .line-5 {
        width: 50%;
    }
}


/* Still there Section End */


/* Problem there Section Start */

.problem-bg-section {
    background: #ffe1e3;
    padding: 30px 0px;
}

.black-design5 {
    background: #ffffff;
    padding: 15px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block;
}

.black-design6 {
    padding: 16px 79px 18px 65px;
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/bonus-shape2.webp) no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

.noneed-listing4 li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/emoji.webp) no-repeat;
    background-position: 0 0px;
    padding: 0 0 25px 50px;
    min-height: 42px;
}

.black-design5 .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}

.noneed-listing3 li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/cross.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.noneed-listing5 li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/cross-yellow.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.noneed-listing5 li:last-child {
    padding-bottom: 0px;
}

.px40 {
    padding-left: 40px !important;
    padding-right: 40px !important
}

.shape-testi5 {
    background-color: #ec3845;
    border-radius: 65px;
    padding: 8px 15px 8px 15px;
    display: inline-block;
    margin-top: 0px;
    position: relative;
    color: #ffffff;
    top: -56px;
}

.problme-shape {
    border-radius: 20px;
    background-color: rgb(236, 56, 69);
    width: 100%;
    float: left;
    padding: 15px;
}

.problme-shape1 {
    border-radius: 20px;
    background-color: #ffffff;
    width: 100%;
    float: left;
    padding: 15px;
}

@media (min-width: 768px) {
    .problme-shape {
        padding: 30px;
    }
    .problme-shape1 {
        padding: 30px;
    }
    .shape-testi5 {
        padding: 8px 30px 8px 30px;
    }
    .f-md-70 {
        font-size: 70px;
    }
    .problem-bg-section {
        background: #ffe1e3 url(https://cdn.oppyo.com/launches/entertainerz/special/problem-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .black-design5 {
        padding: 16px 79px 18px 65px;
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/bonus-shape1.webp) no-repeat;
        background-size: cover;
        background-position: center;
        display: inline-block;
    }
    .noneed-listing3 li {
        list-style: none;
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/cross.webp) no-repeat;
        background-position: 0 1px;
        padding: 0 0 30px 50px;
        min-height: 42px;
    }
}


/* Problem there Section End */


/* Proudly there Section Start */

.proudly-section {
    background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 30px 0px;
}

.black-design1 {
    background: #ff7200;
    padding: 15px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block;
}

.black-design1 .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}
.black-design11 {
    background: #ff7200;
    padding: 15px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block;
}

.black-design11 .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}


img.play-btn {
    display: none;
}

img.huge-like {
    display: none;
}
.avengame-bg {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/avengame-bg.webp) no-repeat;
    padding:40px 20px 40px 20px;
    text-align: center;
    background-size:100% 100%;
}
.avengame-bg1 {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/avengame-bg1.webp) no-repeat;
    padding:40px 20px 40px 20px;
    text-align: center;
    background-size:100% 100%;
}

@media (min-width: 768px) {	


    img.play-btn {
        position: absolute;
        right: -30px;
        top: -30px;
        display: block;
    }
    img.huge-like {
        position: absolute;
        left: -71px;
        bottom: -8px;
        display: block;
    }
    .proudly-section {
        background: #fff url(https://cdn.oppyo.com/launches/entertainerz/special/proudly-bg.webp) no-repeat top center;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
    .black-design1 {
		padding: 25px 79px 7px 65px;
		background: url(https://cdn.oppyo.com/launches/entertainerz/special/proudly-shape.webp) no-repeat;
		background-size: contain;
		background-position: center;
    }
	.black-design11 {
		padding:30px 48px 7px 48px;
		background: url(https://cdn.oppyo.com/launches/entertainerz/special/proudly-shape.webp) no-repeat;
		background-size: 100% 100%;
		background-position: center;
    }
    .border-4 {
        border: solid 2px #000000;
        border-radius: 20px;
    }
    .wh300 {
        height: 350px;
    }
}

@media (max-width: 768px) {
    .step-count-img img {
        max-width: 100px;
        width: 100%;
    }
    .step-ft-img img {
        max-width: 200px;
        width: 100%;
    }
}


/* Proudly there Section End */


/* App Suite Section Start */

.appsuite-section {
    padding: 30px 0px;
    background: #ecebeb;
}

.appsuite-block {
    width: 100%;
    float: left;
    background-color: #ffffff;
    overflow: hidden;
    padding: 30px 20px 20px 20px;
    text-align: center;
    height: 100%;
}

@media (min-width: 768px) {
    .appsuite-section {
        padding: 100px 0px;
    }
}


/* App Suite Section End */

.support-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .support-section {
        padding: 100px 0px;
    }
}

.bottom-testi-section {
    background: #e9ebf1;
    padding: 30px 0px;
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.boxborder-rb {
    border-bottom: 1px solid #f57c25;
    border-right: 1px solid #f57c25;
}

.boxborder-b {
    border-bottom: 1px solid #f57c25;
}

.boxborder-r {
    border-right: 1px solid #f57c25;
}

@media (max-width: 767px) {
    .boxborder {
        border: 1px solid #f57c25;
        border-top: 0px;
        padding: 20px;
    }
    .top-first,
    .first-top-border {
        border: 1px solid #f57c25;
    }
}

@media (min-width: 768px) {
    .boxbg {
        height: 280px;
    }
    .row.no-gutters * {
        padding: 0;
    }
	.pl130{
		padding-left:130px;
	}
}

.new-steps-bg {
	background:#ffffff;
	padding:30px 0px;
}
@media (min-width:768px){
	.new-steps-bg{
	background: url(https://cdn.oppyo.com/launches/entertainerz/special/steps-bottom-bg.webp) no-repeat center center;
	padding:0px 0px 100px 0px;
	background-size: cover;
	}
}
.step-btn-style {
    border-radius: 10px;
    background: #f57c25;
    padding: 10px;
    text-align: center;
    color: #ffffff;
	display: inline-block;
}
.step-left-boredr-image {
    position: absolute;
    left: 0;
    top: 36px;
}
.step-pl15px {
    padding-left: 15px !important;
}
.step-image-back {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/step-back-img1.webp) no-repeat top right;
    background-size: contain;
}
.step-right-boredr-image {
    position: absolute;
    right: 0px;
    top: 32px;
}
.step-image-back1 {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/step-back-img2.webp) no-repeat top left;
    background-size: contain;
}
.step-image-back3 {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/step-back-img3.webp) no-repeat top right;
    background-size: contain;
}
@media (min-width: 768px) {
.step-right-boredr-image {
    right: 60px;
}
.step-btn-style {
    padding: 15px 25px;
}
.step-plr5px {
    padding-right: 35px !important;
}
}
@media (min-width: 768px) {
.step-pl15px {
    padding-left: 35px !important;
}
}



#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s;
}

#ouibounce-modal .modal-wrapper {
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-ms-flex-wrap: wrap!important;
	flex-wrap: wrap!important;
	-ms-flex-line-pack: center!important;
	align-content: center!important;
	width: 95%;
	position: relative;
	text-align: center;
	-webkit-animation: popin .3s;
	animation: popin .3s;
	overflow-y: hidden;
}
@media (min-width: 576px){
#ouibounce-modal .modal-wrapper {
    min-height: 100vh;
    height: 100vh;
    max-width: 850px;
    margin: 0px auto;
}
.for-padding{
	padding:40px 55px;
}
.model-header{
	background:#16258a url(https://cdn.oppyo.com/launches/entertainerz/special/wait-bg.webp) no-repeat left center;
	background-size: cover;
}
}
#ouibounce-modal .modal-wrapper .modal-bg {
	width: 100%;
	background-color: #ffffff; 
	border-radius: 10px;
	box-shadow: 0px 0px 15.6px 4.4px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	position:relative;
}
.model-header{
	background:#16258a url(https://cdn.oppyo.com/launches/entertainerz/special/wait-mob-bg.webp) no-repeat left center;
	background-size: cover;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
button.close {
    position: absolute;
    right: 5px;
    top: 5px;
}




