@import url(style.css);
@import url(timer.css);

/* Generator Page css */

.whitesection {
    background: #fff;
    padding: 30px 0
}

.formsection {
    padding: 0 0 30px 0
}

.formsection .form_area input[type="text"],
.formsection .form_area input[type="text"]:focus {
    width: 100%;
    box-shadow: none;
    outline: 0;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background-color: #fff;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none !important;
    color: #000;
    padding: 6px 15px
}

.formsection .form_area::-webkit-input-placeholder {
    color: #666
}

.formsection .form_area:-ms-input-placeholder {
    color: #666
}

.formsection .form_area::placeholder {
    color: #666
}

.formsection .form_area input[type="submit"] {
    border-radius: 5px;
    background-image: -moz-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    text-decoration: none;
    border: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px 10px;
    line-height: 30px;
    font-weight: 700;
    outline: none;
    transition: all .3s ease;
    white-space: normal;
}

.formsection .form_area input[type="submit"]:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
}
.affiliate-link-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 500;
    transition: all .3s ease;
    background-image: -webkit-linear-gradient( 64deg, #FF992E 0%, #DA1467 100%);
    
}

.affiliate-link-btn a:hover {
    transition: all .3s ease;
    background-image: -webkit-linear-gradient( 64deg, #DA1467 0%, #FF992E 100%);
}
@media(min-width:768px) {
    .affiliate-link-btn a {
        padding: 15px 30px;
        font-size: 24px;
    }
    .formsection .form_area input[type="submit"] {
        padding: 23px 20px
    }
    .formsection {
        padding: 30px 0 100px 0
    }
}


/* Generator Page css End */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

a,
a:hover {
    text-decoration: none;
}

.text-shadow {
    text-align: center;
    text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
}

.white-clr,
a.white-clr {
    color: #ffffff;
}

.orange-clr {
    color: #fb9549;
}

.blue-clr {
    color: #1b3aa1;
}

.black-clr {
    color: #100f12;
}

.light-pink {
    color: #f2ecff;
}

.gradient-clr {
    background: #7617E4;
    background: linear-gradient(to top, #FF992E 0%, #DA1467 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span.highlight {
    border-bottom: solid 4px #fc6dab;
}


/* Main Header Section CSS */

.main-header {
    background: #0f0022 url(../images/header-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 30px 0;
    position: relative;
    z-index: -1;
}


/* Affiliate Bonus Buy Button */

a.bonusbuy-btn {
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    border-radius: 100px;
    background-image: -webkit-linear-gradient( 64deg, #FF992E 0%, #DA1467 100%);
    transition: all .3s ease;
}

a.bonusbuy-btn:hover,
a.bonusbuy-btn:focus {
    transition: all .3s ease;
    background-image: -webkit-linear-gradient( 64deg, #DA1467 0%, #FF992E 100%);
}

a.bonusbuy-btn1 {
    border-radius: 5px;
    background-color: #36c80f;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: normal;
    white-space: normal;
}

a.bonusbuy-btn1:hover,
a.bonusbuy-btn1:focus {
    background: #2cb508;
    text-decoration: none;
}


/* Bonus Header Section bg Start Main Css */

.bonus-header {
    padding: 30px 10px 0px 10px;
}

.heading-bg {
    background-color: #ee3725;
    border-radius: 10px;
    padding: 15px 15px;
    color: #ffffff;
}

.bonus-title-bg {
    background: #362a65;
    border: 2px solid #392a68;
    border-radius: 10px;
    display: inline-block;
    padding: 8px 30px;
    color: #fff;
    width: fit-content;
}

.section-bonus {
    padding: 30px 0px;
}

.bonus-title-color {

    color: #000000;
}

.bonus-list li {
    background: url(../images/fav.webp) no-repeat;
    background-position: 0 5px;
    padding-left: 3rem;
    padding-bottom: 25px;
    list-style-type: none;
}

.bonus-list li:last-child {
    padding-bottom: 0px;
}


/* For Header Bg */

.dark-cta-sec {
    background: #170a49 ;
    padding: 30px 0;
}

.cta-btn-section {
    padding: 30px 0px;
}

.huge-area {
    padding: 30px 0;
    background-image: -moz-linear-gradient( 78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient( 78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient( 78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
}

.white-section {
    background: rgb(255, 255, 255);
    padding: 30px 15px;
}

@media(min-width:768px) {
    .main-header {
        padding: 50px 0px 100px 0px;
    }
    .bonus-header {
        padding: 70px 0px 0px 0px;
    }
    .heading-bg {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/head-bg.webp);
        background-repeat: no-repeat;
        background-position: top center;
        padding: 50px 15px 100px 15px;
        background-size: 100% 100%;
    }
    a.bonusbuy-btn,
    a.bonusbuy-btn:focus {
        font-size: 32px;
        padding: 20px 50px;
    }
    a.bonusbuy-btn1,
    a.bonusbuy-btn1:focus {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
    .section-bonus {
        padding: 50px 0px;
    }
    .dark-cta-sec {
        background: url(../images/cta-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 70px 0px;
    }
    .huge-area {
        background: url(../images/cta-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 80px 0px 50px 0px;
        color: #fff;
    }
}

.easy-text {
    color: #FF2C2C;
    padding: 2px 2px 2px 60px;
    position: relative;
    display: inline-block;
    align-items: center;
}
/* Exit Pop Up Css Start */

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}
.modal-body {
    position: relative;
    padding: 15px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 30px;
    opacity: 1;
    outline: none;
    color: #300476 !important;
    font-weight: 400;
    background: #ffe8cc !important;
    top: 1px;
    position: absolute;
    z-index: 2;
    right: 1px;
    padding: 0px 5px 0px 5px !important;
}

.modal-header .close {
    margin-top: -5px;
}
/* Media Querry Start */

.footer-section {
    background: #000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/* Exclusive-Section */

.exclusive-bonus {
    background: #e95093;
    padding: 30px 15px;
}

.vidvee-orange-clr {
    color: #ff6a3d;
}


/**********vidvee    ********/

.vidvee-header-section {
    background: #2f0088;
    padding: 30px 0px;
}

.vidvee-key-features-bg ul li {
    background: url(../images/vidvee-launch-tick-blue.webp) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 13px;
    text-align: left;
    border: none;
}

.vidvee-pre-heading {
    border: 2px solid #15C5F3;
    background: rgba(255, 255, 255, 0.10);
    padding: 10px;
    display: inline-block;
    text-align: left;
    border-radius: 30px;
    text-align: center;
}

.vidvee-key-features-bg {
    padding: 25px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
.red-bg
    {
        border-radius: 10px;
        padding: 5px;
        background: red;
    }
    .yellow-brsh
    {
        background: url(../images/yellow-brush.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 5px 35px;
    }
@media(min-width:768px) {
    .yellow-brsh
    {
        background: url(../images/yellow-brush.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 5px 35px;
    }
    .vidvee-header-section {
        background: #2f0088 url(../images/vidvee-header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .vidvee-pre-heading {
        display: inline-block;
        border-radius: 100px;
        text-align: center;
        position: relative;
        border: 2px solid #15C5F3;
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(25px);
        padding: 10px 26px;
    }
    .pre-heading-ninja
    {
        display: inline-block;
        border-radius: 100px;
        text-align: center;
        position: relative;
        border: 2px solid rgba(185, 86, 255, 1);
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(25px);
        padding: 10px 26px;
    }
    .vidvee-key-features-bg {
        padding: 50px;
    }
    .red-bg
    {
        border-radius: 25px;
        padding: 9px 30px;
        display: inline-block;
    }
}


/***** Buzzify ******/
.pre-heading-b {
    background: #ced0e2;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}

.key-features-bg-b {
    padding: 15px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgb(9, 20, 120);
    background: -moz-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1);
    border-radius: 10px;
}
.header-section-ninja {
    background: #091274 url(../images/header-bg-niinja.webp) no-repeat center center;
    background-size: cover;
    padding: 40px 0px 30px 0px;
}
@media(min-width:768px) {
    .header-section-ninja {
        background: #091274 url(../images/header-bg-niinja.webp) no-repeat center center;
        background-size: cover;
        padding: 40px 0px 30px 0px;
    }
    .pre-heading-b {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
    .key-features-bg-b {
        padding: 25px;
        margin-top: -200px;
    }
}


/***** Buzzify ******/


/*** Ninja Kash ****/

.grand-logo-bg {
    background: #ffffff;
    padding: 2% 0;
}
.orange,
a.orange {
    color: #ff7200;
}

/*** Ninja Kash ****/


/* VidRankXpress */

.vidrankxpress-header-section {
    background: #171a1d url(../images/vidrankheader.webp) no-repeat top center;
    background-size: cover;
    padding: 30px 0px;
}

.red-color {
    color: #dd3c47;
}

.vidrangexpress-features li {
    background: url(../images/bulleticon.webp) no-repeat;
    list-style: none;
    padding-bottom: 10px;
    padding-left: 40px;
    background-position: 2px 3px;
    line-height: 28px;
}
/*********************Top To Bottom****************/

#button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    background-color: #ffe400;
    border-radius: 50%;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: rgb(97, 64, 64);
}

#button.show {
    opacity: 1;
    visibility: visible;
}


/* Styles for the content section */


.profitwall-sec{
	padding: 30px 0px;
	background: #021963;
}
.red-head{
	background: url(../images/niche-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 6px 30px;
    display: inline-block;
}

@media(min-width:768px){
	.profitwall-sec{
		padding: 100px 0px;
		background: url(../images/powerfull-bg.webp) center center;
		background-size: cover;
		background-attachment: fixed;
	}
}
/***********Testimonial Section*****************/
.testimonial-section {
    background: #f4f3f9 url(../images/testimonial-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.single-testimonial {
    background-color: #eaf3f8;
    text-align: center;
    position: relative;
    z-index: 2;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    padding: 20px 10px;
}
.st-img {
    display: inline-block;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
}
.stars a {
    padding-right: 8px;
    color: #FFC635;
}
.fa-star:before {
    content: "\f005";
	font-size: 22px;
}
@media (min-width: 768px){
.testimonial-section {
    padding: 100px 0px;
}
.single-testimonial {
    border-radius: 30px;
    padding: 50px;
    height: 100%;
}
.st-img {
    display: inline-block;
    margin-top: -150px;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
}
}
/***********Are You Ready Section*****************/
.red-brush{
	background: url(../images/red-brush.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 6px 30px;
    display: inline-block;
}
/***********Profitale Section*****************/
.profitale-section{
	background: #fff;
    background-size: cover;
    padding: 30px 0px;
}
.easy-text{
	color: #FF2C2C;
	padding: 2px 2px 2px 60px;
    position: relative;
    display: inline-block;
	align-items: center;
}
.easy-text::before{
	position: absolute;
	top: -30px;
	left: -60px;
	content: url(../images/thumbsup.webp);
}
@media (min-width: 768px){
	.profitale-section {
		padding: 100px 0px;
	}
	.easy-text::before{
		position: absolute;
		top: 0px;
		left: -60px;
		content: url(../images/thumbsup.webp);
	}
}




/***********Common Section*****************/
.blue-section{
	background: #EFF5F9;
    background-size: cover;
    padding: 30px 0px;
}
.white-section{
	background: #fff;
    background-size: cover;
    padding: 30px 0px;
}
@media (min-width: 768px){
	.blue-section {
		padding: 100px 0px;
	}
	.white-section {
		padding: 100px 0px;
	}}



/***********Next Generation*****************/
.next-gen-sec {
	background: #170a49;
	padding:  30px 0px;
}
.caveat{
	font-family: 'Caveat', cursive;
}
.cyan-clr {
    color: #15C6FC;
}
.pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: transparent;
    outline: none;
    border-color: #8B27FF;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
    backdrop-filter: blur(25px);
}
.head-yellow {
    display: inline-block;
    background: url(../images/yellow-heading.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 30px;
}
.presenting-shape {
    background-color:#fc8548;
    border-radius: 100px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.presenting-shape:before {
    width: 70px;
    height: 1px;
    background: #fc8548;
    position: absolute;
    content: '';
    left: -70px;
}

.presenting-shape:after {
    width: 70px;
    height: 1px;
    background: #fc8548;
    position: absolute;
    content: '';
    right: -70px;
}
.proudly-list-bg {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
    padding: 15px;
}

.proudly-tick li {
    background: url(https://cdn.oppyotest.com/launches/webgenie/jv/images/reason-tick.webp) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 25px 45px;
}
@media (min-width: 768px) {
	.next-gen-sec {
		background:url(../images/next-gen-bg.webp) no-repeat top center;
		background-size: cover;
		padding:100px 0px;
	}
    .pre-heading {
        padding: 15px 30px;
        border-radius: 100px;
    }
    .head-yellow {
        padding: 10px 50px;
    }
}
/************ MailerGPT ************/
.header-section-mailergpt {
    background: #0d0304;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 30px 0;
}
.header-section-mailergpt .pre-heading {
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    position: relative;
    padding: 10px;
}
.header-section-mailergpt .brush-mailer {
    background: url(../images/brush-mailer.webp) no-repeat center center;
    background-size: cover;
    padding: 2px 30px 5px 30px;
}
  
.header-section-mailergpt .post-heading {
	background: url(../images/post-heading.webp) no-repeat center center;
	background-size: cover;
	padding: 20px 45px 20px 44px;
}
.blue-gradient-mailer {
    background: #459EFF;
    background: linear-gradient(90deg, #459EFF 32.27%, #0ACEE4 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-section-mailergpt .list-head li {
    background: url(../images/list-tick.webp) no-repeat;
    padding: 8px 0px 8px 30px;
    background-position: 0px 11px;
    text-align: left;
    border-bottom: solid 1px rgb(11, 11, 49);
}
.list-highlight {
    background: linear-gradient(90deg, #0ACEE4 0%, #3093FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
@media (min-width: 768px) {

    .header-section-mailergpt  {
        background: #091274 url(../images/jobiin-header-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 40px 0px 100px 0px;
    background-attachment: fixed;
    }
    .header-section-mailergpt   .pre-heading {
        padding: 15px 20px 15px 20px;
    border-radius: 40px;
    }
	.header-section-mailergpt .second-section {
		padding: 100px 0px 80px 0px;
	}
    .header-section-mailergpt	.main-heading{
        background: url(../images/header-bg-mailer.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 35px 25px 35px 25px;
    }
	.header-section-mailergpt .post-heading {
		padding: 20px;
	}}