    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Poppins', sans-serif;
        color: #000000;
        font-size: 14px;
    }

    a,
    a:hover {
        text-decoration: none;
    }

    .text-shadow {
        text-align: center;
        text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
    }

    .white-clr,
    a.white-clr {
        color: #ffffff;
    }
    .orange-clr {
        color: #eb514c;
    }
    .orange-clr1 {
        color: #FE952F;
    }
    .blue-clr {
        color: #19023a;
    }

    .black-clr {
        color: #100f12;
    }
    .yellow-clr {
        color: #fbbf33;
    }
    .red-clr {
        color: red;
    }
    .orange-gradient {
        background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .text-shadow {
        text-align: center;
        text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
    }

    span.highlight {
        border-bottom: solid 4px #fc6dab;
    }

    span.highlight1 {
        border-bottom: solid 1px #fc6dab;
    }
    .d-inline-flex {
        display: inline-flex;
    }

    .relative {
        position: relative;
    }

    .head-yellow {
        display: inline-block;
        background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/yellow-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 10px 30px;
    }

    @media (min-width: 767px) {
        .head-yellow {
            padding: 10px 50px;
        }
    }

    /* Header Section Css Start */

    .header-section {
        background: #1c2f9a;
        padding: 30px 0;
    }

    .header-section ul.leader-ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 15px;
    }
    .orange-gradient
    {
        background: linear-gradient(90deg, #FF992E 0%, #DA1467 99.99%);
        -webkit-background-clip: text;
    }
    .header-section ul.leader-ul li {
        display: inline-block;
        padding: 0px 5px;
    }

    .header-section ul.leader-ul li a {
        color: #ffffff;
    }

    .border-video {
        border-radius: 20px;
    }
    .affiliate-link-btn a {
        border-radius: 3px;
        background-color: rgb(252, 109, 171);
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 5px 20px;
        font-size: 18px;
        color: #ffffff !important;
        font-weight: 600;
    }
    .list-head {
        list-style: none;
    }

    .list-head li {
        background: url(../images/list-tick.webp) no-repeat;
        padding: 8px 0px 8px 30px;
        background-position: 0px 11px;
        text-align: left;
        border-bottom: solid 1px rgb(11, 11, 49);
    }

    .list-head li:last-child {
        padding-bottom: 0px;
        border-bottom: none;
    }

    .list-head li:first-child {
        padding-top: 0px;
    }

    .gap30 {
        --bs-gutter-y: 30px;
    }

    .mt-md120 {
        margin-top: 20px;
    }

    @media (min-width:768px) {
        .header-section {
            background: #1b2e99 url(https://cdn.oppyotest.com/launches/webgenie/preview/images/header-bg.webp) no-repeat center center;
            background-size: cover;
            padding: 30px 0px;
        }

        .gap30 {
            --bs-gutter-x: 50px;
            --bs-gutter-y: 50px;
        }

        .mt-md120 {
            margin-top: 120px;
        }

        .header-section ul.leader-ul {
            margin-top: 12px;
        }

        .affiliate-link-btn a {
            padding: 12px 25px;
            font-size: 20px;
        }

        .affiliate-link-btn a:hover {
            background: #f2579a;
            color: #ffffff;
        }
    }

    /* Header Section Css End */

    .second-section {
        padding: 0px 0px 30px 0px;
    }

    ul.features-list {
        margin: 0px;
        padding: 0px;
    }

    ul.features-list li {
        background: url(../images/tick-icon.webp) no-repeat;
        padding: 0px 0px 20px 45px;
        background-position: 0px 3px;
        list-style: none;
    }

    ul.features-list li:last-child {
        padding-bottom: 0px;
        border-bottom: none;
    }

    @media (min-width:768px) {
        .second-section {
            padding: 0px 0px 85px 0px;
        }
    }

    /* CTA Button Start */

    a.cta-link-btn {
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: 15px 5px;
        color: #ffffff;
        font-weight: 600;
        font-size: 24px;
        line-height: normal;
        white-space: normal;
        align-items: center;
        border-radius: 6px;
        background-color: rgb(252, 109, 171);
        transition: all 0.5s;
    }

    a.cta-link-btn:hover {
        background: #f2579a;
        color: #ffffff;
        text-decoration: none;
        transform: scale(1.1);
        transition: all 0.5s;
    }

    @media (min-width: 768px) {
        a.cta-link-btn {
            font-size: 36px;
            padding: 28px 60px 30px 60px;
        }
    }

    /* CTA Button End*/

    /****** Step Section *******/

    .step-section {
        background: #eef4f9;
        padding: 30px 0px;
    }

    .step-shapes {
        background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/step-process-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 8px 40px;
        width: fit-content;
    }

    .niche-design {
        background: url(../images/niche-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 10px 45px;
        display: inline-block;
    }

    @media (min-width: 768px) {
        .step-section {
            padding: 100px 0px;
            background: #eef4f9 url(https://cdn.oppyotest.com/launches/webgenie/preview/images/step-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }
    .header-list-block {
        border-radius: 20px;
        padding: 20px 0px;
        background-color: #ffffff;
        box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
        /* margin-top: -90px; */
    }

    @media(min-width:768px) {
        .header-list-block {
            border-radius: 20px;
            padding: 40px 20px;
            margin-top: -90px;
        }
    }
    .list-head {
        list-style: none;
    }

    .list-head li {
        background: url(../images/list-head.webp) no-repeat;
        padding: 15px 0px 15px 45px;
        background-position: 0px 17px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .shape-head {
        background: url(../images/shape.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 10px 20px;
        text-align: center;
    }
    .jobiin-header-section .headline-highlight {
        color: #ffb80f;
    }

    .red-brush-top {
        background: #fd3013;
        padding: 10px;
        display: inline-block;
        padding: 10px 35px;
    }

    .post-heading {
        background: url(../images/post-heading.webp) no-repeat center center;
        padding: 10px;
        display: inline-block;
    }
    .pre-heading {
        padding: 10px 15px;
        margin: 0px auto;
        background-color: transparent;
        outline: none;
        border-radius: 35px;
        border: 2px solid #EFE1FF;
        border-width: 2px;
        border-style: solid;
        display: inline-block;
    }
    
        .head-design {
            padding: 15px;
            text-align: center;
            align-items: center;
            justify-content: center;
        }  
    @media (min-width: 768px) {
        .pre-heading {
            padding: 9px 30px;
            border-radius: 100px;
        }
        .mt-md120{
            margin-top: 120px;
        }
        .head-yellow
        {
            padding: 10px 40px;
        }
        .head-design {
            background:  url(../images/head-design.png) no-repeat;
            padding: 80px 30px;
        }
        .red-brush-top {
            background: url(../images/red-bursh.webp) no-repeat center center;
            padding: 10px 35px;
            display: inline-block;
        }

        .post-heading {
            padding: 15px 60px;
            background: url(../images/post-heading.webp) no-repeat center center;
            background-size: 100% 100%;
            display: inline-block;
        }
    }

    .grey-clr {
        color: #d5d1d1;
    }
    .z-index-9 {
        z-index: 9;
    }