body {
	font-family: 'Nunito', sans-serif;
	color: #000000;
}

.poppin-txt{font-family: 'Poppins', sans-serif;}

/* colors */
.purple {color:#0084ff;}
.greentext {color: #d8f67e;}


/* Main Header Section CSS */
.main-header{
	background:#04134a;
	padding:40px 15px;
}

.yellow-bg {
    background: #ffd454;
    padding: 15px 15px;
    display: inline-block;
    border-radius: 5px;
}



.video-frame {
    padding: 0;
    background: transparent;
}


/* Affiliate Bonus Buy Button */
a.bonusbuy-btn,
a.bonusbuy-btn:focus {
	border-radius: 10px;
	box-shadow: 0px 0px 10.89px 0.11px rgba(15, 39, 147, 0.25);
    background-color:#0084ff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 12px;
    color: #ffffff;
    font-weight: 600;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

a.bonusbuy-btn:hover {
	background-color:#0073de;
}


/* Bonus Header Section bg Start Main Css */

.bonus-header {
	padding: 30px 10px 0px 10px;
}

.heading-bg {
	background-color: #0a062e;
	border-radius: 10px;
	padding: 15px 15px;
	color:#ffffff;
}

.bonus-title-bg {
	padding: 15px 35px;
	border-radius: 10px;
	color: #ffffff;
    background: #0073de;
	display: inline-block;
	text-transform:uppercase;
}
.section-bonus{
	padding:30px 0px 0px 0px;
}
.cta-btn-section{
	padding:30px 0px 0px 0px;
}

.bonus-title-color {
	color:#1b0096;
}

.bonus-list li {
	background: url(../images/kap-tick.png) no-repeat;
	background-position:0 8px;	
	padding-left: 4rem;
	padding-bottom:30px;
	list-style-type: none;
}
.bonus-list li:last-child{
	padding-bottom:0px;
}



/* Huge Section background main CSS */
.huge-area {
    background: url(../images/huge.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    padding: 100px 0 70px;
    color:#fff;
}

.white-section{
	background:rgb(255,255,255);
	padding:30px 15px;
}


/* Footer Section Start Main CSS */
.strip_footer {
    background:#080a2a;
    padding: 40px 0px 40px;
    color:#fff;
}

.strip_footer a {
    color: white;
}


/* Exit Pop Up Css Start */
#ouibounce-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

#ouibounce-modal .underlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	cursor: pointer;
	-webkit-animation: fadein .5s;
	animation: fadein .5s
}


/* #ouibounce-modal .modal-body {
	padding: 0px 20px;
	font-size: .9em
} */


@-webkit-keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@-ms-keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fadein {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@-webkit-keyframes popin {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 0
	}
	85% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 1
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

@-ms-keyframes popin {
	0% {
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0
	}
	85% {
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 1
	}
	100% {
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

@keyframes popin {
	0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0
	}
	85% {
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 1
	}
	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}


.modal-body {
	position: relative;
	padding: 15px;
}

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.close {
	float: right;
    font-size: 30px;
    opacity: 1;
    outline: none;
    color: #300476 !important;
    font-weight: 400;
    background: #ffe8cc !important;
    top: 1px;
    position: absolute;
    z-index: 2;
    right: 0px;
    padding: 0px 5px 0px 5px !important;
    top: 1px;
    border-radius: 5px;
}

.modal-header .close {
	margin-top: -5px;
}

.innerbody {
	border-radius: 10px;
	margin-top: -1%;
	float: left;
	width: 100%;
}

.popupbg {
	background: url(../images/exitbg.png) repeat;
	padding: 8px 0px;
}


.step-image {
    position: absolute;
    left: 0px;
    top: -7px;
}


.step-back {
    background: url(../images/step-back.png) no-repeat center center;
    padding: 10px 10px 25px;
    display: block;
    margin-left: 50px;
    background-size: 100% 100%;
}

.step1-clr {
    color: #cdb33c;
}

.step2-clr {
    color: #e35b8e;
}

.step3-clr {
    color: #459eb1;
}


.testi-pic-margin-left {
    margin-left: -45px;
}


.testi-block1:after {
    content: '';
    position: absolute;
    left: auto;
    top: 30px;
    right: 30px;
    background: url(../images/quote-img.png) no-repeat right top;
    width: 42px;
    height: 42px;
}

.testi-sep-line {
    background: #cdd0db;
    height: 1px;
    width: 100%;
    max-width: 80%;
}

/* For Header Bg */
@media(min-width:768px) {
	.main-header{
	    background:#04134a url(../images/header-bg.png);
	    background-repeat: no-repeat;
	    background-position: top center;
	    background-size: cover;
	    padding: 40px 0px 120px 0px;
	}

	.bonus-header {
		padding: 30px 0px 0px 0px;
	}

	.step-image {
	    position: absolute;
	    left: 0px;
	    top: -27px;
	}

	.step-back {
	    padding: 9px 18px 32px;
	    margin-left: 40px;
	}
	
	.heading-bg {
		background: url(../images/head-bg.png);
		background-repeat: no-repeat;
		background-position: top center;
		padding:50px 30px 100px 30px;
		background-size: 100% 100%;
	}

	a.bonusbuy-btn, a.bonusbuy-btn:focus {
		padding: 35px 30px;
	}
	
	.section-bonus{
		padding:30px 0px;
	}
	
	.cta-btn-section{
		padding:20px 0px;
	}

	.testimonial-section2 {
	    background: #e4f4ff url(../images/testimonial-section2.png) no-repeat center center;
	    background-size: cover;
	    padding: 100px 0px 50px 0px;
	}

	.huge-area {
    	background: #ffe8cc url(../images/header-bg.png);
    	background-repeat: no-repeat;
   	 	background-size: cover;
    	background-position: inherit;
    	padding: 70px 0 70px;
    	color:#fff;
	}

	.strip_footer {
	    background:#080a2a;
	    /* background-size: cover;
	    background-position: top left; */
	    padding: 50px 0px 50px;
	    color: #fff;
	}

	

	.testi-pic-margin-left {
	    margin-left: -70px;
	    margin-top: -15px;
	}
}



/* Exit Popup CSS */
.link-btn a{
	background-color: #F33A3A;
    color: #fff;
    font-size: 22px;
    font-weight:400;
    line-height: 33px;
    display: inline-block;
    border-radius:2px;
    text-decoration: none;
    padding: 8px 60px;
}

.pop-padding{padding:20px 30px 20px 30px;}
.border-pop{border: 1px solid; padding:30px; margin: 15px 0;}



/*Main Bonus Style Strat*/

.kapblue, a.kapblue {
    color: #224cb0;
}

/*Section 2*/
.second-header-section {
    background: url(../images/second-header-section.png) no-repeat bottom center;
    background-size: cover;
    padding: 30px 15px;
}

.testimonial-section2 {
    background: #e4f4ff;
    padding: 70px 15px;
}


/*Section 2*/
.second-section {
	background:#f7faff;
	padding:40px 15px;
}


.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 15px 45px;
}

/*Section 3*/
.solution-section {
    background: #ffffff;
    padding: 30px 15px;
    background-size: cover;
}


/*Testimonial Section*/
.testimonial-section {
    background:#f5faff;
    padding: 30px 15px;
}

.grey-clr {color: #fde6cb;}

.testi-block1 {
    position: relative;
    background: #ffffff;
    padding: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.clear {clear: both;}



/*Section-5 Start*/
.amzing-deal-shape {
    padding: 10px 15px;
    background: #ffe8cc;
    border-radius: 100px;
}

/*No installation Section*/
.no-installation {
    background:#f7faff;
    padding: 30px 15px;
}

/*Demo Video Section*/
.dark-section2 {
    background: #04134a;
    padding: 30px 15px;
}



.comparetable-section {
    padding: 30px 15px;
    background: #ffffff;
}


/*Exclusive Bonus CSS Start*/
.exc-bg{
	background-color:#ffe8cc;
	padding:40px 15px;
	margin-bottom:0px;
}

.ex-1{
	background:url(../images/ex-1.png);
	background-repeat:no-repeat;
	background-position:center center;
	padding:50px 15px;
	margin-bottom:0px;
}


.ex-2{
	background-color:#f3f9ff;
	padding:40px 15px;
}

.ex-listt li{
	list-style-type: none;
    background: url(../images/bullet-icon.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding: 0px 0 45px 45px;
}

.blue-clr{color:#332b45;}
.white-clri{color:#ffffff !important;}

.white-area{
	padding:3% 15px;
}



/*Exclusive Bonus CSS End*/

.yellowtext {color: #ffde00;}
.textshadow {text-shadow: 1.888px 2.331px 10px rgba(0, 0, 0, 0.25);}

.st-list li{
	padding:0 0 35px 0;
}


/*Demo video Box*/
.video-shadow {box-shadow: 0px 1px 6px 0px rgb(255, 232, 204,0.4);}

.amzing-deal-shape1 {
    padding: 10px 10px;
    background: #ffe8cc;
    border-radius: 100px;
}

.moral-of-the-shape, .do-funnels-shape {
    padding: 10px 15px;
    background: #ffe8cc;
    border: 1px solid #000000;
    border-radius: 100px;
}

.customer-section-bg {
    background:#fff;
    padding: 30px 15px;
}

.orange-clr {
    color: #ffd454;
}

/*CSS For Mark*/

.logo{
	padding:30px 15px;
}

.box-vid{
	background:#17171d;
	padding:40px 15px;
}

.rc{
	color: #dd3c47;
    background: #fff;
    padding: 2px;
    border-radius: 5px;
}

.highlihgt-heading {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgba(19, 22, 38, 0.2);
}


.step-title-bg1 {
    background: #f2fff7;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.step-title-bg2 {
    background: #f5ebfe;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.step-title-bg3 {
    background: #fefaed;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.step-title-bg-box {
    background: #f2fff7;
    padding: 30px 20px;
    border-radius: 25px;
    text-align: center;
}

.step-title-bg-box2 {
    background: #f5ebfe;
    padding: 30px 20px;
    border-radius: 25px;
    text-align: center;
}

.step-title-bg-box3 {
    background: #fefaed;
    padding: 30px 20px;
    border-radius: 25px;
    text-align: center;
}

.step-merge {
    position: absolute;
    right: -44px;
    top: 240px;
}

.features-list-bg {
    background: #ffffff;
    padding: 15px;
    box-shadow: 0px 5px 17px 0px rgba(50, 1, 134, 0.17);
}

.feature-first-col {
    width: 14%;
    float: left;
    position: relative;
}

.blue-txt {
    color: #8c30ea;
}


.testimonial-image-border {
    display: block;
    margin-left: 12px;
    /* border: 1px solid #1631a8; */
    margin-top: -55px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.testimonial-left-border {
    border-left: 2px solid #8c30ea;
    padding: 0px 15px;
}

.proudly-intro {
    background: #1b0096;
    padding: 30px 15px;
}

.text-background3 {
    background:#0084ff;
    padding: 10px;
    border-radius: 10px 0px 10px 0px;
}

.forever-going {
    background: #ffffff;
    padding: 30px 15px;
}

.feature-second-col {
    width: 86%;
    float: left;
    position: relative;
}

.yellow-clr {
    color:#0084ff;
}


.dark-instant-btn a {
	padding: 10px 38px;
    display: inline-block;
    background: #fff;
    color: #000;
    font-weight: 700;
    border-radius: 5px;
}

.no-insta {
    background: #f5faff;
    padding: 30px 15px;
}

.orange-clr {
    color: #ffd454;
}

.next-gen-sec {
    background: #04134a;
    padding: 30px 0px;
}

.prdly-pres {
    background: url(../images/prdly-pres-bg.png) no-repeat center center;
    padding: 0px 10px 7px 10px;
    background-size: contain;
}


.amazing-software-section1 {
    background: #ffffff;
    padding: 30px 15px;
}


.step-back1 {
    background: url(../images/step-back1.png) no-repeat center center;
    padding: 10px 10px 25px;
    display: block;
    margin-left: 50px;
    background-size: 100% 100%;
}


.step-back2{
	background: url(../images/step-back2.png) no-repeat center center;
    padding: 10px 10px 25px;
    display: block;
    margin-left: 50px;
    background-size: 100% 100%;
}



@media (max-width: 767px){
	.xsmbtext {text-align: center;}
}

@media (min-width: 768px){
	.feature-second-col {
    width: 90%;
}
	.mt-sm120 {
	    margin-top: 120px;
	}
	.forever-going {
	    background: #ffffff url(../images/step-section-bg.png) no-repeat center center;
	    background-size: cover;
	    padding: 100px 0px;
	}
	.text-background3 {
    background: url(../images/text-background3.png) no-repeat center center;
    background-size: contain;
    padding: 60px 0px 26px 0px;
    border: 0px;
    border-radius: 0px;
}
	.testimonial-left-border {
    	padding: 0px 0px 0px 24px;
	}
	.features-list-bg {
    background: #ffffff;
    height: 120px;
    padding: 20px;
}
	.second-header-section{
		padding:100px 15px 20px 15px;
	}

	
	.second-section {
	    padding: 150px 15px 150px 15px;
	    background: #ffffff url(../images/second-section-bg.png) no-repeat center center;
	    background-size: cover;
	}

	.feature-first-col {width: 10%;}
	.kaptick li {padding: 0 0 36px 55px;}
	.solution-section {padding: 80px 0px 100px 0px;}
	.testimonial-section {
	    background:url(../images/testimonial-section.png) no-repeat center center;
	    background-size: cover;
	    padding:100px 15px 100px 15px;
	}
	

	.next-gen-sec {
    	background: #04134a;
	    background-size: cover;
	    padding: 100px 15px 200px;
	}

	.amazing-software-section {
    	background: #fff6eb url(../images/amazing-bg.png) no-repeat center center;
    	background-size: 100% 100%;
    	padding: 80px 0;
	}

	.never-ending {
    	padding: 35px 25px;
    	min-height: 230px;
	}

	.amzing-deal-shape {
    	background: url(../images/big-question-shape.png) no-repeat center center;
    	background-size: contain;
    	padding: 15px;
	}

	.amazing-software-section1 {
    	padding: 90px 0 20px;
	}

	.no-installation {
	    background:url(../images/no-installation.png) no-repeat center center;
	    background-size: cover;
	    padding: 220px 0px 90px;
	}

	.dark-section2 {
    	background: #04134a url(../images/dark-section-bg2.png) no-repeat bottom center;
	    padding: 70px 0px 200px 0px;
	    background-size: cover;
	}


	.dark-instant-btn a {
	    border-radius: 10px;
	    background-color:#fff;
	    text-decoration: none;
	    text-align: center;
	    display: inline-block;
    	padding: 35px 40px;
	    color: #000000;
	    font-weight: 700;
	    font-size: 20px;
	    line-height: 140%;
	    font-family: 'Spartan', sans-serif;
	    box-shadow: 0px 0px 10.89px 0.11px rgba(15, 39, 147, 0.25);
	}

	.comparetable-section {
    	padding: 100px 0px;
    	background: #ffffff url(../images/compare-table-bg.png) no-repeat center center;
    	background-size: cover;
	}	

	.amzing-deal-shape1 {
	    background: url(../images/big-question-shape.png) no-repeat center center;
	    background-size: contain;
	    padding: 15px 15px 13px;
	}

	.do-funnels-shape {
	    background: url(../images/do-funnels-shape.png) no-repeat center center;
	    background-size: contain;
	    border: 0px;
	    border-radius: 0px;
	    padding: 22px 15px 15px;
	}

	.highlihgt-heading {
	    position: relative;
	    border-radius: 25px;
	    padding:30px 25px 30px;
	    transform: skew(-7deg);
	}

	.customer-section-bg {
	    padding:30px 15px 70px 15px;
	    background: #ffffff;
	    background-size: 100% 100%;
	}

	.testi-block1 {
    	padding: 25px 30px;
	    background: #ffffff url(../images/testi-block.png) no-repeat top right;
	}

	.testimonial-image-border {
	    margin-left: 25px;
	    margin-top: -70px;
	    height: 120px;
	    width: 120px;
	}

	.proudly-intro {
	    background:#5500d2 url(../images/proudly-intro.png) no-repeat top center;
	    background-size: cover;
	    padding: 100px 0px;
	}

	.yellow-bg {
	    background: #ffd454;
	    padding: 15px 40px;
	    display: inline-block;
	    border-radius: 5px;
	    color: #000;
	}

	.no-insta {
	    background: #f5faff url(../images/noinstal.png) no-repeat center center;
	    background-size: cover;
	    padding: 100px 15px;
	}

	.rotate-5 {
    	transform: skew(7deg);
	}

	.step-back1{
		padding: 14px 18px 39px;
    	margin-left: 40px;
	}

	.step-back2{
		padding: 14px 18px 39px;
    	margin-left: 40px;
	}
}