/* Exclusive Bonus CSS For Amit Sir */
.grand{
  background:#fff;
  padding:30px 15px;
}

/* CSS For Profitmozo */
.white-area{
  padding:10px 15px;
  background:rgb(255,255,255);
}

.logo-gr{
  padding:20px 0;
}

.gr-1{
  background:url(../images/gr-1.png);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  padding:50px 15px;
}

.yellowtext {
    color: #ffde00;
}