html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
    overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #000000;
}

.blue-clr {
    color: #182d5a;
}
.orange-clr{
    color: #f6841f;
}
.yellow-clr{
    color: #ffc332;
}

.preline{
    position: relative;
    display: inline-flex;
}
.preline::before{
    content: '';
    border: solid 1px #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5px;
    z-index: 1;
    right: -5px;
}

.preheadline {
    display: inline-flex;
    padding: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    z-index: 15;
}
.postheadline{
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    display: inline-block;
    padding: 10px;
    border-radius: 100px;
}
@media(min-width:768px){
    .postheadline,
    .preheadline{
        padding: 10px 35px;
    }
    .preheadline::before{
        content: '';
        background:url(https://cdn.oppyo.com/launches/yodrive/common_assets/images/left-arrow.webp) no-repeat;
        width: 49px;
        height: 65px;
        position: absolute;
        left: -35px;
        bottom: -35px;
        z-index: -1;
    }
    .preheadline::after{
        content: '';
        background:url(https://cdn.oppyo.com/launches/yodrive/common_assets/images/right-arrow.webp) no-repeat;
        width: 49px;
        height: 65px;
        position: absolute;
        right: -35px;
        bottom: -35px;
        z-index: -1;
    }
}



/* Header Section CSS */

.header-section {
    background: #182d5a;
    padding: 30px 0;
}

.new-section {
    background: #ffffff;
    padding: 30px 0px;
}

.orange-clr{
    color: #f6841f;
}

.pre-head{
	padding: 15px 15px;
}

@media(min-width:768px) {
    .header-section {
        background: #fff url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 40px 0px 120px;
    }
    .new-section {
        background: #ffffff;
        padding: 100px 0px;
    }
    .f-md-70 {
        font-size: 70px;
    }
}

.white-clr {
    color: #ffffff;
}

.relative {
    position: relative;
}

@media(max-width:767px) {
    .footer-section {
        background: #020d13;
        padding: 30px 0px;
    }
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.footer-section {
    background: #020d13;
    padding: 50px 0px 50px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.instant-btn a {
    border-radius: 15px;
    background-color: #f6841f;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
}

.instant-btn a:hover {
    background: #e97b1a;
    color: #ffffff;
}

.section1 {
    padding: 30px 0;
    background: #eef5ff;
}

.section2 {
    padding: 30px 0;
    background: #ffffff;
}

.section3 {
    padding: 30px 0;
    background: #ffffff;
}

.plan1-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgb(96 145 169 / 19%);
}

.plan2-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgba(96, 145, 169, 0.19);
}

.tablebox1 {
    background: #9dbacc;
    width: 100%;
    float: left;
    border-radius: 30px;
}

.tablebox-inner-bg {
    background: #182d5a;
    padding: 30px;
    background-size: 100% 100%;
    border-radius: 10px;
}

.table-headline-shape {
    background: url(../images/table-headline-shape.webp) no-repeat center center;
    background-size: contain;
    padding: 18px 19px 16px 17px;
}

.title-shape {
    background: #182d5a;
    padding: 10px;
    border-radius: 65px;
    display: inline-block;
}

.title-shape1 {
    background: #182d5a;
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}

@media(min-width:768px) {
    .title-shape {
        padding: 5px 30px;
    }
    .title-shape1 {
        padding: 5px 30px;
    }
    .tablebox-inner-bg {
        padding: 30px 15px 30px 15px;
        background-size: cover;
        border-radius: 30px;
    }
    .section-margin {
        margin-top: 250px !important;
    }
    .pimg {
        margin-top: -255px;
    }
    .section1 {
        padding: 100px 0;
    }
    .section2 {
        padding: 100px 0;
    }
    .section3 {
        padding: 100px 0;
    }
    .instant-btn a {
        font-size: 36px;
        padding: 28px 74px 30px 74px;
    }
}


/*Table CSS Start*/

.odd-shape {
    background: #f6841f;
    padding: 10px 15px;
}

.even-shape {
    background:rgba(255, 255, 255, 0.08);
    padding: 10px 15px;
    color: #ffffff !important;
}

.price-shape {
    background: #ffffff;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}

.now-price {
    background: #f6841f;
    padding: 12px 10px;
    border-radius: 22px;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
}


/*Table CSS Enad*/


/* Header Section */

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 15px 45px;
    color: #000000;
    line-height: 150%;
    font-size: 18px;
}

.kaptick li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .kaptick li {
        padding: 5px 0 30px 45px;
    }
}

@media (max-width: 767px) {
    .footer-section {
        background: #09090a;
        padding: 30px 0px;
    }
    .content-mbl-space {
        padding: 30px 15px;
    }
}


/******new********/

.img-shadow {
    box-shadow: 0px 0px 15px 0px rgb(73 76 80 / 25%);
}

.riskfree-section {
    background: #000000 url(../images/riskfree-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.second-header-section {
    padding: 30px 0;
    background: #111;
}

.step-shape {
    border-width: 3px;
    border-color: #f6841f;
    border-style: solid;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    width: 100%;
    float: left;
    padding: 20px;
    height: 100%;
    color: #fff;
}

@media (min-width:768px) {
    .img-shadow {
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 25%);
    }
    .riskfree-section {
        padding: 100px 0px;
    }
    .second-header-section {
        background: #111 url(../images/cta-bg-new.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
}

.animate-charcter {
    background-image: linear-gradient( -225deg, #001963 0%, #ff0505 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    0% {
        background-position: 200% center;
    }
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.calendar-wrap {
    border-radius: 15px;
    background-color: #051532;
    padding: 12px 20px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.list-head {
    list-style: none;
}
.list-head li {
    background: url(../images/cloud.webp) no-repeat;
    padding: 8px 0px 8px 30px;
    background-position: 0px 17px;
    text-align: left;
    border-bottom: solid 1px #091e42;
}
.list-head li:last-child {
    border-bottom: none;
}