body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}


/* colors */

.purple {
    color: #ff7200;
}

.greentext {
    color: #d8f67e;
}

.green-clr {
    color: #00ff84;
}

.yellow-clr {
    color: #fff600;
}


/* Main Header Section CSS */

.main-header {
	background: rgb(0,68,205);
    background: -moz-linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
    background: linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
    padding: 30px 15px;
    
}

.yellow-bg {
    background: #ffcf69;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
}

.blue-head {
    color: #3f43ba;
}

.content-box {
    background: #fff;
    padding: 30px 15px;
    border-radius: 5px;
}

.video-frame {
    padding: 0;
    background: transparent;
}

.highlight-heading {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgb(19 22 38 / 20%);
}

@media (min-width: 768px) {
    .highlight-heading {
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
    }
}

@media (min-width: 768px) {
    .rotate-5 {
        transform: skew(7deg);
    }
}


/* Affiliate Bonus Buy Button */

a.bonusbuy-btn {
    border-radius: 5px;
    /* background-color: #3f43ba; */
    background-image: -moz-linear-gradient( -45deg, rgb(255,103,28) 0%, rgb(253,139,37) 69%);
    background-image: -webkit-linear-gradient( -45deg, rgb(255,103,28) 0%, rgb(253,139,37) 69%);
    background-image: -ms-linear-gradient( -45deg, rgb(255,103,28) 0%, rgb(253,139,37) 69%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: normal;
    white-space: normal;
}

a.bonusbuy-btn:hover,
a.bonusbuy-btn:focus {
    background: linear-gradient(90deg, rgba(253,139,37,1) 0%, rgba(255,108,29,1) 100%);
    text-decoration: none;
}

a.bonusbuy-btn1 {
    border-radius: 5px;
    background-image: -moz-linear-gradient( -45deg,  rgb(253,139,37) 0%, rgb(255,103,28) 69%);
    background-image: -webkit-linear-gradient( -45deg, rgb(253,139,37) 0%, rgb(255,103,28) 69%);
    background-image: -ms-linear-gradient( -45deg, rgb(253,139,37) 0%, rgb(255,103,28) 69%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: normal;
    white-space: normal;
}

a.bonusbuy-btn1:hover,
a.bonusbuy-btn1:focus {
    background-image: -moz-linear-gradient( -45deg, rgb(255,103,28) 0%, rgb(253,139,37) 69%);
    background-image: -webkit-linear-gradient( -45deg, rgb(255,103,28) 0%, rgb(253,139,37) 69%);
    background-image: -ms-linear-gradient( -45deg, rgb(255,103,28) 0%, rgb(253,139,37) 69%);
    text-decoration: none;
}


@media (min-width: 768px) {
    .probtn a {
        padding: 27px 50px;
    }
    .yellow-bg {
        padding: 10px 20px;
    }
}


/* Bonus Header Section bg Start Main Css */

.bonus-header {
    padding: 30px 10px 0px 10px;
}

.heading-bg {
    background-color: #ee3725;
    border-radius: 10px;
    padding: 15px 15px;
    color: #ffffff;
}

.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #3f43ba;
    display: inline-block;
    text-transform: uppercase;
}

.section-bonus {
    padding: 30px 0px 0px 0px;
}

.cta-btn-section-bg {
    background: url(../images/cta-bg-new.png) no-repeat;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding: 30px 0px 0px 0px;
}
.cta-btn-section {
    padding: 30px 0px 0px 0px;
}
.bonus-title-color {
    color: #ff4e4e;
}

.bonus-list li {
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 5px;
    padding-left: 3rem;
    padding-bottom: 25px;
    list-style-type: none;
}

.bonus-list li:last-child {
    padding-bottom: 0px;
}

.mw-60 {
    max-width: 60%;
}


/* Huge Section background main CSS */

.huge-area {
    padding: 30px 0;
    background: -moz-linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
    background: linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
}

.white-section {
    background: rgb(255, 255, 255);
    padding: 30px 15px;
}


/* Footer Section Start Main CSS */

.strip_footer {
    background: #000000;
    padding: 30px 0px;
    color: #fff;
}

.strip_footer a {
    color: white;
}


/* Exit Pop Up Css Start */

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}


/* #ouibounce-modal .modal-body {
	padding: 0px 20px;
	font-size: .9em
} */

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.modal-body {
    position: relative;
    padding: 15px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 30px;
    opacity: 1;
    outline: none;
    color: #300476 !important;
    font-weight: 400;
    background: #ffe8cc !important;
    top: 1px;
    position: absolute;
    z-index: 2;
    right: 1px;
    padding: 0px 5px 0px 5px !important;
}

.modal-header .close {
    margin-top: -5px;
}

.innerbody {
    border-radius: 10px;
    margin-top: -1%;
    float: left;
    width: 100%;
}

.popupbg {
    background: url(../images/exitbg.png) repeat;
    padding: 8px 0px;
}


/* Media Querry Start */


/* For Header Bg */

@media(min-width:768px) {
    .cta-btn-section-bg{
        padding: 80px 0px 80px 0px;
    }
    .main-header {
        background: url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 40px 0px 180px 0px;
        position: relative;
    overflow: hidden;
    }
    .content-box {
        background-color: #fff;
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
        border-radius: 25px;
        display: inline-block;
        box-shadow: -1.04px 4.891px 6px 0px rgba(19, 22, 38, 0.2);
    }
    .bonus-header {
        padding: 70px 0px 0px 0px;
    }
    .heading-bg {
        background: url(../images/head-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        padding: 50px 15px 100px 15px;
        background-size: 100% 100%;
    }
    a.bonusbuy-btn,
    a.bonusbuy-btn:focus {
        font-size: 34px;
        padding: 26px 65px;
        width: auto;
    }
	 a.bonusbuy-btn1,
    a.bonusbuy-btn1:focus {
        font-size: 34px;
        padding: 26px 65px;
        width: auto;
    }
    .section-bonus {
        padding: 30px 0px;
    }
    .cta-btn-section {
        padding: 20px 0px;
    }
    .huge-area {
        background: #ffe8cc url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: inherit;
        padding: 70px 0 70px;
        color: #fff;
    }
    .strip_footer {
        background: #000000;
        padding: 50px 0px;
        color: #fff;
    }
}


/* Exit Popup CSS */

.link-btn a {
    background-color: #F33A3A;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    display: inline-block;
    border-radius: 2px;
    text-decoration: none;
    padding: 8px 60px;
}

.pop-padding {
    padding: 20px 30px 20px 30px;
}

.border-pop {
    border: 1px solid;
    padding: 30px;
    margin: 15px 0;
}

@media(max-width:767px) {
    .xstext1 {
        text-align: center;
    }
}

.section-host {
    padding: 30px 0px 0px;
    background: #ffffff url(../images/host-bg.png) no-repeat center center;
    background-size: cover;
}

.kapblue {
    color: #3f43ba;
}

@media (min-width: 768px) {
    .section-host {
        padding: 50px 0px 50px 0px;
    }
}

.white-area {
    padding: 50px 15px;
}
.black-clr {
	color: #000000;
}
.white-clr {
	color: #ffffff;
}
@media screen and (max-width: 767px) {
    .inner-content {
        margin: auto !important;
    }
}
.header-sectionnj {
    background: #080d21;
    padding: 30px 0px;
}

.header-sectionnj ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.post-heading-nj {
    padding: 6px;
    display: inline-block;
    border-radius: 65px;
    background-color: rgb(211, 223, 243);
    box-shadow: inset 0px 4px 10px 0px rgb(0 0 0 / 35%), inset 2.828px -2.828px 10px 0px rgb(255 255 255 / 35%);
    color: #080d1a;
}
.orange, a.orange {
    color: #ff7200;
}
.list-head {
    list-style: none;
}
.list-head li {
    background: url(../images/list-head.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}
.headernj-section {
	background: #080d21;
	padding: 30px 0px;
}
.list-head li:last-child {
    border-bottom: 0px;
}
.headerlf-section {
	background: #162637;
	padding: 30px 0px;
}
.qcolor {
    color: #008aff;
}
.fbox {
    background: #fff;
    border: 2px solid #e3e3e3;
    border-radius: 20px;
    padding: 20px;
}
.features2 ul li {
    padding-bottom: 6px!important;
    line-height: 25px!important;
}
.pcolorline {
    border-bottom: 1px solid #008aff;
}
.features1 ul li {
	background: url(../images/check-ft.png) no-repeat;
	list-style: none;
	padding-bottom: 12px;
	padding-left: 40px;
	background-position: 2px 3px;
	line-height: 27px;
}
.lf-demo-sec {
	padding: 30px 0px;
	background: #ffffff;
}
@media(min-width:768px) {
	.headernj-section {
		background: #080d21 url(../images/headernj-bg.png) no-repeat bottom center;
		background-size: cover;
		padding: 40px 0px 140px 0px;
	} 
	.headerlf-section {
		padding: 70px 0px 150px;
		background: url(../images/newbg.png) #162637 no-repeat;
		background-size: cover;
		background-position: bottom center;
	}
	.lstripbg2 {
		background: url(../images/layer2.png) no-repeat;
		padding: 0px 10px;
	}
	.lstripbg3 {
		background: url(../images/layer3.png) no-repeat;
		padding: 0px 7px;
	}
	.post-heading-nj {
		padding: 6px 30px;
	}
	.features1 ul li {
		padding-left: 50px;
	}
}
/* move icons */
.star{
    position: absolute;
    right: 2%;
    top: 5%;
 
}
.star-move{
    position: relative;
    animation: spin2 12s linear 0s infinite normal;
}
.star-bottom{
    position: absolute;
    left: 0px;
    bottom: 10%;
}
.website-move{
    position: absolute;
    left: 4%;
    top: 25%;
}
.web-move 
{
    position: relative;
    animation: rotate 8s linear 0s infinite normal;
}

.website-repair{
    position: absolute;
    right: 0;
    top: 60%;
}

.web-repair{
    position: relative;
    animation: rotate 8s linear 0s infinite normal;
}
@keyframes spin2 {
    0% {
      transform: rotate(-360deg); }
    100% { 
      transform: rotate(0deg); }
}
@keyframes rotate {  	
	0%,100% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  40% {
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  70% {
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
	
}
/* move icons ends */


.z-index10{
    z-index: 10;
}

.agencies-header-section{
	background: #3c0f97;
    padding: 30px 0px;
}

.agencies-header-section .header-bordered-list li {
    list-style: none;
    background: url(../images/agencies-list-icon-image11.png) no-repeat;
    background-position: 0 7px;
    padding: 0 0 12px 25px;
    border-bottom: 1px solid #6923f5;
    margin-top: 12px;
}
.agencies-header-section .highlihgt-heading {
    background: #400ba9;
    padding: 15px 12px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: inline-block;
}
.agencies-header-section .game-changer {
    background: #84f845;
    padding: 12px 30px;
    display: inline-block;
}
.agencies-header-section .green-clr {
    color: #84f845;
}

@media(min-width:768px){
	.agencies-header-section{
		background: #ffffff url(../images/agencies-header-bg.png) no-repeat center bottom;
		background-size: cover;
		padding: 50px 0px 160px;
	}
	.agencies-header-section .game-changer {
		padding: 13px 43px;
		transform: skew(20deg);
		max-width: 340px;
	}
	.agencies-header-section .highlihgt-heading {
		padding: 40px 20px 50px;
		background: url(../images/agencies-heading-bg.png) no-repeat center center;
		box-shadow: none;
		background-size: 100% 100%;
		border: 0px;
		border-radius: 0px;
	}
	.agencies-header-section .text-roated {
		transform: skew(-20deg);
	}
	.agencies-header-section .min-sm-video-width-left {
		width: 61%;
	}
	.agencies-header-section .min-sm-video-width-right {
		width: 39%;
	}
}

.maxdrive-logo{padding: 30px 0px;}
.maxdrive-header-section{    
	background: #000;
    padding: 30px 15px;
}
.maxdrive-header-section .game-changer {
    background: #ff3c00;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    max-width: 248px;
}
.maxdrive-header-section .heading-co-bg {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgb(19 22 38 / 20%);
}
.maxdrive-header-section .list-head li::nth-child(2){ background-color: pink;}

@media (min-width: 768px){
	.maxdrive-header-section{    
		background: #ffffff url(../images/maxdrive-header-bg.png) no-repeat center center;
		background-size: cover;
		padding: 55px 0px 100px;
	}
	.maxdrive-header-section .heading-co-bg {
		position: relative;
		padding: 25px 25px 20px;
		transform: skew(-7deg);
	}
}

.afffiliateninjapro-section{
    background: url(../images/afffiliateninjapro-bg.png) #0570fb no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    padding: 30px 0px;
}
.afffiliateninjapro-section .lightcolor {
    color: #ffea00;
}
@media(min-width:768px){
    .afffiliateninjapro-section{padding: 100px 0px;}
}

.vidmozo-section{
    background: #26384b url(../images/vidmozo-bg.png) no-repeat;
    padding: 30px 0px;
    color: #FFF;
    background-size: cover;
}
.vidmozo-section .vmcolor {
    color: #ff9c4c;
}
@media(min-width:768px){
    .vidmozo-section{padding: 100px 0px;}
}

.videowhizz-section{
    background: #3a315a url(../images/videowhizz-bg.png) no-repeat;
    padding: 30px 0px;
    color: #FFF;
    background-size: cover;

}
.videowhizz-section .highlight {
    color: #ffae00;
}
@media(min-width:768px){
    .videowhizz-section{padding: 100px 0px;}
}
.socixplode-section{background: url(../images/socixplode-bg.png) no-repeat; padding: 30px 0px; background-size: cover;}
.socixplode-section .yellowtext{color: #f0c118;}

@media(min-width:768px){
    .socixplode-section{padding: 100px 0px;}
}