/* MaxFunnel Section */

.revo-section {
    background: #ffffff url(../images/revobg.png) no-repeat top center;
    background-size: cover;
    padding: 80px 0px;
}

.gen-section {
    background: #1e0159 url(../images/grs1.png) no-repeat top center;
    background-size: cover;
    padding: 90px 0px;
}

.always-section {
    background: #e9ebf1 url(../images/grs1.png) no-repeat top center;
    background-size: cover;
    padding: 80px 0px 70px;
}

.spartan-font {
    font-family: 'Spartan', sans-serif;
}

.rtg-section {
    background: #ffffff url(../images/rtg-bg.png) no-repeat top center;
    background-size: cover;
    padding: 80px 0px;
}

.bl-section {
    background:#00165f url(../images/blbg.png) no-repeat center center;
    background-size: cover;
    padding: 80px 0px;
}

.lbl-section {
    background: #ffffff url(../images/super-duper-section.png) no-repeat center bottom;
    background-size: cover;
    padding: 80px 0px 120px 0px;
}

.revo-list li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    padding: 0 0 15px 40px;
    list-style: none;
    background-position: 1px 5px;
}

.revo-list li:last-child {
    padding-bottom: 0px;
}

.clear {
    clear: both;
}

.shp-blc {
    position: relative;
    /* background: url(../images/sp1.png) no-repeat top center;
	background-size: cover; 
	padding: 47px; 
	width: 163px;  */
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: -72px; */
}

.icn-shape {
    background-color: #f4f7fb;
    border-radius: 20px;
    padding: 60px 15px 15px 15px;
    min-height: 340px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.als1-section {
    background: #e9ebf1;
    background-size: cover;
    padding: 80px 0px 75px 0px;
}

.als111-section {
    background: #ffffff url(../images/als111-section.png) no-repeat center center;
    background-size: cover;
    padding: 80px 0px;
}

.als11-section {
    background: #ffffff url(../images/als11-section.png) no-repeat center center;
    background-size: cover;
    padding: 80px 0px;
}

.als2-section {
    background: #ffffff url(../images/grs.png) no-repeat top center;
    background-size: cover;
    padding: 100px 0px 90px 0px;
}

.grab-section {
    background: #e9ebf1 url(../images/grs1.png) no-repeat top center;
    background-size: cover;
    padding: 80px 0px;
}

.als3-section {
    background-color: #ffffff;
    padding: 45px 0;
}

.als4-section {
    background: #ffffff url(../images/serp.png) no-repeat top center;
    background-size: cover;
    padding: 80px 0px;
}

.als5-section {
    background: #ffffff url(../images/grs.png) no-repeat top center;
    background-size: cover;
    padding: 130px 0px 130px 0px;
}

.als6-section {
    background: #ffffff;
    padding: 80px 0px 40px 0px;
}

.als7-section {
    background: #ffffff url(../images/nws.png) no-repeat top center;
    background-size: cover;
    padding: 100px 0px 90px 0px;
}

.als8-section {
    background: #ffffff url(../images/fbs.png) no-repeat top center;
    background-size: cover;
    padding: 80px 0px;
}

.green-bg-section {
    padding: 70px 0px;
    background: #fd8b25;
}

.super-duper-section {
    background: #00165f url(../images/super-duper-section.png) no-repeat center center;
    background-size: cover;
    padding: 80px 0px 100px 0px;
}

@media (min-width: 768px) {
.als1-section {
    background: #e9ebf1 url(../images/fe5-section-bg.png) no-repeat bottom center;
    background-size: cover;
    padding: 100px 0px 100px 0px;
}	
	
}

@media (max-width: 767px) {
    .lbl-section,
    .als4-section,
    .als6-section,
    .revo-section,
    .bl-section,
    .als3-section,
    .als1-section,
    .als11-section,
    .als111-section,
    .green-bg-section,
    .super-duper-section,
    .always-section,
    .grab-section,
    .als7-section {
        padding: 30px 0;
    }
    .gen-section {
        padding: 70px 0px 70px 0px;
    }
    .rtg-section {
        padding: 30px 0;
    }
    .gr-sec {
        background: #ffe8cc;
        padding: 30px 0px;
    }
    .lbl-section {
        background: #00165f;
    }
    .als2-section,
    .gen-section,
    .als5-section,
    .als8-section {
        background: #e9ebf1;
        padding: 30px 0;
    }
    .icn-shape {
        min-height: auto;
    }
}