/* Step Section Start */
.step-section {
    padding: 30px 0px;
    background:#ffffff;
}
.passport-content
 {
	background-image: linear-gradient(to bottom left, #e3ecff, #ffedfc);
	padding:15px;
	border-radius: 20px;
 }
 .steps-block {
	background-color: #fff; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	flex-direction: column;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
	padding: 15px;
 }
 .step-bg {
	display: inline-block;
	background: #172b81;
	border-radius: 65px;
	padding: 10px 30px;
 }
 .step-headline
 {
	display: flex; 
	align-items: center; 
	justify-content: center;
 }
         
@media (min-width: 768px){
	.step-section {
		background: #ffffff url(../images/step-bg.png) no-repeat center center;
		padding: 100px 0px;
	}
	.passport-content
	{
		background: url(../images/rewind-bg.png) no-repeat center center;
		border-radius: 20px;
		padding: 30px 25px;
		background-size: cover;
	}
	.steps-block
	{
		padding: 20px 10px;
	}
	.step-headline{
		min-height: 112px;
	}
}
/* Step Section End */

/* Demo Section Start */
.demo-section {
    padding: 30px 0px;
    background:#ffffff;
}
@media (min-width: 768px){
.demo-section {
    padding: 100px 0px 0px 0px;
}
}
/* Demo Section End */

/* Feature 1 Section Start */
.features-one{
	background:#ffffff;
	padding:0px 0px 30px 0px;	
}
.features-headline{
  background-color:#5b5c6b;
  border-radius:0px 0px 80px 80px;
  padding:20px;
  display:inline-block;
}
@media (min-width:768px) {
	.features-one {
		padding:0px 0px 100px 0px;
	}
	.features-headline{
		border-radius:0px 0px 80px 80px;
		padding:30px 50px;
	}
}
/* Feature 1 Section End */


/* Feature 2 Section Start */
.features-two{
	background:#202491;
	padding:30px 0px;	
}

@media (min-width:768px) {
	.features-two {
		padding:100px 0px;
		background: #ffffff url(../images/featurestwo-bg.png) no-repeat center center;
		background-size: cover;
	}
}
/* Feature 2 Section End */

/* Feature 3 Section Start */
.features-three{
	background:#ffffff;
	padding:30px 0px;	
}

@media (min-width:768px) {
	.features-three {
		padding:100px 0px;
	}
}
/* Feature 3 Section End */

/* Feature 4 Section Start */
.features-four{
	background:#edeefc;
	padding:30px 0px;	
}

@media (min-width:768px) {
	.features-four {
		padding:100px 0px;
	}
}
/* Feature 4 Section End */


/* Feature 5 Section Start */
.features-five{
	background:#ffffff;
	padding:30px 0px;	
}

@media (min-width:768px) {
	.features-five {
		padding:100px 0px;
	}
}
/* Feature 5 Section End */