html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #000;
}

.text-nowrap {
    white-space: nowrap;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

/* Color CSS */

.lightcolor {
    color: #eaab26;
}

.kapblue,
a.kapblue {
    color: #410cac;
}

.blue-clr1,
a.blue-clr1 {
    color: #20015c;
}

.blue-clr {
    color: #001964;
}

.red-clr3 {
    color: #f60b0b;
}

.grey-clr {
    color: #fde6cb;
}

.orange-clr {
    color: #f68a1e;
}

.org-clr {
    color: #ff9e48;
}

.orange-clr1 {
    color: #ff7d1d;
}

.red-clr {
    color: #ff0505;
}

.v-grey-clr {
    color: #303030;
}

.yellow-clr {
    color: #ffe8cc;
}

.green-clr {
    color: #84f845;
}

.z-index9 {
    z-index: 9;
}


/* Header CSS */

.header-section {
    background: rgb(0, 68, 205);
    background: -moz-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0044cd", endColorstr="#00165f", GradientType=1);
    padding: 30px 0px;
}

.affiliate-link-btn a {
    border-radius: 5px;
    background-image: -moz-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -webkit-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -ms-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 500;
}

.affiliate-link-btn a:hover {
    background: linear-gradient(90deg, rgba(253, 139, 37, 1) 0%, rgba(255, 103, 28, 1) 100%);
    /* border: 2px solid #ffffff; */
    color: #ffffff;
}
.pre-headline {
    background-color: rgb(27 85 146);
    display: inline-block;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 50px;
}
.gap20 {
    gap: 20px;
}
.title-bg1 {
    background: #003196;
    color: #fff;
    padding: 15px;
    display: inline-block;
    text-align: center;
    border: 1px dashed #fff;
}
.gradient-text {
    color: #f614b8;
    background-image: -moz-linear-gradient( 0deg, rgb(250,170,75) 0%, rgb(255,215,22) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,170,75) 0%, rgb(255,215,22) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,170,75) 0%, rgb(255,215,22) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.orange-clr{
    color: rgb(250,170,75);
}
@media (min-width: 768px){
.title-bg1 {
    background: url(../images/heading-design.png) no-repeat;
    background-size: 100% 100%;
    padding: 30px;
    border: none;
}}
.instant-btn a {
    border-radius: 10px;
    background: #440eb1;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
}

.instant-btn a:hover {
    background-color: #1e015a;
    text-decoration: none;
}

.header-green-btn a {
    border-radius: 10px;
    background: #84f845;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #000000;
    font-weight: 500;
    width: 100%;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
}

.header-green-btn a:hover {
    background-color: #84f845;
    text-decoration: none;
}

.dark-instant-btn a {
    border-radius: 10px;
    background-color: #ffe8cc;
    box-shadow: 0px 0px 10.89px 0.11px rgba(15, 39, 147, 0.25);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #000000;
    font-weight: 700;
    width: 100%;
    font-size: 20px;
    line-height: 140%;
}

.dark-instant-btn a:hover {
    background-color: #ffe8cc;
    text-decoration: none;
}

.header-section ul.leader-ul,
.main-header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 12px;
}

.header-section ul.leader-ul li,
.main-header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 300;
}

.header-section ul.leader-ul li a,
.main-header-section ul.leader-ul li a {
    text-decoration: none;
    color: #ffffff;
}

.highlihgt-heading {
    position: relative;
    background: #000000;
    padding: 10px 0px;
    border-radius: 75px;
    display: inline-block;
    color: #f68a1e;
}

.step-back {
    border-radius: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(63, 17, 157) 0%, rgb(64, 18, 159) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(63, 17, 157) 0%, rgb(64, 18, 159) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(63, 17, 157) 0%, rgb(64, 18, 159) 100%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    padding: 12px 28px;
    display: inline-block;
    text-align: center;
}

.step1-absolute-image,
.step-absolute-image {
    position: absolute;
    top: -47px;
    left: 50px;
}

.mx-h-140 {
    max-height: 140px;
}

.game-changer {
    background: #84f845;
    padding: 12px 30px;
    display: inline-block;
}

.second-header-section {
    padding: 30px 0px;
}

.line-through {
    text-decoration: line-through;
}

.ul-tick-icon li {
    list-style: none;
    background: url(../images/ul-tick-icon.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0px 15px 39px;
    display: inline-block;
}

.problem-list-styel li {
    list-style: none;
    background: url(../images/problem-icon.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0px 20px 70px;
    display: inline-block;
}

.visitors-section {
    background: #ffffff;
    padding: 30px 0;
}

.demo-section-bg {
    background: #00165f;
    padding: 30px 0;
}

.anymore-section {
    background: #ffffff url(../images/anymore-section.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.easy-steps-section {
    background: #e9ebf1 url(../images/easy-steps-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.silver-platter-section {
    background: #ffffff url(../images/silver-platter-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.solution-section {
    background: #ffffff;
    padding: 30px 0px;
    background-size: cover;
}


/* Responsive Video CSS */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgba(208, 219, 227, 0.58);
    border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.video-shadow,
.responsive-video.video-shadow iframe {
    box-shadow: 0px 1px 6px 0px rgb(255, 232, 204, 0.4);
}

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 4px;
    padding: 0 0 15px 40px;
}

.kaptick li:last-child {
    padding-bottom: 0px;
}

.second-section {
    background: #e9efff;
    padding: 30px 0px;
}

.xstext-center {
    text-align: center;
}

.white-section {
    background: #ffffff;
    padding: 3% 0% 0% 0%;
}

.blue-border {
    background: #d1e5f9;
    height: 3px;
    width: 100%;
}

.wecan-sec {
    background-color: #eaf2f6;
    padding: 30px 0px;
}

.huge-value-section {
    background: #ffffff url(../images/huge-value-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.huge-value-shape {
    background: #e9ebf1;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.online-business-shape {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

a.cta-link-btn {
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    background-image: -moz-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -webkit-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -ms-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: 0.5s;
}

a.cta-link-btn:hover {
    background: linear-gradient(90deg, rgba(253, 139, 37, 1) 0%, rgba(255, 103, 28, 1) 100%);
    text-decoration: none;
    transform: scale(1.03);
}

.list-section {
    padding: 30px 0px;
    background: #ffffff;
}

.header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}

.orange-list li {
    padding: 12px 20px 12px 50px;
    position: relative;
}

.orange-list li::before {
    content: url(../images/red-tick.png);
    position: absolute;
    left: 0px;
    top: 15px;
}

.any-shape {
    background-color: rgb(0, 25, 101);
    padding: 15px;
    display: inline-block;
    border-radius: 100px;
    margin: 0 auto;
    justify-content: center;
}

.step-shape {
    border-width: 4px;
    border-color: rgb(255, 125, 29);
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.gap15 {
    gap: 15px;
}

.step-shape1 {
    background-color: rgb(255, 125, 29);
    max-width: 140px;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: -32px;
    padding: 7px 20px;
}

@media (min-width: 768px) {
    .any-shape {
        padding: 15px 50px;
    }
    a.cta-link-btn {
        font-size: 28px;
        padding: 24px 50px 24px 50px;
    }
    .col-md-3.step-shape {
        width: 30% !important;
        flex: 0 0 30%;
        max-width: 30%;
    }
    .pre-heading {
        background: url(../images/attention.png) no-repeat center left;
        background-size: inherit;
        padding: 10px 0px 0px 5px;
        border-radius: 0px;
    }
    .list-section {
        padding: 0px 0px 70px;
    }
    .header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }
    .mtm50 {
        margin-bottom: -50px;
    }
}
.title-bg1 {
    background: #003196;
    color: #fff;
    padding: 15px;
    display: inline-block;
    text-align: center;
    border: 1px dashed #fff;
}
@media (min-width: 768px) {
    .title-bg1 {
        background: url(../images/heading-design.png) no-repeat;
        background-size: 100% 100%;
        padding: 30px;
        border: none;
    }
    .wecan-sec {
        padding: 70px 0px;
    }
    .kaptick li {
        padding: 0 0 40px 40px;
    }
    .xstext-center {
        text-align: right;
    }
    .instant-btn a,
    .header-green-btn a {
        font-size: 32px;
        padding: 35px 25px;
    }
    .dark-instant-btn a {
        font-size: 36px;
        padding: 35px 50px;
    }
    .second-section {
        padding: 100px 0px;
        background: #e9efff;
    }
    /* Timer CSS */
    .white-timer-box {
        width: 110px;
        height: 66px;
        font-size: 60px;
    }
    .white-timer-label {
        width: 110px;
        font-size: 30px;
        margin-top: 10px;
    }
    .black-timer-colon-group {
        height: 66px;
        width: 62px;
        padding: 0px 25px;
    }
    .white-timer-colon-group {
        height: 66px;
        width: 62px;
        padding: 0px 25px;
    }
    .black-timer-box {
        width: 110px;
        height: 66px;
        font-size: 60px;
    }
    .black-timer-box.f45 {
        font-size: 45px;
    }
    .black-timer-label.f18 {
        font-size: 18px;
        margin-top: 10px;
    }
    .black-timer-label {
        width: 110px;
        font-size: 30px;
        margin-top: 10px;
    }
    .black-timer-colon {
        width: 9px;
        height: 9px;
    }
    .white-timer-colon {
        width: 9px;
        height: 9px;
    }
    .black-timer-colon.colon-top,
    .white-timer-colon.colon-top {
        top: 25%;
    }
    .black-timer-colon.colon-bottom,
    .white-timer-colon.colon-bottom {
        bottom: 25%;
    }
    /* Timer CSS End */
    .header-section {
        background: #0043cc url(../images/header-bg.png) no-repeat center center;
        background-size: cover;
        padding: 50px 0px 160px;
    }
    .second-header-section {
        padding: 100px 0px;
    }
    .highlihgt-heading {
        position: relative;
        padding: 8px 30px;
    }
    .mtm-md-30 {
        margin-top: -30px;
    }
    .step-absolute-image {
        top: -50px;
        left: 35px;
    }
    .step1-absolute-image {
        top: -57px;
        left: 35px;
    }
    .mx-h-140 {
        max-height: 100%;
    }
    .px-sm50 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .btn-padding {
        padding: 0px 55px;
    }
    .ul-tick-icon li {
        padding: 0 39px 10px 39px;
    }
    .anymore-section {
        padding: 60px 0px 100px 0px;
    }
    .easy-steps-section {
        background: #ffffff url(../images/easy-steps-bg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px 140px 0px;
    }
    .demo-section-bg {
        background: #00165f url(../images/demo-section-bg.png) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px;
    }
    .silver-platter-section {
        padding: 80px 0px 100px 0px;
    }
    .solution-section {
        padding: 80px 0px 100px 0px;
    }
    .visitors-section {
        background: #ffffff url(../images/ever-needbg.png) no-repeat bottom right;
        box-shadow: none;
        padding: 80px 0px;
    }
    .huge-value-section {
        padding: 60px 0px 100px 0px;
    }
    .huge-value-shape {
        background: url(../images/huge-value-shape.png) no-repeat center center;
        background-size: contain;
        padding: 35px 8px;
        border: 0px;
        border-radius: 0px;
    }
}


/* Funnel Testimonial Box */

.funnel-blue-box {
    border-radius: 30px;
    background: #e9f8ff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-yellow-box {
    border-radius: 30px;
    background: #fff9e9;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-lime-box {
    border-radius: 30px;
    background: #efffe9;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-pink-box {
    border-radius: 30px;
    background: #f7e9ff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-yellow-box {
    border-radius: 30px;
    background: #fff6e9;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-l-blue-box {
    border-radius: 30px;
    background: #e9eeff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-image-right {
    position: absolute;
    right: 0px;
    top: -65px;
}

.absolute-funnel-image {
    position: absolute;
    left: 10px;
    top: -30px;
}

.mh-150px {
    max-height: 150px;
}

.orange-shape {
    position: absolute;
    top: -7px;
    left: 13px;
}

.see-yourself {
    background: #410cac;
    padding: 30px 0px;
}

@media(min-width: 768px) {
    .min-sm-video-width-left {
        width: 61%;
    }
    .min-sm-video-width-right {
        width: 39%;
    }
    .see-yourself {
        background: #410cac url(../images/see-ypurself.png) no-repeat;
        background-position: center;
        background-size: cover;
        padding: 80px 0px;
    }
    .funnel-image-right {
        top: -85px;
    }
    .funnel-blue-box,
    .funnel-yellow-box,
    .funnel-lime-box,
    .funnel-l-blue-box,
    .funnel-yellow-box,
    .funnel-pink-box {
        padding: 40px 38px;
    }
    .funnel-l-blue-box {
        padding: 40px 37px 20px;
    }
    .absolute-funnel-image {
        top: -52px;
    }
    .mh-150px {
        max-height: 100%;
    }
    .mt-sm-150 {
        margin-top: 150px;
    }
    .mt-sm125 {
        margin-top: 125px;
    }
}


/* XS Margin Auto CSS */

@media (max-width: 767px) {
    .mx-xs-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .text-xs-center {
        text-align: center;
    }
}

.happy-customer {
    background: #ffe8cc;
    border-radius: 5px;
    padding: 15px;
}

@media (min-width: 768px) {
    .happy-customerbg {
        position: absolute;
        bottom: 0;
    }
    .happy-customer {
        border-radius: 0px 5px 5px 0px;
        padding: 41px 10px;
    }
}

.lpb-section,
.lpb-section5 {
    background: #fff6eb;
    padding: 30px 0px;
}

@media only screen and (min-width: 768px) {
    .lpb-section {
        /*background: #ffffff url(../images/bgg.png) no-repeat;*/
        background: #ffe8cc;
        padding: 50px 0px 50px;
        background-position: bottom center;
        background-size: cover;
    }
    .lpb-section5 {
        /* background: #ffe8cc url(../images/bgg1.png) no-repeat; */
        background: #fff6eb;
        padding: 50px 0px 50px;
        background-position: top center;
        background-size: cover;
    }
}

.funnel-img {
    position: absolute;
    top: 105px;
    left: 35%;
}

.ef-block1,
.ef-block2,
.ef-block3,
.ef-block4 {
    border-radius: 30px;
    background-color: #f6fcff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    min-height: 236px;
}

.ef-block1 {
    padding: 30px 85px 30px 50px;
    margin-bottom: 30px;
}

.ef-block2 {
    padding: 30px 45px 30px 96px;
    margin-bottom: 30px;
}

.ef-block3 {
    padding: 30px 85px 30px 50px;
}

.ef-block4 {
    padding: 30px 45px 30px 110px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    .ef-block1,
    .ef-block2,
    .ef-block3,
    .ef-block4 {
        padding: 25px 15px 20px 15px;
        margin-bottom: 30px;
        min-height: auto;
    }
}

.heading-shape {
    background: #ffffff;
    border-radius: 5px;
    display: block;
    margin: auto;
    padding: 5px 7px;
}

@media only screen and (min-width: 768px) {
    .text-sm-right {
        text-align: right;
    }
    .heading-shape {
        background: url(../images/heading-shape.png);
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 11px 35px;
    }
}


/* MaxFunnel Section */

.endless-section {
    background: #ffffff url(../images/bgm.png) no-repeat top center;
    background-size: cover;
    padding: 30px 0px;
}

.shp1 {
    background: #ffffff url(../images/shp1.png) no-repeat top center;
    background-size: cover;
    padding: 20px 0px 52px 0px;
}

.shp2 {
    background: #ffffff url(../images/shp2.png) no-repeat top center;
    background-size: cover;
    padding: 20px 62px 62px 0px;
}

.shp3 {
    background: #ffffff url(../images/shp3.png) no-repeat top center;
    background-size: cover;
    padding: 20px 0px 62px 70px;
}

.shp4 {
    background: #ffffff url(../images/shp4.png) no-repeat top center;
    background-size: cover;
    padding: 20px 0px 62px 0px;
}

.shp5 {
    background: #ffffff url(../images/shp5.png) no-repeat top center;
    background-size: cover;
    padding: 20px 0px 62px 70px;
}

.dots-icon {
    position: absolute;
    left: -20px !important;
    top: -15px !important;
}


/*aman css start*/

.wrapper-am {
    background: #ffffff url(../images/ambg.png) no-repeat top center;
    background-size: cover;
    padding: 20px 0px 40px 0;
}

.section-bg-am {
    background: #ffe8cc;
    padding: 20px 10px;
}

.list-am {
    list-style: none;
}

.list-am li {
    background: url(../images/list-bullet-am.png) no-repeat;
    background-position: left top;
    padding-left: 40px;
    min-height: 40px;
    line-height: 1.4;
    margin-bottom: 20px;
}


/*aman css end*/

@media (min-width: 768px) {
    .section-bg-am {
        background: url(../images/section-bg-am.png) no-repeat;
        background-size: contain;
        height: 684px;
        width: 999px;
    }
}

@media (max-width: 767px) {
    .list-am {
        padding: 0;
    }
    .shp1 {
        background: #2a36ae;
        padding: 20px 10px 15px 10px;
        border-radius: 5px;
    }
    .shp2 {
        background: #ff8d4f;
        padding: 20px 10px 15px 10px;
        border-radius: 5px;
    }
    .shp3 {
        background: #c452c0;
        padding: 20px 10px 15px 10px;
        border-radius: 5px;
    }
    .shp4 {
        background: #278bd2;
        padding: 20px 10px 15px 10px;
        border-radius: 5px;
    }
    .shp5 {
        background: #2aae58;
        padding: 20px 10px 15px 10px;
        border-radius: 5px;
    }
}


/* Testimonial CSS */

.testimonial-section {
    background: #e9ebf1;
    padding: 30px 0px;
}

.testimonial-section2 {
    background: #e7e9ef;
    padding: 30px 0px;
}

.testimonial-section1 {
    background: #fff9f2;
    padding: 30px 0px;
}

.testi-block {
    position: relative;
    background: #ffffff;
    padding: 5%;
    box-shadow: 4.663px 3.776px 36.4px 3.6px rgba(31, 105, 189, 0.09);
    border-radius: 20px;
}

.testi-block:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-top-color: #ffffff;
    border-bottom: 0;
    border-right: 0;
    margin-left: -14.5px;
    margin-bottom: -29px;
}

.testi-block2 {
    position: relative;
    background: #ffffff;
    padding: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.testi-block1 {
    position: relative;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 15%);
}


/* .testi-block1:after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 33px solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-left: 0;
	margin-left: -14.5px;
	margin-bottom: -29px;
} */

.testi-img {
    width: 132px;
    min-width: 132px;
    height: 132px;
    min-height: 132px;
    border-radius: 50%;
}

.testi-video {
    box-shadow: 4.663px 3.776px 36.4px 3.6px rgba(31, 105, 189, 0.09);
    border-radius: 20px;
    overflow: hidden;
}

.testi-video1 {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

@media (min-width:476px) {
    .test-margin {
        margin-top: -70px;
    }
    .test-margin1 {
        margin-top: -50px;
    }
}

.blue-txt {
    color: #410cac;
}

.grey-txt {
    color: #373636;
}

.clear {
    clear: both;
}

@media(min-width:481px) {
    .t1 {
        position: relative;
    }
    .t1::before {
        position: absolute;
        left: -25px;
        top: -25px;
        z-index: 8;
        content: "";
        height: 222px;
        width: 208px;
        background: url(../images/t-1.png) no-repeat;
    }
    .t2 {
        position: relative;
    }
    .t2::before {
        position: absolute;
        right: -25px;
        top: -25px;
        z-index: 8;
        content: "";
        height: 222px;
        width: 208px;
        background: url(../images/t-1.png) no-repeat;
    }
}

@media(max-width: 767px) {
    .xsmbtext {
        text-align: center;
    }
}


/* Dotcompal Lead Section */

.dcp-leadsection {
    padding: 5% 0;
}

@media (min-width: 768px) {
    .dcp-leadsection {
        padding: 60px 0px 90px 0px;
        background: #fff url(../images/dcp-leadsection.png) no-repeat center bottom;
        background-size: 100% auto;
    }
}


/* Funnel Testimonial Box */

.funnel-blue-box {
    border-radius: 30px;
    background: #e9f8ff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-yellow-box {
    border-radius: 30px;
    background: #fff9e9;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-lime-box {
    border-radius: 30px;
    background: #efffe9;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-pink-box {
    border-radius: 30px;
    background: #f7e9ff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-yellow-box {
    border-radius: 30px;
    background: #fff6e9;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-l-blue-box {
    border-radius: 30px;
    background: #e9eeff;
    box-shadow: -5px 8.66px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.funnel-image-right {
    position: absolute;
    right: 0px;
    top: -65px;
}

.absolute-funnel-image {
    position: absolute;
    left: 10px;
    top: -30px;
}

.mh-150px {
    max-height: 150px;
}

.orange-shape {
    position: absolute;
    top: -7px;
    left: 13px;
}

.problem-bg-section {
    background: #ffbcbc;
    padding: 30px 0px;
}

.problem-bg-section1 {
    background: #fff1f1;
    padding: 30px 0px;
}

.problem-bg-section2 {
    background: #ffbdbd;
    padding: 30px 0px;
}

.problme-shape {
    border-radius: 20px;
    background-color: rgb(236, 56, 69);
    width: 100%;
    float: left;
    padding: 15px;
}

.problme-area-shape,
.problme-area-shape1 {
    width: 100%;
    float: left;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    margin-top: -20px;
}

.problme-area-shape2 {
    width: 100%;
    float: left;
    padding: 30px;
    border-radius: 20px;
    background-color: #ff3333;
    outline: solid 20px #ffbdbd;
}

.problme-shape1 {
    border-radius: 20px;
    background-color: #ffffff;
    width: 100%;
    float: left;
    padding: 15px;
}

.black-design4 {
    padding: 40px;
    background: url(../images/bonus-shape.png) no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

.shape-testi5 {
    background-color: #ec3845;
    border-radius: 65px;
    padding: 8px 15px 8px 15px;
    display: inline-block;
    margin-top: 0px;
    position: relative;
    color: #ffffff;
    top: -56px;
}

.noneed-listing3 li {
    list-style: none;
    background: url(../images/cross.png) no-repeat;
    background-position: 0 1px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.yellow-clr,
a.yellow-clr {
    color: #f4f70c;
    text-decoration: none;
}

.noneed-listing5 li {
    list-style: none;
    background: url(../images/cross-yellow.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.noneed-listing4 li {
    list-style: none;
    background: url(../images/emoji.png) no-repeat;
    background-position: 0 0px;
    padding: 0 0 25px 50px;
    min-height: 42px;
}

@media(min-width: 768px) {
    .sep-line {
        border-left: solid 1px #ffffff;
    }
    .problme-area-shape {
        width: calc(100% + 40px);
        float: left;
        padding: 30px 30px 30px 70px;
        margin-left: -40px;
        z-index: 0;
        margin-top: 0px;
    }
    .problme-area-shape1 {
        width: calc(100% + 40px);
        float: left;
        padding: 30px 70px 30px 30px;
        margin-right: -40px;
        z-index: 0;
        margin-top: 0px;
    }
    .funnel-image-right {
        top: -85px;
    }
    .problme-shape1 {
        padding: 30px;
    }
    .problme-shape {
        padding: 30px;
    }
    .shape-testi5 {
        padding: 8px 30px 8px 30px;
    }
    .funnel-blue-box,
    .funnel-yellow-box,
    .funnel-lime-box,
    .funnel-l-blue-box,
    .funnel-yellow-box,
    .funnel-pink-box,
    .funnel-l-blue-box {
        padding: 40px 38px;
    }
    .absolute-funnel-image {
        top: -52px;
    }
    .mh-150px {
        max-height: 100%;
    }
    .mt-sm-150 {
        margin-top: 150px;
    }
    .mt-sm125 {
        margin-top: 125px;
    }
}


/* XS Margin Auto CSS */

@media (max-width: 767px) {
    .mx-xs-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .text-xs-center {
        text-align: center;
    }
}


/* Amit Pareek Section css*/

.bgm2-section {
    background: #ffffff url(../images/hi-there-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .bgm2-section {
        padding: 70px 0px 100px 0px;
    }
}

.solution-circle {
    background: #ffffff url(../images/bgs.png) no-repeat top center;
    background-size: contain;
    padding: 115px 80px 140px 80px;
}

@media (max-width: 767px) {
    .solution-circle {
        background: #ffe8cc;
        padding: 15px;
        border-radius: 5px;
    }
}


/* Build Sales Funnels Section css */

.build-salesfunnel {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .build-salesfunnel {
        background: #fff url(../images/build-salesfunnel.png) no-repeat;
        background-size: cover;
        padding: 70px 0px 0px;
        background-position: top center;
    }
    .margin-top140 {
        margin-top: 140px;
    }
}


/* MaxFunnels Is EVERYTHING Section css*/

.propert {
    background: url(../images/pros-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 4% 0 6%;
}

@media(max-width: 767px) {
    .propert {
        background: #eaf2f6;
        padding: 30px 0px;
    }
    .height172 {
        height: 172px;
        width: 172px;
    }
    .step-back {
        width: 100%;
    }
}

.shapee1 {
    background: url(../images/shapee-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 30px;
}

.shapee2 {
    background: url(../images/shapee-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 30px;
}

.shapee3 {
    background: url(../images/shapee-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 40px;
}

.shapee4 {
    background: url(../images/shapee-4.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 30px;
}

.shapee5 {
    background: url(../images/shapee-5.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 30px;
}

.shapee6 {
    background: url(../images/shapee-6.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 30px
}


/* Less Than Css */

.section-am {
    padding: 25px 0;
}

.purple-bg-am {
    background-color: #410cac;
    padding: 10px 5px;
    border-radius: 5px;
}


/* Header CSS */

.main-header-section {
    background: #0b3291;
    padding: 25px 0px;
    border-bottom: 1px solid #527ada;
}

.header-bordered-list li {
    list-style: none;
}

.header-bordered-list li:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.text-background,
.opens-background,
.income-background {
    background: #40119e;
    border-radius: 5px;
    padding: 10px;
}

.elearning-section {
    background: #fff6eb;
    padding: 30px 0px;
}

.ecom-section {
    background: #ffffff;
    padding: 30px 0px;
}

.lead-gen {
    background: #fff6eb url(../images/l-1.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
}

.next-gen-sec {
    background: url(../images/next-gen-bg.png) center center;
    padding: 30px 0px;
    position: relative;
}

.prdly-pres {
    background: url(../images/intro-shape.png) no-repeat top center;
    padding: 19px 65px 27px 65px;
    background-size: contain;
    margin-top: -43px;
}

.lead-gen1 {
    background: #fff6eb;
    padding: 30px 0;
}

.endstory {
    background: #fff6eb;
    padding: 30px 0px;
}

.amazing-software-section {
    background: #531ac6;
    background-size: cover;
    padding: 30px 0;
}

.amazing-software-section1 {
    background: #ffffff url(../images/amazing-bg1.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.never-ending {
    box-shadow: 0px 0px 17.28px 0.72px rgba(0, 0, 0, 0.07);
    background: #ffffff;
    border-radius: 10px;
    padding: 15px 5px;
}

.hr-shape {
    background-color: #f1f2ff;
    width: 100%;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.no-installation {
    background: #ffffff;
    padding: 30px 0px;
    border-top: solid 5px #4714ad;
    border-bottom: solid 5px #4714ad;
}

.big-question-bg {
    background: #f3f6ff;
    padding: 30px 0px;
}

.bigquestion-shape {
    padding: 15px;
    background: #ffffff;
    border-radius: 5px;
}

ul.bigquestion {
    margin: 0px;
    padding: 0px;
}

.bigquestion li {
    list-style: none;
    background: url(../images/arrow.png) no-repeat;
    background-position: 0 8px;
    padding: 0 0px 20px 40px;
}

.bigquestion li:last-child {
    padding-bottom: 0px;
}

.problem-shape {
    background: #f05252;
    border-radius: 5px;
    padding: 10px;
}

.intro-shape {
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.enjoying-background {
    padding: 10px 15px;
    background: #ffe8cc;
    border: 1px solid #000000;
    border-radius: 100px;
}

.tookyears-section {
    background: #fff6eb;
    padding: 30px 0px;
}

.wearenot-alone-section {
    background: #ffffff;
    padding: 0px 0px 30px 0px;
}

.alone-bg {
    background-color: #e9ebf1;
    box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.moral-of-the-shape,
.do-funnels-shape {
    padding: 10px 15px;
    background: #ffe8cc;
    border: 1px solid #000000;
    border-radius: 100px;
}

.thats-not-all-shape {
    padding: 10px 15px;
    background: #ffe8cc;
    border: 1px solid #000000;
    border-radius: 100px;
}

.one-time-shape {
    padding: 10px;
    background: #410cac;
    border-radius: 5px;
}

.thats-not-all-section {
    background: #ffffff url(../images/thats-not-all-section.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.years-by-section {
    background: #e9ebf1;
    padding: 30px 0px;
}

.successful-business-section {
    background: #410cac;
    padding: 30px 0px;
}

.moral-of-the-section {
    background: #ffffff;
    padding: 30px 0px;
}

.small-as-well-section {
    background: #ffffff url(../images/opportunity-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.build-section {
    background: #fff6eb;
    padding: 30px 0px;
}

.consultants-section {
    background: #ffffff;
    padding: 30px 0px;
}

.maxfunnel-section {
    background: #ffffff;
    padding: 30px 0px;
}

.problem-section {
    background: #ffecec;
    padding: 30px 0px;
}

.business-background {
    background: #fff9f2;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 15px;
}

.huge-opportunity-shape {
    background: #eaebeb;
    border: 2px solid #dfdfdf;
    border-radius: 15px;
    padding: 15px 12px;
}

.listen-shape {
    background: url(../images/listen-shape.png) no-repeat center center;
    background-size: contain;
    padding: 90px 20px 65px;
}

.websites-section {
    background: #ffffff url(../images/websites-section.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.enjoy-section {
    background: #e9ebf1;
    padding: 30px 0px;
}

.alone-bg {
    position: relative;
}

.template-bg-section {
    background: #ffffff url(../images/template-bg.png) no-repeat center center;
    background-size: cover;
    height: 235px;
}

.choose-sec {
    border: 1px dashed #ccceec;
    background-color: #f1f2ff;
    padding: 15px;
    border-radius: 10px;
}


/* .img-minus {
    margin-top: -80px;
} */

.proble-box-bg {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    position: relative;
}

.v-hr-shape {
    background-color: #dcd1f2;
    width: 100%;
    height: 1px;
}

.green-image-top {
    position: absolute;
    top: -30px;
    left: -30px;
}

.cp-shape {
    border-radius: 10px;
    background: #e9ebf1;
    padding: 20px 15px;
}

.feature-points,
.blue-feature-point {
    padding: 8px 12px;
    margin-bottom: 30px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.feature-points {
    background: #ffffff;
}

.blue-feature-point {
    background: #410cac;
}

.feature-points:last-of-type,
.blue-feature-point:last-of-type {
    margin-bottom: 0px;
}

.step-listing li {
    list-style: none;
    background: url(../images/red-tick.png) no-repeat;
    background-position: 0 6px;
    padding: 0 0 15px 45px;
    min-height: 42px;
}

.step-listing li:last-child {
    padding-bottom: 0px;
}

.hurry-img {
    margin-top: -15px;
    width: 20%;
}

.feature-bg {
    background-color: #b1b1b8;
    padding: 0 0 30px 0;
}

.p-feature {
    border-radius: 10px;
    background-color: rgb(0, 22, 95);
    box-shadow: 0px 10px 16.8px 7.2px rgba(32, 32, 32, 0.1);
    overflow: hidden;
}

.next-gen-sec:before {
    background: url(../images/next-gen-bg-shape.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 0;
    content: '';
    min-height: 100px;
    top: 14%;
}

@media (min-width: 768px) {
    .hurry-img {
        margin-top: -15px;
        width: inherit;
    }
    .prdly-pres {
        margin-top: -21px;
        padding: 35px;
    }
    .img-bot {
        align-self: end;
        margin-bottom: -32px;
        margin-left: -8px;
    }
    .img-bot2 {
        align-self: end;
        margin-bottom: -22px;
        margin-left: -8px;
    }
    .step-listing li {
        padding: 0 0 24px 45px;
    }
    .proble-box-bg {
        padding: 20px 20px 20px 30px;
    }
    .game-changer {
        padding: 13px 43px;
        transform: skew(20deg);
        max-width: 340px;
    }
    .text-roated {
        transform: skew(-20deg);
    }
    .mx-sm-right {
        display: block;
        margin-left: auto;
        margin-right: 0px;
    }
    .business-background {
        padding: 0px;
        height: 180px;
        border-radius: 180px;
    }
    .alone-bg {
        padding: 25px 30px 25px 10px;
    }
    .alone-bg:after {
        content: "";
        position: absolute;
        width: 87px;
        height: 49px;
        background-image: url(../images/arrow-down.png);
        left: 44%;
        bottom: -49px;
    }
    .dollars-sm-image {
        width: 211px;
        min-width: 211px;
        height: 163px;
        margin-left: -120px;
        top: 0px;
        left: 0px;
    }
    .small-as-well-section {
        padding: 100px 0px;
    }
    .maxfunnel-section {
        padding: 90px 0px;
    }
    .moral-of-the-section {
        padding: 90px 0px;
    }
    .build-section {
        background: #ffffff url(../images/build-section.png) no-repeat center center;
        background-size: cover;
        padding: 90px 0px;
    }
    .problem-section {
        background: #ffffff url(../images/problem-section.png) no-repeat bottom center;
        background-size: cover;
        padding: 50px 0px 120px 0px;
    }
    .consultants-section {
        padding: 90px 0px;
    }
    .years-by-section {
        background: #ffffff url(../images/years-by-section.png) no-repeat center center;
        background-size: cover;
        padding: 90px 0px 100px 0px;
    }
    .successful-business-section {
        background: #ffffff url(../images/successful-business-section.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .wearenot-alone-section {
        background: #ffffff url(../images/wearenotalone-bg.png) no-repeat center center;
        background-size: cover;
        padding: 0px 0px 100px 0px;
    }
    .thats-not-all-section {
        padding: 100px 0px 80px;
    }
    .big-question-bg {
        background: #f3f6ff url(../images/big-question-bg.png) no-repeat center center;
        background-size: cover;
        padding: 50px 0px 100px 0px;
    }
    .problem-shape {
        background: url(../images/probelm-shape.png) no-repeat center center;
        background-size: contain;
        padding: 36px 20px 26px;
        border: 0px;
        border-radius: 0px;
    }
    .intro-shape {
        background: url(../images/intro-shape.png) no-repeat center center;
        background-size: contain;
        padding: 10px;
        border: 0px;
        border-radius: 0px;
    }
    .moral-of-the-shape {
        background: url(../images/moral-of-the-shape.png) no-repeat center center;
        background-size: contain;
        border: 0px;
        border-radius: 0px;
        padding: 22px 15px 15px;
    }
    .do-funnels-shape {
        background: url(../images/do-funnels-shape.png) no-repeat center center;
        background-size: contain;
        border: 0px;
        border-radius: 0px;
        padding: 22px 15px 15px;
    }
    .thats-not-all-shape {
        background: url(../images/thats-not-all-shape.png) no-repeat center center;
        background-size: contain;
        border: 0px;
        border-radius: 0px;
        padding: 22px 15px 15px;
    }
    .one-time-shape {
        background: url(../images/one-time-shape.png) no-repeat center center;
        background-size: contain;
        border: 0px;
        border-radius: 0px;
        padding: 22px 15px 70px;
    }
    .huge-opportunity-shape {
        background: url(../images/huge-opportunity-shape.png) no-repeat center center;
        background-size: 100% 100%;
        border: 0px;
        border-radius: 0px;
        padding: 45px 40px 50px;
    }
    .bigquestion-shape {
        background: url(../images/bigquestion-shape.png) no-repeat center center;
        background-size: 100% 100%;
        border-radius: 0px;
        padding: 80px 40px 220px 280px;
    }
    .big-question-shape {
        background: url(../images/big-question-shape.png) no-repeat center center;
        background-size: contain;
        border: 0px;
        border-radius: 0px;
        padding: 22px 15px 15px;
    }
    .enjoying-background {
        background: url(../images/enjoying-background.png) no-repeat center center;
        background-size: contain;
        border: 0px;
        border-radius: 0px;
        padding: 24px 15px;
    }
    .listen-shape {
        padding: 117px 20px 80px;
    }
    .endstory {
        padding: 90px 0px;
        background: url(../images/endstory.png) no-repeat center center;
        background-size: cover;
    }
    .lead-gen1 {
        background: #ffffff url(../images/l-1.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .next-gen-sec {
        background: url(../images/next-gen-bg.png) center center;
        padding: 0px 0px 100px 0px;
    }
    .next-gen-sec:before {
        top: 25%;
        min-height: 450px;
        background-size: 100% 100%;
    }
    .lead-gen {
        background: #ffffff url(../images/l-1.png) no-repeat center center;
        background-size: cover;
        padding: 120px 0px;
    }
    .ecom-section {
        padding: 60px 0px 100px 0px;
    }
    .elearning-section {
        background: #ffffff url(../images/elearning-section.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px 130px;
    }
    .mt-sm160 {
        margin-top: 160px;
    }
    .text-background {
        background: url(../images/text-background.png) no-repeat center center;
        background-size: contain;
        padding: 28px 20px 20px;
        border: 0px;
        border-radius: 0px;
    }
    .opens-background {
        background: url(../images/opens-background.png) no-repeat center center;
        background-size: contain;
        padding: 36px 20px 26px;
        border: 0px;
        border-radius: 0px;
    }
    .income-background {
        background: url(../images/income-background.png) no-repeat center center;
        background-size: contain;
        padding: 36px 20px 26px;
        border: 0px;
        border-radius: 0px;
    }
    .video-after-image {
        padding: 45px 0px 25px;
        background: url(../images/video-after-image.png) no-repeat center center;
        background-size: 100% 100%;
        display: block;
        width: auto;
        height: auto;
    }
    .feature-bg {
        background: #dee0e4 url(../images/feature-sec-bg.png);
        background-position: center;
        background-repeat: repeat;
        padding: 0px 0px 100px;
    }
    .main-header-section {
        background: #0b3291;
        padding: 35px 0px 20px;
    }
    .affiliate-link-btn a {
        padding: 15px 25px;
        font-size: 22px;
    }
    .ml-sm160 {
        margin-left: 160px;
    }
    .section-am {
        padding: 25px 0 70px 0px;
    }
    .purple-bg-am {
        background: url(../images/banner-bg-am.png) no-repeat;
        background-position: top center;
        background-size: contain;
        padding: 100px 0;
        width: 979px;
        height: 631px;
    }
    .testimonial-section {
        background: #ffffff url(../images/testimonial-section.png) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px 150px 0px;
    }
    .testimonial-section2 {
        background: #e7e9ef url(../images/testimonial-section-bg2.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .testimonial-section1 {
        background: #fff9f2 url(../images/testimonial-section1.png) no-repeat center center;
        background-size: cover;
        padding: 90px 0px 100px;
    }
    .testi-block1 {
        padding: 25px 30px;
    }
    .amazing-software-section {
        background: #ffffff url(../images/amazing-bg.png) no-repeat center bottom;
        background-size: cover;
        padding: 160px 0px 100px 0px;
    }
    .amazing-software-section1 {
        padding: 90px 0px 40px 0px;
    }
    .never-ending {
        padding: 35px 25px;
        min-height: 230px;
    }
    .no-installation {
        background: #ffffff url(../images/no-installation.png) no-repeat center center;
        background-size: cover;
        padding: 140px 0px 100px 0px;
        border: none;
    }
    .mt-sm200 {
        margin-top: 200px;
    }
    .mt-sm130 {
        margin-top: 130px;
    }
    .mt-sm120 {
        margin-top: 120px;
    }
    .mt-sm135 {
        margin-top: 135px;
    }
    .mt-sm180 {
        margin-top: 180px;
    }
    .mt-sm150 {
        margin-top: 150px;
    }
    .tookyears-section {
        background: #ffffff url(../images/tookyears-bg.png) no-repeat center center;
        background-size: cover;
        padding: 80px 0px 90px;
    }
    .problem-list-styel li {
        padding: 0 0px 30px 85px;
    }
    .mt-md-140 {
        margin-top: 140px !important;
    }
    .mx-r-xs-auto {
        margin-left: auto;
        margin-right: 0px;
    }
    .text-sm-right {
        text-align: right;
    }
    .websites-section {
        padding: 100px 0px;
    }
    .enjoy-section {
        background: #e9ebf1 url(../images/enjoy-section.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .mt-sm-m20 {
        margin-top: -20px;
    }
    .px-sm75 {
        padding-left: 75px;
        padding-right: 75px;
    }
    .template-bg-section {
        background-size: cover;
        height: 1173px;
    }
    .img-minus {
        margin-top: -150px;
    }
    .choose-sec {
        padding: 50px;
    }
    .mt-sm170 {
        margin-top: 170px;
    }
    .mt-sm250 {
        margin-top: 250px;
    }
    .sep {
        position: relative;
        padding-right: 35px;
        display: inline-block;
    }
    .sep:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 35px;
        background: #84f845;
        margin-left: -2px;
        top: 3px;
        right: 0px;
        left: auto;
    }
    .pl-sm80 {
        padding-left: 80px;
    }
    .step-image-height {
        max-height: 380px;
    }
    .online-business-shape {
        padding: 30px 30px 30px 20px;
        min-height: 210px;
    }
    .online-business-shape.sm-h190 {
        min-height: 190px;
    }
    .v-hr-shape {
        background-color: #dcd1f2;
        width: 1px;
        height: 150px;
    }
    .v-hr-shape.line-sm-h120 {
        height: 120px;
    }
    .mx-width45px {
        width: 45px;
        margin-left: 15px;
    }
    .green-image-top {
        position: absolute;
        top: -56px;
        left: -59px;
    }
    /* PART 2 CSS START */
    .cp-shape {
        padding: 40px 20px;
    }
    .right-arrow-icon1 {
        position: absolute;
        margin-left: -85px;
        width: 65px;
        margin-top: 20px;
    }
    .right-arrow-icon2 {
        position: absolute;
        margin-left: -85px;
        width: 65px;
        margin-top: 300px;
    }
    .feature-points {
        padding: 8px 20px;
    }
    .problem-bg-section {
        background: #fff1f1 url(../images/problem-bg.png) no-repeat top center;
        background-size: cover;
        padding: 70px 0px 150px 0px;
    }
    .problem-bg-section1 {
        background: #ffffff url(../images/problem-bg1.png) no-repeat bottom center;
        background-size: cover;
        padding: 50px 0px 50px 0px;
    }
    .problem-bg-section2 {
        background: #fff1f1 url(../images/problem-bg2.png) no-repeat bottom center;
        background-size: cover;
        padding: 150px 0px 100px 0px;
    }
}

.testi-radius {
    border-radius: 0;
    width: 139px;
    height: 119px;
}

.hithere-section {
    background: #e9efff;
    padding: 30px 0px;
}

.e-learning-box {
    background: #e9ebf1;
    padding: 15px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .hithere-section {
        background:#e9efff url(../images/hithere-bg.png) no-repeat top center;
        padding: 100px 0px;
    }
    .e-learning-box {
        padding: 50px 50px;
        border-radius: 30px;
    }
}

.prop {
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #000994;
    box-shadow: 0px 5px 13.44px 0.56px rgb(0 0 0 / 25%);
}

@media (min-width: 768px) {
    .prop {
        padding: 18px 15px;
    }
}


/*******business bew*******/

.business-new-section {
    padding: 30px 0;
    background: #ff7600;
}

.this-open-section {
    padding: 0px 0px 30px 0;
    background: #ffffff;
}

.this-new-s {
    background: #001965;
    color: #ffffff;
    padding: 15px;
}

.built-section {
    background-color: #ffffff;
    padding: 30px 0;
}

.cta-section-new {
    background-color: #00175f;
    padding: 30px 0;
}

.over-section {
    background-color: #03267e;
    padding: 30px 0;
}

.over-shape {
    background: url(../images/over-shape.png) no-repeat center center;
    display: inline-block;
    padding: 0px 20px;
    background-size: 100% 100%;
}

.research-section {
    background: url(../images/next-gen-bg.png) center center;
    padding: 30px 0px;
}

.back-blue {
    background-color: rgb(0, 25, 101);
}

.final-section {
    padding: 30px 0;
    background: #00175f;
}

.red-shape2 {
    background: #f68a1e;
    padding: 5px 30px;
    border-radius: 50px;
    display: inline-block;
}

@media (min-width: 768px) {
    .built-section {
        padding: 100px 0;
    }
    .red-shape2 {
        padding: 10px 40px;
        border-radius: 50px;
    }
    .research-section {
        padding: 100px 0;
    }
    .final-section {
        background: #00175f url(../images/cta-bg-new.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
    .cta-section-new {
        background: #00175f url(../images/cta-bg-new.png) no-repeat center center;
        padding: 100px 0;
        background-size: 100% 100%;
    }
    .over-section {
        background: #03267e url(../images/over-sec-bg.png) no-repeat center center;
        padding: 100px 0;
        background-size: 100% 100%;
    }
    .business-new-section {
        padding: 100px 0;
        background: #ff7600 url(../images/busi-new.png) center center no-repeat;
		background-size: 100% 100%;
    }
    .this-open-section {
        padding: 0px 0 100px 0;
        background: #ffffff url(../images/this-new.png) center center no-repeat;
    }
    .this-new-s {
        background: url(../images/this-new-shape.png) center center no-repeat;
        padding: 39px 64px 64px 64px;
        color: white;
        margin-top: -20px;
    }
    .f-md-54 {
        font-size: 54px !important;
    }
    .over-shape {
        padding: 16px 60px;
        background-size: 100%;
    }
}


/*******business bew*******/

.animate-charcter {
    background-image: linear-gradient( -225deg, #001963 0%, #ff0505 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;


}

@keyframes textclip {
    from {
        background-position: 200% center;
    }
}

.animate-charcter2 {
    background-image: linear-gradient( -225deg, #ffffff 0%, #ff0505 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
  
}

@keyframes textclip {
    from {
        background-position: 200% center;
    }
}


/* background-image: linear-gradient( -225deg, #001963 0%, #092e9c 29%, #fd8b25 67%, #ff0505 100%); */