html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #252525;
}

.orange-clr {
	color: #F2A736;
}

.orange-clr1{
	color: #E76D24;
}

/* Header Section CSS */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px;
	background-attachment: fixed;
	animation: shrink 5s infinite alternate;
	position: relative;
}
@keyframes shrink {
	0% {
	  background-size: 110% 110%;
	}
	100% {
	  background-size: 100% 100%;
	}
}

.ele1{
	position: absolute;
	bottom: -75px;
    left: -20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}	

.ele2{
	position: absolute;
	top: 400px;
    right: 20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}

@-webkit-keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}
@keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}  

.preheadline {
	display: inline-block;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: solid 2px rgba(255, 255, 255, 0.25);
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

@media(min-width:768px) {
	.header-section {
		padding: 40px 0px 100px 0px;
	}

}

.probtn1 a {
	transition: all .3s ease;
	border-radius: 15px;
	background: #F2A737;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	width: 100%;
	font-size: 24px;
	line-height: 140%;
}

.probtn1 a:hover {
	transition: all .3s ease;
    background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}

@media (min-width:768px) {
	.probtn1 a {
		font-size: 38px;
		padding: 28px 60px;
		display: inline-block;
		width: auto;
		border-radius: 100px;
	}
}

.second-section {
	padding: 30px 0px;
	background: #ffffff;
}

.feature-list {
	padding: 15px;
	margin-top: 30px;
	list-style-type: none;
	min-height: 100px;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 15px;
	background: #FFEED6;
	border: 3px solid #FFFFFF;
	box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
}

@media(min-width:768px) {
	.second-section {
		padding: 100px 0px;
		background: url(../images/list-section-bg.webp) no-repeat center center;
		background-size: cover;
	}
}

.white-section {
	background: #fff;
	padding: 30px 0;
}

.grey-section {
	background: #f1f1f1;
	padding: 30px 0;
}

.features-title {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	gap: 15px;
}

.features-title .size {
	max-height: 100px;
}

@media (min-width: 768px) {
	.white-section,
	.grey-section {
		padding: 100px 0px;
	}
}

.moneyback-section {
    padding: 30px 0;
    background: #252525 url(../images/prize-value.webp) no-repeat center center;
    background-size: cover;
    backdrop-filter: blur(5px);
}

@media (min-width: 768px) {
	.moneyback-section {
        padding: 100px 0;
	}
}

.bonus-section {
	background: #f1f1f1;
	background-size: cover;
	padding: 30px 0;
}

@media (min-width: 768px) {
	.bonus-section {
		background: url(../images/bonus-bg.webp) no-repeat center bottom;
		background-size: cover;
		padding: 70px 0px 100px 0px;
	}
}

/*Table CSS Start*/
.table-section {
	background: #ffffff;
	padding: 30px 0;
}

.tablebox2 ul {
	padding-left: 0;
	color: #010101;
}

.tablebox2 {
	background: #ffffff;
	width: 100%;
	float: left;
	border-radius: 10px;
	box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.tablebox3 ul {
	padding-left: 0;
	color: #010101;
}

.tablebox3 {
	width: 100%;
	float: left;
	border-radius: 10px;
	box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
	position: relative;
}

ul.vgreytick {
	padding: 0px;
	margin: 0;
}

ul.vgreytick li {
	background: url(../images/table-tick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position:10px 19px;
	line-height: 150%;
	text-transform: capitalize;
}

ul.vgreytick li:nth-child(odd) {
	background-color: #f1f1f1;
}

ul.vgreytick li:nth-child(even) {
	background-color: #ffffff;
}

ul.vgreytick li:last-child {
	border-bottom: 0px;
}

ul.grey-tick-last {
	padding: 0px;
	margin: 0;
}

ul.grey-tick-last li {
	background: url(../images/table-tick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	color: #000;
	background-position:10px 19px;
	line-height: 150%;
	text-transform: capitalize;
}

ul.grey-tick-last li:nth-child(odd) {
	background-color: #f1f1f1;
}

ul.grey-tick-last li:nth-child(even) {
	background-color: #fff;
}

ul.grey-tick-last li:last-child {
	border-bottom: 0px;
}

.tbbg2 {
	background-color: #fff;
	padding: 50px 30px 50px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}

.tbbg3 {
	background:#252525;
	padding:50px 30px 50px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}

.myfeatureslast {
	float: left;
	padding: 0px 30px 30px;
	width: 100%;
	min-height: 69px;
	background: #ffffff;
	border-radius: 0px 0px 10px 10px;
}

.myfeatureslast-com {
	float: left;
	padding: 30px;
	width: 100%;
	border-radius: 0px 0px 10px 10px;
	min-height: 69px;
	background: #ffffff;
}

@media (min-width: 768px) {
	.table-section {
		padding: 70px 0 100px 0px;
		background: url(../images/table-bg.webp) no-repeat center center;
		background-size: cover;
		background-attachment: fixed;
	}

	.tbbg3 {
		padding: 50px 30px 50px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}

	.tbbg2 {
		padding: 50px 30px 50px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}

	ul.vgreytick li {
		padding: 20px 15px 20px 65px;
		background-position:20px 22px;
	}

	ul.grey-tick-last li {
		padding: 20px 15px 20px 65px;
		background-position:20px 22px;
	}

	.myfeatureslast {
		padding: 0px 20px 30px;
	}
}

/*Table CSS Enad*/

.footer-section {
	background: #252525;
	padding: 30px 0;
}

.footer-ul {
	padding: 0
}

.footer-ul li {
	display: inline;
	line-height: 130%;
}

.footer-ul li:hover a {
	color: #fff;
}

@media(min-width:768px) {
	.footer-section {
		padding: 50px 0px;
	}

	.footer-ul li {
		line-height: normal;
	}

}

a.nothank {
	color: #2447a2;
	text-decoration: none;
}

/* Presenting Section Start */
.presenting-sec{
	padding: 30px 0px;
	background: url(../images/introducing.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.presenting-wrap {
	padding: 0px 0px 15px 0px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	border-radius: 50px;
	border: solid 2px rgba(255, 255, 255, 0.25);
	max-width: 95%;
	margin: 20px auto 0px auto;
}
.presenting-head{
	background: url(../images/introducing-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 55px 70px 55px;
    display: inline-block;
	margin-top: -10px;
}
.ele3{
	position: absolute;
	top: 35%;
    right: 10%;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}
@media(min-width:768px){
	.presenting-sec{padding: 100px 0px;}
	.presenting-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}
	.presenting-head{
		padding: 20px 140px 140px 140px;
		margin-top: -20px;
	}

}
@media(min-width:1600px) {
	.presenting-wrap {
		max-width: 85%;
	}
}

/* Presenting Section End */

.feature-shape {
    background-image: -moz-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    background-image: -webkit-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    background-image: -ms-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}
@media(min-width:768px){
	.feature-shape:after {
        content: '';
        background: url(../images/line-shape.webp) no-repeat right bottom;
        padding: 22px 0;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -15px;
        right: -15px;
    }
}