html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #00081d;
    font-size: 14px;
    overflow-x: hidden;
}


/* Color CSS */

.white-clr {
    color: #fff;
}

.black-clr {
    color: #00081d !important;
}

.yellow-clr {
    color: #ffe400;
}

.blue-clr {
    color: #0e2672;
}

.header-section {
    background: #001244 url(https://cdn.oppyo.com/launches/vocalic/agency/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0
}

.preheadline {
    background: #ffe400;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
}

.post-heading {
    border-top: 1px solid #3a55a5;
    border-bottom: 1px solid #3a55a5;
    padding: 20px 0;
    display: inline-flex;
}

.per-shape {
    background: url(https://cdn.oppyo.com/launches/vocalic/agency/presenting-shape.webp) center center no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 20px 55px 34px 55px;
}

.fifth-section {
    background: #fff url(https://cdn.oppyo.com/launches/vocalic/agency/proudlybg.webp) no-repeat top center;
    background-size: cover;
    padding: 50px 0 30px 0px;
}

.limitless-section {
    background: #fff;
    padding: 2% 0 3%
}

.feature-tick li {
    background: url(https://cdn.oppyo.com/launches/vocalic/agency/tick-icon.webp) no-repeat;
    padding: 20px 0 0 42px;
    background-position: 1px 27px;
    list-style: none
}

.content-mbl-space {
    background: #fff;
    padding: 30px 0
}

.unfair-section {
    background: #fff9f2;
    padding: 30px 0 30px 0
}

.pre-heading {
    background: #ffffff;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 65px;
    text-align: center;
}

.bonus-wrapper {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: relative;
}

.feature-shape {
    background-color: #00aced;
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}

.feature-shape:after {
    content: '';
    background: url(https://cdn.oppyo.com/launches/vocalic/agency/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media(min-width:768px) {
    .pre-heading {
        padding: 10px 30px;
    }
    .unfair-section {
        background: #ffe8cc url(https://cdn.oppyo.com/launches/vocalic/agency/uabg.webp);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        padding: 100px 0 100px 0
    }
    .header-section {
        padding: 40px 0 100px;
        position: relative;
    }
    .fifth-section {
        padding: 100px 0
    }
    .bonus-wrapper img {
        position: absolute;
        top: -46px;
    }
    .bonus-wrapper {
        padding: 50px 30px 30px;
        position: relative;
    }
}

@media (min-width: 1600px) {
    .header-left-element {
        position: absolute;
        left: -20px;
        bottom: -52px;
        display: block !important;
    }
    .header-right-element {
        position: absolute;
        bottom: -75px;
        right: 20px;
        display: block !important;
    }
}

.logo-height {
    max-height: 45px
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0 5px;
    font-weight: 200
}

.highlihgt-heading {
    padding: 25px 50px 30px 150px;
    background: url('https://cdn.oppyo.com/launches/vocalic/agency/heading-bg.webp') no-repeat center center;
    box-shadow: none;
    background-size: 100% 100%
}

.date-section-bg {
    background: url(https://cdn.oppyo.com/launches/vocalic/agency/date-bg-image.webp) no-repeat center center;
    background-size: contain
}

.formbg {
    padding: 20px
}

@media(min-width:768px) {
    .formbg {
        padding: 50px
    }
}

.formbg {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 9px 0 rgba(113, 113, 113, 0.17)
}

.form-control.input-field {
    border-width: 1px;
    border-color: #a4a4a4;
    border-style: solid;
    border-radius: 5px;
    background-color: #fff;
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none !important;
    color: #000;
    padding: 6px 12px
}

::-webkit-input-placeholder {
    color: #797979 !important
}

::-moz-placeholder {
    color: #797979 !important
}

:-ms-input-placeholder {
    color: #797979 !important
}

:-moz-placeholder {
    color: #797979 !important
}

.pre-box {
    border-radius: 10px;
    padding: 5%
}

.af-box {
    padding: 8% 3%
}

.pl-shape,
.l-shape,
.af-shape,
.af-dots {
    display: none
}

@media(min-width:768px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0
    }
    .form-control.input-field {
        height: 58px
    }
    .pre-box {
        border-radius: 50px;
        padding: 3% 0
    }
    .af-box {
        padding: 5%
    }
    .pfbox {
        height: 185px
    }
    .pl-shape,
    .l-shape,
    .af-shape,
    .af-dots {
        display: block;
        position: relative;
        z-index: 1
    }
    .pl-shape img {
        position: absolute;
        top: -18px;
        right: 18px;
        z-index: 1
    }
    .l-shape img {
        position: absolute;
        bottom: -65px;
        left: 25px;
        z-index: 1
    }
    .af-shape img {
        position: absolute;
        bottom: -44px;
        right: 35px;
        z-index: 1;
        height: 160px
    }
    .af-dots img {
        position: absolute;
        top: -10px;
        left: 60px;
        z-index: 1
    }
}

.form-shape {
    position: relative;
    z-index: 1
}

.form-shape img {
    position: absolute;
    top: -40px;
    left: -41px;
    z-index: -1
}

.relative {
    position: relative
}

.third-section {
    background: #fff6eb;
    padding: 30px 0
}

.pre-box {
    background-color: #fbfbfb;
    box-shadow: 0 0 9px 0 rgba(113, 113, 113, 0.17)
}

.pl-tick li {
    background: url("https://cdn.oppyo.com/launches/vocalic/agency/pl-tick.webp") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0 0 20px 45px
}

.l-tick li {
    background: url("https://cdn.oppyo.com/launches/vocalic/agency/l-tick.webp") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0 0 20px 45px
}

.thats-not-all-section {
    background: #fff;
    background-size: cover;
    padding: 30px 0
}

.one-time-shape {
    padding: 10px;
    background: #224cb0;
    border-radius: 5px
}

@media(max-width:767px) {
    .highlihgt-heading {
        background: #fff;
        padding: 12px 20px;
        border-radius: 4px;
        display: inline-block;
        box-shadow: .927px 2.853px 4.8px .2px rgba(21, 21, 33, 0.3)
    }
    .limitless-section {
        background: #fff;
        padding: 2% 0
    }
    .content-mbl-space {
        background: #fff;
        padding: 30px 0
    }
    .plxs0 {
        padding-left: 0
    }
}

.fourth-section {
    background: #fff;
    padding: 30px 0
}

.amazing-software-section1 {
    background: #effbff;
    background-size: cover;
    padding: 30px 0
}

@media(min-width:767px) {
    .xs-max-height165 {
        max-height: 100%
    }
    .one-time-shape {
        background: url(https://cdn.oppyo.com/launches/vocalic/agency/one-time-shape.webp) no-repeat center center;
        background-size: contain;
        border: 0;
        border-radius: 0;
        padding: 22px 15px 70px
    }
    .thats-not-all-section {
        padding: 100px 0 100px;
        background: url(https://cdn.oppyo.com/launches/vocalic/agency/agency-upgrade-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .mt-sm120 {
        margin-top: 120px
    }
    .fourth-section {
        padding: 40px 0 90px
    }
    .imahe-h-400 {
        height: 400px
    }
    .imahe-h-300 {
        height: 400px
    }
    .imahe-h-250 {
        height: 350px
    }
    .amazing-software-section1 {
        background: #effbff;
        padding: 100px 0
    }
}

.af-box {
    border-radius: 25px;
    background-color: #eff3f6
}

.pfbox {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 9px 0 rgba(113, 113, 113, 0.17);
    padding: 30px 20px
}

.af-btn a {
    border-radius: 30px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 10px 10px;
    font-weight: 600
}

.leader-ul li a,
.leader-ul li a:hover,
.leader-ul li a:focus {
    text-decoration: none
}

.sixth-section {
    background: #eff3f6 url("https://cdn.oppyo.com/launches/vocalic/agency/wave-dots.webp") no-repeat center center;
    background-size: cover;
    padding: 3% 0 5%
}

.seventh-section1 {
    background: #eff3f6;
    padding: 3% 0 5%
}

a.alink,
a.alink:hover,
a.alink:focus {
    text-decoration: none;
    color: #5c6ac4
}

.seventh-section {
    background: url("https://cdn.oppyo.com/launches/vocalic/agency/dot-shape.webp") no-repeat center center;
    padding: 5% 0
}

.lightcolor {
    color: #deff00
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%)
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.feature-section {
    background: #fff url(https://cdn.oppyo.com/launches/vocalic/agency/feature-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0
}

.software-section {
    background: #eff3f6 url(https://cdn.oppyo.com/launches/vocalic/agency/software-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0
}

.software-section img {
    max-height: 141px
}

.leaderboard-section {
    background: #eff3f6 url(https://cdn.oppyo.com/launches/vocalic/agency/leaderboard-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0
}

.contact-section {
    background: #fff url(https://cdn.oppyo.com/launches/vocalic/agency/contact-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0
}

.prize-section {
    background: #22103b;
    background-size: cover;
    padding: 4% 0
}

.funnel-section {
    background: #eff3f6 url(https://cdn.oppyo.com/launches/vocalic/agency/funnel-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0
}

.clear {
    clear: both
}

.white-section {
    background: #fff;
    padding: 30px 0
}

.vendor-section {
    background: #fff url(https://cdn.oppyo.com/launches/vocalic/agency/dots.webp) no-repeat right center;
    padding: 4% 0
}

.name-box {
    background: #5c6ac4;
    padding: 0 30px;
    color: #fff;
    display: inline-block;
    border-radius: 6px
}

.inline-block {
    display: inline-block
}

.inline-flex {
    display: inline-flex
}

.footer-section {
    background: #00081d;
    padding: 30px 0
}

.footer-ul {
    padding: 0;
    margin: 0
}

.footer-ul li {
    display: inline
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0
    }
}

.bottom-icon img {
    position: fixed;
    bottom: 0;
    right: 8px;
    z-index: 999
}

.vidborder {
    border: 2px solid #9a9a9a
}

a.link-text {
    color: #000;
    text-decoration: none
}

.probtn a,
.probtn1 a {
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    animation: glowing 5000ms infinite;
    border-radius: 100px;
    background-image: -moz-linear-gradient( 90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
}

.probtn a:hover,
.probtn1 a:hover {
    transform: scale(1.05);
    transition: all .3s ease;
    background-image: -moz-linear-gradient( 90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #01abec;
    }
    40% {
        box-shadow: 0 0 20px #01abec;
    }
    60% {
        box-shadow: 0 0 20px #01abec;
    }
    100% {
        box-shadow: 0 0 -10px #01abec;
    }
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101
}

.tablebox2 {
    background: #fff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #a2a1a3
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101
}

.tablebox3 {
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
    position: relative;
    border: solid 1px #0e2672;
}

ul.vgreytick {
    padding: 0
}

ul.vgreytick li {
    background: url(https://cdn.oppyo.com/launches/vocalic/agency/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #000
}

ul.vgreytick li:nth-child(odd) {
    background-color: #e9f9ff;
}

ul.vgreytick li:nth-child(even) {
    background-color: #fff
}

ul.vgreytick li:last-child {
    border-bottom: 0
}

ul.grey-tick-last {
    padding: 0
}

ul.grey-tick-last li {
    background: url(https://cdn.oppyo.com/launches/vocalic/agency/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #08041e
}

ul.grey-tick-last li:last-child {
    border-bottom: 0
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #fff
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #e9f9ff;
}

ul.vgreentick li {
    background: #fff url(https://cdn.oppyo.com/launches/vocalic/agency/vgreentick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 20px;
    line-height: 150%;
    color: #301541
}

.tbbg2-text {
    color: #1d7773
}

.tbbg2 {
    background: #fff;
    padding: 50px 30px 30px 30px;
    background-size: cover;
    border-radius: 10px 10px 0 0
}

.tbbg3 {
    background: #0e2672;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0 0
}

.bought-text {
    background: #ffeb09;
    padding: 8px 10px;
    border-radius: 10px 10px 0 0
}

@media(min-width:768px) {
    .gx-6 {
        --bs-gutter-x: 4rem
    }
    .probtn a {
        font-size: 32px;
        padding: 20px 50px;
    }
    .probtn1 a {
        font-size: 32px;
        padding: 20px 50px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }
    .mt-sm-170 {
        margin-top: 95px
    }
    .mt-sm-90 {
        margin-top: 90px
    }
    .mt-sm-50 {
        margin-top: 50px
    }
}

.buypad {
    padding: 4% 3%
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7
}

.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    color: #000;
    background: #fff;
    border-radius: 0 0 10px 10px;
    border-top: 0
}

.myfeatureslastborder {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    min-height: 69px;
    background: #fff
}

.ribbonimg {
    position: absolute;
    top: 100px;
    right: 0;
    height: 50px
}

.xs-height125 {
    height: 125px
}

.xs-height50 {
    height: 55px
}

@media(min-width:240px) {
    .ribbonimg {
        position: absolute;
        top: 0;
        right: 0;
        height: 90px
    }
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #0e2672;
}

@media(min-width:768px) {
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10
    }
    .myfeatureslast {
        padding: 30px
    }
    .f-md-70 {
        font-size: 70px
    }
}

.grey-section {
    background: #effbff;
    padding: 30px 0
}

.moneyback-section {
    background: #0e2672;
    padding: 30px 0;
    color: #fff
}

.license-section {
    background: #fae4c9 url(https://cdn.oppyo.com/launches/vocalic/agency/proudlybg.webp) no-repeat center center;
    background-size: cover;
    padding: 5% 0
}

.mt25 {
    margin-top: 25px
}

.bonus-section {
    background: #effbff url(https://cdn.oppyo.com/launches/vocalic/agency/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0
}

.table-section {
    background: #fff;
    padding: 30px 0
}

.converting-shape {
    background-color: #ffb703;
    padding: 10px 30px;
    display: inline-block;
    border: 2px dashed #020d13;
    line-height: 30px;
    border-radius: 65px
}

@media(min-width:768px) {
    .converting-shape {
        padding: 15px 40px 15px 40px;
        line-height: 100%
    }
    .table-section {
        padding: 100px 0;
		 background:url(https://cdn.oppyo.com/launches/vocalic/agency/table-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .bonus-section {
        padding: 70px 0
    }
    .moneyback-section {
        background: #0e2672 url(https://cdn.oppyo.com/launches/vocalic/agency/moneyback-bg.webp) no-repeat top center;
        background-size: cover;
        padding: 120px 0 70px 0px;
    }
    .license-section {
        background: #fae4c9 url(https://cdn.oppyo.com/launches/vocalic/agency/proudlybg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0
    }
    .mt-sm240 {
        margin-top: 240px
    }
    .mt-sm0 {
        margin-top: 0 !important
    }
}

.bonus-count {
    background: #5c6ac4;
    display: inline-block;
    padding: 10px 29px;
    border-radius: 15px
}

.grey-clr {
    color: #d6d6d6
}

.promo-icon {
    position: absolute;
    left: 15px;
    top: -20px;
    display: none
}

.promo-icon1 {
    position: absolute;
    left: 15px;
    top: -20px;
    display: block
}

.but-design {
    background: #ffcf69;
    padding: 15px 30px;
    display: inline-block;
    border: solid 5px #000;
    border-top: hidden
}

@media(min-width:768px) {
    .but-design {
        background: url(https://cdn.oppyo.com/launches/vocalic/agency/but-that-bg.webp) no-repeat;
        padding: 11px 50px 50px 51px;
        background-position: bottom center;
        background-size: 100% 100%;
        border: hidden
    }
    .promo-icon1 {
        position: absolute;
        left: 0;
        top: -20px;
        display: block
    }
    .promo-icon {
        position: absolute;
        left: 0;
        top: -23px;
        display: block
    }
    .white-section {
        padding: 100px 0;
    }
    .third-section {
        padding: 100px 0
    }
    .grey-section {
        background: #effbff;
        padding: 100px 0 100px
    }
}

@media(min-width:768px) {
    .prdly-pres {
        background: url(https://cdn.oppyo.com/launches/vocalic/agency/prdly-pres.webp) no-repeat top center !important;
        background-size: 100% 100% !important;
        padding: 41px 100px 76px 100px !important
    }
}

.prdly-pres {
    background: url(https://cdn.oppyo.com/launches/vocalic/agency/prdly-pres.webp) no-repeat top center;
    background-size: 100% 100%;
    padding: 15px 50px 30px 50px;
    display: inline-block
}

.header-list-block {
    border-radius: 0 0 20px 20px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0
}

@media(min-width:768px) {
    .header-list-block {
        padding: 40px 30px
    }
}

.second-section {
    padding: 0 0 30px 0;
    background: #fff
}

@media(min-width:768px) {
    .second-section {
        padding: 0 0 100px 0;
        background: #fff url(https://cdn.oppyo.com/launches/vocalic/agency/second-sec-bg.webp) no-repeat;
        background-position: center center
    }
}

.img-animation {
    animation: 2s ease-in-out 0 infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}