html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #000000;
    font-size: 14px;
    overflow-x: hidden;
}
.caveat {
    font-family: 'Caveat', cursive;
}
.play {
    font-family: 'Play', sans-serif;
}
a:hover {
    color: #fff;
}
/* --- Global Css Start--- */
.blue-gradient{
    --blue-gradient: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
}
.white-clr {
    color: #fff;
}
.black-clr {
    color: #000000;
}
.orange-clr {
    color: #f6841f;
}
.red-clr{
    color: #ff0506;
}
.sky-blue {
    color: #01dffb;
}

.neon-clr {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.purple-clr { color: #b052ff;}
.relative {
    position: relative;
}
.faq-section {
    padding: 30px 0px;
}
.support-link:hover{
        color: #0a58ca;
}
.img-shadow {
    box-shadow: 0px 0px 15px 0px rgb(73 76 80 / 25%);
}
.uppercase {
    text-transform: uppercase;
}
/* .preheadline {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
} */
.preheadline {
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 10px;
    border: 1px dashed rgba(255, 255, 255, 0.50);
    background: #0B122F;
    padding: 10px;
}
.instant-btn1 a {
    font-size: 20px;
}
.instant-btn1 a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
     background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    backdrop-filter: blur(10px);
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.03) 100%);
    backdrop-filter: blur(10px);
}
.close-img {
    width: 50px;
}
/* --- Global Css End--- */
/* --- Header Section Start--- */
/* @media(max-width:767px){
    .mainheadline:before {
        background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
        position: absolute;
        content: 'First-To-Market';
        padding: 5px 10px;
        left: 13px;
        z-index: 99;
        top: 1px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        position: absolute;
        border-radius: 20px 0 0 0;
    }
} */

.header-section {
    background: url(../images/header-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 50px 20px 20px 20px;
    border-radius: 0px 50px;
}
.gametext {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    /* top: -6px; */
    z-index: 99;
    line-height: 30px;
    /* left: 12px; */
    border-radius: 0px 40px;
    top: -20px;
    left: 40px;
}
.post-headline {
    border-radius: 10px;
    border: 1px solid var(--Blue-Gradient, #22D2EE);
    background: linear-gradient(90deg, rgba(34, 210, 238, 0.20) -0.02%, rgba(28, 151, 244, 0.20) 100.02%);
    padding: 9px 20px;
    display: inline-block;
}
/* .preheadline > span {
    background-color: transparent;
    text-align: justify;
    padding: 0;
    border-radius: 0;
} */
/* .mainheadline {
    display: inline-block;
    border-radius: 40px;
    background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
    padding:1px ;
    border-radius: 18px;

} */
/* .mainheadline > div {
    background-color: #150a41;
    padding: 65px 12px 15px;
    border-radius: 20px;
} */

@media(min-width:768px) {
    .header-section {
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .mainheadline {
        background: url(../images/heading-design.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 35px 45px 40px 45px;
        left: -5px;
        border-radius: 0px;
    }
    .gametext {
        padding: 6px 30px 6px 40px;
        border-radius: 0px 40px;
        top: -20px;
        left: 40px;
    }
    /* .mainheadline {
        padding: 30px;
        background: url(../images/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 90px 15px 50px 15px;
    }
    .mainheadline > div {
        background-color: transparent;
        padding: 15px 25px;
        border-radius: 0px;
    }
    .mainheadline:before {
        position: absolute;
        content: 'First-To-Market';
        padding:0px 40px;
        left: 46px;
        z-index: 99;
        top: 15px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        position: absolute;
    } */
    .preheadline{
        padding: 9px 20px;
    }
    .preheadline::after {
        position: absolute;
        right: -86px;
        top: -31px;
        content: url(../images/pre-shape-ai.webp);
    }
    /* .preheadline{
        display: inline-block;
        border-radius: 40px;
        background-image: linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
        padding:18px 2px 16px ;
        border-radius: 48px;
    
    }
    .preheadline > span {
        background-color: #150a41;
        text-align: justify;
        padding: 15px 25px;
        border-radius: 48px;
    } */
    .new-section {
        background: #ffffff;
        padding: 100px 0px;
    }
    .f-md-70 {
        font-size: 70px;
    }
    
}
/* --- Header Section End--- */
/* --- New Section Start--- */
.new-section {
    background: #ffffff;
    padding: 30px 0px;
}
.instant-btn a {
    transition: all .3s ease;
    border-radius: 10px;
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    backdrop-filter: blur(10px);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
}
.instant-btn a:hover{
    transition: all .3s ease;
    background: linear-gradient(90deg, #1C97F4 0%, #22D2EE 100%);
}
.menu-list li {
    background: url(../images/tick.webp) no-repeat;
    background-position: 20px 24px;
    padding: 15px 15px 15px 64px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border: 3px solid #22D2EE;
}
@media (max-width: 767px) {
    .content-mbl-space {
        padding: 30px 15px;
    }
    .new-section {
        background: #ffffff url(../images/new-section-bg.webp) no-repeat center center;
        padding: 100px 0px;
        background-size: cover;
    }
    .f-md-70 {
        font-size: 70px;
    }
}
/* --- New Section End--- */
/* --- Second Section Start--- */
.section1 {
    padding: 30px 0;
    background:#f0f9ff;
}
.plan1-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgb(96 145 169 / 19%);
}
.plan2-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgba(96, 145, 169, 0.19);
}
@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}
.title-shape {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}
.title-shape1 {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}
.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.webp) no-repeat;
    background-position: 5px 10px;
    padding: 0 0 15px 45px;
    color: #000000;
    line-height: 150%;
    font-size: 18px;
}
.kaptick li:last-child {
    padding-bottom: 0px;
}
.riskfree-section {
    background: #000000 url(../images/riskfree-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.second-header-section {
    padding: 30px 0;
    background: #111;
}
.step-shape {
    border-width: 3px;
    border-color: #f6841f;
    border-style: solid;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    width: 100%;
    float: left;
    padding: 20px;
    height: 100%;
    color: #fff;
}
.section-margin {
    margin-top: 40px !important;
}
.gametext {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    /* top: -6px; */
    z-index: 99;
    line-height: 30px;
    /* left: 12px; */
    border-radius: 0px 40px;
    top: -20px;
    left: 10px;
}
.ved_search_box {
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 100%;
}
.ved_search_box .ved_search_placeholders {
    animation: text2 5s ease 3s infinite normal none;
}
.ved_search_box .ved_search_placeholders {
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    pointer-events: none;
    animation: text2 5s ease 3s infinite normal none;
}
.blue-gradient {
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.ved_search_box2 {
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 100%;
}
.ved_search_box2 .ved_search_placeholders {
    animation: text2 5s ease 3s infinite normal none;
}
.ved_search_box2 .ved_search_placeholders {
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    pointer-events: none;
    animation: text2 5s ease 3s infinite normal none;
}
@keyframes text2{
    0% {
        transform: translateY(0px);
    }
    17% {
        transform: translateY(0px);
    }
    33% {
        transform: translateY(-60px);
    }
    50% {
        transform: translateY(-60px);
    }
    66% {
        transform: translateY(-116px);
    }
    83% {
        transform: translateY(-116px);
    }
    100% {
        transform: translateY(-175px);
    }
    }
    .ved_search_box3 {
        position: relative;
        overflow: hidden;
        height: 26px;
        width: 325px;
        text-align: center;
        margin-right: 8px;
        bottom: 0px;
    }
    .ved_search_box3 .ved_search_placeholders {
        animation: text3 15s ease 0s infinite normal none;
    }
@media(min-width:768px) {
.gametext {
    padding: 6px 30px 6px 40px;
    border-radius: 0px 40px;
    top: -20px;
    left: 40px;
    font-size: 22px;
}
.ved_search_box {
    position: relative;
    overflow: hidden;
    height: 60px;
    width: 250px;
    text-align: start;
    margin-left: 12px;
    bottom: -3px;
}
.ved_search_box2 {
    position: relative;
    height: 60px;
    width: 390px;
    text-align: start;
    margin-left: 12px;
    bottom: -1px;
    overflow: hidden;
}
.d-md-flex {
    display: flex!important;
}
.ved_search_box3 {
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 325px;
    text-align: end;
    margin-right: 8px;
    bottom: 1px;
}
.ved_search_box3 .ved_search_placeholders {
    animation: text3 15s ease 0s infinite normal none;
}
@keyframes text3{
    0% {
        transform: translateY(0px);
    }
    
    5% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(-30px);
    }
    15% {
        transform: translateY(-30px);
    }
    20% {
        transform: translateY(-62px);
    }
    25% {
        transform: translateY(-62px);
    }
    30% {
        transform: translateY(-90px);
    }
    35% {
        transform: translateY(-90px);
    }
    40% {
        transform: translateY(-120px);
    }
    45% {
        transform: translateY(-120px);
    }
    50% {
        transform: translateY(-152px);
    }
    55% {
        transform: translateY(-152px);
    }
    60% {
        transform: translateY(-180px);
    }
    65% {
        transform: translateY(-180px);
    }
    70% {
        transform: translateY(-212px);
    }
    75% {
        transform: translateY(-212px);
    }
    80% {
        transform: translateY(-240px);
    }
    85% {
        transform: translateY(-240px);
    }
    90% {
        transform: translateY(-272px);
    }
    95% {
        transform: translateY(-272px);
    }
    100% {
        transform: translateY(-302px);
    }
}
}
@media(min-width:768px) {
    .title-shape {
        padding: 5px 30px;
    }
    .title-shape1 {
        padding: 5px 30px;
    }
    .tablebox-inner-bg {
        padding: 30px 0px;
        background-size: cover;
        border-radius: 30px;
    }
    .section-margin {
        margin-top: 300px !important;
    }
    .pimg {
        margin-top: -255px;
    }
    .section1 {
        padding: 100px 0;
    }
    .instant-btn a {
        font-size: 36px;
        padding: 28px 74px 30px 74px;
    }
    .kaptick li {
        padding: 5px 0 30px 45px;
    }
    .img-shadow {
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 25%);
    }
    .riskfree-section{
        padding: 100px 0px;
    }
    .second-header-section {
        background: #111 url(../images/cta-bg-new.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
}
/* --- Second Section End--- */
/* --- Third Section Start--- */
.section2 {
    padding: 30px 0;
    background: #eef0ff;
}
.tablebox1 {
    background: #9dbacc;
    width: 100%;
    float: left;
    border-radius: 30px;
}
.tablebox-inner-bg {
    background: #0d0238;
    background-size: 100% 100%;
    border-radius: 10px;
}
.table-headline-shape {
    background: url(../images/table-headline-shape.webp) no-repeat center center;
    background-size: contain;
    padding: 11px 19px 11px 17px;
}
.odd-shape {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    padding: 10px 15px;
}
.even-shape {
    background: #0d0238;
    padding: 10px 15px;
    color: #ffffff !important;
}
.price-shape {
    background: #ffffff;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}
.now-price {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    padding: 12px 10px;
    border-radius: 22px;
}
.myfeatures {
    float: left;
    /* padding: 25px 6px; */
    width: 100%;
    min-height: 69px;
}
@media (min-width: 768px) {
    .section2 {
        padding: 60px 0;
        background: #ffffff url(../images/table-bg-2.webp) no-repeat bottom center;
        background-size: cover;
    }
}
/* --- Third Section End--- */
footer{
    background: rgba(5, 7, 26, 1);
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}
@media(min-width:768px){
    footer{padding: 50px 0px;}
}

.container-box {
    padding: 20px;
    position: relative;
    background: #282759;
    border-radius: 30px;
}
.contact-shape {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(10px);
}

@media(min-width:768px){
    .container-box{
        padding: 80px;
        background: url(../images/contact-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .contact-shape {
        padding: 25px 0px;
    }
}