html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Mulish', sans-serif;
    color: #00081d;
    font-size: 14px;
    overflow-x: hidden;
}
.black-clr {
    color: #0f0f0f;
}
.white-clr {
    color: #fff;
}
.orange-clr {
    color: #f9bb0b;
}
.red-clr{color:#f40c28;}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header-section {
    background: #0f0f0f url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 0;
    background-attachment: fixed;
}
.pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: #0f0f0f;
    outline: none;
    border-color: #f40c28;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}
@media (min-width: 768px) {
    .header-section {
        padding: 40px 0px 100px 0px;
    }
    .pre-heading {
        padding: 15px 30px;
        border-radius: 100px;
    }
}
.probtn1 a {
    border-radius: 100px;
    background: #ff2c50;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 800;
    width: 100%;
    line-height: 140%;
}

.probtn1 a:hover {
    background: #f60c29;
    text-decoration: none;
    transform: scale(1.03);
}

@media (min-width: 768px) {
    .probtn1 a {
        padding: 28px 30px;
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #ec0138;
    }
    40% {
        box-shadow: 0 0 20px #ec0138;
    }
    60% {
        box-shadow: 0 0 20px #ec0138;
    }
    100% {
        box-shadow: 0 0 -10px #ec0138;
    }
}
.second-sec {
    padding: 30px 0;
}
@media (min-width: 768px) {
    .second-sec {
        padding: 100px 0px;
       background: url(../images/important-thing.webp) no-repeat;
		background-size: cover;
		background-position: center; 
    }
}
.grey-section {
    background: #f1f1f1;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .grey-section {
        padding: 100px 0;
        background: url(../images/and-you-know-bg.webp) no-repeat;
		background-size: cover;
		background-position: center; 
    }
}

ul.bigboxes {
    margin: 0px;
    padding: 0px;
}

.bigboxes li {
    background: url(../images/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 10px;
}

ul.bigboxes1 {
    margin: 0px;
    padding: 0px;
}

.bigboxes1 li {
    background: url(../images/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
    margin-bottom: 20px;
}

.boxes {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
}

@media (min-width: 768px) {
    .boxes {
        padding: 50px;
    }
}

.fifth-section {
    background: #0f0f0f;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .fifth-section {
        background: #0f0f0f url(../images/moneyback-bg.webp) center bottom no-repeat;
        background-size: cover;
        padding: 100px 0;
    }
}

.table-section {
    background: #ffffff;
    padding: 30px 0px;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #b6b3bc;
}

.tbbg2 {
    background: url(../images/start-plan-bg.png) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #b6b3bc;
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}
.tablebox3 {
    background: #1c098e;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    position: relative;
}
.tbbg3 {
    background: #100f12;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #4600a2;
}
.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
    border: solid 1px #eef1f9;
}
@media (min-width: 768px) {
    .table-section {
        padding: 100px 0;
        background: url(../images/table-bg.webp) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .myfeatureslast {
        padding: 30px 20px;
    }
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    color: #f40c28;
    text-decoration: none;
}
.footer-section {
    background: #100f12;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}
@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}