html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #121733;
    font-size: 14px;
}
html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
}
.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
.orange-clr1 {
    color: #E76D24;
}
.orange-clr2 {
    color:#F19B10;
}
.yellow-clr{
    color:#F19B10
}
.preheadline {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}
.gametext {
    background: #F19B10;
    padding: 5px 29px 5px 15px;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    top: -42px;
    z-index: 99;
    line-height: 32px;
    left: 0px;
    border-radius: 0px 150px 0px 0px;
    background: #F19B10;
}
.head-design {
    background: #FFFFFF;
    padding: 15px;
}
.underline-text {
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}
@media(min-width:768px){
    .preheadline {
        padding: 7px 35px;
    }
        .head-design {
            padding: 30px;
            background: url(../images/headline-bg.webp) no-repeat center center;
            background-size: 100% 100%;
    }
    .gametext {
        font-size: 22px;
    }
    .head-design {
        padding: 30px;
    }
    .underline-text {
        padding: 0px 0px 65px 0px;
    }
    }
.main-header .list-head li:last-child {
    border-bottom: none;
}
.main-header .list-head li {
    background: url(../images/list-tick.webp) no-repeat;
    padding: 5px 0px 12px 30px;
    background-position: 0px 9px;
    text-align: left;
    border-bottom: solid 1px #091e42;
}

.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/list-tick.webp) no-repeat;
    padding: 8px 0px 8px 30px;
    background-position: 0px 11px;
    text-align: left;
    border-bottom: solid 1px rgb(11, 11, 49);
}
/* Header Section Css End */


ul.features-list {
    margin: 0px;
    padding: 0px;
}
.jobiin-header-section ul.features-list li {
    background: url(../images/list-head.png) no-repeat;
    padding: 0px 0px 25px 40px;
    background-position: 0px 5px;
    list-style: none;
}

.second-section{
	padding: 30px 0px;
}
.feature-list {
    background: url(../images/fav1.webp) no-repeat;
    background-position: 0px 4px;
    padding: 0px 0px 15px 40px;
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.second-sec-list{
	border-top: 0px !important;
	border:2px solid #00a4ff;
    padding: 100px 50px 50px 50px;
    border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.purple-gradient {
    background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
@media(min-width:768px){
	.second-section{
		padding:0px 0px 80px 0px;
	}
}

/* List Section Start */
.list-section {
    padding: 30px 0px;
    background: #f1f1fa;
}
ul.features-list li {
    background: url(https://cdn.oppyo.com/launches/yodrive/special/list-tick.webp) no-repeat;
    padding: 0px 0px 25px 40px;
    background-position: 0px 5px;
    list-style: none;
}
.step-section {
    padding: 30px 0px;
    background: url(https://cdn.oppyo.com/launches/yodrive/special/step-section.webp) center center;
    background-size: cover;
}
.step-box {
    padding: 0px 20px 30px 20px;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(32, 41, 59, 0.1);
    height: 100%;
}
.step-arrow {
    position: absolute;
    right: -50px;
    top: 45%;
    z-index: 9;
}
.step-title {
    background-color: rgb(255, 195, 50);
    padding: 9px 30px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    margin-left: -20px;
}
.step-icon {
    border-radius: 20px;
    background: #e6e8ec;
    min-width: 100px;
    min-height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
@media(min-width:768px){
    .list-section {
        padding: 100px 0px 150px 0px;
        background: url(../images/list-section-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .step-section {
        padding: 100px 0px;
    }

}
/* Proof Section Start */
.proof-section {
    padding: 30px 0px;
    background: #efeff9;
}
.but-design {
    background: #121733;
    border-radius: 20px;
    padding: 10px 15px;
    display: inline-block;
}
.st-img {
    display: inline-block;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
}
.single-testimonial {
    background-color: #efeff9;
    text-align: center;
    position: relative;
    z-index: 2;
    border: 2px solid rgb(209 184 237);
    border-radius: 10px;
    padding: 20px 10px;
}
.stars a {
    padding-right: 8px;
    color: #FFC635;
}
.stars a i {
    font-size: 20px;
}
@media (min-width: 768px) {
    .proof-section {
        padding: 150px 0px 100px 0px;
        background: #fff url(../images/proof-bg.webp) center top no-repeat;
        background-size: cover;
    }
    .reliable-sec {
        background: url(../images/technology-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 80px 50px;
    }
    .but-design {
        border-radius: 50px;
        padding: 10px 30px;
    }
    .st-img {
        margin-top: -150px;
    }
    .single-testimonial {
        border-radius: 30px;
        padding: 50px;
        height: 100%;
    }
}
/* Proof Section End */


 /* Technology-section */
 .technology-sec{
    padding: 30px 0px; 
    background-color: #14208e;
    
}
@media(min-width:768px){
    .technology-sec{
		padding: 100px 0px 50px 0px;
        background:#fff url(../images/technology-bg.webp) no-repeat bottom center; 
        background-size: cover;         
    }
}
/* Technology-Section-End */



/* Letsface Section Start */
.letsface-sec{
    padding: 30px 0px; 
    background:#fff url(../images/letsface-bg.webp) no-repeat center center; 
    background-size: cover; 
}

.letsface-box{
    border-radius: 10px;
    background-color:#e7e9fa;
    display:inline-flex;
    padding: 30px 20px;
    position: relative;
    z-index: 1;
	flex-direction: row;
	margin-top: 20px;
	gap: 20px;
	text-align: left;
	align-items: center;
    
}
@media(min-width:768px){
    .letsface-sec{
        padding: 0px 0px 100px 0px;
    }
    .letsface-box {
		width: 100%;
    }
}
 /* Letsface Section End */

 /* Old & Boring Content Section Start */
 .old-content-section
 {
	background: #01010e;
	padding: 30px 0px;
 }
 .old-content-box{
	border-radius: 20px;
	background-color: rgb(255, 196, 102);
	display: inline-block;
	padding: 20px;
	position: relative;
}

.old-content-box::after{
	content: '';
	background: url(../images/content-curve.webp) no-repeat right bottom;
	padding: 22px 0;
	display: block;
	position: absolute;
	width: 100%;
	bottom: -44px;
	right: 102px;
}

.old-headline{
	border: 1px solid rgb(22, 22, 88);
	border-radius: 10px;
	background-color: rgba(15, 15, 83, 0.2);
	display: inline-block;
	padding: 15px;  
}
 @media(min-width:768px){
	.old-content-section{
		background: url(../images/old-boring-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding: 100px 0px 180px 0px;
	}
	.old-content-box{padding: 50px;}
 }

 /* Old & Boring Content Section End */

 /* Business Section Start */
.business-section
{
	background: url(../images/business-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.reason-box{
	border: 1px solid rgb(80, 84, 189);
	border-radius: 50px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 29px 0px rgba(4, 4, 17, 0.2);
	display: inline-block; 
	padding: 20px 30px;
  }

  .billion-content{
	border: 1px solid rgb(15, 15, 83);
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	display: inline-block;
	padding: 20px 30px;
  }
@media(min-width:768px){
	.business-section{
		padding: 20px 0px 100px 0px;
	 }
}

 /* Business Section End */

/* Not Alone Section Start */

.wearenot-alone-section {
	background: #ffffff;
	padding: 0px 0px 30px 0px;
}

.alone-bg {
	background-color: #010110;
	box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
	border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	padding: 10px;
	position: relative;
}

.title-shape {
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}
.title-shape:after {
    content: '';
    background: url(../images/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media (min-width:768px) {
	.wearenot-alone-section {
		background: #ffffff url(../images/wearenotalone-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 0px 0px 100px 0px;
	}

	.alone-bg {
		padding: 25px 30px 25px 10px;
	}

	.alone-bg:after {
		content: "";
		position: absolute;
		width: 87px;
		height: 49px;
		background-image: url(../images/arrow-down.webp);
		left: 44%;
		bottom: -49px;
	}

	.dollars-sm-image {
		width: 211px;
		min-width: 211px;
		height: 163px;
		margin-left: -120px !important;
		top: 0px;
		left: 0px;
	}

	.title-shape{padding: 20px 25px;}
}

/* Not Alone Section End */

/* Potential Section Start */

.potential-sec {
	background-color: #e7e9fa;
	padding: 30px 0px ;
}

.list-shape {
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

@media (min-width:768px) {
	.potential-sec {
		background: #e7e9fa url(../images/potential-bg.webp) no-repeat bottom center;
		padding: 100px 0px 50px 0px;
	}
}

/* Potential Section End */



/* Proudly there Section Start */
.proudly-sec {
    background: #ffffff url(../images/proudly-bg.webp) bottom center no-repeat;
    background-size: cover;
    padding:30px 0px 60px 0px;
}
.proudly-list-bg {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
    padding: 15px;
}
ul.proudly-list {
    margin: 0px;
    padding: 0px;
}
ul.proudly-list li {
    background: url(../images/check.webp) no-repeat;
    padding: 0px 0px 25px 45px;
    background-position: 0px 4px;
    list-style: none;
}

ul.proudly-list li:last-child {
    padding-bottom: 0px;
}
.intro-title {
    display: inline-block;
    padding: 27px 50px 25px 86px;
    position: relative;
    z-index: 1;
    background: url(../images/intro-title.webp) center center no-repeat;
    background-size: cover;
    align-items: center;
}
.proudly-head {
    background: #F19B10;
    border-radius: 40px;
    padding: 9px 15px;
    display: inline-block;
}
.proudly-box {
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
}
.caveat {
    font-family: 'Caveat', cursive;
}
@media (min-width: 768px){
.proudly-sec {   
    padding:80px 0px 150px 0px;
}
.proudly-list-bg {
	padding: 30px;
}
.intro-title {
    padding: 35px 60px 35px 120px;
}
.proudly-head {
    padding: 9px 50px;
}
.proudly-box {
    padding: 30px;
}
}
/* Proudly Section End */


/* Testimonals Section Start */
.testimonial-section {
	background:url(../images/testimonial-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
	position: relative;
	z-index: 9;
}

.testimonial-section2 {
	background:#eef5ff;
	padding: 30px 0px;
}
.testimonials-block-border {
    border: solid 1px #121457;
    position: relative;
    float: left;
    width: 100%;
    margin: 10px 10px 10px 5px;
}
.testimonials-block {
    position: relative;
    background: #eef5ff;
    padding: 30px 20px;
    float: left;
    width: 100%;
    color: #000000;
    margin: 10px 0px 10px -12px;
}
.testimonial-section2 .testimonials-block{
	background: #fff !important;

}
.author-wrap {
    display: flex;
    align-items: center;
}
.mt-md120 {
    margin-top: 20px;
}
@media (min-width:768px) {
	.testimonial-section2 {
		padding: 100px 0px;
		background:#eef5ff url(../images/testimonial-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.testimonial-section {
		padding:100px 0px;
	}
	.testimonials-block-border {
		margin: 10px 10px 10px 15px;
	}
    .mt-md120 {
        margin-top: 120px;
    }
}

/* Viddeyo Header Section Css Start */
.viddeyo-header-section {
	background: #6e44ff;
	padding: 30px 0px 230px 0px;
}
.viddeyo-preheadline {
    border-style: solid;
    border-width: 6px;
    border-color: #603ddb;
    background: #08041e;
    display: inline-block;
    border-radius: 65px;
    padding: 10px 35px;
}
span.highlight-viddeyo {
    border-bottom: solid 4px #fc6dab;
}

@media (min-width:768px) {
	.viddeyo-header-section {
		background: #6e44ff url(../images/header-bg-viddeyo.webp);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 40px 0px 280px 0px;
	}
    .viddeyo-header-section .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
    .viddeyo-header-section .calendar-wrap {
        border-radius: 15px;
        background-color: rgb(240, 236, 255);
        padding: 10px;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    .viddeyo-header-section .calendar-wrap:before {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve1.webp) no-repeat;
        position: absolute;
        z-index: 1;
        top: -14px;
        left: -18px;
        background-size: contain;
        width: 161px;
        height: 121px;
        z-index: -1;
    }
    .viddeyo-header-section .calendar-wrap-inline {
        border-width: 1px;
        border-color: rgb(11, 11, 49);
        border-style: solid;
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        color: #08041e;
    }
    .viddeyo-header-section .calendar-wrap:after {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve2.webp) no-repeat;
        position: absolute;
        z-index: 1;
        right: -18px;
        bottom: -10px;
        background-size: contain;
        width: 282px;
        height: 38px;
        z-index: -1;
    }
    .viddeyo-header-section .list-head {
        list-style: none;
    }
    .viddeyo-header-section  .list-head li:first-child {
        padding-top: 0px;
    }
    .viddeyo-header-section  .list-head li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/list-tick.webp) no-repeat;
        padding: 8px 0px 8px 30px;
        background-position: 0px 11px;
        text-align: left;
        border-bottom: solid 1px rgb(11, 11, 49);
    }
}
/* Header Section Css End */
.viddeyo-second-section {
	padding:0px 0px 30px 0px;
}
ul.viddeyo-features-list {
	margin:0px;
	padding:0px;
}
ul.viddeyo-features-list li {
	background: url(../images/green-tick.webp) no-repeat;
	padding: 0px 0px 20px 45px;
	background-position: 0px 3px;
	list-style:none;
}
ul.viddeyo-features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}
.viddeyo-header-list-block {
	border-radius: 20px;
	padding: 40px 20px;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	margin-top: -200px;
	background:url(https://cdn.oppyo.com/launches/viddeyo/jv/awesome-shape.png) no-repeat center center;
	background-size:cover;
	
}
/* Viddeyo Header Section Css End */



/* WebPrimo Header CSS Start */

.WebPrimo-header-section {
    background: rgb(0, 68, 205);
    background: -moz-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0044cd", endColorstr="#00165f", GradientType=1);
    padding: 30px 0px;
}

.WebPrimo-header-section ul.leader-ul,
.main-header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 12px;
}

.WebPrimo-header-section ul.leader-ul li,
.main-header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 300;
}

.WebPrimo-header-section ul.leader-ul li a,
.main-header-section ul.leader-ul li a {
    text-decoration: none;
    color: #ffffff;
}

.WebPrimo-highlihgt-heading {
    position: relative;
    background: #000000;
    padding: 10px 1px;
    border-radius: 75px;
    display: inline-block;
    color: #f68a1e;
}
.WebPrimo-higlight-text{
	background: url(../images/viddeyo-post-head-sep.webp) no-repeat bottom center;
	display:inline-block;
	background-size:contain;
}
.WebPrimo-key-features-bg {
    padding:20px;
    position: relative;
    width: 100%;
    text-align: center;
    background:rgba(255,255,255,0.05);
	border-radius:15px;
}
.WebPrimo-list-section {
    padding: 30px 0px;
    background: #ffffff;
}
.webprimo-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}

.webprimo-orange-list li {
    padding: 12px 20px 12px 50px;
    position: relative;
}

.webprimo-orange-list li::before {
    content: url(../images/webprimo-red-tick.webp);
    position: absolute;
    left: 0px;
    top: 15px;
}
.webprimo-header-bordered-list li {
    list-style: none;
}

.webprimo-header-bordered-list li:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}

@media (min-width: 768px) {
   .WebPrimo-header-section {
        background: #0043cc url(../images/webprimo-header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 50px 0px 160px;
    }
   .WebPrimo-highlihgt-heading {
    position: relative;
    padding: 8px 60px;
   }
   .WebPrimo-list-section {
        padding:0px 0px 70px 0px;
    }
    .webprimo-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }
    .webprimo-list-section {
        padding:0px 0px 70px 0px;
    }
    .webprimo-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }}
/* WebPrimo Header Section Css End */


/* Affiliate Ninja Pro Header Section Css Start */
.AffiliateNinjaPro-banner{
   background:url(../images/affiliateninjapro-bg.webp) #0570fb no-repeat; 
   background-size:cover;
   width:100%;
   background-position:center;
   }

@media(min-width:240px){
	.AffiliateNinjaPro-banner{padding:3% 2% 6%;}
}
@media(min-width:768px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
	.banner-block{padding:1% 3% 3%;}
}
@media(min-width:992px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
}
@media(min-width:1200px){
	.AffiliateNinjaPro-banner{padding:2% 2% 6%;}
}
@media(min-width:1500px){
	.AffiliateNinjaPro-banner{padding:6% 2% 7%;}
	.banner-block{padding:2% 3% 3%;}
}
.lightcolor {
    color: #ffea00;
}

/* Affiliate Ninja Pro Header Section Css End */

@media(min-width:768px){
.px-md80{padding-left: 80px!important; padding-right: 80px !important;}
}

/* Jobin Header Section Css Start */

.jobiin-header-section {
    background: #141516 url(../images/header-bg-jobin.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 230px 0px;
    position: relative;
}
.jobiin-header-section .orange-clr {
    color: #ffb80f;
}
@media(min-width:768px) {
    .jobiin-header-section {
        padding: 40px 0px 250px 0px;
    }
}

.jobiin-header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.jobiin-header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.jobiin-header-section a.affiliate-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    line-height: normal;
    color: #000000;
    font-weight: 600;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
}

.jobiin-header-section a.affiliate-link-btn:hover {
    transform: scale(1.05);
    transition: all .3s ease;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #c4a300;
    }
    40% {
        box-shadow: 0 0 20px #c4a300;
    }
    60% {
        box-shadow: 0 0 20px #c4a300;
    }
    100% {
        box-shadow: 0 0 -10px #c4a300;
    }
}

@media(min-width:768px) {
    .jobiin-header-section a.affiliate-link-btn {
        padding: 10px 20px;
        font-size: 22px;
    }
}

.jobiin-header-section .headline-highlight {
    color: #ffb80f;
}

@media (min-width: 768px) {
    .jobiin-header-section .headline-highlight {
        background: url(https://cdn.oppyo.com/launches/jobiin/special/heading-shape.svg) no-repeat center center;
        background-size: cover;
        display: inline-block;
        color: #000000;
        padding: 8px 53px 8px 26px;
    }
}


.jobiin-second-section {
    padding: 0px 0px 30px 0px;
}

@media(min-width:768px) {
    .jobiin-second-section {
        padding: 0px 0px 100px 0px;
    }
}

.z-index-9 {
    z-index: 9;
}

.jobiin-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin-top: -200px;
    background: #ffffff;
}

@media(min-width:768px) {
    .jobiin-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    }
}

.jobiin-cta-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 5px;
    color: #000000;
    font-weight: 800;
    font-size: 20px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
    transition: all 0.5s;
}

.jobiin-cta-btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

@media(min-width:768px) {
    .jobiin-cta-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
        display: inline-block;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
.viddeyo-header-section .border-video {
    border-radius: 20px;
}
.viddeyo-header-section .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.calendar-wrap {
    border-radius: 15px;
    background-color: #060a33;
    padding: 12px 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}