.no-comparison-shape {
    background: #e9ebf1;
    padding: 15px;
    border-radius: 10px;
}

.extrasecwhite {
    background: #e9ebf1;
    padding: 30px 0;
}

.red-shape {
    background: #9c2341;
    padding: 5px 30px;
    border-radius: 50px;
    display: inline-block;
}

@media (min-width: 768px) {
    .red-shape {
        padding: 10px 40px;
        border-radius: 50px;
    }
    .no-comparison-shape {
        background: url(../images/no-comparison-shape-bg.png) no-repeat;
        background-size: contain;
        height: 633px;
        width: 1173px;
        padding: 80px 70px 15px 400px;
    }
    .extrasecwhite {
        background: #ffffff url(../images/warning-bg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}


/* Bonus Section */

.bonus-section {
    background: #dbe1f3;
    padding: 30px 0px;
}

.bonus-section-shape {
    position: relative;
    border-color: rgb(213, 206, 228);
    border-style: dashed;
    border-radius: 10px;
    border-width: 1px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    height: 100%;
}

@media (min-width: 768px) {
    .bonus-section-shape {
        padding: 20px;
    }
}


/* Bonus Section End */


/* Table Section */

.table-section {
    background: #ffffff;
    padding: 30px 0px;
    color: #000000;
}

.table-wrap {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    /* border: solid 1px #cacaca; */
    overflow: hidden;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.table-head {
    /* background: url(../images/start-plan-bg.png) no-repeat center; */
    background: #ffffff;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    /* border-bottom: solid 1px #cacaca; */
}

@media (min-width: 768px) {
    .table-head {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
}

.table-content {
    padding: 60px 20px 40px 20px;
    background: #ffffff url(../images/tablecurveone.png) no-repeat center top;
    background-size: contain;
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
}

.table-wrap1 {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 22px 0px rgba(38, 23, 70, 0.4);
    width: 100%;
    float: left;
    overflow: hidden;
}

.table-wrap1:before {
    content: '';
    position: absolute;
    background: url(../images/most-popular.png) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 45px;
    top: -10px;
}

.table-head1 {
    padding: 40px 30px 30px 30px;
    text-align: center;
    background: #0044cd;
}

@media (min-width: 768px) {
    .table-head1 {
        padding: 80px 30px 80px 30px;
        text-align: center;
    }
}

.table-content1 {
    padding: 60px 20px 40px 20px;
    background: #222466 url(../images/tablecurvetwo.png) no-repeat center top;
    background-size: contain;
}

.center-line {
    background: #000000;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.center-line-white {
    background: #ffffff;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.table-list li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}

.table-list li:nth-child(odd) {
    background: #eef1f9 url(../images/launch-tick-blue.png) no-repeat;
    background-position: 15px 21px;
}

.table-list li:nth-child(even) {
    background: #ffffff url(../images/launch-tick-blue.png) no-repeat;
    background-position: 15px 21px;
}

.table-list li.cross-sign {
    background: #ffffff url(../images/launch-cross.png) no-repeat !important;
    background-position: 15px 21px !important;
}

@media (min-width: 768px) {
    .table-list li {
        padding: 20px 15px 20px 65px;
        background-position: 16px 24px;
    }
    .table-list li:nth-child(odd),
    .table-list li.cross-sign {
        background: #eef1f9 url(../images/launch-tick-blue.png) no-repeat;
        background-position: 16px 24px;
    }
    .table-list li:nth-child(even) {
        background: #ffffff url(../images/launch-tick-blue.png) no-repeat;
        background-position: 16px 24px;
    }
}

.table-list li.headline {
    background: -moz-linear-gradient(45deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%) !important;
    background: -webkit-linear-gradient(45deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%) !important;
    background: linear-gradient(45deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%) !important;
    padding: 20px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.table-list1 li {
    background: url(../images/table-tick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
    /* border-bottom: solid 1px #5153a1; */
}

.table-list1 li.headline {
    background: rgb(255, 109, 30) !important;
    background: -moz-linear-gradient(90deg, rgba(255, 109, 30, 1) 0%, rgba(253, 139, 37, 1) 100%) !important;
    background: -webkit-linear-gradient(90deg, rgba(255, 109, 30, 1) 0%, rgba(253, 139, 37, 1) 100%) !important;
    background: linear-gradient(90deg, rgba(255, 109, 30, 1) 0%, rgba(253, 139, 37, 1) 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ff6d1e", endColorstr="#fd8b25", GradientType=1) !important;
    padding: 20px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list1 li:last-child {
    border-bottom: none;
    /* padding-bottom: 0px; */
}

.table-list1 li:nth-child(odd) {
    background: #280081 url(../images/launch-tick-blue.png) no-repeat;
    background-position: 15px 21px;
}

.table-list1 li:nth-child(even) {
    background: #330d87 url(../images/launch-tick-blue.png) no-repeat;
    background-position: 15px 21px;
}

@media (min-width:768px) {
    .table-section {
        padding: 100px 0px;
    }
    .table-list1 li {
        padding: 20px 15px 20px 65px;
    }
    .table-list1 li:nth-child(odd) {
        background: #003ebe url(../images/launch-tick-blue.png) no-repeat;
        background-position: 16px 23px;
    }
    .table-list1 li:nth-child(even) {
        background: #0044cd url(../images/launch-tick-blue.png) no-repeat;
        background-position: 16px 23px;
    }
}


/* Table Section End*/

.awesome-section {
    padding: 30px 0px;
    background: #fd8b25;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.riskfree-section {
    background: #fd8b25;
    padding: 30px 0px;
}

.license-section {
    background: #e9ebf1;
    padding: 30px 0px;
}

.amazing-tool-bg {
    padding: 30px 0px;
    background: #ffffff;
}

.amzing-deal-shape {
    background: #4b16b4;
    border-radius: 5px;
    padding: 10px;
}

.comparetable-section {
    padding: 30px 0px;
    background: #ffffff;
}

.nocomparsion-section {
    background: #ffffff;
    padding-bottom: 30px;
}


/* Support Section */

.support-section {
    background: #00165f;
    padding: 30px 0px;
}

.bottom-testi-section {
    background: #e9ebf1;
    padding: 30px 0px;
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.boxborder-rb {
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.boxborder-b {
    border-bottom: 1px solid #ffffff;
}

.boxborder-r {
    border-right: 1px solid #ffffff;
}

@media (max-width: 767px) {
    .boxborder {
        border: 1px solid #ffffff;
        border-top: 0px;
        padding: 20px;
    }
    .top-first,
    .first-top-border {
        border: 1px solid #ffffff;
    }
}

@media (min-width: 768px) {
    .boxbg {
        height: 280px;
        padding: 15% 0% 20%;
    }
    .comparetable-section {
        padding: 70px 0px 100px 0px;
        background: #ffffff url(../images/compare-table-bg.png) no-repeat center center;
        background-size: cover;
    }
    .bottom-testi-section {
        padding: 100px 0px;
        background: #e9ebf1 url(../images/testimonial-bg-bottom.png) no-repeat center center;
        background-size: cover;
    }
    .support-section {
        padding: 70px 0px 120px 0px;
        background: #ffffff url(../images/support-section-bg.png) no-repeat center bottom;
        background-size: cover;
    }
    .nocomparsion-section {
        padding: 0px 0px 100px 0px;
        background: #ffffff url(../images/no-compare-bg.png) no-repeat center bottom;
        background-size: cover;
    }
    .amzing-deal-shape {
        background: url(../images/amzing-deal-shape.png) no-repeat center center;
        background-size: contain;
        padding: 20px 15px 20px;
    }
    .amazing-tool-bg {
        padding: 60px 0px 100px 0px;
        background: #ffffff url(../images/amazing-tool-bg.png) no-repeat center center;
        background-size: cover;
    }
    .riskfree-section {
        padding: 100px 0px;
        background: #ffffff url(../images/riskfree-bg.png) no-repeat bottom center;
        background-size: cover;
    }
    .license-section {
        padding: 100px 0px 50px 0px;
        background: #ffffff url(../images/commercial-license-bg.png) no-repeat center bottom;
        background-size: cover;
        border: none;
    }
    .footer-section {
        padding: 50px 0px;
    }
    .bonus-section {
        background: #dbe1f3;
        padding: 100px 0px;
    }
    .awesome-section {
        background: #fd8b25 url(../images/awesome-bg.png) no-repeat top center;
        background-size: cover;
        padding: 100px 0px;
    }
}

.faq-section {
    padding: 30px 0px;
    background-color: #fff;
}

.faq-list {
    background: url(../images/faq-icon.png) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 22px;
}

.option-3-section {
    background: #ffbdbd;
    padding: 30px 0;
}

.shape-testi6 {
    background-color: #ff0000;
    border-radius: 65px;
    padding: 8px 15px 8px 15px;
    display: inline-block;
    margin-top: 0px;
    position: relative;
    color: #ffffff;
    top: -36px;
    margin-bottom: -20px;
}

.potential-sec {
    background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(0, 33, 144) 0%, rgb(0, 22, 95) 100%);
    background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(0, 33, 144) 0%, rgb(0, 22, 95) 100%);
    background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(0, 33, 144) 0%, rgb(0, 22, 95) 100%);
    padding: 30px 0px;
}

.niche-bg {
    border-radius: 40px;
    background: #fd8b25;
    padding: 2px 30px;
    display: inline-block;
}
.super-duper-section {
    background: #00165f;
}
@media (min-width: 768px) {
    .faq-section {
        padding: 100px 0px;
    }
    .niche-bg {
        padding: 2px 50px;
    }
    .option-3-section {
        background: #ffbdbd url(../images/problem-section.png) no-repeat bottom center;
        background-size: cover;
        padding: 100px 0px;
    }
    .shape-testi6 {
        padding: 8px 30px 8px 30px;
        top: -70px;
        margin-bottom: 0px;
    }
    .potential-sec {
        background: url(../images/potential-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 70px 0px 180px;
    }
}

.crusel-col {
    display: inline-block;
    margin-left: -4px;
}

.carousel {
    width: 100%;
}

.slide-box {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .slide-box img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        transition: transform .2s;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        transition: transform .2s;
    }
}

@media (min-width: 992px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        transition: transform .2s;
    }
}

.slide-box img:hover {
    transform: scale(1.3);
}