.masthead{
	background-image: url('../img/background1.png');
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-top: 50px;

}

.home1 .video_box iframe {
	width: 100%;
	height: 360px;

}

.home1 .bg13 {
  background: #FFCD00;
  text-align: center;
  padding: 10px;
}
@media (min-width: 768px){
  .home1 .bg13 {
    padding: 15px 60px;
    background: url(../img/yellow-brush.webp) no-repeat center center;
}
}
.home1 .content_box table td svg{
	color: #f6c847;
}
.home1 .content_box table td{
	border: none;
	padding-bottom: 10px;
	padding-top: 0px;
	line-height: 22px;
}

.home1 .shadow1{
  display: inline-block;
  border-radius: 100px;
  text-align: center;
  position: relative;
  padding: 10px;
  border: 2px solid rgba(21, 198, 252, 1);
  padding: 10px 30px;
}

.home1 .row .first_col{
	background-color: #72d1f7;
}

.home1 .row .content_box{
	padding: 30px 15px 15px 15px;
	border-radius: 15px;
	background-color: #133359;
}

.home1_footer{
	padding-top: 70px;
}

.home2 h3{
  background-color: rgb(246, 200, 71);
  border-radius: 30px;
  display: inline-block;
  padding: 15px;
}

.home2a{
  background-image: url('../img/background2a.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.home2b{
	margin-top: -7%;
  background-image: url('../img/background2b.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.home4{
	background-color: #f6f6f6;
}
.home5{
  background-image: url('../img/background5.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.home6{
  background-image: url('../img/background6.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.home7{
  background-image: url('../img/background7.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.home8 svg{
	color: #54c138;
	margin-right: 5px;
}

.home10 .header{
	padding: 30px;
  border-radius: 20px;
  background-image: -moz-linear-gradient( 90deg, rgb(172,203,238) 0%, rgb(231,240,253) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(172,203,238) 0%, rgb(231,240,253) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(172,203,238) 0%, rgb(231,240,253) 100%);

}

.home11{
  background-image: url('../img/background11.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.home12{
  background-image: url('../img/background12.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.home13{
  background-image: url('../img/background13.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.home13 .top{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;

}
.home13 .top h2{
	background-color: #fa6204;
	position: absolute;
	top: -103px;
	left: 40%;	
	border-radius: 40px;
	width: fit-content;
	text-align: center;
	padding: 15px;
  color: #fff;

}
.home13 .box_set{
  background-color: #fa6204;
  max-width: 900px;
  margin: 20px auto 0;
  padding: 15px;
  border-radius: 35px;
}

.home14 {
	margin-top: -100px;
}

.home15{
	background-color: #ffe8be;
}

.home15 .item img{
	height: 80px;
}

.home16{
	background-color: #08083c;
}

.home17{
  background-image: url('../img/background17.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.home18 .item{
	padding: 30px 15px;
  border-radius: 10px;
  height: 200px;
  box-shadow: 4px 6.928px 17px 0px rgba(0, 0, 0, 0.35);
}
.home18 .item img{
	height: 80px;
}

.home19{
	 background-image: url('../img/background19.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.home20{
	margin-top: -5%;
	 background-image: url('../img/background20.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 200;
}
.home21{
	position: relative;
	z-index: 195;
	margin-top: -5%;
	 background-image: url('../img/background21.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.home22{
	 background-image: url('../img/background22.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.home23{
	background-image: url('../img/background23.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 105;
}

.home24{
	position: relative;
	padding-top: 6%;
	z-index: 100;
	background-image: url('../img/background18.png');
	background-size: cover;
}

.home24 .color_white{
	color: rgba(255, 255, 255, 0.9);
}

.home23 .bg13{
	border-radius: 30px;
	background-color: #f6c847;
}

.home26{
	background-image: url('../img/background26.png');
	background-size: cover;
}
.icons-img {
    height: 120px;
}

a.btn_custom_set {
     display: inline-block;
     padding: 15px 100px;
     font-size: 24px;
     cursor: pointer;
     text-align: center;
     text-decoration: none;
     outline: none;
     color: #fff;
     background-color: #4CAF50;
     border: none;
     border-radius: 80px;
     box-shadow: 0 9px #7c4525;
}
 a.btn_custom_set:hover {
     background: linear-gradient( 90deg, rgba(249,154,4,1) 0%, rgba(255,29,0,1) 100%);
}
 a.btn_custom_set:active {
     box-shadow: 0 5px #666;
     transform: translateY(4px);
     background: linear-gradient( 90deg, rgba(249,154,4,1) 0%, rgba(255,29,0,1) 100%);
}
.reason-tick{
  padding: 0;
  list-style: none;
}
.reason-tick li {
  background: url(../img/ticktop.png) no-repeat;
  padding: 10px 0px 12px 35px;
  background-position: 0px 12px;
  text-align: left;
  border-bottom: solid 2px #091e42;
}
.reason-tick li:last-child {
  border-bottom: none;
}
.probtn1 a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 15px 20px;
  font-size: 22px;
  line-height: 100%;
  color: #ffffff;
  font-weight: 700;
  transition: all .3s ease;
  border-radius: 10px;
  background: var(--orange-gradient, linear-gradient(360deg, #ED1C24 0%, #FF813B 100%));
}

.probtn1 a:hover  {
  border-radius: 8px;
  background: var(--orange-gradient, linear-gradient(360deg, #FF813B 0%,#ED1C24 100%));
  color: #ffffff;
}
.moneyback-section {
  background: #1a243f;
  background-size: cover;
  padding: 30px 0;
  color: #ffffff;
}
.footer-section {
  background: #000000;
  padding: 30px 0px;
}
.footer-ul{
padding: 0;
}
.footer-ul li {
  display: inline;
list-style: none;
}
@media (min-width: 768px){
  .probtn1 a {
		font-size: 30px;
		padding: 35px 25px;
		display: inline-block;
	}
  .moneyback-section {
    background: #1a243f url(../img/money-back.png) no-repeat center center;
    background-size: cover;
    padding: 70px 0 70px 0px;
    color: #ffffff;
  }
  .footer-section {
    padding: 50px 0px;
  }
}
@media (max-width:767px){
	.masthead {
		background: #01021d;
    padding: 30px 0;
	}
  .home2a{background: #fdfaef; padding: 30px 0 30px !important;}
  .home2b{background: #e6f5f8; padding: 30px 0 !important; margin-top: 0;} 
  .home7{
    background: #f5f5f9;
  }
  .home11{
    background: #ffe2c3;
  }
  .home12{background: #fff;}
  .home13 .top h2 {
    background-color: #fa6204;
    position: absolute;
    top: 0px;
    left: 11%;
    border-radius: 40px;
    width: fit-content;
    text-align: center;
    padding: 15px;
    color: #fff;
    font-size: 24px;
    
  }
  .home17{background: #fdfaef;}
  .home20{background: #ffe2c3;}
  .home23{background-color: #011470;}
}
.no-thanks{
  color: red;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}
.warning-section {
  background-color: #7938ff;
  padding: 20px 0px;
}
.offer {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px){
.offer {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  flex-direction: row;
}
}