/* Pricing Page CSS */

@media(max-width:767px) {
    .table-subtitle {
        margin-top: 31px;
    }
    .pricing-table-box {
        margin-top: 0px;
    }
}

.table-subtitle {
    font-size: 11px;
    color: #ffffff;
    font-weight: 400;
    line-height: 120%;
    background: #000000;
    border-radius: 5px 5px 0px 0px;
    padding: 6px 5px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: -34px;
}

@media(min-width:768px) {
    ul.pricing-tabs .nav-link {
        font-size: 18px;
    }
    .pricing-table-container {
        position: relative;
        margin-top: 0px;
    }
    .border-l-0 {
        border-left: hidden;
    }
    .border-r-0 {
        border-right: hidden !important;
    }
    .border-lr-0 {
        border-left: hidden;
        border-right: hidden;
    }
    .pricing-table-box.last-coloum-radius {
        border-radius: 0px 5px 5px 0px;
    }
    .table-subtitle {
        min-height: 25px;
        top: -25px;
    }
}

@media(min-width:1200px) {
    .table-subtitle {
        font-size: 14px;
    }
}

.pricing-table-area {
    border-radius: 5px;
    overflow: hidden;
}

*/
/* Table Header */

.pricing-table-box .pricing-table-header {
    padding: 15px 15px 0px 15px;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    border-bottom: 0px;
    border-right: 0px;
}

.owl-item:last-of-type .pricing-table-box .pricing-table-header {
    border-right: 1px solid #e9e9e9;
}

.pricing-table-box .pricing-table-header.header-limited-pric {
    padding: 28px 5px 15px;
}

.pricing-table-box .pricing-table-header.border-r0px {
    border-right: 0px;
}

.pricing-table-box.table-boxbg .pricing-table-header {
    background: #eef0f9;
}

.pricing-buy-btn-wrap {
    padding: 15px;
    text-align: left;
    border-left: 1px solid #e9e9e9;
}

.owl-item:last-of-type .pricing-buy-btn-wrap {
    border-right: 1px solid #e9e9e9;
}

.pricing-buy-btn-wrap.border-left0 {
    border-left: 0px;
}

@media (min-width:768px) and (max-width:1191px) {
    .pricing-table-box .pricing-table-header {
        padding: 15px 10px 0px;
    }
}

.pricing-table-header .title {
    font-size: 40px;
    font-weight: 700;
    color: #fe6e09;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px
}

.pricing-table-header .sub-title {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    line-height: 120%;
    margin-bottom: 7px
}

.pricing-table-header .red-title {
    font-size: 14px;
    font-weight: 500;
    color: #ff2332;
    line-height: 140%;
}

.m-blue-sub-title {
    font-size: 16px;
    font-weight: 400;
    color: #fe6e09;
    line-height: 140%;
}

.pricing-table-box .sub-title {
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    line-height: 160%;
    margin-top: 7px;
    margin-bottom: 15px;
}

.pricing-table-header .description {
    font-size: 16px;
    font-weight: 400;
    color: #34303f;
    line-height: 120%;
    margin-bottom: 12px;
}

.pricing-table-box.table-boxbg .sub-title,
.pricing-table-box.table-boxbg .description {
    color: #000000;
}

.pricing-table-box .pricing {
    display: flex;
    justify-content: left;
}

.pricing-table-box .pricing .dollor {
    font-size: 26px;
    color: #34303f;
    font-weight: 500;
    position: relative;
    align-self: baseline;
    top: -4px;
}

.pricing-table-box .pricing .value {
    font-size: 40px;
    color: #000000;
    line-height: 100%;
    font-weight: 700;
}

.pricing-table-box .pricing .month {
    font-size: 12px;
    color: #34303f;
    font-weight: 500;
    line-height: 100%;
    padding-left: 0px;
    position: relative;
    top: -8px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.pricing-table-box .price-btn,
.pricing-table-bottom .price-btn {
    display: block;
    text-align: center;
    padding: 13px 10px;
    font-size: 18px;
    font-weight: 400;
    color: #fe6e09;
    border: solid 1px #fe6e09;
    border-radius: 5px;
    text-decoration: none;
}

.pricing-table-box .price-btn:hover {
    background: #fe6e09;
    color: #ffffff;
}

.pricing-table-box .price-btn.active,
.pricing-table-bottom .price-btn.active {
    background: #fe6e09;
    color: #ffffff;
}

.pricing-table-box .price-btn.active:hover,
.pricing-table-box .price-btn.active:focus,
.pricing-table-bottom .price-btn.active:hover,
.pricing-table-bottom .price-btn.active:focus {
    background: #ed680b;
}

.pricing-table-box .price-btn.current-plan,
.pricing-table-box .price-btn:hover.current-plan,
.pricing-table-box .price-btn:focus.current-plan,
.pricing-table-bottom .price-btn.current-plan,
.pricing-table-bottom .price-btn:hover.current-plan,
.pricing-table-bottom.price-btn:focus.current-plan {
    color: #010101 !important;
    border: solid 1px #ced4d8 !important;
    background: #eff3f6 !important;
}


/* Pricing Table Content */

.pricing-table-box .pricing-table-content {
    padding: 0px;
}

.pricing-table-box.table-boxbg .pricing-table-header {
    padding: 40px 15px 15px;
}

.pricing-table-box .price-table-heading {
    font-size: 16px;
    margin-top: 15px;
    color: #000000;
    font-weight: 700;
    padding: 10px 0px 10px 20px;
    margin-top: 0px;
    background: #f7f7fc;
    margin-bottom: 0px;
}

.owl-item:first-of-type .pricing-table-box .price-table-heading {
    border-left: 1px solid #e9e9e9;
}

.owl-item:last-of-type .pricing-table-box .price-table-heading {
    border-right: 1px solid #e9e9e9;
}

@media (min-width: 768px) {
    .pricing-table-box .price-table-heading {
        margin-top: 0px;
        min-height: 42px;
    }
    .pricing-table-box .sub-title {
        margin-bottom: 20px;
    }
    .pricing-table-bottom {
        text-align: center;
        padding: 15px 30px 40px;
        border: 1px solid #e9e9e9;
        border-top: 0px;
        border-right: 0px;
    }
    .md-bottom-button .col-md-3:last-of-type .pricing-table-bottom {
        border-right: 1px solid #e9e9e9;
    }
    .pricing-table-bottom.border-l-0 {
        border-left: 0px;
    }
    .pricing-table-bottom.first-coloum-radius {
        border-radius: 0px 0px 0px 5px;
    }
    .pricing-table-bottom.last-coloum-radius {
        border-radius: 0px 0px 5px 0px;
    }
    .pricing-table-box.first-coloum-radius,
    .pricing-table-box.first-coloum-radius .pricing-table-header {
        border-radius: 5px 0px 0px 0px;
    }
    .pricing-table-box.last-coloum-radius,
    .pricing-table-box.last-coloum-radius .pricing-table-header {
        border-radius: 0px 5px 0px 0px;
    }
    .pricing-buy-btn-wrap {
        padding: 12px;
    }
    .pricing-table-content ul.features li.blank-list-li,
    .pricing-table-content.active ul.features li.blank-list-li {
        padding-right: 45px;
    }
    .pricing-table-box .price-btn,
    .pricing-table-bottom .price-btn {
        padding: 13px 10px;
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .pricing-table-box .price-btn,
    .pricing-table-bottom .price-btn {
        padding: 13px;
        font-size: 18px;
        border: solid 1px #fe6e09;
    }
    .pricing-buy-btn-wrap {
        padding: 12px 30px 30px;
    }
    .pricing-table-box .pricing {
        padding-right: 0px;
    }
    .pricing-table-box .pricing .dollor {
        font-size: 34px;
        top: -8px;
    }
    .pricing-table-box .pricing .value {
        font-size: 48px;
    }
    .pricing-table-box .pricing .month {
        font-size: 15px;
        top: -6px;
    }
    .pricing-table-box .pricing-table-header,
    .pricing-table-box.table-boxbg .pricing-table-header {
        padding: 18px 15px 0px 30px;
    }
    .pricing-table-box .pricing-table-header.header-limited-pric {
        padding: 18px 30px 0px;
    }
}

.pricing-table-content ul.features {
    margin: 0px;
}

.owl-item:last-of-type .pricing-table-content ul.features {
    border-right: 1px solid #e9e9e9;
}

.pricing-table-content ul.features {
    margin: 0px;
    border-left: 1px solid #e9e9e9;
    padding-left: 45px;
    padding-bottom: 15px;
}

.pricing-table-content ul.features li.blank-list-li,
.pricing-table-content.active ul.features li.blank-list-li {
    padding-right: 45px;
}

@media (min-width:768px) {
    .pricing-table-content ul.features {
        padding-bottom: 30px;
    }
    .pricing-table-box .price-table-heading {
        font-size: 12px;
    }
}

.limited-pricing .pricing-table-content ul.features {
    border-right: 0px;
}

.pricing-table-content ul.features li {
    list-style: none;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    min-width: 22px;
    min-height: 22px;
    padding: 8px 10px 8px 0px;
    position: relative;
}

.pricing-table-content ul.features li:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #000000;
    top: 14px;
    left: -17px;
    border-radius: 50%;
}

.limited-pricing .pricing-table-content ul.features li:before {
    background: #fe6e09;
}

.pricing-table-content ul.features.w400 li {
    font-weight: 400;
}

.includes-back {
    background: #000000;
    padding: 5px;
    display: block;
    text-align: center;
    color: #ffffff;
    line-height: 120%;
    min-height: 30px;
    margin-top: 15px;
    border-right: 1px solid #f1f1f1;
}

.limited-pricing .includes-back {
    border-right: 0px;
}


/* Pricing Table Bottom */

.pricing-table-box .pricing-table-bottom {
    padding: 15px;
    text-align: center;
    border-right: 1px solid #f1f1f1;
}

.xs-buy-btn-border {
    border-right: 1px solid #f1f1f1;
}

.pricing-table-bottom .viewmore,
.pricing-table-bottom .viewmore:hover {
    font-size: 14px;
    font-weight: 400;
    color: #fe6e09;
}

@media (min-width:768px) {
    .pricing-table-content ul.features li {
        font-size: 15px;
    }
    .includes-back {
        margin-top: 20px;
    }
}

@media (min-width:1200px) {
    .pricing-table-bottom .viewmore,
    .pricing-table-bottom .viewmore:hover {
        font-size: 16px;
    }
    .pricing-table-box.first-coloum-radius .pricing-table-header,
    .pricing-table-box .pricing-table-header.header-limited-pric {
        padding: 18px 0px 0px 29px;
    }
    .pricing-table-content ul.features li {
        padding: 8px 8px 8px 0px;
    }
    .pricing-table-box .price-table-heading {
        font-size: 18px;
    }
}

@media (min-width:768px) and (max-width:1191px) {
    .pricing-table-box .pricing-table-bottom {
        padding: 30px 15px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pricing-table-box .pricing-table-header.header-limited-pric {
        padding: 15px 10px 0px;
    }
    .pricing-table-header .title {
        font-size: 34px;
    }
    .pricing-table-header .red-title,
    .m-blue-sub-title,
    .pricing-table-box .sub-title {
        font-size: 12px;
    }
    .price-btn.mb28.mt39.mt-md44 {
        margin-top: 58px !important;
    }
    .pricing-table-content ul.features li {
        font-size: 12px;
        padding: 8px 9px 4px 0px;
    }
    .pricing-table-content ul.features {
        padding-left: 18px;
        padding-bottom: 15px;
    }
    .pricing-table-content ul.features li:before {
        width: 4px;
        height: 4px;
        left: -11px;
    }
    .includes-back {
        height: 50px;
    }
    .pricing-table-box .price-table-heading {
        padding: 10px 0px 10px 10px;
    }
    .pricing-table-content ul.features li.blank-list-li,
    .pricing-table-content.active ul.features li.blank-list-li {
        padding-right: 18px;
    }
}

.pricing-table-content ul.features li.blank-list-li,
.pricing-table-content.active ul.features li.blank-list-li {
    background-image: none;
    color: #aaa6b3;
    font-size: 20px;
}

.pricing-table-content ul.features li.blank-list-li:before,
.pricing-table-content.active ul.features li.blank-list-li:before {
    display: none;
}


/* FAQ's Accordion */

.faq-accordion .card .card-header {
    font-family: 'icomoon';
    content: "\a338";
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: #000000;
}

.faq-accordion .card .card-header::before {
    font-family: 'icomoon';
    content: "\a336";
    color: #000000;
    font-size: 12px;
    margin-right: 15px;
    top: 0px;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 50%;
    display: inline-block;
    line-height: 26px;
    text-align: center;
    float: left;
}

.faq-accordion .card .card-header.collapsed::before {
    font-family: 'icomoon';
    content: "\a338";
    font-size: 12px;
    color: #000000;
    background: #eaecf3;
}

.faq-accordion .card {
    background: transparent;
    border: 0px;
    margin-bottom: 15px;
    padding: 0px;
    border-radius: 0px;
}

.faq-accordion .card-header {
    background: #f1f1f1;
    border: solid 1px #f1f1f1;
    padding: 10px 0px 10px 15px;
    border-radius: 5px 5px 0px 0px;
}

.faq-accordion .card-header.collapsed {
    background: transparent;
    border: solid 1px #f1f1f1;
    padding: 10px 0px 10px 15px;
    border-radius: 5px;
}

.faq-accordion .card .card-header .card-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: #000000;
    display: flex;
}

.faq-accordion .card .card-body {
    padding: 15px;
    border: solid 1px #f1f1f1;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
}

.faq-accordion .card .card-body p.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: #000000;
}

.collapse-ex {
    display: none;
}

@media ( min-width: 768px) {
    .faq-accordion .card {
        margin-bottom: 30px;
    }
    .faq-accordion .card-header {
        padding: 10px 0px 10px 30px;
    }
    .faq-accordion .card-header.collapsed {
        padding: 10px 0px 10px 30px;
    }
    .faq-accordion .card .card-header .card-link {
        font-size: 18px;
    }
    .faq-accordion .card .card-body {
        padding: 30px;
    }
    .faq-accordion .card .card-body p.description {
        font-size: 16px;
    }
}


/* -- Common Page css -- */


/* Manually Container width */

@media (min-width:1200px) {
    .container-1170 {
        max-width: 1170px;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* Image xs center block */

@media (max-width:767px) {
    .xs-center-block {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}


/* Section Padding Css */

.section-padding {
    padding: 30px 0px;
}

@media (min-width:992px) {
    .section-padding {
        padding: 80px 0px;
    }
}


/* Support Section css */

.support-section {
    background: #fc7c0f;
    padding: 30px 0px;
}

.support-section .section-title .preheadline {
    font-size: 20px;
    font-weight: 300;
    color: #b3afbc;
}

.support-section .section-title .title {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    line-height: 140%;
    margin-top: 10px;
}

.support-section .section-title .subtitle {
    color: #b3afbc;
    line-height: 28px;
    font-size: 16px;
    margin-top: 15px;
}

@media (min-width:768px) {
    .support-section .section-title .preheadline {
        font-size: 24px;
    }
    .support-section .section-title .title {
        font-size: 36px;
    }
    .support-section .section-title .subtitle {
        font-size: 18px;
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    .support-section {
        padding: 140px 0px
    }
}


/* New CSS */

.pre-heading {
    font-size: 18px;
    color: #34303f;
    font-weight: 300;
    line-height: 140%;
}

.heading-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 140%;
    color: #000000;
    font-family: 'Fira Sans', sans-serif;
}

#owl-demo img {
    height: auto;
    max-height: 220px;
    width: auto;
}

.dcp-btn,
a.dcp-btn,
.dcp-btn:focus,
a.dcp-btn:focus,
.dcp-btn:hover,
a.dcp-btn:hover {
    font-size: 16px;
    padding: 11px 20px;
    text-decoration: none;
}

.video-help-btn1,
a.video-help-btn1,
.video-help-btn1:focus,
a.video-help-btn1:focus {
    color: #b3afbc;
}

.video-help-btn1:hover,
a.video-help-btn1:hover {
    color: #ffffff;
}

.video-help-btn2,
a.video-help-btn2,
.video-help-btn2:focus,
a.video-help-btn2:focus {
    color: #34303f;
}

.video-help-btn2 i,
a.video-help-btn2 i,
.video-help-btn2:focus i,
a.video-help-btn2:focus i {
    color: #7f7c88;
}

.video-help-btn2:hover,
a.video-help-btn2:hover,
.video-help-btn2:hover i,
a.video-help-btn2:hover i {
    color: #fe6e09;
}

.dcp-btn-get-start,
a.dcp-btn-get-start,
.dcp-btn-get-start:focus,
a.dcp-btn-get-start:focus,
.dcp-btn-get-start:hover,
a.dcp-btn-get-start:hover {
    font-size: 16px;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: 500;
}


/* Features Section CSS */

.feature-section {
    background: #eff0fa;
}

.feature-section .heading-text {
    color: #ffffff;
}

.step-heading-shape {
    background: #fe6e09;
    width: 40px;
    height: 2px;
    margin-right: 20px;
    margin-top: 15px;
}

.feature-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    color: #fe6e09;
}

.feature-heading {
    font-size: 22px;
    font-weight: 600;
    color: #151122;
    line-height: 140%;
    margin-top: 15px;
}


/* Step Slider Image Aanimation */

.feature-section .owl-item.active img.step-image {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: zoomIn;
    animation-delay: 0.3s;
}


/* Business Owners Section CSS */

.business-owners {
    background: #ffffff;
}

.video-outter-border {
    border: 1px solid #ced4d8;
}

.business-owners .title,
.testimonial-white-back .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    color: #151122;
    margin-top: 15px;
    font-family: 'Fira Sans', sans-serif;
}

.business-owners .subtitle,
.testimonial-white-back .subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: #151122;
    margin-left: 10px;
}

.owners-image {
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
}

.testimonial-back {
    border-radius: 5px;
    background: #ffffff;
    padding: 15px;
    -webkit-box-shadow: 0px 2px 5.64px 0.36px rgba(140, 140, 140, 0.23);
    box-shadow: 0px 2px 10.64px 0.36px rgba(140, 140, 140, 0.23);
}

.testimonial-back .heading-text,
.testimonial-back .heading-text {
    font-size: 24px;
    color: #010101;
    line-height: 140%;
}

.testimonial-back .heading-text {
    color: #000000;
}

.testimonial-back .subtitle {
    font-size: 16px;
    color: #7f7c88;
    line-height: 140%;
    margin: 7px 0px 0px 0px;
}

.testimonial-back .description {
    font-size: 16px;
    color: #34303f;
    line-height: 140%;
    margin-top: 15px;
}

.testimonial-back-img {
    position: relative;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px;
    background-size: cover;
    border-radius: 5px;
}

@media ( min-width: 768px) {
    .dcp-btn,
    a.dcp-btn,
    .dcp-btn:focus,
    a.dcp-btn:focus,
    .dcp-btn:hover,
    a.dcp-btn:hover {
        font-size: 16px;
        padding: 11px 30px;
    }
    .dcp-btn-get-start,
    a.dcp-btn-get-start,
    .dcp-btn-get-start:focus,
    a.dcp-btn-get-start:focus,
    .dcp-btn-get-start:hover,
    a.dcp-btn-get-start:hover {
        font-size: 18px;
    }
    .pre-heading,
    .solution-section .solution-right-border .subtitle,
    .benefits-block .title,
    .business-owners .title,
    .testimonial-white-back .title {
        font-size: 24px;
    }
    .solution-section .solution-right-border .title,
    .special-offer-section .heading-text,
    .testimonial-back .heading-text,
    .grow-online-back .heading-text {
        font-size: 36px;
    }
    .solution-section .description,
    .entrepreneurs-col .description,
    .benefits-block .description,
    .testimonial-back .description {
        font-size: 18px;
    }
    .heading-text {
        font-size: 36px;
    }
    .feature-title {
        font-size: 20px;
    }
    .feature-heading {
        font-size: 32px;
    }
    .mt-md130 {
        margin-top: 130px !important;
    }
    .business-owners .subtitle,
    .testimonial-white-back .subtitle {
        font-size: 16px;
    }
    .testimonial-back {
        padding: 30px 20px;
        margin-left: 8px;
    }
    .testimonial-back .subtitle {
        font-size: 18px;
    }
    .testimonial-back .description {
        margin-top: 25px;
    }
    .testimonial-back-img {
        padding: 30px 0px;
    }
    #owl-demo img {
        max-height: 410px;
        max-width: 530px;
        width: 100%;
    }
}

@media ( min-width: 992px) {
    .dcp-btn,
    a.dcp-btn,
    .dcp-btn:focus,
    a.dcp-btn:focus,
    .dcp-btn:hover,
    a.dcp-btn:hover {
        font-size: 18px;
    }
    .dcp-btn-get-start,
    a.dcp-btn-get-start,
    .dcp-btn-get-start:focus,
    a.dcp-btn-get-start:focus,
    .dcp-btn-get-start:hover,
    a.dcp-btn-get-start:hover {
        font-size: 20px;
        padding: 12px 46px;
    }
}

@media(min-width: 1200px) {
    .heading-text {
        font-size: 48px;
    }
}


/* Old Way Section */

.old-way-section {
    background: #f5f6ff;
}

.old-way-block {
    background: #ffecec;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 0px rgba(90, 90, 90, 0.15);
    padding: 15px;
}

.website-help-cion {
    background: #ffdfdf;
    border-radius: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #34303f;
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
    margin-left: -30px;
}

.say-hello-section,
.online-entrepreneurs-bg,
.more-business-section,
.feature-section,
.old-way-section,
.free-training-section,
.faq-section,
.business-owners {
    padding: 30px 0px;
}


/* Say Hello section */

.say-hello-section {
    background: #ffffff;
}

.with-dotcompal-block {
    background: #eff0fa;
    padding: 15px;
}

.min-w-20 {
    min-width: 20px;
}

.min-w-23 {
    min-width: 23px;
}

.min-w-24 {
    min-width: 24px;
}

.white-blue-bg {
    position: relative;
    padding-bottom: 30px;
}

.online-entrepreneurs-bg {
    background: #fc7c0f;
}

.business-blocks {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 19px 0px rgba(90, 90, 90, 0.15);
    padding: 10px;
    text-align: center;
    max-width: 270px;
    margin: auto;
}

.business-blocks .pre-heading {
    color: #34303f;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}

.business-blocks .heading {
    font-size: 35px;
    font-weight: 600;
    line-height: 110%;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 10px;
}

.business-blocks .heading.yellow {
    color: #efa131;
}

.business-blocks .heading.cerise {
    color: #db3579;
}

.business-blocks .heading.java {
    color: #16C5A6;
}

.business-blocks .heading.blue {
    color: #3148d8;
}

.business-blocks .description {
    color: #34303f;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}


/* More Business CSS */

.more-business-section {
    background: #ffffff;
}

.feature-icon {
    font-size: 20px;
    color: #fe6e09;
}

a.feature-signup-btn,
.feature-signup-btn,
.feature-signup-btn:hover,
.feature-signup-btn:hover,
.feature-signup-btn:active,
.feature-signup-btn:active,
a.feature-signup-btn:focus,
.feature-signup-btn:focus {
    font-weight: 500;
}


/* Free Training CSS */

.free-training-section {
    background: #ffffff;
}


/* FAQ CSS */

.faq-section {
    background: #f5f6ff;
}

.testimonial-block {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 19px 0px rgba(90, 90, 90, 0.15);
    padding: 0px 15px 15px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.testi-image-size {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
}

@media (min-width: 768px) {
    .testi-description,
    .home-page-description {
        font-size: 16px;
    }
    .home-page-heading,
    .welcome-banner .banner-heading,
    .support-section .support-section-heading {
        font-size: 36px;
    }
    .featurs-heading {
        font-size: 30px;
    }
    .home-page-title {
        font-size: 18px;
    }
    .home-page-subtitle,
    .home-page-title-white,
    .home-page-title-grey {
        font-size: 30px;
    }
    .home-page-sub-heading,
    .business-blocks .description,
    .testimonial-block .title {
        font-size: 20px;
    }
    .business-blocks .heading {
        font-size: 50px;
        margin-top: 12px;
    }
    /* Old Way Section */
    .old-way-block {
        padding: 30px;
    }
    .old-way-section .old-way-block .title,
    .business-blocks .pre-heading {
        font-size: 22px;
    }
    .old-way-section .old-way-block .description {
        margin-top: 15px;
    }
    .website-help-cion {
        font-size: 32px;
        height: 60px;
        min-height: 60px;
        width: 60px;
        min-width: 60px;
        margin-left: -60px;
    }
    .with-dotcompal-block {
        padding: 30px 15px;
    }
    .with-dotcompal-block .title,
    .free-training-section .title {
        font-size: 25px;
    }
    .white-blue-bg {
        padding-bottom: 0px;
    }
    .white-blue-bg:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: #fc7c0f;
        z-index: -1;
    }
    .business-blocks {
        padding: 28px 20px;
    }
    .feature-icon {
        font-size: 24px;
    }
    a.feature-signup-btn,
    .feature-signup-btn,
    .feature-signup-btn:hover,
    .feature-signup-btn:hover,
    .feature-signup-btn:active,
    .feature-signup-btn:active,
    a.feature-signup-btn:focus,
    .feature-signup-btn:focus {
        padding: 13px 30px;
        font-size: 18px;
    }
    .testimonial-block {
        padding: 0px 30px 30px;
        /* height: 100%; */
    }
}

@media (min-width: 992px) {
    /* Old Way Section */
    .old-way-section {
        background: #f5f6ff url(../images/home/old-way-section-bg.png) no-repeat center center;
        background-size: cover;
    }
    .old-way-block {
        padding: 35px 50px;
    }
    .website-help-cion {
        margin-left: -80px;
    }
    /* Say Hello section */
    .say-hello-section,
    .online-entrepreneurs-bg,
    .more-business-section,
    .feature-section,
    .old-way-section,
    .free-training-section,
    .faq-section,
    .business-owners {
        padding: 100px 0px;
    }
    .with-dotcompal-block {
        padding: 75px 50px 55px;
    }
}

@media (min-width: 1200px) {
    .home-page-heading,
    .welcome-banner .banner-heading,
    .support-section .support-section-heading {
        font-size: 48px;
    }
    .featurs-heading {
        font-size: 32px;
    }
}