html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
	overflow-x: hidden;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

video {
    width: 100%;
    height: 100%;
}


/* Color CSS */

.white-clr {
    color: #fff;
}

.black-clr {
    color: #00081d !important;
}

.yellow-clr {
    color: #ffe400;
}

.blue-clr {
    color: #0e2672;
}

a.lightred {
    color: #f6841f;
}
.lightred {
    color: #f6841f;
}
/* Header Section CSS */

.header-section {
    background-color: #fff;
    padding: 5% 0;
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
}

.logo-height {
    max-height: 45px;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

a.link-text {
    color: #020d13;
    text-decoration: none;
}

.footer-section {
    background: #00081d;
    padding: 30px 0px;
}

.container-padding {
    padding: 30px 0;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.spatan {
    font-family: 'Spartan', sans-serif;
}

a.blue-clr {
    color: #3f43ba;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
}



.footer-ul li a:hover {
    color: #fff;
}

a.orange-clr:hover {
    color: #ff6a3d;
    text-decoration: none;
}


/*********************Top To Bottom****************/

#button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    background-color: #ffe400;
    border-radius: 50%;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: rgb(97, 64, 64);
}

#button.show {
    opacity: 1;
    visibility: visible;
}