html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}
/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.black-clr {
    color: #0f0f0f;
}

/* Header Section CSS */

.header-section {
    background-color: #fff;
    padding: 5% 0;
    position: relative;
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
}

/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.footer-section {
    background: #100f12;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

.footer-ul li a:hover {
    color: #fff;
}
