/* ---------------------------------------------------------------------
 # FONTS
--------------------------------------------------------------------- */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url("fonts/font-awesome.min.css");
@import url("fonts/icomoon.css");

/* Custom Radio Button CSS 
========================== */
.smart-radio-btn label {
display: inline-block;
position: relative;
padding-left: 10px; 
cursor:pointer;
line-height:normal;
}
.smart-radio-btn label::before {
content: "";
display: inline-block;
position: absolute;
width: 20px;
height: 20px;
left: 0;
margin-left: -20px;
border: 1px solid #ced4d8;
border-radius: 50%;
background-color: #fff;
-webkit-transition: border 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out;
transition: border 0.15s ease-in-out; }
.smart-radio-btn label::after {
display: inline-block;
position: absolute;
content: " ";
width: 8px;
height: 8px;
left: 6px;
top: 6px;
margin-left: -20px;
border-radius: 50%;
background-color: #ffffff;
-webkit-transform: scale(0, 0);
-ms-transform: scale(0, 0);
-o-transform: scale(0, 0);
transform: scale(0, 0);
-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.smart-radio-btn input[type="radio"] {
opacity: 0; }

.smart-radio-btn input[type="radio"]:checked + label::after {
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
transform: scale(1, 1); }


.smart-radio-btn input[type="radio"]:disabled + label {
opacity: 0.65; }

.smart-radio-btn input[type="radio"]:disabled + label::before {
cursor: not-allowed; 
content: "";
display: inline-block;
position: absolute;
width: 20px;
height: 20px;
left: 0;
margin-left: -20px;
border: 1px solid #eff3f6 !important;
border-radius: 50%;
background-color: #eff3f6 !important;
-webkit-transition: border 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out;
transition: border 0.15s ease-in-out;
}


.smart-radio-btn input[type="radio"]:disabled + label::after {
display: inline-block;
position: absolute;
content: " ";
width: 8px;
height: 8px;
left: 6px;
top: 6px;
margin-left: -20px;
border-radius: 50%;
background-color: #ced4d8 !important;
}

.smart-radio-btn.radio-inline {
margin-top: 0; }

.radio-strong-blue input[type="radio"] + label::after {
  background-color: #5c6ac4; }
.radio-strong-blue input[type="radio"]:checked + label::before {
  border-color: #5c6ac4; background-color: #5c6ac4; }
.radio-strong-blue input[type="radio"]:checked + label::after {
  background-color: #ffffff; }
  
.small-radio-btn .radio-strong-blue label::before{background:#5c6ac4;border-color: #5c6ac4;}   
.small-radio-btn .radio-strong-blue input[type="radio"] + label::after {
  background-color: #5c6ac4; }
.small-radio-btn .radio-strong-blue input[type="radio"]:checked + label::before {
  border-color: #5c6ac4; background-color: #5c6ac4; }
.small-radio-btn .radio-strong-blue input[type="radio"]:checked + label::after {
  background-color: #ffffff; } 
 /* yellow color radio button */
.small-radio-btn .radio-strong-yellow label::before{background:#fdc100;border-color: #fdc100;}  
.small-radio-btn .radio-strong-yellow input[type="radio"] + label::after {
  background-color: #fdc100; }
.small-radio-btn .radio-strong-yellow input[type="radio"]:checked + label::before {
  border-color: #fdc100; background-color: #fdc100; }
.small-radio-btn .radio-strong-yellow input[type="radio"]:checked + label::after {
  background-color: #ffffff; }  
/* purple color radio button  */
.small-radio-btn .radio-strong-purple label::before{background:#a54ada;border-color: #a54ada;}  
.small-radio-btn .radio-strong-purple input[type="radio"] + label::after {
  background-color: #a54ada; }
.small-radio-btn .radio-strong-purple input[type="radio"]:checked + label::before {
  border-color: #a54ada; background-color: #a54ada; }
.small-radio-btn .radio-strong-purple input[type="radio"]:checked + label::after {
  background-color: #ffffff; }    
 /* green color radio button */
.small-radio-btn .radio-strong-green label::before{background:#58bd1a;border-color: #58bd1a;}  
.small-radio-btn .radio-strong-green input[type="radio"] + label::after {
  background-color: #58bd1a; }
.small-radio-btn .radio-strong-green input[type="radio"]:checked + label::before {
  border-color: #58bd1a; background-color: #58bd1a; }
.small-radio-btn .radio-strong-green input[type="radio"]:checked + label::after {
  background-color: #ffffff; }
/* Radio Button small */
.small-radio-btn .smart-radio-btn label::before{width: 15px;height: 15px;} 
.small-radio-btn .smart-radio-btn label::after{width: 7px;height: 7px;left: 4px;top: 4px;}
/* Custom Checkbox Button 
========================== */
.smart-checkbox-btn label {
display: inline-block;
position: relative;
padding-left: 10px;
cursor:pointer; 
line-height:normal;
word-break: break-word;
}
.smart-checkbox-btn label::before {
content: "";
display: inline-block;
position: absolute;
width: 20px;
height: 20px;
left: 0;
margin-left: -20px;
border: 1px solid #ced4d8;
border-radius: 5px;
background-color: #fff;
-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.smart-checkbox-btn label::after {
display: inline-block;
position: absolute;
width: 16px;
height: 16px;
left: 0;
top: 0;
margin-left: -20px;
padding-left: 4px;
padding-top: 4px;
font-size: 11px;
color: #ffffff; }
.smart-checkbox-btn input[type="checkbox"] {
opacity: 0; }

.smart-checkbox-btn input[type="checkbox"]:checked + label::after {
font-family: 'FontAwesome';
content: "\f00c"; }
.smart-checkbox-btn input[type="checkbox"]:disabled + label {
    color: #b3afbc;
}
.smart-checkbox-btn input[type="checkbox"]:disabled + label::before {
content: "";
display: inline-block;
position: absolute;
width: 20px;
height: 20px;
left: 0;
margin-left: -20px;
border: 1px solid #ced4d8  !important;
border-radius: 5px;
background-color: #ced4d8  !important;
-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
cursor: not-allowed; }

.smart-checkbox-btn input[type="checkbox"]:disabled + label::after {
	
display: inline-block;
position: absolute;
width: 16px;
height: 16px;
left: 0;
top: 0;
margin-left: -20px;
padding-left: 4px;
padding-top: 4px;
font-size: 11px;
color: #7f7c88 !important;
}

.smart-checkbox-btn.checkbox-circle label::before {
border-radius: 50%; }
.smart-checkbox-btn.checkbox-inline {
margin-top: 0; }

.checkbox-strong-blue input[type="checkbox"]:checked + label::before {
background-color: #5c6ac4;
border-color: #5c6ac4; }
.checkbox-strong-blue input[type="checkbox"]:checked + label::after {
color: #fff; }


/* Switch Toggle Button Stylesheet 
========================== */
.switchtoggle-btn {
	position: relative;
	display: block;
	vertical-align: top;
	width: 70px;
	height: 30px;
	margin:0px;	
	border-radius: 5px;	
	cursor: pointer;
	box-sizing:content-box;
}
.switchtoggle-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switchtoggle-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 16px;
	text-transform: capitalize;
	background: #ced4d8;
	border-radius: inherit;	
	box-sizing:content-box;
}
.switchtoggle-label:before, .switchtoggle-label:after {
	position: absolute;
	top: 50%;
	margin-top: -7px;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switchtoggle-label:before {
	content: attr(data-off);
	right: 12px;
	color: #7f7c88;	
}

.switchtoggle-label:after {
	content: attr(data-on);
	left: 12px;
	color: #FFFFFF;	
	opacity: 0;
}
.switchtoggle-input:checked ~ .switchtoggle-label {
	background: #58bd1a;
	
}
.switchtoggle-input:checked ~ .switchtoggle-label:before {
	opacity: 0;
}
.switchtoggle-input:checked ~ .switchtoggle-label:after {
	opacity: 1;
}
.switchtoggle-handle {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 5px;	
}
.switchtoggle-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -5px;
	width: 10px;
	height: 2px;
	background: #b3afbc;
	border-radius: 0px;	
}
.switchtoggle-handle:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 2px 0 0 -5px;
	width: 10px;
	height: 2px;
	background: #b3afbc;
	border-radius: 0px;	
}
.switchtoggle-input:checked ~ .switchtoggle-handle{
	left: 45px;	
}
.switchtoggle-label, .switchtoggle-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}


/* Pagination Buttons Stylesheet Css 
========================== */
ul.rounded-pagination{margin: 0; padding: 0px; display: inline-block;}
ul.rounded-pagination li{display: inline; list-style: none;}
ul.rounded-pagination li:first-child a{border-bottom-left-radius: 5px;
border-top-left-radius: 5px;}
ul.rounded-pagination li:last-child a{border-top-right-radius: 5px;
border-bottom-right-radius: 5px;}
ul.rounded-pagination li a{border: solid 1px #ced4d8; padding: 10px 18px; line-height: normal; text-decoration: none; position: relative;
float: left; margin-left: -1px; color: #7f7c88; min-width: 40px; text-align: center; cursor: pointer;}
ul.rounded-pagination li a:hover{background: #eff3f6; color: #151122}
ul.rounded-pagination li a.active{background: #ced4d8; color: #151122}
.entries-width .btn.dropdown-toggle.select-btn-style{min-width:80px; max-width: 80px; width: 80px;
}


/* Rounded Progress Bar Stylesheet css 
========================== */
.rounded-progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 5px;
    overflow: hidden;
    background-color: #ced4d8;
    border-radius: 5px;
}
.rounded-progress-bar{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
color: #fff;
text-align: center;
background-color: transparent;
transition: width .6s ease;
}

/* Navigation Tabs Styles Css */

/* Tabs Style1 
========================== */
.tabs-style1 {
	border-bottom: 1px solid #ced4d8;
}
.tabs-style1 .nav-item {
	margin-bottom: -1px;
}
.tabs-style1 .nav-link,
.tabs-style1 .nav-link:hover{
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	display: block;
	padding:8px 15px;
	color: #000007;
	cursor: pointer;
}
.tabs-style1 .nav-item.show .nav-link,
.tabs-style1 .nav-link.active {
	color: #000007 !important;
	background-color: #fff;
	border-bottom: solid 3px #5c6ac4;
}

/* Tabs Style 2 
========================== */
.tabs-style2 {
	border-bottom: hidden;
}
.tabs-style2 .nav-item {
	margin-left: -1px;
}
.tabs-style2 .nav-link,
.tabs-style2 .nav-link:hover{
	border: 1px solid transparent;
	display: block;
	padding:8px 15px;
	color: #7f7c88;
	border-color: #cacfd2;
	cursor: pointer;
}

.tabs-style2 li:first-child .nav-link{border-radius: 5px 0px 0px 5px;}
.tabs-style2 li:last-child .nav-link{border-radius: 0px 5px 5px 0px;}

.tabs-style2 .nav-item.show .nav-link,
.tabs-style2 .nav-link.active{
	color: #ffffff !important;
	background-color: #5c6ac4;
	border-color: #5c6ac4;
}

/* Tabs Style 3 
========================== */
.tabs-style3 {
	border-bottom: solid 1px #cacfd2;
}
.tabs-style3 .nav-item {
	margin-right: 10px;
	min-width: 0px;
}
@media (min-width:992px){
.tabs-style3 .nav-item {
	margin-right: 10px;
	min-width: 168px;
}
}
@media (min-width:1200px){
.tabs-style3 .nav-item {
	margin-right: 10px;
	min-width: 200px;
}
}
.tabs-style3 .nav-item:last-child {
	margin-right: 0px;
}
.tabs-style3 .nav-link,
.tabs-style3 .nav-link:hover{
	border: 1px solid transparent;
	display: block;
	padding:17px;
	color: #7f7c88 !important;
	border-color: #eff3f6;
	border-bottom: transparent;
	background: #eff3f6;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative;
	cursor: pointer;
	text-align: left;
}

@media(max-width:767px){
	.tabs-style3 .nav-link,
.tabs-style3 .nav-link:hover{
	padding:14px!important;
}
}

.tabs-style3 .nav-item.show .nav-link,
.tabs-style3 .nav-link.active {
	color:#151122 !important;
	background-color:#ffffff;
	border-color:#cacfd2;
}

.tabs-style3 .nav-item.show .nav-link,
.tabs-style3 .nav-link.active span {
	color:#151122;
}

.tabs-style3 .nav-item.show .nav-link,
.tabs-style3 .nav-link.active:before {
background-color: #58bd1a;
height: 5px;
border-radius: 5px;
position: absolute;
content: '';
bottom: 5px;
left: 15px;
width: calc(100% - 30px);
right: 15px;
}






/* Tabs Style 4
========================== */
.tabs-style4 .nav-item:last-child {
	margin-right: 0px;
}
.tabs-style4 .nav-link,
.tabs-style4 .nav-link:hover{
	display: block;
	padding:25px 10px;
	position: relative;
	cursor: pointer;
	text-align: center;
	color:#151122 !important;
}
.tabs-style4 .nav-link:hover{
	border-bottom: 3px solid #5462ba;
}


.tabs-style4 .nav-item.show .nav-link,
.tabs-style4 .nav-link.active {
	color:#151122 !important;
	background-color:#ffffff;
	border-bottom: 3px solid #5c6ac4;
}

.tabs-style4 .nav-item.show .nav-link,
.tabs-style4 .nav-link.active span {
	color:#7f7c88;
}




/* Tabs Style 5
========================== */
.tabs-style5 .nav-item:last-child {
	margin-right: 0px;
}
.tabs-style5 .nav-link,
.tabs-style5 .nav-link:hover{
	display: block;
	padding:10px 15px;
	position: relative;
	cursor: pointer;
	color:#7f7c88!important;
}

.tabs-style5 .nav-link:hover{
	border-bottom: 3px solid #5462ba;
}


.tabs-style5 .nav-item.show .nav-link,
.tabs-style5 .nav-link.active {
	color:#fff !important;
	border-bottom: 3px solid #5c6ac4;
}

.tabs-style5 .nav-item.show .nav-link,
.tabs-style5 .nav-link.active span {
	color:#fff;
}



/* Step Wizard Stylesheet */

/* Wizard Steps1
========================== */
ul.stepwizard-style1{margin: 0; padding: 0px; display: inline-block;}
ul.stepwizard-style1 li{float: left; list-style: none; margin-left: -1px; }
ul.stepwizard-style1 li:first-child a{border-bottom-left-radius: 50px;
border-top-left-radius: 50px;}
ul.stepwizard-style1 li:last-child a{border-top-right-radius: 50px;
border-bottom-right-radius: 50px; content: none;}
ul.stepwizard-style1 li:last-child a.wizard-sep:after{content:none; border-left-color: transparent;}
ul.stepwizard-style1 li:last-child a.wizard-sep:before{content:none; border-left-color: transparent;}


ul.stepwizard-style1 li a.wizard-sep,
ul.stepwizard-style1 li a.wizard-sep:hover,
ul.stepwizard-style1 li a.wizard-sep:focus
{
	position: relative;	
	cursor:pointer;	
	vertical-align:middle;
	display:table-cell;
	text-align:center;	
	background: #151122;
	color: #ffffff;
	height:28px;
	min-width: 80px;
	text-decoration: none;
}
@media (min-width:768px){
ul.stepwizard-style1 li a.wizard-sep,
ul.stepwizard-style1 li a.wizard-sep:hover,
ul.stepwizard-style1 li a.wizard-sep:focus
{min-width: 120px;}
}

ul.stepwizard-style1 li a.wizard-sep:after,
ul.stepwizard-style1 li a.wizard-sep:before {
	left: 100%;
	top: 14px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

ul.stepwizard-style1 li a.wizard-sep:after {
	border-width: 14px;
	margin-top: -14px;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #151122;
	z-index:999;
}
ul.stepwizard-style1 li a.wizard-sep:before {
	border-width: 14px;
	margin-top: -14px;
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #ffffff;
	z-index:999;
}
/* Wizard Step 1 white Theme */

ul.stepwizard-style1.white-theme li a.wizard-sep,
ul.stepwizard-style1.white-theme li a.wizard-sep:hover,
ul.stepwizard-style1.white-theme li a.wizard-sep:focus
{
	background: #eff3f6;
	color: #1d3242;
}

ul.stepwizard-style1.white-theme li a.wizard-sep:after {
	border-width: 14px;
	margin-top: -14px;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #eff3f6;
	z-index:999;
}
ul.stepwizard-style1.white-theme li a.wizard-sep:before {
	border-width: 14px;
	margin-top: -14px;
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #1d3242;
	z-index:999;
}


/* Wizard Steps2
========================== */
ul.stepwizard-style2{margin: 0; padding: 0px; display: inline-block;}
ul.stepwizard-style2 li{float: left; list-style: none; margin-right:30px; position: relative;}
ul.stepwizard-style2 li:last-child{ margin-right: 0px;}
ul.stepwizard-style2 li:last-child a,
ul.stepwizard-style2 li:last-child a:hover,
ul.stepwizard-style2 li:last-child a:focus
{padding-right: 0px;}
ul.stepwizard-style2 li:last-child a:after{content:none;}


ul.stepwizard-style2 li a,
ul.stepwizard-style2 li a:hover,
ul.stepwizard-style2 li a:focus
{
	padding-right:30px;
	color: #000007;
	text-decoration: none;
	display: inline-block;
}

ul.stepwizard-style2 li a:after {
	left: 99%;
	top: 6px;
	border: solid transparent;
	content: " ";
	position: absolute;
	pointer-events: none;
	border-width: 6px;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #000007;
	z-index:9;
}
@media (min-width:768px){
ul.stepwizard-style2 li a:after {
	top: 10px;
}
}


/* Wizard Steps 3
========================== */
.stepwizard-style3 .circle-num{
	background:#ced4d8;
    width: 25px;
    height: 25px;
    border: 1px solid #ced4d8;
    text-align: center;
    line-height: 1;
	display:table;
	border-radius:50%;
	    line-height: 21px;
}
@media(max-width:479px){
.stepwizard-style3 > div{
	min-width:90%;
}
}

.stepwizard-style3 .circle-num span{color:#7f7c88; display: table-cell; vertical-align: middle; font-size: 14px;}
.stepwizard-style3 .title{color:#7f7c88; font-size:14px; padding: 0px 15px;}
.stepwizard-style3 .sep-line{width:68px; height:3px; background:#ccc;}
.stepwizard-style3 div:last-child .sep-line{width:0px; height:3px; background:#ccc;}

/* Active wizard */
.stepwizard-style3 .active-wizard .circle-num{background:#58bd1a; border: 1px solid #58bd1a;}
.stepwizard-style3 .active-wizard .circle-num span{color:#ffffff; font-size: 12px;}
.stepwizard-style3 .active-wizard .title{color:#58bd1a;}
.stepwizard-style3 .active-wizard .sep-line{background:#58bd1a;}


/* Navigation Dropdown css 
===============================*/
/* Caret Icon position */
.bs-caret{position: relative;}

/* Dropdown Caret icon Rotate 
==================================*/
.caret-icon-none .dropdown-toggle::after{display: none !important;}

.dropdown > .dropdown-toggle::after{
	vertical-align: .12em;
	content: "";
	border-top: .4em solid;
	border-right: .4em solid transparent;
	border-bottom: 0;
	border-left: .4em solid transparent;
	margin-left: -8px;
	-moz-transition: all .5s ease;
	/* WebKit */
	-webkit-transition: all .5s ease;
	/* Opera */
	-o-transition: all .5s ease;
	/* Standard */
	transition: all .5s ease;
}
.dropdown.show > .dropdown-toggle
 {
	-moz-transition: all .5s ease;
	/* WebKit */
	-webkit-transition: all .5s ease;
	/* Opera */
	-o-transition: all .5s ease;
	/* Standard */
	transition: all .5s ease;
}
.dropdown.show > .dropdown-toggle::after
{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(180deg);
	-moz-transition: all .5s ease;
	/* WebKit */
	-webkit-transition: all .5s ease;
	/* Opera */
	-o-transition: all .5s ease;
	/* Standard */
	transition: all .5s ease;
}

.dropdown .dropdown-toggle span.caret-right{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    margin-right: -6px;
}


/*  Simple Dorpdown Stylesheet 
=======================================*/
.simple-dropdown > .dropdown-menu{
	border: 1px solid #ced4d8;
	font-weight: 400;
	color: #7f7c88;
	padding:0px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(28,28,28,0.1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(28,28,28,0.1);
	box-shadow: 0px 3px 5px 0px rgba(28,28,28,0.1);
	max-height: 220px;
}
.simple-dropdown .dropdown-menu  a.dropdown-item,
.simple-dropdown .dropdown-menu  li.dropdown-item
{
	color: #7f7c88;
	font-size: 100%;
	text-decoration: none;
	padding:10px 20px !important;
	font-size: 14px;
}

.simple-dropdown .dropdown-menu li:first-child a.dropdown-item,
.simple-dropdown .dropdown-menu li.dropdown-item:first-child
{
	padding-top:16px !important;
}
.simple-dropdown .dropdown-menu  li:last-child a.dropdown-item,
.simple-dropdown .dropdown-menu  li.dropdown-item:last-child
{
	padding-bottom:16px !important;
}

.simple-dropdown .dropdown-menu  a.dropdown-item:hover,
.simple-dropdown .dropdown-menu  a.dropdown-item:focus,
.simple-dropdown .dropdown-menu  li.dropdown-item:hover,
.simple-dropdown .dropdown-menu  li.dropdown-item:focus
{
	background: #ffffff;
	outline: none;
	text-decoration: none;
	box-shadow: none;
	color:#151122;
}
/*  Simple Dorpdown With Left Top Arrow Stylesheet 
=======================================*/
.dropdown-menu.bstop-arrow:after,
.dropdown-menu.bstop-arrow:before {
	top: 100% !important;
	border: solid 1px transparent;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(180deg);
	
}

.dropdown-menu.bstop-arrow{margin-top: 0px !important;}

.dropdown-menu.left-arrow:after,
.dropdown-menu.left-arrow:before {
	bottom: 100%;
	left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.dropdown-menu.left-arrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 9px;
	margin-left: 1px;
}
.dropdown-menu.left-arrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ced4d8;
	border-width: 10px;
}

/* Left Arrow Mobile Right Css */
@media (max-width:767px){
	
.dropdown-menu.left-arrow.m-right-arrow:after,
.dropdown-menu.left-arrow.m-right-arrow:before
{
	right: 3% !important;
	left: auto !important;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.dropdown-menu.left-arrow:after, 
.dropdown-menu.left-arrow.m-right-arrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 9px;
	margin-left: 1px;
}
.dropdown-menu.left-arrow:before,
.dropdown-menu.left-arrow.m-right-arrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ced4d8;
	border-width: 10px;
}
}


/*  Simple Dorpdown With Center Top Arrow Stylesheet 
=======================================*/
.dropdown-menu.center-arrow:after,
.dropdown-menu.center-arrow:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.dropdown-menu.center-arrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 9px;
	margin-left: 1px;
}
.dropdown-menu.center-arrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ced4d8;
	border-width: 10px;
}
/*  Simple Dorpdown With Right Top Arrow Stylesheet 
=======================================*/
.dropdown-menu.right-arrow:after,
.dropdown-menu.right-arrow:before
{
	bottom: 100%;
	right: 3%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.dropdown-menu.right-arrow.m-right-arrow:after,
.dropdown-menu.right-arrow.m-right-arrow:before
{
	right: 3% !important;
	left: auto !important;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.dropdown-menu.right-arrow:after, 
.dropdown-menu.right-arrow.m-right-arrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 9px;
	margin-left: 1px;
}
.dropdown-menu.right-arrow:before,
.dropdown-menu.right-arrow.m-right-arrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ced4d8;
	border-width: 10px;
}
@media (min-width:768px){
.dropdown-menu.right-arrow:after,
.dropdown-menu.right-arrow:before {
	bottom: 100%;
	right: 3% !important;
	left: auto;
}
.dropdown-menu.right-arrow:after {
	margin-right: 1px;
}
	.dropdown-menu.right-arrow:before {
	border-width: 10px;
}
}





/*simple Dropdown common css */
.simple-dropdown > .dropdown-menu label{margin-bottom: 0px;}
.simple-dropdown > .dropdown-menu.h-auto{max-height:none;}

/* Dropdown Footer */
.simple-dropdown > .dropdown-menu .drop-footer{
	border-top: solid 1px #ced4d8;
	padding: 15px;
}

/* Dropdown Sepration */
.simple-dropdown > .dropdown-menu .dropdown-divider{
	height: 0;
    overflow: hidden;
	border-top: 1px solid #ced4d8;}


/* Reponsive Table Dorpdown */
.table-action-dropdown a.dropdown-toggle::after{content: none;}
.table-action-dropdown > ul.dropdown-menu{
	border: 1px solid #ced4d8;
	font-weight: 400;
	color: #7f7c88;
	padding: 0px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(28,28,28,0.1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(28,28,28,0.1);
	box-shadow: 0px 3px 5px 0px rgba(28,28,28,0.1);
	max-height: 220px;
}
.table-action-dropdown ul.dropdown-menu  li:last-child{padding-bottom: 20px;}
.table-action-dropdown ul.dropdown-menu  li a
{
	color: #7f7c88;
	font-size: 14px;
	text-decoration: none;
	padding:16px 20px 0px 20px !important;
	display: block;
}
.table-action-dropdown ul.dropdown-menu  li a:hover,
.table-action-dropdown ul.dropdown-menu  li a:focus
{
	background: #ffffff;
	outline: none;
	text-decoration: none;
	box-shadow: none;
	color:#151122;
}

/* Dotcompal FORM STYLESHEET CSS
========================================*/
/*CSS - Placeholder Color*/
::-webkit-input-placeholder { color: #b3afbc !important; }
::-moz-placeholder {color: #b3afbc !important;}
:-ms-input-placeholder { color: #b3afbc !important;}
:-moz-placeholder {color: #b3afbc !important;}

.smart-form input[type="text"],
.smart-form input[type="text"]:hover,
.smart-form input[type="email"],
.smart-form input[type="email"]:hover,
.smart-form input[type="url"],
.smart-form input[type="url"]:hover,
.smart-form input[type="password"],
.smart-form input[type="password"]:hover,
.smart-form input[type="number"],
.smart-form input[type="number"]:hover,
.smart-form input[type="file"],
.smart-form input[type="file"]:hover,
.smart-form input[type="tel"],
.smart-form input[type="tel"]:hover
{
	height: 50px;
	border: 1px solid #ced4d8;
	box-shadow: none;
	border-radius: 5px;
	color: #151122;
	padding: 10px 20px;
	outline: none;
	line-height: normal;
	font-size: 14px !important;
}
/* Height 40 */
.smart-form.field-h40 input[type="text"],
.smart-form.field-h40 input[type="text"]:hover,
.smart-form.field-h40 input[type="email"],
.smart-form.field-h40 input[type="email"]:hover,
.smart-form.field-h40 input[type="password"],
.smart-form.field-h40 input[type="password"]:hover,
.smart-form.field-h40 input[type="number"],
.smart-form.field-h40 input[type="number"]:hover,
.smart-form.field-h40 input[type="file"],
.smart-form.field-h40 input[type="file"]:hover,
.smart-form.field-h40 input[type="tel"],
.smart-form.field-h40 input[type="tel"]:hover
{
	height: 40px;
	border: 1px solid #ced4d8;
}

.smart-form.field-h40 input[type="text"]:focus,
.smart-form.field-h40 input[type="email"]:focus,
.smart-form.field-h40 input[type="password"]:focus,
.smart-form.field-h40 input[type="number"]:focus,
.smart-form.field-h40 input[type="file"]:focus,
.smart-form.field-h40 input[type="tel"]:focus,
.smart-form.field-h40 select:focus,
.smart-form.field-h40 select:active,
.smart-form.field-h40 textarea:focus,
.smart-form.field-h40 textarea:active
{
	border: 1px solid #5c6ac4 !important;
	outline: none !important;
	box-shadow: none !important;
}

label{font-size: 14px !important;}


/* --- Text Box Field---*/
.field-h40{ 
	height: 40px !important;
	border: 1px solid #ced4d8;
	font-size: 14px !important;

}

.smart-form select,
.smart-form select:hover
{
	height: 48px !important;
	line-height: 48px;
	border: 1px solid #ced4d8;
	box-shadow: none;
	border-radius: 5px;
	color: #151122;
	padding: 10px 20px;
	outline: none;
	font-size: 14px !important;
}

.smart-form textarea,
.smart-form textarea:hover
{
	min-height: 90px;
	border: 1px solid #ced4d8;
	box-shadow: none;
	border-radius: 5px;
	color: #151122;
	padding: 10px 20px;
	max-height: 170px;
	resize: none;
	font-size: 14px !important;
}

.smart-form input[type="text"]:focus,
.smart-form input[type="email"]:focus,
.smart-form input[type="password"]:focus,
.smart-form input[type="number"]:focus,
.smart-form input[type="file"]:focus,
.smart-form input[type="tel"]:focus,
.smart-form select:focus,
.smart-form select:active,
.smart-form textarea:focus,
.smart-form textarea:active
{
	border: 1px solid #5c6ac4;
	outline: none;
	box-shadow: none !important;
}

.smart-form input[readonly],
.smart-form input[readonly]:focus
{background: #ffffff; color: #7f7c88; border: solid 1px #ced4d8; box-shadow: none; outline: none;}

.smart-form input[readonly]:hover
{ color: #292929;}


.smart-form .readonly-data,
.smart-form .readonly-data:hover,
.smart-form .readonly-data:focus
{background: #eff3f6 !important; color: #b3afbc !important; border: solid 1px #eff3f6 !important; box-shadow: none !important; outline: none !important;}

.smart-form input[disabled],
.smart-form input[disabled]:hover,
.smart-form input[disabled]:focus
{background: #dee7ee; color: #8fa1b4; border: solid 1px #dee7ee; box-shadow: none; outline: none; cursor: not-allowed}



/* Addon Buttons Right Position */
.form-control-icon-right{
	position: absolute;
	right: 1px;
	top: 6px;
	bottom: 1px;
	border-left: hidden;
	border-radius: 0;
	z-index: 9;
}
.form-control-icon-right .addon-icon,
.form-control-icon-right .addon-icon:hover,
.form-control-icon-right .addon-icon:focus
{color: #7f7c88; background-color: transparent; height: 87%; border: none; border-left: solid 1px #ced4d8; border-top-left-radius: 0px; border-bottom-left-radius: 0px; box-shadow: none; outline: none; line-height: 100%;}

/* Addon Buttons Left Position */
.form-control-icon-left{
	position: absolute;
	left: 1px;
	top: 6px;
	bottom: 1px;
	border-left: hidden;
	border-radius: 0;
}
.form-control-icon-left .addon-icon,
.form-control-icon-left .addon-icon:hover,
.form-control-icon-left .addon-icon:focus
{color: #7f7c88; background-color: #ffffff; height: 87%; border: none; border-right: solid 1px #ced4d8; border-top-right-radius: 0px; border-bottom-right-radius: 0px; box-shadow: none; outline: none;}

/* Addon Buttons Right Position Text */
.form-control-text-right{
	position: absolute;
	right: 1px;
	top: 1px;
	bottom: 1px;
	border-left: hidden;
	border-radius: 0;
}
.form-control-text-right .addon-icon,
.form-control-text-right .addon-icon:hover,
.form-control-text-right .addon-icon:focus
{color: #7f7c88;  height: 99%; border: none; border-radius: 0; border-top-right-radius: 5px; border-bottom-right-radius: 5px; box-shadow: none; outline: none; cursor: default;}

/* Addon Buttons Left Position Text */
.form-control-text-left{
	position: absolute;
	left: 1px;
	top: 1px;
	bottom: 1px;
	border-left: hidden;
	border-radius: 0;
}
.form-control-text-left .addon-icon,
.form-control-text-left .addon-icon:hover,
.form-control-text-left .addon-icon:focus
{color: #7f7c88;  height: 99%; border: none; border-radius: 0; border-top-left-radius: 5px; border-bottom-left-radius: 5px; box-shadow: none; outline: none; cursor: default;}

/* Error Message */
.field-with-errors{position:relative; overflow:hidden;}
.field-with-errors input[type=email],.field-with-errors input[type=text], 
.field-with-errors input[type=password],.field-with-errors textarea{  
    border: 1px solid #ff2332 !important;
}
.field-with-success{position:relative; overflow:hidden;}
.field-with-success input[type=email],.field-with-success input[type=text], 
.field-with-success input[type=password],.field-with-success textarea{  
    border: 1px solid #05c706 !important;
}
.smart-form .error-message input[type="email"],
.smart-form .error-message input[type="text"],
.smart-form .error-message input[type="password"],
.smart-form .error-message input[type="number"],
.smart-form .error-message input[type="file"],
.smart-form .error-message input[type="tel"]
{
	border: 1px solid #ff2332;
	position: relative;
}

.smart-form .error-message .form-control,
.smart-form .error-message .btn.select-btn-style
{
	content: "";
	top: 0px;
	right: 0px;
	background:#ffffff url(../images/error-danger.png) no-repeat top right;
	position: absolute;
	z-index: 1;
}
.smart-form .error-message small { color: #ff2332; display: block !important}


/* bs-searchbox-field hidden error message */
.smart-form .error-message .bs-searchbox-field input[type="text"],
.smart-form .success-message .bs-searchbox-field input[type="text"]
{border-color: #ced4d8; background-image: none;}



/* Select Dropdown Error message css */
.smart-form .error-message .btn-group.bootstrap-select
{
	border: 1px solid #ff2332;
	position: relative;
	height: 50px;
}

.bs-h40 .error-message .btn-group.bootstrap-select,
.error-message.bs-h40 .btn-group.bootstrap-select
{
	height: 40px;
}





/* Success Message */
.smart-form .success-message input[type="email"],
.smart-form .success-message input[type="text"],
.smart-form .success-message input[type="password"],
.smart-form .success-message input[type="number"],
.smart-form .success-message input[type="file"],
.smart-form .success-message input[type="tel"]{
	border: 1px solid #05c706;
	position: relative;
}

.smart-form .success-message .form-control,
.smart-form .success-message .btn.select-btn-style
{
	content: "";
	top: 0px;
	right: 0px;
	background:#ffffff url(../images/error-success.png) no-repeat top right;
	position: absolute;
	z-index: 1;
}

/* Select Dropdown Success message css */
.smart-form .success-message .btn-group.bootstrap-select
{
	border: 1px solid #05c706;
	position: relative;
	height: 50px;
}

.bs-h40 .success-message .btn-group.bootstrap-select,
.success-message.bs-h40 .btn-group.bootstrap-select
{
	height: 40px;
}

.smart-form .success-message small { color: #ff2332}


/* Saerch Field box */
.bs-searchbox-field
 {
	padding:10px 20px;
	background: #eff3f6;
	border-bottom: solid 1px #ced4d8;
	border-radius:5px 5px 0px 0px;
}

/* --- Smart search box ---*/
.smart-search-field input[type="text"],
.smart-search-field input[type="text"]:hover,
.smart-search-field input[type="text"]:focus,
.smart-search-field input[type="password"]:hover,
.smart-search-field input[type="password"]:focus,
.smart-search-field input[type="password"]
{border:solid 1px #ced4d8; border-radius:5px 0px 0px 5px !important; height:40px !important; padding: 10px 20px; background:#ffffff; outline: none; box-shadow: none; border-right: hidden; color: #151122; font-size: 14px; }
.smart-search-field button[type="submit"],
.smart-search-field button[type="submit"]:focus{border:solid 1px #ced4d8; background:#ffffff; border-radius:0px 5px 5px 0px;  border-left:hidden; height:40px; outline: none; box-shadow: none; color: #7f7c88;}

.smart-search-field button[type="submit"]:hover{ color: #151122;}

.smart-search-field.fh50 input[type="text"],
.smart-search-field.fh50 input[type="text"]:hover,
.smart-search-field.fh50 input[type="text"]:focus,
.smart-search-field.fh50 input[type="password"]:hover,
.smart-search-field.fh50 input[type="password"]:focus,
.smart-search-field.fh50 input[type="password"],
.smart-search-field.fh50 button[type="submit"],
.smart-search-field.fh50 button[type="submit"]:focus
{height: 48px !important; font-size: 16px;}



/* --- search box ---*/
.bs-searchbox-field input[type="text"],
.bs-searchbox-field input[type="text"]:hover,
.bs-searchbox-field input[type="text"]:focus,
.bs-searchbox-field input[type="password"]:hover,
.bs-searchbox-field input[type="password"]:focus,
.bs-searchbox-field input[type="password"]
{border:solid 1px #ced4d8; border-radius:5px 0px 0px 5px !important; height:40px !important; padding:5px 20px; background:#ffffff !important; outline: none; box-shadow: none; border-right: hidden !important; color: #151122; font-size: 14px; }
.bs-searchbox-field button[type="submit"],
.bs-searchbox-field button[type="submit"]:focus{border:solid 1px #ced4d8; background:#ffffff; border-radius:0px 5px 5px 0px;  border-left:hidden; height:40px; outline: none; box-shadow: none; color: #7f7c88;}
.bs-searchbox-field a,
.bs-searchbox-field a:focus{border:solid 1px #ced4d8; background:#ffffff; border-radius:0px 5px 5px 0px;  border-left:hidden; height:40px; outline: none; box-shadow: none; color: #7f7c88;}



/* Saglus Smart Button css start
==================================== */
a.base-btn,
.base-btn,
a.base-btn:focus,
.base-btn:focus
{
	color:#7f7c88;
	padding:10px 20px;
	text-decoration:none;
	display:inline-block; 
	border-radius:5px;
	background: #ffffff;
	border: solid 1px transparent;
	outline: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	/*white-space: nowrap;*/
	vertical-align: middle;
	position: relative;
	margin: 0;
	overflow: hidden;
	line-height: normal;
	outline: none;
	box-shadow: none;
	font-size: 16px;
}

a.base-btn.btn-h50,
.base-btn.btn-h50,
a.base-btn.btn-h50:focus,
.base-btn.btn-h50:focus
{
	padding:14px 20px;
	font-size: 14px;
}
a.base-btn.btn-h30,
.base-btn.btn-h30,
a.base-btn.btn-h30:focus,
.base-btn.btn-h30:focus
{
	padding:6px 15px 4px 15px;
	border-radius: 3px !important;
	font-size: 14px;
}

a.base-btn.btn-h25,
.base-btn.btn-h25,
a.base-btn.btn-h25:focus,
.base-btn.btn-h25:focus
{
	padding:5px 10px;
	border-radius: 5px !important;
	font-size: 14px;
}
a.tag-btn,
.tag-btn,
a.tag-btn:focus,
.tag-btn:focus
{
	color:#7f7c88;
	padding:6px 12px 4px 12px;
	text-decoration:none;
	display:inline-block; 
	border-radius:3px;
	border: solid 1px transparent;
	outline: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	white-space: normal;
	vertical-align: middle;
	position: relative;
	margin: 0;
	overflow: hidden;
	word-break: break-all;
	line-height: normal;
	box-shadow: none;
}

/* Alert Message Box Stylesheet 
===============================================*/
.alert-dismissible .close,
.alert-dismissible .close:focus
{padding: 5px;
color: #ffffff;
opacity: 9;
outline: none;
font-size: 8px;
font-weight: 300;  }
.alert-dismissible i.fa,
.alert-dismissible i.icon{width: 20px; height: 20px; min-width: 20px;
min-height: 20px; border-radius: 50%; display: table-cell; vertical-align: middle; text-align: center; background: #ffffff;}

/* Alert Success Box */
.alert-success-box{background: #05c706;	color: #ffffff; border-radius: 5px;}
.alert-success-box i.fa,
.alert-success-box i.icon
{color:#05c706;}

/* Alert Danger Box */
.alert-danger-box{background: #ff2332;	color: #ffffff; border-radius: 5px;}
.alert-danger-box i.fa,
.alert-danger-box i.icon
{color:#ff2332;}

/* Alert Warning Box */
.alert-warning-box{background: #fdc100;	color: #ffffff; border-radius: 5px;}
.alert-warning-box i.fa{color:#fdc100;}

/* Alert Primary Box */
.alert-primary-box{background: #826bff;	color: #ffffff; border-radius: 5px;}
.alert-primary-box i.fa,
.alert-primary-box i.icon
{color:#826bff;}

/* Alert Primary1 Box */
.alert-primary-box1{background: #826bff;	color: #ffffff; border-radius: 5px;}


/* Footer Section Css Start
=====================================*/
.footer-section.footer-design,
.footer-design{background: #eff3f6; border-top: solid 1px #ced4d8; padding-top:15px; padding-bottom:15px; width: 100%; color: #34303f; font-weight: 400;  }

.footer-section.footer-design a.privacy-links,
.footer-design a.privacy-links{color: #7f7c88; text-decoration: none;}
.footer-section.footer-design a.footer-links,
.footer-design a.footer-links
{color: #34303f; text-decoration: none;}
.footer-section.footer-design a.fb,
.footer-section.footer-design a.twitter,
.footer-design a.fb,
.footer-design a.twitter
{color: #7f7c88; text-decoration: none;}
.footer-section.footer-design a.footer-links:hover,
.footer-section.footer-design a.privacy-links:hover,
.footer-design a.footer-links:hover,
.footer-design a.privacy-links:hover
{color: #39295d; text-decoration: none;}
.footer-section.footer-design a.fb:hover,
.footer-design a.fb:hover{color: #3B5998; text-decoration: none;}
.footer-section.footer-design a.twitter:hover,
.footer-design a.twitter:hover{color: #1DA1F2; text-decoration: none;}
.footer-section.footer-design .copyright,
.footer-design .copyright{position: relative; top: 2px;  color: #7f7c88; font-size: 16px;}

.footer-section.footer-stickey,
.footer-stickey{position: absolute; bottom: 0;}

/* Sticky Footer CSS */
html {
	position: relative;
	min-height: 100%;
}
.footer-section.footer-sticky-height,
.footer-sticky-height{
	height: 114px;
}
.footer-section.footer-sticky-height1,
.footer-sticky-height1{
	height: 69px;
}
@media (min-width:578px){
.footer-section.footer-sticky-height1,
.footer-sticky-height1{
	height: 50px;
}
}
@media (min-width:768px){
.footer-section.footer-sticky-height,
.footer-sticky-height{
	height: 90px;
}
}
@media (min-width:980px){
.footer-section.footer-sticky-height,
.footer-sticky-height{
	height: 71px;
}
}
@media (min-width:1200px){
.footer-section.footer-sticky-height,
.footer-sticky-height{
	height: 52px;
}
}
.footer-section.footer-design,
.footer-design {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* All Button Text and Bgcolor stylesheet css
====================================================*/
/*=========== Text Color Shades ============ */
/* White Color shades */
.white-clr,
a.white-clr{color: #ffffff;} /* Strong Blue color */

/* Blue Color shades */
.s-blue-clr,
a.s-blue-clr{color: #5462ba;} /* Strong Blue color */
.p-blue-clr,
a.p-blue-clr{color: #5c6ac4!important;} /* Pure Blue Color */
.p-blue-clr1,
a.p-blue-clr1{color: #39295d!important;} /* Pure Blue Color */
.p-blue-hover-clr:hover,
a.p-blue-hover-clr:hover{color: #5c6ac4!important;} /* Pure Blue Hover Color */
.vl-blue-clr,
a.vl-blue-clr{color: #826bff} /* Very Light Blue Color */
.vd-dblue-clr,
a.vd-dblue-clr{color: #1d3242 } /* Very Dark Blue Color */
.d-mblue-clr,
a.d-mblue-clr{color: #3c708c } /* Dark Moderate Blue Color */

/* Green Color shades */
.s-green-clr,
a.s-green-clr{color: #58bd1a;} /* Strong Green Color */
.d-green-clr,
a.d-green-clr{color: #51a51e;} /* Dark Green Color */
.sl-green-clr,
a.sl-green-clr{color: #05c706} /* Strong Lime Green Color */

/* Grayish Blue Color shades */
.gblue-clr,
a.gblue-clr{color: #b3afbc} /* Grayish Blue Color */
.gblue-clr1,
a.gblue-clr1{color: #8fa1b4} /* Grayish Blue Color 1 */
.l-gblue-clr,
a.l-gblue-clr{color: #ced4d8} /* Light Grayish Blue Color */
.vl-gblue-clr,
a.vl-gblue-clr{color: #eff3f6} /* Very Light Grayish Blue Color */
.d-gblue-clr,
a.d-gblue-clr{color: #7f7c88} /* Dark Grayish Blue Color */
.vd-gblue-clr,
a.vd-gblue-clr{color: #151122} /* Very Dark Grayish Blue Color */
.s-gblue-clr,
a.s-gblue-clr{color: #a19cac } /* Santas Grayish Clor */
.g-violet-clr,
a.g-violet-clr{color: #cfcbd8 } /* Santas Grayish Clor */

/* Cyan Color shades */
.l-cyan-clr,
a.l-cyan-clr{color: #36d1fe} /* Light Cyan Color */
.s-cyan-clr,
a.s-cyan-clr{color: #00b4b1} /* Strong Cyan Color */

/* Yellow Color shades */
.p-yellow-clr,
a.p-yellow-clr{color: #fdc100} /* Pure Yellow Color */
.s-yellow-clr,
a.s-yellow-clr{color: #f0ff00} /* Strong Yellow Color */


/* Red Color shades */
.l-red-clr,
a.l-red-clr{color: #fd4b6d} /* Light Red Color */
.d-red-clr,
a.d-red-clr{color: #990000} /* Dark Cyan Color */
.vi-red-clr,
a.vi-red-clr{color: #ff2332} /* Very Light Cyan Color */

/* violet Color shades */
.soft-violet-clr,
a.soft-violet-clr
{color: #ad5add} /* Soft Violet Color */

/* Purple Color shades */
.purple-clr,
a.purple-clr
{color: #c275ee } /* Purple Violet Color */

/* Moderate blue shades */
.m-blue-clr,
a.m-blue-clr
{color: #5c6ac4} /* Moderate blue Color */

/* Orange Color shades */
.orange-clr,
a.orange-clr
{color: #fdc100  } /* Orange Violet Color */




/*=========== Background Color Shades ============ */

/* Bg Blue shades */
.s-blue-bg{background: #5462ba;} /* Strong Blue Background */
.p-blue-bg{background: #5c6ac4;} /* Pure Blue Background */
.m-blue-bg{background: #5c6ac4;} /* Moderate blue Background */
.vl-blue-bg{background: #826bff} /* Very Light Blue Background */
.vd-dblue-bg{background: #1d3242 } /* Very Dark Blue Background */

/* Green Background shades */
.s-green-bg{background: #58bd1a;} /* Strong Green Background */
.d-green-bg{background: #51a51e;} /* Dark Green Background */
.sl-green-bg{background: #05c706} /* Strong Lime Green Background */

/* Grayish Blue Background shades */
.gblue-bg,a.d-gblue-bg{background: #b3afbc} /* Grayish Blue Background */
.gblue-bg1,a.gblue-bg1{background: #8fa1b4} /* Grayish Blue Background 1 */
.l-gblue-bg,a.l-gblue-bg{background: #ced4d8} /* Light Grayish Blue Background */
.vl-gblue-bg,a.vl-gblue-bg{background: #eff3f6} /* Very Light Grayish Blue Background */
.d-gblue-bg,a.d-gblue-bg{background: #7f7c88} /* Dark Grayish Blue Background */
.vd-gblue-bg,a.vd-gblue-bg{background: #151122} /* Very Dark Grayish Blue Background */

/* Cyan Background shades */
.l-cyan-bg{background: #36d1fe} /* Light Cyan Background */
.s-cyan-bg{background: #00b4b1} /* Strong Cyan Background */

/* Yellow Background shades */
.p-yellow-bg{background: #fdc100} /* Pure Yellow Background */

/* Red Background shades */
.l-red-bg{background: #fd4b6d} /* Light Red Background */
.d-red-bg{background: #990000} /* Dark Cyan Background */
.vi-red-bg{background: #ff2332} /* Very Light Cyan Background */
.b-red-bg{background: #ff656f} /* Bright Red Background */

/* violet Background shades */
.soft-violet-bg{background: #ad5add} /* Soft Violet Background */

/* White Background */
.white-bg{background: #ffffff} /* White Background */



/* ==================== Button Colors ============================*/

/* White Button BGcolor */
.white-btn,
a.white-btn
{color: #151122; background-color: #ffffff; border-color: #ffffff;}
.white-btn:hover,a.white-btn:hover,
.white-btn:focus,a.white-btn:focus
{background-color: #e8e8e8; color: #151122; border-color: #ffffff; box-shadow: none; outline: none;}

/* Default Button BGcolor */
.default-btn,
a.default-btn
{color: #7f7c88; background-color: #ffffff; border-color: #ced4d8;}
.default-btn:hover,a.default-btn:hover,
.default-btn:focus,a.default-btn:focus
{background-color: #ffffff; color: #000007; border-color: #cacfd2; box-shadow: none; outline: none;}

/* Active Button BGcolor */
.active-btn,a.active-btn,
.active-btn:hover,a.active-btn:hover,
.active-btn:focus,a.active-btn:focus
{color: #000007 !important; background-color: #ced4d8 !important; border-color: #ced4d8 !important;}

/* Disable Button  BGcolor */
a.disable-btn,
a.disable-btn:focus,
a.disable-btn:hover,
.disable-btn,
.disable-btn:hover, 
.disable-btn:focus,
.dropdown-toggle.disabled
{
	cursor:not-allowed !important;
	background-color: #eff3f6 !important; 
	color: #b3afbc !important;
	border-color:#ced4d8 !important;
}

/* Strong Blue Button  BGcolor */
.blue-btn,
a.blue-btn
{color: #ffffff !important; background-color: #5c6ac4; border-color: #5c6ac4;}
.blue-btn:hover,a.blue-btn:hover,
.blue-btn:focus,a.blue-btn:focus
{background-color: #5462ba; color: #ffffff; border-color: #5462ba; box-shadow: none; outline: none;}
.blue-btn1,
a.blue-btn1
{ 
	color: #ffffff !important;
	background-color: #39295d;
	border-color: #39295d;
}
.blue-btn1:hover,a.blue-btn1:hover,
.blue-btn1:focus,a.blue-btn1:focus
{
	background-color: #513c80;
	color: #ffffff;
	border-color: #513c80;
	box-shadow: none;
	outline: none;
}

.blue-btn-subscribe,
a.blue-btn-subscribe
{color: #ffffff !important; background-color: #5c6ac4 !important; border-color: #5c6ac4 !important;}
.blue-btn-subscribe:hover,a.blue-btn-subscribe:hover,
.blue-btn-subscribe:focus,a.blue-btn-subscribe:focus
{background-color: #5462ba !important; color: #ffffff; border-color: #5462ba !important; box-shadow: none; outline: none;}

.blue-btn-outline,
a.blue-btn-outline
{color: #5c6ac4; background-color: #ffffff; border-color: #5c6ac4;}
.blue-btn-outline:hover,a.blue-btn-outline:hover,
.blue-btn-outline:focus,a.blue-btn-outline:focus
{background-color: #5462ba; color: #ffffff; border-color: #5462ba;}

.normal-btn-outline,
a.normal-btn-outline
{color: #7f7c88; background-color: #ffffff; border-color: #ced4d8;}
.normal-btn-outline:hover,a.normal-btn-outline:hover,
.normal-btn-outline:focus,a.normal-btn-outline:focus
{background-color: #5462ba; color: #ffffff; border-color: #5462ba;}


.blue-btn.active-btn,
a.blue-btn.active-btn,
.blue-btn.active-btn:hover,
a.blue-btn.active-btn:hover,
.blue-btn.active-btn:focus,
a.blue-btn.active-btn:focus
{color: #ffffff !important; background-color: #5462ba !important; border-color: #5462ba !important;}

/* Moderate blue Button */
.m-blue-btn,
a.m-blue-btn
{color: #ffffff !important; background-color: #5c6ac4; border-color: #5c6ac4;}
.m-blue-btn:hover,a.m-blue-btn:hover,
.m-blue-btn:focus,a.m-blue-btn:focus
{background-color: #5462ba; color: #ffffff; border-color: #5462ba; box-shadow: none; outline: none;}

/* Strong Red Button  BGcolor */
.red-btn,
a.red-btn
{color: #ffffff; background-color: #ff2f3d; border-color: #ff2f3d;}
.red-btn.active-btn,
a.red-btn.active-btn,
.red-btn.active-btn:hover,
a.red-btn.active-btn:hover,
.red-btn.active-btn:focus,
a.red-btn.active-btn:focus
{color: #ffffff !important; background-color: #ff2332 !important; border-color: #ff2332 !important;}

/* Bright Red Button  BGcolor */
.b-red-btn,
a.b-red-btn
{color: #ffffff; background-color: #ff656f; border-color: #ff656f;}
.b-red-btn:hover,
a.b-red-btn:hover,
.b-red-btn:focus,
a.b-red-btn:focus
{color: #ffffff !important; background-color: #ff656f  !important; border-color: #ff656f  !important;}


/* Strong Green Button  BGcolor */
.green-btn,
a.green-btn
{color: #ffffff; background-color: #58bd1a; border-color: #58bd1a;}
.green-btn:hover,a.green-btn:hover,
.green-btn:focus,a.green-btn:focus
{background-color: #51a51e; color: #ffffff; border-color: #51a51e; box-shadow: none; outline: none;}

.green-btn-outline,
a.green-btn-outline
{color: #58bd1a; background-color: #ffffff; border-color: #58bd1a;}
.green-btn-outline:hover,a.green-btn-outline:hover,
.green-btn-outline:focus,a.green-btn-outline:focus
{background-color: #51a51e; color: #ffffff; border-color: #51a51e;}

.green-btn.active-btn,
a.green-btn.active-btn,
.green-btn.active-btn:hover,
a.green-btn.active-btn:hover,
.green-btn.active-btn:focus,
a.green-btn.active-btn:focus
{color: #ffffff !important; background-color: #51a51e !important; border-color: #51a51e !important;}


/* Dark Grayish Blue Button  BGcolor */
.grayish-btn,
a.grayish-btn
{color: #ffffff; background-color: #7f7c88; border-color: #7f7c88;}
.grayish-btn,
a.grayish-btn,
.grayish-btn:hover,
a.grayish-btn:hover,
.grayish-btn:focus,
a.grayish-btn:focus
{color: #ffffff !important; background-color: #7f7c88 !important; border-color: #7f7c88 !important;}

/* Light Cyan Tag Button  BGcolor */
a.l-cyan-btn,
.l-cyan-btn,
a.l-cyan-btn:focus,
a.l-cyan-btn:hover,
.l-cyan-btn:focus,
.l-cyan-btn:hover
{
	color: #ffffff ;
	background-color: #36d1fe;
	border-color: #36d1fe;
}

/* Help Button */
.video-help-btn,
a.video-help-btn
{color: #666077; background-color: #ffffff; border-color: #ced4d8;}
.video-help-btn:hover,a.video-help-btn:hover,
.video-help-btn:focus,a.video-help-btn:focus
{background-color: #ffffff; color: #000007; border-color: #ced4d8; box-shadow: none; outline: none;}


/* pure-yellow Tag Button  BGcolor */
a.p-yellow-btn,
.p-yellow-btn,
a.p-yellow-btn:focus,
a.p-yellow-btn:hover,
.p-yellow-btn:focus,
.p-yellow-btn:hover
{
	color: #ffffff ;
	background-color: #fdc100;
	border-color: #fdc100;
}

/* Very Light Blue Tag Button  BGcolor */
a.vl-blue-btn,
.vl-blue-btn,
a.vl-blue-btn:focus,
a.vl-blue-btn:hover,
.vl-blue-btn:focus,
.vl-blue-btn:hover
{
	color: #ffffff ;
	background-color: #826bff;
	border-color: #826bff;
}


/* Bright-Red Tag Button  BGcolor */
a.b-red-btn,
.b-red-btn,
a.b-red-btn:focus,
a.b-red-btn:hover,
.b-red-btn:focus,
.b-red-btn:hover
{
	color: #ffffff ;
	background-color: #fd4b6d;
	border-color: #fd4b6d;
}

/* soft-blue Tag Button  BGcolor */
a.soft-blue-btn,
.soft-blue-btn,
a.soft-blue-btn:focus,
a.soft-blue-btn:hover,
.soft-blue-btn:focus,
.soft-blue-btn:hover
{
	color: #ffffff ;
	background-color: #826cff;
	border-color: #826cff;
}



/* grayish-blue Tag Button  BGcolor */
a.g-blue-btn,
.g-blue-btn,
a.g-blue-btn:focus,
a.g-blue-btn:hover
.g-blue-btn:focus,
.g-blue-btn:hover
{
	color: #ffffff ;
	background-color: #8fa1b4;
	border-color: #8fa1b4;
}

/* vivid-red Tag Button  BGcolor */
a.vi-red-btn,
.vi-red-btn,
a.vi-red-btn:focus,
a.vi-red-btn:hover,
.vi-red-btn:focus,
.vi-red-btn:hover
{
	color: #ffffff ;
	background-color: #ff2332;
	border-color: #ff2332;
}

/* strong-lime-green Tag Button  BGcolor */
a.sl-green-btn,
.sl-green-btn,
a.sl-green-btn:focus,
a.sl-green-btn:hover,
.sl-green-btn:focus,
.sl-green-btn:hover
{
	color: #ffffff ;
	background-color: #05c706;
	border-color: #05c706;
}


/* soft-violet Tag Button  BGcolor */
a.soft-violet-btn,
.soft-violet-btn,
a.soft-violet-btn:focus,
a.soft-violet-btn:hover,
.soft-violet-btn:focus,
.soft-violet-btn:hover
{
	color: #ffffff ;
	background-color: #ad5add;
	border-color: #ad5add;
}



/* strong-cyan Tag Button  BGcolor */
a.s-cyan-btn,
.s-cyan-btn,
a.s-cyan-btn:focus,
a.s-cyan-btn:hover,
.s-cyan-btn:focus,
.s-cyan-btn:hover
{
	color: #ffffff ;
	background-color: #00b4b1;
	border-color: #00b4b1;
}


/* dark-red Tag Button  BGcolor */
a.d-red-btn,
.d-red-btn,
a.d-red-btn:focus,
a.d-red-btn:hover,
.d-red-btn:focus,
.d-red-btn:hover
{
	color: #ffffff ;
	background-color: #990000;
	border-color: #990000;
}


/* dark-blue Tag Button  BGcolor */
a.d-blue-btn,
.d-blue-btn,
a.d-blue-btn:focus,
a.d-blue-btn:hover,
.d-blue-btn:focus,
.d-blue-btn:hover
{
	color: #ffffff ;
	background-color: #003e7e;
	border-color: #003e7e;
}


/* very-dark-blue Tag Button  BGcolor */
a.vd-blue-btn,
.vd-blue-btn,
a.vd-blue-btn:focus,
a.vd-blue-btn:hover,
.vd-blue-btn:focus,
.vd-blue-btn:hover
{
	color: #ffffff ;
	background-color: #1d3242;
	border-color: #1d3242;
}

/* Santas Gray Button  BGcolor */
a.s-gray-btn,
.s-gray-btn,
a.s-gray-btn:focus,
.s-gray-btn:focus
{
	color: #a19cac ;
	background-color: transparent;
	border-color: #a19cac;
}
a.s-gray-btn:hover,
.s-gray-btn:hover
{
	color: #ffffff ;
	background-color: transparent;
	border-color: #ffffff;
}
/* White  Outline Button  */
a.white-outline-btn,
.white-outline-btn,
a.white-outline-btn:focus,
.white-outline-btn:focus
{
	color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
}
a.white-outline-btn:hover,
.white-outline-btn:hover
{
	color: #ffffff ;
	background-color: transparent;
	border-color: #ffffff;
}

/* Social Icon Button Color */
/* facebook Button */
.fb-btn,
a.fb-btn
{color: #ffffff; background-color: #336699; border-color: #336699;}
.fb-btn:hover,a.fb-btn:hover,
.fb-btn:focus,a.fb-btn:focus
{background-color: #336699; color: #ffffff; border-color: #336699; box-shadow: none; outline: none;}

/* Twitter Button */
.twitter-btn,
a.twitter-btn
{color: #ffffff; background-color: #00acec; border-color: #00acec;}
.twitter-btn:hover,a.twitter-btn:hover,
.twitter-btn:focus,a.twitter-btn:focus
{background-color: #00acec; color: #ffffff; border-color: #00acec; box-shadow: none; outline: none;}

/* Linked in Button */
.linkin-btn,
a.linkin-btn
{color: #ffffff; background-color: #0877b5; border-color: #0877b5;}
.linkin-btn:hover,a.linkin-btn:hover,
.linkin-btn:focus,a.linkin-btn:focus
{background-color: #0877b5; color: #ffffff; border-color: #0877b5; box-shadow: none; outline: none;}

/* Google plus in Button */
.gplus-btn,
a.gplus-btn
{color: #ffffff; background-color: #dc4e41; border-color: #dc4e41;}
.gplus-btn:hover,a.gplus-btn:hover,
.gplus-btn:focus,a.gplus-btn:focus
{background-color: #dc4e41; color: #ffffff; border-color: #dc4e41; box-shadow: none; outline: none;}

/* Google Button */
.google-btn,
a.google-btn
{color: #ffffff; background-color: #eff3f6; border-color: #eff3f6;}
.google-btn:hover,a.google-btn:hover,
.google-btn:focus,a.google-btn:focus
{background-color: #eff3f6; color: #ffffff; border-color: #eff3f6; box-shadow: none; outline: none;}

/* Instagram  Button */
.insta-btn,
a.insta-btn
{color: #ffffff; background-color: #e4405f; border-color: #e4405f;}
.insta-btn:hover,a.insta-btn:hover,
.insta-btn:focus,a.insta-btn:focus
{background-color: #e4405f; color: #ffffff; border-color: #e4405f; box-shadow: none; outline: none;}

/* Instagram  Button */
.pinterest-btn,
a.pinterest-btn
{color: #ffffff; background-color: #bd081c; border-color: #bd081c;}
.pinterest-btn:hover,a.pinterest-btn:hover,
.pinterest-btn:focus,a.pinterest-btn:focus
{background-color: #bd081c; color: #ffffff; border-color: #bd081c; box-shadow: none; outline: none;}

/* Tumblr  Button */
.tumblr-btn,
a.tumblr-btn
{color: #ffffff; background-color: #36465d; border-color: #36465d;}
.tumblr-btn:hover,a.tumblr-btn:hover,
.tumblr-btn:focus,a.tumblr-btn:focus
{background-color: #36465d; color: #ffffff; border-color: #36465d; box-shadow: none; outline: none;}

/* Reddit  Button */
.reddit-btn,
a.reddit-btn
{color: #ffffff; background-color: #ff4500; border-color: #ff4500;}
.reddit-btn:hover,a.reddit-btn:hover,
.reddit-btn:focus,a.reddit-btn:focus
{background-color: #ff4500; color: #ffffff; border-color: #ff4500; box-shadow: none; outline: none;}


/* Common Modal Popup css 
===================================== */
.modal{z-index:1092;}
.modal.show{z-index:1092 !important;}
/* Boostrap modal popup */
.modal-backdrop.show {
    opacity: .7;
	z-index: 1091 !important;
}
/* Boostrap modal popup Transparent */
.modal-dialog-transparent .modal-content{
	background-color: transparent !important;
} 

/* Delete Modal Popup*/
.modal-delete-size{width: 95%; max-width: 100%;}
@media (min-width: 768px) {
.modal-delete-size{width: 380px; max-width: 100%;}
}
/* Apply JOb Modal Popup*/
.apply-job-modal{width: 95%; max-width: 100%;}
@media (min-width: 992px) {
.apply-job-modal{width: 800px; max-width: 100%;}
}
.custom-modal-header{
    border-color: #5c6ac4;
	background: #5c6ac4;
	color: #ffffff;
}

.custom-modal-foooter{border-top:solid 1px #ced4d8;}





/* Coming Soon pages
==========================================*/
.hs_date_wrapper {
float: left;
width: 100%;
}
/*Timer css*/
.hs_time {height: auto;width: 100%; font-size: 11px; font-weight: 400;}
.hs_time .hs_time_part {width: 100%;}

.dt_title
{
	width:100%;
	margin-top: -5%;
}
.hs_days {
	color: #151122;
	text-align:left;
	height: auto;
	text-decoration: none;
	text-transform: capitalize;
}

.hs_min {
	color: #151122;
	height: auto;
	text-align:center;
	text-decoration: none;
	text-transform: capitalize;
}

.hs_sec {
	color: #151122;
	height: auto;
	text-align:right;
	text-decoration: none;
	text-transform: capitalize;
}

.hs_hour {
	color: #151122;
	height: auto;
	text-align:center;
	text-decoration: none;
	text-transform: capitalize;
}

.timer_caption{font-weight:bold;}
.hrsbox{ background:#eff3f6; color: #151122; padding: 20px 5px; border-radius: 5px; margin-bottom: 4px; font-size: 26px; font-weight: 600;}



/* Alert Div Positions css
======================================*/
.alert-positions{position: fixed; top: 10px; right: 10px; width: 95%; z-index: 1092;}
@media (min-width:768px){.alert-positions{max-width: 30%;}}

/* Dotcompal Loader */
i.icon-loader:before{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	color: #ffffff;
	z-index: 999999;
	margin: auto;
	text-indent: initial;
	width: 42px;
	height: 42px;
	font-size: 42px;
} 
	
.page-loader {  
	margin:  auto;
	text-indent: -9999em;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-animation: load3 1s infinite linear;
	animation: load3 1s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.page-loader:before {
	width: 50%;
	height: 50%;
	background: #ffffff;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.page-loader:after {
	background: #4c4c4c;
	width: 95%;
	height: 95%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}