html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #00081d;
    font-size: 14px;
    overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #00081d !important;
}

.yellow-clr {
    color: #ffe400;
}

.blue-clr {
    color: #0e2672;
}


/* Header Section CSS */

.header-section {
    background: #001244;
    padding: 30px 0px;
}

.preheadline {
    background: #ffe400;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    font-style: italic;
}

.post-heading {
    border-top: 1px solid #3a55a5;
    border-bottom: 1px solid #3a55a5;
    padding: 20px 0;
    display: inline-flex;
}

.new-section {
    background: #ffffff;
    padding: 30px 0px;
}

.per-shape {
    background: url(https://cdn.oppyo.com/launches/vocalic/bundle/presenting-shape.webp) center center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 20px 55px 30px 55px;
}

@media(min-width:768px) {
    .header-section {
        background: #001244 url(https://cdn.oppyo.com/launches/vocalic/bundle/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .new-section {
        background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/bundle/deal-ends-soon-bg.webp) no-repeat center center;
        padding: 100px 0px;
        background-size: cover;
    }
    .f-md-70 {
        font-size: 70px;
    }
}

.white-clr {
    color: #ffffff;
}

.relative {
    position: relative;
}

@media(max-width:767px) {
    .footer-section {
        background: #00081d;
        padding: 30px 0px;
    }
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.footer-section {
    background: #00081d;
    padding: 50px 0px 50px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.instant-btn a {
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    animation: glowing 5000ms infinite;
    border-radius: 100px;
    background-image: -moz-linear-gradient( 90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
}

.instant-btn a:hover,
.instant-btn a:hover {
    transform: scale(1.05);
    transition: all .3s ease;
    background-image: -moz-linear-gradient( 90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #01abec;
    }
    40% {
        box-shadow: 0 0 20px #01abec;
    }
    60% {
        box-shadow: 0 0 20px #01abec;
    }
    100% {
        box-shadow: 0 0 -10px #01abec;
    }
}

.section1 {
    padding: 30px 0;
    background: #effbff;
}

.section2 {
    padding: 30px 0;
    background: #ffffff;
}

.section3 {
    padding: 30px 0;
    background: #ffffff;
}

.plan1-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgb(96 145 169 / 19%);
}

.plan2-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgba(96, 145, 169, 0.19);
}

.tablebox1 {
    background: #9dbacc;
    width: 100%;
    float: left;
    border-radius: 30px;
}

.tablebox-inner-bg {
    background: #06103c;
    padding: 30px;
    background-size: 100% 100%;
    border-radius: 10px;
}

.table-headline-shape {
    background: url(https://cdn.oppyo.com/launches/vocalic/bundle/table-headline-shape.webp) no-repeat center center;
    background-size: contain;
    padding: 18px 19px 16px 17px;
}

.title-shape {
    background-color: #00aced;
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}

.title-shape1 {
    background-color: #00aced;
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}

.title-shape1:after,
.title-shape:after {
    content: '';
    background: url(https://cdn.oppyo.com/launches/vocalic/bundle/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media(min-width:768px) {
    .tablebox-inner-bg {
        padding: 30px 15px 30px 15px;
        background-size: cover;
        border-radius: 30px;
    }
    .section-margin {
        margin-top: 250px !important;
    }
    .pimg {
        margin-top: -255px;
    }
    .section1 {
        padding: 100px 0;
    }
    .section2 {
        padding: 100px 0;
        background: url(https://cdn.oppyo.com/launches/vocalic/bundle/limited-time-offer-table-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .section3 {
        padding: 100px 0;
        background: url(https://cdn.oppyo.com/launches/vocalic/bundle/table-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .instant-btn a {
        font-size: 32px;
        padding: 20px 50px;
    }
}


/*Table CSS Start*/

.odd-shape {
    background: #00aced;
    padding: 10px 15px;
}

.even-shape {
    background: #e9f9ff;
    padding: 10px 15px;
}

.price-shape {
    background: #ffffff;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}

.now-price {
    background: #ffe400;
    padding: 12px 10px;
    border-radius: 65px;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
}


/*Table CSS Enad*/


/* Header Section */

ul.kaptick {
    margin: 0px;
}

.kaptick li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/vocalic/bundle/green-tick.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 15px 35px;
    color: #000000;
    line-height: 150%;
    font-size: 18px;
    min-height: 20px;
}

.kaptick li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .kaptick li {
        padding: 0px 0 30px 35px;
        background-position: 0 5px;
    }
}

@media (max-width: 767px) {
    .content-mbl-space {
        padding: 30px 0px;
    }
}


/******new********/

.img-shadow {
    box-shadow: 0px 0px 15px 0px rgb(73 76 80 / 25%);
}

.riskfree-section {
    background: #10132b url(https://cdn.oppyo.com/launches/vocalic/bundle/riskfree-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 150px 0px 30px 0px;
}

.second-header-section {
    padding: 30px 0 0px 0px;
    background: #e0eef9;
}

.step-shape {
    border-width: 3px;
    border-color: #0e2672;
    border-style: solid;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    width: 100%;
    float: left;
    padding: 20px;
    height: 100%;
    color: #fff;
}

@media (min-width:768px) {
    .img-shadow {
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 25%);
    }
    .riskfree-section {
        padding: 130px 0px 100px 0px;
    }
    .second-header-section {
        background: #e0eef9 url(https://cdn.oppyo.com/launches/vocalic/bundle/cta-bg-new.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0 70px 0px;
    }
}

.animate-charcter {
    background-image: linear-gradient( -225deg, #001963 0%, #ff0505 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    0% {
        background-position: 200% center;
    }
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}