html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 14px;
}


/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.orange-clr {
    color: #ffb80f;
}

.blue-clr {
    color: #0a52e2;
}

.yellow-clr {
    color: #fff600
}


/* Header Section CSS */

.header-section {
    background-color: #fff;
    padding: 5% 0;
    position: relative;
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
}

.logo-height {
    max-height: 45px;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

a.link-text {
    color: #000000;
    text-decoration: none;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.container-padding {
    padding: 30px 0;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.spatan {
    font-family: 'Spartan', sans-serif;
}

@media(min-width:768px) {
    .footer-section {
        padding: 70px 0px;
    }
}

.lightred {
    color: #0a52e2;
}

a.lightred {
    color: #0a52e2;
}

.footer-ul li a:hover {
    color: #fff;
}

@media (min-width: 1600px) {
    .header-left-element {
        position: absolute;
        left: -20px;
        bottom: -52px;
        display: block !important;
    }
    .header-right-element {
        position: absolute;
        bottom: -75px;
        right: 20px;
        display: block !important;
    }
}