html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #000;
}

.gradient-text{
    color: #f614b8;
    background-image: -moz-linear-gradient( 0deg, rgb(250,170,75) 0%, rgb(255,215,22) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,170,75) 0%, rgb(255,215,22) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,170,75) 0%, rgb(255,215,22) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.kapblue,
a.kapblue {
    color: #00308f;
}

.blue-clr {
    color: #00308f;
}

.orange-clr {
    color: #f68a1e;
}

.org-clr {
    color: #ff9e48;
}

.orange-clr1 {
    color: #ff7d1d;
}

.red-clr {
    color: #ff0505;
}

.z-index9 {
    z-index: 9;
}


/* Header CSS */

.header-section {
    background: #014286;
    padding: 30px 0px;
    position: relative;
    overflow: hidden;
}

.pre-headline{
    background-color: rgb(27 85 146);
    display: inline-block;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 50px;
}  
.title-bg1{
    background: #003196;
    color: #fff;
    padding:15px;
    display: inline-block;
    text-align: center;
    border: 1px dashed #fff;
}
.affiliate-link-btn a {
    border-radius: 10px;
    background-image: -moz-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -webkit-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -ms-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 500;
}

.affiliate-link-btn a:hover {
    background: linear-gradient(90deg, rgba(253, 139, 37, 1) 0%, rgba(255, 103, 28, 1) 100%);
    color: #ffffff;
}
.star{
    position: absolute;
    right: -2%;
    top: 2%;
 
}
.star-move{
    position: relative;
    animation: spin2 12s linear 0s infinite normal;
}
.star-bottom{
    position: absolute;
    left: 0px;
    bottom: 10%;
}
@keyframes spin2 {
    0% {
      transform: rotate(-360deg); }
    100% { 
      transform: rotate(0deg); }
}

.website-move{
    position: absolute;
    left: 0%;
    top: 25%;
}
.web-move 
{
    position: relative;
    animation: rotate 8s linear 0s infinite normal;
}

.website-repair{
    position: absolute;
    right: 0;
    top: 45%;
}

.web-repair{
    position: relative;
    animation: rotate 8s linear 0s infinite normal;
}

.website-arrow{position: absolute;
    left: 2%;
    top: 60%;
    opacity: 0.5;}

.web-arrow{
    position: relative;
    animation: rotate 8s linear 0s infinite normal;
}
.website{
    position: absolute;
    right: 2%;
    bottom: 20%;
}
.web-move{

}
@keyframes rotate {  	
	0%,100% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  40% {
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  70% {
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
	
}

.icon-box-img {
    position: relative;
    height: 100%;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.iconBg {
    position: relative;
    animation: spin2 12s linear 0s infinite normal;
}
@keyframes spin2 {
    0% {
      transform: rotate(-360deg); }
    100% { 
      transform: rotate(0deg); }
}
.gap20 {
    gap: 20px;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 12px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 500;
}

.header-section ul.leader-ul li a {
    text-decoration: none;
    color: #ffffff;
}

.second-header-section {
    padding: 30px 0px;
}

.demo-section-bg {
    background: #00165f;
    padding: 30px 0;
}

.silver-platter-section {
    background: #ffffff url(../images/silver-platter-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

/* Responsive Video CSS */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgba(208, 219, 227, 0.58);
    border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.video-shadow,
.responsive-video.video-shadow iframe {
    box-shadow: 0px 1px 6px 0px rgb(255, 232, 204, 0.4);
}

a.cta-link-btn {
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    background-image: -moz-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -webkit-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -ms-linear-gradient( -45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: 0.5s;
}

a.cta-link-btn:hover {
    background: linear-gradient(90deg, rgba(253, 139, 37, 1) 0%, rgba(255, 103, 28, 1) 100%);
    text-decoration: none;
    transform: scale(1.03);
}

.step-shape {
    border-width: 4px;
    border-color: rgb(255, 125, 29);
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

@media (min-width: 768px) {
    a.cta-link-btn {
        font-size: 28px;
        padding: 24px 50px 24px 50px;
    }
    .col-md-3.step-shape {
        width: 30% !important;
        flex: 0 0 30%;
        max-width: 30%;
    }
    .mtm50 {
        margin-bottom: -50px;
    }
}

@media (min-width: 768px) {
    /* Timer CSS End */
    .header-section {
        background: url(../images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 40px 0px 180px;
    }
    .title-bg1{
        background: url(../images/heading-design.webp) no-repeat;
        background-size: 100% 100%;
        padding: 30px ;
        border: none;
    }
    .second-header-section {
        padding: 100px 0px;
    }

    .demo-section-bg {
        background: #00165f url(../images/demo-section-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px;
    }
    .silver-platter-section {
        padding: 80px 0px 100px 0px;
    }
}

/* XS Margin Auto CSS */

@media (max-width: 767px) {
    .mx-xs-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .text-xs-center {
        text-align: center;
    }
}

/* Testimonial CSS */

.testimonial-section {
    background: #e9ebf1;
    padding: 30px 0px;
}

.testimonial-section2 {
    background: #e7e9ef;
    padding: 30px 0px;
}

.clear {
    clear: both;
}

/* Dotcompal Lead Section */

.problem-bg-section {
    background: #ffbcbc;
    padding: 30px 0px;
}

.problem-bg-section1 {
    background: #fff1f1;
    padding: 30px 0px;
}

.problem-bg-section2 {
    background: #ffbdbd;
    padding: 30px 0px;
}

.problme-area-shape,
.problme-area-shape1 {
    width: 100%;
    float: left;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    margin-top: -20px;
}

.problme-area-shape2 {
    width: 100%;
    float: left;
    padding: 30px;
    border-radius: 20px;
    background-color: #ff3333;
    outline: solid 20px #ffbdbd;
}

.problme-shape1 {
    border-radius: 20px;
    background-color: #ffffff;
    width: 100%;
    float: left;
    padding: 15px;
}


@media(min-width: 768px) {
    .sep-line {
        border-left: solid 1px #ffffff;
    }
    .problme-area-shape {
        width: calc(100% + 40px);
        float: left;
        padding: 30px 30px 30px 70px;
        margin-left: -40px;
        z-index: 0;
        margin-top: 0px;
    }
    .problme-area-shape1 {
        width: calc(100% + 40px);
        float: left;
        padding: 30px 70px 30px 30px;
        margin-right: -40px;
        z-index: 0;
        margin-top: 0px;
    }
    .problme-shape1 {
        padding: 30px;
    }
}

/* XS Margin Auto CSS */

@media (max-width: 767px) {
    .mx-xs-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .text-xs-center {
        text-align: center;
    }
}

.next-gen-sec {
    background: url(../images/next-gen-bg.webp) center center;
    padding: 30px 0px;
    position: relative;
}

.prdly-pres {
    background: url(../images/intro-shape.webp) no-repeat top center;
    padding: 19px 65px 27px 65px;
    background-size: contain;
    margin-top: -43px;
}

.amazing-software-section1 {
    background: #ffffff url(../images/amazing-bg1.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.big-question-bg {
    background: #f3f6ff;
    padding: 30px 0px;
}

.wearenot-alone-section {
    background: #ffffff;
    padding: 0px 0px 30px 0px;
}

.alone-bg {
    background-color: #e9ebf1;
    box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.huge-opportunity-shape {
    background: #eaebeb;
    border: 2px solid #dfdfdf;
    border-radius: 15px;
    padding: 15px 12px;
}

.alone-bg {
    position: relative;
}

.hurry-img {
    margin-top: -15px;
    width: 20%;
}

.p-feature {
    border-radius: 10px;
    background-color: rgb(0, 22, 95);
    box-shadow: 0px 10px 16.8px 7.2px rgba(32, 32, 32, 0.1);
    overflow: hidden;
}

.next-gen-sec:before {
    background: url(../images/next-gen-bg-shape.webp) no-repeat center center;
    background-size: cover;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 0;
    content: '';
    min-height: 100px;
    top: 14%;
}

@media (min-width: 768px) {
    .hurry-img {
        margin-top: -15px;
        width: inherit;
    }
    .prdly-pres {
        margin-top: -21px;
        padding: 35px;
    }
    .img-bot {
        align-self: end;
        margin-bottom: -32px;
        margin-left: -8px;
    }
    .img-bot2 {
        align-self: end;
        margin-bottom: -22px;
        margin-left: -8px;
    }

    .alone-bg {
        padding: 25px 30px 25px 10px;
    }
    .alone-bg:after {
        content: "";
        position: absolute;
        width: 87px;
        height: 49px;
        background-image: url(../images/arrow-down.webp);
        left: 44%;
        bottom: -49px;
    }
    .dollars-sm-image {
        width: 211px;
        min-width: 211px;
        height: 163px;
        margin-left: -120px;
        top: 0px;
        left: 0px;
    }

    .wearenot-alone-section {
        background: #ffffff url(../images/wearenotalone-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 0px 0px 100px 0px;
    }

    .big-question-bg {
        background: #f3f6ff url(../images/big-question-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 50px 0px 100px 0px;
    }

    .huge-opportunity-shape {
        background: url(../images/huge-opportunity-shape.webp) no-repeat center center;
        background-size: 100% 100%;
        border: 0px;
        border-radius: 0px;
        padding: 45px 40px 50px;
    }

    .next-gen-sec {
        background: url(../images/next-gen-bg.webp) center center;
        padding: 0px 0px 100px 0px;
    }
    .next-gen-sec:before {
        top: 25%;
        min-height: 450px;
        background-size: 100% 100%;
    }

    .affiliate-link-btn a {
        padding: 15px 25px;
        font-size: 22px;
    }
   
    .testimonial-section {
        background: #ffffff url(../images/testimonial-section.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px 150px 0px;
    }
    .testimonial-section2 {
        background: #e7e9ef url(../images/testimonial-section-bg2.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .amazing-software-section1 {
        padding: 90px 0px 40px 0px;
    }
    .right-arrow-icon1 {
        position: absolute;
        margin-left: -85px;
        width: 65px;
        margin-top: 20px;
    }
    .right-arrow-icon2 {
        position: absolute;
        margin-left: -85px;
        width: 65px;
        margin-top: 300px;
    }
    .problem-bg-section {
        background: #fff1f1 url(../images/problem-bg.webp) no-repeat top center;
        background-size: cover;
        padding: 70px 0px 150px 0px;
    }
    .problem-bg-section1 {
        background: #ffffff url(../images/problem-bg1.webp) no-repeat bottom center;
        background-size: cover;
        padding: 50px 0px 50px 0px;
    }
    .problem-bg-section2 {
        background: #fff1f1 url(../images/problem-bg2.webp) no-repeat bottom center;
        background-size: cover;
        padding: 150px 0px 100px 0px;
    }
}

.hithere-section {
    background: #e9efff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .hithere-section {
        background:#e9efff url(../images/hithere-bg.webp) no-repeat top center;
        padding: 100px 0px;
    }
  
}

/*******business bew*******/

.business-new-section {
    padding: 30px 0;
    background: #002f8a;
}

.this-open-section {
    padding: 30px 0;
    background: #ffffff;
}

.cta-section-new {
    background-color: #00175f;
    padding: 30px 0;
}

.over-section {
    background-color: #03267e;
    padding: 30px 0;
}

.over-shape {
    background: url(../images/over-shape.webp) no-repeat center center;
    display: inline-block;
    padding: 0px 20px;
    background-size: 100% 100%;
}

.research-section {
    background: url(../images/next-gen-bg.webp) center center;
    padding: 30px 0px;
}

.final-section {
    padding: 30px 0;
    background: #00175f;
}

.red-shape2 {
    background-image: -moz-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    padding: 5px 30px;
    border-radius: 50px;
    display: inline-block;
}

@media (min-width: 768px) {
    .red-shape2 {
        padding: 10px 40px;
        border-radius: 50px;
    }
    .research-section {
        padding: 100px 0;
    }
    .final-section {
        background: #00175f url(../images/cta-bg-new.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
    .cta-section-new {
        background: #fff url(../images/cta-bg-new.webp) no-repeat center bottom;
        padding: 100px 0 150px 0px;
        background-size: cover;
    }
    .over-section {
        background: #03267e url(../images/over-sec-bg.webp) no-repeat center center;
        padding: 100px 0;
        background-size: 100% 100%;
    }
    .business-new-section {
        padding: 100px 0;
        background: #ff7600 url(../images/busi-new.webp) center center no-repeat;
		background-size: 100% 100%;
    }
    .this-open-section {
        padding: 100px 0;
        background: #ffffff url(../images/this-new.webp) center center no-repeat;
    }
    .f-md-54 {
        font-size: 54px !important;
    }
    .over-shape {
        padding: 16px 60px;
        background-size: 100%;
    }
}


/*******business bew*******/

.animate-charcter2 {
    background-image: linear-gradient( -225deg, #ffffff 0%, #ff0505 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
  
}

.revo-list1 li {
    background: url(../images/green-tick1.webp) no-repeat;
    padding: 0 0 15px 40px;
    list-style: none;
    background-position: 0px 5px;
}
.revo-list1 li:last-child{
	padding-bottom:0px;
}

.youknow-block {
    background: #FFC01F;
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
}
@media (min-width: 768px){
    .youknow-block {
        padding: 24px 88px 45px 88px;
        background: url(../images/know-shape.webp) no-repeat center center;
        background-size: contain;
    }
    .revo-list1 li{
        width: 50%;
        float: left;
    }
}
.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.contact-section {
    background: #030331;
    padding: 30px 0px;
}
.contact-block {
    padding: 20px;
    position: relative;
    background: linear-gradient(102.18deg, #0A1347 7.04%, #0D2183 108.72%);
    border-radius: 30px;
}
@media(min-width:768px){
    .contact-section {
        background: #fff;
        padding: 0px 100px 0px;
    }
    .contact-block {
        padding: 80px;
        background: url(../images/awesome-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
}
#page_push_campaigns_4071{
    height: 0px!important;
}
.step-shape1 {
    background-color: rgb(255, 125, 29);
    max-width: 140px;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: -32px;
    padding: 7px 20px;
}

.list-head {
    list-style: none;
}
.list-head li {
    background: url(../images/list-head.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #7284a9;
}
.list-head li:last-child {
    border-bottom: 0px;
}

.deal-feature{
    padding:40px 20px !important;
       border-radius: 15px;    background-color: rgba(11, 28, 55, 0.5);    padding: 12px 20px;    width: 100%;   overflow: hidden ;   z-index: 1;
}