html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
	    overflow-x: hidden;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}
/* Color CSS */
.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
.orange-clr{
	color:#ffa25b;
}

.gradient-clr {
background: #5425F5;
background: linear-gradient(to right, #5425F5 30%, #f53789 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* Header CSS */
.header-section {
	background: #6e44ff;
	padding:30px 0px;
}

ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.leader-ul li {
    display: inline-block;
    padding: 0px 7px;
    font-weight: 400;
	 color: #ffffff;
}

.header-section ul.leader-ul li a {
    text-decoration: none;
   color: #ffffff;
    font-weight: 400;
}
a.affiliate-link-btn {
	border-radius: 3px;
	background-color: rgb(252, 109, 171);
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #ffffff;
	font-weight: 600;
}

a.affiliate-link-btn:hover {
background:#f2579a;
color: #ffffff;
}


.bx-wrapper {
	border: 0px !important;
	background:transparent !important;
	box-shadow:none !important;
	padding: 0 !important;
	margin: 0 !important;	
	position:relative;
	
}
.bx-viewport{position:relative !important;}
.bxslider {
  background:transparent !important;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0px !important;
  font-weight:600;
  position:relative;
}
.bxslider li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
	min-height:76px;
	line-height:32px;
	text-align:left;
}
.bxslider li .text{margin-left:15px;}
.text-clr1{color:#ffa25b;}
.text-clr2{color:#8df69e;}
.text-clr3{color:#ff9acf;}
.text-clr4{color:#91faf7;}

.preheadline{
  border-style: solid;
  border-width: 6px;
  border-color:#603ddb;
  background:#08041e;
  display:inline-block;
  border-radius:65px;
  padding:10px 35px;
}
span.highlight{
	border-bottom:solid 4px #fc6dab;
}
.calendar-wrap {
  border-radius: 15px;
  background-color: rgb(240, 236, 255);
  padding:10px;
  width:100%;
  float:left;
  position:relative;
  overflow:hidden;
  z-index: 1;
}
.calendar-wrap:before{
	content:'';
	  background:url(https://cdn.oppyo.com/launches/viddeyo/jv/curve1.png) no-repeat;
	  position:absolute;
	  z-index:1;
	  top:0;
	  left:0;
	  background-size:contain;
	  width:161px;
	  height:121px;
	  z-index: -1;
}

.calendar-wrap:after{
	content:'';
	  background:url(https://cdn.oppyo.com/launches/viddeyo/jv/curve2.png) no-repeat;
	  position:absolute;
	  z-index:1;
	  right:0;
	  bottom:0;
	  background-size:contain;
	  width:282px;
	  height:38px;
	  z-index: -1;
}
.calendar-wrap-inline {
  border-width: 1px;
  border-color: rgb(11, 11, 49);
  border-style: solid;
  border-radius: 15px;
  padding:30px;
  text-align:center;
  color:#08041e;
}
.calendar-wrap-inline .date{
	font-size:150px;
	color:#fc6dab;
	font-weight:700;
	line-height:120px;
	display:flex;
	justify-content:center;
}
.calendar-wrap-inline .date span{
	font-size:60px;
	color:#08041e;
	font-weight:400;
	line-height:35px;
}


@media(min-width:768px){
	   .header-section {
        background: #6e44ff url(https://cdn.oppyo.com/launches/viddeyo/jv/header-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 80px;
    }
	a.affiliate-link-btn {
		padding: 15px 25px;
		font-size: 20px;
	}
}

/* Header End */

/* Marketing Section */
.marketing-section {
    padding:30px 0px;
    background: #ffffff;
}

.content-box{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px 0px rgba(12, 11, 17, 0.15);
  overflow:hidden;
  padding:15px;
}
.content-box .title{
	font-size:22px;
	font-weight:bold;
	text-align:center;
	margin-bottom:15px;
}
@media (min-width: 768px){
	.marketing-section {
    padding:80px 0px;
}
.content-box .title{
	font-size:32px;
	line-height:50px;
}
}

/* Marketing Section End*/


/* Form Section */
	.form-section {
    padding:0px 0px 30px 0px;
	background:#ffffff;
}
.formbg {
	position: relative;
	padding: 15px;
	background: #6e44ff;
	border-radius: 20px;
	box-shadow: 0px 0px 25px 0px rgba(12, 11, 17, 0.15);
}
.form-control.input-field {
	border-width: 1px;
	border-color: rgb(11, 11, 49);
	border-style: solid;
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	height: 50px;
	font-size: 16px;
	font-weight: 400;
	box-shadow: none !important;
	color: #08041e;
	padding: 6px 15px;
}
.form-btn input[type="submit"] {
	border-radius: 3px;
	background-color: rgb(252, 109, 171);
	text-decoration: none;
	border: none;
	color: #ffffff;
	text-align: center;
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 15px 10px;
	line-height: 30px;
	font-weight: 600;
	outline: none;
	max-width: 510px;
	white-space: normal;
}
.form-btn input[type="submit"]:hover {
    background:#f2579a;
}
.affiliate-btn a {
    background: #ffa25b;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    padding: 15px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    text-transform: capitalize;
    border-radius: 3px;
    max-width: 510px;
	animation-name: hang-sink, hang;
    animation-duration: .3s, 1s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
}
@keyframes hang-sink {
    100% {
        transform: translateY(8px)
    }
}

@keyframes hang {
    0% {
        transform: translateY(8px)
    }
    50% {
        transform: translateY(4px)
    }
    100% {
        transform: translateY(8px)
    }
}
@media (min-width: 768px){
.form-section {
    padding:0px 0px 80px 0px;
	background:#ffffff;
}
.formbg {
	padding: 40px 30px 20px 30px;
	border-radius: 20px;
	box-shadow: 0px 0px 25px 0px rgba(12, 11, 17, 0.15);
	background: #6e44ff url(https://cdn.oppyo.com/launches/viddeyo/jv/form-bg.png) no-repeat center center;
	background-size: cover;

}
.form-control.input-field {
    height: 60px;
	font-size: 20px;
}
.popup-btn input[type="submit"] {
    padding: 10px 10px;
}
.affiliate-btn a {
    padding: 25px 20px;
    max-width: 510px;
}
}

/* Form Section End*/



.exciting-launch {
    padding:30px 0px;
    background: #08041d url(https://cdn.oppyo.com/launches/viddeyo/jv/exciting-launch.png) no-repeat center center;
    background-size: cover;
}
ul.launch-list{
	margin:0px;
	padding:0px;
}
.launch-list li {
    padding: 0px 0px 12px 0px;
    color: #ffffff;
}
::marker {
  color: #6e44fe;
}
@media (min-width: 768px){
.launch-list li {
    padding: 0px 20px 12px 0px;
	width:50%;
	float:left;
}	
.exciting-launch {
    padding:100px 0px;

}}





.hello-awesome {
    background: #ffffff;
    padding: 30px 0px;
}
.heading-design {
	padding: 12px 15px;
	display: inline-block;
	background-color: rgb(110, 68, 255);
	border-radius:65px;
	margin-top:-32px;
}
.awesome-feature-shape {
	padding:20px 30px;
	display: inline-block;
	border-radius: 15px;
	background-color: rgb(255, 225, 121);
	position:relative;
}
.awesome-feature-shape:before {
	background-color: rgb(110, 68, 255);
	position: absolute;
	width: 20px;
	z-index: 25;
	position: absolute;
	left: 0px;
	content: '';
	top: 0;
	bottom: 0;
	border-radius: 65px;
	margin: 15px 0px 15px -10px;
}
.awesome-feature-shape:after {
	background-color: rgb(110, 68, 255);
	position: absolute;
	width: 20px;
	z-index: 25;
	position: absolute;
	right: 0px;
	content: '';
	top: 0;
	bottom: 0;
	border-radius: 65px;
	margin: 15px -10px 15px 0px;
}
.awesome-shape{
	padding:0px 15px 15px 15px;
	background:#ebe1f3;
	width:100%;
	float:left;
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
	border-radius: 20px;
}
ul.awesome-list{
	margin:0px;
	padding:0px;
	list-style-position: inside;
}
.awesome-list li:first-child {
    margin-top: 0px;
}
.awesome-list li {
    margin-top: 10px;
}
@media (min-width: 768px){
.awesome-list li {
    margin-top: 30px;
}	
.awesome-shape{
	padding:0px 50px 50px 50px;
	background: url(https://cdn.oppyo.com/launches/viddeyo/jv/awesome-shape.png) no-repeat;
	background-size: 100% 100%;
	background-position: center;
}	
.hello-awesome {
    padding:100px 0px;
}
.heading-design {
    padding:12px 50px;
	margin-top: -47px;
}
.awesome-feature-shape {
   	padding:30px 40px;
}
}




.proudly-sec {
    background: #08041d url(https://cdn.oppyo.com/launches/viddeyo/jv/proudly-bg.png) center center no-repeat;
    background-size: cover;
    padding:0px 0px 30px 0px;
}
@media (min-width: 768px){
.proudly-sec {   
    padding:0px 0px 100px 0px;
}
}


/* Arrow & Img Move Animation */
img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}


.logos-effect img {
    transition: all 0.5s;
}
.logos-effect img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}


.feature-list {
    background: #08041e;
    padding: 30px 0px;
}
.feature-list-box {
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	padding:0px 30px 30px 30px;
	width:100%;
	float:left;
	text-align:center;
	margin-top:72px;
	height:calc(100% - 72px);
}
.feature-list-box .description{
	font-size:22px;
	font-weight:500;
	line-height:30px;
	margin-top:15px;
}
.feature-list-box .icon-position{
	margin-top:-72px;
}
@media(min-width:768px){
	.feature-list {
    padding: 100px 0px;
}
	}
	
	
.feature-sec {
    background: #ffffff;
    padding: 30px 0px 60px 0px;
}
.demo-sec {
	background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/demo-sec-bg.png) no-repeat center center;
	background-size: cover;
	padding:30px 0px;
}

@media(min-width:768px){
    .demo-sec {        
        padding:100px 0px;
    }
	.feature-sec {
    background: #ffffff;
    padding: 100px 0px;
}
	}	
	
	
.potential-sec {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px){
.potential-sec {
    background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/potential-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 100px 0px;
}
}

.prize-value {
	padding: 30px 0;
	background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/prize-value.png) no-repeat top center;
	background-size: cover;
}

@media (min-width: 768px){
.prize-value {

    padding:80px 0px;
}
.f-md-72{
	font-size:72px;
}
}


.contest-section {
	padding: 30px 0;
	background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/contest-bg.png) no-repeat center center;
	background-size: cover;
}

@media (min-width: 768px){
.contest-section {
    padding:80px 0px;
}
}


.prize-section {
    background: #f4e6f9;
    padding: 30px 0px;
}
@media(min-width:768px){
	    .prize-section {
        background: #f4e6f9 url(https://cdn.oppyo.com/launches/viddeyo/jv/prize-bg.png) no-repeat center center;
        background-size: cover;
        padding: 50px 0px 80px 0px;
    }
}

.deep-funnel {
    background: #ebf6fb url(https://cdn.oppyo.com/launches/viddeyo/jv/deep-funnel.png) no-repeat center center;
        background-size: cover;
    padding: 30px 0px;
}
@media(min-width:768px){

.deep-funnel {
        padding:80px 0px;
    }
}

.reciprocate-sec {
    background: #ffffff;
    padding: 30px 0px;
}
@media(min-width:768px){
    .reciprocate-sec {
        background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/jv/solid-track-bg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}

.contact-section {
    background: #e1def4 url(https://cdn.oppyo.com/launches/viddeyo/jv/query-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.contact-shape{
	 background: url(https://cdn.oppyo.com/launches/viddeyo/jv/contact-shape.png) no-repeat center bottom;
	 padding-bottom:30px;
    background-size: contain;
}
@media (min-width: 768px){
.contact-section {    
    padding:80px 0px;
}}




.terms-section {
    padding: 30px 0px;
    background: #ffffff;
}
.terms-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/jv/circle-icon.png) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 30px;
}
@media (min-width: 768px){
.terms-section {
	padding: 80px 0px;
	background:url(https://cdn.oppyo.com/launches/viddeyo/jv/terms-bg.png) no-repeat center center;
	background-size: cover;
}
}



.footer-section {
    background: #020d13;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px){
.footer-section {
        padding: 50px 0px
    }
}




