.container {
    height: unset;
}

.inner-content {
    height: unset;
}

body {
    font-family: 'Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}

.yellow-clr {
    color: #fff600;
}
.green-clr{
	color:#00ff84;
}



/* Header Section CSS */

.header-section {
	background: #ffffff url(../images/header-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: Cover;
	padding:30px 0px;
}

.proudly-section {
	background: url("../images/proudlybg.png") no-repeat top center;
	background-size: cover;
	padding:60px 0px 30px 0px;
}

.but-design {
	background: #240f75;
	padding: 15px 30px;
	-webkit-transform:skew(-200deg);
	-moz-transform:skew(-200deg);
	transform:skew(-200deg);
	display:inline-block
}
.but-design .skew-normal{
	-webkit-transform:skew(200deg);
	-moz-transform:skew(200deg);
	transform:skew(200deg);
}
.black-bg {
    background: #000000;
    border-radius: 50px;
    padding: 12px;
}

@media(min-width:768px) {
    .px-sm0 {
        padding-left: 0;
        padding-right: 0;
    }
    .black-bg {
        background: #000000;
        border-radius: 50px;
        padding: 15px 20px 9px 20px;
    }
    .but-design {
        padding:15px 60px;
    }
    .header-section {
        padding: 40px 0px 100px 0px;
    }
    .proudly-section {        
        padding:130px 0px 100px 0px;
    }
}

.tickul li {
    list-style: none;
    background: url(../images/vgreytick1.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 20px 40px;
}

.logo-height {
    max-height: 45px;
}

.white-clr {
    color: #ffffff;
}

.white-blue {
    color: #70abff;
}

.dblue-clr {
    color: #5c6ac4;
}
span.under {
    border-bottom: 4px solid;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}

.affiliate-link-btn a {
    border-radius: 45px;
    background-color: #f8e71c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    padding: 9px 33px;
    font-size: 16px;
    color: #050b23;
    font-weight: 800;
}

.affiliate-link-btn a:hover {
    background: #decf18;
}

.popup-btn a:hover,
.popup-btn input[type="submit"]:hover,
.af-btn a:hover {
    background: #4f5db5;
}

.second-section {
    padding: 5% 0;
	background:#f9f9f9;
}

.date-section-bg {
    background: url(../images/date-bg-image.png) no-repeat center center;
    background-size: contain;
}

.highlihgt-heading {
    position: relative;
    background: #ffffff;
    padding: 12px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgba(14, 18, 34, 0.2);
}

@media(min-width:240px) {
    .xstext-center {
        text-align: center;
    }
    .formbg {
        padding: 20px;
    }
}

@media(min-width:768px) {
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
    .highlihgt-heading {
        position: relative;
        padding: 45px 73px 45px 75px;
        background: url(../images/heading-bg.png) no-repeat center center;
        box-shadow: none;
        background-size: 100% 100%;
    }
    .line-center {
        transform: skew(20deg);
    }
}

.formbg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.form-control.input-field {
    border-width: 1px;
    border-color: rgb(164, 164, 164);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 12px;
}

::-webkit-input-placeholder {
    color: #797979 !important;
}

::-moz-placeholder {
    color: #797979 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

:-moz-placeholder {
    color: #797979 !important;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 5px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 13px 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 0;
    outline: none;
}

@media(min-width:240px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .pre-box {
        border-radius: 10px;
        padding: 5%;
    }
    .af-box {
        padding: 8% 3%;
    }
}

.pl-shape,
.l-shape,
.af-shape,
.af-dots {
    display: none;
}

@media(min-width:768px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .form-control.input-field {
        height: 58px;
    }
    .pre-box {
        border-radius: 50px;
        padding: 3% 0;
    }
    .af-box {
        padding: 5%;
    }
    .pfbox {
        height: 185px;
    }
    .pl-shape,
    .l-shape,
    .af-shape,
    .af-dots {
        display: block;
        position: relative;
        z-index: 1;
    }
    .pl-shape img {
        position: absolute;
        top: -18px;
        right: 18px;
        z-index: 1;
    }
    .l-shape img {
        position: absolute;
        bottom: -65px;
        left: 25px;
        z-index: 1;
    }
    .af-shape img {
        position: absolute;
        bottom: -44px;
        right: 35px;
        z-index: 1;
        height: 160px;
    }
    .af-dots img {
        position: absolute;
        top: -10px;
        left: 60px;
        z-index: 1;
    }
}

.form-shape {
    position: relative;
    z-index: 1;
}

.form-shape img {
    position: absolute;
    top: -40px;
    left: -41px;
    z-index: -1;
}

.relative {
    position: relative;
}

.third-section {
    background: #eff3f6;
    padding: 5% 0 7%;
}

.kapblue,a.kapblue {
    color: #240f75;
	text-decoration:none;
}

.pre-box {
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.h-line {
    background-color: rgb(206, 212, 216);
    height: 2px;
    width: 100%;
}

.pl-tick li {
    background: url("../images/pl-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.l-tick li {
    background: url("../images/l-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.xs-max-height165 {
    max-height: 165px;
}

@media(max-width:767px) {
    .plxs0 {
        padding-left: 0;
    }
}

@media(min-width:768px) {
    .xs-max-height165 {
        max-height: 100%;
    }
}

.fourth-section {
    background: #fff no-repeat center center;
    padding: 4% 0 0%;
}

.af-box {
    border-radius: 25px;
    background-color: rgb(239, 243, 246);
}

.pfbox {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
    padding: 30px 20px;
}

.af-btn a {
    border-radius: 30px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 10px 10px;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.leader-ul li a,
.leader-ul li a:hover,
.leader-ul li a:focus {
    text-decoration: none;
}

.sixth-section {
    background: #eff3f6 url("../images/wave-dots.png") no-repeat center center;
    background-size: cover;
    padding: 3% 0 5%;
}

.seventh-section1 {
    background: #eff3f6;
    padding: 3% 0 5%;
}

a.alink,
a.alink:hover,
a.alink:focus {
    text-decoration: none;
    color: #5c6ac4;
}

.seventh-section {
    background: url("../images/dot-shape.png") no-repeat center center;
    padding: 5% 0;
}

.lightcolor {
    color: #eaab26;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 36px 55px;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.feature-section {
    background: #fff url(../images/feature-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section {
    background: #eff3f6 url(../images/software-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section img {
    max-height: 141px;
}

.leaderboard-section {
    background: #eff3f6 url(../images/leaderboard-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.contact-section {
    background: #fff url(../images/contact-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.prize-section {
    background: #22103b;
    background-size: cover;
    padding: 4% 0;
}

.funnel-section {
    background: #eff3f6 url(../images/funnel-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.bonus-section {
    background: #deeaff;
    padding: 30px 0 30px;
}

.moneyback-section {
	background: #100370 url(../images/moneyback-bg.png) no-repeat;
	background-position:bottom center;
	background-size: cover;
	padding: 60px 0 30px;
}

@media (min-width:768px) {
    .moneyback-section {
        padding: 100px 0 100px;
    }
    .bonus-section {
        background: #fff url(../images/bonus-bg.png) no-repeat center bottom;
        background-size: cover;
        padding:100px 0px;
		border-bottom:0px
    }
}

.theme-clr {
    color: #5c6ac4;
}

.yellow-clr {
    color: #f8e71c;
}

.clear {
    clear: both;
}

.vendor-section {
    background: #fff url(../images/dots.png) no-repeat right center;
    padding: 4% 0;
}

.name-box {
    background: #5c6ac4;
    padding: 0px 30px;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.footer-section {
    background: #000000;
    padding: 30px 0;
}
@media (min-width: 768px) {
	.footer-section {
		padding: 45px 0px 50px;
	}
}
.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.white-section {
    background: #f9f9f9;
    padding: 30px 0;
}

.grey-section {
    background: #deeaff ;
    padding: 30px 0;
}

@media(min-width:240px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .xs-text-center,
    .xs-text-center1 {
        text-align: center;
    }
}

@media(min-width:768px) {
    .white-section {
        background:#f9f9f9 url(../images/white-section-bg.png) no-repeat;
        padding: 100px 0px 100px;
        background-position: center center;
    }
    .grey-section {
        background:#deeaff url(../images/blue-section-bg.png) no-repeat;
        padding: 100px 0px 100px;
        background-position: center center;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}

.bottom-icon img {
    position: fixed;
    bottom: 0;
    right: 8px;
    z-index: 999
}

a.link-text {
    color: #301541;
    text-decoration: none;
}


/*new*/

.up-btn a {
	border-radius: 5px;
	background-color: #240f75;
	box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
	-webkit-box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
	-moz-box-shadow: 0px 6px 14px -1px rgba(0,0,0,0.45);
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	border: solid 2px #ffffff;
	font-weight: 700;
	width: 100%;
	font-size: 28px;
	line-height: 140%;
}
.up-btn-header a {
	border-radius: 8px;
	background-image: -moz-linear-gradient( -14deg, rgb(16, 166, 248) 0%, rgb(77, 87, 222) 50%, rgb(127, 44, 188) 61%, rgb(176, 0, 153) 100%);
	background-image: -webkit-linear-gradient( -14deg, rgb(16, 166, 248) 0%, rgb(77, 87, 222) 50%, rgb(127, 44, 188) 61%, rgb(176, 0, 153) 100%);
	background-image: -ms-linear-gradient( -14deg, rgb(16, 166, 248) 0%, rgb(77, 87, 222) 50%, rgb(127, 44, 188) 61%, rgb(176, 0, 153) 100%);	
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	font-weight: 700;
	font-size: 22px;
	line-height: 140%;
}

.up-btn a:hover {
    background-image: -moz-linear-gradient( 178.79deg, rgb(16, 166, 248) 0%, rgb(77, 87, 222) 50%, rgb(127, 44, 188) 61%, rgb(176, 0, 153) 100%);
    background-image: -webkit-linear-gradient( 178.79deg, rgb(16, 166, 248) 0%, rgb(77, 87, 222) 50%, rgb(127, 44, 188) 61%, rgb(176, 0, 153) 100%);
    background-image: -ms-linear-gradient( 178.79deg, rgb(16, 166, 248) 0%, rgb(77, 87, 222) 50%, rgb(127, 44, 188) 61%, rgb(176, 0, 153) 100%);
    text-decoration: none;
}
.up-btn-header a:hover {
   background-image: -moz-linear-gradient( 178.79deg, rgb(16, 166, 248) 0%, rgb(77, 87, 222) 50%, rgb(127, 44, 188) 61%, rgb(176, 0, 153) 100%);
    background-image: -webkit-linear-gradient( 178.79deg, rgb(16, 166, 248) 0%, rgb(77, 87, 222) 50%, rgb(127, 44, 188) 61%, rgb(176, 0, 153) 100%);
    background-image: -ms-linear-gradient( 178.79deg, rgb(16, 166, 248) 0%, rgb(77, 87, 222) 50%, rgb(127, 44, 188) 61%, rgb(176, 0, 153) 100%);
    text-decoration: none;
}

.red-clr,
a.red-clr {
    color: #ff3c00;
}

a.get-btn,
.get-btn {
    background: #5c6ac4;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 5px;
}

@media (min-width:768px) {
    .up-btn a {
		font-size: 42px;
		padding: 28px 30px;
    }
	.up-btn-header a {
       font-size: 42px;
    padding: 28px 30px;
    }
    a.get-btn,
    .get-btn {
        padding: 14px 53px;
    }
}

.bonus-count {
    background: #5c6ac4;
    display: inline-block;
    padding: 10px 29px;
    border-radius: 15px;
}


/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #cacaca;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    background: #200d68;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	position:relative;
}
.tablebox3:before{
	content:'';
	position:absolute;
	background: url(../images/most-popular.png) no-repeat left top;
	min-height:165px;
	min-width:153px;
	left: 0px;
	top: 0px;
}
ul.vgreytick {
    padding: 0px;
    margin: 0;
}

ul.vgreytick li {
    background: url(../images/vgreytick-icon.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
}

ul.vgreytick li:nth-child(odd) {
    background-color: #deeaff;
}

ul.vgreytick li:nth-child(even) {
    background-color: #ffffff;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px;
    margin: 0;
}

ul.grey-tick-last li {
    background: url(../images/greentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
	color:#ffffff;
    background-position: 15px 22px;
    line-height: 150%;
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #15064a;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #200d68;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

ul.vgreentick li {
    background: #ffffff url(../images/vgreentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 25px;
    line-height: 150%;
    color: #301541;
}

.tbbg2-text {
    color: #1d7773;
}

.tbbg2 {
    background: url(../images/start-plan-bg.png) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #cacaca;
}

.tbbg3 {
    background:#200d68;
    padding:50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #200d68;
}

.bought-text {
    background: #ffeb09;
    padding: 8px 10px;
}

.most-popular{
	background: url(../images/most-pop.png) no-repeat center;
    padding: 15px 30px 30px 30px;
    background-size: 100% 100%;
	margin-top:-40px
	}

@media (min-width: 768px) {
    .tbbg3 {
        padding:80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 50px;
        background-position: 20px 22px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 50px;
        background-position: 20px 22px;
    }
    .mt-sm-170 {
        margin-top: 170px
    }
    .mt-sm-90 {
        margin-top: 90px
    }
	
}

.buypad {
    padding: 4% 3%;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}

.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
	border-radius:0px 0px 10px 10px;
}
.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
	border-radius:0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}

.ribbonimg {
    position: absolute;
    top: 100px;
    right: 0px;
    height: 50px;
}

.xs-height125 {
    height: 125px;
}

.xs-height50 {
    height: 55px;
}

@media(min-width:240px) {
    .ribbonimg {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 90px;
    }
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    color: #240f75;
}

@media(min-width:768px) {
    .padding-top5 {
        padding-top: 5px;
    }
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    }
    .thanks-button a {
        font-size: 25px;
    }
    .myfeatureslast {
        padding: 0px 20px 30px;
    }
}

.grey-clr {
    color: #c3c3c3;
}


/*Table CSS Enad*/

a.link {
    color: #337ab7;
}