html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Lexend', sans-serif;
    color: #000000;
    font-size: 14px;
}
.cavet-font {
	font-family: 'Caveat', cursive;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}


/* Header Section CSS */

.header-section {
    background-color: #fff;
    padding: 5% 0;
}

.blue-clr {
    color: #0055ff;
}
@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}


@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

.footer-ul li a:hover {
    color: #fff;
}