html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lexend', sans-serif;
	color: #000000;
	font-size: 14px;
    overflow-x: hidden;
}
.white-clr {
    color: #ffffff;
}
.orange-clr {
    color: #FFA829;
}
.black-clr {
    color: #000000;
}
.blue-clr {
    color: #005AFF;
}
.cyan-clr {
    color: #48FFF4;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

/* Header Section CSS */
.header-section {
    background: #0e0a3b url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 30px 0px;
}
.preheadline {
    display: inline-block;
    padding: 15px;
    background: #04173E;
    backdrop-filter: blur(200px);
    border-radius: 0px 0px 20px 20px;
}
.header-wrap {
    padding: 0px 0px 15px 0px;
    background: rgba(11, 28, 55, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 15px;
    border: solid 1px #2561BD;
    max-width:95%;    
    margin: 20px auto 0px auto;
}
@media(min-width:768px){
    .header-wrap {
        padding: 0px 0px 100px 0px;
        max-width: 95%;
        border-radius: 50px;
        margin: 50px auto 0px auto;
    }
    .header-section {
        background: #030331 url(../images/header-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    } 
.preheadline {
    padding: 30px 24px;
    display: inline-block;
}}
@media(min-width:1600px){
    .header-wrap {
        max-width: 85%;
    }
   
}
/* List-section */
.list-section {
	padding: 30px 0px;
	background: url(../images/list-section-bg.webp) no-repeat center center;
	background-size: cover;
}
.feature-list {
    padding: 15px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
.bonus-list li {
	background: url(../images/list-check.webp) no-repeat;
	background-position: 10px 32px;
	padding: 15px 15px 15px 64px;
	margin-top: 30px;
	list-style-type: none;
	min-height: 100px;
	box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
	background-color: #fff;
	display: flex;
	align-items: center;
}
.exciting-inner-sec {
    background: url(../images/exiciting-inner-bg.webp) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    padding: 30px 15px;
    margin: 0px auto;
}
.probtn1 a {
    transition: all .3s ease;
    border-radius: 15px;
    background: #FFA829;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn1 a:hover{
    background: #ee9615;
}
@media(min-width:768px) {
	.list-section {
		padding:100px 0px 50px 0px;
	}
    .exciting-inner-sec {
        padding: 80px;
        border-radius: 50px;
        width: 95%;
    }
.probtn1 a {
    font-size: 38px;
    padding: 28px 60px;
    display: inline-block;
    width: auto;
    border-radius: 100px;
}
}

/* List section End */

/*************Second Section **************/
.calendar-wrap {
    border-radius: 15px;
    background-color:rgba(11, 28, 55, 0.5);
    padding: 12px 20px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.list-head {
    list-style: none;
}
.list-head li {
    background: url(../images/tick.webp) no-repeat;
    padding: 19px 0px 12px 36px;
    background-position: 0px 21px;
    text-align: left;
    border-bottom: solid 1px #3a4d6e;
}
.list-head li:last-child {
    border-bottom: none;
}
.second-section {
    padding: 30px 0px;
    background: #F4F6FD;
}

.step-sec {
    padding: 0 10px;
}

ul.features-list {
    margin: 0px;
}

ul.features-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
    padding: 0px 0px 30px 45px;
    background-position: 10px 5px;
    list-style: none;
    min-height: 31px;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
}

@media(min-width:768px) {
    .second-section {
        padding: 100px 0px;
        background-size: cover;
    }
    ul.features-list li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
        padding: 0px 0px 30px 45px;
        background-position: 0px 3px;
        list-style: none;
    }
}

/***********Fastest Section *******/

.fastest-section {
    padding: 30px 0;
    background: #ffffff url(../images/fastest-bg.webp) no-repeat center bottom;
    background-size: cover;
}

@media(min-width:768px) {
    .fastest-section {
        padding: 100px 0;
    }
}

/***********Third Section **********/

.third-section {
    padding: 0px 0 50px 0px;
    background: #fff;
}
.exciting-inner-sec {
    background: url(../images/exiciting-inner-bg.webp) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    padding: 30px 15px;
    margin: 0px auto;
    max-width: 95%;
}
@media(min-width:768px) {
    .third-section {
        padding: 30px 0px 60px 0px;
    }
    .exciting-inner-sec {
        padding: 80px;
        border-radius: 50px;
        width: 95%;
    }
}
@media (min-width: 1600px){
.exciting-inner-sec {
    max-width: 85%;
}}

/* List section End */

.proudly-shape {
	display: inline-block;
	padding: 5px 30px 5px 30px;
	position: relative;
	z-index: 1;
	background: #04173E;
	border-radius: 60px;
	align-items: center;
	font-family: 'Caveat', cursive;
	margin-top: -56px;
}

.proudly-sec {
	background: url(../images/proudlybg.webp) center center no-repeat;
	background-size: cover;
	padding: 60px 0px 30px 0px;
}

.proudly-inner-sec {
    padding:15px 5px;
    background: rgba(11, 28, 55, 0.4);
	backdrop-filter: blur(5px);
	border-radius: 15px;
    max-width:95%;    
    margin:0px auto;
}

@media (min-width: 768px) {
	.proudly-sec {
		padding: 150px 0px 100px 0px;
	}

	.proudly-inner-sec {
        padding:0px 0px 100px 0px;
        max-width: 95%;
        border-radius: 50px;
	}

	.proudly-shape {
		padding: 10px 90px 10px 90px;
		margin-top: -150px;
	}
}
@media(min-width:1600px){
    .proudly-inner-sec {
        max-width: 85%;
    }
}
/********Fifth Section *******/
.per-shape {
    background: url(../images/presenting-shape.webp) center center no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 20px 55px 34px 55px;
}

.shape-skew {
    transform: skew(-25deg);
    background: linear-gradient(90deg, #FF9315 21.66%, #FF4F17 64.49%);
    display: inline-block;
    padding: 10px 25px;
}

span.skew {
    transform: skew(25deg);
    display: inline-block;
}

/* Step Section Start*/

.step-section{
    background: #fff url(../images/steps-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px ;
}	
@media(min-width:768px){
    .step-section{
        padding:100px 0px;
    }
}

/* Step Section End */

/***********White Section *********/

.white-section {
    padding: 30px 0;
    background: #fff url(../images/features-bg2.png) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .white-section {
        padding: 100px 0;
    }
}

/***********Grey Section *********/

.grey-section {
    padding: 30px 0;
    background: #F4F6FD;
}

@media(min-width:768px) {
    .grey-section {
        padding: 100px 0;
    }
}


/***********Bonus Section *********/

.bonus-section {
    background: #effbff url(../images/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
}

.feature-shape {
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}

@media(min-width:768px) {
    .bonus-section {
        padding: 70px 0;
    }
    .feature-shape:after {
        content: '';
        background: url(../images/line-shape.webp) no-repeat right bottom;
        padding: 22px 0;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -15px;
        right: -15px;
    }
}

/******Table Section ********/

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #2337f6;
}

.tablebox2 {
    border: 1px solid #040b3a;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tbbg2 {
    background: #062D69;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

ul.vgreytick {
    padding: 0px 15px;
}

@media(min-width:768px) {
    .table-section {
        padding: 100px 0px;
        background: url(../images/table-bg.webp) no-repeat;
        background-position: center center;
        background-size: cover;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
}

/**********Footer Section********/

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 70px 0px
    }
}

/**********Footer Section********/

.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}