html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #0E1846;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #F19B10;
  border-radius: 25px;
}

.caveat{
    font-family: 'Caveat', cursive;
}

/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.orange-clr {
    color: #F19B10;
}

.black-clr {
    color: #121733;
}

.red-clr{
    color: #FF3C3C;
}

/* Header CSS */

.header-section {
    background: #05071A;
    padding: 30px 0;
    position: relative;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 8px;
    font-weight: 400;
}

.affiliate-link-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    backdrop-filter: blur(10px);
}

.affiliate-link-btn a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -webkit-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -ms-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
}

.pre-heading {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}

.head-design{
    background: #FFFFFF;
    padding: 15px;
}

.gametext {
    background: #F19B10;
    padding: 5px 29px 5px 15px;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    top: -42px;
    z-index: 99;
    line-height: 32px;
    left: 0px;
    border-radius: 0px 150px 0px 0px;
    background: #F19B10;
}

.underline-text{
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}

.underline-text1{
    background: url(../images/orange-line.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}

.video-box {
    position: relative;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.03) 100%);
    backdrop-filter: blur(10px);
}
.video-box1 {
    position: relative;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    background: #05071A;
}
@media (min-width: 768px) {
    .header-section {
        padding: 40px 0px 100px 0px;
        background: #fff url(../images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .affiliate-link-btn a {
        font-size: 20px;
    }
    .head-design{
        padding: 30px;
        background: url(../images/headline-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .gametext {
        font-size: 22px;
    }.underline-text{
        padding: 0px 0px 65px 0px;
    }
    
    .underline-text1{
        padding: 0px 0px 70px 0px;
    }

}

/******banner Section*************/

.problem-sec{
    padding: 30px 0px; 
    background: #0a071e;
}
.heading-design {
    background: #252525;
    padding: 20px;
    display: inline-block;
}

@media(min-width:768px){
    .problem-sec{
        background: url(../images/prob-sec-bg.webp) center center no-repeat; 
        background-size: cover; 
        padding: 100px 0px;
        background-attachment: fixed;
    }
    .heading-design {
		background: url(../images/heading-bg.webp) no-repeat center center;
		background-size: 100% 100%;
		padding: 50px 157px 50px 157px;
	}
}

/* Grey Section Start */
.grey-sec{
    background: #EFF5F9;
    padding: 30px 0px;
}
.white-sec{
    background: #fff;
    padding: 30px 0px;
}
.imagine-sec{
    padding: 30px 0px;
}
.feature-wrapper{
	display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    gap: 15px;
    text-align: left;
    height: 100%;
    background: #0F2549;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.sep-line {
    background: radial-gradient(965.32% 101.56% at 50% -1.56%, rgba(217, 217, 217, 0) 0%, #D9D9D9 47.92%, rgba(217, 217, 217, 0) 100%);
    width: 2px;
    height: 100%;
}
@media(min-width:768px){
    .grey-sec{
        padding: 100px 0px;
    }
    .white-sec{
        padding: 100px 0px;
    }
    .feature-wrapper{
		padding: 30px 25px;
		gap: 20px;
	}
    .imagine-sec{
        padding: 100px 0px 70px 0px;
    }
}
/* Grey Section End */

.lets-wall{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px); 
    padding:15px;
}

@media(min-width:768px){
    .lets-wall{
        padding: 30px;
    }
}

/*************LIVE Section**************/

.live-section {
    background: #ffffff;
    padding: 30px 0px;
}

.left-live-box{
    background: #FFFFFF;
    border: 2px solid rgba(130, 100, 255, 0.3);
    border-radius: 30px;
    padding: 15px;
}

.right-live-box{
    background: #FFFFFF;
    border: 2px solid rgba(231, 109, 36, 0.3);
    border-radius: 30px;
    padding: 15px;
}

.form-control.input-field {
    height: 52px;
    font-size: 18px;
    font-weight: 400;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 15px;
    background: #EEEEEE;
    border-radius: 10px;     
}

.form-btn input[type="submit"] {
	text-decoration: none;
	border: none;
	color: #ffffff;
	text-align: center;
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 15px 10px;
	line-height: 30px;
	font-weight: 600;
	outline: none;
	white-space: normal;
    cursor: pointer;
    background-image: -moz-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);   
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.form-btn input[type="submit"]:hover {
    background-image: -moz-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 100%);
    background-image: -webkit-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 100%);
    background-image: -ms-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 100%);  
}
.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/fav.webp) no-repeat;
    padding: 10px 0px 10px 35px;
    background-position: 0px 13px;
    text-align: left;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.mt-md120{
    margin-top: 20px;
}

.request-affiliate a{
    background: #E76D24;
    border-radius: 10px;
    width: 100%;
    display: block;
    padding: 10px;
    text-decoration: none;
}

@media (min-width: 768px) {
    .live-section {
        padding: 100px 0px;
    }
    .left-live-box{
        padding: 50px 30px;
    }
    .right-live-box{
        padding: 50px 30px;
    }
    .form-control.input-field {
        height: 60px;
        font-size: 15px;
    }
    .form-control.input-field::placeholder{
        color: #000000;
    }
    .mt-md120{
        margin-top: 120px;
    }
    .request-affiliate a{
        padding: 17px;
    }
    .jvzoo-img{
        min-height: 131px;
    }
    
}

/* Proudly Section */

.proudly-sec{
    padding: 30px 0px; 
    background: #0a071e;
}
.proudly-head{
    background: #F19B10;
    border-radius: 40px;
    padding: 9px 15px;
    display: inline-block;
}
.proudly-box {
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
}
@media(min-width:768px){
    .proudly-sec{
        padding: 100px 0px 200px 0px;
        background: url(../images/presenting-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .proudly-head{
        padding: 9px 50px;
    }
    .proudly-box {
        padding: 30px;
    }
}

/* Feature section Start */

.feature-sec{
    padding: 30px 15px;
}

.era-box{
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #BDD4E3;
    background: #EFF5F9;
    text-align: center;
}
.era-box img{
    border-radius: 10px;
}
.jumparrow{
    animation: jumpInfinite 1.5s infinite;
}
@keyframes jumpInfinite {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
  }
@media(min-width:768px){
    .feature-sec{
        padding: 100px 0px;
    }
    .era-box{
        height: 100%;
    }
}

/* Amazing Section Start */

.amzing-sec{
    padding: 30px 0px;
    background: #EFF5F9;
}
.amzing-box{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.much-more-box{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 20px;
}
.gap30 {
    --bs-gutter-y: 30px;
}
@media(min-width:768px){
    .amzing-sec{
        padding: 100px 0px;
    }
    .amzing-box{
        height: 100%;
    }
    .gap30 {
        --bs-gutter-x: 30px;
        --bs-gutter-y: 30px;
    }
}

/* Demo Section Start */

.demo-sec{
    padding: 30px 0px;
    background: #05071a;
}
@media(min-width:768px){
    .demo-sec{
        padding: 100px 0px;
        background: #eeeffa  url(../images/demo-bg.webp) center bottom;
        background-size: cover;
    }
}

/* Deep Funnel Sectio Start */

.deep-funnel-sec{
    padding: 30px 0px;
    background: #EFF5F9;
}
@media(min-width:768px){
    .deep-funnel-sec{
        padding: 100px 0px;
        background: url(../images/deep-funnel.webp) no-repeat center center;
        background-size: cover;
    }
}

/* Exciting Launch Section Start*/

.exciting-launch{
    padding: 30px 0px;
    background: #fff;
}
.launch-list li {
    padding: 0px 0px 12px 0px;
}
@media(min-width:768px){
    .exciting-launch{
        padding:100px 0px;
    }
    .launch-list li {
        padding: 0px 20px 12px 0px;
    }
}

/* Prizing Section Start */

.prize-value{
    padding: 30px 0px;
    background: #0b0308;
}

@media(min-width:768px){
    .prize-value {
        background: #fff url(../images/prize-value.webp) no-repeat top center;
        background-size: cover;
        padding: 100px 0px;
    }
    .f-md-72 {
        font-size: 72px;
    }
}

/* Contest Section Start */

.contest-sec{
    padding: 30px 0px;
    background: #f2eded;
}
@media(min-width:768px){
    .contest-sec{
        padding: 100px 0px;
        background: url(../images/contest-section-bg.webp) no-repeat center center;
        background-size: cover;
    }
}

/* Reciprocate Section Start */

.reciprocate-sec{
    padding: 30px 0px;
    background: #fff;
}
@media(min-width:768px){
    .reciprocate-sec{
        padding: 100px 0px;
    }
}

/* Contact Section Start */

.contact-section{
    padding: 30px 0px;
    background: #EFF5F9;
}
.container-box {
    padding: 20px;
    position: relative;
    background: #030f28;
    border-radius: 30px;
}
.contact-shape {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(10px);
}

@media(min-width:768px){
    .contact-section{
        padding: 100px 0px;
    }
    .container-box{
        padding: 80px;
        background: url(../images/contact-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .contact-shape {
        padding: 25px 0px;
    }
}

/* Term Section Start */

.term-sec{
    padding: 30px 0px;
}
.terms-list li {
    list-style: none;
    padding: 0 0 20px 0px;
}
@media(min-width:768px){
    .term-sec{padding: 100px 0px;}
}

/**************Footer Section***********/

.footer-section {
    background: #05071A;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

/* Floating Btn */

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#F19B10;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#E76D24;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.warning-sec{
    position: relative;
    display: inline-block;
}

.warning-sec::before{
    position: absolute;
    /* content: 'url(../images/warning.webp)'; */
    content:url('../images/warning.webp');
    left:0px;
    top:0px;

}
@media(min-width:767px){
    .warning-sec::before{
        position: absolute;
        /* content: 'url(../images/warning.webp)'; */
        content:url('../images/warning.webp');
        left:20px;
        top:0px;
    
    }
}
@media(min-width:1200px){
    .warning-sec::before{
        position: absolute;
        /* content: 'url(../images/warning.webp)'; */
        content:url('../images/warning.webp');
        left:125px;
        top:0px;
    
    }
}
