html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #020d13;
    font-size: 14px;
}
.white-clr {
    color: #fff;
}
.black-clr {
    color: #020d13;
}

/* Header Section CSS */
.header-section {
    background-color: #fff;
    padding: 5% 0;
}
.proudly-head {
    background: #f19b10;
    border-radius: 40px;
    padding: 9px 15px;
    display: inline-block;
}
.caveat {
    font-family: 'Caveat', cursive;
}
a.purple-clr {
    color: #00a4ff;
}
@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
    .proudly-head {
        padding: 9px 50px;
    }
}
@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}
.handsean {
    font-family: handsean;
}

/* Footer Section */
.footer-section {
    background: #05071A;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}
@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
}
.footer-ul li a:hover {
    color: #fff;
}

