@import url(style.css);
@import url(timer.css);

/* Generator Page css */

.whitesection {
    background: #fff;
    padding: 30px 0
}

.formsection {
    padding: 0 0 30px 0
}

.formsection .form_area input[type="text"],
.formsection .form_area input[type="text"]:focus {
    width: 100%;
    box-shadow: none;
    outline: 0;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background-color: #fff;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none !important;
    color: #000;
    padding: 6px 15px
}

.formsection .form_area::-webkit-input-placeholder {
    color: #666
}

.formsection .form_area:-ms-input-placeholder {
    color: #666
}

.formsection .form_area::placeholder {
    color: #666
}

.formsection .form_area input[type="submit"] {
    border-radius: 5px;
    background-image: -moz-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    text-decoration: none;
    border: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px 10px;
    line-height: 30px;
    font-weight: 700;
    outline: none;
    /* max-width: 550px; */
    white-space: normal;
}

.formsection .form_area input[type="submit"]:hover {
    background-image: -moz-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 172, 237)0%, rgb(23, 135, 229) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229)100%);
}

@media(min-width:768px) {
    .formsection .form_area input[type="submit"] {
        padding: 23px 20px
    }
    .formsection {
        padding: 30px 0 100px 0
    }
}


/* Generator Page css End */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}

.orange-clr {
    color: #ffa25b;
}

.purple-clr {
    color: #6e44ff;
}

.gradient-clr {
    background: #5425F5;
    background: linear-gradient(to right, #5425F5 30%, #f53789 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

span.highlight {
    border-bottom: solid 4px #fc6dab;
}


/* Main Header Section CSS */

.main-header {
    background: #001244;
    padding: 30px 0px;
}


/* Affiliate Bonus Buy Button */

a.bonusbuy-btn {
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    animation: glowing 5000ms infinite;
    border-radius: 100px;
    background-image: -moz-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
}

a.bonusbuy-btn:hover,
a.bonusbuy-btn:focus {
    transform: scale(1.05);
    transition: all .3s ease;
    background-image: -moz-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #01abec;
    }
    40% {
        box-shadow: 0 0 20px #01abec;
    }
    60% {
        box-shadow: 0 0 20px #01abec;
    }
    100% {
        box-shadow: 0 0 -10px #01abec;
    }
}

a.bonusbuy-btn1 {
    border-radius: 5px;
    background-color: #36c80f;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: normal;
    white-space: normal;
}

a.bonusbuy-btn1:hover,
a.bonusbuy-btn1:focus {
    background: #2cb508;
    text-decoration: none;
}


/* Bonus Header Section bg Start Main Css */

.bonus-header {
    padding: 30px 10px 0px 10px;
}

.heading-bg {
    background-color: #ee3725;
    border-radius: 10px;
    padding: 15px 15px;
    color: #ffffff;
}

.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #00aced;
    display: inline-block;
    text-transform: uppercase;
}

.section-bonus {
    padding: 30px 0px;
}

.bonus-title-color {
    color: #0e2672;
}

.bonus-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/kap-tick.webp) no-repeat;
    background-position: 0 5px;
    padding-left: 3rem;
    padding-bottom: 25px;
    list-style-type: none;
}

.bonus-list li:last-child {
    padding-bottom: 0px;
}


/* For Header Bg */

.dark-cta-sec {
    background: #321e77 url(../images/cta-bg-new.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
}

.cta-btn-section {
    padding: 30px 0px;
}

.huge-area {
    padding: 30px 0;
    background: #08041d;
}

.white-section {
    background: rgb(255, 255, 255);
    padding: 30px 15px;
}

@media(min-width:768px) {
    .main-header {
        background: #001244 url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 150px 0px;
    }
    .bonus-header {
        padding: 70px 0px 0px 0px;
    }
    .heading-bg {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/head-bg.webp);
        background-repeat: no-repeat;
        background-position: top center;
        padding: 50px 15px 100px 15px;
        background-size: 100% 100%;
    }
    a.bonusbuy-btn,
    a.bonusbuy-btn:focus {
        font-size: 32px;
        padding: 20px 50px;
    }
    a.bonusbuy-btn1,
    a.bonusbuy-btn1:focus {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
    .section-bonus {
        padding: 50px 0px;
    }
    .dark-cta-sec {
        padding: 100px 0 85px;
    }
    .huge-area {
        background: #08041d url(../images/prize-value.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 100px 0px;
        color: #fff;
    }
}


/* Exit Pop Up Css Start */

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}


/* #ouibounce-modal .modal-body {
	padding: 0px 20px;
	font-size: .9em
} */

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.modal-body {
    position: relative;
    padding: 15px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 30px;
    opacity: 1;
    outline: none;
    color: #300476 !important;
    font-weight: 400;
    background: #ffe8cc !important;
    top: 1px;
    position: absolute;
    z-index: 2;
    right: 1px;
    padding: 0px 5px 0px 5px !important;
}

.modal-header .close {
    margin-top: -5px;
}

.innerbody {
    border-radius: 10px;
    margin-top: -1%;
    float: left;
    width: 100%;
}

.popupbg {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/exitbg.webp) repeat;
    padding: 8px 0px;
}


/* Media Querry Start */

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/* Exclusive-Section */

.exclusive-bonus {
    background: #e95093;
    padding: 30px 15px;
}

.vidvee-orange-clr {
    color: #ff6a3d;
}


/**********vidvee    ********/

.vidvee-header-section {
    background: #2f0088;
    padding: 30px 0px;
}

.vidvee-key-features-bg ul li {
    background: url(../images/vidvee-launch-tick-blue.webp) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 13px;
    text-align: left;
    border: none;
}

.vidvee-pre-heading {
    background: #ffffff;
    padding: 10px;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    text-align: center;
}

.vidvee-key-features-bg {
    padding: 25px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

@media(min-width:768px) {
    .vidvee-header-section {
        background: #2f0088 url(../images/vidvee-header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .vidvee-pre-heading {
        background: url(../images/vidvee-pre-shape.webp) no-repeat center center;
        background-size: contain;
        padding: 30px 40px 30px 135px;
        border-radius: 0px;
        text-align: left;
    }
    .vidvee-key-features-bg {
        padding: 50px;
    }
}


/***** Buzzify ******/

.buz-header-section {
    background: rgb(9, 20, 120);
    background: -moz-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1);
    padding: 30px 0 30px 0px;
}

.skew-con {
    transform: skew(5deg);
}

.yellow-clr {
    color: #f4f70c;
}

.pre-heading-b {
    background: #ced0e2;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}

.key-features-bg-b {
    padding: 15px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgb(9, 20, 120);
    background: -moz-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1);
    border-radius: 10px;
}

.list-head-b li {
    background: url(https://cdn.oppyo.com/launches/jobiin/special/table-tick.webp) no-repeat;
    padding: 10px 0px 10px 30px;
    background-position: 0px 12px;
    text-align: left;
    border-bottom: solid 1px #ffb80f;
    list-style: none;
}

@media(min-width:768px) {
    .buz-header-section {
        background: #091274 url(../images/header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 40px 0px 300px 0px;
    }
    .skew-con {
        transform: skew(10deg);
    }
    .pre-heading-b {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
    .key-features-bg-b {
        padding: 25px;
        margin-top: -200px;
    }
}


/***** Buzzify ******/


/*** Ninja Kash ****/

.grand-logo-bg {
    background: #ffffff;
    padding: 2% 0;
}

.header-section-n {
    background: #080d21;
    padding: 30px 0px;
}

.orange,
a.orange {
    color: #ff7200;
}

.post-heading-n {
    padding: 6px;
    display: inline-block;
    border-radius: 65px;
    background-color: rgb(211, 223, 243);
    box-shadow: inset 0px 4px 10px 0px rgb(0 0 0 / 35%), inset 2.828px -2.828px 10px 0px rgb(255 255 255 / 35%);
    color: #080d1a;
}

@media (min-width: 468px) {
    .header-section-n {
        background: #080d21 url(../images/header-bg-n.webp) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 140px 0px;
    }
    .post-heading-n {
        padding: 6px 30px;
    }
}


/*** Ninja Kash ****/


/* VidRankXpress */

.vidrankxpress-header-section {
    background: #171a1d url(../images/vidrankheader.webp) no-repeat top center;
    background-size: cover;
    padding: 30px 0px;
}

.red-color {
    color: #dd3c47;
}

.vidrangexpress-features li {
    background: url(../images/bulleticon.webp) no-repeat;
    list-style: none;
    padding-bottom: 10px;
    padding-left: 40px;
    background-position: 2px 3px;
    line-height: 28px;
}

@media (min-width:768px) {
    .vidrankxpress-header-section {
        padding: 7% 0% 11%;
    }
    .tstrip1 {
        background: url(../images/tstrip1.webp) no-repeat;
        padding: 2px 10px;
        background-size: cover;
    }
    .tstrip2 {
        background: url(../images/tstrip2.webp) no-repeat;
        padding: 2px 13px;
        background-size: cover;
    }
    .tstrip3 {
        background: url(../images/tstrip3.webp) no-repeat;
        padding: 2px 10px;
        background-size: cover;
    }
}


/*********************Top To Bottom****************/

#button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    background-color: #ffe400;
    border-radius: 50%;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: rgb(97, 64, 64);
}

#button.show {
    opacity: 1;
    visibility: visible;
}


/* Styles for the content section */