html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #00081d;
    font-size: 14px;
    overflow-x: hidden;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #00081d !important;
}

.yellow-clr {
    color: #ffe400;
}

.blue-clr {
    color: #0e2672;
}

.purple-clr {
    color: #d3a9ff;
}

span.highlight {
    border-bottom: solid 4px #fc6dab;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.d-inline-flex {
    display: inline-flex;
}

.relative {
    position: relative;
}

@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .xstext-center {
        text-align: center;
    }
}


/* Header Section Css Start */


.list-head {
    list-style: none;
}

.list-head li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/list-tick.webp) no-repeat;
    padding: 8px 0px 8px 30px;
    background-position: 0px 11px;
    text-align: left;
    border-bottom: solid 1px rgb(11, 11, 49);
}

.list-head li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.list-head li:first-child {
    padding-top: 0px;
}

@media (min-width:768px) {
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
}


/* Header Section Css End */

/* Second Section Start */
.second-section {
    padding: 0px 0px 30px 0px;
}

ul.features-list {
    margin: 0px;
    padding: 0px;
}

ul.features-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

/* .header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin-top: -200px;
    background: url(https://cdn.oppyo.com/launches/viddeyo/jv/awesome-shape.png) no-repeat center center;
    background-size: cover;
} */

@media (min-width:768px) {
    .second-section {
        padding: 0px 0px 85px 0px;
    }
    /* .header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    } */
}

/* Second Section End */

/* Step Section Start */
.step-section {
	background: #ffffff;
	padding: 30px 0px;
}

.step-shape {
	border-radius: 6px;
	background-color: rgb(255, 228, 0);
	text-align: center;
	font-weight: 800;
	font-size: 20px;
	color: #000000;
	padding: 12px 20px;
	display: inline-block;
}

ul.list-item {
	margin: 0px 0px 0px 20px;
	padding: 0px;
}

ul.list-item li {
	margin-bottom: 10px;
}

ul.list-item li::marker {
	color: #001365;
	font-size: 23px;
}

@media (min-width:768px) {

    .step-section {
		padding: 100px 0px;
		background: #ffffff url(https://vocalic.co/special/assets/images/step-section-bg.webp) no-repeat center center;
        background-attachment: fixed;
	}

	.step-arrow1 {
		position: relative;
		bottom: -90px;
	}
}


/* Step Section End */

.third-section {
	background: #eff2ff;
	padding: 30px 0;
}
.header-list-block {
	border-radius: 20px;
	padding: 20px 0px;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	background: #ffffff;
}

@media (min-width:768px) {
	.third-section {
		padding: 100px 0px;
	}
    .header-list-block {
		border-radius: 20px;
		padding: 40px 20px;
	}
}

/* Feature list section */
.feature-list {
	padding: 30px 0px;
}

.feature-list-box {
	border-radius: 10px;
	background-color: #06103c;
	padding: 0px 30px 30px 30px;
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 83px;
	height: calc(100% - 83px);
}

.feature-list-box .icon-position {
	margin-top: -83px;
}

.feature-list-box .description {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 15px;
	color: #fff;
}

@media (min-width: 768px) {
	.feature-list {
		padding: 100px 0px 100px 0px;
		background: #fff url(https://vocalic.co/special/assets/images/feature-section.webp) no-repeat center center;
		background-size: cover;
	}
}

/* Feature list section End*/

/* video-section Start */
.video-section{
    padding: 30px 0;
    background-color: #ffffff;
}
@media (min-width:768px) {
    .video-section{
        padding: 100px 0;
    }  
}
/* video-section End */

/* Demo section css*/
.demo-sec {
	background: #ffffff url(https://vocalic.co/special/assets/images/demo-sec-bg.webp) no-repeat center top;
	background-size: cover;
	padding: 60px 0px 30px 0px;
}

@media (min-width: 768px) {
	.demo-sec {
		padding:160px 0px 100px 0px;
	}
}


/* proof Section Start */

.proof-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .proof-section {
        padding: 45px 0px;
    }
}


/* proof Section End */


/* Know Section Css */
.know-sec {
	padding: 30px 0px 0px 0px;
    background: #eff1fe;
}

@media (min-width:768px) {
	.know-sec {
		padding: 70px 0px 0px 0px;
		background: #eff1fe url(https://vocalic.co/special/assets/images/know-bg.webp) center center no-repeat;
		background-size: cover;
	}

	.f-md-80 {
		font-size: 80px;
	}
    .arrow1{
        position: absolute;
        top: -130px;
        right: -80px;
    }
    .arrow {
        position: absolute;
        top: -237px;
        left: -105px;
    }
    .arrow2 {
        position: absolute;
        top: -164px;
        right: -66px;
    }
}

/* Know Section Css End */

.red-shape {
    background: #00aced;
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}

.red-shape:after {
    content: '';
    background: url(../images/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media(min-width:768px){
    .red-shape {
        padding: 10px 40px;
        border-radius: 50px;
    }
}

/* Stats Section Css */
.stats-sec {
	padding: 30px 0px;
	background: #ffffff;
}

.stats-block {
	border-radius: 20px;
	background-color: rgb(232, 237, 255);
	padding: 20px;
	height: 100%;
}

.stats-block .content {
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 15px 0px rgba(4, 6, 21, 0.1);
	padding: 20px;
	text-align: center;
}

.stats-wrapper {
	padding: 20px;
	border-radius: 30px;
	background-image: -moz-linear-gradient(90deg, rgb(0, 16, 132) 0%, rgb(0, 17, 58) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(0, 16, 132) 0%, rgb(0, 17, 58) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(0, 16, 132) 0%, rgb(0, 17, 58) 100%);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.over-shape {
    background: url(https://cdn.oppyo.com/launches/webpull/special/over-shape.webp) no-repeat center center;
    display: inline-block;
    padding: 0px 20px;
    background-size: 100% 100%;
}

@media (min-width:768px) {
	.stats-sec {
		padding: 100px 0px;
		background: #fff url(https://cdn.oppyo.com/launches/vocalic/special/stats-bg.webp) center bottom no-repeat;
		background-size: cover;
	}

	.stats-wrapper {
		padding: 60px;
	}
    .over-shape {
        padding: 16px 60px;
        background-size: 100%;
    }
}

/* Stats Section Css End */

/* Proudly Section */
.proudly-sec {
	background: #fff url(https://cdn.oppyo.com/launches/vocalic/special/proudly-bg.webp) center top no-repeat;
	background-size: cover;
	padding:120px 0px 30px 0px;
}

ul.proudly-list {
    margin: 0px;
    padding: 0px;
}
ul.proudly-list li {
    background: url(https://cdn.oppyo.com/launches/vocalic/special/icon.webp) no-repeat;
    padding: 0px 0px 25px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.proudly-list li:last-child {
    padding-bottom: 0px;
}
.proudly-list-bg {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
    padding: 15px;
}
@media (min-width:768px) {
	.proudly-sec {
		padding: 130px 0px 100px 0px;
	}
    .proudly-list-bg {
        padding: 30px;
    }
}
/* Proudly Section End */

.per-shape {
    background: url(https://cdn.oppyo.com/launches/vocalic/jv/presenting-shape.webp) center center no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 20px 55px 30px 55px;
}

/* Team Section Sart */

.new-dcp-team-section {
    background: #ffffff;
    padding: 0px 0px 30px 0px;
}

.heading-design {
    padding: 12px 15px;
    display: inline-block;
    background-color: rgb(110, 68, 255);
    border-radius: 65px;
    margin-top: -32px;
}

.awesome-shape {
    padding: 0px 15px 15px 15px;
    background: #ebe1f3;
    width: 100%;
    float: left;
    box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 6%);
    border-radius: 20px;
    top: -200px;
    position: relative;
}

@media (min-width: 768px) {
    .new-dcp-team-section {
        padding: 0px 0px 100px 0px;
    }
    .heading-design {
        padding: 12px 50px;
        margin-top: -47px;
    }
    .awesome-shape {
        padding: 0px 50px 50px 50px;
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/awesome-shape.webp) no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
}


/* Team Section End */


/* Thatsall Section Start */

.thatsall-section {
    padding: 0px 0px 230px 0px;
    background: #030b0f url(https://cdn.oppyo.com/launches/viddeyo/special/here-are-some.svg) no-repeat center center;
    background-size: cover;
}

.content-box {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 0px rgb(12 11 17 / 15%);
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;
}

.content-box .stats {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    min-width: 120px;
    justify-content: center;
    text-align: center;
    line-height: 58px;
    background-image: -moz-linear-gradient( -45deg, rgb(70, 24, 227) 0%, rgb(158, 40, 182) 51%, rgb(245, 55, 137) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(70, 24, 227) 0%, rgb(158, 40, 182) 51%, rgb(245, 55, 137) 100%);
    background-image: -ms-linear-gradient( -45deg, rgb(70, 24, 227) 0%, rgb(158, 40, 182) 51%, rgb(245, 55, 137) 100%);
}

.content-box .stats.flex-wrap {
    flex-direction: column;
    line-height: 40px;
}

.content-box .stats span {
    font-size: 28px;
}

.content-box .title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
}

.number-shape {
    position: relative;
    display: inline-block;
    width: auto;
}

.text-element {
    display: inline-block;
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/textelement.webp) no-repeat center center;
    background-size: 100% 100%;
}

.every-business-shape {
    background: #fc6dab;
    padding: 20px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .thatsall-section {
        padding: 0px 0px 100px 0px;
    }
    .f-md-70 {
        font-size: 70px;
    }
    .that-arrow {
        position: absolute;
        top: -70px;
        right: -80px;
    }
    .content-box .title {
        font-size: 24px;
        line-height: 34px;
    }
    .arrow1 {
        position: absolute;
        top: 33%;
        left: 11px;
    }
    .text-element {
        padding: 8px 45px;
    }
}

@media (min-width: 1600px) {
    .that-man {
        position: absolute;
        bottom: 0px;
        right: -10px;
        display: block !important;
    }
    .that-camera {
        position: absolute;
        top: 50%;
        left: 5%;
        display: block !important;
    }
}


/* Thatsall Section End */


/* Thatsall Section Start */

.compact-section {
    padding: 30px 0px;
    background: #f4f3f9 url(https://cdn.oppyo.com/launches/viddeyo/special/second-section.webp) no-repeat center center;
    background-size: cover;
}

.compact-section .box {
    background: #ffffff;
    float: left;
    position: relative;
    padding: 15px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 25px 0px rgb(12 11 17 / 15%);
    height: 100%;
}

.compact-section .box .title {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 22px;
}

.compact-section .box .title:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 61%;
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/arrow-down.webp) no-repeat center center;
    width: 64px;
    height: 95px;
}

@media (min-width: 768px) {
    .compact-section {
        padding: 100px 0px;
    }
    .compact-section .box .title {
        font-size: 24px;
    }
    .gx-6 {
        --bs-gutter-x: 5rem;
    }
}


/* Compact Section End */


/* Problem there Section Start */

.problem-bg-section {
    background: #ffbdbd url(https://cdn.oppyo.com/launches/viddeyo/special/problem-sec.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px;
}

.problem-bg-section1 {
    background: #fff1f1;
    padding: 30px 0px;
}

.problem-bg-section2 {
    padding: 30px 0px;
    background: #ffbdbd url(https://cdn.oppyo.com/launches/viddeyo/special/problem-bg1.webp) no-repeat top center;
    background-size: cover;
}

.converting-shape1 {
    background-color: #ff2323;
    padding: 10px;
    display: inline-block;
    border-radius: 65px;
    margin-top: 10px;
}

.butnot-shape {
    background-color: rgb(110, 68, 255);
    padding: 10px 15px;
    display: inline-block;
    border-radius: 65px;
    margin-top: 10px;
}

.problme-area-shape,
.problme-area-shape1 {
    width: 100%;
    float: left;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    margin-top: -20px;
}

.z-index9 {
    z-index: 9;
}

.problme-shape1 {
    border-radius: 20px;
    background-color: #ffffff;
    width: 100%;
    float: left;
    padding: 15px;
}

@media (min-width: 768px) {
    .converting-shape1 {
        border-radius: 65px;
        padding: 15px 40px 15px 40px;
    }
    .butnot-shape {
        border-radius: 65px;
        padding: 15px 40px 15px 40px;
    }
    .problem-bg-section {
        padding: 100px 0px 150px 0px;
    }
    .problem-bg-section1 {
        padding: 50px 0px 50px 0px;
    }
    .problem-bg-section2 {
        padding: 100px 0px;
    }
    .problme-area-shape {
        width: calc(100% + 70px);
        float: left;
        padding: 30px 30px 30px 70px;
        margin-left: -70px;
        z-index: 0;
        margin-top: 0px;
    }
    .problme-area-shape1 {
        width: calc(100% + 70px);
        float: left;
        padding: 30px 70px 30px 30px;
        margin-right: -70px;
        z-index: 0;
        margin-top: 0px;
    }
    .f-md-70 {
        font-size: 70px;
    }
    .problme-shape1 {
        padding: 30px;
    }
}


/* Problem there Section End */




.new-steps-bg {
    background: #f4f3f9 url(https://cdn.oppyo.com/launches/viddeyo/special/second-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .new-steps-bg {
        padding: 100px 0px 100px 0px;
    }
}

/* Testimonial Section Start */

.testimonial-section {
    background: #eff2ff;
    padding: 30px 0px;
}

@media(min-width:768px) {
    .testimonial-section {
        padding: 70px 0px;
    }
}


/* Testimonial Section End */

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.preheadline {
    background: #ffe400;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    font-style: italic;
}


/* Jobiin Section */

.jobiin-header-section {
    background: #141516 url(../images/jobiin-header-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 230px 0px;
    position: relative;
}

@media(min-width:768px) {
    .jobiin-header-section {
        padding: 40px 0px 250px 0px;
    }
}

.jobiin-header-section .headline-highlight {
    color: #ffb80f;
}

@media (min-width: 768px) {
    .jobiin-header-section .headline-highlight {
        background: url(https://cdn.oppyo.com/launches/jobiin/special/heading-shape.svg) no-repeat center center;
        background-size: cover;
        display: inline-block;
        color: #000000;
        padding: 8px 53px 8px 26px;
    }
}

.grey-clr {
    color: #d5d1d1;
}

.jobiin-second-section {
    padding: 0px 0px 30px 0px;
}

@media(min-width:768px) {
    .jobiin-second-section {
        padding: 0px 0px 100px 0px;
    }
}

.z-index-9 {
    z-index: 9;
}

.jobiin-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin-top: -200px;
    background: #ffffff;
}

@media (min-width: 768px) {
    .jobiin-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    }
}

/* videowhizz-header-section Start*/
.videowhizz-bg
{
    background-color: #fff;
    padding: 30px 0px;
}
.videowhizz-header-section
{ 
    padding: 0px 0px 30px 0px; 
    background: #3a315a;
}
.videowhizz-header-section .highlight
{    
    color: #ffae00; 
    border-bottom: 0px;
}
@media(min-width:768px){
    .videowhizz-header-section
    {
        background: #3a315a url(../images/videowhizz-bg.webp) no-repeat;
        padding: 0px 0px 100px 0px;
        color: #FFF;
        background-size: cover;
    }
}
/* videowhizz-header-section End*/

.list-section {
    padding: 0px 0px 30px 0px;
    background: #ffffff;
}

@media(min-width:768px) {
    .list-section {
        padding: 0px 0px 50px 0px;
    }
}
.header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    /* margin-top: -90px; */
}

@media(min-width:768px) {
    .header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }
}