.container {
    height: unset;
}

.inner-content {
    height: unset;
}

body {
	font-family: 'Spartan', sans-serif;
	color: #000000;
	font-size: 14px;
}
.black-clr {
    color: #000000;
}

.black-clr1 {
    color: #010101;
}


/* Header Section CSS */

.header-section {
    background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    padding: 30px 0;
}
.yellow-clr {
    color: #fff600;
}
span.under {
    border-bottom: 4px solid;
}
.fifth-section {
	background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    padding: 30px 0px 30px 0;
}

.limitless-section {
    background: #ffffff;
    padding: 2% 0 3%;
}

.feature-tick li {
    background: url(../images/tick-icon.png) no-repeat;
    padding: 20px 0px 0px 42px;
    background-position: 1px 27px;
    list-style: none;
}

.content-mbl-space {
    background: #ffffff;
    padding: 30px 0px;
}

.unfair-section {
    background: #fff9f2;
    padding: 30px 0px 30px 0px;
}

@media(min-width:768px) {
    .unfair-section {
        background: #ffe8cc url(../images/uabg.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
    .header-section {
        background: #091478 url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .fifth-section {
        background: #043da5 url(../images/proudlybg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0 100px 0px;
    }
}

.logo-height {
    max-height: 45px;
}

.white-clr {
    color: #ffffff;
}

.white-blue {
    color: #70abff;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}

.affiliate-link-btn a {
    border-radius: 45px;
    background-color: #f8e71c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    padding: 9px 33px;
    font-size: 16px;
    color: #050b23;
    font-weight: 800;
}

.affiliate-link-btn a:hover {
    background: #decf18;
}

.popup-btn a:hover,
.popup-btn input[type="submit"]:hover,
.af-btn a:hover {
    background: #4f5db5;
}

.highlihgt-heading {
    padding: 25px 50px 30px 150px;
    background: url('../images/heading-bg.png') no-repeat center center;
    box-shadow: none;
    background-size: 100% 100%;
}

.second-section {
    padding: 5% 0;
}

.date-section-bg {
    background: url(../images/date-bg-image.png) no-repeat center center;
    background-size: contain;
}

.xstext-center {
    text-align: center;
}

.formbg {
    padding: 20px;
}

@media(min-width:768px) {
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
    /* .line-center { */
    /* transform: skew(20deg); */
    /* } */
}

.formbg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.form-control.input-field {
    border-width: 1px;
    border-color: rgb(164, 164, 164);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 12px;
}

::-webkit-input-placeholder {
    color: #797979 !important;
}

::-moz-placeholder {
    color: #797979 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

:-moz-placeholder {
    color: #797979 !important;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 5px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 13px 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 0;
    outline: none;
}

.xscenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pre-box {
    border-radius: 10px;
    padding: 5%;
}

.af-box {
    padding: 8% 3%;
}

.pl-shape,
.l-shape,
.af-shape,
.af-dots {
    display: none;
}

@media(min-width:768px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .form-control.input-field {
        height: 58px;
    }
    .pre-box {
        border-radius: 50px;
        padding: 3% 0;
    }
    .af-box {
        padding: 5%;
    }
    .pfbox {
        height: 185px;
    }
    .pl-shape,
    .l-shape,
    .af-shape,
    .af-dots {
        display: block;
        position: relative;
        z-index: 1;
    }
    .pl-shape img {
        position: absolute;
        top: -18px;
        right: 18px;
        z-index: 1;
    }
    .l-shape img {
        position: absolute;
        bottom: -65px;
        left: 25px;
        z-index: 1;
    }
    .af-shape img {
        position: absolute;
        bottom: -44px;
        right: 35px;
        z-index: 1;
        height: 160px;
    }
    .af-dots img {
        position: absolute;
        top: -10px;
        left: 60px;
        z-index: 1;
    }
}

.form-shape {
    position: relative;
    z-index: 1;
}

.form-shape img {
    position: absolute;
    top: -40px;
    left: -41px;
    z-index: -1;
}

.relative {
    position: relative;
}

.third-section {
    background: #fff6eb;
    padding: 30px 0;
}

.kapblue {
    color: #0041b5;
}

.pre-box {
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.h-line {
    background-color: rgb(206, 212, 216);
    height: 2px;
    width: 100%;
}

.pl-tick li {
    background: url("../images/pl-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.l-tick li {
    background: url("../images/l-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.xs-max-height165 {
    max-height: 165px;
}

.thats-not-all-section {
    background: #ffffff;
    background-size: cover;
    padding: 30px 0px;
}

.one-time-shape {
    padding: 10px;
    background: #224cb0;
    border-radius: 5px;
}

@media(max-width:767px) {
    .highlihgt-heading {
        background: #ffffff;
        padding: 12px 20px;
        border-radius: 4px;
        display: inline-block;
        box-shadow: 0.927px 2.853px 4.8px 0.2px rgba(21, 21, 33, 0.3);
    }
    .limitless-section {
        background: #ffffff;
        padding: 2% 0;
    }
    .content-mbl-space {
        background: #ffffff;
        padding: 30px 0px;
    }
    .plxs0 {
        padding-left: 0;
    }
}

.fourth-section {
    background: #fff;
    padding: 30px 0px;
}

.amazing-software-section1 {
    background: #edeefc;
    background-size: cover;
    padding: 30px 0;
}

@media(min-width:767px) {
    .xs-max-height165 {
        max-height: 100%;
    }
    .one-time-shape {
        background: url(../images/one-time-shape.png) no-repeat center center;
        background-size: contain;
        border: 0px;
        border-radius: 0px;
        padding: 22px 15px 70px;
    }
    .thats-not-all-section {
        background: url(../images/white-section-bg.png) no-repeat;
        padding: 100px 0px 100px;
        background-size: cover;
        background-position: top center;
    }
    .mt-sm120 {
        margin-top: 120px;
    }
    .fourth-section {
        padding: 40px 0px 90px;
    }
    .imahe-h-400 {
        height: 400px;
    }
    .imahe-h-300 {
        height: 400px;
    }
    .imahe-h-250 {
        height: 350px;
    }
    .amazing-software-section1 {
        background: #fff6eb url(../images/blue-section-bg.png) no-repeat center center;
               padding: 80px 0;
    }
}

.af-box {
    border-radius: 25px;
    background-color: rgb(239, 243, 246);
}

.pfbox {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
    padding: 30px 20px;
}

.af-btn a {
    border-radius: 30px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 10px 10px;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.leader-ul li a,
.leader-ul li a:hover,
.leader-ul li a:focus {
    text-decoration: none;
}

.sixth-section {
    background: #eff3f6 url("../images/wave-dots.png") no-repeat center center;
    background-size: cover;
    padding: 3% 0 5%;
}

.seventh-section1 {
    background: #eff3f6;
    padding: 3% 0 5%;
}

a.alink,
a.alink:hover,
a.alink:focus {
    text-decoration: none;
    color: #5c6ac4;
}

.seventh-section {
    background: url("../images/dot-shape.png") no-repeat center center;
    padding: 5% 0;
}

.lightcolor {
    color: #deff00;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.feature-section {
    background: #fff url(../images/feature-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section {
    background: #eff3f6 url(../images/software-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section img {
    max-height: 141px;
}

.leaderboard-section {
    background: #eff3f6 url(../images/leaderboard-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.contact-section {
    background: #fff url(../images/contact-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.prize-section {
    background: #22103b;
    background-size: cover;
    padding: 4% 0;
}

.funnel-section {
    background: #eff3f6 url(../images/funnel-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.theme-clr {
    color: #224cb0;
}

.clear {
    clear: both;
}

.white-section {
    background: #fff;
    padding: 30px 0;
}

.vendor-section {
    background: #fff url(../images/dots.png) no-repeat right center;
    padding: 4% 0;
}

.name-box {
    background: #5c6ac4;
    padding: 0px 30px;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.xscenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.xs-text-center,
.xs-text-center1 {
    text-align: center;
}
.orange-clr {
    color: #f57c25;
}
@media(min-width:768px) {
    .footer-section {
        padding:70px 0px;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}

.bottom-icon img {
    position: fixed;
    bottom: 0;
    right: 8px;
    z-index: 999
}

.vidborder {
    border: 2px solid #9a9a9a;
}

a.link-text {
    color: #000;
    text-decoration: none;
}

.probtn a {
    border-radius: 10px;
    background-color: #224cb0;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 12px;
    color: #ffffff;
    font-weight: 600;
}

.probtn a:hover {
    background-color: #315dc6;
}


/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    width: 100%;
    float: left;
    background: #224cb0;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    position: relative;
}

ul.vgreytick {
    padding: 0px 0px;
}

ul.vgreytick li {
    background: url(../images/vgreytick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #000;
}

ul.vgreytick li:nth-child(odd) {
    background-color: #ecebeb;
}

ul.vgreytick li:nth-child(even) {
    background-color: #fff;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px 0px;
}

ul.grey-tick-last li {
    background: url(../images/vgreytick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #ffffff;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #070f5c;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #091374;
}

ul.vgreentick li {
    background: #ffffff url(../images/vgreentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 20px;
    line-height: 150%;
    color: #301541;
}

.tbbg2-text {
    color: #1d7773;
}

.tbbg2 {
    background: #ffffff;
    padding: 50px 30px 30px 30px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

.tbbg3 {
    background: rgb(9,20,120);
    background: -moz-linear-gradient(0deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(0deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}

.bought-text {
    background: #ffeb09;
    padding: 8px 10px;
    border-radius: 10px 10px 0px 0px
}

@media (min-width:768px) {
    .probtn a {
        padding: 27px 50px;
    }
    .tbbg2 {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
    }
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px;
    }
    .mt-sm-170 {
        margin-top: 95px
    }
    .mt-sm-90 {
        margin-top: 90px
    }
    .mt-sm-50 {
        margin-top: 50px
    }
}

.buypad {
    padding: 4% 3%;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}

.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    color: #000;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
}

.myfeatureslastborder {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}

.ribbonimg {
    position: absolute;
    top: 100px;
    right: 0px;
    height: 50px;
}

.xs-height125 {
    height: 125px;
}

.xs-height50 {
    height: 55px;
}

@media(min-width:240px) {
    .ribbonimg {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 90px;
    }
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.thanks-button a:hover {
    color: #224cb0;
}

@media(min-width:768px) {
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    }
    /* .thanks-button a {
        font-size: 24px;
    } */
    .myfeatureslast {
        padding: 30px;
    }
	.f-md-70 {
		font-size: 70px;
	}
}


/*Table CSS End*/

.grey-section {
    background: #edeefc;
    padding: 30px 0;
}

.moneyback-section {
	background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background-size: cover;
    padding: 30px 0;
}

.license-section {
    background: #fae4c9 url(../images/proudlybg.png) no-repeat center center;
    background-size: cover;
    padding: 5% 0;
}

.mt25 {
    margin-top: 25px;
}

.bonus-section {
    background: #ecebeb;
    background-size: cover;
    padding: 30px 0;
}

.table-section {
    background: #ffffff;
    padding: 4% 0;
}

@media (min-width:768px) {
    .table-section {
        padding: 70px 0 100px 0px;
        background: url(../images/pricing-table-bg.png) no-repeat !important;
        background-position: center center !important;
    }
    .bonus-section {
        background: #ffffff url(../images/bonus-bg.png) no-repeat center bottom;
        background-size: cover;
        padding: 70px 0px 120px 0px;
        border-bottom: 0px;
    }
    .moneyback-section {
        background: #ffffff url(../images/moneyback-bg.png) no-repeat bottom center;
        background-size: cover;
        padding: 120px 0 100px;
    }
    .license-section {
        background: #fae4c9 url(../images/proudlybg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
    .mt-sm240 {
        margin-top: 240px;
    }
    .mt-sm0 {
        margin-top: 0px !important;
    }
}



.bonus-count {
    background: #5c6ac4;
    display: inline-block;
    padding: 10px 29px;
    border-radius: 15px;
}

.grey-clr {
    color: #d6d6d6;
}

.promo-icon {
    position: absolute;
    left: 15px;
    top: -20px;
    display: none;
}

.promo-icon1 {
    position: absolute;
    left: 15px;
    top: -20px;
    display: block;
}

.but-design {
    background: #ffcf69;
    padding: 15px 30px;
    display: inline-block;
    border: solid 5px #000000;
    border-top: hidden;
}


/*-------- Responsive ------------*/

@media (min-width:768px) {
    .but-design {
        background: url(../images/but-that-bg.png) no-repeat;
        padding: 11px 50px 50px 51px;
        background-position: bottom center;
        background-size: 100% 100%;
        border: hidden;
    }
    .promo-icon1 {
        position: absolute;
        left: 0px;
        top: -20px;
        display: block;
    }
    .promo-icon {
        position: absolute;
        left: 0px;
        top: -23px;
        display: block;
    }
    .white-section {
        padding: 100px 0;
        background: url(../images/white-section-bg.png) no-repeat;
        background-position: center center;
    }
    .third-section {
        padding: 100px 0;
    }
    .grey-section {
        background: url(../images/blue-section-bg.png) no-repeat;
        padding: 100px 0px 100px;
        background-position: center center;
    }
}
/* .tbbg3:before {
    content: '';
    position: absolute;
    background: url(../images/most-popular.png) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 0px;
    top: 0px;
} */
@media (min-width: 768px){
    .prdly-pres {
        background: url(../images/prdly-pres.png) no-repeat top center !important;
        background-size: 100% 100%!important;
        padding: 41px 100px 76px 100px!important;
    }
}
.prdly-pres {
    background: url(../images/prdly-pres.png) no-repeat top center;
    background-size: 100% 100%;
    padding: 15px 50px 30px 50px;
    display: inline-block;
}
.probtn1 a {
    border-radius: 10px;
    background-color: #f57c25;
    box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.45);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}
@media (min-width: 768px)
{
    .probtn1 a {
		font-size: 38px;
		padding: 28px 30px;
    }
}
.probtn1 a:hover {
    background-color: #fa9045;
    text-decoration: none;
}
.second-section {
    padding: 30px 0px;
    background: #ecebeb;
}
@media (min-width: 768px){
    .second-section {
        padding: 100px 0 !important;
        background: url(../images/blue-section-bg.png) no-repeat !important;
        background-position: center center !important;
    }
}
.post-heading {
    background: #ffcf69;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
}


