html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #00081d;
    font-size: 14px;
    overflow-x: hidden;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

video {
    width: 100%;
    height: 100%;
}


/* Color CSS */

.white-clr {
    color: #fff;
}

.black-clr {
    color: #00081d !important;
}

.yellow-clr {
    color: #ffe400;
}

.blue-clr {
    color: #0e2672;
}


/* Header CSS */

.header-section {
    background: #001244;
    padding: 30px 0px;
}

ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.leader-ul li {
    display: inline-block;
    padding: 0px 7px;
    font-weight: 600;
    color: #ffffff;
}

.header-section ul.leader-ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

a.affiliate-link-btn {
    border-radius: 60px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    color: #0f172b;
    font-weight: 700;
}

a.affiliate-link-btn:hover {
    background: #ffe400;
}

.preheadline {
    background: #ffe400;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
}

.post-heading {
    border-top: 1px solid #3a55a5;
    border-bottom: 1px solid #3a55a5;
    padding: 20px 0;
    display: inline-flex;
}

@media(min-width:768px) {
    .header-section {
        background: #001244 url(https://cdn.oppyo.com/launches/vocalic/jv/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    a.affiliate-link-btn {
        padding: 15px 25px;
        font-size: 18px;
    }
}


/* Header End */


/*******Second******/

.second-section {
    padding: 0px 0px 30px 0px;
}

.header-list-block {
    padding: 20px 5px 20px 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 23.75px 1.25px rgba(0, 0, 0, 0.2);
}

ul.features-list {
    margin: 0px;
    padding: 0px;
}

ul.features-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
    padding: 0px 0px 30px 45px;
    background-position: 10px 5px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0;
}

@media (min-width: 768px) {
    .second-section {
        padding: 0px 0px 100px 0px;
        background: url(https://cdn.oppyo.com/launches/vocalic/jv/second-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    }
    ul.features-list li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
        padding: 0px 0px 30px 45px;
        background-position: 0px 3px;
        list-style: none;
    }
}


/*******Second******/


/* Form Section */

.form-section {
    padding: 30px 0px 30px 0px;
    background: #ffffff;
}

.formbg {
    position: relative;
    padding: 15px;
    background: #000 url(https://cdn.oppyo.com/launches/vocalic/jv/form-bg.webp) no-repeat center bottom;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px rgba(12, 11, 17, 0.15);
}

.form-control.input-field {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 51px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none !important;
    color: #08041e;
    padding: 6px 15px;
}

.form-btn input[type="submit"] {
    border-radius: 5px;
    background-image: -moz-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    text-decoration: none;
    border: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px 10px;
    line-height: 30px;
    font-weight: 700;
    outline: none;
    max-width: 550px;
    white-space: normal;
}

.form-btn input[type="submit"]:hover {
    background-image: -moz-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 172, 237)0%, rgb(23, 135, 229) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229)100%);
}

.affiliate-btn a {
    border-radius: 5px;
    background-color: rgb(255, 56, 36);
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    padding: 15px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    text-transform: capitalize;
    max-width: 460px;
    animation-name: hang-sink, hang;
    animation-duration: .3s, 1s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
}

@keyframes hang-sink {
    100% {
        transform: translateY(8px)
    }
}

@keyframes hang {
    0% {
        transform: translateY(8px)
    }
    50% {
        transform: translateY(4px)
    }
    100% {
        transform: translateY(8px)
    }
}

@media (min-width: 768px) {
    .form-section {
        padding: 100px 0px 0px 0px;
        background: #ffffff;
    }
    .formbg {
        padding: 40px 80px 50px 80px;
        border-radius: 20px;
        box-shadow: 0px 0px 25px 0px rgb(12 11 17 / 15%);
    }
    .form-control.input-field {
        height: 60px;
        font-size: 20px;
    }
    .popup-btn input[type="submit"] {
        padding: 10px 10px;
    }
    .affiliate-btn a {
        padding: 20px 20px;
        max-width: 460px;
    }
}


/* Form Section End*/

.exciting-launch {
    padding: 30px 0px 100px 0px;
    background: #121b3c url(https://cdn.oppyo.com/launches/vocalic/jv/exciting-launch.webp) no-repeat center bottom;
    background-size: cover;
}

ul.launch-list {
    margin: 0px;
    padding: 0px;
}

.launch-list li {
    padding: 0px 0px 16px 0px;
    color: #ffffff;
}

::marker {
    color: #00aced;
}

@media (min-width: 768px) {
    .exciting-launch {
        padding: 100px 0px 200px 0px;
    }
}

.hello-awesome {
    background: #ffffff;
    padding: 0px 0px 30px 0px;
}

.heading-design {
    padding: 20px 68px;
    display: inline-block;
    background: url(https://cdn.oppyo.com/launches/vocalic/jv/awesome-shape.webp) no-repeat;
    background-size: cover;
}

ul.awesome-list {
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

.awesome-list li:first-child {
    margin-top: 0px;
}

.awesome-list li {
    margin-top: 10px;
}

.shape-skew {
    transform: skew(-25deg);
    background-color: #ffe400;
    display: inline-block;
    padding: 10px 25px;
}

span.skew {
    transform: skew(25deg);
    display: inline-block;
}

@media (min-width: 768px) {
    .awesome-list li {
        margin-top: 25px;
    }
    .hello-awesome {
        padding: 70px 0px 70px 0px;
        background: #fff url(https://cdn.oppyo.com/launches/vocalic/jv/awesome-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .heading-design {
        padding: 26px 85px;
    }
}

.proudly-sec {
    background: #fff url(https://cdn.oppyo.com/launches/vocalic/jv/proudly-bg.webp) center top no-repeat;
    background-size: cover;
    padding: 60px 0px 30px 0px;
}

.per-shape {
    background: url(https://cdn.oppyo.com/launches/vocalic/jv/presenting-shape.webp) center center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 20px 55px 30px 55px;
}

@media (min-width: 768px) {
    .proudly-sec {
        padding: 130px 0px 100px 0px;
    }
}


/* Arrow & Img Move Animation */

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.logos-effect img {
    transition: all 0.5s;
}

.logos-effect img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.feature-list {
    background: #fff url(https://cdn.oppyo.com/launches/vocalic/jv/feature-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.feature-list-box {
    border-radius: 10px;
    background-color: #06103c;
    padding: 0px 30px 30px 30px;
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 83px;
    height: calc(100% - 83px);
}

.feature-list-box .description {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 15px;
    color: #fff;
}

.feature-list-box .icon-position {
    margin-top: -83px;
}

.feature-sec .launch-list li {
    padding: 0px 0px 16px 0px;
    color: #00081d;
}

.more-features li {
    background: url(https://cdn.oppyo.com/launches/vocalic/jv/green-tick.webp) no-repeat;
    padding: 0px 0px 20px 35px;
    background-position: 0px 6px;
    list-style: none;
}

.more-features li:last-child {
    padding-bottom: 0px;
}

.feature-shape {
    background-color: #00aced;
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}

.feature-shape:after {
    content: '';
    background: url(https://cdn.oppyo.com/launches/vocalic/jv/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

.feature-border {
    border-width: 3px;
    border-color: rgb(0, 16, 130);
    border-style: solid;
    border-radius: 20px;
}

.gif-icon,
.gif-icon1 {
    position: relative;
    z-index: 9;
}

.gif-icon:after {
    content: '';
    display: block;
    background: url(https://cdn.oppyo.com/launches/vocalic/jv/oval-left.webp) no-repeat center top;
    position: absolute;
    top: -15px;
    right: 0px;
    width: 75px;
    height: 80px;
    z-index: -1;
}

.gif-icon1:after {
    content: '';
    display: block;
    background: url(https://cdn.oppyo.com/launches/vocalic/jv/oval-right.webp) no-repeat center top;
    position: absolute;
    top: 16%;
    left: 2px;
    width: 101px;
    height: 63px;
    z-index: -1;
}

@media(min-width:768px) {
    .feature-list {
        padding: 100px 0px;
    }
    .gif-icon:after {
        top: -20px;
        right: -20px;
        width: 101px;
        height: 115px;
        z-index: -1;
    }
    .gif-icon1:after {
        top: 30%;
        left: -25px;
        width: 101px;
        height: 115px;
        z-index: -1;
    }
}

.feature-sec {
    background: #fff url(https://cdn.oppyo.com/launches/vocalic/jv/feature-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px 0px 0px;
}

.demo-sec {
    background: #162656 url(https://cdn.oppyo.com/launches/vocalic/jv/demo-sec-bg.webp) no-repeat center top;
    background-size: cover;
    padding: 60px 0px 30px 0px;
}

@media(min-width:768px) {
    .demo-sec {
        padding: 130px 0px 100px 0px;
    }
    .feature-sec {
        padding: 100px 0px 50px 0px;
    }
}

.potential-sec {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .potential-sec {
        background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/jv/potential-bg.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 0px 100px 0px;
    }
}

.prize-value {
    padding: 30px 0;
    background: #090b23;
}

@media (min-width: 768px) {
    .prize-value {
        padding: 130px 0px 50px 0px;
        background: #ddeef5 url(https://cdn.oppyo.com/launches/vocalic/jv/prize-value.webp) no-repeat top center;
        background-size: cover;
    }
    .f-md-72 {
        font-size: 72px;
    }
}

.contest-section {
    padding: 30px 0;
    background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/jv/contest-bg.webp) no-repeat center center;
    background-size: cover;
}

@media (min-width: 768px) {
    .contest-section {
        padding: 50px 0px 80px 0px;
    }
}

.prize-section {
    padding: 30px 0px;
    background: #fafafa url(https://cdn.oppyo.com/launches/vocalic/jv/prize-bg.webp) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .prize-section {
        padding: 50px 0px 80px 0px;
    }
}

.deep-funnel {
    background: #deeff6 url(https://cdn.oppyo.com/launches/vocalic/jv/funnel-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

@media(min-width:768px) {
    .deep-funnel {
        padding: 80px 0px 0px 0px;
    }
}

.reciprocate-sec {
    background: #ffffff;
    padding: 30px 0px;
}

@media(min-width:768px) {
    .reciprocate-sec {
        background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/jv/solid-track-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0px 50px 0px;
    }
}

.contact-section {
    background: #142655;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .contact-section {
        padding: 120px 0px 80px 0px;
        background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/jv/query-bg.svg) no-repeat top center;
        background-size: cover;
    }
}

.terms-section {
    padding: 30px 0px;
    background: #ffffff;
}

.terms-list li {
    background: url(https://cdn.oppyo.com/launches/vocalic/jv/circle-icon.webp) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 30px;
}

@media (min-width: 768px) {
    .terms-section {
        padding: 80px 0px;
        background: url(https://cdn.oppyo.com/launches/vocalic/jv/terms-bg.webp) no-repeat center center;
        background-size: cover;
    }
}

.footer-section {
    background: #00081d;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px
    }
}


/*********************Top To Bottom****************/

#button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    background-color: #ffe400;
    border-radius: 50%;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: rgb(97, 64, 64);
}

#button.show {
    opacity: 1;
    visibility: visible;
}


/* Styles for the content section */