.countdown {
	background-color: transparent;
	color:#000000;
	text-align: center;	
	display: flex;
	justify-content: space-between;
}
/* Css For Timer Display */
.timer-label{margin-right:15px; padding:5px 0px 10px 0px!important; width:100%; color:#000; background-color: #ffffff; border-radius: 5px;}
.countdown .timer-label:last-child{margin-right:0px;}
.timerbg{font-weight:600; line-height:120%; width:100%; float:left; color:#000; }



