html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	color: #080E20;
	font-size: 14px;
	overflow-x: hidden;
}
.rubik{
    font-family: 'Rubik', sans-serif;
}
.caveat{
	font-family: 'Caveat', cursive;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #14142A;
}
.white-clr1 {
    color: #cdcdcd;
}
.blue-clr{color: #2447a2;}

.orange-gradient{
	background: linear-gradient(180deg, #EF9823 0%, #F0592D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* Header Section Start */

.header-section {
    background: #eff5f9 url(../images/header-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px;
}

.preheadline {
    display: inline-block;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 35px;
}

.main-heading {
    background: transparent;
    background-size: cover;
    padding: 20px;
    position: relative;
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.gametext {
    background: #fdbe39;
    padding: 10px 30px;
    border-radius: 15px 15px 0px 0px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #000000;
    font-weight: 700;
    font-size: 22px;
}
a.affiliate-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff !important;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(180deg, #F05F2C 0%, #EF9224 100%);
    border-radius: 15px;
    transition: 0.5s;
    -webkit-box-shadow: 3px 10px 41px -14px rgb(0 0 0 / 69%);
    -moz-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
    box-shadow: 3px 10px 41px -14px rgb(0 0 0 / 69%);
}
@media(min-width:768px) {
	.header-section {
        padding: 50px 0px 100px 0px;
    }
	.preheadline {
        padding: 15px 30px;
    }
    a.affiliate-link-btn {
        padding: 15px 40px;
        font-size: 18px;
    }
    .main-heading {
        background: url(../images/heading-design.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 35px 45px 35px 44px;
    }
    .gameimg {
        position: absolute;
        top: -61px;
        z-index: 9999;
        left: -8px;
    }
}

.menu-list li{
	background: url(../images/orange-tick.webp) no-repeat;
    background-position: 10px 32px;
    padding: 15px 15px 15px 50px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
    background-color: #dae0f3cc;
    display: flex;
    align-items: center;
	border: 3px solid #FFFFFF;
}
.list-section {
    padding: 30px 0px;
}

@media(min-width:768px){
    
    .list-section {
        padding: 100px 0px;
        background: url(../images/list-section-bg.webp) no-repeat center center;
        background-size: cover;
    }
  
}

/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.footer-section {
    background: #080E20;
    padding: 50px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.instant-btn a {
    transition: all .3s ease;
    border-radius: 15px;
    background: linear-gradient(180deg, #F05F2C 0%, #EF9224 100%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.instant-btn a:hover {
    background: linear-gradient(180deg, #EF9224 0%, #F05F2C 100%);
}

.section1 {
    padding: 30px 0;
    background: #f4f6fd;
}

.section2 {
    padding: 30px 0;
    background: #f4f6fd;
}

.section3 {
    padding: 30px 0;
    background: #f4f6fd;
}


.plan1-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgb(96 145 169 / 19%);
}

.plan2-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgba(96, 145, 169, 0.19);
}

.tablebox1 {
    background: #9dbacc;
    width: 100%;
    float: left;
    border-radius: 30px;
}

.tablebox-inner-bg {
    background: #101b3e;
    padding: 30px;
    background-size: 100% 100%;
    border-radius: 10px;
}

.table-headline-shape {
    background: url(../images/table-headline-shape.webp) no-repeat center center;
    background-size: contain;
    padding: 18px 19px 16px 17px;
}

.title-shape {
    background: #080E20;
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}

.title-shape1 {
    background: #080E20;
    padding: 20px;
    border-radius: 65px;
    display: inline-block;
}

@media(min-width:768px) {
    .title-shape {
        padding: 5px 30px;
    }
    .title-shape1 {
        padding: 5px 30px;
    }
    .tablebox-inner-bg {
        padding: 30px 15px 30px 15px;
        background-size: cover;
        border-radius: 30px;
    }
    .section-margin {
        margin-top: 320px !important;
    }
    .pimg {
        margin-top: -255px;
    }
    .section1 {
        padding: 100px 0;
        background: #f4f6fd;
    }
    
    .section2 {
        padding: 100px 0;
        background: #f4f6fd url(../images/table-bg-2.webp) no-repeat center center;
        background-size: cover;
    }
    
    .section3 {
        padding: 100px 0;
        background: #f4f6fd url(../images/table-bg-1.webp) no-repeat center center;
        background-size: cover;
    }
    .instant-btn a {
        font-size: 38px;
        padding: 28px 60px;
        display: inline-block;
        width: 100%;
        border-radius: 15px;
    }
}
/*Table CSS Start*/

.odd-shape {
    background: #1e2e61;
    padding: 10px 15px;
}

.even-shape {
    padding: 10px 15px;
    color: #ffffff !important;
}

.price-shape {
    background: #ffffff;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}

.now-price {
    background: #FFA829;
    padding: 12px 10px;
    border-radius: 22px;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
}


/*Table CSS Enad*/


/* Header Section */

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 15px 45px;
    color: #000000;
    line-height: 150%;
    font-size: 18px;
}

.kaptick li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .kaptick li {
        padding: 5px 0 30px 45px;
    }
}

@media (max-width: 767px) {
    .footer-section {
        background: #080E20;
        padding: 30px 0px;
    }
}
/******new********/


.riskfree-section {
    background: #080E20;
    background-size: cover;
    padding: 30px 0px;
}

.second-header-section {
    padding: 30px 0;
    background: #111;
}

.step-shape {
    border-width: 3px;
    border-color: #FFA829;
    border-style: solid;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    width: 100%;
    float: left;
    padding: 20px;
    height: 100%;
    color: #fff;
}

@media (min-width:768px) {
    .riskfree-section {
        padding: 100px 0px;
    }
    .second-header-section {
        background: #111 url(../images/cta-bg-new.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
}

.animate-charcter {
    background-image: linear-gradient( -225deg, #001963 0%, #ff0505 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    0% {
        background-position: 200% center;
    }
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}