/* MaxFunnel Section */

html {
    scroll-behavior: smooth;
}

.price-container {
    padding: 30px 0px;
}

.yellow-clr1 {
    color: #ecd906;
}

.red-clr2 {
    color: #ff5151;
}

.white-no-need-section {
    background: #ffffff;
    padding: 5% 0 2%;
}

.no-comparison-shape {
    background: #e2f6ff;
    padding: 30px 15px;
}

.fira-font {
    font-family: 'Montserrat', sans-serif;
}

.spartan-font {
    font-family: 'Spartan', sans-serif;
    letter-spacing: -1px;
}

.blue-clr1 {
    color: #224cb0;
}

.black-clr {
    color: #000000;
}

.huge-bg-sec {
    background: #e1e7f3 url(../images/huge-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0 30px;
}

.title-bg {
    background: #ffe8cc;
    padding: 15px;
    border-radius: 5px;
}

.mic-img {
    margin-top: -173px;
    margin-right: -15px;
}

.mf-shape {
    background: #224cb0;
    padding: 20px;
    border-radius: 5px;
}

.offwhite-clr {
    color: #ffe8cc;
}

.b-tick li {
    background: url(../images/reason-tick.png) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 45px;
}

.reason-tick li {
    background: url(../images/tick.png) no-repeat;
    background-position: 0 3px;
    list-style: none;
    padding: 0 0 20px 35px;
}

.white-sec {
    padding: 30px 0;
    background: #ffffff;
}

.proven-sec {
    padding: 30px 0;
    background: #000000;
}

.amazing-software-section {
    background: #ffffff;
    background-size: cover;
    padding: 30px 0;
}

.hr-shape {
    background-color: #e8e8e8;
    width: 100%;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.never-ending {
    box-shadow: 0px 0px 9px 0px rgba(161, 167, 177, 0.30);
    background: #f4f9fd;
    border-radius: 15px;
    padding: 15px 5px;
}

.prize-section {
    background: #dde9fe;
    padding: 0px 0px 30px 0px;
}

.contest-section {
    padding: 30px 0;
    background: #ffffff;
}

.deep-funnel {
    background: #f9f9f9;
    padding: 30px 0px;
}

.reason-sec {
    background: #033183 url(../images/reason-sec-bg.png) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 50px 0px;
}

.reciprocate-sec {
    background: #ffffff url(../images/reci-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.reciprocate-sec1 {
    background: #deeaff;
    padding: 30px 0px;
}

.contact-section {
    background: #f7f7f7;
    padding: 30px 0px 30px 0px;
}

.next-gen-sec {
    background: #ffffff url(../images/next-gen-bg.png) no-repeat top left;
    background-size: cover;
    padding: 0px 0px 30px 0px;
    position: relative;
}

.prob-sec {
    background: #ffebe6;
    padding: 30px 0px 30px 0px;
}

.no-installation {
    background: #ffffff;
    padding: 30px 0px;
}

.light-clr {
    color: #00ff84;
}

.top-5 {
    background: #ffffff;
    padding: 30px 0px 30px 0px;
}

.prdly-pres {
    background: #fff600;
    border-radius: 65px;
    padding: 5px 5px;
}

.have-query {
    background: #ffffff;
    padding: 15px 30px;
    border-radius: 15px;
    color: #080d1a;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    min-width: 270px;
}

.proudly-list-bg {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgba(0, 42, 119, 0.3);
}

@media (min-width: 768px) {
    .mt-140 {
        margin-top: 140px;
    }
    .top-5 {
        background: #ffffff url(../images/top-5.png) no-repeat center center;
        padding: 0px 0px 100px 0px;
    }
    .proudly-list-bg {
        padding: 25px;
    }
    .no-installation {
        background: #ffffff;
        padding: 80px 0px 100px;
    }
    .next-gen-sec {
        background: #ffffff url(../images/next-gen-bg.png) no-repeat top center;
        background-size: cover;
        padding: 0px 0px 80px 0px;
    }
    .next-gen-img {
        position: absolute;
        left: -15px;
        max-width: 45%;
        bottom: 15%
    }
    .contact-section {
        background: #f7f7f7 url(../images/query-bg.png) no-repeat center center;
        background-size: cover;
        padding: 70px 0px;
    }
    .reciprocate-sec {
        background: #ffffff url(../images/reci-bg.png) no-repeat top center;
        background-size: cover;
        padding: 100px 0px;
    }
	.reciprocate-sec1 {
        background: #deeaff url(../images/reci-bg1.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .reason-sec {
        padding: 100px 0px 120px 0px;
    }
    .tons-sec {
        background: #ffffff url(../images/tons-bg.png) no-repeat center center;
        background-size: cover;
        padding: 120px 0px 120px 0px;
    }
    .offwhite-sec {
        background: #fff9f2;
        padding: 80px 0;
    }
    .offwhite-sec1 {
        background: #ffe8cc;
        padding: 80px 0;
    }
    .deep-funnel {
        background: #f9f9f9;
        padding: 80px 0px 80px 0px;
    }
    .prize-section {
        background: #ffffff url(../images/irr-img.png) no-repeat center bottom;
        padding: 100px 0px;
    }
    .contest-section {
        background: #ffffff url(../images/contest-bg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .never-ending {
        padding: 35px 25px;
        min-height: 303px;
    }
    .amazing-software-section {
        /* background: #ffffff url(../images/amazing-bg.png) no-repeat center center; */
        background: #ffffff;
        padding: 100px 0;
    }
    .white-sec {
        padding: 30px 0 100px 0;
        background: #ffffff;
    }
    .reasons-bg {
        background: url(../images/big-title.png) no-repeat top center;
        background-size: contain;
        padding: 30px 0px 30px 10px;
    }
    .need-bg {
        background: url(../images/need-bg.png) no-repeat top center;
        background-size: contain;
        padding: 40px 0px 100px 10px;
    }
    .proven-sec {
        padding: 80px 0;
        background: #ffffff url(../images/proven-sec.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 95%;
    }
    .prob-sec {
        background: #ffffff url(../images/prob-bg.png) no-repeat;
        background-size: cover;
        padding: 100px 0px 200px 0px;
        background-position: 100% 100%;
    }
    .huge-bg-sec {
        padding: 100px 0px;
    }
    .title-bg {
        background: #ffffff url(../images/title-bg.png) no-repeat bottom center;
        background-size: contain;
        padding: 20px 70px 70px 0;
    }
    .mf-shape {
        background: #ffffff url(../images/mf-shape.png) no-repeat bottom center;
        background-size: contain;
        padding: 20px 0px 70px 0;
    }
}

@media (min-width:1400px) {
    .next-gen-img {
        position: absolute;
        left: -15px;
        max-width: 45%;
        bottom: 8%
    }
}

@media (min-width:481px) {
    .no-comparison-shape {
        background: url(../images/no-comparison-shape-bg.png) no-repeat;
        background-size: contain;
        height: 667px;
        width: 935px;
        padding: 110px 15px 15px 114px;
    }
    .white-no-need-section {
        background: #ffffff url(../images/kapbonus-bg.png) no-repeat bottom center;
        background-size: cover;
        padding: 0% 0 2%;
    }
}

.bonus-section {
    background: #ffffff;
    padding: 30px 0px;
}

.maxfunnels-section {
    background: #0c0e3a url(../images/maxfunnels-bg.png) no-repeat top center;
    background-size: cover;
    padding: 70px 0px 30px;
}

.yellow-step-back {
    background: url(../images/yellow-step-back.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 0px 4px;
    height: 240px;
}

.orange-step-back {
    background: url(../images/funnel-orange-icon.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 0px 4px;
    height: 240px;
}

.pink-step-back {
    background: url(../images/pink-step-back.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 0px 4px;
    height: 240px;
}

.blue-step-back {
    background: url(../images/blue-step-back.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 0px 4px;
    height: 240px;
}

.blue-step-back1 {
    background: url(../images/blue-step-back1.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 0px 4px;
    height: 240px;
}

.green-step-back {
    background: url(../images/green-step-back.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 0px 4px;
    height: 240px;
}

.step-inner-bg {
    background: url(../images/step-inner-bg.png) no-repeat center center;
    padding: 10px 15px;
    background-size: 100% 100%;
    height: 270px;
    margin-top: -40px;
}

.mx-h122 {
    max-height: 122px;
}

.ul-tick-icon1 li {
    list-style: none;
    background: url(../images/ul-tick-icon-black.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0px 15px 39px;
    display: inline-block;
}

@media (min-width: 481px) {
    .ul-tick-icon1 li {
        padding: 0 39px 0 39px;
    }
    .mx-h122 {
        max-height: 100%;
    }
    .orange-step-back,
    .pink-step-back,
    .blue-step-back,
    .blue-step-back1,
    .green-step-back,
    .yellow-step-back {
        padding: 0px 15px 15px;
        height: 288px;
    }
    .step-inner-bg {
        padding: 4px 30px;
        height: 315px;
        margin-top: -40px;
    }
    .maxfunnels-section {
        padding: 100px 0px;
    }
    .mt-sm145 {
        margin-top: 145px;
    }
}

.noneed-bg {
    padding: 30px 0px;
    background: #f6f7ff;
}

.noneed-list li {
    list-style: none;
    background: url(../images/red-cross.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}

.limitbonusbg {
    background: url(../images/limitbonusbg.png) no-repeat center center;
    background-size: auto;
    background-size: contain;
    display: inline-block;
    padding: 20px 40px;
}

.license-section {
    background: #2c3a9b url(../images/license-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.catch-section {
    background: #ffffff;
    padding: 30px 0px;
}

.guarantee-section {
    padding: 30px 0px;
    background: #eff3f6;
}


/* Price Table CSS*/

.kappurple {
    color: #7734a3;
}

.kapgreen {
    color: #1d7773;
}

.kaplight {
    color: #ffeb09;
}

.bestbg {
    background-color: rgb(17, 23, 62);
    padding: 2px 20px;
    border-radius: 30px;
}

.btbg {
    background-color: #ecd906;
    padding: 11px 10px 7px;
    border-radius: 25px 0px 0px 0px;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

ul.vgreytick,
ul.vgreytick1,
ul.vgreytickb {
    padding-left: 0;
}

.tablebox2 {
    border-width: 1px;
    border-color: rgb(231, 231, 231);
    border-style: solid;
    width: 100%;
    border-radius: 0px;
    float: left;
    background: #fff;
}

.tablebox3 {
    border-width: 1px;
    border-color: #cdcbcb;
    border-style: solid;
    width: 100%;
    float: left;
    border-radius: 27px 0px 0px 0px;
}

.tablebox4 ul {
    padding-left: 0;
    color: #ffffff;
}

.tablebox4 li {
    color: #ffffff;
}

.tablebox4 {
    border-width: 1px;
    border-color: #cdcbcb;
    border-style: solid;
    width: 100%;
    float: left;
    background: #05163a;
    border-radius: 27px 0px 0px 0px;
}

ul.vgreytick li {
    background: #ffffff url(../images/vgreytick-icon.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 10px 15px 40px;
    background-position: 8px 19px;
    line-height: 150%;
    border-bottom: 1px solid #e7e7e7;
}

ul.vgreytickb li {
    background: url("../images/greentick.png") no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 10px 15px 40px;
    background-position: 8px 19px;
    line-height: 150%;
    border-bottom: 1px solid #e7e7e7;
}

ul.vgreytickb,
ul.vgreytick,
ul.vgreytick1 {
    padding-left: 15px;
    padding-right: 15px;
}

ul.vgreytickb li:last-child,
ul.vgreytick li:last-child,
ul.vgreytick1 li:last-child {
    border: 0;
}

ul.vgreytick1 li {
    background: #ffffff url(../images/vgreytick1.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 22px;
    line-height: 150%;
    border-bottom: 1px solid rgb(231, 231, 231);
}

ul.vgreentick li {
    background: #ffffff url(../images/vgreentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 22px;
    line-height: 150%;
    border-bottom: 1px solid rgb(231, 231, 231);
}

ul.vgreytick li.even,
ul.vgreytick1 li.even,
ul.vgreentick li.even {
    background-color: #ffffff;
}

ul.vgreytick li.odd,
ul.vgreytick1 li.odd,
ul.vgreentick li.odd {
    background-color: #ffffff;
}

.tbbg2 {
    background: url(../images/kplan1.png) no-repeat center;
    padding: 15px;
    background-size: 100% 100%;
}

.tbbg3 {
    background: #f4f1ff;
    padding: 15px;
    border-radius: 25px 0px 25px 0px;
}

.tbbg4 {
    background: #27468e;
    padding: 15px;
    border-radius: 0px 0px 25px 0px;
}

.lightylw {
    color: #f8e71c;
}

@media (min-width: 481px) {
    ul.vgreytick {
        padding-left: 20px;
        padding-right: 20px;
    }
    ul.vgreytickb {
        padding-left: 25px;
        padding-right: 25px;
    }
    .planimgmrgn1 {
        margin-top: -90px;
    }
    .planimgmrgn2 {
        margin-top: -155px;
    }
    .planimgmrgn3 {
        margin-top: -105px;
    }
    .planimgmrgn4 {
        margin-top: -95px;
    }
    .planimgmrgn {
        margin-top: -140px;
    }
    .tbbg3 {
        padding: 40px 15px;
    }
    .tbbg4 {
        padding: 40px 15px;
    }
    .tbbg2 {
        padding: 40px 15px 40px;
    }
}


/* .hideme{opacity:0;} */

.buypad {
    padding: 4% 3%;
}

.myfeatures {
    background: #fff;
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}

.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}

.myfeatureslast {
    background: #f5f5f5;
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
}

.myfeatureslast {
    background: #fff;
    float: left;
    padding: 25px;
    width: 100%;
    min-height: 69px;
}

.myfeatureslastb {
    background: #fff;
    float: left;
    padding: 25px;
    width: 100%;
    min-height: 69px;
}

.ribbonimg {
    position: absolute;
    top: 100px;
    right: 0px;
    height: 50px;
}

.xs-height110 {
    height: 110px;
}

.xs-height30 {
    height: 30px;
}

@media(min-width:240px) {
    .ribbonimg {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 90px;
    }
}

.thanks-button a {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    display: inline-block;
}

@media(min-width:481px) {
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    }
    .thanks-button a {
        font-size: 25px;
    }
    .xs-height110 {
        height: auto;
    }
    .xs-height30 {
        height: auto;
    }
    .mt-sm144 {
        margin-top: 144px;
    }
}


/* Price Table CSS End*/

.content-line {
    position: relative;
    color: #000000;
}


/*.content-line:before{
	content:'';
	background:#000000;
	width:4px;
	height:70px;
	z-index:9;
	left:0px;
	top:12px;
	position:absolute;
}*/

.awesome-section {
    padding: 30px 0px;
    background: #e8f1f5;
}

a.link-text {
    color: #000000;
    text-decoration: none;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.container-padding {
    padding: 30px 0;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .noneed-bg {
        padding: 60px 0px;
    }
    .xs-height30 {
        height: auto;
    }
    .mt-sm144 {
        margin-top: 144px;
    }
    .license-section {
        padding: 80px 0px 80px;
    }
    .catch-section {
        padding: 75px 0px;
    }
    .price-container {
        padding: 70px 0px 70px 0px;
    }
    .container-padding {
        padding: 5% 0;
    }
    .footer-section {
        padding: 70px 0px
    }
    .bonus-section {
        background: #ffffff url(../images/kapbonus-bg.png) no-repeat bottom left;
        background-size: 100% 100%;
        padding: 5% 0 5% 0%;
    }
    .guarantee-section {
        background: #ffffff url(../images/guarantee-section-bg.png) no-repeat center bottom;
        background-size: cover;
        padding: 65px 0px 155px;
    }
    .awesome-section {
        background: #f6f7ff url(../images/awesome-bg.png) no-repeat top center;
        background-size: cover;
        padding: 70px 0px;
    }
    .image-lg-size {
        min-height: 144px;
        min-width: 164px;
    }
}