html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 14px;
	overflow-x: hidden;
}
/* --- Global Css Start--- */
.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
	border-radius: 5px;
}
.white-clr {
	color: #fff;
}

.black-clr {
	color: #000000;
}
.orange-clr {
	color: #f6841f;
}
.red-clr{
	color: #FF2C2C;
}
.neon-clr {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.neon-clr-border{
	padding-bottom: 3px;
	border-bottom:3px solid transparent;
	border-image:linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
	border-image-slice: 1;
}
.yellow-clr{color:#ffc332;}
.blue-clr,
a.blue-clr {
	color: #182d5a;
	text-decoration: none;
}
.caveat {
    font-family: 'Caveat', cursive;
}
.play {
    font-family: 'Play', sans-serif;
}
/* .neon-clr{
    color: #00CBE3;
} */
.purple-clr {
    color: #b052ff;
}
.one-time-shape {
	background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
	border-radius: 40px;
	padding: 9px 40px;
	display: inline-block;
	font-family: 'Caveat', cursive;
}
.bonus-shape {
	background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
	border-radius: 40px;
	padding: 9px 40px;
	display: inline-block;
}
.img-animation {
	animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes mover2 {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}
@media (min-width: 767px){
	.one-time-shape {
		padding: 15px 60px;
		border-radius: 50px;
	}
}
/* --- Global Css End --- */
/* ---- Header Section Start ----- */

.header-section {
	background: url(../images/header-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}

.preheadline {
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 10px;
    border: 1px dashed rgba(255, 255, 255, 0.50);
    background: #0B122F;
    padding: 10px;
}
.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 50px 20px 20px 20px;
    border-radius: 0px 50px;
}
.post-headline {
    border-radius: 10px;
    border: 1px solid var(--Blue-Gradient, #22D2EE);
    background: linear-gradient(90deg, rgba(34, 210, 238, 0.20) -0.02%, rgba(28, 151, 244, 0.20) 100.02%);
    padding: 9px 20px;
    display: inline-block;
	word-spacing: 5px;
}
.proudly-head {
    background: url(../images/proudly-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 9px 45px;
    display: inline-block;
}

@media (min-width: 768px) {

	.header-section {
		background-size: cover;
		padding: 40px 0px 100px 0px;
	}
	.mainheadline {
        background: url(../images/heading-design.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 35px 45px 40px 45px;
        left: -5px;
        border-radius: 0px;
    }
	
	.preheadline{
        padding: 9px 20px;
    }
    .preheadline::after {
        position: absolute;
        right: -86px;
        top: -31px;
        content: url(../images/pre-shape-ai.webp);
    }
  
}
/* ---- Header Section End ----- */
/* ---- Second Section Start ----- */
.second-section {
	padding: 30px 0px;
	background: #ffffff;
}
.probtn1 a {
	border-radius: 15px;
	background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    backdrop-filter: blur(10px);
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 140%;
}
.probtn1 a:hover {
    transition: all .3s ease;
    background: linear-gradient(90deg, #1C97F4 0%, #22D2EE 100%);
}
@media (min-width: 768px) {
	.second-section {
		padding: 100px 0 80px;
		background: #ffffff url(../images/second-sec-bg.webp) no-repeat center center;
	}
	/* .header-list-block {
		padding: 40px 30px;
	} */
	.probtn1 a {
		font-size: 35px;
		padding: 28px 30px;
	}
}
/* ---- Second Section End ----- */
/* ---- Proudly Section Start ----- */

.proudly-section {
    background: linear-gradient(191deg, #040613 8.4%, #05043E 92.29%);
    padding: 30px 0px;
}
@media (min-width: 768px){

	.proudly-section {
        padding: 100px 0px 140px;
        background: url(../images/proudly-bg.webp) no-repeat bottom center;
        background-size: cover;
    }
	
}
/* ---- Proudly Section End ----- */
/* ---- Feature Section Start ----- */
.white-section {
	background: #fff;
	padding: 30px 0;
}
.grey-section {
	background:#f0f9ff;
	padding: 30px 0;
}
.cleint-frame{
	background: url("../images/client-frame.webp") no-repeat;
	background-size: 100% 100%;
	padding: 20px;
}
@media (min-width: 768px) {
	.white-section {
		padding: 60px 0px;
	}
	.grey-section {
		padding: 60px 0px;
	}
}
/* ---- Feature Section End  ----- */
/* ---- Money Back Gurantee Section Start ----- */
.moneyback-section {
	background: #0d0238 ;
	background-position: center center;
	background-size: cover;
	padding: 30px 0 30px;
	
}
@media (min-width: 768px) {
	.moneyback-section {
		padding: 70px 0px;
		background: #02040f url(../images/moneyback-bg.webp) no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
/* ---- Money Back Gurantee Section End ----- */
/* ---- Bonus Section Start ----- */
.bonus-section {
	background: url(../images/bonus-bg.webp) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}
@media (min-width: 768px) {
	.bonus-section {
		padding: 70px 0px;
	}
}
/* ---- Bonus Section End ----- */
/* ---- Table Section Start ----- */
.table-section {
	background: #ffffff;
	padding: 30px 0;
}
.tablebox2 {
	background: #ffffff;
	width: 100%;
	float: left;
	border-radius: 10px;
	border: solid 1px #a2a1a3;
}
.tbbg2 {
	background-color: #fff;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}
ul.vgreytick {
	padding: 0px;
	margin: 0;
}
ul.vgreytick li {
	background: url(../images/vgreytick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
}
ul.vgreytick li:nth-child(odd) {
	background-color:#d7e6ef;
}
ul.vgreytick li:nth-child(even) {
	background-color: #ffffff;
}
.myfeatureslast {
	float: left;
	padding:30px;
	width: 100%;
	min-height: 69px;
	background: #ffffff;
	border-radius: 0px 0px 10px 10px;
}
.tablebox3 {
	width: 100%;
	float: left;
	border-radius: 10px;
	box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
	position: relative;
	border: solid 1px #0d0238;
}
.tablebox3:before {
	content: '';
	position: absolute;
	background: url(../images/most-popular.webp) no-repeat left top;
	min-height: 165px;
	min-width: 153px;
	left: 0px;
	top: 0px;
}
.tbbg3 {
	background: #0d0238;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}
@media (min-width: 768px) {
	.table-section {
		padding: 100px 0px;
		background: url(../images/pricing-table-bg.webp) no-repeat;
		background-position: center center;
	}
	.tbbg2 {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}
	ul.vgreytick li {
		padding: 20px 15px 20px 65px;
		background-position: 30px 25px;
	}
	.myfeatureslast {
		padding:30px;
	}
	.tbbg3 {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}
}
/* ---- Table Section End ----- */
/* ---- Footer Section Start ----- */
.footer-section {
	background: #05071A;
	padding: 30px 0;
}
.footer-ul {
	padding: 0;
}
.footer-ul li {
	display: inline;
	line-height: 130%;
}
.no-thanks a{
	color: #182d5a;
}
@media (min-width: 768px) {
	.footer-section {
		padding: 50px 0px;
	}
	.footer-ul li {
		display: inline;
		line-height: normal;
	}
}
.header-list-block {
    background-color: #fff;
    border: 2px solid #22D2EE;
    border-radius: 20px;
    padding: 30px 30px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
}
/* ---- Footer Section End ----- */
