@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?twot39');
  src:  url('../fonts/icomoon.eot?twot39#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?twot39') format('truetype'),
    url('../fonts/icomoon.woff?twot39') format('woff'),
    url('../fonts/icomoon.svg?twot39#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\e901";
}
.icon-dropdown-close:before {
  content: "\e98f";
}
.icon-dropdown-open:before {
  content: "\e990";
}
.icon-custom-domain:before {
  content: "\e98e";
}
.icon-faq:before {
  content: "\e98d";
}
.icon-walkthrough:before {
  content: "\e98c";
}
.icon-password-hide:before {
  content: "\e98b";
}
.icon-next:before {
  content: "\e989";
}
.icon-save-as-draft:before {
  content: "\e98a";
}
.icon-go-to-website:before {
  content: "\e988";
}
.icon-client-management:before {
  content: "\e987";
}
.icon-about-us:before {
  content: "\e981";
}
.icon-become-affiliate:before {
  content: "\e982";
}
.icon-courses:before {
  content: "\e983";
}
.icon-home:before {
  content: "\e984";
}
.icon-more-action-ver:before {
  content: "\e985";
}
.icon-round-tick:before {
  content: "\e986";
}
.icon-manage:before {
  content: "\e925";
}
.icon-copy:before {
  content: "\e980";
}
.icon-about:before {
  content: "\e97a";
}
.icon-free-reports:before {
  content: "\e97b";
}
.icon-get-stuff:before {
  content: "\e97c";
}
.icon-seo:before {
  content: "\e97d";
}
.icon-step-by-step-training:before {
  content: "\e97e";
}
.icon-training-videos:before {
  content: "\e97f";
}
.icon-medium:before {
  content: "\e978";
}
.icon-blogger:before {
  content: "\e979";
}
.icon-pagination-dots:before {
  content: "\e977";
}
.icon-fe-menu-close:before {
  content: "\e976";
}
.icon-payment-history:before {
  content: "\e973";
}
.icon-plan-usage:before {
  content: "\e974";
}
.icon-your-plan:before {
  content: "\e975";
}
.icon-youtube:before {
  content: "\e96f";
}
.icon-fe-profile-dropdown:before {
  content: "\e970";
}
.icon-fe-slider-left:before {
  content: "\e971";
}
.icon-fe-slider-right:before {
  content: "\e972";
}
.icon-video-training:before {
  content: "\e966";
}
.icon-add-circle:before {
  content: "\e953";
}
.icon-single-article-page:before {
  content: "\e954";
}
.icon-single-product-page:before {
  content: "\e955";
}
.icon-title-settings:before {
  content: "\e956";
}
.icon-design-selection:before {
  content: "\e957";
}
.icon-edition:before {
  content: "\e958";
}
.icon-publish--activate:before {
  content: "\e959";
}
.icon-bonuses-by-partners:before {
  content: "\e95a";
}
.icon-more-useful-resources:before {
  content: "\e95b";
}
.icon-xml-settings:before {
  content: "\e95c";
}
.icon-rss-feed:before {
  content: "\e95d";
}
.icon-webmasters:before {
  content: "\e95e";
}
.icon-analytics:before {
  content: "\e95f";
}
.icon-tumblr:before {
  content: "\e960";
}
.icon-pinterest:before {
  content: "\e961";
}
.icon-linkedin:before {
  content: "\e962";
}
.icon-twitter:before {
  content: "\e963";
}
.icon-instagram:before {
  content: "\e964";
}
.icon-reddit:before {
  content: "\e965";
}
.icon-pdf-training:before {
  content: "\e967";
}
.icon-like:before {
  content: "\e968";
}
.icon-dislike:before {
  content: "\e969";
}
.icon-total-visitors:before {
  content: "\e96a";
}
.icon-total-sales:before {
  content: "\e96b";
}
.icon-subscriber:before {
  content: "\e96c";
}
.icon-epc:before {
  content: "\e96d";
}
.icon-conversion:before {
  content: "\e96e";
}
.icon-add:before {
  content: "\e952";
}
.icon-document:before {
  content: "\e94f";
}
.icon-Image:before {
  content: "\e950";
}
.icon-video-ticket:before {
  content: "\e951";
}
.icon-export:before {
  content: "\e94e";
}
.icon-location:before {
  content: "\e94a";
}
.icon-overview:before {
  content: "\e94b";
}
.icon-result:before {
  content: "\e94c";
}
.icon-technology:before {
  content: "\e94d";
}
.icon-download:before {
  content: "\e946";
}
.icon-privacy-policy:before {
  content: "\e947";
}
.icon-subscriber-management:before {
  content: "\e948";
}
.icon-terms--conditions:before {
  content: "\e949";
}
.icon-close:before {
  content: "\e945";
}
.icon-payment-method:before {
  content: "\e944";
}
.icon-sorting:before {
  content: "\e943";
}
.icon-clock:before {
  content: "\e941";
}
.icon-more-action:before {
  content: "\e942";
}
.icon-social:before {
  content: "\e940";
}
.icon-autoresponder:before {
  content: "\e92f";
}
.icon-crm:before {
  content: "\e930";
}
.icon-webinar:before {
  content: "\e931";
}
.icon-advertisment:before {
  content: "\e932";
}
.icon-slider-1:before {
  content: "\e933";
}
.icon-slider-2:before {
  content: "\e934";
}
.icon-slider-3:before {
  content: "\e935";
}
.icon-slider-4:before {
  content: "\e936";
}
.icon-slider-5:before {
  content: "\e937";
}
.icon-cookie-consent:before {
  content: "\e938";
}
.icon-facebook-chat-settings:before {
  content: "\e939";
}
.icon-integration:before {
  content: "\e93a";
}
.icon-legal-settings:before {
  content: "\e93b";
}
.icon-session:before {
  content: "\e93c";
}
.icon-slider-setting:before {
  content: "\e93d";
}
.icon-smo:before {
  content: "\e93e";
}
.icon-team-management:before {
  content: "\e93f";
}
.icon-article-install:before {
  content: "\e92e";
}
.icon-dollar:before {
  content: "\e928";
}
.icon-edit:before {
  content: "\e929";
}
.icon-get-access:before {
  content: "\e92a";
}
.icon-get-link:before {
  content: "\e92b";
}
.icon-stats:before {
  content: "\e92c";
}
.icon-view:before {
  content: "\e92d";
}
.icon-search:before {
  content: "\e920";
}
.icon-calendar:before {
  content: "\e921";
}
.icon-check-mark:before {
  content: "\e922";
}
.icon-business-setting:before {
  content: "\e923";
}
.icon-delete:before {
  content: "\e924";
}
.icon-pagination-next:before {
  content: "\e926";
}
.icon-pagination-previous:before {
  content: "\e927";
}
.icon-left-menu-close:before {
  content: "\e91e";
}
.icon-left-menu-open:before {
  content: "\e91f";
}
.icon-ad-campaign:before {
  content: "\e905";
}
.icon-blog:before {
  content: "\e906";
}
.icon-bonuses:before {
  content: "\e907";
}
.icon-business:before {
  content: "\e908";
}
.icon-close-menu:before {
  content: "\e909";
}
.icon-contact-messages:before {
  content: "\e90a";
}
.icon-dashboard:before {
  content: "\e90b";
}
.icon-dropdown-down:before {
  content: "\e90c";
}
.icon-dropdown-up:before {
  content: "\e90d";
}
.icon-edit-profile:before {
  content: "\e90e";
}
.icon-get-traffic:before {
  content: "\e90f";
}
.icon-help:before {
  content: "\e910";
}
.icon-library:before {
  content: "\e911";
}
.icon-logout:before {
  content: "\e912";
}
.icon-members:before {
  content: "\e913";
}
.icon-notification:before {
  content: "\e914";
}
.icon-open-menu:before {
  content: "\e915";
}
.icon-premium-support:before {
  content: "\e916";
}
.icon-products:before {
  content: "\e917";
}
.icon-reports:before {
  content: "\e918";
}
.icon-reset:before {
  content: "\e919";
}
.icon-settings:before {
  content: "\e91a";
}
.icon-subscription:before {
  content: "\e91b";
}
.icon-tickets:before {
  content: "\e91c";
}
.icon-update-log:before {
  content: "\e91d";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-password-hide-show:before {
  content: "\e902";
}
.icon-slider-left:before {
  content: "\e903";
}
.icon-slider-right:before {
  content: "\e904";
}
