body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0px;
    color: #000000;
    background: url(../images/login-bg.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.padding0 {
    padding: 0px;
}

.paddingtop20 {
    padding-top: 20px;
}

.margin-bottom15 {
    margin-bottom: 15px;
}

.coursova-slider .carousel-inner {
    background: rgba(210, 219, 233, 0.6);
    padding: 20px;
    border: solid 1px #d5d5d5;
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
}

.coursova-slider {
    margin-top: 20px;
    margin-bottom: 15px;
}

@media(min-width: 768px) {
    .coursova-slider {
        margin-top: 20px;
        margin-bottom: 0px;
        position: fixed;
        bottom: 30px;
        width: 100%;
    }
    .coursova-slider {
        max-width: 340px
    }
}

@media(min-width: 992px) {
    .coursova-slider {
        max-width: 404px
    }
    .login-wrapper.padding {
        padding: 0px 40px;
    }
}

@media(min-width: 1200px) {
    .coursova-slider {
        max-width: 487px;
    }
}

.coursova-slider .carousel-inner p.description {
    margin: 0px;
    padding: 0px;
    margin-bottom: 12px;
    color: #000000;
    line-height: 22px;
    font-size: 17px;
    font-weight: 400;
}

.coursova-slider .carousel-inner .name {
    margin-bottom: 3px;
    color: #000000;
    line-height: 22px;
    font-size: 22px;
    font-weight: 600;
}

.coursova-slider .carousel-inner .designation {
    color: #000000;
    line-height: 22px;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 8px;
}

.coursova-slider .carousel-inner .arrow {
    color: white;
    font-size: 20px;
    line-height: 0px;
    text-decoration: none;
}

@media(min-width: 768px) {
    .body-padding {
        padding: 30px;
    }
    .logo-position {
        position: fixed;
        top: 30px;
    }
}

@media (min-width: 768px) {
    .login-wrapper {
        min-height: 100%;
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-wrap: wrap!important;
        flex-wrap: wrap!important;
        -ms-flex-line-pack: center!important;
        align-content: center!important;
    }
}

@media (min-width: 1200px) {
    .login-wrapper {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-wrap: wrap!important;
        flex-wrap: wrap!important;
        -ms-flex-line-pack: center!important;
        align-content: center!important;
    }
}

.padding30 {
    padding: 30px;
}

.paddingy20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .xs-center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.login-wrapper-bg {
    background: #ffffff;
    position: relative;
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.login-wrapper-bg .headline {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 15px;
}

.login-wrapper-bg .headline1 {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 15px;
}

.login-wrapper-bg .subheadline {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 20px;
}

a.google-login-btn {
    display: flex;
    align-items: center;
    border: solid 1px #afbbd0;
    border-radius: 65px;
    padding: 8px 25px;
    justify-content: center;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 15px;
}

a.google-login-btn span {
    margin-left: 10px;
}

.seprate-text {
    overflow: hidden;
    text-align: center;
    color: #9eadc3;
    font-size: 14px;
    margin-bottom: 15px;
}

.seprate-text:before,
.seprate-text:after {
    background-color: #afbbd0;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.seprate-text:before {
    right: 0.8em;
    margin-left: -50%;
}

.seprate-text:after {
    left: 0.8em;
    margin-right: -50%;
}

.relative {
    position: relative;
}

.coursova-form .form-control,
.coursova-form .form-control:focus {
    height: 40px;
    border: 1px solid #afbbd0;
    box-shadow: none;
    border-radius: 65px;
    color: #000000;
    padding: 10px 20px;
    outline: none;
    line-height: normal;
    font-size: 14px;
    margin-bottom: 15px;
}

.coursova-form .form-control.password {
    padding: 10px 40px 10px 20px !important;
}

.coursova-form .form-control-feedback {
    top: 13px;
    right: 20px;
    color: #969cad;
    font-size: 13px;
    cursor: pointer;
    pointer-events: fill;
    z-index: 100;
    width: auto;
    height: auto;
    line-height: normal;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #969cad;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #969cad;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #969cad;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #969cad;
}

.signbtn,
.signbtn:focus {
    display: inline-block;
    background: #200d68;
    border-radius: 3px;
    text-align: center;
    padding: 9px 50px;
    color: #fff;
    margin: auto;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    border-radius: 65px;
}

.signbtn:hover {
    background: #12073b;
}

a.forgot-link {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 15px;
}

.form-footer {
    padding: 25px 30px 30px 30px;
    border-top: solid 1px #afbbd0;
    font-size: 14px;
    color: #4b535f;
    text-align: center;
}

.form-footer a {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}


/* Bootstarp 4 Flex Classes */

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

@media (min-width:768px) {
    .d-sm-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .justify-content-sm-between {
        -ms-flex-pack: justify!important;
        justify-content: space-between!important;
    }
}