.container {
    height: unset;
}

.inner-content {
    height: unset;
}

#templateBody {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

.jost{
	font-family: 'Jost', sans-serif;
}



/* Header Section CSS */

.header-section {
    background-color: #410cac;
    padding: 8% 0;
}

.fifth-section {
    background: #410cac;
    padding: 30px 0;
}

.heading-bg {
    background: url(../images/heading-bg.png) no-repeat;
	background-size: 100% 100%;
    padding: 40px 40px 50px;
    background-position: top left;
}
.step-back {
    border-radius: 10px;
    background: url(../images/step-back.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 15px 8px;
    display: block;
    margin-left: 50px;
}
.step-image{
	position: absolute;
	left: 0px;
	top: 0px;
}
.step1-absolute-image,
.step-absolute-image {
    position: absolute;
    top: -47px;
    left: 50px;
}

.mx-h-140 {
    max-height: 140px;
}
.stepbg-shape,.stepbg-shape1 {   
    background: #85f845;
    border: solid 1px #000000;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
}
.amzing-deal-shape {
	padding: 10px 15px;
	background: #85f845;
	border-radius: 100px;
	border: 1px solid #000000;
}
@media(min-width:768px) {
	.mt-sm130{ margin-top: 130px;}
	.amzing-deal-shape {
		background: url(../images/amzing-deal-shape.png) no-repeat center center;
		background-size: contain;
		padding: 28px 40px;
		border: 0px;
		border-radius: 0px;
	}
	.stepbg-shape {
        border-radius: 0px;
    background: url(../images/amzing-deal-shape.png) no-repeat center;
    background-size: contain;
    display: inline-block;
    padding: 20px 15px 20px 36px;
    border: 0px;
    text-align: left;
    max-width: 225px;
}
	.stepbg-shape1 {
       border-radius: 0px;
    background: url(../images/amzing-deal-shape.png) no-repeat left center;
    background-size: contain;
    display: inline-block;
    padding: 20px 15px 20px 36px;
    border: 0px;
    text-align: left;
    max-width: 335px;
}
	  .step-back {
        padding: 21px 10px;
		margin-left: 50px;
    }
	.step-image{
		position: absolute;
		left: 0px;
		top: 7px;
	}
    .header-section {
        background: #410cac url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: Cover;
        padding: 40px 0px 10px 0px;
    }
    .fifth-section {
		background: #ffffff url(../images/proudlybg.png) no-repeat center bottom;
		background-size: cover;
		padding: 100px 0px 140px;
    }
}

.logo-height {
    max-height: 45px;
}

.white-clr {
    color: #ffffff;
}

.white-blue {
    color: #410cac;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}

.affiliate-link-btn a {
    border-radius: 45px;
    background-color: #f8e71c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    padding: 9px 33px;
    font-size: 16px;
    color: #050b23;
    font-weight: 800;
}

.affiliate-link-btn a:hover {
    background: #decf18;
}

.popup-btn a:hover,
.popup-btn input[type="submit"]:hover,
.af-btn a:hover {
    background: #4f5db5;
}

.highlihgt-heading {
    background: #241c43;
    padding: 8px 20px;
    border-radius: 45px;
    display: inline-block;
}

.second-section {
    padding: 5% 0;
}

.date-section-bg {
    background: url(../images/date-bg-image.png) no-repeat center center;
    background-size: contain;
}

@media(min-width:240px) {
    .xstext-center {
        text-align: center;
    }
    .formbg {
        padding: 20px;
    }
}

@media(min-width:768px) {
    .left-line {
        margin-left: 45px;
    }
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
}

.formbg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.form-control.input-field {
    border-width: 1px;
    border-color: rgb(164, 164, 164);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 12px;
}

::-webkit-input-placeholder {
    color: #797979 !important;
}

::-moz-placeholder {
    color: #797979 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

:-moz-placeholder {
    color: #797979 !important;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 5px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 13px 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 0;
    outline: none;
}

@media(min-width:240px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .pre-box {
        border-radius: 10px;
        padding: 5%;
    }
    .af-box {
        padding: 8% 3%;
    }
}

.pl-shape,
.l-shape,
.af-shape,
.af-dots {
    display: none;
}

@media(min-width:481px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .form-control.input-field {
        height: 58px;
    }
    .pre-box {
        border-radius: 50px;
        padding: 3% 0;
    }
    .af-box {
        padding: 5%;
    }
    .pfbox {
        height: 185px;
    }
    .pl-shape,
    .l-shape,
    .af-shape,
    .af-dots {
        display: block;
        position: relative;
        z-index: 1;
    }
    .pl-shape img {
        position: absolute;
        top: -18px;
        right: 18px;
        z-index: 1;
    }
    .l-shape img {
        position: absolute;
        bottom: -65px;
        left: 25px;
        z-index: 1;
    }
    .af-shape img {
        position: absolute;
        bottom: -44px;
        right: 35px;
        z-index: 1;
        height: 160px;
    }
    .af-dots img {
        position: absolute;
        top: -10px;
        left: 60px;
        z-index: 1;
    }
}

.form-shape {
    position: relative;
    z-index: 1;
}

.form-shape img {
    position: absolute;
    top: -40px;
    left: -41px;
    z-index: -1;
}

.relative {
    position: relative;
}

.third-section {
    background: #fff url(../images/matter-bg.png) no-repeat center;
	background-size: cover;
    padding: 5% 0 5%;
}

.kapblue ,a.kapblue {
    color: #410cac;
}

.pre-box {
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.h-line {
    background-color: rgb(206, 212, 216);
    height: 2px;
    width: 100%;
}

.pl-tick li {
    background: url("../images/pl-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.l-tick li {
    background: url("../images/l-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.xs-max-height165 {
    max-height: 165px;
}

/* .video-frame {
    background: url(../images/lap.png) center center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding: 27px 112px 40px;
} */

@media(max-width:767px) {
	.height172 {
		height: 172px;
		width: 172px;
	}
    .footer-section {
        background: #1e0059;
        padding: 30px 0px;
    }
    .heading-bg {
        background: #400ba9;
        border-radius: 10px;
        padding: 15px;
		border: 1px solid #ffffff;
		border-radius: 5px;
    }
    .plxs0 {
        padding-left: 0;
    }
    .video-frame {
        background: transparent;
        background-size: 100% 100%;
        width: 100%;
        padding: 0px;
    }
}

@media(min-width:767px) {
    .xs-max-height165 {
        max-height: 100%;
    }
}

.fourth-section {
    background: #fff6eb;
    padding: 0% 0 0%;
}

.af-box {
    border-radius: 25px;
    background-color: rgb(239, 243, 246);
}

.pfbox {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
    padding: 30px 20px;
}

.af-btn a {
    border-radius: 30px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 10px 10px;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.leader-ul li a,
.leader-ul li a:hover,
.leader-ul li a:focus {
    text-decoration: none;
}

.sixth-section {
    background: #eff3f6 url("../images/wave-dots.png") no-repeat center center;
    background-size: cover;
    padding: 3% 0 5%;
}

.seventh-section1 {
    background: #eff3f6;
    padding: 3% 0 5%;
}

a.alink,
a.alink:hover,
a.alink:focus {
    text-decoration: none;
    color: #5c6ac4;
}

.seventh-section {
    background: url("../images/dot-shape.png") no-repeat center center;
    padding: 5% 0;
}

.lightcolor {
    color: #deff00;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.feature-section {
    background: #fff url(../images/feature-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section {
    background: #eff3f6 url(../images/software-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section img {
    max-height: 141px;
}

.leaderboard-section {
    background: #eff3f6 url(../images/leaderboard-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.contact-section {
    background: #fff url(../images/contact-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.prize-section {
    background: #22103b;
    background-size: cover;
    padding: 4% 0;
}

.funnel-section {
    background: #eff3f6 url(../images/funnel-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.theme-clr {
    color: #224cb0;
}

.clear {
    clear: both;
}

.white-section {
    background: #fff url(../images/features-bg2.png) no-repeat center;
	background-size: cover;
    padding: 6% 0;
}
.fastest-section {
	background: #fff url(../images/fastest.png) no-repeat center;
	background-size: cover;
    padding: 6% 0;
}
.instant-section {
	background: #fff url(../images/get-instant.png) no-repeat center;
	background-size: cover;
    padding: 6% 0;
}
.vendor-section {
    background: #fff url(../images/dots.png) no-repeat right center;
    padding: 4% 0;
}

.name-box {
    background: #5c6ac4;
    padding: 0px 30px;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.footer-section {
    /* background: url(../images/footer-bg.png); */
    background: #1e0059;
    background-position: top left;
    background-size: cover;
    padding: 45px 0px 50px;
}

.footer-ul {
    padding: 0px;
	margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media(min-width:240px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .xs-text-center,
    .xs-text-center1 {
        text-align: center;
    }
}

@media(min-width:768px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}

.bottom-icon img {
    position: fixed;
    bottom: 0;
    right: 8px;
    z-index: 999
}

.vidborder {
    border: 2px solid #9a9a9a;
}

a.link-text {
    color: #301541;
    text-decoration: none;
}

.probtn a {
    background-color: #410cac;
    padding: 3%;
    text-decoration: none;
    display: block;
    width: 100%;
    outline: none;
    color: #ffffff;
    border-radius: 10px;
}

.probtn a:hover {
    background-color: #1e015a;
}


/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    border: 1px solid #b7b7b7 ;
    width: 100%;
    float: left;
	border-radius: 15px;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    border: 1px solid #e7e7e7;
    width: 100%;
    float: left;
    background: #272f63;
}

ul.vgreytick {
    padding: 0px 30px;
}
@media (max-width: 767px) {
	ul.vgreytick {
		padding: 0px 15px;
	}
}

ul.vgreytick li {
    /* background: url(../images/vgreytick.png) no-repeat; */
    list-style: none;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-position: 20px 20px;
    line-height: 150%;
    border-bottom: 1px solid #b7b7b7 ;
    color: #000000;
}

/* ul.vgreytick li:last-child {
    border-bottom: 0px;
} */

ul.grey-tick-last li {
    background: url(../images/grey-tick-last.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 10px 10px 10px 48px;
    background-position: 20px 20px;
    line-height: 150%;
    border-bottom: 1px solid #090e2d;
    color: #ffffff;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

ul.vgreentick li {
    background: #ffffff url(../images/vgreentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 25px;
    line-height: 150%;
    color: #301541;
}

.tbbg2-text {
    color: #ffffff;
}

.tbbg2 {
	/* background-image: -moz-linear-gradient( 90deg, rgb(27,6,95) 0%, rgb(49,3,110) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(27,6,95) 0%, rgb(49,3,110) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(27,6,95) 0%, rgb(49,3,110) 100%); */
    background: #410cac;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}
@media (max-width: 767px) {
	.tbbg2 {
	    padding: 15px 15px 15px 15px;
	}
}
.tbbg3 {
    background: url(../images/plan2.png) no-repeat center top;
    padding: 32px 15px 80px;
    background-size: cover;
}

.bought-text {
    background: #ffeb09;
    padding: 8px 10px;
}

@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 20px 20px 20px 20px;
    }
    ul.grey-tick-last li {
        padding: 15px 10px 15px 52px;
    }
    .mt-sm-170 {
        margin-top: 170px
    }
    .mt-sm-90 {
        margin-top: 90px
    }
}

.buypad {
    padding: 4% 3%;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}

.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}

.secnd-sec {
    background: url(../images/captivating.png) no-repeat center;
	background-size: cover;
    padding: 50px 0;
}

.shadow-img {
    margin-top: -40px;
}

.myfeatureslast {
	float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
	border-radius: 0px 0px 15px 15px;
}
@media (min-width: 768px) {
	.myfeatureslast {
		padding: 30px 15px 30px;
	}
}
.ribbonimg {
    position: absolute;
    top: 100px;
    right: 0px;
    height: 50px;
}

.xs-height125 {
    height: 125px;
}

.xs-height50 {
    height: 55px;
}

@media(min-width:240px) {
    .ribbonimg {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 90px;
    }
}

.thanks-button a {
    width: 100%;
    display: inline-block;
	text-decoration: none;
}

@media(min-width:768px) {
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    }
    .thanks-button a {
        font-size: 24px;
    }
}


/*Table CSS Enad*/

.grey-section {
    background: url(../images/features-bg1.png) no-repeat center;
	background-size: cover;
    padding: 6% 0;
}

.moneyback-section {
    background: #ffffff;
    background-size: cover;
    padding: 6% 0 6%;
    color: #000000;
}

.license-section {
    background: #301642;
    background-size: cover;
    padding: 6% 0;
}


@media (min-width:768px) {
    .moneyback-section {
        background: #fff;
        padding: 6% 0 6%;
        color: #000000;
    }
    .license-section {
        background: #ecf0f5 url(../images/licensebg.png) no-repeat center center;
        background-size: cover;
        padding: 5% 0;
    }
    .mt-sm240 {
        margin-top: 240px;
    }
}

.yellow-clr {
    color: #f8e71c;
}

.bonus-section {
    background: #fff url(../images/bonus-bg.png) no-repeat top center;
    background-size: cover;
    padding: 4% 0 6%;
}

.bonus-count {
    background: #410cac;
    display: inline-block;
    padding: 10px 29px;
    border-radius: 15px;
}


/* btn-1 */
.probtn-1 a {
	background: rgb(216, 246, 126);
    color: #000000;
    padding: 3%;
    text-decoration: none;
    display: block;
    width: 100%;
    outline: none;
    border-radius: 10px;/* 
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; */
}
.probtn-1 a:hover {
	background: #c2e263; 
}
.bdr-1 {
	position: absolute;
	background: #b7b7b7;
    width: 1px;
    height: 89%;
    left: 50%;
	/* border-right: 1px solid #b7b7b7; */
}
.act-section {
	background: #ffffff url(../images/unfair-advantage-bg.png) no-repeat;
	background-position: top center;
    background-size: cover;
	padding: 6% 0;
}
@media (max-width:767px) {
	.bdr-1 {
		border-right: 0px solid #b7b7b7;
	}
	.third-section,
	.act-section {
		background: #f6f2ff;
	}
}
.no-wrap {
	white-space: nowrap;
}




/*Oto 3 Main CSS Start*/
/* Header Section */
.pur-clr{color:#224cb0;}

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 4px;
    padding: 0 0 35px 40px;
}

@media (min-width: 768px) {
    kaptick li {
    padding: 0 0 40px 40px;
}
}

.supercharge-ul li {
    list-style: none;
    background: url(../images/srtick.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 15px 40px;
}

.light-green{
    color:#224cb0;
}

.tickul li {
    list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 2px;
    padding: 6px 0 15px 50px;
    line-height: 150%;
}
@media (max-width: 767px) {
	.footer-section {
		background: #1e0059;
		padding: 30px 0px;
	}
	.content-mbl-space {
		padding: 30px 0px;
	}
	.bonus-section {
		background: #f6f2ff;
	}
}

.red-text {
	color: red;
}
@media (min-width: 768px) {
	.game-changer {
		padding: 13px 43px;
		transform: skew(20deg);
		max-width: 340px;
	}
}
.game-changer {
    background: #84f845;
    padding: 12px 30px;
    display: inline-block;
}
@media (min-width: 768px) {
.text-roated {
    transform: skew(-20deg);
}
}
@media (min-width: 768px) {
.mt-smm30px {
    margin-top: -30px;
}
}
.black-design {
    background: #440eb1;
    border-radius: 5px;
    padding: 13px 12px 8px 12px;
}

@media (min-width: 768px) {
    .black-design {
        background: url(../images/but-that-not-all.png) no-repeat;
        background-size: contain;
		background-position: center;
		padding: 30px;
    }
}

.bonus-number {
    background: url(../images/bonus-number-bg.png) no-repeat center center;
    background-size: contain;
    padding: 15px;
}