@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?31jxz8');
  src:  url('../fonts/icomoon.eot?31jxz8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?31jxz8') format('truetype'),
    url('../fonts/icomoon.woff?31jxz8') format('woff'),
    url('../fonts/icomoon.svg?31jxz8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cookie-consent:before {
  content: "\e95f";
}
.icon-todays-visitors:before {
  content: "\e95e";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-instagram:before {
  content: "\e91b";
}
.icon-linkedin:before {
  content: "\e952";
}
.icon-pinterest:before {
  content: "\e95a";
}
.icon-reddit:before {
  content: "\e95b";
}
.icon-tumblr:before {
  content: "\e95c";
}
.icon-twitter:before {
  content: "\e95d";
}
.icon-action:before {
  content: "\e900";
}
.icon-add-product:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-affiliate:before {
  content: "\e903";
}
.icon-become-premium:before {
  content: "\e904";
}
.icon-bg:before {
  content: "\e905";
}
.icon-bold:before {
  content: "\e906";
}
.icon-bonuses:before {
  content: "\e907";
}
.icon-business:before {
  content: "\e908";
}
.icon-center-text:before {
  content: "\e909";
}
.icon-choosetemplate:before {
  content: "\e90a";
}
.icon-copy:before {
  content: "\e90b";
}
.icon-create_funnel:before {
  content: "\e90c";
}
.icon-cross:before {
  content: "\e90d";
}
.icon-dashboard:before {
  content: "\e90e";
}
.icon-delete:before {
  content: "\e90f";
}
.icon-dot-list:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e911";
}
.icon-drag-file:before {
  content: "\e912";
}
.icon-duplicate:before {
  content: "\e913";
}
.icon-edit:before {
  content: "\e914";
}
.icon-error:before {
  content: "\e915";
}
.icon-funnels:before {
  content: "\e917";
}
.icon-geo-location:before {
  content: "\e918";
}
.icon-get-traffic:before {
  content: "\e919";
}
.icon-help:before {
  content: "\e91a";
}
.icon-integration:before {
  content: "\e91c";
}
.icon-italic:before {
  content: "\e91d";
}
.icon-justify-all:before {
  content: "\e91e";
}
.icon-lead-page:before {
  content: "\e91f";
}
.icon-lead-popup:before {
  content: "\e920";
}
.icon-left-text:before {
  content: "\e921";
}
.icon-library:before {
  content: "\e922";
}
.icon-link:before {
  content: "\e923";
}
.icon-logout:before {
  content: "\e924";
}
.icon-manage:before {
  content: "\e925";
}
.icon-mobile:before {
  content: "\e926";
}
.icon-navigation-close:before {
  content: "\e927";
}
.icon-navigation-dropdown:before {
  content: "\e928";
}
.icon-navigation-open:before {
  content: "\e929";
}
.icon-next:before {
  content: "\e92a";
}
.icon-numbering-list:before {
  content: "\e92b";
}
.icon-overview:before {
  content: "\e92c";
}
.icon-payment-history:before {
  content: "\e92d";
}
.icon-pdf-trainiing:before {
  content: "\e92e";
}
.icon-plan-usage:before {
  content: "\e92f";
}
.icon-popup:before {
  content: "\e930";
}
.icon-premium-support:before {
  content: "\e931";
}
.icon-previous:before {
  content: "\e932";
}
.icon-products:before {
  content: "\e933";
}
.icon-profile:before {
  content: "\e934";
}
.icon-profit-pages:before {
  content: "\e935";
}
.icon-promo-page:before {
  content: "\e936";
}
.icon-publish:before {
  content: "\e937";
}
.icon-redirect:before {
  content: "\e938";
}
.icon-refresh:before {
  content: "\e939";
}
.icon-remove:before {
  content: "\e93a";
}
.icon-reports:before {
  content: "\e93b";
}
.icon-repromote:before {
  content: "\e93c";
}
.icon-right-text:before {
  content: "\e93d";
}
.icon-save:before {
  content: "\e93e";
}
.icon-search:before {
  content: "\e93f";
}
.icon-session:before {
  content: "\e940";
}
.icon-settings:before {
  content: "\e941";
}
.icon-share-page:before {
  content: "\e942";
}
.icon-social:before {
  content: "\e943";
}
.icon-socialmozo:before {
  content: "\e944";
}
.icon-strik-ethrough:before {
  content: "\e945";
}
.icon-subscription:before {
  content: "\e946";
}
.icon-support:before {
  content: "\e947";
}
.icon-technology:before {
  content: "\e948";
}
.icon-text:before {
  content: "\e949";
}
.icon-thankyou-popup:before {
  content: "\e94a";
}
.icon-tick:before {
  content: "\e94b";
}
.icon-today-leads:before {
  content: "\e94c";
}
.icon-total-profitmozo:before {
  content: "\e94d";
}
.icon-total-profitpage:before {
  content: "\e94e";
}
.icon-total-vistors:before {
  content: "\e94f";
}
.icon-total_project:before {
  content: "\e950";
}
.icon-training:before {
  content: "\e951";
}
.icon-underline:before {
  content: "\e953";
}
.icon-update-logs:before {
  content: "\e954";
}
.icon-video-training:before {
  content: "\e955";
}
.icon-view:before {
  content: "\e956";
}
.icon-warning:before {
  content: "\e957";
}
.icon-webinar:before {
  content: "\e958";
}
.icon-your-plan:before {
  content: "\e959";
}
