.white-section {
    background: #ffffff;
    padding: 30px 0px;
}


/*bonus*/

.bonus-section {
    background: #ffffff;
    padding: 30px 0px;
}
.bonus-section-shape {
    padding: 15px;
    position: relative;
    background: #f2f4fa;
    border: solid 1px #f2f4fa;
    border-radius: 5px;
}

.bonus-headline {
background: #ff7200;
padding:12px 40px;
display: inline-block;
border-radius: 50px;
text-align:center;
}

.bonus-count {
    background: #2e046d;
    display: inline-block;
    padding: 10px 29px;
    border-radius: 15px;
}

.limitbonusbg {
    background: url(../images/limitbonusbg.png) no-repeat center center;
    background-size: auto;
    background-size: contain;
    display: inline-block;
    padding: 20px 40px;
}

.noneed-section {
    background:#ffffff;
    padding: 30px 0px;
}

.license-section {
    background: #f2f4fa;
    padding: 30px 0px;
	border-bottom:solid 5px #100370;
}

.catch-section {
    background: #ffffff url(../images/catch-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.guarantee-section {
    padding: 30px 0px;
    background: #0e082c;
}

.price-section {
    background: #ffffff url(../images/price-bg.png) no-repeat top center;
    background-size: cover;
    padding: 30px 0px;
}

.faq-section {
    background: #ffffff;
    padding: 30px 0px;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.footer-section {
    background: #080d1a;
    padding: 30px 0px 30px 0px;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.xs-text-center,
.xs-text-center1 {
    text-align: center;
}


/*Table CSS*/

.kappurple {
    color: #7734a3;
}

.kapgreen {
    color: #1d7773;
}

.kaplight {
    color: #ffeb09;
}

.bestbg {
    background-color: rgb(17, 23, 62);
    padding: 2px 20px;
    border-radius: 30px;
}

.btbg {
    background-color:#00ff84;
    padding: 15px 10px 9px 10px;
	border-radius:10px 10px 0px 0px;
}

.ptborder {
    background-color: rgb(231, 231, 231);
    height: 1px;
    margin: 0 auto;
    width: 90%;
}

.tablebox2 hr,
.tablebox3 hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid rgb(231, 231, 231);
    width: 90%;
}

.tablebox4 hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid rgb(9, 14, 45);
    width: 90%;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

ul.vgreytick,
ul.vgreytick1,
ul.vgreytickb {
    padding-left: 0;
}

.tablebox2 {
    border-width: 1px;
    border-color:#cecece;
    border-style: solid;
    width: 100%;
    border-radius: 10px;
    float: left;
    background:#ffffff;
}

.tablebox3 {
	background: #1a243f;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    position: relative;
	
}
.tablebox3:before {
    content: '';
    position: absolute;
    background: url(../images/most-popular.png) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 0px;
    top: 0px;
}
.tablebox4 ul {
    padding-left: 0;
    color: #fff;
}

.tablebox4 {
    border-width: 1px;
    border-color: rgb(231, 231, 231);
    border-style: solid;
    width: 100%;
    border-radius: 0px;
    float: left;
    background: #262f62;
}

ul.vgreytick li {
    background: #ffffff url(../images/vgreytick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 65px;
    background-position: 20px 27px;
    line-height: 150%;
}

ul.vgreytickb li {
    background: url("../images/cgtick.png") no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 65px;
    background-position: 20px 27px;
    line-height: 150%;
    border-bottom: 1px solid rgb(9, 14, 45);
}

ul.vgreytickb,
ul.vgreytick,
ul.vgreytick1 {
    padding-left: 0px;
    padding-right: 0px;
}

ul.vgreytickb li:last-child,
ul.vgreytick li:last-child,
ul.vgreytick1 li:last-child {
    border: 0;
}

ul.vgreytick1 li {
    background: #ffffff url(../images/vgreytick1.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 65px;
    background-position: 20px 27px;
    line-height: 150%;    
}

ul.vgreentick li {
    background: #ffffff url(../images/vgreentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 65px;
    background-position: 20px 27px;
    line-height: 150%;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.line-purple{
	background:#70599b;
	height:2px;
	max-width:80%;
	margin:0 auto;
}
.line-yellow{
	background:#d8f67e;
	height:2px;
	max-width:80%;
	margin:0 auto;
}
ul.vgreytick1 li:nth-child(even) {
    background-color: #f2f4fa;
}
ul.vgreytick1 li:nth-child(odd) {
    background-color: #ffffff;	
}

ul.vgreytick li:nth-child(even) {
    background-color: #1a243f;
	
	
	
}
ul.vgreytick li:nth-child(odd) {
    background-color: #091025;
	
}
.tbbg1 {   
	padding: 15px;	
	background: rgba(119,89,160,1);
	background: -moz-linear-gradient(left, rgba(119,89,160,1) 0%, rgba(105,90,151,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(119,89,160,1)), color-stop(100%, rgba(105,90,151,1)));
	background: -webkit-linear-gradient(left, rgba(119,89,160,1) 0%, rgba(105,90,151,1) 100%);
	background: -o-linear-gradient(left, rgba(119,89,160,1) 0%, rgba(105,90,151,1) 100%);
	background: -ms-linear-gradient(left, rgba(119,89,160,1) 0%, rgba(105,90,151,1) 100%);
	background: linear-gradient(to right, rgba(119,89,160,1) 0%, rgba(105,90,151,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7759a0', endColorstr='#695a97', GradientType=1 );  
	border-radius:10px 0px 100px 0px;	
}

.tbbg2 {
    padding: 15px;	
	background: #d8f67e;
	border-radius:0px 0px 100px 0px;	
}

.tbbg4 {
    background: url(../images/kplan3.png) no-repeat center;
    background-size: 100% 100%;
    padding: 15px 15px 40px;
}

.lightylw {
    color: #f8e71c;
}
.no-comparison-shape-bg,
.amazingdeal-shape{
	background:#370581;
	padding:12px;
	border-radius:5px;
}
.noneed-section1{
	background:#fb93a4;
	padding:30px 0px;
}

.notdone-shape-bg{
	 border:solid 5px #370581;
	 padding:15px 5px;
}
.nocomparsion-section {
    background: #ffffff;	
}
.noneed-shape-bg{
	 border:solid 5px #1d0a8f;
	 padding:15px;
}
.noneed-listing li {
    list-style: none;
    background: url(../images/cancel.png) no-repeat;
    background-position: 0 0px;
    padding:0 0 30px 60px;
	min-height:42px;
}
.noneed-listing li:last-child{padding-bottom:0px;}

.noneed-listing3 li {
    list-style: none;
    background: url(../images/cross.png) no-repeat;
    background-position: 0 5px;
    padding:0 0 30px 50px;
	min-height:42px;
}
.noneed-listing3 li:last-child{padding-bottom:0px;}
.noneed-listing4 li {
    list-style: none;
    background: url(../images/emoji.png) no-repeat;
    background-position: 0 0px;
    padding:0 0 25px 50px;
	min-height:42px;
}
.noneed-listing4 li:last-child{padding-bottom:0px;}
.tablebox-inner-bg {
    background: url(../images/start-plan-bg.png) no-repeat center;
    padding:60px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #cacaca;
}
.tablebox-inner-bg2 {
       padding:60px 30px;

    border-bottom: solid 1px #1a243f;
}
.margin-t-60{margin-top:-40px;}
@media (min-width: 768px) {
.margin-t-60{margin-top:-60px;}	
.tablebox-inner-bg {
    padding:80px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}	
.tablebox-inner-bg2 {
    padding:80px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}
.bonus-section-shape {
    padding:30px;    
}	
.nocomparsion-section {
    padding: 0px 0px;
    background: #ffffff url(../images/no-comparison-bg.png) no-repeat center center;
    background-size: cover;
}	
	.no-comparison-shape-bg{
	 background: url(../images/no-comparison-shape.png) no-repeat center center;
    background-size: contain;
	padding:20px;
	border-radius:0px;
}	.amazingdeal-shape{
	 background: url(../images/amazingdeal-shape.png) no-repeat center center;
    background-size: contain;
	padding:20px;
	border-radius:0px;
}
.noneed-section1{
	 background: url(../images/noneed-section.png) no-repeat center center;
    background-size: cover;
	padding:100px 0px;
}
	.notdone-shape-bg{
	 background: url(../images/notdone-shape-bg.png) no-repeat center center;
    background-size: contain;
	padding:35px;
	border-radius:0px;
	white-space: nowrap;
	border:none;
}
	.noneed-shape-bg{
	 background: url(../images/noneed-shape-bg.png) no-repeat center center;
    background-size: 100% 100%;
	padding:50px;
	border-radius:0px;	
	border:none;
}
    .planimgmrgn1 {
        margin-top: -90px;
    }
    .planimgmrgn2 {
        margin-top: -155px;
    }
    .planimgmrgn3 {
        margin-top: -105px;
    }
    .planimgmrgn4 {
        margin-top: -95px;
    }
    .planimgmrgn {
        margin-top: -140px;
    }
    .tbbg3 {
        padding: 30px 15px 50px;
    }
    .tbbg2 {
        padding: 30px;
		max-width:95%;
    }
    .tbbg1 {
        padding: 30px;
		max-width:95%;
    }
	.sm-center-block{
		margin-left:auto;
		margin-right:auto;
		display:block;
	}
}


/* .hideme{opacity:0;} */

.buypad {
    padding: 4% 3%;
}

.myfeatures {
    background: #fff;
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}

.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}


.myfeatureslast {   
    float: left;
    padding: 30px 15px;
    width: 100%;
    min-height: 69px;
	background:#ffffff;
	border-radius:0px 0px 10px 10px;
}

.myfeatureslastb {
    float: left;
    padding: 30px 15px;
    width: 100%;
    min-height: 69px;
	background:#ffffff;
	border-radius:0px 0px 10px 10px;
	border: solid 1px #1a243f;
}

.ribbonimg {
    position: absolute;
    top: 100px;
    right: 0px;
    height: 50px;
}

.xs-height110 {
    height: 110px;
}

.xs-height30 {
    height: 30px;
}

@media(min-width:240px) {
    .ribbonimg {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 90px;
    }
}

.thanks-button a {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    display: inline-block;
}
.video-testimonial-section1 {
    background: #ffffff;
    padding: 30px 0px;
}
.video-testimonial-section3 {
    background: #f2f4fa;
    padding: 30px 0px;
}
@media(min-width:768px) {
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    }
    .thanks-button a {
        font-size: 25px;
    }
    .xs-height110 {
        height: auto;
    }
    .xs-height30 {
        height: auto;
    }
    .mt-sm144 {
        margin-top: 144px;
    }
}
 .awesome-section {
        padding: 30px 0px;
		background:#f2f4fa;
    }

/*Table CSS End*/
.compare-table-sec {
    background: #ffffff;
    padding: 30px 0px;
}
.stillnot-sure-sec {
    background: #ffffff;
    padding: 30px 0px;
}
.amazing-tool-bg {
    background: #ffffff;
    padding:30px 0px 30px 0px;
}
.outer-div {
    border: 1px solid #f5efff;
    border-radius: 10px;
    padding: 10px;
}
.catch-sec {
    padding: 15px;
    background-color: #f5efff;
    border-radius: 10px;
}
.no-comparison-shape {
    background: #e4e7ea;
    padding:30px 15px;   
	border-top:solid 5px #9e9e9e;
	border-bottom:solid 5px #9e9e9e;
	
}
.text-white-clr, .text-white-clr1 {
    color: #000000;
}

@media(max-width:767px) {
.bonus-value-shape {
    background: #ffffff;
    padding:15px;
	border:none;
}
}
.bonus-section-value{
	padding: 20px 0px 30px 0px;
    background: #f2f4fa;
}

@media(min-width:768px) {
.bonus-value-shape{
	padding-left:50px;
	padding-top:280px;
	display:inline-block;
}
.text-white-clr1 {
    color: #d8f67e;
}	
.text-white-clr {
    color: #ffffff;
}	

.bonus-section-value {
    background: url(../images/bonus-value-bg.png) no-repeat center center;
    background-size: cover;
    padding: 60px 0px 200px;
}	
.no-comparison-shape {
    background: url(../images/no-comparison-shape-bg.png) no-repeat;
    background-size: contain;
    height: 596px;
    width: 1153px;
    padding:75px 53px 77px 402px;
	border:none;
}	
.catch-sec {
    padding: 50px 40px;
}
.compare-table-sec {
    background: #ffffff url(../images/ct-bg.png) no-repeat center center;
    background-size: cover;
    padding: 100px 0px;
}
.amazing-tool-bg {
    background: #ffffff;
    padding: 0px 0px 50px 0px;
}
.stillnot-sure-sec {
    background: #ffffff;
    padding: 0px 0px 90px 0px;
}
	.awesome-section {
        padding: 100px 0px 100px;
        background:url(../images/awesome-bg.png) no-repeat center center;
        background-size:cover;
    }
    .self-padding {
        padding: 27px 30px 15px 30px !important;
    }
    .white-section {
        padding: 70px 0px;
    }
    .bonus-section {
        padding:100px 0px 50px 0px;		
		background:#ffffff url(../images/bonus-bg.png) no-repeat center center;
        background-size:cover;
    }
    .noneed-section {       
        padding:70px 0px;
		background:#ffffff url(../images/no-need-bg.png) no-repeat center center;
        background-size:cover;
    }
    .license-section {
		padding: 100px 0px 150px 0px;
		background:#ffffff url(../images/license-bg.png) no-repeat bottom center;
		background-size: cover;
		border:none;
    }
    .catch-section {
        padding: 70px 0px;
    }
    .guarantee-section {
        background: #ffffff url(../images/guarantee-section-bg.png) no-repeat top center;
        background-size: cover;
        padding: 160px 0px 100px 0px;
    }
    .price-section {
        padding: 70px 0px;
    }
    .faq-section {
        padding: 70px 0px;
		background: #ffffff url(../images/faq-bg.png) no-repeat center center;
        background-size: cover;
    }
    .xs-text-center {
        text-align: left;
    }
    .footer-section {      
        padding: 50px 0px 50px 0px;
    }
	.black-timer-label.f18 {
    font-size: 18px;
}
.black-timer-box.f40 {
    font-size: 40px;
}
.video-testimonial-section1 {
    background: #f2f4fa url(../images/video-testimonial-bg-bottom.png) no-repeat center center;
    background-size: cover;
    padding: 100px 0px 100px 0px;
}
.video-testimonial-section3 {
    background: #f2f4fa url(../images/video-testimonial-bg-bottom3.png) no-repeat center center;
    background-size: cover;
    padding: 100px 0px 100px 0px;
}
}

.max-h450{max-height:450px;}