
#ouibounce-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 60px;
}

#ouibounce-modal .underlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	cursor: pointer;
	-webkit-animation: fadein .5s;
	animation: fadein .5s;
}

#ouibounce-modal .modal-wrapper {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
	-ms-flex-line-pack: center !important;
	align-content: center !important;
	width: 95%;
	position: relative;
	text-align: center;
	-webkit-animation: popin .3s;
	animation: popin .3s;
	overflow-y: hidden;
}

.countdown {
    background-color: transparent;
    color: #fff;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
}


/* Css For Timer Display */

.timer-label {
    margin-right: 5px;
    background: rgb(255, 19, 19);
    padding: 10px!important;
}

.countdown .timer-label:last-child {
    margin-right: 0px;
}

.timerbg {
    font-weight: 600;
}

.for-padding {
    padding: 20px;
}
.orange-clr {
    color: #f9bb0b;
}
.red-clr {
    color: rgba(239, 71, 72, 1);
}
@media (min-width: 768px) {
    .timer-label {
        margin-right: 15px;
        min-width: 100px;
        padding: 15px !important;
    }
}

@media (max-width: 768px) {
    .for-padding .cta-link-btn {
        font-size: 16px;
    }
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 35px;
    height: 35px;
    opacity: 1;
    font-style: normal;
    color: #fff;
    font-weight: 700;
    background: black;
    outline: none;
    /* border: 0; */
    border-radius: 100%;
    /* align-items: center; */
    /* display: inline-flex; */
    /* justify-content: center; */
    line-height: 33px;
    border: solid 2px #adabab;
    font-size: 17px;
}

div#timerCounttext:after,
div#timerCounttext:before {
    content: '';
    display: block;
    clear: both;
}

div#countTimer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newtimer {
    background: rgb(255, 19, 19);
    padding: 25px 10px 15px 10px;
    color: #ffffff;
    font-size: 45px;
    display: inline-flex;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

a.cta-link-btn1 {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 5px;      
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(0deg, #F55D87 10%, #CE14FD 100%);
    transition: all .3s ease;
    /* animation: glowing 5000ms infinite; */
    transition: all 0.5s;
}

a.cta-link-btn1:hover {
    background: linear-gradient(0deg, #CE14FD 10%, #F55D87 90%);
    transition: all 0.5s;
}

.yellow-clr1 {
    color: #ffc21f;
    text-decoration: none;
}

@media (min-width: 768px) {
    .pl130 {
        padding-left: 130px;
    }
    a.cta-link-btn1 {
        font-size: 28px;
        padding: 20px 80px 5px 80px;
        line-height: 94%;
    }
    .newtimer {
        background: rgb(255, 19, 19);
        padding: 25px 10px 15px 10px;
        color: #ffffff;
        font-size: 75px;
        display: inline-flex;
        font-weight: bold;
        width: 600px;
        text-align: center;
        justify-content: center;
    }
}

.timer-new {
    display: flex;
    width: 100%;
    justify-content: center;
}

.timer-new>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin-right: 20px;
    flex-direction: column;
    padding: 15px;
    width: 60px;
    color: black;
}

#ouibounce-modal .modal-wrapper .modal-bg {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15.6px 4.4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}

.model-header {
    background:#FF2C2C;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

button.close {
    position: absolute;
    right: 5px;
    top: 5px;
}
#hours{
    position: relative;
}
#days{
    position: relative;
}
#mins{
    position: relative;
}
#days:after {
    content: ':';
    font-size: 38px;
    font-weight: 700;
    right: -28px;
    top: -3px;
    position: absolute;
}
#hours:after {
    content: ':';
    font-size: 38px;
    font-weight: 700;
    right: -28px;
    top: -3px;
    position: absolute;
}
#mins:after {
    content: ':';
    font-size: 38px;
    font-weight: 700;
    right: -28px;
    top: -3px;
    position: absolute;
}
.timer-new>div:last-child {
    margin-right: 0;
}

.timer-new>div span {
    font-size: 40px;
    font-weight: 600;
    color: black;
}

.timer-new>div .text {
    font-size: 16px;
    text-transform: uppercase;
}

@media (max-width:767px) {
    #ouibounce-modal .modal-wrapper {
        margin: auto!important;
        left: 50%!important;
        position: fixed!important;
        top: 50%!important;
        transform: translate(-50%, -50%)!important;
    }
    .width80 {
        width: 90%;
        margin-left: 20px;
    }
    #ouibounce-modal .model-header>div {
        margin-left: 20px;
    }
    .timer-new>div {
        width: 65px;
        height: 65px;
    }
    .timer-new>div span {
        font-size: 24px;
    }
    .timer-new>div .text {
        font-size: 12px;
    }
}

@media (min-width: 576px) {
    #ouibounce-modal .modal-wrapper {
        /*min-height: 100vh;*/
        /*height: 100vh;*/
        max-width:840px;
        margin: 0px auto;
    }
    .for-padding {
        padding: 40px;
    }
}

.timer-clr {
    color: #0a52e2;
}