html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Mulish', sans-serif;
	color: #00081d;
	font-size: 14px;
	overflow-x: hidden;
}


/* Color CSS */

.white-clr {
	color: #fff;
}

.black-clr {
	color: #00081d !important;
}

.yellow-clr {
	color: #ffe400;
}

.yellow-clr1 {
	color: #ffef6b;
}

.blue-clr {
	color: #0e2672;
}

.red-clr {
	color: #ff1717;
}

.brouwn-clr {
	color: #ffab6d;
}

.blue-clr1 {
	color: #43e2ff;
}

.purple-clr {
	color: #d3a9ff;
}

.pink-clr {
	color: #ff7b9a;
}
.pink-clr1 {
	color: #ff5464;
}

/* CTA Section  */

.cta-section-new {
	background: #00103b;
	padding: 30px 0;
}

@media (min-width:768px) {
	.cta-section-new {
		padding: 100px 0;
	}
}


/* CTA Section End */


/* CTA Link Button */

a.cta-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 5px;
	color: #ffffff;
	font-weight: 800;
	font-size: 22px;
	line-height: normal;
	white-space: normal;
	align-items: center;
	border-radius: 100px;
	transition: all 0.5s;
	animation: glowing 5000ms infinite;
	border-radius: 100px;
	background-image: -moz-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
}

a.cta-link-btn:hover {
	transition: all .3s ease;
	background-image: -moz-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
	color: #ffffff;
	text-decoration: none;
	transform: scale(1.1);
	transition: all 0.5s;
}

@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 36px;
		padding: 28px 60px 30px 60px;
		display: inline-block;
	}
}


/* CTA Link Button End */
.preheadline {
	background: #ffe400;
	display: inline-block;
	border-radius: 10px;
	padding: 10px 20px;
}

.post-heading {
	border-top: 1px solid #3a55a5;
	border-bottom: 1px solid #3a55a5;
	padding: 20px 0;
	display: inline-flex;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.d-inline-flex {
	display: inline-flex;
}

.relative {
	position: relative;
}

@media (max-width: 767px) {

	.mx-xs-auto,
	.mx-xs-center {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.xstext-center {
		text-align: center;
	}
}


/* Header Section Css Start */

.header-section {
	background: #001244;
	padding: 30px 0px;
}

.header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
}

.header-section ul.leader-ul li a {
	color: #ffffff;
}

.border-video {
	border-radius: 20px;
}

.affiliate-link-btn a {
	border-radius: 60px;
	background-color: #fff;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #0f172b !important;
	font-weight: 700;
}
.highlight-heading {
    background: #00aced;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0px;
}

.calendar-wrap {
	border-radius: 15px;
	background-color: #000f59;
	padding: 20px;
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	z-index: 1;
}


.list-head {
	list-style: none;
}

.list-head li {
	background: url(https://cdn.oppyo.com/launches/vocalic/special/list-tick.webp) no-repeat;
	padding: 0px 0px 10px 30px;
	margin-bottom: 10px;
	background-position: 0px 8px;
	text-align: left;
	border-bottom: solid 1px #1d3271;
}

.list-head li:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: none;
}


@media (min-width:768px) {
	.header-section {
		background: #001244 url(https://cdn.oppyo.com/launches/vocalic/special/header-bg.webp);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 40px 0px 70px 0px;
	}

	.header-section ul.leader-ul {
		margin-top: 0px;
	}

	.affiliate-link-btn a {
		padding: 10px 25px;
		font-size: 18px;
	}

	.affiliate-link-btn a:hover {
		background-image: -webkit-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
		color: #ffffff !important;
	}

	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58%;
		flex: 0 0 58%;
		max-width: 58%;
	}

	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 42%;
		flex: 0 0 42%;
		max-width: 42%;
	}
}

/* Header Section Css End */
.step-section {
	background: #ffffff;
	padding: 30px 0px;
}

.step-shape {
	border-radius: 6px;
	background-color: rgb(255, 228, 0);
	text-align: center;
	font-weight: 800;
	font-size: 20px;
	color: #000000;
	padding: 12px 20px;
	display: inline-block;
	text-transform: uppercase;
}

ul.list-item {
	margin: 0px 0px 0px 20px;
	padding: 0px;
}

ul.list-item li {
	margin-bottom: 10px;
}

ul.list-item li::marker {
	color: #001365;
	font-size: 23px;
}

@media (min-width:768px) {
	.step-section {
		padding: 100px 0px;
		background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/special/step-section-bg.webp) no-repeat center center;
        background-attachment: fixed;
	}

	.step-arrow1 {
		position: relative;
		bottom: -90px;
	}
}


.third-section {
	background: #eff2ff;
	padding: 30px 0;
}

ul.features-list {
	margin: 0px;
	padding: 0px;
}

ul.features-list li {
	background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
	padding: 0px 0px 20px 45px;
	background-position: 0px 3px;
	list-style: none;
    min-height: 30px;
}

ul.features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}

.header-list-block {
	border-radius: 20px;
	padding: 20px 0px;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	background: #ffffff;
}

@media (min-width:768px) {
	.third-section {
		padding: 100px 0px;
	}

	.header-list-block {
		border-radius: 20px;
		padding: 40px 20px;
	}
}

@media (max-width: 767px) {
	ul.features-list li {
		padding: 0px 5px 20px 40px;
		background-position: 4px 3px;
	}
}

/* Feature list section */
.feature-list {
	padding: 30px 0px;
}

.feature-list-box {
	border-radius: 10px;
	background-color: #06103c;
	padding: 0px 30px 30px 30px;
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 83px;
	height: calc(100% - 83px);
}

.feature-list-box .icon-position {
	margin-top: -83px;
}

.feature-list-box .description {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 15px;
	color: #fff;
}

@media (min-width: 768px) {
	.feature-list {
		padding: 100px 0px 100px 0px;
		background: #fff url(https://cdn.oppyo.com/launches/vocalic/special/feature-section.webp) no-repeat center center;
		background-size: cover;
	}
}

/* Feature list section End*/

/* Demo section css*/
.demo-sec {
	background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/special/demo-sec-bg.webp) no-repeat center top;
	background-size: cover;
	padding: 80px 0px 30px 0px;
}

@media (min-width: 768px) {
	.demo-sec {
		padding:160px 0px 100px 0px;
	}
}

/* Demo section css End*/

/* Know Section Css */
.know-sec {
	padding: 30px 0px 0px 0px;
    background: #eff1fe;
}

@media (min-width:768px) {
	.know-sec {
		padding: 70px 0px 0px 0px;
		background: #eff1fe url(https://cdn.oppyo.com/launches/vocalic/special/know-bg.webp) center center no-repeat;
		background-size: cover;
	}

	.f-md-80 {
		font-size: 60px;
	}
    .arrow1 {
        position: absolute;
        top: -173px;
        right: -60px;
    }
    .arrow {
        position: absolute;
        top: -222px;
        left: -156px;
    }
    .arrow2 {
        position: absolute;
        top: -190px;
        right: -66px;
    }
}

/* Know Section Css End */

/* HI Section Css */
.hi-sec {
	padding: 30px 0px;
	background: #000f41;
}

.hi-box {
	border-radius: 30px;
	background-color: rgb(15, 39, 153);
	box-shadow: 0px 0px 10px 0px rgba(4, 6, 21, 0.15);
	padding: 30px;
	position: relative;
}

.hi-shape {
	background-color: rgb(255, 228, 0);
	border-radius: 100px;
	padding: 14px 30px;
	display: inline-block;
	top: -60px;
	position: relative;
}

.list-box {
	padding: 14px 0px;
	display: block;
	border-radius: 15px;
	background-color: rgb(255, 255, 255);
}

.mt30px {
	margin-top: -30px;
}

@media (min-width:768px) {
	.hi-sec {
		padding: 100px 0px;
		background: #fff url(https://cdn.oppyo.com/launches/vocalic/special/hi-bg.webp) center center no-repeat;
		background-size: cover;
	}


}

/* HI Section Css End */

/* Stats Section Css */
.stats-sec {
	padding: 30px 0px;
	background: #ffffff;
}

.stats-block {
	border-radius: 20px;
	background-color: rgb(232, 237, 255);
	padding: 20px;
	height: 100%;
}

.stats-block .content {
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 15px 0px rgba(4, 6, 21, 0.1);
	padding: 20px;
	text-align: center;
}

.stats-wrapper {
	padding: 20px;
	border-radius: 30px;
	background-image: -moz-linear-gradient(90deg, rgb(0, 16, 132) 0%, rgb(0, 17, 58) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(0, 16, 132) 0%, rgb(0, 17, 58) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(0, 16, 132) 0%, rgb(0, 17, 58) 100%);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.over-shape {
    background: url(https://cdn.oppyo.com/launches/webpull/special/over-shape.webp) no-repeat center center;
    display: inline-block;
    padding: 0px 20px;
    background-size: 100% 100%;
}

@media (min-width:768px) {
	.stats-sec {
		padding: 100px 0px;
		background: #fff url(https://cdn.oppyo.com/launches/vocalic/special/stats-bg.webp) center bottom no-repeat;
		background-size: cover;
	}

	.stats-wrapper {
		padding: 60px;
	}
    .over-shape {
        padding: 16px 60px;
        background-size: 100%;
    }
}

/* Stats Section Css End */

/* Big Question */
.big-question {
	padding: 30px 0px;
	background: #eff2ff;
}

@media (min-width:768px) {
	.big-question {
		padding: 100px 0px;
		background: #eff2ff url(https://cdn.oppyo.com/launches/vocalic/special/question-bg.webp) center center no-repeat;
		background-size: cover;
	}
}

/* Big Question End */
/* Option Section **/
.option-section {
	padding: 30px 0px 0px 0px;
	background-color: #030814;
}

.option-shape {
	background-color: rgb(255, 84, 100);
	padding: 10px 20px;
	display: inline-block;
	border-radius: 15px;
}

.option-white-shape {
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	padding: 30px 20px 20px 20px;
	position: relative;
}
ul.problem-list {
    margin: 0px;
    padding: 0px;
}
ul.problem-list li {
    background: url(https://cdn.oppyo.com/launches/vocalic/special/emoji.webp) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 4px;
    list-style: none;
}
.headline-shape{
    border-bottom: solid 1px #ff5464;
}
/* .problme-area-shape2 {
    width: 100%;
    float: left;
    padding: 30px;
    border-radius: 20px;
    background-color: #ff5464;
    outline: solid 20px #ffbdbd;
} */
@media (min-width:768px) {
	.option-section {
		padding: 100px 0px;
		background: #030814 url(https://cdn.oppyo.com/launches/vocalic/special/one-bg.webp) center center no-repeat;
		background-attachment: fixed;
	}

	.option-white-shape {
		border-radius: 20px;
		background-color: rgb(255, 255, 255);
		padding: 100px 30px 40px 30px;
	}

	.right-shape {
		position: absolute;
		left: 14%;
		top: -15%;
		background: url(https://cdn.oppyo.com/launches/vocalic/special/right-shape.webp) center center no-repeat;
		background-size: cover;
		padding: 26px 90px 50px 90px;
	}
	.option-shape {
		padding: 15px 30px;
	}
	.option-shape:after {
		content: '';
		display: block;
		width: 100%;
		border: 2px solid rgb(255, 84, 100);
		position: absolute;
		bottom: 0;
	}

	.option-shape {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 0px;
	}
    .f-md-65 {
        font-size: 65px;
    }
    .sep-line {
        border-left: solid 1px #ff5464;
    }
}
@media (max-width:767px){
	.right-shape {
		background: #081f49;
		padding: 10px 20px;
		border-radius: 50px;
		margin-top: -57px;
		color: #fff !important;
		text-align: center;
	}
}
/* Option Section End**/



/* Proudly Section */
.proudly-sec {
	background: #030814 url(https://cdn.oppyo.com/launches/vocalic/special/proudly-bg.webp) center top no-repeat;
	background-size: cover;
	padding:120px 0px 30px 0px;
}

ul.proudly-list {
    margin: 0px;
    padding: 0px;
}
ul.proudly-list li {
    background: url(https://cdn.oppyo.com/launches/vocalic/special/icon.webp) no-repeat;
    padding: 0px 0px 25px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.proudly-list li:last-child {
    padding-bottom: 0px;
}
.proudly-list-bg {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
    padding: 15px;
}
@media (min-width:768px) {
	.proudly-sec {
		padding: 130px 0px 100px 0px;
	}
    .proudly-list-bg {
        padding: 30px;
    }
}

/* Proudly Section End */

/* Eaiser Section */
	.eaiser-sec {
		padding: 30px 0px;
		background-color: #ffd200;
	}
@media (min-width:768px) {
	.eaiser-sec {
	padding: 70px 0px;
	background: #ffd200 url(https://cdn.oppyo.com/launches/vocalic/special/eaiser-bg.webp) center center no-repeat;
	background-size: cover;
	}
}
/* Eaiser Section End */

.video-section{
    padding: 30px 0;
    background-color: #ffffff;
}
@media (min-width:768px) {
    .video-section{
        padding: 100px 0;
    }  
}
/* Step Section */
.service-box{
		border-radius: 20px;
		background-color: rgb(0, 8, 29);
		padding:15px;
		width: 100%;
}

@media (min-width:768px) {
	.service-box{
		padding: 50px 30px;
}
}
/* Step Section End */

/* Step Section */
.proof-section {
	background: #ffffff;
	padding: 30px 0px;
}
.success-section{
    position: relative;
}
.proof-success{  
    border-radius: 20px;
    background-color: rgb(8, 31, 73); 
    padding: 30px;
}
.success-circle{  
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    background-color: rgb(255, 239, 107);
    display: flex;
    align-items: center;
    justify-content: center;
}  
.proof-head{
    color: rgb(255, 239, 107); 
    position: relative;
}

.success-text{width:100%;} 
@media (min-width:768px) {
	.proof-section {
		padding: 100px 0px 200px 0px;
		background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/special/proof-section.webp) no-repeat center center;
        background-size: cover;
	}
    .img-arrow{
        position: absolute;
        z-index: 9;
        top: -30px;
        left: 30%;
    }
    .success-img{
        position: absolute; 
        top: 100px; 
        right: -30px;
    }
    .success-text{width: 75%;}  

}
/* Step Section End */


/*******Fartures Section ********/
.features-section-one {
    background: #000f41;
    padding:30px 0px;
}
.white-feature{
    padding: 30px 0;
    background-color: #fff;
}
.mtm50{
    top: -35px;
}
.feature-highlight {
    background: #00aced;
    border-radius: 15px;
    padding:15px;
    display: inline-block;
}
.grey-section,
.grey-section1 {
    background: #eff2ff;
    padding: 30px 0;
}
@media (min-width: 768px) {
    .features-section-one {
        padding: 0px 0px 70px 0px;
        background: #000f41 url(https://cdn.oppyo.com/launches/vocalic/special/feature-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
    .feature-highlight {
        background: #00aced;
        border-radius: 127px;
        padding: 20px 40px;
        display: inline-block;
        margin-top: -8%;
    }
    .white-feature{
        padding: 100px 0;
    }
    .grey-section {
        padding: 100px 0;
    }
    .grey-section1 {
        background: #eff2ff url(https://cdn.oppyo.com/launches/vocalic/special/feature-bg1.webp) center center no-repeat;
        background-size: cover;
        padding: 100px 0;
    }
}
/*******Fartures Section End ********/

/* Worry Section */
.worry-section{
    padding: 30px 0px;
}
ul.worry-list {
    margin: 0px;
    padding: 0px;
}
ul.worry-list li {
    background: url(https://cdn.oppyo.com/launches/vocalic/special/tick-icon.webp) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 4px;
    list-style: none;
}
ul.worry-list li:last-child {
    padding-bottom: 0px;
}
.worry-box{
    background: #eff2ff;
    padding: 30px 15px;
    border-radius: 15px;
}
@media (min-width:768px){
    .worry-section{
        padding: 100px 0px;        
    }
    .worry-box{
        padding: 30px;
    }
}
/* Worry Section End */

/* Services Section */
.services-section{
    padding: 30px 0px;
    background: #030816;
}
@media (min-width:768px){
    .services-section{
        padding: 100px 0px;
        background:#ffffff url(https://cdn.oppyo.com/launches/vocalic/special/big-bucks-bg.webp) bottom center no-repeat;
        background-size: cover;
    }
}
/* Services Section End */


/* Potential Sec Start */

.potential-sec {
    background:#000f41;
    padding: 30px 0px;
}

.niche-bg {
    border-radius: 40px;
    background: #fd8b25;
    padding: 2px 30px;
    display: inline-block;
}

@media(min-width:768px) {
    .potential-sec {
        background:#000f41 url(https://cdn.oppyo.com/launches/vocalic/special/feature-bg.webp);
        background-position: center;
        background-repeat: no-repeat;
        padding: 70px 0px;
        background-attachment: fixed;
    }
    .niche-bg {
        padding: 2px 50px;
    }
}


/* Potential Sec End */


/* Compare Table  Section */

section.comp-table ul {
    list-style: none;
    padding: 0;
}

section.comp-table ul li {
    border-left: 1px solid rgb(226 226 226);
    border-right: 1px solid rgb(226 226 226);
    height: 60px;
    line-height: 60px;
    align-items: flex-start;
    align-content: center;
    padding: 0px 25px;
    justify-content: center;
}

@media (min-width:768px) {
    section.comp-table ul li {
        border-left: 1px solid rgb(226 226 226);
        border-right: 1px solid rgb(226 226 226);
        height: 90px;
        line-height: 90px;
        display: flex;
        align-items: flex-start;
        align-content: center;
        padding: 0px 20px;
        justify-content: start;
    }
}

section.comp-table ul li:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    font-weight: 600;
}

section.comp-table ul li:nth-child(odd) {
    background: #effbff;
}

section.comp-table .fist-row li:first-child {
    border-top-right-radius: 0px;
    border-top: 1px solid rgb(226 226 226);
}

section.comp-table .third-row li:first-child {
    border-top-left-radius: 0px;
}

section.comp-table .fist-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

section.comp-table .second-row li:first-child {
    border-top: 1px solid rgb(226 226 226);
    height: 150px;
    text-align: center;
    align-items: center;
    background: #6e44ff;
}

section.comp-table .second-row li:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .third-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .forth-row li:last-child,
section.comp-table .fifth-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .second-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    height: 50px;
}

section.comp-table .second-row {
    margin-top: -50px;
}

section.comp-table .second-row ul li {
    background: #00aced;
}

section.comp-table .second-row ul li:nth-child(odd) {
    background: #0e2672;
}

section.comp-table .third-row li:first-child {
    align-items: center;
    border-top: 1px solid rgb(226 226 226);
}

section.comp-table .second-row ul li,
section.comp-table .third-row ul li,
section.comp-table .forth-row ul li,
section.comp-table .fifth-row ul li {
    justify-content: center;
    text-align: center;
}

@media (max-width:767px) {
    section.comp-table ul li {
        height: 100px;
        line-height: 22px;
        padding: 15px;
    }
    section.comp-table .second-row li:first-child svg {
        transform: rotate(90deg);
        height: 30px!important;
    }
    section.comp-table .third-row li:first-child span,
    section.comp-table .forth-row li:first-child span,
    section.comp-table .fifth-row li:first-child span {
        transform: rotate(90deg);
    }
    section.comp-table .second-row li:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

section.comp-table .second-row li:first-child {
    justify-content: center;
}

section.comp-table .third-row li:first-child {
    justify-content: center;
}

@media (min-width:768px) {
    section.comp-table ul li {
        align-items: center;
        justify-content: start;
        line-height: normal;
        flex-wrap: wrap;
        background: #ffffff;
    }
}

section.comp-table ul li span {
    padding-right: 10px;
    display: contents;
}

@media (max-width:767px) {
    section.comp-table .fist-row li:first-child,
    section.comp-table .third-row li:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.comp-table .second-row li:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    section.comp-table .second-row li:first-child svg {
        max-height: 22px!important;
        height: 30px!important;
    }
    section.comp-table ul li {
        height: 180px;
        line-height: 22px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.comparetable-section {
    padding: 30px 0px;
    background: #ffffff;
}


/* Compare Table Section End */


/* No Comparsion Section */

.nocomparsion-section {
    background: #ffffff;
    padding-bottom: 30px;
}

.no-comparison-shape {
    background: #effbff;
    padding: 15px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .no-comparison-shape {
        background: url(https://cdn.oppyo.com/launches/vocalic/special/no-comparison.webp) no-repeat;
        background-size: contain;
        height: 633px;
        width: 1173px;
        padding: 80px 70px 15px 400px;
    }
    .nocomparsion-section {
        padding: 0px 0px 100px 0px;
        background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/special/no-compare-bg.png) no-repeat center center;
        background-size: cover;
    }
    .comparetable-section {
        padding: 100px 0px;
        background: #fff url(https://cdn.oppyo.com/launches/vocalic/special/pricing-table-bg.webp) center center no-repeat;
		background-attachment: fixed;
    }
}


/* No Comparsion Section End */


/* Silver Platter Section Start */

.silver-platter-section {
    background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/special/silver-platter-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.huge-opportunity-shape {
    background: #eaebeb;
    border: 2px solid #dfdfdf;
    border-radius: 15px;
    padding: 15px 12px;
}

@media (min-width: 768px) {
    .silver-platter-section {
        padding: 80px 0px 100px 0px;
    }
    .huge-opportunity-shape {
        background: url(https://cdn.oppyo.com/launches/vocalic/special/huge-opportunity-shape.webp) no-repeat center center;
        background-size: 100% 100%;
        border: 0px;
        border-radius: 0px;
        padding: 45px 40px 50px;
    }
}


/* Silver Platter Section End */


/* Not Alone Section Start */

.wearenot-alone-section {
    background: #ffffff;
    padding: 0px 15px 30px 15px;
}

.alone-bg {
    background-color: #e9ebf1;
    box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.red-shape {
    background: #00aced;
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}

.red-shape:after {
    content: '';
    background: url(https://cdn.oppyo.com/launches/vocalic/special/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media(min-width:768px) {
    .wearenot-alone-section {
        background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/special/wearenotalone-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 0px 0px 100px 0px;
    }
    .alone-bg {
        padding: 25px 30px 25px 10px;
    }
    .alone-bg:after {
        content: "";
        position: absolute;
        width: 87px;
        height: 49px;
        background-image: url(https://cdn.oppyo.com/launches/vocalic/special/arrow-down.webp);
        left: 44%;
        bottom: -49px;
    }
    .dollars-sm-image {
        width: 211px;
        min-width: 211px;
        height: 163px;
        margin-left: -120px;
        top: 0px;
        left: 0px;
    }
    .red-shape {
        padding: 10px 40px;
        border-radius: 50px;
    }
    .table-wrap1:before {
        left: 15px;
    }
}


/* Not Alone Section End */

/* Testimonial Section Start */

.testimonial-section {
    background: #eff2ff;
    padding: 30px 0px;
}

@media(min-width:768px) {
    .testimonial-section {
        padding: 70px 0px;
    }
}


/* Testimonial Section End */


/* Bonus Section */

.bonus-section {
    background: #dbe1f3;
    padding: 30px 0px;
}

.bonus-section-shape {
    position: relative;
    border-color: rgb(213, 206, 228);
    border-style: dashed;
    border-radius: 10px;
    border-width: 1px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    height: 100%;
}

@media (min-width: 768px) {
    .bonus-section-shape {
        padding: 20px;
    }
    .bonus-section {
        padding: 100px 0px;
        background:url(https://cdn.oppyo.com/launches/vocalic/special/bonus-section.webp) center bottom no-repeat;
        background-size: cover;
    }
}


/* Bonus Section End */


/* Amazing Section Start */

.amazing-tool-bg {
    padding: 30px 15px;
    background: #ffffff;
}

@media(min-width:768px) {
    .amazing-tool-bg {
        padding: 60px 0px 100px 0px;
        background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/special/amazing-tool-bg.webp) no-repeat center center;
        background-size: cover;
    }
}


/* Amazing Section End */


/* License Section Start */

.license-section {
    background: #e9ebf1;
    padding: 30px 0px;
}

@media(min-width:768px) {
    .license-section {
        padding: 100px 0px 50px 0px;
        background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/special/commercial-license-bg.webp) no-repeat center bottom;
        background-size: cover;
        border: none;
    }
}


/* License Section End */


/* Risk Factor Section Start */

.riskfree-section {
    background: #00123e;
    padding: 30px 0px;
}

@media(min-width:768px) {
    .riskfree-section {
        padding: 100px 0px;
        background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/special/riskfree-bg.webp) no-repeat bottom center;
        background-size: cover;
    }
}


/* Table Section Start*/

.table-section {
    background: #ffffff;
    padding: 30px 0px;
    color: #000000;
}

.table-wrap {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.table-head {
    background: #ffffff;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}

.table-list li {
    background: url(https://cdn.oppyo.com/launches/vocalic/special/launch-tick-blue.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}

.table-list li:nth-child(odd) {
    background: #effbff url(https://cdn.oppyo.com/launches/vocalic/special/launch-tick-blue.webp) no-repeat;
    background-position: 15px 21px;
}

.table-list li:nth-child(even) {
    background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/special/launch-tick-blue.webp) no-repeat;
    background-position: 15px 21px;
}

.table-list li.cross-sign {
    background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/special/launch-cross.webp) no-repeat !important;
    background-position: 15px 21px !important;
}

.table-list li.headline {
    background: -moz-linear-gradient(45deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%) !important;
    background: -webkit-linear-gradient(45deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%) !important;
    background: linear-gradient(45deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%) !important;
    padding: 20px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
}

.table-head1 {
    padding: 40px 30px 30px 30px;
    text-align: center;
    background: #0e2672;
}

.table-wrap1 {
    border-radius: 10px;
    background-color: #0e2672;
    box-shadow: 0px 0px 22px 0px rgba(38, 23, 70, 0.4);
    width: 100%;
    float: left;
    position: relative;
}

.table-wrap1:before {
    content: '';
    position: absolute;
    background: url(https://cdn.oppyo.com/launches/vocalic/special/most-popular.webp) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 15px;
    top: -10px;
}

@media(min-width:768px) {
    .table-wrap1:before {
        left: 45px;
    }
}

.table-list1 li {
    background: url(https://cdn.oppyo.com/launches/vocalic/special/table-tick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
}

.table-list1 li.headline {
    background: #00aced !important;
    padding: 20px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list1 li:last-child {
    border-bottom: none;
}

.table-list1 li:nth-child(odd) {
    background: #152558 url(https://cdn.oppyo.com/launches/vocalic/special/launch-tick-blue.webp) no-repeat;
    background-position: 15px 21px;
}

.table-list1 li:nth-child(even) {
    background: #0e2672 url(https://cdn.oppyo.com/launches/vocalic/special/launch-tick-blue.webp) no-repeat;
    background-position: 15px 21px;
}

@media (min-width:768px) {
    .table-section {
        padding: 100px 0px 40px;
        background: #fff url(https://cdn.oppyo.com/launches/vocalic/special/pricing-table-bg.webp) center center no-repeat;
		background-attachment: fixed;
    }
    .table-head {
        padding: 60px 30px 60px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .table-list li {
        padding: 20px 15px 20px 65px;
        background-position: 16px 24px;
    }
    .table-list li:nth-child(odd),
    .table-list li.cross-sign {
        background: #effbff url(https://cdn.oppyo.com/launches/vocalic/special/launch-tick-blue.webp) no-repeat;
        background-position: 16px 24px;
    }
    .table-list li:nth-child(even) {
        background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/special/launch-tick-blue.webp) no-repeat;
        background-position: 16px 24px;
    }
    .table-head1 {
        padding: 60px 30px 60px 30px;
        text-align: center;
        border-radius: 10px 10px 0px 0px;
    }
    .table-list1 li {
        padding: 20px 15px 20px 65px;
    }
    .table-list1 li:nth-child(odd) {
        background: #152558 url(https://cdn.oppyo.com/launches/vocalic/special/launch-tick-blue.webp) no-repeat;
        background-position: 16px 23px;
    }
    .table-list1 li:nth-child(even) {
        background: #0e2672 url(https://cdn.oppyo.com/launches/vocalic/special/launch-tick-blue.webp) no-repeat;
        background-position: 16px 23px;
    }
}


/* Table Section End*/


/*********** Awesome Section *********/

.awesome-section {
    background: #142655;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .awesome-section {
        background: #ffffff url(https://cdn.oppyo.com/launches/vocalic/special/awesome-bg.svg) no-repeat top center;
        background-size: cover;
        padding: 120px 0px 80px 0px
    }
}


/*********** Awesome Section *********/


/***********FAQ Section***************/

.faq-section {
    padding: 30px 0px;
    background-color: #fff;
}

.faq-list {
    background: url(https://cdn.oppyo.com/launches/vocalic/special/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 27px;
}

@media (min-width: 768px) {
    .faq-section {
        padding: 100px 0px;
    }
}


/***********FAQ Section End***************/


/***********Final Section***************/

.final-section {
    padding: 30px 0;
    background: #00175f;
}

.per-shape {
    background: url(https://cdn.oppyo.com/launches/vocalic/jv/presenting-shape.webp) center center no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 20px 55px 30px 55px;
}

@media (min-width: 768px) {
    .final-section {
        background: #00175f url(https://cdn.oppyo.com/launches/vocalic/special/cta-bg-new.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
}


/***********Final Section End***************/


/****Footer Section ********/

.footer-section {
    background: #00081d;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px
    }
}


/****Footer Section ********/

@media(min-width:768px){
    .mt-md110{margin-top: 110px !important;}
}