
html {
    scroll-behavior: smooth;
}
:root {
    --mainColor: #2f6574;
    --secColor: #f94b02;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #030C28;
    font-size: 14px;
}
html::-webkit-scrollbar {
    width: 10px; 
}
html::-webkit-scrollbar-track {
  background-color: #eee;
}
html::-webkit-scrollbar-thumb {
  background: #fc8548;
  border-radius: 25px;
}
/*---- Color CSS Start ---- */
.white-clr,
a.white-clr {
    color: #ffffff;
}
.white-clr1 {
    color: #ffffff;
    opacity: 0.3;
}
.yellow-clr {
    color: #FBBF33;
}
.black-clr {
    color: #030C28;
}
.red-clr{
    color: #FD2F15;
}
/*---- Color CSS End ---- */
/* Header CSS */
@media (max-width: 767px){
    .red-brush {
        background: #fd3013;
        padding: 10px;
        display: inline-block;
        padding: 10px 35px;
    }
    }
.header-section {
    background-color: #0d0304;
    padding: 30px 0px;
}
.affiliate-link-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
    transition: all .3s ease;
    background: #FD2F15;
}
.affiliate-link-btn a:hover {
    border-radius: 8px;
    background: #FD2F15;
    color: #ffffff;
}
span.under {
    border-bottom: 4px solid;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 400;
}
/* Ribbion CSS */
/* Responsive Video CSS */
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgba(208, 219, 227, 0.58);
    border-radius: 5px;
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Black Timer css */
.ground-breaking {
    padding: 30px 0px;
    background: #ffffff;
}
.launch-start-bg {
    padding: 30px 0px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(25px);
}
.gap20 {
    gap: 20px;
}    
.start-bg {
    background: url(../images/launch-arrow.webp) no-repeat;
    background-size: cover;
    padding: 11px 30px 10px 30px;
    width: 237px;
}
.pre-heading {
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(25px);
    padding: 10px;
}
.post-heading {
    background: url(../images/post-heading.webp) no-repeat center center;
    padding: 10px;
    display: inline-block;
}

.proudly-sec {
    border-radius: 45px;
    background: rgba(255, 255, 255, 0.10);
    display: inline-block;
}
.why-should {
    border-radius: 10px;
    background-color: #ffcc00;
    display: inline-block;
    padding: 15px;
    margin-top: -60px;
}
.features-list-bg {
    border-radius: 10px;
    background: var(--White, #FFF);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
    float: left;
    width: 100%;
    padding: 30px;
    height: 100%;
}
@media (min-width: 768px) {
    .pre-heading {
        padding: 10px 30px;
    }
    .post-heading {
        padding: 15px 60px;
    }
    .red-brush {
        padding: 15px 35px
    }
    .launch-start-bg {
        padding: 15px 0px;
    }
    .why-should {
        margin-top: -50px;
        padding: 29px 40px 49px 40px;
        background: url(../images/here-why-should-not-promote.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .proudly-sec {
        padding: 9px 50px;
    }
    .skew-con {
        transform: skew(10deg);
    }
    .ground-breaking {
        padding: 100px 0px;
        background: #ffffff url(../images/bluebg1.png) no-repeat center center;
        background-size: cover;
    }
    .header-section {
        padding: 40px 0px 150px 0px;
        background: url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
    }
    .caveat {
        font-family: 'Caveat', cursive;
    }
    .red-brush {
        background: url(../images/red-brush.webp) no-repeat center center;
        padding: 10px;
        display: inline-block;
    }
}
@media only screen and (max-width: 767px) {
    .header-section ul.leader-ul li {
        padding: 0 2px;
    }
    .header-section ul.leader-ul {
        margin-top: 10px;
    }
}
/*************LIVE Section**************/
.live-section {
    background: #ffffff;
    padding: 30px 0px;
}
a.affiliate-btn {
    border-radius: 65px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    background-image: -moz-linear-gradient( 64deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
    background-image: -webkit-linear-gradient( 64deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
    background-image: -ms-linear-gradient( 64deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
}
a.affiliate-btn:hover {
    background-image: -moz-linear-gradient( 180deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
    background-image: -webkit-linear-gradient( 180deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
    background-image: -ms-linear-gradient( 180deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
}
@media (min-width: 768px) {
    .live-section {
        padding: 100px 0px;
    }
    a.affiliate-btn {
        padding: 23px 50px;
    }
}
/***************Promo Section************/
.promo-section {
    padding: 0px 0 30px 0px;
    background: #fff;
}
a.promo-link {
    border: solid 1px #FF813A;
    background: transparent;
    max-width: 100%;
    padding: 7.5px 30px;
    border-radius: 65px;
    color: #000000;
    display: block;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
}
a.promo-link:hover {
    border: solid 1px #FF813A;
    background: #FF813A;
    color: #fff;
}
.promo-inner-sec {
    padding: 20px;
    border-radius: 15px;
    background-color: #f0f7f9;
}
.feature-border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    border-bottom: 1px solid rgb(182, 179, 188);
}
.feature-border:last-child {
    border: 0;
}
.feature-section {
    padding: 0px 0px 30px 0px;
}
@media(min-width:768px) {
    .promo-section {
        padding: 0px 0px 50px 0px;
    }
    .promo-inner-sec {
        padding: 40px;
    }
    .feature-section {
        padding: 0px 0px 100px 0px;
    }
    .feature-border {
        padding: 20px 10px;
        border-right: 1px solid rgb(182, 179, 188);
        border-bottom: 0;
    }
}
.popup-btn a,
.popup-btn input[type="submit"] {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 19px 20px;
    line-height: normal;
    font-weight: 700;
    outline: none;
    border-radius: 8px;
    background:#ff9023;
    border: none;
}
.affiliate-btn a {
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 19px 20px;
    line-height: normal;
    font-weight: 700;
    outline: none;
    border-width: 1px;
    border-color: rgb(220, 220, 220);
    border-style: solid;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(93, 0, 6);
}
.affiliate-btn a:hover {
    background: #801219;
    text-decoration: none;
}
@media (min-width: 768px) {
    .affiliate-link-btn a {
        font-size: 22px;
        padding: 15px 20px;
        display: inline-block;
        width: auto;
    }
}
/****/
.proudly-tick li {
    background: url(../images/green-tick.webp) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0px 0px 30px 40px;
}
.proudly-tick li:last-child {
    padding-bottom: 20px;
}
img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}
img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}
.white-section{
    background: #fff;
    padding: 30px 0px;
}
.grey-section{
    background: #EFF5F9;
    padding: 30px 0px;
}
@media (min-width:768px) {
    .white-section{
        padding: 100px 0px;
    }
    .grey-section{
        padding: 100px 0px;
    }
}
.features-list-bg {
    width: 100%;
    padding: 30px;
    height: 100%;
}
.much-more-bg{
    padding: 25px 60px;
    border-radius: 20px;
    background: #E3EAEE;
    display: inline-block;
}

/* MaxFunnel Section */
html {
    scroll-behavior: smooth;
}
.fira-font {
    font-family: 'Montserrat', sans-serif;
}
.huge-bg-sec {
    background: #e1e7f3 url(../images/huge-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0 30px;
}
.reason-tick li {
    background: url(../images/green-tick.webp) no-repeat;
    background-position: 0 3px;
    list-style: none;
    padding: 0 0 30px 40px;
}

.prize-section {
    background: #ffffff url(../images/irr-img.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 60px 0px;
    position: relative;
}
.deep-funnel {
    background: #fff;
    padding: 30px 0px;
}
.reason-sec {
    background:  url(../images/reason-sec-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 30px 0px 50px 0px;
}
.reciprocate-sec {
    background: url(../images/header-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
    background-attachment: fixed;
}
.contact-section {
    background: #ffffff;
    padding: 30px 0px 30px 0px;
}
.next-gen-sec{
    background: url(../images/presenting-bg.webp) no-repeat center center;
    background-size: cover;
    padding:30px 0px;
    position: relative;
}
.prob-sec{
    background: #ffebe6;
    padding: 30px 0px 30px 0px;
}
.top-5{
    background: #ffffff;
    padding: 30px 0px 30px 0px;
}
@media (min-width: 768px) {
    .top-5 {
        background: #ffffff url(../images/top-5.webp) no-repeat center center;
        padding: 0px 0px 50px 0px;
    }
    .next-gen-sec{        
        padding: 100px 0px;
    }
    
    .contact-section {
        padding: 80px 0px;
    }
    .reciprocate-sec {
        padding: 100px 0px;
    }
    .mtm70 {
        margin-top: -100px !important;
    }
    .reason-sec {
        padding: 100px 0px 120px 0px;
    }
    .deep-funnel {
        background: #fff;
        padding: 80px 0px 80px 0px;
    }
    .prize-section {
        background: #fff url(../images/irr-img.webp) no-repeat center bottom;
        padding: 100px 0px;
    }
    .white-sec{
        padding: 30px 0 100px 0;
        background: #ffffff;
    }
    .huge-bg-sec {
        padding: 100px 0px;
    }
}
@media (min-width: 481px) {
    .orange-step-back,
    .pink-step-back,
    .blue-step-back,
    .blue-step-back1,
    .green-step-back,
    .yellow-step-back {
        padding: 0px 15px 15px;
        height: 288px;
    }
}
/* .hideme{opacity:0;} */
.myfeatureslast {
    background: #fff;
    float: left;
    padding: 25px;
    width: 100%;
    min-height: 69px;
}
/* Footer Section CSS End*/
.footer-section {
    background: #0d0304;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}
@media (min-width: 768px) {
    .footer-section{
        padding: 70px 0px
    }
    .awesome-section {
        background: #f6f7ff url(../images/awesome-bg.png) no-repeat top center;
        background-size: cover;
        padding: 70px 0px;
    }
    .image-lg-size {
        min-height: 144px;
        min-width: 164px;
    }
}