@import url("https://fonts.googleapis.com/css?family=Work Sans|Playfair Display|Libre Franklin|Space Mono|Rubik|Cormorant|Fira Sans|Eczar|Domine|Eczar|Alegreya Sans|Alegreya|Chivo|Lora|Source Sans Pro|Source Serif Pro|Roboto|Roboto Slab|Poppins|BioRhyme|Archivo Narrow|Libre Baskerville|Crimson Text|Karla|Montserrat|Old Standard TT|Spectral|Domine|Bitter|Gentium Basic|PT Sans| PT Serif|Lato|Cardo|Neuton|Open Sans|Inconsolata|Cabin|Raleway|Anonymous Pro|Arvo|Merriweather|Muli|Quicksand");

/*create By Firoz*/

.alert-red-border {
    border: 1px solid red !important;
}

.custom-add-heading {
    width: 300px;
    font-weight: 700;
    font-size: xx-large;
}

.custom-add-button {
    width: 180px;
}

.custom-add-paragraph {
    width: 300px;
}

.inner-content {
    /* transform: unset !important; */
    /* perspective: unset !important; */
    position: relative;
    height: 100%;
}

.shape-square {
    border-width: 2px;
    border-style: solid;
    background-color: white;
    width: 200px;
    height: 200px;
}

.shape-circle {
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    background-color: white;
    width: 200px;
    height: 200px;
}

.shape-horizontal {
    border-top-width: 5px;
    height: 0px;
    border-top-style: solid;
    background-color: unset;
    width: 200px;
}

.shape-vertical {
    border-left-width: 5px;
    border-left-style: solid;
    background-color: unset;
    height: 200px;
}

.icon-font {
    font-size: 100px;
    width: -moz-min-content;
    width: min-content;
}

.no-padding {
    padding: 0px 0px 0px 0px !important;
}

.background-video {
    position: absolute;
    z-index: auto;
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
}

.space-section {
    /*padding : unset;*/
    position: relative;
    /* display: table; */
    width: 100%;
}

.space-height {
    height: 300px;
}

.container {
    height: 100%;
}

.max-width {
    width: -moz-max-content;
    width: max-content
}

.align-center {
    float: none;
    margin: 0 auto;
}

@media (min-width:768px) {
    .custom-add-heading {
        width: 600px;
    }
    .custom-add-paragraph {
        width: 600px;
    }
}


/*Start Timer */

.add-timer-portion {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.add-timer-box {
    font-size: 37px;
    width: 61px;
    height: 61px;
    line-height: 1.42857143;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-timer-colon-group {
    height: 61px;
    width: 7px;
    position: relative;
}

.add-timer-colon-group-margin {
    height: 14px;
    width: 7px;
    position: relative;
}

.add-timer-colon {
    background: green;
    border-radius: 100%;
    width: 7px;
    height: 7px;
}

.add-timer-colon.colon-top {
    position: absolute;
    top: 30%;
}

.add-timer-colon.colon-bottom {
    position: absolute;
    bottom: 30%;
}

.add-timer-label {
    width: 61px;
    height: 14px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.timer-box.theme1 {
    background-color: green;
    color: #ffffff;
}

.timer-label.theme1 {
    color: #4a4949;
}

.timer-box.theme2 {
    color: black;
}

.timer-labe.theme2 {
    color: black;
}

.timer-box.theme3 {
    baorder: 1px solid;
    color: black;
}

.timer-label.theme3 {
    color: black;
}

.timer-box.theme4 {
    background-color: #CDCDCD;
    color: black;
}

.timer-label.theme4 {
    color: #CDCDCD;
}

.timer-portion-tool {
    overflow: hidden;
    text-align: center;
    padding: 0px;
    margin-right: 2px;
}

.timer-box-tool {
    width: auto;
    font-size: 40px;
}

.timer-label-tool {
    font-size: 12px
}

.timer-colon-parent {
    position: relative;
}


/*End */


/*Start Calender */

.calender-element {
    text-align: center;
    width: 170px;
}

.calender-month {
    background-color: blue;
    color: white;
    font-size: 30px;
    padding: 10px;
    overflow: hidden;
    height: 35%;
}

.calender-day {
    background-color: white;
    color: black;
    font-size: 75px;
    overflow: hidden;
    height: 65%;
}

.custom-modal .modal-dialog {
    width: -moz-min-content;
}

.vertical-center {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    display: table !important;
    width: 100%;
    height: 100%;
}

.vertical-center .valigncenter {
    display: table-cell !important;
    vertical-align: middle;
}

.label-top-position {
    position: absolute;
    bottom: calc(100%);
}

.width90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .inner-content {
        margin: auto !important;
    }
    /*.container {
        margin: auto !important;
        width: 375px !important;
        float: initial !important;
        position: relative !important;
    }*/
    .create-new-popup {
        width: 300px;
        height: 400px;
        background-color: #ffff;
    }
}

@media screen and (min-width: 768px) {
    body {
        /*min-width : 136px !important;*/
    }
    /*.container {
        margin: auto !important;
        width: 1170px !important;
        float: initial !important;
        position: relative !important;
    }*/
    .create-new-popup {
        width: 600px;
        height: 400px;
        background-color: #ffff;
    }
}

.custom-close {
    float: right;
    right: 10px;
    margin-top: 0px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
}

.default-social-portion,
.default-social-portion:hover,
.default-social-portion:active,
.default-social-portion:visited {
    width: 50px;
    display: table;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    margin: 1px;
}

.default-social-portion i {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.width-auto {
    width: auto;
}


/*End */

.social-icon-selector ul li a.fb,
.social-style1 a.fb,
.social-style4 a.fb {
    background: #3b5998 !important;
}

.social-icon-selector ul li a.tw,
.social-style1 a.tw,
.social-style4 a.tw {
    background: #1da1f2 !important;
}

.social-icon-selector ul li a.gplus,
.social-style1 a.gplus,
.social-style4 a.gplus {
    background: #dc4e41 !important;
}

.social-icon-selector ul li a.insta,
.social-style1 a.insta,
.social-style4 a.insta {
    background: #e4405f !important;
}

.social-icon-selector ul li a.linkedin,
.social-style1 a.linkedin,
.social-style4 a.linkedin {
    background: #0077b5 !important;
}

.social-icon-selector ul li a.pin,
.social-style1 a.pin,
.social-style4 a.pin {
    background: #bd081c !important;
}

.social-style7 a.fb {
    background: #3b5998;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3b5998 0%, #3b5998 50%, #2f477a 51%, #2f477a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3b5998 0%, #3b5998 50%, #2f477a 51%, #2f477a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #3b5998 0%, #3b5998 50%, #2f477a 51%, #2f477a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#2f477a', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.social-style7 a.tw {
    background: #1da1f2;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1da1f2 0%, #1da1f2 50%, #1781c2 51%, #1781c2 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1da1f2 0%, #1da1f2 50%, #1781c2 51%, #1781c2 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1da1f2 0%, #1da1f2 50%, #1781c2 51%, #1781c2 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1da1f2', endColorstr='#1781c2', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.social-style7 a.gplus {
    background: #dc4e41;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #dc4e41 0%, #dc4e41 50%, #dc4e41 50%, #b03e34 51%, #b03e34 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #dc4e41 0%, #dc4e41 50%, #dc4e41 50%, #b03e34 51%, #b03e34 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #dc4e41 0%, #dc4e41 50%, #dc4e41 50%, #b03e34 51%, #b03e34 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dc4e41', endColorstr='#b03e34', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.social-style7 a.insta {
    background: #e4405f;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e4405f 0%, #e4405f 50%, #b6334c 51%, #b6334c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e4405f 0%, #e4405f 50%, #b6334c 51%, #b6334c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e4405f 0%, #e4405f 50%, #b6334c 51%, #b6334c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e4405f', endColorstr='#b6334c', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.social-style7 a.linkedin {
    background: #0077b5;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0077b5 0%, #0077b5 50%, #005f91 51%, #005f91 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0077b5 0%, #0077b5 50%, #005f91 51%, #005f91 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0077b5 0%, #0077b5 50%, #005f91 51%, #005f91 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0077b5', endColorstr='#005f91', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.social-style7 a.pin {
    background: #bd081c;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #bd081c 0%, #bd081c 50%, #970616 51%, #970616 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #bd081c 0%, #bd081c 50%, #970616 51%, #970616 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #bd081c 0%, #bd081c 50%, #970616 51%, #970616 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bd081c', endColorstr='#970616', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.social-style2 a.fb,
.social-style5 a.fb {
    border: 1px solid #3b5998;
    color: #3b5998;
}

.social-style2 a.tw,
.social-style5 a.tw {
    border: 1px solid #1da1f2;
    color: #1da1f2;
}

.social-style2 a.gplus,
.social-style5 a.gplus {
    border: 1px solid #dc4e41;
    color: #dc4e41;
}

.social-style2 a.insta,
.social-style5 a.insta {
    border: 1px solid #e4405f;
    color: #e4405f;
}

.social-style2 a.linkedin,
.social-style5 a.linkedin {
    border: 1px solid #0077b5;
    color: #0077b5;
}

.social-style2 a.pin,
.social-style5 a.pin {
    border: 1px solid #bd081c;
    color: #bd081c;
}

.social-style3 a {
    background: #293239;
}

.social-style6 a {
    border: 1px solid #293239;
    color: #293239;
}

.social-style1 a,
.social-style2 a,
.social-style3 a {
    border-radius: 30px;
}

.social-style1 a,
.social-style3 a,
.social-style4 a,
.social-style7 a {
    color: #fff;
}

.social-style8 a,
.social-style9 a {
    color: #293239;
    background-color: #fff;
}

.social-style8 a {
    border-radius: 100%;
}

.social-style1 a:hover,
.social-style2 a:hover,
.social-style3 a:hover,
.social-style4 a:hover,
.social-style5 a:hover,
.social-style6 a:hover,
.social-style7 a:hover,
.social-style8 a:hover,
.social-style9 a:hover {
    text-decoration: none !important;
}

.div-center-parent {
    height: 100%;
    display: table;
    width: 100%;
}

.popup-scroll-parent {
    height: 100%;
    overflow: auto;
    position: absolute;
    display: flex;
    width: 100%;
}

.div-center-child {
    vertical-align: middle;
    display: table-cell;
}

.lightbox-center {
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
}

.create-new-popup .custom-close {
    color: unset;
}

.sample-page-section {
    height: 200px;
}

.sample-header-section,
.sample-footer-section {
    height: 100px;
}

.sample-lightbox-section {
    height: 200px;
}

.sample-side-right-section {
    width: 250px;
    height: 250px;
}


/* for popup*/

body {
    background-color: transparent !important;
}

#templateBody {
    min-height: 100%;
    width: 100%;
}

.notify-popup.inner-content {
    background: unset
}

.popup-shadow {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.smart-popup-backdrop {
    background-color: rgba(51, 51, 51, 0.7) !important;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.scratch-popup-footer {
    left: 0;
    bottom: 0;
    position: absolute !important;
    background-color: #ffff;
    width: 100% !important;
}

.scratch-popup-header {
    left: 0px;
    top: 0px;
    position: absolute !important;
    background-color: #ffff;
    width: 100% !important;
}

.scratch-popup-side-right {
    right: 10px !important;
    bottom: 10px !important;
    position: absolute !important;
    background-color: #ffff;
}

.scratch-popup-side-left {
    left: 10 !important;
    bottom: 10 !important;
    position: absolute !important;
    background-color: #ffff;
}

.space-section {
    overflow: visible;
}

.lightbox-space-parent {
    overflow: auto;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

.lightbox-space-section {
    margin: auto !important;
    min-width: 300px !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px !important;
    background-color: #fff;
}


/* end for popup*/


/* Boostrap 3 coloum sm custom css */

@media (max-width:767px) {
    .visible-xs {
        display: block !important;
    }
    .visible-sm {
        display: none !important;
    }
    .img-responsive.visible-xs {
        display: block !important;
    }
    .img-responsive.visible-sm {
        display: none !important;
    }
}

@media (min-width:768px) {
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left !important;
    }
    .visible-sm {
        display: block !important;
    }
    .visible-xs {
        display: none !important;
    }
    .img-responsive.visible-xs {
        display: none !important;
    }
    .img-responsive.visible-sm {
        display: block !important;
    }
}

.headline-unset {
    font-size: unset;
    font-weight: unset;
    padding: unset;
    margin: unset;
    line-height: unset;
    font-family: unset;
    border: unset;
}


/* FONT SIZE*/

.c-f-1 {
    font-size: 1px !important;
}

.c-f-2 {
    font-size: 2px !important;
}

.c-f-3 {
    font-size: 3px !important;
}

.c-f-4 {
    font-size: 4px !important;
}

.c-f-5 {
    font-size: 5px !important;
}

.c-f-6 {
    font-size: 6px !important;
}

.c-f-7 {
    font-size: 7px !important;
}

.c-f-8 {
    font-size: 8px !important;
}

.c-f-9 {
    font-size: 9px !important;
}

.c-f-10 {
    font-size: 10px !important;
}

.c-f-11 {
    font-size: 10.5px !important;
}

.c-f-12 {
    font-size: 11px !important;
}

.c-f-13 {
    font-size: 11.5px !important;
}

.c-f-14 {
    font-size: 12px !important;
}

.c-f-15 {
    font-size: 12.5px !important;
}

.c-f-16 {
    font-size: 13px !important;
}

.c-f-17 {
    font-size: 13.5px !important;
}

.c-f-18 {
    font-size: 14px !important;
}

.c-f-19 {
    font-size: 14.5px !important;
}

.c-f-20 {
    font-size: 15px !important;
}

.c-f-21 {
    font-size: 15.5px !important;
}

.c-f-22 {
    font-size: 16px !important;
}

.c-f-23 {
    font-size: 16.5px !important;
}

.c-f-24 {
    font-size: 17px !important;
}

.c-f-25 {
    font-size: 17.5px !important;
}

.c-f-26 {
    font-size: 18px !important;
}

.c-f-27 {
    font-size: 18.5px !important;
}

.c-f-28 {
    font-size: 19px !important;
}

.c-f-29 {
    font-size: 19.5px !important;
}

.c-f-30 {
    font-size: 20px !important;
}

.c-f-31 {
    font-size: 20.5px !important;
}

.c-f-32 {
    font-size: 21px !important;
}

.c-f-33 {
    font-size: 21.5px !important;
}

.c-f-34 {
    font-size: 22px !important;
}

.c-f-35 {
    font-size: 22.5px !important;
}

.c-f-36 {
    font-size: 23px !important;
}

.c-f-37 {
    font-size: 23.5px !important;
}

.c-f-38 {
    font-size: 24px !important;
}

.c-f-39 {
    font-size: 24.5px !important;
}

.c-f-40 {
    font-size: 25px !important;
}

.c-f-41 {
    font-size: 25.5px !important;
}

.c-f-42 {
    font-size: 26px !important;
}

.c-f-43 {
    font-size: 26.5px !important;
}

.c-f-44 {
    font-size: 27px !important;
}

.c-f-45 {
    font-size: 27.5px !important;
}

.c-f-46 {
    font-size: 28px !important;
}

.c-f-47 {
    font-size: 28.5px !important;
}

.c-f-48 {
    font-size: 29px !important;
}

.c-f-49 {
    font-size: 29.5px !important;
}

.c-f-50 {
    font-size: 30px !important;
}

.c-f-51 {
    font-size: 30.5px !important;
}

.c-f-52 {
    font-size: 31px !important;
}

.c-f-53 {
    font-size: 31.5px !important;
}

.c-f-54 {
    font-size: 32px !important;
}

.c-f-55 {
    font-size: 32.5px !important;
}

.c-f-56 {
    font-size: 33px !important;
}

.c-f-57 {
    font-size: 33.5px !important;
}

.c-f-58 {
    font-size: 34px !important;
}

.c-f-59 {
    font-size: 34.5px !important;
}

.c-f-60 {
    font-size: 35px !important;
}

.c-f-61 {
    font-size: 35.5px !important;
}

.c-f-62 {
    font-size: 36px !important;
}

.c-f-63 {
    font-size: 36.5px !important;
}

.c-f-64 {
    font-size: 37px !important;
}

.c-f-65 {
    font-size: 37.5px !important;
}

.c-f-66 {
    font-size: 38px !important;
}

.c-f-67 {
    font-size: 38.5px !important;
}

.c-f-68 {
    font-size: 39px !important;
}

.c-f-69 {
    font-size: 39.5px !important;
}

.c-f-70 {
    font-size: 40px !important;
}

.c-f-71 {
    font-size: 40.5px !important;
}

.c-f-72 {
    font-size: 41px !important;
}

.c-f-73 {
    font-size: 41.5px !important;
}

.c-f-74 {
    font-size: 42px !important;
}

.c-f-75 {
    font-size: 42.5px !important;
}

.c-f-76 {
    font-size: 43px !important;
}

.c-f-77 {
    font-size: 43.5px !important;
}

.c-f-78 {
    font-size: 44px !important;
}

.c-f-79 {
    font-size: 44.5px !important;
}

.c-f-80 {
    font-size: 45px !important;
}

.c-f-81 {
    font-size: 45.5px !important;
}

.c-f-82 {
    font-size: 46px !important;
}

.c-f-83 {
    font-size: 46.5px !important;
}

.c-f-84 {
    font-size: 47px !important;
}

.c-f-85 {
    font-size: 47.5px !important;
}

.c-f-86 {
    font-size: 48px !important;
}

.c-f-87 {
    font-size: 48.5px !important;
}

.c-f-88 {
    font-size: 49px !important;
}

.c-f-89 {
    font-size: 49.5px !important;
}

.c-f-90 {
    font-size: 50px !important;
}

.c-f-91 {
    font-size: 50.5px !important;
}

.c-f-92 {
    font-size: 51px !important;
}

.c-f-93 {
    font-size: 51.5px !important;
}

.c-f-94 {
    font-size: 52px !important;
}

.c-f-95 {
    font-size: 52.5px !important;
}

.c-f-96 {
    font-size: 53px !important;
}

.c-f-97 {
    font-size: 53.5px !important;
}

.c-f-98 {
    font-size: 54px !important;
}

.c-f-99 {
    font-size: 54.5px !important;
}

.c-f-100 {
    font-size: 55px !important;
}

@media (min-width: 768px) {
    .c-f-1 {
        font-size: 1px !important;
    }
    .c-f-2 {
        font-size: 2px !important;
    }
    .c-f-3 {
        font-size: 3px !important;
    }
    .c-f-4 {
        font-size: 4px !important;
    }
    .c-f-5 {
        font-size: 5px !important;
    }
    .c-f-6 {
        font-size: 6px !important;
    }
    .c-f-7 {
        font-size: 7px !important;
    }
    .c-f-8 {
        font-size: 8px !important;
    }
    .c-f-9 {
        font-size: 9px !important;
    }
    .c-f-10 {
        font-size: 10px !important;
    }
    .c-f-11 {
        font-size: 11px !important;
    }
    .c-f-12 {
        font-size: 12px !important;
    }
    .c-f-13 {
        font-size: 13px !important;
    }
    .c-f-14 {
        font-size: 14px !important;
    }
    .c-f-15 {
        font-size: 15px !important;
    }
    .c-f-16 {
        font-size: 16px !important;
    }
    .c-f-17 {
        font-size: 17px !important;
    }
    .c-f-18 {
        font-size: 18px !important;
    }
    .c-f-19 {
        font-size: 19px !important;
    }
    .c-f-20 {
        font-size: 20px !important;
    }
    .c-f-21 {
        font-size: 21px !important;
    }
    .c-f-22 {
        font-size: 22px !important;
    }
    .c-f-23 {
        font-size: 23px !important;
    }
    .c-f-24 {
        font-size: 24px !important;
    }
    .c-f-25 {
        font-size: 25px !important;
    }
    .c-f-26 {
        font-size: 26px !important;
    }
    .c-f-27 {
        font-size: 27px !important;
    }
    .c-f-28 {
        font-size: 28px !important;
    }
    .c-f-29 {
        font-size: 29px !important;
    }
    .c-f-30 {
        font-size: 30px !important;
    }
    .c-f-31 {
        font-size: 31px !important;
    }
    .c-f-32 {
        font-size: 32px !important;
    }
    .c-f-33 {
        font-size: 33px !important;
    }
    .c-f-34 {
        font-size: 34px !important;
    }
    .c-f-35 {
        font-size: 35px !important;
    }
    .c-f-36 {
        font-size: 36px !important;
    }
    .c-f-37 {
        font-size: 37px !important;
    }
    .c-f-38 {
        font-size: 38px !important;
    }
    .c-f-39 {
        font-size: 39px !important;
    }
    .c-f-40 {
        font-size: 40px !important;
    }
    .c-f-41 {
        font-size: 41px !important;
    }
    .c-f-42 {
        font-size: 42px !important;
    }
    .c-f-43 {
        font-size: 43px !important;
    }
    .c-f-44 {
        font-size: 44px !important;
    }
    .c-f-45 {
        font-size: 45px !important;
    }
    .c-f-46 {
        font-size: 46px !important;
    }
    .c-f-47 {
        font-size: 47px !important;
    }
    .c-f-48 {
        font-size: 48px !important;
    }
    .c-f-49 {
        font-size: 49px !important;
    }
    .c-f-50 {
        font-size: 50px !important;
    }
    .c-f-51 {
        font-size: 51px !important;
    }
    .c-f-52 {
        font-size: 52px !important;
    }
    .c-f-53 {
        font-size: 53px !important;
    }
    .c-f-54 {
        font-size: 54px !important;
    }
    .c-f-55 {
        font-size: 55px !important;
    }
    .c-f-56 {
        font-size: 56px !important;
    }
    .c-f-57 {
        font-size: 57px !important;
    }
    .c-f-58 {
        font-size: 58px !important;
    }
    .c-f-59 {
        font-size: 59px !important;
    }
    .c-f-60 {
        font-size: 60px !important;
    }
    .c-f-61 {
        font-size: 61px !important;
    }
    .c-f-62 {
        font-size: 62px !important;
    }
    .c-f-63 {
        font-size: 63px !important;
    }
    .c-f-64 {
        font-size: 64px !important;
    }
    .c-f-65 {
        font-size: 65px !important;
    }
    .c-f-66 {
        font-size: 66px !important;
    }
    .c-f-67 {
        font-size: 67px !important;
    }
    .c-f-68 {
        font-size: 68px !important;
    }
    .c-f-69 {
        font-size: 69px !important;
    }
    .c-f-70 {
        font-size: 70px !important;
    }
    .c-f-71 {
        font-size: 71px !important;
    }
    .c-f-72 {
        font-size: 72px !important;
    }
    .c-f-73 {
        font-size: 73px !important;
    }
    .c-f-74 {
        font-size: 74px !important;
    }
    .c-f-75 {
        font-size: 75px !important;
    }
    .c-f-76 {
        font-size: 76px !important;
    }
    .c-f-77 {
        font-size: 77px !important;
    }
    .c-f-78 {
        font-size: 78px !important;
    }
    .c-f-79 {
        font-size: 79px !important;
    }
    .c-f-80 {
        font-size: 80px !important;
    }
    .c-f-81 {
        font-size: 81px !important;
    }
    .c-f-82 {
        font-size: 82px !important;
    }
    .c-f-83 {
        font-size: 83px !important;
    }
    .c-f-84 {
        font-size: 84px !important;
    }
    .c-f-85 {
        font-size: 85px !important;
    }
    .c-f-86 {
        font-size: 86px !important;
    }
    .c-f-87 {
        font-size: 87px !important;
    }
    .c-f-88 {
        font-size: 88px !important;
    }
    .c-f-89 {
        font-size: 89px !important;
    }
    .c-f-90 {
        font-size: 90px !important;
    }
    .c-f-91 {
        font-size: 91px !important;
    }
    .c-f-92 {
        font-size: 92px !important;
    }
    .c-f-93 {
        font-size: 93px !important;
    }
    .c-f-94 {
        font-size: 94px !important;
    }
    .c-f-95 {
        font-size: 95px !important;
    }
    .c-f-96 {
        font-size: 96px !important;
    }
    .c-f-97 {
        font-size: 97px !important;
    }
    .c-f-98 {
        font-size: 98px !important;
    }
    .c-f-99 {
        font-size: 99px !important;
    }
    .c-f-100 {
        font-size: 100px !important;
    }
    !important;
}


/* FONT LINE HEIGHT*/

.c-l-1 {
    line-height: 1px !important;
}

.c-l-2 {
    line-height: 2px !important;
}

.c-l-3 {
    line-height: 3px !important;
}

.c-l-4 {
    line-height: 4px !important;
}

.c-l-5 {
    line-height: 5px !important;
}

.c-l-6 {
    line-height: 6px !important;
}

.c-l-7 {
    line-height: 7px !important;
}

.c-l-8 {
    line-height: 8px !important;
}

.c-l-9 {
    line-height: 9px !important;
}

.c-l-10 {
    line-height: 10px !important;
}

.c-l-11 {
    line-height: 10.5px !important;
}

.c-l-12 {
    line-height: 11px !important;
}

.c-l-13 {
    line-height: 11.5px !important;
}

.c-l-14 {
    line-height: 12px !important;
}

.c-l-15 {
    line-height: 12.5px !important;
}

.c-l-16 {
    line-height: 13px !important;
}

.c-l-17 {
    line-height: 13.5px !important;
}

.c-l-18 {
    line-height: 14px !important;
}

.c-l-19 {
    line-height: 14.5px !important;
}

.c-l-20 {
    line-height: 15px !important;
}

.c-l-21 {
    line-height: 15.5px !important;
}

.c-l-22 {
    line-height: 16px !important;
}

.c-l-23 {
    line-height: 16.5px !important;
}

.c-l-24 {
    line-height: 17px !important;
}

.c-l-25 {
    line-height: 17.5px !important;
}

.c-l-26 {
    line-height: 18px !important;
}

.c-l-27 {
    line-height: 18.5px !important;
}

.c-l-28 {
    line-height: 19px !important;
}

.c-l-29 {
    line-height: 19.5px !important;
}

.c-l-30 {
    line-height: 20px !important;
}

.c-l-31 {
    line-height: 20.5px !important;
}

.c-l-32 {
    line-height: 21px !important;
}

.c-l-33 {
    line-height: 21.5px !important;
}

.c-l-34 {
    line-height: 22px !important;
}

.c-l-35 {
    line-height: 22.5px !important;
}

.c-l-36 {
    line-height: 23px !important;
}

.c-l-37 {
    line-height: 23.5px !important;
}

.c-l-38 {
    line-height: 24px !important;
}

.c-l-39 {
    line-height: 24.5px !important;
}

.c-l-40 {
    line-height: 25px !important;
}

.c-l-41 {
    line-height: 25.5px !important;
}

.c-l-42 {
    line-height: 26px !important;
}

.c-l-43 {
    line-height: 26.5px !important;
}

.c-l-44 {
    line-height: 27px !important;
}

.c-l-45 {
    line-height: 27.5px !important;
}

.c-l-46 {
    line-height: 28px !important;
}

.c-l-47 {
    line-height: 28.5px !important;
}

.c-l-48 {
    line-height: 29px !important;
}

.c-l-49 {
    line-height: 29.5px !important;
}

.c-l-50 {
    line-height: 30px !important;
}

.c-l-51 {
    line-height: 30.5px !important;
}

.c-l-52 {
    line-height: 31px !important;
}

.c-l-53 {
    line-height: 31.5px !important;
}

.c-l-54 {
    line-height: 32px !important;
}

.c-l-55 {
    line-height: 32.5px !important;
}

.c-l-56 {
    line-height: 33px !important;
}

.c-l-57 {
    line-height: 33.5px !important;
}

.c-l-58 {
    line-height: 34px !important;
}

.c-l-59 {
    line-height: 34.5px !important;
}

.c-l-60 {
    line-height: 35px !important;
}

.c-l-61 {
    line-height: 35.5px !important;
}

.c-l-62 {
    line-height: 36px !important;
}

.c-l-63 {
    line-height: 36.5px !important;
}

.c-l-64 {
    line-height: 37px !important;
}

.c-l-65 {
    line-height: 37.5px !important;
}

.c-l-66 {
    line-height: 38px !important;
}

.c-l-67 {
    line-height: 38.5px !important;
}

.c-l-68 {
    line-height: 39px !important;
}

.c-l-69 {
    line-height: 39.5px !important;
}

.c-l-70 {
    line-height: 40px !important;
}

.c-l-71 {
    line-height: 40.5px !important;
}

.c-l-72 {
    line-height: 41px !important;
}

.c-l-73 {
    line-height: 41.5px !important;
}

.c-l-74 {
    line-height: 42px !important;
}

.c-l-75 {
    line-height: 42.5px !important;
}

.c-l-76 {
    line-height: 43px !important;
}

.c-l-77 {
    line-height: 43.5px !important;
}

.c-l-78 {
    line-height: 44px !important;
}

.c-l-79 {
    line-height: 44.5px !important;
}

.c-l-80 {
    line-height: 45px !important;
}

.c-l-81 {
    line-height: 45.5px !important;
}

.c-l-82 {
    line-height: 46px !important;
}

.c-l-83 {
    line-height: 46.5px !important;
}

.c-l-84 {
    line-height: 47px !important;
}

.c-l-85 {
    line-height: 47.5px !important;
}

.c-l-86 {
    line-height: 48px !important;
}

.c-l-87 {
    line-height: 48.5px !important;
}

.c-l-88 {
    line-height: 49px !important;
}

.c-l-89 {
    line-height: 49.5px !important;
}

.c-l-90 {
    line-height: 50px !important;
}

.c-l-91 {
    line-height: 50.5px !important;
}

.c-l-92 {
    line-height: 51px !important;
}

.c-l-93 {
    line-height: 51.5px !important;
}

.c-l-94 {
    line-height: 52px !important;
}

.c-l-95 {
    line-height: 52.5px !important;
}

.c-l-96 {
    line-height: 53px !important;
}

.c-l-97 {
    line-height: 53.5px !important;
}

.c-l-98 {
    line-height: 54px !important;
}

.c-l-99 {
    line-height: 54.5px !important;
}

.c-l-100 {
    line-height: 55px !important;
}

@media (min-width: 768px) {
    .c-l-1 {
        line-height: 1px !important;
    }
    .c-l-2 {
        line-height: 2px !important;
    }
    .c-l-3 {
        line-height: 3px !important;
    }
    .c-l-4 {
        line-height: 4px !important;
    }
    .c-l-5 {
        line-height: 5px !important;
    }
    .c-l-6 {
        line-height: 6px !important;
    }
    .c-l-7 {
        line-height: 7px !important;
    }
    .c-l-8 {
        line-height: 8px !important;
    }
    .c-l-9 {
        line-height: 9px !important;
    }
    .c-l-10 {
        line-height: 10px !important;
    }
    .c-l-11 {
        line-height: 11px !important;
    }
    .c-l-12 {
        line-height: 12px !important;
    }
    .c-l-13 {
        line-height: 13px !important;
    }
    .c-l-14 {
        line-height: 14px !important;
    }
    .c-l-15 {
        line-height: 15px !important;
    }
    .c-l-16 {
        line-height: 16px !important;
    }
    .c-l-17 {
        line-height: 17px !important;
    }
    .c-l-18 {
        line-height: 18px !important;
    }
    .c-l-19 {
        line-height: 19px !important;
    }
    .c-l-20 {
        line-height: 20px !important;
    }
    .c-l-21 {
        line-height: 21px !important;
    }
    .c-l-22 {
        line-height: 22px !important;
    }
    .c-l-23 {
        line-height: 23px !important;
    }
    .c-l-24 {
        line-height: 24px !important;
    }
    .c-l-25 {
        line-height: 25px !important;
    }
    .c-l-26 {
        line-height: 26px !important;
    }
    .c-l-27 {
        line-height: 27px !important;
    }
    .c-l-28 {
        line-height: 28px !important;
    }
    .c-l-29 {
        line-height: 29px !important;
    }
    .c-l-30 {
        line-height: 30px !important;
    }
    .c-l-31 {
        line-height: 31px !important;
    }
    .c-l-32 {
        line-height: 32px !important;
    }
    .c-l-33 {
        line-height: 33px !important;
    }
    .c-l-34 {
        line-height: 34px !important;
    }
    .c-l-35 {
        line-height: 35px !important;
    }
    .c-l-36 {
        line-height: 36px !important;
    }
    .c-l-37 {
        line-height: 37px !important;
    }
    .c-l-38 {
        line-height: 38px !important;
    }
    .c-l-39 {
        line-height: 39px !important;
    }
    .c-l-40 {
        line-height: 40px !important;
    }
    .c-l-41 {
        line-height: 41px !important;
    }
    .c-l-42 {
        line-height: 42px !important;
    }
    .c-l-43 {
        line-height: 43px !important;
    }
    .c-l-44 {
        line-height: 44px !important;
    }
    .c-l-45 {
        line-height: 45px !important;
    }
    .c-l-46 {
        line-height: 46px !important;
    }
    .c-l-47 {
        line-height: 47px !important;
    }
    .c-l-48 {
        line-height: 48px !important;
    }
    .c-l-49 {
        line-height: 49px !important;
    }
    .c-l-50 {
        line-height: 50px !important;
    }
    .c-l-51 {
        line-height: 51px !important;
    }
    .c-l-52 {
        line-height: 52px !important;
    }
    .c-l-53 {
        line-height: 53px !important;
    }
    .c-l-54 {
        line-height: 54px !important;
    }
    .c-l-55 {
        line-height: 55px !important;
    }
    .c-l-56 {
        line-height: 56px !important;
    }
    .c-l-57 {
        line-height: 57px !important;
    }
    .c-l-58 {
        line-height: 58px !important;
    }
    .c-l-59 {
        line-height: 59px !important;
    }
    .c-l-60 {
        line-height: 60px !important;
    }
    .c-l-61 {
        line-height: 61px !important;
    }
    .c-l-62 {
        line-height: 62px !important;
    }
    .c-l-63 {
        line-height: 63px !important;
    }
    .c-l-64 {
        line-height: 64px !important;
    }
    .c-l-65 {
        line-height: 65px !important;
    }
    .c-l-66 {
        line-height: 66px !important;
    }
    .c-l-67 {
        line-height: 67px !important;
    }
    .c-l-68 {
        line-height: 68px !important;
    }
    .c-l-69 {
        line-height: 69px !important;
    }
    .c-l-70 {
        line-height: 70px !important;
    }
    .c-l-71 {
        line-height: 71px !important;
    }
    .c-l-72 {
        line-height: 72px !important;
    }
    .c-l-73 {
        line-height: 73px !important;
    }
    .c-l-74 {
        line-height: 74px !important;
    }
    .c-l-75 {
        line-height: 75px !important;
    }
    .c-l-76 {
        line-height: 76px !important;
    }
    .c-l-77 {
        line-height: 77px !important;
    }
    .c-l-78 {
        line-height: 78px !important;
    }
    .c-l-79 {
        line-height: 79px !important;
    }
    .c-l-80 {
        line-height: 80px !important;
    }
    .c-l-81 {
        line-height: 81px !important;
    }
    .c-l-82 {
        line-height: 82px !important;
    }
    .c-l-83 {
        line-height: 83px !important;
    }
    .c-l-84 {
        line-height: 84px !important;
    }
    .c-l-85 {
        line-height: 85px !important;
    }
    .c-l-86 {
        line-height: 86px !important;
    }
    .c-l-87 {
        line-height: 87px !important;
    }
    .c-l-88 {
        line-height: 88px !important;
    }
    .c-l-89 {
        line-height: 89px !important;
    }
    .c-l-90 {
        line-height: 90px !important;
    }
    .c-l-91 {
        line-height: 91px !important;
    }
    .c-l-92 {
        line-height: 92px !important;
    }
    .c-l-93 {
        line-height: 93px !important;
    }
    .c-l-94 {
        line-height: 94px !important;
    }
    .c-l-95 {
        line-height: 95px !important;
    }
    .c-l-96 {
        line-height: 96px !important;
    }
    .c-l-97 {
        line-height: 97px !important;
    }
    .c-l-98 {
        line-height: 98px !important;
    }
    .c-l-99 {
        line-height: 99px !important;
    }
    .c-l-100 {
        line-height: 100px !important;
    }
}

.bottom-icon img {
    position: fixed;
    bottom: 0;
    right: 8px;
    z-index: 999
}

.bottom-icon-notification img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    top: unset;
    left: unset;
    z-index: 999
}


/* Splash Popup Commmon Css */

.splash-popup-center {
    width: 100%;
    height: auto !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 15px;
    min-height: 100vh !important;
}

.splash-popup-child {
    width: 100% !important;
}

.splash-popup-close {
    position: fixed;
    right: 10px;
    top: 10px;
}


/* Cookie Consent CSS */

a.dcp-editor-base-btn,
.dcp-editor-base-btn,
a.dcp-editor-base-btn:focus,
.dcp-editor-base-btn:focus {
    color: #7f7c88;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background: #ffffff;
    border: solid 1px transparent;
    outline: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    /*white-space: nowrap;*/
    vertical-align: middle;
    position: relative;
    margin: 0;
    overflow: hidden;
    line-height: normal;
    outline: none;
    box-shadow: none;
    font-size: 14px;
}

.dcp-editor-default-btn,
a.dcp-editor-default-btn {
    color: #7f7c88;
    background-color: #ffffff;
    border-color: #ced4d8;
}

.dcp-editor-default-btn:hover,
a.dcp-editor-default-btn:hover,
.dcp-editor-default-btn:focus,
a.dcp-editor-default-btn:focus {
    background-color: #ffffff;
    color: #000007;
    border-color: #cacfd2;
    box-shadow: none;
    outline: none;
}

a.yellow-btn,
a.yellow-btn:focus {
    background: #fdc100;
    color: #000000;
    font-weight: 500;
}

a.yellow-btn:hover {
    background: #efb600;
    color: #000000;
}

.cookies-black-theme {
    background: #293239;
}

.cookies-black-theme p,
.cookies-black-theme a.privacy-text {
    color: #ffffff;
}

.cookies-white-theme {
    background: #ffffff;
}

.cookies-white-theme p,
.cookies-white-theme a.privacy-text {
    color: #000000;
}

.cookies-grey-theme {
    background: #eff3f6;
}

.cookies-grey-theme p,
.cookies-grey-theme a.privacy-text {
    color: #000000;
}

.header-cookies-consent {
    padding: 15px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1089;
    box-shadow: 0px 1px 3.4px 0.6px rgba(0, 0, 0, 0.09);
    font-family: 'Roboto', sans-serif;
    word-break: break-word;
}

.footer-cookies-consent {
    position: fixed;
    padding: 15px 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1089;
    box-shadow: 0px -1px 3.4px 0.6px rgba(0, 0, 0, 0.09);
    font-family: 'Roboto', sans-serif;
    word-break: break-word;
}

.left-cookies-consent {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1089;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
    font-family: 'Roboto', sans-serif;
    word-break: break-word;
}

.right-cookies-consent {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1089;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
    font-family: 'Roboto', sans-serif;
    word-break: break-word;
}

.cookies-margin,
.cookies-margin1 {
    margin-top: 15px;
}

.justify-cookies-button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
}

.cookies-consent-padding {
    padding: 15px;
}

@media (min-width: 767px) {
    .cookies-consent-padding {
        padding: 30px;
    }
    .justify-cookies-button {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .left-cookies-consent {
        max-width: 400px;
        bottom: 20px;
        left: 20px;
    }
    .right-cookies-consent {
        max-width: 400px;
        bottom: 20px;
        right: 20px;
        left: auto;
    }
    .header-cookies-consent {
        padding: 20px 0px;
    }
    .footer-cookies-consent {
        padding: 20px 0px;
    }
    .cookies-text-md-left {
        text-align: left;
    }
    .cookies-text-md-right {
        text-align: right;
    }
    .cookies-margin {
        margin-top: 5px;
    }
    .cookies-margin1 {
        margin-top: 0px;
    }
}

a.allow-btn-margin,
a.allow-btn-margin:hover,
a.allow-btn-margin:focus {
    margin-left: 15px;
}


/* Cookie Consent CSS End */


/* notification popup positions */

.popup-bottom-position {
    position: absolute;
    left: 0;
    top: unset;
    bottom: 0;
    width: 100%;
}

.popup-header-position {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.popup-right-position {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.popup-left-position {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.popup-topright-position {
    position: absolute;
    right: 10px;
    bottom: unset;
    top: 10px;
    left: unset;
}

.popup-topleft-position {
    position: absolute;
    right: unset;
    bottom: unset;
    top: 10px;
    left: 10px;
}

@media (max-width: 767px) {
    .popup-right-position {
        right: 0px;
        bottom: 0px;
    }
    .popup-left-position {
        left: 0px;
        bottom: 0px;
    }
    .popup-topleft-position {
        left: 0px;
        top: 0px;
    }
    .popup-topright-position {
        right: 0px;
        top: 0px;
    }
}


/**/