html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
	overflow-x: hidden;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

/* Color CSS */
.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}

/* Red Gradient */
.red-gradient{
background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;}

/* Header Section CSS */
.header-section {
    background: #000;
    padding: 30px 0
}
.preheadline{
    background: rgba(255, 255, 255);
    border: 2px solid rgba(255, 255, 255);
    border-radius: 45px;
    display:inline-block;
    padding:10px;
  }
.fifth-section {
	background: url("https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/elite/proudlybg.webp") no-repeat top center;
	background-size: cover;
	padding: 70px 0 30px 0px;
}
.header-list-block {
    border-radius: 0px 0px 20px 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}
.second-section {
    padding:0px 0px 30px 0px;
    background: #ffffff;
}
.heading-design-bg{
    padding: 12px 15px;
    display: inline-block;
    background: #ee5252;
    border-radius: 15px;
}
.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 20px 10px;
}
@media(min-width:768px) {
    .heading-design-bg {
    padding: 5px 20px 10px 20px;
    display: inline-block;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/elite/lets-face-it-bg.png) no-repeat;
    border-radius: 0px;
}
.mainheadline {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/elite/top-heading-bg.webp) center center no-repeat;
    background-size: 100% 100%;
    padding: 35px 30px 40px 30px;
    left: -5px;
}
    .preheadline{
        padding:7px 35px;
      }
    .header-section {
        background: #000 url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/elite/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0 100px
    }
    .fifth-section {
        padding:100px 0px;
    }
    .header-list-block {
        padding: 40px 30px;
    }
    .second-section {
        padding:0px 0px 100px 0px;
        background: #ffffff url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/elite/second-sec-bg.webp) no-repeat;
        background-position: center center;
    }
}
.third-section {
    padding: 30px 0;
    background: #faf4f4;
}
@media (min-width: 768px) {
    .third-section {
        padding:50px 0px 50px 0px;
    }
}
.presenting-head {
    background: #31292d;
    border-radius: 40px;
    display: inline-block;
    padding: 8px 50px;
}
.caveat {
    font-family: 'Caveat', cursive;
}
.kapblue {
    color: #990000;
}
@media(max-width:767px) {
    .bonus-size {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}
.white-section {
    background: #fff;
    padding: 30px 0;
}
.probtn a {
   border-radius: 55px;
   background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}

.probtn a:hover {
    background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
    text-decoration: none;
}

/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    border: 1px solid #071125;
    width: 100%;
    float: left;
    border-radius: 15px;
}



ul.vgreytick li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/elite/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 15px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.vgreytick li:nth-child(odd) {
    background-color: #fff
}

ul.vgreytick li:nth-child(even) {
    background-color: #D9EFFF;
}
.tbbg2-text {
    color: #fff;
}

.tbbg2 {
    background:#071125;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 24px 10px 24px 55px;
    }
    .probtn a {
        font-size: 38px;
        padding: 28px 50px;
    }
}
.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #990000;
}

/*Table CSS Enad*/

.grey-section1 {
	background: #faf4f4;
	background-position: center center;
	padding: 30px 0;
}
.grey-section {
    background: #faf4f4;
    padding: 30px 0;
}

.moneyback-section {
	background: #08041e url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/elite/moneyback-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0;
	color: #ffffff;
}

.bonus-section {
	background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/elite/bonus-bg.webp) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}

.white-bonusbox-bg {
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(90 90 90 / 40%);
}
.table-section {
    background: #ffffff;
    padding: 30px 0;
}

@media (min-width:768px) {
    .table-section {
        padding:100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/elite/table-bg.webp) no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .bonus-section {
        padding: 70px 0px;
    }
    .white-bonusbox-bg {
        padding: 30px 50px;
        border-radius: 40px;
    }
    .moneyback-section {

        padding: 100px 0 100px 0px;
    }
    .grey-section1 {
        padding: 70px 0;
    }
    .grey-section {
        padding: 70px 0;
    }
    .white-section {
        padding: 70px 0;
    }
}


.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}


/* Arrow & Img Move Animation */
img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}


.amazing-section{	
	padding: 30px 0;
	background: #08041d;
}

@media (min-width: 768px) {
.amazing-section{	
	padding: 90px 0;
	background: #08041d url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/elite/amazing-bg.webp) no-repeat;
	background-size:cover;
	background-position: center;
}
}
.video-border{
	border-radius: 10px;
    border: solid 10px rgb(106 105 110);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
}

.footer-section {
    background: #000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }
}
.head-design {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/vidhostpro/elite/head-bg.webp)no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    padding: 5px 35px;
}
@media (min-width: 768px){
.head-design {
    padding: 5px 70px;
}
}
