
	.modal-bg-header{
		background: #e9f3ff url(assets/images/impopup-bg.png) no-repeat;
		background-size: auto;
		background-size: cover;
		border: none;
	}
	.modal-header-color{
	padding:20px 15px;
	border-bottom: 0;
	}
	.modal-header .close {
    margin-top: -10px;
    margin-right: -5px;
}
	/*<----------======Aweber Form Code CSS=======--------->*/
#af-form-905695664 .af-body .af-textWrap{width:98%;display:block;float:none;}
#af-form-905695664 .af-body input.text, #af-form-905695664 .af-body textarea{padding:10px 10px !important; border-bottom:1px solid #8c8c8c; width:100%; margin-bottom:0; background-color:#fff; border-radius:5px 5px 0 0;color:#000; outline:none;
font-size:15px; font-weight:400;border-top-width:0;border-left-width:0;border-right-width:0;}
/*#af-form-905695664 .af-body input.text:focus, #af-form-905695664 .af-body textarea:focus{background-color: #fff;border-color: 0;border-width: 1px;border-style: solid;border-left-width: 0;}*/
#af-form-905695664 .af-body label.previewLabel{display:block;float:none;text-align:left;width:auto;color:#000000;text-decoration:none;font-style:normal;font-weight:normal;font-size:12px;}
#af-form-905695664 .af-body{padding-bottom:0px;padding-top:15px;background-repeat:no-repeat;background-position:inherit;background-image:none;color:#000000;font-size:11px;}
#af-form-905695664 .af-quirksMode{padding-right:15px;padding-left:15px;}
#af-form-905695664 .af-standards .af-element{padding-right:15px;padding-left:15px;}
#af-form-905695664 .buttonContainer input.submit{background-color:#0479C2;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:14px;}
#af-form-905695664 .buttonContainer input.submit{width:auto;}
#af-form-905695664 .buttonContainer{text-align:center;}
#af-form-905695664 button,#af-form-905695664 input,#af-form-905695664 submit,#af-form-905695664 textarea,#af-form-905695664 select,#af-form-905695664 label,#af-form-905695664 optgroup,#af-form-905695664 option{float:none;position:static;margin:0;}
#af-form-905695664 div{margin:0;}
#af-form-905695664 form,#af-form-905695664 textarea,.af-form-wrapper,.af-form-close-button,#af-form-905695664 img{float:none;color:inherit;position:static;background-color:none;border:none;margin:0;padding:0;}
#af-form-905695664 input,#af-form-905695664 button,#af-form-905695664 textarea,#af-form-905695664 select{font-size:100%;}
#af-form-905695664 select,#af-form-905695664 label,#af-form-905695664 optgroup,#af-form-905695664 option{padding:0;}
#af-form-905695664,#af-form-905695664 .quirksMode{width:100%;max-width:418px;}
#af-form-905695664.af-quirksMode{overflow-x:hidden;}


#af-form-905695664 input[type="submit"]{padding:12px 8px !important;  width:100%!important; cursor:pointer!important; font-size:21px!important; font-weight:700!important; border-radius:5px!important; color:#fff!important; outline:none;
background-color: rgb(92, 106, 196); border-radius: 5px; }

#af-form-905695664 input[type="submit"]:hover{background-color: rgb(92, 106, 196); 
	text-decoration: none;  color:#fff !important;}

#af-form-905695664 input[type="submit"]:focus{outline:none;}


#af-form-905695664{display:block;}
#af-form-905695664{overflow:hidden;}
.af-body .af-textWrap{text-align:left;}
.af-body input.image{border:none!important;}
.af-body input.submit,.af-body input.image,.af-form .af-element input.button{float:none!important;}
.af-body input.text{width:100%;float:none;padding:2px!important;}
.af-body.af-standards input.submit{padding:4px 12px;}
.af-clear{clear:both;}.bottom-margin{margin-bottom:10px!important;}
.af-element label{text-align:left;display:block;float:left;}
.af-element{padding-bottom:5px;padding-top:5px;}
.af-form-wrapper{text-indent:0;}
.af-form{text-align:left;margin:auto;}
.af-quirksMode .af-element{padding-left:0!important;padding-right:0!important;}
.lbl-right .af-element label{text-align:right;}
.close{color: #4b4c4e;opacity:1;outline: none;} .clr1{color:#474747;} .clr{color:#f5821f;}
.close:hover,.close:focus{color:#4b4c4e;opacity:1;} .ft16{font-size:16px;} .ft10{font-size:10px;} .ft12{font-size:12px;}
.progress{height:10px; background-color: #cdd9e0;} .progress-bar{background-color:#2886f0;}
.modal-content{
background: #e9f3ff url(https://cdn.dotcompaltest.com/uploads/launches/mavas/jv/impopup-bg.png) no-repeat; background-size: cover;  
border:none;
}


.modal-header .close {
    margin-top: -10px;
    margin-right: -5px;
}
.modal-header{border-bottom:none; padding-bottom:0px;} .padding0{padding:0px;} .padding5{padding-left:5%;} .padding4{padding-right:5%;}
.border1px{border: 1px solid #bdc2c8; background: transparent}
.modal{display: none;}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* White Timer css */

.white-timer-portion { 
   text-align: center;
    padding-left: 5px;
    padding-right: 5px;
	
}
.white-timer-box { 
    width: 61px;
    height: 61px;
    line-height: 1.42857143;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: transparent;
    color: #ffffff;
	font-weight: 600;
	font-size: 45px;

}
.white-timer-label { 
    width: 61px;
    height: 14px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
	color: #ffffff;
}

.white-timer-colon-group { 
    height: 61px;
    width: 7px;
    position: relative;

}
.white-timer-colon.colon-top { 
    position: absolute;
    top: 30%;
}
.white-timer-colon {
    background: #ffffff;
    border-radius: 100%;
    width: 7px;
    height: 7px;
	
}
.white-timer-colon.colon-bottom {
    position: absolute;
    bottom: 30%;
}
.white-timer-colon-group-margin {
    height: 14px;
    width: 7px;
    position: relative;
}

/* Black Timer css */

.black-timer-portion { 
   text-align: center;
    padding-left: 5px;
    padding-right: 5px;
	
}
.black-timer-box { 
    width: 61px;
    height: 61px;
    line-height: 1.42857143;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: transparent;
    color: #000000;
	font-weight: 600;
	font-size: 45px;

}
.black-timer-label { 
    width: 61px;
    height: 14px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
	color: #000000;
}

.black-timer-colon-group { 
    height: 61px;
    width: 7px;
    position: relative;

}
.black-timer-colon.colon-top {
    position: absolute;
    top: 30%;
}
.black-timer-colon {
    background: #000000;
    border-radius: 100%;
    width: 7px;
    height: 7px;
}
.black-timer-colon.colon-bottom {
    position: absolute;
    bottom: 30%;
}
.black-timer-colon-group-margin {
    height: 14px;
    width: 7px;
    position: relative;
}