.countdown {
	background-color: transparent;
	color:#000000;
	font-family: 'Poppins', sans-serif;;
	text-align: center;	
	display: flex;
	justify-content: space-between;
}
/* Css For Timer Display */
.timer-label{margin-right:15px; padding:0px 0px!important; width:100%; color:#000000; border: 1px solid #000;background-color: rgb(255, 255, 255);border: 5px solid #6E33FF;}
.countdown .timer-label:last-child{margin-right:0px;}
.timerbg{font-weight:600; line-height:130%; width:100%; float:left;   color:#000000; }



