html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #100f12;
    font-size: 14px;
}
.pink-clr{
    color: #F55D87;
}
a{text-decoration:none;}
a:hover{text-decoration:none;}

.white-clr{
    color: #ffffff !important;
}
.under {
    border-bottom: 4px solid  #F55D87;
}
.red-bg {
    background-color: red;
    display: block;
    border-radius: 10px;
    padding: 8px 10px;
 }
 .main-heading {
    background: #fff;
    border-radius: 7px;
    padding: 20px 10px;
}
.black2-clr {
    color: #140014;
}
.red-hat-font {
    font-family: Red Hat Display;
}
@media(min-width:768px){
.red-bg {
    background-color: red;
    border-radius: 10px;
    display: inline-block;
    padding: 8px 10px;
}
.main-heading {
    background: url(../images/main-heading-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 61px 25px 62px 61px;
}
}
h1, h2, h3, h4 , h5, h6, p{margin-bottom:0;}

 ul{
    padding:0px;
    list-style:none;
    margin:0px;
}
.ls1{letter-spacing:1px;}
.ls2{letter-spacing:2px;}
.ls4{letter-spacing:4px;}
.ls-02{letter-spacing:-0.2px;}
.ls-01{letter-spacing:-0.5px;}
.ls-1{letter-spacing:-1px;}
.ls-2{letter-spacing:-2px;}
.ls-3{letter-spacing:-3px;}
.ls-4{letter-spacing:-4px;}

.padding0 {padding: 0px;}
.padding1 {padding: 0 1%;}
.padding2 {padding: 0 2%;}
.padding3 {padding: 0 3%;}


@media (min-width:240px) {
.xs8 {font-size: 8px;}.xs9 {font-size: 9px;}.xs10 {font-size: 10px;}.xs11 {font-size: 11px;}.xs12 {font-size: 12px;}.xs13 {font-size: 13px;}.xs14 {font-size: 14px;}.xs15 {font-size: 15px;}.xs16 {font-size: 16px;}.xs17 {font-size: 17px;}.xs18 {font-size: 18px;}.xs19 {font-size: 19px;}.xs20 {font-size: 20px;}.xs21 {font-size: 21px;}.xs22 {font-size: 22px;}.xs23 {font-size: 23px;}.xs24 {font-size: 24px;}.xs25 {font-size: 25px;}.xs27 {font-size: 27px;}.xs28 {font-size: 28px;}.xs29 {font-size: 29px;}.xs30 {font-size: 30px;}.xs31 {font-size: 31px;}.xs33 {font-size: 33px;}.xs35 {font-size: 35px;}.xs37 {font-size: 37px;}.xs39 {font-size: 39px;}.xs40 {font-size: 40px;}.xs41 {font-size: 41px;}.xs43 {font-size: 43px;}.xs45 {font-size: 45px;}.xs47 {font-size: 47px;}.xs49 {font-size: 49px;}.xs51 {font-size: 51px;}.xs56{font-size: 56px;}.xs60 {font-size: 60px;}.xs70 {font-size: 70px;}.xs85 {font-size: 85px;}
.xsmt0{margin-top:0%;}.xsmt1{margin-top:1%;}.xsmt2{margin-top:2%;}.xsmt3{margin-top:3%;}.xsmt4{margin-top:4%;}.xsmt5{margin-top:5%;}.xsmt6{margin-top:6%;}.xsmt8{margin-top:8%;}.xsmt13{margin-top:13%;}.xsmt20{margin-top:20%;}.xsmt30{margin-top:30%;}
.xsmb1{margin-bottom:1%;}
.xsmb2{margin-bottom:2%;}
.xsmb3{margin-bottom:3%;}
.xsmb4{margin-bottom:4%;}
.xsmb6{margin-bottom:6%;}
.xsmb7{margin-bottom:7%;}
.xsmb8{margin-bottom:8%;}
.xsmb10{margin-bottom:10%;}
.xsmb15{margin-bottom:15%;}
.xsmb0{margin-bottom:0%;}
.xsmt-1{margin-top:-1%;}
.xsmt-3{margin-top:-3%;}
.xsmt-5{margin-top:-5%;}
.mycontainer, .mycontainer2, .mycontainer3{
    width:100%;    
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
}
@media (min-width:768px) {  
.sm8 {font-size: 8px;}.sm9 {font-size: 9px;}.sm10 {font-size: 10px;}.sm11 {font-size: 11px;}.sm12 {font-size: 12px;}.sm13 {font-size: 13px;}.sm14 {font-size: 14px;}.sm15 {font-size: 15px;}.sm16 {font-size: 16px;}.sm17 {font-size: 17px;}.sm18 {font-size: 18px;}.sm19 {font-size: 19px;}.sm20 {font-size: 20px;}.sm21 {font-size: 21px;}.sm23 {font-size: 23px;}.sm24 {font-size: 24px;}.sm25 {font-size: 25px;}.sm27 {font-size: 27px;}.sm28 {font-size: 28px;}.sm29 {font-size: 29px;}.sm30 {font-size: 30px;}.sm31 {font-size: 31px;}.sm32 {font-size: 32px;}.sm33 {font-size: 33px;}.sm34 {font-size: 34px;}.sm35 {font-size: 35px;}.sm37 {font-size: 37px;}.sm39 {font-size: 39px;}.sm40 {font-size: 40px;}.sm41 {font-size: 41px;}.sm43 {font-size: 43px;}.sm44 {font-size: 44px;}.sm45 {font-size: 45px;}.sm46 {font-size: 46px;}.sm47 {font-size: 47px;}.sm49 {font-size: 49px;}.sm51 {font-size: 51px;}.sm55 {font-size: 55px;}.sm60 {font-size: 60px;}.sm70 {font-size: 70px;}.sm80 {font-size: 80px;}.sm100 {font-size: 100px;}.sm130 {font-size: 130px;}

.lmt0{margin-top:0%;}.lmt1{margin-top:1%;}.lmt2{margin-top:2%;}.lmt3{margin-top:3%;}.lmt4{margin-top:4%;}.lmt5{margin-top:5%;}.lmt10{margin-top:10%;}.lmt13{margin-top:13%;}.lmt6{margin-top:6%;}.lmt7{margin-top:7%;}.lmt8{margin-top:8%;}.lmt9{margin-top:9%;}.lmt11{margin-top:11%;}.lmt12{margin-top:12%;}.lmt16{margin-top:16%;}.lmt18{margin-top:18%;}.lmt12{margin-top:12%;}.lmt13{margin-top:13%;}.lmt14{margin-top:14%;}.lmt15{margin-top:15%;}.lmt18{margin-top:18%;}.lmt20{margin-top:20%;}.lmt22{margin-top:22%;}.lmt25{margin-top:25%;}.lmt28{margin-top:28%;}.lmt30{margin-top:30%;}.lmt34{margin-top:34%;}.lmt45{margin-top:45%;}
.lmt-15{margin-top:-14%;}
.lmt-25{margin-top:-25%;}
.lmt-3{margin-top:-3%;}
.lmt-1{margin-top:-1%;}
.lmt-2{margin-top:-2%;}
.lmt-3{margin-top:-3%;}
.lmt-4{margin-top:-4%;}
.lmt-5{margin-top:-5%;}
.lmt-6{margin-top:-6%;}
.lmt-7{margin-top:-7%;}
.lmt-8{margin-top:-8%;}
.lmt-9{margin-top:-9%;}
.lmt-10{margin-top:-10%;}
.lmt-11{margin-top:-11%;}
.lmt-13{margin-top:-13%;}
.lmt-20{margin-top:-20%;}
.lmb0{margin-bottom:0%;}
.lmb1{margin-bottom:1%;}
.lmb3{margin-bottom:3%;}
.lmb7{margin-bottom:7%;}
.lmb10{margin-bottom:10%;}
.lmb15{margin-bottom:15%;}
.lmb20{margin-bottom:20%;}

.lmb-8{margin-bottom:-8%;}
.lmb-4{margin-bottom:-4%;}

.lml-2{margin-left:-2%;}

.mycontainer2{width:750px;}
.mycontainer3{width:750px;}

}

@media (min-width:992px) {
.md8 {font-size: 8px;}.md9 {font-size: 9px;}.md10 {font-size: 10px;}.md11 {font-size: 11px;}.md12 {font-size: 12px;}.md13 {font-size: 13px;}.md14 {font-size: 14px;}.md15 {font-size: 15px;}.md16 {font-size: 16px;}.md17 {font-size: 17px;}.md18 {font-size: 18px;}.md19 {font-size: 19px;}.md20 {font-size: 20px;}.md21 {font-size: 21px;}.md22 {font-size: 22px;}.md23 {font-size: 23px;}.md24 {font-size: 24px;}.md25 {font-size: 25px;}.md26 {font-size: 26px;}.md27 {font-size: 27px;}.md28{font-size: 28px;}.md29 {font-size: 29px;}.md30 {font-size: 30px;}.md31 {font-size: 31px;}.md32 {font-size: 32px;}.md33 {font-size: 33px;}.md34 {font-size: 34px;}.md35 {font-size: 35px;}.md36 {font-size: 36px;}.md37 {font-size: 37px;}.md38 {font-size: 38px;}.md39 {font-size: 39px;}.md40{font-size: 40px;}.md41 {font-size: 41px;}.md42 {font-size: 42px;}.md44 {font-size: 44px;}.md45 {font-size: 45px;}.md46 {font-size: 46px;}.md47 {font-size: 47px;}.md48 {font-size: 48px;}.md49 {font-size: 49px;}.md50 {font-size: 50px;}.md51 {font-size: 51px;}.md52 {font-size: 52px;}.md53 {font-size: 53px;}.md54 {font-size: 54px;}.md55 {font-size: 55px;}.md56 {font-size: 56px;}.md58 {font-size: 58px;}.md67 {font-size: 67px;}.md60{font-size: 60px;}.md75 {font-size: 75px;}.md70 {font-size: 70px;}.md80 {font-size: 80px;}.md84 {font-size: 84px;}.md90{font-size: 90px;}.md120{font-size: 120px;}.md170 {font-size: 170px;}.md210 {font-size: 240px;}


.mmb0{margin-bottom:0%;}
.mmb3{margin-bottom:3%;}
.mmb5{margin-bottom:5%;}
.mmb7{margin-bottom:7%;}
.mmb8{margin-bottom:8%;}
.mmb11{margin-bottom:11%;}
.mmb12{margin-bottom:12%;}
.mmb14{margin-bottom:14%;}
.mmb15{margin-bottom:15%;}
.mmb16{margin-bottom:16%;}
.mmb20{margin-bottom:20%;}
.mmb28{margin-bottom:28%;}
.mmb35{margin-bottom:35%;}
.mmt0{margin-top:0%;}
.mmt1{margin-top:1%;}
.mmt2{margin-top:2%;}
.mmt3{margin-top:3%;}
.mmt4{margin-top:4%;}
.mmt5{margin-top:5%;}
.mmt6{margin-top:6%;}
.mmt7{margin-top:7%;}
.mmt8{margin-top:8%;}
.mmt9{margin-top:9%;}
.mmt10{margin-top:10%;}
.mmt11{margin-top:11%;}
.mmt12{margin-top:12%;}
.mmt13{margin-top:13%;}
.mmt14{margin-top:14%;}
.mmt15{margin-top:15%;}
.mmt18{margin-top:18%;}
.mmt11a{margin-top:11.6%;}
.mmt20{margin-top:20%;}
.mmt28{margin-top:28%;}
.mmt31{margin-top:31%;}
.mmt36{margin-top:36%;}
.mmt-2{margin-top:-2%;}
.mmt-3{margin-top:-3%;}
.mmt-4{margin-top:-4%;}
.mmt-5{margin-top:-5%;}
.mmt-8{margin-top:-8%;}
.mmt-9{margin-top:-9%;}
.mmt-9a{margin-top:-9.5%;}
.mmt-12{margin-top:-12%;}

.mmb-5{margin-bottom:-5%;}
.mmb-6{margin-bottom:-6%;}

.mml-4{margin-left:-4%;}
.mycontainer2{width:922px;}
.mycontainer3{width:922px;}

.header{width: 80%;}

}

@media (min-width:1200px){
.lg8 {font-size: 8px;}.lg9 {font-size: 9px;}.lg10 {font-size: 10px;}.lg11 {font-size: 11px;}.lg12 {font-size: 12px;}.lg13 {font-size: 13px;}.lg14 {font-size: 14px;}.lg15 {font-size: 15px;}.lg16 {font-size: 16px;}.lg17 {font-size: 16px;}.lg18 {font-size: 18px;}.lg19 {font-size: 19px;}.lg20 {font-size: 20px;}.lg21 {font-size: 21px;}.lg22 {font-size: 22px;}.lg23 {font-size: 23px;}.lg24 {font-size: 24px;}.lg25 {font-size: 25px;}.lg26 {font-size: 26px;}.lg27 {font-size: 27px;}.lg29 {font-size: 29px;}.lg30 {font-size: 30px;}.lg31 {font-size: 31px;}.lg32 {font-size: 32px;}.lg33 {font-size: 33px;}.lg34 {font-size: 34px;}.lg35 {font-size: 35px;}.lg36 {font-size: 36px;}.lg37 {font-size: 37px;}.lg38 {font-size: 38px;}.lg39 {font-size: 39px;}.lg40{font-size: 40px;}.lg41 {font-size: 41px;}.lg42 {font-size: 42px;}.lg44 {font-size: 44px;}.lg45 {font-size: 45px;}.lg46 {font-size: 46px;}.lg47 {font-size: 47px;}.lg48 {font-size: 48px;}.lg49 {font-size: 49px;}.lg50 {font-size: 50px;}.lg51 {font-size: 51px;}.lg52 {font-size: 52px;}.lg53 {font-size: 53px;}.lg55 {font-size: 55px;}.lg56 {font-size: 56px;}.lg58 {font-size: 58px;}.lg67 {font-size: 67px;}.lg60{font-size: 60px;}.lg71 {font-size: 71px;}.lg70 {font-size: 70px;}.lg80 {font-size: 80px;}.lg86 {font-size: 86px;}.lg150 {font-size: 150px;}.lg120 {font-size: 120px;}

.lappysection {position: relative;bottom: -125px;margin-top: -90px !important;}


.lmtm-3{margin-top: -3%;}

.lgmb0{margin-bottom:0%;}
.lgmb2{margin-bottom:2%;}
.lgmb4{margin-bottom:4%;}
.lgmb5{margin-bottom:5%;}
.lgmb11{margin-bottom:11%;}
.lgmb12{margin-bottom:12%;}
.lgmb22{margin-bottom:22%;}
.lgmb25{margin-bottom:25%;}

.lgmb-6{margin-bottom:-6%;}


.lgmt0{margin-top:0%;}
.lgmt4{margin-top:4%;}
.lgmt5{margin-top:5%;}
.lgmt6{margin-top:6%;}
.lgmt10{margin-top:10%;}
.lgmt13{margin-top:13%;}
.lgmt15{margin-top:15%;}
.lgmt20{margin-top:20%;}
.lgmt26{margin-top:26%;}
.lgmt29{margin-top:29%;}

.padding4{padding:0% 4%}

}

@media (min-width:1500px){
.xl8 {font-size: 8px;}.xl9 {font-size: 9px;}.xl10 {font-size: 10px;}.xl11 {font-size: 11px;}.xl12 {font-size: 12px;}.xl13 {font-size: 13px;}.xl14 {font-size: 14px;}.xl15 {font-size: 15px;}.xl16 {font-size: 16px;}.xl17 {font-size: 17px;}.xl18 {font-size: 18px;}.xl19 {font-size: 19px;}.xl20 {font-size: 20px;}.xl21 {font-size: 21px;}.xl22 {font-size: 22px;}.xl23 {font-size: 23px;}.xl24 {font-size: 24px;}.xl25 {font-size: 25px;}.xl26 {font-size: 26px;}.xl27 {font-size: 27px;}.xl28 {font-size: 28px;}.xl29 {font-size: 29px;}.xl30 {font-size: 30px;}.xl31 {font-size: 31px;}.xl32 {font-size: 32px;}.xl33 {font-size: 33px;}.xl34 {font-size: 34px;}.xl35 {font-size: 35px;}.xl36 {font-size: 36px;}.xl37 {font-size: 37px;}.xl38 {font-size: 38px;}.xl39 {font-size: 39px;}.xl40{font-size: 40px;}.xl41 {font-size: 41px;}.xl42 {font-size: 42px;}.xl44 {font-size: 44px;}.xl45 {font-size: 45px;}.xl46 {font-size: 46px;}.xl47 {font-size: 47px;}.xl48 {font-size: 48px;}.xl49 {font-size: 49px;}.xl50 {font-size: 50px;}.xl51 {font-size: 51px;}.xl52 {font-size: 52px;}.xl53 {font-size: 53px;}.xl55 {font-size: 55px;}.xl56 {font-size: 56px;}.xl58 {font-size: 58px;}.xl65 {font-size: 65px;}.xl60{font-size: 60px;}.xl76 {font-size: 76px;}.xl70 {font-size: 70px;}.xl80 {font-size: 80px;}.xl87 {font-size: 87px;}.xl170 {font-size: 170px;}.xl210 {font-size: 240px;}

.xlmt4{margin-top:4%;}
}

.text-black{color:#000;}
.gray{color:#69686b}
.gray2{color:#aeaeb1}
.gray3{color:#8c8c8c}
.blue{color:#2a3950} 
.black2{color:#101010} 
.yellow-clr{color: rgba(255, 205, 0, 1);}


/*font-weight*/
.w100{font-weight:100;} .w200{font-weight:200;} .w300{font-weight:300;} .w400{font-weight:400;} .w500{font-weight:500;} .w600{font-weight:600;} .w700{font-weight:700;}
.w800{font-weight:800;} .w900{font-weight:900;}
.lh0 {line-height: 0%;}.lh50 {line-height: 50%;}.lh60 {line-height: 60%;}.lh70 {line-height: 70%;}.lh80 {line-height: 80%;}.lh90 {line-height: 90%;}.lh100 {line-height: 100%;}.lh110 {line-height: 110%;}.lh120 {line-height: 120%;}.lh130 {line-height: 130%;}.lh140 {line-height: 140%;}.lh145 {line-height: 145%;}.lh150 {line-height: 150%;}.lh160 {line-height: 160%;}.lh170 {line-height: 170%;}.lh180 {line-height: 180%;}.lh190 {line-height: 190%;}.lh200 {line-height: 200%;}.lh210 {line-height: 210%;}.lh230 {line-height: 230%;}


.padding2{padding:0% 2%}
.padding3{padding:0% 3%}

.padding5{padding:0% 5%}
.paddingR{padding: 0 0 0 3%;}

.click {
    position: absolute;   
    z-index: 2;
    top: 59%;
    right: -3%;
    animation: leaves 0.5s ease-in-out infinite alternate;
}
@keyframes leaves {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}


@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  60% {
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}

.bgg1 {
    padding: 10px 30px;
    margin: 0px auto;
    background-color: transparent;
    outline: none;
    border-color: #F55D87;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 100px
}

.list-head li {
    background: url(../images/priceCheck2.webp) no-repeat;
    padding: 0px 0px 10px 40px;
    margin-bottom: 10px;
    background-position: 0px 5px;
    text-align: left;
    border-bottom: solid 1px #ffffff33;
}
.list-head1 li {
    background: url(../images/priceCheck2.webp) no-repeat;
    padding: 0px 0px 10px 40px;
    margin-bottom: 10px;
    background-position: 0px 5px;
    text-align: left;
}
.tablebox2 {
    border: 1px solid #1b0943;
    width: 100%;
    float: left;
    border-radius: 15px;
}
.tbbg2 {
    background: #1b0943;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}
ul.vgreytick li {
    background: url(https://cdn.oppyotest.com/launches/webgenie/pro/images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 24px;
    line-height: 150%;
    border-bottom: 1px solid #f3ebff;
}
ul.vgreytick {
    padding: 0px 15px;
}
.tablebox2 ul {
    padding-left: 20px;
    color: #010101;
}
.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}
.section7 {
    background: #fff;
    padding: 3% 0;
}
.img-animation {
    animation: 1s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.nothanks-section {
    padding: 0% 0 5% 0;
}
.kapblue, a.kapblue {
    color: #0041b5;
    text-decoration: none;
    padding: 0px 0px 30px;
}
.footer-ul {
    padding: 0;
    margin: 0;
}

.footer-ul li {
    display: inline
}
.footer-ul li a, .footer-ul li a:hover {
    color: #ffffff;
}
.top.sticky {
    padding: 1% 0;
}


.top-text{padding-right: 1%;}

.top{background-color: #000;}
.section2{background: url(../images/section2.png) no-repeat center bottom;background-size: cover;padding: 3% 0 10% 0;position: relative;z-index: 1;}


.footer{padding: 3% 0 3% 0;position: relative;background-color: #000;}
.footer-link{padding: 2% 0;margin-top: 3%;border-top: 1px solid #ffffff0f;}

.calendar-wrap1{
    padding: 40px 20px 20px 20px;
    background: #ffffff;
    border-radius: 25px;
}
.calendar-wrap1 ul{
    padding: 0px;
}
.list-head li:last-child{
    border-bottom: solid 0px #ffffff33;
}
.yellow-clr {
    color: rgba(255, 205, 0, 1);
}
.section5 {
    background: #F3EAFF;
    padding: 5% 0 5% 0;
    color: #000;
}
.banner , .section6, .section8,  .section12{
    background: #010224;
    padding: 30px 0;
}
 .bgg1 {
    padding: 10px 15px;
    border-radius: 15px;
}
.section9{
    background-color: #ffffff;

}

@media (min-width: 768px){
    .banner {
        background:#010224 url(../images/banner.webp) no-repeat top center;
        background-size: cover;
        padding: 2% 0 5% 0;
        position: relative;
        z-index: 1;
    }
    .section6 {
        display: block;
        background: #010224 url(../images/bg3.webp) repeat 0 0 / cover;
        padding-top: 100px;
        padding-bottom: 100px;
        /* margin-bottom: -135px; */
        background-position: top center;
    }
    .section8  {
        display: block;
        background:#010224 url(../images/bg7.webp) repeat 0 0 / cover;
        padding-top: 100px;
        padding-bottom: 100px;
        background-position: top center;
    }
    .section9 {
        background: url(../images/pricingbg.png) no-repeat center top;
        background-size: cover;
        padding: 0 0 5% 0;
        position: relative;
        z-index: 1;
        color: #000;
    }
    .section5 {
        padding: 5% 0 5% 0;
        color: #000;
    }
    .section4 {
        background: #fff;
        padding: 5% 0 3% 0;
    }
    ul.vgreytick li {
        background: url(https://cdn.oppyotest.com/launches/webgenie/pro/images/vgreytick.webp) no-repeat;
        list-style: none;
        text-align: left;
        padding: 20px 10px 20px 40px;
        background-position: 0px 24px;
        line-height: 150%;
        color: #000;
        border-bottom: 1px solid #f3ebff;
    }

    .titleBg h1{font-size: 20px;}
    
    .banner-box p{font-size: 14px;}
    
    
}
    @media only screen and (min-width: 1000px) {    
    .titleBg h1{font-size: 42px;}
    
    .banner-box p{font-size: 16px;}
    
}


@media only screen and (min-width: 992px) {
    .titleBg h1{font-size: 34px;}
    .banner-box p{font-size: 14px;}
}


@media only screen and (min-width: 1100px) {
    .titleBg h1{font-size: 34px;}
    .banner-box p{font-size: 13px;}
    .section25-box-main{padding: 5% 3% 6% 3%;}
    .section8-section-box {padding: 0;}
}



@media only screen and (min-width: 1200px) {
    .titleBg h1{font-size: 36px;}
    .banner-box p{font-size: 13px;}
}


@media (min-width:1300px) {
    .mycontainer2{width:1180px;}    
    .mycontainer3{width: 1219px;}   
 


    .titleBg h1{font-size: 42px;}
    
    .banner-box p{font-size: 14px;}
    

    
}

@media (min-width:1400px) {
    .mycontainer2{width:1219px;;}
    .mycontainer3{width: 1290px;;}

    .titleBg h1{font-size: 44px;}
    .banner-box p{font-size: 15px;}
    
    
}

@media (min-width:1500px) {
    .mycontainer2{width:1219px;}
    .mycontainer3{width: 1400px;}
    
    .ex{background-color:pink}


        

    
    .titleBg h1{font-size: 30px;}
 
    .banner-box p{font-size: 16px;}
    
}


@media (min-width:1600px){
    .mycontainer2{width:1219px;}
    .mycontainer3{width: 1410px;}

    
 
    .titleBg h1{font-size: 46px;}
    

    .banner-box p{font-size: 17px;}
    
    
    
}
@media (min-width:1700px){
    .mycontainer2{width:1219px;}
    .mycontainer3{width: 1410px;}
    
    
    .titleBg h1{font-size: 46px;}

    .banner-box p{font-size:18px;}
    
    
}
@media (min-width:1800px){
    .mycontainer2{width:1219px;}
    .mycontainer3{width: 1490px;}



    .titleBg h1{font-size: 46px;}
    
   
    .banner-box p{font-size:18px;}
    
}
@media (min-width:1900px){
    .mycontainer2{width:1330px;}
    .mycontainer3{width: 1632px;}

   
    .titleBg h1{font-size: 46px;}
    
 
    .banner-box p{font-size:18px;}
    
    
}
@media (min-width:2000px){
    .mycontainer2 {
        width: 1800px;
    }
    .mycontainer3{width:1900px;}
    
}
.p1 {
    font-size: 19px !important;
}
.footer-ul {
    padding: 0;
}
.footer-ul li {
    display: inline;
    line-height: 130%;
}  
@media (min-width: 768px){
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
} 
.mt0{margin-top:0%;}.mt1{margin-top:1%;}.mt2{margin-top: 2%;}.mt3{margin-top: 3%;}.mt4{margin-top: 4%;}.mt5{margin-top: 5%;}.mt6{margin-top: 6%;}.mt7{margin-top: 7%;}
.mt8{margin-top: 8%;}.mt9{margin-top:9%;}.mt10{margin-top:10%;}.mt11{margin-top:11%;}.mt12{margin-top:12%;}.mt13{margin-top:13%;}.mt14{margin-top:14%;}.mt15{margin-top:15%;}.mt17{margin-top: 17%;}.mt20{margin-top:20%;}.mt22{margin-top:22%;}.mt26{margin-top:26%;}.mt28{margin-top:28%;}.mtm14{margin-top:-14%;}.mtm4{margin-top:-4%;}.mtm1{margin-top:-1%;}.mtm2{margin-top:-2%;}.mtm3{margin-top:-3%;}.mtm4{margin-top:-4%;}.mtm6{margin-top:-6%;}.mtm8{margin-top:-8%;}.mtm9{margin-top:-9%;}.mtm20{margin-top:-20%;}.mtm12{margin-top:-12px;}.mtm40{margin-top:-40px;} */


.lg30 {
    font-size: 30px;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
@media (min-width: 768px) {
    .offer {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        flex-direction: row;
    }
    .button-primary {
        padding: 35px 50px;
        font-size: 32px;
    }
}
.button-primary {
    background: linear-gradient(0deg, #F55D87 10%, #CE14FD 100%);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}
.button-primary:hover {
    background: linear-gradient(0deg, #CE14FD 10%, #F55D87 90%);
}

