html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #000000;
    font-size: 14px;
	overflow-x: hidden;
}
/* --- Global Css Start--- */
.white-clr {
    color: #fff;
}
.black-clr {
    color: #000000;
}
.red-clr {
    color: #FF2C2C;
}
.kapblue {
    color: #6e44ff;
}
.relative {
    position: relative;
}
.caveat {
    font-family: 'Caveat', cursive;
}
.play {
    font-family: 'Play', sans-serif;
}

.neon-clr {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .neon-clr{
    color: #22D2EE;
} */
/* .blue-gradient{
    color: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
} */
.purple-clr {
    color: #b052ff;
}
.cleint-frame{
	background: url("../images/client-frame.webp") no-repeat;
	background-size: 100% 100%;
	padding: 20px;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.preheadline {
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 10px;
    border: 1px dashed rgba(255, 255, 255, 0.50);
    background: #0B122F;
    padding: 10px;
}
@media (min-width: 768px){
    .preheadline{
        padding: 9px 20px;
    }
    .preheadline::after {
        position: absolute;
        right: -86px;
        top: -31px;
        content: url(../images/pre-shape-ai.webp);
    }
}

/* --- Global Css End--- */
/* --- Header Section Start--- */

.underline-text {
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}
.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 50px 20px 20px 20px;
    border-radius: 0px 50px;
}
.gametext {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    /* top: -6px; */
    z-index: 99;
    line-height: 30px;
    /* left: 12px; */
    border-radius: 0px 40px;
    top: -20px;
    left: 40px;
}
.post-headline {
    border-radius: 10px;
    border: 1px solid var(--Blue-Gradient, #22D2EE);
    background: linear-gradient(90deg, rgba(34, 210, 238, 0.20) -0.02%, rgba(28, 151, 244, 0.20) 100.02%);
    padding: 9px 20px;
    display: inline-block;
}
.proudly-head {
    background: url(../images/proudly-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 9px 45px;
    display: inline-block;
}
.header-section {
    background: url(../images/header-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
@media(min-width:768px) {
    .header-section {
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .mainheadline {
        background: url(../images/heading-design.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 35px 45px 40px 45px;
        left: -5px;
        border-radius: 0px;
    }
    .gametext {
        padding: 6px 30px 6px 40px;
        border-radius: 0px 40px;
        top: -20px;
        left: 40px;
    }

    .underline-text {
        background: url(../images/underline-orange.webp) no-repeat center center;
        padding: 0px 0px 65px 0px;
        background-size: contain;
    }
}
/* --- Header Section End --- */
/* --- Second Section Start --- */
.second-section {
    padding:30px 0px;
    background: #ffffff;
}
@media(min-width:768px) {
    .second-section {
        padding:70px 0px 100px 0px;
        background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/elite/second-sec-bg.webp) no-repeat;
        background-position: center center;
    }
}
/* --- Second Section End --- */
/* --- Third Section Start --- */
.third-section {
    padding: 30px 0;
    background:#f0f9ff;
}
@media (min-width: 768px) {
    .third-section {
        padding:100px 0px 0px 0px;
    }
}
/* --- Third Section End --- */
/* --- Fourth Section Start --- */
.fifth-section {
    background: linear-gradient(191deg, #040613 8.4%, #05043E 92.29%);
    padding: 30px 0px;
}
@media (min-width: 768px){
    .fifth-section {
        padding: 100px 0px 100px;
        background: url(../images/proudlybg.webp) no-repeat bottom center;
        background-size: cover;
    }
}
/* --- Fourth Section End --- */
/* --- features Section Start --- */
.grey-section {
    background: #f0f9ff;
    padding: 30px 0;
}
.white-section {
    background: #fff;
    padding: 30px 0;
}
.probtn a {
   border-radius: 15px;
    background-color: #f6841f;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}
.probtn a:hover {
   background: #e97b1a;
    text-decoration: none;
}
.probtn1 a {
    border-radius: 15px;
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    backdrop-filter: blur(10px);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}
.probtn1 a:hover {
    transition: all .3s ease;
    background: linear-gradient(90deg, #1C97F4 0%, #22D2EE 100%);
}
@media (min-width:768px) {
    .white-section {
        padding: 100px 0;
        background: url(https://cdn.oppyo.com/launches/yodrive/elite/white-section-bg.webp) no-repeat;
        background-position: center center;
    }
    .third-section {
        padding: 40px 0px 100px;
    }
    .grey-section {
        padding: 40px 0px 100px;
    } 
}
/*---- Bonus Section Starts ---*/
.bonus-section {
    background: url(https://cdn.oppyo.com/launches/yodrive/elite/bonus-bg.webp) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}
@media(min-width:768px) {
    .bonus-section {
        padding: 80px 0px;
    }
   
}
/*---- Bonus Section End ---*/
/*Table CSS Start*/
@media(min-width:768px)
{
    .table-section{
        padding: 30px 0px;
    }   
}
.table-section{
    padding: 100px 0px;
    background-color: #fff;
}
.tablebox2 {
    border: 1px solid #182d5a;
    width: 100%;
    float: left;
    border-radius: 15px;
}
.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}
ul.vgreytick {
    padding: 0px 0px;
    margin: 0;
}
ul.vgreentick li {
    background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/elite/vgreentick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 25px;
    line-height: 150%;
    color: #000;
}
.tbbg2-text {
    color: #fff;
}
.tbbg2 {
    background:#0d0238;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}
@media (min-width: 768px) {
    .probtn a {
        font-size: 38px;
        padding: 28px 50px;
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 50px;
    }
}
.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #182d5a;
}
/*Table CSS Enad*/
/*---- MoneyBack Section Start ---*/
.moneyback-section {
    background: #0d0238;
    background-position: center center;
    background-size: cover;
    padding: 30px 0 30px;
}
@media (min-width:768px) {
    .moneyback-section {
        padding: 100px 0 100px 0px;
        background: #0d0238 url(../images/moneyback-bg.webp) no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
/*---- MoneyBack Section End ---*/
@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}
.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
.amazing-section{	
	padding: 30px 0;
	background: #0d0238;
}

@media (min-width: 768px) {
.amazing-section{	
	padding: 90px 0;
	background: #182d5a url(../images/amazing-bg.webp) no-repeat;
	background-size:cover;
	background-position: center;
}
}
.but-design{
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    display: inline-block;
    border-radius: 65px;
    padding: 15px;
    position: relative;
    z-index: 1;}

@media(min-width:768px){
    .but-design{padding: 15px 35px;}
}
ul.good-list {
    padding: 0px;
    margin: 0px;
}
ul.good-list li {
    background: url(../images/point-icon.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
}
ul.vgreytick li.headline {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%) !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff !important;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 8px 20px;
    line-height: 150%;
   
    color: #000;
}
@media (min-width: 768px){
ul.vgreytick li {
    padding: 24px 10px 24px 60px;
    background-position: 20px 27px;
}
}
ul.vgreytick li:nth-child(odd) {
    background-color:#d7e6ef;
}
/*---- Footer Section Start ---*/
.footer-section {
    background: #05071A;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
    line-height: 130%;
}
.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}
@media(min-width:768px) {
    .footer-section {
        padding: 70px 0px;
    }
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
}
.header-list-block{
    background-color: #fff;
    border: 2px solid #22D2EE;
    border-radius: 20px;
    padding: 30px 30px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
}
/*---- Footer Section End---*/

