#af-form-1888856473 .af-body .af-textWrap{width:100%;display:block;float:none;}
#af-form-1888856473 .af-body a{color:#000000;text-decoration:underline;font-style:normal;font-weight:normal;}
#af-form-1888856473 .af-body input.text, #af-form-1888856473 .af-body textarea{    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background-color: #ffffff;
    height: 55px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none;
    padding: 6px 18px !important;}
	@media (min-width:768px){
	#af-form-1888856473 .af-body input.text, #af-form-1888856473 .af-body textarea{height: 60px;
    font-size: 16px;}
	}
#af-form-1888856473 .af-body input.text:focus, #af-form-1888856473 .af-body textarea:focus{}
#af-form-1888856473 .af-body label.previewLabel{display:block;float:none;text-align:left;width:auto;color:#000000;text-decoration:none;font-style:normal;font-weight:normal;font-size:12px;font-family:Verdana, sans-serif;}
#af-form-1888856473 .af-body{background-repeat:no-repeat;background-position:inherit;background-image:none;color:#000000;}
#af-form-1888856473 .af-footer{padding-bottom:0px;padding-top:0px;padding-right:15px;padding-left:15px;background-color:#transparent;border-width:1px;border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none;color:#000000;font-size:12px;font-family:Verdana, sans-serif;}
#af-form-1888856473 .af-quirksMode .bodyText{padding-top:2px;padding-bottom:2px;}
#af-form-1888856473 .af-quirksMode{padding-right:15px;padding-left:15px;}
#af-form-1888856473 .af-standards .af-element{padding-right:0px;padding-left:0px;}
#af-form-1888856473 .bodyText p{margin:1em 0;}
#af-form-1888856473 .buttonContainer input.submit{background-image:url("https://forms.aweber.com/images/auto/gradient/button/07c.png");background-position:top left;background-repeat:repeat-x;background-color:#0057ac;border:1px solid #0057ac;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:14px;font-family:Verdana, sans-serif;}
#af-form-1888856473 .buttonContainer input.submit{width:auto;}
#af-form-1888856473 .buttonContainer{text-align:center;}
#af-form-1888856473 body,#af-form-1888856473 dl,#af-form-1888856473 dt,#af-form-1888856473 dd,#af-form-1888856473 h1,#af-form-1888856473 h2,#af-form-1888856473 h3,#af-form-1888856473 h4,#af-form-1888856473 h5,#af-form-1888856473 h6,#af-form-1888856473 pre,#af-form-1888856473 code,#af-form-1888856473 fieldset,#af-form-1888856473 legend,#af-form-1888856473 blockquote,#af-form-1888856473 th,#af-form-1888856473 td{float:none;color:inherit;position:static;margin:0;padding:0;}
#af-form-1888856473 button,#af-form-1888856473 input,#af-form-1888856473 submit,#af-form-1888856473 textarea,#af-form-1888856473 select,#af-form-1888856473 label,#af-form-1888856473 optgroup,#af-form-1888856473 option{float:none;position:static;margin:0;}
#af-form-1888856473 div{margin:0;}
#af-form-1888856473 fieldset{border:0;}
#af-form-1888856473 form,#af-form-1888856473 textarea,.af-form-wrapper,.af-form-close-button,#af-form-1888856473 img{float:none;color:inherit;position:static;background-color:none;border:none;margin:0;padding:0;}
#af-form-1888856473 input,#af-form-1888856473 button,#af-form-1888856473 textarea,#af-form-1888856473 select{font-size:100%;}
#af-form-1888856473 p{color:inherit;}
#af-form-1888856473 select,#af-form-1888856473 label,#af-form-1888856473 optgroup,#af-form-1888856473 option{padding:0;}
#af-form-1888856473 table{border-collapse:collapse;border-spacing:0;}
#af-form-1888856473 ul,#af-form-1888856473 ol{list-style-image:none;list-style-position:outside;list-style-type:disc;padding-left:40px;}
#af-form-1888856473,#af-form-1888856473 .quirksMode{width:100%;}
#af-form-1888856473.af-quirksMode{overflow-x:hidden;}
#af-form-1888856473{}
#af-form-1888856473{display:block;}
#af-form-1888856473{overflow:hidden;}
.af-body .af-textWrap{text-align:left;}
/*.af-body input.image{border:none!important;}*/
.af-body input.submit,.af-body input.image,.af-form .af-element input.button{float:none!important;}
.af-body input.submit{white-space:inherit;}
.af-body input.text{width:100%;float:none;padding:2px!important;}
.af-body.af-standards input.submit{padding:4px 12px;}
.af-clear{clear:both;}
.af-element label{text-align:left;display:block;float:left;}
.af-element{padding-bottom:10px;padding-top:10px;}
.af-footer{margin-bottom:0;margin-top:0;padding:10px;}
.af-form-wrapper{text-indent:0;}
.af-form{box-sizing:border-box;text-align:left;margin:auto;}
.af-quirksMode .af-element{padding-left:0!important;padding-right:0!important;}
.lbl-right .af-element label{text-align:right;}