html {
    scroll-behavior: smooth;
}

.container {
    height: unset;
}

.inner-content {
    height: unset;
}

#templateBody {
    font-family: 'Poppins', sans-serif;
    color: #020d13;
    font-size: 14px;
}

.text-nowrap {
    white-space: nowrap;
}


/* Color CSS */

.blue-clr,
a.blue-clr {
    color: #003770;
}
.black-clr,
a.black-clr {
    color: #020d13;
}

.lightcolor {
    color: #eaab26;
}

.red-clr {
    color: #ff3c00;
}

.kapblue {
    color: #224cb0;
}

.grey-clr {
    color: #d6d6d6;
}

.orange-clr {
    color: #eaab26;
}

.red-clr {
    color: #ff3c00;
}

.v-grey-clr {
    color: #303030;
}

.yellow-clr {
    color: #f7d309;
}

.orange-clr1 {
    color: #e15a00;
}



.banner-section,
.footer-section,
.prize-section {
    padding: 30px 0px;
}


/* Header CSS */

.banner-section {
    background: #f7d309;
}

.heading-bg {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    display: inline-block;
}

.blue-back {
    background: #0084ff;
}

.text-bg-block {
    background: #ffd454;
    border-radius: 15px;
    padding: 8px 20px;
    display: inline-block;
    text-align: center;
}

.heading-icon {
    display: block;
    margin-left: 86%;
    margin-top: -18px;
}


/* Responsive Video CSS */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border: 4px solid #ffffff;
    border-radius: 0px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.register-form-back {
    border-radius: 10px;
    background: #d8eef9;
    box-shadow: 0px 0px 35.88px 3.12px rgba(89, 86, 225, 0.11);
    padding: 15px;
}

.register-form-style1 {
    margin: 0px;
}

.register-form-style1 .form-control.input-field {
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    height: 55px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none;
    padding: 6px 18px !important;
    color: #000000;
}

.register-btn a,
.register-btn input[type="submit"] {
    border-radius: 5px;
background-image: -moz-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -webkit-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -ms-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    text-decoration: none;
    border: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 23px 20px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    text-transform: uppercase;
}

.register-btn1 a,
.register-btn1 input[type="submit"] {
    border-radius: 5px;
 background-image: -moz-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -webkit-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -ms-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    text-decoration: none;
    border: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 23px 20px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    text-transform: uppercase;
}

.prize-section {
    background: #ffffff url(../images/prize-bg.png) no-repeat center center;
    background-size: cover;
}

.list-style {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.list-style li {
    background: url(../images/tick.png) no-repeat;
    background-position: 0px 7px;
    padding: 0px 0px 15px 40px;
}

.list-style li:last-child {
    padding-bottom: 0px;
}

.formbg {
    position: relative;
    padding: 15px;
    border-radius: 5px;
    background-color: #dee9f6;
}

.width-form {
    width: 100%;
    float: left;
    padding: 0px 0px;
}

.register-form-style2 .form-control.input-field {
    border-radius: 5px;
    background-color: #f8faff;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    padding: 6px 18px;
    border: solid 1px #cceeff;
    box-shadow: none;
}

#templateBody ::-webkit-input-placeholder {
    color: #57668f;
    font-size: 16px !important;
}

#templateBody :-ms-input-placeholder {
    color: #57668f;
  font-size: 16px !important;
}

#templateBody ::placeholder {
    color: #57668f;
  font-size: 16px !important;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 100px;
    background: #fc6574;
    text-decoration: none;
    border-bottom: 5px solid #ffc4ca;
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 18px 15px 10px 15px;
    line-height: 120%;
    font-weight: 600;
    text-transform: uppercase;
}

.popup-btn a:hover,
.register-btn a:hover,
.register-btn input[type="submit"]:hover,
.register-btn1 a:hover,
.register-btn1 input[type="submit"]:hover {
   background-image: -moz-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
    background-image: -webkit-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
    background-image: -ms-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
}

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}
.highlihgt-heading {
    position: relative;
    padding: 10px 5px;
    display: inline-block;
    color: #f7d309;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    transform: skew(-10deg);
}
.highlihgt-heading span {
    transform: skew(10deg);
    display: inline-block;
}
@media (min-width: 768px) {
	.highlihgt-heading {
    position: relative;
    padding: 15px 20px;
}
    .banner-section {
        background: #f7d309 url(../images/banner-bg.png) no-repeat center center;
        background-size: cover;
        padding: 40px 0px 130px 0px;
    }
    .heading-bg {
        background: url(../images/heading-bg.png) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        padding: 50px 31px 60px 105px;
        border-radius: 0px;
    }
    .footer-section {
        padding: 50px 0px;
    }
    .px-sm45 {
        padding-left: 45px;
        padding-right: 45px;
    }
    .heading-icon {
        margin-left: auto;
        margin-right: -39px;
        margin-top: -33px;
    }
    .text-bg-block {
        padding: 8px 32px;
        border-radius: 45px;
    }
    .responsive-video {
        border: 8px solid #ffffff;
    }
    .register-form-back {
        padding: 30px 25px;
    }
    .register-form-style1 .form-control.input-field {
        height: 51px;
        font-size: 20px;
    }
    .register-btn a,
    .popup-btn a,
    .popup-btn input[type="submit"],
    .register-btn input[type="submit"] {
        padding: 23px 20px;
        display: block;
    }
    .prize-section {
        padding: 80px 0px 100px;
    }
    .list-style li {
        padding: 0px 0px 30px 44px;
    }
    .formbg {
        padding: 40px 30px;
        background: #d8eef9;
        border: none;
        border-radius: 15px;
		float: left;
    }
    .width-form {
        width: 33%;
        padding: 0px 10px !important;
    }
    .width-form-button {
        width: 50%;
        padding: 0px 15px;
    }
    #templateBody ::-webkit-input-placeholder {
        font-size: 20px;
    }
    #templateBody :-ms-input-placeholder {
        font-size: 20px;
    }
    #templateBody ::placeholder {
        font-size: 20px;
    }
    #templateBody .form-control.input-field {
        height: 60px;
        font-size: 20px;
    }
    .mt-sm120 {
        margin-top: 120px;
    }
}

@media (max-width: 767px) {
    .register-form-back {
        min-height: 389px;
    }
    .formbg {
        min-height: 370px;
    }
    .xstext-center {
        text-align: center;
    }
}

.post-heading {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
}

.blue-head {
    color: #3f43ba;
}

@media (min-width: 768px) {
    .register-btn1 a,
    .register-btn1 input[type="submit"] {
        padding: 14px 20px;
    }
}

.timer-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.white-clr,
a.white-clr {
    color: #ffffff;
}

.highlihgt-text {
    position: relative;
    background: #000000;
    padding: 10px 0px;
    width: 100%;
    border-radius: 75px;
    display: inline-block;
    color: #f68a1e;
}

@media(min-width:768px) {
    .highlihgt-text {
        position: relative;
        padding: 8px 20px;
    }
}