.affiliate-link-btn a,
.any-shape,
.blue-bg,
.pre-heading,
.reason-box,
.stats-headline,
.testimonial-box,
.text_1,
.text_2,
.text_3,
a.cta-link-btn {
  display: inline-block;
}
.caveat,
.step1,
.step2,
.step3 {
  font-family: Caveat;
}
.blue-gradient,
.blue-gradient1,
.list-highlight,
span.typed-text {
  -webkit-text-fill-color: transparent;
}
ul.compare-red li,
ul.compare-red1 li {
  list-style-type: none;
  margin-bottom: 10px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Inter, sans-serif;
  color: #000;
  font-size: 14px;
}
.black-clr {
  color: #152028;
}
.red-clr {
  color: #bf1211;
}
.red-clr1 {
  color: #ff5958;
}
.footer-ul li a,
.footer-ul li a:hover,
.white-clr {
  color: #fff;
}
.yellow-clr {
  color: #fffd40;
}
.neon-clr {
  color: #0bcde3;
}
.blue-gradient,
.blue-gradient1 {
  background: #1e9af7;
  color: #1e9af7;
  -webkit-background-clip: text;
}
.under {
  border-bottom: 2px solid transparent;
  color: #1e9af7;
  border-image-slice: 1;
}
.orange-clr {
  color: #f57c25;
}
.green-clr {
  color: #0c710c;
}
span.under {
  border-bottom: 4px solid;
}
.header-section {
  background: url(../images/header-bg.webp) center bottom/cover no-repeat #fff;
  padding: 30px 0 40px;
}
.text_1 {
  animation: text1;
}
.text_2 {
  animation: text2;
}
.text_3 {
  animation: text3;
}
.text_1,
.text_2,
.text_3 {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  animation-duration: 15s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}
.text_1::after,
.text_2::after .text_3::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: steps(1, end) infinite caret;
  animation-duration: 1s;
}
@keyframes text2 {
  0%,
  100%,
  50% {
    width: 0;
  }
  60%,
  90% {
    width: 2em;
  }
}
@keyframes text1 {
  0%,
  100%,
  50% {
    width: 0;
  }
  10%,
  40% {
    width: 7em;
  }
}
@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.pre-heading {
  background: 0 0;
  border-radius: 20px;
  text-align: center;
  position: relative;
  padding: 10px;
  border: 2px solid rgb(77 101 244);
}
.affiliate-link-btn a,
a.cta-link-btn {
  background: linear-gradient(180deg, #ff4f17 0, #ff9315 100%);
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff !important;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}
.list-head li,
.problem li,
.revo-list1 li {
  text-align: left;
  list-style: none;
}
.affiliate-link-btn a:hover,
a.cta-link-btn:hover {
  transition: 0.3s;
  background: linear-gradient(180deg, #ff9315 0, #ff5a28 100%);
}
.warning {
  background-color: red;
  padding: 5px 0;
}
.header-section ul.leader-ul li a,
.main-header-section ul.leader-ul li a {
  text-decoration: none;
  color: #fff;
}
.header-section ul.leader-ul li a:hover {
  border-bottom: 2px solid #f57c25;
}
.header-section ul.leader-ul li,
.main-header-section ul.leader-ul li {
  display: inline-block;
  padding: 0 15px;
}
.header-section ul.leader-ul,
.main-header-section ul.leader-ul {
  list-style-type: none;
  padding: 0;
  margin: 15px 0 0;
}
.list-head li:last-child,
.problem li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.affiliate-link-btn a::before {
  position: absolute;
  width: 100%;
  height: 44px;
  z-index: 1;
  background: linear-gradient(
    171.07deg,
    #fffefe -40.8%,
    rgba(255, 254, 254, 0) 93.21%
  );
  content: "";
  top: 0;
  left: 0;
  border-radius: 0 0 100% 100%;
}
.key-features-bg {
  padding: 20px;
  position: relative;
  width: 100%;
}
.list-head li {
  background: url(../images/pointer.webp) 0 10px no-repeat;
  padding: 10px 0 10px 50px;
}
.list-head li:last-child {
  list-style: none;
}
.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  box-shadow: 0 0 1px 0 rgb(208 219 227 / 58%);
  border-radius: 5px;
}
.responsive-video iframe,
.responsive-video object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.highlight-heading {
  border-bottom: 4px solid;
  color: #fffa64;
}
.list-highlight {
  background: linear-gradient(90deg, #0acee4 0, #3093ff 100%);
  -webkit-background-clip: text;
  font-weight: 600;
}
.revolutionary-section {
  background: url(../images/revolutionary-section-bg.webp) top center no-repeat;
  padding: 30px 0;
}
.blue-bg {
  background: linear-gradient(90deg, #0acee4 0, #3093ff 100%);
  border-radius: 40px;
}
.testimonial-box {
  padding: 15px;
  background: #060c26;
  border-radius: 15px;
  box-shadow: 0 10px 29px 0 rgb(4 4 17 / 20%);
}
.second-header-section {
  background: #f2ecff;
  padding: 30px 0;
}
.gif-bg {
  background: #dcdade;
  padding: 12px;
  border-radius: 21px;
}
.any-shape {
  background-color: #001965;
  padding: 15px;
  border-radius: 100px;
  margin: 0 auto;
  justify-content: center;
}
.step-border,
.step-shape {
  border-radius: 10px;
  height: 100%;
}
.step-shape {
  background-color: #fff;
  position: relative;
  padding: 10px;
}
.step-border {
  border: 2px solid #682af1;
  padding: 30px 20px;
}
.step-shape1 {
  background-image: url(https://cdn.oppyo.com/launches/mailzilo/advanced/step-bg.webp);
  background-repeat: no-repeat;
  max-width: 203px;
  margin: -52px auto 0;
  padding: 7px 20px;
  background-size: 100% 100%;
}
.grey-section,
.this-open-section {
  padding: 30px 0;
  background: #f5f8ff;
}
.hithere-section {
  background: #ff7823;
  padding: 30px 0;
}
.hithere-section1,
.license-section,
.need-marketing,
.power-section,
.problem-bg-section1,
.problem-bg-section3,
.problem-bg-section4,
.research-section,
.simple-section,
.step-section,
.testimonial-section,
.white-section {
  background: #fff;
  padding: 30px 0;
}
.revo-list1 li {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-tick1.webp)
    0 1px no-repeat;
  padding: 0 0 15px 40px;
  font-size: 20px;
}
.reason-box {
  padding: 15px;
  border: 1px solid #0a3584;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 29px 0 rgba(4, 4, 17, 0.2);
}
.boxborder-b,
.boxborder-rb {
  border-bottom: 1px solid #fff;
}
.boxborder-r,
.boxborder-rb {
  border-right: 1px solid #fff;
}
.stats-section {
  background: #0c1320;
  padding: 30px 15px;
}
.stats-headline {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/stats-line.webp)
    center center/100% 100% no-repeat;
  padding: 30px 15px 10px;
}
.stats-block {
  padding: 15px 20px;
  height: 100%;
  border-radius: 20px;
  background-color: #15243f;
  display: flex;
  align-items: center;
  gap: 30px;
}
.stats-block div img {
  width: 46px;
  min-width: 46px;
}
.benefit-section .gap30,
.stats-section .gap30 {
  --bs-gutter-y: 30px;
  --bs-gutter-x: 30px;
}
.power-block {
  border-radius: 20px;
  background-color: #001233;
  padding: 20px;
  position: relative;
}
.connect-line {
  margin-top: -9px;
  z-index: 999;
  position: relative;
}
.bonus-section,
.eleraning-section,
.testimonial-section2,
.testimonial-section3 {
  background: #f5f8ff;
  padding: 30px 0;
}
.big-question-bg {
  background: #001233;
  padding: 30px 0;
}
.big-headline {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/big-line.webp)
    center center/100% 100% no-repeat;
  padding: 30px 0 10px;
  display: inline-block;
  text-align: center;
}
.problem-bg-section,
.problem-bg-section2 {
  background: #01060f;
  padding: 30px 0;
}
.problem-area-shape {
  padding: 15px;
  border-radius: 100px;
  display: inline-block;
  background-image: -moz-linear-gradient(90deg, #730e13 0, #ff4040 100%);
  background-image: -webkit-linear-gradient(90deg, #730e13 0, #ff4040 100%);
  background-image: -ms-linear-gradient(90deg, #730e13 0, #ff4040 100%);
}
ul.compare-red,
ul.compare-red1,
ul.problem {
  margin: 0;
  padding: 0;
}
.problem li {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/sad.webp) 0
    19px no-repeat;
  padding: 15px 0 15px 35px;
}
.shape-headline {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/shape.webp)
    center center/100% 100% no-repeat;
  padding: 9px 0 34px;
  display: inline-block;
  text-align: center;
}
.zero {
  padding: 30px 0;
  background: #e1e7f3;
}
.benefit-section .gaps,
.zero .gap30 {
  --bs-gutter-y: 50px;
}
.next-gen-sec {
  background: 0 0 / cover #020715;
  padding: 30px 0;
  position: relative;
}
.proudly-list-bg {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgb(22 24 94 / 40%);
  padding: 15px;
}
.proudly-tick li {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-check.webp)
    0 4px no-repeat;
  list-style: none;
  padding: 0 0 20px 45px;
}
.d-inline-grid {
  display: inline-grid;
  display: -ms-inline-grid;
  display: -moz-inline-grid;
}
.client-info,
.presenting-shape1 {
  display: inline-flex;
  align-items: center;
}
.step1 {
  color: #17b9ed;
}
.step2 {
  color: #9155ff;
}
.step3 {
  color: #ef3e3a;
}
.alone-bg,
.bonus-section-shape,
.noneed-shape,
.presenting-shape1,
.scary-box,
.scary-container,
.single-testimonial,
.single-testimonial p,
.smile-text,
.table-wrap1,
.thunder,
.unlimited-blub,
.unstoppable {
  position: relative;
}
.demo-section-bg {
  background: #05071c;
  padding: 30px 0;
}
.single-testimonial {
  background-color: #f5f8ff;
  text-align: left;
  border-radius: 30px;
  z-index: 2;
}
.single-testimonial p {
  color: #101012;
  font-size: 17px;
  line-height: 28px;
  padding: 50px 30px 30px;
  z-index: 3;
}
.single-testimonial::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -35px;
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/quote.png)
    34px 15px/60% no-repeat;
  width: 126px;
  height: 100px;
  transform: rotate(180deg);
}
.single-testimonial::after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: -34px;
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/quote.png)
    34px 19px/60% no-repeat;
  width: 126px;
  height: 100px;
}
.client-info {
  gap: 15px;
  padding: 0 30px 30px;
}
.client-details {
  color: #0a3584;
  font-size: 20px;
  font-weight: 600;
}
.feature-highlight {
  background: #082fba;
  padding: 30px 0;
}
.presenting-shape1 {
  background-image: -moz-linear-gradient(78deg, #12072d 0, #220769 100%);
  background-image: -webkit-linear-gradient(78deg, #12072d 0, #220769 100%);
  background-image: -ms-linear-gradient(78deg, #12072d 0, #220769 100%);
  border-radius: 15px;
  padding: 8px 30px;
}
.blue-section {
  padding: 30px 0;
  background: #0042b6;
}
.features-title {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 15px;
}
.bonus-gradient,
.bonus-headline,
.niche-bg,
.red-shape,
.red-shape2 {
  display: inline-block;
}
.features-title .size {
  max-height: 100px;
}
.support-section {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/over-sec-bg.webp)
    center center/cover no-repeat #682af1;
  padding: 30px 0;
}
.boxbg {
  background: 0 0;
  padding: 15px 0;
  height: auto;
}
@media (max-width: 767px) {
  .main-heading {
    background: 0 0 / cover #fff;
    padding: 20px;
    border: 2px solid #2098f7;
    border-radius: 20px;
  }
  .post-heading {
    background: #252145;
    padding: 15px;
    border-radius: 10px;
  }
  .boxborder {
    border: 1px solid #fff;
    border-top: 0;
    padding: 20px;
  }
  .first-top-border,
  .top-first {
    border: 1px solid #fff;
  }
  .mx-autos {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
.targeted-section {
  background: #cdf9da;
  padding: 30px 0;
}
.huge-potential,
.letsee-section,
.noneed-section,
.silver-platter-section,
.table-section {
  padding: 30px 0;
}
.amazing-tool-bg,
.comp-sec,
.comparetable-section {
  padding: 30px 0;
  background: #fff;
}
.nocomparsion-section {
  background: #fff;
  padding-bottom: 30px;
}
.no-comparison-shape {
  background: #f5f8ff;
  padding: 15px;
  border-radius: 10px;
}
.cta-section-new {
  background: url(../images/cta-bg.webp) 0 0 / cover no-repeat;
  padding: 30px 0;
}
.unstoppable-section {
  background: url(../images/unstoppable-section.webp) top center/cover no-repeat;
  padding: 30px 0;
}
.unstoppable {
  background: url(../images/unstoppable.png) center center/cover no-repeat;
  padding: 20px;
}
.imagine-sec {
  background: #f5f8ff;
  padding: 30px 0 0;
}
.noneed-listing li {
  list-style: none;
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-tick.webp)
    0 3px no-repeat;
  padding: 0 0 25px 50px;
  min-height: 42px;
}
.noneed-listing li:last-child {
  padding-bottom: 0;
}
.look-shape {
  border-radius: 20px;
  padding: 20px 15px;
  color: #fff;
  width: 100%;
  float: left;
  background-color: #682af1;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
}
.huge-opportunity-shape {
  background: #eaebeb;
  border: 2px solid #dfdfdf;
  border-radius: 15px;
  padding: 15px 12px;
}
.alone-bg {
  box-shadow: 5.592px 8.29px 12px 0 rgb(33 2 96 / 10%);
  border-radius: 10px;
}
.red-shape {
  background: #9c2341;
  padding: 5px 30px;
  border-radius: 50px;
}
.wearenot-alone-section {
  background: #fff;
  padding: 0 0 30px;
}
.potential-sec {
  padding: 30px 0;
  background: #682af1;
}
.niche-bg {
  border-radius: 40px;
  background: #fd8b25;
  padding: 2px 30px;
}
.bonus-section-shape {
  border-radius: 10px;
  border: 1px dashed #d5cee4;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 15%);
  height: 100%;
}
section.comp-table .fifth-row li:last-child,
section.comp-table .fist-row li:last-child,
section.comp-table .forth-row li:last-child,
section.comp-table .second-row li:last-child,
section.comp-table .third-row li:last-child {
  border-bottom: 1px solid rgb(226 226 226);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.bonus-headline {
  background-image: -webkit-linear-gradient(45deg, #f2a736 0, #e76d24 100%);
  padding: 16px 40px 12px;
  border-radius: 50px;
  text-align: center;
}
.bonus-gradient {
  background: linear-gradient(to bottom, #f2a736 0, #e76d24 100%);
  padding: 30px 30px 15px;
  border-radius: 0 0 30px 30px;
}
.noneed-shape,
section.comp-table ul li:nth-child(odd) {
  background: #f5f8ff;
}
.noneed-shape {
  padding: 15px;
  border-radius: 10px;
}
.noneed-list2 li {
  list-style: none;
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/launch-cross.webp)
    0 3px no-repeat;
  padding: 0 0 25px 50px;
}
.table-list li,
.table-list1 li {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-check.webp)
    15px 22px no-repeat;
  padding: 15px 15px 15px 50px;
  line-height: 150%;
  text-transform: capitalize;
  text-align: left;
}
.noneed-list2 li.happy {
  list-style: none;
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/happy-emoji.png)
    no-repeat !important;
  padding: 0 0 25px 50px;
}
.table-list li.headline,
.table-list1 li.headline {
  padding: 20px 0;
  border-bottom: none !important;
  color: #fff;
  margin: 0;
  font-weight: 700;
  list-style: none;
  text-align: center;
}
.riskfree-section {
  padding: 30px 0;
  background: #101929;
}
.table-wrap {
  background: #fff;
  width: 100%;
  float: left;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 22px 0 rgb(0 0 0 / 20%);
}
.table-wrap1 {
  border-radius: 30px 30px 10px 10px;
  background-color: #fff;
  box-shadow: 0 0 22px 0 rgb(38 23 70 / 40%);
  width: 100%;
  float: left;
  overflow: hidden;
  padding-bottom: 20px;
}
.table-btn {
  padding: 30px 20px;
  text-align: center;
}
.table-list li {
  list-style: none;
}
.table-list li:nth-child(odd) {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-check.webp)
    15px 21px no-repeat #f5f8ff;
}
.table-list li:nth-child(2n) {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-check.webp)
    15px 21px no-repeat #fff;
}
.table-list1 li:nth-child(2n),
.table-list1 li:nth-child(odd) {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-check.webp)
    15px 21px no-repeat;
}
.table-list1 li {
  list-style: none;
  margin: 0;
}
.table-list li.cross-sign {
  background-image: url(https://cdn.oppyo.com/launches/mailzilo/advanced/launch-cross.webp) !important;
  background-position: 15px 21px !important;
}
.table-list li.headline {
  background: -moz-linear-gradient(
    45deg,
    rgb(104 42 241) 0,
    rgb(87 45 180) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgb(104 42 241) 0,
    rgb(87 45 180) 100%
  );
  background: linear-gradient(45deg, rgb(104 42 241) 0, rgb(87 45 180) 100%);
  background-position: 0 !important;
}
.table-list1 li.headline {
  background: linear-gradient(180deg, #173a7a 0, #001233 100%);
  background-position: 0 !important;
}
.awesome-section {
  background: url(../images/awesome-bg.webp) center bottom/cover no-repeat;
  padding: 30px 0;
}
.faq-section {
  padding: 30px 0;
  background-color: #fff;
}
.faq-list {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/faq-icon.webp)
    0 22px no-repeat;
  padding: 20px 15px 20px 35px;
}
.final-section {
  padding: 0 0 30px;
  background: #fff;
}
.final-block {
  padding: 30px 15px;
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/final-call-bg.webp)
    center center/100% 100% no-repeat;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}
.red-shape2 {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/final-call.webp)
    center center/100% 100% no-repeat;
  padding: 5px 35px;
  border-radius: 50px;
}
section.comp-table ul {
  list-style: none;
  padding: 0;
}
section.comp-table ul li {
  border-left: 1px solid rgb(226 226 226);
  border-right: 1px solid rgb(226 226 226);
  height: 60px;
  line-height: 60px;
  align-items: flex-start;
  align-content: center;
  padding: 0 25px;
  justify-content: center;
}
@media (min-width: 768px) {
  .header-section {
    padding: 40px 0 70px;
  }
  .main-heading {
    background: url(../images/main-heading-bg.webp) center center/cover
      no-repeat;
    padding: 38px 40px;
  }
  .post-heading {
    background: url(../images/post-heading.webp) center center/100% 100%
      no-repeat;
    padding: 15px 51px;
  }
  a.cta-link-btn {
    padding: 30px 45px;
    font-size: 32px;
  }
  .affiliate-link-btn a {
    padding: 15px 30px;
    font-size: 18px;
  }
  .pre-heading {
    border-radius: 40px;
    backdrop-filter: blur(40px);
    padding: 15px 20px;
  }
  .key-features-bg {
    padding: 0 0 30px;
  }
  .cta-section-new,
  .faq-section,
  .license-section,
  .revolutionary-section,
  .second-header-section,
  .targeted-section,
  .this-open-section {
    padding: 100px 0;
  }
  .blue-bg {
    padding: 20px;
  }
  .testimonial-box {
    padding: 20px 30px 50px;
  }
  .any-shape {
    padding: 15px 50px;
  }
  .mt-md150 {
    margin-top: 150px !important;
  }
  .hithere-section {
    padding: 30px 0 120px;
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/hi-there.webp)
      center bottom/cover;
  }
  .hithere-section1 {
    padding: 30px 0 100px;
  }
  .research-section {
    padding: 100px 0 230px;
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/research-section-bg.webp)
      center center/cover no-repeat;
  }
  .reason-box {
    padding: 20px 50px;
    border-radius: 50px;
  }
  .girl-img {
    position: absolute;
    right: -155px;
    top: -40px;
  }
  .stats-section {
    padding: 150px 0 100px;
    z-index: 9;
    position: relative;
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/stats-section-bg.webp)
      top center/cover no-repeat;
  }
  .stats-headline {
    padding: 40px 50px;
  }
  .stats-block {
    padding: 15px 30px;
  }
  .blue-section,
  .eleraning-section,
  .grey-section,
  .need-marketing,
  .power-section,
  .problem-bg-section3,
  .problem-bg-section4,
  .silver-platter-section,
  .support-section,
  .white-section {
    padding: 80px 0;
  }
  .power-block {
    border-radius: 30px;
    background-color: #001233;
    padding: 30px 30px 30px 150px;
  }
  .power-block.right {
    padding: 30px 150px 30px 30px;
  }
  .power-block .left-img {
    position: absolute;
    top: 25%;
    left: -110px;
  }
  .power-block.right .right-img {
    position: absolute;
    top: 25%;
    left: auto;
    right: -110px;
  }
  .big-question-bg {
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/big-question-bg.webp)
      center center/cover no-repeat #01060f;
    padding: 100px 0 50px;
  }
  .big-headline {
    padding: 40px 20px;
  }
  .problem-bg-section {
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/.webp)
      center center/cover no-repeat #01060f;
    padding: 100px 0;
  }
  .problem-area-shape {
    padding: 15px 40px;
  }
  .problem-bg-section1 {
    padding: 80px 0 40px;
  }
  .problem-bg-section2 {
    padding: 140px 0 80px;
    background: url(../images/problem-bg-section2.webp) top center/cover
      no-repeat;
  }
  .shape-headline {
    padding: 20px 20px 51px;
  }
  .zero {
    background: url(../images/revolutionary-section-bg.webp) bottom center/cover
      no-repeat #fff;
    padding: 100px 0;
  }
  .next-gen-sec {
    background: url(../images/next-gen-bg.webp) top center/cover no-repeat #fff;
    padding: 0 0 100px;
  }
  .noneed-shape,
  .proudly-list-bg {
    padding: 30px;
  }
  .step-section {
    padding: 70px 0;
    background: url(../images/step-bg.webp) center center/cover no-repeat #fff;
  }
  .step-arrow1 {
    position: absolute;
    left: 444px;
    margin-top: 10px;
  }
  .step-arrow2 {
    position: absolute;
    left: -81px;
    margin-top: 38px;
  }
  .demo-section-bg {
    background: url(../images/demo-section-bg.webp) center center/cover
      no-repeat #05071c;
    padding: 100px 0;
  }
  .testimonial-section2 {
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/testimonial-section-bg2.webp)
      center center/cover no-repeat #f5f8ff;
    padding: 80px 0;
  }
  .testimonial-section3 {
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/testimonials-section-bg.webp)
      center center/cover no-repeat fixed #f5f8ff;
    padding: 80px 0;
  }
  .testimonial-section {
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/testimonial-section.webp)
      center bottom/cover no-repeat #fff;
    padding: 100px 0;
  }
  .single-testimonial p {
    padding: 50px 50px 30px;
  }
  .client-info {
    padding: 0 50px 30px;
  }
  .single-testimonial::before {
    left: -35px;
    top: -35px;
  }
  .single-testimonial::after {
    right: -35px;
    bottom: -34px;
  }
  .gx4 {
    --bs-gutter-x: 2.5rem;
  }
  .feature-highlight {
    padding: 30px 0 120px;
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/feature-heading-bg.webp)
      center bottom/cover;
  }
  .presenting-shape1:after,
  .presenting-shape1:before {
    width: 70px;
    height: 5px;
    background-image: -moz-linear-gradient(78deg, #12072d 0, #220769 100%);
    background-image: -webkit-linear-gradient(78deg, #12072d 0, #220769 100%);
    background-image: -ms-linear-gradient(78deg, #12072d 0, #220769 100%);
    position: absolute;
    content: "";
  }
  .blue-section {
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/blue-section.webp)
      top center/cover no-repeat #fff;
  }
  .presenting-shape1 {
    padding: 15px 40px;
    border-radius: 100px;
  }
  .presenting-shape1:before {
    left: -70px;
  }
  .presenting-shape1:after {
    right: -70px;
  }
  .minus60 {
    margin-top: -68px;
  }
  .boxbg {
    height: 280px;
    padding: 15% 0 20%;
  }
  .awesome-section,
  .comparetable-section {
    padding: 70px 0;
  }
  .nocomparsion-section {
    padding: 0 0 100px;
  }
  .no-comparison-shape {
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/no-comparison-shape-bg.webp)
      0 0 / contain no-repeat;
    height: 633px;
    width: 1173px;
    padding: 80px 70px 15px 400px;
  }
  .unstoppable-section {
    padding: 120px 0;
  }
  .unstoppable {
    padding: 20px 45px 20px 44px;
  }
  .unstoppable::after {
    content: url(../images/run-man.png);
    position: absolute;
    right: 130px;
    bottom: 10px;
  }
  .imagine-sec {
    padding: 80px 0 0;
  }
  .huge-opportunity-shape {
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/huge-opportunity-shape.webp)
      center center/100% 100% no-repeat;
    border: 0;
    border-radius: 0;
    padding: 45px 40px 50px;
  }
  .alone-bg {
    padding: 25px 30px 25px 10px;
  }
  .dollars-sm-image {
    width: 211px;
    min-width: 211px;
    height: 163px;
    margin-left: -120px;
    top: 0;
    left: 0;
  }
  .alone-bg:after {
    content: "";
    position: absolute;
    width: 87px;
    height: 49px;
    background-image: url(https://cdn.oppyo.com/launches/mailzilo/advanced/arrow-down.webp);
    left: 44%;
    bottom: -49px;
  }
  .red-shape {
    padding: 10px 40px;
    border-radius: 50px;
  }
  .wearenot-alone-section {
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/wearenotalone-bg.webp)
      center center/cover no-repeat #fff;
    padding: 0 0 100px;
  }
  .potential-sec {
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/potential-bg.webp)
      center bottom/cover no-repeat #fff;
    padding: 70px 0 150px;
  }
  .niche-bg {
    padding: 2px 50px;
  }
  .bonus-section {
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/bonus-bg.webp)
      center center/cover #f5f8ff;
    padding: 100px 0;
  }
  .margin-t-60 {
    margin-top: -45px;
  }
  .amazing-tool-bg {
    padding: 60px 0 100px;
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/amazing-tool-bg.webp)
      center center/cover no-repeat #fff;
  }
  .noneed-section {
    padding: 100px 0 0;
  }
  .riskfree-section {
    padding: 80px 0 150px;
    background: url(../images/money-back-bg.webp) bottom center/cover no-repeat;
  }
  .table-list li,
  .table-list li.cross-sign,
  .table-list li:nth-child(2n),
  .table-list li:nth-child(odd),
  .table-list1 li:nth-child(2n),
  .table-list1 li:nth-child(odd) {
    background-position: 30px 12px;
  }
  .table-section {
    padding: 100px 0;
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/table-bg.webp)
      center center/cover no-repeat #fff;
  }
  .table-head {
    padding: 80px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0 0;
  }
  .table-head1 {
    padding: 50px 30px;
    text-align: center;
  }
  .table-list li {
    padding: 20px 15px 20px 65px;
  }
  .table-list1 li {
    padding: 10px 15px 10px 75px;
  }
  .final-block {
    padding: 50px;
  }
  .final-section {
    padding: 0 0 50px;
  }
  .red-shape2 {
    padding: 10px 100px;
  }
  section.comp-table ul li {
    border-left: 1px solid rgb(226 226 226);
    border-right: 1px solid rgb(226 226 226);
    height: 90px;
    line-height: 90px;
    display: flex;
    align-items: flex-start;
    align-content: center;
    padding: 0 20px;
    justify-content: start;
  }
}
section.comp-table ul li:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100px;
  font-weight: 600;
}
section.comp-table .fist-row li:first-child {
  border-top-right-radius: 0;
  border-top: 1px solid rgb(226 226 226);
}
section.comp-table .second-row li:first-child {
  border-top: 1px solid rgb(226 226 226);
  height: 150px;
  text-align: center;
  align-items: center;
  background: #6e44ff;
}
section.comp-table .second-row {
  margin-top: -50px;
}
section.comp-table .second-row ul li {
  background: #20075f;
}
section.comp-table .second-row ul li:nth-child(odd) {
  background: #180647;
}
section.comp-table .third-row li:first-child {
  border-top-left-radius: 0;
  align-items: center;
  border-top: 1px solid rgb(226 226 226);
}
section.comp-table .fifth-row ul li,
section.comp-table .forth-row ul li,
section.comp-table .second-row ul li,
section.comp-table .third-row ul li {
  justify-content: center;
  text-align: center;
}
@media (max-width: 767px) {
  section.comp-table ul li {
    height: 100px;
    line-height: 22px;
    padding: 15px;
  }
  section.comp-table .second-row li:first-child svg {
    transform: rotate(90deg);
    height: 30px !important;
  }
  section.comp-table .fifth-row li:first-child span,
  section.comp-table .forth-row li:first-child span,
  section.comp-table .third-row li:first-child span {
    transform: rotate(90deg);
  }
  section.comp-table .second-row li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
section.comp-table .second-row li:first-child,
section.comp-table .third-row li:first-child {
  justify-content: center;
}
@media (min-width: 768px) {
  section.comp-table ul li {
    align-items: center;
    justify-content: start;
    line-height: normal;
    flex-wrap: wrap;
  }
}
section.comp-table ul li span {
  padding-right: 10px;
  display: contents;
}
.footer-section {
  background: #000;
  padding: 30px 0;
}
.footer-ul {
  padding: 0;
  margin: 0;
}
.footer-ul li {
  display: inline;
}
.powerfull-ai,
.proof-sec {
  background: #eff5f9;
  padding: 30px 0;
}
.future-section {
  background: url(../images/future-section.png) top center/cover no-repeat;
  padding: 30px;
}
.benefit-section {
  background-color: #0c1320;
  padding: 30px 15px;
}
.benefit-block {
  padding: 20px 15px;
  height: 100%;
  border-radius: 20px;
  background-color: #15243f;
  display: flex;
  align-items: center;
  gap: 15px;
}
.benefit-block div img {
  width: 38px;
  min-width: 38px;
}
.img-block {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.fea-white {
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.newbie-section {
  background-color: #fff;
  padding: 30px 0;
}
.newbie-headline {
  background: #2572ff;
  padding: 30px 0;
}
.letsee-block {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/letsee-block.webp)
    center center/100% 100% no-repeat;
  padding: 15px;
}
.letsee-price-table {
  border-radius: 15px;
  background-color: #021333;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.4);
  padding: 15px;
}
.lets-see-price-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-shape {
  background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/price-shape.webp)
    center center/100% 100% no-repeat;
  padding: 5px 25px;
  display: inline-block;
  text-align: center;
}
.green-clr1 {
  color: #13b631;
}
.border-b {
  border-bottom: 1px solid #0c2d69;
  padding-bottom: 30px !important;
}
span.typed-text {
  font-weight: 700;
  background: #1e9af7;
  color: #1e9af7;
  -webkit-background-clip: text;
}
span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%,
  100%,
  49% {
    background-color: #ccc;
  }
  50%,
  99% {
    background-color: transparent;
  }
}
.downarrow {
  -moz-animation: 2s infinite bounce;
  -webkit-animation: 2s infinite bounce;
  animation: 2s infinite bounce;
}
@keyframes bounce {
  0% {
    transform: translate(1px, 20px);
  }
  24% {
    transform: translate(1px, 30px);
  }
  50% {
    transform: translate(1px, 12px);
  }
  100%,
  74% {
    transform: translate(1px, 22px);
  }
}
.smile-text {
  border: 2px solid #e54e61;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 50px;
  color: #e54e61;
  background-color: #fff;
}
.chatgpt-head-design,
.combile-automailx {
  border-radius: 20px;
  display: inline-block;
}
.smile-text::before {
  position: absolute;
  content: url(../images/smily.webp);
  left: -40px;
  top: 10px;
}
.proudly-sec {
  background: url(../images/proudly-shape.webp) center center/contain no-repeat;
  padding: 27px 50px 50px;
  display: inline-block;
  margin-top: -48px;
}
.chatgpt-head-design {
  background: #dcf8ff;
  border: 3px dotted #0acee4;
  padding: 20px;
}
.unique-sec {
  padding: 30px 0;
  background: url(../images/unique-bg.webp) center center/cover no-repeat;
}
.combile-automailx {
  background: #dcf8ff;
  padding: 20px;
  border: 5px dashed #0acee4;
}
.customizable-list-box {
  background: linear-gradient(315deg, #143560 0, #2d4f73 100%);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dotted-border,
.inline,
.its-simple,
.red-head,
.still-headline,
.unlimited-head {
  display: inline-block;
}
.gap30 {
  --bs-gutter-y: 30px;
}
.still-think {
  padding: 100px 0;
  background: url(../images/still-think-bg.webp) center center/cover no-repeat;
}
.still-headline {
  background: url(../images/still-bg.webp) center center/100% 100% no-repeat;
  padding: 20px;
}
.problem-app {
  padding: 30px 0;
  background: url(../images/problem_app-bg.webp) top center/cover no-repeat;
}
.product-list {
  background: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
}
.scary-container::before {
  content: "";
  background: #fff;
  opacity: 0.05;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  border-radius: 20px;
}
.scary-box {
  z-index: 2;
}
.best-text,
.not-believe-text {
  position: relative;
  display: inline-block;
}
.ground-breaking-features {
  padding: 30px 0;
  background: url(../images/ground-braking-bg.webp) center center/cover
    no-repeat;
}
.revolution-sec {
  padding: 30px 0;
  background: url(../images/revolution-bg.webp) center center/cover no-repeat;
}
.ef-sec {
  padding: 30px 0;
  background: url(../images/ef-bg.webp) center center/cover no-repeat;
}
.unlock-opportunities-sec {
  padding: 30px 0;
  background: url(../images/unlimited-bg.webp) center center/cover no-repeat;
}
.unlimited-head {
  background: #dcf8ff;
  border-radius: 20px;
  border: 3px dashed #0acee4;
  padding: 20px;
}
.best-part-sec {
  padding: 30px 0;
  background: url(../images/best-part-bg.webp) center center/cover no-repeat;
}
.best-list li {
  background: url(../images/cross-tick.png) 0 10px no-repeat;
  padding: 10px 0 10px 50px;
  text-align: left;
  list-style: none;
}
.compare-red-wrap,
.compare-red-wrap1 {
  padding: 20px;
  position: relative;
  z-index: 9;
}
.compare-red-wrap {
  border: 2px solid red;
  border-radius: 30px;
  background-color: #fff2f2;
}
ul.compare-red li {
  background: url(../images/compare-red.webp) 0 17px no-repeat;
  padding: 5px 0 0 30px;
  text-align: left;
}
.compare-red-wrap1 {
  border: 2px solid rgb(72 211 222);
  border-radius: 30px;
  background-color: rgb(236 248 248);
}
ul.compare-red1 li {
  background: url(../images/blue-tick.png) 0 18px no-repeat;
  padding: 5px 0 0 35px;
  text-align: left;
}
@media (min-width: 768px) {
  .best-part-sec,
  .future-section,
  .ground-breaking-features,
  .huge-potential,
  .letsee-section,
  .problem-app,
  .revolution-sec,
  .unique-sec,
  .unlock-opportunities-sec {
    padding: 100px 0;
  }
  .proof-sec {
    padding: 100px 0 150px;
  }
  .thunder::before {
    position: absolute;
    content: url(../images/thumder-left.png);
    left: 45px;
    top: -5px;
  }
  .thunder::after {
    position: absolute;
    content: url(../images/thumder-right.png);
    right: 45px;
    top: -5px;
  }
  .benefit-section {
    padding: 70px 0;
    background: url(../images/benefit-section.webp) top center/cover no-repeat
      #cdf9da;
  }
  .benefit-section .gaps {
    --bs-gutter-x: 50px;
    --bs-gutter-y: 60px;
  }
  .fea-white {
    padding: 30px;
    height: 100%;
  }
  .newbie-section {
    padding: 0 0 100px;
  }
  .newbie-headline {
    padding: 50px 0 140px;
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/newbie-headline.webp)
      center bottom/cover;
  }
  .letsee-block,
  .scary-container {
    padding: 50px;
  }
  .compare-red-wrap,
  .letsee-price-table {
    padding: 30px;
  }
  .price-shape {
    padding: 9px 40px;
  }
  .proudly-sec {
    margin-top: -28px;
  }
  .chatgpt-head-design {
    border-radius: 50px;
    padding: 18px 40px;
  }
  .unique-text {
    position: relative;
    display: inline-block;
  }
  .unique-text:before {
    position: absolute;
    content: url(../images/red-arrow-left.png);
    bottom: -25px;
    left: -45px;
  }
  .unique-text:after {
    position: absolute;
    content: url(../images/red-arrow-right.png);
    bottom: -25px;
    right: -45px;
  }
  .combile-mailgpt {
    padding: 30px 40px;
  }
  .customizable-list-box {
    padding: 40px;
    height: 100%;
  }
  .gap30 {
    --bs-gutter-x: 50px;
    --bs-gutter-y: 50px;
  }
  .still-headline {
    padding: 20px 70px;
  }
  .product-list {
    padding: 40px;
  }
  .not-believe-text::after,
  .not-believe-text::before {
    position: absolute;
    content: url(../images/not-believe-smile.webp);
    top: -5px;
  }
  .not-believe-text::before {
    left: -90px;
  }
  .not-believe-text::after {
    right: -90px;
  }
  .ef-sec {
    padding: 100px 0 30px;
  }
  .unlimited-blub::after,
  .unlimited-blub::before {
    position: absolute;
    content: url(../images/bulb.webp);
    top: -5px;
  }
  .unlimited-head {
    border-radius: 50px;
    padding: 20px 80px;
  }
  .unlimited-blub::before {
    left: -70px;
  }
  .unlimited-blub::after {
    right: -70px;
  }
  .comp-sec {
    padding: 100px 0;
    background: url(../images/comp-sec-bg.webp) center center no-repeat fixed;
  }
}
.table-border-content {
  background: #fff;
  border: 3px dashed #999;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  overflow: auto;
  padding-bottom: 10px;
}
.tb-check {
  background: #fefe9b;
  padding: 8px 0;
}
.inline {
  padding: 0 1%;
}
.timer-header-top {
  background: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.border-dashed {
  background: #252145;
  border: 2px dashed #b297e9;
  border-radius: 20px;
  padding: 20px;
}
.blue-section1 {
  padding: 30px 0;
  background: url(../images/ground-braking-bg.webp) top center/cover no-repeat;
}
@media (max-width: 767px) {
  section.comp-table .fist-row li:first-child,
  section.comp-table .third-row li:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.comp-table .second-row li:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  section.comp-table .second-row li:first-child svg {
    max-height: 22px !important;
    height: 30px !important;
  }
  section.comp-table ul li {
    height: 180px;
    line-height: 22px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .red-brush {
    background: #fd3013;
    padding: 10px 35px;
    display: inline-block;
  }
}
.profitwall-sec {
  padding: 30px 0;
  background: #170a49;
}
.red-head {
  background: url(../images/niche-bg.webp) center center/100% 100% no-repeat;
  padding: 6px 30px;
}
.dotted-border {
  border: 3px dashed #ec544b;
  border-radius: 50px;
  padding: 10px 40px;
}
.heading-blue-shape {
  background-color: #010323;
  padding: 5px 12px;
  border-radius: 20px;
}
.still-think-section {
  background: #050a2e;
  padding: 30px 0;
}
.line-5 {
  background: #370581;
  height: 5px;
}
.its-simple {
  background: #f6f4ff;
  border-radius: 45px;
  border: 2px dashed #110052;
  padding: 16px 5%;
}
.alone-bg {
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(98, 95, 111, 0.4);
  padding: 15px;
}
.red-brush-top {
  padding: 15px 35px;
}
.table-head1 {
  background: url(../images/table-screen.webp) center/100% 100% no-repeat;
  padding: 40px 30px 30px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  min-height: 250px;
}
.problem-shape {
  border-radius: 10px 10px 0;
  border: 1px solid rgba(255, 176, 176, 0.3);
  background: rgba(255, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  padding: 20px 25px;
}
@media (min-width: 768px) {
  .footer-section {
    padding: 50px 0;
  }
  .table-border-content {
    max-width: 75%;
  }
  .blue-section1,
  .powerfull-ai,
  .profitwall-sec {
    padding: 100px 0;
  }
  .profitwall-sec {
    background: url(../images/problem_app.webp) center center/cover fixed
      #170a49;
  }
  .heading-blue-shape {
    background: url(../images/heading-blue-shape.webp) center center/100% 100%
      no-repeat;
    padding: 10px 35px;
    display: inline-block;
  }
  .still-think-section {
    padding: 100px 0;
    background: url(../images/still-there-section.webp) top center/cover
      no-repeat fixed #050a2e;
    margin-top: 83px;
  }
  .line-5 {
    max-width: 320px;
  }
  .simple-section {
    padding: 50px 0;
    background: url(../images/email-marketing-bg.webp) center center/cover
      no-repeat #fff;
  }
  .alone-bg {
    padding: 30px 5px 30px 25px;
  }
  .red-brush {
    background: url(../images/red-brush.webp) center center/100% 100% no-repeat;
    padding: 10px 80px;
    display: inline-block;
  }
  .table-head1 {
    padding: 80px 30px;
    text-align: center;
    min-height: 568px;
  }
  .still-think-shape,
  .still-think-shape1 {
    background: #050623;
    backdrop-filter: blur(10px);
    margin-left: 60px;
    min-height: 130px;
  }
  .problem-shape {
    padding: 20px 100px;
  }
  .problem-shape:before {
    background: url(../images/cross-icon.webp) no-repeat;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 18px;
    left: 25px;
  }
  .emojii-icon:after {
    background: url(../images/cry-emoji.webp) no-repeat;
    position: absolute;
    content: "";
    width: 130px;
    height: 140px;
    top: -42px;
    right: -40px;
  }
  .still-think-shape {
    border-radius: 10px;
    border: 1px solid rgba(255, 176, 176, 0.3);
    padding: 20px;
  }
  .still-think-shape1 {
    border-radius: 10px;
    border: 1px solid rgba(255, 176, 176, 0.3);
    padding: 20px 30px;
    margin-right: 60px;
  }
  .still-section-image {
    position: absolute;
    top: -115px;
    left: -35px;
  }
  .still-section-image1 {
    position: absolute;
    top: -110px;
    right: -75px;
  }
  .mt-md150 {
    margin-top: 150px !important;
  }
  .mt-md200 {
    margin-top: 200px !important;
  }
}
