html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #100f12;
    font-size: 14px;
}
.black-clr {
    color: #100f12;
}
.white-clr {
    color: #ffffff;
}
.yellow-clr {
    color: #ff7b24;
}
.blue-clr{
    color: #fff;
}
/* nav bar */
.navbar-nav .nav-link {
    color: #fff;
  }
  .dropend .dropdown-toggle {
    color: salmon;
    margin-left: 1em;
  }
  .dropdown-item:hover {
    background-color: lightsalmon;
    color: #fff;
  }
  .dropdown .dropdown-menu {
    display: none;
  }
  .dropdown:hover > .dropdown-menu,
  .dropend:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 0.125em;
  }
  @media screen and (min-width: 769px) {
    .dropend:hover > .dropdown-menu {
      position: absolute;
      top: 0;
      left: 100%;
    }
    .dropend .dropdown-toggle {
      margin-left: 0.5em;
    }
  }

  


  
.bonus-section {
    background: #f9f8f8;
    background-size: cover;
    padding: 30px 0;
}
.bonus-design {
    background-color: rgb(251, 149, 73);
    border-radius: 100px;
    padding: 8px 30px;
    position: relative;
    align-items: center;
}
.option-design {
    background: #00208e;
    border-radius: 40px;
    display: inline-block;
    padding: 8px 10px;
}
.bonus-wrap{
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 13px 68px 0px rgb(6 6 6 / 10%);
}
.bonuscontent-li {
    padding: 0px;
    margin: 0px;
}
.bonuscontent-li li {
    background: url(../images/star.png) no-repeat 15px 10px;
    padding: 5px 0px 10px 50px;
    list-style: none;
}
a.bonusbuy-btn {
    border-radius: 10px;
    background-image: -moz-linear-gradient( 0deg, #fb87e1 0%, #ff516d 100%);
    background-image: -webkit-linear-gradient( 0deg, #fb87e1 0%, #ff516d 100%);
    background-image: -ms-linear-gradient( 0deg, #fb87e1 0%, #ff516d 100%);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    padding: 5px 20px;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
}
a.bonusbuy-btn:hover, a.bonusbuy-btn:focus {
    transition: all .3s ease;
    background-image: -moz-linear-gradient( 0deg, #ff516d 0%, #fb87e1 100% );
    background-image: -webkit-linear-gradient( 0deg, #ff516d 0%, #fb87e1 100% );
    background-image: -ms-linear-gradient( 0deg, #ff516d 0%, #fb87e1 100% );
    color: #fff;
}
@media (min-width: 768px) {
    a.bonusbuy-btn {
        padding: 20px 50px;
        font-size: 35px;
    }
.bonus-section1 {
    padding: 100px 0px 60px 0px;
    background: #f9f8f8;
    background-size: cover;
}
.bonus-section2 {
    padding: 0px 0px 60px 0px;
    background: #f9f8f8;
    background-size: cover;
}
.bonus-design {
    padding: 5px 45px;
}
.bonus-wrap{
    padding: 30px 40px;
    position: relative;
}
.bonus-wrap::after{
    position: absolute;
    bottom: -6px;
    right: 0px;
    content: url(../images/corner.png);
    }
.bonus-design:before {
    width: 80px;
    height: 2px;
    background: #fcc216;
    position: absolute;
    content: '';
    left: -80px;
    top: 50%;
}
.bonus-design:after {
    width: 80px;
    height: 2px;
    background: #fcc216;
    position: absolute;
    content: '';
    right: -80px;
    top: 50%;
}
.option-design {
    padding: 8px 30px;
}
}

.worth-box{
    position: absolute;
    left: 0px;
    top: 0px;
}
.worth_area{
    display: flex;
    padding: 15px 5px;
    background-color: red;
    width: 410px;
    background: linear-gradient(70.57deg,#D04EB3 18.43%,#FF516D 98.7%);
    border-radius: 20px 0px;
}
.worth_area_img {
    display: flex;
    align-items: center;
    justify-items: center;
}
.worth_area_img img{
    max-width: 100%;
    height: auto;
}

.worth-box1{
    position: absolute;
    right: 0px;
    top: 0px;
}
.worth_area1{
    display: flex;
    padding: 15px 5px 5px 5px;
    background-color: red;
    width: 410px;
    background: linear-gradient(70.57deg,#D04EB3 18.43%,#FF516D 98.7%);
    border-radius: 0px 20px;
}
.worth_area_img1 {
    display: flex;
    align-items: center;
    justify-items: center;
}
.worth_area_img1 img{
    max-width: 100%;
    height: auto;
}
.profit-box {
    padding-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #fff;
    text-align: center;
}
.logo img{
    border-radius: 10px 10px 0px 0px;
}
.logo{
    padding: 10px;
}
.text{
    padding: 10px 15px;
}
@media (min-width: 768px){
.gap30 {
    --bs-gutter-y: 50px;
}
.profit-box {
    height: 100%;
    text-align: center;
}}
.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 70px 0px;
    }
}
.video-box {
    position: relative;
    padding: 20px;
    background: url(../images/video-bg2.webp) no-repeat center center;
    background-size: 100% 100%;
    border-radius: 20px;
}