html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}

/* Color CSS */

.white-clr {
    color: #fff;
}

.black-clr {
    color: #0f0f0f;
}

.red-clr {
    color: rgba(239, 71, 72, 1);
}
.header-nav{padding: 30px 15px;}
.header-section {
    background: #0f0f0f;
    padding: 30px 0px;
    position: relative;
}

.pre-heading {
    padding: 25px 15px;
    margin: 0px auto;
    background: url(../images/preheading.webp) no-repeat;
    display: inline-block;
    background-size: cover;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.d-inline-flex {
    display: inline-flex;
}

.relative {
    position: relative;
}

@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .xstext-center {
        text-align: center;
    }
}


/* Header Section Css Start */


.list-head {
    list-style: none;
}

.list-head li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/list-tick.webp) no-repeat;
    padding: 8px 0px 8px 30px;
    background-position: 0px 11px;
    text-align: left;
    border-bottom: solid 1px rgb(11, 11, 49);
}

.list-head li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.list-head li:first-child {
    padding-top: 0px;
}

@media (min-width:768px) {
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
}
/* Second Section Start */
.second-section {
    padding: 0px 0px 30px 0px;
}

ul.features-list {
    margin: 0px;
    padding: 0px;
}

ul.features-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

/* .header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin-top: -200px;
    background: url(https://cdn.oppyo.com/launches/viddeyo/jv/awesome-shape.png) no-repeat center center;
    background-size: cover;
} */

@media (min-width:768px) {
    .second-section {
        padding: 0px 0px 85px 0px;
    }
    /* .header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    } */
}

/* Second Section End */



/* Step Section Start */
.step-section {
	background: #ffffff;
	padding: 30px 0px;
}
.step-section1 {
	background: #ffffff;
	padding: 30px 0px;
}

.step-shape {
	border-radius: 6px;
	background-color: #f9bb0b;
	text-align: center;
	font-weight: 800;
	font-size: 20px;
	color: #000000;
	padding: 12px 20px;
	display: inline-block;
	text-transform: uppercase;
}

.step-shape1 {
	background-color: #f40c28;
	text-align: center;
	color: #ffffff;
	padding: 5px 20px;
	display: inline-block;
}
.step-block{
    height: 100%;
    background: linear-gradient(180deg, #FFEBEB 0%, #FFFFFF 100%);
    border: 8px solid #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    text-align: center;    
}
.step-title {
    padding: 8px 50px;
    color: #ffffff;
    display: inline-block;
    background: #EF4748;
    border-radius: 0px 0px 20px 20px;
}
.step-content{padding: 20px;}
.border-line{
    border-bottom: dashed 1px #cacaca;
    width: 100%;
    margin-top: 5px;
}

@media (min-width:768px) {
	.step-section {
		padding: 100px 0px;
		background: #ffffff url(../images/step-section-bg.webp) no-repeat center center;
        background-attachment: fixed;
	}
    .step-section1 {
		padding: 100px 0px;
		background: #ffffff url(../images/step-section-bg.webp) no-repeat center center;
        background-size: cover;
	}

	.step-arrow1 {
		position: relative;
		bottom: -90px;
	}
}

/* Step Section End */

.third-section {
	background: #eff2ff;
	padding: 30px 0;
}
.header-list-block {
	border-radius: 20px;
	padding: 20px 0px;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	background: #ffffff;
}

@media (min-width:768px) {
	.third-section {
		padding: 100px 0px;
	}
    .header-list-block {
		border-radius: 20px;
		padding: 40px 20px;
	}
}

/* Feature list section */
.feature-list {
	padding: 30px 0px;
}

.feature-list-box {
	border-radius: 10px;
	background-color: #06103c;
	padding: 0px 30px 30px 30px;
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 83px;
	height: calc(100% - 83px);
}

.feature-list-box .icon-position {
	margin-top: -83px;
}

.feature-list-box .description {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 15px;
	color: #fff;
}

@media (min-width: 768px) {
	.feature-list {
		padding: 100px 0px 100px 0px;
		background: #fff url(https://vocalic.co/special/assets/images/feature-section.webp) no-repeat center center;
		background-size: cover;
	}
}

/* Feature list section End*/

/* video-section Start */
.video-section{
    padding: 30px 0;
    background-color: #ffffff;
}
@media (min-width:768px) {
    .video-section{
        padding: 100px 0;
    }  
}
/* video-section End */

/* Demo section css*/
.demo-sec {
	background: #162557 url(../images/proudly-bg.webp) center top no-repeat;
	background-size: cover;
	padding:30px 0px 30px 0px;
}
@media (min-width: 768px) {
	.demo-sec {
		padding:160px 0px 100px 0px;
        background-color: #fff;
	}
}


/* proof Section Start */

.proof-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .proof-section {
        padding: 45px 0px;
    }
}


/* proof Section End */


/* Know Section Css */
.know-sec {
	padding: 30px 0px 0px 0px;
    background: #f1f1f1;
}

@media (min-width:768px) {
	.know-sec {
		padding: 70px 0px 0px 0px;
		background: #f1f1f1 url(https://vocalic.co/special/assets/images/know-bg.webp) center center no-repeat;
		background-size: cover;
	}

	.f-md-80 {
		font-size: 80px;
	}
    .arrow1{
        position: absolute;
        top: -130px;
        right: -80px;
    }
    .arrow {
        position: absolute;
        top: -190px;
        left: -105px;
    }
    .arrow2 {
        position: absolute;
        top: -164px;
        right: -66px;
    }
}

/* Know Section Css End */

.red-shape {
    background: #f40c28;
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}

.red-shape:after {
    content: '';
    background: url(../images/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media(min-width:768px){
    .red-shape {
        padding: 10px 40px;
        border-radius: 50px;
    }
}

/* Stats Section Css */
.stats-sec {
	padding: 30px 0px;
	background: #ffffff;
}

.stats-block {
	border-radius: 20px;
	background-color: rgb(232, 237, 255);
	padding: 20px;
	height: 100%;
}

.stats-block .content {
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 15px 0px rgba(4, 6, 21, 0.1);
	padding: 20px;
	text-align: center;
}

.stats-wrapper {
	padding: 20px;
	border-radius: 30px;
	background-image: -moz-linear-gradient(90deg, rgb(0, 16, 132) 0%, rgb(0, 17, 58) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(0, 16, 132) 0%, rgb(0, 17, 58) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(0, 16, 132) 0%, rgb(0, 17, 58) 100%);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.over-shape {
    background: url(https://cdn.oppyo.com/launches/webpull/special/over-shape.webp) no-repeat center center;
    display: inline-block;
    padding: 0px 20px;
    background-size: 100% 100%;
}

@media (min-width:768px) {
	.stats-sec {
		padding: 100px 0px;
		background: #fff url(../images/stats-bg.webp) center bottom no-repeat;
		background-size: cover;
	}

	.stats-wrapper {
		padding: 60px;
	}
    .over-shape {
        padding: 16px 60px;
        background-size: 100%;
    }
}

/* Stats Section Css End */

/* Proudly Section */
.proudly-sec {
	background: #162557 url(../images/proudly-bg.webp) center top no-repeat;
	background-size: cover;
	padding:30px 0px 30px 0px;
}

ul.proudly-list {
    margin: 0px;
    padding: 0px;
}
ul.proudly-list li {
    background: url(../images/favicon.webp) no-repeat;
    padding: 0px 0px 25px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.proudly-list li:last-child {
    padding-bottom: 0px;
}
.proudly-list-bg {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
    padding: 15px;
}
@media (min-width:768px) {
	.proudly-sec {
		padding: 130px 0px 100px 0px;
        background-color: #fff ;
	}
    .proudly-list-bg {
        padding: 30px;
    }
}
/* Proudly Section End */

.per-shape {
    background: url(https://cdn.oppyo.com/launches/vocalic/jv/presenting-shape.webp) center center no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 20px 55px 30px 55px;
}

/* Team Section Sart */


.new-dcp-team-section {
    background: #ffffff;
    padding: 0px 0px 30px 0px;
}

.heading-design {
    padding: 12px 15px;
    display: inline-block;
    background-color: rgb(110, 68, 255);
    border-radius: 65px;
    margin-top: -32px;
}

.awesome-shape {
    padding: 0px 15px 15px 15px;
    background: #ebe1f3;
    width: 100%;
    float: left;
    box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 6%);
    border-radius: 20px;
    top: -200px;
    position: relative;
}

@media (min-width: 768px) {
    .new-dcp-team-section {
        padding: 0px 0px 100px 0px;
    }
    .heading-design {
        padding: 12px 50px;
        margin-top: -47px;
    }
    .awesome-shape {
        padding: 0px 50px 50px 50px;
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/awesome-shape.webp) no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
}


/* Team Section End */


/* Thatsall Section Start */

.thatsall-section {
    padding: 0px 0px 230px 0px;
    background: #030b0f url(https://cdn.oppyo.com/launches/viddeyo/special/here-are-some.svg) no-repeat center center;
    background-size: cover;
}

.content-box {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 0px rgb(12 11 17 / 15%);
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;
}

.content-box .stats {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    min-width: 120px;
    justify-content: center;
    text-align: center;
    line-height: 58px;
    background-image: -moz-linear-gradient( -45deg, rgb(70, 24, 227) 0%, rgb(158, 40, 182) 51%, rgb(245, 55, 137) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(70, 24, 227) 0%, rgb(158, 40, 182) 51%, rgb(245, 55, 137) 100%);
    background-image: -ms-linear-gradient( -45deg, rgb(70, 24, 227) 0%, rgb(158, 40, 182) 51%, rgb(245, 55, 137) 100%);
}

.content-box .stats.flex-wrap {
    flex-direction: column;
    line-height: 40px;
}

.content-box .stats span {
    font-size: 28px;
}

.content-box .title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
}

.number-shape {
    position: relative;
    display: inline-block;
    width: auto;
}

.text-element {
    display: inline-block;
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/textelement.webp) no-repeat center center;
    background-size: 100% 100%;
}

.every-business-shape {
    background: #fc6dab;
    padding: 20px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .thatsall-section {
        padding: 0px 0px 100px 0px;
    }
    .f-md-70 {
        font-size: 70px;
    }
    .that-arrow {
        position: absolute;
        top: -70px;
        right: -80px;
    }
    .content-box .title {
        font-size: 24px;
        line-height: 34px;
    }
    .arrow1 {
        position: absolute;
        top: -140%;
        left: 11px;
    }
    .text-element {
        padding: 8px 45px;
    }
}

@media (min-width: 1600px) {
    .that-man {
        position: absolute;
        bottom: 0px;
        right: -10px;
        display: block !important;
    }
    .that-camera {
        position: absolute;
        top: 50%;
        left: 5%;
        display: block !important;
    }
}


/* Thatsall Section End */


/* Thatsall Section Start */

.compact-section {
    padding: 30px 0px;
    background: #f4f3f9 url(https://cdn.oppyo.com/launches/viddeyo/special/second-section.webp) no-repeat center center;
    background-size: cover;
}

.compact-section .box {
    background: #ffffff;
    float: left;
    position: relative;
    padding: 15px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 25px 0px rgb(12 11 17 / 15%);
    height: 100%;
}

.compact-section .box .title {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 22px;
}

.compact-section .box .title:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 61%;
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/arrow-down.webp) no-repeat center center;
    width: 64px;
    height: 95px;
}

@media (min-width: 768px) {
    .compact-section {
        padding: 100px 0px;
    }
    .compact-section .box .title {
        font-size: 24px;
    }
    .gx-6 {
        --bs-gutter-x: 5rem;
    }
}


/* Compact Section End */


/* Problem there Section Start */

.problem-bg-section {
    background: #ffbdbd url(https://cdn.oppyo.com/launches/viddeyo/special/problem-sec.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px;
}

.problem-bg-section1 {
    background: #fff1f1;
    padding: 30px 0px;
}

.problem-bg-section2 {
    padding: 30px 0px;
    background: #ffbdbd url(https://cdn.oppyo.com/launches/viddeyo/special/problem-bg1.webp) no-repeat top center;
    background-size: cover;
}

.converting-shape1 {
    background-color: #ff2323;
    padding: 10px;
    display: inline-block;
    border-radius: 65px;
    margin-top: 10px;
}

.butnot-shape {
    background-color: rgb(110, 68, 255);
    padding: 10px 15px;
    display: inline-block;
    border-radius: 65px;
    margin-top: 10px;
}

.problme-area-shape,
.problme-area-shape1 {
    width: 100%;
    float: left;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    margin-top: -20px;
}

.z-index9 {
    z-index: 9;
}

.problme-shape1 {
    border-radius: 20px;
    background-color: #ffffff;
    width: 100%;
    float: left;
    padding: 15px;
}

@media (min-width: 768px) {
    .converting-shape1 {
        border-radius: 65px;
        padding: 15px 40px 15px 40px;
    }
    .butnot-shape {
        border-radius: 65px;
        padding: 15px 40px 15px 40px;
    }
    .problem-bg-section {
        padding: 100px 0px 150px 0px;
    }
    .problem-bg-section1 {
        padding: 50px 0px 50px 0px;
    }
    .problem-bg-section2 {
        padding: 100px 0px;
    }
    .problme-area-shape {
        width: calc(100% + 70px);
        float: left;
        padding: 30px 30px 30px 70px;
        margin-left: -70px;
        z-index: 0;
        margin-top: 0px;
    }
    .problme-area-shape1 {
        width: calc(100% + 70px);
        float: left;
        padding: 30px 70px 30px 30px;
        margin-right: -70px;
        z-index: 0;
        margin-top: 0px;
    }
    .f-md-70 {
        font-size: 70px;
    }
    .problme-shape1 {
        padding: 30px;
    }
}


/* Problem there Section End */




.new-steps-bg {
    background: #f4f3f9 url(https://cdn.oppyo.com/launches/viddeyo/special/second-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .new-steps-bg {
        padding: 100px 0px 100px 0px;
    }
}

/* Testimonial Section Start */

.testimonial-section {
    background: #fff;
    padding: 30px 0px;
}
.testi-block {
    position: relative;
    background: #ffffff;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 0px rgb(88 85 92 / 30%);
    border-left: solid 5px #f40c28;
}
@media(min-width:768px) {
    .testimonial-section {
        padding: 70px 0px;
    }
    .testi-block {
        padding: 40px 25px;
    }
}


/* Testimonial Section End */

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.next-gen-sec {
    background: #0f0f0f url(../images/next-gen-bg.webp) no-repeat center bottom;
    background-size: cover;
    padding: 40px 0px;
}
.presenting-wrap {
    padding: 0px 0px 15px 0px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.25);
    max-width: 95%;
    margin: 20px auto 0px auto;
}
.presenting-head {
    background: url(../images/introducing-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 55px 70px 55px;
    display: inline-block;
    margin-top: -10px;
}
@media(min-width:768px){
    .next-gen-sec {
        padding: 100px 0px;
    }
    .presenting-wrap {
        padding: 0px 0px 100px 0px;
        max-width: 95%;
        border-radius: 50px;
        margin: 50px auto 0px auto;
    }
    .presenting-head {
        padding: 20px 140px 120px 140px;
        margin-top: -20px;
    }  
}
@media(min-width:1600px){
    .presenting-wrap {
        max-width: 85%;
    }
}

/* Jobiin Section */

.jobiin-header-section {
    background: #141516 url(../images/jobiin-header-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 30px 0px 230px 0px;
    position: relative;
}

@media(min-width:768px) {
    .jobiin-header-section {
        padding: 40px 0px 250px 0px;
    }
}

.jobiin-header-section .headline-highlight {
    color: #ffb80f;
}

@media (min-width: 768px) {
    .jobiin-header-section .headline-highlight {
        background: url(https://cdn.oppyo.com/launches/jobiin/special/heading-shape.svg) no-repeat center center;
        background-size: cover;
        display: inline-block;
        color: #000000;
        padding: 8px 53px 8px 26px;
    }
}

.grey-clr {
    color: #d5d1d1;
}

.jobiin-second-section {
    padding: 0px 0px 30px 0px;
}

@media(min-width:768px) {
    .jobiin-second-section {
        padding: 0px 0px 100px 0px;
    }
}

.z-index-9 {
    z-index: 9;
}

.jobiin-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin-top: -200px;
    background: #ffffff;
}

@media (min-width: 768px) {
    .jobiin-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    }
}

/* vocalic-header-section Start*/
.vocalic-header-section {
    background: #001244;
    padding: 30px 0px;
}
.vocalic-header-section ul.vidboxs-leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
.vocalic-header-section ul.vidboxs-leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}
.vocalic-header-section ul.vidboxs-leader-ul li a{
    color: #fff;
}
.vocalic-header-section .affiliate-link-btn a {
    border-radius: 60px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    color: #0f172b !important;
    font-weight: 700;
}
.vocalic-header-section .vidboxs-preheadline  {
    background: #ffffff;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
}
.vocalic-header-section .vidboxs-highlight-heading {
    background: #00aced;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0px;
}
.vocalic-header-section .vidboxs-post-heading {
    border-top: 1px solid #3a55a5;
    border-bottom: 1px solid #3a55a5;
    padding: 20px 0;
    display: inline-flex;
}
.vocalic-header-section .responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.vocalic-header-section .responsive-video iframe,
.vocalic-header-section .responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.vocalic-header-section .yellow-clr{color:#ffe400;}
.vocalic-header-section a.cta-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 5px;
    color: #ffffff;
    font-weight: 800;
    font-size: 22px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 100px;
    transition: all 0.5s;
    border-radius: 100px;
    background-image: -moz-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
}
.vocalic-header-section a.cta-link-btn:hover{
    transition: all .3s ease;
    background-image: -moz-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    color: #ffffff;
    text-decoration: none;
    transform: scale(1.1);
    transition: all 0.5s;
}
.vocalic-header-section .calendar-wrap {
    border-radius: 15px;
    background-color: #000f59;
    padding: 20px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.vocalic-header-section .list-head {
    list-style: none;
}
.vocalic-header-section .list-head li {
    background: url(https://cdn.oppyo.com/launches/vocalic/special/list-tick.webp) no-repeat;
    padding: 0px 0px 10px 30px;
    margin-bottom: 10px;
    background-position: 0px 8px;
    text-align: left;
    border-bottom: solid 1px #1d3271;
}
@media(min-width:768px){
    .vocalic-header-section {
        background: #001244 url(../images/vocalic-header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 70px 0px;
    }
    .vocalic-header-section .affiliate-link-btn a{
        padding: 10px 25px;
        font-size: 18px;
    }
    .vocalic-header-section a.cta-link-btn{
        font-size: 36px;
        padding: 28px 60px 30px 60px;
        display: inline-block;
    }
    .vocalic-header-section ul.leader-ul {
        margin-top: 0px;
    }
}

/* vocalic-header-section End*/

/* Webpull Section Start */
.webpull-header-section{
    padding: 50px 0px 30px;
    background-color: #641fcc;
}
.webpull-header-section ul.leader-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 12px;
}
.webpull-header-section ul.leader-ul li{
    display: inline-block;
    padding: 0px 5px;
    font-weight: 300;
}
.webpull-header-section ul.leader-ul li a{
    text-decoration: none;
    color: #ffffff;
}
.webpull-header-section .affiliate-link-btn a {
    border-radius: 65px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 500;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
}
.webpull-header-section .affiliate-link-btn a:hover{
    transition: all .3s ease;
    background-image: -moz-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
}
.webpull-header-section .pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: #101012;
    outline: none;
    border-color: #682af1;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}
.webpull-header-section .highlight-heading {
    background: #fb954a;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0px;
}
.webpull-header-section .responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
	border-radius: 5px;
}

.webpull-header-section .responsive-video iframe,
.webpull-header-section .responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.webpull-header-section a.cta-link-btn{    
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 0px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    background-image: -moz-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -webkit-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -ms-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: 0.5s;}
    .webpull-header-section a.cta-link-btn:hover{
        background: linear-gradient(90deg, rgba(253, 139, 37, 1) 0%, rgba(255, 103, 28, 1) 100%);
        text-decoration: none;
        transform: scale(1.03);
    }
    .webpull-header-section .key-features-bg{
        padding: 20px;
        position: relative;
        width: 100%;
        text-align: center;
        background: rgba(255, 255, 255, 0.09);
        border-radius: 15px;
    }
    .webpull-header-section .list-head {
        list-style: none;
    }
    .webpull-header-section .list-head li {
        background: url(../images/webpull-green-tick1.webp) no-repeat;
        padding: 10px 0px 10px 35px;
        background-position: 0px 13px;
        text-align: left;
        border-bottom: solid 1px #8051d5;
    }
    .webpull-header-section .white-clr2 {
        color: #efebeb;
    }
@media (min-width:767px){
    .webpull-header-section{
        background: #682af1 url(../images/webpull-header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 30px 0px;
    }
    .webpull-header-section .affiliate-link-btn a{
        padding: 15px 30px;
        font-size: 24px;
    }
    .webpull-header-section .pre-heading{
        padding: 15px 30px;
        border-radius: 100px;
    }
    .webpull-header-section a.cta-link-btn{
        font-size: 32px;
        padding: 24px 50px 24px 50px;
        display: inline-block;
    }
}
/* WebPull Section End */

.list-section {
    padding: 0px 0px 30px 0px;
    background: #ffffff;
}

@media(min-width:768px) {
    .list-section {
        padding: 0px 0px 50px 0px;
    }
}
.header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    /* margin-top: -90px; */
}

@media(min-width:768px) {
    .header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }
}

@media (min-width: 768px){
.button-shape {
    padding: 15px 30px;
}}
.button-shape {
    position: relative;
    background: #f9bb0b;
    padding: 15px 20px;
    color: #0f0f0f;
    margin: -10px 10px 10px -10px;
    border-radius: 10px;
}
.but-design-border {
    border: solid 1px #0f0f0f;
    position: relative;
    display: inline-flex;
    border-radius: 10px;
}



/* Fe sections Css */

.step-section {
	background: #ffffff;
	padding: 30px 0px;
}
.step-section1 {
	background: #ffffff;
	padding: 30px 0px;
}

.step-shape {
	border-radius: 6px;
	background-color: #f9bb0b;
	text-align: center;
	font-weight: 800;
	font-size: 20px;
	color: #000000;
	padding: 12px 20px;
	display: inline-block;
	text-transform: uppercase;
}

.step-shape1 {
	background-color: #f40c28;
	text-align: center;
	color: #ffffff;
	padding: 12px 20px;
	display: inline-block;
}
.step-block{
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    height: 100%;      
}
.border-line{
    border-bottom: dashed 1px #cacaca;
    width: 100%;
    margin-top: 5px;
}

@media (min-width:768px) {
	.step-section {
		padding: 100px 0px;
		background: #ffffff url(../images/step-section-bg.webp) no-repeat center center;
        background-attachment: fixed;
	}
    .step-section1 {
		padding: 100px 0px;
		background: #ffffff url(../images/step-section-bg.webp) no-repeat center center;
        background-size: cover;
	}

	.step-arrow1 {
		position: relative;
		bottom: -90px;
	}
}

ul.features-list {
	margin: 0px;
	padding: 0px;
}

ul.features-list li {
	background: url(../images/tick-icon.webp) no-repeat;
	padding: 0px 0px 20px 45px;
	background-position: 0px 3px;
	list-style: none;
    min-height: 30px;
}

ul.features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}

@media (max-width: 767px) {
	ul.features-list li {
		padding: 0px 5px 20px 40px;
		background-position: 4px 3px;
	}
}

/* Billion View Section */
.billion-section {
    background:#0e0319 url(../images/billion-bg.webp) center center no-repeat;
    background-size: cover;
	padding:30px 0px;
}

@media (min-width: 768px) {
	.billion-section {
		padding:100px 0px;
	}
    .f-md-120{
        font-size: 120px;
    }
}
/* Billion View Section End */

/* Proof Section */
.proof-section {
	background: #f1f1f1;
	padding:30px 0px;
}

@media (min-width: 768px) {
	.proof-section {
		padding:100px 0px;       
	}
}
/* Proof Section End */

/* Facts Bg Section */
.facts-bg{
	background: #ffffff;
	padding:30px 0px;
}
.skew-shape{
    background: url(../images/orange-shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding:15px;
    display: inline-block;
}
@media (min-width: 768px) {
	.facts-bg{
		padding:100px 0px;
        background: url(../images/facts-bg.webp) no-repeat center center;
        background-size: cover;
	}
    .skew-shape{
        padding: 30px 60px;
    }
}
/* Facts Bg Section End */


/* Proudly Section */
.proudly-sec {
	background: #0f0f0f url(../images/proudly-bg.webp) center center no-repeat;
	background-size: cover;
	padding:30px 0px;
}

ul.proudly-list {
    margin: 0px;
    padding: 0px;
}
ul.proudly-list li {
    background: url(../images/icon.webp) no-repeat;
    padding: 0px 0px 25px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.proudly-list li:last-child {
    padding-bottom: 0px;
}
.proudly-list-bg {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
    padding: 15px;
}
@media (min-width:768px) {
	.proudly-sec {
		padding:80px 0px;
	}
    .proudly-list-bg {
        padding: 30px;
    }
}

/* Proudly Section End */


/* ProfitMozo Section  */

.header3 {
    background: #1d2d45;
    background: -moz-linear-gradient(top, #1d2d45 0%, #21385c 50%, #254677 100%);
    background: -webkit-linear-gradient(top, #1d2d45 0%,#21385c 50%,#254677 100%);
    background: linear-gradient(to bottom, #1d2d45 0%,#21385c 50%,#254677 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2d45', endColorstr='#254677',GradientType=0 );
    width: 100%;
    padding: 30px 0px;
}
@media (min-width:768px){
    .header3 {
        padding: 80px 0px;
    }  
}

.profitcolor {
    color: #00ccff;
}
.whitetext {
    color: #FFFFFF;
}
.orange {
    color: #f5821f;
}

/* ProfitMozo Section Ends */
.quote1 {
    position: relative;
    z-index: 0;
}
.quote1::before {
    position: absolute;
    content: '';
    left: -14px;
    top: -3px;
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/quote1.webp) no-repeat;
    min-width: 39px;
    min-height: 30px;
    z-index: -1;
}
.quote1::after {
    position: absolute;
    content: '';
    bottom: -2px;
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/quote2.webp) no-repeat;
    min-width: 39px;
    min-height: 30px;
    margin-right: 15px;
}

/* Billion View Section */
.billion-section {
    background:#0e0319 url(../images/billion-bg.webp) center center no-repeat;
    background-size: cover;
	padding:30px 0px;
}
.billion-section .heading-design{
    background: url(../images/head-design.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 20px;
    display: inline-block;
}
.billion-section .billion-wrap {
	padding:15px 0px;
	max-width: 95%;
	margin: auto;
    background: #FEFEFE;
    border-radius: 20px;
}

.billion-section .border-cover {
    background: #FFF4F6;
    border: 5px solid #FFD2D8;
    border-radius: 20px;
    padding: 15px;
    display: inline-block;
}

@media (min-width: 768px) {
	.billion-section {
		padding:100px 0px;
	}
    .billion-section .f-md-100{
        font-size: 100px;
    }
    .billion-section .heading-design{
        padding: 10px 50px;
    }
    .billion-section .billion-wrap {
		padding: 80px;
		max-width: 95%;
		border-radius: 50px;
		margin: auto;
	}
    .billion-section .border-cover{padding: 20px 50px;}
}
@media(min-width:1600px) {
	.billion-section .billion-wrap {
		max-width: 75%;
	}
}

/* Billion View Section End */
