html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	line-height: normal;
}

/*  Remove the outline on focused links when they are also active or hovered  in all browsers (opinionated). */
a:active,
a:hover,
a:focus
{outline: none; }

/*<!--==================== All Fonts in Pixel  ====================-->*/

/* Use For all Grid */
.f-1{font-size:1px}.f-2{font-size:2px}.f-3{font-size:3px}.f-4{font-size:4px}.f-5{font-size:5px}.f-6{font-size:6px}
.f-7{font-size:7px}.f-8{font-size:8px}.f-9{font-size:9px}.f-10{font-size:10px}.f-11{font-size:11px}.f-12{font-size:12px}
.f-13{font-size:13px}.f-14{font-size:14px}.f-15{font-size:15px}.f-16{font-size:16px}.f-17{font-size:17px}.f-18{font-size:18px}
.f-19{font-size:19px}.f-20{font-size:20px}.f-21{font-size:21px}.f-22{font-size:22px}.f-23{font-size:23px}.f-24{font-size:24px}
.f-25{font-size:25px}.f-26{font-size:26px}.f-27{font-size:27px}.f-28{font-size:28px}.f-29{font-size:29px}.f-30{font-size:30px}
.f-31{font-size:31px}.f-32{font-size:32px}.f-33{font-size:33px}.f-34{font-size:34px}.f-35{font-size:35px}.f-36{font-size:36px}
.f-37{font-size:37px}.f-38{font-size:38px}.f-39{font-size:39px}.f-40{font-size:40px}.f-41{font-size:41px}.f-42{font-size:42px}
.f-43{font-size:43px}.f-44{font-size:44px}.f-45{font-size:45px}.f-46{font-size:46px}.f-47{font-size:47px}.f-48{font-size:48px}
.f-49{font-size:49px}.f-50{font-size:50px}.f-51{font-size:51px}.f-52{font-size:52px}.f-53{font-size:53px}.f-54{font-size:54px}
.f-55{font-size:55px}.f-56{font-size:56px}.f-57{font-size:57px}.f-58{font-size:58px}.f-59{font-size:59px}.f-60{font-size:60px}


/* Use For sm Grid */
@media (min-width: 768px){
.f-sm-1{font-size:1px}.f-sm-2{font-size:2px}.f-sm-3{font-size:3px}.f-sm-4{font-size:4px}.f-sm-5{font-size:5px}
.f-sm-6{font-size:6px}.f-sm-7{font-size:7px}.f-sm-8{font-size:8px}.f-sm-9{font-size:9px}.f-sm-10{font-size:10px}.f-sm-11{font-size:11px}
.f-sm-12{font-size:12px}
.f-sm-13{font-size:13px}.f-sm-14{font-size:14px}.f-sm-15{font-size:15px}.f-sm-16{font-size:16px}.f-sm-17{font-size:17px}
.f-sm-18{font-size:18px}.f-sm-19{font-size:19px}.f-sm-20{font-size:20px}.f-sm-21{font-size:21px}.f-sm-22{font-size:22px}
.f-sm-23{font-size:23px}.f-sm-24{font-size:24px}.f-sm-25{font-size:25px}.f-sm-26{font-size:26px}.f-sm-27{font-size:27px}
.f-sm-28{font-size:28px}.f-sm-29{font-size:29px}.f-sm-30{font-size:30px}.f-sm-31{font-size:31px}.f-sm-32{font-size:32px}
.f-sm-33{font-size:33px}.f-sm-34{font-size:34px}.f-sm-35{font-size:35px}.f-sm-36{font-size:36px}.f-sm-37{font-size:37px}
.f-sm-38{font-size:38px}.f-sm-39{font-size:39px}.f-sm-40{font-size:40px}.f-sm-41{font-size:41px}.f-sm-42{font-size:42px}
.f-sm-43{font-size:43px}.f-sm-44{font-size:44px}.f-sm-45{font-size:45px}.f-sm-46{font-size:46px}.f-sm-47{font-size:47px}
.f-sm-48{font-size:48px}.f-sm-49{font-size:49px}.f-sm-50{font-size:50px}.f-sm-51{font-size:51px}.f-sm-52{font-size:52px}
.f-sm-53{font-size:53px}.f-sm-54{font-size:54px}.f-sm-55{font-size:55px}.f-sm-56{font-size:56px}.f-sm-57{font-size:57px}
.f-sm-58{font-size:58px}.f-sm-59{font-size:59px}.f-sm-60{font-size:60px}.f-sm-61{font-size:61px}.f-sm-62{font-size:62px}
.f-sm-63{font-size:63px}.f-sm-64{font-size:64px}.f-sm-65{font-size:65px}.f-sm-66{font-size:66px}.f-sm-67{font-size:67px}
.f-sm-68{font-size:68px}.f-sm-69{font-size:69px}.f-sm-70{font-size:70px}.f-sm-71{font-size:71px}.f-sm-72{font-size:72px}
.f-sm-73{font-size:73px}.f-sm-74{font-size:74px}.f-sm-75{font-size:75px}.f-sm-76{font-size:76px}.f-sm-77{font-size:77px}
.f-sm-78{font-size:78px}.f-sm-79{font-size:79px}.f-sm-80{font-size:80px}.f-sm-81{font-size:81px}.f-sm-82{font-size:82px}
.f-sm-83{font-size:83px}.f-sm-84{font-size:84px}.f-sm-85{font-size:85px}.f-sm-86{font-size:86px}.f-sm-87{font-size:87px}
.f-sm-88{font-size:88px}.f-sm-89{font-size:89px}.f-sm-90{font-size:90px}.f-sm-91{font-size:91px}.f-sm-92{font-size:92px}
.f-sm-93{font-size:93px}.f-sm-94{font-size:94px}.f-sm-95{font-size:95px}.f-sm-96{font-size:96px}.f-sm-97{font-size:97px}
.f-sm-98{font-size:98px}.f-sm-99{font-size:99px}.f-sm-100{font-size:100px}.f-sm-120{font-size:120px}
}
/* Use For md Grid */




/*<!--=============================================================-->*/
/*<!--====================All Margin in Pixel====================-->*/
/*<!--=============================================================-->*/


/* Use For all Grid */

.my5{margin-top: 5px ; margin-bottom: 5px }
.my10{margin-top: 10px ; margin-bottom: 10px }
.my15{margin-top: 15px ; margin-bottom: 15px }
.my20{margin-top: 20px ; margin-bottom: 20px }
.my25{margin-top: 25px ; margin-bottom: 25px }
.my30{margin-top: 30px ; margin-bottom: 30px }

.mx5{margin-left: 5px ; margin-right: 5px }
.mx10{margin-left: 10px ; margin-right: 10px }
.mx15{margin-left: 15px ; margin-right: 15px }
.mx20{margin-left: 20px ; margin-right: 20px }
.mx25{margin-left: 25px ; margin-right: 25px }
.mx30{margin-left: 30px ; margin-right: 30px }

.m0{margin: 0px }
.m5{margin: 5px }
.m10{margin: 10px }
.m15{margin: 15px }
.m20{margin: 20px }
.m25{margin: 25px }
.m30{margin: 30px }


/* Margin top classess */	
.mt0{margin-top:0}.mt1{margin-top:1px}.mt2{margin-top:2px}.mt3{margin-top:3px}.mt4{margin-top:4px}.mt5{margin-top:5px}.mt6{margin-top:6px}.mt7{margin-top:7px}.mt8{margin-top:8px}.mt9{margin-top:9px}.mt10{margin-top:10px}.mt11{margin-top:11px}.mt12{margin-top:12px}.mt13{margin-top:13px}.mt14{margin-top:14px}.mt15{margin-top:15px}.mt16{margin-top:16px}.mt17{margin-top:17px}.mt18{margin-top:18px}.mt19{margin-top:19px}.mt20{margin-top:20px}.mt21{margin-top:21px}.mt22{margin-top:22px}.mt23{margin-top:23px}.mt24{margin-top:24px}.mt25{margin-top:25px}.mt26{margin-top:26px}.mt27{margin-top:27px}.mt28{margin-top:28px}.mt29{margin-top:29px}.mt30{margin-top:30px}.mt31{margin-top:31px}.mt32{margin-top:32px}.mt33{margin-top:33px}.mt34{margin-top:34px}.mt35{margin-top:35px}.mt36{margin-top:36px}.mt37{margin-top:37px}.mt38{margin-top:38px}.mt39{margin-top:39px}.mt40{margin-top:40px}.mt41{margin-top:41px}.mt42{margin-top:42px}.mt43{margin-top:43px}.mt44{margin-top:44px}.mt45{margin-top:45px}.mt46{margin-top:46px}.mt47{margin-top:47px}.mt48{margin-top:48px}.mt49{margin-top:49px}.mt50{margin-top:50px}.mt51{margin-top:51px}.mt52{margin-top:52px}.mt53{margin-top:53px}.mt54{margin-top:54px}.mt55{margin-top:55px}.mt56{margin-top:56px}.mt57{margin-top:57px}.mt58{margin-top:58px}.mt59{margin-top:59px}.mt60{margin-top:60px}.mt61{margin-top:61px}.mt62{margin-top:62px}.mt63{margin-top:63px}.mt64{margin-top:64px}.mt65{margin-top:65px}.mt66{margin-top:66px}.mt67{margin-top:67px}.mt68{margin-top:68px}.mt69{margin-top:69px}.mt70{margin-top:70px}.mt71{margin-top:71px}.mt72{margin-top:72px}.mt73{margin-top:73px}.mt74{margin-top:74px}.mt75{margin-top:75px}.mt76{margin-top:76px}.mt77{margin-top:77px}.mt78{margin-top:78px}.mt79{margin-top:79px}.mt80{margin-top:80px}.mt81{margin-top:81px}.mt82{margin-top:82px}.mt83{margin-top:83px}.mt84{margin-top:84px}.mt85{margin-top:85px}.mt86{margin-top:86px}.mt87{margin-top:87px}.mt88{margin-top:88px}.mt89{margin-top:89px}.mt90{margin-top:90px}.mt91{margin-top:91px}.mt92{margin-top:92px}.mt93{margin-top:93px}.mt94{margin-top:94px}.mt95{margin-top:95px}.mt96{margin-top:96px}.mt97{margin-top:97px}.mt98{margin-top:98px}.mt99{margin-top:99px}.mt100{margin-top:100px}.mt120{margin-top:120px}.mt150{margin-top:150px}


/* Negative Margin top classess */
.mtm1{margin-top:-1px}.mtm2{margin-top:-2px}.mtm3{margin-top:-3px}.mtm4{margin-top:-4px}.mtm5{margin-top:-5px}.mtm6{margin-top:-6px}.mtm7{margin-top:-7px}.mtm8{margin-top:-8px}.mtm9{margin-top:-9px}.mtm10{margin-top:-10px}.mtm11{margin-top:-11px}.mtm12{margin-top:-12px}.mtm13{margin-top:-13px}.mtm14{margin-top:-14px}.mtm15{margin-top:-15px}.mtm16{margin-top:-16px}.mtm17{margin-top:-17px}.mtm18{margin-top:-18px}.mtm19{margin-top:-19px}.mtm20{margin-top:-20px}.mtm21{margin-top:-21px}.mtm22{margin-top:-22px}.mtm23{margin-top:-23px}.mtm24{margin-top:-24px}.mtm25{margin-top:-25px}.mtm26{margin-top:-26px}.mtm27{margin-top:-27px}.mtm28{margin-top:-28px}.mtm29{margin-top:-29px}.mtm30{margin-top:-30px}.mtm31{margin-top:-31px}.mtm32{margin-top:-32px}.mtm33{margin-top:-33px}.mtm34{margin-top:-34px}.mtm35{margin-top:-35px}.mtm36{margin-top:-36px}.mtm37{margin-top:-37px}.mtm38{margin-top:-38px}.mtm39{margin-top:-39px}.mtm40{margin-top:-40px}


/* Margin Bottom classess */	
.mb0{margin-bottom:0}.mb1{margin-bottom:1px}.mb2{margin-bottom:2px}.mb3{margin-bottom:3px}.mb4{margin-bottom:4px}.mb5{margin-bottom:5px}.mb6{margin-bottom:6px}.mb7{margin-bottom:7px}.mb8{margin-bottom:8px}.mb9{margin-bottom:9px}.mb10{margin-bottom:10px}.mb11{margin-bottom:11px}.mb12{margin-bottom:12px}.mb13{margin-bottom:13px}.mb14{margin-bottom:14px}.mb15{margin-bottom:15px}.mb16{margin-bottom:16px}.mb17{margin-bottom:17px}.mb18{margin-bottom:18px}.mb19{margin-bottom:19px}.mb20{margin-bottom:20px}.mb21{margin-bottom:21px}.mb22{margin-bottom:22px}.mb23{margin-bottom:23px}.mb24{margin-bottom:24px}.mb25{margin-bottom:25px}.mb26{margin-bottom:26px}.mb27{margin-bottom:27px}.mb28{margin-bottom:28px}.mb29{margin-bottom:29px}.mb30{margin-bottom:30px}.mb31{margin-bottom:31px}.mb32{margin-bottom:32px}.mb33{margin-bottom:33px}.mb34{margin-bottom:34px}.mb35{margin-bottom:35px}.mb36{margin-bottom:36px}.mb37{margin-bottom:37px}.mb38{margin-bottom:38px}.mb39{margin-bottom:39px}.mb40{margin-bottom:40px}.mb41{margin-bottom:41px}.mb42{margin-bottom:42px}.mb43{margin-bottom:43px}.mb44{margin-bottom:44px}.mb45{margin-bottom:45px}.mb46{margin-bottom:46px}.mb47{margin-bottom:47px}.mb48{margin-bottom:48px}.mb49{margin-bottom:49px}.mb50{margin-bottom:50px}.mb51{margin-bottom:51px}.mb52{margin-bottom:52px}.mb53{margin-bottom:53px}.mb54{margin-bottom:54px}.mb55{margin-bottom:55px}.mb56{margin-bottom:56px}.mb57{margin-bottom:57px}.mb58{margin-bottom:58px}.mb59{margin-bottom:59px}.mb60{margin-bottom:60px}.mb61{margin-bottom:61px}.mb62{margin-bottom:62px}.mb63{margin-bottom:63px}.mb64{margin-bottom:64px}.mb65{margin-bottom:65px}.mb66{margin-bottom:66px}.mb67{margin-bottom:67px}.mb68{margin-bottom:68px}.mb69{margin-bottom:69px}.mb70{margin-bottom:70px}.mb71{margin-bottom:71px}.mb72{margin-bottom:72px}.mb73{margin-bottom:73px}.mb74{margin-bottom:74px}.mb75{margin-bottom:75px}.mb76{margin-bottom:76px}.mb77{margin-bottom:77px}.mb78{margin-bottom:78px}.mb79{margin-bottom:79px}.mb80{margin-bottom:80px}.mb81{margin-bottom:81px}.mb82{margin-bottom:82px}.mb83{margin-bottom:83px}.mb84{margin-bottom:84px}.mb85{margin-bottom:85px}.mb86{margin-bottom:86px}.mb87{margin-bottom:87px}.mb88{margin-bottom:88px}.mb89{margin-bottom:89px}.mb90{margin-bottom:90px}.mb91{margin-bottom:91px}.mb92{margin-bottom:92px}.mb93{margin-bottom:93px}.mb94{margin-bottom:94px}.mb95{margin-bottom:95px}.mb96{margin-bottom:96px}.mb97{margin-bottom:97px}.mb98{margin-bottom:98px}.mb99{margin-bottom:99px}.mb100{margin-bottom:100px}

/* Margin Left classess */	
.ml0{margin-left:0}.ml1{margin-left:1px}.ml2{margin-left:2px}.ml3{margin-left:3px}.ml4{margin-left:4px}.ml5{margin-left:5px}.ml6{margin-left:6px}.ml7{margin-left:7px}.ml8{margin-left:8px}.ml9{margin-left:9px}.ml10{margin-left:10px}.ml11{margin-left:11px}.ml12{margin-left:12px}.ml13{margin-left:13px}.ml14{margin-left:14px}.ml15{margin-left:15px}.ml16{margin-left:16px}.ml17{margin-left:17px}.ml18{margin-left:18px}.ml19{margin-left:19px}.ml20{margin-left:20px}.ml21{margin-left:21px}.ml22{margin-left:22px}.ml23{margin-left:23px}.ml24{margin-left:24px}.ml25{margin-left:25px}.ml26{margin-left:26px}.ml27{margin-left:27px}.ml28{margin-left:28px}.ml29{margin-left:29px}.ml30{margin-left:30px}.ml31{margin-left:31px}.ml32{margin-left:32px}.ml33{margin-left:33px}.ml34{margin-left:34px}.ml35{margin-left:35px}.ml36{margin-left:36px}.ml37{margin-left:37px}.ml38{margin-left:38px}.ml39{margin-left:39px}.ml40{margin-left:40px}.ml41{margin-left:41px}.ml42{margin-left:42px}.ml43{margin-left:43px}.ml44{margin-left:44px}.ml45{margin-left:45px}.ml46{margin-left:46px}.ml47{margin-left:47px}.ml48{margin-left:48px}.ml49{margin-left:49px}.ml50{margin-left:50px}.ml51{margin-left:51px}.ml52{margin-left:52px}.ml53{margin-left:53px}.ml54{margin-left:54px}.ml55{margin-left:55px}.ml56{margin-left:56px}.ml57{margin-left:57px}.ml58{margin-left:58px}.ml59{margin-left:59px}.ml60{margin-left:60px}.ml61{margin-left:61px}.ml62{margin-left:62px}.ml63{margin-left:63px}.ml64{margin-left:64px}.ml65{margin-left:65px}.ml66{margin-left:66px}.ml67{margin-left:67px}.ml68{margin-left:68px}.ml69{margin-left:69px}.ml70{margin-left:70px}.ml71{margin-left:71px}.ml72{margin-left:72px}.ml73{margin-left:73px}.ml74{margin-left:74px}.ml75{margin-left:75px}.ml76{margin-left:76px}.ml77{margin-left:77px}.ml78{margin-left:78px}.ml79{margin-left:79px}.ml80{margin-left:80px}.ml81{margin-left:81px}.ml82{margin-left:82px}.ml83{margin-left:83px}.ml84{margin-left:84px}.ml85{margin-left:85px}.ml86{margin-left:86px}.ml87{margin-left:87px}.ml88{margin-left:88px}.ml89{margin-left:89px}.ml90{margin-left:90px}.ml91{margin-left:91px}.ml92{margin-left:92px}.ml93{margin-left:93px}.ml94{margin-left:94px}.ml95{margin-left:95px}.ml96{margin-left:96px}.ml97{margin-left:97px}.ml98{margin-left:98px}.ml99{margin-left:99px}.ml100{margin-left:100px}

/* Margin Right classess */	
.mr0{margin-right:0}.mr1{margin-right:1px}.mr2{margin-right:2px}.mr3{margin-right:3px}.mr4{margin-right:4px}.mr5{margin-right:5px}.mr6{margin-right:6px}.mr7{margin-right:7px}.mr8{margin-right:8px}.mr9{margin-right:9px}.mr10{margin-right:10px}.mr11{margin-right:11px}.mr12{margin-right:12px}.mr13{margin-right:13px}.mr14{margin-right:14px}.mr15{margin-right:15px}.mr16{margin-right:16px}.mr17{margin-right:17px}.mr18{margin-right:18px}.mr19{margin-right:19px}.mr20{margin-right:20px}.mr21{margin-right:21px}.mr22{margin-right:22px}.mr23{margin-right:23px}.mr24{margin-right:24px}.mr25{margin-right:25px}.mr26{margin-right:26px}.mr27{margin-right:27px}.mr28{margin-right:28px}.mr29{margin-right:29px}.mr30{margin-right:30px}.mr31{margin-right:31px}.mr32{margin-right:32px}.mr33{margin-right:33px}.mr34{margin-right:34px}.mr35{margin-right:35px}.mr36{margin-right:36px}.mr37{margin-right:37px}.mr38{margin-right:38px}.mr39{margin-right:39px}.mr40{margin-right:40px}.mr41{margin-right:41px}.mr42{margin-right:42px}.mr43{margin-right:43px}.mr44{margin-right:44px}.mr45{margin-right:45px}.mr46{margin-right:46px}.mr47{margin-right:47px}.mr48{margin-right:48px}.mr49{margin-right:49px}.mr50{margin-right:50px}.mr51{margin-right:51px}.mr52{margin-right:52px}.mr53{margin-right:53px}.mr54{margin-right:54px}.mr55{margin-right:55px}.mr56{margin-right:56px}.mr57{margin-right:57px}.mr58{margin-right:58px}.mr59{margin-right:59px}.mr60{margin-right:60px}.mr61{margin-right:61px}.mr62{margin-right:62px}.mr63{margin-right:63px}.mr64{margin-right:64px}.mr65{margin-right:65px}.mr66{margin-right:66px}.mr67{margin-right:67px}.mr68{margin-right:68px}.mr69{margin-right:69px}.mr70{margin-right:70px}.mr71{margin-right:71px}.mr72{margin-right:72px}.mr73{margin-right:73px}.mr74{margin-right:74px}.mr75{margin-right:75px}.mr76{margin-right:76px}.mr77{margin-right:77px}.mr78{margin-right:78px}.mr79{margin-right:79px}.mr80{margin-right:80px}.mr81{margin-right:81px}.mr82{margin-right:82px}.mr83{margin-right:83px}.mr84{margin-right:84px}.mr85{margin-right:85px}.mr86{margin-right:86px}.mr87{margin-right:87px}.mr88{margin-right:88px}.mr89{margin-right:89px}.mr90{margin-right:90px}.mr91{margin-right:91px}.mr92{margin-right:92px}.mr93{margin-right:93px}.mr94{margin-right:94px}.mr95{margin-right:95px}.mr96{margin-right:96px}.mr97{margin-right:97px}.mr98{margin-right:98px}.mr99{margin-right:99px}.mr100{margin-right:100px}

/* Use For SM Grid */
@media (min-width: 768px){
	
.my-sm5{margin-top: 5px; margin-bottom: 5px}
.my-sm10{margin-top: 10px; margin-bottom: 10px}
.my-sm15{margin-top: 15px; margin-bottom: 15px}
.my-sm20{margin-top: 20px; margin-bottom: 20px}
.my-sm25{margin-top: 25px; margin-bottom: 25px}
.my-sm30{margin-top: 30px; margin-bottom: 30px}

.mx-sm5{margin-left: 5px; margin-right: 5px}
.mx-sm10{margin-left: 10px; margin-right: 10px}
.mx-sm15{margin-left: 15px; margin-right: 15px}
.mx-sm20{margin-left: 20px; margin-right: 20px}
.mx-sm25{margin-left: 25px; margin-right: 25px}
.mx-sm30{margin-left: 30px; margin-right: 30px}

.m-sm0{margin: 0px}
.m-sm5{margin: 5px}
.m-sm10{margin: 10px}
.m-sm15{margin: 15px}
.m-sm20{margin: 20px}
.m-sm25{margin: 25px}
.m-sm30{margin: 30px}	
	
	
/* Margin top classess */	
.mt-sm0{margin-top:0}.mt-sm1{margin-top:1px}.mt-sm2{margin-top:2px}.mt-sm3{margin-top:3px}.mt-sm4{margin-top:4px}.mt-sm5{margin-top:5px}.mt-sm6{margin-top:6px}.mt-sm7{margin-top:7px}.mt-sm8{margin-top:8px}.mt-sm9{margin-top:9px}.mt-sm10{margin-top:10px}.mt-sm11{margin-top:11px}.mt-sm12{margin-top:12px}.mt-sm13{margin-top:13px}.mt-sm14{margin-top:14px}.mt-sm15{margin-top:15px}.mt-sm16{margin-top:16px}.mt-sm17{margin-top:17px}.mt-sm18{margin-top:18px}.mt-sm19{margin-top:19px}.mt-sm20{margin-top:20px}.mt-sm21{margin-top:21px}.mt-sm22{margin-top:22px}.mt-sm23{margin-top:23px}.mt-sm24{margin-top:24px}.mt-sm25{margin-top:25px}.mt-sm26{margin-top:26px}.mt-sm27{margin-top:27px}.mt-sm28{margin-top:28px}.mt-sm29{margin-top:29px}.mt-sm30{margin-top:30px}.mt-sm31{margin-top:31px}.mt-sm32{margin-top:32px}.mt-sm33{margin-top:33px}.mt-sm34{margin-top:34px}.mt-sm35{margin-top:35px}.mt-sm36{margin-top:36px}.mt-sm37{margin-top:37px}.mt-sm38{margin-top:38px}.mt-sm39{margin-top:39px}.mt-sm40{margin-top:40px}.mt-sm41{margin-top:41px}.mt-sm42{margin-top:42px}.mt-sm43{margin-top:43px}.mt-sm44{margin-top:44px}.mt-sm45{margin-top:45px}.mt-sm46{margin-top:46px}.mt-sm47{margin-top:47px}.mt-sm48{margin-top:48px}.mt-sm49{margin-top:49px}.mt-sm50{margin-top:50px}.mt-sm51{margin-top:51px}.mt-sm52{margin-top:52px}.mt-sm53{margin-top:53px}.mt-sm54{margin-top:54px}.mt-sm55{margin-top:55px}.mt-sm56{margin-top:56px}.mt-sm57{margin-top:57px}.mt-sm58{margin-top:58px}.mt-sm59{margin-top:59px}.mt-sm60{margin-top:60px}.mt-sm61{margin-top:61px}.mt-sm62{margin-top:62px}.mt-sm63{margin-top:63px}.mt-sm64{margin-top:64px}.mt-sm65{margin-top:65px}.mt-sm66{margin-top:66px}.mt-sm67{margin-top:67px}.mt-sm68{margin-top:68px}.mt-sm69{margin-top:69px}.mt-sm70{margin-top:70px}.mt-sm71{margin-top:71px}.mt-sm72{margin-top:72px}.mt-sm73{margin-top:73px}.mt-sm74{margin-top:74px}.mt-sm75{margin-top:75px}.mt-sm76{margin-top:76px}.mt-sm77{margin-top:77px}.mt-sm78{margin-top:78px}.mt-sm79{margin-top:79px}.mt-sm80{margin-top:80px}.mt-sm81{margin-top:81px}.mt-sm82{margin-top:82px}.mt-sm83{margin-top:83px}.mt-sm84{margin-top:84px}.mt-sm85{margin-top:85px}.mt-sm86{margin-top:86px}.mt-sm87{margin-top:87px}.mt-sm88{margin-top:88px}.mt-sm89{margin-top:89px}.mt-sm90{margin-top:90px}.mt-sm91{margin-top:91px}.mt-sm92{margin-top:92px}.mt-sm93{margin-top:93px}.mt-sm94{margin-top:94px}.mt-sm95{margin-top:95px}.mt-sm96{margin-top:96px}.mt-sm97{margin-top:97px}.mt-sm98{margin-top:98px}.mt-sm99{margin-top:99px}.mt-sm100{margin-top:100px}	
	
/* Margin Bottom classess */	
.mb-sm0{margin-bottom:0}.mb-sm1{margin-bottom:1px}.mb-sm2{margin-bottom:2px}.mb-sm3{margin-bottom:3px}.mb-sm4{margin-bottom:4px}.mb-sm5{margin-bottom:5px}.mb-sm6{margin-bottom:6px}.mb-sm7{margin-bottom:7px}.mb-sm8{margin-bottom:8px}.mb-sm9{margin-bottom:9px}.mb-sm10{margin-bottom:10px}.mb-sm11{margin-bottom:11px}.mb-sm12{margin-bottom:12px}.mb-sm13{margin-bottom:13px}.mb-sm14{margin-bottom:14px}.mb-sm15{margin-bottom:15px}.mb-sm16{margin-bottom:16px}.mb-sm17{margin-bottom:17px}.mb-sm18{margin-bottom:18px}.mb-sm19{margin-bottom:19px}.mb-sm20{margin-bottom:20px}.mb-sm21{margin-bottom:21px}.mb-sm22{margin-bottom:22px}.mb-sm23{margin-bottom:23px}.mb-sm24{margin-bottom:24px}.mb-sm25{margin-bottom:25px}.mb-sm26{margin-bottom:26px}.mb-sm27{margin-bottom:27px}.mb-sm28{margin-bottom:28px}.mb-sm29{margin-bottom:29px}.mb-sm30{margin-bottom:30px}.mb-sm31{margin-bottom:31px}.mb-sm32{margin-bottom:32px}.mb-sm33{margin-bottom:33px}.mb-sm34{margin-bottom:34px}.mb-sm35{margin-bottom:35px}.mb-sm36{margin-bottom:36px}.mb-sm37{margin-bottom:37px}.mb-sm38{margin-bottom:38px}.mb-sm39{margin-bottom:39px}.mb-sm40{margin-bottom:40px}.mb-sm41{margin-bottom:41px}.mb-sm42{margin-bottom:42px}.mb-sm43{margin-bottom:43px}.mb-sm44{margin-bottom:44px}.mb-sm45{margin-bottom:45px}.mb-sm46{margin-bottom:46px}.mb-sm47{margin-bottom:47px}.mb-sm48{margin-bottom:48px}.mb-sm49{margin-bottom:49px}.mb-sm50{margin-bottom:50px}.mb-sm51{margin-bottom:51px}.mb-sm52{margin-bottom:52px}.mb-sm53{margin-bottom:53px}.mb-sm54{margin-bottom:54px}.mb-sm55{margin-bottom:55px}.mb-sm56{margin-bottom:56px}.mb-sm57{margin-bottom:57px}.mb-sm58{margin-bottom:58px}.mb-sm59{margin-bottom:59px}.mb-sm60{margin-bottom:60px}.mb-sm61{margin-bottom:61px}.mb-sm62{margin-bottom:62px}.mb-sm63{margin-bottom:63px}.mb-sm64{margin-bottom:64px}.mb-sm65{margin-bottom:65px}.mb-sm66{margin-bottom:66px}.mb-sm67{margin-bottom:67px}.mb-sm68{margin-bottom:68px}.mb-sm69{margin-bottom:69px}.mb-sm70{margin-bottom:70px}.mb-sm71{margin-bottom:71px}.mb-sm72{margin-bottom:72px}.mb-sm73{margin-bottom:73px}.mb-sm74{margin-bottom:74px}.mb-sm75{margin-bottom:75px}.mb-sm76{margin-bottom:76px}.mb-sm77{margin-bottom:77px}.mb-sm78{margin-bottom:78px}.mb-sm79{margin-bottom:79px}.mb-sm80{margin-bottom:80px}.mb-sm81{margin-bottom:81px}.mb-sm82{margin-bottom:82px}.mb-sm83{margin-bottom:83px}.mb-sm84{margin-bottom:84px}.mb-sm85{margin-bottom:85px}.mb-sm86{margin-bottom:86px}.mb-sm87{margin-bottom:87px}.mb-sm88{margin-bottom:88px}.mb-sm89{margin-bottom:89px}.mb-sm90{margin-bottom:90px}.mb-sm91{margin-bottom:91px}.mb-sm92{margin-bottom:92px}.mb-sm93{margin-bottom:93px}.mb-sm94{margin-bottom:94px}.mb-sm95{margin-bottom:95px}.mb-sm96{margin-bottom:96px}.mb-sm97{margin-bottom:97px}.mb-sm98{margin-bottom:98px}.mb-sm99{margin-bottom:99px}.mb-sm100{margin-bottom:100px}
	
	
/* Margin Left classess */	
.ml-sm0{margin-left:0}.ml-sm1{margin-left:1px}.ml-sm2{margin-left:2px}.ml-sm3{margin-left:3px}.ml-sm4{margin-left:4px}.ml-sm5{margin-left:5px}.ml-sm6{margin-left:6px}.ml-sm7{margin-left:7px}.ml-sm8{margin-left:8px}.ml-sm9{margin-left:9px}.ml-sm10{margin-left:10px}.ml-sm11{margin-left:11px}.ml-sm12{margin-left:12px}.ml-sm13{margin-left:13px}.ml-sm14{margin-left:14px}.ml-sm15{margin-left:15px}.ml-sm16{margin-left:16px}.ml-sm17{margin-left:17px}.ml-sm18{margin-left:18px}.ml-sm19{margin-left:19px}.ml-sm20{margin-left:20px}.ml-sm21{margin-left:21px}.ml-sm22{margin-left:22px}.ml-sm23{margin-left:23px}.ml-sm24{margin-left:24px}.ml-sm25{margin-left:25px}.ml-sm26{margin-left:26px}.ml-sm27{margin-left:27px}.ml-sm28{margin-left:28px}.ml-sm29{margin-left:29px}.ml-sm30{margin-left:30px}.ml-sm31{margin-left:31px}.ml-sm32{margin-left:32px}.ml-sm33{margin-left:33px}.ml-sm34{margin-left:34px}.ml-sm35{margin-left:35px}.ml-sm36{margin-left:36px}.ml-sm37{margin-left:37px}.ml-sm38{margin-left:38px}.ml-sm39{margin-left:39px}.ml-sm40{margin-left:40px}.ml-sm41{margin-left:41px}.ml-sm42{margin-left:42px}.ml-sm43{margin-left:43px}.ml-sm44{margin-left:44px}.ml-sm45{margin-left:45px}.ml-sm46{margin-left:46px}.ml-sm47{margin-left:47px}.ml-sm48{margin-left:48px}.ml-sm49{margin-left:49px}.ml-sm50{margin-left:50px}.ml-sm51{margin-left:51px}.ml-sm52{margin-left:52px}.ml-sm53{margin-left:53px}.ml-sm54{margin-left:54px}.ml-sm55{margin-left:55px}.ml-sm56{margin-left:56px}.ml-sm57{margin-left:57px}.ml-sm58{margin-left:58px}.ml-sm59{margin-left:59px}.ml-sm60{margin-left:60px}.ml-sm61{margin-left:61px}.ml-sm62{margin-left:62px}.ml-sm63{margin-left:63px}.ml-sm64{margin-left:64px}.ml-sm65{margin-left:65px}.ml-sm66{margin-left:66px}.ml-sm67{margin-left:67px}.ml-sm68{margin-left:68px}.ml-sm69{margin-left:69px}.ml-sm70{margin-left:70px}.ml-sm71{margin-left:71px}.ml-sm72{margin-left:72px}.ml-sm73{margin-left:73px}.ml-sm74{margin-left:74px}.ml-sm75{margin-left:75px}.ml-sm76{margin-left:76px}.ml-sm77{margin-left:77px}.ml-sm78{margin-left:78px}.ml-sm79{margin-left:79px}.ml-sm80{margin-left:80px}.ml-sm81{margin-left:81px}.ml-sm82{margin-left:82px}.ml-sm83{margin-left:83px}.ml-sm84{margin-left:84px}.ml-sm85{margin-left:85px}.ml-sm86{margin-left:86px}.ml-sm87{margin-left:87px}.ml-sm88{margin-left:88px}.ml-sm89{margin-left:89px}.ml-sm90{margin-left:90px}.ml-sm91{margin-left:91px}.ml-sm92{margin-left:92px}.ml-sm93{margin-left:93px}.ml-sm94{margin-left:94px}.ml-sm95{margin-left:95px}.ml-sm96{margin-left:96px}.ml-sm97{margin-left:97px}.ml-sm98{margin-left:98px}.ml-sm99{margin-left:99px}.ml-sm100{margin-left:100px}
		
/* Margin Right classess */		
.mr-sm0{margin-right:0}.mr-sm1{margin-right:1px}.mr-sm2{margin-right:2px}.mr-sm3{margin-right:3px}.mr-sm4{margin-right:4px}.mr-sm5{margin-right:5px}.mr-sm6{margin-right:6px}.mr-sm7{margin-right:7px}.mr-sm8{margin-right:8px}.mr-sm9{margin-right:9px}.mr-sm10{margin-right:10px}.mr-sm11{margin-right:11px}.mr-sm12{margin-right:12px}.mr-sm13{margin-right:13px}.mr-sm14{margin-right:14px}.mr-sm15{margin-right:15px}.mr-sm16{margin-right:16px}.mr-sm17{margin-right:17px}.mr-sm18{margin-right:18px}.mr-sm19{margin-right:19px}.mr-sm20{margin-right:20px}.mr-sm21{margin-right:21px}.mr-sm22{margin-right:22px}.mr-sm23{margin-right:23px}.mr-sm24{margin-right:24px}.mr-sm25{margin-right:25px}.mr-sm26{margin-right:26px}.mr-sm27{margin-right:27px}.mr-sm28{margin-right:28px}.mr-sm29{margin-right:29px}.mr-sm30{margin-right:30px}.mr-sm31{margin-right:31px}.mr-sm32{margin-right:32px}.mr-sm33{margin-right:33px}.mr-sm34{margin-right:34px}.mr-sm35{margin-right:35px}.mr-sm36{margin-right:36px}.mr-sm37{margin-right:37px}.mr-sm38{margin-right:38px}.mr-sm39{margin-right:39px}.mr-sm40{margin-right:40px}.mr-sm41{margin-right:41px}.mr-sm42{margin-right:42px}.mr-sm43{margin-right:43px}.mr-sm44{margin-right:44px}.mr-sm45{margin-right:45px}.mr-sm46{margin-right:46px}.mr-sm47{margin-right:47px}.mr-sm48{margin-right:48px}.mr-sm49{margin-right:49px}.mr-sm50{margin-right:50px}.mr-sm51{margin-right:51px}.mr-sm52{margin-right:52px}.mr-sm53{margin-right:53px}.mr-sm54{margin-right:54px}.mr-sm55{margin-right:55px}.mr-sm56{margin-right:56px}.mr-sm57{margin-right:57px}.mr-sm58{margin-right:58px}.mr-sm59{margin-right:59px}.mr-sm60{margin-right:60px}.mr-sm61{margin-right:61px}.mr-sm62{margin-right:62px}.mr-sm63{margin-right:63px}.mr-sm64{margin-right:64px}.mr-sm65{margin-right:65px}.mr-sm66{margin-right:66px}.mr-sm67{margin-right:67px}.mr-sm68{margin-right:68px}.mr-sm69{margin-right:69px}.mr-sm70{margin-right:70px}.mr-sm71{margin-right:71px}.mr-sm72{margin-right:72px}.mr-sm73{margin-right:73px}.mr-sm74{margin-right:74px}.mr-sm75{margin-right:75px}.mr-sm76{margin-right:76px}.mr-sm77{margin-right:77px}.mr-sm78{margin-right:78px}.mr-sm79{margin-right:79px}.mr-sm80{margin-right:80px}.mr-sm81{margin-right:81px}.mr-sm82{margin-right:82px}.mr-sm83{margin-right:83px}.mr-sm84{margin-right:84px}.mr-sm85{margin-right:85px}.mr-sm86{margin-right:86px}.mr-sm87{margin-right:87px}.mr-sm88{margin-right:88px}.mr-sm89{margin-right:89px}.mr-sm90{margin-right:90px}.mr-sm91{margin-right:91px}.mr-sm92{margin-right:92px}.mr-sm93{margin-right:93px}.mr-sm94{margin-right:94px}.mr-sm95{margin-right:95px}.mr-sm96{margin-right:96px}.mr-sm97{margin-right:97px}.mr-sm98{margin-right:98px}.mr-sm99{margin-right:99px}.mr-sm100{margin-right:100px}

}



/*<!--=============================================================-->*/
/*<!--====================All Padding in Pixel====================-->*/
/*<!--=============================================================-->*/
.py3{padding-top: 3px ; padding-bottom: 3px }
.py4{padding-top: 4px ; padding-bottom: 4px }
.py5{padding-top: 5px ; padding-bottom: 5px }
.py6{padding-top: 6px ; padding-bottom: 6px }
.py7{padding-top: 7px ; padding-bottom: 7px }
.py8{padding-top: 8px ; padding-bottom: 8px }
.py9{padding-top: 9px ; padding-bottom: 9px }
.py10{padding-top: 10px ; padding-bottom: 10px }
.py15{padding-top: 15px ; padding-bottom: 15px }
.py17{padding-top: 17px ; padding-bottom: 17px }
.py20{padding-top: 20px ; padding-bottom: 20px }
.py25{padding-top: 25px ; padding-bottom: 25px }
.py28{padding-top: 28px ; padding-bottom: 28px }
.py30{padding-top: 30px ; padding-bottom: 30px }
.py32{padding-top: 32px ; padding-bottom: 32px }
.py40{padding-top: 40px ; padding-bottom: 40px }

.px0{padding-left: 0px ; padding-right: 0px }
.px6{padding-left: 6px ; padding-right: 6px }
.px5{padding-left: 5px ; padding-right: 5px }
.px8{padding-left: 8px ; padding-right: 8px }
.px9{padding-left: 9px ; padding-right: 9px }
.px10{padding-left: 10px ; padding-right: 10px }
.px11{padding-left: 11px ; padding-right: 11px }
.px15{padding-left: 15px ; padding-right: 15px }
.px20{padding-left: 20px ; padding-right: 20px ;}
.px25{padding-left: 25px ; padding-right: 25px }
.px30{padding-left: 30px ; padding-right: 30px }

.p0{padding: 0px }
.p5{padding: 5px }
.p6{padding: 6px }
.p8{padding: 8px }
.p9{padding: 9px }
.p10{padding: 10px }
.p15{padding: 15px }
.p20{padding: 20px }
.p25{padding: 25px }
.p30{padding: 30px }


.pt0{padding-top:0}.pt1{padding-top:1px}.pt2{padding-top:2px}.pt3{padding-top:3px}.pt4{padding-top:4px}.pt5{padding-top:5px}.pt6{padding-top:6px}.pt7{padding-top:7px}.pt8{padding-top:8px}.pt9{padding-top:9px}.pt10{padding-top:10px}.pt11{padding-top:11px}.pt12{padding-top:12px}.pt13{padding-top:13px}.pt14{padding-top:14px}.pt15{padding-top:15px}.pt16{padding-top:16px}.pt17{padding-top:17px}.pt18{padding-top:18px}.pt19{padding-top:19px}.pt20{padding-top:20px}
	
.pb0{padding-bottom:0}.pb1{padding-bottom:1px}.pb2{padding-bottom:2px}.pb3{padding-bottom:3px}.pb4{padding-bottom:4px}.pb5{padding-bottom:5px}.pb6{padding-bottom:6px}.pb7{padding-bottom:7px}.pb8{padding-bottom:8px}.pb9{padding-bottom:9px}.pb10{padding-bottom:10px}.pb11{padding-bottom:11px}.pb12{padding-bottom:12px}.pb13{padding-bottom:13px}.pb14{padding-bottom:14px}.pb15{padding-bottom:15px}.pb16{padding-bottom:16px}.pb17{padding-bottom:17px}.pb18{padding-bottom:18px}.pb19{padding-bottom:19px}.pb20{padding-bottom:20px}

	
.pl0{padding-left:0}.pl1{padding-left:1px}.pl2{padding-left:2px}.pl3{padding-left:3px}.pl4{padding-left:4px}.pl5{padding-left:5px}.pl6{padding-left:6px}.pl7{padding-left:7px}.pl8{padding-left:8px}.pl9{padding-left:9px}.pl10{padding-left:10px}.pl11{padding-left:11px}.pl12{padding-left:12px}.pl13{padding-left:13px}.pl14{padding-left:14px}.pl15{padding-left:15px}.pl16{padding-left:16px}.pl17{padding-left:17px}.pl18{padding-left:18px}.pl19{padding-left:19px}.pl20{padding-left:20px}.pl21{padding-left:21px}.pl22{padding-left:22px}.pl23{padding-left:23px}.pl24{padding-left:24px}.pl25{padding-left:25px}.pl26{padding-left:26px}.pl27{padding-left:27px}.pl28{padding-left:28px}.pl29{padding-left:29px}.pl30{padding-left:30px}.pl31{padding-left:31px}.pl32{padding-left:32px}.pl33{padding-left:33px}.pl34{padding-left:34px}.pl35{padding-left:35px}.pl36{padding-left:36px}.pl37{padding-left:37px}.pl38{padding-left:38px}.pl39{padding-left:39px}.pl40{padding-left:40px}.pl41{padding-left:41px}.pl42{padding-left:42px}.pl43{padding-left:43px}.pl44{padding-left:44px}.pl45{padding-left:45px}.pl46{padding-left:46px}.pl47{padding-left:47px}.pl48{padding-left:48px}.pl49{padding-left:49px}.pl50{padding-left:50px}.pl51{padding-left:51px}.pl52{padding-left:52px}.pl53{padding-left:53px}.pl54{padding-left:54px}.pl55{padding-left:55px}.pl56{padding-left:56px}.pl57{padding-left:57px}.pl58{padding-left:58px}.pl59{padding-left:59px}.pl60{padding-left:60px}


.pr0{padding-right:0}.pr1{padding-right:1px}.pr2{padding-right:2px}.pr3{padding-right:3px}.pr4{padding-right:4px}.pr5{padding-right:5px}.pr6{padding-right:6px}.pr7{padding-right:7px}.pr8{padding-right:8px}.pr9{padding-right:9px}.pr10{padding-right:10px}.pr11{padding-right:11px}.pr12{padding-right:12px}.pr13{padding-right:13px}.pr14{padding-right:14px}.pr15{padding-right:15px}.pr16{padding-right:16px}.pr17{padding-right:17px}.pr18{padding-right:18px}.pr19{padding-right:19px}.pr20{padding-right:20px}.pr21{padding-right:21px}.pr22{padding-right:22px}.pr23{padding-right:23px}.pr24{padding-right:24px}.pr25{padding-right:25px}.pr26{padding-right:26px}.pr27{padding-right:27px}.pr28{padding-right:28px}.pr29{padding-right:29px}.pr30{padding-right:30px}.pr31{padding-right:31px}.pr32{padding-right:32px}.pr33{padding-right:33px}.pr34{padding-right:34px}.pr35{padding-right:35px}.pr36{padding-right:36px}.pr37{padding-right:37px}.pr38{padding-right:38px}.pr39{padding-right:39px}.pr40{padding-right:40px}.pr41{padding-right:41px}.pr42{padding-right:42px}.pr43{padding-right:43px}.pr44{padding-right:44px}.pr45{padding-right:45px}.pr46{padding-right:46px}.pr47{padding-right:47px}.pr48{padding-right:48px}.pr49{padding-right:49px}.pr50{padding-right:50px}.pr51{padding-right:51px}.pr52{padding-right:52px}.pr53{padding-right:53px}.pr54{padding-right:54px}.pr55{padding-right:55px}.pr56{padding-right:56px}.pr57{padding-right:57px}.pr58{padding-right:58px}.pr59{padding-right:59px}.pr60{padding-right:60px}.pr110{padding-right:110px }

/* Use For SM Grid */
@media (min-width: 768px){
	
.py-sm5{padding-top: 5px; padding-bottom: 5px}
.py-sm10{padding-top: 10px; padding-bottom: 10px}
.py-sm15{padding-top: 15px; padding-bottom: 15px}
.py-sm20{padding-top: 20px; padding-bottom: 20px}
.py-sm25{padding-top: 25px; padding-bottom: 25px}
.py-sm30{padding-top: 30px; padding-bottom: 30px}

.px-sm5{padding-left: 5px; padding-right: 5px}
.px-sm10{padding-left: 10px; padding-right: 10px}
.px-sm15{padding-left: 15px; padding-right: 15px}
.px-sm20{padding-left: 20px; padding-right: 20px}
.px-sm25{padding-left: 25px; padding-right: 25px}
.px-sm30{padding-left: 30px; padding-right: 30px}	
	
.p-sm0{padding: 0px}
.p-sm5{padding: 5px}
.p-sm10{padding: 10px}
.p-sm15{padding: 15px}
.p-sm20{padding: 20px}
.p-sm25{padding: 25px}
.p-sm30{padding: 30px}
	
.pt-sm0{padding-top:0}.pt-sm1{padding-top:1px}.pt-sm2{padding-top:2px}.pt-sm3{padding-top:3px}.pt-sm4{padding-top:4px}.pt-sm5{padding-top:5px}.pt-sm6{padding-top:6px}.pt-sm7{padding-top:7px}.pt-sm8{padding-top:8px}.pt-sm9{padding-top:9px}.pt-sm10{padding-top:10px}.pt-sm11{padding-top:11px}.pt-sm12{padding-top:12px}.pt-sm13{padding-top:13px}.pt-sm14{padding-top:14px}.pt-sm15{padding-top:15px}.pt-sm16{padding-top:16px}.pt-sm17{padding-top:17px}.pt-sm18{padding-top:18px}.pt-sm19{padding-top:19px}.pt-sm20{padding-top:20px}
	 
.pb-sm0{padding-bottom:0}.pb-sm1{padding-bottom:1px}.pb-sm2{padding-bottom:2px}.pb-sm3{padding-bottom:3px}.pb-sm4{padding-bottom:4px}.pb-sm5{padding-bottom:5px}.pb-sm6{padding-bottom:6px}.pb-sm7{padding-bottom:7px}.pb-sm8{padding-bottom:8px}.pb-sm9{padding-bottom:9px}.pb-sm10{padding-bottom:10px}.pb-sm11{padding-bottom:11px}.pb-sm12{padding-bottom:12px}.pb-sm13{padding-bottom:13px}.pb-sm14{padding-bottom:14px}.pb-sm15{padding-bottom:15px}.pb-sm16{padding-bottom:16px}.pb-sm17{padding-bottom:17px}.pb-sm18{padding-bottom:18px}.pb-sm19{padding-bottom:19px}.pb-sm20{padding-bottom:20px}
	
.pl-sm0{padding-left:0}.pl-sm1{padding-left:1px}.pl-sm2{padding-left:2px}.pl-sm3{padding-left:3px}.pl-sm4{padding-left:4px}.pl-sm5{padding-left:5px}.pl-sm6{padding-left:6px}.pl-sm7{padding-left:7px}.pl-sm8{padding-left:8px}.pl-sm9{padding-left:9px}.pl-sm10{padding-left:10px}.pl-sm11{padding-left:11px}.pl-sm12{padding-left:12px}.pl-sm13{padding-left:13px}.pl-sm14{padding-left:14px}.pl-sm15{padding-left:15px}.pl-sm16{padding-left:16px}.pl-sm17{padding-left:17px}.pl-sm18{padding-left:18px}.pl-sm19{padding-left:19px}.pl-sm20{padding-left:20px}.pl-sm21{padding-left:21px}.pl-sm22{padding-left:22px}.pl-sm23{padding-left:23px}.pl-sm24{padding-left:24px}.pl-sm25{padding-left:25px}.pl-sm26{padding-left:26px}.pl-sm27{padding-left:27px}.pl-sm28{padding-left:28px}.pl-sm29{padding-left:29px}.pl-sm30{padding-left:30px}.pl-sm31{padding-left:31px}.pl-sm32{padding-left:32px}.pl-sm33{padding-left:33px}.pl-sm34{padding-left:34px}.pl-sm35{padding-left:35px}.pl-sm36{padding-left:36px}.pl-sm37{padding-left:37px}.pl-sm38{padding-left:38px}.pl-sm39{padding-left:39px}.pl-sm40{padding-left:40px}.pl-sm41{padding-left:41px}.pl-sm42{padding-left:42px}.pl-sm43{padding-left:43px}.pl-sm44{padding-left:44px}.pl-sm45{padding-left:45px}.pl-sm46{padding-left:46px}.pl-sm47{padding-left:47px}.pl-sm48{padding-left:48px}.pl-sm49{padding-left:49px}.pl-sm50{padding-left:50px}.pl-sm51{padding-left:51px}.pl-sm52{padding-left:52px}.pl-sm53{padding-left:53px}.pl-sm54{padding-left:54px}.pl-sm55{padding-left:55px}.pl-sm56{padding-left:56px}.pl-sm57{padding-left:57px}.pl-sm58{padding-left:58px}.pl-sm59{padding-left:59px}.pl-sm60{padding-left:60px}
	
.pr-sm0{padding-right:0}.pr-sm1{padding-right:1px}.pr-sm2{padding-right:2px}.pr-sm3{padding-right:3px}.pr-sm4{padding-right:4px}.pr-sm5{padding-right:5px}.pr-sm6{padding-right:6px}.pr-sm7{padding-right:7px}.pr-sm8{padding-right:8px}.pr-sm9{padding-right:9px}.pr-sm10{padding-right:10px}.pr-sm11{padding-right:11px}.pr-sm12{padding-right:12px}.pr-sm13{padding-right:13px}.pr-sm14{padding-right:14px}.pr-sm15{padding-right:15px}.pr-sm16{padding-right:16px}.pr-sm17{padding-right:17px}.pr-sm18{padding-right:18px}.pr-sm19{padding-right:19px}.pr-sm20{padding-right:20px}.pr-sm21{padding-right:21px}.pr-sm22{padding-right:22px}.pr-sm23{padding-right:23px}.pr-sm24{padding-right:24px}.pr-sm25{padding-right:25px}.pr-sm26{padding-right:26px}.pr-sm27{padding-right:27px}.pr-sm28{padding-right:28px}.pr-sm29{padding-right:29px}.pr-sm30{padding-right:30px}.pr-sm31{padding-right:31px}.pr-sm32{padding-right:32px}.pr-sm33{padding-right:33px}.pr-sm34{padding-right:34px}.pr-sm35{padding-right:35px}.pr-sm36{padding-right:36px}.pr-sm37{padding-right:37px}.pr-sm38{padding-right:38px}.pr-sm39{padding-right:39px}.pr-sm40{padding-right:40px}.pr-sm41{padding-right:41px}.pr-sm42{padding-right:42px}.pr-sm43{padding-right:43px}.pr-sm44{padding-right:44px}.pr-sm45{padding-right:45px}.pr-sm46{padding-right:46px}.pr-sm47{padding-right:47px}.pr-sm48{padding-right:48px}.pr-sm49{padding-right:49px}.pr-sm50{padding-right:50px}.pr-sm51{padding-right:51px}.pr-sm52{padding-right:52px}.pr-sm53{padding-right:53px}.pr-sm54{padding-right:54px}.pr-sm55{padding-right:55px}.pr-sm56{padding-right:56px}.pr-sm57{padding-right:57px}.pr-sm58{padding-right:58px}.pr-sm59{padding-right:59px}.pr-sm60{padding-right:60px}
}


/*<!--=============================================================-->*/
/*<!--==================All Line Height in Percent=================-->*/
/*<!--=============================================================-->*/
.lh100{line-height:100%}
.lh110{line-height:110%}
.lh120{line-height:120%}
.lh130{line-height:130%}
.lh140{line-height:140%}
.lh150{line-height:150%}
.lh160{line-height:160%}
.lh170{line-height:170%}
.lh180{line-height:180%}
.lh190{line-height:190%}
.lh200{line-height:200%}



/*<!--=============================================================-->*/
/*<!--===================== All Font Weight =======================-->*/
/*<!--=============================================================-->*/
.w100{font-weight:100 }
.w200{font-weight:200 }
.w300{font-weight:300 }
.w400{font-weight:400 }
.w500{font-weight:500 }
.w600{font-weight:600 }
.w700{font-weight:700 }
.w800{font-weight:800 }
.w900{font-weight:900 }


/*<!--=============================================================-->*/
/*<!--===================== Common Color =======================-->*/
/*<!--=============================================================-->*/


/*--------Some Common css-------*/
.cursor{cursor:pointer;}
.cursor-auto{cursor:auto ;}
.t-decoration-none,.t-decoration-none:hover,.t-decoration-none a:hover{text-decoration: none;}

/* Backgorund  */
.transparent-bg{ background: transparent;}

/* Box shadow  */
.box-shadow0{ box-shadow: none; }

/* Position  */
 .relative{position:relative;}
 .absolute{position:absolute}
 .fixed{position:fixed}

/* Radius*/
.radius0{border-radius:0px ;}
.radiusrb0{border-bottom-right-radius: 0px ;}
.radiustl0{border-top-left-radius: 0px ; } 
.radiusb0{border-bottom-left-radius: 0px ;  border-bottom-right-radius: 0px ;}
.radiust0{border-top-left-radius: 0px ;  border-top-right-radius: 0px ;} 
.radiusbl5{border-bottom-left-radius: 5px ;}
.radiusbr5{border-bottom-right-radius: 5px ;}
.radius3{border-radius:3px;}
.radius4{border-radius:4px;}
.radius5{border-radius:5px;}
.radius10{border-radius:10px;}
.img-circle{border-radius: 50%;}

/* z-index*/
 .z-index0{z-index:0 ;}
 .z-index1{z-index:1 ;}
 .z-index9{z-index:9;}
 .z-index10{z-index:10 ;}
 

/* Opcatiy Css */
.opacity10{opacity: 0.1; filter: alpha(opacity=10);}
.opacity20{opacity: 0.2; filter: alpha(opacity=20);}
.opacity30{opacity: 0.3; filter: alpha(opacity=30);}
.opacity40{opacity: 0.4; filter: alpha(opacity=40);}
.opacity50{opacity: 0.5; filter: alpha(opacity=50);}
.opacity60{opacity: 0.6; filter: alpha(opacity=60);}
.opacity70{opacity: 0.7; filter: alpha(opacity=70);}
.opacity80{opacity: 0.8; filter: alpha(opacity=80);}
.opacity90{opacity: 0.9; filter: alpha(opacity=90);}
.opacity100{opacity: 1; filter: alpha(opacity=100);}

/* Text Formatting Classes */
.underline{text-decoration:underline;}
.break-word {word-break: break-word;}
.break-all {word-break: break-all;}
.word-wrap{word-wrap:break-word;}
.text-nowrap {white-space: nowrap;}
.text-truncate {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* Text Alignment Classes */
@media (max-width: 767px){
.text-xs-left {text-align: left;}
.text-xs-right {text-align: right;}
.text-xs-center {text-align: center;}
}
@media (min-width: 768px) and (max-width:991px){
.text-sm-left {text-align: left;}
.text-sm-right {text-align: right;}
.text-sm-center {text-align: center;}
}
@media (min-width: 992px) and (max-width:1192px){
.text-md-left {text-align: left;}
.text-md-right {text-align: right;}
.text-md-center {text-align: center;}
}

/* Positioning Classes */
.float-left {float: left;}
.float-right {float: right;}

@media (min-width: 768px){
.float-sm-left {float: left;}
.float-sm-right {float: right;}
}
@media (min-width: 992px){
.float-md-left {float: left;}
.float-md-right {float: right;}
}
@media (min-width: 1200px){
.float-lg-left {float: left;}
.float-lg-right {float: right;}
}


/* justify content Classes */
.justify-content-start {-ms-flex-pack: start; justify-content: flex-start;}
.justify-content-end {-ms-flex-pack: end; justify-content: flex-end;}
.justify-content-center {-ms-flex-pack: center; justify-content: center;}
.justify-content-between {-ms-flex-pack: justify; justify-content: space-between;}

@media (min-width: 768px){
.justify-content-sm-start {-ms-flex-pack: start; justify-content: flex-start;}
.justify-content-sm-end {-ms-flex-pack: end; justify-content: flex-end;}
.justify-content-sm-center { -ms-flex-pack: center;justify-content: center;}
.justify-content-sm-between {-ms-flex-pack: justify;justify-content: space-between;}
}
@media (min-width: 992px){
.justify-content-md-start {-ms-flex-pack: start; justify-content: flex-start;}
.justify-content-md-end {-ms-flex-pack: end; justify-content: flex-end;}
.justify-content-md-center { -ms-flex-pack: center;justify-content: center;}
.justify-content-md-between {-ms-flex-pack: justify;justify-content: space-between;}
}
@media (min-width: 1200px){
.justify-content-lg-start {-ms-flex-pack: start; justify-content: flex-start;}
.justify-content-lg-end {-ms-flex-pack: end; justify-content: flex-end;}
.justify-content-lg-center { -ms-flex-pack: center;justify-content: center;}
.justify-content-lg-between {-ms-flex-pack: justify;justify-content: space-between;}
}

/* Flex Wrap And NoWrap Classes */
.flex-wrap {-ms-flex-wrap: wrap;flex-wrap: wrap;}
.flex-nowrap {-ms-flex-wrap: nowrap;flex-wrap: nowrap;}

@media (min-width: 768px){
.flex-sm-wrap {-ms-flex-wrap: wrap;flex-wrap: wrap;}
.flex-sm-nowrap { -ms-flex-wrap: nowrap;flex-wrap: nowrap;}
}
@media (min-width: 992px){
.flex-md-wrap {-ms-flex-wrap: wrap;flex-wrap: wrap;}
.flex-md-nowrap { -ms-flex-wrap: nowrap;flex-wrap: nowrap;}
}
@media (min-width: 1200px){
.flex-lg-wrap {-ms-flex-wrap: wrap;flex-wrap: wrap;}
.flex-lg-nowrap { -ms-flex-wrap: nowrap;flex-wrap: nowrap;}
}

/* Display block & None Classes */
.d-block {display: block;}
.d-none {display: none;}
.d-flex {display: -ms-flexbox;display: flex;}

@media (min-width: 768px){
.d-sm-block {display: block;}
.d-sm-none {display: none;}
.d-sm-flex {display: -ms-flexbox;display: flex;}
}
@media (min-width: 992px){
.d-md-block {display: block;}
.d-md-none {display: none;}
.d-md-flex {display: -ms-flexbox;display: flex;}
}
@media (min-width: 1200px){
.d-lg-block {display: block;}
.d-lg-none {display: none;}
.d-lg-flex {display: -ms-flexbox;display: flex;}
}

/* Margin Auto Classes */
.ml-auto, .mx-auto {margin-left: auto;}
.mr-auto, .mx-auto { margin-right: auto;}

/* White Color shades */
.white-clr,
a.white-clr{color: #ffffff;}

/* White Color shades */
.black-clr,
a.black-clr{color: #000000;}
/* Bottom Fixed Icon CSS */
.bottom-icon img{
	position:fixed;
	bottom:0;
	right:8px;
	z-index:999
}
/* Alert Box StyleSheet 
===============================================*/
/* Alert Div Positions CSS
======================================*/
.alert-positions{position: fixed; top: 10px; right: 10px; width: 95%; z-index: 99999;}
@media (min-width:768px){.alert-positions{max-width: 30%;}}
.alert-dismissible .close,
.alert-dismissible .close:focus
{padding: 5px;
color: #ffffff;
opacity: 9;
outline: none;
font-size: 8px;
font-weight: 300;  }
.alert-dismissible i.fa,
.alert-dismissible i.icon{width: 20px; height: 20px; min-width: 20px;
min-height: 20px; border-radius: 50%; display: table-cell; vertical-align: middle; text-align: center; background: #ffffff;}

/* Alert Success Box */
.alert-success-box{background: #05c706;	color: #ffffff; border-radius: 5px;}
.alert-success-box i.fa,
.alert-success-box i.icon
{color:#05c706;}

/* Alert Danger Box */
.alert-danger-box{background: #ff2332;	color: #ffffff; border-radius: 5px;}
.alert-danger-box i.fa,
.alert-danger-box i.icon
{color:#ff2332;}


/* Start Template Loader css */
.template-loader{
position: fixed;
height: 100%;
background: rgba(0,0,0,0.7);
z-index: 99999;
left: 0;
right: 0;
bottom: 0;
}
.loader-center{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
color:#ffffff;
} 
/*End  Template Loader css */


/*CSS For Responsive Video*/
.responsive-video {position: relative;padding-bottom: 56.25%;overflow: hidden;}
.responsive-video1 {position: relative;padding-bottom: 61%;overflow: hidden;}
.responsive-video iframe,.responsive-video object,.responsive-video embed,.responsive-video1 iframe,
.responsive-video1 object,.responsive-video1 embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}


.red-clr{
    color: red;
}