#step-carousel-slider .item {
    padding: 10px 0px;
    margin: 5px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

#step-carousel-slider .current ~ div .item h5 {
    color: #34303f;
	font-weight: 500;
}

#step-carousel-slider .item h5{
    font-size: 14px;
	font-weight: 700;
	margin-top: 18px;
	text-align: center;
	color: #34303f;
}

.owl-theme .owl-nav [class*="owl-"] {
    transition: all 0.3s ease;
}

#step-carousel-slider .item {
    position: relative;
    text-align: center;
    font-style: normal;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
	margin: 0px;
	padding: 0px;
}

#step-carousel-slider .current-step {
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: 37px;
    white-space: nowrap;
    width: 64px;
    display: flex;
    justify-content: space-evenly;
}

#step-carousel-slider .current-step span {
    transition: all 500ms ease;
    background: #5c6ac4;
    height: 4px;
    width: 4px;
    display: block;
    border-radius: 50%;
    transform: scale(2);
}

#step-carousel-slider .current .current-step span {
    transform: scale(1);
    background-color: #dcdff6;
    animation: wave 0.6s ease 1 forwards;
}

#step-carousel-slider .current-step span:nth-child(1) {
    animation-delay: 3s;
	opacity: .3;
}

#step-carousel-slider .current-step span:nth-child(2) {
    animation-delay: 5s;
	opacity: .4;
}

#step-carousel-slider .current-step span:nth-child(3) {
    animation-delay: 7s;
	opacity: .7;
}

#step-carousel-slider .current-step span:nth-child(4) {
    animation-delay: 9s;
	opacity: .9;
}

#step-carousel-slider .current-step span:nth-child(5) {
    animation-delay: 11s;
	opacity: 1;
}

#step-carousel-slider .current-step span:nth-child(6) {
    animation-delay: 1.41176s;
}

#step-carousel-slider .current-step span:nth-child(7) {
    animation-delay: 1.64706s;
}

#step-carousel-slider .current-step span:nth-child(8) {
    animation-delay: 1.88235s;
}

#step-carousel-slider .current-step span:nth-child(9) {
    animation-delay: 2.11765s;
}

#step-carousel-slider .current-step span:nth-child(10) {
    animation-delay: 2.35294s;
}

#step-carousel-slider .current-step span:nth-child(11) {
    animation-delay: 2.58824s;
}

#step-carousel-slider .current-step span:nth-child(12) {
    animation-delay: 2.82353s;
}

#step-carousel-slider .current-step span:nth-child(13) {
    animation-delay: 3.05882s;
}

#step-carousel-slider .current-step span:nth-child(14) {
    animation-delay: 3.29412s;
}

#step-carousel-slider .current-step span:nth-child(15) {
    animation-delay: 3.52941s;
}

#step-carousel-slider .current-step span:nth-child(16) {
    animation-delay: 3.76471s;
}

#step-carousel-slider .current ~ div .current-step span {
    transform: scale(1);
    background-color: #5c6ac4;
    display: none;
}

#step-carousel-slider .owl-item:last-child .current-step {
    display: none;
}
.paused #step-carousel-slider .current .current-step span {
	-webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}
@keyframes wave {
    0% {
        transform: scale(1);
        background-color: #0d1337;
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(2);
        background-color: #5c6ac4;
    }
}
#step-carousel-slider .current ~ div .step-shape {
    border: 10px solid #141d56;
	color: #34303f;
}
.step-shape {
	height: 90px;
	width: 90px;
	border-radius: 50%;
	background: #ffffff;
	border: 10px solid #5c69c5;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	font-size: 38px;
	color: #141d56;
	box-shadow: 0px 5px 4px 0px rgba(125, 130, 160, 0.45);
}

@media (min-width: 768px) {
	#step-carousel-slider .current ~ div .step-shape {
		border: 5px solid #dcdff6;
	}
	.step-shape {
		height: 50px;
		width: 50px;
		border: 5px solid #141d56;
		font-size: 20px;
	}
	#step-carousel-slider .item h5{
		font-size: 13px;
	}
}
@media (min-width: 992px) {
	#step-carousel-slider .current ~ div .step-shape {
		border: 10px solid #dcdff6;
	}
	.step-shape {
		height: 90px;
		width: 90px;
		border: 10px solid #141d56;
		font-size: 38px;
	}
	#step-carousel-slider .current-step {
		top: 45px;
		left: 50%;
		margin-left: 52px;
		width: 80px;
	}
	#step-carousel-slider .item h5{
		font-size: 16px;
	}
}
@media (min-width: 1200px) {
	#step-carousel-slider .current-step {
		top: 45px;
		left: 50%;
		margin-left: 60px;
		width: 90px;
	}
}

@media (max-width: 767px) {
    #step-carousel-slider .current-step {
        display: none;
    }
}

/* Step Carousel Next Prev Icon */
 #carousel-steps-container .owl-nav div.owl-prev, 
#carousel-steps-container .owl-nav div.owl-next {
	color: #ffffff;
    font-size: 13px;
    position: absolute;
    top: 150px;
    text-align: center;
    background: #5c69c552;
    padding: 2px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#carousel-steps-container .owl-nav div.owl-prev{
	left: -12px;
}
#carousel-steps-container .owl-nav div.owl-next {
	right: -12px;
}
#carousel-steps-container .owl-nav div.owl-next:hover,
#carousel-steps-container .owl-nav div.owl-prev:hover{
	background: #5462bac7;
} 
#carousel-steps-container .owl-carousel .owl-stage,
.StepslideOutLeft,
.StepslideOutLeft{
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}

/* Step Slider Moblie View */
.slider-for div {
  width: 100%;
  margin: 0;
}
.slider-nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.slider-nav .xs-step-shape {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background: #ffffff;
	border: 5px solid #dcdff6;
	box-shadow: 0px 5px 4px 0px rgba(125, 130, 160, 0.45);
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: #34303f;
	margin-top: 20px;
}
.slider-nav .slick-slide{
	position: relative;
	min-height: 125px;
}
.slider-nav h5{
	font-size: 12px;
	font-weight: 700;
	color: #34303f;
	display: none;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 100px;
	white-space: nowrap;
}
/* Current Step CSS */
.slider-nav .slick-current .xs-step-shape{
	height: 90px;
	width: 90px;
	border: 10px solid #141d56;
	color: #141d56;
	font-size: 40px;
	margin-top: 0px;
}
.slider-nav .slick-current h5{
	display: block;
}
.slider-for .slick-slide { 
	display: none;
}
.slider-for .slick-slide.slick-current { 
	display: block;
}