html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

.black-clr {
    color: #000000;
}

.black-clr1 {
    color: #010101;
}

.green-clr{
 color:#84f845;
}


/* Header Section CSS */

.header-section {
	background: rgb(0,68,205);
	background: -moz-linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
	background: linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0044cd",endColorstr="#00165f",GradientType=1);
	padding: 30px 0px;
}

.fifth-section {
    background: rgb(0,68,205);
background: -moz-linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
background: linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0044cd",endColorstr="#00165f",GradientType=1);
    padding: 30px 0;
}

.limitless-section {
    background: #ffffff;
    padding: 2% 0 3%;
}

.feature-tick li {
    background: url(../images/tick-icon.png) no-repeat;
    padding: 20px 0px 0px 42px;
    background-position: 1px 27px;
    list-style: none;
}

.content-mbl-space {
    background: #ffffff;
    padding: 30px 0px;
}

.unfair-section {
    background: #f6f1ff;
    padding: 30px 0px 30px 0px;
}
.highlihgt-text {
    position: relative;
    background: #000000;
    padding: 10px 10px;
    width: 100%;
    border-radius: 75px;
    display: inline-block;
    color: #f68a1e;
}
@media(min-width:768px) {
	.highlihgt-text {
    position: relative;
    padding: 8px 20px;
}
    .unfair-section {
        background: #f6f1ff url(../images/uabg.png);
        background-repeat: no-repeat;
        background-position: center left;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
    .header-section {
        background: #eef1f9 url(../images/banner-bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding: 40px 0px 180px 0px;
    position: relative;
    overflow: hidden;
    }
    .fifth-section {
        background: #eef1f9 url("../images/proudlybg.png") no-repeat bottom center;
        background-size: cover;
        padding: 100px 0 120px 0px;
    }
}

.logo-height {
    max-height: 45px;
}

.white-clr {
    color: #ffffff;
}

.white-blue {
    color: #70abff;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}

.affiliate-link-btn a {
    border-radius: 45px;
    background-color: #f8e71c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    padding: 9px 33px;
    font-size: 16px;
    color: #050b23;
    font-weight: 800;
}

.affiliate-link-btn a:hover {
    background: #decf18;
}

.popup-btn a:hover,
.popup-btn input[type="submit"]:hover,
.af-btn a:hover {
    background: #4f5db5;
}

.highlihgt-heading {
    background: #400ba9;
    padding: 15px;
	border:1px solid #ffffff;
	border-radius:5px
}

.second-section {
    padding: 30px 0px;
}
@media (min-width:768px)
{
    .second-section{padding: 100px 0px;}
}
.date-section-bg {
    background: url(../images/date-bg-image.png) no-repeat center center;
    background-size: contain;
}

.xstext-center {
    text-align: center;
}

.formbg {
    padding: 20px;
}

@media(min-width:768px) {
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
    /* .line-center { */
    /* transform: skew(20deg); */
    /* } */
}

.formbg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.form-control.input-field {
    border-width: 1px;
    border-color: rgb(164, 164, 164);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 12px;
}

::-webkit-input-placeholder {
    color: #797979 !important;
}

::-moz-placeholder {
    color: #797979 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

:-moz-placeholder {
    color: #797979 !important;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 5px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 13px 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 0;
    outline: none;
}

.xscenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pre-box {
    border-radius: 10px;
    padding: 5%;
}

.af-box {
    padding: 8% 3%;
}

.pl-shape,
.l-shape,
.af-shape,
.af-dots {
    display: none;
}

@media(min-width:768px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .form-control.input-field {
        height: 58px;
    }
    .pre-box {
        border-radius: 50px;
        padding: 3% 0;
    }
    .af-box {
        padding: 5%;
    }
    .pfbox {
        height: 185px;
    }
    .pl-shape,
    .l-shape,
    .af-shape,
    .af-dots {
        display: block;
        position: relative;
        z-index: 1;
    }
    .pl-shape img {
        position: absolute;
        top: -18px;
        right: 18px;
        z-index: 1;
    }
    .l-shape img {
        position: absolute;
        bottom: -65px;
        left: 25px;
        z-index: 1;
    }
    .af-shape img {
        position: absolute;
        bottom: -44px;
        right: 35px;
        z-index: 1;
        height: 160px;
    }
    .af-dots img {
        position: absolute;
        top: -10px;
        left: 60px;
        z-index: 1;
    }
}

.form-shape {
    position: relative;
    z-index: 1;
}

.form-shape img {
    position: absolute;
    top: -40px;
    left: -41px;
    z-index: -1;
}

.relative {
    position: relative;
}

.third-section {
    background:#eef1f9;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .third-section {
        padding: 100px 0;
		background: url(../images/grey-section.png);
    background-size: cover;
    background-position: center;
    }
}

.kapblue {
    color: #0044cd;
}

.blue-clr {
    color: #0044cd;
}

.pre-box {
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.h-line {
    background-color: rgb(206, 212, 216);
    height: 2px;
    width: 100%;
}

.pl-tick li {
    background: url("../images/pl-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.l-tick li {
    background: url("../images/l-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.xs-max-height165 {
    max-height: 165px;
}

@media(max-width:767px) {
    .limitless-section {
        background: #ffffff;
        padding: 2% 0;
    }
    .content-mbl-space {
        background: #ffffff;
        padding: 30px 0px;
    }
    .plxs0 {
        padding-left: 0;
    }
}

@media(min-width:767px) {
    .xs-max-height165 {
        max-height: 100%;
    }
}

.fourth-section {
    background: #fff;
    padding: 0;
}

.af-box {
    border-radius: 25px;
    background-color: rgb(239, 243, 246);
}

.pfbox {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
    padding: 30px 20px;
}

.af-btn a {
    border-radius: 30px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 10px 10px;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.leader-ul li a,
.leader-ul li a:hover,
.leader-ul li a:focus {
    text-decoration: none;
}

.sixth-section {
    background: #eff3f6 url("../images/wave-dots.png") no-repeat center center;
    background-size: cover;
    padding: 3% 0 5%;
}

.seventh-section1 {
    background: #eff3f6;
    padding: 3% 0 5%;
}

a.alink,
a.alink:hover,
a.alink:focus {
    text-decoration: none;
    color: #5c6ac4;
}

.seventh-section {
    background: url("../images/dot-shape.png") no-repeat center center;
    padding: 5% 0;
}

.lightcolor {
    color: #deff00;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.feature-section {
    background: #fff url(../images/feature-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section {
    background: #eff3f6 url(../images/software-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section img {
    max-height: 141px;
}

.leaderboard-section {
    background: #eff3f6 url(../images/leaderboard-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.contact-section {
    background: #fff url(../images/contact-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.prize-section {
    background: #22103b;
    background-size: cover;
    padding: 4% 0;
}

.funnel-section {
    background: #eff3f6 url(../images/funnel-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.theme-clr {
    color: #224cb0;
}

.clear {
    clear: both;
}

.white-section {
    background: #fff;
    padding: 30px 0;
}

.feature-18 {
    padding: 30px 0;
    background: #200664;
}

.vendor-section {
    background: #fff url(../images/dots.png) no-repeat right center;
    padding: 4% 0;
}

.name-box {
    background: #5c6ac4;
    padding: 0px 30px;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.green-clr {
    color: #00ff84;
}
.orange-clr{
color:#f68a1e;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.xscenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.xs-text-center,
.xs-text-center1 {
    text-align: center;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}

.bottom-icon img {
    position: fixed;
    bottom: 0;
    right: 8px;
    z-index: 999
}

.vidborder {
    border: 2px solid #9a9a9a;
}

a.link-text {
    color: #000;
    text-decoration: none;
}

.probtn a {
    border-radius: 5px;
    background: #3f43ba;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
}


.probtn1 a {
    border-radius: 5px;
    background-image: -moz-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
}

.probtn1 a:hover {
    background: linear-gradient(90deg, rgb(235,194,0) 0%, rgb(239,141,0) 100%);
    color: #ffffff;
}


/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    border: 1px solid #0044cd;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    border: 1px solid #0044cd;
    width: 100%;
    float: left;
    background: #272f63;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(../images/vgreytick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 28px;
    line-height: 150%;
    border-bottom: 1px solid #e7e7e7;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px 15px 10px;
}

ul.grey-tick-last li {
    background: url(../images/grey-tick-last.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 28px;
    line-height: 150%;
    border-bottom: 1px solid #090e2d;
    color: #ffffff;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

ul.vgreentick li {
    background: #ffffff url(../images/vgreentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 25px;
    line-height: 150%;
    color: #000;
}

.tbbg2-text {
    color: #fff;
}

.tbbg2 {
    background: rgb(0,68,205);
background: -moz-linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
background: linear-gradient(180deg, rgba(0,68,205,1) 0%, rgba(0,22,95,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0044cd",endColorstr="#00165f",GradientType=1);
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tbbg3 {
    background: url(../images/plan2.png) no-repeat center top;
    padding: 30px 15px 57px;
    background-size: 100% 100%;
}

.bought-text {
    background: #ffeb09;
    padding: 8px 10px;
}

.lightcolor {
    color: #eaab26;
}

@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
    ul.grey-tick-last li {
        padding: 20px 10px 20px 40px;
    }
    .mt-sm-170 {
        margin-top: 170px
    }
    .mt-sm-90 {
        margin-top: 90px
    }
    .probtn a {
        padding: 35px 50px;
    }
    .probtn1 a {
        padding: 28px 30px;
    }
}

.buypad {
    padding: 4% 3%;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}

.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.ribbonimg {
    position: absolute;
    top: 100px;
    right: 0px;
    height: 50px;
}

.xs-height125 {
    height: 125px;
}

.xs-height50 {
    height: 55px;
}

.ribbonimg {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 90px;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #0044cd;
}

.option-tick li {
    background: url(../images/vgreytick.png) no-repeat;
    background-position: 0 6px;
    list-style: none;
    padding: 0 0 20px 30px;
}

@media(min-width:768px) {
    .highlihgt-heading {
        padding: 45px 66px;
		background:  url(../images/header-shape.png);
        background-repeat: no-repeat;
        background-position: center center ;
        background-size: cover;
		border-radius:0px;
		border:0px;
    }
    
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    }
}


/*Table CSS Enad*/

.grey-section,
.grey-section1 {
    background:#eef1f9;
    padding: 30px 0;
}


.moneyback-section {
    background: #001a4d;
    background-size: cover;
    padding: 30px 0;
    color: #ffffff;
}

.license-section {
    background: #fae4c9 url(../images/proudlybg.png) no-repeat center center;
    background-size: cover;
    padding: 5% 0;
}

.bonus-section {
    background: #eef1f9;
    background-size: cover;
    padding: 30px 0;
}

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

@media (min-width:768px) {
    .table-section {
		background: #ffffff url(../images/table-section.png) no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 50px 0 100px 0;
    }
    .bonus-section {
        background: #eef1f9 url(../images/bonus-bg.png) no-repeat; 
        background-size: cover;
        background-position: center bottom;
        padding: 100px 0px 200px 0px;
    }
    .moneyback-section {
        background: #f4f7ff url(../images/moneyback-bg.png) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0 130px;
        color: #000;
    }
    .license-section {
        background: #fae4c9 url(../images/proudlybg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
    .mt-sm240 {
        margin-top: 240px;
    }
    .mt-sm0 {
        margin-top: 0px !important;
    }
}

.yellow-clr {
    color: #eaab26;
}

.bonus-count {
    background: #5c6ac4;
    display: inline-block;
    padding: 10px 29px;
    border-radius: 15px;
}

.grey-clr {
    color: #d6d6d6;
}

.promo-icon {
    position: absolute;
    left: 15px;
    top: -20px;
    display: none;
}

.promo-icon1 {
    position: absolute;
    left: 15px;
    top: -20px;
    display: block;
}


/*-------- Responsive ------------*/

@media (min-width:768px) {
    .promo-icon1 {
        position: absolute;
        left: 0px;
        top: -20px;
        display: block;
    }
    .promo-icon {
        position: absolute;
        left: 0px;
        top: -60px;
        display: block;
    }
    .white-section {
        padding: 100px 0;
        background: url(../images/white-section-bg.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .feature-18 {
        padding: 100px 0 130px;
        background: #ffffff url(../images/feature18-bg.png) no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }

    .grey-section {
        background: url(../images/grey-section.png) no-repeat;
        background-size: cover;
        background-position: center;
        padding: 100px 0;
    }
	.grey-section1 {
        background: url(../images/grey-section.png) no-repeat;
        background-size: cover;
        background-position: center;
        padding: 30px 0 100px 0px;
    }
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

.black-design {
    background-image: -moz-linear-gradient( 90deg, rgb(1 82 166) 0%, rgb(1 65 133) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(1 82 166) 0%, rgb(1 65 133) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(1 82 166) 0%, rgb(1 65 133) 100%);
    padding: 5px 30px;
    border-radius: 50px;
    display: inline-block;
}

@media (min-width: 768px) {
    .black-design {
        padding: 5px 50px;
    }
}

.red-clr,
a.red-clr {
    color: #ff3c00;
}

.second-sec {
    padding: 5% 0;
    background: url(../images/topfea-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.game-changer {
    background: #84f845;
    padding: 10px; 
	transform: skew(0deg);
	margin-bottom: 0px;
    margin-left: 0px;

}

.rotate-5 {
    transform: skew(0deg);
}

.bonus-number {
    background: url(../images/bonus-number-bg.png) no-repeat center center;
    background-size: contain;
    padding: 15px;
}

@media (min-width: 768px){
.sm-header-width-left {
    width: 21%;
}


.sm-header-width-right {
    width: 79%;
}

	.game-changer {
    background: #84f845;
    padding: 10px; 
	transform: skew(20deg);
	margin-bottom: -30px;
    margin-left: -30px;

}
.rotate-5 {
    transform: skew(-20deg);
}
}


 /* move icons  */
.star{
    position: absolute;
    right: 2%;
    top: 15%;
 
}
.star-move{
    position: relative;
    animation: spin2 12s linear 0s infinite normal;
}
.star-bottom{
    position: absolute;
    left: 0px;
    bottom: 10%;
}
.website-move{
    position: absolute;
    left: 4%;
    top: 30%;
}
.web-move 
{
    position: relative;
    animation: rotate 8s linear 0s infinite normal;
}

.website-repair{
    position: absolute;
    right: 0;
    top: 50%;
}

.web-repair{
    position: relative;
    animation: rotate 8s linear 0s infinite normal;
}
@keyframes spin2 {
    0% {
      transform: rotate(-360deg); }
    100% { 
      transform: rotate(0deg); }
}
@keyframes rotate {  	
	0%,100% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  40% {
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  70% {
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
	
}
/* move icons ends */
.pre-headline {
    background-color: rgb(27 85 146);
    display: inline-block;
    padding: 15px 40px;
    border-radius: 50px;
    text-align: center;
}
.title-bg1 {
    background: #003196;
    color: #fff;
    padding: 15px;
    display: inline-block;
    text-align: center;
    border: 1px dashed #fff;
}
.gradient-text {
    color: #f614b8;
    background-image: -moz-linear-gradient( 0deg, rgb(250,170,75) 0%, rgb(255,215,22) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,170,75) 0%, rgb(255,215,22) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,170,75) 0%, rgb(255,215,22) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
@media (min-width: 768px){
.title-bg1 {
    background: url(../images/heading-design.png) no-repeat;
    background-size: 100% 100%;
    padding: 30px;
    border: none;
}}