html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}


/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.yellow-clr {
    color: #fff600;
}

.blue-clr {
    color: #240f75;
}


/* Header CSS */

.header-section {
    background: url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px;
}

.affiliate-link-btn a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 12px 8px 8px 8px;
    font-size: 14px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    max-width: 234px;
    border-radius: 8px;
    background:#ff9023;
}

.affiliate-link-btn a:hover {
    border-radius: 8px;
    background:#ee851c;
    color: #ffffff;
}

span.under {
    border-bottom: 4px solid;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 400;
}

/* Ribbion CSS */

:root {
    --mainColor: #2f6574;
    --secColor: #f94b02;
}

/* Responsive Video CSS */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgba(208, 219, 227, 0.58);
    border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Black Timer css */

.white-section {
    background: #ffffff;
    padding: 5% 0;
}

.live-section {
    background: #ffffff;
    padding: 30px 0px;
}

.ground-breaking {
    padding: 30px 0px;
    background: #ffffff;
}

.launch-start-bg {
    padding: 30px 15px;
    position: relative;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(4, 6, 52);
}

.launch-shape {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 65px;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: -22px;
}

.gap20 {
    gap: 20px;
}

.start-bg {
    background-color: rgb(25, 161, 246);
    padding: 10px 8px 8px 8px;
    display: block;
    max-width: 210px;
    width: 100%;
    text-align: center;
}

.pre-heading {
    background: #550076;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
}

.skew-con {
    transform: skew(5deg);
}

.proudly-sec {
    background: #10a6f8;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}

.skew-con {
    transform: skew(5deg);
}

.why-should {
    border-radius: 10px;
    background-color: #ffcc00;
    display: inline-block;
    padding: 15px;
    margin-top: -60px;
}

@media (min-width: 768px) {
    .pre-heading {
        padding: 15px 40px;
        background: url(../images/pre-shape.webp) no-repeat center center;
        background-size: cover;
    }
    .skew-con {
        transform: skew(10deg);
    }
    .launch-start-bg {
        padding: 15px;
    }
    .why-should {
        margin-top: -50px;
        padding: 29px 40px 49px 40px;
        background: url(../images/here-why-should-not-promote.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .proudly-sec {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
    .skew-con {
        transform: skew(10deg);
    }
    .ground-breaking {
        padding: 100px 0px;
        background: #ffffff url(../images/bluebg1.png) no-repeat center center;
        background-size: cover;
    }
    .live-section {
        padding: 100px 0px;
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 67%;
        flex: 0 0 67%;
        max-width: 67%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }

    .header-section {
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .min-sm-video-width-left {
        width: 68%;
    }
    .min-sm-video-width-right {
        width: 32%;
    }
    .start-bg {
        max-width: 180px;
    }
}

/* XS Margin Auto CSS */

@media (max-width: 767px) {
    .text-xs-center {
        text-align: center;
    }
}


@media only screen and (max-width: 767px) {
    .header-section ul.leader-ul li {
        padding: 0 2px;
    }
    .header-section ul.leader-ul {
        margin-top: 10px;
    }
}

/* MaxFunnel Section */

/* XS Margin Auto CSS */

@media (max-width: 767px) {
    .text-xs-center {
        text-align: center;
    }
}

/* MaxFunnels Is EVERYTHING Section css*/

/* new css */

.formbg {
    position: relative;
    padding: 30px 15px 5px 15px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 14.7px 0.3px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
    .formbg {
        padding: 40px;
    }
}

.form-control.input-field {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    background-color: #ffffff;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 15px;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 19px 20px;
    line-height: normal;
    font-weight: 700;
    outline: none;
    border-radius: 8px;
    background:#ff9023;
    border: none;
}

.affiliate-btn a {
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 19px 20px;
    line-height: normal;
    font-weight: 700;
    outline: none;
    border-width: 1px;
    border-color: rgb(220, 220, 220);
    border-style: solid;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(93, 0, 6);
}

.affiliate-btn a:hover {
    background: #801219;
    text-decoration: none;
}

@media (min-width: 768px) {
    .affiliate-link-btn a {
        padding: 16px 30px 14px 30px;
        font-size: 18px;
        line-height: 100%;
        color: #ffffff;
        font-weight: 600;
        max-width: 234px;
        margin-left: auto;
    }
}

a.promo-link {
    background-color: #5e2bff;
    max-width: 100%;
    padding: 11px 30px;
    border-radius: 5px;
}

.popup-btn input[type="submit"]:hover {
    text-decoration: none;
    border-radius: 8px;
    background: #ee851c;
    color: #ffffff;
}

a.promo-link:hover,
.popup-btn a:hover {
    text-decoration: none;
    border-radius: 8px;
    background: #5425f0;
    color: #ffffff;
}

.features-list-bg {
    background: #ffffff url(../images/features-list-bg.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    width: 100%;
    padding: 50px 30px;
    height: 100%;
}

@media (min-width:768px) {
    .features-list-bg {
        padding: 50px 30px;
        min-height: 254px;
    }
}

/****/

.proudly-tick li {
    background: url(../images/tick.webp) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 35px;
}

.proudly-tick li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 1400px) {
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.row-padding .col {
    padding-left: 25px !important;
    padding-right: 25px !important;
}


