html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #08041e;
    font-size: 14px;
	overflow-x: hidden;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

/* Color CSS */

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e !important;
}

a.lightred {
    color: #FF9315;
}

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

/* Header Section CSS */

.header-section {
    background-color: #fff;
    padding: 5% 0;
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
}

/********features*********/

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul li a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
}