@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
body{
	font-family: 'Montserrat', sans-serif;
}

.buy_btn_nav{
	background-color: #0AC059;
	padding: 15px;
	border-radius: 15px;

}

.img_logo{
	width:200px;
}

.navbar {
	background-color: transparent !important;
}

.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.mt40{
	margin-top: 40px;
}
.mt50{
	margin-top: 50px;
}
.mt60{
	margin-top: 60px;
}
.mt70{
	margin-top: 70px;
}
.mt80{
	margin-top: 80px;
}
.mt90{
	margin-top: 90px;
}
.mt100{
	margin-top: 100px;
}
.mb0{
	margin-bottom: 0px;
}
.mb20{
	margin-bottom: 20px;
}
.mb30{
	margin-bottom: 30px;
}
.mb50{
	margin-bottom: 50px;
}
.mb70{
	margin-bottom: 70px;
}

.pt20{
	padding-top: 20px;
}
.pt30{
	padding-top: 30px;
}
.pt50{
	padding-top: 50px;
}
.pt70{
	padding-top: 70px;
}
.pt100{
	padding-top: 100px;
}
.pb30{
	padding-bottom: 30px;
}
.pb50{
	padding-bottom: 50px;
}
.pb100{
	padding-bottom: 100px;
}

.lg12{
	font-size: 12px;
}
.lg14{
	font-size: 14px;
}
.lg16{
	font-size: 16px;
}
.lg18{
	font-size: 18px;
}
.lg20{
	font-size: 20px;
}
.lg22{
	font-size: 22px;
}
.lg24{
	font-size: 24px;
}
.lg26{
	font-size: 26px;
}
.lg28{
	font-size: 28px;
}
.lg30{
	font-size: 30px;
}
.lg32{
	font-size: 32px;
}
.lg34{
	font-size: 34px;
}
.lg36{
	font-size: 36px;
}
.lg38{
	font-size: 38px;
}
.lg40{
	font-size: 40px;
}
.lg42{
	font-size: 42px;
}
.lg44{
	font-size: 44px;
}
.lg46{
	font-size: 46px;
}
.lg48{
	font-size: 48px;
}
.lg50{
	font-size: 50px;
}
.lg52{
	font-size: 52px;
}
.lg54{
	font-size: 54px;
}
.lg56{
	font-size: 56px;
}
.lg58{
	font-size: 58px;
}
.lg60{
	font-size: 60px;
}
.lg62{
	font-size: 62px;
}

@media (max-width: 676px) {
	.xs8{
		font-size: 8px;
	}
	.xs9{
		font-size: 9px;
	}
	.xs10{
		font-size: 10px;
	}
	.xs11{
		font-size: 11px;
	}
	.xs12{
		font-size: 12px;
	}
	.xs13{
		font-size: 13px;
	}
	.xs14{
		font-size: 14px;
	}
	.xs15{
		font-size: 15px;
	}
	.xs16{
		font-size: 16px;
	}
	.xs18{
		font-size: 18px;
	}
	.xs20{
		font-size: 20px;
	}
	.xs21{
		font-size: 21px;
	}
	.xs22{
		font-size: 22px;
	}
	.xs24{
		font-size: 24px;
	}
	.xs26{
		font-size: 26px;
	}
	.xs28{
		font-size: 28px;
	}
	.xs30{
		font-size: 30px;
	}
	.xs32{
		font-size: 32px;
	}
	.xs34{
		font-size: 34px;
	}
	.xs36{
		font-size: 36px;
	}
	.xs38{
		font-size: 38px;
	}
	.xs40{
		font-size: 40px;
	}
	.xs42{
		font-size: 42px;
	}
	.xs44{
		font-size: 44px;
	}
	.xs46{
		font-size: 46px;
	}
	.xs48{
		font-size: 48px;
	}
	.xs50{
		font-size: 50px;
	}
	.xs52{
		font-size: 52px;
	}
	.xs54{
		font-size: 54px;
	}
	.xs56{
		font-size: 56px;
	}
	.xs58{
		font-size: 58px;
	}
	.xs60{
		font-size: 60px;
	}
	.xs62{
		font-size: 62px;
	}
	.xsmt0{
		margin-top: 0px;
	}
	.xsmt10{
		margin-top: 10px;
	}
	.xsmt20{
		margin-top: 20px;
	}
	.xsmt30{
		margin-top: 30px;
	}
	.xsmt40{
		margin-top: 40px;
	}
	.xsmt50{
		margin-top: 50px;
	}
	.xsmt60{
		margin-top: 60px;
	}
	.xsmt70{
		margin-top: 70px;
	}
	.xsmt80{
		margin-top: 80px;
	}
	.xsmt90{
		margin-top: 90px;
	}
	.xsmt100{
		margin-top: 100px;
	}
	.xspt0{
		padding-top: 0;
	}
	.xspt10{
		padding-top: 10px;
	}
	.xspt20{
		padding-top: 20px;
	}
	.xspt30{
		padding-top: 30px;
	}
	.xspt40{
		padding-top: 40px;
	}
	.xspt50{
		padding-top: 50px;
	}
	.xspt60{
		padding-top: 60px;
	}
	.xspt70{
		padding-top: 70px;
	}
	.xspt80{
		padding-top: 80px;
	}
	.xspt90{
		padding-top: 90px;
	}
	.xspt100{
		padding-top: 100px;
	}
	.xspb20{
		padding-bottom: 20px;
	}
	.xspb30{
		padding-bottom: 30px;
	}

	.xsmb0{
		margin-bottom: 0px;
	}
	.xsmb10{
		margin-bottom: 10px;
	}
	.xsmb20{
		margin-bottom: 20px;
	}
	.xsmb30{
		margin-bottom: 30px;
	}
	.xsmb40{
		margin-bottom: 40px;
	}
	.xsmb50{
		margin-bottom: 50px;
	}
	.xsmb70{
		margin-bottom: 70px;
	}
}

.bg1{
	background-image: url('../img/bg1.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.bg12{
	color: #fff;
	padding: 0 10px;
	margin-bottom: 10px;
	display: inline-block;
	border-radius: 10px;
	background: -moz-linear-gradient(45deg, rgba(96,57,128,1) 0%, rgba(2,1,2,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(96,57,128,1)), color-stop(100%, rgba(2,1,2,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(96,57,128,1) 0%, rgba(2,1,2,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(96,57,128,1) 0%, rgba(2,1,2,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(96,57,128,1) 0%, rgba(2,1,2,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(96,57,128,1) 0%, rgba(2,1,2,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020102', endColorstr='#603980',GradientType=1 ); /* ie6-9 */
}
.bg21{
	background-color: #FF9F00;
	padding: 0 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.bg31{
	background-color: #FF9F00;
	padding: 10px 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.bg13{
	background: -moz-linear-gradient(0deg, rgba(202,140,172,1) 0%, rgba(82,45,111,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(202,140,172,1)), color-stop(100%, rgba(82,45,111,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, rgba(202,140,172,1) 0%, rgba(82,45,111,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, rgba(202,140,172,1) 0%, rgba(82,45,111,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, rgba(202,140,172,1) 0%, rgba(82,45,111,1) 100%); /* ie10+ */
	background: linear-gradient(90deg, rgba(202,140,172,1) 0%, rgba(82,45,111,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CA8CAC', endColorstr='#522D6F',GradientType=1 ); /* ie6-9 */
	padding: 10px 20px;
	border-radius: 10px;
}
.bg14{
	background-image: url('../img/bg14.png');
	background-size: cover;
	background-repeat: no-repeat;
}



.shadow1_box{
	transform: skew(45deg);
}


.color_red{
	color: #ec3730;
}
.color_orange{
	color: #ffa705;
}
.color_white{
	color: #fff;
}
.color_blue{
	color: #091166;
}
.color_blue1{
	color: #0060FF;
}
.color_gray{
	color: #7a8795;
}
.color_yellow{
	color: #f9f904;
}
.color_pink{
	color:#FF0070;
}
.btn_custom{
	background: #ff4e0c;
	padding: 10px 30px;
	font-size: 20px;
	border:none;
	box-shadow: 6px 6px 10px 0px rgba(255,78,12,0.65);
	border-radius: 10px;
	color: #fff;
	font-weight: 600;
	width: 100%;
	max-width: 400px;
}
.logo_set{
	max-width: 400px;
}

.custom_btn {
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: #1C2454;
    color: #fff !important;
    border-radius: 20px;
    width: auto;
}
.bg_green{
	background-color: #FF2300;
	padding: 5px 10px; 
}
.bg_gradient_orange{
	padding: 5px 100px;
	background: -moz-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(228,75,21,1) 50%, rgba(9,9,33,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(9,9,33,1)), color-stop(50%, rgba(228,75,21,1)), color-stop(100%, rgba(9,9,33,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(228,75,21,1) 50%, rgba(9,9,33,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(228,75,21,1) 50%, rgba(9,9,33,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(228,75,21,1) 50%, rgba(9,9,33,1) 100%); /* ie10+ */
	background: linear-gradient(90deg, rgba(9,9,33,1) 0%, rgba(228,75,21,1) 50%, rgba(9,9,33,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090921', endColorstr='#090921',GradientType=1 ); /* ie6-9 */
}
.bg_gradient_blue{
	padding: 5px 100px;
	background: -moz-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(1,92,220,1) 50%, rgba(9,9,33,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(9,9,33,1)), color-stop(50%, rgba(1,92,220,1)), color-stop(100%, rgba(9,9,33,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(1,92,220,1) 50%, rgba(9,9,33,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(1,92,220,1) 50%, rgba(9,9,33,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(1,92,220,1) 50%, rgba(9,9,33,1) 100%); /* ie10+ */
	background: linear-gradient(90deg, rgba(9,9,33,1) 0%, rgba(1,92,220,1) 50%, rgba(9,9,33,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090921', endColorstr='#090921',GradientType=1 ); /* ie6-9 */
}
.bg_gradient_blue_white{
	padding: 10px;
	background: -moz-linear-gradient(1deg, rgba(247,245,247,1) 0%, rgba(60,42,222,1) 23%, rgba(28,20,106,1) 50%, rgba(60,42,222,1) 75%, rgba(247,245,247,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(247,245,247,1)), color-stop(23%, rgba(60,42,222,1)), color-stop(50%, rgba(28,20,106,1)), color-stop(75%, rgba(60,42,222,1)), color-stop(100%, rgba(247,245,247,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(1deg, rgba(247,245,247,1) 0%, rgba(60,42,222,1) 23%, rgba(28,20,106,1) 50%, rgba(60,42,222,1) 75%, rgba(247,245,247,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(1deg, rgba(247,245,247,1) 0%, rgba(60,42,222,1) 23%, rgba(28,20,106,1) 50%, rgba(60,42,222,1) 75%, rgba(247,245,247,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(1deg, rgba(247,245,247,1) 0%, rgba(60,42,222,1) 23%, rgba(28,20,106,1) 50%, rgba(60,42,222,1) 75%, rgba(247,245,247,1) 100%); /* ie10+ */
	background: linear-gradient(89deg, rgba(247,245,247,1) 0%, rgba(60,42,222,1) 23%, rgba(28,20,106,1) 50%, rgba(60,42,222,1) 75%, rgba(247,245,247,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F5F7', endColorstr='#F7F5F7',GradientType=1 ); /* ie6-9 */
}
.bg_orange{
	background-color: #F99F04;
	padding: 5px 30px;
}
.btn_custom_set{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 8px 80px;
	border-radius: 60px;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	line-height: 30px;
	border:none;
	background: -moz-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,29,0,1)), color-stop(100%, rgba(249,154,4,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(357deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%); /* ie10+ */
	background: linear-gradient(93deg, rgba(255,29,0,1) 0%, rgba(249,154,4,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1d00', endColorstr='#f99a04',GradientType=1 ); /* ie6-9 */
	margin-top: 15px;

}

.btn_custom_set:hover{
	background: -moz-linear-gradient(357deg, rgba(255,29,0,1) 100%, rgba(249,154,4,1) 0%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,29,0,1)), color-stop(100%, rgba(249,154,4,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(357deg, rgba(255,29,0,1) 100%, rgba(249,154,4,1) 0%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(357deg, rgba(255,29,0,1) 100%, rgba(249,154,4,1) 0%); /* opera 11.10+ */
	background: -ms-linear-gradient(357deg, rgba(255,29,0,1) 100%, rgba(249,154,4,1) 0%); /* ie10+ */
	background: linear-gradient(93deg, rgba(255,29,0,1) 100%, rgba(249,154,4,1) 0%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1d00', endColorstr='#f99a04',GradientType=1 ); /* ie6-9 */

}
.btn_custom_set span{
	font-size: 22px;
}

.btn_instant{
	box-shadow: 17px 17px 23px 0px rgba(49,27,146,0.8);
	background-color: #3da3ef;
	font-size: 60px;
	color: #fff;
	font-weight: bolder;
	border:none;
	border-radius: 10px;
}
.box_timer{
	background-image: url('../img/timer.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 300px;
	padding: 30px;
}

.box_timer1{

}
.box_timer svg{
	font-size: 90px;
}
.box_time h2{
	font-size: 60px;
	font-weight: lighter;
}

.hori_row{
	position: absolute;
	height: 10px;
	background-color: #000000;
	width: 50px;
	z-index: 100;
	right: -26px;
	top: 50px;
}
.hori_row1{
	position: absolute;
	height: 10px;
	background-color: #000000;
	width: 50px;
	z-index: 100;
	left: -26px;
	top: 50px;
}

.font_al{
	font-family: 'Alata', sans-serif;
}
.font_j{

}
.footer_content1{

	background-color: #01002E;
}
.box_btn{
	background-color: #FF1D48;
	padding: 10px 0;
}
.box_btn img{
	margin-top: -35px;
}
.box_btn ul{
	margin :0px;
	padding :0px;
}
.box_btn li{
	display: inline-block;
}
.box_btn li

#mainNav .navbar-nav li.nav-item a.nav-link{
	color: #000;
}
#mainNav img{
	width: 300px;
}

.navbar-shrink{
	background-color: rgba(4,6,20,0.7) !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link{
	color: #fff !important;
}


.copyright{
	background: #091166;
}
.copyright ul{
	text-align: right;
}
.copyright ul li{
	display: inline-block;

	margin-right: 10px;
	margin-left: 10px;
}
#modal .modal-dialog{
	margin: 130px auto 0px;
}
#modal .modal-content{
    border-radius: 0px;
}
#modal .modal-header {
    background-color: #FF0056;
    border-radius: 0px;
}

#modal .modal-header h5{
    text-align: center;
    width: 100%;
    font-size: 80px;
    line-height: 40px;
    color: #fff;
}
#modal .modal-header h5 span{
    font-size: 40px;
}
#modal .modal-header .close{
    border-radius: 50%;
    padding: 5px 8px;
    background-color: #222222;
    opacity: 1;
    color: #fff; 
    margin:-30px -30px -1rem auto;
    border:2px solid #fff;
}
#modal .modal-body {
    padding: 1rem 1rem 2rem;
}
#modal .modal-body h2{
    text-align: center;
    font-size: 40px;
}

#modal .modal-body h3{
    text-align: center;
    font-size: 32px;
}
#modal .modal-body h3 span{
    color: #7512c0;
}

#modal .btn_custom{
    padding: 30px 50px;
}
.btn_custom_set1{
	background-color: #fccc00;
    color: #000;
    font-size: 34px;
    text-decoration: none;
    padding: 30px 50px;
    box-shadow: 7px 7px 14px 0px rgba(252,204,0,0.55);
    border-radius: 60px;
    font-weight: 700;
    transition: all 0.5s ease;
    display: inline-block;
    line-height: 26px;
}
.btn_custom_set1 span{
	font-size: 18px;
    font-weight: lighter;
}

@media (max-width: 676px) {
    #modal .modal-header h5{
        font-size: 40px;
    }
    #modal .modal-header h5 span
    {
        font-size: 20px;
    }
    #modal .modal-body h2{
        font-size: 22px;
    }
    #modal .modal-body h3{
        font-size: 18px;
    }
    #modal .btn_custom{
        padding: 20px 10px;
    }
    #modal .modal-dialog{
        margin:5rem 1rem 0;
    }
}


@media (max-width: 676px) {
	.btn_custom_set{
		padding: 10px 20px;
		font-size: 20px;
	}
	.btn_custom_set span{
		font-size: 12px;
	}
	.box_timer svg{
		font-size: 45px;
	}
	.box_timer{
		height: 180px;
	}
	.box_time h2{
		font-size: 52px;
	}
	.img_border{
		display: none;
	}


}


.riskfree-section {
    padding: 30px 0px;
    background: #101929;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
	color: #ffffff;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}
.px5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.lh140 {
    line-height: 140%;
}
.mt15 {
    margin-top: 15px !important;
}
.w600{
	font-weight: 600;
}
@media(min-width:768px) {
	.f-md-45 {
		font-size: 45px;
	}
	.f-md-20 {
		font-size: 20px;
	}
	.riskfree-section {
		padding: 100px 0px;
	}
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}




/**** Table Section ***/

/* 

.table-wrap {
	background: #ffffff;
	width: 100%;
	float: left;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.table-head {
	background: #ffffff;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}

.table-wrap1 {
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}

.table-btn {
	padding: 30px 20px;
	text-align: center;
}

.table-head1 {
	padding: 40px 30px 30px 30px;
	text-align: center;
	background: url(../img/table-screen.webp) center center no-repeat;
	background-size: cover;
	min-height: 250px;
}
ul.table-list1{
margin: 0;padding: 0;
}
.table-list li {
	background: url(../img/green-check.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
}

.table-list li:nth-child(odd) {
	background: #f5f8ff url(../img/green-check.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list li:nth-child(even) {
	background: #ffffff url(../img/green-check.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list1 li:nth-child(odd) {
	background: url(../img/green-check.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list1 li:nth-child(even) {
	background: url(../img/green-check.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list1 li {
	background: url(../img/green-check.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
	list-style: none;
	margin: 0px;
} */

/* .table-wrap1:before {
	content: '';
	position: absolute;
	background: url(../images/most-popular.webp) no-repeat left top;
	min-height: 165px;
	min-width: 153px;
	left: 10px;
	top: -10px;
} */
/* 
.table-list li.cross-sign {
	background-image: url(../images/launch-cross.webp) !important;
	background-position: 15px 21px !important;
}

.table-list li.headline {
	background: -moz-linear-gradient(45deg, rgb(104 42 241) 0%, rgb(87 45 180) 100%);
	background: -webkit-linear-gradient(45deg, rgb(104 42 241) 0%, rgb(87 45 180) 100%);
	background: linear-gradient(45deg, rgb(104 42 241) 0%, rgb(87 45 180) 100%);
	padding: 20px 0px 20px 0px;
	background-position: 0px !important;
	list-style: none;
	margin: 0px;
	border-bottom: none !important;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}

.table-list1 li.headline {
    background: linear-gradient(180deg, #173a7a 0%, #001233 100%);
	padding: 20px 0px 20px 0px;
	background-position: 0px !important;
	list-style: none;
	margin: 0px;
	border-bottom: none !important;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}

@media (min-width: 768px) {
	.table-section {
		padding: 100px 0px;
		background:url(../img/table-bg.webp) no-repeat center  center;
		background-size: cover;
	}

	.table-head {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}

	.table-head1 {
		padding: 80px 30px 80px 30px;
		text-align: center;
		min-height: 468px;
	}

	.table-list li:nth-child(odd),
	.table-list li.cross-sign {
		background-position: 30px 12px;
	}

	.table-list li {
		padding: 20px 15px 20px 65px;
		background-position: 30px 12px;
	}

	.table-list li:nth-child(even) {
		background-position: 30px 12px;
	}

	.table-list1 li:nth-child(odd) {
		background-position: 30px 12px;
	}

	.table-list1 li:nth-child(even) {
		background-position: 30px 12px;
	}

	.table-list1 li {
		padding: 10px 15px 10px 75px;
	}
} */

a.nothank{
	color: #ff0000;
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	margin-top: 40px;
	display: inline-block;

}
.bonus-section{
	padding: 30px 0px;
}
.cta-section{
	padding: 30px 0px;
	background-color: #091166;
}
.offer-new {
    background-color: #FF1D48;
    padding: 15px 0;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 140%;
}
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
@media (min-width:768px){
	.bonus-section{
		padding: 100px 0px;
		background: url(../img/bonus-bg.webp) no-repeat center center;
		background-size: cover;
	}	
	.cta-section{
		padding:60px 0px;
	}
	.offer {
		display: flex;
		align-items: center;
		gap: 15px;
		justify-content: center;
		flex-direction: row;
	}
}

.modal-open {
	overflow: hidden;
  }
  .modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
  }
  
  .modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
  }
  
  .modal-dialog {
	position: relative;
	width: auto;
	margin: 0.5rem;
	pointer-events: none;
  }
  .modal.fade .modal-dialog {
	transition: transform 0.3s ease-out;
	transform: translate(0, -50px);
  }
  @media (prefers-reduced-motion: reduce) {
	.modal.fade .modal-dialog {
	  transition: none;
	}
  }
  .modal.show .modal-dialog {
	transform: none;
  }
  .modal.modal-static .modal-dialog {
	transform: scale(1.02);
  }
  
  .modal-dialog-scrollable {
	display: flex;
	max-height: calc(100% - 1rem);
  }
  .modal-dialog-scrollable .modal-content {
	max-height: calc(100vh - 1rem);
	overflow: hidden;
  }
  .modal-dialog-scrollable .modal-header,
  .modal-dialog-scrollable .modal-footer {
	flex-shrink: 0;
  }
  .modal-dialog-scrollable .modal-body {
	overflow-y: auto;
  }
  
  .modal-dialog-centered {
	display: flex;
	align-items: center;
	min-height: calc(100% - 1rem);
  }
  .modal-dialog-centered::before {
	display: block;
	height: calc(100vh - 1rem);
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	content: "";
  }
  .modal-dialog-centered.modal-dialog-scrollable {
	flex-direction: column;
	justify-content: center;
	height: 100%;
  }
  .modal-dialog-centered.modal-dialog-scrollable .modal-content {
	max-height: none;
  }
  .modal-dialog-centered.modal-dialog-scrollable::before {
	content: none;
  }
  
  .modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 0 solid rgba(0, 0, 0, 0.2);
	border-radius: 0.75rem;
	outline: 0;
  }
  
  .modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000;
  }
  .modal-backdrop.fade {
	opacity: 0;
  }
  .modal-backdrop.show {
	opacity: 0.5;
  }
  
  .modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem 1rem;
	border-bottom: 0 solid #dee2e6;
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
  }
  .modal-header .close {
	padding: 1rem 1rem;
	margin: -1rem -1rem -1rem auto;
  }
  
  .modal-title {
	margin-bottom: 0;
	line-height: 1.5;
  }
  
  .modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 4rem 1rem;
  }
  
  .modal-footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	padding: 4rem 1rem-0.25rem;
	border-top: 0 solid #dee2e6;
	border-bottom-right-radius: 0.75rem;
	border-bottom-left-radius: 0.75rem;
  }
  .modal-footer > * {
	margin: 0.25rem;
  }
  
  .modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
  }
  
  @media (min-width: 576px) {
	.modal-dialog {
	  max-width: 500px;
	  margin: 1.75rem auto;
	}
  
	.modal-dialog-scrollable {
	  max-height: calc(100% - 3.5rem);
	}
	.modal-dialog-scrollable .modal-content {
	  max-height: calc(100vh - 3.5rem);
	}
  
	.modal-dialog-centered {
	  min-height: calc(100% - 3.5rem);
	}
	.modal-dialog-centered::before {
	  height: calc(100vh - 3.5rem);
	  height: -webkit-min-content;
	  height: -moz-min-content;
	  height: min-content;
	}
  
	.modal-sm {
	  max-width: 300px;
	}
  }
  @media (min-width: 992px) {
	.modal-lg,
  .modal-xl {
	  max-width: 800px;
	}
  }
  @media (min-width: 1200px) {
	.modal-xl {
	  max-width: 1140px;
	}
  }
  .tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	margin: 0;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	white-space: normal;
	line-break: auto;
	font-size: 0.875rem;
	word-wrap: break-word;
	opacity: 0;
  }
  .tooltip.show {
	opacity: 0.9;
  }
  .tooltip .arrow {
	position: absolute;
	display: block;
	width: 0.8rem;
	height: 0.4rem;
  }
  .tooltip .arrow::before {
	position: absolute;
	content: "";
	border-color: transparent;
	border-style: solid;
  }
  
  .bs-tooltip-top, .bs-tooltip-auto[x-placement^=top] {
	padding: 0.4rem 0;
  }
  .bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^=top] .arrow {
	bottom: 0;
  }
  .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^=top] .arrow::before {
	top: 0;
	border-width: 0.4rem 0.4rem 0;
	border-top-color: #000;
  }
  
  .bs-tooltip-right, .bs-tooltip-auto[x-placement^=right] {
	padding: 0 0.4rem;
  }
  .bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^=right] .arrow {
	left: 0;
	width: 0.4rem;
	height: 0.8rem;
  }
  .bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^=right] .arrow::before {
	right: 0;
	border-width: 0.4rem 0.4rem 0.4rem 0;
	border-right-color: #000;
  }
  
  .bs-tooltip-bottom, .bs-tooltip-auto[x-placement^=bottom] {
	padding: 0.4rem 0;
  }
  .bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^=bottom] .arrow {
	top: 0;
  }
  .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^=bottom] .arrow::before {
	bottom: 0;
	border-width: 0 0.4rem 0.4rem;
	border-bottom-color: #000;
  }
  
  .bs-tooltip-left, .bs-tooltip-auto[x-placement^=left] {
	padding: 0 0.4rem;
  }
  .bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^=left] .arrow {
	right: 0;
	width: 0.4rem;
	height: 0.8rem;
  }
  .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^=left] .arrow::before {
	left: 0;
	border-width: 0.4rem 0 0.4rem 0.4rem;
	border-left-color: #000;
  }
  
  .tooltip-inner {
	max-width: 200px;
	padding: 0.25rem 0.5rem;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: 0.5rem;
  }
  
  .popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1060;
	display: block;
	max-width: 276px;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	white-space: normal;
	line-break: auto;
	font-size: 0.875rem;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: padding-box;
	border: 0.125rem solid rgba(0, 0, 0, 0.2);
	border-radius: 0.75rem;
  }
  .popover .arrow {
	position: absolute;
	display: block;
	width: 1rem;
	height: 0.5rem;
	margin: 0 0.75rem;
  }
  .popover .arrow::before, .popover .arrow::after {
	position: absolute;
	display: block;
	content: "";
	border-color: transparent;
	border-style: solid;
  }
  
  .bs-popover-top, .bs-popover-auto[x-placement^=top] {
	margin-bottom: 0.5rem;
  }
  .bs-popover-top > .arrow, .bs-popover-auto[x-placement^=top] > .arrow {
	bottom: -0.625rem;
  }
  .bs-popover-top > .arrow::before, .bs-popover-auto[x-placement^=top] > .arrow::before {
	bottom: 0;
	border-width: 0.5rem 0.5rem 0;
	border-top-color: rgba(0, 0, 0, 0.25);
  }
  .bs-popover-top > .arrow::after, .bs-popover-auto[x-placement^=top] > .arrow::after {
	bottom: 0.125rem;
	border-width: 0.5rem 0.5rem 0;
	border-top-color: #fff;
  }
  
  .bs-popover-right, .bs-popover-auto[x-placement^=right] {
	margin-left: 0.5rem;
  }
  .bs-popover-right > .arrow, .bs-popover-auto[x-placement^=right] > .arrow {
	left: -0.625rem;
	width: 0.5rem;
	height: 1rem;
	margin: 0.75rem 0;
  }
  .bs-popover-right > .arrow::before, .bs-popover-auto[x-placement^=right] > .arrow::before {
	left: 0;
	border-width: 0.5rem 0.5rem 0.5rem 0;
	border-right-color: rgba(0, 0, 0, 0.25);
  }
  .bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^=right] > .arrow::after {
	left: 0.125rem;
	border-width: 0.5rem 0.5rem 0.5rem 0;
	border-right-color: #fff;
  }
  
  .bs-popover-bottom, .bs-popover-auto[x-placement^=bottom] {
	margin-top: 0.5rem;
  }
  .bs-popover-bottom > .arrow, .bs-popover-auto[x-placement^=bottom] > .arrow {
	top: -0.625rem;
  }
  .bs-popover-bottom > .arrow::before, .bs-popover-auto[x-placement^=bottom] > .arrow::before {
	top: 0;
	border-width: 0 0.5rem 0.5rem 0.5rem;
	border-bottom-color: rgba(0, 0, 0, 0.25);
  }
  .bs-popover-bottom > .arrow::after, .bs-popover-auto[x-placement^=bottom] > .arrow::after {
	top: 0.125rem;
	border-width: 0 0.5rem 0.5rem 0.5rem;
	border-bottom-color: #fff;
  }
  .bs-popover-bottom .popover-header::before, .bs-popover-auto[x-placement^=bottom] .popover-header::before {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 1rem;
	margin-left: -0.5rem;
	content: "";
	border-bottom: 0.125rem solid #f7f7f7;
  }
  
  .bs-popover-left, .bs-popover-auto[x-placement^=left] {
	margin-right: 0.5rem;
  }
  .bs-popover-left > .arrow, .bs-popover-auto[x-placement^=left] > .arrow {
	right: -0.625rem;
	width: 0.5rem;
	height: 1rem;
	margin: 0.75rem 0;
  }
  .bs-popover-left > .arrow::before, .bs-popover-auto[x-placement^=left] > .arrow::before {
	right: 0;
	border-width: 0.5rem 0 0.5rem 0.5rem;
	border-left-color: rgba(0, 0, 0, 0.25);
  }
  .bs-popover-left > .arrow::after, .bs-popover-auto[x-placement^=left] > .arrow::after {
	right: 0.125rem;
	border-width: 0.5rem 0 0.5rem 0.5rem;
	border-left-color: #fff;
  }
  
  .popover-header {
	padding: 0.5rem 0.75rem;
	margin-bottom: 0;
	font-size: 1rem;
	background-color: #f7f7f7;
	border-bottom: 0.125rem solid #ebebeb;
	border-top-left-radius: 0.625rem;
	border-top-right-radius: 0.625rem;
  }
  .popover-header:empty {
	display: none;
  }
  