html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
    overflow-x: hidden;
}

/* Color CSS */

.white-clr {
    color: #fff;
}

.black-clr {
    color: #000 !important;
}
.orange-clr {
    color: #f57c25;
}
.yellow-clr {
    color:#ffa944;
}
.blue-clr{
    color: #0a3584;
}
span.under {
    border-bottom: 4px solid;
}

.header-section {
    background: #e2e7f3 url(../images/header-bg.webp) no-repeat center bottom;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}

.pre-heading {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    border-radius: 15px;
    margin: 0 auto;
    background-color: #832dcc;
    padding: 15px;
}
@media(min-width:768px){
    .pre-heading {
    background-repeat: no-repeat !important;
    background-size: cover !important;
   
    }
}

.skew-con {
    transform: skew(5deg);
}

.gap20 {
    gap: 20px;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%)
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.probtn1 a {
    border-radius: 10px;
    background-color: #f3426c;
    box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.45);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
}

.probtn1 a:hover {
    background: #f15b7f;
    color: #ffffff;
}
.post-heading {
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    background-image: url(../images/top-heading3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0px 0px 30px;
}
@media(min-width:768px) {
    
    .skew-con {
        transform: skew(10deg);
    }
    .header-section {
        padding: 40px 0px 150px 0px;
    }
    .probtn1 a {
        padding: 28px 30px;
        display: inline-block;
        width: auto;
    }
    
}

.header-list-block {
    border-radius: 0 0 20px 20px;
    padding: 20px 0;
    margin: 0
}
.logo img{
    max-height: 55px;
}
@media(min-width:768px) {
    .header-list-block {
        padding: 40px 30px
    }
}

/* Second Section Start */

.second-section {
    padding: 0 0 30px 0;
    background: #e1e7f3;
}

@media(min-width:768px) {
    .second-section {
        padding: 0 0 50px 0;
       
    }
}

/* Second Section End */

/* Fifth Section Start */

.fifth-section {
    background: #ffffff url(../images/proudlybg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}

@media(min-width:768px){
    .fifth-section {
        padding: 80px 0px 150px 0px;
    }
}

/* Fifth Section End */

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* thats Not All Section Start */

/* thats Not All Section End */

.thats-not-all-section {
    background: #fff;
    background-size: cover;
    padding: 30px 0
}

.one-time-shape {
    padding: 10px;
    background: #224cb0;
    border-radius: 5px
}

@media(min-width:768px){
    .thats-not-all-section {
        padding: 100px 0 100px;
        background: url(../images/agency-upgrade-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .one-time-shape {
        background: url(../images/one-time-shape.webp) no-repeat center center;
        background-size: contain;
        border: 0;
        border-radius: 0;
        padding: 22px 15px 70px
    }
    .f-md-70 {
        font-size: 70px
    }
}

/* Amazing Section Start */

.amazing-software-section1 {
    background: #e1e7f3;
    padding: 30px 0
}

@media(min-width:768px){
    .amazing-software-section1 {
        padding: 100px 0;
    }
    .imahe-h-300 {
        height: 400px
    }
    .imahe-h-250 {
        height: 350px
    }
}

/* Amazing Section End */

/* Grey Section Start */

.grey-section {
    background: #e1e7f3;
    padding: 30px 0
}

@media(min-width:768px) {
    .grey-section {
        padding: 100px 0;
    }
}

/* Grey Section End */

/* White Section Start */

.white-section {
    background: #fff;
    padding: 30px 0
}

@media(min-width:768px){
    .white-section {
        padding: 100px 0;
    }
}

/* White Section End */

/* MoneyBack Guarantee Start */

.moneyback-section {
    padding: 30px 0px;
    background: #101929;
}

@media(min-width:768px) {
    .moneyback-section {
        background: #f3f2fb url(../images/moneyback-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0 100px 0px;
        color: #ffffff;
    }
}

/* MoneyBack Guarantee End */

/* Bonus Section Start */
.bonus-section {
    background: #e1e7f3;
    background-size: cover;
    padding: 30px 0;

}
@media(min-width:768px){
    .bonus-section {
        background: url(../images/bonus-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 70px 0px 100px 0px;
    }
}

/* Bonus section End */

/* Table Section Start */

.table-section {
    background: #fff;
    padding: 30px 0
}

.tablebox2 {
    background: #e1e7f3;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #a2a1a3
}

.tbbg2 {
    background: #fff;
    padding: 50px 30px 30px 30px;
    background-size: cover;
    border-radius: 10px 10px 0 0
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101
}

ul.vgreytick {
    padding: 0
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #000
}

ul.vgreytick li:nth-child(odd) {
    background-color: #e1e7f3;
}

ul.vgreytick li:nth-child(even) {
    background-color: #fff
}

ul.vgreytick li:last-child {
    border-bottom: 0
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    color: #000;
    background: #fff;
    border-radius: 0 0 10px 10px;
    border-top: 0
}

.tablebox3 {
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
    position: relative;
    border: solid 1px #0f0f0f;
    background: #e1e7f3;
}

.tbbg3 {
    background: #0b0422;
    background: -moz-linear-gradient(180deg, #0b0422 0%, #260e72 100%);
    background: -webkit-linear-gradient(180deg, #0b0422 0%, #260e72 100%);
    background: linear-gradient(180deg, #0b0422 0%, #260e72 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1);
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0 0;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101
}

.myfeatureslastborder {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    min-height: 69px;
    background: #fff
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #0041b5;
}

@media(min-width:768px){
    .table-section {
        padding: 100px 0;
		background:url(../images/table-bg.webp) no-repeat top center;
        background-size: cover;
    }

    .gx-6 {
        --bs-gutter-x: 4rem
    }

    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }

    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }

    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }

    .myfeatureslast {
        padding: 30px
    }
    
}
.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}

/* Table Section End */

/* Footer Section Start */

.footer-section {
    background: #000000;
    padding: 30px 0
}

.footer-ul {
    padding: 0;
    margin: 0
}

.footer-ul li {
    display: inline
}

@media(min-width:768px) {
    .footer-section {
        padding: 70px 0
    }
}

/* Footer Section End */