html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-size: 14px;
}
/* Color CSS */
.white-clr,
a.white-clr {
	color: #ffffff;
}
.black-clr,
a.black-clr {
	color: #000000;
}
.orange-clr {
	color: #ffb80f;
}
.blue-clr {
	color: #0a52e2;
}
.red-clr {
	color: #ff1223;
}
.yellow-clr {
	color: #f4f70c;
}
.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 15px 0px 25px 0px rgba(19, 21, 26, 0.3);
	z-index: 99;
}
.header-section {
	background: #141516 url(https://cdn.oppyo.com/launches/jobiin/special/header-bg.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 30px 0px 230px 0px;
	position: relative;
}
.header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}
.header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
}
a.affiliate-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 8px 15px;
	font-size: 16px;
	line-height: normal;
	color: #000000;
	font-weight: 600;
	border-radius: 65px;
	background-color: #ffb80f;
	transition: all .3s ease;
	animation: glowing 5000ms infinite;
}
a.affiliate-link-btn:hover {
	transform: scale(1.05);
	transition: all .3s ease;
}

/* Animation Start */
@keyframes glowing {
	0% {
		box-shadow: 0 0 -10px #c4a300;
	}

	40% {
		box-shadow: 0 0 20px #c4a300;
	}

	60% {
		box-shadow: 0 0 20px #c4a300;
	}

	100% {
		box-shadow: 0 0 -10px #c4a300;
	}
}
.img-animation {
	animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@keyframes mover2 {
	0% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}
img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}
img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}
@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

/* Animation End */

.pre-heading {
	background: #282828;
	padding: 10px;
	display: inline-block;
	text-align: center;
	border-radius: 65px;
	text-align: center;
	border:dashed 4px #ffb80f;
	color:#ffffff;
}
.features-wrap {
	border-radius: 15px;
	background-color: #0a52e2;
	padding: 10px;
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	z-index: 1;
	padding: 15px 25px;
}
.list-head li {
	background: url(https://cdn.oppyo.com/launches/jobiin/special/table-tick.webp) no-repeat;
	padding: 10px 0px 10px 30px;
	background-position: 0px 12px;
	text-align: left;
	border-bottom: solid 1px #ffb80f;
	list-style: none;
}
.list-head li:last-child {
	padding-bottom: 0px;
	border: none;
}
@media (min-width: 768px) {
	.header-section {
		padding: 40px 0px 280px 0px;
	}
	a.affiliate-link-btn {
		padding: 10px 20px;
		font-size: 22px;
	}
	.pre-heading {
		padding: 10px 30px;
	}
	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66;
		flex: 0 0 66%;
		max-width: 66%;
	}
	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 34%;
		flex: 0 0 34%;
		max-width: 34%;
	}
}

@media (min-width: 1600px) {
	.header-left-element {
		position: absolute;
		left: -20px;
		bottom: -52px;
		display: block !important;
	}
	.header-right-element {
		position: absolute;
		bottom: -75px;
		right: 20px;
		display: block !important;
	}
}

/* Second Section Start */
.second-section {
	padding: 0px 0px 30px 0px;
}
.z-index-9 {
	z-index: 9;
}
ul.features-list {
	margin: 0px;
	padding: 0px;
}
ul.features-list li {
	background: url(https://cdn.oppyo.com/launches/jobiin/special/tick-icon.webp) no-repeat;
	padding: 0px 0px 20px 45px;
	background-position: 0px 3px;
	list-style: none;
}
ul.features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}
.header-list-block {
	border-radius: 20px;
	padding: 20px 0px;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	margin-top: -200px;
	background: #ffffff;
}
@media (min-width:768px) {
	.second-section {
		padding: 0px 0px 100px 0px;
	}
	.header-list-block {
		border-radius: 20px;
		padding: 40px 20px;
	}
}
/* Second Section End */

/* CTA Button Start */
.cta-section {
	padding: 30px 0px;
    background:#141516 url(https://cdn.oppyo.com/launches/jobiin/special/guarantee-section-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
a.cta-link-btn {
	text-decoration: none;
	text-align: center;
	display:block;
	padding: 15px 5px;
	color: #000000;
	font-weight: 800;
	font-size: 20px;
	line-height: normal;
	white-space: normal;
	align-items: center;
	border-radius: 65px;
	background-color: #ffb80f;
	transition: all .3s ease;
	animation: glowing 5000ms infinite;
	transition: all 0.5s;
}
a.cta-link-btn:hover {
	transform: scale(1.1);
	transition: all 0.5s;
}
@media (min-width: 768px) {
	.cta-section {
		padding: 70px 0px;
	}
	a.cta-link-btn {
		font-size: 36px;
		padding: 28px 60px 30px 60px;
		display: inline-block;
	}
}
/* CTA Button End*/

/* Step Section */
.step-section {
    padding: 30px 0px;
    background:#f5f7fc;
}
.step-bg{
	padding:30px;
	float: left;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px){
.step-section {
    padding: 100px 0px;
}
}
/* Step Section End */

/* Proof Section */
.proof-section {
    background: #ffffff;
    padding: 30px 0px;
}
.proof-section1 {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width:768px){
.proof-section {
    padding: 100px 0px;
}
.proof-section1 {
    padding: 100px 0px;
}
}
/* Proof Section End*/

/* Testimonials Section */
.testimonial-section {
    background: #f5f7fc;
    padding: 30px 0px;
}
.testimonial-section1 {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width: 768px){
.testimonial-section {
    padding: 100px 0px;
}
.testimonial-section1 {
    padding: 100px 0px;
}
}
/* Testimonials Section End */


/* Any More Section */
.letface-section {
	background:#141516 url(https://cdn.oppyo.com/launches/jobiin/special/letface-bg.webp) no-repeat center center;
	background-size:cover;
    padding: 30px 0px;
}
.letface-section .highlight{
	background:url(https://cdn.oppyo.com/launches/jobiin/special/highlight.webp) no-repeat center center;
	background-size:100% 100%;	
	display:inline-block;	
	color:#000000;
	padding: 0px 20px;
}
.letface-section .highlight1{
	background:url(https://cdn.oppyo.com/launches/jobiin/special/highlight1.webp) no-repeat center center;
	background-size:100% 100%;	
	display:inline-block;	
	color:#000000;
	padding: 10px 20px;
}
.let-shape {
	background: #282828;
	padding: 15px;
	display:block;
	border-radius:65px;
	color:#ffffff;
	border: dashed 4px #ffb80f;
}
.impressive-shape{
	background: #282828;
	padding:30px 15px;
	display:block;
	border-radius:65px;
	color:#ffffff;
	border: dashed 4px #ffb80f;	
}
@media (min-width: 768px){
.letface-section {
    padding:100px 0px;
}
	.let-shape {
	padding: 15px 65px;
	display: inline-block;
	}
}
/* Any More Section End */

/* Look Section */
.look-section {
    background: #f5f7fc;
    padding: 30px 0px;
}
.look-shapes{
	background-color: rgb(245, 247, 252);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
	padding:0px 15px 15px 15px; 
	overflow:hidden;
	position:relative;
	z-index: 1;
	border-radius:15px;
}
.line-5 {
    background: #ffb80f;
    height: 3px;
}
@media (min-width: 768px){
	.look-section {
		padding: 100px 0px;
	}
	.look-shapes{
	padding:0px 50px 30px 50px; 
	}
	.look-shapes:after{
	content: '';
	position: absolute;
	right: -200px;
	top: -16px;
	bottom: 0px;
	width: 500px;
	height: 500px;
	z-index: -1;
	background:#d3dff7;
	border-radius: 100%;
}
.look-shapes.left:after{
	content: '';
	position: absolute;
	left: -200px;
	top: -16px;
	bottom: 0px;
	width: 500px;
	height: 500px;
	z-index: -1;
	background:#d3dff7;
	border-radius: 100%;
}
}
/* Look Section End */

/* Dear Struggler  */
.marketer-section {
    padding: 30px 0px;
	background:#0a52e2 url(https://cdn.oppyo.com/launches/jobiin/special/marketer-bg.webp) no-repeat center center;
	background-size:cover;
}
.marketer-shape{
	/*background:url(https://cdn.oppyo.com/launches/jobiin/special/marketer-shape.webp) no-repeat center center;
	background-size:100% 100%;*/
	display:inline-block;
	font-family: 'Pacifico', cursive;
	padding: 15px;	
}
@media (min-width: 768px){
.marketer-section {
    padding: 80px 0px;
}
.marketer-shape{
	padding: 15px 60px 30px 15px;	
}
}
/* Dear Struggler End */


/* E Learning Section */
.eleraning-section {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width: 768px){
.eleraning-section {
    padding: 100px 0px;
}
}
/* E Learning Section End*/

/* Problem there Section Start */
.problem-section {
    background: #ffc8cc;
    padding: 30px 0px;
}
.converting-shape1{
    background-color: #ff2323;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 65px;
    margin-top: 10px;
	position:relative;
	z-index:9;
}
.line{
	position:relative;	
}
.line:before{
	content: '';
	background-color: #ff2323;
	height: 2px;
	left: auto;
	z-index: 8;
	position: absolute;
	top: 60%;
	width: calc(100% - 190px);
	right: 0;
}
.butnot-shape {
    background-color:rgb(110, 68, 255);
    padding: 10px 15px;
    display: inline-block;
    border-radius: 65px;
    margin-top: 10px;
}
.problme-area-shape, .problme-area-shape1 {
    width: 100%;
    float: left;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    margin-top: -20px;
}
.z-index9 {
    z-index: 9;
}
.problme-shape1 {
    border-radius: 20px;
    background-color: #ffffff;
    width: 100%;
    float: left;
    padding: 15px;
}
.marketer-shape1 {
    background: url(https://cdn.oppyo.com/launches/jobiin/special/marketer-shape.webp) no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    font-family: 'Pacifico', cursive;
    padding: 15px;
}
@media (min-width: 768px) {
	.marketer-shape1 {
    padding: 15px 60px 30px 35px;
}
	.line:before{
	content: '';
	background-color: #ff2323;
	height: 2px;
	left: auto;
	z-index: 8;
	position: absolute;
	top: 60%;
	width: calc(100% - 310px);
	right: 0;
}
    .converting-shape1 {
        border-radius: 65px;
        padding: 15px 40px 15px 40px;
    }
    .butnot-shape {
        border-radius: 65px;
        padding: 15px 40px 15px 40px;
    }
    .problem-section {
		padding: 100px 0px;
		background:url(https://cdn.oppyo.com/launches/jobiin/special/problem-bg.webp) no-repeat bottom center;
		background-size:cover;	
    } 

	.problme-area-shape {
		width: calc(100% + 90px);
		float: left;
		padding: 30px 30px 30px 90px;
		margin-left: -90px;
		z-index: 0;
		margin-top: 0px;
	}
	.problme-area-shape1 {
        width: calc(100% + 90px);
        float: left;
        padding: 30px 70px 30px 30px;
        margin-right: -90px;
        z-index: 0;
        margin-top: 0px;
    }
	.f-md-70{font-size:70px;}
	.problme-shape1 {
    padding: 30px;
}
}


/* Problem there Section End */


/* Problem Section */
/*.problem-section {
    background: #ffc8cc;
    padding: 30px 0px;
}
.problem-shape{
	background:#f34d4d;	
	padding: 20px 20px 0px 20px;
	width:100%;
	float:left;
	border-radius:15px;
}
.problem-shape1{
	background:#ffffff;	
	padding:0px 15px 0px 15px;
	width:100%;
	float:left;
	border-radius:0px 0px 15px 15px;
	margin-top:21px;
}
.problem-shapes{
	background:url(https://cdn.oppyo.com/launches/jobiin/special/problem-shape1.webp) no-repeat center center;
	background-size:100% 100%;	
	padding: 10px 0px;
	display:inline-block;
	margin-top: -21px;
}
.problem-box{
  position : relative;
  height:100%;
  
  
}
.problem-box .box_container{
  width: 100%;
  height: 100%;
  position: relative;
  background:#ffffff;
  float:left;
  border-radius:0px 15px 0px 15px;
  padding:140px 15px 15px 15px;
}
.problem-box::before{
	position: absolute;
	top: 4px;
	left: -0px;
	content: '';
	background:#d03636;
	height: 43px;
	width: 30px;
	transform: rotate(45deg);
}
.problem-box::after{
	position: absolute;
	content: attr(data-label);
	top: 30px;
	left: -10px;
	width: 100%;
	background:#f34d4d;
	color: #ffffff;
	text-align: center;
	font-size: 28px;
	font-weight:bold;
	text-align:left;
	padding:10px 15px 10px 15px;
	border-radius:0px 10px 10px 10px;	
}
.problem-box.right .box_container{
  border-radius:15px 0px 15px 0px;
  padding:140px 15px 15px 15px;
}
.problem-box.right::before{
	position: absolute;
	top: 9px;
	right: -0px;
	left: auto;
	content: '';
	background: #d03636;
	height: 43px;
	width: 41px;
	transform: rotate(45deg);
}
.problem-box.right::after{
	position: absolute;
	content: attr(data-label);
	top: 30px;
	right: -10px;
	left: auto;
	width: 100%;
	background:#f34d4d;
	color: #ffffff;
	text-align: center;
	font-size: 28px;
	font-weight:bold;
	text-align:left;
	padding:10px 15px 10px 15px;
	border-radius:10px 0px 10px 10px;	
}

.converting-shape1 {
    background-color: #ff2323;
    padding: 10px;
    display: inline-block;
    border-radius: 65px;
    margin-top: 10px;
}
@media (min-width: 768px){
.problem-section {
    padding: 100px 0px;
	background:url(https://cdn.oppyo.com/launches/jobiin/special/problem-bg.webp) no-repeat bottom center;
	background-size:cover;	
}

.converting-shape1 {
    border-radius: 65px;
    padding: 15px 40px 15px 40px;
}
.problem-shape{
	background:url(https://cdn.oppyo.com/launches/jobiin/special/problem-shape.webp) no-repeat center center;
	background-size:100% 100%;	
	padding: 10px 30px;
	width:100%;
	float:left;
	border-radius:0px;
}
.problem-shape1{
	padding:0px 40px 0px 40px;
	border-radius:0px 0px 65px 65px;
}

.problem-shapes{
	padding: 20px 60px;
	margin-top: -21px;
}
.problem-box .box_container{
  border-radius:0px 65px 0px 65px;
  padding:140px 30px 30px 30px;
}
.problem-box.right .box_container{
  border-radius:65px 0px 65px 0px;
  padding:140px 30px 30px 30px;
}
.problem-box::before{
	top: 4px;
	left: -19px;
}
.problem-box::after{
	top: 30px;
	left: -30px;
	padding-left: 50px;	
}
.problem-box.right::before{
	top: 9px;
	right: -20px;
}
.problem-box.right::after{
	top: 30px;
	right: -30px;
	padding-right: 50px;
	text-align:right;
}
}*/
/* Problem Section End */

/* Any More Section */
.anymore-section {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width: 768px){
.anymore-section {
    padding: 70px 0px;
}
}
/* Any More Section End */


/* Proudly Section */
.proudly-section {
	background: #0a52e2;
	padding: 30px 0px 30px 0px;
}
@media (min-width: 768px) {
	.proudly-section {
		background: #ffffff url(https://cdn.oppyo.com/launches/jobiin/special/proudly-bg.webp) no-repeat center bottom;
		background-size: cover;
		padding: 100px 0px 150px 0px;
	}
}
/* Proudly Section End*/

/* Demo Section Start*/
.demo-section {
	padding: 30px 0px;
	background: #f5f7fc;
}
@media (min-width: 768px) {
	.demo-section {
		padding: 50px 0px 100px 0px;
	}
}
/* Demo Section End*/

/* Step Section */
.step-section1 {
    padding: 30px 0px;
    background:#ffffff;
}
.step-shape{
	background: url(https://cdn.oppyo.com/launches/jobiin/special/step-shape.webp) no-repeat center center;
    background-size: contain;
    display: inline-block;
    color: #000000;
    padding: 8px 40px;
}
.text-shadow{
  color: rgb(10, 82, 226);
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}
.text-shadow1{
	color:#000000;
	text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  }
@media (min-width: 768px){
.step-section1{
    padding: 100px 0px;
}
}
/* Step Section End */