    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        color: #000000;
        font-size: 14px;
    }
    
    a,
    a:hover {
        text-decoration: none;
    }
    
    .text-shadow {
        text-align: center;
        text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
    }
    
    .white-clr,
    a.white-clr {
        color: #ffffff;
    }
    
    .orange-clr {
        color: #fb9549;
    }
    
    .blue-clr {
        color: #001964;
    }
    
    .black-clr {
        color: #100f12;
    }
    
    .light-pink {
        color: #f2ecff;
    }
    
    .gradient-clr {
        background: #7617E4;
        background: linear-gradient(to top, #7617E4 0%, #6A21EB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .text-shadow {
        text-align: center;
        text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
    }
    
    span.highlight {
        border-bottom: solid 4px #fc6dab;
    }
    
    span.highlight1 {
        border-bottom: solid 1px #fc6dab;
    }
    
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    }
    
    .responsive-video iframe,
    .responsive-video object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    }
    
    .d-inline-flex {
        display: inline-flex;
    }
    
    .relative {
        position: relative;
    }
    
    @media (max-width: 767px) {
        .mx-xs-auto,
        .mx-xs-center {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        .xstext-center {
            text-align: center;
        }
    }
    /* Header Section Css Start */
    
    .header-section {
        background: #6e44ff;
        padding: 30px 0;
    }
    
    .header-section ul.leader-ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 15px;
    }
    
    .header-section ul.leader-ul li {
        display: inline-block;
        padding: 0px 5px;
    }
    
    .header-section ul.leader-ul li a {
        color: #ffffff;
    }
    
    .border-video {
        border-radius: 20px;
    }
    
    .affiliate-link-btn a {
        border-radius: 3px;
        background-color: rgb(252, 109, 171);
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 5px 20px;
        font-size: 18px;
        color: #ffffff !important;
        font-weight: 600;
    }
    
    .calendar-wrap {
        border-radius: 15px;
        background-color: rgb(240, 236, 255);
        padding: 10px;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    
    .calendar-wrap:before {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve1.webp) no-repeat;
        position: absolute;
        z-index: 1;
        top: -14px;
        left: -18px;
        background-size: contain;
        width: 161px;
        height: 121px;
        z-index: -1;
    }
    
    .calendar-wrap:after {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve2.webp) no-repeat;
        position: absolute;
        z-index: 1;
        right: -18px;
        bottom: -10px;
        background-size: contain;
        width: 282px;
        height: 38px;
        z-index: -1;
    }
    
    .calendar-wrap-inline {
        border-width: 1px;
        border-color: rgb(11, 11, 49);
        border-style: solid;
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        color: #08041e;
    }
    
    .list-head {
        list-style: none;
    }
    
    .list-head li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/list-tick.webp) no-repeat;
        padding: 8px 0px 8px 30px;
        background-position: 0px 11px;
        text-align: left;
        border-bottom: solid 1px rgb(11, 11, 49);
    }
    
    .list-head li:last-child {
        padding-bottom: 0px;
        border-bottom: none;
    }
    
    .list-head li:first-child {
        padding-top: 0px;
    }
    
    @media (min-width:768px) {
        .header-section {
            background: #6e44ff url(https://cdn.oppyo.com/launches/webpull/special/header-bg.webp);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            padding: 40px 0px 280px 0px;
        }
        .header-section ul.leader-ul {
            margin-top: 12px;
        }
        .affiliate-link-btn a {
            padding: 12px 25px;
            font-size: 20px;
        }
        .affiliate-link-btn a:hover {
            background: #f2579a;
            color: #ffffff;
        }
        .min-md-video-width-left {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 64%;
            flex: 0 0 64%;
            max-width: 64%;
        }
        .min-md-video-width-right {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 36%;
            flex: 0 0 36%;
            max-width: 36%;
        }
    }
    /* Header Section Css End */
    
    .second-section {
        padding: 0px 0px 30px 0px;
    }
    
    ul.features-list {
        margin: 0px;
        padding: 0px;
    }
    
    ul.features-list li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
        padding: 0px 0px 20px 45px;
        background-position: 0px 3px;
        list-style: none;
    }
    
    ul.features-list li:last-child {
        padding-bottom: 0px;
        border-bottom: none;
    }
    
    @media (min-width:768px) {
        .second-section {
            padding: 0px 0px 85px 0px;
        }
    }
    /* CTA Button Start */
    
    a.cta-link-btn {
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: 15px 5px;
        color: #ffffff;
        font-weight: 600;
        font-size: 24px;
        line-height: normal;
        white-space: normal;
        align-items: center;
        border-radius: 6px;
        background-color: rgb(252, 109, 171);
        transition: all 0.5s;
    }
    
    a.cta-link-btn:hover {
        background: #f2579a;
        color: #ffffff;
        text-decoration: none;
        transform: scale(1.1);
        transition: all 0.5s;
    }
    
    @media (min-width: 768px) {
        a.cta-link-btn {
            font-size: 36px;
            padding: 28px 60px 30px 60px;
        }
    }
    /* CTA Button End*/
    /* Step Section Start */
    
    .step-section {
        padding: 30px 0px;
        background: #f4f3f9 url(https://cdn.oppyo.com/launches/viddeyo/special/second-section.webp) no-repeat center center;
        background-size: cover;
    }
    
    .steps-block {
        position: relative;
        height: 100%;
        padding: 0px 30px 20px 30px;
        border-width: 2px;
        border-color: rgb(110, 68, 255);
        border-style: solid;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }
    
    .steps-block.purple {
        background-color: rgb(110, 68, 255);
        box-shadow: 0px 0px 14.76px 3.24px rgba(79, 79, 79, 0.1);
    }
    
    .step-bg {
        border-radius: 100%;
        background-color: rgb(252, 109, 171);
        width: 50px;
        height: 50px;
        font-size: 28px;
        font-weight: 600;
        line-height: 50px;
        text-align: center;
        color: #ffffff;
        display: inline-block;
        top: -25px;
        position: relative;
    }
    
    @media (min-width: 768px) {
        .step-section {
            padding: 100px 0px;
        }
    }
    /* Step Section End */
    /* Loading Section Start */
    
    .loading-section {
        background: #08041e url(https://cdn.oppyo.com/launches/viddeyo/special/here-are-some.svg) no-repeat center center;
        background-size: cover;
        padding: 30px 0px;
    }
    
    @media (min-width: 768px) {
        .loading-section {
            padding: 80px 0px;
        }
    }
    /* Loading Section End */
    /* proof Section Start */
    
    .proof-section {
        background: #ffffff;
        padding: 30px 0px;
    }
    
    @media (min-width: 768px) {
        .proof-section {
            padding: 45px 0px;
        }
    }
    /* proof Section End */
    /* Team Section Sart */
    
    .new-dcp-team-section {
        background: #ffffff;
        padding: 0px 0px 30px 0px;
    }
    
    .heading-design {
        padding: 12px 15px;
        display: inline-block;
        background-color: rgb(110, 68, 255);
        border-radius: 65px;
        margin-top: -32px;
    }
    
    .awesome-shape {
        padding: 0px 15px 15px 15px;
        background: #ebe1f3;
        width: 100%;
        float: left;
        box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 6%);
        border-radius: 20px;
        top: -200px;
        position: relative;
    }
    
    @media (min-width: 768px) {
        .new-dcp-team-section {
            padding: 0px 0px 100px 0px;
        }
        .heading-design {
            padding: 12px 50px;
            margin-top: -47px;
        }
        .awesome-shape {
            padding: 0px 50px 50px 50px;
            background: url(https://cdn.oppyo.com/launches/viddeyo/special/awesome-shape.webp) no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }
    }
    /* Team Section End */
    /* Thatsall Section Start */
    
    .thatsall-section {
        padding: 0px 0px 230px 0px;
        background: #030b0f url(https://cdn.oppyo.com/launches/viddeyo/special/here-are-some.svg) no-repeat center center;
        background-size: cover;
    }
    
    .content-box {
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 25px 0px rgb(12 11 17 / 15%);
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        height: 100%;
        overflow: hidden;
    }
    
    .content-box .stats {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 40px;
        font-weight: bold;
        color: #ffffff;
        min-width: 120px;
        justify-content: center;
        text-align: center;
        line-height: 58px;
        background-image: -moz-linear-gradient( -45deg, rgb(70, 24, 227) 0%, rgb(158, 40, 182) 51%, rgb(245, 55, 137) 100%);
        background-image: -webkit-linear-gradient( -45deg, rgb(70, 24, 227) 0%, rgb(158, 40, 182) 51%, rgb(245, 55, 137) 100%);
        background-image: -ms-linear-gradient( -45deg, rgb(70, 24, 227) 0%, rgb(158, 40, 182) 51%, rgb(245, 55, 137) 100%);
    }
    
    .content-box .stats.flex-wrap {
        flex-direction: column;
        line-height: 40px;
    }
    
    .content-box .stats span {
        font-size: 28px;
    }
    
    .content-box .title {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        text-transform: capitalize;
        padding: 15px;
    }
    
    .number-shape {
        position: relative;
        display: inline-block;
        width: auto;
    }
    
    .text-element {
        display: inline-block;
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/textelement.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    
    .every-business-shape {
        background: #fc6dab;
        padding: 20px;
        border-radius: 5px;
    }
    
    @media (min-width: 768px) {
        .thatsall-section {
            padding: 0px 0px 100px 0px;
        }
        .f-md-70 {
            font-size: 70px;
        }
        .that-arrow {
            position: absolute;
            top: -70px;
            right: -80px;
        }
        .content-box .title {
            font-size: 24px;
            line-height: 34px;
        }
        .arrow1 {
            position: absolute;
            top: 33%;
            left: 11px;
        }
        .text-element {
            padding: 8px 45px;
        }
    }
    
    @media (min-width: 1600px) {
        .that-man {
            position: absolute;
            bottom: 0px;
            right: -10px;
            display: block !important;
        }
        .that-camera {
            position: absolute;
            top: 50%;
            left: 5%;
            display: block !important;
        }
    }
    /* Thatsall Section End */
    /* Thatsall Section Start */
    
    .compact-section {
        padding: 30px 0px;
        background: #f4f3f9 url(https://cdn.oppyo.com/launches/viddeyo/special/second-section.webp) no-repeat center center;
        background-size: cover;
    }
    
    .compact-section .box {
        background: #ffffff;
        float: left;
        position: relative;
        padding: 15px;
        width: 100%;
        text-align: center;
        box-shadow: 0px 0px 25px 0px rgb(12 11 17 / 15%);
        height: 100%;
    }
    
    .compact-section .box .title {
        position: relative;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 22px;
    }
    
    .compact-section .box .title:before {
        content: '';
        position: absolute;
        right: 20px;
        top: 61%;
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/arrow-down.webp) no-repeat center center;
        width: 64px;
        height: 95px;
    }
    
    @media (min-width: 768px) {
        .compact-section {
            padding: 100px 0px;
        }
        .compact-section .box .title {
            font-size: 24px;
        }
        .gx-6 {
            --bs-gutter-x: 5rem;
        }
    }
    /* Compact Section End */
    /* Problem there Section Start */
    
    .problem-bg-section {
        background: #ffbdbd url(https://cdn.oppyo.com/launches/viddeyo/special/problem-sec.webp) no-repeat bottom center;
        background-size: cover;
        padding: 30px 0px;
    }
    
    .problem-bg-section1 {
        background: #fff1f1;
        padding: 30px 0px;
    }
    
    .problem-bg-section2 {
        padding: 30px 0px;
        background: #ffbdbd url(https://cdn.oppyo.com/launches/viddeyo/special/problem-bg1.webp) no-repeat top center;
        background-size: cover;
    }
    
    .converting-shape1 {
        background-color: #ff2323;
        padding: 10px;
        display: inline-block;
        border-radius: 65px;
        margin-top: 10px;
    }
    
    .butnot-shape {
        background-color: rgb(110, 68, 255);
        padding: 10px 15px;
        display: inline-block;
        border-radius: 65px;
        margin-top: 10px;
    }
    
    .problme-area-shape,
    .problme-area-shape1 {
        width: 100%;
        float: left;
        padding: 15px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        z-index: 0;
        margin-top: -20px;
    }
    
    .z-index9 {
        z-index: 9;
    }
    
    .problme-shape1 {
        border-radius: 20px;
        background-color: #ffffff;
        width: 100%;
        float: left;
        padding: 15px;
    }
    
    @media (min-width: 768px) {
        .converting-shape1 {
            border-radius: 65px;
            padding: 15px 40px 15px 40px;
        }
        .butnot-shape {
            border-radius: 65px;
            padding: 15px 40px 15px 40px;
        }
        .problem-bg-section {
            padding: 100px 0px 150px 0px;
        }
        .problem-bg-section1 {
            padding: 50px 0px 50px 0px;
        }
        .problem-bg-section2 {
            padding: 100px 0px;
        }
        .problme-area-shape {
            width: calc(100% + 70px);
            float: left;
            padding: 30px 30px 30px 70px;
            margin-left: -70px;
            z-index: 0;
            margin-top: 0px;
        }
        .problme-area-shape1 {
            width: calc(100% + 70px);
            float: left;
            padding: 30px 70px 30px 30px;
            margin-right: -70px;
            z-index: 0;
            margin-top: 0px;
        }
        .f-md-70 {
            font-size: 70px;
        }
        .problme-shape1 {
            padding: 30px;
        }
    }
    /* Problem there Section End */
    /* Proudly there Section Start */
    
    .proudly-sec {
        background: #08041d url(https://cdn.oppyo.com/launches/viddeyo/special/proudly-bg1.webp) center center no-repeat;
        background-size: cover;
        padding: 0px 0px 30px 0px;
    }
    
    @media (min-width: 768px) {
        .proudly-sec {
            padding: 0px 0px 100px 0px;
        }
    }
    /* Proudly there Section End */
    
    .new-steps-bg {
        background: #f4f3f9 url(https://cdn.oppyo.com/launches/viddeyo/special/second-section.webp) no-repeat center center;
        background-size: cover;
        padding: 30px 0px;
    }
    
    @media (min-width:768px) {
        .new-steps-bg {
            padding: 100px 0px 100px 0px;
        }
    }
    
    .testimonial-section {
        background: #f4f3f9 url(https://cdn.oppyo.com/launches/viddeyo/special/second-section.webp) no-repeat center center;
        background-size: cover;
        padding: 30px 0px;
    }
    
    .testimonial-section2 {
        background: #e7e9ef;
        padding: 30px 0px;
    }
    
    .single-testimonial {
        background-color: #fff;
        text-align: center;
        border-radius: 30px;
        position: relative;
        z-index: 2;
    }
    
    .single-testimonial p {
        color: #101012;
        font-size: 17px;
        line-height: 28px;
        padding: 50px 30px 30px 30px;
        padding-bottom: 30px;
        position: relative;
        z-index: 3;
    }
    
    .single-testimonial::before {
        content: "";
        position: absolute;
        left: -5px;
        top: -35px;
        background: url(https://cdn.oppyo.com/launches/webpull/special/quote.png) no-repeat;
        background-size: 60%;
        width: 126px;
        height: 100px;
        transform: rotate(180deg);
        background-position: 34px 15px;
    }
    
    .single-testimonial::after {
        content: "";
        position: absolute;
        right: -5px;
        bottom: -34px;
        background: url(https://cdn.oppyo.com/launches/webpull/special/quote.png) no-repeat;
        background-size: 60%;
        width: 126px;
        height: 100px;
        background-position: 34px 19px;
    }
    
    .client-info {
        display: inline-flex;
        gap: 15px;
        align-items: center;
        padding-bottom: 30px;
    }
    
    .client-details {
        color: #682af1;
        font-size: 20px;
        font-weight: 600;
    }
    
    @media (min-width: 768px) {
        .testimonial-section2 {
            background: #e7e9ef url(https://cdn.oppyo.com/launches/webpull/special/testimonial-section-bg2.webp) no-repeat center center;
            background-size: cover;
            padding: 80px 0px;
            background-attachment: fixed;
        }
        .testimonial-section {
            padding: 100px 0px;
        }
        .single-testimonial p {
            padding: 50px;
        }
        .single-testimonial::before {
            left: -35px;
            top: -35px;
        }
        .single-testimonial::after {
            right: -35px;
            bottom: -34px;
        }
        .client-info {
            padding-bottom: 30px;
        }
    }
    
    img.vert-move {
        -webkit-animation: mover 3s infinite alternate;
        animation: mover 1s infinite alternate;
    }
    
    img.vert-move {
        -webkit-animation: mover 3s infinite alternate;
        animation: mover 1s infinite alternate;
    }
    
    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-15px);
        }
    }
    
    @keyframes mover {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-15px);
        }
    }
    
    .preheadline {
        padding: 10px 15px;
        margin: 0px auto;
        background-color: #101012;
        outline: none;
        border-color: #682af1;
        border-width: 5px;
        border-style: solid;
        display: inline-block;
        border-radius: 15px;
    }
    
    @media(min-width:768px) {
        .preheadline {
            padding: 15px 30px;
            border-radius: 100px;
        }
    }
    
    .xstext1 {
        text-align: center;
    }
    
    @media(min-width:768px) {
        .xstext1 {
            text-align: inherit;
        }
    }
    
    .second-header-section {
        background: #f2ecff;
        padding: 30px 0px;
    }
    
    @media (min-width: 768px) {
        .second-header-section {
            padding: 100px 0px;
        }
    }
    
    .step-shape {
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        position: relative;
        padding: 10px;
        height: 100%;
    }
    
    .step-border {
        border-radius: 10px;
        border-width: 2px;
        border-color: rgb(104, 42, 241);
        border-style: solid;
        padding: 30px 20px;
        height: 100%;
    }
    
    .step-shape1 {
        background-image: url(https://cdn.oppyo.com/launches/webpull/special-bonus/step-bg.webp);
        background-repeat: no-repeat;
        max-width: 203px;
        margin: 0 auto;
        margin-top: -52px;
        padding: 7px 20px;
        background-size: 100% 100%;
    }
    
    .premium-sec {
        background-color: #fff;
        padding: 30px 0px;
    }
    
    @media (min-width: 768px) {
        .premium-sec {
            padding: 100px 0px;
        }
    }
    /************Over Section ********/
    
    .over-section {
        background: #682af1 url(https://cdn.oppyo.com/launches/webpull/special/over-sec-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 30px 0;
    }
    
    .over-shape {
        background: url(https://cdn.oppyo.com/launches/webpull/special/over-shape.webp) no-repeat center center;
        display: inline-block;
        padding: 0px 20px;
        background-size: 100% 100%;
    }
    
    @media (min-width: 768px) {
        .over-section {
            padding: 100px 0;
        }
        .over-shape {
            padding: 16px 60px;
            background-size: 100%;
        }
    }
    /************Research Section ********/
    
    .research-section {
        background: #f3ebff;
        padding: 30px 0px;
    }
    
    @media (min-width: 768px) {
        .research-section {
            padding: 80px 0px;
        }
    }
    
    .this-open-section {
        padding: 30px 0;
        background: #f3ebff;
    }
    
    @media (min-width: 768px) {
        .this-open-section {
            padding: 100px 0;
        }
    }
    
    .list-section {
        padding: 0px 0px 30px 0px;
        background: #ffffff;
    }
    
    @media(min-width:768px) {
        .list-section {
            padding: 0px 0px 50px 0px;
        }
    }
    
    .header-list-block {
        border-radius: 20px;
        padding: 20px 0px;
        background-color: #ffffff;
        box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
        /* margin-top: -90px; */
    }
    
    @media(min-width:768px) {
        .header-list-block {
            border-radius: 20px;
            padding: 40px 20px;
            margin-top: -90px;
        }
    }
    
    .header-bordered-list li {
        list-style: none;
    }
    
    @media(min-width:768px) {
        .header-bordered-list li {
            padding: 12px 20px 12px 50px;
            position: relative;
        }
    }
    
    .header-bordered-list li::before {
        content: url(https://cdn.oppyo.com/launches/webpull/special/green-tick.webp);
        position: absolute;
        left: 0px;
        top: 15px;
    }
    
    .jobiin-header-section {
        background: #141516 url(https://cdn.oppyo.com/launches/webpull/special/jobiin-header-bg.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 30px 0px 230px 0px;
        position: relative;
    }
    
    @media(min-width:768px) {
        .jobiin-header-section {
            padding: 40px 0px 250px 0px;
        }
    }
    
    .jobiin-header-section ul.leader-ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 15px;
    }
    
    .jobiin-header-section ul.leader-ul li {
        display: inline-block;
        padding: 0px 5px;
    }
    
    .jobiin-header-section a.affiliate-link-btn {
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 8px 15px;
        font-size: 16px;
        line-height: normal;
        color: #000000;
        font-weight: 600;
        border-radius: 65px;
        background-color: #ffb80f;
        transition: all .3s ease;
        animation: glowing 5000ms infinite;
    }
    
    .jobiin-header-section a.affiliate-link-btn:hover {
        transform: scale(1.05);
        transition: all .3s ease;
    }
    
    @keyframes glowing {
        0% {
            box-shadow: 0 0 -10px #c4a300;
        }
        40% {
            box-shadow: 0 0 20px #c4a300;
        }
        60% {
            box-shadow: 0 0 20px #c4a300;
        }
        100% {
            box-shadow: 0 0 -10px #c4a300;
        }
    }
    
    @media(min-width:768px) {
        .jobiin-header-section a.affiliate-link-btn {
            padding: 10px 20px;
            font-size: 22px;
        }
    }
    
    .jobiin-header-section .headline-highlight {
        color: #ffb80f;
    }
    
    @media (min-width: 768px) {
        .jobiin-header-section .headline-highlight {
            background: url(https://cdn.oppyo.com/launches/jobiin/special/heading-shape.svg) no-repeat center center;
            background-size: cover;
            display: inline-block;
            color: #000000;
            padding: 8px 53px 8px 26px;
        }
    }
    
    .grey-clr {
        color: #d5d1d1;
    }
    
    .jobiin-second-section {
        padding: 0px 0px 30px 0px;
    }
    
    @media(min-width:768px) {
        .jobiin-second-section {
            padding: 0px 0px 100px 0px;
        }
    }
    
    .z-index-9 {
        z-index: 9;
    }
    
    .jobiin-header-list-block {
        border-radius: 20px;
        padding: 20px 0px;
        box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
        margin-top: -200px;
        background: #ffffff;
    }
    
    @media(min-width:768px) {
        .jobiin-header-list-block {
            border-radius: 20px;
            padding: 40px 20px;
        }
    }
    
    .jobiin-cta-btn {
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 15px 5px;
        color: #000000;
        font-weight: 800;
        font-size: 20px;
        line-height: normal;
        white-space: normal;
        align-items: center;
        border-radius: 65px;
        background-color: #ffb80f;
        transition: all .3s ease;
        animation: glowing 5000ms infinite;
        transition: all 0.5s;
    }
    
    .jobiin-cta-btn:hover {
        transform: scale(1.1);
        transition: all 0.5s;
    }
    
    @media(min-width:768px) {
        .jobiin-cta-btn {
            font-size: 36px;
            padding: 28px 60px 30px 60px;
            display: inline-block;
        }
    }
    /****** Amazing Section *******/
    
    .step-section1 {
        background: #ffffff;
        padding: 30px 0px;
    }
    
    .step-shapes {
        border-radius: 5px;
        background-color: rgb(104, 42, 241);
        border: solid 3px #fb9549;
        border-right: solid 10px #fb9549;
        color: #ffffff;
        text-transform: uppercase;
        display: inline-block;
        padding: 8px 40px;
    }
    
    @media (min-width: 768px) {
        .step-section1 {
            padding: 70px 0px;
            background: #ffffff url(https://cdn.oppyo.com/launches/webpull/special/step-bg1.webp) no-repeat center center;
            background-size: cover;
        }
        .step-arrow1 {
            position: relative;
            bottom: -50px;
        }
    }
    /************Research Section ********/
    
    .course-section {
        background: #ffffff;
        padding: 30px 0px;
    }
    
    .presenting-shape {
        background-color: rgb(251, 149, 73);
        border-radius: 100px;
        padding: 8px 30px;
        display: inline-flex;
        position: relative;
        align-items: center;
    }
    
    .presenting-shape2 {
        background-color: rgb(251, 149, 73);
        border-radius: 0px 0px 35px 35px;
        padding: 12px 30px;
        display: inline-flex;
        position: relative;
        align-items: center;
    }
    
    @media (min-width: 768px) {
        .course-section {
            padding: 100px 0px;
        }
        .presenting-shape:before {
            width: 70px;
            height: 1px;
            background: #fcc216;
            position: absolute;
            content: '';
            left: -70px;
        }
        .presenting-shape:after {
            width: 70px;
            height: 1px;
            background: #fcc216;
            position: absolute;
            content: '';
            right: -70px;
        }
    }
    /***********Next Generation*****************/
    
    .next-gen-sec {
        background: #2a1467;
        background-size: cover;
        padding: 0px 0px 30px 0px;
    }
    
    .proudly-list-bg {
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
        padding: 15px;
    }
    
    .proudly-tick li {
        background: url(https://cdn.oppyo.com/launches/webpull/special/green-check.webp) no-repeat;
        background-position: 0 4px;
        list-style: none;
        padding: 0 0 20px 45px;
    }
    
    @media (min-width: 768px) {
        .next-gen-sec {
            background: #ffffff url(https://cdn.oppyo.com/launches/webpull/special/next-gen-bg.webp) no-repeat center center;
            background-size: cover;
            padding: 0px 0px 100px 0px;
        }
        .proudly-list-bg {
            padding: 30px;
        }
    }