html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}
/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #212121;
}
.red-clr{
	color: #EF3E3A;
}
/* Header CSS */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 100px 0px;
}
.preheadline{
	display: inline-block;
    padding: 10px 15px;
	background: #fff;
	border-radius: 50px;
}
.menu-list li{
	background: url(../images/tick.webp) no-repeat;
    background-position: 10px 32px;
    padding: 15px 15px 15px 64px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border: 3px solid #B5D1FF;
}
.blue{
    border: 3px solid #B5D1FF;
}
.pink{
    border: 3px solid #F2C8FF;
}
.green{
    border: 3px solid #A4F2E4;
}
.yellow{
    border: 3px solid #FFE3C2;
}
.list-section {
    padding: 30px 0px;
}
.hr{
	mix-blend-mode: overlay;
}
@media(min-width:768px){
    .header-section {
		padding: 70px 0px 100px 0px;
	}
    .list-section {
        padding: 100px 0px;
        background: url(../images/list-section-bg.png) no-repeat center center;
        background-size: cover;
    }

	.preheadline{
		padding: 10px 50px 10px 20px;
	}
}


/* List-section */
.list-section {
	padding: 30px 0px;
	background: url(../images/list-section-bg.png) no-repeat center center;
	background-size: cover;
}
.feature-list {
    padding: 15px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
.bonus-list li {
	background: url(../images/list-check.webp) no-repeat;
	background-position: 10px 32px;
	padding: 15px 15px 15px 64px;
	margin-top: 30px;
	list-style-type: none;
	min-height: 100px;
	box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
	background-color: #fff;
	display: flex;
	align-items: center;
}
.exciting-inner-sec {
    background: url(../images/exiciting-inner-bg.webp) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    padding: 30px 15px;
    margin: 0px auto;
}
.probtn1 a {
    transition: all .3s ease;
    border-radius: 15px;
    background: linear-gradient(92.69deg, #EF3E3A 0%, #FF5F5B 99.78%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn1 a:hover{
    transition: all .3s ease;
    background: linear-gradient(92.69deg, #FF5F5B 0%,  #EF3E3A 99.78%);
}
@media(min-width:768px) {
	.list-section {
		padding:100px 0px 50px 0px;
	}
    .exciting-inner-sec {
        padding: 80px;
        border-radius: 50px;
        width: 95%;
    }
.probtn1 a {
    font-size: 38px;
    padding: 28px 60px;
    display: inline-block;
    width: auto;
    border-radius: 100px;
}
}

/* List section End */

/*************Second Section **************/

.list-head {
    list-style: none;
}
.list-head li {
    background: url(../images/blue-tick.png) no-repeat;
    padding: 19px 0px 12px 45px;
    background-position: 0px 22px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.list-head li:last-child {
    border-bottom: none;
}
.second-section {
    padding: 30px 0px;
    background: #f1f1f1;
}

.step-sec {
    padding: 0 10px;
}

ul.features-list {
    margin: 0px;
}

ul.features-list li {
    background: url(../images/tick.png) no-repeat;
    padding: 0px 0px 30px 45px;
    background-position: 10px 5px;
    list-style: none;
    min-height: 31px;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
}
.presenting-head {
    background: #132041;
    border-radius: 40px;
    padding: 5px 30px;
    display: inline-block;
    font-family: 'Caveat';
}
@media(min-width:768px) {
    .second-section {
        padding: 100px 0px;
        background-size: cover;
    }
    ul.features-list li {
        background: url(../images/blue-tick.png) no-repeat;
        padding: 0px 0px 30px 45px;
        background-position: 0px 0px;
        list-style: none;
    }
    .presenting-head {
        padding: 10px 80px;
    }
}

/***********Fastest Section *******/

.fastest-section {
    padding: 30px 0;
    background: #ffffff url(../images/fastest-bg.webp) no-repeat center bottom;
    background-size: cover;
}

@media(min-width:768px) {
    .fastest-section {
        padding: 100px 0;
    }
}

/***********Third Section **********/

.third-section {
    padding: 0px 0 50px 0px;
    background: #fff;
}

@media(min-width:768px) {
    .third-section {
        padding: 70px 0px 60px 0px;
    }
}


/* List section End */

.proudly-shape {
	display: inline-block;
	padding: 5px 30px 5px 30px;
	position: relative;
	z-index: 1;
	background: #04173E;
	border-radius: 60px;
	align-items: center;
	font-family: 'Caveat', cursive;
	margin-top: -56px;
}

.proudly-sec {
	background: url(../images/proudlybg.webp) center center no-repeat;
	background-size: cover;
	padding: 60px 0px 30px 0px;
}

.proudly-inner-sec {
    padding: 0px 0px 15px 0px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: solid 2px rgba(255, 255, 255, 0.25);
    max-width: 95%;
    margin: 20px auto 0px auto;
}
@media (min-width: 768px) {
	.proudly-sec {
		padding: 150px 0px 100px 0px;
	}

	.proudly-inner-sec {
        padding: 0px 0px 100px 0px;
    max-width: 95%;
    border-radius: 50px;
    margin: 50px auto 0px auto;
	}

	.proudly-shape {
		padding: 10px 90px 10px 90px;
		margin-top: -150px;
	}
}
@media(min-width:1600px){
    .proudly-inner-sec {
        max-width: 85%;
    }
}
/********Fifth Section *******/
.per-shape {
    background: url(../images/presenting-shape.webp) center center no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 20px 55px 34px 55px;
}

.shape-skew {
    transform: skew(-25deg);
    background-image: -moz-linear-gradient(0deg, #EF3E3A 0%, #FF5F5B 100%);
    background-image: -webkit-linear-gradient(0deg, #EF3E3A 0%, #FF5F5B 100%);
    background-image: -ms-linear-gradient(0deg, #EF3E3A 0%, #FF5F5B 100%);
    display: inline-block;
    padding: 10px 25px;
}

span.skew {
    transform: skew(25deg);
    display: inline-block;
}

/* Step Section Start*/

.step-section{
    background: #fff url(../images/steps-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px ;
}	
@media(min-width:768px){
    .step-section{
        padding:100px 0px;
    }
}

/* Step Section End */

/***********White Section *********/

.white-section {
    padding: 30px 0;
    background: #fff url(../images/features-bg2.png) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .white-section {
        padding: 100px 0;
    }
}

/***********Grey Section *********/

.grey-section {
    padding: 30px 0;
    background: #EAF3F8;
}

@media(min-width:768px) {
    .grey-section {
        padding: 100px 0;
    }
}


/***********Bonus Section *********/

.bonus-section {
    background: #effbff url(../images/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
}

.feature-shape {
    
    background: linear-gradient(92.69deg, #FF5F5B 0%,  #dc423f 99.78%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}

@media(min-width:768px) {
    .bonus-section {
        padding: 70px 0;
    }
    .feature-shape:after {
        content: '';
        background: url(../images/line-shape.webp) no-repeat right bottom;
        padding: 22px 0;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -15px;
        right: -15px;
    }
}

/******Table Section ********/

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #EF3E3A;
}

.tablebox2 {
    border: 1px solid #040b3a;
    width: 100%;
    float: left;
    border-radius: 15px;
    background: #fff;
}

.tbbg2 {
    background: #080E20;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

ul.vgreytick {
    padding: 0px 15px;
}

@media(min-width:768px) {
    .table-section {
        padding: 100px 0px;
        background: url(../images/table-bg.png) no-repeat;
        background-position: top center;
        background-size: cover;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
}

/**********Footer Section********/

.footer-section {
	background: #080E20;
	padding: 30px 0;
}

.footer-ul {
	padding: 0
}

.footer-ul li {
	display: inline;
	line-height: 130%;
}

.footer-ul li:hover a {
	color: #fff;
}

@media(min-width:768px) {
	.footer-section {
		padding: 50px 0px;
	}

	.footer-ul li {
		line-height: normal;
	}

}

a.nothank {
	color: #2447a2;
	text-decoration: none;
}


/**********Footer Section********/

.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}


.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 20px 10px;
}
.gametext {
    background: #f24440;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -52px;
    line-height: 30px;
    left: 146px;
    transform: skew(-10deg);
    border-radius: 5px;
}
.preheadline{
	display: inline-block;
    padding: 10px 15px;
	background: #fff;
	border-radius: 50px;
  }
@media(min-width:768px){
    .mainheadline {
        background: url(../images/top-heading-bg.webp) center center no-repeat;
        background-size: 100% 100%;
        padding: 30px 30px 40px 140px;
        left: -5px;
    }}