html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}

.blue-clr{
    color: #2337f6
}

.red-clr{
    color: #ff0000;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

/* Header CSS */

.header-section {
    background: #0e0a3b url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 30px 0px;
}

.preheadline {
    border-radius:15px;
    display:inline-block;
    padding:10px 15px;
    position: relative;
    z-index: 1;
    border-width: 2px;
    border-color:#8da6ff;
    background: #041975;
    border-style: solid;  
    box-shadow: inset 0px 0px 12.6px 1.4px rgba(0, 0, 0, 0.3); 
    display: flex;
    align-items: center;
    gap: 10px; 
}

.postheadline {
    padding: 15px;
    display: inline-flex;
    background: rgb(6,10,51);
    background: linear-gradient(90deg, rgba(6,10,51,0) 0%, rgba(6,10,51,1) 48%, rgba(6,10,51,0) 100%);
}

.probtn a,
.probtn1 a {
    transition: all .3s ease;
    border-radius: 10px;
    background-image: -moz-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);     
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn a:hover,
.probtn1 a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
    background-image: -webkit-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
    background-image: -ms-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% ); 
}

.calendar-wrap {
    border-radius: 15px;
    background-color: #060a33;
    padding:12px 20px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.list-head {
	list-style: none;
}

.list-head li {
	background: url(../images/tick.webp) no-repeat;
	padding: 15px 0px 12px 30px;
	background-position: 0px 21px;
	text-align: left;
	border-bottom: solid 1px #091e42;
}

.list-head li:last-child {
	border-bottom: none;
}


@media(min-width:768px) {
    .header-section {
        background: #030331 url(../images/header-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 30px;
        display: inline-block;
        width: auto;
    }
    .postheadline {
        padding: 20px 25px;
    }
    .min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}

	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}
    .preheadline {
        padding:10px 25px;
        display: inline-flex;
        border-radius:150px;
    }
}


/*************Second Section **************/

.second-section {
    padding: 30px 0px;
}

.step-sec {
    padding: 0 10px;
}

ul.features-list {
    margin: 0px;
}

ul.features-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
    padding: 0px 0px 30px 45px;
    background-position: 10px 5px;
    list-style: none;
    min-height: 31px;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
}

@media(min-width:768px) {
    .second-section {
        padding: 100px 0px;
        background-size: cover;
    }
    ul.features-list li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
        padding: 0px 0px 30px 45px;
        background-position: 0px 3px;
        list-style: none;
    }
}

/***********Fastest Section *******/

.fastest-section {
    padding: 30px 0;
    background: #ffffff url(../images/fastest-bg.webp) no-repeat center bottom;
    background-size: cover;
}

@media(min-width:768px) {
    .fastest-section {
        padding: 100px 0;
    }
}

/***********Third Section **********/

.third-section {
    padding: 30px 0 ;
    background: #fff url(../images/third.webp) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .third-section {
        padding: 100px 0 60px 0;
    }
}

/********Fifth Section *******/

.fifth-section {
    background: #ffffff url(../images/proudlybg.webp) bottom center no-repeat;
    background-size: cover;
    padding: 30px 0px 60px 0px;
}

.per-shape {
    background: url(../images/presenting-shape.webp) center center no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 20px 55px 34px 55px;
}

.shape-skew {
    transform: skew(-25deg);
    background: linear-gradient(90deg, #FF9315 21.66%, #FF4F17 64.49%);
    display: inline-block;
    padding: 10px 25px;
}

span.skew {
    transform: skew(25deg);
    display: inline-block;
}

@media(min-width:768px) {
    .fifth-section {
        padding: 80px 0px 150px 0px;
    }
}

/* Step Section Start*/

.step-section{
    background: #fff url(../images/steps-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px ;
}	
@media(min-width:768px){
    .step-section{
        padding:50px 0px 100px 0px;
    }
}

/* Step Section End */

/***********White Section *********/

.white-section {
    padding: 30px 0;
    background: #fff url(../images/features-bg2.png) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .white-section {
        padding: 100px 0;
    }
}

/***********Grey Section *********/

.grey-section {
    padding: 30px 0;
    background: #eef0ff;
}

@media(min-width:768px) {
    .grey-section {
        padding: 100px 0;
    }
}


/***********Bonus Section *********/

.bonus-section {
    background: #effbff url(../images/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
}

.feature-shape {
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}

@media(min-width:768px) {
    .bonus-section {
        padding: 70px 0;
    }
    .feature-shape:after {
        content: '';
        background: url(../images/line-shape.webp) no-repeat right bottom;
        padding: 22px 0;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -15px;
        right: -15px;
    }
}

/******Table Section ********/

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #2337f6;
}

.tablebox2 {
    border: 1px solid #040b3a;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tbbg2 {
    background: linear-gradient(180deg, #040b3a 0%, #14208e 100%);
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

ul.vgreytick {
    padding: 0px 15px;
}

@media(min-width:768px) {
    .table-section {
        padding: 100px 0px;
        background: url(../images/table-bg.webp) no-repeat;
        background-position: center center;
        background-size: cover;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
}

/**********Footer Section********/

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 70px 0px
    }
}

/**********Footer Section********/

.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}