html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 15px 0px 25px 0px rgb(19 21 26 / 30%);
    z-index: 99;
}

video {
    width: 100%;
    height: 100%;
}


/* Color CSS */

.white-clr {
    color: #fff;
}

.black-clr {
    color: #0f0f0f;
}

.red-clr {
    color: rgba(239, 71, 72, 1);
}


/* Header CSS */

.header-nav{padding: 30px 15px;}

.header-section {
    background: #0f0f0f;
    padding: 30px 0px;
    position: relative;
}

.pre-heading {
    padding: 25px 15px;
    margin: 0px auto;
    background: url(../images/preheading.webp) no-repeat;
    display: inline-block;
    background-size: 100% 100%;
}

a.link-text {
    color: #000;
    text-decoration: none
}

.probtn a,
.probtn1 a {
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    animation: glowing 5000ms infinite;
    border-radius: 25px;
    background-color: #ff2c50;
}

.probtn a:hover,
.probtn1 a:hover {
    transform: scale(1.05);
    transition: all .3s ease;
    background-color: #f60c29;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #f60c29;
    }
    40% {
        box-shadow: 0 0 20px #f60c29;
    }
    60% {
        box-shadow: 0 0 20px #f60c29;
    }
    100% {
        box-shadow: 0 0 -10px #f60c29;
    }
}

@media(min-width:768px) {
    .header-section {
        background: #0f0f0f url(../images/header-bg.webp) no-repeat center top;
        background-size: cover;
        padding: 100px 0px;
    }
    .probtn1 a {
        font-size: 32px;
        padding: 20px 50px;
    }
    .pre-heading {
        padding: 20px 15px;
    }
}


/*************Second Section **************/

.second-section {
    padding: 30px 0px;
}

.step-sec {
    padding: 0 10px;
    background: #fff;
}

ul.features-list {
    margin: 0px;
}

ul.features-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
    padding: 0px 0px 30px 45px;
    background-position: 10px 5px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
}

@media(min-width:768px) {
    .second-section {
        padding: 100px 0px;
        background: url(../images/second-bg.webp) no-repeat center center;
        background-size: cover;
    }
    ul.features-list li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
        padding: 0px 0px 30px 45px;
        background-position: 0px 3px;
        list-style: none;
    }
}


/***********Fastest Section *******/

.fastest-section {
    padding: 30px 0;
    background:#f1f1f1;
}

@media(min-width:768px) {
    .fastest-section {
        padding: 100px 0;
        background: #f1f1f1 url(../images/fastest-most-bg.webp) no-repeat center center;
        background-size: cover;
    }
}


/***********Third Section **********/

.third-section {
    padding: 30px 0px;
    background: #fff url(../images/third.webp) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .third-section {
        padding: 100px 0 60px 0;
    }
}

/********Fifth Section *******/
.next-gen-sec {
    background: #0f0f0f url(../images/next-gen-bg.webp) no-repeat center bottom;
    background-size: cover;
    padding: 40px 0px;
}
.presenting-wrap {
    padding: 0px 0px 15px 0px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.25);
    max-width: 95%;
    margin: 20px auto 0px auto;
}
.presenting-head {
    background: url(../images/introducing-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 55px 70px 55px;
    display: inline-block;
    margin-top: -10px;
}
.shape-skew {
    transform: skew(-25deg);
    background-color: #f9bb0b;
    display: inline-block;
    padding: 10px 25px;
}

span.skew {
    transform: skew(25deg);
    display: inline-block;
}

@media (min-width: 768px){
    .next-gen-sec {
        padding: 100px 0px;
    }
    .presenting-wrap {
        padding: 0px 0px 100px 0px;
        max-width: 95%;
        border-radius: 50px;
        margin: 50px auto 0px auto;
    }
    .presenting-head {
        padding: 20px 140px 120px 140px;
        margin-top: -20px;
    }
}
@media (min-width: 1600px){
    .presenting-wrap {
        max-width: 85%;
    }
}
/***********Install Section *********/

.install-section {
    padding: 30px 0;
    background: #fff url(../images/install-section.webp) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .install-section {
        padding: 100px 0;
    }
}

/***********White Section *********/

.white-section {
    padding: 30px 0;
    background: #fff url(../images/features-bg2.png) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .white-section {
        padding: 100px 0;
    }
}


/***********Grey Section *********/

.grey-section {
    padding: 30px 0;
    background: #f1f1f1;
}

@media(min-width:768px) {
    .grey-section {
        padding: 100px 0;
    }
}


/***********Bonus Section *********/

.bonus-section {
    background: #effbff url(../images/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
}
.but-design-border{
    border: solid 1px #0f0f0f;
    position: relative;
    display: inline-flex;
    border-radius: 10px;
}
.button-shape{
    position: relative;
    background: #f9bb0b;
    padding: 15px 20px;
    color: #0f0f0f;
    margin: -10px 10px 10px -10px;
    border-radius: 10px;
}
@media (min-width:768px){
    .button-shape{
        padding: 15px 30px;
    } 
}
@media(min-width:768px) {
    .bonus-section {
        padding: 70px 0;
    }
}


/******Table Section ********/

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.tablebox2 {
    border: 1px solid #0f0f0f;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tbbg2 {
    background: #0f0f0f;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

ul.vgreytick {
    padding: 0px 15px;
}

@media(min-width:768px) {
    .table-section {
        padding: 100px 0px;
        background: url(../images/table-bg.webp) no-repeat;
        background-position: center center;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
}


/**********Footer Section********/

.footer-section {
    background: #100f12;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px
    }
}


/**********Footer Section********/