html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #08041e;
    font-size: 14px;
	overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}

.blue-clr{
    color: #282a89
}

.red-clr{
    color: #ff0000;
}

.blue-gradient{
    background: rgb(3,3,49) 0%;
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-orange{
    background: #FF9315; 
    background: linear-gradient(90deg, #FF9315 21.66%, #FF4F17 64.49%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

/* Header CSS */

.header-section {
    background: #030331 ;
    padding: 30px 0px;
}

.preheadline {
    background: linear-gradient(#030331 , #030331) padding-box, linear-gradient(to right, #5055BE 0%, #FFFFFF 50%, #5055BE 100%) border-box;
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 10px 20px;
    display: inline-block;
}

.post-heading {
    border-top: 1px solid #3a55a5;
    border-bottom: 1px solid #3a55a5;
    padding: 20px 0;
    display: inline-flex;
}

a.link-text {
    color: #000;
    text-decoration: none
}

.probtn a,
.probtn1 a {
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    line-height: 140%;
    border-radius: 15px;
    position: relative;
    background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    overflow: hidden;
}

.probtn a:hover,
.probtn1 a:hover {
    transition: all .3s ease;
    background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}

.probtn1 a::before {
    position: absolute;
    width: 100%;
    height: 34px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}

.calendar-wrap {
    border-radius: 15px;
    background-color: #02021d;
    padding:12px 20px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.list-head {
	list-style: none;
}

.list-head li {
	background: url(https://cdn.oppyo.com/launches/writerarc/bizdrive/tick.webp) no-repeat;
	padding: 15px 0px 12px 30px;
	background-position: 0px 21px;
	text-align: left;
	border-bottom: solid 1px #091e42;
}

.list-head li:last-child {
	border-bottom: none;
}

@media(min-width:768px) {
    .header-section {
        background: #030331 url(https://cdn.oppyo.com/launches/writerarc/bizdrive/header-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .probtn1 a {
        padding: 20px 50px;
    }
    .preheadline {
        padding: 1rem 1.9rem;
    }
    .min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}

	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}
}

/*************Second Section **************/

.second-section {
    padding: 30px 0px;
}

.step-sec {
    padding: 0 10px;
}

ul.features-list {
    margin: 0px;
}

ul.features-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
    padding: 0px 0px 30px 45px;
    background-position: 10px 5px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
}

@media(min-width:768px) {
    .second-section {
        padding: 100px 0px;
        background: url(https://cdn.oppyo.com/launches/writerarc/bizdrive/second-bg.webp) no-repeat center center;
        background-size: cover;
    }
    ul.features-list li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
        padding: 0px 0px 30px 45px;
        background-position: 0px 3px;
        list-style: none;
    }
}

/***********Fastest Section *******/

.fastest-section {
    padding: 30px 0;
    background:#e7e9fa url(https://cdn.oppyo.com/launches/writerarc/bizdrive/fastest-bg.webp) no-repeat center center;
        background-size: cover;
}

@media(min-width:768px) {
    .fastest-section {
        padding: 100px 0;
    }
}

/***********Third Section **********/

.third-section {
    padding: 30px 0 ;
    background: #fff url(https://cdn.oppyo.com/launches/writerarc/bizdrive/third.webp) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .third-section {
        padding: 100px 0 60px 0;
    }
}

/********Fifth Section *******/

.fifth-section {
    background: #030331;
    padding: 30px 0 30px 0px;
}

.per-shape {
    background: url(https://cdn.oppyo.com/launches/writerarc/bizdrive/presenting-shape.webp) center center no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 20px 55px 34px 55px;
}

.shape-skew {
    transform: skew(-25deg);
    background: linear-gradient(90deg, #FF9315 21.66%, #FF4F17 64.49%);
    display: inline-block;
    padding: 10px 25px;
}

span.skew {
    transform: skew(25deg);
    display: inline-block;
}

@media(min-width:768px) {
    .fifth-section {
        background: #fff url(https://cdn.oppyo.com/launches/writerarc/bizdrive/proudlybg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 70px 0 140px 0px;
    }
}

/* Step Section Start*/

.step-section{
    background: #fff url(https://cdn.oppyo.com/launches/writerarc/bizdrive/steps-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px ;
}	
@media(min-width:768px){
    .step-section{
        padding:50px 0px 100px 0px;
    }
}

/* Step Section End */

/***********White Section *********/

.white-section {
    padding: 30px 0;
    background: #fff url(https://cdn.oppyo.com/launches/writerarc/bizdrive/features-bg2.png) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .white-section {
        padding: 100px 0;
    }
}

/***********Grey Section *********/

.grey-section {
    padding: 30px 0;
    background: #e7e9fa;
}

@media(min-width:768px) {
    .grey-section {
        padding: 100px 0;
    }
}


/***********Bonus Section *********/

.bonus-section {
    background: #effbff url(https://cdn.oppyo.com/launches/writerarc/bizdrive/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
}

.feature-shape {
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}

@media(min-width:768px) {
    .bonus-section {
        padding: 70px 0;
    }
    .feature-shape:after {
        content: '';
        background: url(https://cdn.oppyo.com/launches/writerarc/bizdrive/line-shape.webp) no-repeat right bottom;
        padding: 22px 0;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -15px;
        right: -15px;
    }
}

/******Table Section ********/

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

ul.vgreytick li {
    background: url(https://cdn.oppyo.com/launches/writerarc/bizdrive/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #282a89;
}

.tablebox2 {
    border: 1px solid #030331;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tbbg2 {
    background: #030331;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

ul.vgreytick {
    padding: 0px 15px;
}

@media(min-width:768px) {
    .table-section {
        padding: 100px 0px;
        background: url(https://cdn.oppyo.com/launches/writerarc/bizdrive/table-bg.webp) no-repeat;
        background-position: center center;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
}

/**********Footer Section********/

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px
    }
}

/**********Footer Section********/
