html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 14px;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #000000;
}

.orange-clr {
    color: #fb7b55;
}


/* Header Section CSS */

.header-section {
    background-color: #fff;
    padding: 5% 0;
}

a.orange-clr:hover {
    color: #ff6a3d;
    text-decoration: none;
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
}

/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul li a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

