html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Plus Jakarta Sans', sans-serif;
	color: #08041e;
	font-size: 14px;
	overflow-x: hidden;
}
/* --- Global Css Start--- */
.cleint-frame {
    background: url("../images/client-frame.webp") no-repeat;
    background-size: 100% 100%;
    padding: 20px;
}
.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
	border-radius: 5px;
}
.white-clr {
	color: #fff;
}
.black-clr {
    color: #000000;
}
.blue-clr,
a.blue-clr {
	color: #182d5a;
	text-decoration: none;
}
.px-md-0{
	padding-left: 0px;
	padding-right: 0px;
}
/* .neon-clr {
    color: #00CBE3;
} */
.red-clr {
    color: #EF3E3A;
}
.purple-clr {
    color: #b052ff;
}
.caveat {
    font-family: 'Caveat', cursive;
}
.play {
    font-family: 'Play', sans-serif;
}

.neon-clr {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.img-animation {
	animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes mover2 {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}
/* --- Global Css End--- */
/* --- Header Section Start--- */
.header-section {
    background: url(../images/header-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

/* .preheadline > span {
    background-color: transparent;
    text-align: justify;
    padding: 0;
    border-radius: 0;
} */
.preheadline {
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 10px;
    border: 1px dashed rgba(255, 255, 255, 0.50);
    background: #0B122F;
    padding: 10px;
}
.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 50px 20px 20px 20px;
    border-radius: 0px 50px;
}
.post-headline {
    border-radius: 10px;
    border: 1px solid var(--Blue-Gradient, #22D2EE);
    background: linear-gradient(90deg, rgba(34, 210, 238, 0.20) -0.02%, rgba(28, 151, 244, 0.20) 100.02%);
    padding: 9px 19px;
    display: inline-block;
}
/* .mainheadline {
    display: inline-block;
    border-radius: 40px;
    background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
    padding:1px ;
    border-radius: 18px;

}
.mainheadline > div {
    background-color: #150a41;
    padding: 65px 12px 15px;
    border-radius: 20px;
} */
@media(min-width:768px) {
	.header-section {
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
	/* .mainheadline {
        padding: 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/enterprise/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 60px 15px 30px 15px;
    }
    .mainheadline > div {
        background-color: transparent;
        padding: 15px 25px;
        border-radius: 0px;
    }
    .mainheadline:before {
        position: absolute;
        content: '';
        padding:0px 40px;
        left: 48px;
        z-index: 99;
        top: 23px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        position: absolute;
    } */
	.preheadline{
        padding: 9px 20px;
    }
    .preheadline::after {
        position: absolute;
        right: -86px;
        top: -31px;
        content: url(../images/pre-shape-ai.webp);
    }
	.mainheadline {
        background: url(../images/heading-design.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 35px 45px 40px 45px;
        left: -5px;
        border-radius: 0px;
    }
    /* .preheadline{
        display: inline-block;
        border-radius: 40px;
        background-image: linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
        padding:18px 2px 16px ;
        border-radius: 48px;
    
    }
    .preheadline > span {
        background-color: #150a41;
        text-align: justify;
        padding: 15px 25px;
        border-radius: 48px;
    } */
    .fifth-section {
        padding:100px 0px;
    }
}
/* --- Header Section End--- */
/* ---Second Section Start--- */
.second-section {
	padding: 30px 0px;
	background: #ffffff;
}
.up-btn a {
    border-radius: 15px;
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    backdrop-filter: blur(10px);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}

.up-btn a:hover {
    transition: all .3s ease;
	background: linear-gradient(90deg, #1C97F4 0%, #22D2EE 100%);
}
@media (min-width: 768px) {
	.second-section {
		padding: 70px 0 80px;
		background: #ffffff url(../images/second-sec-bg.webp) no-repeat center center;
	}
	.up-btn a {
		font-size: 38px;
		padding: 28px 30px;
	}
}
/* ---Second Section End--- */
/* ---third Section Starts--- */
.proudly-section {
    background: #0d0238;
    padding: 30px 0;
}
@media (min-width: 768px) {
	.proudly-section {
		padding: 100px 0px 140px;
		background: url(../images/proudlybg.webp) no-repeat bottom center;
		background-size: cover;
	}
}
/* ---third Section End--- */
/* ---Feature Section Start--- */
.white-section {
	background: #fff;
	padding: 30px 0;
}
.grey-section {
	background:#f0f9ff;
	padding: 30px 0;
}
.tickul li {
	list-style: none;
    background: url(../images/launch-tick-blue.webp) no-repeat;
    background-position: 0 2px;
    padding: 0 0 20px 40px;
}
.tickul li:last-child {
	padding-bottom:0px;
}
@media (min-width: 768px) {
	.white-section {
		padding: 100px 0px;
	}
	.grey-section {
		padding: 100px 0px;
	}
}
/* --- Feature Section End --- */
/* Money Back Gurantee */
.moneyback-section {
	background: #0d0238;
    background-position: center center;
    background-size: cover;
    padding: 30px 0 30px;
}
@media (min-width: 768px) {
	.moneyback-section {
		padding: 70px 0px;
		background: #0d0238 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/enterprise/moneyback-bg.webp) no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
/* Money Back Gurantee End */
/* Bonus Section */
.bonus-section {
	background: url(../images/bonus-bg.webp) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}
.but-design{
	background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    display: inline-block;
    border-radius: 65px;
    padding: 15px;
    position: relative;
    z-index: 1;
}
.rebrand{
	background: url(../images/rebrand-bg.webp) no-repeat;
	background-size: 100% 100%;
	height: 100%;
}
.rebrand-text{
	padding: 20px 20px 62px 20px;
}
.sales{
	background: url("../images/sales-bg.webp") no-repeat;
	background-size: 100% 100%;
	padding: 43px 77px;
	fill: #3BD3ED;
	filter: drop-shadow(7px 7px 10px rgba(0, 0, 0, 0.50));
}
.sales-back{
	padding: 9px 25px 25px 9px;
}
@media (min-width: 768px) {
	.bonus-section {
		padding: 70px 0px;
	}
	.but-design{
		padding: 15px 35px;
	}
}
/* Bonus Section End */
/* Table Section */
.table-section {
	background: #ffffff;
	padding: 30px 0;
}
.tbbg2 {
	background-color: #fff;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}
ul.vgreytick {
	padding: 0px;
	margin: 0;
}
ul.vgreytick li {
	background: url(../images/launch-tick-blue.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
}
ul.vgreytick li:nth-child(odd) {
	background-color: #d7e6ef;
}
ul.vgreytick li:nth-child(even) {
	background-color: #ffffff;
}
.myfeatureslast {
	float: left;
	padding: 0px 30px 30px;
	width: 100%;
	min-height: 69px;
	background: #ffffff;
	border-radius: 0px 0px 10px 10px;
}
.tablebox3 {
	width: 100%;
	float: left;
	border-radius: 10px;
	position: relative;
	border: solid 1px #182d5a;
}
.tbbg3 {
	background: #0d0238;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}
.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}
ul.vgreytick li.headline {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%) !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff !important;
}
@media (min-width: 768px) {
	.tbbg2 {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}
	ul.vgreytick li {
		padding: 20px 15px 20px 65px;
		background-position: 30px 25px;
	}
	.myfeatureslast {
		padding:30px;
	}
	.tbbg3 {
		padding: 50px 30px 50px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}
}
/* Table Section ENd */
/* Footer Section */
.footer-section {
	background: #05071A;
	padding: 30px 0;
}
.footer-ul {
	padding: 0;
}
.footer-ul li {
	display: inline;
	line-height: 130%;
}
@media (min-width: 768px) {
	.footer-section {
		padding: 50px 0px;
	}

	.footer-ul li {
		display: inline;
		line-height: normal;
	}
}
/* Footer Section End */

.feature-card{
	background-color: #fff;
	border:2px solid  #22D2EE;
	border-radius: 20px;
	padding: 30px 30px;
	box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
}
