html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
    overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}

.bonus-title-color {
    color: #fc8548;
}
.red-gradient {
    color: #fc8548;
}
.text-shadow {
    text-align: center;
    text-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
}
.text-shadow-1 {
    text-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
}
/* Proudly there Section Start */

.proudly-sec {
    background: #000 url(../images/proudlybg.webp) center center no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding: 20px ;
}
.uy {
    background: url(../images/rewind-bg.png) no-repeat center center;
    padding: 30px 15px;
    border-radius: 25px;
}
.gn-box {
    background: url(../images/gn-box-bg.png) no-repeat center center;
    color: #000;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 5px;
    background-size: 100% 100%;
}
.tde {
    border-bottom: 2px solid #fff;
    padding: 0px 0px;
    border-top: 2px solid #fff;
    display: inline-flex;
}
.d-btn a {
    display: inline-block;
    background-image: -moz-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    border-radius: 15px;
    padding: 12px 35px;
    color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}
.d-btn a:hover {
    text-decoration: none;
    background-image: -moz-linear-gradient( 64deg, rgb(252, 177, 33) 0%, rgb(250, 132, 96) 100%);
    background-image: -webkit-linear-gradient( 64deg, rgb(252, 177, 33) 0%, rgb(250, 132, 96) 100%);
    background-image: -ms-linear-gradient( 64deg, rgb(252, 177, 33) 0%, rgb(250, 132, 96) 100%);
}
.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #000000;
    background: #ffffff;
    display: inline-block;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .proudly-sec {
        padding: 60px 15px 60px 15px;
    }
}

