html {
    scroll-behavior: smooth;
}
body {
    font-family: 'League Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}
::-webkit-input-placeholder {
    color: #797979 !important;
}
::-moz-placeholder {
    color: #797979 !important;
}
:-ms-input-placeholder {
    color: #797979 !important;
}
:-moz-placeholder {
    color: #797979 !important;
}
.orange-clr {
    color: #ff6a3d;
}
.white-clr {
    color: #ffffff;
}
.theme-clr {
    color: #5c6ac4;
}
a.link{
    color: #337ab7;
}
.blue-head {
    color: #4600a2;
}
.yellow-clr {
    color: #eaab26;
}
.clear {
    clear: both;
}
.container {
    height: unset;
}
.relative {
    position: relative;
}
/* Header Section CSS */
.header-section {
    background-color: #080102 ;
    padding: 30px 0px;
}
.post-heading {
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(25px);
    padding: 10px 20px;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.header-section .responsive-video {
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.proudly-section {
    background: #080102 ;
    padding: 30px 0px 30px 0;
}
.but-design{
    background: url(../images/butthats-not-all.png);
    padding: 20px 40px;
    display: inline-block;
    border-top: hidden;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}
.but-design .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}
@media(min-width:768px) {
    .but-design {
        padding: 40px 60px 35px 70px;
        background: url(../images/butthats-not-all.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% 100%;
        border: hidden;
        margin-bottom: 20px;
        color: #fff;
    }
    .header-section{
        background:  url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: Cover;
        padding: 40px 0px 100px 0px;
        background-attachment: fixed;
    }
    .proudly-section{
        background: #2f0088 url("../images/proudlybg.png") no-repeat center center;
        background-size: cover;
        /* padding:5% 0 12%; */
        padding: 100px 0 100px 0px;
    }
}
.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}
.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}
.second-section {
    padding: 30px 0px;
    background: #edebf0;
}
@media(min-width:768px) {
    .second-section {
        padding: 100px 0 !important;
        background: #edebf0 url(../images/second-sec-bg.png) no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
    }
}
.kapblue,
a.kapblue {
    color: #FD2F15;
    text-decoration: none;
}
.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 36px 55px;
}
/********features*********/
@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}
.handsean{
    font-family: handsean;
}
.bonus-section {
    background: #fff;
    padding: 30px 0 30px;
    background-size: cover;
}
.moneyback-section {
    background: #080102 ;
    padding: 30px 0 30px;
}
@media (min-width:768px) {
    .moneyback-section {
        background: url(../images/moneyback-bg.png) no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 100px 0 100px;
    }
    .bonus-section {
        background: #fff ;
        background-size: cover;
        padding: 70px 0px 120px 0px;
        border-bottom: 0px
    }
}
.footer-section {
    background: #0d0304;
    padding: 30px 0;
}
.reason-tick li {
    background: url(../images/reason-tick.png) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 10px 45px;
    line-height: 38px;
}

.white-section{
    background: #fff;
    padding: 30px 0;
}
.grey-section{
    background: #F1F1F1;
    padding: 30px 0;
}
@media(min-width:768px) {
    .white-section {
        background: #fff;
        padding: 100px 0px 100px;
        background-size: cover;
        background-position: center;
    }
    .grey-section {
        background: #F1F1F1;
        padding: 100px 0px 100px;
        background-size: cover;
        background-position: top center;
    }
}
/*new*/
.up-btn a {
    border-radius: 10px;
   background-color: #FD2F15;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: 140%;
}
.up-btn-header a {
    border-radius: 65px;
    background-color: rgb(255, 107, 62);
    box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.45);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: 140%;
}
.up-btn a:hover {
    text-decoration: none;
}
.up-btn-header a:hover {
    background-color: #ff6b3e;
    text-decoration: none;
}
.probtn1 a {
    border-radius: 10px;
    background: #FD2F15;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: 140%;
}
.probtn1 a:hover {
   text-decoration: none;
}
@media (min-width:768px) {
    .up-btn a {
        font-size: 42px;
        padding: 28px 30px;
    }
    .probtn1 a {
        font-size: 42px;
        padding: 28px 30px;
    }
}
/*Table CSS Start*/
.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}
.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
   border: 1px solid #0d0304;
}
.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}
.tablebox3 {
    background-image: -webkit-linear-gradient( 0deg, rgb(70, 0, 162) 0%, rgb(92, 4, 173) 63%, rgb(113, 8, 183) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(70, 0, 162) 0%, rgb(92, 4, 173) 63%, rgb(113, 8, 183) 100%);
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
    position: relative;
    border: 1px solid #0d0304;
}
.tablebox3:before {
    content: '';
    position: absolute;
    background: url(../images/most-popular.png) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 0px;
    top: 0px;
}
ul.vgreytick {
    padding: 0px;
    margin: 0;
}
ul.vgreytick li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}
ul.vgreytick li:nth-child(odd) {
    background-color: #f1f1f1;
}
ul.vgreytick li:nth-child(even) {
    background-color: #ffffff;
}
ul.vgreytick li:last-child {
    border-bottom: 0px;
}
ul.grey-tick-last {
    padding: 0px;
    margin: 0;
}
ul.grey-tick-last li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    color: #ffffff;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}
ul.grey-tick-last li:nth-child(odd) {
    background-color: #38292a;
}
ul.grey-tick-last li:nth-child(even) {
    background-color: #0d0304;
}
ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}
.tbbg2 {
    background-color: #fff;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}
.tbbg3 {
   background: #0d0304;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px; 
}
@media (min-width: 768px) {
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 24px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 24px;
    }
}
.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}
.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}
.myfeatureslast {
    float: left;
    padding: 0px 30px 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}
.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}
@media(min-width:768px) {
    .myfeatureslast{
        padding: 0px 20px 30px;
    }
}
/*Table CSS Enad*/
@media (min-width: 768px) {   
    .prdly-pres {
        background: url(../images/prdly-pres.png) no-repeat top center !important;
        background-size: 100% 100% !important;
        padding: 23px 70px 49px 70px !important;
    }
}
.prdly-pres {
    background: url(../images/prdly-pres.png) no-repeat top center;
    background-size: 100% 100%;
    padding: 15px 50px 30px 50px;
    display: inline-block;
}
@media(min-width:768px) {
    .table-section {
        padding: 70px 0 100px 0px !important;
        background: url(../images/pricing-table-bg.png) no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
    }
}
.table-section {
    background: #ffffff;
    padding: 30px 0;
}
ul.template-lists li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 10px 15px 40px;
    background-position: 0px 18px;
    line-height: 150%;
    color: #000;
}
ul.template-lists {
    padding: 0px 0px;
}
@media (max-width:767px) {
    .tablebox3:before {
        content: '';
        position: absolute;
        background: url(../images/most-popular.png) no-repeat;
        min-height: 120px;
        min-width: 120px;
        left: 0px;
        top: 0px;
        background-size: contain;
    }
}
/* ---- footer-section ---  */
.footer-ul {
    padding: 0
}
.footer-ul li {
    display: inline;
    line-height: 130%;
}
.footer-ul li:hover a {
    color: #fff;
}
@media (min-width: 768px) {
    .footer-section {
        padding: 70px 0px;
    }
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
}