html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
	overflow-x: hidden;
}

.relative {
    position: relative;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #000000;
}

.blue-clr {
    color: #182d5a;
}
.orange-clr{
    color: #f6841f;
}
.yellow-clr{
    color: #ffc332;
}

.preline{
    position: relative;
    display: inline-flex;
}
.preline::before{
    content: '';
    border: solid 1px #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5px;
    z-index: 1;
    right: -5px;
}

.preheadline {
    display: inline-flex;
    padding: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    z-index: 15;
}
.postheadline{
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    display: inline-block;
    padding: 10px;
    border-radius: 100px;
}
@media(min-width:768px){
    .postheadline,
    .preheadline{
        padding: 10px 35px;
    }
    .preheadline::before{
        content: '';
        background:url(https://cdn.oppyo.com/launches/yodrive/common_assets/images/left-arrow.webp) no-repeat;
        width: 49px;
        height: 65px;
        position: absolute;
        left: -35px;
        bottom: -35px;
        z-index: -1;
    }
    .preheadline::after{
        content: '';
        background:url(https://cdn.oppyo.com/launches/yodrive/common_assets/images/right-arrow.webp) no-repeat;
        width: 49px;
        height: 65px;
        position: absolute;
        right: -35px;
        bottom: -35px;
        z-index: -1;
    }
}

/* .header-list-block {
    border-radius: 0px 0px 20px 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}

@media (min-width: 768px) {
	.header-list-block {
    padding: 40px 30px;
}
} */


/* Header Section CSS */

.header-section {
    background: #182d5a;
    padding: 30px 0px;
}

.fifth-section {
	background: url("https://cdn.oppyo.com/launches/yodrive/elite/proudlybg.webp") no-repeat top center;
	background-size: cover;
	padding: 30px 0 40px 0px;
    background-position: bottom center;
}

@media(min-width:768px) {
    .header-section {
		background: #fff url(https://cdn.oppyo.com/launches/yodrive/elite/header-bg.webp);
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: cover;
		padding: 40px 0px 150px;
    }
    .fifth-section {
        padding:100px 0px;
    }
}

.second-section {
    padding:30px 0px;
    background: #ffffff;
}
.pre-head{
	padding: 15px 15px;
}

@media(min-width:768px) {
    .second-section {
        padding:0px 0px 100px 0px;
        background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/elite/second-sec-bg.webp) no-repeat;
        background-position: center center;
    }
}

.third-section {
    padding: 30px 0;
    background: #efedf7;
}


@media (min-width: 768px) {
    .third-section {
        padding:100px 0px 0px 0px;
    }
}

.kapblue {
    color: #6e44ff;
}

@media(max-width:767px) {
    .bonus-size {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}

/********features*********/

.white-section {
    background: #fff;
    padding: 30px 0;
}

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-section {
        padding: 70px 0px;
    }
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
}

.probtn a {
   border-radius: 15px;
    background-color: #f6841f;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}

.probtn a:hover {
   background: #e97b1a;
    text-decoration: none;
}

.probtn1 a {
	border-radius: 15px;
	background-color: #f6841f;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 140%;
}

.probtn1 a:hover {
    background:#e97b1a;
    color: #ffffff;
}


/*Table CSS Start*/

.tablebox2 {
    border: 1px solid #182d5a;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(https://cdn.oppyo.com/launches/yodrive/elite/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}


ul.vgreentick li {
    background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/elite/vgreentick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 25px;
    line-height: 150%;
    color: #000;
}

.tbbg2-text {
    color: #fff;
}

.tbbg2 {
    background:#182d5a;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
    .probtn a {
        font-size: 38px;
        padding: 28px 50px;
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 50px;
    }
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #182d5a;
}

/*Table CSS Enad*/

.grey-section {
    background: #eef5ff;
    padding: 30px 0;
}

.moneyback-section {
	background: #182d5a url(https://cdn.oppyo.com/launches/yodrive/elite/moneyback-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0;
	color: #ffffff;
}

.bonus-section {
	background: url(https://cdn.oppyo.com/launches/yodrive/elite/bonus-bg.webp) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

@media (min-width:768px) {
    .table-section {
        padding:100px 0px;
        background: url(https://cdn.oppyo.com/launches/yodrive/elite/table-bg.webp) no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .bonus-section {
        padding: 70px 0px;
    }
    .moneyback-section {

        padding: 100px 0 100px 0px;
    }
}


/*-------- Responsive ------------*/

@media (min-width:768px) {
    .white-section {
        padding: 100px 0;
        background: url(https://cdn.oppyo.com/launches/yodrive/elite/white-section-bg.webp) no-repeat;
        background-position: center center;
    }
    .third-section {
        padding: 100px 0;
    }
    .grey-section {
        padding: 100px 0;
    } 
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

.amazing-section{	
	padding: 30px 0;
	background: #182d5a;
}

@media (min-width: 768px) {
.amazing-section{	
	padding: 90px 0;
	background: #182d5a url(https://cdn.oppyo.com/launches/yodrive/elite/amazing-bg.webp) no-repeat;
	background-size:cover;
	background-position: center;
}
}
.but-design{background-color: #182d5a;
    display: inline-block;
    border-radius: 65px;
    padding: 15px;
    position: relative;
    z-index: 1;}

@media(min-width:768px){
    .but-design{padding: 15px 35px;}
}    