
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}
.caveat{
	font-family: 'Caveat', cursive;
}

/* html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #fc8548;
  border-radius: 25px;
} */
.red-hat-font {
    font-family: Red Hat Display;
}
span.under {
    border-bottom: 2px solid;
}

.yellow-clr {
    color: #FFCD00;
}

.white-clr {
    color: #ffffff;
}

.white-clr2 {
    color: #d8d1d1;
}

.blue-clr {
    color: #01155e;
}

.red-clr {
    color: #FF2C2C;
}

.grey-clr{
    color: #D9D9D9;
}
.light-blue{
    color:#00AAFF;
}

.underline {
    border-bottom: 1px solid;
}

.green-clr{
    color: #009900;
}

.black-clr {
	color: #031528;
}
.black2-clr {
    color: #140014;
}
.purple-clr {
    color: #4F005E;
}
.pink {
    color: #F55D87;
}
.light-orange{
    color: #F27D66;
}
.px-md-0{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.cta-link-btn a{
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
    transition: all .3s ease;
    background: linear-gradient(0deg, #F55D87 10%, #CE14FD 100%);
    position: relative;
    font-weight: 700;
}
/* .cta-link-btn a:before {
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 15px 15px 100% 100%;
} */
.cta-link-btn a:hover {
    border-radius: 8px;
    background: linear-gradient(0deg, #CE14FD 10%, #F55D87 90%);
}
@media(min-width:768px){
    .cta-link-btn a{
        font-size: 30px;
        padding: 35px 46px;
        display: inline-block;
    }
}
.header-section {
    padding: 30px 0px;
    background: #450159;
    position: relative;
    z-index: 1;
    /* margin-top: 140px; */
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.clear {
    clear: both;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.steps-section2 {
    background: #f9f9f9;
    padding: 30px 0px;
}

.step-bg {
    display: inline-block;
    padding: 15px 32px 10px 32px;
    border-radius: 0px 3px 3px 0px;
    background-color: #0aabff;
    text-align: center;
}

.proudly-section {
    padding: 30px 0px;
    background: #000a22;
}

@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.affiliate-link-btn {
    text-align: center;
}

.affiliate-link-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
    transition: all .3s ease;
    background: linear-gradient(0deg, #CE14FD 10%, #CE14FD 100%);
    position: relative;
}
.affiliate-link-btn a::before {
    position: absolute;
    width: 100%;
    height: 44px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 15px 15px 100% 100%;
}
.affiliate-link-btn a:hover {
    border-radius: 8px;
    background: linear-gradient(0deg, #CE14FD 100%, #CE14FD 10%);
}

/* header */

.list-head {
    list-style: none;
}

.list-head li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/list-head.webp) no-repeat;
    padding: 15px 0px 15px 45px;
    background-position: 0px 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}

.list-head li:last-child {
    border-bottom: 0px;
}


/* section-2 */

.affiliate-link-btn1 a {
    border-radius: 10px;
    background-image: -webkit-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -ms-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -moz-linear-gradient(#FFCD00 , #ED1C24);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.affiliate-link-btn1 a:hover {
    background-image: -moz-linear-gradient(#ED1C24 , #FFCD00);
    background-image: -webkit-linear-gradient( #ED1C24 , #FFCD00);
    background-image: -ms-linear-gradient( #ED1C24 , #FFCD00);
    text-decoration: none;
}

/* Black Timer css */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.proof-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.clear {
    clear: both;
}


/* DCP Team Section CSS */

.noneed-shape {
    padding: 30px;
    background-color: #f5efff;
    border-radius: 10px;
}

.anymore-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.e-learning-box {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/e-learning-box.png) no-repeat center center;
    background-size: contain;
    padding: 55px 10px;
    ;
}
.main-heading {
    background: #fff;
    border-radius: 7px;
    padding: 20px 10px;
}
.main-heading-inner {
    background: #4F005E;
    border-radius: 10px;
    padding: 5px;
}
@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 80px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .main-heading {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/main-heading-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 61px 14px 62px 54px;
    }
    .e-learning-box {
        padding: 80px 30px 70px;
    }
    .anymore-section {
        padding: 70px 0px;
    }
    .min-sm-video-width-left {
        width: 68%;
    }
    .min-sm-video-width-right {
        width: 32%;
    }
    .affiliate-link-btn1 a {
        font-size: 30px;
        padding: 30px 20px;
        width: auto;
    }
}
    .steps-section2 {
        padding: 80px 0px;
        background: #f9f9f9 url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/step-section-2.png) no-repeat center center;
        background-size: cover;
    }

    

    
    /* Timer CSS */

    /* Timer CSS End */
    .proof-section {
        padding: 100px 0px;
        background: url("https://cdn.dotcompaltest.com/uploads/launches/learnX/special/proof-sectionbg.png") no-repeat center center;
        background-size: cover;
    }


@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}


/* Empowers you Section css */

.still-there-section {
    background: #deeaff;
    padding: 30px 0px;
}

.line-5 {
    background: #01155e;
    height: 5px;
}

@media (min-width:768px) {
    .still-there-section {
        padding: 100px 0px 100px 0px;
        background: #deeaff url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/still-there-section.png) no-repeat top center;
        background-size: cover;
    }
}

/* Stats  Section css */

.prdly-pres {
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.10);
    display: inline-block;
    font-family: 'Caveat', cursive;
    padding: 0px 84px;
}
.pre-heading1{
    border-radius: 35px;
    border: 2px solid #F55D87;
    padding: 9px 30px;
    display: inline-block;
}
.stats-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.content-style1,
.content-style2 {
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width:768px) {
    .content-style1 {
        background: transparent url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/content-style1.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 50px 30px 50px;
        box-shadow: none;
    }
    .content-style2 {
        background: transparent url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/content-style2.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 40px 30px 70px;
        box-shadow: none;
    }
    .stats-section {
        padding: 80px 0px;
        background: #f9f9f9 url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/stats-bg-section.png) no-repeat center center;
        background-size: cover;
    }

    .affiliate-link-btn a {
        font-size: 22px;
        padding: 15px 20px;
        display: inline-block;
        width: auto;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }

    .proudly-section {
        padding: 100px 0px;
        background: #eaf3ff url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/presenting-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
}

.cta-section-white {
    background: #4f0141;
	padding: 30px 0;
}

.eleraning-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.limited-time-sec {
    padding: 15px 0px 10px 0px;
    background: #FF2C2C;
}

.problme-shape {
    border-radius: 20px;
    background-color: rgb(236, 56, 69);
    width: 100%;
    float: left;
    padding: 15px;
}

.noneed-listing5 li {
    list-style: none;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/cross-yellow.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.noneed-listing6 li {
    list-style: none;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/cross.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.c-hei:hover .c-img{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.pm-block:hover .pm-img{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.pm-block .pm-img{
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.c-hei .c-img{
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

@media (min-width: 768px) {
    .noneed-listing6 li {
        list-style: none;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/cross.png) no-repeat;
        background-position: 0 1px;
        padding: 0 0 30px 50px;
        min-height: 42px;
    }
    .problme-shape {
        padding: 30px;
    }
    .eleraning-section {
        padding: 80px 0px;
        background: #f9f9f9 url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/eleraning-section-bg.png) no-repeat center center;
    }
    .cta-section-white {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/cta-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 100px 0px;
    }
    .c-hei {
        min-height: 230px;
    }
}
.hi-sec{
   padding: 15px;
   background: #550075;
}
@media(min-width:768px){
    .hi-sec {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/pre-shape.webp) no-repeat center;
        padding: 15px 45px;
        background-attachment: 100% 100%;
        background-size: 100% 100%;
        display: inline-block;
    }
}
.hi-there-sec{padding: 30px 0px;}
@media(min-width:768px){
    .hi-there-sec{padding: 100px 0px;}
}
.few-reason-sec{    
    background: #eaf3ff;
    padding: 30px 0px;}

@media(min-width:768px){
    .few-reason-sec{
        background: #ffffff url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/endstory.png) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px 120px;
    }
}    



.pre-heading {
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.10);
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
}
.post-heading {
    background: #00AAFF;
    text-align: center;
    padding: 10px;
}
.shape-head{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 20px;
    text-align: center;
}
.video-box {
    position: relative;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.video-box1{
    background:#D9D9D9;
    padding:5px;
    border-radius:10px
}

.border-dashed {
    background: #1E0048;
    border: 2px dashed #F27D66;
    border-radius: 20px;
    padding: 20px;
}
@media (min-width: 768px){
    .pre-heading {
        padding: 15px 40px;
    }
    .post-heading {
        padding: 15px 60px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/post-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        display: inline-block;
    }
    .border-dashed{
        padding: 20px 30px;
    }
}
.b-border{margin: 40px auto 0px auto;
    height: 2px;
    background: yellow;
    max-width: 200px;}


      .bar {
        height: 4px;
        width: 120px;
        background: #213386;
        margin: 20px auto 20px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
    }
    .bar::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background: #ffffff;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: MOVE-BG;
        animation-name: MOVE-BG;
    }
    @-webkit-keyframes MOVE-BG {
        from {
            -webkit-transform: translateX(0)
        }
        to {
            -webkit-transform: translateX(120px)
        }
    }
    
    @keyframes MOVE-BG {
        from {
            transform: translateX(0)
        }
        to {
            transform: translateX(120px)
        }
    }
    .service-item {
        background-color: #fff;
        -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.18);
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.18);
        border-radius: 10px;
        padding: 25px;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        height: 100%;
    }
    .service-item:hover {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }

    .step-section{
        background: #F3EAFF;
        padding: 30px 0px;
    }
    
    .step-shapes {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/step-process-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 8px 40px;
        width: fit-content;
    }
    
    .niche-design{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/niche-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 10px 45px;
        display: inline-block;
    }
    .step-wall{
        border-radius: 20px;
        border: 2px solid #F27D66;
        background: #FFF;
        padding: 15px;
    }
    @media(min-width:768px){
        .step-section{
            padding: 100px 0px;
            background: #F3EAFF url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/step-bg.webp) no-repeat center center;
            background-size: cover;
        }
        .step-wall{padding: 30px;}
    }
    .profitwall-sec{
        padding: 30px 0px;
        background: linear-gradient(180deg, #28005A 10.42%, #69003C 100%);
    }

    .red-head{
        background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/red-head.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 6px 30px;
        display: inline-block;
    }
    

    @media(min-width:768px){
        .profitwall-sec{
            padding: 100px 0px;
            background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/powerfull-bg.webp) center center;
            background-size: cover;
            background-attachment: fixed;
        }
    }
    

    /***********Testimonial Section*****************/
    .testimonial-sec {
       background: #F3EAFF;
        padding: 30px 0px;
    }
    
    .single-testimonial {
        background: linear-gradient(180deg, #28005A 10.42%, #69003C 100%);
        text-align: center;
        position: relative;
        z-index: 2;
     
        border-radius: 10px;
        padding: 20px 10px 20px;
    }
    .testimonials-profile{
        position: relative;
    }
    .st-img {
        display: inline-block;
        background: #fff;
        border-radius: 100%;
        padding: 5px;
        box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
    }
    .stars a {
        padding-right: 8px;
        color: #FFC635;
    }
    .fa-star:before {
        content: "\f005";
        font-size: 22px;
    }
    .mt-md120{
        margin-top: 20px;
    }
    @media (min-width: 768px){
        .testimonial-sec {
            padding: 100px 0px;
            background: #eef5ff url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/testimonial-bg.webp) no-repeat center center;
            background-size: cover;
        }
        .single-testimonial {
            border-radius: 30px;
            padding: 41px 16px 43px 109px;
            height: 100%;
            background:  url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/testimonial-wall.webp) no-repeat center center;
            background-size: 100% 100%;
            text-align: start;
        }
        .testimonials-profile{
            position: absolute;
            top: 0px;
            left: -12px;
        }
        .st-img {
            display: inline-block;
            margin-top: -150px;
            background: #fff;
            border-radius: 100%;
            padding: 5px;
            box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
        }
        .mt-md120{
            margin-top: 120px;
        }
    }

    /********Imagine Section ********/
	.imagine-section{
		background: #f5f3f7;
		padding: 30px 0px;
	}
	@media (min-width: 768px){
		.imagine-section {
			padding: 100px 0px;
		}}

        .areyouready-section{
            background: #fff;
            padding: 30px 0px;
        }
        @media(min-width:768px){
            .areyouready-section{
                padding: 100px 0px;
            }
        }

    /***********Profitale Section*****************/
    .profitale-section{
        background: #fff;
        background-size: cover;
        padding: 30px 0px;
    }
    .easy-text{
        color: #FF2C2C;
        padding: 2px 2px 2px 60px;
        position: relative;
        display: inline-block;
        align-items: center;
    }
    .easy-text::before{
        position: absolute;
        top: -30px;
        left: -60px;
        content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/thumbsup.webp);
    }
    .gap30 {
        --bs-gutter-y: 30px;
    }
    @media (min-width: 768px){
        .profitale-section {
            padding: 100px 0px;
        }
        .easy-text::before{
            position: absolute;
            top: 0px;
            left: -60px;
            content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/thumbsup.webp);
        }
        .gap30 {
            --bs-gutter-x: 50px;
            --bs-gutter-y: 50px;
        }
    }

    .take-look-sec
    {
        background: #4f0141;
        padding: 30px 0px;
    }
    @media(min-width:768px){
        .take-look-sec{
            padding: 100px 0px;
            background:#EFF5F9 url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/presenting-bg.webp) no-repeat center bottom;
            background-size: cover;
        }
    }

    .traffic-section{
        padding: 30px 0px;
    }
    @media(min-width:768px){
        .traffic-section{
            padding: 100px 0px;
        }
    }

    .online-section{
        padding: 30px 0px;
        background: #f5f3f7;
    }
    @media(min-width:768px){
        .online-section{
            padding: 100px 0px;
        }
    }

    /* Capability Section */

    .capability-sec{
        padding: 30px 0px;
        background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/capability-bg.webp) no-repeat center center;
        background-size: cover;
    }

    @media(min-width:768px){
        .capability-sec{
            padding: 100px 0px;
        }
        .orange-line{
            position: relative;
        }
        
        .orange-line::after{
            content: url('https://cdn.oppyotest.com/launches/webgenie/preview/images/line.webp');
            position: absolute;
            bottom: -25px;
            right: 0;
        }
    }

    .dfy-section{
        padding: 30px 0px;
        background: #4f0141;
    }
    
    @media(min-width:768px){
        .dfy-section{
            padding: 100px 0px;
            background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/dfy-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }

    .newbie-section{
        padding: 30px 0px;
        background: #eff5f9;
    }
    @media(min-width:768px){
        .newbie-section{
            padding: 100px 0px;
            background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/newbie-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }

    /* Hi Their Start */
    .hi-their-sec {
        padding: 30px 15px 30px 15px;
        background: #EFF5F9;
    }
    .blue-border{
        border: 1px solid #6f0065;
    }
    .hi-their-box{
        background: #fff;
        border: 2px solid #6f0065;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
        border-radius: 50px;
        padding: 0px 15px 30px 15px;
    }
    .hi-their-shadow{
        background: #FFFFFF;
        border: 10px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        padding: 5px;
        margin-top: -60px;
        display: inline-block;
    }
    .hi-their-head{
        padding: 15px;
        border: 2px solid #6f0065;
        border-radius: 100px;
        background: #fff;
        display: inline-block;
    }
    @media(min-width:768px){
        .hi-their-sec{
            padding: 0px 0px 100px 0px;
        }
        .hi-their-box{
            border-radius: 50px;
            padding: 0px 70px 100px 70px;
        }
        .hi-their-head{
            padding: 15px 50px;
        }
    }

    /* Goal Section Start */
    .goal-section{
        padding: 30px 0px;
    }
    @media(min-width:768px){
        .goal-section{padding: 100px 0px; background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/goal-bg.webp) no-repeat center center; background-size: cover;}
    }
    /* Goal Section End */

    /* Success Story Section */
    .success-story-section{
        padding: 30px 0px;
        background: #EFF5F9;
    }
    @media(min-width:768px){
        .success-story-section{
            padding: 100px 0px;
            background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/success-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }

    /* Demo Section Start */
    .demo-sec{
        padding: 30px 0px;
        background: #fff;
    }
    .affliliate-underline{
        border-bottom: 2px solid #FF2C2C;;
    }
    .smile-text{
        background: #FF2C2C;
        border-radius: 25px;
        padding: 9px 15px 9px 55px;
        position: relative;
        display: inline-block;
    }
    .smile-text::before{
        position: absolute;
        top: -23px;
        left: -60px;
        content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/thumbsup.webp);
    }
    @media(min-width:768px){
        .demo-sec{
            padding: 100px 0px;
            background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/demo-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }
    /* Demo Section End */

    /**** FAQ Section ***/

.faq-section {
	padding: 30px 0px;
	background-color: #fff;
}

.faq-list {
	background: url(https://cdn.oppyo.com/launches/webpull/special/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 55px;
    background-position: 15px 25px;
    border: 1px solid #031528;
    border-radius: 20px;
}

@media (min-width: 768px) {
	.faq-section {
		padding: 100px 0px;
	}
}

.final-shape {
	background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
	border-radius: 15px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}

@media (min-width: 768px) {
	.final-shape {
		padding: 15px 40px;
		border-radius: 100px;
	}
}

.not-just{
    padding: 30px 0px;
    background: #f5f3f7;
}
@media(min-width:768px){
    .not-just{
        padding: 100px 0px;
    }
}
.countdown-container {
    padding: 10px;
    border: 2px dashed #FFFFFF;
    border-radius: 15px;
}

.white-section{
    padding: 30px 0px;
}
@media(min-width:768px){
    .white-section{
        padding: 100px 0px;
    }
}

.grey-section{
    padding: 30px 0px;
    background: #f5f3f7;
}
.regardless-sec{
	padding: 30px 15px;
	background: #11207c;
}
.dotted-border{
	border: 3px dashed #6f0065;
	border-radius: 50px;
	display: inline-block;
	padding: 10px 40px;
}
@media(min-width:768px){
    .grey-section{
        padding: 100px 0px;
    }
    .regardless-sec{
		padding: 80px 80px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/regardless-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
    .arrow-down{
		position: relative;
		display: inline-block;
	}
	.arrow-down::after{
		position: absolute;
		top: 13px;
		right: -45px;
		content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/red-arrow.webp);
	}
    .left-line{
		position: relative;
	}
	.left-line::before{
		position: absolute;
		bottom: -27px;
		left: 0px;
		content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/red-line.webp);
	}
}
.smile-text{
	background: #FF2C2C;
    border-radius: 25px;
    padding: 9px 15px 9px 55px;
    position: relative;
    display: inline-block;
}
.smile-text::before{
	position: absolute;
	top: -23px;
	left: -60px;
	content: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/thumbsup.webp);
}

.border-line {
    border: 1px dashed #031528;
}
.need-head{
	background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/need-head.webp) no-repeat center center;
	background-size: 100% 100%;
	padding: 6px 30px;
	display: inline-block;
}
.bonus-head{
	background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
	border-radius: 15px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}
@media(min-width:768px){
    .bonus-head{
		padding: 15px 40px;
		border-radius: 100px;
	}
	.bonus-head::before{
		width: 70px;
		height: 1px;
		background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
		position: absolute;
		content: '';
		left: -70px;
	}
	.bonus-head::after{
		width: 70px;
		height: 1px;
		background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
		position: absolute;
		content: '';
		right: -70px;
	}
}

/* Inside Section Start */
.inside-section{
	padding: 30px 0px;
	background: #eff5f9;
}
.inside-box{
	background: rgba(21, 198, 252, 0.2);
	border-radius: 20px;
	padding: 28px;
}
@media(min-width:768px){
	.inside-section{
		padding: 100px 0px;
		background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/inside-bg.webp) no-repeat center center;
		background-size: cover;
	}
}

.cross-list{
	list-style: none;
}
.cross-list li{
	background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/cross-icon.webp) no-repeat;
    padding: 10px 0px 10px 45px;
    background-position: 0px 15px;
    text-align: left;
}
.table-border-content{
    background: #fff;
    border: 3px dashed #999;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: auto;
    padding-bottom: 10px;
}
.tb-check{
    background: #FEFE9B;
    padding: 20px;
}
@media(min-width:768px){
    .table-border-content{
        max-width: 75%;
    }
}
.img-shadow {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
    max-height: 150px;
}
/******** Webgenie In Action Section ********/
.in-action-section{
	background: #4f0141;
    padding: 30px 0px;
}
@media (min-width: 768px){
	.in-action-section {
		background: #eff5f9  url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/in-action-bg.webp) no-repeat center bottom;
		background-size: cover;
		padding: 100px 0px;
	}}

    .yellow-head{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/yellow-highlight.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 6px 30px;
    display: inline-block;
    }

    .head-yellow
{
	display: inline-block;
    background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/yellow-heading.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 30px;
}
@media(min-width:768px){
    .head-yellow
	{
		padding: 10px 50px;
	}
}

.timer-header-top {
    background: #000;
    padding-top:10px;
    padding-bottom:10px; 
    }
    /* @media (min-width: 1199px){
        .header-section {
            margin-top: 100px;
        }} */

        .tht-left {
            color: #fff;
            font-size: 20px;
            font-weight: 700;
        }
.dollars-head {
    border: 1px solid #F55D87;
    padding: 20px;
    display: inline-block;
    position: relative;
    background: #fff;
}
@media (min-width: 768px){
    .dollars-head {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/dollars-head-design.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 20px 80px;
        display: inline-block;
        border: 0px;
    }
    .dollars-head::before {
        content: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/money.webp);
        position: absolute;
        top: 5px;
        right: -16px;
    }
}
.remeber-section{
    padding: 30px 0px;
    background: #F3EAFF;
}
.experience-section{
    padding: 30px 0px;
    background: #F3EAFF;
}
@media(min-width:768px){
	.remeber-section{
		padding: 100px 0px;
		background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/remember-time.webp) no-repeat center center;
		background-size: cover;
	}
    .experience-section{
        padding: 100px 0px;
		background: url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/experience-bg.webp) no-repeat bottom center;
		background-size: 100% 100%;
    }
}       
.pay-wall{
    background: linear-gradient(180deg, #28005A 10.42%, #69003C 100%);
    padding: 30px 10px;
    border-radius: 10px;
}
@media(min-width:768px){
   .pay-wall{padding: 50px 37px 50px 30px;}
}

.stats-section {
    background: #f5f3f7;
    padding: 30px 0px;
}
.content-style1, .content-style2 {
    background: #eaf3ff;
    border-radius: 5px;
    padding: 15px;
    border: solid 1px #c8c5cc;
}
.content-style1, .content-style2 {
    background: #eaf3ff;
    border-radius: 5px;
    padding: 15px;
    border: solid 1px #c8c5cc;
}

.line-5 {
    background: #0063eb;
    height: 5px;
}
.anything-section {
    background: #ffffff;
    padding: 30px 0px;
}
.endstory {
    background: #eaf3ff;
    padding: 30px 0px;
}
.still-think-shape {
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgba(245, 93, 135, 0.50);
    background: #050623;
    backdrop-filter: blur(10px);
    padding: 20px 20px;
   
    min-height: 130px;
}
.still-think-shape1 {
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgba(245, 93, 135, 0.50);
    background: #050623;
    backdrop-filter: blur(10px);
    padding: 20px 30px;
    
   
    min-height: 130px;
}
.still-think-section {
    background: #4e0f60;
    padding: 30px 0px;
}
.main-heading-bottom{
    background-color: red;
    border-radius: 20px 0px 20px 0;
    padding: 0% 5%;
    display: inline-block;
}
.you-can-section{
    background: #F5F3F7;
    padding: 30px 0;
}
.you-can-shape{
    background: linear-gradient(180deg, #28005A 0%, #69003C 100%);
    padding: 20px 10px;
    border-radius: 10px;
}
@media (min-width: 768px){
    .stats-section {
        padding: 100px 0px 100px 0px;
        background: #f5f3f7;
        background-size: cover;
    }
    .content-style1 {
        background:  url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/content-style1.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 50px 30px 50px;
        border: none;
    }
    .content-style2 {
        background:  url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/content-style2.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 30px 30px 70px;
        border: none;
    }
    .anything-section {
        padding: 100px 0px;
    }
    .endstory {
        background: #ffffff url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/endstory.png) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px 120px;
    }
    .still-think-section {
        padding: 100px 0px 100px 0px;
        background:  url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/still-there-section.webp) no-repeat top center;
        background-size: cover;
       
        background-attachment: fixed;
    }
    .still-section-image {
        position: absolute;
        top: -115px;
        left: -35px;
    }
    .still-section-image1 {
        position: absolute;
        top: -110px;
        right: -75px;
    }
    .mt-md150 {
        margin-top: 150px !important;
    }
    .mt-md200 {
        margin-top: 200px !important;
    }
    .you-can-section {
        padding: 100px 0px 100px 0px;
        background:  url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/you-can-section.webp) no-repeat top center;
        background-size: cover;
    }
    .you-can-shape{
        padding: 46px 120px 37px 23px;
        background:  url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/you-can-shape.webp) no-repeat top center;
        background-size: 100% 100%;
        position: relative;
    }
    .you-can-shape:before{
        background:  url(https://cdn.dotcompaltest.com/uploads/launches/learnX/special/think-emoji.webp) no-repeat;
        position: absolute;
        top:-15px;
        right:-20px;
        width: 134px;
        height:180px;
        content: '';
    }
    .still-think-shape {
        border-radius: 100px 0px 0px 100px;
        border: 1px solid rgba(245, 93, 135, 0.50);
        background: #050623;
        backdrop-filter: blur(10px);
        padding: 20px 20px;
        margin-left: 60px;
        min-height: 130px;
    }
    .still-think-shape1 {
        border-radius: 10px 0px 0px 10px;
        border: 1px solid rgba(245, 93, 135, 0.50);
        background: #050623;
        backdrop-filter: blur(10px);
        padding: 20px 30px;
        margin-right: 60px;
        margin-left: 60px;
        min-height: 130px;
    }
}
