html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
}

.yellow-clr {
    color: #ffa944;
}

.black-clr {
    color: #000000;
}

.black-clr1 {
    color: #010101;
}
.blue-color{
    color: #50e7ff;
}
.orange-clr {
    color: #f57c25;
}
/* Header Section CSS */

.header-section {
    background: #ffffff url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}

.fifth-section {
    background: #ffffff url("../images/proudlybg.webp") no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}

.limitless-section {
    background: #ffffff;
    padding: 2% 0 3%;
}

.feature-tick li {
    background: url(../images/tick-icon.webp) no-repeat;
    padding: 20px 0px 0px 42px;
    background-position: 1px 27px;
    list-style: none;
}

.content-mbl-space {
    background: #ffffff;
    padding: 30px 0px;
}

.unfair-section {
    background: #edebf0;
    padding: 30px 0px 30px 0px;
}

.pre-heading {
    color: #ffffff;
    width: 100%;
    max-width: 1000px;
    background-color: #832dcc;
    text-align: center;
    border-radius: 15px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 30px;
}
.post-heading{
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    background-image: url(../images/top-heading3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0px 0px 30px;
}

.but-design {
    background: url(../images/butthats-not-all.webp);
    padding: 20px 40px;
    display: inline-block;
    border-top: hidden;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

span.under {
    border-bottom: 4px solid;
}

.skew-con {
    transform: skew(5deg);
}

@media(min-width:768px) {
    .but-design {
        padding: 40px 50px 36px 51px;
        background: url(../images/butthats-not-all.webp);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% 100%;
        border: hidden;
    }
    .unfair-section {
        padding: 100px 0px 100px 0px;
    }
    .header-section {
        padding: 40px 0px 150px 0px;
    }
    .fifth-section {
        padding: 80px 0px 150px 0px;
    }
   
}

.logo-height {
    max-height: 45px;
}

.white-clr {
    color: #ffffff;
}

.white-blue {
    color: #70abff;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}

.affiliate-link-btn a {
    border-radius: 45px;
    background-color: #f8e71c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    padding: 9px 33px;
    font-size: 16px;
    color: #050b23;
    font-weight: 800;
}

.affiliate-link-btn a:hover {
    background: #decf18;
}

.popup-btn a:hover,
.popup-btn input[type="submit"]:hover,
.af-btn a:hover {
    background: #4f5db5;
}

.highlihgt-heading {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgba(19, 22, 38, 0.2);
}

.second-section {
    padding: 30px 0px;
    background: #e1e7f3;
}

.date-section-bg {
    background: url(../images/date-bg-image.webp) no-repeat center center;
    background-size: contain;
}

.xstext-center {
    text-align: center;
}

.formbg {
    padding: 20px;
}

@media(min-width:768px) {
    .second-section {
        padding: 100px 0px 100px 0px;
        background-position: bottom center;
        background-size: cover;
    }
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
    /* .line-center { */
    /* transform: skew(20deg); */
    /* } */
}

.formbg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.form-control.input-field {
    border-width: 1px;
    border-color: rgb(164, 164, 164);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 12px;
}

::-webkit-input-placeholder {
    color: #797979 !important;
}

::-moz-placeholder {
    color: #797979 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

:-moz-placeholder {
    color: #797979 !important;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 5px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 13px 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 0;
    outline: none;
}

.xscenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pre-box {
    border-radius: 10px;
    padding: 5%;
}

.af-box {
    padding: 8% 3%;
}

.pl-shape,
.l-shape,
.af-shape,
.af-dots {
    display: none;
}

@media(min-width:768px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .form-control.input-field {
        height: 58px;
    }
    .pre-box {
        border-radius: 50px;
        padding: 3% 0;
    }
    .af-box {
        padding: 5%;
    }
    .pfbox {
        height: 185px;
    }
    .pl-shape,
    .l-shape,
    .af-shape,
    .af-dots {
        display: block;
        position: relative;
        z-index: 1;
    }
    .pl-shape img {
        position: absolute;
        top: -18px;
        right: 18px;
        z-index: 1;
    }
    .l-shape img {
        position: absolute;
        bottom: -65px;
        left: 25px;
        z-index: 1;
    }
    .af-shape img {
        position: absolute;
        bottom: -44px;
        right: 35px;
        z-index: 1;
        height: 160px;
    }
    .af-dots img {
        position: absolute;
        top: -10px;
        left: 60px;
        z-index: 1;
    }
}

.form-shape {
    position: relative;
    z-index: 1;
}

.form-shape img {
    position: absolute;
    top: -40px;
    left: -41px;
    z-index: -1;
}

.relative {
    position: relative;
}

.third-section {
    padding: 30px 0;
    background: #ffffff;
}

.prdly-pres {
    background: url(../images/prdly-pres.webp) no-repeat top center;
    background-size: 100% 100%;
    padding: 15px 50px 30px 50px;
    display: inline-block;
}

@media (min-width: 768px) {
    .third-section {
        padding: 100px 0;
    }
    .prdly-pres {
        background: url(../images/prdly-pres.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 41px 100px 76px 100px;
    }
}

.kapblue {
    color: #0063eb;
}

.blue-clr {
    color: #0063eb;
}

.pre-box {
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.h-line {
    background-color: rgb(206, 212, 216);
    height: 2px;
    width: 100%;
}

.pl-tick li {
    background: url("../images/pl-tick.webp") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.l-tick li {
    background: url("../images/l-tick.webp") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.xs-max-height165 {
    max-height: 165px;
}

@media(max-width:767px) {
    .limitless-section {
        background: #ffffff;
        padding: 2% 0;
    }
    .content-mbl-space {
        background: #ffffff;
        padding: 30px 0px;
    }
    .plxs0 {
        padding-left: 0;
    }
}

@media(min-width:767px) {
    .xs-max-height165 {
        max-height: 100%;
    }
}

.fourth-section {
    background: #fff;
    padding: 0;
}

.af-box {
    border-radius: 25px;
    background-color: rgb(239, 243, 246);
}

.pfbox {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
    padding: 30px 20px;
}

.af-btn a {
    border-radius: 30px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 10px 10px;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.leader-ul li a,
.leader-ul li a:hover,
.leader-ul li a:focus {
    text-decoration: none;
}

.sixth-section {
    background: #eff3f6 url("../images/wave-dots.webp") no-repeat center center;
    background-size: cover;
    padding: 3% 0 5%;
}

.seventh-section1 {
    background: #eff3f6;
    padding: 3% 0 5%;
}

a.alink,
a.alink:hover,
a.alink:focus {
    text-decoration: none;
    color: #5c6ac4;
}

.seventh-section {
    background: url("../images/dot-shape.webp") no-repeat center center;
    padding: 5% 0;
}

.lightcolor {
    color: #deff00;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.feature-section {
    background: #fff url(../images/feature-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section {
    background: #eff3f6 url(../images/software-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section img {
    max-height: 141px;
}

.leaderboard-section {
    background: #eff3f6 url(../images/leaderboard-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.contact-section {
    background: #fff url(../images/contact-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.prize-section {
    background: #22103b;
    background-size: cover;
    padding: 4% 0;
}

.funnel-section {
    background: #eff3f6 url(../images/funnel-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.theme-clr {
    color: #224cb0;
}

.clear {
    clear: both;
}

.white-section {
    background: #fff;
    padding: 30px 0;
}



.feature-18 {
    padding: 30px 0;
    background: #200664;
}

.vendor-section {
    background: #fff url(../images/dots.webp) no-repeat right center;
    padding: 4% 0;
}

.name-box {
    background: #5c6ac4;
    padding: 0px 30px;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.green-clr {
    color: #00ff84;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}

.bottom-icon img {
    position: fixed;
    bottom: 0;
    right: 8px;
    z-index: 999
}

.vidborder {
    border: 2px solid #9a9a9a;
}

a.link-text {
    color: #000;
    text-decoration: none;
}

.probtn a {
    border-radius: 10px;
    background: #0041b5;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn a:hover {
    background: #0d55d5;
    text-decoration: none;
}

.probtn1 a {
    border-radius: 10px;
    background-color: #f3426c;
    box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.45);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn1 a:hover {
    background: #f15b7f;
    color: #ffffff;
}


/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    border: 1px solid #2f0088;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    border: 1px solid #e7e7e7;
    width: 100%;
    float: left;
    background: #272f63;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px 15px 10px;
}

ul.grey-tick-last li {
    background: url(../images/grey-tick-last.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 28px;
    line-height: 150%;
    border-bottom: 1px solid #090e2d;
    color: #ffffff;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

ul.vgreentick li {
    background: #ffffff url(../images/vgreentick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 25px;
    line-height: 150%;
    color: #000;
}

.tbbg2-text {
    color: #fff;
}
.logo img{
    max-height: 55px;
}
.tbbg2 {
    background: linear-gradient(180deg, #0b0422 0%, #260e72 100%);
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tbbg3 {
    background: url(../images/plan2.webp) no-repeat center top;
    padding: 30px 15px 57px;
    background-size: 100% 100%;
}

.bought-text {
    background: #ffeb09;
    padding: 8px 10px;
}

.lightcolor {
    color: #eaab26;
}

@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
    ul.grey-tick-last li {
        padding: 20px 10px 20px 40px;
    }
    .mt-sm-170 {
        margin-top: 170px
    }
    .mt-sm-90 {
        margin-top: 90px
    }
    .probtn a {
        font-size: 38px;
        padding: 28px 30px;
        display: inline-block;
        width:auto;
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 30px;
        display: inline-block;
        width:auto;
    }
}

.buypad {
    padding: 4% 3%;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}

.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.ribbonimg {
    position: absolute;
    top: 100px;
    right: 0px;
    height: 50px;
}

.xs-height125 {
    height: 125px;
}

.xs-height50 {
    height: 55px;
}

.ribbonimg {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 90px;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #0041b5;
}

.option-tick li {
    background: url(../images/vgreytick.webp) no-repeat;
    background-position: 0 6px;
    list-style: none;
    padding: 0 0 20px 30px;
}

@media(min-width:768px) {
    .highlihgt-heading {
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
    }
    .rotate-5 {
        transform: skew(7deg);
    }
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    }
}


/*Table CSS Enad*/

.grey-section {
    background: #e1e7f3 ;
    padding: 30px 0;
}

.moneyback-section {
    padding: 30px 0px;
    background: #101929;
}

.license-section {
    background: #fae4c9 url(../images/proudlybg.webp) no-repeat center center;
    background-size: cover;
    padding: 5% 0;
}

.bonus-section {
    background: #e1e7f3 ;
    background-size: cover;
    padding: 30px 0;
}

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

@media (min-width:768px) {
    .table-section {
        padding: 70px 0 100px 0px;
        background: url(../images/table-bg.webp) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .bonus-section {
        background: url(../images/bonus-bg.webp) no-repeat;
        background-size: cover;
        background-position: center bottom;
        padding: 70px 0px 100px 0px;
    }
    .moneyback-section {
        padding: 100px 0 100px 0px;
        background: #f3f2fb url(../images/moneyback-bg.webp) no-repeat bottom center;
        background-size: cover;
    }
    .license-section {
        background: #fae4c9 url(../images/proudlybg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
    .mt-sm240 {
        margin-top: 240px;
    }
    .mt-sm0 {
        margin-top: 0px !important;
    }
}

.bonus-count {
    background: #5c6ac4;
    display: inline-block;
    padding: 10px 29px;
    border-radius: 15px;
}

.grey-clr {
    color: #d6d6d6;
}

.promo-icon {
    position: absolute;
    left: 15px;
    top: -20px;
    display: none;
}

.promo-icon1 {
    position: absolute;
    left: 15px;
    top: -20px;
    display: block;
}

.gap20 {
    gap: 20px;
}


/*-------- Responsive ------------*/

@media (min-width:768px) {
    .promo-icon1 {
        position: absolute;
        left: 0px;
        top: -20px;
        display: block;
    }
    .promo-icon {
        position: absolute;
        left: 0px;
        top: -60px;
        display: block;
    }
    .white-section {
        padding: 100px 0;
    }

    .feature-18 {
        padding: 100px 0 130px;
        background: #ffffff url(../images/feature18-bg.webp) no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
    .third-section {
        padding: 100px 0;
    }
    .grey-section {
        padding: 100px 0;
    }
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

.black-design {
    background: #ff6a3d;
    padding: 15px 30px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block
}

.black-design .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}

@media (min-width: 768px) {
    .black-design {
        padding: 15px 60px;
    }
}

.red-clr,
a.red-clr {
    color: #ff3c00;
}


.blue-head {
    color: #0041b5;
}

.orange-clr {
    color: #f57c25;
}

ul.template-lists {
    padding: 0px 0px;
}

ul.template-lists li {
    background: url(../images/launch-tick-blue.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 10px 15px 40px;
    background-position: 0px 18px;
    line-height: 150%;
    color: #000;
}


@media (min-width: 768px) {
    .pad1 {
        padding-left: 0;
        padding-right: 10px;
    }
    .pad2 {
        padding-left: 5px;
        padding-right: 5px;
    }
}



.amazing-section {
    padding: 30px 0;
    background: #033183 url(../images/reason-sec-bg.webp) no-repeat bottom center;
    background-size: cover;
}
@media (min-width: 768px){
.amazing-section {    
    padding: 80px 0px;
}
}



.second-section1 {
    padding: 30px 0px;
    background: #ffffff;
}
@media (min-width: 768px){
.second-section1 {
    padding: 100px 0px;
    background: #ffffff;
}
}
.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}
.modal-open {
    overflow: hidden;
  }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
  }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
  }
  @media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
      transition: none;
    }
  }
  .modal.show .modal-dialog {
    transform: none;
  }
  .modal.modal-static .modal-dialog {
    transform: scale(1.02);
  }
  
  .modal-dialog-scrollable {
    display: flex;
    max-height: calc(100% - 1rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden;
  }
  .modal-dialog-scrollable .modal-header,
  .modal-dialog-scrollable .modal-footer {
    flex-shrink: 0;
  }
  .modal-dialog-scrollable .modal-body {
    overflow-y: auto;
  }
  
  .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
  }
  .modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    content: "";
  }
  .modal-dialog-centered.modal-dialog-scrollable {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none;
  }
  .modal-dialog-centered.modal-dialog-scrollable::before {
    content: none;
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, 0.2);
    border-radius: 0.75rem;
    outline: 0;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }
  .modal-backdrop.fade {
    opacity: 0;
  }
  .modal-backdrop.show {
    opacity: 0.5;
  }
  
  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 0 solid #dee2e6;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
  .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 4rem 1rem;
  }
  
  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 4rem 1rem-0.25rem;
    border-top: 0 solid #dee2e6;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }
  .modal-footer > * {
    margin: 0.25rem;
  }
  
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
    }
  
    .modal-dialog-scrollable {
      max-height: calc(100% - 3.5rem);
    }
    .modal-dialog-scrollable .modal-content {
      max-height: calc(100vh - 3.5rem);
    }
  
    .modal-dialog-centered {
      min-height: calc(100% - 3.5rem);
    }
    .modal-dialog-centered::before {
      height: calc(100vh - 3.5rem);
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
    }
  
    .modal-sm {
      max-width: 300px;
    }
  }
  @media (min-width: 992px) {
    .modal-lg,
  .modal-xl {
      max-width: 800px;
    }
  }
  @media (min-width: 1200px) {
    .modal-xl {
      max-width: 1140px;
    }
  }
  .tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    opacity: 0;
  }
  .tooltip.show {
    opacity: 0.9;
  }
  .tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
  }
  .tooltip .arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
  }
  
  .bs-tooltip-top, .bs-tooltip-auto[x-placement^=top] {
    padding: 0.4rem 0;
  }
  .bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^=top] .arrow {
    bottom: 0;
  }
  .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^=top] .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #000;
  }
  
  .bs-tooltip-right, .bs-tooltip-auto[x-placement^=right] {
    padding: 0 0.4rem;
  }
  .bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^=right] .arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem;
  }
  .bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^=right] .arrow::before {
    right: 0;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #000;
  }
  
  .bs-tooltip-bottom, .bs-tooltip-auto[x-placement^=bottom] {
    padding: 0.4rem 0;
  }
  .bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^=bottom] .arrow {
    top: 0;
  }
  .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^=bottom] .arrow::before {
    bottom: 0;
    border-width: 0 0.4rem 0.4rem;
    border-bottom-color: #000;
  }
  
  .bs-tooltip-left, .bs-tooltip-auto[x-placement^=left] {
    padding: 0 0.4rem;
  }
  .bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^=left] .arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem;
  }
  .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^=left] .arrow::before {
    left: 0;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: #000;
  }
  
  .tooltip-inner {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 0.5rem;
  }
  
  .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: block;
    max-width: 276px;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.125rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.75rem;
  }
  .popover .arrow {
    position: absolute;
    display: block;
    width: 1rem;
    height: 0.5rem;
    margin: 0 0.75rem;
  }
  .popover .arrow::before, .popover .arrow::after {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
  }
  
  .bs-popover-top, .bs-popover-auto[x-placement^=top] {
    margin-bottom: 0.5rem;
  }
  .bs-popover-top > .arrow, .bs-popover-auto[x-placement^=top] > .arrow {
    bottom: -0.625rem;
  }
  .bs-popover-top > .arrow::before, .bs-popover-auto[x-placement^=top] > .arrow::before {
    bottom: 0;
    border-width: 0.5rem 0.5rem 0;
    border-top-color: rgba(0, 0, 0, 0.25);
  }
  .bs-popover-top > .arrow::after, .bs-popover-auto[x-placement^=top] > .arrow::after {
    bottom: 0.125rem;
    border-width: 0.5rem 0.5rem 0;
    border-top-color: #fff;
  }
  
  .bs-popover-right, .bs-popover-auto[x-placement^=right] {
    margin-left: 0.5rem;
  }
  .bs-popover-right > .arrow, .bs-popover-auto[x-placement^=right] > .arrow {
    left: -0.625rem;
    width: 0.5rem;
    height: 1rem;
    margin: 0.75rem 0;
  }
  .bs-popover-right > .arrow::before, .bs-popover-auto[x-placement^=right] > .arrow::before {
    left: 0;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-right-color: rgba(0, 0, 0, 0.25);
  }
  .bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^=right] > .arrow::after {
    left: 0.125rem;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-right-color: #fff;
  }
  
  .bs-popover-bottom, .bs-popover-auto[x-placement^=bottom] {
    margin-top: 0.5rem;
  }
  .bs-popover-bottom > .arrow, .bs-popover-auto[x-placement^=bottom] > .arrow {
    top: -0.625rem;
  }
  .bs-popover-bottom > .arrow::before, .bs-popover-auto[x-placement^=bottom] > .arrow::before {
    top: 0;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-bottom-color: rgba(0, 0, 0, 0.25);
  }
  .bs-popover-bottom > .arrow::after, .bs-popover-auto[x-placement^=bottom] > .arrow::after {
    top: 0.125rem;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-bottom-color: #fff;
  }
  .bs-popover-bottom .popover-header::before, .bs-popover-auto[x-placement^=bottom] .popover-header::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 1rem;
    margin-left: -0.5rem;
    content: "";
    border-bottom: 0.125rem solid #f7f7f7;
  }
  
  .bs-popover-left, .bs-popover-auto[x-placement^=left] {
    margin-right: 0.5rem;
  }
  .bs-popover-left > .arrow, .bs-popover-auto[x-placement^=left] > .arrow {
    right: -0.625rem;
    width: 0.5rem;
    height: 1rem;
    margin: 0.75rem 0;
  }
  .bs-popover-left > .arrow::before, .bs-popover-auto[x-placement^=left] > .arrow::before {
    right: 0;
    border-width: 0.5rem 0 0.5rem 0.5rem;
    border-left-color: rgba(0, 0, 0, 0.25);
  }
  .bs-popover-left > .arrow::after, .bs-popover-auto[x-placement^=left] > .arrow::after {
    right: 0.125rem;
    border-width: 0.5rem 0 0.5rem 0.5rem;
    border-left-color: #fff;
  }
  
  .popover-header {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-bottom: 0.125rem solid #ebebeb;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
  }
  .popover-header:empty {
    display: none;
  }
  