html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
}


/* Color CSS */

.white-clr {
	color: #fff;
}

.black-clr {
	color: #000;
}

.red-clr {
	color: #ff0000;
}
.red-clr1 {
	color: #ff4040;
}


.blue-clr {
	color: #0a3584;
}
.green-clr {
	color: #0c710c;
}


.kapblue,
a.kapblue {
	color: #0a3584;
}
.orange-clr {
	color: #f57c25;
}
.cyan-clr {
	color: #50e7ff;
}
.yellow-clr {
	color: #fffa64;
}
.highlihgt-heading {
	position: relative;
	background: #000000;
	padding: 10px 0px;
	border-radius: 75px;
	display: inline-block;
	color: #f68a1e;
}

/****common CSS *****/

.text-nowrap {
	white-space: nowrap;
}

.list-head {
	list-style: none;
}

.gap20 {
	gap: 20px;
}

ul {
	margin: 0;
}


/******* CTA Button **********/

a.cta-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 0px;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	line-height: normal;
	white-space: normal;
	align-items: center;
	background: #f57c25;
	border-radius: 15px;

}

a.cta-link-btn:hover {
	background: #fb7b55;
    color: #ffffff;
}

@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 32px;
		padding: 24px 50px 24px 50px;
		display: inline-block;
	}
}


/* Header CSS */

.header-section {
	background: #ffffff url(https://cdn.oppyo.com/launches/mailzilo/advanced/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 130px 0px;
}

.header-section ul.leader-ul li a,
.main-header-section ul.leader-ul li a {
	text-decoration: none;
	color: #ffffff;
}
.header-section ul.leader-ul li a:hover{
	border-bottom: solid 2px #f57c25;
}

.header-section ul.leader-ul li,
.main-header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 15px;
}

.header-section ul.leader-ul,
.main-header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.affiliate-link-btn a {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
	line-height: 100%;
	color: #ffffff;
	font-weight: 600;
	border-radius: 5px;
	background-color: rgb(245, 124, 37);  
}

.affiliate-link-btn a:hover {
	background: #fb7b55;
    color: #ffffff;
}

.pre-heading {
	padding:10px 15px;
	margin: 0px auto;
	display: inline-block;
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/pre-headline.webp) no-repeat center center;
	background-size: 100% 100%;
}
.post-heading {
	padding:10px;
	margin: 0px auto;
	border-width: 1px;
	border-color: rgb(89, 128, 198);
	border-style: dashed;
	border-radius: 29px;
	display: inline-block;
}

.key-features-bg {
	padding: 20px;
	position: relative;
	width: 100%;
	text-align: center;
	border-radius: 20px;
	background-color:#071d52;  
}

.list-head li {
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/pointer.webp) no-repeat;
	padding:10px 0px 10px 35px;
	background-position: 0px 19px;
	text-align: left;
}
.list-head li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
	border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.highlight-heading{
	border-bottom: 4px solid;
	color: #fffa64;
}
.list-highlight{
	color: #fffa64;
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/highlight-line.webp) no-repeat bottom center;
    background-size: contain;
    padding-bottom:5px;
	font-weight:500;
}
@media (min-width: 768px) {
	.header-section {
		padding: 50px 0px 150px 0px;
	}

	.affiliate-link-btn a {
		padding: 15px 30px;
		font-size: 22px;
	}

	.highlihgt-heading {
		position: relative;
		padding: 8px 60px;
	}

	.pre-heading {
		padding: 15px 20px;		
	}
	.post-heading {
		padding:15px 30px;
	}
	.key-features-bg {
		padding: 40px 30px 70px 30px;
		text-align: center;
		border-radius: 0;
		background:transparent url(https://cdn.oppyo.com/launches/mailzilo/advanced/key-feature-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 60%;
		flex: 0 0 60%;
		max-width: 60%;
	}
	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 40%;
		flex: 0 0 40%;
		max-width: 40%;
	}
}
/*******List Section ************/
.list-section {
	padding: 0px 0px 30px 0px;
	background: #ffffff;
}

.header-list-block {
	border-radius: 20px;
	padding: 20px 0px;
	background-color: #ffffff;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	margin-top: -90px;
}

.header-bordered-list li {
	list-style: none;
}

.header-bordered-list li {
	padding: 12px 20px 12px 50px;
	position: relative;
}

.header-bordered-list li::before {
	content: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-tick.webp);
	position: absolute;
	left: 0px;
	top: 15px;
}

@media (min-width: 768px) {
	.list-section {
		padding: 0px 0px 100px 0px;
	}

	.header-list-block {
		border-radius: 20px;
		padding: 40px 20px;
		margin-top: -90px;
	}
}


/*******Second Section ************/

.second-header-section {
	background: #f2ecff;
	padding: 30px 0px;
}

.any-shape {
	background-color: rgb(0, 25, 101);
	padding: 15px;
	display: inline-block;
	border-radius: 100px;
	margin: 0 auto;
	justify-content: center;
}

.step-shape {
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	position: relative;
	padding: 10px;
	height: 100%;
}

.step-border {
	border-radius: 10px;
	border-width: 2px;
	border-color: rgb(104, 42, 241);
	border-style: solid;
	padding: 30px 20px;
	height: 100%;
}

.step-shape1 {
	/* background-color: rgb(255, 125, 29); */
	background-image: url(https://cdn.oppyo.com/launches/mailzilo/advanced/step-bg.webp);
	background-repeat: no-repeat;
	max-width: 203px;
	/* border-radius: 50px; */
	margin: 0 auto;
	margin-top: -52px;
	padding: 7px 20px;
	background-size: 100% 100%;
}

@media (min-width: 768px) {
	.second-header-section {
		padding: 100px 0px;
	}

	.any-shape {
		padding: 15px 50px;
	}
}


/************This open Section ********/

.this-open-section {
	padding: 30px 0;
	background: #f5f8ff;
}

@media (min-width: 768px) {
	.this-open-section {
		padding: 100px 0;
	}
}


/************Hi-There Section ********/

.hithere-section {
	background: #ff7823;
	padding: 30px 0px;
	
}
.hithere-section1 {
	background: #ffffff;
	padding:30px 0px;
	
}


.revo-list1 li {
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-tick1.webp) no-repeat;
	padding: 0 0 15px 40px;
	list-style: none;
	background-position: 0px 5px;
}

@media (min-width: 768px) {
	.hithere-section {
		padding:30px 0px 120px 0px;
		background:url(https://cdn.oppyo.com/launches/mailzilo/advanced/hi-there.webp) center bottom / cover;
		
	}
	.hithere-section1 {
		padding: 30px 0px 100px 0px;
		
	}
}

/************Research Section ********/
.research-section {
	background: #ffffff;
	padding: 30px 0px;
}
.reason-box {
	display: inline-block;
	padding:15px;
	border-width: 1px;
	border-color: rgb(10, 53, 132);
	border-style: solid;
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 29px 0px rgba(4, 4, 17, 0.2);
}
@media (min-width: 768px) {
	.research-section {
		padding: 100px 0px 200px 0px;
		background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/research-section-bg.webp) no-repeat center center / cover;
	}
	.reason-box {
		padding: 20px 50px;
		border-radius: 50px;

	}
	.girl-img{
		position: absolute;
		right: -155px;
		top: -40px;
	}
}

/************Research Section ********/

.stats-section {
	background: #0c1320;
	padding: 30px 15px;
}
.stats-headline{
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/stats-line.webp) no-repeat center center;
	padding: 30px 15px 10px 15px;
	background-size:100% 100%;
	display: inline-block;
}
.stats-block {
	padding:15px 20px;
	height: 100%;
	border-radius: 20px;
	background-color: rgb(21, 36, 63);
	display: flex;
	align-items: center;
	gap: 30px;
}
.stats-block div img{
	width: 46px;
	min-width: 46px;
}
.stats-section .gap30 {
    --bs-gutter-y: 30px;
    --bs-gutter-x: 30px;
}
@media (min-width: 768px) {
	.stats-section {
		padding: 150px 0px 100px 0px;
		z-index: 9;
		position: relative;
		margin-top: -90px;
		background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/stats-section-bg.webp) no-repeat top center;
		background-size: cover;
	}
	.stats-headline{
		padding: 40px 50px;
	}
	.stats-block {
		padding:15px 30px;
	}
}


.power-section {
	background: #ffffff;
	padding: 30px 0px;
}
.power-block{
		border-radius: 20px;
		background-color: rgb(0, 18, 51);
		padding:20px;
		position: relative;
}
.connect-line{
	margin-top: -9px;
	z-index: 999;
	position: relative;
}
@media (min-width: 768px) {
	.power-section {
		padding: 80px 0px;
	}
	.power-block{
		border-radius: 30px;
		background-color: rgb(0, 18, 51);
		padding: 30px 30px 30px 150px;
}
.power-block.right{
	padding: 30px 150px 30px 30px;
}
.power-block .left-img{
	position: absolute;
    top: 25%;
    left: -110px;
}
.power-block.right .right-img{
	position: absolute;
    top: 25%;
    left: auto;
    right: -110px;
}
}

.eleraning-section {
	background: #f5f8ff;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.eleraning-section {
		padding: 80px 0px;
	}
}


/************Big Question Section ********/

.big-question-bg {
	background: #001233;
	padding: 30px 0px;
}
.big-headline{
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/big-line.webp) no-repeat center center;
	padding: 30px 0px 10px 0px;
	background-size:100% 100%;
	display: inline-block;
	text-align: center;
}

@media (min-width: 768px) {
	.big-question-bg {
		background: #01060f url(https://cdn.oppyo.com/launches/mailzilo/advanced/big-question-bg.webp) no-repeat center center;
		background-size: cover;
		padding:100px 0px 50px 0px;
	}
	.big-headline{
		padding: 40px 20px;
	}
}


/************Problem Section ********/

.problem-bg-section {
	background: #01060f;
	padding: 30px 0px;
}

.problem-area-shape {
	padding: 15px;
	border-radius: 100px;
	display: inline-block;
	background-image: -moz-linear-gradient( 90deg, rgb(115,14,19) 0%, rgb(255,64,64) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(115,14,19) 0%, rgb(255,64,64) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(115,14,19) 0%, rgb(255,64,64) 100%);
}
ul.problem{
	margin: 0px;
	padding: 0px;
}
.problem li {
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/sad.webp) no-repeat;
	padding:15px 0px 15px 35px;
	background-position: 0px 19px;
	text-align: left;
	list-style: none;
}
.problem li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}


@media (min-width: 768px) {
	.problem-bg-section {
		background: #01060f url(https://cdn.oppyo.com/launches/mailzilo/advanced/.webp) no-repeat center center;
		background-size: cover;
		padding:100px 0px;
	}

	.problem-area-shape {
		padding: 15px 40px;
	}
}


/*****Problem Section 1 *******/

.problem-bg-section1 {
	background: #314362;
	padding: 30px 0px;
}
.problem-bg-section2 {
	background: #01060f;
	padding: 30px 0px;
}
.problem-bg-section3 {
	background: #1c9745;
	padding: 30px 0px;
}
.problem-bg-section4 {
	background: #ffffff;
	padding: 30px 0px;
}
.shape-headline {
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/shape.webp) no-repeat center center;
    padding: 9px 0px 34px 0px;
    background-size: 100% 100%;
    display: inline-block;
    text-align: center;
}
@media (min-width: 768px) {
	.problem-bg-section1 {
		padding: 80px 0px 40px 0px;
	}
	.problem-bg-section2 {
		padding: 140px 0px 80px 0px;
		background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/problem-bg-section2.webp) no-repeat top center;
		background-size: cover;
	}
	.problem-bg-section3 {
		padding: 80px 0px;
	}
	.problem-bg-section4 {
		padding: 80px 0px;
	}
	.shape-headline {
		padding:20px 20px 51px 20px;
	}
}

.zero{
	padding: 30px 0px;
	background: #e1e7f3;
}
.zero .gap30 {
	--bs-gutter-y: 50px;
}

@media (min-width:768px) {
	.zero{
		background: #fff url(https://cdn.oppyo.com/launches/mailzilo/advanced/zero-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding:50px 0px 150px 0px;
	}
	.zero .gap30 {
		--bs-gutter-x: 150px;
	}
}


/***********Next Generation*****************/

.next-gen-sec {
	background: #e1e7f3 url(https://cdn.oppyo.com/launches/mailzilo/advanced/proudlybg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}

.proudly-list-bg {
	border-radius: 20px;
	background-color: #ffffff;
	box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
	padding: 15px;
}

.proudly-tick li {
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-check.webp) no-repeat;
	background-position: 0 4px;
	list-style: none;
	padding: 0 0 20px 45px;
}

@media (min-width: 768px) {
	.next-gen-sec {
		padding: 80px 0px 180px 0px;
	}

	.proudly-list-bg {
		padding: 30px;
	}
}


/****** Amazing Section *******/

.step-section {
	background: #ffffff;
	padding: 30px 0px;
}
.d-inline-grid{
	display: inline-grid;
	display: -ms-inline-grid;
	display: -moz-inline-grid;
}
@media (min-width: 768px) {
	.step-section {
		padding: 70px 0px;
		background: #ffffff url(https://cdn.oppyo.com/launches/mailzilo/advanced/step-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.step-arrow1 {
		position: absolute;
		left: 444px;
	}
	.step-arrow2 {
		position: absolute;
		left: -81px;
		margin-top: 38px;
	}
	
}


/****** Demo Section *******/

.demo-section-bg {
	background: #f5f8ff;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.demo-section-bg {
		background: #ffffff url(https://cdn.oppyo.com/launches/mailzilo/advanced/demo-section-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 100px 0px;
	}
}


/****** Testimonial Section *******/

.testimonial-section2,
.testimonial-section3 {
	background: #f5f8ff;
	padding: 30px 0px;
}

.testimonial-section {
	background: #ffffff;
	padding: 30px 0px;
}


.single-testimonial {
	background-color: #f5f8ff;
	text-align: left;
	border-radius: 30px;	
	position: relative;
	z-index: 2;
}
.single-testimonial p {
	color: #101012;
	font-size: 17px;
	line-height: 28px;
	padding: 50px 30px 30px 30px;
	padding-bottom: 30px;
	position: relative;
	z-index: 3;
}
.single-testimonial::before {
	content: "";
	position: absolute;
	left: -5px;
	top: -35px;
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/quote.png) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	transform: rotate(180deg);
	background-position: 34px 15px;
}
.single-testimonial::after {
	content: "";
	position: absolute;
	right: -5px;
	bottom: -34px;
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/quote.png) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	background-position: 34px 19px;
}

.client-info {
	display: inline-flex;
	gap: 15px;
	align-items: center;
	padding: 0px 30px 30px 30px;
}
.client-details{
	color: #0a3584;
	font-size: 20px;
	font-weight: 600;
}
@media (min-width: 768px) {
	.testimonial-section2 {
		background: #f5f8ff url(https://cdn.oppyo.com/launches/mailzilo/advanced/testimonial-section-bg2.webp) no-repeat center center;
		background-size: cover;
		padding: 80px 0px;
	}
	.testimonial-section3 {
		background: #f5f8ff url(https://cdn.oppyo.com/launches/mailzilo/advanced/testimonials-section-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 80px 0px;
		background-attachment: fixed;
	}

	.testimonial-section {
		background: #ffffff url(https://cdn.oppyo.com/launches/mailzilo/advanced/testimonial-section.webp) no-repeat center bottom;
		background-size: cover;
		padding: 100px 0px 100px 0px;
	}
	.single-testimonial p {
		padding: 50px 50px 30px 50px;
	}
	.client-info {
		padding: 0px 50px 50px 50px;
	}
	.single-testimonial::before {
		left: -35px;
		top: -35px;
	}
	.single-testimonial::after {
		right: -35px;
		bottom: -34px;
	}
	
	.client-info {
		padding-bottom: 30px;
	}
	.gx4 {
			--bs-gutter-x: 2.5rem;
		}
}

/* Feature Css */
.feature-highlight {
	background:#082fba;
    padding:30px 0px;
}
@media (min-width: 768px){
.feature-highlight {
	padding:30px 0px 120px 0px;
	background:url(https://cdn.oppyo.com/launches/mailzilo/advanced/feature-heading-bg.webp) center bottom / cover;
}}
.white-section {
	background: #ffffff;
	padding: 30px 0px;
}

.presenting-shape1 {
	background-image: -moz-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
	border-radius: 15px;
	padding: 8px 30px;
	display: inline-flex;
	position: relative;
	align-items: center;
}
.blue-section {
	padding: 30px 0px;
	background:#0042b6;
}
.grey-section {
	padding: 30px 0px;
	background:#f5f8ff;
}
.features-title{
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	gap: 15px;
}
.features-title .size{
	max-height:100px;
}
@media (min-width: 768px) {
	.blue-section {
		padding: 80px 0px;
		background:#fff url(https://cdn.oppyo.com/launches/mailzilo/advanced/blue-section.webp) no-repeat top center / cover;
	}
	.grey-section {
		padding: 80px 0px;
	}
	.white-section {
		padding: 80px 0px;
	}
	.presenting-shape1 {
		padding:15px 40px;
		border-radius: 100px;
	}
	.presenting-shape1:before {
		width: 70px;
		height: 5px;
		background-image: -moz-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
		position: absolute;
		content: '';
		left: -70px;
	}

	.presenting-shape1:after {
		width: 70px;
		height: 5px;
		background-image: -moz-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
		position: absolute;
		content: '';
		right: -70px;
	}
	.minus60{
		margin-top: -68px;
	}
}

/* Feature Css End */

/*** Support Section ****/

.support-section {
	background: #682af1 url(https://cdn.oppyo.com/launches/mailzilo/advanced/over-sec-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}

.boxbg {
	background: transparent;
	padding: 15px 0px;
	height: auto;
}

.boxborder-rb {
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}

.boxborder-b {
	border-bottom: 1px solid #ffffff;
}

.boxborder-r {
	border-right: 1px solid #ffffff;
}

@media (min-width: 768px) {
	.support-section {
		padding:80px 0px;		
	}

	.boxbg {
		height: 280px;
		padding: 15% 0% 20%;
	}
}

@media (max-width: 767px) {
	.boxborder {
		border: 1px solid #ffffff;
		border-top: 0px;
		padding: 20px;
	}

	.top-first,
	.first-top-border {
		border: 1px solid #ffffff;
	}

	.mx-autos {
		margin-right: auto !important;
		margin-left: auto !important;
	}
}

/* Targeted Section Start */
.targeted-section {
    background: #cdf9da;
    padding: 30px 0px;
}
@media (min-width: 768px){
	.targeted-section {
		padding: 100px 0px;
	}
}
/* Targeted Section End */

.huge-potential{padding: 30px 0px;}
@media(min-width:768px){
	.huge-potential{padding: 100px 0px;}
}

/*** Compare Table Section ***/

.comparetable-section {
	padding: 30px 0px;
	background: #ffffff;
}

@media (min-width: 768px) {
	.comparetable-section {
		padding: 70px 0px;
	}
}


/** No Comparsion Section  ***/

.nocomparsion-section {
	background: #ffffff;
	padding-bottom: 30px;
}

.no-comparison-shape {
	background: #f5f8ff;
	padding: 15px;
	border-radius: 10px;
}

@media (min-width: 768px) {
	.nocomparsion-section {
		padding: 0px 0px 100px 0px;
	}

	.no-comparison-shape {
		background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/no-comparison-shape-bg.webp) no-repeat;
		background-size: contain;
		height: 633px;
		width: 1173px;
		padding: 80px 70px 15px 400px;
	}
}


/*** CTA New Section ***/

.cta-section-new {
	background: linear-gradient(180deg, #173a7a 0%, #001233 100%);
	padding: 30px 0;
}
@media (min-width: 768px) {
	.cta-section-new {
		padding: 50px 0 60px 0px;
	}
}

.imagine-sec {
    background: #f5f8ff;
    padding: 30px 0px 0px 0px;
}
@media (min-width: 768px){
.imagine-sec {
    padding: 80px 0px 0px 0px;
}
}

.need-marketing {
    background: #ffffff;
    padding: 30px 0px;
}
.noneed-listing li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-tick.webp) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
    min-height: 42px;
}
.noneed-listing li:last-child {
    padding-bottom: 0px;
}
.look-shape {
    border-radius: 20px;
    padding: 20px 15px;
    color: #ffffff;
    width: 100%;
    float: left;
    background-color: #682af1;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
}
@media (min-width: 768px){
.need-marketing {
    padding: 80px 0px;
}}


/*** Silver Platter Section ****/

.silver-platter-section {
	padding: 30px 0px;
}

.huge-opportunity-shape {
	background: #eaebeb;
	border: 2px solid #dfdfdf;
	border-radius: 15px;
	padding: 15px 12px;
}

.alone-bg {
	background-color: #f5f8ff;
	box-shadow: 5.592px 8.29px 12px 0px rgb(33 2 96 / 10%);
	border-radius: 10px;
	padding: 10px;
	position: relative;
}

.red-shape {
	background: #9c2341;
	padding: 5px 30px;
	border-radius: 50px;
	display: inline-block;
}

.wearenot-alone-section {
	background: #ffffff;
	padding: 0px 0px 30px 0px;
}

@media (min-width: 768px) {
	.silver-platter-section {
		padding: 80px 0px;
	}

	.huge-opportunity-shape {
		background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/huge-opportunity-shape.webp) no-repeat center center;
		background-size: 100% 100%;
		border: 0px;
		border-radius: 0px;
		padding: 45px 40px 50px;
	}

	.alone-bg {
		padding: 25px 30px 25px 10px;
	}

	.dollars-sm-image {
		width: 211px;
		min-width: 211px;
		height: 163px;
		margin-left: -120px;
		top: 0px;
		left: 0px;
	}

	.alone-bg:after {
		content: "";
		position: absolute;
		width: 87px;
		height: 49px;
		background-image: url(https://cdn.oppyo.com/launches/mailzilo/advanced/arrow-down.webp);
		left: 44%;
		bottom: -49px;
	}

	.red-shape {
		padding: 10px 40px;
		border-radius: 50px;
	}

	.wearenot-alone-section {
		background: #ffffff url(https://cdn.oppyo.com/launches/mailzilo/advanced/wearenotalone-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 0px 0px 100px 0px;
	}
}


/*** Max-Funnel Section ***/

.potential-sec {
	padding: 30px 0px;
	background: #682af1;
}

.niche-bg {
	border-radius: 40px;
	background: #fd8b25;
	padding: 2px 30px;
	display: inline-block;
}

@media (min-width: 768px) {
	.potential-sec {
		background:#ffffff url(https://cdn.oppyo.com/launches/mailzilo/advanced/potential-bg.webp);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 70px 0px 150px;
	}

	.niche-bg {
		padding: 2px 50px;
	}
}


/**** Bonus Section ****/

.bonus-section {
	background: #f5f8ff;
	padding: 30px 0px;
}

.bonus-section-shape {
	position: relative;
	border-color: rgb(213, 206, 228);
	border-style: dashed;
	border-radius: 10px;
	border-width: 1px;
	padding: 15px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 15%);
	height: 100%;
}

@media (min-width: 768px) {
	.bonus-section {
		background:#f5f8ff url(https://cdn.oppyo.com/launches/mailzilo/advanced/bonus-bg.webp) center center;
		background-size: cover;
		padding: 100px 0px;
	}
}


/**** Amazing Tool Section ****/

.amazing-tool-bg {
	padding: 30px 0px;
	background: #ffffff;
}

@media (min-width: 768px) {
	.amazing-tool-bg {
		padding: 60px 0px 100px 0px;
		background: #ffffff url(https://cdn.oppyo.com/launches/mailzilo/advanced/amazing-tool-bg.webp) no-repeat center center;
		background-size: cover;
	}
}


/**** Licance Section ***/

.license-section {
	background: #ffffff;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.license-section {
		padding: 100px 0px;
	}
}


.noneed-section {
    padding: 30px 0px;
}
.noneed-shape {
    padding: 15px;
    position: relative;
    background: #f5f8ff;
    border-radius: 10px;
}
.noneed-list2 li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/launch-cross.webp) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}
.noneed-list2 li.happy {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/happy-emoji.png) no-repeat !important;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}
@media (min-width: 768px){
.noneed-section {
    padding: 100px 0px 0px 0px;
}
.noneed-shape {
    padding: 30px;
}
}

/**** RiskFree Section ***/

.riskfree-section {
	padding: 30px 0px;
    background: #101929;
}

@media (min-width: 768px) {
	.riskfree-section {
		padding: 80px 0px 150px 0px;
		background: #fff url(https://cdn.oppyo.com/launches/mailzilo/advanced/money-back-bg.webp) no-repeat bottom center;
		background-size: cover;
	}
}


/**** Table Section ***/

.table-section {
	padding:30px 0px;
}

.table-wrap {
	background: #ffffff;
	width: 100%;
	float: left;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.table-head {
	background: #ffffff;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}

.table-wrap1 {
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}

.table-btn {
	padding: 30px 20px;
	text-align: center;
}

.table-head1 {
	padding: 40px 30px 30px 30px;
	text-align: center;
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/table-screen.webp) center center no-repeat;
	background-size: cover;
	min-height: 250px;
}

.table-list li {
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-check.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
}

.table-list li:nth-child(odd) {
	background: #f5f8ff url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-check.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list li:nth-child(even) {
	background: #ffffff url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-check.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list1 li:nth-child(odd) {
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-check.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list1 li:nth-child(even) {
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-check.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list1 li {
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/green-check.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
	list-style: none;
	margin: 0px;
}

/* .table-wrap1:before {
	content: '';
	position: absolute;
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/most-popular.webp) no-repeat left top;
	min-height: 165px;
	min-width: 153px;
	left: 10px;
	top: -10px;
} */

.table-list li.cross-sign {
	background-image: url(https://cdn.oppyo.com/launches/mailzilo/advanced/launch-cross.webp) !important;
	background-position: 15px 21px !important;
}

.table-list li.headline {
	background: -moz-linear-gradient(45deg, rgb(104 42 241) 0%, rgb(87 45 180) 100%);
	background: -webkit-linear-gradient(45deg, rgb(104 42 241) 0%, rgb(87 45 180) 100%);
	background: linear-gradient(45deg, rgb(104 42 241) 0%, rgb(87 45 180) 100%);
	padding: 20px 0px 20px 0px;
	background-position: 0px !important;
	list-style: none;
	margin: 0px;
	border-bottom: none !important;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}

.table-list1 li.headline {
    background: linear-gradient(180deg, #173a7a 0%, #001233 100%);
	padding: 20px 0px 20px 0px;
	background-position: 0px !important;
	list-style: none;
	margin: 0px;
	border-bottom: none !important;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}

@media (min-width: 768px) {
	.table-section {
		padding: 100px 0px;
		background: #ffffff url(https://cdn.oppyo.com/launches/mailzilo/advanced/table-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.table-head {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}

	.table-head1 {
		padding: 80px 30px 80px 30px;
		text-align: center;
		min-height: 468px;
	}

	.table-list li:nth-child(odd),
	.table-list li.cross-sign {
		background-position: 30px 12px;
	}

	.table-list li {
		padding: 20px 15px 20px 65px;
		background-position: 30px 12px;
	}

	.table-list li:nth-child(even) {
		background-position: 30px 12px;
	}

	.table-list1 li:nth-child(odd) {
		background-position: 30px 12px;
	}

	.table-list1 li:nth-child(even) {
		background-position: 30px 12px;
	}

	.table-list1 li {
		padding: 10px 15px 10px 75px;
	}
}


/**** Awesome Section ***/

.awesome-section {
	background: #f5f8ff;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.awesome-section {
		padding: 70px 0px;
	}
}


/**** FAQ Section ***/

.faq-section {
	padding: 30px 0px;
	background-color: #fff;
}

.faq-list {
	background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/faq-icon.webp) no-repeat top left;
	padding: 20px 15px 20px 35px;
	background-position: 0px 22px;
}

@media (min-width: 768px) {
	.faq-section {
		padding: 100px 0px;
	}
}


/**** Final Section ***/
.final-section {
	padding: 0px 0px 30px 0px;
	background:#fff;
}
.final-block {
	padding:30px 15px;
	background:url(https://cdn.oppyo.com/launches/mailzilo/advanced/final-call-bg.webp) no-repeat center center / 100% 100%;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
	border-radius: 30px;
}
.red-shape2 {
	background:url(https://cdn.oppyo.com/launches/mailzilo/advanced/final-call.webp) no-repeat center center / 100% 100%;
	padding: 5px 35px;
	border-radius: 50px;
	display: inline-block;
}
@media (min-width: 768px) {
	.final-block {
		padding:50px;		
	}
	.final-section {
		padding: 0px 0px 50px 0px;
	}
	.red-shape2 {
		padding: 10px 100px;
	}
}


/* Compare Table  Section */

section.comp-table ul {
	list-style: none;
	padding: 0;
}

section.comp-table ul li {
	border-left: 1px solid rgb(226 226 226);
	border-right: 1px solid rgb(226 226 226);
	height: 60px;
	line-height: 60px;
	align-items: flex-start;
	align-content: center;
	padding: 0px 25px;
	justify-content: center;
}

@media (min-width:768px) {
	section.comp-table ul li {
		border-left: 1px solid rgb(226 226 226);
		border-right: 1px solid rgb(226 226 226);
		height: 90px;
		line-height: 90px;
		display: flex;
		align-items: flex-start;
		align-content: center;
		padding: 0px 20px;
		justify-content: start;
	}
}

section.comp-table ul li:first-child {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 100px;
	font-weight: 600;
}

section.comp-table ul li:nth-child(odd) {
	background: #f5f8ff;
}

section.comp-table .fist-row li:first-child {
	border-top-right-radius: 0px;
	border-top: 1px solid rgb(226 226 226);
}

section.comp-table .third-row li:first-child {
	border-top-left-radius: 0px;
}

section.comp-table .fist-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

section.comp-table .second-row li:first-child {
	border-top: 1px solid rgb(226 226 226);
	height: 150px;
	text-align: center;
	align-items: center;
	background: #6e44ff;
}

section.comp-table .second-row li:last-child {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

section.comp-table .third-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

section.comp-table .forth-row li:last-child,
section.comp-table .fifth-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

section.comp-table .second-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
}

section.comp-table .second-row {
	margin-top: -50px;
}

section.comp-table .second-row ul li {
	background: #20075f;
}

section.comp-table .second-row ul li:nth-child(odd) {
	background: #180647;
}

section.comp-table .third-row li:first-child {
	align-items: center;
	border-top: 1px solid rgb(226 226 226);
}

section.comp-table .second-row ul li,
section.comp-table .third-row ul li,
section.comp-table .forth-row ul li,
section.comp-table .fifth-row ul li {
	justify-content: center;
	text-align: center;
}

@media (max-width:767px) {
	section.comp-table ul li {
		height: 100px;
		line-height: 22px;
		padding: 15px;
	}

	section.comp-table .second-row li:first-child svg {
		transform: rotate(90deg);
		height: 30px !important;
	}

	section.comp-table .third-row li:first-child span,
	section.comp-table .forth-row li:first-child span,
	section.comp-table .fifth-row li:first-child span {
		transform: rotate(90deg);
	}

	section.comp-table .second-row li:first-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

section.comp-table .second-row li:first-child {
	justify-content: center;
}

section.comp-table .third-row li:first-child {
	justify-content: center;
}

@media (min-width:768px) {
	section.comp-table ul li {
		align-items: center;
		justify-content: start;
		line-height: normal;
		flex-wrap: wrap;
	}
}

section.comp-table ul li span {
	padding-right: 10px;
	display: contents;
}

@media (max-width:767px) {

	section.comp-table .fist-row li:first-child,
	section.comp-table .third-row li:first-child {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	section.comp-table .second-row li:first-child {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
	}

	section.comp-table .second-row li:first-child svg {
		max-height: 22px !important;
		height: 30px !important;
	}

	section.comp-table ul li {
		height: 180px;
		line-height: 22px;
		padding: 10px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}

/* Compare Table Section End */


/**** Footer Section ***/

.footer-section {
	background: #000000;
	padding: 30px 0px;
}

.footer-ul {
	padding: 0px;
	margin: 0px;
}

.footer-ul li {
	display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
	color: #ffffff;
}

@media (min-width: 768px) {
	.footer-section {
		padding: 50px 0px
	}
}

.proof-sec {
	background-color: #f5f8ff;
	padding: 30px 0px;
}

@media(min-width:768px) {
	.proof-sec {
		padding: 100px 0px 150px 0px;
		background:#fff url(https://cdn.oppyo.com/launches/mailzilo/advanced/proof-bg.webp) no-repeat bottom center / cover;
	}
}

.benefit-section{
	background-color: #0c1320;
	padding: 30px 15px;
}
.benefit-block {
	padding:20px 15px;
	height: 100%;
	border-radius: 20px;
	background-color: rgb(21, 36, 63);
	display: flex;
	align-items: center;
	gap:15px;
}
.benefit-block div img{
	width: 38px;
	min-width: 38px;
}
.benefit-section .gap30 {
    --bs-gutter-y: 30px;
    --bs-gutter-x: 30px;
}

.benefit-section .gaps {
    --bs-gutter-y: 50px;
}
.img-block{
	display: flex;
	align-items: center;
	justify-content:space-evenly;
	flex-direction: column;
	height: 100%;
	gap: 20px;
}
@media(min-width:768px) {
	.benefit-section{
		padding: 150px 0px 100px 0px;
		background:#cdf9da url(https://cdn.oppyo.com/launches/mailzilo/advanced/benefit-section.webp) no-repeat top center / cover;
	}
	.benefit-section .gaps {
		--bs-gutter-x: 50px;
		--bs-gutter-y: 60px;
	}
}

.newbie-section{
	background-color: #fff;
	padding: 30px 0px;
}
.newbie-headline {
    background: #2572ff;
    padding: 30px 0px;
}
@media(min-width:768px) {
	.newbie-section {
		padding:0px 0px 100px 0px;
	}
	.newbie-headline {
		padding: 50px 0px 140px 0px;
		background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/newbie-headline.webp) center bottom / cover;
	}
}


.letsee-section{padding: 30px 0px;}
.letsee-block{background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/letsee-block.webp) no-repeat center center; background-size: 100% 100%; padding: 15px;}
.letsee-price-table{
    border-radius: 15px;
    background-color: rgb(2, 19, 51);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
    padding: 15px;
}
.lets-see-price-table{display: flex; align-items: center; justify-content: space-between;}

.price-shape{background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/price-shape.webp) no-repeat center center;
    padding: 5px 25px;
    background-size: 100% 100%;
    display: inline-block;
    text-align: center;}

.green-clr1{color: #13b631;}  

.border-b{border-bottom:1px solid rgb(12, 45, 105); padding-bottom: 30px!important;}

@media(min-width:768px){
    .letsee-section{padding: 100px 0px;}
    .letsee-block{padding: 50px;}
    .letsee-price-table{padding: 30px;}
    .price-shape{padding: 9px 40px;}
}