html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #00081d;
    font-size: 14px;
    overflow-x: hidden;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

video {
    width: 100%;
    height: 100%;
}


/* Color CSS */

.white-clr {
    color: #fff;
}

.black-clr {
    color: #00081d !important;
}

.yellow-clr {
    color: #ffe400;
}

.blue-clr {
    color: #0e2672;
}

.dark-blue-clr {
    color: #0e2672;
}


/* BANNER CSS START */

.banner-section {
    background: #001244;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .banner-section {
        background: #001244 url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0 100px;
    }
}

.banner-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


/* BANNER CSS END */


/* JVBONUS-SECTION START */

.jvbonus-section {
    background: #ebf6fb;
    padding: 30px 0px;
}

.bonus-section-shape {
    padding: 15px;
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.bonus-headline {
    background: #001244;
    padding: 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}

.bonus-headline>div {
    color: #fff!important;
}

.bonus-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.download-btn a {
    border-radius: 5px;
    background-image: -moz-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    line-height: normal;
    color: #ffffff;
    font-weight: 600;
}

.download-btn a:hover {
    background-image: -moz-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 172, 237)0%, rgb(23, 135, 229) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229)100%);
    text-decoration: none;
    color: #fff;
}

@media (min-width: 768px) {
    .jvbonus-section {
        padding: 70px 0px;
    }
    .bonus-section-shape {
        padding: 30px;
    }
    .margin-t-60 {
        margin-top: -60px;
    }
    .download-btn a {
        font-size: 25px;
        padding: 15px 40px;
    }
}


/* JVBONUS-SECTION END */


/* FOOTER CSS */

.footer-section {
    background: #000;
    padding: 30px 15px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.xscenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.xs-text-center,
.xs-text-center1 {
    text-align: center;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}

.light-pink {
    color: rgb(252, 109, 171);
}

.uy {
    background: url(../images/rewind-bg.webp) no-repeat center center;
    padding: 30px 15px;
    border-radius: 25px;
    margin: 20px 15px 0px;
}

@media(min-width:768px) {
    .uy {
        margin-top: 40px
    }
}

.gn-box {
    background: url(../images/gn-box-bg.webp) no-repeat center center;
    color: #000;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 5px;
    background-size: 100% 100%;
}

.voilet-clr {
    color: #011083;
}

a {
    color: #011083;
    text-decoration: none;
}

a:hover {
    color: #011083;
}


/* span.highlight {
    border-bottom: solid 4px #fc6dab;
} */

.tde {
    border-top: 1px solid #3a55a5;
    border-bottom: 1px solid #3a55a5;
    padding: 20px 0;
    display: inline-flex;
}


/*********************Top To Bottom****************/

#button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    background-color: #ffe400;
    border-radius: 50%;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: rgb(97, 64, 64);
}

#button.show {
    opacity: 1;
    visibility: visible;
}

.footer-section a:hover {
    color: #fff;
}