.imagine-sec {
    background: #f5f8ff;
    padding: 30px 0px 0px 0px;
}
@media (min-width: 768px){
.imagine-sec {
    padding: 80px 0px 0px 0px;
}
}

.need-marketing {
    background: #ffffff;
    padding: 30px 0px;
}
.noneed-listing li {
    list-style: none;
    background: url(../images/green-tick.webp) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
    min-height: 42px;
}
.noneed-listing li:last-child {
    padding-bottom: 0px;
}
.look-shape {
    border-radius: 20px;
    padding: 20px 15px;
    color: #ffffff;
    width: 100%;
    float: left;
    background-color: #682af1;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
}
@media (min-width: 768px){
.need-marketing {
    padding: 80px 0px;
}}


/*** Silver Platter Section ****/

.silver-platter-section {
	padding: 30px 0px;
}

.huge-opportunity-shape {
	background: #eaebeb;
	border: 2px solid #dfdfdf;
	border-radius: 15px;
	padding: 15px 12px;
}

.alone-bg {
	background-color: #f5f8ff;
	box-shadow: 5.592px 8.29px 12px 0px rgb(33 2 96 / 10%);
	border-radius: 10px;
	padding: 10px;
	position: relative;
}

.red-shape {
	background: #9c2341;
	padding: 5px 30px;
	border-radius: 50px;
	display: inline-block;
}

.wearenot-alone-section {
	background: #ffffff;
	padding: 0px 0px 30px 0px;
}

@media (min-width: 768px) {
	.silver-platter-section {
		padding: 80px 0px;
	}

	.huge-opportunity-shape {
		background: url(../images/huge-opportunity-shape.webp) no-repeat center center;
		background-size: 100% 100%;
		border: 0px;
		border-radius: 0px;
		padding: 45px 40px 50px;
	}

	.alone-bg {
		padding: 25px 30px 25px 10px;
	}

	.dollars-sm-image {
		width: 211px;
		min-width: 211px;
		height: 163px;
		margin-left: -120px;
		top: 0px;
		left: 0px;
	}

	.alone-bg:after {
		content: "";
		position: absolute;
		width: 87px;
		height: 49px;
		background-image: url(../images/arrow-down.webp);
		left: 44%;
		bottom: -49px;
	}

	.red-shape {
		padding: 10px 40px;
		border-radius: 50px;
	}

	.wearenot-alone-section {
		background: #ffffff url(../images/wearenotalone-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 0px 0px 100px 0px;
	}
}


/*** Max-Funnel Section ***/

.potential-sec {
	padding: 30px 0px;
	background: #C0F1FF;
}

.niche-bg {
	border-radius: 40px;
	background: #fd8b25;
	padding: 2px 30px;
	display: inline-block;
}

@media (min-width: 768px) {
	.potential-sec {
		background:#ffffff url(../images/potential-bg.webp);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 70px 0px 150px;
	}

	.niche-bg {
		padding: 2px 50px;
	}
}


/**** Bonus Section ****/

.bonus-section {
	background: #f5f8ff;
	padding: 30px 0px;
}

.bonus-section-shape {
	position: relative;
	border-color: rgb(213, 206, 228);
	border-style: dashed;
	border-radius: 10px;
	border-width: 1px;
	padding: 15px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 15%);
	height: 100%;
}

@media (min-width: 768px) {
	.bonus-section {
		background:#f5f8ff url(../images/bonus-bg.webp) center center;
		background-size: cover;
		padding: 100px 0px;
	}
}


/**** Amazing Tool Section ****/

.amazing-tool-bg {
	padding: 30px 0px;
	background: #ffffff;
}

@media (min-width: 768px) {
	.amazing-tool-bg {
		padding: 60px 0px 100px 0px;
		background: #ffffff url(../images/amazing-tool-bg.webp) no-repeat center center;
		background-size: cover;
	}
}


/**** Licance Section ***/

.license-section {
	background: #C0F1FF;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.license-section {
		padding: 100px 0px;
	}
}


.noneed-section {
    padding: 30px 0px;
}
.noneed-shape {
    padding: 15px;
    position: relative;
    background: #f5f8ff;
    border-radius: 10px;
}
.noneed-list2 li {
    list-style: none;
    background: url(../images/launch-cross.webp) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}
.noneed-list2 li.happy {
    list-style: none;
    background: url(../images/happy-emoji.png) no-repeat !important;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}
@media (min-width: 768px){
.noneed-section {
    padding: 100px 0px 0px 0px;
}
.noneed-shape {
    padding: 30px;
}
}

/**** RiskFree Section ***/

.riskfree-section {
	padding: 30px 0px;
    background: #101929;
}

@media (min-width: 768px) {
	.riskfree-section {
		padding: 80px 0px 150px 0px;
		background: #f5f8ff url(../images/money-back-bg.webp) no-repeat bottom center;
		background-size: cover;
	}
}


/**** Table Section ***/

.table-section {
	padding:30px 0px;
}

.table-wrap {
	background: #ffffff;
	width: 100%;
	float: left;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.table-head {
	background: #ffffff;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}

.table-wrap1 {
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}

.table-btn {
	padding: 30px 20px;
	text-align: center;
}

.table-head1 {
	padding: 40px 30px 30px 30px;
	text-align: center;
	background: url(../images/table-screen.webp) center center no-repeat;
	background-size: cover;
	min-height: 250px;
}

.table-list li {
	background: url(../images/green-check.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
}

.table-list li:nth-child(odd) {
	background: #f5f8ff url(../images/green-check.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list li:nth-child(even) {
	background: #ffffff url(../images/green-check.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list1 li:nth-child(odd) {
	background: url(../images/green-check.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list1 li:nth-child(even) {
	background: url(../images/green-check.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list1 li {
	background: url(../images/green-check.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
	list-style: none;
	margin: 0px;
}

/* .table-wrap1:before {
	content: '';
	position: absolute;
	background: url(../images/most-popular.webp) no-repeat left top;
	min-height: 165px;
	min-width: 153px;
	left: 10px;
	top: -10px;
} */

.table-list li.cross-sign {
	background-image: url(../images/launch-cross.webp) !important;
	background-position: 15px 21px !important;
}

.table-list li.headline {
	background: -moz-linear-gradient(45deg, rgb(104 42 241) 0%, rgb(87 45 180) 100%);
	background: -webkit-linear-gradient(45deg, rgb(104 42 241) 0%, rgb(87 45 180) 100%);
	background: linear-gradient(45deg, rgb(104 42 241) 0%, rgb(87 45 180) 100%);
	padding: 20px 0px 20px 0px;
	background-position: 0px !important;
	list-style: none;
	margin: 0px;
	border-bottom: none !important;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}

.table-list1 li.headline {
    background: linear-gradient(180deg, #173a7a 0%, #001233 100%);
	padding: 20px 0px 20px 0px;
	background-position: 0px !important;
	list-style: none;
	margin: 0px;
	border-bottom: none !important;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}

@media (min-width: 768px) {
	.table-section {
		padding: 100px 0px;
		background: #ffffff url(../images/table-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.table-head {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}

	.table-head1 {
		padding: 80px 30px 80px 30px;
		text-align: center;
		min-height: 485px;
	}

	.table-list li:nth-child(odd),
	.table-list li.cross-sign {
		background-position: 30px 12px;
	}

	.table-list li {
		padding: 20px 15px 20px 65px;
		background-position: 30px 12px;
	}

	.table-list li:nth-child(even) {
		background-position: 30px 12px;
	}

	.table-list1 li:nth-child(odd) {
		background-position: 30px 12px;
	}

	.table-list1 li:nth-child(even) {
		background-position: 30px 12px;
	}

	.table-list1 li {
		padding: 10px 15px 10px 75px;
	}
}


/**** Awesome Section ***/

.awesome-section {
	background: #f5f8ff;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.awesome-section {
		padding: 70px 0px;
	}
}


/**** FAQ Section ***/

.faq-section {
	padding: 30px 0px;
	background-color: #fff;
}

.faq-list {
	background: url(../images/faq-icon.webp) no-repeat top left;
	padding: 20px 15px 20px 35px;
	background-position: 0px 22px;
}

@media (min-width: 768px) {
	.faq-section {
		padding: 100px 0px;
	}
}


/**** Final Section ***/
.final-section {
	padding: 30px 0px;
	background:#091166;
}
.final-block {
	padding:30px 15px;
	background:url(../images/final-call-bg.webp) no-repeat center center / 100% 100%;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
	border-radius: 30px;
}
.red-shape2 {
	background:url(../images/final-call.webp) no-repeat center center / 100% 100%;
	padding: 5px 35px;
	border-radius: 50px;
	display: inline-block;
}
@media (min-width: 768px) {
	.final-block {
		padding:50px;		
	}
	.final-section {
		padding: 50px 0px;
	}
	.red-shape2 {
		padding: 10px 100px;
	}
}


/* Compare Table  Section */

section.comp-table ul {
	list-style: none;
	padding: 0;
}

section.comp-table ul li {
	border-left: 1px solid rgb(226 226 226);
	border-right: 1px solid rgb(226 226 226);
	height: 60px;
	line-height: 60px;
	align-items: flex-start;
	align-content: center;
	padding: 0px 25px;
	justify-content: center;
}

@media (min-width:768px) {
	section.comp-table ul li {
		border-left: 1px solid rgb(226 226 226);
		border-right: 1px solid rgb(226 226 226);
		height: 90px;
		line-height: 90px;
		display: flex;
		align-items: flex-start;
		align-content: center;
		padding: 0px 20px;
		justify-content: start;
	}
}

section.comp-table ul li:first-child {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 100px;
	font-weight: 600;
}

section.comp-table ul li:nth-child(odd) {
	background: #f5f8ff;
}

section.comp-table .fist-row li:first-child {
	border-top-right-radius: 0px;
	border-top: 1px solid rgb(226 226 226);
}

section.comp-table .third-row li:first-child {
	border-top-left-radius: 0px;
}

section.comp-table .fist-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

section.comp-table .second-row li:first-child {
	border-top: 1px solid rgb(226 226 226);
	height: 150px;
	text-align: center;
	align-items: center;
	background: #6e44ff;
}

section.comp-table .second-row li:last-child {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

section.comp-table .third-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

section.comp-table .forth-row li:last-child,
section.comp-table .fifth-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

section.comp-table .second-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
}

section.comp-table .second-row {
	margin-top: -50px;
}

section.comp-table .second-row ul li {
	background: #20075f;
}

section.comp-table .second-row ul li:nth-child(odd) {
	background: #180647;
}

section.comp-table .third-row li:first-child {
	align-items: center;
	border-top: 1px solid rgb(226 226 226);
}

section.comp-table .second-row ul li,
section.comp-table .third-row ul li,
section.comp-table .forth-row ul li,
section.comp-table .fifth-row ul li {
	justify-content: center;
	text-align: center;
}

@media (max-width:767px) {
	section.comp-table ul li {
		height: 100px;
		line-height: 22px;
		padding: 15px;
	}

	section.comp-table .second-row li:first-child svg {
		transform: rotate(90deg);
		height: 30px !important;
	}

	section.comp-table .third-row li:first-child span,
	section.comp-table .forth-row li:first-child span,
	section.comp-table .fifth-row li:first-child span {
		transform: rotate(90deg);
	}

	section.comp-table .second-row li:first-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

section.comp-table .second-row li:first-child {
	justify-content: center;
}

section.comp-table .third-row li:first-child {
	justify-content: center;
}

@media (min-width:768px) {
	section.comp-table ul li {
		align-items: center;
		justify-content: start;
		line-height: normal;
		flex-wrap: wrap;
	}
}

section.comp-table ul li span {
	padding-right: 10px;
	display: contents;
}

@media (max-width:767px) {

	section.comp-table .fist-row li:first-child,
	section.comp-table .third-row li:first-child {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	section.comp-table .second-row li:first-child {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
	}

	section.comp-table .second-row li:first-child svg {
		max-height: 22px !important;
		height: 30px !important;
	}

	section.comp-table ul li {
		height: 180px;
		line-height: 22px;
		padding: 10px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}

/* Compare Table Section End */


/**** Footer Section ***/

.footer-section {
	background: #000000;
	padding: 30px 0px;
}

.footer-ul {
	padding: 0px;
	margin: 0px;
}

.footer-ul li {
	display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
	color: #ffffff;
}

@media (min-width: 768px) {
	.footer-section {
		padding: 50px 0px
	}
}