html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
}


/* Color CSS */

.white-clr {
	color: #fff;
}

.black-clr {
	color: #000;
}

.red-clr {
	color: #ff0000;
}
.red-clr1 {
	color: #ff4040;
}


.blue-clr {
	color: #0a3584;
}
.green-clr {
	color: #0c710c;
}


.kapblue,
a.kapblue {
	color: #0a3584;
}
.orange-clr {
	color: #f57c25;
}
.cyan-clr {
	color: #50e7ff;
}
.yellow-clr {
	color: #fffa64;
}
.highlihgt-heading {
	position: relative;
	background: #000000;
	padding: 10px 0px;
	border-radius: 75px;
	display: inline-block;
	color: #f68a1e;
}

/****common CSS *****/

.text-nowrap {
	white-space: nowrap;
}

.list-head {
	list-style: none;
}

.gap20 {
	gap: 20px;
}

ul {
	margin: 0;
}


/******* CTA Button **********/

a.cta-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 0px;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	line-height: normal;
	white-space: normal;
	align-items: center;
	background: #f57c25;
	border-radius: 15px;

}

a.cta-link-btn:hover {
	background: #fb7b55;
    color: #ffffff;
}

@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 32px;
		padding: 24px 50px 24px 50px;
		display: inline-block;
	}
}


/* Header CSS */

.header-section {
	background: url(../images/header-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}

.header-section ul.leader-ul li a,
.main-header-section ul.leader-ul li a {
	text-decoration: none;
	color: #ffffff;
}
.header-section ul.leader-ul li a:hover{
	border-bottom: solid 2px #f57c25;
}

.header-section ul.leader-ul li,
.main-header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 15px;
}

.header-section ul.leader-ul,
.main-header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.affiliate-link-btn a {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
	line-height: 100%;
	color: #ffffff;
	font-weight: 600;
	border-radius: 5px;
	background-color: rgb(245, 124, 37);  
}

.affiliate-link-btn a:hover {
	background: #fb7b55;
    color: #ffffff;
}

.pre-heading {
	padding:10px 15px;
	margin: 0px auto;
	display: inline-block;
	background: url(../images/pre-headline.webp) no-repeat center center;
	background-size: 100% 100%;
}
.post-heading {
	padding:10px;
	margin: 0px auto;
	border-width: 1px;
	border-color: rgb(89, 128, 198);
	border-style: dashed;
	border-radius: 29px;
	display: inline-block;
}

.key-features-bg {
	padding: 20px;
	position: relative;
	width: 100%;
	text-align: center;
	border-radius: 20px;
	background-color:#071d52;  
}

.list-head li {
	background: url(../images/pointer.webp) no-repeat;
	padding:10px 0px 10px 35px;
	background-position: 0px 12px;
	text-align: left;
}
.list-head li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
	border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.highlight-heading{
	border-bottom: 4px solid;
	color: #fffa64;
}
.list-highlight{
	color: #fffa64;
    background: url(../images/highlight-line.webp) no-repeat bottom center;
    background-size: contain;
    padding-bottom:5px;
	font-weight:500;
}
@media (min-width: 768px) {
	.header-section {
		padding: 50px 0px 50px 0px;
	}

	.affiliate-link-btn a {
		padding: 15px 30px;
		font-size: 22px;
	}

	.highlihgt-heading {
		position: relative;
		padding: 8px 60px;
	}

	.pre-heading {
		padding: 15px 20px;		
	}
	.post-heading {
		padding:15px 30px;
	}
	.key-features-bg {
		padding: 40px 30px 70px 30px;
		text-align: center;
		border-radius: 0;
		background:transparent url(../images/key-feature-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 60%;
		flex: 0 0 60%;
		max-width: 60%;
	}
	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 40%;
		flex: 0 0 40%;
		max-width: 40%;
	}
}
/*******List Section ************/
.list-section {
	padding: 0px 0px 30px 0px;
	background: #ffffff;
}

.header-list-block {
	border-radius: 20px;
	padding: 20px 0px;
	background-color: #ffffff;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	margin-top: -90px;
}

.header-bordered-list li {
	list-style: none;
}

.header-bordered-list li {
	padding: 12px 20px 12px 50px;
	position: relative;
}

.header-bordered-list li::before {
	content: url(../images/green-tick.webp);
	position: absolute;
	left: 0px;
	top: 15px;
}

@media (min-width: 768px) {
	.list-section {
		padding: 0px 0px 100px 0px;
	}

	.header-list-block {
		border-radius: 20px;
		padding: 40px 20px;
		margin-top: -90px;
	}
}


/*******Second Section ************/

.second-header-section {
	background: #f2ecff;
	padding: 30px 0px;
}

.any-shape {
	background-color: rgb(0, 25, 101);
	padding: 15px;
	display: inline-block;
	border-radius: 100px;
	margin: 0 auto;
	justify-content: center;
}

.step-shape {
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	position: relative;
	padding: 10px;
	height: 100%;
}

.step-border {
	border-radius: 10px;
	border-width: 2px;
	border-color: rgb(104, 42, 241);
	border-style: solid;
	padding: 30px 20px;
	height: 100%;
}

.step-shape1 {
	/* background-color: rgb(255, 125, 29); */
	background-image: url(../images/step-bg.webp);
	background-repeat: no-repeat;
	max-width: 203px;
	/* border-radius: 50px; */
	margin: 0 auto;
	margin-top: -52px;
	padding: 7px 20px;
	background-size: 100% 100%;
}

@media (min-width: 768px) {
	.second-header-section {
		padding: 100px 0px;
	}

	.any-shape {
		padding: 15px 50px;
	}
}


/************This open Section ********/

.this-open-section {
	padding: 30px 0;
	background: #f5f8ff;
}

@media (min-width: 768px) {
	.this-open-section {
		padding: 100px 0;
	}
}


/************Hi-There Section ********/

.hithere-section {
	background: #08288d;
	padding: 30px 0px;
	
}

.revo-list1 li {
	background: url(../images/green-tick1.webp) no-repeat;
	padding: 0 0 15px 40px;
	list-style: none;
	background-position: 0px 5px;
}

@media (min-width: 768px) {
	.hithere-section {
		padding:150px 0px 120px 0px;
		background: url(../images/partner-bg.webp) no-repeat bottom center;
		background-size: cover;

		
	}
}

/************Research Section ********/
.research-section {
	background: #bee6ff;
	padding: 30px 0px;
}
.title-box {
	padding:15px;
	border-radius: 20px;
	background-color: #ffa705;
	display: inline-block;
}
.over-shape {
	background: url(../images/over-shape.webp) no-repeat center center;
	display: inline-block;
	padding: 0px 20px;
	background-size: 100% 100%;
}
@media (min-width: 768px) {
	.research-section {
		padding: 100px 0px 50px 0px;
		background:#bee6ff url(../images/yourself.webp) no-repeat center bottom / cover;
	}
	.title-box {
		padding:15px 30px;
	}
	.over-shape {
		padding: 16px 60px;
		background-size: 100%;
	}
}

/************Research Section ********/

.stats-section {
	background: #0a1268;
	padding: 30px 15px;
}
.stats-headline{
	background: url(../images/stats-line.webp) no-repeat center center;
	padding: 30px 15px 10px 15px;
	background-size:100% 100%;
	display: inline-block;
}
.stats-block{
	background-color: #f5f8ff;
    text-align: left;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 29px 0px rgb(4 4 17 / 20%);
	padding: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 20px;
}
.smiley{
	display: flex;
	align-items:center;
	gap: 15px;
	justify-content: center;
}
@media (min-width: 768px) {
	.stats-section {
		padding: 100px 0px 100px 0px;
		z-index: 9;
		position: relative;
		margin-top: -90px;
		background: url(../images/stats-section-bg.webp) no-repeat top center;
		background-size: cover;
	}
	.stats-headline{
		padding: 40px 50px;
	}
	.stats-block{
		padding:30px 20px;

	}
}


.power-section {
	background: #ffffff;
	padding: 30px 0px;
}

.issue-section {
	background:url(../images/issue-bg.webp) no-repeat center center;
	background-size: cover;
	position: relative;
	padding: 30px 0px ;
}
.features-section {	
	padding: 30px 0px;
	background: #fff;
}
.features-section .gap30 {
	--bs-gutter-y: 50px;
}
.problme-shape1 {
	border-radius: 20px;
	background-color: #ffffff;
	width: 100%;
	float: left;
	padding: 15px;
}
.shape-testi6 {
	background-color:#0a3584;
	border-radius: 65px;
	padding: 8px 15px 8px 15px;
	display: inline-block;
	margin-top: 0px;
	position: relative;
	color: #ffffff;
	top: -36px;
	margin-bottom: -20px;
}
ul.problem-listing{
	margin: 0px;
	padding:0px 0px 0px 15px;
}
ul.problem-listing li{
	margin-bottom: 15px;
}

@media (min-width: 768px) {
	.power-section {
		padding:100px 0px 200px 0px;
		background: url(../images/power-section.webp) no-repeat center center;
		background-size:cover;
	}
	.issue-section {
		padding:100px 0px;
		
	}
	.issue-section1 {
		background:url(../images/issue.webp) no-repeat right center;
		position: relative;
		background-position: 100% 113px;
	}

	.features-section {		
		padding: 100px 0px;
		background:url(../images/features-section.webp) no-repeat center center;
		background-size: cover;
	}
	.features-section .gap30 {
		--bs-gutter-x: 50px;
		--bs-gutter-y: 70px;
	}
	.problme-shape1 {
		padding:30px;
	}
	.shape-testi6 {
		padding: 8px 30px 8px 30px;
		margin-top: -70px;
		margin-bottom: 0px;
	}
	
}


.eleraning-section {
	background: #f5f8ff;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.eleraning-section {
		padding: 80px 0px;
	}
}


/************Big Question Section ********/

.big-question-bg {
	background: #001233;
	padding: 30px 0px;
}
.big-headline{
	background: url(../images/big-line.webp) no-repeat center center;
	padding: 30px 0px 10px 0px;
	background-size:100% 100%;
	display: inline-block;
	text-align: center;
}

@media (min-width: 768px) {
	.big-question-bg {
		background: #01060f url(../images/big-question-bg.webp) no-repeat center center;
		background-size: cover;
		padding:100px 0px 50px 0px;
	}
	.big-headline{
		padding: 40px 20px;
	}
}


/************Problem Section ********/

.problem-bg-section {
	background: #01060f;
	padding: 30px 0px;
}

.problem-area-shape {
	padding: 15px;
	border-radius: 100px;
	display: inline-block;
	background-image: -moz-linear-gradient( 90deg, rgb(115,14,19) 0%, rgb(255,64,64) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(115,14,19) 0%, rgb(255,64,64) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(115,14,19) 0%, rgb(255,64,64) 100%);
}
ul.problem{
	margin: 0px;
	padding: 0px;
}
.problem li {
	background: url(../images/sad.webp) no-repeat;
	padding:15px 0px 15px 35px;
	background-position: 0px 19px;
	text-align: left;
	list-style: none;
}
.problem li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}


@media (min-width: 768px) {
	.problem-bg-section {
		background: #01060f url(../images/.webp) no-repeat center center;
		background-size: cover;
		padding:100px 0px;
	}

	.problem-area-shape {
		padding: 15px 40px;
	}
}


/*****Problem Section 1 *******/

.problem-bg-section1 {
	background: #314362;
	padding: 30px 0px;
}
.problem-bg-section2 {
	background: #01060f;
	padding: 30px 0px;
}
.problem-bg-section3 {
	background: #1c9745;
	padding: 30px 0px;
}
.problem-bg-section4 {
	background: #ffffff;
	padding: 30px 0px;
}
.shape-headline {
	background: url(../images/shape.webp) no-repeat center center;
    padding: 9px 0px 34px 0px;
    background-size: 100% 100%;
    display: inline-block;
    text-align: center;
}
@media (min-width: 768px) {
	.problem-bg-section1 {
		padding: 80px 0px 40px 0px;
	}
	.problem-bg-section2 {
		padding: 140px 0px 80px 0px;
		background: url(../images/problem-bg-section2.webp) no-repeat top center;
		background-size: cover;
	}
	.problem-bg-section3 {
		padding: 80px 0px;
	}
	.problem-bg-section4 {
		padding: 80px 0px;
	}
	.shape-headline {
		padding:20px 20px 51px 20px;
	}
}

.zero{
	padding: 30px 0px;
	background: url(../images/zero.webp) no-repeat top center;
	background-size: cover;
}
.zero .gap30 {
	--bs-gutter-y: 50px;
}

@media (min-width:768px) {
	.zero{		
		padding:50px 0px 180px 0px;
	}
	.zero .gap30 {
		--bs-gutter-x: 150px;
	}
}


/***********Next Generation*****************/

.next-gen-sec {
	background: #e2eaf5 url(../images/proudlybg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}

.proudly-list-bg {
	border-radius: 20px;
	background-color: #ffffff;
	box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
	padding: 15px;
}

.proudly-tick li {
	background: url(../images/green-check.webp) no-repeat;
	background-position: 0 4px;
	list-style: none;
	padding: 0 0 20px 45px;
}

@media (min-width: 768px) {
	.next-gen-sec {
		padding: 80px 0px 180px 0px;
	}

	.proudly-list-bg {
		padding: 30px;
	}
}


/****** Amazing Section *******/

.step-section {
	background: #C0F1FF;
	padding: 30px 0px;
}
.d-inline-grid{
	display: inline-grid;
	display: -ms-inline-grid;
	display: -moz-inline-grid;
}
.step-box {
    background-color: #fff;
    box-shadow: 4px 10px 30px rgb(128 194 213 / 70%);
    border-radius: 30px;
    padding:20px;
}
@media (min-width: 768px) {
	.step-section {
		padding: 70px 0px;
		background: #C0F1FF;
	}
	.step-box {
		padding:30px;
	}

	.step-arrow1 {
		position: absolute;
		left: 444px;
	}
	.step-arrow2 {
		position: absolute;
		left: -81px;
		margin-top: 38px;
	}
	.step-line{
		position: absolute;
		top: 0px;
		left: calc(52% - 48px);
	}
	.gaping {
		--bs-gutter-x: 80px;
	}
	
}


/****** Demo Section *******/

.demo-section-bg {
	background: #e2eaf5;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.demo-section-bg {
		background: #ffffff url(../images/demo-section-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 100px 0px;
	}
}


/****** Testimonial Section *******/

.testimonial-section2,
.testimonial-section3 {
	background: #f5f8ff;
	padding: 30px 0px;
}

.testimonial-section {
	background: #ffffff;
	padding: 30px 0px;
}


.single-testimonial {
	background-color: #f5f8ff;
	text-align: left;
	border-radius: 30px;	
	position: relative;
	z-index: 2;
	box-shadow: 0px 10px 29px 0px rgb(4 4 17 / 20%);
}
.single-testimonial p {
	color: #101012;
	font-size: 17px;
	line-height: 28px;
	padding: 50px 30px 30px 30px;
	padding-bottom: 30px;
	position: relative;
	z-index: 3;
	
}
.single-testimonial::before {
	content: "";
	position: absolute;
	left: -5px;
	top: -35px;
	background: url(../images/quote.png) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	transform: rotate(180deg);
	background-position: 34px 15px;
}
.single-testimonial::after {
	content: "";
	position: absolute;
	right: -5px;
	bottom: -34px;
	background: url(../images/quote.png) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	background-position: 34px 19px;
}

.client-info {
	display: inline-flex;
	gap: 15px;
	align-items: center;
	padding: 0px 30px 30px 30px;
}
.client-details{
	color: #0a3584;
	font-size: 20px;
	font-weight: 600;
}
@media (min-width: 768px) {
	.testimonial-section2 {
		background: #f5f8ff url(../images/testimonial-section-bg2.webp) no-repeat center center;
		background-size: cover;
		padding: 80px 0px;
	}
	.testimonial-section3 {
		background: #f5f8ff url(../images/testimonials-section-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 80px 0px;
		background-attachment: fixed;
	}

	.testimonial-section {
		background: #ffffff url(../images/testimonial-section.webp) no-repeat center bottom;
		background-size: cover;
		padding: 100px 0px 100px 0px;
	}
	.single-testimonial p {
		padding: 50px 50px 30px 50px;
	}
	.client-info {
		padding: 0px 50px 50px 50px;
	}
	.single-testimonial::before {
		left: -35px;
		top: -35px;
	}
	.single-testimonial::after {
		right: -35px;
		bottom: -34px;
	}
	
	.client-info {
		padding-bottom: 30px;
	}
	.gx4 {
			--bs-gutter-x: 2.5rem;
		}
}

/* Feature Css */
.feature-highlight {
	background:#082fba;
    padding:30px 0px;
}
@media (min-width: 768px){
.feature-highlight {
	padding:30px 0px 120px 0px;
	background:url(../images/feature-heading-bg.webp) center bottom / cover;
}}
.white-section {
	background: #ffffff;
	padding: 30px 0px;
}

.presenting-shape1 {
	background-image: -moz-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
	border-radius: 15px;
	padding: 8px 30px;
	display: inline-flex;
	position: relative;
	align-items: center;
}
.blue-section {
	padding: 30px 0px;
	background:#0042b6;
}
.grey-section {
	padding: 30px 0px;
	background:#f5f8ff;
}
.features-title{
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	gap: 15px;
}
.features-title .size{
	max-height:100px;
}
@media (min-width: 768px) {
	.blue-section {
		padding: 80px 0px;
		background:#fff url(../images/blue-section.webp) no-repeat top center / cover;
	}
	.grey-section {
		padding: 80px 0px;
	}
	.white-section {
		padding: 80px 0px;
	}
	.presenting-shape1 {
		padding:15px 40px;
		border-radius: 100px;
	}
	.presenting-shape1:before {
		width: 70px;
		height: 5px;
		background-image: -moz-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
		position: absolute;
		content: '';
		left: -70px;
	}

	.presenting-shape1:after {
		width: 70px;
		height: 5px;
		background-image: -moz-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
		position: absolute;
		content: '';
		right: -70px;
	}
	.minus60{
		margin-top: -68px;
	}
}

/* Feature Css End */

/*** Support Section ****/

.support-section {
	background: #682af1 url(../images/over-sec-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}

.boxbg {
	background: transparent;
	padding: 15px 0px;
	height: auto;
}

.boxborder-rb {
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}

.boxborder-b {
	border-bottom: 1px solid #ffffff;
}

.boxborder-r {
	border-right: 1px solid #ffffff;
}

@media (min-width: 768px) {
	.support-section {
		padding:80px 0px;		
	}

	.boxbg {
		height: 280px;
		padding: 15% 0% 20%;
	}
}

@media (max-width: 767px) {
	.boxborder {
		border: 1px solid #ffffff;
		border-top: 0px;
		padding: 20px;
	}

	.top-first,
	.first-top-border {
		border: 1px solid #ffffff;
	}

	.mx-autos {
		margin-right: auto !important;
		margin-left: auto !important;
	}
}

/* Targeted Section Start */
.targeted-section {
    background: #cdf9da;
    padding: 30px 0px;
}
@media (min-width: 768px){
	.targeted-section {
		padding: 100px 0px;
	}
}
/* Targeted Section End */

.huge-potential{padding: 30px 0px;}
@media(min-width:768px){
	.huge-potential{padding: 100px 0px;}
}

/*** Compare Table Section ***/

.comparetable-section {
	padding: 30px 0px;
	background: #ffffff;
}

@media (min-width: 768px) {
	.comparetable-section {
		padding: 70px 0px;
	}
}


/** No Comparsion Section  ***/

.nocomparsion-section {
	background: #ffffff;
	padding-bottom: 30px;
}

.no-comparison-shape {
	background: #f5f8ff;
	padding: 15px;
	border-radius: 10px;
}

@media (min-width: 768px) {
	.nocomparsion-section {
		padding: 0px 0px 100px 0px;
	}

	.no-comparison-shape {
		background: url(../images/no-comparison-shape-bg.webp) no-repeat;
		background-size: contain;
		height: 633px;
		width: 1173px;
		padding: 80px 70px 15px 400px;
	}
}


/*** CTA New Section ***/

.cta-section-new {
	background:#091166;
	padding: 30px 0;
}
@media (min-width: 768px) {
	.cta-section-new {
		padding: 60px 0;
	}
}

.proof-sec {
	background:#C0F1FF url(../images/proof-bg.webp) no-repeat top center / cover;
	padding:30px 0px;
}
.test-sec {
	background:#ffffff url(../images/proof-bg.webp) no-repeat top center / cover;
	padding:30px 0px;
}
.data-sec {
	/* background:#091167 url(../images/data-bg.webp) no-repeat top center / cover;
	padding: 50px 0px 30px 0px; */
	background:#fff;
	padding: 30px 0px;
}
.offer-new{
	background-color: #FF1D48;
    padding: 15px 0;
}
.offer{
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
	flex-direction: column;
}
@media(min-width:768px) {
	.proof-sec {
		padding: 100px 0px;
		
	}
	.test-sec {
		padding: 100px 0px;
		
	}
	.data-sec {
		padding:100px 0px;
		
	}
	.offer{
		display: flex;
		align-items: center;
		gap: 15px;
		justify-content: center;
		flex-direction: row;
	}
}

.benefit-section{
	background-color: #0c1320;
	padding: 30px 15px;
}
.benefit-block {
	padding:20px 15px;
	height: 100%;
	border-radius: 20px;
	background-color: rgb(21, 36, 63);
	display: flex;
	align-items: center;
	gap:15px;
}
.benefit-block div img{
	width: 38px;
	min-width: 38px;
}
.benefit-section .gap30 {
    --bs-gutter-y: 30px;
    --bs-gutter-x: 30px;
}

.benefit-section .gaps {
    --bs-gutter-y: 50px;
}
.img-block{
	display: flex;
	align-items: center;
	justify-content:space-evenly;
	flex-direction: column;
	height: 100%;
	gap: 20px;
}
@media(min-width:768px) {
	.benefit-section{
		padding: 150px 0px 100px 0px;
		background:#cdf9da url(../images/benefit-section.webp) no-repeat top center / cover;
	}
	.benefit-section .gaps {
		--bs-gutter-x: 50px;
		--bs-gutter-y: 60px;
	}
}

.newbie-section{
	background-color: #fff;
	padding: 30px 0px;
}
.newbie-headline {
    background: #2572ff;
    padding: 30px 0px;
}
@media(min-width:768px) {
	.newbie-section {
		padding:0px 0px 100px 0px;
	}
	.newbie-headline {
		padding: 50px 0px 140px 0px;
		background: url(../images/newbie-headline.webp) center bottom / cover;
	}
}


.letsee-section{padding: 30px 0px;}
.letsee-block{background: url(../images/letsee-block.webp) no-repeat center center; background-size: 100% 100%; padding: 15px;}
.letsee-price-table{
    border-radius: 15px;
    background-color: rgb(2, 19, 51);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
    padding: 15px;
}
.lets-see-price-table{display: flex; align-items: center; justify-content: space-between;}

.price-shape{background: url(../images/price-shape.webp) no-repeat center center;
    padding: 5px 25px;
    background-size: 100% 100%;
    display: inline-block;
    text-align: center;}

.green-clr1{color: #13b631;}  

.border-b{border-bottom:1px solid rgb(12, 45, 105); padding-bottom: 30px!important;}

@media(min-width:768px){
    .letsee-section{padding: 100px 0px;}
    .letsee-block{padding: 50px;}
    .letsee-price-table{padding: 30px;}
    .price-shape{padding: 9px 40px;}
}

.stats-headline1 {
	background: url(../images/head-line.webp) no-repeat center center;
    padding:10px 40px;
    background-size: 100% 100%;
    display: inline-flex;
   
}
@media (min-width: 768px){
	.stats-headline1 {
		padding: 0px 35px;
		min-height: 115px;
		align-items: center;
	}}


	.premium-sec {
		background-color: #fff;
		padding: 30px 0px;
	}
	
	@media(min-width:768px) {
		.premium-sec {
			padding: 100px 0px;
		}
	}


	.hideme-button{opacity:0;}