html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #101012;
    font-size: 14px;
}


/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.orange-clr {
    color: #fb954a;
}

.blue-clr {
    color: #164dba;
}

.black-clr {
    color: #100f12;
}

.light-pink {
    color: #f2ecff;
}

.gradient-clr {
    background: #7617E4;
    background: linear-gradient(to top, #7617E4 0%, #6A21EB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-shadow {
    text-align: center;
    text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 15px 0px 25px 0px rgba(19, 21, 26, 0.3);
    z-index: 99;
}

.header-section {
    background: #164dba url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 30px 0px 230px 0px;
    position: relative;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

a.affiliate-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    line-height: normal;
    color: #fff;
    font-weight: 600;
    border-radius: 65px;
    background-image: -moz-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    transition: all .3s ease;
}

a.affiliate-link-btn:hover {
    background-image: -moz-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    text-decoration: none;
    transform: scale(1.03);
}


/* Animation Start */

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #c4a300;
    }
    40% {
        box-shadow: 0 0 20px #c4a300;
    }
    60% {
        box-shadow: 0 0 20px #c4a300;
    }
    100% {
        box-shadow: 0 0 -10px #c4a300;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}


/* Animation End */

.pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: #142974;
    outline: none;
    border-color: #21c7f9;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}

.features-wrap {
    border-radius: 15px;
    background-color: #0a52e2;
    padding: 10px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 15px 25px;
}

.list-head li {
    background: url(../images/table-tick.webp) no-repeat;
    padding: 10px 0px 10px 30px;
    background-position: 0px 12px;
    text-align: left;
    border-bottom: solid 1px #ffb80f;
    list-style: none;
}

.list-head li:last-child {
    padding-bottom: 0px;
    border: none;
}

@media (min-width: 768px) {
    .header-section {
        padding: 40px 0px 280px 0px;
    }
    a.affiliate-link-btn {
        padding: 10px 20px;
        font-size: 22px;
    }
    .pre-heading {
        padding: 15px 30px;
        border-radius: 100px;
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66;
        flex: 0 0 66%;
        max-width: 66%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 34%;
        flex: 0 0 34%;
        max-width: 34%;
    }
}

@media (min-width: 1600px) {
    .header-left-element {
        position: absolute;
        left: -20px;
        bottom: -52px;
        display: block !important;
    }
    .header-right-element {
        position: absolute;
        bottom: -75px;
        right: 20px;
        display: block !important;
    }
}


/* Second Section Start */

.second-section {
    padding: 0px 0px 30px 0px;
}

.z-index-9 {
    z-index: 9;
}

ul.features-list {
    margin: 0px;
    padding: 0px;
}

ul.features-list li {
    background: url(../images/tick-icon.png) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin-top: -200px;
    background: #ffffff;
}

@media (min-width:768px) {
    .second-section {
        padding: 0px 0px 100px 0px;
    }
    .header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    }
}


/* Second Section End */


/* CTA Button Start */

.cta-section {
    padding: 30px 0px;
    background: #701ce3;
}

a.cta-link-btn {
    background-image: -moz-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
    border-radius: 65px;
}

a.cta-link-btn:hover {
    background-image: -moz-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    text-decoration: none;
    transform: scale(1.03);
}

.ul-tick-icon1 li {
    list-style: none;
    background: url(../images/tick-icon.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0px 15px 39px;
    display: inline-block;
}

@media (min-width: 768px) {
    .ul-tick-icon1 li {
        padding: 0 39px 10px 39px;
    }
    .cta-section {
        background: url(../images/cta-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 70px 0px;
    }
    a.cta-link-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
        display: inline-block;
    }
}


/* CTA Button End*/


/*****Form Section********/

.width-form {
    width: 100%;
    float: left;
    padding: 0px 0px;
}

.formbg {
    position: relative;
    padding: 15px;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 0deg, rgb(242, 236, 255) 0%, rgb(249, 246, 255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(242, 236, 255) 0%, rgb(249, 246, 255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(242, 236, 255) 0%, rgb(249, 246, 255) 100%);
}

.register-btn1 input[type="submit"] {
    border-radius: 65px;
    background-image: -moz-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 21 !important;
    color: #ffffff !important;
    font-weight: 600;
    width: 100%;
    border: none;
    height: auto;
    white-space: normal;
}

.register-btn1 input[type="submit"]:hover {
    background-image: -moz-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    text-decoration: none;
    transform: scale(1.03);
}

@media (min-width: 768px) {
    .width-form {
        width: 33%;
        padding: 0px 5px !important;
    }
    .formbg {
        padding: 40px 30px;
        border: none;
        border-radius: 15px;
    }
    .register-btn1 input[type="submit"] {
        height: 50px;
        white-space: nowrap;
    }
}


/****footer*******/

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}


/*********************Top To Bottom****************/

#button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    background-color: #ffe400;
    border-radius: 50%;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: rgb(97, 64, 64);
}

#button.show {
    opacity: 1;
    visibility: visible;
}