html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #121733;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #0068ff;
  border-radius: 25px;
}
.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}
.bonus-title-color {
    color: #1FE29F;
}
.green-clr{
    color: #1FE29F;
}
.purple-clr{
    color: #00a4ff;
}
.orange-clr{color:#F19B10}
.red-gradient {
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* Proudly there Section Start */
.header-sec {
    background: #000308;
    padding: 30px 0px;
    position: relative;
}
@media (min-width: 768px){
.header-sec {
    background: #000308 url(../images/header-bg.webp) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0px 150px 0px;
}
}

.uy {
    background: url(../images/rewind-bg.png) no-repeat center center;
    padding: 30px 15px;
    border-radius: 25px;
}
.gn-box {
    background: url(../images/gn-box-bg.png) no-repeat center center;
    color: #000;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 5px;
    background-size: 100% 100%;
}
.tde {
    border-bottom: 2px solid #fff;
    padding: 0px 0px;
    border-top: 2px solid #fff;
    display: inline-flex;
}
.d-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    /* background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%); */
    background-image: -moz-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    backdrop-filter: blur(10px);

    font-size: 24px;
}
.d-btn a:hover {
    text-decoration: none;
    background-image: -moz-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -webkit-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -ms-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
}
.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #000000;
    background: #ffffff;
    display: inline-block;
    text-transform: uppercase;
}
.bonus-title-black-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #000000;
    display: inline-block;
    text-transform: uppercase;
}
.highlight-bg{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: aliceblue;
    box-shadow: 0px 0px 19.8px 2.2px rgb(106 105 105);
}

.mainheadline {

    padding: 60px 5px 20px;
	background: #E2F0F6;
	position: relative;
	border:3px solid #fff ;
	border-radius: 10px;

}

.mainheadline:before {

    position: absolute;

    content: 'Game Changer';

    background: #f89b1c;

    padding: 5px 10px;

    left: 0px;

    z-index: 99;

    top: 0px;

    text-transform: capitalize;

    color: #fff;

    font-weight: 700;

    font-size: 28px;

    position: absolute;

    font-family: 'Kalam', cursive;

    border-radius: 10px 0 0 0;

}
.underline-text {
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}
@media(min-width:768px){

    .mainheadline {

        padding: 30px;

        background: url(../images/main-heading.png) no-repeat center center;

        background-size: 100% 100%;

        position: relative;

        border: none;

        padding: 120px 80px 30px 80px;

    }

    .mainheadline:before {

        position: absolute;

        content: 'Game Changer';

        background: url(../images/gamecheanger-bg.png) no-repeat;

        padding: 0px 35px;

        left: 98px;

        z-index: 99;

        top: 48px;

        text-transform: capitalize;

        color: #fff;

        font-weight: 700;

        font-size: 36px;

        position: absolute;

        font-family: 'Kalam', cursive;

    }
    .underline-text {
        background: url(../images/underline-orange.webp) no-repeat center center;
        padding: 0px 0px 65px 0px;
        background-size: contain;
    }
}


/**************Footer Section***********/

.footer-section {
    background: #05071A;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

.option-design {
    background: #FF2C2C;
    border: 2px solid #FF2C2C;
    border-radius: 38.5px;
    display: inline-block;
    padding: 8px 10px;
}
@media(min-width:768px){
    .option-design {
        padding: 8px 30px;
    }
}

/* Floating Btn */

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#7764ff;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#E76D24;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
