html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
	overflow-x: hidden;
}

.relative {
    position: relative;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #000000;
}

.yellow-clr{
    color: #ffc332;
}

.preline{
    position: relative;
    display: inline-flex;
}

.preline::before{
    content: '';
    border: solid 1px #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5px;
    z-index: 1;
    right: -5px;
}

.preheadline {
    display: inline-flex;
    padding: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    z-index: 15;
}

.postheadline{
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    display: inline-block;
    padding: 10px;
    border-radius: 100px;
}

@media(min-width:768px){
    .postheadline,
    .preheadline{
        padding: 10px 35px;
    }
    .preheadline::before{
        content: '';
        background:url(https://cdn.oppyo.com/launches/yodrive/common_assets/images/left-arrow.webp) no-repeat;
        width: 49px;
        height: 65px;
        position: absolute;
        left: -35px;
        bottom: -35px;
        z-index: -1;
    }
    .preheadline::after{
        content: '';
        background:url(https://cdn.oppyo.com/launches/yodrive/common_assets/images/right-arrow.webp) no-repeat;
        width: 49px;
        height: 65px;
        position: absolute;
        right: -35px;
        bottom: -35px;
        z-index: -1;
    }
}

.header-section {
    background: #182d5a;
    padding: 30px 0px;
}

@media(min-width:768px) {
    .header-section {
		background: #eef5ff url(https://cdn.oppyo.com/launches/yodrive/elite/header-bg.webp);
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: cover;
		padding: 40px 0px 150px;
    }
}

/********Header Section End*********/

/* probtn1 Btn Start */

.probtn1 a {
	border-radius: 15px;
	background-color: #f6841f;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 140%;
}

.probtn1 a:hover {
    background:#e97b1a;
    color: #ffffff;
}

@media(min-width:768px){
    .probtn1 a {
        font-size: 38px;
        padding: 28px 50px;
    }
}
/* probtn1 Btn End */

/* Profit Section Start */
.profit-section{
    padding: 30px 0px;
    background: #eef5ff url(https://cdn.oppyo.com/launches/yodrive/special/profit-bg.webp) center center no-repeat;
    background-attachment: fixed;
}
@media(min-width:768px){
    .profit-section{padding: 100px 0px;}
}
/* Profit Section End */

/*Table CSS Start*/
.table-section {
    background: #ffffff;
    padding: 30px 0;
}

.tablebox2 {
    border: 1px solid #182d5a;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

ul.vgreytick {
    padding: 0px 20px;
    display: inline-block;
    width:100%;
}

ul.vgreytick li {
    background: url(https://cdn.oppyo.com/launches/yodrive/elite/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

.tbbg2-text {
    color: #fff;
}

.tbbg2 {
    background:#182d5a;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

@media (min-width: 768px) {
    .table-section {
        padding:100px 0px;
        background: url(https://cdn.oppyo.com/launches/yodrive/elite/table-bg.webp) no-repeat;
        background-position: center center;
        background-size: cover;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

/*Table CSS End*/

/* Footer Section Start */
.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-section {
        padding: 70px 0px;
    }
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
}

/* Footer Section End */




  
