body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}
.px-md-0{
    padding-left: 0px;
    padding-right: 0px;
}
.handsean {
    font-family: handsean;
}

.white-clr {
    color: #fff;
}


/* Header Section Start */

.header-section {
    background-color: #fff;
    padding: 30px 0;
    background: url(../images/banner-bg.webp) no-repeat center center;
    background-size: cover;
}
.probtn1 a {
    border-radius: 10px;
    background: linear-gradient(0deg, #F55D87 10%, #CE14FD 100%);
    box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.45);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
    transition: all .3s ease;
    position: relative;
}
.probtn1 a:hover {
    background: linear-gradient(0deg, #CE14FD 10%, #F55D87 90%);
    text-decoration: none;
}
.step{
    border-radius: 40px;
    background: #51A7F7;
    padding: 15px 84px;
    display: inline-block;
}
.support-link{
    text-decoration: none;
}
.support-link:hover{
    text-decoration: none;
}
/* .shade{
    background: url("../images/shade.png") no-repeat center center;
    background-size: 100% 100%;
    padding: 18px 30px 19px 32px;
} */
/* .post-heading {
    padding: 15px 60px;
    background: url(../images/post-heading.webp) no-repeat ;
    background-size: 100% 100%;
    
} */
@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
    .probtn1 a {
        font-size: 32px;
        padding: 35px 60px;
    }
    .shade{
        background: url("../images/shade.webp") no-repeat center center;
        background-size: 100% 100%;
        padding: 18px 30px 19px 32px;
        color: #ffffff;
    }
}

/* a.lightred {
    color: #682af1;
    text-decoration: none;
} */

/* Footer Section Start */

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

a.blue-clr {
    color: #00a4e3;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px 50px;
    }
}

ul.footer-ul a:hover {
    color: #fff;
}