html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #08041e;
    font-size: 14px;
	overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}

.blue-clr{
    color: #282a89
}

.blue-gradient{
    background: rgb(3,3,49) 0%;
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-orange{
    background: #FF9315; 
    background: linear-gradient(90deg, #FF9315 21.66%, #FF4F17 64.49%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

/* Header Section Start */

.header-section {
    background: #030331;
    padding: 30px 0px;
}

.preheadline {
    background: linear-gradient(#030331 , #030331) padding-box,
    linear-gradient(to right, #5055BE 0%, #FFFFFF 50%, #5055BE 100%) border-box;
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 10px 20px;
    display: inline-block;
}

.img-shadow {
    box-shadow: 0px 0px 15px 0px rgb(73 76 80 / 25%);
}

@media(min-width:768px){
    .header-section {
        background: #030331 url(../images/header-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .img-shadow {
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 25%);
    }
}

/* Header Section End */

/* New Section Start */

.new-section {
    background: #ffffff;
    padding: 30px 0px;
}

ul.kaptick {
    margin: 0px;
}

.kaptick li {
    list-style: none;
    background: url(../images/green-tick.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 15px 35px;
    color: #000000;
    line-height: 150%;
    font-size: 18px;
    min-height: 20px;
}

.kaptick li:last-child {
    padding-bottom: 0px;
}

.instant-btn a {
    background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.instant-btn a::before{
    position: absolute;
    width: 100%;
    height: 34px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}

.instant-btn a:hover,
.instant-btn a:hover {
    transition: all .3s ease;
    background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}

@media(min-width:768px) {
    
   .new-section {
        background: #ffffff url(../images/deal-ends-soon-bg.webp) no-repeat center center;
        padding: 100px 0px;
        background-size: cover;
    }
    .preheadline{
        padding: 1rem 2rem;
    }
    .kaptick li {
        padding: 0px 0 30px 35px;
        background-position: 0 5px;
    }
    .instant-btn a {
        font-size: 32px;
        padding: 20px 50px;
    }
}

/* New Section End */

/* Section1 Section Start */

.section1 {
    padding: 30px 0;
    background: #e7e9fa;
}

.plan1-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgb(96 145 169 / 19%);
}

.plan2-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgba(96, 145, 169, 0.19);
}

.title-shape {
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}

.title-shape1 {
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}

.title-shape1:after,
.title-shape:after {
    content: '';
    background: url(../images/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media(min-width:768px){
    .section1 {
        padding: 100px 0;
    }
    .section-margin {
        margin-top: 250px !important;
    }
    .pimg {
        margin-top: -255px;
    }
}

/* Section 1 Section End */

/* Section 2 Section Start */

.section2 {
    padding: 30px 0;
    background: #ffffff;
}

.tablebox1 {
    background: #9dbacc;
    width: 100%;
    float: left;
    border-radius: 30px;
}

.tablebox-inner-bg {
    background: #030331;
    padding: 30px;
    background-size: 100% 100%;
    border-radius: 10px;
}

.table-headline-shape {
    background: url(../images/table-headline-shape.webp) no-repeat center center;
    background-size: contain;
    padding: 18px 19px 16px 17px;
}

@media(min-width:768px){
    .section2 {
        padding: 100px 0;
        background: url(../images/limited-time-offer-table-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .tablebox-inner-bg {
        padding: 30px 15px 30px 15px;
        background-size: cover;
        border-radius: 30px;
    }
}

/* Section 2 Section End */

/* Section 3 Section Start */

.section3 {
    padding: 30px 0;
    background: #ffffff;
}

.odd-shape {
    background: #686bd8;
    padding: 10px 15px;
}

.even-shape {
    background: #eef4fb;
    padding: 10px 15px;
}
.price-shape {
    background: #ffffff;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}

.now-price {
    background: #FF4F17;
    padding: 12px 10px;
    border-radius: 65px;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
}

@media(min-width:768px) {
    .section3 {
        padding: 100px 0;
        background: url(../images/table-bg.webp) no-repeat center center;
        background-size: cover;
    }

}

/* Section 3 Section End */

/* RiskFree Section Satrt */

.riskfree-section {
    background: #e7e9fa url(../images/moneyback-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 150px 0px 30px 0px;
}

@media(min-width:768px){
    .riskfree-section {
        padding: 140px 0px 70px 0px;
    }
}

/* RiskFree Section End */

/* Second Header Section Start */

.second-header-section {
    padding: 30px 0 0px 0px;
    background: #e0eef9;
}

.step-shape {
    border: 3px solid #030331;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    width: 100%;
    float: left;
    padding: 20px;
    height: 100%;
    color: #fff;
}

@media (min-width:768px) {
    .second-header-section {
        background: #e0eef9 url(../images/cta-bg-new.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0 70px 0px;
    }
}

/* Second Header Section End */

/********Footer Section Start*********/

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media(min-width:767px) {
    .footer-section {
        padding: 50px 0px;
    }
}

/********Footer Section End*********/