html {
    scroll-behavior: smooth;
}

body {
   font-family: 'Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}

.black-clr {
    color: #000000;
}

.orange-clr {
    color: #ffca5a;
}
.orange-clr1{
    color: #f36f21;
}
.white-clr {
    color: #ffffff;
}

/* Header Section CSS */

.header-section {
    background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 30px 0 30px 0px;
}

.fifth-section {
	background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    padding: 30px 0px 30px 0;
}

@media(min-width:768px) {
    .header-section {
        background: #091274 url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 40px 0px 130px 0px;    
    }
    .fifth-section {
        background: #e5e4e4 url(../images/next-gen-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 200px 0 100px 0px;
    }
}

.second-section {
    padding: 30px 0px;
    background: #f8f6ff;
}
.second-section1 {
    padding: 30px 0px;
    background: #ffffff;
}

@media(min-width:768px) {
    .second-section {
        padding: 100px 0px 0px 0px;
        background:#e1e7f3 url(../images/second-sec-bg.webp) no-repeat;
        background-position: center center;
    }
	.second-section1 {
    padding: 100px 0px;
    background: #ffffff;
    }
}

.kapblue {
    color: #0063eb;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/

.white-section {
    background: #fff;
    padding: 30px 0;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 50px 0px;
    }
}

.probtn a {
    border-radius: 15px;
    background-image: -moz-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    box-shadow: 0px 10px 15px 0px rgb(246 82 121 / 15%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn a:hover {
    text-decoration: none;
    background: #fb7b55;
}

.probtn1 a {
    border-radius: 15px;
    background-image: -moz-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    box-shadow: 0px 10px 15px 0px rgb(246 82 121 / 15%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn1 a:hover {
    text-decoration: none;
    background: #fb7b55;
}

/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    border: 1px solid #2f0088;
    width: 100%;
    float: left;
    border-radius: 15px;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

.tbbg2-text {
    color: #fff;
}

.tbbg2 {
	background: rgb(9,20,120);
    background: -moz-linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    background: -webkit-linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    background: linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
    .probtn a {
        font-size: 38px;
        padding: 28px 30px;
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 30px;
    }
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #0041b5;
}

/*Table CSS Enad*/

.grey-section {
    background: #f8f6ff;
    padding: 30px 0;
}

.moneyback-section {
	background: rgb(9,20,120);
	background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
	background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
	padding: 30px 0;
	color: #ffffff;
}

.bonus-section {
    background: #ecebeb;
    background-size: cover;
    padding: 30px 0;
}

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

@media (min-width:768px) {
    .table-section {
        padding: 70px 0 100px 0px;
        background: url(../images/table-bg.webp) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .bonus-section {
        background: url(../images/bonus-bg.webp) no-repeat;
        background-size: cover;
        background-position: center bottom;
        padding: 70px 0px 120px 0px;
    }
    .moneyback-section {
        background: #e7e7e7 url(../images/moneyback-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0 100px 0px;
        color: #ffffff;
    }
}

/*-------- Responsive ------------*/

@media (min-width:768px) {
    .white-section {
        padding: 100px 0;
        background: url(../images/white-section-bg.webp) no-repeat;
        background-position: center center;
    }
    .grey-section {
        background:#ecebeb url(../images/orange-section-bg.webp) no-repeat;
        background-position: center center;
        padding: 100px 0;
    }
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

.blue-head {
    color: #0041b5;
}

.pre-shape {
    background: url(../images/pre-shape.webp) no-repeat center bottom;
}