html {
    scroll-behavior: smooth;
}
.masthead{
	background-image: url(../img/background1.webp);
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-bottom: 140px;
}

.home1 .video_box iframe {
	width: 100%;
	height: 400px;

}

.home1 .bg13{
	padding: 15px 30px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
  background-color: #ed1c24;
  border-radius: 30px;
}
.home1 .content_box table td svg{
	color: #dc072f;
}
.home1 .content_box table td{
	border: none;
	padding-bottom: 10px;
	padding-top: 0px;
	line-height: 22px;
}

.home1 .shadow1{
  background-color: #ffffff;
  padding: 10px 0;
  border-radius: 30px;

}

.home1 .row .content_box{
	padding: 15px 15px 15px 0;
}

.home1 .home1_video img{
	width: 300px;
	max-width: 300px;
}
.home1 .home1_video img.img_right{
	margin-left: -50px;
}
.home1_footer{
	padding-top: 100px;
	background-image: url('../img/background1_footer.webp');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}



.home2{
	background-image: url('../img/background2.webp');
	background-size: cover;
	background-position: bottom;	
	position: relative;
	z-index: 500;
}


.home2 .content .box_text1{
	padding: 30px;
	background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(165,165,165,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* ie10+ */
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#A5A5A5',GradientType=1 ); /* ie6-9 */
	border-radius: 15px;
}

.home2 .box_text{
	background-color: #fff;
	box-shadow: 30px 30px 100px 0px rgba(0,0,0,0.5);
	border-radius: 30px;
	padding: 70px 30px;
}
.home2 .box_text img{
	width: 70px;
} 

.home4{
  background:#0a061d;
  padding-top: 40px;
}
@media (min-width: 768px) {
    .home4{
		background:#EFF5F9 url('../img/background4.webp');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		position: relative;
		padding-top: 80px;
	  }
}
.home4 .top{
	background-color: #fa7819;
	border-radius: 40px;
	width: fit-content;
	text-align: center;
	padding: 15px 30px;
	margin: 0 auto;
	font-size: 28px;
	font-weight:700;

}
.home4 .box_set{
  background-color: rgb(237, 28, 36);
  max-width: 900px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 35px;
}

.home5{
	background-color: #EFF5F9;
}
.home5b{
	margin-top: -5%;
	background-image: url('../img/background5b.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}
.home6{
	background:#fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  padding-bottom: 5%;
}
.home6_footer{
	margin-top: -7%;
	position: relative;
	z-index: 100;
}

.home7{
	position: relative;
	z-index: 100;
	background:#EFF5F9;
	background-size: cover;
}

.home7 .color_white{
	color: rgba(255, 255, 255, 0.9);
}
.home9{
}
.home9 .content{
	margin-top:350px;
	padding: 25px;
	position: relative;
  border-style: solid;
  border-width: 15px;
  border-color: rgb(255, 165, 129);
  border-radius: 50px;
  background-color: rgb(254, 231, 188);

}

.home9 .content img{
	position: absolute;
	top: -300px;
	left: 0;
	right: 0;
}

.home9 .list ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.home9 .list ul li{
	font-size: 24px;
	margin-bottom: 15px;
}
.home9 .list ul li svg{
	 color: #ed1c24;
	 margin-right: 10px;
}

.home10{
	position: relative;
	z-index: 100;
	background-image: url('../img/background10.webp');
	background-size: cover;
}


.home-bg {
	background: url("../img/home3-bg.webp");
	background-size: cover;
}
.probtn1 a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    border-radius: 10px;
    background: var(--orange-gradient, linear-gradient(360deg, #ED1C24 0%, #FF813B 100%));
}

.probtn1 a:hover  {
    border-radius: 8px;
    background: var(--orange-gradient, linear-gradient(360deg, #FF813B 0%,#ED1C24 100%));
    color: #ffffff;
}

@media (min-width: 768px) {
    .probtn1 a {
		font-size: 30px;
		padding: 35px 25px;
		display: inline-block;
	}
	.home9 .list{
		padding-top: 150px;
	}
}
.moneyback-section {
    background: #1a243f;
    background-size: cover;
    padding: 30px 0;
    color: #ffffff;
}
@media (min-width: 768px){
.moneyback-section {
    background: #1a243f url(../img/background1.webp) no-repeat center center;
    background-size: cover;
    padding: 70px 0 70px 0px;
    color: #ffffff;
}
}

