/* Demo Section Start */
.demo-section {
    padding: 30px 0px;
    background: #0a071e;
}
@media (min-width: 768px) {
    .demo-section {
        padding:100px 0px;
        background: #eeeffa  url(../images/demo-section.webp) no-repeat center bottom;
        background-size: cover;
    }
}
/* Demo Section End */

/* Feature 1 Section Start */
.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}

.list-gap{
    --bs-gutter-y: 40px;
}
.list-gaps{
    --bs-gutter-y:30px;
}
.fea-white{
    padding:20px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(239 239 249);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.features-one {
	padding: 30px 0px;
}
.features-three {
	background: #efeff9;
	padding:30px 0px;
}
.features-twelve {
	padding:30px 0px;
    background: #0A071E;
}

@media (min-width:768px) {
    .features-twelve{
        background:url(../images/feature-bg12.png) no-repeat center center;        
	background-size:cover;
    }
    .features-one
     {        
		padding:100px 0px;
    }
    .features-twelve
     {        
		padding:80px 0px 140px 0px;
    }
    .features-three {
        padding: 100px 0px;
    }
    .list-gap{
        --bs-gutter-y: 80px;
    }
    .list-gaps{
        --bs-gutter-y:40px;
        --bs-gutter-x:40px;
    }
    .fea-white{
        padding:30px;
        height: 100%;
    }
}

