html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #121733;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.border-video {
	border-radius: 0px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.caveat{
    font-family: 'Caveat', cursive;
}

/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.black-clr {
    color: #121733;
}

.red-clr{
    color: #FF2C2C;
}
.yellow-clr {
    color: #ffaf41;
}
.green-clr{
    color:#1FE29F;
}

.blue-clr{
	color: #7764ff;
}

.purple-gradient {
    background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* Header Section Css Start */
.header-section {
	background: #0A071E;
    padding: 30px 0;
    position: relative;
    margin-top: 140px;
}

.header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
}

.header-section ul.leader-ul li a {
	color: #ffffff;
}

.affiliate-link-btn a {
	border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
}

.affiliate-link-btn a:hover {
	transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
}

.list-head {
	list-style: none;
}

.list-head li {
	background: url(https://cdn.oppyotest.com/launches/sellero/special/images/fav.webp) no-repeat;
	padding: 15px 0px 15px 35px;
	background-position: 0px 21px;
	text-align: left;
	border-bottom: solid 1px #091e42;
}

.list-head li:last-child {
	border-bottom: none;
}

.pre-heading {
	padding: 10px 30px;
    display: inline-block;
    border-radius: 50px;
    background: #fff;
    border: 4px solid #b665ff;
}

.head-design {
    background: #FFFFFF;
    border-radius: 0px 30px;
    padding:30px 15px 15px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.gametext {
    background: #1FE29F;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #121733;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -25px;
    z-index: 99;
    line-height: 30px;
}

.video-box {
    position: relative;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.video-box-testi {
    position: relative;
    border: 2px solid rgb(209 184 237);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
.img-rounded {
    border-radius: 100%;
    max-width: 200px;
    max-height: 200px;
}

@media (min-width:768px) {
	.header-section {		
		padding: 40px 0px 100px 0px;
        background: #fff url(https://cdn.oppyotest.com/launches/sellero/special/images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
	}
	.header-section ul.leader-ul {
		margin-top: 12px;
	}
	.affiliate-link-btn a {
		font-size: 20px;
	}
	.head-design {
        padding: 30px;
    }
	.gametext {
        background: url(https://cdn.oppyotest.com/launches/sellero/special/images/cutting-edge-bg.webp) center center no-repeat;
        padding: 10px 60px 15px 20px;
        font-size: 24px;
        background-size: 100% 100%;
        text-align: left;
        left: -6px;
    } 
}
@media (min-width: 1199px){
.header-section {
    margin-top: 100px;
}}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
   }
   .timer-header-top {
    background: #000;
    padding-top:10px;
    padding-bottom:10px; 
    }
/* Header Section Css End */

/* CTA Button Start */
a.cta-link-btn {
	border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
}

a.cta-link-btn:hover {
	transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    color: #ffffff;
}

@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 38px;
        padding: 28px 30px;
        display: inline-block;
        width:auto;
	}
}

/* CTA Button End*/

/* Step Section Start */

.step-section {
	padding: 30px 0px;
	background: #fff;
	
}
.steps-block {
    position: relative;
    height: 100%;
    padding: 20px 30px 20px 30px;
    border: 2px solid rgba(130, 100, 255, 0.3);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
@media (min-width: 768px) {
	.step-section {
		padding: 100px 0px ;
	}
}

/* Step Section End */


/* Proof Section Start */
.proof-section {
	padding: 30px 0px;
	background: #efeff9;
}

@media (min-width: 768px) {
	.proof-section {
		padding:150px 0px 100px 0px;
		background:#fff url(https://cdn.oppyotest.com/launches/sellero/special/images/proof-bg.webp) center top no-repeat;
		background-size: cover;
	}
}

/* Proof Section End */

/* Team Section Sart */
.awesome-sections {
	padding: 30px 0px;   
	background:#0c0719;
}

.trigger-block{
	background: #FFFFFF;
    padding: 10px 20px;
    border: 5px solid #7764ff;
    border-radius: 20px;
    display: inline-block;
    outline: 7px solid #fff;
}

.hithere{
    border-radius: 10px;
    background-color:#ffffff;
    display:inline-block;
	align-items: center;
	justify-content: center;
    padding:15px;
    position: relative;
    z-index: 1;
}
@media (min-width: 768px) {
	.awesome-sections {
		background:#edf4ff url(https://cdn.oppyotest.com/launches/sellero/special/images/awesome-shape.webp) no-repeat center center;
		background-size: cover;
		padding: 100px 0px;
	}
	.trigger-block {
		padding: 10px 40px;
		border-radius: 100px;
	}
	.hithere{
		margin: 0px 15px;
		padding:15px 50px;
	}
	.hithere::before{
		content: '';
		position: absolute;
		left: -15px;
		background-color:#7764ff;
		width: 10px;
		height: 100%;
		z-index: -1;
		border-radius: 10px 0px 0px 10px;
		top: 0px;
    }
    .hithere::after{
        content: '';
		position: absolute;
		right: -15px;
		background-color:#7764ff;
		width: 10px;
		height: 100%;
		z-index: -1;
		border-radius: 0px 10px 10px 0px;
		top: 0px;
    }
}

/* Team Section End */

/* Stats Section Start */
.stats-title{
	border-radius: 100px; /*1*/
	border: 5px solid #7764ff;
	border-radius: 50em;
	padding:10px;
	display: inline-block;
	box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
 
}
.stats-gradient{
	background: -webkit-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

@media(min-width:768px){
.stats-title{
	padding:10px 30px;
}
.sep-lines{
	position: absolute;
	top: 50px;
	left: calc(50% - 20px);
}
}
 /* Stats Section End */

/* Problem Section Start  */

 .problem-sec{
    padding: 30px 0px; 
    background: #0a071e;
}
.heading-design {
    background: #252525;
    padding: 20px;
    display: inline-block;
}
.option-design{
    background: #FF2C2C;
    border: 2px solid #FF2C2C;
    border-radius: 38.5px;
    display: inline-block;
    padding: 8px 10px;
}
.changing-box{
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
}
.mt-md120 {
    margin-top: 20px;
}
@media(min-width:768px){
    .problem-sec{
        background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/prob-sec-bg.webp) center center no-repeat; 
        background-size: cover; 
        padding: 100px 0px;
        background-attachment: fixed;
    }
    .heading-design {
		background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/heading-bg.webp) no-repeat center center;
		background-size: 100% 100%;
		padding: 70px 200px 70px 200px;
	}
    .option-design{
        padding: 8px 30px;
    }
    .changing-box{
        padding: 20px 35px;
    }
	.mt-md120 {
		margin-top: 120px;
	}
}

/* Not Anymore Section */
.thatsnotall-section{
    background-color: #fff;
    padding: 30px 0px;
}

.red-brush {
	padding: 10px 40px ;
	display: inline-block;
	background: #ee5252;
	border-radius: 15px;
}
.huge-shape {
    background: url(https://cdn.oppyotest.com/launches/sellero/special/images/here-are-some1.webp) no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 30px;
}
@media (min-width: 768px) {
    .thatsnotall-section{
        padding: 80px 0px;
        background-size: cover;
    }
	.red-brush {
		padding: 9px 45px 9px 30px;
		display: inline-block;
		background: url(https://cdn.oppyotest.com/launches/sellero/special/images/red-brush.png) no-repeat;
		border-radius: 0px
	}
	.thats-shape {
		padding: 15px;
		border-radius: 10px;
		background-color: rgb(242, 239, 249);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	}
	.huge-shape {
		padding: 50px;
		border-radius: 30px;
	}
}

/* Not Anymore Section Start */

.but-not-anymore{
    padding: 30px 0px;
}
@media(min-width:768px){
    .but-not-anymore{
        padding: 100px 0px;
        background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/but-not-anymore-bg.webp) no-repeat center center;
        background-size: cover;
    }
}

/* Proudly Section */

.proudly-sec{
    padding: 30px 0px; 
    background: #0a071e;
}
.proudly-head{
    background: #1FE29F;
    border-radius: 40px;
    padding: 9px 15px;
    display: inline-block;
}
.proudly-box{
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
}
@media(min-width:768px){
    .proudly-sec{
        padding: 100px 0px 200px 0px;
        background: url(https://cdn.oppyotest.com/launches/sellero/jv/images/presenting-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .proudly-head{
        padding: 9px 50px;
    }
    .proudly-box{
        padding: 30px;
    }
}

/* Testimonals Section Start */
.testimonial-section {
	background: #fff url(https://cdn.oppyotest.com/launches/sellero/special/images/testimonial-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.single-testimonial {
    background-color: #efeff9;
    text-align: center;
    position: relative;
    z-index: 2;
    border: 2px solid rgb(209 184 237);
    border-radius: 10px;
    padding: 20px 10px;
}
.st-img {
    display: inline-block;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
}
.stars a {
    padding-right: 8px;
    color: #FFC635;
}
.stars a i {
    font-size: 20px;
}
.testimonial-section2 {
	background: #eef5ff url(https://cdn.oppyotest.com/launches/sellero/special/images/testimonial-bg.webp) no-repeat center center;
    background-size: cover;
	padding: 30px 0px;
}
.trigger-section {
    padding: 30px 0px;
    background: #080E20 url(https://cdn.oppyotest.com/launches/sellero/special/images/trigger-bg.webp) no-repeat center center;
    background-size: cover;
}
.trigger-features-section {
    padding: 30px 0px;
    max-width: 95%;
    margin: 20px auto 0px auto;
    background: url(https://cdn.oppyotest.com/launches/sellero/special/images/trigger-feature-bg.webp) no-repeat top center;
    border-radius: 30px;
    background-size: cover;
}
.customizable-section {
    background: url(https://cdn.oppyotest.com/launches/sellero/special/images/customizable-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 30px 0px;
}
.customizable-list-box {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgb(0 0 0 / 20%);
    border-radius: 20px;
    border: 5px solid rgba(164, 229, 248, 1);
    box-shadow: -5px 5px 10px rgb(0 0 0 / 20%);
    border-radius: 50px;
}
@media (min-width:768px) {
	.testimonial-section2 {
		padding: 100px 0px;
	}

	.testimonial-section {
		padding:100px 0px;
	}
	.single-testimonial {
		border-radius: 30px;
		padding: 30px;
		height: 100%;
	}
	.st-img {
		margin-top: -150px;
	}
    .trigger-section {
        padding: 100px 0px;
    }
    .trigger-features-section {
        padding: 100px 0px;
        max-width: 85%;
        margin: 0px auto;
        border-radius: 50px;
    }
    .customizable-section {
        padding: 100px 0px;
    }
    .customizable-list-box {
        height: 100%;
        padding: 30px 20px;
    }
}
@media (min-width: 1600px){
.trigger-features-section {
    max-width: 77%;
    border-radius: 30px;
}}
/* Testimonals Section End */

/* PLatform Section */
.platform-section {
	padding: 30px 0px;
	background: #fff;
}
.platform-box {
	padding: 40px 20px;
	height: 100%;
	border-width: 2px;
	border-color: rgb(10, 28, 141);
	border-style: solid;
	border-radius: 20px;
	background-color: rgb(255, 255, 255); 
}
@media (min-width: 768px) {
	.platform-section {
		padding:100px 0px ;
	}
}

/* PLatform Section End */

/* thats-not-all-section */
.thats-not-all-section{
	background: #eef5ff;
	padding: 30px 0px;
}

@media (min-width:768px) {
	.thats-not-all-section{
		padding:100px 0px;
	}
}
/* thats-not-all-section End */


img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

.thatsall-section {
    padding: 30px 0px;
    background: #EFEFF9;
}

.content-box {
    background: #EFEFF9;
	border: 1px solid #AF64FF;
	border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;
    /* padding: 20px 0px; */
}
.content-box .stats {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    color: #ffffff;
    min-width: 120px;
    justify-content: center;
    text-align: center;
    border-radius: 1;
    border-top-right-radius: 100%;
    line-height: 38px;
    border-bottom-right-radius: 100%;
	background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
}

.content-box .title {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    text-transform: capitalize;
    padding: 20px 10px;
}

@media(min-width:768px){
	.thatsall-section {
		padding:100px 0px;
	}
	.content-box .title {
		font-size: 20px;
    line-height: 34px;
	}
}

.reliable-sec{
	background: #09061c;
	padding: 30px 15px;
	border-radius: 20px;
}
.but-design{
	background: #121733;
	border-radius: 20px;
	padding: 10px 15px;
	display: inline-block;
}
@media(min-width:768px){
	.reliable-sec{
		background: url(https://cdn.oppyotest.com/launches/sellero/special/images/technology-bg.webp) no-repeat center center;
		background-size:  100% 100%;
		padding: 80px 50px;
	}
	.but-design{
		border-radius: 50px;
		padding: 10px 30px;
	}
}

.bought-sec{
	padding: 30px 0px;
}
@media(min-width:768px){
	.bought-sec{
		padding: 100px 0px;
	}
}

.no-comparison{
	padding: 30px 0px;
	background: #efeff9;
}
@media(min-width:768px){
	.no-comparison{
		padding: 100px 0px;
	}
}

.second-section{
	padding: 30px 0px;
}
.feature-list {
    background: url(https://cdn.oppyotest.com/launches/sellero/special/images/fav.webp) no-repeat;
    background-position: 0px 4px;
    padding: 0px 0px 15px 40px;
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.amazing-feature-sec{
    padding: 30px 0px;
}
.purple-design{
    padding: 10px 30px;
    display: inline-block;
    border-radius: 20px;
    background: #fff;
    border: 4px solid #b665ff;
}
.upgrade-design{
    background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    border-radius: 38.5px;
    display: inline-block;
    padding: 8px 10px;
}
@media(min-width:768px){
	.second-section{
		padding:0px 0px 80px 0px;
	}
    .amazing-feature-sec{
        background: url(https://cdn.oppyotest.com/launches/sellero/special/images/amazing-feature-bg.png) no-repeat top center;
        background-size: cover;
        padding: 140px 0px 80px 0px;
    }
    .upgrade-design{
        padding: 8px 30px;
    }
}

.problme-area-shape {
    width: 100%;
    float: left;
    padding: 15px;
    border-radius: 20px;
    background-color: #DBDBEC;
    z-index: 0;
    margin-top: -20px;
}

@media (min-width: 768px){
	.problme-area-shape {
		width: calc(100% + 120px);
		float: left;
		padding: 30px 30px 30px 120px;
		margin-left: -120px;
		z-index: 0;
		margin-top: 0px;
	}
}
.second-sec-list{
	border-top: 0px !important;
	border:2px solid #9a64ff;
    padding: 100px 50px;
    border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.z-index9{
	z-index: 9;
}

.answer-sec{
	background: #EFEFF9;
	border: 1px solid #C8C8DF;
	border-radius: 20px;
	padding: 30px;
}
.more-feature-sec{
	background: #EFEFF9;
	background-size: cover;
	padding: 30px 0px;
}
.one-time-shape {
    background: url(https://cdn.oppyotest.com/launches/sellero/special/images/one-time-shape.webp) no-repeat center center;
    padding: 7px 15px 53px 16px;
    display: inline-block;
    background-size: 100% 100%;
}
.huge-opportunity-shape {
    background: #eef5ff;
    border-radius: 15px;
    padding: 15px;
}
.features-headline {
    background: url(https://cdn.oppyotest.com/launches/sellero/special/images/feature-headline.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 60px 0px;
}
 
@media(min-width:768px){
	.more-feature-sec{padding: 100px 0px;}
    .one-time-shape {
        padding: 7px 15px 40px 16px;
        display: block;
        background-size: auto;
    }
    .huge-opportunity-shape {
        background: url(https://cdn.oppyotest.com/launches/sellero/special/images/huge-opportunity-shape.webp) no-repeat center center;
        background-size: 100% 100%;
        border-radius: 0px;
        padding: 70px 40px 70px 40px;
    }
    .features-headline {
        padding: 80px 0px;
    }
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.boxborder-rb {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.boxborder-b {
    border-bottom: 1px solid #000;
}

.boxborder-r {
    border-right: 1px solid #000;
}
@media(max-width:768px){
	.boxborder {
        border: 1px solid #000;
        border-top: 0px;
        padding: 20px;
    }
    .top-first {
        border: 1px solid #000;
    }

}
@media (min-width: 768px) {
	.boxbg {
        height: 300px;
        padding: 15% 0% 20%;
    }
}

.potential-sec {
	background: #f4f3f9 url(https://cdn.oppyotest.com/launches/sellero/special/images/potential-bg.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 0px 100px 0px;
}

.never-ending {
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
    background: #ffffff;
    border-radius: 0px;
    padding: 15px 5px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:768px) {
    .potential-sec {        
		padding: 100px 0px;
    }
    .never-ending {
        padding: 20px 7px;
    }
}

.feature-list-box {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border-bottom: 7px solid #7764FF;
}
.gap30 {
	--bs-gutter-y: 10px;
}
.feature-list-box:hover{
	-webkit-animation-name: wobble;
    animation-name: wobble;    
    -webkit-animation-duration:          0.8s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;
}
@-webkit-keyframes wobble {
	0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
  }
  
  @keyframes wobble {
	0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
  }
  .support-img:hover img{-webkit-animation-name: wobble;
    animation-name: wobble;    
    -webkit-animation-duration:          0.8s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;}

@media (min-width:768px) {
	.feature-list-box {
		height: 100%;
		padding: 30px;
	}
	.gap30 {
		--bs-gutter-y: 50px;
	}}

    .bx-wrapper {
        border: 0px !important;
        background:transparent !important;
        box-shadow:none !important;
        padding: 0 !important;
        margin: 0 !important;	
        position:relative;
        
    }
    .bx-viewport{position:relative !important;}
    .bxslider {
      background:transparent !important;
      color: #fff;
      text-align: center;
      padding: 0;
      margin: 0;
      border: 0px !important;
      font-weight:600;
      position:relative;
    }
    .bxslider li{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-height:76px;
        line-height:32px;
        text-align:left;
    }
    .bxslider li .text{margin-left:15px;}
    .text-clr1{color:#FF9897;}
    .text-clr2{color:#FF9897;}
    .text-clr3{color:#FF9897;}
    .text-clr4{color:#FF9897;}

    .elearning-sec{
        background: #f1f1f1 ;
        padding: 30px 0px;
    }
    .head-design-red {
        background: url(https://cdn.oppyotest.com/launches/sellero/special/images/head-bg.webp)no-repeat center center;
        background-size: 100% 100%;
        display: inline-block;
        padding: 5px 35px;
    }
    .demo-text {
        position: relative;
    }
    .didyouknow-box {
        background: #fff;
        box-shadow: 1px 2px 3px 4px #f1f1f1;
        border-radius: 20px;
        padding: 20px;
    }
    .didyouknow-sec {
        padding: 30px 0px;
        background: #ffffff;
    }
    .high-converting-list li {
        background: url(https://cdn.oppyotest.com/launches/sellero/special/images/orange-tick.webp) no-repeat;
    background-position: 5px -2px;
    padding-left: 50px;
    margin-bottom: 21px;
    list-style-type: none;
    }
    .truth-box {
        background: url(https://cdn.oppyotest.com/launches/sellero/special/images/truth-bg.webp) center center no-repeat;
        background-size: 100% 100%;
        padding: 30px 50px;
        display: inline-block;
    }
    .power-shape {
        background: #fff;
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
        border-radius: 20px;
        padding: 20px;
    }
    .enough-sec {
        padding: 30px 0px;
        background: #efeff9;
    }
    @media(min-width:768px){
        .elearning-sec{
            padding: 100px 0px;
        }
        .enough-sec {
            padding: 100px 0px 100px 0px;
            background: #efeff9;
            background-size: cover;
        }
        .power-shape {
            border-radius: 100px;
        }
        .head-design-red {
            padding: 5px 70px;
        }
        .demo-text:before {
            position: absolute;
            content: url(https://cdn.oppyotest.com/launches/sellero/special/images/left-arrow.webp);
            bottom: -65px;
            left: 70px;
        }
        .demo-text:after {
            position: absolute;
            content: url(https://cdn.oppyotest.com/launches/sellero/special/images/right-arrow.webp);
            bottom: -65px;
            right: 70px;
        }
        .didyouknow-box {
            padding: 50px;
        }
        .didyouknow-sec {
            padding: 50px 0px 100px 0px;
            background: #efeff9;
            background-size: cover;
        }
        .truth-box {
            padding: 50px;
        }
        .high-converting-list li {
            
            background-position: 49px -6px;
            padding-left: 100px;
            margin-bottom: 21px;
            list-style-type: none;
        }
    }
