html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}

.black-clr {
    color: #000000;
}

span.under {
    border-bottom: 4px solid;
}

.orange-clr {
    color: #ffca5a;
}

.white-clr {
    color: #ffffff;
}

/* Header Section CSS */

.header-section {
    background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 30px 0;
}

.fifth-section {
    background: -moz-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    padding: 30px 0;
}

@media(min-width:768px) {
    .header-section {
        background: #091274 url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 40px 0px 130px 0px;
    }
    .fifth-section {
        background: rgb(255 255 255) url(../images/proudlybg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 100px 0 100px 0px;
    }
}

.second-sec {
    padding: 30px 0;
}

@media(min-width:768px) {
    .second-sec {
        padding: 100px 0px;
        background: url(../images/white-section-bg.webp) no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.blue-clr {
    color: #0041b5;
}

.kapblue {
    color: #0041b5;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
}

.probtn1 a{
    border-radius: 15px;
    background-image: -moz-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    box-shadow: 0px 10px 15px 0px rgb(246 82 121 / 15%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn1 a:hover {
    text-decoration: none;
    background: #fb7b55;
}

@media (min-width: 768px) {
    .probtn1 a {
        font-size: 28px;
        padding: 28px 30px;
        width: auto;
    }
}


/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #cacaca;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    background: #1c098e;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    position: relative;
}

.tbbg2 {
    background: url(../images/start-plan-bg.webp) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #cacaca;
}

.tbbg3 {
    background: rgb(9,20,120);
    background: -moz-linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    background: -webkit-linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    background: linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #4600a2;
}

@media (min-width: 768px) {
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
    border: solid 1px #cacaca;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    color: #0041b5;
}

.thanks-button a:hover {
    text-decoration: none;
}

@media(min-width:768px) {
    .myfeatureslast {
        padding: 30px 20px;
    }
}

/*Table CSS Enad*/

.grey-section {
    background: #ecebeb url(../images/orange-section-bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}

.table-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .table-section {
        padding: 100px 0;
    }
}


/*-------- Responsive ------------*/

@media (min-width:768px) {
    .grey-section {
        background: #ecebeb url(../images/orange-section-bg.webp) no-repeat;
        background-size: cover;
        background-position: center;
        padding: 100px 0;
    }
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

.boxes {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
}

ul.bigboxes {
    margin: 0px;
    padding: 0px;
}

.bigboxes li {
    background: url(../images/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
}

ul.bigboxes1 {
    margin: 0px;
    padding: 0px;
}

.bigboxes1 li {
    background: url(../images/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .boxes {
        padding: 50px;
    }
}

.footer-ul li:hover a {
    color: #fff;
}
.pre-shape {
    background: url(../images/pre-shape.webp) no-repeat center bottom;
}