html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #08041e;
    font-size: 14px;
	overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}

.orange-clr {
	color: #FF4F17;
}

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

/* Header Section Start */

.header-section {
    background-color: #fff;
    padding: 5% 0;
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px;
    }
}

/* Header Section End */


/********features*********/

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

a.lightred {
    color: #FF9315;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
}
