/* Demo Section Start */
.demo-section {
	padding: 30px 0px;
    background: #02071c ;
}
@media (min-width: 768px) {
    .demo-section {
        padding:100px 0px;
        background: url(../images/demo-section.webp) no-repeat center center;
        background-size: cover;
    }
}
/* Demo Section End */

/* Feature 1 Section Start */
.features-headline {
    padding: 30px 0;
    background-color: #fff;
}
.features-section{
    padding:30px 0px;
    margin: 20px auto 0px auto;
    border-radius: 15px;
}
    
@media (min-width:768px) {
    .features-headline
     {        
		padding:100px 0px;
    }
    .features-section{
        padding:50px 0px 100px 0px;
        margin:0px auto;
    }
}


