html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}
.rubik{
    font-family: 'Rubik', sans-serif;
}
.caveat{
	font-family: 'Caveat', cursive;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #14142A;
}
.black-clr1{
	color: #152028;
}
.orange-clr {
	color: #F2A736;
}

.red-clr{
	color: #EF3E3A;
}

.blue-clr{color: #2447a2;}

.orange-gradient{
	background: linear-gradient(180deg, #EF9823 0%, #F0592D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

span.under {
    border-bottom: 4px solid;
}
.under{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #462DBC, #8D2DBC, #CF33D5);
    border-image-slice: 1;
}
span.under1 {
    border-bottom: 4px solid;
}
.under1{
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(180deg, #EF9823 0%, #F0592D 100%);
	border-image-slice: 1;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
	border-radius: 20px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
<<<<<<< HEAD
}
=======
}       
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5

/* Header CSS */
.header-section {
	background:  #eff5f9 url(../images/header-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px ;
}
<<<<<<< HEAD

.gametext {
    background: #fdbe39;
    padding: 10px 30px;
    border-radius: 15px 15px 0px 0px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #000000;
    font-weight: 700;
    font-size: 22px;
=======
.gametext {
    background: #085094;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -52px;
    line-height: 30px;
    left: 84px;
    transform: skew(-10deg);
    border-radius: 5px;
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
}

.preheadline {
	display: inline-block;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 35px;
}

.main-heading {
    background: transparent;
    background-size: cover;
    padding: 20px;
	position: relative;
    z-index: 9;
    top: -5px;
}

ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
	font-weight: 400;
	color: #ffffff;
}

ul.leader-ul li:hover a {
	transition: 0.5s all ease-in;
	color: #fff !important;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}


.header-section ul.leader-ul li .active {
	transition: 0.5s all ease-in;
	color: #fff;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}

.header-section ul.leader-ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}

a.affiliate-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	color: #ffffff !important;
	font-weight: 600;
	font-family: 'Rubik', sans-serif;
	background: linear-gradient(180deg, #F05F2C 0%, #EF9224 100%);
	border-radius: 15px;
	transition: 0.5s;
    -webkit-box-shadow: 3px 10px 41px -14px rgb(0 0 0 / 69%);
    -moz-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
    box-shadow: 3px 10px 41px -14px rgb(0 0 0 / 69%);
}

a.affiliate-link-btn:hover {
	background: linear-gradient(180deg, #EF9224 0%, #F05F2C 100%);
}

.key-features-bg {
    padding: 0px 20px 20px;
    position: relative;
    width: 100%;
    text-align: center;
    border-radius: 15px;
}

.list-head li {
    background: url(../images/fav.webp) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 16px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    list-style-type: none;
}
.list-head li:last-child{
	border-bottom: 0px;
}

@media(min-width:768px) {
	a.affiliate-link-btn {
		padding: 15px 25px;
		font-size: 18px;
	}

	.header-section {
		padding: 50px 0px 60px 0px;
	}

	ul.leader-ul li {
		display: inline-block;
		padding: 0px 15px;
		font-weight: 400;
		color: #ffffff;
	}
	.preheadline {
		padding: 15px 30px;
	}
	.main-heading {
		background: url(../images/heading-design.webp) no-repeat center center;
		background-size: 100% 100%;
		padding: 35px 45px 35px 44px;
	}
	.gameimg {
		position: absolute;
		top: -61px;
		z-index: 9999;
		left: -8px;
	}
}

/* Header End */
.second-section {
    padding: 30px 0;
    background: url(../images/second-bg.webp) center center no-repeat;
	background-size: cover;
}
@media(min-width:768px){
	.second-section {
<<<<<<< HEAD
		padding: 100px 0px;
=======
		padding: 100px 0px 80px 0px;
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
	}
}

/* CTA Button Start */
a.cta-link-btn {
	padding: 15px 12px;
	border: none;
	width: 100%;
	font-size: 16px;
	line-height: 140%;

	text-decoration: none;
    text-align: center;
    display: block;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(180deg, #F05F2C 0%, #EF9224 100%);
    border-radius: 15px;
    transition: 0.5s;
    -webkit-box-shadow: 3px 10px 41px -14px rgb(0 0 0 / 69%);
    -moz-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
    box-shadow: 3px 10px 41px -14px rgb(0 0 0 / 69%);
}

a.cta-link-btn:hover {
	background: linear-gradient(180deg, #EF9224 0%, #F05F2C 100%);
}

@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 30px;
		padding: 28px 60px;
		display: inline-block;
		width: auto;
	}
}

/* CTA Button End*/

/* Step Section Start */
.step-section {
<<<<<<< HEAD
	padding: 30px 15px;
	background: #EFF5F9;
	position: relative;
}
.steps-icon{
	position: relative;
}
=======
	padding: 30px 0px;
	background: #EFF5F9;
}
.steps-icon{
	position: relative;
}
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
.steps-icon::after{
	position: absolute;
	content: url(../images/step-arrow.webp);
	top: 8px;
	right: -50px;
}
.ele1 {
<<<<<<< HEAD
    position: absolute;
    bottom: 0px;
    left: -120px;
=======
	position: absolute;
    bottom: -102px;
    left: -205px;
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
    animation: 2s ease-in-out 0s infinite alternate none running mover1;
}

@-webkit-keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}
@keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}

@media (min-width: 768px) {
	.step-section {
		padding: 100px 0px;
	}

}

/* Step Section End */

/* Proof Section Start */
.proof-section {
    padding: 30px 0px;
<<<<<<< HEAD
    background: #ffffff;
=======
    background: url(../images/proof-bg.webp) center center;
	background-size: cover;
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
}
@media(min-width:768px)
{
	.proof-section {
		padding: 100px 0px;
	}
}

/* Did You Know Section Start */
.didyouknow-sec {
	padding: 30px 0px;
	background: #ffffff;
}

.didyouknow-box{
	background: #fff;
    box-shadow: 1px 2px 3px 4px #f1f1f1;
    border-radius: 20px;
	padding: 20px;
}

.youknow-block {
	background: #FFC01F;
	border-radius: 15px;
	padding: 15px;
	display: inline-block;
}
.head-design{
	background: url(../images/head-bg.webp)no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    padding: 5px 35px;
}

@media(min-width:768px) {
	.didyouknow-sec {
		padding: 50px 0px 100px 0px;
		background:#fff url(../images/didyouknow-sec.webp) no-repeat center top;
		background-size: cover;
	}
	.didyouknow-box{
		padding: 50px;
	}
	.youknow-block {
		padding: 24px 88px 45px 88px;
		background: url(../images/know-shape.webp) no-repeat center center;
		background-size: contain;
	}
	.head-design{padding: 5px 70px;}
}

/* Did You Know Section End */

/* Testimonals Section Start */
.testimonial-section{
	background: url(../images/testimonial-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
}
.single-testimonial {
	text-align: center;	
	position: relative;
	z-index: 2;
<<<<<<< HEAD
	padding: 50px;
=======
	padding: 20px;
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
	background: #060C26;
    border-radius: 15px;
}

@media(min-width:768px){
	.testimonial-section{
		padding: 100px 0px ;
<<<<<<< HEAD
=======
	}
	.single-testimonial{
		padding: 50px;
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
	}
}
/* Testimonals Section End */

<<<<<<< HEAD
/* Presenting Section Start */
.presenting-sec{
	padding: 60px 0px 30px 0px;
    background: #03071D;
}
@media(min-width:768px){
	.presenting-sec{    
		padding: 180px 0px 100px 0px;
		background: url(../images/introducing.webp) no-repeat top center;
		background-size: cover;
		z-index: 999;
		position: relative;}

}

/* Presenting Section End */

=======
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
/* List Section Start */

.gap30 {
	--bs-gutter-y: 30px;
}
.feature-list-box {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background: #FFFFFF;
	box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	border-bottom: 7px solid #F05F2C;
}

.feature-list-box:hover{
	-webkit-animation-name: wobble;
    animation-name: wobble;    
    -webkit-animation-duration:          0.8s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;
}
@-webkit-keyframes wobble {
	0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
  }
  
  @keyframes wobble {
	0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
  }

@media(min-width:768px){
	.gap30 {
		--bs-gutter-x: 50px;
		--bs-gutter-y: 50px;
	}
	.feature-list-box {
		height: 100%;
		padding: 30px;
	}

}
/* List Section End */


.problem-sec {
    padding: 30px 0px;
    background: url(../images/problem-bg.webp) no-repeat center center;
    background-size: cover;
}
.heading-design {
    background: #2c3041;
    padding: 20px;
    display: inline-block;
}

@media(min-width:768px){
	.problem-sec {
		padding:  100px 0px;
	}
	.heading-design {
		background: url(../images/heading-bg.webp) no-repeat center center;
		background-size: 100% 100%;
		padding: 50px 200px;
	}
}

/* Fact Section Start */

/* Fact Section End */

.st-img{
	display: inline-block;
    margin-top: -150px;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
}
.stars {display: inline-block; text-align: center;}
.stars a {padding-right: 8px; color: #FFC635;}
.stars a:last-child{padding-right: 0px;}
.stars a i{font-size: 20px;}

.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
	backdrop-filter: blur(10px);
	border-radius: 20px;
}

.demo-text{position: relative;}
<<<<<<< HEAD
.demo-text:before{
	position: absolute;
	content: url(../images/left-arrow.webp);
	bottom: -65px;
	left: 70px;
}
.demo-text:after{
	position: absolute;
	content: url(../images/right-arrow.webp);
	bottom: -65px;
	right: 70px;
}
=======

>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
.hi-their{
	padding: 30px 0px;
	background: #F4F6FD;
}
@media(min-width:768px){
	.hi-their{
		padding: 100px 0px;
	}
<<<<<<< HEAD
=======
	.demo-text:before{
		position: absolute;
		content: url(../images/left-arrow.webp);
		bottom: -45px;
		left: 10px;
	}
	.demo-text:after{
		position: absolute;
		content: url(../images/right-arrow.webp);
		bottom: -45px;
		right: 10px;
	}
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
}

.change_forever{
	padding: 30px 0px;
	background:url(../images/change-forever-bg.webp) center center;
	background-size: cover;
}
.change_forever-box{
	background: #346277;
	border-radius: 20px;
	padding: 0px 20px 20px 20px;
}
.scary-container {
    position: relative;
    padding:20px;
}
.scary-container::before {
    content: "";
    background: #fff;
	opacity: 0.1;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    border-radius: 20px;
}
.scary-box {
    position: relative;
    z-index: 2;
}
.border-radius-20{
 border-radius:20px;   
}

@media(min-width:768px){
	.change_forever{
		padding: 100px 0px;
	}
	.change_forever-box{
		border-radius: 40px;
		padding: 0px 50px 50px 50px;
	}
	.scary-container {
		padding:50px;
	}
}

/* Short-Section Start */
.short-videos{padding:30px 0px;
	background: #EFF5F9;
}
.know-list li {
<<<<<<< HEAD
    background: #fff url(../images/check-mark1.webp) no-repeat;
    background-position: 20px 18px;
    padding-left: 46px;
    margin-bottom: 20px;
    list-style-type: none;
    min-height: 26px;
    border: 2px solid #EF9823;
    border-radius: 20px;
    padding: 20px 20px 20px 70px;
=======
    background: url(../images/check-mark1.webp) no-repeat;
    background-position: 20px 18px;
    padding-left: 46px;
    /* margin-bottom: 20px; */
    list-style-type: none;
    min-height: 26px;
    border-radius: 20px;
    padding: 20px 20px 20px 70px;
	word-break: break-word;
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
}
.know-list1 li {
	background: url(../images/check-mark1.webp) no-repeat;
    background-position: 0px 18px;
    list-style-type: none;
    min-height: 26px;
    padding: 20px 20px 20px 46px;
}
@media(min-width:768px){
	.short-videos{padding: 100px 0px;}
}

.imagine-sec{
	padding: 30px 0px;
	background: #fff;
}
.imagine-box{
    background: #0070b1;
    width: 100%;
    padding: 30px 30px 20px 30px;
    border-radius: 45px;
    -webkit-box-shadow: 3px 10px 41px -14px rgb(0 0 0 / 69%);
    -moz-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
    box-shadow: 3px 10px 41px -14px rgb(0 0 0 / 69%);
}
@media(min-width:768px){
<<<<<<< HEAD
	.imagine-sec{padding: 100px 0px;}
=======
	.imagine-sec{padding: 100px 0px 50px 0px;}
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
}

.truth-box{
	background: url(../images/truth-bg.webp) center center no-repeat;
	background-size: 100% 100%;
	padding:30px 50px;
	display: inline-block;
}
.enough-sec{
	padding: 30px 0px;
	background: #e2eeea;
}

@media(min-width:768px){
	.truth-box{
		padding: 50px;
	}
	.enough-sec
	{
		padding:150px 0px 100px 0px;
		background: url(../images/enough-bg.webp) top center no-repeat;
		background-size: cover;
	}
	.f-md-90{font-size: 90px;}
}

.high-converting-list li{
	background: url(../images/orange-tick.webp) no-repeat;
    background-position: 0 1px;
    padding-left: 50px;
    margin-bottom: 25px;
    list-style-type: none;
}

.trigger-block {
    background: #FFFFFF;
    padding: 10px 20px;
    border: 5px solid #EF3E3A;
    border-radius: 100px;
    display: inline-block;
    outline: 7px solid #fff;
}
.butnotanymore-sec {
    padding: 30px 0px;
    background: #fff url(../images/butnotanymore-bg.webp) no-repeat center center;
    background-size: cover;
    position: relative;
}
@media(min-width:768px){
	.butnotanymore-sec {
		padding: 100px 0px 170px 0px;
	}
	.trigger-block{padding: 10px 40px;}
}

.downarrow {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
@keyframes bounce{
	0% {
		transform:  translate(1px,20px)  ;
	  }
	  24% {
		transform:  translate(1px,30px)  ;
	  }
	  50% {
		transform:  translate(1px,12px)  ;
	  }
	  74% {
		transform:  translate(1px,22px)  ;
	  }
	  100% {
		transform:  translate(1px,22px)  ;
	  }
}
.faster-sec{padding: 30px 0px;
	background: #f0f0f0;
}
.faster-box{
	padding: 20px;
	background: #FFFFFF;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
<<<<<<< HEAD
=======
	position: relative;
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
}
@media(min-width:768px){
	.faster-sec{
		padding:100px 0px;
		background: #02071c url(../images/faster-bg.webp) center bottom no-repeat;
	background-size: cover;
	}
	.faster-box{
		padding: 50px;
	}
}

.thats-all-section{
	padding: 30px 0px;
	background: url(../images/not-all-bg.webp) center center no-repeat;
	background-size: cover;
}
.silver-plate{
	background: url(../images/frame.webp) center center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 30px;
}
@media(min-width:768px){
	.thats-all-section{padding: 100px 0px;}
	.silver-plate{padding: 50px;}
}

.solution-section{
	padding: 30px 0px;
	background: #e3eff8;
}
@media(min-width:768px){
	.solution-section{
		padding: 100px 0px;
		background: url(../images/solution-bg.webp) center bottom no-repeat;
		background-size: cover;
	}
}

.trigger-section {
    padding: 30px 0px;
    background: #080E20 url(../images/trigger-bg.webp) no-repeat center center;
    background-size: cover;
}

.trigger-features-section {
    padding: 30px 0px;
    max-width: 95%;
    margin: 20px auto 0px auto;
    background: url(../images/trigger-feature-bg.webp) no-repeat top center;
    border-radius: 30px;
    background-size: cover;
}
@media(min-width:768px){
	.trigger-section {
		padding: 100px 0px;
	}
	.trigger-features-section {
		padding: 100px 0px;
		max-width: 85%;
		margin: 0px auto;
		border-radius: 50px;
	}
}
@media(min-width:1600px){
	.trigger-features-section {
		max-width: 77%;
		border-radius: 30px;
	}
}

.customizable-section {
    background: url(../images/customizable-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 30px 0px;
}

.customizable-list-box {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgb(0 0 0 / 20%);
    border-radius: 20px;
    border: 5px solid rgba(164, 229, 248, 1);
    box-shadow: -5px 5px 10px rgb(0 0 0 / 20%);
    border-radius: 50px;
}
@media (min-width: 768px){
	.customizable-section {
		padding: 100px 0px;
	}
	.customizable-list-box{
		height: 100%;
    	padding: 30px 20px;
	}
}
.white-section{
	padding: 30px 0px;
}
.blue-section{
	padding: 30px 0px;
	background: url(../images/blue-bg.webp) center center no-repeat;
	background-size: cover;
}
.blue-section1{
	padding: 30px 0px;
	background: url(../images/blue-bg1.webp) center center no-repeat;
	background-size: cover;
}
.connect-funnel{
	padding: 30px 0px;
	background: url(../images/connect-funnel-bg.webp) center center no-repeat;
	background-size: cover;
}
@media(min-width:768px){
	.white-section{
		padding: 100px 0px;
	}
	.blue-section{
		padding: 100px 0px;
	}
	.blue-section1{
		padding: 100px 0px;
	}
	.connect-funnel{
		padding: 100px 0px;
	}
}

.more-feature-sec{
	background: url(../images/more-feature-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
}
@media(min-width:768px){
	.more-feature-sec{padding: 100px 0px;}
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.boxborder-rb {
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.boxborder-b {
    border-bottom: 1px solid #ffffff;
}

.boxborder-r {
    border-right: 1px solid #ffffff;
}
@media(max-width:768px){
	.boxborder {
        border: 1px solid #ffffff;
        border-top: 0px;
        padding: 20px;
    }
    .top-first {
        border: 1px solid #ffffff;
    }

}
@media (min-width: 768px) {
	.boxbg {
        height: 300px;
        padding: 15% 0% 20%;
    }
}

.no-comparison{
	padding: 30px 0px;
}
@media(min-width:768px){
	.no-comparison{
		padding: 100px 0px;
		background: url(../images/no-comparison-bg.webp) center center no-repeat;
		background-size: cover;
	}
}

.automated-funnels{
	padding: 30px 0px;
	background: #fff9f2;
}
@media(min-width:768px){
	.automated-funnels{
		padding: 100px 0px;
	}
}
.unfair-advantages{
	padding: 30px 0px;
}
@media(min-width:768px){
	.unfair-advantages{padding:100px 0px 20px 0px;}
}
.built-email{
	padding: 30px 0px;
	background: #fff6eb;
}
@media(min-width:768px){
	.built-email{padding:100px 0px;}
}

.power-shape{
<<<<<<< HEAD
	background: #fff9f2;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
=======
	background: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
    border-radius: 20px;
	padding: 20px;
}
@media(min-width:768px){
	.power-shape{
		border-radius: 100px;
	}
}

.img-rounded{
	border-radius: 100%;
}

.steps-block {
    position: relative;
    height: 100%;
    padding: 30px;
    background: url(../images/step-steps-bg.webp) no-repeat center center;
	background-size: 100% 100%;
    text-align: center;
}

.gif-border{
	backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2px;
    background: #212121;
}

.option-white-shape {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 30px 20px 20px 20px;
    position: relative;
}

@media (min-width: 768px){
	.option-white-shape {
		border-radius: 20px;
		background-color: rgb(255, 255, 255);
		padding: 100px 30px 40px 30px;
	}
	.right-shape {
		position: absolute;
		left: 14%;
		top: -15%;
		background: url(https://cdn.oppyo.com/launches/vocalic/special/right-shape.webp) center center no-repeat;
		background-size: cover;
		padding: 26px 90px 50px 90px;
	}
}

/* Presenting Section Start */
.presenting-sec{
<<<<<<< HEAD
	padding: 30px 0px;
=======
	padding: 50px 0px 30px 0px;
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
	background: #fff url(../images/presenting-bg.webp) no-repeat top center;
	background-size: cover;
}

.presenting-head{
	background: #263C7E;
	border-radius: 40px;
    display: inline-block;
    padding: 8px 50px;
}
.ele3{
	position: absolute;
	top: 35%;
    right: 10%;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}
@media(min-width:768px){
	.presenting-sec{padding: 100px 0px;}

}

/* Presenting Section End */

.features-section {
    padding: 30px 0px;
    max-width: 95%;
    margin: 20px auto 0px auto;
    background-color: #F4F6FD;
    border-radius: 15px;
}
@media(min-width:768px){
	.features-section{
		padding: 100px 0px;
    max-width: 95%;
    margin: 0px auto;
	}
}

.usernotusing-sec{
	padding: 30px 0px;
}
@media(min-width:768px){
	.usernotusing-sec{
		padding: 100px 0px;
		background: #EFF5F9;
	}
}

.butnotanymore-section{
	padding: 30px 0px;
}
.but-head{
	position: relative;
	display: inline-block;
}
@media(min-width:768px){
	.butnotanymore-section{
		padding: 100px 0px;
	}
	.but-head::before{
		position: absolute;
		content: url(../images/red-cross.webp);
		left: -70px;
		top: 0px;
	}
	.but-head::after{
		position: absolute;
		content: url(../images/red-cross.webp);
		right: -70px;
		top: 0px;
	}
}
.feature-wrapper{
	display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    gap: 15px;
    text-align: left;
    height: 100%;
    background: #0F2549;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.sep-line {
    background: radial-gradient(965.32% 101.56% at 50% -1.56%, rgba(217, 217, 217, 0) 0%, #D9D9D9 47.92%, rgba(217, 217, 217, 0) 100%);
    width: 2px;
    height: 100%;
}
@media(min-width:768px){
	.feature-wrapper{
		padding: 30px 25px;
		gap: 20px;
	}
}

.blue-sec{
	padding: 30px 0px;
	background: #EFF5F9;
<<<<<<< HEAD
	clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
=======
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
}
.blue-sec li{
	background: url(../images/fav.webp) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 13px;
    text-align: left;
    list-style-type: none;
	border: 0px;
	margin-bottom: 0px;
}
@media(min-width:768px){
	.blue-sec{
		padding: 100px 0px;
<<<<<<< HEAD
=======
		clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
	}
}
.white-sec{
	padding: 30px 0px;
}
.white-sec li{
	background: url(../images/fav.webp) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 13px;
    text-align: left;
    list-style-type: none;
	border: 0px;
	margin-bottom: 0px;
}
@media(min-width:768px){
	.white-sec{padding: 100px 0px;}
<<<<<<< HEAD
}
=======
}

main {
	width: 100vw;
	height: 100%;
	margin: 0;
	padding: 0;
  }
  #carousel {
	position: relative;
	height: 500px;
	top: 50px;
	/* transform: translateY(-50%); */
	overflow: hidden;
  }
  #carousel div {
	position: absolute;
	transition: transform .7s, left 1s, opacity 1s, z-index 0s;
	opacity: 1;
  }
  #carousel div img {
	width: 700px;
	transition: width 1s;
	border-radius: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  #carousel div.hideLeft {
	left: 0%;
	opacity: 0;
	transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideLeft img {
	width: 200px;
  }
  #carousel div.hideRight {
	left: 100%;
	opacity: 0;
	transform: translateY(50%) translateX(-50%);
	object-position: bottom;
  }
  #carousel div.hideRight img {
	width: 200px;
  }
  #carousel div.prev {
	z-index: 5;
	left: 30%;
	transform: translateY(50px) translateX(-50%);
  }
  #carousel div.prev img {
	width: 520px;
  }
  #carousel div.prevLeftSecond {
	z-index: 4;
	left: 14.5%;
	/* top: 30px; */
	transform: translateY(50%) translateX(-50%);
	opacity: 0.7;
  }
  #carousel div.prevLeftSecond img {
	width: 350px;
  }
  #carousel div.selected {
	z-index: 10;
	left: 50%;
	transform: translateY(0px) translateX(-50%);
  }
  #carousel div.next {
	z-index: 5;
	left: 70%;
	transform: translateY(50px) translateX(-50%);
  }
  #carousel div.next img {
	width: 520px;
  }
  #carousel div.nextRightSecond {
	z-index: 4;
	left: 85%;
	transform: translateY(50%) translateX(-50%);
	opacity: 0.7;
  }
  #carousel div.nextRightSecond img {
	width: 350px;
  }

  .buttons {
	position: relative;
	left: 50%;
	top:10px;
	transform: translateX(-50%);
	bottom: 10px;
	display: flex !important;
	align-items: center;
	justify-content: center;
  }
  /* #prev{
	z-index: 1000 !important;
  } */
  #next{
	position: relative;
	top: -300px;
	left: 750px;
	z-index: -1 !important;
	background: transparent;
	border: none;
	color: #ffcc00;
	font-size: 40px;
	outline: none;
	transition: all .3s ease;
  }
  #next:hover{
	color: #ffcc00;
	transform: scale(1.2);
	right: 760px;
  }
  #prev{
	position: relative;
	top: -300px;
	left: -750px;
	z-index: -1 !important;
	color: #ffcc00;
	background: transparent;
	border: none;
	outline: none;
	font-size: 40px;
	transition: all .3s ease;
  }
  #prev:hover{
	color: #ffcc00;
	transform: scale(1.2);
	left: -760px;
  }
  

  @media(max-width:768px){
	main {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #carousel {
    position: relative;
    height: 350px;
    top: 50px;
    /* transform: translateY(-50%); */
    overflow: hidden;
  }
  #carousel div {
    position: absolute;
    transition: transform .7s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
  }
  #carousel div img {
    width: 300px;
    transition: width 1s;
  }
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideLeft img {
    width: 200px;
  }
  #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
    object-position: bottom;
  }
  #carousel div.hideRight img {
    width: 200px;
  }
  #carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel div.prev img {
    width: 300px;
  }
  #next{
    position: relative;
    top: 10px;
    left: 0px;
    z-index: -1 !important;
    background: transparent;
    border: none;
    color: #ffcc00;
    font-size: 40px;
    outline: none;
    transition: all .3s ease;
  }
  #prev{
    position: relative;
    top: 10px;
    left: 0px;
    z-index: -1 !important;
    color: #ffcc00;
    background: transparent;
    border: none;
    outline: none;
    font-size: 40px;
    transition: all .3s ease;
  }
  .feat-box3, .feat-box3a{
    height: unset;
  }
  #carousel div.next img{
	width: 300px;
  }
  }

  .future-section{
	padding: 30px 0px;
	background: url(../images/future-section-bg.webp) no-repeat center center;
	background-size: cover;
  }
  @media(min-width:768px){
	.future-section{
		padding: 100px 0px;
	}
  }
  .thunder {
    position: relative;
}
  @media(min-width:768px){
	.thunder::before {
		position: absolute;
		content: url(../images/thumder-left.webp);
		left: 120px;
		top: -5px;
	}
	.thunder::after {
		position: absolute;
		content: url(../images/thumder-right.webp);
		right: 120px;
		top: -5px;
	}
  }

  .check-out-sec{
	padding: 30px 0px;
	background: url(../images/check-out-bg.webp) no-repeat center center;
	background-size: cover;
  }
  .check-out-head{
	background: url(../images/check-out-head.webp) no-repeat center center;
	background-size: cover;
	padding: 10px 20px;
  }
  @media(min-width:768px){
	.check-out-sec{
		padding: 100px 0px;

	}
  }
  .reduce-commission-sec{
	padding: 30px 0px;
	background: url(../images/reduce-commission-bg.webp) no-repeat center center;
	background-size: cover;
  }

  @media(min-width:768px){
	.reduce-commission-sec{
		padding: 100px 0px;
	}
  }
  .short-link-sec{
	padding: 30px 0px;
	background: url(../images/shorten-link-bg.webp) no-repeat center center;
	background-size: cover;
  }
  @media(min-width:768px){
	.short-link-sec{padding: 100px 0px;}
  }
>>>>>>> d4941d386b029caedef16e7fbc97b8726a7bd3e5
