/* Support Section */

.support-section {
    background: #08041e url(https://cdn.oppyo.com/launches/viddeyo/special/here-are-some.svg) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.boxborder-rb {
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.boxborder-b {
    border-bottom: 1px solid #ffffff;
}

.boxborder-r {
    border-right: 1px solid #ffffff;
}

@media (max-width: 767px) {
    .boxborder {
        border: 1px solid #ffffff;
        border-top: 0px;
        padding: 20px;
    }
    .top-first,
    .first-top-border {
        border: 1px solid #ffffff;
    }
}

@media (min-width:767px) {
    .support-section {
        padding: 80px 0px;
    }
    .boxbg {
        height: 280px;
        padding: 15% 0% 20%;
    }
}


/* Support Section End */


/* Compare Table  Section */

section.comp-table ul {
    list-style: none;
    padding: 0;
}

section.comp-table ul li {
    border-left: 1px solid rgb(226 226 226);
    border-right: 1px solid rgb(226 226 226);
    height: 60px;
    line-height: 60px;
    align-items: flex-start;
    align-content: center;
    padding: 0px 25px;
    justify-content: center;
}

@media (min-width:768px) {
    section.comp-table ul li {
        border-left: 1px solid rgb(226 226 226);
        border-right: 1px solid rgb(226 226 226);
        height: 90px;
        line-height: 90px;
        display: flex;
        align-items: flex-start;
        align-content: center;
        padding: 0px 20px;
        justify-content: start;
    }
}

section.comp-table ul li:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    font-weight: 600;
}

section.comp-table ul li:nth-child(odd) {
    background: #efedf7;
}

section.comp-table .fist-row li:first-child {
    border-top-right-radius: 0px;
    border-top: 1px solid rgb(226 226 226);
}

section.comp-table .third-row li:first-child {
    border-top-left-radius: 0px;
}

section.comp-table .fist-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

section.comp-table .second-row li:first-child {
    border-top: 1px solid rgb(226 226 226);
    height: 150px;
    text-align: center;
    align-items: center;
    background: #6e44ff;
}

section.comp-table .second-row li:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .third-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .forth-row li:last-child,
section.comp-table .fifth-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .second-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    height: 50px;
}

section.comp-table .second-row {
    margin-top: -50px;
}

section.comp-table .second-row ul li {
    background: #4922d1;
}

section.comp-table .second-row ul li:nth-child(odd) {
    background: #6e44ff;
}

section.comp-table .third-row li:first-child {
    align-items: center;
    border-top: 1px solid rgb(226 226 226);
}

section.comp-table .second-row ul li,
section.comp-table .third-row ul li,
section.comp-table .forth-row ul li,
section.comp-table .fifth-row ul li {
    justify-content: center;
    text-align: center;
}

@media (max-width:767px) {
    section.comp-table ul li {
        height: 100px;
        line-height: 22px;
        padding: 15px;
    }
    section.comp-table .second-row li:first-child svg {
        transform: rotate(90deg);
        height: 30px!important;
    }
    section.comp-table .third-row li:first-child span,
    section.comp-table .forth-row li:first-child span,
    section.comp-table .fifth-row li:first-child span {
        transform: rotate(90deg);
    }
    section.comp-table .second-row li:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

section.comp-table .second-row li:first-child {
    justify-content: center;
}

section.comp-table .third-row li:first-child {
    justify-content: center;
}

@media (min-width:768px) {
    section.comp-table ul li {
        align-items: center;
        justify-content: start;
        line-height: normal;
        flex-wrap: wrap;
    }
}

section.comp-table ul li span {
    padding-right: 10px;
    display: contents;
}

@media (max-width:767px) {
    section.comp-table .fist-row li:first-child,
    section.comp-table .third-row li:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.comp-table .second-row li:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    section.comp-table .second-row li:first-child svg {
        max-height: 22px!important;
        height: 30px!important;
    }
    section.comp-table ul li {
        height: 180px;
        line-height: 22px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.comparetable-section {
    padding: 30px 0px;
    background: #ffffff;
}

.nocomparsion-section {
    background: #ffffff;
    padding-bottom: 30px;
}

.no-comparison-shape {
    background: #efedf7;
    padding: 15px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .no-comparison-shape {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/no-comparison.webp) no-repeat;
        background-size: contain;
        height: 633px;
        width: 1173px;
        padding: 80px 70px 15px 400px;
    }
    .nocomparsion-section {
        padding: 0px 0px 100px 0px;
        background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/special/no-compare-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .comparetable-section {
        padding: 100px 0px;
    }
}


/* Compare Table Section End */


/* Oppourtinity Section Start */

.silver-platter-section {
    background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/special/silver-platter-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.huge-opportunity-shape {
    background: #efedf7;
    border: 2px solid #efedf7;
    border-radius: 15px;
    padding: 15px 12px;
}

.wearenot-alone-section {
    background: #ffffff;
    padding: 0px 0px 30px 0px;
}

.alone-bg {
    background-color: #efedf7;
    box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.converting-shape {
    background-color: rgb(110, 68, 255);
    padding: 10px 20px;
    display: inline-block;
    line-height: 30px;
    border-radius: 65px;
}

@media (min-width:768px) {
    .huge-opportunity-shape {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/huge-opportunity-shape.webp) no-repeat center center;
        background-size: 100% 100%;
        border: 0px;
        border-radius: 0px;
        padding: 45px 40px 50px;
    }
    .silver-platter-section {
        padding: 80px 0px 100px 0px;
    }
    .wearenot-alone-section {
        background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/special/wearenotalone-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 0px 0px 100px 0px;
    }
    .alone-bg {
        padding: 25px 30px 25px 10px;
    }
    .dollars-sm-image {
        width: 211px;
        min-width: 211px;
        height: 163px;
        margin-left: -120px!important;
        top: 0px;
        left: 0px;
    }
    .alone-bg:after {
        content: "";
        position: absolute;
        width: 87px;
        height: 49px;
        background-image: url(https://cdn.oppyo.com/launches/viddeyo/special/arrow-down.webp);
        left: 44%;
        bottom: -49px;
    }
    .converting-shape {
        padding: 15px 40px 15px 40px;
        line-height: 100%;
        margin-top: -37px;
    }
}


/* Oppourtinity Section End */

.potential-sec {
	background: #f4f3f9 url(https://cdn.oppyo.com/launches/viddeyo/special/potential-bg.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 0px 100px 0px;
}

.never-ending {
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
    background: #ffffff;
    border-radius: 0px;
    padding: 15px 5px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:768px) {
    .potential-sec {        
		padding: 100px 0px 300px 0px;
    }
    .never-ending {
        padding: 20px 7px;
    }
}

/*******Proven Section*********/
.provens-sec {
    background:#ffffff;
    padding:0px 0px 60px 0px;
}
.proven-alone-bg,
.alone-bg1,
.alone-bg2,
.alone-bg5 {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #eeeeee;
}

@media (min-width: 768px) {
	.provens-sec {
        padding:0px 0px 150px 0px;
    }
    .proven-alone-bg {
        padding: 53px 45px;
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/proven-text-bg.webp) no-repeat;
        background-size: cover;
        border: none;
    }
    .alone-bg5 {
        padding: 69px 56px;
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/proven-text-bg.webp) no-repeat;
        background-size: cover;
        border: none;
    }
    .alone-bg1 {
        padding: 52px 40px;
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/proven-text-bg3.webp) no-repeat;
        background-size: cover;
        border: none;
    }
}


.huge-section {
    padding: 30px 0px;
    background: #ffffff;
}

.huge-shape {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/huge-svg.svg) no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 30px;
    margin-top: -100px;
}

@media (min-width: 768px) {
    .huge-section {
        padding: 0px 0px 100px 0px;
    }
    .huge-shape {
        padding: 50px;
        border-radius: 30px;
        margin-top: -200px;
    }
}


/* Targeted CSS */

.need-marketing {
    background: #ffffff;
    padding: 30px 0px;
}

.noneed-listing li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
    min-height: 42px;
}

.noneed-listing li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .need-marketing {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/works-seamlessly.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}

.look-shape {
    border-radius: 20px;
    padding: 20px 15px;
    color: #ffffff;
    width: 100%;
    float: left;
    background-color: #6e44ff;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}


/* Targeted CSS End*/

.testimonial-section2 {
    background: #ffffff;
    padding: 30px 0px 40px 0px;
}

@media (min-width: 768px) {
    .testimonial-section2 {
        padding: 0px 0px 100px 0px;
    }
}


/* Bonus Section */

.bonus-section {
    background: #efedf7 url(https://cdn.oppyo.com/launches/viddeyo/special/bonus-section.webp) no-repeat center center;
    background-size: cover;
    padding: 0px 0px 30px 0px;
}

.margin-t-60 {
    margin-top: -40px;
}

.margin-t-37 {
    margin-top: -25px;
}

.bonus-section-shape {
    position: relative;
    border-radius: 10px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    height: 100%;
}

.bonus-headline {
    background: #fc6dab;
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}

.bonus-gradient {
    background: #6e44ff;
    display: inline-block;
    padding: 30px 30px 15px 30px;
    border-radius: 0px 0px 30px 30px;
}

@media (min-width: 768px) {
    .bonus-section {
        padding: 0px 0px 100px 0px;
    }
    .margin-t-60 {
        margin-top: -60px;
    }
    .bonus-section-shape {
        padding: 20px;
    }
    .margin-t-37 {
        margin-top: -37px;
    }
    .f-md-100 {
        font-size: 100px;
    }
    .lh240 {
        line-height: 240%;
    }
}


/* Bonus Section End */

.license-section {
    background: #6e44ff url(https://cdn.oppyo.com/launches/viddeyo/special/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding:0px 0px 30px 0px;
}

.mt-20px {
    margin-top: -20px;
}

@media (min-width:768px) {
    .license-section {
        padding:0px 0px 100px 0px;
    }
}

.noneed-section {
    padding: 30px 0px;
}

.noneed-shape {
    padding: 15px;
    position: relative;
    background: #efedf7;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .noneed-shape {
        padding: 30px;
    }
    .noneed-section {
        padding: 100px 0px;
    }
}

.noneed-list li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/sad-emoji.webp) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}

.noneed-list li.happy {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/happy-emoji.webp) no-repeat !important;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}

.riskfree-section {
    background: #08041e url(https://cdn.oppyo.com/launches/viddeyo/special/here-are-some.svg) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .riskfree-section {
        padding: 100px 0px;
    }
}


/* Table Section */

.table-section {
    background: #ffffff;
    padding: 30px 0px;
    color: #000000;
}

.table-wrap {
    width: 100%;
    float: left;
    overflow: hidden;
    border-width: 1px;
    border-color: rgb(216, 216, 225);
    border-style: solid;
    border-radius: 30px;
    background-color: rgb(243, 243, 252);
}

.table-head {
    padding: 50px 30px 30px 30px;
}

@media (min-width: 768px) {
    .table-head {
        padding: 50px 30px 30px 30px;
    }
}

.table-content {
    padding: 60px 20px 40px 20px;
    background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/special/tablecurveone.webp) no-repeat center top;
    background-size: contain;
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
}

.table-wrap1 {
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 40px;
    background-color: rgb(90, 44, 248);
    box-shadow: 0px 0px 28px 7px rgba(0, 0, 0, 0.2);
}

.table-head1 {
    padding: 50px 30px 30px 30px;
    text-align: center;
}

@media (min-width: 768px) {
    .table-head1 {
        padding: 50px 30px 30px 30px;
        text-align: center;
    }
}

.table-content1 {
    padding: 60px 20px 40px 20px;
    background: #222466 url(https://cdn.oppyo.com/launches/viddeyo/special/tablecurvetwo.webp) no-repeat center top;
    background-size: contain;
}

.center-line {
    background: #000000;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.center-line-white {
    background: #ffffff;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.table-list li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    background-image: url(https://cdn.oppyo.com/launches/viddeyo/special/table-tick.webp), url(https://cdn.oppyo.com/launches/viddeyo/special/table-sep-line.webp);
    background-position: 20px 23px, bottom center;
    background-repeat: no-repeat, no-repeat;
}

.table-list li.cross-sign {
    background-image: url(https://cdn.oppyo.com/launches/viddeyo/special/launch-cross.webp), url(https://cdn.oppyo.com/launches/viddeyo/special/table-sep-line.webp) !important;
    background-position: 20px 23px, bottom center !important;
    background-repeat: no-repeat, no-repeat;
}

.personal-shape {
    background-color: rgb(90, 44, 248);
    display: inline-block;
    padding: 12px 50px;
    border-radius: 65px;
    text-transform: uppercase;
}

.commercial-shape {
    background-color: #fc6dab;
    display: inline-block;
    padding: 12px 75px;
    border-radius: 65px;
    text-transform: uppercase;
    position: relative;
}

.commercial-shape:before {
    position: absolute;
    left: -8px;
    top: -6px;
    z-index: 9;
    content: '';
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/money-icon.webp) no-repeat;
    width: 89px;
    height: 79px;
    background-size: 100% 100%;
}


/*.table-list li:nth-child(odd) {
    background-color: #efedf7 !important;
}

.table-list li:nth-child(even) {
    background-color: #ffffff;
}*/

@media (min-width: 768px) {
    .table-list li {
        padding: 15px 15px 15px 57px;
    }
}

.table-list li.headline {
    background: #5a2cf8 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list li:last-child {
    border-bottom: none;
}

.table-list1 li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
    background-image: url(https://cdn.oppyo.com/launches/viddeyo/special/table-tick.webp), url(https://cdn.oppyo.com/launches/viddeyo/special/table-sep-line1.webp);
    background-position: 20px 23px, bottom center;
    background-repeat: no-repeat, no-repeat;
}

.table-list1 li.headline {
    background: #fc6dab !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list1 li:last-child {
    border-bottom: none;
    /* padding-bottom: 0px; */
}


/*.table-list1 li:nth-child(odd) {
    background-color: #ffffff;
}

.table-list1 li:nth-child(even) {
    background-color: #e7dfff;
}*/

@media (min-width:768px) {
    .table-section {
        padding: 70px 0px 70px 0px;
    }
    .table-list1 li {
        padding: 15px 15px 15px 57px;
    }
}


/* Table Section End*/

.awesome-section {
    padding: 30px 0px;
    background: #e0dcf3 url(https://cdn.oppyo.com/launches/viddeyo/special/awesome-bg1.webp) no-repeat center center;
    background-size: cover;
}

.contact-shape {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/contact-shape.webp) no-repeat center bottom;
    padding-bottom: 30px;
    background-size: contain;
}

@media (min-width: 768px) {
    .awesome-section {
        padding: 100px 0px;
    }
}

.faq-section {
    padding: 30px 0px;
    background-color: #fff;
}

.faq-list {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 22px;
}

@media (min-width: 768px) {
    .faq-section {
        padding: 100px 0px;
    }
}

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/* cta  */

.cta-section-new {
    background: #321e77 url(https://cdn.oppyo.com/launches/viddeyo/special/cta-bg-new.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
}

@media (min-width:768px) {
    .cta-section-new {
        padding: 100px 0;
    }
}

.final-section {
    padding: 30px 0;
    background: #321e77 url(https://cdn.oppyo.com/launches/viddeyo/special/cta-bg-new.webp) no-repeat center center;
    background-size: cover;
}

.final-shape {
    background-color: #fc6dab;
    padding: 10px 20px;
    display: inline-block;
    line-height: 30px;
    border-radius: 65px;
}

@media (min-width: 768px) {
    .final-section {
        padding: 100px 0;
    }
    .final-shape {
        padding: 15px 40px 15px 40px;
        line-height: 100%;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}