/* Exclusive Bonus CSS For Amit Sir */

.grand {
    background: #fff;
    padding: 30px 15px;
}


/* CSS For Profitmozo */

.white-area {
    padding: 10px 15px;
    background: rgb(255, 255, 255);
}

.logo-gr {
    padding: 20px 0;
}

.gr-1 {
    background: url(../images/gr-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px 15px;
}

.yellowtext {
    color: #ffde00;
}
.white-clr {
    color: #fff;
}

/* Table Section */

.table-section {
    background: #ffffff;
    padding: 30px 0px;
    color: #000000;
}

.table-wrap {
    width: 100%;
    float: left;
    overflow: hidden;
    border-width: 1px;
    border-color: #e3e0e0;
    border-style: solid;
    border-radius: 20px;
    background-color: #dc354517;
}

.table-head {
    padding: 50px 30px 30px 30px;
    background-color: #dc3545;
}

.table-wrap-2 {
    width: 100%;
    float: left;
    overflow: hidden;
    border-width: 1px;
    border-color: #e3e0e0;
    border-style: solid;
    border-radius: 20px;
    background-color: #158bd31a;
}

.table-head-2 {
    padding: 50px 30px 30px 30px;
    background-color: #001725;
}

.table-wrap-3 {
    width: 100%;
    float: left;
    overflow: hidden;
    border-width: 1px;
    border-color: #e3e0e0;
    border-style: solid;
    border-radius: 20px;
    background-color: #ffe1fa;
}

.table-head-3 {
    padding: 50px 30px 30px 30px;
    background-color: #25001f;
}


.table-wrap-4 {
    width: 100%;
    float: left;
    overflow: hidden;
    border-width: 1px;
    border-color: #e3e0e0;
    border-style: solid;
    border-radius: 20px;
    background-color: #fff2dd;
}

.table-head-4 {
    padding: 50px 30px 30px 30px;
    background-color: #754908;
}
@media (min-width: 768px) {
    .table-head {
        padding: 50px 30px 30px 30px;
    }
}

.table-content {
    padding: 60px 20px 40px 20px;
    background: #ffffff url(../images/tablecurveone.webp) no-repeat center top;
    background-size: contain;
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
}

.table-wrap1 {
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 40px;
    background-color: #1a0000;
    box-shadow: 0px 0px 28px 7px rgba(0, 0, 0, 0.2);
}

.table-head1 {
    padding: 50px 30px 30px 30px;
    text-align: center;
}

@media (min-width: 768px) {
    .table-head1 {
        padding: 50px 30px 30px 30px;
        text-align: center;
    }
}

.table-content1 {
    padding: 60px 20px 40px 20px;
    background: #222466 url(../images/tablecurvetwo.webp) no-repeat center top;
    background-size: contain;
}

.center-line {
    background: #000000;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.center-line-white {
    background: #ffffff;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.table-list li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    background-image: url(../images/table-tick.webp), url(../images/table-sep-line.webp);
    background-position: 18px 18px, bottom center;
    background-repeat: no-repeat, no-repeat;
}

.table-list li.cross-sign {
    background-image: url(../images/launch-cross.webp), url(../images/table-sep-line.webp) !important;
    background-position: 20px 23px, bottom center !important;
    background-repeat: no-repeat, no-repeat;
}

.personal-shape {
    background-color: #1a0000;
    display: inline-block;
    padding: 12px 50px;
    border-radius: 65px;
    text-transform: uppercase;
}

.commercial-shape {
    background-color: #ec1c24;
    display: inline-block;
    padding: 12px 75px;
    border-radius: 65px;
    text-transform: uppercase;
    position: relative;
}

.commercial-shape:before {
    position: absolute;
    left: -8px;
    top: -6px;
    z-index: 9;
    content: '';
    background: url(../images/money-icon.webp) no-repeat;
    width: 89px;
    height: 79px;
    background-size: 100% 100%;
}


/*.table-list li:nth-child(odd) {
    background-color: #faf4f4 !important;
}

.table-list li:nth-child(even) {
    background-color: #ffffff;
}*/

@media (min-width: 768px) {
    .table-list li {
        padding: 15px 15px 15px 57px;
    }
}

.table-list li.headline {
    background: #1a0000 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list li:last-child {
    border-bottom: none;
}

.table-list1 li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
    background-image: url(../images/table-tick.webp), url(../images/table-sep-line1.webp);
    background-position: 18px 18px, bottom center;
    background-repeat: no-repeat, no-repeat;
}

.table-list1 li.headline {
    background: #ec1c24 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list1 li:last-child {
    border-bottom: none;
    /* padding-bottom: 0px; */
}


/*.table-list1 li:nth-child(odd) {
    background-color: #ffffff;
}

.table-list1 li:nth-child(even) {
    background-color: #e7dfff;
}*/

@media (min-width:768px) {
    .table-section {
        padding: 70px 0px 70px 0px;
    }
    .table-list1 li {
        padding: 15px 15px 15px 57px;
    }
}


/* Table Section End*/
