html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #101010;
    font-size: 14px;
}

.play{
    font-family: 'Play', sans-serif;
}

.caveat{
    font-family: 'Caveat', cursive;
}

/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.orange-clr {
    color: #F89B1C;
}

.blue-gradient{
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.red-clr{
    color: #FF361D;
}

.border-underline{
    border-bottom: 1px solid;
}

/* Responsive Video CSS */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Header CSS */

.header-section {
    background: url(../images/header-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.leader-ul li {
    display: inline-block;
    padding: 0px 10px;
    font-weight: 500;
	color: #fff;
}
.leader-ul li a{
    position: relative;
  transition: all .5s;
}

.leader-ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #6031e6;
    height: 1px;
    transition: all .5s;
}
  .leader-ul li a:hover:after {
    width: 100%;
}
.header-section ul.leader-ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding:10px 10px;
}
a.affiliate-link-btn {
	border-radius: 10px;
    background: linear-gradient(to right, #B956FF 0%, #6E33FF 100%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    transition: all .3s ease;
}
a.affiliate-link-btn:hover {
    transition: all .3s ease;
    background: linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
}
.pre-heading {
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 10px;
    border: 1px dashed rgba(255, 255, 255, 0.50);
    background: #0B122F;
    padding: 10px;
}

.launch-start-bg {
    padding: 30px 15px;
    position: relative;
    border-radius: 15px;
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
}

.gap20 {
    gap: 20px;
}
.gametext {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -6px;
    z-index: 99;
    line-height: 30px;
    left: 12px;

}
.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 50px 10px 20px 10px;
}
.post-headline{
    border-radius: 10px;
    border: 1px solid var(--Blue-Gradient, #22D2EE);
    background: linear-gradient(90deg, rgba(34, 210, 238, 0.20) -0.02%, rgba(28, 151, 244, 0.20) 100.02%);
    padding: 9px 20px;
    display: inline-block;
}

/*************LIVE Section**************/
.live-section{
    background: #ffffff;
    padding: 30px 0px;
}
.left-live-box{
    background: #FFFFFF;
    border: 2px solid rgba(110, 51, 255, 0.30);
    border-radius: 30px;
    padding: 15px;
}
.right-live-box{
    background: #FFFFFF;
    border: 2px solid rgba(231, 109, 36, 0.30);
    border-radius: 30px;
    padding: 15px;
}
.form-btn input[type="submit"] {
	text-decoration: none;
	border: none;
	color: #ffffff;
	text-align: center;
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 15px 10px;
	line-height: 30px;
	font-weight: 600;
	outline: none;
	white-space: normal;
    cursor: pointer;
    background: linear-gradient(to right, #B956FF 0%, #6E33FF 100%);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.form-btn input[type="submit"]:hover {
    background: linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
}
.request-affiliate a{
    background: #E76D24;
    border-radius: 10px;
    width: 100%;
    display: block;
    padding: 10px;
    text-decoration: none;
}

/* not-everyone-excels-sec */
.not-everyone-excels-sec{
    padding: 30px 0px;
    background: #EFFAFC;
}

/* eliminate-sec */
.eliminate-sec{
    padding: 30px 0px;
    background-color: #fdffff;
}
.eliminated-head{
    padding: 10px 2px;
    border: 2px solid #1B98F4;
}
.heired-right{
    display: inline-block;
    position: relative;
    border: 1px solid #B7D8EE;
    padding: 10px 20px;
}
.heired-right::before{
    position: absolute;
    top: 0px;
    left: -45px;
    content:url(../images/thumbsup.webp);
}
.eliminate-wall{
    border-radius: 10px;
    border: 1px solid #B7D8EE;
    background: #F0F9FF;
    padding: 15px 15px 0px 15px;
}
@media(min-width:768px){
    .header-section {
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    a.affiliate-link-btn {
		padding: 15px 20px;
        font-size: 20px;
	}
    .pre-heading {
        padding: 9px 20px;
    }
    .pre-heading::after{
        position: absolute;
        right: -86px;
        top: -31px;
        content: url(../images/pre-shape-ai.webp);
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 67%;
        flex: 0 0 67%;
        max-width: 67%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }
    .launch-start-bg {
        padding: 30px;
    }
    .gametext {
        padding: 6px 30px 6px 40px;
        border-radius: 0px 40px;
        top: -20px;
        left: 40px;
    }
    .mainheadline {
        background: url(../images/heading-design.webp) center center no-repeat;
        background-size: 100% 100%;
        padding: 35px 45px 40px 45px;
        left: -5px;
    }
    .f-md-120{
        font-size: 120px;
    }

    /*************LIVE Section**************/
    .live-section {
        padding: 100px 0px;
    }
    .left-live-box{
        padding: 46px 30px;
    }
    .right-live-box{
        padding: 50px 30px;
    }
    .form-control.input-field {
        height: 60px;
        font-size: 15px;
    }
    .form-control.input-field::placeholder{
        color: #000000;
    }
    .mt-md120{
        margin-top: 120px;
    }
    .request-affiliate a{
        padding: 17px;
    }
    .jvzoo-img{
        min-height: 131px;
    }

    /* not-everyone-excels-sec */

    .not-everyone-excels-sec{
        padding: 100px 0px;
        background: url(../images/not-everyone-excels-bg.webp) center center no-repeat;
        background-size: cover;
    }
    .sad-smily{
        position: relative;
    }
    .sad-smily::before{
        position: absolute;
        content: url('../images/sad-face.webp');
        bottom: 0px;
        right:-70px
    }
    /* eliminate-sec */
    .eliminate-sec{
        padding: 100px 0px; 
        background: url(../images/eliminate-bg.webp)no-repeat center center; background-size: cover;
    }
    .eliminated-head{
        background: url(../images/eliminated-head.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 15px 40px 15px 20px;
        border: 0px;
    }
    .star-smily{position: relative;}
    .star-smily::before{
        position: absolute;
        content: url(../images/star-smily.webp);
        bottom:0px;
        right:-50px
    }
    .heired-right{
        background:url(../images/heired-box.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 8px 15px 8px 40px;
        position: relative;
        border: none;
    }
    .heired-right::before{
        position: absolute;
        top: 0px;
        left: -45px;
        content:url(../images/thumbsup.webp);
    }
    .eliminate-wall{
        padding: 30px 30px 0px 30px;
    }
}
@media (min-width: 1400px) {
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
}



@media(min-width:768px){
    .text-change{
        width: 520px;
        display: inline-block;
        text-align: start;
    }
}

.proudly-sec{
    padding: 30px 0px;
    background: linear-gradient(191deg, #040613 8.4%, #05043E 92.29%);
}
.proudly-head{
    background: url(../images/proudly-head.webp) no-repeat center center;
    background-size:100% 100%;
    padding: 9px 45px;
    display: inline-block;
}
.product-box{
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.10);
    backdrop-filter: blur(10px);
    padding: 15px;
}
@media(min-width:768px){
    .proudly-sec{
        padding: 100px 0px;
        background: url(../images/proudly-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .mainheadline span:before{
        width: 520px;
        text-align: start;
    }
    .product-box{
        padding: 30px;
    }
}
.earn-dollar-sec{
    padding: 30px 0px;
    background: #fff;
}
.dollar-head{
    background: url(../images/dollar-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
}
.container-grey-box{
    border-radius: 50px;
    border: 1px solid #CEDEE5;
    background: #F1F7FA;
    padding: 15px;
}
.container-white-box{
    padding: 15px;
}
.outer-container{
    padding: 0px 30px;
}
@media(min-width:768px){
    .earn-dollar-sec{
        padding: 100px 0px;
        background: url(../images/earn-dollar-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .dollar-head{
        padding: 10px 70px 10px 50px;
    }
    .dollar-head::before{
        position: absolute;
        content: url('../images/dollar.webp');
        bottom: 0px;
        right: -20px;
    }
    .container-grey-box{
        padding: 100px;
    }
    .container-white-box{
        padding: 100px;
    }
    .outer-container{
        padding: 0px 100px;
    }
}

.watch-sec{
    background: #111C50;
    padding: 30px 0px;
}
.watch-head{
    display: inline-block;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@media(min-width:768px){
    .watch-sec{
        padding: 100px 0px;
        background: url(../images/demo-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .watch-head{
        background: url(../images/watch-head.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 10px 75px 20px 75px;
    }
}

.boost-business{
    padding: 30px 0px;
    background: #fff;
}
.boost-head{
    background: url(../images/boost-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 9px 15px;
    display: inline-block;
}
@media(min-width:768px){
    .boost-business{
        padding: 100px 0px;
        background: url(../images/boost-business-bg.webp) no-repeat center center;
        background-size: cover; 
    }
    .boost-head{
        position: relative;
        padding: 18px 65px;
    }
    .boost-head::before{
        position: absolute;
        content: url('../images/rocket.webp');
        bottom: 0px;
        left: 0px;
    }
}

.ved_search_box {
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 100%;
}
.ved_search_box .ved_search_placeholders {
	position: absolute;
	top: 0;
	left: 0;
	right: 0px;
	pointer-events: none;
	animation: text 5s ease 3s infinite normal none;
   
}
.hb-section1-wrapper .ved_search_box .ved_search_placeholders{
    animation: text2 5s ease 3s infinite normal none;
}

@keyframes text2 {
	0% {
		transform: translateY(0px);
	}
	17% {
		transform: translateY(0px);
	}
    33% {
		transform: translateY(-30px);
	}
	50% {
		transform: translateY(-30px);
	}
    66% {
		transform: translateY(-65px);
	}
    83% {
		transform: translateY(-65px);
	}	
	100% {
		transform: translateY(-102px);
	}	
	
}
@keyframes text {
	0% {
		transform: translateY(0px);
	}
	17% {
		transform: translateY(0px);
	}
    33% {
		transform: translateY(-30px);
	}
	50% {
		transform: translateY(-30px);
	}
    66% {
		transform: translateY(-65px);
	}
    83% {
		transform: translateY(-65px);
	}	
	100% {
		transform: translateY(-102px);
	}	
}
@media(min-width:768px){
    .ved_search_box {
        position: relative;
        overflow: hidden;
        height: 60px;
        width: 530px;
        text-align: start;
        margin-left: 12px;
        bottom: -3px;
    }
    @keyframes text2 {
        0% {
            transform: translateY(0px);
        }
        17% {
            transform: translateY(0px);
        }
        33% {
            transform: translateY(-60px);
        }
        50% {
            transform: translateY(-60px);
        }
        66% {
            transform: translateY(-116px);
        }
        83% {
            transform: translateY(-116px);
        }	
        100% {
            transform: translateY(-175px);
        }	
        
    }
    @keyframes text {
        0% {
            transform: translateY(0px);
        }
        17% {
            transform: translateY(0px);
        }
        33% {
            transform: translateY(-60px);
        }
        50% {
            transform: translateY(-60px);
        }
        66% {
            transform: translateY(-116px);
        }
        83% {
            transform: translateY(-116px);
        }	
        100% {
            transform: translateY(-175px);
        }	
    }
}