@import url(style.css);
@import url(timer.css);

/* Generator Page css */

.whitesection {
    background: #fff;
    padding: 30px 0
}

.formsection {
    padding: 0 0 30px 0
}

.formsection .form_area input[type="text"],
.formsection .form_area input[type="text"]:focus {
    width: 100%;
    box-shadow: none;
    outline: 0;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background-color: #fff;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none !important;
    color: #000;
    padding: 6px 15px
}

.formsection .form_area::-webkit-input-placeholder {
    color: #666
}

.formsection .form_area:-ms-input-placeholder {
    color: #666
}

.formsection .form_area::placeholder {
    color: #666
}

.formsection .form_area input[type="submit"] {
    border-radius: 10px;
    background-color: #f57c25;
    overflow: hidden;
    text-decoration: none;
    border: 0;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px;
    line-height: 30px;
    font-weight: 700;
    outline: 0;
    white-space: normal
}

.formsection .form_area input[type="submit"]:hover {
    background: #fb7b55;
}

@media(min-width:768px) {

    .formsection .form_area input[type="submit"] {
        padding: 23px 20px
    }
    .formsection {
        padding: 30px 0 100px 0
    }
}


/* Generator Page css End */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

.white-clr {
    color: #fff;
}


.black-clr {
    color: #000000;
}

.blue-clr {
    color: #182d5a;
}




.postheadline{
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    display: inline-block;
    padding: 10px;
    border-radius: 100px;
}

/* Main Header Section CSS */

.main-header {
    background: #fff url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}


/* Affiliate Bonus Buy Button */

a.bonusbuy-btn {
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    background-color: rgb(245, 124, 37);
}

a.bonusbuy-btn:hover,
a.bonusbuy-btn:focus {
    background: #fa9045;
    text-decoration: none;
}

a.bonusbuy-btn1:hover {
        transition: all .3s ease;
        background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}
a.bonusbuy-btn1::before {
    position: absolute;
    width: 100%;
    height: 34px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}
/* Bonus Header Section bg Start Main Css */

.bonus-header {
    padding: 30px 10px 0px 10px;
}
.heading-bg {
    background-color: #ee3725;
    border-radius: 10px;
    padding: 15px 15px;
    color: #ffffff;
}
.bonus-title-bg {
    background: -moz-linear-gradient( 0deg, #0e227f 0%, #050943 100%);
    background: -webkit-linear-gradient( 0deg, #0e227f 0%, #050943 100%);
    background: -ms-linear-gradient( 0deg, #0e227f 0%, #050943 100%);
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    color: #fff;
}
.section-bonus {
    padding: 30px 0px;
}
.bonus-title-color {
    color: #081271;
}
.bonus-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/kap-tick.webp) no-repeat;
    background-position: 0 3px;
    padding-left: 3rem;
    padding-bottom: 25px;
    list-style-type: none;
}
.bonus-list li:last-child {
    padding-bottom: 15px;
}
/* For Header Bg */

.dark-cta-sec-bg-purple{
    background: #091270;
    padding: 30px 0;
}

.dark-cta-sec {
    padding: 30px 0px;
    background: linear-gradient(180deg, #173a7a 0%, #001233 100%);;
    background-size: cover;
}

@media(min-width:768px){
    .dark-cta-sec-bg-purple {
        padding: 60px 0 180px 0px;
        background: #e7e9fa  url(../images/cta-section-bg.webp) no-repeat bottom center;
        background-size: cover;
    }
    .dark-cta-sec {
        padding: 60px 0px;
    }
}



.cta-btn-section {
    padding: 30px 0px;
}
.huge-area {
    padding: 30px 0;
    background: #030331;
}
.white-section {
    background: rgb(255, 255, 255);
    padding: 30px 15px;
}
@media(min-width:768px) {
    a.bonusbuy-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
}
    a.bonusbuy-btn1 {
        padding: 20px 50px;
        font-size: 35px;
    }
    .main-header {
        padding: 40px 0px 250px 0px;
    }
    .bonus-header {
        padding: 70px 0px 0px 0px;
    }
    .heading-bg {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/head-bg.webp);
        background-repeat: no-repeat;
        background-position: top center;
        padding: 50px 15px 100px 15px;
        background-size: 100% 100%;
    }
    .section-bonus {
        padding: 50px 0px;
    }
    
    .huge-area {
        background: #fff url(../images/new_bg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 60px 0px;
        color: #fff;
    }
}
/* Exit Pop Up Css Start */

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}


/* #ouibounce-modal .modal-body {
	padding: 0px 20px;
	font-size: .9em
} */

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.modal-body {
    position: relative;
    padding: 15px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 30px;
    opacity: 1;
    outline: none;
    color: #300476 !important;
    font-weight: 400;
    background: #ffe8cc !important;
    top: 1px;
    position: absolute;
    z-index: 2;
    right: 1px;
    padding: 0px 5px 0px 5px !important;
}

.modal-header .close {
    margin-top: -5px;
}

.innerbody {
    border-radius: 10px;
    margin-top: -1%;
    float: left;
    width: 100%;
}

.popupbg {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/exitbg.webp) repeat;
    padding: 8px 0px;
}


/* Media Querry Start */

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 70px 0px;
    }
}


/* Exclusive-Section */

.exclusive-bonus {
    background: #e95093;
    padding: 30px 15px;
}

.profitmozo {
    padding: 30px 15px;
}

.blue-sky {
    color: #00ccff;
}

.orange {
    color: #f5821f;
}

.underline {
    text-decoration: underline;
}

.heading-head {
    background: -webkit-linear-gradient(#1d2d45 0%, #21385c 50%, #254677 100%);
    background: -o-linear-gradient(#1d2d45 0%, #21385c 50%, #254677 100%);
    background: linear-gradient(#1d2d45 0%, #21385c 50%, #254677 100%);
    width: 100%;
    padding: 1% 0 3%;
}

.fast-easy {
    background: #1d2d45;
    padding: 45px 15px;
}

.profitmozo-action {
    background: #1e2634 url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/profitmozo-action.webp);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px 15px;
}
/* Webpull Section Start */
.webpull-header-section{
    padding: 50px 0px 30px;
    background-color: #641fcc;
}
.webpull-header-section ul.leader-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 12px;
}
.webpull-header-section ul.leader-ul li{
    display: inline-block;
    padding: 0px 5px;
    font-weight: 300;
}
.webpull-header-section ul.leader-ul li a{
    text-decoration: none;
    color: #ffffff;
}
.webpull-header-section .affiliate-link-btn a {
    border-radius: 65px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 500;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
}
.webpull-header-section .affiliate-link-btn a:hover{
    transition: all .3s ease;
    background-image: -moz-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
}
.webpull-header-section .pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: #101012;
    outline: none;
    border-color: #682af1;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}
.webpull-header-section .highlight-heading {
    background: #fb954a;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0px;
}
.webpull-header-section .responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
	border-radius: 5px;
}

.webpull-header-section .responsive-video iframe,
.webpull-header-section .responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.webpull-header-section a.cta-link-btn{    
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 0px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    background-image: -moz-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -webkit-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -ms-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: 0.5s;}
    .webpull-header-section a.cta-link-btn:hover{
        background: linear-gradient(90deg, rgba(253, 139, 37, 1) 0%, rgba(255, 103, 28, 1) 100%);
        text-decoration: none;
        transform: scale(1.03);
    }
    .webpull-header-section .key-features-bg{
        padding: 20px;
        position: relative;
        width: 100%;
        text-align: center;
        background: rgba(255, 255, 255, 0.09);
        border-radius: 15px;
    }
    .webpull-header-section .list-head {
        list-style: none;
    }
    .webpull-header-section .list-head li {
        background: url(../images/webpull-green-tick1.webp) no-repeat;
        padding: 10px 0px 10px 35px;
        background-position: 0px 13px;
        text-align: left;
        border-bottom: solid 1px #8051d5;
    }
    .webpull-header-section .white-clr2 {
        color: #efebeb;
    }
    .webpull-header-section .list-head li {
        background: url(../images/webpull-green-tick1.webp) no-repeat;
        padding: 10px 0px 10px 35px;
        background-position: 0px 13px;
        text-align: left;
        border-bottom: solid 1px #8051d5;
    }
@media (min-width:767px){
    .webpull-header-section{
        background: #682af1 url(../images/webpull-header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 30px 0px;
    }
    .webpull-header-section .affiliate-link-btn a{
        padding: 15px 30px;
        font-size: 24px;
    }
    .webpull-header-section .pre-heading{
        padding: 15px 30px;
        border-radius: 100px;
    }
    .webpull-header-section a.cta-link-btn{
        font-size: 32px;
        padding: 24px 50px 24px 50px;
        display: inline-block;
    }
}
/* WebPull Section End */

.feature-list-sec {
    padding: 30px 0px;
    background: #ffffff;
}

@media (min-width: 768px) {
    .feature-list-sec {
        padding: 0px 0px 70px 0px;
    }
}

.feature-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}

@media(min-width:768px) {
    .feature-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }
}

.feature-bordered-list li {
    list-style: none;
}

.orange-list li {
    padding: 12px 20px 12px 50px;
    position: relative;
}

.orange-list li::before {
    content: url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/green-tick.webp);
    position: absolute;
    left: 0px;
    top: 15px;
}

 /* coursova css starts */

.coursova-bg {
    background: #100370;
    padding: 30px 0px;
}
.coursova-bg .game-changer {
    background: #fff600;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    max-width: 248px;
}
.coursova-bg .heading-co-bg {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgba(19, 22, 38, 0.2);
}

.coursova-bg .list-head-co li {
    background: url(../images/launch-tick-blue.webp) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}

.coursova-bg .yellowline {
    border-bottom: 2px solid #ecc914;
}

.coursova-bg .lightyellow {
    color: #ecc914;
}

@media (min-width:768px) {
    .coursova-bg {
        background: #ffffff url(../images/coursova-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 180px 0px;
    }
    .coursova-bg .heading-co-bg {
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
    }
    .coursova-bg .rotate-5 {
        transform: skew(7deg);
    }
    .coursova-bg .min-sm-video-width-left {
        width: 68%;
    }
    .min-sm-video-width-right {
        width: 32%;
    }
}
 /* coursova css ends */

 .tr-header-section {
    background: #f7d309;
    padding: 30px 0 30px 0px;
}
.tr-header-section .trpre-heading {
    position: relative;
    padding: 10px 5px;
    display: inline-block;
    color: #f7d309;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    transform: skew(-10deg);
}
.tr-header-section .blue-clr, a.blue-clr {
    color: #0a52e2;
    text-decoration: none;
}
.tr-header-section .key-features-bg1 {
    padding: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 15px;
}
.tr-header-section .list-head1 {
    list-style: none;
}
.tr-header-section .list-head1 li {
    background: url(https://cdn.oppyo.com/launches/jobiin/special-bonus/launch-tick-green1.webp) no-repeat;
    padding: 10px 0px 10px 30px;
    background-position: 0px 14px;
    text-align: left;
    border-bottom: solid 1px #080038;
}
.tr-header-section .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 15px 0px 25px 0px rgb(19 21 26 / 30%);
    z-index: 99;
}
.tr-header-section .blue-clr, .tr-header-section a.blue-clr {
    color: #003770;
    text-decoration: none;
}
.tr-header-section .responsive-video iframe, .tr-header-section  .responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
 @media (min-width: 468px){
    .tr-header-section {
    background: #f7d309 url(../images/header-bg-trendio.webp) no-repeat center center;
    background-size: cover;
    padding: 40px 0px 100px 0px;
}

.tr-header-section .trpre-heading {
    position: relative;
    padding: 15px 20px;
}

 }

 
/* kyza section starts */
.list-head-ky li {
    background: url(../images/key-tick-ky.webp) no-repeat;
    padding: 8px 0px 8px 26px;
    background-position: 0px 12px;
    text-align: left;
    list-style: none;
}
.header-section-ky {
    background: #ffffff;
    padding: 30px 0px;
}
.header-section-ky .post-heading1 {
    background: #f8b2af;
    padding: 10px 30px 10px 115px;
    display: inline-block;
    border-radius: 50px;
    text-align: left;
}
.header-section-ky .stop-img {
    position: absolute;
    left: -5px;
}
@media (min-width: 768px) {
.header-section-ky {
    background: #ffffff url(../images/header-bg-ky.webp) no-repeat center center;
    background-size: cover;
    padding: 40px 0px 100px 0px;
}
}
.key-features-bg-ky {
    background: url(../images/key-features-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 20px 35px;
	    text-align: left;
}
.list-head-ky li {
    background: url(../images/key-tick-ky.webp) no-repeat;
    padding: 8px 0px 8px 26px;
    background-position: 0px 12px;
    text-align: left;
	list-style:none;
}
 /* kyza section ends */



 
/* Vocalic Header Section Css Start */

.header-section-vc {
	background: #001244;
	padding: 30px 0px;
}

.header-section-vc ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.header-section-vc ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
}

.header-section-vc ul.leader-ul li a {
	color: #ffffff;
}

.header-section-vc .border-video {
	border-radius: 20px;
}

.header-section-vc .affiliate-link-btn a {
	border-radius: 60px;
	background-color: #fff;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #0f172b !important;
	font-weight: 700;
}
.header-section-vc .highlight-heading {
    background: #00aced;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0px;
}

.header-section-vc .calendar-wrap {
	border-radius: 15px;
	background-color: #000f59;
	padding: 20px;
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	z-index: 1;
}


.header-section-vc  .list-head {
	list-style: none;
}

.header-section-vc .list-head li {
	background: url(https://cdn.oppyo.com/launches/vocalic/special/list-tick.webp) no-repeat;
	padding: 0px 0px 10px 30px;
	margin-bottom: 10px;
	background-position: 0px 8px;
	text-align: left;
	border-bottom: solid 1px #1d3271;
}

.header-section-vc .list-head li:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: none;
}
.header-section-vc a.cta-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 5px;
    color: #ffffff;
    font-weight: 800;
    font-size: 22px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 100px;
    transition: all 0.5s;
    border-radius: 100px;
    background-image: -moz-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
}
.preheadline  {
    background: #ced0e2;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}

.skew-con {
    transform: skew(5deg);
}

@media (min-width:768px) {
	.header-section-vc {
		background: #001244 url(https://cdn.oppyo.com/launches/vocalic/special/header-bg.webp);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 40px 0px 70px 0px;
	}

	.header-section-vc ul.leader-ul {
		margin-top: 0px;
	}
    .skew-con {
        transform: skew(10deg);
    }
    .preheadline  {
    padding: 15px 30px 15px 30px;
    transform: skew(-10deg);
    }
	.header-section-vc .affiliate-link-btn a {
		padding: 10px 25px;
		font-size: 18px;
	}

	.header-section-vc .affiliate-link-btn a:hover {
		background-image: -webkit-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
		color: #ffffff !important;
	}

	.header-section-vc .min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58%;
		flex: 0 0 58%;
		max-width: 58%;
	}

	.header-section-vc .min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 42%;
		flex: 0 0 42%;
		max-width: 42%;
	}
    .header-section-vc a.cta-link-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
        display: inline-block;
    }
}
.header-section-vc .blue-clr {
    color: #0e2672;
}
.header-section-vc .yellow-clr {
    color: #ffe400;
}
.header-section-vc .preheadline {
    background: #ffffff;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
}
/* Header Section Css End */


/***** Buzzify ******/

.buz-header-section {
    background: rgb(9, 20, 120);
    background: -moz-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1);
    padding: 30px 0 30px 0px;
}

.skew-con {
    transform: skew(5deg);
}

.pre-heading-b {
    background: #ced0e2;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}

.key-features-bg-b {
    padding: 15px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgb(9, 20, 120);
    background: -moz-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1);
    border-radius: 10px;
}

.list-head-b li {
    background: url(https://cdn.oppyo.com/launches/jobiin/special/table-tick.webp) no-repeat;
    padding: 10px 0px 10px 30px;
    background-position: 0px 12px;
    text-align: left;
    list-style: none;
}
.bsecond-section {
    padding: 30px 0px;
}


@media(min-width:768px) {
    .bsecond-section {
        padding: 0px 0px 100px 0px;
    }

    .buz-header-section {
        background: #091274 url(../images/header-bg-buzzify.webp) no-repeat center center;
        background-size: cover;
        padding: 40px 0px 300px 0px;
    }
    .buz-header-section span.under {
        border-bottom: 4px solid;
    }
    
    .buz-header-section .yellow-clr, .buz-header-section  a.yellow-clr {
        color: #fff600;
        text-decoration: none;
    }
    .skew-con {
        transform: skew(10deg);
    }
    .pre-heading-b {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
    .key-features-bg-b {
        padding: 25px;
        margin-top: -200px;
    }
    .key-features-bg-b {
        padding: 25px;
        margin-top: -200px;
    }
}


/***** Buzzify ******/


.header-sectionnj {
    background: #080d21;
    padding: 30px 0px;
}

.header-sectionnj ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.post-heading-nj {
    padding: 6px;
    display: inline-block;
    border-radius: 65px;
    background-color: rgb(211, 223, 243);
    box-shadow: inset 0px 4px 10px 0px rgb(0 0 0 / 35%), inset 2.828px -2.828px 10px 0px rgb(255 255 255 / 35%);
    color: #080d1a;
}
.orange, a.orange {
    color: #ff7200;
}
.list-head {
    list-style: none;
}
.list-head li {
    background: url(../images/list-head.webp) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}
.headernj-section {
	background: #080d21;
	padding: 30px 0px;
}
.list-head li:last-child {
    border-bottom: 0px;
}
.headerlf-section {
	background: #162637;
	padding: 30px 0px;
}
.qcolor {
    color: #008aff;
}
.fbox {
    background: #fff;
    border: 2px solid #e3e3e3;
    border-radius: 20px;
    padding: 20px;
}
.features2 ul li {
    padding-bottom: 6px!important;
    line-height: 25px!important;
}
.pcolorline {
    border-bottom: 1px solid #008aff;
}
.features1 ul li {
	background: url(../images/check-ft.webp) no-repeat;
	list-style: none;
	padding-bottom: 12px;
	padding-left: 40px;
	background-position: 2px 3px;
	line-height: 27px;
}
.lf-demo-sec {
	padding: 30px 0px;
	background: #ffffff;
}
.list-head li {
    background: url(../images/list-head.webp) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}
@media(min-width:768px) {
    .min-sm-video-width-left {
        width: 61%;
    }
	.headernj-section {
		background: #080d21 url(../images/headernj-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding: 40px 0px 140px 0px;
	} 
	.headerlf-section {
		padding: 70px 0px 150px;
		background: url(../images/newbg.webp) #162637 no-repeat;
		background-size: cover;
		background-position: bottom center;
	}
	.lstripbg2 {
		background: url(../images/layer2.webp) no-repeat;
		padding: 0px 10px;
	}
	.lstripbg3 {
		background: url(../images/layer3.webp) no-repeat;
		padding: 0px 7px;
	}
	.post-heading-nj {
		padding: 6px 30px;
	}
	.features1 ul li {
		padding-left: 50px;
	}
}


/* Acadmeyio */
.header-section-acadmeyio {
    background: #700982;
    background-size: cover;
    padding: 30px 0px 70px 0px;
}
.header-section-acadmeyio .yellow-clr {
    color: #fff600;
}
.header-section-acadmeyio ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-section-acadmeyio .white-clr {
    color: #ffffff;
}

.header-section-acadmeyio .white-blue {
    color: #70abff;
}

.header-section-acadmeyio .lightcolor {
    color: #d8f67e;
}

.header-section-acadmeyio ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.header-section-acadmeyio .heading-bg {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgba(19, 22, 38, 0.2);
}
.header-section-acadmeyio .pre-heading1 {
    padding: 15px;
    margin: 0px auto;
    background-color: #fff600;
    outline: none;
    border-color: rgb(168, 134, 6);
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    border-radius: 65px;
}
.header-section-acadmeyio .white-clr2 {
    color: #d8d1d1;
}
@media (min-width: 768px){
    .header-section-acadmeyio .pre-heading1 {
    padding: 15px 40px;
}}
/* Acadmeyio */


/* Vidboxs Header Section Css Start */

.header-section-vidboxs {
    background: #0f0f0f url(../images/header-bg-vidboxs.webp);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 0px;
    position: relative;
    background-attachment: fixed;
}

.header-section-vidboxs ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.header-section-vidboxs ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
}

.header-section-vidboxs ul.leader-ul li a {
	color: #ffffff;
}
.header-section-vidboxs .orange-clr {
    color: #f9bb0b;
}
.header-section-vidboxs .affiliate-link-btn a {
	border-radius: 60px;
	background-color: #ff2c50;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #fff !important;
	font-weight: 700;
    transition: all .3s ease;
}
.header-section-vidboxs .highlight-heading {
    background: #f9bb0b;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0px;
}

.header-section-vidboxs .calendar-wrap {
	border-radius: 15px;
	background-color: #292929;
	padding: 20px;
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.header-section-vidboxs .list-head {
	list-style: none;
}

.header-section-vidboxs .list-head li {
	background: url(https://cdn.oppyo.com/launches/vidboxs/fe/list-tick.webp) no-repeat;
	padding: 0px 0px 10px 30px;
	margin-bottom: 10px;
	background-position: 0px 8px;
	text-align: left;
	border-bottom: solid 1px #464646;
}

.header-section-vidboxs .list-head li:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: none;
}
.header-section-vidboxs .pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: #0f0f0f;
    outline: none;
    border-color: #f40c28;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}
.header-section-vidboxs .border-video {
    border-radius: 20px;
}
.header-section-vidboxs .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
@media (min-width:768px) {
	.header-section-vidboxs {
		padding: 40px 0px 70px 0px;
	}

	.header-section-vidboxs ul.leader-ul {
		margin-top: 0px;
	}

	.header-section-vidboxs .affiliate-link-btn a {
		padding: 10px 25px;
		font-size: 18px;
	}

	.header-section-vidboxs .affiliate-link-btn a:hover {
        transform: scale(1.1);
	}
    .header-section-vidboxs .pre-heading {
        padding: 15px 30px;
        border-radius: 100px;
    }
	.header-section-vidboxs .min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58%;
		flex: 0 0 58%;
		max-width: 58%;
	}

	.header-section-vidboxs .min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 42%;
		flex: 0 0 42%;
		max-width: 42%;
	}
}

/* Vidboxs Header Section Css End */