html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
}

.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
.orange-clr {
    color: #f57c25;
}
.red-clr {
    color: #ff0000;
}
.yellow-clr {
    color: #fffa64;
}
.green-clr {
    color: #0c710c;
}
.cyan-clr {
    color: #50e7ff;
}

span.under {
    border-bottom: 4px solid;
}
.header-section-ky .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
@media (max-width: 767px) {
   
}
.main-header .list-head li:last-child {
    border-bottom: none;
}
.main-header .list-head li {
    background: url(../images/correct-tick.webp) no-repeat;
    padding: 15px 0px 12px 50px;
    background-position: 0px 18px;
    text-align: left;
}

.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/list-tick.webp) no-repeat;
    padding: 8px 0px 8px 30px;
    background-position: 0px 11px;
    text-align: left;
    border-bottom: solid 1px rgb(11, 11, 49);
}
/* Header Section Css End */

/* Step Section Start */

.step-section {
	background: #C0F1FF;
	padding: 30px 0px;
}
.d-inline-grid{
	display: inline-grid;
	display: -ms-inline-grid;
	display: -moz-inline-grid;
}
.step-box {
    background-color: #fff;
    box-shadow: 4px 10px 30px rgb(128 194 213 / 70%);
    border-radius: 30px;
    padding:20px;
}
.premium-sec {
    background-color: #fff;
    padding: 30px 0px;
}
@media (min-width: 768px) {
	.step-section {
		padding: 70px 0px;
		background: #C0F1FF;
	}
	.step-box {
		padding:30px;
	}

	.step-arrow1 {
		position: absolute;
		left: 444px;
	}
	.step-arrow2 {
		position: absolute;
		left: -81px;
		margin-top: 38px;
	}
	.step-line{
		position: absolute;
		top: 0px;
		left: calc(52% - 48px);
	}
	.gaping {
		--bs-gutter-x: 80px;
	}
	.premium-sec {
        padding: 100px 0px;
    }
}


/* Step Section End */

.header-list-section{
    padding: 30px 0px;
    background: #c0f1ff;
}

.header-list-block {
    border-radius: 10px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 23.75px 1.25px rgb(0 0 0 / 20%);
    margin-top: -90px;
}

@media(min-width:768px){
    .header-list-section{
        padding: 70px 0px;
    }
    .header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -280px;
    }
}

/* Proof Section Start */

.proof-sec {
	background-color: #f5f8ff;
	padding: 30px 0px;
}

@media(min-width:768px) {
	.proof-sec {
		padding: 100px 0px 150px 0px;
		background:#fff url(../images/proof-bg.webp) no-repeat bottom center / cover;
	}
}
/* Proof Section End */


/************Research Section ********/
.research-section {
	background: #ffffff;
	padding: 30px 0px;
}
.reason-box {
	display: inline-block;
	padding:15px;
	border-width: 1px;
	border-color: rgb(10, 53, 132);
	border-style: solid;
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 29px 0px rgba(4, 4, 17, 0.2);
}
@media (min-width: 768px) {
	.research-section {
		padding: 100px 0px 200px 0px;
		background: url(../images/research-section-bg.webp) no-repeat center center / cover;
	}
	.reason-box {
		padding: 20px 50px;
		border-radius: 50px;

	}
	.girl-img{
		position: absolute;
		right: -155px;
		top: -40px;
	}
}



.next-gen-sec {
	background: #fff url(../images/proudlybg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}

.next-gen-sec .pre-heading {
	padding:10px 15px;
	margin: 0px auto;
	display: inline-block;
	background: url(../images/pre-headline.webp) no-repeat center center;
	background-size: 100% 100%;
}
@media (min-width: 768px) {
	.next-gen-sec {
		padding: 80px 0px 180px 0px;
	}
    .next-gen-sec .pre-heading {
		padding: 15px 20px;		
	}
}

/* Power Section Start */

.power-section {
	background: #ffffff;
	padding: 30px 0px;
}
.power-block{
		border-radius: 20px;
		background-color: rgb(0, 18, 51);
		padding:20px;
		position: relative;
}
.connect-line{
	margin-top: -9px;
	z-index: 999;
	position: relative;
}
@media (min-width: 768px) {
	.power-section {
		padding: 80px 0px;
	}
	.power-block{
		border-radius: 30px;
		background-color: rgb(0, 18, 51);
		padding: 30px 30px 30px 150px;
    }
    .power-block.right{
        padding: 30px 150px 30px 30px;
    }
    .power-block .left-img{
        position: absolute;
        top: 25%;
        left: -110px;
    }
    .power-block.right .right-img{
        position: absolute;
        top: 25%;
        left: auto;
        right: -110px;
    }
}

/* Power Section End */

.jobiin-header-section ul.features-list li {
    background: url(../images/list-head.webp) no-repeat;
    padding: 0px 0px 25px 40px;
    background-position: 0px 5px;
    list-style: none;
}

/* List Section Start */

ul.features-list-jobin li {
    background: url(../images/launch-tick-blue.webp) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}
  
/* List Section End */


/* Proudly there Section Start */

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}
.boxborder-rb {
    border-bottom: 1px solid rgb(20, 20, 87);
    border-right: 1px solid rgb(20, 20, 87);
}
.boxborder-b {
    border-bottom: 1px solid rgb(20, 20, 87);
}
.boxborder-r {
    border-right: 1px solid rgb(20, 20, 87);
}
.boxbg{
	background: url(../images/check-mark.webp) no-repeat;
    padding: 20px 20px 20px 55px;
    background-position: 10px 23px;
    list-style: none;
}

/* Proudly Section End */

/* Testimonals Section Start */
.testimonial-section{
	background: #fff;
	padding: 30px 0px;
}
.single-testimonial {
	background-color: #f5f8ff;
    text-align: left;
    border-radius: 30px;
    position: relative;
    z-index: 2;
}
.single-testimonial p {
	color: #101012;
    font-size: 17px;
    line-height: 28px;
    padding: 50px 30px 30px 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 3;
}
.single-testimonial::before {
    content: "";
    position: absolute;
    left: -5px;
    top: -35px;
    background: url(../images/quote.png) no-repeat;
    background-size: 60%;
    width: 126px;
    height: 100px;
    transform: rotate(180deg);
    background-position: 34px 15px;
}
.single-testimonial::after {
    content: "";
    position: absolute;
    right: -5px;
    bottom: -34px;
    background: url(../images/quote.png) no-repeat;
    background-size: 60%;
    width: 126px;
    height: 100px;
    background-position: 34px 19px;
}
.client-info {
    display: inline-flex;
    gap: 15px;
    align-items: center;
    padding: 0px 30px 30px 30px;
}
.client-details{
	color: #0a3584;
	font-size: 20px;
	font-weight: 600;
}
@media(min-width:768px){
	.testimonial-section{
		background: #ffffff url(../images/testimonial-section.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px 100px 0px;
	}
	.single-testimonial p {
		padding: 50px;

	}
	.single-testimonial::before {
		left: -35px;
        top: -35px;
	}
	.single-testimonial::after {
        right: -35px;
        bottom: -34px;
	}
    .client-info {
        padding: 0px 50px 50px 50px;
    }
}
/* Testimonals Section End */

/* Viddeyo Header Section Css Start */
.viddeyo-header-section {
	background: #6e44ff;
	padding: 30px 0px 230px 0px;
}
.viddeyo-preheadline {
    border-style: solid;
    border-width: 6px;
    border-color: #603ddb;
    background: #08041e;
    display: inline-block;
    border-radius: 65px;
    padding: 10px 35px;
}
span.highlight-viddeyo {
    border-bottom: solid 4px #fc6dab;
}

@media (min-width:768px) {
	.viddeyo-header-section {
		background: #6e44ff url(../images/header-bg-viddeyo.webp);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 40px 0px 280px 0px;
	}
    .viddeyo-header-section .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
    .viddeyo-header-section .calendar-wrap {
        border-radius: 15px;
        background-color: rgb(240, 236, 255);
        padding: 10px;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    .viddeyo-header-section .calendar-wrap:before {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve1.webp) no-repeat;
        position: absolute;
        z-index: 1;
        top: -14px;
        left: -18px;
        background-size: contain;
        width: 161px;
        height: 121px;
        z-index: -1;
    }
    .viddeyo-header-section .calendar-wrap-inline {
        border-width: 1px;
        border-color: rgb(11, 11, 49);
        border-style: solid;
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        color: #08041e;
    }
    .viddeyo-header-section .calendar-wrap:after {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve2.webp) no-repeat;
        position: absolute;
        z-index: 1;
        right: -18px;
        bottom: -10px;
        background-size: contain;
        width: 282px;
        height: 38px;
        z-index: -1;
    }
    .viddeyo-header-section .list-head {
        list-style: none;
    }
    .viddeyo-header-section  .list-head li:first-child {
        padding-top: 0px;
    }
    .viddeyo-header-section  .list-head li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/list-tick.webp) no-repeat;
        padding: 8px 0px 8px 30px;
        background-position: 0px 11px;
        text-align: left;
        border-bottom: solid 1px rgb(11, 11, 49);
    }
}
/* Header Section Css End */
.viddeyo-second-section {
	padding:0px 0px 30px 0px;
}
ul.viddeyo-features-list {
	margin:0px;
	padding:0px;
}
ul.viddeyo-features-list li {
	background: url(../images/green-tick.webp) no-repeat;
	padding: 0px 0px 20px 45px;
	background-position: 0px 3px;
	list-style:none;
}
ul.viddeyo-features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}
.viddeyo-header-list-block {
	border-radius: 20px;
	padding: 40px 20px;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	margin-top: -200px;
	background: #fff url(https://cdn.oppyo.com/launches/viddeyo/jv/awesome-shape.png) no-repeat center center;
	background-size:cover;
	
}
/* Viddeyo Header Section Css End */



/* WebPrimo Header CSS Start */

.WebPrimo-header-section {
    background: rgb(0, 68, 205);
    background: -moz-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0044cd", endColorstr="#00165f", GradientType=1);
    padding: 30px 0px;
}

.WebPrimo-header-section ul.leader-ul,
.main-header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 12px;
}

.WebPrimo-header-section ul.leader-ul li,
.main-header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 300;
}

.WebPrimo-header-section ul.leader-ul li a,
.main-header-section ul.leader-ul li a {
    text-decoration: none;
    color: #ffffff;
}

.WebPrimo-highlihgt-heading {
    position: relative;
    background: #000000;
    padding: 10px 1px;
    border-radius: 75px;
    display: inline-block;
    color: #f68a1e;
}
.WebPrimo-higlight-text{
	background: url(../images/viddeyo-post-head-sep.webp) no-repeat bottom center;
	display:inline-block;
	background-size:contain;
}
.WebPrimo-key-features-bg {
    padding:20px;
    position: relative;
    width: 100%;
    text-align: center;
    background:rgba(255,255,255,0.05);
	border-radius:15px;
}
.WebPrimo-list-section {
    padding: 30px 0px;
    background: #ffffff;
}
.webprimo-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}

.webprimo-orange-list li {
    padding: 12px 20px 12px 50px;
    position: relative;
}

.webprimo-orange-list li::before {
    content: url(../images/webprimo-red-tick.webp);
    position: absolute;
    left: 0px;
    top: 15px;
}
.webprimo-header-bordered-list li {
    list-style: none;
}

.webprimo-header-bordered-list li:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}

@media (min-width: 768px) {
   .WebPrimo-header-section {
        background: #0043cc url(../images/webprimo-header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 50px 0px 160px;
    }
   .WebPrimo-highlihgt-heading {
    position: relative;
    padding: 8px 60px;
   }
   .WebPrimo-list-section {
        padding:0px 0px 70px 0px;
    }
    .webprimo-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }
    .webprimo-list-section {
        padding:0px 0px 70px 0px;
    }
    .webprimo-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }}
/* WebPrimo Header Section Css End */


/* Affiliate Ninja Pro Header Section Css Start */
.AffiliateNinjaPro-banner{
   background:url(../images/affiliateninjapro-bg.webp) #0570fb no-repeat; 
   background-size:cover;
   width:100%;
   background-position:center;
   }

@media(min-width:240px){
	.AffiliateNinjaPro-banner{padding:3% 2% 6%;}
}
@media(min-width:768px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
	.banner-block{padding:1% 3% 3%;}
}
@media(min-width:992px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
}
@media(min-width:1200px){
	.AffiliateNinjaPro-banner{padding:2% 2% 6%;}
}
@media(min-width:1500px){
	.AffiliateNinjaPro-banner{padding:6% 2% 7%;}
	.banner-block{padding:2% 3% 3%;}
}
.lightcolor {
    color: #ffea00;
}

/* Affiliate Ninja Pro Header Section Css End */

@media(min-width:768px){
.px-md80{padding-left: 80px!important; padding-right: 80px !important;}
}

/* Jobin Header Section Css Start */

.jobiin-header-section {
    background: #141516 url(https://cdn.oppyo.com/launches/jobiin/special/header-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 230px 0px;
    position: relative;
}
.jobiin-header-section .orange-clr {
    color: #ffb80f;
}
@media(min-width:768px) {
    .jobiin-header-section {
        padding: 40px 0px 250px 0px;
    }
}

.jobiin-header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.jobiin-header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.jobiin-header-section a.affiliate-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    line-height: normal;
    color: #000000;
    font-weight: 600;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
}

.jobiin-header-section a.affiliate-link-btn:hover {
    transform: scale(1.05);
    transition: all .3s ease;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #c4a300;
    }
    40% {
        box-shadow: 0 0 20px #c4a300;
    }
    60% {
        box-shadow: 0 0 20px #c4a300;
    }
    100% {
        box-shadow: 0 0 -10px #c4a300;
    }
}

@media(min-width:768px) {
    .jobiin-header-section a.affiliate-link-btn {
        padding: 10px 20px;
        font-size: 22px;
    }
}

.jobiin-header-section .headline-highlight {
    color: #ffb80f;
}

@media (min-width: 768px) {
    .jobiin-header-section .headline-highlight {
        background: url(https://cdn.oppyo.com/launches/jobiin/special/heading-shape.svg) no-repeat center center;
        background-size: cover;
        display: inline-block;
        color: #000000;
        padding: 8px 53px 8px 26px;
    }
}


.jobiin-second-section {
    padding: 0px 0px 30px 0px;
}

@media(min-width:768px) {
    .jobiin-second-section {
        padding: 0px 0px 100px 0px;
    }
}

.z-index-9 {
    z-index: 9;
}

.jobiin-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin-top: -200px;
    background: #ffffff;
}

@media(min-width:768px) {
    .jobiin-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    }
}

.jobiin-cta-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 5px;
    color: #000000;
    font-weight: 800;
    font-size: 20px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
    transition: all 0.5s;
}

.jobiin-cta-btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

@media(min-width:768px) {
    .jobiin-cta-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
        display: inline-block;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
.viddeyo-header-section .border-video {
    border-radius: 20px;
}
.viddeyo-header-section .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.section-bonus img{
max-width: 350px;
}

.proof-sec {
	background:#C0F1FF url(../images/proof-bg.webp) no-repeat top center / cover;
	padding:30px 0px;
}
.test-sec {
	background:#ffffff url(../images/proof-bg.webp) no-repeat top center / cover;
	padding:30px 0px;
}
.data-sec {
	/* background:#091167 url(../images/data-bg.webp) no-repeat top center / cover;
	padding: 50px 0px 30px 0px; */
	background:#fff;
	padding: 30px 0px;
}
.offer-new{
	background-color: #FF1D48;
    padding: 15px 0;
}
.offer{
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
	flex-direction: column;
}
@media(min-width:768px) {
	.proof-sec {
		padding: 100px 0px;
		
	}
	.test-sec {
		padding: 100px 0px;
		
	}
	.data-sec {
		padding:100px 0px;
		
	}
	.offer{
		display: flex;
		align-items: center;
		gap: 15px;
		justify-content: center;
		flex-direction: row;
	}
}

.benefit-section{
	background-color: #0c1320;
	padding: 30px 15px;
}
.benefit-block {
	padding:20px 15px;
	height: 100%;
	border-radius: 20px;
	background-color: rgb(21, 36, 63);
	display: flex;
	align-items: center;
	gap:15px;
}
.benefit-block div img{
	width: 38px;
	min-width: 38px;
}
.benefit-section .gap30 {
    --bs-gutter-y: 30px;
    --bs-gutter-x: 30px;
}

.benefit-section .gaps {
    --bs-gutter-y: 50px;
}
.img-block{
	display: flex;
	align-items: center;
	justify-content:space-evenly;
	flex-direction: column;
	height: 100%;
	gap: 20px;
}
@media(min-width:768px) {
	.benefit-section{
		padding: 150px 0px 100px 0px;
		background:#cdf9da url(../images/benefit-section.webp) no-repeat top center / cover;
	}
	.benefit-section .gaps {
		--bs-gutter-x: 50px;
		--bs-gutter-y: 60px;
	}
}

.newbie-section{
	background-color: #fff;
	padding: 30px 0px;
}
.newbie-headline {
    background: #2572ff;
    padding: 30px 0px;
}
@media(min-width:768px) {
	.newbie-section {
		padding:0px 0px 100px 0px;
	}
	.newbie-headline {
		padding: 50px 0px 140px 0px;
		background: url(../images/newbie-headline.webp) center bottom / cover;
	}
}


.letsee-section{padding: 30px 0px;}
.letsee-block{background: url(../images/letsee-block.webp) no-repeat center center; background-size: 100% 100%; padding: 15px;}
.letsee-price-table{
    border-radius: 15px;
    background-color: rgb(2, 19, 51);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
    padding: 15px;
}
.lets-see-price-table{display: flex; align-items: center; justify-content: space-between;}

.price-shape{background: url(../images/price-shape.webp) no-repeat center center;
    padding: 5px 25px;
    background-size: 100% 100%;
    display: inline-block;
    text-align: center;}

.green-clr1{color: #13b631;}  

.border-b{border-bottom:1px solid rgb(12, 45, 105); padding-bottom: 30px!important;}

@media(min-width:768px){
    .letsee-section{padding: 100px 0px;}
    .letsee-block{padding: 50px;}
    .letsee-price-table{padding: 30px;}
    .price-shape{padding: 9px 40px;}
}


/*** CTA New Section ***/

.cta-section-new {
	background:#091166;
	padding: 30px 0;
}
@media (min-width: 768px) {
	.cta-section-new {
		padding: 60px 0;
	}
}

/************Research Section ********/
.research-section {
	background: #bee6ff;
	padding: 30px 0px;
}
.title-box {
	padding:15px;
	border-radius: 20px;
	background-color: #ffa705;
	display: inline-block;
}
@media (min-width: 768px) {
	.research-section {
		padding: 100px 0px 100px 0px;
		background:#b9e5ff url(../images/yourself.webp) no-repeat center bottom / cover;
	}
	.title-box {
		padding:15px 30px;
	}
}

/************Research Section ********/
.zero{
	padding: 30px 0px;
	background: url(../images/zero.webp) no-repeat center center;
	background-size: cover;
}
.zero .gap30 {
	--bs-gutter-y: 50px;
}

@media (min-width:768px) {
	.zero{		
		padding:50px 0px 180px 0px;
	}
	.zero .gap30 {
		--bs-gutter-x: 150px;
	}
}
.stats-section {
	background: #0a1268;
	padding: 30px 15px;
}
.stats-headline{
	background: url(../images/stats-line.webp) no-repeat center center;
	padding: 30px 15px 10px 15px;
	background-size:100% 100%;
	display: inline-block;
}
.stats-block{
	background-color: #f5f8ff;
    text-align: left;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 29px 0px rgb(4 4 17 / 20%);
	padding: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 20px;
}
.smiley{
	display: flex;
	align-items:center;
	gap: 15px;
	justify-content: center;
}
@media (min-width: 768px) {
	.stats-section {
		padding: 100px 0px 100px 0px;
		z-index: 9;
		position: relative;
		margin-top: -90px;
		background: url(../images/stats-section-bg.webp) no-repeat top center;
		background-size: cover;
	}
	.stats-headline{
		padding: 40px 50px;
	}
	.stats-block{
		padding:30px 20px;

	}

}

