.no-comparison-shape {
    background: #ebf6fb;
    padding: 15px;
    border-radius: 10px;
}

.extrasecwhite {
    background: #ebf6fb;
    padding: 30px 0;
}

.red-shape {
    background: #9c2341;
    padding: 5px 30px;
    border-radius: 50px;
    display: inline-block;
}

@media (min-width: 768px) {
    .red-shape {
        padding: 10px 40px;
        border-radius: 50px;
    }
    .no-comparison-shape {
        background: url(../images/no-comparison-shape-bg.png) no-repeat;
        background-size: contain;
        height: 633px;
        width: 1173px;
        padding: 80px 70px 15px 400px;
    }
    .extrasecwhite {
        background: #ffffff url(../images/warning-bg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}


/* Bonus Section */

.bonus-section {
    background: #ffffff;
    padding: 30px 0px;
}

.margin-t-60 {
    margin-top: -40px;
}

.bonus-section-shape {
    position: relative;
    border-radius: 10px;
    padding: 15px;
    background-color: #ebf6fb;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    height: 100%;
}

.bonus-headline {
    background: rgb(9, 20, 120);
    background-image: -moz-linear-gradient( 90deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}

@media (min-width: 768px) {
    .margin-t-60 {
        margin-top: -60px;
    }
    .bonus-section-shape {
        padding: 20px;
    }
}


/* Bonus Section End */


/* Table Section */

.table-section {
    background: #ffffff;
    padding: 30px 0px;
    color: #000000;
}

.table-wrap {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    /* border: solid 1px #cacaca; */
    overflow: hidden;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.table-head {
    /* background: url(../images/start-plan-bg.png) no-repeat center; */
    background: #ffffff;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    /* border-bottom: solid 1px #cacaca; */
}

@media (min-width: 768px) {
    .table-head {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
}

.table-content {
    padding: 60px 20px 40px 20px;
    background: #ffffff url(../images/tablecurveone.png) no-repeat center top;
    background-size: contain;
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
}

.table-wrap1 {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 22px 0px rgba(38, 23, 70, 0.4);
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

.table-wrap1:before {
    content: '';
    position: absolute;
    background: url(../images/most-popular.png) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 45px;
    top: -10px;
}

.table-head1 {
    padding: 40px 30px 30px 30px;
    text-align: center;
    background: rgb(9, 20, 120);
    background-image: -moz-linear-gradient( 90deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
}

@media (min-width: 768px) {
    .table-head1 {
        padding: 80px 30px 80px 30px;
        text-align: center;
    }
}

.table-content1 {
    padding: 60px 20px 40px 20px;
    background: #222466 url(../images/tablecurvetwo.png) no-repeat center top;
    background-size: contain;
}

.center-line {
    background: #000000;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.center-line-white {
    background: #ffffff;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.table-list li {
    background: url(../images/launch-tick-green.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}

.table-list li:nth-child(odd) {
    background: #ebf6fb url(../images/launch-tick-green.png) no-repeat;
    background-position: 15px 21px;
}

.table-list li:nth-child(even) {
    background: #ffffff url(../images/launch-tick-green.png) no-repeat;
    background-position: 15px 21px;
}

.table-list li.cross-sign {
    background: #ffffff url(../images/launch-cross.png) no-repeat !important;
    background-position: 15px 21px !important;
}

@media (min-width: 768px) {
    .table-list li {
        padding: 20px 15px 20px 65px;
        background-position: 16px 24px;
    }
    .table-list li:nth-child(odd),
    .table-list li.cross-sign {
        background: #ebf6fb url(../images/launch-tick-green.png) no-repeat;
        background-position: 16px 24px;
    }
    .table-list li:nth-child(even) {
        background: #ffffff url(../images/launch-tick-green.png) no-repeat;
        background-position: 16px 24px;
    }
}

.table-list li.headline {
    background: -moz-linear-gradient( 0deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background: -ms-linear-gradient( 0deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    padding: 20px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.table-list1 li {
    background: url(../images/table-tick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
    /* border-bottom: solid 1px #5153a1; */
}

.table-list1 li.headline {
    background: #ffb703!important;
    padding: 20px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.table-list1 li:last-child {
    border-bottom: none;
    /* padding-bottom: 0px; */
}

.table-list1 li:nth-child(odd) {
    background: #023047 url(../images/launch-tick-green.png) no-repeat;
    background-position: 15px 21px;
}

.table-list1 li:nth-child(even) {
    background: #003770 url(../images/launch-tick-green.png) no-repeat;
    background-position: 15px 21px;
}

@media (min-width:768px) {
    .table-section {
        padding: 100px 0px;
    }
    .table-list1 li {
        padding: 20px 15px 20px 65px;
    }
    .table-list1 li:nth-child(odd) {
        background: #023047 url(../images/launch-tick-green.png) no-repeat;
        background-position: 16px 23px;
    }
    .table-list1 li:nth-child(even) {
        background: #003770 url(../images/launch-tick-green.png) no-repeat;
        background-position: 16px 23px;
    }
}


/* Table Section End*/

.awesome-section {
    padding: 30px 0px;
    background: #023047;
}

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.riskfree-section {
    background: #f7d309;
    padding: 30px 0px;
}

.license-section {
    background: #ebf6fb;
    padding: 30px 0px;
}

.amazing-tool-bg {
    padding: 30px 0px;
    background: #ffffff;
}

.amzing-deal-shape {
    background: #4b16b4;
    border-radius: 5px;
    padding: 10px;
}

.comparetable-section {
    padding: 30px 0px;
    background: #ffffff;
}

.nocomparsion-section {
    background: #ffffff;
    padding-bottom: 30px;
}


/* Support Section */

.support-section {
    background: #060e13;
    padding: 30px 0px;
}

.bottom-testi-section {
    background: #ebf6fb;
    padding: 30px 0px;
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.boxborder-rb {
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.boxborder-b {
    border-bottom: 1px solid #ffffff;
}

.boxborder-r {
    border-right: 1px solid #ffffff;
}

@media (max-width: 767px) {
    .boxborder {
        border: 1px solid #ffffff;
        border-top: 0px;
        padding: 20px;
    }
    .top-first,
    .first-top-border {
        border: 1px solid #ffffff;
    }
}

@media (min-width: 768px) {
    .boxbg {
        height: 280px;
        padding: 15% 0% 20%;
    }
    .comparetable-section {
        padding: 70px 0px 100px 0px;
        background: #ffffff url(../images/compare-table-bg.png) no-repeat center center;
        background-size: cover;
    }
    .bottom-testi-section {
        padding: 100px 0px;
        background: #ebf6fb url(../images/testimonial-bg-bottom.png) no-repeat center center;
        background-size: cover;
    }
    .support-section {
        padding: 70px 0px 120px 0px;
        background: #ffffff url(../images/support-section-bg.png) no-repeat center bottom;
        background-size: cover;
    }
    .nocomparsion-section {
        padding: 0px 0px 100px 0px;
        background: #ffffff url(../images/no-compare-bg.png) no-repeat center bottom;
        background-size: cover;
    }
    .amzing-deal-shape {
        background: url(../images/amzing-deal-shape.png) no-repeat center center;
        background-size: contain;
        padding: 20px 15px 20px;
    }
    .amazing-tool-bg {
        padding: 100px 0px 100px 0px;
        background: #ffffff url(../images/amazing-tool-bg.png) no-repeat center center;
        background-size: cover;
    }
    .riskfree-section {
        padding: 100px 0px;
        background: #ffffff url(../images/riskfree-bg.png) no-repeat bottom center;
        background-size: cover;
    }
    .license-section {
        padding: 100px 0px 100px 0px;
        background: #ebf6fb url(../images/commercial-license-bg.png) no-repeat center bottom;
        background-size: cover;
        border: none;
    }
    .footer-section {
        padding: 50px 0px;
    }
    .bonus-section {
        background: #ffffff;
        padding: 100px 0px;
        background: url(../images/bonus-section.png) no-repeat center center;
        background-size: cover;
    }
    .awesome-section {
        background: #023047 url(../images/awesome-bg1.png) no-repeat top center;
        background-size: cover;
        padding: 100px 0px;
    }
}

.faq-section {
    padding: 30px 0px;
    background-color: #fff;
}

.faq-list {
    background: url(../images/faq-icon.png) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 22px;
}

.option-3-section {
    background: #ffbdbd;
    padding: 30px 0;
}

.shape-testi6 {
    background-color: #ff0000;
    border-radius: 65px;
    padding: 8px 15px 8px 15px;
    display: inline-block;
    margin-top: 0px;
    position: relative;
    color: #ffffff;
    top: -36px;
    margin-bottom: -20px;
}

.potential-sec {
    background: #0e161b;
    padding: 30px 0px;
}

.niche-bg {
    border-radius: 40px;
    background: #fd8b25;
    padding: 2px 30px;
    display: inline-block;
}

.super-duper-section {
    background: #00165f;
}

@media (min-width: 768px) {
    .faq-section {
        padding: 100px 0px;
    }
    .niche-bg {
        padding: 2px 50px;
    }
    .option-3-section {
        background: #ffbdbd url(../images/problem-section.png) no-repeat bottom center;
        background-size: cover;
        padding: 100px 0px;
    }
    .shape-testi6 {
        padding: 8px 30px 8px 30px;
        top: -70px;
        margin-bottom: 0px;
    }
    .potential-sec {
        background: url(../images/potential-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0px;
    }
}

.crusel-col {
    display: inline-block;
    margin-left: -4px;
}

.carousel {
    width: 100%;
}

.slide-box {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .slide-box img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        transition: transform .2s;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        transition: transform .2s;
    }
}

@media (min-width: 992px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        transition: transform .2s;
    }
}

.slide-box img:hover {
    transform: scale(1.3);
}


/* Compare Table */

section.comp-table ul {
    list-style: none;
    padding: 0;
}

section.comp-table ul li {
    border-left: 1px solid rgb(226 226 226);
    border-right: 1px solid rgb(226 226 226);
    height: 60px;
    line-height: 60px;
    align-items: flex-start;
    align-content: center;
    padding: 0px 25px;
    justify-content: center;
}

@media (min-width:768px) {
    section.comp-table ul li {
        border-left: 1px solid rgb(226 226 226);
        border-right: 1px solid rgb(226 226 226);
        height: 60px;
        line-height: 60px;
        display: flex;
        align-items: flex-start;
        align-content: center;
        padding: 0px 25px;
        justify-content: start;
    }
}

section.comp-table ul li:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    font-weight: 600;
}

section.comp-table ul li:nth-child(odd) {
    background: #ebf6fb;
}

section.comp-table .fist-row li:first-child {
    border-top-right-radius: 0px;
    border-top: 1px solid rgb(226 226 226);
}

section.comp-table .third-row li:first-child {
    border-top-left-radius: 0px;
}

section.comp-table .fist-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-left-radius: 20px;
}

section.comp-table .second-row li:first-child {
    border-top: 1px solid rgb(226 226 226);
    height: 150px;
    text-align: center;
    align-items: center;
    background-image: -moz-linear-gradient( 90deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%)!important;
    background-image: -webkit-linear-gradient( 90deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%)!important;
    background-image: -ms-linear-gradient( 90deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%)!important;
}

section.comp-table .third-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-right-radius: 20px;
}

section.comp-table .second-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
}

section.comp-table .second-row {
    margin-top: -50px;
}

section.comp-table .second-row ul li {
    background: #023049;
}

section.comp-table .second-row ul li:nth-child(odd) {
    background: #00376f;
}

section.comp-table .third-row li:first-child {
    align-items: center;
    border-top: 1px solid rgb(226 226 226);
}

@media (max-width:767px) {
    section.comp-table ul li {
        height: 100px;
        line-height: 22px;
        padding: 15px;
    }
    section.comp-table .second-row li:first-child svg {
        transform: rotate(90deg);
        height: 30px!important;
    }
    section.comp-table .second-row li:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

section.comp-table .second-row li:first-child {
    justify-content: center;
}

section.comp-table .third-row li:first-child {
    justify-content: center;
}

@media (min-width:768px) {
    section.comp-table ul li {
        align-items: center;
        justify-content: start;
    }
}

section.comp-table ul li span {
    padding-right: 10px;
}

@media (max-width:767px) {
    section.comp-table .fist-row li:first-child,
    section.comp-table .third-row li:first-child {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    section.comp-table .second-row li:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    section.comp-table .second-row li:first-child svg {
        max-height: 80px!important;
        height: 30px!important;
    }
    section.comp-table ul li {
        height: 110px;
        line-height: 22px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}


/* end compare table */

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.boxborder-rb {
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.boxborder-b {
    border-bottom: 1px solid #ffffff;
}

.boxborder-r {
    border-right: 1px solid #ffffff;
}

@media (max-width: 767px) {
    .boxborder {
        border: 1px solid #ffffff;
        border-top: 0px;
        padding: 20px;
    }
    .top-first,
    .first-top-border {
        border: 1px solid #ffffff;
    }
}

@media (min-width: 768px) {
    .boxbg {
        height: 280px;
        padding: 15% 0% 20%;
    }
}


/* cta  */

.cta-section-new {
    background-color: #023047;
    padding: 30px 0;
}

@media (min-width:768px) {
    .cta-section-new {
        background: #023047 url(../images/cta-bg-new.png) no-repeat center center;
        padding: 100px 0;
        background-size: 100% 100%;
    }
}

.silver-platter-section {
    background: #ffffff url(../images/silver-platter-bg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.huge-opportunity-shape {
    background: #ebf6fb;
    border: 2px solid #ebf6fb;
    border-radius: 15px;
    padding: 15px 12px;
}

.alone-bg {
    background-color: #ebf6fb;
    box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.alone-bg {
    position: relative;
}

.wearenot-alone-section {
    background: #ffffff;
    padding: 0px 0px 30px 0px;
}

.testimonial-section {
    padding: 30px 0px;
}

.final-section {
    padding: 30px 0;
    background: #023047;
}

.converting-shape {
    background-color: #ffb703;
    padding: 10px 20px;
    display: inline-block;
    border: 1px dashed #020d13;
    line-height: 30px;
    border-radius: 65px;
}

@media (min-width: 768px) {
    .huge-opportunity-shape {
        background: url(../images/huge-opportunity-shape.png) no-repeat center center;
        background-size: 100% 100%;
        border: 0px;
        border-radius: 0px;
        padding: 45px 40px 50px;
    }
    .silver-platter-section {
        padding: 80px 0px 100px 0px;
    }
    .alone-bg {
        padding: 25px 30px 25px 10px;
    }
    .dollars-sm-image {
        width: 211px;
        min-width: 211px;
        height: 163px;
        margin-left: -120px;
        top: 0px;
        left: 0px;
    }
    .alone-bg:after {
        content: "";
        position: absolute;
        width: 87px;
        height: 49px;
        background-image: url(../images/arrow-down.png);
        left: 44%;
        bottom: -49px;
    }
    .wearenot-alone-section {
        background: #ffffff url(../images/wearenotalone-bg.png) no-repeat center center;
        background-size: cover;
        padding: 0px 0px 100px 0px;
    }
    .testimonial-section {
        padding: 100px 0px 70px 0px;
    }
    .final-section {
        background: #00175f url(../images/cta-bg-new.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
    .converting-shape {
        background: #ffb703;
        background-size: 100% 100%;
        background-position: center;
        margin-top: 10px;
        border: 1px dashed #020d13;
        border-radius: 50px;
        padding: 15px 40px 15px 40px;
        line-height: 100%;
    }
}


/* Targeted CSS */

.need-marketing {
    background: #ffffff;
    padding: 30px 0px;
}

.noneed-listing li {
    list-style: none;
    background: url(../images/tick-icon.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
    min-height: 42px;
}

.noneed-listing li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .need-marketing {
        background: url(../images/works-seamlessly.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}

.look-shape {
    border-radius: 20px;
    padding: 20px 15px;
    color: #ffffff;
    width: 100%;
    float: left;
    background-color: #f9aa18;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}


/* Targeted CSS End*/

.noneed-section {
    padding: 30px 0px;
}

.noneed-shape {
    padding: 15px;
    position: relative;
    background: #ebf6fb;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .noneed-shape {
        padding: 30px;
    }
    .noneed-section {
        padding: 100px 0px;
    }
}

.noneed-list li {
    list-style: none;
    background: url(../images/sad-emoji.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}

.noneed-list li.happy {
    list-style: none;
    background: url(../images/happy-emoji.png) no-repeat !important;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}

.noneed-list1 li {
    list-style: none;
    background: url(../images/happy-emoji.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}