@media (max-width: 767px){
	.masthead{
		background:#01021d;
		
		padding-top: 20px;
		padding-bottom: 30px;
	
	}
}

@media (min-width: 768px){
	.masthead{
		background: #f0f8fa url('../img/background/1.webp') no-repeat;
		background-size: 100% 100%;
		background-position: bottom;
		
		padding-top: 40px;
		padding-bottom: 100px;
	
	}
}
.shadow11{
	border-radius: 40px;
	position: relative;
	padding: 15px 10px;

	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}
.shadow11 span{
	background-color: #ED1C24;
	display: inline-block;
	padding: 15px;
	border-radius: 30px;
}


.shadow2{
	background-image: url('../img/shadow2.webp');
	background-size: cover;
	background-position: bottom;
	position: relative;
	padding: 15px 100px ;
	margin-top: 30px;
	display: inline-block;
	background-color: none;
	background-size: 100% 80px;
	background-repeat: no-repeat;
}
.shadow21{
	background-image: url('../img/shadow21.webp');
	background-size: cover;
	background-position: bottom;
	position: relative;
	padding: 15px 0 ;
	display: inline-block;
	background-color: none;
	background-size: 100% 80px;
	background-repeat: no-repeat;
}
.home1 h1{
	text-shadow: 4px 4px 0px #09005D;
}
.home1 .box{
	width: 280px;
	padding: 15px;
	border-radius: 30px;
	background: #FCCC00;
	margin: 30px auto;
}
.home1 .box1{
	padding: 15px;
	border-radius: 30px;
	background-image: url('../img/bg01.webp');
	background-position: center center;
	background-repeat: no-repeat;
	margin: 30px auto;
}
.home1 .bg-warning{
	padding: 15px;
	border-radius: 50%;
	display: inline-block;
}
.starbg{
	background-image: url('../img/star.webp');
	background-repeat: no-repeat;
	background-position: bottom;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 50px;
	top: 10px;
	bottom: 0px;
	left: 20px;
}

.starbg_right{
	background-image: url('../img/star.webp');
	background-repeat: no-repeat;
	background-position: bottom;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 50px;
	top: 10px;
	bottom: 0px;
	right: 20px;
}

.home1 .video_box iframe {
	width: 100%;
    height: 360px;
    border-radius: 30px;

}

.home1 .bg13{
	padding: 15px 30px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	background: linear-gradient(90deg, #00AEEF 0%, #1F76C5 100%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
font-weight:700;
}
.home1 .content_box table td svg{
	color: #E1473D;
}
.home1 .content_box table td{
	border: none;
	padding-bottom: 10px;
	padding-top: 0px;
	line-height: 22px;
	padding-left:5px;
}

.home1 .content_box table td:first-child img{
	width: 30px;
}

.home1 .row .first_col{
	background-color: #72d1f7;
}

.home1 .row .content_box{
	padding: 12px 20px;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 4px 8px 25px rgba(109, 141, 173, 0.5);
}
.home1_footer{
	padding-top: 70px;
}
.home2 {
	background-image: url('../img/background/2.webp');
	background-repeat: no-repeat;
	background-size: cover;
}
.step-section{
	margin-top: -140px;
}
.home2a{
	background-image: url('../img/background/2a.webp');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.home2 .content h2{
	display: inline-block;
	background-color: transparent;
	padding: 10px 20px;
	border:2px solid #BDF1FF;
}
.home2 .content{
	position: relative;
}
.home2 .content .row1{
	text-align: center;
	margin-top: -180px;
}
.home2 .content .row2{
	position: absolute;
	top: 150px;
}

.home2a{
	background-color: #F1FAFF;
}

.circle21{
	background-image: url('../img/cicrle21.webp');
	background-repeat: no-repeat;
	padding: 30px 50px;
	background-size: 200px 80px;
}


.home3{
	background-image: url('../img/background/3.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: 399;
  padding-top: 7%;
  padding-bottom: 40px;
}

.shadow31{
	background:  linear-gradient(310.76deg, #00DFFD 6.04%, #00D9FD 17.79%, #00C7FD 32.48%, #00AAFD 51.58%, #0082FD 70.67%, #004CFD 92.71%);
	border-radius: 5px;
	position: relative;
	padding: 15px 15px;
}
.
.shadow31 span{
	background-color: #ED1C24;
	display: inline-block;
	padding: 15px;
	border-radius: 30px;
}

.home3a{
	background-image: url('../img/background/3a.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
}
.home3a .content {
	background: linear-gradient(90deg, #00AEEF -23.29%, #1360A6 43.68%);
	border-radius: 20px;
	padding: 30px;
}
.shadow3a1{
	background-color: #fff;
	border-radius: 80px;
	position: relative;
	padding: 15px 15px;
	background-color: none;
	background-size: 100% 60px;
	background-repeat: no-repeat;
	box-shadow: 12px 12px 0px #09005D;
}

.home3 .box {
	border-radius: 5px;
	margin-bottom: 60px;
	text-align: center;



}
.home3 .box img{
	padding-right: 15px;
}
.home3 .box p{
	 color: rgba(7, 77, 140, 1);;

}

.home3 .box1 {
	margin-bottom: 30px;
	text-align: center;
	padding: 25px;

	box-shadow: 0px 4px 20px rgba(0, 184, 196, 0.6);
	background: linear-gradient(90deg, #00AEEF -23.29%, #1360A6 43.68%);
	border-radius: 8px;
}
 .content .box1 h2 {
	
}

.home4{
	background-image: url('../img/background/4.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 500;
  padding-bottom: 15%;
}
.home4c{
	background-color: #EEFAFE	;
}
.home4 .text ,.home4c .text{
	background: #FFF1DC;
	box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.25);
	border-radius: 12px;
	padding: 30px;
	margin-bottom: 30px;
}
.home5{
	background: radial-gradient(107.96% 107.96% at 109.51% 107.97%, #FFEBF2 8.63%, #FFA8A8 87.55%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  position: relative;
  z-index: 490;
  margin-top: -10%;
  padding-top: 12%;
}
.home5_bg{
	background-image: url('../img/background5.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.home6{
	background-image: url('../img/background/6.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home6a{
	background-image: url('../img/background/6a.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.home6 .content{
	position: relative;
}
.home6 .content .row1{
	position: absolute;
	top: 170px;
	left: 400px;
}
.home6 .content .row2{
	position: absolute;
	top: 200px;
	left: 360px;
}
.home6 .bg61{
	background: #FDD337;
	padding: 15px;
	border-radius: 25px;
	display: inline-block;

}

.home6 .content .box{
	background-color: #fff;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.25);
}
.home7{
	margin-top: -15%;
	position: relative;
	z-index: 500;
}

.home7 .content{
	
	border-radius: 25px;
	background: #BDF1FF;
	padding: 25px 30px;
}

.home7_1{
	background-color: #FFE5A9;
}
.home7a{
	background-image: url('../img/background/7a.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
}
.bg7a1{
	background: rgba(0, 174, 239, 0.1);
	padding: 10px;
}
.home7b{
	background-image: url('../img/background/7b.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.home4a{
	background-color: #FFEAE9;
}
.home8 svg{
	color: #54c138;
	margin-right: 5px;
}

.home10{
	padding-top: 7%;
  padding-bottom: 7%;
  background-image: url('../img/background/10.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.home10 .content_box ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.home10a{
	margin-top: -5%;
}
.home10a .box{
	padding: 30px 20px ;
	background-color: #fff;
	box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.25);
	border-radius: 16px;
}

.home11{
}

.home12a{
	background-image: url('../img/background12a.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.home13{
	background-image: url('../img/background/13.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 7%;
  z-index: 500;
  position: relative;
  padding: 70px 0 400px;
}
.home13 .shadow13a1{
	display: inline-block;

}
.home13 .shadow13a1{
	background: #BDF1FF;
	width: fit-content;
	text-align: center;
	padding: 15px;
	margin: 0 auto;
	border-radius: 100px;
}
.home13 .box_set{
  background-color: rgb(237, 28, 36);
  margin: 0 auto;
  padding: 15px;
  border-radius: 35px;
}
.home13a {
	margin-top: -5%;
	padding-top: 12%;
	background-image: url('../img/background13a.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 15%;
  position: relative;
  z-index: 499;

}
.home13a .shadow11{
	box-shadow: none;
}

.home13a .box1{
	padding: 15px;
	border-radius: 30px;
	background-image: url('../img/bg01.webp');
	background-position: center center;
	background-repeat: no-repeat;
	margin: 30px auto;
}
.home13a .box .bg-warning{
	display: inline-block;
	padding: 15px;
	border-radius: 50%;
}
.home13_1{
	position: relative;
	z-index: 501;
	margin-top: -70px;
}
.home13_1 .box_set{
  background-color: #FDD337;
  margin: 30px auto;
  padding: 15px;
  border-radius: 35px;
}
.home14a{
	background: radial-gradient(189.4% 161.2% at 50% 122.46%, #FFEBF2 31.13%, #FFA8A8 100%);
}

.home14a .content{
	border-radius: 15px;
}

.home3c{
	background: radial-gradient(93.66% 93.66% at 10.94% -9.62%, #8DE9FF 0%, #D8FFFC 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.home3c iframe {
    width: 100% !important;
    margin-bottom: 30px
}



.home15{
	background-image: url('../img/background15.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.home15a2{
	background-image: url('../img/background15a2.webp');
  background-repeat: no-repeat;
  background-size: 100% 500px;
}

.home15 .item img{
	height: 80px;
}
.home15b{
	background-image: url('../img/background22.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.home15b iframe{
	width: 100% !important;
	margin-bottom: 30px;
}
	
.home16{
	background-image: url('../img/background16.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.home16 .content h2{
	display: inline-block;
	color: #00B8C4;
}
.home16 .content{
	position: relative;
}
.home16 .content .col-sm-6 img{
	height: 330px;
}
.home16 .content .row1{
	position: absolute;
	top: 150px;
}
.home16 .content .row2{
	position: absolute;
	top: 150px;
}
.bg02{
	padding: 15px;
	border-radius: 30px;
	background-image: url('../img/bg02.webp');
	background-position: center center;
	background-repeat: no-repeat;
	margin: 30px auto;
}
.home17{
	background-image: url('../img/background/17.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 7%;
}
.home17c{
	background-image: url('../img/background/17c.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 7%;
}
.home17 .item img{
	float: left;

}
.home17 .item{
  border-radius: 18px;
  padding-top: 30px;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
box-shadow: 0px 4px 20px rgba(0, 184, 196, 0.12);

}
.home17 .item p{
	color: #063960;
	font-size: 20px;
	padding-left: 70px;
	font-weight: 700;
	margin-top: 2%;
}
.home18{
  position: relative;
  z-index: 500;
  background-image: url('../img/background/18.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 7%;
  position: relative;
  z-index: 500;
}

.home18 .content{
  position: relative;
  z-index: 500;
  background-image: url('../img/background/2a.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7%;
  position: relative;
  z-index: 500;
}

.home18 .item{
	padding: 15px 15px;
   position: relative;
	margin-top: 40px;
	border: 1px solid #00B8C4;
	box-shadow: 0px 4px 20px rgba(0, 184, 196, 0.12);
	border-radius: 8px;
	height: 100px;
	background-color: #fff;
}
.home18 .item h2{
	padding: 15px 0 15px 60px;
}
.home18 .item img{
	float: left;
}
.home18a{
	position: relative;
  z-index: 500;
	padding-top: 7%;
  padding-bottom: 5%;
}

.bgred{
	background-color: #ED1C24;
	border-radius: 35px;
	padding: 15px;
	display: inline-block;
}

.bgyellow{
	background-color: #F6C847;
	border-radius: 35px;
	padding: 15px;
	display: inline-block;
}

.home18a .item{
	padding: 15px 15px;
}
.home18a .item img{
}
.home18b{
  padding-top: 8%;
  padding-bottom: 8%;
  position: relative;
  z-index: 500;
  margin-top: -2px;
  background-size: cover;
  background-repeat: no-repeat;
}
.home18c{
  padding-top: 8%;
  position: relative;
  z-index: 501;
}
.home18d{
  position: relative;
  z-index: 500;
  background-image: url('../img/background/18d.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 7%;
  position: relative;
  z-index: 500;
}
.home18d .content .item{
	margin-bottom: 50px;
	padding-top: 50px;
}
.home18d .content .item h2{
	margin-top: 30px;
	font-size: 24px;
}
.home18d .content .row:first-child{
	background: none;
}
.home18d .content .row{
	background: linear-gradient(90deg, rgba(0, 184, 196, 0.09) 0.78%, rgba(0, 184, 196, 0.48) 36.95%, rgba(0, 184, 196, 0.48) 66.41%, rgba(0, 184, 196, 0.09) 100%);
	background-size: 100% 3px;
	background-repeat: no-repeat;
}
.home18d .content .row .col-sm-6:last-child{
	background: linear-gradient(90deg, rgba(0, 184, 196, 0.09) 0.78%, rgba(0, 184, 196, 0.48) 36.95%, rgba(0, 184, 196, 0.48) 66.41%, rgba(0, 184, 196, 0.09) 100%);
	background-size: 3px 100%;
	background-repeat: no-repeat;
}
.home19{
	background-color: #F0FBFF;
}

.home19 .item{
  border-radius: 18px;
  height: 250px;
  background-color: #fff;
  padding: 40px 30px 0;

}
.home20{
	position: relative;
	z-index: 450;
	background-image: url('../img/background20.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-top: -1%;
  padding-bottom:20% ;
}
.home21{
	background-image: url('../img/background/21.webp');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
	padding-top: 40vh;

}
.home22 img{
	border: 1px solid #00B8C4;
}
.home22 ul{
	list-style-type: none;
}
.home23{
	background-color: #011470;
  position: relative;
  z-index: 105;
}
.home23 .content{
	background-color: #fff;
	border-radius: 15px;
}
.home23 .bg13 {
	display: inline-block;

}

.home24{
	/*background-color: #005daa;*/
}

.home24 .color_white{
	color: rgba(255, 255, 255, 0.9);
}

.home23 .bg13{
	border-radius: 30px;
	background-color: #f6c847;
}



.home25{
	background:#e1e7f3 ;
}
.home25 .content{
	padding: 25px;
	position: relative;

}

.home25 .header{
}

.home25 .content img{
	margin-right: 15px;
}
.home25 .list{
	background-repeat: no-repeat;
	background-size: 100% 5px;
	box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.25);
	border-radius: 16px;
	padding: 20px 20px 20px 40px;
		background-color: #fff;
		border: 1px solid #004CFD;


}
.home25 .list ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.home25 .list ul li{
	font-size: 20px;
	margin-bottom: 15px;
}
.home25 .list ul li svg{
	 color: #00AA30;
	 margin-right: 10px;
}
.home25a{
	background-image: url('../img/background25a.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 20%;
  position: relative;
  z-index: 500;
}

.home26{
	position: relative;
	z-index: 510;
}


.home28{
	background-color: #00154B;
}

.border1{
	background-image: url('../img/border1.webp');
	background-repeat: repeat-x;
	background-size: auto 15px;
	background-position: 0% 110%;

}

.border2{
	background-image: url('../img/border2.webp');
	background-repeat: repeat-x;
	background-size: auto 15px;
	background-position: 0% 110%;

}

.border4{
	background-image: url('../img/border4.webp');
	background-size: auto 65px;
	display: inline-block;
	padding: 10px 25px;
	background-repeat: no-repeat;
}

.circle{
	background-image: url('../img/circle.webp');
	background-repeat: no-repeat;
	background-size: 180px 80px;
	display: inline-block;
	padding: 10px;
	/*background-position: ;*/
}

.circle2{
	background-image: url('../img/cicrle2.webp');
	background-repeat: no-repeat;
	padding: 20px 50px;
	background-size: 80% 90px;
	/*background-position: ;*/
}

.circle3{
	background-image: url('../img/circle3.webp');
	background-repeat: no-repeat;
	background-size: 330px 70px;
	display: inline-block;
	padding: 10px;
}

.circle4{
	background-image: url('../img/circle3.webp');
	background-repeat: no-repeat;
	background-size: 260px 70px;
	display: inline-block;
	padding: 10px;
}
.circle5{
	background-image: url('../img/circle3.webp');
	background-repeat: no-repeat;
	background-size: 300px 60px;
	display: inline-block;
	padding: 10px;
}
.circle6{
	background-image: url('../img/circle3.webp');
	background-repeat: no-repeat;
	background-size: 280px 50px;
	display: inline-block;
	padding: 10px;
}
.dot{
	background-image: url('../img/dot.webp');
	background-repeat: repeat-x;
	background-size: auto 10px;
	background-position: 0% 110%;
}

.blue_dot{
	background-image: url('../img/blue_dot.webp');
	background-repeat: repeat-x;
	background-size: auto 10px;
	background-position: 0% 110%;
}

.home2-a .color_pink{
	border-radius: 50px;
	padding: 16px 32px;
	background: #ED1C24;
	width: 150px;
	margin: 0 auto 10px;
	color: #fff;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.border_set_1{
	margin-top: 0%;
}

.left_arrow{
	margin-top: -200px;
}

.home2a .box1,.home2 .box1{
	margin-top: -130px;
}
.right_arrow{
	margin-top: -140px;
	margin-left: 200px;
}
.home2a .box2,.home2 .box2{
	margin-top: -100px;
}

a.btn_custom_set {
     display: inline-block;
     padding: 15px 100px;
     font-size: 24px;
     cursor: pointer;
     text-align: center;
     text-decoration: none;
     outline: none;
     color: #fff;
     background-color: #4CAF50;
     border: none;
     border-radius: 80px;
     box-shadow: 0 9px #7c4525;
}
 a.btn_custom_set:hover {
     background: linear-gradient( 90deg, rgba(249,154,4,1) 0%, rgba(255,29,0,1) 100%);
}
 a.btn_custom_set:active {
     box-shadow: 0 5px #666;
     transform: translateY(4px);
     background: linear-gradient( 90deg, rgba(249,154,4,1) 0%, rgba(255,29,0,1) 100%);
}


@media only screen and (min-width: 2200px) {
  .masthead{
    background-position: 100% 70%;

}
}

.probtn1 a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    border-radius: 10px;
    background: var(--orange-gradient, linear-gradient(360deg, #ED1C24 0%, #FF813B 100%));
}
.probtn1 a:hover  {
    border-radius: 8px;
    background: var(--orange-gradient, linear-gradient(360deg, #FF813B 0%,#ED1C24 100%));
    color: #ffffff;
}
@media (min-width: 768px){
.probtn1 a {
    padding: 25px 40px;
    font-size: 35px;
}
}
.list-head {
    list-style: none;
	padding: 0;
}
.list-head li {
    background: url(../img/ticktop.webp) no-repeat;
    padding: 10px 0px 12px 35px;
    background-position: 0px 12px;
    text-align: left;
    border-bottom: solid 2px #091e42;
}
.list-head li:last-child {
    border-bottom: none;
}
.moneyback-section {
    background: #1a243f;
    background-size: cover;
    padding: 30px 0;
    color: #ffffff;
}
.footer-section {
    background: #000000;
    padding: 30px 0px;
}
.footer-ul{
	padding: 0;
}
.footer-ul li {
    display: inline;
	list-style: none;
}
@media (min-width: 768px){
.moneyback-section {
    background: #1a243f url(../img/background/1.webp) no-repeat center center;
    background-size: cover;
    padding: 70px 0 70px 0px;
    color: #ffffff;
}
.footer-section {
    padding: 50px 0px;
}
.home2a .header{padding-top: 100px;}
}
.px5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
@media(max-width:767px){
	.home2, .home3a{
		background: #f0f8fa;
		padding: 30px 0px;
	}
	.home2a{
		background:#1260a6;
		padding: 30px 15px 40px !important;
	} 
	.home4{
		background:#074d8d;;
	}
	.home7a{
		background: #f0f8fa;
	}
	.home7b{
		background: #fff;
	}
	.home3a > .content{
		background:#1260a6;
		padding: 30px 15px 40px !important;
	}
	.home13{
		background:#1260a6;
		padding-bottom: 40px !important;
	}
	.home2a > .header{
		padding-top: 30px;
	}
	.home18{
		background: #fff;;
	}
	.home18  .content{
		background:#1260a6 !important;
		padding: 30px 15px 40px !important;
	}
	.home18d{
	 background: #f0f8fa;
	}
	.home18d .content .row .col-sm-6:last-child{
		background: none;
	}
	.home18d .content .row {
		background: none;
	}
	.home21{
		padding: 20px 0;
		background: #bdcad3;
		height: auto;
	}
	.home25 .content{
		padding: 25px 0;
	}
	.home25 .list{
		padding: 20px 15px 20px 15px;
	}
	.home25 .list ul li{
		font-size: 18px;
	}
	.home18d .content .item{
		margin-bottom: 10px;
		padding-top: 20px;
	}
}
.no-thanks{
	text-decoration: none;
	color: #dc3545 !important;
	font-size: 24px;
	font-weight: 700;
}
.warning-section {
    background-color: #7938ff;
    padding: 20px 0px;
}
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
@media (min-width: 768px){
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
}
}