body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
    overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}


/* Header Section CSS */

.header-section {
    background-color: #fff;
    padding: 5% 0;
}

.orange-clr {
	color: #f6841f;
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.footer-section {
    background: #05071A;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

a.blue-clr {
    color: #6e44ff;
}
.white-box{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}
.white-sec {
    padding: 30px 0px;
    background: #080334;
}
.contact-block {
    padding: 20px;
    position: relative;
    background: linear-gradient(102.18deg, #0A1347 7.04%, #0D2183 108.72%);
    border-radius: 30px;
}
@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
    .white-sec {
        padding: 100px 0px;
    }
    .contact-block {
        padding: 80px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/list-sec-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
}

.lightred {
    color: #f6841f;
}

a.lightred {
    color: #f6841f;
}

.footer-ul li a:hover {
    color: #fff;
}