html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #252525;
}

.orange-clr {
	color: #F2A736;
}

.orange-clr1{
	color: #E76D24;
}

/* Header Section Start */

.header-section {
    background: url(../images/header-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px;
    background-attachment: fixed;
    animation: shrink 5s infinite alternate;
    position: relative;
}
@keyframes shrink {
	0% {
	  background-size: 110% 110%;
	}
	100% {
	  background-size: 100% 100%;
	}
  }

.preheadline {
    display: inline-block;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: solid 2px rgba(255, 255, 255, 0.25);
}

.ele1{
	position: absolute;
	bottom: -75px;
    left: -20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}	

.ele2{
	position: absolute;
	top: 400px;
    right: 20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}

@-webkit-keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}
@keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}

.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.probtn1 a {
    transition: all .3s ease;
    border-radius: 15px;
    background: #F2A737;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn1 a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}

@media(min-width:768px) {
    .header-section {
        padding: 40px 0px 100px 0px;
    }
    .probtn1 a {
    font-size: 38px;
    padding: 28px 60px;
    display: inline-block;
    width: auto;
    border-radius: 100px
    }
    
}

/* Header Section End */

/* Second Setion Start */

.second-section {
    padding: 0 0 30px 0;
    background: #fff
}

.header-list-block {
    padding: 20px 0;
    margin: 0;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 20px 20px;
}

@media(min-width:768px) {
    .second-section {
        padding: 0 0 100px 0;
        background: #fff url(../images/list-section-bg.webp) no-repeat center center;
        background-size: cover;
    }

    .header-list-block {
        padding: 40px 30px 80px 30px;
    }
}

/* Second Section End */

/* Presenting Section Start */
.presenting-sec{
	padding: 30px 0px;
	background: url(../images/introducing.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.presenting-wrap {
	padding: 0px 0px 15px 0px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	border-radius: 50px;
	border: solid 2px rgba(255, 255, 255, 0.25);
	max-width: 95%;
	margin: 20px auto 0px auto;
}
.presenting-head{
	background: url(../images/introducing-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 55px 70px 55px;
    display: inline-block;
	margin-top: -10px;
}
.ele3{
	position: absolute;
	top: 35%;
    right: 10%;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}
@media(min-width:768px){
	.presenting-sec{padding: 100px 0px;}
	.presenting-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}
	.presenting-head{
		padding: 20px 140px 140px 140px;
		margin-top: -20px;
	}

}
@media(min-width:1600px) {
	.presenting-wrap {
		max-width: 85%;
	}
}

/* Presenting Section End */

/* ThatsNotAll Section Start */

.thats-not-all-section {
    background: #fff;
    padding: 30px 0
}

.one-time-shape {
    padding: 10px;
    background: #224cb0;
    border-radius: 5px
}

@media(min-width:768px){
    .thats-not-all-section {
        padding: 100px 0 100px;
        background: url(../images/agency-upgrade-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .one-time-shape {
        background: url(../images/one-time-shape.webp) no-repeat center center;
        background-size: contain;
        border: 0;
        border-radius: 0;
        padding: 22px 15px 70px
    }
}

/* ThatsNotAll Section End */

/* Amazing Section Start */

.amazing-software-section1 {
    background: #f1f1f1;
    padding: 30px 0
}

@media(min-width:768px){
    .amazing-software-section1 {
        padding: 100px 0;
    }
}

/* Amazing Section End */

/* White Section Start */

.white-section {
    background: #fff;
    padding: 30px 0
}

@media(min-width:768px){
    .white-section {
        padding: 100px 0;
    }
}

/* White Section End */

/* Grey Section Start */

.grey-section {
    background: #f1f1f1;
    padding: 30px 0
}

@media(min-width:768px) {   
    .grey-section {
        padding: 100px 0 100px
    }
}

/* Grey Setion End */

/* Moneyback Section Start */

.moneyback-section {
    background: #fff url(../images/moneyback-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 30px 0;
}

@media(min-width:768px) {        
    .moneyback-section {
        padding: 100px 0px 70px 0px;
    }
}

/* Moneyback Section End */

/* Bonus Section Start */

.bonus-section {
    background: #eef4fb url(../images/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0
}

.feature-shape {
    background-image: -moz-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    background-image: -webkit-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    background-image: -ms-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}

@media(min-width:768px){
    .bonus-section {
        padding: 70px 0
    }
    .feature-shape:after {
        content: '';
        background: url(../images/line-shape.webp) no-repeat right bottom;
        padding: 22px 0;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -15px;
        right: -15px;
    }
}

/* Bonus Section End */

/* Table Section Start */

.table-section {
    background: #fff;
    padding: 30px 0
}

.tablebox2 {
    background: #fff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #a2a1a3
}

.tbbg2 {
    background: #fff;
    padding: 50px 30px 30px 30px;
    background-size: cover;
    border-radius: 10px 10px 0 0
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    color: #000;
    background: #fff;
    border-radius: 0 0 10px 10px;
    border-top: 0
}

ul.grey-tick-last {
    padding: 0
}

ul.grey-tick-last li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #08041e
}

ul.grey-tick-last li:last-child {
    border-bottom: 0
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #f1f1f1;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #fff;
}

.tablebox3 {
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
    position: relative;
    border: solid 1px #a2a1a3;
    background-color: #252525;
}

.tbbg3 {
    background: #252525;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0 0
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101
}

ul.vgreytick {
    padding: 0
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #000
}

ul.vgreytick li:nth-child(odd) {
    background-color: #f1f1f1;
}

ul.vgreytick li:nth-child(even) {
    background-color: #fff
}

ul.vgreytick li:last-child {
    border-bottom: 0
}

.myfeatureslastborder {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    min-height: 69px;
    background: #fff
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #2447a2;
}

@media(min-width:768px){
    .table-section {
        padding: 100px 0;
		background:url(../images/table-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .gx-6 {
        --bs-gutter-x: 4rem
    }
    .tbbg2 {
        padding:50px 30px 50px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }
    .tbbg3 {
        padding: 50px 30px 50px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }    
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }
    .myfeatureslast {
        padding: 30px
    }
}

/* Table Section End */

/* Footer Section Start */

.footer-section {
    background: #252525;
    padding: 30px 0
}

.footer-ul {
    padding: 0;
    margin: 0
}

.footer-ul li {
    display: inline
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0
    }
}

/* Footer Section End */
img.size{
    max-height: 100px;
}
.features-title {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	gap: 15px;
}


