.container {
    height: unset;
}

body {
	font-family: 'Spartan', sans-serif;
	color: #000000;
	font-size: 14px;
}
.black-clr {
    color: #000000;
}

.white-clr {
    color: #ffffff;
}

.orange-clr{
    color:#ffca5a;
}
.orange-clr1{
    color: #f36f21;
}

.blue-clr {
    color: #0041b5;
}

/* Header Section CSS */

.header-section {
    background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 30px 0 30px 0px;
}

span.under {
    border-bottom: 4px solid;
}
.fifth-section {
	background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    padding: 30px 0px 30px 0;
}

@media(min-width:768px) {
    .header-section {
        background: #091274 url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 40px 0px 130px 0px;
    }
    .fifth-section {
        background: #edecec  url(../images/next-gen-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 200px 0 100px 0px;
    }
}

.second-section {
    padding: 5% 0;
}

.relative {
    position: relative;
}

.kapblue {
    color: #0041b5;
}

.thats-not-all-section {
    background: #ffffff;
    background-size: cover;
    padding: 30px 0px;
}

.one-time-shape {
    padding: 10px;
    background: #224cb0;
    border-radius: 5px;
}

.amazing-software-section1 {
    background: #edeefc;
    background-size: cover;
    padding: 30px 0;
}

@media(min-width:767px) {
    .one-time-shape {
        background: url(../images/one-time-shape.webp) no-repeat center center;
        background-size: contain;
        border: 0px;
        border-radius: 0px;
        padding: 22px 15px 70px;
    }
    .thats-not-all-section {
        background: url(../images/white-section-bg.webp) no-repeat;
        padding: 100px 0px 100px;
        background-size: cover;
        background-position: top center;
    }
    .mt-sm120 {
        margin-top: 120px;
    }
    .imahe-h-300 {
        height: 400px;
    }
    .imahe-h-250 {
        height: 350px;
    }
    .amazing-software-section1 {
        background: #fff6eb url(../images/blue-section-bg.webp) no-repeat center center;
               padding: 80px 0;
    }
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/

.white-section {
    background: #fff;
    padding: 30px 0;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}


@media(min-width:768px) {
    .footer-section {
        padding:50px 0px;
    }
}
.footer-section a:hover{text-decoration: none; color: #fff;}

/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    width: 100%;
    float: left;
    /* background: #224cb0; */
    background: rgb(9,20,120);
    background: -moz-linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    background: -webkit-linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    background: linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    position: relative;
}

ul.vgreytick {
    padding: 0px 0px;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #000;
}

ul.vgreytick li:nth-child(odd) {
    background-color: #f8f6ff;
}

ul.vgreytick li:nth-child(even) {
    background-color: #fff;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px 0px;
}

ul.grey-tick-last li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #ffffff;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #09163c;
}

ul.grey-tick-last li:nth-child(even) {
    background-color:#0f1730;
}

.tbbg2 {
    background: #ffffff;
    padding: 50px 30px 30px 30px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

.tbbg3 {
    background: rgb(9,20,120);
    background: -moz-linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    background: -webkit-linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    background: linear-gradient(0deg, #0b0823 0%,  #0a1449 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}

@media (min-width:768px) {
    .tbbg2 {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
    }
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px;
    }
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    color: #000;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
}

.myfeatureslastborder {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.thanks-button a:hover {
    color: #224cb0;
}

@media(min-width:768px) {
    .myfeatureslast {
        padding: 30px;
    }
	.f-md-70 {
		font-size: 70px;
	}
}

/*Table CSS End*/

.grey-section {
    background: #f8f6ff;
    padding: 30px 0;
}

.moneyback-section {
	background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background-size: cover;
    padding: 30px 0;
}

.bonus-section {
    background: #ecebeb;
    background-size: cover;
    padding: 30px 0;
}

.table-section {
    background: #ffffff;
    padding: 4% 0;
}

@media (min-width:768px) {
    .table-section {
        padding: 70px 0 100px 0px;
        background: url(../images/pricing-table-bg.webp) no-repeat !important;
        background-position: center center !important;
    }
    .bonus-section {
        background: #ffffff url(../images/bonus-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 70px 0px 120px 0px;
        border-bottom: 0px;
    }
    .moneyback-section {
        background: #e9e9e9  url(../images/moneyback-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 120px 0 100px;
    }
}

/*-------- Responsive ------------*/

@media (min-width:768px) {
    .white-section {
        padding: 100px 0;
        background: url(../images/white-section-bg.webp) no-repeat;
        background-position: center center;
    }
    .grey-section {
        background: url(../images/blue-section-bg.webp) no-repeat;
        padding: 100px 0px 100px;
        background-position: center center;
    }
}

.probtn1 a {
    border-radius: 15px;
    background-image: -moz-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,50,112) 0%, rgb(255,112,42) 100%);
    box-shadow: 0px 10px 15px 0px rgb(246 82 121 / 15%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
    outline: none;
    border: none;
}
@media (min-width: 768px)
{
    .probtn1 a {
		font-size: 38px;
		padding: 28px 30px;
    }
}
.probtn1 a:hover {
    text-decoration: none;
    background: #fb7b55;
}
.second-section {
    padding: 30px 0px;
    background: #ecebeb;
}
@media (min-width: 768px){
    .second-section {
        padding: 100px 0 0px !important;
        background: url(../images/blue-section-bg.webp) no-repeat !important;
        background-position: center center !important;
    }
}

.pre-shape {
    background: url(../images/pre-shape.webp) no-repeat center bottom;
}

