@import url(style.css);
@import url(timer.css);

/* Generator Page css */

.whitesection {
    background: #fff;
    padding: 30px 0
}

.formsection {
    padding: 0 0 30px 0
}

.formsection .form_area input[type="text"],
.formsection .form_area input[type="text"]:focus {
    width: 100%;
    box-shadow: none;
    outline: 0;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background-color: #fff;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none !important;
    color: #000;
    padding: 6px 15px
}

.formsection .form_area::-webkit-input-placeholder {
    color: #666
}

.formsection .form_area:-ms-input-placeholder {
    color: #666
}

.formsection .form_area::placeholder {
    color: #666
}

.formsection .form_area input[type="submit"] {
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    border-radius: 15px;
    text-decoration: none;
    border: 0;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px;
    line-height: 30px;
    font-weight: 700;
    outline: 0;
    white-space: normal
}

.formsection .form_area input[type="submit"]:hover {
    background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
}

@media(min-width:768px) {
    .formsection .form_area input[type="submit"] {
        padding: 23px 20px
    }
    .formsection {
        padding: 30px 0 100px 0
    }
}


/* Generator Page css End */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}
/* Main Header Section CSS */

.main-header {
    background: #1e0432;
    padding: 30px 0px 50px 0px;
}
.main-headline{
    background: url(../images/main-heading.png) no-repeat center center;
    padding: 50px ;
    position: relative;
    background-size: auto;
}
@media (min-width: 1600px){
.main-heading {
    padding: 5.5% 19% 5.1% 20%;
}}
.elearn-header {
    background: #000;
    padding: 30px 0px 50px 0px;
}
/* Affiliate Bonus Buy Button */

a.bonusbuy-btn {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 5px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 55px;
    background: linear-gradient(93.05deg, #7b4cfe 0%, #5433ae 100%);
    transition: all 0.5s;
}

a.bonusbuy-btn:hover,
a.bonusbuy-btn:focus {
    transform: scale(1.08);
    transition: all 0.5s;
    background: linear-gradient(93.05deg, #7b4cfe 0%, #5433ae 100%);
    text-decoration: none;
}

a.bonusbuy-btn-bundle {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 5px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 55px;
    background: linear-gradient(93.05deg, #7b4cfe 0%, #5433ae 100%);
    transition: all 0.5s;
}

a.bonusbuy-btn-bundle:hover,
a.bonusbuy-btn-bundle:focus {
    transform: scale(1.08);
    transition: all 0.5s;
    background: linear-gradient(93.05deg, #7b4cfe 0%, #5433ae 100%);
    text-decoration: none;
}
/* Bonus Header Section bg Start Main Css */

.bonus-header {
    padding: 30px 10px 0px 10px;
}

.heading-bg {
    background-color: #ee3725;
    border-radius: 10px;
    padding: 15px 15px;
    color: #ffffff;
}

.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #5f33b1;
    display: inline-block;
    text-transform: uppercase;
}

.section-bonus {
    padding: 30px 0px;
}

.bonus-title-color {
    color: #47228a;
}

.bonus-list li {
    background: url(../images/kap-tick.webp) no-repeat;
    background-position: 0 5px;
    padding-left: 3rem;
    padding-bottom: 25px;
    list-style-type: none;
}

.bonus-list li:last-child {
    padding-bottom: 0px;
}


/* For Header Bg */

.dark-cta-sec {
    background: #321e77 url(../images/cta-bg-new.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
}

.cta-btn-section {
    padding: 30px 0px;
}

.huge-area {
    padding: 30px 0;
    background: #08041e;
}

@media(min-width:768px) {
   
    .main-header {
        background: #fff url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 40px 0px 150px 0px;
    }
    .elearn-header{
        background: #000 url(../images/header-bg-elearn.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        padding: 40px 0px 300px 0px;
    }
    .bonus-header {
        padding: 70px 0px 0px 0px;
    }
    .heading-bg {
        background: url(../images/head-bg.webp);
        background-repeat: no-repeat;
        background-position: top center;
        padding: 50px 15px 100px 15px;
        background-size: 100% 100%;
    }
    a.bonusbuy-btn,
    a.bonusbuy-btn:focus {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
    a.bonusbuy-btn-bundle,
    a.bonusbuy-btn-bundle:focus {
        font-size: 32px;
        padding: 28px 40px 30px 40px;
    }
    a.bonusbuy-btn1,
    a.bonusbuy-btn1:focus {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
    .section-bonus {
        padding: 50px 0px;
    }
    .dark-cta-sec {
        padding: 50px 0px;
    }
    .huge-area {
        background: #fff url(../images/new_bg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 100px 0px;
        color: #fff;
    }

}


/* Exit Pop Up Css Start */

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}


/* #ouibounce-modal .modal-body {
	padding: 0px 20px;
	font-size: .9em
} */

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.modal-body {
    position: relative;
    padding: 15px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 30px;
    opacity: 1;
    outline: none;
    color: #300476 !important;
    font-weight: 400;
    background: #ffe8cc !important;
    top: 1px;
    position: absolute;
    z-index: 2;
    right: 1px;
    padding: 0px 5px 0px 5px !important;
}

.modal-header .close {
    margin-top: -5px;
}

.innerbody {
    border-radius: 10px;
    margin-top: -1%;
    float: left;
    width: 100%;
}

.popupbg {
    background: url(../images/exitbg.webp) repeat;
    padding: 8px 0px;
}


/* Media Querry Start */

.footer-section {
    background: #000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/* Exclusive-Section */

.exclusive-bonus {
    background: #e95093;
    padding: 30px 15px;
}

.profitmozo {
    padding: 30px 15px;
}

.blue-sky {
    color: #00ccff;
}

.orange {
    color: #f5821f;
}

.underline {
    text-decoration: underline;
}

.heading-head {
    background: -webkit-linear-gradient(#1d2d45 0%, #21385c 50%, #254677 100%);
    background: -o-linear-gradient(#1d2d45 0%, #21385c 50%, #254677 100%);
    background: linear-gradient(#1d2d45 0%, #21385c 50%, #254677 100%);
    width: 100%;
    padding: 1% 0 3%;
}

.fast-easy {
    background: #1d2d45;
    padding: 45px 15px;
}


.feature-list-sec {
    padding: 30px 0px;
    background: #ffffff;
}

@media (min-width: 768px) {
    .feature-list-sec {
        padding: 0px 0px 70px 0px;
    }
}

.feature-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}

@media(min-width:768px) {
    .feature-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }
}

.feature-bordered-list li {
    list-style: none;
}

.orange-list li {
    padding: 12px 20px 12px 50px;
    position: relative;
}

.orange-list li::before {
    content: url(../images/green-tick.webp);
    position: absolute;
    left: 0px;
    top: 15px;
}

.exclusive-bonus {
    background: #e95093;
    padding: 30px 15px;
}

/* Writer-Header-Section  Css Start */
.writer-header-section {
	background: #e7e9fa url(../images/writerarc-header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 30px 0px;
}

.writer-header-section .blue-clr1 {
    color: #b8b8f8;
}

.writer-header-section .post-headline {
	border: 1px solid rgb(22, 22, 88);
	border-radius: 10px;
	background-color: rgb(3, 3, 35);
	padding: 15px;	  
	display: inline-block;
}

.writer-header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.writer-header-section ul.leader-ul li {
	display: inline-flex;
	padding: 0px 5px;
}

.writer-header-section ul.leader-ul li a {
	color: #ffffff;
}

.writer-header-section .affiliate-link-btn a {
	background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 15px;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #ffffff !important;
	font-weight: 600;
	position: relative;
    overflow: hidden;
}

.writer-header-section .affiliate-link-btn a::before {
    position: absolute;
    width: 100%;
    height: 34px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}

.writer-header-section .list-head {
	list-style: none;
}

.writer-header-section .list-head li {
	background: url(../images/writerarc-correct-tick.webp) no-repeat;
    padding: 0px 0px 10px 50px;
    background-position: 0px 5px;
    text-align: left;
}

.writer-header-section .list-head li:last-child {
	border-bottom: none;
}

@media (min-width:768px) {
	.writer-header-section {		
		padding: 40px 0px 100px 0px;
	}

	.writer-header-section ul.leader-ul {
		margin-top: 12px;
	}

	.writer-header-section .affiliate-link-btn a {
		padding: 12px 25px;
		font-size: 20px;
	}

	.writer-header-section .affiliate-link-btn a:hover {
		transition: all .3s ease;
    	background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
	}
	.writer-header-section .min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}
	.writer-header-section .min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}
}

/*WriterArc Header Section Css End */

/* Trendio Header Section Starts */

.tr-header-section {
    background: #f7d309;
    padding: 30px 0 30px 0px;
}
.tr-header-section .trpre-heading {
    position: relative;
    padding: 10px 5px;
    display: inline-block;
    color: #f7d309;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    transform: skew(-10deg);
}
.tr-header-section .blue-clr, a.blue-clr {
    color: #0a52e2;
    text-decoration: none;
}
.tr-header-section .key-features-bg1 {
    padding: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 15px;
}
.tr-header-section .list-head1 {
    list-style: none;
}
.tr-header-section .list-head1 li {
    background: url(https://cdn.oppyo.com/launches/jobiin/special-bonus/launch-tick-green1.webp) no-repeat;
    padding: 10px 0px 10px 30px;
    background-position: 0px 14px;
    text-align: left;
    border-bottom: solid 1px #080038;
}
.tr-header-section .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 15px 0px 25px 0px rgb(19 21 26 / 30%);
    z-index: 99;
}
.tr-header-section .blue-clr, .tr-header-section a.blue-clr {
    color: #003770;
    text-decoration: none;
}
.tr-header-section .responsive-video iframe, .tr-header-section  .responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
 @media (min-width: 468px){
    .tr-header-section {
    background: #f7d309 url(../images/header-bg-trendio.png) no-repeat center center;
    background-size: cover;
    padding: 40px 0px 100px 0px;
}

.tr-header-section .trpre-heading {
    position: relative;
    padding: 15px 20px;
}

 }
/* Trendio Header Section Ends */

/* Header CSS */
.restrosuite-header-section {
	background: url(../images/restrosuite-header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px;
	background-attachment: fixed;
	animation: shrink 5s infinite alternate;
	position: relative;
}
@keyframes shrink {
	0% {
	  background-size: 110% 110%;
	}
	100% {
	  background-size: 100% 100%;
	}
}

.restrosuite-header-section .preheadline {
	display: inline-block;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: solid 2px rgba(255, 255, 255, 0.25);
}

.restrosuite-header-section .ele1{
	position: absolute;
	bottom: -75px;
    left: -20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}	

.restrosuite-header-section .ele2{
	position: absolute;
	top: 400px;
    right: 20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}

@-webkit-keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}
@keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}

.restrosuite-header-section .header-wrap {
	padding: 0px 0px 15px 0px;
	background: rgba(11, 28, 55, 0.2);
	backdrop-filter: blur(3px);
	border-radius: 15px 15px 0px 0px;
	border: solid 1px #2561BD;
	max-width: 95%;
	margin: 20px auto 0px auto;
}

.restrosuite-header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.restrosuite-header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
	font-weight: 400;
	color: #ffffff;
}

.restrosuite-header-section ul.leader-ul li:hover a {
	transition: 0.5s all ease-in;
	color: #fff !important;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}


.restrosuite-header-section ul.leader-ul li .active {
	transition: 0.5s all ease-in;
	color: #fff;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}

.restrosuite-header-section ul.leader-ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}
.restrosuite-header-section .mainheadline-res {
    padding: 20px;
}
.restrosuite-header-section .key-features-bg {
    padding: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 15px;
}
.list-head li {
    background: url(../images/yellow-tick.webp) no-repeat;
    padding: 10px 0px 10px 35px;
    background-position: 0px 13px;
    text-align: left;
    border-bottom: solid 1px #252525;
    list-style-type: none;
}
.video-box-res{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 23px 0px rgb(0 0 0 / 13%);
    border: 4px solid #c57849;
}
@media(min-width:768px) {

    .restrosuite-header-section  .mainheadline-res {
        border-radius: 26px;
        background-color: rgba(255, 255, 255, 0.25);
        position: relative;
        z-index: 9;
        left: -5px;
        top: -5px;
        padding: 20px 10px;
    }
	.restrosuite-header-section .header-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}

	.restrosuite-header-section {
		padding: 40px 0px 100px 0px;
	}


	.restrosuite-header-section .min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}

	.restrosuite-header-section .min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}

	.restrosuite-header-section ul.leader-ul li {
		display: inline-block;
		padding: 0px 15px;
		font-weight: 400;
		color: #ffffff;
	}
}
@media(min-width:1600px) {
	.restrosuite-header-section .header-wrap {
		max-width: 85%;
	}
}

/* Header End */

.d-btn a {
    display: inline-block;
    background-image: -moz-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    border-radius: 15px;
    padding: 12px 35px;
    color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    }
    .d-btn a:hover {
    text-decoration: none;
    background-image: -moz-linear-gradient( 64deg, rgb(252, 177, 33) 0%, rgb(250, 132, 96) 100%);
    background-image: -webkit-linear-gradient( 64deg, rgb(252, 177, 33) 0%, rgb(250, 132, 96) 100%);
    background-image: -ms-linear-gradient( 64deg, rgb(252, 177, 33) 0%, rgb(250, 132, 96) 100%);
    }

    
 
/* Vocalic Header Section Css Start */

.header-section-vc {
	background: #001244;
	padding: 30px 0px;
}

.header-section-vc ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.header-section-vc ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
}

.header-section-vc ul.leader-ul li a {
	color: #ffffff;
}

.header-section-vc .border-video {
	border-radius: 20px;
}

.header-section-vc .affiliate-link-btn a {
	border-radius: 60px;
	background-color: #fff;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #0f172b !important;
	font-weight: 700;
}
.header-section-vc .highlight-heading {
    background: #00aced;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0px;
}

.header-section-vc .calendar-wrap {
	border-radius: 15px;
	background-color: #000f59;
	padding: 20px;
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	z-index: 1;
}


.header-section-vc  .list-head {
	list-style: none;
}

.header-section-vc .list-head li {
	background: url(https://cdn.oppyo.com/launches/vocalic/special/list-tick.webp) no-repeat;
	padding: 0px 0px 10px 30px;
	margin-bottom: 10px;
	background-position: 0px 8px;
	text-align: left;
	border-bottom: solid 1px #1d3271;
}

.header-section-vc .list-head li:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: none;
}
.header-section-vc a.cta-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 5px;
    color: #ffffff;
    font-weight: 800;
    font-size: 22px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 100px;
    transition: all 0.5s;
    border-radius: 100px;
    background-image: -moz-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
}

@media (min-width:768px) {
	.header-section-vc {
		background: #001244 url(https://cdn.oppyo.com/launches/vocalic/special/header-bg.webp);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 40px 0px 70px 0px;
	}

	.header-section-vc ul.leader-ul {
		margin-top: 0px;
	}

	.header-section-vc .affiliate-link-btn a {
		padding: 10px 25px;
		font-size: 18px;
	}

	.header-section-vc .affiliate-link-btn a:hover {
		background-image: -webkit-linear-gradient(90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
		color: #ffffff !important;
	}

	.header-section-vc .min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58%;
		flex: 0 0 58%;
		max-width: 58%;
	}

	.header-section-vc .min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 42%;
		flex: 0 0 42%;
		max-width: 42%;
	}
    .header-section-vc a.cta-link-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
        display: inline-block;
    }
}
.header-section-vc .blue-clr {
    color: #0e2672;
}
.header-section-vc .yellow-clr {
    color: #ffe400;
}
.header-section-vc .preheadline {
    background: #ffffff;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
}
/* Header Section Css End */
