
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}

.black-clr {
    color: #000000;
}

.white-clr {
    color: #ffffff;
}
.purple-clr {
    color: #4029fc;
}
/* Header Section CSS */

.header-section {
    background: url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px;
}
.pre-heading {
    background: #550076;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
}

.yellow-clr {
    color: #fff600;
}

span.under {
    border-bottom: 4px solid;
}

.fifth-section {
    background: url(../images/header-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
    position: relative;
}

.proudly-sec {
    background: #10a6f8;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}

@media(min-width:768px) {
    .header-section {
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .fifth-section {       
        padding: 100px 0px;
    }
    .pre-heading {
        padding: 15px 40px;
        background: url(../images/pre-shape.webp) no-repeat center center;
        background-size: cover;
    }
    .proudly-sec {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
}

.kapblue {
    color: #240f75;
}

.thats-not-all-section {
    background: #f9f9f9;
    background-size: cover;
    padding: 30px 0px;
}

.one-time-shape {
    padding: 10px;
    background: #224cb0;
    border-radius: 5px;
}

.amazing-software-section1 {
    background: #deeaff;
    padding: 30px 0;
}

@media(min-width:767px) {
    .one-time-shape {
        background: url(../images/one-time-shape.webp) no-repeat center center;
        background-size: contain;
        border: 0px;
        border-radius: 0px;
        padding: 22px 15px 70px;
    }
    .thats-not-all-section {
        background:#f9f9f9 url(../images/white-section-bg.webp) no-repeat;
        padding: 100px 0px 100px;
        background-position: center center;
    }
    .imahe-h-300 {
        height: 400px;
    }
    .imahe-h-250 {
        height: 350px;
    }
    .amazing-software-section1 {
        background: #deeaff url(../images/blue-section-bg.webp) no-repeat center center;
        padding: 80px 0;
    }
}

/********features*********/

.white-section {
    background: #f9f9f9;
    padding: 30px 0;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.orange-clr {
    color: #f57c25;
}

@media(min-width:768px) {
    .footer-section {
        padding: 70px 0px;
    }
}

/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    width: 100%;
    float: left;
    background: #200d68;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    position: relative;
}

ul.vgreytick {
    padding: 0px 0px;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #000;
}

ul.vgreytick li:nth-child(odd) {
    background-color: #deeaff;
}

ul.vgreytick li:nth-child(even) {
    background-color: #fff;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px 0px;
}

ul.grey-tick-last li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #ffffff;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #15064a;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #200d68;
}

.tbbg2 {
    background: #ffffff;
    padding: 50px 30px 30px 30px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

.tbbg3 {
    background:#200d68;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}

@media (min-width:768px) {
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 20px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 20px;
    }
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    color: #000;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
}

.myfeatureslastborder {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.thanks-button a:hover {
    color: #224cb0;
}

@media(min-width:768px) {
    .myfeatureslast {
        padding: 30px;
    }
    .f-md-70 {
        font-size: 70px;
    }
}


/*Table CSS End*/

.grey-section {
    background: #deeaff;
    padding: 30px 0;
}

.moneyback-section {
        background: #f9f9f9 url(../images/moneyback-bg.webp) no-repeat top center;
        background-size: cover;
    padding: 60px 0 30px 0px;
}

.bonus-section {
    background: #deeaff;
    background-size: cover;
    padding: 30px 0;
}

.table-section {
    background: #f9f9f9;
    padding:30px 0px;
}

@media (min-width:768px) {
    .table-section {
        padding: 70px 0 100px 0px;
    }
    .bonus-section {
        background: #ffffff url(../images/bonus-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px 120px 0px;
        border-bottom: 0px;
    }
    .moneyback-section {

        padding: 100px 0 100px;
    }
}

/*-------- Responsive ------------*/

@media (min-width:768px) {
    .white-section {
        background:#f9f9f9 url(../images/white-section-bg.webp) no-repeat;
        padding: 100px 0px 100px;
        background-position: center center;
    }
    .grey-section {
        background:#deeaff url(../images/blue-section-bg.webp) no-repeat;
        padding: 100px 0px 100px;
        background-position: center center;
    }
}

.probtn1 a {
    border-radius: 10px;
    background-color: #f57c25;
    box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.45);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

@media (min-width: 768px) {
    .probtn1 a {
        font-size: 38px;
        padding: 28px 30px;
    }
}

.probtn1 a:hover {
    background-color: #fa9045;
    text-decoration: none;
}

.second-section {
    padding: 30px 0px;
    background: #f9f9f9;
}

@media (min-width: 768px) {
    .second-section {
        padding: 100px 0 !important;
        background:#deeaff url(../images/white-section-bg.webp) no-repeat !important;
        background-position: center center !important;
    }
}

.up-btn-header a {
    border-radius: 8px;
    background: #ff9023;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
}

@media(min-width:768px) {
    .up-btn-header a {
        font-size: 42px;
        padding: 28px 30px;
    }
}

.up-btn-header a:hover {
    background: #ee851c;
    text-decoration: none;
}

.probtn1 a {
    border-radius: 8px;
    background: #ff9023;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
}

@media(min-width:768px) {
    .probtn1 a {
        font-size: 42px;
        padding: 28px 30px;
    }
}

.probtn1 a:hover {
    background: #ee851c;
    text-decoration: none;
}

.black-design {
    background: #240f75;
    padding: 15px 30px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block;
}

@media (min-width: 768px) {
    .black-design {
        padding: 15px 60px;
    }
}

.black-design .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}

.footer-ul .t-decoration-none:hover {
    color: #fff;
}

.kapblue:hover {
    color: #240f75 !important;
}

.proudly-list-bg {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgb(0 42 119 / 30%);
}
.proudly-tick li {
    background: url(../images/tick.webp) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 35px;
}
@media(min-width:768px){
    .proudly-list-bg {
        padding: 25px;
    }
}