/* Support Section */

.support-container {
    padding:30px 0px;
    background: #ffffff;
}

.feature-wrapper {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    gap: 15px;
    text-align: left;
    height: 100%;
    background: #0F2549;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.support-section{
    padding:30px 0px;
    max-width: 95%;
    margin:0px auto;
    border-radius: 15px;
    background: #080e20;
    backdrop-filter: blur(5px);
}
.sep-line{
    background: radial-gradient(965.32% 101.56% at 50% -1.56%, rgba(217, 217, 217, 0) 0%, #D9D9D9 47.92%, rgba(217, 217, 217, 0) 100%);
    width:3px;
    height:100%
}
@media (min-width:767px) {
    .support-container {
        padding:100px 0px;
        background:#fff url(../images/herere-some-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .feature-wrapper {
        padding: 30px 25px;
        gap:20px;
    }
    .support-section{
        padding:80px 0px;
        max-width: 95%;
        margin:0px auto;
        border-radius: 50px;
    }
}
@media(min-width:1600px) {
	.support-section {
		max-width: 85%;      
	}
   

}



/* Support Section End */


/* Compare Table  Section */

section.comp-table ul {
    list-style: none;
    padding: 0;
}

section.comp-table ul li {
    border-left: 1px solid #F4F6FD;
    border-right: 1px solid #F4F6FD;
    height: 60px;
    line-height: 60px;
    align-items: flex-start;
    align-content: center;
    padding: 0px 25px;
    justify-content: center;
    background: #ffffff;
}

@media (min-width:768px) {
    section.comp-table ul li {
        border-left: 1px solid #F4F6FD;
        border-right: 1px solid #F4F6FD;
        height: 110px;
        line-height: 110px;
        display: flex;
        align-items: flex-start;
        align-content: center;
        padding: 0px 20px;
        justify-content: start;
    }
}

section.comp-table ul li:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    font-weight: 600;
}

section.comp-table ul li:nth-child(odd) {
    background: #eef5ff;
}

section.comp-table .fist-row li:first-child {
    border-top-right-radius: 0px;
    border-top: 1px solid #F4F6FD;
}

/* section.comp-table .third-row li:first-child {
    border-top-left-radius: 0px;
} */

section.comp-table .fist-row li:last-child {
    border-bottom: 1px solid #F4F6FD;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

section.comp-table .second-row li:first-child {
    border-top: 1px solid #F4F6FD;
    height: 150px;
    text-align: center;
    align-items: center;
    background: #6e44ff;
}

section.comp-table .second-row li:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .third-row li:last-child {
    border-bottom: 1px solid #F4F6FD;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .forth-row li:last-child,
section.comp-table .fifth-row li:last-child,
section.comp-table .sixth-row li:last-child {
    border-bottom: 1px solid #F4F6FD;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .second-row li:last-child {
    border-bottom: 1px solid #F4F6FD;
    height: 70px;
}

section.comp-table .second-row {
    margin-top: -50px;
}

section.comp-table .second-row ul li {
    background: #0e3d85;
}

section.comp-table .second-row ul li:nth-child(odd) {
    background: #062D69;
}

section.comp-table .third-row li:first-child {
    align-items: center;
    border-top: 1px solid #F4F6FD;
}

section.comp-table .second-row ul li,
section.comp-table .third-row ul li,
section.comp-table .forth-row ul li,
section.comp-table .fifth-row ul li,
section.comp-table .sixth-row ul li {
    justify-content: center;
    text-align: center;
}

@media (max-width:767px) {
    section.comp-table ul li {
        height: 100px;
        line-height: 22px;
        padding: 15px;
    }
    section.comp-table .second-row li:first-child svg {
        transform: rotate(90deg);
        height: 30px!important;
    }
    section.comp-table .third-row li:first-child span,
    section.comp-table .forth-row li:first-child span,
    section.comp-table .fifth-row li:first-child span,
    section.comp-table .sixth-row li:first-child span {
        transform: rotate(90deg);
    }
    section.comp-table .second-row li:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

section.comp-table .second-row li:first-child {
    justify-content: center;
}

section.comp-table .third-row li:first-child {
    justify-content: center;
}

@media (min-width:768px) {
    section.comp-table ul li {
        align-items: center;
        justify-content: start;
        line-height: normal;
        flex-wrap: wrap;
    }
}

section.comp-table ul li span {
    padding-right: 10px;
    display: contents;
}

@media (max-width:767px) {
    section.comp-table .fist-row li:first-child,
    section.comp-table .third-row li:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.comp-table .second-row li:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    section.comp-table .second-row li:first-child svg {
        max-height: 22px!important;
        height: 30px!important;
    }
    section.comp-table ul li {
        height: 180px;
        line-height: 22px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.comp-wrap{
    padding: 30px 15px;
    background: url(../images/reason-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    border-radius: 20px;
}

@media(min-width:768px){
    .comp-wrap {
        padding: 80px 80px 60px 80px;
    }
}

.comparetable-section {
    padding: 30px 0px;
    background: #ffffff;
}


.no-comparison-shape {
    background: #efedf7;
    padding: 15px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .no-comparison-shape {
        background: url(../images/no-comparison.webp) no-repeat;
        background-size: contain;
        height: 633px;
        width: 1173px;
        padding: 80px 70px 15px 400px;
    }

    .comparetable-section {
        padding: 50px 0px 100px 0px;
        background:transparent url(../images/compare-bg.webp) center center no-repeat;
        background-attachment: fixed;
    }
}


/* Compare Table Section End */


/* Targeted CSS */

.need-marketing {
    background: #ffffff;
    padding: 30px 0px;
}

.noneed-listing li {
    list-style: none;
    background: url(../images/tick-icon.webp) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
    min-height: 42px;
}

.noneed-listing li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .need-marketing {
        background: url(../images/works-seamlessly.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}

.look-shape {
    border-radius: 20px;
    padding: 20px 15px;
    color: #ffffff;
    width: 100%;
    float: left;
    background-color: #6e44ff;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}


/* Targeted CSS End*/


/* Bonus Section */

.bonus-section {
    background: #efedf7 url(../images/bonus-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.margin-t-60 {
    margin-top: -40px;
}

.margin-t-37 {
    margin-top: -25px;
}

.bonus-section-shape {
    position: relative;
    border-radius: 10px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    height: 100%;
}

.bonus-headline {
    background-image: -webkit-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}

.bonus-gradient {
    background: linear-gradient(to bottom, #F2A736 0%, #E76D24 100%);
    display: inline-block;
    padding: 30px 30px 15px 30px;
    border-radius: 0px 0px 30px 30px;
}
.bonus-title{
    background: url(../images/bonus-shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding:15px;
    text-align: center;
}
@media (min-width: 768px) {
    .bonus-title{
        padding: 25px;
        background-size: contain;
    }
    .bonus-section {
        padding: 100px 0px;
    }
    .margin-t-60 {
        margin-top: -45px;
    }
    .bonus-section-shape {
        padding: 20px;
    }
    .margin-t-37 {
        margin-top: -37px;
    }
    .f-md-100 {
        font-size: 100px;
    }
    .lh240 {
        line-height: 240%;
    }
}


/* Bonus Section End */

.license-section {
    background-color: #050d23;
    padding:30px 0px 30px 0px;
}

.amazing-sound{padding: 30px 0px;}

.mt-20px {
    margin-top: -20px;
}

@media (min-width:768px) {
    .license-section {
        padding:130px 0px 170px 0px;
        background: #ffffff url(../images/license-section-bg.webp) no-repeat bottom center;
        background-size: 100% 100%;
    }
    .amazing-sound{padding:100px 0px;}
}

.noneed-section {
    padding: 30px 0px;
}

.noneed-shape {
    padding: 15px;
    position: relative;
    background: #eef5ff;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .noneed-shape {
        padding: 30px;
    }
    .noneed-section {
        padding: 50px 0px 100px 0px;
    }
}

.noneed-list li {
    list-style: none;
    background: url(../images/check-mark.webp) no-repeat;
    background-position: 0 -4px;
    padding: 0 0 35px 50px;
}
.noneed-list li:last-child{
	padding-bottom:0px;
}

.noneed-list li.happy {
    list-style: none;
    background: url(../images/happy-emoji.webp) no-repeat !important;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}

.riskfree-section {
    background: #050d23;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .riskfree-section {
        padding: 140px 0px 170px;
        background: #ffffff url(../images/riskfree-bg.webp) no-repeat center top;
        background-size: 100% 100%;
    }
}


/* Table Section */

.table-section {
    background: #ffffff;
    padding: 30px 15px;
    color: #000000;
}

.table-wrap {
    width: 100%;
    float: left;
    overflow: hidden;
    border-width: 1px;
    border-color: rgb(216, 216, 225);
    border-style: solid;
    border-radius: 30px;
    background-color: #fff;
}

.table-head {
    padding: 50px 30px 30px 30px;
}

@media (min-width: 768px) {
    .table-head {
        padding: 50px 30px 30px 30px;
    }
}

.table-content {
    padding: 60px 20px 40px 20px;
    background: #ffffff url(../images/tablecurveone.webp) no-repeat center top;
    background-size: contain;
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
}

.table-wrap1 {
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 40px;
    background-color: #080E20;
    box-shadow: 0px 0px 28px 7px rgba(0, 0, 0, 0.2);
}

.table-head1 {
    padding: 50px 30px 30px 30px;
    text-align: center;
}

@media (min-width: 768px) {
    .table-head1 {
        padding: 50px 30px 30px 30px;
        text-align: center;
    }
}

.table-content1 {
    padding: 60px 20px 40px 20px;
    background: #222466 url(../images/tablecurvetwo.webp) no-repeat center top;
    background-size: contain;
}

.center-line {
    background: #000000;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.center-line-white {
    background: #ffffff;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.table-list li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    background-image: url(../images/list-tick.webp), url(../images/table-sep-line.webp);
    background-position: 20px 20px, bottom center;
    background-repeat: no-repeat, no-repeat;
}

.table-list li.cross-sign {
    background-image: url(../images/launch-cross.webp), url(../images/table-sep-line.webp) !important;
    background-position: 20px 18px, bottom center !important;
    background-repeat: no-repeat, no-repeat;
}

.table-list1 li.cross-sign {
    background-image: url(../images/launch-cross.webp), url(../images/table-sep-line.webp) !important;
    background-position: 20px 18px, bottom center !important;
    background-repeat: no-repeat, no-repeat;
}

.personal-shape {
    background-color: #1c4584;
    display: inline-block;
    padding: 12px 50px;
    border-radius: 65px;
    text-transform: uppercase;
}

.commercial-shape {
    background-color: #EF3E3A;
    display: inline-block;
    padding: 12px 75px;
    border-radius: 65px;
    text-transform: uppercase;
    position: relative;
}

.commercial-shape:before {
    position: absolute;
    left: -8px;
    top: -6px;
    z-index: 9;
    content: '';
    background: url(../images/money-icon.webp) no-repeat;
    width: 89px;
    height: 79px;
    background-size: 100% 100%;
}

@media (min-width: 768px) {
    .table-list li {
        padding: 15px 15px 15px 57px;
    }
}

.table-list li.headline {
    background: #1c4584 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.table-list li:last-child {
    border-bottom: none;
}

.table-list1 li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
    background-image: url(../images/list-tick.webp), url(../images/table-sep-line1.webp);
    background-position: 20px 20px, bottom center;
    background-repeat: no-repeat, no-repeat;
}

.table-list1 li.headline {
    background: #ef3e3a !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list1 li:last-child {
    border-bottom: none;
    /* padding-bottom: 0px; */
}


@media (min-width:768px) {
    .table-section {
        padding: 70px 0px 70px 0px;
        background: transparent url(../images/compare-bg.webp) center bottom no-repeat;
        background-attachment: fixed;
}
    .table-list1 li {
        padding: 15px 15px 15px 57px;
    }
}


/* Table Section End*/


.contact-section {
    background: #ffffff url(../images/contact-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px 0px 0px;
}
.contact-block{   
    padding:20px;
    position: relative;
    background: #080e20;
    border-radius: 30px;
}
.contact-shape {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: solid 2px rgba(255, 255, 255, 0.25);
    padding: 30px;
}
@media (min-width: 768px){
    .contact-section{
        padding: 100px 0px 0px 0px;
    }

.contact-block{
    padding:80px;
    background: url(../images/contact-block.webp) no-repeat center center;
    background-size: 100% 100%;
}
.contact-shape {
    padding: 25px 0px;
}
}


.faq-section {
    padding: 30px 0px;
    background-color: #fff;
}

.faq-list {
    background: url(../images/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 25px;
}

@media (min-width: 768px) {
    .faq-section {
        padding: 100px 0px;
    }
}

.footer-section {
    background: #080E20;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/* cta  */

.cta-section-new {
    background: url(../images/cta-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
    position: relative;
    z-index: 9999;
}

@media (min-width:768px) {
    .cta-section-new {
        padding: 80px 0;
    }
}

.final-section {
    padding: 30px 0;
    background: url(../images/exciting-launch.webp) center center no-repeat;
    background-size: cover;
}

.final-shape {
    background-color: #333333;
    padding: 10px 20px;
    display: inline-block;
    line-height: 30px;
    border-radius: 65px;
    font-family: 'Caveat', cursive;
}

@media (min-width: 768px) {
    .final-section {
        padding: 100px 0;
    }
    .final-shape {
        padding: 15px 40px 15px 40px;
        line-height: 100%;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.table-list li:nth-child(odd) {
    background-color: #f1f1f1;
}
.table-list li:nth-child(even){
    background-color: #fff;
}
.table-list1 li:nth-child(odd){
    background-color:#f1f1f1;
}
.table-list1 li:nth-child(even){
    background-color: #ffffff;
}
.potential-sec {
    padding: 30px 0px;
    background: #040d24;
}
.niche-bg {
    border-radius: 40px;
    background: #E76D24;
    padding: 2px 30px;
    display: inline-block;
}
@media (min-width: 768px){
.potential-sec {
    background: url(../images/demo-section.webp);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding:100px 0px;
}
}


/* Compare Table  Section */

section.comp-table ul {
	list-style: none;
	padding: 0;
}

section.comp-table ul li {
	border-left: 1px solid rgb(226 226 226);
	border-right: 1px solid rgb(226 226 226);
	height: 60px;
	line-height: 60px;
	align-items: flex-start;
	align-content: center;
	padding: 0px 25px;
	justify-content: center;
}

@media (min-width:768px) {
	section.comp-table ul li {
		border-left: 1px solid rgb(226 226 226);
		border-right: 1px solid rgb(226 226 226);
		height: 90px;
		line-height: 90px;
		display: flex;
		align-items: flex-start;
		align-content: center;
		padding: 0px 20px;
		justify-content: start;
	}
}

section.comp-table ul li:first-child {
	border-top-left-radius: 20px !important;
	border-top-right-radius: 20px;
	height: 100px;
	font-weight: 600;
}

section.comp-table ul li:nth-child(odd) {
	background: #D9EFFF;
}

section.comp-table .fist-row li:first-child {
	border-top-right-radius: 0px;
	border-top: 1px solid rgb(226 226 226);
}

section.comp-table .third-row li:first-child {
	border-top-left-radius: 0px;
}

section.comp-table .fist-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

section.comp-table .second-row li:first-child {
	border-top: 1px solid rgb(226 226 226);
	height: 150px;
	text-align: center;
	align-items: center;
	background: #6e44ff;
}

section.comp-table .second-row li:last-child {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

section.comp-table .third-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

section.comp-table .forth-row li:last-child,
section.comp-table .fifth-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

section.comp-table .second-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
}

section.comp-table .second-row {
	margin-top: -50px;
}

section.comp-table .second-row ul li {
	background: #132041;
}

section.comp-table .second-row ul li:nth-child(odd) {
	background: #071125;
}

section.comp-table .third-row li:first-child {
	align-items: center;
	border-top: 1px solid rgb(226 226 226);
}

section.comp-table .second-row ul li,
section.comp-table .third-row ul li,
section.comp-table .forth-row ul li,
section.comp-table .fifth-row ul li {
	justify-content: center;
	text-align: center;
}

@media (max-width:767px) {
	section.comp-table ul li {
		height: 100px;
		line-height: 22px;
		padding: 15px;
	}

	section.comp-table .second-row li:first-child svg {
		transform: rotate(90deg);
		height: 30px !important;
	}

	section.comp-table .third-row li:first-child span,
	section.comp-table .forth-row li:first-child span,
	section.comp-table .fifth-row li:first-child span {
		transform: rotate(90deg);
	}

	section.comp-table .second-row li:first-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

section.comp-table .second-row li:first-child {
	justify-content: center;
}

section.comp-table .third-row li:first-child {
	justify-content: center;
}

@media (min-width:768px) {
	section.comp-table ul li {
		align-items: center;
		justify-content: start;
		line-height: normal;
		flex-wrap: wrap;
	}
}

section.comp-table ul li span {
	padding-right: 10px;
	display: contents;
}

@media (max-width:767px) {

	section.comp-table .fist-row li:first-child,
	section.comp-table .third-row li:first-child {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	section.comp-table .second-row li:first-child {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
	}

	section.comp-table .second-row li:first-child svg {
		max-height: 20px !important;
		height: 20px !important;
	}

	section.comp-table ul li {
		height: 180px;
		line-height: 22px;
		padding: 10px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}

/* Compare Table Section End */

.no-compare{padding: 30px 0px;}
@media(min-width:768px){
    .no-compare{
        padding: 100px 0px;
    }
}

@media (min-width:767px){
    section.comp-table .second-row li:first-child svg {
		max-height: 50px !important;
		height: 50px !important;
	}
}