html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #00081d;
    font-size: 14px;
    overflow-x: hidden;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

video {
    width: 100%;
    height: 100%;
}


/* Color CSS */

.white-clr {
    color: #fff;
}

.black-clr {
    color: #00081d !important;
}

.yellow-clr {
    color: #ffe400;
}

.blue-clr {
    color: #0e2672;
}


/* Header CSS */

.header-section {
    background: #001244;
    padding: 30px 0px;
}

.preheadline {
    background: #ffe400;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
}

.post-heading {
    border-top: 1px solid #3a55a5;
    border-bottom: 1px solid #3a55a5;
    padding: 20px 0;
    display: inline-flex;
}

a.link-text {
    color: #000;
    text-decoration: none
}

.probtn a,
.probtn1 a {
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    animation: glowing 5000ms infinite;
    border-radius: 100px;
    background-image: -moz-linear-gradient( 90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(23, 135, 229) 0%, rgb(0, 172, 237) 100%);
}

.probtn a:hover,
.probtn1 a:hover {
    transform: scale(1.05);
    transition: all .3s ease;
    background-image: -moz-linear-gradient( 90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0, 172, 237) 0%, rgb(23, 135, 229) 100%);
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #01abec;
    }
    40% {
        box-shadow: 0 0 20px #01abec;
    }
    60% {
        box-shadow: 0 0 20px #01abec;
    }
    100% {
        box-shadow: 0 0 -10px #01abec;
    }
}

@media(min-width:768px) {
    .header-section {
        background: #001244 url(https://cdn.oppyo.com/launches/vocalic/mydrive/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .probtn1 a {
        font-size: 32px;
        padding: 20px 50px;
    }
}


/*************Second Section **************/

.second-section {
    padding: 30px 0px;
}

.step-sec {
    padding: 0 10px;
    background: #fff;
}

ul.features-list {
    margin: 0px;
}

ul.features-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
    padding: 0px 0px 30px 45px;
    background-position: 10px 5px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
}

@media(min-width:768px) {
    .second-section {
        padding: 100px 0px;
        background: url(https://cdn.oppyo.com/launches/vocalic/mydrive/second-bg.webp) no-repeat center center;
        background-size: cover;
    }
    ul.features-list li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
        padding: 0px 0px 30px 45px;
        background-position: 0px 3px;
        list-style: none;
    }
}


/***********Fastest Section *******/

.fastest-section {
    padding: 30px 0;
    background:#f0fbfe url(https://cdn.oppyo.com/launches/vocalic/mydrive/fastest-bg.webp) no-repeat center center;
        background-size: cover;
}

@media(min-width:768px) {
    .fastest-section {
        padding: 100px 0;
    }
}


/***********Third Section **********/

.third-section {
    padding: 30px 0 0 0;
    background: #fff url(https://cdn.oppyo.com/launches/vocalic/mydrive/third.webp) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .third-section {
        padding: 100px 0 60px 0;
    }
}


/********Fifth Section *******/

.fifth-section {
    background: #fff url(https://cdn.oppyo.com/launches/vocalic/mydrive/proudlybg.webp) no-repeat top center;
    background-size: cover;
    padding: 100px 0 30px 0px;
}

.per-shape {
    background: url(https://cdn.oppyo.com/launches/vocalic/mydrive/presenting-shape.webp) center center no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 20px 55px 34px 55px;
}

.shape-skew {
    transform: skew(-25deg);
    background-color: #ffe400;
    display: inline-block;
    padding: 10px 25px;
}

span.skew {
    transform: skew(25deg);
    display: inline-block;
}

@media(min-width:768px) {
    .fifth-section {
        padding: 130px 0 100px 0px;
    }
}


/***********Install Section *********/

.install-section {
    padding: 30px 0;
    background: #fff url(https://cdn.oppyo.com/launches/vocalic/mydrive/install-section.webp) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .install-section {
        padding: 100px 0;
    }
}

/***********White Section *********/

.white-section {
    padding: 30px 0;
    background: #fff url(https://cdn.oppyo.com/launches/vocalic/mydrive/features-bg2.png) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .white-section {
        padding: 100px 0;
    }
}


/***********Grey Section *********/

.grey-section {
    padding: 30px 0;
    background: #effbff;
}

@media(min-width:768px) {
    .grey-section {
        padding: 100px 0;
    }
}


/***********Bonus Section *********/

.bonus-section {
    background: #effbff url(https://cdn.oppyo.com/launches/vocalic/mydrive/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
}

.feature-shape {
    background-color: #00aced;
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}

.feature-shape:after {
    content: '';
    background: url(https://cdn.oppyo.com/launches/vocalic/mydrive/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media(min-width:768px) {
    .bonus-section {
        padding: 70px 0;
    }
}


/******Table Section ********/

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

ul.vgreytick li {
    background: url(https://cdn.oppyo.com/launches/vocalic/mydrive/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.tablebox2 {
    border: 1px solid #0e2672;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tbbg2 {
    background: #0e2672;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

ul.vgreytick {
    padding: 0px 15px;
}

@media(min-width:768px) {
    .table-section {
        padding: 100px 0px;
        background: url(https://cdn.oppyo.com/launches/vocalic/mydrive/table-bg.webp) no-repeat;
        background-position: center center;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
}


/**********Footer Section********/

.footer-section {
    background: #00081d;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px
    }
}


/**********Footer Section********/