/* Demo Section Start */
.demo-section {
	padding: 30px 0px;
    background: #ffffff  url(../images/demo-bg.webp) no-repeat bottom center;
    background-size: cover;
}
@media (min-width: 768px) {
    .demo-section {
        padding:80px 0px 120px 0px;        
    }
}
/* Demo Section End */

/* Feature 1 Section Start */
.features-headline {
	background: #fff url(../images/feature-headline.webp) no-repeat center center;        
	background-size:cover;
	padding: 30px 0px;
}
.features-one {
	background:#ffffff;
	padding: 30px 0px;
}

@media (min-width:768px) {
    .features-headline {        
		padding:80px 0px;
    }
    .features-one {        
		padding:100px 0px;
    }
}
/* Feature 1 Section End */

/* Feature 5 Section Start */
.features-three {
    background: #010110;
    padding: 30px 0px;
}
.feature-blog{
        border-radius: 10px;
        background-color: rgb(16, 16, 46);
        display: flex;
        align-items: center;
        gap: 20px;   
        padding:20px 30px;
        flex-wrap: nowrap;  
        justify-content: start;
        margin-top: 30px;
        height: calc(100% - 30px);
}
@media (min-width:768px) {
    .features-three {
        padding: 100px 0px 200px 0px;
        background: url(../images/features-three.webp) no-repeat bottom center;
        background-size: cover;
    }
}
/* Feature 5 Section End */

/* Feature 9 Section Start */
.features-four {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width:768px) {
    .features-four {
        padding:50px 0px 100px 0px;
        background: url(../images/features-four.webp) no-repeat center center;
        background-attachment: fixed;
    }
}
/* Feature 9 Section End */


