html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
}


/* Color CSS */

.white-clr {
	color: #fff;
}

.black-clr {
	color: #000;
}

.red-clr {
	color: #ff0505;
}

.blue-clr {
	color: #001964;
}

.kapblue,
a.kapblue {
	color: #410cac;
}

.orange-clr {
	color: #f68a1e;
}


/****common CSS *****/

.text-nowrap {
	white-space: nowrap;
}

.list-head {
	list-style: none;
}

.gap20 {
	gap: 20px;
}

ul {
	margin: 0;
}


/******* CTA Button **********/

a.cta-link-btn {
	border-radius: 100px;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 0px;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	line-height: normal;
	white-space: normal;
	align-items: center;
	background-image: -moz-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
	background-image: -webkit-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
	background-image: -ms-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
	box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
	transition: 0.5s;
}

a.cta-link-btn:hover {
	background: linear-gradient(90deg, rgba(253, 139, 37, 1) 0%, rgba(255, 103, 28, 1) 100%);
	text-decoration: none;
	transform: scale(1.03);
}

@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 32px;
		padding: 24px 50px 24px 50px;
		display: inline-block;
	}
}


/* Header CSS */

.header-section {
	background: #682af1 url(../images/header-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px 110px 0px;
}

.header-section ul.leader-ul li a,
.main-header-section ul.leader-ul li a {
	text-decoration: none;
	color: #ffffff;
}

.header-section ul.leader-ul li,
.main-header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
	font-weight: 300;
}

.header-section ul.leader-ul,
.main-header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 12px;
}

.affiliate-link-btn a {
	border-radius: 65px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 100%;
	color: #ffffff;
	font-weight: 500;
	transition: all .3s ease;
	background-image: -moz-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
	background-image: -webkit-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
	background-image: -ms-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
}

.affiliate-link-btn a:hover {
	transition: all .3s ease;
	background-image: -moz-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
	background-image: -webkit-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
	background-image: -ms-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
}

.pre-heading {
	background: #101012;
	padding: 10px 15px;
	display: inline-block;
	text-align: center;
	border-radius: 65px;
	text-align: center;
}

.highlihgt-heading {
	position: relative;
	background: #000000;
	padding: 10px 0px;
	border-radius: 75px;
	display: inline-block;
	color: #f68a1e;
}

.text-shadow {
	text-align: center;
	text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
}

.key-features-bg {
	padding: 20px;
	position: relative;
	width: 100%;
	text-align: center;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 15px;
}

.list-head li {
	background: url(../images/green-tick1.webp) no-repeat;
	padding: 10px 0px 10px 35px;
	background-position: 0px 13px;
	text-align: left;
	border-bottom: solid 1px #080038;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
	border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

@media (min-width: 768px) {
	.header-section {
		padding: 50px 0px 160px;
	}

	.affiliate-link-btn a {
		padding: 15px 30px;
		font-size: 24px;
	}

	.highlihgt-heading {
		position: relative;
		padding: 8px 60px;
	}

	.pre-heading {
		background: url(../images/prelaunch.webp) center center;
		background-size: 100% 100%;
		padding: 15px 30px;
	}
}


/*******List Section ************/

.list-section {
	padding: 0px 0px 30px 0px;
	background: #ffffff;
}

.header-list-block {
	border-radius: 20px;
	padding: 20px 0px;
	background-color: #ffffff;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	margin-top: -90px;
}

.header-bordered-list li {
	list-style: none;
}

.header-bordered-list li {
	padding: 12px 20px 12px 50px;
	position: relative;
}

.header-bordered-list li::before {
	content: url(../images/green-tick.webp);
	position: absolute;
	left: 0px;
	top: 15px;
}

@media (min-width: 768px) {
	.list-section {
		padding: 0px 0px 100px 0px;
	}

	.header-list-block {
		border-radius: 20px;
		padding: 40px 20px;
		margin-top: -90px;
	}
}


/*******Second Section ************/

.second-header-section {
	background: #f2ecff;
	padding: 30px 0px;
}

.any-shape {
	background-color: rgb(0, 25, 101);
	padding: 15px;
	display: inline-block;
	border-radius: 100px;
	margin: 0 auto;
	justify-content: center;
}

.step-shape {
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	position: relative;
	padding: 10px;
	height: 100%;
}

.step-border {
	border-radius: 10px;
	border-width: 2px;
	border-color: rgb(104, 42, 241);
	border-style: solid;
	padding: 30px 20px;
	height: 100%;
}

.step-shape1 {
	/* background-color: rgb(255, 125, 29); */
	background-image: url(../images/step-bg.webp);
	background-repeat: no-repeat;
	max-width: 203px;
	/* border-radius: 50px; */
	margin: 0 auto;
	margin-top: -52px;
	padding: 7px 20px;
	background-size: 100% 100%;
}

@media (min-width: 768px) {
	.second-header-section {
		padding: 100px 0px;
	}

	.any-shape {
		padding: 15px 50px;
	}
}


/************This open Section ********/

.this-open-section {
	padding: 30px 0;
	background: #f3ebff;
}

@media (min-width: 768px) {
	.this-open-section {
		padding: 100px 0;
	}
}


/************Hi-There Section ********/

.hithere-section {
	background: #f3ebff;
	padding: 30px 0px;
}

.revo-list1 li {
	background: url(../images/green-tick1.webp) no-repeat;
	padding: 0 0 15px 40px;
	list-style: none;
	background-position: 0px 5px;
}

@media (min-width: 768px) {
	.hithere-section {
		padding: 100px 0px;
	}
}


/************Over Section ********/

.over-section {
	background: #682af1 url(../images/over-sec-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0;
}

.over-shape {
	background: url(../images/over-shape.webp) no-repeat center center;
	display: inline-block;
	padding: 0px 20px;
	background-size: 100% 100%;
}

@media (min-width: 768px) {
	.over-section {
		padding: 100px 0;
	}

	.over-shape {
		padding: 16px 60px;
		background-size: 100%;
	}
}


/************Research Section ********/

.research-section {
	background: #ffffff;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.research-section {
		padding: 100px 0px;
	}
}

/************Research Section ********/

.course-section {
	background: #ffffff;
	padding: 30px 0px;
}

.presenting-shape {
	background-color: rgb(251, 149, 73);
	border-radius: 100px;
	padding: 8px 30px;
	display: inline-flex;
	position: relative;
	align-items: center;
}


@media (min-width: 768px) {
	.course-section {
		padding: 100px 0px;
	}

	.presenting-shape:before {
		width: 70px;
		height: 1px;
		background: #fcc216;
		position: absolute;
		content: '';
		left: -70px;
	}

	.presenting-shape:after {
		width: 70px;
		height: 1px;
		background: #fcc216;
		position: absolute;
		content: '';
		right: -70px;
	}
}


.earned-money-section {
	background: #ffffff;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.earned-money-section {
		padding: 80px 0px;
	}
}

.eleraning-section {
	background: #f3ebff;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.eleraning-section {
		padding: 80px 0px;
	}
}


/************Big Question Section ********/

.big-question-bg {
	background: #f3f6ff;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.big-question-bg {
		background: #f3f6ff url(../images/big-question-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 50px 0px 100px 0px;
	}
}


/************Problem Section ********/

.problem-bg-section {
	background: #ffbcbc;
	padding: 30px 0px;
}

.problme-area-shape,
.problme-area-shape1 {
	width: 100%;
	float: left;
	padding: 15px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	z-index: 0;
	margin-top: -20px;
}

.z-index9 {
	z-index: 9 !important;
}

@media (min-width: 768px) {
	.problem-bg-section {
		background: #fff1f1 url(../images/problem-bg.webp) no-repeat top center;
		background-size: cover;
		padding: 70px 0px 150px 0px;
	}

	.problme-area-shape {
		width: calc(100% + 40px);
		float: left;
		padding: 30px 30px 30px 70px;
		margin-left: -40px;
		z-index: 0;
		margin-top: 0px;
	}
}


/*****Problem Section 1 *******/

.problem-bg-section1 {
	background: #fff1f1;
	padding: 30px 0px;
}

.problme-area-shape2 {
	width: 100%;
	float: left;
	padding: 30px;
	border-radius: 20px;
	background-color: #ff3333;
	outline: solid 20px #ffbdbd;
}

@media (min-width: 768px) {
	.problem-bg-section1 {
		background: #ffffff url(../images/problem-bg1.webp) no-repeat bottom center;
		background-size: cover;
		padding: 50px 0px 50px 0px;
	}

	.sep-line {
		border-left: solid 1px #ffffff;
	}

	.problme-area-shape1 {
		width: calc(100% + 40px);
		float: left;
		padding: 30px 70px 30px 30px;
		margin-right: -40px;
		z-index: 0;
		margin-top: 0px;
	}
}


/*****Problem Section 1 *******/

.problem-bg-section2 {
	background: #ffbdbd;
	padding: 30px 0px;
}

.shape-testi6 {
	background-color: #ff0000;
	border-radius: 65px;
	padding: 8px 15px 8px 15px;
	display: inline-block;
	margin-top: 0px;
	position: relative;
	color: #ffffff;
	top: -36px;
	margin-bottom: -20px;
}

.problme-shape1 {
	border-radius: 20px;
	background-color: #ffffff;
	width: 100%;
	float: left;
	padding: 15px;
}

@media (min-width: 768px) {
	.problem-bg-section2 {
		background: #fff1f1 url(../images/problem-bg2.webp) no-repeat bottom center;
		background-size: cover;
		padding: 150px 0px 100px 0px;
	}

	.shape-testi6 {
		padding: 8px 30px 8px 30px;
		top: -70px;
		margin-bottom: 0px;
	}

	.problme-shape1 {
		padding: 30px;
	}
}


/***********Next Generation*****************/

.next-gen-sec {
	background: #2a1467;
	background-size: cover;
	padding: 30px 0px 30px 0px;
}

.proudly-list-bg {
	border-radius: 20px;
	background-color: #ffffff;
	box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
	padding: 15px;
}

.proudly-tick li {
	background: url(https://cdn.oppyo.com/launches/jobiin/jv/reason-tick.webp) no-repeat;
	background-position: 0 4px;
	list-style: none;
	padding: 0 0 25px 45px;
}

@media (min-width: 768px) {
	.next-gen-sec {
		background: #ffffff url(../images/next-gen-bg.webp) no-repeat center bottom;
		background-size: cover;
		padding: 70px 0px 100px 0px;
	}

	.proudly-list-bg {
		padding: 30px;
	}
}


/****** Amazing Section *******/

.step-section1 {
	background: #ffffff;
	padding: 30px 0px;
}

.step-shapes {
	border-radius: 5px;
	background-color: rgb(104, 42, 241);
	border: solid 3px #fb9549;
	border-right: solid 10px #fb9549;
	color: #fb9549;
	text-transform: uppercase;
	display: inline-block;
	padding: 8px 40px;
}

@media (min-width: 768px) {
	.step-section1 {
		padding: 70px 0px;
		background: #ffffff url(../images/step-bg1.webp) no-repeat center center;
		background-size: cover;
	}

	.step-arrow1 {
		position: relative;
		bottom: -50px;
	}
}


/****** Demo Section *******/

.demo-section-bg {
	background: #00165f;
	padding: 30px 0;
}

@media (min-width: 768px) {
	.demo-section-bg {
		background: #00165f url(../images/demo-section-bg.webp) no-repeat center bottom;
		background-size: cover;
		padding: 100px 0px;
	}
}


/****** Testimonial Section *******/

.testimonial-section2 {
	background: #e7e9ef;
	padding: 30px 0px;
}

.testimonial-section {
	background: #f3ebff;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.testimonial-section2 {
		background: #e7e9ef url(../images/testimonial-section-bg2.webp) no-repeat center center;
		background-size: cover;
		padding: 100px 0px;
	}

	.testimonial-section {
		background: #ffffff url(../images/testimonial-section.webp) no-repeat center bottom;
		background-size: cover;
		padding: 70px 0px 100px 0px;
	}
}

/* Feature Css */
.white-section {
	background: #ffffff;
	padding: 30px 0px;
}
.grey-section {
	background: #f3ebff;
	padding: 30px 0px;
}
.theme-section {
	background: #682af1;
	padding: 30px 0px;
}

.presenting-shape1 {
	background-image: -moz-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
	border-radius: 100px;
	padding: 8px 30px;
	display: inline-flex;
	position: relative;
	align-items: center;
}

@media (min-width: 768px) {
	.white-section,
	.grey-section,
	.theme-section {
		padding: 80px 0px;
	}
	.presenting-shape1:before {
		width: 70px;
		height: 5px;
		background-image: -moz-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
		position: absolute;
		content: '';
		left: -70px;
	}

	.presenting-shape1:after {
		width: 70px;
		height: 5px;
		background-image: -moz-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
		position: absolute;
		content: '';
		right: -70px;
	}
	.minus60{
		margin-top: -60px;
	}
}

.revo-list li {
	background: url(../images/launch-tick-blue.webp) no-repeat;
	padding: 0 0 15px 40px;
	list-style: none;
	background-position: 1px 5px;
}


.icn-shape {
	background-color: #f4f7fb;
	border-radius: 20px;
	padding: 60px 15px 15px 15px;
	min-height: 180px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

.shp-blc {
	position: relative;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
}

/*** Green Section ***/

.green-bg-section {
	padding: 30px 0px;
	background: #fd8b25;
}

@media (min-width: 768px) {
	.green-bg-section {
		padding: 70px 0px;
	}
}
/* Feature Css End */

/*** Support Section ****/

.support-section {
	background: #682af1 url(../images/over-sec-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}

.boxbg {
	background: transparent;
	padding: 15px 0px;
	height: auto;
}

.boxborder-rb {
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}

.boxborder-b {
	border-bottom: 1px solid #ffffff;
}

.boxborder-r {
	border-right: 1px solid #ffffff;
}

@media (min-width: 768px) {
	.support-section {
		padding:80px 0px;		
	}

	.boxbg {
		height: 280px;
		padding: 15% 0% 20%;
	}
}

@media (max-width: 767px) {
	.boxborder {
		border: 1px solid #ffffff;
		border-top: 0px;
		padding: 20px;
	}

	.top-first,
	.first-top-border {
		border: 1px solid #ffffff;
	}

	.mx-autos {
		margin-right: auto !important;
		margin-left: auto !important;
	}
}


/*** Compare Table Section ***/

.comparetable-section {
	padding: 30px 0px;
	background: #ffffff;
}

@media (min-width: 768px) {
	.comparetable-section {
		padding: 70px 0px 100px 0px;
	}
}


/** No Comparsion Section  ***/

.nocomparsion-section {
	background: #ffffff;
	padding-bottom: 30px;
}

.no-comparison-shape {
	background: #f3ebff;
	padding: 15px;
	border-radius: 10px;
}

@media (min-width: 768px) {
	.nocomparsion-section {
		padding: 0px 0px 100px 0px;
	}

	.no-comparison-shape {
		background: url(../images/no-comparison-shape-bg.webp) no-repeat;
		background-size: contain;
		height: 633px;
		width: 1173px;
		padding: 80px 70px 15px 400px;
	}
}


/*** CTA New Section ***/

.cta-section-new {
	background-image: -moz-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
	padding: 30px 0;
}

@media (min-width: 768px) {
	.cta-section-new {
		padding: 80px 0;
	}
}


/*** Silver Platter Section ****/

.silver-platter-section {
	padding: 30px 0px;
}

.huge-opportunity-shape {
	background: #eaebeb;
	border: 2px solid #dfdfdf;
	border-radius: 15px;
	padding: 15px 12px;
}

.alone-bg {
	background-color: #f3ebff;
	box-shadow: 5.592px 8.29px 12px 0px rgb(33 2 96 / 10%);
	border-radius: 10px;
	padding: 10px;
	position: relative;
}

.red-shape {
	background: #9c2341;
	padding: 5px 30px;
	border-radius: 50px;
	display: inline-block;
}

.wearenot-alone-section {
	background: #ffffff;
	padding: 0px 0px 30px 0px;
}

@media (min-width: 768px) {
	.silver-platter-section {
		padding: 80px 0px;
	}

	.huge-opportunity-shape {
		background: url(../images/huge-opportunity-shape.webp) no-repeat center center;
		background-size: 100% 100%;
		border: 0px;
		border-radius: 0px;
		padding: 45px 40px 50px;
	}

	.alone-bg {
		padding: 25px 30px 25px 10px;
	}

	.dollars-sm-image {
		width: 211px;
		min-width: 211px;
		height: 163px;
		margin-left: -120px;
		top: 0px;
		left: 0px;
	}

	.alone-bg:after {
		content: "";
		position: absolute;
		width: 87px;
		height: 49px;
		background-image: url(../images/arrow-down.webp);
		left: 44%;
		bottom: -49px;
	}

	.red-shape {
		padding: 10px 40px;
		border-radius: 50px;
	}

	.wearenot-alone-section {
		background: #ffffff url(../images/wearenotalone-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 0px 0px 100px 0px;
	}
}


/*** Max-Funnel Section ***/

.potential-sec {
	background-image: -moz-radial-gradient(50% 50%, circle closest-side, rgb(0, 33, 144) 0%, rgb(0, 22, 95) 100%);
	background-image: -webkit-radial-gradient(50% 50%, circle closest-side, rgb(0, 33, 144) 0%, rgb(0, 22, 95) 100%);
	background-image: -ms-radial-gradient(50% 50%, circle closest-side, rgb(0, 33, 144) 0%, rgb(0, 22, 95) 100%);
	padding: 30px 0px;
}

.niche-bg {
	border-radius: 40px;
	background: #fd8b25;
	padding: 2px 30px;
	display: inline-block;
}

@media (min-width: 768px) {
	.potential-sec {
		background: url(../images/potential-bg.webp);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 70px 0px 180px;
	}

	.niche-bg {
		padding: 2px 50px;
	}
}


/**** Bonus Section ****/

.bonus-section {
	background: #f3ebff;
	padding: 30px 0px;
}

.bonus-section-shape {
	position: relative;
	border-color: rgb(213, 206, 228);
	border-style: dashed;
	border-radius: 10px;
	border-width: 1px;
	padding: 15px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 15%);
	height: 100%;
}

@media (min-width: 768px) {
	.bonus-section {
		background: #f3ebff;
		padding: 100px 0px;
	}
}


/**** Amazing Tool Section ****/

.amazing-tool-bg {
	padding: 30px 0px;
	background: #ffffff;
}

@media (min-width: 768px) {
	.amazing-tool-bg {
		padding: 60px 0px 100px 0px;
		background: #ffffff url(../images/amazing-tool-bg.webp) no-repeat center center;
		background-size: cover;
	}
}


/**** Licance Section ***/

.license-section {
	background: #f3ebff;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.license-section {
		padding: 100px 0px 50px 0px;
		background: #ffffff url(../images/commercial-license-bg.webp) no-repeat center bottom;
		background-size: cover;
		border: none;
	}
}


/**** RiskFree Section ***/

.riskfree-section {
	background: #220767 url(../images/money-back-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0;
}

@media (min-width: 768px) {
	.riskfree-section {
		padding: 100px 0px;
	}
}


/**** Table Section ***/

.table-section {
	padding: 100px 0px;
}

.table-wrap {
	background: #ffffff;
	width: 100%;
	float: left;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.table-head {
	background: #ffffff;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}

.table-wrap1 {
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}

.table-btn {
	padding: 30px 20px;
	text-align: center;
}

.table-head1 {
	padding: 40px 30px 30px 30px;
	text-align: center;
	background-image: -moz-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
	background-image: -webkit-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
	background-image: -ms-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}

.table-list li {
	background: url(../images/launch-tick-blue.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
}

.table-list li:nth-child(odd) {
	background: #f3ebff url(../images/launch-tick-blue.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list li:nth-child(even) {
	background: #ffffff url(../images/launch-tick-blue.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list1 li:nth-child(odd) {
	background: #180647 url(../images/launch-tick-blue.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list1 li:nth-child(even) {
	background: #20075f url(../images/launch-tick-blue.webp) no-repeat;
	background-position: 15px 21px;
}

.table-list1 li {
	background: url(../images/table-tick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
	list-style: none;
	margin: 0px;
}

.table-wrap1:before {
	content: '';
	position: absolute;
	background: url(../images/most-popular.webp) no-repeat left top;
	min-height: 165px;
	min-width: 153px;
	left: 10px;
	top: -10px;
}

.table-list li.cross-sign {
	background-image: url(../images/launch-cross.webp) !important;
	background-position: 15px 21px !important;
}

.table-list li.headline {
	background: -moz-linear-gradient(45deg, rgb(104 42 241) 0%, rgb(87 45 180) 100%);
	background: -webkit-linear-gradient(45deg, rgb(104 42 241) 0%, rgb(87 45 180) 100%);
	background: linear-gradient(45deg, rgb(104 42 241) 0%, rgb(87 45 180) 100%);
	padding: 20px 0px 20px 0px;
	background-position: 0px !important;
	list-style: none;
	margin: 0px;
	border-bottom: none !important;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}

.table-list1 li.headline {
	background-image: -moz-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
	background-image: -webkit-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
	background-image: -ms-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
	padding: 20px 0px 20px 0px;
	background-position: 0px !important;
	list-style: none;
	margin: 0px;
	border-bottom: none !important;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}

@media (min-width: 768px) {
	.table-section {
		padding: 100px 0px;
	}

	.table-head {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}

	.table-head1 {
		padding: 80px 30px 80px 30px;
		text-align: center;
	}

	.table-list li:nth-child(odd),
	.table-list li.cross-sign {
		background-position: 16px 24px;
	}

	.table-list li {
		padding: 20px 15px 20px 65px;
		background-position: 16px 24px;
	}

	.table-list li:nth-child(even) {
		background-position: 16px 24px;
	}

	.table-list1 li:nth-child(odd) {
		background-position: 16px 23px;
	}

	.table-list1 li:nth-child(even) {
		background-position: 16px 23px;
	}

	.table-list1 li {
		padding: 20px 15px 20px 65px;
	}
}


/**** Awesome Section ***/

.awesome-section {
	background: #701ce3 url(https://cdn.oppyo.com/launches/webpull/jv/contatc-bg.webp) center center no-repeat;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.awesome-section {
		padding: 70px 0px;
	}
}


/**** FAQ Section ***/

.faq-section {
	padding: 30px 0px;
	background-color: #fff;
}

.faq-list {
	background: url(../images/faq-icon.webp) no-repeat top left;
	padding: 20px 15px 20px 35px;
	background-position: 0px 22px;
}

@media (min-width: 768px) {
	.faq-section {
		padding: 100px 0px;
	}
}


/**** Final Section ***/

.final-section {
	padding: 30px 0;
	background-image: -moz-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
}

.red-shape2 {
	background: #d032f8;
	padding: 5px 30px;
	border-radius: 50px;
	display: inline-block;
}

@media (min-width: 768px) {
	.final-section {
		padding: 100px 0;
	}

	.red-shape2 {
		padding: 10px 40px;
		border-radius: 50px;
	}
}


/* Compare Table  Section */

section.comp-table ul {
	list-style: none;
	padding: 0;
}

section.comp-table ul li {
	border-left: 1px solid rgb(226 226 226);
	border-right: 1px solid rgb(226 226 226);
	height: 60px;
	line-height: 60px;
	align-items: flex-start;
	align-content: center;
	padding: 0px 25px;
	justify-content: center;
}

@media (min-width:768px) {
	section.comp-table ul li {
		border-left: 1px solid rgb(226 226 226);
		border-right: 1px solid rgb(226 226 226);
		height: 90px;
		line-height: 90px;
		display: flex;
		align-items: flex-start;
		align-content: center;
		padding: 0px 20px;
		justify-content: start;
	}
}

section.comp-table ul li:first-child {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 100px;
	font-weight: 600;
}

section.comp-table ul li:nth-child(odd) {
	background: #f3ebff;
}

section.comp-table .fist-row li:first-child {
	border-top-right-radius: 0px;
	border-top: 1px solid rgb(226 226 226);
}

section.comp-table .third-row li:first-child {
	border-top-left-radius: 0px;
}

section.comp-table .fist-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

section.comp-table .second-row li:first-child {
	border-top: 1px solid rgb(226 226 226);
	height: 150px;
	text-align: center;
	align-items: center;
	background: #6e44ff;
}

section.comp-table .second-row li:last-child {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

section.comp-table .third-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

section.comp-table .forth-row li:last-child,
section.comp-table .fifth-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

section.comp-table .second-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
}

section.comp-table .second-row {
	margin-top: -50px;
}

section.comp-table .second-row ul li {
	background: #20075f;
}

section.comp-table .second-row ul li:nth-child(odd) {
	background: #180647;
}

section.comp-table .third-row li:first-child {
	align-items: center;
	border-top: 1px solid rgb(226 226 226);
}

section.comp-table .second-row ul li,
section.comp-table .third-row ul li,
section.comp-table .forth-row ul li,
section.comp-table .fifth-row ul li {
	justify-content: center;
	text-align: center;
}

@media (max-width:767px) {
	section.comp-table ul li {
		height: 100px;
		line-height: 22px;
		padding: 15px;
	}

	section.comp-table .second-row li:first-child svg {
		transform: rotate(90deg);
		height: 30px !important;
	}

	section.comp-table .third-row li:first-child span,
	section.comp-table .forth-row li:first-child span,
	section.comp-table .fifth-row li:first-child span {
		transform: rotate(90deg);
	}

	section.comp-table .second-row li:first-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

section.comp-table .second-row li:first-child {
	justify-content: center;
}

section.comp-table .third-row li:first-child {
	justify-content: center;
}

@media (min-width:768px) {
	section.comp-table ul li {
		align-items: center;
		justify-content: start;
		line-height: normal;
		flex-wrap: wrap;
	}
}

section.comp-table ul li span {
	padding-right: 10px;
	display: contents;
}

@media (max-width:767px) {

	section.comp-table .fist-row li:first-child,
	section.comp-table .third-row li:first-child {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	section.comp-table .second-row li:first-child {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
	}

	section.comp-table .second-row li:first-child svg {
		max-height: 22px !important;
		height: 30px !important;
	}

	section.comp-table ul li {
		height: 180px;
		line-height: 22px;
		padding: 10px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}

/* Compare Table Section End */


/**** Footer Section ***/

.footer-section {
	background: #000000;
	padding: 30px 0px;
}

.footer-ul {
	padding: 0px;
	margin: 0px;
}

.footer-ul li {
	display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
	color: #ffffff;
}

@media (min-width: 768px) {
	.footer-section {
		padding: 50px 0px
	}
}

.premium-sec {
	background-color: #fff;
	padding: 30px 0px;
}

@media(min-width:768px) {
	.premium-sec {
		padding: 100px 0px;
	}
}