html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #252525;
}

.orange-clr {
	color: #F2A736;
}

.orange-clr1{
	color: #E76D24;
}
.red-clr{
	color: #FF3838;
}
.underline{border-bottom: 2px solid;}
.orange-gradient{
	background: #F2A736;
	background: linear-gradient(to bottom, #F2A736 0%, #E76D24 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Header CSS */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px;
	background-attachment: fixed;
	animation: shrink 5s infinite alternate;
	position: relative;
}
@keyframes shrink {
	0% {
	  background-size: 110% 110%;
	}
	100% {
	  background-size: 100% 100%;
	}
  }
  .preheadline{
	display: inline-block;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: solid 2px rgba(255, 255, 255, 0.25);
  }
.calender-wrap{
	background: url(../images/date.webp) no-repeat center center;
	background-size: 100% 100%;
	padding: 15px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	position: relative;
}

.calender-wrap .date-text{
	text-shadow: 4px 4px 2px rgba(0,0,0,0.6);;
}

.h-line{height: 1px; background-color: rgba(255, 255, 255, 0.2); width: 100%;}

.video-box{position: relative; padding: 20px; background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
	backdrop-filter: blur(5px); border-radius: 20px;}

.ele1{
	position: absolute;
	bottom: -75px;
    left: -20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}	

.ele2{
	position: absolute;
	top: 400px;
    right: 20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}

@-webkit-keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}
@keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}

ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
	font-weight: 400;
	color: #ffffff;
}

ul.leader-ul li:hover a {
	transition: 0.5s all ease-in;
	color: #fff !important;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}

.header-section ul.leader-ul li .active {
	transition: 0.5s all ease-in;
	color: #fff;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}

.header-section ul.leader-ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}

a.affiliate-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	color: #ffffff;
	font-weight: 600;
	transition: all .3s ease;
	background: #F2A737;
	border-radius: 15px;
}

a.affiliate-link-btn:hover {
	transition: all .3s ease;
	background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
	background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
	background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}

@media(min-width:768px) {
	.header-section {
		padding: 40px 0px 100px 0px;
	}

	a.affiliate-link-btn {
		padding: 15px 25px;
		font-size: 18px;
	}

	ul.leader-ul li {
		padding: 0px 15px;
	}
	.calender-wrap{
		padding: 30px 15px;
	}
}

/* Header End */

/* List Section Start */
.list-section{
	padding: 30px 0px;
}
/* .menu-list li{
	background: url(../images/orange-tick.webp) no-repeat;
    background-position: 10px 32px;
    padding: 15px 15px 15px 64px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
    background-color: #FFEED6;
    display: flex;
    align-items: center;
	border: 3px solid #FFFFFF;
} */

.grab-sec{
	padding: 30px 15px;
    background: url(../images/reason-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    border-radius: 20px;
}

.formbg {
    position: relative;
    padding: 15px;
    border-radius: 15px;
    background: #252525;
}

.white-form-box {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
}

.form-control.input-field {
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 15px;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
}
.form-btn input[type="submit"] {
    border-radius: 15px;
    text-decoration: none;
    border: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 1;
    padding: 12px 10px;
    line-height: normal;
    font-weight: 600;
    outline: none;
    max-width: 510px;
    white-space: normal;
    cursor: pointer;
    background: #FFA829;
}
.affiliate-btn a{
	border-radius: 15px;
    background: #E76D24;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    padding: 15px;
    line-height: 30px;
    outline: none;
    text-transform: capitalize;
}

@media(min-width:768px){
	.list-section{
		padding: 100px 0px;
		background: url(../images/list-section-bg.webp) no-repeat center center;
		background-size: cover;
	}
	.grab-sec{
		padding: 50px;
	}
	.formbg {
		padding: 60px 30px 60px 30px;
		background: url(../images/form-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
	.white-form-box {
		border-radius: 20px;
		padding: 10px 10px 5px 10px;
	}
	.form-control.input-field {
		font-size: 16px;
		margin-top: 5px;
	}
	.affiliate-btn a {
		padding: 25px 20px;
		max-width: 510px;
	}
}
/* List Section End */

/* Problem Section Start */
.problem-sec{
	padding: 0px 0px 30px 0px; 
	background: url(../images/problem-bg.webp) no-repeat center center; 
	background-size: cover; 
}
.problem-list li {
    background: url(../images/cross.webp) no-repeat;
    background-position: 20px 25px;
    padding: 10px 10px 10px 60px;
    margin-top: 15px;
    list-style-type: none;
    min-height: 80px;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    background-color: #FFEED6;
    display: flex;
    align-items: center;
    border: 3px solid #FFFFFF;
}
.heading-design{
	background: url(../images/heading-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 45px 55px 20px 55px;
    display: inline-block;

}
@media(min-width:768px){
	.problem-sec{padding: 50px 0px 100px 0px;}
	.heading-design{padding: 110px 150px 50px 150px;}
}
/* Problem Section End */

/* Fact Section Start */
.fact-sec{
	padding: 30px 0px;
	background: url(../images/facts-bg.webp) no-repeat center center;
	background-size: cover;
}
.header-wrap {
	padding: 30px 15px;
	background: url(../images/reason-bg.webp) no-repeat center center;
	background-size: 100% 100%;
	border-radius: 20px;
}
.reason-list li{
	background: url(../images/s-orange-tick.webp) no-repeat;
    background-position: 0 1px;
    padding-left: 43px;
    margin-bottom: 25px;
    list-style-type: none;
    min-height: 26px;
}

.know-list li{    
	background: url(../images/s-orange-tick.webp) no-repeat;
    background-position: 0 5px;
    padding-left: 43px;
    margin-bottom: 20px;
    list-style-type: none;
    min-height: 26px;}

@media(min-width:768px){
	.fact-sec{
		padding: 100px 0px;
	}
	.header-wrap {
		padding: 80px 80px 60px 80px;
	}
}

/* Fact Section End */

/* Oppurtunity Section Start */
.oppurtunity-sec{padding: 30px 0px; background-color: #F1F1F1;}
.heading-text{
	border-radius: 100px;
    background: #FFA829;
    display: inline-block;
    padding: 10px 30px;
}
@media(min-width:768px){
	.oppurtunity-sec{padding: 100px 0px;}
	.heading-text {
		padding: 18px 70px;
	}
}
/* Oppurtunity Section End */

/* Presenting Section Start */
.presenting-sec{
	padding: 30px 0px;
	background: url(../images/introducing.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.presenting-wrap {
	padding: 0px 0px 15px 0px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	border-radius: 50px;
	border: solid 2px rgba(255, 255, 255, 0.25);
	max-width: 95%;
	margin: 20px auto 0px auto;
}
.presenting-head{
	background: url(../images/introducing-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 55px 70px 55px;
    display: inline-block;
	margin-top: -10px;
}
.ele3{
	position: absolute;
	top: 35%;
    right: 10%;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}
@media(min-width:768px){
	.presenting-sec{padding: 100px 0px;}
	.presenting-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}
	.presenting-head{
		padding: 20px 140px 140px 140px;
		margin-top: -20px;
	}

}
@media(min-width:1600px) {
	.presenting-wrap {
		max-width: 85%;
	}
}

/* Presenting Section End */

/* Presenting-List Section Start */
.presenting-list{
	background: url(../images/intro-list.webp) no-repeat center center;
	background-size: cover;
	padding: 0px 0px 30px 0px;
}	
.presenting-list-wrap{
	box-shadow: -5px 5px 20px rgb(0 0 0 / 15%);
    border-radius: 0px 0px 20px 20px;
    background: #fff;
    padding: 15px;
}
@media(min-width:768px){
	.presenting-list{padding: 0px 0px 100px 0px;}
	.presenting-list-wrap{
		padding: 50px;
	}
}
/* Presenting-List Section End */

.feature-description {
    background: url(../images/feature-bg.webp) no-repeat center center;
	background-size: cover;
    padding: 30px 0px;
}
blockquote {
	position: relative;
	z-index: 9;
	padding: 0px;
	margin: 0px;
}

blockquote::after {
	display: block;
	content: attr(cite);
	color: #f1f1f1;
	z-index: 0;
	position: absolute;
	left: 20px;
	top: -20px;
	font-weight: 700;
	font-size: 32px;
}

.zindex9 {
	position: relative;
	z-index: 9;
}

.yellow-bg {
    background-color: #FFA829;
    display: inline-block;
    border-radius: 10px;
    padding: 5px 10px;
}
@media(min-width:768px){
	.feature-description {
		padding: 100px 0px;
	}
	blockquote::after {
		display: block;
		content: attr(cite);
		color: #f1f1f1;
		z-index: 0;
		position: absolute;
		left: 0px;
		top: -52px;
		font-weight: 700;
		font-size: 72px;
	}
	.yellow-bg {
		border-radius: 50px;
		padding: 5px 20px;
	}
}
/* Feature-section Start */
.features-headline {
    padding: 30px 0;
    background-color: #fff;
}
.features-section {
    padding: 30px 0px;
    max-width: 95%;
    margin: 20px auto 0px auto;
    background-color: #F4F6FD;
    border-radius: 15px;
}

@media(min-width:768px){
	.features-headline {
		padding: 80px 0px;
		background: url(../images/feature-bg.webp) no-repeat center center;
		background-size: cover;
	}
	.features-section {
		padding: 100px 0px;
		max-width: 95%;
		margin: 0px auto;
	}
}

@media(min-width:1600px) {
	.features-section {
		max-width: 85%;
        border-radius: 30px;
	}
   

}

.feature-section{
	padding: 30px 0px;
}
.feature-head{
	background: url(../images/yellow-bg.webp) no-repeat center center;
	background-size: 100% 100%;
	padding: 10px 28px 10px 20px;
    margin: 0px auto;
    display: inline-block;
}
.gap30 {
	--bs-gutter-y: 30px;
}
.feature-list-box {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background: #FFFFFF;
	box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	border-bottom: 7px solid #FFAA05;
}
@media(min-width:768px){
	.feature-section{
		padding: 100px 0px;
	}
	.gap30 {
		--bs-gutter-x: 50px;
		--bs-gutter-y: 50px;
	}
	.feature-list-box {
		height: 100%;
		padding: 30px;
	}
}
/* Feature Section End */

/* Demo Section Start */
.demo-sec{
	padding: 30px 0px; 
	background:#020204 url(../images/demo-bg.webp) no-repeat center bottom;
	background-size: cover;
}
@media(min-width:768px){
	.demo-sec{
		padding: 100px 0px;
	}
	.demo-text{position: relative;}
	.demo-text:before{
		position: absolute;
		content: url(../images/left-arrow.webp);
		bottom: -35px;
		left: 100px;
	}
	.demo-text:after{
		position: absolute;
		content: url(../images/right-arrow.webp);
		bottom: -35px;
		right: 100px;
	}
}
/* Demo Section End */

/* Unbeatable Section Start */
.unbeatable-sec{
	padding: 30px 0px;
}
@media(min-width:768px)
{
	.unbeatable-sec{padding:100px 0px;}
}
/* Unbeatable Section End */

.exciting-section{
	background: url(../images/exciting-launch.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.bottom-line{
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	display: inline-block;
	padding-bottom: 15px;
}
.exciting-section .launch-list li{padding: 0px 0px 20px 0px;}
@media(min-width:768px){
	.exciting-section{padding: 100px 0px;}
}

/* Deep Funnel Section Start */
.deep-sec{
	padding: 30px 0px;
	background: #f1f1f1;
}
@media(min-width:768px){
	.deep-sec{padding: 100px 0px;}
}
/* Deep Funnel Section End */

/* Prize Section Start */
.prize-section {
    background: #ffffff;
    padding: 30px 0px;
	position: relative;
}
.launch-head{
	background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(241, 165, 69, 0.5) 50.52%, rgba(255, 255, 255, 0) 100%);
	display: inline-block;
}
.ele4{
	position: absolute;
	bottom: -10px;
    left: -20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}
@media(min-width:768px){
	.prize-section {
		padding: 100px 0px;
		background: url(../images/prize-section-bg.webp) no-repeat center center;
		background-size: cover;
	}	
}
/* Prize Section End */

.reciprocate-sec {
    background: #f1f1f1;
    padding:30px 0px;
}

.logos-effect img {
	transition: 0.3s;
}
.logos-effect img:hover {
    transform: scale(1.1);
}
@media(min-width:768px){
	.reciprocate-sec {
		padding:100px 0px;
	}
}

/* Contact Us Section */
.contact-section {
    background: #000;
    padding: 30px 0px;
}
.contact-block {
    padding: 20px;
    position: relative;
    background: linear-gradient(102.18deg, #000 7.04%, #252525 108.72%);
    border-radius: 30px;
}
.contact-shape {
	background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: solid 2px rgba(255, 255, 255, 0.25);
	padding: 30px;
}
@media(min-width:768px){
	.contact-section {
		background: #fff;
		padding: 100px 100px 0px;
	}
	.contact-block {
		padding: 80px;
		background: url(../images/form-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
	.contact-shape {
		padding: 25px 0px;
	}
}
/* Contact us Section End */

/* Terms Section Start */
.terms-section {
    padding: 30px 0px;
    background: #ffffff;
}
@media(min-width:768px){
	.terms-section {
		padding: 70px 0px 70px 0px;
	}
}
/* Terms Section End */

/* Footer Section Start */
.footer-section {
	background: #252525;
	padding: 30px 0px;
}

.footer-ul {
	padding: 0px;
	margin: 0px;
}

.footer-ul li {
	display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
	color: #ffffff;
}

@media (min-width: 768px) {
	.footer-section {
		padding: 50px 0px
	}
}
/* Footer Section End */