
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}
html::-webkit-scrollbar {
    width: 10px; 
 }
html::-webkit-scrollbar-track {
  background-color: #eee;
}
html::-webkit-scrollbar-thumb {
  background: #00AAFF;
  border-radius: 25px;
}
.yellow-clr {
    color: #FFCD00;
}
.white-clr {
    color: #ffffff;
}
.blue-clr {
    color: #00aaff;
}
.probtn1 a {
    border-radius: 8px;
    background-image: -moz-linear-gradient(105.18deg, #FDC12A -5.51%, #F15241 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #FDC12A -5.51%, #F15241 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #FDC12A -5.51%, #F15241 107.29%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
}
@media(min-width:768px) {
    .probtn1 a {
        font-size: 42px;
        padding: 28px 30px;
    }
}
.probtn1 a:hover {
    background-image: -moz-linear-gradient(105.18deg, #F15241 -5.51%, #FDC12A 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #F15241 -5.51%, #FDC12A 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #F15241 -5.51%, #FDC12A 107.29%);
    text-decoration: none;
}
/* Header Section CSS */
.header-section {
    background: url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding: 30px 0px;
}
.pre-heading {
    border: 2px solid #00AAFF;
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    padding: 10px;
}

@media(min-width:768px) {
    .header-section {
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
   
    .pre-heading {
        padding: 9px 26px;
    }
    
}

.proudly-section {
	background: url("../images/proudlybg.webp") no-repeat center bottom;
	background-size: cover;
	padding:60px 0px 30px 0px;
}
.presenting-head {
    background: #001246;
    border-radius: 40px;
    padding: 5px 30px;
    display: inline-block;
    font-family: 'Caveat';
}
.but-design {
	background: #240f75;
	padding: 15px 30px;
	-webkit-transform:skew(-200deg);
	-moz-transform:skew(-200deg);
	transform:skew(-200deg);
	display:inline-block
}
.but-design .skew-normal{
	-webkit-transform:skew(200deg);
	-moz-transform:skew(200deg);
	transform:skew(200deg);
}
.warning-section{
    background-color: #00aaff;
    padding: 20px 0px;
}
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
@media(min-width:768px) {
    .but-design {
        padding:15px 60px;
    }
    .proudly-section {        
        padding:100px 0px;
    }
    .offer {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        flex-direction: row;
    }
}

span.under {
    border-bottom: 4px solid;
}

.second-section {
    padding: 5% 0;
	background:#f9f9f9;
}

.kapblue,a.kapblue {
    color: #150de1;
	text-decoration:none;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/********features*********/

.bonus-section {
    background: #deeaff;
    padding: 30px 0 30px;
}

.moneyback-section {
	background: #100370 url(../images/moneyback-bg.webp) no-repeat;
	background-position:top center;
	background-size: cover;
	padding: 60px 0 30px;
}

@media (min-width:768px) {
    .moneyback-section {
        padding: 100px 0 100px;
    }
    .bonus-section {
        background: #fff url(../images/bonus-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding:100px 0px;
		border-bottom:0px
    }
}

.footer-section {
    background: #000000;
    padding: 30px 0;
}
@media (min-width: 768px) {
	.footer-section {
		padding: 45px 0px 50px;
	}
}
.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.white-section {
    background: #f9f9f9;
    padding: 30px 0;
}

.grey-section {
    background: #deeaff ;
    padding: 30px 0;
}

@media(min-width:768px) {
    .white-section {
        background:#f9f9f9 url(../images/white-section-bg.webp) no-repeat;
        padding: 100px 0px 100px;
        background-position: center center;
    }
    .grey-section {
        background:#deeaff url(../images/blue-section-bg.webp) no-repeat;
        padding: 100px 0px 100px;
        background-position: center center;
    }
}

/*new*/
/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #cacaca;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    background: #200d68;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	position:relative;
}
.tablebox3:before{
	content:'';
	position:absolute;
	background: url(../images/most-popular.webp) no-repeat left top;
	min-height:165px;
	min-width:153px;
	left: 0px;
	top: 0px;
}
ul.vgreytick {
    padding: 0px;
    margin: 0;
}

ul.vgreytick li {
    background: url(../images/vgreytick-icon.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
}

ul.vgreytick li:nth-child(odd) {
    background-color: #deeaff;
}

ul.vgreytick li:nth-child(even) {
    background-color: #ffffff;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px;
    margin: 0;
}

ul.grey-tick-last li {
    background: url(../images/greentick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
	color:#ffffff;
    background-position: 15px 22px;
    line-height: 150%;
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #15064a;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #200d68;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

.tbbg2 {
    background: url(../images/start-plan-bg.webp) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #cacaca;
}

.tbbg3 {
    background:#200d68;
    padding:50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #200d68;
}

@media (min-width: 768px) {
    .tbbg3 {
        padding:80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 50px;
        background-position: 20px 22px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 50px;
        background-position: 20px 22px;
    }	
}

.buypad {
    padding: 4% 3%;
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
	border-radius:0px 0px 10px 10px;
}
.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
	border-radius:0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}

@media(min-width:768px) {
    .myfeatureslast {
        padding: 0px 20px 30px;
    }
}

/*Table CSS Enad*/

a.link {
    color: #337ab7;
}

.proudly-sec {
    background: #10a6f8;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}
@media(min-width:768px){
    .proudly-sec {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
}