html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
	overflow-x: hidden;
}
/* --- Global Css Start--- */
.white-clr {
    color: #fff;
}
.black-clr {
    color: #000000;
}
.relative {
    position: relative;
}
/* Btn */
.probtn1 a,
.probtn a {
    border-radius: 15px;
    background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    backdrop-filter: blur(10px);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}
.probtn1 a:hover,
.probtn a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -webkit-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -ms-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
}
@media(min-width:768px){
    .probtn a {
        font-size: 38px;
        padding: 28px 50px;
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 50px;
    }
}
/* Btn End */
/* --- Global Css End--- */
/* --- Header Section Start--- */
.header-section {
    background: #000308;
    padding: 30px 0;
}
.preheadline {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}
@media(min-width:768px) {
    .header-section {
         background: #eef5ff url(../images/header-bg.webp);
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: cover;
		padding: 40px 0px 150px;
    }
    .fifth-section {
        padding:100px 0px;
    }
}
/* --- Header Section End--- */
/* --- Second Section Start--- */
.second-section {
    padding:30px 0px;
    background: #ffffff;
}
.mainheadline {
    padding: 60px 5px 20px;
	background: #E2F0F6;
	position: relative;
	border:3px solid #fff ;
	border-radius: 10px;
}
.mainheadline:before {
    position: absolute;
    content: 'Supercharge';
    background: #f89b1c;
    padding: 5px 10px;
    left: 0px;
    z-index: 99;
    top: 0px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    font-family: 'Kalam', cursive;
    border-radius: 10px 0 0 0;
}
.underline-text {
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}
@media(min-width:768px){
    .second-section {
        padding:0px 0px 80px 0px;
        background: #fff url(https://cdn.oppyo.com/launches/yodrive/lite/second-sec-bg.webp) no-repeat;
        background-position: center center;
		overflow:hidden;
    }
    .mainheadline {
        padding: 30px;
        background: url(../images/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 100px 80px 20px 80px;
    }
    .mainheadline:before {
        position: absolute;
        content: 'Supercharge';
        background: url(../images/gamecheanger-bg.webp) no-repeat;
        padding: 0px 53px;
        left:105px;
        z-index: 99;
        top: 35px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 36px;
        position: absolute;
        font-family: 'Kalam', cursive;
    }
    .underline-text {
        background: url(../images/underline-orange.webp) no-repeat center center;
        padding: 0px 0px 65px 0px;
        background-size: contain;
    }
}
/* --- Second Section End--- */
/* --- Fourth Section Start--- */
.fifth-section {
    background: #0a071e;
    padding: 30px 0;
}
.fifth-section {
	background: url(https://cdn.oppyo.com/launches/yodrive/lite/proudlybg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0 50px 0px;
}
.kapblue {
    color: #0063eb;
}
.proudly-head {
    background: #0068FF;
    border-radius: 40px;
    padding: 9px 40px;
    display: inline-block;
    font-family: 'Caveat', cursive;
}
@media (min-width: 768px){
    .fifth-section {
        padding: 100px 0px 140px;
        background: url(../images/proudlybg.webp) no-repeat bottom center;
        background-size: cover;
    }
    .proudly-head {
        padding: 15px 60px;
        border-radius: 50px;
    }
    .bonus-size {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}
/* --- Fourth Section End--- */
/* --- White Grey Section Start--- */
.white-section {
    background: #ffffff;
    padding: 30px 0px;
}
.grey-section {
    background: #eff1f9;
    padding: 30px 0;
}
@media (min-width:768px) {
    .white-section {
        padding: 100px 0;
    }
    .grey-section {
        padding: 100px 0;
    }
}
/* --- White Grey Section End--- */
/* --- Table CSS Start --- */
.table-section {
    background: #ffffff;
    padding: 30px 0;
}
.tablebox2{
    border: 1px solid #182d5a;
    width: 100%;
    float: left;
    border-radius: 15px;
}
.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}
ul.vgreytick {
    padding: 0px 0px;
    margin: 0;
}
ul.vgreytick li {
    background: url(https://cdn.oppyo.com/launches/yodrive/lite/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 20px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}
ul.vgreytick li:last-child {
    border-bottom: 0px;
}
ul.vgreytick li.headline {
    background: linear-gradient(105.18deg, #080923 -5.51%, #25226e 107.29%) !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff !important;
}
ul.vgreytick li:nth-child(odd) {
    background-color: #eef5ff;
}
.tbbg2-text {
    color: #fff;
}
.tbbg2 {
    background:#071125;
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
}
.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #182d5a;
}
@media (min-width: 768px) {
    .table-section {
        padding:100px 0px;
        background: url(https://cdn.oppyo.com/launches/yodrive/lite/table-bg.webp) no-repeat;
        background-position: center center;
    }
    .tbbg2 {
        padding: 45px 20px 45px 20px;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 60px;
    }
}
/* --- Table CSS End --- */
/* --- Moneyback Section Start --- */
.moneyback-section {
    background: #02040f;
    background-position: center center;
    background-size: cover;
    padding: 30px 0 30px;
}
@media (min-width: 768px){
    .moneyback-section {
        padding: 70px 0px;
        background: #02040f url(../images/moneyback-bg.webp) no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
/* --- Moneyback Section End --- */
/* --- Bonus Section Start --- */
.bonus-section {
	background: url(https://cdn.oppyo.com/launches/yodrive/lite/bonus-bg.webp) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}
.but-design{
    background-color: #0068FF;
    display: inline-block;
    border-radius: 65px;
    padding: 15px;
    position: relative;
    z-index: 1;
}    
@media (min-width:768px) {
    .bonus-section {
	    padding:70px 0px;
    }
    .moneyback-section {
        padding: 70px 0px;
    }
    .but-design{
        padding: 15px 35px;
    }
}
/*-------- Responsive ------------*/
.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
/* --- Footer Section Start--- */
.footer-section {
    background: #05071A;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
    line-height: 130%;
}
.footer-ul {
    padding: 0
}
.footer-ul li {
    display: inline;
}
.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}
@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}
/* --- Footer Section End--- */