html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
	    overflow-x: hidden;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

video {
    width: 100%;
    height: 100%;
}

.min-md-video-width-left img{border: 2px solid #fff; border-radius: 15px;}

/* Color CSS */
.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
.blue-clr {
    color: #2337f6;
}
.orange-clr{
    color: #f6841f;
}
.yellow-clr {
    color: #ffe150;
}
/* Header Section CSS */
.header-section {
    background: #0e0a3b url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 30px 0px;
}
.preheadline {
    border-radius:15px;
    display:inline-block;
    padding:10px 15px;
    position: relative;
    z-index: 1;
    border-width: 2px;
    border-color:#8da6ff;
    background: #041975;
    border-style: solid;  
    box-shadow: inset 0px 0px 12.6px 1.4px rgba(0, 0, 0, 0.3); 
    display: flex;
    align-items: center;
    gap: 10px; 
}
.postheadline {
    padding: 15px;
    display: inline-flex;
    background: rgb(6,10,51);
    background: linear-gradient(90deg, rgba(6,10,51,0) 0%, rgba(6,10,51,1) 48%, rgba(6,10,51,0) 100%);
}
@media(min-width:768px){
    .header-section {
        background: #030331 url(../images/header-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .preheadline {
        padding: 15px 25px;
        display: inline-flex;
        border-radius: 150px;
    }
    .postheadline {
        padding: 20px 25px;
    }}



.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.d-inline-flex {
    display: inline-flex;
}

.relative {
    position: relative;
}

@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .xstext-center {
        text-align: center;
    }
}


/* Header Section Css Start */

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}


/* .header-section ul.leader-ul li a {
    color: #ffffff;
} */

.border-video {
    border-radius: 20px;
}

.affiliate-link-btn a {
    border-radius: 10px;
    transition: all .3s ease;
    border-radius: 10px;
    background-image: -moz-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
}

.calendar-wrap {
    position: relative;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(234, 236, 252);
    border-bottom: solid 5px #2b3aee;
}


/* .calendar-wrap:before {
    content: '';
    background: url(../images/curve1.png) no-repeat;
    position: absolute;
    z-index: 1;
    top: -14px;
    left: -18px;
    background-size: contain;
    width: 161px;
    height: 121px;
    z-index: -1;
}

.calendar-wrap:after {
    content: '';
    background: url(../images/curve2.png) no-repeat;
    position: absolute;
    z-index: 1;
    right: -18px;
    bottom: -10px;
    background-size: contain;
    width: 282px;
    height: 38px;
    z-index: -1;
} */

.calendar-wrap-inline {
    border-width: 1px;
    border-color: rgb(11, 11, 49);
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #08041e;
}

@media (min-width:768px) {

    .header-section ul.leader-ul {
        margin-top: 12px;
    }
    .affiliate-link-btn a {
        padding: 12px 25px;
        font-size: 20px;
    }
    .affiliate-link-btn a:hover {
        transition: all .3s ease;
        border-radius: 10px;
        background-image: -moz-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
        text-decoration: none;
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
}


/* Header Section Css End */

.second-section {
    background: url(../images/second-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

ul.features-list {
    margin: 0px;
    padding: 0px;
}

ul.features-list li {
    background: url(../images/tick-icon.png) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

@media (min-width:768px) {
    .second-section {
        padding: 100px 0px;
    }
}


/* CTA Button Start */

a.cta-link-btn {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 6px;
    background-color: rgb(252, 109, 171);
    transition: all 0.5s;
}

a.cta-link-btn:hover {
    background: #f2579a;
    color: #ffffff;
    text-decoration: none;
    transform: scale(1.1);
    transition: all 0.5s;
}

@media (min-width: 768px) {
    a.cta-link-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
}


/* CTA Button End*/

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/*Form-Style-Start*/

.formbg {
    position: relative;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(234, 236, 252);
    border-bottom: solid 5px #2b3aee;
}

@media (min-width: 768px) {
    .formbg {
        padding: 40px 30px 40px 30px;
    }
}

.width-form {
    width: 100%;
    float: left;
    padding: 0px 0px;
}

@media (min-width: 768px) {
    .width-form {
        width: 33%;
        padding: 0px 5px !important;
    }
}

.register-btn1 input[type="submit"] {

    transition: all .3s ease;
    border-radius: 10px;
    background-image: -moz-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 21px;
    color: #ffffff !important;
    font-weight: 700;
    width: 100%;
    border: none;
    height: 60px;
    outline: none;
    white-space: normal;
}

.register-btn1 input[type="submit"]:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
    background-image: -webkit-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
    background-image: -ms-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
}


/*Form-Style-End*/


/*********************Top To Bottom****************/

#button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    background-color: #ffe400;
    border-radius: 50%;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: rgb(97, 64, 64);
}

#button.show {
    opacity: 1;
    visibility: visible;
}

.post-heading {
    border-top: 1px solid #3a55a5;
    border-bottom: 1px solid #3a55a5;
    padding: 20px 0;
    display: inline-flex;
}