
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}

span.under {
    border-bottom: 2px solid;
}

.yellow-clr {
    color: #fff600;
}

.white-clr {
    color: #ffffff;
}

.white-clr2 {
    color: #d8d1d1;
}

.blue-clr {
    color: #240f75;
}

.red-clr {
    color: #ff0f0f;
}

.header-section {
    background: rgb(9, 20, 120) url(../images/header-bg.png) no-repeat center bottom;
    background-size: cover;
    padding: 30px 0px;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.clear {
    clear: both;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.steps-section2 {
    background: #f9f9f9;
    padding: 30px 0px;
}

.step-bg {
    display: inline-block;
    padding: 15px 32px 10px 32px;
    border-radius: 0px 3px 3px 0px;
    background-color: rgb(36, 15, 117);
    text-align: center;
}

.left-line {
    border-left: solid 2px #240f75;
}

.proudly-section {
    background: #ffffff url(../images/proudly-bg.png) no-repeat top center;
    background-size: cover;
    padding: 0px 0px 30px 0px;
    position: relative;
}

@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.affiliate-link-btn {
    text-align: center;
}

.affiliate-link-btn a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 12px 8px 8px 8px;
    font-size: 14px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    max-width: 234px;
    border-radius: 8px;
    background: #ff9023;
}

/* header */

.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/list-head.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}

.list-head li:last-child {
    border-bottom: 0px;
}


/* section-2 */

.affiliate-link-btn1 a {
    border-radius: 8px;
    background: #ff9023;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: 140%;
}

.affiliate-link-btn1 a:hover {
    background: #ee851c;
    text-decoration: none;
}

/* Black Timer css */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.proof-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.clear {
    clear: both;
}


/* DCP Team Section CSS */

.noneed-shape {
    padding: 30px;
    background-color: #f5efff;
    border-radius: 10px;
}

.anymore-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.e-learning-box {
    background: url(../images/e-learning-box.png) no-repeat center center;
    background-size: contain;
    padding: 55px 10px;
    ;
}

@media(min-width:768px) {
    .e-learning-box {
        padding: 80px 30px 70px;
    }
    .anymore-section {
        padding: 70px 0px;
    }
    .min-sm-video-width-left {
        width: 68%;
    }
    .min-sm-video-width-right {
        width: 32%;
    }
}
    .steps-section2 {
        padding: 80px 0px;
        background: #f9f9f9 url(../images/step-section-2.png) no-repeat center center;
        background-size: cover;
    }

    .header-section {
        padding: 40px 0px 50px 0px;
    }

    .affiliate-link-btn1 {
        text-align: center;
    }
    .affiliate-link-btn1 a {
        font-size: 42px;
        padding: 28px 30px;
        width: auto;
    }
    /* Timer CSS */

    /* Timer CSS End */
    .proof-section {
        padding: 100px 0px;
        background: url("../images/proof-sectionbg.png") no-repeat center center;
        background-size: cover;
    }


@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}


/* Empowers you Section css */

.still-there-section {
    background: #deeaff;
    padding: 30px 0px;
}

.line-5 {
    background: #0063eb;
    height: 5px;
}

@media (min-width:768px) {
    .still-there-section {
        padding: 100px 0px 100px 0px;
        background: #deeaff url(../images/still-there-section.png) no-repeat top center;
        background-size: cover;
    }
}

/* Stats  Section css */

.prdly-pres {
    background: #10a6f8;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}

.stats-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.content-style1,
.content-style2 {
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width:768px) {
    .prdly-pres {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
    .content-style1 {
        background: transparent url(../images/content-style1.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 50px 30px 50px;
        box-shadow: none;
    }
    .content-style2 {
        background: transparent url(../images/content-style2.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 40px 30px 70px;
        box-shadow: none;
    }
    .stats-section {
        padding: 80px 0px;
        background: #f9f9f9 url(../images/stats-bg-section.png) no-repeat center center;
        background-size: cover;
    }

    .affiliate-link-btn a {
        padding: 16px 30px 14px 30px;
        font-size: 18px;
        line-height: 100%;
        color: #ffffff;
        font-weight: 600;
        max-width: 234px;
        margin-left: auto;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }
    .affiliate-link-btn a:hover {
        border-radius: 8px;
        background: #ee851c;
        color: #ffffff;
    }
    .proudly-section {
        padding: 0px 0px 100px 0px;
    }
}

.cta-section-white {
    background: #030210 url(../images/cta-sec.png) no-repeat center center;
    padding: 30px 0 30px 0px;
    background-size: cover;
}

.eleraning-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.limited-time-sec {
    padding: 15px 0px 10px 0px;
    background: #ff0000
}

.problme-shape {
    border-radius: 20px;
    background-color: rgb(236, 56, 69);
    width: 100%;
    float: left;
    padding: 15px;
}

.noneed-listing5 li {
    list-style: none;
    background: url(../images/cross-yellow.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.noneed-listing6 li {
    list-style: none;
    background: url(../images/cross.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

@media (min-width: 768px) {
    .noneed-listing6 li {
        list-style: none;
        background: url(../images/cross.png) no-repeat;
        background-position: 0 1px;
        padding: 0 0 30px 50px;
        min-height: 42px;
    }
    .problme-shape {
        padding: 30px;
    }
    .eleraning-section {
        padding: 80px 0px;
        background: #f9f9f9 url(../images/eleraning-section-bg.png) no-repeat center center;
    }
    .cta-section-white {
        background: #030210 url(../images/cta-sec.png) no-repeat center center;
        background-size: cover;
        padding: 70px 0px;
    }
    .c-hei {
        min-height: 230px;
    }
}
.hi-sec{
    background: #3382ef;
    padding: 15px 30px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block;
}
@media(min-width:768px){
    .hi-sec {
        padding: 15px 60px;
    }
}
.hi-there-sec{padding: 30px 0px;}
@media(min-width:768px){
    .hi-there-sec{padding: 100px 0px;}
}
.few-reason-sec{    
    background: #eaf3ff;
    padding: 30px 0px;}

@media(min-width:768px){
    .few-reason-sec{
        background: #ffffff url(../images/endstory.png) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px 120px;
    }
}    

.header-section .affiliate-link-btn1 a{ font-size:24px;}
.pre-heading {
    background: #550076;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
}
@media (min-width: 768px){
    .pre-heading {
        padding: 15px 40px;
        background: url(../images/pre-shape.webp) no-repeat center center;
        background-size: cover;
    }
}
.b-border{    margin: 40px auto 0px auto;
    height: 2px;
    background: yellow;
    max-width: 200px;}