@import url(style.css);
@import url(timer.css);

/* Generator Page css */

.whitesection {
    background: #fff;
    padding: 30px 0
}

.formsection {
    padding: 0 0 30px 0
}

.formsection .form_area input[type="text"],
.formsection .form_area input[type="text"]:focus {
    width: 100%;
    box-shadow: none;
    outline: 0;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background-color: #fff;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none !important;
    color: #000;
    padding: 6px 15px
}

.formsection .form_area::-webkit-input-placeholder {
    color: #666
}

.formsection .form_area:-ms-input-placeholder {
    color: #666
}

.formsection .form_area::placeholder {
    color: #666
}

.formsection .form_area input[type="submit"] {
    border-radius: 10px;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    backdrop-filter: blur(10px);
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border: 0;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px;
    line-height: 30px;
    font-weight: 700;
    outline: 0;
    white-space: normal
}

.formsection .form_area input[type="submit"]:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -webkit-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -ms-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
}

@media(min-width:768px) {
    .formsection .form_area input[type="submit"] {
        padding: 23px 20px
    }
    .formsection {
        padding: 30px 0 100px 0
    }
}


/* Generator Page css End */
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}
.white-clr {
    color: #fff;
}
.black-clr {
    color: #000000;
}
.blue-clr {
    color: #182d5a;
}

/* Main Header Section CSS */
.main-header {
    background: #fff url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding: 30px 0px 30px 0px;
}

/* Affiliate Bonus Buy Button */
a.bonusbuy-btn {
    border-radius: 10px;
    background-image: -moz-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    backdrop-filter: blur(10px);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    padding: 5px 20px;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
}
a.bonusbuy-btn:hover,
a.bonusbuy-btn:focus {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -webkit-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -ms-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
}
/* Bonus Header Section bg Start Main Css */
.bonus-header {
    padding: 30px 10px 0px 10px;
}
.bonus-title-bg {
    background-image: -moz-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    color: #fff;
}
.section-bonus {
    padding: 30px 0px;
}
.bonus-title-color {
    color: #182d5a;
}
.bonus-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/kap-tick.webp) no-repeat;
    background-position: 0 5px;
    padding-left: 3rem;
    padding-bottom: 25px;
    list-style-type: none;
}
.bonus-list li:last-child {
    padding-bottom: 0px;
}
/* For Header Bg */

.dark-cta-sec {
    background: url(../images/cta-btn-bg.webp) no-repeat;
    background-size: cover;
    padding: 30px 0px;
    position: relative;
    z-index: 9999;
}

@media(min-width:768px){
    .dark-cta-sec {
        padding: 60px 0px;
    }
}



.cta-btn-section {
    padding: 30px 0px;
}
.huge-area {
    padding: 30px 0;
    background: #030331;
}
.white-section {
    background: rgb(255, 255, 255);
    padding: 30px 15px;
}
@media(min-width:768px) {
    a.bonusbuy-btn {
        padding: 20px 50px;
        font-size: 35px;
    }
    a.bonusbuy-btn1 {
        padding: 20px 50px;
        font-size: 35px;
    }
    .main-header {
        padding: 40px 0px 100px 0px;
    }
    .bonus-header {
        padding: 70px 0px 0px 0px;
    }
    .section-bonus {
        padding: 50px 0px;
    }
    
    .huge-area {
        background: #0e0a3b;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 50px 0px;
        color: #fff;
    }
}
/* Exit Pop Up Css Start */

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.modal-body {
    position: relative;
    padding: 15px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 30px;
    opacity: 1;
    outline: none;
    color: #300476 !important;
    font-weight: 400;
    background: #ffe8cc !important;
    top: 1px;
    position: absolute;
    z-index: 2;
    right: 1px;
    padding: 0px 5px 0px 5px !important;
}

.modal-header .close {
    margin-top: -5px;
}

.innerbody {
    border-radius: 10px;
    margin-top: -1%;
    float: left;
    width: 100%;
}

.popupbg {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/exitbg.webp) repeat;
    padding: 8px 0px;
}


/* Media Querry Start */

.footer-section {

    background: #05071A;

    padding: 30px 0px;

    }

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/* Exclusive-Section */

.exclusive-bonus {
    background: #e95093;
    padding: 30px 15px;
}

.profitmozo {
    padding: 30px 15px;
}

.blue-sky {
    color: #00ccff;
}

.orange {
    color: #f5821f;
}

.underline {
    text-decoration: underline;
}

.heading-head {
    background: -webkit-linear-gradient(#1d2d45 0%, #21385c 50%, #254677 100%);
    background: -o-linear-gradient(#1d2d45 0%, #21385c 50%, #254677 100%);
    background: linear-gradient(#1d2d45 0%, #21385c 50%, #254677 100%);
    width: 100%;
    padding: 1% 0 3%;
}

.fast-easy {
    background: #1d2d45;
    padding: 45px 15px;
}

.profitmozo-action {
    background: #1e2634 url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/profitmozo-action.webp);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px 15px;
}

 .tr-header-section {
    background: #f7d309;
    padding: 30px 0 30px 0px;
}
.tr-header-section .trpre-heading {
    position: relative;
    padding: 10px 5px;
    display: inline-block;
    color: #f7d309;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    transform: skew(-10deg);
}
.tr-header-section .blue-clr, a.blue-clr {
    color: #0a52e2;
    text-decoration: none;
}
.tr-header-section .key-features-bg1 {
    padding: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 15px;
}
.tr-header-section .list-head1 {
    list-style: none;
}
.tr-header-section .list-head1 li {
    background: url(https://cdn.oppyo.com/launches/jobiin/special-bonus/launch-tick-green1.webp) no-repeat;
    padding: 10px 0px 10px 30px;
    background-position: 0px 14px;
    text-align: left;
    border-bottom: solid 1px #080038;
}
.tr-header-section .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 15px 0px 25px 0px rgb(19 21 26 / 30%);
    z-index: 99;
}
.tr-header-section .blue-clr, .tr-header-section a.blue-clr {
    color: #003770;
    text-decoration: none;
}
.tr-header-section .responsive-video iframe, .tr-header-section  .responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
 @media (min-width: 468px){
    .tr-header-section {
    background: #f7d309 url(../images/header-bg-trendio.png) no-repeat center center;
    background-size: cover;
    padding: 40px 0px 100px 0px;
}

.tr-header-section .trpre-heading {
    position: relative;
    padding: 15px 20px;
}

 }

 


/* NexusGpt Header CSS Start */

.nexusgpt-list-head {
	list-style: none;
}

.nexusgpt-list-head li {
	background: url(../images/nexusgpt-fav.webp) no-repeat;
	padding: 15px 0px 15px 35px;
	background-position: 0px 21px;
	text-align: left;
	border-bottom: solid 1px #091e42;
}

.nexusgpt-list-head li:last-child {
	border-bottom: none;
}

.nexusgpt-pre-heading {
	padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}

.nexusgpt-head-design{
    background: #FFFFFF;
    padding: 15px;
}
@media (min-width: 768px){
.nexusgpt-head-design {
    padding: 30px;
    background: url(../images/nexusgpt-headline-bg.webp) no-repeat center center;
    background-size: 100% 100%;

}
}

.nexusgpt-underline-text{
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}

.nexusgpt-gametext {
    background: #F19B10;
    padding: 5px 29px 5px 15px;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    top: -42px;
    z-index: 99;
    line-height: 32px;
    left: 0px;
    border-radius: 0px 150px 0px 0px;
    background: #F19B10;
}
.nexusgpt-header-section {
    background: #05071A;
    padding: 30px 0;
    position: relative;
    
}
@media (min-width: 768px){
.nexusgpt-header-section {
    padding: 80px 0px 100px 0px;
    background: #fff url(../images/nexusgpt-header-bg.webp) no-repeat center bottom;
    background-size: cover;
   
}
}
/* NexusGPt Header Section Css End */

/* linkpro Header Section css Start */
.linkpro-orange-gradient{
	background: linear-gradient(180deg, #EF9823 0%, #F0592D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.linkpro-header-section {
	background:  #eff5f9 url(../images/linkpro-header-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 80px 0px ;
}
.linkpro-gametext {
    background: linear-gradient(180deg, #EF9823 0%, #F0592D 100%);
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -52px;
    line-height: 30px;
    left: 25px;
    transform: skew(-10deg);
    border-radius: 5px;
}

.linkpro-preheadline {
	display: inline-block;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 35px;
}

.linkpro-main-heading {
    background: transparent;
    background-size: cover;
    padding: 0px;
	position: relative;
    z-index: 9;
    top: -5px;
}

.linkpro-list-head li {
    background: url(../images/linkpro-fav.webp) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 16px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    list-style-type: none;
}



.linkpro-main-heading {
    background: transparent;
    background-size: cover;
    padding: 0px;
    position: relative;
    z-index: 9;
    top: -5px;
}
.linkpro-gametext {
    background: linear-gradient(180deg, #EF9823 0%, #F0592D 100%);
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -52px;
    line-height: 30px;
    left: 25px;
    transform: skew(-10deg);
    border-radius: 5px;
}

@media (min-width: 768px){
.linkpro-main-heading {
    background: url(../images/linkpro-heading-design.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 35px 45px 35px 44px;
}
}
.linkpro-list-head li:last-child {
    border-bottom: 0px;
}

/* linkpro Header Section css End */

/* LegalSuite-Header-Section  Css Start */
.legalsuite-header-section {
	background: #0e0a3b url(../images/legalsuite-header-bg.webp);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 30px 0px 30px 0px;
}

.legalsuite-preheadline {
	display: inline-block;
	padding: 15px;
	background: #04173E;
	backdrop-filter: blur(200px);
	border-radius: 0px 0px 20px 20px;
}

.legalsuite-header-wrap {
	padding: 0px 0px 15px 0px;
	background: rgba(11, 28, 55, 0.2);
	backdrop-filter: blur(3px);
	border-radius: 15px 15px 0px 0px;
	border: solid 1px #2561BD;
	max-width: 95%;
	margin: 20px auto 0px auto;
}
@media(min-width:768px) {
	

	.legalsuite-header-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}

	.legalsuite-header-section {
		background: #04173E url(https://cdn.oppyo.com/launches/legelsuites/special/header-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding: 40px 0px 100px 0px;
	}

	.legalsuite-preheadline {
		padding: 30px 24px;
		display: inline-block;
	}


	.legalsuite-min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}

	.legalsuite-min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}

}

@media(min-width:1600px) {
	.legalsuite-header-wrap {
		max-width: 85%;
	}
}

/* Header End */
.legalsuite-feature-wrap {
	padding: 20px;
	background: #ffffff;
	border-radius: 0px 0px 15px 15px;
}

.legalsuite-feature-list {
	margin-top: 30px;
	list-style-type: none;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	gap: 15px;
}

@media(min-width:768px) {
	.legalsuite-feature-wrap {
		padding: 50px;
		border-radius: 0px 0px 50px 50px;
	}
}

@media(max-width:767px) {
	.legalsuite-feature-list img {
		max-height: 30px;
		margin-top: 5px;
	}
}


/*LegalSuites Header Section Css End */

/* RestroSuite css section start */

.restrosuite-header-section {
    background: url(../images/restrosuite-header-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 80px 0px;
    background-attachment: fixed;
    animation: shrink 5s infinite alternate;
    position: relative;
}
.restrosuite-preheadline {
	display: inline-block;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: solid 2px rgba(255, 255, 255, 0.25);
}
.restrosuite-mainheadline {
    border-radius: 26px;
    background-color: rgba(255, 255, 255, 0.25);
    position: relative;
    z-index: 9;
    left: -5px;
    top: -5px;
    padding: 20px 10px;
}
@media (min-width: 768px){
.restrosuite-mainheadline {
    padding: 20px;
}
.header-section {
    padding: 40px 0px 100px 0px;
}
.restrosuite-gameimg {
    position: absolute;
    top: -61px;
    z-index: 9999;
    left: -8px;
}
}
.restrosuite-video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.restrosuite-key-features-bg {
    padding: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 15px;
}
.restrosuite-list-head li {
    background: url(../images/restrosuite-orange-tick.webp) no-repeat;
    padding: 10px 0px 10px 35px;
    background-position: 0px 13px;
    text-align: left;
    border-bottom: solid 1px #252525;
    list-style-type: none;
}
.restrosuite-ele1{
	position: absolute;
	bottom: -45px;
    left: -20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}	

.restrosuite-ele2{
	position: absolute;
	top: 400px;
    right: 20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}
@-webkit-keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}
@keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}
.restrosuite-gametext {
    background: #fdbe39;
    padding: 4px 18px;
    border-radius: 15px 15px 0px 0px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}
/* RestroSuite css SEction End */
.mainheadline {
    padding: 60px 5px 20px;
    background: #E2F0F6;
    position: relative;
    border: 3px solid #fff;
    border-radius: 10px;
}
.mainheadline:before {
    position: absolute;
    content: 'game changer';
    background: #f89b1c;
    padding: 5px 10px;
    left: 0px;
    z-index: 99;
    top: 0px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    font-family: 'Kalam', cursive;
    border-radius: 10px 0 0 0;
}
.underline-text {
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}

@media(min-width:768px){
    .mainheadline {
        padding: 30px;
        background: url(../images/main-heading.png) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 120px 80px 30px 80px;
    }

    .mainheadline:before {
        position: absolute;
        content: 'game changer';
        background: url(../images/gamecheanger-bg.png) no-repeat;
        padding: 0px 35px;
        left: 98px;
        z-index: 99;
        top: 42px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 36px;
        position: absolute;
        font-family: 'Kalam', cursive;
    }

    .underline-text {
        background: url(../images/underline-orange.webp) no-repeat center center;
        padding: 0px 0px 65px 0px;
        background-size: contain;
    }
}
.heading-bg {
    background-color: #ee3725;
    border-radius: 10px;
    padding: 15px 15px;
    color: #ffffff;
}
@media (min-width: 768px){
.heading-bg {
    background: url(../images/head-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    padding: 50px 15px 96px 15px;
    background-size: 100% 100%;
}
}