.orange,
a.orange {
    color: #ff7200;
}

/* .list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/list-head-n.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}
 */
.yellowtext {
    color: #f99d36;
}
/*******new bonus********/


.pre-heading-box {
    border: 2px solid rgba(185, 86, 255, 1);
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    padding: 10px;
}

@media(min-width:768px) {
    .pre-heading-box {
        padding: 9px 26px;
    }
}