html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

.spartan-font,
.spartan {
    font-family: 'Spartan', sans-serif;
}
.caveat {
    font-family: 'Caveat', cursive;
}

span.under {
    border-bottom: 4px solid;
}


/* .logo-height {
    max-height: 45px;
}
 */

.yellow-clr {
    color: #FFCD00;
}

.white-clr {
    color: #ffffff;
}

.red-clr {
    color: #ff0f0f;
}

.orange-clr {
    color: #FF813B;
}
.purple-clr{
    color:#7938ff;
}


.clear {
    clear: both;
}
.post-heading {
    padding: 15px 60px;
    background: url(../images/post-heading.webp) no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
}
@media (max-width: 767px) {
    .post-heading {
        background: #00AAFF;
        text-align: center;
        padding: 10px;
    }
}

/* header */

.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/list-head.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
    text-align: left;
}

.list-head li:last-child {
    border-bottom: 0px;
}


/* section-2 */

.step-section {
    padding: 30px 0px;
    background: url(../images/step-bg.webp) no-repeat center center;
    background-size: cover;
}
.step-shapes {
    background: url(../images/step-process-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 8px 40px;
    width: fit-content;
}

.second-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

/* White Timer css */


/* Black Timer css */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.kaptick li {
    list-style: none;
    background: url(../images/list-head.webp) no-repeat;
    background-position: 0 2px;
    padding: 0 0 20px 40px;
    min-height: 26px;
}


.kaptick.lipadding-bottom0 li {
    padding-bottom: 0px;
}

.kaptick.lipadding-bottom0 {
    margin: 0px;
}

/* DCP Team Section CSS */

.white-clr {
    color: #fff;
}

@media(min-width:768px) {
    .second-section {
        padding: 50px 0px;
        background: #ffffff url(../images/features-listbg.png) no-repeat center center;
        background-size: cover;
    }
}

/* Empowers you Section css */

/* Stats  Section css */

@media (min-width:768px) {
    .step-section {
        padding: 100px 0px;
    }
}
.profitwall-sec {
    padding: 30px 0px;
    background: #efeff9;
}
 
@media (min-width: 768px){
.profitwall-sec {
    padding: 100px 0px;
    background: url(../images/powerfull-bg.webp) center center;
    background-size: cover;
   
}}


    /***********Testimonial Section*****************/
    .pre-heading {
        border: 2px solid #00AAFF;
        display: inline-block;
        border-radius: 100px;
        text-align: center;
        position: relative;
        padding: 10px;
    }
     @media (min-width: 768px){
        .pre-heading {
            padding: 9px 26px;
        }
     }
     .exclusive-bonus {
        background: #e95093;
        padding: 30px 15px;
    }
    .purple-bg {
        padding: 10px 30px;
        background-image: linear-gradient(90deg, #B956FF 0%, #6E33FF 100%);
        display: inline-block;
        border-radius: 25px;
    }
    .orange-bg {
        background-color: #FF813B;
        border-radius: 25px;
        padding: 5px 25px;
        display: inline-block;
    } 
    .white-bg {
        background: #fff;
        border-radius: 10px;
        padding: 20px;
    }
    .purple-bgg {
        background: var(--purple-gradient, linear-gradient(90deg, #B956FF 0%, #6E33FF 100%));
        border-radius: 10px;
        padding: 20px;
    }
@media (min-width: 768px) {
    .orange-bg {
        border-radius: 85px;
        padding: 10px 50px;
    }
    .white-bg {
        border-radius: 20px;
        padding: 50px 30px 50px 30px;
    }
    .purple-bgg {
        /* border-radius: 20px; */
        padding: 50px 30px 50px 30px;
    }
}
.red-bg {
    border-radius: 25px;
    border: 1px solid #000;
    background: #FF2C2C;
    padding: 10px;
}
@media (min-width: 768px){
.red-bg {
    padding: 9px 30px;
    display: inline-block;
}
}
.header-section-aicademy {
    padding: 30px 0px;
    background: #010517;
    z-index: 1;
}


@media (min-width: 768px){
.header-section-aicademy {
    padding: 50px 0px 80px 0px;
    background: url(../images/header-bg-aicademy.webp) no-repeat center bottom;
    background-size: cover;
}
}
.post-heading-aicademy {
    background: #00AAFF;
    text-align: center;
    padding: 10px;
}
.shape-head-aicademy {
    background: url(../images/shape-aicademy.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 20px;
    text-align: center;
}
@media (min-width: 768px){
.post-heading-aicademy {
    padding: 15px 60px;
    background: url(../images/post-heading-aicademy.webp) no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
}
}
.list-head-aicademy,.list-head-vidmaster{list-style: none;}
.list-head-aicademy li {
    background: url(../images/list-head-aicademy.webp) no-repeat;
    padding: 15px 0px 15px 45px;
    background-position: 0px 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.list-head-aicademy li:last-child {
 border-bottom: 0px;
}

.header-section-vidmaster {
    background: #0f0f0f;
    padding: 30px 0;
    position: relative;
}
.pre-heading-vidmaster {
    padding: 25px 15px;
    margin: 30px auto 0px;
    background: url(../images/preheading-vidmaster.png) no-repeat;
    display: inline-block;
    background-size: cover;
}
.red-clr-vid{    color: rgba(239, 71, 72, 1);}
@media (min-width: 768px){
.header-section-vidmaster {
    background: #0f0f0f url(../images/header-bg-vidmaster.webp) no-repeat center bottom ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px 120px 0px;
}
}
.calendar-wrap-vidmaster {
    border-radius: 15px;
    background-color: #292929;
    padding: 20px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.list-head-vidmaster li {
    background: url(../images/list-tick-vidmaster.webp) no-repeat;
    padding: 0px 0px 10px 40px;
    margin-bottom: 10px;
    background-position: 0px 5px;
    text-align: left;
    border-bottom: solid 1px #464646;
}
.footer-ul a:hover{
    color: #fff;
}