.white-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .white-section {
        padding: 70px 0px;
    }
}


/* Testimonial CSS */

.testimonial-section {
    background: #deeaff;
    padding: 30px 0px;
}

.testi-shape {
    position: absolute;
    top: 7px;
    left: -12px;
}

.testi-block1 {
    position: relative;
    background: #ffffff;
    padding: 5%;
    box-shadow: 4.663px 3.776px 36.4px 3.6px rgba(31, 105, 189, 0.09);
    border-radius: 20px;
}

@media (min-width:768px) {
    .testimonial-section {
        background: #deeaff url(../images/testimonial-bg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
}


/* Testimonial CSS End */
/* Targeted CSS */



/* Targeted CSS End */


/* Targeted CSS */

/* Targeted CSS End*/


/* Bonus CSS Start*/

.bonus-headline {
    background: rgb(9, 20, 120);
    background: -moz-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1);
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}
/* Bonus CSS End*/
/* Table Section */

/* .table-wrap1:before {
    content: '';
    position: absolute;
    background: url(../images/most-popular.png) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 45px;
    top: -10px;
}
 */

/* Table Section End*/


@media (min-width: 768px) {
    .faq-section {
        padding: 100px 0px;
    }
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 70px 0px;
    }
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@media (min-width: 768px) {
    .potential-sec {
        background: url(../images/potential-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0px 180px;
    }
}
