html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}

.white-clr {
    color: #fff;
}
.black-clr {
    color: #252525;
}
.orange-clr {
	color: #F2A736;
}

.orange-clr1{
	color: #E76D24;
}

/* Header Section CSS */
.header-section {
    background: url(../images/header-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px;
    background-attachment: fixed;
    animation: shrink 5s infinite alternate;
    position: relative;
}
@keyframes shrink {
	0% {
	  background-size: 110% 110%;
	}
	100% {
	  background-size: 100% 100%;
	}
  }

.ele1{
	position: absolute;
	bottom: -75px;
    left: -20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}	

.ele2{
	position: absolute;
	top: 400px;
    right: 20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}

.menu-list li{
	background: url(../images/orange-tick.webp) no-repeat;
    background-position: 10px 32px;
    padding: 15px 15px 15px 64px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
    background-color: #FFEED6;
    display: flex;
    align-items: center;
	border: 3px solid #FFFFFF;
}
.list-section {
    padding: 30px 0px;
}
@-webkit-keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}
@keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}
@media(min-width:768px){
    .header-section {
        padding: 40px 0px 100px 0px;
    } 
    .list-section {
        padding: 100px 0px;
        background: url(../images/list-section-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .f-md-70 {
        font-size: 70px;
    }
}


/* List-section */
.list-section {
	padding: 30px 0px;
	background: url(../images/list-section-bg.webp) no-repeat center center;
	background-size: cover;
}
.feature-list {
    padding: 15px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
.bonus-list li {
	background: url(../images/list-check.webp) no-repeat;
	background-position: 10px 32px;
	padding: 15px 15px 15px 64px;
	margin-top: 30px;
	list-style-type: none;
	min-height: 100px;
	box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
	background-color: #fff;
	display: flex;
	align-items: center;
}
.exciting-inner-sec {
    background: url(../images/exiciting-inner-bg.webp) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    padding: 30px 15px;
    margin: 0px auto;
}
.probtn1 a {
    transition: all .3s ease;
    border-radius: 15px;
    background: #FFA829;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn1 a:hover{
    transition: all .3s ease;
    background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}
@media(min-width:768px) {
	.list-section {
		padding:100px 0px 50px 0px;
	}
    .exciting-inner-sec {
        padding: 80px;
        border-radius: 50px;
        width: 95%;
    }
.probtn1 a {
    font-size: 38px;
    padding: 28px 60px;
    display: inline-block;
    width: auto;
    border-radius: 100px;
}
}

/* List section End */

/*************Second Section **************/
.calendar-wrap {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: solid 2px rgba(255, 255, 255, 0.25);
    padding: 12px 20px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.list-head {
    list-style: none;
}
.list-head li {
    background: url(../images/orange-tick-s.webp) no-repeat;
    padding: 19px 0px 12px 36px;
    background-position: 0px 21px;
    text-align: left;
    border-bottom: solid 1px #4b4b4b;
}
.list-head li:last-child {
    border-bottom: none;
}
.second-section {
    padding: 30px 0px;
    background: #f1f1f1;
}

.step-sec {
    padding: 0 10px;
}

ul.features-list {
    margin: 0px;
}

ul.features-list li {
    background: url(../images/orange-tick-s.webp) no-repeat;
    padding: 0px 0px 30px 45px;
    background-position: 10px 5px;
    list-style: none;
    min-height: 31px;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
}
.presenting-head {
    background: url(../images/introducing-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 55px 70px 55px;
    display: inline-block;
    margin-top: -10px;
}
@media(min-width:768px) {
    .second-section {
        padding: 100px 0px;
        background-size: cover;
    }
    ul.features-list li {
        background: url(../images/orange-tick-s.webp) no-repeat;
        padding: 0px 0px 30px 45px;
        background-position: 0px 3px;
        list-style: none;
    }
    .presenting-head {
        padding: 20px 140px 120px 140px;
        margin-top: -20px;
    }
}

/***********Fastest Section *******/

.fastest-section {
    padding: 30px 0;
    background: #ffffff url(../images/fastest-bg.webp) no-repeat center bottom;
    background-size: cover;
}

@media(min-width:768px) {
    .fastest-section {
        padding: 100px 0;
    }
}

/***********Third Section **********/

.third-section {
    padding: 0px 0 50px 0px;
    background: #fff;
}
.exciting-inner-sec {
    background: url(../images/exiciting-inner-bg.webp) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    padding: 30px 15px;
    margin: 0px auto;
}
@media(min-width:768px) {
    .third-section {
        padding: 70px 0px 60px 0px;
        background: url(../images/table-bg-1.webp) no-repeat center center;
    }
    .exciting-inner-sec {
        padding: 80px;
        border-radius: 50px;
    }
}


/* List section End */

.proudly-shape {
	display: inline-block;
	padding: 5px 30px 5px 30px;
	position: relative;
	z-index: 1;
	background: #04173E;
	border-radius: 60px;
	align-items: center;
	font-family: 'Caveat', cursive;
	margin-top: -56px;
}

.proudly-sec {
	background: url(../images/proudlybg.webp) center center no-repeat;
	background-size: cover;
	padding: 60px 0px 30px 0px;
}

.proudly-inner-sec {
    padding: 0px 0px 15px 0px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: solid 2px rgba(255, 255, 255, 0.25);
    max-width: 95%;
    margin: 20px auto 0px auto;
}
.preheadline {
    display: inline-block;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: solid 2px rgba(255, 255, 255, 0.25);
}
@media (min-width: 768px) {
	.proudly-sec {
		padding: 150px 0px 100px 0px;
	}

	.proudly-inner-sec {
        padding: 0px 0px 100px 0px;
    max-width: 95%;
    border-radius: 50px;
    margin: 50px auto 0px auto;
	}

	.proudly-shape {
		padding: 10px 90px 10px 90px;
		margin-top: -150px;
	}
}
@media(min-width:1600px){
    .proudly-inner-sec {
        max-width: 85%;
    }
}
/********Fifth Section *******/
.per-shape {
    background: url(../images/presenting-shape.webp) center center no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 20px 55px 34px 55px;
}

.shape-skew {
    transform: skew(-25deg);
    background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    display: inline-block;
    padding: 10px 25px;
}

span.skew {
    transform: skew(25deg);
    display: inline-block;
}

/* Step Section Start*/

.step-section{
    background: #fff url(../images/steps-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px ;
}	
@media(min-width:768px){
    .step-section{
        padding:100px 0px;
    }
}

/* Step Section End */

/***********White Section *********/

.white-section {
    padding: 30px 0;
    background: #fff url(../images/features-bg2.png) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .white-section {
        padding: 100px 0;
    }
}

/***********Grey Section *********/

.grey-section {
    padding: 30px 0;
    background: #f1f1f1;
}

@media(min-width:768px) {
    .grey-section {
        padding: 100px 0;
    }
}


/***********Bonus Section *********/

.bonus-section {
    background: #effbff url(../images/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
}

.feature-shape {
    background-image: -moz-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    background-image: -webkit-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    background-image: -ms-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}

@media(min-width:768px) {
    .bonus-section {
        padding: 70px 0;
    }
    .feature-shape:after {
        content: '';
        background: url(../images/line-shape.webp) no-repeat right bottom;
        padding: 22px 0;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -15px;
        right: -15px;
    }
}

/******Table Section ********/

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #2337f6;
}

.tablebox2 {
    border: 1px solid #040b3a;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tbbg2 {
    background: #252525;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

ul.vgreytick {
    padding: 0px 15px;
}

@media(min-width:768px) {
    .table-section {
        padding: 100px 0px;
        background: url(../images/table-bg.webp) no-repeat;
        background-position: center center;
        background-size: cover;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
}

/**********Footer Section********/

.footer-section {
	background: #252525;
	padding: 30px 0;
}

.footer-ul {
	padding: 0
}

.footer-ul li {
	display: inline;
	line-height: 130%;
}

.footer-ul li:hover a {
	color: #fff;
}

@media(min-width:768px) {
	.footer-section {
		padding: 50px 0px;
	}

	.footer-ul li {
		line-height: normal;
	}

}

a.nothank {
	color: #2447a2;
	text-decoration: none;
}


/**********Footer Section********/

.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}