html {
    scroll-behavior: smooth;
    /* scrollbar-width: thin; */
}

body {
    font-family: 'Poppins', sans-serif;
    color: #031528;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #fc8548;
  border-radius: 25px;
}

/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.orange-clr {
    color: #fc8548;
}

.blue-clr {
    color: #682af1;
}

.black-clr {
    color: #031528;
}
.yellow-clr {
    color: #FBBF33;
}
.gradient-clr {
    background: #7617E4;
    background: linear-gradient(to top, #FF992E 0%, #DA1467 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.orange-gradient{
	background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

/* Header CSS */

.header-section {
    background: #0f0022 url(../images/header-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0;
    position: relative;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 8px;
    font-weight: 400;
}

.affiliate-link-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 500;
    transition: all .3s ease;
    background-image: -webkit-linear-gradient( 64deg, #FF992E 0%, #DA1467 100%);
    
}

.affiliate-link-btn a:hover {
    transition: all .3s ease;
    background-image: -webkit-linear-gradient( 64deg, #DA1467 0%, #FF992E 100%);
}

.pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: transparent;
    outline: none;
    border-color: #8B27FF;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
    backdrop-filter: blur(25px);
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 15px 0px 25px 0px rgba(19, 21, 26, 0.3);
    z-index: 99;
}

.text-shadow {
    text-align: center;
    text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
}

span.typed-text {
    font-weight: 700;
    background: #15c6fc;
    background: linear-gradient(90deg, #15c6fc 32.27%, #15c6fc 74%);
    -webkit-background-clip: text;
    min-width: 200px !important;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
/* span.cursor {
	display: inline-block;
	background-color: #15c6fc;
	margin-left: 0.1rem;
	width: 3px;
	animation: blink 1s infinite;
  } */
span.cursor.typing {
	animation: none;
  }
  @keyframes blink {
	0%  { background-color: #15c6fc; }
	49% { background-color: #15c6fc; }
	50% { background-color: transparent; }
	99% { background-color: transparent; }
	100%  { background-color: #15c6fc; }
  }

@media (min-width: 768px) {
    .header-section {
        padding: 40px 0px 100px 0px;
    }
    .pre-heading {
        padding: 15px 30px;
        border-radius: 100px;
    }
    .affiliate-link-btn a {
        padding: 15px 30px;
        font-size: 24px;
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66%;
        flex: 0 0 66%;
        max-width: 66%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 34%;
        flex: 0 0 34%;
        max-width: 34%;
    }
}

/******banner Section*************/

.launch-start-bg {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px 15px;
}

.seprate-line {
    background: #fa8c3d;
    height: 2px;
    margin: 15px 0px;
}

/*************LIVE Section**************/

.live-section {
    background: #ffffff;
    padding: 30px 0px;
}

a.affiliate-btn {
    border-radius: 65px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    background-image: -moz-linear-gradient( 64deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
    background-image: -webkit-linear-gradient( 64deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
    background-image: -ms-linear-gradient( 64deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
}

a.affiliate-btn:hover {
    background-image: -moz-linear-gradient( 180deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
    background-image: -webkit-linear-gradient( 180deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
    background-image: -ms-linear-gradient( 180deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
}

@media (min-width: 768px) {
    .live-section {
        padding: 100px 0px;
    }
    a.affiliate-btn {
        padding: 23px 50px;
    }
}

/***************Promo Section************/

.promo-section {
    padding: 0px 0 30px 0px;
    background: #fff;
}

a.promo-link {
    border: solid 1px #15c6fc;
    background: transparent;
    max-width: 100%;
    padding: 7.5px 30px;
    border-radius: 65px;
    color: #000000;
    display: block;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
}

a.promo-link:hover {
    border: solid 1px #15c6fc;
    background: #15c6fc;
}

@media (min-width: 768px) {
    .promo-section {
        padding: 0px 0px 50px 0px;
    }
}

.promo-inner-sec {
    padding: 20px;
    border-radius: 15px;
    background-image: -moz-linear-gradient( 0deg, rgb(242, 236, 255) 0%, rgb(249, 246, 255) 100%);
    background-image: -webkit-linear-gradient( 0deg, #edfaff 0%, #f2fcff 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(242, 236, 255) 0%, rgb(249, 246, 255) 100%);
}

.feature-border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    border-bottom: 1px solid rgb(182, 179, 188);
}

.feature-border:last-child {
    border: 0;
}

.feature-section {
    padding: 0px 0px 30px 0px;
}

@media(min-width:768px) {
    .promo-inner-sec {
        padding: 40px;
    }
    .feature-section {
        padding: 0px 0px 100px 0px;
    }
    .feature-border {
        padding: 20px 10px;
        border-right: 1px solid rgb(182, 179, 188);
        border-bottom: 0;
    }
}

/***********Next Generation*****************/

.next-gen-sec {
    background: #1b3ba9;
    background-size: cover;
    padding: 30px 0px 30px 0px;
}

.proudly-list-bg {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
    padding: 15px;
}

.proudly-tick li {
    background: url(https://cdn.oppyotest.com/launches/webgenie/jv/images/reason-tick.webp) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 25px 45px;
}

.presenting-shape {
    background-color:#fc8548;
    border-radius: 100px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.presenting-shape:before {
    width: 70px;
    height: 1px;
    background: #fc8548;
    position: absolute;
    content: '';
    left: -70px;
}

.presenting-shape:after {
    width: 70px;
    height: 1px;
    background: #fc8548;
    position: absolute;
    content: '';
    right: -70px;
}

@media (min-width: 768px) {
    .next-gen-sec {
        background: #ffffff url(../images/next-gen-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 70px 0px 100px 0px;
    }
    .proudly-list-bg {
        padding: 30px;
    }
}

/**************ground-breaking *******************/

.ground-breaking {
    padding: 30px 0px;
    background: #ffffff;
}

.features-list-bg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    float: left;
    width: 100%;
    padding: 30px;
    border: solid 1px #f3ebff;
    height: 100%;
}

.features-list-bg:hover {
    border: solid 1px #fc8548;
}

.icon-height {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .ground-breaking {
        padding: 0px 0px 100px 0px;
        background: #ffffff;
        background-size: cover;
    }
}

/*******HUGE Section*********/

.huge-bg-sec {
    background: #eaf5f9;
    padding: 30px 0 30px;
}

@media (min-width: 768px) {
    .huge-bg-sec {
        padding: 70px 0px;
    }
}

/***********Reason Section**************/

.reason-sec {
    background: #ffffff url(../images/reason-sec-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px 30px 0px;
}

@media (min-width: 768px) {
    .reason-sec {
        padding: 80px 0px 50px 0px;
    }
}

/**********Promote Section************/

.top-5 {
    background: #ffffff;
    padding: 30px 0px 30px 0px;
}

.reason-tick li {
    background: url(https://cdn.oppyotest.com/launches/webgenie/jv/images/reason-tick.webp) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 45px;
}

@media (min-width: 768px) {
    .top-5 {
        padding: 100px 0px 140px 0px;
    }
}

/***********Prize Section*************/

.prize-section {
    background: #ffffff url(https://cdn.oppyotest.com/launches/webgenie/jv/images/irr-img.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 60px 0px;
    position: relative;
}

@media (min-width: 768px) {
    .prize-section {
        padding: 0px 0px 140px 0px;
    }
    .mtm70 {
        margin-top: -100px !important;
    }
}

/************Depp Funnel***********/

.deep-funnel {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .deep-funnel {
        padding: 100px 0px;
    }
}

/*************reciprocate-sec**************/

.reciprocate-sec {
    background: #f3ebff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .reciprocate-sec {
        background: #ffffff url(https://cdn.oppyotest.com/launches/webgenie/jv/images/reciprocate-sec.webp) no-repeat bottom center;
        background-size: cover;
        padding: 100px 0px;
        background-attachment: fixed;
    }
}

/*****************Contact Section**********/

.contact-section {
    background: #701ce3 url(../images/contatc-bg.webp) center center no-repeat;
    background-size: cover;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .contact-section {
        padding: 70px 0px;
    }
}

/*************Term & Condition***************/

.terms-section {
    padding: 30px 0px 10px 0px;
    background: #ffffff;
}

.b-tick1 li {
    padding: 0 0 20px 0px;
}

@media (min-width: 768px) {
    .terms-section {
        padding: 70px 0px 50px 0px;
    }
}

/**************Footer Section***********/

.footer-section {
    background: #100f12;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


.yellow-head{
    background: url(https://cdn.oppyotest.com/launches/webgenie/jv/images/yellow-heading.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 5px 25px;
}
.head-yellow {
    display: inline-block;
    background: url(../images/yellow-heading.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 30px;
}
@media (min-width: 768px){
.head-yellow {
    padding: 10px 50px;
}
}
