body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
    overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}


/* Header Section CSS */

.header-section {
    background-color: #fff;
    padding: 5% 0;
}

.orange-clr {
	color: #f6841f;
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.footer-section {
    background: #05071A;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

a.blue-clr {
    color: #6e44ff;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

.lightred {
    color: #f6841f;
}

a.lightred {
    color: #f6841f;
}

.footer-ul li a:hover {
    color: #fff;
}