/* Support Section */
.support-section {
    padding: 30px 0px;
    background: #f5f5f5;
}
.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}
.margin-t-60 {
    margin-top: -40px;
}
@media (max-width: 767px) {
    .boxborder {
        padding: 20px;
    }
}
@media (min-width:767px) {
    .support-section {
        padding: 0px 0px 80px 0px;
        background: url(../images/support-bg.webp) no-repeat center center;;
        background-size: cover;
    }
    .boxbg {
        height: 280px;
        padding: 15% 0% 20%;
    }
    .margin-t-60 {
        margin-top: -60px;
    }
}
/* Support Section End */
/* Compare Table  Section */
section.comp-table ul {
    list-style: none;
    padding: 0;
}
section.comp-table ul li {
    border-left: 1px solid rgb(226 226 226);
    border-right: 1px solid rgb(226 226 226);
    height: 60px;
    line-height: 60px;
    align-items: flex-start;
    align-content: center;
    padding: 0px 25px;
    justify-content: center;
    background: #ffffff;
}
@media (min-width:768px) {
    section.comp-table ul li {
        border-left: 1px solid rgb(226 226 226);
        border-right: 1px solid rgb(226 226 226);
        height: 110px;
        line-height: 110px;
        display: flex;
        align-items: flex-start;
        align-content: center;
        padding: 0px 20px;
        justify-content: start;
    }
}
section.comp-table ul li:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    font-weight: 600;
}
section.comp-table ul li:nth-child(odd) {
    background: #f5f5f5;
}
section.comp-table .fist-row li:first-child {
    border-top-right-radius: 0px;
    border-top: 1px solid rgb(226 226 226);
}
section.comp-table .third-row li:first-child {
    border-top-left-radius: 0px;
}
section.comp-table .fist-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
section.comp-table .second-row li:first-child {
    border-top: 1px solid rgb(226 226 226);
    height: 150px;
    text-align: center;
    align-items: center;
    background: #6e44ff;
}
section.comp-table .second-row li:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
section.comp-table .third-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
section.comp-table .forth-row li:last-child,
section.comp-table .fifth-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
section.comp-table .second-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    height: 50px;
}
section.comp-table .second-row {
    margin-top: -50px;
}
section.comp-table .second-row ul li {
    background: #182d5a;
}
section.comp-table .second-row ul li:nth-child(odd) {
    background: #1e3870;
}
section.comp-table .third-row li:first-child {
    align-items: center;
    border-top: 1px solid rgb(226 226 226);
}
section.comp-table .second-row ul li,
section.comp-table .third-row ul li,
section.comp-table .forth-row ul li,
section.comp-table .fifth-row ul li {
    justify-content: center;
    text-align: center;
}
@media (max-width:767px) {
    section.comp-table ul li {
        height: 100px;
        line-height: 22px;
        padding: 15px;
    }
    section.comp-table .second-row li:first-child svg {
        transform: rotate(90deg);
        height: 30px!important;
    }
    section.comp-table .third-row li:first-child span,
    section.comp-table .forth-row li:first-child span,
    section.comp-table .fifth-row li:first-child span {
        transform: rotate(90deg);
    }
    section.comp-table .second-row li:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
section.comp-table .second-row li:first-child {
    justify-content: center;
}
section.comp-table .third-row li:first-child {
    justify-content: center;
}
@media (min-width:768px) {
    section.comp-table ul li {
        align-items: center;
        justify-content: start;
        line-height: normal;
        flex-wrap: wrap;
    }
}
section.comp-table ul li span {
    padding-right: 10px;
    display: contents;
}
@media (max-width:767px) {
    section.comp-table .fist-row li:first-child,
    section.comp-table .third-row li:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.comp-table .second-row li:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    section.comp-table .second-row li:first-child svg {
        max-height: 22px!important;
        height: 30px!important;
    }
    section.comp-table ul li {
        height: 180px;
        line-height: 22px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
.comparetable-section {
    padding: 30px 0px;
    background: #ffffff;
}
@media (min-width: 768px) {
    .comparetable-section {
        padding: 100px 0px;
        background:transparent url(https://cdn.oppyo.com/launches/yodrive/special/compare-bg.webp) center center no-repeat;
        background-attachment: fixed;
    }
}
/* Compare Table Section End */
/* Targeted CSS */
.look-shape {
    border-radius: 20px;
    padding: 20px 15px;
    color: #ffffff;
    width: 100%;
    float: left;
    background-color: #6e44ff;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}
/* Targeted CSS End*/
/* Bonus Section */
.bonus-section {
    background: #efedf7 url(../images/bonus-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.bonus-section-shape {
    position: relative;
    border-radius: 10px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    height: 100%;
}
.bonus-headline {
    background: #f6841f;
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}
.bonus-gradient {
    background: #f6841f;
    display: inline-block;
    padding: 30px 30px 15px 30px;
    border-radius: 0px 0px 30px 30px;
}
.bonus-title{
    background: url(https://cdn.oppyo.com/launches/yodrive/special/bonus-shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding:15px;
    text-align: center;
}
@media (min-width: 768px) {
    .bonus-title{
        padding: 25px;
        background-size: contain;
    }
    .bonus-section {
        padding: 100px 0px;
    }
    .bonus-section-shape {
        padding: 20px;
    }
    .f-md-100 {
        font-size: 100px;
    }
    .lh240 {
        line-height: 240%;
    }
}
/* Bonus Section End */
.license-section {
    background: #000138 url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding:30px 0px 100px 0px;
}
.amazing-sound{padding: 30px 0px;}
@media (min-width:768px) {
    .license-section {
        padding:100px 0px 120px 0px;
    }
    .amazing-sound{padding: 100px 0px;}
}
.noneed-section {
    background-color: #f5f5f5;
    padding: 30px 0px;
}
@media (min-width: 768px) {
    .noneed-section {
        padding: 50px 0px 100px 0px;
    }
}
.noneed-list li {
    list-style: none;
    background: url(../images/fav.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 25px 40px;
}
.noneed-list li:last-child{
	padding-bottom:0px;
}
.noneed-list li.happy {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/yodrive/special/happy-emoji.webp) no-repeat !important;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}
.riskfree-section {
    background: #182d5a;
    padding: 30px 0px;
}
@media (min-width: 768px) {
    .riskfree-section {
        padding: 100px 0px 140px;
        background: #000138 url(../images/riskfree-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
}
/* Table Section */
.table-section {
    background: #ffffff;
    padding: 30px 0px;
    color: #000000;
}
.table-wrap {
    width: 100%;
    float: left;
    overflow: hidden;
    border-width: 1px;
    border-color: rgb(216, 216, 225);
    border-style: solid;
    border-radius: 30px;
    background-color: #fff;
}
.table-head {
    padding: 50px 30px 30px 30px;
}
@media (min-width: 768px) {
    .table-head {
        padding: 50px 30px 30px 30px;
    }
}
.table-btn {
    padding: 30px 20px;
    text-align: center;
}
.table-wrap1 {
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 40px;
    background-color: transparent;
    box-shadow: 0px 0px 28px 7px rgba(0, 0, 0, 0.2);
}
.table-head1 {
    padding: 50px 30px 30px 30px;
    text-align: center;
}
@media (min-width: 768px) {
    .table-head1 {
        padding: 50px 30px 30px 30px;
        text-align: center;
    }
}
.table-list li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    background-image: url(../images/fav.webp);
    background-position: 20px 20px, bottom center;
    background-repeat: no-repeat, no-repeat;
}
.table-list li.cross-sign {
    background-image: url(https://cdn.oppyo.com/launches/yodrive/special/launch-cross.webp), url(https://cdn.oppyo.com/launches/yodrive/special/table-sep-line.webp) !important;
    background-position: 20px 18px, bottom center !important;
    background-repeat: no-repeat, no-repeat;
}
.personal-shape {
    background-color: #182d5a;
    display: inline-block;
    padding: 12px 50px;
    border-radius: 65px;
    text-transform: uppercase;
}
.commercial-shape {
    background-color: #f6841f;
    display: inline-block;
    padding: 12px 75px;
    border-radius: 65px;
    text-transform: uppercase;
    position: relative;
}
.commercial-shape:before {
    position: absolute;
    left: -8px;
    top: -6px;
    z-index: 9;
    content: '';
    background: url(https://cdn.oppyo.com/launches/yodrive/special/money-icon.webp) no-repeat;
    width: 89px;
    height: 79px;
    background-size: 100% 100%;
}
@media (min-width: 768px) {
    .table-list li {
        padding: 15px 15px 15px 57px;
    }
}
.table-list li.headline {
    background: #1a2d64 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.table-list li:last-child {
    border-bottom: none;
}
.table-list1 li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
    background-image: url(../images/fav.webp);
    background-position: 20px 20px, bottom center;
    background-repeat: no-repeat, no-repeat;
}
.table-list1 li.headline {
    background: #fdbe39 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #000000;
}
.table-list1 li:last-child {
    border-bottom: none;
}
@media (min-width:768px) {
    .table-section {
        padding: 70px 0px 70px 0px;
        background: transparent url(https://cdn.oppyo.com/launches/yodrive/special/compare-bg.webp) center center no-repeat;
        background-attachment: fixed;
}
    .table-list1 li {
        padding: 15px 100px 15px 75px;
    }
}
/* Table Section End*/
.awesome-section {
    padding: 30px 0px;
    background: #f5f5f5;
    background-size: cover;
}
@media (min-width: 768px) {
    .awesome-section {
        padding: 100px 0px;
    }
}
.faq-section {
    padding: 30px 0px;
    background-color: #fff;
}
.faq-list {
    background: url(https://cdn.oppyo.com/launches/yodrive/special/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 22px;
}
@media (min-width: 768px) {
    .faq-section {
        padding: 100px 0px;
    }
}
.footer-section {
    background: #05071A;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}
@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}
/* cta  */
.cta-section-new {
    background: #05071A url(../images/cta-section-bg.webp) no-repeat top left;
    padding: 30px 0;
}
@media (min-width:768px) {
    .cta-section-new {
        padding: 80px 0;
    }
}
.final-section {
    padding: 30px 0;
    background: #030f28;
}
.final-shape {
    background-color: #f6841f;
    padding: 10px 20px;
    display: inline-block;
    line-height: 30px;
    border-radius: 65px;
}
.white-section{
    padding: 30px 0px;
}
@media (min-width: 768px) {
    .white-section{
        padding: 100px 0px;
    }
    .final-section {
        padding: 100px 0;
    }
    .final-shape {
        padding: 15px 40px 15px 40px;
        line-height: 100%;
    }}
.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}
img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}
.table-list li:nth-child(odd) {
    background-color: #f5f5f5;
}
.table-list li:nth-child(even){
    background-color: #ffffff;
}
.table-list1 li:nth-child(odd){
    background-color:transparent;
}

.boxborder-rb {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.boxborder-rb {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.boxborder-b {
    border-bottom: 1px solid #000;
}

.boxborder-r {
    border-right: 1px solid #000;
}

@media (max-width: 767px) {
    .boxborder {
        border: 1px solid #000;
        border-top: 0px;
        padding: 20px;
    }
    .top-first,
    .first-top-border {
        border: 1px solid #000;
    }
}

@media (min-width:767px) {
    .support-section {
        padding: 100px 0px 130px;
    }
    .boxbg {
        height: 280px;
        padding: 15% 0% 20%;
    }
    .boxbg {
        height: 280px;
        padding: 15% 0% 20%;
    }
}