html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}
html::-webkit-scrollbar {
    width: 10px; 
 }
html::-webkit-scrollbar-track {
  background-color: #eee;
}
html::-webkit-scrollbar-thumb {
  background: #00aaff;
  border-radius: 25px;
}
.yellow-clr {
    color: #FFCD00;
}
.white-clr {
    color: #ffffff;
}
.blue-clr {
    color: #00aaff;
}
.probtn1 a {
    border-radius: 8px;
    background-image: -moz-linear-gradient(105.18deg, #FDC12A -5.51%, #F15241 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #FDC12A -5.51%, #F15241 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #FDC12A -5.51%, #F15241 107.29%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
}
.warning-section{
    background-color: #00aaff;
    padding: 20px 0px;
}
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
.presenting-head {
    background: #001246;
    border-radius: 40px;
    padding: 5px 30px;
    display: inline-block;
    font-family: 'Caveat';
}
.table-border-content {
    background: #fff;
    border: 3px dashed #999;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: auto;
    padding: 0px 0px 10px 0px;
}
.tb-check {
    background: #FEFE9B;
    padding: 20px 10px ;
}
.underline {
    border-bottom: 1px solid;
}
.red-clr {
    color: #ff0f0f;
}
.green-clr {
    color: #009900;
}
@media(min-width:768px) {
    .probtn1 a {
        font-size: 42px;
        padding: 28px 30px;
    }
    .table-border-content {
        max-width: 75%;
    }
    .offer {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        flex-direction: row;
    }
}
.probtn1 a:hover {
    background-image: -moz-linear-gradient(105.18deg, #F15241 -5.51%, #FDC12A 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #F15241 -5.51%, #FDC12A 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #F15241 -5.51%, #FDC12A 107.29%);
    text-decoration: none;
}
/* Header Section CSS */
.header-section {
    background: url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding: 30px 0px;
}
.pre-heading {
    border: 2px solid #00AAFF;
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    padding: 10px;
}

@media(min-width:768px) {
    .header-section {
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .pre-heading {
        padding: 9px 26px;
    }
    
}
.fifth-section {
	background: #f6f1ff url("../images/proudlybg.webp") no-repeat center center;
	background-size: cover;
	padding: 30px 0 30px 0px;
}

.limitless-section {
    background: #ffffff;
    padding: 2% 0 3%;
}

.feature-tick li {
    background: url(../images/tick-icon.png) no-repeat;
    padding: 20px 0px 0px 42px;
    background-position: 1px 27px;
    list-style: none;
}

.content-mbl-space {
    background: #ffffff;
    padding: 30px 0px;
}

.unfair-section {
    background: #deeaff;
    padding: 30px 0px 30px 0px;
}

@media(min-width:768px) {
    .unfair-section {
        background: #deeaff url(../images/orange-section-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        padding: 100px 0px;
    }
    .fifth-section {
        padding: 80px 0 100px 0px;
    }
}
.second-section {
    padding: 5% 0;
}

.date-section-bg {
    background: url(../images/date-bg-image.png) no-repeat center center;
    background-size: contain;
}

.xstext-center {
    text-align: center;
}

.formbg {
    padding: 20px;
}

@media(min-width:768px) {
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
    /* .line-center { */
    /* transform: skew(20deg); */
    /* } */
}

.formbg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.form-control.input-field {
    border-width: 1px;
    border-color: rgb(164, 164, 164);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 12px;
}

::-webkit-input-placeholder {
    color: #797979 !important;
}

::-moz-placeholder {
    color: #797979 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

:-moz-placeholder {
    color: #797979 !important;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 5px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 13px 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 0;
    outline: none;
}

.xscenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pre-box {
    border-radius: 10px;
    padding: 5%;
}

.af-box {
    padding: 8% 3%;
}

.pl-shape,
.l-shape,
.af-shape,
.af-dots {
    display: none;
}

@media(min-width:768px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .form-control.input-field {
        height: 58px;
    }
    .pre-box {
        border-radius: 50px;
        padding: 3% 0;
    }
    .af-box {
        padding: 5%;
    }
    .pfbox {
        height: 185px;
    }
    .pl-shape,
    .l-shape,
    .af-shape,
    .af-dots {
        display: block;
        position: relative;
        z-index: 1;
    }
    .pl-shape img {
        position: absolute;
        top: -18px;
        right: 18px;
        z-index: 1;
    }
    .l-shape img {
        position: absolute;
        bottom: -65px;
        left: 25px;
        z-index: 1;
    }
    .af-shape img {
        position: absolute;
        bottom: -44px;
        right: 35px;
        z-index: 1;
        height: 160px;
    }
    .af-dots img {
        position: absolute;
        top: -10px;
        left: 60px;
        z-index: 1;
    }
}

.form-shape {
    position: relative;
    z-index: 1;
}

.form-shape img {
    position: absolute;
    top: -40px;
    left: -41px;
    z-index: -1;
}

.relative {
    position: relative;
}

.third-section {    
    padding: 30px 0;
	background:#deeaff;
}

@media (min-width: 768px) {
    .third-section {
	padding: 100px 0;
	background: url(../images/get-unfair-advantage-bg.png);
	background-position: center center;
    }
}

.pre-box {
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.h-line {
    background-color: rgb(206, 212, 216);
    height: 2px;
    width: 100%;
}

.pl-tick li {
    background: url("../images/pl-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.l-tick li {
    background: url("../images/l-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.xs-max-height165 {
    max-height: 165px;
}

@media(max-width:767px) {
    .limitless-section {
        background: #ffffff;
        padding: 2% 0;
    }
    .content-mbl-space {
        background: #ffffff;
        padding: 30px 0px;
    }
    .plxs0 {
        padding-left: 0;
    }
}

@media(min-width:767px) {
    .xs-max-height165 {
        max-height: 100%;
    }
}

.fourth-section {
    background: #fff;
    padding: 0;
}

.af-box {
    border-radius: 25px;
    background-color: rgb(239, 243, 246);
}

.pfbox {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
    padding: 30px 20px;
}

.af-btn a {
    border-radius: 30px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 10px 10px;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.leader-ul li a,
.leader-ul li a:hover,
.leader-ul li a:focus {
    text-decoration: none;
}

.sixth-section {
    background: #eff3f6 url("../images/wave-dots.png") no-repeat center center;
    background-size: cover;
    padding: 3% 0 5%;
}

.seventh-section1 {
    background: #eff3f6;
    padding: 3% 0 5%;
}

a.alink,
a.alink:hover,
a.alink:focus {
    text-decoration: none;
    color: #5c6ac4;
}

.seventh-section {
    background: url("../images/dot-shape.png") no-repeat center center;
    padding: 5% 0;
}

.lightcolor {
    color: #deff00;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.feature-section {
    background: #fff url(../images/feature-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section {
    background: #eff3f6 url(../images/software-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section img {
    max-height: 141px;
}

.leaderboard-section {
    background: #eff3f6 url(../images/leaderboard-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.contact-section {
    background: #fff url(../images/contact-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.prize-section {
    background: #22103b;
    background-size: cover;
    padding: 4% 0;
}

.funnel-section {
    background: #eff3f6 url(../images/funnel-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.theme-clr {
    color: #224cb0;
}

.clear {
    clear: both;
}

.white-section {
    background: #f9f9f9;
    padding: 30px 0;
}

.feature-18 {
    padding: 30px 0;
    background: #200664;
}

.vendor-section {
    background: #fff url(../images/dots.png) no-repeat right center;
    padding: 4% 0;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}
@media(min-width:768px) {
    .footer-section {
        padding: 45px 0px 50px;
    }

}

/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    border: 1px solid #074281;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    border: 1px solid #e7e7e7;
    width: 100%;
    float: left;
    background: #272f63;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(../images/vgreytick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 28px;
    line-height: 150%;
    border-bottom: 1px solid #e7e7e7;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px 15px 10px;
}

ul.grey-tick-last li {
    background: url(../images/grey-tick-last.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 28px;
    line-height: 150%;
    border-bottom: 1px solid #090e2d;
    color: #ffffff;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

ul.vgreentick li {
    background: #ffffff url(../images/vgreentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 25px;
    line-height: 150%;
    color: #000;
}

.tbbg2-text {
    color: #fff;
}

.tbbg2 {
    background: #074281;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tbbg3 {
    background: url(../images/plan2.png) no-repeat center top;
    padding: 30px 15px 57px;
    background-size: 100% 100%;
}

.bought-text {
    background: #ffeb09;
    padding: 8px 10px;
}

.lightcolor {
    color: #eaab26;
}

@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
    ul.grey-tick-last li {
        padding: 20px 10px 20px 40px;
    }
    .mt-sm-170 {
        margin-top: 170px
    }
    .mt-sm-90 {
        margin-top: 90px
    }
    .probtn a {
    font-size: 42px;
    padding: 28px 30px;
    }
    .probtn1 a {
    font-size: 42px;
    padding: 28px 30px;
    }
}

.buypad {
    padding: 4% 3%;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}

.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #f9f9f9;
    border-radius: 0px 0px 15px 15px;
}

.ribbonimg {
    position: absolute;
    top: 100px;
    right: 0px;
    height: 50px;
}

.xs-height125 {
    height: 125px;
}

.xs-height50 {
    height: 55px;
}

.ribbonimg {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 90px;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #240f75;
}

.option-tick li {
    background: url(../images/vgreytick.png) no-repeat;
    background-position: 0 6px;
    list-style: none;
    padding: 0 0 20px 30px;
}

@media(min-width:768px) {
    .highlihgt-heading {
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
    }
    .rotate-5 {
        transform: skew(7deg);
    }
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    }
}


/*Table CSS Enad*/

.grey-section {
    background:#deeaff;
    padding: 30px 0;
}

.moneyback-section {
        background: #100370 url(../images/moneyback-bg.webp) no-repeat top center;
        background-size: cover;
    padding: 60px 0 30px 0px;
    color: #ffffff;
}

.license-section {
    background: #fae4c9 url(../images/proudlybg.webp) no-repeat center center;
    background-size: cover;
    padding: 5% 0;
}

.bonus-section {
    background: #deeaff;
    background-size: cover;
    padding: 30px 0;
}

.table-section {
    background: #f9f9f9;
    padding:30px 0px;
}

@media (min-width:768px) {
    .table-section {
        padding: 100px 0;
    }
    .bonus-section {
        background:#deeaff url(../images/bonus-bg.png) no-repeat;
        background-position: center bottom;
        padding:100px 0px;
    }
    .moneyback-section {
        padding: 100px 0 100px 0px;
        color: #ffffff;
    }
    .license-section {
        background: #fae4c9 url(../images/proudlybg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
    .mt-sm240 {
        margin-top: 240px;
    }
    .mt-sm0 {
        margin-top: 0px !important;
    }
}


.bonus-count {
    background: #5c6ac4;
    display: inline-block;
    padding: 10px 29px;
    border-radius: 15px;
}

.grey-clr {
    color: #d6d6d6;
}

.promo-icon {
    position: absolute;
    left: 15px;
    top: -20px;
    display: none;
}

.promo-icon1 {
    position: absolute;
    left: 15px;
    top: -20px;
    display: block;
}
.kapblue,a.kapblue {
    color: #150de1;
	text-decoration:none;
}

/*-------- Responsive ------------*/

@media (min-width:768px) {
    .promo-icon1 {
        position: absolute;
        left: 0px;
        top: -20px;
        display: block;
    }
    .promo-icon {
        position: absolute;
        left: 0px;
        top: -60px;
        display: block;
    }
    .white-section {
        padding: 100px 0;
        background:#f9f9f9 url(../images/white-section-bg.png) no-repeat;
        background-position: center center;
    }
    .feature-18 {
        padding: 100px 0 130px;
        background: #ffffff url(../images/feature18-bg.png) no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .grey-section {
        background:#deeaff url(../images/orange-section-bg.png) no-repeat;
        background-position: center center;
        padding: 100px 0;
    }
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

.black-design {
	background: #240f75;
	padding: 15px 30px;
	-webkit-transform:skew(-200deg);
	-moz-transform:skew(-200deg);
	transform:skew(-200deg);
	display:inline-block
}
.black-design .skew-normal{
	-webkit-transform:skew(200deg);
	-moz-transform:skew(200deg);
	transform:skew(200deg);
}
@media (min-width: 768px) {
    .black-design {
         padding:15px 60px;
    }
}

.red-clr,
a.red-clr {
    color: #ff3c00;
}

.second-sec {
    padding: 5% 0;
    background: url(../images/white-section-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.proudly-sec {
    background: #10a6f8;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}
@media(min-width:768px){
    .proudly-sec {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
}