
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 14px;
}
.black-clr {
    color: #000000;
}
.white-clr {
    color: #fff;
}
.lightblue-clr{
    color: #459EFF;
}
.blue-head {
    color: #0041b5;
}
.blue-gradient {
    background: #1E9AF7;
    background: linear-gradient(90deg, #1E9AF7 32.27%,#1E9AF7 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
span.under {
    border-bottom: 4px solid;
}
.under{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #1E9AF7 32.27%, #1E9AF7 74%);
    border-image-slice: 1;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header-section {
    background: #fff url(../images/header-bg.webp) center bottom no-repeat;
    background-size: cover;
    padding: 50px 0px 50px 0px;
}
.pre-heading {
    background: transparent;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 2px solid rgb(77 101 244);
}
@media (min-width: 768px) {
    .header-section {
        padding: 70px 0px 100px 0px;
    }
    .pre-heading {
        padding: 10px 35px 10px 35px;
        border-radius: 40px;
    }
}


/* Header Section CSS */


.proudly-section {
    background: #ffffff url("../images/proudlybg.webp") no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}
.f22 {
    font-size: 22px;
}
@media(min-width:768px){
    .f-md-30 {
        font-size: 30px !important;
    }
}
.but-design {
    background: url(../images/butthats-not-all.png);
    padding: 20px 40px;
    display: inline-block;
    border-top: hidden;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

.but-design .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}

@media(min-width:768px) {
    .but-design {
        padding: 40px 60px 35px 70px;
        background: url(../images/butthats-not-all.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% 100%;
        border: hidden;
        margin-bottom: 20px;
        color: #fff;
    }
    .proudly-section {
        padding: 0px 0px 50px 0px;
    }
}
.white-clr {
    color: #ffffff;
}
.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}

.popup-btn a:hover,
.popup-btn input[type="submit"]:hover,
.af-btn a:hover {
    background: #4f5db5;
}

.second-section {
    padding: 30px 0px;
    background: #fff;
}
.proudly-sec {
    background: url(../images/proudly-shape.webp) no-repeat center center;
    background-size: contain;
    padding: 27px 50px 50px 50px;
    display: inline-block;
    margin-top: -48px;
}
@media(min-width:768px) {
    .second-section {
        padding: 100px 0px 100px 0px;
        background: #fff;
        background-size: cover;
    }
    .proudly-sec {
        margin-top: -18px;
    }
}
::-webkit-input-placeholder {
    color: #797979 !important;
}

::-moz-placeholder {
    color: #797979 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

:-moz-placeholder {
    color: #797979 !important;
}

.kapblue,
a.kapblue {
    color: #0041b5;
    text-decoration: none;
    padding: 0px 0px 30px;
}

.pre-box {
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.h-line {
    background-color: rgb(206, 212, 216);
    height: 2px;
    width: 100%;
}

.pl-tick li {
    background: url("../images/pl-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.l-tick li {
    background: url("../images/l-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

html {
    scroll-behavior: smooth;
}

.leader-ul li a,
.leader-ul li a:hover,
.leader-ul li a:focus {
    text-decoration: none;
}

a.alink,
a.alink:hover,
a.alink:focus {
    text-decoration: none;
    color: #5c6ac4;
}

.lightcolor {
    color: #eaab26;
}

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 36px 55px;
}

.bonus-section {
    background: #e5eaf6;
    background-size: cover;
    padding: 30px 0;
}

.moneyback-section {
    padding: 30px 0px;
    background: #101929;
}

@media (min-width:768px) {
    .moneyback-section {
        padding: 100px 0 100px 0px;
        background: #f3f2fb url(../images/moneyback-bg.webp) no-repeat bottom center;
        background-size: cover;
    }
    .bonus-section {
        background: url(../images/bonus-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 70px 0px 100px 0px;
    }
}

.footer-section {
    background: #000000;
    padding: 30px 0;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.white-section {
    background: #fff;
    padding: 30px 0;
}

.grey-section {
    background: #e5eaf6;
    padding: 30px 0;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }

    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .white-section {
        background: url(../images/white-section-bg.png) no-repeat;
        padding: 100px 0px 100px;
        background-position: center center;
    }
    .grey-section {
        padding: 100px 0px;
    }
}

.probtn1 a {
    background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}

.probtn1 a::before{
    position: absolute;
    width: 100%;
    height: 44px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}

.probtn1 a:hover {
    transition: all .3s ease;
    background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}

@media (min-width: 768px) {
    .probtn1 a {
        padding: 30px 45px;
        font-size: 32px;
    }
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
    position: relative;
    height: 100%;
}

ul.grey-tick-last li {
    background: url(../images/launch-tick-blue.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    color: #000;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #e5eaf6;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #fff;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

.tbbg3 {
    background: linear-gradient(180deg, #001233 0%, #173a7a 100%);
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}

@media (min-width: 768px) {
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
}

.buypad {
    padding: 4% 3%;
}

.myfeatureslast {
    float: left;
    padding: 0px 30px 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.myfeatureslast-com {
    float: left;
    padding: 0px 30px 30px 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}

@media(min-width:768px) {
    .myfeatureslast {
        padding: 0px 20px 30px;
    }
}

/*Table CSS Enad*/

a.link {
    color: #337ab7;
}

.blue-head {
    color: #0041b5;
}


.table-section {
    background: #ffffff;
    padding: 30px 0;
}

@media(min-width:768px){
    .table-section {
        padding: 70px 0 40px 0px;
        background: url(../images/table-bg.webp) no-repeat center center;
        background-size: cover;
    }
}

.footer-ul li:hover a {
    color: #fff;
}

@media (max-width:767px) {
    .tablebox3:before {
        content: '';
        position: absolute;
        background: url(../images/most-popular.png) no-repeat;
        min-height: 120px;
        min-width: 120px;
        left: 0px;
        top: 0px;
        background-size: contain;
    }
}

.proudly-tick li {
    background: url(../images/tick.png) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 30px;
}

span.under {
    border-bottom: 4px solid;
}

.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}

.button-shape {
    position: relative;
    background: #e50604;
    padding: 15px 20px;
    color: #fff;
    margin: -10px 10px 10px -10px;
    border-radius: 10px;
}
.but-design-border {
    border: solid 1px #0f0f0f;
    position: relative;
    display: inline-flex;
    border-radius: 10px;
}
@media(min-width:768px){
    .button-shape {
        padding: 15px 30px;
    }
}

.warning-section {
    background-color: rgb(77 101 244);
    padding: 20px 0px;
}
.lg30 {
    font-size: 30px;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
@media (min-width: 768px) {
    .offer {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        flex-direction: row;
    }
}