/* Compare Table */
section.table-section ul {
	list-style: none;
	padding: 0;
}

section.table-section ul li {
	border-left: 1px solid rgb(226 226 226);
	border-right: 1px solid rgb(226 226 226);
	height: 60px;
	line-height: 60px;
	align-items: flex-start;
	align-content: center;
	padding: 0px 25px;
	justify-content: center;
}

@media (min-width:768px) {
	section.table-section ul li {
		border-left: 1px solid rgb(226 226 226);
		border-right: 1px solid rgb(226 226 226);
		height: 60px;
		line-height: 60px;
		display: flex;
		align-items: flex-start;
		align-content: center;
		padding: 0px 25px;
		justify-content: start;
	}
}

section.table-section ul li:first-child {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 100px;
	font-weight: 600;
}

section.table-section ul li:nth-child(odd) {
	background: #f5f7fc;
}

section.table-section .fist-row li:first-child {
	border-top-right-radius: 0px;
	border-top: 1px solid rgb(226 226 226);
}

section.table-section .fist-row li {
	justify-content: start;
}

section.table-section .third-row li:first-child,
section.table-section .forth-row li:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

section.table-section .fifth-row li:first-child {
	border-top-left-radius: 0px;
}

section.table-section .fist-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-left-radius: 20px;
}

section.table-section .second-row li:first-child {
	border-top: 1px solid rgb(226 226 226);
	height: 150px;
	text-align: center;
	align-items: center;
	background: #200d68;
}

section.table-section .third-row li:last-child,
section.table-section .forth-row li:last-child,
section.table-section .third-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-right-radius: 0px;
}

section.table-section .fifth-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
	border-bottom-right-radius: 20px;
}

section.table-section .second-row li:last-child {
	border-bottom: 1px solid rgb(226 226 226);
}

section.table-section .second-row {
	margin-top: -50px;
}

section.table-section .second-row ul li {
	background: #0043c9;
}

section.table-section .second-row ul li:nth-child(odd) {
	background: #0a52e2;
}

section.table-section .third-row li:first-child {
	align-items: center;
	border-top: 1px solid rgb(226 226 226);
}

@media (max-width:767px) {
	section.table-section ul li {
		height: 100px;
		line-height: 22px;
		padding: 15px;
	}

	section.table-section .second-row li:first-child svg {
		transform: rotate(90deg);
		height: 30px !important;
	}

	section.table-section .second-row li:first-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

section.table-section .second-row li:first-child {
	justify-content: center;
}

section.table-section .third-row li:first-child {
	justify-content: center;
}

@media (min-width:768px) {
	section.table-section ul li {
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

section.table-section ul li span {
	padding-right: 10px;
}

@media (max-width:767px) {
	section.table-section .fist-row li:first-child {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	section.table-section .second-row li:first-child {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
	}

	section.table-section .third-row li:first-child,
	section.table-section .forth-row li:first-child,
	section.table-section .fifth-row li:first-child {
		padding: 2px 0 !important;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	section.table-section .third-row li:first-child span,
	section.table-section .forth-row li:first-child span,
	section.table-section .fifth-row li:first-child span {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
		transform: rotate(90deg);
	}

	.table-section span {
		white-space: nowrap !important;
	}

	section.table-section .second-row li:first-child svg {
		max-height: 80px !important;
		height: 30px !important;
	}

	section.table-section ul li {
		height: 110px;
		line-height: 22px;
		padding: 10px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
		word-break: break-all;
	}
}
.table-section ul li {
    line-height: 150% !important;
}

/* Table Section */
.table-section {
	background: #ffffff;
	padding: 30px 0px;
	color: #000000;
}

.table-wrap {
	background: #ffffff;
	width: 100%;
	float: left;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.table-head {
	background: #ffffff;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}

@media (min-width: 768px) {
	.table-head {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}
}

.table-content {
	padding: 60px 20px 40px 20px;
	background: #ffffff url(https://cdn.oppyo.com/launches/jobiin/special/tablecurveone.png) no-repeat center top;
	background-size: contain;
}

.table-btn {
	padding: 30px 20px;
	text-align: center;
}

.table-wrap1 {
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 22px 0px rgba(38, 23, 70, 0.4);
	width: 100%;
	float: left;
	overflow: hidden;
}

.table-head1 {
	padding: 40px 30px 30px 30px;
	text-align: center;
	background: #0a52e2;
}

@media (min-width: 768px) {
	.table-head1 {
		padding: 80px 30px 80px 30px;
		text-align: center;
	}
}

.table-content1 {
	padding: 60px 20px 40px 20px;
	background: #222466 url(https://cdn.oppyo.com/launches/jobiin/special/tablecurvetwo.png) no-repeat center top;
	background-size: contain;
}

.center-line {
	background: #000000;
	height: 2px;
	display: inline-block;
	width: 100px;
}

.center-line-white {
	background: #ffffff;
	height: 2px;
	display: inline-block;
	width: 100px;
}

.table-list li {
	background: url(https://cdn.oppyo.com/launches/jobiin/special/launch-tick-blue.png) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 57px;
	background-position: 20px 20px;
	line-height: 150%;
	text-transform: capitalize;
}

.table-list li.cross-sign {
	background: url(https://cdn.oppyo.com/launches/jobiin/special/launch-cross.png) no-repeat !important;
	background-position: 20px 20px !important;
}

.table-list li:nth-child(odd) {
	background-color: #f5f7fc !important;
}

.table-list li:nth-child(even) {
	background-color: #ffffff;
}

@media (min-width: 768px) {
	.table-list li {
		padding: 20px 15px 20px 57px;
	}
}

.table-list li.headline {
	background: rgb(9, 20, 120) !important;
	background: -moz-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
	background: -webkit-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
	background: linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1) !important;
	padding: 26px 0px 20px 0px;
	background-position: 0px 18px;
	list-style: none;
	margin: 0px;
	border-bottom: none !important;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}

.table-list li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}

.table-list1 li {
	background: url(https://cdn.oppyo.com/launches/jobiin/special/table-tick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 57px;
	background-position: 20px 20px;
	line-height: 150%;
	text-transform: capitalize;
	list-style: none;
	margin: 0px;
}

.table-list1 li.headline {
	background: #ffb80f !important;
	padding: 22px 0px 16px 0px;
	background-position: 0px 18px;
	list-style: none;
	margin: 0px;
	border-bottom: none !important;
	font-weight: 700;
	text-align: center;
	color: #000000;
}

.table-list1 li:last-child {
	border-bottom: none;
}

.table-list1 li:nth-child(odd) {
	background-color: #0043c9;
}

.table-list1 li:nth-child(even) {
	background-color: #0a52e2;
}

@media (min-width:768px) {
	.table-section {
		padding: 70px 0px 70px 0px;
	}

	.table-list1 li {
		padding: 20px 15px 20px 57px;
	}
}

/* Table Section End*/

.imagine-sec {
	background: #f5f7fc;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.imagine-sec {
		padding: 100px 0px 0px 0px;
	}
}

/* Need Marketing CSS */

.need-marketing {
	background: #ffffff;
	padding: 30px 0px;
}

.need-listing li {
	list-style: none;
	background: url(https://cdn.oppyo.com/launches/jobiin/special/ptcross.webp) no-repeat;
	background-position: 0 3px;
	padding: 0 0 25px 50px;
	min-height: 42px;
}

.need-listing li:last-child {
	padding-bottom: 0px;
}

@media (min-width: 768px) {
	.need-marketing {
		padding: 100px 0px;
	}
}

.look-shape {
	border-radius: 20px;
	padding: 20px 15px;
	color: #ffffff;
	width: 100%;
	float: left;
	background-color: #0a52e2;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
}

/* Need Marketing CSS End */

/* Bonus CSS Start*/

.bonus-section {
	background: #ffffff;
	padding: 30px 0px;
}

.margin-t-60 {
	margin-top: -40px;
}

.bonus-section-shape {
	padding: 15px;
	position: relative;
	background: #f5f7fc;
	border: solid 1px #f5f7fc;
	border-radius: 10px;
}

.bonus-headline {
	background: #0a52e2;
	padding: 16px 40px 12px 40px;
	display: inline-block;
	border-radius: 50px;
	text-align: center;
}

.but-design {
	background: #240f75;
	padding: 15px 30px;
	-webkit-transform: skew(-200deg);
	-moz-transform: skew(-200deg);
	transform: skew(-200deg);
	display: inline-block;
}

.but-design .skew-normal {
	-webkit-transform: skew(200deg);
	-moz-transform: skew(200deg);
	transform: skew(200deg);
}

@media (min-width: 768px) {
	.but-design {
		padding: 15px 60px;
	}

	.margin-t-60 {
		margin-top: -60px;
	}

	.bonus-section-shape {
		padding: 30px;
	}

	.bonus-section {
		padding: 100px 0px 50px 0px;
	}
}

.bonus-section-value {
	padding: 30px 0px;
	background: url(https://cdn.oppyo.com/launches/jobiin/special/bonus-value-bg.webp) no-repeat bottom center;
	background-size: cover;
}

@media (min-width: 768px) {
	.bonus-section-value {
		padding: 60px 0px 30px;
	}
}


/* Bonus CSS End*/

.license-section {
	background: #e6f1f9 url(https://cdn.oppyo.com/launches/jobiin/special/license-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 60px 0px;
}

@media (min-width: 768px) {
	.license-section {
		padding: 100px 0px 150px 0px;
	}
}


.noneed-section {
	padding: 30px 0px;
}

.noneed-shape {
	padding: 15px;
	position: relative;
	background: #f5f7fc;
	border-radius: 10px;
}

.noneed-listing li {
	list-style: none;
	background: url(https://cdn.oppyo.com/launches/jobiin/special/tick-icon.webp) no-repeat;
	background-position: 0 3px;
	padding: 0 0 25px 50px;
}

.noneed-listing li:last-child {
	padding-bottom: 0px;
}

@media (min-width: 768px) {
	.noneed-shape {
		padding: 30px;
	}

	.noneed-section {
		padding: 100px 0px 0px 0px;
	}
}

/* Guarantee CSS Start*/

.guarantee-section {
	padding: 30px 0px;
	background: url(https://cdn.oppyo.com/launches/jobiin/special/guarantee-section-bg.svg) no-repeat center;
	background-size: cover;
}

@media (min-width: 768px) {
	.guarantee-section {
		padding: 100px 0px;
	}
}


/* Guarantee CSS End*/


.awesome-section {
	padding: 30px 0px;
	background: #f5f7fc;
}
.awesome-section1 {
	padding: 30px 0px;
	background: #0a52e2;
}
.contact-box {
    background: #fff;
    border-radius: 20px;
    padding: 20px 10px;
	height: 100%;
}
@media (min-width: 768px) {
	.awesome-section {
		padding: 100px 0px;
	}
	.awesome-section1 {
		padding: 100px 0px;
	}
}

.faq-section {
	padding: 30px 0px;
	background-color: #ffffff;
}

.faq-list {
	background: url(https://cdn.oppyo.com/launches/jobiin/special/faq-icon.webp) no-repeat top left;
	padding: 20px 15px 20px 35px;
	background-position: 0px 22px;
}

@media (min-width: 768px) {
	.faq-section {
		padding: 100px 0px;
		background: url(https://cdn.oppyo.com/launches/jobiin/special/faq-section-bg.webp) no-repeat center center;
		background-size: cover;
	}
}

.footer-section {
	background: #000000;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.footer-section {
		padding: 70px 0px;
	}
}

.footer-ul {
	padding: 0px;
	margin: 0px;
}

.footer-ul li {
	display: inline;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

#ouibounce-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#ouibounce-modal .underlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	cursor: pointer;
	-webkit-animation: fadein .5s;
	animation: fadein .5s;
}

#ouibounce-modal .modal-wrapper {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
	-ms-flex-line-pack: center !important;
	align-content: center !important;
	width: 95%;
	position: relative;
	text-align: center;
	-webkit-animation: popin .3s;
	animation: popin .3s;
	overflow-y: hidden;
}