/* Demo Section Start */
.demo-section {
	padding: 30px 0px 60px 0px;
	background: #ffffff  url(../images/demo-bg.webp) no-repeat center center;
	background-size: cover;
}
@media (min-width: 768px) {
    .demo-section {
        padding: 100px 0px;
    }
}
/* Demo Section End */

/* Feature 1 Section Start */
.features-one {
	background: #000 url(../images/here-are-some.webp) no-repeat center center;        
	background-size:cover;
	padding: 30px 0px;
}
.featuresul li {
    list-style: none;
    background: url(../images/orange-tick.webp) no-repeat;
    background-position: 0 2px;
    padding: 0 0 20px 45px;
	min-height: 30px;
}
.featuresul li:last-child {
padding-bottom:0px;
}
@media (min-width:768px) {
    .features-one {        
		padding:100px 0px;
    }

}
/* Feature 1 Section End */

/* Feature 2 Section Start */
.features-two {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width:768px) {
    .features-two {
        padding: 100px 0px;
    }
}
/* Feature 2 Section End */

/* Feature 3 Section Start */
.features-three {
    background: #000 url(../images/here-are-some.webp) no-repeat center center;        
	background-size:cover;
    padding: 30px 0px;
}
@media (min-width:768px) {
    .features-three {
        padding: 100px 0px;
    }
}
/* Feature 3 Section End */

/* Feature 4 Section Start */
.features-four {
   background:#ffffff;
    padding: 30px 0px;
}
@media (min-width:768px) {
    .features-four {
        padding: 100px 0px;
    }
}
/* Feature 4 Section End */

/* Feature 5 Section Start */
.features-five {
    background: #f1f1f1;
    padding: 30px 0px;
}
@media (min-width:768px) {
    .features-five {
        padding: 100px 0px;
    }
}
/* Feature 5 Section End */

/* Feature 6 Section Start */
.features-six {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width:768px) {
    .features-six {
        padding: 100px 0px;
    }
}
/* Feature 6 Section End */

/* Feature 7 Section Start */
.features-seven {
    background: #000 url(../images/here-are-some.webp) no-repeat center center;        
	background-size:cover;
    padding: 30px 0px;
}
@media (min-width:768px) {
    .features-seven {
        padding: 100px 0px;
    }
}
/* Feature 7 Section End */

/* Feature 8 Section Start */
.features-eight {
    background: #f1f1f1;
    padding: 30px 0px;
}
@media (min-width:768px) {
    .features-eight {
        padding: 100px 0px;
    }
}
/* Feature 8 Section End */

/* Feature 9 Section Start */
.features-nine {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width:768px) {
    .features-nine {
        padding: 100px 0px;
    }
}
/* Feature 9 Section End */