html {
    scroll-behavior: smooth;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	overflow-x: hidden;
}
.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
.orange-clr{
	color:#ffa25b;
}
.red-clr {
    color: #ed2027;
}
.pink-clr {
    color: #fc6dab;
}
.neon-clr {
    color: #0BCDE3;
}
.red-gradient {
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
/* .gap30{
	gap:30px;
} */

.red-gradient{
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.gradient-clr {
	background: #5425F5;
	background: linear-gradient(to right, #5425F5 30%, #f53789 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.preheadline {
    background: rgba(255, 255, 255, 0.1);
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 43px;
    display: inline-block;
    padding: 10px;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.d-inline-flex {
    display: inline-flex;
}
.relative {
    position: relative;
}


/* Header Section Css Start */
.header-section {
	background: #000;
	padding: 30px 0px 30px 0px;
}
.header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}
.header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
}
.header-section ul.leader-ul li a {
	color: #ffffff;
}
.border-video {
	border-radius: 0px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.affiliate-link-btn a {
	background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    border-radius: 15px;
	text-decoration: none;
	text-align: center;
	
	padding: 5px 20px;
	font-size: 18px;
	color: #ffffff !important;
	font-weight: 600;
}

.calendar-wrap {
  padding:10px;
  width:100%;
  float:left;
  position:relative;
  overflow:hidden;
  z-index: 1;
}


.list-head {
	list-style: none;
}
.list-head li {
	background: url(../images/check-mark.webp) no-repeat;
    padding: 12px 0px 15px 40px;
    background-position: 0px 9px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.list-head li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}
.list-head li:first-child {
	padding-top: 0px;
}
.mt-md120{
    margin-top: 20px;
}
.mt-md180{
    margin-top: 20px;
}
.underline-head{
    border-bottom: 1px solid white;
}
.gametext {
    background: #f24440;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -27px;
    z-index: 99;
    line-height: 30px;
    left: -15px;

}
.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 20px 10px;
}
@media (min-width:768px) {
    .mainheadline {
    background: url(../images/top-heading-bg.webp) center center no-repeat;
    background-size: 100% 100%;
    padding: 35px 30px 40px 30px;
    left: -5px;
}
.gametext {
    background: url(../images/cutting-edge-bg.webp) center center no-repeat;
    padding: 8px 57px 20px 57px;
}
    .preheadline {
		padding: 10px 35px;
        border-radius: 45px;
	}
	.header-section {
		background: #000 url(../images/header-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 40px 0px 80px 0px;
	}
	.header-section ul.leader-ul {
		margin-top: 12px;
	}
	.affiliate-link-btn a {
		padding: 12px 25px;
		font-size: 20px;
	}
	.affiliate-link-btn a:hover {
		background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
		color: #ffffff;
	}
	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 69%;
		max-width: 69%;
	}
	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 31%;
		flex: 0 0 31%;
		max-width: 31%;
	}
    .mt-md120{
        margin-top: 120px;
    }
    .mt-md180{
        margin-top: 180px;
    }
}
/* Header Section Css End */
.second-section {
	padding: 30px 0;
    background: #fff;
}
ul.features-list {
	margin:0px;
	padding:0px;
}
ul.features-list li {
	background: url(../images/tick-icon.webp) no-repeat;
	padding: 0px 0px 20px 45px;
	background-position: 0px 3px;
	list-style:none;
}
ul.features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}
.header-list-block {
	border-radius: 20px;
	padding: 20px 0px;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	/* margin-top: -200px; */
	background:url(https://cdn.oppyo.com/launches/viddeyo/jv/awesome-shape.png) no-repeat center center;
	background-size:cover;
	
}
.feature-list {
    background: url(../images/check-mark.webp) no-repeat;
    background-position: 0px 4px;
    padding: 0px 0px 20px 50px;
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #ccc;
}
.faster-sec {
    padding: 30px 0px;
    background: #F1F1F1;
}
.single-testimonial {
    background-color: #eaf3f8;
    text-align: center;
    position: relative;
    z-index: 2;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    padding: 20px 10px;
}
.fa-star:before {
    content: "\f005";
}
.st-img {
    display: inline-block;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
}
.stars a i {
    font-size: 20px;
}
.stars a {
    padding-right: 8px;
    color: #FFC635;
}
.trigger-block {
    background: #FFFFFF;
    padding: 10px 20px;
    border: 5px solid #EF3E3A;
    border-radius: 20px;
    display: inline-block;
    outline: 7px solid #fff;
}
.trigger-block-1 {
    background: #FFFFFF;
    padding: 10px 20px;
    border: 5px solid #EF3E3A;
    border-radius: 20px;
    display: inline-block;
    outline: 7px solid #fff;
}
.hi-their {
    padding: 30px 0px;
    background-color: #f1f1f1 ;
    background-size: cover;
}
.white-section{
	padding: 30px 0px ;
}
@media (min-width:768px) {
    .single-testimonial {
        border-radius: 30px;
        padding: 50px;
        height: 100%;
    }
	.white-section{
		padding: 100px 0px 100px 0px;
	}
	.faster-sec {
		padding: 100px 0px;
	}
    .st-img {
        display: inline-block;
        margin-top: -150px;
        background: #fff;
        border-radius: 100%;
        padding: 5px;
        box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
    }
	.trigger-block {
		padding: 10px 40px;
        border-radius: 100px;
	}
    .trigger-block-1 {
		padding: 10px 40px;
        border-radius: 100px;
	}
	.hi-their {
		padding: 100px 0px;
	}
    .second-section {
        padding: 100px 0px;
	}
	.header-list-block {
    border-radius: 20px;
    padding: 40px 20px;   
}
}

/* CTA Button Start */
a.cta-link-btn {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 5px;
	color: #ffffff;
	font-weight: 600;
	font-size: 24px;
	line-height: normal;
	white-space: normal;
	align-items: center;
	background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    border-radius: 55px;
	transition: all 0.5s;
}
a.cta-link-btn:hover {
	background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
	color: #ffffff;
	text-decoration: none;
	transform: scale(1.1);
	transition: all 0.5s;
}
@media (min-width: 768px) {
    a.cta-link-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
}
/* CTA Button End*/




/* Step Section Start */
.step-section {
    padding: 30px 0px;
    background:#fff;
}

.steps-block {
	position: relative;
	height:100%;
	padding:20px 30px 20px 30px;
	border-width: 2px;
	border-color: #ffd9d9;
	border-style: solid;
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	text-align:center;
}
.steps-block.purple {
  background-color: #ffd9d9;
  box-shadow: 0px 0px 14.76px 3.24px rgba(79, 79, 79, 0.1);
}
.step-bg{
	border-radius: 100%;
	background-color: rgb(252, 109, 171);
	width: 50px;
	height: 50px;
	font-size:28px;
	font-weight:600;
	line-height:50px;
	text-align:center;
	color:#ffffff;
	display:inline-block;
	top:-25px;
	position:relative;
}

.animate-charcter {
    background-image: linear-gradient( -225deg, #ffffff  0%, #ff0505 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}
.animate-charcter1 {
    background-image: linear-gradient( -225deg, #1417e1  0%, #ff0505 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}
.gap31{
	gap:30px
}
.no-comparison {
    padding: 30px 0px;
}
@keyframes textclip {
    0% {
        background-position: 200% center;
    }
}
@media (min-width: 768px) {
    .step-section {
        padding: 100px 0px;
    }
	.no-comparison {
		padding: 100px 0px;
		background-color: #f1f1f1;
		background-size: cover;
	}
}


/* Step Section End */

/* Loading Section Start */
.loading-section {
    background: #000 url(../images/here-are-some.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
@media (min-width: 768px) {
.loading-section {
    padding: 80px 0px;
}	
}
/* Loading Section End */

/* proof Section Start */
.proof-section {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width: 768px) {
.proof-section {
    padding: 80px 0px;
}	
}
/* proof Section End */


/* Team Section Sart */

.new-dcp-team-section {
    background: #ffffff;
    padding:30px 0px 30px 0px;
}

.awesome-shape {
    padding: 0px 15px 15px 15px;
    background: #ebe1f3;
    width: 100%;
    float: left;
    box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 6%);
    border-radius: 20px;
	top:-200px;
	position:relative;
}
.heading-design {
    padding: 12px 15px;
    display: inline-block;
    background: #ee5252;
    border-radius: 15px;
}
@media (min-width: 768px) {
    .new-dcp-team-section {
        padding:70px 0px 100px 0px;
    }
    .heading-design {
        padding: 0px 40px;
        display: inline-block;
        background: url(../images/lets-face-it-bg.png) no-repeat;
        border-radius: 0px;
    }
	.awesome-shape {
    padding: 0px 50px 50px 50px;
    background: url(../images/awesome-shape.webp) no-repeat;
    background-size: 100% 100%;
    background-position: center;	
}
}
/* Team Section End */

.yellow-shape-bg {
    margin-left: auto;
    margin-right: auto;
    background-color: #d8f67e;
    border-radius: 10px;
    padding: 10px 25px;
    display: inline-block;
}
.thatsnotall-section{
    background-color: #fff;
    padding: 30px 0px;
}
.pink-clr{
    color: #ff0144;
}
@media (min-width: 768px) {
    .thatsnotall-section{
        /* background: url(../images/more-features.webp) no-repeat center center; */
        padding: 80px 0px;
        background-size: cover;
    }
    .thats-shape {
        padding: 15px;
        border-radius: 10px;
        background-color: rgb(242, 239, 249);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }}

    .mandatory-section{
        background: #fff;
        padding: 30px 0px;
    }
    .huge-bg{
        display: inline-block;
        background-color: white;
        padding: 8px 25px;
        border-radius: 15px;
    }
    .amt-bg{
        border: 1px white solid;
        border: 1px solid #484848;
        border-radius: 15px;
        padding: 15px 20px;
        display: inline-block;
    }
    @media (min-width: 768px) {
        .mandatory-section{
            background: url(../images/mandatory-bg.png) no-repeat center center;
            background-size: cover;
            padding: 80px 0px;
        }
        .thatsall-section {
            padding:0px 0px 100px 0px;
        }
        .arrow1 {
            position: absolute;
            top: 33%;
            left: 11px;
        }
        .text-element {
            padding: 8px 45px;
        }
        .huge-bg{
            display: inline-block;
            background-color: white;
            padding: 8px 25px;
            border-radius: 15px;
            position: relative;
           
        }
        .amt-bg{
            display: inline-block;
            border: 1px white solid;
            border: 1px solid #484848;
            border-radius: 20px;
            padding: 25px 20px 25px 20px;
        }}


/* Thatsall Section Start */
.compact-section {
	padding:30px 0px;
	background:#f4f3f9 url(../images/second-section.webp) no-repeat center center;
	background-size: cover;
}
.compact-section .box{
  background:#ffffff;
  float:left;
  position:relative;
  padding:15px;
  width:100%;
  text-align:center;
  box-shadow: 0px 0px 25px 0px rgb(12 11 17 / 15%);
  height:100%;
}
.compact-section .box .title{
	position:relative;
	text-align:center;
	margin-bottom:20px;
	font-weight:600;
	font-size:22px;
}
.compact-section .box .title:before{
	content: '';
	position: absolute;
	right: 20px;
	top: 61%;
	background: url(../images/arrow-down.webp) no-repeat center center;
	width: 64px;
	height: 95px;
}
@media (min-width: 768px) {
    .compact-section {
        padding:100px 0px;
    }
	.compact-section .box .title{
		font-size:24px;
	}
	.gx-6 {
    --bs-gutter-x: 5rem;
	}
}

/* Compact Section End */

/* Problem there Section Start */
.problem-bg-section {
	background: #ececec;
	padding: 30px 0px;
}
.problem-bg-section1 {
	background: #fff;
	padding: 30px 0px;
}
.problem-bg-section2 {	
	padding: 30px 0px;
	background: #ececec;
}
.converting-shape1 {
    background-color: #ff2323;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    margin-top: 10px;
}
.butnot-shape {
    background-color:rgb(110, 68, 255);
    padding: 10px 15px;
    display: inline-block;
    border-radius: 65px;
    margin-top: 10px;
}
.problme-area-shape, .problme-area-shape1 {
    width: 100%;
    float: left;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    margin-top: -20px;
}
.z-index9 {
    z-index: 9;
}
.problme-shape1 {
    border-radius: 20px;
    background-color: #ffffff;
    width: 100%;
    float: left;
    padding: 15px;
}
@media (min-width: 768px) {
    .converting-shape1 {
        border-radius: 65px;
        padding: 15px 40px 15px 40px;
    }
    .butnot-shape {
        border-radius: 65px;
        padding: 15px 40px 15px 40px;
    }
    .problem-bg-section {
        background: #fff url(../images/problem-sec.webp) no-repeat bottom center;
	    background-size: cover;
        padding: 100px 0px 150px 0px;
    } 
	.problem-bg-section1 {
    padding: 50px 0px 50px 0px;
	}
	.problem-bg-section2 {    
    padding:100px 0px;
    background: #fff url(../images/problem-bg1.webp) no-repeat top center;
	background-size: cover;   
}
	.problme-area-shape {
		width: calc(100% + 70px);
		float: left;
		padding: 30px 30px 30px 70px;
		margin-left: -70px;
		z-index: 0;
		margin-top: 0px;
	}
	.problme-area-shape1 {
        width: calc(100% + 70px);
        float: left;
        padding: 30px 70px 30px 30px;
        margin-right: -70px;
        z-index: 0;
        margin-top: 0px;
    }
	.f-md-70{font-size:70px;}
	.problme-shape1 {
    padding: 30px;
}
}


/* Problem there Section End */


/* Proudly there Section Start */

.proudly-sec {
    background: #000 url(../images/proudly-bg1.webp) center center no-repeat;
    background-size: cover;
    padding: 0px 0px 30px 0px;
}

@media (min-width: 768px) {
.proudly-sec {
    padding: 0px 0px 100px 0px;
}
}
/* Proudly there Section End */

.new-steps-bg {
	background:#fff;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .new-steps-bg {
        padding: 100px 0px;
    }
}

.testimonial-section {
	background: #f4f3f9 url(../images/second-section.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.testimonial-section2 {
	background: #f4f3f9 url(../images/second-section.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}

@media (min-width:768px) {
    .testimonial-section2 {
        padding: 100px 0px;
    }
	.testimonial-section {
        padding: 100px 0px;
    }
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}


.feature-list-box {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border-bottom: 7px solid #ef3e3a;
}
.gap30 {
	--bs-gutter-y: 10px;
}
.feature-list-box:hover{
	-webkit-animation-name: wobble;
    animation-name: wobble;    
    -webkit-animation-duration:          0.8s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;
}
@-webkit-keyframes wobble {
	0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
  }
  
  @keyframes wobble {
	0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
  }
  .support-img:hover img{-webkit-animation-name: wobble;
    animation-name: wobble;    
    -webkit-animation-duration:          0.8s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;}

@media (min-width:768px) {
	.feature-list-box {
		height: 100%;
		padding: 30px;
	}
	.gap30 {
		--bs-gutter-y: 50px;
	}}

    .bx-wrapper {
        border: 0px !important;
        background:transparent !important;
        box-shadow:none !important;
        padding: 0 !important;
        margin: 0 !important;	
        position:relative;
        
    }
    .bx-viewport{position:relative !important;}
    .bxslider {
      background:transparent !important;
      color: #fff;
      text-align: center;
      padding: 0;
      margin: 0;
      border: 0px !important;
      font-weight:600;
      position:relative;
    }
    .bxslider li{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-height:76px;
        line-height:32px;
        text-align:left;
    }
    .bxslider li .text{margin-left:15px;}
    .text-clr1{color:#FF9897;}
    .text-clr2{color:#FF9897;}
    .text-clr3{color:#FF9897;}
    .text-clr4{color:#FF9897;}

    .elearning-sec{
        background: #f1f1f1 ;
        padding: 30px 0px;
    }

    @media(min-width:768px){
        .elearning-sec{
            padding: 100px 0px;
        }
    }
    
/* Thatsall Section Start */
.thatsall-section {
	padding:30px 0px;
	background: #000 url(../images/lets-face-it.webp) no-repeat center top;
	background-size: cover;
}
.content-box {
	border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 0px rgb(12 11 17 / 15%);
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;
    padding: 20px 0px;
}
.content-box .stats{
	height: 100%;
    display: flex;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    color: #ffffff;
    min-width: 120px;
    justify-content: center;
    text-align: center;
    border-radius: 1;
    border-top-right-radius: 20px;
    line-height: 38px;
    border-bottom-right-radius: 20px;
    background-color: #FFE5E6;
}
.content-box .stats .text{
    background: linear-gradient(180deg, #F88038 -0.29%, #E74352 99.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.content-box .stats.flex-wrap{
	flex-direction: column;
    line-height: 40px; 
}
.content-box .stats span{
	font-size:28px;
}
.content-box .title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
	text-transform:capitalize;
	padding:0px 15px;
}
.number-shape {
    position: relative;
    display: inline-block;
    width: auto;
}
.text-element {
    display: inline-block;
    background: url(../images/textelement.webp) no-repeat center center;
    background-size: 100% 100%;
}
.every-business-shape {
    background: #fc6dab;
    padding: 20px;
    border-radius: 5px;
}
.mandatory-section{
    background: #fff;
    padding: 30px 0px;
}
.huge-bg{
    display: inline-block;
    background-color: white;
    padding: 8px 25px;
    border-radius: 15px;
}
.amt-bg{
    border: 1px white solid;
    border: 1px solid #484848;
    border-radius: 15px;
    padding: 15px 20px;
    display: inline-block;
}
@media (min-width: 768px) {
    .mandatory-section{
        background: url(../images/mandatory-bg.png) no-repeat center center;
        background-size: cover;
        padding: 80px 0px;
    }
    .thatsall-section {
        padding:0px 0px 100px 0px;
    }
	.f-md-70{
		font-size:70px;
	}
	.that-arrow{
	position: absolute;
	top: -70px;
	right: -80px;
	}
	.content-box .title {
    font-size: 24px;
    line-height: 34px;
}
.arrow1 {
    position: absolute;
    top: 33%;
    left: 11px;
}
.text-element {
    padding: 8px 45px;
}
.huge-bg{
    display: inline-block;
    background-color: white;
    padding: 8px 25px;
    border-radius: 15px;
    position: relative;
   
}
.amt-bg{
    display: inline-block;
    border: 1px white solid;
    border: 1px solid #484848;
    border-radius: 20px;
    padding: 25px 20px 25px 20px;
}
}
@media (min-width: 1600px){
	.that-man{
        position: absolute;
        bottom: -45px;
        right: 0px;
        display: block !important;
	}
}
@media (min-width: 1024px){
	.that-man{
        position: absolute;
        bottom: -45px;
        right: -50px;
        display: block !important;
	}
}

/* Thatsall Section End */

.faster-box{
   box-shadow: 0px 10px 30px #ccc;
    border-radius: 20px;
    padding: 20px;
}
.high-converting-list li {
    background: url(../images/orange-tick.webp) no-repeat;
    background-position: 0 1px;
    padding-left: 50px;
    margin-bottom: 25px;
    list-style-type: none;
}
@media(min-width:768px){
    .faster-box{
        padding: 50px;
    }
}
.youknow-block{
    background: #FFC01F;
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
}
@media(min-width:768px){
    .youknow-block{
        padding: 24px 88px 45px 88px;
        background: url(../images/know-shape.webp) no-repeat center center;
        background-size: contain;
    }
}

.video-box{
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.faster-customer{
    background: #FFFFFF;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50px;

}

@media(min-width:768px){
    .video-head{
        position: relative;
    }
    .video-head::after{
        position: absolute;
        top: -10px;
        right: -20px;
        content: url('../images/airoplane.png');
    }
    .faster-customer{
        padding: 50px;
    }
}

.head-design {
    background: url(../images/head-bg.webp)no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    padding: 5px 35px;
}

@media(min-width:768px){
    .head-design {
        padding: 5px 70px;
    }
}
.didyouknow-sec{
    padding: 30px 0px;
}
@media(min-width:768px){
    .didyouknow-sec{
        padding: 100px 0px;
    }
}
.timer-header-top {
    background: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0px;
    width: 100%;
    z-index: 999;
}