/* Pricing Header */
.pricing-header .saglus-nav .bar1,
.pricing-header .saglus-nav .bar2,
.pricing-header .saglus-nav .bar3 {
	background: #ffffff;
}
.pricing-header .bg-navbar .saglus-nav .bar1,
.pricing-header .bg-navbar .saglus-nav .bar2,
.pricing-header .bg-navbar .saglus-nav .bar3 {
	background: #34303f;
}
@media (min-width:992px){
.pricing-header .saglus-nav .navbar-nav .nav-link{
	color: #a19cac;
}
.pricing-header .saglus-nav .navbar-nav .nav-link.active{
	color: #ffffff;
}
.pricing-header .saglus-nav .navbar-nav .nav-link:hover{
	text-decoration: none;
	color: #ffffff;
}
.pricing-header .saglus-nav .navbar-nav .dropdown > .dropdown-toggle:hover::after,
.pricing-header .saglus-nav .navbar-nav .dropdown > .dropdown-toggle.active::after{
	border: solid #a19cac;
	border-width: 0 2px 2px 0;
}
.pricing-header .saglus-nav .navbar-nav .dropdown > .dropdown-toggle::after {
	border-color: #a19cac;
}
/* Pricing Header with stickey */	
.pricing-header .bg-navbar .saglus-nav .navbar-nav .nav-link{
	color: #34303f;
}
.pricing-header .bg-navbar .saglus-nav .navbar-nav .nav-link.active{
	color: #5c6ac4;
}
.pricing-header .bg-navbar .saglus-nav .navbar-nav .nav-link:hover{
	color: #5c6ac4;
}
.pricing-header .bg-navbar .saglus-nav .navbar-nav .dropdown > .dropdown-toggle:hover::after,
.pricing-header .bg-navbar .saglus-nav .navbar-nav .dropdown > .dropdown-toggle.active::after{
	border: solid #5c6ac4;
	border-width: 0 2px 2px 0;
}
.pricing-header .bg-navbar .saglus-nav .navbar-nav .dropdown > .dropdown-toggle::after {
	border-color: #34303f;
}
}


/* Smart Login Header css*/
.saglus-header{
	background-color: #ffffff;
	box-shadow: 0px 0px 8px 0px rgba(206, 212, 216, 0.9);
	z-index: 3;
	height: 80px;
	position: relative;
}
.saglus-header .logo-size{max-height: 70px;}
.trans-header{ 
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
.trans-header .saglus-header{background:transparent;box-shadow: none;}
.trans-header .saglus-header.bg-navbar{background:#ffffff !important;}
.bg-navbar{
	background:#ffffff !important;
	box-shadow: 0px 0px 8px 0px rgba(206, 212, 216, 0.9) !important;
}
.sticky-fix .saglus-nav .navbar-nav .nav-item {
    -ms-flex-item-align: center !important;
    align-self: center !important;
    padding: 30px 15px;
    position: relative;
}

/* Main Menu
=======================*/
/* Dropdown hover menu active */
@media (min-width:992px){
.saglus-nav .navbar-nav .dropdown:hover>.dropdown-menu {
  display: block;
}
.saglus-nav .nav-item .dropdown-menu .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
}

.trans-header .bg-navbar .saglus-nav .navbar-nav .nav-item{
	-ms-flex-item-align: center !important;
	align-self: center !important;
	padding: 28px 15px;
	position: relative;
}
.sticky-fix .saglus-nav .navbar-nav .nav-item{
	-ms-flex-item-align: center !important;
	align-self: center !important;
	padding: 28px 15px;
	position: relative;
}
.saglus-nav .navbar-nav .nav-item{
	-ms-flex-item-align: center !important;
	align-self: center !important;
	padding:12px;
	position: relative;
}


.saglus-nav .navbar-nav li.nav-item.profile-dropdown{
	padding: 12px;
}
.trans-header .bg-navbar .saglus-nav .navbar-nav li:last-child.nav-item,
.saglus-nav .navbar-nav li:last-child.nav-item{
	padding-right: 0px;
}
.saglus-nav .navbar-nav .nav-link{
	padding:0px;
	color: #34303f;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 18px;
}
.saglus-nav .navbar-nav .nav-link:hover{
	text-decoration: none;
	color: #5c6ac4;
}
.saglus-nav .navbar-nav .nav-link.active{
	color: #5c6ac4;
}
/* Dropdown Menu right Caret icon css */
.saglus-nav .navbar-nav .dropdown > .dropdown-toggle::after{
	vertical-align: .12em;
    content: "";    
    margin-left: 8px;
	border: solid #7f7c88;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media(max-width:991px){
.saglus-nav .navbar-nav .dropdown > .dropdown-toggle::after{
	border: solid #212529;
	border-width: 0 2px 2px 0;
}
}
/* Dropdown Menu right Caret icon Active css */
.saglus-nav .navbar-nav .dropdown > .dropdown-toggle:hover::after,
.saglus-nav .navbar-nav .dropdown > .dropdown-toggle.active::after{
	border: solid #5c6ac4;
	border-width: 0 2px 2px 0;
}
/* Dropdow Toggle Caret Rotate & Position
========================================== */
.saglus-nav .navbar-nav .nav-link.dropdown-toggle::after{
	position: relative;
}
.saglus-nav .navbar-nav .dropdown.show > .dropdown-toggle::after {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.saglus-nav .navbar-nav .dropdown .dropdown-toggle span.caret-right{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    margin-right: -6px;
}

/* Menu Active */
.saglus-nav .navbar-nav .dropdown.show .nav-link{
	/*color: #ffae00;*/
}
.saglus-nav .navbar-nav .nav-link img.profile-pic{width: 50px; height: 50px; border-radius: 50%; max-height: 50px; min-height: 50px; max-width: 100%;}


/* Business Logo Center Css */
.business-logo-center{
	position: absolute;
	top: 0;
	height: 50px;
	left: 0;
	right: 0;
	margin: auto;
	word-break: break-all;
}
.business-logo-center img{max-height: 50px;}

/* Dropdown Menu Horizontal Center & Triangle Css on Dropdown */
.saglus-nav .nav-item .dropdown-menu{
	left: 50%;
	right: auto;
	text-align: left;
	transform: translate(-50%, 0);
}
/* .saglus-nav .nav-item .dropdown-menu:before {
	position: absolute;
	top: -24px;
	left: 50%;
	right: auto;
	display: inline-block;
	content: '';
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ced4d8;
	border-width: 12px;
	left: 50%;
}
.saglus-nav .nav-item .dropdown-menu:before,
.saglus-nav .nav-item .dropdown-menu:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	transform: translate(-50%, 0);
} */

.saglus-nav .nav-item .dropdown-menu:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	left:50%;
}
.saglus-nav .nav-item .dropdown-menu:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #f1f4f9de;
	border-width: 12px;
	left:50%;
}

/* Header Dropdown Menu Styls */
.saglus-nav .nav-item .dropdown-menu
{
	border-color: #ced4d8;
	border-top: none;
	border-radius: 0 0 5px 5px;
	margin: 0;
	width: 220px;
	-webkit-box-shadow: 0px 4px 5.64px 0.36px rgba(140, 140, 140, 0.23);
	box-shadow: 0px 4px 10.64px 0.36px rgba(140, 140, 140, 0.23);
	border: 0;
}
.saglus-nav .nav-item .dropdown-menu .dropdown-item{
	position: relative;
	margin: 0;
	padding: 10px 30px;
	color: #34303f;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	text-transform: capitalize;
}

.saglus-nav .nav-item .dropdown-menu .dropdown-item:hover,
.saglus-nav .nav-item .dropdown-menu .dropdown-item:active,
.saglus-nav .nav-item .dropdown-menu .dropdown-item.active{
	color: #5c6ac4;
	background: transparent;
}
.saglus-nav .nav-item .dropdown-menu li .dropdown-item:hover.dropdown-item::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0px;
    width: 7px;
    height: 28px;
    background: #5c6ac4;
    border-radius: 0px 5px 5px 0;
}
/* Dropdown Submenu */
.saglus-nav .nav-item .dropdown-menu .dropdown-submenu {
    position: relative;
}

.saglus-nav .nav-item .dropdown-menu .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
	transform: inherit;
	-webkit-box-shadow: 0px 4px 5.64px 0.36px rgba(140, 140, 140, 0.23);
	box-shadow: 0px 4px 10.64px 0.36px rgba(140, 140, 140, 0.23);
	border: 0;
}
.saglus-nav .nav-item .dropdown-menu .dropdown-submenu .dropdown-menu:before ,
.saglus-nav .nav-item .dropdown-menu .dropdown-submenu .dropdown-menu:after{
	border-width: 0px !important;
}

.saglus-nav .nav-item .dropdown-menu .dropdown-submenu>a:after {
    content: "";    
	display: inline-block;
	float: right;
    margin-top: 7px;
	margin-left: 5px;
	padding: 3px;
	border: solid #ccc;
    border-width: 0 2px 2px 0;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;	
}
@media (max-width: 991px){
.saglus-nav .nav-item .dropdown-menu .dropdown-submenu>a:after {border-color: #34303f;}
}

/* Header Profile Dropdown
===================================*/
/* Profile Header */
.saglus-nav .nav-item.profile-dropdown .profile-header{background: #eff3f6; border-bottom: solid 1px #ced4d8;}

.saglus-nav .nav-item .profile-header .img-circle{width: 100px; height: 100px; min-height: 100px; min-width: 100px; max-height: 100px; min-height: 100px; border:solid 5px #ffffff;}

.saglus-nav .nav-item.profile-dropdown > .dropdown-menu{
	border: none;
	font-weight: 400;
	padding: 0px;
	margin: 0;
	-webkit-box-shadow: -8px 0px 12.74px 0.26px rgba(28, 28, 28, 0.09);
	-moz-box-box-shadow: -8px 0px 12.74px 0.26px rgba(28, 28, 28, 0.09);
	box-shadow: -8px 0px 12.74px 0.26px rgba(28, 28, 28, 0.07);
	width: 100%;
	border-radius: 0px;
	position: fixed !important;
	right: 0px;
	left: auto !important;
	top: 80px !important;
	transform: none !important;
	will-change: scroll-position !important;
	height: calc(100% - 50px);
	overflow-y: auto;
	z-index: 99;
}
/* Media Query */
@media (min-width:576px){
.saglus-nav .nav-item.profile-dropdown > .dropdown-menu{
	width: 340px;}
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu a.dropdown-item i
{
	margin-right: 20px;
}

.saglus-nav .nav-item.profile-dropdown .dropdown-menu a.dropdown-item
{
	color: #748089;
	font-size: 100%;
	text-decoration: none;
	padding:11px 0px !important;
	white-space: normal;
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu  a.dropdown-item:hover,
.saglus-nav .nav-item.profile-dropdown .dropdown-menu  a.dropdown-item:focus
{
	background: #ffffff;
	outline: none;
	text-decoration: none;
	box-shadow: none;
	color:#34303f;
}

/* Header Search Expand Css */
.search-icon-bg{
    background: #f9fcfe;
    border-radius: 5px;
    padding: 9px 20px;
}
.expand-search ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #9fa6ab !important;
	font-size: 16px;
}
.expand-search ::-moz-placeholder { /* Firefox 19+ */
	color: #9fa6ab !important;
	font-size: 16px;

}
.expand-search :-ms-input-placeholder { /* IE 10+ */
	color: #9fa6ab !important;
	font-size: 16px;

}
.expand-search :-moz-placeholder { /* Firefox 18- */
	color: #9fa6ab !important;
	font-size: 16px;

}
.expand-search a, .expand-search a:hover,.expand-search a:focus{color:#7f7c88;}
@media(max-width:991px){
.expand-search a,.expand-search a:hover,.expand-search a:focus{color:#34303f;}
}
.expand-search a:hover, 
.expand-search a:focus{text-decoration:none;}
.search-text{
	border:none;
	outline:none;	
	width:0;
	padding:0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
	font-size: 14px;
}

@media (min-width:768px){ 
.searchwidth{
	width:50px;
	display:inline-block;	
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	padding-left: 10px;
 }
}
@media (min-width:992px){ 
.searchwidth{width:100px;}
}
@media (min-width:1200px){ 
.searchwidth{width:150px;}
}

/* ===== Mobile Header Dropdown ====== */
@media (max-width:991px){
	
/* Navigation Toggler */
.saglus-nav .navbar-toggler{
	padding-left: 0px;
	padding-right: 15px;
	margin: 0;
}

.saglus-nav .navbar-toggler:focus,
.saglus-nav .navbar-toggler:hover {
    text-decoration: none;
	outline: none;
}
/* Menu Button */
.saglus-nav .bar1,
.saglus-nav .bar2,
.saglus-nav .bar3 {
    width: 20px;
    height: 2px;
    background-color: #7f7c88;
    margin: 4px 0;
    transition: 0.4s;
}

.saglus-nav .closebutton .bar1 {
    -webkit-transform: rotate(-45deg) translate(-2px, 7px);
    transform: rotate(-45deg) translate(-3px, 7px);
}

.saglus-nav .closebutton .bar2 {opacity: 0;}

.saglus-nav .closebutton .bar3 {
    -webkit-transform: rotate(45deg) translate(-2px, -7px);
    transform: rotate(45deg) translate(-2px, -7px);
}

/* Xs Device Header Menu */
.xs-device-header.saglus-header{height: 50px;}
.saglus-header .logo-size{max-height: 25px;}	
.xs-device-header .xs-btn{
	padding: 6px 5px !important;
	font-size: 14px;
}
	
	
.xs-device-header .xs-device-menu{
	position: fixed !important;
	z-index: 99;
	top: 50px;
	left: -320px;
	background-color: rgba(41, 50, 57, .8);
	overflow-x: hidden;
	transition: 0.5s;
	overflow-y: scroll;
	height: 100%;
}
.xs-device-header .xs-device-menu.collapse.show{
	width: 100%;
    left: 0px;
    position: fixed;
	top: 50px;
}
.xs-device-header .saglus-nav .nav-item .dropdown-menu
{
	border-color: transparent;
	border-bottom: solid 1px #ced4d8;
	border-radius: 0px;
	margin: 0;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #ced4d8;
	left: 0%;
	right: 0%;
	text-align: left;
	transform: translate(0%, 0);
	
}

.xs-device-header .saglus-nav .nav-item .dropdown-menu:before,
.xs-device-header .saglus-nav .nav-item .dropdown-menu:after {
	border-width: 0px;
}	
.xs-device-header .saglus-nav .navbar-nav .nav-item{
	-ms-flex-item-align: center !important;
	align-self: center !important;
	padding: 0px !important;
	position: relative;
	background-color: #eff3f6;
	width: 100%;
	font-size: 14px;
	
}
.xs-device-header .saglus-nav .navbar-nav li:last-child.nav-item{
	padding-right: 0px;
	border-bottom: none;
}
/*.xs-device-header .saglus-nav .navbar-nav li:first-child.nav-item{
	margin-top: 48px;
}*/
.xs-device-header .saglus-nav .navbar-nav .nav-link,
.xs-device-header .saglus-nav .navbar-nav .nav-link:hover{
	padding: 15px 20px;
	text-decoration: none;
	text-transform: capitalize;
	border-bottom:solid 1px #ced4d8;
}
.xs-device-header .saglus-nav .navbar-nav .nav-link.active{color: #5c6ac4;}

.xs-device-header .saglus-nav .navbar-nav .nav-link.dropdown-toggle::after{
	position: relative;
	top: 5px;
	float: right;
}
	
/* Mobile Search Css */
.xs-device-header .expand-search{
	padding: 15px 20px;
	border-bottom:solid 1px #ced4d8;
}
.xs-device-header .search-text{
	border:none;
	outline:none;	
	width: calc(100% - 21px);
	padding:0;
	font-size: 14px;
	background: transparent;
	padding-left: 15px;
	color: #34303f;
}
.xs-device-header .searchordertop{
	position: absolute !important;
	top: 0;
}
	
}


/* ======== Footer Design ============ */
.footer-section{
	padding: 8% 0px;
	background: #040928;
	color: #807b90;
}
@media (min-width:768px){
.footer-section{
	padding: 60px 0px;
}	
}
ul.footer-links{
	margin:0px;
	padding: 0;
}
ul.footer-links li:first-child{	margin-top: 15px;}
ul.footer-links li{
	list-style: none;
	margin-top: 12px;
}
@media (min-width:768px){
	ul.footer-links li:first-child{	margin-top: 30px;}
	ul.footer-links li{
		list-style: none;
		margin-top: 18px;
	}
}
ul.footer-links li a{
	color: #b3afbc;
	text-decoration: none;
}
ul.footer-links li a:hover{
	color: #ffffff;
}

/* Footer Social Links */
.social-links ul{
	margin: 0;
	padding: 0;
}
.social-links ul li{float:left; list-style: none; margin-right: 10px;}
.social-links ul li:last-child{margin-right: 0px;}
.social-links ul li a.social-item{
	background:#1e223e;
	color:#b3afbc;
	width:40px; height:40px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-radius:5px;
	border:1px solid #4e5165;
	text-decoration:none;
	outline:none;	
}
@media (min-width:768px) and (max-width:991px){
.social-links ul li a.social-item{
	width:30px; height:30px;
}
}
.social-links ul li a.social-item:hover,
.social-links ul li a.social-item:focus{
background:#5c6ac4; border:1px solid #5c6ac4; color: #ffffff;}

/* Seprate Line Css */
.footer-section .sep-line1{border-bottom: solid 1px #4e5165;}
.footer-section .sep-line2{border-bottom: solid 1px #4e5165;}
.footer-section .top-scroll-circle{min-width: 30px;}
.footer-section .top-scroll-circle a{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #4d5064;
    color: #b3afbc;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    background: #1e223e;
	text-decoration: none;
}
/* Footer Bottom Links css */
ul.footer-bottom-links {
	margin: 0;
	padding: 0;
}
ul.footer-bottom-links li{display: inline; list-style: none; margin-right: 5px;}
@media (min-width:768px){
ul.footer-bottom-links li{margin-right: 20px;}
}
ul.footer-bottom-links li a{color: #807b90; text-decoration: none;}
ul.footer-bottom-links li:last-child{margin-right: 0px;}

/* Bottom to Top Button CSS */
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 1039;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: #ffffff;    
    cursor: pointer;
    border: 1px solid #ced4d8;
	color: #748089;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
}
#back-to-top:hover {
	background: #5462ba;
    border: 1px solid #5462ba;
	color: #ffffff;
}
#back-to-top.show {
    opacity: 1;
}
.beta-badge {
	background: #5c6ac4;
	padding: 3px 5px;
	border-radius: 2px;
	font-size: 12px;
	color: #ffffff;
	font-weight: 400;
}