/* Pricing Header */
.pricing-header .saglus-nav .bar1,
.pricing-header .saglus-nav .bar2,
.pricing-header .saglus-nav .bar3 {
	background: #ffffff;
}
.pricing-header .bg-navbar .saglus-nav .bar1,
.pricing-header .bg-navbar .saglus-nav .bar2,
.pricing-header .bg-navbar .saglus-nav .bar3 {
	background: #34303f;
}
.fira-font{
	font-family: 'Fira Sans', sans-serif;
}
.new-custom-megamenu .nav-pills{
	max-height: 450px;
	overflow: hidden;
}
.new-custom-megamenu .nav-pills.menu-tablist > .nav-item{
	width: 100%;
	padding: 0 !important;
}
.new-custom-megamenu .nav-pills.menu-tablist > .nav-item > a{
	position: relative;
	padding: 15px 90px 15px 30px;
	border-radius: 0px;
}
.new-custom-megamenu .nav-pills.menu-tablist > .nav-item > a.active{
	background: #f5f6ff;
}
.new-custom-megamenu .nav-pills.menu-tablist > .nav-item > a.active h4{
	color: #5c6ac4;
}
.new-custom-megamenu .nav-pills.menu-tablist > .nav-item > a::after{
    content: "";
    position: absolute;
    top: 22px;
    right: 70px;
    border: solid #353140;
    vertical-align: 0.15em;
    border-width: 2px 2px 0px 0px;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
}
.new-custom-megamenu .nav-pills.menu-tablist > .nav-item > a.active::after{
	border: solid #5c6ac4;
	border-width: 2px 2px 0px 0px;
}
.new-custom-megamenu .menu-title{
	text-transform: uppercase;
	font-size: 14px;
	color: #5c6ac4;
	font-weight: 500;
	padding-top: 25px;
}
.new-custom-megamenu .menu-content a,
.new-custom-megamenu .menu-content a:hover,
.new-custom-megamenu .menu-content a:focus{
	text-decoration: none;
}
.new-custom-megamenu .menu-content h4{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	color: #34303f;
	font-size: 20px;
	margin-bottom: 8px;
}
.new-custom-megamenu .menu-content a:hover h4{
	color: #5c6ac4;
}
.new-custom-megamenu .menu-content a.grey-clr1:hover{
	color: #5c6ac4;
}
.new-custom-megamenu .menu-content ul{
	padding: 0;
	margin: 0 10px 0;
}
.new-custom-megamenu .menu-content ul li{
	position: relative;
	display: block;
	margin-bottom: 13px;
	padding-left: 15px;
}
.new-custom-megamenu .menu-content ul li:last-child{
	margin-bottom: 0;
}
.new-custom-megamenu .menu-content ul li::before{
	content: "";
	position: absolute;
	top: 7px;
	left: 0;
	width: 7px;
	height: 7px;
	background: #34303f;
	border-radius: 50px;
}
.new-custom-megamenu .menu-content ul li a{
	font-size: 14px;
	color: #34303f;
	font-weight: 500;
}
.new-custom-megamenu .menu-content ul li a:hover{
	color: #5c6ac4;
}
.new-custom-megamenu .menu-content ul li:hover::before{
	background: #5c6ac4;
}
.new-custom-megamenu .menu-content p{
	font-size: 13px;
	color: #34303f;
	line-height: 20px;
}
.new-custom-megamenu .tab-content-container{
	background: #f5f6ff;
    height: 500px;
    overflow: hidden;
	overflow: hidden;
    overflow-y: auto;
}
.new-custom-megamenu .tab-content{
	margin:0px;
	padding:0px;
}
.new-custom-megamenu .dropdown-menu{
	padding: 0;
}
/* .new-custom-megamenu .tab-content .tab-pane {
	max-height: 500px;
	overflow: hidden;
    overflow-y: auto;
}
 */
/* .pricing-header .bg-navbar.saglus-header li.nav-item.dropdown.active a {
	color: #5c6ac4 !important;
} */
.pricing-header .bg-navbar .saglus-nav .navbar-nav .dropdown.active > .dropdown-toggle:hover::after, 
.pricing-header .bg-navbar .saglus-nav .navbar-nav .dropdown.active > .dropdown-toggle::after {
    border: solid #5c6ac4 !important;
    border-width: 1px 0 0 1px !important;
    vertical-align: 0.02em !important;
}
.new-custom-megamenu.h500{
	height: auto;
	padding: 30px;
}
.new-custom-megamenu .inner-content-area{
	padding: 60px 80px 0 60px;
}
.new-custom-megamenu .menu-content.resources{
	padding: 0 30px 0 0;
}
.menu-underline{
	max-width: 225px;
	height: 1px;
	width: 100%;
	background: #c8cbda;
}
.grey-clr1,
.grey-clr1:hover,
.grey-clr1:focus{
	color: #34303f;
}
@media (min-width:992px){
	.pricing-header .saglus-nav .navbar-nav .nav-link{
		color: #cac5d5;
	}
	.pricing-header .saglus-nav .navbar-nav .nav-link.active{
		color: #ffffff;
	}
	.pricing-header .saglus-nav .navbar-nav .nav-link:hover{
		text-decoration: none;
		color: #ffffff;
	}
	.pricing-header .saglus-nav .navbar-nav .dropdown > .dropdown-toggle::after {
		border-color: #cac5d5;
	}
	/* Pricing Header with stickey */	
	.pricing-header .bg-navbar .saglus-nav .navbar-nav .nav-link{
		color: #34303f;
	}
	.pricing-header .bg-navbar .saglus-nav .navbar-nav .nav-link.active{
		color: #5c6ac4;
	}
	.pricing-header .bg-navbar .saglus-nav .navbar-nav .nav-link:hover,
	.pricing-header .bg-navbar .saglus-nav .navbar-nav .dropdown:hover .nav-link{
		color: #5c6ac4;
	}
	.pricing-header .bg-navbar .saglus-nav .navbar-nav .dropdown > .dropdown-toggle:hover::after,
	.pricing-header .bg-navbar .saglus-nav .navbar-nav .dropdown > .dropdown-toggle.active::after{
		border: solid #5c6ac4;
		border-width: 1px 0 0 1px;
	}
	.pricing-header .bg-navbar .saglus-nav .navbar-nav .dropdown > .dropdown-toggle::after {
		border-color: #34303f;
	}
	.pricing-header .bg-navbar .saglus-nav .navbar-nav .dropdown.show .dropdown-toggle::after,
	.pricing-header .bg-navbar .saglus-nav .navbar-nav .dropdown:hover > .dropdown-toggle::after{
		border: solid #5c6ac4;
		border-width: 0px 1px 1px 0px;
	}
}

/* Logo image CSS */
.saglus-header img.dcp-blue-logo{
	display: none;
}
.saglus-header.bg-navbar img.dcp-white-logo{
	display: none;
}
.saglus-header.bg-navbar img.dcp-blue-logo{
	display: block;
}

/* Smart Login Header css*/
.saglus-header{
	background: #ffffff;
	box-shadow: 0px 0px 8px 0px rgba(206, 212, 216, 0.9);
	z-index: 3;
	height: 90px;
	position: relative;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.saglus-header .logo-size{max-height: 70px;}
.trans-header{ 
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
.trans-header .saglus-header{background:transparent;box-shadow: none;}
.trans-header .saglus-header.bg-navbar{
	background:#ffffff !important;
	box-shadow: 0px 0px 8px 0px rgba(206, 212, 216, 0.9) !important;
}
.sticky-fix .saglus-nav .navbar-nav .nav-item {
    -ms-flex-item-align: center !important;
    align-self: center !important;
    padding: 30px 15px;
    position: relative;
}

/* Main Menu
=======================*/
/* Dropdown hover menu active */
@media (min-width:992px){
	.saglus-nav .navbar-nav .dropdown:hover>.dropdown-menu {
	  display: block;
	}
	.saglus-nav .nav-item .dropdown-menu .dropdown-submenu:hover>.dropdown-menu {
	    display: block;
	}
}

.trans-header .bg-navbar .saglus-nav .navbar-nav .nav-item{
	-ms-flex-item-align: center !important;
	align-self: center !important;
	padding: 28px 15px;
	position: static;
}
.sticky-fix .saglus-nav .navbar-nav .nav-item{
	-ms-flex-item-align: center !important;
	align-self: center !important;
	padding: 28px 4px;
	position: static;
}
.saglus-nav .navbar-nav .nav-item{
	-ms-flex-item-align: center !important;
	align-self: center !important;
	padding: 12px 15px;
	position: static;
}
@media (max-width:1120px){
	.new-custom-megamenu .nav-pills.menu-tablist > .nav-item > a{
		padding: 15px 50px 15px 30px;
	}
	.new-custom-megamenu .inner-content-area{
		padding: 40px 40px 0 40px;
	}
	.new-custom-megamenu .nav-pills.menu-tablist > .nav-item > a::after{
		right: 45px;
	}
}
@media (min-width:1024px){
	
	.trans-header .bg-navbar .saglus-nav .navbar-nav .nav-item{
		padding: 28px 8px;
	}	
	.sticky-fix .saglus-nav .navbar-nav .nav-item{
		padding: 28px 8px;
	}	
	.saglus-nav .navbar-nav .nav-item{
		padding:12px 8px;
	}	
}
@media (min-width:1100px){
	.trans-header .bg-navbar .saglus-nav .navbar-nav .nav-item{
		padding: 28px 10px;
	}	
	.sticky-fix .saglus-nav .navbar-nav .nav-item{
		padding: 28px 10px;
	}	
	.saglus-nav .navbar-nav .nav-item{
		padding:12px 10px;
	}	
}
@media (min-width:1200px){
	.trans-header .bg-navbar .saglus-nav .navbar-nav .nav-item{
		padding: 28px 10px;
	}	
	.sticky-fix .saglus-nav .navbar-nav .nav-item{
		padding: 28px 10px;
	}	
	.saglus-nav .navbar-nav .nav-item{
		padding:12px 10px;
	}	
}
@media (min-width:1300px){
	.trans-header .bg-navbar .saglus-nav .navbar-nav .nav-item{
		padding: 35px 18px;
	}	
	.sticky-fix .saglus-nav .navbar-nav .nav-item{
		padding: 35px 18px;
	}	
	.saglus-nav .navbar-nav .nav-item{
		padding: 12px 18px;
	}	
}

.saglus-nav .navbar-nav li.nav-item.profile-dropdown{
	padding: 20px 12px;
}
.trans-header .bg-navbar .saglus-nav .navbar-nav li:last-child.nav-item,
.saglus-nav .navbar-nav li:last-child.nav-item{
	padding-right: 0px;
	padding-left: 0px;
}
.saglus-nav .navbar-nav .nav-link{
	font-weight: 500;
	padding:0px;
	color: #34303f;
	text-decoration: none;
	font-size: 18px;
}
.saglus-nav .navbar-nav > .nav-item > .nav-link{
	font-family: 'Fira Sans', sans-serif;
}
.saglus-nav .navbar-nav .nav-link:hover,
.saglus-nav .navbar-nav .dropdown.show > .nav-link,
.saglus-nav .navbar-nav .nav-item.dropdown:hover .nav-link{
	text-decoration: none;
	color: #5c6ac4;
}
.saglus-nav .navbar-nav .nav-link.active{
	color: #5c6ac4;
}
/* Dropdown Menu right Caret icon css */
.saglus-nav .navbar-nav .dropdown > .dropdown-toggle::after,
.saglus-nav .navbar-nav .dropdown:hover > .dropdown-toggle::after{
	vertical-align: 0.15em !important;
    content: "";    
    margin-left: 8px;
	border: solid #7f7c88;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
@media(max-width:991px){
.saglus-nav .navbar-nav .dropdown > .dropdown-toggle::after{
	border: solid #212529;
	border-width: 0 1px 1px 0;
}
}
/* Dropdown Menu right Caret icon Active css */
.saglus-nav .navbar-nav .dropdown > .dropdown-toggle:hover::after,
.saglus-nav .navbar-nav .dropdown > .dropdown-toggle.active::after,
.saglus-nav .navbar-nav .nav-item.dropdown:hover .dropdown-toggle::after,
.saglus-nav .navbar-nav .nav-item.dropdown.show .dropdown-toggle::after{
	border: solid #5c6ac4;
	border-width: 0 1px 1px 0;
}
/* Dropdow Toggle Caret Rotate & Position
========================================== */
.saglus-nav .navbar-nav .nav-link.dropdown-toggle::after{
	position: relative;
}
.saglus-nav .navbar-nav .dropdown.show > .dropdown-toggle::after,
.saglus-nav .navbar-nav .dropdown:hover > .dropdown-toggle::after{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
}

.saglus-nav .navbar-nav .dropdown .dropdown-toggle span.caret-right{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    margin-right: -6px;
}

/* Menu Active */
.saglus-nav .navbar-nav .dropdown.show .nav-link{
	/*color: #ffae00;*/
}
.saglus-nav .navbar-nav .nav-link img.profile-pic{width: 50px; height: 50px; border-radius: 50%; max-height: 50px; min-height: 50px; max-width: 100%;}
@media (max-width:991px){
.saglus-nav .nav-link img.profile-pic{width: 45px; height: 45px; border-radius: 50%; max-height: 45px; min-height: 45px; max-width: 100%;}	
}


/* Business Logo Center Css */
.business-logo-center{
	position: absolute;
	top: 0;
	height: 50px;
	left: 0;
	right: 0;
	margin: auto;
	word-break: break-all;
}
.business-logo-center img{max-height: 50px;}

/* Dropdown Menu Horizontal Center & Triangle Css on Dropdown */
/*.saglus-nav .nav-item .dropdown-menu{
	left: 50%;
	right: auto;
	text-align: left;
	transform: translate(-50%, 0);
}*/
/* .saglus-nav .nav-item .dropdown-menu:before {
	position: absolute;
	top: -24px;
	left: 50%;
	right: auto;
	display: inline-block;
	content: '';
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ced4d8;
	border-width: 12px;
	left: 50%;
}
.saglus-nav .nav-item .dropdown-menu:before,
.saglus-nav .nav-item .dropdown-menu:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	transform: translate(-50%, 0);
} */

.saglus-nav .nav-item .dropdown-menu:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	left:50%;
}
.saglus-nav .nav-item .dropdown-menu:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #f1f4f9de;
	border-width: 12px;
	left:50%;
}

/* Header Dropdown Menu Styls */
.saglus-nav .nav-item .dropdown-menu
{
	border-color: #ced4d8;
	border-top: none;
	border-radius: 0;
	margin: 0;
	width: 210px;
	border: 0;
}
@media(min-width:992px){
	.saglus-nav .nav-item .dropdown-menu.megamenu{
		position: absolute;
		width: 100%;
		top: 90px;
		height: 500px;
		text-align: left;
		 background:#fff url(../images/megamenu-shadow.png) repeat-x center top; 
		box-shadow: 0px 3px 6px 0px rgba(206, 212, 216, 0.9) !important;
	}
}
.saglus-nav .nav-item .dropdown-menu .dropdown-item{
	position: relative;
	margin: 0;
	padding: 10px 30px;
	color: #34303f;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	text-transform: capitalize;
}

.saglus-nav .nav-item .dropdown-menu .dropdown-item:hover,
.saglus-nav .nav-item .dropdown-menu .dropdown-item:active,
.saglus-nav .nav-item .dropdown-menu .dropdown-item.active{
	color: #5c6ac4;
	background: transparent;
}
.saglus-nav .nav-item .dropdown-menu li .dropdown-item:hover.dropdown-item::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0px;
    width: 7px;
    height: 28px;
    background: #5c6ac4;
    border-radius: 0px 5px 5px 0;
}
/* Dropdown Submenu */
.saglus-nav .nav-item .dropdown-menu .dropdown-submenu {
    position: relative;
}

.saglus-nav .nav-item .dropdown-menu .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
	transform: inherit;
	-webkit-box-shadow: 0px 4px 5.64px 0.36px rgba(140, 140, 140, 0.23);
	box-shadow: 0px 4px 10.64px 0.36px rgba(140, 140, 140, 0.23);
	border: 0;
}
.saglus-nav .nav-item .dropdown-menu .dropdown-submenu .dropdown-menu:before ,
.saglus-nav .nav-item .dropdown-menu .dropdown-submenu .dropdown-menu:after{
	border-width: 0px !important;
}

.saglus-nav .nav-item .dropdown-menu .dropdown-submenu>a:after {
    content: "";    
	display: inline-block;
	float: right;
    margin-top: 7px;
	margin-left: 5px;
	padding: 3px;
	border: solid #ccc;
    border-width: 0 2px 2px 0;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;	
}
@media (max-width: 991px){
.saglus-nav .nav-item .dropdown-menu .dropdown-submenu>a:after {border-color: #34303f;}
}

/* Header Profile Dropdown
===================================*/
/* Profile Header */
.saglus-nav .nav-item.profile-dropdown .profile-header{background: #eff3f6; border-bottom: solid 1px #ced4d8;}

.saglus-nav .nav-item .profile-header .img-circle{width: 100px; height: 100px; min-height: 100px; min-width: 100px; max-height: 100px; min-height: 100px; border:solid 5px #ffffff;}

.saglus-nav .nav-item.profile-dropdown > .dropdown-menu{
	border: none;
	font-weight: 400;
	padding: 0px;
	margin: 0;
	-webkit-box-shadow: -8px 0px 12.74px 0.26px rgba(28, 28, 28, 0.09);
	-moz-box-box-shadow: -8px 0px 12.74px 0.26px rgba(28, 28, 28, 0.09);
	box-shadow: -8px 0px 12.74px 0.26px rgba(28, 28, 28, 0.07);
	width: 100%;
	border-radius: 0px;
	position: fixed !important;
	right: 0px;
	left: auto !important;
	top: 90px !important;
	transform: none !important;
	will-change: scroll-position !important;
	height: calc(100% - 80px)!important;
	overflow-y: auto;
	z-index: 99;
}
/* Media Query */
@media (min-width:576px){
.saglus-nav .nav-item.profile-dropdown > .dropdown-menu{
	width: 340px !important;}
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu a.dropdown-item i
{
	margin-right: 20px;
	position:relative;
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu .subscription-list{
	position: relative;
	min-height: 45px;
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu .subscription-list .upgrdae-btn{
	position: absolute;
	bottom: 12px;
	right: 15px;
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu a.dropdown-item
{
	color: #7f7c88;
    font-size: 100%;
    text-decoration: none;
    padding: 11px 15px !important;
    white-space: normal;
	display: flex;
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu a.dropdown-item i {
    margin-right: 20px;
    position: relative;
    color: #7f7c88;
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu a.dropdown-item .link-title {
	font-size: 15px;
	font-weight: 500;
	color: #34303f;
	line-height: 17px;
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu a.dropdown-item .sub-text {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    line-height: 140%;
    color: #7f7c88;
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu a.dropdown-item .upgrdae-btn ,
.saglus-nav .nav-item.profile-dropdown .dropdown-menu .subscription-list .upgrdae-btn {
    height: 30px;
    font-size: 12px !important;
    align-items: center;
    display: flex;
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu .link-sepration-border{
    width: calc(100% - 30px);
    height: 1px;
    background: #ced4d8;
    margin: 15px 15px;
}
@media (min-width: 768px){
.saglus-nav .nav-item.profile-dropdown .dropdown-menu .link-sepration-border {
    width: calc(100% - 60px);
    margin: 15px 30px;
}
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu a.dropdown-item:hover .link-title,
.saglus-nav .nav-item.profile-dropdown .dropdown-menu a.dropdown-item:hover i{
    color: #39295d;
}
@media (min-width:768px){
.saglus-nav .nav-item.profile-dropdown .dropdown-menu a.dropdown-item
{
    padding: 12px 30px !important;
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu .subscription-list .upgrdae-btn{
	right: 30px;
}
}
.saglus-nav .nav-item.profile-dropdown .dropdown-menu  a.dropdown-item:hover,
.saglus-nav .nav-item.profile-dropdown .dropdown-menu  a.dropdown-item:focus
{
	background: #eff3f6;
	outline: none;
	text-decoration: none;
	box-shadow: none;
	color: #34303f;
}
.profile-progress-bar {
    height: 5px !important;
    width: 100%;
    margin-bottom: 0px;
}
.view-profile-btn-outline, a.view-profile-btn-outline {
    color: #39295d;
    background-color: transparent;
    border-color: #39295d;
    border-radius: 3px;
    padding: 2px 15px;
}
.view-profile-btn-outline:hover, a.view-profile-btn-outline:hover, .view-profile-btn-outline:focus, a.view-profile-btn-outline:focus {
    background-color: #39295d;
    color: #ffffff;
    border-color: #39295d;
    border-radius: 3px;
    padding: 2px 15px;
}
.usage-details-border {
    border-right: 1px solid #f1f1f1;
}
a.dropdown-item.dcp-notify-btn i.doticon.active::after {
    content: '';
    width: 8px;
    height: 8px;
    background: #58bd1a;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}
/* Notification Dropdown */
.doticon.active:after{
	content:'';
	width:8px;
	height:8px;
	background:#58bd1a;
	border-radius:50%;
	position:absolute;
	top:24px;
	right:11px;
}
@media (max-width:991px){
.doticon.active:after{
    width: 6px;
    height: 6px;
    top: 16px;
    right: 8px;
}}
/* Header Search Expand Css */
.search-icon-bg{
    background: #f9fcfe;
    border-radius: 5px;
    padding: 9px 20px;
}
.expand-search ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #9fa6ab !important;
	font-size: 14px;
}
.expand-search ::-moz-placeholder { /* Firefox 19+ */
	color: #9fa6ab !important;
	font-size: 14px;

}
.expand-search :-ms-input-placeholder { /* IE 10+ */
	color: #9fa6ab !important;
	font-size: 14px;

}
.expand-search :-moz-placeholder { /* Firefox 18- */
	color: #9fa6ab !important;
	font-size: 14px;

}
.expand-search a, .expand-search a:hover,.expand-search a:focus{color:#7f7c88;}

.saglus-header .navbar-logo-margin{
	margin-right: auto;
}
@media(max-width:991px){
.expand-search a,.expand-search a:hover,.expand-search a:focus{color:#34303f;}
}
.expand-search a:hover, 
.expand-search a:focus{text-decoration:none;}
.search-text{
	border:none;
	outline:none;	
	width:0;
	padding:0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
	font-size: 14px;
}

@media (min-width:768px){ 
.searchwidth{
	width:50px;
	display:inline-block;	
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	padding-left: 10px;
 }
}
@media (min-width:992px){ 
.searchwidth{width:100px;}
}
@media (min-width:1200px){ 
.searchwidth{width:150px;}
}

/* ===== Mobile Header Dropdown ====== */
@media(max-width:767px){
/* Navigation Toggler */
.saglus-nav .navbar-toggler{
	padding-left: 0px;
	padding-right: 12px;
	margin: 0;
}
.saglus-header .logo-size{max-height: 42px;}	
}
@media(min-width:768px) and (Max-width:991px){
/* Navigation Toggler */
.saglus-nav .navbar-toggler{
	padding-left: 0px;
	padding-right: 15px;
	margin: 0;
}	
.saglus-header .logo-size{max-height: 42px;}	
}

@media (max-width:991px){
	
.saglus-nav .navbar-toggler:focus,
.saglus-nav .navbar-toggler:hover {
    text-decoration: none;
	outline: none;
}
/* Menu Button */
.saglus-nav .bar1,
.saglus-nav .bar2,
.saglus-nav .bar3 {
    width: 25px;
    height: 3px;
    background-color: #7f7c88;
    margin: 5px 0;
    transition: 0.4s;
}

.saglus-nav .closebutton .bar1 {
    -webkit-transform: rotate(-48deg) translate(-2px, 6px);
    transform: rotate(-48deg) translate(-2px, 6px);
}

.saglus-nav .closebutton .bar2 {opacity: 0;}

.saglus-nav .closebutton .bar3 {
    -webkit-transform: rotate(45deg) translate(-2px, -7px);
    transform: rotate(45deg) translate(-2px, -7px);
}

/* Xs Device Header Menu */
/* @media (max-width: 991px){
.xs-device-header .saglus-nav .navbar-nav li:first-child.nav-item {
    margin-top: 48px;
}
} */
.saglus-header a.xs-login-btn,
.saglus-header a.xs-login-btn:focus{color: #34303f; text-decoration:none; font-weight: 500; font-size: 12px; font-family: 'Fira Sans', sans-serif;}
.pricing-header .saglus-header a.xs-login-btn,
.pricing-header .saglus-header a.xs-login-btn:focus{color: #ffffff;}
.saglus-header.bg-navbar a.xs-login-btn,
.saglus-header.bg-navbar a.xs-login-btn:focus{color: #34303f;}
a.xs-login-btn:hover{color: #5c6ac4;}

.saglus-header .navbar-logo-margin{
	margin-left: auto;
	margin-right: auto;
}

.xs-device-header.saglus-header{height: 65px;}
.xs-device-header .xs-btn{
	padding: 6px 5px !important;
	font-size: 14px !important;
}

.saglus-header .profile-dropdown .nav-link {
	padding: 0px;
    margin-left: 10px;
}
	
.xs-device-header .xs-device-menu{
	position: fixed !important;
	z-index: 99;
	top: 50px;
	left: -320px;
	background-color: rgba(41, 50, 57, .8);
	overflow-x: hidden;
	transition: 0.5s;
	overflow-y: scroll;
	height: 100%;
}
.xs-device-header .xs-device-menu.collapse.show{
	width: 100%;
    left: 0px;
    position: fixed;
	top: 50px;
}
.xs-device-header .saglus-nav .nav-item .dropdown-menu,
.affiliate-panel-header .saglus-nav .nav-item .dropdown-menu
{
	border-color: transparent;
	border-bottom: solid 1px #eff3f6;
	border-radius: 0px;
	margin: 0;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #ffffff;
	right: 0%;
	text-align: left;
	transform: translate(0%, 0);
	left: auto !important;
	top: 65px !important;
	transform: none !important;
	will-change: scroll-position !important;
	height: calc(100% - 65px)!important;
	overflow-y: auto;
	z-index: 99;	
}

.xs-device-header .saglus-nav .nav-item .dropdown-menu:before,
.xs-device-header .saglus-nav .nav-item .dropdown-menu:after {
	border-width: 0px;
}	
.xs-device-header .saglus-nav .navbar-nav .nav-item{
	-ms-flex-item-align: center !important;
	align-self: center !important;
	padding: 0px !important;
	position: relative;
	background-color: #ffffff;
	width: 100%;
	font-size: 14px;
	
}
.xs-device-header .saglus-nav .navbar-nav li:last-child.nav-item{
	padding-right: 0px;
	border-bottom: none;
}
/*.xs-device-header .saglus-nav .navbar-nav li:first-child.nav-item{
	margin-top: 48px;
}*/
.xs-device-header .saglus-nav .navbar-nav .nav-link,
.xs-device-header .saglus-nav .navbar-nav .nav-link:hover{
	padding: 15px 20px;
	text-decoration: none;
	text-transform: capitalize;
	border-bottom:solid 1px #eff3f6;
}
.xs-device-header .saglus-nav .navbar-nav .nav-link.active{color: #5c6ac4;}

.xs-device-header .saglus-nav .navbar-nav .nav-link.dropdown-toggle::after{
	position: relative;
	top: 7px;
	float: right;
}
	
/* Mobile Search Css */
.xs-device-header .expand-search{
	padding: 15px 20px;
	border-bottom:solid 1px #eff3f6;
}
.xs-device-header .search-text{
	border:none;
	outline:none;	
	width: calc(100% - 21px);
	padding:0;
	font-size: 14px;
	background: transparent;
	padding-left: 15px;
	color: #34303f;
}
.xs-device-header .searchordertop{
	position: absolute !important;
	top: 0;
}
	
}


/* ======== Footer Design ============ */
.footer-section{
	padding: 8% 0px;
	background: #ffffff;
	color: #151122;
	border-top:solid 1px #c6cbde;
}
@media (min-width:768px){
.footer-section{
	padding: 60px 0px;
}	
}
ul.footer-links{
	margin:0px;
	padding: 0;
}
ul.footer-links li:first-child{	margin-top: 15px;}
ul.footer-links li{
	list-style: none;
	margin-top: 12px;
}
@media (min-width:768px){
	ul.footer-links li:first-child{	margin-top: 30px;}
	ul.footer-links li{
		list-style: none;
		margin-top: 18px;
	}
}
ul.footer-links li a{
	color: #151122;
	text-decoration: none;
}
ul.footer-links li a:hover{
	color: #5c6ac4;
}
@media (min-width: 992px){
ul.footer-bottom-links.footer-bottom-links-new li {
    margin-right: 5px !important;
}
}
/* Footer Social Links */
.social-links ul{
	margin: 0;
	padding: 0;
}
.social-links ul li{float:left; list-style: none; margin-right: 10px;}
.social-links ul li:last-child{margin-right: 0px;}
.social-links ul li a.social-item{
	background:#fff;
	color:#7d7f8e;
	width:40px; height:40px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-radius:5px;
	border:1px solid #7d7f8e;
	text-decoration:none;
	outline:none;	
}
@media (min-width:768px) and (max-width:991px){
.social-links ul li a.social-item{
	width:30px; height:30px;
}
}
.social-links ul li a.social-item:hover,
.social-links ul li a.social-item:focus{
background:#5c6ac4; border:1px solid #5c6ac4; color: #ffffff;}

/* Seprate Line Css */
.footer-section .sep-line1{border-bottom: solid 1px #7d7f8e;}
.footer-section .sep-line2{border-bottom: solid 1px #7d7f8e;}
.footer-section .top-scroll-circle{min-width: 30px;}
.footer-section .top-scroll-circle a{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #7d7f8e;
    color: #7d7f8e;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    background: #ffffff;
	text-decoration: none;
}
/* Footer Bottom Links css */
ul.footer-bottom-links {
	margin: 0;
	padding: 0;
}
ul.footer-bottom-links li{display: inline; list-style: none; margin-right: 5px;}
@media (min-width:768px){
ul.footer-bottom-links li{margin-right:1px;}
}
@media (min-width:992px){
ul.footer-bottom-links li{margin-right: 20px;}
}
ul.footer-bottom-links li a{color: #151122; text-decoration: none;}
ul.footer-bottom-links li a:hover{color: #5c6ac4; text-decoration: none;}
ul.footer-bottom-links li:last-child{margin-right: 0px;}

/* Bottom to Top Button CSS */
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 1029;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: #ffffff;    
    cursor: pointer;
    border: 1px solid #ced4d8;
	color: #748089;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
}
#back-to-top:hover {
	background: #5462ba;
    border: 1px solid #5462ba;
	color: #ffffff;
}
#back-to-top.show {
    opacity: 1;
}
.beta-badge,.beta-badge1 {
	background: #ff2332;
	padding: 1px 5px;
	border-radius: 3px;
	font-size: 10px;
	color: #ffffff;
	font-weight: 400;
	display:inline;
	text-transform:uppercase;
	position:relative;
	top:-1px;
}
.beta-badge1{
	font-size: 12px;
	position:relative;
	top:-2px;
}
@media (min-width:992px){
.login-btn-outline,
a.login-btn-outline
{ padding: 8px 20px !important; background:transparent !important;  border-radius: 5px; display:inline-block; border:solid 1px #a19cac;}
.login-btn-outline:hover,a.login-btn-outline:hover,
.login-btn-outline:focus,a.login-btn-outline:focus
{background-color: #5462ba; color: #ffffff; border-color: #5462ba; box-shadow: none; outline: none;}
}


/* Affiiate Header css*/
.affiliate-panel-header.saglus-header .saglus-nav .seprate-line,
.affiliate-panel-header.saglus-header.bg-navbar  .saglus-nav .seprate-line{
	width: 2px;
	height: 30px;
	background: #fff;
	float: left;
	position: relative;
	margin: 0px 7px 0px 25px;
}
.affiliate-panel-header.saglus-header.bg-navbar  .saglus-nav .seprate-line{
	background: #34303f;
}
@media (max-width: 767px){
.affiliate-panel-header.saglus-header .saglus-nav .navbar-nav .nav-item,
.affiliate-panel-header.saglus-header.bg-navbar .saglus-nav .navbar-nav .nav-item {
    padding: 12px 7px;
}
.affiliate-panel-header.saglus-header .saglus-nav .navbar-nav  li:last-child.nav-item,
.affiliate-panel-header.saglus-header.bg-navbar .saglus-nav .navbar-nav li:last-child.nav-item {
    padding-right: 0px;
    padding-left: 0px;
}
.affiliate-panel-header.saglus-header .saglus-nav .seprate-line,
.affiliate-panel-header.saglus-header.bg-navbar  .saglus-nav .seprate-line{
	margin: 0px 2px 0px 9px;
	height:20px;
}
}
@media (max-width: 991px){
.affiliate-panel-header.saglus-header {
    height: 65px;
}
.affiliate-panel-header.saglus-header .saglus-nav .nav-link img.profile-pic {
    width: 45px;
    min-width: 45px;
    height: 45px;
    min-height: 45px;
    border-radius: 50%;
    max-height: 45px;
    min-height: 45px;
    max-width: 100%;
}
.affiliate-panel-header.saglus-header .saglus-nav .navbar-nav .nav-link {
    font-weight: 500;
    padding: 0px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.affiliate-panel-header.saglus-header.bg-navbar .saglus-nav .navbar-nav .nav-link {
    font-weight: 500;
    padding: 0px;
    color: #34303f;
    text-decoration: none;
    font-size: 12px;
}

}
@media (min-width:768px) and (max-width: 991px){
.affiliate-panel-header.saglus-header .saglus-nav .navbar-nav .nav-link {
	font-weight: 500;
	padding: 0px;
	color: #cac5d5;
	text-decoration: none;
	font-size: 18px;
}
.affiliate-panel-header.saglus-header.bg-navbar .saglus-nav .navbar-nav .nav-link {
	font-weight: 500;
	padding: 0px;
	color: #34303f;
	text-decoration: none;
	font-size: 18px;
}
}