html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

a,
a:hover {
    text-decoration: none;
}

.text-shadow {
    text-align: center;
    text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
}

.white-clr,
a.white-clr {
    color: #ffffff;
}

.orange-clr {
    color: #fb954a;
}

.blue-clr {
    color: #682af1;
}

.black-clr {
    color: #100f12;
}
.gradient-clr {
    background: #7617E4;
    background: linear-gradient(to top, #FF992E 0%, #DA1467 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Header Section CSS */

.header-section {
   
    background: #0f0022  url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 30px 0;
    position: relative;
}

.pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: transparent;
    outline: none;
    border-color: #8B27FF;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}

.proudly-section {
    background: #0f0022;
    padding: 30px 0px;
}

@media(min-width:768px) {
    .header-section {
        padding: 40px 0px 100px 0px;
    }
    .pre-heading {
        padding: 15px 30px;
        border-radius: 100px;
    }
    .proudly-section {
        background: #0f0022 url("../images/proudlybg.webp") no-repeat bottom center;
        background-size: cover;
        padding: 100px 0 100px 0px;
    }
}

.second-section {
    padding: 5% 0;
    background: url(https://cdn.oppyotest.com/launches/webgenie/agency/images/topfea-bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
}

.relative {
    position: relative;
}

.kapblue {
    color: #1f49b9;
}

.step-headline {
    background: rgb(255, 109, 30);
    background: -moz-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background: -webkit-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background: linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    padding: 15px 15px 15px 60px;
    border-radius: 5px;
    position: relative;
    display: inline-flex;
    gap: 20px;
}

.step-number {
    box-shadow: 0px 1px 8px 0px rgba(39, 45, 122, 0.34);
    width: 50px;
    height: 50px;
    padding: 9px;
    text-align: center;
    display: inline-block;
    margin-top: -21px;
    margin-left: -64px;
    background: #ffffff;
}

@media(min-width:768px) {
    .step-number {
        width: 66px;
        height: 66px;
        padding: 7px;
        margin-top: -31px;
        margin-left: -85px;
    }
    .step-headline {
        padding: 15px 15px 15px 70px;
    }
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/******** MoneyBack - Section Start*********/

.moneyback-section {
    background: #0f0022;
    padding: 30px 0 30px;
}

@media (min-width:768px) {
    .moneyback-section {
        background: #281873 url(../images/moneyback-bg.webp) no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 100px 0 100px;
        color: #000;
    }
}


/******** MoneyBack - Section End*********/

.footer-section {
    background: #000000;
    padding: 30px 0;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.white-section {
    background: #fff;
    padding: 30px 0;
}

.bonus-section1 {
    background: #f2ecf9;
    padding: 30px 0;
}

.bonus-section2 {
    background: #ffffff;
    padding: 30px 0;
}

.grey-section {
    background: #f2ecf9;
    padding: 30px 0;
}

@media(min-width:768px) {
    .white-section {
        background: url(https://cdn.oppyotest.com/launches/webgenie/agency/images/white-section-bg.webp) no-repeat;
        padding: 100px 0px 100px;
        background-size: cover;
        background-position: top center;
    }
    .bonus-section1 {
        padding: 100px 0px 100px;
        background-size: cover;
        background-position: top center;
    }
    .bonus-section2 {
        padding: 100px 0px 100px;
        background-size: cover;
        background-position: top center;
    }
    .grey-section {
        background: #f2ecf9;
        padding: 100px 0px 100px;
    }
    .footer-section {
        padding: 50px 0px;
    }
}


/*new*/

.up-btn a {
    border-radius: 65px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 10px 20px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    border: 0px;
    background-image: -webkit-linear-gradient( 64deg, #FF992E 0%, #DA1467 100%);
    cursor: pointer;
    transition: all .3s ease;
}

.up-btn-header a {
    border-radius: 65px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 10px 20px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    border: 0px;
    background-image: -webkit-linear-gradient( 64deg, #FF992E 0%, #DA1467 100%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: 0.5s;
}

.up-btn-header a:hover {
    background-image: -webkit-linear-gradient( 64deg, #DA1467  0%, #FF992E 100%);
    text-decoration: none;
    transform: scale(1.03);
}

.up-btn a:hover {
    transition: all .3s ease;
    background-image: -webkit-linear-gradient( 64deg, #DA1467  0%, #FF992E 100%);
}

@media (min-width:768px) {
    .up-btn a {
        padding: 35px 30px;
    }
    .up-btn-header a {
        padding: 35px 30px;
    }
}


/*Table CSS Start*/

.tablebox2 {
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #b6b3bc;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    background: #281873;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

ul.vgreytick {
    padding: 0px;
    margin: 0;
}

ul.vgreytick li {
    background: url(https://cdn.oppyotest.com/launches/webgenie/agency/images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
}

ul.vgreytick li:nth-child(odd) {
    background-color: #f2ecf9;
}

ul.vgreytick li:nth-child(even) {
    background-color: #ffffff;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px;
    margin: 0;
}

ul.grey-tick-last li {
    background: url(https://cdn.oppyotest.com/launches/webgenie/agency/images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    color: #ffffff;
    background-position: 15px 22px;
    line-height: 150%;
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #06163ead;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: transparent;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

.tbbg2 {
    background: #ffffff;
    padding: 30px 30px 50px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #eef1f9;
}

.tbbg3 {
    padding: 0px 0px 30px 0px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}

.most-popular {
    background: url(https://cdn.oppyotest.com/launches/webgenie/agency/images/most-pop.webp) no-repeat center;
    padding: 15px 30px 30px 30px;
    background-size: 100% 100%;
    margin-top: -40px
}

@media (min-width: 768px) {
    .tbbg3 {
        padding: 0px 0px 46px 0px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg2 {
        padding: 50px 30px 30px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 25px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 25px;
    }
    .mt-sm-90 {
        margin-top: 90px !important;
    }
    .mt-sm-110 {
        margin-top: 105px !important;
    }
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.myfeatureslast-com {
    float: left;
    padding: 0px 30px 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}

@media(min-width:768px) {
    .myfeatureslast {
        padding: 0px 20px 30px;
    }
}


/*Table CSS Enad*/

a.link {
    color: #337ab7;
}

ul.feature-tick li {
    background: url(https://cdn.oppyotest.com/launches/webgenie/agency/images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 5px 40px;
    background-position: 0px 25px;
    line-height: 150%;
    color: #000
}

.highlight-tb {
    background: -moz-linear-gradient(45deg, #164dba  0%, rgb(87 45 180) 100%);
    background: -webkit-linear-gradient(45deg, #164dba  0%, rgb(87 45 180) 100%);
    background: linear-gradient(45deg, #164dba  0%, rgb(87 45 180) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.highlight-tb1 {
    background-image: -moz-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.list-style-ft li {
    background: url(https://cdn.oppyotest.com/launches/webgenie/agency/images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 10px 5px 40px;
    background-position: 0px 20px;
    line-height: 150%;
    color: #000;
}

.presenting-shape {
    background-color: rgb(251, 149, 73);
    border-radius: 100px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.presenting-shape:before {
    width: 70px;
    height: 1px;
    background: #fcc216;
    position: absolute;
    content: '';
    left: -70px;
}

.presenting-shape:after {
    width: 70px;
    height: 1px;
    background: #fcc216;
    position: absolute;
    content: '';
    right: -70px;
}