html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
    overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #000000;
}



.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.d-inline-flex {
    display: inline-flex;
}

.relative {
    position: relative;
}

@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .xstext-center {
        text-align: center;
    }
}


.border-video {
    border-radius: 20px;
}

.affiliate-link-btn a {
    border-radius: 3px;
    background-color: rgb(252, 109, 171);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 600;
}

.calendar-wrap {
    border-radius: 15px;
    background-color: rgb(240, 236, 255);
    padding: 10px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.calendar-wrap:before {
    content: '';
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve1.webp) no-repeat;
    position: absolute;
    z-index: 1;
    top: -14px;
    left: -18px;
    background-size: contain;
    width: 161px;
    height: 121px;
    z-index: -1;
}

.calendar-wrap:after {
    content: '';
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve2.webp) no-repeat;
    position: absolute;
    z-index: 1;
    right: -18px;
    bottom: -10px;
    background-size: contain;
    width: 282px;
    height: 38px;
    z-index: -1;
}

.calendar-wrap-inline {
    border-width: 1px;
    border-color: rgb(11, 11, 49);
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #08041e;
}

.list-head {
    list-style: none;
}

.list-head li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/list-tick.webp) no-repeat;
    padding: 8px 0px 8px 30px;
    background-position: 0px 11px;
    text-align: left;
    border-bottom: solid 1px rgb(11, 11, 49);
}

.list-head li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.list-head li:first-child {
    padding-top: 0px;
}

@media (min-width:768px) {
    .affiliate-link-btn a {
        padding: 12px 25px;
        font-size: 20px;
    }
    .affiliate-link-btn a:hover {
        background: #f2579a;
        color: #ffffff;
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
}


/* Header Section Css End */

/* CTA Button Start */

a.cta-link-btn {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 6px;
    background-color: rgb(252, 109, 171);
    transition: all 0.5s;
}

a.cta-link-btn:hover {
    background: #f2579a;
    color: #ffffff;
    text-decoration: none;
    transform: scale(1.1);
    transition: all 0.5s;
}

@media (min-width: 768px) {
    a.cta-link-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
}


/* CTA Button End*/


/* Step Section Start */
.step-section {
	padding: 30px 0px;
	background:url(https://cdn.oppyo.com/launches/yodrive/special/step-section.webp) center center;
	background-size: cover;
}
.step-box{
	padding: 0px 20px 30px 20px;
	overflow: hidden;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 30px 0px rgba(32, 41, 59, 0.1);
	height: 100%;
  }
  .step-title{
	background-color: rgb(255, 195, 50);
	padding: 9px 30px;
	color: #000000;
	text-transform: uppercase;
	display: inline-block;
	margin-left: -20px;
  }
  .step-icon{
	  border-radius: 20px;
	  background:#e6e8ec;
	  min-width: 100px;
	  min-height: 100px;
	  display: inline-flex;
	  align-items: center;
	  justify-content: center;
  }
  .step-arrow{
	  position: absolute;
	  right: -50px;
	  top: 45%;
	  z-index: 9;
  }

@media (min-width: 768px) {
	.step-section {
		padding:100px 0px;
	}
}

/* Step Section End */

ul.features-list {
    margin: 0px;
    padding: 0px;
}
ul.features-list li {
    background: url(https://cdn.oppyo.com/launches/yodrive/special/list-tick.webp) no-repeat;
    padding: 0px 0px 25px 40px;
    background-position: 0px 5px;
    list-style: none;
}

/* List Section Start */
.list-section {
    padding: 30px 0px;
    background: #eef5ff;
}

@media(min-width:768px){
    .list-section{padding: 100px 0px 150px 0px;
        background: url(https://cdn.oppyo.com/launches/yodrive/special/list-section-bg.webp) no-repeat center bottom;
        background-size: cover;} 

}

/* List Section End */

 /* Technology-section */
 .technology-sec{
    padding: 30px 0px; 
    background-color: #182d5a;
    
}
@media(min-width:768px){
    .technology-sec{
		padding: 100px 0px 150px 0px;
        background:#fff url(https://cdn.oppyo.com/launches/yodrive/special/technology-bg.webp) no-repeat bottom center; 
        background-size: cover;         
    }
}
/* Technology-Section-End */

/* Proof Section Start */
.proof-section {
	padding: 30px 0px;
	background: #ffffff;
}

@media (min-width: 768px) {
	.proof-section {
		padding: 50px 0px 100px 0px;
	}
}
/* Proof Section End */


/* Letsface Section Start */
.letsface-sec{
    padding:0px 0px 30px 0px; 
    background: #fff url(https://cdn.oppyo.com/launches/yodrive/special/letsface-bg.webp) no-repeat center center;
    background-size: cover; 
}

.letsface-arrow {
    position: absolute;
    top: 104px;
    z-index: 9;
    left: 40px;
}
.letsface-arrow1{
    position: absolute;
    top: 104px;
    z-index: 9;
    right: 40px;
}
.letsface{
    border-radius: 10px;
    background-color:#ffc332;
    display:inline-flex;
	align-items: center;
	justify-content: center;
    padding: 13px 20px;
    position: relative;
    z-index: 1;
}
.letsface-box{
    border-radius: 10px;
    background-color:#dce3ed;
    display:inline-flex;
	align-items: center;
    padding: 30px 20px;
    position: relative;
    z-index: 1;
    flex-direction: column;
    
}
@media(min-width:768px){
    .letsface-sec{
        padding:0px 0px 100px 0px ;
    }
    .letsface{
		margin: 0px 15px;
	}
    .letsface::before{
		content: '';
		position: absolute;
		left: -17px;
		background-color:#ffc332;
		width: 10px;
		height: 80%;
		z-index: -1;
		border-radius: 10px 0px 0px 10px;
    }
    .letsface::after{
        content: '';
		position: absolute;
		right: -17px;
		background-color:#ffc332;
		width: 10px;
		height: 80%;
		z-index: -1;
		border-radius: 0px 10px 10px 0px;
    }
    .letsface-box {
        flex-direction: row;
		width: 100%;
    }
}
 /* Letsface Section End */

  /* Profit Business Section */
  .profit-section{
    padding: 30px 0px; 
    background: #eef5ff url(https://cdn.oppyo.com/launches/yodrive/special/profit-bg.webp) center center no-repeat;
	background-attachment: fixed;    
}
@media(min-width:768px){
    .profit-section{
		padding: 100px 0px;     
    }
}
 /* Profit Business Section End */


/* Thatsall Section Start */

.thatsall-section {
    padding: 0px 0px 230px 0px;
    background: #030b0f url(https://cdn.oppyo.com/launches/viddeyo/special/here-are-some.svg) no-repeat center center;
    background-size: cover;
}

.content-box {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 0px rgb(12 11 17 / 15%);
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;
}

.content-box .stats {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    min-width: 120px;
    justify-content: center;
    text-align: center;
    line-height: 58px;
    background-image: -moz-linear-gradient( -45deg, rgb(70, 24, 227) 0%, rgb(158, 40, 182) 51%, rgb(245, 55, 137) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(70, 24, 227) 0%, rgb(158, 40, 182) 51%, rgb(245, 55, 137) 100%);
    background-image: -ms-linear-gradient( -45deg, rgb(70, 24, 227) 0%, rgb(158, 40, 182) 51%, rgb(245, 55, 137) 100%);
}

.content-box .stats.flex-wrap {
    flex-direction: column;
    line-height: 40px;
}

.content-box .stats span {
    font-size: 28px;
}

.content-box .title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
}

.number-shape {
    position: relative;
    display: inline-block;
    width: auto;
}

.text-element {
    display: inline-block;
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/textelement.webp) no-repeat center center;
    background-size: 100% 100%;
}

.every-business-shape {
    background: #fc6dab;
    padding: 20px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .thatsall-section {
        padding: 0px 0px 100px 0px;
    }
    .f-md-70 {
        font-size: 70px;
    }
    .that-arrow {
        position: absolute;
        top: -70px;
        right: -80px;
    }
    .content-box .title {
        font-size: 24px;
        line-height: 34px;
    }
    .arrow1 {
        position: absolute;
        top: 33%;
        left: 11px;
    }
    .text-element {
        padding: 8px 45px;
    }
}

@media (min-width: 1600px) {
    .that-man {
        position: absolute;
        bottom: 0px;
        right: -10px;
        display: block !important;
    }
    .that-camera {
        position: absolute;
        top: 50%;
        left: 5%;
        display: block !important;
    }
}


/* Thatsall Section End */


/* Thatsall Section Start */

.compact-section {
    padding: 30px 0px;
    background: #f4f3f9 url(https://cdn.oppyo.com/launches/viddeyo/special/second-section.webp) no-repeat center center;
    background-size: cover;
}

.compact-section .box {
    background: #ffffff;
    float: left;
    position: relative;
    padding: 15px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 25px 0px rgb(12 11 17 / 15%);
    height: 100%;
}

.compact-section .box .title {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 22px;
}

.compact-section .box .title:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 61%;
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/arrow-down.webp) no-repeat center center;
    width: 64px;
    height: 95px;
}

@media (min-width: 768px) {
    .compact-section {
        padding: 100px 0px;
    }
    .compact-section .box .title {
        font-size: 24px;
    }
    .gx-6 {
        --bs-gutter-x: 5rem;
    }
}


/* Compact Section End */


/* Problem there Section Start */

.problem-bg-section {
    background: #ffbdbd url(https://cdn.oppyo.com/launches/viddeyo/special/problem-sec.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px;
}

.problem-bg-section1 {
    background: #fff1f1;
    padding: 30px 0px;
}

.problem-bg-section2 {
    padding: 30px 0px;
    background: #ffbdbd url(https://cdn.oppyo.com/launches/viddeyo/special/problem-bg1.webp) no-repeat top center;
    background-size: cover;
}

.converting-shape1 {
    background-color: #ff2323;
    padding: 10px;
    display: inline-block;
    border-radius: 65px;
    margin-top: 10px;
}

.butnot-shape {
    background-color: rgb(110, 68, 255);
    padding: 10px 15px;
    display: inline-block;
    border-radius: 65px;
    margin-top: 10px;
}

.problme-area-shape,
.problme-area-shape1 {
    width: 100%;
    float: left;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    margin-top: -20px;
}

.z-index9 {
    z-index: 9;
}

.problme-shape1 {
    border-radius: 20px;
    background-color: #ffffff;
    width: 100%;
    float: left;
    padding: 15px;
}

@media (min-width: 768px) {
    .converting-shape1 {
        border-radius: 65px;
        padding: 15px 40px 15px 40px;
    }
    .butnot-shape {
        border-radius: 65px;
        padding: 15px 40px 15px 40px;
    }
    .problem-bg-section {
        padding: 100px 0px 150px 0px;
    }
    .problem-bg-section1 {
        padding: 50px 0px 50px 0px;
    }
    .problem-bg-section2 {
        padding: 100px 0px;
    }
    .problme-area-shape {
        width: calc(100% + 70px);
        float: left;
        padding: 30px 30px 30px 70px;
        margin-left: -70px;
        z-index: 0;
        margin-top: 0px;
    }
    .problme-area-shape1 {
        width: calc(100% + 70px);
        float: left;
        padding: 30px 70px 30px 30px;
        margin-right: -70px;
        z-index: 0;
        margin-top: 0px;
    }
    .f-md-70 {
        font-size: 70px;
    }
    .problme-shape1 {
        padding: 30px;
    }
}


/* Problem there Section End */


/* Proudly there Section Start */
.proudly-sec {
    background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/special/proudly-bg.webp) center center no-repeat;
    background-size: cover;
    padding:30px 0px 60px 0px;
}
.proudly-list-bg {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
    padding: 15px;
}
ul.proudly-list {
    margin: 0px;
    padding: 0px;
}
ul.proudly-list li {
    background: url(https://cdn.oppyo.com/launches/yodrive/special/favicon.webp) no-repeat;
    padding: 0px 0px 25px 45px;
    background-position: 0px -3px;
    list-style: none;
}

ul.proudly-list li:last-child {
    padding-bottom: 0px;
}
@media (min-width: 768px){
.proudly-sec {   
    padding:100px 0px;
}
.proudly-list-bg {
	padding: 30px;
}
}
/* Proudly Section End */


.new-steps-bg {
    background: #f4f3f9 url(https://cdn.oppyo.com/launches/viddeyo/special/second-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .new-steps-bg {
        padding: 100px 0px 100px 0px;
    }
}

/* Testimonals Section Start */
.testimonial-section {
    background: url(https://cdn.oppyo.com/launches/yodrive/special/testimonial-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
}

.testimonial-section2 {
	background:url(https://cdn.oppyo.com/launches/yodrive/special/testimonial-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
}

@media (min-width:768px) {
	.testimonial-section2 {
		padding: 100px 0px;
	}

	.testimonial-section {
		padding:0px 0px 100px 0px;
	}
}

/* Testimonals Section End */
img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

/* Socideck Section Start*/
.grand-logo-bg {
    background: #ffffff;
    padding: 2% 0;
}
.socideck-banner
{
    padding: 30px 0px;
    background: #56c0be url(https://cdn.oppyo.com/launches/yodrive/special-bonus/socideck-mainbg.webp) no-repeat;
    color: #FFF;
    background-size: cover;
}
.socideck-highlite
{
    background: url(https://cdn.oppyo.com/launches/yodrive/special-bonus/socideck-highlight2.webp) no-repeat center center; 
    background-size: cover;
}
@media(min-width:768px){
    .socideck-banner{padding: 100px 0px;}
}
/* Socideck Section End*/

/* ProfitFox Section Start*/
.profitfox-banner-section
{
    padding: 30px 0px;    
    background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/special-bonus/profitfoxbanner-bg.webp) no-repeat top center;
    background-size: cover;
    position: relative;
}
.profitfox-title
{    
    background: #ffcc00;
    padding: 10px;
}
.grey-clr
{
    color: #424242;
}
.pink {
    color: #fd3768;
}
.underline-pink {
    border-bottom: solid 2px #fd3768;
}
.profitfox-features li{
    background: url(https://cdn.oppyo.com/launches/yodrive/special-bonus/profitfox-arrow.webp) no-repeat;
    padding: 0px 0px 5px 40px;
    background-position: 0px 5px;
    list-style: none;}

@media(min-width:768px){
    .profitfox-banner-section{padding:0px 0px 100px 0px;}
    .profitfox-title{background: url(https://cdn.oppyo.com/launches/yodrive/special-bonus/profitfox-strip-title.webp) no-repeat center center;
        background-size: cover;
        padding: 10px;}
}
/* ProfitFox Section End*/

/* LeadFunnelCloud Section Start*/
.leadfunnelcloud-banner{
    padding: 30px 0px;
    background: url(https://cdn.oppyo.com/launches/yodrive/special-bonus/leadfunnelcloud-newbg.webp) #162637 no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.qcolor {
    color: #008aff;
}
.lstripbg2 {
    background: url(https://cdn.oppyo.com/launches/yodrive/special-bonus/layer2.webp) no-repeat;
    background-size: contain;
    padding: 0px 10px;
}
.lstripbg3 {
    background: url(https://cdn.oppyo.com/launches/yodrive/special-bonus/layer3.webp) no-repeat;
    background-size: contain;
    padding: 0px 7px;
}
.fbox {
    background: #fff;
    border: 2px solid #e3e3e3;
    border-radius: 20px;
    padding: 20px;
}
.fbox ul li{background: url(https://cdn.oppyo.com/launches/yodrive/special-bonus/leadfunnelcloud-check.webp) no-repeat;
    padding: 0px 0px 15px 40px;
    background-position: 0px 3px;
    list-style: none;}
.pcolorline {
    border-bottom: 1px solid #008aff;
}
.leadcloud-features{
    padding: 30px 0px;
}
.leadcloud-features li{
    background: url(https://cdn.oppyo.com/launches/yodrive/special-bonus/leadfunnelcloud-checkmark.webp) no-repeat;
    list-style: none;
    padding-bottom: 25px;
    padding-left: 40px;
    background-position: 2px 1px;
    line-height: 28px;
}

@media(min-width:768px){
    .leadfunnelcloud-banner{padding:100px 0px 180px 0px;
        }
    .leadcloud-features{padding: 30px 0px 0px 0px;}    
}
/* LeadFunnelCloud Section End*/

/* Viddeyo Header Section Css Start */
.viddeyo-header-section {
	background: #6e44ff;
	padding: 30px 0px 230px 0px;
}
.viddeyo-header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}
.viddeyo-header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
}
.viddeyo-header-section ul.leader-ul li a {
	color: #ffffff;
}
.viddeyo-preheadline {
    border-style: solid;
    border-width: 6px;
    border-color: #603ddb;
    background: #08041e;
    display: inline-block;
    border-radius: 65px;
    padding: 10px 35px;
}
span.highlight-viddeyo {
    border-bottom: solid 4px #fc6dab;
}

@media (min-width:768px) {
	.viddeyo-header-section {
		background: #6e44ff url(https://cdn.oppyo.com/launches/viddeyo/special/header-bg.webp);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 40px 0px 280px 0px;
	}
}
/* Header Section Css End */
.viddeyo-second-section {
	padding:0px 0px 30px 0px;
}
ul.viddeyo-features-list {
	margin:0px;
	padding:0px;
}
ul.viddeyo-features-list li {
	background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
	padding: 0px 0px 20px 45px;
	background-position: 0px 3px;
	list-style:none;
}
ul.viddeyo-features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}
.viddeyo-header-list-block {
	border-radius: 20px;
	padding: 40px 20px;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	margin-top: -200px;
	background:url(https://cdn.oppyo.com/launches/viddeyo/jv/awesome-shape.png) no-repeat center center;
	background-size:cover;
	
}
/* Viddeyo Header Section Css End */



/* WebPrimo Header CSS Start */

.WebPrimo-header-section {
    background: rgb(0, 68, 205);
    background: -moz-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0044cd", endColorstr="#00165f", GradientType=1);
    padding: 30px 0px;
}

.WebPrimo-header-section ul.leader-ul,
.main-header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 12px;
}

.WebPrimo-header-section ul.leader-ul li,
.main-header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 300;
}

.WebPrimo-header-section ul.leader-ul li a,
.main-header-section ul.leader-ul li a {
    text-decoration: none;
    color: #ffffff;
}

.WebPrimo-highlihgt-heading {
    position: relative;
    background: #000000;
    padding: 10px 1px;
    border-radius: 75px;
    display: inline-block;
    color: #f68a1e;
}
.WebPrimo-higlight-text{
	background: url(https://cdn.oppyo.com/launches/yodrive/special-bonus/viddeyo-post-head-sep.webp) no-repeat bottom center;
	display:inline-block;
	background-size:contain;
}
.WebPrimo-key-features-bg {
    padding:20px;
    position: relative;
    width: 100%;
    text-align: center;
    background:rgba(255,255,255,0.05);
	border-radius:15px;
}
.WebPrimo-list-section {
    padding: 30px 0px;
    background: #ffffff;
}
.webprimo-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}

.webprimo-orange-list li {
    padding: 12px 20px 12px 50px;
    position: relative;
}

.webprimo-orange-list li::before {
    content: url(https://cdn.oppyo.com/launches/yodrive/special-bonus/webprimo-red-tick.webp);
    position: absolute;
    left: 0px;
    top: 15px;
}
.webprimo-header-bordered-list li {
    list-style: none;
}

.webprimo-header-bordered-list li:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}

@media (min-width: 768px) {
   .WebPrimo-header-section {
        background: #0043cc url(https://cdn.oppyo.com/launches/yodrive/special-bonus/webprimo-header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 50px 0px 160px;
    }
   .WebPrimo-highlihgt-heading {
    position: relative;
    padding: 8px 60px;
   }
   .WebPrimo-list-section {
        padding:0px 0px 70px 0px;
    }
    .webprimo-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }
    .webprimo-list-section {
        padding:0px 0px 70px 0px;
    }
    .webprimo-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }}
/* WebPrimo Header Section Css End */


/* Affiliate Ninja Pro Header Section Css Start */
.AffiliateNinjaPro-banner{
   background:url(https://cdn.oppyo.com/launches/yodrive/special-bonus/affiliateninjapro-bg.webp) #0570fb no-repeat; 
   background-size:cover;
   width:100%;
   background-position:center;
   }

@media(min-width:240px){
	.AffiliateNinjaPro-banner{padding:3% 2% 6%;}
}
@media(min-width:768px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
	.banner-block{padding:1% 3% 3%;}
}
@media(min-width:992px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
}
@media(min-width:1200px){
	.AffiliateNinjaPro-banner{padding:2% 2% 6%;}
}
@media(min-width:1500px){
	.AffiliateNinjaPro-banner{padding:6% 2% 7%;}
	.banner-block{padding:2% 3% 3%;}
}
.lightcolor {
    color: #ffea00;
}

/* Affiliate Ninja Pro Header Section Css End */

@media(min-width:768px){
.px-md80{padding-left: 80px!important; padding-right: 80px !important;}
}

/* Jobin Header Section Css Start */

.jobiin-header-section {
    background: #141516 url(https://cdn.oppyo.com/launches/webpull/special/jobiin-header-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 230px 0px;
    position: relative;
}

@media(min-width:768px) {
    .jobiin-header-section {
        padding: 40px 0px 250px 0px;
    }
}

.jobiin-header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.jobiin-header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.jobiin-header-section a.affiliate-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    line-height: normal;
    color: #000000;
    font-weight: 600;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
}

.jobiin-header-section a.affiliate-link-btn:hover {
    transform: scale(1.05);
    transition: all .3s ease;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #c4a300;
    }
    40% {
        box-shadow: 0 0 20px #c4a300;
    }
    60% {
        box-shadow: 0 0 20px #c4a300;
    }
    100% {
        box-shadow: 0 0 -10px #c4a300;
    }
}

@media(min-width:768px) {
    .jobiin-header-section a.affiliate-link-btn {
        padding: 10px 20px;
        font-size: 22px;
    }
}

.jobiin-header-section .headline-highlight {
    color: #ffb80f;
}

@media (min-width: 768px) {
    .jobiin-header-section .headline-highlight {
        background: url(https://cdn.oppyo.com/launches/jobiin/special/heading-shape.svg) no-repeat center center;
        background-size: cover;
        display: inline-block;
        color: #000000;
        padding: 8px 53px 8px 26px;
    }
}


.jobiin-second-section {
    padding: 0px 0px 30px 0px;
}

@media(min-width:768px) {
    .jobiin-second-section {
        padding: 0px 0px 100px 0px;
    }
}

.z-index-9 {
    z-index: 9;
}

.jobiin-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin-top: -200px;
    background: #ffffff;
}

@media(min-width:768px) {
    .jobiin-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    }
}

.jobiin-cta-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 5px;
    color: #000000;
    font-weight: 800;
    font-size: 20px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
    transition: all 0.5s;
}

.jobiin-cta-btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

@media(min-width:768px) {
    .jobiin-cta-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
        display: inline-block;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
