@import url(style.css);
@import url(timer.css);

/* Main Header Section CSS */

/* Affiliate Bonus Buy Button */

a.bonusbuy-btn {
    border-radius: 15px;
    background-image: -webkit-linear-gradient( -90deg, rgb(215,215,215) 0%, #f133ba 0%, #e82586 100%);
    box-shadow: 0px 22px 50px 0px rgb(134 42 218 / 10%);
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    padding: 5px 20px;
    font-weight: 700;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
}

a.bonusbuy-btn:hover,
a.bonusbuy-btn:focus {
    transition: all .3s ease;
    background-image: -webkit-linear-gradient( -90deg, rgb(215,215,215) 0%, #e82586 0%, #f133ba 100%);
}

/* Bonus Header Section bg Start Main Css */

.bonus-header {
    padding: 30px 15px;
    background: rgb(255, 81, 168);
    color: #fff;
}

.bonus-title-bg {
    background-image: -moz-linear-gradient( 0deg, #c15fda 0%, #7e42d8 100%);
    background-image: -webkit-linear-gradient( 0deg, #c15fda 0%, #7e42d8 100%);
    background-image: -ms-linear-gradient( 0deg, #c15fda 0%, #7e42d8 100%);
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    color: #fff;
}
.section-bonus {
    padding: 30px 0px;
}
.bonus-title-color {
    color:rgba(237, 40, 61, 1);
}
.bonus-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/kap-tick.webp) no-repeat;
    background-position: 0 2px;
    padding-left: 3rem;
    padding-bottom: 25px;
    list-style-type: none;
}
.bonus-list li:last-child {
    padding-bottom: 0px;
}
/* For Header Bg */

.dark-cta-sec {
    padding: 30px 0;
    position: relative;
    z-index: 9999;
    background: rgb(79, 29, 128);
}

.white-dark-cta-sec{
    background-color: #f6f4ff;
    padding: 30px 0;
}

@media(min-width:768px){
    .dark-cta-sec {
        padding: 80px 0;
    }
    .white-dark-cta-sec{
        padding: 80px 0;
    }
    
}

.cta-btn-section {
    padding: 30px 0px;
}
.huge-area {
    padding: 30px 0;
    background: rgb(79, 29, 128);
    color: #fff;
}
.white-section {
    background: rgb(255, 255, 255);
    padding: 30px 15px;
}
@media(min-width:768px) {
    a.bonusbuy-btn {
        font-size: 34px;
        padding: 20px 50px;
        display: inline-block;
        width: auto;
        border-radius: 100px;
    }

    .bonus-header {
        padding: 70px 0px;
    }
    .section-bonus {
        padding: 50px 0px;
    }
    
    .huge-area {
        padding: 50px 0px;
    }
}

/* Media Querry Start */

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/* Exclusive-Section */

.exclusive-bonus {
    background: #c15fda;
    background: -moz-linear-gradient( 0deg, #c15fda 0%, #7e42d8 100%);
    background: -webkit-linear-gradient( 0deg, #c15fda 0%, #7e42d8 100%);
    background: -ms-linear-gradient( 0deg, #c15fda 0%, #7e42d8 100%);
    padding: 30px 15px;
}

.list-head {
    list-style: none;
}
.list-head li {
    background: url(../images/list-head.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}

.list-head li:last-child {
    border-bottom: 0px;
}

.border-video {
	border-radius: 20px;
}

.relative {
	position: relative;
}

@media (max-width: 767px) {

	.mx-xs-auto,
	.mx-xs-center {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

