html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #252525;
}

.orange-clr {
	color: #F2A736;
}
.pink-clr{
	color: rgb(255, 81, 168);
}
.yellow-clr{
	color: rgb(255, 228, 0);
}
.responsive-video {
	position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

/* Header CSS */

.second-section {
    padding: 0 0 30px 0;
    background: #fff;
}
@media(min-width:768px){
	.second-section {
		padding: 0 0 100px 0;
		background: #fff url(../images/list-section-bg.webp) no-repeat center center;
		background-size: cover;
	}
}
.feature-wrap {
	padding: 0px 15px 30px 15px;
    margin: 0;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgb(0 0 0 / 15%);
    border-radius: 0px 0px 20px 20px;
}

.feature-list {
	background: url(../images/orange-tick.webp) no-repeat;
    background-position: 10px 32px;
    padding: 15px 15px 15px 64px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    background-color: #FFEED6;
    display: flex;
    align-items: center;
    border: 3px solid #FFFFFF;
}

@media(min-width:768px) {
	.feature-wrap {
		padding: 40px 30px 80px 30px;
	}
}

@media(max-width:767px) {
	.feature-list img {
		max-height: 30px;
		margin-top: 5px;
	}
}


.main-header {
	background: url(../images/vidmaze-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px;
	position: relative;
}

.preheadline {
	display: inline-block;
    padding: 15px;
    background: rgb(255, 89, 128);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: solid 2px rgba(240, 132, 132, 0.25);
}

a.affiliate-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	color: #ffffff !important;
	font-weight: 600;
	transition: all .3s ease;
    background: #F2A737;
    border-radius: 15px;
}

a.affiliate-link-btn:hover {
	transition: all .3s ease;
    background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}

@media(min-width:768px) {
	a.affiliate-link-btn {
		padding: 15px 25px;
		font-size: 18px;
	}

	.main-header {
		padding: 40px 0px 100px 0px;
	}


	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}

	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}

}

/* Header End */
.second-section {
    padding: 0 0 30px 0;
    background: #fff;
}
@media(min-width:768px){
	.second-section {
		padding: 0 0 100px 0;
		background: #fff url(../images/list-section-bg.webp) no-repeat center center;
		background-size: cover;
	}
}
.feature-wrap {
	padding: 20px 15px;
    margin: 0;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgb(0 0 0 / 15%);
    border-radius: 0px 0px 20px 20px;
}

.feature-list {
	background: url(../images/orange-tick.webp) no-repeat;
    background-position: 10px 32px;
    padding: 15px 15px 15px 64px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    background-color: #FFEED6;
    display: flex;
    align-items: center;
    border: 3px solid #FFFFFF;
}

@media(min-width:768px) {
	.feature-wrap {
		padding: 40px 30px 80px 30px;
	}
}

@media(max-width:767px) {
	.feature-list img {
		max-height: 30px;
		margin-top: 5px;
	}
}

.demo-section{
	padding: 30px 0px;
	background: #f1f1f1;
}
@media(min-width:768px){
	.demo-section{
		padding: 100px 0px;
		background: #111111 url(../images/steps-bg.webp) center bottom;
    	background-size: cover;
	}
}

/* Affiliate-Header-Section  Css Start */
.affiliate-header-section{
	background: url(../images/affiliate-bg.png) #0570fb no-repeat center bottom;
    background-size: cover;
	padding: 30px 0px;
}
.affiliate-header-section .lightcolor {
    color: #ffea00;
}
@media(min-width:768px){
	.affiliate-header-section{padding: 100px 0px;}
}
/* Affiliate Header Sectio End */

.agenciez-header-section {
    background: #3c0f97;
    padding: 30px 0px;
}
.agenciez-header-section .game-changer{
	background: #84f845;
    padding: 12px 30px;
    display: inline-block;
}
.agenciez-header-section .green-clr{
	color: #84f845;
}
.agenciez-header-section .highlihgt-heading{
	background: #400ba9;
    padding: 15px 12px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: inline-block;
}
.agenciez-header-section li {
    list-style: none;
    background: url(../images/agencies-list-icon.png) no-repeat;
    background-position: 0 7px;
    padding: 0 0 12px 25px;
    border-bottom: 1px solid #6923f5;
    margin-top: 12px;
}
@media(min-width:768px){
	.agenciez-header-section{
		background: #ffffff url(../images/agenciez-header-bg.png) no-repeat center bottom;
		background-size: cover;
		padding: 50px 0px 160px;
	}
	.agenciez-header-section .game-changer {
		padding: 13px 43px;
		transform: skew(20deg);
	}
	.agenciez-header-section .highlihgt-heading {
		padding: 40px 40px 50px;
		background: url(../images/agencies-heading-bg.png) no-repeat center center;
		box-shadow: none;
		background-size: 100% 100%;
		border: 0px;
		border-radius: 0px;
	}
}

.profit-mozo-header-section{
	background: #1d2d45;
	padding: 30px 0px;
}
.profit-mozo-inner-section{
	background: #1d2d45;
    background: -moz-linear-gradient(top, #1d2d45 0%, #21385c 50%, #254677 100%);
    background: -webkit-linear-gradient(top, #1d2d45 0%,#21385c 50%,#254677 100%);
    background: linear-gradient(to bottom, #1d2d45 0%,#21385c 50%,#254677 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2d45', endColorstr='#254677',GradientType=0 );
	padding: 30px 15px;
}
.profit-mozo-inner-section .profitcolor {
    color: #00ccff;
}
.profit-mozo-inner-section .orange {
    color: #f5821f;
}
.profit-mozo-inner-section .underline {
    text-decoration: underline;
}
.profit-mozo-salesarea{
	background: #fff;
	padding: 30px 0px;
}
.profit-mozo-salesarea .bluecolor{
	color: #1d2d45;
}
.profit-mozo-salesarea .themecolor {
    color: #00ccff;
}
.profit-mozo-salesarea .profitcolor {
    color: #00ccff;
}
.profit-mozo-bluestrip {
    background: #00ccff;
    padding: 2% 0;
    width: 100%;
    color: #1d2d45;
}
.profit-mozo-presentingbg {
    background: url(../images/profit-mozo-productbg.png) #fff no-repeat;
    padding: 30px 0px;
    color: #23233a;
    background-size: cover;
}
@media(min-width:768px){
	.profit-mozo-header-section{
		padding: 100px 0px;
	}
	.profit-mozo-inner-section{
		width: 95%;
		margin: auto;
		padding: 0px 0px 100px 0px;
	}
	.profit-mozo-presentingbg {
		padding: 100px 0px;
	}
	.profit-mozo-salesarea{
		padding: 100px 0px;
	}
}


.entertainerz-header-section{
	background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 30px 0 30px 0px;
}
.entertainerz-header-section .orange-clr{
    color: #ffca5a;
}
.entertainerz-header-section .list-head li {
    background: url(../images/entertainerz-point-icon.webp) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 8px;
    text-align: left;
	border-bottom: 0px;
}
@media(min-width:768px){
	.entertainerz-header-section{
	    background: #091274 url(../images/entertainerz-header-bg.webp);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 40px 0px 100px 0px;
	}
}

.feature-shape{
	padding: 15px;
        display: inline-block;
        color: #000;
        border-radius: 25px;
        position: relative;
		background-color: rgb(255, 228, 0);
}

@media (min-width: 1600px){
    .feature-shape {
        padding: 15px 85px;
        display: inline-block;
        color: #000;
        border-radius: 25px;
        position: relative;
		background-color: rgb(255, 228, 0);
    }}

   
@media (min-width: 768px){
.feature-shape:after {
    content: '';
    background: url(../images/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}}
.download-btn a{
	border-radius: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    background:#ff2c50;
}
.download-btn a:hover{
	transform: scale(1.1);
}
@media(min-width:768px){
	.download-btn a{
        padding: 15px 30px;
        font-size: 20px;
    }
}