html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

.yellow-clr {
    color: #FFCD00;
}
.white-clr {
    color: #ffffff;
}
.pink-clr{
    color: #F55D87;
}
.blue-clr {
    color: #00aaff;
}

/* Header Section CSS */
.header-section {
    background: url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding: 30px 0px;
}
.pre-heading {
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.10);
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
}
.main-heading {
    background: #fff;
    border-radius: 7px;
    padding: 20px 10px;
}
.black2-clr {
    color: #140014;
}
.red-hat-font {
    font-family: Red Hat Display;
}
@media(min-width:768px) {
    .header-section {
        background-size: cover;
        padding: 40px 0px 100px 0px;
    } 
    .pre-heading {
        padding: 15px 40px;
    }
    .main-heading {
        background: url(../images/main-heading-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 61px 25px 62px 61px;
    }
}

.fifth-section {
	background:#fff url("../images/proudlybg.webp") no-repeat center bottom;
	background-size: cover;
	padding: 60px 0 30px 0px;
}


@media(min-width:768px) {
   
    .fifth-section {
        padding: 130px 0 100px 0px;
    }
}



.white-clr {
    color: #ffffff;
}

.white-blue {
    color: #70abff;
}


.second-sec {
    padding: 30px 0;
	background:#f9f9f9;
}



@media(min-width:768px) {
    .second-sec {
        padding: 100px 0px;
        background:#f9f9f9 url(../images/white-section-bg.png) no-repeat;
        background-position: center center;
    }

}


::-webkit-input-placeholder {
    color: #797979 !important;
}

::-moz-placeholder {
    color: #797979 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

:-moz-placeholder {
    color: #797979 !important;
}


.relative {
    position: relative;
}


.blue-clr {
    color: #0041b5;
}


.blue-clr {
    color: #0041b5;
}


html {
    scroll-behavior: smooth;
}



/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}


.name-box {
    background: #5c6ac4;
    padding: 0px 30px;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.green-clr {
    color: #00ff84;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}


@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }
} 

/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #cacaca;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    background: #200d68;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    position: relative;
}


.tablebox3:before{
	content:'';
	position:absolute;
	background: url(../images/most-popular.png) no-repeat left top;
	min-height:165px;
	min-width:153px;
	left: 0px;
	top: 0px;
}

ul.vgreytick {
    padding: 0px;
    margin: 0;
}

ul.vgreytick li {
    background: url(../images/vgreytick-icon.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
}

ul.vgreytick li:nth-child(odd) {
    background-color: #f2f4fa;
}

ul.vgreytick li:nth-child(even) {
    background-color: #ffffff;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px;
    margin: 0;
}

ul.grey-tick-last li {
    background: url(../images/greentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    color: #ffffff;
    background-position: 15px 22px;
    line-height: 150%;
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #161da2;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #1c098e;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

ul.vgreentick li {
    background: #ffffff url(../images/vgreentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 25px;
    line-height: 150%;
    color: #301541;
}

.tbbg2-text {
    color: #1d7773;
}

.tbbg2 {
    background: url(../images/start-plan-bg.png) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #cacaca;
}

.tbbg3 {
    background:#200d68;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #4600a2;
}


/* .most-popular {
    background: url(../images/most-pop.png) no-repeat center;
    padding: 15px 30px 30px 30px;
    background-size: 100% 100%;
    margin-top: -40px
} */

@media (min-width: 768px) {
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px;
    }
    .mt-sm-170 {
        margin-top: 170px
    }
    .mt-sm-90 {
        margin-top: 90px
    }
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
    border: solid 1px #cacaca;
}


.thanks-button a {
    width: 100%;
    display: inline-block;
    color: #240f75;
}

.thanks-button a:hover {
    text-decoration: none;
}

@media(min-width:768px) {
    .padding-top5 {
        padding-top: 5px;
    }
    /* .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    } */
    .myfeatureslast {
        padding: 30px 20px;
    }
}

.grey-clr {
    color: #c3c3c3;
}


/*Table CSS Enad*/

.grey-section {
    background: #F3EAFF;
    padding: 30px 0;
}

.moneyback-section {
    background: #100370;
    background-size: cover;
    padding: 30px 0;
    color: #ffffff;
}

.license-section {
    background: #fae4c9 url(../images/proudlybg.png) no-repeat center center;
    background-size: cover;
    padding: 5% 0;
}

.bonus-section {
    background: #f2f4fa;
    background-size: cover;
    padding: 30px 0;
}

.table-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .table-section {
        padding: 100px 0;
    }
    .bonus-section {
        background: url(../images/bonus-bg.png) no-repeat;
        background-size: cover;
        background-position: center bottom;
        padding: 70px 0px 100px 0px;
    }
    .moneyback-section {
        background: #100370 url(../images/moneyback-bg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0 120px 0px;
        color: #ffffff;
    }
    .license-section {
        background: #fae4c9 url(../images/proudlybg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
    .mt-sm240 {
        margin-top: 240px;
    }
    .mt-sm0 {
        margin-top: 0px !important;
    }
}

.bonus-count {
    background: #5c6ac4;
    display: inline-block;
    padding: 10px 29px;
    border-radius: 15px;
}

.grey-clr {
    color: #d6d6d6;
}

.promo-icon {
    position: absolute;
    left: 15px;
    top: -20px;
    display: none;
}

.promo-icon1 {
    position: absolute;
    left: 15px;
    top: -20px;
    display: block;
}


/*-------- Responsive ------------*/

@media (min-width:768px) {
    .promo-icon1 {
        position: absolute;
        left: 0px;
        top: -20px;
        display: block;
    }
    .promo-icon {
        position: absolute;
        left: 0px;
        top: -60px;
        display: block;
    }
    .white-section {
        padding: 100px 0;
        background: url(../images/white-section-bg.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .grey-section {
        padding: 100px 0;
    }
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

.black-design {
    background: #0063eb;
    padding: 15px 30px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block
}

.black-design .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}

@media (min-width: 768px) {
    .black-design {
        padding: 15px 60px;
    }
}

.boxes {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
}

ul.bigboxes {
    margin: 0px;
    padding: 0px;
}

.bigboxes li {
    background: url(../images/greentick.png) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
}

ul.bigboxes1 {
    margin: 0px;
    padding: 0px;
}

.bigboxes1 li {
    background: url(../images/greentick.png) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .boxes {
        padding: 50px;
    }
}

.footer-ul li:hover a {
    color: #fff;
}


.up-btn-header a {
    border-radius: 10px;
    background: linear-gradient(0deg, #F55D87 10%, #CE14FD 100%);
    box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.45);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    transition: all .3s ease;
    position: relative;
}
.up-btn-header a:hover {
    background: linear-gradient(0deg, #CE14FD 10%, #F55D87 90%);
    text-decoration: none;
}
@media(min-width:768px) {
    .up-btn-header a {
        font-size: 42px;
        padding: 28px 40px;
    }
}

.warning-section{
	background-color:#ae0a8b;
	padding: 20px 0px;
}
.offer {
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
	flex-direction: column;
}
.kapblue,a.kapblue {
    color: #150de1;
	text-decoration:none;
}
@media (min-width:768px) {
	.offer {
		display: flex;
		align-items: center;
		gap: 15px;
		justify-content: center;
		flex-direction: row;
	}
}