html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 14px;
}
.black-clr {
    color: #000000;
}
.white-clr {
    color: #fff;
}
.blue-gradient {
    background: #459EFF;
    background: linear-gradient(90deg, #459EFF 32.27%, #0ACEE4 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
span.under {
    border-bottom: 4px solid;
}
.under{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #459EFF 32.27%, #0ACEE4 74%);
    border-image-slice: 1;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header-section {
    background: #fff url(../images/header-bg.webp) center bottom no-repeat;
    background-size: cover;
    padding: 30px 0px 40px 0px;
}
.pre-heading {
    background: linear-gradient(90deg, #459EFF 2.09%, #0ACEE4 104.36%);
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    position: relative;
    padding: 10px;
}

@media (min-width: 768px) {
    .header-section {
        padding: 70px 0px 70px 0px;
    }
    .pre-heading {
        padding: 10px 35px 10px 35px;
        border-radius: 40px;
    }
}
.probtn1 a {
    background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}

.probtn1 a::before{
    position: absolute;
    width: 100%;
    height: 44px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}

.probtn1 a:hover {
    transition: all .3s ease;
    background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}

@media (min-width: 768px) {
    .probtn1 a {
        padding: 30px 45px;
        font-size: 32px;
    }
}

/* Second Section Start */

.second-section {
    padding: 0 0 30px 0;
}
.proudly-sec {
    background: url(../images/proudly-shape.webp) no-repeat center center;
    background-size: contain;
    padding: 27px 50px 50px 50px;
    display: inline-block;
    margin-top: -48px;
}
@media(min-width:768px) {
    .second-section {
        padding: 0 0 100px 0;
    }
    .proudly-sec {
        margin-top: -18px;
    }
}

/* Second Section End */

/* Fifth Section Start */

.fifth-section {
    background: #020715;
    background-size: cover;
    padding: 30px 0px;
    position: relative;
}

@media(min-width:768px){
    .fifth-section {
        background: #ffffff url(../images/proudlybg.webp) no-repeat center center;
    background-size: cover;
    padding: 0px 0px 50px 0px;
    }
}

/* Fifth Section End */

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* thats Not All Section Start */

/* thats Not All Section End */

.thats-not-all-section {
    background: #fff;
    background-size: cover;
    padding: 30px 0
}

.one-time-shape {
    padding: 10px;
    background: #224cb0;
    border-radius: 5px
}

@media(min-width:768px){
    .thats-not-all-section {
        padding: 100px 0 100px;
        background: url(../images/agency-upgrade-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .one-time-shape {
        background: url(../images/one-time-shape.webp) no-repeat center center;
        background-size: contain;
        border: 0;
        border-radius: 0;
        padding: 22px 15px 70px
    }
    .f-md-70 {
        font-size: 70px
    }
}

/* Amazing Section Start */

.amazing-software-section1 {
    background: #e5eaf6;
    padding: 30px 0
}

@media(min-width:768px){
    .amazing-software-section1 {
        padding: 100px 0;
    }
    .imahe-h-300 {
        height: 400px
    }
    .imahe-h-250 {
        height: 350px
    }
}

/* Amazing Section End */

/* Grey Section Start */

.grey-section {
    background: #e5eaf6;
    padding: 30px 0
}

@media(min-width:768px) {
    .grey-section {
        padding: 100px 0;
    }
}

/* Grey Section End */

/* White Section Start */

.white-section {
    background: #fff;
    padding: 30px 0
}

@media(min-width:768px){
    .white-section {
        padding: 100px 0;
    }
}

/* White Section End */

/* MoneyBack Guarantee Start */

.moneyback-section {
    padding: 30px 0px;
    background: #101929;
}

@media(min-width:768px) {
    .moneyback-section {
        background: #f3f2fb url(../images/moneyback-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 50px 0 50px 0px;
        color: #ffffff;
    }
}

/* MoneyBack Guarantee End */

/* Bonus Section Start */
.bonus-section {
    background: #e5eaf6;
    background-size: cover;
    padding: 30px 0;

}
@media(min-width:768px){
    .bonus-section {
        background: url(../images/bonus-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 70px 0px 100px 0px;
    }
}

/* Bonus section End */

/* Table Section Start */

.table-section {
    background: #fff;
    padding: 30px 0
}

.tablebox2 {
    background: #fff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #a2a1a3
}

.tbbg2 {
    background: #fff;
    padding: 50px 30px 30px 30px;
    background-size: cover;
    border-radius: 10px 10px 0 0
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101
}

ul.vgreytick {
    padding: 0
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #000
}

ul.vgreytick li:nth-child(odd) {
    background-color: #e5eaf6;
}

ul.vgreytick li:nth-child(even) {
    background-color: #fff
}

ul.vgreytick li:last-child {
    border-bottom: 0
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    color: #000;
    background: #fff;
    border-radius: 0 0 10px 10px;
    border-top: 0
}

.tablebox3 {
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
    position: relative;
    border: solid 1px #0f0f0f;
    background: #163877;
}

.tbbg3 {
    background: #001233;
    background: -moz-linear-gradient(180deg, #001233 0%, #173a7a 100%);
    background: -webkit-linear-gradient(180deg, #001233 0%, #173a7a 100%);
    background: linear-gradient(180deg, #001233 0%, #173a7a 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1);
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0 0;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101
}

.myfeatureslastborder {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    min-height: 69px;
    background: #fff
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #0041b5;
}
.button-shape {
    position: relative;
    background: #e50604;
    padding: 15px 20px;
    color: #fff;
    margin: -10px 10px 10px -10px;
    border-radius: 10px;
}
.but-design-border {
    border: solid 1px #0f0f0f;
    position: relative;
    display: inline-flex;
    border-radius: 10px;
}
@media(min-width:768px){
    .button-shape {
        padding: 15px 30px;
    }
}
@media(min-width:768px){
    .table-section {
        padding: 100px 0;
		background:url(../images/table-bg.webp) no-repeat top center;
        background-size: cover;
    }

    .gx-6 {
        --bs-gutter-x: 4rem
    }

    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }

    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }

    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }

    .myfeatureslast {
        padding: 30px
    }
    
}
.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}

/* Table Section End */

/* Footer Section Start */

.footer-section {
    background: #000000;
    padding: 30px 0
}

.footer-ul {
    padding: 0;
    margin: 0
}

.footer-ul li {
    display: inline
}

@media(min-width:768px) {
    .footer-section {
        padding: 70px 0
    }
}

/* Footer Section End */