html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
    overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}
.bonus-title-color {
    color: #1FE29F;
}
.green-clr{
    color: #1FE29F;
}
.purple-clr{
    color: #7764ff;;
}
.red-gradient {
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* Proudly there Section Start */

.proudly-sec {
    background: #0A071E;
    padding: 30px 0px;
    position: relative;
}
.uy {
    background: url(../images/rewind-bg.png) no-repeat center center;
    padding: 30px 15px;
    border-radius: 25px;
}
.gn-box {
    background: url(../images/gn-box-bg.png) no-repeat center center;
    color: #000;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 5px;
    background-size: 100% 100%;
}
.tde {
    border-bottom: 2px solid #fff;
    padding: 0px 0px;
    border-top: 2px solid #fff;
    display: inline-flex;
}
.d-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
}
.d-btn a:hover {
    font-size: 24px;
}
.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #000000;
    background: #ffffff;
    display: inline-block;
    text-transform: uppercase;
}
.bonus-title-black-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #000000;
    display: inline-block;
    text-transform: uppercase;
}
.highlight-bg{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: aliceblue;
    box-shadow: 0px 0px 19.8px 2.2px rgb(106 105 105);
}
    .head-design {
        background: #FFFFFF;
        border-radius: 0px 30px;
        padding: 15px;
    }
    .gametext {
        background: #1FE29F;
        padding: 10px 18px;
        text-transform: uppercase;
        display: inline-flex;
        justify-content: center;
        color: #121733;
        font-weight: 700;
        font-size: 18px;
        position: absolute;
        top: -27px;
        z-index: 99;
        line-height: 30px;
        left: -6px;
    }
@media (min-width: 768px) {
    .proudly-sec {
        background: #000 url(https://cdn.oppyotest.com/launches/sellero/jv/images/header-bg.webp) center bottom no-repeat;
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
    }
    .highlight-bg{
        padding: 30px 50px ;
    }
    .head-design {
        padding: 30px;
    }
    .gametext {
        background: url(../images/cutting-edge-bg.webp) center center no-repeat;
        padding: 8px 57px 20px 25px;
        font-size: 22px;
        background-size: cover;
    }
}

