html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #031528;
    font-size: 14px;
}
html::-webkit-scrollbar {
    width: 10px; 
}

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #B956FF;
  border-radius: 25px;
}
.orange-clr {
    color: #FF813B;
}
.black-clr {
    color: #000000;
}
.white-clr {
    color: #fff;
}
/* Header Section CSS */

.header-section {
    background-color: #080d21;
    padding:30px 0px;
}

.proudly-section {
    background: #080d1a;
    padding:30px 0px;
}

.but-design .skew-normal{
	-webkit-transform:skew(200deg);
	-moz-transform:skew(200deg);
	transform:skew(200deg);
}
.black-bg {
    background: #000000;
    border-radius: 50px;
    padding: 12px;
}
@media(min-width:768px) {
    .header-section {
        background: #ffffff url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: Cover;
        padding: 40px 0px 100px 0px;
    }
    .proudly-section {
        background: #ffffff url("../images/proudlybg.png") no-repeat top center;
        background-size: cover;
        padding:5% 0 6%;
    }
}

.white-clr {
    color: #ffffff;
}

.second-section {
    padding: 5% 0;
}

.relative {
    position: relative;
}

.kapblue,a.kapblue {
    color: #0063eb;
	text-decoration:none;
}

.fourth-section {
    background: #fff no-repeat center center;
    padding: 4% 0 0%;
}

html {
    scroll-behavior: smooth;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/


.bonus-section {
    background: #EFEFF9;
    padding: 30px 0 30px;
	/* border-bottom: 5px solid #370581; */
}

.moneyback-section {
    background: #1a243f;
    padding: 30px 0 30px;
}

@media (min-width:768px) {
    .moneyback-section {
        background: #100370 url(../images/moneyback-bg.png) no-repeat;
		background-position:bottom center;
        background-size: cover;
        padding: 70px 0 70px;
    }
    .bonus-section {
        background: #EFEFF9;
        background-size: cover;
        padding:70px 0px 100px 0px;
		border-bottom:0px
    }
}

.footer-section {
    /* background: #00193c; */
    background: #000;
    padding: 30px 0;
}
@media (min-width: 768px) {
	.footer-section {
		padding: 70px 0px;
	}
}
.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.white-section {
    background: #fff;
    padding: 30px 0;
}

.grey-section {
    background: url(../images/orange-section-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}

@media(min-width:240px) {
    .xs-text-center,
    .xs-text-center1 {
        text-align: center;
    }
}

@media(min-width:768px) {
    .white-section {
        background: #fff;
        padding: 100px 0px 100px;
        background-size: cover;
        background-position: top center;
    }
    .grey-section {
        background: #EFEFF9;
        padding: 100px 0px 100px;
        background-size: cover;
        background-position: top center;
    }
    .xs-text-center {
        text-align: left;
    }
}


/*new*/

.up-btn-header a {
    border-radius: 10px;
	background-image: -webkit-linear-gradient(#FFCD00 , rgba(237, 28, 36, 1));
    background-image: -ms-linear-gradient(#FFCD00 , rgba(237, 28, 36, 1));
    background-image: -moz-linear-gradient(#FFCD00 , rgba(237, 28, 36, 1));
	box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	font-weight: 700;
	width: 100%;
	font-size: 22px;
	line-height: 140%;
}
.up-btn-header a:hover{
    background-image: -webkit-linear-gradient(rgba(237, 28, 36, 1) , #FFCD00);
    background-image: -ms-linear-gradient(rgba(237, 28, 36, 1) , #FFCD00);
    background-image: -moz-linear-gradient(rgba(237, 28, 36, 1) , #FFCD00);
	text-decoration: none;}


.red-clr,
a.red-clr {
    color: #ff3c00;
}

@media (min-width:768px) {
	.up-btn-header a {
       font-size: 42px;
    padding: 28px 30px;
    }
}


/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #cacaca;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    background: #1a243f;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	position:relative;
}
.tablebox3:before{
	content:'';
	position:absolute;
	background: url(../images/most-popular.png) no-repeat left top;
	min-height:165px;
	min-width:153px;
	left: 0px;
	top: 0px;
}
ul.vgreytick {
    padding: 0px;
    margin: 0;
}

ul.vgreytick li {
    background: url(../images/vgreytick-icon.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
}

ul.vgreytick li:nth-child(odd) {
    background-color: #f2f4fa;
}

ul.vgreytick li:nth-child(even) {
    background-color: #ffffff;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px;
    margin: 0;
}

ul.grey-tick-last li {
    background: url(../images/greentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
	color:#ffffff;
    background-position: 15px 22px;
    line-height: 150%;
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #15064a;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #200d68;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

.tbbg2 {
    background: url(../images/start-plan-bg.png) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #cacaca;
}

.tbbg3 {
    background:#200d68;
    padding:50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #200d68;
}


@media (min-width: 768px) {
    .tbbg3 {
        padding:80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px;
    }
	
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
	border-radius:0px 0px 10px 10px;
}
.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
	border-radius:0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
	    border: solid 1px #cacaca;
}


@media(min-width:768px) {
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    }
    .myfeatureslast {
        padding: 0px 20px 30px;
    }
}


/*Table CSS Enad*/

a.link {
    color: #337ab7;
}
.
 a{width: 100%; display: inline-block; color: #ff7200;}
 .prdly-pres {
    background: #a64dff;
    padding: 10px;
    display: inline-block;
    letter-spacing: 8px;
}
@media (min-width: 768px){
.prdly-pres {
    background: url(../images/intro-bg.png) no-repeat top center;
    padding: 10px 166px 24px;
    display: inline-block;
    letter-spacing: 8px;
}
}
.bonus-head{
	background: #FF813B;
	border-radius: 15px;
	padding: 8px 30px;
	display: inline-flex;
	position: relative;
	align-items: center;
}
@media(min-width:768px){
    .bonus-head{
		padding: 15px 40px;
		border-radius: 100px;
	}
	.bonus-head::before{
		width: 70px;
		height: 1px;
		background: #FF813B;
		position: absolute;
		content: '';
		left: -70px;
	}
	.bonus-head::after{
		width: 70px;
		height: 1px;
		background: #FF813B;
		position: absolute;
		content: '';
		right: -70px;
	}
}
.footer-ul a:hover{
    color: #fff;
}
.warning-section {
    background-color: #7938ff;
    padding: 20px 0px;
}

.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
.post-heading {
    padding: 15px 60px;
    background: url(../images/post-heading.webp) no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
}
@media (min-width: 768px){
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
}
}