html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-size: 14px;
}


/* Color CSS */

.white-clr,
a.white-clr {
	color: #ffffff;
}

.orange-clr {
	color: #ffb80f;
}

.blue-clr {
	color: #0a52e2;
}


/* Header CSS */

.header-section {
	background: #141516 url(https://cdn.oppyo.com/launches/jobiin/common_assets/images/header-bg.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 30px 0 30px 0px;
	position: relative;
}

.header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 8px;
}

.header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 8px;
	font-weight: 400;
}

.affiliate-link-btn a {
	border-radius: 65px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 100%;
	color: #000000;
	font-weight: 600;
	background-color: #ffb80f;
	transition: all .3s ease;
}

.affiliate-link-btn a:hover {
	transform: scale(1.05);
	transition: all .3s ease;
}

.button-glow {
	animation: glowing 5000ms infinite;
}

.pre-heading {
	background: #ffffff;
	padding: 10px;
	display: inline-block;
	text-align: center;
	border-radius: 65px;
	text-align: center;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 15px 0px 25px 0px rgba(19, 21, 26, 0.3);
	z-index: 99;
}

@keyframes glowing {
	0% {
		box-shadow: 0 0 -10px #c4a300;
	}

	40% {
		box-shadow: 0 0 20px #c4a300;
	}

	60% {
		box-shadow: 0 0 20px #c4a300;
	}

	100% {
		box-shadow: 0 0 -10px #c4a300;
	}
}

@keyframes glowing1 {
	0% {
		box-shadow: 0 0 -10px #5d0006;
	}

	40% {
		box-shadow: 0 0 20px #5d0006;
	}

	60% {
		box-shadow: 0 0 20px #5d0006;
	}

	100% {
		box-shadow: 0 0 -10px #5d0006;
	}
}

@media (min-width: 768px) {
	.header-section {
		padding: 40px 0px 100px 0px;
	}

	.pre-heading {
		padding: 10px 30px;
	}

	.affiliate-link-btn a {
		padding: 15px 30px;
		font-size: 24px;
	}

	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66%;
		flex: 0 0 66%;
		max-width: 66%;
	}

	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 34%;
		flex: 0 0 34%;
		max-width: 34%;
	}
}

@media (min-width: 1600px) {
	.header-left-element {
		position: absolute;
		left: -20px;
		bottom: -52px;
		display: block !important;
	}

	.header-right-element {
		position: absolute;
		bottom: -75px;
		right: 20px;
		display: block !important;
	}
}


/******banner Section*************/

.launch-start-bg {
	position: relative;
	width: 100%;
	text-align: center;
	border-width: 1px;
	border-color: #0a52e2;
	border-style: solid;
	border-radius: 15px;
	overflow: hidden;
}

.launch-start {
	background-color: #0a52e2;
	padding: 20px 20px 20px;
}

.date-format {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.thsty {
	top: -17px;
	left: 20px;
}

.launch-end {
	border-radius: 5px;
	background-color: transparent;
	padding: 0 30px 20px;
}

.end-shape {
	background: #fff;
	display: inline-block;
	border-radius: 0 0 13px 13px;
	padding: 8px 20px 8px;
	border: 2px solid #0a52e2;
	border-top: 0px solid #fff;
}

@media (min-width: 768px) {
	.launch-start-bg {
		border-radius: 0px 15px 15px 0px;
	}

	.thsty {
		top: -28px;
		left: 20px;
	}

	.f-md-100 {
		font-size: 100px;
	}

	.launch-start-bg {
		margin-left: -20px;
	}
}


/*************LIVE Section**************/

.live-section {
	background: #f5f7fc;
	padding: 30px 0 30px 0px;
}

.formbg {
	position: relative;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 15px 0px rgba(19, 21, 26, 0.06);
	width: 100%;
	float: left;
	padding: 20px;
}

.popup-btn a,
.popup-btn input[type="submit"] {
	border-radius: 65px;
	text-decoration: none;
	color: #000000;
	text-align: center;
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 15px 20px;
	line-height: 30px;
	font-weight: 700;
	outline: none;
	border: 0px;
	background: #ffb80f;
	cursor: pointer;
	transition: all .3s ease;
}

.popup-btn a:hover,
.popup-btn input[type="submit"]:hover {
	transform: scale(1.05);
	transition: all .3s ease;
}

a.affiliate-btn {
	border-radius: 65px;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 23px 30px;
	line-height: 30px;
	font-weight: 700;
	outline: none;
	box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
	background: #6e0f15;
	animation: glowing1 5000ms infinite;
}

.form-control.input-field {
	height: 50px;
	font-size: 18px;
	font-weight: 400;
	box-shadow: none !important;
	color: #000000;
	padding: 6px 20px;
	border-width: 1px;
	border-color: rgb(221, 222, 225);
	border-style: solid;
	background-color: rgb(255, 255, 255);
	border-radius: 65px;
}

@media (min-width: 768px) {
	.live-section {
		padding: 100px 0px;
	}

	.formbg {
		padding: 30px 50px;
	}

	.form-control.input-field {
		height: 70px;
	}

	.popup-btn a,
	.popup-btn input[type="submit"] {
		padding: 23px 20px;
		line-height: 30px;
		font-weight: 700;
	}
}


/***************Promo Section************/

.promo-section {
	padding: 30px 0;
	background: #fff;
}

a.promo-link {
	border: solid 1px #0a52e2;
	background: #ffffff;
	max-width: 100%;
	padding: 15px 30px;
	border-radius: 65px;
	color: #0a52e2;
	display: block;
	text-align: center;
	font-weight: 700;
	text-decoration: none;
}

a.promo-link:hover {
	border: solid 1px #0a52e2;
	background: #0a52e2;
	color: #ffffff;
}

@media (min-width: 768px) {
	.promo-section {
		padding: 100px 0px;
	}
}


/***********Next Generation*****************/

.next-gen-sec {
	background: #0a52e2;
	background-size: cover;
	padding: 30px 0px 30px 0px;
}

.proudly-list-bg {
	border-radius: 20px;
	background-color: #ffffff;
	box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
	padding: 15px;
}

.proudly-tick li {
	background: url(https://cdn.oppyo.com/launches/jobiin/jv/reason-tick.webp) no-repeat;
	background-position: 0 4px;
	list-style: none;
	padding: 0 0 20px 45px;
}

@media (min-width: 768px) {
	.next-gen-sec {
		background: #ffffff url(https://cdn.oppyo.com/launches/jobiin/jv/next-gen-bg.webp) no-repeat center bottom;
		background-size: cover;
		padding: 100px 0px;
	}

	.proudly-list-bg {
		padding: 30px;
	}
}


/**************ground-breaking *******************/

.ground-breaking {
	padding: 30px 0px;
	background: #ffffff;
}

.features-list-bg {
	border-radius: 15px;
	background-color: rgb(255, 255, 255);
	float: left;
	width: 100%;
	padding: 10px 15px;
}

.icon-height {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
	background: #f5f7fc;
	margin: 0 auto;
}

@media (min-width: 768px) {
	.ground-breaking {
		padding: 0px 0px 100px 0px;
		background: #ffffff url(https://cdn.oppyo.com/launches/jobiin/jv/bluebg1.png) no-repeat center center;
		background-size: cover;
	}
}


/*******HUGE Section*********/

.huge-bg-sec {
	background: #f5f7fc;
	padding: 30px 0 30px;
}

@media (min-width: 768px) {
	.huge-bg-sec {
		padding: 70px 0px;
	}
}


/***********Reason Section**************/

.reason-sec {
	background: #ffffff url(https://cdn.oppyo.com/launches/jobiin/jv/reason-sec-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 50px 0px;
}

@media (min-width: 768px) {
	.reason-sec {
		padding: 80px 0px 100px 0px;
	}
}


/**********Promote Section************/

.top-5 {
	background: #ffffff;
	padding: 30px 0px 30px 0px;
}

.reason-tick li {
	background: url(https://cdn.oppyo.com/launches/jobiin/jv/reason-tick.webp) no-repeat;
	background-position: 0 4px;
	list-style: none;
	padding: 0 0 20px 45px;
}

@media (min-width: 768px) {
	.top-5 {
		padding: 100px 0px 140px 0px;
	}
}


/***********Prize Section*************/

.prize-section {
	background: #ffffff url(https://cdn.oppyo.com/launches/jobiin/jv/irr-img.svg) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 60px 0px;
	position: relative;
}

@media (min-width: 768px) {
	.prize-section {
		padding: 0px 0px 140px 0px;
	}

	.mtm70 {
		margin-top: -100px !important;
	}
}


/************Depp Funnel***********/

.deep-funnel {
	background: #ffffff;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.deep-funnel {
		padding: 100px 0px;
	}
}


/*************reciprocate-sec1**************/

.reciprocate-sec1 {
	background: #f5f7fc;
	padding: 30px 0px;
}

@media (min-width: 768px) {
	.reciprocate-sec1 {
		padding: 100px 0px;
	}
}


/*************reciprocate-sec**************/

.reciprocate-sec {
	background: #141516 url(https://cdn.oppyo.com/launches/jobiin/common_assets/images/header-bg.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 30px 0px 130px 0px;
}

@media (min-width: 768px) {
	.reciprocate-sec {
		padding: 100px 0px 300px 0px;
	}
}


/*****************Contact Section**********/

.contact-section {
	background: #ffffff;
	padding: 0px 0px 30px 0px;
}

.contact-wrapper {
	background: #0a52e2;
	padding: 20px;
	border-radius: 20px;
	width: calc(100% - 30px);
	margin: 0 auto;
	margin-top: -100px;
}

.contact-box {
	background: #fff;
	border-radius: 20px;
	padding: 20px 10px;
}

@media (min-width: 768px) {
	.contact-section {
		padding: 0px 0px 100px 0px;
	}

	.contact-wrapper {
		padding: 50px 100px 45px;
		border-radius: 30px;
		margin-top: -200px;
		width: 100%;
	}
}


/*************Term & Condition***************/

.terms-section {
	padding: 0px;
	background: #ffffff;
}

.b-tick1 li {
	padding: 0 0 20px 0px;
}

@media (min-width: 768px) {
	.terms-section {
		padding: 0px 0px 70px 0px;
	}
}


/**************Footer Section***********/

.footer-section {
	background: #000000;
	padding: 30px 0px;
}

.footer-ul {
	padding: 0px;
	margin: 0px;
}

.footer-ul li {
	display: inline;
}

@media (min-width: 768px) {
	.footer-section {
		padding: 50px 0px;
	}
}