
/* Affiliate Bonus Buy Button */

a.bonusbuy-btn {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 5px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 55px;
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    transition: all 0.5s;
}

a.bonusbuy-btn:hover,
a.bonusbuy-btn:focus {
    transform: scale(1.08);
    transition: all 0.5s;
    background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
    text-decoration: none;
}


/* Bonus Header Section bg Start Main Css */

.bonus-header {
    padding: 30px 10px 0px 10px;
}

.heading-bg {
    background-color: #ee3725;
    border-radius: 10px;
    padding: 15px 15px;
    color: #ffffff;
}



.section-bonus {
    padding: 30px 0px;
}



/* For Header Bg */

.dark-cta-sec {
    background: #321e77 url(../images/cta-bg-new.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
}

.cta-btn-section {
    padding: 30px 0px;
}

.huge-area {
    padding: 30px 0;
    background: #08041e;
}

.white-section {
    background: rgb(255, 255, 255);
    padding: 30px 15px;
}
.testimonial-section {
    background: #f4f3f9 url(../images/second-section-2.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
.single-testimonial {
    background-color: #EAF3F8;
    text-align: center;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    padding: 20px 10px;
    border: 2px solid #f1f1f1;
}
.stars a {
    padding-right: 8px;
    color: #FFC635;
}
.stars a i {
    font-size: 20px;
}
.fa-star:before {
    content: "\f005";
}
.border-video {
    border-radius: 20px;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
@media(min-width:768px) {
    .single-testimonial {
        border-radius: 30px;
        padding: 50px;
    }
    .main-header {
        background: #000 url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 300px 0px;
    }
    .bonus-header {
        padding: 70px 0px 0px 0px;
    }
    .heading-bg {
        background: url(../images/head-bg.webp);
        background-repeat: no-repeat;
        background-position: top center;
        padding: 50px 15px 100px 15px;
        background-size: 100% 100%;
    }
    a.bonusbuy-btn,
    a.bonusbuy-btn:focus {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
    a.bonusbuy-btn1,
    a.bonusbuy-btn1:focus {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
    .section-bonus {
        padding: 50px 0px;
    }
    .dark-cta-sec {
        padding: 50px 0px;
    }
    .huge-area {
        background: #fff url(../images/new_bg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 100px 0px;
        color: #fff;
    }
    .testimonial-section {
        padding: 100px 0px;
    }
}


/* Exit Pop Up Css Start */

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}


/* #ouibounce-modal .modal-body {
	padding: 0px 20px;
	font-size: .9em
} */

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.modal-body {
    position: relative;
    padding: 15px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 30px;
    opacity: 1;
    outline: none;
    color: #300476 !important;
    font-weight: 400;
    background: #ffe8cc !important;
    top: 1px;
    position: absolute;
    z-index: 2;
    right: 1px;
    padding: 0px 5px 0px 5px !important;
}

.modal-header .close {
    margin-top: -5px;
}

.innerbody {
    border-radius: 10px;
    margin-top: -1%;
    float: left;
    width: 100%;
}

.popupbg {
    background: url(../images/exitbg.webp) repeat;
    padding: 8px 0px;
}


/* Media Querry Start */

.footer-section {
    background: #000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/* Exclusive-Section */

.exclusive-bonus {
    background: #e95093;
    padding: 30px 15px;
}

.profitmozo {
    padding: 30px 15px;
}

.blue-sky {
    color: #00ccff;
}

.orange {
    color: #f5821f;
}

.underline {
    text-decoration: underline;
}

.heading-head {
    background: -webkit-linear-gradient(#1d2d45 0%, #21385c 50%, #254677 100%);
    background: -o-linear-gradient(#1d2d45 0%, #21385c 50%, #254677 100%);
    background: linear-gradient(#1d2d45 0%, #21385c 50%, #254677 100%);
    width: 100%;
    padding: 1% 0 3%;
}

.fast-easy {
    background: #1d2d45;
    padding: 45px 15px;
}


.feature-list-sec {
    padding: 30px 0px;
    background: #ffffff;
}

@media (min-width: 768px) {
    .feature-list-sec {
        padding: 0px 0px 70px 0px;
    }
}

.feature-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}

@media(min-width:768px) {
    .feature-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }
}

.feature-bordered-list li {
    list-style: none;
}

.orange-list li {
    padding: 12px 20px 12px 50px;
    position: relative;
}

.orange-list li::before {
    content: url(../images/green-tick.webp);
    position: absolute;
    left: 0px;
    top: 15px;
}
a.bonusbuy-btn-bundle {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 5px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 55px;
    background: -webkit-linear-gradient( 64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    transition: all 0.5s;
}
@media (min-width: 768px){
a.bonusbuy-btn-bundle, a.bonusbuy-btn-bundle:focus {
    font-size: 32px;
    padding: 28px 40px 30px 40px;
}
}