.white-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .white-section {
        padding: 70px 0px;
    }
}


/* Testimonial CSS */

/****** Testimonial Section *******/
.testimonial-section {
	background: #ffffff;
	padding: 30px 0px;
}


.single-testimonial {
	background-color: #f5f8ff;
	text-align: left;
	border-radius: 30px;	
	position: relative;
	z-index: 2;
	box-shadow: 0px 10px 29px 0px rgb(4 4 17 / 20%);
}
.single-testimonial p {
	color: #101012;
	font-size: 17px;
	line-height: 28px;
	padding: 50px 30px 30px 30px;
	padding-bottom: 30px;
	position: relative;
	z-index: 3;
	
}
.single-testimonial::before {
	content: "";
	position: absolute;
	left: -5px;
	top: -35px;
	background: url(https://cdn.oppyo.com/launches/entertainerz/special/quote.webp) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	transform: rotate(180deg);
	background-position: 34px 15px;
}
.single-testimonial::after {
	content: "";
	position: absolute;
	right: -5px;
	bottom: -34px;
	background: url(https://cdn.oppyo.com/launches/entertainerz/special/quote.webp) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	background-position: 34px 19px;
}

.client-info {
	display: inline-flex;
	gap: 15px;
	align-items: center;
	padding: 0px 30px 30px 30px;
}
.client-details{
	color: #7d5bf6;
	font-size: 20px;
	font-weight: 600;
}
@media (min-width: 768px) {
	.testimonial-section {
		background: #ffffff url(https://cdn.oppyo.com/launches/entertainerz/special/testimonial-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 100px 0px 100px 0px;
	}
	.single-testimonial p {
		padding: 50px 50px 30px 50px;
	}
	.client-info {
		padding: 0px 50px 50px 50px;
	}
	.single-testimonial::before {
		left: -35px;
		top: -35px;
	}
	.single-testimonial::after {
		right: -35px;
		bottom: -34px;
	}
	
	.client-info {
		padding-bottom: 30px;
	}
	.gx4 {
			--bs-gutter-x: 2.5rem;
		}
}

/* Testimonial CSS End */

.black-design2 {
    padding: 16px 79px 18px 65px;
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/imagine-shape.webp) no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}


/* Targeted CSS */

.targeted-section {
    background: #cdf9da;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .targeted-section {
        background: #cdf9da;
        padding: 100px 0px;
    }
}


/* Targeted CSS End */


/* Targeted CSS */

.need-marketing {
    background: #ffffff;
    padding: 30px 0px;
}

.noneed-listing li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/tick-icon.webp) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
    min-height: 42px;
}

.noneed-listing li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .need-marketing {
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/works-seamlessly.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}

.look-shape {
    border-radius: 20px;
    padding: 20px 15px;
    color: #ffffff;
    width: 100%;
    float: left;
    background-color: #ff5825;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
}


/* Targeted CSS End*/


/* Bonus CSS Start*/

.bonus-section {
    background: #ffffff;
    padding: 30px 0px;
}

.black-design4 {
    padding: 40px;
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/bonus-shape.webp) no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

.margin-t-60 {
    margin-top: -40px;
}

.bonus-section-shape {
    padding: 15px;
    position: relative;
    background: #e8ebff;
    border: solid 1px #e8ebff;
    border-radius: 10px;
}

.bonus-headline {
    background: rgb(9,20,120);
    background: -moz-linear-gradient(0deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(0deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}

@media (min-width: 768px) {
    .margin-t-60 {
        margin-top: -60px;
    }
    .bonus-section-shape {
        padding: 30px;
    }
    .bonus-section {
        padding: 100px 0px 50px 0px;
        background:  url(https://cdn.oppyo.com/launches/entertainerz/special/bonus-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
}

.bonus-section-value {
    padding: 30px 0px;
    background: #ffffff;
}

@media (min-width: 768px) {
    .bonus-section-value {
        padding: 60px 0px 30px;
    }
}


/* Bonus CSS End*/


/* Guarantee CSS Start*/

.guarantee-section {
    padding: 30px 0px;
    background: #e8ebff url(https://cdn.oppyo.com/launches/entertainerz/special/guarantee-section-bg.webp) no-repeat center bottom;
    background-size: cover;
}

@media (min-width: 768px) {
    .guarantee-section {
        
        padding: 100px 0px 100px 0px;
    }
}


/* Guarantee CSS End*/


/* Table Section */

.table-section {
    background: #ffffff;
    padding: 30px 0px;
    color: #000000;
}
.table-section1 {
    background: #ffffff;
    padding: 30px 0px;
    color: #000000;
}

.table-wrap {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    /* border: solid 1px #cacaca; */
    overflow: hidden;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.table-head {
    /* background: url(https://cdn.oppyo.com/launches/entertainerz/special/start-plan-bg.webp) no-repeat center; */
    background: #ffffff;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    /* border-bottom: solid 1px #cacaca; */
}

@media (min-width: 768px) {
    .table-head {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
}

.table-content {
    padding: 60px 20px 40px 20px;
    background: #ffffff url(https://cdn.oppyo.com/launches/entertainerz/special/tablecurveone.webp) no-repeat center top;
    background-size: contain;
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
    background: #ffffff;
}

.table-wrap1 {
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgba(38, 23, 70, 0.4);
    width: 100%;
    float: left;
    overflow: hidden;
    background: rgb(9,20,120);
    background: -moz-linear-gradient(0deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(0deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
}


/* .table-wrap1:before {
    content: '';
    position: absolute;
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/most-popular.webp) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 45px;
    top: -10px;
}
 */

.table-head1 {
    padding: 40px 30px 30px 30px;
    text-align: center;
    /* background: rgb(9, 20, 120);
    background: -moz-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1); */
}

@media (min-width: 768px) {
    .table-head1 {
        padding: 80px 30px 80px 30px;
        text-align: center;
    }
}

.table-content1 {
    padding: 60px 20px 40px 20px;
    background: #222466 url(https://cdn.oppyo.com/launches/entertainerz/special/tablecurvetwo.webp) no-repeat center top;
    background-size: contain;
}

.center-line {
    background: #000000;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.center-line-white {
    background: #ffffff;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.table-list li {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/launch-tick-blue.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    background-position: 20px 20px;
    line-height: 150%;
    text-transform: capitalize;
}

.table-list li.cross-sign {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/launch-cross.webp) no-repeat !important;
    background-position: 20px 20px !important;
}

.table-list li:nth-child(odd) {
    background-color: #e8ebff !important;
}

.table-list li:nth-child(even) {
    background-color: #ffffff;
}

@media (min-width: 768px) {
    .table-list li {
        padding: 20px 15px 20px 57px;
    }
}

.table-list li.headline {
    background: rgb(9, 20, 120) !important;
    background: -moz-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    background: -webkit-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    background: linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1) !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.table-list1 li {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/table-tick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    background-position: 20px 20px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
    /* border-bottom: solid 1px #5153a1; */
}

.table-list1 li.headline {
    background: #f57c25 !important;
    padding: 22px 0px 16px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list1 li:last-child {
    border-bottom: none;
    /* padding-bottom: 0px; */
}

.table-list1 li:nth-child(odd) {
    background-color: #070f5c;
}

.table-list1 li:nth-child(even) {
    background-color: #091374;
}

@media (min-width:768px) {
    .table-section {
        padding: 100px 0px;
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/table-section-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .table-section1 {
        padding: 100px 0px;
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/table-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .table-list1 li {
        padding: 20px 15px 20px 57px;
    }
}


/* Table Section End*/

.awesome-section {
    padding: 30px 0px;
    background:#e8ebff;
}

@media (min-width: 768px) {
    .awesome-section {
        padding:100px 0px;
    }
}

.faq-section {
    padding: 30px 0px;
    background-color: #fff;
}

.faq-list {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 22px;
}

@media (min-width: 768px) {
    .faq-section {
        padding: 100px 0px;
    }
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 70px 0px;
    }
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.imagine-sec {
    background: #f5f5f5;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .imagine-sec {
        background: #f5f5f5 url(https://cdn.oppyo.com/launches/entertainerz/special/imagine-sec.webp) center no-repeat;
        background-size: cover;
        padding: 100px 0px;
    }
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.license-section {
    background: #e8ebff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .license-section {
        padding: 100px 0px 150px 0px;
        background: #ffffff url(https://cdn.oppyo.com/launches/entertainerz/special/license-bg.webp) no-repeat bottom center;
        background-size: cover;
        border: none;
    }
}

.potential-sec {
    background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(0, 33, 144) 0%, rgb(0, 22, 95) 100%);
    background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(0, 33, 144) 0%, rgb(0, 22, 95) 100%);
    background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(0, 33, 144) 0%, rgb(0, 22, 95) 100%);
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .potential-sec {
        background: url(https://cdn.oppyo.com/launches/entertainerz/special/potential-bg.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0px 180px;
    }
}

.never-ending {
    box-shadow: 0px 0px 29px 0px rgb(0 0 0 / 14%);
    background: #ffffff;
    border-radius: 15px;
    padding: 15px 5px;
    height: 100%;
}

.hr-shape {
    background-color: #e8e8e8;
    width: 100%;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .never-ending {
        padding: 35px 25px;
    }
}

.noneed-section {
    padding:30px 0px;
}
.noneed-shape {
   padding: 15px;
    position: relative;
    background: #e8ebff;
    border-radius: 10px;
}
@media (min-width: 768px) {
   .noneed-shape {
    padding: 30px;
}
.noneed-section {
    padding:100px 0px 0px 0px;
}
}

.noneed-list li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/sad-emoji.webp) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}
.noneed-list li.happy {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/happy-emoji.webp) no-repeat !important;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}
.noneed-list1 li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/happy-emoji.webp) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}

/* Compare Table */

section.table-section ul {
    list-style: none;
    padding: 0;
}

section.table-section ul li {
    border-left: 1px solid rgb(226 226 226);
    border-right: 1px solid rgb(226 226 226);
    height: 60px;
    line-height: 60px;
    align-items: flex-start;
    align-content: center;
    padding: 0px 25px;
    justify-content: center;
}

@media (min-width:768px) {
    section.table-section ul li {
        border-left: 1px solid rgb(226 226 226);
        border-right: 1px solid rgb(226 226 226);
        height: 60px;
        line-height: 60px;
        display: flex;
        align-items: flex-start;
        align-content: center;
        padding: 0px 25px;
        justify-content: start;
        background: #ffffff;
    }
}

section.table-section ul li:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    font-weight: 600;
}

section.table-section ul li:nth-child(odd) {
    background: #e8ebff;
}

section.table-section .fist-row li:first-child {
    border-top-right-radius: 0px;
    border-top: 1px solid rgb(226 226 226);
}

section.table-section .third-row li:first-child {
    border-top-left-radius: 0px;
}

section.table-section .fist-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-left-radius: 20px;
}

section.table-section .second-row li:first-child {
    border-top: 1px solid rgb(226 226 226);
    height: 150px;
    text-align: center;
    align-items: center;
    background: rgb(9,20,120);
    background: -moz-linear-gradient(0deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(0deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
}

section.table-section .third-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-right-radius: 20px;
}

section.table-section .second-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
}

section.table-section .second-row {
    margin-top: -50px;
}

section.table-section .second-row ul li {
    background: #070f5c;
}

section.table-section .second-row ul li:nth-child(odd) {
    background: #091374;
}

section.table-section .third-row li:first-child {
    align-items: center;
    border-top: 1px solid rgb(226 226 226);
}

@media (max-width:767px) {
    section.table-section ul li {
        height: 100px;
        line-height: 22px;
        padding: 15px;
    }
    section.table-section .second-row li:first-child svg {
        transform: rotate(90deg);
        height: 30px!important;
    }
    section.table-section .second-row li:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

section.table-section .second-row li:first-child {
    justify-content: center;
}

section.table-section .third-row li:first-child {
    justify-content: center;
}

@media (min-width:768px) {
    section.table-section ul li {
        align-items: center;
        justify-content: start;
    }
}

section.table-section ul li span {
    padding-right: 10px;
}

@media (max-width:767px) {
    section.table-section .fist-row li:first-child,
    section.table-section .third-row li:first-child {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    section.table-section .second-row li:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    section.table-section .second-row li:first-child svg {
        max-height: 80px!important;
        height: 30px!important;
    }
    section.table-section ul li {
        height: 110px;
        line-height: 22px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}







#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s;
}

#ouibounce-modal .modal-wrapper {
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-ms-flex-wrap: wrap!important;
	flex-wrap: wrap!important;
	-ms-flex-line-pack: center!important;
	align-content: center!important;
	width: 95%;
	position: relative;
	text-align: center;
	-webkit-animation: popin .3s;
	animation: popin .3s;
	overflow-y: hidden;
}
@media (min-width: 576px){
#ouibounce-modal .modal-wrapper {
    min-height: 100vh;
    height: 100vh;
    max-width: 850px;
    margin: 0px auto;
}
.for-padding{
	padding:40px 55px;
}
.model-header{
	background:#16258a url(https://cdn.oppyo.com/launches/entertainerz/special/wait-bg.webp) no-repeat left center;
	background-size: cover;
}
}
#ouibounce-modal .modal-wrapper .modal-bg {
	width: 100%;
	background-color: #ffffff; 
	border-radius: 10px;
	box-shadow: 0px 0px 15.6px 4.4px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	position:relative;
}
.model-header{
	background:#16258a url(https://cdn.oppyo.com/launches/entertainerz/special/wait-mob-bg.webp) no-repeat left center;
	background-size: cover;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
button.close {
    position: absolute;
    right: 5px;
    top: 5px;
}

