html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}
html::-webkit-scrollbar {
    width: 10px; 
 }
html::-webkit-scrollbar-track {
  background-color: #eee;
}
html::-webkit-scrollbar-thumb {
  background: #B956FF;
  border-radius: 25px;
}
.orange-clr {
    color: #FF813B !important;
}
.white-clr {
    color: #ffffff;
}
.blue-clr {
    color: #00aaff;
}

/* Header Section CSS */
.header-section {
    background: url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding: 30px 0px;
}
.pre-heading {
    border: 2px solid rgba(185, 86, 255, 1);
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    padding: 10px;
}

@media(min-width:768px) {
    .header-section {
        background-size: cover;
        padding: 40px 0px 100px 0px;
    } 
    .pre-heading {
        padding: 9px 26px;
    } 
}

.fifth-section {
	background:#fff url("../images/proudlybg.webp") no-repeat center bottom;
	background-size: cover;
	padding: 60px 0 30px 0px;
}

@media(min-width:768px) {
    .fifth-section {
        padding: 130px 0 100px 0px;
    }
}


.white-clr {
    color: #ffffff;
}

.second-sec {
    padding: 30px 0;
	background:#f9f9f9;
}


@media(min-width:768px) {
    .second-sec {
        padding: 100px 0px;
        background:#f9f9f9 url(../images/white-section-bg.png) no-repeat;
        background-position: center center;
    }
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
    /* .line-center { */
    /* transform: skew(20deg); */
    /* } */
}

.formbg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

::-webkit-input-placeholder {
    color: #797979 !important;
}

::-moz-placeholder {
    color: #797979 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

:-moz-placeholder {
    color: #797979 !important;
}

.relative {
    position: relative;
}

.blue-clr {
    color: #0041b5;
}


html {
    scroll-behavior: smooth;
}



/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}


.feature-section {
    background: #fff url(../images/feature-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }

}



/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #cacaca;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    background: #200d68;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    position: relative;
}

.tbbg2 {
    background: url(../images/start-plan-bg.png) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #cacaca;
}

.tbbg3 {
    background:#200d68;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #4600a2;
}

.most-popular {
    background: url(../images/most-pop.png) no-repeat center;
    padding: 15px 30px 30px 30px;
    background-size: 100% 100%;
    margin-top: -40px
}

@media (min-width: 768px) {
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
}






.thanks-button a {
    width: 100%;
    display: inline-block;
    color: #240f75;
}

.thanks-button a:hover {
    text-decoration: none;
}

@media(min-width:768px) {
    .myfeatureslast {
        padding: 30px 20px;
    }
}



/*Table CSS Enad*/

.grey-section {
    background: #deeaff;
    padding: 30px 0;
}


.table-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .table-section {
        padding: 100px 0;
    }

}

.grey-clr {
    color: #d6d6d6;
}



/*-------- Responsive ------------*/

@media (min-width:768px) {
    .grey-section {
        background: #deeaff url(../images/orange-section-bg.png) no-repeat;
        background-position: center center;
        padding: 100px 0;
    }
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}




.boxes {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
}

ul.bigboxes {
    margin: 0px;
    padding: 0px;
}

.bigboxes li {
    background: url(../images/greentick.png) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
}

ul.bigboxes1 {
    margin: 0px;
    padding: 0px;
}

.bigboxes1 li {
    background: url(../images/greentick.png) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .boxes {
        padding: 50px;
    }
}

.footer-ul li:hover a {
    color: #fff;
}

.up-btn-header a{
    border-radius: 10px;
    background-image: -webkit-linear-gradient(#FFCD00 , rgba(237, 28, 36, 1));
    background-image: -ms-linear-gradient(#FFCD00 , rgba(237, 28, 36, 1));
    background-image: -moz-linear-gradient(#FFCD00 , rgba(237, 28, 36, 1));
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

@media(min-width:768px) {
    .up-btn-header a {
        font-size: 42px;
        padding: 28px 15px;
    }
}

.up-btn-header a:hover {
    border-radius: 8px;
    background-image: -moz-linear-gradient(#ED1C24 , #FFCD00);
    background-image: -webkit-linear-gradient(#ED1C24 , #FFCD00);
    background-image: -ms-linear-gradient(#ED1C24 , #FFCD00);
    color: #ffffff;
}
.warning-section{
	background-color: #7938ff;
	padding: 20px 0px;
}
.offer {
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
	flex-direction: column;
}
.kapblue,a.kapblue {
    color: #150de1;
	text-decoration:none;
}
@media (min-width:768px) {
	.offer {
		display: flex;
		align-items: center;
		gap: 15px;
		justify-content: center;
		flex-direction: row;
	}
}