body {
    font-family: 'Poppins', sans-serif;
    color: #020d13;
    font-size: 14px;
    overflow: hidden;
}

html {
    overflow-x: hidden;
}

.p0 {
    padding: 0 !important;
}


/* Font Weight CSS */

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.w800 {
    font-weight: 800;
}


/* Line Height */

.lh120 {
    line-height: 120%
}

.lh130 {
    line-height: 130%
}

.lh140 {
    line-height: 140%
}

.lh150 {
    line-height: 150%
}

.lh160 {
    line-height: 160%
}

.lh170 {
    line-height: 170%
}

.lh180 {
    line-height: 180%
}

.lh190 {
    line-height: 190%
}

.lh200 {
    line-height: 200%
}


/* Color */

a {
    color: #6e44ff;
    text-decoration: none;
}

a:hover {
    color: #4f27d8;
}

.org-clr {
    color: #ff6a3d;
}

.blue-clr {
    color: #003770;
}

.text-mahroon {
    color: #3f43ba;
}

.white {
    color: #fff;
}

.white-clr {
    color: #FFFFFF;
}

.light-green {
    color: #fff600;
}

.purple {
    color: #290387;
}

.black-clr {
    color: #020d13;
}

.green-clr {
    color: #8df69e;
}

.pink-clr {
    color: #fc6dab;
}

.voilet-clr {
    color: #6e44ff;
}


/* For Responsive Video CSS */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Clear Property */

.clear {
    clear: both;
}


/* Text Decoration Underline */

.underline {
    border-bottom: 2px solid #fff;
}


/* Bonus Download Section Description Area CSS */

.bonus-des {
    padding: 3% 0;
}


/* Code for Animation blink-text */

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
        color: #4d4aa9;
    }
    to {
        opacity: 0.7;
    }
}

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}


/*****Main Container Area CSS******/

.main-container {
    background: #6e44ff url(../images/header-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 60px 15px 60px 15px;
}


/* Top Congratulation Container CSS */

.uy {
    background: url(../images/rewind-bg.png) no-repeat center center;
    padding: 30px 15px;
    border-radius: 25px;
}

.gn-box {
    background: url('../images/gn-box-bg.png') no-repeat center center;
    color: #000;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 5px;
    background-size: 100% 100%;
}

@media(max-width:375px) {
    .uy {
        padding: 30px 15px;
        background: url(../images/rewind-bg.png) no-repeat center center;
        border-radius: 5px;
        margin-bottom: 30px;
    }
}

@media(max-width:768px) {
    .uy {
        background: url(../images/rewind-bg.png) no-repeat center center;
        padding: 40px 15px 40px 15px;
        margin: 0 0px 40px 0px;
    }
    .main-container {
        padding: 30px 0px 30px 0px;
    }
}


/* On top Double Text Overline  */

.tde {
    text-decoration: overline;
    border-bottom: 2px solid #fc6dab;
    padding: 4px 0;
}


/* Middle Content Area Section */

.ad-con {
    padding: 5% 0;
}


/* Timer Section Css */


/*Text For Change Timer Small Text - day , sec,time , minute*/

.time-textlh {
    color: #a20000;
    font-weight: 700;
}

.hs_time {
    height: auto;
    width: 100%;
}

.hs_time .hs_time_part {
    width: 100%;
}

.hs_hours {
    color: #a20000 !important;
    height: auto;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}

.dt_title {
    width: 100%;
}

.hs_days {
    color: #a20000;
    text-align: center;
    height: auto;
    text-decoration: none;
    text-transform: capitalize;
}

.hs_min {
    color: #a20000;
    height: auto;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.hs_sec {
    color: #a20000;
    height: auto;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.timer_caption {
    font-weight: bold;
}

.hrsbox {
    border-radius: 4px;
    background: #000000;
    color: #fff;
    display: block;
    padding: 20px 0px;
}

.timer-border {
    padding: 5px 0;
    height: 140px;
    width: 100%;
}

.timer,
.timer-done,
.timer-loop {
    font-size: 30px;
    color: #a20000;
    font-weight: bold;
    padding: 10px;
}

.jst-hours {
    float: left;
}

.jst-minutes {
    float: left;
}

.jst-seconds {
    float: left;
}

.jst-clearDiv {
    clear: both;
}

.jst-timeout {
    color: red;
}

@media(max-width:320px) {
    a.regbtn {
        padding: 15px 30px;
    }
    .timer-border {
        height: 150px;
    }
}


/* Radius */

.radius5 {
    border-radius: 5px;
}

@media (min-width: 240px) {
    .mybanner {
        background: #9cbed7;
        background-size: cover;
        background-attachment: fixed;
        background-position: top center;
        padding: 2% 0% 4%;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .mybanner {
        background: #b7d1e7 url(../images/head1.png) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top center;
        padding: 4% 0% 4%;
    }
}

@media (min-width: 992px) {
    .mybanner {
        background: #fdfdfd url(../images/head1.png) no-repeat;
        background-position: 100% 0%;
        background-size: cover;
        background-attachment: fixed;
        padding: 4% 0% 4%;
    }
}

@media(max-width:320px) {
    .white-footer {
        background: #9cbed7 url(../images/bottom.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        padding: 30px 0;
    }
}

@media(max-width:768px) {
    .white-footer {
        background: #9cbed7 url(../images/bottom.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        padding: 30px 0;
    }
}

@media(min-width:992px) {
    .white-footer {
        background: #9cbed7 url(../images/bottom.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        padding: 130px 0;
    }
}


/* Download Button Css */

.d-btn a {
    display: inline-block;
    /* background-image: -moz-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -webkit-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -ms-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%); */
    background: rgb(252, 109, 171);
    padding: 12px 35px;
    color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.d-btn a:hover,
a:focus {
    background: #f2579a;
    color: #ffffff;
    text-decoration: none;
}

.d-btn a:active {
    background-image: -moz-linear-gradient( 190deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -webkit-linear-gradient( 190deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -ms-linear-gradient( 190deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    color: #ffffff;
}


/* For Footer Section CSS */

.footer-sec {
    background: #020d13;
    padding: 30px 0px;
}

.footer-sec a {
    text-decoration: none;
}


/* .strip_footer {
    background: url(../images/footer-bg.png);
    background-size: cover;
    background-position: top left;
    padding: 50px 0px 50px;
    color: #fff;
} */

.strip_footer {
    background: url(../images/footer-bg.png);
    background-size: cover;
    background-position: top left;
    padding: 50px 0px 50px;
    color: #fff;
}

.footerlist li {
    list-style-type: none;
    float: left;
}

.footerlist li a {
    color: #fff;
    text-decoration: none;
}

.strip-footer a {
    color: #fff;
}

@media (min-width: 768px) {
    .footer-sec {
        padding: 70px 0px;
    }
    .text-sml {
        text-align: left;
    }
    .textsmr {
        text-align: right;
    }
}

.bonus-des.main-container {
    padding-top: 0px;
}

span.highlight {
    border-bottom: solid 4px #fc6dab;
}