html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

/* Color CSS */

.black-clr {
    color: #000000;
}

.white-clr {
    color: #fff;
}

.gradient-text{
    color: #f614b8;
    background-image: -moz-linear-gradient( 0deg, rgb(250,170,75) 0%, rgb(255,215,22) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,170,75) 0%, rgb(255,215,22) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,170,75) 0%, rgb(255,215,22) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

/* Header CSS */
canvas{
    height:100%;
    opacity: 0.1;
}
#particles{position: absolute;
    width: 100%;
    height: 100%;}

.header-section {
	background: #014286;
	padding:30px 0px;
    position: relative;
    overflow: hidden;
}
.pre-headline{
    background-color: rgb(27 85 146);
    display: inline-block;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 50px;
}  
.title-bg1{
    background: #003196;
    color: #fff;
    padding:15px;
    display: inline-block;
    text-align: center;
    border: 1px dashed #fff;
}
a.affiliate-link-btn {
    border-radius: 10px;
    background-image: -moz-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;     
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 7px;
    font-weight: 400;
}

.header-section ul.leader-ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
}

.iconBg {
    position: relative;
    animation: spin2 12s linear 0s infinite normal;
}
@keyframes spin2 {
    0% {
      transform: rotate(-360deg); }
    100% { 
      transform: rotate(0deg); }
}
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.icon-box-img {
    position: relative;
    height: 100%;
}
.star{
    position: absolute;
    right: 2%;
    top: 15%;
 
}
.star-move{
    position: relative;
    animation: spin2 12s linear 0s infinite normal;
}
.star-bottom{
    position: absolute;
    right: 0px;
    bottom: 10%;
}
.website-move{
    position: absolute;
    left: 2%;
    top: 40%;
}
.web-move 
{
    position: relative;
    animation: rotate 8s linear 0s infinite normal;
}

.website-repair{
    position: absolute;
    right: 0;
    top: 50%;
}

.web-repair{
    position: relative;
    animation: rotate 8s linear 0s infinite normal;
}

@keyframes rotate {  	
	0%,100% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  40% {
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  70% {
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
	
}

/* Responsive Video CSS */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgba(208, 219, 227, 0.58);
    border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.live-section {
    background: #ffffff;
    padding: 30px 0px;
}

.hello-awesome {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .margin-bottom-15 {
        margin-bottom: -15px;
    }
    .hello-awesome {
        padding: 100px 0px;
        background: url(../images/hello-awesome-bg.webp) no-repeat;
        background-size: cover;
        background-position: center;
    }             
    .live-section {
        background: #ffffff;
        background-size: cover;
        padding: 100px 0px;
    }
    .header-section {
        background: url(../images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 40px 0px 180px;
    }

    .title-bg1{
        background: url(../images/heading-design.webp) no-repeat;
        background-size: 100% 100%;
        padding: 30px ;
        border: none;
    }
}

/* XS Margin Auto CSS */

@media (max-width: 767px) {
    .text-xs-center {
        text-align: center;
    }
}


@media only screen and (max-width: 767px) {
    .header-section ul.leader-ul li {
        padding: 3px 6px;
    }
}

/* MaxFunnel Section */

/* new css */

.formbg {
    position: relative;
    padding: 15px;
	background-image: -moz-linear-gradient( 90deg, rgb(1 82 166) 0%, rgb(1 65 133) 100%);
	background-image:  -webkit-linear-gradient( 90deg, rgb(1 82 166) 0%, rgb(1 65 133) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(1 82 166) 0%, rgb(1 65 133) 100%);
    border-radius: 10px;
}

.terms-section {
    padding: 30px 0px;
    background: #ffffff;
}

@media (min-width: 768px) {
    .terms-section {
        padding: 70px 0px 70px 0px;
    }
    .formbg {
        padding: 40px 30px 30px 30px;
    }
}

.form-control.input-field {
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background-color: #ffffff;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 15px;
}
@media (min-width: 768px) {
	.form-control.input-field {
		height: 50px;
	}
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 5px;
	background-image: -moz-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    text-decoration: none;
    border: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px 10px;
    line-height: 30px;
    font-weight: 700;
    outline: none;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    max-width: 510px;
    white-space: normal;
}

.exciting-launch {
    padding: 30px 0px;
    background: #e0e1ff;
}

.launch-tick1 li {
    background-position: 0px 4px;
    padding: 0px 0px 12px 10px;
}

@media (max-width: 767px) {
    .launch-tick1 li:last-child {
        padding-bottom: 0px;
    }
}

.affiliate-btn a {
	background: #e76d24;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    max-width: 510px;
}

@media (min-width: 768px) {
    .popup-btn a,
    .popup-btn input[type="submit"] {
        padding: 10px 10px;
    }
    .affiliate-btn a {
        padding: 23px 20px;
        max-width: 510px;
    }
    .exciting-launch {
        padding: 150px 0px 100px;
        background: #ffffff url(../images/exciting-launch.webp) no-repeat center center;
        background-size: cover;
    }
	a.affiliate-link-btn {
		padding: 18px 25px;
		font-size: 20px;
	}
    a.affiliate-link-btn:hover {
		background: linear-gradient(90deg, rgb(235,194,0) 0%, rgb(239,141,0) 100%);
        color: #ffffff;
    }
}

/* see-yourself */

/* marketer-section */

.heading-design {	
	border-radius: 40px;
	background-image: -moz-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
	display: inline-block;
	padding: 10px 30px;
}

.no-orange-list li {
    background: url(../images/orange-tick.webp) no-repeat;
    border: none;
    margin-top: 12px;
    background-position: 0 7px;
    padding: 0 0 12px 30px;
    list-style: none;
}

.no-orange-list li:first-child {
    margin-top: 0px;
}

@media (min-width: 768px) {
    .heading-design {
		padding: 2px 45px;
    }
}

.logos-effect img {
	transition: all 0.5s;
}

.logos-effect img:hover {
	transform: scale(1.1);
    transition: all 0.5s;
}

.contact-block{
    padding: 20px;
    position: relative;
    background: linear-gradient(102.18deg, #0A1347 7.04%, #0D2183 108.72%);
    border-radius: 30px;
}

.contact-shape {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
    padding: 30px;
}

.deep-funnel {
    background: #dfe5f7;
    padding: 30px 0px;
}

.reciprocate-sec {
    background: #ffffff;
    padding:0px 0px 30px 0px;
}

.contact-section {
    background: #030331;
    padding: 30px 0px;
}

.next-gen-sec {
	background: #dee0e4 url(../images/next-gen-bg.webp) no-repeat center center;
	background-size: cover;
    padding: 30px 0px 0px 0px;
	overflow:hidden;
	position:relative;
}
.prdly-pres {
    background: url(../images/prdly-pres.webp) no-repeat top center;
    background-size: 100% 100%;
    padding:10px 30px;
    display: inline-block;
}
.demo-bg{
	background-image: -moz-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
	padding: 5px 30px;
	border-radius: 50px;
	display: inline-block;
}
.prize-section {
	background: #fff;
	padding: 30px 0px;
}
.prize-inner-sec {
    background: url(../images/prize-bg.webp) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    padding: 30px 15px;
}

@media (min-width: 768px) {
    .prize-inner-sec {
        padding: 100px;
        border-radius: 50px;
        width: calc(100% + 200px);
        margin-left: -100px;
    }
	.prdly-pres {
		background: url(../images/prdly-pres.webp) no-repeat top center;
		background-size: 100% 100%;
		padding: 10px 65px 10px 65px;
	}
    .next-gen-sec {
        background: #b1b1b8 url(../images/feature-sec-bg.webp) center center;
		background-repeat: repeat;
        padding:100px 0px 100px 0px;
    }
    .contact-section {
        background:#fff;
        padding:0px 100px 0px;
    }
	.demo-bg {
		padding: 10px 40px;
		border-radius: 50px;
	}
    .reciprocate-sec {
        background: #ffffff url(../images/solid-track-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 0px 0px 100px 0px;
    }
    .deep-funnel {
        background: #fff  url(../images/deep-funnel.webp) no-repeat bottom center;
        background-size: cover;
        padding:50px 0px 148px;
    }
    .prize-section {
        padding: 50px 0px 100px 0px;
    }
    .contact-shape {
        padding: 25px 0px;
    }
    .contact-block {
        padding: 80px;
        background: url(../images/query-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
}

@media (min-width: 1200px) {
	.next-gen-sec {
		background: #b1b1b8 url(../images/next-gen-bg.webp) no-repeat center center;
		background-size:cover;
		padding:100px 0px 180px 0px;
	}
}


/* Price Table CSS*/

/* Price Table CSS End*/

a.link-text {
    color: #000000;
    text-decoration: none;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding:50px 0px
    }
}

/* Video links button css */

.link-text {
    display: flex;
}

.help-video-modal {
    width: 95%;
    max-width: 100%;
}

@media (min-width: 992px)
{
.help-video-modal {
    width: 850px;
    max-width: 100%;
}
}

a.close-link{
	position: fixed;
	top: 15px;
	right: 15px;
	color: #ffffff;
	z-index: 999;
	font-size:30px;
	width:30px;
	height:30px;
	display:flex;
	align-items:center;
	justify-content:center;
	background:#000000;
	border-radius:50%;
	text-decoration:none;
}
/*Common Modal Vertical Center CSS*/
.modal {text-align: center; padding: 0!important;}
.modal:before { content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -4px;}
.modal-dialog { display: inline-block;text-align: left;vertical-align: middle;}

.feature-sec {
	background: #dee0e4 url(../images/feature-sec-bg.webp);
	background-position: center;
	background-repeat: repeat;
	padding: 30px 0px; 
}
.feature-icon-block {
	background: #ffffff;
	padding: 25px 15px;
	border-radius:15px;
	box-shadow: 0px 20px 22.4px 5.6px rgba(0, 0, 0, 0.12);
}
.demo-sec {
	background: #001a4d url(../images/demo-sec-bg.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 0px;
}
.potential-sec {
	background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(0,33,144) 0%, rgb(0,22,95) 100%);
	background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(0,33,144) 0%, rgb(0,22,95) 100%);
	background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(0,33,144) 0%, rgb(0,22,95) 100%);
	padding: 30px 0px;
}
.niche-bg {
	border-radius: 40px;
    background: #fd8b25;
    padding: 2px 30px;
    display: inline-block;
}
@media (min-width: 768px) {
	.feature-sec {
		background: #dee0e4 url(../images/feature-sec-bg.webp);
		background-position: center;
		background-repeat: repeat;
		padding: 0px 0px 100px; 
	}
	.feature-icon-block {
		padding: 70px 30px 70px;
		border-radius:40px;
	}
	.demo-sec {
		padding: 100px 0px 180px;
	}
	.potential-sec {
		background: #d8def0 url(../images/potential-bg.webp);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 70px 0px 180px;
	}
	.niche-bg {
		padding: 2px 50px;
	}

}

.img-animation {
	animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
	0% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes mover2 {
	0% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}

