html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}
/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #212121;
}
.red-clr {
	color: #EF3E3A;
}
.red-clr a{
	color: #EF3E3A;
    text-decoration: none;
}
/* Header CSS */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 50px 0px;
}
.header-section-2 {
	background: #090f21 url(../images/header-bg2.webp) no-repeat top center;
    background-size: cover;
    padding: 150px 0px 50px 0px;
    margin-top: -150px;
}
  .preheadline{
	display: inline-block;
    padding: 10px 15px;
	background: #fff;
	border-radius: 50px;
  }
  .mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 20px 10px;
}
.video-box{
    position: relative; 
    padding: 20px; 
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
	backdrop-filter: blur(5px); 
    border-radius: 20px;
}
.hr{
	mix-blend-mode: overlay;
}
.menu-list li{
	background: url(../images/tick.webp) no-repeat;
    background-position: 20px 24px;
    padding: 15px 15px 15px 64px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border: 3px solid #B5D1FF;
}
.list-section {
    padding: 30px 0px;
}
.gametext {
    background: #f24440;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -52px;
    line-height: 30px;
    left: 146px;
    transform: skew(-10deg);
    border-radius: 5px;
}
@media(min-width:768px){
    .mainheadline {
        background: url(../images/top-heading-bg.webp) center center no-repeat;
        background-size: 100% 100%;
        padding: 30px 30px 40px 140px;
        left: -5px;
    }
    .header-section {
		padding: 70px 0px 100px 0px;
	}
	.header-section-2 {
		padding: 270px 0px 80px 0px;
		margin-top: -310px;
	}
    .preheadline{
		padding: 10px 50px 10px 20px;
	  }
    .list-section {
        padding: 100px 0px;
        background: url(../images/list-section-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .list-section {
        padding: 100px 0px;
        background: url(../images/list-section-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .f-md-70 {
        font-size: 70px;
    }
}



/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.footer-section {
    background: #121d32;
    padding: 50px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.instant-btn a {
    transition: all .3s ease;
    border-radius: 15px;
    background: linear-gradient(92.69deg, #EF3E3A 0%, #FF5F5B 99.78%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.instant-btn a:hover {
    background: linear-gradient(92.69deg, #FF5F5B  0%, #EF3E3A 99.78%);
}

.section1 {
    padding: 30px 0;
    background: #EAF3F8;
}

.section2 {
    padding: 30px 0;
    background: #EAF3F8;
}

.section3 {
    padding: 30px 0;
    background: #EAF3F8;
}


.plan1-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgb(96 145 169 / 19%);
}

.plan2-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgba(96, 145, 169, 0.19);
}

.tablebox1 {
    background: #9dbacc;
    width: 100%;
    float: left;
    border-radius: 30px;
}

.tablebox-inner-bg {
    background: #121d32;
    padding: 30px;
    background-size: 100% 100%;
    border-radius: 10px;
}

.table-headline-shape {
    background: url(../images/table-headline-shape.webp) no-repeat center center;
    background-size: contain;
    padding: 18px 19px 16px 17px;
}

.title-shape {
    background: #121d32;
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}

.title-shape1 {
    background: #121d32;
    padding: 20px;
    border-radius: 65px;
    display: inline-block;
}

@media(min-width:768px) {
    .title-shape {
        padding: 5px 30px;
    }
    .title-shape1 {
        padding: 5px 30px;
    }
    .tablebox-inner-bg {
        padding: 30px 15px 30px 15px;
        background-size: cover;
        border-radius: 30px;
    }
    .section-margin {
        margin-top: 320px !important;
    }
    .pimg {
        margin-top: -255px;
    }
    .section1 {
        padding: 100px 0;
        background: #EAF3F8;
    }
    
    .section2 {
        padding: 100px 0;
        background: #EAF3F8 url(../images/table-bg-2.webp) no-repeat center center;
        background-size: cover;
    }
    
    .section3 {
        padding: 100px 0;
        background: #EAF3F8 url(../images/table-bg-1.webp) no-repeat center center;
        background-size: cover;
    }
    .instant-btn a {
        font-size: 38px;
        padding: 28px 60px;
        display: inline-block;
        width: 100%;
        border-radius: 15px;
    }
}
/*Table CSS Start*/

.odd-shape {
    background: #2776cb30;
    padding: 10px 15px;
}

.even-shape {
    padding: 10px 15px;
    color: #ffffff !important;
}

.price-shape {
    background: #ffffff;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}

.now-price {
    background: #EF3E3A;
    padding: 12px 10px;
    border-radius: 22px;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
}


/*Table CSS Enad*/


/* Header Section */

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 15px 45px;
    color: #000000;
    line-height: 150%;
    font-size: 18px;
}

.kaptick li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .kaptick li {
        padding: 5px 0 30px 45px;
    }
}

@media (max-width: 767px) {
    .footer-section {
        background: #121d32;
        padding: 30px 0px;
    }
}
/******new********/


.riskfree-section {
    background: #121d32;
    background-size: cover;
    padding: 30px 0px;
}

.second-header-section {
    padding: 30px 0;
    background: #111;
}

.step-shape {
    border-width: 3px;
    border-color: #ffbc3e;
    border-style: solid;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    width: 100%;
    float: left;
    padding: 20px;
    height: 100%;
    color: #fff;
}

@media (min-width:768px) {
    .riskfree-section {
        padding: 100px 0px;
    }
    .second-header-section {
        background: #111 url(../images/cta-bg-new.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
}

.animate-charcter {
    background-image: linear-gradient( -225deg, #001963 0%, #ff0505 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    0% {
        background-position: 200% center;
    }
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.gametext {
    background: #f24440;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -50px;
    line-height: 30px;
    left: 146px;
    transform: skew(-10deg);
    border-radius: 5px;
}
.instant-btn1 a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
	background:linear-gradient(92.69deg, #EF3E3A 0%, #FF5F5B 99.78%);
    backdrop-filter: blur(10px);
}
.instant-btn1 a {
    font-size: 20px;
}