body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #000000;
}


/* Header Section CSS */

.header-section {
    background-color: #132f9c;
    padding: 30px 0;
   
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
        background: url(../images/banner-bg.webp);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
    }
}

.logo-height {
    max-height: 45px;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

a.link-text {
    color: #000000;
    text-decoration: none;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.container-padding {
    padding: 30px 0;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

a.blue-clr {
    color: #f68a1e;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px 50px;
    }
}

.lightred {
    color: #f68a1e;
}

a.lightred {
    color: #f68a1e;
    text-decoration: none;
}

ul.footer-ul a:hover {
    color: #fff;
}

/* move icons */
.star{
    position: absolute;
    right: 2%;
    top: 15%;
 
}
.star-move{
    position: relative;
    animation: spin2 12s linear 0s infinite normal;
}
.star-bottom{
    position: absolute;
    left: 0px;
    bottom: 10%;
}
.website-move{
    position: absolute;
    left: 4%;
    top: 30%;
}
.web-move 
{
    position: relative;
    animation: rotate 8s linear 0s infinite normal;
}

.website-repair{
    position: absolute;
    right: 0;
    top: 50%;
}

.web-repair{
    position: relative;
    animation: rotate 8s linear 0s infinite normal;
}
@keyframes spin2 {
    0% {
      transform: rotate(-360deg); }
    100% { 
      transform: rotate(0deg); }
}
@keyframes rotate {  	
	0%,100% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  40% {
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  70% {
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
	
}
/* move icons ends */
