html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #031528;
    font-size: 14px;
}
html::-webkit-scrollbar {
    width: 10px; 
}

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #B956FF;
  border-radius: 25px;
}
.orange-clr{
	color:#FF813B !important;
}
.black-clr {
    color: #000000;
}
/* Header Section CSS */

.header-section {
    background-color: #080d21;
    padding: 30px 0;
}

.fifth-section {
    background: #080d1a;
    padding: 30px 0;
}

@media(min-width:768px) {
    .header-section {
        background: #fff url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size:cover;
        padding: 40px 0px 140px 0px;
    }
    .fifth-section {
        background: #080d1a url("../images/proudlybg.png") no-repeat bottom center;
        background-size: cover;
        padding: 70px 0 70px 0px;
    }
}

.white-clr {
    color: #ffffff;
}

.relative {
    position: relative;
}

.third-section {
    background: #EFEFF9;
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .third-section {
        padding: 100px 0;
    }
}

.kapblue {
    color: #ff7200;
}

.fourth-section {
    background: #fff;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}


.white-section {
    background: #fff;
    padding: 30px 0;
}

.footer-section {
    background: #000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}


.xs-text-center{
    text-align: center;
}

@media(min-width:768px) {
    .footer-section {
        padding: 45px 0px 50px;
    }
    .xs-text-center {
        text-align: left;
    }
}


.probtn1 a ,
.probtn a {
	border-radius: 10px;
	background-image: -webkit-linear-gradient(#FFCD00 , rgba(237, 28, 36, 1));
    background-image: -ms-linear-gradient(#FFCD00 , rgba(237, 28, 36, 1));
    background-image: -moz-linear-gradient(#FFCD00 , rgba(237, 28, 36, 1));
	box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	font-weight: 700;
	width: 100%;
	font-size: 24px;
	line-height: 140%;
}

.probtn1 a:hover,
.probtn a:hover {
    background-image: -webkit-linear-gradient(rgba(237, 28, 36, 1) , #FFCD00);
    background-image: -ms-linear-gradient(rgba(237, 28, 36, 1) , #FFCD00);
    background-image: -moz-linear-gradient(rgba(237, 28, 36, 1) , #FFCD00);
	text-decoration: none;
}

@media (min-width: 768px){
.probtn1 a,
.probtn a {
    font-size: 42px;
    padding: 28px 30px;
}
}
/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    background: #1a243f;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	position:relative;
}
.tablebox3:before{
	content:'';
	position:absolute;
	background: url(../images/most-popular.png) no-repeat left top;
	min-height:165px;
	min-width:153px;
	left: 0px;
	top: 0px;
}


ul.grey-tick-last {
    padding: 0px;
    margin: 0;
}

ul.grey-tick-last li {
    background: url(../images/greentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
	color:#ffffff;
    background-position: 15px 22px;
    line-height: 150%;
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #15064a;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #200d68;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

.tbbg3 {
    background:#200d68;
    padding:50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #200d68;
}


@media (min-width: 768px) {
    .tbbg3 {
        padding:80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px;
    }
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}
.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
	border-radius:0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
	    border: solid 1px #cacaca;
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    color: #FF813B;
    text-decoration: none;
}

@media(min-width:768px) {
    .thanks-button a {
        text-decoration: none;
    }
}



/*Table CSS Enad*/

.grey-section {
    background:#f2f4fa url(../images/orange-section-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}

.moneyback-section {
    background: #1a243f;
    background-size: cover;
    padding: 30px 0;
    color: #ffffff;
}

.license-section {
    background: #fae4c9 url(../images/proudlybg.png) no-repeat center center;
    background-size: cover;
    padding: 5% 0;
}

.bonus-section {
    background: #EFEFF9;
    background-size: cover;
    padding: 30px 0;
}

.table-section {
    background: #ffffff;
    padding: 4% 0;
}

@media (min-width:768px) {
    .table-section {
        padding: 100px 0;
    }
    .bonus-section {
        background: #EFEFF9;
        background-size: cover;
        background-position: center bottom;
        padding: 70px 0px 100px 0px;
    }
    .moneyback-section {
        background: #1a243f url(../images/moneyback-bg.png) no-repeat center center;
        background-size: cover;
        padding: 70px 0 70px 0px;
        color: #ffffff;
    }
    .license-section {
        background: #fae4c9 url(../images/proudlybg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
}


.promo-icon {
    position: absolute;
    left: 15px;
    top: -20px;
    display: none;
}


/*-------- Responsive ------------*/

@media (min-width:768px) {
    .promo-icon {
        position: absolute;
        left: 0px;
        top: -60px;
        display: block;
    }
    .white-section {
        padding: 100px 0;
        background: #fff;
        background-size: cover;
        background-position: center;
    }
    .third-section {
        padding: 100px 0;
    }
    .grey-section {
        background: #EFEFF9;
        background-size: cover;
        background-position: center;
        padding: 100px 0;
    }
}


.second-sec {
    padding: 5% 0;
    background: #fff;
    background-size: cover;
    background-position: center;
}


.pre-heading {
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 2px solid rgba(185, 86, 255, 1);
}
@media (min-width: 768px){
.pre-heading {
    padding: 15px 40px;
}
}

.table-border-content {
    background: #fff;
    border: 3px dashed #999;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: auto;
    padding: 0px 0px 10px 0px;
}
.tb-check {
    background: #FEFE9B;
    padding: 20px 0px;
}
.red-clr {
    color: rgba(239, 71, 72, 1);
}
.green-clr {
    color: #009900;
}
@media (min-width: 768px){
.table-border-content {
    max-width: 75%;
}
}
.prdly-pres {
    background: #a64dff;
    padding: 10px;
    display: inline-block;
    letter-spacing: 8px;
}
@media (min-width: 768px){
.prdly-pres {
    background: url(../images/intro-bg.png) no-repeat top center;
    padding: 10px 166px 24px;
    display: inline-block;
    letter-spacing: 8px;
}
}

.footer-ul a:hover{
    color: #fff;
}
.bonus-head{
	background: #FF813B;
	border-radius: 15px;
	padding: 8px 30px;
	display: inline-flex;
	position: relative;
	align-items: center;
}
@media(min-width:768px){
    .bonus-head{
		padding: 15px 40px;
		border-radius: 100px;
	}
	.bonus-head::before{
		width: 70px;
		height: 1px;
		background: #FF813B;
		position: absolute;
		content: '';
		left: -70px;
	}
	.bonus-head::after{
		width: 70px;
		height: 1px;
		background: #FF813B;
		position: absolute;
		content: '';
		right: -70px;
	}
}
.warning-section {
    background-color: #7938ff;
    padding: 20px 0px;
}
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
@media (min-width: 768px){
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
}
}