body {
    font-family: 'Spartan', sans-serif;
    color: #000;
    font-size: 14px;
}


/* colors */

.purple {
    color: #f57c25;
}

.lite-black-clr {
    color: #240f75;
}

.greentext {
    color: #d8f67e;
}

.green-clr {
    color: #00ff84;
}

.yellow-clr {
    color: #fff600;
}

.white-clr {
    color: #fff;
}


/* Main Header Section CSS */

.main-header {
    background: rgb(9, 20, 120) url(../images/header-bg.png);
    padding: 30px 0px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.yellow-bg {
    background: #ffcf69;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
}

.blue-head {
    color: #3f43ba;
}

.content-box {
    background: #fff;
    padding: 30px 15px;
    border-radius: 5px;
}

.video-frame {
    background: transparent;
}

.black-clr {
    color: #000000;
}

.main-header .highlight-heading {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgb(19 22 38 / 20%);
}

.post-heading {
    background: #ffffff;
    padding: 10px;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    text-align: center;
}


/* .post-heading span {
    transform: skew(10deg);
} */

@media (min-width: 768px) {
    .main-header .highlight-heading {
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
    }
    .post-heading {
        background: url(../images/pre-shape.png) no-repeat center center;
        background-size: contain;
        padding: 30px 40px 30px 110px;
        border-radius: 0px;
        text-align: left;
    }
    /*  .post-heading span {
        transform: skew(25deg);
        display: inline-block;
    } */
}

@media (min-width: 768px) {
    .rotate-5 {
        transform: skew(7deg);
    }
}


/* Affiliate Bonus Buy Button */

a.bonusbuy-btn {
    background: #ff9023;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    border-radius: 8px;
}

a.bonusbuy-btn:hover,
a.bonusbuy-btn:focus {
    background: #ff9023;
    text-decoration: none;
}

@media (min-width: 768px) {
    .probtn a {
        padding: 27px 50px;
    }
    .yellow-bg {
        padding: 10px 20px;
    }
}


/* Bonus Header Section bg Start Main Css */

.bonus-header {
    padding: 30px 10px 0px 10px;
}

.heading-bg {
    background-color: #ee3725;
    border-radius: 10px;
    padding: 15px 15px;
    color: #ffffff;
}

.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #10a6f8;
    display: inline-block;
    text-transform: uppercase;
}

.section-bonus {
    padding: 30px 0px 0px 0px;
}

.cta-btn-section {
    padding: 30px 0px 0px 0px;
}

.bonus-title-color {
    color: #000000;
}

.bonus-list li {
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 4px;
    padding-left: 3rem;
    padding-bottom: 25px;
    list-style-type: none;
}

.bonus-list li:last-child {
    padding-bottom: 0px;
}

.mw-60 {
    max-width: 60%;
}


/* Huge Section background main CSS */

.huge-area {
    background: url(../images/huge-area.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
}

.white-section {
    background: rgb(255, 255, 255);
    padding: 30px 15px;
}


/* Footer Section Start Main CSS */

.strip_footer {
    background: #000;
    padding: 40px 0px 40px;
    color: #fff;
}

.strip_footer a {
    color: white;
}


/* Exit Pop Up Css Start */

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}


/* #ouibounce-modal .modal-body {
	padding: 0px 20px;
	font-size: .9em
} */

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.modal-body {
    position: relative;
    padding: 15px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 30px;
    opacity: 1;
    outline: none;
    color: #300476 !important;
    font-weight: 400;
    background: #ffe8cc !important;
    top: 1px;
    position: absolute;
    z-index: 2;
    right: 1px;
    padding: 0px 5px 0px 5px !important;
}

.modal-header .close {
    margin-top: -5px;
}

.innerbody {
    border-radius: 10px;
    margin-top: -1%;
    float: left;
    width: 100%;
}

.popupbg {
    background: url(../images/exitbg.png) repeat;
    padding: 8px 0px;
}


/* Media Querry Start */


/* For Header Bg */

@media(min-width:768px) {
    .main-header {
        padding: 40px 0px 100px 0px;
    }
    .content-box {
        background-color: #fff;
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
        border-radius: 25px;
        display: inline-block;
        box-shadow: -1.04px 4.891px 6px 0px rgba(19, 22, 38, 0.2);
    }
    .bonus-header {
        padding: 70px 0px 0px 0px;
    }
    .heading-bg {
        background: url(../images/head-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        padding: 50px 15px 100px 15px;
        background-size: 100% 100%;
    }
    a.bonusbuy-btn,
    a.bonusbuy-btn:focus {
        font-size: 36px;
        padding: 28px 74px 30px 74px;
        width: auto;
        line-height: 140%;
    }
    .section-bonus {
        padding: 30px 0px;
    }
    .cta-btn-section {
        padding: 100px 0px;
    }
    .huge-area {
        padding: 70px 0 70px;
    }
    .strip_footer {
        background: #09090a;
        padding: 50px 0px;
        color: #fff;
    }
}


/* Exit Popup CSS */

.link-btn a {
    background-color: #F33A3A;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    display: inline-block;
    border-radius: 2px;
    text-decoration: none;
    padding: 8px 60px;
}

.pop-padding {
    padding: 20px 30px 20px 30px;
}

.border-pop {
    border: 1px solid;
    padding: 30px;
    margin: 15px 0;
}

@media(max-width:767px) {
    .xstext1 {
        text-align: center;
    }
}

.section-host {
    padding: 30px 0px 0px;
    background: #ffffff url(../images/host-bg.png) no-repeat center center;
    background-size: cover;
}

.kapblue {
    color: #3f43ba;
}

@media (min-width: 768px) {
    .section-host {
        padding: 50px 0px 50px 0px;
    }
    .f-md-60 {
        font-size: 60px;
    }
}

.white-area {
    padding: 50px 15px;
}

.cta-btn-section.pt-3 {
    padding-bottom: 30px;
}

@media (min-width:768px) {
    .cta-btn-section.pt-3 {
        padding-bottom: 100px;
    }
}

.dark-cta-bg {
    background: #030210 url(../images/cta-sec.png) no-repeat center center;
    background-size: cover;
}


/* .dark-cta-bg .countdown {
	color: #ffffff;
} */


/* grand bonus */

.coursova-bg {
    background: #100370;
    padding: 30px 0px;
}

.heading-co-bg {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgba(19, 22, 38, 0.2);
}

.list-head-co li {
    background: url(../images/list-head.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}

.banner {
    padding: 10% 0px;
    background: #153c79;
}

.yellowline {
    border-bottom: 2px solid #ecc914;
}

.lightyellow {
    color: #ecc914;
}

@media (min-width:768px) {
    .coursova-bg {
        background: #ffffff url(../images/coursova-bg.png) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 180px 0px;
    }
    .heading-co-bg {
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
    }
    .rotate-5 {
        transform: skew(7deg);
    }
    .min-sm-video-width-left {
        width: 68%;
    }
    .banner {
        background: url(../images/bg-ni.png) #153c79 no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 10% 0% 5%;
    }
    .grand {
        padding: 40px 15px;
        background: #ff7800;
    }
}

.exclusive-bonus {
    background: #e95093;
    padding: 30px 15px;
}
/* Ninjakash */

.header-sectionnj {
    background: #080d21;
    padding: 30px 0px;
}

.header-sectionnj ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.post-heading-nj {
    padding: 6px;
    display: inline-block;
    border-radius: 65px;
    background-color: rgb(211, 223, 243);
    box-shadow: inset 0px 4px 10px 0px rgb(0 0 0 / 35%), inset 2.828px -2.828px 10px 0px rgb(255 255 255 / 35%);
    color: #080d1a;
}
.orange, a.orange {
    color: #ff7200;
}
.list-head {
    list-style: none;
}
.list-head li {
    background: url(../images/list-head.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}
.headernj-section {
	background: #080d21;
	padding: 30px 0px;
}
.list-head li:last-child {
    border-bottom: 0px;
}
.headerlf-section {
	background: #162637;
	padding: 30px 0px;
}
.qcolor {
    color: #008aff;
}
.fbox {
    background: #fff;
    border: 2px solid #e3e3e3;
    border-radius: 20px;
    padding: 20px;
}
.features2 ul li {
    padding-bottom: 6px!important;
    line-height: 25px!important;
}
.pcolorline {
    border-bottom: 1px solid #008aff;
}
.features1 ul li {
	background: url(../images/check-ft.png) no-repeat;
	list-style: none;
	padding-bottom: 12px;
	padding-left: 40px;
	background-position: 2px 3px;
	line-height: 27px;
}
.lf-demo-sec {
	padding: 30px 0px;
	background: #ffffff;
}
.list-head li {
    background: url(../images/list-head.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}
@media(min-width:768px) {
    .min-sm-video-width-left {
        width: 61%;
    }
	.headernj-section {
		background: #080d21 url(../images/headernj-bg.png) no-repeat bottom center;
		background-size: cover;
		padding: 40px 0px 140px 0px;
	} 
	.headerlf-section {
		padding: 70px 0px 150px;
		background: url(../images/newbg.png) #162637 no-repeat;
		background-size: cover;
		background-position: bottom center;
	}
	.lstripbg2 {
		background: url(../images/layer2.png) no-repeat;
		padding: 0px 10px;
	}
	.lstripbg3 {
		background: url(../images/layer3.png) no-repeat;
		padding: 0px 7px;
	}
	.post-heading-nj {
		padding: 6px 30px;
	}
	.features1 ul li {
		padding-left: 50px;
	}
}
/* Ninjakash */


/* Webpull Section Start */
.webpull-header-section{
    padding: 50px 0px 30px;
    background-color: #641fcc;
}
.webpull-header-section ul.leader-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 12px;
}
.webpull-header-section ul.leader-ul li{
    display: inline-block;
    padding: 0px 5px;
    font-weight: 300;
}
.webpull-header-section ul.leader-ul li a{
    text-decoration: none;
    color: #ffffff;
}
.webpull-header-section .affiliate-link-btn a {
    border-radius: 65px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 500;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient(64deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
}
.webpull-header-section .affiliate-link-btn a:hover{
    transition: all .3s ease;
    background-image: -moz-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(250, 132, 96) 0%, rgb(252, 177, 33) 100%);
}
.webpull-header-section .pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: #101012;
    outline: none;
    border-color: #682af1;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}
.webpull-header-section .highlight-heading {
    background: #fb954a;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0px;
}
.webpull-header-section .responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
	border-radius: 5px;
}

.webpull-header-section .responsive-video iframe,
.webpull-header-section .responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.webpull-header-section a.cta-link-btn{    
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 0px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    background-image: -moz-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -webkit-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -ms-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: 0.5s;}
    .webpull-header-section a.cta-link-btn:hover{
        background: linear-gradient(90deg, rgba(253, 139, 37, 1) 0%, rgba(255, 103, 28, 1) 100%);
        text-decoration: none;
        transform: scale(1.03);
    }
    .webpull-header-section .key-features-bg{
        padding: 20px;
        position: relative;
        width: 100%;
        text-align: center;
        background: rgba(255, 255, 255, 0.09);
        border-radius: 15px;
    }
    .webpull-header-section .list-head {
        list-style: none;
    }
    .webpull-header-section .list-head li {
        background: url(../images/webpull-green-tick1.webp) no-repeat;
        padding: 10px 0px 10px 35px;
        background-position: 0px 13px;
        text-align: left;
        border-bottom: solid 1px #8051d5;
    }
    .webpull-header-section .white-clr2 {
        color: #efebeb;
    }
    .webpull-header-section .list-head li {
        background: url(../images/webpull-green-tick1.webp) no-repeat;
        padding: 10px 0px 10px 35px;
        background-position: 0px 13px;
        text-align: left;
        border-bottom: solid 1px #8051d5;
    }
@media (min-width:767px){
    .webpull-header-section{
        background: #682af1 url(../images/webpull-header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 30px 0px;
    }
    .webpull-header-section .affiliate-link-btn a{
        padding: 15px 30px;
        font-size: 24px;
    }
    .webpull-header-section .pre-heading{
        padding: 15px 30px;
        border-radius: 100px;
    }
    .webpull-header-section a.cta-link-btn{
        font-size: 32px;
        padding: 24px 50px 24px 50px;
        display: inline-block;
    }
}
/* WebPull Section End */



/* WebPrimo Header CSS Start */

.WebPrimo-header-section {
    background: rgb(0, 68, 205);
    background: -moz-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    background: linear-gradient(180deg, rgba(0, 68, 205, 1) 0%, rgba(0, 22, 95, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0044cd", endColorstr="#00165f", GradientType=1);
    padding: 30px 0px;
}

.WebPrimo-header-section ul.leader-ul,
.main-header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 12px;
}

.WebPrimo-header-section ul.leader-ul li,
.main-header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 300;
}

.WebPrimo-header-section ul.leader-ul li a,
.main-header-section ul.leader-ul li a {
    text-decoration: none;
    color: #ffffff;
}

.WebPrimo-highlihgt-heading {
    position: relative;
    background: #000000;
    padding: 10px 1px;
    border-radius: 75px;
    display: inline-block;
    color: #f68a1e;
}
.WebPrimo-higlight-text{
	background: url(../images/viddeyo-post-head-sep.webp) no-repeat bottom center;
	display:inline-block;
	background-size:contain;
}
.WebPrimo-key-features-bg {
    padding:20px;
    position: relative;
    width: 100%;
    text-align: center;
    background:rgba(255,255,255,0.05);
	border-radius:15px;
}
.WebPrimo-list-section {
    padding: 30px 0px;
    background: #ffffff;
}
.webprimo-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}

.webprimo-orange-list li {
    padding: 12px 20px 12px 50px;
    position: relative;
}

.webprimo-orange-list li::before {
    content: url(../images/webprimo-red-tick.webp);
    position: absolute;
    left: 0px;
    top: 15px;
}
.webprimo-header-bordered-list li {
    list-style: none;
}

.webprimo-header-bordered-list li:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}

@media (min-width: 768px) {
   .WebPrimo-header-section {
        background: #0043cc url(../images/webprimo-header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 50px 0px 160px;
    }
   .WebPrimo-highlihgt-heading {
    position: relative;
    padding: 8px 60px;
   }
   .WebPrimo-list-section {
        padding:0px 0px 70px 0px;
    }
    .webprimo-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }
    .webprimo-list-section {
        padding:0px 0px 70px 0px;
    }
    .webprimo-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -90px;
    }}
/* WebPrimo Header Section Css End */

/* Maizilo css start */
.header-section-mailzilo {
    background: #ffffff url(https://cdn.oppyo.com/launches/mailzilo/advanced/header-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 130px 0px;
}
.header-section-mailzilo .post-heading-mailzilo {
    padding: 10px;
    margin: 0px auto;
    border-width: 1px;
    border-color: rgb(89, 128, 198);
    border-style: dashed;
    border-radius: 29px;
    display: inline-block;
}

.header-section-mailzilo .key-features-bg-mailzilo {
    padding: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    background-color: #071d52;
}
.header-section-mailzilo .list-head li {
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/pointer.webp) no-repeat;
    padding: 10px 0px 10px 35px;
    background-position: 0px 19px;
    text-align: left;
}
.header-section-mailzilo .list-highlight {
    color: #fffa64;
    background: url(https://cdn.oppyo.com/launches/mailzilo/advanced/highlight-line.webp) no-repeat bottom center;
    background-size: contain;
    padding-bottom: 5px;
    font-weight: 500;
}
.header-section-mailzilo .yellow-clr {
    color: #fffa64;
}

@media (min-width: 768px){
    .header-section-mailzilo .header-section-mailzilo {
    padding: 50px 0px 150px 0px;
}
.header-section-mailzilo .post-heading-mailzilo {
    padding: 15px 30px;
}
.header-section-mailzilo .key-features-bg-mailzilo {
    padding: 40px 30px 70px 30px;
    text-align: center;
    border-radius: 0;
    background: transparent url(https://cdn.oppyo.com/launches/mailzilo/advanced/key-feature-bg.webp) no-repeat center center;
    background-size: 100% 100%;
}
}

/* Maizilo css ends */


/* Entertainerz */
.header-section-enter {
    background: rgb(9,20,120);
    background: -moz-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    background: linear-gradient(180deg, rgba(9,20,120,1) 0%, rgba(3,5,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091478",endColorstr="#030531",GradientType=1);
    padding: 30px 0 30px 0px;
}


.header-section-enter .second-section {
    background: #ffffff;
    padding: 30px 0 30px 0px;
}

.header-section-enter ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-section-enter ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}



.header-section-enter .list-head {
    list-style: none;
}

.header-section-enter .list-head li {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/point-icon.webp) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 5px;
    text-align: left;
}

.header-section-enter .list-head li:last-child {
    border-bottom: 0px;
}

.header-section-enter .pre-heading {
    background: #ced0e2;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}

.header-section-enter .skew-con {
    transform: skew(5deg);
}

.header-section-enter .gap20 {
    gap: 20px;
}
.header-section-enter .offer-new {
    background-color: #FF1D48;
    padding: 15px 0;
}
.header-section-enter .offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
.header-section-enter .main-heading-bg {
    background: url(https://cdn.oppyo.com/launches/entertainerz/special/main-heading-bg.webp) no-repeat center center;
    padding: 10px 20px;
    background-size: 100% 100%;
    display: inline-flex;
}
.header-section-enter .orange-clr, a.orange-clr {
    color: #ffca5a;
    text-decoration: none;
}
@media (min-width:768px) {
    .header-section-enter a.cta-link-btn{
        padding-left:0px !important;
        padding-right:0px !important;
        font-size: 34px;
    }
    .header-section-enter .offer {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        flex-direction: row;
    }
    .header-section-enter .skew-con {
        transform: skew(10deg);
    }
    .header-section-enter .pre-heading {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
    .header-section-enter {
        background: #091274 url(https://cdn.oppyo.com/launches/entertainerz/special/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .header-section-enter .second-section {
        padding: 0px 0px 100px 0px;
    }
    .header-section-enter ul.leader-ul {
        margin-top: 12px;
    }
    
    .header-section-enter .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .header-section-enter .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
}
/* Entertainerz Section Css End */