@import url(style.css);
@import url(timer.css);

/* Main Header Section CSS */

/* Affiliate Bonus Buy Button */

a.bonusbuy-btn {
    border-radius: 15px;
    background-color: #FFA829;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    padding: 5px 20px;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
}

a.bonusbuy-btn:hover,
a.bonusbuy-btn:focus {
    transition: all .3s ease;
    background: #ee9615;
}

/* Bonus Header Section bg Start Main Css */

.bonus-header {
    padding: 30px 10px 0px 10px;
}

.bonus-title-bg {
    background: -moz-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background: -ms-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    color: #fff;
}
.section-bonus {
    padding: 30px 0px;
}
.bonus-title-color {
    color: #182d5a;
}
.bonus-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special-bonus/kap-tick.webp) no-repeat;
    background-position: 0 5px;
    padding-left: 3rem;
    padding-bottom: 25px;
    list-style-type: none;
}
.bonus-list li:last-child {
    padding-bottom: 0px;
}
/* For Header Bg */

.dark-cta-sec {
    background: url(../images/btn-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
    position: relative;
    z-index: 9999;
}

@media(min-width:768px){
    .dark-cta-sec {
        padding: 80px 0;
    }
}

.cta-btn-section {
    padding: 30px 0px;
}
.huge-area {
    padding: 30px 0;
    background: #252525;
}
.white-section {
    background: rgb(255, 255, 255);
    padding: 30px 15px;
}
@media(min-width:768px) {
    a.bonusbuy-btn {
        font-size: 34px;
        padding: 20px 50px;
        display: inline-block;
        width: auto;
        border-radius: 100px;
    }

    .bonus-header {
        padding: 70px 0px 0px 0px;
    }
    .section-bonus {
        padding: 50px 0px;
    }
    
    .huge-area {
        background: #252525;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 50px 0px;
        color: #fff;
    }
}

/* Media Querry Start */

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/* Exclusive-Section */

.exclusive-bonus {
    background: #e95093;
    padding: 30px 15px;
}

.list-head {
    list-style: none;
}
.list-head li {
    background: url(../images/list-head.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}

.list-head li:last-child {
    border-bottom: 0px;
}

.border-video {
	border-radius: 20px;
}

.relative {
	position: relative;
}

@media (max-width: 767px) {

	.mx-xs-auto,
	.mx-xs-center {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

