
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
	    overflow-x: hidden;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
/* Red Gradient */
.red-gradient{
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;}
    
/* Header CSS */
    
.header-section {
    background: #000;
    padding: 30px 0
}

.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.preheadline{
    background: rgb(255 255 255);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 45px;
    display: inline-block;
    padding: 10px;
    }
.header-list-block {
    border-radius:0px 0px 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
    }
.second-section {
    padding:0px 0px 30px 0px;
    background: #ffffff;
}
.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 20px 10px;
}
@media(min-width:768px) {
    .preheadline{
        padding: 7px 32px;
        }
    .header-section {
        background: #000 url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0 100px
    }
    .mainheadline {
        background: url(../images/top-heading-bg.webp) center center no-repeat;
        background-size: 100% 100%;
        padding: 35px 30px 40px 30px;
        left: -5px;
    }
}

.caveat {
    font-family: 'Caveat', cursive;
}
.presenting-head {
    background: #31292d;
    border-radius: 40px;
    display: inline-block;
    padding: 8px 50px;
}
.fifth-section {
    background: url(../images/proudlybg.webp) no-repeat top center;
    background-size: cover;
    padding: 70px 0 30px 0
} 
.proudly-section {
	background: url(../images/proudlybg.webp) no-repeat top center;
	background-size: cover;
	padding: 80px 0px 30px 0;
}
.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

@media(min-width:768px) {
    .proudly-section {
        padding:100px 0px;
    }
    .fifth-section {
        padding: 100px 0px;
    }
    .second-section {
        padding: 0px 0 80px;
        background: #ffffff url(../images/second-sec-bg.webp) no-repeat;
        background-position: center center;
    }
    .header-list-block {
        padding: 40px 30px;
    }
}
.white-section {
    background: #fff;
    padding: 30px 0;
}

.grey-section {
    background: #faf4f4;
    padding: 30px 0;
}
.caveat {
    font-family: 'Caveat', cursive;
}
.probtn1 a {
	border-radius: 50px;
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 140%;
}

.probtn1 a:hover {
    background: linear-gradient(93.05deg, #FF4E4E 0%, #EC1C24 100%);
    color: #ffffff;
}
@media(min-width:768px) {
    .white-section {
        padding: 60px 0px;
    }
    .grey-section {
        padding: 60px 0px;
    }
    .probtn1 a {
        font-size: 36px;
        padding: 25px 30px
    }
}


/*Table CSS Start*/
.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #160403;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(27 97 219 / 48%);
    position: relative;
    border: solid 1px #071125;
}

.tablebox3:before {
    content: '';
    position: absolute;
    background: url(../images/most-popular.webp) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 0px;
    top: 0px;
}

ul.vgreytick {
    padding: 0px;
    margin: 0;
}

ul.vgreytick li {
    background: url(../images/launch-tick-blue.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}

ul.vgreytick li:nth-child(odd) {
    background-color: #d9efff;
}

ul.vgreytick li:nth-child(even) {
    background-color: #ffffff;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px;
    margin: 0;
}

ul.grey-tick-last li {
    background: url(../images/launch-tick-blue.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    color: #08041e;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #ffffff;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #D9EFFF;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

.tbbg2 {
    background-color: #fff;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}

.tbbg3 {
    background: #071125;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}
.most-popular {
    background: url(../images/most-pop.webp) no-repeat center;
    padding: 15px 30px 30px 30px;
    background-size: 100% 100%;
    margin-top: -40px
}

@media (min-width: 768px) {
    .tbbg3 {
        padding: 40px 30px 40px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg2 {
        padding: 40px 30px 40px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 25px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 25px;
    }
}

.myfeatureslast {
    float: left;
    padding: 30px ;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

@media(min-width:768px) {
    .table-section {
        padding:60px 0px ;
        background: url(../images/pricing-table-bg.webp) no-repeat ;
        background-position: center center;
        background-size: cover;
    }
}

@media (max-width:767px) {
    .tablebox3:before {
        content: '';
        position: absolute;
        background: url(../images/most-popular.webp) no-repeat;
        min-height: 120px;
        min-width: 120px;
        left: 0px;
        top: 0px;
        background-size: contain;
    }
}
.kapblue,
a.kapblue {
    color: #ec1c24;
    text-decoration: none;
}
.bonus-section {
	background: url(../images/bonus-bg.webp) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}
.white-bonusbox-bg{
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(90 90 90 / 40%);
}
.moneyback-section {
    background:#08041e url(../images/moneyback-bg.webp) no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0 30px;
}
.heading-design-bg {
    padding: 12px 15px;
    display: inline-block;
    background: #ee5252;
    border-radius: 15px;
}
@media (min-width:768px) {
    .moneyback-section {
    padding:70px 0px;
    }
    .bonus-section {
	padding: 70px 0px;
    }
    .bonus-size {
        width: 200px;
        margin-right: auto;
    }
    .white-bonusbox-bg{
        background-color: white;
        padding: 30px 50px;
        border-radius: 40px;
        box-shadow: 0px 0px 22px 0px rgb(90 90 90 / 40%);
    }
    .heading-design-bg {
    padding: 5px 20px 10px 20px;
    display: inline-block;
    background: url(../images/lets-face-it-bg.png) no-repeat;
    border-radius: 0px;
}
}
.footer-section {   
    background: #000;
    padding: 30px 0;
}
.footer-ul li a:hover {
    color: #ffffff;
    text-decoration: none;
}
.footer-ul {
    padding: 0
}
.footer-ul li {
    display: inline;
    line-height: 130%;
}
@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
}
.head-design {
    background: url(../images/head-bg.webp)no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    padding: 5px 35px;
}
@media (min-width: 768px){
.head-design {
    padding: 5px 70px;
}
}


