html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}
.caveat{
	font-family: 'Caveat', cursive;
}
html::-webkit-scrollbar {
    width: 10px; 
}
html::-webkit-scrollbar-track {
  background-color: #eee;
}
html::-webkit-scrollbar-thumb {
  background: #0090FF;
  border-radius: 25px;
}
.yellow-clr {
    color: #FFCD00;
}
.white-clr {
    color: #ffffff;
}
.blue-clr {
    color: #01155e;
}
.blue-gradient{
    background: var(--blue, linear-gradient(180deg, #25D7FC 0%, #0091FF 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.red-clr {
    color: #FF361D;
}
.grey-clr{
    color: #D9D9D9;
}
.light-blue{
    color:#00AAFF;
}
.orange-clr{
    color: #FF813B;
}
.underline {
    border-bottom: 2px solid;
}
.black-clr {
	color: #031528;
}
.pre-heading {
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 2px solid #15C5F3;
}
.red-brush {
    background: #e71818;
    text-align: center;
    padding: 10px;
}
.shape-head{
    background: url(../images/shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 20px;
    text-align: center;
}
a.cta-link-btn{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    background: var(--Orange-gradient, linear-gradient(0deg, #0091FF 10%, #25D7FC 100%));
    border-radius: 10px;
}
a.cta-link-btn:hover {
    border-radius: 8px;
    background: var(--Orange-gradient, linear-gradient(0deg, #25D7FC 10%, #0091FF 100%));;
    color: #ffffff;
}
.blue-design {
    background: url(../images/blue-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px;
}
@media(min-width:768px){
    a.cta-link-btn {
        font-size: 30px;
        padding: 35px 25px;
        display: inline-block;
    }
}
.header-section {
    padding: 30px 0px;
    background: #042c67;
    position: relative;
    z-index: 1;
}
.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}
@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 80px 0px;
        background: #042c67 url(../images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .affiliate-link-btn a {
        font-size: 22px;
        padding: 15px 20px;
        display: inline-block;
        width: auto;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }
    .pre-heading {
        padding: 9px 26px;
    }
    .red-brush {
        padding: 15px 60px;
        background: url(../images/red-brush.webp) no-repeat center center;
        background-size: 100% 100%;
        display: inline-block;
    }
    .border-dashed{
        padding: 20px 30px;
    }
}
.steps-blue-border{
    padding: 20px 20px 20px 40px;
}
.affiliate-link-btn {
    text-align: center;
}
.affiliate-link-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(#25D7FC , #0091FF);
    background-image: -webkit-linear-gradient(#25D7FC , #0091FF);
    background-image: -ms-linear-gradient(#25D7FC , #0091FF);
}
.affiliate-link-btn a:hover {
    border-radius: 8px;
    background-image: -moz-linear-gradient(#0091FF , #25D7FC);
    background-image: -webkit-linear-gradient(#0091FF , #25D7FC);
    background-image: -ms-linear-gradient(#0091FF , #25D7FC);
    color: #ffffff;
}
.list-head {
    list-style: none;
}
.list-head li {
    background: url(../images/list-head.webp) no-repeat;
    padding: 15px 0px 15px 45px;
    background-position: 0px 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.list-head li:last-child {
    border-bottom: 0px;
}
.smile-text {
    background: #FF2C2C;
    border-radius: 25px;
    padding: 9px 15px 9px 55px;
    position: relative;
    display: inline-block;
}
.smile-text::before {
    position: absolute;
    top: -23px;
    left: -60px;
    content: url(../images/thumbsup.webp);
}
/* Proudly Section starts */
.proudly-section {
    padding: 30px 0px;
    background: #000415;
}
.prdly-pres {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.10);
    padding: 10px;
    display: inline-block;
    letter-spacing: 8px;
}

@media (min-width:768px) {
    .prdly-pres {
        border-radius: 40px;
        padding: 15px 35px;
        display: inline-block;
        letter-spacing: 8px;
    }
    .proudly-section {
        padding: 100px 0px;
        background: #EFF5F9 url(../images/presenting-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
}
/* Proudly Section ends */
/* Everything Section Starts */
.everything-section{
    background: #042c67;
    padding: 30px 0px;
}
.e-box{
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid rgba(255, 176, 176, 0.30);
    background: rgba(255, 0, 0, 0.10);
    backdrop-filter: blur(10px);
    text-align: center;
    height: 100%;
    text-transform: capitalize;
}
.e-box-blue{
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid rgba(33, 150, 243, 0.30);
    background: rgba(0, 148, 255, 0.10);
    backdrop-filter: blur(10px);
    text-align: center;
    height: 100%;
    text-transform: capitalize;
}
@media(min-width:768px) {
    .everything-section{
        background: #042c67 url(../images/everything-sec-bg.webp) no-repeat;
        padding: 100px 0px;
        background-size: cover;
        background-attachment: fixed;
    }
    .e-box{
        padding: 30px;
    }
    .e-box-blue{
        padding: 30px;
    }
}
/* Everything Section Ends */
/* Works section */
    .works-section{
        background: #EFF5F9;
        padding: 30px 0px;
    }
    @media (min-width: 768px){
    .works-section {
        background: url(../images/works-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px;
    }}

/* Different section */
       .different-section{
        background: #EFF5F9;
        padding: 30px 0px;
    }
    @media (min-width: 768px){
    .different-section {
        background: url(../images/different-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px;
    }}
/* Welcome section */
     .welcome-section{
        background: #EFF5F9;
        padding: 30px 0px;
    }
    .inside-section {
        padding: 30px 0px;
        background: #eff5f9;
    }
    @media (min-width: 768px){
    .welcome-section {
        background: url(../images/welcome-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px;
    }
    .inside-section {
        padding: 100px 0px;
        background: url(../images/inside-bg.webp) no-repeat center center;
        background-size: cover;
    }}

/* section-2 */
.affiliate-link-btn1 a {
    border-radius: 10px;
    background-image: -webkit-linear-gradient(#25D7FC , #0091FF);
    background-image: -ms-linear-gradient(#25D7FC , #0091FF);
    background-image: -moz-linear-gradient(#25D7FC , #0091FF);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}
.affiliate-link-btn1 a:hover {
    background-image: -moz-linear-gradient(#0091FF , #25D7FC);
    background-image: -webkit-linear-gradient( #0091FF , #25D7FC);
    background-image: -ms-linear-gradient( #0091FF , #25D7FC);
    text-decoration: none;
}
.grey-section{
    background-color: #EFF5F9;
    padding: 30px 0px;
}
@media(min-width:768px) {
    .grey-section{
        background-color: #EFF5F9;
        padding: 100px 0px;
    } 
    .affiliate-link-btn1 a {
        font-size: 27px;
        padding: 30px 20px;
        width: auto;
    } 
}
/* Black Timer css */
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Stats  Section css */
.cta-section-white {
    background: #031647;
	padding: 30px 0;
}
.limited-time-sec {
    padding: 10px 0px 10px 0px;
    background: #FF2C2C;
}
@media (min-width: 768px) {
    .cta-section-white {
        background: url(../images/cta-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 100px 0px;
    }
}
.video-box {
    position: relative;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.border-dashed {
    border-radius: 20px;
    border: 2px dashed #15C5F3;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    padding: 20px;
}
    .step-section{
        background: #eef4f9;
        padding: 30px 0px;
    }
    .step-shapes {
        background: url(../images/step-process-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 8px 40px;
        width: fit-content;
    }
    .red-brush {
        background: url(../images/red-brush1.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 8px 20px;
        width: fit-content;
    }
    @media(min-width:768px){
        .step-section{
            padding: 100px 0px;
            background: #eef4f9 url(../images/step-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }

/* Testimonial Section */
    .testimonial-sec1 {
        background: #EFF5F9;
        padding: 30px 0px;
     }
    .single-testimonial {
        background-color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 2;
    border: 1px solid #14b7fc;
    border-radius: 10px;
    padding: 20px 10px;
    }
    .st-img {
        display: inline-block;
        background: #fff;
        border-radius: 100%;
        padding: 5px;
        box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
    }
    .stars a {
        padding-right: 8px;
        color: #FFC635;
    }
    .fa-star:before {
        content: "\f005";
        font-size: 22px;
    }
    .mt-md120{
        margin-top: 20px;
    }
    @media (min-width: 768px){
        .testimonial-sec1 {
            padding: 100px 0px;
            background: #EFF5F9 url(https://cdn.oppyotest.com/launches/sellero/special/images/testimonial-bg.webp) no-repeat center center;
            background-size: cover;
        }
        .single-testimonial {
            border-radius: 30px;
            padding: 50px;
            height: 100%;
        }
        .st-img {
            display: inline-block;
            margin-top: -150px;
            background: #fff;
            border-radius: 100%;
            padding: 5px;
            box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
        }
        .mt-md120{
            margin-top: 120px;
        }
    }
/* Cant Decide Section */
     .cant-decide-section{
        padding: 30px 0px;
        background: url(../images/cant-decide-bg.webp) no-repeat center center;
        background-size: cover;
    }
    @media(min-width:768px){
        .cant-decide-section{
            padding: 100px 0px;
        }
    }

/* Monopolies Section Starts */
    .monopolies-sec{
        padding: 30px 0px;
        background: url(../images/monopolies-bg.webp) no-repeat center center;
        background-size: cover;
    }
    @media(min-width:768px){
        .monopolies-sec{
            padding: 100px 0px;
        }
    }
/* Monopolies Section Ends */
/* Hi Their Start */
    .hi-their-sec {
        padding: 30px 15px 30px 15px;
        background: #EFF5F9;
    }
    .blue-border{
        border: 1px solid #15C6FC;
    }
    .hi-their-box{
        background: #fff;
        border: 2px solid #15C6FC;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
        border-radius: 50px;
        padding: 0px 15px 30px 15px;
    }
    .hi-their-shadow{
        background: #FFFFFF;
        border: 10px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        padding: 5px;
        margin-top: -60px;
        display: inline-block;
    }
    .hi-their-head{
        padding: 15px;
        border: 2px solid #15C6FC;
        border-radius: 100px;
        background: #fff;
        display: inline-block;
    }
    @media(min-width:768px){
        .hi-their-sec{
            padding: 100px 0px 100px 0px;
        }
        .hi-their-box{
            border-radius: 50px;
            padding: 0px 70px 100px 70px;
        }
        .hi-their-head{
            padding: 15px 50px;
        }
    }
/* Goal Section Start */
    .troffee-section{
        padding: 30px 0px;
    }
    @media(min-width:768px){
        .troffee-section{
            padding: 100px 0px;
            background: url(../images/troffee-bg.webp) no-repeat center center;
            background-size: cover;
        }
    }
/* Goal Section End */
/* Warning Section starts */
.warning{
    padding: 60px 0; 
}
.war-img{
    letter-spacing: 1px;
    background-color: #ff2c2d;
    padding: 10px 30px;
    transform: translateY(-40px);
    margin-bottom: -40px;
    display: inline-block;
    letter-spacing: 3px;
}
.war-item{
    background-color: #fff;
    padding: 20px 20px 40px;
}
@media(min-width:768px){
    .warning{
        background: url('../images/bg-img03.webp') no-repeat;
        padding: 100px 0; 
    }
    .war-img{
        background: url("../images/angle-1.webp") no-repeat;
        background-size: 100% 100%;
        padding: 10px 30px;
        transform: translateY(-55px);
        margin-bottom: -40px;
        text-transform: uppercase;
    }
    .war-item{
        background: url("../images/angle-2.webp") no-repeat;
        background-size: 100% 100%;
        padding: 30px 20px 60px;
    }
    .dot-bg{
        background: url("../images/dot-bg.webp") no-repeat center center;
        background-size: 100% 100%;
        padding: 20px 100px;
        display: inline-block;
    }
}
/* Warning Section Ends */


/* Any Niche Section Starts*/
.any-niche-sec{
    background: #042c67;
    padding: 30px 0px;
}
.any-niche-white{
	padding: 30px 15px;
	border-radius: 20px;
    border: 2px solid var(--blue, #25D7FC);
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(39, 203, 255, 0.35);
}
@media(min-width:768px){
    .any-niche-sec{
        padding: 100px 0px;
        background: url(../images/any-niche-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .blue-bg{
        background: url("../images/blue-bg.webp") no-repeat center center;
        background-size: 100% 100%;
        padding: 20px 45px;
        display: inline-block;
    }
    .any-niche-white{
		padding: 80px 80px;
	}
    .pointer{
        position: relative;
    }
    .pointer::after{
        position: absolute;
        top: 0px;
        right: 0px;
        content: url(../images/pointer.webp);
    }
}
/* Any Niche Section Ends*/
.dfy-sec{
    background: #042c67;
    padding: 30px 0px;
}
.gap30 {
    --bs-gutter-y: 30px;
}
.small-blue-brush{
    background: #042c67;
    padding: 10px 20px;
    display: inline-block;
}
.blue-brush{
    background: #042c67;
    padding: 10px 20px;
    display: inline-block;
}
.blue-brush{
    background: #042c67;
    padding: 10px 20px;
    display: inline-block;
}
@media(min-width:768px){
    .dfy-sec{
        padding: 100px 0px;
        background: url(../images/dfy-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .blue-brush{
        background: url("../images/blue-brush.webp") no-repeat center center;
        background-size: 100% 100%;
        padding: 10px 60px;
        display: inline-block;
    }
    .small-blue-brush{
        background: url("../images/small-blue-brush.webp") no-repeat center center;
        background-size: 100% 100%;
        padding: 10px 20px;
        display: inline-block;
    }
    .gap30 {
        --bs-gutter-x: 50px;
        --bs-gutter-y: 50px;
    }}
/* Goal Section */

    .affliliate-underline{
        border-bottom: 2px solid #FF2C2C;;
    }
    .quick-section {
        padding: 30px 0px;
        background: url(../images/quick-bg.webp) center center no-repeat;
        background-size: cover;
    }
    @media(min-width:768px){
        .demo-sec{
            padding: 100px 0px;
            background: url(../images/demo-bg.webp) no-repeat center center;
            background-size: cover;
        }
        .bulb{
            position: relative;
        }
        .bulb::before{
            position: absolute;
            top: 7px;
            left: 175px;
            content: url(../images/bulb.webp);
        }
        .bulb::after{
            position: absolute;
            top: 7px;
            right: 175px;
            content: url(../images/bulb.webp);
        }
        .money{
            position: relative;
        }
        .money::before{
            position: absolute;
            top: -4px;
            left: 51px;
            content: url(../images/money.webp);
        }
        .money::after{
            position: absolute;
            top: -4px;
            right: 51px;
            content: url(../images/money.webp);
        }
        .quick-section {
            padding: 100px 0px;
        }
    }
/* Demo Section End */

 /**** FAQ Section ***/
.faq-section {
	padding: 30px 0px;
	background-color: #fff;
}
.faq-list {
	background: url(https://cdn.oppyo.com/launches/webpull/special/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 55px;
    background-position: 15px 25px;
    border: 1px solid #031528;
    border-radius: 20px;
}
@media (min-width: 768px) {
	.faq-section {
		padding: 100px 0px;
	}
}
.final-shape {
	background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
	border-radius: 15px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}
@media (min-width: 768px) {
	.final-shape {
		padding: 15px 40px;
		border-radius: 100px;
	}
}
.countdown-container {
    padding: 10px;
    border: 2px dashed #FFFFFF;
    border-radius: 15px;
}
.white-section{
    padding: 30px 0px;
}
@media(min-width:768px){
    .white-section{
        padding: 100px 0px;
    }
}
.grey-section{
    padding: 30px 0px;
    background: #EFF5F9;
}
.regardless-sec{
	padding: 30px 15px;
	background: #11207c;
}
@media(min-width:768px){
    .grey-section{
        padding: 100px 0px;
    }
    .regardless-sec{
		padding: 80px 80px;
		background: url(../images/regardless-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
}
.border-line {
    border: 1px dashed #031528;
}
.need-head{
	background: url(../images/need-head.webp) no-repeat center center;
	background-size: 100% 100%;
	padding: 6px 30px;
	display: inline-block;
}
.bonus-head{
	background: #FF813B;
	border-radius: 15px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}
@media(min-width:768px){
    .bonus-head{
		padding: 15px 40px;
		border-radius: 100px;
	}
	.bonus-head::before{
		width: 70px;
		height: 1px;
		background: #FF813B;
		position: absolute;
		content: '';
		left: -70px;
	}
	.bonus-head::after{
		width: 70px;
		height: 1px;
		background: #FF813B;
		position: absolute;
		content: '';
		right: -70px;}
}
    .yellow-brush {
        padding: 2px 5px;
        background: #fffd40;
    }
    @media(min-width:768px){
        .yellow-brush{
            padding: 5px 60px
            background: url(../images/yellow-brush.webp) no-repeat center center;
            background-size: 100% 100%;
            display: inline-block;
        }
    }
.dont-list{
    padding: 0;
}
.dont-list li{
    list-style: none;
    background: url('../images/close.webp') no-repeat;
    background-position: 0 7px;
    padding-left: 2.5rem;
}
.table-wrap {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 30px;
    /* border: solid 1px #cacaca; */
    overflow: hidden;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
    padding-bottom: 30px;
}
@media(min-width:768px){
    .table-wrap{
        padding-bottom: 100px;
    }
}
.table-head {
    background: url(../images/start-plan-bg.webp) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    padding: 40px 30px 30px 30px;
    text-align: center;
    min-height: 250px;
}
@media (min-width: 768px) {
    .table-head {
        padding: 80px 30px 80px 30px;
        text-align: center;
        min-height: 568px;
    }
}
.table-btn {
    padding: 30px 20px;
    text-align: center;
}
.table-list li {
    background: url(../images/list-head.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    background-position: 20px 25px;
    line-height: 150%;
    text-transform: capitalize;
}
.table-list li.cross-sign {
    background: url(../images/launch-cross.webp) no-repeat !important;
    background-position: 20px 20px !important;
}
.table-list li:nth-child(odd) {
    background-color: #deeaff !important;
}
.table-list li:nth-child(even) {
    background-color: #ffffff;
}
@media (min-width: 768px) {
    .table-list li {
        padding: 20px 15px 20px 57px;
    }
}
.table-list li.headline {
    background: rgb(9, 20, 120) !important;
    background: -moz-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    background: -webkit-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    background: linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1) !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}
.table-list li:last-child {
    border-bottom: none;
}
@media (min-width:768px) {
    .table-section {
        padding: 70px 0px 70px 0px;
    }
}
.footer-section {
    background: #000000;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 70px 0px;
    }
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

