html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
	    overflow-x: hidden;
}
.caveat {
    font-family: 'Caveat', cursive;
}
/* --- Global Css Start--- */
.min-md-video-width-left img{border: 2px solid #fff; border-radius: 15px;}
.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
.orange-clr{
    color: #f6841f;
}
.neon-clr {
    color: #00CBE3;
}
.preheadline {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}
@media (min-width: 768px){
    .postheadline, .preheadline {
        padding: 10px 35px;
    }
}
.d-inline-flex {
    display: inline-flex;
}
.relative {
    position: relative;
}
@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .xstext-center {
        text-align: center;
    }
}
/* --- Global Css End--- */
/* --- Header Section Start --- */

@media(max-width:767px){
   
    .proudly-head{
        display: inline-block;
        background: transparent;
        padding: 15px 15px;
        border-radius: 48px;
        border: 1px solid #B956FF;
    }
    .preheadline{
        display: inline-block;
        background:transparent;
        padding:15px ;
        border-radius: 10px;
        border: 1px solid #B956FF;
    }
}
.header-section {
    background: #0d0238;
    padding: 30px 0px;
}
.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}
.mainheadline {
    display: inline-block;
    border-radius: 40px;
    background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
    padding:1px ;
    border-radius: 18px;

}
.mainheadline > div {
    background-color: #150a41;
    padding: 65px 12px 15px;
    border-radius: 20px;
}
.affiliate-link-btn a {
    border-radius: 10px;
    background-image: linear-gradient(to right, #B956FF 0%, #6E33FF 100%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
}
.affiliate-link-btn a:hover {
    transition: all .3s ease;
    background: linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
}
.calendar-wrap {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.calendar-wrap-inline {
    border-width: 1px;
    border-color: rgb(11, 11, 49);
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #08041e;
}
.preheadline-content{
    background-color: transparent;
    text-align: justify;
    padding: 0;
    border-radius: 0;
}
@media(min-width:768px){
    .header-section {
        background: #0d0238 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/prelaunch/header-bg.webp);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 40px 0px 120px;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }
    .affiliate-link-btn a {
        padding: 12px 25px;
        font-size: 20px;
    }
  
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
    .mainheadline {
        padding: 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/prelaunch/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 90px 15px 50px 15px;
    }
    .mainheadline > div {
        background-color: transparent;
        padding: 15px 25px;
        border-radius: 0px;
    }
    .preheadline{
        display: inline-block;
        border-radius: 40px;
        background-image: linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
        padding:2px;
        border-radius: 48px;
    
    }
    .preheadline-content{
        background-color: #150a41;
        text-align: justify;
        padding: 15px 25px;
        border-radius: 48px;
    }
    .underline-text {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/prelaunch/underline-orange.webp) no-repeat center center;
        padding: 0px 0px 65px 0px;
        background-size: contain;
    }   
}
/* --- Header Section End --- */
/* --- Second Section Start --- */
.second-section {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/prelaunch/second-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}
ul.features-list {
    margin: 0px;
    padding: 0px;
}
ul.features-list li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/prelaunch/tick-icon.webp) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}
ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}
@media (min-width:768px) {
    .second-section {
        padding: 100px 0px;
    }
}
/* --- Second Section End --- */
/* --- Form Style Start --- */
.formbg {
    padding: 15px;
    background: #040b18;
    border-radius: 10px;
}
.width-form {
    width: 100%;
    float: left;
    padding: 0px 0px;
}
@media (min-width: 768px) {
    .formbg {
        padding: 40px 30px 20px 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/prelaunch/form-bg.webp) no-repeat;
        background-size: 100% 100%;
         border-radius: 10px;
    }
    .width-form {
        width: 33%;
        padding: 0px 5px !important;
    }
}
.register-btn1 input[type="submit"] {
    border-radius: 10px;
    background-color: #0068FF;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 21px;
    color: #ffffff !important;
    font-weight: 700;
    width: 100%;
    border: none;
    height: 60px;
    outline: none;
    white-space: normal;
}
/* --- Form Style End --- */
/* --- Footer Section Start --- */
.footer-section {
    background: #05071A;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}
@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}
/* --- Footer Section End --- */
