
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
}
.blue-clr {
    color: #2337f6;
}
.orange-clr {
    color: #f57c25;
}

.yellow-clr {
    color: #fffa64;
}

/* Header Section CSS */

.header-section {
    background: #0e0a3b url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 30px 0px;
}
.preheadline {
    border-radius:15px;
    display:inline-block;
    padding:10px 15px;
    position: relative;
    z-index: 1;
    border-width: 2px;
    border-color:#8da6ff;
    background: #041975;
    border-style: solid;  
    box-shadow: inset 0px 0px 12.6px 1.4px rgba(0, 0, 0, 0.3); 
    display: flex;
    align-items: center;
    gap: 10px; 
}
.postheadline {
    padding: 15px;
    display: inline-flex;
    background: rgb(6,10,51);
    background: linear-gradient(90deg, rgba(6,10,51,0) 0%, rgba(6,10,51,1) 48%, rgba(6,10,51,0) 100%);
}
@media(min-width:768px){
    .header-section {
        background: #030331 url(../images/header-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .preheadline {
        padding: 15px 25px;
        display: inline-flex;
        border-radius: 150px;
    }
    .postheadline {
        padding: 20px 25px;
    }}


.proudly-section {
    background: #ffffff url("../images/proudlybg.webp") no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}

.but-design {
    background: url(../images/butthats-not-all.png);
    padding: 20px 40px;
    display: inline-block;
    border-top: hidden;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

.but-design .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}

.black-bg {
    background: #000000;
    border-radius: 50px;
    padding: 12px;
}



.gap20 {
    gap: 20px;
}

.skew-con {
    transform: skew(5deg);
}

@media(min-width:768px) {
    .proudly-section {
        padding: 70px 0px 80px 0px;
    }
    .px-sm0 {
        padding-left: 0;
        padding-right: 0;
    }
    .skew-con {
        transform: skew(10deg);
    }

    .black-bg {
        background: #000000;
        border-radius: 50px;
        padding: 15px 20px 9px 20px;
    }
    .but-design {
        padding: 40px 60px 35px 70px;
        background: url(../images/butthats-not-all.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% 100%;
        border: hidden;
        margin-bottom: 20px;
        color: #fff;
    }
    .header-section {
       padding: 40px 0px 150px 0px;
    }

}

.tickul li {
    list-style: none;
    background: url(../images/vgreytick1.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 20px 40px;
}

.logo-height {
    max-height: 45px;
}

.white-clr {
    color: #ffffff;
}

.white-blue {
    color: #70abff;
}

.dblue-clr {
    color: #5c6ac4;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}

.affiliate-link-btn a {
    border-radius: 45px;
    background-color: #f8e71c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    padding: 9px 33px;
    font-size: 16px;
    color: #050b23;
    font-weight: 800;
}

.affiliate-link-btn a:hover {
    background: #decf18;
}

.popup-btn a:hover,
.popup-btn input[type="submit"]:hover,
.af-btn a:hover {
    background: #4f5db5;
}



.second-section {
    padding: 30px 0px;
    background: #eef0ff;
}
@media(min-width:768px) {
    .second-section {
        padding: 100px 0px 150px 0px;
        background: #001233 url(../images/second-sec-bg.webp) no-repeat;
        background-position: bottom center;
        background-size: cover;
    }
}

.date-section-bg {
    background: url(../images/date-bg-image.png) no-repeat center center;
    background-size: contain;
}

.highlihgt-heading {
    position: relative;
    background: #ffffff;
    padding: 12px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgba(14, 18, 34, 0.2);
}

@media(min-width:240px) {
    .xstext-center {
        text-align: center;
    }
    .formbg {
        padding: 20px;
    }
}

@media(min-width:768px) {
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
    .highlihgt-heading {
        position: relative;
        padding: 45px 73px 45px 75px;
        background: url(../images/heading-bg.png) no-repeat center center;
        box-shadow: none;
        background-size: 100% 100%;
    }
    .line-center {
        transform: skew(20deg);
    }
}

.formbg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.form-control.input-field {
    border-width: 1px;
    border-color: rgb(164, 164, 164);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 12px;
}

::-webkit-input-placeholder {
    color: #797979 !important;
}

::-moz-placeholder {
    color: #797979 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

:-moz-placeholder {
    color: #797979 !important;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 5px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 13px 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 0;
    outline: none;
}

@media(min-width:240px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .pre-box {
        border-radius: 10px;
        padding: 5%;
    }
    .af-box {
        padding: 8% 3%;
    }
}

.pl-shape,
.l-shape,
.af-shape,
.af-dots {
    display: none;
}

@media(min-width:768px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .form-control.input-field {
        height: 58px;
    }
    .pre-box {
        border-radius: 50px;
        padding: 3% 0;
    }
    .af-box {
        padding: 5%;
    }
    .pfbox {
        height: 185px;
    }
    .pl-shape,
    .l-shape,
    .af-shape,
    .af-dots {
        display: block;
        position: relative;
        z-index: 1;
    }
    .pl-shape img {
        position: absolute;
        top: -18px;
        right: 18px;
        z-index: 1;
    }
    .l-shape img {
        position: absolute;
        bottom: -65px;
        left: 25px;
        z-index: 1;
    }
    .af-shape img {
        position: absolute;
        bottom: -44px;
        right: 35px;
        z-index: 1;
        height: 160px;
    }
    .af-dots img {
        position: absolute;
        top: -10px;
        left: 60px;
        z-index: 1;
    }
}

.form-shape {
    position: relative;
    z-index: 1;
}

.form-shape img {
    position: absolute;
    top: -40px;
    left: -41px;
    z-index: -1;
}

.relative {
    position: relative;
}

.third-section {
    background: #eff3f6;
    padding: 5% 0 7%;
}

.kapblue,
a.kapblue {
    color: #2337f6;
    text-decoration: none;
}

.pre-box {
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.h-line {
    background-color: rgb(206, 212, 216);
    height: 2px;
    width: 100%;
}

.pl-tick li {
    background: url("../images/pl-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.l-tick li {
    background: url("../images/l-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.xs-max-height165 {
    max-height: 165px;
}

@media(max-width:767px) {
    .plxs0 {
        padding-left: 0;
    }
}

@media(min-width:768px) {
    .xs-max-height165 {
        max-height: 100%;
    }
}

.fourth-section {
    background: #fff no-repeat center center;
    padding: 4% 0 0%;
}

.af-box {
    border-radius: 25px;
    background-color: rgb(239, 243, 246);
}

.pfbox {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
    padding: 30px 20px;
}

.af-btn a {
    border-radius: 30px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 10px 10px;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.leader-ul li a,
.leader-ul li a:hover,
.leader-ul li a:focus {
    text-decoration: none;
}

.sixth-section {
    background: #eff3f6 url("../images/wave-dots.png") no-repeat center center;
    background-size: cover;
    padding: 3% 0 5%;
}

.seventh-section1 {
    background: #eff3f6;
    padding: 3% 0 5%;
}

a.alink,
a.alink:hover,
a.alink:focus {
    text-decoration: none;
    color: #5c6ac4;
}

.seventh-section {
    background: url("../images/dot-shape.png") no-repeat center center;
    padding: 5% 0;
}

.lightcolor {
    color: #eaab26;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.header-section .responsive-video {
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 36px 55px;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.feature-section {
    background: #fff url(../images/feature-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section {
    background: #eff3f6 url(../images/software-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section img {
    max-height: 141px;
}

.leaderboard-section {
    background: #eff3f6 url(../images/leaderboard-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.contact-section {
    background: #fff url(../images/contact-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.prize-section {
    background: #22103b;
    background-size: cover;
    padding: 4% 0;
}

.bonus-section {
    background: #eef0ff;
    background-size: cover;
    padding: 30px 0;
}

.moneyback-section {
    padding: 30px 0px;
    background: #101929;
}

@media (min-width:768px) {
    .moneyback-section {
        padding: 100px 0 100px 0px;
        background: #ffffff url(../images/moneyback-bg.webp) no-repeat bottom center;
        background-size: cover;
    }
    .bonus-section {
        background: url(../images/bonus-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 70px 0px 100px 0px;
    }
}

.footer-section {
    background: #000000;
    padding: 30px 0;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.white-section {
    background: #fff;
    padding: 30px 0;
}

.grey-section {
    background: #eef0ff;
    padding: 30px 0;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }

    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .white-section {
        background: url(../images/white-section-bg.png) no-repeat;
        padding: 100px 0px 100px;
        background-position: center center;
    }
    .grey-section {
        padding: 100px 0px;
    }
}

/*new*/

.up-btn a {
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding:15px 15px 12px 15px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    background-color: rgb(245, 124, 37);
	border: none;
}

.up-btn a:hover {
    background-color: #fa9045;
    text-decoration: none;
}

.probtn1 a {
    transition: all .3s ease;
    border-radius: 10px;
    background-image: -moz-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(239,141,0) 0%, rgb(235,194,0) 100%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn1 a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
    background-image: -webkit-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
    background-image: -ms-linear-gradient( 0deg, rgb(235,194,0) 0%, rgb(239,141,0) 100% );
}

@media (min-width:768px) {
    .up-btn a {
        padding: 28px 30px;
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 30px;
        display: inline-block;
        width: auto;
    }
}

/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
    position: relative;
}

/* .tablebox3:before {
    content: '';
    position: absolute;
    background: url(../images/most-popular.png) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 0px;
    top: 0px;
} */

ul.vgreytick {
    padding: 0px;
    margin: 0;
}

ul.vgreytick li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}

ul.vgreytick li:nth-child(odd) {
    background-color: #ecebeb;
}

ul.vgreytick li:nth-child(even) {
    background-color: #ffffff;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px;
    margin: 0;
}

ul.grey-tick-last li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    color: #000;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #eef0ff;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #fff;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

.tbbg2 {
    background-color: #fff;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}

.tbbg3 {
    background: linear-gradient(180deg, #040b3a 0%, #14208e 100%);
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}

@media (min-width: 768px) {
    .tbbg3 {
        padding: 50px 30px 50px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg2 {
        padding: 50px 30px 50px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 20px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 20px;
    }
}

.buypad {
    padding: 4% 3%;
}

.myfeatureslast {
    float: left;
    padding: 0px 30px 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}

@media(min-width:768px) {
    .myfeatureslast {
        padding: 0px 20px 30px;
    }
}

/*Table CSS Enad*/

a.link {
    color: #337ab7;
}

.blue-head {
    color: #0041b5;
}


.table-section {
    background: #ffffff;
    padding: 30px 0;
}

@media(min-width:768px){
    .table-section {
        padding: 70px 0 100px 0px;
        background: url(../images/table-bg.webp) no-repeat center center;
        background-size: cover;
    }
}

.footer-ul li:hover a {
    color: #fff;
}


    .tablebox3:before {
        content: '';
        position: absolute;
        background: url(../images/most-popular.png) no-repeat;
        min-height: 120px;
        min-width: 120px;
        left: 0px;
        top: 0px;
        background-size: contain;
    }

.proudly-tick li {
    background: url(../images/tick.png) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 30px;
}

span.under {
    border-bottom: 4px solid;
}

.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}

ul.feature-list li {
    list-style: none;
    background: url(../images/launch-tick-blue.png) no-repeat;
    padding: 0px 0px 15px 40px;
    background-position: 4px 4px;
}