html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
	overflow-x: hidden;
}
/* --- Global Css Start--- */
.white-clr {
    color: #fff;
}
.black-clr {
    color: #000000;
}
.red-clr {
    color: #FF2C2C;
}
.kapblue {
    color: #6e44ff;
}
.relative {
    position: relative;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.preheadline {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}
@media (min-width: 768px){
    .postheadline, .preheadline {
        padding: 10px 35px;
    }
}
/* --- Global Css End--- */
/* --- Header Section Start--- */
.header-section {
    background: #000308;
    padding: 30px 0px;
}
.mainheadline {
    padding: 60px 5px 20px;
	background: #E2F0F6;
	position: relative;
	border:3px solid #fff ;
	border-radius: 10px;
}
.mainheadline:before {
    position: absolute;
    content: 'Discover How to';
    background: #f89b1c;
    padding: 5px 10px;
    left: 0px;
    z-index: 99;
    top: 0px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    font-family: 'Kalam', cursive;
    border-radius: 10px 0 0 0;
}
.underline-text {
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}
@media(min-width:768px) {
    .header-section {
        background: #fff url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 40px 0px 150px;
    }
    .mainheadline {
        padding: 30px;
        background: url(../images/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 120px 80px 30px 80px;
    }
    .mainheadline:before {
        position: absolute;
        content: 'Discover How to';
        background: url(../images/gamecheanger-bg.webp) no-repeat;
        padding: 0px 19px;
        left: 98px;
        z-index: 99;
        top: 52px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 36px;
        position: absolute;
        font-family: 'Kalam', cursive;
    }
    .underline-text {
        background: url(../images/underline-orange.webp) no-repeat center center;
        padding: 0px 0px 65px 0px;
        background-size: contain;
    }
}
/* --- Header Section End --- */
/* --- Second Section Start --- */
.second-section {
    padding:30px 0px;
    background: #ffffff;
}
@media(min-width:768px) {
    .second-section {
        padding:0px 0px 100px 0px;
        background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/elite/second-sec-bg.webp) no-repeat;
        background-position: center center;
    }
}
/* --- Second Section End --- */
/* --- Third Section Start --- */
.third-section {
    padding: 30px 0;
    background: #eff1f9;
}
@media (min-width: 768px) {
    .third-section {
        padding:100px 0px 0px 0px;
    }
}
/* --- Third Section End --- */
/* --- Fourth Section Start --- */
.fifth-section {
    background: #0a071e;
    padding: 30px 0;
}
.proudly-head {
    background: #0068FF;
    border-radius: 40px;
    padding: 9px 40px;
    display: inline-block;
    font-family: 'Caveat', cursive;
}
@media (min-width: 768px){
    .fifth-section {
        padding: 100px 0px 140px;
        background: url(../images/proudlybg.webp) no-repeat bottom center;
        background-size: cover;
    }
    .proudly-head {
        padding: 15px 60px;
        border-radius: 50px;
    }
}
/* --- Fourth Section End --- */
/* --- features Section Start --- */
.grey-section {
    background: #eff1f9;
    padding: 30px 0;
}
.white-section {
    background: #fff;
    padding: 30px 0;
}
.probtn a {
   border-radius: 15px;
    background-color: #f6841f;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}
.probtn a:hover {
   background: #e97b1a;
    text-decoration: none;
}
.probtn1 a {
    border-radius: 15px;
    background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    backdrop-filter: blur(10px);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}
.probtn1 a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -webkit-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -ms-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
}
@media (min-width:768px) {
    .white-section {
        padding: 100px 0;
        background: url(https://cdn.oppyo.com/launches/yodrive/elite/white-section-bg.webp) no-repeat;
        background-position: center center;
    }
    .goodreason-section {
        padding: 100px 0 0;
        background: #fff;
    }
    .third-section {
        padding: 100px 0;
    }
    .grey-section {
        padding: 100px 0;
    } 
}
/*---- Bonus Section Starts ---*/
.bonus-section {
    background: url(https://cdn.oppyo.com/launches/yodrive/elite/bonus-bg.webp) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}
@media(max-width:767px) {
    .bonus-section {
        padding: 70px 0px;
    }
    .bonus-size {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}
/*---- Bonus Section End ---*/
/*Table CSS Start*/
.table-section {
    background: #ffffff;
    padding: 30px 0;
}
.tablebox2 {
    border: 1px solid #182d5a;
    width: 100%;
    float: left;
    border-radius: 15px;
}
.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}
ul.vgreytick {
    padding: 0px 0px;
    margin: 0;
}
ul.vgreentick li {
    background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/elite/vgreentick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 25px;
    line-height: 150%;
    color: #000;
}
.tbbg2-text {
    color: #fff;
}
.tbbg2 {
    background:#071125;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}
@media (min-width: 768px) {
    .probtn a {
        font-size: 38px;
        padding: 28px 50px;
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 50px;
    }
    .table-section {
        padding:100px 0px;
        background: url(https://cdn.oppyo.com/launches/yodrive/elite/table-bg.webp) no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #182d5a;
}
/*Table CSS Enad*/
/*---- MoneyBack Section Start ---*/
.moneyback-section {
    background: #02040f;
    background-position: center center;
    background-size: cover;
    padding: 30px 0 30px;
}
@media (min-width:768px) {
    .moneyback-section {
        padding: 100px 0 100px 0px;
        background: #02040f url(../images/moneyback-bg.webp) no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
/*---- MoneyBack Section End ---*/
.goodreason-section {
    padding: 30px 0 0;
    background: #fff;
}
@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}
.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
.amazing-section{	
	padding: 30px 0;
	background: #05071a;
}

@media (min-width: 768px) {
.amazing-section{	
	padding: 90px 0;
	background: #182d5a url(../images/amazing-bg.webp) no-repeat;
	background-size:cover;
	background-position: center;
}
}
.but-design{background-color: #0068FF;
    display: inline-block;
    border-radius: 65px;
    padding: 15px;
    position: relative;
    z-index: 1;}

@media(min-width:768px){
    .but-design{padding: 15px 35px;}
}
ul.good-list {
    padding: 0px;
    margin: 0px;
}
ul.good-list li {
    background: url(../images/point-icon.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
}
ul.vgreytick li.headline {
    background: linear-gradient(105.18deg, #080923 -5.51%, #25226e 107.29%) !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff !important;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 20px 27px;
    line-height: 150%;
    border-bottom: 1px solid #eef5ff;
    color: #000;
}
@media (min-width: 768px){
ul.vgreytick li {
    padding: 24px 10px 24px 60px;
}
}
ul.vgreytick li:nth-child(odd) {
    background-color: #eef5ff;
}
/*---- Footer Section Start ---*/
.footer-section {
    background: #05071A;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
    line-height: 130%;
}
.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}
@media(min-width:768px) {
    .footer-section {
        padding: 70px 0px;
    }
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
}
/*---- Footer Section End---*/