html {
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #1C97F4;
  border-radius: 25px;
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #101010;
    font-size: 14px;
}
.play{
    font-family: 'Play', sans-serif;
}
.caveat{
    font-family: 'Caveat', cursive;
}
:root {
    --white-clr: #ffffff;
    --blue-gradient:linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    --blue-gradient1:linear-gradient(90deg, #1C97F4 0%, #22D2EE 100%);
    --red-clr:#FF361D;
    --neon-clr:#0AA3FE;
    --blue-bg:linear-gradient(191deg, #000 8.4%, #05043E 92.29%);
    --blue-bg2: radial-gradient(129.56% 86.37% at 35.38% 5.64%, #1C0D47 0%, #05002B 100%);
    --black-clr:#05071A;
    --light-blue:#F1F7FA;
    --light-blue1:#CEDEE5;
}

.white-clr,a.white-clr {color: var(--white-clr);}
.blue-gradient {
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.red-clr{color: var(--red-clr);}
.neon-clr{color: var(--neon-clr);}

.sec-pd{
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (min-width:768px){
    .sec-md-pd{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* Header Section Start */

.header-section{
    background: var(--blue-bg);
    position: relative;
    padding: 30px 0px;
}

.gradient-border-mask {
    display: flow-root;
    position: relative;
    padding: 8px 25px;
    display: inline-flex;
    align-items: center;
  }
  
  .gradient-border-mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 2px solid transparent;
    background: linear-gradient(45deg, #2edeff, #22a5ff) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    padding: 40px 10px 20px;
    border-radius: 0px 50px;
}
.gametext {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    /* top: -6px; */
    z-index: 99;
    line-height: 30px;
    /* left: 12px; */
    border-radius: 0px 40px;
    top: -20px;
    left: 10px;
}
.ved_search_box {
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 100%;
}
.ved_search_box2 {
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 100%;
}
.ved_search_box .ved_search_placeholders {
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    pointer-events: none;
    animation: text 5s ease 3s infinite normal none;
}
.ved_search_box .ved_search_placeholders{
    animation: text2 5s ease 3s infinite normal none;
}
.ved_search_box2 .ved_search_placeholders {
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    pointer-events: none;
    animation: text 5s ease 3s infinite normal none;
}
.ved_search_box2 .ved_search_placeholders{
    animation: text2 5s ease 3s infinite normal none;
}
@keyframes text2 {
	0% {
		transform: translateY(0px);
	}
	17% {
		transform: translateY(0px);
	}
    33% {
		transform: translateY(-30px);
	}
	50% {
		transform: translateY(-30px);
	}
    66% {
		transform: translateY(-65px);
	}
    83% {
		transform: translateY(-65px);
	}	
	100% {
		transform: translateY(-102px);
	}	
	
}
@keyframes text {
	0% {
		transform: translateY(0px);
	}
	17% {
		transform: translateY(0px);
	}
    33% {
		transform: translateY(-30px);
	}
	50% {
		transform: translateY(-30px);
	}
    66% {
		transform: translateY(-65px);
	}
    83% {
		transform: translateY(-65px);
	}	
	100% {
		transform: translateY(-102px);
	}	
}
.post-headline{
    border-radius: 10px;
    border: 1px dashed rgba(255, 255, 255, 0.50);
    background: #050622;
    padding: 8px 25px;
    display: inline-block;
}
.list-head {
	list-style: none;
}
.list-head li {
	background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-tick.webp) no-repeat;
	padding: 15px 0px 15px 35px;
	background-position: 0px 21px;
	text-align: left;
	border-bottom: solid 1px rgba(255, 255, 255, 0.10);
}
.list-head li:last-child {
	border-bottom: none;
}
@media (min-width:768px){
    .header-section {
        padding: 40px 0px 100px 0px;
        background:url(../images/header-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .gametext {
        padding: 6px 30px 6px 40px;
        border-radius: 0px 40px;
        top: -20px;
        left: 40px;
        font-size: 22px;
    }
    .mainheadline {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/intellimateai/jv/heading-design.webp) center center no-repeat;
        background-size: 100% 100%;
        padding: 35px 45px 40px 45px;
        border-radius: 0px;
    }
    .ved_search_box {
        position: relative;
        overflow: hidden;
        height: 60px;
        width: 250px;
        text-align: start;
        margin-left: 12px;
        bottom: -3px;
    }
    .ved_search_box2 {
        position: relative;
        overflow: hidden;
        height: 60px;
        width: 450px;
        text-align: end;
        margin-right: 12px;
        bottom: -1px;
    }
    @keyframes text2 {
        0% {
            transform: translateY(0px);
        }
        17% {
            transform: translateY(0px);
        }
        33% {
            transform: translateY(-60px);
        }
        50% {
            transform: translateY(-60px);
        }
        66% {
            transform: translateY(-116px);
        }
        83% {
            transform: translateY(-116px);
        }	
        100% {
            transform: translateY(-175px);
        }	
        
    }
    @keyframes text {
        0% {
            transform: translateY(0px);
        }
        17% {
            transform: translateY(0px);
        }
        33% {
            transform: translateY(-60px);
        }
        50% {
            transform: translateY(-60px);
        }
        66% {
            transform: translateY(-116px);
        }
        83% {
            transform: translateY(-116px);
        }	
        100% {
            transform: translateY(-175px);
        }	
    }
}
.ved_search_box3 {
    position: relative;
    overflow: hidden;
    height: 26px;
    width: 325px;
    text-align: center;
    margin-right: 8px;
    bottom: 0px;
}
.ved_search_box3 .ved_search_placeholders3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    pointer-events: none;
    animation: text 5s ease 3s infinite normal none;
}
.ved_search_box3 .ved_search_placeholders {
    animation: text3 15s ease 0s infinite normal none;
}
@keyframes text3 {
	0% {
		transform: translateY(0px);
	}
	5% {
		transform: translateY(0px);
	}
	10% {
		transform: translateY(-24px);
	}
	15% {
		transform: translateY(-24px);
	}
	20% {
		transform: translateY(-51px);
	}
	25% {
		transform: translateY(-51px);
	}	
	30% {
		transform: translateY(-76px);
	}
	35% {
		transform: translateY(-76px);
	}
	40% {
		transform: translateY(-100px);
	}		
	45% {
		transform: translateY(-100px);
	}	
    50% {
		transform: translateY(-125px);
	}	
    55% {
		transform: translateY(-125px);
	}	
    60% {
		transform: translateY(-150px);
	}
    65% {
		transform: translateY(-150px);
	}
    70% {
		transform: translateY(-177px);
	}
    75% {
		transform: translateY(-177px);
	}
    80% {
		transform: translateY(-202px);
	}
    85% {
		transform: translateY(-202px);
	}
    90% {
		transform: translateY(-226px);
	}
    95% {
		transform: translateY(-226px);
	}
    100% {
		transform: translateY(-251px);
	}
    /* 84% {
		transform: translateY(-302px);
	}
    88% {
		transform: translateY(-335px);
	}
    92% {
		transform: translateY(-335px);
	}
    96% {
		transform: translateY(-367px);
	}
    100% {
		transform: translateY(-367px);
	} */
}
@media(min-width:768px){
.ved_search_box3 {
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 325px;
    text-align: end;
    margin-right: 8px;
    bottom: 1px;
}
.ved_search_box3 .ved_search_placeholders3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    pointer-events: none;
    animation: text 5s ease 3s infinite normal none;
}
.ved_search_box3 .ved_search_placeholders {
    animation: text3 15s ease 0s infinite normal none;
}
@keyframes text3 {
	0% {
		transform: translateY(0px);
	}
	5% {
		transform: translateY(0px);
	}
	10% {
		transform: translateY(-30px);
	}
	15% {
		transform: translateY(-30px);
	}
	20% {
		transform: translateY(-62px);
	}
	25% {
		transform: translateY(-62px);
	}	
	30% {
		transform: translateY(-90px);
	}
	35% {
		transform: translateY(-90px);
	}
	40% {
		transform: translateY(-120px);
	}		
	45% {
		transform: translateY(-120px);
	}	
    50% {
		transform: translateY(-152px);
	}	
    55% {
		transform: translateY(-152px);
	}	
    60% {
		transform: translateY(-180px);
	}
    65% {
		transform: translateY(-180px);
	}
    70% {
		transform: translateY(-212px);
	}
    75% {
		transform: translateY(-212px);
	}
    80% {
		transform: translateY(-240px);
	}
    85% {
		transform: translateY(-240px);
	}
    90% {
		transform: translateY(-272px);
	}
    95% {
		transform: translateY(-272px);
	}
    100% {
		transform: translateY(-302px);
	}
    /* 84% {
		transform: translateY(-302px);
	}
    88% {
		transform: translateY(-335px);
	}
    92% {
		transform: translateY(-335px);
	}
    96% {
		transform: translateY(-367px);
	}
    100% {
		transform: translateY(-367px);
	} */
}
}
/* Header section End */

/* Step section Start */
.step-sec {
    background: #fff;
}
.step-headline{
    background: url(../images/step-headline-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 5px 40px;
    display: inline-block;
}
.step-wall {
    display: inline-block;
    height: 100%;
    border-radius: 20px;
    border-bottom: 3px solid #22D2EE;
    background: #EBF6FE;
}
.step-wall-inner {
    padding: 20px;
}
.step-heading {
    display: inline-block;
    position: relative;
    top: -20px;
    left: -20px;
}
@media(min-width:768px){
    .step-sec {
        background: url(../images/step-bg.webp) no-repeat center center;
        background-size: cover;
    }
}
/* Step Section End */

/* CTA Section Start */
.cta-btn {
    background: var(--blue-bg2);
}
.cta-text{
    position: relative;
    display: inline-block;
}
.cta-text:before{
    position: absolute;
    top: 70px;
    left: 0px;
    content: url('../images/left-red-arrow.webp');
}
.cta-text:after{
    position: absolute;
    top: 70px;
    right: 0px;
    content: url('../images/right-red-arrow.webp');
}
.theme-btn {
    background: var(--blue-gradient);
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: all .3s ease;
}
.theme-btn:hover{
    background: var(--blue-gradient1);
}
@media(min-width:768px){
    .cta-btn {
        background: url(../images/cta-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .theme-btn {
        padding: 28px 50px;
    }
}
/* CTA Section End */

/* List Section Start */
.list-sec{
    background: var(--white-clr);
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.list-wall{
    padding: 15px;
	max-width: 95%;
    margin: auto;
    border: 1px solid #22D2EE;
}
.list-head1 {
    list-style: none;
}
.list-head1 li {
    background: url(../images/neon-white-tick.webp) no-repeat;
    padding: 15px 0px 15px 35px;
    background-position: 0px 21px;
    text-align: left;
}
@media(min-width:768px){
    .list-sec {
        background: url(../images/list-sec-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .list-wall{
        background: url(../images/list-sec-wall-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 50px;
        max-width: 95%;
        border: 0px;
    }
}
@media(min-width:1600px) {
	.list-wall {
		max-width: 85%;
        border: 0px;
	}
}
/* List Section End */

/* Millions Section Start  */
.millions-sec{
    background:#F1F7FA;
}
.millions-wall{
    border-radius: 20px;
    border: 1px solid #22D2EE;
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    padding: 20px 10px;
}
@media(min-width:768px){
    .millions-sec{
        background: url(../images/millions-bg.webp) no-repeat top center;
        background-size: cover;
    }
    .millions-wall{
        padding: 30px;
    }
}
/* Millions Section End */

/*  ordinary-people Section Start */
.ordinary-people-sec{
    background:#F1F7FA;
}
.dollar-head {
    background: url(../images/dollar-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 5px 10px;
    display: inline-block;
}
@media(min-width:768px){
    .ordinary-people-sec{
        background: url(../images/ordinary-people-bg.webp) no-repeat top center;
        background-size: cover;
    }
    .dollar-head {
        padding: 21px 50px 20px 50px;
    }
}

/*  ordinary-people Section End  */

/* Generate Leads Section Start  */
.generate-leads{
    background: var(--light-blue);
}
.generate-wall{
    border-radius: 20px;
    border: 1px solid #B7D8EE;
    background: #FFF;
    padding: 20px;
    text-align: center;
    height: 100%;
    transition: 0.4s;
}
.generate-wall:hover {
    transform: translate(0, -6px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
@media(min-width:768px){
    .generate-leads{
        background: url(../images/generate-leads-bg.webp) no-repeat center center;
        background-size: cover;
    }
}
/* Generate Leads Section End */

/* Self Learning Section Start */
.self-learning-sec{
    background: var(--white-clr);
}
.self-learning-heading{
    background: url(../images/step-headline-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 5px 40px;
    display: inline-block;
}
.self-learning-outer-container{
    padding: 0px 30px;
}
.self-learning-grey-wall{
    border-radius: 50px;
    border: 1px solid var(--light-blue1);
    background: var(--light-blue);
    padding: 15px;
}
.self-learning-white-wall{
    padding: 15px;
}
.under{
    border-bottom: 1px solid;
}
@media(min-width:768px){
    .self-learning-sec{
        background: url(../images/self-learning-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .self-learning-outer-container{
        padding: 0px 100px;
    }
    .self-learning-grey-wall{
        padding: 100px;
    }
    .self-learning-white-wall{
        padding: 100px;
    }
}
/* Self Learning Section End */

/* Testimonial Section Start */
.testimonial-sec{
    background: linear-gradient(180deg, #FFF 0%, #F1F7FA 100%);
    padding: 0px 0px 30px 0px;
}
.testimonial-head{
    background: url(../images/testimonial-head.webp) no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
}
.testimonial-head::before{
    position: absolute;
    bottom:-10px;
    left: 0px;
    content: url('../images/product-review.webp');
}
.single-testimonial {
    text-align: center;
    position: relative;
    z-index: 2;
    border: 2px solid #22D2EE;
    border-radius: 10px;
    padding: 20px 10px;
    background: #EBF6FE;
}
.st-img {
    display: inline-block;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.border-video {
	border-radius: 0px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
@media(min-width:768px){
    .testimonial-sec{
        padding: 0px 0px 100px 0px;
        background: url(../images/testimonial-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .testimonial-head{
        padding: 18px 100px;
    }
    .single-testimonial {
		border-radius: 30px;
		padding: 30px;
		height: 100%;
	}
    .st-img {
		margin-top: -110px;
	}
    .st-img img{
        height: 150px;
        width: 150px;
        border-radius: 100%;
    }
}
/* Testimonial Section End */

/* Potential Section Start */
.potential-sec{
    background: var(--light-blue);
}
.potential-list{
    background: url(../images/potential-right-bottom.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 40px 10px 10px;
}
.potential-list.potential-right-center{
    background: url(../images/potential-right-center.webp) no-repeat center center;
    background-size: 100% 100%;
}
.potential-list.potential-right-top{
    background: url(../images/potential-right-top.webp) no-repeat center center;
    background-size: 100% 100%;
}
.potential-list-right{
    background: url(../images/potential-left-bottom.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 10px 10px 40px;
}
.potential-list-right.potential-left-center{
    background: url(../images/potential-left-center.webp) no-repeat center center;
    background-size: 100% 100%;
}
.potential-list-right.potential-left-top{
    background: url(../images/potential-left-top.webp) no-repeat center center;
    background-size: 100% 100%;
}
@media(min-width:768px){
    .potential-sec{
        background: url(../images/potential-bg.webp) no-repeat center center;
        background-size: cover;
    }
}
/* Potential Section End */

/* Bussiness Section Start */
.bussiness-sec{

}
.bussiness-head{
    background: url(../images/bussiness-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 5px 67px 5px 40px;
    display: inline-block;
    position: relative;
}
.bussiness-head::before{
    position: absolute;
    top: 0px;
    right: -15px;
    content: url(../images/headphone.webp);
}
.bussiness-circle{
    border: 1px solid #B7D8EE;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.bussiness-list{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: url(../images/bussiness-list.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 20px;
    gap:20px;
}
@media(min-width:768px){
    .bussiness-sec{
        background: url(../images/bussiness-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .bussiness-list{
        min-height: 150px;
    }
}
/* Bussiness Section End */

/* Conversational Section Start */
@media(max-width:767px){
    .bussiness-owner-l-wall{
        border-radius: 20px 20px 0 0;
        border: 1px solid rgba(255, 54, 29, 0.30);
        background: #FFEBE9;
        padding: 20px 30px;
        position: relative;
    }
    
    .bussiness-owner-r-wall{
        border-radius: 0 0 20px 20px;
        border: 1px solid #22D2EE;
        background: #F1F7FA;
        padding: 20px;
        position: relative;
    }
    .bussiness-owner-l-wall::before{
        position: absolute;
        top: -25px;
        left: 50%;
        content: url(../images/problem-text2.webp);
        transform: translate(-50%, 12px);
    }
    .bussiness-owner-r-wall::before{
        position: absolute;
        top: 0px;
        left: 50%;
        content: url(../images/solved.webp);
        transform: translate(-50%, 8px);
    }

}
.conversational-sec{
    background: var(--light-blue);
}
.conversational-head{
    background: url(../images/conversational-heading.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 18px 44px;
    display: inline-block;
    position: relative;
}


@media(min-width:768px){
    .conversational-sec{
        background: url(../images/conversational-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .conversational-head::before{
        position: absolute;
        content: url(../images/chat-bot.webp);
        bottom: 5px;
        right:185px;
    }  
    .bussiness-owner-l-wall{
        border: 1px solid rgba(255, 54, 29, 0.30);
        background: #FFEBE9;
        border-radius: 20px;
        padding: 30px;
        min-height: 286px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .bussiness-owner-r-wall{
        border: 1px solid #22D2EE;
        background: #F1F7FA;
        border-radius: 20px;
        min-height: 216px;
        padding: 57px 30px;
        border-left: 0px !important;
        border-radius: 0px 20px 20px 0px;
        position: relative;
    }
    .bussiness-owner-l-wall::before{
        position: absolute;
        top: 65px;
        left: -13px;
        content: url(../images/problem-text.webp);
    }
    .bussiness-owner-r-wall::before{
        position: absolute;
        top: -10px;
        left: 50%;
        content: url(../images/solved.webp);
        transform: translate(-50%, -25px);
    }
}
/* Conversational Section End */

/* Bussiness Section Start */
.bussiness-owner-sec{
    
}
@media(min-width:768px){
    .bussiness-owner-sec{
        background: url(../images/bussiness-owner-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
}
/* Bussiness Section End */


/* Customer Support Start */
.customer-support-sec{
    background:#F1F7FA;
}
.customer-wall{
    border-radius: 20px;
    border: 1px solid #22D2EE;
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    padding: 20px 10px;
}
@media(min-width:768px){
    .customer-support-sec{
        background: url(../images/customer-bg.webp) no-repeat top center;
        background-size: cover;
    }
    .customer-wall{
        padding: 45px 30px;
    }
}
/* Customer Support End */

/*compare section start*/
.compare-section{
    background:#D8F2FF;
}
.compare-shape{
    background: #F33C3B;
    padding: 4px 40px;
    border-radius: 0 79px 0 79px;
}
.normal-chatbot{
    padding: 15px 30px 15px 30px;
    background: #FFEBE9;
    border-radius: 20px 20px 0 0 ;
}
.normal-chatbot-bullets li {
    background: url(../images/thumb-down.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 10px 20px 10px 45px;
    background-position: 5px 10px;
    text-transform: capitalize;
    
}
.normal-chatbot-bullets li:nth-child(odd) {
    background-color: #FCDDDA;
}
.normal-chatbot-bullets li:nth-child(even) {
    background-color: #FFEBE9;
}
.normal-chatbot-bullets li:last-child{
    border-radius: 0 0 0 20px;
}
.our-chatbox-design{
    border-radius: 20px;
    border: 1px solid #22D2EE;
    background: #FFF;
    box-shadow: -10px 4px 30px 0px rgba(0, 0, 0, 0.15);
}
.our-chatbot{
    padding: 15px 10px 15px 10px;
}
.our-chatbot-bullets li {
    background: url(../images/thumb-up.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 10px 20px 10px 45px;
    background-position: 5px 10px;
    text-transform: capitalize;
    
}
.our-chatbot-bullets li:nth-child(odd) {
    background-color: #D8F2FF;
}

@media(min-width:768px){
    .compare-section{
        background: url(../images/compare-bg.webp) no-repeat top center;
        background-size: cover;
    }
    .customer-wall{
        padding: 45px 30px;
    }
    .normal-chatbot{
        padding: 39px 145px 39px 145px;
        background: #FFEBE9;
        border-radius: 20px 0px 0 0 ;
        margin-top: 40px;
    }
    .normal-chatbot-bullets li {
        padding: 25px 30px 30px 60px;
        background-position: 15px 25px;
        min-height: 118px;
    }
    .normal-chatbot-bullets li:nth-child(2), .normal-chatbot-bullets li:nth-child(3), .normal-chatbot-bullets li:nth-child(7) {
        background-position: 15px 38px;
    }
    .our-chatbot-bullets{margin-bottom: 40px;}
    .our-chatbot{
        padding: 67px 90px 50px;
    }
    .our-chatbot-bullets li {
        padding: 25px 30px 30px 60px;
        background-position: 15px 25px;
        min-height: 118px;
    }
    .our-chatbot-bullets li:first-child{
        background-position: 15px 38px;
    }
}
/* compare section end */

/* Time-Consuming section Start*/
.time-consuming-section{
    background:#D8F2FF;
}
.timing-head{
    background: url(../images/timing-head.webp) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 14px 10px;
    position: relative;
}

@media(min-width:768px){
    .time-consuming-section{
        background: url(../images/time-consuming-bg.webp) no-repeat top center;
        background-size: cover;
    }
    .timing-head{
        padding: 10px 66px 20px 46px;
    }
    .timing-head::after{
        position: absolute;
        content: url('../images/timing-sad-emoji.webp');
        bottom: 10px;
        right: 80px;
}

}
/* Time-Consuming section End */

/* Good-News section Start */
.good-news-section{
    background:#fff;
}
.good-head {
    background: url(../images/good-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
}
.good-news-fetures{
    background: url(../images/good-news-frame.webp) no-repeat;
    background-size: 100% 100%;
   padding: 10px ;
}
@media(min-width:768px){
    .good-news-section{
        background: url(../images/good-news-section.webp) no-repeat top center;
        background-size: 100% 100%;
    }
    .good-head {
        padding: 6px 100px 6px 40px;
    }
    .good-head::before {
        position: absolute;
        content: url('../images/star-struck-emoji.webp');
        bottom: -5px;
        right: 38px;
    }
    .good-news-fetures{
        padding: 30px 20px 41px 20px;
        height: 100%;
    }
}
/* Good-News section End */

/* proudly section Start */
.proudly-section{
    background:#040b22;
}
.proudly-head{
    background: url("../images/proudly-head.webp") no-repeat;
    background-size: 100% 100%;
    padding: 9px 46px 8px 55px;
    display: inline-block;
}
@media(min-width:768px){
    .proudly-section{
        background: url(../images/proudly-sec-bg.webp) no-repeat top center;
        background-size: 100% 100%;
    }
    .proudly-head{
        padding: 9px 46px 8px 55px;
    }

}
/* proudly-section End */

/*steps section start */
.steps-section{
    background:#FDFDFD;
}
.steps-shape{
    background: url(../images/steps-shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
}
.steps-num{
    background: url(../images/steps-num.webp) no-repeat top center;
    background-size: cover;
    padding: 5px 20px;
    display: inline-block;
}
.steps-img{
    box-shadow: -10px 0px 30px 0px rgba(0, 94, 161, 0.30);
    border-radius: 20px;
    background: transparent;
}
.step-last-shape{
    border-radius: 25px;
    border: 1px solid var(--Blue-Gradient, #22D2EE);
    background: #EBF6FE;
    padding: 10px 20px;
    display: inline-block;
}
@media(min-width:768px){
    .steps-section{
        background: url(../images/steps-bg.webp) no-repeat top center;
        background-size: 100% 100%;
    }
    .steps-shape{
        padding: 6px 44px 6px 44px;
    }
    .steps-container{
        background: url(../images/steps-container.webp) no-repeat top center;
        background-size: 100% 100%;
        padding: 120px 0;
    }
    .step-last-shape{
        padding: 8px 24px 8px 75px;
        position: relative;
    }
    .step-last-shape:before{
        content: '';
        position: absolute;
        top:-10;
        left: -20px;
        background: url(../images/thumbsup-face.webp);
        width: 74px;
        height: 60px;
    }

}
/* steps section end */

/* created section start*/
.created-section{
    background:#F1F7FA;
}
.create-shape{
    background: url(../images/created-shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 20px 10px;
    display: inline-block;
    position: relative;
}

@media(min-width:768px){
    .created-section{
        background: url(../images/created-bg.webp) no-repeat top center;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    .create-shape{
        padding: 18px 50px;
    }
    .create-shape:before{
        content: '';
        position: absolute;
        top:100px;
        left: 0px;
        background: url(../images/robo.webp);
        width: 80px;
        height: 80px;
    }

}
/* created section end */


/* features-section-one start */
.features-section-one{
    background:#fff;
}

@media(min-width:768px){
    .features-section-one{
        background: url(../images/features-one-bg.webp) no-repeat top center;
        background-size: 100% 100%;
    }
}
/* features-section-one start */

/* features-section-two start */
.features-section-two{
    background:#EAF7FD;
}

@media(min-width:768px){
    .features-section-two{
        background: url(../images/features-two-bg.webp) no-repeat top center;
        background-size: 100% 100%;
    }
}
/* features-section-two start */

/* features-section-three start */
.features-section-three{
    background:#fff;
}

@media(min-width:768px){
    .features-section-three{
        background: url(../images/features-three-bg.webp) no-repeat top center;
        background-size: 100% 100%;
    }
}
/* features-section-three start */

/* features-section-four start */
.features-section-four{
    background:#EAF7FD;
}

@media(min-width:768px){
    .features-section-four{
        background: url(../images/features-four-bg.webp) no-repeat top center;
        background-size: 100% 100%;
    }
}
/* features-section-three start */

/* features-section-five start */
.features-section-five{
    background:#fff;
}

@media(min-width:768px){
    .features-section-five{
        background: url(../images/features-five-bg.webp) no-repeat top center;
        background-size: 100% 100%;
    }
}
/* features-section-three start */

/* demo section start */
.demo-section{
    background:#111C50;
}
.demo-shape{
    background: url(../images/demo-shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 20px 10px;
    display: inline-block;
    position: relative;
}
@media(min-width:768px){
    .demo-section{
        background: url(../images/demo-bg.webp) no-repeat top center;
        background-size: 100% 100%;
    }
    .demo-shape{
        padding: 10px 75px 20px 75px;
    }
    .demo-shape:before{
        content: '';
        position: absolute;
        top:30px;
        right: 220px;
        background: url(../images/play-vector.webp);
        width: 35px;
        height: 35px;
    }

}
/* features-section-three start */

/* inside section start */
.inside-section{
    background: var(--white-clr);
}
.inside-shape{
    background: url(../images/inside-shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 20px 10px;
    display: inline-block;
    position: relative;
}
@media (min-width: 768px){
    .inside-section {
        background: url(../images/inside-section.webp) no-repeat center center;
        background-size: cover;
    }
    .inside-shape{
        padding: 15px 60px;
    }
    .inside-shape:before{
        background: url(../images/star-struck-emoji.webp) no-repeat;
        content: '';
        position: absolute;
        top:119px;
        left:20px;
        width: 80px;
        height: 80px;
    }
    .right-arrow{
        position: absolute;
        bottom: -10%;
        left: 46%;
    }
    .left-arrow{
        position: absolute;
        top: -10%;
        left: 46%;
    }
}
/* inside section end */

/* funnel-section start */
.funnel-section{
    background:#ECF7FC;
}
.funnel-card{
    border-radius: 20px;
    border: 1px solid var(--Blue-Gradient, #22D2EE);
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    padding: 20px;
    height: 100%;
}
@media (min-width: 768px){
    .funnel-section {
        background: url(../images/funnel-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .funnel-card{
        padding: 28px;
    }
}
/* funnel section end */

/* upgrade section start */


/* upgrade section end */
.upgrade-section{
    background:#ECF7FC;
}
.upgrade-shape{
    background: url(../images/upgrade-shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 20px 10px;
    display: inline-block;
    position: relative;
}
.step-video{
    border-radius: 10px;
    border: 10px solid #90E8F7;
    background: url(<path-to-image>), lightgray -12.066px -5.833px / 104.818% 107.292% no-repeat;
    box-shadow: -10px 0px 30px 0px rgba(0, 94, 161, 0.30);
}
.upgrade-feature-shape {
    background: url(../images/feature-shape.webp) no-repeat;
    padding: 10px 30px;
    background-size: 100% 100%;
    display: inline-block;
}
@media (min-width: 768px){
    .upgrade-section {
        background: url(../images/upgrades-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .upgrade-shape{
        padding: 5px 80px 5px 40px ;
    }
    .upgrade-shape:before{
        background: url(../images/rocket.webp) no-repeat;
        content: '';
        position: absolute;
        top:0px;
        right:0px;
        width: 65px;
        height: 65px;
    }
    .upgrade-feature-shape{
        padding: 5px 45px;
    }
    
}


/* traning section start */

/* traning section end */
/* Footer Section Start */
.traning-section {
    background: #F1F7FA;
}
@media (min-width: 768px){
.traning-section {
    background: #fff url(../images/traning-bg.webp) no-repeat center top;
    background-size: 100% 100%;
}
}
/* riskfree section start */
.riskfree-section {
    background: #050d23;
}
@media (min-width: 768px){
.riskfree-section {
    background: #fff url(../images/riskfree-bg.webp) no-repeat center top;
    background-size: 100% 100%;
}
}
/* riskfree section end */
/* Table Section Start */

.table-wrap1 {
	border-radius: 30px 30px 10px 10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	padding-bottom:20px
}
.table-head1 {
	background: url(../images/table-screen.webp) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    padding: 40px 30px 30px 30px;
    text-align: center;
    min-height: 250px;
}


.table-list1 li:nth-child(odd) {
    background-color: #EFF5F9;
}

.table-list1 li:nth-child(even){
    background-color: #ffffff;
}

.table-list1 li {
	list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    background-image: url(../images/neon-check.webp), url(../images/table-sep-line.webp);
    background-position: 20px 18px, bottom center;
    background-repeat: no-repeat, no-repeat;
}
.table-list1 li.headline {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
	padding: 20px 0px 20px 0px;
	background-position: 0px !important;
	list-style: none;
	margin: 0px;
	border-bottom: none !important;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}
@media(min-width:768px){
    .table-head1{
        padding: 80px 30px 80px 30px;
	text-align: center;
	min-height: 568px;
    }
    .table-list1 li{
        padding: 15px 15px 15px 57px;
    }
    .table-list1 li:last-child {
        border-bottom: none;
    }
}

/* Table Section End */
/* faq section start */
.faq-section {
    padding: 30px 0px;
}
.faq-list {
    background: url(../images/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 22px;
}

/* faq section end */

/* Set-Forget-section start */
.set-forget-sec{
    background: var(--white-clr);
}
.set-forget-heading{
    background: url(../images/set-forget-heading.webp) no-repeat center center;
    background-size: 100% 100%;
    padding:8px 20px;
    display: inline-block;
    position: relative;
}
@media(min-width:768px){
    .set-forget-sec{
        background: url(../images/set-forget-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .set-forget-heading{
        padding: 18px 60px 17px 50px;
    }
    .set-forget-heading::before{
        position: absolute;
        bottom: -15px;
        left: 0px;
        content: url('../images/thumbsup.webp');
    }
}
/* Set-Forget-section End */

/* IntelliMate Is PERFECT Section Start */
.intellimate-perfect-sec{
    background: var(--light-blue);
}
.intellimate-perfect-headline{
    background: url(../images/intellimate-perfect-headline.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 8px 15px;
    display: inline-block;
}
.intellimate-perfect-wall{
    background-color: #F1F1F1;
    position: relative;
    z-index: 2;
    padding: 20px 10px;
    border-radius: 20px;
}
.intellimate-perfect-img{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.mt-md140 {
    margin-top: 20px;
}
@media(min-width:768px){
    .intellimate-perfect-sec{
        background: url(../images/intellimate-perfect-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .intellimate-perfect-headline{
        padding: 15px 75px 15px 31px;
        position: relative;
    }
    .intellimate-perfect-headline::before{
        position: absolute;
        bottom: -35px;
        right: -55px;
        content: url(../images/like.webp);
    }
    .intellimate-perfect-wall{
        border-radius: 0px;
        padding: 0px 20px 30px 20px;
        height: 100%;
        background: url(../images/intellimate-perfect-box-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .intellimate-perfect-img{
        display: inline-block;
        margin-top: -90px;
    }
    .mt-md140 {
        margin-top: 140px;
    }
}
/* IntelliMate Is PERFECT Section End */

/* Niche Section Css Start */
.niche-sec{
    background: var(--white-clr);
}
.niche-heading{
    background: url(../images/niche-headline.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 8px 15px;
    display: inline-block;
}
@media(min-width:768px)
{
    .niche-sec{
        background: url(../images/niche-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .niche-heading{
        padding: 18px 60px 17px 50px;
    }
}
/* Niche Section Css End */

/* Deploy Section Css Start */
.deploy-sec{
    background: #F1F7FA;
}
.deploy-head{
    background: url(../images/deploy-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 9px 15px;
    display: inline-block;
}
.border-underline {
    border-bottom: 1px solid;
}
@media(min-width:768px){
    .deploy-sec{
        background: url(../images/deploy-bg.webp) no-repeat center center;
        background-size:cover;
    }
    .deploy-head{
        padding: 18px 50px 18px 40px;
    }
}
/* Deploy Section Css End */

/* Bonus Section Css Start */
.bonus-headline{
    background: url(../images/bonus-heading.webp) no-repeat center center;
    background-size:  100% 100%;
    display: inline-block;
    position: relative;
    padding: 10px 20px;
}
.bonus-section-shape {
    position: relative;
    border-radius: 10px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    height: 100%;
    border:1px solid #00A4FF;
}
.margin-t-50 {
    margin-top: -40px;
}
.bonus-headline-top{
    background: linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}
@media(min-width:768px){
    .bonus-sec{
        background: url(../images/bonus-bg.webp) no-repeat center center;
        background-size:cover;
    }
    .bonus-headline{
        padding: 15px 105px 15px 50px;
    }
    .bonus-headline::before{
        position: absolute;
        top: -7px;
        right: -30px;
        content: url('../images/bonus-gift.webp');
    }
    .bonus-section-shape {
        padding: 20px;
    }
    .margin-t-50 {
        margin-top: -50px;
    }
}
footer {
    background: var(--black-clr);
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}
@media(min-width:768px){
    footer{
        padding: 50px 0px;
    }
}
/* Footer Section End */
