html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #08041e;
    font-size: 14px;
	overflow-x: hidden;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.black-clr {
    color: #0f0f0f
}

.white-clr,
a.white-clr  {
    color: #fff;
    text-decoration: none;
}
a.white-clr:hover  {
    color: #fff;
    text-decoration: underline;
}
.blue-clr{
    color: #030331;
}

.blue-clr1{color: #b8b8f8;}

.blue-clr2{color:#5054bd;}

.orange-clr{color:#ff4f17;}

.orange-clr1{color: #ffac4f;}

.pink-clr{color: #F55D87;}

.red-clr{color:#ff0000;}

.red-clr1{color:#ff4545;}

.yellow-clr{color:#ffc466;}
.yellow1-clr {
    color: rgba(255, 205, 0, 1);
}
.text-justify{text-align: justify;}

.gradient-orange{
    background: #FF9315; 
    background: linear-gradient(90deg, #FF9315 21.66%, #FF4F17 64.49%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}


/* Header Section Css Start */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 30px 0px;
}

.post-headline {
	border: 1px solid rgb(22, 22, 88);
	border-radius: 10px;
	background-color: rgb(3, 3, 35);
	padding: 15px;	  
	display: inline-block;
}

.header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.header-section ul.leader-ul li {
	display: inline-flex;
	padding: 0px 5px;
}

.header-section ul.leader-ul li a {
	color: #ffffff;
}

.affiliate-link-btn a {
	background: linear-gradient(0deg, #F55D87 10%, #CE14FD 100%);
    border-radius: 15px;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #ffffff !important;
	font-weight: 600;
	position: relative;
    overflow: hidden;
}
.affiliate-link-btn a:hover {
    background: linear-gradient(0deg, #CE14FD 10%, #F55D87 90%);
}
.pre-heading {
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.10);
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
}
.proudly-list-bg {
	list-style: none;
	padding: 15px;
    border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 20px 0px rgba(0, 42, 119, 0.3);
}
.list-head li {
	background: url(../images/correct-tick.webp) no-repeat;
    text-align: left;
	background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 35px;
}

.list-head li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}
.main-heading {
    background: #fff;
    border-radius: 7px;
    padding: 20px 10px;
}
.black2-clr {
    color: #140014;
}
.red-hat-font {
    font-family: Red Hat Display;
}
@media (min-width:768px) {
	.header-section {		
		padding: 40px 0px 100px 0px;
	}

	.header-section ul.leader-ul {
		margin-top: 12px;
	}

	.affiliate-link-btn a {
		padding: 12px 25px;
		font-size: 20px;
	}
	.pre-heading {
		padding: 15px 40px;
	}
	.proudly-list-bg {
		padding: 25px;
	}

	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}
	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}
	.main-heading {
        background: url(../images/main-heading-bg.webp) no-repeat center center;
        background-size: 100% 100%;
		padding: 61px 55px 62px 75px;
    }
}

/* Header Section Css End */

.step-sec{
	padding: 30px 0px;
}
.step-text {
    background: #FF9315;
    background: linear-gradient(90deg, #FF9315 2.66%, #FF4F17 19.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media(min-width:768px){
	.step-sec{    
		padding: 100px 0px;
	}
}

/* CTA Button Start */
a.cta-link-btn {
	background: linear-gradient(0deg, #F55D87 10%, #CE14FD 100%);
    box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
}

a.cta-link-btn:hover {
	transition: all .3s ease;
    background: linear-gradient(0deg, #CE14FD 10%, #F55D87 90%);
}


@media (min-width: 768px) {
	a.cta-link-btn {
    padding: 20px 50px;
	}
}

/* CTA Button End*/


/* Proof Section Start */
.proof-section {
	padding: 30px 0px;
	background: #ffffff;
}
.grey-section {
	padding: 30px 0px;
	background: #ffffff;
}
@media (min-width: 768px) {
	.proof-section {
		background:#e7e9fa url(../images/proof-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 162px 0px 150px 0px;
	}
	.grey-section {
		background:#f1f1f1 ;
		padding: 80px 0px;
	}
}

/* Proof Section End */


 /* Old & Boring Content Section Start */
 .old-content-section
 {
	background: #01010e;
	padding: 30px 0px;
 }
 .old-content-box{
	border-radius: 20px;
	background-color: rgb(255, 196, 102);
	display: inline-block;
	padding: 20px;
	position: relative;
}

.old-content-box::after{
	content: '';
	background: url(../images/content-curve.webp) no-repeat right bottom;
	padding: 22px 0;
	display: block;
	position: absolute;
	width: 100%;
	bottom: -44px;
	right: 102px;
}

.old-headline{
	border: 1px solid rgb(22, 22, 88);
	border-radius: 10px;
	background-color: rgba(15, 15, 83, 0.2);
	display: inline-block;
	padding: 15px;  
}
 @media(min-width:768px){
	.old-content-section{
		background: url(../images/old-boring-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding: 100px 0px 180px 0px;
	}
	.old-content-box{padding: 50px;}
 }

 /* Old & Boring Content Section End */

 /* Business Section Start */
.business-section
{
	background: url(../images/business-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.reason-box{
	border: 1px solid rgb(80, 84, 189);
	border-radius: 50px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 29px 0px rgba(4, 4, 17, 0.2);
	display: inline-block; 
	padding: 20px 30px;
  }

.billion-content{
	border: 1px solid rgb(15, 15, 83);
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	display: inline-block;
	padding: 20px 30px;
}
@media(min-width:768px){
	.business-section{
		padding: 20px 0px 100px 0px;
	}
}

 /* Business Section End */



/* Proudly there Section Start */
.proudly-sec {
    background: #050645 ;
    padding:30px 0px ;
}

.per-shape {
	background: rgba(255, 255, 255, 0.20);
	border-radius: 40px;
    display: inline-block;
    padding: 25px 55px 30px 65px;
}

.prouldly-li-box{background: url(../images/proudly-li-bg.webp) no-repeat center center;
	background-size: cover;
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}
.boxborder-rb {
    border-bottom: 1px solid rgb(20, 20, 87);
    border-right: 1px solid rgb(20, 20, 87);
}
.boxborder-b {
    border-bottom: 1px solid rgb(20, 20, 87);
}
.boxborder-r {
    border-right: 1px solid rgb(20, 20, 87);
}
.boxbg{
	background: url(../images/check-mark.webp) no-repeat;
    padding: 20px 20px 20px 55px;
    background-position: 10px 23px;
    list-style: none;
}
@media (min-width: 768px){
	.proudly-sec { 
		background: #ffffff url(../images/proudly-bg.webp) center center no-repeat;
		background-size: cover;  
		padding: 70px 0px 220px 0px;
	}
}
/* Proudly Section End */

/* Not Alone Section Start */

.wearenot-alone-section {
	background: #ffffff;
	padding: 0px 0px 30px 0px;
}

.alone-bg {
	background-color: #010110;
	box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
	border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	padding: 10px;
	position: relative;
}

.title-shape {
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}
.title-shape:after {
    content: '';
    background: url(../images/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media (min-width:768px) {
	.wearenot-alone-section {
		background: #ffffff url(../images/wearenotalone-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 0px 0px 100px 0px;
	}

	.alone-bg {
		padding: 25px 30px 25px 10px;
	}

	.alone-bg:after {
		content: "";
		position: absolute;
		width: 87px;
		height: 49px;
		background-image: url(../images/arrow-down.webp);
		left: 44%;
		bottom: -49px;
	}

	.dollars-sm-image {
		width: 211px;
		min-width: 211px;
		height: 163px;
		margin-left: -120px !important;
		top: 0px;
		left: 0px;
	}

	.title-shape{padding: 20px 25px;}
}

/* Not Alone Section End */

/* Potential Section Start */

.potential-sec {
	background-color: #F3EAFF;
	padding: 30px 0px ;
}

.list-shape {
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.warning-section{
	background-color: #ae0a8b;
	padding: 20px 0px;
}
.offer {
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
	flex-direction: column;
}
.post-heading {
	background: #00AAFF;
	text-align: center;
	padding: 10px;
}
@media (min-width:768px) {
	.post-heading {
		padding: 15px 60px;
		background: url(../images/post-heading.webp) no-repeat center center;
		background-size: 100% 100%;
		display: inline-block;
	}
	
	.potential-sec {
		padding: 100px 0px 50px 0px;
	}
	.offer {
		display: flex;
		align-items: center;
		gap: 15px;
		justify-content: center;
		flex-direction: row;
	}
}

/* Potential Section End */

img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

.agree-list {
    margin: 0px;
    padding: 0px;
}
.agree-list li{
	background: url(../images/tick-icon.webp) no-repeat;
    background-position: 0 0px;
    list-style: none;
    padding: 0 0 15px 35px;
}
.cta-section-new.white-bg{
	padding: 60px 0 120px 0px;
    background: #f5f3fb url(../images/cta-section-bg.webp) no-repeat bottom center;
    background-size: cover;
}
