/* Support Section */

.support-section {
    padding: 30px 0px;
    background:#e7e9fa url(../images/here-are-some.webp) no-repeat center center;
    background-size: cover;
}

.feature-wrapper {
    background-color: rgb(35, 38, 70);
    box-shadow: 0px 10px 20px 0px rgba(11, 11, 26, 0.3);
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    text-decoration: none;
    gap: 15px;
    text-align: center; 
    height: 100%;
}

@media (min-width:767px) {
    .support-section {
        padding:50px 0px 100px 0px;
    }
    .feature-wrapper {
        padding: 30px;
    }
}

/* Support Section End */

.comparetable-section {
    padding: 30px 0px;
    background: #ffffff;
}


.no-comparison-shape {
    background: #efedf7;
    padding: 15px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .comparetable-section {
        padding: 100px 0px;
        background:transparent url(../images/compare-bg.webp) center center no-repeat;
        background-attachment: fixed;
    }
    .no-comparison-shape {
        background: url(../images/no-comparison.webp) no-repeat;
        background-size: contain;
        height: 633px;
        width: 1173px;
        padding: 80px 70px 15px 400px;
    }
}

/* Compare Table Section End */

/* Bonus Section */

.bonus-section {
    background: #efedf7 url(https://cdn.oppyo.com/launches/yodrive/special/bonus-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.but-design{
    border-radius: 20px;
    background-color: rgb(255, 196, 102);
    display: inline-block;
    padding: 20px;
    position: relative;
}
.but-design::after {
    content: '';
    background: url(../images/content-curve.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -34px;
    right: 102px;
}

.margin-t-60 {
    margin-top: -40px;
}

.bonus-section-shape {
    position: relative;
    border-radius: 10px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    height: 100%;
}

.bonus-headline {
    background: -moz-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background: -ms-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    padding: 16px 40px 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}

.bonus-gradient {
    background: -moz-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background: -ms-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    display: inline-block;
    padding: 30px 30px 15px 30px;
    border-radius: 0px 0px 30px 30px;
}
@media (min-width: 768px) {
    .bonus-section {
        padding: 100px 0px;
    }
    .but-design{padding: 20px 30px;}
    .bonus-section-shape {
        padding: 20px;
    }
    .margin-t-60 {
        margin-top: -50px;
    }
    .f-md-100 {
        font-size: 100px;
    }
    .lh240 {
        line-height: 240%;
    }
}

/* Bonus Section End */

.amazing-sound{padding: 30px 0px;}

@media (min-width:768px) {
    .amazing-sound{padding: 100px 0px;}
}

.riskfree-section {
    background: #e6e7f9;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .riskfree-section {
        background: #fff url(../images/riskfree-bg.webp) no-repeat top center;
        background-size: cover;
        padding:100px 0px;
    }
}

/* Table Section */

.table-section {
    background: #ffffff;
    padding: 30px 0px;
    color: #000000;
}

.table-wrap {
    width: 100%;
    float: left;
    overflow: hidden;
    border-width: 1px;
    border-color: rgb(216, 216, 225);
    border-style: solid;
    border-radius: 30px;
    background-color: #fff;
}

.table-head {
    padding: 50px 30px 30px 30px;
}

@media (min-width: 768px) {
    .table-head {
        padding: 50px 30px 30px 30px;
    }
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
    background-color: #eef4fb;
}

.table-wrap1 {
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 40px;
    background-color: #030331;
    box-shadow: 0px 0px 28px 7px rgba(0, 0, 0, 0.2);
}

.table-head1 {
    padding: 50px 30px 30px 30px;
    text-align: center;
}

@media (min-width: 768px) {
    .table-head1 {
        padding: 50px 30px 30px 30px;
        text-align: center;
    }
}

.table-list li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    background-image: url(https://cdn.oppyo.com/launches/yodrive/special/list-tick.webp), url(https://cdn.oppyo.com/launches/yodrive/special/table-sep-line.webp);
    background-position: 20px 20px, bottom center;
    background-repeat: no-repeat, no-repeat;
}

.table-list li.cross-sign {
    background-image: url(https://cdn.oppyo.com/launches/yodrive/special/launch-cross.webp), url(https://cdn.oppyo.com/launches/yodrive/special/table-sep-line.webp) !important;
    background-position: 20px 18px, bottom center !important;
    background-repeat: no-repeat, no-repeat;
}

.personal-shape {
    background-color: #030331;
    display: inline-block;
    padding: 12px 50px;
    border-radius: 65px;
    text-transform: uppercase;
}

.commercial-shape {
    background: -moz-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background: -ms-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    display: inline-block;
    padding: 12px 75px;
    border-radius: 65px;
    text-transform: uppercase;
    position: relative;
}

.commercial-shape:before {
    position: absolute;
    left: -8px;
    top: -6px;
    z-index: 9;
    content: '';
    background: url(https://cdn.oppyo.com/launches/yodrive/special/money-icon.webp) no-repeat;
    width: 89px;
    height: 79px;
    background-size: 100% 100%;
}

@media (min-width: 768px) {
    .table-list li {
        padding: 15px 15px 15px 57px;
    }
}

.table-list li.headline {
    background: #030331 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.table-list li:last-child {
    border-bottom: none;
}

.table-list1 li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
    background-image: url(https://cdn.oppyo.com/launches/yodrive/special/list-tick.webp), url(https://cdn.oppyo.com/launches/yodrive/special/table-sep-line1.webp);
    background-position: 20px 20px, bottom center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.table-list1 li.headline {
    background: #FF4F17 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.table-list1 li:last-child {
    border-bottom: none;
}
.compare-red-wrap {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 30px;
    background-color: rgb(255, 242, 242);
    padding: 20px;
    position: relative;
    z-index: 9;
}

ul.compare-red {
    margin: 0px;
    padding: 0px;
}
ul.compare-red li {
    background: url(../images/compare-red.webp) no-repeat;
    padding: 5px 0px 0px 30px;
    background-position: 0px 17px;
    text-align: left;
    list-style-type: none;
    margin-bottom: 10px;
}
ul.compare-red li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.compare-red-wrap1 {
    border: 2px solid rgb(132, 188, 66);
    border-radius: 30px;
    background-color: rgb(233, 255, 207);
    padding: 20px;
    position: relative;
    z-index: 9;
}

@media(min-width:768px){
    .compare-red-wrap{padding: 30px;}
    .compare-red-wrap1{padding: 30px;}
}
ul.compare-red1 {
    margin: 0px;
    padding: 0px;
}
ul.compare-red1 li {
    background: url(../images/list-tick.webp) no-repeat;
    padding: 5px 0px 0px 35px;
    background-position: 0px 11px;
    text-align: left;
    list-style-type: none;
    margin-bottom: 10px;
}
ul.compare-red1 li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

@media (min-width:768px) {
    .table-section {
        padding: 70px 0px 70px 0px;
        background: transparent url(../images/compare-bg.webp) center center no-repeat;
        background-attachment: fixed;
}
    .table-list1 li {
        padding: 15px 15px 15px 57px;
    }
}

.contact-section {
    background: #eef4fb;
    padding: 30px 0px;
}
.contact-container {
    padding: 15px;
    background: #030331;
}
.contact-shape {
    padding-bottom: 30px;
}
@media(min-width:768px){
	.contact-section {
		padding: 100px 0px;
		background: url(../images/faq-bg.webp) no-repeat center center ;
        background-size: cover;
	}
	.contact-container {
		background: url(../images/contact-box.webp) no-repeat center center;
		background-size: contain;
		padding: 50px;
	}
}

/* Contact Section End */

.faq-list {
    background: url(https://cdn.oppyo.com/launches/yodrive/special/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 27px;
}

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

/* cta  */

.cta-section-new {
    background:#01010e;
    padding: 30px 0;
}

@media (min-width:768px) {
    .cta-section-new {
        padding: 60px 0 120px 0px;
        background:#e7e8f9 url(../images/cta-section-bg.webp) no-repeat bottom center;
        background-size: cover;
    }
    .cta-section-new.transparent {
        padding: 60px 0 120px 0px;
        background:#ffffff url(../images/cta-section-bg.webp) no-repeat bottom center !important;
        background-size: cover;
    }
}

@media (min-width:1400px) {
    .cta-section-new {
        padding: 60px 0 140px 0px;
    }
}


.final-section {
    padding: 30px 0;
    background: #030330;
}

.final-shape {
    background: -moz-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    background: -ms-linear-gradient( 0deg, rgb(255,147,21) 0%, rgb(255,79,23) 100%);
    padding: 10px 20px;
    display: inline-block;
    line-height: 30px;
    border-radius: 65px;
}

@media (min-width: 768px) {
    .final-section {
        padding: 100px 0;
    }
    .final-shape {
        padding: 15px 40px 15px 40px;
        line-height: 100%;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.table-list li:nth-child(odd) {
    background-color: #eef4fb;
}
.table-list li:nth-child(even){
    background-color: #ffffff;
}
.table-list1 li:nth-child(odd){
    background-color:#eef4fb;
}
