html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}
::-webkit-input-placeholder {
    color: #797979 !important;
}
::-moz-placeholder {
    color: #797979 !important;
}
:-ms-input-placeholder {
    color: #797979 !important;
}
:-moz-placeholder {
    color: #797979 !important;
}
.container {
    height: unset;
}
.inner-content {
    height: unset;
}
.black-clr {
    color: #000000;
}
.black-clr1 {
    color: #010101;
}
.white-clr {
    color: #ffffff;
}
.white-blue {
    color: #70abff;
}
.orange-clr{
    color: #FD2F15;
}
.yellow-clr {
    color: #eaab26;
}
.kapblue{
    color: #4600a2;
}
.warning-section {
    background-color: #fd2f15;
    padding: 20px 0px;
}
/* Header Section CSS */
.header-section {
    background-color: #0d0304;
    padding: 30px 0;
}
.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}
.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}
.post-heading{
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(25px);
    padding: 10px 20px;
}
.affiliate-link-btn a {
    border-radius: 45px;
    background-color: #f8e71c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    padding: 9px 33px;
    font-size: 16px;
    color: #050b23;
    font-weight: 800;
}
.affiliate-link-btn a:hover {
    background: #decf18;
}
@media(min-width:768px) {
    .header-section {
        background:  url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
        background-attachment: fixed;
    }
    .fifth-section {
        background:  url(../images/proudlybg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}
/* 2. Second Section Start */
.second-section {
    padding: 5% 0;
}
.relative {
    position: relative;
}
.thats-not-all-section {
    background: #ffffff;
    background-size: cover;
    padding: 30px 0px;
}
.one-time-shape {
    padding: 10px;
    background: #224cb0;
    border-radius: 5px;
}
 /* fifth Section Starts  */
 .fifth-section {
    background: #0d0304;
    padding: 30px 0px 30px 0;
}
 /* Amazing Software Section1 Start  */
.amazing-software-section1{
    background: #edebf0;
    background-size: cover;
    padding: 30px 0;
}
@media(min-width:767px) {
    .one-time-shape{
        background: url(../images/one-time-shape.png) no-repeat center center;
        background-size: contain;
        border: 0px;
        border-radius: 0px;
        padding: 22px 15px 70px;
    }
    .thats-not-all-section{
        background: url(../images/white-section-bg.png) no-repeat;
        padding: 100px 0px 100px;
        background-size: cover;
        background-position: top center;
    }
    .imahe-h-300 {
        height: 400px;
    }
    .imahe-h-250 {
        height: 350px;
    }
    .amazing-software-section1 {
        background: #F1F1F1;
        background-size: cover;
        padding: 80px 0;
    }
}
/********features*********/
@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}
.handsean {
    font-family: handsean;
}
.theme-clr {
    color: #224cb0;
}
.clear {
    clear: both;
}
.white-section {
    background: #fff;
    padding: 30px 0;
}
.probtn a {
    border-radius: 10px;
    background: #FD2F15;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: 140%;
}
.probtn a:hover { 
    text-decoration: none;
}
/*Table CSS Start*/
.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}
.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: 1px solid #0d0304;
}
.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}
.tablebox3 {
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    position: relative;
    border:1px solid #0d0304;
}
ul.vgreytick {
    padding: 0px 0px 50px 0px;
}
ul.vgreytick li {
    background: url(../images/vgreytick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    color: #000;
}
ul.vgreytick li:nth-child(odd) {
    background-color: #f1f1f1;
}
ul.vgreytick li:nth-child(even) {
    background-color: #fff;
}
ul.vgreytick li:last-child {
    border-bottom: 0px;
}
ul.grey-tick-last {
    padding: 0px 0px 50px 0px;
}
ul.grey-tick-last li {
    background: url(../images/vgreytick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    color: #ffffff;
}
ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}
ul.grey-tick-last li:nth-child(odd) {
    background-color: #38292a;
}
ul.grey-tick-last li:nth-child(even) {
    background-color: #0d0304;
}
.tbbg2 {
    background: url(../images/plan1.png) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.tbbg3{
    background: #0d0304;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}
.tablebox3:before {
    content: '';
    position: absolute;
    background: url(../images/most-popular.png) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 0px;
    top: 0px;
}
@media (min-width:768px) {
    .probtn a {
        font-size: 42px;
        padding: 28px 30px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg3{
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px;
    }
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px;
    }
}
.myfeatures{
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}
.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    color: #000;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
}
.myfeatureslastborder {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #fff;
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #FD2F15;
}
.thanks-button a:hover {
    color: #FD2F15;
}
@media(min-width:768px) {
    .myfeatureslast {
        padding: 30px;
    }
}
/*Table CSS End*/
.grey-section{
    background: #edebf0;
    padding: 30px 0;
}
.moneyback-section {
    background: #0d0304;
    background-size: cover;
    padding: 30px 0;
}
.bonus-section{
    background: #edeefc;
    background-size: cover;
    padding: 30px 0;
}
.table-section{
    background: #ffffff;
    padding: 4% 0;
}
@media (min-width:768px) {
    .table-section {
        padding: 70px 0 100px 0px;
        background: url(../images/pricing-table-bg.png) no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
    }
    .bonus-section {
        background: #F1F1F1;
        background-size: cover;
        padding: 70px 0px 120px 0px;
        border-bottom: 0px;
    }
    .moneyback-section {
        background: #edeefc url(../images/moneyback-bg.png) no-repeat top center;
        background-size: cover;
        padding: 120px 0 100px;
    }
}
.but-design {
    background: url(../images/but-that-bg.png);
    padding: 20px 40px;
    display: inline-block;
    border-top: hidden;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}
/*-------- Responsive ------------*/
@media (min-width:768px) {
    .but-design {
        padding: 40px 50px 36px 51px;
        background: url(../images/but-that-bg.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% 100%;
        border: hidden;
    }
    .white-section {
        padding: 100px 0;
        background:#fff;
        background-size: cover;
        background-position: center center;
    }
    .grey-section {
        background: #F1F1F1;
        padding: 100px 0px 100px;
        background-size: cover;
        background-position: top center;
    }
}
.probtn1 a {
    border-radius: 10px;
    background-color: #FD2F15;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: 140%;
}
@media (min-width: 768px){
    .probtn1 a {
        font-size: 42px;
        padding: 28px 30px;
    }
}
.probtn1 a:hover {
    text-decoration: none;
    color: #ffffff;
}
.second-section {
    padding: 30px 0px;
    background: #fff;
}
.proudly-sec {
    border-radius: 45px;
    background: rgba(255, 255, 255, 0.10);
    display: inline-block;
}
@media (min-width: 768px){
    .second-section {
        padding: 100px 0px 140px;
        background:#fff;
        background-size: cover;
        background-position: center bottom;
    }
    .proudly-sec{
        padding: 9px 50px;
    }
    .caveat{
        font-family: 'Caveat', cursive;
    }
}
/******** Footer *********/
.footer-section {
    background: #0d0304;
    padding: 30px 0px;
}
.footer-ul li {
    display: inline;
}
.footer-ul {
    padding: 0
}
.footer-ul li a:hover{color: #fff;}
@media(min-width:768px) {
    .footer-section {
        padding: 70px 0px;
    }
}
