    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        color: #000000;
        font-size: 14px;
    }
    
    a,
    a:hover {
        text-decoration: none;
    }
    
    .text-shadow {
        text-align: center;
        text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
    }
    
    .white-clr,
    a.white-clr {
        color: #ffffff;
    }
    
    .orange-clr {
        color: #fb9549;
    }
    
    .blue-clr {
        color: #001964;
    }
    
    .black-clr {
        color: #100f12;
    }
    
    .light-pink {
        color: #f2ecff;
    }
    
    .orange-gradient {
        background: linear-gradient(180deg, #F97B40 0%, #FF511A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    
    .text-shadow {
        text-align: center;
        text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
    }
    
    span.highlight {
        border-bottom: solid 4px #fc6dab;
    }
    
    span.highlight1 {
        border-bottom: solid 1px #fc6dab;
    }
    
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    }
    
    .responsive-video iframe,
    .responsive-video object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    }
    
    .d-inline-flex {
        display: inline-flex;
    }
    
    .relative {
        position: relative;
    }
    .head-yellow {
        display: inline-block;
        background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/yellow-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 10px 30px;
    }
    @media (max-width: 767px) {
        .head-yellow {
            padding: 10px 50px;
        }
    }
    /* Header Section Css Start */
    
    .header-section {
        background: #1c2f9a;
        padding: 30px 0;
    }
    
    .header-section ul.leader-ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 15px;
    }
    
    .header-section ul.leader-ul li {
        display: inline-block;
        padding: 0px 5px;
    }
    
    .header-section ul.leader-ul li a {
        color: #ffffff;
    }
    
    .border-video {
        border-radius: 20px;
    }
    
    .affiliate-link-btn a {
        border-radius: 3px;
        background-color: rgb(252, 109, 171);
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 5px 20px;
        font-size: 18px;
        color: #ffffff !important;
        font-weight: 600;
    }
    
    .calendar-wrap {
        border-radius: 15px;
        background-color: rgb(240, 236, 255);
        padding: 10px;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    
    .calendar-wrap:before {
        content: '';
        background: url(../images/curve1.webp) no-repeat;
        position: absolute;
        z-index: 1;
        top: -14px;
        left: -18px;
        background-size: contain;
        width: 161px;
        height: 121px;
        z-index: -1;
    }
    
    .calendar-wrap:after {
        content: '';
        background: url(../images/curve2.webp) no-repeat;
        position: absolute;
        z-index: 1;
        right: -18px;
        bottom: -10px;
        background-size: contain;
        width: 282px;
        height: 38px;
        z-index: -1;
    }
    
    .calendar-wrap-inline {
        border-width: 1px;
        border-color: rgb(11, 11, 49);
        border-style: solid;
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        color: #08041e;
    }
    
    .list-head {
        list-style: none;
    }
    
    .list-head li {
        background: url(../images/list-tick.webp) no-repeat;
        padding: 8px 0px 8px 30px;
        background-position: 0px 11px;
        text-align: left;
        border-bottom: solid 1px rgb(11, 11, 49);
    }
    
    .list-head li:last-child {
        padding-bottom: 0px;
        border-bottom: none;
    }
    
    .list-head li:first-child {
        padding-top: 0px;
    }
    .gap30 {
        --bs-gutter-y: 30px;
    }
    .mt-md120 {
        margin-top: 20px;
    }
    @media (min-width:768px) {
        .header-section {
            background: #1b2e99 url(https://cdn.oppyotest.com/launches/webgenie/preview/images/header-bg.webp) no-repeat center center;
            background-size: cover;
            padding: 30px 0px;
        }
        .gap30 {
            --bs-gutter-x: 50px;
            --bs-gutter-y: 50px;
        }
        .mt-md120 {
            margin-top: 120px;
        }
        .header-section ul.leader-ul {
            margin-top: 12px;
        }
        .affiliate-link-btn a {
            padding: 12px 25px;
            font-size: 20px;
        }
        .affiliate-link-btn a:hover {
            background: #f2579a;
            color: #ffffff;
        }
        .min-md-video-width-left {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 64%;
            flex: 0 0 64%;
            max-width: 64%;
        }
        .min-md-video-width-right {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 36%;
            flex: 0 0 36%;
            max-width: 36%;
        }
    }
    /* Header Section Css End */
    
    .second-section {
        padding: 0px 0px 30px 0px;
    }
    
    ul.features-list {
        margin: 0px;
        padding: 0px;
    }
    
    ul.features-list li {
        background: url(../images/tick-icon.webp) no-repeat;
        padding: 0px 0px 20px 45px;
        background-position: 0px 3px;
        list-style: none;
    }
    
    ul.features-list li:last-child {
        padding-bottom: 0px;
        border-bottom: none;
    }
    
    @media (min-width:768px) {
        .second-section {
            padding: 0px 0px 85px 0px;
        }
    }
    /* CTA Button Start */
    
    a.cta-link-btn {
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: 15px 5px;
        color: #ffffff;
        font-weight: 600;
        font-size: 24px;
        line-height: normal;
        white-space: normal;
        align-items: center;
        border-radius: 6px;
        background-color: rgb(252, 109, 171);
        transition: all 0.5s;
    }
    
    a.cta-link-btn:hover {
        background: #f2579a;
        color: #ffffff;
        text-decoration: none;
        transform: scale(1.1);
        transition: all 0.5s;
    }
    
    @media (min-width: 768px) {
        a.cta-link-btn {
            font-size: 36px;
            padding: 28px 60px 30px 60px;
        }
    }
    /* CTA Button End*/
  
/****** Step Section *******/

.step-section{
	background: #eef4f9;
	padding: 30px 0px;
}

.step-shapes {
	background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/step-process-bg.webp) no-repeat center center;
	background-size: 100% 100%;
	padding: 8px 40px;
	width: fit-content;
}

.niche-design{
	background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/niche-bg.webp) no-repeat center center;
	background-size: 100% 100%;
	padding: 10px 45px;
	display: inline-block;
}

@media (min-width: 768px) {
	.step-section{
		padding: 100px 0px;
		background: #eef4f9 url(https://cdn.oppyotest.com/launches/webgenie/preview/images/step-bg.webp) no-repeat center center;
		background-size: cover;
	}
}

    /* Loading Section Start */
    
    .loading-section {
        background: #08041e url(../images/here-are-some.svg) no-repeat center center;
        background-size: cover;
        padding: 30px 0px;
    }
    
    @media (min-width: 768px) {
        .loading-section {
            padding: 80px 0px;
        }
    }
    /* Loading Section End */
    /* proof Section Start */
    
    .proof-section {
        background: #ffffff;
        padding: 30px 0px;
    }
    
    @media (min-width: 768px) {
        .proof-section {
            padding: 45px 0px;
        }
    }
    /* proof Section End */
    /* Team Section Sart */
    
    .new-dcp-team-section {
        background: #ffffff;
        padding: 0px 0px 30px 0px;
    }
    
    .heading-design {
        padding: 12px 15px;
        display: inline-block;
        background-color: rgb(110, 68, 255);
        border-radius: 65px;
        margin-top: -32px;
    }
    
    .awesome-shape {
        padding: 0px 15px 15px 15px;
        background: #ebe1f3;
        width: 100%;
        float: left;
        box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 6%);
        border-radius: 20px;
        top: -200px;
        position: relative;
    }
    
    @media (min-width: 768px) {
        .new-dcp-team-section {
            padding: 0px 0px 100px 0px;
        }
        .heading-design {
            padding: 12px 50px;
            margin-top: -47px;
        }
        .awesome-shape {
            padding: 0px 50px 50px 50px;
            background: url(../images/awesome-shape.webp) no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }
    }
    /* Team Section End */
 
    .header-list-block {
        border-radius: 20px;
        padding: 20px 0px;
        background-color: #ffffff;
        box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
        /* margin-top: -90px; */
    }
    
    @media(min-width:768px) {
        .header-list-block {
            border-radius: 20px;
            padding: 40px 20px;
            margin-top: -90px;
        }
    }
    
    .header-bordered-list li {
        list-style: none;
    }
    
    @media(min-width:768px) {
        .header-bordered-list li {
            padding: 12px 20px 12px 50px;
            position: relative;
        }
    }
    
    .header-bordered-list li::before {
        content: url(../images/green-tick.webp);
        position: absolute;
        left: 0px;
        top: 15px;
    }
    
    .jobiin-header-section {
        background: #141516 url(../images/jobiin-header-bg.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 30px 0px 230px 0px;
        position: relative;
    }
    
    @media(min-width:768px) {
        .jobiin-header-section {
            padding: 40px 0px 250px 0px;
        }
    }
    
    .jobiin-header-section ul.leader-ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 15px;
    }
    
    .jobiin-header-section ul.leader-ul li {
        display: inline-block;
        padding: 0px 5px;
    }
    
    .jobiin-header-section a.affiliate-link-btn {
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 8px 15px;
        font-size: 16px;
        line-height: normal;
        color: #000000;
        font-weight: 600;
        border-radius: 65px;
        background-color: #ffb80f;
        transition: all .3s ease;
        animation: glowing 5000ms infinite;
    }
    
    .jobiin-header-section a.affiliate-link-btn:hover {
        transform: scale(1.05);
        transition: all .3s ease;
    }
    
    @keyframes glowing {
        0% {
            box-shadow: 0 0 -10px #c4a300;
        }
        40% {
            box-shadow: 0 0 20px #c4a300;
        }
        60% {
            box-shadow: 0 0 20px #c4a300;
        }
        100% {
            box-shadow: 0 0 -10px #c4a300;
        }
    }
    
    @media(min-width:768px) {
        .jobiin-header-section a.affiliate-link-btn {
            padding: 10px 20px;
            font-size: 22px;
        }
    }
    
    .jobiin-header-section .headline-highlight {
        color: #ffb80f;
    }
    
    @media (min-width: 768px) {
        .jobiin-header-section .headline-highlight {
            background: url(https://cdn.oppyo.com/launches/jobiin/special/heading-shape.svg) no-repeat center center;
            background-size: cover;
            display: inline-block;
            color: #000000;
            padding: 8px 53px 8px 26px;
        }
    }
    
    .grey-clr {
        color: #d5d1d1;
    }
    
    .jobiin-second-section {
        padding: 0px 0px 30px 0px;
    }
    
    @media(min-width:768px) {
        .jobiin-second-section {
            padding: 0px 0px 100px 0px;
        }
    }
    
    .z-index-9 {
        z-index: 9;
    }
    
    .jobiin-header-list-block {
        border-radius: 20px;
        padding: 20px 0px;
        box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
        margin-top: -200px;
        background: #ffffff;
    }
    
    @media(min-width:768px) {
        .jobiin-header-list-block {
            border-radius: 20px;
            padding: 40px 20px;
        }
    }
    
    .jobiin-cta-btn {
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 15px 5px;
        color: #000000;
        font-weight: 800;
        font-size: 20px;
        line-height: normal;
        white-space: normal;
        align-items: center;
        border-radius: 65px;
        background-color: #ffb80f;
        transition: all .3s ease;
        animation: glowing 5000ms infinite;
        transition: all 0.5s;
    }
    
    .jobiin-cta-btn:hover {
        transform: scale(1.1);
        transition: all 0.5s;
    }
    
    @media(min-width:768px) {
        .jobiin-cta-btn {
            font-size: 36px;
            padding: 28px 60px 30px 60px;
            display: inline-block;
        }
    }
    /****** Amazing Section *******/
    