html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #100f12;
    font-size: 14px;
}
.black-clr {
    color: #100f12;
}
.white-clr {
    color: #ffffff;
}
.bonus-section {
    background: #f9f8f8;
    background-size: cover;
    padding: 30px 0;
}
.bonus-design {
    background-color: rgb(251, 149, 73);
    border-radius: 100px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}
.option-design {
    background: #00208e;
    border-radius: 40px;
    display: inline-block;
    padding: 8px 10px;
}
.bonus-wrap{
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 13px 68px 0px rgb(6 6 6 / 10%);
}
.bonuscontent-li {
    padding: 0px;
    margin: 0px;
}
.bonuscontent-li li {
    background: url(../images/star.png) no-repeat 15px 10px;
    padding: 5px 0px 10px 50px;
    list-style: none;
}
@media (min-width: 768px) {
.bonus-section {
    padding: 70px 0px 100px 0px;
    background: #f9f8f8;
    background-size: cover;
}
.bonus-design {
    padding: 5px 50px;
}
.bonus-wrap{
    padding: 30px 40px;
    position: relative;
}
.bonus-wrap::after{
    position: absolute;
    bottom: -6px;
    right: 0px;
    content: url(../images/corner.png);
    }
.bonus-design:before {
    width: 80px;
    height: 2px;
    background: #fcc216;
    position: absolute;
    content: '';
    left: -80px;
}
.bonus-design:after {
    width: 80px;
    height: 2px;
    background: #fcc216;
    position: absolute;
    content: '';
    right: -80px;
}
.option-design {
    padding: 8px 30px;
}
}
