body {
    font-family: 'Spartan', sans-serif;
    color: #000;
    font-size: 14px;
}


/* colors */

.purple {
    color: #f57c25;
}

.lite-black-clr {
    color: #0041b5;
}

.greentext {
    color: #d8f67e;
}

.green-clr {
    color: #00ff84;
}

.yellow-clr {
    color: #fff600;
}

.white-clr {
    color: #fff;
}


/* Main Header Section CSS */

.main-header {
    background: -moz-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    padding: 30px 0px;
}

.yellow-bg {
    background: #ffcf69;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
}

.blue-head {
    color: #3f43ba;
}

.content-box {
    background: #fff;
    padding: 30px 15px;
    border-radius: 5px;
}

.video-frame {
    background: transparent;
}

.black-clr {
    color: #000000;
}

.highlight-heading {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgb(19 22 38 / 20%);
}

.post-heading {
    background: #ffffff;
    padding: 10px;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    text-align: center;
}


/* .post-heading span {
    transform: skew(10deg);
} */

@media (min-width: 768px) {
    .highlight-heading {
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
    }
    .post-heading {
        background: url(../images/pre-shape.png) no-repeat center center;
        background-size: contain;
        padding: 30px 40px 30px 110px;
        border-radius: 0px;
        text-align: left;
    }
    /*  .post-heading span {
        transform: skew(25deg);
        display: inline-block;
    } */
}

@media (min-width: 768px) {
    .rotate-5 {
        transform: skew(7deg);
    }
}


/* Affiliate Bonus Buy Button */

a.bonusbuy-btn {
    border-radius: 10px;
    /* background-color: #3f43ba; */
    background: #0041b5;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
}

a.bonusbuy-btn:hover,
a.bonusbuy-btn:focus {
    background: #0d55d5;
    text-decoration: none;
}

@media (min-width: 768px) {
    .probtn a {
        padding: 27px 50px;
    }
    .yellow-bg {
        padding: 10px 20px;
    }
}


/* Bonus Header Section bg Start Main Css */

.bonus-header {
    padding: 30px 10px 0px 10px;
}

.heading-bg {
    background-color: #ee3725;
    border-radius: 10px;
    padding: 15px 15px;
    color: #ffffff;
}

.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #f57c25;
    display: inline-block;
    text-transform: uppercase;
}

.section-bonus {
    padding: 30px 0px 0px 0px;
}

.cta-btn-section {
    padding: 30px 0px 0px 0px;
}

.bonus-title-color {
    color: #000000;
}

.bonus-list li {
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 4px;
    padding-left: 3rem;
    padding-bottom: 25px;
    list-style-type: none;
}

.bonus-list li:last-child {
    padding-bottom: 0px;
}

.mw-60 {
    max-width: 60%;
}


/* Huge Section background main CSS */

.huge-area {
    background: #2f0088;
    padding: 30px 0;
}

.white-section {
    background: rgb(255, 255, 255);
    padding: 30px 15px;
}


/* Footer Section Start Main CSS */

.strip_footer {
    background: #000;
    padding: 40px 0px 40px;
    color: #fff;
}

.strip_footer a {
    color: white;
}


/* Exit Pop Up Css Start */

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}


/* #ouibounce-modal .modal-body {
	padding: 0px 20px;
	font-size: .9em
} */

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.modal-body {
    position: relative;
    padding: 15px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 30px;
    opacity: 1;
    outline: none;
    color: #300476 !important;
    font-weight: 400;
    background: #ffe8cc !important;
    top: 1px;
    position: absolute;
    z-index: 2;
    right: 1px;
    padding: 0px 5px 0px 5px !important;
}

.modal-header .close {
    margin-top: -5px;
}

.innerbody {
    border-radius: 10px;
    margin-top: -1%;
    float: left;
    width: 100%;
}

.popupbg {
    background: url(../images/exitbg.png) repeat;
    padding: 8px 0px;
}


/* Media Querry Start */


/* For Header Bg */

@media(min-width:768px) {
    .main-header {
        background: #091274 url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 40px 0px 300px 0px;
    }
    .content-box {
        background-color: #fff;
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
        border-radius: 25px;
        display: inline-block;
        box-shadow: -1.04px 4.891px 6px 0px rgba(19, 22, 38, 0.2);
    }
    .bonus-header {
        padding: 70px 0px 0px 0px;
    }
    .heading-bg {
        background: url(../images/head-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        padding: 50px 15px 100px 15px;
        background-size: 100% 100%;
    }
    a.bonusbuy-btn,
    a.bonusbuy-btn:focus {
        font-size: 36px;
        padding: 28px 74px 30px 74px;
        width: auto;
        line-height: 140%;
    }
    .section-bonus {
        padding: 30px 0px;
    }
    .cta-btn-section {
        padding: 100px 0px;
    }
    .huge-area {
        background: #2f0088 url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: inherit;
        padding: 70px 0 70px;
    }
    .strip_footer {
        background: #09090a;
        padding: 50px 0px;
        color: #fff;
    }
}


/* Exit Popup CSS */

.link-btn a {
    background-color: #F33A3A;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    display: inline-block;
    border-radius: 2px;
    text-decoration: none;
    padding: 8px 60px;
}

.pop-padding {
    padding: 20px 30px 20px 30px;
}

.border-pop {
    border: 1px solid;
    padding: 30px;
    margin: 15px 0;
}

@media(max-width:767px) {
    .xstext1 {
        text-align: center;
    }
}

.section-host {
    padding: 30px 0px 0px;
    background: #ffffff url(../images/host-bg.png) no-repeat center center;
    background-size: cover;
}

.kapblue {
    color: #3f43ba;
}

@media (min-width: 768px) {
    .section-host {
        padding: 50px 0px 50px 0px;
    }
    .f-md-60 {
        font-size: 60px;
    }
}

.white-area {
    padding: 50px 15px;
}

.cta-btn-section.pt-3 {
    padding-bottom: 30px;
}

@media (min-width:768px) {
    .cta-btn-section.pt-3 {
        padding-bottom: 100px;
    }
}

.dark-cta-bg {
	background: #030210 url(../images/cta-sec.png) no-repeat center center;
    background-size: cover;
}


/* .dark-cta-bg .countdown {
	color: #ffffff;
} */


/* grand bonus */

.coursova-bg {
    background: #100370;
    padding: 30px 0px;
}

.heading-co-bg {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgba(19, 22, 38, 0.2);
}

.list-head-co li {
    background: url(../images/list-head.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}

.banner {
    padding: 10% 0px;
    background: #153c79;
}

.yellowline {
    border-bottom: 2px solid #ecc914;
}

.lightyellow {
    color: #ecc914;
}

@media (min-width:768px) {
    .coursova-bg {
        background: #ffffff url(../images/coursova-bg.png) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 180px 0px;
    }
    .heading-co-bg {
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
    }
    .rotate-5 {
        transform: skew(7deg);
    }
    .min-sm-video-width-left {
        width: 68%;
    }
    .banner {
        background: url(../images/bg-ni.png) #153c79 no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 10% 0% 5%;
    }
    .grand {
        padding: 40px 15px;
        background: #ff7800;
    }
}