html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}
.white-clr {
	color: #fff;
}
.black-clr {
	color: #000000;
}
.blue-clr {
	color: #182d5a;
}
.orange-clr {
	color: #F89B1C;
}
.orange-clr1{
	color: #ff9300;
}
.yellow-clr {
	color: #ffc332;
}
.red-clr {
    color: #FF2C2C;
}
.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.d-inline-flex {
	display: inline-flex;
}
.relative {
	position: relative;
}


/* Header Section Css Start */
.header-section {
    background: #000308;
    padding: 30px 0px 30px 0px;
}
.preheadline {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}
@media (min-width: 768px){
.header-section {
    background: #000308 url(../images/header-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 40px 0px 120px;
}
.preheadline {
    padding: 10px 35px;
}
}
.header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}
.header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
}
.header-section ul.leader-ul li a {
	color: #ffffff;
}
.border-video {
	border-radius: 20px;
}
.affiliate-link-btn a {
	border-radius: 15px;
	background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #ffffff !important;
	font-weight: 600;
}
.list-head {
	list-style: none;
}
.list-head li {
	background: url(../images/fav.webp) no-repeat;
	padding: 12px 0px 12px 30px;
	background-position: 0px 17px;
	text-align: left;
	border-bottom: solid 1px #091e42;
	background-size: 20px;
}
.list-head li:last-child {
	border-bottom: none;
}
.mainheadline {
    padding: 60px 5px 20px;
    background: #E2F0F6;
    position: relative;
    border: 3px solid #fff;
    border-radius: 10px;
}
.mainheadline:before {
    position: absolute;
    content: 'game changer';
    background: #f89b1c;
    padding: 5px 10px;
    left: 0px;
    z-index: 99;
    top: 0px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    font-family: 'Kalam', cursive;
    border-radius: 10px 0 0 0;
}
.video-box {
    position: relative;
    /* padding: 20px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.03) 100%);
    backdrop-filter: blur(10px); */
}
.steps-block {
    position: relative;
    height: 100%;
    padding: 20px;
    border-width: 2px;
    border-color: #179aff47;
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
@media (min-width:768px) {
	.mainheadline {
		padding: 30px;
		background: url(../images/main-heading.webp) no-repeat center center;
		background-size: 100% 100%;
		position: relative;
		border: none;
		padding: 100px 40px 30px 40px;
	}
	.mainheadline:before {
		position: absolute;
		content: 'game changer';
		background: url(../images/gamecheanger-bg.webp) no-repeat;
		padding: 0px 36px;
		left: 98px;
		z-index: 99;
		top: 30px;
		text-transform: capitalize;
		color: #fff;
		font-weight: 700;
		font-size: 36px;
		position: absolute;
		font-family: 'Kalam', cursive;
	}
	.header-section {		
		padding: 40px 0px 120px 0px;
	}
	.header-section ul.leader-ul {
		margin-top: 12px;
	}
	.affiliate-link-btn a {
		padding: 12px 25px;
		font-size: 20px;
	}
	.affiliate-link-btn a:hover {
		background-image: -moz-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
		background-image: -webkit-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
		background-image: -ms-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
	}
	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}
	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}
	.preheadline {
		padding: 10px 35px;
	}
}
/* Header Section Css End */
@media (min-width:768px) {
	.list-section {
		padding:100px 0px 150px 0px;
		background: url(../images/list-section-bg.webp) no-repeat center bottom;
		background-size: cover;
	}
}
.second-section{
	padding:0px 0px 30px 0px;
}
.feature-list {
    background: url(../images/fav.webp) no-repeat;
    background-position: 0px 4px;
    padding: 0px 0px 15px 40px;
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
	color: #000;
	
}
.feature-list2 {
    background: url(../images/fav.webp) no-repeat;
    background-position: 0px 4px;
    padding: 0px 0px 15px 40px;
    list-style-type: none;
    display: flex;
    align-items: center;
	color: #000;
}
.problme-area-shape1 {
    width: 100%;
    float: left;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    margin-top: -20px;
}
@media(min-width:768px){
	.second-section{
		padding:0px 0px 100px 0px;
	}
	.problme-area-shape1 {
		width: calc(100% + 70px);
		float: left;
		padding: 30px 70px 30px 30px;
		margin-right: -70px;
		z-index: 0;
		margin-top: 0px;
	}
}
.second-sec-list{
	border-top: 0px !important;
	border: 1px solid #00A4FF;
    padding: 15px;
    border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
@media(min-width:768px)
{
 .second-sec-list{
    padding: 100px 50px 50px 50px;
 }   
}
/* CTA Button Start */
a.cta-link-btn {
    border-radius: 15px;
    background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    backdrop-filter: blur(10px);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}
a.cta-link-btn:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -webkit-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
    background-image: -ms-linear-gradient(135deg, #9665FF -5.51%, #00A4FF 0%);
}
@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 38px;
		padding: 28px 50px;
		display: inline-block;
	}
}
/* CTA Button End*/
/* Step Section Start */
.step-section {
	padding: 30px 0px;
}
.step-box{
	padding: 0px 20px 30px 20px;
	overflow: hidden;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 30px 0px rgba(32, 41, 59, 0.1);
	height: 100%;
  }
  .step-title{
	background-color: rgb(255 145 14);
	padding: 9px 30px;
	color: #000000;
	text-transform: uppercase;
	display: inline-block;
	margin-left: -20px;
  }
  .step-icon{
	  border-radius: 20px;
	  background:#e6e8ec;
	  min-width: 100px;
	  min-height: 100px;
	  display: inline-flex;
	  align-items: center;
	  justify-content: center;
  }
  .step-arrow{
	  position: absolute;
	  right: -50px;
	  top: 45%;
	  z-index: 9;
  }
@media (min-width: 768px) {
	.step-section {
		padding: 100px 0px;
	}
}
/* Step Section End */
/* Proof Section Start */
.proof-section {
	padding: 30px 0px 30px 0px;
	background: #f5f5f5;
}
@media (min-width: 768px) {
	.proof-section {
		padding: 100px 0px 100px 0px;
	}
}
/* Proof Section End */
/* Team Section Sart */
.awesome-sections {
	background:#fff;
	padding: 30px 0px;
}
@media (min-width: 768px) {
	.awesome-sections {
		background:#fff;
		background-size: cover;
		padding: 100px 0px 100px 0px;
	}
}
/* Team Section End */
/* Technology-section */
 .technology-sec{
    padding: 30px 0px; 
    background-color: #111;
}
.technology-box {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
	justify-content: space-around;
}
.trigger-block {
    background: #FFFFFF;
    padding: 10px 20px;
    border: 5px solid #F89B1C;
    border-radius: 20px;
    display: inline-block;
    outline: 7px solid #fff;
}
.faster-box {
    box-shadow: 0px 10px 30px #ccc;
    border-radius: 20px;
    padding: 20px;
	background: #fff;
}
.high-converting-list li {
    background: url(../images/orange-tick.webp) no-repeat;
    background-position: 0 1px;
    padding-left: 50px;
    margin-bottom: 25px;
    list-style-type: none;
}
.red-clr {
    color: #ed2027;
}
.no-comparison {
    padding: 30px 0px;
    background: #f5f5f5;
}
.mt-md120{
	margin-top: 20px;
}
@media(min-width:768px){
    .technology-sec{
		padding: 100px 0px 100px 0px;
        background:#fff url(../images/technology-bg.webp) no-repeat bottom center; 
        background-size: cover;         
    }
	.trigger-block {
		padding: 10px 40px;
    	border-radius: 100px;
	}
	.faster-box {
		padding: 50px;
	}
	.no-comparison {
		padding: 100px 0px;
	}
	.technology-box {
		text-align: left;
		justify-content: unset;
	}
	.mt-md120{
		margin-top: 120px;
	}
}
/* Technology-Section-End */
/* Letsface Section Start */
.letsface-sec{
    padding: 30px 0px; 
    background:#f5f5f5;
}
.letsface-arrow {
    position: absolute;
    top: 104px;
    z-index: 9;
    left: 40px;
}
.letsface-arrow1{
    position: absolute;
    top: 104px;
    z-index: 9;
    right: 40px;
}
.letsface{
    border-radius: 10px;
    background-color:#f89b1c;
    display:inline-flex;
	align-items: center;
	justify-content: center;
    padding: 13px 20px;
    position: relative;
    z-index: 1;
}
.letsface-box{
    border-radius: 10px;
    background-color:#dce3ed;
    display:inline-flex;
	align-items: center;
    padding: 30px 20px;
    position: relative;
    z-index: 1;
    flex-direction: column;
    
}
@media(min-width:768px){
    .letsface-sec{
        padding: 100px 0px ;
    }
    .letsface{
		margin: 0px 15px;
	}
    .letsface::before{
		content: '';
		position: absolute;
		left: -17px;
		background-color:#f89b1c;
		width: 10px;
		height: 80%;
		z-index: -1;
		border-radius: 10px 0px 0px 10px;
    }
    .letsface::after{
        content: '';
		position: absolute;
		right: -17px;
		background-color:#f89b1c;
		width: 10px;
		height: 80%;
		z-index: -1;
		border-radius: 0px 10px 10px 0px;
    }
    .letsface-box {
        flex-direction: row;
		width: 100%;
    }
}
 /* Letsface Section End */
 /* Profit Business Section */
 .profit-section{
    padding: 30px 0px; 
    background: #fff;
	background-attachment: fixed;    
	background-size: cover;
}
@media(min-width:768px){
    .profit-section{
		padding: 100px 0px;     
    }
}
 /* Profit Business Section End */
 /* Online Business Section */
 .online-section{
	padding: 30px 0px;
    /* background-color: #030814; */
	background: #f5f5f5;
}
@media(min-width:768px){
    .online-section{
		padding: 100px 0px;
		/* background:  url(../images/one-bg.webp) center center no-repeat; */
		background: #f5f5f5;
		background-attachment: fixed;  
    }
}
 /* Online Business Section End */
  /* Story Section */
  .story-section{
    padding: 60px 0px 30px 0px; 
    /* background:  url(https://cdn.oppyo.com/launches/yodrive/special/stats-bg.webp) top center no-repeat; */
	background-color: #fff;
	background-size: cover;
}
.stats-line {
	background-color: rgb(0, 0, 0);
	width: 140px;
	height: 2px;
	display: inline-flex;
	top: -8px;
	position: relative;
  }
@media(min-width:768px){
    .story-section{
		padding: 100px 0px;     
    }
}
 /* Story Section End */

/* Option Section **/
.option-section {
	padding: 30px 0px 0px 0px;
	background-color: #030814;
}
.pink-clr1{color: #ff5555;}
.option-shape {
	background-color: #ff5555;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 15px;
}
.option-white-shape {
	border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 30px 0px;
    position: relative;
}
.converting-shape1 {
    background-color: #ff2323;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    margin-top: 10px;
}
@media (min-width:768px) {
	.option-section {
		padding: 100px 0px;
		background: #030814 url(https://cdn.oppyo.com/launches/vocalic/special/one-bg.webp) center center no-repeat;
		background-attachment: fixed;
	}
	.converting-shape1 {
		border-radius: 65px;
		padding: 15px 40px 15px 40px;
	}
	.option-white-shape {
		border-radius: 20px;
    	background-color: #ececec;
    	padding: 100px 0px 100px 0px;
	}
	.option-shape {
		padding: 15px 30px;
	}
	.option-shape:after {
		content: '';
		display: block;
		width: 100%;
		border: 2px solid #ff5555;
		position: absolute;
		bottom: 0;
	}
	.option-shape {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 0px;
	}
    .f-md-65 {
        font-size: 65px;
    }
    .sep-line {
        border-left: solid 1px #ff5464;
    }
}
/* Option Section End**/
/* Proudly there Section Start */
.proudly-sec {
    background: #00124b  url(../images/proudly-bg.webp) bottom center no-repeat;
    background-size: cover;
    padding:30px 0px 60px 0px;
}
@media (min-width: 768px){
.proudly-sec {   
    padding:100px 0px 380px;
}
}
/* Proudly Section End */
/* Testimonals Section Start */
.testimonial-section {
	background:#f5f5f5 url(../images/testimonial-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
}
.testimonial-section2 {
	background:url(../images/testimonial-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
}
.single-testimonial {
    background-color: #EFF5F9;
    text-align: center;
    position: relative;
    z-index: 2;
    border: 2px solid #00A4FF;
    border-radius: 10px;
    padding: 20px 10px;
}
.single-testimonial p{
	text-align: left !important;
}
.st-img {
    display: inline-block;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
}
.stars a {
    padding-right: 8px;
    color: #FFC635;
}
@media (min-width:768px) {
	.testimonial-section2 {
		padding: 100px 0px;
	}
	.testimonial-section {
		padding:100px 0px 100px 0px;
	}
	.single-testimonial {
		border-radius: 30px;
		padding: 30px;
		height: 100%;
	}
	.st-img {
		margin-top: -110px;
	}
	.st-img img {
		height: 150px;
		width: 150px;
		border-radius: 100%;
	}
}
/* Testimonals Section End */
/* Oppourtinity Section Start */
.alone-bg {
	background-color: #efedf7;
	box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
	border-radius: 10px;
	padding: 10px;
	position: relative;
}
.converting-shape {
	background-color: #0068FF;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 65px;
}
@media (min-width:768px) {
	.alone-bg {
		padding: 25px 30px 25px 10px;
	}
	.alone-bg:after {
		content: "";
		position: absolute;
		width: 87px;
		height: 49px;
		background-image: url(https://cdn.oppyo.com/launches/yodrive/special/arrow-down.webp);
		left: 44%;
		bottom: -49px;
	}
	.converting-shape {
		padding: 15px 40px 15px 40px;
	}
}
/* Oppourtinity Section End */
.potential-sec {
	background: #f4f3f9 url(https://cdn.oppyo.com/launches/yodrive/special/potential-bg.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 0px 100px 0px;
}
.never-ending {
	box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
	background: #ffffff;
	border-radius: 0px;
	padding: 15px 5px;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.never-ending img{
	max-height: 80px;
}
@media (min-width:768px) {
	.potential-sec {
		padding: 100px 0px 100px 0px;
	}
	.never-ending {
		padding: 20px 7px;
	}
}
/*******Proven Section*********/
.provens-sec {
	background: #ffffff;
	padding: 0px 0px 60px 0px;
}
.proven-alone-bg,
.alone-bg1,
.alone-bg2,
.alone-bg5 {
	background-color: #ffffff;
	padding: 15px;
	border: 1px solid #eeeeee;
}
@media (min-width: 768px) {
	.provens-sec {
		padding: 0px 0px 150px 0px;
	}
	.proven-alone-bg {
		padding: 53px 45px;
		background: url(https://cdn.oppyo.com/launches/yodrive/special/proven-text-bg.webp) no-repeat;
		background-size: cover;
		border: none;
	}
	.alone-bg5 {
		padding: 69px 56px;
		background: url(https://cdn.oppyo.com/launches/yodrive/special/proven-text-bg.webp) no-repeat;
		background-size: cover;
		border: none;
	}
	.alone-bg1 {
		padding: 52px 40px;
		background: url(https://cdn.oppyo.com/launches/yodrive/special/proven-text-bg3.webp) no-repeat;
		background-size: cover;
		border: none;
	}
}
.huge-section {
	padding: 30px 0px;
	background: #ffffff;
}
.huge-shape {
	background: #ffffff;
	background-size: cover;
	padding: 20px;
	border-radius: 30px;
}
@media (min-width: 768px) {
	.huge-section {
		padding: 0px 0px 100px 0px;
	}
	.huge-shape {
		padding: 50px;
		border-radius: 30px;
	}
}
img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}
img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-15px);
	}
}
@keyframes mover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-15px);
	}
}
.underline-text {
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}
@media (min-width: 768px){
.underline-text {
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 65px 0px;
    background-size: contain;
}}
.proudly-head {
    background: #0068FF;
    border-radius: 50px;
    padding: 9px 40px;
    width: fit-content;
    font-family: 'Caveat', cursive;
	margin: 0 auto;
}
@media (min-width: 768px){
.proudly-head {
    padding: 15px 60px;
}}
.contact-block {
    padding: 20px;
    position: relative;
    background: linear-gradient(102.18deg, #0A1347 7.04%, #0D2183 108.72%);
    border-radius: 30px;
}
.contact-shape {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(10px);
}
@media (min-width: 768px){
.contact-block {
    padding: 80px;
    background: url(../images/contact-block.webp) no-repeat center center;
    background-size: 100% 100%;
}
.contact-shape {
    padding: 25px 0px;
}}
.presenting-feature {
    padding: 30px 0px;
    background: #ffffff;
}
.feature-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #00132F;
    backdrop-filter: blur(10px);
}
@media (min-width: 768px){
.presenting-feature {
    padding: 0px 0px 0px 0px;
}
.feature-list-block {
    border-radius: 20px;
    padding: 70px 20px;
    margin-top: -280px;
}}
.feature-list-box {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border-bottom: 7px solid #F89B1C;
}
.gap30 {
	--bs-gutter-y: 10px;
}
.feature-list-box:hover{
	-webkit-animation-name: wobble;
    animation-name: wobble;    
    -webkit-animation-duration:          0.8s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;
}
@-webkit-keyframes wobble {
	0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
  }
  @keyframes wobble {
	0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
  }
@media (min-width:768px) {
	.feature-list-box {
		height: 100%;
		padding: 30px;
	}
	.gap30 {
		--bs-gutter-y: 50px;
	}
}

.power-shape {
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
    border-radius: 20px;
    padding: 20px;
}
@media (min-width: 768px){
.power-shape-right {
    position: relative;
}
.power-shape-left {
    position: relative;
}
.power-shape {
    border-radius: 100px;
    padding: 20px;
}
.power-shape-right::after {
    position: absolute;
    content: url(../images/right-half.webp);
    right: -35px;
    bottom: -87px;
}
.power-shape-left::before {
    position: absolute;
    content: url(../images/left-half.webp);
    left: -35px;
    bottom: -87px;
}
}
.hithere {
    border-radius: 20px;
    background-color: #f89b1c;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: relative;
    z-index: 1;
}
@media (min-width: 768px){
.hithere {
	background: url(../images/hithere-bg.png) center center no-repeat;
    background-size: 100% 100%;
    padding: 30px 30px 30px 30px;
}

}
.instant-btn1 a {
    font-size: 20px;
}
.instant-btn1 a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    backdrop-filter: blur(10px);
}