/* Demo Section Start */
.demo-section {
	padding: 30px 0px;
    background: #f5f5f5;
}
@media (min-width: 768px) {
.demo-section {
    padding:100px 0px;
    background: #ffffff  url(../images/demo-bg.webp) no-repeat center center;
    background-size: cover;
}}
/* Demo Section End */
/* Feature 1 Section Start */
.features-headline {
	background: #030f28 url(../images/feature-headline.webp) no-repeat bottom center;        
	background-size:cover;
	padding: 30px 0px;
}
.features-one {
	background:#ffffff;
	padding: 30px 0px;
}
.featuresul li {
    list-style: none;
    background: url(../images/fav.webp) no-repeat;
    background-position: 0 2px;
    padding: 0 0 20px 40px;
	min-height: 30px;
}
.featuresul li:last-child {
    padding-bottom:0px;
}
@media (min-width:768px) {
.features-one,
.features-headline {        
	padding:80px 0px;
    }
}
/* Feature 1 Section End */
/* Feature 5 Section Start */
.features-five {
    background: #fff;
    padding: 30px 0px;
}
@media (min-width:768px) {
.features-five { 
    padding: 100px 0px;
}
}
/* Feature 5 Section End */
/* Feature 7 Section Start */
.features-seven {
    background: #00040b url(../images/play-sale-bg.webp) no-repeat bottom center;        
	background-size:cover;
    padding: 30px 0px 90px 0px;
}
@media (min-width:768px) {
.features-seven {
    padding: 100px 0px;
}
}
/* Feature 7 Section End */
/* Feature 9 Section Start */
.features-nine {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width:768px) {
.features-nine {
    padding: 100px 0px;
}
}
/* Feature 9 Section End */
.amazing-section {
    padding: 30px 0;
    background: #08041d;
}
@media(min-width:768px){
.amazing-section {
    padding: 100px 0;
    background: #fff url(../images/feature-headline.webp) no-repeat;
    background-size: 100% 100%;
}}
.always-sec, .features-four{
    background: #f5f5f5;
    padding: 30px 0px;
}
@media(min-width:768px){
.always-sec, .features-four{
    padding: 100px 0px;
}}
.intuitive-sec{
    background-color: #fff;
    padding: 30px 0px;
}
@media(min-width:768px){
    .intuitive-sec{padding: 100px 0px;}
}
