.container {
    height: unset;
}

.inner-content {
    height: unset;
}

#templateBody {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}


/* BANNER CSS START */

.banner-section {
    background: url(../images/banner-bg.png) no-repeat center;
    background-size: cover;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .banner-section {
        padding: 70px 0px;
    }
}

.banner-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


/* BANNER CSS END */


/* JVBONUS-SECTION START */

.jvbonus-section {
    background: #ebf6fb;
    padding: 30px 0px;
}

.bonus-section-shape {
    padding: 15px;
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.bonus-headline {
    background: #f9c831;
    padding: 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}

.bonus-headline>div {
    color: #000!important;
}

.bonus-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.download-btn a {
    border-radius: 5px;
    background-image: -moz-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -webkit-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -ms-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    line-height: normal;
    color: #ffffff;
    font-weight: 600;
}

.download-btn a:hover {
    background-image: -moz-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
    background-image: -webkit-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
    background-image: -ms-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
    text-decoration: none;
}

@media (min-width: 768px) {
    .jvbonus-section {
        padding: 70px 0px;
    }
    .bonus-section-shape {
        padding: 30px;
    }
    .margin-t-60 {
        margin-top: -60px;
    }
    .download-btn a {
        font-size: 25px;
        padding: 15px 40px;
    }
}


/* JVBONUS-SECTION END */


/* FOOTER CSS */

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.xscenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.xs-text-center,
.xs-text-center1 {
    text-align: center;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}