html {
    scroll-behavior: smooth;
}

body {
	font-family: 'Lexend', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}
.cavet-font{
    font-family: 'Caveat', cursive;
}

.white-clr {
	color: #fff;
}

.black-clr {
	color: #000000;
}

.cyan-clr {
	color: #48FFF4;
}

.blue-clr {
	color: #005AFF;
}

.orange-clr {
	color: #FFA829;
}
.gradient-orange{
    background: #FF9315; 
    background: linear-gradient(90deg, #FF9315 21.66%, #FF4F17 64.49%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.underline {
    border-bottom: 4px solid #FFA829;
    padding-bottom: 5px;
}
.header-section {
    background: #0e0a3b url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 30px 0px;
}
.preheadline {
    display: inline-block;
	padding: 15px;
	background: #04173E;
	backdrop-filter: blur(200px);
	border-radius: 0px 0px 20px 20px;
}
.postheadline {
    padding: 15px;
    display: inline-flex;
    background: rgb(6,10,51);
    background: linear-gradient(90deg, rgba(6,10,51,0) 0%, rgba(6,10,51,1) 48%, rgba(6,10,51,0) 100%);
}
@media(min-width:768px){
    .header-section {
        background: #030331 url(../images/header-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .preheadline {
        padding: 30px 24px;
		display: inline-block;
    }
    .postheadline {
        padding: 20px 25px;
    }}



.header-section-ky .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}


.main-header .list-head li:last-child {
    border-bottom: none;
}
.main-header .list-head li {
    background: url(../images/list-tick.webp) no-repeat;
    padding: 17px 0px 12px 50px;
    background-position: 0px 18px;
    text-align: left;
    border-bottom: solid 1px #091e42;
}

.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/list-tick.webp) no-repeat;
    padding: 8px 0px 8px 30px;
    background-position: 0px 11px;
    text-align: left;
    border-bottom: solid 1px rgb(11, 11, 49);
}
/* Header Section Css End */


/* Step Section Start */
.step-section {
	padding: 30px 0px;
	background: #ffffff;
	
}
.step-box{
	height: 100%;
	border: 5px solid #FFFFFF;
	filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.15));
	border-radius: 30px;
	background:#ffffff url(../images/step-wrap.svg) no-repeat center center;
	background-size: cover;
	text-align: center;
  }
  .step-title{
	padding: 8px 50px;
    color: #ffffff;
    display: inline-block;
	background: #000000;
	border-radius: 0px 0px 20px 20px;
  }
  .step-content{
	background: #2471FF;
	border-radius: 0px 0px 30px 30px;
	padding: 40px 15px 30px 15px;
	position: relative;
	overflow: hidden;
  }
  .step-content::before{
	background: rgba(0, 0, 0, 0.4);
    filter: blur(15px);
    position: absolute;
    z-index: 90;
    content: '';
    top: 0px;
    height: 17px;
    width: 100%;
    left: 0;
    right: 0;
  }
@media (min-width: 768px) {
	.step-section {
		padding: 100px 0px;
		background:#ffffff url(../images/step-section.webp) center center;
		background-size: cover;
	}
	.step-content{
		height: calc(100% - 234px);
	  }

}

/* Step Section End */


ul.features-list {
    margin: 0px;
    padding: 0px;
}
.jobiin-header-section ul.features-list li {
    background: url(../images/list-head.png) no-repeat;
    padding: 0px 0px 25px 40px;
    background-position: 0px 5px;
    list-style: none;
}

/* List Section Start */

.list-section {
	padding:0px 0px 30x 0px;
	background: #eef5ff;
}

ul.features-list {
	margin: 0px;
	padding: 0px;
}

ul.features-list li {
	background: url(../images/bag-icon.webp) no-repeat;
	padding: 0px 0px 25px 40px;
	background-position: 0px 5px;
	list-style: none;
}

ul.features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}

/* .header-list-block {
	border-radius: 20px;
	padding: 20px 0px;
	background-color: #ffffff;
	box-shadow: 0px 0px 23.75px 1.25px rgb(0 0 0 / 20%);
	margin-top: -200px;
} */

.featues-list-block{
	background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 55px, transparent 55px) 0% 0%/60px 60px no-repeat,
	radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 55px, transparent 55px) 100% 0%/60px 60px no-repeat,
	radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 55px, transparent 55px) 0% 100%/60px 60px no-repeat,
	radial-gradient(circle at 0 0, #ffffff 0, #ffffff 55px, transparent 55px) 100% 100%/60px 60px no-repeat,
	linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 120px) no-repeat,
	linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 120px) calc(100% - 10px) no-repeat,
	linear-gradient(#172186 0%, #2a3dff 100%);
	border-radius:0px 0px 60px 60px;
	padding:80px 20px 20px 20px;
	box-sizing: content-box;
	margin-top: -50px;
	position: relative;
	z-index: 999;
}

@media (min-width:768px) {
	.list-section {
		padding: 0px 0px 150px 0px;
    background: #eef5ff url(../images/list-section-bg.webp) no-repeat center bottom;
    background-size: cover;
	}
	.featues-list-block{
		border-radius:0px 0px 60px 60px;
		padding:100px 40px 40px 40px;
		box-sizing: content-box;
		margin-top: -50px;
	}
	.cart{
		position: absolute;
		bottom: 0px;
		right: -100px;
		z-index: 1;
		bottom: 0px;
	}
	.horn{
		position: absolute;
		bottom: 0px;
		left: -100px;
		z-index: 1;
		top:170px;
	}
}

/* List Section End */



/* Proof Section Start */
.proof-section {
	padding: 30px 0px;
	background: #f4f6fd;
}

@media (min-width: 768px) {
	.proof-section {
		padding:100px 0px 150px 0px;
		background:#ffffff url(../images/proof-bg.webp) center bottom no-repeat;
		background-size: cover;
	}
}

/* Proof Section End */


 /* Technology-section */
 .technology-sec{
    padding: 30px 0px; 
    background-color: #14208e;
    
}
@media(min-width:768px){
    .technology-sec{
		padding: 100px 0px 50px 0px;
        background:#fff url(../images/technology-bg.webp) no-repeat bottom center; 
        background-size: cover;         
    }
}
/* Technology-Section-End */
/* Letsface Section Start */
.letsface-sec{
    padding: 30px 0px; 
    background:#fff url(../images/letsface-bg.webp) no-repeat center center; 
    background-size: cover; 
}

.letsface-box{
    border-radius: 10px;
    background-color:#e7e9fa;
    display:inline-flex;
    padding: 30px 20px;
    position: relative;
    z-index: 1;
	flex-direction: row;
	margin-top: 20px;
	gap: 20px;
	text-align: left;
	align-items: center;
    
}
@media(min-width:768px){
    .letsface-sec{
        padding: 0px 0px 100px 0px;
    }
    .letsface-box {
		width: 100%;
    }
}
 /* Letsface Section End */

 /* Old & Boring Content Section Start */
 .old-content-section
 {
	background: #01010e;
	padding: 30px 0px;
 }
 .old-content-box{
	border-radius: 20px;
	background-color: rgb(255, 196, 102);
	display: inline-block;
	padding: 20px;
	position: relative;
}

.old-content-box::after{
	content: '';
	background: url(../images/content-curve.webp) no-repeat right bottom;
	padding: 22px 0;
	display: block;
	position: absolute;
	width: 100%;
	bottom: -44px;
	right: 102px;
}

.old-headline{
	border: 1px solid rgb(22, 22, 88);
	border-radius: 10px;
	background-color: rgba(15, 15, 83, 0.2);
	display: inline-block;
	padding: 15px;  
}
 @media(min-width:768px){
	.old-content-section{
		background: url(../images/old-boring-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding: 100px 0px 180px 0px;
	}
	.old-content-box{padding: 50px;}
 }

 /* Old & Boring Content Section End */

 /* Business Section Start */
.business-section
{
	background: url(../images/business-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.reason-box{
	border: 1px solid rgb(80, 84, 189);
	border-radius: 50px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 29px 0px rgba(4, 4, 17, 0.2);
	display: inline-block; 
	padding: 20px 30px;
  }

  .billion-content{
	border: 1px solid rgb(15, 15, 83);
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	display: inline-block;
	padding: 20px 30px;
  }
@media(min-width:768px){
	.business-section{
		padding: 20px 0px 100px 0px;
	 }
}

 /* Business Section End */

/* Not Alone Section Start */

.wearenot-alone-section {
	background: #ffffff;
	padding: 0px 0px 30px 0px;
}

.alone-bg {
	background-color: #010110;
	box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
	border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	padding: 10px;
	position: relative;
}

.title-shape {
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}
.title-shape:after {
    content: '';
    background: url(../images/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media (min-width:768px) {
	.wearenot-alone-section {
		background: #ffffff url(../images/wearenotalone-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 0px 0px 100px 0px;
	}

	.alone-bg {
		padding: 25px 30px 25px 10px;
	}

	.alone-bg:after {
		content: "";
		position: absolute;
		width: 87px;
		height: 49px;
		background-image: url(../images/arrow-down.webp);
		left: 44%;
		bottom: -49px;
	}

	.dollars-sm-image {
		width: 211px;
		min-width: 211px;
		height: 163px;
		margin-left: -120px !important;
		top: 0px;
		left: 0px;
	}

	.title-shape{padding: 20px 25px;}
}

/* Not Alone Section End */

/* Potential Section Start */

.potential-sec {
	background-color: #e7e9fa;
	padding: 30px 0px ;
}

.list-shape {
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

@media (min-width:768px) {
	.potential-sec {
		background: #e7e9fa url(../images/potential-bg.webp) no-repeat bottom center;
		padding: 100px 0px 50px 0px;
	}
}

/* Potential Section End */



/* Proudly there Section Start */
.proudly-shape {
	display: inline-block;
	padding: 5px 30px 5px 30px;
	position: relative;
	z-index: 1;
	background: #04173E;
	border-radius: 60px;
	align-items: center;
	font-family: 'Caveat', cursive;
	margin-top: -40px;
}

.proudly-sec {
	background: url(../images/proudly-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 60px 0px 30px 0px;
}

.proudly-inner-sec {
	padding: 15px 5px;
	background: rgba(11, 28, 55, 0.4);
	backdrop-filter: blur(5px);
	border-radius: 15px;
	max-width: 95%;
	margin: 0px auto;
}

.proudly-list-bg {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
    padding: 15px;
}

ul.proudly-list {
    margin: 0px;
    padding: 0px;
}
ul.proudly-list li {
    background: url(../images/check.webp) no-repeat;
    padding: 0px 0px 25px 45px;
    background-position: 0px 4px;
    list-style: none;
}

ul.proudly-list li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
	.proudly-sec {
		padding: 150px 0px 100px 0px;
	}

	.proudly-inner-sec {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
	}

	.proudly-shape {
		padding: 10px 90px 10px 90px;
	}
    .proudly-list-bg {
        padding: 30px;
    }
}

@media(min-width:1600px) {
	.proudly-inner-sec {
		max-width: 85%;
	}
}

/* Proudly Section End */


/* Testimonals Section Start */
.testimonial-section {
	padding: 100px 0px;
	background:#eef5ff url(../images/testimonial-bg.webp) no-repeat center center;
	background-size: cover;
}

.testimonial-section2 {
	background:#eef5ff;
	padding: 30px 0px;
}
.testimonials-block-border {
    border: solid 1px #121457;
    position: relative;
    float: left;
    width: 100%;
    margin: 10px 10px 10px 5px;
}
.testimonials-block {
    position: relative;
    background: #fff;
    padding: 30px 20px;
    float: left;
    width: 100%;
    color: #000000;
    margin: 10px 0px 10px -12px;
}
.testimonial-section2 .testimonials-block{
	background: #fff !important;

}
.author-wrap {
    display: flex;
    align-items: center;
}
@media (min-width:768px) {
	.testimonial-section2 {
		padding: 100px 0px;
		background:#eef5ff url(../images/testimonial-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.testimonial-section {
		padding:100px 0px;
	}
	.testimonials-block-border {
		margin: 10px 10px 10px 15px;
	}
}

/* Testimonals Section End */

.single-testimonial {
	background-color: #ede8f9;
	text-align: center;
	border-radius: 30px;	
	position: relative;
	z-index: 2;
}
.single-testimonial p {
	color: #101012;
	font-size: 17px;
	line-height: 28px;
	padding: 50px 30px 30px 30px;
	padding-bottom: 30px;
	position: relative;
	z-index: 3;
}
.single-testimonial::before {
	content: "";
	position: absolute;
	left: -5px;
	top: -35px;
	background: url(https://cdn.oppyo.com/launches/webpull/special/quote.png) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	transform: rotate(180deg);
	background-position: 34px 15px;
}
.single-testimonial::after {
	content: "";
	position: absolute;
	right: -5px;
	bottom: -34px;
	background: url(https://cdn.oppyo.com/launches/webpull/special/quote.png) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	background-position: 34px 19px;
}
.client-info {
	display: inline-flex;
	gap: 15px;
	align-items: center;
	padding-bottom: 30px;
}
.client-details{
	color: #682af1;
	font-size: 20px;
	font-weight: 600;
}
@media(min-width:768px){
	.single-testimonial p {
		padding: 50px;

	}
	.single-testimonial::before {
		left: -35px;
		top: -35px;
	}
	.single-testimonial::after {
		right: -35px;
		bottom: -34px;
	}
}
/* Testimonals Section End */

/* Viddeyo Header Section Css Start */
.viddeyo-header-section {
	background: #6e44ff;
	padding: 30px 0px 230px 0px;
}
.viddeyo-preheadline {
    border-style: solid;
    border-width: 6px;
    border-color: #603ddb;
    background: #08041e;
    display: inline-block;
    border-radius: 65px;
    padding: 10px 35px;
}
span.highlight-viddeyo {
    border-bottom: solid 4px #fc6dab;
}

@media (min-width:768px) {
	.viddeyo-header-section {
		background: #6e44ff url(../images/header-bg-viddeyo.webp);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 40px 0px 280px 0px;
	}
    .viddeyo-header-section .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
    .viddeyo-header-section .calendar-wrap {
        border-radius: 15px;
        background-color: rgb(240, 236, 255);
        padding: 10px;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    .viddeyo-header-section .calendar-wrap:before {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve1.webp) no-repeat;
        position: absolute;
        z-index: 1;
        top: -14px;
        left: -18px;
        background-size: contain;
        width: 161px;
        height: 121px;
        z-index: -1;
    }
    .viddeyo-header-section .calendar-wrap-inline {
        border-width: 1px;
        border-color: rgb(11, 11, 49);
        border-style: solid;
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        color: #08041e;
    }
    .viddeyo-header-section .calendar-wrap:after {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve2.webp) no-repeat;
        position: absolute;
        z-index: 1;
        right: -18px;
        bottom: -10px;
        background-size: contain;
        width: 282px;
        height: 38px;
        z-index: -1;
    }
    .viddeyo-header-section .list-head {
        list-style: none;
    }
    .viddeyo-header-section  .list-head li:first-child {
        padding-top: 0px;
    }
    .viddeyo-header-section  .list-head li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/list-tick.webp) no-repeat;
        padding: 8px 0px 8px 30px;
        background-position: 0px 11px;
        text-align: left;
        border-bottom: solid 1px rgb(11, 11, 49);
    }
}
/* Header Section Css End */
.viddeyo-second-section {
	padding:0px 0px 30px 0px;
}
ul.viddeyo-features-list {
	margin:0px;
	padding:0px;
}
ul.viddeyo-features-list li {
	background: url(../images/green-tick.webp) no-repeat;
	padding: 0px 0px 20px 45px;
	background-position: 0px 3px;
	list-style:none;
}
ul.viddeyo-features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}
.viddeyo-header-list-block {
	border-radius: 20px;
	padding: 40px 20px;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	margin-top: -200px;
	background:url(https://cdn.oppyo.com/launches/viddeyo/jv/awesome-shape.png) no-repeat center center;
	background-size:cover;
	
}
/* Viddeyo Header Section Css End */

/* Affiliate Ninja Pro Header Section Css Start */
.AffiliateNinjaPro-banner{
   background:url(../images/affiliateninjapro-bg.webp) #0570fb no-repeat; 
   background-size:cover;
   width:100%;
   background-position:center;
   }

@media(min-width:240px){
	.AffiliateNinjaPro-banner{padding:3% 2% 6%;}
}
@media(min-width:768px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
	.banner-block{padding:1% 3% 3%;}
}
@media(min-width:992px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
}
@media(min-width:1200px){
	.AffiliateNinjaPro-banner{padding:2% 2% 6%;}
}
@media(min-width:1500px){
	.AffiliateNinjaPro-banner{padding:6% 2% 7%;}
	.banner-block{padding:2% 3% 3%;}
}
.lightcolor {
    color: #ffea00;
}

/* Affiliate Ninja Pro Header Section Css End */

@media(min-width:768px){
.px-md80{padding-left: 80px!important; padding-right: 80px !important;}
}

/* Jobin Header Section Css Start */

.jobiin-header-section {
    background: #141516 url(../images/header-bg-jobin.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 230px 0px;
    position: relative;
}
.jobiin-header-section .orange-clr {
    color: #ffb80f;
}
@media(min-width:768px) {
    .jobiin-header-section {
        padding: 40px 0px 250px 0px;
    }
}

.jobiin-header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.jobiin-header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.jobiin-header-section a.affiliate-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    line-height: normal;
    color: #000000;
    font-weight: 600;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
}

.jobiin-header-section a.affiliate-link-btn:hover {
    transform: scale(1.05);
    transition: all .3s ease;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #c4a300;
    }
    40% {
        box-shadow: 0 0 20px #c4a300;
    }
    60% {
        box-shadow: 0 0 20px #c4a300;
    }
    100% {
        box-shadow: 0 0 -10px #c4a300;
    }
}

@media(min-width:768px) {
    .jobiin-header-section a.affiliate-link-btn {
        padding: 10px 20px;
        font-size: 22px;
    }
}

.jobiin-header-section .headline-highlight {
    color: #ffb80f;
}

@media (min-width: 768px) {
    .jobiin-header-section .headline-highlight {
        background: url(https://cdn.oppyo.com/launches/jobiin/special/heading-shape.svg) no-repeat center center;
        background-size: cover;
        display: inline-block;
        color: #000000;
        padding: 8px 53px 8px 26px;
    }
}


.jobiin-second-section {
    padding: 0px 0px 30px 0px;
}

@media(min-width:768px) {
    .jobiin-second-section {
        padding: 0px 0px 100px 0px;
    }
}

.z-index-9 {
    z-index: 9;
}

.jobiin-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin-top: -200px;
    background: #ffffff;
}

@media(min-width:768px) {
    .jobiin-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    }
}

.jobiin-cta-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 5px;
    color: #000000;
    font-weight: 800;
    font-size: 20px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
    transition: all 0.5s;
}

.jobiin-cta-btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

@media(min-width:768px) {
    .jobiin-cta-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
        display: inline-block;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
.viddeyo-header-section .border-video {
    border-radius: 20px;
}
.viddeyo-header-section .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.calendar-wrap {
    border-radius: 15px;
    background-color: rgba(11, 28, 55, 0.5);
    padding: 12px 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}



/* Writer-Header-Section  Css Start */
.writer-header-section {
	background: url(../images/writerarc-header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 30px 0px;
}

.writer-header-section .blue-clr1 {
    color: #b8b8f8;
}

.writer-header-section .post-headline {
	border: 1px solid rgb(22, 22, 88);
	border-radius: 10px;
	background-color: rgb(3, 3, 35);
	padding: 15px;	  
	display: inline-block;
}

.writer-header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.writer-header-section ul.leader-ul li {
	display: inline-flex;
	padding: 0px 5px;
}

.writer-header-section ul.leader-ul li a {
	color: #ffffff;
}

.writer-header-section .affiliate-link-btn a {
	background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 15px;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #ffffff !important;
	font-weight: 600;
	position: relative;
    overflow: hidden;
}

.writer-header-section .affiliate-link-btn a::before {
    position: absolute;
    width: 100%;
    height: 34px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}

.writer-header-section .list-head {
	list-style: none;
}

.writer-header-section .list-head li {
	background: url(../images/writerarc-correct-tick.webp) no-repeat;
    padding: 0px 0px 10px 50px;
    background-position: 0px 5px;
    text-align: left;
}

.writer-header-section .list-head li:last-child {
	border-bottom: none;
}

@media (min-width:768px) {
	.writer-header-section {		
		padding: 40px 0px 100px 0px;
	}

	.writer-header-section ul.leader-ul {
		margin-top: 12px;
	}

	.writer-header-section .affiliate-link-btn a {
		padding: 12px 25px;
		font-size: 20px;
	}

	.writer-header-section .affiliate-link-btn a:hover {
		transition: all .3s ease;
    	background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
	}
	.writer-header-section .min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}
	.writer-header-section .min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}
}

/*WriterArc Header Section Css End */

.maxdrive-logo{padding: 30px 0px;}
.maxdrive-header-section{    
	background: #000;
    padding: 30px 15px;
}
.maxdrive-header-section .game-changer {
    background: #ff3c00;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    max-width: 248px;
}
.maxdrive-header-section .heading-co-bg {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgb(19 22 38 / 20%);
}
.maxdrive-header-section .list-head li::nth-child(2){ background-color: pink;}

@media (min-width: 768px){
	.maxdrive-header-section{    
		background: #ffffff url(../images/maxdrive-header-bg.png) no-repeat center center;
		background-size: cover;
		padding: 55px 0px 100px;
	}
	.maxdrive-header-section .heading-co-bg {
		position: relative;
		padding: 25px 25px 20px;
		transform: skew(-7deg);
	}
}

.agencies-header-section{
	background: #3c0f97;
    padding: 30px 0px;
}

.agencies-header-section .header-bordered-list li {
    list-style: none;
    background: url(../images/agencies-list-icon-image11.png) no-repeat;
    background-position: 0 7px;
    padding: 0 0 12px 25px;
    border-bottom: 1px solid #6923f5;
    margin-top: 12px;
}
.agencies-header-section .highlihgt-heading {
    background: #400ba9;
    padding: 15px 12px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: inline-block;
}
.agencies-header-section .game-changer {
    background: #84f845;
    padding: 12px 30px;
    display: inline-block;
}
.agencies-header-section .green-clr {
    color: #84f845;
}

@media(min-width:768px){
	.agencies-header-section{
		background: #ffffff url(../images/agencies-header-bg.png) no-repeat center bottom;
		background-size: cover;
		padding: 50px 0px 160px;
	}
	.agencies-header-section .game-changer {
		padding: 13px 43px;
		transform: skew(20deg);
		max-width: 340px;
	}
	.agencies-header-section .highlihgt-heading {
		padding: 40px 20px 50px;
		background: url(../images/agencies-heading-bg.png) no-repeat center center;
		box-shadow: none;
		background-size: 100% 100%;
		border: 0px;
		border-radius: 0px;
	}
	.agencies-header-section .text-roated {
		transform: skew(-20deg);
	}
	.agencies-header-section .min-sm-video-width-left {
		width: 61%;
	}
	.agencies-header-section .min-sm-video-width-right {
		width: 39%;
	}
}

.analyzer-sec {
	padding: 30px 0px;
	background: #ffffff;
}

.analyzer-sec {
	background: url(../images/demo-bg.webp) no-repeat center center;
	background-size: cover;
}

.analyzer-sec #oppyo-ada-compliance-checker {
	background: #165FCF url(../images/web-form-bg.webp) no-repeat center center !important;
	background-size: cover !important;
	padding: 30px 30px !important;
}

.analyzer-sec #oppyo_website_url {
	height: 50px !important;
	font-weight: 500 !important;
	font-size: 20px !important;
	border-radius: 100px !important;
}

.analyzer-sec #oppyo_checker_btn {
	background-color: #FFA829 !important;
	font-weight: 600 !important;
	font-size: 20px !important;
	border-radius: 100px !important;
}

@media(min-width:768px) {
	.analyzer-sec {
		padding: 50px 0px 100px 0px;
		background: url(../images/analyzer-sec-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.analyzer-sec #oppyo-ada-compliance-checker {
		padding: 30px 110px !important;
		border-radius: 12px;
		text-align: center;
		max-width: initial !important;
		width: 100%;
		margin: 0 auto;
	}
}

/* Did You Know Section Start */
.didyouknow-sec {
	padding: 30px 0px;
	background: #ffffff;
}

.youknow-block {
	background: #FFC01F;
	border-radius: 15px;
	padding: 15px;
	display: inline-block;
}

@media(min-width:768px) {
	.didyouknow-sec {
		padding: 100px 0px 180px 0px;
		background:#F4F6FD url(../images/didyouknow-sec.webp) no-repeat center bottom;
		background-size: cover;
	}

	.youknow-block {
		padding: 24px 88px 45px 88px;
		background: url(../images/know-shape.webp) no-repeat center center;
		background-size: contain;
	}
}

/* Did You Know Section End */

/* Compliance Section Start */
.compliance-sec {
	padding: 30px 0px;
	background: #F4F6FD;
}

.compliance-block {
	background: #2471FF;
	border-radius: 22px 22px 20px 20px;
	box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.06);
}

.compliance-title {
	background: #FFFFFF;
	border-radius: 20px 20px 0px 0px;
	padding: 20px;
}

.compliance-image {
	padding: 20px;
}

@media(min-width:768px) {
	.compliance-sec {
		padding: 50px 0px 100px 0px;
		background: url(../images/compliance-sec-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.compliance-title {
		padding: 40px 20px;
	}

	.compliance-image {
		padding: 40px 20px;
	}
}

/* Compliance Section End */

/* Stats Section Start */
.stats-sec {
	padding: 30px 0px;
}

.stats-wrap {
	padding: 30px 0px;
	max-width: 95%;
	margin: 0px auto;
	border-radius: 15px;
	background: #0B1C37;
}

@media(min-width:768px) {
	.stats-sec {
		padding: 100px 0px 0px 0px;
	}

	.stats-wrap {
		padding: 100px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		background: url(../images/stats-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
}

@media(min-width:1600px) {
	.stats-wrap {
		max-width: 85%;
	}
}

/* Stats Section End */

/* Giants  ance Section Start */
.giants-sec {
	padding: 30px 0px;
	background: #fff;
}

.underline {
	border-bottom: 4px solid #FFA829;
	padding-bottom: 5px;
}

@media(min-width:768px) {
	.giants-sec {
		padding: 100px 0px;
	}
}

/* Giants  Section End */