html {
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #031528;
    font-size: 14px;
}

.caveat{
    font-family: 'Caveat', cursive;
}

:root {
    --white-clr: #ffffff;
    --black-clr: #031526;
    --neon-clr1:#00CBE3;
    --neon-clr:#0AA3FE;
    --red-clr:#ff362d;
    --my-gradient:linear-gradient(90deg, #CC18C5 0%, #01E2FE 100%);
    --blue-bg1:#0A071E;
    --blue-bg2:#020516;
    --blue-bg3:#1a0b4c;
    --blue-bg4:#020210;
    --blue-bg5:#350986;
    --blue-bg6:#0E0539;
    --blue-bg7:#10001f;
    --blue-bg8:#2e0d8c;
    --blue-bg9:#13002F;
    --blue-bg10:#350067;
    --blue-bg11:#0e0530;
    --blue-bg12:#200169;
    --my-gradient2:linear-gradient(to right, #a812af 0%, #12a4d6 100%);
    --blue-bg13:#06061C;
    --blue-bg14:#06061c;
    --blue-bg15:#2e067e;
    --blue-bg16:#05061d;
    --blue-bg17:#1d0347;
    --blue-bg18:#030515;
    --blue-bg19:#020411;
    --blue-bg20:#060623;
    --blue-bg21:#031332;
    --blue-bg22:#070923;
    --blue-bg23:#080334;
    --blue-bg24:#080334;
}
.white-clr,a.white-clr {color: var(--white-clr);}
.black-clr{color: var(--black-clr);}
.red-clr{color: var(--red-clr);}
.neon-clr{color: var(--neon-clr);}
.neon-clr{color: var(--neon-clr1);}
.text-clr1{color: var(--white-clr);}
.neon-gradient {
    background: linear-gradient(180deg, #28DCFB 0%, #0294FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sec-pd{
    padding-top: 30px;
    padding-bottom: 30px;
}
.gap30 {
    --bs-gutter-y: 30px;
}
@media (min-width:768px){
    .sec-md-pd{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .gap-md-50 {
        --bs-gutter-x: 50px;
        --bs-gutter-y: 50px;
    }

}


.header-section {
    background: var(--blue-bg1);
    position: relative;
}
.step-sec {
    background: var(--blue-bg2);
}
.cta-btn {
    background: var(--blue-bg3);
}
.list-sec {
    padding: 30px 0px;
    background: var(--blue-bg4);
}
.watch-sec {
    padding: 30px 0px;
    background: var(--blue-bg5);
}
.specialized-sec {
    padding: 30px 0px;
    background: var(--blue-bg6);
}
.testimonial-sec {
    background: var(--blue-bg7);
}
.profit-sec {
    padding: 30px 0px;
    background: var(--blue-bg8);
}
.multifunctional-atomated-sec{
    background: var(--blue-bg9);
    position: relative;
}
.business-ai {
    background: var(--blue-bg10);
}
.save-dollars {
    background: var(--blue-bg11);
}
.zero-sec {
    padding: 30px 0px;
    position: relative;
    background: var(--blue-bg12);
}
.proudly-sec {
    padding: 30px 0px;
    background-image: linear-gradient(180deg, #05071A 0%, #1E0045 100%);
}
.step-section {
    padding: 100px 0px 130px 0px;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/step-section.webp) center bottom;
    background-size: cover;
    background-attachment: fixed;
}
.watch-sec {
    padding: 30px 0px;
    background: var(--blue-bg5);
}
.testimonial-sec {
    background: var(--blue-bg7);
}
.predefined-sec {
    background: var(--blue-bg13);
}
.new-task-sec {
    padding: 30px 0px;
    background: var(--blue-bg14);
}
.niche-sec {
    background: var(--blue-bg15);
}
.access-sec {
    background: var(--blue-bg16);
}
.comp-table-sec {
    background: var(--blue-bg17);
}
.hands-free-sec {
    background: var(--blue-bg18);
}
.finally-remove-sec {
    background: var(--blue-bg19);
}
.interaction-sec {
    padding: 30px 0px;
    background: var(--blue-bg20);
}
.unlimited-possibilities-sec {
    padding: 30px 0px;
    background: var(--blue-bg21);
}
.benifit-section {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/benefit-bg.webp) no-repeat center center;
    background-size: cover;
}
.upgrade-section {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/upgrade-section.webp) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.automation-section {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/automation-bg.webp) no-repeat center bottom;
    background-size: cover;
}
.thats-all-section {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/not-all-bg.webp) center center no-repeat;
    background-size: cover;
}
.service-section {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/services-bg.webp) no-repeat center bottom;
    background-size: cover;
}
.blue-section {
    background: #0D0238 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/blue-section.png) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.bonus-sec {
    background: var(--blue-bg22);
}
.table-section {
    background: var(--blue-bg4);
}
.clock-sec {
    padding: 30px 0px;
    background: var(--black-clr);
}
.money-back-sec {
    background: var(--blue-bg23);
}
.white-sec {
    background: var(--blue-bg24);
}
footer {
    background: rgba(5, 7, 26, 1);
  
}
/* Section style css */
@media (min-width:768px){
    .header-section {
        padding: 40px 0px 100px 0px;
        background: var(--blue-bg2) url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .step-sec {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/step-sec-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .cta-btn {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/cta-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .list-sec {
        padding: 0px 0px 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/list-sec-bg.webp) no-repeat center center;
        background-size: cover;
    }   
    .watch-sec {
        padding: 100px 0px 220px;
        background: #030515 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/watch-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .specialized-sec {
        padding: 100px 0px 220px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/specialized-sec-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .testimonial-sec {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/testimonial-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        margin-top: -10%;
    }
    .profit-sec {
        padding: 100px 0px 150px 0px;
        background: #0d032c url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/profit-sec-bg.webp) no-repeat bottom center;
        background-size: cover;
    }
    .multifunctional-atomated-sec{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/multifunctional-atomated-sec-bg.webp) no-repeat center center;
        background-size: 100%;
        background-attachment: fixed;
    }
    .business-ai {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/business-ai-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .save-dollars {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/save-dollars-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .zero-sec {
        padding: 100px 0px 0px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/zero-sec-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .proudly-sec {
        padding: 111px 0px;
        background: #03091b url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/proudly-bg.webp) bottom center no-repeat;
        background-size: cover;
    }
    .step-section {
        padding: 100px 0px 130px 0px;
    }
    .watch-sec {
        padding: 100px 0px 220px;
        background: #030515 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/watch-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .testimonial-sec {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/testimonial-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        margin-top: -10%;
    }
    .predefined-sec {
        background: #030211 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/predefined-sec-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .new-task-sec {
        padding: 120px 0px 100px 0px;
        background: #030212 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/new-task-bg.webp) no-repeat top center;
        background-size: cover;
    }
    .niche-sec {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/niche-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .access-sec {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/access-sec-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .comp-table-sec {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/comp-table-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .hands-free-sec {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/hands-free-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .finally-remove-sec {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/finally-remove-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .interaction-sec {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/intersection-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px 220px 0px;
    }
    .unlimited-possibilities-sec {
        padding: 0px 0px 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/unlimited-possibility-sec.webp) no-repeat center center;
        background-size: cover;
    }
    .bonus-sec {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/bonus-sec-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .table-section {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/table-sec-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .clock-sec {
        padding: 100px 0px 150px 0px;
        background: #080334 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/clock-ticking-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
}





@media (max-width:767px){
    .mainheadline:before {
        content: 'First-To-Market';
        background: var(--my-gradient2);
        padding: 5px 10px;
        left: 12px;
        z-index: 99;
        top: 1px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        position: absolute;
        border-radius: 18px 0 0 0;
    }
    .mainheadline > div {
        background-color: #150a41;
        padding: 50px 10px 15px;
        border-radius: 20px;
    }
}

.pre-heading {
    display: inline-block;
    border-radius: 40px;
    border: double 3px transparent;
    background-image: linear-gradient(#05071A,#05071A), linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.pre-heading-content{padding: 10px 25px;}
.mainheadline {
    display: inline-block;
    border-radius: 40px;
    background-image: var(--my-gradient2);
    padding: 1px;
    border-radius: 18px;
}
.bx-wrapper {
	border: 0px !important;
	background:transparent !important;
	box-shadow:none !important;
	padding: 0 !important;
	margin: 0 !important;	
	position:relative;
    max-width: auto !important;
	
}
.bx-viewport{position:relative !important;}
.bxslider {
  background:transparent !important;
  /* color: #fff; */
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0px !important;
  font-weight:600;
  position:relative;
}
.bxslider li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
	min-height:76px;
	line-height:32px;
	text-align:left;
    
}

.bxslider li .text{margin-left:15px;}
.text-clr1,.text-clr2,.text-clr3,.text-clr4{color:#fff;}
.slider-wall {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/typing-bg.webp) no-repeat center center;
    background-size: 100% 100%;
}
.list-head {
	list-style: none;
}
.list-head li {
	background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-tick.webp) no-repeat;
	padding: 15px 0px 15px 35px;
	background-position: 0px 21px;
	text-align: left;
	border-bottom: solid 1px rgba(255, 255, 255, 0.10);
}
.list-head li:last-child {
	border-bottom: none;
}

.step-sec-headline {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/step-sec-headline-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 5px 30px;
    display: inline-block;
}
.step-wall {
    display: inline-block;
    border-radius: 20px;
    border: double 2px transparent;
    background-image: linear-gradient(#210068,#210068), var(--my-gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
    height: 100%;
}
.step-wall-inner {
    padding: 20px;
}
.step-heading {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/step-head-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 8px 30px 24px 30px;
    display: inline-block;
    position: relative;
    top: 0px;
    left: -38px;
}
.theme-btn {
    border-radius: 15px;
    background: linear-gradient(90deg, #CE18C5 -0.01%, #0085FF 100.47%);
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
.list-sec-wall {
    display: inline-block;
    border-radius: 0px 0px 20px 20px;
    border: double 2px transparent;
    background-image: linear-gradient(#040F27,#040F27), var(--my-gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
    border-top: 0px;
}
.list-head1 {
    list-style: none;
}
.list-head1 li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-white-tick.webp) no-repeat;
    padding: 15px 0px 15px 35px;
    background-position: 0px 21px;
    text-align: left;
    border-bottom: solid 1px rgba(0, 0, 0, 0.50);
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.bussiness-head {
    background-image: linear-gradient(270deg, rgba(47, 20, 72, 0.00) 0%, #4C098C 50.72%, rgba(47, 20, 72, 0.00) 100%);
    padding: 10px 0px;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.multifunctional-atomated-wall{
    border-radius: 20px;
    border: double 2px transparent;
    background-image: linear-gradient(#fff,#fff), var(--my-gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.specialized-head {
    border: 2px solid rgba(255, 255, 255, 0.20);
    padding: 10px 20px;
}
.specialized-wall {
    background-color: #F1F1F1;
    position: relative;
    z-index: 2;
    padding: 20px 10px;
    border-radius: 20px;
}
.specialized-img {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.specialized-list {
    list-style: none;
}
.specialized-list li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-white-tick.webp) no-repeat;
    padding: 10px 0px 10px 35px;
    background-position: 0px 15px;
    text-align: left;
}
.mt-md140 {
    margin-top: 20px;
}
.multifunctional-atomated-wall {
    border-radius: 20px;
    border: double 2px transparent;
    background-image: linear-gradient(#fff,#fff), var(--my-gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.multifunctional-atomated-inner {
    padding: 10px 25px;
}
.dollars-head {
    border: 1px solid #CE18C5;
    padding: 20px;
    display: inline-block;
    position: relative;
    background: #fff;
}
.save-wall {
    padding: 20px;
    background: #fff;
}
.save-list {
    border-radius: 10px;
    background: #FFE7E4;
    padding: 20px 30px;
}
.zero-head {
    border: 2px solid rgba(255, 255, 255, 0.20);
    padding: 10px 20px;
}
.proudly-head {
    display: inline-block;
    background-image: var(--my-gradient2);
    padding: 10px 20px;
}
.steps-shape {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/step-shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 12px 40px;
    display: inline-block;
}
.faster-box {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    position: relative;
}
.high-converting-list li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/orange-tick.webp) no-repeat;
    background-position: 0 1px;
    padding-left: 50px;
    margin-bottom: 25px;
    list-style-type: none;
}
.new-task-wall {
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(89deg, #23245C 0.43%, rgba(35, 36, 92, 0.00) 99.55%);
}
.new-task-wall1 {
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(267deg, #23245C 0.43%, rgba(35, 36, 92, 0.00) 99.55%);
}
.hand-free-head {
    border: 2px solid rgba(255, 255, 255, 0.20);
    padding: 10px 20px;
    display: inline-block;
}
.final-wall {
    border-radius: 15px;
    border: 2px solid var(--Red, #FF361D);
    background: #1D1D46;
}
.final-img {
    position: relative;
}
.final-content {
    padding: 20px;
}
.final-img::before {
    position: absolute;
    top: 24px;
    left: -5px;
    content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/finally-remove.webp);
}
.interaction-box {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/interaction-wall-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 50px 30px;
    position: relative;
    z-index: 2;
}
.interaction-img {
    text-align: center;
}
.unlimited-head {
    border: 2px solid #16BAFD;
    padding: 10px 20px;
}
.mt-md180 {
    margin-top: 20px;
}
.without-bg {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/without-bg.webp) no-repeat;
    padding: 30px 30px;
    background-size: 100% 100%;
}
.without-shape {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/without-shape.webp) no-repeat;
    padding: 28px 15px;
    background-size: 100% 100%;
    display: inline-block;
}
.without-list {
    padding: 0;
}
.without-list li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/thumbs-down.webp) no-repeat;
    padding: 10px 10px 10px 42px;
    background-position: 0px 10px;
    text-align: left;
    list-style: none;
}
.with-bg {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/with-bg.webp) no-repeat;
    padding: 30px 30px;
    background-size: 100% 100%;
    position: relative;
}
.with-shape {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/with-shape.webp) no-repeat;
    padding: 28px 32px;
    background-size: 100% 100%;
    display: inline-block;
}
.with-list {
    padding: 0;
}
.with-list li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/thumbs-up.webp) no-repeat;
    padding: 10px 10px 10px 42px;
    background-position: 0px 10px;
    text-align: left;
    list-style: none;
}
.cta-btn1 {
    border-radius: 20px;
    background-image: linear-gradient(90deg, #CC18C5 0%, #01E2FE 100%);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.feature-shape {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/feature-shape.webp) no-repeat;
    padding: 10px 30px;
    background-size: 100% 100%;
    display: inline-block;
}
.automation-section {
    padding: 30px 0px;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/automation-bg.webp) no-repeat center bottom;
    background-size: cover;
}
.list-head3 li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-white-tick.webp) no-repeat;
    padding: 10px 0px 10px 35px;
    background-position: 0px 15px;
    text-align: left;
    list-style: none;
}
.silver-plate {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/frame.webp) center center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 30px;
}
.feature-list1 {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border-bottom: 7px solid rgba(110, 51, 255, 0.30);
}
@-webkit-keyframes wobble {
	0% { transform: rotate(0); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    45% { transform: rotate(4deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(2deg); }
    85% { transform: rotate(-2deg); }
    92% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
}
.feature-list1:hover {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: 50% 100%;
}
.bonus-section-shape {
    position: relative;
    background: #0f1c57;
    border: solid 1px #e8ebff;
    border-radius: 10px;
    padding: 20px;
}
.bonus-headline {
    padding: 6px 85px 6px 85px;
    display: inline-block;
    text-align: center;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/bonus-head.webp) no-repeat center center;
    background-size: 100% 100%;
}
.margin-t-44 {
    margin-top: -29px;
}
.bonus-section-shape1 {
    position: relative;
    background: #0f1c57;
    border: solid 1px #e8ebff;
    border-radius: 10px;
    padding: 20px;
}
.table-wrap {
    width: 100%;
    float: left;
    overflow: hidden;
    border-width: 1px;
    border-color: rgb(216, 216, 225);
    border-style: solid;
    border-radius: 30px;
    background-color: #fff;
}
.table-head {
    padding: 50px 30px 30px 30px;
}
.table-list li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    background-image: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-white-tick.webp), url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/table-sep-line.webp);
    background-position: 20px 20px, bottom center;
    background-repeat: no-repeat, no-repeat;
}
.table-list li:nth-child(even) {
    background-color: #fff;
}
.table-list li.headline {
    background: #1c4584 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.table-list li:nth-child(odd) {
    background-color: #f1f1f1;
}
.table-list li:nth-child(even) {
    background-color: #fff;
}
.table-wrap1 {
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 40px;
    background-color: #030b22;
    box-shadow: 0px 0px 28px 7px rgba(0, 0, 0, 0.2);
}
.table-head1 {
    padding: 50px 30px 30px 30px;
    text-align: center;
}
li.headline {
    background: rgb(9, 20, 120) !important;
    background: -moz-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    background: -webkit-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    background: linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1) !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}
.table-list1 li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
    background-image: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-white-tick.webp), url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/table-sep-line1.webp);
    background-position: 20px 20px, bottom center;
    background-repeat: no-repeat, no-repeat;
}
.table-list1 li:nth-child(odd) {
    background-color: #f1f1f1;
}
.table-list1 li:nth-child(even) {
    background-color: #ffffff;
}
.money-head {
    background-image: linear-gradient(270deg, rgba(33, 48, 134, 0.00) 0%, #213086 50.72%, rgba(33, 48, 134, 0.00) 100%);
    padding: 10px 30px;
}
.contact-block {
    padding: 20px;
    position: relative;
    background: linear-gradient(102.18deg, #0A1347 7.04%, #0D2183 108.72%);
    border-radius: 30px;
}
.contact-shape {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(10px);
}
.faq-list {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 25px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}
@media (min-width:768px){
    .mainheadline {
        padding: 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 75px 12px 50px 12px;
    }
    .mainheadline:before {
        position: absolute;
        content: 'First-To-Market';
        padding: 0px 40px;
        left: 57px;
        z-index: 99;
        top: 17px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        position: absolute;
    }
    .mainheadline > div {
        background-color: transparent;
        padding: 15px;
        border-radius: 20px;
    }
    .mavas-desktop {
        white-space: nowrap !important;
    }
    .bxslider li {
        justify-content: start;
        min-width: 495.34px !important;
        float: left !important;
        width: auto !important;
    }
    .theme-btn {
        padding: 30px 70px;
    }
    .list-sec-wall-inner {
        padding: 35px 30px;
    }
    .specialized-head {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/specialized-border.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px;
        border: 0px;
    }
    .specialized-wall {
        border-radius: 0px;
        padding: 0px 20px 30px 20px;
        height: 100%;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/specialized-wall-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .specialized-img {
        display: inline-block;
        margin-top: -90px;
    }
    .mt-md140 {
        margin-top: 140px;
    }
    .multifunctional-atomated-inner {
        padding: 50px 30px;
    }
    .dollars-head {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/dollars-head-design.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 20px 60px;
        display: inline-block;
        border: 0px;
    }
    .dollars-head::before {
        content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/money.webp);
        position: absolute;
        top: 0;
        right: 0;
    }
    .save-wall {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/save-wall-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 50px 50px 65px 50px;
    }
    .save-list {
        min-height: 136px;
    }
    .zero-head {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/zero-head.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px;
        border: 0px;
    }
    .ele2 {
        position: absolute;
        top: 580px;
        left: -100px;
        z-index: -1;
        opacity: 0.6;
    }
    .ele3 {
        position: absolute;
        top: 360px;
        right: 0px;
        z-index: -1;
        opacity: 0.6;
    }
    .proudly-head {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/presenting-head.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 13px 40px;
    }
    .faster-box {
        padding: 50px;
    }
    .new-task-wall,.new-task-wall1 {
        padding: 30px;
    }
    .niche-head {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/niche-head.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 79px;
        display: inline-block;
    }
    .hand-free-head {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/hands-free-head.webp) no-repeat center center;
        background-size: 100% 100%;
        border: none;
        padding: 22px 60px;
    }
    .final-wall {
        height: 100%;
    }
    .interaction-img {
        margin-top: -150px;
    }
    .unlimited-head {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/unlimited-head.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 79px;
        display: inline-block;
        border: 0px;
    }
    .mt-md180 {
        margin-top: 180px;
    }
    .benifit-heading {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/benefit-heading.webp) no-repeat;
        background-size: cover;
        padding: 37px 100px;
    }
    .without-list li {
        padding: 10px 10px 10px 65px;
        background-position: 20px 15px;
    }
    .with-shape {
        padding: 28px 40px;
    }
    .with-list li {
        padding: 10px 10px 10px 65px;
        background-position: 20px 15px;
    }
    .cta-btn1 {
        position: relative;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/cta-bg1.webp) no-repeat center center;
        background-size: 100% 100%;
        box-shadow: none;
        padding: 50px;
    }
    .cta-btn1::before {
        position: absolute;
        content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/cta-mavas.webp);
        top: 0px;
        left: -224px;
    }
    .dollars-head {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/dollars-head-design.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 20px 60px;
        display: inline-block;
        border: 0px;
    }
    .rocket::before {
        content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/rocket.webp);
        position: absolute;
        top: -35px;
        right: -50px;
    }
    .automation-section {
        padding: 100px 0px;
    }
    .silver-plate {
        padding: 50px;
    }
    .feature-list1 {
        height: 100%;
        padding: 30px;
    }
    .gift-head {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/dollars-head-design.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 20px 60px;
        display: inline-block;
        border: 0px;
        position: relative;
    }
    .gift-head::after {
        position: absolute;
        right: -42px;
        top: 0px;
        content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/gift.webp);
    }
    .bonus-section-shape {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/bonus-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px;
        border: none;
    }
    .margin-t-44 {
        margin-top: -44px;
    }
    .bonus-section-shape1 {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/bonus-bg1.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px;
        border: none;
    }
    .table-head {
        min-height: 152px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 30px 30px 30px;
    }
    .table-list li {
        padding: 15px 15px 15px 57px;
    }
    .table-head1 {
        padding: 50px 30px 30px 30px;
        text-align: center;
    }
    .table-list1 li {
        padding: 15px 15px 15px 57px;
    }
    .money-head {
        background-image: linear-gradient(270deg, rgba(33, 48, 134, 0.00) 0%, #213086 50.72%, rgba(33, 48, 134, 0.00) 100%);
        padding: 10px 30px;
    }
    .contact-block {
        padding: 80px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/list-sec-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .contact-shape {
        padding: 25px 0px;
    }
}
/* bigger media break */
@media (min-width: 1537px){
.with-bg::after {
    position: absolute;
    content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/benifit-icon.webp);
    top: 0px;
    right: -195px;
}
}