html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 14px;
}
.black-clr {
    color: #000000;
}
.white-clr {
    color: #fff;
}
.blue-clr{
    color: #459EFF;
}
.blue-gradient {
    background: #1E9AF7;
    background: linear-gradient(90deg, #1E9AF7 32.27%,#1E9AF7 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
span.under {
    border-bottom: 4px solid;
}
.under{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #1E9AF7 32.27%,#1E9AF7 74%);
    border-image-slice: 1;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header-section {
    background: #fff url(../images/header-bg.webp) center bottom no-repeat;
    background-size: cover;
    padding: 30px 0px 40px 0px;
}
.pre-heading {
    background: transparent;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 2px solid rgb(77 101 244);
}
.proudly-sec {
    background: url(../images/proudly-shape.webp) no-repeat center center;
    background-size: contain;
    padding: 27px 50px 50px 50px;
    display: inline-block;
    margin-top: -48px;
}
@media (min-width: 768px) {
    .header-section {
        padding: 70px 0px 70px 0px;
    }
    .pre-heading {
        padding: 10px 35px 10px 35px;
        border-radius: 40px;
    }
    .proudly-sec {
        margin-top: -18px;
    }
}
.probtn1 a {
    background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}

.probtn1 a::before{
    position: absolute;
    width: 100%;
    height: 44px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;
}

.probtn1 a:hover {
    transition: all .3s ease;
    background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}

@media (min-width: 768px) {
    .probtn1 a {
        padding: 30px 45px;
        font-size: 32px;
    }
}

.fifth-section {
    background: #ffffff url("../images/proudlybg.webp") no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}

.but-design {
    background: url(../images/butthats-not-all.webp);
    padding: 20px 40px;
    display: inline-block;
    border-top: hidden;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

.but-design-border {
    border: solid 1px #0f0f0f;
    position: relative;
    display: inline-flex;
    border-radius: 10px;
}
@media(min-width:768px) {
    .but-design {
        padding: 40px 50px 36px 51px;
        background: url(../images/butthats-not-all.webp);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% 100%;
        border: hidden;
    }
    
    .fifth-section {       
        padding: 0px 0px 50px 0px;
    }
}

.second-section {
    padding: 30px 0px;
    background: #e5eaf6;
}


@media(min-width:768px) {
    .second-section {
        padding: 100px 0px 150px 0px;
        background: #ffffff url(../images/second-sec-bg.webp) no-repeat;
        background-position: bottom center;
        background-size: cover;
    }
}

.third-section {
    padding: 30px 0;
    background: #ffffff;
}

@media (min-width: 768px) {
    .third-section {
        padding: 100px 0;
    }
    
}

.kapblue {
    color: #0063eb;
}

.fourth-section {
    background: #fff;
    padding: 0;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    border: 1px solid #2f0088;
    width: 100%;
    float: left;
    border-radius: 15px;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px 15px 10px;
}

ul.grey-tick-last li {
    background: url(../images/grey-tick-last.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 28px;
    line-height: 150%;
    border-bottom: 1px solid #090e2d;
    color: #ffffff;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

ul.vgreentick li {
    background: #ffffff url(../images/vgreentick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 25px;
    line-height: 150%;
    color: #000;
}

.tbbg2-text {
    color: #fff;
}

.tbbg2 {
    background: linear-gradient(180deg, #001233 0%, #173a7a 100%);
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tbbg3 {
    background: url(../images/plan2.webp) no-repeat center top;
    padding: 30px 15px 57px;
    background-size: 100% 100%;
}


@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
    ul.grey-tick-last li {
        padding: 20px 10px 20px 40px;
    }
    .mt-sm-170 {
        margin-top: 170px
    }
    .mt-sm-90 {
        margin-top: 90px
    }
    .probtn a {
        font-size: 38px;
        padding: 28px 30px;
        display: inline-block;
        width:auto;
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 30px;
        display: inline-block;
        width:auto;
    }
}


.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #0041b5;
}
/*Table CSS Enad*/

.grey-section {
    background: #e5eaf6 ;
    padding: 30px 0;
}

.moneyback-section {   
        padding: 30px 0px;
        background: #101929;
}


.bonus-section {
    background: #e5eaf6 ;
    background-size: cover;
    padding: 30px 0;
}

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

@media (min-width:768px) {
    .table-section {
        padding: 70px 0 100px 0px;
        background: url(../images/table-bg.webp) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .bonus-section {
        background: url(../images/bonus-bg.webp) no-repeat;
        background-size: cover;
        background-position: center bottom;
        padding: 70px 0px 100px 0px;
    }
    .moneyback-section {       
        padding: 70px 0 70px 0px;
        background: #f3f2fb url(../images/moneyback-bg.webp) no-repeat bottom center;
        background-size: cover;
    }

    .mt-sm240 {
        margin-top: 240px;
    }
    .mt-sm0 {
        margin-top: 0px !important;
    }
}

.bonus-count {
    background: #5c6ac4;
    display: inline-block;
    padding: 10px 29px;
    border-radius: 15px;
}

.grey-clr {
    color: #d6d6d6;
}
/*-------- Responsive ------------*/

@media (min-width:768px) {
    .white-section {
        padding: 50px 0px 100px 0px;
    }
    .third-section {
        padding: 100px 0;
    }
    .grey-section {
        padding: 100px 0;
    }
}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

.red-clr,
a.red-clr {
    color: #ff3c00;
}

.blue-head {
    color: #0041b5;
}

ul.template-lists {
    padding: 0px 0px;
}

ul.template-lists li {
    background: url(../images/launch-tick-blue.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 10px 15px 40px;
    background-position: 0px 18px;
    line-height: 150%;
    color: #000;
}

.amazing-section {
    padding: 30px 0;
    background: #033183 url(../images/reason-sec-bg.webp) no-repeat bottom center;
    background-size: cover;
}
@media (min-width: 768px){
.amazing-section {    
    padding: 80px 0px;
}
}

.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}
.features-title .size {
    max-height: 100px;
}
.button-shape {
    position: relative;
    background: #e50604;
    padding: 15px 20px;
    color: #fff;
    margin: -10px 10px 10px -10px;
    border-radius: 10px;
}
@media(min-width:768px){
    .button-shape {
        padding: 15px 30px;
    }
}
.warning-section {
    background-color: rgb(77 101 244);
    padding: 20px 0px;
}
.lg30 {
    font-size: 30px;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.offer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}
@media (min-width: 768px) {
    .offer {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        flex-direction: row;
    }
}