html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}
/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #212121;
}
.red-clr {
	color: #EF3E3A;
}
.red-clr a{
	color: #EF3E3A;
    text-decoration: none;
}
/* Header CSS */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 50px 0px;
}
.header-section-2 {
	background: #090f21 url(../images/header-bg2.webp) no-repeat top center;
    background-size: cover;
    padding: 150px 0px 50px 0px;
    margin-top: -150px;
}
  .preheadline{
	display: inline-block;
    padding: 10px 15px;
	background: #D9D9D9;
	border-radius: 50px;
  }
.video-box{
    position: relative; 
    padding: 20px; 
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
	backdrop-filter: blur(5px); 
    border-radius: 20px;
}
.hr{
	mix-blend-mode: overlay;
}
.probtn1 a {
    transition: all .3s ease;
    border-radius: 15px;
    background: linear-gradient(92.69deg, #EF3E3A 0%, #FF5F5B 99.78%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn1 a:hover {
    transition: all .3s ease;
    background: linear-gradient(92.69deg, #FF5F5B  0%, #EF3E3A 99.78%);
}

@media(min-width:768px) {
    .header-section {
		padding: 80px 0px 100px 0px;
	}
	.header-section-2 {
		padding: 270px 0px 80px 0px;
		margin-top: -310px;
	}
    .gameimg {
		position: absolute;
		z-index: 9999;
		top: -6px;
		right: -50px;
	}
    .preheadline{
		padding: 10px 50px 10px 20px;
	  }
    .probtn1 a {
    font-size: 38px;
    padding: 28px 60px;
    display: inline-block;
    width: auto;
    border-radius: 100px
    }
    
}

/* Header Section Css Start */

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.affiliate-link-btn a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background: linear-gradient(92.69deg, #EF3E3A 0%, #FF5F5B 99.78%);
    border-radius: 15px;
}

.calendar-wrap {
    position: relative;
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
}

@media (min-width:768px) {

    .header-section ul.leader-ul {
        margin-top: 0px;
    }
    .affiliate-link-btn a {
        padding: 15px 25px;
        font-size: 18px;
    }
    .affiliate-link-btn a:hover {
        transition: all .3s ease;
        background: linear-gradient(92.69deg, #FF5F5B  0%, #EF3E3A 99.78%);
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
}

/* Header Section Css End */

.second-section {
    background: url(../images/second-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

ul.features-list {
    margin: 0px;
    padding: 0px;
}

ul.features-list li {
    background: url(../images/s-orange-tick.webp) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.formbg {
    position: relative;
    padding: 15px;
    border-radius: 15px;
    background: #080E20;
}

.width-form {
    width: 100%;
    float: left;
    padding: 0px 0px;
}

.register-btn1 input[type="submit"] {
    transition: all .3s ease;
    border-radius: 15px;
    background: linear-gradient(92.69deg,  #EF3E3A 0%, #FF5F5B 99.78%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 21px;
    color: #ffffff !important;
    font-weight: 700;
    width: 100%;
    border: none;
    height: 60px;
    outline: none;
    white-space: normal;
}

.register-btn1 input[type="submit"]:hover {
    transition: all .3s ease;
    background: linear-gradient(92.69deg, #FF5F5B  0%, #EF3E3A 99.78%);
}
.webinar{
    padding: 12px;
    background: #c6c6c65e;
    border-radius: 15px
}
@media (min-width:768px) {
    .second-section {
        padding: 100px 0px;
    }
    .formbg {
        padding: 40px 30px 60px 30px;
        background: url(../images/form-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .width-form {
        width: 33%;
        padding: 0px 5px !important;
    }
}

/* Footer Section Start */

.footer-section {
    background: #080E20;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

/* Footer Section End */

