.countdown {
	background-color: transparent;
	color:#000000;
	font-family: 'Poppins', sans-serif;;
	text-align: center;	
	display: flex;
	justify-content: space-between;
}
/* Css For Timer Display */
.timer-label{margin-right:15px;   padding:5px 0px 10px 0px!important; width:100%; color:#ffffff;}
.countdown .timer-label:last-child{margin-right:0px;}
.timerbg{font-weight:600; line-height:120%; width:100%; float:left;  background-color: #FF4E4E ; color:#ffffff; padding:10px 0px; margin-bottom:10px;}



