html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #212121;
    font-size: 14px;
}
/* html::-webkit-scrollbar {
    width: 10px; 
 }
html::-webkit-scrollbar-track {
  background-color: #eee;
}
html::-webkit-scrollbar-thumb {
  background: #B956FF;
  border-radius: 25px;
} */
.yellow-clr {
    color: #f9f904;
}
.orange-clr {
    color: #F60 !important;
}
.white-clr {
    color: #ffffff;
}
.blue-clr {
    color: #00aaff;
}
.red_clr{
    color: #FF2C2C;
}
/* Header Section CSS */
.header-section {
    background: #f9f9f9 url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding: 30px 0px;
}
.post-heading {
    background: #FFCD00;
    text-align: center;
    padding: 10px;
}
.pre-heading {
    border: 2px solid rgba(21, 198, 252, 1);
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    padding: 10px;
}
@media(min-width:768px) {
    .header-section {
        background-size: cover;
        padding: 40px 0px 100px 0px;
    } 
    .post-heading {
        padding: 15px 60px;
        background: url(../images/yellow-brush.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .pre-heading {
        padding: 9px 26px;
    } 
}
.fifth-section {
	background:#fff url("../images/header-bg.webp") no-repeat center bottom;
	background-size: cover;
	padding: 60px 0 30px 0px;
}
.img-sm{
    width: 60px;
    height: 60px;
}
@media(min-width:768px) {
    .fifth-section {
        padding: 80px 0 300px 0px;
    }
}
.white-clr{
    color: #ffffff;
}
.second-sec {
    padding: 30px 0;
	background:#f9f9f9;
}
@media(min-width:768px) {
    .second-sec{
        padding: 100px 0px;
        background:#f9f9f9 url(../images/white-section-bg.png) no-repeat;
        background-position: center center;
    }
}
::-webkit-input-placeholder {
    color: #797979 !important;
}
::-moz-placeholder {
    color: #797979 !important;
}
:-ms-input-placeholder {
    color: #797979 !important;
}
:-moz-placeholder {
    color: #797979 !important;
}
.relative {
    position: relative;
}
.blue-clr {
    color: #0041b5;
}
html {
    scroll-behavior: smooth;
}
/* 11. Services Section Starts  */
.services{
    padding: 120px 0;
    background-color: #deeaff;
}
.bs-service .ser-icon{
    height: 150px;
    margin-bottom: 10px;
}
.bs-service{
    padding: 30px 25px;
}
@media(min-width:768px){
    .services{
        background: url("../images/ser-bg.webp") no-repeat;
        background-size: cover;
    }
    .bs-service{    
        height: 100%;
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
    }
} 
/* 11. Services Section End  */
.moneyback-section {
    background: #1a243f;
    background-size: cover;
    padding: 30px 0;
    color: #ffffff;
}
@media(min-width:768px){
    .moneyback-section {
        background: #1a243f url(../images/header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 70px 0 70px 0px;
        color: #ffffff;
    }
}
.home9 {
    background-color: #01002e;
    padding: 70px 0 50px;
}
@media(min-width:768px) {
    .home9 {
        background-image: url('../img/home1_1.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}
/********features*********/
@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}
.footer-section {
    background: #000000;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
    line-height: 130%;
}
.footer-ul {
    padding: 0
}
.footer-ul li {
    display: inline;
}
@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }
}
/*Table CSS Start*/
.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}
.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #cacaca;
}
.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}
.tablebox3 {
    background: #200d68;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    position: relative;
}
.tbbg2{
    background: url(../images/start-plan-bg.png) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #cacaca;
}
.tbbg3{
    background:#200d68;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #4600a2;
}
.most-popular {
    background: url(../images/most-pop.png) no-repeat center;
    padding: 15px 30px 30px 30px;
    background-size: 100% 100%;
    margin-top: -40px
}
@media (min-width: 768px) {
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    color: #240f75;
}
.thanks-button a:hover {
    text-decoration: none;
}
@media(min-width:768px) {
    .myfeatureslast{
        padding: 30px 20px;
    }
    .myfeatureslast-com{
        padding: 30px 20px;
    }
}
/*Table CSS Enad*/
.grey-section {
    background: #deeaff;
    padding: 30px 0;
}
.table-section{
    background: #f9f9f9;
    padding: 30px 0px;
}
@media (min-width:768px) {
    .table-section{
        padding: 100px 0;
    }
}
.feature-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #00132F;
    backdrop-filter: blur(10px);
}
@media (min-width: 768px){
    .feature-list-block {
        border-radius: 20px;
        padding: 50px 20px;
        margin-top: -280px;
    }
}
.list li {
    display: inline-block;
    width: 100%;
    background: url('../images/list-head.webp') no-repeat;
    padding: 15px 0px 15px 45px;
    background-position: 0px 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/*-------- Responsive ------------*/
.white-section {
    padding: 120px 0;
}
@media (min-width:768px) {
    .grey-section {
        background: #deeaff url(../images/orange-section-bg.png) no-repeat;
        background-position: center center;
        padding: 100px 0;
    }
}
@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}
.boxes{
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
}
ul.bigboxes {
    margin: 0px;
    padding: 0px;
}
.bigboxes li {
    background: url(../images/greentick.png) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
}
ul.bigboxes1 {
    margin: 0px;
    padding: 0px;
}
.bigboxes1 li {
    background: url(../images/greentick.png) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .boxes{
        padding: 50px;
    }
}
.footer-ul li:hover a {
    color: #fff;
}
.up-btn-header a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    border-radius: 10px;
    background: var(--orange-gradient, linear-gradient(360deg, #ED1C24 0%, #FF813B 100%));
}
.up-btn-header a:hover  {
    border-radius: 8px;
    background: var(--orange-gradient, linear-gradient(360deg, #FF813B 0%,#ED1C24 100%));
    color: #ffffff;
}
@media(min-width:768px) {
    .up-btn-header a{
		font-size: 30px;
		padding: 35px 25px;
		display: inline-block;
	}
}
.up-btn-header a:hover {
    border-radius: 8px;
    background-image: -moz-linear-gradient(#ED1C24 , #FFCD00);
    background-image: -webkit-linear-gradient(#ED1C24 , #FFCD00);
    background-image: -ms-linear-gradient(#ED1C24 , #FFCD00);
    color: #ffffff;
}
.warning-section{
	background-color: #063184;
	padding: 20px 0px;
}
.offer{
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
	flex-direction: column;
}
.kapblue,a.kapblue {
    color: #150de1;
	text-decoration:none;
}
@media (min-width:768px) {
	.offer{
		display: flex;
		align-items: center;
		gap: 15px;
		justify-content: center;
		flex-direction: row;
	}
}
.btn-bg{
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #ccc;
}
.no-thanks{
    text-decoration: none;
}