html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #121733;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
}
.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
.grey-clr {
    color: #D9D9D9;
}
.red-clr {
    color: #ff0f0f;
}
.orange-clr{color: #FF8013;}
/* .orange-gradient {
    background: #1E9AF7;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.blue-gradient {
    background: #2CB3FF;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Proudly there Section Start */

.header-sec{
    background: #001243;
    padding: 30px 0px;
    position: relative;
}
.uy{
    background: url(../images/rewind-bg.png) no-repeat center center;
    padding: 30px 15px;
    border-radius: 25px;
}
.gn-box {
    background: url(../images/gn-box-bg.png) no-repeat center center;
    color: #000;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 5px;
    background-size: 100% 100%;
}
.pre-heading {
    background: transparent;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 2px solid rgb(77 101 244);
}

.tde {
    border-bottom: 2px solid #fff;
    padding: 0px 0px;
    border-top: 2px solid #fff;
    display: inline-flex;
}
.d-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -webkit-linear-gradient( 64deg, #FF992E 0%, #DA1467 100%);
    backdrop-filter: blur(10px);

    font-size: 24px;
}
.d-btn a:hover {
    text-decoration: none;
    background-image: -webkit-linear-gradient( 64deg, #DA1467 0%, #FF992E 100%);
}
.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #000000;
    background: #ffffff;
    display: inline-block;
    text-transform: uppercase;
}
.exclusive-bonus {
    background: #e95093;
    padding: 30px 15px;
}
.bonus-title-black-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #000000;
    display: inline-block;
    text-transform: uppercase;
}
.highlight-bg{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: aliceblue;
    box-shadow: 0px 0px 19.8px 2.2px rgb(106 105 105);
}
    .head-design {
        background: #FFFFFF;
        padding: 15px;
    }
    .gametext {
        background: #F19B10;
        padding: 5px 29px 5px 15px;
        display: inline-flex;
        justify-content: center;
        color: #fff;
        font-weight: 700;
        font-size: 22px;
        position: absolute;
        top: -42px;
        z-index: 99;
        line-height: 32px;
        left: 0px;
        border-radius: 0px 150px 0px 0px;
        background: #F19B10
    }
    .head-yellow {
        display: inline-block;
        background: url(../images/yellow-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 10px 30px;
    }
    .section-Profitable {
        padding: 30px 0px;
        background: #010517;
        position: relative;
        z-index: 1;
    }
    .heading {
        display: inline-block;
        border-radius: 100px;
        text-align: center;
        position: relative;
        padding: 10px;
        border: 2px solid rgba(185, 86, 255, 1);
    }
    .yellow-brush {
        padding: 10px;
        background: #fffd40;
    }
    .underline {
        border-bottom: 2px solid;
    }
    .red-bg {
        border-radius: 25px;
        border: 1px solid #000;
        background: #FF2C2C;
        padding: 10px;
    }
    .shape-head {
        background: url(../images/shape.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 10px 20px;
        text-align: center;
    }
    .video-box {
        position: relative;
        padding: 20px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 20px;
    }
    .affiliate-link-btn1 a {
        border-radius: 10px;
        background-image: -webkit-linear-gradient(#FFCD00 , #ED1C24);
        background-image: -ms-linear-gradient(#FFCD00 , #ED1C24);
        background-image: -moz-linear-gradient(#FFCD00 , #ED1C24);
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: 15px 12px;
        color: #ffffff;
        font-weight: 700;
        width: 100%;
        font-size: 24px;
        line-height: 140%;
    }
    .list-head {
        list-style: none;
    }
    .list-head li {
        background: url(../images/list-head.webp) no-repeat;
        padding: 15px 0px 15px 45px;
        background-position: 0px 17px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .list-head li:last-child {
        border-bottom: 0px;
    }
    .heading-blue-shape {
        background-color: #010323;
        padding: 5px 12px;
        border-radius: 20px;
    }
@media (max-width: 767px){
    .main-heading {
        background: #fff;
        background-size: cover;
        padding: 20px;
        border: 2px solid #2098F7;
        border-radius: 20px;
    }
    .post-heading {
        background: #252145;
        padding: 15px 14px;
        border-radius: 10px;
    }
}

@media (min-width: 768px) {
    .header-sec {
        background: #091274 url(../images/header-bg1.webp) center bottom no-repeat;
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
    }
   
    .pre-heading {
        padding: 15px 35px 15px 35px;
        border-radius: 40px;
    }
    .main-heading {
        background: url(../images/main-heading-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 40px;
    }
    .heading-blue-shape {
        background: url(../images/heading-blue-shape.webp) no-repeat center center;
        padding: 10px 35px;
        display: inline-block;
        background-size: 100% 100%;
    }
    .head-yellow {
        padding: 10px 50px;
    }
    .section-Profitable {
        padding: 50px 0px 80px 0px;
        background: url(../images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .heading {
        padding: 9px 26px;
    }
    .yellow-brush {
        padding: 10px 50px;
        background: url(../images/yellow-brush.webp) no-repeat center center;
        background-size: 100% 100%;
        display: inline-block;
    }
    .red-bg {
        padding: 9px 30px;
        display: inline-block;
    }
    .affiliate-link-btn1 a {
        font-size: 30px;
        padding: 30px 20px;
        width: auto;
    }
    .post-heading {
        background: url(../images/post-heading.webp) no-repeat;
        background-size: 100% 100%;
        padding: 15px 35px 15px 35px;
    }
}

/**************Footer Section***********/
.footer-section {
    background: #000;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}
@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}
.option-design {
    background: #362a65;
    border: 2px solid #392a68;
    border-radius: 10px;
    display: inline-block;
    padding: 8px 10px;
}
@media(min-width:768px){
    .option-design {
        padding: 8px 30px;
    }
}

 /* bonus-section */

.free-gifts{
    background-color: #f1f1f1;
    padding: 50px 0px;
}
.blockchaine-image,.Artificial-image{
    max-height: 500px;
}
@media(min-width:768px){
       
        .free-gifts{
            padding: 100px 0px;
        }
}