html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #121733;
    font-size: 14px;
}

.white-clr {
    color: #fff;
}
.neon-clr{
    color: #00CBE3;
}
.black-clr {
    color: #08041e;
}
.bonus-title-color {
    color: #1FE29F;
}
.green-clr{
    color: #1FE29F;
}
.purple-clr { color: #b052ff;}
.orange-clr{color:#F19B10}
.red-gradient {
    background: linear-gradient(93.05deg, #EC1C24 0%, #FF4E4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.caveat{
    font-family: 'Caveat', cursive;
}

/* Proudly there Section Start */
.header-sec {
    background: #000308;
    padding: 30px 0px;
    position: relative;
}
@media (min-width: 768px){
.header-sec {
    background: #000308 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/free-gift-4/header-bg.webp) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0px 150px 0px;
}
}

.uy {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/free-gift-4/rewind-bg.png) no-repeat center center;
    padding: 30px 15px;
    border-radius: 25px;
}
.gn-box {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/free-gift-4/gn-box-bg.png) no-repeat center center;
    color: #000;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 5px;
    background-size: 100% 100%;
}
.tde {
    border-bottom: 2px solid #fff;
    padding: 0px 0px;
    border-top: 2px solid #fff;
    display: inline-flex;
}
.d-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    /* background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%); */
    background: linear-gradient(to right, #B956FF 0%, #6E33FF 100%);
    backdrop-filter: blur(10px);

    font-size: 24px;
}
.d-btn a:hover {
    text-decoration: none;
    background: linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
}
.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #000000;
    background: #ffffff;
    display: inline-block;
    text-transform: uppercase;
}
.bonus-title-black-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #000000;
    display: inline-block;
    text-transform: uppercase;
}
.highlight-bg{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: aliceblue;
    box-shadow: 0px 0px 19.8px 2.2px rgb(106 105 105);
}


.underline-text {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/free-gift-4/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}


/**************Footer Section***********/

.footer-section {
    background: #05071A;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}
.typing-text{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/free-gift-4/typing-text-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 15px 30px;
}
.typing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    color: white;
    font-weight: 700;
    font-size: 20px;    
}
.border-right{
    border-right: 1px solid rgba(255, 255, 255, 0.20);
}
#typing::after {
    content: '|';
    position: relative;
    right: 0;
    color: yellow;
    animation: blink 1s step-end infinite;
}
.nexusgpt-header-section {
    background: #05071A;
    padding: 30px 0;
    position: relative;
}
.nexusgpt-pre-heading {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}
.nexusgpt-head-design {
    background: #FFFFFF;
    padding: 15px;
}
.nexusgpt-gametext {
    /* background: #F19B10; */
    padding: 5px 29px 5px 15px;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    top: -42px;
    z-index: 99;
    line-height: 32px;
    left: 0px;
    border-radius: 0px 150px 0px 0px;
    background: #F19B10;
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.nexusgpt-list-head {
    list-style: none;
}
.nexusgpt-list-head li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/free-gift-4/nexusgpt-fav.webp) no-repeat;
    padding: 15px 0px 15px 35px;
    background-position: 0px 21px;
    text-align: left;
    border-bottom: solid 1px #091e42;
}
.blue-section {

    padding: 30px 0px;
    background: #0D0238 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/free-gift-4/bonus-section.png) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
@media (min-width: 768px){

    .blue-section {
    
        padding:  40px 0px 100px 0px
        ;
    }}
@media (min-width: 768px) {
    .nexusgpt-head-design {
        padding: 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/free-gift-4/nexusgpt-headline-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .nexusgpt-header-section {
        padding: 80px 0px 100px 0px;
        background: #fff url(https://cdn.dotcompaltest.com/uploads/launches/mavas/free-gift-4/nexusgpt-header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .typing {
        font-size: 28px;
    }
    .footer-section {
        padding: 50px 0px;
    }
}

.option-design {
    background: #b654ff;
    border: 2px solid #b654ff;
    border-radius: 10px;
    display: inline-block;
    padding: 8px 10px;
}
@media(min-width:768px){
    .option-design {
        padding: 8px 30px;
    }
}

/* Floating Btn */

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#7764ff;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#E76D24;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.mainheadline {
    display: inline-block;
    border-radius: 40px;
    background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
    padding:1px ;
    border-radius: 18px;
}
.mainheadline > div {
    background-color: #150a41;
    padding: 65px 25px 15px;
    border-radius: 20px;
}
@media(min-width:768px){
    .mainheadline {
        padding: 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/free-gift-4/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 90px 12px 50px 12px;
    }
    .mainheadline > div {
        background-color: transparent;
        padding: 15px 25px;
        border-radius: 0px;
    }
    .mainheadline:before {
        position: absolute;
        content: 'game changer';
        padding:0px 40px;
        left: 47px;
        z-index: 99;
        top: 22px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        position: absolute;
    }
}
a.bonusbuy-btn {
    border-radius: 10px;
    background: linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
    backdrop-filter: blur(10px);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    padding: 5px 20px;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
}
a.bonusbuy-btn:hover {
    transition: all .3s ease;
    background: linear-gradient(to right, #b956ff 0%, #6e33ff 100%);
}
@media (min-width: 768px){
a.bonusbuy-btn {
    padding: 20px 50px;
    font-size: 35px;
}

}