html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #252525;
}

.orange-clr {
	color: #F2A736;
}

.orange-clr1{
	color: #E76D24;
}

.red-clr {
    color: #EF3E3A;
}

.caveat {
    font-family: 'Caveat', cursive;
}
/* Header Section CSS */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px;
}

.preheadline {
	display: inline-block;
    padding: 15px;
    background: #fff;
    border-radius: 50px;
    border: solid 2px rgba(255, 255, 255, 0.25);
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

@media(min-width:768px) {
	.header-section {
		padding: 50px 0px 100px 0px;
	}

}

.probtn1 a {
	transition: all .3s ease;
	border-radius: 15px;
	background: linear-gradient(92.69deg, #EF3E3A 0%, #FF5F5B 99.78%);
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	width: 100%;
	font-size: 24px;
	line-height: 140%;
}

.probtn1 a:hover {
	transition: all .3s ease;
    background: linear-gradient(92.69deg, #FF5F5B 0%, #EF3E3A 99.78%);
}

@media (min-width:768px) {
	.probtn1 a {
		font-size: 38px;
		padding: 28px 60px;
		display: inline-block;
		width: auto;
		border-radius: 100px;
	}
}

.second-section {
	padding: 30px 0px;
	background: #ffffff;
}

.feature-list {
	padding: 15px;
	margin-top: 30px;
	list-style-type: none;
	min-height: 100px;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 15px;
	background: #fff;
	border: 3px solid #B5D1FF;
	box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
}

@media(min-width:768px) {
	.second-section {
		padding: 100px 0px;
		background: url(../images/list-section-bg.webp) no-repeat center center;
		background-size: cover;
	}
}

.white-section {
	background: #fff;
	padding: 30px 0;
}

.grey-section {
	background: #EAF3F8;
	padding: 30px 0;
}

.features-title {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	gap: 15px;
}

.features-title .size {
	max-height: 100px;
}

@media (min-width: 768px) {
	.white-section,
	.grey-section {
		padding: 100px 0px;
	}
}

.moneyback-section {
	background: #050d23;
    padding: 30px 0px;
}
.hr {
    mix-blend-mode: overlay;
}
@media (min-width: 768px) {
	.moneyback-section {
		padding: 140px 0px 170px;
		background: #eef0ff  url(../images/prize-value.webp) no-repeat center top;
		background-size: 100% 100%;
	}
}

.bonus-section {
	background: #f1f1f1;
	background-size: cover;
	padding: 30px 0;
}

@media (min-width: 768px) {
	.bonus-section {
		background: #040a1f url(../images/bonus-bg.webp) no-repeat center bottom;
		background-size: cover;
		padding: 70px 0px 100px 0px;
	}
}

/*Table CSS Start*/
.table-section {
	background: #ffffff;
	padding: 30px 0;
}

.tablebox2 ul {
	padding-left: 0;
	color: #010101;
}

.tablebox2 {
	background: #ffffff;
	width: 100%;
	float: left;
	border-radius: 10px;
	box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.tablebox3 ul {
	padding-left: 0;
	color: #010101;
}

.tablebox3 {
	width: 100%;
	float: left;
	border-radius: 10px;
	box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
	position: relative;
}

ul.vgreytick {
	padding: 0px;
	margin: 0;
}

ul.vgreytick li {
	background: url(../images/table-tick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position:10px 19px;
	line-height: 150%;
	text-transform: capitalize;
}

ul.vgreytick li:nth-child(odd) {
	background-color: #EAF3F8;
}

ul.vgreytick li:nth-child(even) {
	background-color: #ffffff;
}

ul.vgreytick li:last-child {
	border-bottom: 0px;
}

ul.grey-tick-last {
	padding: 0px;
	margin: 0;
}

ul.grey-tick-last li {
	background: url(../images/table-tick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	color: #000;
	background-position:10px 19px;
	line-height: 150%;
	text-transform: capitalize;
}

ul.grey-tick-last li:nth-child(odd) {
	background-color: #EAF3F8;
}

ul.grey-tick-last li:nth-child(even) {
	background-color: #fff;
}

ul.grey-tick-last li:last-child {
	border-bottom: 0px;
}

.tbbg2 {
	background-color: #fff;
	padding: 50px 30px 50px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}

.tbbg3 {
	background:#080E20;
	padding:50px 30px 50px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}

.myfeatureslast {
	float: left;
	padding: 0px 30px 30px;
	width: 100%;
	min-height: 69px;
	background: #ffffff;
	border-radius: 0px 0px 10px 10px;
}

.myfeatureslast-com {
	float: left;
	padding: 30px;
	width: 100%;
	border-radius: 0px 0px 10px 10px;
	min-height: 69px;
	background: #ffffff;
}

@media (min-width: 768px) {
	.table-section {
		padding: 70px 0 100px 0px;
		background: url(../images/table-bg.webp) no-repeat center center;
		background-size: cover;
		background-attachment: fixed;
	}

	.tbbg3 {
		padding: 50px 30px 50px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}

	.tbbg2 {
		padding: 50px 30px 50px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}

	ul.vgreytick li {
		padding: 20px 15px 20px 65px;
		background-position:20px 22px;
	}

	ul.grey-tick-last li {
		padding: 20px 15px 20px 65px;
		background-position:20px 22px;
	}

	.myfeatureslast {
		padding: 0px 20px 30px;
	}
}

/*Table CSS Enad*/

.footer-section {
	background: #080E20;
	padding: 30px 0;
}

.footer-ul {
	padding: 0
}

.footer-ul li {
	display: inline;
	line-height: 130%;
}

.footer-ul li:hover a {
	color: #fff;
}

@media(min-width:768px) {
	.footer-section {
		padding: 50px 0px;
	}

	.footer-ul li {
		line-height: normal;
	}

}

a.nothank {
	color: #EF3E3A;
	text-decoration: none;
}

/* Presenting Section Start */
.proudly-sec {
    padding: 30px 0px;
	background: #01071b;
}
.presenting-head {
    background: #132041;
    border-radius: 40px;
    padding: 5px 30px;
    display: inline-block;
    font-family: 'Caveat';
}
@media (min-width: 768px){
	.proudly-sec {
		padding: 150px 0px 100px 0px;
		background: #f1f1f1 url(../images/proudlybg.webp) center center no-repeat;
    	background-size: cover;
	}
	.presenting-head {
		padding: 10px 80px;
	}
}

/* Presenting Section End */

.feature-shape {
    background-image: -moz-linear-gradient(92.69deg, #FF5F5B 0%,  #dc423f 99.78%);
    background-image: -webkit-linear-gradient(92.69deg, #FF5F5B 0%,  #dc423f 99.78%);
    background-image: -ms-linear-gradient(92.69deg, #FF5F5B 0%,  #dc423f 99.78%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}
@media(min-width:768px){
	.feature-shape:after {
        content: '';
        background: url(../images/line-shape.webp) no-repeat right bottom;
        padding: 22px 0;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -15px;
        right: -15px;
    }
}


.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 20px 10px;
}
.gametext {
    background: #f24440;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -52px;
    line-height: 30px;
    left: 146px;
    transform: skew(-10deg);
    border-radius: 5px;
}
.preheadline{
	display: inline-block;
    padding: 10px 15px;
	background: #fff;
	border-radius: 50px;
  }
@media(min-width:768px){
    .mainheadline {
        background: url(../images/top-heading-bg.webp) center center no-repeat;
        background-size: 100% 100%;
        padding: 30px 30px 40px 140px;
        left: -5px;
    }}