.container {
    height: unset;
}

.inner-content {
    height: unset;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}


/* BANNER CSS START */

.banner-section {
    background: #6e44ff;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .banner-section {
        background: #6e44ff url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0 100px;
    }
}

.banner-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


/* BANNER CSS END */


/* JVBONUS-SECTION START */

.jvbonus-section {
    background: #ebf6fb;
    padding: 30px 0px;
}

.bonus-section-shape {
    padding: 15px;
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.bonus-headline {
    background: #4d57de;
    padding: 12px 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
}

.bonus-headline>div {
    color: #fff!important;
}

.bonus-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.download-btn a {
    border-radius: 5px;
    background-image: -moz-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -webkit-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    background-image: -ms-linear-gradient( 10deg, rgb(0, 55, 112) 0%, rgb(2, 48, 71) 100%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    line-height: normal;
    color: #ffffff;
    font-weight: 600;
}

.download-btn a:hover {
    background-image: -moz-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
    background-image: -webkit-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
    background-image: -ms-linear-gradient( 10deg, rgb(2, 48, 71) 0%, rgb(0, 55, 112) 100%);
    text-decoration: none;
    color: #fff;
}

@media (min-width: 768px) {
    .jvbonus-section {
        padding: 70px 0px;
    }
    .bonus-section-shape {
        padding: 30px;
    }
    .margin-t-60 {
        margin-top: -60px;
    }
    .download-btn a {
        font-size: 25px;
        padding: 15px 40px;
    }
}


/* JVBONUS-SECTION END */


/* FOOTER CSS */

.footer-section {
    background: #000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul {
    padding: 0
}

.footer-ul li {
    display: inline;
}

.xscenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.xs-text-center,
.xs-text-center1 {
    text-align: center;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}

.light-pink {
    color: rgb(252, 109, 171);
}

.uy {
    background: url(../images/rewind-bg.webp) no-repeat center center;
    padding: 30px 15px;
    border-radius: 25px;
    margin: 20px 15px 0px;
}

@media(min-width:768px) {
    .uy {
        margin-top: 40px
    }
}

.gn-box {
    background: url(../images/gn-box-bg.webp) no-repeat center center;
    color: #000;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 5px;
    background-size: 100% 100%;
}

.voilet-clr {
    color: #6e44ff;
}

a {
    color: #6e44ff;
    text-decoration: none;
}

a:hover {
    color: #4f27d8;
}

span.highlight {
    border-bottom: solid 4px #fc6dab;
}

.tde {
    text-decoration: overline;
    border-bottom: 2px solid #fc6dab;
    padding: 4px 0;
}