html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #0f0f0f;
    font-size: 14px;
    overflow-x: hidden;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

video {
    width: 100%;
    height: 100%;
}


/* Color CSS */

.white-clr {
    color: #fff;
}

.black-clr {
    color: #0f0f0f !important;
}

.orange-clr {
    color: #f9bb0b;
}

.red-clr {
    color: #f40c28;
}


/* Header CSS */

.header-section {
    background: #0f0f0f url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 0px;
    background-attachment: fixed;
}

.pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: #0f0f0f;
    outline: none;
    border-color: #f40c28;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}

a.link-text {
    color: #000;
    text-decoration: none
}

.probtn a,
.probtn1 a {
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    animation: glowing 5000ms infinite;
    border-radius: 100px;
    background-color: #ff2c50;
}

.probtn a:hover,
.probtn1 a:hover {
    transform: scale(1.05);
    transition: all .3s ease;
    background-color: #f60c29;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #f60c29;
    }
    40% {
        box-shadow: 0 0 20px #f60c29;
    }
    60% {
        box-shadow: 0 0 20px #f60c29;
    }
    100% {
        box-shadow: 0 0 -10px #f60c29;
    }
}

@media(min-width:768px) {
    .header-section {
        padding: 40px 0 100px;
        position: relative;
    }
    .probtn1 a {
        font-size: 32px;
        padding: 20px 50px;
    }
    .pre-heading {
        padding: 15px 30px;
        border-radius: 100px;
    }
}


/*************Second Section **************/

.second-section {
    padding: 30px 0px;
}

.step-sec {
    padding: 0 10px;
    background: #fff;
}

ul.features-list {
    margin: 0px;
}

ul.features-list li {
    background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
    padding: 0px 0px 30px 45px;
    background-position: 10px 5px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
}

@media(min-width:768px) {
    .second-section {
        padding: 100px 0px;
        background: url(../images/second-bg.webp) no-repeat center center;
        background-size: cover;
    }
    ul.features-list li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/tick-icon.webp) no-repeat;
        padding: 0px 0px 30px 45px;
        background-position: 0px 3px;
        list-style: none;
    }
}


/***********Fastest Section *******/

.fastest-section {
    padding: 30px 0;
    background:#f1f1f1;
}

@media(min-width:768px) {
    .fastest-section {
        padding: 100px 0;
        background: #f1f1f1 url(../images/fastest-most-bg.webp) no-repeat center center;
        background-size: cover;
    }
}


/***********Third Section **********/

.third-section {
    padding: 30px 0px;
    background: #fff url(../images/third.webp) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .third-section {
        padding: 100px 0 60px 0;
    }
}


/********Fifth Section *******/

.fifth-section {
    background: #fff url(../images/proudlybg.webp) no-repeat top center;
    background-size: cover;
    padding: 30px 0px;
}

.per-shape {
    background: url(../images/presenting-shape.webp) center center no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 20px 55px 34px 55px;
}

.shape-skew {
    transform: skew(-25deg);
    background-color: #f9bb0b;
    display: inline-block;
    padding: 10px 25px;
}

span.skew {
    transform: skew(25deg);
    display: inline-block;
}

@media(min-width:768px) {
    .fifth-section {
        padding:100px 0px;
    }
}


/***********Install Section *********/

.install-section {
    padding: 30px 0;
    background: #fff url(../images/install-section.webp) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .install-section {
        padding: 100px 0;
    }
}

/***********White Section *********/

.white-section {
    padding: 30px 0;
    background: #fff url(../images/features-bg2.png) no-repeat center center;
    background-size: cover;
}

@media(min-width:768px) {
    .white-section {
        padding: 100px 0;
    }
}


/***********Grey Section *********/

.grey-section {
    padding: 30px 0;
    background: #f1f1f1;
}

@media(min-width:768px) {
    .grey-section {
        padding: 100px 0;
    }
}


/***********Bonus Section *********/

.bonus-section {
    background: #effbff url(../images/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
}
.but-design-border{
    border: solid 1px #0f0f0f;
    position: relative;
    display: inline-flex;
    border-radius: 10px;
}
.button-shape{
    position: relative;
    background: #f9bb0b;
    padding: 15px 20px;
    color: #0f0f0f;
    margin: -10px 10px 10px -10px;
    border-radius: 10px;
}
@media (min-width:768px){
    .button-shape{
        padding: 15px 30px;
    } 
}
@media(min-width:768px) {
    .bonus-section {
        padding: 70px 0;
    }
}


/******Table Section ********/

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.tablebox2 {
    border: 1px solid #0f0f0f;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tbbg2 {
    background: #0f0f0f;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

ul.vgreytick {
    padding: 0px 15px;
}

@media(min-width:768px) {
    .table-section {
        padding: 100px 0px;
        background: url(../images/table-bg.webp) no-repeat;
        background-position: center center;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
}


/**********Footer Section********/

.footer-section {
    background: #100f12;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px
    }
}


/**********Footer Section********/