html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 14px;
}


/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.kapblue {
    color: #224cb0;
}

.orange-clr {
    color: #ffb80f;
}

.blue-clr {
    color: #0a52e2;
}


/* Color CSS */


/****Header Section ********/

.header-section {
    background: #141516 url(https://cdn.oppyo.com/launches/jobiin/common_assets/images/header-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: Cover;
    padding: 30px 0px;
    position: relative;
}

.pre-heading {
    background: #ffffff;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 65px;
    text-align: center;
}

.probtn1 a,
.probtn a {
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #000000;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    animation: glowing 5000ms infinite;
}

.probtn1 a:hover,
.probtn a:hover {
    transform: scale(1.05);
    transition: all .3s ease;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #c4a300;
    }
    40% {
        box-shadow: 0 0 20px #c4a300;
    }
    60% {
        box-shadow: 0 0 20px #c4a300;
    }
    100% {
        box-shadow: 0 0 -10px #c4a300;
    }
}

@media (min-width: 768px) {
    .header-section {
        padding: 40px 0px 100px 0px;
    }
    .pre-heading {
        padding: 10px 30px;
    }
    .probtn1 a,
    .probtn a {
        font-size: 38px;
        padding: 28px 30px;
    }
    .probtn1 a {
        font-size: 28px;
        padding: 20px 30px;
    }
}

@media (min-width: 1600px) {
    .header-left-element {
        position: absolute;
        left: -20px;
        bottom: -52px;
        display: block !important;
    }
    .header-right-element {
        position: absolute;
        bottom: -75px;
        right: 20px;
        display: block !important;
    }
}


/****Header Section ********/


/*******Gray Section*********/

.grey-section {
    background: #f5f7fc;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .grey-section {
        background: #f5f7fc;
        padding: 100px 0;
    }
}


/*******Gray Section*********/


/*********Second Section *****/

.second-section {
    padding: 0px 0px 30px 0px;
    background: #ffffff;
}

.header-list-block {
    border-radius: 0px 0px 20px 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}

@media (min-width: 768px) {
    .second-section {
        padding: 0px 0px 80px 0px;
        background: #fff url(https://cdn.oppyo.com/launches/jobiin/lite/second-sec-bg.webp) no-repeat;
        background-position: center center;
        overflow: hidden;
    }
    .header-list-block {
        padding: 40px 30px;
    }
}


/*********Second Section *****/


/******White Section ********/

.white-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .white-section {
        padding: 100px 0;
    }
}


/******White Section ********/


/*******Fifth Section *******/

.fifth-section {
    background: #fff url(https://cdn.oppyo.com/launches/jobiin/lite/proudlybg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px;
}

.bonus-wrapper {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: relative;
}

@media (min-width: 768px) {
    .fifth-section {
        padding: 100px 0px;
    }
    .bonus-wrapper {
        padding: 50px 30px 30px;
    }
    .bonus-wrapper img {
        position: absolute;
        top: -46px;
    }
}


/*******Fifth Section *******/


/***********Money Back ******/

.moneyback-section {
    background: #141516 url(https://cdn.oppyo.com/launches/jobiin/lite/moneyback-bg.svg) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .moneyback-section {
        padding: 70px 0px;
    }
}


/***********Money Back ******/


/*******Bonus Section ****/

.bonus-section {
    background: url(https://cdn.oppyo.com/launches/jobiin/lite/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .bonus-section {
        padding: 70px 0px;
    }
}


/*******Bonus Section ****/


/******Table section ******/

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

.tablebox2 {
    border: 1px solid #0a52e2;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tbbg2 {
    background: #0a52e2;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

ul.vgreytick li {
    background: url(https://cdn.oppyo.com/launches/jobiin/lite/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

ul.vgreytick {
    padding: 0px 15px;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

ul.vgreytick {
    padding: 0px 15px;
}

.tbbg2-text {
    color: #fff;
}

@media (min-width: 768px) {
    .table-section {
        padding: 100px 0px;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
}


/******Table section ******/


/**************Footer Section***********/

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/**************Footer Section***********/