body {
    font-family: 'Spartan', sans-serif;
    color: #000;
    font-size: 14px;
}


/* colors */

.purple {
    color: #f57c25;
}

.lite-black-clr {
    color: #240f75;
}

.greentext {
    color: #d8f67e;
}

.green-clr {
    color: #00ff84;
}

.yellow-clr {
    color: #fff600;
}

.white-clr {
    color: #fff;
}


/* Main Header Section CSS */

.main-header {
    background: #010617 url(../images/header-bg.webp);
    padding: 30px 0px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.yellow-bg {
    background: #ffcf69;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
}

.blue-head {
    color: #3f43ba;
}

.content-box {
    background: #fff;
    padding: 30px 15px;
    border-radius: 5px;
}

.video-frame {
    background: transparent;
}

.black-clr {
    color: #000000;
}

.main-header .highlight-heading {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgb(19 22 38 / 20%);
}

.post-heading {
    background: #ffffff;
    padding: 10px;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    text-align: center;
}


/* .post-heading span {
    transform: skew(10deg);
} */

@media (min-width: 768px) {
    .main-header .highlight-heading {
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
    }
    .post-heading {
        background: url(../images/pre-shape.png) no-repeat center center;
        background-size: contain;
        padding: 30px 40px 30px 110px;
        border-radius: 0px;
        text-align: left;
    }
    /*  .post-heading span {
        transform: skew(25deg);
        display: inline-block;
    } */
}

@media (min-width: 768px) {
    .rotate-5 {
        transform: skew(7deg);
    }
}


/* Affiliate Bonus Buy Button */

a.bonusbuy-btn {
    background: linear-gradient(0deg, #F55D87 10%, #CE14FD 100%);
    box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.45);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    border-radius: 8px;
    position: relative;
}

a.bonusbuy-btn:hover,
a.bonusbuy-btn:focus {
    border-radius: 8px;
    background: linear-gradient(0deg, #CE14FD 10%, #F55D87 90%);
    text-decoration: none;
}

@media (min-width: 768px) {
    .probtn a {
        padding: 27px 50px;
    }
    .yellow-bg {
        padding: 10px 20px;
    }
}


/* Bonus Header Section bg Start Main Css */

.bonus-header {
    padding: 30px 10px 0px 10px;
}

.heading-bg {
    background-color: #ee3725;
    border-radius: 10px;
    padding: 15px 15px;
    color: #ffffff;
}

.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #10a6f8;
    display: inline-block;
    text-transform: uppercase;
}

.section-bonus {
    padding: 30px 0px 0px 0px;
}

.cta-btn-section {
    padding: 30px 0px 0px 0px;
}

.bonus-title-color {
    color: #000000;
}

.bonus-list li {
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 4px;
    padding-left: 3rem;
    padding-bottom: 25px;
    list-style-type: none;
}

.bonus-list li:last-child {
    padding-bottom: 0px;
}

.mw-60 {
    max-width: 60%;
}


/* Huge Section background main CSS */

.huge-area {
    background: url(../images/huge-area.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
}

.white-section {
    background: rgb(255, 255, 255);
    padding: 30px 15px;
}


/* Footer Section Start Main CSS */

.strip_footer {
    background: #000;
    padding: 40px 0px 40px;
    color: #fff;
}

.strip_footer a {
    color: white;
}


/* Exit Pop Up Css Start */

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}


/* #ouibounce-modal .modal-body {
	padding: 0px 20px;
	font-size: .9em
} */

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.modal-body {
    position: relative;
    padding: 15px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 30px;
    opacity: 1;
    outline: none;
    color: #300476 !important;
    font-weight: 400;
    background: #ffe8cc !important;
    top: 1px;
    position: absolute;
    z-index: 2;
    right: 1px;
    padding: 0px 5px 0px 5px !important;
}

.modal-header .close {
    margin-top: -5px;
}

.innerbody {
    border-radius: 10px;
    margin-top: -1%;
    float: left;
    width: 100%;
}

.popupbg {
    background: url(../images/exitbg.png) repeat;
    padding: 8px 0px;
}


/* Media Querry Start */


/* For Header Bg */

@media(min-width:768px) {
    .main-header {
        padding: 80px 0px 100px 0px;
    }
    .content-box {
        background-color: #fff;
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
        border-radius: 25px;
        display: inline-block;
        box-shadow: -1.04px 4.891px 6px 0px rgba(19, 22, 38, 0.2);
    }
    .bonus-header {
        padding: 70px 0px 0px 0px;
    }
    .heading-bg {
        background: url(../images/head-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        padding: 50px 15px 100px 15px;
        background-size: 100% 100%;
    }
    a.bonusbuy-btn,
    a.bonusbuy-btn:focus {
        font-size: 36px;
        padding: 28px 74px 30px 74px;
        width: auto;
        line-height: 140%;
    }
    .section-bonus {
        padding: 30px 0px;
    }
    .cta-btn-section {
        padding: 100px 0px;
    }
    .huge-area {
        padding: 70px 0 70px;
    }
    .strip_footer {
        background: #09090a;
        padding: 50px 0px;
        color: #fff;
    }
}


/* Exit Popup CSS */

.link-btn a {
    background-color: #F33A3A;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    display: inline-block;
    border-radius: 2px;
    text-decoration: none;
    padding: 8px 60px;
}

.pop-padding {
    padding: 20px 30px 20px 30px;
}

.border-pop {
    border: 1px solid;
    padding: 30px;
    margin: 15px 0;
}

@media(max-width:767px) {
    .xstext1 {
        text-align: center;
    }
}

.section-host {
    padding: 30px 0px 0px;
    background: #ffffff url(../images/host-bg.png) no-repeat center center;
    background-size: cover;
}

.kapblue {
    color: #3f43ba;
}

@media (min-width: 768px) {
    .section-host {
        padding: 50px 0px 50px 0px;
    }
    .f-md-60 {
        font-size: 60px;
    }
}

.white-area {
    padding: 50px 15px;
}

.cta-btn-section.pt-3 {
    padding-bottom: 30px;
}

@media (min-width:768px) {
    .cta-btn-section.pt-3 {
        padding-bottom: 100px;
    }
}

.dark-cta-bg {
    background: #030210 url(../images/cta-sec.webp) no-repeat center center;
    background-size: cover;
}


/* .dark-cta-bg .countdown {
	color: #ffffff;
} */


/* grand bonus */
/* Header CSS */

.section-Profitable {
        padding: 30px 0px;
        background: #091274
    }
.section-Profitable .pre-heading {
        background: transparent;
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        position: relative;
        padding: 10px;
        border: 2px solid rgb(77 101 244);
}

.section-Profitable .key-features-bg {
	padding: 0px 20px;
	position: relative;
	width: 100%;
	text-align: center;
}

.section-Profitable .list-head li {
    background: url(../images/ninja-list-head.webp) no-repeat;
    padding: 15px 0px 15px 45px;
    background-position: 0px 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.section-Profitable .list-head li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}
.section-Profitable .affiliate-link-btn1 a {
    border-radius: 10px;
    background-image: -webkit-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -ms-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -moz-linear-gradient(#FFCD00 , #ED1C24);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}
.section-Profitable .affiliate-link-btn1 a:hover{
    background-image: -webkit-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -ms-linear-gradient(#FFCD00 , #ED1C24);
    background-image: -moz-linear-gradient(#FFCD00 , #ED1C24);
}

.section-Profitable .shape-head {
    background: url(../images/shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 20px;
    text-align: center;
}
.section-Profitable .video-box {
    position: relative;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.section-Profitable .list-head {
    list-style: none;
}
.section-Profitable .yellow-brush
{
	display: inline-block;
    background: url(https://cdn.oppyotest.com/launches/webgenie/preview/images/yellow-heading.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 50px;
}
.grey-clr {
    color: #D9D9D9;
}

.section-Profitable  .red-bg {
    border-radius: 25px;
    border: 1px solid #000;
    background: #FF2C2C;
    padding: 10px;
}
@media (min-width: 768px) {
	.section-Profitable {
            background: #091274 url(../images/header2-bg.webp) no-repeat center bottom;
            background-size: cover;
            padding: 40px 0px 30px 0px;
	}

    .section-Profitable  .red-bg {
        padding: 9px 30px;
        display: inline-block;
    }

    .section-Profitable	.pre-heading {
        padding: 15px 35px 15px 35px;
        border-radius: 40px;
	}


	.section-Profitable	.head-yellow{
		padding: 10px;
        background: #fffd40;
	}
    .section-Profitable .affiliate-link-btn1 a {
        font-size: 30px;
        padding: 30px 20px;
        width: auto;
    }

}
 
/* kyza section starts */
.list-head-ky li {
    background: url(../images/key-tick-ky.webp) no-repeat;
    padding: 8px 0px 8px 26px;
    background-position: 0px 12px;
    text-align: left;
    list-style: none;
}
.header-section-ky {
    background: #ffffff;
    padding: 30px 0px;
}
.header-section-ky .post-heading1 {
    background: #f8b2af;
    padding: 10px 30px 10px 115px;
    display: inline-block;
    border-radius: 50px;
    text-align: left;
}
.header-section-ky .stop-img {
    position: absolute;
    left: -5px;
}
@media (min-width: 768px) {
.header-section-ky {
    background: #ffffff url(../images/header-bg-ky.webp) no-repeat center center;
    background-size: cover;
    padding: 40px 0px 100px 0px;
}
}
.key-features-bg-ky {
    background: url(../images/key-features-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 20px 35px;
	    text-align: left;
}
.list-head-ky li {
    background: url(../images/key-tick-ky.webp) no-repeat;
    padding: 8px 0px 8px 26px;
    background-position: 0px 12px;
    text-align: left;
	list-style:none;
}
 /* kyza section ends */

/* MailGPT Css Starts */
.header-section-mailgpt {
    background: #fff url(../images/header-bg-mailgpt.webp) center bottom no-repeat;
    background-size: cover;
    padding: 30px 0px 40px 0px;
}
.header-section-mailgpt .pre-heading {
    background: transparent;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 2px solid rgba(10, 206, 228, 1);
}
.header-section-mailgpt .main-heading{
    background: transparent;
    background-size: cover;
    padding: 20px;
}
.text_1 {
	animation: text1;
  }
.text_2 {
animation: text2;
}
.text_3 {
animation: text3;
}

  .text_1, .text_2, .text_3 {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	animation-duration: 15s;
	animation-timing-function: steps(25, end);
	animation-iteration-count: infinite;
  }
  
  .text_1::after, .text_2::after .text_3::after {
	content: "|";
	position: absolute;
	right: 0;
	animation: caret infinite;
	animation-duration: 1s;
	animation-timing-function: steps(1, end);
  }
  
  @keyframes text2 {
	0%, 50%, 100% {
		width: 0;
	  }
	  
	  60%, 90% {
		width: 2em;
	  }
  }
  
  @keyframes text1 {
	0%, 50%, 100% {
		width: 0;
	  }
	  10%, 40% {
		width: 7em;
	  }
  }
 
  @keyframes caret {
	0%, 100% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
  }
  .header-section-mailgpt .post-heading {
	background: url(../images/post-heading.webp) no-repeat center center;
	background-size: cover;
	padding: 20px 45px 20px 44px;
}
.blue-gradient {
    background: #459EFF;
    background: linear-gradient(90deg, #459EFF 32.27%, #0ACEE4 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-section-mailgpt .list-head li {
    background: url(../images/pointer-mailgpt.webp) no-repeat;
    padding: 10px 0px 10px 50px;
    background-position: 0px 10px;
    text-align: left;
    list-style: none;
}
.key-features-bg {
    padding: 20px;
    position: relative;
    width: 100%;
}
.header-section-mailgpt .under {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #459EFF 32.27%, #0ACEE4 74%);
    border-image-slice: 1;
}
.header-section-mailgpt .list-highlight {
    background: linear-gradient(90deg, #0ACEE4 0%, #3093FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
@media (min-width: 768px) {
    .key-features-bg {
        padding: 0px 0px 30px 0px;
    }
    .header-section-mailgpt {
        padding: 40px 0px 70px 0px;
    }
    .header-section-mailgpt .pre-heading {
        padding: 10px 35px 10px 35px;
        border-radius: 40px;
    }
	.header-section-mailgpt .main-heading{
        background: url(../images/main-heading-bg-mailgpt.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 35px 25px 35px 25px;
    }
	.header-section-mailgpt .post-heading {
		padding: 20px;
	}
}

/* Tubetraffic */


.header-section-mailergpt {
    background: #0d0304;
    padding: 30px 0;
}
.header-section-mailergpt .pre-heading {
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    position: relative;
    padding: 10px;
}
.red-brush-top {
    background: #fd3013;
    padding: 10px;
    display: inline-block;
    padding: 10px 35px;
}
.header-section-mailergpt .post-heading {
    background: url(../images/post-heading1.webp) no-repeat center center;
    background-size: cover;
    padding: 20px 45px 20px 44px;
    display: inline-block;
}
.header-section-mailergpt .shape-head {
    background: url(../images/shape.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 20px;
    text-align: center;
}
.list-head {
    list-style: none;
}
.list-head li:first-child {
    padding-top: 0px;
}
.header-section-mailergpt .list-head li {
    background: url(../images/list-tick.webp) no-repeat;
    padding: 8px 0px 8px 30px;
    background-position: 0px 11px;
    text-align: left;
    border-bottom: solid 1px rgb(11, 11, 49);
}
@media (min-width: 768px){
.header-section-mailergpt {
    background: #091274 url(../images/jobiin-header-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 40px 0px 100px 0px;
    background-attachment: fixed;
}
.header-section-mailergpt   .pre-heading {
    padding: 15px 20px 15px 20px;
    border-radius: 40px;
    margin: 0px auto;
    background-color: transparent;
    outline: none;
    border: 2px solid #EFE1FF;
    border-width: 2px;
    border-style: solid;
}
.red-brush-top {
    background: url(../images/red-bursh.webp) no-repeat center center;
    padding: 10px 35px;
    display: inline-block;
}
.header-section-mailergpt .post-heading {
    padding: 20px;
}
}

/* Link-pro */


.linkpro-section {
    padding: 70px 0px;
}
.linkpro-section .orange-gradient {
    background: linear-gradient(180deg, #EF9823 0%, #F0592D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.linkpro-preheadline {
    display: inline-block;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 35px;
}
.linkpro-section .linkpro-gametext {
    background: linear-gradient(180deg, #EF9823 0%, #F0592D 100%);
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -52px;
    line-height: 30px;
    left: 25px;
    transform: skew(-10deg);
    border-radius: 5px;
}
.linkpro-section .d-none {
    display: none !important;
}
.linkpro-section .video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.linkpro-list li {
    background: url(../images/linkpro-fav.webp) no-repeat;
    padding: 10px 0px 10px 40px;
    background-position: 0px 16px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    list-style-type: none;
}
@media (min-width: 768px){
    .linkpro-section {
        background: #010e3a url(../images/linkpro-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 30px 0px;
    }
    .linkpro-preheadline {
        padding: 15px 30px;
    }
    .linkpro-section .d-md-block {
        display: block !important;
    }
    .linkpro-heading {
        background: url(../images/linkpro-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 35px 45px 35px 44px;
    }
}

.footer-section a:hover{
    color: white;
}