
/* Demo Section Start */

.demo-section {
    padding: 30px 0px;
    background: #eeeffb ;
}

@media (min-width: 768px) {
    .demo-section {
        background: #eeeffb  url(../images/demo-bg.png) no-repeat center center;
        padding: 100px 0px;
		background-size: cover;
    }
}


/* Demo Section End */


/* Feature 1 Section Start */

.features-one {
    background: rgb(9, 20, 120);
    background: -moz-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    background: linear-gradient(180deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1);
    padding: 30px 0px;
}

.features-headline {
    background-color: rgb(255, 88, 37);
    border-radius: 65px;
    padding: 20px;
    display: inline-block;
}

@media (min-width:768px) {
    .features-one {
        background: #ffffff url(../images/feature-bg1.png) no-repeat top center;
        padding: 180px 0px 100px 0px;
		background-size:cover;
    }
    .features-headline {
        border-radius: 65px;
        padding: 12px 15px;
    }
}


/* Feature 1 Section End */


/* Feature 2 Section Start */

.features-two {
    background: #eeeffb;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .features-two {
        padding: 100px 0px;
        background: #eeeffb;
    }
}


/* Feature 2 Section End */


/* Feature 3 Section Start */

.features-three {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .features-three {
        padding: 100px 0px;
    }
}


/* Feature 3 Section End */


/* Feature 4 Section Start */

.features-four {
    background-color:#eeeffb ;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .features-four {
        padding: 100px 0px;
    }
}


/* Feature 4 Section End */

.cloud {
    background-color: rgb(255, 88, 37);
    background-color: rgb(255, 88, 37);
    display: inline-block;
    margin: 0 auto;
    padding: 14px 20px;
    border-radius: 65px;
}


/* Feature 5 Section Start */

.features-five {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .features-five {
        padding: 100px 0px;
    }
    .cloud {
        padding: 16px 40px 12px 40px;
    }
	.fe-box-img img {
	max-width: 450px;
}
}


/* Feature 5 Section End */