html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #0E1846;
    font-size: 14px;
}

/* html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
} */

.caveat{
    font-family: 'Caveat', cursive;
}

/* Color CSS */
.a-link{
    text-decoration: none;
    color: #000;
}
.white-clr,
a.white-clr {
    color: #ffffff;
}

.black-clr {
    color: #121733;
}
.dark-blue{
    color: #0C081F;
}
.sky-blue {
    color: #01dffb;
}
.orange-clr {
    color: #F19B10;
}
/* Proudly there Section Start */
.purple-clr { color: #b052ff;}
.header-sec {
    padding: 20px 0px;
    background: #0d0238;
}


.tde {
    border-bottom: 2px solid #fff;
    padding: 0px 0px;
    border-top: 2px solid #fff;
    display: inline-flex;
}
.d-btn a {
    display: inline-block;
    background: linear-gradient(to right, #B956FF 0%, #6E33FF 100%);
    border-radius: 10px;
    padding: 12px 35px;
    color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    font-size: 20px;
}
.d-btn a:hover {
    text-decoration: none;
    background: linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
    transition: all .3s ease;
    
}
.mainheadline {
    display: inline-block;
    border-radius: 40px;
    background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
    padding:1px ;
    border-radius: 18px;

}
.mainheadline > div {
    background-color: #150a41;
    padding: 65px 25px 15px;
    border-radius: 20px;
}
@media(max-width:767px){
    .mainheadline:before {
        background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
        position: absolute;
        content: 'game changer';
        padding: 5px 10px;
        left: 13px;
        z-index: 99;
        top: 1px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        position: absolute;
        border-radius: 20px 0 0 0;
    }
}


@media(min-width:768px){

    .mainheadline {
        padding: 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/webinar-gift/main-heading.png) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 90px 12px 50px 12px;
    }
    .mainheadline > div {
        background-color: transparent;
        padding: 15px 25px;
        border-radius: 0px;
    }
    .mainheadline:before {
        position: absolute;
        content: 'game changer';
        padding:0px 40px;
        left: 47px;
        z-index: 99;
        top: 22px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        position: absolute;
    }
}
.head-design{
    background: #FFFFFF;
    border-radius: 0px 30px;
    padding: 15px;
}

.option-design {
    background: #FF2C2C;
    border: 2px solid #FF2C2C;
    border-radius: 38.5px;
    display: inline-block;
    padding: 8px 10px;
}
.underline-text {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/webinar-gift/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}

@media (min-width: 768px) {
    .header-sec {
        padding: 60px 0px 60px 0px;
        background: #fff url(https://cdn.dotcompaltest.com/uploads/launches/mavas/webinar-gift/proudlybg.png) no-repeat center bottom;
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
    }
    .head-design{
        padding: 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/webinar-gift/headline-bg.webp) no-repeat center center;
        background-size: 100% 100%
    }
    .option-design {
        padding: 8px 30px;
    }
    .underline-text {
        padding: 0px 0px 65px 0px;
}}
/**************Footer Section***********/

.footer-section {
    background: #05071A;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}
.gametext {
    background: #F19B10;
    padding: 5px 29px 5px 15px;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    top: -42px;
    z-index: 99;
    line-height: 32px;
    left: 0px;
    border-radius: 0px 150px 0px 0px;
    background: #F19B10;
}
@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
    .gametext {
        font-size: 22px;
    }
}
.head-design {
    padding: 30px;
}
/* Floating Btn */

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#7764ff;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#7764ff;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
.dark-cta-sec {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/webinar-gift/cta-btn-bg.webp) no-repeat;
    background-size: cover;
    padding: 30px 0px;
    position: relative;
    z-index: 9999;
}
a.bonusbuy-btn {
    border-radius: 10px;
   background: linear-gradient(to right, #6E33FF 0%, #B956FF 100%);;
    backdrop-filter: blur(10px);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    padding: 5px 20px;
    color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
}
a.bonusbuy-btn:hover{
    transition: all .3s ease;
    background: linear-gradient(to right, #b956ff 0%, #6e33ff 100%);
}
.yellow-clr {
    color: #F19B10;
}
@media (min-width: 768px) {
    .dark-cta-sec {
        padding: 60px 0px;
    }
    a.bonusbuy-btn {
        padding: 20px 50px;
        font-size: 35px;
    }
}
.underline-text {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/webinar-gift/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}
@media (min-width: 768px){
.underline-text {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/webinar-gift/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 65px 0px;
    background-size: contain;
}
}
.nexusgpt-header-section {
    background: #05071A;
    padding: 30px 0;
    position: relative;
}
.nexusgpt-pre-heading {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}
.nexusgpt-head-design {
    background: #FFFFFF;
    padding: 15px;
}
.nexusgpt-gametext {
    /* background: #F19B10; */
    padding: 5px 29px 5px 15px;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    top: -42px;
    z-index: 99;
    line-height: 32px;
    left: 0px;
    border-radius: 0px 150px 0px 0px;
    background: #F19B10;
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.nexusgpt-list-head {
    list-style: none;
}
.nexusgpt-list-head li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/webinar-gift/nexusgpt-fav.webp) no-repeat;
    padding: 15px 0px 15px 35px;
    background-position: 0px 21px;
    text-align: left;
    border-bottom: solid 1px #091e42;
}
.blue-section {

    padding: 30px 0px;
    background: #0D0238 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/webinar-gift/bonus-section.png) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
@media (min-width: 768px){

    .blue-section {
    
        padding:  40px 0px 100px 0px
        ;
    }}
@media (min-width: 768px) {
    .nexusgpt-head-design {
        padding: 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/webinar-gift/nexusgpt-headline-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .nexusgpt-header-section {
        padding: 80px 0px 100px 0px;
        background: #fff url(https://cdn.dotcompaltest.com/uploads/launches/mavas/webinar-gift/nexusgpt-header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .typing {
        font-size: 28px;
    }
    .footer-section {
        padding: 50px 0px;
    }
}
