html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #252525;
}

.orange-clr {
	color: #F2A736;
}

/* Header Section CSS */
.header-section {
    background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px;
	background-attachment: fixed;
	animation: shrink 5s infinite alternate;
	position: relative;
}
@keyframes shrink {
	0% {
	  background-size: 110% 110%;
	}
	100% {
	  background-size: 100% 100%;
	}
}
.video-box{
    position: relative; 
    padding: 20px; 
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
	backdrop-filter: blur(5px); 
    border-radius: 20px;
}

.ele1{
	position: absolute;
	bottom: -75px;
    left: -20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}	

.ele2{
	position: absolute;
	top: 400px;
    right: 20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}

@-webkit-keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}
@keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}

.preheadline {
    display: inline-block;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: solid 2px rgba(255, 255, 255, 0.25);
}

.probtn1 a {
    transition: all .3s ease;
    border-radius: 15px;
    background: #F2A737;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn1 a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}

@media(min-width:768px){
    .header-section {
        padding: 40px 0px 100px 0px; 
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 60px;
        display: inline-block;
        width: auto;
        border-radius: 100px;
    }
}

/* Success Section CSS */

/* List-section */
.header-list-block {
    border-radius: 0px 0px 20px 20px;
    padding: 20px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin: 0px;
}
.converting-shape {
    background-color: #ffb703;
    padding: 10px 30px;
    display: inline-block;
    border: 2px dashed #020d13;
    line-height: 30px;
	 border-radius: 65px;
}
@media (min-width: 768px) {
	.converting-shape {
    padding: 15px 40px 15px 40px;
    line-height: 100%;
}
    .highlihgt-heading {
        position: relative;
        padding: 15px 20px;
    }
	.header-list-block {
    padding: 80px 30px;
}
}

.second-section {
    padding:0px 0px 30px 0px;
    background: #ffffff;
}

.date-section-bg {
    background: url(https://cdn.oppyo.com/launches/viddeyo/elite/date-bg-image.webp) no-repeat center center;
    background-size: contain;
}

.xstext-center {
    text-align: center;
}

.formbg {
    padding: 20px;
}

@media(min-width:768px) {
    .second-section {
        padding:0px 0px 100px 0px;
        background: #ffffff url(https://cdn.oppyo.com/launches/viddeyo/elite/second-sec-bg.webp) no-repeat;
        background-position: center center;
    }
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
    /* .line-center { */
    /* transform: skew(20deg); */
    /* } */
}

.list-section {
	padding: 30px 0px;
	background: url(../images/list-section-bg.webp) no-repeat center center;
	background-size: cover;
}

.feature-list {
	padding: 15px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    background: #FFEED6;
    border: 3px solid #FFFFFF;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
}

@media(min-width:768px) {
	.list-section {
		padding: 100px 0px 50px 0px;
	}

}
.grey-section1 {
    background: #efedf7 url(https://cdn.oppyo.com/launches/viddeyo/elite/grey-bg.webp) no-repeat;
    background-position: center center;
    padding: 30px 0;
}
@media (min-width: 768px){
.grey-section1 {
    padding: 100px 0;
}}
/* List section End */

.third-section {
	padding: 70px 0px 30px 0px;
	background: #ffffff;
}

.exciting-inner-sec {
	background: url(../images/exiciting-inner-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 20px 15px;
	backdrop-filter: blur(3px);
	border-radius: 15px;
	max-width: 95%;
	margin: 0px auto;
}
.feature-shape {
    background-image: -moz-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    background-image: -webkit-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    background-image: -ms-linear-gradient( 45deg, #F2A736 0%, #E76D24 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}


@media (min-width: 768px) {
	.third-section {
		padding: 100px 0px 70px 0px;
	}
    /* .feature-shape:after {
        content: '';
        background: url(../images/line-shape.webp) no-repeat right bottom;
        padding: 22px 0;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -15px;
        right: -15px;
    } */
	.exciting-inner-sec {
		padding: 100px 0px;
		border-radius: 50px;
		width: 95%;
	}
}
@media(min-width:1600px) {
	.exciting-inner-sec {
		max-width: 85%;
	}
}


/* Presenting Section Start */
.presenting-sec{
	padding: 30px 0px;
	background: url(../images/introducing.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.presenting-wrap {
	padding: 0px 0px 15px 0px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	border-radius: 50px;
	border: solid 2px rgba(255, 255, 255, 0.25);
	max-width: 95%;
	margin: 20px auto 0px auto;
}
.presenting-head{
	background: url(../images/introducing-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 55px 70px 55px;
    display: inline-block;
	margin-top: -10px;
}
.ele3{
	position: absolute;
	top: 35%;
    right: 10%;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}
@media(min-width:768px){
	.presenting-sec{padding: 100px 0px;}
	.presenting-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}
	.presenting-head{
		padding: 20px 140px 140px 140px;
		margin-top: -20px;
	}

}
@media(min-width:1600px) {
	.presenting-wrap {
		max-width: 85%;
	}
}

/* Presenting Section End */

/********features*********/

.white-section {
    background: #fff;
    padding: 30px 0;
}

.grey-section {
    background: #f1f1f1 ;
    padding: 30px 0;
}

.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}

.features-title .size {
    max-height: 100px;
}

@media (min-width:768px) {
    .white-section {
        padding: 100px 0;
    }

    .grey-section {
        padding: 100px 0;
    }
}

/* Good Section Start */

.good-section {
    background: #f1f1f1;
    padding: 30px 0 0px 0px;
}

ul.good-list {
    padding: 0px;
    margin: 0px;
}
ul.good-list li {
    background: url(../images/point-icon.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
}

@media (min-width: 768px){
    .good-section {
        padding: 100px 0px 0px 0px;
    }
}

/* Moneyback Section CSS */

.moneyback-section {
	padding: 30px 0;
	background: #062D69 url(../images/prize-value.webp) no-repeat center center;
	background-size: cover;
	backdrop-filter: blur(5px);
}

@media (min-width: 768px) {
	.moneyback-section {
		padding: 100px 0;
	}
}

/*Table CSS Start*/

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

.tablebox2 {
    border: 1px solid #2447a2;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tbbg2 {
    background:#252525;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tbbg2-text {
    color: #fff;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(../images/list-check.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #2447a2;
}

.kapblue {
    color: #2447a2;
}

@media (min-width: 768px) {
    .table-section {
        padding: 70px 0 100px 0px;
        background: url(../images/table-bg.webp) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }

}

/* Footer Section CSS */

.footer-section {
    background: #252525;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 50px 0px;
    }
}