.feature-section {
    background: #ffffff url(../images/feature-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0 60px 0px;
}

.t-block1,
.t-block2,
.t-block3,
.t-block4 {
    padding: 15px;
    float: left;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.t-block1 {
    background: #e0f7fa;
}

.t-block2 {
    background: #f1f8e9;
}

.t-block3 {
    background: #fff3e0;
}

.t-block4 {
    background: #ffebee;
}

.timg {
    margin-top: -80px;
}

.pm-img {
    margin-top: -80px;
}

.pm-block {
    border-radius: 10px;
    background: #ffffff;
    padding: 30px;
    float: left;
    width: 100%;
    height: 100%;
}

.personalised,
.more-seo {
    background: #deeaff;
    padding: 30px 0px;
}

.secc-10 {
    background: #deeaff;
    padding: 30px 0px;
}

.secc-11 {
    background: url(../images/secc-11.webp) no-repeat top center;
    background-size: cover;
    padding: 100px 0px 30px 0px;
}

.ftr2-sec,
.ftr8-bg,
.ar-sec,
.last-app {
    background: #f9f9f9;
    padding: 30px 0px;
}

.c-block1,
.c-block2,
.c-block3,
.c-block4,
.c-block5,
.c-block6,
.c-block7,
.c-block8,
.c-block9,
.c-block10,
.c-block11,
.c-block12 {
    border-radius: 10px;
    padding: 30px;
    float: left;
    width: 100%;
}

.c-block1,
.c-block3 {
    background: #e0f7fa;
}

.c-block2,
.c-block4 {
    background: #ffebee;
}

.c-block5,
.c-block7 {
    background: #f1f8e9;
}

.c-block6 {
    background: #e3f2fd;
}

.c-block8 {
    background: #ede7f6;
}

.c-block9,
.c-block11 {
    background: #fff3e0;
}

.c-block10 {
    background: #ede7f6;
}

.c-block12 {
    background: #e3f2fd;
}

.c-img {
    margin-top: -80px;
}

@media(min-width:768px) {
    .last-app {
        background: #f9f9f9 url(../images/last-app.webp) no-repeat center center;
        padding: 100px 0px 100px;
    }
    .more-seo {
        background: #deeaff url(../images/more-seo.webp) no-repeat bottom center;
        padding: 100px 0px 100px;
    }
    .ar-sec {
        background: url(../images/ar-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 100px 0px 100px;
    }
    .personalised {
        background: #deeaff url(../images/personalised.webp) no-repeat center center;
        padding: 100px 0px 100px;
    }
    .ftr8-bg {
        background: #f9f9f9 url(../images/ftr8-bg.webp) no-repeat center center;
        padding: 100px 0px 100px;
    }
    .secc-10 {
        background: #deeaff url(../images/secc-10.webp) no-repeat bottom center;
        padding: 100px 0px 100px;
    }
    .secc-11 {
        padding: 120px 0px 100px;
    }
    .ftr2-sec {
        background: #f9f9f9 url(../images/ftr2-bg.webp) no-repeat center center;
        padding: 100px 0px;
    }
    .feature-section {
        padding: 100px 0px 140px;
    }
    .secc-11 {
        padding: 100px 0px;
    }
}