html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #020d13;
    font-size: 14px;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #020d13;
}

.orange-clr {
    color: #fb7b55;
}


/* Header Section CSS */

.header-section {
    background-color: #fff;
    padding: 5% 0;
}

@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
}

.logo-height {
    max-height: 45px;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

a.link-text {
    color: #020d13;
    text-decoration: none;
}

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.container-padding {
    padding: 30px 0;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.spatan {
    font-family: 'Spartan', sans-serif;
}

a.blue-clr {
    color: #003770;
}

@media(min-width:768px) {
    .footer-section {
        padding: 70px 0px;
    }
}

.lightred {
    color: #003770;
}

a.lightred {
    color: #003770;
}

.footer-ul li a:hover {
    color: #fff;
}

a.orange-clr:hover {
    color: #ff6a3d;
    text-decoration: none;
}