html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
    overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}

.blue-clr {
    color: #6e44ff;
}

.orange-clr {
    color: #ffa25b;
}

.red-clr {
    color: #ff0505;
}

.gradient-clr {
    background: #5425F5;
    background: linear-gradient(to right, #5425F5 30%, #f53789 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.preheadline {
    border-style: solid;
    border-width: 6px;
    border-color: #603ddb;
    background: #08041e;
    display: inline-block;
    border-radius: 65px;
    padding: 10px 35px;
}

span.highlight {
    border-bottom: solid 4px #fc6dab;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.d-inline-flex {
    display: inline-flex;
}

.relative {
    position: relative;
}

@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .xstext-center {
        text-align: center;
    }
}


/* Header Section Css Start */

.header-section {
    background: #6e44ff;
    padding: 30px 0px;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.header-section ul.leader-ul li a {
    color: #ffffff;
}

.border-video {
    border-radius: 20px;
}

.affiliate-link-btn a {
    border-radius: 3px;
    background-color: rgb(252, 109, 171);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 600;
}

.calendar-wrap {
    border-radius: 15px;
    background-color: rgb(240, 236, 255);
    padding: 10px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.calendar-wrap:before {
    content: '';
    background: url(../images/curve1.png) no-repeat;
    position: absolute;
    z-index: 1;
    top: -14px;
    left: -18px;
    background-size: contain;
    width: 161px;
    height: 121px;
    z-index: -1;
}

.calendar-wrap:after {
    content: '';
    background: url(../images/curve2.png) no-repeat;
    position: absolute;
    z-index: 1;
    right: -18px;
    bottom: -10px;
    background-size: contain;
    width: 282px;
    height: 38px;
    z-index: -1;
}

.calendar-wrap-inline {
    border-width: 1px;
    border-color: rgb(11, 11, 49);
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #08041e;
}

@media (min-width:768px) {
    .header-section {
        background: #6e44ff url(https://cdn.oppyo.com/launches/viddeyo/special/header-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 80px;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }
    .affiliate-link-btn a {
        padding: 12px 25px;
        font-size: 20px;
    }
    .affiliate-link-btn a:hover {
        background: #f2579a;
        color: #ffffff;
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
}


/* Header Section Css End */

.second-section {
    background: #f4f3f9 url(../images/second-section.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

ul.features-list {
    margin: 0px;
    padding: 0px;
}

ul.features-list li {
    background: url(../images/tick-icon.png) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

@media (min-width:768px) {
    .second-section {
        padding: 100px 0px;
    }
}


/* CTA Button Start */

a.cta-link-btn {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 6px;
    background-color: rgb(252, 109, 171);
    transition: all 0.5s;
}

a.cta-link-btn:hover {
    background: #f2579a;
    color: #ffffff;
    text-decoration: none;
    transform: scale(1.1);
    transition: all 0.5s;
}

@media (min-width: 768px) {
    a.cta-link-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
    }
}


/* CTA Button End*/


 .footer-section {
        background: #020d13;
        padding: 30px 0px;
    }
    
    .footer-ul {
        padding: 0px;
        margin: 0px;
    }
    
    .footer-ul li {
        display: inline;
    }
    
    @media (min-width: 768px) {
        .footer-section {
            padding: 50px 0px;
        }
    }
 
    /*Form-Style-Start*/
    
    .formbg {
        position: relative;
        padding: 15px;
        border-radius: 5px;
        background-color: #f4f3f9 ;
    }
    
    @media (min-width: 768px) {
        .formbg {
            padding: 40px 30px;
            border: none;
            border-radius: 15px;
        }
    }
    
    .width-form {
        width: 100%;
        float: left;
        padding: 0px 0px;
    }
    
    @media (min-width: 768px) {
        .width-form {
            width: 33%;
            padding: 0px 5px !important;
        }
    }

    .register-btn1 input[type="submit"] {
    border-radius: 3px;
    background-color: rgb(252, 109, 171);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 21px;
    color: #ffffff !important;
    font-weight: 600;
    width: 100%;
    border: none;
    height: 60px;
    }

    .register-btn1 input[type="submit"]:hover {
        background: #f2579a;
    }

    /*Form-Style-End*/