
.masthead{
	background-image: url('../img/background1.png');
	background-size: cover;
	background-position: bottom center;
	padding-top: 20px;
	padding-bottom: 0px;
}

.home1 .video_box iframe {
	width: 100%;
	height: 400px;

}
.home1 .content_box table td svg{
	color: #ffa705;
}
.home1 .content_box table td{
	border: none;
	padding-bottom: 10px;
	padding-top: 0px;
	line-height: 22px;
}

.home1 .shadow1{
  background-color: #fff;
  padding: 10px 0;
}


.home1_footer{
		background-color: #C0F1FF;
}

.home2{
	background-color: #C0F1FF;
}


.home2 .content .box_text1{
	padding: 30px;
	background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(165,165,165,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* ie10+ */
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(165,165,165,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#A5A5A5',GradientType=1 ); /* ie6-9 */
	border-radius: 15px;
}

.home2 .box_text{
	background-color: #fff;
	box-shadow: 30px 30px 100px 0px rgba(0,0,0,0.5);
	border-radius: 30px;
	padding: 70px 30px;
}
.home2 .box_text img{
	width: 70px;
} 

.home3{
	background-image: url('../img/background3.png');
	background-size: cover;
	background-position: top center;	
	padding-bottom: 10%;
}

.home4{
	background-image: url('../img/background4.png');
	background-size: cover;
	background-position: top left;	 
	margin-top: -10%;
}

.home5{
	background-color: #091166;
}

.home6{
	background-image: url('../img/background6.png');
	background-size: cover;
	background-position: bottom;	 
	position: relative;
	z-index: 10;
}

.home6 .content .item{
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
	padding: 10px 10px 30px;
	margin-bottom: 100px;
}
.home6 .content .item img{
	padding: 20px;
	max-width: 200px;
	margin-top: -100px;
}
.home6 .content .item p{
	padding: 20px;
	margin-bottom: 0px;
}
.home6 .content .item h2{
	padding: 0px;
}
.home6 .content .item .box_yellow{
	background: #fccc00;
	margin: -80px -10px -10px;
	height: 150px;
	padding-top: 80px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.home7{
	position: relative;
	z-index: 5;
	margin-top: -10%;
	background-image: url('../img/background7.png');
	background-size: cover;
	background-position: bottom;	 
	padding-top: 15%;
	padding-bottom: 10%;
}

.home7 .content h2{
	padding: 10px 20px;
	border-radius: 20px;
	background-color: #ffa705;

}

.home8{
	position: relative;
	margin-top: -23%;
	padding-top: 28%;
	z-index: 1;
	background-image: url('../img/background8.png');
	background-size: cover;
	background-position: top;	 
}

.home9 .header{
	background-image: url('../img/background9.png');
	background-size: cover;
	background-position: bottom;
	padding-bottom: 180px; 
}

.home9 .header h2 span{
	background-color: #c82222;
}

.home9 .content {
	margin-top: -150px;
}

.home9 .content .item{
	min-height: 280px;
	padding: 30px 20px 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 13.856px 30px 0px rgba(0, 0, 0, 0.3);
}

.home10{
	background-image: url('../img/background10.png');
	background-size: cover;
	background-position: top;
}

.home10 .row1 {
	background-image: url('../img/home10_1.png');
	background-position: left;
	background-repeat: no-repeat;
	height: 900px;
}

.home10 .row1 img{
	margin-left: -1.5rem;
}

.home10 .row1 h2{
	margin-top: 300px;
}

.home10 .row2 {
	min-height: 500px;
}

.home10 .row2 {
	background-image: url('../img/home10_2.png');
	background-position: right;
	background-repeat: no-repeat;
	height: 500px;
}

.home11{
	background-image: url('../img/background11.png');
	background-size: cover;
	background-position: center center;
}

.home11 .content {
	background-image: url('../img/home11_1.png');
	background-position: right;
	background-repeat: no-repeat;
	height: 900px;
}

.home11 .content li{
	margin-bottom: 30px;
}

.home12 {
	background-image: url('../img/background12.png');
	background-size: cover;
	background-position: bottom;
	height: 600px;
}

.home12 .content h2 span{
	display: inline-block;
	padding: 20px;
	background-color: #ffa705;
}

.home13 {
	margin-top: 200px;
	background-image: url('../img/background13.png');
	background-size: cover;
	background-position: top;
}

.home13 .video_box iframe{
	width: 100%;
}

.home13b {
	background-image: url('../img/background13b.png');
	background-size: cover;
	background-position: top;
}

.home14{
	background-image: url('../img/background14.png');
	background-size: cover;
	background-position: top;
}
.home15{
	background-color: #b7e4ff;
}

.home15 .header a{
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 36px;
}

.home15b{
	background-color: #091166;
}

.home16{
	background-image: url('../img/background16.png');
	background-size: cover;
	background-position: bottom;
}

.home17{
	background-image: url('../img/background17.png');
	background-size: cover;
	background-position: bottom;
	position: relative;
	z-index: 100;
}

.home18{
	position: relative;
	z-index: 1;
	margin-top: -5%;
	padding-top: 150px;
	background-image: url('../img/background8.png');
	background-size: cover;
}

.home21{
	background-color: #ebf5fc;
}
.home22 ul li{
	list-style: none;
}
