/* affiliate banner css */

.affiliate-banner {
    background: #1b2771;
    padding: 70px 0px 0px;
}

.affiliate-banner-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    color: #ffffff;
    position: relative;
}

.affiliate-banner-title:before {
    display: inline-block;
    content: '';
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin-right: 5px;
    background: #ffea00;
}

.affiliate-banner .headline {
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;
}

.affiliate-banner .banner-subtitle {
    color: #b3adc2;
}

@media (min-width: 768px) {
    .affiliate-banner .headline {
        font-size: 36px;
    }
    .affiliate-banner {
        padding: 120px 0px 30px;
        background: #1b2771 url(../images/affiliate-banner-bg.webp) no-repeat center bottom;
        background-size: contain;
    }
    .affiliate-banner-title {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .affiliate-banner .headline {
        font-size: 48px;
    }
    .affiliate-banner-title {
        font-size: 16px;
    }
    .affiliate-banner-title:before {
        width: 10px;
        height: 10px;
    }
}

@media (min-width: 1200px) {
    .affiliate-banner {
        padding: 150px 0px 50px;
        background: #1b2771 url(../images/affiliate-banner-bg.webp) no-repeat center bottom;
        background-size: auto;
    }
    .affiliate-banner-title {
        font-size: 20px;
    }
}


/* working affiliate program */

.working-affiliate {
    padding: 30px 0px;
}

.working-affiliate {
    background: #f3f4fc;
}

.working-affiliate-box {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 19px 0px rgba(90, 90, 90, 0.15);
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 30px 50px;
}

a.base-btn.sign-h50,
.base-btn.sign-h50,
.base-btn.sign-h50:hover,
.base-btn.sign-h50:hover,
.base-btn.sign-h50:active,
.base-btn.sign-h50:active,
a.base-btn.sign-h50:focus,
.base-btn.sign-h50:focus {
    padding: 10px 20px;
}

@media (min-width:768px) {
    .working-affiliate-box {
        height: 190px;
        max-height: 190px;
        width: 100%;
        max-width: 100%;
        padding: 30px 15px;
    }
    a.base-btn.sign-h50,
    .base-btn.sign-h50,
    .base-btn.sign-h50:hover,
    .base-btn.sign-h50:hover,
    .base-btn.sign-h50:active,
    .base-btn.sign-h50:active,
    a.base-btn.sign-h50:focus,
    .base-btn.sign-h50:focus {
        padding: 13px 30px;
    }
}

@media (min-width:1200px) {
    .working-affiliate {
        padding: 100px 0px;
    }
    .working-affiliate-box {
        height: 190px;
        max-height: 190px;
        width: 310px;
        max-width: 310px;
        padding: 30px 50px;
        margin: auto;
    }
    .curve-line {
        background: url(../images/curve-line.webp);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
}


/* affiliate prefer */

.affiliate-prefer {
    background: #f3f4fc;
    padding: 15px;
}

.affiliate-prefer .description {
    color: #34303f;
}

.affiliate-prefer .title {
    font-family: 'Fira Sans', sans-serif;
}


/* query */

.query-title {
    font-size: 26px;
}

.white-blue-bg1 {
    position: relative;
    padding-bottom: 30px;
    background: #1b2771;
    padding-top: 30px;
}

.query-desc {
    line-height: 150%;
    color: #cfcbd8;
}

.affiliate-content-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    color: #34303f;
}


/* terms and condition */

.term-cond {
    padding: 30px 0px;
}

.section-title .title-1,
.query-title {
    font-size: 28px;
    font-family: 'Fira Sans', sans-serif;
}

@media (min-width: 992px) {
    .affiliate-prefer {
        padding: 75px 70px 90px;
    }
    .section-title .title-1,
    .query-title {
        font-size: 48px;
    }
    .white-blue-bg1 {
        padding-top: 0px;
        padding-bottom: 155px;
        background: #1b2771 url(../images/query-bg.webp);
        background-position: bottom;
        background-size: initial;
        z-index: 3;
    }
    .white-blue-bg1:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 33%;
        background: #fff;
        z-index: -1;
    }
    .term-cond {
        padding: 100px 0px;
    }
}

@media (min-width: 768x) {
    .section-title .title-1,
    .query-title {
        font-size: 36px;
    }
}