/* Pricing Page CSS */


/* Pricing page css */

.pricing-banner {
    background: #1b2771;
    padding: 30px 0px;
}

.pricing-banner .pre-title {
    color: #b3adc2;
}

.pricing-banner .title {
    color: #fff;
}

.pricing-banner .sub-title {
    color: #cfcbd8;
}

.pricing-right-border .title {
    font-size: 18px;
    line-height: 140%;
    font-weight: 700;
    color: #ffffff;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .pricing-right-border .title {
        font-size: 20px;
    }
}

.pricing-right-border .subtitle {
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    color: #a19cac;
    margin-top: 2px;
}

.save-upto-back {
    background: url(../images/save-upto-back.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 15px 20px 10px;
    position: absolute;
    right: -0px;
    top: -40px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
}

@media (min-width:768px) {
    .save-upto-back {
        right: -20px;
        top: -40px;
        padding: 18px 24px 12px;
    }
    .pricing-banner {
        background: #1b2771 url(../images/pricing.webp) no-repeat;
        background-position: center bottom;
        background-size: cover;
        padding: 88px 0px 100px 0px;
    }
    .pricing-right-border {
        position: relative;
    }
    .pricing-right-border:after {
        position: absolute;
        content: '';
        min-height: 100px;
        width: 1px;
        right: 0px;
        top: 0px;
        background: #2c1d4e;
    }
    .pricing-right-border:last-child:after {
        display: none;
    }
    .pricing-right-border .title {
        font-size: 24px;
    }
    .pricing-right-border .subtitle {
        font-size: 16px;
    }
    .save-upto-back {
        right: -25px;
        top: -28px;
        font-size: 12px;
    }
}

.pricing-spilt-dropdown,
.pricing-spilt-dropdown .dropdown-menu {
    width: 200px;
    max-height: 180px;
}

@media (min-width:768px) {
    .pricing-spilt-dropdown .dropdown-menu a.dropdown-item {
        font-size: 16px;
    }
}

ul.pricing-tabs {
    margin: 0;
    padding: 0;
    border: 0px;
    display: inline-flex;
    border-radius: 0px;
}

@media (min-width:768px) {
    ul.pricing-tabs li.nav-item {
        min-width: 292px;
        text-align: center;
    }
}

ul.pricing-tabs {
    position: relative;
}

ul.pricing-tabs .nav-link {
    border-radius: 0px;
    padding: 12px 30px;
    color: #a19cac;
    font-size: 16px;
    font-weight: 400;
    background: transparent;
    border: 1px solid #ffffff;
}

ul.pricing-tabs .nav-link:focus,
ul.pricing-tabs .nav-link:hover {
    border: 1px solid #ffffff;
}

ul.pricing-tabs .nav-item.show .nav-link,
ul.pricing-tabs .nav-link.active {
    color: #1b122e;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

ul.pricing-tabs .nav-item:first-child .nav-link {
    border-radius: 5px 0px 0px 5px;
}

ul.pricing-tabs .nav-item:last-child .nav-link {
    border-radius: 0px 5px 5px 0px;
}

.pricing-table-container {
    position: relative;
    margin-top: 0px;
}

.pricing-table-box {
    background: #ffffff;
    position: relative;
    margin-top: 31px;
    width: 100%;
}

.table-boxbg {
    background: #eef0f9;
    /* border-top: 0px; */
}

@media(max-width:767px) {
    .table-subtitle {
        margin-top: 31px;
    }
    .pricing-table-box {
        margin-top: 0px;
    }
}

.table-subtitle {
    font-size: 11px;
    color: #ffffff;
    font-weight: 400;
    line-height: 120%;
    background: #000000;
    border-radius: 5px 5px 0px 0px;
    padding: 6px 5px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: -34px;
}

@media(min-width:768px) {
    ul.pricing-tabs .nav-link {
        font-size: 18px;
    }
    .pricing-table-container {
        position: relative;
        margin-top: 0px;
    }
    .border-l-0 {
        border-left: hidden;
    }
    .border-r-0 {
        border-right: hidden !important;
    }
    .border-lr-0 {
        border-left: hidden;
        border-right: hidden;
    }
    /* .pricing-table-box.first-coloum-radius{	
	border-radius: 5px 0px 0px 5px;
} */
    .pricing-table-box.last-coloum-radius {
        border-radius: 0px 5px 5px 0px;
    }
    .table-subtitle {
        min-height: 25px;
        top: -25px;
    }
}

@media(min-width:1200px) {
    .table-subtitle {
        font-size: 14px;
    }
}


/*.pricing-table-area{
	border-radius: 5px;
	overflow: hidden;
}
*/


/* Table Header */

.pricing-table-box .pricing-table-header {
    padding: 15px 15px 0px 15px;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    border-bottom: 0px;
    border-right: 0px;
}

.owl-item:last-of-type .pricing-table-box .pricing-table-header {
    border-right: 1px solid #e9e9e9;
}

.pricing-table-box .pricing-table-header.header-limited-pric {
    padding: 28px 5px 15px;
}

.pricing-table-box .pricing-table-header.border-r0px {
    border-right: 0px;
}

.pricing-table-box.table-boxbg .pricing-table-header {
    background: #eef0f9;
}

.pricing-buy-btn-wrap {
    padding: 15px;
    text-align: left;
    border-left: 1px solid #e9e9e9;
}

.owl-item:last-of-type .pricing-buy-btn-wrap {
    border-right: 1px solid #e9e9e9;
}

.pricing-buy-btn-wrap.border-left0 {
    border-left: 0px;
}

@media (min-width:768px) and (max-width:1191px) {
    .pricing-table-box .pricing-table-header {
        padding: 15px 10px 0px;
    }
}

.pricing-table-header .title {
    font-size: 40px;
    font-weight: 700;
    color: #5c6ac4;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px
}

.pricing-table-header .sub-title {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    line-height: 120%;
    margin-bottom: 7px
}

.pricing-table-header .red-title {
    font-size: 14px;
    font-weight: 500;
    color: #ff2332;
    line-height: 140%;
}

.m-blue-sub-title {
    font-size: 16px;
    font-weight: 400;
    color: #5c6ac4;
    line-height: 140%;
}

.pricing-table-box .sub-title {
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    line-height: 160%;
    margin-top: 7px;
    margin-bottom: 15px;
}

.pricing-table-header .description {
    font-size: 16px;
    font-weight: 400;
    color: #34303f;
    line-height: 120%;
    margin-bottom: 12px;
}

.pricing-table-box.table-boxbg .sub-title,
.pricing-table-box.table-boxbg .description {
    color: #000000;
}

.pricing-table-box .pricing {
    display: flex;
    justify-content: left;
}

.pricing-table-box .pricing .dollor {
    font-size: 26px;
    color: #34303f;
    font-weight: 500;
    position: relative;
    align-self: baseline;
    top: -4px;
}

.pricing-table-box .pricing .value {
    font-size: 40px;
    color: #000000;
    line-height: 100%;
    font-weight: 700;
}

.pricing-table-box .pricing .month {
    font-size: 12px;
    color: #34303f;
    font-weight: 500;
    line-height: 100%;
    padding-left: 0px;
    position: relative;
    top: -8px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.pricing-table-box .price-btn,
.pricing-table-bottom .price-btn {
    display: block;
    text-align: center;
    padding: 13px 10px;
    font-size: 18px;
    font-weight: 400;
    color: #5c6ac4;
    border: solid 1px #5c6ac4;
    border-radius: 5px;
    text-decoration: none;
}

.pricing-table-box .price-btn:hover {
    background: #5c6ac4;
    color: #ffffff;
}

.pricing-table-box .price-btn.active,
.pricing-table-bottom .price-btn.active {
    background: #5c6ac4;
    color: #ffffff;
}

.pricing-table-box .price-btn.active:hover,
.pricing-table-box .price-btn.active:focus,
.pricing-table-bottom .price-btn.active:hover,
.pricing-table-bottom .price-btn.active:focus {
    background: #5462ba;
}

.pricing-table-box .price-btn.current-plan,
.pricing-table-box .price-btn:hover.current-plan,
.pricing-table-box .price-btn:focus.current-plan,
.pricing-table-bottom .price-btn.current-plan,
.pricing-table-bottom .price-btn:hover.current-plan,
.pricing-table-bottom.price-btn:focus.current-plan {
    color: #010101 !important;
    border: solid 1px #ced4d8 !important;
    background: #eff3f6 !important;
}


/* Pricing Table Content */

.pricing-table-box .pricing-table-content {
    padding: 0px;
}

.pricing-table-box.table-boxbg .pricing-table-header {
    padding: 40px 15px 15px;
}

.pricing-table-box .price-table-heading {
    font-size: 16px;
    margin-top: 15px;
    color: #000000;
    font-weight: 700;
    padding: 10px 0px 10px 20px;
    margin-top: 0px;
    background: #f7f7fc;
    margin-bottom: 0px;
}

.owl-item:first-of-type .pricing-table-box .price-table-heading {
    border-left: 1px solid #e9e9e9;
}

.owl-item:last-of-type .pricing-table-box .price-table-heading {
    border-right: 1px solid #e9e9e9;
}

@media (min-width: 768px) {
    .pricing-table-box .price-table-heading {
        margin-top: 0px;
        min-height: 42px;
    }
    .pricing-table-box .sub-title {
        margin-bottom: 20px;
    }
    .pricing-table-bottom {
        text-align: center;
        padding: 15px 30px 40px;
        border: 1px solid #e9e9e9;
        border-top: 0px;
        border-right: 0px;
    }
    .md-bottom-button .col-md-3:last-of-type .pricing-table-bottom {
        border-right: 1px solid #e9e9e9;
    }
    .pricing-table-bottom.border-l-0 {
        border-left: 0px;
    }
    .pricing-table-bottom.first-coloum-radius {
        border-radius: 0px 0px 0px 5px;
    }
    .pricing-table-bottom.last-coloum-radius {
        border-radius: 0px 0px 5px 0px;
    }
    .pricing-table-box.first-coloum-radius,
    .pricing-table-box.first-coloum-radius .pricing-table-header {
        border-radius: 5px 0px 0px 0px;
    }
    .pricing-table-box.last-coloum-radius,
    .pricing-table-box.last-coloum-radius .pricing-table-header {
        border-radius: 0px 5px 0px 0px;
    }
    .pricing-buy-btn-wrap {
        padding: 12px;
    }
    .pricing-table-content ul.features li.blank-list-li,
    .pricing-table-content.active ul.features li.blank-list-li {
        padding-right: 45px;
    }
    .pricing-table-box .price-btn,
    .pricing-table-bottom .price-btn {
        padding: 13px 10px;
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .pricing-table-box .price-btn,
    .pricing-table-bottom .price-btn {
        padding: 13px;
        font-size: 18px;
        border: solid 1px #5c6ac4;
    }
    .pricing-buy-btn-wrap {
        padding: 12px 30px 30px;
    }
    .pricing-table-box .pricing {
        padding-right: 0px;
    }
    .pricing-table-box .pricing .dollor {
        font-size: 34px;
        top: -8px;
    }
    .pricing-table-box .pricing .value {
        font-size: 48px;
    }
    .pricing-table-box .pricing .month {
        font-size: 15px;
        top: -6px;
    }
    .pricing-table-box .pricing-table-header,
    .pricing-table-box.table-boxbg .pricing-table-header {
        padding: 18px 15px 0px 30px;
    }
    .pricing-table-box .pricing-table-header.header-limited-pric {
        padding: 18px 30px 0px;
    }
}

.pricing-table-content ul.features {
    margin: 0px;
}

.owl-item:last-of-type .pricing-table-content ul.features {
    border-right: 1px solid #e9e9e9;
}

.pricing-table-content ul.features {
    margin: 0px;
    border-left: 1px solid #e9e9e9;
    padding-left: 45px;
    padding-bottom: 15px;
}

.pricing-table-content ul.features li.blank-list-li,
.pricing-table-content.active ul.features li.blank-list-li {
    padding-right: 45px;
}

@media (min-width:768px) {
    .pricing-table-content ul.features {
        padding-bottom: 30px;
    }
    .pricing-table-box .price-table-heading {
        font-size: 12px;
    }
}

.limited-pricing .pricing-table-content ul.features {
    border-right: 0px;
}

.pricing-table-content ul.features li {
    list-style: none;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    min-width: 22px;
    min-height: 22px;
    padding: 8px 10px 8px 0px;
    position: relative;
}

.pricing-table-content ul.features li:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #000000;
    top: 14px;
    left: -17px;
    border-radius: 50%;
}

.limited-pricing .pricing-table-content ul.features li:before {
    background: #5c6ac4;
}

.pricing-table-content ul.features.w400 li {
    font-weight: 400;
}

.includes-back {
    background: #000000;
    padding: 5px;
    display: block;
    text-align: center;
    color: #ffffff;
    line-height: 120%;
    min-height: 30px;
    margin-top: 15px;
    border-right: 1px solid #f1f1f1;
}

.limited-pricing .includes-back {
    border-right: 0px;
}


/* Pricing Table Bottom */

.pricing-table-box .pricing-table-bottom {
    padding: 15px;
    text-align: center;
    border-right: 1px solid #f1f1f1;
}

.xs-buy-btn-border {
    border-right: 1px solid #f1f1f1;
}

.pricing-table-bottom .viewmore,
.pricing-table-bottom .viewmore:hover {
    font-size: 14px;
    font-weight: 400;
    color: #5c6ac4;
}

@media (min-width:768px) {
    .pricing-table-content ul.features li {
        font-size: 15px;
    }
    .includes-back {
        margin-top: 20px;
    }
}

@media (min-width:1200px) {
    .pricing-table-bottom .viewmore,
    .pricing-table-bottom .viewmore:hover {
        font-size: 16px;
    }
    .pricing-table-box.first-coloum-radius .pricing-table-header,
    .pricing-table-box .pricing-table-header.header-limited-pric {
        padding: 18px 0px 0px 29px;
    }
    .pricing-table-content ul.features li {
        padding: 8px 8px 8px 0px;
    }
    .pricing-table-box .price-table-heading {
        font-size: 18px;
    }
}

@media (min-width:768px) and (max-width:1191px) {
    .pricing-table-box .pricing-table-bottom {
        padding: 30px 15px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pricing-table-box .pricing-table-header.header-limited-pric {
        padding: 15px 10px 0px;
    }
    .pricing-table-header .title {
        font-size: 34px;
    }
    .pricing-table-header .red-title,
    .m-blue-sub-title,
    .pricing-table-box .sub-title {
        font-size: 12px;
    }
    .price-btn.mb28.mt39.mt-md44 {
        margin-top: 58px !important;
    }
    .pricing-table-content ul.features li {
        font-size: 12px;
        padding: 8px 9px 4px 0px;
    }
    .pricing-table-content ul.features {
        padding-left: 18px;
        padding-bottom: 15px;
    }
    .pricing-table-content ul.features li:before {
        width: 4px;
        height: 4px;
        left: -11px;
    }
    .includes-back {
        height: 50px;
    }
    .pricing-table-box .price-table-heading {
        padding: 10px 0px 10px 10px;
    }
    .pricing-table-content ul.features li.blank-list-li,
    .pricing-table-content.active ul.features li.blank-list-li {
        padding-right: 18px;
    }
}

.pricing-table-content ul.features li.blank-list-li,
.pricing-table-content.active ul.features li.blank-list-li {
    background-image: none;
    color: #aaa6b3;
    font-size: 20px;
}

.pricing-table-content ul.features li.blank-list-li:before,
.pricing-table-content.active ul.features li.blank-list-li:before {
    display: none;
}


/* Frequently Asked Questions Css */

.faq-banner {
    background: #f4f9fc;
}

ul.faq-question {
    margin: 0;
    padding: 0;
}

ul.faq-question li {
    float: left;
    border-bottom: solid 1px #ced4d8;
    padding: 15px 0px;
    width: 100%;
    background: url(../images/faq-circle.webp) no-repeat center left;
    min-width: 6px;
    min-height: 6px;
    padding-left: 26px;
    list-style: none;
}

ul.faq-question li a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #34303f;
}

@media (min-width:768px) {
    ul.faq-question li {
        width: 43%;
        margin-right: 7%;
        padding: 25px 0px;
        padding-left: 26px;
    }
    ul.faq-question li a {
        font-size: 16px;
        font-weight: 500;
    }
}

ul.faq-question li:last-child,
ul.faq-question li:nth-last-child(2) {
    border-bottom: hidden;
}

ul.faq-question li a:hover {
    color: #5c6ac4;
}


/* Solution Price Table CSS */

.solution-table-heading {
    padding: 50px 15px 34px;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 5px;
    height: 100%;
}

.table-price-section {
    padding: 20px 10px;
    border: 1px solid #f1f1f1;
    border-left: 0px;
    height: 100%
}

.table-price-section.table-price-section-radius {
    border-top-right-radius: 5px;
}

.solution-blue-text {
    color: #5c6ac4;
    font-weight: 700;
    margin-right: 8px;
    margin-top: 2px;
    font-size: 14px;
}

.solution-price-text {
    line-height: 100%;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

.solution-price-text sup {
    font-size: 18px;
    font-weight: 500;
    top: -0.53em;
}

.solution-price-text span {
    font-size: 12px;
    font-weight: 500;
    color: #34303f;
}

a.price-btn-h30 {
    border: 1px solid #5c6ac4;
    background: #ffffff;
    border-radius: 5px;
    padding: 3px 5px;
    display: block;
    color: #000000;
    font-weight: 700;
    font-size: 16px !important;
    display: block;
}

a.price-btn-h30.current-plan,
a.price-btn-h30:hover.current-plan a.price-btn-h30:focus.current-plan {
    background: #eff3f6 !important;
    border: solid 1px #ced4d8 !important;
    color: #010101 !important;
}

.popular-solutuin-price {
    background: #e9ebf5;
}

a.price-btn-h30:hover,
a.price-btn-h30:focus {
    background-color: #5462ba;
    color: #ffffff;
    padding: 3px 5px;
    display: block;
    border-color: #5462ba;
    box-shadow: none;
    outline: none;
    font-size: 16px !important;
}

.popular-solutuin-price a.price-btn-h30 {
    background-color: #5c6ac4;
    color: #ffffff;
    padding: 3px 12px;
    display: block;
    border-color: #5c6ac4;
    box-shadow: none;
    outline: none;
}

.popular-solutuin-price a.price-btn-h30:hover,
.popular-solutuin-price a.price-btn-h30:focus {
    background: #5462ba;
}

.purchase-now-text {
    color: #5c6ac4;
}

.popular-solutuin-price .purchase-now-text {
    color: #ffffff;
}

.solution-table-responsive {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.price-dropdown-option {
    padding: 20px;
}

.price-dropdown-option .bootstrap-select>.select-btn-style,
.price-dropdown-option .bootstrap-select>.select-btn-style:hover,
.price-dropdown-option .bootstrap-select>.select-btn-style:focus {
    height: 30px;
    padding: 4px 15px;
}

.price-accordion .card-header {
    padding: 15px;
    padding-left: 0px;
    background: #ffffff;
    border: 0px;
}

.price-accordion .card-header a {
    margin-left: 10px;
}

.price-accordion .card {
    border: 0px;
    position: relative;
}

.price-accordion .card-header {
    border: 0px;
    position: relative;
    display: flex;
    align-items: center;
}

.price-accordion .card-header::after {
    content: " ";
    display: block;
    position: absolute;
    height: 1px;
    background: #f1f1f1;
    width: 282%;
    left: 0px;
    top: 99%;
}

.price-accordion .card .card-header a {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
}

.price-accordion .card-body {
    padding: 0px 0px 2px;
    margin-bottom: 15px;
}

.price-accordion .card .card-header::before {
    font-family: 'icomoon';
    content: "\a336";
    color: #000000;
    font-size: 12px;
    top: 0px;
    width: 25px;
    height: 25px;
    background: #eaecf3;
    border-radius: 50%;
    display: inline-block;
    line-height: 25px;
    text-align: center;
}

.price-accordion .card .card-header.collapsed::before {
    font-family: 'icomoon';
    content: "\a338";
}

.price-table-row:nth-child(odd) .price-table-col1 {
    background: #ffffff;
    padding: 13px;
    height: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
}

.price-table-row:nth-child(even) .price-table-col1 {
    background: #f9fafb;
    padding: 13px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*.price-table-row:nth-child(odd) .price-table-col1.active{
     background: #eef0f9;
}
.price-table-row:nth-child(even) .price-table-col1.active{
    background: #e9ebf5;
} */

.price-table-row .price-table-col1 {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    border-left: solid 1px #f1f1f1;
}

.price-table-row> :first-child .price-table-col1 {
    padding-left: 30px;
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
    border-left: hidden;
}

a.price-info-icon {
    font-size: 10px;
    margin-left: 5px;
    color: #7f7c88;
    text-decoration: none;
}

a.price-info-icon:hover,
a.price-info-icon:focus {
    color: #5c6ac4;
}

@media (min-width: 768px) {
    .price-accordion .card-header::after {
        width: 142%;
    }
    .price-accordion .card-body {
        margin-bottom: 40px;
    }
    .price-table-row .price-table-col1 {
        font-size: 16px;
    }
    a.price-info-icon {
        margin-left: 10px;
    }
}

@media (min-width: 992px) {
    .table-price-section {
        padding: 15px;
    }
    .price-accordion .card-header::after {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .price-dropdown-option {
        padding: 20px;
    }
    .solution-blue-text {
        font-size: 20px;
    }
    .solution-price-text sup {
        font-size: 18px;
    }
    .solution-price-text span {
        font-size: 14px;
    }
    .solution-price-text {
        font-size: 32px;
    }
    .price-accordion .card .card-header a {
        font-size: 20px;
        margin-left: 20px;
    }
    .solution-sticky-header {
        position: fixed;
        background: #ffffff;
        box-shadow: 0px 0px 8px 0px rgba(206, 212, 216, 0.9) !important;
        color: #ffffff !important;
        top: 0px;
        left: 0;
        z-index: 9310;
        width: 100%;
    }
    .solution-sticky-header .solution-table-heading {
        border-left: 0px;
        border-bottom: 0px;
    }
    .solution-sticky-header .table-price-section-radius {
        border-right: 0px;
    }
    .solution-sticky-header .table-price-section {
        border-bottom: 0px;
    }
    .solution-sticky-header .container {
        padding: 0px !important;
    }
}

@media (min-width: 1200px) {
    .table-price-section {
        padding: 20px 20px;
        min-height: 118px;
    }
    .solution-table-heading {
        padding: 45px 30px;
    }
}

@media (max-width: 767px) {
    .solution-table-responsive.container-1170 {
        max-width: 95%
    }
    .d-image-xs-block {
        width: 100%;
    }
}

.selectedvalue.dropdown-toggle::after {
    float: right;
    margin-top: 8px;
}


/* Solution Dropdown CSS */

.dropdown .selectedvalue:focus {
    background-color: #5c6ac4;
    border-color: #5c6ac4;
}

.dropdown.show .selectedvalue {
    background: #5462ba;
}


/* price Page New CSS */

.commitment-title .title {
    font-size: 24px;
    line-height: 140%;
    font-weight: 600;
    color: #151122;
}

.commitment-title .subtitle {
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    color: #34303f;
    margin-top: 15px;
}

.comparision-section {
    padding: 0px 0px 30px;
}

.comparision-section .title {
    font-size: 28px;
    line-height: 140%;
    font-weight: 700;
    color: #000000;
    font-family: 'Fira Sans', sans-serif;
}

@media ( min-width: 768px) {
    .commitment-title .title {
        font-size: 32px;
    }
    .commitment-title .subtitle {
        font-size: 18px;
        margin-top: 20px;
    }
    .comparision-section .title {
        font-size: 36px;
    }
}

@media ( min-width: 992px) {
    .comparision-section {
        padding: 70px 0px 80px;
    }
}

@media ( min-width: 1200px) {
    .comparision-section .title {
        font-size: 48px;
    }
}

ul.commitment-right li {
    background: url(../images/blue-right-icon.webp) no-repeat top left;
    padding-left: 45px;
    list-style: none;
    font-size: 18px;
    padding-bottom: 25px;
    color: #000000;
}

ul.commitment-cross li {
    background: url(../images/cross-icon.webp) no-repeat top left;
    padding-left: 45px;
    list-style: none;
    font-size: 18px;
    padding-bottom: 25px;
    color: #000000;
}


/* FAQ's Accordion */

.faq-accordion .card .card-header {
    font-family: 'icomoon';
    content: "\a338";
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: #000000;
}

.faq-accordion .card .card-header::before {
    font-family: 'icomoon';
    content: "\a336";
    color: #000000;
    font-size: 12px;
    margin-right: 15px;
    top: 0px;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 50%;
    display: inline-block;
    line-height: 26px;
    text-align: center;
    float: left;
}

.faq-accordion .card .card-header.collapsed::before {
    font-family: 'icomoon';
    content: "\a338";
    font-size: 12px;
    color: #000000;
    background: #eaecf3;
}

.faq-accordion .card {
    background: transparent;
    border: 0px;
    margin-bottom: 15px;
    padding: 0px;
    border-radius: 0px;
}

.faq-accordion .card-header {
    background: #f1f1f1;
    border: solid 1px #f1f1f1;
    padding: 10px 0px 10px 15px;
    border-radius: 5px 5px 0px 0px;
}

.faq-accordion .card-header.collapsed {
    background: transparent;
    border: solid 1px #f1f1f1;
    padding: 10px 0px 10px 15px;
    border-radius: 5px;
}

.faq-accordion .card .card-header .card-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: #000000;
    display: flex;
}

.faq-accordion .card .card-body {
    padding: 15px;
    border: solid 1px #f1f1f1;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
}

.faq-accordion .card .card-body p.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: #000000;
}

.collapse-ex {
    display: none;
}

@media ( min-width: 768px) {
    .faq-accordion .card {
        margin-bottom: 30px;
    }
    .faq-accordion .card-header {
        padding: 10px 0px 10px 30px;
    }
    .faq-accordion .card-header.collapsed {
        padding: 10px 0px 10px 30px;
    }
    .faq-accordion .card .card-header .card-link {
        font-size: 18px;
    }
    .faq-accordion .card .card-body {
        padding: 30px;
    }
    .faq-accordion .card .card-body p.description {
        font-size: 16px;
    }
}


/* Pricing Page CSS Start */

.price-banner-icon {
    font-size: 42px;
    color: #5c6ac4;
}

.pricing-table-container .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.pricing-table-container .owl-carousel .owl-stage {
    display: flex;
    flex-wrap: nowrap;
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}

.pricing-table-container .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    margin: 0px;
}

.pricing-table-container .owl-carousel .owl-item,
.pricing-table-container .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.pricing-table-container .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    max-width: 25%;
    -webkit-touch-callout: none;
    height: 100%;
}

.pricing-table-container .owl-carousel.owl-hidden {
    opacity: 0;
}

.pricing-table-container .owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
}

.pricing-table-container .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pricing-table-container .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab;
}

#price_table_xs1 .item,
#price_table_xs2 .item,
#price_table_xs3 .item {
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 100%;
    height: 100%;
}

#price_table_nav1 .item,
#price_table_nav2 .item,
#price_table_nav3 .item {
    padding: 0px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
}

#price_table_nav1 .item,
#price_table_nav2 .item,
#price_table_nav3 .item {
    border-bottom: 3px solid #ffffff;
    padding-bottom: 7px;
}

#price_table_nav1 .current1 .item,
#price_table_nav2 .current1 .item,
#price_table_nav3 .current1 .item {
    border-bottom: 3px solid #5c6ac4;
}

#price_table_nav1 .item .price-title,
#price_table_nav2 .item .price-title,
#price_table_nav3 .item .price-title {
    color: #000000;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
}

#price_table_nav1 .item .price-num,
#price_table_nav2 .item .price-num,
#price_table_nav3 .item .price-num {
    color: #000000;
    margin-top: 5px;
}

#price_table_nav1 .item .price-subtitle,
#price_table_nav2 .item .price-subtitle,
#price_table_nav3 .item .price-subtitle {
    color: #000000;
    font-size: 10px;
    font-weight: 500;
    line-height: 110%;
    margin-top: 2px;
}

.table-header-fixed #price_table_nav1 .item .price-title,
.table-header-fixed #price_table_nav2 .item .price-title,
.table-header-fixed #price_table_nav3 .item .price-title {
    color: #000000;
}

.table-header-fixed #price_table_nav1 .item .price-num,
.table-header-fixed #price_table_nav2 .item .price-num,
.table-header-fixed #price_table_nav3 .item .price-num {
    color: #000000;
}

.table-header-fixed #price_table_nav1 .item .price-subtitle,
.table-header-fixed #price_table_nav2 .item .price-subtitle,
.table-header-fixed #price_table_nav3 .item .price-subtitle {
    color: #000000;
}

.pricing-table-container .owl-theme .owl-nav,
.price_table_nav .owl-nav {
    display: none;
}

#price_table_xs1.owl-theme,
#price_table_xs2.owl-theme,
#price_table_xs3.owl-theme {
    position: relative;
}

#price_table_nav1 .owl-stage,
#price_table_nav2 .owl-stage,
#price_table_nav3 .owl-stage {
    display: flex;
}

.pricing-table-container .price_table_xs {
    display: flex;
    opacity: 1;
}

@media(min-width: 768px) {
    .pricing-table-container .owl-carousel .owl-stage-outer {
        display: inline-flex;
    }
    .pricing-table-container .owl-carousel .owl-stage {
        display: -webkit-box;
        flex-wrap: nowrap;
    }
    .table-price-show {
        display: none;
    }
}

@media (max-width: 767px) {
    .price-table-xs-header.table-header-fixed {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 4px 4px 0px rgba(206, 212, 216, 0.7);
        z-index: 9310;
        padding: 0px;
    }
    .price-table-xs-header.table-header-fixed ul.pricing-tabs .nav-link {
        padding: 6px 30px;
        color: #000000;
        font-size: 12px;
        font-weight: 400;
        background: transparent;
        border: 1px solid #ced4d8;
    }
    .price-table-xs-header.table-header-fixed ul.pricing-tabs .nav-item.show .nav-link,
    .price-table-xs-header.table-header-fixed ul.pricing-tabs .nav-link.active {
        color: #ffffff;
        background-color: #39295d;
        border: 1px solid #39295d;
    }
    .price-table-xs-header.table-header-fixed .table-price-show {
        display: block;
    }
    .price-table-xs-header.table-header-fixed .save-upto-back {
        background: url(../images/save-upto-back-xs.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 9px 10px 5px;
        right: -0px;
        top: -24px;
        font-size: 7px;
    }
    .border-lr-0.table-boxbg {
        border-left: hidden;
        border-right: hidden;
        border-radius: 5px 5px 0px 0px;
    }
    .pricing-table-box .pricing-table-header {
        border-radius: 10px 10px 0px 0px;
        border: 0px;
    }
    .pricing-table-container .owl-carousel .owl-stage-outer {
        padding: 0px 1px 0px 2px
    }
}


/* Pricing Page CSS End */


/* Pricing Page Mobile View CSS */

.comparision-table-xs-view ul {
    display: flex;
    top: 0px;
    z-index: 10;
    padding-bottom: 14px;
}

.comparision-table-xs-view li {
    list-style: none;
    flex: 1;
}

.comparision-table-xs-view li:last-child {
    border-right: 1px solid #f1f1f1;
}

.comparision-table-xs-view button,
.comparision-table-xs-view button:hover,
.comparision-table-xs-view button:focus {
    width: 100%;
    border: 1px solid #ced4d8;
    border-right: 0;
    padding: 10px;
    background: #ffffff;
    font-size: 14px;
    font-weight: 500;
    min-height: 45px;
    color: #5c6ac4;
    outline: none;
}

.comparision-table-xs-view li.active button {
    color: #5c6ac4;
    border-bottom: 1px solid #5c6ac4;
}

.comparision-table-xs-view table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.comparision-table-xs-view th {
    display: none;
}

.comparision-table-xs-view td,
.comparision-table-xs-view th {
    border: 1px solid #f1f1f1;
    padding: 10px;
    empty-cells: show;
}

.comparision-table-xs-view .pricing-btn-xs td {
    padding: 15px;
    text-align: center;
    border: solid 1px #f1f1f1;
    border-top: 0px;
}

.prcing-table-style .prcing-table-tr-td td {
    border: 0px;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    border-left: solid 1px #f1f1f1;
}

.prcing-table-style .prcing-table-tr-td:nth-child(odd) td {
    background: #ffffff;
}

.prcing-table-style .prcing-table-tr-td:nth-child(even) td {
    background: #f9fafb;
}

.prcing-table-style .prcing-table-tr-td> :first-child {
    border-left: 0px;
}

.comparision-table-xs-view td,
.comparision-table-xs-view th {
    text-align: left;
}

.comparision-table-xs-view td+td,
.comparision-table-xs-view th+th {
    text-align: center;
    display: none;
}

.comparision-table-xs-view td.active-td {
    display: table-cell;
}

.comparision-table-xs-view .pricing-xs-heading {
    background: #ffffff;
    font-weight: 700;
    color: #000000;
    border: 0px;
    border-bottom: solid 1px #f1f1f1;
    padding: 12px 10px 12px 41px;
}

.comparision-table-xs-view .txt-l {
    font-size: 28px;
    font-weight: 700;
}

.comparision-table-xs-view .txt-top {
    position: relative;
    top: -9px;
    left: -2px;
}

.comparision-table-xs-view .hide {
    border: 0;
    background: none;
}

.hidden_row_acc {
    padding: 0 !important;
    border: 0px !important;
}

.accordion-toggle td {
    position: relative;
}

.prcing-table-style .accordion-toggle td::before {
    font-family: 'icomoon';
    content: "\a336";
    color: #000000;
    font-size: 12px;
    top: 12px;
    left: 5px;
    width: 25px;
    height: 25px;
    background: #eaecf3;
    border-radius: 50%;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    position: absolute;
}

.prcing-table-style .accordion-toggle.collapsed td::before {
    font-family: 'icomoon';
    content: "\a338";
}

.sticky-table-header .prcing-table-list {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1031;
}

.sticky-table-header .pricing-btn-xs td {
    position: fixed;
    left: 0px;
    top: 45px;
    width: 100%;
    z-index: 1031;
    background: #ffffff;
    padding: 10px 15px;
}

@media (min-width: 768px) {
    .comparision-table-xs-view .prcing-table-style .base-btn.price-btn-h30 {
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .comparision-table-xs-view ul {
        display: none;
    }
    .comparision-table-xs-view td,
    .comparision-table-xs-view th {
        display: table-cell !important;
    }
    .comparision-table-xs-view td,
    .comparision-table-xs-view th {
        width: 330px;
    }
    .comparision-table-xs-view td+td,
    .comparision-table-xs-view th+th {
        width: auto;
    }
}

.text-black {
    color: #000000;
}

.pricing-switch-btn input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.pricing-switch-btn input:checked {
    z-index: 1;
}

.pricing-switch-btn input:checked+label {
    color: #000000;
    font-weight: 500;
    cursor: default;
}

.pricing-switch-btn label {
    color: #7f7c88;
    font-weight: 400;
    transition: color 0.25s ease;
    cursor: pointer;
}

.pricing-switch-btn .toggle-inside {
    border-radius: 50%;
    background: #5c6ac4;
    position: absolute;
    transition: all 0.1s ease 0.05s;
    top: -4px;
    height: 20px;
    width: 20px;
}

.switch--horizontal input {
    height: 13px;
    width: 38px;
    left: 50%;
    transform: translateX(-50%);
    top: 6px;
    margin: 0;
}

.switch--horizontal label {
    font-size: 15px !important;
    line-height: 140%;
    display: inline-block;
    width: 120px;
    height: auto;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

.switch--horizontal label:last-of-type {
    padding-left: 32px;
}

.switch--horizontal .toggle-outside {
    background: #ced2ed;
    position: absolute;
    width: 38px;
    height: 13px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.25s ease all;
    border-radius: 13px;
    top: 6px;
    transition: left 0.4s ease;
}

.switch--horizontal input:checked~.toggle-outside .toggle-inside {
    left: 0px;
    right: auto;
}

.switch--horizontal input~input:checked~.toggle-outside .toggle-inside {
    right: 0px;
    left: auto;
}

@media (min-width: 992px) {
    .switch--horizontal label {
        font-size: 18px !important;
        width: 164px;
    }
}


/* Responsive Table Height CSS */

@media (max-width: 991px) and (min-width: 768px) {
    .pricing-first-row {
        min-height: 310px;
    }
    .pricing-second-row {
        min-height: 315px;
    }
    .pricing-third-row {
        min-height: 605px;
    }
    .pricing-four-row {
        min-height: 675px;
    }
    .pricing-table-bottom {
        padding: 15px;
    }
    .pricing-four-row1 {
        min-height: 385px;
    }
}

@media (min-width: 992px) {
    .pricing-first-row {
        min-height: 438px;
    }
    .pricing-second-row {
        min-height: 390px;
    }
    .pricing-third-row {
        min-height: 722px;
    }
    .pricing-four-row {
        min-height: 880px;
    }
    .pricing-four-row1 {
        min-height: 460px;
    }
}

@media (min-width: 1200px) {
    .pricing-first-row {
        min-height: 338px;
    }
    .pricing-second-row {
        min-height: 270px;
    }
    .pricing-third-row {
        min-height: 630px;
    }
    .pricing-four-row {
        min-height: 628px;
    }
    .pricing-four-row1 {
        min-height: 390px;
    }
}


/* new css */

@media (max-width:767px) {
    .pricing-table-container .owl-carousel.owl-drag .owl-item {
        margin: 0px 10px;
    }
    #price_table_xs1 .item,
    #price_table_xs2 .item,
    #price_table_xs3 .item {
        border: solid 1px #edeff1;
        border-radius: 5px;
    }
    .pricing-buy-btn-wrap,
    .pricing-table-content ul.features,
    .xs-buy-btn-border,
    .pricing-table-box .pricing-table-bottom {
        border: 0px;
    }
    .pricing-table-content ul.features {
        padding-left: 30px;
    }
    .pricing-table-box .price-table-heading {
        padding-left: 15px;
    }
    .pricing-table-box .pricing-table-header.header-limited-pric {
        padding: 28px 15px 0px 15px;
    }
}

.enjoy-discount-text {
    position: relative;
    background: #dee1f3;
    padding: 3px 20px 3px 10px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    color: #000000;
    line-height: 140%;
    white-space: nowrap;
    overflow: hidden;
}

.enjoy-discount-text:after {
    content: "";
    position: absolute;
    top: 1px;
    right: -14px;
    height: 0;
    width: 0;
    border-top: 18px solid #ffffff;
    border-right: 18px solid transparent;
    transform: rotate(-45deg);
}

@media(min-width: 768px) {
    .discount-outer-div {
        position: absolute;
        top: 0px;
        right: 20px;
    }
    .enjoy-discount-text {
        font-size: 12px;
    }
    .enjoy-discount-text:after {
        border-top: 20px solid #ffffff;
        border-right: 20px solid transparent;
    }
}


/* Pricing Page CSS End */


/* -- Common Page css -- */


/* Manually Container width */

@media (min-width:1200px) {
    .container-1170 {
        max-width: 1170px;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* Image xs center block */

@media (max-width:767px) {
    .xs-center-block {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}


/* Section Padding Css */

.section-padding {
    padding: 30px 0px;
}

@media (min-width:992px) {
    .section-padding {
        padding: 80px 0px;
    }
}


/* 1. -- Home Page css -- */

.welcome-banner {
    background: #1b2771;
    padding: 110px 0px 0px;
}

.welcome-banner .banner-heading {
    font-size: 30px;
}

.welcome-banner .banner-heading,
.support-section .support-section-heading {
    color: #ffffff;
    font-weight: 600;
    line-height: 140%;
    font-family: 'Fira Sans', sans-serif;
}

.welcome-banner .banner-title {
    font-size: 16px;
    color: #cfcbd8;
    font-weight: 400;
    line-height: 180%;
}

@media (min-width:768px) {
    .welcome-banner {
        padding: 110px 0px 50px;
        background: #1b2771 url(../images/home/home.webp) no-repeat center center;
        background-size: cover;
    }
    .welcome-banner .banner-title {
        font-size: 18px;
    }
}

@media (min-width:992px) {
    .welcome-banner {
        padding: 130px 0px 100px;
    }
    .welcome-banner .banner-title {
        padding-right: 120px;
    }
}

@media (min-width: 1200px) {
    .welcome-banner {
        padding: 170px 0px 130px;
    }
}


/* Testimonials Css */

@media (min-width:768px) {
    .dotcompaltestimonials .carousel-item {
        min-height: 265px;
        margin-bottom: 15px;
    }
}

@media (min-width:1200px) {
    .dotcompaltestimonials .carousel-item {
        min-height: 368px;
        margin-bottom: 15px;
    }
}

@media (max-width:767px) {
    .testimonials-pic {
        max-height: 150px;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 30px;
    }
    .about-testimonials .description,
    .about-testimonials .testimonials-name {
        text-align: center;
    }
    .about-testimonials .sepration {
        margin-left: auto !important;
        margin-right: auto !important;
        display: block !important;
    }
    img.step-image {
        max-height: 290px;
        width: auto !important;
        max-width: 100%;
    }
}

.testimonial-control a.control {
    color: #7f7c88;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 5px;
}

.testimonial-control a.control:hover {
    color: #5c6ac4;
}

.vd-blue-tag,
a.vd-blue-tag {
    background: #1d3242;
    color: #ffffff;
}

.g-blue-tag,
a.g-blue-tag {
    background: #8fa1b4;
    color: #ffffff;
}

.b-red-tag,
a.b-red-tag {
    background: #fd4b6d;
    color: #ffffff;
}

.blog-list .title a {
    font-size: 18px;
    font-weight: 400;
    color: #34303f;
    line-height: 24px;
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none;
}

.blog-list .title a:hover {
    color: #5c6ac4;
}

.blog-list .description {
    font-size: 14px;
    font-weight: 400;
    color: #7f7c88;
    line-height: 24px;
}

.blog-list a.link {
    font-size: 14px;
    color: #5c6ac4;
    text-decoration: underline;
}


/* Support Section css */

.support-section {
    background: #1b2771;
    padding: 30px 0px;
}

.support-section .section-title .preheadline {
    font-size: 20px;
    font-weight: 300;
    color: #b3afbc;
}

.support-section .section-title .title {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    line-height: 140%;
    margin-top: 10px;
}

.support-section .section-title .subtitle {
    color: #b3afbc;
    line-height: 28px;
    font-size: 16px;
    margin-top: 15px;
}

@media (min-width:768px) {
    .support-section .section-title .preheadline {
        font-size: 24px;
    }
    .support-section .section-title .title {
        font-size: 36px;
    }
    .support-section .section-title .subtitle {
        font-size: 18px;
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    .support-section {
        padding: 140px 0px
    }
}


/* New CSS */

.pre-heading {
    font-size: 18px;
    color: #34303f;
    font-weight: 300;
    line-height: 140%;
}

.heading-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 140%;
    color: #000000;
    font-family: 'Fira Sans', sans-serif;
}

#owl-demo img {
    height: auto;
    max-height: 220px;
    width: auto;
}

.dcp-btn,
a.dcp-btn,
.dcp-btn:focus,
a.dcp-btn:focus,
.dcp-btn:hover,
a.dcp-btn:hover {
    font-size: 16px;
    padding: 11px 20px;
    text-decoration: none;
}

.video-help-btn1,
a.video-help-btn1,
.video-help-btn1:focus,
a.video-help-btn1:focus {
    color: #b3afbc;
}

.video-help-btn1:hover,
a.video-help-btn1:hover {
    color: #ffffff;
}

.video-help-btn2,
a.video-help-btn2,
.video-help-btn2:focus,
a.video-help-btn2:focus {
    color: #34303f;
}

.video-help-btn2 i,
a.video-help-btn2 i,
.video-help-btn2:focus i,
a.video-help-btn2:focus i {
    color: #7f7c88;
}

.video-help-btn2:hover,
a.video-help-btn2:hover,
.video-help-btn2:hover i,
a.video-help-btn2:hover i {
    color: #5c6ac4;
}

.dcp-btn-get-start,
a.dcp-btn-get-start,
.dcp-btn-get-start:focus,
a.dcp-btn-get-start:focus,
.dcp-btn-get-start:hover,
a.dcp-btn-get-start:hover {
    font-size: 16px;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: 500;
}


/* Features Section CSS */

.feature-section {
    background: #eff0fa;
}

.feature-section .heading-text {
    color: #ffffff;
}

.step-heading-shape {
    background: #5c6ac4;
    width: 40px;
    height: 2px;
    margin-right: 20px;
    margin-top: 15px;
}

.feature-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    color: #5c6ac4;
}

.feature-heading {
    font-size: 22px;
    font-weight: 600;
    color: #151122;
    line-height: 140%;
    margin-top: 15px;
}


/* Step Slider Image Aanimation */

.feature-section .owl-item.active img.step-image {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: zoomIn;
    animation-delay: 0.3s;
}


/* Business Owners Section CSS */

.business-owners {
    background: #ffffff;
}

.video-outter-border {
    border: 1px solid #ced4d8;
}

.business-owners .title,
.testimonial-white-back .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    color: #151122;
    margin-top: 15px;
    font-family: 'Fira Sans', sans-serif;
}

.business-owners .subtitle,
.testimonial-white-back .subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: #151122;
    margin-left: 10px;
}

.owners-image {
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
}

.testimonial-back {
    border-radius: 5px;
    background: #ffffff;
    padding: 15px;
    -webkit-box-shadow: 0px 2px 5.64px 0.36px rgba(140, 140, 140, 0.23);
    box-shadow: 0px 2px 10.64px 0.36px rgba(140, 140, 140, 0.23);
}

.testimonial-back .heading-text,
.testimonial-back .heading-text {
    font-size: 24px;
    color: #010101;
    line-height: 140%;
}

.testimonial-back .heading-text {
    color: #000000;
}

.testimonial-back .subtitle {
    font-size: 16px;
    color: #7f7c88;
    line-height: 140%;
    margin: 7px 0px 0px 0px;
}

.testimonial-back .description {
    font-size: 16px;
    color: #34303f;
    line-height: 140%;
    margin-top: 15px;
}

.testimonial-back-img {
    position: relative;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px;
    background-size: cover;
    border-radius: 5px;
}

@media ( min-width: 768px) {
    .dcp-btn,
    a.dcp-btn,
    .dcp-btn:focus,
    a.dcp-btn:focus,
    .dcp-btn:hover,
    a.dcp-btn:hover {
        font-size: 16px;
        padding: 11px 30px;
    }
    .dcp-btn-get-start,
    a.dcp-btn-get-start,
    .dcp-btn-get-start:focus,
    a.dcp-btn-get-start:focus,
    .dcp-btn-get-start:hover,
    a.dcp-btn-get-start:hover {
        font-size: 18px;
    }
    .pre-heading,
    .solution-section .solution-right-border .subtitle,
    .benefits-block .title,
    .business-owners .title,
    .testimonial-white-back .title {
        font-size: 24px;
    }
    .solution-section .solution-right-border .title,
    .special-offer-section .heading-text,
    .testimonial-back .heading-text,
    .grow-online-back .heading-text {
        font-size: 36px;
    }
    .solution-section .description,
    .entrepreneurs-col .description,
    .benefits-block .description,
    .testimonial-back .description {
        font-size: 18px;
    }
    .heading-text {
        font-size: 36px;
    }
    .feature-title {
        font-size: 20px;
    }
    .feature-heading {
        font-size: 32px;
    }
    .mt-md130 {
        margin-top: 130px !important;
    }
    .business-owners .subtitle,
    .testimonial-white-back .subtitle {
        font-size: 16px;
    }
    .testimonial-back {
        padding: 30px 20px;
        margin-left: 8px;
    }
    .testimonial-back .subtitle {
        font-size: 18px;
    }
    .testimonial-back .description {
        margin-top: 25px;
    }
    .testimonial-back-img {
        padding: 30px 0px;
    }
    #owl-demo img {
        max-height: 410px;
        max-width: 530px;
        width: 100%;
    }
}

@media ( min-width: 992px) {
    .dcp-btn,
    a.dcp-btn,
    .dcp-btn:focus,
    a.dcp-btn:focus,
    .dcp-btn:hover,
    a.dcp-btn:hover {
        font-size: 18px;
    }
    .dcp-btn-get-start,
    a.dcp-btn-get-start,
    .dcp-btn-get-start:focus,
    a.dcp-btn-get-start:focus,
    .dcp-btn-get-start:hover,
    a.dcp-btn-get-start:hover {
        font-size: 20px;
        padding: 12px 46px;
    }
}

@media(min-width: 1200px) {
    .heading-text {
        font-size: 48px;
    }
}


/* Business FAQ's Accordion */

.business-accordion .card .card-header .card-link.collapsed {
    color: #151122;
}

.business-accordion .card .card-header .card-link {
    font-family: 'icomoon';
    content: "\a338";
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    color: #5c6ac4;
}

.business-accordion .card .card-header .card-link::before {
    font-family: 'icomoon';
    content: "\a336";
    color: #000000;
    font-size: 12px;
    margin-right: 15px;
    top: 0px;
    width: 25px;
    height: 25px;
    background: #eaecf3;
    border-radius: 50%;
    display: inline-block;
    line-height: 26px;
    text-align: center;
}

.business-accordion .card .card-header .card-link.collapsed::before {
    font-family: 'icomoon';
    content: "\a338";
    font-size: 12px;
    color: #000000;
}

.business-accordion .card {
    background: transparent;
    border-width: 0px 0px 2px 0px;
    border-color: #dcdfed;
    margin-bottom: 15px;
    border-radius: 0px;
    padding-bottom: 15px;
}

.business-accordion .card-header {
    background: transparent;
    border: 0px;
    padding: 0px;
}

.business-accordion .card .card-body {
    padding: 20px 30px 0px 45px;
}

.business-accordion .card .card-body p.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: #34303f;
}

.collapse-ex {
    display: none;
}

.business-accordion .card:last-child {
    margin-bottom: 0px;
}

@media ( min-width: 768px) {
    .business-accordion .card {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    .business-accordion .card .card-header .card-link {
        font-size: 24px;
    }
    .business-accordion .card .card-body p.description {
        font-size: 18px;
    }
}

@media all and (max-width: 991px) and (min-width: 768px) {
    .welcome-banner {
        min-height: 600px
    }
}


/* Testimonials css */

.testimonial-banner {
    background: #1b2771;
    padding: 70px 0px 30px;
}

.disclaimer-section {
    background: #eff3f6;
}

.disclaimer-section .description,
.testimonial-white-back .description,
.disclaimer-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    color: #000000;
}

.special-offer-section .section-title .description {
    font-size: 18px;
    font-weight: 300;
    line-height: 180%;
    color: #34303f;
}

.post-image-back {
    background: #ffffff;
    border: 1px solid #ced4d8;
    padding: 0px;
    display: block;
}

@media (min-width:768px) {
    .testimonial-banner {
        background: #1b2771;
        padding: 90px 0px 50px;
    }
    .disclaimer-section .description,
    .testimonial-white-back .description,
    .disclaimer-text {
        font-size: 18px;
    }
    .special-offer-section .section-title .description {
        font-size: 22px;
    }
}

@media (min-width:992px) {
    .testimonial-banner {
        padding: 150px 0px 80px;
    }
}


/* Home Page New CSS */

.home-page-heading,
.featurs-heading {
    color: #151122;
    font-weight: 600;
    line-height: 140%;
    font-family: 'Fira Sans', sans-serif;
}

.home-page-heading,
.support-section .support-section-heading {
    font-size: 28px;
}

.featurs-heading {
    font-size: 22px;
}

.old-way-section .old-way-block .title {
    font-size: 18px;
    color: #34303f;
    font-weight: 500;
    line-height: 140%;
    font-family: 'Fira Sans', sans-serif;
}

.testi-description {
    font-size: 14px;
}

.old-way-section .old-way-block .description,
.with-dotcompal-block .description,
.home-page-description,
.testi-description {
    color: #34303f;
    font-weight: 400;
    line-height: 160%;
}

.old-way-section .old-way-block .description {
    font-size: 15px;
    margin-top: 10px;
}

.with-dotcompal-block .description {
    font-size: 16px;
}

.home-page-description {
    font-size: 14px;
}

.home-page-title {
    font-size: 16px;
    color: #34303f;
    font-weight: 400;
    line-height: 160%;
}

.home-page-subtitle {
    font-size: 20px;
    color: #34303f;
    font-weight: 600;
    line-height: 140%;
    font-family: 'Fira Sans', sans-serif;
}

.home-page-sub-heading {
    font-size: 14px;
    color: #34303f;
    font-weight: 600;
    line-height: 160%;
}

.home-page-title-white,
.home-page-title-grey {
    font-weight: 500;
    line-height: 140%;
}

.home-page-title-white {
    font-size: 20px;
}

.home-page-title-grey {
    font-size: 16px;
}

.home-page-title-white {
    color: #ffffff;
}

.home-page-title-grey {
    color: #151122;
}

.with-dotcompal-block .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    font-family: 'Fira Sans', sans-serif;
}

.free-training-section .title,
.testimonial-block .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    font-family: 'Fira Sans', sans-serif;
}


/* Old Way Section */

.old-way-section {
    background: #f5f6ff;
}

.old-way-block {
    background: #ffecec;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 0px rgba(90, 90, 90, 0.15);
    padding: 15px;
}

.website-help-cion {
    background: #ffdfdf;
    border-radius: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #34303f;
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
    margin-left: -30px;
}

.say-hello-section,
.online-entrepreneurs-bg,
.more-business-section,
.feature-section,
.old-way-section,
.free-training-section,
.faq-section,
.business-owners {
    padding: 30px 0px;
}


/* Say Hello section */

.say-hello-section {
    background: #ffffff;
}

.with-dotcompal-block {
    background: #eff0fa;
    padding: 15px;
}

.min-w-20 {
    min-width: 20px;
}

.min-w-23 {
    min-width: 23px;
}

.min-w-24 {
    min-width: 24px;
}

.white-blue-bg {
    position: relative;
    padding-bottom: 30px;
}

.online-entrepreneurs-bg {
    background: #1b2771;
}

.business-blocks {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 19px 0px rgba(90, 90, 90, 0.15);
    padding: 10px;
    text-align: center;
    max-width: 270px;
    margin: auto;
}

.business-blocks .pre-heading {
    color: #34303f;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}

.business-blocks .heading {
    font-size: 35px;
    font-weight: 600;
    line-height: 110%;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 10px;
}

.business-blocks .heading.yellow {
    color: #efa131;
}

.business-blocks .heading.cerise {
    color: #db3579;
}

.business-blocks .heading.java {
    color: #16C5A6;
}

.business-blocks .heading.blue {
    color: #3148d8;
}

.business-blocks .description {
    color: #34303f;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}


/* More Business CSS */

.more-business-section {
    background: #ffffff;
}

.feature-icon {
    font-size: 20px;
    color: #5c6ac4;
}

a.feature-signup-btn,
.feature-signup-btn,
.feature-signup-btn:hover,
.feature-signup-btn:hover,
.feature-signup-btn:active,
.feature-signup-btn:active,
a.feature-signup-btn:focus,
.feature-signup-btn:focus {
    font-weight: 500;
}


/* Free Training CSS */

.free-training-section {
    background: #ffffff;
}


/* FAQ CSS */

.faq-section {
    background: #f5f6ff;
}

.testimonial-block {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 19px 0px rgba(90, 90, 90, 0.15);
    padding: 0px 15px 15px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.testi-image-size {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
}

@media (min-width: 768px) {
    .testi-description,
    .home-page-description {
        font-size: 16px;
    }
    .home-page-heading,
    .welcome-banner .banner-heading,
    .support-section .support-section-heading {
        font-size: 36px;
    }
    .featurs-heading {
        font-size: 30px;
    }
    .home-page-title {
        font-size: 18px;
    }
    .home-page-subtitle,
    .home-page-title-white,
    .home-page-title-grey {
        font-size: 30px;
    }
    .home-page-sub-heading,
    .business-blocks .description,
    .testimonial-block .title {
        font-size: 20px;
    }
    .business-blocks .heading {
        font-size: 50px;
        margin-top: 12px;
    }
    /* Old Way Section */
    .old-way-block {
        padding: 30px;
    }
    .old-way-section .old-way-block .title,
    .business-blocks .pre-heading {
        font-size: 22px;
    }
    .old-way-section .old-way-block .description {
        margin-top: 15px;
    }
    .website-help-cion {
        font-size: 32px;
        height: 60px;
        min-height: 60px;
        width: 60px;
        min-width: 60px;
        margin-left: -60px;
    }
    .with-dotcompal-block {
        padding: 30px 15px;
    }
    .with-dotcompal-block .title,
    .free-training-section .title {
        font-size: 25px;
    }
    .white-blue-bg {
        padding-bottom: 0px;
    }
    .white-blue-bg:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: #1b2771;
        z-index: -1;
    }
    .business-blocks {
        padding: 28px 20px;
    }
    .feature-icon {
        font-size: 24px;
    }
    a.feature-signup-btn,
    .feature-signup-btn,
    .feature-signup-btn:hover,
    .feature-signup-btn:hover,
    .feature-signup-btn:active,
    .feature-signup-btn:active,
    a.feature-signup-btn:focus,
    .feature-signup-btn:focus {
        padding: 13px 30px;
        font-size: 18px;
    }
    .testimonial-block {
        padding: 0px 30px 30px;
        /* height: 100%; */
    }
}

@media (min-width: 992px) {
    /* Old Way Section */
    .old-way-section {
        background: #f5f6ff url(../images/home/old-way-section-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .old-way-block {
        padding: 35px 50px;
    }
    .website-help-cion {
        margin-left: -80px;
    }
    /* Say Hello section */
    .say-hello-section,
    .online-entrepreneurs-bg,
    .more-business-section,
    .feature-section,
    .old-way-section,
    .free-training-section,
    .faq-section,
    .business-owners {
        padding: 100px 0px;
    }
    .with-dotcompal-block {
        padding: 75px 50px 55px;
    }
}

@media (min-width: 1200px) {
    .home-page-heading,
    .welcome-banner .banner-heading,
    .support-section .support-section-heading {
        font-size: 48px;
    }
    .featurs-heading {
        font-size: 32px;
    }
}