.container {
    height: unset;
}

.inner-content {
    height: unset;
}

body {
    font-family: 'Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

.spartan-font,
.spartan {
    font-family: 'Spartan', sans-serif;
}

span.under {
    border-bottom: 4px solid;
}


/* .logo-height {
    max-height: 45px;
}
 */

.yellow-clr {
    color: #fff600;
}

.white-clr {
    color: #ffffff;
}

.white-clr2 {
    color: #d8d1d1;
}

.blue-clr {
    color: #240f75;
}

.red-clr {
    color: #ff0f0f;
}

.white-blue {
    color: #70abff;
}

.white-grey1 {
    color: #fefefe;
}

.kapblue,
a.kapblue {
    color: #0063eb;
}

.lightcolor {
    color: #d8f67e;
}

.green-clr {
    color: #00ff84;
}

.header-section {
    background: rgb(9, 20, 120) url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 30px 0px;
    position: relative;
}
.header-section::before {
    content: "";
    animation: gradient 15s ease infinite;
    animation-direction: alternate;
    background: linear-gradient(135deg, #6d45d7 0%,#150644 43%,#2d1f58 85%,#100536 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    animation-direction: alternate;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.85;
    z-index: 0;
}
@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.white-clr {
    color: #ffffff;
}

.white-blue {
    color: #70abff;
}

.lightcolor {
    color: #d8f67e;
}

.clear {
    clear: both;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.heading-bg {
    position: relative;
    background: #ffffff;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    display: inline-block;
    box-shadow: -1.04px 4.891px 6px 0px rgba(19, 22, 38, 0.2);
}

.game-changer {
    background: #fff600;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    max-width: 248px;
}

.bottom-tick li {
    list-style: none;
    background: url(../images/bt.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 20px 45px;
}

.yellow-shape {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: #00ff84;
    border-radius: 10px;
    padding: 10px 15px;
}

.tdp-section {
    background: #f5efff url(../images/bgimg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.steps-section1 {
    background: #ffffff;
    padding: 30px 0px;
}

.steps-section2 {
    background: #f9f9f9;
    padding: 30px 0px;
}

.no-installation {
    background: #eaf3ff;
    padding: 30px 0px;
}

.step-bg {
    display: inline-block;
    padding: 15px 32px 10px 32px;
    border-radius: 0px 3px 3px 0px;
    background-color: rgb(36, 15, 117);
    text-align: center;
}

.left-line {
    border-left: solid 2px #240f75;
}

.proudly-section {
    background: #ffffff url(../images/proudly-bg.png) no-repeat top center;
    background-size: cover;
    padding: 0px 0px 30px 0px;
    position: relative;
}

.proudly-list-bg {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgb(0 42 119 / 30%);
}

.proudly-tick li {
    background: url(../images/tick.png) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 35px;
}

.proudly-headingss {
    background-color: #d8f67e;
    border-radius: 50px;
    padding: 15px;
}

.fall-in-love-section {
    background: #ffffff url(../images/ofcourse.png) no-repeat top center;
    background-size: 100% 100%;
    padding: 90px 0px;
}

.qstn {
    background: #f5efff;
    padding: 60px 0px 60px 30px;
    border-radius: 30px;
}

.ct-sec {
    background: #ffffff url(../images/ct-bg.png) no-repeat top center;
    background-size: cover;
    padding: 90px 0px;
}

@media (max-width: 767px) {
    .ct-sec {
        background: #ffffff;
        padding: 30px 0px;
    }
    .qstn {
        padding: 15px;
    }
    .fall-in-love-section {
        background: #ffffff url(../images/ofcourse.png) no-repeat left center;
        background-size: cover;
        padding: 30px 0px;
    }
    .first-top-border {
        border-top: 1px solid #ffffff !important;
    }
    .boxborder {
        border: 1px solid #ffffff;
        border-top: 0px;
        padding: 20px;
    }
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.affiliate-link-btn {
    text-align: center;
}

.affiliate-link-btn a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 12px 8px 8px 8px;
    font-size: 14px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    max-width: 234px;
    border-radius: 8px;
    background: #ff9023;
}

.popup-btn a:hover,
.popup-btn input[type="submit"]:hover,
.af-btn a:hover {
    background: #4f5db5;
}

.highlihgt-heading {
    background: #241c43;
    padding: 10px 30px;
    border-radius: 45px;
    display: inline-block;
}


/* header */

.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/list-head.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}

.list-head li:last-child {
    border-bottom: 0px;
}


/* section-2 */

.step-section {
    padding: 30px 0px;
    background: url(../images/step-bg.png) no-repeat center center;
    background-size: cover;
}

.box-s1 {
    background: url(../images/box-s1.png) no-repeat;
    padding: 9px 29px 8px 29px;
    max-width: 210px;
}

.box-s2 {
    background: url(../images/box-s2.png) no-repeat;
    padding: 9px 29px 8px 29px;
    max-width: 265px;
}

.box-s3 {
    background: url(../images/box-s3.png) no-repeat;
    padding: 9px 24px 8px 24px;
    max-width: 370px;
}

@media(max-width: 767px) {
    .box-s1 {
        max-width: 240px;
    }
    .box-s2 {
        max-width: 240px;
    }
    .box-s3 {
        max-width: 280px;
    }
    .xs-text-center {
        text-align: center;
    }
    .height172 {
        height: 172px;
        width: 172px;
    }
}

.light-yellow {
    color: #d8f67e;
}

.second-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.date-section-bg {
    background: url(../images/date-bg-image.png) no-repeat center center;
    background-size: contain;
}

.xstext-center {
    text-align: center;
}

.formbg {
    padding: 20px;
}

.formbg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.form-control.input-field {
    border-width: 1px;
    border-color: rgb(164, 164, 164);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 12px;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 5px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 13px 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 0;
    outline: none;
}

.xscenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pre-box {
    border-radius: 10px;
    padding: 5%;
}

.af-box {
    padding: 8% 3%;
}

.affiliate-link-btn1 a {
    border-radius: 8px;
    background: #ff9023;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: 140%;
}

.affiliate-link-btn1 a:hover {
    background: #ee851c;
    text-decoration: none;
}

.lightbx {
    background-color: rgba(36, 28, 67, 0.051);
    padding: 4px 35px;
    border-radius: 40px;
    display: inline-block;
}

.ul-tick-icon li {
    list-style: none;
    background: url(../images/ul-tick-icon.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0px 15px 39px;
    display: inline-block;
}

.ul-tick-icon1 li {
    list-style: none;
    background: url(../images/ul-tick-icon-black.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0px 15px 39px;
    display: inline-block;
}


/* White Timer css */

.white-timer-portion {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.white-timer-box {
    width: 50px;
    height: 50px;
    line-height: 1.42857143;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Spartan', sans-serif;
}

.white-timer-label {
    width: 50px;
    font-size: 11px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 300;
}

.white-timer-colon-group {
    height: 50px;
    width: 7px;
    position: relative;
}

.white-timer-colon.colon-top {
    position: absolute;
    top: 30%;
}

.white-timer-colon {
    background: #ffffff;
    border-radius: 100%;
    width: 5px;
    height: 5px;
}

.white-timer-colon.colon-bottom {
    position: absolute;
    bottom: 30%;
}

.white-timer-colon-group-margin {
    height: 14px;
    width: 7px;
    position: relative;
}


/* Black Timer css */

.black-timer-portion {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.black-timer-box {
    width: 50px;
    height: 50px;
    line-height: 1.42857143;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #ff0000;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Spartan', sans-serif;
}

.black-timer-label {
    width: 50px;
    font-size: 11px;
    align-items: center;
    justify-content: center;
    color: #ff0000;
    font-weight: 300;
}

.black-timer-colon-group {
    height: 50px;
    width: 7px;
    position: relative;
}

.black-timer-colon.colon-top {
    position: absolute;
    top: 30%;
}

.black-timer-colon {
    background: #ff0000;
    border-radius: 100%;
    width: 5px;
    height: 5px;
}

.black-timer-colon.colon-bottom {
    position: absolute;
    bottom: 30%;
}

.black-timer-colon-group-margin {
    height: 14px;
    width: 7px;
    position: relative;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 20px 40px;
    min-height: 26px;
}

.old-section .kaptick li:last-child {
    padding-bottom: 0px;
}

.kaptick.lipadding-bottom0 li {
    padding-bottom: 0px;
}

.kaptick.lipadding-bottom0 {
    margin: 0px;
}

.proof-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.third-section {
    background: #eff3f6;
    padding: 30px 0px;
}

.clear {
    clear: both;
}


/* DCP Team Section CSS */

.dcp-team-section {
    background: #ffffff;
    padding: 30px 0px;
}

.af-image-style {
    position: absolute;
    right: 0;
    top: -117px;
    z-index: 1;
}

.video-section1 {
    background: #eff3f6;
    padding: 30px 0px;
}

.question-section {
    background: #2f036d;
    padding: 30px 0px 10px;
}

.old-section {
    background: #fff;
    padding: 30px 0px;
}

.noneed-list li {
    list-style: none;
    background: url(../images/red-cross.png) no-repeat;
    background-position: 0 -1px;
    padding: 0 0 30px 60px;
}

.noneed-list li:last-child {
    padding-bottom: 0px;
}

.noneed-shape {
    padding: 30px;
    background-color: #f5efff;
    border-radius: 10px;
}

.option-section {
    background: url(../images/optionbg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.lastly-section {
    background: url(../images/lastlybg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.visitor-section {
    background: url(../images/visitorbg.png) no-repeat center center;
    background-size: cover;
    padding: 3% 0 5%;
}

.install-section {
    background: #eff3f6;
    padding: 30px 0px;
}

.demo-section {
    background: url(../images/wave.png) no-repeat center center;
    padding: 30px 0px;
}

.full-section {
    background: url(../images/videobg.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.enjoy-section {
    background: #f5efff;
    padding: 30px 0px;
}

.boxbg {
    background: transparent;
    padding: 15px 0px;
    height: auto;
}

.ls-grey {
    color: #0e1421;
}

.boxborder-rb {
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.boxborder-b {
    border-bottom: 1px solid #ffffff;
}

.boxborder-r {
    border-right: 1px solid #ffffff;
}

.sec-4 {
    background: #ffffff url(../images/sec-4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    padding: 0px 0px 80px;
}

.sec-6 {
    background: #fff url('../images/sec-6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 90px 0;
}

.sec-8 {
    background: #ffffff url(../images/sec-8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0 80px;
}

.sec-7 {
    background: #ffffff url('../images/sec-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0px 0px;
}

.sec-9 {
    background: #ffffff url(../images/sec-9.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 100px 0px;
}

.sec-13 {
    background: #ffffff url(../images/sec-9.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    padding: 90px 0px;
}

.endstory {
    background: #f9f9f9;
    padding: 30px 0px;
}

.lead-gen {
    background: #f5efff url(../images/l-1.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
}

.yes-box {
    border-radius: 5px;
    background: #00ff84;
    padding: 22px;
    display: block;
}

.white-clr {
    color: #fff;
}

.light-green {
    color: #d8f67e;
}

.sec-14 {
    background-color: rgb(255, 255, 255);
    padding: 70px 0;
}

.sec-14a {
    background: url(../images/sec-14a.png) no-repeat;
    background-size: contain;
    padding: 0px;
}

.sec-14d {
    background: url(../images/sec-14d.png) no-repeat center center;
    background-size: contain;
    padding: 0px;
}

.black-shape {
    border-radius: 5px 5px 0px 0px;
    background: #000000;
    padding: 10px;
}

.anymore-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.elearning-section {
    background: #230565 url(../images/elearning-section.png) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.ecom-section {
    background: #ffffff;
    padding: 30px 0px;
}

.affiliate-section {
    background: #ffffff;
    padding: 30px 0px;
}

.saas-section {
    background: #f5efff;
    padding: 30px 0px;
}

.followership-section {
    background: #ffffff;
    padding: 30px 0px;
}

.blue-shape-bg {
    max-width: 326px;
    margin-left: auto;
    margin-right: auto;
    background-color: #370581;
    border-radius: 10px;
    padding: 10px 15px;
    display: block;
    text-align: center;
}

.e-learning-box {
    background: url(../images/e-learning-box.png) no-repeat center center;
    background-size: contain;
    padding: 55px 10px;
    ;
}

@media(min-width:768px) {
    .blue-shape-bg {
        background: #ffffff url(../images/blue-shape-bg.png) no-repeat center center;
        background-size: contain;
        padding: 21px 10px;
        ;
    }
    .e-learning-box {
        padding: 80px 30px 70px;
    }
    .followership-section {
        background: #ffffff url(../images/followership-section.png) no-repeat center center;
        background-size: cover;
    }
    .saas-section {
        background: #ffffff url(../images/saas-section.png) no-repeat center center;
        background-size: cover;
        padding: 70px 0px;
    }
    .affiliate-section {
        background: #ffffff url(../images/lead-gen1.png) no-repeat center ceneter;
        background-size: cover;
    }
    .ecom-section {
        background: #ffffff url(../images/ecom-section.png) no-repeat center center;
        background-size: cover;
        padding: 70px 0px 40px;
    }
    .elearning-section {
        background: #ffffff url(../images/elearning-section.png) no-repeat center center;
        background-size: cover;
        padding: 115px 0px 90px;
    }
    .anymore-section {
        padding: 70px 0px;
    }
    .min-sm-video-width-left {
        width: 68%;
    }
    .min-sm-video-width-right {
        width: 32%;
    }
    .pl-sm45 {
        padding-left: 45px;
    }
    .gen-image-size {
        position: absolute;
        width: 262px;
        height: 264px;
        left: -20px;
        top: -70px;
    }
    .black-shape {
        padding: 20px 10px;
    }
    .mt-sm120px {
        margin-top: 120px;
    }
    .big-question {
        position: absolute;
        width: 331px;
        height: 339px;
    }
    .big-question-image {
        width: 331px;
        height: 339px;
    }
    .proudly-headingss {
        padding: 20px 25px;
    }
    .px-sm100 {
        padding-left: 100px;
        padding-right: 100px;
    }
    .px-sm40 {
        padding-left: 40px;
        padding-right: 40px;
    }
    .lead-gen {
        background: #ffffff url(../images/l-1.png) no-repeat center center;
        background-size: cover;
        padding: 90px 0;
    }
    .steps-section1 {
        padding: 80px 0px;
        background: #ffffff;
    }
    .steps-section2 {
        padding: 80px 0px;
        background: #f9f9f9 url(../images/step-section-2.png) no-repeat center center;
        background-size: cover;
    }
    .no-installation {
        background: #ffffff url(../images/no-installation.png) no-repeat top center;
        background-size: cover;
        padding: 180px 0px 100px;
    }
    .boxbg {
        height: 280px;
        padding: 15% 0% 20%;
    }
    .tdp-section {
        padding: 120px 0px;
        background: #ffffff url(../images/bgimg.png) no-repeat center center;
        background-size: cover;
    }
    .enjoy-section {
        background: #ffffff url(../images/enjoy-section.png) no-repeat center center;
        background-size: cover;
        padding: 90px 0px;
    }
    .header-section {
        padding: 40px 0px 50px 0px;
    }
    .px-sm0 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .form-control.input-field {
        height: 58px;
    }
    .pre-box {
        border-radius: 50px;
        padding: 3% 0;
    }
    .af-box {
        padding: 5%;
    }
    .pfbox {
        height: 185px;
    }
    .affiliate-link-btn1 {
        text-align: center;
    }
    .affiliate-link-btn1 a {
        font-size: 42px;
        padding: 28px 30px;
        width: auto;
    }
    .lightbx {
        padding: 4px 15px;
    }
    .mlmark {
        margin-left: 7%;
    }
    .smclear {
        clear: both;
    }
    .ul-tick-icon li {
        padding: 0 39px 10px 39px;
    }
    .ul-tick-icon1 li {
        padding: 0 39px 10px 39px;
    }
    .image-lg-size {
        min-height: 144px;
        min-width: 164px;
    }
    .dcp-team-section {
        background: #ffffff url(../images/dcp-team-bg.png) no-repeat right center;
        background-size: 100%;
        padding: 60px 0px 100px;
    }
    .video-section1 {
        padding: 60px 0px 70px;
    }
    .question-section {
        background: url(../images/question-bg.png) no-repeat bottom center;
        background-size: cover;
        padding: 80px 0px 130px;
    }
    /* Timer CSS */
    .white-timer-box {
        width: 85px;
        height: 66px;
        font-size: 65px;
    }
    .white-timer-label {
        width: 85px;
        font-size: 20px;
    }
    .black-timer-colon-group {
        height: 66px;
        width: 62px;
        padding: 0px 25px;
    }
    .white-timer-colon-group {
        height: 66px;
        width: 62px;
        padding: 0px 25px;
    }
    .black-timer-box {
        width: 85px;
        height: 66px;
        font-size: 65px;
    }
    .black-timer-box.f45 {
        font-size: 40px;
    }
    .black-timer-label {
        width: 85px;
        font-size: 24px;
    }
    .black-timer-label.f20 {
        font-size: 18px;
    }
    .black-timer-colon {
        width: 10px;
        height: 10px;
    }
    .white-timer-colon {
        width: 10px;
        height: 10px;
    }
    .black-timer-colon.colon-top,
    .white-timer-colon.colon-top {
        top: 20%;
    }
    .black-timer-colon.colon-bottom,
    .white-timer-colon.colon-bottom {
        bottom: 20%;
    }
    /* Timer CSS End */
    .second-section {
        padding: 100px 0px 70px 0px;
        background: #f9f9f9 url(../images/features-listbg.png) no-repeat center center;
    }
    .third-section {
        padding: 3% 0 4%;
    }
    .proof-section {
        padding: 100px 0px;
        background: url("../images/proof-sectionbg.png") no-repeat center center;
        background-size: cover;
    }
    .old-section {
        padding: 70px 0px;
    }
    .option-section {
        background: url(../images/optionbg.png) no-repeat center center;
        background-size: cover;
        padding: 60px 0px;
    }
    .lastly-section {
        padding: 60px 0px;
    }
    .install-section {
        padding: 4% 0;
    }
    .demo-section {
        padding: 70px 0px;
    }
    .full-section {
        padding: 5% 0;
    }
    .kaptick li {
        padding: 0 0 25px 40px;
    }
    .kaptick.lipadding-bottom0 li {
        padding-bottom: 0px;
    }
}

@media (max-width: 767px) {
    .sec-9,
    .sec-14 {
        padding: 30px 0;
    }
    .sec-6 {
        padding: 30px 0 15px;
    }
    .sec-4 {
        background: #ffffff;
        padding: 0px 0 30px;
    }
    .sec-7 {
        padding: 10px 0px;
    }
    .sec-8 {
        padding: 15px 0px 30px;
    }
    .sec-14d {
        background: #f4f8ff;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 5px;
    }
    .sec-14a {
        background: #f4f8ff;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 25px 20px;
    }
    .yes-box {
        padding: 10px;
    }
    .sec-13 {
        background: #2c046b;
        padding: 30px 0;
    }
    .sec-9 {
        background: #2c046b;
        padding: 30px 0;
    }
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}


/* Empowers you Section css */

.tookyears-section {
    background: #2f046d;
    padding: 30px 0px;
}

.dont-need-section {
    background: #ffffff url(../images/dont-need-section.png) no-repeat center center;
    background-size: cover;
    padding: 15px 0px 30px;
}

.new-dcp-team-section {
    background: #deeaff;
    padding: 30px 0px;
}

.still-there-section {
    background: #deeaff;
    padding: 30px 0px;
}

.no-need-left-image {
    position: absolute;
    top: 0px;
    left: 0px;
}

.no-need-right-image {
    position: absolute;
    top: auto;
    right: 0px;
    bottom: 0px
}

.notdone-shape-bg {
    border: solid 5px #370581;
    padding: 15px 5px;
}

.line-5 {
    background: #0063eb;
    height: 5px;
}

@media (min-width:768px) {
    .next-gen-img {
        position: absolute;
        left: -15px;
        max-width: 45%;
        bottom: 15%;
    }
    .mt-sm180 {
        margin-top: 180px;
    }
    .new-dcp-team-section {
        padding: 80px 0px;
        background: #deeaff url(../images/hi-there.png) no-repeat center center;
        background-size: cover;
    }
    .still-there-section {
        padding: 100px 0px 100px 0px;
        background: #deeaff url(../images/still-there-section.png) no-repeat top center;
        background-size: cover;
    }
    .still-there-shape {
        background: url(../images/still-there-shape.png) no-repeat center center;
        background-size: contain;
        padding: 35px;
        border-radius: 0px;
        white-space: nowrap;
        border: none;
    }
    .dont-need-section {
        padding: 30px 0px 50px;
    }
    .no-need-left-image {
        left: 30px;
    }
    .no-need-right-image {
        right: 30px;
    }
    .tookyears-section {
        background: #f5efff url(../images/tookyears-bg.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 100px 0px 100px 0px;
    }
}

@media (min-width:1400px) {
    .next-gen-img {
        position: absolute;
        left: -15px;
        max-width: 45%;
        bottom: 8%
    }
}


/* Stats  Section css */

.stats-shape {
    background: #ffffff;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    display: block;
    float: left;
    position: relative;
}

.prdly-pres {
    background: #10a6f8;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}

@media (max-width:767px) {
    .xstextcenter {
        text-align: center;
    }
    .border-seprate {
        position: relative;
        background: #d7d4de;
        height: 1px;
        width: 100%;
        margin-top: 15px;
    }
}

.stats-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.hr-shape {
    background-color: #e8e8e8;
    width: 100%;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.never-ending {
    box-shadow: 0px 0px 9px 0px rgb(161 167 177 / 30%);
    background: #f4f9fd;
    border-radius: 15px;
    padding: 15px 5px;
    height: 100%;
}

.amazing-software-section {
    background: #ffffff;
    padding: 30px 0;
}

.content-style1,
.content-style2 {
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.anything-section {
    background: #ffffff;
    padding: 30px 0px;
}

.max-width585 {
    max-width: 585px;
}

@media (min-width:768px) {
    .prdly-pres {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
    .pl-sm30 {
        padding-left: 30px;
    }
    .anything-section {
        background: #ffffff url(../images/anything-section.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .content-style1 {
        background: transparent url(../images/content-style1.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 50px 30px 50px;
        box-shadow: none;
    }
    .content-style2 {
        background: transparent url(../images/content-style2.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 40px 30px 70px;
        box-shadow: none;
    }
    .stats-image-positionl {
        width: 196px;
        height: 196px;
    }
    .stats-image-size {
        position: absolute;
        left: -22px;
        top: -70px;
        min-width: 196px;
        width: 196px;
        height: 196px;
        min-height: 196px;
    }
    .stats-image-size-right {
        position: absolute;
        right: -22px;
        top: -70px;
        width: 196px;
        min-width: 196px;
        height: 196px;
        min-height: 196px;
    }
    .stats-section {
        padding: 80px 0px;
        background: #f9f9f9 url(../images/stats-bg-section.png) no-repeat center center;
        background-size: cover;
    }
    .stats-shape {
        border-radius: 100px;
        padding: 10px 0px 0px 20px;
        height: 105px;
    }
    .border-seprate {
        position: absolute;
        background: #d7d4de;
        height: 100%;
        width: 1px;
        right: 0px;
        top: 0px;
    }
    .sm-width {
        width: 11.666667%
    }
    .sm-width1 {
        width: 88%
    }
    .heading-bg {
        position: relative;
        padding: 25px 25px 20px;
        transform: skew(-7deg);
    }
    .rotate-5 {
        transform: skew(7deg);
    }
    .never-ending {
        padding: 35px 25px;
    }
    .amazing-software-section {
        padding: 100px 0px;
        background: #ffffff url(../images/amazing-software-section.png) no-repeat center center;
        background-size: cover;
    }
    .step-section {
        padding: 100px 0px;
    }
    .affiliate-link-btn a {
        padding: 16px 30px 14px 30px;
        font-size: 18px;
        line-height: 100%;
        color: #ffffff;
        font-weight: 600;
        max-width: 234px;
        margin-left: auto;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }
    .affiliate-link-btn a:hover {
        border-radius: 8px;
        background: #ee851c;
        color: #ffffff;
    }
    .proudly-section {
        padding: 0px 0px 100px 0px;
    }
    .proudly-list-bg {
        padding: 25px;
    }
    .endstory {
        background: #f9f9f9 url(../images/endstory.png) no-repeat center top;
        background-size: cover;
        padding: 100px 0px;
    }
    .mt-sm130 {
        margin-top: 130px;
    }
    .mt-160 {
        margin-top: 160px;
    }
}

.black-design {
    background: #3382ef;
    padding: 15px 30px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block
}

.black-design .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}

@media (min-width: 768px) {
    .black-design {
        padding: 15px 60px;
    }
}

.cta-section-white {
    background: #030210 url(../images/cta-sec.png) no-repeat center center;
    padding: 30px 0 30px 0px;
    background-size: cover;
}

.pre-heading1 {
    padding: 15px;
    margin: 0px auto;
    background-color: #fff600;
    outline: none;
    border-color: rgb(168, 134, 6);
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    border-radius: 65px;
}

.pre-heading2 {
    background: #550076;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
}

.pre-heading2.line-height {
    line-height: 140%;
}

.potential-sec {
    background: url(../images/potential-bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px 50px 0px;
}

.black-design1 {
    background: #020d13;
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
}

.leraning-section {
    background: #deeaff;
    padding: 30px 0px;
}

.eleraning-section {
    background: #f9f9f9;
    padding: 30px 0px;
}

.earned-money-section {
    background: #deeaff;
    padding: 30px 0px;
}

.step-bg1 {
    padding: 30px 15px;
    border-radius: 10px;
    background-color: rgb(249, 249, 249);
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
}

.top-margin {
    margin-top: -120px;
}

.limited-time-sec {
    padding: 15px 0px 10px 0px;
    background: #ff0000
}

.problme-shape {
    border-radius: 20px;
    background-color: rgb(236, 56, 69);
    width: 100%;
    float: left;
    padding: 15px;
}

.noneed-listing5 li {
    list-style: none;
    background: url(../images/cross-yellow.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.noneed-listing6 li {
    list-style: none;
    background: url(../images/cross.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

@media (min-width: 768px) {
    .noneed-listing6 li {
        list-style: none;
        background: url(../images/cross.png) no-repeat;
        background-position: 0 1px;
        padding: 0 0 30px 50px;
        min-height: 42px;
    }
    .problme-shape {
        padding: 30px;
    }
    .earned-money-section {
        padding: 80px 0px;
    }
    .leraning-section {
        background: #deeaff url(../images/leraning-section-bg.png) no-repeat center center;
        background-size: cover;
        padding: 80px 0px 80px 0px;
    }
    .eleraning-section {
        padding: 80px 0px;
        background: #f9f9f9 url(../images/eleraning-section-bg.png) no-repeat center center;
    }
    .top-margin {
        margin-top: -200px;
    }
    .black-design1 {
        width: 578px;
        height: 138px;
        background: #020d13;
        border-width: 1px;
        border-color: rgb(13, 15, 52);
        border-style: solid;
        border-radius: 20px;
    }
    .potential-sec {
        padding: 100px 0px;
    }
    .pre-heading1 {
        padding: 15px 40px;
    }
    .pre-heading2 {
        padding: 30px 60px;
        background: url(../images/pre-shape.png) no-repeat center center;
        background-size: 100% 100%;
    }
    .pre-heading2.line-height {
        line-height: 100%;
    }
    .cta-section-white {
        background: #030210 url(../images/cta-sec.png) no-repeat center center;
        background-size: cover;
        padding: 70px 0px;
    }
    .c-hei {
        min-height: 230px;
    }
}

.pre-heading{
    background: #550076;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
}
@media(min-width:768px){
    .pre-heading{
        padding: 15px 40px;
        background: url(../images/pre-shape.webp) no-repeat center center;
        background-size: cover;
    }
}