/* Testimonial CSS */


.bottom-testimonial-section {
    background: #f5efff;
    padding: 30px 0px;
}

.testimonial-section1 {
    background: #c9d2de;
    padding: 30px 0px;
}
.testi-block {
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 6.364px 6.364px 6px 0px rgba(220, 213, 239, 0.4);
	padding: 15px;
}

.red {
    color: #ff0144;
}

.testi-shape {
    position: absolute;
    top: 7px;
    left: -12px;
}

.testi-img {
	width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
    border-radius: 0px;
}

.testi-video {
    border-radius: 5px;
    box-shadow: 6.364px 6.364px 6px 0px rgba(220, 213, 239, 0.4);
    overflow: hidden;
}

.testi-video1 {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.clear {
    clear: both;
}

.testi-block1 {
    position: relative;
    background: #ffffff;
    padding: 5%;
    box-shadow: 4.663px 3.776px 36.4px 3.6px rgba(31, 105, 189, 0.09);
    border-radius: 20px;
}

@media (min-width:768px) {
	.bottom-testimonial-section {
        background: url(../images/testimonial-bg.png) no-repeat bottom center;
        background-size: cover;
        padding: 90px 0px;
    }
	.testimonial-section1 {
        background: #ede9f7 url(../images/testimonial-bg1.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .testi-img {
		width: 130px;
		min-width: 130px;
		height: 130px;
		min-height: 130px;
    }
	.testi-block {
		padding: 30px;
	}

}


/* We are note alone css */

.wearenot-alone-section,
.just-get-access,
.seamless-section {
    background: #ffffff;
    padding: 30px 0px;
}

.dontworry-section {
    background: #f5efff;
    padding: 30px 0px;
}

.alone-bg {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 15px;
}

.borde {
    padding: 0;
}

.dont-need {
    background: #d8f67e;
    border-radius: 10px;
    padding: 5px 15px;
}

@media (min-width:768px) {
    .borde {
        background: #ffffff url(../images/borde.png) no-repeat;
        background-size: 100% 100%;
        padding: 23px 0;
    }
    .wearenot-alone-section {
        background: #ffffff url(../images/wearenotalone-bg.png) no-repeat center center;
        background-size: cover;
        padding: 80px 0px;
    }
    .alone-bg {
        padding: 30px;
    }
    .just-get-access {
        background: #ffffff url(../images/jg-bg.png) no-repeat center center;
        background-size: cover;
        padding: 80px 0px;
    }
    .seamless-section {
        background: #ffffff url(../images/jg-bg.png) no-repeat center center;
        background-size: cover;
        padding: 80px 0px;
    }
    .dontworry-section {
        background: #ffffff url(../images/dontworry-bg.png) no-repeat center center;
        background-size: cover;
        padding: 80px 0px;
    }
}


/* Video testimonial css */

.video-testimonial-section {
    background: #c9d2de;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .video-testimonial-section {
		background: #c9d2de url(../images/video-testimonial-bg.png) no-repeat center center;
		background-size: cover;
		padding: 100px 0px 100px 0px;
    }
}


/* Client video css */

.client-video-section {
    background: #deeaff;
    padding: 30px 0px;
}

.video-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

@media (min-width:768px) {
    .client-video-section {
        background: #deeaff url(../images/client-video-bg.png) no-repeat center center;
        background-size: cover;
		padding: 100px 0px;
    }
}


/* Empowers you Section css */

.empowers-section {
    background: #2f046d;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .empowers-section {
        background: #ffffff url(../images/empowers-bg.png) no-repeat center center;
        background-size: 100% 100%;
        padding: 80px 0px 100px 0px;
    }
}


/* Thats not all section css */

.thatsall-section {
    background: #ffffff;
    padding: 30px 0px;
}

.yellow-shape-bg {
    margin-left: auto;
    margin-right: auto;
    background-color: #00ff84;
    border-radius: 5px;
    padding: 10px 25px;
    display: inline-block;
}

.thats-shape {
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(242, 239, 249);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width:768px) {
    .thatsall-section {
		background: #ffffff url(../images/thatsall-section.png) no-repeat center center;
		background-size: cover;
        padding: 70px 0px 70px;
    }
    .thats-shape {
        padding: 30px;
    }
}


/* Mockup Section css */

.mockup-section {
    background: #ffffff url(../images/mockup-bg.png) no-repeat center center;
    background-size: cover;
    height: 112px;
}

@media (min-width:768px) {
    .mockup-section {
        height: 571px;
    }
}


/* Yes Anything Section css */

.yes-anything-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width:768px) {
    .yes-anything-section {
        padding: 80px 0px;
    }
}


/* HUGE Opportunity css */

.hugeopportunity-section {
	background: url(../images/hugeopportunity-bg.png) no-repeat center center;
	background-size:cover;
	padding: 60px 0px;
}
.probelm-bg-section {
        background: #ffe5e5;
        padding: 30px 0px;
    }
	.problem-tick li {
    list-style: none;
    background: url(../images/cross-icon.png) no-repeat;
    background-position: 0 6px;
    padding: 0 0 20px 55px;
}
.problem-tick li:last-child{padding-bottom:0px;}
.proble-box-bg{
	background: #ffffff;
	border-radius: 10px;
	padding: 15px;
}

@media (min-width:768px) {
	.px-sm85{
	    padding-left: 85px;
	    padding-right: 85px;
	}
	.proble-box-bg{
		padding: 20px 20px 20px 30px;
	}
	.problem-tick li{
		padding: 0 0 20px 60px;
	}
    .hugeopportunity-section {

        padding: 80px 0px 130px 0px;
    }
	.probelm-bg-section {
       background: #ffe5e5 url(../images/probelm-bg-section.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .mt-sm140 {
        margin-top: 140px;
    }
}