body {
    font-family: 'Nunito', sans-serif;
    color: #000000;
}
.poppin-txt {
    font-family: 'Poppins', sans-serif;
}
.bonus-title-bg {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #3f3fff ;
    display: inline-block;
    text-transform: uppercase;
}
.bonus-title-bg-wl {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #1a1d4b;
    display: inline-block;
    text-transform: uppercase;
}
.bonus-title-bg-lt {
    padding: 15px 35px;
    border-radius: 10px;
    color: #ffffff;
    background: #9a3fff;
    display: inline-block;
    text-transform: uppercase;
}
.section-bonus {
    padding: 30px 0px 0px 0px;
}
.bonus-title-color {
    color: #0e2672;
}
@media(min-width:768px) {
    .flex-align {
        display: flex;
        align-items: center;
    }
    .section-bonus {
        padding: 50px 0px;
    }
    .mt-sm-30 {
        margin-top: -30px;
    }
}

