html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #100f12;
    font-size: 14px;
}

.black-clr {
    color: #100f12;
}

.orange-clr {
    color: #fb954a;
}

.white-clr {
    color: #ffffff;
}

.kapblue,
.blue-clr {
    color: #682af1;
}

.t-decoration-none,
.t-decoration-none:hover,
.t-decoration-none a:hover {
    text-decoration: none;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-section {
    background: #682af1 url(https://cdn.oppyo.com/launches/webpull/lite/header-bg.webp);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 30px 0px;
}

.pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: #101012;
    outline: none;
    border-color: #682af1;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}

.text-shadow {
    text-align: center;
    text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
}

@media (min-width: 768px) {
    .header-section {
        background: #682af1 url(https://cdn.oppyo.com/launches/webpull/lite/header-bg.webp);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .pre-heading {
        padding: 15px 30px;
        border-radius: 100px;
    }
}

.second-section {
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .second-section {
        padding: 100px 0px;
    }
}

.probtn1 a {
    background-image: -moz-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -webkit-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -ms-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
    border-radius: 65px;
}

.probtn1 a:hover {
    background: linear-gradient(90deg, rgba(253, 139, 37, 1) 0%, rgba(255, 103, 28, 1) 100%);
    text-decoration: none;
    transform: scale(1.03);
}

@media (min-width: 768px) {
    .probtn1 a {
        padding: 25px 40px;
    }
}

.third-section {
    background: #f2ecff;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .third-section {
        padding: 100px 0;
    }
}

.proudly-section {
    background: #682af1;
    padding: 30px 0;
}

.presenting-shape {
    background-color: rgb(251, 149, 73);
    border-radius: 100px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.presenting-shape:before {
    width: 70px;
    height: 1px;
    background: #fcc216;
    position: absolute;
    content: '';
    left: -70px;
}

.presenting-shape:after {
    width: 70px;
    height: 1px;
    background: #fcc216;
    position: absolute;
    content: '';
    right: -70px;
}

@media (min-width: 768px) {
    .proudly-section {
        background: #682af1 url(https://cdn.oppyo.com/launches/webpull/lite/proudlybg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
}

.grey-section {
    background: #f2ecff;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .grey-section {
        padding: 100px 0;
    }
}

.white-section {
    background: #fff;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .white-section {
        padding: 100px 0;
    }
}

.moneyback-section {
    background: url(https://cdn.oppyo.com/launches/webpull/lite/moneyback-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
    color: #ffffff;
}

@media (min-width: 768px) {
    .moneyback-section {
        padding: 100px 0 100px;
        color: #000;
    }
}

.bonus-section {
    background: #f2ecff;
    background-size: cover;
    padding: 30px 0;
}

.bonus-design {
    background-color: rgb(251, 149, 73);
    border-radius: 100px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}

@media (min-width: 768px) {
    .bonus-design {
        padding: 5px 50px;
    }
    .bonus-design:before {
        width: 70px;
        height: 1px;
        background: #fcc216;
        position: absolute;
        content: '';
        left: -70px;
    }
    .bonus-design:after {
        width: 70px;
        height: 1px;
        background: #fcc216;
        position: absolute;
        content: '';
        right: -70px;
    }
}

@media (min-width: 768px) {
    .bonus-section {
        background: #f2ecff url(https://cdn.oppyo.com/launches/webpull/lite/bonus-bg.webp) no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 100px 0px;
    }
}

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

.tablebox2 {
    border: 1px solid rgb(34, 7, 105);
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tbbg2 {
    background-image: -moz-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient(78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.relative {
    position: relative;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(https://cdn.oppyo.com/launches/webpull/lite/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 28px;
    line-height: 150%;
    border-bottom: 1px solid #e7e7e7;
    color: #000;
}

@media (min-width: 768px) {
    .table-section {
        background: #ffffff url(https://cdn.oppyo.com/launches/webpull/lite/table-section.webp) no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 50px 0 100px 0;
    }
    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}