html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #08041e;
    font-size: 14px;
	overflow-x: hidden;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #08041e;
}

.blue-clr{
    color: #282a89
}

.blue-clr1{
    color: #6f6fff;
}

.gradient-orange{
    background: #FF9315; 
    background: linear-gradient(90deg, #FF9315 21.66%, #FF4F17 64.49%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

/* Header Section Start */

.header-section {
    background: #030331 url(../images/header-bg.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-headline{
    border: 1px solid rgb(22, 22, 88);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: inline-block;
}

.probtn1 a {
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 600;
    line-height: 140%;
    border-radius: 15px;
    background: linear-gradient(180deg, #FF4F17 0%, #FF9315 100%);
    overflow: hidden;
    position: relative;
}

.probtn1 a::before{
    position: absolute;
    width: 100%;
    height: 34px;
    z-index: 1;
    background: linear-gradient(171.07deg, #FFFEFE -40.8%, rgba(255, 254, 254, 0) 93.21%);
    content: '';
    top: 0;
    left: 0;
    border-radius: 0px 0px 100% 100%;}

.probtn1 a:hover {
    transition: all .3s ease;
    background: linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
}

@media(min-width:768px) {
    .header-section {
        padding: 40px 0 100px;
        position: relative;
    }
    .probtn1 a {
        font-size: 32px;
        padding: 20px 50px;
    }
    .post-headline{
        padding: 20px 30px;
    }
}

/* Header Section End */

/* Second Section Start */

.second-section {
    padding:30px 0px;
    background: #f0f3fb;
}

.header-list-block {
    border-radius:20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    margin: 0;
    border: solid 5px #ffffff;
}

ul.pro-list{
    margin: 0px;
    padding: 0px;
}
.pro-list li{
    background: url(../images/check-mark.webp) no-repeat;
    padding: 5px 0px 0px 50px;
    background-position: 0px 8px;
    text-align: left;
    list-style-type: none;
    margin-bottom: 20px;
}

@media(min-width:768px) {
    .second-section {
        padding:50px 0px 100px 0px;
    }
    .header-list-block {
        padding: 40px 30px;
        background:#ffffff url(../images/pro-second-section-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
}

@media (min-width: 1200px){
    .mycontainer {
        max-width: 1340px !important;
    }
}

/* Second Section End */

/* Third Section Start */

.success-section {
    padding:30px 0 0px 0px;
    background: #f0f3fb;
 }

@media (min-width: 768px) {
    .success-section {
        padding:100px 0px 0px 0px;
    }
    .title{
        display: inline-block;
        border-radius:0px;
        padding: 30px 120px 40px 120px;
        position: relative;
        background:transparent url(../images/headline-vector.webp) no-repeat center center / 100% 100%;
        border: none;
        color: #08041e;
    }
    
}

/* Third Section End */

/* Fourth Section Start */

.fifth-section {
    background: #030331;
    padding: 30px 0px;
}

.per-shape {
    background: url(../images/presenting-shape.webp) center center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 20px 55px 30px 55px;
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media(min-width:768px)
{
    .fifth-section {
        background: #fff  url(../images/proudlybg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 100px 0px 180px 0px;
    }
}

/* Fourth Section End */

/* Advance Section Start */

.advance-section {
    background: #fff;
    padding: 30px 0;
}

@media(min-width:768px){
    .advance-section {
        background: url(../images/advance-section-bg.webp) no-repeat center center;
        background-attachment: fixed;
        padding:70px 0px 100px 0;
    }
}

/* Advance Section End */

/* Good Section Start */

.good-section {
    background: #f0f3fb url(../images/good-section-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0;
}

ul.good-list{
    padding: 0px;
    margin: 0px;
}
ul.good-list li{
    background: url(../images/point-icon.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
}

@media (min-width:768px) {
    .good-section {
        padding: 100px 0px 0px 0px;
    }
}

/* Good Section End */

/* MoneyBack Section Start */

.moneyback-section {
    background: #030331;
    padding: 30px 0;
    margin-top: -150px;
    z-index: 9;
    position: relative;
}

.money-container{
    border: 4px solid rgb(122, 123, 243);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);  
    padding:15px;  
    position: relative;
}

@media(min-width:768px){
    .moneyback-section {
        background:  url(../images/moneyback-bg.webp) no-repeat top center;
        background-size: cover;
        padding: 140px 0px 100px 0px;
    }
    .money-gurantee-img{
        position: absolute;
        top: -30px;
        left: -116px;
    }
    .money-container{
        border-radius: 30px;
        padding: 50px 130px;  
    }

    .robot-img{
        position: absolute;
        bottom: -80px;
        right:-170px;
    }
    
}

/* MoneyBack Section End */

/* Bonus Section Start */

.bonus-section {
    background: url(../images/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
}

.feature-shape {
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}

@media(min-width:767px) {
    .bonus-section {
        padding: 70px 0px;
    }
}

@media(min-width:768px){
    .feature-shape:after {
        content: '';
        background: url(../images/line-shape.webp) no-repeat right bottom;
        padding: 22px 0;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -15px;
        right: -15px;
    }
}

/* Bonus Section End */

/*Table CSS Start*/

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

.tablebox2 {
    border: 1px solid #030331;
    width: 100%;
    float: left;
    border-radius: 15px;
    background: #fff;
}

.tbbg2 {
    background: #030331;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tbbg2-text {
    color: #fff;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}
ul.vgreytick li.headline {
    background: #FF4F17 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff !important;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #282a89;
}

@media (min-width: 768px) {
    .table-section {
        padding: 100px 0px;
        background: url(../images/table-bg.webp) no-repeat;
        background-position: center center;
    }

    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }

}

@media (max-width: 767px) {
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
}

/*Table CSS End*/

/* Footer section Start*/

.footer-section {
    background: #020d13;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
}

/* Footer section End*/

