/* Demo Section Start */
.demo-section {
	padding: 30px 0px;
    background: #252525 ;
}
@media (min-width: 768px) {
    .demo-section {
        padding:100px 0px;
        background: url(../images/demo-section.webp) no-repeat center center;
        background-size: cover;
    }
}
/* Demo Section End */

/* Feature 1 Section Start */
.features-headline {
    padding: 30px 0;
    background-color: #fff;
}
.features-section{
    padding:30px 0px;
    max-width: 95%;
    margin: 20px auto 0px auto;
    background-color: #F4F6FD;
    border-radius: 15px;
}

.constant-income{
    background: #062D69;
    background-size: cover;
    padding: 30px 0px;
}
    
@media (min-width:768px) {
    .features-headline
     {        
		padding:80px 0px;
        background: url(https://cdn.oppyo.com/launches/legelsuites/special/feature-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .features-section{
        padding:100px 0px;
        max-width: 95%;
        margin:0px auto;
    }
    .constant-income{
        background: #fff url(https://cdn.oppyo.com/launches/legelsuites/special/consistent-income.webp) no-repeat top center;
        background-size: cover;
        padding: 150px 0px 100px 0px;
    }
}

@media(min-width:1600px) {
	.features-section {
		max-width: 85%;
        border-radius: 30px;
	}
   

}
