html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #252525;
}

.orange-clr {
	color: #F2A736;
}

.orange-clr1{
	color: #E76D24;
}
.red-clr{
	color: #FF3838;
}
.red-clr1{
	color:#E54E61;
}
.underline{border-bottom: 2px solid;}
.orange-gradient{
	background: #F2A736;
	background: linear-gradient(to bottom, #F2A736 0%, #E76D24 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.blue-clr{color: #2447a2;}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

/* Header CSS */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px;
	background-attachment: fixed;
	animation: shrink 5s infinite alternate;
	position: relative;
}
@keyframes shrink {
	0% {
	  background-size: 110% 110%;
	}
	100% {
	  background-size: 100% 100%;
	}
}

.preheadline {
	display: inline-block;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: solid 2px rgba(255, 255, 255, 0.25);
}

.ele1{
	position: absolute;
	bottom: -75px;
    left: -20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}	

.ele2{
	position: absolute;
	top: 400px;
    right: 20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}

@-webkit-keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}
@keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}

.header-wrap {
	padding: 0px 0px 15px 0px;
	background: rgba(11, 28, 55, 0.2);
	backdrop-filter: blur(3px);
	border-radius: 15px 15px 0px 0px;
	border: solid 1px #2561BD;
	max-width: 95%;
	margin: 20px auto 0px auto;
}

ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
	font-weight: 400;
	color: #ffffff;
}

ul.leader-ul li:hover a {
	transition: 0.5s all ease-in;
	color: #fff !important;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}


.header-section ul.leader-ul li .active {
	transition: 0.5s all ease-in;
	color: #fff;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}

.header-section ul.leader-ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}

a.affiliate-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	color: #ffffff !important;
	font-weight: 600;
	transition: all .3s ease;
    background: #F2A737;
    border-radius: 15px;
}

a.affiliate-link-btn:hover {
	transition: all .3s ease;
    background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}

@media(min-width:768px) {
	a.affiliate-link-btn {
		padding: 15px 25px;
		font-size: 18px;
	}

	.header-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}

	.header-section {
		padding: 40px 0px 100px 0px;
	}


	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		max-width: 64%;
	}

	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36%;
		flex: 0 0 36%;
		max-width: 36%;
	}

	ul.leader-ul li {
		display: inline-block;
		padding: 0px 15px;
		font-weight: 400;
		color: #ffffff;
	}

}

@media(min-width:1600px) {
	.header-wrap {
		max-width: 85%;
	}
}

/* Header End */
.second-section {
    padding: 0 0 30px 0;
    background: #fff;
}
@media(min-width:768px){
	.second-section {
		padding: 0 0 100px 0;
		background: #fff url(../images/list-section-bg.webp) no-repeat center center;
		background-size: cover;
	}
}
.feature-wrap {
	padding: 20px 15px 30px 15px;
    margin: 0;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgb(0 0 0 / 15%);
    border-radius: 0px 0px 20px 20px;
}

.feature-list {
	background: url(../images/orange-tick.webp) no-repeat;
    background-position: 10px 32px;
    padding: 15px 15px 15px 64px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    background-color: #FFEED6;
    display: flex;
    align-items: center;
    border: 3px solid #FFFFFF;
}

@media(min-width:768px) {
	.feature-wrap {
		padding: 60px 30px 80px 30px;
	}
}

@media(max-width:767px) {
	.feature-list img {
		max-height: 30px;
		margin-top: 5px;
	}
}


/* CTA Button Start */
a.cta-link-btn {
	transition: all .3s ease;
	border-radius: 15px;
	background: #F2A737;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	width: 100%;
	font-size: 24px;
	line-height: 140%;
}

a.cta-link-btn:hover {
	transition: all .3s ease;
    background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}

@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 38px;
		padding: 28px 60px;
		display: inline-block;
		width: auto;
		border-radius: 100px;
	}
}

/* CTA Button End*/


/* Step Section Start */
.step-section {
	padding: 30px 15px;
	background: #ffffff;

}
.step-section1 {
	padding: 30px 15px;
	background: #ffffff;

}

.step-box {
	background: #fff;
    padding: 35px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.15));
    border-radius: 20px;
    text-align: center;
	position: relative;
}
.choose-img{
	position:absolute; top:20px; left: -15px;
}
.choose-img::before{

}

.step-title {
	padding: 8px 50px;
	color: #ffffff;
	display: inline-block;
	background: #000000;
	border-radius: 0px 0px 20px 20px;
}

.step-content {
	background: #2471FF;
	border-radius: 0px 0px 30px 30px;
	padding: 40px 15px 30px 15px;
	position: relative;
	overflow: hidden;
}

.step-content::before {
	background: rgba(0, 0, 0, 0.4);
	filter: blur(15px);
	position: absolute;
	z-index: 90;
	content: '';
	top: 0px;
	height: 17px;
	width: 100%;
	left: 0;
	right: 0;
}

@media (min-width: 768px) {
	.step-section {
		padding: 100px 0px 130px 0px;
		background: #fff url(../images/steps-bg.webp) center bottom;
		background-size: cover;
	}
	.step-section1 {
		padding: 100px 0px 130px 0px;
		background: #110c12 url(../images/steps-bg.webp) center bottom;
		background-size: cover;
	}

	.step-content {
		height: calc(100% - 234px);
	}

}

/* Step Section End */


/* Proof Section Start */
.proof-section {
	padding: 30px 0px;
	background: #f4f6fd;
}

@media (min-width: 768px) {
	.proof-section {
		padding: 100px 0px 150px 0px;
		background: #ffffff url(https://cdn.oppyo.com/launches/legelsuites/special/proof-bg.webp) center bottom no-repeat;
		background-size: cover;
	}
}

/* Proof Section End */


.analyzer-sec {
	padding: 30px 0px;
	background: #ffffff;
}

.analyzer-sec {
	background: url(https://cdn.oppyo.com/launches/legelsuites/special/demo-bg.webp) no-repeat center center;
	background-size: cover;
}

.analyzer-sec #oppyo-ada-compliance-checker {
	background: #165FCF url(https://cdn.oppyo.com/launches/legelsuites/special/web-form-bg.webp) no-repeat center center !important;
	background-size: cover !important;
	padding: 30px 30px !important;
}

.analyzer-sec #oppyo_website_url {
	height: 50px !important;
	font-weight: 500 !important;
	font-size: 20px !important;
	border-radius: 100px !important;
}

.analyzer-sec #oppyo_checker_btn {
	background-color: #FFA829 !important;
	font-weight: 600 !important;
	font-size: 20px !important;
	border-radius: 100px !important;
}

@media(min-width:768px) {
	.analyzer-sec {
		padding: 50px 0px 100px 0px;
		background: url(https://cdn.oppyo.com/launches/legelsuites/special/analyzer-sec-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.analyzer-sec #oppyo-ada-compliance-checker {
		padding: 30px 110px !important;
		border-radius: 12px;
		text-align: center;
		max-width: initial !important;
		width: 100%;
		margin: 0 auto;
	}
}


/* Team Section Sart */
.awesome-sections {
	background: #062D69 url(https://cdn.oppyo.com/launches/legelsuites/special/awesome-shape.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}

.hithere {
	border-radius: 10px;
	background-color: #ffffff;
	display: inline-block;
	align-items: center;
	justify-content: center;
	padding: 15px;
	position: relative;
	z-index: 1;
}

.hithere-shape {
	display: inline-block;
	padding: 5px 30px 5px 30px;
	position: relative;
	z-index: 1;
	background: #0f2448;
	border-radius: 60px;
	align-items: center;
	font-family: 'Caveat', cursive;
}

@media (min-width: 768px) {
	.awesome-sections {
		padding: 100px 0px;
	}

	.hithere {
		margin: 0px 15px;
		padding: 15px 50px;
	}

	.hithere::before {
		content: '';
		position: absolute;
		left: -15px;
		background-color: #FFA829;
		width: 10px;
		height: 100%;
		z-index: -1;
		border-radius: 10px 0px 0px 10px;
		top: 0px;
	}

	.hithere::after {
		content: '';
		position: absolute;
		right: -15px;
		background-color: #FFA829;
		width: 10px;
		height: 100%;
		z-index: -1;
		border-radius: 0px 10px 10px 0px;
		top: 0px;
	}

	.hithere-shape {
		padding: 10px 90px 10px 90px;
	}
}

/* Team Section End */


/* Did You Know Section Start */
.didyouknow-sec {
	padding: 30px 0px;
	background: #ffffff;
}

.youknow-block {
	background: #FFC01F;
	border-radius: 15px;
	padding: 15px;
	display: inline-block;
}

@media(min-width:768px) {
	.didyouknow-sec {
		padding: 100px 0px;
		background:#fff url(../images/didyouknow-sec.webp) no-repeat center top;
		background-size: cover;
	}

	.youknow-block {
		padding: 24px 88px 45px 88px;
		background: url(../images/know-shape.webp) no-repeat center center;
		background-size: contain;
	}
}

/* Did You Know Section End */


/* Compliance Section Start */
.compliance-sec {
	padding: 30px 0px;
	background: #F4F6FD;
}

.compliance-block {
	background: #2471FF;
	border-radius: 22px 22px 20px 20px;
	box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.06);
}

.compliance-title {
	background: #FFFFFF;
	border-radius: 20px 20px 0px 0px;
	padding: 20px;
}

.compliance-image {
	padding: 20px;
}

@media(min-width:768px) {
	.compliance-sec {
		padding: 50px 0px 100px 0px;
		background: url(https://cdn.oppyo.com/launches/legelsuites/special/compliance-sec-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.compliance-title {
		padding: 40px 20px;
	}

	.compliance-image {
		padding: 40px 20px;
	}
}

/* Compliance Section End */


/* Stats Section Start */
.stats-sec {
	padding: 30px 0px;
}

.stats-wrap {
	padding: 30px 0px;
	max-width: 95%;
	margin: 0px auto;
	border-radius: 15px;
	background: #0B1C37;
}

@media(min-width:768px) {
	.stats-sec {
		padding: 100px 0px 0px 0px;
	}

	.stats-wrap {
		padding: 100px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		background: url(https://cdn.oppyo.com/launches/legelsuites/special/stats-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}
}

@media(min-width:1600px) {
	.stats-wrap {
		max-width: 85%;
	}
}

/* Stats Section End */


/* Giants  ance Section Start */
.giants-sec {
	padding: 30px 0px;
	background: #fff;
}

.underline {
	border-bottom: 4px solid #FFA829;
	padding-bottom: 5px;
}

@media(min-width:768px) {
	.giants-sec {
		padding: 100px 0px;
	}
}

/* Giants  Section End */


/* Big Question */
.big-ques-sec {
	padding: 30px 0px 150px 0px;
	background: #F4F6FD;
}

.blue-design {
	border-radius: 20px;
	background-color: #FFC01F;
	display: inline-block;
	padding: 10px;
	position: relative;
}

@media (min-width: 768px) {
	.big-ques-sec {
		padding: 100px 0px 200px 0px;
		background: url(https://cdn.oppyo.com/launches/legelsuites/special/question-bg.webp) no-repeat center bottom;
		background-size: cover;
	}

	.blue-design {
		padding: 20px 50px 30px 50px;
		display: inline-block;
		background: url(https://cdn.oppyo.com/launches/legelsuites/special/question.webp) no-repeat center center;
		background-size: 100% 100%;
	}

}

/* Big Question End */

/* Option Section **/
.option-section {
	padding: 0px 0px 30px 0px;
	background: #040C25 url(https://cdn.oppyo.com/launches/legelsuites/special/option-section-bg.webp) no-repeat center bottom;
	background-size: cover;
}

.option-headline {
	background: #FF3535;
	padding: 15px;
	border-radius: 15px;
	display: inline-block;
	margin-top: -117px;
}

@media (min-width:768px) {
	.option-section {
		padding: 0px 0px 100px 0px;
	}

	.option-headline {
		background: url(https://cdn.oppyo.com/launches/legelsuites/special/option-headline.webp) no-repeat center center;
		background-size: 100% 100%;
		padding: 15px 30px 30px 30px;
		border-radius: 0px;
		margin-top: -117px;
	}

}

/* Option Section End**/

/* Any More Section */
.anymore-sec {
	padding: 30px 0px ;
	background-color: #ffffff;
}

.anymore-inner{background: #FFC01F;
	border-radius: 30px; padding: 30px 15px;}

@media (min-width:768px) {
	.anymore-sec {
		padding:100px 0px;
		background: url(https://cdn.oppyo.com/launches/legelsuites/special/anymore-sec.webp) no-repeat center center;
		background-size: cover;
	}
	.anymore-inner{padding: 0px;}
	.anymore-sec .but-not{position: absolute; top: -150px;
		left: -250px;}
	.anymore-content{padding: 64px 45px 64px 330px;}

}

/* Any More Section End */

/* Testimonals Section Start */
.testimonial-section{
	background: #fff;
	padding: 30px 0px;
}
.single-testimonial {
	background-color: #FFF7EC;
	text-align: center;
	border-radius: 30px;	
	position: relative;
	z-index: 2;
	padding: 50px;
	border: 2px solid #f1f1f1;
}

.client-info {
	/* display: inline-flex; */
	gap: 15px;
	align-items: center;
	padding-bottom: 30px;
}
.client-details{
	color: #682af1;
	font-size: 20px;
	font-weight: 600;
}
@media(min-width:768px){
	.testimonial-section{
		padding: 100px 0px 80px 0px;
	}
}
/* Testimonals Section End */


img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}



.website-section{
	padding: 30px 0px;
	background: #ffffff;
}

.website-block {
	background: #FFC01F;
	border-radius: 15px;
	padding: 15px;
	display: inline-block;
	position: relative;
	z-index: 9;
}
.website-block1 {
	background: #5C637E;
	border-radius:0px 0px 15px 15px;
	padding: 15px;
	display: inline-block;
	position: relative;
	
}
.website-wrap{
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.06);
	border-radius: 20px;
	padding: 15px;
}
.brings-block{
	background: url(https://cdn.oppyo.com/launches/legelsuites/special/brings.webp) no-repeat center center;
	background-size: 100% 100%;
	box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	padding: 20px;
	display: inline-block;
}
@media (min-width:768px) {
	.website-section {
		padding: 100px 0px;
		background: url(https://cdn.oppyo.com/launches/legelsuites/special/serving-website-bg.webp) no-repeat center bottom;
		background-size: cover;
	}
	.website-block {
		padding: 24px 60px 45px 60px;
		background: url(https://cdn.oppyo.com/launches/legelsuites/special/website-shape.webp) no-repeat center center;
		background-size: 100% 100%;
	}
	.website-block1 {
		padding:49px 60px 25px 60px;
		background: url(https://cdn.oppyo.com/launches/legelsuites/special/website-shape1.webp) no-repeat center center;
		background-size: 100% 100%;
		margin-top: -45px;
	}
	.website-wrap{
		padding: 30px;
	}
	.connect-line{
		position: absolute;
		left: -36px;
		top: -67px;
	}
	.connect-line1{
		position: absolute;
		left: -36px;
		bottom: 76px;
	}

	.mt-md140{
		margin-top: 140px !important;
	}
	.brings-block{
		padding: 40px 70px;
	}
}
/* Presenting Section Start */
.presenting-sec{
	padding: 30px 0px;
	background: url(../images/introducing.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.presenting-wrap {
	padding: 0px 0px 15px 0px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	border-radius: 20px;
	border: solid 2px rgba(255, 255, 255, 0.25);
	max-width: 95%;
	margin: 20px auto 0px auto;
}
.presenting-head{
	background: url(../images/introducing-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 10px 55px 70px 55px;
    display: inline-block;
	margin-top: -10px;
}
@media(min-width:768px){
	.presenting-sec{padding: 100px 0px;}
	.presenting-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}
	.presenting-head{
		padding: 20px 140px 140px 140px;
		margin-top: -20px;
	}

}
@media(min-width:1600px) {
	.presenting-wrap {
		max-width: 85%;
	}
}

/* Presenting Section End */

.heading-design {
    background: #252525;
    padding: 20px;
    display: inline-block;
}
@media(min-width:768px){
	.heading-design {
		background: url(../images/heading-bg.webp) no-repeat center center;
		background-size: 100% 100%;
		padding: 110px 200px 50px 200px;
	}
}

/* List Section Start */
.list-section{
	padding: 30px 0px;
}
.gap30 {
	--bs-gutter-y: 30px;
}
.feature-list-box {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background: #FFFFFF;
	box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	border-bottom: 7px solid #FFAA05;
}

.feature-list-box:hover{
	-webkit-animation-name: wobble;
    animation-name: wobble;    
    -webkit-animation-duration:          0.8s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;
}
@-webkit-keyframes wobble {
	0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
  }
  
  @keyframes wobble {
	0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
  }
  .support-img:hover img{-webkit-animation-name: wobble;
    animation-name: wobble;    
    -webkit-animation-duration:          0.8s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;}

@media(min-width:768px){
	.list-section{
		padding: 100px 0px;
		background: url(../images/list-section-bg.webp) no-repeat center center;
		background-size: cover;
	}
	.gap30 {
		--bs-gutter-x: 50px;
		--bs-gutter-y: 50px;
	}
	.feature-list-box {
		height: 100%;
		padding: 30px;
	}

}
/* List Section End */
.smile-text{
	border: 2px solid #E54E61;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 50px;
	position: relative;
	color: #E54E61;
	background-color: #fff;
}
.smile-text::before{
	position: absolute;
	content: url(../images/smily.webp);
	left: -40px;
	top: 10px;
}
.step-orange{
	background: #FF8B4A;
border-radius: 20px;
padding: 8px 33px;
display: inline-block;
}
.step-blue{
	background: #48CEEE;
border-radius: 20px;
padding: 8px 33px;
display: inline-block;
}
.step-green{
	background: #47D0A3;
border-radius: 20px;
padding: 8px 33px;
display: inline-block;
}

.serve-sec{
	background: url(../images/serve-bg.webp) no-repeat top center;
	background-size: 100% 100%;
	padding: 30px 0px;
}
@media(min-width:768px){
	.serve-sec{padding: 120px 0px 150px 0px;}
}
.this-open-section{
	padding: 30px 0;
	background-attachment: fixed;
	background: url(../images/open-sec-bg.webp) no-repeat center center;
	background-size: cover;
}
@media(min-width:768px){
	.this-open-section{
		padding: 100px 0;
	}
}
.usecase-sec{
	padding: 30px 0px;
	background:#111 url(../images/usecase-bg.webp) no-repeat bottom center;
	background-size: 100% 100%;
}
@media(min-width:768px){
	.usecase-sec{padding: 100px 0px;}
}
.reason-list li{
	background: url(../images/s-orange-tick.webp) no-repeat;
    background-position: 0 1px;
    padding-left: 43px;
    margin-bottom: 25px;
    list-style-type: none;
    min-height: 26px;
}
.hello-awesome{
	padding: 30px 0px;
}
.hello-wrap{
	background: url(../images/hello-wrap-bg.webp) no-repeat center center;
	background-size: 100% 100%;
	padding: 20px;
}
@media(min-width:768px){
	.hello-awesome{
		padding: 100px 0px;
	}
	.hello-wrap{padding:0px 80px 80px 80px;}
}
.fellow-marketer{
	color: #FFA829;
    background: #fff;
    display: inline-block;
    padding: 10px 90px 10px 30px;
    border-radius: 50px;
    border: 5px solid #ffa829;
    position: relative;
}
.fellow-box{
	background-color: #fff;
    display: inline-block;
    border-radius: 50px;
    padding: 5px;
    margin-top: -50px;
}

.fellow-marketer::before{
	position: absolute;
	content: url(../images/hand-icon.webp);
	bottom: -17px;
    right: 5px;
	animation: 1s ease-in-out 0s infinite alternate none running moveInleft;
}
@keyframes moveInleft {
    0% {
		transform: translate(5px, 0);
	  }
	  50% {
		transform: translate(-5px, 0);
	  }
	  100% {
		transform: translate(0, 0);
	  }
}
.head-design{
	background: url(../images/head-bg.webp)no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    padding: 5px 50px;
}

#nbr{
	font-size:62px;
	margin:44px 0 0 0;
  }

  .odometer {
    font-size: 100px !important;
    font-weight:700 !important;
}
  .odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-default {

  line-height: 1.1em;
}
.odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
  text-align: center;
}
.key-features-bg {
    padding: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 15px;
}
.list-head li {
    background: url(../images/s-orange-tick.webp) no-repeat;
    padding: 10px 0px 10px 35px;
    background-position: 0px 13px;
    text-align: left;
    border-bottom: solid 1px #252525;
	list-style-type: none;
}
.list-head li:last-child{
	border-bottom: 0px;
}

.problem-sec{
	padding: 0px 0px 30px 0px; 
	background: url(../images/problem-bg.webp) no-repeat center center; 
	background-size: cover; 
}
.problem-list li {
    background: url(../images/cross.webp) no-repeat;
    background-position: 20px 25px;
    padding: 10px 10px 10px 60px;
    margin-top: 15px;
    list-style-type: none;
    min-height: 80px;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    background-color: #FFEED6;
    display: flex;
    align-items: center;
    border: 3px solid #FFFFFF;
}
.bordered-text{
	border: 2px solid #FFD2D8;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    color: #E54E61;
    background-color: #fff;
}
.border-cover{
	background: #fff;
	padding: 5px;
	border-radius: 50px;
	display: inline-block;
}
.didyouknow-wrap{
	background: #f1f1f1;
	border-radius: 20px;
	padding: 20px;
}
@media(min-width:768px){
	.didyouknow-wrap{
		padding: 80px;
		background: #FEFEFE;
		border-radius: 50px;
	}
}
.problem-sec {
    padding: 30px 0px;
    background: url(../images/problem-bg.webp) no-repeat center center;
    background-size: cover;
}
@media(min-width:768px){
	.problem-sec {
		padding: 50px 0px 100px 0px;
	}
}
/* Fact Section Start */
.fact-sec{
	padding: 30px 0px;
	background: url(../images/facts-bg.webp) no-repeat center center;
	background-size: cover;
}
.fact-wrap {
	padding: 30px 15px;
	background: url(../images/reason-bg.webp) no-repeat center center;
	background-size: 100% 100%;
	border-radius: 20px;
}
.reason-list li{
	background: url(../images/s-orange-tick.webp) no-repeat;
    background-position: 0 1px;
    padding-left: 43px;
    margin-bottom: 25px;
    list-style-type: none;
    min-height: 26px;
}

.know-list li{    
	background: url(../images/s-orange-tick.webp) no-repeat;
    background-position: 0 5px;
    padding-left: 43px;
    margin-bottom: 20px;
    list-style-type: none;
    min-height: 26px;}

@media(min-width:768px){
	.fact-sec{
		padding: 100px 0px;
	}
	.fact-wrap {
		padding: 80px 80px 60px 80px;
	}
}

/* Fact Section End */
.local-restro{padding: 30px 0px; 
	background: #fff url(../images/local-restro-bg.webp) no-repeat center bottom;
	background-size: cover;
}
.local-restro-head{
	background: url(../images/local-restro-head.webp) no-repeat center center;
	background-size: cover;
	padding: 10px;
}
@media(min-width:768px){
	.local-restro{padding: 100px 0px;}
}
.st-img{
	display: inline-block;
    margin-top: -150px;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
}
.stars {display: inline-block; text-align: center;}
.stars a {padding-right: 8px; color: #FFC635;}
.stars a:last-child{padding-right: 0px;}
.stars a i{font-size: 20px;}

.need-expert{padding:30px 0px;
}
@media(min-width:768px){
	.need-expert{padding:100px 0px;}
}
.gametext{
	background: #fdbe39;
    padding: 4px 18px;
    border-radius: 15px 15px 0px 0px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}
.mainheadline{
	border-radius: 26px;	
	background-color:rgba(255, 255, 255, 0.25);
	position: relative;
	z-index: 9;
	left: -5px;
	top: -5px;
	padding:20px 10px;
}
.mainheadline::before{
    content: '';
    border-radius: 26px;
    background-color:rgb(37 37 37);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 5px;
    top: 5px;	  
}

@media(min-width:768px){
	.gameimg{
		position: absolute;
		top: -61px;
		z-index: 9999;
		left: -8px;
	}
	.mainheadline{
		padding:20px;
	}
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}