.white-section {
    background: #ffffff;
    padding: 30px 0px;
}

.shape-testi1 {
    background: #ffffff;
    border-radius: 65px;
    padding: 12px 32px;
    display: inline-block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .shape-testi1 {
        padding: 18px 40px;
    }
    .white-section {
        padding: 70px 0px;
    }
}

.table-section ul li {
    line-height: 120% !important;
}


/* Testimonial CSS */

.testimonial-section {
    background: #deeaff;
    padding: 30px 0px;
}

.testimonial-section1 {
    background: #ffffff;
    padding: 30px 0px;
}

.testi-block {
    position: relative;
    background: #ffffff;
    padding: 15px 15px 55px 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 14.72px 1.28px rgba(0, 0, 0, 0.08);
}

.testi-shape {
    position: absolute;
    top: 7px;
    left: -12px;
}

.testi-img {
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
    border-radius: 0px;
}

.testi-video {
    border-radius: 5px;
    box-shadow: 6.364px 6.364px 6px 0px rgba(220, 213, 239, 0.4);
    overflow: hidden;
}

.testi-video1 {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.clear {
    clear: both;
}

.testi-block1 {
    position: relative;
    background: #ffffff;
    padding: 5%;
    box-shadow: 4.663px 3.776px 36.4px 3.6px rgba(31, 105, 189, 0.09);
    border-radius: 20px;
}

.shape-testi {
    background-color: rgb(245, 124, 37);
    border-radius: 65px;
    padding: 16px 35px 12px 35px;
    display: inline-block;
    margin-top: 0px;
    position: relative;
    color: #ffffff;
}

.testimonial-section2 {
    background: #deeaff;
    padding: 30px 0;
}

.testi-block:before {
    position: absolute;
    content: '';
    background: url(../images/tshape1.svg) no-repeat center center;
    top: -10px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 21px;
}

.testi-block:after {
    position: absolute;
    content: '';
    background: url(../images/tshape2.svg) no-repeat center center;
    bottom: -10px;
    right: 0px;
    z-index: 1;
    width: 80%;
    height: 21px;
}

.testi-block.right-pos:before {
    transform: scaleX(-1);
    right: 0px;
    left: auto;
}

.testi-block.right-pos:after {
    transform: scaleX(-1);
    right: auto;
    left: 0px;
}

.testi-block .testi-img-pos img {
    position: absolute;
    bottom: -50px;
    right: auto;
    box-shadow: 0px 0px 14.72px 1.28px rgb(0 0 0 / 8%);
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 4;
}

@media (min-width:768px) {
    .testimonial-section {
        background: #deeaff url(../images/testimonial-bg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
    .testimonial-section1 {
        background: #ffffff;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
    .testimonial-section2 {
        background: #deeaff url(../images/testimonial-bg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
    .testi-img {
        width: 130px;
        min-width: 130px;
        height: 130px;
        min-height: 130px;
    }
    .testi-block {
        padding: 30px 30px;
    }
    .testi-block:before {
        position: absolute;
        content: '';
        background: url(../images/tshape1.svg) no-repeat center center;
        top: -10px;
        left: 0px;
        z-index: 1;
        width: 80%;
        height: 21px;
    }
    .testi-block.right-pos:before {
        transform: scaleX(-1);
        right: 0px;
        left: auto;
    }
    .testi-block:after {
        position: absolute;
        content: '';
        background: url(../images/tshape2.svg) no-repeat center center;
        bottom: -10px;
        right: 0px;
        z-index: 1;
        width: 80%;
        height: 21px;
    }
    .testi-block.right-pos:after {
        transform: scaleX(-1);
        right: auto;
        left: 0px;
    }
    .testi-block .testi-img-pos img {
        position: absolute;
        bottom: -45px;
        right: -80px;
        box-shadow: 0px 0px 14.72px 1.28px rgb(0 0 0 / 8%);
        border-radius: 50%;
        z-index: 4;
        left: auto;
    }
    .testi-block.right-pos .testi-img-pos img {
        right: auto;
        left: 0px;
    }
}


/* Testimonial CSS End */

.black-design2 {
    padding: 16px 79px 18px 65px;
    background: url(../images/imagine-shape.png) no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}


/* Targeted CSS */

.targeted-section {
    background: #cdf9da;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .targeted-section {
        background: #cdf9da;
        padding: 100px 0px;
    }
}


/* Targeted CSS End */


/* Targeted CSS */

.need-marketing {
    background: #f9f9f9;
    padding: 30px 0px;
}

.noneed-listing li {
    list-style: none;
    background: url(../images/cross-tick.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
    min-height: 42px;
}

.noneed-listing li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .need-marketing {
        background:#f9f9f9 url(../images/works-seamlessly.png) no-repeat center center;
        padding: 100px 0px;
    }
}

.look-shape {
    border-radius: 20px;
    padding: 20px 15px;
    color: #ffffff;
    width: 100%;
    float: left;
    background-color: #ff5825;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
}


/* Targeted CSS End*/


/* Bonus CSS Start*/

.bonus-section {
    background: #ffffff;
    padding: 30px 0px;
}

.black-design4 {
    padding: 40px;
    background: url(../images/bonus-shape.png) no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

.margin-t-60 {
    margin-top: -40px;
}

.bonus-section-shape {
    padding: 15px;
    position: relative;
    background: #deeaff;
    border: solid 1px #deeaff;
    border-radius: 10px;
}

.bonus-headline {
	background: rgb(136,0,113);
	background: linear-gradient(90deg, rgba(136,0,113,1) 0%, rgba(57,0,164,1) 100%);
	padding: 16px 40px 12px 40px;
	display: inline-block;
	border-radius: 50px;
	text-align: center;
}

.but-design {
    background: #240f75;
    padding: 15px 30px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block;
}
.but-design .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}
@media (min-width: 768px) {
	.but-design {
    padding: 15px 60px;
}
    .margin-t-60 {
        margin-top: -60px;
    }
    .bonus-section-shape {
        padding: 30px;
    }
    .bonus-section {
        padding: 100px 0px 50px 0px;
        background: #ffffff url(../images/bonus-bg.png) no-repeat center center;
        background-size: cover;
    }
}

.bonus-section-value {
    padding: 30px 0px;
    background: #ffffff;
}

@media (min-width: 768px) {
    .bonus-section-value {
        background: url(../images/bonus-value-bg.png) no-repeat center center;
        background-size: cover;
        padding: 60px 0px 30px;
    }
}


/* Bonus CSS End*/


/* Guarantee CSS Start*/

.guarantee-section {
	padding: 30px 0px;
	background:url(../images/guarantee-section-bg.png) no-repeat center;
	background-size: cover;
}

@media (min-width: 768px) {
    .guarantee-section {

        padding: 100px 0px 100px 0px;
    }
}


/* Guarantee CSS End*/


/* Table Section */

.table-section {
    background: #ffffff;
    padding: 30px 0px;
    color: #000000;
}

.table-wrap {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    /* border: solid 1px #cacaca; */
    overflow: hidden;
    box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 20%);
}

.table-head {
    /* background: url(../images/start-plan-bg.png) no-repeat center; */
    background: #ffffff;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    /* border-bottom: solid 1px #cacaca; */
}

@media (min-width: 768px) {
    .table-head {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
}

.table-content {
    padding: 60px 20px 40px 20px;
    background: #ffffff url(../images/tablecurveone.png) no-repeat center top;
    background-size: contain;
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
}

.table-wrap1 {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 22px 0px rgba(38, 23, 70, 0.4);
    width: 100%;
    float: left;
    overflow: hidden;
}


/* .table-wrap1:before {
    content: '';
    position: absolute;
    background: url(../images/most-popular.png) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 45px;
    top: -10px;
}
 */

.table-head1 {
    padding: 40px 30px 30px 30px;
    text-align: center;
    background:#200d68;
}

@media (min-width: 768px) {
    .table-head1 {
        padding: 80px 30px 80px 30px;
        text-align: center;
    }
}

.table-content1 {
    padding: 60px 20px 40px 20px;
    background: #222466 url(../images/tablecurvetwo.png) no-repeat center top;
    background-size: contain;
}

.center-line {
    background: #000000;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.center-line-white {
    background: #ffffff;
    height: 2px;
    display: inline-block;
    width: 100px;
}

.table-list li {
    background: url(../images/launch-tick-blue.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    background-position: 20px 20px;
    line-height: 150%;
    text-transform: capitalize;
}

.table-list li.cross-sign {
    background: url(../images/launch-cross.png) no-repeat !important;
    background-position: 20px 20px !important;
}

.table-list li:nth-child(odd) {
    background-color: #deeaff !important;
}

.table-list li:nth-child(even) {
    background-color: #ffffff;
}

@media (min-width: 768px) {
    .table-list li {
        padding: 20px 15px 20px 57px;
    }
}

.table-list li.headline {
    background: rgb(9, 20, 120) !important;
    background: -moz-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    background: -webkit-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    background: linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1) !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.table-list1 li {
    background: url(../images/table-tick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    background-position: 20px 20px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
    /* border-bottom: solid 1px #5153a1; */
}

.table-list1 li.headline {
    background: #fff600 !important;
    padding: 22px 0px 16px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.table-list1 li:last-child {
    border-bottom: none;
    /* padding-bottom: 0px; */
}

.table-list1 li:nth-child(odd) {
    background-color: #15064a;
}

.table-list1 li:nth-child(even) {
    background-color: #200d68;
}

@media (min-width:768px) {
    .table-section {
        padding: 70px 0px 70px 0px;
    }
    .table-list1 li {
        padding: 20px 15px 20px 57px;
    }
}


/* Table Section End*/

.awesome-section {
    padding: 30px 0px;
    background: #deeaff;
}

@media (min-width: 768px) {
    .awesome-section {
        padding:100px 0px;
        background: url(../images/awesome-bg.png) no-repeat center center;
        background-size: cover;
    }
}

.faq-section {
    padding: 30px 0px;
    background-color: #f9f9f9;
}

.faq-list {
    background: url(../images/faq-icon.png) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 22px;
}

@media (min-width: 768px) {
    .faq-section {
        padding: 100px 0px;
		background: url(../images/faq-section-bg.png) no-repeat center center;
		background-size:cover;
    }
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 70px 0px;
    }
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.imagine-sec {
    background: #f5f5f5;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .imagine-sec {
        background: #f5f5f5 url(../images/imagine-sec.png) center no-repeat;
        background-size: cover;
        padding: 100px 0px;
    }
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.license-section {
    background: #deeaff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .license-section {
        padding: 100px 0px 150px 0px;
        background: #ffffff url(../images/license-bg.png) no-repeat bottom center;
        background-size: cover;
        border: none;
    }
}


.never-ending {
    box-shadow: 0px 0px 29px 0px rgb(0 0 0 / 14%);
    background: #ffffff;
    border-radius: 15px;
    padding: 15px 5px;
    height: 100%;
}

.hr-shape {
    background-color: #e8e8e8;
    width: 100%;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .never-ending {
        padding: 35px 25px;
    }
}

.noneed-section {
    padding: 30px 0px;
}

.noneed-shape {
    padding: 15px;
    position: relative;
    background: #deeaff;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .noneed-shape {
        padding: 30px;
    }
    .noneed-section {
        padding: 100px 0px 0px 0px;
    }
}

.noneed-list li {
    list-style: none;
    background: url(../images/sad-emoji.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}

.noneed-list li.happy {
    list-style: none;
    background: url(../images/happy-emoji.png) no-repeat !important;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}

.noneed-list1 li {
    list-style: none;
    background: url(../images/happy-emoji.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 25px 50px;
}


/* Compare Table */

section.table-section ul {
    list-style: none;
    padding: 0;
}

section.table-section ul li {
    border-left: 1px solid rgb(226 226 226);
    border-right: 1px solid rgb(226 226 226);
    height: 60px;
    line-height: 60px;
    align-items: flex-start;
    align-content: center;
    padding: 0px 25px;
    justify-content: center;
}

@media (min-width:768px) {
    section.table-section ul li {
        border-left: 1px solid rgb(226 226 226);
        border-right: 1px solid rgb(226 226 226);
        height: 60px;
        line-height: 60px;
        display: flex;
        align-items: flex-start;
        align-content: center;
        padding: 0px 25px;
        justify-content: start;
    }
}

section.table-section ul li:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    font-weight: 600;
}

section.table-section ul li:nth-child(odd) {
    background: #deeaff;
}

section.table-section .fist-row li:first-child {
    border-top-right-radius: 0px;
    border-top: 1px solid rgb(226 226 226);
}
section.table-section .fist-row li {
    justify-content:start;
}


section.table-section .third-row li:first-child,
section.table-section .forth-row li:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

section.table-section .fifth-row li:first-child {
    border-top-left-radius: 0px;
}

section.table-section .fist-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-left-radius: 20px;
}

section.table-section .second-row li:first-child {
    border-top: 1px solid rgb(226 226 226);
    height: 150px;
    text-align: center;
    align-items: center;
    background: rgb(9, 20, 120);
    background: -moz-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%)!important;
    background: -webkit-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%)!important;
    background: linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%)!important;
}

section.table-section .third-row li:last-child,
section.table-section .forth-row li:last-child,
section.table-section .third-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-right-radius: 0px;
}

section.table-section .fifth-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-right-radius: 20px;
}

section.table-section .second-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
}

section.table-section .second-row {
    margin-top: -50px;
}

section.table-section .second-row ul li {
    background: #070f5c;
}

section.table-section .second-row ul li:nth-child(odd) {
    background: #091374;
}

section.table-section .third-row li:first-child {
    align-items: center;
    border-top: 1px solid rgb(226 226 226);
}

@media (max-width:767px) {
    section.table-section ul li {
        height: 100px;
        line-height: 22px;
        padding: 15px;
    }
    section.table-section .second-row li:first-child svg {
        transform: rotate(90deg);
        height: 30px!important;
    }
    section.table-section .second-row li:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

section.table-section .second-row li:first-child {
    justify-content: center;
}

section.table-section .third-row li:first-child {
    justify-content: center;
}

@media (min-width:768px) {
    section.table-section ul li {
        align-items: center;
        justify-content: center;
		text-align:center;
    }
}

section.table-section ul li span {
    padding-right: 10px;
}

@media (max-width:767px) {
    section.table-section .fist-row li:first-child,
    section.table-section .third-row li:first-child {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    section.table-section .second-row li:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    section.table-section .second-row li:first-child svg {
        max-height: 80px!important;
        height: 30px!important;
    }
    section.table-section ul li {
        height: 110px;
        line-height: 22px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
		word-break: break-all;
    }
}

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s;
}

#ouibounce-modal .modal-wrapper {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
    -ms-flex-line-pack: center!important;
    align-content: center!important;
    width: 95%;
    position: relative;
    text-align: center;
    -webkit-animation: popin .3s;
    animation: popin .3s;
    overflow-y: hidden;
}

@media (min-width: 576px) {
    #ouibounce-modal .modal-wrapper {
        min-height: 100vh;
        height: 100vh;
        max-width: 850px;
        margin: 0px auto;
    }
    .for-padding {
        padding: 40px 55px;
    }
    .model-header {
        background: #16258a url(../images/wait-bg.png) no-repeat left center;
        background-size: cover;
    }
}

#ouibounce-modal .modal-wrapper .modal-bg {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15.6px 4.4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}

.model-header {
    background: #16258a url(../images/wait-mob-bg.png) no-repeat left center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

button.close {
    position: absolute;
    right: 5px;
    top: 5px;
}