.spartan {
    font-family: 'Spartan', sans-serif;
}

.feature-sectionf4 {
    background: #ffffff;
    padding: 30px 0;
}

.feature-section {
	background: #ffffff url(../images/feature-bg.png) no-repeat bottom center;
	background-size:cover;
	padding: 30px 0 60px 0px;
}

.feature-sectionf5 {
    background: #f5efff;
    padding: 30px 0;
}

.feature-sectionf6 {
    background: #ffffff;
    padding: 30px 0;
}

.tickul li {
    list-style: none;
    background: url(../images/btick.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 25px 40px;
}

.tickul li:last-child,
.tickul1 li {
    padding-bottom: 0px;
}

.tickul1 li {
    list-style: none;
    background: url(../images/btick1.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 25px 40px;
}

.feature-section2 {
    background: #ffffff;
    padding: 30px 0;
}

.feature-section-new2 {
    background: #f5efff;
    padding: 30px 0;
}

.feature-section3 {
    background: #2f036d;
    padding: 30px 0;
}

.cutetick li {
    list-style: none;
    background: url(../images/cute-tick.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 25px 55px;
}

.kaptiwa-section {
    background: #1f0c91;
    padding: 30px 0px;
}

.feature-section4 {
    background: #f5efff;
    padding: 30px 0px;
}

@media(max-width:767px) {
    .cutetick {
        padding-left: 0px;
    }
    .top-first {
        border: 1px solid #fff;
    }
}

.t-block1,
.t-block2,
.t-block3,
.t-block4 {
    padding: 15px;
    float: left;
    width: 100%;
    border-radius: 10px;
	height:100%;
}

.t-block1 {
    background: #e0f7fa;
}

.t-block2 {
    background: #f1f8e9;
}

.t-block3 {
    background: #fff3e0;
}

.t-block4 {
    background: #ffebee;
}

.timg {
    margin-top: -80px;
}

.pm-img {
    margin-top: -80px;
}

.pm-block {
    border-radius: 10px;
    background: #ffffff;
    padding: 30px;
    float: left;
    width: 100%;
    height: 100%;
}

.ftr-blue,
.ftr-blue1,
.ftr-blue-right,
.sec3,
.sec5,
.sec7,
.personalised,
.more-seo {
    background: #deeaff;
    padding: 30px 0px;
}

.secc-10{
	 background: #deeaff;
    padding: 30px 0px;
}
.secc-11{
	background: url(../images/secc-11.png) no-repeat top center;
	background-size: cover;
	padding: 70px 0px 30px 0px;
}
.ftr-white,
.seo-sec,
.ftr2-sec,
.secwhite,
.ftr8-bg,
.ar-sec,
.last-app {
    background: #f9f9f9;
    padding: 30px 0px;
}

.set-bg {
    background: #290670;
    padding: 30px 0px;
}

.c-block1,
.c-block2,
.c-block3,
.c-block4,
.c-block5,
.c-block6,
.c-block7,
.c-block8,
.c-block9,
.c-block10,
.c-block11,
.c-block12 {
    border-radius: 10px;
    padding: 30px;
    float: left;
    width: 100%;
}

.c-block1,
.c-block3 {
    background: #e0f7fa;
}

.c-block2,
.c-block4 {
    background: #ffebee;
}

.c-block5,
.c-block7 {
    background: #f1f8e9;
}

.c-block6 {
    background: #e3f2fd;
}

.c-block8 {
    background: #ede7f6;
}

.c-block9,
.c-block11 {
    background: #fff3e0;
}

.c-block10 {
    background: #ede7f6;
}

.c-block12 {
    background: #e3f2fd;
}

.c-img {
    margin-top: -80px;
}

@media(min-width:768px) {
    .last-app {
        background:#f9f9f9 url(../images/last-app.png) no-repeat center center;
        padding: 100px 0px 100px;
    }
    .more-seo {
        background:#deeaff url(../images/more-seo.png) no-repeat bottom center;
        padding: 100px 0px 100px;
    }
    .ar-sec {
        background: url(../images/ar-bg.png) no-repeat bottom center;
        background-size: cover;
        padding: 100px 0px 100px;
    }
    .personalised {
        background:#deeaff url(../images/personalised.png) no-repeat center center;
        padding: 100px 0px 100px;
    }
    .secwhite {
        background: #ffffff;
        padding: 100px 0;
    }
    .ftr8-bg {
        background:#f9f9f9 url(../images/ftr8-bg.png) no-repeat center center;
        padding: 100px 0px 100px;
    }
    .sec7 {
        background: url(../images/ftr7-bg.png) no-repeat bottom center;
        background-size: cover;
        padding: 100px 0px 100px;
    }
    .sec3 {
        background: url(../images/sec3.png) no-repeat bottom center;
        background-size: cover;
        padding: 100px 0px 100px;
    }
	.secc-10 {
        background:#deeaff url(../images/secc-10.png) no-repeat bottom center;
        padding: 100px 0px 100px;
    }
	.secc-11 {
        padding: 120px 0px 100px;
    }
    .sec5 {
        background: url(../images/sec5.png) no-repeat bottom center;
        background-size: cover;
        padding: 100px 0px 100px;
    }
    .seo-sec {
        background: url(../images/seo-sec.png) no-repeat bottom center;
        background-size: cover;
        padding: 100px 0px 100px;
    }
    .set-bg {
        background: url(../images/set-bg.png) no-repeat bottom center;
        background-size: cover;
        padding: 100px 0px 180px;
    }
    .ftr-blue {
        background: url(../images/ftr-blue.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .ftr-blue-right {
        background: url(../images/ftr-blue-right.png) no-repeat top center;
        background-size: cover;
        padding: 100px 0px;
    }
    .ftr-blue1 {
        background: url(../images/ftr-blue1.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .ftr-white {
        background: url(../images/ftr-white.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .feature-sectionf4 {
        background: url(../images/f4-bg.png) no-repeat center center;
        background-size: cover;
        padding: 80px 0px;
    }
    .feature-section4 {
        padding: 80px 0px;
        background: #ffffff url(../images/Seamlessly-bg.png) no-repeat top center;
        background-size: cover;
    }
    .feature-section-new2 {
        padding: 100px 0px 80px 0px;
        background: #ffffff url(../images/f2new-bg.png) no-repeat top center;
        background-size: cover;
    }
    .kaptiwa-section {
        background: #ffffff url(../images/kaptiwa-feature.png) no-repeat bottom center;
        background-size: cover;
        padding: 90px 0px 100px 0px;
    }
    .ftr2-sec {
        background: #f9f9f9 url(../images/ftr2-bg.png) no-repeat center center;
         padding:100px 0px;
    }
    .feature-section {
        padding:100px 0px 140px;
    }
    .feature-section2 {
        padding: 80px 0px;
    }
    .feature-section3 {
        background: url(../images/featurebg.png) no-repeat center center;
        background-size: cover;
        padding: 80px 0px;
    }
    .feature-sectionf5 {
        background: #f5efff url(../images/f5-bg.png) no-repeat center center;
        background-size: cover;
        padding: 80px 0px;
    }
    .feature-sectionf6 {
        background: #ffffff url(../images/f6a-bg.png) no-repeat center center;
        background-size: cover;
        padding: 80px 0px;
    }
}