html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #121733;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
}
.caveat{
    font-family: 'Caveat', cursive;
}

/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.orange-clr {
    color: #E76D24;
}

.black-clr {
    color: #121733;
}

.red-clr{
    color: #FF2C2C;
}

.green-clr{
    color:#1FE29F;
}

.purple-gradient {
    background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.header-section {
    background: #0A071E;
padding: 30px 0;
position: relative;
margin-top: 166px;
}
.preheadline {
    background: rgba(255, 255, 255, 0.1);
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 43px;
    display: inline-block;
    padding: 10px;
}
.postheadline {
    padding: 15px;
    display: inline-flex;
    background: rgb(6,10,51);
    background: linear-gradient(90deg, rgba(6,10,51,0) 0%, rgba(6,10,51,1) 48%, rgba(6,10,51,0) 100%);
}

.head-design {
    background: #FFFFFF;
    border-radius: 0px 30px;
    padding: 30px 15px 15px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gametext {
    background: #1FE29F;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #121733;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -25px;
    z-index: 99;
    line-height: 30px;
}
.affiliate-link-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
}
@media(min-width:768px){
    
    .header-section {
        padding: 40px 0px 100px 0px;
        background: #fff url(../images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .head-design {
        padding: 30px;
    }
    .gametext {
        background: url(../images/cutting-edge-bg.webp) center center no-repeat;
        padding: 10px 60px 15px 20px;
        font-size: 24px;
        background-size: 100% 100%;
        text-align: left;
        left: -6px;
    }
    .preheadline {
        padding: 7px 35px;
    }
    .postheadline {
        padding: 20px 25px;
    }
    .affiliate-link-btn a {
        font-size: 20px;
    }}

    @media (min-width: 1199px){
    .header-section {
        margin-top: 119px;
    }}
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
       }
       .timer-header-top {
        background: #000;
        padding-top:10px;
        padding-bottom:10px; 
        }

.new-section {
    background: #ffffff;
    padding: 30px 0px;
}
.menu-list li {
    background: url(../images/tick.webp) no-repeat;
    background-position: 20px 24px;
    padding: 15px 15px 15px 64px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: -5px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border: 3px solid #B5D1FF;
}
@media(min-width:768px) {

    .new-section {
        background: #ffffff url(../images/new-section-bg.webp) no-repeat center center;
        padding: 100px 0px;
        background-size: cover;
    }
    .f-md-70 {
        font-size: 70px;
    }
}

.white-clr {
    color: #ffffff;
}

.relative {
    position: relative;
}

@media(max-width:767px) {
    .footer-section {
        background: #000000;
        padding: 30px 0px;
    }
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.footer-section {
    background: #000000;
    padding: 50px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.instant-btn a {
    transition: all .3s ease;
    border-radius: 10px;
    background-image: -moz-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
}

.instant-btn a:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
}

.section1 {
    padding: 30px 0;
    background: #eef0ff;
}

.section2 {
    padding: 30px 0;
    background: #eef0ff;
}

.section3 {
    padding: 30px 0;
    background: #eef0ff;
}


.plan1-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgb(96 145 169 / 19%);
}

.plan2-shape {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgba(96, 145, 169, 0.19);
}

.tablebox1 {
    background: #9dbacc;
    width: 100%;
    float: left;
    border-radius: 30px;
}

.tablebox-inner-bg {
    background: #1b1341;
    padding: 30px;
    background-size: 100% 100%;
    border-radius: 10px;
}

.table-headline-shape {
    background: url(../images/table-headline-shape.webp) no-repeat center center;
    background-size: contain;
    padding: 8px 19px 6px 17px;
}

.title-shape {
    background: #1b1341;
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}

.title-shape1 {
    background: #1b1341;
    padding: 5px;
    border-radius: 65px;
    display: inline-block;
}
.bonus-design {
    background-color: rgb(251, 149, 73);
    border-radius: 100px;
    padding: 8px 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
}
@media(min-width:768px) {
    .title-shape {
        padding: 5px 30px;
    }
    .title-shape1 {
        padding: 5px 30px;
    }
    .tablebox-inner-bg {
        padding: 10px 15px 10px 15px;
        background-size: cover;
        border-radius: 30px;
    }
    .bonus-design {
        padding: 5px 50px;
    }
    .bonus-design:before {
        width: 80px;
        height: 2px;
        background: #fcc216;
        position: absolute;
        content: '';
        left: -80px;
    }
    .bonus-design:after {
        width: 80px;
        height: 2px;
        background: #fcc216;
        position: absolute;
        content: '';
        right: -80px;
    }
    .section-margin {
        margin-top: 250px !important;
    }
    .pimg {
        margin-top: -255px;
    }
    .section1 {
        padding: 100px 0;
        background: #eef0ff;
    }
    
    .section2 {
        padding: 100px 0;
        background: #ffffff url(../images/table-bg-2.webp) no-repeat center center;
        background-size: cover;
    }
    
    .section3 {
        padding: 100px 0;
        background: #ffffff url(../images/table-bg-1.webp) no-repeat center center;
        background-size: cover;
    }
    .instant-btn a {
        font-size: 36px;
        padding: 28px 74px 30px 74px;
    }
}


/*Table CSS Start*/

.odd-shape {
    background: #5648b5;
    padding: 6px 15px;
}

.even-shape {
    background:rgb(27 19 65);
    padding: 6px 15px;
    color: #ffffff !important;
}

.price-shape {
    background: #ffffff;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

.now-price {
    background: #5648b5;
    padding: 8px 10px;
    border-radius: 14px;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
}


/*Table CSS Enad*/


/* Header Section */

.kaptick li {
    list-style: none;
    background: url(../images/kap-tick.webp) no-repeat;
    background-position: 0 5px;
    padding: 0 0 15px 45px;
    color: #000000;
    line-height: 150%;
    font-size: 18px;
}

.kaptick li:last-child {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .kaptick li {
        padding: 5px 0 30px 45px;
    }
}

@media (max-width: 767px) {
    .footer-section {
        background: #000000;
        padding: 30px 0px;
    }
    .content-mbl-space {
        padding: 30px 15px;
    }
}


/******new********/

.img-shadow {
    box-shadow: 0px 0px 15px 0px rgb(73 76 80 / 25%);
}

.riskfree-section {
    background: #ffffff url(../images/riskfree-bg.webp) no-repeat center bottom;
    background-size: cover;
    padding: 30px 0px;
}

.second-header-section {
    padding: 30px 0;
    background: #111;
}

.step-shape {
    border-width: 3px;
    border-color: #f6841f;
    border-style: solid;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    width: 100%;
    float: left;
    padding: 20px;
    height: 100%;
    color: #fff;
}

@media (min-width:768px) {
    .img-shadow {
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 25%);
    }
    .riskfree-section {
        padding: 100px 0px;
    }
    .second-header-section {
        background: #111 url(../images/cta-bg-new.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
}

.animate-charcter {
    background-image: linear-gradient( -225deg, #001963 0%, #ff0505 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    0% {
        background-position: 200% center;
    }
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}