html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}


/* Color */

a {
    color: #FF4F17;
    text-decoration: none;
}

a:hover {
    color: #FF9315;
}

.white-clr {
    color: #fff;
}

.black-clr {
    color: #252525;
}

.blue-clr {
    color: #2447a2;
}

.orange-clr{
    color: #F2A736;
}

/* Text Decoration Underline */

.underline {
    border-bottom: 2px solid #fff;
}


/* Bonus Download Section Description Area CSS */

.bonus-des {
    padding: 3% 0;
}


/* Code for Animation blink-text */

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
        color: #4d4aa9;
    }
    to {
        opacity: 0.7;
    }
}

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}


/*****Main Container Area CSS******/

.main-container {
    background: #030331 url(../images/header-bg.webp) no-repeat center bottom;
    background-attachment: fixed;
    padding: 60px 15px 60px 15px;
    background-size: cover;
}


/* Top Congratulation Container CSS */

.uy {
    background: url(../images/rewind-bg.png) no-repeat center center;
    padding: 30px 15px;
    border-radius: 25px;
}

.gn-box {
    background: url('../images/gn-box-bg.png') no-repeat center center;
    color: #000;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 5px;
    background-size: 100% 100%;
}

@media(max-width:375px) {
    .uy {
        padding: 30px 15px;
        background: url(../images/rewind-bg.png) no-repeat center center;
        border-radius: 5px;
        margin-bottom: 30px;
    }
}

@media(max-width:768px) {
    .uy {
        background: url(../images/rewind-bg.png) no-repeat center center;
        padding: 40px 15px 40px 15px;
        margin: 0 0px 40px 0px;
    }
    .main-container {
        padding: 30px 0px 30px 0px;
    }
}


/* On top Double Text Overline  */

.tde {
    text-decoration: overline;
    border-bottom: 2px solid #fff;
    padding: 4px 0;
}


/* Middle Content Area Section */

.ad-con {
    padding: 5% 0;
}


/* Timer Section Css */


/*Text For Change Timer Small Text - day , sec,time , minute*/

.time-textlh {
    color: #a20000;
    font-weight: 700;
}

.hs_time {
    height: auto;
    width: 100%;
}

.hs_time .hs_time_part {
    width: 100%;
}

.hs_hours {
    color: #a20000 !important;
    height: auto;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}

.dt_title {
    width: 100%;
}

.hs_days {
    color: #a20000;
    text-align: center;
    height: auto;
    text-decoration: none;
    text-transform: capitalize;
}

.hs_min {
    color: #a20000;
    height: auto;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.hs_sec {
    color: #a20000;
    height: auto;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.timer_caption {
    font-weight: bold;
}

.hrsbox {
    border-radius: 4px;
    background: #000000;
    color: #fff;
    display: block;
    padding: 20px 0px;
}

.timer-border {
    padding: 5px 0;
    height: 140px;
    width: 100%;
}

.timer,
.timer-done,
.timer-loop {
    font-size: 30px;
    color: #a20000;
    font-weight: bold;
    padding: 10px;
}

.jst-hours {
    float: left;
}

.jst-minutes {
    float: left;
}

.jst-seconds {
    float: left;
}

.jst-clearDiv {
    clear: both;
}

.jst-timeout {
    color: red;
}

@media(max-width:320px) {
    a.regbtn {
        padding: 15px 30px;
    }
    .timer-border {
        height: 150px;
    }
}


/* Radius */

.radius5 {
    border-radius: 5px;
}

@media (min-width: 240px) {
    .mybanner {
        background: #9cbed7;
        background-size: cover;
        background-attachment: fixed;
        background-position: top center;
        padding: 2% 0% 4%;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .mybanner {
        background: #b7d1e7 url(../images/head1.png) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top center;
        padding: 4% 0% 4%;
    }
}

@media (min-width: 992px) {
    .mybanner {
        background: #fdfdfd url(../images/head1.png) no-repeat;
        background-position: 100% 0%;
        background-size: cover;
        background-attachment: fixed;
        padding: 4% 0% 4%;
    }
}

@media(max-width:320px) {
    .white-footer {
        background: #9cbed7 url(../images/bottom.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        padding: 30px 0;
    }
}

@media(max-width:768px) {
    .white-footer {
        background: #9cbed7 url(../images/bottom.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        padding: 30px 0;
    }
}

@media(min-width:992px) {
    .white-footer {
        background: #9cbed7 url(../images/bottom.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        padding: 130px 0;
    }
}


/* Download Button Css */

.d-btn a {
    display: inline-block;
    background: #F2A737;
    border-radius: 15px;
    padding: 12px 35px;
    color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.d-btn a:hover,
a:focus {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}

.d-btn a:active {
    background-image: -moz-linear-gradient( 180deg, #FF9315 0%, #ff5a28 100%);
    background-image: -webkit-linear-gradient(180deg, #FF9315 0%, #ff5a28 100%);
    background-image: -ms-linear-gradient( 180deg, #FF9315 0%, #ff5a28 100%);
    color: #ffffff;
}


/* For Footer Section CSS */

.footer-sec {
    background: #252525;
    padding: 30px 0px;
}

.footer-sec a {
    text-decoration: none;
}

.strip_footer {
    background: url(../images/footer-bg.png);
    background-size: cover;
    background-position: top left;
    padding: 50px 0px 50px;
    color: #fff;
}

.footerlist li {
    list-style-type: none;
    float: left;
}

.footerlist li a {
    color: #fff;
    text-decoration: none;
}

.strip-footer a {
    color: #fff;
}

@media (min-width: 768px) {
    .footer-sec {
        padding: 50px 0px;
    }
    .text-sml {
        text-align: left;
    }
    .textsmr {
        text-align: right;
    }
}

.bonus-des.main-container {
    padding-top: 0px;
}
