.container {
    height: unset;
}

.inner-content {
    height: unset;
}
.spartan {
	font-family: 'Spartan', sans-serif; 
}
#templateBody {
    font-family: 'Work Sans', sans-serif;
    color: #242637;
    font-size: 14px;
}

.opensans {
	font-family: 'Open Sans', sans-serif;
}
.yellow-clr {
    color: #fff600;
}

/* Header Section CSS */
.pre-heading {
    padding: 6px;
    display: inline-block;
    border-radius: 65px;
    background-color: rgb(211, 223, 243);
    box-shadow: inset 0px 4px 10px 0px rgb(0 0 0 / 35%), inset 2.828px -2.828px 10px 0px rgb(255 255 255 / 35%);
    color: #080d1a;
}
.header-section {
    background-color: #080d21;
    padding:30px 0px;
}

.fifth-section {
    background: #080d1a;
    padding: 10% 0 10%;
}

.heading-bg {
    background: url(../images/heading-bg.png) no-repeat;
    background-size: 100% 100%;
    padding: 38px 70px 38px 70px;
    background-position: top left;
}
.green-clr {
	color: #00ff84;
}
@media(min-width:768px) {
	.pre-heading {
    padding: 6px 30px;
}
    .grey-sec {
        background: #f5f5f5;
        padding: 30px 0;
    }
    .header-section {
        background: #080d21 url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: Cover;
        padding: 40px 0px 140px 0px;
    }
    .fifth-section {
        background: #ffffff url("../images/proudlybg.png") no-repeat center center;
        background-size: cover;
        padding: 5% 0 10%;
    }
}

.logo-height {
    max-height: 45px;
}

.white-clr {
    color: #ffffff;
}

.white-blue {
    color: #224cb0;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}

.affiliate-link-btn a {
    border-radius: 45px;
    background-color: #f8e71c;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    padding: 9px 33px;
    font-size: 16px;
    color: #050b23;
    font-weight: 800;
}

.affiliate-link-btn a:hover {
    background: #decf18;
}

.popup-btn a:hover,
.popup-btn input[type="submit"]:hover,
.af-btn a:hover {
    background: #4f5db5;
}

.grey-sec {
    background: #f2f4fa;
    padding: 50px 0;
}

.grey-section {
    background: #f2f4fa url(../images/blue-section-bg.png) no-repeat;
	background-size: cover;
	background-position: center;
    padding: 30px 0px;
}

.license-section {
    background: #301642;
    background-size: cover;
    padding: 6% 0;
}

.mt25 {
    margin-top: 25px;
}

.highlihgt-heading {
    background: #241c43;
    padding: 8px 20px;
    border-radius: 45px;
    display: inline-block;
}

.second-section {
    padding: 5% 0;
}

.date-section-bg {
    background: url(../images/date-bg-image.png) no-repeat center center;
    background-size: contain;
}

@media(min-width:240px) {
    .xstext-center {
        text-align: center;
    }
    .formbg {
        padding: 20px;
    }
}

@media(min-width:768px) {
    .left-line {
        margin-left: 45px;
    }
    .xstext-center {
        text-align: right;
    }
    .formbg {
        padding: 50px;
    }
}

.formbg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.form-control.input-field {
    border-width: 1px;
    border-color: rgb(164, 164, 164);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none !important;
    color: #000000;
    padding: 6px 12px;
}

::-webkit-input-placeholder {
    color: #797979 !important;
}

::-moz-placeholder {
    color: #797979 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

:-moz-placeholder {
    color: #797979 !important;
}

.popup-btn a,
.popup-btn input[type="submit"] {
    border-radius: 5px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 13px 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 0;
    outline: none;
}

@media(min-width:240px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .pre-box {
        border-radius: 10px;
        padding: 5%;
    }
    .af-box {
        padding: 8% 3%;
    }
}

.pl-shape,
.l-shape,
.af-shape,
.af-dots {
    display: none;
}

@media(min-width:768px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .form-control.input-field {
        height: 58px;
    }
    .pre-box {
        border-radius: 50px;
        padding: 3% 0;
    }
    .af-box {
        padding: 5%;
    }
    .pfbox {
        height: 185px;
    }
    .pl-shape,
    .l-shape,
    .af-shape,
    .af-dots {
        display: block;
        position: relative;
        z-index: 1;
    }
    .pl-shape img {
        position: absolute;
        top: -18px;
        right: 18px;
        z-index: 1;
    }
    .l-shape img {
        position: absolute;
        bottom: -65px;
        left: 25px;
        z-index: 1;
    }
    .af-shape img {
        position: absolute;
        bottom: -44px;
        right: 35px;
        z-index: 1;
        height: 160px;
    }
    .af-dots img {
        position: absolute;
        top: -10px;
        left: 60px;
        z-index: 1;
    }
}

.form-shape {
    position: relative;
    z-index: 1;
}

.form-shape img {
    position: absolute;
    top: -40px;
    left: -41px;
    z-index: -1;
}

.relative {
    position: relative;
}

.third-section {
    background: #eff3f6;
    padding: 5% 0 5%;
}

.kapblue {
    color: #224cb0;
}

.pre-box {
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
}

.h-line {
    background-color: rgb(206, 212, 216);
    height: 2px;
    width: 100%;
}

.pl-tick li {
    background: url("../images/pl-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.l-tick li {
    background: url("../images/l-tick.png") no-repeat;
    background-position: 0 2px;
    list-style: none;
    padding: 0px 0 20px 45px;
}

.footer-section {
    background: #080d1a;
	padding: 30px 0px;
}
@media (min-width: 768px) {
.footer-section {
    padding: 45px 0px 50px;
}
}
.xs-max-height165 {
    max-height: 165px;
}

.bonus-section {
    background: #f2f4fa;
    padding:30px 0px;
}

.bonus-section {
    background: url(../images/bonus-bg.png) no-repeat;
	background-size: cover;
	background-position: center bottom;
    padding:70px 0px 100px 0px;
}

.bonus-count {
    background: #224cb0;
    display: inline-block;
    padding: 10px 29px;
    border-radius: 15px;
}

.video-frame {
    background: url(../images/lap.png) center center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding: 27px 112px 40px;
}

.probtn1 a {
	border-radius: 65px;
	background-image: -moz-linear-gradient( 0deg, rgb(255,114,0) 0%, rgb(255,129,28) 63%, rgb(255,144,55) 100%);
	background-image: -webkit-linear-gradient( 
	0deg
	, rgb(255,114,0) 0%, rgb(255,129,28) 63%, rgb(255,144,55) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,114,0) 0%, rgb(255,129,28) 63%, rgb(255,144,55) 100%);
	box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	font-weight: 700;
	width: 100%;
	font-size: 24px;
	line-height: 140%
}

.probtn1 a:hover {
	background: rgb(255,143,53);
	background: linear-gradient(
	90deg
	, rgba(255,143,53,1) 0%, rgba(255,116,3,1) 100%);
	text-decoration: none;
}
@media (min-width: 768px) {
	.probtn1 a {
		font-size: 42px;
		padding:28px 30px;
	}
}


.probtn a {
	border-radius: 65px;
	background-image: -moz-linear-gradient( 0deg, rgb(255,114,0) 0%, rgb(255,129,28) 63%, rgb(255,144,55) 100%);
	background-image: -webkit-linear-gradient( 
	0deg
	, rgb(255,114,0) 0%, rgb(255,129,28) 63%, rgb(255,144,55) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,114,0) 0%, rgb(255,129,28) 63%, rgb(255,144,55) 100%);
	box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	font-weight: 700;
	width: 100%;
	font-size: 24px;
	line-height: 140%
}

.probtn a:hover {
	background: rgb(255,143,53);
	background: linear-gradient(
	90deg
	, rgba(255,143,53,1) 0%, rgba(255,116,3,1) 100%);
	text-decoration: none;
}


@media (min-width: 768px) {
	.probtn a {
		font-size: 42px;
		padding:28px 30px;
	}
}

.text-capitalize {
    text-transform: capitalize;
}
.white-section{
	padding: 30px 0;
}
@media(max-width:767px) {
    .white-section,
    .grey-sec {
        padding: 30px 0;
    }
    .bonus-section {
        padding: 30px 0;
    }
    .moneyback-section {
        padding: 30px 0;
		background: #1a243f;
    }
    .thanks-button a {
        font-size: 20px;
    }
    .secnd-sec {
        background-color: #f2f4fa;
        padding: 30px 0 30px 0;
    }
    .footer-section {
        background: #080d1a;
        padding: 30px 0px;
    }
    .heading-bg {
        background: #ffffff;
		border-radius: 25px;
		padding: 15px;
		box-shadow: -1.04px 4.891px 6px 0px rgba(14, 18, 34, 0.2);
    }
    .plxs0 {
        padding-left: 0;
    }
    .video-frame {
        background: transparent;
        background-size: 100% 100%;
        width: 100%;
        padding: 0px;
    }
}

@media(min-width:767px) {
    .xs-max-height165 {
        max-height: 100%;
    }
}

.fourth-section {
    background: #fff;
    padding: 30px 0px;
}

.af-box {
    border-radius: 25px;
    background-color: rgb(239, 243, 246);
}

.pfbox {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(113, 113, 113, 0.17);
    padding: 30px 20px;
}

.af-btn a {
    border-radius: 30px;
    background: #5c6ac4;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 9999;
    padding: 10px 10px;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.leader-ul li a,
.leader-ul li a:hover,
.leader-ul li a:focus {
    text-decoration: none;
}

.sixth-section {
    background: #eff3f6 url("../images/wave-dots.png") no-repeat center center;
    background-size: cover;
    padding: 3% 0 5%;
}

.seventh-section1 {
    background: #eff3f6;
    padding: 3% 0 5%;
}

a.alink,
a.alink:hover,
a.alink:focus {
    text-decoration: none;
    color: #5c6ac4;
}

.seventh-section {
    background: url("../images/dot-shape.png") no-repeat center center;
    padding: 5% 0;
}

.lightcolor {
    color: #deff00;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}

.handsean {
    font-family: handsean;
}

.feature-section {
    background: #fff url(../images/feature-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section {
    background: #eff3f6 url(../images/software-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.software-section img {
    max-height: 141px;
}

.leaderboard-section {
    background: #eff3f6 url(../images/leaderboard-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.contact-section {
    background: #fff url(../images/contact-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.prize-section {
    background: #22103b;
    background-size: cover;
    padding: 4% 0;
}

.funnel-section {
    background: #eff3f6 url(../images/funnel-bg.png) no-repeat center center;
    background-size: cover;
    padding: 4% 0;
}

.theme-clr {
    color: #2e046d;
}

.clear {
    clear: both;
}

.vendor-section {
    background: #fff url(../images/dots.png) no-repeat right center;
    padding: 4% 0;
}

.name-box {
    background: #5c6ac4;
    padding: 0px 30px;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media(min-width:240px) {
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .xs-text-center,
    .xs-text-center1 {
        text-align: center;
    }
}

@media(min-width:768px) {
    .secnd-sec {
        background-color: #fff;
        padding: 50px 0 0px 0;
    }
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}

.bottom-icon img {
    position: fixed;
    bottom: 0;
    right: 8px;
    z-index: 999
}

.vidborder {
    border: 2px solid #9a9a9a;
}

a.link-text {
    color: #301541;
    text-decoration: none;
}


/*Table CSS Start*/

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox2 {
    border: 1px solid #1a243f;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}

.tablebox3 {
    border: 1px solid #e7e7e7;
    width: 100%;
    float: left;
    background: #1a243f;
}

ul.vgreytick {
    padding: 0px 15px;
}


ul.vgreytick li {
    background: url(../images/vgreytick.png) no-repeat;
	list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 28px;
    line-height: 150%;
    border-bottom: 1px solid #e7e7e7;
    color: #000;
}

@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 20px 20px 20px 40px;
		text-align: left;
    }
} 

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

ul.grey-tick-last {
    padding: 0px 15px;
}

ul.grey-tick-last li {
    background: url(../images/grey-tick-last.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 10px 10px 10px 48px;
    background-position: 20px 20px;
    line-height: 150%;
    border-bottom: 1px solid #090e2d;
    color: #ffffff;
}

ul.grey-tick-last li:last-child {
    border-bottom: 0px;
}

ul.vgreentick li {
    background: #ffffff url(../images/vgreentick.png) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 55px;
    background-position: 20px 25px;
    line-height: 150%;
    color: #301541;
}

.tbbg2-text {
    color: #1d7773;
}

.tbbg2 {
    background: #1a243f;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tbbg3 {
    background: url(../images/plan2.png) no-repeat center top;
    padding: 32px 15px 80px;
    background-size: cover;
}

.bought-text {
    background: #ffeb09;
    padding: 8px 10px;
}

@media (min-width: 768px) {
    ul.vgreytick li {
        padding: 20px 20px 20px 40px;
    }
    ul.grey-tick-last li {
        padding: 15px 10px 15px 52px;
    }
    .mt-sm-170 {
        margin-top: 170px
    }
    .mt-sm-90 {
        margin-top: 90px
    }
}

.buypad {
    padding: 4% 3%;
}

.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}

.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}

.shadow-img {
    margin-top: -40px;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.ribbonimg {
    position: absolute;
    top: 100px;
    right: 0px;
    height: 50px;
}

.xs-height125 {
    height: 125px;
}

.xs-height50 {
    height: 55px;
}

@media(min-width:240px) {
    .ribbonimg {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 90px;
    }
}

.thanks-button a {
    width: 100%;
    display: inline-block;
	color: #ff7200;
	text-decoration: none;
}

@media(min-width:768px) {
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    }
    .thanks-button a {
        font-size: 24px;
    }
}


/*Table CSS Enad*/

@media (min-width:768px) {
    .moneyback-section {
        background: #080d1a url(../images/moneyback-bg.png) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px 120px;
    }
    .license-section {
        background: #ecf0f5 url(../images/licensebg.png) no-repeat center center;
        background-size: cover;
        padding: 5% 0;
    }
    .mt-sm240 {
        margin-top: 240px;
    }
}

.yellow-clr {
    color: #f8e71c;
}

.bdr-1 {
    position: absolute;
    background: #b7b7b7;
    width: 1px;
    height: 89%;
    left: 50%;
    /* border-right: 1px solid #b7b7b7; */
}

@media (max-width:767px) {
    .bonus-section {
        background: #f2f4fa;
		border-bottom:solid 5px #080d1a;
    }
    .tbbg2 {
        padding: 15px 15px 15px 15px;
    }
    ul.vgreytick {
        padding: 0px 15px;
    }
}

.no-wrap {
    white-space: nowrap;
}

@media (min-width: 768px) {
	.fourth-section {
		padding: 100px 0 0px;
	}
	.white-section {
		padding: 100px 0;
		background: #fff url(../images/white-section-bg.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
}

.list-ft4 li{
	list-style: none;
    background: url(../images/kap-tick.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0 15px 45px;
}

.orange {
	color: #ffe8cc;
}

.black-design {
	background: #1a233e;
	padding: 15px 30px;
	-webkit-transform:skew(-200deg);
	-moz-transform:skew(-200deg);
	transform:skew(-200deg);
	display:inline-block
}
.black-design .skew-normal{
	-webkit-transform:skew(200deg);
	-moz-transform:skew(200deg);
	transform:skew(200deg);
}
@media (min-width: 768px) {
.black-design {
    padding: 16px 79px 28px 66px;
    background: url(../images/but-that-not-all.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
}

.red-clr, a.red-clr {
    color: #ff3c00;
}
.second-sec {
    padding: 30px 0px;
	background: #fff;
	
}
.second-sec-1 {
	background: #f2f4fa;
    padding: 30px 0;
}
@media (min-width: 768px) {
	.second-sec-1 {
		padding: 100px 0;
		background: #f2f4fa url(../images/blue-section-bg.png);
		background-size: cover;
		background-position: center center;
	}
	.second-sec {
		padding:100px 0px;
		background: #fff url(../images/white-section-bg.png) no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.grey-section {
		padding: 6% 0;
	}
}