html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
	border-radius: 5px;
}

.white-clr {
	color: #fff;
}

.black-clr {
	color: #000000;
}

.orange-clr {
	color: #f6841f;
}

.yellow-clr{color:#ffc332;}

.blue-clr,
a.blue-clr {
	color: #182d5a;
	text-decoration: none;
}

.header-section {
	background: #182d5a;
	padding: 30px 0px;
}

.preline {
    position: relative;
    display: inline-flex;
}
.preline::before{
    content: '';
    border: solid 1px #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5px;
    z-index: 1;
    right: -5px;
}
.preheadline {
    display: inline-flex;
    padding: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    z-index: 15;
}
.postheadline{
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    display: inline-block;
    padding: 10px;
    border-radius: 100px;
}

@media(min-width:768px){
    .postheadline,
    .preheadline{
        padding: 10px 35px;
    }
    .preheadline::before{
        content: '';
        background:url(https://cdn.oppyo.com/launches/yodrive/common_assets/images/left-arrow.webp) no-repeat;
        width: 49px;
        height: 65px;
        position: absolute;
        left: -35px;
        bottom: -35px;
        z-index: -1;
    }
    .preheadline::after{
        content: '';
        background:url(https://cdn.oppyo.com/launches/yodrive/common_assets/images/right-arrow.webp) no-repeat;
        width: 49px;
        height: 65px;
        position: absolute;
        right: -35px;
        bottom: -35px;
        z-index: -1;
    }
}

@media (min-width: 768px) {
	.header-section {
		background: #fff url(https://cdn.oppyo.com/launches/yodrive/agency/header-bg.webp);
    	background-repeat: no-repeat;
    	background-position: bottom center;
    	background-size: cover;
    	padding: 40px 0px 120px;
	}
}

/* Header Section CSS End*/

/* Second Section */
.second-section {
	padding: 30px 0px;
	background: #ffffff;
}

.probtn1 a {
	border-radius: 15px;
	background-color: #f6841f;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	color: #ffffff;
	border: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 140%;
}

.probtn1 a:hover {
	background: #e97b1a;
	text-decoration: none;
}

@media (min-width: 768px) {
	.second-section {
		padding: 0px 0 80px;
		background: #ffffff url(https://cdn.oppyo.com/launches/yodrive/agency/second-sec-bg.webp) no-repeat center center;
	}

	/* .header-list-block {
		padding: 40px 30px;
	} */

	.probtn1 a {
		font-size: 35px;
		padding: 28px 30px;
	}
}

/* Second Section End*/

/* Proudly Section */
.proudly-section {
	background: url(https://cdn.oppyo.com/launches/yodrive/agency/proudlybg.webp) no-repeat bottom center;
	background-size: cover;
	padding:30px 0;
}

@media (min-width: 768px) {
	.proudly-section {
		padding: 100px 0px;
	}
}

/* Proudly Section End */
.one-time-shape {
    padding: 10px;
    background: #224cb0;
    border-radius: 5px;
}
@media (min-width: 767px){
.one-time-shape {
    background: url(https://cdn.oppyo.com/launches/yodrive/agency/one-time-shape.webp) no-repeat center center;
    background-size: contain;
    border: 0;
    border-radius: 0;
    padding: 22px 15px 70px;
}
}
/* Feature Sections */
.white-section {
	background: #fff;
	padding: 30px 0;
}

.grey-section {
	background: #eef5ff;
	padding: 30px 0;
}
.tickul li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/yodrive/agency/launch-tick-blue.webp) no-repeat;
    background-position: 0 2px;
    padding: 0 0 20px 40px;
}
.tickul li:last-child {
    padding-bottom:0px;
}
@media (min-width: 768px) {
	.white-section {
		padding: 100px 0px;
	}

	.grey-section {
		padding: 100px 0px;
	}
}

/* Feature Sections End */

/* Money Back Gurantee */
.moneyback-section {
	background: #182d5a url(https://cdn.oppyo.com/launches/yodrive/agency/moneyback-bg.webp) no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 30px 0 30px;
}

@media (min-width: 768px) {
	.moneyback-section {
		padding: 70px 0px;
	}
}

/* Money Back Gurantee End */

/* Bonus Section */
.bonus-section {
	background: url(https://cdn.oppyo.com/launches/yodrive/agency/bonus-bg.webp) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}

@media (min-width: 768px) {
	.bonus-section {
		padding: 70px 0px;
	}
}

/* Bonus Section End */

/* Table Section */
.table-section {
	background: #ffffff;
	padding: 30px 0;
}

.tablebox2 {
	background: #ffffff;
	width: 100%;
	float: left;
	border-radius: 10px;
	border: solid 1px #a2a1a3;
}

.tbbg2 {
	background-color: #fff;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}

ul.vgreytick {
	padding: 0px;
	margin: 0;
}

ul.vgreytick li {
	background: url(https://cdn.oppyo.com/launches/yodrive/agency/vgreytick.webp) no-repeat;
	list-style: none;
	text-align: left;
	padding: 15px 15px 15px 50px;
	background-position: 15px 22px;
	line-height: 150%;
	text-transform: capitalize;
}

ul.vgreytick li:nth-child(odd) {
	background-color: #eef5ff;
}

ul.vgreytick li:nth-child(even) {
	background-color: #ffffff;
}

.myfeatureslast {
	float: left;
	padding:30px;
	width: 100%;
	min-height: 69px;
	background: #ffffff;
	border-radius: 0px 0px 10px 10px;
}

.tablebox3 {
	width: 100%;
	float: left;
	border-radius: 10px;
	box-shadow: 0px 0px 22px 0px rgb(38 23 70 / 40%);
	position: relative;
	border: solid 1px #182d5a;
}

.tablebox3:before {
	content: '';
	position: absolute;
	background: url(https://cdn.oppyo.com/launches/yodrive/agency/most-popular.webp) no-repeat left top;
	min-height: 165px;
	min-width: 153px;
	left: 0px;
	top: 0px;
}

.tbbg3 {
	background: #182d5a;
	padding: 50px 30px 30px 30px;
	background-size: 100% 100%;
	border-radius: 10px 10px 0px 0px;
}
.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}

@media (min-width: 768px) {
	.table-section {
		padding: 100px 0px;
		background: url(https://cdn.oppyo.com/launches/yodrive/agency/pricing-table-bg.webp) no-repeat;
		background-position: center center;
	}

	.tbbg2 {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}

	ul.vgreytick li {
		padding: 20px 15px 20px 65px;
		background-position: 30px 25px;
	}

	.myfeatureslast {
		padding:30px;
	}

	.tbbg3 {
		padding: 80px 30px 80px 30px;
		background-size: 100% 100%;
		border-radius: 10px 10px 0px 0px;
	}
}

/* Table Section ENd */
/* Footer Section */
.footer-section {
	background: #020d13;
	padding: 30px 0;
}

.footer-ul {
	padding: 0;
}

.footer-ul li {
	display: inline;
	line-height: 130%;
}

@media (min-width: 768px) {
	.footer-section {
		padding: 50px 0px;
	}

	.footer-ul li {
		display: inline;
		line-height: normal;
	}
}

/* Footer Section End */

.img-animation {
	animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
	0% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes mover2 {
	0% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}

.but-design {
    background-color: #182d5a;
    display: inline-block;
    border-radius: 65px;
    padding: 15px;
    position: relative;
    z-index: 1;
}

@media(min-width:768px){
    .but-design{padding: 15px 35px;}
} 