.grand {
    padding: 40px 15px;
    background: #ff7800;
}
.grand-logo-bg {
    background: #ffffff;
    padding: 2% 0;
}
.post-heading-n {
    padding: 6px;
    display: inline-block;
    border-radius: 65px;
    background-color: rgb(211, 223, 243);
    box-shadow: inset 0px 4px 10px 0px rgb(0 0 0 / 35%), inset 2.828px -2.828px 10px 0px rgb(255 255 255 / 35%);
    color: #080d1a;
}
.orange, a.orange {
    color: #ff7200;
}
.header-section-n {
    background: #080d21;
    padding: 30px 0px;
}
.list-head {
    list-style: none;
}
.list-head li {
    background: url(../images/list-head-n.png) no-repeat;
    padding: 12px 0px 12px 40px;
    background-position: 0px 17px;
    border-bottom: 1px solid #f6ffd9;
}
.shadow {
    text-shadow: 0 0 5px #0a2234;
}

.paytext {
    color: #f79525;
}
.prizeblock{
	padding: 30px 0px;
}
.qcolor {
    color: #112bc9;
}
.mthalf {
    margin-top: 0.5%;
}
.pcolor {
    color: #00c4ff;
}
.features1 ul li {
    background: url(https://launches.saglustest.com/quickaffiliatepro/images/check.png) no-repeat;
    list-style: none;
    padding-bottom: 15px;
    padding-left: 40px;
    background-position: 2px 3px;
    line-height: 28px;
}
.banner-q {
    background: url(https://launches.saglustest.com/quickaffiliatepro/images/bg-xs.png) #171a1d no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 30px 0;
    margin-top: 0px;
}
.stripbg {
    background: #ffffff;
    border: 1px solid #ffeced;
    padding: 7px 5px 0px 5px;
    border-radius: 5px;
}
.banner-vid {
    background: url(../images/bg-vid.png) no-repeat;
    padding: 30px 0;
    color: #FFF;
    background-size: cover;
}
.yellowtext {
    color: #f99d36;
}
.bluetext {
    color: #00a2e5;
}







@media (min-width: 768px){
.post-heading-n {
    padding: 6px 30px;
}
.header-section-n {
    background: #080d21 url(../images/header-bg-n.png) no-repeat bottom center;
    background-size: cover;
    padding: 40px 0px 140px 0px;
}
.min-sm-video-width-right {
    width: 32%;
}
.prizeblock {
    background: url(../images/bg-vizo.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    padding: 80px 0;
}


.mthalf {
    margin-top: 0.5%;
}
.features1 ul li {
    padding-left: 50px;
}
.banner-q {
    padding: 70px 0;
}
.banner-vid {
    padding: 70px 0;
}
}



