html {
    scroll-behavior: smooth;
}

body {
    font-family: 'League Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}

.blue-clr,
a.blue-clr {
    color: #4600a2;
    text-decoration: none;
}

.blue-clr1,
a.blue-clr1 {
    color: #22007a;
    text-decoration: none;
}

.purple-clr,
a.purple-clr {
    color: #7843ff;
    text-decoration: none;
}

.orange-clr,
a.orange-clr {
    color: #ff6a3d;
    text-decoration: none;
}
.yellow-clr,
a.yellow-clr {
    color: #f4f70c;
    text-decoration: none;
}

.orange-clr1,
a.orange-clr1 {
    color: #ffcf69;
    text-decoration: none;
}

.light-blue-clr {
    color: #e0e1ff;
}

.green-clr {
    color: #00cb00;
}

.red-clr {
    color: #ff1223;
}

.black-clr,
a.black-clr {
    color: #000000;
}

.white-clr,
a.white-clr {
    color: #ffffff;
}

.clear {
    clear: both;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.d-inline-flex {
    display: inline-flex;
}

.relative {
    position: relative;
}

@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .xstext-center {
        text-align: center;
    }
}


/* Header Section Css Start */

.header-section {
    background: #2f0088;
    padding: 30px 0px;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.affiliate-link-btn a {
    color: #ff6b3e;
    background: transparent;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    padding: 0px;
}

.key-features-bg {
    padding: 25px 25px;
    position: relative;
    width: 100%;
    text-align: center;
    background: url(../images/key-features-bg.png) no-repeat center center;
    background-size: 100% 100%;
}

.list-head {
    list-style: none;
}

.list-head li {
    background: url(../images/key-tick.png) no-repeat;
    padding: 10px 0px 10px 26px;
    background-position: 0px 13px;
    text-align: left;
    border-bottom: solid 1px #080038;
}

.list-head li:last-child {
    border-bottom: 0px;
}

.pre-heading {
    background: #ffffff;
    padding: 10px;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    text-align: center;
}

@media (min-width:768px) {
    .pre-heading {
        background: url(../images/pre-shape.png) no-repeat center center;
        background-size: contain;
        padding: 30px 40px 30px 135px;
        border-radius: 0px;
        text-align: left;
    }
    .header-section {
        background: #2f0088 url(../images/header-bg.png) no-repeat center center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }
    .affiliate-link-btn a {
        border-radius: 65px;
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 15px 12px;
        font-size: 22px;
        line-height: 100%;
        color: #ffffff;
        font-weight: 600;
        background: #ff6b3e;
    }
    .affiliate-link-btn a:hover {
        background: #fb7b55;
        color: #ffffff;
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
}


/* Header Section Css End */


/* CTA Section End*/

a.cta-link-btn {
    border-radius: 65px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 28px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    background-image: -webkit-linear-gradient( 0deg, rgb(70, 0, 162) 0%, rgb(92, 4, 173) 63%, rgb(113, 8, 183) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(70, 0, 162) 0%, rgb(92, 4, 173) 63%, rgb(113, 8, 183) 100%);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
}

a.cta-link-btn:hover {
    background: rgb(113, 8, 183);
    background: linear-gradient(90deg, rgba(113, 8, 183, 1) 0%, rgba(70, 0, 162, 1) 100%);
    text-decoration: none;
}

@media (min-width: 768px) {
    a.cta-link-btn {
        font-size: 36px;
        padding: 28px 74px 30px 74px;
    }
}


/* CTA Section End*/


/* CTA Section Start */

.cta-section {
    padding: 30px 0px;
    background: #edeefc;
}

.cta-section-white {
    background: #030210;
    padding: 30px 0 30px 0px;
}

@media (min-width: 768px) {
    .cta-section {
        background: #edeefc;
        padding: 100px 0px;
    }
    .cta-section-white {
        background: #030210 url(../images/cta-sec.png) no-repeat center center;
        background-size: cover;
        padding: 70px 0px;
    }
}


/* CTA Section End */


/* Step Section Start */

.step-section {
    padding: 30px 0px;
    background: #ffffff;
}

.step-bg {
    display: inline-block;
    background-image: -webkit-linear-gradient( 0deg, rgb(70, 0, 162) 0%, rgb(92, 4, 173) 63%, rgb(113, 8, 183) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(70, 0, 162) 0%, rgb(92, 4, 173) 63%, rgb(113, 8, 183) 100%);
    border-radius: 65px;
    padding: 10px 30px;
}
.steps-block {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    padding: 15px;
}

@media (min-width: 768px) {
	.steps-block {
    padding: 20px 10px;
	height:100%;
}
    .step-bg {
        /* display: inline-block;
		background: url(../images/step-count.png) no-repeat center center;
        background-size: contain;
		padding: 38px 51px; */
    }
    .step-section {
        padding: 100px 0px;
        background: url(../images/step-section-bg.png) no-repeat center center;
        background-size: cover;
    }
}


/* Step Section End */

.no-installation {
    background: #edebf0;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .no-installation {
        background: #edebf0;
        background-size: cover;
        padding: 100px 0px;
    }
}

.proof-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .proof-section {
        background: #ffffff url(../images/proof-section.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
}


/* Team Section Sart */

.new-dcp-team-section {
    background: #ffffff;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .new-dcp-team-section {
        padding: 100px 0px 100px 0px;
        background: #ffffff url(../images/hi-there.png) no-repeat center center;
        background-size: cover;
    }
}


/* Team Section End */


/* Thatsall Section Start */

.thatsall-section {
    padding: 30px 0px;
    background: #100067 url(../images/here-are-some.png) no-repeat center center;
    background-size: cover;
}

.facts-block {
    position: relative;
    background: #1c2641;
    padding: 50px 15px 15px 15px;
}

.shape-testi1 {
    background: #ffffff;
    border-radius: 65px;
    padding: 12px 32px;
    display: inline-block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .thatsall-section {
        padding: 100px 0px 50px 0px;
        background: #100067 url(../images/here-are-some.png) no-repeat center center;
        background-size: cover;
    }
    .facts-block {
        padding: 65px 30px 30px 30px;
    }
    .shape-testi1 {
        padding: 18px 40px;
    }
}

.purple-hd {
    color: #2c0086;
}


/* Thatsall Section End */


/* Affliate Section Satrt */

.affiliate-section {
    padding: 30px 0px;
    background: #ebebeb;
}

@media (min-width: 768px) {
    .affiliate-section {
        padding: 100px 0px;
    }
}


/* Affliate Section End */


/* Still there Section Start */

.still-there-section {
    background: #ebebeb;
    padding: 30px 0px;
}

.line-5 {
    background: #ff7200;
    height: 5px;
}

.imp-shape {
    background: url(../images/bonus-shape.png) no-repeat center center;
    background-size: contain;
    padding: 18px;
}

@media (min-width: 768px) {
    .pl-md130 {
        padding-left: 130px;
    }
    .pr-md130 {
        padding-right: 130px;
    }
    .imp-shape {
        background: url(../images/bonus-shape.png) no-repeat center center;
        background-size: contain;
        padding: 28px;
        border-radius: 0;
    }
    .still-there-section {
        padding: 100px 0px;
        background: #ffffff url(../images/still-there-section.png) no-repeat top center;
        background-size: cover;
    }
    .line-5 {
        width: 50%;
    }
}


/* Still there Section End */


/* Problem there Section Start */

.problem-bg-section {
    background: #ffe1e3;
    padding: 30px 0px;
}

.black-design5 {
    background: #ffffff;
    padding: 15px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block;
}

.black-design6 {
    padding: 16px 79px 18px 65px;
    background: url(../images/bonus-shape2.png) no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

.noneed-listing4 li {
    list-style: none;
    background: url(../images/emoji.png) no-repeat;
    background-position: 0 0px;
    padding: 0 0 25px 50px;
    min-height: 42px;
}

.black-design5 .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}

.noneed-listing3 li {
    list-style: none;
    background: url(../images/cross.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.noneed-listing5 li {
    list-style: none;
    background: url(../images/cross-yellow.png) no-repeat;
    background-position: 0 5px;
    padding: 0 0 30px 50px;
    min-height: 42px;
}

.noneed-listing5 li:last-child {
    padding-bottom:0px;
}

.px40 {
    padding-left: 40px !important;
    padding-right: 40px !important
}

.shape-testi5 {
    background-color:#ec3845;
    border-radius: 65px;
    padding: 8px 15px 8px 15px;
    display: inline-block;
    margin-top: 0px;
    position: relative;
    color: #ffffff;
	top: -56px;
}
.problme-shape{
  border-radius: 20px;
  background-color: rgb(236, 56, 69);
  width:100%;
  float:left;
  padding:15px;
}

.problme-shape1{
  border-radius: 20px;
  background-color:#ffffff;
  width:100%;
  float:left;
  padding:15px;
}

@media (min-width: 768px) {
	.problme-shape{
  padding:30px;
}

.problme-shape1{
  padding:30px;
}

 .shape-testi5 {
    padding: 8px 30px 8px 30px;
}
    .f-md-70 {
        font-size: 70px;
    }
    .problem-bg-section {
        background: #ffe1e3 url(../images/problem-bg.png) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .black-design5 {
        padding: 16px 79px 18px 65px;
        background: url(../images/bonus-shape1.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: inline-block;
    }
    .noneed-listing3 li {
        list-style: none;
        background: url(../images/cross.png) no-repeat;
        background-position: 0 1px;
        padding: 0 0 30px 50px;
        min-height: 42px;
    }
}


/* Problem there Section End */


/* Proudly there Section Start */

.proudly-section {
    background: #2f0088;
    padding: 30px 0px;
}

.black-design1 {
    background: #ff7200;
    padding: 15px;
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    transform: skew(-200deg);
    display: inline-block;
}

.black-design1 .skew-normal {
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    transform: skew(200deg);
}

img.play-btn {
    display: none;
}

img.huge-like {
    display: none;
}

@media (min-width: 768px) {
    img.play-btn {
        position: absolute;
        right: -30px;
        top: -30px;
        display: block;
    }
    img.huge-like {
        position: absolute;
        left: -71px;
        bottom: -8px;
        display: block;
    }
    .proudly-section {
        background: #fff url(../images/proudly-bg.png) no-repeat top center;
        background-size: cover;
        padding: 100px 0px 100px 0px;
    }
    .black-design1 {
        padding: 16px 79px 18px 65px;
        background: url(../images/proudly-shape.png) no-repeat;
        background-size: contain;
        background-position: center;
    }
    .border-4 {
        border: solid 2px #000000;
        border-radius: 20px;
    }
    .wh300 {
        height: 350px;
    }
}

@media (max-width: 768px) {
    .step-count-img img {
        max-width: 100px;
        width: 100%;
    }
    .step-ft-img img {
        max-width: 200px;
        width: 100%;
    }
}


/* Proudly there Section End */


/* App Suite Section Start */
.appsuite-section {
	padding:30px 0px;
	background: #edebf0;
}
.appsuite-block {
    width: 100%;
    float: left;
    background-color:#ffffff;
     overflow: hidden;
	 padding:30px 20px 20px 20px;
	 text-align:center;
	 height:100%;
}
	
@media (min-width: 768px){
	.appsuite-section {
		padding:100px 0px;
	}

}
/* App Suite Section End */
