
/*Fonts*/
@font-face {font-family: WesThin; src: url('../font/Wes FY W03 Thin.ttf'); } 
@font-face {font-family: WesReguler; src: url('../font/Wes FY W03 Regular.ttf'); } 
@font-face {font-family: WesMedium; src: url('../font/Wes FY W03 Medium.ttf'); } 
@font-face {font-family: WesBold; src: url('../font/Wes FY W03 Bold.ttf'); } 
@font-face {font-family: WesBlack; src: url('../font/Wes FY W03 Black.ttf'); } 
.WesThin{
	font-family: 'WesThin';
}
.WesReguler{
	font-family: 'WesReguler';
}
.WesMedium{
	font-family: 'WesMedium';
}
.WesBold{
	font-family: 'WesBold';
}
.WesBlack{
    font-family: 'WesBlack';
}
body{
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
::selection{
  background: rgb(92, 27, 243);
  color: #fff;
}
.gradient-clr {
  background: #7617E4;
  background: linear-gradient(to top, #FF992E 0%, #DA1467 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p{
  font-size: 22px !important;
  line-height: 1.3 !important;
}
.p1{
  font-size: 19px !important;
}
.p2{
  font-size: 17px !important;
}
h1,h2,h3,h4,h5,h6{
  width: 100%;
  display: block;
}
.main-container{
  padding: 0px;
  margin: 0px auto;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
  float: right;
}
.left{
  text-align: left;
  float: left;
}
.img10 img{
  width: 10%;
}
.img20 img{
  width: 20%;
}
.img30 img{
  width: 30%;
}
.img40 img{
  width: 40%;
}
.img50 img{
  width: 50%;
}
.img60 img{
  width: 60%;
}
.img70 img{
  width: 70%;
}
.img80 img{
  width: 80%;
}
.img90 img{
  width: 90%;
}
.img100 img{
  width: 100%;
}
.pl1{padding-left: 10px;}
.pl2{padding-left: 20px;}
.pl3{padding-left: 30px;}
.pl4{padding-left: 40px;}
.pl5{padding-left: 50px;}

.mt-10{margin-top: -10px;}
.mt-20{margin-top: -20px;}
.mt-30{margin-top: -30px;}
.mt-40{margin-top: -40px;}
.mt-50{margin-top: -50px;}
.mt-60{margin-top: -60px;}
.mt-70{margin-top: -70px;}
.mt-80{margin-top: -80px;}
.mt-90{margin-top: -90px;}
.mt-100{margin-top: -100px;}

.mt1{margin-top: 10px;}
.mt2{margin-top: 20px;}
.mt3{margin-top: 30px;}
.mt4{margin-top: 40px;}
.mt5{margin-top: 50px;}
.mt6{margin-top: 60px;}
.mt7{margin-top: 70px;}
.mt8{margin-top: 80px;}
.mt9{margin-top: 90px;}
.mt10{margin-top: 100px;}

.mb1{margin-bottom: 10px;}
.mb2{margin-bottom: 20px;}
.mb3{margin-bottom: 30px;}
.mb4{margin-bottom: 40px;}
.mb5{margin-bottom: 50px;}

.br-10{border-radius: 10px;}
.br-20{border-radius: 20px;}
.br-30{border-radius: 30px;}
.br-40{border-radius: 40px;}
.br-50{border-radius: 50%;}

.b3{font-weight: 300;}
.b4{font-weight: 400;}
.b5{font-weight: 500;}
.b6{font-weight: 600;}
.b7{font-weight: 700;}
.b8{font-weight: 800;}
.b9{font-weight: 900;}

.white{color: #fff;}
.black{color: #000;}
.red{color: #f00;}
.red1{color: #7e0927;}
.yellow{color: #FFAE5F;}
.yellow1{color: #FFCB46;}
.green{color: #1cb85e;}
.blue{color: #001c55;}
.light-blue{color: #1a52ad;}
.pink{color: #ff004c;}
.orange{color: #fd6e00;}
.grey{color: #3D3D3D;}
.grey1{color: #8C8C8C;}
.yellow-clr {
  color: #eaab26;
}

.responsive-video iframe, .responsive-video object, .responsive-video embed, .responsive-video1 iframe, .responsive-video1 object, .responsive-video1 embed, .responsive-demo-video embed, .responsive-demo-video object, .responsive-demo-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.autoplayer-area {
    z-index: 2;
}
.autoplayer-subarea-16-by-9 {
    padding-bottom: 56.25%!important;
    border-radius: 0;
}

.buy {
    transition: 0.5s;
}
.buy:hover {
    transform: scale(1.02);
}

.no-thanks-link {
    color: #0d6efd!important;
    text-decoration: none;
}
.no-thanks-link:hover{
	color:#818181;
	text-decoration:underline;
}


.uppercase{
  text-transform: uppercase;
  letter-spacing: 3px;
}
.transparent{
  opacity: 0.7;
}
.text-shadow {
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 3px 5px 7px rgba(0,0,0,0.51);
}
.heading1{
  font-size: 50px;
}
.headingl{
  font-size: 55px;
}
.headingl1{
  font-size: 70px;
}
.heading-big{
  font-size: 100px;
}
.highlight-yellow{
  background: #ffff00;
  display: inline-block;
  padding: 5px 5px 0px;
}
.lh1{
  line-height: 1.3 !important;
}
.lh2{
  line-height: 130% !important;
}
.shadow{
  -webkit-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
-moz-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
}
header {
    background-color: #b30f0f;
    padding: 17px 10px;
}
header h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    line-height: 120%;
}

.s1 {
    padding: 1.5% 0;
}
.sky{
  color: #23d4fc;
}

.section1{
  display: block;
  background: url(../images/bg1.png) repeat 0 0 / cover;
  padding-top: 50px;
  padding-bottom: 80px;
  /*margin-bottom: -135px;*/
  background-position: center top;
}
.section2{
  display: block;
  /*background: url(../images/bg2.png) repeat 0 0 / cover;*/
  padding-top: 80px;
  padding-bottom: 0px;
  
  /*margin-bottom: 0px;*/
  background-position: center top;
}
.box2 {
    display: inline-block;
    background: #3322b6;
    width: 100%;
    text-align: center;
    padding: 30px 30px 20px 30px;
    border-radius: 15px;
    margin-top: 50px; 
    -webkit-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
    -moz-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
}
.section2a{
  display: block;
  background: #FDE4E4;
  padding-top: 50px;
  padding-bottom: 0px;
  /* margin-top: -100px; */
  /*margin-bottom: 0px;*/
  background-position: center top;
}
.section2b {
    display: block;
    background: #fff;
    padding-top: 30px;
    padding-bottom: 70px;
    background-position: center top;
}
.section3 {
    display: block;
    background: url(../images/bg3.png) repeat 0 0 / cover;
    padding-top: 100px;
    padding-bottom: 100px;
    /* margin-bottom: -135px; */
    background-position: center top;
}
.section4 {
    display: block;
    background: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
   
    /* margin-bottom: -135px; */
    background-position: center top;
}
.section4a{
  display: block;
  background: url(../images/bg6.png) repeat 0 0 / cover;
  padding-top: 180px;
  padding-bottom: 50px;
   margin-top: -110px; 
  /*margin-bottom: -135px;*/
  background-position: center top;
}
.btlogo {
    max-width: 55%;
}
i.fa.fa-circle {
    font-size: 7px;
}
.bglabel {
    background-color: #fff;
    margin-top: 5%;
    padding: 20px 0 0 0;
    border-radius: 15px;
}

.footer p{
  font-size: 16px!important;
}

.section5{
  display: block;
  background: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 100px;
  /*margin-bottom: -135px;*/
  background-position: center top;
}
.section6{
  display: block;
  background: #fff;
  padding-top: 100px;
 
  padding-bottom: 100px;
  /*margin-bottom: -135px;*/
  background-position: center top;
}
.section7{
  display: block;
  background: url(../images/bg7.png) repeat 0 0 / cover;
  padding-top: 100px;
  padding-bottom: 100px;

  /*margin-bottom: -135px;*/
  background-position: top center;
}
.section8{
  display: block;
  background: url(../images/bg8.png) repeat 0 0 / cover;
  padding-top: 180px;
  padding-bottom: 50px;
  /* margin-top: -100px; */
  /*margin-bottom: -135px;*/
  background-position: center top;
}
.footer{
  display: block;
  background: #000;
  padding-top: 50px;
  padding-bottom: 50px;
  /*margin-bottom: -135px;*/
  background-position: center top;
}
.footer_menu li {
  list-style: none;
  display: inline-block;
  font-weight: 400;
  color: #8C8C8C;
  text-decoration: none;
  font-size: 15px;
  margin-top: 10px;
}
.footer_menu li a{
  font-weight: 400;
  color: #8C8C8C;
  text-decoration: none;
  font-size: 15px;
}
.footer_menu li a:hover{
  text-decoration: underline;
}
.logo img{
  width: 15%;
}
.video-bg{
  background: rgb(255 255 255/10%);
  border: 1px solid rgb(255 255 255/12%);
  border-radius: 30px;
  padding: 30px;
}
/*.top-strip{
  display: inline-block;
   background: rgb(255 255 255/7%); 
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  padding: 10px 30px;
  border-radius: 25px;
  -webkit-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
  -moz-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
  box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
}*/
.gradient1{
  background-image: linear-gradient(to right,#6b60ff,#00dcf4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
}
.gradient2{
  background-image: linear-gradient(to right,#1A71FC,#3a83f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient3{
  background-image: linear-gradient(to right,#FF4900,#FF8100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient4{
  background-image: linear-gradient(to right,#C9074D,#D8477B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cta-box{
  background: url(../images/cta-box.png) repeat 0 0 / cover;
  padding: 50px;
  background-size: 100% 100%;
  display: block;
  border-radius: 30px;
  border: 1px solid #10c5f8;
}
.button-primary {
  display: block;
    border-radius: 10px;
    color: #fff;
    background-image: -webkit-linear-gradient( 64deg, #FF992E 0%, #DA1467 100%);
    font-weight: 700;
    font-size: 33px;
    text-decoration: none;
    padding: 28px 30px
}
.button-primary:hover {
  text-decoration: none;
  color: #fff;
}
.button-primary .col-10{
  margin-top: -60px;
  /* padding-bottom: 10px; */
}
.button-primary .col-2{
  margin-top: -96px;
  background: #D34501;
  margin-left: -12px;
  /* margin-top: -12px; */
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0 20px 20px 0;
}
.overlay1{
  /* width: 100%; */
  position: relative;
  width: 100%;
  opacity: .5;
}
.overlay1 img{
  position: relative;
  width: 100%;
}
.list1 li {
  list-style: none;
  font-size: 20px;
  margin-top: 20px;
  /*margin-left: 30px;*/
  margin-bottom: -15px;
  color: #fff;
}
.list1 li i {
  color: #1cb85e;
  padding-right: 5px;
  margin-left: -30px;
}
.box1{
  display: inline-block;
  background: #fff;
  border: 1px solid #7158C2;
  width: 100%;
  padding: 30px;
  border-radius: 15px;
  margin-top: 50px;
  box-shadow: 0 24px 70px 0 rgb(76 69 169 / 21%);
}
.bba{
  border-bottom: 1px dotted #FF6700;
  padding-bottom: 10px;
  padding-top: 20px;
}
.box2 {
    background: rgb(255 255 255/10%);
    border: 1px solid rgb(255 255 255/12%);
    border-radius: 30px;
    padding: 30px;
    margin-top: 70px;
   
}
.list-head li {
  background: url(../images/priceCheck2.png) no-repeat;
  padding: 0px 0px 10px 40px;
  margin-bottom: 10px;
  background-position: 0px 5px;
  text-align: left;
  border-bottom: solid 1px #ffffff33;
  font-size: 20px;
}
.graphicimg {
    max-width: 55%;
}
.graphic1 {
    max-width: 75%;
}
.box2 h2 {
    font-size: 24px;
}
.box2 p {
    font-size: 20px!important;
}
.strip1{
  background-image: -webkit-linear-gradient( 180deg,rgba(242,142,38,0.99608) 0%,rgb(253,100,79) 100%);
  padding: 8px 9px 1px 9px;
  display: inline-block;
  border-radius: 25px;
}
.strip2{
  background-image: -webkit-linear-gradient( 180deg,#7EF0E3 0%,#41B0F6 100%);
  padding: 8px 9px 1px 9px;
  display: inline-block;
  border-radius: 25px;
}
.strip3{
  background-image: -webkit-linear-gradient( 180deg,#F6B4B9 0%,#CA084E 100%);
  padding: 8px 9px 1px 9px;
  display: inline-block;
  border-radius: 25px;
}
.strip3a{
  background-image: -webkit-linear-gradient( 180deg,#F6B4B9 0%,#CA084E 100%);
  padding: 8px 9px 8px 9px;
  display: inline-block;
  border-radius: 25px;
}
.strip4{
  background-image: -webkit-linear-gradient( 180deg,#C6F085 0%,#62DE72 100%);
  padding: 8px 9px 1px 9px;
  display: inline-block;
  border-radius: 25px;
}
.strip5{
  background-image: -webkit-linear-gradient( 180deg,#F5A3FF 0%,#9D74EE 100%);
  padding: 8px 9px 1px 9px;
  display: inline-block;
  border-radius: 25px;
}
.strip6{
  background-image: -webkit-linear-gradient( 180deg,#FFC177 0%,#FAA137 100%);
  padding: 8px 9px 1px 9px;
  display: inline-block;
  border-radius: 25px;
}
.strip7{
  background-image: -webkit-linear-gradient( 180deg,#933B88 0%,#ED3B4C 100%);
  padding: 8px 9px 1px 9px;
  display: inline-block;
  border-radius: 25px;
}
.strip8{
  background-image: -webkit-linear-gradient( 180deg,#79DFB9 0%,#16C284 100%);
  padding: 8px 9px 1px 9px;
  display: inline-block;
  border-radius: 25px;
}
.white-bg{
  background: #fff;
  display: block;
  padding: 10px 30px;
  border-radius: 20px;
}
.option3{
  background: url("../images/strip3.png") repeat 0 0 / cover;
  background-size: 100% 100%;
  padding: 12px 30px;
  font-size: 20px;
  color: #CB094F;
  font-weight: 700;
  text-align: center;
  display: inline-block;
}
.option2{
  background: url("../images/strip2.png") repeat 0 0 / cover;
  background-size: 100% 100%;
  padding: 12px 30px;
  font-size: 20px;
  color: #DC3F08;
  font-weight: 700;
  text-align: center;
  display: inline-block;
}
.option1{
  background: url("../images/strip1.png") repeat 0 0 / cover;
  background-size: 100% 100%;
  padding: 12px 30px;
  font-size: 20px;
  color: #1A71FC;
  font-weight: 700;
  text-align: center;
  display: inline-block;
}
.img80 .deepanker{
  width: 84% !important;
}
.guarantee-box{
  display: inline-block;
  width: 80%;
  background: #194fa8;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  margin-top: 100px;
  -webkit-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
  -moz-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
  box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
}
.guarantee-box img{
  width: 25%;
  margin-top: -120px;
}
.p-table {
    display: inline-block;
    background: #fff;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    -webkit-box-shadow: 3px 10px 41px -14px rgba(0,0,0,.69);
    -moz-box-shadow: 3px 10px 41px -14px rgba(0,0,0,.69);
    box-shadow: 3px 10px 41px -14px rgba(0,0,0,.69);
    border-radius: 20px;
}
.box3 {
    background: rgb(255 255 255/10%);
    border: 1px solid rgb(255 255 255/12%);
    border-radius: 30px;
    padding: 30px;
}
.footer .copyright-link {
    text-align: right;
    color: #989898;
    padding: 10px 0;
}
.footer a {
    color: #fff;
    text-decoration: none;
}
.footer a:hover {
  text-decoration: none;
    color: #fff;
}
.section2 .hd1 {
    line-height: 160%;
    background-color: #00000008;
    padding: 15px 15px;
    border-radius: 20px;
    border: 2px solid #23b4f8;
    margin-bottom: 5%;
}


.p-head1 {
  background: #000;
  padding: 30px;
  border-radius: 20px;
}
.p-head2 {
  background: #ed861c;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.bar1{
  background: #fff;
  height: 2px;
  width: 50%;
  text-align: center;
  display: inline-block;
}
.p-body {
  /* display: inline-block; */
  /* width: 100%; */
  padding: 20px;
  background: rgba(255, 255, 255, 0.043);
  border-radius: 20px;
}
.p-body2 {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 4px dotted #ed861c;
  border-top: none;
}
.p-list {
  margin-left: -30px;
  text-align: left;
}
.p-list li {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
}
.p-list li i{
  color: #1DB85C;
}



/**/
.tableChecklist2{margin:0;padding:0;}

.tableChecklist2 li {
    background: url(../images/tableChecklist2.png) no-repeat 19px 21px;
    padding-left: 59px;
    padding-right: 0%;
    list-style: none;
    margin-left: 0px;
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: left;
    border-bottom: 1px solid #ffffff2e;
	color:#fff;
	font-size:20px;
	line-height:160%;
}






@media (max-width: 767px){
  .logo img{
    width: 50%;
  }
  .section1 .top-strip h4{
    font-size: 20px;
  }
  .headingm{
    font-size: 27px;
  }
  .heading1{
    font-size: 30px;
  }
  .heading1a{
    font-size: 30px;
  }
  .headingl{
    font-size: 35px;
  }
  .heading-big{
    font-size: 40px;
  }
  h2{
    font-size: 23px;
  }
  h3{
    font-size: 20px;
  }
  .mt0-res{
    margin-top: 0px;
  }
  .mt1-res{
    margin-top: 10px;
  }
  .mt2-res{
    margin-top: 20px;
  }
  .mt3-res{
    margin-top: 30px;
  }
  .mt40-res{
    margin-top: 40px;
  }
  .mt50-res{
    margin-top: 50px;
  }
  .mt60-res{
    margin-top: 60px;
  }
  .mt70-res{
    margin-top: 70px;
  }
  .mt80-res{
    margin-top: 80px;
  }
  .mt90-res{
    margin-top: 90px;
  }
  .mt100-res{
    margin-top: 100px;
  }
  .br-res br{
    display: none;
  }
  .button-green{
    font-size: 20px;
  }
  .guarantee img{
    width: 70%;
  }
  .img70 img{
    width: 100%;
  }
  .img50 img{
    width: 100%;
  }
  .video-bg{
    padding: 15px;
    border-radius: 15px;
  }
  .button-primary .col-10{
    margin-top: -30px;
    font-size: 20px;
    /* padding-bottom: 10px; */
  }
  .button-primary{
    padding: 0px 0px 0px 0px;
    display: block;
    width: 100%;
  }
  .button-primary .col-2{
    margin-top: -42px;
    background: #D34501;
    margin-left: -12px;
    /* margin-right: -10px; */
    /* margin-top: -12px; */
    padding-top: 20px;
    /* padding-bottom: 20px; */
    border-radius: 0 20px 20px 0;
  }
  .button-primary .col-2 img{
    width: 70%;
  }
  .section2{
    padding-top: 50px;
  }
  
  .section3{
    padding-bottom: 80px;
  }
  .section4{
    
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .section6{
    padding-top: 80px;
  }
  .steve{
    width: 50% !important;
  }
  .img80 .deepanker{
    width: 55% !important;
  }
  .footer .text-end{
    text-align: center !important;
    margin-left: -30px;
  }
  .center-res{
    text-align: center !important;
  }
}
.proudly-sec {
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.10);
  display: inline-block;
  padding: 10px 20px;
}

@media (min-width: 768px){
.proudly-sec {
    padding: 9px 50px;
}
}
.no-thanks a{color: #FD2F15; text-decoration: none;}
.footer-ul {
  padding: 0;
}
.footer-ul li {
  display: inline;
  line-height: 130%;
}
.p1 {
  font-size: 20px !important;
}
@media (min-width: 768px){
.footer-ul li {
    display: inline;
    line-height: normal;
}
.caveat {
  font-family: 'Caveat', cursive;
}
}


/*.timerbar{background:rgba(0,0,0, 0.8); color:#fff; padding:0; width:100%; position:fixed; bottom:0; left:0; z-index:999;}*/
