html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 14px;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 15px 0px 25px 0px rgba(19, 21, 26, 0.3);
	z-index: 99;
}
/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.kapblue {
    color: #224cb0;
}

.orange-clr {
    color: #ffb80f;
}

.blue-clr {
    color: #0a52e2;
}


/* Color CSS */


/****Header Section ********/

.header-section {
    background: #141516 url(https://cdn.oppyo.com/launches/jobiin/common_assets/images/header-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: Cover;
    padding: 30px 0px;
    position: relative;
}

.pre-heading {
    background: #ffffff;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 65px;
    text-align: center;
}

.probtn1 a,
.probtn a {
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #000000;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    animation: glowing 5000ms infinite;
}

.probtn1 a:hover,
.probtn a:hover {
    transform: scale(1.05);
    transition: all .3s ease;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #c4a300;
    }
    40% {
        box-shadow: 0 0 20px #c4a300;
    }
    60% {
        box-shadow: 0 0 20px #c4a300;
    }
    100% {
        box-shadow: 0 0 -10px #c4a300;
    }
}

@media (min-width: 768px) {
    .header-section {
        padding: 40px 0px 100px 0px;
    }
    .pre-heading {
        padding: 10px 30px;
    }
    .probtn1 a,
    .probtn a {
        font-size: 38px;
        padding: 28px 30px;
    }
}

@media (min-width: 1600px) {
    .header-left-element {
        position: absolute;
        left: -20px;
        bottom: -52px;
        display: block !important;
    }
    .header-right-element {
        position: absolute;
        bottom: -75px;
        right: 20px;
        display: block !important;
    }
}


/****Header Section ********/


/*******Second Section **********/

.second-sec {
    padding: 30px 0;
    background: #f9f9f9;
}

.boxes {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
}

.bigboxes li {
    background: url(https://cdn.oppyo.com/launches/jobiin/reseller/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 15px;
}

.bigboxes1 li {
    background: url(https://cdn.oppyo.com/launches/jobiin/reseller/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .second-sec {
        padding: 100px 0px;
        background: #f9f9f9 url(https://cdn.oppyo.com/launches/jobiin/reseller/white-section-bg.webp) no-repeat;
        background-position: center center;
    }
}


/*******Second Section **********/


/*******Gray Section*********/

.grey-section {
    background: #ffffff;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .grey-section {
        background: #ffffff;
        padding: 100px 0;
    }
}


/*******Gray Section*********/


/*******Fifth Section *******/

.fifth-section {
    background: #141516 url(https://cdn.oppyo.com/launches/jobiin/reseller/proudlybg.svg) no-repeat center center;
    background-size: cover;
    padding: 60px 0 30px 0px;
}

@media (min-width: 768px) {
    .fifth-section {
        padding: 100px 0 100px 0px;
    }
}


/*******Fifth Section *******/


/*****Table Section ********/

.table-section {
    background: #ffffff;
    padding: 30px 0px;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #cacaca;
}

.tbbg2 {
    background: url(https://cdn.oppyo.com/launches/jobiin/reseller/start-plan-bg.webp) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #cacaca;
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.tablebox3 {
    background: #0a52e2;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    position: relative;
}

.tbbg3 {
    background: #0a52e2;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #0a52e2;
}

.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
    border: solid 1px #cacaca;
}

@media (min-width: 768px) {
    .table-section {
        padding: 100px 0;
    }
    .myfeatureslast {
        padding: 30px 20px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
}


/*****Table Section ********/


/**************Footer Section***********/

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}


/**************Footer Section***********/