html {
    scroll-behavior: smooth;
}
body {
    font-family: 'League Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}
::-webkit-input-placeholder {
    color: #797979 !important;
}
::-moz-placeholder {
    color: #797979 !important;
}
:-ms-input-placeholder {
    color: #797979 !important;
}
:-moz-placeholder {
    color: #797979 !important;
}
.yellow-clr {
    color: #fff600;
}
.orange-clr {
    color: #ff6a3d;
}
.black-clr {
    color: #000000;
}
.black-clr1 {
    color: #010101;
}
.kapblue{
    color: #4600a2;
}
.blue-clr {
    color: #4600a2;
}
.relative {
    position: relative;
}
.theme-clr {
    color: #224cb0;
}
.clear {
    clear: both;
}
.white-clr {
    color: #ffffff;
}
/* Header Section CSS */
.warning-section {
    background-color: #fd2f15;
    padding: 20px 0px;
}
.header-section{
    background-color: #0d0304;
    padding: 30px 0;
}
.fifth-section{
    background: #0d0304;
    padding: 30px 0;
}
.feature-tick li {
    background: url(../images/tick-icon.png) no-repeat;
    padding: 20px 0px 0px 42px;
    background-position: 1px 27px;
    list-style: none;
}
.content-mbl-space {
    background: #ffffff;
    padding: 30px 0px;
}
@media(min-width:768px) {
    .header-section{
        background:  url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 40px 0px 140px 0px;
        background-attachment: fixed;
    }
    .fifth-section {
        background:  url("../images/proudlybg.png") no-repeat center center;
        background-size: cover;
        padding: 100px 0 100px 0px;
    }
}
.logo-height {
    max-height: 45px;
}
.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}
.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 200;
}
.second-section {
    padding: 30px 0;
}
.second-sec {
    padding: 30px 0;
}
ul.bigboxes {
    margin: 0px;
    padding: 0px;
}
.bigboxes li {
    background: url(../images/greentick.png) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
}
.boxes {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
}
ul.bigboxes1 {
    margin: 0px;
    padding: 0px;
}
.bigboxes1 li {
    background: url(../images/greentick.png) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
    margin-bottom: 20px;
}
@media(min-width:768px) {
    .second-sec{
        padding: 100px 0px;
        background: url(../images/white-section-bg.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .boxes {
        padding: 50px;
    }
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/********features*********/
@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}
.handsean {
    font-family: handsean;
}
.feature-18 {
    padding: 30px 0;
    background: #200664;
}
.vendor-section {
    background: #fff url(../images/dots.png) no-repeat right center;
    padding: 4% 0;
}
.name-box {
    background: #5c6ac4;
    padding: 0px 30px;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
}
@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 70px 0px;
    }
}
.probtn1 a,
.probtn a {
    border-radius: 10px;
  background-color: #FD2F15;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 28px;
    line-height: 140%;
}
.probtn1 a:hover,
.probtn a:hover {
    text-decoration: none;
}
@media (min-width: 768px) {
    .probtn1 a,
    .probtn a {
        font-size: 32px;
        padding: 28px 30px;
    }
}
/*Table CSS Start*/
.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}
.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #0d0304;
}
.tablebox3 ul {
    padding-left: 0;
    color: #010101;
}
.tablebox3 {
    background: #1c098e;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    position: relative;
}
.tbbg2 {
    background: url(../images/start-plan-bg.png) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}
.tbbg3{
    background: #0d0304;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #4600a2;
}
.bought-text{
    background: #ffeb09;
    padding: 8px 10px;
}
.most-popular{
    background: url(../images/most-pop.png) no-repeat center;
    padding: 15px 30px 30px 30px;
    background-size: 100% 100%;
    margin-top: -40px
}
@media (min-width: 768px) {
    .tbbg3{
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 10px 10px;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 10px 10px;
    }
}
.myfeatures {
    float: left;
    padding: 25px 6px;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid #ded7d7;
}
.myfeaturess {
    background: #f5f5f5;
    float: left;
    padding: 37px 6px;
    width: 100%;
    min-height: 69px;
}
.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}
.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
    border: solid 1px #0d0304;
}
.ribbonimg{
    position: absolute;
    top: 100px;
    right: 0px;
    height: 50px;
}
@media(min-width:240px) {
    .ribbonimg {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 90px;
    }
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    color: #FD2F15;
    text-decoration: none;
}
.thanks-button a:hover {
    text-decoration: none;
}
@media(min-width:768px) {
    .ribbonimg {
        position: absolute;
        top: -153px;
        right: -65px;
        height: 162px;
        z-index: 10;
    }
    .thanks-button a{
        font-size: 25px;
    }
    .myfeatureslast {
        padding: 30px 20px;
    }
}
/*Table CSS Enad*/
.grey-section {
    background: #F1F1F1;
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}
.bonus-section {
    background: #f2f4fa;
    background-size: cover;
    padding: 30px 0;
}
.table-section {
    background: #ffffff;
    padding: 30px 0px;
}
@media (min-width:768px) {
    .table-section {
        padding: 100px 0;
        background: url(../images/table-bg.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .bonus-section {
        background: url(../images/bonus-bg.png) no-repeat;
        background-size: cover;
        background-position: center bottom;
        padding: 70px 0px 100px 0px;
    }
}
/*-------- Responsive ------------*/
@media (min-width:768px) {
    .feature-18 {
        padding: 100px 0 130px;
        background: #ffffff url(../images/feature18-bg.png) no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
    .grey-section {
        background:#F1F1F1;
        background-size: cover;
        background-position: center;
        padding: 100px 0;
    }
}
@media (max-width: 767px) {
    .tbbg2{
        padding: 15px 15px 15px 15px;
    }
}
.footer-section {
    background: #0d0304;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
    line-height: 130%;
}
.footer-ul li:hover a {
    color: #fff;
}