body {
    font-family: 'Mulish', sans-serif;
    color: #00081d;
    font-size: 14px;
    overflow-x: hidden;
}
.white-clr {
    color: #fff;
}
a.red-clr {
    color: #f40c28;
}
.black-clr {
    color: #00081d;
}
/* Header Section CSS */
.header-section {
    background-color: #fff;
    padding: 5% 0;
}
@media(min-width:768px) {
    .header-section {
        padding: 50px 0px 50px;
    }
}
/********features*********/

@font-face {
    font-family: 'handsean';
    src: url(../fonts/handsean.ttf);
}
.handsean {
    font-family: handsean;
}
.footer-section {
    background: #100f12;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}
a.blue-clr {
    color: #0e2672;
}
@media(min-width:768px) {
    .footer-section {
        padding: 50px 0px;
    }
}
.lightred {
    color: #0e2672;
}
.footer-ul li a:hover {
    color: #fff;
}