.money-back{
    padding: 30px 0px;
    background: linear-gradient(180deg, #05071A 0%, #1E0045 100%);
}
@media(min-width:768px){
    .money-back{
        padding: 100px 0px;
    }
}
.container-box {
    padding: 20px;
    position: relative;
    background: #030f28;
    border-radius: 30px;
}
.contact-shape{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(10px);
}
@media(min-width:768px){
    .container-box {
        padding: 80px;
        background: url(../images/contact-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .contact-shape{
        padding: 25px 0px;
    }
}
.faq-list {
    background: url(../images/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 25px;
}
footer{
    background: rgba(5, 7, 26, 1);
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}
@media(min-width:768px){
    footer{padding: 50px 0px;}
}