html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Mulish', sans-serif;
	color: #0f0f0f;
	font-size: 14px;
	overflow-x: hidden;
}


/* Color CSS */

.white-clr {
	color: #fff;
}

.black-clr {
	color: #0f0f0f !important;
}

.orange-clr {
    color: #f9bb0b;
}

.red-clr {
    color: #f40c28;
}
.red-clr1 {
    color: #ff0000;
}

.blue-clr {
	color: #0e2672;
}

.pink-clr1 {
	color: #ff5464;
}

/* CTA Section  */

.cta-section-new {
	background: #0f0f0f;
	padding: 30px 0;
}

@media (min-width:768px) {
	.cta-section-new {
		padding: 70px 0 50px 0px;
        background: url(https://cdn.oppyo.com/launches/vidboxs/fe/cta-section-new.webp) center center no-repeat;
        background-size: cover;
	}
}


/* CTA Section End */


/* CTA Link Button */

a.cta-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 5px;
	color: #ffffff;
	font-weight: 800;
	font-size: 22px;
	line-height: normal;
	white-space: normal;
	align-items: center;
	border-radius: 100px;
	transition: all 0.5s;
	/* animation: glowing 5000ms infinite; */
	border-radius: 100px;
	background: #ff2c50;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #f60c29;
    }
    40% {
        box-shadow: 0 0 20px #f60c29;
    }
    60% {
        box-shadow: 0 0 20px #f60c29;
    }
    100% {
        box-shadow: 0 0 -10px #f60c29;
    }
}


a.cta-link-btn:hover {
	transition: all .3s ease;
	background: #f60c29;
	color: #ffffff;
	text-decoration: none;
	transform: scale(1.1);
	transition: all 0.5s;
}

.cta-shape {
    background-color: #ff0000;
    text-align: center;
    color: #ffffff;
    padding: 9px 4px;
    display: inline-block;
    margin-left: -13px;
}

@media (min-width: 768px) {
	a.cta-link-btn {
		font-size: 36px;
		padding: 28px 60px 30px 60px;
		display: inline-block;
	}
    .cta-shape {
        padding: 12px 15px;
        margin-left: -10px;
    }
}


/* CTA Link Button End */
.pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: #0f0f0f;
    outline: none;
    border-color: #f40c28;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}
@media(min-width:768px){
    .pre-heading {
        padding: 15px 30px;
        border-radius: 100px;
    }
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.border-video {
	border-radius: 20px;
}

.relative {
	position: relative;
}

@media (max-width: 767px) {

	.mx-xs-auto,
	.mx-xs-center {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}


/* Header Section Css Start */

.header-section {
    background: #0f0f0f url(https://cdn.oppyo.com/launches/vidboxs/fe/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 0px;
    position: relative;
    background-attachment: fixed;
}

.header-section ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.header-section ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
}

.header-section ul.leader-ul li a {
	color: #ffffff;
}

.affiliate-link-btn a {
	border-radius: 60px;
	background-color: #ff2c50;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 20px;
	font-size: 18px;
	color: #fff !important;
	font-weight: 700;
    transition: all .3s ease;
}
.highlight-heading {
    background: #f9bb0b;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0px;
}

.calendar-wrap {
	border-radius: 15px;
	background-color: #292929;
	padding: 20px;
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.list-head {
	list-style: none;
}

.list-head li {
	background: url(https://cdn.oppyo.com/launches/vidboxs/fe/list-tick.webp) no-repeat;
	padding: 0px 0px 10px 30px;
	margin-bottom: 10px;
	background-position: 0px 8px;
	text-align: left;
	border-bottom: solid 1px #464646;
}

.list-head li:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: none;
}


@media (min-width:768px) {
	.header-section {
		padding: 40px 0px 70px 0px;
	}

	.header-section ul.leader-ul {
		margin-top: 0px;
	}

	.affiliate-link-btn a {
		padding: 10px 25px;
		font-size: 18px;
	}

	.affiliate-link-btn a:hover {
        transform: scale(1.1);
	}

	.min-md-video-width-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58%;
		flex: 0 0 58%;
		max-width: 58%;
	}

	.min-md-video-width-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 42%;
		flex: 0 0 42%;
		max-width: 42%;
	}
}

/* Header Section Css End */
.step-section {
	background: #ffffff;
	padding: 30px 0px;
}
.step-section1 {
	background: #ffffff;
	padding: 30px 0px;
}

.step-shape {
	border-radius: 6px;
	background-color: #f9bb0b;
	text-align: center;
	font-weight: 800;
	font-size: 20px;
	color: #000000;
	padding: 12px 20px;
	display: inline-block;
	text-transform: uppercase;
}

.step-shape1 {
	background-color: #f40c28;
	text-align: center;
	color: #ffffff;
	padding: 5px 20px;
	display: inline-block;
}
.step-block{
    background-color: #fff;
    padding:20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    height: 100%;      
}
.border-line{
    border-bottom: dashed 1px #cacaca;
    width: 100%;
    margin-top: 5px;
}

@media (min-width:768px) {
	.step-section {
		padding: 100px 0px;
		background: #ffffff url(https://cdn.oppyo.com/launches/vidboxs/fe/step-section-bg.webp) no-repeat center center;
        background-attachment: fixed;
	}
    .step-section1 {
		padding: 100px 0px;
		background: #ffffff url(https://cdn.oppyo.com/launches/vidboxs/fe/step-section-bg.webp) no-repeat center center;
        background-size: cover;
	}

	.step-arrow1 {
		position: relative;
		bottom: -90px;
	}
}

ul.features-list {
	margin: 0px;
	padding: 0px;
}

ul.features-list li {
	background: url(https://cdn.oppyo.com/launches/vidboxs/fe/tick-icon.webp) no-repeat;
	padding: 0px 0px 20px 45px;
	background-position: 0px 3px;
	list-style: none;
    min-height: 30px;
}

ul.features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}

@media (max-width: 767px) {
	ul.features-list li {
		padding: 0px 5px 20px 40px;
		background-position: 4px 3px;
	}
}

/* Billion View Section */
.billion-section {
    background:#0e0319 url(https://cdn.oppyo.com/launches/vidboxs/fe/billion-bg.webp) center center no-repeat;
    background-size: cover;
	padding:30px 0px;
}

@media (min-width: 768px) {
	.billion-section {
		padding:100px 0px;
	}
    .f-md-120{
        font-size: 120px;
    }
}
/* Billion View Section End */

/* Proof Section */
.proof-section {
	background: #f1f1f1;
	padding:30px 0px;
}

@media (min-width: 768px) {
	.proof-section {
		padding:100px 0px;       
	}
}
/* Proof Section End */

/* POWER Section */
.power-section {
	background: #f1f1f1;
	padding:30px 0px;
}
.power-shape{
    padding: 15px;
    position: relative;
    background: #dddddd;
}

@media (min-width: 768px) {
	.power-section {
		padding:100px 0px;
        background: url(https://cdn.oppyo.com/launches/vidboxs/fe/power-section.webp) no-repeat center center;
        background-size: cover;
	}
    .pl-md130 {
        padding-left: 90px;
    }
    .power-shape{
        background:#f1f1f1 url(https://cdn.oppyo.com/launches/vidboxs/fe/power-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 15px 50px;
        position: relative;
    }
    .ryn-img{
        position: absolute;
        top: -122px;
        left: -90px;
    }
    .ryn-img1{
        position: absolute;
        top: -140px;
        right: -90px;
        left: auto;
    }
    .mt-md150{
        margin-top: 150px !important;
    }
}
/* POWER Section End */

/* Facts Bg Section */
.facts-bg{
	background: #ffffff;
	padding:30px 0px;
}
.skew-shape{
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/orange-shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding:15px;
    display: inline-block;
}
@media (min-width: 768px) {
	.facts-bg{
		padding:100px 0px;
        background: url(https://cdn.oppyo.com/launches/vidboxs/fe/facts-bg.webp) no-repeat center center;
        background-size: cover;
	}
    .skew-shape{
        padding: 30px 60px;
    }
}
/* Facts Bg Section End */

/* Hi Section */
.hi-section {
	background: #ffffff;
	padding:30px 0px;
}

@media (min-width: 768px) {
	.hi-section {
		padding:100px 0px;
        background: url(https://cdn.oppyo.com/launches/vidboxs/fe/hi-section.webp) no-repeat center center;
        background-size: cover;
	}
}
/* Hi Section End */


.affiliate-section {
    background-color: #f1f1f1;
    padding: 30px 0px;
}
@media (min-width: 768px){
.affiliate-section {
    padding: 100px 0px;
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/affiliate-section.webp) no-repeat center center;
    background-size: cover;
}
}

/* Demo section css*/
.demo-sec {
	background: #f1f1f1 url(https://cdn.oppyo.com/launches/vidboxs/fe/demo-sec-bg.webp) no-repeat center center;
	background-size: cover;
	padding:30px 0px;
}

@media (min-width: 768px) {
	.demo-sec {
		padding:80px 0px;
	}
}

/* Demo section css End*/




/* Option Section **/
.option-section {
	padding: 30px 0px;
	background-color: #ffdfdf;
}
ul.problem-list {
    margin: 0px;
    padding: 0px;
}
ul.problem-list li {
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/cross.png) no-repeat;
    padding: 0px 0px 20px 35px;
    background-position: 0px 4px;
    list-style: none;
}
.any-shape {
    background:#0f0f0f;
    border: solid 5px #c3c3c3;
    padding: 15px;
    border-radius: 15px;
}


@media (min-width:768px) {
	.option-section {
		padding: 100px 0px;
		background: #ffdfdf url(https://cdn.oppyo.com/launches/vidboxs/fe/one-bg.webp) center center no-repeat;
        background-attachment: fixed;
	}

    .any-shape {
        background:transparent url(https://cdn.oppyo.com/launches/vidboxs/fe/not-anymore.png) no-repeat;
        padding: 30px 50px 70px 50px;
        background-size: 100% 100%;
        display: inline-block;
        border:none;
    border-radius: 0px;
    }
}
/* Option Section End**/

/* Proudly Section */
.proudly-sec {
	background: #0f0f0f url(https://cdn.oppyo.com/launches/vidboxs/fe/proudly-bg.webp) center center no-repeat;
	background-size: cover;
	padding:30px 0px;
}

ul.proudly-list {
    margin: 0px;
    padding: 0px;
}
ul.proudly-list li {
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/icon.webp) no-repeat;
    padding: 0px 0px 25px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.proudly-list li:last-child {
    padding-bottom: 0px;
}
.proudly-list-bg {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
    padding: 15px;
}
@media (min-width:768px) {
	.proudly-sec {
		padding:80px 0px;
	}
    .proudly-list-bg {
        padding: 30px;
    }
}

/* Proudly Section End */

/*******Fartures Section ********/
.features-section-one {
    background: #a90c25;
    padding:30px 0px;
}
.white-feature{
    padding: 30px 0;
    background-color: #fff;
}
.feature-highlight {
    background: #f9bb0b;
    padding:15px;

}
.grey-section,
.grey-section1 {
    background: #f1f1f1;
    padding: 30px 0;
}
.license-section{
    background: #f1f1f1;
    padding: 30px 0;
}
@media (min-width: 768px) {
    .features-section-one {
        padding:70px 0px;
        background: #000f41 url(https://cdn.oppyo.com/launches/vidboxs/fe/feature-bg.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
    .feature-highlight {
        background: #f9bb0b;
        padding:50px 0px;

    }
    .white-feature{
        padding: 100px 0;
        background: #ffffff url(https://cdn.oppyo.com/launches/vidboxs/fe/feature-section.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .grey-section {
        padding: 100px 0;
        background: url(https://cdn.oppyo.com/launches/vidboxs/fe/commercial-license-bg.webp) center center no-repeat;
        background-size: cover;
    }
    .grey-section1 {
        background: #f1f1f1 url(https://cdn.oppyo.com/launches/vidboxs/fe/feature-bg1.webp) center center no-repeat;
        background-size: cover;
        padding: 100px 0;
    }
    .license-section {
        padding: 100px 0;
        background: url(https://cdn.oppyo.com/launches/vidboxs/fe/license-bg.webp) center center no-repeat;
        background-size: cover;
    }
}
/*******Fartures Section End ********/
/* Compare Table  Section */

.but-design-border {
    border: solid 1px #0f0f0f;
    position: relative;
    display: inline-flex;
    border-radius: 10px;
}
.button-shape {
    position: relative;
    background: #f9bb0b;
    padding:15px 8px;
    color: #0f0f0f;
    margin: -10px 10px 10px -10px;
    border-radius: 10px;
}
@media(min-width:768px){
    .button-shape {
        padding: 15px 30px;
    }
}

section.comp-table ul {
    list-style: none;
    padding: 0;
}

section.comp-table ul li {
    border-left: 1px solid rgb(226 226 226);
    border-right: 1px solid rgb(226 226 226);
    height: 60px;
    line-height: 60px;
    align-items: flex-start;
    align-content: center;
    padding: 0px 25px;
    justify-content: center;
}

@media (min-width:768px) {
    section.comp-table ul li {
        border-left: 1px solid rgb(226 226 226);
        border-right: 1px solid rgb(226 226 226);
        height: 90px;
        line-height: 90px;
        display: flex;
        align-items: flex-start;
        align-content: center;
        padding: 0px 20px;
        justify-content: start;
    }
}

section.comp-table ul li:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    font-weight: 600;
}

section.comp-table ul li:nth-child(odd) {
    background: #f1f1f1;
}

section.comp-table .fist-row li:first-child {
    border-top-right-radius: 0px;
    border-top: 1px solid rgb(226 226 226);
}

section.comp-table .third-row li:first-child {
    border-top-left-radius: 0px;
}

section.comp-table .fist-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

section.comp-table .second-row li:first-child {
    border-top: 1px solid rgb(226 226 226);
    height: 150px;
    text-align: center;
    align-items: center;
    background: #6e44ff;
}

section.comp-table .second-row li:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .third-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .forth-row li:last-child,
section.comp-table .fifth-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

section.comp-table .second-row li:last-child {
    border-bottom: 1px solid rgb(226 226 226);
    height: 50px;
}

section.comp-table .second-row {
    margin-top: -50px;
}

section.comp-table .second-row ul li {
    background: #202324;
}

section.comp-table .second-row ul li:nth-child(odd) {
    background: #0f0f0f;
}

section.comp-table .third-row li:first-child {
    align-items: center;
    border-top: 1px solid rgb(226 226 226);
}

section.comp-table .second-row ul li,
section.comp-table .third-row ul li,
section.comp-table .forth-row ul li,
section.comp-table .fifth-row ul li {
    justify-content: center;
    text-align: center;
}

@media (max-width:767px) {
    section.comp-table ul li {
        height: 100px;
        line-height: 22px;
        padding: 15px;
    }
    section.comp-table .second-row li:first-child svg {
        transform: rotate(90deg);
        height: 30px!important;
    }
    section.comp-table .third-row li:first-child span,
    section.comp-table .forth-row li:first-child span,
    section.comp-table .fifth-row li:first-child span {
        transform: rotate(90deg);
    }
    section.comp-table .second-row li:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

section.comp-table .second-row li:first-child {
    justify-content: center;
}

section.comp-table .third-row li:first-child {
    justify-content: center;
}

@media (min-width:768px) {
    section.comp-table ul li {
        align-items: center;
        justify-content: start;
        line-height: normal;
        flex-wrap: wrap;
        background: #ffffff;
    }
}

section.comp-table ul li span {
    padding-right: 10px;
    display: contents;
}

@media (max-width:767px) {
    section.comp-table .fist-row li:first-child,
    section.comp-table .third-row li:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.comp-table .second-row li:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    section.comp-table .second-row li:first-child svg {
        max-height: 22px!important;
        height: 30px!important;
    }
    section.comp-table ul li {
        height: 180px;
        line-height: 22px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.comparetable-section {
    padding: 30px 0px;
    background: #ffffff;
}

@media (min-width: 768px) {
    .comparetable-section {
        padding: 100px 0px;
        background: #fff url(https://cdn.oppyo.com/launches/vidboxs/fe/pricing-table-bg.webp) center center no-repeat;
		background-attachment: fixed;
    }
}

/* Compare Table Section End */

/* Silver Platter Section Start */
.silver-platter-section {
    background: #ffffff url(https://cdn.oppyo.com/launches/vidboxs/fe/silver-platter-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.huge-opportunity-shape {
    background: #eaebeb;
    border: 2px solid #dfdfdf;
    border-radius: 15px;
    padding: 15px 12px;
}

@media (min-width: 768px) {
    .silver-platter-section {
        padding: 80px 0px 100px 0px;
    }
    .huge-opportunity-shape {
        background: url(https://cdn.oppyo.com/launches/vidboxs/fe/huge-opportunity-shape.webp) no-repeat center center;
        background-size: 100% 100%;
        border: 0px;
        border-radius: 0px;
        padding: 45px 40px 50px;
    }
}
/* Silver Platter Section End */


/* Imagine Section Start */
.imagine-sec {
    background: #f1f1f1;
    padding: 30px 0px 0px 0px;
}
@media (min-width: 768px){
    .imagine-sec {
        padding: 80px 0px 0px 0px;
    }
}
/* Imagine Section End */

.targeted-section {
    background: #cdf9da;
    padding: 30px 0px;
}
@media (min-width: 768px){
.targeted-section {
    background: #cdf9da;
    padding: 100px 0px;
}
}
/* Need Section Start */
.need-marketing {
    background: #ffffff;
    padding: 30px 0px;
}
.noneed-listing li {
    list-style: none;
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/green-tick.webp) no-repeat;
    background-position: 0 4px;
    padding: 0 0 25px 40px;
    min-height: 42px;
}
.noneed-listing li:last-child {
    padding-bottom: 0px;
}
.look-shape {
    border-radius: 20px;
    padding: 20px 15px;
    color: #0f0f0f;
    width: 100%;
    float: left;
    background-color: #f9bb0b;
    /* box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%); */
}
@media (min-width: 768px){
.need-marketing {
    padding: 80px 0px;
}}
/* Need Section End */

/* Not Alone Section Start */

.wearenot-alone-section {
    background: #ffffff;
    padding: 0px 15px 30px 15px;
}

.alone-bg {
    background-color: #f1f1f1;
    box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.red-shape {
    background: #00aced;
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}

.red-shape:after {
    content: '';
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media(min-width:768px) {
    .wearenot-alone-section {
        background: #ffffff url(https://cdn.oppyo.com/launches/vidboxs/fe/wearenotalone-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 0px 0px 100px 0px;
    }
    .alone-bg {
        padding: 25px 30px 25px 10px;
    }
    .alone-bg:after {
        content: "";
        position: absolute;
        width: 87px;
        height: 49px;
        background-image: url(https://cdn.oppyo.com/launches/vidboxs/fe/arrow-down.webp);
        left: 44%;
        bottom: -49px;
    }
    .dollars-sm-image {
        width: 211px;
        min-width: 211px;
        height: 163px;
        margin-left: -120px;
        top: 0px;
        left: 0px;
    }
    .red-shape {
        padding: 10px 40px;
        border-radius: 50px;
    }
    .table-wrap1:before {
        left: 15px;
    }
}


/* Not Alone Section End */

/* Testimonial Section Start */

.testimonial-section {
    background: #fff;
    padding: 30px 0px;
}
.testi-block {
    position: relative;
    background: #ffffff;
    padding:15px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 0px rgb(88 85 92 / 30%);
    border-left: solid 5px #f40c28;
}
.quote1{
    position: relative;
    z-index: 0;
}
.quote1::before{
    position: absolute;
    content: '';
    left: -14px;
    top: -3px;
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/quote1.webp) no-repeat;
    min-width: 39px;
    min-height: 30px;
    z-index: -1;
}
.quote1::after{
    position: absolute;
    content: '';
    bottom: -2px;
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/quote2.webp) no-repeat;
    min-width: 39px;
    min-height: 30px;
    margin-right: 15px;
}
@media(min-width:768px) {
    .testimonial-section {
        padding: 70px 0px;
    }
    .testi-block {
        padding: 40px 25px; 
    }
}

/* Testimonial Section End */

/* Bonus Section */

.bonus-section {
    background: #ffffff;
    padding: 30px 0px;
}

.bonus-section-shape {
    position: relative;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    height: 100%;
}

@media (min-width: 768px) {
    .bonus-section {
        padding: 100px 0px;
        background:url(https://cdn.oppyo.com/launches/vidboxs/fe/bonus-section.webp) center bottom no-repeat;
        background-size: cover;
    }
    .bonus-section-shape {
        padding: 20px;
    }
}

/* Bonus Section End */


/* Risk Factor Section Start */

.riskfree-section {
    background: #0f0f0f;
    padding: 30px 0px;
}

@media(min-width:768px) {
    .riskfree-section {
        padding: 100px 0px;
        background: #ffffff url(https://cdn.oppyo.com/launches/vidboxs/fe/riskfree-bg.webp) no-repeat bottom center;
        background-size: cover;
    }
}

/* Risk Factor Section End */

/* Table Section Start*/

.table-section {
    background: #ffffff;
    padding: 30px 0px;
    color: #000000;
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
    background: #fff;
}

.table-head1 {
    padding: 40px 30px 30px 30px;
    text-align: center;
    background: #100f12;
}

.table-wrap1 {
    border-radius: 10px;
    background-color: #100f12;
    box-shadow: 0px 0px 22px 0px rgba(38, 23, 70, 0.4);
    width: 100%;
    float: left;
    position: relative;
}

.table-wrap1:before {
    content: '';
    position: absolute;
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/most-popular.webp) no-repeat left top;
    min-height: 165px;
    min-width: 153px;
    left: 15px;
    top: -10px;
}

@media(min-width:768px) {
    .table-wrap1:before {
        left: 45px;
    }
}

.table-list1 li {
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/table-tick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
}

.table-list1 li.headline {
    background: #f40c28 !important;
    padding: 20px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.table-list1 li:last-child {
    border-bottom: none;
}

.table-list1 li:nth-child(odd) {
    background: #fff url(https://cdn.oppyo.com/launches/vidboxs/fe/launch-tick-blue.webp) no-repeat;
    background-position: 15px 21px;
}

.table-list1 li:nth-child(even) {
    background: #f1f1f1 url(https://cdn.oppyo.com/launches/vidboxs/fe/launch-tick-blue.webp) no-repeat;
    background-position: 15px 21px;
}

@media (min-width:768px) {
    .table-section {
        padding: 100px 0px 100px 0px;
        background: #fff url(https://cdn.oppyo.com/launches/vidboxs/fe/pricing-table-bg.webp) center center no-repeat;
		background-attachment: fixed;
    }
    .table-head1 {
        padding: 60px 30px 60px 30px;
        text-align: center;
        border-radius: 10px 10px 0px 0px;
    }
    .table-list1 li {
        padding: 20px 15px 20px 65px;
    }
    .table-list1 li:nth-child(odd) {
        background: #fff url(https://cdn.oppyo.com/launches/vidboxs/fe/launch-tick-blue.webp) no-repeat;
        background-position: 16px 23px;
    }
    .table-list1 li:nth-child(even) {
        background: #f1f1f1 url(https://cdn.oppyo.com/launches/vidboxs/fe/launch-tick-blue.webp) no-repeat;
        background-position: 16px 23px;
    }
}

/* Table Section End*/

/*********** Awesome Section *********/

.awesome-section {
    background: #f1f1f1;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .awesome-section {
        background: url(https://cdn.oppyo.com/launches/vidboxs/fe/awesome-section.webp) center center no-repeat;
        padding: 100px 0px;
        background-attachment: fixed;
    }
}

/*********** Awesome Section *********/

/***********FAQ Section***************/

.faq-section {
    padding: 30px 0px;
    background-color: #fff;
}

.faq-list {
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/faq-icon.webp) no-repeat top left;
    padding: 20px 15px 20px 35px;
    background-position: 0px 27px;
}

@media (min-width: 768px) {
    .faq-section {
        padding: 100px 0px;
    }
}

/***********FAQ Section End***************/

/***********Final Section***************/

.final-section {
    padding: 30px 0;
    background: #0f0f0f url(https://cdn.oppyo.com/launches/vidboxs/fe/billion-bg.webp) no-repeat center center;
    background-size: cover;
}

.per-shape {
    background: url(https://cdn.oppyo.com/launches/vidboxs/fe/presenting-shape.webp) center center no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 20px 55px 30px 55px;
}

@media (min-width: 768px) {
    .final-section {    
        padding: 80px 0 50px 0px;
    }
}

/***********Final Section End***************/

/****Footer Section ********/

.footer-section {
    background: #100f12;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
    color: #ffffff;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px
    }
}

/****Footer Section ********/
