html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

.black-clr {
    color: #000000;
}

.white-clr {
    color: #ffffff;
}

.black-clr1 {
    color: #010101;
}

.orange-clr {
    color: #fb954a;
}

.text-shadow {
    text-align: center;
    text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-section {
    background: #682af1 url(https://cdn.oppyo.com/launches/webpull/reseller/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0;
    position: relative;
}

.pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: #101012;
    outline: none;
    border-color: #682af1;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .header-section {
        padding: 40px 0px 100px 0px;
    }
    .pre-heading {
        padding: 15px 30px;
        border-radius: 100px;
    }
}

.probtn1 a {
    border-radius: 100px;
    background-image: -moz-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -webkit-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    background-image: -ms-linear-gradient(-45deg, rgb(255, 103, 28) 0%, rgb(253, 139, 37) 69%);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 600;
    width: 100%;
    line-height: 140%;
}

.probtn1 a:hover {
    background: linear-gradient(90deg, rgba(253, 139, 37, 1) 0%, rgba(255, 103, 28, 1) 100%);
    text-decoration: none;
    transform: scale(1.03);
}

@media (min-width: 768px) {
    .probtn1 a {
        padding: 28px 30px;
    }
}

.second-sec {
    padding: 30px 0;
}

@media (min-width: 768px) {
    .second-sec {
        padding: 100px 0px;
        /* background: url(https://cdn.oppyo.com/launches/webpull/reseller/white-section-bg.webp) no-repeat;
		background-size: cover;
		background-position: center; */
    }
}

.grey-section {
    background: #f3ebff;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .grey-section {
        padding: 100px 0;
    }
}

ul.bigboxes {
    margin: 0px;
    padding: 0px;
}

.bigboxes li {
    background: url(https://cdn.oppyo.com/launches/webpull/reseller/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 10px;
}

ul.bigboxes1 {
    margin: 0px;
    padding: 0px;
}

.bigboxes1 li {
    background: url(https://cdn.oppyo.com/launches/webpull/reseller/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
    margin-bottom: 20px;
}

.boxes {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
}

@media (min-width: 768px) {
    .boxes {
        padding: 50px;
    }
}

.fifth-section {
    background: #210764;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .fifth-section {
        background: #210764 url(https://cdn.oppyo.com/launches/webpull/reseller/proudlybg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0;
    }
}

.table-section {
    background: #ffffff;
    padding: 30px 0px;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #b6b3bc;
}

.tbbg2 {
    background: url(https://cdn.oppyo.com/launches/webpull/reseller/start-plan-bg.png) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #b6b3bc;
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.tablebox3 {
    background: #1c098e;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    position: relative;
}

.tbbg3 {
    background-image: -moz-linear-gradient( 78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -webkit-linear-gradient( 78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    background-image: -ms-linear-gradient( 78deg, rgb(18, 7, 45) 0%, rgb(34, 7, 105) 100%);
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #4600a2;
}

.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
    border: solid 1px #eef1f9;
}

@media (min-width: 768px) {
    .table-section {
        padding: 100px 0;
        background: url(https://cdn.oppyo.com/launches/webpull/reseller/table-bg.webp) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .tbbg2 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .myfeatureslast {
        padding: 30px 20px;
    }
    .tbbg3 {
        padding: 80px 30px 80px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    color: #682af1;
    text-decoration: none;
}

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}