html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #08041e;
    font-size: 14px;
	    overflow-x: hidden;
}
.caveat {
    font-family: 'Caveat', cursive;
}
/* --- Global Css Start--- */
.min-md-video-width-left img{border: 2px solid #fff; border-radius: 15px;}
.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}
.orange-clr{
    color: #f6841f;
}
.neon-clr {
    color: #00CBE3;
}
.play {
    font-family: 'Play', sans-serif;
}
.neon-clr {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .preheadline {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
} */
.preheadline {
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 10px;
    border: 1px dashed rgba(255, 255, 255, 0.50);
    background: #0B122F;
    padding: 10px;
}
.gametext {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    /* top: -6px; */
    z-index: 99;
    line-height: 30px;
    /* left: 12px; */
    border-radius: 0px 40px;
    top: -20px;
    left: 40px;
}
.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 50px 20px 20px 20px;
    border-radius: 0px 50px;
}
.ved_search_box {
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 100%;
}
.ved_search_box .ved_search_placeholders {
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    pointer-events: none;
    animation: text 5s ease 3s infinite normal none;
}
.blue-gradient {
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes text{
0% {
    transform: translateY(0px);
}

17% {
    transform: translateY(0px);
}
33% {
    transform: translateY(-60px);
}
50% {
    transform: translateY(-60px);
}
66% {
    transform: translateY(-116px);
}
83% {
    transform: translateY(-116px);
}
100% {
    transform: translateY(-175px);
}
}
@media (min-width: 768px){
    .postheadline {
        padding: 10px 35px;
    }
    .preheadline{
        padding: 9px 20px;
    }
    .preheadline::after {
        position: absolute;
        right: -86px;
        top: -31px;
        content: url(../images/pre-shape-ai.webp);
    }
    .mainheadline {
        background: url(../images/heading-design.webp) center center no-repeat;
        background-size: 100% 100%;
        padding: 35px 45px 40px 45px;
        left: -5px;
        border-radius: 0px;
    }
    .ved_search_box {
        position: relative;
        overflow: hidden;
        height: 60px;
        width: 250px;
        text-align: start;
        margin-left: 12px;
        bottom: -3px;
    }
    .gametext {
        padding: 6px 30px 6px 40px;
        border-radius: 0px 40px;
        top: -20px;
        left: 40px;
    }
}
.d-inline-flex {
    display: inline-flex;
}
.relative {
    position: relative;
}
@media (max-width: 767px) {
    .mx-xs-auto,
    .mx-xs-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .xstext-center {
        text-align: center;
    }
}
/* --- Global Css End--- */
/* --- Header Section Start --- */

@media(max-width:767px){
   
    .proudly-head{
        display: inline-block;
        background: transparent;
        padding: 15px 15px;
        border-radius: 48px;
        border: 1px solid #B956FF;
    }
    /* .preheadline{
        display: inline-block;
        background:transparent;
        padding:15px ;
        border-radius: 10px;
        border: 1px solid #B956FF;
    } */
}
.header-section {
    background: #0d0238;
    padding: 30px 0px;
}
.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}
/* .mainheadline {
    display: inline-block;
    border-radius: 40px;
    background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
    padding:1px ;
    border-radius: 18px;

}
.mainheadline > div {
    background-color: #150a41;
    padding: 65px 12px 15px;
    border-radius: 20px;
} */
.affiliate-link-btn a {
    border-radius: 10px;
    background: linear-gradient(90deg, #22D2EE -0.02%, #1C97F4 100.02%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 10px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
}
.affiliate-link-btn a:hover {
    transition: all .3s ease;
    background: linear-gradient(90deg, #1C97F4 0%, #22D2EE 100%);
}
.calendar-wrap {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.calendar-wrap-inline {
    border-width: 1px;
    border-color: rgb(11, 11, 49);
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #08041e;
}
.boost-business {
    padding: 30px 0px;
    background: #fff;
}
.boost-head {
    background: url(../images/boost-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 9px 15px;
    display: inline-block;
}
.feature-list {
    padding: 15px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #F0F9FF;
    border-bottom: 3px solid #22D2EE;
    transition: 0.4s;
}
.feature-list:hover {
    transform: translate(0, -6px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
@media(min-width:768px){
    .header-section {
        background: #0d0238 url(../images/header-bg.webp);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 40px 0px 120px;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }
    .affiliate-link-btn a {
        padding: 15px 20px;
        font-size: 20px;
    }
  
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
    .boost-business {
        padding: 100px 0px;
        background: url(../images/boost-business-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .boost-head {
        position: relative;
        padding: 18px 65px;
    }
    .boost-head::before {
        position: absolute;
        content: url('../images/rocket.webp');
        bottom: 0px;
        left: 0px;
    }
    .feature-list {
        height: 100%;
        padding: 30px 20px;
    }
    .mt-md0 {
        margin-top: 0!important;
    }
    .mt-sm0 {
        margin-top: 0!important;
    }
    /* .mainheadline {
        padding: 30px;
        background: url(../images/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 90px 15px 50px 15px;
    }
    .mainheadline > div {
        background-color: transparent;
        padding: 15px 25px;
        border-radius: 0px;
    } */
    /* .preheadline{
        display: inline-block;
        border-radius: 40px;
        background-image: linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
        padding:2px;
        border-radius: 48px;
    
    }
    .preheadline-content{
        background-color: #150a41;
        text-align: justify;
        padding: 15px 25px;
        border-radius: 48px;
    } */
    .underline-text {
        background: url(../images/underline-orange.webp) no-repeat center center;
        padding: 0px 0px 65px 0px;
        background-size: contain;
    }   
}
/* --- Header Section End --- */
/* --- Second Section Start --- */
.second-section {
    background: url(../images/second-section.webp) no-repeat center center;
    background-size: cover;
    padding: 0px 0px 30px;
}
ul.features-list {
    margin: 0px;
    padding: 0px;
}
ul.features-list li {
    background: url(../images/tick-icon.webp) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}
ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}
@media (min-width:768px) {
    .second-section {
        padding: 0px 0px 100px;
    }
}
/* --- Second Section End --- */
/* --- Form Style Start --- */
.formbg {
    padding: 15px;
    background: #040b18;
    border-radius: 10px;
}
.width-form {
    width: 100%;
    float: left;
    padding: 0px 0px;
}
@media (min-width: 768px) {
    .formbg {
        padding: 40px 30px 20px 30px;
        background: url(../images/form-bg.webp) no-repeat;
        background-size: 100% 100%;
         border-radius: 10px;
    }
    .width-form {
        width: 33%;
        padding: 0px 5px !important;
    }
}
.register-btn1 input[type="submit"] {
    border-radius: 10px;
    background-color: #0068FF;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 21px;
    color: #ffffff !important;
    font-weight: 700;
    width: 100%;
    border: none;
    height: 60px;
    outline: none;
    white-space: normal;
}
/* --- Form Style End --- */
/* --- Footer Section Start --- */
.footer-section {
    background: #05071A;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}
.footer-ul li {
    display: inline;
}
@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}
/* --- Footer Section End --- */
