html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #121733;
    font-size: 14px;
}
html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
}
.white-clr {
    color: #fff;
}
.black-clr {
    color: #08041e;
}

.orange-clr1 {
    color: #E76D24;
}
.orange-clr2 {
    color:#F19B10;
}
.orange-clr3 {
    color: #F2A736;
}
.yellow-clr{
    color:#F19B10
}
.purple-clr {
    color: #b052ff;
}
.neon-clr {
    color: #00CBE3;
}
.black-clr1 {
    color: #05071A;
    opacity: 0.5;
}

.bonus-mainheadline {
    border-radius: 26px;
    background-color: rgba(255, 255, 255, 0.25);
    position: relative;
    z-index: 9;
    left: -5px;
    top: -5px;
    padding: 20px 10px;
}
@media(max-width:767px){
    
    .preheadline {
        display: inline-block;
        background: transparent;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #B956FF;
    }
}
.preheadline > span {
    background-color: transparent;
    text-align: justify;
    padding: 0;
    border-radius: 0;
}
.head-design {
    background: #FFFFFF;
    padding: 15px;
}

.underline-text {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}
.mainheadline > div {
    /* padding: 65px 25px 15px; */
    padding: 15px;
    border-radius: 20px;
}
.legalsutes-4{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/bonus-4.webp) no-repeat bottom center;
    background-size: cover;
    padding: 30px 0px;
    background-attachment: fixed;
    animation: shrink 5s infinite alternate;
    position: relative;
}

.legalsutes-4 .leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.legalsutes-4 .leader-ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-weight: 400;
}
a.resto-btn{
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff !important;
    font-weight: 600;
    transition: all .3s ease;
    background: #F2A737;
    border-radius: 15px;
}
.bonus-preheadline {
    display: inline-block;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: solid 2px rgba(255, 255, 255, 0.25);
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.key-features-bg-bonus {
    padding: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 15px;
}
.ele2 {
    position: absolute;
    top: 400px;
    right: 20px;
    animation: 2s ease-in-out 0s infinite alternate none running mover1;
}
a.cta-link-btn {
    transition: all .3s ease;
    border-radius: 15px;
    background: #F2A737;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}
.bonus-mainheadline::before {
    content: '';
    border-radius: 26px;
    background-color: rgb(37 37 37);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 5px;
    top: 5px;
}
.key-features-bg-bonus .list-head li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/s-orange-tick.webp) no-repeat;
    padding: 10px 0px 10px 35px;
    background-position: 0px 13px;
    text-align: left;
    border-bottom: solid 1px #252525;
    list-style-type: none;
}
.bonus-5-pre-heading
{
    position: relative;
    padding: 10px 5px;
    display: inline-block;
    color: #f7d309;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    transform: skew(-10deg);
}
.list-head1 li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/neon-white-tick.webp) no-repeat;
    padding: 15px 0px 15px 35px;
    background-position: 0px 21px;
    text-align: left;
}
.key-features-bg1 {
    padding: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,0.30);
    border-radius: 15px;
}
.list-head1-bonus-5 li{
    list-style: none;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/launch-tick-green1.png) no-repeat;
    padding: 10px 0px 10px 30px;
    background-position: 0px 14px;
    text-align: left;
    border-bottom: solid 1px #080038;
}
.legalsutes-4 .gametext {
    background: #fdbe39;
    padding: 4px 18px;
    border-radius: 15px 15px 0px 0px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}
.bx-wrapper {
	border: 0px !important;
	background:transparent !important;
	box-shadow:none !important;
	padding: 0 !important;
	margin: 0 !important;	
	position:relative;
    max-width: auto !important;
	
}
.bx-viewport{position:relative !important;}
.bxslider {
  background:transparent !important;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0px !important;
  font-weight:600;
  position:relative;
}
.bxslider li{
    display: inline-flex;
    /*justify-content: center;*/
    align-items: center;
	min-height:76px;
	line-height:32px;
	text-align:left;
    
}

.bxslider li .text{margin-left:15px;}
.text-clr1{color:#fff;}
.text-clr2{color:#fff;}
.text-clr3{color:#fff;}
.text-clr4{color:#fff;}
.slider-wall{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/typing-bg.webp) no-repeat center center;
    background-size: 100% 100%;
}
@media (min-width: 768px){
.mavas-desktop {
    white-space: nowrap !important;
}
}
.list-head li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-tick.webp) no-repeat;
    padding: 15px 0px 15px 35px;
    background-position: 0px 21px;
    text-align: left;
    border-bottom: solid 1px rgba(255, 255, 255, 0.10);
}
@media(min-width:768px){
    .bonus-5-pre-heading
    {
        position: relative;
    padding: 15px 20px;
    }
    .bonus-5-section{
        background:url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/header-bg-trendio.png) no-repeat center center;
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .legalsutes-4 {
        padding: 40px 0px 100px 0px;
    }
    a.cta-link-btn {
        font-size: 38px;
        padding: 28px 60px;
        display: inline-block;
        width: auto;
        border-radius: 100px;
    }
    .gameimg {
        position: absolute;
        top: -61px;
        z-index: 9999;
        left: -8px;
    }
    .legalsutes-4 .leader-ul li {
        display: inline-block;
        padding: 0px 15px;
        font-weight: 400;
        color: #ffffff;
    }
    .resto-btn{
        padding: 15px 20px;
        font-size: 20px;
    }    
    .mainheadline > div {
        background-color: transparent;
        padding: 15px 25px;
        border-radius: 0px;
    }
    .preheadline {
        display: inline-block;
        border-radius: 40px;
        background-image: linear-gradient(to right, #ca17c3 0%, #00daf8 100%);
        padding: 18px 2px 16px;
    }
    .preheadline > span {
        background-color: #150a41;
        text-align: justify;
        padding: 15px 25px;
        border-radius: 40px;
    }
    .head-design {
        padding: 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/headline-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .gametext {
        font-size: 22px;
    }
    .head-design {
        padding: 30px;
    }
    .underline-text {
        padding: 0px 0px 65px 0px;
    }
    .affiliate-link-btn {
		padding: 15px 20px;
        font-size: 20px;
	}
}
.main-header .list-head li:last-child {
    border-bottom: none;
}
/* .main-header .list-head li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/list-tick.webp) no-repeat;
    padding: 5px 0px 12px 30px;
    background-position: 0px 9px;
    text-align: left;
    border-bottom: solid 1px #091e42;
} */
.list-head {
    list-style: none;
}
.list-head li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-tick.webp) no-repeat;
    padding: 8px 0px 8px 30px;
    background-position: 0px 11px;
    text-align: left;
    border-bottom: solid 1px rgb(11, 11, 49);
}
/* Header Section Css End */
ul.features-list {
    margin: 0px;
    padding: 0px;
}
.jobiin-header-section ul.features-list li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/list-head.png) no-repeat;
    padding: 0px 0px 25px 40px;
    background-position: 0px 5px;
    list-style: none;
}
.second-section{
	padding: 30px 0px;
}
.feature-list {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/fav1.webp) no-repeat;
    background-position: 0px 4px;
    padding: 0px 0px 15px 40px;
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.second-sec-list{
	border-top: 0px !important;
	border:2px solid #00a4ff;
    padding: 100px 50px 50px 50px;
    border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.purple-gradient {
    background: linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.step-sec-wall{
    padding: 20px;
    text-align: center;
    position: relative;
}
.border-right{
    border-right: 1px solid rgba(255, 255, 255, 0.20);
}
@media(max-width:768px){
    .step-sec-wall::before{
        content: "";
        background: linear-gradient(90deg, #CE18C5 -0.01%, #0085FF 100.47%);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.1;
        z-index: 0;
    }
}
@media(min-width:768px){
    .step-sec-wall{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/step-sec-border.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 50px 27px;
    }
	.second-section{
		padding:0px 0px 80px 0px;
	}
}

/* List Section Start */
.list-section {
    padding: 30px 0px;
    background: #f1f1fa;
}
ul.features-list li {
    background: url(https://cdn.oppyo.com/launches/yodrive/special/list-tick.webp) no-repeat;
    padding: 0px 0px 25px 40px;
    background-position: 0px 5px;
    list-style: none;
}
.step-section {
    padding: 30px 0px;
    background: url(https://cdn.oppyo.com/launches/yodrive/special/step-section.webp) center center;
    background-size: cover;
}
.step-box {
    padding: 0px 20px 30px 20px;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(32, 41, 59, 0.1);
    height: 100%;
}
.step-arrow {
    position: absolute;
    right: -50px;
    top: 45%;
    z-index: 9;
}
.step-title {
    background-color: rgb(255, 195, 50);
    padding: 9px 30px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    margin-left: -20px;
}
.step-icon {
    border-radius: 20px;
    background: #e6e8ec;
    min-width: 100px;
    min-height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
@media(min-width:768px){
    .list-section {
        padding: 100px 0px 150px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/list-section-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .step-section {
        padding: 100px 0px;
    }

}
/* Proof Section Start */
.proof-section {
    padding: 30px 0px;
    background: #efeff9;
}
.but-design {
    background: #121733;
    border-radius: 20px;
    padding: 10px 15px;
    display: inline-block;
}
.st-img {
    display: inline-block;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 20px 30px 0px rgb(8 18 82 / 20%);
}
.single-testimonial {
    background-color: #efeff9;
    text-align: center;
    position: relative;
    z-index: 2;
    border: 2px solid rgb(209 184 237);
    border-radius: 10px;
    padding: 20px 10px;
}
.stars a {
    padding-right: 8px;
    color: #FFC635;
}
.stars a i {
    font-size: 20px;
}
@media (min-width: 768px) {
    .proof-section {
        padding: 150px 0px 100px 0px;
        background: #fff url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/proof-bg.webp) center top no-repeat;
        background-size: cover;
    }
    .reliable-sec {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/technology-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 80px 50px;
    }
    .but-design {
        border-radius: 50px;
        padding: 10px 30px;
    }
    .st-img {
        margin-top: -150px;
    }
    .single-testimonial {
        border-radius: 30px;
        padding: 50px;
        height: 100%;
    }
}
/* Proof Section End */


 /* Technology-section */
 .technology-sec{
    padding: 30px 0px; 
    background-color: #14208e;
    
}
@media(min-width:768px){
    .technology-sec{
		padding: 100px 0px 50px 0px;
        background:#fff url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/technology-bg.webp) no-repeat bottom center; 
        background-size: cover;         
    }
}
/* Technology-Section-End */



/* Letsface Section Start */
.letsface-sec{
    padding: 30px 0px; 
    background:#fff url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/letsface-bg.webp) no-repeat center center; 
    background-size: cover; 
}

.letsface-box{
    border-radius: 10px;
    background-color:#e7e9fa;
    display:inline-flex;
    padding: 30px 20px;
    position: relative;
    z-index: 1;
	flex-direction: row;
	margin-top: 20px;
	gap: 20px;
	text-align: left;
	align-items: center;
    
}
@media(min-width:768px){
    .letsface-sec{
        padding: 0px 0px 100px 0px;
    }
    .letsface-box {
		width: 100%;
    }
}
 /* Letsface Section End */

 /* Old & Boring Content Section Start */
 .old-content-section
 {
	background: #01010e;
	padding: 30px 0px;
 }
 .old-content-box{
	border-radius: 20px;
	background-color: rgb(255, 196, 102);
	display: inline-block;
	padding: 20px;
	position: relative;
}

.old-content-box::after{
	content: '';
	background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/content-curve.webp) no-repeat right bottom;
	padding: 22px 0;
	display: block;
	position: absolute;
	width: 100%;
	bottom: -44px;
	right: 102px;
}

.old-headline{
	border: 1px solid rgb(22, 22, 88);
	border-radius: 10px;
	background-color: rgba(15, 15, 83, 0.2);
	display: inline-block;
	padding: 15px;  
}
 @media(min-width:768px){
	.old-content-section{
		background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/old-boring-bg.webp) no-repeat bottom center;
		background-size: cover;
		padding: 100px 0px 180px 0px;
	}
	.old-content-box{padding: 50px;}
 }

 /* Old & Boring Content Section End */

 /* Business Section Start */
.business-section
{
	background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/business-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}
.reason-box{
	border: 1px solid rgb(80, 84, 189);
	border-radius: 50px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 29px 0px rgba(4, 4, 17, 0.2);
	display: inline-block; 
	padding: 20px 30px;
  }

  .billion-content{
	border: 1px solid rgb(15, 15, 83);
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	display: inline-block;
	padding: 20px 30px;
  }
@media(min-width:768px){
	.business-section{
		padding: 20px 0px 100px 0px;
	 }
}

 /* Business Section End */

/* Not Alone Section Start */

.wearenot-alone-section {
	background: #ffffff;
	padding: 0px 0px 30px 0px;
}

.alone-bg {
	background-color: #010110;
	box-shadow: 5.592px 8.29px 12px 0px rgba(33, 2, 96, 0.1);
	border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	padding: 10px;
	position: relative;
}

.title-shape {
    background-image: -moz-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(3,3,49) 0%, rgb(40,42,137) 100%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    position: relative;
}
.title-shape:after {
    content: '';
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/line-shape.webp) no-repeat right bottom;
    padding: 22px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: -15px;
}

@media (min-width:768px) {
	.wearenot-alone-section {
		background: #ffffff url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/wearenotalone-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 0px 0px 100px 0px;
	}

	.alone-bg {
		padding: 25px 30px 25px 10px;
	}

	.alone-bg:after {
		content: "";
		position: absolute;
		width: 87px;
		height: 49px;
		background-image: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/arrow-down.webp);
		left: 44%;
		bottom: -49px;
	}

	.dollars-sm-image {
		width: 211px;
		min-width: 211px;
		height: 163px;
		margin-left: -120px !important;
		top: 0px;
		left: 0px;
	}

	.title-shape{padding: 20px 25px;}
}

/* Not Alone Section End */

/* Potential Section Start */

.potential-sec {
	background-color: #e7e9fa;
	padding: 30px 0px ;
}

.list-shape {
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

@media (min-width:768px) {
	.potential-sec {
		background: #e7e9fa url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/potential-bg.webp) no-repeat bottom center;
		padding: 100px 0px 50px 0px;
	}
}

/* Potential Section End */



/* Proudly there Section Start */
.proudly-sec {
    background: #ffffff url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/proudly-bg.webp) bottom center no-repeat;
    background-size: cover;
    padding:30px 0px 60px 0px;
}
.proudly-list-bg {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(22 24 94 / 40%);
    padding: 15px;
}
ul.proudly-list {
    margin: 0px;
    padding: 0px;
}
ul.proudly-list li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/check.webp) no-repeat;
    padding: 0px 0px 25px 45px;
    background-position: 0px 4px;
    list-style: none;
}

ul.proudly-list li:last-child {
    padding-bottom: 0px;
}
.intro-title {
    display: inline-block;
    padding: 27px 50px 25px 86px;
    position: relative;
    z-index: 1;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/intro-title.webp) center center no-repeat;
    background-size: cover;
    align-items: center;
}
.proudly-head {
    background: #F19B10;
    border-radius: 40px;
    padding: 9px 15px;
    display: inline-block;
}
.proudly-box {
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
}
.caveat {
    font-family: 'Caveat', cursive;
}
@media (min-width: 768px){
.proudly-sec {   
    padding:80px 0px 150px 0px;
}
.proudly-list-bg {
	padding: 30px;
}
.intro-title {
    padding: 35px 60px 35px 120px;
}
.proudly-head {
    padding: 9px 50px;
}
.proudly-box {
    padding: 30px;
}
}
/* Proudly Section End */


/* Testimonals Section Start */
.testimonial-section {
	background:url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/testimonial-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 30px 0px;
	position: relative;
	z-index: 9;
}

.testimonial-section2 {
	background:#eef5ff;
	padding: 30px 0px;
}
.testimonials-block-border {
    border: solid 1px #121457;
    position: relative;
    float: left;
    width: 100%;
    margin: 10px 10px 10px 5px;
}
.testimonials-block {
    position: relative;
    background: #eef5ff;
    padding: 30px 20px;
    float: left;
    width: 100%;
    color: #000000;
    margin: 10px 0px 10px -12px;
}
.testimonial-section2 .testimonials-block{
	background: #fff !important;

}
.author-wrap {
    display: flex;
    align-items: center;
}
.mt-md120 {
    margin-top: 20px;
}
@media (min-width:768px) {
	.testimonial-section2 {
		padding: 100px 0px;
		background:#eef5ff url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/testimonial-bg.webp) no-repeat center center;
		background-size: cover;
	}

	.testimonial-section {
		padding:100px 0px;
	}
	.testimonials-block-border {
		margin: 10px 10px 10px 15px;
	}
    .mt-md120 {
        margin-top: 120px;
    }
}

/* Viddeyo Header Section Css Start */
.viddeyo-header-section {
	background: #6e44ff;
	padding: 30px 0px 230px 0px;
}
.viddeyo-preheadline {
    border-style: solid;
    border-width: 6px;
    border-color: #603ddb;
    background: #08041e;
    display: inline-block;
    border-radius: 65px;
    padding: 10px 35px;
}
span.highlight-viddeyo {
    border-bottom: solid 4px #fc6dab;
}

@media (min-width:768px) {
	.viddeyo-header-section {
		background: #6e44ff url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/header-bg-viddeyo.webp);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 40px 0px 280px 0px;
	}
    .viddeyo-header-section .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
    .viddeyo-header-section .calendar-wrap {
        border-radius: 15px;
        background-color: rgb(240, 236, 255);
        padding: 10px;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    .viddeyo-header-section .calendar-wrap:before {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve1.webp) no-repeat;
        position: absolute;
        z-index: 1;
        top: -14px;
        left: -18px;
        background-size: contain;
        width: 161px;
        height: 121px;
        z-index: -1;
    }
    .viddeyo-header-section .calendar-wrap-inline {
        border-width: 1px;
        border-color: rgb(11, 11, 49);
        border-style: solid;
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        color: #08041e;
    }
    .viddeyo-header-section .calendar-wrap:after {
        content: '';
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/curve2.webp) no-repeat;
        position: absolute;
        z-index: 1;
        right: -18px;
        bottom: -10px;
        background-size: contain;
        width: 282px;
        height: 38px;
        z-index: -1;
    }
    .viddeyo-header-section .list-head {
        list-style: none;
    }
    .viddeyo-header-section  .list-head li:first-child {
        padding-top: 0px;
    }
    .viddeyo-header-section  .list-head li {
        background: url(https://cdn.oppyo.com/launches/viddeyo/special/list-tick.webp) no-repeat;
        padding: 8px 0px 8px 30px;
        background-position: 0px 11px;
        text-align: left;
        border-bottom: solid 1px rgb(11, 11, 49);
    }
}
/* Header Section Css End */
.viddeyo-second-section {
	padding:0px 0px 30px 0px;
}
ul.viddeyo-features-list {
	margin:0px;
	padding:0px;
}
ul.viddeyo-features-list li {
	background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/green-tick.webp) no-repeat;
	padding: 0px 0px 20px 45px;
	background-position: 0px 3px;
	list-style:none;
}
ul.viddeyo-features-list li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}
.viddeyo-header-list-block {
	border-radius: 20px;
	padding: 40px 20px;
	box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
	margin-top: -200px;
	background:url(https://cdn.oppyo.com/launches/viddeyo/jv/awesome-shape.png) no-repeat center center;
	background-size:cover;
	
}
/* Viddeyo Header Section Css End */





/* Affiliate Ninja Pro Header Section Css Start */
.AffiliateNinjaPro-banner{
   background:url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/affiliateninjapro-bg.webp) #0570fb no-repeat; 
   background-size:cover;
   width:100%;
   background-position:center;
   }

@media(min-width:240px){
	.AffiliateNinjaPro-banner{padding:3% 2% 6%;}
}
@media(min-width:768px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
	.banner-block{padding:1% 3% 3%;}
}
@media(min-width:992px){
	.AffiliateNinjaPro-banner{padding:8% 2% 6%;}
}
@media(min-width:1200px){
	.AffiliateNinjaPro-banner{padding:2% 2% 6%;}
}
@media(min-width:1500px){
	.AffiliateNinjaPro-banner{padding:6% 2% 7%;}
	.banner-block{padding:2% 3% 3%;}
}
.lightcolor {
    color: #ffea00;
}

/* Affiliate Ninja Pro Header Section Css End */

@media(min-width:768px){
.px-md80{padding-left: 80px!important; padding-right: 80px !important;}
}

/* Jobin Header Section Css Start */

.jobiin-header-section {
    background: #141516 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/header-bg-jobin.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 230px 0px;
    position: relative;
}
.jobiin-header-section .orange-clr {
    color: #ffb80f;
}
@media(min-width:768px) {
    .jobiin-header-section {
        padding: 40px 0px 250px 0px;
    }
}

.jobiin-header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.jobiin-header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.jobiin-header-section a.affiliate-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    line-height: normal;
    color: #000000;
    font-weight: 600;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
}

.jobiin-header-section a.affiliate-link-btn:hover {
    transform: scale(1.05);
    transition: all .3s ease;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #c4a300;
    }
    40% {
        box-shadow: 0 0 20px #c4a300;
    }
    60% {
        box-shadow: 0 0 20px #c4a300;
    }
    100% {
        box-shadow: 0 0 -10px #c4a300;
    }
}

@media(min-width:768px) {
    .jobiin-header-section a.affiliate-link-btn {
        padding: 10px 20px;
        font-size: 22px;
    }
}

.jobiin-header-section .headline-highlight {
    color: #ffb80f;
}

@media (min-width: 768px) {
    .jobiin-header-section .headline-highlight {
        background: url(https://cdn.oppyo.com/launches/jobiin/special/heading-shape.svg) no-repeat center center;
        background-size: cover;
        display: inline-block;
        color: #000000;
        padding: 8px 53px 8px 26px;
    }
}


.jobiin-second-section {
    padding: 0px 0px 30px 0px;
}

@media(min-width:768px) {
    .jobiin-second-section {
        padding: 0px 0px 100px 0px;
    }
}

.z-index-9 {
    z-index: 9;
}

.jobiin-header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin-top: -200px;
    background: #ffffff;
}

@media(min-width:768px) {
    .jobiin-header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    }
}

.jobiin-cta-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 5px;
    color: #000000;
    font-weight: 800;
    font-size: 20px;
    line-height: normal;
    white-space: normal;
    align-items: center;
    border-radius: 65px;
    background-color: #ffb80f;
    transition: all .3s ease;
    animation: glowing 5000ms infinite;
    transition: all 0.5s;
}

.jobiin-cta-btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

@media(min-width:768px) {
    .jobiin-cta-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
        display: inline-block;
    }
}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate none running mover2;
}
@-webkit-keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
.viddeyo-header-section .border-video {
    border-radius: 20px;
}
.viddeyo-header-section .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.calendar-wrap {
    border-radius: 15px;
    background-color: #060a33;
    padding: 12px 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.typing-text {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/typing-text-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 15px 30px;
}
.typing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
#typing::after {
    content: '|';
    position: relative;
    right: 0;
    animation: blink 1s step-end infinite;
}
.list-head1 {
    list-style: none;
}
.list-head1 li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/neon-white-tick.webp) no-repeat;
    padding: 15px 0px 15px 35px;
    background-position: 0px 21px;
    text-align: left;
}
.second-section {
    background: #F4F0F9;
    padding: 30px 0 30px 0px;
}
.step-section {
    background: #F4F0F9;
    padding: 30px 0 30px 0px;
}
.key-features-bg {
    padding: 15px;
    position: relative;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    border: 1px solid var(--Neon-Gradient, #CE18C5);
    background: #FFF;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
}
.step-headline {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/step-sec-headline-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 2px 30px;
}
.step-wall{
    display: inline-block;
    border-radius: 20px;
    border: double 2px transparent;
    background-image: linear-gradient(#fff,#fff), linear-gradient(90deg, #CC18C5 0%, #01E2FE 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
}
.step-wall-inner{
    padding:20px;
}
.step-heading{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/step-head-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 8px 30px 24px 30px;
    display: inline-block;
    position: relative;
    top: 0px;
    left: -38px;
}
.step-head {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special-bonus/step-head-bg2.png) no-repeat center center;
    background-size: 100% 100%;
    width: fit-content;
    padding: 5px 25px;
}
@media (min-width: 768px){
.typing {
    font-size: 28px;
}
.second-section {
    padding: 0px 0px 100px 0px;
}
.step-section{
    padding: 100px 0px 100px 0px;
}
.key-features-bg {
    padding: 25px;
    margin-top: -200px;
}
}
.preheadline-lp {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}
@media(min-width:768px){
    .preheadline-lp {
        padding: 7px 35px;
    }
}