body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0px;
    color: #000000;
    background: url(../images/login-bg.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.mt15 {
    margin-top: 15px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.padding0 {
    padding: 0px;
}

.paddingtop20 {
    padding-top: 20px;
}

.margin-bottom15 {
    margin-bottom: 15px;
}

.coursova-slider .carousel-inner {
    width: 100%;
    overflow: hidden;
    color: #ffff;
}

.coursova-slider {
    margin-top: 20px;
    margin-bottom: 15px;
}

@media(min-width: 768px) {
    .coursova-slider {
        margin-top: 20px;
        margin-bottom: 0px;
        position: fixed;
        bottom: 30px;
        width: 100%;
    }
    .coursova-slider {
        max-width: 340px
    }
}

@media(min-width: 992px) {
    .coursova-slider {
        max-width: 404px
    }
    .login-wrapper.padding {
        padding: 0px 40px;
    }
}

@media(min-width: 1200px) {
    .coursova-slider {
        max-width: 487px;
    }
    .login-left-padding {
        padding-left: 90px;
    }
}

.coursova-slider .carousel-inner p.description {
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    color: #ffffff;
    line-height: 45px;
    font-size: 30px;
    font-weight: 600;
}

ul.descrip {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

ul.descrip li {
    background: url(../images/tick.png) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0px 0 10px 20px;
}

.coursova-slider .carousel-inner .name {
    margin-bottom: 15px;
    color: #ffffff;
    line-height: 22px;
    font-size: 22px;
    font-weight: 600;
}

.coursova-slider .carousel-inner .designation {
    color: #000000;
    line-height: 22px;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 8px;
}

.coursova-slider .carousel-inner .arrow {
    color: white;
    font-size: 20px;
    line-height: 0px;
    text-decoration: none;
}

@media(min-width: 768px) {
    .body-padding {
        padding: 30px;
    }
    .logo-position {
        position: fixed;
        top: 30px;
    }
}

@media (min-width: 768px) {
    .login-wrapper {
        min-height: 100%;
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-wrap: wrap!important;
        flex-wrap: wrap!important;
        -ms-flex-line-pack: center!important;
        align-content: center!important;
        /*background: #ffffff;*/
    }
}

@media (min-width: 1200px) {
    .login-wrapper {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-wrap: wrap!important;
        flex-wrap: wrap!important;
        -ms-flex-line-pack: center!important;
        align-content: center!important;
    }
}

.padding30 {
    padding: 30px;
}

.paddingy20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .other-login {
        padding-top: 10px;
    }
    .xs-center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .login-wrapper-bg {
        background: #ffffff;
        position: relative;
        padding: 0px;
        border-radius: 15px;
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
        margin-bottom: 15px;
    }
    .login-wrapper-bg .padding30 {
        padding: 30px 20px 15px;
    }
    .mobgap {
        margin-top: 20px;
    }
    body {
        background: url(../images/login-bg-mob.png) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

.login-wrapper-bg {
    padding: 0px;
}

@media(min-width: 1200px) {
    .login-wrapper-bg .padding30 {
        padding: 30px 60px 25px 60px;
    }
    .login-wrapper-bg .padding-box.padding30 {
        padding: 30px 30px !important;
    }
}

.login-wrapper-bg .headline {
    font-size: 25px;
    color: #000000;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.login-wrapper-bg .headline1 {
    font-size: 25px;
    color: #000000;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.login-wrapper-bg .subheadline {
    font-size: 17px;
    color: #000;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px;
    text-align: center;
}

a.google-login-btn {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    margin-right: 35px;
}

a.google-login-btn:last-child {
    margin-right: 0;
}

.other-login {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-top: 15px;
}

.seprate-text {
    overflow: hidden;
    text-align: center;
    color: #9eadc3;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.seprate-text:before,
.seprate-text:after {
    background-color: #4a6cab;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.seprate-text:before {
    right: 0.8em;
    margin-left: -50%;
}

.seprate-text:after {
    left: 0.8em;
    margin-right: -50%;
}

.relative {
    position: relative;
}

.coursova-form .form-control,
.coursova-form .form-control:focus {
    height: 38px;
    border: 1px solid rgb(175, 187, 208);
    box-shadow: none;
    border-radius: 5px;
    color: #000000;
    padding: 10px 20px;
    outline: none;
    line-height: normal;
    font-size: 14px;
    margin-bottom: 15px;
}

.coursova-form .form-control.password {
    padding: 10px 40px 10px 20px !important;
}

.coursova-form .form-control-feedback {
    top: 13px;
    right: 20px;
    color: #969cad;
    font-size: 13px;
    cursor: pointer;
    pointer-events: fill;
    z-index: 100;
    width: auto;
    height: auto;
    line-height: normal;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #9eadc3!important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #9eadc3!important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #9eadc3!important;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #9eadc3!important;
}

.signbtn,
.signbtn:focus {
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(8, 55, 141);
    text-align: center;
    padding: 9px 25px;
    color: #fff;
    margin: auto;
    border: 0;
    font-weight: 500;
    font-size: 17px;
}

.signbtn:hover {
    background-color: rgb(8 55 141 / 90%);
}

a.forgot-link {
    font-size: 17px;
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 20px;
    font-weight: 400;
}

.form-footer {
    padding: 10px 30px 10px 30px;
    border-top: solid 2px #08378d;
    font-size: 15px;
    color: #4b535f;
    text-align: center;
}

.form-footer a {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    font-weight: 600;
}


/* Bootstarp 4 Flex Classes */

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

.img-wrapper {
    display: none;
}

@media (min-width:768px) {
    .d-sm-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .justify-content-sm-between {
        -ms-flex-pack: justify!important;
        justify-content: space-between!important;
    }
    .img-wrapper {
        width: 100%;
        height: 100%;
        display: block;
    }
    .img-wrapper2 {
        display: none;
    }
}

form.form_ajax.mt-20 {
    margin-top: 20px;
}

:focus-visible {
    outline: none;
}