html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lexend', sans-serif;
	color: #000000;
	font-size: 14px;
}

.cavet-font{
    font-family: 'Caveat', cursive;
}

.cyan-clr {
    color: #48FFF4;
}

.black-clr {
    color: #000000;
}
.white-clr{
    color: #fff;
}
.blue-clr {
	color: #005AFF;
}

.orange-clr {
	color: #FFA829;
}


/* Header Section CSS */
.header-section {
    background: #0e0a3b url(../images/header-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px 30px 0px;
}
.header-wrap {
    padding: 0px 0px 15px 0px;
    background: rgba(11, 28, 55, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 15px;
    border: solid 1px #2561BD;
    max-width: 95%;
    margin: 20px auto 0px auto;
}
.preheadline {
    display: inline-block;
    padding: 15px;
    background: #04173E;
    backdrop-filter: blur(200px);
    border-radius: 0px 0px 20px 20px;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.probtn1 a {
    transition: all .3s ease;
    border-radius: 15px;
    background: #FFA829;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn1 a:hover {
    transition: all .3s ease;
    background: #ee9615;
    color: #ffffff;
}

@media(min-width:768px){
    .header-section {
        background: #030331 url(../images/header-bg.webp) no-repeat bottom center;
        background-size: cover;
        padding: 40px 0px 100px 0px;    
    }
    .header-wrap {
        padding: 0px 0px 100px 0px;
        max-width: 95%;
        border-radius: 50px;
        margin: 50px auto 0px auto;
    }
    .preheadline {
        padding: 30px 24px;
        display: inline-block;
    }
    .probtn1 a {
        font-size: 38px;
        padding: 28px 60px;
        display: inline-block;
        width: auto;
        border-radius: 100px;
    }
}

@media(min-width:1600px){
    .header-wrap {
        max-width: 85%;
    }
}

/* Success Section CSS */

.success-section{
    padding: 30px 0px 0px 0 ;
    background: #ffffff;
}
.success-inner-sec{
    background: url(../images/second-sec-inner-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 20px 15px;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    max-width:95%;    
    margin:0px auto;
}
@media(min-width:768px){
    .success-section{
        padding: 50px 0;
    }
    .success-inner-sec{
        padding:100px 0px;
        border-radius: 50px;
        width: 95%;
    }
}
@media(min-width:1600px){
    .success-inner-sec{
        max-width: 85%;
    }
}

/* Second Section CSS */

.second-section {
    background: #030331 url(../images/second-sec-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

.feature-list {
    padding: 15px;
    margin-top: 30px;
    list-style-type: none;
    min-height: 100px;
    box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

@media(min-width:768px) {
    .second-section {
        padding: 50px 0px 100px 0px;
    }
}

/* Proudly Section Css */

.proudly-sec {
    background: url(../images/proudly-bg.webp) center center no-repeat;
    background-size: cover;
    padding: 60px 0px 30px 0px;
}
.proudly-inner-sec {
    padding: 15px 5px;
    background: rgba(11, 28, 55, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    max-width: 95%;
    margin: 0px auto;
}
.proudly-shape {
    display: inline-block;
    padding: 5px 30px 5px 30px;
    position: relative;
    z-index: 1;
    background: #04173E;
    border-radius: 60px;
    align-items: center;
    font-family: 'Caveat', cursive;
    margin-top: -56px;
}
@media(min-width:768px){
    .proudly-sec {
        padding: 150px 0px 100px 0px;
    }
    .proudly-inner-sec {
        padding: 0px 0px 100px 0px;
        max-width: 95%;
        border-radius: 50px;
    }
    .proudly-shape {
        padding: 10px 90px 10px 90px;
        margin-top: -150px;
    }
}
@media(min-width:1600px) {
	.proudly-inner-sec {
		max-width: 85%;
	}
}

/********features*********/

.white-section {
    background: #fff;
    padding: 30px 0;
}

.grey-section {
    background: #F4F6FD ;
    padding: 30px 0;
}

.features-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}

.features-title .size {
    max-height: 100px;
}

@media (min-width:768px) {
    .white-section {
        padding: 100px 0;
    }

    .grey-section {
        padding: 100px 0;
    }
}

/* Good Section Start */

.good-section {
    background: #eef0ff;
    padding: 30px 0 0px 0px;
}

ul.good-list {
    padding: 0px;
    margin: 0px;
}
ul.good-list li {
    background: url(../images/point-icon.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
}

@media (min-width: 768px){
    .good-section {
        padding: 100px 0px 0px 0px;
    }
}

/* Moneyback Section CSS */

.moneyback-section {
	padding: 30px 0;
	background: #062D69 url(../images/prize-value.webp) no-repeat center center;
	background-size: cover;
	backdrop-filter: blur(5px);
}

@media (min-width: 768px) {
	.moneyback-section {
		padding: 100px 0;
	}
}

/*Table CSS Start*/

.table-section {
    background: #ffffff;
    padding: 30px 0;
}

.tablebox2 {
    border: 1px solid #14208e;
    width: 100%;
    float: left;
    border-radius: 15px;
}

.tbbg2 {
    background:#062D69;
    padding: 45px 20px 45px 20px;
    border-radius: 15px 15px 0px 0px;
}

.tbbg2-text {
    color: #fff;
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101;
}

ul.vgreytick {
    padding: 0px 15px;
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 20px 10px 20px 40px;
    background-position: 0px 27px;
    line-height: 150%;
    border-bottom: 1px solid #edebf0;
    color: #000;
}

ul.vgreytick li:last-child {
    border-bottom: 0px;
}

.myfeatureslast {
    float: left;
    padding: 15px;
    width: 100%;
    min-height: 69px;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #005AFF;
}

.kapblue {
    color: #2337f6;
}

@media (min-width: 768px) {
    .table-section {
        padding: 70px 0 100px 0px;
        background: url(../images/table-bg.webp) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    ul.vgreytick li {
        padding: 24px 10px 24px 40px;
    }

}



.orange-clr {
    color: #f57c25;
}

/* Footer Section CSS */

.footer-section {
    background: #000000;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
    line-height: 130%;
}

.footer-ul li a {
    color: #ffffff;
    text-decoration: none;
}

@media(min-width:768px) {
    .footer-ul li {
        display: inline;
        line-height: normal;
    }
    .footer-section {
        padding: 50px 0px;
    }
}