.container {
	height: unset;
}

.inner-content {
	height: unset;
}

#templateBody {
	    /* font-family: 'Montserrat', sans-serif; */
		font-family: 'Work Sans', sans-serif;
    color: #242637;
    font-size: 14px;
	line-height: normal
}


/* Header Section CSS */
.header-section {
	background-color: #fff;
	padding: 5% 0;
}

@media(min-width:768px) {
	.header-section {
		padding: 50px 0px 50px;
	}
}

.logo-height {
	max-height: 45px;
}


/********features*********/

@font-face {
	font-family: 'handsean';
	src: url(../fonts/handsean.ttf);
}

.handsean {
	font-family: handsean;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}
a.link-text {
	color: #000000;
	text-decoration: none;
}
.footer-section {
	background-color: #080d1a;
	padding: 30px 0px;
}
.container-padding {
	padding: 30px 0;
}
.footer-ul {
	padding: 0px;
	margin: 0px;
}
.footer-ul li {
	display: inline;
}

.xs-text-center,
.xs-text-center1 {
    text-align: center;
}

.xscenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.xs-text-center,
.xs-text-center1 {
	text-align: center;
}


.spatan {
    font-family: 'Spartan', sans-serif;
}


@media(min-width:768px) {
	 .xs-text-center {
        text-align: left;
    }
    .footer-section {
		padding: 70px 0px;
	}
    .xscenter {
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .xs-text-center {
        text-align: left;
    }
    .xs-text-center1 {
        text-align: right;
    }
}

.lightred {
	color: #5c6ac4;
}

a.lightred {
	color: #5c6ac4;
}
