html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
}
.black-clr {
    color: #000000;
}
.white-clr {
    color: #fff;
}

.blue-clr{color: #091274;}

.yellow-clr {
    color: #fffa64;
}

span.under {
    border-bottom: 4px solid;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header-section {
    background: #fff url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 30px 0px 80px 0px;
}
.pre-heading {
    background: #ced0e2;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px;
    transform: skew(-5deg);
}
.skew-con {
    transform: skew(5deg);
}
.gap20 {
    gap: 20px;
}
@media (min-width: 768px) {
    .header-section {
        padding: 40px 0px 150px 0px;
    }
    .pre-heading {
        padding: 15px 30px 15px 30px;
        transform: skew(-10deg);
    }
    .skew-con {
        transform: skew(10deg);
    }
}
.probtn1 a {
    border-radius: 10px;
    background-color: #f57c25;
    box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -webkit-box-shadow: 0px 6px 14px -1px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.45);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    line-height: 140%;
}

.probtn1 a:hover {
    background: #fa9045;
    color: #ffffff;
}

@media (min-width: 768px) {
    .probtn1 a {
        padding: 28px 30px;
        width: auto;
        display: inline-block;
    }
}

.second-sec {
    padding: 30px 0;
}
@media (min-width: 768px) {
    .second-sec {
        padding: 100px 0px;
        background: url(../images/important-thing.webp) no-repeat;
		background-size: cover;
		background-position: center; 
    }
}
.grey-section {
    background: #e1e7f3;    
    padding: 30px 0;
}

@media (min-width: 768px) {
    .grey-section {
        padding: 100px 0;
    }
}

ul.bigboxes {
    margin: 0px;
    padding: 0px;
}

.bigboxes li {
    background: url(../images/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 10px;
}

ul.bigboxes1 {
    margin: 0px;
    padding: 0px;
}

.bigboxes1 li {
    background: url(../images/greentick.webp) no-repeat;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0 0px 45px;
    background-position: 0 4px;
    margin-bottom: 20px;
}

.boxes {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
}

@media (min-width: 768px) {
    .boxes {
        padding: 50px;
    }
}

.fifth-section {
    padding: 30px 0px;
    background: #101929;
}

@media (min-width: 768px) {
    .fifth-section {
        padding: 100px 0 100px 0px;
        background: #fff url(../images/moneyback-bg.webp) no-repeat bottom center;
        background-size: cover;
    }
}

.table-section {
    background: #ffffff;
    padding: 30px 0px;
}

.tablebox2 {
    background: #ffffff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #b6b3bc;
}

.tbbg2 {
    background: url(../images/start-plan-bg.png) no-repeat center;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #b6b3bc;
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}
.tablebox3 {
    background: #fff;
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    position: relative;
}
.tbbg3 {
 
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 1px #091274;
    background: linear-gradient(180deg, #001233 0%, #173a7a 100%);
}
.myfeatureslast-com {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    min-height: 69px;
    background: #ffffff;
}
@media (min-width: 768px) {
    .table-section {
        padding: 100px 0;
        background: url(../images/table-bg.webp) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .tbbg2 {
        padding: 50px 30px 50px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .myfeatureslast {
        padding: 30px 20px;
    }
    .tbbg3 {
        padding: 50px 30px 50px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
}
.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #0041b5;
}
.footer-section {
    background: #000000;
    padding: 30px 0px;
}
.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}
@media (min-width: 768px) {
    .footer-section {
        padding: 70px 0px;
    }
}

ul.vgreytick {
    margin: 0px;
    padding: 0px;
}
ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    color: #000;
    background-position: 15px 22px;
    line-height: 150%;
    text-transform: capitalize;
}
ul.vgreytick li:nth-child(odd) {
    background-color: #e1e7f3;
}
@media(min-width:768px){
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 20px;
    }
}