html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}
/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.black-clr {
    color: #0f0f0f;
}

.red-clr {
    color: rgba(239, 71, 72, 1);
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 15px 0px 25px 0px rgba(19, 21, 26, 0.3);
    z-index: 99;
}

.header-nav{
    padding: 15px 0px;
    background: #fff;
}
.header-section {
    background: #0f0f0f;
    padding: 30px 0px;
    position: relative;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

a.affiliate-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    line-height: normal;
    color: #fff;
    border-radius: 15px;
    font-weight: 700;
    transition: all .3s ease;
    background: #ff2c50;
}
a.affiliate-link-btn:hover {
    transform: scale(1.1);
}
.pre-heading {
    padding: 25px 15px;
    margin: 0px auto;
    background: url(../images/preheading.webp) no-repeat;
    display: inline-block;
    background-size: cover;
}

@media (min-width: 768px) {
    .header-section {
        background: #0f0f0f url(../images/header-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 40px 0px 280px 0px;
    }
    a.affiliate-link-btn {
        padding: 15px 30px;
        font-size: 20px;
    }
    .pre-heading {
        padding: 20px 15px;
    }
}

/* Second Section Start */

.second-section {
    padding: 30px 15px;
    background-color: #fff;
}

.z-index-9 {
    z-index: 9;
}

ul.features-list {
    margin: 0px;
    padding: 0px;
}

ul.features-list li {
    background: url(../images/tick-icon.webp) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    background: #ffffff;
}

@media (min-width:768px) {
    .second-section {
        padding: 0px 0px 50px 0px;
    }
    .header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
        margin-top: -200px;
    }
}
/* Second Section End */


/* CTA Button Start */

a.cta-link-btn {
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    animation: glowing 5000ms infinite;
    border-radius: 100px;
    background: #ff2c50;
}

a.cta-link-btn:hover {
    transform: scale(1.05);
    transition: all .3s ease;
    background: #f60c29;
}


@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #ec0138;
    }
    40% {
        box-shadow: 0 0 20px #ec0138;
    }
    60% {
        box-shadow: 0 0 20px #ec0138;
    }
    100% {
        box-shadow: 0 0 -10px #ec0138;
    }
}

.ul-tick-icon1 li {
    list-style: none;
    background: url(../images/tick-icon.webp) no-repeat;
    background-position: 0 2px;
    padding: 0 0px 15px 39px;
    display: inline-block;
}

@media (min-width: 768px) {
    .ul-tick-icon1 li {
        padding: 0 39px 10px 39px;
    }
    a.cta-link-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
        display: inline-block;
    }
}
/* CTA Button End*/


/*****Form Section********/
.width-form {
    width: 100%;
    float: left;
    padding: 0px 0px;
}

.formbg {
    position: relative;
    padding: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.register-btn1 input[type="submit"] {
    border-radius: 65px;
    background: #ff2c50;
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 21 !important;
    color: #ffffff !important;
    font-weight: 600;
    width: 100%;
    border: none;
    height: auto;
    white-space: normal;
}

.register-btn1 input[type="submit"]:hover {
    transition: all .3s ease;
}

@media (min-width: 768px) {
    .width-form {
        width: 33%;
        padding: 0px 5px !important;
    }
    .formbg {
        padding: 40px 30px;
        border: none;
        border-radius: 15px;
    }
    .register-btn1 input[type="submit"] {
        height: 50px;
        white-space: nowrap;
    }
}


/****footer*******/

.footer-section {
    background: #100f12;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}