html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #0E1846;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #F19B10;
  border-radius: 25px;
}
.caveat{
    font-family: 'Caveat', cursive;
}
.white-clr {
    color: #fff;
}
.yellow-clr{
    color:#f19b10;
}
.black-clr {
    color: #08041e;
}

.underline-head{
    border-bottom: 2px solid #ee2128;
    
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}


/* Header Section Css Start */

.header-section {
    background: #0A071E;
    padding: 30px 0;
    position: relative;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.header-section ul.leader-ul li a {
    color: #ffffff;
}

.border-video {
    border-radius: 20px;
}

.affiliate-link-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
}

.calendar-wrap {
    border-radius: 15px;
    background-color: #faf4f4;
    padding: 10px;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.calendar-wrap:before {
    content: '';
    background: url(../images/curve1.png) no-repeat;
    position: absolute;
    z-index: 1;
    top: -14px;
    left: -18px;
    background-size: contain;
    width: 161px;
    height: 121px;
    z-index: -1;
}

.calendar-wrap:after {
    content: '';
    background: url(../images/curve2.png) no-repeat;
    position: absolute;
    z-index: 1;
    right: -18px;
    bottom: -10px;
    background-size: contain;
    width: 282px;
    height: 38px;
    z-index: -1;
}

.calendar-wrap-inline {
    border-width: 1px;
    border-color: rgb(11, 11, 49);
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #08041e;
}

  .head-design {
    padding: 30px;
    background: url(../images/headline-bg.webp) no-repeat center center;
    background-size: 100% 100%;
}
.pre-heading {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    color: #121733;
}
.gametext {
    background: #F19B10;
    padding: 5px 29px 5px 15px;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    top: -42px;
    z-index: 99;
    line-height: 32px;
    left: 0px;
    border-radius: 0px 150px 0px 0px;
    background: #F19B10;
}
.underline-text {
    background: url(../images/underline-orange.webp) no-repeat center center;
    padding: 0px 0px 35px 0px;
    background-size: contain;
}
@media (min-width:768px) {
    .header-section {
        padding: 40px 0px 100px 0px;
        background: #EFF5F9 url(../images/header-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .gametext {
        font-size: 22px;
    }
    .head-design {
        padding: 30px;
    }
    .header-section ul.leader-ul {
        margin-top: 12px;
    }
    .preheadline{
        padding:10px 35px;
      }
    .affiliate-link-btn a {
        padding: 12px 25px;
        font-size: 20px;
    }
    .affiliate-link-btn a:hover {
        background-image: -moz-linear-gradient(135deg, #9665FF 0%, #00A4FF  100%);
        background-image: -webkit-linear-gradient(135deg, #9665FF 0%, #00A4FF 100%);
        background-image: -ms-linear-gradient(135deg, #9665FF  0%, #00A4FF 100%);
        color: #ffffff;
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
    .underline-text {
        padding: 0px 0px 65px 0px;
    }
}


/* Header Section Css End */

.second-section {
    background: #EFF5F9;
    background-size: cover;
    padding: 30px 0px;
}
.video-box {
    position: relative;
    padding: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.video-box1 {
    position: relative;
    padding: 15px;
    background: linear-gradient(180deg, rgb(192 192 195 / 95%) 0%, rgb(56 46 46 / 29%) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
ul.features-list {
    margin: 0px;
    padding: 0px;
}

ul.features-list li {
    background: url(../images/tick-icon.png) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

@media (min-width:768px) {
    .second-section {
        padding: 100px 0px;
    }
}

 .footer-section {
    background: #05071A;
    padding: 30px 0px;
    }
    
    .footer-ul {
        padding: 0px;
        margin: 0px;
    }
    
    .footer-ul li {
        display: inline;
    }
    
    @media (min-width: 768px) {
        .footer-section {
            padding: 50px 0px;
        }
    }
 
    /*Form-Style-Start*/
    
    .formbg {
        position: relative;
        padding: 15px;
        border-radius: 5px;
        background-color: #EFF5F9;
    }
    
    @media (min-width: 768px) {
        .formbg {
            padding: 40px 30px;
            border: none;
            border-radius: 15px;
        }
    }
    
    .width-form {
        width: 100%;
        float: left;
        padding: 0px 0px;
    }
    
    @media (min-width: 768px) {
        .width-form {
            width: 33%;
            padding: 0px 5px !important;
        }
    }

    .register-btn1 input[type="submit"] {
    border-radius: 3px;
    background-image: -moz-linear-gradient(135deg, #9665FF  0%, #00A4FF 100%);
    background-image: -webkit-linear-gradient(135deg, #9665FF 0%, #00A4FF 100%);
    background-image: -ms-linear-gradient(135deg, #9665FF 0%, #00A4FF 100%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 21px;
    color: #ffffff !important;
    font-weight: 600;
    width: 100%;
    border: none;
    height: 60px;
    }

    .register-btn1 input[type="submit"]:hover {
        background-image: -moz-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
        background-image: -webkit-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
        background-image: -ms-linear-gradient(135deg, #00A4FF 0%, #9665FF 100%);
    }

    /*Form-Style-End*/