html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Mulish', sans-serif;
    color: #00081d;
    font-size: 14px;
    overflow-x: hidden;
}
/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}
.orange-clr {
    color: #f9bb0b;
}
.black-clr {
    color: #100f12;
}
.text-shadow {
    text-align: center;
    text-shadow: 0px 6px 8px rgb(0 0 0 / 25%);
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 15px 0px 25px 0px rgba(19, 21, 26, 0.3);
    z-index: 99;
}

.header-section {
    background: #0f0f0f url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px 230px 0px;
    position: relative;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

a.affiliate-link-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    line-height: normal;
    color: #fff;
    font-weight: 600;
    border-radius: 65px;
    background: #ff2c50;
    transition: all .3s ease;
}
a.affiliate-link-btn:hover {
    transform: scale(1.1);
}
.pre-heading {
    padding: 10px 15px;
    margin: 0px auto;
    background-color: #0f0f0f;
    outline: none;
    border-color: #f40c28;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .header-section {
        padding: 40px 0px 280px 0px;
    }
    a.affiliate-link-btn {
        padding: 10px 20px;
        font-size: 22px;
    }
    .pre-heading {
        padding: 15px 30px;
        border-radius: 100px;
    }
}

/* Second Section Start */

.second-section {
    padding: 0px 0px 30px 0px;
    background-color: #0f0f0f;
}

.z-index-9 {
    z-index: 9;
}

ul.features-list {
    margin: 0px;
    padding: 0px;
}

ul.features-list li {
    background: url(../images/tick-icon.webp) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.header-list-block {
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 0px 0px 19.8px 2.2px rgb(0 0 0 / 15%);
    margin-top: -200px;
    background: #ffffff;
}

@media (min-width:768px) {
    .second-section {
        padding: 0px 0px 100px 0px;
    }
    .header-list-block {
        border-radius: 20px;
        padding: 40px 20px;
    }
}
/* Second Section End */


/* CTA Button Start */
.cta-section {
    padding: 30px 0px;
    background: #100f12;
}

a.cta-link-btn {
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    animation: glowing 5000ms infinite;
    border-radius: 100px;
    background: #ff2c50;
}

a.cta-link-btn:hover {
    transform: scale(1.05);
    transition: all .3s ease;
    background: #f60c29;
}


@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #ec0138;
    }
    40% {
        box-shadow: 0 0 20px #ec0138;
    }
    60% {
        box-shadow: 0 0 20px #ec0138;
    }
    100% {
        box-shadow: 0 0 -10px #ec0138;
    }
}

.ul-tick-icon1 li {
    list-style: none;
    background: url(../images/tick-icon.png) no-repeat;
    background-position: 0 2px;
    padding: 0 0px 15px 39px;
    display: inline-block;
}

@media (min-width: 768px) {
    .ul-tick-icon1 li {
        padding: 0 39px 10px 39px;
    }
    .cta-section {
        padding: 70px 0px;
    }
    a.cta-link-btn {
        font-size: 36px;
        padding: 28px 60px 30px 60px;
        display: inline-block;
    }
}
/* CTA Button End*/



/*****Form Section********/
.width-form {
    width: 100%;
    float: left;
    padding: 0px 0px;
}

.formbg {
    position: relative;
    padding: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.register-btn1 input[type="submit"] {
    border-radius: 65px;
    background: #ff2c50;
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 21 !important;
    color: #ffffff !important;
    font-weight: 600;
    width: 100%;
    border: none;
    height: auto;
    white-space: normal;
}

.register-btn1 input[type="submit"]:hover {
    transition: all .3s ease;
}

@media (min-width: 768px) {
    .width-form {
        width: 33%;
        padding: 0px 5px !important;
    }
    .formbg {
        padding: 40px 30px;
        border: none;
        border-radius: 15px;
    }
    .register-btn1 input[type="submit"] {
        height: 50px;
        white-space: nowrap;
    }
}


/****footer*******/

.footer-section {
    background: #100f12;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}
/*********************Top To Bottom****************/

#button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    background-color: #ffe400;
    border-radius: 50%;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: rgb(97, 64, 64);
}

#button.show {
    opacity: 1;
    visibility: visible;
}