html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #031528;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #7764ff;
  border-radius: 25px;
}

.caveat{
    font-family: 'Caveat', cursive;
}

/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}

.white-clr1{
    color: #fff;
    opacity: 0.5;
}

.black-clr1 {
    color: #031528;
    opacity: 0.5;
}

.neon-clr{
    color: #00CBE3;
}

.neon-clr1{
    color:#0AA3FE;
}

.red-clr{
    color: #FF361D;
}
.underline{
    border-bottom: 1px solid;
}
.border-right{
    border-right: 1px solid rgba(255, 255, 255, 0.20);
}
.neon-gradient{
    background: linear-gradient(180deg, #28DCFB 0%, #0294FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grey-clr{
    color: #6C5E82;
}

/* Header Section Css Start */
.header-section {
	background: #0A071E;
    padding: 30px 0;
    position: relative;
    /*margin-top: 130px;*/
}

.affiliate-link-btn a {
	border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #7764FF -5.51%, #BD65FF 107.29%);
}

.affiliate-link-btn a:hover {
	transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #BD65FF -5.51%, #7764FF 107.29%);
}

.list-head {
	list-style: none;
}

.list-head li {
	background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-tick.webp) no-repeat;
	padding: 15px 0px 15px 35px;
	background-position: 0px 21px;
	text-align: left;
	border-bottom: solid 1px rgba(255, 255, 255, 0.10);
}

.list-head li:last-child {
	border-bottom: none;
}

.pre-heading {
    display: inline-block;
    border-radius: 40px;
    border: double 3px transparent;
    background-image: linear-gradient(#05071A,#05071A), linear-gradient(to right, #6E33FF 0%, #B956FF 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.pre-heading-content{
    padding: 15px;
}

.video-box {
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
}
.video-box iframe{
    border-radius: 10px;
}
@media (min-width:768px) {
	.header-section {		
		padding: 40px 0px 100px 0px;
        background: #020516 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/header-bg.webp) no-repeat center bottom;
        background-size: cover;
	}
	.affiliate-link-btn a {
		font-size: 20px;
	}
    .pre-heading-content{padding: 13px 25px;}

}
/*@media (min-width: 1199px){*/
/*.header-section {*/
/*    margin-top: 103px;*/
/*}}*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
   }
   .timer-header-top {
    background: #000;
    padding-top:10px;
    padding-bottom:10px; 
    }
/* Header Section Css End */

.mainheadline {
    display: inline-block;
    border-radius: 40px;
    background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
    padding: 1px;
    border-radius: 18px;
}

.mainheadline > div {
    background-color: #150a41;
    padding: 15px;
    border-radius: 20px;
}

@media(min-width:768px){
    .mainheadline {
        padding: 30px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/main-heading.webp) no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        border: none;
        padding: 75px 12px 50px 12px;
    }
    .mainheadline:before {
        position: absolute;
        content: 'First-To-Market';
        padding: 0px 40px;
        left: 57px;
        z-index: 99;
        top: 17px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        position: absolute;
    }

    .mainheadline > div {
        background-color: transparent;
        padding: 15px 25px;
        border-radius: 0px;
    }

    .header-underline{
        position: relative;
    }
    .header-underline::before{
        position: absolute;
        content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/header-underline.webp);
        top: 20px

    }
}

/* .typing-text{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/typing-text-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 15px 30px;
}

.typing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    color: white;
    font-weight: 700;
    font-size: 20px;    
}

#typing::after {
    content: '|';
    position: relative;
    right: 0;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent
    }
    50% {
        color: yellow;
    }
}
@media(min-width:768px){
    .typing{
        font-size: 28px;
    }
} */

span.typed-text {
	font-weight: 700;
	color: #fff;
    
  }
  .typing-box{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/typing-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    text-align: center;
  }
/* span.cursor {
	display: inline-block;
	background-color: #ccc;
	margin-left: 0.1rem;
	width: 3px;
	animation: blink 1s infinite;
  } */
span.cursor.typing {
	animation: none;
  }
  /* @keyframes blink {
	0%  { background-color: #ccc; }
	49% { background-color: #ccc; }
	50% { background-color: transparent; }
	99% { background-color: transparent; }
	100%  { background-color: #ccc; }
  } */

  @media(min-width:768px){
    .typing-box{
        width:420px;
        text-align: left;
        padding: 10px 20px;
    }
  }

/* Cta Btn Css */

.cta-btn{
    background: #1a0b4c;
    padding: 30px 0px;
}
.theme-btn{
    border-radius: 15px;
    background: linear-gradient(90deg, #CE18C5 -0.01%, #0085FF 100.47%);
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
.theme-btn:hover{
    background: linear-gradient(90deg, #0085FF -0.01%, #CE18C5 100.47%);
}
.countdown-container {
    padding: 10px;
    border-radius: 15px;
    border: 2px dashed #FFF;
}
@media(min-width:768px){
    .cta-btn{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/cta-bg.webp) no-repeat center center;
        background-size: cover;
        padding: 100px 0px;
    }
    .theme-btn{
        padding: 30px 70px;
    }
    .countdown-container{
        padding: 20px;
    }
}

/* White-Section Start */
.white-sec{
    padding: 30px 0px;
    background: #080334;
}
@media(min-width:768px){
    .white-sec{
        padding: 100px 0px;
    }
}
/* White-Section End */

/* Step Section Start */
.step-sec{
    padding: 30px 0px;
    background: #020516;
}
.step-sec-headline {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/step-sec-headline-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 5px 30px;
    display: inline-block;
}
.gap30 {
    --bs-gutter-y: 30px;
}
.step-wall{
    display: inline-block;
    border-radius: 20px;
    border: double 2px transparent;
    background-image: linear-gradient(#210068,#210068), linear-gradient(90deg, #CC18C5 0%, #01E2FE 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    height: 100%;
}
.step-wall-inner{
    padding:20px;
}
.step-heading{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/step-head-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 8px 30px 24px 30px;
    display: inline-block;
    position: relative;
    top: 0px;
    left: -38px;
}
@media(min-width:768px){
    .step-sec{
        padding: 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/step-sec-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .gap30 {
        --bs-gutter-x: 50px;
        --bs-gutter-y: 50px;
    }
}
/* Step Section End */

/* List Section Start */
.list-sec{
    padding: 30px 0px;
    background: #020210;
}
.list-sec-wall{
    display: inline-block;
    border-radius:0px 0px 20px 20px;
    border: double 2px transparent;
    background-image: linear-gradient(#040F27,#040F27), linear-gradient(90deg, #CC18C5 0%, #01E2FE 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
    border-top: 0px;
}
.list-sec-wall-inner{
    padding: 20px;
}
.list-head1 {
    list-style: none;
}
.list-head1 li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-white-tick.webp) no-repeat;
    padding: 15px 0px 15px 35px;
    background-position: 0px 21px;
    text-align: left;
    /* border-bottom: solid 1px rgba(0, 0, 0, 0.50); */
}
/* .list-head1 li:last-child{
    border-bottom: 0px;
} */
@media(min-width:768px){
    .list-sec{
        padding: 0px 0px 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/list-sec-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .list-sec-wall-inner{
        padding: 35px 30px;
    }
}
/* List Section End */

/* Specialized Sec Css Start */
.specialized-sec{
    padding: 30px 0px;
    background: #0E0539;
}
.specialized-head{
    border: 2px solid rgba(255, 255, 255, 0.20);
    padding: 10px 20px;
}
.specialized-list{list-style: none;}
.specialized-list li{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-white-tick.webp) no-repeat;
	padding: 10px 0px 10px 35px;
	background-position: 0px 15px;
	text-align: left;
}
.specialized-wall {
    background-color: #F1F1F1;
    position: relative;
    z-index: 2;
    padding: 20px 10px;
    border-radius: 20px;
}
.specialized-img {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.mt-md120 {
    margin-top: 20px;
}
.mt-md140{
    margin-top: 20px;
}
@media(min-width:768px){
    .specialized-sec{
        padding: 100px 0px 220px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/specialized-sec-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .specialized-head{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/specialized-border.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px;
        border: 0px;
    }
    .specialized-wall {
        border-radius: 0px;
        padding: 0px 20px 30px  20px;
        height: 100%;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/specialized-wall-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }    
    .specialized-img {
        display: inline-block;
        margin-top: -90px;
    }
    .mt-md120 {
        margin-top: 120px;
    }
    .mt-md140{
        margin-top: 140px;
    }
}


/* Specialized Sec Css End */

/* Profit Section Start */
.profit-sec{
    padding: 30px 0px;
    background: #2e0d8c;
}

@media(min-width:768px){
    .profit-sec{
        padding: 100px 0px 150px 0px;
        background: #0d032c url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/profit-sec-bg.webp) no-repeat bottom center;
        background-size: cover;
    }
}
/* Profit Section End */

.ele1{
	position: absolute;
	bottom: 60px;
    left: -190px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}
@-webkit-keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}
@keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}

@media(min-width:1500px){
    .ele1{
        left: -178px;
    }
}
@media(min-width:1920px){
    .ele1{
        left: -2px;
    }
}
.multifunctional-atomated-sec{
    padding: 30px 0px;
    background: #13002F;
    position: relative;
}
.multifunctional-atomated-head{
    background-image:radial-gradient(258.69% 35.25% at 42.49% 50%, #261963 0%, #090040 92%);
    display: inline-block;
    padding: 10px;
    text-align: center;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.multifunctional-atomated-wall{
    border-radius: 20px;
    border: double 2px transparent;
    background-image: linear-gradient(#fff,#fff), linear-gradient(90deg, #CC18C5 0%, #01E2FE 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.multifunctional-atomated-inner{
    padding:10px 25px;
}
@media(min-width:768px){
    .multifunctional-atomated-sec{
        padding: 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/multifunctional-atomated-sec-bg.webp) no-repeat center center;
        background-size: 100%;
        background-attachment: fixed;
    }
    .multifunctional-atomated-head{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/multifunctional-atomated-head-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 27px 50px;
    }
    .multifunctional-atomated-inner{
        padding:50px 30px;
    }
    .game-changer-underline{
        position: relative;
    }
    .game-changer-underline::after{
        position: absolute;
        content: url('https://cdn.dotcompaltest.com/uploads/launches/mavas/special/game-changer-underline.webp');
        top: 21px;
        left: 0px;
    }
}
.business-ai{
    background: #350067;
    padding: 30px 0px;
}
.bussiness-head{
    background-image: linear-gradient(270deg, rgba(47, 20, 72, 0.00) 0%, #4C098C 50.72%, rgba(47, 20, 72, 0.00) 100%);
    padding: 10px 0px;
}

@media(min-width:768px){
    .business-ai{
        padding: 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/business-ai-bg.webp) no-repeat center center;
        background-size: cover;
    }
}

.save-dollars{
    padding:30px 0px;
    background:#0e0530;
}
.dollars-head{
    border: 1px solid #CE18C5;
    padding: 20px;
    display: inline-block;
    position: relative;
    background: #fff;
}
.save-wall{
    padding: 20px;
    background: #fff;
}
.save-list{
    border-radius: 10px;
    background: #FFE7E4;
    padding: 20px 30px;
}
@media(min-width:768px){
    .save-dollars{
        padding: 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/save-dollars-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .dollars-head{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/dollars-head-design.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 20px 60px;
        display: inline-block;
        border:0px;
    }
    .dollars-head::before{
        content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/money.webp);
        position: absolute;
        top: 0;
        right: 0;
    } 
    .save-wall{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/save-wall-bg.webp) no-repeat center center;
        background-size:100% 100%;
        padding: 50px 50px 65px 50px;
    }
    .save-list{min-height: 136px;}
}

.zero-sec{
    padding: 30px 0px;
    position: relative;
    background: #200169;
}
.zero-head{
    border: 2px solid rgba(255, 255, 255, 0.20);
    padding: 10px 20px;
}
@media(min-width:768px){
    .zero-sec{
        padding: 100px 0px 0px 0px; 
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/zero-sec-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .zero-head{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/zero-head.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px;
        border: 0px;
    }
    .me-md-auto {
        margin-right: auto !important;
    }
    .ms-md-auto {
        margin-left: auto !important;
    }
}

@media(min-width:1299px){
    .ele2{
        position: absolute;
        top: 580px;
        left: -100px;
        z-index: -1;
        opacity: 0.6;
    }
    .ele3{
        position: absolute;
        top: 360px;
        right: 0px;
        z-index: -1;
        opacity: 0.6;
    }
    .step-arrow1 {
        position: relative;
        bottom: -90px;
    }
}

/* Testimonial Section Start */
.testimonial-sec{
    padding: 30px 0px;
    background: #10001f;
}
.testimonial-wall {
    display: inline-block;
    border-radius: 20px;
    border: double 2px transparent;
    background-image: linear-gradient(#210068,#210068), linear-gradient(90deg, #CC18C5 0%, #01E2FE 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    float: left;
}
.testimonial-box{
    padding: 30px;
}
.stars a {
    padding-right: 8px;
    color: #FFA800;
}
.stars a i {
    font-size: 20px;
}
@media(min-width:768px){
    .testimonial-wall{
        height: 100%;
    }
    .testimonial-sec{
        padding: 100px 0px;
        background:  url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/testimonial-bg.webp) no-repeat center center ;
        background-size: 100% 100%;
        margin-top: -10%;
    }
}

/* Proudly there Section Start */
.proudly-sec {
    padding:30px 0px;
    background-image: linear-gradient(180deg, #05071A 0%, #1E0045 100%);
}
.proudly-head{
    display: inline-block;
    background-image: linear-gradient(to right, #a812af 0%, #12a4d6 100%);
    padding: 10px 20px;
}
.proudly-feature{
    display: inline-block;
    border-radius: 20px;
    border: 1px solid  transparent;
    background-image: linear-gradient(#3C197D,#3C197D), linear-gradient(90deg, #CC18C5 0%, #01E2FE 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0px 5px 30px 0px #13002C;
}
.proudly-wall{
    padding: 20px;
}
.proudly-list{
    list-style-type: none;
}
.proudly-list li{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-white-tick.webp) no-repeat;
    padding: 10px 0px 10px 35px;
    background-position: 0px 15px;
    text-align: left;
}
@media (min-width: 768px){
.proudly-sec {   
    padding:111px 0px;
    background:#03091b url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/proudly-bg.webp) bottom center no-repeat;
    background-size: cover;
}
.proudly-head{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/presenting-head.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 13px 40px;
}
.proudly-wall{
    padding: 50px;
}
}
/* Proudly Section End */

/* Predefined Task Section Start */
.predefined-sec{
    padding: 30px 0px;
    background: #06061C;
}
.predefined-head{
    display: inline-block;
}
@media(min-width:768px){
    .predefined-sec{
        padding: 100px 0px;
        background: #030211 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/predefined-sec-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .predefined-head{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/predefined-head.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 79px;
    }
}

/* Predefined Task Section End */

.embed-mavas-sec{
    padding: 30px 0px;
    background: #020210;
}
.emmbed-head{
    display: inline-block;
}
@media(min-width:768px){
    .embed-mavas-sec{
        padding: 100px 0px;
        background:url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/embed-mavas-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .emmbed-head{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/embed-mavas-head.webp) no-repeat center center;
        background-size: cover;
        padding: 6px 20px;
    }
}

.new-task-sec{
    padding: 30px 0px;
    background: #06061c;
}
.new-task-wall{
    padding:20px;
    border-radius: 30px;
    background: linear-gradient(89deg, #23245C 0.43%, rgba(35, 36, 92, 0.00) 99.55%);
}
.new-task-wall1{
    padding: 20px;
    border-radius: 30px;
background: linear-gradient(267deg, #23245C 0.43%, rgba(35, 36, 92, 0.00) 99.55%);
}
@media(min-width:768px){
    .new-task-sec{
        padding: 120px 0px 100px 0px;
        background: #030212 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/new-task-bg.webp) no-repeat top center;
        background-size: cover;
    }
    .new-task-wall{
        padding: 30px;
    }
    .new-task-wall1{
        padding: 30px;
    }
}

.cta-btn1{
    border-radius: 20px;
    background-image: linear-gradient(90deg, #CC18C5 0%, #01E2FE 100%);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}
@media(min-width:768px){
    .cta-btn1{
        position: relative;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/cta-bg1.webp) no-repeat center center;
        background-size: 100% 100%;
        box-shadow: none;
        padding: 50px;
    }
    .cta-btn1::before{
        position: absolute;
        content: url('https://cdn.dotcompaltest.com/uploads/launches/mavas/special/cta-mavas.webp');
        top: 0px;
        left: -224px;
    }
}
@media(min-width:768px){
    .mt-md200{
        margin-top: 200px;
    }
}

.niche-sec{
    padding: 30px 0px;
    background: #2e067e;
}

@media(min-width:768px){
    .niche-sec{
        padding: 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/niche-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .niche-head{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/niche-head.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 79px;
        display: inline-block;
    }
}

.access-sec{
    padding: 30px 0px;
    background: #05061d;
}
@media(min-width:768px){
    .access-sec{
        padding: 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/access-sec-bg.webp) no-repeat center center;
        background-size: cover;
    }
}

.comp-table-sec{
    padding: 30px 0px;
    background: #06071b;
}
@media(min-width:768px){
    .comp-table-sec{
        padding: 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/comp-table-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
}

.watch-sec{
    padding: 30px 0px;
    background: #350986;
}

@media(min-width:768px){
    .watch-sec{
        padding: 100px 0px 220px;
        background: #030515 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/watch-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
}

.hands-free-sec{
    padding: 30px 0px;
    background: #030515;
}
.hand-free-head{
    border: 2px solid rgba(255, 255, 255, 0.20);
    padding: 10px 20px;
    display: inline-block;
}
@media(min-width:768px){
    .hands-free-sec{
        padding: 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/hands-free-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .hand-free-head{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/hands-free-head.webp) no-repeat center center;
        background-size: 100% 100%;
        border: none;
        padding: 22px 60px;
    }
}

.finally-remove-sec{
    padding: 30px 0px;
    background: #020411;
}
.final-wall{
    border-radius: 15px;
    border: 2px solid var(--Red, #FF361D);
    background: #1D1D46;
}
.final-img{
    position: relative;
}
.final-img::before{
    position: absolute;
    top: 24px;
    left: -5px;
    content: url('https://cdn.dotcompaltest.com/uploads/launches/mavas/special/finally-remove.webp');
}
.final-content{
    padding: 20px;
}
@media(min-width:768px){
    .finally-remove-sec{
        padding: 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/finally-remove-bg.webp) no-repeat center center;
        background-size:cover;
    }
    .final-wall{
        height: 100%;
    }
}

.lease-mavas-sec{
    padding: 30px 0px;
    background: #10032e;
}

@media(min-width:768px){
    .lease-mavas-sec{
        padding: 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/lease-mavas-bg.webp) no-repeat top center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }
    .lease-mavas-sec::after{
        position: absolute;
        content: url('https://cdn.dotcompaltest.com/uploads/launches/mavas/special/line-design.webp');
        top: 940px;
        right: 0px;
    }
}
@media(min-width:1199px){
    .lease-head{
        position: relative;
        display: inline-block;
    }
    .lease-head::before{
        position: absolute;
        top: 20px;
        left: -100px;
        content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/money.webp);
    }
    .lease-head::after{
        position: absolute;
        top: 20px;
        right: -100px;
        content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/money.webp);
    }
}

.interaction-sec{
    padding: 30px 0px;
    background: #060623;
}
.interaction-img{
    text-align: center;
}
.interaction-box{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/interaction-wall-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 50px 30px;
    position: relative;
    z-index: 2;
}
.mt-md180{
    margin-top: 20px;
}
@media(min-width:768px){
    .interaction-sec{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/intersection-bg.webp) no-repeat center bottom;
        background-size: cover;
        padding: 100px 0px 220px 0px;
    }
    .sound-on{
        position: relative;
    }
    .sound-on::after{
        position: absolute;
        content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/sound-on.webp);
        top: 100px;
        right: 85px;
    }

    .interaction-img{
        margin-top: -150px;
    }

    .mt-md180{
        margin-top: 180px;
    }
}

.unlimited-possibilities-sec{
    padding: 30px 0px;
    background: #031332;
}
.unlimited-head{
    border: 2px solid #16BAFD;
    padding: 10px 20px;
}
@media(min-width:768px){
    .unlimited-possibilities-sec{
        padding: 0px 0px 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/unlimited-possibility-sec.webp) no-repeat center center;
        background-size: cover;
    }
    .unlimited-head{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/unlimited-head.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px 79px;
        display: inline-block;
        border: 0px;
    }
}

.ai-powerhouse-sec{
    padding: 30px 0px;
    background: #0a124f;
}
.ai-powerhouse-wall{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/ai-powerhouse-wall-bg.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 5px;
}
.ai-powerfull-wall-head{
    border-radius: 10px;
    background-image: linear-gradient(180deg, #28DCFB 0%, #0294FF 100%);
    padding: 5px 24px;
}
.ai-powerful-content{
    padding: 20px;
    background: #113175;
}
@media(min-width:768px){
    .ai-powerhouse-sec{
        padding: 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/ai-powerhouse-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .ai-powerful-content{
        padding: 30px;
    }
    .ai-powerhouse-wall{
        height: 100%;
    }
}
.bonus-sec{
    padding:30px 0px;
    background: #070923;
}

.bonus-section-shape{
    position: relative;
    background: #0f1c57;
    border: solid 1px #e8ebff;
    border-radius: 10px;
    padding: 20px;
}
.bonus-section-shape1{
    position: relative;
    background: #0f1c57;
    border: solid 1px #e8ebff;
    border-radius: 10px;
    padding: 20px;
}
.bonus-headline {
    padding: 6px 85px 6px 85px;
    display: inline-block;
    text-align: center;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/bonus-head.webp) no-repeat center center;
    background-size: 100% 100%;
}
.margin-t-44 {
    margin-top: -29px;
}
.gift{
    border: 1px solid #CE18C5;
    padding: 20px;
    display: inline-block;
    position: relative;
    background: #fff;
}
@media(min-width:768px){
    .bonus-sec{
        padding: 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/bonus-sec-bg.webp) no-repeat center center; 
        background-size: cover;
        background-attachment: fixed;
    }
    .bonus-section-shape{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/bonus-bg.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px;
        border: none;
    }
    .bonus-section-shape1{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/bonus-bg1.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 30px;
        border: none;
    }
    .margin-t-44 {
        margin-top: -44px;
    }
    .gift-head{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/dollars-head-design.webp) no-repeat center center;
        background-size: 100% 100%;
        padding: 20px 60px;
        display: inline-block;
        border: 0px;
        position: relative;
    }
    .gift-head::after{
        position: absolute;
        right: -42px;
        top: 0px;
        content: url('https://cdn.dotcompaltest.com/uploads/launches/mavas/special/gift.webp');
    }
}

/* Benifit Section */

.benifit-section{
    padding: 30px 0px;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/benefit-bg.webp) no-repeat center center;
    background-size:cover;
}
.without-bg{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/without-bg.webp) no-repeat;
    padding: 30px 30px;
    background-size: 100% 100%;
}
.without-shape{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/without-shape.webp) no-repeat;
    padding: 28px 15px;
    background-size: 100% 100%;
    display: inline-block;
}
.without-list{padding: 0;}
.without-list li{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/thumbs-down.webp) no-repeat;
    padding: 10px 10px 10px 42px;
        background-position: 0px 10px;
    text-align: left;
    list-style: none;
}
.with-bg{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/with-bg.webp) no-repeat;
    padding: 30px 30px;
    background-size: 100% 100%;
    position: relative;
}
.with-shape{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/with-shape.webp) no-repeat;
    padding: 28px 32px;
    background-size: 100% 100%;
    display: inline-block;
}
.with-list{padding: 0;}
.with-list li{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/thumbs-up.webp) no-repeat;
    padding: 10px 10px 10px 42px;
    background-position: 0px 10px;
    text-align: left;
    list-style: none;
}

@media(min-width:768px){
    .benifit-section{
        padding: 100px 0;
    }
    .benifit-heading{
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/benefit-heading.webp) no-repeat;
        background-size: cover;
        padding: 37px 100px;
    }
    .without-list li{
        padding: 10px 10px 10px 65px;
        background-position: 20px 15px;
    }
    .with-list li{
        padding: 10px 10px 10px 65px;
        background-position: 20px 15px;
    }
   
    .with-shape{
        padding: 28px 40px;
    }
}
@media(min-width:1537px){
    .with-bg::after {
        position: absolute;
        content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/benifit-icon.webp);
        top: 00px;
        right: -195px;
    }
}


/* benifit section end */

/* upgrade section start */


.upgrade-section{
    padding: 30px 0px;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/upgrade-section.webp) no-repeat center center;
    background-size:cover;
    background-attachment: fixed;
}
.feature-shape{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/feature-shape.webp) no-repeat;
    padding: 10px 30px;
    background-size: 100% 100%;
    display: inline-block;
}
@media (min-width: 768px){
    .upgrade-section{
        padding: 100px 0px;
       
    }
    .rocket::before {
        content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/rocket.webp);
        position: absolute;
        top: -35px;
        right: -50px;
    }
}

/* upgrade section end */

.comp-table-sec{
    padding: 30px 0px;
    background: #1d0347;
}
.table-one{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.10);
}
.task-box{
    background:#0A0828;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.task-list li{
    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.20);
    padding-left: 18px;
    padding-right: 18px;
}
.task-list li:last-child{
    border-bottom: 0px;
}
.table-two{
    border-radius: 20px;
    border: 2px solid  rgba(255,54,29,0.2);
    background:  rgba(255,54,29,0.2);
}
.sad-box{
    border-radius: 15px 15px 0px 0px;
    background: #FF361D;
    padding: 20px;
}

.sad-list li:last-child{
    border-bottom: 0px;
    margin-bottom: 0px;
}
.table-three{
    border-radius: 20px;
    border: 2px solid rgba(50,105,246,0.2);
    background: rgba(50,105,246,0.2);
}
.mavas-box{
    border-radius: 15px 15px 0px 0px;
    padding: 20px;
    background-image: linear-gradient(180deg, #28DCFB 0%, #0294FF 100%);
}
@media(min-width:768px){
    .comp-table-sec{
        padding: 100px 0px;
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/comp-table-bg.webp) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .table-head{
        min-height: 152px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

/* old table css ended */
.sad-list li{
    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2px rgba(255,54,29,0.3);
    padding-left: 30px !important;
    padding-right: 18px;
}

@media(min-width:768px){
    .comp-table-li-3{
        padding-top: 30px !important;
        padding-bottom: 50px !important;
    }
    .comp-table-li-7
    {
        padding-top: 18px !important;
        padding-bottom: 33px !important;
    }
    .comp-table-li-14
    {
        padding-top: 18px !important;
        padding-bottom: 33px !important;
    }
}


/* Table Section */

.table-section {
    padding: 30px 15px;
    background: #020210;
}

.table-wrap {
    width: 100%;
    float: left;
    overflow: hidden;
    border-width: 1px;
    border-color: rgb(216, 216, 225);
    border-style: solid;
    border-radius: 30px;
    background-color: #fff;
}

.table-head {
    padding: 50px 30px 30px 30px;
}

@media (min-width: 768px) {
    .table-head {
        padding: 50px 30px 30px 30px;
    }
}

.table-btn {
    padding: 30px 20px;
    text-align: center;
}

.table-wrap1 {
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 40px;
    background-color: #030b22;
    box-shadow: 0px 0px 28px 7px rgba(0, 0, 0, 0.2);
}

.table-head1 {
    padding: 50px 30px 30px 30px;
    text-align: center;
}

@media (min-width: 768px) {
    .table-head1 {
        padding: 50px 30px 30px 30px;
        text-align: center;
    }
}

.table-list li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    background-image: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-white-tick.webp), url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/table-sep-line.webp);
    background-position: 20px 20px, bottom center;
    background-repeat: no-repeat, no-repeat;
}

.table-list li.cross-sign {
    background-image: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/red-cross.webp), url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/table-sep-line.webp) !important;
    background-position: 20px 18px, bottom center !important;
    background-repeat: no-repeat, no-repeat;
}

.table-list1 li.cross-sign {
    background-image: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/red-cross.webp), url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/table-sep-line.webp) !important;
    background-position: 20px 18px, bottom center !important;
    background-repeat: no-repeat, no-repeat;
}

@media (min-width: 768px) {
    .table-list li {
        padding: 15px 15px 15px 57px;
    }
}

.table-list li.headline {
    background: #1c4584 !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.table-list li:last-child {
    border-bottom: none;
}

.table-list1 li {
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 57px;
    line-height: 150%;
    text-transform: capitalize;
    list-style: none;
    margin: 0px;
    background-image: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-white-tick.webp), url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/table-sep-line1.webp);
    background-position: 20px 20px, bottom center;
    background-repeat: no-repeat, no-repeat;
}

.table-list1 li:last-child {
    border-bottom: none;
}

.table-list li:nth-child(odd) {
    background-color: #f1f1f1;
}
.table-list li:nth-child(even){
    background-color: #fff;
}
.table-list1 li:nth-child(odd){
    background-color:#f1f1f1;
}
.table-list1 li:nth-child(even){
    background-color: #ffffff;
}

@media (min-width:768px) {
    .table-section {
        background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/table-sec-bg.webp) no-repeat center center;
        padding: 100px 0px;
        background-size: cover;
        background-attachment: fixed;
}
    .table-list1 li {
        padding: 15px 15px 15px 57px;
    }
    .try-smile{
        position: relative;
    }
    .try-smile::after{
        position: absolute;
        top: 10px;
        right: -60px;
        content: url('https://cdn.dotcompaltest.com/uploads/launches/mavas/special/try-smile.webp');
    }
}

/* Table Section End*/

.clock-sec{
    padding: 30px 0px;
    background: #000;
}
@media(min-width:768px){
    .clock-sec{
        padding: 100px 0px 150px 0px;
        background: #080334 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/clock-ticking-bg.webp) no-repeat center bottom;
        background-size: cover;
    }
    .clock-head{
        position: relative;
        display: inline-block;
    }
    .clock-head::after{
        position: absolute;
        top: 0px;
        right: -70px;
        content: url('https://cdn.dotcompaltest.com/uploads/launches/mavas/special/alarm-clock.webp');
    }
}

.money-back-sec{
    padding: 30px 0px;
    background: #080334;
}
.money-head{
    background-image: linear-gradient(270deg, rgba(33, 48, 134, 0.00) 0%, #213086 50.72%, rgba(33, 48, 134, 0.00) 100%);
    padding: 10px 30px;
}
@media(min-width:768px){
    .money-back-sec{
        padding: 100px 0px;
    }
    .money-head{
        padding: 10px 36px;
        display: inline-block;
    }
}
.bx-wrapper {
	border: 0px !important;
	background:transparent !important;
	box-shadow:none !important;
	padding: 0 !important;
	margin: 0 !important;	
	position:relative;
    max-width: auto !important;
	
}
.bx-viewport{position:relative !important;}
.bxslider {
  background:transparent !important;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0px !important;
  font-weight:600;
  position:relative;
}
.bxslider li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
	min-height:76px;
	line-height:32px;
	text-align:left;
    
}

.bxslider li .text{margin-left:15px;}
.text-clr1{color:#fff;}
.text-clr2{color:#fff;}
.text-clr3{color:#fff;}
.text-clr4{color:#fff;}
.slider-wall{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/typing-bg.webp) no-repeat center center;
    background-size: 100% 100%;
}
@media(min-width:768px){
    .mavas-desktop{
        white-space: nowrap !important;
        
    }
    .bxslider li{
        justify-content: start;
        min-width:495.34px !important;
        float: left !important;
        width: auto !important;
    
    }
}
 li.headline{
    background: rgb(9, 20, 120) !important;
    background: -moz-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    background: -webkit-linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    background: linear-gradient(0deg, rgba(9, 20, 120, 1) 0%, rgba(3, 5, 49, 1) 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#091478", endColorstr="#030531", GradientType=1) !important;
    padding: 26px 0px 20px 0px;
    background-position: 0px 18px;
    list-style: none;
    margin: 0px;
    border-bottom: none !important;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

/* perfect section start */

.perfect-section{
    padding: 30px 0px;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/perfect-bg.webp) no-repeat center bottom;
    background-size:cover;
}
.perfect-heading{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/perfect-heading.webp) no-repeat;
    padding: 10px 30px;
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
}
@media (min-width: 768px){
    .perfect-section{
        padding: 100px 0px;
    }
    .perfect-heading{
        padding: 10px 50px;
    }
    .perfect-heading::before {
        content: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/perfect-heading-icon.webp);
        position: absolute;
        top: -12px;
        right: -65px;
    }
}

/* perfect section end */

/* Automation section start */
.automation-section{
    padding: 30px 0px;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/automation-bg.webp) no-repeat center bottom;
    background-size:cover;
}
.list-head3 li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/neon-white-tick.webp) no-repeat;
    padding: 10px 0px 10px 35px;
    background-position: 0px 15px;
    text-align: left;
    list-style: none;
}
@media (min-width: 768px){
    .automation-section{
        padding: 100px 0px;
    }
}

/* Automation Section end */

/* Service section start */
.service-section{
    padding: 30px 0px;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/services-bg.webp) no-repeat center bottom;
    background-size:cover;
}
.service-shape{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/services-shape.webp) no-repeat;
    padding: 10px 30px;
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
}
@media (min-width: 768px){
    .service-section{
        padding: 100px 0px;
    }
}

/* service section end */

/* blue section start */
.blue-section {
    padding: 30px 0px;
    background: #0D0238 url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/blue-section.png) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.feature-list1 {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border-bottom: 7px solid rgba(110, 51, 255, 0.30);
}
@-webkit-keyframes wobble {
	0% { transform: rotate(0); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    45% { transform: rotate(4deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(2deg); }
    85% { transform: rotate(-2deg); }
    92% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
}
.feature-list1:hover {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: 50% 100%;
}
@media (min-width: 768px){
.blue-section {
    padding: 100px 0px 100px 0px;
}
.feature-list1 {
    height: 100%;
    padding: 30px;
}
}
.contact-block {
    padding: 20px;
    position: relative;
    background: linear-gradient(102.18deg, #0A1347 7.04%, #0D2183 108.72%);
    border-radius: 30px;
}

@media (min-width: 768px){
.contact-block {
    padding: 80px;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/list-sec-bg.webp) no-repeat center center;
    background-size: 100% 100%;
}
}
/* blue section end  */
.step-section {
    padding: 100px 0px 130px 0px;
    background:  url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/step-section.webp) center bottom;
    background-size: cover;
    background-attachment: fixed;
}
.steps-shape{
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/step-shape.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 12px 40px;
    display: inline-block;
}
.faster-box {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    position: relative;
}
.high-converting-list li {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/orange-tick.webp) no-repeat;
    background-position: 0 1px;
    padding-left: 50px;
    margin-bottom: 25px;
    list-style-type: none;
}
.thats-all-section {
    padding: 30px 0px;
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/not-all-bg.webp) center center no-repeat;
    background-size: cover;
}
.silver-plate {
    background: url(https://cdn.dotcompaltest.com/uploads/launches/mavas/special/frame.webp) center center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 30px;
}
@media (min-width: 768px){
.step-section {
    padding: 100px 0px 130px 0px;
    
}
.faster-box {
    padding: 50px;
}
.thats-all-section {
    padding: 100px 0px;
}
.silver-plate {
    padding: 50px;
}
}
