body {
    padding: 0;
    margin: 0;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.black {
    color: #000 !important;
}

a:hover {
    text-decoration: none;
}


/* header */

.header {
    background: #fff url(../images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 15px;
}

.logo-box {
    background: #030303b8;
    padding: 0px 15px;
    border: 2px solid;
    display: inline-block;
    border-radius: 5px;
}

.aff_new {
    background: #8dc63f;
    border-bottom: 4px solid #6d973d;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    max-width: 100%;
    text-decoration: none;
    width: 66%;
    font-weight: 700;
    transition: all 0.3s;
}

.aff_new:hover {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 2px solid #6d973d;
}

.content-inner {
    padding: 70px 0px;
}

.side-banner {
    color: #000000;
}

.header-tag {
    padding: 8px 35px;
    display: inline-block;
    border-radius: 50px;
    background-color: #0c235b;
    color: #fff;
    border: 4px solid #2a4664;
    font-weight: 600;
}

.side-banner {
    color: #ffffff;
}

.list-div ul {
    background: url(../images/tickss.png) no-repeat;
    background-position: 0px 10px;
    padding-left: 50px;
}

.list-div ul li a {
    color: #05052b;
}


/* main-section */

.main-section {
    background: #fff url(../images/main.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px 15px 60px 15px;
}

.container {
    max-width: 1170px;
}

.title-sm {
    font-size: 20px;
}

.title {
    font-size: 44px;
    line-height: 60px;
}

.video-box {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F73936;
    padding: 8px !important;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.text-dark {
    color: #2f2f2f;
}

.steps {
    background: #f9fafa;
    padding: 5% 0;
}

.text-red {
    color: #db2d2e;
}

.list-main li {
    background: url(../images/list-main.png);
    background-repeat: no-repeat;
    padding: 15px 10px 15px 58px;
    background-position: 22px 20px;
}

.dark-blue {
    color: rgb(18, 56, 81);
}

.text-blue {
    color: rgb(18, 56, 81);
}

.step-box {
    background-color: #311B92;
    border: 14px solid #370772;
    border-radius: 18px;
    padding: 40px 40px;
}

.step-title {
    font-size: 60px;
}

.black-text {
    color: #000000;
}


/* oto */

.strip {
    padding: 3% 0;
}

.strip1 {
    padding: 2% 0;
}

.text-orange {
    color: rgb(255, 112, 14);
}

.title-oto {
    font-size: 50px;
    line-height: 60px;
}

.oto-t-sm {
    color: #a2abb8;
}

.font-no {
    font-size: 40px;
}

.intro {
    padding: 8% 0;
    background: url(../images/bg-intro.jpg) no-repeat;
    background-size: cover;
}

.bg-yellow {
    background: #f5f904;
}


/* exclusive */

.exclusive {
    background: url(../images/ex-bg.png) no-repeat center;
    background-size: cover;
    padding: 5% 0;
}

@media (min-width: 1200px) {
    .stripbg {
        background: #ffffff;
        border: 1px solid #ffeced;
        padding: 0px 5px;
        border-radius: 5px;
        color: #112bc9;
    }
}

.ex-title {
    font-size: 38px;
}

.exclusive .gt-traffic img {
    width: 50%;
}

.exclusive .semi-bonus {
    color: #4090f7;
    margin-bottom: 0px;
    padding-left: 0px;
    border-bottom: 0px;
    display: block;
}

.exclusive .sem-gb {
    font-size: 34px;
    color: #000000;
    padding: 0px 0px 15px;
    border-bottom: 3px solid rgb(207, 207, 207);
    display: block;
    margin-top: 0px;
}

.list-grand li {
    background: url(../images/blue-tick.png) no-repeat;
    background-position: 1px 1px;
    background-position: 2px 3px;
    line-height: 28px;
    padding-bottom: 15px;
    padding-left: 50px;
}

.light-blue {
    color: #00ccff;
}

.sky-blue {
    color: #00c4ff;
}

.title-ex {
    font-size: 40px;
}

.tzcolor {
    color: #fc9c69;
}

.yellow2 {
    color: #ff9523;
}

.ex-banner {
    padding: 3% 2% 12%;
}

.ex-act {
    background: url(../images/bg-ex.png)no-repeat;
    background-size: cover;
    padding: 2% 0;
    font-family: 'Roboto Condensed', sans-serif;
}


/* semi-bonus */

.semi-bonus {
    padding: 10px 25px;
    color: #000000;
    border-bottom: 3px solid rgb(207, 207, 207);
    display: inline-block;
}

.sem-gb {
    display: block;
    margin-top: 20px;
    font-size: 30px;
}

.sg-text {
    line-height: 30px;
}


/* powerful-bonus */

.powerful-bonus {
    padding: 10% 0;
}

.pb-text {
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
}

.text-pink {
    color: rgb(255, 0, 86);
}

.sep {
    background: rgb(220, 220, 220);
    width: 85%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 30px;
}

.pb-box {
    max-width: 300px;
    margin: auto;
}

.pb-title {
    background: #ff0056;
    border-radius: 50px;
    padding: 5px 64px;
    display: inline-block;
}


/* footer */

.footer-sect {
    padding: 4% 15px;
    background: #1b1a1a;
}

.footer-list-bg {
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 5px;
}

.footer-sect .list-div ul {
    background: url(../images/bulletpoints-ft.png) no-repeat;
    padding-left: 45px;
    background-position: 7px 0px;
    background-size: 28px;
}


/*CSS For Responsive Video*/

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 1px 2px 3px 4px rgb(208 219 227 / 58%);
    border-radius: 5px;
}

.responsive-video1 {
    position: relative;
    padding-bottom: 61%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed,
.responsive-video1 iframe,
.responsive-video1 object,
.responsive-video1 embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.totop {
    background: #8dc63f;
    position: fixed;
    bottom: 50px;
    right: 15px;
    cursor: pointer;
    display: none;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 18px;
}


/*Affiliate Button CSS*/

.instant_button a {
    background: #8dc63f;
    border-bottom: 4px solid #79a743;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    display: inline-block;
    padding: 20px 45px;
    border-radius: 50px;
    color: #fff;
    outline: none;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.instant_button a:hover {
    background: #79a743;
    text-decoration: none !important;
    color: #fff;
}

.instant_button a:focus {
    text-decoration: none;
    color: #fff;
}

.instant_button a:active {
    text-decoration: none;
    color: #fff;
}

.instant_button1 a {
    background: #27a0f9;
    padding: 1% 1% 2% 1%;
    display: block;
    border-radius: 40px;
    border-bottom: 5px solid #2d6994;
    color: #fff;
    outline: none;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.instant_button1 a:hover {
    text-decoration: none!important;
    background: #27a0f9 !important;
    color: #fff !important;
}

.instant_button1 a:focus {
    text-decoration: none;
    color: #fff;
}


/*Fot Top Page Scroll*/

.topright img {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

@media(max-width: 991px) {
    .container-fluid,
    .container {
        max-width: 100%;
    }
    .logo-text {
        font-size: 30px;
    }
    .list-sect {
        background: #fff;
    }
    .title {
        font-size: 34px;
        line-height: 44px;
    }
    .title-mid {
        font-size: 35px;
    }
    .lg-oto {
        font-size: 45px;
        margin-top: 10px;
    }
    .title-oto {
        font-size: 26px;
    }
    .handpicked-bonus img {
        width: 100%;
    }
    .ep img {
        max-width: 100%;
    }
    .oto-t-sm {
        width: 100%;
    }
    .hp-text {
        font-size: 26px;
    }
    .pb-title {
        padding: 5px 10px;
        display: block;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 30px 0px 30px;
    }
    .main-section {
        padding: 10% 15px;
    }
    .header-tag {
        padding: 8px 17px;
        display: block;
    }
    .logo-image img {
        width: 50%;
    }
    .title-oto {
        font-size: 30px;
        line-height: 40px;
    }
    .lg-oto {
        font-size: 23px;
        margin-top: 10px;
        padding: 5px 5px;
    }
    .semi-bonus {
        margin-bottom: 10px;
    }
    .title {
        font-size: 24px;
        line-height: 34px;
    }
    .sem-gb {
        font-size: 16px;
        margin-top: 0px;
    }
    .title-ex {
        font-size: 26px;
    }
    .oto-t-sm {
        padding: 20px 20px;
    }
    .sep {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .footer-list-bg {
        padding: 15px;
    }
    .list-main li {
        padding: 10px 10px 10px 28px;
        background-position: 0px 15px;
    }
    .step-box {
        padding: 20px;
    }
    .step-title {
        font-size: 30px;
    }
    .exclusive .semi-bonus {
        padding: 0px;
    }
    .exclusive .sem-gb {
        font-size: 25px;
    }
    .ex-title {
        font-size: 24px;
    }
}

.scroll-down a {
    padding-top: 30px;
    display: inline-block;
    text-decoration: none !important;
    color: #000 !important;
}

.scroll-down a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-15px, 15px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-5px, 5px);
        opacity: 0;
    }
}

.scroll-down1 a {
    padding-top: 30px;
    display: inline-block;
    text-decoration: none !important;
    color: #000 !important;
}

.scroll-down1 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #eff308;
    border-bottom: 1px solid #eff308;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.scroll-down1 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Colors */

.white {
    color: #ffffff;
}

.black {
    color: #000 !important;
}

.white-area {
    padding: 50px 15px;
}

.Handpicked {
    padding: 40px 0px;
}


/*Custome Css Area*/

.blue {
    color: #3a3a3a;
}

.d-blue {
    color: #23436f;
}

.r-1 {
    background: #5f83ff;
    padding: 13px 20px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
}

.rt li {
    background: url(../images/list.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    list-style-type: none;
    padding: 0 20px 11px 50px;
    float: left;
}

.demo {
    background: url(../images/demo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px 15px;
}

.logo-gr {
    padding: 30px 15px;
}

.demo-gr {
    background: url(../images/demo-gr.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px 15px;
}


/*media query*/

@media(max-width:550px) {
    .instant_button a {
        padding: 20px 10px;
    }
    .gr-1 {
        background-image: none;
    }
}

.pre-headline {
    background: #FCCC00;
    border-radius: 5px;
    padding: 15px;
    display: inline-block;
}

@media(min-width:768px) {
    .pre-headline {
        border-radius: 65px;
        padding: 15px 30px;
    }
}

.orange-clr {
    color: #fca911;
}

.footer-sect a:hover {
    text-decoration: none;
    color: #8dc63f;
}

.btn-sec {
    background: #000836;
}

.remove-a:hover {
    color: #000;
}

.proudly-tick li {
    background: url(../images/tick.png) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0 0 20px 35px;
}

.feature-sec .img-fluid,
.step-sec .img-fluid {
    max-width: 100%;
    height: auto;
    width: 100% !important;
}