.countdown {
    background-color: transparent;
    color: #000000;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
}


/* Css For Timer Display */

.timer-label {
    margin-right: 15px;
    background: #000000;
    color: #fff;
    border-radius: 5px;
    padding: 5px 0px 10px 0px!important;
    width: 100%;
}

.countdown .timer-label:last-child {
    margin-right: 0px;
}

.timerbg {
    font-weight: 600;
}