html {
    scroll-behavior: smooth;
}
body {
    font-family: 'League Spartan', sans-serif;
    color: #000000;
    font-size: 14px;
}
/* Color CSS */
.white-clr,
a.white-clr {
    color: #ffffff;
}
.lightcolor {
    color: #eaab26;
}
.red-clr {
    color: #ff3c00;
}
.kapblue {
    color: #224cb0;
}
.grey-clr {
    color: #d6d6d6;
}
.orange-clr {
    color: #ff6a3d;
}
.red-clr {
    color: #ff3c00;
}
.v-grey-clr {
    color: #303030;
}
.yellow-clr {
    color: #fff600;
}
.blue-clr {
    color: #0063eb;
}
/* SECTION CSS START */
.header-section {
    background-color: #2f0088;
    padding: 30px 0 30px 0px;
}
@media (min-width: 768px) {
	.header-section {
		background: #ffffff url(../images/header-bg2.png);
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: cover;
		padding: 40px 0px 100px 0px;
	}
}
.pre-heading {
    background: #ffffff;
    padding: 10px;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    text-align: center;
}
@media (min-width: 768px) {
	.pre-heading {
		background: url(../images/pre-shape.png) no-repeat center center;
		background-size: contain;
		padding: 30px 40px 30px 135px;
		border-radius: 0px;
		text-align: left;
	}
}
.live-section {
    background: #edebf0;
    padding: 30px 0 30px 0px;
}
.white-section {
	padding: 30px 0px;
	background: #ffffff;
}
@media (min-width: 768px) {
	.live-section {
		background: #edebf0 url(../images/live-sec.png) no-repeat center center;
		background-size: cover;
		padding: 90px 0px 90px 0px;
	}
	.white-section {
		padding: 70px 0px;
		background: #ffffff;
	}
}
.affiliate-btn a {
    border-radius: 65px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 23px 20px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
    background: #6e0f15;
}
/* ARROW ANIMATION CSS START */
.arrow-box {
	position: relative;
	height: 105px;
}
.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #ff6a3d;
    border-right: 5px solid #ff6a3d;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 1.5s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
@media (min-width: 768px) {
	.arrow-box {
		height: 150px;
	}
	.arrow span{
		width: 50px;
		height: 50px;
		border-bottom: 10px solid #ff6a3d;
		border-right: 10px solid #ff6a3d;
	}
}
/* ARROW ANIMATION CSS END */
