html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lexend', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px rgb(208 219 227 / 58%);
	border-radius: 5px;
}
.cavet-font{
    font-family: 'Caveat', cursive;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #000000;
}

.cyan-clr {
	color: #48FFF4;
}

.blue-clr1 {
	color: #005AFF;
}

.orange-clr {
	color: #FFA829;
}

.yellow-bg {
	background-color: #FFA829;
	display: inline-block;
	border-radius: 10px;
	padding: 5px 10px;
}

/* Header CSS */
.header-section {
	background: #0e0a3b url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px;
}

.header-wrap {
	padding: 0px 15px 15px 15px;
	background: rgba(11, 28, 55, 0.2);
	backdrop-filter: blur(3px);
	/* Note: backdrop-filter has minimal browser support */
	border-radius: 15px;
	border: solid 1px #2561BD;
}

ul.leader-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.leader-ul li {
	display: inline-block;
	padding: 0px 5px;
	font-weight: 400;
	color: #ffffff;
}

ul.leader-ul li:hover a {
	transition: 0.5s all ease-in;
	color: #fff !important;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}

.header-section ul.leader-ul li .active {
	transition: 0.5s all ease-in;
	color: #fff;
	border-bottom: 1px solid #FFA829;
	padding-bottom: 8px;
}

.header-section ul.leader-ul li a {
	text-decoration: none;
	color: #5788D2;
	font-weight: 400;
}

a.affiliate-link-btn {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	color: #ffffff;
	font-weight: 600;
	transition: all .3s ease;
	background: #FFA829;
	border-radius: 30px;
}

a.affiliate-link-btn:hover {
	transition: all .3s ease;
	background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
	background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
	background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}

.preheadline {
	display: inline-block;
	padding: 15px;
	background: #04173E;
	backdrop-filter: blur(200px);
	/* Note: backdrop-filter has minimal browser support */
	border-radius: 0px 0px 20px 20px;
}

@media(min-width:768px) {
	.header-section {
		padding: 40px 0px 100px 0px;
	}

	a.affiliate-link-btn {
		padding: 15px 25px;
		font-size: 18px;
	}

	.preheadline {
		padding: 30px 24px;
		display: inline-flex;
	}

	.yellow-bg {
		border-radius: 50px;
		padding: 5px 20px;
	}

	.header-wrap {
		padding: 0px 100px 100px 100px;
		width: calc(100% + 200px);
		margin-left: -100px;
		border-radius: 50px;
	}

	ul.leader-ul li {
		padding: 0px 15px;
	}
}

/* Header End */

/* List-section */
.list-section {
	padding: 0px 0px 30px 0px;
	background: url(../images/list-section-bg.webp) no-repeat center center;
	background-size: cover;
}

.bonus-list li {
	background: url(../images/list-check.webp) no-repeat;
	background-position: 10px 32px;
	padding: 15px 15px 15px 64px;
	margin-top: 30px;
	list-style-type: none;
	min-height: 100px;
	box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
	background-color: #fff;
	display: flex;
	align-items: center;
}

@media(min-width:768px) {
	.list-section {
		padding: 90px 0px 100px 0px;
	}
}

/* List section End */


/* Form Section */
.formbg {
	position: relative;
	padding: 15px;
	border-radius: 15px;
	background: #062D69;
}

.form-control.input-field {
	height: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	box-shadow: none !important;
	color: #000000;
	padding: 6px 15px;
	border-width: 1px;
	border-color: #ffffff;
	border-style: solid;
	border-radius: 0px;
	background-color: rgb(255, 255, 255);
}

.form-btn input[type="submit"] {
	border-radius: 64px;
	text-decoration: none;
	border: none;
	color: #ffffff;
	text-align: center;
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 12px 10px;
	line-height: normal;
	font-weight: 600;
	outline: none;
	max-width: 510px;
	white-space: normal;
	cursor: pointer;
	background: #FFA829;
	position: relative;
}

.form-btn input[type="submit"]:hover {
	background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
	background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
	background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}

.form-btn input[type="submit"]::after {
	content: '';
	background: url(../images/btn-arrow.webp);
	position: absolute;
	top: 0px;
	right: 0px;
}

.affiliate-btn a {
	border-radius: 64px;
	background: #E76D24;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	display: block;
	width: 100%;
	padding: 15px;
	line-height: 30px;
	font-weight: 600;
	outline: none;
	text-transform: capitalize;
	max-width: 510px;
	animation-name: hang-sink, hang;
	animation-duration: .3s, 1s;
	animation-delay: 0s, .3s;
	animation-timing-function: ease-out, ease-in-out;
	animation-iteration-count: 1, infinite;
	animation-fill-mode: forwards;
	animation-direction: normal, alternate;
}

.affiliate-btn a:hover {
	background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
	background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
	background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}

@keyframes hang-sink {
	100% {
		transform: translateY(8px)
	}
}

@keyframes hang {
	0% {
		transform: translateY(8px)
	}

	50% {
		transform: translateY(4px)
	}

	100% {
		transform: translateY(8px)
	}
}

.white-form-box {
	background: #FFFFFF;
	border-radius: 10px;
	padding: 10px;
}

@media (min-width: 768px) {
	.formbg {
		padding: 60px 30px 60px 30px;
		background: url(../images/form-bg.webp) no-repeat center center;
		background-size: 100% 100%;
	}

	.form-control.input-field {
		font-size: 16px;
		margin-top: 5px;
	}

	.form-control.input-field::placeholder {
		color: #000000;
	}

	.affiliate-btn a {
		padding: 25px 20px;
		max-width: 510px;
	}

	.white-form-box {
		border-radius: 40px;
		padding: 10px 10px 5px 10px;
	}
}

/* Form Section End*/

/* Exciting-Section-Start */

.exciting-launch {
	padding: 30px 0px;
	background: url(../images/exciting-launch.webp) no-repeat center center;
	background-size: cover;
}

.exciting-inner-sec {
	background: url(../images/exiciting-inner-bg.webp) no-repeat center center;
	background-size: cover;
	border-radius: 15px;
	padding: 30px 15px;
}

.exciting-launch-left {
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
	backdrop-filter: blur(7.5px);
	padding: 15px;
	border-radius: 15px;
}

.exciting-launch-right {
	background: #062D69;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
	border-radius: 15px;
	padding: 15px;
}

.exciting-right-head {
	background: #000000;
	border-radius: 15px;
	padding: 10px 15px;
}

.exciting-list li {
	background: url(../images/check.webp) no-repeat;
	background-position: 0 2px;
	padding-left: 43px;
	margin-bottom: 20px;
	list-style-type: none;
	min-height: 26px;
}

.exciting-list li:last-child {
	margin-bottom: 0px;
}

@media (min-width: 768px) {
	.exciting-inner-sec {
		padding: 100px;
		border-radius: 50px;
		width: calc(100% + 200px);
		margin-left: -100px;
	}

	.exciting-launch {
		padding: 0px;
	}

	.exciting-launch-left {
		padding: 30px 25px;
		border-radius: 40px;
	}

	.exciting-launch-right {
		padding: 30px 25px;
		border-radius: 40px;
	}

	.exciting-right-head {
		margin-top: -50px;
		padding: 10px 30px;
		border-radius: 30px;
	}

	.gx-8 {
		--bs-gutter-x: 6rem;
	}
}

/* Exciting-Section-End */

.hello-awesome {
	padding: 60px 0px 30px 0px;
	background: url(../images/hello-awesome-bg.webp) center center no-repeat;
	background-size: cover;
}

.hello-headling {
	background-color: #FFA829;
	padding: 10px 15px;
	display: inline-block;
	position: relative;
	border-radius: 150px;
	margin-top: -30px;
}

.hello-headling::before {
	content: '';
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #FFA829;
	position: absolute;
	bottom: -10px;
	left: calc(50% - 10px);
	margin: 0 auto;
}

.awesome-feature-shape {
	padding: 5px 15px 200px 15px;
	display: inline-block;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	position: relative;
}

.awesome-shape {
	padding: 15px;
	display: inline-block;
	background: #E5F4FC;
	border-radius: 30px;
	position: relative;
	width: calc(100% - 30px);
	margin-top: -186px;
}

ul.awesome-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.awesome-list li:first-child {
	margin-top: 0px;
}

.awesome-list li {
	background: url(../images/check.webp) no-repeat;
	background-position: 0 5px;
	padding-left: 50px;
	margin-top: 10px;
	list-style-type: none;
	min-height: 35px;
}

@media (min-width: 768px) {
	.awesome-list li {
		margin-top: 20px;
		background-position: 0px 5px;
	}

	.hello-awesome {
		padding: 100px 0px;
	}

	.hello-headling {
		padding: 10px 30px;
		margin-top: -41.5px;
	}

	.awesome-feature-shape {
		padding: 0px 30px 132px 30px;
	}

	.awesome-shape {
		padding: 30px;
		width: calc(100% - 60px);
		margin-top: -102px;
	}
}

.intro-bg {
	display: inline-block;
	padding: 5px 30px 5px 30px;
	position: relative;
	z-index: 1;
	background: #04173E;
	border-radius: 60px;
	align-items: center;
	font-family: 'Caveat', cursive;
	margin-top: -56px;
}

.proudly-sec {
	background: url(../images/proudly-bg.webp) center center no-repeat;
	background-size: cover;
	padding: 60px 0px 30px 0px;
}

.proudly-inner-sec {
	padding: 30px 15px;
	background: rgba(11, 28, 55, 0.4);
	backdrop-filter: blur(5px);
	border-radius: 15px;
}

@media (min-width: 768px) {
	.proudly-sec {
		padding: 150px 0px 100px 0px;
	}

	.proudly-inner-sec {
		padding: 100px;
		width: calc(100% + 200px);
		margin-left: -100px;
		border-radius: 50px;
	}

	.intro-bg {
		padding: 10px 90px 10px 90px;
		margin-top: -150px;
	}

	.features-list {
		background: url(../images/points-bg.webp) center center no-repeat;
		display: inline-block;
		padding: 30px 15px;
		background-size: cover;
		position: relative;
		z-index: 1;
	}
}

/* Arrow & Img Move Animation */
img.vert-move {
	-webkit-animation: mover 3s infinite alternate;
	animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-15px);
	}
}

.img-animation {
	animation: 2s ease-in-out 0s infinite alternate none running mover2;
}

@-webkit-keyframes mover2 {
	0% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes mover2 {
	0% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}


.logos-effect img {
	transition: all 0.5s;
}

.logos-effect img:hover {
	transform: scale(1.1);
	transition: all 0.5s;
}

.feature-list {
	background: url(../images/feature-list-bg.webp) no-repeat center center;
	background-size: cover;
	padding: 30px 0px;
}

.feature-list-box {
	padding: 15px 40px;
	text-align: center;
	border-radius: 6px;
	background-color: rgb(255, 255, 255);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.feature-list-box:hover {
	background: #FFFFFF;
	box-shadow: 0px 0px 12px 2px rgba(6, 45, 105, 0.1);
	border-radius: 15px;
}

.feature-list-box .description {
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
	margin-top: 20px;
}

.more {
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
	margin-top: 20px;
	background: #F4F6FD;
	padding: 15px;
}

.gap30 {
	--bs-gutter-y: 30px;
}

@media(min-width:768px) {
	.feature-list {
		padding: 100px 0px;
	}

	.gap30 {
		--bs-gutter-x: 50px;
		--bs-gutter-y: 50px;
	}

	.feature-list-box {
		height: 100%;
		padding: 15px 10px;
	}

	.feature-list-box .description {
		font-size: 24px;
		font-weight: 600;
		line-height: 34px;
	}

	.more {
		font-size: 24px;
		font-weight: 600;
		padding: 20px;
		line-height: 34px;
	}
}

.feature-sec {
	background: #F4F6FD;
	padding: 30px 0px;
}

blockquote {
	position: relative;
	z-index: 9;
	padding: 0px;
	margin: 0px;
}

blockquote::after {
	display: block;
	content: attr(cite);
	color: #ffffff;
	z-index: 0;
	position: absolute;
	left: 20px;
	top: -38px;
	font-weight: 700;
	font-size: 60px;
}

.zindex9 {
	position: relative;
	z-index: 9;
}

@media(min-width:768px) {
	.feature-sec {
		padding: 100px 0px;
	}

	blockquote::after {
		display: block;
		content: attr(cite);
		color: #ffffff;
		z-index: 0;
		position: absolute;
		left: 20px;
		top: -70px;
		font-weight: 700;
		font-size: 100px;
	}
}


.demo-sec {
	padding: 0px 0px 30px 0px;
}

.demo-inner-sec {
	background: #0B1C37;
	backdrop-filter: blur(5px);
	border-radius: 15px;
	padding: 15px 15px 90px 15px;
}

.demo-white-sec {
	background: #FFFFFF;
	backdrop-filter: blur(5px);
	border-radius: 15px;
}

.watch-text {
	position: relative;
}

.watch-text::before {
	position: absolute;
	top: -5px;
	left: 0px;
	height: 2px;
	width: 100px;
	background-color: #FFA829;
	content: '';
}


@media(min-width:768px) {
	.demo-sec {
		padding: 0px 0px 0px 0px;
	}

	.demo-inner-sec {
		border-radius: 50px;
		padding: 100px 100px 150px 100px;
		width: calc(100% + 200px);
		margin-left: -100px;
	}

	.demo-white-sec {
		border-radius: 50px;
	}
}

.test-derive {
	background: #FFFFFF;
	backdrop-filter: blur(5px);
	border-radius: 15px;
	padding: 15px;
	margin-top: -90px;
}

.analyzer-sec{background: url(../images/demo-bg.webp) no-repeat center center;
	background-size: cover;}

.analyzer-sec #oppyo-ada-compliance-checker {
	background: #165FCF url(../images/web-form-bg.webp) no-repeat center center !important;
	background-size: cover !important;
	padding: 30px 30px !important;
}

.analyzer-sec #oppyo_website_url {
	height: 50px !important;
	font-weight: 500 !important;
	font-size: 20px !important;
	border-radius: 100px !important;
}

.analyzer-sec #oppyo_checker_btn {
	background-color: #FFA829 !important;
	font-weight: 600 !important;
	font-size: 20px !important;
	border-radius: 100px !important;
}

@media(min-width:768px) {
	.test-derive {
		border-radius: 50px;
		padding: 60px 60px 100px 60px;
	}

	.analyzer-sec #oppyo-ada-compliance-checker {
		padding: 30px 110px !important;
		border-radius: 12px;
		text-align: center;
		max-width: initial !important;
		width: 100%;
		margin: 0 auto;
	}
}


.prize-value {
	padding: 30px 0;
	background: #062D69 url(../images/prize-value.webp) no-repeat center center;
	background-size: cover;
	backdrop-filter: blur(5px);
}

@media (min-width: 768px) {
	.prize-value {

		padding: 80px 0px;
	}

	.f-md-72 {
		font-size: 72px;
	}
}


.contest-section {
	padding: 30px 0;
	background: #ffffff;
}

@media (min-width: 768px) {
	.contest-section {
		padding: 80px 0px;
	}
}


.prize-section {
	background: #ffffff;
	padding: 30px 0px;
}

.prize-shape {
	background: -moz-linear-gradient(0deg, rgb(255, 147, 21) 0%, rgb(255, 79, 23) 100%);
	background: -webkit-linear-gradient(0deg, rgb(255, 147, 21) 0%, rgb(255, 79, 23) 100%);
	background: -ms-linear-gradient(0deg, rgb(255, 147, 21) 0%, rgb(255, 79, 23) 100%);
	padding: 10px 25px;
	display: inline-block;
	color: #fff;
	border-radius: 25px;
	position: relative;
}

.prize-inner-sec {
	background: url(../images/prize-bg.webp) no-repeat center center;
	background-size: cover;
	border-radius: 15px;
	padding: 30px 15px;
}

.prize-launch-left {
    backdrop-filter: blur(7.5px);
    padding: 15px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
}

.prize-launch-right {
    padding: 15px;
    background: #062D69;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}

.prize-right-head {
	background: #000000;
	border-radius: 15px;
	padding: 10px 15px;
}
.prize-right-left {
	background: #000000;
	border-radius: 15px;
	padding: 10px 15px;
}
.note{
    background: linear-gradient(0deg, #FFDD66, #FFDD66);
    border-radius: 20px;
    padding: 10px 30px;
    display: inline-block;
}

@media (min-width: 768px) {
	.prize-inner-sec {
		padding: 100px;
		border-radius: 50px;
		width: calc(100% + 200px);
		margin-left: -100px;
	}

	.prize-launch {
		padding: 0px;
	}

	.prize-launch-left {
		padding: 30px 25px;
		border-radius: 40px;
	}

	.prize-launch-right {
		padding: 30px 25px;
		border-radius: 40px;
	}

	.prize-right-head {
		margin-top: -50px;
		padding: 15px 30px;
		border-radius: 100px;
	}
    .prize-right-left {
		margin-top: -50px;
		padding:0px 30px;
		border-radius: 100px;
	}

	.gx-8 {
		--bs-gutter-x: 6rem;
	}
    .prize-section {
		padding: 0px 0px;
        background: url(../images/prize-section-bg.webp) no-repeat center center;
        background-size: cover;
	}
    .note{
        padding: 10px 100px;
        display: inline-block;
    }
}



.deep-funnel {
	background: url(../images/deep-funnel-bg.webp) no-repeat center center;
	background-size: cover;
	padding:0px 0px 30px 0px;
}

@media(min-width:768px) {

	.deep-funnel {
		padding: 0px 0px 100px 0px;
	}
}

.reciprocate-sec {
	background: #ffffff;
	padding: 30px 0px;
}

@media(min-width:768px) {
	.reciprocate-sec {
		background: #ffffff url(../images/solid-track-bg.webp) no-repeat center center;
		background-size: cover;
		padding: 100px 0px;
	}
}

.contact-section {
	background: #ffffff url(../images/contact-section.webp) no-repeat center center;
	background-size: cover;
}

.contact-block {
	padding: 20px;
	position: relative;
	background: linear-gradient(102.18deg, #0A1347 7.04%, #0D2183 108.72%);
	border-radius: 30px;
}

.contact-shape {
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	padding: 30px;
}

@media (min-width: 768px) {

	.contact-block {
		padding: 80px;
		background: url(../images/contact-block.webp) no-repeat center center;
		background-size: 100% 100%;
	}

	.contact-shape {
		padding: 25px 0px;
	}
}

.terms-section {
	padding: 30px 0px;
	background: #ffffff;
}

ul.terms-list {
	padding-left: 20px;
}

.terms-list li {
	padding: 0 0 20px 15px;
}

@media (min-width: 768px) {
	.terms-section {
		padding: 80px 0px;
	}
}

.footer-section {
	background: #020d13;
	padding: 30px 0px;
}

.footer-ul {
	padding: 0px;
	margin: 0px;
}

.footer-ul li {
	display: inline;
}

.footer-ul li a,
.footer-ul li a:hover {
	color: #ffffff;
}

@media (min-width: 768px) {
	.footer-section {
		padding: 50px 0px
	}
}