html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}
.rubik{
    font-family: 'Rubik', sans-serif;
}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #14142A;
}

.orange-clr {
	color: #ffcc00;
}

.red-clr{
	color: #FF3838;
}
.blue-clr{
    color:#155c9c;
}
.underline{border-bottom: 2px solid;}
.orange-gradient{
	background: linear-gradient(180deg, #EF9823 0%, #F0592D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

span.under {
    border-bottom: 4px solid;
}
.under{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #462DBC, #8D2DBC, #CF33D5);
    border-image-slice: 1;
}

/* Header Section CSS */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 100px 0px;
	position: relative;
}
.main-heading {
    background: transparent;
    background-size: cover;
    padding: 20px;
    position: relative;
}
  .preheadline{
	display: inline-block;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 35px;
    position: relative;
  }
  .postheadline {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
}
.gametext {
    background: #fdbe39;
    padding: 10px 30px;
    border-radius: 15px 15px 0px 0px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #000000;
    font-weight: 700;
    font-size: 22px;
}
@media(min-width:768px) {
	.header-section {
		padding: 40px 0px 200px 0px;
	}
	.gameimg {
        position: absolute;
        top: -61px;
        z-index: 9999;
        left: -8px;
    }
	.main-heading {
    background: url(../images/heading-design.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 35px 45px 35px 44px;
}
.preheadline::before {
    content: '';
    background: url(../images/left-arrow.webp) no-repeat;
    width: 49px;
    height: 65px;
    position: absolute;
    left: -35px;
    bottom: -35px;
    z-index: 1;
}
.preheadline::after {
    content: '';
    background: url(../images/right-arrow.webp) no-repeat;
    width: 49px;
    height: 65px;
    position: absolute;
    right: -35px;
    bottom: -35px;
    z-index: 1;
}
.postheadline {
    padding: 10px 35px;
}
}

/* Header Section Css Start */

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.affiliate-link-btn a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(180deg, #F05F2C 0%, #EF9224 100%);
    border-radius: 15px;
    transition: 0.5s;
    -webkit-box-shadow: 3px 10px 41px -14px rgb(0 0 0 / 69%);
    -moz-box-shadow: 3px 10px 41px -14px rgba(0,0,0,0.69);
    box-shadow: 3px 10px 41px -14px rgb(0 0 0 / 69%);
}

.calendar-wrap {
    position: relative;
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
}

@media (min-width:768px) {

    .header-section ul.leader-ul {
        margin-top: 0px;
    }
    .affiliate-link-btn a {
        padding: 15px 25px;
        font-size: 18px;
    }
    .affiliate-link-btn a:hover {
        background: linear-gradient(180deg, #EF9224 0%, #F05F2C 100%);
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
}

/* Header Section Css End */

.second-section {
    padding: 30px 0px;
}

ul.features-list {
    margin: 0px;
    padding: 0px;
}

ul.features-list li {
    background: url(../images/s-orange-tick.webp) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.formbg {
    position: relative;
    padding: 15px;
    border-radius: 15px;
    background: #252525;
}

.width-form {
    width: 100%;
    float: left;
    padding: 0px 0px;
}

.register-btn1 input[type="submit"] {
    transition: all .3s ease;
    border-radius: 15px;
    background: linear-gradient(180deg, #F05F2C 0%, #EF9224 100%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 21px;
    color: #ffffff !important;
    font-weight: 700;
    width: 100%;
    border: none;
    height: 60px;
    outline: none;
    white-space: normal;
}

.register-btn1 input[type="submit"]:hover {
    transition: all .3s ease;
    background: linear-gradient(180deg, #EF9224 0%, #F05F2C 100%);
}
.video-box {
    position: relative;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
@media (min-width:768px) {
    .second-section {
        padding: 100px 0px;
    }
    .formbg {
        padding: 40px 30px 60px 30px;
        background: url(../images/form-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .width-form {
        width: 33%;
        padding: 0px 5px !important;
    }
}

/* Footer Section Start */

.footer-section {
    background: #080E20;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

/* Footer Section End */

