html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #031528;
    font-size: 14px;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #fc8548;
  border-radius: 25px;
}
/* Color CSS */

.white-clr,
a.white-clr {
    color: #ffffff;
}
.yellow-clr {
    background: linear-gradient(105.18deg, rgba(255, 99, 67, 1) -5.51%, rgba(241, 155, 16, 1) 107.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.blue-clr {
    color: #240f75;
}


/* Header CSS */

.header-section {
    background: url(../images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0px;
}

.affiliate-link-btn a {
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
    transition: all .3s ease;
    background-image: -moz-linear-gradient(105.18deg, #FDC12A -5.51%, #F15241 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #FDC12A -5.51%, #F15241 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #FDC12A -5.51%, #F15241 107.29%);
}

.affiliate-link-btn a:hover {
    border-radius: 8px;
    background-image: -moz-linear-gradient(105.18deg, #F15241 -5.51%, #FDC12A 107.29%);
    background-image: -webkit-linear-gradient(105.18deg, #F15241 -5.51%, #FDC12A 107.29%);
    background-image: -ms-linear-gradient(105.18deg, #F15241 -5.51%,  #FDC12A 107.29%);
    color: #ffffff;
}

span.under {
    border-bottom: 4px solid;
}

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 400;
}

/* Ribbion CSS */

:root {
    --mainColor: #2f6574;
    --secColor: #f94b02;
}

/* Responsive Video CSS */

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgba(208, 219, 227, 0.58);
    border-radius: 5px;
}

.responsive-video iframe,
.responsive-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Black Timer css */

.white-section {
    background: #ffffff;
    padding: 5% 0;
}
.ground-breaking {
    padding: 30px 0px;
    background: #ffffff;
}

.launch-start-bg {
    padding: 30px 15px;
    background-color: #241f43ad;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.launch-shape {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 65px;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: -22px;
}

.gap20 {
    gap: 20px;
}

.start-bg {
    background: url(../images/launch-arrow.png) no-repeat;
    background-size: cover;
    padding: 10px 30px 8px 30px;
    width: 237px;
}

.pre-heading {
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 2px solid rgba(21, 198, 252, 1);
}
.post-heading {
    background: #FFCD00;
    text-align: center;
    padding: 10px;
}

.proudly-sec {
    background: linear-gradient(105.18deg, rgba(255, 99, 67, 1) -5.51%, rgba(241, 155, 16, 1) 107.29%);
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
}

.why-should {
    border-radius: 10px;
    background-color: #ffcc00;
    display: inline-block;
    padding: 15px;
    margin-top: -60px;
}
.space-section{
    background-color: rgba(239, 239, 249, 1);
    padding: 30px 0px;
}
@media (min-width: 768px) {
    .pre-heading {
        padding: 15px 40px;
    }
    .post-heading {
        padding: 15px 60px;
        background: url(../images/yellow-brush.png) no-repeat center center;
    }
    .skew-con {
        transform: skew(10deg);
    }
    .launch-start-bg {
        padding: 15px 0px;
    }
    .why-should {
        margin-top: -50px;
        padding: 29px 40px 49px 40px;
        background: url(../images/here-why-should-not-promote.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .proudly-sec {
        padding: 15px 30px 15px 30px;
    }
    .skew-con {
        transform: skew(10deg);
    }
    .ground-breaking {
        padding: 100px 0px;
        background: #ffffff url(../images/bluebg1.png) no-repeat center center;
        background-size: cover;
    }
    .header-section {
        background-size: cover;
        padding: 40px 0px 100px 0px;
    }
    .space-section{
        padding: 100px 0px;
    }
}
@media only screen and (max-width: 767px) {
    .header-section ul.leader-ul li {
        padding: 0 2px;
    }
    .header-section ul.leader-ul {
        margin-top: 10px;
    }
}
/*************LIVE Section**************/

.live-section {
    background: #ffffff;
    padding: 30px 0px;
}

a.affiliate-btn {
    border-radius: 65px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 15px;
    line-height: 30px;
    font-weight: 600;
    outline: none;
    background-image: -moz-linear-gradient( 64deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
    background-image: -webkit-linear-gradient( 64deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
    background-image: -ms-linear-gradient( 64deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
}

a.affiliate-btn:hover {
    background-image: -moz-linear-gradient( 180deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
    background-image: -webkit-linear-gradient( 180deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
    background-image: -ms-linear-gradient( 180deg, rgb(110, 15, 21) 0%, rgb(151, 41, 48) 99%);
}

@media (min-width: 768px) {
    .live-section {
        padding: 100px 0px;
    }
    a.affiliate-btn {
        padding: 23px 50px;
    }
}

/***************Promo Section************/

.promo-section {
    padding: 0px 0 30px 0px;
    background: #fff;
}

a.promo-link {
    border: solid 1px #FF813A;
    background: transparent;
    max-width: 100%;
    padding: 7.5px 30px;
    border-radius: 65px;
    color: #000000;
    display: block;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
}

a.promo-link:hover {
    border: solid 1px #FF813A;
    background: #FF813A;
    color: #fff;
}

@media (min-width: 768px) {
    .promo-section {
        padding: 0px 0px 50px 0px;
    }
}

.promo-inner-sec {
    padding: 20px;
    border-radius: 15px;
    background-color: #EFEFF9;
}

.feature-border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    border-bottom: 1px solid rgb(182, 179, 188);
}

.feature-border:last-child {
    border: 0;
}

.feature-section {
    padding: 0px 0px 30px 0px;
}

@media(min-width:768px) {
    .promo-inner-sec {
        padding: 40px;
    }
    .feature-section {
        padding: 0px 0px 100px 0px;
    }
    .feature-border {
        padding: 20px 10px;
        border-right: 1px solid rgb(182, 179, 188);
        border-bottom: 0;
    }
}

.popup-btn a,
.popup-btn input[type="submit"] {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 19px 20px;
    line-height: normal;
    font-weight: 700;
    outline: none;
    border-radius: 8px;
    background:#ff9023;
    border: none;
}

.affiliate-btn a {
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 19px 20px;
    line-height: normal;
    font-weight: 700;
    outline: none;
    border-width: 1px;
    border-color: rgb(220, 220, 220);
    border-style: solid;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(93, 0, 6);
}

.affiliate-btn a:hover {
    background: #801219;
    text-decoration: none;
}

@media (min-width: 768px) {
    .affiliate-link-btn a {
        font-size: 22px;
        padding: 15px 20px;
        display: inline-block;
        width: auto;
    }
}
.features-list-bg {
    background: #ffffff url(../images/features-list-bg.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    width: 100%;
    padding: 50px 30px;
    height: 100%;
}

@media (min-width:768px) {
    .features-list-bg {
        padding: 50px 30px;
        min-height: 254px;
    }
}

/****/

.proudly-tick li {
    background: url(../images/tick.webp) no-repeat;
    background-position: 0 4px;
    list-style: none;
    padding: 0px 0px 30px 40px;
}

.proudly-tick li:last-child {
    padding-bottom: 20px;
}

@media (min-width: 1400px) {
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.row-padding .col {
    padding-left: 25px !important;
    padding-right: 25px !important;
}


