html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	color: #252525;
	font-size: 14px;
	overflow-x: hidden;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}


.min-md-video-width-left img{border: 2px solid #fff; border-radius: 15px;}

/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #252525;
}

.blue-clr {
	color: #2447a2;
}

.orange-clr {
	color: #F2A736;
}

.orange-clr1{
	color: #E76D24;
}

/* Header Section CSS */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px;
	background-attachment: fixed;
	animation: shrink 5s infinite alternate;
	position: relative;
}
@keyframes shrink {
	0% {
	  background-size: 110% 110%;
	}
	100% {
	  background-size: 100% 100%;
	}
}

.ele1{
	position: absolute;
	bottom: -75px;
    left: -20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}	

.ele2{
	position: absolute;
	top: 400px;
    right: 20px;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}

@-webkit-keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}
@keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(8px); }
}

@media(min-width:768px) {
	.header-section {
		padding: 40px 0px 100px 0px;
	}
}

/* Header Section Css Start */

.header-section ul.leader-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-section ul.leader-ul li {
    display: inline-block;
    padding: 0px 5px;
}

.affiliate-link-btn a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s ease;
    background: #F2A737;
    border-radius: 15px;
}

.calendar-wrap {
    position: relative;
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
}

@media (min-width:768px) {

    .header-section ul.leader-ul {
        margin-top: 0px;
    }
    .affiliate-link-btn a {
        padding: 15px 25px;
        font-size: 18px;
    }
    .affiliate-link-btn a:hover {
        transition: all .3s ease;
        background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
        background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
        background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    }
    .min-md-video-width-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .min-md-video-width-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
}

/* Header Section Css End */

.second-section {
    background: url(../images/second-section.webp) no-repeat center center;
    background-size: cover;
    padding: 30px 0px;
}

ul.features-list {
    margin: 0px;
    padding: 0px;
}

ul.features-list li {
    background: url(../images/s-orange-tick.webp) no-repeat;
    padding: 0px 0px 20px 45px;
    background-position: 0px 3px;
    list-style: none;
}

ul.features-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.formbg {
    position: relative;
    padding: 15px;
    border-radius: 15px;
    background: #252525;
}

.width-form {
    width: 100%;
    float: left;
    padding: 0px 0px;
}

.register-btn1 input[type="submit"] {
    transition: all .3s ease;
    border-radius: 15px;
    background: #F2A737;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 20px;
    font-size: 21px;
    color: #ffffff !important;
    font-weight: 700;
    width: 100%;
    border: none;
    height: 60px;
    outline: none;
    white-space: normal;
}

.register-btn1 input[type="submit"]:hover {
    transition: all .3s ease;
    background-image: -moz-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(235, 194, 0) 0%, rgb(239, 141, 0) 100%);
}

@media (min-width:768px) {
    .second-section {
        padding: 100px 0px;
    }
    .formbg {
        padding: 40px 30px 60px 30px;
        background: url(../images/form-bg.webp) no-repeat center center;
        background-size: 100% 100%;
    }
    .width-form {
        width: 33%;
        padding: 0px 5px !important;
    }
}

/* Footer Section Start */

.footer-section {
    background: #252525;
    padding: 30px 0px;
}

.footer-ul {
    padding: 0px;
    margin: 0px;
}

.footer-ul li {
    display: inline;
}

@media (min-width: 768px) {
    .footer-section {
        padding: 50px 0px;
    }
}

/* Footer Section End */

