html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #000000;
	font-size: 14px;
	overflow-x: hidden;
}
/* Color CSS */
.white-clr {
	color: #fff;
}

.black-clr {
	color: #212121;
}
.red-clr {
	color: #EF3E3A;
}
.red-clr a{
	color: #EF3E3A;
    text-decoration: none;
}
/* Header CSS */
.header-section {
	background: url(../images/header-bg.webp) no-repeat bottom center;
	background-size: cover;
	padding: 30px 0px 50px 0px;
}
.header-section-2 {
	background: #090f21 url(../images/header-bg2.webp) no-repeat top center;
    background-size: cover;
    padding: 150px 0px 50px 0px;
    margin-top: -150px;
}
  .preheadline{
	display: inline-block;
    padding: 10px 15px;
	background: #D9D9D9;
	border-radius: 50px;
  }
.video-box{
    position: relative; 
    padding: 20px; 
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(217, 217, 217, 0.03) 100%);
	backdrop-filter: blur(5px); 
    border-radius: 20px;
}
.hr{
	mix-blend-mode: overlay;
}
.probtn1 a {
    transition: all .3s ease;
    border-radius: 15px;
    background: linear-gradient(92.69deg, #EF3E3A 0%, #FF5F5B 99.78%);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 12px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
    line-height: 140%;
}

.probtn1 a:hover {
    transition: all .3s ease;
    background: linear-gradient(92.69deg, #FF5F5B  0%, #EF3E3A 99.78%);
}

@media(min-width:768px) {
    .header-section {
		padding: 80px 0px 100px 0px;
	}
	.header-section-2 {
		padding: 270px 0px 80px 0px;
		margin-top: -310px;
	}
    .gameimg {
		position: absolute;
		z-index: 9999;
		top: -6px;
		right: -50px;
	}
    .preheadline{
		padding: 10px 50px 10px 20px;
	  }
    .probtn1 a {
    font-size: 38px;
    padding: 28px 60px;
    display: inline-block;
    width: auto;
    border-radius: 100px
    }
    
}

/* Header Section End */

/* Second Setion Start */

.second-section {
    padding: 0 0 30px 0;
    background: url(../images/list-section-bg.png) no-repeat center center;
    background-size: cover;
}

.header-list-block {
    padding: 20px 0;
    margin: 0;
    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 20px 20px;
}

@media(min-width:768px) {
    .second-section {
        padding: 0 0 180px 0;
    }

    .header-list-block {
        padding: 40px 30px 80px 30px;
    }
}

/* Second Section End */

/* Presenting Section Start */
.presenting-sec{
	padding: 30px 0px;
	background: #040b24;
}
.presenting-wrap {
	padding: 0px 0px 15px 0px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	border-radius: 50px;
	border: solid 2px rgba(255, 255, 255, 0.25);
	max-width: 95%;
	margin: 20px auto 0px auto;
}
.presenting-head{
	background: #132041;
    border-radius: 40px;
    padding: 5px 30px;
    display: inline-block;
    font-family: 'Caveat';
}
.ele3{
	position: absolute;
	top: 35%;
    right: 10%;
	animation: 2s ease-in-out 0s infinite alternate none running mover1;
}
@media(min-width:768px){
	.presenting-sec{
        padding: 170px 0px 100px 0px;
        margin-top: -135px;
        background: url(../images/introducing.webp) no-repeat center center;
	    background-size: cover;
    }
	.presenting-wrap {
		padding: 0px 0px 100px 0px;
		max-width: 95%;
		border-radius: 50px;
		margin: 50px auto 0px auto;
	}
	.presenting-head{
		padding: 10px 80px;
	}

}
@media(min-width:1600px) {
	.presenting-wrap {
		max-width: 85%;
	}
}

/* Presenting Section End */

/* ThatsNotAll Section Start */

.thats-not-all-section {
    background: #fff;
    padding: 30px 0
}

.one-time-shape {
    padding: 10px;
    background: #224cb0;
    border-radius: 5px
}

@media(min-width:768px){
    .thats-not-all-section {
        padding: 100px 0 100px;
        background: url(../images/agency-upgrade-bg.webp) no-repeat center center;
        background-size: cover;
    }
    .one-time-shape {
        background: url(../images/one-time-shape.webp) no-repeat center center;
        background-size: contain;
        border: 0;
        border-radius: 0;
        padding: 22px 15px 70px
    }
}

/* ThatsNotAll Section End */

/* Amazing Section Start */

.amazing-software-section1 {
    background: url(../images/nothing-bg.webp) no-repeat top center;
    background-size: cover;
    padding: 30px 0
}

@media(min-width:768px){
    .amazing-software-section1 {
        padding: 100px 0;
    }
}

/* Amazing Section End */

/* White Section Start */

.white-section {
    background: #fff;
    padding: 30px 0
}

@media(min-width:768px){
    .white-section {
        padding: 100px 0;
    }
}

/* White Section End */

/* Grey Section Start */

.grey-section {
    background: #EAF3F8;
    padding: 30px 0
}

@media(min-width:768px) {   
    .grey-section {
        padding: 100px 0 100px
    }
}

/* Grey Setion End */

/* Moneyback Section Start */

.moneyback-section {
        background: #050d23;
    padding: 30px 0px;
}

@media(min-width:768px) {        
    .moneyback-section {
        padding: 140px 0px 170px;
        background: #f3f2fb  url(../images/moneyback-bg.webp) no-repeat center top;
        background-size: 100% 100%;
    }
}

/* Moneyback Section End */

/* Bonus Section Start */

.bonus-section {
    background: #eef4fb url(../images/bonus-bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0
}

.feature-shape {
    background: linear-gradient(92.69deg, #FF5F5B 0%, #dc423f 99.78%);
    padding: 10px 25px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    position: relative;
}

@media(min-width:768px){
    .bonus-section {
        padding: 70px 0
    }
    .feature-shape:after {
        content: '';
        background: url(../images/line-shape.webp) no-repeat right bottom;
        padding: 22px 0;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -15px;
        right: -15px;
    }
}

/* Bonus Section End */

/* Table Section Start */

.table-section {
    background: #fff;
    padding: 30px 0
}

.tablebox2 {
    background: #fff;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px #a2a1a3
}

.tbbg2 {
    background: #fff;
    padding: 50px 30px 30px 30px;
    background-size: cover;
    border-radius: 10px 10px 0 0
}

.tablebox2 ul {
    padding-left: 0;
    color: #010101
}

.myfeatureslast {
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 69px;
    color: #000;
    background: #fff;
    border-radius: 0 0 10px 10px;
    border-top: 0
}

ul.grey-tick-last {
    padding: 0
}

ul.grey-tick-last li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #08041e
}

ul.grey-tick-last li:last-child {
    border-bottom: 0
}

ul.grey-tick-last li:nth-child(odd) {
    background-color: #f1f1f1;
}

ul.grey-tick-last li:nth-child(even) {
    background-color: #fff;
}

.tablebox3 {
    width: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
    position: relative;
    border: solid 1px #a2a1a3;
    background-color: #080E20;
}

.tbbg3 {
    background: #080E20;
    padding: 50px 30px 30px 30px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0 0
}

.tablebox3 ul {
    padding-left: 0;
    color: #010101
}

ul.vgreytick {
    padding: 0
}

ul.vgreytick li {
    background: url(../images/vgreytick.webp) no-repeat;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 50px;
    background-position: 15px 22px;
    color: #000
}

ul.vgreytick li:nth-child(odd) {
    background-color: #f1f1f1;
}

ul.vgreytick li:nth-child(even) {
    background-color: #fff
}

ul.vgreytick li:last-child {
    border-bottom: 0
}

.myfeatureslastborder {
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    min-height: 69px;
    background: #fff
}

.thanks-button a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #2447a2;
}

@media(min-width:768px){
    .table-section {
        padding: 100px 0;
		background:url(../images/table-bg.webp) no-repeat top center;
        background-size: cover;
    }
    .gx-6 {
        --bs-gutter-x: 4rem
    }
    .tbbg2 {
        padding:50px 30px 50px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }
    ul.vgreytick li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }
    .tbbg3 {
        padding: 50px 30px 50px 30px;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0
    }    
    ul.grey-tick-last li {
        padding: 20px 15px 20px 65px;
        background-position: 30px 27px
    }
    .myfeatureslast {
        padding: 30px
    }
}

/* Table Section End */

/* Footer Section Start */

.footer-section {
    background: #080E20;
    padding: 30px 0
}

.footer-ul {
    padding: 0;
    margin: 0
}

.footer-ul li {
    display: inline
}

@media(min-width:768px) {
    .footer-section {
        padding: 50px 0
    }
}

/* Footer Section End */
img.size{
    max-height: 100px;
}
.features-title {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	gap: 15px;
}


.mainheadline {
    background-color: #fff;
    position: relative;
    z-index: 9;
    top: -5px;
    padding: 20px 10px;
}
.gametext {
    background: #f24440;
    padding: 10px 18px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -52px;
    line-height: 30px;
    left: 146px;
    transform: skew(-10deg);
    border-radius: 5px;
}
.preheadline{
	display: inline-block;
    padding: 10px 15px;
	background: #fff;
	border-radius: 50px;
  }
@media(min-width:768px){
    .mainheadline {
        background: url(../images/top-heading-bg.webp) center center no-repeat;
        background-size: 100% 100%;
        padding: 30px 30px 40px 140px;
        left: -5px;
    }}