.countdown {
	background-color: transparent;
	color: rgb(0, 1, 28);
	font-family: "Inter";
	text-align: center;	
	display: flex;
	justify-content: space-between;
}
/* Css For Timer Display */
.timer-label{margin-right:10px;  font-weight:700; line-height:normal; width:100%; float:left;  border-radius: 5px;
    background-color:#fff; color:#252525; padding: 15px 0px; width:100%;}
.countdown .timer-label:last-child{margin-right:0px;}
.timerbg{margin-bottom: 10px !important; float: left; width: 100%;}



